<style>
	.basic-info span{
		width: 150px;
		display: inline-block;
		font-weight: bold;
	}
</style>
<div class="row">
	<div class="span5_1">
		<div class="basic-info">
			<p><span>Imei:</span><?php echo $this->result[0]['imei_sn'];?></p>
			<p><span>Product:</span><?php echo $this->result[0]['good_name'];?></p>
			<p><span>Color:</span><?php echo $this->result[0]['color_name'];?></p>
		</div>
	</div>

	<div class="span5_1">
		
	</div>
</div>

<div class="row">
	<div class="span10" style="">
		<table class="table table-responsive table-bordered">
			<thead>
				<tr>
					<th>Date</th>
					<th>Type</th>
					<th>Content</th>
				</tr>
			</thead>
			<tbody>
				<?php
					if(isset($this->result) AND $this->result):
						foreach($this->result as $item):
				 ?>
				<tr>
					<td><?php echo date('d/m/Y',strtotime($item['created_at']))?></td>
					<td><?php echo $this->types[$item['type']]?></td>
					<td>
						<?php if(isset($item['activated_date']) AND $item['activated_date']):?>
						<p><span>activated: </span>
							<?php echo date('d/m/Y',strtotime($item['activated_date']));?>
						</p>
						<?php endif;?>
						<p><span>warehouse: <?php echo $item['warehouse_name']?></span></p>

						<?php if(isset($item['store_name']) AND $item['store_name']):?>
						<p><span>Store: <?php echo $item['store_name']?></span></p>
						<?php endif;?>

						<?php if(isset($item['staff_name']) AND $item['staff_name']):?>
						<p><span>Staff check in: <?php echo $item['staff_name']?></span></p>
						<?php endif;?>

						<?php if(isset($item['time_check_in']) AND $item['time_check_in']):?>
						<p><span>Time check in: <?php echo date('d/m/Y H:i:s',strtotime($item['time_check_in']))?></span></p>
						<?php endif;?>

					</td>
				</tr>
				<?php 
					endforeach;
				endif;?>
			</tbody>
		</table>
	</div>
</div>