<link rel="stylesheet" type="text/css" href="<?php echo HOST ?>js/file-uploader/fileuploader.css"/>
<link rel="stylesheet" type="text/css" href="<?php echo HOST ?>css/bootstrap-grid.css"/>
<link rel="stylesheet" type="text/css" href="<?php echo HOST ?>css/request.css"/>
<script src="<?php echo HOST ?>js/file-uploader/fileuploader.js" type="text/javascript"></script>
<div class="page-header">
    <h1>Đề xuất thanh toán</h1>
    <div class="pull-right">
        <a href="list-request" class="btn">Quay lại</a>
    </div>
</div>
<?php
if (isset($this->messages_success) and $this->messages_success)
    foreach ($this->messages_success as $messages_success):
        echo '<div class="alert alert-success">' . $messages_success . '</div>';
    endforeach;

if (isset($this->messages_error) and $this->messages_error)
    foreach ($this->messages_error as $message):
        echo '<div class="alert alert-danger">' . $message . '</div>';
    endforeach;
?>


<body>
<div id="lightbox" class="modal fade " role="dialog">
    <img src="" id="full-size-image"/>
</div>
<!--    <h2>Vertical (basic) form</h2>-->
<div class="">
    <?php if (!empty($this->requestDetail))
        foreach ($this->requestDetail as $key => $value):
            ?>
            <form action="<?= HOST ?>request/confirm-request?id=<?= $value["id"] ?>" class="form-T" method="post"
                  enctype="multipart/form-data">
                <div class="row ">
                    <div class="span10">
                        <div class="widget">
                            <div class="widget-header">
                                <h3>
                                    Thông tin đề xuất:
                                    <?= !empty($value['id']) ? "#" . $value['id'] : ""; ?>
                                </h3>
                                <!-- <h10 class="button-right">Lần cập nhật
                                    cuối: <?= !empty($value['updated_at']) ? $value['updated_at'] : $value['created_at']; ?></h10> -->
                            </div>
                            <div class="widget-content">
                               
                                <div class="span9">
                                    <div class="span4">

                                            <?php if ($this->requestApprove): ?>
                                               
                                               <?php foreach ($this->requestApprove as $key_approve => $value_approve):
                                                    ?>
                                                    <div class="form-group">
                                                        <h4 for=""><?= $this->staff[$value_approve["staff_id"]]."- đã duyệt" ?></h4>
                                                        <p><?= $value_approve["created_at"] ?></p>
                                                        <!--  -->
                                                    </div>
                                                    <br>
                                                <?php endforeach;endif; ?>

                                            </div>
                                </div>
                                    <div class="span3">
                                    <div class="form-group">
                                        <h5>Ngày đề xuất:</h5>
                                        <input type="" class=" date form-control"
                                               value="<?php if (!empty($value["date_offer"])) echo $value["date_offer"]; ?>"
                                               disabled="disabled"
                                               placeholder=""
                                               name="date_offer">
                                    </div>
                                    <div id="">
                                        <div class="form-group">
                                            <h5 for="">Nội dung:</h5>
                                            <textarea  name="content"
                                                      value="<?php if (!empty($value["content"])) echo $value["content"]; ?>"
                                                      required
                                                      disabled="disabled"><?php if (!empty($value["content"])) echo $value["content"]; ?></textarea>
                                        </div>
                                </div>
                                </div>
                                <div class="span3">
                                    <div class="form-group">
                                        <h5>Công ty:</h5>
                                        <select class="full-input " name="company" id="" disabled="disabled">
                                            <option value="<?= $value["name_company"] ?>"><?= $value["name_company"] ?></option>
                                        </select>
                                    </div>
                                </div>
                                <div class="span3">
                                    <div class="form-group info ">
                                        <b>
                                            Hạng mục:
                                        </b>
                                        <br>
                                        <select class="full-input " name="name_category" id="check-category"
                                                disabled="disabled">
                                            <option value="<?= $value["name_category"] ?>"><?= $value["name_category"] ?></option>
                                        </select>
                                    </div>
                                </div>
                                <div class="span3">
                                    <div class="form-group info ">
                                        <b>
                                            Loại:
                                        </b>
                                        <br>
                                        <select class="full-input " name="type" id=""
                                                disabled="disabled">
                                            <option value="<?= $value["type"] ?>"> <?php
                                                        switch ( $value["type"]) {
                                                            case 1:
                                                                echo "KA";
                                                                break;
                                                            case 2:
                                                                echo "Other";
                                                                break;
                                                        } 
                                                        ?> </option>
                                        </select>
                                    </div>
                                </div>
                                <div class="">
                                <div class="span3">
                                    <div class="form-group">
                                        <h5 for="">Kênh:</h5>
                                        <select class="full-input " name="channel" id="channel"
                                                disabled="disabled">
                                            <option value="">-- Chọn kênh --</option>
                                            <?php foreach ($this->channel as $k => $v) : ?>
                                                <option value="<?= $v['channel'] ?>" <?= $v['channel'] == $value["channel_id"] ? "selected" : ""; ?>><?= $v['name']; ?></option>
                                            <?php endforeach; ?>
                                        </select>
                                    </div>
                                </div>
                                </div>
                                
                            </div>
                        </div>
                    </div>
                    <div class="span10">
                        <div class="widget">
                            <div class="widget-header">
                                <h3>
                                    Thông tin thanh toán:
                                </h3>
                            </div>
                            <div class="widget-content">

                                <div class="span3">
                                    <div class="form-group">
                                        <h5 for="">Nhân viên đề xuất:</h5>
                                        <input type="" class="form-control" id="" placeholder="" name="staff_order"
                                               value="<?php if (!empty($value["created_by"])) echo $this->staff[$value["created_by"]]; ?>"
                                               disabled="disabled">
                                    </div>
                                    <div class="form-group">
                                        <h5 for="">Ghi chú:</h5>
                                        <textarea style="height: 80px;" name="note"
                                                  value="<?php if (!empty($value["note"])) echo $value["note"]; ?>"
                                                  disabled="disabled"><?php if (!empty($value["note"])) echo $value["note"]; ?></textarea>
                                    </div>
                                </div>
                                <div class="my-span11">
                                    <div class="span3">
                                        <div class="form-group">
                                            <h5 for="">Số tiền tạm tính:</h5>
                                            <input type="text" class="form-control" id="cost_temp" placeholder=""
                                                   name="cost_temp"
                                                   class="check_money"
                                                   value="<?php if (!empty($value["cost_temp"])) echo number_format($value["cost_temp"]); ?>"
                                                   disabled="disabled">
                                        </div>
                                    </div>
                                    <div class="span3">
                                        <div class="form-group">
                                            <h5 for="">Chi phí tăng/giảm:</h5>
                                            <input type="text" class="form-control" id="cost_change" placeholder=""
                                                   name="cost_change"
                                                   value="<?php if (!empty($this->cost_real_sum)) echo number_format($this->cost_real_sum-$value["cost_temp"]); ?>"
                                                   disabled="disabled">
                                        </div>
                                    </div>
                                    <div class="span3">
                                        <div class="form-group">
                                            <h5 for="">Số thực chi:</h5>
                                            <input type="text" class="form-control" id="cost_execute" placeholder=""
                                                   name="cost_execute"
                                                   value="<?php if (!empty($this->cost_real_sum)) echo number_format($this->cost_real_sum); ?>"
                                                   disabled="disabled">
                                        </div>
                                    </div>
                                </div>
                                <div class="span3">

                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="span10">
                        <div class="widget">
                            <div class="widget-header">
                                <h3>
                                    Thanh toán:
                                </h3>
                            </div>
                            <div class="widget-content payment_form">
                                <?php if (empty($this->requestPayment[0]) AND $this->IS_ACCOUNTANT): ?>
                                    <div class="span3">
                                        <div class="form-group">
                                            <h5>Số chứng từ:</h5>
                                            <input
                                                    name="invoice_number"
                                                    type="text" class="form-control"
                                                    value="" required
                                            >
                                        </div>
                                    </div>
                                    <div class="span3">
                                        <div class="form-group">
                                            <h5 for="">Ngày chứng từ:</h5>
                                            <input name="invoice_date"
                                                   type="" class="date form-control"
                                                   value=""
                                            >
                                        </div>
                                    </div>
                                    <div class="my-span11">
                                        <div class="span3 div-payment-date">
                                            <div class="form-group">
                                                <h5 for="">Ngày thanh toán:</h5>
                                                <input
                                                        name="payment_date[0]"
                                                        type="" class="date form-control"
                                                        value=""
                                                >
                                            </div>
                                        </div>
                                        <div class="span3 div-payment">
                                            <div class="form-group">
                                                <h5 for="">Số tiền thanh toán:</h5>
                                                <input required
                                                        name="payment_cost[0]"
                                                        class="number form-control"
                                                        value=""
                                                >
                                            </div>
                                        </div>
                                    </div>
                                <?php endif; ?>
                                <!--                                --><?php //if ($this->userStorage->id == 17):
                                ?>
                                <?php if (!empty($this->requestPayment)): ?>
                                    <?php foreach ($this->requestPayment as $key_payment => $value_payment): ?>
                                        <?php if (!empty($value_payment["invoice_number"])): ?>
                                            <div class="span3">
                                                <div class="form-group">
                                                    <h5>Số chứng từ:</h5>
                                                    <input type="text" class="form-control"
                                                           value="<?= $value_payment["invoice_number"]; ?>"
                                                           disabled="disabled">
                                                </div>
                                            </div>
                                        <?php endif; ?>
                                        <?php if (!empty($value_payment["invoice_date"])): ?>
                                            <div class="span3">
                                                <div class="form-group">
                                                    <h5 for="">Ngày chứng từ:</h5>
                                                    <input type="" class="date form-control"
                                                           value="<?= $value_payment["invoice_date"]; ?>"
                                                           disabled="disabled">
                                                </div>
                                            </div>
                                        <?php endif; ?>
                                        <div class="message_wrap my-span11  ">
                                            <div class="span3 div-payment-date">
                                                <div class="form-group">
                                                    <h5 for="">Ngày thanh toán:</h5>
                                                    <input type="" class="date form-control"
                                                           value="<?= $value_payment["payment_date"]; ?>"
                                                           disabled="disabled">
                                                </div>
                                            </div>
                                            <div class="span3 div-payment">
                                                <div class="form-group">
                                                    <h5 for="">Số tiền thanh toán:</h5>
                                                    <input type="text" class="form-control"
                                                           value="<?= number_format($value_payment["payment_cost"]); ?>"
                                                           disabled="disabled">
                                                </div>
                                            </div>
                                        </div>
                                        <br><br>
                                    <?php endforeach;endif; ?>
                                <div class="span9 col-9">
                                    <?php if (!$value["is_approve"] AND $this->IS_ACCOUNTANT): ?>
                                        <div class="form-group">
                                            <a class="btn btn-primary" id="add-more"> + </a>
                                            <a class="btn btn-success" id="sub-more"> - </a>
                                        </div>
                                        <div class="">
                                        <button class="btn btn-info  button-right" type="submit"
                                                name="submit_update_payment" value="1">
                                            Cập nhật thanh toán
                                        </button>
                                    </div>
                                    <?php endif; ?>
                                </div>
                                <!--                                --><?php //endif;
                                ?>
                            </div>
                        </div>
                    </div>

                    <div class="span10" id="gallery-img">
                        <div class="widget ">
                            <div class="widget-header">
                                <h3>
                                    Tập tin đính kèm:
                                </h3>
                            </div>
                            <div class=" widget-content  image-preview">
                                <div class="container">
                                    <div class="row justify-content-center">
                                        <?php if (!empty($this->requestFile)):
                                        foreach ($this->requestFile as $key_file => $value_file): ?>
                                        <div class="col-lg-3 col-md-5 col-sm-8 col-8" style="overflow: auto !important;">
                                            <?php
                                            $is_image = getimagesize($value_file['url']);
                                            if ($is_image[2] == 2) {
                                                echo "<img class='img-fluid img-thumbnail staff_img' src='" . HOST . $value_file["url"] . "'><p><a download href='" . HOST . $value_file["url"] . "'>" . $value_file["name"] . "</a></p></div>";
                                            } else {
                                                echo "<i class='icon-file' style='font-size: 220px; margin-left:20px;';></i><p><a download target='_blank' href=" . HOST . $value_file['url'] . "> " . $value_file["name"] . "</a></p></div>";
                                            }
                                            ?>
                                            <?php endforeach;
                                            endif; ?>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="span10">
                            <div class="widget">
                                <div class="widget-content">

                                    <div class="container">
                                        <div class="row">
                                        <div class="span3">
                                            <?php if ($this->requestApprove):
                                                foreach ($this->requestApprove as $key_approve => $value_approve):
                                                    ?>
                                                    <div class="form-group">
                                                        <h4 for=""><?= $this->staff[$value_approve["staff_id"]] ?></h4>
                                                        <h5 for="">Ghi chú:</h5>
                                                        <textarea disabled="disabled" name=""
                                                                  value=""><?= !empty($value_approve["note"]) ? $value_approve["note"] : ""; ?></textarea>
                                                    </div>
                                                    <br>
                                                <?php endforeach;endif; ?>
                                            <!--                                        --><?php //if ($this->userStorage->id == $value["staff_code_approve_process"] AND $this->userStorage->id != 17):
                                            ?>
                                            <?php if ($this->userStorage->id != $value["created_by"] AND $value["status"] != "hoan tat" AND $this->IS_APPROVE): ?>
                                                <div class="form-group">
                                                    <h5 for="">Nhập ghi chú của bạn:</h5>
                                                    <textarea name="note_confirm" value=""></textarea>
                                                </div>
                                            <?php endif; ?>
                                        </div>
                                        <div class="form-group col-8">
                                            <!--  --><?php //if ($this->userStorage->id == 17):
                                            ?>
                                            <?php if ($this->IS_ACCOUNTANT AND !$value["is_approve"]): ?>
                                                <button type="submit" name="submit_success" id="submit_success"
                                                        class="btn btn-success "
                                                        value="1">
                                                    Xác nhận đề xuất đã hoàn tất
                                                </button>
                                            <?php endif; ?>

                                            <?php if ($this->IS_APPROVE):?>
                                                <button type="submit" name="submit" class="btn btn-success" value="1">Duyệt đề xuất</button>
                                            <?php endif;?>
                                        </div>
                                    </div>

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
            </form>
        <?php endforeach; ?>
</div>
<div class="btn-back-to-top" id="myBtn">
        <span class="symbol-btn-back-to-top">
            <i class="icon-circle-arrow-up"></i>
        </span>
</div>
</body>


<!-- Dashboard -->
<script language="javascript" type="text/javascript" src="/js/full-calendar/fullcalendar.min.js"></script>
<!-- END Dashboard -->
<script type="text/javascript" src="/js/bootstrap-modal.js"></script>
<script type="text/javascript" src="/js/bootstrap-modalmanager.js"></script>
<link rel="stylesheet" type="text/css" href="/css/bootstrap-modal.css"/>

<script type="text/javascript" src="/js/jquery-ui-1.8.12.custom.min.js"></script>
<link rel="stylesheet" type="text/css" href="/css/jquery-ui-1.8.12.custom.css"/>
<script src="<?php echo HOST ?>js/request/request.js" type="text/javascript"></script>
<style >
    @media screen and (max-width: 480px){
  .row>[class*="span"], .row-fluid>[class*="span"] {
      width: 100% !important;
  }
  .modal-scrollable{
    padding-bottom: 50vh !important;
  }
}
    input {
        border: none !important;
        border-bottom: 0px solid #ccc !important;
        width: 100% !important;
        margin:0vh 0vw !important;
        outline: none !important;
        padding-left: 0px !important;

    }

    input[disabled], input[readonly],select[disabled],textarea[disabled] {
        background-color: white !important;
        border: none !important;
        border-bottom: 0px solid #ccc !important;
        outline: none !important;
        -webkit-box-shadow: none !important;
        box-shadow: none !important;
        padding-left: 0px !important;

    }
  input[disabled], select[disabled], textarea[disabled], input[readonly], select[readonly], textarea[readonly] {
    background-color: #fafafa !important;
    /* border-color: #ddd; */
    border: none !important;
    }
</style>
