<title>[MINIGAME] Lễ Ra Quân Reno3 - BỨT PHÁ VƯƠN XA</title>
<link rel="icon" type="image/ico" href="/img/favicon.ico">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.4.2/css/all.css" integrity="sha384-/rXc/GQVaYpyDdyxK+ecHPVYJSN9bmVFBvjA/9eOB+pb3F2w2N6fc5qB9Ew5yIns" crossorigin="anonymous">
<link rel="image_src" href="https://center.opposhop.vn/minigame-trainer/minigame_trainer.jpg" />
<!--<script src="http://code.jquery.com/jquery-1.11.3.min.js"></script>-->
<script src="/js/jquery-1.7.2.min.js"></script>
<link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
<link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap-theme.min.css">
<meta property="og:type" content="website" />
<meta property="og:image" content="https://center.opposhop.vn/minigame-trainer/minigame_trainer.jpg" />
<meta name="twitter:image" content="https://center.opposhop.vn/minigame-trainer/minigame_trainer.jpg" />
<style type="text/css">
    *{
        margin: 0;
        padding: 0;
    }
    @font-face {
        font-family: myFirstFont;
        src: url(/font/Oppo-2019044a-Regular.otf);
    }
    a{
        cursor: pointer;
    }
    @keyframes action {
        0%{opacity: 0.5; }
        50%{opacity: 0.7;}
        100%{opacity: 1.0;}
    }

    .logo{
        float:left;
        width:10%;
    }

    .green {
        color:#009B72;
    }

    .modal-body{
        color:#009B72
    }
    @media only screen and (min-width: 1080px) and (max-width: 2560px)
    {
        .dot{
            font-size: 0.3vw;
            margin-right: 0.5vw;
            margin-left: 0.5vw;
        }
        .content_game {
            width: 100%;
            height: 50vw;
            background-image:url(/minigame-trainer/welcome_bg.jpg);
            background-size: 100% 100%;
            background-repeat: no-repeat;
        }
        .top10{
            margin-top: 0.2vw;
        }
        .bottom20{
            margin-bottom: 0.4vw;
        }

        .text_content{
            word-spacing: 2vw;
        }
        .tab{
            background-image:url(/minigame-trainer/header.jpg);
            position: absolute;
            margin-top: 0vw;
            border-bottom: 0.1vw solid #00794e;
            width: 100%;
            height: 6vw;
            background-size:100%
        }
        .logo img{
            width: 14vw;
            margin-top: 0.2vw;
            margin-bottom: 0.2vw;
            margin-left: 6vw;
            display: block;
        }
        .tab .logo_center img{
            float: left;
            display: block;
            width: 10vw;
            float: left;
            margin-top: -4.7vw;
            margin-left: 17vw;
        }
        .tab .tab-button{
            float: right;
            margin: 0 auto;
            margin-left: 1vw;
            height: 6vw;
            margin-right: 15vw;

        }
        .tab button{
            font-family: "Myriad Pro", Myriad, "Liberation Sans", "Nimbus Sans L", "Helvetica Neue", Helvetica, Arial, sans-serif;
            font-weight: bold;
            color: white;
            width: 12vw;
            margin-top: 0%;
            background-color: inherit;
            float: left;
            border: none;
            outline: none;
            cursor: pointer;
            padding: 2vw 1.2vw;
            transition: 0.3s;
            font-size: 1.3vw;

        }
        .tab button:hover{
            color: #00794e;

        }
        .btn_join {
            width: 13vw;
            margin-top: 43vw;
            margin-left: 57vw;
            background-image: url(/mini_game/thamgia_mobi.png);
            background-position: center center;
            background-size: 100%;
        }

        .im_oppo_bg{
            height: 36vw;
            position: absolute;
            margin-top: 13.1vw;
            font-size: 1.1vw;
            width: 52vw;
            left: -2vw;
            /*background-image: url(/minigame-trainer/im_oppo.png);*/
            background-repeat: no-repeat;

            line-height: 2vw;
        }

        .tabcontent {
            height: 36vw;
            position: absolute;
            margin-top: 6.1vw;
            font-size: 1.1vw;
            margin-right: 5vw;
            width: 28vw;
            margin-left: 50vw;
            background-image: url(/mini_game/2019/info_box.png);
            background-size: 100%;
            display: none;
            padding: 0vw 0vw;
            line-height: 2vw;
        }
        .tabcontent ul {

            list-style: none;
            margin-left: 3vw;
            margin-right: 3vw;
            margin-top: 4.2vw;
            line-height:1.8vw;
            font-size: 21px;
        }

        .tabcontent ul li {
            margin-top:0.5vw
        }
        .modal-content {
            width: 100%;
            height: auto;
            background-image: url(/mini_game/alert1.png);
            background-size: 100% 100%;
            background-repeat: no-repeat;
            border-radius: 3vw;
            border: 0.2vw solid #00794e;
            text-align: center;
            font-size: 3vw;
            margin-top: 20vh;
        }
        .modal-body{

        }
    }
    @media only screen and (min-width: 320px) and (max-width: 1080px) {
        .dot{
            font-size: 2vw;
            margin-right: 0.5vw;
            margin-left: 0.5vw;
        }
        .content_game {
            width: 100%;
            height: 250vw;
            background-image:url(/minigame-trainer/m_welcome_bg.jpg);
            background-size: 100% 100%;
            background-repeat: no-repeat;
        }
        .top10{
            margin-top: 0.2vw;
        }
        .tablinks{
            color:grey
        }
        .bottom20{
            margin-bottom: 0.4vw;
        }
        .btn_join{
            width: 15vw;
            margin-top: 115vw;
            margin-left: 68vw;
            position: absolute;
        }
        .text_content{
            word-spacing: 2vw;
        }
        .tab {
            position: absolute;
            top: 70vh;
            left: 0;
            border-bottom: none;
            width: 100vw;
            height: 5vh;
        }
        .logo{
            display: none;
        }
        .tab .logo_center img{
            display: none;
        }
        .tab .tab-button {
            font-size: 2.5vw;
            margin-top: 0;
            width: 98%;
            /* margin-right: 1.5vw; */
            line-height: 5vh;
            height: 5vh;
            margin: 0 1% 0 1%;
        }
        .tab button {
            padding: 0vw 0vw;
            font-size: 2.5vw;
            margin-top: 0%;
            width: 31%;
            line-height: 4.5vw;
            padding: 1vw 0vw;
        }
        .tab button:hover{
            color: #00794e;
            font-size: 2.6vw;
        }
        .btn_join {
            width: 32vw;
            margin-top: 60vh;
            margin-left: 32vw;
            background-image: url(/mini_game/thamgia_mobi.png);
        }
        .tabcontent {
            position: absolute;
            top: 75vh;
            font-size: 4vw;
            margin-right: 5vw;
            width: 94vw;
            margin-left: 1.5vw;
            background-color: #ebf1ee;
            display: none;
            padding: 1vw 1vw;
            line-height: 4vw;
        }
        .tabcontent ul {
            height: 80vw;
            list-style: none;
            margin-left: 3vw;
            margin-right: 3vw;
            margin-top: 3vw;
        }

        .tabcontent ul li {
            margin-top:2.8vw
        }
        .modal-content{
            width: 100%;
            height: 30vw;
            background-image:url(/mini_game/alert1.png);
            background-size: 100% 100%;
            background-repeat: no-repeat;
            border-radius: 3vw;
            border: 0.3vw solid #00794e;
            text-align: center;
            font-size: 3vw;
        }
        .modal-body{

        }

        .im_oppo_bg {
            height: 54vh;
            position: absolute;
            /* margin-top: 6.1vw; */
            font-size: 1.1vw;
            width: 84vw;
            /* left: 18vw; */
            /*background-image: url(/mini_game/2019/m_im_oppo.png);*/
            background-size: 100%;
            background-position: center center;
            background-repeat: no-repeat;
            line-height: 2vw;
            margin: 0 8vw 0 8vw;
        }
    }

</style>
<div class="content_game">
    <div class="tab" >
        <div class="logo">
                <span style="left: 3%;">
                    <!-- <img src="/mini_game/logo-top.png"> -->
                </span>
        </div>
        <!-- <span class="logo_center">
				<a href="<?php echo HOST;?>"><img src="/mini_game/logo21.jpg"></a>
			</span> -->
        <div class="tab-button">
            <button class="tablinks active shape" id="London_" onclick="openTab(event,'London')" style="color: #00794e;">Thể lệ trò chơi</button>
            <a href="/minigame-trainer/list-reward"><button class="tablinks "  id="Tokyo_">Quà tặng</button></a>
           <!--  <a href="/minigame/list-answer"><button class="tablinks "  id="Tokyo2_">Đáp án số lần này</button></a> -->
            <a href="/minigame-trainer/reward"><button class="tablinks " id="Paris_" >Danh sách trúng thưởng</button></a>
        </div>
    </div>
    <div class="im_oppo_bg"></div>
    <div id="London" class="tabcontent" style="display: block;">

        <p class="text_content">
        <ul>
            <li>   Các bạn đăng nhập đường link bằng tài khoản Center để tham gia Mini Game & hoàn thành <b class="green">5 câu hỏi.</b> </li>

            <li>   Bạn có <b class="green">12 giây</b> để trả lời mỗi câu hỏi với <b class="green"> 3 phương án lựa chọn </b> (Bạn chỉ được chọn 1 lần đáp án cho câu hỏi). Hết 12 giây hệ thống tự động chuyển qua câu hỏi tiếp theo.</li>
            <li>   Trả lời <b class="green">chính xác 4/5 câu</b>, người chơi sẽ có cơ hội tham gia Vòng quay may mắn để nhận thưởng.</li>
           
        </ul>
        <span class="bottom20"></span>
        </p>
    </div>
    <div id="Tokyo" class="tabcontent">
        <h3>Tokyo</h3>
        <p>Tokyo is the captial city of Japan.<p>
    </div>
    <div id="Tokyo2" class="tabcontent">
        <h3>Tokyo</h3>
        <p>Tokyo is the captial city of Japan.<p>
    </div>
    <div id="Paris" class="tabcontent">
        <h3>Paris</h3>
        <p>Paris is the captial city of France.<p>
    </div>
    <span id="check"><a id="link_join" href="/minigame-trainer/play"><img src="/mini_game/2019/join_btn.png" class="btn_join" style=""></a></span>

    <!-- Modal -->
    <div class="modal bs-example-modal-lg" style="display: none">
        <div class="modal-dialog modal-lg">
            <div class="modal-content alert1">
                <div class="modal-header">
                    <button class="close" data-dismiss="modal"><span style="font-size: 4vw;">&times;</span></button>
                    <p class="modal-title green">Thông báo</p>
                </div>
                <div class="modal-body">

                </div>
            </div>
        </div>
    </div>
    <!-- Modal -->

</div>

<script src="/js/bootstrap.js"></script>
<script>
    function openTab(evt,cityName){
        var i,tabcontent,tablinks;
        document.getElementById('London_').style.color = "#ccc";
        document.getElementById('Tokyo_').style.color = "#ccc";
        document.getElementById('Paris_').style.color = "#ccc";
        tabcontent = document.getElementsByClassName('tabcontent');
        for(i=0;i<tabcontent.length;i++)
        {
            tabcontent[i] .style.display = "none";
        }
        tablinks = document.getElementsByClassName('tabcontent');
        for (i=0; i<tablinks.length;i++){
            tablinks[i].className = tablinks[i].className.replace(" active","");
        }
        document.getElementById(cityName).style.display = "block";
        document.getElementById(cityName+'_').style.color = "#00794e";
        evt.currentTarget.className += " active";
    }
    function GetURLParameter(sParam) {
        var sPageURL = window.location.search.substring(1);
        var sURLVariables = sPageURL.split('&');
        for (var i = 0; i < sURLVariables.length; i++){
            var sParameterName = sURLVariables[i].split('=');
            if (sParameterName[0] == sParam)
            {
                return sParameterName[1];
            }
        }
    }
    $(document).ready(function(){
        var soon = GetURLParameter('soon');
        var late = GetURLParameter('late');
        var ans_soon = GetURLParameter('answer_soon');
        if(soon==1)
        {
            $('.bs-example-modal-lg').css('display','block');
            $('.modal-body').html('Vô chi sớm vậy nè! <br> Chút xíu nữa quay lại nha.');
        }
        if(ans_soon==1)
        {
            $('.bs-example-modal-lg').css('display','block');
            $('.modal-body').html('Lêu lêu! :P <br> Ôn bài kỹ hơn rồi quay lại rinh quà sau nha!<br> Yêu thương!');
        }
        if(late==1)
        {
            $('.bs-example-modal-lg').css('display','block');
            $('.modal-body').html('Bạn đã lỡ cơ hội hôm nay rồi! <br> Hẹn hôm sau nhé.');
        }

        $('.close').click(function(){
            $('.bs-example-modal-lg').css('display','none');
            window.location.href = "https://center.opposhop.vn/minigame-trainer/index";
        });

    });
</script>
