<title>MINI GAME, Tôi là OPPOer - Mùa 3</title>
<link rel="icon" type="image/ico" href="/img/favicon.ico">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<script src="/js/jquery-1.7.2.min.js"></script>
<style type="text/css">
*{
	margin: 0;
	padding: 0;
}
@font-face {
    font-family: myFirstFont;
    src: url(/font/Oppo-2019044a-Regular.otf);
}

html {
    font-family: myFirstFont;
}

.oppo_color{
    color:#009B72;
}
@media only screen and (min-width: 320px) and (max-width: 1080px) {
    .answer_list {
        position: absolute;
        bottom: 3vh;
        left: 8vw;
        right: 5vw;
        background-image: url(/mini_game/2019/m_info_box_result.png);
        background-size: 100% 100%;
        height: 50%;
        padding: 2vw;
    }

    .table_scroll {
        height: 90%;
        width: 90%;
        overflow-y: scroll;
        padding: 2% 3vw 0 3vw;
        font-size: 2.8vw;
        line-height: 6vw;
    }
	.content{
		  font-family: myFirstFont;
		  width: 100%;
        min-height: 100vh;
		  background-image:url(/minigame-trainer/m_list_answer.jpg);
		  background-size: 100% 100%;
		  background-position: center;
		  background-position: top;
		  background-repeat: no-repeat;
		  position: relative;

		}
    .result {
        position: absolute;
        font-size: 3vw;
        margin-top: 33vh;
        width: 36vw;
        margin-left: 32vw;
        text-align: center;
        line-height: 4vw;
        color: white;
    }
		.table {
		    border-collapse: collapse;
		    border: 0.1vw solid #ccc;
		    font-size: 3.5vw;
		    position: absolute;
		    margin-top: 0vw;
		    margin-left: 0vw;
		}
		.table tr th{
			font-weight: none;
			padding-left: 1vw;
			padding-right: 1vw;
			border-left: 0.1vw solid #ccc;
			text-align: left;
			border-bottom: 0.1vw solid #ccc;
		}
		.table tr td{
			padding-left: 1vw;
			padding-right: 1vw;
			border-left: 0.1vw solid #ccc;
			text-align: left;
			border-bottom: 0.1vw solid #ccc;
		}

    .block_pre {
        color: #009B72;
        font-size: 3vw;
        margin-top: 0.5vw;
        font-weight: bold;
        text-align: center;
    }

    .answer_detail {
        text-align: center;
    }

    .question_detail {
        margin-top:3vw
    }
    .oppo_color{
    color:#ffe108;
}
}
  @media only screen and (min-width: 1080px) and (max-width: 2560px){
      .answer_list {
          width: 55%;
          /*background-image: url(/mini_game/2019/result_detail.png);*/
          background-size: 80% 80%;
          background-repeat: no-repeat;
          height: 100vh;
          float: right;
          background-position: right center;
      }

      .total_result {
          float: left;
          /*background-image: url(/mini_game/2019/result.png);*/
          background-position: left center;
          background-repeat: no-repeat;
          width: 45%;
          
          margin-left: 3vw;
      }

      .table_scroll {
          height: 60%;
          width: 70%;
          overflow-y: scroll;
          margin-left: 19%;
          margin-top: 22vh;
          line-height: 1.8vw;
      }
	.content{
		  font-family: myFirstFont;
		  width: 100%;
		  height: 50vw;
		  background-image:url(/minigame-trainer/list-answer.jpg);
		  background-size: 100% 100%;
		  background-position: center;
		  background-position: top;
		  background-repeat: no-repeat;
		  position: relative;

		}
      .result {
          position: absolute;
          font-size: 1vw;
           margin-top: 0vw; 
          width: 20vw;
           margin-left: 9vw; 
          text-align: center;
          line-height: 1.6vw;
          top: 23%;
          
      }
		.table {
		    border-collapse: collapse;
		    font-size: 1.5vw;
		}
		.table tr th{
			font-weight: none;
			padding-left: 1vw;
			padding-right: 1vw;
			border-left: 0.1vw solid #ccc;
			text-align: left;
			border-bottom: 0.1vw solid #ccc;
		}
		.table tr td{
			padding-left: 1vw;
			padding-right: 1vw;
			border-left: 0.1vw solid #ccc;
			text-align: left;
			border-bottom: 0.1vw solid #ccc;
		}

        .answer_detail {
            text-align: center;
        }

        .question_detail {
            margin-top:1.2vw
        }

        .block_pre {
          color: #009B72;
          font-size: 1.1vw;
          margin-top: 0.5vw;
          font-weight: bold;
            text-align: center;
        }
  }
	
}
</style>
<div class="content">

    <div class="answer_list">
	    <div class="table_scroll" style="">
            <div class="block block_pre">MỜI BẠN THAM KHẢO ĐÁP ÁN ĐÚNG NHÉ</div>
            <?php $i = 0;
            foreach ($this->lst_correct_answers as $k => $val):

//            if ($k != 1) :
                $i++;?>
            <div class="block question_detail"><b>Câu hỏi <?php echo $i; ?> :</b> <?php echo $this->question->question[$k]->content;?></div>
            <div class="block answer_detail"> <b> => <?php
                if($val==1):echo''. $this->question->question[$k]->optiona;
                elseif($val==2):echo ''.$this->question->question[$k]->optionb;
                elseif($val==3):echo ''.$this->question->question[$k]->optionc;
                elseif($val==4):echo ''.$this->question->question[$k]->optiond; endif;
                ?></b></div>
<!--            --><?php //endif; ?>
            <?php endforeach; ?>
</div>
    </div>

    <?php $total_point =0; $num = 0;?>
            <?php foreach ($this->data as $k => $val):?>
                <?php $total_point =$total_point + $val['point']; if($val['is_right']==1){ $num++;}?>
            <?php endforeach; ?>
    <div class="total_result">
	<p class="result"><b> Chúc mừng bạn đã trả lời chính xác <span class="oppo_color"><?php echo $num;?>/5</span><span style="margin-top: 2.5vw; margin-left: 1.2vw;"><br> Và nhớ quay lại vào số kế tiếp nhé.</span><br> </b></p>

    </div>
</div>
