<title>MINI GAME, Tôi là OPPOer - Mùa 3</title>
<link rel="icon" type="image/ico" href="/img/favicon.ico">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<script src="/js/jquery-1.7.2.min.js"></script>
<style type="text/css">
*{
	margin: 0;
	padding: 0;
}
@font-face {
    font-family: myFirstFont;
    src: url(/font/Oppo-2019044a-Regular.otf);
}

html {
    font-family: myFirstFont;
}
@media only screen and (min-width: 320px) and (max-width: 1080px) {
    .table_scroll {
        position: absolute;
        height: 65vw;
        width: 88vw;
        overflow-y: scroll;
        margin-top: 50vh;
        margin-left: 11vw;
    }
	.content{
		  width: 100%;
		  height: 100vh;
		  background-image:url(/minigame-trainer/m_result.jpg);
		  background-size: 100% 100%;
		  background-position: center;
		  background-position: top;
		  background-repeat: no-repeat;
		  position: relative;

		}
		.table {
		    border-collapse: collapse;
		    font-size: 4vw;
		    position: absolute;
		    margin-top: 0vw;
		    margin-left: 0vw;
		    /* border-radius: 13vw; */
            width: 90%;
		}
		.table tr th{
			padding-left: 1vw;
			padding-right: 1vw;
			border-left: 0.1vw solid #ccc;
			text-align: center;
			border-bottom: 0.1vw solid #ccc;
            font-size: 1.2vw;
            color:#009B72;
		}
		.table tr td{
			border-left: 0.1vw solid #ccc;
			text-align: center;
			border-bottom: 0.1vw solid #ccc;
            font-size: 1.2vw;
            padding: 1vw .2vh 1vw .2vh;
		}
    .title {
        font-size: 3vw;
        position: absolute;
        width: 60vw;
        margin-top: 45vh;
        margin-left: 21vw;
        color: #009B72;
    }

    .name_td{
        font-size:0.55vw;
    }
}
  @media only screen and (min-width: 1080px) and (max-width: 2560px){
	  	.content{
			  width: 100%;
			  height: 100%;
			  background-image:url(/minigame-trainer/list-answer.jpg);
			  background-size: 100% 100%;
			  background-position: center;
			  background-position: top;
			  background-repeat: no-repeat;
			  position: relative;

			}
			.table{
                border-collapse: collapse;
                font-size: 1vw;
                position: absolute;
                /* margin-top: 2vw; */
                margin-left: 0vw;
                border-radius: 5vw;

		}
		.table tr th{
			font-weight: none;
			padding-left: 0.5vw;
			padding-right: 0.5vw;
			border-left: 0.1vw solid #ccc;
			text-align: center;
			border-bottom: 0.1vw solid #ccc;
            font-size: 0.8vw;
            color:#009B72;
            line-height: 2vw;
		}
      .table tr td {
          padding-left: 1vw;
          padding-right: 1vw;
          border-left: 0.1vw solid #ccc;
          text-align: center;
          border-bottom: 0.1vw solid #ccc;
          font-size: 0.65vw;
          line-height: 4vh;
      }
		.title {
		    font-size: 1.3vw;
		    position: absolute;
		    width: 40vw;
		    margin-top: 10vw;
		    margin-left: 55vw;
		    border-bottom: 0.2vw solid #00925f;
            color:#009B72;
		}
      .table_scroll {
          position: absolute;
          height: 25vw;
          width: 38vw;
          overflow-y: scroll;
          margin-top: 15vw;
          margin-left: 56vw;
      }

      .name_td{
          font-size:0.95vw;
      }
  }
		
.red_{background-color: #ff18184d;}
.yellow_{background-color: #f7f01342;}
.blue_{background-color: #5077d059;}
.green_{background-color: #13f72230;}

</style>
<div class="content">
	<h2 class="title" style="text-align: center;">DANH SÁCH TRÚNG THƯỞNG </h2>
	<div class="table_scroll" style="">
	<table class="table">
		<thead>
			<tr>
				<th style="width: 5%" rowspan="2">No</th>
				<th style="width: 18%" rowspan="2">Họ Tên</th>
				<th style="width: 5%" rowspan="2">Code</th>
				<th style="width: 12%" rowspan="2">Phòng ban</th>
				<th style="width: 16%" colspan="2">Quà tặng</th>
				

			</tr>
            
		</thead>
		<tbody>

			<?php foreach ($this->data  as $key => $value):?>
			<tr <?php //if($key+1 == 1): echo 'class="red_"'; elseif($key+1 == 2): echo 'class="yellow_"'; elseif($key+1 == 3): echo 'class="blue_"'; elseif($key+1 >3 && $key+1 <= 30): echo 'class="green_"'; endif;?>>
				<td><?php echo $key+1;?></td>
				<td class="name_td"><?php echo $value['fullname'];?></td>
				<td><?php echo $value['code'];?></td>
				<td><?php echo $value['department'];?></td>
				<td><?php echo $value['name_reward'];?></td>
				

			</tr>
		<?php endforeach; ?>
		</tbody>
	</table>
	</div>
</div>