<style type="text/css">
    .left{display: block;float: left;width:50%;}
    .right{display: block;float: left;width:50%;}
    .dim{    display: block;
            background: #FFF;
            position: fixed;
            width: 100%;
            height: 100%;
            z-index: 1000;
            display: none;
            background: url(../img/dim.gif);
            background-position-y: -100px;
            background-size: 100%;
            top: 100px;}
    .label_chart_title{text-align: center;
            font-size: 17px;
            cursor: pointer;
            color: red;
            display: block;
            border: 1px solid red;
            width: 290px;
            padding: 5px 0px;
            margin: 0 auto;}
    
    .table_voluntary{width: 300px;position: absolute;top:50px;left: 11px}
    .table_voluntary tr td{border: 1px solid #FFF !important}
    
    .block_container{display: block;float:left;width:70%}
    .block_seniority{display: block;float:left;width:30%}
    
    @media screen and (max-width: 480px)
    {
        .block_container{width:100%}
        .block_seniority{width:100%}
        .table_voluntary {
            width: 85%
        }
    }
    
</style>

<div class="dim" style="display: none;">
</div>

<div class="page-header">
    <h1>HEADCOUNT REPORT</h1>
</div>
<?php
if (isset($this->messages) and $this->messages)
    foreach ($this->messages as $message):
        echo '<div class="alert alert-success">'.$message.'</div>';
    endforeach;

if (isset($this->messages_error) and $this->messages_error)
    foreach ($this->messages_error as $messages_error):
        echo '<div class="alert alert-danger">'.$messages_error.'</div>';
    endforeach;
?>
<div class="accordion" id="accordion2">
    <div class="accordion-group">
        <div class="accordion-heading">
            <a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion2" href="#collapseTwo">
                Search
            </a>
        </div>
        <div id="collapseTwo" class="accordion-body collapse" style="height: 0px;">
            <div class="accordion-inner">
                <?php
                echo $this->render('hr-management/partials/search.phtml');
                ?>
            </div>
        </div>
    </div>
</div>

<div class="table-responsive">
    <div class="table_main">
        <div class="header_tad"><i class="icon-list-alt"></i> <b>TOTAL HEADCOUNT</b></div>
        <div class="content_tad">
            <div class="row">
                <div class="block_container">
                    <div id="container" style="width: auto;height: auto; margin: 0 auto;"></div>
                </div>
                
                <div class="block_seniority">
                    <div id="seniority2" style="width: 100%;height: auto; margin: 0 auto;max-width: 300px"></div>
                </div>
            </div>
        </div><!-- content_tad -->
        

    </div><!-- table_main -->


    <div class="table_main">
        <div class="header_tad"><i class="icon-list-alt"></i> <b>TURNOVER RATE</b></div>
        <div class="content_tab" style="margin-top: 50px">
            <div class="row">
                <div class="block_container">
                    <div id="turnover" style="width: auto;height: auto; margin: 30px auto 0px;"></div>
                </div>
                
                <div class="block_seniority">
                    <div id="seniority_off2" style="width: 100%;height: auto; margin: 0 auto;max-width: 300px"></div>
                </div>
            </div>
        </div><!-- content_tab -->
        
        
        <table class="table table-striped table-bordered table_voluntary">
            <tr>
                <td>Voluntary</td>
                <td><?php echo number_format($this->voluntary/($this->voluntary+$this->involuntary)*100, 2, '.', '');?> %</td>
                <td><?php echo $this->voluntary;?> HC</td>
            </tr>
            <tr>
                <td>Involuntary</td>
                <td><?php echo number_format($this->involuntary/($this->voluntary+$this->involuntary)*100, 2, '.', '');?> %</td>
                <td><?php echo $this->involuntary;?> HC</td>
            </tr>
        </table>

    </div><!-- table_main -->


</div><!-- table-responsive -->



<script type="text/javascript" src="<?php echo HOST ?>js/bootstrap-multiselect.js"></script>
<link rel="stylesheet" href="<?php echo HOST ?>css/bootstrap-multiselect.css" type="text/css"/>
<script type="text/javascript" src="<?php echo HOST ?>js/jquery-ui-1.8.12.custom.min.js"></script>
<link rel="stylesheet" type="text/css" href="<?php echo HOST ?>css/jquery-ui-1.8.12.custom.css"/>
<script>
    
    
    options = {
        selectAllText: 'Select All',
        includeSelectAllOption: true,
        includeSelectAllIfMoreThan: 3,
        disableIfEmpty: true
    };

    $(document).ready(function () {
        $('.form-search button:reset').click(function (e){
            $('.form-search input, .form-search select').val('');
            $('.form-search').submit();
            return false;
        });

        multi();

        $("form").submit(function(){
            $('.dim').show();
        });
    });

    function multi() {
        $('.multiselect').multiselect(options);
    }

    

        <?php $color = [ 2019 => '#19A46F', 2017 => '#71F1A6', 2018 => '#33c4a4', 2016 => '#43C688',  2015 => '#90ED7D',  2014 => '#379B65', 2013 =>'#FFD771'];?>
        var columnMetrics = [];
        <?php foreach($this->list_year as $key=>$value):?> 
        var categoryWidth = 1,
            groupPadding = categoryWidth * .2,
            groupWidth = categoryWidth - 2 * groupPadding,
            pointOffsetWidth = groupWidth / <?php echo count($this->list_year);?>,
            pointPadding =  pointOffsetWidth * .1,
            pointWidth = pointOffsetWidth - 2 * pointPadding, 
            colIndex =  <?php echo $key;?>,
            pointXOffset = pointPadding + (groupPadding + colIndex *
                pointOffsetWidth - (categoryWidth / 2));

        columnMetrics.push( { 
            width: pointWidth, 
            offset: pointXOffset,
            center: pointXOffset + (pointWidth /2.0)
        });
        <?php endforeach;?>

        var series = [];
        <?php foreach($this->list_year as $key=>$value):?>
            series.push({
                name: "Year <?php echo $value;?>",
                data: [
                <?php foreach($this->list_month_year as $k=>$v):?>
                <?php $m = (int)date('m', strtotime($v));?>
                <?php $staff_work = !empty($this->headcount[$m][$value]['staff_work']) ? $this->headcount[$m][$value]['staff_work'] : 0;?>
                
                <?php if($staff_work > 0):?>
                <?php echo $staff_work;?>,
                <?php else:?>
                null,
                <?php endif;?>

                <?php endforeach;?>
                ],
                type: "column",
                color: '<?php echo $color[$value];?>',
            });
            series.push({
                name: "Year <?php echo $value;?>",
                data: [
                    <?php foreach($this->list_month_year as $k=>$v):?>
                    <?php $m = (int)date('m', strtotime($v));?>
                    <?php $staff_work = !empty($this->headcount[$m][$value]['staff_work']) ? $this->headcount[$m][$value]['staff_work'] : 0;?>
                    
                    <?php if($staff_work > 0):?>
                    {x:<?php echo $k;?> + columnMetrics[<?php echo $key;?>].center, y:<?php echo $staff_work;?>},
                    <?php else:?>
                    {x:<?php echo $k;?> + columnMetrics[<?php echo $key;?>].center, y:null},
                    <?php endif;?>

                    <?php endforeach;?>
                    ],
                type: "spline",
                dashStyle: 'ShortDash',
                color: '<?php echo $color[$value];?>',
            });
        <?php endforeach;?>
    

   $('#container').highcharts({
        chart: {
            type: 'column',
            marginLeft: 10,
            marginRight: 10,
        },
        title: {
            text: '\
            <?php foreach($this->list_year as $key_year=>$year):?>\
            <?php $month_first = (int)date('m', strtotime($this->all_month_year[$year][0]));?>\
            <?php $month_last = (int)date('m', strtotime(end($this->all_month_year[$year])));?>\
            <?php $year_current = date('Y', strtotime($this->params['to']));?>\
            <?php $year_current_2 = date('Y', strtotime($this->params['from']));?>\
            <?php if($year_current == $year):?>\
            <?php $month_last = (int)date('m', strtotime($this->params['to']));?>\
            <?php endif;?>\
            <?php if($year_current_2 == $year):?>\
            <?php $month_first = (int)date('m', strtotime($this->params['from']));?>\
            <?php endif;?>\
            <?php $staff_work_first = !empty($this->headcount[$month_first][$year]['staff_work']) ? $this->headcount[$month_first][$year]['staff_work'] : 0;?>\
            <?php $staff_work_last = !empty($this->headcount[$month_last][$year]['staff_work']) ? $this->headcount[$month_last][$year]['staff_work'] : 0;?>\
            <?php echo $month_first.'/'.$year.' - '.$month_last.'/'.$year.' ('.number_format(($staff_work_last-$staff_work_first)/$staff_work_first*100, 2).'% ~ '.($staff_work_last-$staff_work_first).' HC)<br>';?>\
            <?php endforeach;?>\
            ',
            style:{ "color": "red", fontWeight: 'bold', fontSize: '16px' }
        },
        subtitle: {
            useHTML : true,
            text: '',
            enable: false
        },
        plotOptions: {
            series: {
                animation: {
                    duration: 2000,
                    easing: 'easeOutBounce'
                },
                dataLabels: {
                    "enabled": true,
                    color: 'black',
                    style :{
                        fontWeight : "bold",
                    }
                },
            }
        },
        xAxis: {
            categories: [
            <?php foreach($this->list_month_year as $key=>$value):?>
            <?php $m = (int)date('m', strtotime($value));?>
            "<?php echo 'T.'.$m;?>",
            <?php endforeach;?>
            ],
        },
        yAxis: {
            title: {
                text: ''
            }
        },
        series: series
    });
    
    
    $('#seniority2').highcharts({
        chart: {
            plotBackgroundColor: null,
            plotBorderWidth: null,
            plotShadow: false,
            type: 'pie'
        },
        title: {
            //text: "Tổng thâm niên đến <?php echo date('m', strtotime($this->params['to']));?>/<?php echo date('Y', strtotime($this->params['to']));?>",
            text: "Total Headcount by Seniority Group",
        },
        tooltip: {
            pointFormat: '{series.name}: <b>{point.y:.1f}</b>'
        },
        plotOptions: {
            pie: {
                allowPointSelect: true,
                cursor: 'pointer',
                dataLabels: {
                    enabled: true,
                    format: '<br>{point.percentage:.1f}',
                    distance: -50,
                    filter: {
                        property: 'percentage',
                        operator: '>',
                        value: 4
                    },
                },
                showInLegend: true
            }
        },
        exporting: {
            buttons: [
                {
                    enabled: false,
                }
            ]
        },
        series: [{
            name: "<?php echo date('m', strtotime($this->params['to']));?>/<?php echo date('Y', strtotime($this->params['to']));?>",
            colorByPoint: true,
            data: [
            <?php foreach($this->seniority_type as $key=>$value):?>
            <?php $month = (int)date('m', strtotime($this->params['to']));?>
            <?php $year  = (int)date('Y', strtotime($this->params['to']));?>
            <?php $count_type = $this->seniority[$month][$year][$key]['work'];?>
            {
                name: "<?php echo $value['name'];?>",
                y: <?php echo $count_type ? $count_type : 0;?>,
                color: '<?php echo $value['color'];?>',
            },
            <?php endforeach;?>
            ]
        }],
        legend:{
            itemWidth:130,
            itemStyle: {
                fontSize: '10px'
            }
        }
    });
    

    $('#seniority_off').highcharts({
        chart: {
            plotBackgroundColor: null,
            plotBorderWidth: null,
            plotShadow: false,
            type: 'pie'
        },
        title: {
            text: "Tổng thâm niên nghỉ việc <?php echo date('m', strtotime($this->params['from']));?>/<?php echo date('Y', strtotime($this->params['from']));?>",
        },
        tooltip: {
            pointFormat: '{series.name}: <b>{point.y:.1f}</b>'
        },
        plotOptions: {
            pie: {
                allowPointSelect: true,
                cursor: 'pointer',
                dataLabels: {
                    enabled: true,
                    format: '<br>{point.percentage:.1f}',
                    distance: -50,
                    filter: {
                        property: 'percentage',
                        operator: '>',
                        value: 4
                    },
                },
                showInLegend: true
            }
        },
        exporting: {
            buttons: [
                {
                    enabled: false,
                }
            ]
        },
        series: [{
            name: "Seniority <?php echo date('Y', strtotime($this->params['from']));?>",
            colorByPoint: true,
            data: [
            <?php foreach($this->seniority_type as $key=>$value):?>
            <?php $month = (int)date('m', strtotime($this->params['from']));?>
            <?php $year  = (int)date('Y', strtotime($this->params['from']));?>
            <?php $count_type = $this->seniority[$month][$year][$key]['off'];?>
            {
                name: '<?php echo $value['name'];?>',
                y: <?php echo !empty($count_type) ? $count_type : 0;?>,
                color: '<?php echo $value['color'];?>',
            },
            <?php endforeach;?>
            ]
        }]
    });

    $('#seniority_off2').highcharts({
        chart: {
            plotBackgroundColor: null,
            plotBorderWidth: null,
            plotShadow: false,
            type: 'pie'
        },
        title: {
            //text: "Tổng thâm niên nghỉ việc <?php echo date('m', strtotime($this->params['to']));?>/<?php echo date('Y', strtotime($this->params['to']));?>",
            text: "Turnorver Rate by Seniority Group"
        },
        tooltip: {
            pointFormat: '{series.name}: <b>{point.y:.1f}</b>'
        },
        plotOptions: {
            pie: {
                allowPointSelect: true,
                cursor: 'pointer',
                dataLabels: {
                    enabled: true,
                    format: '<br>{point.percentage:.1f}',
                    distance: -50,
                    filter: {
                        property: 'percentage',
                        operator: '>',
                        value: 4
                    },
                },
                showInLegend: true
            }
        },
        exporting: {
            buttons: [
                {
                    enabled: false,
                }
            ]
        },
        series: [{
            name: "<?php echo date('m', strtotime($this->params['to']));?>/<?php echo date('Y', strtotime($this->params['to']));?>",
            colorByPoint: true,
            data: [
            <?php foreach($this->seniority_type as $key=>$value):?>
            <?php $count_type = $this->seniority_total[$key];?>
            {
                name: '<?php echo $value['name'];?>',
                y: <?php echo $count_type ? $count_type : 0;?>,
                color: '<?php echo $value['color'];?>'
            },
            <?php endforeach;?>
            ]
        }],
        legend:{
            itemWidth:130,
            itemStyle: {
                fontSize: '10px'
            }
        }
    });

    <?php $avg_off = 0;?>
    <?php $avg_off_count = 0;?>
    
    <?php foreach($this->list_year as $key_year=>$year):?>
    var dataSum_<?php echo $key_year;?> = [
    <?php foreach($this->list_month_year as $key=>$value):?>
    <?php $m = (int)date('m', strtotime($value));?>
    <?php $staff_off = !empty($this->headcount[$m][$year]['staff_off']/$this->headcount[$m][$year]['staff_work']*100) ? $this->headcount[$m][$year]['staff_off']/$this->headcount[$m][$year]['staff_work']*100 : 0;
    //$staff_off = !empty($this->headcount[$m][$year]['staff_off']) ? $this->headcount[$m][$year]['staff_off'] : 0;?>
    <?php $staff_off = !empty($staff_off) ? $staff_off : 0;?>

    <?php if($staff_off > 0):?>
    <?php echo $staff_off;?>,
    
    <?php $avg_off = $avg_off + $staff_off;?>
    <?php $avg_off_count = $avg_off_count + 1;?>
                
    <?php else:?>
    null,
    <?php endif;?>

    <?php endforeach;?>
    ];
    <?php endforeach;?>

    Highcharts.chart('turnover', {
        chart: {
            type: 'column',
            marginLeft: 10,
            marginRight: 10,
        },
        title: {
            //text: 'Tổng tỉ lệ thôi việc',
            text: '<?php echo date('m/Y', strtotime($this->list_month[0]));?> - <?php echo date('m/Y', strtotime(end($this->list_month)));?> (-<?php echo number_format($avg_off/$avg_off_count, '2', '.', '');?>% ~ <?php echo number_format($this->total_off, '0', '', ',');?> HC)',
            style:{ "color": "red", fontWeight: 'bold', fontSize: '16px' }
        },
        subtitle: {
            //text: '<?php echo date('m/Y', strtotime($this->list_month[0]));?> to <?php echo date('m/Y', strtotime(end($this->list_month)));?>'
        },
        xAxis: {
            categories: [
                <?php foreach($this->list_month_year as $key=>$value):?>
                '<?php echo 'T.'.date('m', strtotime($value));?>',
                <?php endforeach;?>
            ],
            crosshair: true
        },
        yAxis: {
            min: 0,
            title: {
                text: ''
            }
        },
        tooltip: {
            headerFormat: '<span style="font-size:10px">{point.key}</span><table>',
            pointFormat: '<tr><td style="color:{series.color};padding:0">{series.name}: </td>' +
                '<td style="padding:0"><b>{point.y:.1f}</b></td></tr>',
            footerFormat: '</table>',
            shared: true,
            useHTML: true
        },
        plotOptions: {
            line: {
                dashStyle: 'ShortDash',
                
            }
        },
        exporting: {
            buttons: [
                {
                    enabled: false,
                }
            ]
        },
        series: [
        <?php foreach($this->list_year as $key_year=>$year):?>
        {
            type: 'line',
            name: "Year <?php echo $year;?>",
            data: [
            <?php $year_current = date('Y');?>
            <?php $year_from = date('Y', strtotime($this->params['from']));?>
            <?php $month_from = (int)date('m', strtotime($this->params['from']));?>
            <?php foreach($this->list_month_year as $key=>$value):?>
            <?php $month_current = date('m', strtotime($this->params['to']));?>

        
            <?php $m = (int)date('m', strtotime($value));?>
            <?php //$staff_off = !empty($this->headcount[$m][$year]['staff_off']/$this->headcount[$m][$year]['staff_work']*100) ? $this->headcount[$m][$year]['staff_off']/$this->headcount[$m][$year]['staff_work']*100 : 0;
            $staff_off = !empty($this->headcount[$m][$year]['staff_off']) ? $this->headcount[$m][$year]['staff_off'] : 0;?>
            <?php $staff_off = !empty($staff_off) ? $staff_off : 0;?>

            <?php if( ($year_current == $year AND $m > $month_current) OR ($year_from == $year AND $m < $month_from) ):?>
            null,
            <?php else:?>
            <?php echo $staff_off;?>,
            <?php endif;?>

            <?php endforeach;?>
            ],
            dataLabels:{
                enabled:true,
                formatter:function() {
                    var stt = this.point.index;
                    var pcnt = dataSum_<?php echo $key_year;?>[stt];
                    return Highcharts.numberFormat(pcnt) + '%';
                }
            }
        },
        <?php endforeach;?>
        ],
        

    });

    

</script>
<?php echo $this->confirm();?>
<?php echo $this->load('combobox');?>