<table class="table table-bordered">
    <thead>
    <tr>
        <?php echo $this->sorting(array(
                '#',
                'name'            =>'Name',
                'area'            =>'Area',
                'regional_market' =>'Province',
                'district'        =>'District',
                'company_address' =>'Store address',
                'Action'
            ),
            $this->url, $this->sort, $this->desc); ?>
    </tr>
    </thead>
    <tbody>
    <?php
    if (isset($this->stores) and $this->stores)
        foreach ($this->stores as $k=>$store): ?>
            <tr>
                <td>
                    <?php
                    $inc = $this->offset + $k + 1;
                    echo $inc;
                    ?>
                </td>
                <td><?php if (isset($store['del']) && $store['del'] == 1): ?>
                	<del><?php echo $store['name'];?></del>
                <?php else: ?>
                	<?php echo $store['name'];?>
                <?php endif ?></td>
                <td><?php echo $store['area_name'];?></td>
                <td><?php echo $store['regional_market_name'];?></td>
                <td><?php echo $store['district_name'];?></td>
                <td><?php echo $store['shipping_address'];?></td>
                <td class="">
                    <?php if ($this->access('manage', 'store-edit')): ?>
                        <a title="Edit" href="/manage/store-edit?id=<?php echo $store['id'];?>"> <i class="icon-edit"></i></a>
                    <?php endif ?>

                    <?php if ($this->access('manage', 'store-del') && ( !isset($store['del']) || !$store['del'] ) ): ?>
                        <a title="Delete" class="confirmLink" href="/manage/store-del?id=<?php echo $store['id'];?>"> <i class="icon-trash"></i></a>
                    <?php endif ?>
                    
                    <?php if ($this->access('manage', 'store-undel') && isset($store['del']) && $store['del']): ?>
                        <a title="Undelete" class="confirmLink" href="/manage/store-undel?id=<?php echo $store['id'];?>"> <i class="icon-repeat"></i></a>
                    <?php endif ?>
                </td>
            </tr>
        <?php endforeach;?>

    </tbody>
</table>
<div class="paging">
    <?php echo $this->paging($this->total, $this->limit, $this->offset, $this->url);?>
</div>
<?php echo $this->load();?>