 <input type="hidden"  id="address1" value="">
    <input type="hidden"  id="latitude" value="">
    <input type="hidden"  id="longitude" value="">
<table class="table table-bordered">
    <thead>
    <tr>
        <?php if($this->title == 183 || $this->title = 190): ?>
            <?php echo $this->sorting(array(
                '#',
                'name'            =>'Name',
                'area'            =>'Area',
                'regional_market' =>'Province',
                'district'        =>'District',
                'shipping_address' =>'Shipping address',
                'Latitude',
                'Longitude',
                'Action'
            ),
            $this->url, $this->sort, $this->desc); ?>
        <?php else: ?>
             <?php echo $this->sorting(array(
                '#',
                'name'            =>'Name',
                'area'            =>'Area',
                'regional_market' =>'Province',
                'district'        =>'District',
                'shipping_address' =>'Shipping address',
                'Action'
            ),
            $this->url, $this->sort, $this->desc); ?>
        <?php endif ?>
       
    </tr>
    </thead>
    <tbody>
    <?php
    if (isset($this->stores) and $this->stores)
        foreach ($this->stores as $k=>$store): ?>
            <tr>
                <td>
                    <?php
                    $inc = $this->offset + $k + 1;
                    echo $inc;
                    ?>
                </td>
                <td>
                    <?php if (isset($store['del']) && $store['del'] == 1): ?>
                	   <del><?php echo $store['name'];?></del>
                    <?php else: ?>
                	   <?php echo $store['name'];?>
                <?php endif ?>
                </td>
                <td><?php echo $store['area_name'];?></td>
                <td><?php echo $store['regional_market_name'];?></td>
                <td><?php echo $store['district_name'];?></td>
                <td><?php echo $store['shipping_address'];?></td>
                <?php if($this->title == 183 || $this->title = 190): ?>
                    <td><?php echo $store['latitude'];?></td>
                    <td><?php echo $store['longitude'];?></td>
                <?php endif ?>
                <td class="">
                <?php if ((strlen($store['latitude']) > 0) and (strlen($store['longitude']) > 0)) :?>
                        	<a target="_blank" href="https://www.google.com.vn/maps/place/<?php echo $store['latitude'] . ',' . $store['longitude'];?>"><img src="<?php echo HOST?>/public/img/Maps-icon.png" title="Maps" alt="Maps icon" width="16" height="16"></a>
                        	<a title="Báo sai GPS"  rel_id=<?php echo $store['id'];?> class="error_gps" href="#"> <?php echo ($store['error_gps'] == 1) ? '<img src="https://center.opposhop.vn/public/img/redflag.png" title="Maps" alt="Maps icon" width="16" height="16">' : '<i class="icon-ok-circle"></i>'?> </a>
                        <?php endif ?>
                    <?php if ($this->access('manage', 'store-edit') && ( !isset($store['del']) || !$store['del'] ) ): ?>
                        
                        
						<a title="Edit" href="/manage/store-edit?id=<?php echo $store['id'];?>"> <i class="icon-edit"></i></a>
						
                    <?php endif ?>

                    <?php if ($this->access('manage', 'store-del') && ( !isset($store['del']) || !$store['del'] ) ): ?>
<!--                        <a title="Delete" class="confirmLink" href="/manage/store-del?id=<?php echo $store['id'];?>"> <i class="icon-trash"></i></a>-->
                    <?php endif ?>
                    
                    <?php if ($this->access('manage', 'store-undel') && isset($store['del']) && $store['del']): ?>
                        <a title="Undelete" class="confirmLink" href="/manage/store-undel?id=<?php echo $store['id'];?>"> <i class="icon-repeat"></i></a>
                    <?php endif ?>
					<a title="Edit" href="/manage/update-gps?id=<?php echo $store['id'];?>"> <i class="icon-edit"></i>Admin Update Gps</a>
                    <?php if ($this->access('manage', 'store-gps') && ( $this->title == 183 || $this->title = 190)): ?>
                        <?php // if ((strlen($store['latitude']) > 0) and (strlen($store['longitude']) > 0)) :
							if(1 == 1) :
						?>
                            <?php // else: ?>
							<!-- 
                            <a title="Cập nhật GPS"  class="get_gps" href="#" rel_id=<?php echo $store['id'];?> >  <i class="icon-map-marker"></i></a>
							 -->
                        <?php  endif ?>
                        
                    <?php endif ?>
                    <!-- <i class="fa fa-map-marker" aria-hidden="true"></i> -->
                </td>
            </tr>
        <?php endforeach;?>

    </tbody>
</table>
<div class="paging">
    <?php echo $this->paging($this->total, $this->limit, $this->offset, $this->url);?>
</div>
<?php echo $this->load();?>

<script type="text/javascript">

$('.error_gps').click(function () {
	 var id = $(this).attr('rel_id');
	 var latitude = $('#latitude').val();
	 var longitude = $('#longitude').val();
	 $.ajax({
         type: 'post',
         url: '/manage/update-gps-store',
         data:
         {
             "id": id,
             "error_gps": 1,
             "latitude": latitude,
             "longitude": longitude
         },
         typeType: 'json',
         cache: false,
         success: function (data)
         {
             alert('Thành công');
             setTimeout(function() { 
          	    window.location.href = "/manage/store"; 
          	 }, 1000);
         }
     });
});

$('.get_gps').click(function () {
	
	 var id = $(this).attr('rel_id');

	 var address = $('#address1').val();
	 var latitude = $('#latitude').val();
	 var longitude = $('#longitude').val();

	 if(latitude == '' || longitude == ''){
		alert('Vui lòng bật GPS');
		setTimeout(function() { 
          	    window.location.href = "/manage/store"; 
          	 }, 1000);
		exit();
	 }
		
	 $.ajax({
         type: 'get',
         url: '/manage/update-gps-store',
         data:
         {
             "id": id,
             "address": address,
             "latitude": latitude,
             "longitude": longitude
         },
         typeType: 'json',
         cache: false,
         success: function (data)
         {
             alert('Thành công');
		   console.log(data);
		   
             setTimeout(function() { 
          	    window.location.href = "/manage/store"; 
          	 }, 1000);
			  
         }
     });
	 
});

        navigator.geolocation.getCurrentPosition(success, error);

        function success(position) {

            var GEOCODING = 'https://maps.googleapis.com/maps/api/geocode/json?latlng=' + position.coords.latitude + '%2C' + position.coords.longitude + '&language=en';

            $.getJSON(GEOCODING).done(function(location) {
            	$('#address1').val(location.results[0].formatted_address);
                $('#latitude').val(position.coords.latitude);
                $('#longitude').val(position.coords.longitude);
            })

        }

        function error(err) {
            console.log(err)
        }
    </script>