
    <form class="form-search form-horizontal" method="get" action="/manage/store">
        
    
    <?php if ($this->title == 183): ?>
        <div class="row">
            <div class="span12">
                <div class="control-group">
                <label for="name" class="control-label">Store Gps</label>
                <div class="controls">
                    <select id="gps" name="gps">
                        <option value="">Choose</option>
                        <option value="1">Is GPS</option>
                        <option value="2">No</option>
                    </select>
                </div>
            </div>
        </div>
        <?php else: ?>
      
        <div class="row">
            <div class="span5">
                <div class="control-group">
                    <label for="name" class="control-label">Store Gps</label>
                    <div class="controls">
                        <select id="gps" name="gps">
                            <option value="">Choose</option>
                            <option value="1" <?php if (isset($this->params['gps']) and $this->params['gps']==1):?>selected<?php endif;?>>Is GPS</option>
                            <option value="2" <?php if (isset($this->params['gps']) and $this->params['gps']==2):?>selected<?php endif;?>>No</option>
                        </select>
                    </div>
                </div>
                <div class="control-group">
                    <label for="name" class="control-label">Name</label>
                    <div class="controls">
                        <input id="name" name="name" type="text" value="<?php isset($this->params['name']) and printf($this->params['name']);?>">
                    </div>
                </div>
                <div class="control-group">
                    <label for="address" class="control-label">Address</label>
                    <div class="controls">
                        <input id="address" name="address" type="text" value="<?php isset($this->params['address']) and printf($this->params['address']);?>">
                    </div>
                </div>
                <div class="control-group">
                    <label for="staff_email" class="control-label">Staff email</label>
                    <div class="controls">
                        <input id="staff_email" name="staff_email" type="text" value="<?php isset($this->params['staff_email']) and printf($this->params['staff_email']);?>">
                    </div>
                </div>
                <div class="control-group">
                    <label for="partner_id" class="control-label">Partner ID</label>
                    <div class="controls">
                        <input id="partner_id" name="partner_id" type="text" value="<?php if(isset($this->params['partner_id'])) echo $this->params['partner_id'];?>">
                    </div>
                </div>

                <div class="control-group">
                    <label for="" class="control-label">Assign Staff Status</label>
                    <div class="controls">
                        <label class="label label-success" for="have_pg">
                            <input type="checkbox" id="have_pg" name="have_pg" value="1"
                                <?php if(isset($this->params['have_pg']) && $this->params['have_pg'] == 1) echo 'checked' ?> /> Have PG
                        </label>
                        <label class="label label-primary" for="have_sales">
                            <input type="checkbox" id="have_sales" name="have_sales" value="1"
                                <?php if(isset($this->params['have_sales']) && $this->params['have_sales'] == 1) echo 'checked' ?> /> Have Sales
                        </label>
                        <label class="label label-important" for="no_staff">
                            <input type="checkbox" id="no_staff" name="no_staff" value="1"
                                <?php if(isset($this->params['no_staff']) && $this->params['no_staff'] == 1) echo 'checked' ?> /> No Staff
                        </label>
                    </div>
                </div>
            </div>
            <div class="span5">
                <div class="control-group">
                    <label for="area_id" class="control-label">Area</label>
                    <div class="controls">
                        <select id="area_id" name="area_id">
                            <option value="">Choose</option>
                            <?php
                            if ($this->areas) :
                                foreach ($this->areas as $area):
                                    ?>
                                    <option value="<?php echo $area->id;?>" <?php if (isset($this->params['area_id']) and $this->params['area_id']==$area->id):?>selected<?php endif;?>><?php echo $area->name;?></option>
                                <?php
                                endforeach;
                            endif;
                            ?>
                        </select>
                    </div>
                </div>

                <div class="control-group">
                    <label for="regional_market" class="control-label">Province</label>
                    <div class="controls">
                        <select id="regional_market" name="regional_market">
                            <option value="">Choose</option>
                            <?php
                            if ($this->regional_markets) :
                                foreach ($this->regional_markets as $regional_market):?>
                                    <option value="<?php echo $regional_market->id;?>" <?php if (isset($this->params['regional_market']) and $this->params['regional_market']==$regional_market->id):?>selected<?php endif;?>><?php echo $regional_market->name;?></option>
                                <?php
                                endforeach;
                            endif;
                            ?>
                        </select>
                    </div>
                </div>

                <div class="control-group">
                    <label for="district" class="control-label">District</label>
                    <div class="controls">
                        <select id="district" name="district">
                            <option value="">Choose</option>
                            <?php
                            if ($this->districts) :
                                foreach ($this->districts as $regional_market):?>
                                    <option value="<?php echo $regional_market->id;?>" <?php if (isset($this->params['district']) and $this->params['district']==$regional_market->id):?>selected<?php endif;?>><?php echo $regional_market->name;?></option>
                                <?php
                                endforeach;
                            endif;
                            ?>
                        </select>
                    </div>
                </div>

                <div class="control-group">
                    <label class="control-label" >Dealer Name</label>
                    <div class="controls">
                        <input type='text' name='SearchBox' id="SearchBox" placeholder="Search" autocomplete="off" />
                        <select class="span5" name="d_id" id="d_id" size="5">
                        </select>
                    </div>
                </div>
            </div>
        </div>   
    <?php endif ?>


    



    <div class="span12">
        <button type="submit" class="btn btn-primary">Search</button>
    <button type="reset" class="btn btn-warning">Reset</button>

    <?php if ($this->access('sales-report', 'store-list')): ?>
        <button type="submit" name="export" value="1" formaction="<?php echo HOST ?>sales-report/store-list" class="btn btn-info">Export</button>
		<button type="submit" name="export_not_gps" value="1" class="btn btn-info">Export NOT GPS</button>
    <?php endif ?>
    </div>
    

    <!-- <a href="/manage/view-store-staff" class="btn btn-primary">View Store-Staff History</a> -->
</form>



<script>
// function initSearchOption(){
//     var timeout;
//     $("#SearchBox").on("keyup", function () {
//         var userInput = $("#SearchBox").val();
//         window.clearTimeout(timeout);
//         timeout = window.setTimeout(function() {
//             showOnlyOptionsSimilarToText($("#d_id"), userInput, true);
//         }, 500);

//     });
// }


$('#SearchBox').keydown(function (e){
    if(e.keyCode == 13){
        var txt = $(this).val();
        if(txt.length >=2) 
        {   
            $('form').on('submit',function(e){e.preventDefault();});
            $('form button, form input, form select').prop('disabled', true);
            $('.loading').remove();
            $(this).after('<span class="loading"></span>');
            $.ajax({
                url: "/manage/store",
                data:{txt:txt},
                dataType : "html",
                success:function(data){
                    $("#d_id").html(data); 
                    $('.loading').remove();
                }
            });
            $('form').unbind('submit');
            $('form button, form input, form select').prop('disabled', false);
            
        }
        return false;  
    }
});

$(document).ready(function () {
    //initSearchOption();

    $('#area_id').change(function(){
        $(this).after('<span class="loading"></span>');
        var _self = $(this);
        var area_id = $(this).val();
        $.get("/staff/load-province",
            {area_id: area_id}
            ,function(data,status){
                var obj = $.parseJSON( data );
                $('#regional_market').find('option:not(:first)').remove();
                for (var i = 0; i < obj.length; i++) {
                    $('#regional_market').append('<option value="'+obj[i]['id']+'">'+obj[i]['name']+'</option>');
                }
                _self.nextAll('.loading').remove();
            });
    });

    $('#regional_market').change(function(){
        $('form').bind('submit',function(e){e.preventDefault();});
        $('form button, form input, form select').prop('disabled', true);
        $('.loading').remove();

        $(this).after('<span class="loading"></span>');
        var _self = $(this);
        var region = $(this).val();
        $.post("/ajax/get-district-cbb", {
                region: region
            }
            ,function(data,status){
                $('#district').find('option:not(:first)').remove();

                try {
                    if (data) {
                        var obj = $.parseJSON( data );

                        for (var i = 0; i < obj.length; i++) {
                            $('#district').append('<option value="'+obj[i]['id']+'">'+obj[i]['name']+'</option>');
                        }
                    }

                } catch(err) {

                } finally {
                    $('.loading').remove();
                    $('form').unbind('submit');
                    $('form button, form input, form select').prop('disabled', false);
                }
            });
    });

    $('#no_staff').on('change', function() {
        if ($('#no_staff').prop('checked')) {
            $('#have_sales').prop('checked', false);
            $('#have_pg').prop('checked', false);
        }
    });

    $('#have_sales, #have_pg').on('change', function() {
        if ($('#have_sales').prop('checked') || $('#have_pg').prop('checked') ) {
            $('#no_staff').prop('checked', false);
        }
    });
});
</script>