
<!-- 
 * 16/05/2017
 * add store leader for brandshop
 -->

<?php if (isset($this->brandshop) && $this->brandshop && $this->brandshop == 1): ?>
    <!-- store leader -->
    <div class="row-fluid">
        <div class="span12">
            <div class="control-group">
            <legend>Store Leader</legend>
                <select name="pic_name_store_leader" id="pic_name_store_leader" class="span6" multiple="multiple">
                    <?php if ($this->store_leader): ?>
                    <?php foreach ($this->store_leader as $k=>$staff): ?>
                        <option value="<?php echo $staff['id'] ?>"><?php echo $staff['firstname'] . ' ' . $staff['lastname'] 
                            . ' | ' . preg_replace('/'.EMAIL_SUFFIX.'/', '', $staff['email']) 
                            . (isset($this->regional_market_cache[$staff['regional_market']]) 
                                ? (' | ' .$this->regional_market_cache[$staff['regional_market']] ) 
                                :'' ) ?></option>

                    <?php endforeach ?>
                    <?php endif ?>
                </select>
                <?php if (in_array($this->group_id, array(ADMINISTRATOR_ID, SALES_EXT_ID))): ?>
                    <input id="pic2" name="pic2" type="hidden" value="" />
                    <button id="remove_btn_store_leader" class="btn btn-warning pull-right" type="button">Remove Store Leader</button>
                <?php endif ?>
            </div>
        </div>
    </div>
    <!-- store leader -->
<?php endif ?>


<div class="row-fluid">
    <div class="span12">
    	<div class="control-group">
    	<legend>Sales</legend>
            <select name="pic_name_sales" id="pic_name_sales" class="span6" multiple="multiple">
                <?php if ($this->leaders): ?>
                <?php foreach ($this->leaders as $k=>$staff): ?>
                    <option value="<?php echo $staff['id'] ?>"><?php echo $staff['firstname'] . ' ' . $staff['lastname'] 
                    	. ' | ' . preg_replace('/'.EMAIL_SUFFIX.'/', '', $staff['email']) 
                    	. (isset($this->regional_market_cache[$staff['regional_market']]) 
                    		? (' | ' .$this->regional_market_cache[$staff['regional_market']] ) 
                    		:'' ) ?></option>

                <?php endforeach ?>
                <?php endif ?>
            </select>
            <?php if (in_array($this->group_id, array(ADMINISTRATOR_ID, SALES_EXT_ID))): ?>
                <input id="pic1" name="pic1" type="hidden" value="" />
            	<button id="remove_btn_sales" class="btn btn-success pull-right" type="button">Remove Sales</button>
            <?php endif ?>
        </div>
    </div>
</div>

<div class="row-fluid">
	<div class="span12">
        <div class="control-group">
    		<legend>PG&amp;PB <!-- <?php if ($this->store['is_tgdd'] == 1): ?>
                
            <button href="#myModal" id="openBtn" data-toggle="modal" class="btn btn-default btn-set">Set KPI</button><?php endif ?> --></legend> 
            <select name="pic_name_pg" id="pic_name_pg" class="span6" multiple="multiple">
                <?php if ($this->staffs): ?>
                <?php foreach ($this->staffs as $k=>$staff): ?>
                    <option value="<?php echo $staff['id'] ?>"><?php echo $staff['firstname'] . ' ' . $staff['lastname'] 
                    	. ' | ' . preg_replace('/'.EMAIL_SUFFIX.'/', '', $staff['email'])
                    	. (isset($this->regional_market_cache[$staff['regional_market']]) 
                    		? (' | ' .$this->regional_market_cache[$staff['regional_market']] ) 
                    		:'' ) ?></option>

                <?php endforeach ?>
                <?php endif ?>
            </select>
            <?php if (in_array($this->group_id, array(ADMINISTRATOR_ID, SALES_EXT_ID))): ?>
                <input id="pic" name="pic" type="hidden" value="" />
                <button id="remove_btn_pg" class="btn btn-info pull-right" type="button">Remove PG/PB</button>
            <?php endif ?>
            
        </div>
    </div>
</div>


<!-- PG leader -->
    <div class="row-fluid">
        <div class="span12">
            <div class="control-group">
            <legend>PG Leader</legend>
                <select name="pic_name_pg_leader" id="pic_name_pg_leader" class="span6" multiple="multiple">
                    <?php if ($this->pg_leader): ?>
                    <?php foreach ($this->pg_leader as $k=>$staff): ?>
                        <option value="<?php echo $staff['id'] ?>"><?php echo $staff['firstname'] . ' ' . $staff['lastname'] 
                            . ' | ' . preg_replace('/'.EMAIL_SUFFIX.'/', '', $staff['email']) 
                            . (isset($this->regional_market_cache[$staff['regional_market']]) 
                                ? (' | ' .$this->regional_market_cache[$staff['regional_market']] ) 
                                :'' ) ?></option>

                    <?php endforeach ?>
                    <?php endif ?>
                </select>
                <?php if (in_array($this->group_id, array(ADMINISTRATOR_ID, SALES_EXT_ID))): ?>
                    <input id="pic3" name="pic3" type="hidden" value="" />
                    <button id="remove_btn_pg_leader" class="btn btn-danger pull-right" type="button">Remove PG Leader</button>
                <?php endif ?>
                
            </div>
        </div>
    </div>
    <!-- PG leader -->

<!-- PG CONSULTANT -->
    <div class="row-fluid">
        <div class="span12">
            <div class="control-group">
            <legend>	PRODUCT CONSULTANT</legend>
                <select name="pic_name_Consult" id="pic_name_Consult" class="span6" multiple="multiple">
                    <?php if ($this->pg_Consult): ?>
                    <?php foreach ($this->pg_Consult as $k=>$staff): ?>
                        <option value="<?php echo $staff['id'] ?>"><?php echo $staff['firstname'] . ' ' . $staff['lastname'] 
                            . ' | ' . preg_replace('/'.EMAIL_SUFFIX.'/', '', $staff['email']) 
                            . (isset($this->regional_market_cache[$staff['regional_market']]) 
                                ? (' | ' .$this->regional_market_cache[$staff['regional_market']] ) 
                                :'' ) ?></option>

                    <?php endforeach ?>
                    <?php endif ?>
                </select>
            
                
            </div>
        </div>
    </div>
    <!-- PG CONSULTANT -->


<div class="row-fluid">
        <div class="control-group">
            <label for="s_name">Search</label>
            <input type="text" class="form-control span6" id="s_name" placeholder="Enter Staff name then press ENTER" name="s_name" />
        </div>
</div>
<div class="row-fluid">
        <div class="control-group">
            <label for="">Result</label>
            <div class="load-ajax">
                <?php echo $this->partial('staff/partials/searchname.phtml',array()); ?>
            </div>
        </div>
</div>
<div class="row-fluid">
    <?php if (in_array($this->group_id, array(ADMINISTRATOR_ID, SALES_EXT_ID))): ?>
    <?php if (isset($this->brandshop) && $this->brandshop && $this->brandshop == 1): ?>
        <!-- store leader -->
        <button id="add_btn_store_leader" class="btn btn-warning" type="button">Add as Store Leader</button>
        <!-- store leader -->
    <?php endif?>
    <?php endif?>

    <?php if (in_array($this->group_id, array(ADMINISTRATOR_ID, SALES_EXT_ID))): ?>
           <button id="add_btn_sales" class="btn btn-success" type="button">Add as Sales</button>
            <button id="add_btn_pg" class="btn btn-info" type="button">Add as PG</button>
            <button id="add_btn_pg_leader" class="btn btn-danger" type="button">Add as PG Leader</button>
    <?php endif ?>
    
</div>
<br>

<div class="modal fade" id="myModal">
<div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h3 class="modal-title">Setting</h3>
        </div>
        <div class="modal-body">
          

          <table class="table table-striped" id="tblGrid">
            <h4 class="message" id="message" style="color:#00BA8B;margin-bottom: 10px;text-align: center"></h4>
            <thead id="tblHead">
              <tr>
                <th>Staff</th>
                <th>Code</th>
                <th>From date</th>
                <th class="text-right">Is KPI</th>
              </tr>
            </thead>
            <tbody>
              <?php if ($this->pgTgdd): ?>
                    <?php foreach ($this->pgTgdd as $key => $value): ?>
                        <tr>
                            <td><?php echo $value['name']?></td>
                            <td><?php echo $value['code']?></td>
                            <td><?php echo $value['from_date']?></td>
                            <td class="text-right"><input type="radio" <?php echo $value['is_kpi'] == 1 ? 'checked' : NULL ?> id="is-kpi-new" name="is_kpi_new" value="<?php echo $value['id']?>"></td>
                        </tr>
                    <?php endforeach ?>
              <?php endif ?>
            </tbody>
          </table>
          
        </div>
        <div class="modal-footer">
          <input type="hidden" id="id-kpi-old" value="<?php echo $this->id_kpi?>">
          <input type="hidden" id="id-store" value="<?php echo $this->id_store?>">
          <button type="button" id="close" class="btn btn-default" data-dismiss="modal">Close</button>
          <button type="button" class="btn btn-primary" id="save">Save Changes</button>
        </div>
                
      </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
  </div><!-- /.modal -->

  <script>
    $(document).ready(function () {
        $(".btn-set").click(function(){
            $("#message").addClass('hidden');
        });



        $("#save").click(function(){
            var id_kpi_old = $("#id-kpi-old").val();
            var id_kpi_new = $('#is-kpi-new:checked').val();
            var id_store = $('#id-store').val();
            var url = "window.location.href='/manage/store-edit?id="+id_store+"'";
            console.log(url);
            if(!id_kpi_new) {
                alert("Bạn chưa chọn PG để set KPI , Vui lòng kiểm tra lại.");
            }else {
                $.ajax({
                        url: "/ajax/set-kpi-pg-tgdd",
                        type : "POST",
                        data:{id_kpi_old: id_kpi_old, id_kpi_new: id_kpi_new},
                        dataType : "json",
                        success:function(data){
                            if(data.error)
                            {
                                $(".message").html("PG này đang được set KPI . Vui lòng chọn PG khác.");
                                setTimeout(function(){
                                    $("#close").trigger('click');
                                }, 1500);
                            }

                            if(data.status)
                            {

                                $(".message").html(data.message);
                                $("#message").removeClass('hidden');
                                setTimeout(function(){
                                    $("#close").trigger('click');
                                },3000);
                                
                                setTimeout(url,1500);
                            }
                            else 
                            {
                                $(".message").html("Có lỗi !");
                               
                            } 
                        }   
                    });
                console.log(id_kpi_old);
                console.log(id_kpi_new);
                // return false;
            }
        });
    });
    
  </script>