
<!-- 
 * 16/05/2017
 * add store leader for brandshop
 -->

<?php if (isset($this->brandshop) && $this->brandshop && $this->brandshop == 1): ?>
    <!-- store leader -->
    <div class="row-fluid">
        <div class="span12">
            <div class="control-group">
            <legend>Store Leader</legend>
                <select name="pic_name_store_leader" id="pic_name_store_leader" class="span6" multiple="multiple">
                    <?php if ($this->store_leader): ?>
                    <?php foreach ($this->store_leader as $k=>$staff): ?>
                        <option value="<?php echo $staff['id'] ?>"><?php echo $staff['firstname'] . ' ' . $staff['lastname'] 
                            . ' | ' . preg_replace('/'.EMAIL_SUFFIX.'/', '', $staff['email']) 
                            . (isset($this->regional_market_cache[$staff['regional_market']]) 
                                ? (' | ' .$this->regional_market_cache[$staff['regional_market']] ) 
                                :'' ) ?></option>

                    <?php endforeach ?>
                    <?php endif ?>
                </select>
                <input id="pic2" name="pic2" type="hidden" value="" />
                <button id="remove_btn_store_leader" class="btn btn-warning pull-right" type="button">Remove Store Leader</button>
            </div>
        </div>
    </div>
    <!-- store leader -->
<?php endif ?>


<div class="row-fluid">
    <div class="span12">
    	<div class="control-group">
    	<legend>Sales</legend>
            <select name="pic_name_sales" id="pic_name_sales" class="span6" multiple="multiple">
                <?php if ($this->leaders): ?>
                <?php foreach ($this->leaders as $k=>$staff): ?>
                    <option value="<?php echo $staff['id'] ?>"><?php echo $staff['firstname'] . ' ' . $staff['lastname'] 
                    	. ' | ' . preg_replace('/'.EMAIL_SUFFIX.'/', '', $staff['email']) 
                    	. (isset($this->regional_market_cache[$staff['regional_market']]) 
                    		? (' | ' .$this->regional_market_cache[$staff['regional_market']] ) 
                    		:'' ) ?></option>

                <?php endforeach ?>
                <?php endif ?>
            </select>
            <input id="pic1" name="pic1" type="hidden" value="" />
        	<button id="remove_btn_sales" class="btn btn-success pull-right" type="button">Remove Sales</button>
        </div>
    </div>
</div>

<div class="row-fluid">
	<div class="span12">
        <div class="control-group">
    		<legend>PG&amp;PB</legend>
            <select name="pic_name_pg" id="pic_name_pg" class="span6" multiple="multiple">
                <?php if ($this->staffs): ?>
                <?php foreach ($this->staffs as $k=>$staff): ?>
                    <option value="<?php echo $staff['id'] ?>"><?php echo $staff['firstname'] . ' ' . $staff['lastname'] 
                    	. ' | ' . preg_replace('/'.EMAIL_SUFFIX.'/', '', $staff['email'])
                    	. (isset($this->regional_market_cache[$staff['regional_market']]) 
                    		? (' | ' .$this->regional_market_cache[$staff['regional_market']] ) 
                    		:'' ) ?></option>

                <?php endforeach ?>
                <?php endif ?>
            </select>
            <input id="pic" name="pic" type="hidden" value="" />
        	<button id="remove_btn_pg" class="btn btn-info pull-right" type="button">Remove PG/PB</button>
        </div>
    </div>
</div>


<!-- PG leader -->
    <div class="row-fluid">
        <div class="span12">
            <div class="control-group">
            <legend>PG Leader</legend>
                <select name="pic_name_pg_leader" id="pic_name_pg_leader" class="span6" multiple="multiple">
                    <?php if ($this->pg_leader): ?>
                    <?php foreach ($this->pg_leader as $k=>$staff): ?>
                        <option value="<?php echo $staff['id'] ?>"><?php echo $staff['firstname'] . ' ' . $staff['lastname'] 
                            . ' | ' . preg_replace('/'.EMAIL_SUFFIX.'/', '', $staff['email']) 
                            . (isset($this->regional_market_cache[$staff['regional_market']]) 
                                ? (' | ' .$this->regional_market_cache[$staff['regional_market']] ) 
                                :'' ) ?></option>

                    <?php endforeach ?>
                    <?php endif ?>
                </select>
                <input id="pic3" name="pic3" type="hidden" value="" />
                <button id="remove_btn_pg_leader" class="btn btn-danger pull-right" type="button">Remove PG Leader</button>
            </div>
        </div>
    </div>
    <!-- PG leader -->



<div class="row-fluid">
        <div class="control-group">
            <label for="s_name">Search</label>
            <input type="text" class="form-control span6" id="s_name" placeholder="Enter Staff name then press ENTER" name="s_name" />
        </div>
</div>
<div class="row-fluid">
        <div class="control-group">
            <label for="">Result</label>
            <div class="load-ajax">
                <?php echo $this->partial('staff/partials/searchname.phtml',array()); ?>
            </div>
        </div>
</div>
<div class="row-fluid">
    <?php if (isset($this->brandshop) && $this->brandshop && $this->brandshop == 1): ?>
        <!-- store leader -->
        <button id="add_btn_store_leader" class="btn btn-warning" type="button">Add as Store Leader</button>
        <!-- store leader -->
    <?php endif?>

    <button id="add_btn_sales" class="btn btn-success" type="button">Add as Sales</button>
    <button id="add_btn_pg" class="btn btn-info" type="button">Add as PG</button>
    <button id="add_btn_pg_leader" class="btn btn-danger" type="button">Add as PG Leader</button>
</div>
<br>