<form class="form-search form-horizontal" method="get" action="/purchasing/list-purchasing-rating">
    <div class="row">
        <div class="span5">
            <div class="control-group">
                <label for="supplier_name" class="span2">Supplier Name</label>
                <input id="supplier_name" name="supplier_name" type="text" class="input-medium search-query form-control span2">
            </div>
            <div class="control-group">
                <label for="department_name" class="span2">Department Name</label>
                <input id="department_name" name="department_name" type="text" class="input-medium search-query form-control span2">
            </div>
            
            <div class="control-group">
                <label for="times" class="span2">Times</label>
                <input id="times" name="times" type="text" class="input-medium search-query form-control span2">
            </div>

            <div class="control-group">
                <label for="office_type" class="span2">Purchasing type</label>
                <select name="purchasing_type_id" id="office_type">
                	 <option value="">Please select</option>
                    <?php if(isset($this->purchasing_type) AND $this->purchasing_type):?>
                        <?php foreach($this->purchasing_type as $key => $value): ?>
                            <option value="<?php echo $value['id'];?>"><?php echo $value['name'];?></option>
                        <?php endforeach;?>
                    <?php endif;?>
                </select>
            </div>
            <div class="control-group">
                <label for="date" class="span2">Date</label>
                <input id="date" name="date" type="text" class="input-medium search-query form-control span2">
            </div>
            <div class="control-group">
                <label for="point" class="span2">Point</label>
                <select name="point" id="point">
                    <option value="">Please select</option>
                    <option value="1">Không đạt</option>
                    <option value="2">Đạt</option>
                    <option value="3">Rất đạt</option>

                </select>
            </div>




        </div>

        <div class="span5">

        </div>
    </div>

    <button type="submit" class="btn btn-primary">Search</button>
    <button type="reset" class="btn btn-warning">Reset</button>
    <button type="submit" name="export" value="1" class="btn btn-success">Export</button>

</form>


