<style>
    .numbering {counter-reset: rowNumber;}
    .numbering tbody tr {counter-increment: rowNumber;}
    .numbering tbody tr td:first-child::before {content: counter(rowNumber);min-width: 1em;margin-right: 0.5em;}
    .input-append .date {width: 50%;}
    .edit_date {min-width: 180px;}
    .edit_date input {min-width: 70px;}
    .edit_lbl {cursor: pointer;}
    .modified {background: #fed !important;}
    .table td:nth-child(2) {width: 35%;}
    .table td:nth-child(3) {width: 10%;}
    .table td:nth-child(4) {width: 10%;}
    .table td:nth-child(5) {width: 10%;}
    #a_storeresult {width: 100%;}
    .input-append {display: inline-block;float: left;margin-left: 20px !important;width: 50% !important;}
    .input-append .form-control {width: 70%;}
</style>
<div class="page-header">
    <h1>List Store <?php echo isset($this->store[0]['area_chanel']) ? $this->store[0]['area_chanel'] : '';?></h1>
</div>

<?php if ($this->access('manage', 'store-area-save')): ?>
<iframe name="ifrmSave" id="ifrmSave" width="100%" style="display:none;"></iframe>
<form action="<?php echo HOST ?>manage/store-area-save" method="post" id="form" class="form-inline" target="ifrmSave">
    <input type="hidden" name="store_ids" id="store_ids">
    <input type="hidden" name="store_remove_ids" id="store_remove_ids">
    <input type="hidden" name="joined_dates" id="joined_dates">
    <input type="hidden" name="area" id="id" value="<?php echo isset($this->store[0]['area_id']) ? $this->store[0]['area_id'] : '';?>">
    <button class="btn btn-primary" type="button" id="btn_save">Save</button>
    <button class="btn btn-warning" type="button" onclick="window.location='<?php echo HOST ?>manage/store-area-chanel'">Go Back</button>
</form>
<?php endif; ?>

<?php
    if (isset($this->messages) and $this->messages)
        foreach ($this->messages as $message):
            echo '<div class="alert alert-success">'.$message.'</div>';
        endforeach;

    if (isset($this->messages_error) and $this->messages_error)
        foreach ($this->messages_error as $message):
            echo '<div class="alert alert-error">'.$message.'</div>';
        endforeach;
?>

<div class="accordion" id="accordion2">
    <div class="accordion-group">
        <div class="accordion-heading">
            <a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion2" href="#collapseTwo">
                Search
            </a>
        </div>
        <div id="collapseTwo" class="accordion-body collapse" style="height: 0px;">
            <div class="accordion-inner">
                <?php
                echo $this->render('manage/store-area-chanel/partials/search.phtml');
                ?>
            </div>
        </div>
    </div>
</div>

<div class="row-fluid">
    <?php if ($this->access('manage', 'store-area')): ?>
    <div class="span12">
        <div class="accordion" id="addmore">
            <div class="accordion-group">
                <div class="accordion-heading">
                    <a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#addmore" href="#addmoreCollapse">
                        <span><i class="icon-plus-sign"></i></span> Add more stores
                    </a>
                </div>
                <div id="addmoreCollapse" class="accordion-body collapse" style="height: 0px;">
                    <div class="accordion-inner">
                        <?php
                        echo $this->render('manage/store-area-chanel/partials/search-store-to-add.phtml');
                        ?>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <?php endif; ?>

</div>

<div class="table-responsive">
    <?php
    echo $this->render('manage/store-area-chanel/partials/list-store.phtml');
    ?>
</div>
<script type="text/javascript" src="/js/jquery-ui-1.8.12.custom.min.js"></script>
<link rel="stylesheet" type="text/css" href="/css/jquery-ui-1.8.12.custom.css"/>
<script>
    btns = '.btn_remove, .btn_reject, .btn_approve, #btn_save, #btn_bind, #btn_cancel, .btn_asm_remove';
    old_val = '';

    function palert(msg){
        $('.alert-error').remove();
        $('.page-header').after('<div class="alert alert-error">'+msg+'</div>');
        $('button').prop('disabled', false);
        return;
    }

    $(document).ready(function() {
        search_filter();
        remove_store();
        $('.edit_lbl').click(init_edit);

        $('#myTab a').click(function (e) {
            e.preventDefault();
            $(this).tab('show');
        })

        $( "#a_storename" ).keypress(function( event ) {
            if ( event.which == 13 ) {
                event.preventDefault();
                
                search_store(this);
                return false;
            }
        });
        //
        $('#a_storename_btn').click(function() {
            search_store(this);
        });
        //
        $('#btn_bind').click(function(){
            _self = $('#a_storeresult');
            item = _self.children('option:selected');
            
            var _k = $('.store_list tr').length;
            
            for (var i = 0; i < item.length; i++) {
                if ( ! is_exists( $(item[i]).data('id') ) ) {
                    new_date = new Date().toJSON().slice(0,10);
                    _k++;
                    elm = '<tr class="store" data-id="'+$(item[i]).data('id')+'" data-name="'+$(item[i]).data('name')+'" data-area="'+$(item[i]).data('area')+'" data-region="'+$(item[i]).data('region')+'">'
                            + '<td>'+_k+'</td>'
                            + '<td>'+$(item[i]).data('name')+'</td>'
                            + '<td>'+$(item[i]).data('company-address')+'</td>'
                            + '<td>'+$(item[i]).data('area-name')+'</td>'
                            + '<td></td>'
                            + '<td>\
                                    <p>\
                                        <span class="joindate">'+new_date+'</span>\
                                    </p>\
                                </td>'
                            + '<td><button class="btn btn-warning btn-mini btn_remove">Remove</button></td>\
                                <td></td>'
                            + '</tr>';

                    $('.store_list').append(elm);
                }
            }

            $('.edit_lbl').click(init_edit);
            search_filter();
            remove_store();
        });

        $('#btn_save').click(function(){
            $('button').prop('disabled', true);
            
            //ADD
            var store = $('.store');
            id_str = '';
            for(var i = 0; i < store.length; i++) {
                id_str += $(store[i]).data('id') + ',';
            }
            id_str = id_str.replace(/\,$/, '');
            $('#store_ids').val(id_str);
            //AND ADD
            
            //REMOVE
            var store_remove = $('.remove_store');
            id_remove_str = '';
            for(var i = 0; i < store_remove.length; i++) {
                id_remove_str += $(store_remove[i]).data('id') + ',';
            }
            id_remove_str = id_remove_str.replace(/\,$/, '');
            $('#store_remove_ids').val(id_remove_str);
            //AND REMOVE
            
            $('#form').submit();
        });

        $('.btn_asm_remove').click(removeStoreChanel);
    });
    //
    function search_store(elm) {
        $('button, input, select').prop('disabled', true);
                
        area_id    = $('#a_area').val();
        region_id  = $('#a_province').val();
        store_name = $('#a_storename').val();

        $('.loading').remove();
        var _self = $(elm);
        var targetUrl = '<?php echo HOST."ajax/get-store-for-area" ?>';

        //get ajax content
        var aj = $('.load-ajax');
        if (aj.length && (area_id || region_id || store_name)){
            _self.parents('.control-group').append("<span class=\'loading\'></span>");

            $.post(targetUrl, {
                area_id : area_id,
                region_id : region_id,
                store_name : store_name,
            }, function(data){
                $('button, input, select').prop('disabled', false);
                aj.html(data);                            
                $('.loading').remove();
            });
        }
    }

    function is_exists(id) {
        _des = $('.store_list');
        items = _des.children('.store');
        for(var i = 0; i < items.length; i++) {
            if ($(items[i]).data('id') == id) {
                return true;
            }
        }
        return false;
    }

    function search_filter() {
        $('#btn_f_search').click(function() {
            area      = $('#f_area').val();
            region    = $('#f_province').val();
            storename = $('#f_storename').val();
            $('.store').show();

            $('.store').each(function() {
                _self = $(this);
                if (area && _self.data('area') != area) 
                    _self.hide();

                if (region && _self.data('region') != region) 
                    _self.hide();

                var reg = new RegExp(storename, 'gi');
                if (storename && !_self.data('name').match(reg)) 
                    _self.hide();
            });
        });

        $('#btn_f_reset').click(function() {
            $('#f_area').val('');
            $('#f_province').val('');
            $('#f_storename').val('');
            $('.store').show();
        });
    }
    //
    function remove_store() {
        $('.btn_remove').click(function(){
            _self = $(this);
            _self.parents('tr').remove();
        });
    }
    //
    function init_edit() {
        $self = $(this);
        $(btns).prop('disabled', true);

        $self.parent('p').nextAll('.edit_date').show();
        old_val = $self.parent('p').nextAll('.edit_date').find('.date').val();
        $self.prev('.joindate').hide();
        $self.hide();
        
        $('.date').datetimepicker({
            format : 'yyyy-mm-dd',
            autoclose : true,
            minView : 2
        });

        $('.edit_lbl').unbind('click');

        $self.parent('p').next('.edit_date').find('.btn_save_date').click(function() {
            $self = $(this);
            
            value = $self.prev('.date').val();
            $self.parent('.edit_date').prev('p').find('.joindate').text(value);
            $self.parent('.edit_date').prev('p').find('.joindate, .edit_lbl').show();

            if (value != old_val)
                $self.parents('td').addClass('modified');

            $('.edit_lbl').bind('click', init_edit);
            $(btns).prop('disabled', false);
            $self.parent('.edit_date').hide();
        });

        $self.parent('p').next('.edit_date').find('.btn_cancel_date').click(function() {
            $self = $(this);
            $self.parent('.edit_date').prev('p').find('.joindate, .edit_lbl').show();
            $('.edit_lbl').bind('click', init_edit);
            $(btns).prop('disabled', false);
            $self.parent('.edit_date').hide();
        });
    }


    function removeStoreChanel() {
        $self = $(this);
        $store_id = $self.attr('store-id');
        
        $('.loading').remove();
        $status = $self.parents('td').next('.ajax_status');
        $status.html('<span class="remove_store" data-id='+$store_id+'>Remove</span>');
        
        $self.hide();
        
    }
</script>


