<table class="table table-bordered">
    <thead>
    <tr>
        <?php echo $this->sorting(array(
                '#',
                'name'          => 'Staff name',
                'email'         => 'Email',
                'phone_number'  => 'Phone Number',
                'group_id'      => 'Team',
                'area_id'       => 'Area',
                'province'      => 'Province',
                'current_store' => 'Current Stores',
            ),
            $this->url, $this->sort, $this->desc); ?>
    </tr>
    </thead>
    <tbody>
    <?php
    if (isset($this->staffs) and $this->staffs)
        $inc = $this->offset + 1;
        foreach ($this->staffs as $k=>$d): ?>
            <tr>
                <td>
                    <?php
                    
                    echo $inc++;
                    ?>
                </td>
                <td>
                    <a href="<?php echo HOST ?>manage/sales-brandshop-view?id=<?php echo $d['id'];?>">
                        <?php if (!isset($d['status']) || $d['status'] != My_Staff_Status::On): ?>
                            <del><?php echo $d['firstname'].' ' .$d['lastname'];?></del>
                        <?php else: ?>
                            <?php echo $d['firstname'].' ' .$d['lastname'];?>
                        <?php endif ?>
                    </a>
                </td>
                <td><?php echo str_replace(EMAIL_SUFFIX, '@', $d['email']);?></td>
                <td><?php echo $d['phone_number'];?></td>
                <td><?php echo 'Sale Leader'; ?></td>
                <td><?php if(isset($this->areas[ $this->regions[ $d['regional_market'] ]['area_id'] ])) echo $this->areas[ $this->regions[ $d['regional_market'] ]['area_id'] ];?></td>
                <td><?php if(isset($this->regions[ $d['regional_market'] ])) echo $this->regions[ $d['regional_market'] ]['name'];?></td>
                <td><?php echo $d['current_store'] ?></td>

            </tr>
        <?php endforeach;?>

    </tbody>
</table>
<div class="paging">
    <?php echo $this->paging($this->total, $this->limit, $this->offset, $this->url);?>
</div>