
<div class="wrap_content asm_province">

	<div class="top">
		<div class="top_left">
			<div class="avatar">
				<img src="<?php echo HOST;?>img/order_details.png">
			</div>

		</div>

		<div class="top_right">
			<div class="info">
				<div class="name">Đăng Ký Tháng 12/2017</div>
				<div class="name">Khu vực: NAM DINH</div>
				<div class="address" style="color:red">Tỉnh: Thái Bình</div>
				<a class="create_new" href="<?php echo HOST;?>react-native/asm-province">Back</a>
			</div>
		</div>
	</div><!-- end top -->

	<div class="mid">


		<div class="table_order">

			<table class="table table_province table-bordered">
				<tr>
					<td rowspan="2">Tỉnh</td>
					<td colspan="3">Tủ kính trưng bày</td>
					<td colspan="3">Bàn trải nghiệm</td>
					<td colspan="3">Bục góc</td>
					<td colspan="3">Bộ mica trưng bày</td>
					<td rowspan="2">Trạng thái</th>
					<td rowspan="2"></th>
				</tr>
				<tr>
					<td>HM</td>
					<td>HC</td>
					<td>DK</td>

					<td>HM</td>
					<td>HC</td>
					<td>DK</td>

					<td>HM</td>
					<td>HC</td>
					<td>DK</td>

					<td>HM</td>
					<td>HC</td>
					<td>DK</td>

				</tr>
				<tr>
					<td>Kiến Xương</td>
					<td>17</td>
					<td>10</td>
					<td>6</td>

					<td>17</td>
					<td>10</td>
					<td style='color:red'>16</td>

					<td>17</td>
					<td>10</td>
					<td>6</td>

					<td>17</td>
					<td>10</td>
					<td>6</td>

					<td><label class="label label-warning">Waitting ASM</label></td>
					<td><a class="details_district" href="<?php echo HOST;?>react-native/asm-details">Chi tiết</a></td>
					
				</tr>
				<tr>
					<td>Quỳnh Phụ</td>
					<td>17</td>
					<td>10</td>
					<td style='color:red'>10</td>

					<td>17</td>
					<td>10</td>
					<td>6</td>

					<td>17</td>
					<td>10</td>
					<td>6</td>

					<td>17</td>
					<td>10</td>
					<td>6</td>
					<td><label class="label label-warning">Waitting ASM</label></td>
					<td><a class="details_district" href="<?php echo HOST;?>react-native/asm-details">Chi tiết</a></td>
					
				</tr>

				<tr>
					<td>Thái Thụy</td>
					<td>17</td>
					<td>10</td>
					<td>6</td>

					<td>17</td>
					<td>10</td>
					<td>6</td>

					<td>17</td>
					<td>10</td>
					<td>6</td>

					<td>17</td>
					<td>10</td>
					<td>6</td>

					<td><label class="label label-warning">Waitting ASM</label></td>
					<td><a class="details_district" href="<?php echo HOST;?>react-native/asm-details">Chi tiết</a></td>
					
				</tr>


				<tr>
					<td>Tiền Hải</td>
					<td>17</td>
					<td>10</td>
					<td>6</td>

					<td>17</td>
					<td>10</td>
					<td>6</td>

					<td>17</td>
					<td>10</td>
					<td>6</td>

					<td>17</td>
					<td>10</td>
					<td>6</td>

					<td><label class="label label-warning">Waitting ASM</label></td>
					<td><a class="details_district" href="<?php echo HOST;?>react-native/asm-details">Chi tiết</a></td>
					
				</tr>


				<tr>
					<td>Vũ Thư</td>
					<td>17</td>
					<td>10</td>
					<td>6</td>

					<td>17</td>
					<td>10</td>
					<td>6</td>

					<td>17</td>
					<td>10</td>
					<td>6</td>

					<td>17</td>
					<td>10</td>
					<td>6</td>

					<td><label class="label label-warning">Waitting ASM</label></td>
					<td><a class="details_district" href="<?php echo HOST;?>react-native/asm-details">Chi tiết</a></td>
					
				</tr>


				<tr>
					<td>Hưng Hà</td>
					<td>17</td>
					<td>10</td>
					<td>6</td>

					<td>17</td>
					<td>10</td>
					<td>6</td>

					<td>17</td>
					<td>10</td>
					<td>6</td>

					<td>17</td>
					<td>10</td>
					<td>6</td>

					<td><label class="label label-warning">Waitting ASM</label></td>
					<td><a class="details_district" href="<?php echo HOST;?>react-native/asm-details">Chi tiết</a></td>
					
				</tr>


				<tr>
					<td>Đông Hưng</td>
					<td>17</td>
					<td>10</td>
					<td>6</td>

					<td>17</td>
					<td>10</td>
					<td>6</td>

					<td>17</td>
					<td>10</td>
					<td>6</td>

					<td>17</td>
					<td>10</td>
					<td>6</td>

					<td><label class="label label-warning">Waitting ASM</label></td>
					<td><a class="details_district" href="<?php echo HOST;?>react-native/asm-details">Chi tiết</a></td>
					
				</tr>



				

			</table>
			
		</div><!-- end table_order -->

	</div><!-- end mid -->

	<div class="bottom">
		<div class="mid">

		    <div class="btn_confirm">
				<button class="add_new" name="submit">Confirm</button>
			</div>

		</div>
	</div><!-- end bottom -->


<!-- Modal -->
<div id="myModal" class="modal fade" role="dialog">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Danh sách shop đăng ký</h4>
      </div>
      <div class="modal-body">

		<div class="modal_row">
			

				<div class="content_shop_info">
					<table class="table">
						<tr>
							<th>Shop</th>
							<th>Hiện có</th>
							<th>Hạn mức</th>
							<th>SL</th>
						</tr>
						<tr>
							<td>Nhật Huy 2 - Thái Bình - Chợ Lục,Xã Thái Xuyên, Huyện Thái Thụy, Tinh Thái Bình.</td>
							<td>1</td>
							<td>3</td>
							<td>1</td>
						</tr>
						<tr>
							<td>Minh Tuấn - Thái Bình - Số 376 - Khu 6 - Thị trấn Diêm Điền - Huyện Thái Thuỵ - Tỉnh Thái Bình.</td>
							<td>1</td>
							<td>3</td>
							<td>1</td>
						</tr>
						<tr>
							<td>Quang Thành - Thái Bình - Ngã tư chợ Đồng Hòa _Xóm 2 _ Xã Thụy Phong _ Huyện Thái Thụy- Tỉnh Thái Bình.</td>
							<td>1</td>
							<td>3</td>
							<td>1</td>
						</tr>
						<tr>
							<td>Minh Tiến - Thái Bình - Ngũ Đông _ xã Điệp Nông _ huyện Hưng Hà_ tỉnh Thái Bình.</td>
							<td>1</td>
							<td>3</td>
							<td>1</td>
						</tr>
						<tr style="color:red">
							<td>Điện Thoại 123 - Thái Bình - Ngã tư Chợ Hồ_ Thụy Phong _ Huyện Thái Thụy _ Tỉnh Thái Bình.</td>
							<td>1</td>
							<td>3</td>
							<td>4</td>
						</tr>
						<tr>
							<td>Hoàng Hướng - Thái Bình - Thôn Tân Ấp 2, Xã Minh Tân, Huyện Kiến Xương, Tỉnh Thái Bình.</td>
							<td>1</td>
							<td>3</td>
							<td>1</td>
						</tr>
						<tr>
							<td>555 - Thái Bình - Vô Hối_xã Thụy Thanh_ huyện Thái Thụy_tỉnh Thái Bình.</td>
							<td>1</td>
							<td>3</td>
							<td>1</td>
						</tr>
						<tr>
							<td>TGDĐ - Thái Bình - Nhà ông Vũ Duy Đông, Khu 6, TT.Diêm Điền, H.Thái Thụy, T.Thái Bình.</td>
							<td>1</td>
							<td>3</td>
							<td>1</td>
						</tr>
						<tr>
							<td>Thành Tâm - Thái Bình - Chợ Hồ _ Xã Thụy Phong _ Huyện Thái Thụy _ Tỉnh Thái Bình.</td>
							<td>1</td>
							<td>3</td>
							<td>1</td>
						</tr>
						<tr style="color:red">
							<td>Nhật Huy 2 - Thái Bình - Chợ Lục,Xã Thái Xuyên, Huyện Thái Thụy, Tinh Thái Bình.</td>
							<td>1</td>
							<td>3</td>
							<td>3</td>
						</tr>
						<tr>
							<td>Nhật Huy - Thái Bình - Khu 6 TT Diêm Điền , H. Thái Thụy, Tỉnh Thái Bình.</td>
							<td>1</td>
							<td>3</td>
							<td>1</td>
						</tr>
						<tr>
							<td>Quang Huy - Thái Bình - Chợ Cổng, Thái Thịnh, Huyện Thái Thụy, Tỉnh Thái Bình.</td>
							<td>1</td>
							<td>3</td>
							<td>1</td>
						</tr>
						<tr>
							<td>Đức Phúc - Thái Bình - Ngã tư chợ Lục_Thái Xuyên_ Huyện Thái Thụy _Tỉnh Thái Bình.</td>
							<td>1</td>
							<td>3</td>
							<td>1</td>
						</tr>
					</table>
					
				</div><!-- end mid_shop_info-->


			
		</div><!-- modal_row-->		



      </div><!-- modal-body -->

      <!--
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
  		-->
    </div>

  </div>
</div>
<!-- END Modal -->


</div>

<script>

    $(document).ready(function() {


    	$('.add_new_submit').on('click',function(){
    		var hangmuc = $('.hangmuc').val();
    		var soluong = $('.soluong').val();
    		var hanmuc  = $('.hanmuc').val();
    		var shop = $('.shop').val();

    		var color = 'black';

    		if( parseInt(soluong)+3 > hanmuc ){
    			var color = 'red';
    		}


    		html = '<div class="row_items">\
				<div class="left_items">\
					<div class="title_items">\
						<p>'+hangmuc+'</p>\
					</div>\
					<div class="number_items">\
						<p>Hạn mức: '+hanmuc+', Hiện có: 3</p>\
					</div>\
				</div><!-- end left_items-->\
				<div class="right_items">\
					<div class="col_items">\
						<p style="color:'+color+'">Đăng ký: '+soluong+'</p>\
					</div><!-- right_items-->\
					<div class="action">\
						<a class="remove_item">Hủy</a>\
					</div>\
				</div>\
				<div class="list_shop">'+shop+'</div>\
			</div><!-- end row_items -->';

    		$('.table_order').append(html);

    		$('.hangmuc').val("");
    		$('.soluong').val("");
    		$('.hanmuc').val("");
    		$('.shop').val("");
    		$('.label_info').hide();
    		$('.shop_info').hide();

    	});


    	$(document).on('click', ".remove_item", function() {
    		$(this).closest('.row_items').remove();
    	});


    	$( ".hangmuc" ).change(function() {
    		var hangmuc = $('.hangmuc').val();
    		hanmuc = 5;
    		html = 'Hạn mức đăng ký '+hangmuc+' là: '+hanmuc+'<br/>';
    		html = html+'Số lượng '+hangmuc+' shop hiện có là: 3<br/>';
		    $('.label_info').html(html);
		    $('.label_info').show();
		    $('.hanmuc').val(hanmuc);



		});

		$( ".shop" ).change(function() {
			var shop = $('.shop').val();
			$('.shop_info').show();
			$('.name_shop').html(shop);
		});


    });

</script>



