
<div class="wrap_content">

	<div class="top">
		<div class="top_left">
			<div class="avatar">
				<img src="<?php echo HOST;?>img/order_details.png">
			</div>

		</div>

		<div class="top_right">
			<div class="info">
				<div class="name">Đơn đặt hàng</div>
				<div class="name">PHẠM TRƯỜNG SINH</div>
				<div class="address">Sale - Khu vực: NAM DINH, Tỉnh: Thái Bình</div>
				<a class="create_new" href="<?php echo HOST;?>react-native/list-order">Back</a>
			</div>
		</div>
	</div><!-- end top -->

	<div class="mid">
		<div class="table_order">
			<div class="row_items" style="display: none;">
				<div class="left_items">
					<div class="title_items">
						<p>Tủ kính trưng bày</p>
					</div>

					<div class="number_items">
						<p>Hạn mức: 3, Hiện có: 3</p>
					</div>

				</div><!-- end left_items-->

				<div class="right_items">
					<div class="col_items">
						<p>Đăng ký: 4</p>
					</div><!-- right_items-->
					
					<div class="action">
						<a class="remove_item">Hủy</a>
					</div>
				</div>

				<div class="list_shop">
					<ul>
						<li>Tên shop</li>
					</ul>
					
				</div>

			</div><!-- end row_items -->
		</div><!-- end table_order -->

		<div class="btn_submit">
			<button class="add_new" name="submit" data-toggle="modal" data-target="#myModal">Thêm</button>
			<input type="submit" name="submit" value="Hoàn tất">
		</div>

	</div><!-- end mid -->

	<div class="bottom">
		
	</div><!-- end bottom -->

<!-- Modal -->
<div id="myModal" class="modal fade" role="dialog">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Thêm hạng mục</h4>
      </div>
      <div class="modal-body">


      	<div class="modal_row">
			<select class="tinh">
				<option>--Tỉnh--</option>
				<option>Nam Định</option>
				<option>Thái Bình</option>
			</select>
		</div>
    	   

		<div class="modal_row">
			<select class="huyen">
				<option>--Huyện--</option>
				<option>Kiến Xương</option>
				<option>Quỳnh Phụ</option>
				<option>Thái Thụy</option>
				<option>Tiền Hải</option>
				<option>Vũ Thư</option>
				<option>Hưng Hà	</option>
				<option>Đông Hưng</option>
			</select>
		</div>


		<div class="modal_row">
			<select class="shop">
				<option>--Shop--</option>
				<option value="Nhật Huy 2 - Thái Bình - Chợ Lục,Xã Thái Xuyên, Huyện Thái Thụy, Tinh Thái Bình.">Nhật Huy 2 - Thái Bình - Chợ Lục,Xã Thái Xuyên, Huyện Thái Thụy, Tinh Thái Bình.</option>
				<option value="Minh Tuấn - Thái Bình - Số 376 - Khu 6 - Thị trấn Diêm Điền - Huyện Thái Thuỵ - Tỉnh Thái Bình">Minh Tuấn - Thái Bình - Số 376 - Khu 6 - Thị trấn Diêm Điền - Huyện Thái Thuỵ - Tỉnh Thái Bình</option>
				<option value="Quang Thành - Thái Bình - Ngã tư chợ Đồng Hòa _Xóm 2 _ Xã Thụy Phong _ Huyện Thái Thụy- Tỉnh Thái Bình">Quang Thành - Thái Bình - Ngã tư chợ Đồng Hòa _Xóm 2 _ Xã Thụy Phong _ Huyện Thái Thụy- Tỉnh Thái Bình</option>
				<option value="Minh Tiến - Thái Bình - Ngũ Đông _ xã Điệp Nông _ huyện Hưng Hà_ tỉnh Thái Bình">Minh Tiến - Thái Bình - Ngũ Đông _ xã Điệp Nông _ huyện Hưng Hà_ tỉnh Thái Bình</option>
				<option value="Điện Thoại 123 - Thái Bình - Ngã tư Chợ Hồ_ Thụy Phong _ Huyện Thái Thụy _ Tỉnh Thái Bình">Điện Thoại 123 - Thái Bình - Ngã tư Chợ Hồ_ Thụy Phong _ Huyện Thái Thụy _ Tỉnh Thái Bình</option>
				<option value="Hoàng Hướng - Thái Bình - Thôn Tân Ấp 2, Xã Minh Tân, Huyện Kiến Xương, Tỉnh Thái Bình">Hoàng Hướng - Thái Bình - Thôn Tân Ấp 2, Xã Minh Tân, Huyện Kiến Xương, Tỉnh Thái Bình</option>
				<option value="555 - Thái Bình - Vô Hối_xã Thụy Thanh_ huyện Thái Thụy_tỉnh Thái Bình">555 - Thái Bình - Vô Hối_xã Thụy Thanh_ huyện Thái Thụy_tỉnh Thái Bình</option>
				<option value="TGDĐ - Thái Bình - Nhà ông Vũ Duy Đông, Khu 6, TT.Diêm Điền, H.Thái Thụy, T.Thái Bình">TGDĐ - Thái Bình - Nhà ông Vũ Duy Đông, Khu 6, TT.Diêm Điền, H.Thái Thụy, T.Thái Bình</option>
				<option value="Thành Tâm - Thái Bình - Chợ Hồ _ Xã Thụy Phong _ Huyện Thái Thụy _ Tỉnh Thái Bình">Thành Tâm - Thái Bình - Chợ Hồ _ Xã Thụy Phong _ Huyện Thái Thụy _ Tỉnh Thái Bình</option>
				<option value="TGDĐ - 2124 - MB3_TBI_ĐMX_Mini - Diêm Điền">TGDĐ - 2124 - MB3_TBI_ĐMX_Mini - Diêm Điền</option>
				<option value="Lê Minh Thành- Thái Bình- Khu 6, Thị Trấn Diêm Điền, Huyện Thái Thụy, Tỉnh Thái Bình">Lê Minh Thành- Thái Bình- Khu 6, Thị Trấn Diêm Điền, Huyện Thái Thụy, Tỉnh Thái Bình</option>
				<option value="Mạnh Quỳnh - Thái Bình - Khu 6 _ thị trấn Diêm Điền _ huyện Thái Thụy _ tỉnh Thái Bình">Mạnh Quỳnh - Thái Bình - Khu 6 _ thị trấn Diêm Điền _ huyện Thái Thụy _ tỉnh Thái Bình</option>
				<option value="Nhật Huy - Thái Bình - Khu 6 TT Diêm Điền , H. Thái Thụy, Tỉnh Thái Bình">Nhật Huy - Thái Bình - Khu 6 TT Diêm Điền , H. Thái Thụy, Tỉnh Thái Bình</option>
				<option value="TGDĐ Nhật Minh- Thái Bình - Thái Thụy">TGDĐ Nhật Minh- Thái Bình - Thái Thụy</option>
				<option value="Quang Huy - Thái Bình - Chợ Cổng, Thái Thịnh, Huyện Thái Thụy, Tỉnh Thái Bình">Quang Huy - Thái Bình - Chợ Cổng, Thái Thịnh, Huyện Thái Thụy, Tỉnh Thái Bình</option>
				<option value="Hằng Điều - Thái Bình - Thôn Minh Khai - Xã Chi Lăng - Huyện Hưng Hà - Tỉnh Thái Bình">Hằng Điều - Thái Bình - Thôn Minh Khai - Xã Chi Lăng - Huyện Hưng Hà - Tỉnh Thái Bình</option>
				<option value="Đức Phúc - Thái Bình - Ngã tư chợ Lục_Thái Xuyên_ Huyện Thái Thụy _Tỉnh Thái Bình">Đức Phúc - Thái Bình - Ngã tư chợ Lục_Thái Xuyên_ Huyện Thái Thụy _Tỉnh Thái Bình</option>
			</select>
		</div>



		<div class="modal-row">
			<select title="Select your surfboard" class="selectpicker hangmuc" id="hangmuc">
			  <option>---Chọn hạng mục--</option>	
			  <option data-thumbnail="<?php echo HOST;?>img/tukinhtrungbay.jpg">Tủ kính trưng bày</option>
			  <option data-thumbnail="<?php echo HOST;?>img/bantrainghiem1mat.jpg">Bàn trải nghiệm 1 mặt</option>
			  <option data-thumbnail="<?php echo HOST;?>img/bantrainghiem2mat1m2.jpg">Bàn trải nghiệm 2 mặt 1,2m</option>
			  <option data-thumbnail="<?php echo HOST;?>img/bantrainghiem2mat1m6.jpg">Bàn trải nghiệm 2 mặt 1,6m</option>
			  <option data-thumbnail="<?php echo HOST;?>img/bucvuong.jpg">Bục vuông</option>
			  <option data-thumbnail="<?php echo HOST;?>img/bucgoc.jpg">Bục góc</option>
			  <option data-thumbnail="<?php echo HOST;?>img/bomica9may.jpg">Bộ Mica trưng bày 9 máy</option>
			  <option data-thumbnail="<?php echo HOST;?>img/detrungbaydienthoai.jpg">Đế trưng bày điện thoại</option>
			  <option data-thumbnail="<?php echo HOST;?>img/tusatvachcohinhanh.png">Bộ Mica trưng bày 9 máy</option>
			</select>
		</div><!-- modal-row-->

		<div class="modal_row">
			<label class="label_info"></label>
			<input type="hidden" value="0" class="hanmuc">
		</div>
		
		<div class="modal_row">
			<input type="number" name="number" class="soluong" placeholder="Nhập số lượng đăng ký">
		</div>

		<div class="modal_row">
			<button class="add_new_submit" data-dismiss="modal">Thêm mới</button>
		</div>


		<div class="modal_row">
			<div class="shop_info">
				<div class="top_shop_info">
					<span class="name_shop">Thông tin shop</span>
				</div><!-- end top_shop_info-->

				<div class="content_shop_info">
					<table class="table">
						<tr>
							<th>Tên</th>
							<th>SL</th>
							<th>Ngày</th>
						</tr>
						<tr>
							<td>Bảng hiệu Alu</td>
							<td>1</td>
							<td>2017-07-23</td>
						</tr>
						<tr>
							<td>Tủ kính trưng bày</td>
							<td>3</td>
							<td>2017-07-25</td>
						</tr>
						<tr>
							<td>Tủ sát vách</td>
							<td>3</td>
							<td>2015-07-24</td>
						</tr>
					</table>
					
				</div><!-- end mid_shop_info-->


				<div class="top_shop_info">
					<span>Hình ảnh thực tế</span>
				</div><!-- end top_shop_info-->

				<div class="content_shop_info hinhanhthucte">
					<span>Bảng hiệu Alu</span>
					<img src="<?php echo HOST;?>img/shop_1.png">
					<span>Tủ kính trưng bày</span>
					<img src="<?php echo HOST;?>img/shop_2.png">
					<span>Tủ sát vách</span>
					<img src="<?php echo HOST;?>img/shop_3.jpg">
				</div><!-- end mid_shop_info-->

			</div><!-- enđ shop_info-->
		</div><!-- modal_row-->		



      </div><!-- modal-body -->

      <!--
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
  		-->
    </div>

  </div>
</div>
<!-- END Modal -->



</div>

<script>

    $(document).ready(function() {


    	$('.add_new_submit').on('click',function(){
    		var hangmuc = $('.hangmuc').val();
    		var soluong = $('.soluong').val();
    		var hanmuc  = $('.hanmuc').val();
    		var shop = $('.shop').val();

    		var color = 'black';

    		if( parseInt(soluong)+3 > hanmuc ){
    			var color = 'red';
    		}


    		html = '<div class="row_items">\
				<div class="left_items">\
					<div class="title_items">\
						<p>'+hangmuc+'</p>\
					</div>\
					<div class="number_items">\
						<p>Hạn mức: '+hanmuc+', Hiện có: 3</p>\
					</div>\
				</div><!-- end left_items-->\
				<div class="right_items">\
					<div class="col_items">\
						<p style="color:'+color+'">Đăng ký: '+soluong+'</p>\
					</div><!-- right_items-->\
					<div class="action">\
						<a class="remove_item">Hủy</a>\
					</div>\
				</div>\
				<div class="list_shop">'+shop+'</div>\
			</div><!-- end row_items -->';

    		$('.table_order').append(html);

    		$('.hangmuc').val("");
    		$('.soluong').val("");
    		$('.hanmuc').val("");
    		$('.shop').val("");
    		$('.label_info').hide();
    		$('.shop_info').hide();

    	});


    	$(document).on('click', ".remove_item", function() {
    		$(this).closest('.row_items').remove();
    	});


    	$( ".hangmuc" ).change(function() {
    		var hangmuc = $('.hangmuc').val();
    		hanmuc = 5;
    		html = 'Hạn mức đăng ký '+hangmuc+' là: '+hanmuc+'<br/>';
    		html = html+'Số lượng '+hangmuc+' shop hiện có là: 3<br/>';
		    $('.label_info').html(html);
		    $('.label_info').show();
		    $('.hanmuc').val(hanmuc);



		});

		$( ".shop" ).change(function() {
			var shop = $('.shop').val();
			$('.shop_info').show();
			$('.name_shop').html(shop);
		});


    });

</script>



