<style type="text/css" >
   .waiting-overlay {
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
  opacity: 0;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
  transition: all 200ms ease-out;
  visibility: hidden; }

.waiting-notification {
  font-family: "Myriad Pro";
  position: absolute;
  width: 50%;
  left: 50%;
  transform: translateX(-50%);
  padding: 15px 40px;
  background-color: white;
  opacity: 0;
  top: 10%;
  transition: all 200ms ease-out;
  border-radius: 5px;
  box-sizing: border-box; }
  @media screen and (max-width: 480px) {
    .waiting-notification {
      width: 80%; } }

.waiting-notification span.icon1 {
  color: #555555;
  display: inline-block;
  font-size: 1em; }

.waiting-notification span.icon1:hover {
  color: #555555;
  font-size: 1em; }

    a[disabled="disabled"] {
        pointer-events: none;
    }
    .dialogRemove{display: none;}
    .dialog{display: none;}
    .ui-dialog.ui-widget.ui-widget-content.ui-corner-all.ui-draggable.ui-resizable{width: 350px !important}
</style>

<!-- <button type="button" class="btn btn-primary pull-right" class="mass-update">Update All</button> -->
<table class="table table-bordered">
    <thead>
        

        <tr>
            <!-- <th><input type="checkbox" id="check-all" name="check-all" value="" > <button type="button" class="btn btn-primary pull-right" class="mass-update"><span class="icon-edit"></span></button></th> -->
            <th>#</th>
            <th>IMEI</th>
            <th>Model</th>
            <th>Color</th>
            <th>Store Name</th>
            <th>Timing Date</th>
            <th>Area</th>
            <th>Province</th>
            <!-- <th>District</th> -->
            <!--<th>Kpi</th>-->
            <th>Staff</th>
            <th>Action</th>
            <th>
                <input type="checkbox" name="check_all" id="checkall" value="1">
            </th>
            <?php
//            if (in_array($_SERVER['REMOTE_ADDR'], array('103.37.32.126', '112.109.92.6', '14.161.22.196', '115.78.166.171'))) {
                echo "<th>Installment</th>";
//            }
            ?>

        </tr>
    </thead>

    <tbody>
        <?php if (!empty($this->imei)): ?>

            <?php foreach ($this->imei as $key => $value): ?>
                <?php if ($value['pg_allow'] != "0" || !empty($value['pg_allow'])) $array_pg = explode(',', substr($value['pg_allow'], 1, -1)); ?>
                    <?php 
                  
                ?>
                <tr class="item" <?php
                if ($value['status'] == 2)
                    echo 'style="background-color: #ffff99"';
                else
                    echo '';
                ?> >

                                                                                                <!-- <td>
                    <?php if (empty($value['pg_id'])): ?>
                                                                                                                                                        <input type="checkbox" class="get-imei" name="get-imei" value="<?php echo $value['imei_sn'] ?>"> 
                    <?php endif ?>
                                                                                                   
                                                                                                </td> -->

                    <td>
                        <?php
                        $inc = $this->offset + $key + 1;
                        echo $inc;
                        ?>
                    </td>
            <div id="dialog<?php echo $value['imei_sn'] ?>" class="dialog" title="Xác nhận">
                Bạn muốn chấm Imei - <?php echo $value['imei_sn'] ?> ?
                <!--Vui lòng xác nhận máy có bán trả góp hay không ?-->
            </div>

            <input type="hidden" id="imei-data" value="">
            <td class="imei_customer" data-toggle="tooltip" title="Customer: <?php echo $value['customer_name'] ?> / Address: <?php echo $value['customer_address'] ?> / Phone: <?php echo $value['customer_phone'] ?>"><?php echo $value['imei_sn'] ?></td>
            <td><?php echo $value['model'] ?></td>
            <td><?php echo $value['color'] ?></td>
            <td><?php echo $value['store'] ?></td>
            <td><?php echo $value['timing_date'] ?></td>
            <td><?php echo $value['area'] ?></td>
            <td><?php echo $value['province'] ?></td>
            <!-- <td><?php echo $value['district'] ?></td> -->
            <!--<td><?php // echo $value['kpi_pg']           ?></td>-->
            <td>

                <?php if (empty($value['pg_id'])): ?>


                    <?php if ($this->title == PGPB_TITLE || $this->title == CHUYEN_VIEN_BAN_HANG_TITLE): ?>
                
                        <!--<a href="/manage/imei-sellout-partner-update-kpi<?php echo $this->param; ?>imei_sn=<?php echo $value['imei_sn'] ?>" data-html="true" title="<?php echo $value['pg_string']  ?>" class="btn btn-mini imei_customer confirmLinkUpdate update" data-toggle="tooltip">Chấm imei</a>-->
                        <?php if (empty($value['app_installed'])) { ?>
                            <!--<a href="/manage/imei-sellout-partner-update-kpi?<?php echo $this->param; ?>imei_sn=<?php echo $value['imei_sn'] ?>&app_installing=1" data-html="true" title="<?php echo $value['pg_string'] ?>" class="btn btn-primary imei_customer update btn-app" data-toggle="tooltip">Có cài Yolo</a>-->
                        <?php } else { ?>

                            <!--<button  class=" btn btn-success btn-mini imei_customer" data-toggle="tooltip" title="Name: <?php echo $this->staff_cache[$value['app_installed_pg']]['name'] ?>" type="button" >Đã chấm Yolo thành công</button>-->

                        <?php } ?>
                    <?php elseif ($this->policy_group == 6 || $this->policy_group == 8): ?>
                       
                        <?php if (is_array($array_pg)): ?>
                            <?php foreach ($array_pg as $v_pg): ?>
                 
                                <a href="/manage/imei-sellout-partner-update-kpi<?php echo $this->param; ?>imei_sn=<?php echo $value['imei_sn'] ?>&pg_id=<?php echo $v_pg ?>" data-html="true" 
                                   title="Chấm cho PG : <?php echo $this->staff_cache[$v_pg]['name'] ?> - Code : <?php echo $this->staff_cache[$v_pg]['code'] ?> " class="btn btn-mini imei_customer confirmLinkUpdate update" data-toggle="tooltip"><?php echo $this->staff_cache[$v_pg]['name'] ?></a>

                            <?php 
                              
                            endforeach ?>
                        <?php endif ?>
                    <?php else: ?>
                        <button  class="btn btn-mini imei_customer" data-toggle="tooltip" data-html="true" title="<?php echo $value['pg_string'] ?>" type="button" >NoStaff</button>
                    <?php endif ?>







                <?php else: ?>
                    <button  class=" btn btn-success btn-mini imei_customer" data-toggle="tooltip" title="Name: <?php echo $value['firstname'] ?> <?php echo $value['lastname'] ?> / Email: <?php echo $value['email'] ?> / Code: <?php echo $value['code'] ?> "  type="button" ><?php echo preg_replace('/' . EMAIL_SUFFIX . '/', '', $value['email']) ?>

                    </button>
                    <?php if ($this->title == PGPB_TITLE || $this->title == CHUYEN_VIEN_BAN_HANG_TITLE) { ?>
                        <?php if (empty($value['app_installed'])) { ?>
                            <!--<a href="/manage/imei-sellout-partner-update-kpi<?php echo $this->param; ?>imei_sn=<?php echo $value['imei_sn'] ?>&app_installing=1" data-html="true" title="<?php echo $value['pg_string'] ;?>" class="btn btn-primary imei_customer  update btn-app" data-toggle="tooltip">Có cài Yolo</a>-->

                        <?php } else {
                            ?>
                            <!--<button  class=" btn btn-success btn-mini imei_customer" data-toggle="tooltip" title="Name: <?php echo $this->staff_cache[$value['app_installed_pg']]['name'] ?>" type="button" >Đã chấm Yolo thành công</button>-->
                            <?php
                        }
                    }
                    ?>
                <?php endif ?>
            </td>
            <td>
                <?php if ($value['is_chot'] == 2): ?>
                    <?php echo 'Đã chốt'; ?>
                <?php else: ?>
                    <?php if ($value['pg_id'] != null && ( $value['pg_id'] == $this->user_id || $this->title == SALE_SALE_SALE_ADMIN || $this->title == SALE_SALE_ASM || $this->title == 308 || $this->id == 5899)): ?>
                        <div id="dialogRemove<?php echo $value['imei_sn'] ?>" class="dialogRemove" title="Xác nhận">
                            Bạn muốn bỏ chấm Imei - <?php echo $value['imei_sn'] ?> ?
                        </div>
                        <a title="Bỏ chấm imei" href="/manage/imei-sellout-partner-remove-kpi?imei=<?php echo $value['imei_sn']; ?>&pg_id=<?php echo $value['pg_id']; ?>" class="confirmLinkRemove"><i class="icon-trash"></i></a>
                    <?php endif ?>
                <?php endif ?>

            </td>
            <td>
                <?php if (empty($value['pg_id'])): ?>
                    <?php if ($this->title == PGPB_TITLE || $this->title == CHUYEN_VIEN_BAN_HANG_TITLE): ?>
                        <input type="checkbox" name="ids[]"  class='check_item' value="<?php echo $value['imei_sn'];?>">
                    <?php endif ?>
                <?php endif ?>
            </td>
            <?php //  if (in_array($_SERVER['REMOTE_ADDR'], array('103.37.32.126', '112.109.92.6', '14.161.22.196', '115.78.166.171'))) { ?>
                <td>
                    <select class="form-control" id="<?php echo $value['imei_sn'] ?>_installment_company">
                        <option  value="0">-- Công ty trả góp --</option>
                        <option <?php if (!empty($value['installment_company']) && $value['installment_company'] == 1) {   echo 'selected="selected"';}
                                    ?> value="1">FE Credit</option>
                        <option <?php if (!empty($value['installment_company']) && $value['installment_company'] == 2) {   echo 'selected="selected"';}
                                    ?> value="2">Home Credit</option>
                        <option <?php if (!empty($value['installment_company']) && $value['installment_company'] == 3) {   echo 'selected="selected"';}
                                    ?> value="3">HD Credit</option>
                    </select>
                    <div class="control-group">
                        <input class="form-control" value="<?php if (!empty($value['installment_contract'])) {
                                        echo $value['installment_contract'];
                                    } ?>" type="text" id="<?php echo $value['imei_sn'] ?>_installment_contract"  placeholder="Số hợp đồng" />
                    </div>
                </td>
            <?php //  }
            ?>
        </tr>
    <?php endforeach ?>
<?php endif ?>
</tbody>
</table>
<!-- Waiting Overlay -->
<div class ="waiting-overlay">
    <div class="waiting-notification">
       Đang xử lý  <span class ="icon1 icon1-spinner5 spinning"></span> 
    </div>
</div>
<div class="paging">
    <?php echo $this->paging($this->total, $this->limit, $this->offset, $this->url); ?>
</div>
<!-- <?php echo $this->confirm('Bạn muốn chấm imei này ?'); ?> -->

<script type="text/javascript">

    function getURLParameter(url, name) {
        return (RegExp(name + '=' + '(.+?)(&|$)').exec(url) || [, null])[1];
    }
    $(document).ready(function () {
        $('.btn-app').click(function () {
            $(this).hide();
        });
        
        $('.lock').click(function(){
            var arrayImei = [];
            var arrayInstallment = [];
            
            var arrayInstallmentCompany = [];
            var arrayInstallmentContract = [];
            $is_process = 1;
            $('.check_item').each(function () {
                if($(this).closest('tr').find('.check_item').is(':checked')) {
                    var tmp_imei =  $(this).closest('tr').find('.check_item').val();
                    arrayImei.push(tmp_imei);
                    var tmp_InstallmentCompany = $("#" + tmp_imei + '_installment_company').val();
                    var tmp_InstallmentContract = $("#" + tmp_imei + '_installment_contract').val().trim();
                    if(tmp_InstallmentCompany > 0 && tmp_InstallmentContract == ''){
                        alert('IMEI ' + tmp_imei + ' Vui lòng nhập số hợp đồng trả góp!');
                        $is_process = 0;
                        return;
                    }else if(tmp_InstallmentCompany > 0){
                        arrayInstallment.push({imei:tmp_imei, company: tmp_InstallmentCompany, contract: tmp_InstallmentContract})
                    }
                    
                }
            });         
           
            
            if(arrayImei.length > 0 && $is_process == 1){
                $('.waiting-overlay').css({'visibility': 'visible', 'opacity': '1'});
                $('.waiting-notification').css({'top': '40%', 'opacity': '1'});
                $.ajax({
                    type: 'get',
                    url: '/manage/imei-sellout-partner-update-all-kpi', 
                    data: {
                            'lock'     : 1,
                            'imei_list': arrayImei.toString(),
                            'imei_installment': JSON.stringify(arrayInstallment)
                            },
                    error: function(error){
                       console.log(eval(error));
                    },
                    success: function(data){
                        $('.waiting-overlay').css('visibility', 'hidden');
                        $('.waiting-notification').css({'top': "300px", 'opacity': 0});
                         Swal.fire(
                                    'Chấm IMEI thành công!',
                                    'Bạn đã Chấm IMEI thành công',
                                    'success'
                                );

                        setTimeout(function() { 
                           window.location.href = ""; 
                        }, 5000);
                    }
                });
            }else{
                alert('Không có IMEI nào được chọn. Vui lòng Chọn IMEI để chấm');
            }
            
        });        
                
    });
    $("#dialog").dialog({
        autoOpen: false,
        modal: true
    });
    $(".confirmLinkUpdate").click(function (e) {
        e.preventDefault();
        var targetUrl = $(this).attr("href");
        var imei = getURLParameter(targetUrl, 'imei_sn');
        var installment_company = $('#' + imei + '_installment_company').val();
        var installment_contract = $('#' + imei + '_installment_contract').val();
         console.log(installment_company);
         console.log(installment_contract);
        $("#dialog" + imei).dialog({
            buttons: {
<?php //  if (in_array($_SERVER['REMOTE_ADDR'], array('103.37.32.126', '112.109.92.6', '14.161.22.196', '115.78.166.171'))) { ?>
                    "Có HĐ trả góp": function () {
                        if(installment_company==0){
                            alert("Vui lòng chọn công ty tài chính!");
                            return;
                        }
                         if(installment_contract==''){
                            alert("Vui lòng nhập số hợp đồng trả góp!");
                            return;
                        }

                       window.location.href = targetUrl+'&installment_company='+installment_company+'&installment_contract='+installment_contract+'&installment_status=1';
                    },
<?php //  } ?>
                "Không trả góp": function () {
                    window.location.href = targetUrl;
                },
                "Hủy": function () {
                    $(this).dialog("close");
                }
            }
        });

        $("#dialog" + imei).dialog("open");

    });

    $("#dialogRemove").dialog({
        autoOpen: false,
        modal: true
    });
    $(".confirmLinkRemove").click(function (e) {
        e.preventDefault();
        var targetUrl = $(this).attr("href");
        var imei = getURLParameter(targetUrl, 'imei');


        $("#dialogRemove" + imei).dialog({
            buttons: {
                "Đồng ý": function () {
                    window.location.href = targetUrl;
                },
                "Hủy": function () {
                    $(this).dialog("close");
                }
            }
        });

        $("#dialogRemove" + imei).dialog("open");

    });
    // $("#check-all").change(function () {
    //         $(".get-imei").prop('checked', $(this).prop("checked"));

    //     });
    //     $('#check-all').bind('click',function() {
    //         if($(this).is(':checked')) {
    //             $('#mass-update').attr("disabled", false);
    //             $('.update').attr("disabled", true);
    //         }
    //         else 
    //         {
    //             $('#mass-update').attr("disabled", true); 
    //             $('.update').attr("disabled", false);

    //         }

    //     });
    //     $(".check-all").click(function(){
    //         $('input:checkbox[name=get-imei]').not(this).prop('checked', this.checked);
    //     });

    //     $('input.get-imei:checkbox').bind('click',function() {
    //         $("#check-all").attr("checked", false);
    //         var data_id = [];
    //         if($(this).is(':checked')) {
    //             $('#mass-update').attr("disabled", false);

    //             $('input.get-imei:checkbox:checked').each(function(){
    //                 $('.update').attr("disabled", true);
    //                 data_id.push($(this).val()); 
    //             });
    //         }
    //         else
    //         {
    //             data_id = [];
    //             $('input.get-imei:checkbox:checked').each(function(){
    //                 $('.update').attr("disabled", true);
    //                 data_id.push($(this).val()); 
    //             });

    //             $('#mass-update').attr("disabled", true);
    //             if($('[name="get-imei"]:checked').length > 0)
    //             {
    //                 $('#mass-update').attr("disabled", false);

    //             }

    //             if($('[name="get-imei"]:checked').length <= 0)
    //             {
    //                 $('.update').attr("disabled", false);
    //             }

    //         }
    //         $("#imei-data").val(data_id);
    //     });
    //     $('#mass-update').attr("disabled", true);  
    $('#checkall').click(function(){
        var _this = $(this);
        if(_this.prop('checked') == true){
            $('.check_item').prop('checked',true);
        }else{
            $('.check_item').prop('checked',false);
        }
    });
    
</script>