<tr class="item">
                    <td>Tài khoản tổng</td>
                    <td class="imei_customer" data-toggle="tooltip" title="Customer: Nguyễn Văn A / Address: 44, TỔ 2, ẤP VĨNH AN, X. Vĩnh Hòa, BD_PG, BD / Phone: 0947258705">867760032207319</td>
                    <td>A71 2018</td>
                    <td>Vàng</td>
                    <td>Nguyễn Kim - Bến Tre - Tổ 13,ấp 2,xã Phú Long,Huyện Bình Đại,Tỉnh Bến Tre</td>
                    <td>21/03/2018</td>
                    <td>BINH DINH</td>
                    <td>Bình Định</td>
                    <td>Huyện Phú cát</td>
                    <td>70000</td>
                    <td>
                        <button  class=" btn btn-success btn-mini imei_customer" data-toggle="tooltip" title="Name: Hồ Việt Dũng / Email: dung.ho@oppomobile.com / Code: 1625100 " id="i_7767_12373" type="button" >DŨNG</button>
                    </td>
                    <td>
                        <a href="" class="btn btn-danger go-back">Remove</a>
                        
                    </td>
                    
                </tr>
                <tr class="item">
                    <td>Tài Khoản của Dũng</td>
                    <td class="imei_customer" data-toggle="tooltip" title="Customer: Nguyễn Văn A / Address: 44, TỔ 2, ẤP VĨNH AN, X. Vĩnh Hòa, BD_PG, BD / Phone: 0947258705">867760032207319</td>
                    <td>A71 2018</td>
                    <td>Vàng</td>
                    <td>Nguyễn Kim - Bến Tre - Tổ 13,ấp 2,xã Phú Long,Huyện Bình Đại,Tỉnh Bến Tre</td>
                    <td>21/03/2018</td>
                    <td>BINH DINH</td>
                    <td>Bình Định</td>
                    <td>Huyện Phú cát</td>
                    <td>70000</td>
                    <td>
                        <button  class=" btn btn-success btn-mini imei_customer" data-toggle="tooltip" title="Name: Hồ Việt Dũng / Email: dung.ho@oppomobile.com / Code: 1625100 "  id="i_7767_12373" type="button" >DŨNG</button>
                    </td>
                    <td>
                        <a href="" class="btn btn-danger">Remove</a>
                    </td>
                    
                </tr>
                <tr class="item">
                    <td>Tài Khoản của Dũng</td>
                    <td class="imei_customer" data-toggle="tooltip" title="Customer: Nguyễn Văn A / Address: 44, TỔ 2, ẤP VĨNH AN, X. Vĩnh Hòa, BD_PG, BD / Phone: 0947258705">867760032207319</td>
                    <td>A71 2018</td>
                    <td>Vàng</td>
                    <td>Nguyễn Kim - Bến Tre - Tổ 13,ấp 2,xã Phú Long,Huyện Bình Đại,Tỉnh Bến Tre</td>
                    <td>21/03/2018</td>
                    <td>BINH DINH</td>
                    <td>Bình Định</td>
                    <td>Huyện Phú cát</td>
                    <td>70000</td>
                    <td>
                        <button  class=" btn btn-success btn-mini imei_customer" data-toggle="tooltip" title="Name: Hồ Việt Dũng / Email: dung.ho@oppomobile.com / Code: 1625100 "  id="i_7767_12373" type="button" >DŨNG</button>
                    </td>
                    <td>
                        <a href="" class="btn btn-danger">Remove</a>
                    </td>
                </tr>
                <tr class="item">
                    <td>Tài Khoản PG khác</td>
                    <td class="imei_customer" data-toggle="tooltip" title="Customer: Nguyễn Văn A / Address: 44, TỔ 2, ẤP VĨNH AN, X. Vĩnh Hòa, BD_PG, BD / Phone: 0947258705">867760032207319</td>
                    <td>A71 2018</td>
                    <td>Vàng</td>
                    <td>Nguyễn Kim - Bến Tre - Tổ 13,ấp 2,xã Phú Long,Huyện Bình Đại,Tỉnh Bến Tre</td>
                    <td>21/03/2018</td>
                    <td>BINH DINH</td>
                    <td>Bình Định</td>
                    <td>Huyện Phú cát</td>
                    <td>70000</td>
                    <td>
                        <button  class=" btn btn-success btn-mini imei_customer" data-toggle="tooltip" title="Name: Hồ Việt Dũng / Email: dung.ho@oppomobile.com / Code: 1625100 "  type="button" >DŨNG</button>
                    </td>
                    <td>
                        
                    </td>

                   
                    
                </tr>
                <tr class="item">
                    <td>Tài Khoản PG khác</td>
                    <td class="imei_customer" data-toggle="tooltip" title="Customer: Nguyễn Văn A / Address: 44, TỔ 2, ẤP VĨNH AN, X. Vĩnh Hòa, BD_PG, BD / Phone: 0947258705">867760032207319</td>
                    <td>A71 2018</td>
                    <td>Vàng</td>
                    <td>Nguyễn Kim - Bến Tre - Tổ 13,ấp 2,xã Phú Long,Huyện Bình Đại,Tỉnh Bến Tre</td>
                    <td>21/03/2018</td>
                    <td>BINH DINH</td>
                    <td>Bình Định</td>
                    <td>Huyện Phú cát</td>
                    <td>70000</td>
                    <td>
                        <button  class=" btn btn-success btn-mini imei_customer" data-toggle="tooltip" title="Name: Hồ Việt Dũng / Email: dung.ho@oppomobile.com / Code: 1625100 "  type="button" >DŨNG</button>
                    </td>
                    <td>
                        <!-- <a href="" class="btn btn-danger go-back">Remove</a> -->
                       
                    </td>

                   
                    
                </tr>
                <tr class="item">
                    <td>IMEI chưa được ai chọn</td>
                    <td class="imei_customer" data-toggle="tooltip" title="Customer: Nguyễn Văn A / Address: 44, TỔ 2, ẤP VĨNH AN, X. Vĩnh Hòa, BD_PG, BD / Phone: 0947258705">867760032207319</td>
                    <td>F5</td>
                    <td>Vàng</td>
                    <td>OPPO Brandshop Tín Nghĩa Mobile - Sơn La - Thửa Đất Số 1, Tiểu Khu 7, Thị Trấn Mộc Châu, Huyện Mộc Châu, Tỉnh Sơn La.</td>
                    <td>21/03/2018</td>
                    <td>BINH DINH</td>
                    <td>Bình Định</td>
                    <td>Huyện Phú cát</td>
                    <td>90000</td>
                    <td>
                        <button  class="btn btn-mini imei_customer" data-toggle="tooltip" data-html="true" title="Name: Hồ Việt Dũng / Email: dung.ho@oppomobile.com / Code: 1625100<br>" type="button" >NoStaff</button>
                    </td>
                    <td>
                        <!-- <a href="" class="btn btn-danger go-back">Delete</a>
                        <a href="" class="btn btn-warning go-back">Reject</a> -->
                    </td>

                    
                </tr>