<link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.3/css/select2.min.css">
<style type="text/css">
    .form-create span{display: block;margin: 0px 0px;}
    .form-create input{width: 165px;margin-right: 10px}
    .form-create select{width: 175px;margin-right: 10px}
    .form-create{display: block;float: left;margin-right: 10px;}
    /*
    .select2-results__options{width: 450px; background: white}
    .select2-dropdown{width: 452px !important;}
    .select2-search__field{width: 450px;}
    */
    /*.child{display: block; padding: 10px; background: #dcdcdc; margin: 5px; border-radius: 1px; -moz-boder-radius: 5px;}*/

    .parent{display: block; padding: 10px; margin: 5px; border-radius: 1px; -moz-boder-radius: 5px;}

    .save{margin-right: 5px}
    .checkbox{display: block;width: 15px !important;height: 15px !important;;display: block; float: right;}
    .select2-search__field{height: 30px}
    .pmodel_code_id{width: 250px}
    .color_red{color: red;}
    .with30{ width: 30px !important;}
    .with100{ width: 100px !important;}
    .with150{ width: 150px !important;}
    .with50{ width: 50px !important;}
    .with70{ width: 70px !important;}
    .with80{ width: 80px !important;}
    .margin_right{ margin-right: 40px;}
    .lead_line{width: auto; height: 3px; background-color: #8dd0b7;}
    .row-child .span12{margin-left: 0px !important}
    [class*="span12"] {
        float: left;
        margin-left: 0px;
    }
    input[type="file"] {
        margin-top: 0px;
        margin-left: 5px;
    }

    #modal_budget{width: auto;height:auto;margin: 0px 50px}
    
    .table_budget tr th{padding: 5px !important;background: #f5f5f5 !important;}
    .table_budget tr th span{font-weight: normal;color:#046A38;font-size: 12px}
    .table_budget tr td span{font-size: 12px}
    
    .table_budget tr td{text-align: left !important; padding: 7px 7px !important}
    .table_budget tr td:nth-child(0){text-align: left !important}
    .table_budget tr td:nth-child(1){text-align: left !important}
    .table_budget tr td input{border: none;border-radius: 0px;text-align: right;box-shadow: none;margin-top: 0px;margin-bottom: 0px;font-size: 12px;}

    .content_budget{width: 100%;display: block;position: relative;}

</style>

<div class="page-header">
    <h3>CREATE PURCHASING REQUEST</h3>
</div>

<?php
if (isset($this->messages_error) and $this->messages_error)
    foreach ($this->messages_error as $messages_error):
        echo '<div class="alert alert-danger">'.$messages_error.'</div>';
    endforeach;

if (isset($this->messages_success) and $this->messages_success)
    foreach ($this->messages_success as $messages_success):
        echo '<div class="alert alert-success">'.$messages_success.'</div>';
    endforeach;
?>


<div ng-app="app" ng-controller="appController">
<form action="<?php echo HOST;?>purchasing/save-purchasing-request" target="iframe" method="post" enctype="multipart/form-data">
    
    <div class="widget">
        <div class="widget-header">
            <i class="icon-list-alt"></i>
            <h3>General Infor</h3>
        </div>

        <div class="widget-content">

            <div class='row'>
                
                    <div class="span2 margin_right">
                        
                            <div class="form-create">
                                <span>Name PR :<b class="color_red">(*)</b></span>
                                <input name='name' class="span2"  required="required" value="<?php echo $this->purchasing_request['name'];?>"></input>
                            </div>

                            <div class="form-create">
                                <span>Urgent Date:<b class="color_red">(*)</b></span>
                                <input autocomplete="off" type="text" name="urgent_date" id="urgent_date" class="urgent_date date span2" required="required" value="<?php echo $this->purchasing_request['urgent_date'];?>" required="required" />
                            </div>

                    </div>
                    <div class="span2 margin_right">
                        
                            <div class="form-create">
                                <span>Type:(Nhóm hàng) <b class="color_red">(*)</b></span>
                                <select name="type" id="purchasing_type">
                                    <option value="">--Select--</option>
                                    <?php if(!empty($this->purchasing_type)): ?>
                                        <?php  
                                            foreach($this->purchasing_type as $key=>$value):?>
                                            <option class="option_type" value="<?php echo $value['id'];?>" <?php echo (isset($this->purchasing_request['type']) and $this->purchasing_request['type'] == $value['id']) ? "selected" : NULL;?>><?php echo $value['name'];?></option>
                                        <?php endforeach;?>
                                    <?php else:?>
                                        <option  class="option_type" value="-1" <?php echo (isset($this->purchasing_request['type']) and $this->purchasing_request['type'] == -1) ? "selected" : NULL;?>>Chưa xác định</option>
                                    <?php endif;?>
                                </select>
                            </div>

                            <div class="form-create">
                                <span>Project: </span>
                                <select name="project_id" >
                                    <option value="">--Select--</option>
                                     <?php foreach($this->purchasing_project as $key=>$value):?>
                                    <option value="<?php echo $value['id'];?>" <?php echo (isset($this->purchasing_request['project_id']) and $this->purchasing_request['project_id'] == $value['id']) ? "selected" : NULL;?>><?php echo $value['name'];?></option>
                                    <?php endforeach;?>
                                </select>
                            </div>

                            <div class="form-create">
                                <span>Category group (Nhóm hạng mục): </span>
                                <select class="full-input " name="request_type_group" id="request-type-group">
                                    <option value="">----</option>
                                    <?php foreach ($this->request_type_group as $key => $value) : ?>
                                        <option value="<?php echo $value['id'] ?>" <?php echo $this->request_type_info['group_id'] == $value['id'] ? 'selected' : NULL;?>><?php echo $value['title'] ?></option>
                                    <?php endforeach; ?>
                                </select>
                            </div>
                        
                            <div class="form-create">
                                <span>Category fee (Hạng mục): </span>
                                <select class="full-input " name="request_type" id="request-type">
                                    <option value="">---</option>
                                </select>
                            </div>

                    </div>
                    <div class="span2 margin_right">
                        
                            <div class="form-create">
                                <span>Area:<b class="color_red">(*)</b></span>
                                <select name="area_id"  required="required" class="span2">
                                    <option value="">--Select--</option>
                                     <?php foreach($this->areas as $key=>$value):?>
                                    <option value="<?php echo $key;?>" <?php echo (isset($this->purchasing_request['area_id']) and $this->purchasing_request['area_id'] == $key) ? "selected" : NULL;?>><?php echo $value;?></option>
                                    <?php endforeach;?>
                                </select>
                            </div>

                            <div class="form-create" <?php if(!empty($this->department_hidden)){ echo 'style="display: none;';} ?> >
                                <span>Department:<b class="color_red">(*)</b></span>

                                <select name="department_id" id="department_id"  class="span2" >
                                        <option value="">--Select--</option>
                                         <?php foreach($this->department as $key=>$value):?>
                                        <option value="<?php echo $key;?>" <?php 
                                        echo (isset($this->purchasing_request['department_id']) and $this->purchasing_request['department_id'] == $key) ? "selected" : NULL;?>><?php echo $value;?></option>
                                        <?php endforeach;?>
                                    </select>
                            </div>


                            <div class="form-create"> 
                                 <span>Team:<b class="color_red">(*)</b></span>
                                    <select name="team_id" id="team" class="span2">
                                        <option value>Choose</option>
                                        <?php if ( isset($this->purchasing_request) AND isset($this->recursiveDeparmentTeamTitle[$this->purchasing_request['department_id']]['children'])): ?>
                                            <?php foreach ($this->recursiveDeparmentTeamTitle[$this->purchasing_request['department_id']]['children'] as $item_id => $item):?>
                                                <option value="<?php echo $item_id;?>" <?php if (isset($this->purchasing_request) and $this->purchasing_request and $item_id==$this->purchasing_request['team_id']):?>selected<?php endif;?>><?php echo $item['name'];?></option>
                                            <?php endforeach;?>
                                        <?php endif ?>
                                    </select>
                            </div>

                    </div>
                    <div class="span2 margin_right">
                        <div class="form-create">
                            <span>Shipping Address :<b class="color_red">(*)</b></span>
                            <textarea  rows="3" name='shipping_address'  required="required"><?php echo $this->purchasing_request['shipping_address'];?></textarea>
                        </div>

                        <div class="form-create">
                            <span>Remark :</span>
                            <textarea rows="3" name='remark'><?php echo $this->purchasing_request['remark'];?></textarea>
                        </div>
                        
                        <?php if(!empty($this->purchasing_request['contract_number'])):?>
                        <div class="form-create">
                            <label><a style="color:red;text-decoration: underline" target="_blank" href="/trade/contract-number-detail?contract_number=<?php echo $this->purchasing_request['contract_number'];?>">Xem chi tiết hợp đồng <?php echo $this->purchasing_request['contract_number'];?></a></label>
                        </div>
                        <?php endif;?>
                        
                    </div>
                    
            </div>
            
            <div class="lead_line mt-3" ></div>
            
            
            <div class='row'>
                <div class="span12">  
                    
                    <?php if(!empty($this->list_file)):?>
                    <div class="form-create">
                        <span>PR Quotation:</span>

                        <?php  if (isset($this->list_file) and $this->list_file)
                            foreach ($this->list_file as $k=>$val): ?>
                        
                            <div class="div_one_file row" style=" margin-left: 60px; ">
                                <?php $link = HOST.'purchasing-request/'.$val['sn'].'/'.$val['pr_quotation'];?>
                                <a target='_blank' href="<?php echo $link;?>"><?php echo $val['pr_quotation'];?></a> 
                                <a class="btn icon-remove-sign del_file" data_id="<?php echo $val['id'];?>" style="display: table; float: left;"></a><br/>
                            </div>
                        
                        <?php endforeach;?>
            
                        <!--<input type="file" name="pr_quotation" id="pr_quotation" class="pr_quotation" value="" />-->
                    </div>      
                    <?php endif;?>
                    
                    <?php if(!empty($this->file_request_office)):?>
                    <div class="form-create">
                        <span>Request:</span>

                        <?php  if (isset($this->file_request_office) and $this->file_request_office)
                            foreach ($this->file_request_office as $k=>$val): ?>
                        
                            <div class="div_one_file row" style=" margin-left: 60px; ">
                                <?php $link = HOST.'/'.$val['url'];?>
                                <a target='_blank' class="icon-eye-open" href="<?php echo $link;?>"><?php echo $val['name'];?></a>  
                            </div>
                        
                        <?php endforeach;?>
            
                        <!--<input type="file" name="pr_quotation" id="pr_quotation" class="pr_quotation" value="" />-->
                    </div>
                    <?php endif;?>

                    
                </div>
                

                <div class="span8"  style=" margin-top: 10px;">

                                <div class="row" style="display: flex; margin-bottom: 10px;">
                                    
                                        <label for="sn" class="span2">Upload more: </label>
                                        <div class="span2" style="text-align: right">
                                                <a class="btn btn-success" id="add-more"> Add </a>
                                        </div>

                                        <div class="row span10" id="area-group" style="text-align: left">
                                                <div class="ajaxSearchPart-container " style="display: flex">

                                                    <a class="btn btn-warning " style="display: table; float: left;">-</a>

                                                    <div class="control-group ">
                                                        <input type="file" name="pr_quotation[0]" id="pr_quotation" class="pr_quotation" value="" />
                                                    </div>
                                                </div>
                                        </div>
                                </div>
                </div>
                
            </div>
            
        </div>
        
            
    </div><!--widget-->


    <!-- BUDGET DETAILS -->
    <div class="widget">
        <div class="widget-header">
            <i class="icon-list-alt"></i>
            <h3>Dự trù</h3>
        </div>

        <div class="widget-content">
            <div class='content_child_budget'>
                <a class="btn btn-success open_modal_budget" ng-click="action.addListBudget()"> Thêm dự trù</a>
                
                <div id="top_budget">
                    
                </div>
                
                <div id="content_budget">
                    <table class="table table_budget_add" id="table_budget_add" style="width:100%" ng-if="data.list_budget_add.length > 0">
                        <tr>
                            <th>#</th>
                            <th>Nhóm hạng mục</th>
                            <th>Hạng mục</th>
                            <th>Dự trù cho tháng</th>
                            <th>Team</th>
                            <th>Nhà cung cấp</th>
                            <th>Nội dung</th>
                            <th>Note</th>
                            <th>Số tiền dự trù</th>
                            <th>Xóa</th>
                        </tr>
                        
                        <tr ng-repeat="budget in data.list_budget_add" ng-if="budget.is_add == true">
                            <td><span>{{$index + 1}}</span></td>
                            <td><span ng-bind="budget.group_title"></span></td>
                            <td><span ng-bind="budget.group_type_title"></span></td>
                            <td>
                                <a class=" label label-success">Month {{budget.month}}</a><br>
                                <a class=" label label-success">Year {{budget.year}}</a><br>
                                <a class=" label label-info">Project {{budget.project_name}}</a>
                            </td>
                            <td><span ng-bind="budget.team_name"></span></td>
                            <td><span ng-bind="budget.supplier_name"></span></td>
                            <td><span ng-bind="budget.details"></span></td>
                            <td><span ng-bind="budget.note"></span></td>
                            <td style="text-align:right !important"><span ng-bind="action.formatMoneyAngular(budget.price)"></span></td>
                            <td>
                                <div style="cursor:pointer" ng-click="action.removeBudget(budget)"><i class="icon-large icon-remove"></i> Remove</div>
                                <input type="hidden" name="budget_info_id[]" ng-value="budget.info_id">
                            </td>
                        </tr>
                        
                    </table>
                </div>
                
                <div id="bottom_budget">
                    
                </div>
                
                
                                                     
                <!-- Modal -->
                <div id="modal_budget" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                    <div class="modal-header">
                        <h3 id="myModalLabel">Chọn dự trù</h3>
                        
                        <a href="/request-office/create-budget-details" class="btn btn-primary pull-right link_create_budget" target="_blank" style="display: block;position: absolute;right: 70px;">Tạo mới dự trù</a>
                        
                        <button type="button" class="close close_budget" data-dismiss="modal" aria-hidden="true">×</button>
                    </div>
                    <div class="modal-body">
                        <table class="table table_budget" id="table_budget" style="width:100%">
                            <tr>
                                <th>#</th>
                                <th>Nhóm hạng mục</th>
                                <th>Hạng mục</th>
                                <th>Dự trù cho tháng</th>
                                <th>Team</th>
                                <th>Nhà cung cấp</th>
                                <th>Nội dung</th>
                                <th>Note</th>
                                <th>Số tiền dự trù</th>
                                <th>Chọn dự trù</th>
                            </tr>
                            
                            <tr ng-repeat="budget in data.list_budget">
                                <td><span>{{$index + 1}}</span></td>
                                <td><span ng-bind="budget.group_title"></span></td>
                                <td><span ng-bind="budget.group_type_title"></span></td>
                                <td>
                                    <a class=" label label-success">Month {{budget.month}}</a><br>
                                    <a class=" label label-success">Year {{budget.year}}</a><br>
                                    <a class=" label label-info">Project {{budget.project_name}}</a>
                                </td>
                                <td><span ng-bind="budget.team_name"></span></td>
                                <td><span ng-bind="budget.supplier_name"></span></td>
                                <td><span ng-bind="budget.details"></span></td>
                                <td><span ng-bind="budget.note"></span></td>
                                <td style="text-align:right !important"><span ng-bind="action.formatMoneyAngular(budget.price)"></span></td>
                                <td>
                                    <input type="checkbox" ng-model="budget.is_add"/>
                                </td>
                            </tr>
                            
                        </table>
                        
                    </div>
                    <div class="modal-footer">
                        <button class="btn close_budget" data-dismiss="modal" aria-hidden="true">Đóng</button>
                        <a class="btn btn-success pull-right" ng-click="action.addBudget()" style="margin-right: 5px">Thêm dự trù</a>
                    </div>
                </div>
                
            </div>
        </div>
    </div><!-- BUDGET -->
        
        <!-- WIDGET DETAILS -->
        <div class="widget">
        <div class="widget-header">
            <i class="icon-list-alt"></i>
            <h3>Details</h3>
        </div>

        <div class="widget-content">
            <div class='content_child'>
                
            <?php if(!empty($this->params['sn'])){?>
            <input type="hidden" name="sn" value="<?php echo $this->params['sn'];?>">
			 
                        
			<?php
                        $total_order_value = 0;
                        foreach($this->purchasing_request_details as $key=>$val):
                            $total_order_value = $total_order_value + $val['price']*$val['quantity']*1.1;
                        ?>
			
               		<div class="row child">
                                <div class="span12">

                                    <div class="form-create">
                                        <span>&nbsp</span>
                                        <input type="hidden" name='code_supplier_id[]' value="<?php echo $val['code_supplier_id']?>" class="code_supplier_id" />
                                        <a class="btn btn-danger pull-right remove_product"  >-</a>
                                        <!--<a href="#" class="btn btn-primary pull-right" id="add" style="margin-right: 5px">+</a>-->
                                    </div>

                                    <div class="form-create">
                                        <span>Product:<b class="color_red">(*)</b></span>
                                        <select class="pmodel_code_id" id='pmodel_code_id' name="pmodel_code_id[]" required="required" style="width: 450px;">
                                            <option value="">-- Select --</option>
                                            <?php foreach ($this->pmodel_code as $k => $value):?>
                                            <option <?php echo (isset($val['ids']) and $val['pmodel_code_id'] == $value['id']) ? "selected" : NULL;?> value="<?php echo $value['id'];?>" price='<?php echo $value['price'];?>' unit="<?php echo $value['unit'];?>" code_supplier_id='<?php echo $value['code_supplier_id'];?>'><?php echo $value['code'].' - '.$value['name'].' - '.$value['price'].' - '.$value['sub_name'];?></option>
                                            <?php endforeach;?>
                                        </select>
                                    </div>

                                    <div class="form-create">
                                        <span>Quantity:<b class="color_red">(*)</b></span>
                                        <input type="number" id="quantity" class="quantity with50" name="quantity[]" value="<?php echo $val['quantity'];?>" required="required" />
                                    </div>

                                    <div class="form-create">
                                        <span>Unit: </span>
                                        <input type="text" id="unit" class="unit with50"  disabled="" value="<?php echo $val['unit'];?>"  />
                                    </div>

                                    <div class="form-create">
                                        <span>Delivery at:(giao hàng tại) </span>                            
                                        <textarea name="installation_at[]" class="installation_at with150" placeholder="Địa điểm giao hàng" style="height:19px;"><?php echo $val['installation_at'];?></textarea>
                                    </div>

                                    <div class="form-create">
                                        <span>Delivery time: </span>                            
                                        <textarea name="installation_time[]" class="installation_time with100" placeholder="Thời gian giao hàng" style="height:19px;"><?php echo $val['installation_time'];?></textarea>
                                    </div>

                                    <div class="form-create">
                                        <span>Note: </span>                            
                                        <textarea name="note[]" class="note with100" placeholder="Ghi chú" style="height:19px;"><?php echo $val['note'];?></textarea>
                                    </div>
                                    
                                    <input type="hidden" name="ids[]" class="ids" value="<?php echo $val['ids'];?>">
                                    
                                    
                                    <div class="row supplier_parent span12" >

                                            <div class="span2">
                                                <label for="sn" class="span1">SUPPLIER: </label>
                                                <a class="btn btn-success add_supplier"> + </a>
                                            </div>
                                            <div class="supplier_child row span12" style=" margin-left: 130px;"></div>
                                            

                                                <?php 
                                                if(!empty($this->purchasing_request_supplier))
                                                foreach($this->purchasing_request_supplier as $k2=>$vl2): 
                                                if($val['id']==$vl2['pr_detail_id']):
                                                ?>
                                                

                                                <?php 
                                                $edit_show_article = 0;
                                                if(!empty($vl2['article'])||!empty($vl2['warranty'])||!empty($vl2['discount'])||!empty($vl2['article_other'])){
                                                    $edit_show_article = 1;
                                                }
                                                ?>
                                                
                                                <div class="supplier_child row span12" style=" margin-left: 130px;">

                                                    <div class="form-create">
                                                        <span><br> </span>
                                                        <a class="btn btn-warning remove_supplier" style="display: table; float: left;">-</a>
                                                    </div>

                                                    <div class="form-create">
                                                        <span>Select:</span>
                                                        <input class="select_supplier with30" type="radio" name="select_supplier[<?php echo $val['pmodel_code_id']; ?>]" value="<?php echo $vl2['supplier_id']; ?>" <?php if(!empty($vl2['select_supplier'])) echo "checked"; ?> style=" height: 20px;">
                                                    </div>

                                                    <div class="form-create">
                                                        <span>File:</span>
                                                        <a class="btn add_file " style="background: #CCCCFF; ">Add</a>
                                                    </div>
                                                    
                                                    <div class="form-create">
                                                        <span>Article:</span>
                                                        <a class="btn add_article" style=""><?php echo (!empty($edit_show_article)?"Hidden":"Show"); ?> </a>
                                                        <input class="show_article" type="hidden" value="<?php echo $edit_show_article; ?>" /> 
                                                    </div>

                                                    <div class="form-create">
                                                        <span>Supplier:<b class="color_red">(*)</b></span>
                                                        <!--
                                                        <input type="text" class="with150" class="supplier_id" value="<?php echo $vl2['supplier_name']; ?>" readonly >
                                                        <input type="hidden" name="supplier_id[<?php echo $val['pmodel_code_id']; ?>][]"  class="with150" value="<?php echo $vl2['supplier_id']; ?>" >-->
                                                        
                                                        <input type="hidden" name="supplier_id[<?php echo $val['pmodel_code_id']; ?>][]"  class="with150" value="<?php echo $vl2['supplier_id']; ?>"><!--lấy giá trị lúc edit-->
                                                        <select name="supplier_id[<?php echo $val['pmodel_code_id']; ?>][]"  class="supplier_id with150" disabled="" > 
                                                            <option value="<?php echo $vl2['supplier_id']; ?>"><?php echo $vl2['supplier_name']; ?></option> 
                                                        </select>
                                                        
                                                        <input type="hidden" class="code_id_hiden" value="<?php echo $val['pmodel_code_id']; ?>" >
                                                        
                                                    </div>

                                                    <div class="form-create">
                                                        <span>Before negotiate:</span>
                                                        <input type="text" class="price_before_dp with80" name="price_before_dp[<?php echo $val['pmodel_code_id']; ?>][]" value="<?php echo $vl2['price_before_dp']?number_format($vl2['price_before_dp'],4,'.',','):0; ?>"  />
                                                    </div>
                                                    
                                                    <div class="form-create div_price">
                                                        <span>Currency:</span>
                                                        <select name="currency[<?php echo $val['pmodel_code_id']; ?>][]" class="with80">
                                                            <?php foreach($this->currency as $i=>$j):?>
                                                            <option value="<?php echo $i;?>" <?php echo (!empty($vl2['currency']) AND $vl2['currency'] == $i) ? "selected" : NULL;?>><?php echo $j;?></option>
                                                            <?php endforeach;?>
                                                        </select>
                                                    </div>

                                                    <div class="form-create div_price">
                                                       <span>Price:</span>
                                                        <input type="text" id="price" class="price with80" name="price[<?php echo $val['pmodel_code_id']; ?>][]" value="<?php echo $vl2['price']?number_format($vl2['price'],4,'.',','):0; ?>"  />
                                                    </div>

                                                    <div class="form-create div_price">
                                                        <span>CK %:</span>
                                                        <input type="text" id="ck" class="ck with30" name="ck[<?php echo $val['pmodel_code_id']; ?>][]" value="<?php echo $vl2['ck']?number_format($vl2['ck'],4,'.',','):0; ?>"  />
                                                    </div>

                                                    <div class="form-create div_price">
                                                        <span>fee (+/-):</span>
                                                        <input type="text" id="fee" class="fee with80" name="fee[<?php echo $val['pmodel_code_id']; ?>][]" value="<?php echo $vl2['fee']?number_format($vl2['fee'],4,'.',','):0; ?>"  />
                                                    </div>

                                                    <div class="form-create">
                                                        <span>Total:</span>
                                                        <?php 
                                                            //$total = 0;
                                                            //$total = $val['quantity']*$vl2['price']; 
                                                            $money_ck = $price_after_ck = $total_price = 0;
                                                            $money_ck = $vl2['price']*$vl2['ck']/100;
                                                            $price_after_ck = $vl2['price'] - $money_ck;
                                                            $total_price = $val['quantity']*$price_after_ck+$vl2['fee'];

                                                        ?>
                                                        <input type="text" id="total_price" class="total_price with100" name="total_price[<?php echo $val['pmodel_code_id']; ?>][]" value="<?php echo number_format($total_price,4,'.',','); ?>" readonly />
                                                    </div>

                                                    <div class="span12 row <?php if(empty($edit_show_article)){echo 'hide';} ?>  group_article" style=" margin-left: 90px;">

                                                        <div class="form-create">
                                                            <span>Article: </span>
                                                            <textarea name="article[<?php echo $val['pmodel_code_id']; ?>][]" class="article with150" placeholder="Điều khoản thanh toán" style="height:19px;"><?php echo $vl2['article']?($vl2['article']):""; ?></textarea>
                                                        </div>

                                                        <div class="form-create">
                                                            <span>Warranty: </span>
                                                            <textarea name="warranty[<?php echo $val['pmodel_code_id']; ?>][]" class="article with150" placeholder="Bảo hành" style="height:19px;"><?php echo $vl2['warranty']?($vl2['warranty']):""; ?></textarea>
                                                        </div>

                                                        <div class="form-create">
                                                            <span>Discount: </span>
                                                            <textarea name="discount[<?php echo $val['pmodel_code_id']; ?>][]" class="discount with150" placeholder="Giảm giá" style="height:19px;"><?php echo $vl2['discount']?($vl2['discount']):""; ?></textarea>
                                                        </div>

                                                        <div class="form-create">
                                                            <span>Article other: </span>
                                                            <textarea name="article_other[<?php echo $val['pmodel_code_id']; ?>][]" class="article_other with150" placeholder="Điều khoản khác" style="height:19px;"><?php echo $vl2['article_other']?($vl2['article_other']):""; ?></textarea>
                                                        </div>

                                                    </div>

                                                    <div class="span8 add_file_parent" style=" margin-bottom: 10px;">
                                                         
                                                        <?php  if (isset($this->list_file_detail) and $this->list_file_detail)
                                                            foreach ($this->list_file_detail as $k3=>$val3): 
                                                            if (($val3['pmodel_code_id']==$val['pmodel_code_id'])and ($val3['supplier_id']==$vl2['supplier_id'])):
                                                        ?>

                                                            <div class="div_one_file row" style=" margin-left: 60px; ">
                                                                <?php $ext = pathinfo($val3['pr_quotation'], PATHINFO_EXTENSION);?>
                                                                <?php $link = HOST.'purchasing-request/'.$val3['sn'].'/'.$val3['pr_quotation'];?>
                                                                <a <?= ($ext=='msg') ? 'download':''; ?> target='_blank' href="<?php echo $link;?>"><?php echo $val3['pr_quotation'];?></a> 
                                                                <a class="btn icon-remove-sign del_file" data_id="<?php echo $val3['id'];?>" style="display: table; float: left;"></a><br/>
                                                            </div>

                                                        <?php endif; endforeach;?>
<!--
                                                        <div class="span2" style="margin-left: 60px; ">
                                                            <a class="btn add_file icon-plus-sign" style="background: #CCCCFF;"> File</a>
                                                        </div>-->
                                                        <!--<div class="add_file_child row span9" style=" margin-left: 60px; "></div>-->
                                                    </div>


                                                </div>



                                                <?php endif; endforeach;?>
                                    </div>
                                    
                                </div><!-- span12-->
                                
                                
                           </div><!-- row-->
			<?php endforeach;?>
			
			<?php }else{?>
			
                <?php if($this->is_team_purchasing):?>           
                           
		<div class="row child">
                    <div class="span12">

                        <div class="form-create">
                            <span>&nbsp</span>
                            <input type="hidden" name='code_supplier_id[]' value="<?php echo $val['code_supplier_id']?>" class="code_supplier_id" />
                            <a  class="btn btn-danger pull-right remove_product" >-</a>
                            <!--<a href="#" class="btn btn-primary pull-right" id="add" style="margin-right: 5px">+</a>-->
                        </div>

                        <div class="form-create">
                            <span>Product:<b class="color_red">(*)</b></span>
                            <select class="pmodel_code_id" id='pmodel_code_id' name="pmodel_code_id[]" required="required" style="width: 450px;">
                                <option value="">-- Select --</option>
                                <?php foreach ($this->pmodel_code as $key => $value):?>
                                <option value="<?php echo $value['id'];?>" price='<?php echo $value['price'];?>'  unit="<?php echo $value['unit'];?>" code_supplier_id='<?php echo $value['code_supplier_id'];?>'><?php echo $value['code'].' - '.$value['name'].' ('.number_format($value['price']).')-'.$value['sub_name'];?></option>
                                <?php endforeach;?>
                            </select>
                        </div>

                        <div class="form-create">
                            <span>Quantity:<b class="color_red">(*)</b></span>
                            <input type="number" id="quantity" class="quantity with50" name="quantity[]" value="0" required="required" />
                        </div>

                        <div class="form-create">
                            <span>Unit: </span> 
                            <input type="text" id="unit" class="unit with50"  disabled=""  value=""  />
                        </div>

                        <div class="form-create">
                            <span>Delivery at:(giao hàng tại) </span>                           
                            <textarea name="installation_at[]" class="installation_at with150" placeholder="Địa điểm giao hàng" style="height:19px;"><?php echo $val['installation_at'];?></textarea>
                        </div>

                        <div class="form-create">
                            <span>Delivery time: </span>                         
                            <textarea name="installation_time[]" class="installation_time with100" placeholder="Thời gian giao hàng" style="height:19px;"><?php echo $val['installation_time'];?></textarea>
                        </div>

                        <div class="form-create">
                            <span>Note: </span>                            
                            <textarea name="note[]" class="note with100" style="height:19px;" placeholder="Ghi chú"></textarea>
                        </div>

                        <input type="hidden" name="ids[]" class="ids" value="">    
                    
                                <div class="row supplier_parent span12" >
                                    
                                        <div class="span2">
                                            <label for="sn" class="span1">SUPPLIER: </label>
                                            <a class="btn btn-success add_supplier"> + </a>
                                        </div>
                                        <div class="supplier_child row span12" style=" margin-left: 130px;"></div>
                                    <!--
                                        <div class="supplier_child row span12" style=" margin-left: 130px;">

                                            <div class="form-create">
                                                <span><br> </span>
                                                <a class="btn btn-warning remove_supplier" style="display: table; float: left;">-</a>
                                            </div>

                                            <div class="form-create">
                                                <span>Select:</span>
                                                <input class="select_supplier with30" type="radio" name="select_supplier[]" value="1" style=" height: 20px;">
                                            </div>
                                            
                                            <div class="form-create">
                                                <span>Supplier:</span>
                                                <select name="supplier_id"  class="supplier_id with150">
                                                    <option value="">--Select--</option>
                                                </select>
                                            </div>

                                            <div class="form-create">
                                                <span>Before negotiate:</span>
                                                <input type="text" class="price_before_dp with80" name="price_before_dp[]" value="0"  />
                                            </div>
                                            
                                            <div class="form-create">
                                                <span>Price:</span>
                                                <input type="text" id="price" class="price with80" name="price[]" value="0"  />
                                            </div>

                                            <div class="form-create">
                                                <span>Total:</span>
                                                <input type="text" id="total_price" class="total_price with100" name="total_price[]" value="0"  />
                                            </div>
                                                                                        
                                            <div class="form-create">
                                                <span>File:</span>
                                                <input type="file" name="pr_quotation[0]" id="pr_quotation" class="pr_quotation" value="" />
                                            </div>
                                                     
                                        </div>
                                        -->
                                </div>
                    </div><!-- span12-->
                    
                </div><!-- row-->
                
                <?php endif;?>
                
			<?php }?>
                    
            </div><!-- content_child-->
            
            <?php if($this->is_team_purchasing):?>
            <div class="form-create">
                <a  class="btn btn-primary pull-right" id="add" style="margin-right: 5px">Add Product</a>
            </div>
            <?php endif;?>
            
            </div><!-- widget-content-->
            
            
        </div><!--widget-->
        <!-- END WIDGET DETAILS -->
        
        <!--
            <div class="span10 row" style=" text-align: center;">                
                <h3 id="total_money_order" style="float: right; margin-left: 15px; color: red;"><?php echo $total_order_value ? number_format($total_order_value):0; ?></h3>
                <h3 style="float: right;">Total purchasing request: </h3>
            </div>
        -->
    
    
    <div class="row-fluid" style="margin-bottom:50px">
        <div class="span12">
            <div class="form-group">
                <iframe style="display:none;border:none;width: 100%" id="iframe" name="iframe" style="height: 250px;"></iframe>
                
                
                
                <button type='submit' class="btn btn-success pull-right save" id='save'>Save</button>
                
                <a class="btn btn-warning  pull-right back" href="<?php echo HOST;?>purchasing/purchasing-request" style="margin-right: 10px">Back list PR</a>
                <a class="btn btn-warning  pull-right back" href="<?php echo HOST;?>purchasing/create-submission-supplier" style="margin-right: 10px">Back Submission</a>
            </div>
        </div>
    </div>
        
    <div class="row-fluid">
        <div class="span12">
            <?php if ($this->access('purchasing', 'confirm-purchasing-request') and ($this->purchasing_request['status']==1)):?>
            <?php $actual_link = "/purchasing/purchasing-request";?>
            <a class="btn btn-danger pull-right confirmLink" href="/purchasing/confirm-purchasing-request?sn=<?php echo $this->purchasing_request['sn'];?>&actual_link=<?php echo rawurlencode($actual_link);?>">Confirm Đơn Hàng</a>
            <?php endif;?>
        </div>
    </div>
        
</form>
</div>


<div id="modalSubmit" class="modal fade" role="dialog">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-body">
        <span id="modal_message" class="modal_mess"><h3>Bạn có muốn xóa không?</h3></span>
        <button type="button" name="submit" id="btnSubmit" value="1" class="btn btn-primary">Có</button>
        <button type="button" id="cancel" class="btn btn-default">Không</button>
      </div>
    </div>

  </div>
</div> <!-- end modal -->



<?php  echo $this->render('purchasing/purchasing-request-clone.phtml'); ?>

<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.3/js/select2.min.js"></script>
<script type="text/javascript" src="/js/jquery-ui-1.8.12.custom.min.js"></script>
<link rel="stylesheet" type="text/css" href="/css/jquery-ui-1.8.12.custom.css"/>
<script type="text/javascript" src="/js/sweetalert2.all.min.js"></script>

<script src="/js/angular.min.js"></script>

<script type="text/javascript">
    var app = angular.module('app', []);
    app.controller('appController', function ($scope, $http) {
        
        // Init
        $scope.init = init;

        $scope.data = {
            list_budget: [],
            list_budget_add: [],
            list_info_id: []
            
        };
        
        $scope.action = {
            addListBudget: addListBudget,
            addBudget: addBudget,
            removeBudget: removeBudget,
            formatMoneyAngular: formatMoneyAngular,
            formatDateDdmmyy: formatDateDdmmyy
        };

        // Run
        $scope.init();

        // Action
        function init() {
            <?php if(!empty($this->list_budget)):?>
            var list_budget_add = [];
            var list_info_id = [];
            var get_list_budget = <?php echo $this->list_budget;?>;
            
            for(var i=0; i < get_list_budget.length; i++){
                
                var budget = get_list_budget[i];
                budget.is_add = true;
                
                list_info_id.push(budget.info_id);
                
                list_budget_add.push(budget);
            }
            
            $scope.data.list_budget_add = list_budget_add;
            $scope.data.list_info_id = list_info_id;
            
            <?php endif;?>
        }
        
        function addListBudget(){
            
            var request_type = $('#request-type').val();
            
            if(!request_type){
                Swal.fire({
                    type: 'error',
                    title: 'HẠNG MỤC không được để trống!'
                })
                return;
            }
            
            var data_send = {
                'request_type': request_type 
            };
            
            $.ajax({
                url: '/purchasing/load-budget',
                type: 'POST',
                data: data_send,
                beforeSend: function( xhr ) {
                    
                    Swal.fire({
                      title: 'Please wait!',
                      timerProgressBar: true,
                      onBeforeOpen: () => {
                        Swal.showLoading()
                      }
                    })
                },
                success: function (data_reponse) {

                    Swal.close();

                    var response = $.parseJSON(data_reponse);
                    if (response.status == 1) {
                        
                        var list_budget_response = response.data;
                        
                        var list_budget = new Array();
                        
                        var stt = 0;
                        
                        for(i=0; i< list_budget_response.length;i++){
                            
                            stt++;
                            
                            budget = list_budget_response[i];
                            budget.stt = stt;
                            
                            if($scope.data.list_info_id.includes(budget.info_id)){
                                budget.is_add = true;
                            }
                            
                            list_budget.push(budget);
                        }
            
                        $scope.data.list_budget = list_budget;
                        $scope.$apply();
                        
                        $('.link_create_budget').attr('href', '/request-office/create-budget-details?request_type='+request_type);
                        
                        $('#modal_budget').modal('show');
                        
                        
                    } else { 
                        alert(response.message);
                    }
                },
            });
            
        }
        
        function addBudget(){
            
            var list_budget = $scope.data.list_budget;
            
            var list_budget_add = $scope.data.list_budget_add;
            
            var list_info_id = $scope.data.list_info_id;
            
            var stt = 0;
            
            for(i=0; i< list_budget.length; i++){
                
                var budget = list_budget[i];
                
                if(budget.is_add == true && !list_info_id.includes(budget.info_id)){
                    stt++;
                
                    budget.stt = stt;
                    
                    list_info_id.push(budget.info_id);
                    
                    list_budget_add.push(budget);
                }
                
            }
            
            $scope.data.list_budget_add = list_budget_add;
            
            $scope.data.list_info_id = list_info_id;
            
            $('#modal_budget').modal('hide');
            
        }
        
        function removeBudget(budget){
            
            //Remove list_budget_add
            var list_budget_add = $scope.data.list_budget_add;
            
            const index = list_budget_add.indexOf(budget);
            if (index > -1) {
                list_budget_add.splice(index, 1);
            }
            
            //Remove list_info_id
            var list_info_id = $scope.data.list_info_id;
            
            const index_info_id = list_info_id.indexOf(budget.info_id);
            if (index > -1) {
                list_info_id.splice(index_info_id, 1);
            }
            
        }
        
        function formatMoneyAngular(amount, decimalCount = 0, decimal = ".", thousands = ","){
            amount = amount.replace(/,/g, '');
        
            try {
              decimalCount = Math.abs(decimalCount);
              decimalCount = isNaN(decimalCount) ? 2 : decimalCount;

              const negativeSign = amount < 0 ? "-" : "";

              let i = parseInt(amount = Math.abs(Number(amount) || 0).toFixed(decimalCount)).toString();
              let j = (i.length > 3) ? i.length % 3 : 0;

              return negativeSign + (j ? i.substr(0, j) + thousands : '') + i.substr(j).replace(/(\d{3})(?=\d)/g, "$1" + thousands) + (decimalCount ? decimal + Math.abs(amount - i).toFixed(decimalCount).slice(2) : "");
            } catch (e) {
              console.log(e)
            }
        }
        
        function formatDateDdmmyy(date){
            var formattedDate = new Date(date);
            var d = formattedDate.getDate();
            var m =  formattedDate.getMonth();
            m += 1;  // JavaScript months are 0-11
            var y = formattedDate.getFullYear();

            return d+'/'+m+'/'+y;
        }
        
        
    });
    
    
</script>

<script>

    $(document).ready(function(){
        
        <?php if(!empty($this->request_type_info)):?>
        request_type_group_change_info(<?php echo $this->request_type_info['group_id'];?>, <?php echo $this->request_type_info['id'];?>);
        <?php endif;?>
        
        // show hiden article        
        $(document).on('click','.add_article',function(){
            div_parent = $(this).parent().parent();
            var show_hide_article = $(this).parent().find('.show_article').val();
            if(show_hide_article==0){
                div_parent.find('.group_article').show();
                $(this).parent().find('.show_article').val(1);
                $(this).parent().find('.add_article').html("Hidden");
                
            }else{
                div_parent.find('.group_article').hide(); 
                $(this).parent().find('.show_article').val(0);
                $(this).parent().find('.add_article').html("Show");
            }
            
         });
        
        
        $(document).on('change','#team',function(){
            $('#purchasing_type').find('.option_type').remove();
            
            var team_id = $(this).val();
            
            if(team_id==""){
                //alert('Vui lòng chọn Team.!');
            }else{

                data_type = {'team_id': team_id };
                $.ajax({
                    url: "<?php echo HOST . 'purchasing/ajax-load-type' ?>",
                    type: 'POST',
                    data: data_type,
                    success: function (data) {
                        var response = $.parseJSON(data);
                        if (response.status == 1) {

                            var str = '';
                            var obj_type = response.data;

                            if(obj_type!=''){ 
                                for (var i = 0; i < obj_type.length; i++) { 
                                    str += '<option class="option_type" value="'+obj_type[i]['id']+'">'+obj_type[i]['name']+'</option>';
                                }
                            }else{
                                str += '<option class="option_type" value="-1">Chưa xác định</option>';
                            }
                            $('#purchasing_type').append(str);
                        } else {
                            alert(response.message);
                        }
                    },
                });
        
            }
        });
        

        $(document).on('change','#department_id',function(){
            $('.loading').remove();
            $(this).after('<span class="loading"></span>');
            var _self = $(this);
            var department_id = $(this).val();
            $('form').bind('submit',function(e){e.preventDefault();});
            $('button, .btn, input, select').prop('disabled', true);
            $.get("/ajax/load-team",
                {department_id: [department_id]}
                ,function(data,status){
                    var obj = $.parseJSON( data );
                    $('#team,.team').find('option:not(:first)').remove();
                    for (var i = 0; i < obj.length; i++) {
                        $('#team,.team').append('<option value="'+obj[i]['id']+'">'+obj[i]['name']+'</option>');
                    }

                    $('button, .btn, input, select').prop('disabled', false);
                    $('form').unbind('submit');
                    $('.loading').remove();
                    $('#team,.team').change();
                });
        });
        
        
        $(document).on('click','.remove_product', function(){            
            $(this).closest('.child').remove();
        })
        
        
        $(document).on('change','.quantity',function(){
            
            var code_id = $(this).parent().parent().find('.pmodel_code_id').val();
            var num  = $(this).val();

            if(num==0 || num==''){
                num = parseInt(0);
            }else{
                num = parseInt(num);
            }

            $('.supplier_child').each(function () {
                var price  = $(this).find('.price').val();     
                var ck = $(this).find(".ck").val();      
                var fee = $(this).find(".fee").val();   
                var code_id_hiden  = $(this).find('.code_id_hiden').val();  
                 
                if(code_id==code_id_hiden){//những thằng con của sản phẩm này thôi

                    price = price.replace(/,/g, ""); // bỏ định dạng dấu phẩy                 
                    if (!$.isNumeric(price)) {
                        alert("Bạn nhập Giá không đúng định dang. Vui lòng kiểm tra lại.. ");
                    }else{
                        price = parseFloat(price);
                    }

                    /////ck
                    ck = ck.replace(/,/g, ""); // bỏ định dạng dấu phẩy
                    if (!$.isNumeric(ck)) {
                        alert("Bạn nhập CK không đúng định dang. Vui lòng kiểm tra lại.. ");
                    }                
                    if (ck == '') {  ck = 0; 
                    } else {  ck = parseFloat(ck); }

                    ///fee
                    fee = fee.replace(/,/g, ""); // bỏ định dạng dấu phẩy
                    if (!$.isNumeric(fee)) {
                        alert("Bạn nhập Phí không đúng định dang. Vui lòng kiểm tra lại.. ");
                    }                
                    if (fee == '') {  fee = 0; 
                    } else {  fee = parseFloat(fee); }

                    var total_price = 0; 
                    var money_ck = 0;     
                    var price_after_ck = 0;

                    money_ck = price*ck/100;
                    price_after_ck = price - money_ck;
                    total_price = num*price_after_ck+fee;

                   // $(this).find(".total_price").val((total_price).formatMoney(0, '.', ','));

                    $(this).find(".price").val((price).formatMoney(4, '.', ','));                 
                    $(this).find(".ck").val((ck).formatMoney(4, '.', ','));                 
                    $(this).find(".fee").val((fee).formatMoney(4, '.', ',')); 
                    $(this).find(".total_price").val((total_price).formatMoney(4, '.', ',')); 

                }
            });  
            
        })
        
        $(document).on('change','.price,.ck,.fee', function(){
            _self = $(this); 
            //var price = $(this).val();                 
            var div_parent_4 = _self.parent().parent().parent().parent();  
            var div_parent = _self.parent().parent();       
            var price = div_parent.find(".price").val();      
            var ck = div_parent.find(".ck").val();      
            var fee = div_parent.find(".fee").val();   
            var num = div_parent_4.find(".quantity").val(); 
            
                price = price.replace(/,/g, ""); // bỏ định dạng dấu phẩy
                if (!$.isNumeric(price)) {
                    alert("Bạn nhập Giá không đúng định dang. Vui lòng kiểm tra lại.. ");
                }                
                if (price == '') {  price = 0; 
                } else {  price = parseFloat(price); }
                
                /////ck
                ck = ck.replace(/,/g, ""); // bỏ định dạng dấu phẩy
                if (!$.isNumeric(ck)) {
                    alert("Bạn nhập CK không đúng định dang. Vui lòng kiểm tra lại.. ");
                }                
                if (ck == '') {  ck = 0; 
                } else {  ck = parseFloat(ck); }
                
                ///fee
                fee = fee.replace(/,/g, ""); // bỏ định dạng dấu phẩy
                if (!$.isNumeric(fee)) {
                    alert("Bạn nhập Phí không đúng định dang. Vui lòng kiểm tra lại.. ");
                }                
                if (fee == '') {  fee = 0; 
                } else {  fee = parseFloat(fee); }
 
                /////
                if(num==0 || num==''){
                    num = parseFloat(0);
                }else{
                    num = parseFloat(num);
                }
                
                var total_price = 0; 
                var money_ck = 0;     
                var price_after_ck = 0;
                
                money_ck = price*ck/100;
                price_after_ck = price - money_ck;
                total_price = num*price_after_ck+fee;

                //total_price = Math.round(total_price); 
                div_parent.find(".price").val((price).formatMoney(4, '.', ','));                 
                div_parent.find(".ck").val((ck).formatMoney(4, '.', ','));                 
                div_parent.find(".fee").val((fee).formatMoney(4, '.', ',')); 
                div_parent.find(".total_price").val((total_price).formatMoney(4, '.', ',')); 
        })
        
        
        $(document).on('change','.price_before_dp',function(){
            
            var price_before_dp = $(this).val();  
                price_before_dp = price_before_dp.replace(/,/g, ""); // bỏ định dạng dấu phẩy
                 
                if (!$.isNumeric(price_before_dp)) {
                    alert("Bạn nhập Giá không đúng định dang. Vui lòng kiểm tra lại.. ");
                }
                
                if (price_before_dp == '') {  price_before_dp = 0; 
                } else {  price_before_dp = parseFloat(price_before_dp); }
                
                $(this).val((price_before_dp).formatMoney(4, '.', ',')); 
        })
        
        $(document).on('change','.pmodel_code_id',function(){
             _self = $(this);
            var div_parent = _self.parent().parent();  
            _self.parent().find(".note").html(0);
            div_parent.find('.supplier_child').remove();
        })
        
        // lấy giá trị NCC cho select
        $(document).on('click','.select_supplier',function(){
             _self = $(this);
            var div_parent = _self.parent().parent();  
            var supplier_id = div_parent.find(".supplier_id").val();
            $(this).val(supplier_id); 
        })
        
        var stt_file = parseInt(0);
        $(document).on('click','.add_file',function(){         
            stt_file++;
             _self = $(this);
            var div_parent_4 = _self.parent().parent().parent().parent();   
            var div_parent_2 = _self.parent().parent();             
            var code = div_parent_4.find(".pmodel_code_id").val();         
            var supplier_id = div_parent_2.find(".supplier_id").val();
            
            if((code=="")||(supplier_id=="")){
                alert('Vui lòng chọn Sản Phẩm và Nhà cung cấp Trước khi add file.!');
            }else{
                str ='';
                    str += '<div class="add_file_child row span9" style=" margin-left: 60px; ">';
                        str += '<a class="btn icon-minus-sign del_upload" data_id="9" ></a>';
                        str += '<input type="file" name="file_supplier_detail_'+code+'_'+supplier_id+'['+stt_file+']" class="file_supplier_detail" value="" style=" margin-bottom: 4px;" />';
                    str += '</div>';

                div_parent_2.find('.add_file_parent').append(str);
            }
            
                
        })
        
        $(document).on('click','.del_upload',function(){   
             _self = $(this);
            var div_parent = _self.parent();   
            div_parent.remove();                
        })
        
        $(document).on('change','.supplier_id', function(){
             _self = $(this);
            var div_parent = _self.parent().parent();  
            
            // lấy giá trị NCC cho select
            var supplier_id = div_parent.find(".supplier_id").val();
            div_parent.find(".select_supplier").val(supplier_id); 
            //   
            div_parent.find('.add_file_child').remove();
        })
         
        
        $(document).on('click','.add_supplier',function(){
             _self = $(this);
            var div_parent = _self.parent().parent().parent();  
            
            var list_currency = <?php echo json_encode($this->currency);?>;
            
            var code = div_parent.find(".pmodel_code_id").val();
            
            if(code==""){
                alert('Vui lòng chọn Sản Phẩm. Trước khi chọn nhà cung cấp.!');
            }else{
                
                $.get("/purchasing/ajax-get-supplier",
                    {code_id: code}
                    ,function(data,status){
                        var data = $.parseJSON( data );

                        if (data.title_supplier){
                            var obj = data.title_supplier;

                            str ='';
                                    str += '<div class="supplier_child row span12" style=" margin-left: 130px;">';

                                        str += '<div class="form-create">';
                                            str += '<span><br> </span>';
                                            str += '<a class="btn btn-warning remove_supplier" style="display: table; float: left;">-</a>';
                                        str += '</div>';

                                        str += '<div class="form-create">';
                                            str += '<span>Select:</span>';
                                            str += '<input class="select_supplier with30" type="radio" name="select_supplier['+code+']" value="0" style=" height: 20px;">';
                                        str += '</div>';

                                        str += '<div class="form-create">';
                                            str += '<span>File:</span>';
                                            str += '<a class="btn add_file " style="background: #CCCCFF; ">Add</a>';
                                        str += '</div>';

                                        str += '<div class="form-create">';
                                            str += '<span>Article:</span>';
                                            str += '<a class="btn add_article" style="">Show</a>';
                                            str += '<input class="show_article" type="hidden" value="0" /> ';
                                        str += '</div>';

                                    str += '<div class="form-create">';
                                        str += '<span>Supplier:<b class="color_red">(*)</b></span>';
                                        str += '<select name="supplier_id['+code+'][]"  class="supplier_id with150">';
                                            str += '<option value="">--Select--</option>';

                                                    for (var i = 0; i < obj.length; i++) { 
                                                        str += '<option value="'+obj[i]['id']+'">'+obj[i]['title']+'</option>';
                                                    }

                                            str += '</select>';
                                            str += '<input type="hidden" class="code_id_hiden" value="'+code+'" >';
                                        str += '</div>';

                                        str += '<div class="form-create">';
                                            str += '<span>Before negotiate:</span>';
                                            str += '<input type="text" class="price_before_dp with80" name="price_before_dp['+code+'][]" value="0"  />';
                                        str += '</div>';

                                        str += '<div class="form-create div_price">';
                                            str += '<span>Price:</span>';
                                            str += '<input type="text" id="price" class="price with80" name="price['+code+'][]" value="0"  />';
                                        str += '</div>';
                                        
                                        str += '<div class="form-create div_price">';
                                            str += '<span>Currency:</span>';
                                            str += '<select name="currency['+code+'][]" class="with80">';
                                            
                                            for (const [key, value] of Object.entries(list_currency)) {
                                                str += '<option value="'+key+'">'+value+'</option>';
                                            }
                                            
                                            str += '</select>';
                                        str += '</div>';

                                        str += '<div class="form-create div_price">';
                                            str += '<span>CK %:</span>';
                                            str += '<input type="text" id="ck" class="ck with30" name="ck['+code+'][]" value="0"  />';
                                        str += '</div>';

                                        str += '<div class="form-create div_price">';
                                            str += '<span>fee (+/-):</span>';
                                            str += '<input type="text" id="fee" class="fee with80" name="fee['+code+'][]" value="0"  />';
                                        str += '</div>';

                                        str += '<div class="form-create">';
                                            str += '<span>Total:</span>';
                                            str += '<input type="text" id="total_price" class="total_price with100" name="total_price['+code+'][]" value="0" readonly />';
                                        str += '</div>';

                                        str += '<div class="span12 row hide group_article" style=" margin-left: 90px;">';

                                            str += '<div class="form-create">';
                                                str += '<span>Article: </span>';                            
                                                str += '<textarea name="article['+code+'][]" class="article with150"  placeholder="Điều khoản thanh toán" style="height:19px;"></textarea>';
                                            str += '</div>';

                                            str += '<div class="form-create">';
                                                str += '<span>Warranty: </span>';
                                                str += '<textarea name="warranty['+code+'][]" class="article with150" placeholder="Bảo hành" style="height:19px;"></textarea>';
                                            str += '</div>';

                                            str += '<div class="form-create">';
                                                str += '<span>Discount: </span>';
                                                str += '<textarea name="discount['+code+'][]" class="discount with150" placeholder="Giảm giá" style="height:19px;"></textarea>';
                                            str += '</div>';

                                            str += '<div class="form-create">';
                                                str += '<span>Article other: </span>';
                                                str += '<textarea name="article_other['+code+'][]" class="article_other with150" placeholder="Điều khoản khác" style="height:19px;"></textarea>';
                                            str += '</div>';

                                        str += '</div>';

                                        //str += '<div class="form-create">';
                                          //  str += '<span>File:</span>';
                                           // str += '<input type="file" name="supplier_quotation['+code+'][0]" id="supplier_quotation" class="supplier_quotation" value="" />';
                                        //str += '</div>';

                                        str += '<div class="span8 add_file_parent" style=" margin-bottom: 10px;">';
                                        //    str += '<div class="span2" style="margin-left: 60px; "> ';
                                        //        str += '<a class="btn add_file icon-plus-sign" style="background: #CCCCFF;"> File</a>';
                                        //    str += '</div>';
                                        str += '</div>';

                                    str += '</div>';

                            div_parent.find('.supplier_parent').append(str);
                            $(".supplier_id").select2();
                            
                        }
                    }); 
            }//Else
            
        })//add_supplier
        
        
        $(document).on('click','.remove_supplier',function(){
             $(this).closest('.supplier_child').remove();
        })// remove_supplier
        
        
        $(document).on('change', '.supplier_id',function(e) {
            
            _self = $(this);
            var supplier_id = $(this).val();                         
            var div_parent = _self.parent().parent();                
            var div_parent_4 = _self.parent().parent().parent().parent();  
            var code_id_hiden = _self.parent().find(".code_id_hiden").val(); 
            var num = div_parent_4.find(".quantity").val(); 

                if(num==0 || num==''){
                    num = parseInt(0);
                }else{
                    num = parseInt(num);
                }

            if(supplier_id==""){
                alert('Nhà cung cấp không được để trống.!.');
                
                div_parent.find(".price_before_dp").val(0); 
                div_parent.find(".price").val(0); 
                div_parent.find(".total_price").val(0);
            }else if(code_id_hiden==""){
                alert('Không lấy được ID của Sản phẩm.F5 trang và thử lại.!.');
            }else{
                
                $.get("/purchasing/ajax-get-supplier-price",
                {code_id: code_id_hiden, supplier_id: supplier_id}
                ,function(data,status){
                     
                    var data = $.parseJSON( data );
                    
                    if (data.supplier_price){
                        var obj = data.supplier_price;
                        var price_before_dp = parseInt(obj.price_before_dp);
                        var price = parseInt(obj.price);
                        var total_price = 0;
                        
                        total_price = num*price;
                        
                        div_parent.find(".price_before_dp").val((price_before_dp).formatMoney(4, '.', ',')); 
                        div_parent.find(".price").val((price).formatMoney(4, '.', ',')); 
                        div_parent.find(".total_price").val((total_price).formatMoney(4, '.', ',')); 
                    }else{  
                        div_parent.find(".price_before_dp").val(0); 
                        div_parent.find(".price").val(0); 
                        div_parent.find(".total_price").val(0); 
                    }

                });
            }//Else    
            
        });

        
        

        $(".pmodel_code_id").select2();
        $(".supplier_id").select2();

        $("#dialog").dialog({
            autoOpen: false,
            modal: true
        });


        initdate();
        addNew();
        changeCheckbox();
        innitSearchPrice();
        //innitChangeQuantity();
        //changetotal_order();
        
        /// add PR Quotation
	var ctn = ".ajaxSearchPart-container";
	$("body").on("propertychange input", ctn+" span input[type=text]:input", function(){
	});
        
        var html = $("#area-group > div:last-of-type").wrapAll('<div></div>').parent().html();
        var current = parseInt(html.match(/pr_quotation\[([0-9]+)\]/)[1]);
        $("#area-group").html(html);


        $("#add-more").click(function(){
            $('.ajaxSearchPart-container').css('display','flex');
                current++;
                $("#area-group").append(html.replace(/pr_quotation\[([0-9]+)\]/g, "pr_quotation["+current+"]"));
        });

        $("body").on("click", ctn+" a", function(){
                current--;
                $(this).parent().remove();
                if(current < 0){
                     current = 0;
                }
        });
        /// add PR Quotation
        
        
        $(document).on('click', '.del_file',function(e) {
            
            div_parent = $(this).parent()
            var id =  $(this).attr("data_id");
            data_del = {'id': id };
            $.ajax({
                url: "<?php echo HOST . 'purchasing/purchasing-request-del-file' ?>",
                type: 'POST',
                data: data_del,
                success: function (data) {
                    var response = $.parseJSON(data);
                    if (response.status == 1) {
                        //location.reload();
                        div_parent.remove();
                    } else { 
                        alert(response.message);
                    }
                },
            });
        });

        request_type_group_change();

        
    });
    
    
    
    function changetotal_order() {
/*
        total_order_value = 0;
        $('.quantity').each(function () {        
//            var price = $(this).closest('tr').find('.price_order').attr('price');
//            var quantity = $(this).closest('tr').find('.price_order').attr('quantity');
            //var price = $(this).closest('.child').find('.price').val().split('.').join('');
            
            var quantity = $(this).closest('.child').find('.quantity').val();//$(this).val(); 
            var price = $(this).closest('.child').find('.price').val().split('.').join('');

            if (price == '') {  price = 0; 
            } else {  price = parseInt(price); }
            
            if (quantity == '') {  quantity = 0; 
            } else {  quantity = parseInt(quantity); }
            
            
            total_order_value = total_order_value + parseInt(price)*parseInt(quantity)*1.1;
            
        });

        $('#total_money_order').html(total_order_value.formatMoney(0, '.', ',')); 
*/
    }

    function initdate()
    {
        $('.date').mousedown( function(){
            $(this).datepicker({ dateFormat: "yy-mm-dd" });
        });
    }

    function changeCheckbox(){
        $(document).on('change','#checkbox_to',function(){
            
            if($(this).attr('checked')) {
                $(this).closest('.child').find(".order_to option[off=1]").hide();
            } else {
                $(this).closest('.child').find(".order_to option[off=1]").show();
            }

        });

        $(document).on('change','#checkbox_from',function(){
            
            if($(this).attr('checked')) {
                $(this).closest('.child').find(".order_from option[off=1]").hide();
            } else {
                $(this).closest('.child').find(".order_from option[off=1]").show();
            }

        });
    }


    var counter = $('.ids').length;
    function addNew(){

        $(document).on('click','#add',function(){
                        
                        
        var _self = $(this);
        var div_add_row = _self.parent().parent().parent().parent();
        product = $('.child_clone_div .child');
                        
        $(".pmodel_code_id").select2();
        $(".child:last").find(".pmodel_code_id").select2();
                      
           $(".child:last").find('.pmodel_code_id').select2('destroy');
            var clone = $(".child:last").clone();
            
            $('.content_child').append(product.clone());
            $('.pmodel_code_id').select2();
//            $(".child:last").find('.pmodel_code_id').val(0);
//            $(".child:last").find('.quantity').val(0);
//            $(".child:last").find('.price').val(0);
//            $(".child:last").find('.total_price').val(0);
//            $(".child:last").find('.code_supplier_id').val(0);
//            $(".child:last").find('.ids').val(0);
//            $(".child:last").find('.after_vat').val(0);            
//            $(".child:last").find('.note').val("");
             
            //$("html, body").animate({ scrollTop: $(document).height()}, 600);
 
        })
    }



    function innitSearchPrice(){
        $(document).on('change', ".pmodel_code_id", function() {
            var code = $(this).val();
           // var price = $('option:selected',this).attr('price');
            var unit = $('option:selected',this).attr('unit');
            var code_supplier_id = $('option:selected',this).attr('code_supplier_id');

            var quantity = $(this).closest('.child').find('.quantity').val();

            //$(this).closest('.child').find('.price').val(float_f(price));
            $(this).closest('.child').find('.unit').val(unit);

           // var total = quantity*price;
            //$(this).closest('.child').find('.total_price').val(float_f(total));
            $(this).closest('.child').find('.code_supplier_id').val(code_supplier_id);
            changetotal_order();
        });
    }


 	$('#cancel').click(function () {
        $('#modalSubmit').modal('hide');
    });

    fix_digit = 0;

    Number.prototype.formatMoney = function(c, d, t){
    var n = this, 
        c = isNaN(c = Math.abs(c)) ? 2 : c, 
        d = d == undefined ? "." : d, 
        t = t == undefined ? "," : t, 
        s = n < 0 ? "-" : "", 
        i = parseInt(n = Math.abs(+n || 0).toFixed(c)) + "", 
        j = (j = i.length) > 3 ? j % 3 : 0;
       return s + (j ? i.substr(0, j) + t : "") + i.substr(j).replace(/(\d{3})(?=\d)/g, "$1" + t) + (c ? d + Math.abs(n - i).toFixed(c).slice(2) : "");
     };
    
    function float_f(num) {
        return parseFloat(num).formatMoney(fix_digit, ',', '.');
    }

    function request_type_group_change(){
        
        $('#request-type-group').on('change', function() {
            request_type_group_change_details($(this).val());
        });
    }
    
    function request_type_group_change_details(group_id_select){
        $('#request-type').find('option').remove().end().append('<option value="">---</option>').val('');
        
        $('#request-type')
            .find('option')
            .remove()
            .end()
            .append('<option value="">---</option>')
            .val('')
        ;
        
        var request_type = <?php echo json_encode($this->request_type);?>;
        //alert(JSON.stringify(request_type));
        
        var group_id_select = group_id_select;
        request_type.forEach(function (request_type) {
            if(request_type.group_id == group_id_select){
                $("#request-type").append(new Option(request_type.title_name, request_type.id));
            }
        });
    }
    
    function format_date_ddmmyy(date){
        var formattedDate = new Date(date);
        var d = formattedDate.getDate();
        var m =  formattedDate.getMonth();
        m += 1;  // JavaScript months are 0-11
        var y = formattedDate.getFullYear();
        
        return d+'/'+m+'/'+y;
    }
    
    function formatMoney3(amount, decimalCount = 0, decimal = ".", thousands = ",") {
        
        amount = amount.replace(/,/g, '');
        
        try {
          decimalCount = Math.abs(decimalCount);
          decimalCount = isNaN(decimalCount) ? 2 : decimalCount;

          const negativeSign = amount < 0 ? "-" : "";

          let i = parseInt(amount = Math.abs(Number(amount) || 0).toFixed(decimalCount)).toString();
          let j = (i.length > 3) ? i.length % 3 : 0;

          return negativeSign + (j ? i.substr(0, j) + thousands : '') + i.substr(j).replace(/(\d{3})(?=\d)/g, "$1" + thousands) + (decimalCount ? decimal + Math.abs(amount - i).toFixed(decimalCount).slice(2) : "");
        } catch (e) {
          console.log(e)
        }
    };
    
    function addToBudget(list_budget, id_name, type){
        
        //type = 1 add new, type = 2 can remove
        var html = "";
        if(type == 1){
            var html_th = "<tr>\
                <th>#</th>\
                <th>CATEGORY TYPE</th>\
                <th>MONTH</th>\
                <th>QUATER</th>\
                <th>PROJECT</th>\
                <th>Activity</th>\
                <th>Team</th>\
                <th>SUPPLIER</th>\
                <th>DETAIL</th>\
                <th>Start</th>\
                <th>Finish</th>\
                <th>Note</th>\
                <th>Dự trù</th>\
                <th>Chọn dự trù</th>\
            </tr>";
        }
        else if(type == 2){
            var html_th = "<tr>\
                <th>#</th>\
                <th>CATEGORY TYPE</th>\
                <th>MONTH</th>\
                <th>QUATER</th>\
                <th>PROJECT</th>\
                <th>Activity</th>\
                <th>Team</th>\
                <th>SUPPLIER</th>\
                <th>DETAIL</th>\
                <th>Start</th>\
                <th>Finish</th>\
                <th>Note</th>\
                <th>Dự trù</th>\
                <th>Xóa dự trù</th>\
            </tr>";
        }
        
        var stt = 0;

        $('#'+id_name).html(html_th);

        for(i = 0; i < list_budget.length; i++){

            stt++;
            
            
            if(type == 1){
                html += '<tr>\
                    <td>'+stt+'</td>\
                    <td>'+list_budget[i].group_title+'</td>\
                    <td>'+list_budget[i].month+'</td>\
                    <td>'+list_budget[i].year+'</td>\
                    <td>'+(list_budget[i].project_name !== null ? list_budget[i].project_name : '')+'</td>\
                    <td>'+list_budget[i].group_type_title+'</td>\
                    <td>'+list_budget[i].team_name+'</td>\
                    <td>'+list_budget[i].supplier_name+'</td>\
                    <td>'+list_budget[i].details+'</td>\
                    <td>'+format_date_ddmmyy(list_budget[i].from_date)+'</td>\
                    <td>'+format_date_ddmmyy(list_budget[i].to_date)+'</td>\
                    <td>'+list_budget[i].note+'</td>\
                    <td style="text-align:right !important">'+formatMoney3(list_budget[i].price)+'</td>\
                    <td><input type="checkbox" name="check_box_budget" class="check_box_budget" value="'+list_budget[i].info_id+'"></td>\
                </tr>';
            }
            else if(type == 2){
                html += '<tr>\
                    <td>'+stt+'</td>\
                    <td>'+list_budget[i].group_title+'</td>\
                    <td>'+list_budget[i].month+'</td>\
                    <td>'+list_budget[i].year+'</td>\
                    <td>'+(list_budget[i].project_name !== null ? list_budget[i].project_name : '')+'</td>\
                    <td>'+list_budget[i].group_type_title+'</td>\
                    <td>'+list_budget[i].team_name+'</td>\
                    <td>'+list_budget[i].supplier_name+'</td>\
                    <td>'+list_budget[i].details+'</td>\
                    <td>'+format_date_ddmmyy(list_budget[i].from_date)+'</td>\
                    <td>'+format_date_ddmmyy(list_budget[i].to_date)+'</td>\
                    <td>'+list_budget[i].note+'</td>\
                    <td style="text-align:right !important">'+formatMoney3(list_budget[i].price)+'</td>\
                    <td><input type="checkbox" name="check_box_budget" class="check_box_budget" value="'+list_budget[i].info_id+'"></td>\
                </tr>';
            }
                 
        }

        $('#'+id_name+' tr:last').after(html);
    }
    
    function request_type_group_change_info(group_id_select, id_select){
        
        $('#request-type').find('option').remove().end().append('<option value="">---</option>').val('');
        
        $('#request-type')
            .find('option')
            .remove()
            .end()
            .append('<option value="">---</option>')
            .val('')
        ;
        var request_type = <?php echo json_encode($this->request_type);?>;
        var group_id_select = group_id_select;
        request_type.forEach(function (request_type) {
            if(request_type.group_id == group_id_select){
                $("#request-type").append(new Option(request_type.title_name, request_type.id));
            }
        });
        
        $('#request-type').val(id_select);
        
        
    }

</script>

<div id="dialog" title="Error">
    Tổng số khác số lượng, vui lòng kiểm tra lại!
</div>

