<div class="page-header">
    <h1>Purchasing Rating Detail</h1>
</div>
<?php
if (isset($this->messages) and $this->messages)
    foreach ($this->messages as $message):
        echo '<div class="alert alert-success">'.$message.'</div>';
    endforeach;

if (isset($this->messages_error) and $this->messages_error)
    foreach ($this->messages_error as $message):
        echo '<div class="alert alert-error">'.$message.'</div>';
    endforeach;
?>

<div class="table-responsive">
    <a href="/purchasing/list-purchasing-rating" class="btn btn-warning  pull-right"  style="margin-right: 10px">Back list</a>

    <?php
    echo $this->render('purchasing/purchasing-rating/partials/list.phtml');
    ?>
</div>

</div>


