
<div class="page-header">
    <?php if (isset($this->category) && $this->category): ?>
        <h1>Edit Map Category</h1>
    <?php else: ?>
        <h1>Create Map Category</h1>
    <?php endif ?>
    
</div>
<?php
    if (isset($this->messages_success) and $this->messages_success)
        foreach ($this->messages_success as $message):
            echo '<div class="alert alert-success">'.$message.'</div>';
        endforeach;

    if (isset($this->messages_error) and $this->messages_error)
        foreach ($this->messages_error as $messages_error):
            echo '<div class="alert alert-error">'.$messages_error.'</div>';
        endforeach;
?>
<div class="row-fluid">
    <div class="span6">
        <form role="form" id="form" action="" method="post">
            
            <div class="row-fluid">  
                <div class="control-group">
                    <label for="name">Category TMK</label>
                    <select name="category_id" class="span5 select2">
                        <option value="">-- Select --</option>
                        <?php foreach($this->category_list as $key=>$value):?>
                        <option <?php echo (!empty($this->params['category_id']) AND $this->params['category_id'] == $value['id'])  ? 'selected' : NULL;?> value="<?php echo $value['id'];?>"><?php echo $value['name'];?></option>
                        <?php endforeach;?>
                    </select>
                </div>
            </div>
            
            <div class="row-fluid">  
                <div class="control-group">
                    <label for="name">Code Purchasing</label>
                    <select name="pmodel_code_id" class="span5 select2">
                        <option value="">-- Select --</option>
                        <?php foreach($this->purchasing_code as $key=>$value):?>
                        <option value="<?php echo $value['id'];?>"><?php echo $value['code'].' - '.$value['name'];?></option>
                       <?php endforeach;?>
                    </select>
                </div>
            </div>
            
            
            
            <div class="row-fluid">  
                <div class="control-group">
                    <label for="name">Type</label>
                    <select name="type" class="">
                        <option value="">-- Select --</option>
                        <option value="1">Thi công</option>
                        <option value="2">Sửa chữa</option>
                        <option value="3">Điều chuyển</option>
                        <option value="4">Tiêu hủy</option>
                        <option value="5">POSM</option>
                    </select>
                </div>
            </div>
            
            <div class="row-fluid">  
                <div class="control-group">
                    <input type="submit" name="submit" value="Submit" class="btn btn-primary" />
                    <a href="/" class="btn btn-danger">Go back</a>
                </div>
            </div>
        </form>
    </div>
</div>

<link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.3/css/select2.min.css">
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.3/js/select2.min.js"></script>
<script type="text/javascript" src="/js/jquery-ui-1.8.12.custom.min.js"></script>
<link rel="stylesheet" type="text/css" href="/css/jquery-ui-1.8.12.custom.css"/>

<script>
    $(document).ready(function()
    {
        
        $(".select2").select2();
    });
</script>
