<style>
    .table tbody tr.class_cost td {
        background-color: #CCFFFF;
    }
 
</style>
<div class="page-header">
    <h2>
        List Purchasing Order
        <div class="page-header pull-right">
            <a href="/purchasing/create-order"><button class="btn btn-primary">Create Order</button></a>
        </div> 
    </h2>
</div>

<?php
if (isset($this->messages) and $this->messages)
    foreach ($this->messages as $message):
        echo '<div class="alert alert-success">'.$message.'</div>';
    endforeach;

if (isset($this->messages_error) and $this->messages_error)
    foreach ($this->messages_error as $message):
        echo '<div class="alert alert-error">'.$message.'</div>';
    endforeach;

?>

<div class="accordion" id="accordion2">
    <div class="accordion-group">
        <div class="accordion-heading">
            <a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion2" href="#collapseTwo">
                Search
            </a>
        </div>
        <div id="collapseTwo" class="accordion-body collapse" style="height: 0px;">
            <div class="accordion-inner">
                <form class="form-search form-horizontal" method="get" action="/purchasing/order">
                    <div class="row">
                        <div class="span5">

                            <div class="control-group">
                                <label for="sn" class="span2">Supplier</label>
                                <select name='supplier_id' class="supplier_id ">
                                    <option value="">--Select--</option>
                                    <?php foreach($this->supplier as $key=>$value):?>
                                    <option value="<?php echo $key;?>" <?php echo (isset($this->params['supplier_id']) and $this->params['supplier_id'] == $key) ? 'selected' : NULL;?>><?php echo $value;?></option>
                                    <?php endforeach;?>
                                </select>
                            </div>

                            <div class="control-group">
                                <label for="sn" class="span2">SN</label>
                                <input id="sn" name="sn" type="text" class="input-medium search-query form-control" value="<?php if (isset($this->params['sn']))echo $this->params['sn']; ?>">
                            </div>
                            
                            <div class="control-group">
                                <label for="name" class="span2">Name</label>
                                <input id="sn" name="name" type="text" class="input-medium search-query form-control" value="<?php if (isset($this->params['name']))echo $this->params['name']; ?>">
                            </div>
                        </div>
                        
                        <div class="span5">
                            
                            <div class="control-group">
                                <label for="remark" class="span2">Remark</label>
                                <input id="remark" name="remark" type="text" class="input-medium search-query form-control" value="<?php if (isset($this->params['remark']))echo $this->params['remark']; ?>">
                            </div>
                            
                            <div class="control-group">
                                <label for="created_at_from" class="span2">Created From</label>
                                <input id="created_at_from" name="created_at_from" type="text" class="input-medium search-query form-control date" value="<?php if (isset($this->params['created_at_from'])) echo $this->params['created_at_from'];?>">
                            </div>

                            <div class="control-group">
                                <label for="created_at_to" class="span2">Created To</label>
                                <input id="created_at_to" name="created_at_to" type="text" class="input-medium search-query form-control date" value="<?php if (isset($this->params['created_at_to']))echo $this->params['created_at_to']; ?>">
                            </div>


                        </div>

                    </div>

                    <button type="submit" class="btn btn-primary">Search</button>
                    <button type="submit" name="export" value="1" class="btn btn-success">Export PO</button> 
                    <a href="/purchasing/order"><input id ="reset" type="button" value="Reset"class="btn btn-warning" ></a>

                </form>
                <script type="text/javascript" src="/js/jquery-ui-1.8.12.custom.min.js"></script>
                <link rel="stylesheet" type="text/css" href="/css/jquery-ui-1.8.12.custom.css"/>
                <script>
                    $(document).ready(function()
                    {
                        $('.date').mousedown( function(){
                            $(this).datepicker({ dateFormat: "yy-mm-dd" });
                        });
                    });
                </script>
            </div>
        </div>
    </div>
</div>

<div class="table-responsive">

    <table class="table table-bordered">
        <thead>
        <tr>
            <?php echo $this->sorting(array(
                    'Sn',
                    'name',
                    'supplier',
                    'date',
                    'Remark',
                    'Created At',
                    'Created By',
                    'Confirm At',
                    'Status',
                    'Action'
                ),
                $this->url, $this->sort, $this->desc); ?>
        </tr>

        </thead>

        <tbody>

        <?php
        $count =0;
        if (isset($this->list) and $this->list)
            foreach ($this->list as $k=>$item):
                ?>

                <tr <?php if ($item['type']=='COST'): ?> style="background-color: #CCFFFF;" class="class_cost" <?php endif; ?> >
                    <td><?php echo $item['sn'];?></td>
                    <td><?php echo $item['po_name'];?></td>
                    <td><?php echo $item['supplier'];?></td>
                    <td><?php echo date("d/m/Y", strtotime($item['delivery_date']));?></td>
                    <td><?php echo $item['remark'];?></td>
                    <td><?php echo $item['created_at'] ? $item['created_at']  : '';?></td>
                    <td><?php echo $item['fullname'] ? $item['fullname']  : '';?></td>
                    <td><?php echo $item['confirm_at'] ? date("H:i d/m/Y", strtotime($item['confirm_at']))  : '';?></td>
                    <td>
                        <a class="label label-info"><?php echo $item['status'];?></a>
                    </td>
                    <td>
                        <div class="btn-group">
                            <a class="btn dropdown-toggle" data-toggle="dropdown" href="#">
                                Action
                                <span class=""></span>
                            </a>
                            
                                <ul class="dropdown-menu">
                                    <?php if ($this->access('purchasing', 'edit-order') and empty($item['confirm_by'])):?>
                                    <li>
                                        <a class="" href="/purchasing/edit-order?sn=<?php echo $item['sn'];?>">Edit</a>
                                    </li>
                                    <?php endif;?>
                                    <?php if ($this->access('purchasing', 'view-order')):?>
                                    <li>
                                        <a class="" href="/purchasing/view-order?sn=<?php echo $item['sn'];?>">View</a>
                                    </li>
                                    <li>
                                        <a class=""  target="_blank" href="/purchasing/print-po?sn=<?php echo $item['sn'];?>">Print</a>
                                    </li>
                                    <?php endif;?>
                                    <?php if ($this->access('purchasing', 'confirm-request') and empty($item['confirm_by'])):?>
                                    <li>
                                        <a class="" href="/purchasing/confirm-order?sn=<?php echo $item['sn'];?>">Confirm</a>
                                    </li>
                                    <?php endif;?>
                                    <?php if ($this->access('purchasing', 'del-order') and empty($item['confirm_by'])):?>
                                    <li>
                                        <a class="confirmLink" href="/purchasing/del-order?sn=<?php echo $item['sn'];?>">Delete</a>
                                    </li>
                                    <?php endif;?>
                                </ul> 
                            
                        </div>
                    </td>
                </tr>

            <?php endforeach;?>

        </tbody>
    </table>

    <div class="paging">
        <?php echo $this->paging($this->total, $this->limit, $this->offset, $this->url);?>
    </div>

    <script type="text/javascript" src="/js/jquery-ui-1.8.12.custom.min.js"></script>
    <link rel="stylesheet" type="text/css" href="/css/jquery-ui-1.8.12.custom.css"/>
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.3/css/select2.min.css">
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.3/js/select2.min.js"></script>
    <?php echo $this->confirm();?>

</div>
<script>

    $(document).ready(function(){
        $(".supplier_id").select2();
    });

</script>