<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<link rel="stylesheet" href="<?php echo HOST?>css/jquery-ui-1.8.12.custom.css" />
<link rel="stylesheet" href="<?php echo HOST?>css/checkmoney.css" />
<link rel="stylesheet" href="<?php echo HOST?>js/chosen.css" />
 
   <head>
      <meta http-equiv="Pragma" content="no-cache">
      <meta http-equiv="Expires" content="-1">
      <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
      <meta name="description" content="Invoice Laser">
      <meta name="keywords" content="Invoice Laser">
      <meta name="author" content="Cuong seven">
      <title>Print Internal Print</title>
      <script src="<?php echo HOST ?>js/jquery-1.7.2.min.js"></script>
      <link rel="stylesheet" href="<?php echo HOST ?>css/jquery-ui.css">
      <link rel="stylesheet" href="<?php echo HOST ?>css/invoice.css">
      <script src="<?php echo HOST ?>js/jquery-ui.js"></script>
   </head>
   <style>h2 {
           font-size: 23px;
           font-weight: bold;
           text-transform: uppercase;
           margin-top: 6px;
           margin-bottom: 10px;
       }

       .name-order
       {
           text-transform: uppercase;
           padding-left: 6px;
           width: 400px;
           padding: 0px 30px;
       }
       .signleft {
           text-align: left;
           padding-left: 50px;
       }
       .signname {
           width: 225px;
           float: left;
           text-align: center;
           margin-top: 16px;
       }
       .cn
       {
           float: left;
       }
       .cua
       {
           padding-left: 6px;
           min-width: 400px;
           display: block;
           float: left;
       }
       .center
       {
           text-align: center;
       }
       .left
       {
           text-align: left;
       }
       .right
       {
           text-align: right;
       }
       .hd th{
            padding: 10px;
       }
       .hd td{
            padding: 10px;
       }
   </style>
   <body>
   <!--begin invoice print template -->
   <div class="block">

       <div class="header">
            
           <div class="inform" style="width: 770px;">
               <h2> PHIẾU ĐỀ NGHỊ TẠM ỨNG</h2>
               <h2> CASE ADVANCE REQUEST</h2>
           </div>

           <div class="sign" >
               <p>Số/No: <span>................<?php //if(isset($this->from_invoice_prefix) and $this->from_invoice_prefix['invoice_type_number']) echo $this->from_invoice_prefix['invoice_type_number']; ?></span></p>
               <p>Ngày/date: <span>..............<?php //if(isset($this->from_invoice_prefix) and $this->from_invoice_prefix['name']) echo $this->from_invoice_prefix['name']; ?></span></p>
           </div>


           <div class="clear"></div>
       </div>

       <div class="information">
            <div>
                <span>Tên nhân viên/Requestted by</span>:&nbsp<strong> <?php  echo   $this->purchasing_request['created_by']; ?> </strong>
                <span style="margin-left: 100px;">Phòng/Department</span>:&nbsp<strong> <?php  echo $this->purchasing_request['department_name']; ?> </strong>
            </div>
       </div>

       <div class="devider"></div>       
    
       <div class="">
           <table class="table-border" cellspacing="0" width="100%">
                <tr class="thead">
                    <td class="th">Stt/No</td>
                    <td class="th">Diễn giải/Description</td>
                    <td class="th">Số lượng/Quantity</td>
                    <td class="th">Price Non VAT</td>
                    <td class="th">Price</td>
                    <td class="th">TOTAL</td>
                </tr>

                <?php
                $count = 0;
                if (isset($this->purchasing_request_details) and $this->purchasing_request_details)
                    foreach ($this->purchasing_request_details as $k=>$item):
                    $count++;
                    $total += ($item['quantity']*$item['price']);
                ?>
                    <tr class="sp">
                        <td class="td center">  <?php echo $count; ?></td>
                        <td class="td left"><?php echo $item['name'];?></td>
                        <td class="td center"><?php echo $item['quantity'];?></td>
                        <td class="td right"><?php echo number_format($item['price']*0.9);?></td>
                        <td class="td right"><?php echo number_format($item['price']);?></td>
                        <td class="td right"><?php echo number_format($item['quantity']*$item['price']*0.9);?></td>
                    </tr>
                <?php endforeach;?>

                <tr class="sp">
                    <td  colspan="5" style="text-align: right;padding-right: 30px;  border-top: 2px solid black;">Cộng tiền/Price:</td>
                    <td class="right" style="border-top: 2px solid black;"><?php echo number_format($total*0.9); ?> </td>
                </tr> 
                
                <tr class="sp">
                    <td  colspan="5" style="text-align: right;padding-right: 30px;">Thuế suất GTGT/VAT 10 % </td>
                    <td class="right"><?php echo number_format($total*0.1); ?> </td>
                </tr> 
                
                <tr class="sp">
                    <td  colspan="5" style="text-align: right;padding-right: 30px;">Tổng cộng tiền thanh toán/Total (NVD):</td>
                    <td class="center"><?php echo number_format($total); ?> </td>
                </tr> 
            </table>
       </div>
       

       <div class="information">
            <div>
                <span>Tôi hiểu rằng nếu không thanh toán trong vòng 07 ngày kể từ ngày nhận tiền, số tiền này sẽ được trừ vào lương của tôi./
                I understand that if I do not liquidate cash advance within 07 days from the receipt's date, this amount will be deducted from my salary.</span>
            </div>
       </div>

       <div class="signname signleft">
           <div>1.Người đề nghị</div>
           <p>Requestted by</p>
       </div>

       <div class="signname signleft">
           <div>2.Phụ trách bộ phận</div>
           <p>Leader of the Unit</p>
       </div>

       <div class="signname signleft">
           <div>3.Kế toán kiểm tra</div>
           <p>Check by</p>
       </div>

       <div class="signname signright">
            <div>4.Giám đốc duyệt</div>
           <p>Approved by Director</p>
       </div>

       <div class="signname signleft" style=" margin-top: 70px;">
           <div>5.Thủ quỹ</div>
           <p>Treasurer</p>
       </div>

       <div class="signname signleft" style=" margin-top: 70px;">
           <div>6.Người nhận tiền</div>
           <p>Received by</p>
       </div>   
       <div class="clear"></div>
 
      <div class="page-break"></div>
   </div>
    
   </body>
 
<script type="text/javascript" src="/js/jquery-ui-1.8.12.custom.min.js"></script>
<link rel="stylesheet" type="text/css" href="/css/jquery-ui-1.8.12.custom.css"/>
<script src="<?php echo HOST?>js/jets.js"></script>
<script src="<?php echo HOST?>js/jquery-ui-1.8.12.custom.min.js"></script>
<script src="<?php echo HOST?>js/numeral.min.js"></script>
<script src="<?php echo HOST?>js/chosen.jquery.js"></script>

<script type="text/javascript">

    window.print();

</script>