<style>
    #sortable {
        list-style-type: none;
        margin: 0;
        padding: 0;
    }

    #sortable li {
        margin: 0 3px 3px 3px;
        padding: 0.4em;
        padding-left: 1.5em;
        font-size: 1.4em;
        height: 18px;
    }


    #sortable li span {
        position: absolute;
        margin-left: -1.3em;
    }

    #sortable li:hover {
        border: 1px solid;
    }


</style>
<div class="page-header">
    <h2>
        Project Managing
    </h2>
</div>

<?php
if (isset($this->messages) and $this->messages)
    foreach ($this->messages as $message):
        echo '<div class="alert alert-success">' . $message . '</div>';
    endforeach;

if (isset($this->messages_error) and $this->messages_error)
    foreach ($this->messages_error as $message):
        echo '<div class="alert alert-error">' . $message . '</div>';
    endforeach;

?>


<div class="widget">
    <div class="widget-header">
        <i class="icon-list-alt"></i>
        <h3>General Infor</h3>
    </div>

    <div class="widget-content">

        <div class="row">

            <div class="span12">
                <div class="header-text">
                    <h3><i class="icon-list-alt"></i> Project Lists
                        <div class="pull-right">
                            <a class="btn btn-secondary" id="create-btn-form">Create</a>
                        </div>
                    </h3>
                </div>
                <table class="table table-bordered">
                    <thead>
                    <tr>
                        <?php echo $this->sorting(array(
                            '#',
                            'id' => 'id',
                            'name' => 'name',
                            'remark' => 'remark',
                            'action'
                        ),
                            $this->url, $this->sort, $this->desc);
                        ?>
                    </tr>
                    </thead>
                    <tbody>

                    <?php

                    if (isset($this->listProject) AND $this->listProject):
                        $intStt = $this->offset;
                        foreach ($this->listProject as $key => $value):
                            ?>
                            <tr>
                                <td><?php echo ++$intStt; ?></td>
                                <td><?php echo $value['id'] ?></td>
                                <td><?= $value['name'] ?> </td>
                                <td><?= $value['remark'] ?> </td>
                                <td>
                                    <a id="<?= $value['id']; ?>" class="project-items"><i class="icon-edit"></i></a>
                                    <a id="<?= $value['id']; ?>" class="project-items-delete"><i class="icon-trash"></i></a>
                                </td>
                            </tr>
                        <?php
                        endforeach;
                    endif; ?>
                    </tbody>
                </table>
                <div class="paging">
                    <?php echo $this->paging($this->total, $this->limit, $this->offset, $this->url); ?>
                </div>


            </div>
            <div class="span5" style="display: none;" id="form-info">
                <div class="header-text">
                    <h3><i class="icon-list-alt"></i> Project Information</h3>
                </div>
                <div class="widget-content">
                    <div id="react-form">

                    </div>
                    <div class="control-group">
                        <div class="control-label">
                            Project Name
                        </div>
                        <div class="controls">
                            <input name="name_field_update" id="name_field_update" class="">
                        </div>
                        <div class="control-label">
                            Remark
                        </div>
                        <div class="controls">
                            <input name="remark_field_update" id="remark_field_update" class="">
                        </div>
                        <input name="id_field_update" id="id_field_update" class="" style="display:none;">
                    </div>
                    <div class="form-actions">
                        <div class="pull-right">
                            <a class="btn btn-danger" id="update-btn">Update</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="span5" style="display: none;" id="form-create">
                <div class="header-text">
                    <h3><i class="icon-list-alt"></i> Project Creating</h3>
                </div>
                <div class="widget-content">
                    <div id="react-form">

                    </div>
                    <div class="control-group">
                        <div class="control-label">
                            Project Name
                        </div>
                        <div class="controls">
                            <input name="name_field_create" id="name_field_create" class="">
                        </div>
                        <div class="control-label">
                            Remark
                        </div>
                        <div class="controls">
                            <input name="remark_field_create" id="remark_field_create" class="">
                        </div>
                    </div>
                    <div class="form-actions">
                        <div class="pull-right">
                            <a class="btn btn-primary" id="create-btn">Create</a>
                        </div>
                    </div>
                </div>
            </div>


        </div><!-- row -->
    </div>
</div>


<script type="text/javascript" src="/js/jquery-ui-1.8.12.custom.min.js"></script>
<link rel="stylesheet" type="text/css" href="/css/jquery-ui-1.8.12.custom.css"/>


<script>

    $(document).ready(function () {

        var arraySortingProject = [];
        var i = 0;
        $('.date').mousedown(function () {
            $(this).datepicker({dateFormat: "yy-mm-dd"});
        });

        $('.project-items').on('click', function () {
            var project_id = $(this).attr('id');
            $.ajax({
                cache: false,
                method: 'get',
                url: 'get-project-information',
                data: {project_id: project_id},
                datatype: 'xml',
                success: function (data) {
                    data = JSON.parse(data);
                    $("#name_field_update").val(data.name);
                    $("#remark_field_update").val(data.remark);
                    $("#id_field_update").val(data.id);

                    $('#form-info').show('fast');
                    $('#form-create').hide();
                }
            });
        });
        $('.project-items-delete').on('click', function () {
            var project_id = $(this).attr('id');
            Swal.fire({
                type: 'question',
                title: 'Are you sure ?',
                showCancelButton: true,
                showConfirmButton: true,
            }).then((result) => {
                if (result.value) {
                    $.ajax({
                        method: 'get',
                        url: 'project-delete',
                        data: {project_id: project_id},
                        success: function (data) {
                            if (data) {
                                successAlert();
                            } else {
                                failedAlert();
                            }
                        }
                    });
                }
            });
        });
        $('#create-btn-form').on('click', function () {
            $('#form-create').show('fast');
            $('#form-info').hide();
        });
        $('#create-btn').on('click', function () {
            if ($('#name_field_create').val() == "") {
                alert("Project name is needed !");
            } else {
                var project_name = $('#name_field_create').val();
                var project_remark = $('#remark_field_create').val();
                $.ajax({
                    method: 'get',
                    url: 'project-create',
                    data: {project_name: project_name, project_remark: project_remark},
                    success: function (data) {
                        if (data) {
                            successAlert();
                        } else {
                            failedAlert();
                        }
                    }
                });
            }
        });
        $('#update-btn').on('click', function () {
            var project_name = $('#name_field_update').val();
            var project_remark = $('#remark_field_update').val();
            var project_id = $("#id_field_update").val();

            $.ajax({
                method: 'get',
                url: 'project-update',
                data: {project_id: project_id, project_name: project_name, project_remark: project_remark},
                success: function (data) {
                    if (data) {
                        successAlert();
                    } else {
                        failedAlert();
                    }
                }
            });
        });

        function successAlert() {
            Swal.fire({
                type: 'success',
                title: 'Success',
                showCancelButton: true,
                showConfirmButton: false,
                timer: 2000
            }).then(function () {
                location.reload();
            });
        }

        function failedAlert() {
            Swal.fire({
                type: 'error',
                title: 'Failed',
                showCancelButton: true,
                showConfirmButton: false,
                timer: 2000
            }).then(function () {
                location.reload();
            });
        }

    });


</script>