<link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.3/css/select2.min.css">
<link rel="stylesheet" type="text/css" href="/css/jquery-ui-1.8.12.custom.css"/>
<style type="text/css">
    .form-create span{display: block;margin: 0px 0px;}
    .form-create input{width: 165px;margin-right: 10px}
    .form-create select{width: 175px;margin-right: 10px}
    .form-create{display: block;float: left;margin-right: 10px;}
    .parent{display: block; padding: 10px; margin: 5px; border-radius: 1px; -moz-boder-radius: 5px;}
    .save{margin-right: 5px}
    .checkbox{display: block;width: 15px !important;height: 15px !important;;display: block; float: right;}
    .select2-search__field{height: 30px}
    .purchasing_type_id{width: 250px}
    .color_red{color: red;}
    .with30{ width: 30px !important;}
    .with100{ width: 100px !important;}
    .with150{ width: 150px !important;}
    .with50{ width: 50px !important;}
    .with70{ width: 70px !important;}
    .with80{ width: 80px !important;}
    .margin_right{ margin-right: 40px;}
    .lead_line{width: auto; height: 3px; background-color: #8dd0b7;}
    .tr-dialog td{
        text-align: left;
    }
    .hidden-input{
        display: none;
    /*    display: block to testing or maintenance*/
    }
    .float-left{
        float:left;
    }
    .float-right{
        float:right;
    }
    .modal-body{height: 100%;}
    .lg-icon{font-size:20px !important;margin:3px;}

    #loading-img {
        background: url(http://preloaders.net/preloaders/360/Velocity.gif) center center no-repeat;
        height: 100%;
        z-index: 20;
    }

    .overlay {
        background: white;
        display: none;
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        opacity: 1;
        z-index:1;
    }
    p{font-size: 12px;}
</style>
<div class="overlay">
    <div id="loading-img"></div>
</div>
<div ng-app="myApp" >
<div class="container" ng-controller="myCtrl">

<div class="page-header">
    <div ng-if="message">
        <div class="alert alert-{{message.type}} myMessage">
            <button type="button" class="close" data-dismiss="alert">×</button>
            <strong>{{message.type}}</strong> {{message.msg}}
        </div>
    </div>
    <h3>PURCHASING RATING</h3>
</div>

<?php
if (isset($this->messages) and $this->messages)
    foreach ($this->messages as $message):
        echo '<div class="alert alert-success">'.$message.'</div>';
    endforeach;

if (isset($this->messages_error) and $this->messages_error)
    foreach ($this->messages_error as $message):
        echo '<div class="alert alert-error">'.$message.'</div>';
    endforeach;
?>
<div>
    <div class="container">
    <a role="button" class="btn btn-warning pull-right down" href="#">Scroll down &darr;</a>
    <div class="">
    <form id="formUploadFile" method="POST" action="/purchasing/ajax-submit-purchasing-rating" enctype="multipart/form-data">
        <div class="widget">
            <div class="widget-content">            
                <div class="span12"> 
                <?php $current_link = (isset($_SERVER['HTTPS']) && $_SERVER['HTTPS'] === 'on' ? "https" : "http") . "://$_SERVER[HTTP_HOST]$_SERVER[REQUEST_URI]";
                    if($current_link == HOST . 'purchasing/purchasing-rating'):
                ?>
                <div class="span5">
                <div class="col-sm-2">                    
                    <p>Từ phòng ban :<b class="color_red">(*)</b></p>        
                    <select name="department_id" id="department_id"  class="span2" >
                        <option value="">--Select--</option>
                         <?php foreach($this->department as $key=>$value):?>
                        <option value="<?php echo $key;?>" <?php 
                        echo (isset($this->test['department_id']) and $this->test['department_id'] == $key) ? "selected" : NULL;?>><?php echo $value;?></option>
                        <?php endforeach;?>
                    </select>
                </div>
                <div class="col-sm-2">
                    <p>Team :<b class="color_red">(*)</b></p>                 
                    <select name="team_id" id="team" class="span2">
                        <option value>--Select--</option>
                        <?php if ( isset($this->test) AND isset($this->recursiveDeparmentTeamTitle[$this->test['department_id']]['children'])): ?>
                            <?php foreach ($this->recursiveDeparmentTeamTitle[$this->test['department_id']]['children'] as $item_id => $item):?>
                                <option value="<?php echo $item_id;?>" <?php if (isset($this->test) and $this->test and $item_id==$this->test['team_id']):?>selected<?php endif;?>><?php echo $item['name'];?></option>
                            <?php endforeach;?>
                        <?php endif ?>
                    </select>
                </div>
                </div>
                <?php endif; ?>
                <div class="span6">
                <div class="col-sm-2">
                    <label for="input-id" class="">Nhóm hàng</label>
                    <select required disabled="true" name="" id="purchasingType" class="form-control form-control" ng-readonly=" <?= !empty($this->params['purchasing_type_id']) ? 1:0?> ">
                    <option id="show" class="option_type" ng-repeat="(key,object) in purchasingType" ng-selected="object.id==<?=$this->params['purchasing_type_id']?>" value="{{object.id}}" >
                        {{object.name}} - {{object.department_name}}
                    </option>
                    </select>
                </div>
                <div class="col-sm-2">
                <label class="">Ngày</label>
                <input type="text" ng-disabled="!{{date}}" id="date"  value="{{date |  date:'yyyy-MM-dd'}}" class="hasDatepicker"/>
                </div>
                <div class="col-sm-2">
                <label class="o">Stage</label>
                <!-- <input disabled="true" id="stage" value="{{times}}"/> -->
                <input id="stage" value="<?= !empty($this->params['stage']) ? $this->params['stage']:1;?>" ng-readonly="<?= !empty($this->params['stage']) ? 1:0;?>"/>
                </div>
                </div>          
                </div>          
                
            </div>
            
            
            <a class="btn btn-primary" id="pushMoreObjectRating" ng-click="pushMoreObjectRating()">+</a>
            <a class="btn btn-danger" ng-click="popMoreObjectRating()">-</a>
            <div class="widget-content" ng-repeat="(keyObject,object) in supplier" style="margin:10px;">

            <div class="span3">
                <div class="col-sm-2--">
                    <label for="input-id" class="">Nhà Cung Cấp</label>
                    <select  ng-if="!object.id" ng-change="onSelectSupplier({{keyObject}})" ng-model="supplierModel" id="input" class="form-control form-control supplierSelect select2" required="required">
                        <option selected></option>
                        <option  ng-repeat="(k,o) in object.supplierList" ng-selected="o.id==object.inputData[0].idSupplier" value="{{o.id}}">{{o.title}}</option>
                    </select>
                    <h2 ng-if="object.id">
                    {{object.inputData.supplierName}}
                    </h2>
                </div>
            </div>
            <div class="span3">
                <div class="col-sm-2--">
                    <label for="input-id" class="">Phòng Ban</label>
                    <h3 ng-if="!object.id" class="ng-binding"><?php echo $this->get_team; ?></h3>
                    
                    <!--                    
                        <select ng-if="!object.id" data-id-supplier="{{o.id}}" data-id-object="{{keyObject}}" class="form-control departmentSelect select2 multiple" multiple="multiple">
                        <option  ng-repeat="(key, value) in object.department" ng-selected="key==object.inputData[keyObject].departmentId" value="{{ key }}">{{ value }}</option>
                    </select>-->
                                     
                    <div ng-if="object.id" ng-repeat="objDataOld in object.inputData">
                        <h3>{{objDataOld.departmentName}}</h3>
                    </div>
                </div>
            </div>
            <div class="span5">
                <div class="col-sm-2---">
                    <label for="input-id" class="">Chi Tiết Đánh Giá</label>
                    <p ng-repeat="(keyObjectInputData,obj) in object.inputData" ng-show="obj.departmentName">  
                        <!-- Đơn vị khác không chọn xem Purchasing đánh giá được -->
                        <?php if($this->check_purchasing != '400'):?>
                        <a class="btn span2" ng-if="obj.departmentId !== '400'" ng-click="openCriteriaRating(keyObject,keyObjectInputData)"> {{obj.departmentName}}</a>
                        <a class="btn span2" ng-if="obj.departmentId === '400'" style="cursor: not-allowed;" disabled> {{obj.departmentName}}</a>    
                        <?php endif;?>
                        <?php if($this->check_purchasing == '400'):?>
                        <a class="btn span2" ng-click="openCriteriaRating(keyObject,keyObjectInputData)"> {{obj.departmentName}}</a>                       
                        <?php endif;?>
                        <!-- -->
                        <i class="icon-large icon-tasks" style="margin-left:10px;"></i>
                        <span class="point-in-object-{{keyObjectInputData}}" ng-if="pointAverage(obj.ratingDetail)">{{pointAverage(obj.ratingDetail)}} </span>
                        <span class="" ng-if="!obj.ratingDetail">Chưa đánh giá</span>
                    </p>
                </div>
            </div>
            <div class="span3">
                <div class="col-sm-2">
                    <label for="input-id" class="">File</label>                       
                    <h2 ng-if="object.id">
                        <span class="lg-icon" style="font-size:9px;" ng-repeat="x in object.inputData.file.url">
                                <a href="<?=HOST?>{{x}}" ng-if="x" download>
                                    <i class="icon-large icon-download-alt">
                                    </i>
                                </a>
                        </span>  
                    </h2>
                    <input class="file" name="file[{{keyObject}}][]" type="file" multiple/>
                </div>
            </div>
            <div class="span1">
            </div>
            </div>
        </div>
        <a class="btn btn-primary btn-submit" ng-click="submitBtn()">Submit</a>
    </div>
    </form>

    <div id="dialogCriteria" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
        <h3 id="myModalLabel">Criteria Rate</h3>
    </div>
    <div class="modal-body">
        <table>
            <thead>
                <th rowspan="2">
                    Tiêu chí đánh giá
                </th>
                <td>1</td>
                <td>2</td>
                <td>3</td>
                <td>4</td>
                <td>5</td>
            </thead>
            <tbody>
                <div>                    
                <tr class="tr-dialog" ng-repeat="(key,criteria) in listCriteria">
                    <td>
                        <label for="{{key}}">{{criteria.criteria}}</label>
                    </td>
                    <td>
                        <input class="radio-criteria"  ng-checked="supplier[currentObject].inputData[currentObjectInputData].ratingDetail[key] ==1" type="radio" name="{{key}}" value="1">
                    </td>
                    <td>
                        <input class="radio-criteria"  ng-checked="supplier[currentObject].inputData[currentObjectInputData].ratingDetail[key] ==2" type="radio" name="{{key}}" value="2">
                    </td>
                    <td>
                        <input class="radio-criteria"  ng-checked="supplier[currentObject].inputData[currentObjectInputData].ratingDetail[key] ==3" type="radio" name="{{key}}" value="3">
                    </td>
                    <td>
                        <input class="radio-criteria"  ng-checked="supplier[currentObject].inputData[currentObjectInputData].ratingDetail[key] ==4" type="radio" name="{{key}}" value="4">
                    </td>
                    <td>
                        <input class="radio-criteria"  ng-checked="supplier[currentObject].inputData[currentObjectInputData].ratingDetail[key] ==5" type="radio" name="{{key}}" value="5">
                    </td>
                </tr>
                </div>
            </tbody>
        </table>
        <div>
            <h6>Chú thích:</h6>
            <span class="news-item-preview">
                1: Rất yếu. 
            </span>
            <span class="news-item-preview">
                2: Yếu. 
            </span>
            <span class="news-item-preview">
                3: Trung bình. 
            </span>
            <span class="news-item-preview">
                4: Tốt. 
            </span>
            <span class="news-item-preview">
                5: Rất tốt. 
            </span>
        </div>

        <div class="row">
            <div class="span6">
                <h4>Ghi chú:</h4>
                <textarea id="note_criteria" value="{{supplier[currentObject].inputData[currentObjectInputData].note}}"></textarea>
            </div>
        </div>  

        <div class="row">
            <div class="span6">
                <h4 style="color:red">Hủy đánh giá này:</h4>
                <input type="checkbox" ng-model="supplier[currentObject].inputData[currentObjectInputData].del" ng-click="checkRemove()" />
            </div>
        </div>   

    </div>

    <div class="modal-footer">
        <button class="btn" data-dismiss="modal" aria-hidden="true">Close</button>
        <button class="btn btn-primary" ng-click="btnSaveCriteria(currentObject,currentObjectInputData)">Save changes</button>
    </div>
        
    </div>
    </div>
</div>
    <a role="button" class="btn btn-warning pull-right up" style="visibility: hidden;" href="#">Scroll up &uarr;</a>
</div>
</div>
<script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.7.9/angular.js"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.3/js/select2.min.js"></script>
<script type="text/javascript" src="/js/jquery-ui-1.8.12.custom.min.js"></script>
<script type="text/javascript">
var purchasingType  = <?php echo json_encode($this->purchasing_type);?>;
var listCriteria    = <?php echo json_encode($this->listCriteria) ?>;
var department      = <?php echo json_encode($this->department) ?>;
var supplierList    = <?php echo json_encode($this->supplier) ?>;
var times           = <?php echo json_encode($this->times) ?>;
var date            = <?php echo json_encode($this->date) ?>;
var res             = <?php echo json_encode($this->res) ?>;
if(!date){
    date=new Date();
}
    
var app = angular.module('myApp', []);
app.controller('myCtrl', function($scope) {
    $scope.purchasingType = purchasingType;
    $scope.date = date;
    $scope.times = times;
    $scope.supplierId = [];
    $scope.supplier = 
            [
                {   
                    supplierList:supplierList,
                    department: department,
                    inputData:[],
                }
            ];                
    $scope.supplierEdit = [];
    if(res != null){
        $.each(res,function(key,value){
            res[key].supplierList=supplierList;
            res[key].department=department;
            $scope.supplier.push(value);
        });
    }
    
    $scope.listCriteria=listCriteria;    
    $(document).on('select2:select', '.departmentSelect' ,function(e) {//Select
        let keyObject=$(this).data('id-object');
          
        let objectTemp={
                    objectParent:keyObject,
                        departmentId:e.params.data.id ,
                    departmentName : e.params.data.text, 
                    ratingDetail:[],
                    note:null,
                    del:0,
                    point:1,
                    supplierId:null,
                    files:[],
                };

    	$scope.supplier[keyObject].inputData.push(objectTemp);
        $scope.$digest();
    });

    $(document).on('select2:unselect', '.departmentSelect' ,function(e) {//Select
        let keyObject=$(this).data('id-object');
        let objectTemp={departmentId:e.params.data.id , departmentName : e.params.data.text};
        let keyObj = $scope.supplier[keyObject].inputData.findIndex(obj => obj.departmentId == objectTemp.departmentId);
        // let infoObj = $scope.departmentRating.findIndex(obj => obj.departmentId == objectTemp.departmentId);
        $scope.supplier[keyObject].inputData.splice(keyObj, 1);
        $scope.$digest();
    });


    // ACTION-----------------------------------------------------------------
    $scope.onSelectSupplier = function(keyObject) {
        
        let objectTemp_ = {departmentId: <?php echo $this->check_purchasing ?> , departmentName : '<?php echo $this->get_team ?>'};
        let keyObj = $scope.supplier[keyObject].inputData.findIndex(obj => obj.departmentId == objectTemp_.departmentId);
        $scope.supplier[keyObject].inputData.splice(keyObj, 1);        
        let objectTemp =
        {
            objectParent:keyObject,
            departmentId    :  <?php echo $this->check_purchasing ?>,
            departmentName  : '<?php echo $this->get_team ?>', 
            ratingDetail:[],
            note:null,
            del:0,
            point:1,
            supplierId:null,
            files:[],
        };
    	$scope.supplier[keyObject].inputData.push(objectTemp);        
        $scope.supplier[keyObject].inputData.supplierId=$(this)[0].supplierModel;        
    };
    $scope.pushMoreObjectRating = function() {
        $scope.supplier.unshift
        ({
            supplierList:supplierList,
            department: department,
            inputData:[],
        });
        $('.departmentSelect').select2();
    };
    $scope.popMoreObjectRating = function() {
        $scope.supplier.shift();
    };
    $scope.submitBtn = function() {
        let dataSubmit=[];
        let supplierList=[];
        let date=$('#date').val();
        let stage=$('#stage').val();
        let purchasingTypeId=$('#purchasingType').val();


        $.each($scope.supplier,function(key,value){
            // console.log(key);
            // supplierList[key]=$scope.supplier[key].inputData[idSupplier];
            let SupplierIdDetailRating=null;
            supplierId=$scope.supplier[key].inputData.supplierId;
            supplierList[key]=supplierId;
            SupplierIdDetailRating=$scope.supplier[key].inputData;           
            // idSupplierDetailRating[key]["supplier_id"]=idSupplier;
            dataSubmit[key]=SupplierIdDetailRating;
            if(value.id){ //Check is exist or not
                // dataSubmit['id']=$scope.supplier[key].inputData['id']=value.id;
            }
            // console.log(value);
        });

        formData = new FormData($('#formUploadFile')[0]);        
        // formData.append('input',JSON.stringify(dataSubmit));
        formData.append('input',JSON.stringify(dataSubmit));
        formData.append('purchasingTypeId',JSON.stringify(purchasingTypeId));
        formData.append('supplierList',JSON.stringify(supplierList));
        formData.append('date',JSON.stringify(date));

        formData.append('stage',JSON.stringify(stage));
        // console.log(formData);
        for (var key of formData.entries()) {
            console.log(key[0] + ', ' + key[1]);
        }
        $.ajax({
                url : "/purchasing/ajax-submit-purchasing-rating",
                dataType : "json",
                type: 'POST',
                data: formData,
                cache: false,
                contentType: false,
                processData: false,
                success : function(result){
                    
                    if(result.status == 1){
                        
                        $scope.message=[{type:1,message:result.msg}];
                        // console.log($scope.message);
                        $scope.$digest();
                        $(".overlay").show();
                        setTimeout(function(){ window.location.href = "/purchasing/list-purchasing-rating"; }, 300);
                    }
                    else{
                        
                        console.log(result);
                    }
                    

                },
                error : function(result){
                    // $('#result').innerHTML = "load data false"
                    $(".overlay").show();
                    
                    console.log(result);
                        
                    //setTimeout(function(){ window.location.href = "/purchasing/list-purchasing-rating"; }, 3000);

                    // message
                },           
                // done:function(){
                //     location.reload();
                // }
            }
        );
    };
    
    $scope.openCriteriaRating=function(keyObject,currentObjectInputData){
        $('#note_criteria').val(null);
        $('.radio-criteria').attr('checked',false);
        // console.log(keyObject);

        $scope.currentObject=keyObject;
        $scope.currentObjectInputData=currentObjectInputData;
        $('#dialogCriteria').modal('show');
    };

    $scope.btnSaveCriteria=function(currentObject,currentObjectInputData){

        console.log(currentObject);

       $('.radio-criteria:checked').each(function(key){
            let criteria=$scope.supplier[currentObject].inputData[currentObjectInputData].ratingDetail;
            criteria[$(this).attr('name')]=$(this).val();
        });
        criteria=$scope.supplier[currentObject].inputData[currentObjectInputData].note=$('#note_criteria').val();
        
        $scope.currentObject=null;
        $scope.currentObjectInputData=null;
        // console.log($scope.supplier)
        $('#dialogCriteria').modal('hide');

    }
    $scope.pointAverage=function(pointArr){
        totalPoint=0;
        count=0;
            $.each(pointArr,function(key,value){
                if(value){
                    totalPoint+=parseInt(value);
                    count++;
                }
            });
        if(totalPoint/count){
            let point=totalPoint/count;
                if( point == 5 ){
                    ranking= "Rất đạt";
                }else if( point < 3 ){
                    ranking= "Không đạt";
                }else{
                    ranking= "Đạt";
                }
            return point.toFixed(2)+ ": "+ ranking +"";
        }  
        return 0;
    }
    // END ACTION ------------------------------------------------------------------------------------------------

});

$(document).ready(function(){
            $('.file').change(function(){
                for(var i=0; i< this.files.length; i++){
                var file = this.files[i];
                name = file.name.toLowerCase();
                size = file.size;
                type = file.type;
                }
            });
        });




// JQUERY
$( document ).ready(function() {
$('.departmentSelect').select2();
$('.departmentSelectEdit').select2();
$('.supplierSelect').select2();

});
$(document).on('click', '#pushMoreObjectRating' ,function() {
    $('.departmentSelect').select2();
    $('.departmentSelectEdit').select2();
    // $('input[type=file]').on('change', prepareUpload);

});
// $( document).on('click',function() {
// $('.departmentSelect').select2();
// });
// $(document).on('select2:select', '.departmentSelect' ,function(e) {//Select
// console.log(e.params);
//         console.log(e.params.data.id); // Get value of last option selected
//         addFormDepartmentRating(e.params.data.id);
// });
// $('#date').datepicker({ dateFormat: 'yyyy-MM-dd' }).val();
$(document).on('change','#team',function(){    
    
    $('#purchasingType').find('.option_type').remove(); 
    $("#purchasingType").attr("disabled", false);
    $("#show").html("--Select--");
    var team_id = $(this).val(); 
    if(team_id==""){        
    }else{
        $(this).after('<span class="loading"></span>');
        data_type = {'team_id': team_id };
        $.ajax({
            url: "<?php echo HOST . 'purchasing/ajax-load-type' ?>",
            type: 'POST',
            data: data_type,
            success: function (data) {
                var response = $.parseJSON(data);
                if (response.status == 1) {
                    var str = '';
                    var obj_type = response.data;
                    if(obj_type!=''){ 
                        for (var i = 0; i < obj_type.length; i++) { 
                            str += '<option class="option_type" value="'+obj_type[i]['id']+'">'+obj_type[i]['name']+'</option>';
                        }
                    }else{
                        str += '<option class="option_type" value="-1">Chưa xác định</option>';
                    }
                    $('#purchasingType').append(str);
                    $('.loading').remove();
                } else {
                    alert(response.message);
                    $('.loading').remove();
                }
            },
        });         
    }
});
        

$(document).on('change','#department_id',function(){
    $('.loading').remove();
 
    $(this).after('<span class="loading"></span>');
    var _self = $(this);
    var department_id = $(this).val();
    $('form').bind('submit',function(e){e.preventDefault();});
    $('button, .btn, input, select').prop('disabled', true);
    $.get("/ajax/load-team",
    {department_id: [department_id]}
    ,function(data,status){
        var obj = $.parseJSON( data );
        $('#team,.team').find('option:not(:first)').remove();
        for (var i = 0; i < obj.length; i++) {
            $('#team,.team').append('<option value="'+obj[i]['id']+'">'+obj[i]['name']+'</option>');
        }
        $('button, .btn, input, select').prop('disabled', false);
        $('form').unbind('submit');
        $('.loading').remove();
        $('#team,.team').change();
    });
});

$(document).ready(function() {
$(".down").click(function() {
     $('html, body').animate({
         scrollTop: $(".up").offset().top
     }, 300);
 });
});

$(document).ready(function() {
$(".up").click(function() {
     $('html, body').animate({
         scrollTop: $(".down").offset().top
     }, 300);
 });
});
</script>


