<style type="text/css"> 
    iframe {
        height: 100px;
        width: 100%;
        border: none;
    }    
    .cover-header{padding: 10px;}
    .cover{
        border: 2px solid #e9e9e9;
        padding: 10px;
        border-radius: 10px;
    }
    .web-block{margin-top: 20px;}
    .div-cover{margin-bottom: 10px;}
    label{text-align: left;}
    table tr td{text-align: left;}
    table tr th{color: #008B56;}
    #rating-form{ display: none; }
</style>
<div class="page-header">
    <h1>Trang đánh giá</h1>
    <div class="web-block row-fluid">
        <a href="/purchasing/time-list"><button class="btn btn-success"><i class="icon-arrow-left">&nbsp;&nbsp;Quay lại</i></button></a>
    </div>    
</div>
<form role="form" method="post" target="iframe"  enctype="multipart/form-data">
<div class="row-fluid">    
        <div class="span6">
            <div class="row-fluid">  
                <div class="control-group web-block cover-header">
                    <div class="col-sm-2 div-cover">
                        <input type="hidden" name="point" class="point" />
                        <input type="hidden" name="staff_id" class="staff_id" />
                        <label for="input-id" class="">Tên loại đánh giá:</label>
                        <h4 style="color: #008B56"><?php echo $this->time['name']; ?></h4>
                    </div>

                    <div class="cover">
                        <label for="" class="">Chọn nhân viên</label>
                        <select id="mySelect" onchange="showFunction()" required>   
                            <option value="">--Please select--</option>   
                            <?php foreach ($this->staff as $key => $value):?> 
                            <option value="<?php echo $key; ?>"><?php echo $value; ?></option>  
                            <?php endforeach;?>
                        </select>                    
                        
                        <input placeholder="Điểm đánh giá hiện tại" class="sum" readonly>
                        <div class="col-sm-2" id="rating-form">                             
                            <a class="btn btn_rating btn-warning"><i id="" class="icon-tasks">&nbsp;&nbsp;Đánh giá</i></a>
                        </div>
                        <div class="modal-footer">
                            <button type="submit" id="submitId" disabled="true" class="btn btn-primary">Submit</button>        
                        </div>
                    </div>      
                    
                </div>
            </div>
        </div>
        
    <div class="cover">
            <div class="web-block">
            <table class="table">
                <tr>
                    <th>Tên nhân viên   </th>
                    <th>Đánh giá bởi    </th>
                    <th>Điểm đánh giá   </th>
                    <th>Action          </th>
                </tr>
                <?php        
                    foreach(  $this->list as $value):
                ?>
                <tr>
                    <td><?php echo $value['rating_staff_name'];?></td>
                    <td style="color: green;">created by: <?php echo $value['created_by_staff'];?><br>created at: <?php echo $value['created_at'];?></td>
                    <td><label for="input-id"><a class="btn btn-warning btn_detail"
                                                                    data-id="<?php echo $value['id'];?>"
                                                                    data-point="<?php echo $value['point_details'];?>"
                                                                    data-name="<?php echo $value['rating_staff_name'];?>"
                                                                    data-note="<?php echo $value['note'];?>">
                                <i class="icon-tasks"></i></a>  <?php echo $value['point'];?><br>Loại:
                        <?php if($value['point'] >= 1 && $value['point']<2){echo 'Rất yếu';}
                              elseif ($value['point'] >= 2 && $value['point']<3){echo 'Yếu';}
                              elseif ($value['point'] >= 3 && $value['point']<4){echo 'Trung bình';}
                              elseif ($value['point'] >= 4 && $value['point']<5){echo 'Tốt';}
                              elseif ($value['point'] == 5){echo 'Rất tốt';}?></label>                                
                    </td>
                    <td><a  role="button" <?php if($value['created_by'] != $this->user_id){echo 'class="btn btn-danger" disabled';}
                                                else{echo 'class="btn btn_delete btn-danger"';} ?>
                            data-id="<?php echo $value['id'];?>"
                            data-name="<?php echo $value['rating_staff_name'];?>"><i class="icon-trash"></i></a></td>
                </tr>
                <?php endforeach; ?>
            </table>                              
            </div>                    

        <link rel="stylesheet" type="text/css" href="/css/jquery-ui-1.8.12.custom.css"/>
        <script type="text/javascript" src="/js/jquery-ui-1.8.12.custom.min.js"></script>
        <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.3/js/select2.min.js"></script>
            
        </div>
    
</div>

<div id="ratingModal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">  
    <div class="modal-header">        
        <h5 id="myModalLabel">Đánh giá nhân viên - <i id="show" style="color: red;"></i></h5>
    </div>
    <div class="modal-body">
        <table style="width: 100%;">             
            <thead>
                <th rowspan="2">Tiêu chí đánh giá</th>
                <td>1</td>
                <td>2</td>
                <td>3</td>
                <td>4</td>
                <td>5</td>
            </thead>
            <tbody>
            <?php foreach($this->survey as $value) : ?>
            <tr>
                <td><label for=""><?php echo $value['name'];?></label></td>                        
                <td><input class="calc" value="1" name="servey_point[<?php echo $value['id'];?>]" class="radio-criteria" type="radio"></td>
                <td><input class="calc" value="2" name="servey_point[<?php echo $value['id'];?>]" class="radio-criteria" type="radio"></td>
                <td><input class="calc" value="3" name="servey_point[<?php echo $value['id'];?>]" class="radio-criteria" type="radio"></td>
                <td><input class="calc" value="4" name="servey_point[<?php echo $value['id'];?>]" class="radio-criteria" type="radio"></td>
                <td><input class="calc" value="5" name="servey_point[<?php echo $value['id'];?>]" class="radio-criteria" type="radio"></td>
            </tr>
            <?php endforeach; ?>
            </tbody>          
        </table>
        
        <div>
            <h6>Chú thích:</h6>
            <span class="news-item-preview">1: Rất yếu.     </span>
            <span class="news-item-preview">2: Yếu.         </span>
            <span class="news-item-preview">3: Trung bình.  </span>
            <span class="news-item-preview">4: Tốt.         </span>
            <span class="news-item-preview">5: Rất tốt.     </span>
        </div>
        
        <div class="row">
            <div class="span6">
                <h4>Ghi chú:</h4>
                <textarea name="note"></textarea>
            </div>
        </div>  
    </div>
    <div class="modal-footer">        
        <input type="hidden" name="link" class="link" />
        <button class="btn btn-primary" data-dismiss="modal" aria-hidden="true">Close</button>            
    </div>
</div>
</form>

<div id="detailModal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">  
    <div class="modal-header">        
        <h5 id="myModalLabel">Đây là đánh giá của <p class="name_detail" style="color: red;"></p></h5>        
    </div>
    <div class="modal-body">
        <table style="width: 100%;">             
            <thead>
                <th rowspan="2">
                    Tiêu chí đánh giá
                </th>
                <td>1</td>
                <td>2</td>
                <td>3</td>
                <td>4</td>
                <td>5</td>
            </thead>
            <tbody>
            <?php foreach($this->survey as $value) : ?>
            <tr>
                <td><label name="survey_id" for=""><?php echo $value['name'];?></label></td>                        
                <td><input class="calc" disabled value="1" name="servey_point[<?php echo $value['id'];?>]" class="radio-criteria" type="radio"></td>
                <td><input class="calc" disabled value="2" name="servey_point[<?php echo $value['id'];?>]" class="radio-criteria" type="radio"></td>
                <td><input class="calc" disabled value="3" name="servey_point[<?php echo $value['id'];?>]" class="radio-criteria" type="radio"></td>
                <td><input class="calc" disabled value="4" name="servey_point[<?php echo $value['id'];?>]" class="radio-criteria" type="radio"></td>
                <td><input class="calc" disabled value="5" name="servey_point[<?php echo $value['id'];?>]" class="radio-criteria" type="radio"></td>
            </tr>
            <?php endforeach; ?>
            </tbody>          
        </table>
        
        <div>
            <h6>Chú thích:</h6>
            <span class="news-item-preview">1: Rất yếu.     </span>
            <span class="news-item-preview">2: Yếu.         </span>
            <span class="news-item-preview">3: Trung bình.  </span>
            <span class="news-item-preview">4: Tốt.         </span>
            <span class="news-item-preview">5: Rất tốt.     </span>
        </div>  
        
        <div class="row">
            <div class="span6">
                <h4>Ghi chú:</h4>
                <textarea readonly="true" class="note"></textarea>
            </div>
        </div>  
    </div>
    <div class="modal-footer">        
        <input type="hidden" name="link" class="link" />
        <button class="btn btn-primary" data-dismiss="modal" aria-hidden="true">Close</button>            
    </div>
</div>

<div id="deleteModal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <form method="post">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
            <h4 id="myModalLabel">Xóa đánh giá của <p class="name_delete" style="color:red">?</p> </h4>
        </div>
        <div class="modal-body"></div>
        <div class="modal-footer">
            <input type="hidden" class="id_delete" name="del"/>
            <input class="btn btn-danger" type="submit" />
            <button class="btn btn-primary" data-dismiss="modal" aria-hidden="true">Close</button>      
        </div>
    </form>
</div>
<script>
$(".btn_rating").click(function() { 
    $(this).removeAttr('checked');    
    $('#ratingModal').modal('show');       
});

function showFunction() {
    var x = document.getElementById("mySelect"); 
    var id = document.getElementById("mySelect").value; //lấy id nhân viên được chọn        
    $('.staff_id').val(id); 
    var y = x.options[x.selectedIndex].innerHTML; // Lấy thông tin nhân viên được chọn
    document.getElementById("show").innerHTML = "&nbsp;&nbsp" + y;    
}

$('#mySelect').on('change', function() {
$('input[type="radio"]').prop('checked', false);
if(this.value === null || this.value === "") {
        $('#rating-form').hide();
    } else {
        $('#rating-form').show();
    }
});

function calcscore(){
    var score = 0;
    var count = 0;
    $(".calc:checked").each(function(){
        score+=parseInt($(this).val(),10);
        count++;
    });
    var avg = score/count
    $('.sum').val(avg.toFixed(2));
    $('.point').val(avg.toFixed(2));
    document.getElementById("submitId").disabled = false;
}
$().ready(function(){
    $(".calc").change(function(){
        calcscore()
    });
});

$(".btn_detail").click(function() {
    var id = $(this).attr('data-id');
    var name = $(this).attr('data-name');
    var point = $(this).attr('data-point');
    var note = $(this).attr('data-note');
    console.log(note);
    $('.id_detail').val(id);
    $('.name_detail').html(name);  
    $('.note').html(note);  
    data = point.split(',');
    
    for(i=0;i<data.length;i++){
        data_child = data[i].split('-');
        $('input[name="servey_point['+data_child[0]+']"]').filter("[value='"+data_child[1]+"']").attr('checked', true);
    }
    
    $('#detailModal').modal('show');
});

$(".btn_delete").click(function() {
    var id = $(this).attr('data-id');
    var name = $(this).attr('data-name');
    $('.name_delete').html(name);
    $('.id_delete').val(id);
    $('#deleteModal').modal('show');    
});
</script>