<link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.3/css/select2.min.css">
<style type="text/css">
    .form-create span{display: block;margin: 0px 0px;}
    .form-create input{width: 165px;margin-right: 10px}
    .form-create select{width: 175px;margin-right: 10px}
    .form-create{display: block;float: left;margin-right: 10px;}
    /*
    .select2-results__options{width: 450px; background: white}
    .select2-dropdown{width: 452px !important;}
    .select2-search__field{width: 450px;}
    */
    /*.child{display: block; padding: 10px; background: #dcdcdc; margin: 5px; border-radius: 1px; -moz-boder-radius: 5px;}*/

    .parent{display: block; padding: 10px; margin: 5px; border-radius: 1px; -moz-boder-radius: 5px;}

    .save{margin-right: 5px}
    .checkbox{display: block;width: 15px !important;height: 15px !important;;display: block; float: right;}
    .select2-search__field{height: 30px}
    .pmodel_code_id{width: 250px}
    .color_red{color: red;}
    .with30{ width: 30px !important;}
    .with100{ width: 100px !important;}
    .with150{ width: 150px !important;}
    .with50{ width: 50px !important;}
    .with70{ width: 70px !important;}
    .with80{ width: 80px !important;}
    .margin_right{ margin-right: 40px;}
    .lead_line{width: auto; height: 3px; background-color: #8dd0b7;}
    
    
    .page-header{
        margin: 0px 0px 5px 1px;
    }
    
    .widget{
        border: 1px solid #00935f;
        box-shadow: 4px 4px 5px 0px #d3e6f9;
        border-radius: 0px;
    }
    .widget-header{
        margin-top: 0px;
        background: none;
        border: none;
        border-bottom: 1px solid forestgreen;
        background: forestgreen;
        height: auto;
    }
    
    .widget-header i{color:#FFF !Important}
    .widget-header span{color:#FFF;text-shadow: none;}
    
    .widget-content{border: none;padding: 10px}
    
    .widget-content .row_content label{
        color: #00935f;
        font-size: 14px;
        margin-bottom: -5px;
    }
    .widget-content .row_content span{
        display: block;
        float: left;
        font-size: 14px;
        border: 1px solid #e4e4e4;
        padding: 5px;
        margin: 5px 0px;
        width: 97%;
        min-height: 20px;
    }
    
    .row_content{
        margin-bottom: 5px;
        display: block;
        float: left;
        width: 100%;
    }
    
    .supplier_wrap{
        display: block;
        float: left;
        width: 94%;
        border: 1px solid #4086fb;
        padding: 10px;
            margin-bottom: 10px;
    }
    
    .row_supplier{
        display: block;
        width: 100%;
        float: left;
    }
    
    .row_supplier i{
        display: block;
        float: left;
        font-size: 16px;
        margin-right: 10px;
        color:#ababab;
    }
    
    .row_supplier .name_supplier{
        font-size: 16px;
        font-weight: bold;
        color:#ababab;
    }
    
    .row_supplier .has_checked{
        color: #00935f;
    }
    
    .supplier_wrap table{width: 96%}
    .supplier_wrap table tr td{padding: 4px}
    .supplier_wrap table tr td:nth-child(2){text-align: left}
    #total_money_order{
        display: block;
        width: 100%;
        float: left;
        text-align: center;
        margin-top: -20px;
        margin-bottom: 20px;
        color: red;
    }
    
    span{color:#000}
    
</style>

<div class="page-header">
    <h3>VIEW PURCHASING REQUEST</h3>
</div>

<?php
if (isset($this->messages_error) and $this->messages_error)
    foreach ($this->messages_error as $messages_error):
        echo '<div class="alert alert-danger">'.$messages_error.'</div>';
    endforeach;

if (isset($this->messages_success) and $this->messages_success)
    foreach ($this->messages_success as $messages_success):
        echo '<div class="alert alert-success">'.$messages_success.'</div>';
    endforeach;
?>


    <div class="widget">
        <div class="widget-header">
            <i class="icon-list-alt"></i>
            <span>General Infor</span>
        </div>

        <div class="widget-content">
            
            <div class="row_content">
                <label>Name PR</label>
                <span><?php echo $this->purchasing_request['name'];?></span>
            </div>
            
            <div class="row_content">
                <label>Urgent Date</label>
                <span><?php echo $this->purchasing_request['urgent_date'];?></span>
            </div>
            
            <div class="row_content">
                <label>Type:(Nhóm hàng)</label>
                <span><?php echo $this->purchasing_request['type_name'];?></span>
            </div>
            
            <?php if(!empty($this->purchasing_request['project_name'])):?>
            <div class="row_content">
                <label>Project</label>
                <span><?php echo $this->purchasing_request['project_name'];?></span>
            </div>
            <?php endif;?>
            
            <div class="row_content">
                <label>Area</label>
                <span><?php echo $this->purchasing_request['area_name'];?></span>
            </div>
            
            <div class="row_content">
                <label>Department</label>
                <span><?php echo $this->purchasing_request['department_name'];?></span>
            </div>
            
            <div class="row_content">
                <label>Team</label>
                <span><?php echo $this->purchasing_request['team_name'];?></span>
            </div>
            
            <div class="row_content">
                <label>Shipping address</label>
                <span><?php echo $this->purchasing_request['shipping_address'];?></span>
            </div>
            
            <?php if(!empty($this->purchasing_request['remark'])):?>
            <div class="row_content">
                <label>Remark</label>
                <span><?php echo $this->purchasing_request['remark'];?></span>
            </div>
            <?php endif;?>
            
            <?php if (isset($this->list_file) and $this->list_file):?>
            <div class='row_content'>
                <label>PR Quotation:</label>
                <span>
                <?php foreach ($this->list_file as $k=>$val): ?>
                    <?php $link = HOST.'purchasing-request/'.$val['sn'].'/'.$val['pr_quotation'];?>
                    <a target='_blank' style="color:#3477b9" class="icon-eye-open" href="<?php echo $link;?>"><?php echo $val['pr_quotation'];?></a><br /> 
                <?php endforeach;?>
                </span>
            </div>
            <?php endif;?>
            
        </div>
    </div><!--widget-->
        
        <?php
        $total_order_value = 0;
        $total_currency = NULL;
        foreach($this->purchasing_request_details as $key=>$val):
        ?>
    
        <div class="widget">
            <div class="widget-header" style="border-bottom: 1px solid cadetblue;background: cadetblue;">
            <i class="icon-paper-clip"></i>
            <span><?php echo $val['product_name'];?> - <?php echo $val['product_sub_name'];?></span>
        </div>

        <div class="widget-content" style="border-bottom: 1px solid cadetblue;">
            <div class='content_child'>
                
            
			
               		<div class="child">
                            
                            <div class="row_content">
                                <label>Product</label>
                                <span><?php echo $val['product_name'];?> - <?php echo $val['product_sub_name'];?></span>
                            </div>
                            
                            <div class="row_content">
                                <label>Quantity</label>
                                <span><?php echo $val['quantity'];?> <?php echo $val['unit'];?></span>
                            </div>
                            
                            <div class="row_content">
                                <label>Delivery at:(giao hàng tại)</label>
                                <span><?php echo $val['installation_at'];?></span>
                            </div>
                            
                            <div class="row_content">
                                <label>Delivery time</label>
                                <span><?php echo $val['installation_time'];?></span>
                            </div>
                            
                            <div class="row_content">
                                <label>Note</label>
                                <span><?php echo $val['note'];?></span>
                            </div>
                            
                            <?php 
                            if(!empty($this->purchasing_request_supplier))
                            foreach($this->purchasing_request_supplier as $k2=>$vl2): 
                            if($val['id']==$vl2['pr_detail_id']):
                            ?>


                            <?php 
                            $edit_show_article = 0;
                            if(!empty($vl2['article'])||!empty($vl2['warranty'])||!empty($vl2['discount'])||!empty($vl2['article_other'])){
                                $edit_show_article = 1;
                            }
                            ?>
                            
                            <?php 
                                //$total = 0;
                                //$total = $val['quantity']*$vl2['price']; 
                                $money_ck = $price_after_ck = $total_price = 0;
                                $money_ck = $vl2['price']*$vl2['ck']/100;
                                $price_after_ck = $vl2['price'] - $money_ck;
                                $total_price = $val['quantity']*$price_after_ck+$vl2['fee'];
                                
                                if(!empty($vl2['select_supplier'])){
                                   $total_order_value = $total_order_value + $total_price; 
                                   $total_currency = $this->currency[$vl2['currency']];
                                }

                            ?>

                            <div class="supplier_wrap">
                                
                                <div class="row_supplier">
                                    <i class="icon-large icon-ok-sign <?php if(!empty($vl2['select_supplier'])) echo "has_checked"; ?>"></i>
                                    <div class="name_supplier <?php if(!empty($vl2['select_supplier'])) echo "has_checked"; ?>"><?php echo $vl2['supplier_name'];?></div>
                                </div>
                                
                                <table>
                                    <tr>
                                        <td>Before negotiate</td>
                                        <td style=""><?php echo $vl2['price_before_dp']?number_format($vl2['price_before_dp'],2,'.',','):0; ?></td>
                                    </tr>
                                    <tr>
                                        <td>Price</td>
                                        <td style=""><?php echo $vl2['price']?number_format($vl2['price'],2,'.',','):0; ?></td>
                                    </tr>
                                    <tr>
                                        <td>CK %</td>
                                        <td style=""><?php echo $vl2['ck']?number_format($vl2['ck'],2,'.',','):0; ?></td>
                                    </tr>
                                    <tr>
                                        <td>Fee</td>
                                        <td style=""><?php echo $vl2['fee']?number_format($vl2['fee'],2,'.',','):0; ?></td>
                                    </tr>
                                    <tr>
                                        <td>Total</td>
                                        <td style="color:red;font-weight: bold;font-size: 15px"><?php echo $this->currency[$vl2['currency']];?> <?php echo number_format($total_price,2,'.',','); ?></td>
                                    </tr>
                                    
                                    <?php if(!empty($vl2['article']) || !empty($vl2['warranty']) || !empty($vl2['discount']) || !empty($vl2['article_other'])):?>
                                    <tr>
                                        <td>Article</td>
                                        <td><?php echo $vl2['article']?($vl2['article']):""; ?></td>
                                    </tr>
                                    <tr>
                                        <td>Warranty</td>
                                        <td><?php echo $vl2['warranty']?($vl2['warranty']):""; ?></td>
                                    </tr>
                                    <tr>
                                        <td>Discount</td>
                                        <td><?php echo $vl2['discount']?($vl2['discount']):""; ?></td>
                                    </tr>
                                    <tr>
                                        <td>Article other</td>
                                        <td><?php echo $vl2['article_other']?($vl2['article_other']):""; ?></td>
                                    </tr>
                                    <?php endif;?>
                                    
                                    
                                    <tr>
                                        <td colspan="2" style="text-align: left;">
                                            <?php  if (isset($this->list_file_detail) and $this->list_file_detail)
                                                foreach ($this->list_file_detail as $k3=>$val3): 
                                                if (($val3['pmodel_code_id']==$val['pmodel_code_id'])and ($val3['supplier_id']==$vl2['supplier_id'])):
                                            ?>

                                                <div class="div_one_file">
                                                    <?php $link = HOST.'purchasing-request/'.$val3['sn'].'/'.$val3['pr_quotation'];?>
                                                    <a style="color:#3477b9" target='_blank' class="icon-eye-open" href="<?php echo $link;?>"><?php echo $val3['pr_quotation'];?></a>  
                                                </div>

                                            <?php endif; endforeach;?>
                                        </td>
                                    </tr>
                                    
                                </table>


                            </div>



                            <?php endif; endforeach;?>
                                    
                                
                                
                           </div><!-- row-->
			
                    
            </div><!-- content_child-->
            
            
            
            </div><!-- widget-content-->
            
            
        </div><!--widget-->
        
        <?php endforeach;?>
        
        
        
        <div class="row-fluid">                
            <h3 id="total_money_order">Total: <?php echo $total_order_value ? number_format($total_order_value,2,'.',','):0; ?> <?php echo $total_currency;?></h3>
        </div>
    
    <div class="row-fluid">
        <div class="span12">
            <div class="form-group">
                <iframe style="display:none;border:none;width: 100%" id="iframe" name="iframe" style="height: 250px;"></iframe> 
                
                <a class="btn btn-success  pull-right back" href="<?php echo HOST;?>purchasing/approve-purchasing-request?sn=<?php echo $this->purchasing_request['sn'];?>" style="margin-right: 10px">Approve</a>
                <a class="btn btn-warning  pull-right" href="<?php echo HOST;?>purchasing/purchasing-request" style="margin-right: 10px">Back To List</a>
            </div>
        </div>
    </div>



<div id="modalSubmit" class="modal fade" role="dialog">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-body">
        <span id="modal_message" class="modal_mess"><h3>Bạn có muốn xóa không?</h3></span>
        <button type="button" name="submit" id="btnSubmit" value="1" class="btn btn-primary">Có</button>
        <button type="button" id="cancel" class="btn btn-default">Không</button>
      </div>
    </div>

  </div>
</div> <!-- end modal -->



<?php  echo $this->render('purchasing/purchasing-request-clone.phtml'); ?>

<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.3/js/select2.min.js"></script>
<script type="text/javascript" src="/js/jquery-ui-1.8.12.custom.min.js"></script>
<link rel="stylesheet" type="text/css" href="/css/jquery-ui-1.8.12.custom.css"/>


<script>

    $(document).ready(function(){
        
        
        // show hiden article        
        $(document).on('click','.add_article',function(){
            div_parent = $(this).parent().parent();
            var show_hide_article = $(this).parent().find('.show_article').val();
            if(show_hide_article==0){
                div_parent.find('.group_article').show();
                $(this).parent().find('.show_article').val(1);
            }else{
                div_parent.find('.group_article').hide(); 
                $(this).parent().find('.show_article').val(0);
            }
            
         });
        
        
         $(document).on('change','#department_id',function(){
            $('#purchasing_type').find('.option_type').remove();
            
            var department_id = $(this).val();
            
            if(department_id==""){
                alert('Vui lòng chọn Phòng ban.!');
            }else{

                data_type = {'department_id': department_id };
                $.ajax({
                    url: "<?php echo HOST . 'purchasing/ajax-load-type' ?>",
                    type: 'POST',
                    data: data_type,
                    success: function (data) {
                        var response = $.parseJSON(data);
                        if (response.status == 1) {

                            var str = '';
                            var obj_type = response.data;

                            if(obj_type!=''){ 
                                for (var i = 0; i < obj_type.length; i++) { 
                                    str += '<option class="option_type" value="'+obj_type[i]['id']+'">'+obj_type[i]['name']+'</option>';
                                }
                            }else{
                                str += '<option class="option_type" value="-1">Chưa xác định</option>';
                            }
                            $('#purchasing_type').append(str);
                        } else {
                            alert(response.message);
                        }
                    },
                });
        
            }
        })
        
        
        $(document).on('click','.remove_product',function(){           
            $(this).closest('.child').remove();
        })
        
        
        $(document).on('change','.quantity',function(){
            
            var code_id = $(this).parent().parent().find('.pmodel_code_id').val();
            var num  = $(this).val();

            if(num==0 || num==''){
                num = parseInt(0);
            }else{
                num = parseInt(num);
            }

            $('.supplier_child').each(function () {
                var price  = $(this).find('.price').val();     
                var ck = $(this).find(".ck").val();      
                var fee = $(this).find(".fee").val();   
                var code_id_hiden  = $(this).find('.code_id_hiden').val();  
                 
                if(code_id==code_id_hiden){//những thằng con của sản phẩm này thôi

                    price = price.replace(/,/g, ""); // bỏ định dạng dấu phẩy                 
                    if (!$.isNumeric(price)) {
                        alert("Bạn nhập Giá không đúng định dang. Vui lòng kiểm tra lại.. ");
                    }else{
                        price = parseInt(price);
                    }

                    /////ck
                    ck = ck.replace(/,/g, ""); // bỏ định dạng dấu phẩy
                    if (!$.isNumeric(ck)) {
                        alert("Bạn nhập CK không đúng định dang. Vui lòng kiểm tra lại.. ");
                    }                
                    if (ck == '') {  ck = 0; 
                    } else {  ck = parseInt(ck); }

                    ///fee
                    fee = fee.replace(/,/g, ""); // bỏ định dạng dấu phẩy
                    if (!$.isNumeric(fee)) {
                        alert("Bạn nhập Phí không đúng định dang. Vui lòng kiểm tra lại.. ");
                    }                
                    if (fee == '') {  fee = 0; 
                    } else {  fee = parseInt(fee); }

                    var total_price = 0; 
                    var money_ck = 0;     
                    var price_after_ck = 0;

                    money_ck = price*ck/100;
                    price_after_ck = price - money_ck;
                    total_price = num*price_after_ck+fee;

                   // $(this).find(".total_price").val((total_price).formatMoney(0, '.', ','));

                    $(this).find(".price").val((price).formatMoney(0, '.', ','));                 
                    $(this).find(".ck").val((ck).formatMoney(0, '.', ','));                 
                    $(this).find(".fee").val((fee).formatMoney(0, '.', ',')); 
                    $(this).find(".total_price").val((total_price).formatMoney(0, '.', ',')); 

                }
            });  
            
        })
        
        $(document).on('change','.price,.ck,.fee',function(){
            _self = $(this); 
            //var price = $(this).val();                 
            var div_parent_4 = _self.parent().parent().parent().parent();  
            var div_parent = _self.parent().parent();       
            var price = div_parent.find(".price").val();      
            var ck = div_parent.find(".ck").val();      
            var fee = div_parent.find(".fee").val();   
            var num = div_parent_4.find(".quantity").val(); 
            
                price = price.replace(/,/g, ""); // bỏ định dạng dấu phẩy
                if (!$.isNumeric(price)) {
                    alert("Bạn nhập Giá không đúng định dang. Vui lòng kiểm tra lại.. ");
                }                
                if (price == '') {  price = 0; 
                } else {  price = parseInt(price); }
                
                /////ck
                ck = ck.replace(/,/g, ""); // bỏ định dạng dấu phẩy
                if (!$.isNumeric(ck)) {
                    alert("Bạn nhập CK không đúng định dang. Vui lòng kiểm tra lại.. ");
                }                
                if (ck == '') {  ck = 0; 
                } else {  ck = parseInt(ck); }
                
                ///fee
                fee = fee.replace(/,/g, ""); // bỏ định dạng dấu phẩy
                if (!$.isNumeric(fee)) {
                    alert("Bạn nhập Phí không đúng định dang. Vui lòng kiểm tra lại.. ");
                }                
                if (fee == '') {  fee = 0; 
                } else {  fee = parseInt(fee); }
 
                /////
                if(num==0 || num==''){
                    num = parseInt(0);
                }else{
                    num = parseInt(num);
                }
                
                var total_price = 0; 
                var money_ck = 0;     
                var price_after_ck = 0;
                
                money_ck = price*ck/100;
                price_after_ck = price - money_ck;
                total_price = num*price_after_ck+fee;

                //total_price = Math.round(total_price); 
                div_parent.find(".price").val((price).formatMoney(0, '.', ','));                 
                div_parent.find(".ck").val((ck).formatMoney(0, '.', ','));                 
                div_parent.find(".fee").val((fee).formatMoney(0, '.', ',')); 
                div_parent.find(".total_price").val((total_price).formatMoney(0, '.', ',')); 
        })
        
        
        $(document).on('change','.price_before_dp',function(){
            
            var price_before_dp = $(this).val();  
                price_before_dp = price_before_dp.replace(/,/g, ""); // bỏ định dạng dấu phẩy
                 
                if (!$.isNumeric(price_before_dp)) {
                    alert("Bạn nhập Giá không đúng định dang. Vui lòng kiểm tra lại.. ");
                }
                
                if (price_before_dp == '') {  price_before_dp = 0; 
                } else {  price_before_dp = parseInt(price_before_dp); }
                
                $(this).val((price_before_dp).formatMoney(0, '.', ',')); 
        })
        
        $(document).on('change','.pmodel_code_id',function(){
             _self = $(this);
            var div_parent = _self.parent().parent();  
            _self.parent().find(".note").html(0);
            div_parent.find('.supplier_child').remove();
        })
        
        // lấy giá trị NCC cho select
        $(document).on('click','.select_supplier',function(){
             _self = $(this);
            var div_parent = _self.parent().parent();  
            var supplier_id = div_parent.find(".supplier_id").val();
            $(this).val(supplier_id); 
        })
        
        var stt_file = parseInt(0);
        $(document).on('click','.add_file',function(){        
            stt_file++;
             _self = $(this);
            var div_parent_4 = _self.parent().parent().parent().parent();   
            var div_parent_2 = _self.parent().parent();             
            var code = div_parent_4.find(".pmodel_code_id").val();         
            var supplier_id = div_parent_2.find(".supplier_id").val();
            
            if((code=="")||(supplier_id=="")){
                alert('Vui lòng chọn Sản Phẩm và Nhà cung cấp Trước khi add file.!');
            }else{
                str ='';
                    str += '<div class="add_file_child row span9" style=" margin-left: 60px; ">';
                        str += '<a class="btn icon-minus-sign del_upload" data_id="9" ></a>';
                        str += '<input type="file" name="file_supplier_detail_'+code+'_'+supplier_id+'['+stt_file+']" class="file_supplier_detail" value="" style=" margin-bottom: 4px;" />';
                    str += '</div>';

                div_parent_2.find('.add_file_parent').append(str);
            }
            
                
        })
        
        $(document).on('click','.del_upload',function(){   
             _self = $(this);
            var div_parent = _self.parent();   
            div_parent.remove();                
        })
        
        $(document).on('change','.supplier_id',function(){
             _self = $(this);
            var div_parent = _self.parent().parent();  
            
            // lấy giá trị NCC cho select
            var supplier_id = div_parent.find(".supplier_id").val();
            div_parent.find(".select_supplier").val(supplier_id); 
            //   
            div_parent.find('.add_file_child').remove();
        })
         
        
        $(document).on('click','.add_supplier',function(){
             _self = $(this);
            var div_parent = _self.parent().parent().parent();  
            
            var code = div_parent.find(".pmodel_code_id").val();
            
            if(code==""){
                alert('Vui lòng chọn Sản Phẩm. Trước khi chọn nhà cung cấp.!');
            }else{
                
                $.get("/purchasing/ajax-get-supplier",
                    {code_id: code}
                    ,function(data,status){
                        var data = $.parseJSON( data );

                        if (data.title_supplier){
                            var obj = data.title_supplier;

                            str ='';
                                    str += '<div class="supplier_child row span12" style=" margin-left: 130px;">';

                                        str += '<div class="form-create">';
                                            str += '<span><br> </span>';
                                            str += '<a class="btn btn-warning remove_supplier" style="display: table; float: left;">-</a>';
                                        str += '</div>';

                                        str += '<div class="form-create">';
                                            str += '<span>Select:</span>';
                                            str += '<input class="select_supplier with30" type="radio" name="select_supplier['+code+']" value="0" style=" height: 20px;">';
                                        str += '</div>';

                                        str += '<div class="form-create">';
                                            str += '<span>File:</span>';
                                            str += '<a class="btn add_file " style="background: #CCCCFF; ">Add</a>';
                                        str += '</div>';

                                        str += '<div class="form-create">';
                                            str += '<span>Article:</span>';
                                            str += '<a class="btn add_article" style="">Show/H</a>';
                                            str += '<input class="show_article" type="hidden" value="0" /> ';
                                        str += '</div>';

                                    str += '<div class="form-create">';
                                        str += '<span>Supplier:<b class="color_red">(*)</b></span>';
                                        str += '<select name="supplier_id['+code+'][]"  class="supplier_id with150">';
                                            str += '<option value="">--Select--</option>';

                                                    for (var i = 0; i < obj.length; i++) { 
                                                        str += '<option value="'+obj[i]['id']+'">'+obj[i]['name']+'</option>';
                                                    }

                                            str += '</select>';
                                            str += '<input type="hidden" class="code_id_hiden" value="'+code+'" >';
                                        str += '</div>';

                                        str += '<div class="form-create">';
                                            str += '<span>Before negotiate:</span>';
                                            str += '<input type="text" class="price_before_dp with80" name="price_before_dp['+code+'][]" value="0"  />';
                                        str += '</div>';

                                        str += '<div class="form-create div_price">';
                                            str += '<span>Price:</span>';
                                            str += '<input type="text" id="price" class="price with80" name="price['+code+'][]" value="0"  />';
                                        str += '</div>';

                                        str += '<div class="form-create div_price">';
                                            str += '<span>CK %:</span>';
                                            str += '<input type="text" id="ck" class="ck with30" name="ck['+code+'][]" value="0"  />';
                                        str += '</div>';

                                        str += '<div class="form-create div_price">';
                                            str += '<span>fee:</span>';
                                            str += '<input type="text" id="fee" class="fee with80" name="fee['+code+'][]" value="0"  />';
                                        str += '</div>';

                                        str += '<div class="form-create">';
                                            str += '<span>Total:</span>';
                                            str += '<input type="text" id="total_price" class="total_price with100" name="total_price['+code+'][]" value="0" readonly />';
                                        str += '</div>';

                                        str += '<div class="span12 row hide group_article" style=" margin-left: 90px;">';

                                            str += '<div class="form-create">';
                                                str += '<span>Article: </span>';                            
                                                str += '<textarea name="article['+code+'][]" class="article with150"  placeholder="Điều khoản thanh toán" style="height:19px;"></textarea>';
                                            str += '</div>';

                                            str += '<div class="form-create">';
                                                str += '<span>Warranty: </span>';
                                                str += '<textarea name="warranty['+code+'][]" class="article with150" placeholder="Bảo hành" style="height:19px;"></textarea>';
                                            str += '</div>';

                                            str += '<div class="form-create">';
                                                str += '<span>Discount: </span>';
                                                str += '<textarea name="discount['+code+'][]" class="discount with150" placeholder="Giảm giá" style="height:19px;"></textarea>';
                                            str += '</div>';

                                            str += '<div class="form-create">';
                                                str += '<span>Article other: </span>';
                                                str += '<textarea name="article_other['+code+'][]" class="article_other with150" placeholder="Điều khoản khác" style="height:19px;"></textarea>';
                                            str += '</div>';

                                        str += '</div>';

                                        //str += '<div class="form-create">';
                                          //  str += '<span>File:</span>';
                                           // str += '<input type="file" name="supplier_quotation['+code+'][0]" id="supplier_quotation" class="supplier_quotation" value="" />';
                                        //str += '</div>';

                                        str += '<div class="span8 add_file_parent" style=" margin-bottom: 10px;">';
                                        //    str += '<div class="span2" style="margin-left: 60px; "> ';
                                        //        str += '<a class="btn add_file icon-plus-sign" style="background: #CCCCFF;"> File</a>';
                                        //    str += '</div>';
                                        str += '</div>';

                                    str += '</div>';

                            div_parent.find('.supplier_parent').append(str);
                            $(".supplier_id").select2();
                            
                        }
                    }); 
            }//Else
            
        })//add_supplier
        
        
        $(document).on('click','.remove_supplier',function(){
             $(this).closest('.supplier_child').remove();
        })// remove_supplier
        
        
        $(document).on('change','.supplier_id', function(e) {
            
            _self = $(this);
            var supplier_id = $(this).val();                         
            var div_parent = _self.parent().parent();                
            var div_parent_4 = _self.parent().parent().parent().parent();  
            var code_id_hiden = _self.parent().find(".code_id_hiden").val(); 
            var num = div_parent_4.find(".quantity").val(); 

                if(num==0 || num==''){
                    num = parseInt(0);
                }else{
                    num = parseInt(num);
                }

            if(supplier_id==""){
                alert('Nhà cung cấp không được để trống.!.');
                
                div_parent.find(".price_before_dp").val(0); 
                div_parent.find(".price").val(0); 
                div_parent.find(".total_price").val(0);
            }else if(code_id_hiden==""){
                alert('Không lấy được ID của Sản phẩm.F5 trang và thử lại.!.');
            }else{
                
                $.get("/purchasing/ajax-get-supplier-price",
                {code_id: code_id_hiden, supplier_id: supplier_id}
                ,function(data,status){
                     
                    var data = $.parseJSON( data );
                    
                    if (data.supplier_price){
                        var obj = data.supplier_price;
                        var price_before_dp = parseInt(obj.price_before_dp);
                        var price = parseInt(obj.price);
                        var total_price = 0;
                        
                        total_price = num*price;
                        
                        div_parent.find(".price_before_dp").val((price_before_dp).formatMoney(0, '.', ',')); 
                        div_parent.find(".price").val((price).formatMoney(0, '.', ',')); 
                        div_parent.find(".total_price").val((total_price).formatMoney(0, '.', ',')); 
                    }else{  
                        div_parent.find(".price_before_dp").val(0); 
                        div_parent.find(".price").val(0); 
                        div_parent.find(".total_price").val(0); 
                    }

                });
            }//Else    
            
        });

        
        

        $(".pmodel_code_id").select2();
        $(".supplier_id").select2();

        $("#dialog").dialog({
            autoOpen: false,
            modal: true
        });


        initdate();
        addNew();
        changeCheckbox();
        innitSearchPrice();
        //innitChangeQuantity();
        //changetotal_order();
        
        /// add PR Quotation
	var ctn = ".ajaxSearchPart-container";
	$("body").on("propertychange input", ctn+" span input[type=text]:input", function(){
	});
        
        var html = $("#area-group > div:last-of-type").wrapAll('<div></div>').parent().html();
        var current = parseInt(html.match(/pr_quotation\[([0-9]+)\]/)[1]);
        $("#area-group").html(html);


        $("#add-more").click(function(){
            $('.ajaxSearchPart-container').css('display','flex');
                current++;
                $("#area-group").append(html.replace(/pr_quotation\[([0-9]+)\]/g, "pr_quotation["+current+"]"));
        });

        $("body").on("click", ctn+" a", function(){
                current--;
                $(this).parent().remove();
                if(current < 0){
                     current = 0;
                }
        });
        /// add PR Quotation
        
        
        $(document).on('click', '.del_file', function(e) {
            
            div_parent = $(this).parent()
            var id =  $(this).attr("data_id");
            data_del = {'id': id };
            $.ajax({
                url: "<?php echo HOST . 'purchasing/purchasing-request-del-file' ?>",
                type: 'POST',
                data: data_del,
                success: function (data) {
                    var response = $.parseJSON(data);
                    if (response.status == 1) {
                        //location.reload();
                        div_parent.remove();
                    } else { 
                        alert(response.message);
                    }
                },
            });
        });

        
    });
    
    
    
    function changetotal_order() {
/*
        total_order_value = 0;
        $('.quantity').each(function () {        
//            var price = $(this).closest('tr').find('.price_order').attr('price');
//            var quantity = $(this).closest('tr').find('.price_order').attr('quantity');
            //var price = $(this).closest('.child').find('.price').val().split('.').join('');
            
            var quantity = $(this).closest('.child').find('.quantity').val();//$(this).val(); 
            var price = $(this).closest('.child').find('.price').val().split('.').join('');

            if (price == '') {  price = 0; 
            } else {  price = parseInt(price); }
            
            if (quantity == '') {  quantity = 0; 
            } else {  quantity = parseInt(quantity); }
            
            
            total_order_value = total_order_value + parseInt(price)*parseInt(quantity)*1.1;
            
        });

        $('#total_money_order').html(total_order_value.formatMoney(0, '.', ',')); 
*/
    }

    function initdate()
    {
        $('.date').mousedown( function(){
            $(this).datepicker({ dateFormat: "yy-mm-dd" });
        });
    }

    function changeCheckbox(){
        $(document).on('change','#checkbox_to',function(){
            
            if($(this).attr('checked')) {
                $(this).closest('.child').find(".order_to option[off=1]").hide();
            } else {
                $(this).closest('.child').find(".order_to option[off=1]").show();
            }

        });

        $(document).on('change','#checkbox_from',function(){
            
            if($(this).attr('checked')) {
                $(this).closest('.child').find(".order_from option[off=1]").hide();
            } else {
                $(this).closest('.child').find(".order_from option[off=1]").show();
            }

        });
    }


    var counter = $('.ids').length;
    function addNew(){

        $(document).on('click','#add',function(){
                        
                        
        var _self = $(this);
        var div_add_row = _self.parent().parent().parent().parent();
        product = $('.child_clone_div .child');
                        
        $(".pmodel_code_id").select2();
        $(".child:last").find(".pmodel_code_id").select2();
                      
           $(".child:last").find('.pmodel_code_id').select2('destroy');
            var clone = $(".child:last").clone();
            
            $('.content_child').append(product.clone());
            $('.pmodel_code_id').select2();
//            $(".child:last").find('.pmodel_code_id').val(0);
//            $(".child:last").find('.quantity').val(0);
//            $(".child:last").find('.price').val(0);
//            $(".child:last").find('.total_price').val(0);
//            $(".child:last").find('.code_supplier_id').val(0);
//            $(".child:last").find('.ids').val(0);
//            $(".child:last").find('.after_vat').val(0);            
//            $(".child:last").find('.note').val("");
             
            //$("html, body").animate({ scrollTop: $(document).height()}, 600);
 
        })
    }



    function innitSearchPrice(){
        $(document).on('change', ".pmodel_code_id", function() {
            var code = $(this).val();
           // var price = $('option:selected',this).attr('price');
            var unit = $('option:selected',this).attr('unit');
            var code_supplier_id = $('option:selected',this).attr('code_supplier_id');

            var quantity = $(this).closest('.child').find('.quantity').val();

            //$(this).closest('.child').find('.price').val(float_f(price));
            $(this).closest('.child').find('.unit').val(unit);

           // var total = quantity*price;
            //$(this).closest('.child').find('.total_price').val(float_f(total));
            $(this).closest('.child').find('.code_supplier_id').val(code_supplier_id);
            changetotal_order();
        });
    }


 	$('#cancel').click(function () {
        $('#modalSubmit').modal('hide');
    });

    fix_digit = 0;

    Number.prototype.formatMoney = function(c, d, t){
    var n = this, 
        c = isNaN(c = Math.abs(c)) ? 2 : c, 
        d = d == undefined ? "." : d, 
        t = t == undefined ? "," : t, 
        s = n < 0 ? "-" : "", 
        i = parseInt(n = Math.abs(+n || 0).toFixed(c)) + "", 
        j = (j = i.length) > 3 ? j % 3 : 0;
       return s + (j ? i.substr(0, j) + t : "") + i.substr(j).replace(/(\d{3})(?=\d)/g, "$1" + t) + (c ? d + Math.abs(n - i).toFixed(c).slice(2) : "");
     };
    
    function float_f(num) {
        return parseFloat(num).formatMoney(fix_digit, ',', '.');
    }

</script>

<div id="dialog" title="Error">
    Tổng số khác số lượng, vui lòng kiểm tra lại!
</div>

