<link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.3/css/select2.min.css">
<style type="text/css">
    .form-create span{display: block;margin: 0px 0px;}
    .form-create input{width: 165px;margin-right: 10px}
    .form-create select{width: 175px;margin-right: 10px}
    .form-create{display: block;float: left;margin-right: 10px;}

    /*.child{display: block; padding: 10px; background: #dcdcdc; margin: 5px; border-radius: 1px; -moz-boder-radius: 5px;}*/

    .parent{display: block; padding: 10px; margin: 5px; border-radius: 1px; -moz-boder-radius: 5px;}

    .save{margin-right: 5px}
    .checkbox{display: block;width: 15px !important;height: 15px !important;;display: block; float: right;}
    .select2-search__field{height: 30px}
    .product_id{width: 250px}
    .color_red{color: red;}
    .with100{ width: 100px !important;}
    .with70{ width: 70px !important;}
    .with50{ width: 50px !important;}
    input[type="file"] {
        margin-top: 0px;
        margin-left: 5px;
    }
</style>

<div class="page-header">
    <h3>CREATE COST</h3>
</div>

<?php
if (isset($this->messages_error) and $this->messages_error)
    foreach ($this->messages_error as $messages_error):
        echo '<div class="alert alert-danger">'.$messages_error.'</div>';
    endforeach;

if (isset($this->messages_success) and $this->messages_success)
    foreach ($this->messages_success as $messages_success):
        echo '<div class="alert alert-success">'.$messages_success.'</div>';
    endforeach;
?>


<form action="<?php echo HOST;?>purchasing/save-confirm-cost" target="iframe" method="post" enctype="multipart/form-data">
    
    <div class="widget">
        <div class="widget-header">
            <i class="icon-list-alt"></i>
            <h3>General Infor</h3>
        </div>

        <div class="widget-content">

            <div class='row'>
                <div class="span12">

                    <div class="form-create">
                        <span>Name COST : </span>
                        <input disabled name='cost_name'  required="required" value="<?php echo $this->purchasing_request['cost_name'];?>"></input>
                    </div>

                    <div class="form-create">
                        <span>Payment Date: </span>
                        <input disabled type="text" name="delivery_date" id="delivery_date" class="delivery_date date" required="required" value="<?php echo $this->purchasing_request['delivery_date'];?>" required="required" />
                    </div>
                  
                    <div class="form-create">
                        <span>Department: </span>
                        <select name="department_id"  required="required" class="with150" disabled>
                            <option value="">--Select--</option>
                             <?php foreach($this->department as $key=>$value):?>
                            <option value="<?php echo $key;?>" <?php echo (isset($this->purchasing_request['department_id']) and $this->purchasing_request['department_id'] == $key) ? "selected" : NULL;?>><?php echo $value;?></option>
                            <?php endforeach;?>
                        </select>
                    </div>
                
                    <div class="form-create">
                        <span>Area:</span>
                        <select name="area_id"  required="required" class="with150" disabled>
                            <option value="">--Select--</option>
                             <?php foreach($this->areas as $key=>$value):?>
                            <option value="<?php echo $key;?>" <?php echo (isset($this->purchasing_request['area_id']) and $this->purchasing_request['area_id'] == $key) ? "selected" : NULL;?>><?php echo $value;?></option>
                            <?php endforeach;?>
                        </select>
                    </div>
                
                    <div class="form-create">
                        <span>Showroom: </span>
                        <select name="showroom_id" id="showroom_id" class="with150"  required="required" disabled>
                            <option value="">--Select--</option>
                             <?php foreach($this->showrooms as $key=>$value):?>
                            <option value="<?php echo $key;?>" <?php echo (isset($this->purchasing_request['showroom_id']) and $this->purchasing_request['showroom_id'] == $key) ? "selected" : NULL;?>><?php echo $value;?></option>
                            <?php endforeach;?>
                        </select>
                    </div>
                
                    <div class="form-create">
                        <span>Remark :</span>
                        <textarea disabled name='remark'><?php echo $this->purchasing_request['remark'];?></textarea>
                    </div>

                </div>
            </div>
            
            
            <div class='row'>
                <div class="span12">  
                    
                    <div class="form-create">
                        <span>COST Quotation:</span>

                        <?php  if (isset($this->list_file) and $this->list_file)
                            foreach ($this->list_file as $k=>$val): ?>                        
                                <?php $link = HOST.'purchasing-cost/'.$val['sn'].'/'.$val['pr_quotation'];?>
                        <a class="icon-eye-open" target='_blank' href="<?php echo $link;?>"><?php echo $val['pr_quotation'];?></a> <br/>
                        <?php endforeach;?>
            
                        <!--<input type="file" name="pr_quotation" id="pr_quotation" class="pr_quotation" value="" />-->
                    </div>                   

                </div>

            </div>
            
            
        </div>
    </div><!--widget-->

        <div class="widget">
        <div class="widget-header">
            <i class="icon-list-alt"></i>
            <h3>Details</h3>
        </div>

        <div class="widget-content">
            <div class='content_child'>

            <?php if(!empty($this->params['sn'])){?>
            <input type="hidden" name="sn" value="<?php echo $this->params['sn'];?>">
			 
			<?php
                        
                         $total_order_value = 0;
                         $total_check = $before_vat = $after_vat = $deviation = 0;
                        foreach($this->purchasing_request_details as $key=>$val):        
                            $total_order_value = $total_order_value + $val['total_price'];                
                         
                            /// check giá
                            $before_vat = $val['quantity']*$val['price'];
                            $after_vat = $before_vat + $before_vat*$val['vat']/100; 
                            $total_check = $total_check + $after_vat;
                            
                            ?>
			
               		<div class="row child"> 
                            
                                <div class="span12">

                                    <div class="form-create">
                                        <span>Product: </span>
                                        <select class="product_id" id='product_id' disabled name="product_id[]" required="required" style="width: 450px;">
                                            <option value="">-- Select --</option>
                                            <?php foreach ($this->pmodel_code as $key => $value):?>
                                            <option value="<?php echo $value['id'];?>" <?php echo ( $val['product_id'] == $value['id']) ? "selected" : NULL;?> ><?php echo $value['code'].' - '.$value['name'].' - '.$value['sub_name'];?></option>
                                            <?php endforeach;?>
                                        </select>
                                    </div>

                                    <div class="form-create"> 
                                        <span>Supplier: </span>
                                        <select name="supplier_id[]" disabled class="supplier_id " required="required">
                                            <option value="">--Select--</option>
                                            <?php foreach($this->supplier as $key=>$value):?>
                                            <option value="<?php echo $key;?>" <?php echo ( $val['supplier_id'] == $key) ? "selected" : NULL;?> ><?php echo $value;?></option>
                                            <?php endforeach;?>
                                        </select>
                                    </div>

                                    <div class="form-create">
                                        <span>Quantity: </span>
                                        <input type="number" disabled id="quantity" class="quantity with50" name="quantity[]" value="<?php echo $val['quantity'];?>" required="required" />
                                    </div>

                                    <div class="form-create">
                                        <span>Price: </span>
                                        <input type="text" disabled id="price" class="price with100" name="price[]" value="<?php echo number_format($val['price']);?>" required="required" />
                                    </div>

                                    <div class="form-create">
                                        <span>VAT %:</span>
                                        <input type="number" disabled id="vat" class="price with70" name="vat[]" value="<?php echo $val['vat'];?>"  required="required"  />
                                    </div>

                                    <div class="form-create">
                                        <span>Total:</span>
                                        <input type="text" disabled id="total_price" class="total_price" name="total_price[]" value="<?php echo number_format($val['total_price']);?>"  required="required"  />
                                    </div>

                                    <div class="form-create">
                                        <span>Invoice Number:</span>
                                        <input type="text" disabled id="invoice_number" class="invoice_number with100" name="invoice_number[]" value="<?php echo $val['invoice_number'];?>" />
                                    </div>
                                    
                                    <div class="form-create">
                                        <span>Invoice date:</span>
                                        <input type="date" disabled id="invoice_date" class="invoice_date  with150"   name="invoice_date[]" value="<?php echo $val['invoice_date'];?>" />
                                    </div>
                                    
                                    <div class="form-create">
                                        <span>Note:</span>
                                        <textarea disabled name="note[]" class="note with150" style="height:19px;"><?php echo $val['note'];?></textarea>
                                    </div>
                                    
                                    <div class="form-create">
                                        <span>&nbsp</span>
            <!--                            <input type="hidden" name='code_supplier_id[]' class="code_supplier_id" />-->
<!--                                        <a href="#" class="btn btn-danger pull-right" id="remove">-</a>
                                        <a href="#" class="btn btn-primary pull-right" id="add" style="margin-right: 5px">+</a>-->
                                    </div>
                                <input type="hidden" name="ids[]" class="ids" value="">    
                                </div><!-- span12-->
                           </div>  
			<?php endforeach;
                        $deviation = $total_check - $total_order_value;
                        if($deviation<0){
                            $deviation = $deviation*(-1);
                        }
                        ?>
			
            </div>  
			<?php }?>
            </div><!-- widget-content-->
        </div><!--widget-->
        

            <?php if ($deviation>1000):?>               
            <div class="span10 row" style=" text-align: center;">   
                <h4 id="total_money_order" style="float: right; margin-left: 15px; color: red;"><?php echo $deviation ? number_format($deviation):0; ?> </h4>
                <h4 style="float: right;"> &nbsp;&nbsp; Chênh lệch: </h4>
                       
                <h4 id="total_money_order" style="float: right; margin-left: 15px; color: red;"><?php echo $total_check ? number_format($total_check):0; ?></h4>
                <h4 style="float: right;">WARNING: Tổng trước làm tròn: </h4>
            </div>                  
            <?php endif;?>
        
            <div class="span10 row" style=" text-align: center;">                
                <h3 id="total_money_order" style="float: right; margin-left: 15px; color: red;"><?php echo $total_order_value ? number_format($total_order_value):0; ?></h3>
                <h3 style="float: right;">Total Price COST: </h3>
            </div>
    
    
    <div class="row-fluid">
        <div class="span12">
            <div class="form-group">
                <iframe style="display:none;border:none;width: 100%" id="iframe" name="iframe"></iframe>
                <input type="hidden" name="sn"  value="<?php echo $this->params['sn'];?>">  
                
                <?php if ($this->access('purchasing', 'save-confirm-cost') and empty($this->purchasing_request['confirm_by'])):?>
                    <button type='submit' class="btn btn-success pull-right save" id='save'>Confirm</button>                
                <?php endif;?>
                   
                <a class="btn btn-primary  pull-right back" href="<?php echo HOST;?>purchasing/cost" style="margin-right: 10px">Back to list</a>
            
            </div>
        </div>
    </div>
</form>


<div id="modalSubmit" class="modal fade" role="dialog">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-body">
        <span id="modal_message" class="modal_mess"><h3>Bạn có muốn xóa không?</h3></span>
        <button type="button" name="submit" id="btnSubmit" value="1" class="btn btn-primary">Có</button>
        <button type="button" id="cancel" class="btn btn-default">Không</button>
      </div>
    </div>

  </div>
</div> <!-- end modal -->



<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.3/js/select2.min.js"></script>
<script type="text/javascript" src="/js/jquery-ui-1.8.12.custom.min.js"></script>
<link rel="stylesheet" type="text/css" href="/css/jquery-ui-1.8.12.custom.css"/>

<style type="text/css">
    .select2-search__field{height: 30px}
</style>
<script>

    $(document).ready(function(){
        $(".supplier_id").select2();
    });

</script>

<script>

    $(document).ready(function(){

        $(".product_id").select2();

        $(".supplier_id").select2();

        $("#dialog").dialog({
            autoOpen: false,
            modal: true
        });


        initdate();
        addNew();
        remove();
        changeCheckbox(); 
        
        /// add PR Quotation
	var ctn = ".ajaxSearchPart-container";
	$("body").on("propertychange input", ctn+" span input[type=text]:input", function(){
	});
        
        var html = $("#area-group > div:last-of-type").wrapAll('<div></div>').parent().html();
        var current = parseInt(html.match(/pr_quotation\[([0-9]+)\]/)[1]);
        $("#area-group").html(html);


        $("#add-more").click(function(){
            $('.ajaxSearchPart-container').css('display','flex');
                current++;
                $("#area-group").append(html.replace(/pr_quotation\[([0-9]+)\]/g, "pr_quotation["+current+"]"));
        });

        $("body").on("click", ctn+" a", function(){
                current--;
                $(this).parent().remove();
                if(current < 0){
                     current = 0;
                }
        });
        /// add PR Quotation
        
        
        $(document).on('click', '.del_file',function(e) {
            
            var id =  $(this).attr("data_id");
            
            data_del = {'id': id };
            $.ajax({
                url: "<?php echo HOST . 'purchasing/purchasing-cost-del-file' ?>",
                type: 'POST',
                data: data_del,
                success: function (data) {
                    var response = $.parseJSON(data);
                    if (response.status == 1) {
                        //$('#myModalCreate').modal('hide');
                        location.reload();
                    } else {
                        //$('#myModalCreate').modal('hide');
                        alert(response.message);
                    }
                },
            });
    
        });

        
    });

    function initdate()
    {
        $('.date').mousedown( function(){
            $(this).datepicker({ dateFormat: "yy-mm-dd" });
        });
    }
 

    function changeCheckbox(){
        $(document).on('change','#checkbox_to',function(){
            
            if($(this).attr('checked')) {
                $(this).closest('.child').find(".order_to option[off=1]").hide();
            } else {
                $(this).closest('.child').find(".order_to option[off=1]").show();
            }

        });

        $(document).on('change','#checkbox_from',function(){
            
            if($(this).attr('checked')) {
                $(this).closest('.child').find(".order_from option[off=1]").hide();
            } else {
                $(this).closest('.child').find(".order_from option[off=1]").show();
            }

        });
    }


    var counter = $('.ids').length;
    function addNew(){

        $(document).on('click','#add',function(){  
            $(".child:last").find('.product_id').select2('destroy');
            $(".child:last").find('.supplier_id').select2('destroy');
            var clone = $(".child:last").clone();
            $('.content_child').append(clone);
            $('.product_id').select2();
            $('.supplier_id').select2();

            $(".child:last").find('.quantity').val(1);
            $(".child:last").find('.price').val(0);
            $(".child:last").find('.total_price').val(0);
            

            counter++;
        })
    }

    function remove(){

        $(document).on('click','#remove',function(){
			var ids = $(this).attr('data-del');
            
            if (counter == 1) {
               return false;
            }
            $(this).closest('.child').remove();
            counter--;
        })
    }


 	$('#cancel').click(function () {
        $('#modalSubmit').modal('hide');
    });

    fix_digit = 0;

    Number.prototype.formatMoney = function(c, d, t){
    var n = this, 
        c = isNaN(c = Math.abs(c)) ? 2 : c, 
        d = d == undefined ? "." : d, 
        t = t == undefined ? "," : t, 
        s = n < 0 ? "-" : "", 
        i = parseInt(n = Math.abs(+n || 0).toFixed(c)) + "", 
        j = (j = i.length) > 3 ? j % 3 : 0;
       return s + (j ? i.substr(0, j) + t : "") + i.substr(j).replace(/(\d{3})(?=\d)/g, "$1" + t) + (c ? d + Math.abs(n - i).toFixed(c).slice(2) : "");
     };
    
    function float_f(num) {
        return parseFloat(num).formatMoney(fix_digit, ',', '.');
    }

</script>

<div id="dialog" title="Error">
    Tổng số khác số lượng, vui lòng kiểm tra lại!
</div>

