<div class="page-header">
    <h2>
        View Order : SN <?php echo $this->purchasing_order['sn'];?>
    </h2>
</div>

<?php
if (isset($this->messages) and $this->messages)
    foreach ($this->messages as $message):
        echo '<div class="alert alert-success">'.$message.'</div>';
    endforeach;

if (isset($this->messages_error) and $this->messages_error)
    foreach ($this->messages_error as $message):
        echo '<div class="alert alert-error">'.$message.'</div>';
    endforeach;

?>


<div class="widget">
    <div class="widget-header">
        <i class="icon-list-alt"></i>
        <h3>General Infor</h3>
    </div>

    <div class="widget-content">

        <div class="row">

            <div class="span6 row">
                <div class="control-group">
                    <label for="po_name" class="span2">PO Name</label>
                    <input type="text" name="po_name" id="po_name" class="po_name" value="<?php echo $this->purchasing_order['po_name'];?>" readonly>
                </div>
                
                
                <div class="control-group">
                    <label for="delivery_date" class="span2">Delivery Date</label>
                    <input type="text" name="delivery_date" id="delivery_date" class="delivery_date date" value="<?php echo date("Y-m-d", strtotime($this->purchasing_order['delivery_date']));?>" readonly>
                </div>

                <div class="control-group">
                    <label for="remark" class="span2">Remark</label>
                    <input type="text" name="remark" id="remark" class="remark" value="<?php echo $this->purchasing_order['remark'];?>" readonly>
                </div>

            </div>
            
            
            <div class="span6 row">
                <label for="delivery_date" class="span2 row">PR Quotation:</label><br><br>
                     <div class="form-create row">                         
                        <?php  if (isset($this->list_file) and $this->list_file)
                            foreach ($this->list_file as $k=>$val): ?>                        
                                <?php $link = HOST.'purchasing-order/'.$val['sn'].'/'.$val['po_quotation'];?>
                                <a target='_blank' href="<?php echo $link;?>"><?php echo $val['po_quotation'];?><i class="icon-eye-open" style="display: table; float: left;"></i></a><br/>
                        <?php endforeach;?>    
                    </div>
            </div>

        </div><!-- row -->
    </div>
</div>


<div class="table-responsive">

    <table class="table table-bordered">
        <thead>
        <tr>
            <?php echo $this->sorting(array(
                    'PR SN',
                    'AREA',
                    'DEPARTMENT',
                    'CODE',
                    'PRODUCT',
                    'SUPPLIER',
                    'QUANTITY',                
                    'UNIT',
                    'PRICE',
                    'AFTER VAT',
                    'TOTAL PRICE',
                    'URGENT DATE',
                ),
                $this->url, $this->sort, $this->desc); ?>

        </tr>

        </thead>

        <tbody>
        
        <?php
        $count =0;
        if (isset($this->list) and $this->list):
            $total_order_value = 0;
            foreach ($this->list as $k=>$item):
            $total_order_value = $total_order_value + $item['price']*$item['quantity']*1.1;
                ?>

                <tr>
                    <td><?php echo $item['sn'];?></td>         
                    <td><?php echo !empty($item['area_id']) ? $this->areas[$item['area_id']] : NULL;?></td>
                    <td><?php echo !empty($item['department_id']) ? $this->department[$item['department_id']] : NULL;?></td>
                    <td><?php echo $item['pmodel_code'];?></td>
                    <td><?php echo $item['pmodel_name'];?></td>
                    <td><?php echo !empty($item['supplier_id']) ? $this->supplier[$item['supplier_id']] : NULL;?></td>
                    <td>
                        <input type="number" name="quantity[]" class="quantity" value="<?php echo $item['quantity'];?>" style='width:50px' readonly/>
                    </td>
                    <td><?php echo $item['unit'];?></td>
                    <td>
                        <input type="number" name="price[]" class="price" value="<?php echo $item['price'];?>" style='width:100px' readonly/>
                    </td>
                    <td><?php echo number_format($item['price']*1.1);?></td>
                    <td><?php echo number_format($item['quantity']*$item['price']*1.1);?></td>
                    <td><?php echo date('d/m/Y', strtotime($item['urgent_date']));?></td>
                </tr>

            <?php endforeach;  endif;?>

        </tbody>
    </table>

            <div class="span10 row" style=" text-align: center;">                
                <h3 id="total_money_order" style="float: right; margin-left: 15px; color: red;"><?php echo $total_order_value ? number_format($total_order_value):0; ?></h3>
                <h3 style="float: right;">Total PO: </h3>
            </div>
    
    


</div>



<div class="row-fluid">
    <div class="span12">
        <div class="form-group">
            <iframe style="display:none;border:none;width: 100%" id="iframe" name="iframe"></iframe>
            <a class="btn btn-primary pull-right back" href="<?php echo HOST;?>purchasing/order" style="margin-right: 10px">Back to list</a>
        </div>
    </div>
</div>


</form>

<script type="text/javascript" src="/js/jquery-ui-1.8.12.custom.min.js"></script>
<link rel="stylesheet" type="text/css" href="/css/jquery-ui-1.8.12.custom.css"/>
<script>
    $(document).ready(function()
    {
        $('.date').mousedown( function(){
            $(this).datepicker({ dateFormat: "yy-mm-dd" });
        });
    });
</script>