	<title>MINI GAME, Tôi là OPPOer - Mùa 3</title>
	<link rel="icon" type="image/ico" href="/img/favicon.ico">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.4.2/css/all.css" integrity="sha384-/rXc/GQVaYpyDdyxK+ecHPVYJSN9bmVFBvjA/9eOB+pb3F2w2N6fc5qB9Ew5yIns" crossorigin="anonymous">
    <link rel="image_src" href="https://center.opposhop.vn/mini_game/2019/minigame.jpg" />
	<script src="http://code.jquery.com/jquery-1.11.3.min.js"></script>
	<link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
	<link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap-theme.min.css">
    <meta property="og:type" content="website" />
    <meta property="og:image" content="https://center.opposhop.vn/mini_game/2019/minigame.jpg" />
    <meta name="twitter:image" content="https://center.opposhop.vn/mini_game/2019/minigame.jpg" />
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>

<style type="text/css">
*{
	margin: 0;
	padding: 0;
}
@font-face {
    font-family: myFirstFont;
    src: url(/font/Oppo-2019044a-Regular.otf);
}
a{
	cursor: pointer;
}
@keyframes action {
        0%{opacity: 0.5; }
      50%{opacity: 0.7;}
      100%{opacity: 1.0;}
    }

.logo{
    float:left;
    width:10%;
}

.green {
    color:#009B72;
}

.modal-body{
color:#009B72
}
@media only screen and (min-width: 1080px) and (max-width: 2560px)
{
	.dot{
			font-size: 0.3vw;
			margin-right: 0.5vw;
			margin-left: 0.5vw;
		}
		.content_game {
			width: 100%;
			height: 50vw;
			background-image:url(/mini_game/2019/welcome_bg.png);
		    background-size: 100% 100%;
			background-repeat: no-repeat;
		}
		.top10{
			margin-top: 0.2vw;
		}
		.bottom20{
			margin-bottom: 0.4vw;
		}

		.text_content{
			word-spacing: 2vw;
		}
		.tab{
            background-image:url(/mini_game/2019/header.png);
			position: absolute;
			margin-top: 0vw;
			border-bottom: 0.1vw solid #00794e;
			width: 100%;
			height: 6vw;
            background-size:100%
		}
		.logo img{
			    width: 14vw;
			    margin-top: 0.2vw;
			    margin-bottom: 0.2vw;
			    margin-left: 6vw;
			display: block;
		}
		.tab .logo_center img{
			float: left;
			    display: block;
			    width: 10vw;
			    float: left;
			    margin-top: -4.7vw;
			    margin-left: 17vw;	
		}
		.tab .tab-button{
			float: right;
			margin: 0 auto;
			margin-left: 1vw;
			height: 6vw;
			margin-right: 2vw;

		}
		.tab button{
			font-family: "Myriad Pro", Myriad, "Liberation Sans", "Nimbus Sans L", "Helvetica Neue", Helvetica, Arial, sans-serif;
		font-weight: bold;
		color: white;
		width: 12vw;
		margin-top: 0%;
		background-color: inherit;
		float: left;
		border: none;
		outline: none;
		cursor: pointer;
		padding: 2vw 1.2vw;
		transition: 0.3s;
		font-size: 1.3vw;

		}
		.tab button:hover{
		color: #00794e;
		
		}
		.btn_join{
            width: 20vw;
            margin-top: 43vw;
            margin-left: 64.5vw;
		   background-image: url(/mini_game/thamgia_mobi.png);
		  /* animation: action 3s;
		   animation-iteration-count: infinite;*/
		}

    .im_oppo_bg{
        height: 36vw;
        position: absolute;
        margin-top: 6.1vw;
        font-size: 1.1vw;
        width: 28vw;
        left: 18vw;
        background-image: url(/mini_game/2019/im_oppo.png);
        background-repeat: no-repeat;

        line-height: 2vw;
    }

		.tabcontent{
			height: 36vw;
		    position: absolute;
		    margin-top: 6.1vw;
		    font-size: 1.1vw;
		    margin-right: 5vw;
		    width: 28vw;
		    margin-left: 61vw;
            background-image: url(/mini_game/2019/info_box.png);
            background-size: 100%;
		    display: none;
		    padding: 0vw 0vw;

		    line-height: 2vw;
			}
	.tabcontent ul {
	   
	    list-style: none;
	    margin-left: 3vw;
	    margin-right: 3vw;
	    margin-top: 4.2vw;
        line-height:1.6vw
	}

    .tabcontent ul li {
        margin-top:0.5vw
    }
	.modal-content{
			width: 100%;
			height: 20vw;
			background-image:url(/mini_game/alert1.png); 
		    background-size: 100% 100%;
			background-repeat: no-repeat;
			border-radius: 3vw;
			border: 0.2vw solid #00794e;
			text-align: center;
			font-size: 3vw;
	}
	.modal-body{
		
	}
}
@media only screen and (min-width: 320px) and (max-width: 1080px) {
		.dot{
			font-size: 2vw;
			margin-right: 0.5vw;
			margin-left: 0.5vw;
		}
		.content_game {
			width: 100%;
			height: 250vw;
			background-image:url(/mini_game/2019/m_welcome_bg.png);
		    background-size: 100% 100%;
			background-repeat: no-repeat;
		}
		.top10{
			margin-top: 0.2vw;
		}
        .tablinks{
            color:grey
        }
        .bottom20{
			margin-bottom: 0.4vw;
		}
		.btn_join{
			width: 15vw;
		    margin-top: 115vw;
		    margin-left: 68vw; 
		    position: absolute;
		}
		.text_content{
			word-spacing: 2vw;
		}
		.tab{
			position: absolute;
			margin-top: 133vw;
			border-bottom: none;
			width: 100vw;
			height: 8vw;
		}
		.logo{
			display: none;
		}
		.tab .logo_center img{
			display: none;		
		}
		.tab .tab-button{
            font-size: 2.5vw;
            margin-top: 0;
            width: 96%;
            /* margin-right: 1.5vw; */
            line-height: 5vw;
            height: 7vw;
            margin: 0 2% 0 2%;

		}
		.tab button{
			padding: 0vw 0vw;
			font-size: 2.5vw;
			margin-top: 0%;
			width: 32%;
			line-height: 4.5vw;
			padding: 1vw 0vw;
		}
		.tab button:hover{
		color: #00794e;
		font-size: 2.6vw;
		}
		.btn_join{
            width: 35vw;
            margin-top: 118vw;
            margin-left: 33vw;
		   background-image: url(/mini_game/thamgia_mobi.png);
		}
		.tabcontent{
		position: absolute;
		margin-top: 140vw;
		font-size: 4vw;
		margin-right: 5vw;
		width: 94vw;
		margin-left: 1.5vw;
		background-color: #ebf1ee;
		display: none;
		padding: 1vw 1vw;

		line-height: 4vw;
	}
	.tabcontent ul {
	    height: 80vw;
	    list-style: none;
	    margin-left: 3vw;
	    margin-right: 3vw;
	    margin-top: 3vw;
	}

    .tabcontent ul li {
        margin-top:2.8vw
    }
    .modal-content{
			width: 100%;
			height: 30vw;
			background-image:url(/mini_game/alert1.png); 
		    background-size: 100% 100%;
			background-repeat: no-repeat;
		border-radius: 3vw;
		border: 0.3vw solid #00794e;
		text-align: center;
		font-size: 3vw;
	}
	.modal-body{
		
	}
}

</style>
	<div class="content_game">
		<div class="tab" >
            <div class="logo">
                <span style="left: 3%;">
                    <img src="/mini_game/logo-top.png">
                </span>
            </div>
			<!-- <span class="logo_center">
				<a href="<?php echo HOST;?>"><img src="/mini_game/logo21.jpg"></a>
			</span> -->
			<div class="tab-button">
				<button class="tablinks active shape" id="London_" onclick="openTab(event,'London')" style="color: #00794e;">Thể lệ trò chơi</button>
                <a href="/minigame/list-reward"><button class="tablinks "  id="Tokyo_">Quà tặng</button></a>
				<a href="/minigame/reward"><button class="tablinks " id="Paris_" >Danh sách trúng thưởng</button></a>
			</div>
		</div>
        <div class="im_oppo_bg"></div>
		<div id="London" class="tabcontent" style="display: block;">
			
			<p class="text_content">
				<ul>
                <li><i class="dot fas fa-circle"></i>   Các bạn đăng nhập đường link bằng tài khoản Center để tham gia Mini Game & hoàn thành <b class="green">15</b> câu hỏi.</li>
				
                <li><i class="dot fas fa-circle"></i>   Bạn có <b class="green">25 giây</b> để trả lời <b class="green">mỗi câu hỏi</b> với 3 phương án lựa chọn (Bạn chỉ được chọn 1 lần đáp án cho câu hỏi). Hết 25 giây hệ thống tự động chuyển qua câu hỏi tiếp theo.</li>
                <li><i class="dot fas fa-circle"></i>   Mỗi câu trả lời đúng tương ứng với <b class="green">10 điểm</b>.</li>
                <li><i class="dot fas fa-circle"></i>   Kết thúc <b class="green">2 số trong một tuần, 30 bạn có tổng số điểm cao nhất trong thời gian nhanh nhất</b> sẽ nhận được phần quà từ chương trình theo thứ tự giảm dần.</li>
					<li><i class="dot fas fa-circle"></i>   Người chơi có số điểm tổng hợp cao nhất qua 4 số sẽ nhận được phần thưởng đặc biệt từ chương trình.</li>
				</ul>
			<span class="bottom20"></span>
		    </p>
		</div>
		<div id="Tokyo" class="tabcontent">
			<h3>Tokyo</h3>
			<p>Tokyo is the captial city of Japan.<p>
		</div>
		<div id="Paris" class="tabcontent">
			<h3>Paris</h3>
			<p>Paris is the captial city of France.<p>
		</div>
		<span id="check"><a id="link_join" href="/minigame/play"><img src="/mini_game/2019/join_btn.png" class="btn_join" style=""></a></span>

<!-- Modal -->
		<div class="modal bs-example-modal-lg" style="display: none">
			<div class="modal-dialog modal-lg">
				<div class="modal-content alert1">
					<div class="modal-header">
						<button class="close" data-dismiss="modal"><span style="font-size: 4vw;">&times;</span></button>
						<p class="modal-title green">Thông báo</p>
					</div>
					<div class="modal-body">
						
					</div>
				</div>
			</div>
		</div>
<!-- Modal -->

</div>
<script src="/js/jquery-1.7.2.min.js"></script>
<script src="/js/bootstrap.js"></script>
	<script>
		function openTab(evt,cityName){
			var i,tabcontent,tablinks;
			document.getElementById('London_').style.color = "#ccc";
			document.getElementById('Tokyo_').style.color = "#ccc";
			document.getElementById('Paris_').style.color = "#ccc";
			tabcontent = document.getElementsByClassName('tabcontent');
			for(i=0;i<tabcontent.length;i++)
			{
				tabcontent[i] .style.display = "none";
			}
			tablinks = document.getElementsByClassName('tabcontent');
			for (i=0; i<tablinks.length;i++){
				tablinks[i].className = tablinks[i].className.replace(" active","");
			}
			document.getElementById(cityName).style.display = "block";
			 document.getElementById(cityName+'_').style.color = "#00794e";
			evt.currentTarget.className += " active";
		}
		function GetURLParameter(sParam) {
		    var sPageURL = window.location.search.substring(1);
		    var sURLVariables = sPageURL.split('&');
		    for (var i = 0; i < sURLVariables.length; i++){
		        var sParameterName = sURLVariables[i].split('=');
		        if (sParameterName[0] == sParam)
		        {
		            return sParameterName[1];
		        }
		    }
		}
		$(document).ready(function(){
			var soon = GetURLParameter('soon');
			var late = GetURLParameter('late');
			if(soon==1)
			{
					$('.bs-example-modal-lg').css('display','block');
					 $('.modal-body').text('Vô chi sớm vậy nè! Chút xíu nữa quay lại nha.');
			}
			if(late==1)
			{
				$('.bs-example-modal-lg').css('display','block');
					 $('.modal-body').text('Bạn đã lỡ cơ hội hôm nay rồi! Hẹn tuần sau nhé.');
			}

			 $('.close').click(function(){
			 	$('.bs-example-modal-lg').css('display','none');
			 	window.location.href = "https://center.opposhop.vn/minigame/index";
			 });

		 });
	</script>
