<title>MINI GAME, Tôi là OPPOer - Mùa 3</title>
<link rel="icon" type="image/ico" href="/img/favicon.ico">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<script src="/js/jquery-1.7.2.min.js"></script>
<style type="text/css">
*{
	margin: 0;
	padding: 0;
}
@font-face {
    font-family: myFirstFont;
    src: url(/font/Oppo-2019044a-Regular.otf);
}

html {
    font-family: myFirstFont;
}
.reward{
    background-image:url(/mini_game/2019/lst_reward.jpg);
    background-repeat: no-repeat;
    background-position: center center;
    width:50vw;
    height:50vh;
}
@media only screen and (min-width: 320px) and (max-width: 1080px) {
    .reward {
        background-image: url(/mini_game/2019/lst_reward.jpg);
        background-repeat: no-repeat;
        background-position: center center;
        width: 85vw;
        height: 37vh;
        position: absolute;
        background-size: 100% 100%;
        bottom: 12vh;
        left: 8vw;
    }
    .table_scroll {
        position: absolute;
        height: 65vw;
        width: 80vw;
        overflow-y: scroll;
        margin-top: 50vh;
        margin-left: 13vw;
    }
	.content{
		  width: 100%;
		  height: 100vh;
		  background-image:url(/mini_game/2019/m_reward.png);
		  background-size: 100% 100%;
		  background-position: center;
		  background-position: top;
		  background-repeat: no-repeat;
		  position: relative;

		}
		.table {
		    border-collapse: collapse;
		    font-size: 4vw;
		    position: absolute;
		    margin-top: 0vw;
		    margin-left: 0vw;
		    /* border-radius: 13vw; */
            width: 90%;
		}
		.table tr th{
			padding-left: 1vw;
			padding-right: 1vw;
			border-left: 0.1vw solid #ccc;
			text-align: left;
			border-bottom: 0.1vw solid #ccc;
            font-size: 2vw;
            color:#009B72;
		}
		.table tr td{
			padding-left: 1vw;
			padding-right: 1vw;
			border-left: 0.1vw solid #ccc;
			text-align: left;
			border-bottom: 0.1vw solid #ccc;
            font-size: 2vw;
		}
    .title {
        font-size: 3vw;
        position: absolute;
        width: 60vw;
        margin-top: 45vh;
        margin-left: 21vw;
        color: #009B72;
    }
}
  @media only screen and (min-width: 1080px) and (max-width: 2560px){
      .reward {
          background-image: url(/mini_game/2019/lst_reward.jpg);
          background-repeat: no-repeat;
          background-position: center center;
          background-size: 100% 100%;
          width: 42vw;
          height: 61vh;
          position: absolute;
          bottom: 12vh;
          /* top: 0; */
          left: 40vw;
      }
	  	.content{
			  width: 100%;
			  height: 100%;
			  background-image:url(/mini_game/2019/reward.png);
			  background-size: 100% 100%;
			  background-position: center;
			  background-position: top;
			  background-repeat: no-repeat;
			  position: relative;

			}
			.table{
                border-collapse: collapse;
                font-size: 1vw;
                position: absolute;
                /* margin-top: 2vw; */
                margin-left: 0vw;
                border-radius: 5vw;

		}
		.table tr th{
			font-weight: none;
			padding-left: 1vw;
			padding-right: 1vw;
			border-left: 0.1vw solid #ccc;
			text-align: left;
			border-bottom: 0.1vw solid #ccc;
            font-size: 0.8vw;
            color:#009B72;
		}
		.table tr td{
			padding-left: 1vw;
			padding-right: 1vw;
			border-left: 0.1vw solid #ccc;
			text-align: left;
			border-bottom: 0.1vw solid #ccc;
            font-size: 0.8vw;
		}
		.title {
		    font-size: 1.3vw;
		    position: absolute;
		    width: 40vw;
		    margin-top: 8vw;
		    margin-left: 40vw;
		    border-bottom: 0.2vw solid #00925f;
            color:#009B72;
		}
		.table_scroll{
            position: absolute;
            height: 28vw;
            width: 30vw;
            overflow-y: scroll;
            margin-top: 12vw;
            margin-left: 45vw;
		}
  }
		
.red_{background-color: #ff18184d;}
.yellow_{background-color: #f7f01342;}
.blue_{background-color: #5077d059;}
.green_{background-color: #13f72230;}

</style>
<div class="content">
	<h2 class="title" style="text-align: center;">DANH SÁCH PHẦN THƯỞNG (<?php echo MINIGAME_CURRENT_WEEK ?>)</h2>
	<div class="reward"></div>
</div>