<title>MINI GAME, Tôi là OPPOer - Mùa 3</title>
<link rel="icon" type="image/ico" href="/img/favicon.ico">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<!--<script src="/js/jquery-1.7.2.min.js"></script>-->

<link rel="stylesheet" href="<?php echo HOST ?>public/mini_game/css/style.css">
<script src="<?php echo HOST ?>public/oppoer-minigame/js/jquery-1.11.3.min.js"></script>
<script src="<?php echo HOST ?>public/mini_game/js/wheel.js"></script>
<style type="text/css">
    *{
        margin: 0;
        padding: 0;
    }
    @font-face {
        font-family: myFirstFont;
        src: url(/font/Oppo-2019044a-Regular.otf);
    }

    * {
        font-family: myFirstFont;
    }
    html {
        font-family: myFirstFont;
    }

    .oppo_color{
        color:#009B72;
    }
    @media only screen and (min-width: 320px) and (max-width: 1080px) {
        .answer_list {
            position: absolute;
            bottom: 3vh;
            left: 8vw;
            right: 5vw;
            background-image: url(/mini_game/2019/m_rotation_reward.png);
            background-size: 100% 100%;
            height: 50%;
            padding: 2vw;
        }

        .table_scroll {
            height: 90%;
            width: 90%;
            overflow-y: scroll;
            padding: 2% 3vw 0 3vw;
            font-size: 2.8vw;
            line-height: 6vw;
        }
        .content{
            font-family: myFirstFont;
            width: 100%;
            min-height: 100vh;
            background-image:url(/mini_game/2019/m_result_bg.png);
            background-size: 100% 100%;
            background-position: center;
            background-position: top;
            background-repeat: no-repeat;
            position: relative;

        }
        .result {
            position: absolute;
            font-size: 2.5vw;
            margin-top: 23vh;
            width: 36vw;
            margin-left: 50vw;
            text-align: center;
            line-height: 4vw;
        }
        .table {
            border-collapse: collapse;
            border: 0.1vw solid #ccc;
            font-size: 3.5vw;
            position: absolute;
            margin-top: 0vw;
            margin-left: 0vw;
        }
        .table tr th{
            font-weight: none;
            padding-left: 1vw;
            padding-right: 1vw;
            border-left: 0.1vw solid #ccc;
            text-align: left;
            border-bottom: 0.1vw solid #ccc;
        }
        .table tr td{
            padding-left: 1vw;
            padding-right: 1vw;
            border-left: 0.1vw solid #ccc;
            text-align: left;
            border-bottom: 0.1vw solid #ccc;
        }
        .error {
            font-size:4vw;
        }
        .game-container {
            position: absolute;
            max-height: 55%;
            width: 75%;
            top: 40%;
            left: 12.5%;
            text-align: center;
        }
    }
    @media only screen and (min-width: 1080px) and (max-width: 2560px){
        .answer_list {
            width: 55%;
            background-image: url(/mini_game/2019/rotation_reward.png);
            background-size: 80% 80%;
            background-repeat: no-repeat;
            height: 60vh;
            float: left;
            margin-top: 20vh;
            background-position: right center;
        }

        .total_result {
            font-family: myFirstFont;
            float: right;
            background-image: url(/mini_game/2019/result.png);
            background-position: left center;
            background-repeat: no-repeat;
            width: 45%;
            height: 100vh;
        }

        .table_scroll {
            height: 60vh;
            width: 65%;
            /* overflow-y: scroll; */
            margin-left: 25%;
            margin-top: 17vh;
            line-height: 1.8vw;
            text-align: center;
        }
        .content{
            font-family: myFirstFont;
            width: 100%;
            height: 50vw;
            background-image:url(/mini_game/2019/bg.png);
            background-size: 100% 100%;
            background-position: center;
            background-position: top;
            background-repeat: no-repeat;
            position: relative;

        }
        .result {
            position: static;
            font-size: 0.7vw;
            /* margin-top: 13vw; */
            width: 14vw;
            /* margin-left: 9vw; */
            text-align: center;
            line-height: 1.6vw;
            margin-top: 26vh;
            margin-left: 20%;
        }
        .table {
            border-collapse: collapse;
            font-size: 1.5vw;
        }
        .table tr th{
            font-weight: none;
            padding-left: 1vw;
            padding-right: 1vw;
            border-left: 0.1vw solid #ccc;
            text-align: left;
            border-bottom: 0.1vw solid #ccc;
        }
        .table tr td{
            padding-left: 1vw;
            padding-right: 1vw;
            border-left: 0.1vw solid #ccc;
            text-align: left;
            border-bottom: 0.1vw solid #ccc;
        }
        .game-container {
            position: absolute;
            max-height: 60%;
            width: 60%;
            top: 16%;
            left: 5%;
            text-align: center;
        }

        .game-container .congratulation {
            position: absolute;
            bottom: -20%;
            left: 0;
            width: 100%;
            text-align: center;
            opacity: 0;
            visibility: hidden;
        }
        .error {
            font-family: myFirstFont;
            font-size:1.2vw;
        }

    }

    }
</style>
<div class="content">
    <div class="game-container">

        <div class="wheel-container">
            <div class="pointer">
                <img src="<?php echo HOST ?>public/mini_game/2019/arrow.png">
            </div><!-- Arrow -->
            <div class="wheel">
                <img src="<?php echo HOST ?>public/mini_game/2019/m_rotation_reward.png">
            </div><!-- Wheel Image -->
        </div><!-- Wheel Container -->

        <?php if($this->error == 0) { ?>
        <div class="spin-btn">
            <img src="<?php echo HOST ?>public/mini_game/2019/roll.png">
        </div><!-- Start Button -->
        <?php }elseif ($this->error == 1) {
        ?>
            <div class="oppo_color error">
                <p>Bạn đã quay thưởng rồi nè!</p>
            </div>
        <?php } else{
            ?>
            <div class="oppo_color error">
                <p>Bạn chưa trả lời đúng 13/15 câu, không đủ điều kiện quay thưởng. <br>Cố gắng ở số tiếp theo nhé!</p>
            </div>
        <?php
        }
        ?>
        <div class="congratulation">
            <p>Chúc mừng bạn đã nhận được <b class="prize-name"></b></p>
        </div>

    </div><!-- Game Container -->
    <div class="total_result">
        <?php $total_point =0; $num = 0;?>
        <?php foreach ($this->data as $k => $val):?>

            <?php $total_point =$total_point + $val['point']; if($val['is_right']==1){ $num++;}?>
            <!--            <div class="block question_detail"><b>Câu hỏi --><?php //echo $k+1; ?><!-- :</b> --><?php //echo $this->question->question[$val['question_id']]->content;?><!--</div>-->
            <!--            <div class="block answer_detail"> <b> => --><?php
//                if($this->lst_correct_answers[$val['question_id']]==1):echo''. $this->question->question[$val['question_id']]->optiona;
//                elseif($this->lst_correct_answers[$val['question_id']]==2):echo ''.$this->question->question[$val['question_id']]->optionb;
//                elseif($this->lst_correct_answers[$val['question_id']]==3):echo ''.$this->question->question[$val['question_id']]->optionc;
//                elseif($this->lst_correct_answers[$val['question_id']]==4):echo ''.$this->question->question[$val['question_id']]->optiond; endif;
//                ?><!--</b></div>-->

        <?php endforeach; ?>
        <p class="result"> Chúc mừng bạn đã trả lời chính xác <span class="oppo_color"><?php echo $num;?>/15</span> trong thời gian <span class="oppo_color"><?php echo $total_point;?> giây</span>.<br><span style="margin-top: 2.5vw; margin-left: 1.2vw;"> Và nhớ quay lại vào số sau nhé.</span><br> </p>
    </div>
</div>
