<form id="id01" class="modal" action="<?php echo HOST ?>tree/add-node" method="post">
    <input type="hidden" name="flag" value="<?php echo $this->flag_id ?>">
    <div class="form-add-node">
        <div class="imgcontainer">
            <span onclick="document.getElementById('id01').style.display = 'none'" class="close" title="Close Modal">&times;</span>
        </div>
        <div class="panel panel-default">
            <div class="panel-heading">Add Node</div>
            <div class="panel-body">
                <div class="form-group">
                    <label for="type_node">Type Node</label>
                    <select class="form-control" id="type_node" name="type_node" required="required">
                        <option value="">-----</option>
                        <option value="1">Normal</option>
                        <option value="2">Group</option>
                    </select>
                </div>
                <div class="form-group hide-null">
                    <label for="select-child">Choose node parent</label>
                    <select class="form-control node-tree" name="parent_node" id="parent_node">
                        <option value="">-----</option>
                    </select>
                </div>
                <div class="form-group hide_dis">
                    <label for="input-title">Title</label>
                    <select class="form-control input-title-node" id="input-title" name="label_node" required="required">
                        <option value="">------</option>
                    </select>
                </div>
                
                <div class="form-group hide_dis">
                    <label for="input-color">Color node :</label>
                    <select class="form-control" id="input-color" name="color_node" required="required">
                        <option value="">------</option>
                        <option value="color_dr">Color for DIRECTOR</option>
                        <option value="color_manager">Color for MANAGER</option>
                        <option value="color_lead_sup">Color for LEADER AND SUPERVISOR</option>
                        <option value="color_staff">Color for STAFF</option>
                        <option value="color_ad_assist">Color for ADMIN AND ASSISTANT</option>
                    </select>
                </div>
                <div class="form-group hide_dis2">
                    <label for="input-title-group">Label group</label>
                    <input type="text" class="form-control" id="input-title-group" name="input-title-group" placeholder="Enter label group" required="required">
                </div>
                <div class="form-group hide_dis">
                    <label for="input-search">Search staff</label>
                    <div class="form-inline">
                        <input type="text" class="form-control" id="input-search" placeholder="Code | Name | Email">
                        <button type="button" class="btn btn-primary mb-2" id="search-staff">Search staff</button>
                    </div>
                    <br>
                    <div class="form-group">
                        <div class="form-inline">
                            <select class="form-control" id="temp-list-staff">
                            </select>
                            <button type="button" class="btn btn-primary mb-2" id="bt-add-staff">Add staff</button>
                        </div>
                    </div>
                    <br>
                    <div class="list-staff-add">
                        <label>List staff added</label>
                        <table class="table table-striped">
                            <thead>
                                <tr>
                                    <th scope="col">Code</th>
                                    <th scope="col">Name</th>
                                    <th scope="col">Action</th>
                                </tr>
                            </thead>
                            <tbody id="selected-staff-add">
                            </tbody>
                        </table>
                    </div>
                </div>

                <button type="submit" class="btn btn-primary">Add node</button>
            </div>
        </div>    
    </div>
</form>
<script>
// Get the modal
    var modal = document.getElementById('id01');

// When the user clicks anywhere outside of the modal, close it
    window.onclick = function (event) {
        if (event.target == modal) {
            modal.style.display = "none";
        }
    }
</script>