 <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
  <div class="panel panel-default" style="margin-top: 2%">
  <div class="panel-heading">
      Function and mission
  </div>
  <div class="panel-body">
      <div id="content-available">
          <?php echo $this->content?>
      </div>
      <div>
        <button type="button" style="" class="btn btn-info" data-toggle="collapse" data-target="#add-content">Edit content</button>
        <form id="add-content" class="collapse" action="<?php echo HOST ?>tree/edit-content" method="post">
            <input type="hidden" name="flag" value="<?php echo $this->flag_id ?>">
            <label for="content">Content</label>
            <textarea name="content-tree" id="ontent-tree" required="required"><?php echo $this->content?></textarea>
            <button type="submit" class="btn btn-primary" style="margin-top: 2%">Save</button>
        </form>
      </div>
  </div>
</div>
<script type="text/javascript" src="<?php echo HOST?>ckeditor/ckeditor.js"></script>
<script src="<?php echo HOST ?>js/jsrender.min.js"></script>
<script>
config = {};
config.toolbar = [
	{ name: 'clipboard', groups: [ 'clipboard', 'undo' ], items: [ 'Cut', 'Copy', 'Paste', 'PasteText', 'PasteFromWord', '-', 'Undo', 'Redo' ] },
	{ name: 'basicstyles', groups: [ 'basicstyles', 'cleanup' ], items: [ 'Bold', 'Italic', 'Underline', 'Strike', 'Subscript', 'Superscript', '-', 'RemoveFormat' ] },
	{ name: 'about', items: [ 'Source' ] },
	'/',

	{ name: 'paragraph', groups: [ 'list', 'indent', 'blocks', 'align', 'bidi' ], items: [ 'NumberedList', 'BulletedList', '-', 'Outdent', 'Indent', '-', 'Blockquote', 'CreateDiv', '-', 'JustifyLeft', 'JustifyCenter', 'JustifyRight', 'JustifyBlock', '-', 'BidiLtr', 'BidiRtl', 'Language' ] },
	{ name: 'links', items: [ 'Link', 'Unlink', 'Anchor' ] },
	{ name: 'insert', items: [ 'Image', 'Flash', 'Table', 'HorizontalRule', 'Smiley', 'SpecialChar', 'PageBreak', 'Iframe' ] },
	'/',
	{ name: 'styles', items: [ 'Styles', 'Format', 'Font', 'FontSize' ] },
	{ name: 'colors', items: [ 'TextColor', 'BGColor' ] },
	{ name: 'tools', items: [ 'Maximize', 'ShowBlocks' ] },
	{ name: 'others', items: [ '-' ] }
];

config.enterMode = CKEDITOR.ENTER_BR;
config.shiftEnterMode = CKEDITOR.ENTER_P;

    CKEDITOR.replace( 'ontent-tree' , config);
</script>