<form id="id02" class="modal2" action="#" method="post">
    <input type="hidden" name="id_root" value="<?php echo $this->id?>">
    <div class="form-add-node">
    <div class="imgcontainer">
      <span onclick="document.getElementById('id02').style.display='none'" class="close" title="Close Modal">&times;</span>
    </div>
    <div class="panel panel-default">
        <div class="panel-heading">Delete Node</div>
        <div class="panel-body">
            <div class="form-group">
                <label for="select-node-delete">Choose node delete</label>
                <select class="form-control node-tree" name="select-node-delete" id="node-delete" required="required">   
                    <option value="">-----</option>
                </select>
            </div>
            <button type="submit" class="btn btn-primary">Delete node</button>
        </div>
      </div>    
    </div>
</form>
<script>
// Get the modal
var modal = document.getElementById('id02');

// When the user clicks anywhere outside of the modal, close it
window.onclick = function(event) {
    if (event.target == modal) {
        modal.style.display = "none";
    }
}
</script>