<form id="id03" class="modal" action="<?php echo HOST ?>tree/edit-node" method="post">
    <input type="hidden" name="flag" value="<?php echo $this->flag_id ?>">
    <div class="form-add-node">
        <div class="imgcontainer">
            <span onclick="document.getElementById('id03').style.display = 'none'" class="close" title="Close Modal">&times;</span>
        </div>
        <div class="panel panel-default">
            <div class="panel-heading">Edit Node</div>
            <div class="panel-body">
                <div class="form-group">
                    <label for="node-edit">Node edit</label>
                    <select class="form-control node-tree" id="node-edit" name="node-edit" required="required">
                        <option value="">-----</option>
                    </select>
                </div>
                <div class="form-group">
                    <label for="type-node-edit">Type Node<span class="text-danger"> (disabled)</span></label>
                    <select class="form-control" id="type-node-edit" name="type-node-edit" disabled>
                        <option value="">-----</option>
                    </select>
                </div>
                <div class="form-group">
                    <label for="parent-node-edit">Node parent<span class="text-danger"> (disabled)</span></label>
                    <select class="form-control node-tree" name="parent-node-edit" id="parent-node-edit" disabled="disabled">
                        <option value="">-----</option>
                        <option value="0">Root</option>
                    </select>
                </div>
                <div class="form-group hide_dis1">
                    <label for="input-title-edit">Title<span class="text-danger"> (disabled)</span></label>
                    <input class="hidden" name = "input-title-edit-temp" id="input-title-edit-temp">
                    <select class="form-control input-title-node" id="input-title-edit" name="label_node_edit" disabled="disabled">
                        <option value="">------</option>
                    </select>
                </div>
                <div class="form-group hide_dis2">
                    <label for="input-group-edit">Label group</label>
                    <input type="text" class="form-control" id="input-group-edit" name="input-group-edit" placeholder="Enter label group">
                </div>
                <div class="form-group hide_dis1">
                    <label for="input-search-edit">Search staff</label>
                    <div class="form-inline">
                        <input type="text" class="form-control" id="input-search-edit" placeholder="Code | Name | Email">
                        <button type="button" class="btn btn-primary mb-2" id="search-staff-edit">Search staff</button>
                    </div>
                    <br>
                    <div class="form-group">
                        <div class="form-inline">
                            <select class="form-control" id="temp-list-staff-edit">
                            </select>
                            <button type="button" class="btn btn-primary mb-2" id="bt-add-staff-edit">Add staff</button>
                        </div>
                    </div>
                    <br>
                    <div class="list-staff-edit">
                        <label>List staff added</label>
                        <table class="table table-striped">
                            <thead>
                                <tr>
                                    <th scope="col">Code</th>
                                    <th scope="col">Name</th>
                                    <th scope="col">Action</th>
                                </tr>
                            </thead>
                            <tbody id="selected-staff-edit">
                            </tbody>
                        </table>
                    </div>
                </div>

                <button type="submit" class="btn btn-primary">Add node</button>
            </div>
        </div>    
    </div>
</form>
<script>
// Get the modal
    var modal = document.getElementById('id03');

// When the user clicks anywhere outside of the modal, close it
    window.onclick = function (event) {
        if (event.target == modal) {
            modal.style.display = "none";
        }
    }
</script>