<style>
    #staff_id{
        margin-left: 200px;
        margin-top: -8px;
    }

    input[type='text']{
        width: 350px;
    }

    select{
        width: 360px !important;
    }

    textarea{
        width: 330px !important;
    }

    .date{
        border-radius: 3px;
        width: 330px !important;
    }

</style>
<div class="page-header">
    <h1>
        <?php
            if(isset($this->id) AND $this->id):
                echo 'CẬP NHẬT HỢP ĐỒNG';
            else:
                echo 'TẠO MỚI HỢP ĐỒNG';
            endif;
        ?>
    </h1>
</div>

<!-- Flash message -->
<?php
if (isset($this->messages_success) and $this->messages_success)
    foreach ($this->messages_success as $message):
        echo '<div class="alert alert-success">'.$message.'</div>';
    endforeach;

if (isset($this->messages_error) and $this->messages_error)
    foreach ($this->messages_error as $message):
        echo '<div class="alert alert-error">'.$message.'</div>';
    endforeach;
?>

<form action="/contract/save-contract" method="post" target="my_iframe">
    <div class="row">
        <div class="span6">
            <div class="control-group">
                <label for="" class="span2">Staff</label>
                <input type="text" value="" name="search_staff" id="search_staff" autocomplete="off" placeholder='Select a staff'/>
                <select name="staff_id" id="staff_id" class="staff_id" required="required" size="5">
                    <option value="">SELECT A STAFF</option>
                    <?php
                    if(isset($this->staffs) AND $this->staffs):
                        foreach($this->staffs as $item):
                            ?>
                            <option value="<?php echo $item['id']?>" <?php echo (isset($this->contract['staff_id']) AND $this->contract['staff_id'] == $item['id']) ? 'selected': ''?>><?php echo $item['staff_name']?></option>
                        <?php
                        endforeach;
                    endif;
                    ?>
                </select>
            </div>

            <div class="wrap_basic">
                <div class="control-group">
                    <label  class="span2">Công ty</label>
                    <select name="company_id" id="company_id" class="span10" required="required">
                        <option value>---</option>
                        <?php
                        if(isset($this->companies) and count($this->companies)){
                            foreach($this->companies as $k => $v){
                                ?>
                                <option value="<?php echo $k;?>" <?php if(isset($this->contract['company_id']) and $this->contract['company_id'] == $k) echo 'selected'; ?>>
                                    <?php echo $v;?></option>
                            <?php
                            }
                        }
                        ?>
                    </select>
                </div>

                <div class="control-group">
                    <label  class="span2">Khu vực</label>
                    <select name="area_id" id="area_id" class="span10" required="required">
                        <option value>---</option>
                        <?php
                        if(isset($this->area_list) and count($this->area_list)){
                            foreach($this->area_list as $k => $v){
                                ?>
                                <option value="<?php echo $k;?>" <?php if(isset($this->arr_regional_area['area']) and $this->arr_regional_area['area'] == $k) echo 'selected'; ?>><?php echo $v;?></option>
                            <?php
                            }
                        }
                        ?>
                    </select>
                </div>

                <div class="control-group">
                    <label  class="span2">Tỉnh</label>
                    <select name="regional_market" id="regional_market" class="span10" required="required">
                        <option value>---</option>
                        <?php
                        if(isset($this->regional_market_list) and count($this->regional_market_list)){
                            foreach($this->regional_market_list as $k => $v){
                                ?>
                                <option value="<?php echo $k;?>" <?php if(isset($this->arr_regional_area['regional_market']) and $this->arr_regional_area['regional_market'] == $k) echo 'selected'; ?>><?php echo $v;?></option>
                            <?php
                            }
                        }
                        ?>
                    </select>
                </div>

                <div class="control-group">
                    <label  class="span2">Phòng ban</label>
                    <select name="department" id="department" class="span10" required="required">
                        <option value>---</option>
                        <?php
                        if(isset($this->department_list) and count($this->department_list)){
                            foreach($this->department_list as $k => $v){
                                ?>
                                <option value="<?php echo $k;?>" <?php if(isset($this->arr_title['department']) AND $this->arr_title['department'] == $k) echo 'selected';?>>
                                    <?php echo $v;?></option>
                            <?php
                            }
                        }
                        ?>
                    </select>
                </div>

                <div class="control-group">
                    <label  class="span2">Team</label>
                    <select name="team" id="team" class="span10" required="required">
                        <option value>---</option>
                        <?php
                        if(isset($this->team_list) and count($this->team_list)){
                            foreach($this->team_list as $k => $v){
                                ?>
                                <option value="<?php echo $k;?>" <?php if(isset($this->arr_title['team']) AND $this->arr_title['team'] == $k) echo 'selected';?>>
                                    <?php echo $v;?></option>
                            <?php
                            }
                        }
                        ?>
                    </select>
                </div>

                <div class="control-group">
                    <label  class="span2">Chức vụ</label>
                    <select name="title" id="title" class="span10" required="required">
                        <option value>---</option>
                        <?php
                        if(isset($this->title_list) and count($this->title_list)){
                            foreach($this->title_list as $k => $v){
                                ?>
                                <option value="<?php echo $k;?>" <?php if(isset($this->arr_title['title']) AND $this->arr_title['title'] == $k) echo 'selected';?>>
                                    <?php echo $v;?></option>
                            <?php
                            }
                        }
                        ?>
                    </select>
                </div>
            </div><!-- End wrap -->
        </div>

        <div class="span6">
            <div class="wrap_contract">
                <div class="control-group">
                    <label  class="span2">Hợp đồng</label>
                    <select name="new_contract" id="" class="span10" required="required">
                        <option value>---</option>
                        <?php
                        if(isset($this->contract_list) and count($this->contract_list)){
                            foreach($this->contract_list as $k => $v){
                                ?>
                                <option value="<?php echo $k;?>"><?php echo $v;?></option>
                            <?php
                            }
                        }
                        ?>
                    </select>
                </div>

                <div class="control-group">
                    <label  class="span2">Loại</label>
                    <select name="print_type" id="print_type" class="span10" required="required">
                        <option value>---</option>
                        <?php
                        if(isset($this->print_type_list) and count($this->print_type_list)){
                            foreach($this->print_type_list as $k => $v){
                                ?>
                                <option value="<?php echo $k;?>"><?php echo $v;?></option>
                            <?php
                            }
                        }
                        ?>
                    </select>
                </div>

                <div class="control-group wrap_phuluc">
                    <label  class="span2">Phụ lục của HĐ:</label>
                    <select name="parent_id" id="parent_id" class="span10" required="required">
                        <option value>---</option>
                        <?php
                        if(isset($this->parent_list) and count($this->parent_list)){
                            foreach($this->parent_list as $k => $v){
                                ?>
                                <option value="<?php echo $k;?>"><?php echo $v;?></option>
                            <?php
                            }
                        }
                        ?>
                    </select>
                </div>


                <div class="control-group">
                    <label  class="span2">Trạng thái xác nhận</label>
                    <select name="status" id="" class="span10">
                        <option value>---</option>
                        <?php
                        if(isset($this->status_list) and count($this->status_list)){
                            foreach($this->status_list as $k => $v){
                                ?>
                                <option value="<?php echo $k;?>"><?php echo $v;?></option>
                            <?php
                            }
                        }
                        ?>
                    </select>
                </div>

                <div class="control-group">
                    <label  class="span2">Ngày bắt đầu</label>
                    <input type="text" class="date" name="from_date" required="required"/>
                </div>

                <div class="control-group">
                    <label  class="span2">Ngày kết thúc</label>
                    <input type="text" class="date" name="to_date"/>
                </div>

                <div class="control-group">
                    <label  class="span2">Lương cơ bản</label>
                    <input type="number" name="salary" required="required"/>
                </div>

                <div class="control-group">
                    <label  class="span2">Tổng lương</label>
                    <input type="number" name="total_salary"/>
                </div>

                <div class="control-group">
                    <label  class="span2">Lương cơ bản thử việc</label>
                    <input type="number" name="base_probation_salary"/>
                </div>

                <div class="control-group">
                    <label  class="span2">Tổng lương thử việc</label>
                    <input type="number" name="probation_salary"/>
                </div>

                <div class="wrap_sale">

                    <div class="control-group">
                        <label  class="span2">Phụ cấp Cơm trưa</label>
                        <input type="number" name="allowance_1"/>
                    </div>


                    <div class="control-group">
                        <label  class="span2">Phụ cấp xăng</label>
                        <input type="number" name="allowance_2"/>
                    </div>


                    <div class="control-group">
                        <label  class="span2">Phụ cấp điện thoại</label>
                        <input type="number" name="allowance_3"/>
                    </div>

                </div><!-- End wrap sale-->

                <div class="control-group">
                    <label  class="span2">Phụ cấp công việc</label>
                    <input type="number" name="work_cost"/>
                </div>

                <div class="wrap_pg">
                    <div class="control-group">
                        <label  class="span2">Kpi chính thức</label>
                        <input type="text" name="kpi_text" id="kpi_text"/>
                    </div>

                    <div class="control-group">
                        <label  class="span2">Kpi thử việc</label>
                        <input type="text" name="kpi_text_probation" id="kpi_text_probation"/>
                    </div>
                </div><!-- End wrap pg -->

                <div class="control-group">
                    <label  class="span2">Ghi chú</label>
                    <textarea name="note" id="" cols="40" rows="5"></textarea>
                </div>
            </div><!-- End wrap contract -->
        </div>
    </div>

    <div class="row">
        <div class="span12">
            <button type="submit" id="save" class="btn btn-primary pull-right">Save</button>
        </div>
    </div>

</form>

<div class="row">
    <div class="span12">
        <iframe src="/contract/save-contract" frameborder="0"  name="my_iframe"></iframe>
    </div>
</div>


<script language="javascript" type="text/javascript" src="/js/full-calendar/fullcalendar.min.js"></script>
<script type="text/javascript" src="/js/jquery-ui-1.8.12.custom.min.js"></script>
<script type="text/javascript" src="/js/jquery.ui.timepicker.js"></script>
<script type="text/javascript" src="/js/jqBootstrapValidation.js"></script>
<link rel="stylesheet" type="text/css" href="/css/jquery-ui-1.8.12.custom.css"/>
<link rel="stylesheet" type="text/css" href="/css/bootstrap-datetimepicker.min.css"/>
<link rel="stylesheet" type="text/css" href="/css/jquery.ui.timepicker.css"/>
<script type="text/javascript" src="/js/bootstrap-modal.js"></script>
<script type="text/javascript" src="/js/bootstrap-modalmanager.js"></script>
<link rel="stylesheet" type="text/css" href="/css/bootstrap-modal.css"/>
<script type="text/javascript" src="/js/file-validator.js"></script>
<link rel="stylesheet" type="text/css" href="/css/file-validator.css"/>

<script type="text/javascript">

$(document).ready(function(){
    initSearchOption('staff_id','search_staff');
    $(document).on('change','.staff_id',function(){
        var staff_id = $(this).val();
        $.ajax({
            url: '/contract/get-basic-info',
            type: 'get',
            data:{'staff_id':staff_id},
            success:function(data){
                $('.wrap_basic').html(data);
                reset_contract_info();
            },
            error: function(){
                alert('error');
            }
        })
    });
    $( '.date' ).datepicker({ dateFormat: "dd/mm/yy" });

    // khi nhấn nút submit thì tắt đi
    $(document).on('click',"#save", function(){
        $(this).hide();
    });

    loadTeam();
    loadTitle();
    print_type();

});

function loadTeam(){
    $(document).on('change', '#department,.department', function(){
        var _self = $(this);
        var department_id = $(this).val();
        $.get("/ajax/load-team",
            {department_id: [department_id]}
            ,function(data,status){
                var obj = $.parseJSON( data );
                $('#team,.team').find('option:not(:first)').remove();
                for (var i = 0; i < obj.length; i++) {
                    $('#team,.team').append('<option value="'+obj[i]['id']+'">'+obj[i]['name']+'</option>');
                }
                $('#title,.title').find('option:not(:first)').remove();
            });
    });
}

function loadTitle(){
    $(document).on('change', '#team,.team', function(){
        var _self = $(this);
        var team_id = $(this).val();
        $.get("/ajax/load-title",
            {team_id: [team_id]}
            ,function(data,status){
                var obj = $.parseJSON( data );
                $('#title,.title').find('option:not(:first)').remove();
                for (var i = 0; i < obj.length; i++) {
                    $('#title,.title').append('<option value="'+obj[i]['id']+'">'+obj[i]['name']+'</option>');
                }

            });
    });
}

function print_type(){
    $(document).on('change', "#print_type", function(){
        var staff_id = $('#staff_id').val();
        var print_type = $(this).val();
        if(!staff_id){
            alert('Vui lòng chọn Nhân viên');
        }else{
            if(print_type == 2){
                $('.wrap_phuluc').slideDown();
                $.ajax({
                    url: '/contract/get-main-contract',
                    type: 'get',
                    data:{'staff_id':staff_id},
                    success:function(data){
                        if(data.code == 1){
                            $('#parent_id option:not(:first)').remove();
                            var html = '';
                            $.each(data.data,function(i,v){
                                console.log(v.id);
                                html += '<option value="'+ v.id+'">'+ v.parent_name+'</option>';
                            });
                            $("#parent_id").append(html);
                            $('#parent_id').attr('required','required');
                        }
                    },
                    error:function(){
                        alert('Lỗi: lấy HĐ chính thức');
                    }
                })
            }else{
                $('.wrap_phuluc').slideUp();
                $('#parent_id option:not(:first)').remove();
                $('#parent_id').removeAttr('required');
            }
        }
    });
}

function reset_contract_info(){
    $('.wrap_contract select, .wrap_contract input').val('');
    $('#parent_id option:not(:first)').remove();
    $('#parent_id').attr('required','required');
}




</script>