
<style>

    #frmModal .row{
        padding-left: 15px;
    }

    #frmModal .row .form-group{
        margin-bottom: 15px;
    }
    .modal{
        width: 700px !important;
    }
</style>


<!-- Modal -->
<div id="frmModal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
        <h3 id="myModalLabel">Note</h3>
    </div>
    <div class="modal-body">
         <form id="form" action="<?php echo HOST ?>contract/save-proposal" method="POST" class="form-horizontal" role="form">
            <div class="container">
            <div class="row">
                <div class="span8">
                    <h3>Nhân viên: <?php echo $this->asm_contract['staff_name'].' - '.$this->asm_contract['staff_code'] ?></h3>
                </div>
            </div>
                <div class='row'>
                    <div class="span4">
                        <div class="form-group">
                            <label>Đề xuất của khu vực</label>
                            <div>
                                <select name="proposal_id" id="proposal_id" class="form-control status" required='required'>
                                    <?php 
                                        foreach($this->proposals as $key => $value):
                                    ?>
                                            <option value="<?php echo $key;?>" <?php if( isset($this->asm_contract) AND $this->asm_contract['asm_proposal'] == $key) echo 'selected=selected';?>><?php echo $value;?></option>
                                    <?php 
                                        endforeach;
                                        if($this->userStorage->id == 21) // Nếu người đang xem là chị Thi thì thêm 1 option
                                        {
                                        ?>
                                        <option value="14" <?php echo (isset($this->asm_contract) && $this->asm_contract['asm_proposal'] == 14)?" selected ":""; ?> >Hợp đồng 6 tháng</option>
                                        <?php
                                        }
                                    ?>
                                </select>
                            </div>
                        </div>

                        <div class="form-group">
                            <label for="unit_code_id" class=" ">Mã tỉnh</label>
                            <div class="">
                                <select name="province_id" id="province_id" class="form-control" >
                                    <option value="">---</option>
                                    <?php 
                                        foreach($this->provinces as $key => $value):
                                    ?>
                                            <option value="<?php echo $key;?>" <?php if( isset($this->asm_contract) AND $this->asm_contract['province_id'] == $key) echo 'selected=selected';?> >
                                                <?php echo $value;?>
                                            </option>
                                    <?php 
                                        endforeach;
                                    ?>
                                </select>
                            </div>
                        </div>

                        <div class="form-group">
                            <label for="unit_code_id" class=" ">Mã bệnh viện</label>
                            <div class="">
                                <select name="hospital_id" id="hospital_id" class="form-control">
                                   <option value="">---</option>
                                    <?php 
                                        if(isset($this->hospitals) AND $this->hospitals):
                                            foreach($this->hospitals as $key => $value):?>
                                        <option value="<?php echo $key;?>" <?php if( isset($this->asm_contract) AND $this->asm_contract['hospital_id'] == $key) echo 'selected=selected';?>><?php echo $value;?></option>
                                    <?php endforeach;
                                        endif;
                                     ?>
                                </select>
                            </div>
                        </div>

                        <div class="form-group">
                            <label for="" class=" ">Ghi chú</label>
                            <div class="">
                                <textarea name="note" id="note" class="form-control" cols="30" rows="4"><?php echo $this->asm_contract['note']?></textarea>
                            </div>
                        </div>
                        <input type="hidden" id='id' value="<?php echo $this->asm_contract['id']?>" name ="id">
                    </div>
                    
                    <div class="span4">
                        <?php 
                            if(in_array($this->userStorage->group_id,array(HR_ID,ADMINISTRATOR_ID))):
                        ?>
                        <!-- 
                        <div class="form-group">
                            <label for="" class=" ">Hợp đồng khu vực trả về</label>
                            <div class="">
                                <input type="text" name="return_letter" class="date" id='return_letter' value="<?php if($this->asm_contract['return_letter']) echo date('d/m/Y',$this->asm_contract['return_letter']);?>">
                            </div>
                        </div>
                        -->
                        <div class="form-group">
                            <label for="" class=" ">Lương mới</label>
                            <div class="new_salary">
                                <input type="number" min="0" name="new_salary"  id='new_salary' value="<?php if($this->asm_contract['new_salary']) echo $this->asm_contract['new_salary'];;?>">
                            </div>
                        </div>

                        <?php endif;?>
                    </div>
                </div>   
            </div>
    </form>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary" id='saveContract'>OK</button>
    </div>
</div>

<script>
    $(document).ready(function(){
        $("#frmModal").modal('show');
        $("#saveContract").click(function(){          
            var link          = '/contract/save-proposal';
            var hospital_id   = $('#hospital_id').val();
            var proposal_id   = $('#proposal_id').val();
            var id            = $('#id').val();
            var note          = $('#note').val();
            var return_letter = 0;
            var new_salary    = 0;

            if( $("#return_letter").lenght > 0 ){
                return_letter = $("#return_letter").val();
            }
            
            if( $("#new_salary").length > 0 ){
                new_salary = $("#new_salary").val();
            }
            
            var node          = $('.r_'+id)[0];
            /*
             console.log(link);
             console.log(hospital_id);
             console.log(proposal_id);
             console.log(id);
             console.log(new_salary);
             console.log(node);
             */
            $.ajax({
                url: link,
                type: 'get',
                data: {'hospital_id':hospital_id,'id':id,'proposal_id':proposal_id,'note':note,'return_letter': return_letter,'new_salary': new_salary},
                success:function(data){
                    if(data.code == 1){
                        console.log($('.r_'+id+' .note'));
                        if(data.messages.note){
                            $('.r_'+id+' .note').html(data.messages.note);
                        }else{
                            $('.r_'+id+' .note').html('');    
                        }

                        if(data.messages.proposal){
                            $('.r_'+id+' .proposal').html(data.messages.proposal);    
                        }else{
                            $('.r_'+id+' .proposal').html('');    
                        }
                        
                        if(data.messages.hospital_name){
                            $('.r_'+id+' .hospital').html(data.messages.hospital_name);    
                        }else{
                            $('.r_'+id+' .hospital').html('');
                        }
                        
                        
                        <?php if($this->userStorage->group_id == 7): ?>
                        if(data.messages.new_salary){
                            $('.r_'+id+' .new_salary').html(data.messages.new_salary);    
                        }else{
                            $('.r_'+id+' .new_salary').html('');    
                        }
                        <?php endif; ?>
                    }
                    else{
                        alert('Failed: ' + data.messages);
                    }
                    $("#frmModal").modal('hide');
                }
                
            });
        });

        $("#proposal_id").change(function(){
            initReadonly();
        })

        $("#province_id").change(function(){
            var id = $(this).val();
            if(id){
                $.ajax({
                    url: '/ajax/get-hospital',
                    data:{'province_id':id},
                    type: 'get',
                    success:function(data){
                        var h = '';
                        $.each(data,function(k,v){
                            h += '<option value="'+k+'">'+v+'</option>';
                        })
                        $("#hospital_id").html(h);
                    }
                })
            }else{
                var h = '<option value="">--</option>';
                $("#hospital_id").html(h);
                $('.status').prop('checked',false);
            }            
        });
        initReadonly();
        initCheckInput();

        $('.date').datepicker({ dateFormat: "dd/mm/yy" });
    })

    function initCheckInput(){

        $(".status").click(function(e){
            //e.preventDefault();
            var isCheck = $(this).prop('checked');
            var proposal = $("#proposal_id").val();
            var province = $("#province_id").val();
            var hospital = $("#hopital_id").val();
            //var return_letter = $("#return_letter").val();
            if(isCheck == true){
                if(proposal == 1 && (province == '' || hospital == '' || province == 0 || hospital == 0)){
                    alert('Vui lòng chọn mã tỉnh và bệnh viện');
                    return false;
                }
            }
        })
    }
    function initReadonly(){
        var pro = $('#proposal_id').val();
        
        if(pro == 1){
            $("#hospital_id,#province_id").css('display','block');
        }else{
            $("#hospital_id,#province_id").css('display','none');

        }
    }
</script>