<meta charset="UTF-8" />
<link href="<?php echo HOST ?>css/bootstrap.min.css" rel="stylesheet">

<style>
    .note{
        width: 40%;
    }

    h1 {
        padding-top: 50px;
        margin-bottom: 40px;
    }

    @media print {
        h1 {page-break-before: always;}
        #page-break {page-break-before: always;}
    }

    p {font-size: 10pt !important;
    font-family: Times new roman !important;}

    body{
        font-family: Times news roman;
    }
</style>
<body>

<?php 

if (isset($this->staff) and $this->staff ):
foreach($this->staff as $k=>$v) : 
    //Mặc định
    $title = $this->teams_cache[$v['title']];
    $title_nv = 'Nhân viên';

    //PGPB
    if(isset($v) AND My_Staff::isPgTitle($v['title'])) {
        if($v['contract_term'] == CONTRACT_TERM_SEASONAL){
            $title      = 'Nhân viên giới thiệu sản phẩm';
            $title_nv   = 'nhân viên thời vụ';
        }elseif($v['contract_term'] == CONTRACT_TERM_SEASONAL_CHALLENGE){
            $title      = 'Nhân viên hỗ trợ bán hàng - sự kiện';
            $title_nv   = 'nhân viên thời vụ';
        }else{
            $title      = 'Nhân viên bán hàng';
            $title_nv   = 'Nhân viên';
        }
		
		if($v['title'] == PGPB_2_TITLE){
            $title      = 'Chuyên viên bán hàng';
        }
    }

    //sale
    if(isset($v) AND in_array($v['title'],array(SALES_TITLE,SALES_ACCESSORIES_TITLE)) ){
        if($v['contract_term'] == CONTRACT_TERM_SEASONAL_CHALLENGE){
            $title      = 'Nhân viên hỗ trợ kinh doanh';
            $title_nv   = 'nhân viên thời vụ';
        }else{
            $title      = 'Nhân viên kinh doanh';
            $title_nv   = 'Nhân viên';
        }
    }

    //sale leader
    if(isset($v) AND in_array($v['title'],array(SALES_LEADER_TITLE,SALES_ACCESSORIES_LEADER_TITLE)) ){
        if($v['contract_term'] == CONTRACT_TERM_SEASONAL_CHALLENGE){
            $title      = 'Nhân viên hỗ trợ kinh doanh';
            $title_nv   = 'nhân viên thời vụ';
        }else{
            $title      = 'Sales leader';
            $title_nv   = 'Nhân viên';
        }
    }

    //Pb sale
    if(isset($v) AND in_array($v['title'],My_Staff_Title::getPbSale())) {
        if($v['contract_term'] == CONTRACT_TERM_SEASONAL_PB_SALE){
            $title      = 'Nhân viên giới thiệu sản phẩm';//vị trí
            $title_nv   = 'Nhân viên thời vụ';
        }elseif($v['contract_term'] == CONTRACT_TERM_SEASONAL_CHALLENGE){
            $title      = 'Nhân viên hỗ trợ bán hàng - sự kiện';//vị trí
            $title_nv   = 'Nhân viên thời vụ';
        }else{
            $title      = 'Nhân viên hỗ trợ phát triển kinh doanh';//vị trí
            $title_nv   = 'Nhân viên';
        }
    }

    if(isset($v) and $v['contract_term'] == CONTRACT_TERM_SEASONAL_CHALLENGE)
    {
        $v['contract_term_name'] = "Thời vụ";
    }

    $code_type = '';
    if(isset($v['contract_term']) AND in_array($v['contract_term'], array(CONTRACT_TERM_SEASONAL,CONTRACT_TERM_SEASONAL_CHALLENGE,CONTRACT_TERM_SEASONAL_PB_SALE)) ){
        $code_type = 'TV';
    }elseif (isset($v['contract_term']) AND $v['contract_term'] == CONTRACT_TERM_LABOUR) {
        $code_type = 'Thử việc';
    }elseif (isset($v['contract_term']) AND $v['contract_term'] == CONTRACT_TERM_12_MONTH) {
        $code_type = '01';
    }elseif (isset($v['contract_term']) AND $v['contract_term'] == CONTRACT_TERM_36_MONTH) {
        $code_type = '02';
    }elseif (isset($v['contract_term']) AND $v['contract_term'] == CONTRACT_TERM_UNLIMITED) {
        $code_type = '03';
    }

    $contract_name = '';
    if(isset($v['contract_term']) AND (My_Staff::isPgTitle($v['title']) OR in_array($v['title'],My_Staff_Title::getPbSale()))
        AND in_array($v['contract_term'], array(CONTRACT_TERM_SEASONAL,CONTRACT_TERM_SEASONAL_CHALLENGE,CONTRACT_TERM_SEASONAL_PB_SALE)) ){
            $contract_name = 'HỢP ĐỒNG LAO ĐỘNG THỜI VỤ';
    }elseif(isset($v['contract_term']) AND $v['contract_term'] == CONTRACT_TERM_SEASONAL_CHALLENGE 
        AND in_array($v['title'],array(SALES_TITLE,SALES_ACCESSORIES_TITLE)) ){
            $contract_name = 'HỢP ĐỒNG LAO ĐỘNG THỜI VỤ';
    }elseif(isset($v['contract_term']) AND $v['contract_term'] == CONTRACT_TERM_LABOUR AND  in_array( $v['title'] , array(SALES_TITLE , SALES_ACCESSORIES_TITLE))){
            $contract_name = 'HỢP ĐỒNG THỬ VIỆC';  
    }else{
            $contract_name = 'HỢP ĐỒNG LAO ĐỘNG';
    }

    if( strtotime($v['contract_signed_at']) <= strtotime('2015-12-31')) {
        include 'partials/print_2013.phtml';    
    }else{

        //chơi lầy 
        $tm_name     = 'CÔNG TY TNHH DI ĐỘNG THÔNG MINH';
        $oppo_number = "319/2014/UQ-OPPO ngày 01/09/2014";
        $oppo_name   = 'Cty TNHH MTV Kỹ Thuật & Khoa Học OPPO';

        if(strtotime($v['contract_signed_at']) >= strtotime('2016-05-16')){
            $tm_name = 'CÔNG TY CỔ PHẦN DI ĐỘNG THÔNG MINH';
        }

        if(strtotime($v['contract_signed_at']) >= strtotime('2016-05-27')){
            $oppo_number = '202/2016/UQ-OPPO ngày 08/04/2016';
            $oppo_name   = 'CÔNG TY TNHH MTV KỸ THUẬT & KHOA HỌC OPPO';
        }

        include 'partials/print_2016.phtml';    
    }
endforeach;
endif; 
?>

</body>
<script src="<?php echo HOST ?>js/jquery-1.7.2.min.js"></script>
<script>
    try {
        $(document).ready(function() {

            parent.window.frames['picking_list'].focus();
            parent.window.frames['picking_list'].print();
        });
    } catch (err) {

    }
</script>
