<h4 class="text-center">CHẾ ĐỘ</h4>
<table class="table table-bordered">
    <thead>
    <th>STT</th>
    <th>Mã đơn vị</th>
    <th>Mã NV</th>
    <th>Tên</th>
    <th>Chức Danh</th>
    <th>Ngày ký HĐ</th>
    <th>Ngày điều chỉnh</th>
    <th>Ngày xóa</th>
    <th>Loại</th>
    <th>Action</th>

    </thead>
    <tbody>
    <?php

    if(isset($this->special) AND $this->special):
        $stt = 1;
        foreach($this->special as $key => $item):
            ?>
            <tr>
                <td><?php echo $stt; ?></td>
                <td><?php echo $item['unit_code_name']; ?></td>
                <td><?php echo $item['staff_code']; ?></td>
                <td><?php echo $item['firstname'].' '.$item['lastname']; ?></td>
                <td><?php echo $item['job_title'];  ?></td>
                <td><?php echo date('d/m/Y',strtotime($item['time_effective']));?></td>
                <td><input tang_time_effective="<?php echo $item['time_alter'];?>" tang_id="<?php echo $item['staff_id'];?>" type="text" placeholder="Chọn ngày" class="input-medium date search-query form-control tang_time_alter" style="width: 95px;"  value="<?php if(!empty($item['time_alter'])) echo date('d/m/Y',strtotime($item['time_alter'])); ?>"></td>
                <td><?php echo date('d/m/Y',strtotime($item['created_at']));?></td>
                <td><?php  echo $item['type'];  ?></td>
                <td><a title="Disable" class="restoreLink" href="/insure/disable?id=<?php echo $item['id']?>"> <i class="icon-ban-circle"></i> Restore</a></td>
            </tr>
            <?php
            $stt++;
        endforeach;
    endif;
    ?>

    </tbody>
</table>

<h4 class="text-center">TRƯỜNG HỢP ĐI LÀM LẠI SAU CHẾ ĐỘ</h4>
<table class="table table-bordered">
    <thead>
    <th>STT</th>
    <th>Mã đơn vị</th>
    <th>Mã NV</th>
    <th>Tên</th>
    <th>Chức Danh</th>
    <th>Ngày ký HĐ</th>
    <th>Ngày điều chỉnh</th>
    <th>Ngày xóa</th>
    <th>Loại</th>

    </thead>
    <tbody>
    <?php

    if(isset($this->after_leave) AND $this->after_leave):
        $stt = 1;
        foreach($this->after_leave as $key => $item):
            ?>
            <tr>
                <td><?php echo $stt; ?></td>
                <td><?php echo $item['unit_code_name']; ?></td>
                <td><?php echo $item['staff_code']; ?></td>
                <td><?php echo $item['firstname'].' '.$item['lastname']; ?></td>
                <td><?php echo $item['job_title'];  ?></td>
                <td><?php echo date('d/m/Y',strtotime($item['time_effective']));?></td>
                <td><input tang_time_effective="<?php echo $item['time_alter'];?>" tang_id="<?php echo $item['staff_id'];?>" type="text" placeholder="Chọn ngày" class="input-medium date search-query form-control tang_time_alter" style="width: 95px;"  value="<?php if(!empty($item['time_alter'])) echo date('d/m/Y',strtotime($item['time_alter'])); ?>"></td>
                <td><?php echo date('d/m/Y',strtotime($item['created_at']));?></td>
                <td><?php  echo $item['type'];  ?></td>

            </tr>
            <?php
            $stt++;
        endforeach;
    endif;
    ?>

    </tbody>
</table>

<h4 class="text-center">ĐIỀU CHỈNH NGÀY NGHỈ VIỆC TRONG QUÁ KHỨ</h4>
<table class="table table-bordered">
    <thead>
    <th>STT</th>
    <th>Mã đơn vị</th>
    <th>Mã NV</th>
    <th>Tên</th>
    <th>Chức Danh</th>
    <th>Ngày ký HĐ</th>
    <th>Ngày điều chỉnh</th>
    <th>Ngày xóa</th>
    <th>Loại</th>

    </thead>
    <tbody>
    <?php

    if(isset($this->change) AND $this->change):
        $stt = 1;
        foreach($this->change as $key => $item):
            ?>
            <tr>
                <td><?php echo $stt; ?></td>
                <td><?php echo $item['unit_code_name']; ?></td>
                <td><?php echo $item['staff_code']; ?></td>
                <td><?php echo $item['firstname'].' '.$item['lastname']; ?></td>
                <td><?php echo $item['job_title'];  ?></td>
                <td><?php echo date('d/m/Y',strtotime($item['time_effective']));?></td>
                <td><input tang_time_effective="<?php echo $item['time_alter'];?>" tang_id="<?php echo $item['staff_id'];?>" type="text" placeholder="Chọn ngày" class="input-medium date search-query form-control tang_time_alter" style="width: 95px;"  value="<?php if(!empty($item['time_alter'])) echo date('d/m/Y',strtotime($item['time_alter'])); ?>"></td>
                <td><?php echo date('d/m/Y',strtotime($item['created_at']));?></td>
                <td><?php  echo $item['type'];  ?></td>

            </tr>
            <?php
            $stt++;
        endforeach;
    endif;
    ?>

    </tbody>
</table>
