<div class="accordion" id="accordion2">
    <div class="accordion-group">
        <div class="accordion-heading">
            <a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion2" href="#collapseTwo">
                Search
            </a>
        </div>
        <div id="collapseTwo" class="accordion-body collapse" style="height: 0px;background: whitesmoke">
            <div class="accordion-inner">
                <form action="" method="GET" class="form-search form-horizontal">
                    <div class="row">
                        <div class="span3">
                            <div class="control-group">
                                <label for="name" class="">Name</label>
                                <input type="text" name="name" id="name" value="<?php echo $this->params['name'] ?>">
                            </div>
                            <div class="control-group">
                                <label for="email" class="">Email</label>
                                <input type="text" name="email" id="email" value="<?php echo $this->params['email'] ?>">
                            </div>


                            <!--
                            <div  class="control-group">
                                <label for="name" class="span2">Only Training</label>
                                <input type="checkbox" name="only_training" id="only_training" value="1" <?php // echo !empty($this->params['only_training'])?'checked':''; ?> >
                            </div> -->


                        </div> <!-- end span4 -->
                        <div class="span4">
                            <div class="control-group">
                                <label class="control-label">Mã nhân viên</label>
                                <div class="controls">
                                    <input type="text" name="code" value="<?php isset($this->params['code']) and printf($this->params['code']);?>" >
                                </div>
                            </div>
                            <div class="control-group">
                                <label class="control-label">Nhóm</label>
                                <div class="controls">
                                    <select class="form-control" name="type">
                                        <?php
                                        $arrType = array(
                                            '' => '---',
                                            1  => 'Tăng',
                                            2  => 'Giảm',
                                            3  => 'Điều Chỉnh',
                                            4  => 'Chế độ'
                                        );
                                        foreach($arrType as $key => $value):
                                            ?>
                                            <option value="<?php echo $key; ?>" <?php if(isset($this->params['type']) AND $this->params['type'] == $key) echo 'selected=selected';?>><?php echo $value;?></option>
                                        <?php
                                        endforeach;
                                        ?>
                                    </select>

                                </div>
                            </div>

                            <div class="control-group" >
                                <label class="control-label">Loại</label>
                                <div class="controls">
                                    <select name="option" class="form-control" id="option">
                                        <option value>---</option>
                                        <?php if(isset($this->options) AND $this->options){
                                            foreach ($this->options as $key => $value) {
                                                ?>
                                                <option value="<?php echo $key;?>" <?php if( isset($this->params['option']) AND $key == $this->params['option']) echo 'selected';?>><?php echo $value;?></option>
                                                <?php
                                            }
                                        }
                                        ?>
                                    </select>
                                </div>

                            </div>


                        </div> <!-- End span4 -->


                    </div> <!-- end row -->
                    <div class="row">
                        <div class="span11">
                            <input type="hidden" value="" name="tang_moi_ids" id="tang_moi_ids" >
                            <input type="hidden" value="" name="dieuchinh_ids" id="dieuchinh_ids" >
                            <input type="hidden" value="" name="giam_han_ids" id="giam_han_ids" >
                            <input type="hidden" value="" name="chedo_ids" id="chedo_ids" >
                            <input type="hidden" value="" name="chedo_after_ids" id="chedo_after_ids" >
                            <input type="hidden" value="" name="total_ids" id="total_ids" >
                            <input type="hidden" value="" name="batthuong_ids" id="batthuong_ids" >
                            <input type="hidden" value="<?php echo $this->active;?>" name="action_insurance" id="action" >
                            <button type="submit" class="btn btn-primary logo-oppo">Search</button>

                        </div>
                    </div>
                </form> <!-- end form -->
            </div> <!-- end accordion-inner -->
        </div> <!-- end collapseTwo -->
    </div>
</div>