<div class="page-header">
    <h1>Notification <small>Edit Category</small></h1>
</div>

<iframe src="" frameborder="0" name="frame" style="display:none;height:0;"></iframe>

<div class="row">
    <div class="span3">
        <div class="control-group">
            <label for="category_name">Name</label>
            <input type="text" name="category_name" id="category_name" class="form-control" value="<?php if (isset($this->category['name'])) echo $this->category['name'] ?>">
        </div>
    </div>
    <div class="span3">
        <div class="control-group">
            <label for="category_parent">Parent</label>
            <select name="category_parent" id="category_parent" class="form-control">
                <option value>---</option>
                <?php if (isset($this->category_string_cache) && $this->category_string_cache): ?>
                    <?php foreach ($this->category_string_cache as $key => $value): ?>
                        <option value="<?php echo $key ?>"
                            <?php if (isset($this->category['parent']) && $this->category['parent'] == $key) echo "selected" ?>><?php 
                                echo $value ?></option>
                    <?php endforeach ?>
                <?php endif ?>
            </select>
        </div>
    </div>
</div>

<div class="row">
    <div class="span12">
        <input type="hidden" name="id" id="id" value="<?php if(isset($this->category['id'])) echo $this->category['id'] ?>">
        <button class="btn btn-primary" type="button" id="save_category_btn">Save</button>
        <button class="btn" type="button" onclick="window.location='<?php echo HOST ?>manage/notification-category'">Cancel</button>
    </div>
</div>

<script src="<?php echo HOST ?>js/jsrender.min.js"></script>

<script id="alert_div" type="text/x-jsrender">
    <div class="alert alert-{{:type}}">
        <button type="button" class="close" data-dismiss="alert">&times;</button>
        {{:message}}
    </div>
</script>


<script type="text/javascript">
    $(document).ready(function () {

        $("#save_category_btn").click(save_category);
    });

    function save_category(e) {
        console.log(e.target);
        name   = $("#category_name").val().trim();
        parent = $("#category_parent").val();
        id     = $("#id").val();

        $(".loading").remove();
        var template = $.templates("#alert_div");

        if (!name) {
            $(".alert").remove();
            
            try {
                var htmlOutput = template.render({
                                        type: "danger", 
                                        message: "Name cannot be blank"
                                    });
                $(".page-header").after(htmlOutput);
            } catch(err) {}

            return false;
        }

        $("#category_name").after('<span class="loading"></span>');

        try {
            $.ajax({
                url: '<?php echo HOST ?>infrom/inform-category-save',
                type: 'post',
                dataType: 'json',
                data: {
                    name: name,
                    parent: parent,
                    id: id,
                },
            })
            .done(function(data) {
                console.log("success");

                if (typeof data.error === "undefined" && data.type && data.message) {
                    var htmlOutput = template.render({
                                            type: data.type, 
                                            message: data.message
                                        });
                    $(".page-header").after(htmlOutput);

                    if (typeof data.new_data !== "undefined" && data.new_data) {
                        window.location = '<?php echo HOST ?>manage/notification-category';
                    }

                } else {
                    
                    var htmlOutput = template.render({
                                            type: "danger", 
                                            message: "Error"
                                        });
                    $(".page-header").after(htmlOutput);
                }
            }) // END done
            .fail(function() {
                console.log("error");
            })
            .always(function() {
                console.log("complete");
                $(".loading").remove();
            });
        } catch (err) {}
        
    }
</script>
