<style>
    .title {
        margin-bottom: 5px;
    }

    .attachments .file {
        margin-bottom: 10px;
    }

    .attachments .media .thumbnail {
        width: 50px;
        height: 50px;
        overflow: hidden;
        display: inline-block;
        padding: 0;
        margin-right: 10px;
        text-align: center;
    }

    .attachments .media img,
    .attachments .media span {
        width: 100%;
    }

    .attachments .media .thumbnail i {
        font-size: 50px;
    }

    .attachments {
        margin-top: 10px;
        border-top: 1px solid #ccc;
        padding-top: 10px;
    }

    .attachments .total {
        font-weight: bold;
    }
    
    #myModal{ width: auto;margin: 0 auto;left: 0;right: 0;top: 10%;max-width: 100%;position: fixed;overflow-y: scroll;    max-height: 80%;} 
    .modal-body{overflow-y: initial;max-height: initial;}
    .modal-body img{margin: 0 auto;display: block;width: 100%;max-width: 100%;}
    .modal-header{border-bottom:none}
    .content_inform{background: #FFF}
    @media (max-width: 481px) {
        .content_inform img {
          max-width: 100%;
          height: auto !important;
          float: left;
        }
    }
    
    
</style>

<div class="page-header">
    <h1>
        <a href="javascript:history.go(-1)"><i class="icon-backward border border-primary"></i> Back</a>
    </h1>
</div>

<div class="row">
    <div class="span12">
        <legend class="title"><strong>Title :</strong><?php echo $this->inform['title'] ?></legend>
        <p class="">
            <span class="post_time pull-right">Created at: <?php if(isset($this->inform['created_at']) && $this->inform['created_at']) echo date('d/m/Y H:i:s', strtotime($this->inform['created_at']));?></span>
			<span class="post_view ">View: <?php if(isset($this->inform['count_view']) && $this->inform['count_view']) echo $this->inform['count_view'];?></span>
            <?php if (isset($this->category_string_cache[ $this->inform['category_id'] ]) && $this->category_string_cache[ $this->inform['category_id'] ]): ?>
            <span class="category badge"><?php echo $this->category_string_cache[ $this->inform['category_id'] ] ?></span>
        <?php endif; ?>
        </p>
    </div>
</div>
<div class="row">
    <div class="span12 content_inform">
        <?php echo $this->inform['content'] ?>
    </div>
</div>


<div class="attachments">
    <?php if (isset($this->files) && $this->files): ?>
        <p class="total">Attached files: <?php echo count($this->files) ?></p>
        <?php foreach ($this->files as $key => $value): ?>
            <div class="file">
                <div class="row-fluid">
                    <div class="span12">
                        <div class="media">
                            <?php $hash = hash("sha256", md5($this->userStorage->id) . $value['name'] . $value['id']); ?>
                            <?php $src = HOST . 'download/inform?id='. $value['id'] . '&filename='. $value['name'].'&hash='. $hash ?>

                            <a href="<?php echo $src ?>" class="pull-left thumbnail" title="<?php echo $value['file_display_name'] ?>">
                                <?php if ( preg_match('/\.(jpg)|(png)|(jpeg)$/', $value['name']) ): ?>
                                    <img class="media-object" src="<?php echo $src ?>" alt="<?php echo $value['file_display_name'] ?>">
                                <?php else: ?>
                                    <span><i class="icon-file"></i></span>
                                <?php endif ?>
                            </a>

                            <div class="media-body">
                                <?php $filename = substr($value['file_display_name'], 0, 128) ?>
                                <h4 class="media-heading"><a href="<?php echo $src ?>" title="<?php echo $value['file_display_name'] ?>"><?php echo $filename . (strlen($filename) > 128 ? "..." : "") ?></a></h4>
                            </div>
                        </div>
                    </div>
                </div>
            
            </div>
        <?php endforeach ?>
    <?php endif ?>
</div>


<div id="myModal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" style="display: none;">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
    </div>
    <div class="modal-body">
      <img class='image_modal' src='' />
    </div>
</div>

<script>
    $(document).ready(function () {
        
        $( ".popup" ).click(function() {
            let image = $(this).attr('href');
            
            //$(this).attr("href", "#myModal");
            $(this).attr("role", "button");
            $(this).attr("data-toggle", "modal");
            
            $('.image_modal').attr("src", image);
            $('#myModal').modal('show'); 
            
        });
           
    });
</script>

