

<div class="content-layout">
    <div class="row">

        <div class="span6">
            <div class="table_main" style="margin-top: 7px;">
                <div class="header_tad">
                    <i class="icon-list-alt"></i> ĐỀ XUẤT THANH TOÁN

                </div>
                
                <div class="content_tad">
                    
                    <form action="" method="POST">
                    
                    <div class="row">
                        
                        <div class="span6">
                            <div class="control-group">											
                                <h2>Đề nghị thanh toán</h2>	
                            </div>
                        </div>
                        
                        <div class="span6">
                            <div class="control-group">											
                                    <label class="control-label" for="firstname">Họ và tên người đề nghị</label>
                                    <div class="controls">
                                        <input type="text" class="span3" id="firstname" value="<?php echo !empty($this->payment['fullname']) ? $this->payment['fullname'] : $this->full_name;?>" readonly>
                                    </div> <!-- /controls -->				
                            </div>
                        </div>

                        <div class="span6">
                            <div class="control-group">											
                                    <label class="control-label" for="firstname">Bộ phận</label>
                                    <div class="controls">
                                        <input type="text" class="span3" id="firstname" value="<?php echo !empty($this->payment['department_name']) ? $this->payment['department_name'] : $this->department['department_name'];?>" readonly>
                                    </div> <!-- /controls -->				
                            </div>
                        </div>
                        
                        <div class="span6">
                            <div class="control-group">											
                                    <label class="control-label" for="firstname">Nội dung thanh toán</label>
                                    <div class="controls">
                                        <textarea name='content' class="span3" required><?php echo !empty($this->payment['content']) ? $this->payment['content'] : NULL;?></textarea>
                                    </div> <!-- /controls -->				
                            </div>
                        </div>
                        
                        <div class="span6">
                            <div class="control-group">											
                                    <label class="control-label" for="firstname">Số tiền</label>
                                    <div class="controls">
                                        <input type="number" name="price" class="span3" id="firstname" value="<?php echo !empty($this->payment['price']) ? $this->payment['price'] : NULL;?>" required>
                                    </div> <!-- /controls -->				
                            </div>
                        </div>
                        
                        <div class="span6">
                            <div class="control-group">											
                                    <label class="control-label" for="firstname">Số hợp đồng</label>
                                    <div class="controls">
                                            <input type="text" name='invoice_number' class="span3" id="firstname" value="<?php echo !empty($this->payment['invoice_number']) ? $this->payment['invoice_number'] : NULL;?>">
                                    </div> <!-- /controls -->				
                            </div>
                        </div>
                        
                        <div class="span6">
                            <div class="control-group">		
                                <input type='hidden' name='staff_id' value="<?php echo $this->staff_id;?>" />
                                <input type='hidden' name='department_id' value="<?php echo $this->department['department'];?>" />
                                <input type='hidden' name='id' value="<?php echo $this->payment['id'];?>" />
                                
                                <?php if(!empty($this->payment)):?>
                                <div class="alert alert-success"><?php echo $this->list_status[$this->payment['status']];?></div>
                                <?php endif;?>
                                
                                <?php if(!empty($this->payment) and $this->payment['status'] == 1):?>
                                <button type="submit" name="update_status" class="btn btn-primary" value="1">Confirm</button>	
                                <?php elseif(!empty($this->payment) and $this->payment['status'] == 2):?>
                                
                                <?php else:?>
                                <button type="submit" class="btn btn-primary">Xác nhận</button>
                                <?php endif;?>
                            </div>
                        </div>

                        
                    </div>
                        
                    </form>
                    
                </div>
            </div>
        </div>
    </div>
</div>

<!-- -T -->
<script type="text/javascript" src="/js/jquery-ui-1.8.12.custom.min.js"></script>
<link rel="stylesheet" type="text/css" href="/css/jquery-ui-1.8.12.custom.css"/>
<link rel="stylesheet" type="text/css" href="<?php echo HOST ?>css/select2.min.css">
<script type="text/javascript" src="<?php echo HOST ?>js/select2.min.js"></script>
