<?php if (isset($this->dashboards) && count($this->dashboards) > 0): ?>
	<style>
		@media (min-width: 1200px){
			.row-fluid > .span12 {
				width: 110%;
			}
		}
	</style>
	<div class="row-fluid">
		<div class="span12">
			<form class="form-inline" id="search_form">
				<input type="text" id="search_email" value="" placeholder="Email" style="height: auto !important;"/>
				<select class="ml-1" name="search_department" id="search_department">
					<option value="0">-- Select Department --</option>
					<?php if (isset($this->department) && $this->department): ?>
						<?php foreach ($this->department as $key => $value): ?>
							<option value="<?php echo $key ?>"><?php echo $value ?></option>
						<?php endforeach ?>
					<?php endif ?>
				</select>
				<select class="ml-1" name="search_region" id="search_region">
					<option value="0">-- Select Province --</option>
					<?php if (isset($this->regionalMarket) && $this->regionalMarket): ?>
						<?php foreach ($this->regionalMarket as $key => $value): ?>
							<option value="<?php echo $key ?>"><?php echo $value['name'] ?></option>
						<?php endforeach ?>
					<?php endif ?>
				</select>
				<select class="ml-1" name="search_area" id="search_area">
					<option value="0">-- Select Area --</option>
					<?php if (isset($this->area) && $this->area): ?>
						<?php foreach ($this->area as $key => $value): ?>
							<option value="<?php echo $key ?>"><?php echo $value ?></option>
						<?php endforeach ?>
					<?php endif ?>
				</select>
				<button class="btn btn-info mt-1 ml-1 mb-1" id="btn_search" type="button">Search</button>
				<button class="btn btn-warning mt-1 ml-1 mb-1" id="btn_reset" type="button">Reset</button>
			</form>
			
		</div>
	</div>
<?php endif ?>