<div class="page-header">
    <form action="/manage/region-create" method="get">
        <h1>List Region</h1>
        <span class="pull-right"><button class="btn-success" type="submit"><i class="icon-plus"></i></button></span>
    </form>
</div>
<?php
if(isset($this->messages) and $this->messages)

    foreach ($this->messages as $message):
        echo '<div class="alert alert-success">'.$message.'</div>';
    endforeach;

?>
<div class="table-responsive">
    <table class="table table-bordered">
        <thead>
        <tr>
            <th>#</th>
            <th>Name</th>
            <th>Action</th>
        </tr>
        </thead>
        <tbody>
        <?php
        if(isset($this->regions) and $this->regions)
            foreach ($this->regions as $k=> $region ): ?>
                <tr>
                    <td>
                        <!--                        stt-->
                        <?php
                        $stt=$this->offset+$k+1;
                        echo $stt;
                        ?>
                    </td>
                    <!--                    religion name-->
                    <td><?php echo $region['name'];?></td>

                    <td class="">
                        <!--                        action:edit , delete-->
                        <a title="Edit" href="/manage/region-create?id=<?php echo $region['id'];?>"> <i class="icon-edit"></i></a>
                        <a title="Delete" class="confirmLink" href="/manage/region-del?id=<?php echo $region['id'];?>"> <i class="icon-trash"></i></a>
                    </td>
                </tr>
            <?php endforeach;?>

        </tbody>
    </table>
</div>
<div class="paging">
    <?php echo $this->paging($this->total, $this->limit, $this->offset, $this->url);?>
</div>
<script type="text/javascript" src="/js/jquery-ui-1.8.12.custom.min.js"></script>
<link rel="stylesheet" type="text/css" href="/css/jquery-ui-1.8.12.custom.css"/>
<?php echo $this->confirm();?>