</div>
<div class="col-12 col-md-10 col-6-1920">
    <div class="widget-header " data-toggle="collapse" data-target="#inform2" style="text-align: center;"> 
        <h4>Cập nhật hình chụp/ file scan hợp đồng lao động</h4>
    </div>
    <div class="widget-content in collapse" id="inform2">
        <table class="table table-bordered">
            <thead>
                <th>STT</th>
                <th>Loại hợp đồng hiện tại </th>
                <th>Ngày bắt đầu</th>
                <th>Ngày hết hạn</th>
                <th>Up load hình</th>
            </thead>
            <tbody>
                <?php
                    if(isset($this->history) AND $this->history):
                    $stt = 1;
                    foreach($this->history as $key => $value):
                    $where = array();
                    $QStaffContractFile = new Application_Model_StaffContractFile();
                        $where[] = $QStaffContractFile->getAdapter()->quoteInto('staff_contract_id = ?', $value['id']);
                        $staff_contract_file = $QStaffContractFile->fetchRow($where);
                    
                ?>  
                <tr class='r_<?php echo $value['current_id']; ?>  edit_row <?php if ($value['different'] == 1) echo "different"; ?>' data-id="<?php echo $value['current_id']; ?>">
                            <td style="width: 40px;"><?php echo ++$intStt; ?></td>
                            <td style="width: 250px;">
                                <?php
                                
                                if ($value['print_type'] == 1):
                                    echo 'Hợp đồng - '.$this->contractTerms[$value['contract_term']];
                                elseif ($value['print_type'] == 2):
                                    echo 'Phụ lục';
                                else:
                                    echo ''. $this->contractTerms[$value['contract_term']];
                                endif;
                                ?>
                            </td>
                            <td style="width: 80px;"><?php if ($value['from_date']) echo date('d/m/Y', strtotime($value['from_date'])) ?></td>

                            <td style="width: 80px;">
                                <?php
                                if ($value['to_date'])
                                    echo date('d/m/Y', strtotime($value['to_date']));
                                ?>
                            </td>
                        
                        
                            <td >
                                <?php if(!empty($staff_contract_file['url'])){?>
                                    <a target="_blank" title="View" href="<?=$staff_contract_file['url']?>">
                                <img class="img_toggle" v-width="crop" src="<?=$staff_contract_file['url']?>" style="width: 20px;height: 20px;">
                                    </a>
                                <a href="<?php echo HOST . 'insure/create-staff-contract-file?staff_contract_id=' . $value['id'];?>">Edit File</a>
                                <?php }
                                else {?>
                                    <a href="<?php echo HOST . 'insure/create-staff-contract-file?staff_contract_id=' . $value['id'];?>">Upload File</a>
                                <?php }?>
                            </td>
                            

                        </tr>
                    <?php 
                        $stt++;
                        
                        endforeach;
                        endif;
                    ?>
            </tbody>
        </table>
    </div>
    <div class="link-to-insurance" style="margin-top: 25px; margin-bottom: 25px">
        <a href="<?php echo HOST.'insure/my-insurance' ?>" class="btn btn-success">Chi Tiết Bảo Hiểm Xã Hội</a>
    </div>
</div>