<style type="text/css">
    #pg {
        display: block;
    }
</style>

<div class="page-header">
    <h1>Add PG <small>in multiple store</small></h1>
</div>

<iframe src="" name="iframe" style="border: none; height: 65px; width: 100%;" ></iframe>

<form class="form-horizontal" method="post" action="<?php echo HOST ?>manage/pg-multiple-store-save" target="iframe">
    <div class="control-group">
        <label class="control-label" for="">PG</label>
        <div class="controls">
            <input type="text" id="nameSearch">
            <select id="pg" name="pg" required size="5">
                <option value=>---</option>
                <?php if (isset($this->list) && $this->list): ?>
                    <?php foreach ($this->list as $key => $value): ?>
                        <option value="<?php echo $key ?>"><?php echo $value['name'] ?> - <?php echo str_replace(EMAIL_SUFFIX, '', $value['email']) ?></option>
                    <?php endforeach ?>
                <?php endif ?>
            </select>
        </div>
    </div>
    <div class="control-group">
        <label class="control-label" for="">Number of Stores</label>
        <div class="controls">
            <input type="number" name="number_of_store" required />
        </div>
    </div>
    <div class="control-group">
        <div class="controls">
            <a href="<?php echo HOST ?>manage/pg-multiple-store" class="btn btn-default">Cancel</a>
            <button class="btn btn-primary">Add</button>
        </div>
    </div>
</form>

<script type="text/javascript" src="<?php echo HOST ?>js/jets.js"></script>
<script type="text/javascript">
$(document).ready(function() {
var jets = new Jets({
  searchTag: '#nameSearch',
  contentTag: '#pg'
});
});
</script>