<div class="page-header">
    <form action="/" method="get">
        <h1>List Job</h1>
        <div class="row">
            <div class="span12">
                <p class="pull-right">

                    <a href="<?php echo HOST ?>job/details-cat" class="btn btn-success"><i class="icon-plus"></i> Create</a>
                </p>
            </div>
        </div>
    </form>
</div>

<div class="table-responsive">
    <table class="table table-bordered">
        <thead>
        <tr>
            <?php echo $this->sorting(array(
                    '#',
                    'name'      => 'Name',
                    'Action'
                ),
                $this->url, $this->sort, $this->desc); ?>
        </tr>
        </thead>
        <tbody>
        <?php
        if (isset($this->cat) and $this->cat)
            foreach ($this->cat as $k=>$value): ?>
                <tr>
                    <td>
                        <?php
                        $inc = $this->offset + $k + 1;
                        echo $inc;
                        ?>
                        
                    </td>
                    <td>
                        <?php 
                        echo $value['name'];
                        ?>
                    </td>
                    <td>
                        <div class="btn-group">
                            <a class="btn dropdown-toggle" data-toggle="dropdown" href="#">
                                Action
                                <span class=""></span>
                            </a>
                            <ul class="dropdown-menu">
                                <li><a title="Hide" href="<?php echo HOST?>/job/details-cat?id=<?php echo $value['id']?>"> <i class="icon-file"></i> Edit</a></li>
                                <li><a title="Delete" href="<?php echo HOST?>/job/del-cat?id=<?php echo $value['id']?>"> <i class="icon-ban-circle"></i> Delete</a></li>
                            </ul>
                        </div>
                    </td>
                </tr>
            <?php endforeach;?>
    
        </tbody>
    </table>
</div>
