

<div class="page-header">
    <?php if (isset($this->cat) and $this->cat):?>
        <h1>Edit Category</h1>
    <?php else:?>
        <h1>Create Category</h1>
    <?php endif;?>
</div>


<div class="row-fluid">
    <div class="span12">
        <iframe src="" name="frame" frameborder="0" style="display:none;height=0;"></iframe>
        <form action="<?php echo HOST.'job/create-cat';?>" method="post">

            <div class="row-fluid">
                <div class="span12">
                    <p class="pull-right">
                        <input type="hidden" name="id" id="id" value="<?php isset($this->job) and $this->job and printf($this->job->id);?>">
                        <button type="submit" id="submit_btn" class="btn btn-primary">Submit</button>
                        <button type="button" class="btn btn-danger" onclick="window.location='<?php echo HOST ?>job/category'">Go back</button>
                    </p>
                </div>
            </div>

            <div class="tab-content">
                <div class="tab-pane active" id="tab_content">
                    <div class="row-fluid">
		

						<div class="span6">
							<div class="control-group">
								<label for="regional_market" class="control-label">Name</label>
								<div class="controls">
									<input type="text" class="form-control span6 date" id="from" required name="name" value='<?php if(isset($this->cat) && $this->cat) :echo $this->cat['name'];endif;?>' >
								    <input type="hidden" class="form-control span6 date" id="from" required name="id_cat" value='<?php if(isset($this->cat) && $this->cat) :echo $this->cat['id'];endif;?>' >
                                </div>
							</div>
						</div>

					</div>
					
					
                </div>
            </div>

        </form>
    </div>
</div>
