<style>
.intro_text *{line-height: 1.71;}
.hannop b{color:Red}
.content_bg{margin: 50px 0px 50px 0px;}
</style>
<link rel="stylesheet" type="text/css" href="<?php echo HOST?>css/style_tuyendung.css">

<div class="content_bg">
    
    <div class="row-fluid">
        <div class="span12">
            <p class="pull-right">
                <button type="button" class="btn btn-danger" onclick="window.location='<?php echo HOST ?>job'">Go back</button>
            </p>
        </div>
    </div>
    
    <section id="title" class="topbuffer">
        <div class="container">
            <div class="">
                <div class="col-sm-12 text-center">
                    <h1><?php if(isset($this->job) and $this->job['title']) echo $this->job['title'] ?></h1>
                    <h4>
                        <?php 
                            $phpdate = strtotime( $this->job['to'] );
                            $mysqldate = date( 'd/m/Y', $phpdate );
                        ?>
                        <span><i class="fa fa-calendar"></i>Toàn Thời gian</span>
                        <span class='hannop'><i class="fa fa-clock-o"></i>Hạn nộp hồ sơ: <b> <?php echo $mysqldate;?></b></span>
                    </h4>
                </div>
            </div>
        </div>
    </section>
    
    <!-- ============ TITLE END ============ -->
    
    <!-- ============ CONTENT START ============ -->
    
    <section id="jobs">
        <div class="container">
            <div class="">
                <div class="span8">
                    <div class="sidebar-widget" id="share">
                        <h2>Tỉnh thành</h2>
                        <div class="content_info">
                            <?php if (isset($this->job_regional) && $this->job_regional): ?>
                                <?php $region = '';?>
        		    			<?php foreach ($this->job_regional as $key=>$value): ?>
        		    				<?php $region .= $value['name']." ,"; ?>
        		    			<?php endforeach ?>
                                <?php echo rtrim($region,',');?>
                                
                                <?php else:?>
                                <?php echo "Tuyển dụng trên cả nước.";?>
                                
        		    		<?php endif ?>
                            
                        </div>
                    </div>
                    
                    <div class="sidebar-widget" id="share">
                        <h2>MÔ TẢ CHI TIẾT CÔNG VIỆC</h2>
                        <div class="content_info intro_text">
                            <?php if(isset($this->job['content']) and $this->job['content']): ?>
                                <?php echo trim($this->job['content']); ?>
                            <?php endif; ?>
                        </div>
                    </div>
                    
                    <div class="sidebar-widget" id="share">
                        <h2>KINH NGHIỆM VÀ KỸ NĂNG CHI TIẾT</h2>
                        <div class="content_info intro_text">
                            <?php if(isset($this->job['desc_skill']) and $this->job['desc_skill']): ?>
                                <?php echo trim($this->job['desc_skill']); ?>
                            <?php endif; ?>
                        </div>
                    </div>
                    
                    <article>
    
                        <p>
                            <a class="btn btn-primary btn-lg">Gửi hồ sơ</a>
                        </p>
                    </article>
                </div>
                <div class="span3" id="sidebar">
                    <div class="sidebar-widget" id="share">
                        <h2>Chia sẻ cho bạn bè</h2>
                        <ul>
                            <li><a href="https://www.facebook.com/sharer/sharer.php?u=<?php echo HOST ?>index/detail?id=<?php echo $this->job['id'] ?>"><i class="fa fa-facebook"></i></a></li>
    
                        </ul>
                    </div>
                    <div class="">
                        <div class="col-xs-12">
                            <h2 class="job-btn">Nộp hồ sơ</h2>
    
                            <p>Mời bạn để lại thông tin ứng tuyển nếu chưa có vị trí phù hợp. <br/>
                                Chúng tôi sẽ liên hệ khi có việc phù hợp với bạn.</p>
                            <hr>
                        </div>
                    </div>
                    <div class="">
                        <div class="col-xs-12">
                          <a class="btn btn-primary">Gửi thông tin ứng tuyển</a>
                        </div>
                    </div>
                </div>
                
            </div>
        </div>
    </section>
    
</div>
