
<div class="page-header" style="margin: 18px 0 -10px 0;border-bottom: none;">
    <h1>HR - Headcount</h1>
</div>

<div class="main hr">
    <div class="container-fluid">    
        
        <div class="row">
            <div class="table_main">
                <div class="header_tad"><i class="icon-list-alt"></i> STAFF EVOLUTION</div>
                <div class="content_tad">
                    
                    <div class="menu_type_char">
                       <span class="menu_btn"><i class="icon-tasks"></i></span>
                       <ul>
                            <li char='staff_evolution'>Staff Evolution</li>
                            <li char='headcount_chart'>Headcount Chart</li>
                            <li char='PGPB_turnover_rate'>Turnover Rate</li>
                       </ul>
                    </div>
                    
                    <div id="staff_evolution" style="width: auto;height: auto; margin: 0 auto;"></div>
                    <div id="headcount_chart" style="width: 100%;height: auto; margin: 0px auto 0px;"></div>
                    <div id="PGPB_turnover_rate" style="width: 100%;height: auto; margin: 0px auto 0px;"></div>

                    <div class="staff_evolution">
                        <label>Year: </label>
                        <select id="select_staff_evolution">
                            <option value="<?php echo date('Y', strtotime(date('Y')." -3 year"));?>"><?php echo date('Y', strtotime(date('Y')." -3 year"));?></option>
                            <option value="<?php echo date('Y', strtotime(date('Y')." -2 year"));?>"><?php echo date('Y', strtotime(date('Y')." -2 year"));?></option>
                            <option value="<?php echo date('Y', strtotime(date('Y')." -1 year"));?>"><?php echo date('Y', strtotime(date('Y')." -1 year"));?></option>
                            <option value="<?php echo date('Y', strtotime(date('Y')." -0 year"));?>" selected="selected"><?php echo date('Y', strtotime(date('Y')." -0 year"));?></option>
                        </select>
                        <button class="check_staff_evolution">Submit</button>
                    </div>

                    <div class="headcount_chart">
                        <label>Year: </label>
                        <select id="select_headcount_chart">
                            <option value="<?php echo date('Y', strtotime(date('Y')." -3 year"));?>"><?php echo date('Y', strtotime(date('Y')." -3 year"));?></option>
                            <option value="<?php echo date('Y', strtotime(date('Y')." -2 year"));?>"><?php echo date('Y', strtotime(date('Y')." -2 year"));?></option>
                            <option value="<?php echo date('Y', strtotime(date('Y')." -1 year"));?>"><?php echo date('Y', strtotime(date('Y')." -1 year"));?></option>
                            <option value="<?php echo date('Y', strtotime(date('Y')." -0 year"));?>" selected="selected"><?php echo date('Y', strtotime(date('Y')." -0 year"));?></option>
                        </select>
                        <label>GROUP: </label>
                        <select id="select_group">
                            <option value="1" selected="selected">Group 1</option>
                            <option value="2">Group 2</option>
                            <option value="3">Group 3</option>
                        </select>
                        <button class="check_headcount_chart">Submit</button>
                    </div>

                    <div class="PGPB_turnover_rate">
                        <label>Year: </label>
                        <select id="select_PGPB_turnover_rate">
                            <option value="<?php echo date('Y', strtotime(date('Y')." -3 year"));?>"><?php echo date('Y', strtotime(date('Y')." -3 year"));?></option>
                            <option value="<?php echo date('Y', strtotime(date('Y')." -2 year"));?>"><?php echo date('Y', strtotime(date('Y')." -2 year"));?></option>
                            <option value="<?php echo date('Y', strtotime(date('Y')." -1 year"));?>"><?php echo date('Y', strtotime(date('Y')." -1 year"));?></option>
                            <option value="<?php echo date('Y', strtotime(date('Y')." -0 year"));?>" selected="selected"><?php echo date('Y', strtotime(date('Y')." -0 year"));?></option>
                        </select>
                        <button class="check_PGPB_turnover_rate">Submit</button>
                    </div>

                </div>
            </div>

        </div><!-- row-->
        
        <div class="row">
            <div class="table_main" style="height:auto">
                <div class="header_tad"><i class="icon-list-alt"></i> Headcount (Up to <span class="up_to"><?php echo date('d/m/Y')?></span>)</div>
                
                <div class="headcount_probation">
                    <?php 
                    $curMonth = date("m", time());
                    $cur_quarter = ceil($curMonth/3);
                    ?>
                    <label>DATE: </label>
                    <input type="text" class="date date_headcount_probation" value="<?php echo date('d/m/Y')?>">
                    <button class="check_headcount_probation">Submit</button>
                </div>

                <div class="content_tad">
                    <div id="headcount_probation">
                    <table id="headcount-table">
                        <tr>
                            <th></th>
                            <?php if(!empty($this->headcount_probation1)):?>
                            <?php foreach($this->headcount_probation1 as $key => $value):?>
                            <th><?php echo $value['name'];?></th>
                            <?php endforeach; ?>
                            <?php endif;?>
                        </tr>

                        <tr>
                            <td>On Probation</td>
                            <?php if(!empty($this->headcount_probation1)):?>
                            <?php foreach($this->headcount_probation1 as $key => $value):?>
                            <td><?php echo $value['Probation'];?></td>
                            <?php endforeach; ?>
                            <?php endif;?>
                        </tr>

                        <tr>
                            <td>Passed Probation</td>
                            <?php if(!empty($this->headcount_probation1)):?>
                            <?php foreach($this->headcount_probation1 as $key => $value):?>
                            <td><?php echo $value['Pass_Probation'];?></td>
                            <?php endforeach; ?>
                            <?php endif;?>
                        </tr>

                        <tr>
                            <td>Total</td>
                            <?php if(!empty($this->headcount_probation1)):?>
                            <?php foreach($this->headcount_probation1 as $key => $value):?>
                            <td><?php echo $value['Total'];?></td>
                            <?php endforeach; ?>
                            <?php endif;?>
                        </tr>

                    </table>

                    <table id="headcount-table">
                        <tr>
                            <th></th>
                            <?php if(!empty($this->headcount_probation2)):?>
                            <?php foreach($this->headcount_probation2 as $key => $value):?>
                            <th><?php echo $value['name'];?></th>
                            <?php endforeach; ?>
                            <?php endif;?>
                        </tr>

                        <tr>
                            <td>On Probation</td>
                            <?php if(!empty($this->headcount_probation2)):?>
                            <?php foreach($this->headcount_probation2 as $key => $value):?>
                            <td><?php echo $value['Probation'];?></td>
                            <?php endforeach; ?>
                            <?php endif;?>
                        </tr>

                        <tr>
                            <td>Passed Probation</td>
                            <?php if(!empty($this->headcount_probation2)):?>
                            <?php foreach($this->headcount_probation2 as $key => $value):?>
                            <td><?php echo $value['Pass_Probation'];?></td>
                            <?php endforeach; ?>
                            <?php endif;?>
                        </tr>

                        <tr>
                            <td>Total</td>
                            <?php if(!empty($this->headcount_probation2)):?>
                            <?php foreach($this->headcount_probation2 as $key => $value):?>
                            <td><?php echo $value['Total'];?></td>
                            <?php endforeach; ?>
                            <?php endif;?>
                        </tr>

                    </table>
                    </div>
                </div>
            </div>

        </div><!-- row-->


        <div class="row">
            <div class="table_main" style="height:auto">
                <div class="header_tad"><i class="icon-list-alt"></i> Staff turnover rate:</div>

                <div class="quarter_turnover">
                    <?php 
                    $curMonth = date("m", time());
                    $cur_quarter = ceil($curMonth/3);
                    ?>
                    <label>QUARTER: </label>
                    <select id="quarter_turnover">
                        <?php for($i = 1;$i<$cur_quarter;$i++):?>
                        <option value="<?php echo $i;?>">Quarter <?php echo $i;?></option>
                        <?php endfor;?>
                        <option selected="selected" value="<?php echo $cur_quarter;?>">Quarter <?php echo $cur_quarter;?></option>
                    </select>
                    <button class="check_quarter_turnover">Submit</button>
                </div>

                <div class="content_tad">
                    <div id = 'turnover_pass_probation1'>
                    <table id="headcount-table">
                        <tr>
                            <th></th>
                            <?php if(isset($this->turnover_pass_probation1) and $this->turnover_pass_probation1):?>
                            <?php foreach($this->turnover_pass_probation1 as $key=>$value):?>
                            <th><?php echo $value['name'];?></th>
                            <?php endforeach;?>
                            <?php endif;?>
                        </tr>

                        <tr>
                            <td>Passed Probation Rate</td>
                            <?php if(isset($this->turnover_pass_probation1) and $this->turnover_pass_probation1):?>
                            <?php foreach($this->turnover_pass_probation1 as $key=>$value):?>
                            <td><?php echo $value['totalPassProbation']*100;?> %</td>
                            <?php endforeach;?>
                            <?php endif;?>
                        </tr>

                        <tr>
                            <td>Total Rate</td>
                            <?php if(isset($this->turnover_pass_probation1) and $this->turnover_pass_probation1):?>
                            <?php foreach($this->turnover_pass_probation1 as $key=>$value):?>
                            <td><?php echo $value['totalRate']*100;?> %</td>
                            <?php endforeach;?>
                            <?php endif;?>
                        </tr>

                    </table>

                    <table id="headcount-table">
                        <tr>
                            <th></th>
                            <?php if(isset($this->turnover_pass_probation2) and $this->turnover_pass_probation2):?>
                            <?php foreach($this->turnover_pass_probation2 as $key=>$value):?>
                            <th><?php echo $value['name'];?></th>
                            <?php endforeach;?>
                            <?php endif;?>
                        </tr>

                        <tr>
                            <td>Passed Probation Rate</td>
                            <?php if(isset($this->turnover_pass_probation2) and $this->turnover_pass_probation2):?>
                            <?php foreach($this->turnover_pass_probation2 as $key=>$value):?>
                            <td><?php echo $value['totalPassProbation']*100;?> %</td>
                            <?php endforeach;?>
                            <?php endif;?>
                        </tr>

                        <tr>
                            <td>Total Rate</td>
                            <?php if(isset($this->turnover_pass_probation2) and $this->turnover_pass_probation2):?>
                            <?php foreach($this->turnover_pass_probation2 as $key=>$value):?>
                            <td><?php echo $value['totalRate']*100;?> %</td>
                            <?php endforeach;?>
                            <?php endif;?>
                        </tr>

                    </table>
                    </div>

                </div>
            </div>

        </div><!-- row-->

    </div>
</div>


<script type="text/javascript" src="<?php echo HOST;?>js/jquery-ui-1.8.12.custom.min.js"></script>
<link rel="stylesheet" type="text/css" href="<?php echo HOST;?>css/jquery-ui-1.8.12.custom.css"/>


<script>
$(function () {

    jQuery.browser = {};
    (function () {
        jQuery.browser.msie = false;
        jQuery.browser.version = 0;
        if (navigator.userAgent.match(/MSIE ([0-9]+)\./)) {
            jQuery.browser.msie = true;
            jQuery.browser.version = RegExp.$1;
        }
    })();
    
    $('#staff_evolution').highcharts({
        chart: {
            type: 'column',
            marginLeft: 47,
            marginRight: 13
        },
        title: {
            text: 'Staff Evolution',
            style:{
                color: '#008B56',
                fontSize: '16px'
            }
        },
        xAxis: {
            categories: [
            <?php foreach ($this->staff_evolution as $key => $value) {
                echo "'".$this->mon_en[$value['month']]."',";
            } ?>
            ]
        },
        yAxis: {
            min: 2400,
            title: {
                text: '',
                "textAlign": 'right',
                "rotation": 0,
                x: 60,
                y: -170
            },
            stackLabels: {
                enabled: true,
                style: {
                    fontWeight: 'bold',
                    color: (Highcharts.theme && Highcharts.theme.textColor) || 'gray'
                }
            }
        },
        legend: {
            align: 'center',
            x: -30,
            verticalAlign: 'bottom',
            y: 20,
            floating: true,
            backgroundColor: (Highcharts.theme && Highcharts.theme.background2) || 'white',
            borderColor: 'none',
            borderWidth: 1,
            shadow: false
        },
        tooltip: {
            headerFormat: '<b>{point.x}</b><br/>',
            pointFormat: '{series.name}: {point.y}<br/>Total: {point.stackTotal}'
        },
        plotOptions: {
            column: {
                stacking: 'normal'
            }
        },
        exporting: {
            buttons: [
                {
                    enabled: false,
                }
            ]
        },
        series: [{
            name: ' ',
            color: '#008B56',
            yAxis: 0,
            data: [
            <?php foreach ($this->staff_evolution as $key => $value) {
                echo $value['total'].",";
            } ?>
            ],
            maxPointWidth: 50,
            stack: 'male'
        }]
    });
    
    $('#headcount_chart').highcharts({
        chart: {
            type: 'column',
            marginLeft: 60,
            marginRight: 13
        },
        title: {
            text: 'Headcount Chart',
            style:{
                color: '#008B56',
                fontSize: '16px'
            }
        },
        xAxis: {
            categories: [<?php foreach ($this->headcount as $key => $value) {
                echo "'".$value['name']."',";
            } ?>]
        },
        yAxis: {
            min: 0,
            title: {
                text: '',
                "textAlign": 'right',
                "rotation": 0,
                x: 40,
                y: -170
            },
            stackLabels: {
                enabled: true,
                style: {
                    fontWeight: 'bold',
                    color: (Highcharts.theme && Highcharts.theme.textColor) || 'gray'
                }
            }
        },
        legend: {
            align: 'center',
            x: -30,
            verticalAlign: 'bottom',
            y: 20,
            floating: true,
            backgroundColor: (Highcharts.theme && Highcharts.theme.background2) || 'white',
            borderColor: 'none',
            borderWidth: 1,
            shadow: false
        },
        tooltip: {
            headerFormat: '<b>{point.x}</b><br/>',
            pointFormat: '{series.name}: {point.y}<br/>Total: {point.stackTotal}'
        },
        plotOptions: {
            column: {
                stacking: 'normal'
            }
        },
        exporting: {
            buttons: [
                {
                    enabled: false,
                }
            ]
        },
        series: [
        <?php for($i = 1; $i <= $this->cur_quarter; $i++):?>
        <?php $quater = 'QuarterNo'.$i;?>
        {
            name: '<?php echo 'Quater '.$i;?>',
            yAxis: 0,
            data: [
            <?php foreach ($this->headcount as $key => $value) {
                echo $value[$quater].",";
            } ?>
                ],
            maxPointWidth: 50,
            stack: '<?php echo $quater;?>'
        },
        <?php endfor;?>
        ]
    });
    

    $('#PGPB_turnover_rate').highcharts({
        chart: {
            type: 'line'
        },
        title: {
            text: 'PGPB turnover rate:'
        },
        xAxis: {
            categories: [
            <?php foreach ($this->turnover_rate as $key => $value) {
                echo "'".$this->mon_en[$value['MonthNo']]."',";
            }?>
            ]
        },
        yAxis: {
            title: {
                text: ' '
            },
            labels: {
                format: '{value}%'
            }
        },
        exporting: {
            buttons: [
                {
                    enabled: false,
                }
            ]
        },
        legend: {
            enabled: false
        },
        plotOptions: {
            line: {
                dataLabels: {
                    enabled: true,
                    format: '{point.y:.1f}%'
                },
                enableMouseTracking: false
            }
        },
        series: [{
            name: ' ',
            data: [
            <?php foreach ($this->turnover_rate as $key => $value) {
                echo $value['TotalRate'].",";
            }?>
            ]
        }]
    });
});

</script>

<script>
    $(function () {
        
        hide_char();
        
        $('.menu_btn').on('click',function(){
            if($('.menu_type_char ul').css('display') == 'none')
            {
                $('.menu_type_char ul').show();
            }
            else{
                $('.menu_type_char ul').hide();
            }
        });
        
        $('.menu_type_char ul li').on('click',function(){
            $(".menu_type_char ul li").each(function(){
                var char_ = $(this).attr('char');
                $('#'+char_).hide();
                $('.'+char_).hide();
                $(this).closest('ul').hide();
            });
            
            var char_this = $(this).attr('char');
            $('#'+char_this).show();
            $('.'+char_this).show();
        });
    });
    
    function hide_char(){
        $(".menu_type_char ul li").each(function(){
            var char_ = $(this).attr('char');
            $('#'+char_).hide();
            $('.'+char_).hide();
            $(this).closest('ul').hide();
        });
        $('#staff_evolution').show();
        $('.staff_evolution').show();
    }

    $(document).ready(function() {

        $( ".check_staff_evolution" ).click(function() {

            var year = $("#select_staff_evolution").val();;

            $.ajax({
                  url: "<?php echo HOST;?>bi/hr-staff-evolution-ajax",
                  type: "POST",
                  dataType: "text",
                  context: this,
                  data: "year="+year,
                  beforeSend: function() {              
                    },
                  success: function(result){
                        var chart = $('#staff_evolution').highcharts();
                        var data = JSON.parse(result);
                        chart.xAxis[0].setCategories(data.month);
                        chart.series[0].setData(data.total);
                        $('#staff_evolution').highcharts().redraw();
                  },
                  error:function(){
                      alert("Có lỗi!!");
                  }
            });
            
        });

        $( ".check_headcount_chart" ).click(function() {

            var year = $("#select_headcount_chart").val();
            var group = $("#select_group").val();

            $.ajax({
                  url: "<?php echo HOST;?>bi/hr-headcount-chart-ajax",
                  type: "POST",
                  dataType: "text",
                  context: this,
                  data: "year="+year+"&group="+group,
                  beforeSend: function() {              
                    },
                  success: function(result){
                        var chart = $('#headcount_chart').highcharts();
                        var data = JSON.parse(result);

                        chart.xAxis[0].setCategories(data.name);
                        chart.series[0].setData(data.QuarterNo1);
                        chart.series[1].setData(data.QuarterNo2);
                        chart.series[2].setData(data.QuarterNo3);
                        chart.series[3].setData(data.QuarterNo4);
                        $('#headcount_chart').highcharts().redraw();
                  },
                  error:function(){
                      alert("Có lỗi!!");
                  }
            });
            
        });

        $( ".check_PGPB_turnover_rate" ).click(function() {

            var year = $("#select_PGPB_turnover_rate").val();

            $.ajax({
                  url: "<?php echo HOST;?>bi/hr-pgpb-turnover-rate",
                  type: "POST",
                  dataType: "text",
                  context: this,
                  data: "year="+year,
                  beforeSend: function() {              
                    },
                  success: function(result){
                        var chart = $('#PGPB_turnover_rate').highcharts();
                        var data = JSON.parse(result);
                        console.log(data.month);
                        chart.xAxis[0].setCategories(data.month);
                        chart.series[0].setData(data.total);
                        $('#PGPB_turnover_rate').highcharts().redraw();
                  },
                  error:function(){
                      alert("Có lỗi!!");
                  }
            });
            
        });
        

        $( ".check_quarter_turnover" ).click(function() {

            var quarter = $("#quarter_turnover").val();

            $.ajax({
                  url: "<?php echo HOST;?>bi/hr-quarter-turnover",
                  type: "POST",
                  dataType: "text",
                  context: this,
                  data: "quarter="+quarter,
                  beforeSend: function() {              
                    },
                  success: function(result){
                        console.log(result);
                        $('#turnover_pass_probation1').html(result);
                  },
                  error:function(){
                      alert("Có lỗi!!");
                  }
            });
            
        });

        $( ".check_headcount_probation" ).click(function() {

            var date = $(".date_headcount_probation").val();

            $.ajax({
                  url: "<?php echo HOST;?>bi/hr-headcount-probation",
                  type: "POST",
                  dataType: "text",
                  context: this,
                  data: "date="+date,
                  beforeSend: function() {              
                    },
                  success: function(result){
                        $('#headcount_probation').html(result);
                        $('.up_to').html(date);
                  },
                  error:function(){
                      alert("Sorry!!");
                  }
            });
            
        });

        $( '.date' ).datepicker({ dateFormat: "dd/mm/yy" });

    });

</script>



