<div class="form-group">
    <label for="default_page">Default page</label>
    <input type="text" class="form-control" id="default_page" name="default_page" value="<?php isset($this->group) and $this->group and printf($this->group->default_page);?>">
</div>