<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.2.0/css/all.css" integrity="sha384-hWVjflwFxL6sNzntih27bfxkr27PmbbK/iSvJ+a4+0owXq79v+lsFkW54bOGbiDQ" crossorigin="anonymous">
<style>
table{
    border-collapse: collapse;
}
    .modal table tr td.span1{
        min-width: 100px!important;
    }
    .table thead tr th{
        text-align: center;
        vertical-align: middle;
    }
    .table thead tr{
        background-color: #e6e6e6;
        text-align: center;
        vertical-align:middle;
        text-transform: uppercase;
        font-size: 10px;
        font-weight: bold;
    }
    .table  td{
        text-align: center;
        vertical-align:middle;
    }
    .btn-action{
        display: inline-block;
        margin-left: 2px;
        }
        #delete{
            cursor: pointer;
        }
        .waiting{
            color: #f49a15;
        }
        .checked{
            color: #7eb216;
        }
        /*#type{
            width: 20%;
        }*/
        #date{
            /*width: 10%;*/
        }
        .ul-action li a{
            float:left;
        }
        .ul-action{
            text-align: left;
            margin-right: 20px ;
        }
        .ul-action li a{
            width: 100%;
        }
        .ul-action li a:hover{
            width: 80%;
        }
        #price{
            width: 70%;
        }
        #approved{
            cursor: pointer;
        }

</style>
<table class="table table-bordered table-responsive" >
    <thead>
        <tr>
            <td rowspan="2">STT</td>
            <td rowspan="2">Công ty</td>
            <td rowspan="2">Kênh</td>
            <td rowspan="2">Hạng mục</td>
            <td rowspan="2" id="type">Loại</td>
            <td colspan="2">Chứng từ</td>
            <td rowspan="2">Nội dung</td>
            <td rowspan="2">Số tạm tính</td>
            <td rowspan="">Tăng/ giảm</td>
            <td rowspan="2">Số thực chi</td>
            <td colspan="3">Thanh toán</td>
            <td rowspan="2">Chưa thanh toán</td>
            <!--  <td rowspan="2">Trạng thái</td> -->
            <td rowspan="2">Action</td>
        </tr>
        <tr>
          <td>Ngày</td>
          <td>Số</td>
            <td>Chi phí</td>
          <td>Ngày</td>
          <td>Thanh toán</td>
          <td>Cấn trừ/ xuất hàng</td>
          
        </tr>
    </thead>
<tbody>
       <?php foreach ($this->list as $key => $value):?>
        <?php $inc = $this->offset + $key + 1;?>
        <tr>
            <td><?php echo $inc;?></td>
            <td><?php echo $value['company']; ?></td>
            <td><?php echo $value['channel'];?></td>
            <td><?php echo $value['category'];?></td>
            <td id="type">
                <?php
                $staff = ''; 
                foreach ($this->data_details[$value['type']] as $k => $v) {
                        
                    if($v['staff_id'] != $staff){
                        $checked = 0;
                        $waiting = explode(',',$value['waiting']);
                        $approved = explode(',',$value['approved']);
                            if(in_array($v['id'],$waiting) && in_array($v['id'],$approved)){
                                $checked=1;
                            }
                            if($checked==1)
                            {
                                echo $v['staff_name'].'<br/>'.' <i class="checked icon-check"> approved</i>'.'</br>';
                            }else{
                               echo $v['staff_name'].'<br/>'.' <i class="icon-refresh waiting"> waiting</i>'.'</br>'; 
                            }   
                       
                    }
                    $staff =$v['staff_id'];
                }
                ?>
            </td>
            <td id="date">
                <?php 
                   
                    echo !empty($value['lastdate_ct'])?date('d/m/Y',strtotime($value['lastdate_ct'])):'';
                ?>
                    
            </td>
            <td><?php echo $value['number_ct'];?></td>
            <td><?php echo $value['content'];?></td>
            <td>
                <?php echo number_format($value['cost_temp']);?>
            </td>
            <td><?php echo number_format($value['number_change']);?></td>
            <td><?php echo number_format($value['cost_real']);?></td>
            <td id="date">
                <?php 
                   
                    echo !empty($value['lastdate_pay'])?date('d/m/Y',strtotime($value['lastdate_pay'])):'';
                ?>
            </td>
            <td><?php echo number_format($value['total_pay']);?></td>
            <td><?php echo number_format($value['cantru_xuathang']);?></td>
            <td>
                <?php 
                    $not_pay = $value['cost_real'] - ($value['total_pay']+$value['cantru_xuathang']); 
                    if($not_pay > 0)
                    {
                        echo number_format($not_pay);
                    }else{
                        echo 0;
                    }
                ?>
                
            </td>
            <!-- <td><?php if($value['status']==1) echo '<span class="waiting">Chưa xác nhận</span>'; else echo '<span class="checked">Hoàn thành</span>';?></td> -->
            <td>
                <input type="hidden" id="delete_cost_id" value="<?php echo $value['id'];?>">
                <input type="hidden" id="cost_id" value="<?php echo $value['id'];?>">
                 <input type="hidden" id="type_id" value="<?php echo $value['type_approve'];?>">
                 <div class="dropdown">
                  <a id="dLabel" class="btn dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Action
                    <span class=""></span>
                  </a>
                  <ul class="dropdown-menu ul-action" style="left: -90px;" aria-labelledby="dLabel">

                <?php if($this->params['title']== 351):?>
                    <li><a href="<?php echo HOST.'costing/view-costing?id='.$value['id']?>"><i class="icon-eye-open"></i> Xem</a></li>

                    <?php 
                    if(empty($value['approved'])):?>

                      <li><a href="<?php echo HOST.'costing/edit-costing?id='.$value['id']?>"><i class="icon-edit"></i> Chỉnh sửa</a></li>
                    
                    <?php endif;?>

                   
                    <li><a href="<?php echo HOST.'costing/edit-costing?id='.$value['id'].'&act=thucchi'?>"><i class="icon-keyboard"></i> Nhập số thực chi</a></li>
                    <li><a href="<?php echo HOST.'costing/thanhtoan?id='.$value['id']?>"><i class="icon-credit-card"></i> Thanh toán</a></li>

                     <?php 
                        $staff_approved = explode(',', $value['staff_approved']);
                        $staff_waiting = explode(',', $value['staff_waiting']);
                        if((in_array($this->params['staff_id'],$staff_approved)) || !in_array($this->params['staff_id'],$staff_waiting)):?>

                         <li><a><i class="icon-edit"></i> Đã duyệt</a></li>

                        <?php else:?>

                           <li><a id="approved"><i class="icon-edit"></i> Duyệt</a></li>

                    <?php endif;?>

                    <li><a id="delete"><i class="icon-trash"></i> Xóa</a></li>

                <?php else:?>

                    <li><a href="<?php echo HOST.'costing/view-costing?id='.$value['id']?>"><i class="icon-eye-open"></i> Xem</a></li>

                    <?php 
                    $staff_approved = explode(',', $value['staff_approved']);
                    $staff_waiting = explode(',', $value['staff_waiting']);
                    if(in_array($this->params['staff_id'],$staff_waiting)):?>
                    <li><a id="approved"><i class="icon-edit"></i> Duyệt</a></li>
                    <?php endif;?>

                     <!-- <li><a href="<?php echo HOST.'costing/confirm-costing?id='.$value['id']?>"><i class="icon-edit"></i> Approve</a></li> -->

                <?php endif;?>

                  </ul>
                </div>
            </td>
        </tr>
<?php endforeach; ?>

</tbody>
</table>
<div class="paging">
    <?php echo $this->paging($this->total, $this->limit, $this->offset, $this->url);?>
</div>

<script type="text/javascript" src="/js/jquery-ui-1.8.12.custom.min.js"></script>
<link rel="stylesheet" type="text/css" href="/css/jquery-ui-1.8.12.custom.css"/>
<script src="/public/js/jquery.blockUI.js" type="text/javascript"></script>
<script src="//connect.facebook.net/en_US/all.js"></script>
<script src="//ajax.googleapis.com/ajax/libs/jqueryui/1.8/jquery-ui.min.js"></script>
<link rel="stylesheet" type="text/css" href="//ajax.googleapis.com/ajax/libs/jqueryui/1.7.1/themes/base/jquery-ui.css">

<?php echo $this->confirm();?>
<?php echo $this->load();?>
<script>
    $(document).ready(function () {
        $(document).on('click', "#delete", function() {
            var delete_cost_id = $(this).parent().parent().parent().parent().find('#delete_cost_id').val();
            $.ajax({
                  url: "<?php echo HOST;?>costing/list-costing",
                  type: "GET",
                  dataType: "text",
                  context: this,
                  data: "delete_cost_id="+delete_cost_id,
                  beforeSend: function() {
                        $(".loading").show();   
                         alert('Đã xóa thành công !');
                         location.reload();               
                    },
                  success: function(result){
                       
                  },
                  error:function(){
                  }
            });

        });
        $(document).on('click', "#approved", function() {
            var cost_id = $(this).parent().parent().parent().parent().find('#cost_id').val();
            var type_id = $(this).parent().parent().parent().parent().find('#type_id').val();
            $.ajax({
                  url: "<?php echo HOST;?>costing/ajax-costing",
                  type: "GET",
                  dataType: "text",
                  context: this,
                  data: "cost_id="+cost_id+"&approved=1"+"&type_id="+type_id,
                  beforeSend: function() {
                        $(".loading").show();   
                         //location.reload();                
                    },
                  success: function(result){
                      if(result == 1){
                          alert('Success!');
                          location.reload();
                      }
                      else{
                          alert(result);
                      }
                  },
                  error:function(){
                  }
            });
        });
    });
</script>
