<form action="/costing/report-type-costing" method="get">
    <div class="row-fluid">
        <div class="span4">
            <div class="control-group">
                <label class="span1">Channel</label>
                <select name="channel">
                    <option value="">-- Choose --</option>
                    <?php foreach ($this->channel as $key => $value):?>
                    <option value="<?php echo $value['id'];?>" <?php echo (isset($this->params['channel']) and $this->params['channel'] == $value['id']) ? "selected" : null;?>><?php echo $value['name'];?></option>
                    <?php endforeach;?>
                </select>
            </div>
        </div>
        <div class="span4">
            <div class="control-group">
                <label class="span1">From Date</label>
                <input name="from_date" type="text" class=" form-control span2 date" value="<?php isset($this->params['from_date']) and printf(date_create_from_format("Y-m-d", $this->params['from_date'])->format("d/m/Y"));?>" autocomplete="off">
            </div>             
        </div>

        <div class="span4">
            <div class="control-group">
                <label class="span1">To Date</label>
                <input name="to_date" type="text" class="input-medium  form-control span2 date" value="<?php isset($this->params['to_date']) and printf(date_create_from_format("Y-m-d", $this->params['to_date'])->format("d/m/Y"));?>" autocomplete="off">
            </div>
        </div>
    </div>
    <div class="row-fluid">
        <button type="submit" class="btn btn-success">Search</button>
        <a href="/costing/report-type-costing" class="btn btn-default">Reset</a>
    </div>
</form>


<script type="text/javascript" src="/js/jquery-ui-1.8.12.custom.min.js"></script>
<link rel="stylesheet" type="text/css" href="/css/jquery-ui-1.8.12.custom.css"/>
<script src="../js/tag-it.min.js" type="text/javascript" charset="utf-8"></script>
<link href="../css/jquery.tagit.css" rel="stylesheet" type="text/css">
<link href="../css/tagit.ui-zendesk.css" rel="stylesheet" type="text/css">

<script type="text/javascript">
    $(document).ready(function () {
        $( '.date' ).datepicker({ dateFormat: "dd/mm/yy" });
    });
</script>
