<form action="/costing/list-costing" method="get">
    <div class="row-fluid">
        <div class="span4">
            <div class="control-group">

                <label class="span1">Công ty</label>
                <select name="company_id">
                    <option value="">-- Choose --</option>
                    <?php foreach ($this->company as $key => $value):?>
                    <option value="<?php echo $value['id'];?>" <?php echo (isset($this->params['company_id']) and $this->params['company_id'] == $value['id']) ? "selected" : null;?>><?php echo $value['name'];?></option>
                    <?php endforeach;?>
                </select>
            </div>
            <div class="control-group">
                <label class="span1">Kênh</label>
                <select name="channel_id">
                    <option value="">-- Choose --</option>
                    <?php foreach ($this->channel as $key => $value):?>
                    <option value="<?php echo $value['id'];?>" <?php echo (isset($this->params['channel_id']) and $this->params['channel_id'] == $value['id']) ? "selected" : null;?>><?php echo $value['name'];?></option>
                    <?php endforeach;?>
                </select>
            </div>
            <div class="control-group">
                <label class="span1">Hạng mục</label>
                <select name="category_id">
                    <option value="">-- Choose --</option>
                    <?php foreach ($this->category as $key => $value):?>
                    <option value="<?php echo $value['id'];?>" <?php echo (isset($this->params['category_id']) and $this->params['category_id'] ==$value['id']) ? "selected" : null;?>><?php echo $value['name'];?></option>
                    <?php endforeach;?>
                </select>
            </div>
            <div class="control-group">
                <label class="span1">Loại</label>
                <select name="type_id">
                    <option value="">-- Choose --</option>
                    <?php foreach ($this->typeapprove as $key => $value):?>
                    <option value="<?php echo $value['id'];?>" <?php echo (isset($this->params['type_id']) and $this->params['type_id'] == $value['id']) ? "selected" : null;?>><?php echo $value['name'];?></option>
                    <?php endforeach;?>
                </select>
            </div>
             <div class="control-group">
                <label class="span1">Từ ngày:</label>
                <input name="from_date" type="text" class=" form-control  date" value="<?php isset($this->params['from_date']) and printf($this->params['from_date']);?>" autocomplete="off">
            </div>
             <div class="control-group">
                <label class="span1">Đến ngày:</label>
                <input name="to_date" type="text" class=" form-control  date" value="<?php isset($this->params['to_date']) and printf($this->params['to_date']);?>" autocomplete="off">
            </div>
        </div>
        <div class="span4">
            <div class="control-group">
                <label class="span1">Ngày chứng từ</label>
                <input name="date_ct" type="text" class=" form-control span2 date" value="<?php isset($this->params['date_ct']) and printf($this->params['date_ct']);?>" autocomplete="off">
            </div>
            <div class="control-group">
               <label class="span1">Số chứng từ</label>
                <input name="number_ct" type="text" class="input-medium  form-control span2 " value="<?php isset($this->params['number_ct']) and printf($this->params['number_ct']);?>">
            </div>
             <div class="control-group">
                <label class="span1">Nội dung</label>
                <textarea name="content" rows="1" class="span2"><?php isset($this->params['content']) and printf($this->params['content']);?></textarea>
            </div>
            <div class="control-group">
               <label class="span1">Số tạm tính</label>
                <input name="number_temp" type="text" class="input-medium  form-control span2 " value="<?php isset($this->params['number_temp']) and printf($this->params['number_temp']);?>">
            </div>
            <div class="control-group">
               <label class="span1">Số thực chi</label>
                <input name="number_real" type="text" class="input-medium  form-control span2 " value="<?php isset($this->params['number_real']) and printf($this->params['number_real']);?>">
            </div>
        </div>

        <div class="span4">
            <div class="control-group">
                <label class="span1">Ngày thanh toán</label>
                <input name="date_tt" type="text" class="input-medium  form-control span2 date" value="<?php isset($this->params['date_tt']) and printf($this->params['date_tt']);?>" autocomplete="off">
            </div>
        </div>
        <div class="span4">
            <div class="control-group">
                <label class="span1">Số thanh toán</label>
                <input name="number_tt" type="text" class="input-medium  form-control span2 " value="<?php isset($this->params['to_date_']) and printf($this->params['to_date_']);?>">
            </div>
        </div>
        <div class="span4">

            <div class="control-group">
                <label class="span1">Cấn trừ/ xuất hàng</label>
                <input name="ct_xh" type="text" class="input-medium  form-control span2 " value="<?php isset($this->params['ct_xh']) and printf($this->params['ct_xh']);?>">
            </div>
        </div>
         <div class="span4">
            <div class="control-group">
                <label class="span1">Số chưa thanh toán</label>
                <input name="not-tt" type="text" class="input-medium form-control span2 " value="<?php isset($this->params['to_date_']) and printf($this->params['to_date_']);?>">
            </div>
        </div>

    </div>
    <div class="row-fluid">
        <button type="submit" class="btn btn-success">Search</button>
        <button type="submit" class="btn btn-warning" name="export" value="1">Export</button>
        <a href="/costing/list-costing" class="btn btn-default">Reset</a>
    </div>
</form>


<script type="text/javascript" src="/js/jquery-ui-1.8.12.custom.min.js"></script>
<link rel="stylesheet" type="text/css" href="/css/jquery-ui-1.8.12.custom.css"/>
<script src="../js/tag-it.min.js" type="text/javascript" charset="utf-8"></script>
<link href="../css/jquery.tagit.css" rel="stylesheet" type="text/css">
<link href="../css/tagit.ui-zendesk.css" rel="stylesheet" type="text/css">

<script type="text/javascript">
    $(document).ready(function () {
        $( '.date' ).datepicker({ dateFormat: "dd/mm/yy" });
    });
</script>
