<?php 
$hr_permission = array(
    2584,21,2128,16269, 5988, 25259
);
$userStorage = Zend_Auth::getInstance()->getStorage()->read();
?>

<form method="post" action="" id="form-leave-list">
    <div class="table-responsive">
        <table class="table table-bordered">
            <thead>
                <th>Code</th>
                <th>Họ tên</th>
                <th>Nhóm phép</th>
                <th>Loại phép</th>
                <th>Từ ngày</th>
                <th>Đến ngày</th>
                <th>Tổng số ngày nghỉ</th>
                <th>Duyệt phép cấp 1 (Trưởng bộ phận)</th>
                <th>Duyệt phép cấp 2 (Bộ phận nhân sự)</th>
                <th>Ghi chú</th>
                <th></th>
            </thead>
            <tbody>
            <?php
               foreach ($this->data as $key => $staff) 
               {
            ?>
            <tr>
                <td><?php echo $staff['code'] ?></td>
                <td><?php echo $staff['name']; ?></td>
                <td><?php echo $staff['leave_group']; ?></td>
                <td><?php echo $staff['leave_type_name']; ?></td>
                <td><?php echo !empty($staff['from_date'])?date('d/m/Y', strtotime($staff['from_date'])):'' ; ?></td>
                <td><?php echo !empty($staff['to_date'])?date('d/m/Y', strtotime($staff['to_date'])):'' ; ?></td>
                <td><?php echo $staff['total']; ?></td>
                <td>
                <?php
                    if($staff['status'] == 1)
                    {
                        echo 'Approve';
                    }
                    elseif($staff['status'] == 0)
                    {
                        echo 'Pending';
                    }
                ?>
                </td>
                <td>
                <?php
                    if($staff['hr_approved'] == 1)
                    {
                        echo 'Approve';
                    }
                    elseif($staff['hr_approved'] == 0)
                    {
                        echo 'Pending';
                    }
                ?>
                </td>
                <td>
                <?php echo $staff['reason'] ?>
                </td>
                <td>
                    <a href="/leave/detail-leave?id=<?php echo $staff['id']; ?>"><i class="icon-edit"></i></a>
                    <?php
                    if($this->is_hr == 1 || in_array($userStorage->id, $hr_permission))
                    {
                        if($staff['hr_approved'] != 1)
                        {
                        ?>
                        <a href="#" class="btn-approve" data-type="1" data-id="<?php echo $staff['id']; ?>"><i class="icon-ok"></i></a>
                        <?php
                        }
                        else
                        {
                        ?>
                        <a href="#" class="btn-approve" data-type="0" data-id="<?php echo $staff['id']; ?>"><i class="icon-trash"></i></a>
                        <?php
                        }
                    }
                    else
                    {
                        if($staff['status'] != 1)
                        {
                        ?>
                        <a href="#" class="btn-approve" data-type="1" data-id="<?php echo $staff['id']; ?>"><i class="icon-ok"></i></a>
                        <?php
                        }
                        else
                        {
                        ?>
                        <a href="#" class="btn-approve" data-type="0" data-id="<?php echo $staff['id']; ?>"><i class="icon-trash"></i></a>
                        <?php
                        }
                    }
                    ?>
                    
                </td>
            </tr>
            <?php
               } 
            ?>
            </tbody>
        </table> <!-- end table -->
    </div> <!-- end div -->
    <input type="hidden" name="type_edit" id="type_edit" value="">
    <input type="hidden" name="id_edit" id="id_edit" value="">
    <input type="hidden" name="edit" id="edit" value="0">
</form>
<script>
    $('.btn-approve').click(function () {
        var type_edit = $(this).attr('data-type');
        var id_edit = $(this).attr('data-id');
        $('#type_edit').val(type_edit);
        $('#id_edit').val(id_edit);
        $('#edit').val(1);
        $('#form-leave-list').submit();
    });
</script>