<link rel="stylesheet" type="text/css" href="/css/bootstrap-datetimepicker.min.css"/>
<div class="accordion" id="accordion2">
    <div class="accordion-group">
        <div class="accordion-heading">
            <a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion2" href="#collapseTwo">
                Search
            </a>
        </div>
        <div id="collapseTwo" class="accordion-body collapse" style="height: 0px;">
            <div class="accordion-inner">
                <form action="" method="GET" class="form-search form-horizontal">
                    <div class="row">
                        <div class="span4">
                            <div class="control-group">
                                <label class="control-label">Tháng</label>
                                <div class="controls">
                                    <select name="month">
                                    <?php
                                    for($i = 1; $i <= 12; $i++)
                                    {
                                    ?>
                                    <option value="<?php echo $i; ?>" <?php echo ($i == $this->params['month'])?'selected':'' ?> ><?php echo $i ?></option>
                                    <?php
                                    }
                                    ?>
                                    </select>
                                </div>
                            </div>

                            <div class="control-group">
                                <label class="control-label">Năm</label>
                                <div class="controls">
                                    <input type="number" name="year" value="<?php echo $this->params['year']; ?>" id="" class="">
                                </div>
                            </div>
                            <div class="control-group">
                                <label class="control-label">Tháng</label>
                                <div class="controls">
                                    <input type="text" name="time" value="<?php if (isset($this->params['month'])): echo $this->params['month'].'/'.$this->params['year']; endif; ?>" id="" class="date">
                                </div>
                            </div>
                        </div> <!-- End span4 -->
                        <div class="span4">
                            <div class="control-group">
                                <label class="control-label">Tên</label>
                                <div class="controls">
                                    <input type="text" name="name" id="name" class="" value="<?php echo $this->params['name']; ?>">
                                </div>
                            </div>

                            <div class="control-group">
                                <label class="control-label">Code</label>
                                <div class="controls">
                                    <input type="text" name="code" id="code" class="" value="<?php echo $this->params['code']; ?>">
                                </div>
                            </div>

                            <div class="control-group">
                                <label class="control-label">Trạng thái</label>
                                <div class="controls">
                                    <select id="status" name="status">
                                        <option value="" <?php echo ($this->params['status'] == "")?'selected':''; ?>>--- All ---</option>
                                        <option value="1" <?php echo ($this->params['status'] == 1)?'selected':''; ?> >Xác nhận</option>
                                        <option value="0" <?php echo ($this->params['status'] == 0 && $this->params['status'] != "")?'selected':''; ?> >Chưa xác nhận</option>
                                    </select>
                                </div>
                            </div>
                        </div> <!-- End span4 -->
                        <div class="span4">
                            <button type="submit" class="btn btn-primary">Search</button>
                            <button type="submit" name="export" value="1" class="btn btn-success">Export</button>
                        </div>
                    </div> <!-- end row -->
                </form> <!-- end form -->
            </div> <!-- end accordion-inner -->
        </div> <!-- end collapseTwo -->
    </div>
</div>
<script type="text/javascript" src="/js/jquery-ui-1.8.12.custom.min.js"></script>
<link rel="stylesheet" type="text/css" href="/css/jquery-ui-1.8.12.custom.css"/>
<script language="javascript" type="text/javascript" src="/js/bootstrap-datetimepicker.min.js"></script>
<script>
    $( '#from' ).datepicker({ dateFormat: "yy/mm/dd"});
    $( '#to' ).datepicker({ dateFormat: "yy/mm/dd"});
    $('.date').datetimepicker({
            weekStart: 1,
            clear: true,
            minView: 3,
            startView: 3,
            minViewMode: 3,
            autoclose: true,
            format: 'mm/yyyy'
        });
</script>