<title>MINI GAME, Tôi là OPPOer - Mùa 3</title>
<link rel="icon" type="image/ico" href="/img/favicon.ico">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css">
<script src="/js/jquery-1.7.2.min.js"></script>
<script src="/js/bootstrap.js"></script>

<style type="text/css">
    *{
        margin: 0;
        padding: 0;
    }

    .oppo_color{
        color:#009B72;
    }
    @font-face {
        font-family: myFirstFont;
        src: url(/font/Oppo-2019044a-Regular.otf);
    }

    html {
        font-family: myFirstFont;
    }
    @-webkit-keyframes ajax {
        0%{opacity: 0.3; margin-right: -5vw;}
        50%{opacity: 0.7;margin-left: -3vw;}
        100%{opacity: 1.0;margin-left: 2vw;}
    }
    @-moz-keyframes ajax {
        0%{opacity: 0.3; margin-right: -5vw;}
        50%{opacity: 0.7;margin-left: -3vw;}
        100%{opacity: 1.0;margin-left: 2vw;}
    }
    @-o-keyframes ajax {
        0%{opacity: 0.3; margin-right: -5vw;}
        50%{opacity: 0.7;margin-left: -3vw;}
        100%{opacity: 1.0;margin-left: 2vw;}
    }
    @keyframes question {
        0%{opacity: 0.3; margin-left: -5vw;}
        50%{opacity: 0.7;margin-left: 2vw;}
        100%{opacity: 1.0;margin-left: 2vw;}
    }
    @keyframes ajax {
        0%{opacity: 0.3; margin-right: -5vw;}
        50%{opacity: 0.7;margin-left: -3vw;}
        100%{opacity: 1.0;margin-left: 2vw;}
    }

    .block {
        width:100%
    }

    .fl_left {
        float:left;
    }
    .fl_right {
        float: right;
    }
    @media only screen and (min-width: 320px) and (max-width: 1080px) {
        .content{
            width: 100%;
            height: 210vw;
            background-image:url(/mini_game/2019/m_play_bg.png);
            background-size: 100% 100%;
            background-position: center;
            background-position: top;
            background-repeat: no-repeat;
            position: relative;
        }
        .infor {
            position: absolute;
            font-size: 3vw;
            width: 80vw;
            margin-top: 16vw;
            margin-left: 10vw;
        }
        .rule{
            display: none;
        }
        .rule_play{
            text-align: center;
            margin-top: 48vw;
            width: 100%;
            font-size: 3vw;
            float: none;
            margin-left: 0vw;
            margin-bottom: 1vw;
        }
        .clock{
            font-size: 6vw;
            width: 12vw;
            background-color: #fec23c;
            color: white;
            border: 0.3vw solid white;
            padding: 0 1.3vw;
            border-radius: 2.2vw;
        }
        #canvas {
            margin-top: 4vw;
            width: 45vw;
            margin-left: 17.5vw;
        }
        .border_bot {
            font-size: 2vw;
            width: 30%;
            background-color: #a52b2b;
            color: white;
            /* border: 1.5vw solid white; */
            padding: 0.2vw 0.3vw;
            margin: 2vw 35% 2vw 35%;
        }
        .content_question {
            /*font-family: myFirstFont;*/
            word-wrap: break-word;
            margin-top: 1vw;
            margin-left: 5vw;

        }
        .content_question ul{
            list-style: none;
        }
        .content_question ul li {
            word-wrap: break-word;
            margin-left: 2vw;
            border-radius: 0.7vw;
            border: 0.3vw solid #ccc;
            width: 65vw;
            margin-top: 1vw;
            padding: 2.3vw 0.3vw;
            height: auto;
            -webkit-animation: ajax 0.3s;
            -moz-animation: ajax 0.3s;
            -o-animation: ajax 0.3s;
            animation: ajax 0.3s;

        }
        .content_question ul li span{
            padding-left: 1vw;
        }

        .content_question ul label {
            width: 100%;
        }
        span#procent {
            display: block;
            position: absolute;
            left: 40vw;
            top: 82vw;

            font-size: 5vw;
            transform: translate(-50%, -50%);
            color: #3949AB;
        }
        .croll_op{
            height: 80vw;
            width: 80vw;
            margin-top: 1vw;
            overflow-y: scroll;
        }
        .total_point {
            display:none
        }
    }
    @media only screen and (min-width: 1080px) and (max-width: 2560px)
    {
        .total_point {
            width:80%;
            margin: 0 10% 0 10%;
            font-size:1.5vw;
        }


        .content{
            width: 100%;
            height: 65vw;
            background-image:url(/mini_game/2019/bg.png);
            background-size: 100% 100%;
            background-position: center;
            background-position: top;
            background-repeat: no-repeat;
            position: relative;
        }
        .infor {
            position: absolute;
            font-size: 3vw;
            width: 80vw;
            margin-top: 4vw;
            margin-left: 10vw;
        }
        .time {
            width: 50%;
            float: right;
            height: 39vw;
            display: inline-block;
            background-image: url(/mini_game/2019/info_box_playing.png);
            background-size: 100%;
            background-repeat: no-repeat;
        }
        .rule{
            font-size: 1.5vw;
            position: absolute;
            margin-left: 35vw;
            display: block;
            top: 2vw;

        }
        .rule ul{
            list-style: none;
        }
        .rule_play{
            text-align: center;
            margin-top: 1.5vw;
            width: 25vw;
            font-size: 1.5vw;
            float: none;
            margin-left: 3vw;
            margin-bottom: 0vw;
        }
        .clock{
            font-size: 2vw;
            width: 10vw;
            background-color: #fec23c;
            color: white;
            border: 0.3vw solid white;
            padding: 0.3vw 1.3vw;
            display:none;
        }
        #canvas{
            margin-top: -5.5vw;
            width: 9vw;
            margin-left: 28vw;
        }
        .border_bot {
            font-size: 2vw;
            width: 30%;
            background-color: #a52b2b;
            color: white;
            /* border: 1.5vw solid white; */
            padding: 0.2vw 0.3vw;
            margin: 2vw 35% 2vw 35%;
        }
        .content_question {
            width: 80%;
            font-size: 1.2vw;
            margin: 0 10% 0 10%;
            overflow-y: auto;
            padding: 0 0.5vw 0 0.5vw;
            min-height: 20vw;

        }
        .content_question ul{
            list-style: none;
        }

        .content_question ul label {
            width:100%;
        }
        .content_question ul li {
            margin-left: 1vw;
            border-radius: 0.7vw;
            border: 0.1vw solid #ccc;
            width: 90%;
            margin-top: 1vw;
            padding: 0.3vw 0.3vw;
            height: auto;
            -webkit-animation: ajax 0.3s;
            -moz-animation: ajax 0.3s;
            -o-animation: ajax 0.3s;
            animation: ajax 0.3s;

        }
        .content_question ul li span{
            padding-left: 1vw;
        }
        span#procent {
            display: block;
            position: absolute;
            left: 72.5vw;
            top: 5vw;
            font-size: 1.8vw;
            transform: translate(-50%, -50%);
            color: #3949AB;
        }
        .croll_op{
            height: 28vw;
            width: 100%;
            margin-top: 0.1vw;
        }

        .olie {
            width: 40%;
            background-image: url(/mini_game/2019/OLIE.png);
            background-position: center center;
            min-height: 28vw;
            background-repeat: no-repeat;
            display: inline-block;
        }
    }

    }
</style>
<script language="javascript">
    var gio = null;
    var phut = null;
    var giay = null;
    var timeout_ = null; // Timeout
    var h = null; // Giờ
    var m = null; // Phút
    var s = null; // Giây
    //  var l = null; // mili
    var timeout = null; // Timeout
    var acrInterval = null;
    function start_question(){}
    function start(){}
    // function stop(){clearTimeout(timeout);}
</script>
<div class="content">
    <div class="block">

    </div>
    <div class="infor">
        <div class="olie"></div>
        <div class="time">

            <p class="rule_play oppo_color">
                <span class="text_play">"Chúc bạn hoàn thành xuất sắc 15 câu hỏi nhé! <br> Sẵn sàng nào !!!"</span>
                <br>
                <span class="clock">
              <span id="phut" ></span><span> :</span>
              <span id="giay" ></span><span></span>
            </span>
            </p>
            <div class="block">
                <p class="timer_block">

                    <canvas id="canvas"></canvas>
                    <span id="procent"></span>


                </p>
            </div>
            <!--  <label>Thời gian: </label><br>
               <span id="s"></span><span> giây</span>

              <hr> -->
<!--            <div class="total_point">-->
<!--                <div class="progress" style="height:2vw;">-->
<!---->
<!--                    <div class="progress-bar"-->
<!--                         role="progressbar"-->
<!--                         aria-valuenow="80"-->
<!--                         aria-valuemin="0" aria-valuemax="150"-->
<!--                         style="width:80%">-->
<!---->
<!--                    </div>-->
<!--                    Điểm-->
<!---->
<!--                </div>-->
<!--            </div>-->
<!--            <div class="total_point">-->
<!--                <div class="fl_left">0</div>-->
<!--                <div class="fl_right">150</div>-->
<!--            </div>-->
            <p class="border_bot"></p>
            <form>
                <div class="content_question">
                    <div class="question"><b><span class="name_ques">Câu hỏi <span id="stt_text">1</span></span>:</b><?php echo $this->question->content;?></div>
                    <input type="hidden" id="question_id" name="question_id" value="<?php echo $this->question->id;?>">
                    <input type="hidden" id="answer" name="answer" value="<?php echo $this->answer['answer'];?>">
                    <div class="croll_op">
                        <ul>
                            <label for="op_a"><li><input type="radio" id="op_a"  name="choose_user" value="1" onclick="return submit_answ()" style="display: none;"> <span> A: <?php echo $this->question->optiona;?></span></li></label>
                            <label for="op_b"><li> <input type="radio" id="op_b" name="choose_user" value="2" onclick="return submit_answ()" style="display: none;"><span> B: <?php echo $this->question->optionb;?></span></li></label>
                            <label for="op_c"><li><input type="radio" id="op_c" name="choose_user" value="3" onclick="return submit_answ()" style="display: none;"><span> C: <?php echo $this->question->optionc;?></span></li></label>
<!--                            <label for="op_d"><li><input type="radio" id="op_d" name="choose_user" value="4" onclick="return submit_answ()" style="display: none;"><span> D: --><?php //echo $this->question->optiond;?><!--</span></li></label>-->
                        </ul>
                    </div>
                </div>
                <div class="submit">
                    <input type="hidden" id="stt" name="stt" value="1">

                    <input type="hidden" id="id_master" name="id_master" value="<?php echo $this->id_master;?>">
                    <!-- <input type="button" id="submit" name="submit" class="btn btn-success" value="Submit"> -->
                </div>
            </form>
        </div>
    </div>
</div>

<script type="text/javascript">

    function timer(){
        var can = document.getElementById('canvas'),
            spanProcent = document.getElementById('procent'),
            c = can.getContext('2d');

        var posX = can.width / 2,
            posY = can.height / 2,
            fps = 72, //86 ->30s // 115 -> 40s
            procent = 0,
            oneProcent =360 / 25, //200 point
            result = oneProcent * 25; //200 point

        c.lineCap = 'round';
        arcMove();

        function arcMove(){
            var deegres = 0;
            acrInterval = setInterval (function() {
                deegres += 1;
                c.clearRect( 0, 0, can.width, can.height );
                procent = deegres / oneProcent;
                spanProcent.innerHTML = (25-procent).toFixed(); //200 point
                c.beginPath();
                c.arc( posX, posY, 70, (Math.PI/180) * 270, (Math.PI/180) * (270 + 360) );
                c.strokeStyle = '#fec23c';
                c.lineWidth = '10';
                c.stroke();

                c.beginPath();
                c.strokeStyle = '#ffffff';
                c.lineWidth = '10';
                c.arc( posX, posY, 70, (Math.PI/180) * 270, (Math.PI/180) * (270 + deegres) );
                c.stroke();
                if( deegres >= result ) clearInterval(acrInterval);
            }, fps);
        }
    }


</script>
<script type="text/javascript">
    function format(n){
        return n > 9 ? "" + n: "0" + n;
    }
    function start()
    {
        if (gio === null)
        {
            gio = 0;
            phut = 6;
            giay = 15;
        }if (giay === -1){
        phut -= 1;
        giay = 59;
    }if (phut === -1){
        gio -= 1;
        phut = 59;
    }if (gio == -1){
        clearTimeout(timeout_);
        alert("Chúc mừng bạn đã hoàn thành trò chơi !");
        location.reload();
        return false;
    }
        document.getElementById('phut').innerText = format(phut).toString();
        document.getElementById('giay').innerText = format(giay).toString();
        timeout_ = setTimeout(function(){
            giay--;
            start();
        }, 1000);
    }

    function start_question()
    {
        if (h === null)
        {
            h = 0;
            m = 0;
            s = 24;
        }
        if (s === -1){
            m -= 1;
            s = 59;
        }
        if (m === -1){
            h -= 1;
            m = 59;
        }
        if (h == -1){
            //set lại bộ đếm sau 15 giây và get câu hỏi mới
            clearTimeout(timeout);
            getquestion();
            clearInterval(acrInterval);

            h=0;
            m=0;
            s=24;
            l=100;
            var time_ = function(){
                timer();
            };
            setTimeout(time_, 250);
            var explode = function(){
                start_question();
            };
            setTimeout(explode, 500);
            return false;
        }

        //document.getElementById('s').innerText = s.toString();
        timeout = setTimeout(function(){
            s--;
            start_question();
        },1000);
    }
    //function load câu hỏi sau 1 giây mới đc chọn đáp án
    var turn_on = function(){
        $("input[type='radio']").attr('onclick','return submit_answ()');
    }
    //hàm get câu hỏi
    function getquestion()
    {
        var stt = $('#stt').val();
        if(stt == 15 ){
            // alert("Chúc mừng bạn đã hoàn thành trò chơi !");
            window.onbeforeunload=null;
            location.reload();
            return false;
        }else{
            stt++;
            $('#stt').val(stt);
        }
        var id_master = $('#id_master').val();
        $.ajax({
            url: "<?php echo HOST;?>iamoppers/get-question",
            type: "POST",
            dataType: "text",
            context: this,
            data: "id_master="+id_master+"&stt="+stt,
            beforeSend: function() {
                $(".loading").show();
            },
            success: function(result){
                // console.log(result);
                var data = jQuery.parseJSON(result);
                // console.log(data.question.id);
                if(data)
                {
                    var rand = Math.round((Math.random()*2)+1);

                    // console.log(rand);
                    content = '<div class="question"><span class="name_ques">Câu hỏi <span id="stt_text">'+stt+'</span></span>: '+data.question.content+'</div>\
                            <input type="hidden" id="question_id" name="question_id" value="'+data.question.id+'">\
                            <input type="hidden" id="answer" name="answer" value="'+data.answer.answer+'">\
                            <div class="croll_op">\
                            <ul>';
                    if(rand==1){


                        content+='\
                             <label for="op_c"><li><input type="radio" id="op_c" name="choose_user" value="3" onclick="return submit_answ()" style="display: none;"><span> A: '+data.question.optionc+'</span></li></label>\
                            <label for="op_a"><li><input type="radio" id="op_a"  name="choose_user" value="1" onclick="return submit_answ()" style="display: none;"> <span> B: '+data.question.optiona+'</span></li></label>\
                             <label for="op_b"><li> <input type="radio" id="op_b" name="choose_user" value="2" onclick="return submit_answ()" style="display: none;"><span> C: '+data.question.optionb+'</span></li></label>';

                    }
                    if(rand==2){


                        content+='\
                              <label for="op_c"><li><input type="radio" id="op_c" name="choose_user" value="3" onclick="return submit_answ()" style="display: none;"><span> A: '+data.question.optionc+'</span></li></label>\
                              <label for="op_a"><li><input type="radio" id="op_a"  name="choose_user" value="1" onclick="return submit_answ()" style="display: none;"> <span> B: '+data.question.optiona+'</span></li></label>\
                               <label for="op_b"><li> <input type="radio" id="op_b" name="choose_user" value="2" onclick="return submit_answ()" style="display: none;"><span> C: '+data.question.optionb+'</span></li></label>';


                    }
                    if(rand==3){


                        content+='\
                             <label for="op_b"><li> <input type="radio" id="op_b" name="choose_user" value="2" onclick="return submit_answ()" style="display: none;"><span> A: '+data.question.optionb+'</span></li></label>\
                            <label for="op_a"><li><input type="radio" id="op_a"  name="choose_user" value="1" onclick="return submit_answ()" style="display: none;"> <span> B: '+data.question.optiona+'</span></li></label>\
                              <label for="op_c"><li><input type="radio" id="op_c" name="choose_user" value="3" onclick="return submit_answ()" style="display: none;"><span> C: '+data.question.optionc+'</span></li></label>\
                              ';

                    }

                    content+='</ul>\
                            </div>';

                    $('.content_question').html(content);
                    $("input[type='radio']").attr('onclick',false); //tắt ko cho submit

                    setTimeout(turn_on, 500); //load câu hỏi 1 giây mới đc submit đáp án
                }
            },
            error:function(){
                alert("Không load được câu hỏi !");
            }
        });
    }

    function submitquestion()
    {
        var id_master = $('#id_master').val();
        var question_id = $('#question_id').val();

        var user_choose = $("input[type='radio']:checked").val();
        console.log(user_choose);
        if(user_choose == undefined){
            user_choose = 0;
        }
        $.ajax({
            url: "<?php echo HOST;?>iamoppers/submit-question",
            type: "POST",
            dataType: "text",
            context: this,
            data: "id_master="+id_master+"&question_id="+question_id+"&user_choose="+user_choose+"&submit="+1,
            beforeSend: function() {
                $(".loading").show();
            },
            success: function(result){
            },
            error:function(){
                //alert("Submit thất bại !");
            }
        });
    }

    function submit_answ(){

        clearTimeout(timeout);
        clearInterval(acrInterval);
        h=0;
        m=0;
        s=24;
        var user_choose = $("input[type='radio']:checked").val();
        var answer = $("#answer").val();
        if(user_choose == answer){
            $("input[type='radio']:checked").closest('li').css('background-color','#00ff00');
        }else{
            $("input[type='radio']:checked").closest('li').css('background-color','#ff3300');
        }
        $("input[type='radio']").attr('onclick',false);//submit xong ko cho chọn đáp án khác
        submitquestion();
        getquestion();
        var time_ = function(){
            timer();
        };
        setTimeout(time_, 250);

        var explode = function(){
            start_question();
        };
        setTimeout(explode, 100);
    }

    window.onbeforeunload = function (e) {
        return "Are you sure you want leave?";
    };
    $(window).on('load', function(){
        start_question();// thời gian 15s load câu mới
        start(); // thời gian tổng 10p
        timer(); // vòng tròn tính điểm


        // $('#submit').click(function(){
        // 	clearTimeout(timeout);
        //        h=0;
        //        m=0;
        //        s=15;
        // 			submitquestion();
        // 			getquestion();
        //       timer();
        // 			var explode = function(){
        // 			 start_question();
        // 			};
        // 	setTimeout(explode, 300);
        // });

    });
</script>
<!--<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>-->
<!--<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"></script>-->
<!--<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>-->