<title>MINI GAME, Tôi là OPPOer - Mùa 3</title>
<link rel="icon" type="image/ico" href="/img/favicon.ico">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<script src="/js/jquery-1.7.2.min.js"></script>
<style type="text/css">
*{
	margin: 0;
	padding: 0;
}
@font-face {
    font-family: myFirstFont;
    src: url(/font/Oppo-2019044a-Regular.otf);
}

html {
    font-family: myFirstFont;
}
@media only screen and (min-width: 320px) and (max-width: 1080px) {
    .table_scroll {
        position: absolute;
        height: 65vw;
        width: 80vw;
        overflow-y: scroll;
        margin-top: 50vh;
        margin-left: 13vw;
    }
	.content{
		  width: 100%;
		  height: 100vh;
		  background-image:url(/mini_game/2019/m_reward.png);
		  background-size: 100% 100%;
		  background-position: center;
		  background-position: top;
		  background-repeat: no-repeat;
		  position: relative;

		}
		.table {
		    border-collapse: collapse;
		    font-size: 4vw;
		    position: absolute;
		    margin-top: 0vw;
		    margin-left: 0vw;
		    /* border-radius: 13vw; */
            width: 90%;
		}
		.table tr th{
			padding-left: 1vw;
			padding-right: 1vw;
			border-left: 0.1vw solid #ccc;
			text-align: left;
			border-bottom: 0.1vw solid #ccc;
            font-size: 2vw;
            color:#009B72;
		}
		.table tr td{
			padding-left: 1vw;
			padding-right: 1vw;
			border-left: 0.1vw solid #ccc;
			text-align: left;
			border-bottom: 0.1vw solid #ccc;
            font-size: 2vw;
		}
    .title {
        font-size: 3vw;
        position: absolute;
        width: 60vw;
        margin-top: 45vh;
        margin-left: 21vw;
        color: #009B72;
    }
}
  @media only screen and (min-width: 1080px) and (max-width: 2560px){
	  	.content{
			  width: 100%;
			  height: 100%;
			  background-image:url(/mini_game/2019/reward.png);
			  background-size: 100% 100%;
			  background-position: center;
			  background-position: top;
			  background-repeat: no-repeat;
			  position: relative;

			}
			.table{
                border-collapse: collapse;
                font-size: 1vw;
                position: absolute;
                /* margin-top: 2vw; */
                margin-left: 0vw;
                border-radius: 5vw;

		}
		.table tr th{
			font-weight: none;
			padding-left: 1vw;
			padding-right: 1vw;
			border-left: 0.1vw solid #ccc;
			text-align: left;
			border-bottom: 0.1vw solid #ccc;
            font-size: 0.8vw;
            color:#009B72;
		}
		.table tr td{
			padding-left: 1vw;
			padding-right: 1vw;
			border-left: 0.1vw solid #ccc;
			text-align: left;
			border-bottom: 0.1vw solid #ccc;
            font-size: 0.8vw;
		}
		.title {
		    font-size: 1.3vw;
		    position: absolute;
		    width: 40vw;
		    margin-top: 8vw;
		    margin-left: 40vw;
		    border-bottom: 0.2vw solid #00925f;
            color:#009B72;
		}
		.table_scroll{
            position: absolute;
            height: 28vw;
            width: 30vw;
            overflow-y: scroll;
            margin-top: 12vw;
            margin-left: 45vw;
		}
  }
		
.red_{background-color: #ff18184d;}
.yellow_{background-color: #f7f01342;}
.blue_{background-color: #5077d059;}
.green_{background-color: #13f72230;}

</style>
<div class="content">
	<h2 class="title" style="text-align: center;">DANH SÁCH TOP 30 (SỐ 1 TUẦN 1)</h2>
	<div class="table_scroll" style="">
	<table class="table">
		<thead>
			<tr>
				<th style="width: 10%">No</th>
				<th style="width: 30%">Họ Tên</th>
				<th style="width: 10%">Điểm</th>
				<th style="width: 30%">Tổng thời gian</th>

			</tr>
		</thead>
		<tbody>
			<?php foreach ($this->data  as $key => $value):?>
			<tr <?php if($key+1 == 1): echo 'class="red_"'; elseif($key+1 == 2): echo 'class="yellow_"'; elseif($key+1 == 3): echo 'class="blue_"'; elseif($key+1 >3 && $key+1 <= 30): echo 'class="green_"'; endif;?>>
				<td><?php echo $key+1;?></td>
				<td><?php echo $value['fullname'];?></td>
				<td><?php echo $value['rights']*10;?></td>
				<td><?php echo $value['point'];?></td>

			</tr>
		<?php endforeach; ?>
		</tbody>
	</table>
	</div>
</div>