<form class="form-search form-horizontal" method="get" action="/time/list-pre-time-off">
    <div class="row">
        <div class="span5">
            <div class="control-group">
                <label for="name" class="span2">Name</label>
                <input id="name" name="name" type="text" class="input-medium search-query form-control span2" value="<?php isset($this->params['name']) and printf($this->params['name']);?>">
            </div>

            <div class="control-group">
                <label for="code" class="span2">Staff code</label>
                <input id="code" name="code" type="text" class="input-large search-query form-control" value="<?php isset($this->params['code']) and printf($this->params['code']);?>">
            </div>


            <div class="control-group">
                <label for="email" class="span2">Email</label>
                <input id="email" name="email" type="text" class="input-medium search-query form-control span2" value="<?php isset($this->params['email']) and printf($this->params['email']);?>">
            </div>

            <div class="control-group">
                <label for="email" class="span2">Type</label>
                <select name="off_type" id="" class="form-control">
                    <option value="">Choose</option>
                    <?php
                        $arrType = unserialize(OFF_TYPE);
                        foreach($arrType as $key => $value){
                    ?>
                            <option value="<?php echo $key; ?>" <?php echo (isset($this->params['off_type']) AND $this->params['off_type'] == $key) ? 'selected':''?>>
                                <?php echo $value; ?>
                            </option>
                    <?php
                        }
                    ?>
                </select>
            </div>
        </div><!-- End childbearing -->

        <div class="span5">
            <div class="control-group">
                <label for="from_date" class="span2">From</label>
                <input id="from_date" name="from_date" type="text" class="input-medium search-query form-control span2 date" value="<?php isset($this->params['from_date']) and printf($this->params['from_date']);?>">
            </div>

            <div class="control-group">
                <label for="to_date" class="span2">To</label>
                <input id="to_date" name="to_date" type="text" class="input-medium search-query form-control span2 date" value="<?php isset($this->params['to_date']) and printf($this->params['to_date']);?>">
            </div>

            <div class="control-group">
                <label for="to_date" class="span2">Dánh sách BH</label>
                <input type="checkbox" name="bh" value="1" <?php if($this->params['bh'] == 1) echo 'checked';?>/>
            </div>

            <div class="control-group">
                <label for="to_date" class="span2">Đã tách ngày</label>
                <select name="detach" id="">
                    <?php
                        $arrDetach = array(
                            0 => 'ALL',
                            1 => 'PENDING',
                            2 => 'APPROVED',
                        );
                        foreach($arrDetach as $key =>  $value):
                    ?>
                    <option value="<?php echo $key;?>" <?php if($key == $this->params['detach']) echo 'selected'; ?> ><?php echo $value;?></option>
                    <?php
                        endforeach;
                    ?>
                </select>
            </div>

            <div class="control-group">
                <label for="to_date" class="span2">Expired</label>
                <select name="expired" id="">
                    <?php
                        $arrDetach = array(
                            0 => 'ALL',
                            1 => 'EXPIRED',
                            2 => 'NOT EXPIRED',
                        );
                        foreach($arrDetach as $key =>  $value):
                    ?>
                    <option value="<?php echo $key;?>" <?php if($key == $this->params['expired']) echo 'selected'; ?> ><?php echo $value;?></option>
                    <?php
                        endforeach;
                    ?>
                </select>
            </div>

        </div>
    </div>

    <input type="submit" name='search' class='btn btn-primary' value="search">
    <button type="reset" class="btn btn-warning">Reset</button>
    <button type='submit' name="export" value='1' class="btn btn-success">Export</button>
</form>
