<link rel="stylesheet" type="text/css" href="<?php echo HOST ?>css/bootstrap-grid.css"/>
<link rel="stylesheet" type="text/css" href="<?php echo HOST ?>css/request.css"/>
<style>
    
    @media only screen and (min-width: 300px) and (max-width: 574px) {
        .row_mobile {margin: 0vh -15vw !important;}
    }

    .ui-dialog{
        /* display: block !important; */
        left: 50%;
        top: 50%;
    }

    .content_layout {
        padding: 0px 0px;
    }
    
    #dialog-confirm input{
        margin-top: 2px;
        font-size: 15px;
    }
     .small-text{
        /*font-size: 8px;
        */
    }
     .table{
        font-size: 12px;
    }

    .alert {
        margin: 0vh 1vw !important;
    }
     .widget-content {
         padding: 5px 10px !important;
    }
     .container {
         padding-left: 2px !important;
         padding-right: 2px !important;
    }
     table-mobile th {
         text-align: left !important;
    }
     .widget-content-input-mobile input {
        /*border: none !important;
        */
        /*border-bottom: 2px solid #ccc !important;
        */
         width: 100% !important;
         margin: 0vh 0vw !important;
        /*outline: none !important;
        */
         padding-left: 0px !important;
    }
     input[disabled], input[readonly] {
         background-color: white !important;
         border: none !important;
         border-bottom: 0px solid #ccc !important;
         outline: none !important;
         -webkit-box-shadow: none !important;
         box-shadow: none !important;
         padding-left: 0px !important;
    }
     .col-1, .col-2, .col-3, .col-4, .col-5, .col-6, .col-7, .col-8, .col-9, .col-10, .col-11, .col-12, .col, .col-auto, .col-sm-1, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-10, .col-sm-11, .col-sm-12, .col-sm, .col-sm-auto, .col-md-1, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-10, .col-md-11, .col-md-12, .col-md, .col-md-auto, .col-lg-1, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-10, .col-lg-11, .col-lg-12, .col-lg, .col-lg-auto, .col-xl-1, .col-xl-2, .col-xl-3, .col-xl-4, .col-xl-5, .col-xl-6, .col-xl-7, .col-xl-8, .col-xl-9, .col-xl-10, .col-xl-11, .col-xl-12, .col-xl, .col-xl-auto {
         padding-right: 5vw !important;
        /* padding-left: 15px;
         */
    }
     .content_layout {
         overflow: visible !important;
         overflow-x: visible !important;
    }
     .printAreaCss input[type="checkbox"]{
        float:left;
    }
    
    .form_quick_edit{
        overflow-y: auto;
    }
    
    .warning_error{
        background: #ffe2e5;
    }
    
    .warning_success{
        background: #e1f0ff;
    }
    
    .lds-ripple {
        display: inline-block;
        position: absolute;
        width: 20px;
        height: 20px;
    }
    
    .lds-ripple div {
        position: absolute;
        border: 4px solid red;
        opacity: 1;
        border-radius: 50%;
        animation: lds-ripple 1s cubic-bezier(0, 0.2, 0.8, 1) infinite;
    }
    
    .lds-ripple div:nth-child(2) {
        animation-delay: -0.5s;
    }
      
    
    @keyframes lds-ripple {
        0% {
          top: 36px;
          left: 36px;
          width: 0;
          height: 0;
          opacity: 1;
        }
        100% {
          top: 0px;
          left: 0px;
          width: 72px;
          height: 72px;
          opacity: 0;
        }
    }
    
    .circle_wrap{
        display: block;
        width: 160px;
        height: 30px;
        position: relative;
    }
    
    .circle_wrap span{
        display: block;
        float: left;
        margin-left: 16px;
        color: red;
    }
    

    .circle {
        position: absolute;
        left: 6px;
        top: 32%;
        transform: translateX(-50%) translateY(-50%);
        width: 15px;
        height: 15px;
    }
    
    .circle:before {
          content: "";
          position: relative;
          display: block;
          width: 250%;
          height: 250%;
          box-sizing: border-box;
          margin-left: -75%;
          margin-top: -75%;
          border-radius: 45px;
          background-color: red;
          animation: pulse 1.25s cubic-bezier(0.215, 0.61, 0.355, 1) infinite;
        }

    .circle:after {
          content: "";
          position: absolute;
          left: 0;
          top: 0;
          display: block;
          width: 100%;
          height: 100%;
          background-color: red;
          border-radius: 50px;
          animation: circle 1.25s cubic-bezier(0.455, 0.03, 0.515, 0.955) -0.4s infinite;
        }
        
        .warning_success .circle_wrap span{
            color: #3699ff;
        }
        
        .warning_success .circle:before{
            background-color: #3699ff;
        }
        
        .warning_success .circle:after{
            background-color: #3699ff;
        }
      

      @keyframes pulse {
        0% {
          transform: scale(0.33);
        }
        80%,
        100% {
          opacity: 0;
        }
      }

      @keyframes circle {
        0% {
          transform: scale(0.8);
        }
        50% {
          transform: scale(1);
        }
        100% {
          transform: scale(0.8);
        }
      }


</style>
<form class="form_quick_edit" action="/request-office/list-request" method="post">
<div class="">
    <?php if (!empty($this->listRequest) AND !empty($this->IS_MOBILE)):
        foreach ($this->listRequest as $key => $value):?>
            <div class="container" style="margin-bottom: 20px;">
                <div class="widget-content widget-content-input-mobile">
                    <div class="">
                        <h7><a style="color: red;" class="" href="confirm-request?id=<?= $value["id"]; ?>">#<?= $value["id"]; ?></a></h7>
                    </div>
                    <div class="row justify-content-center row_mobile">
                        <div class="">
                            <label>
                                <h5><?= $this->staff[$value["created_by"]]; ?>
                                    - <?= $this->company[$value["company_id"]]; ?>
                                    - <?= date_format(date_create($value["date_offer"]), "d/m/Y"); ?></h5>
                            </label>
                        </div>
                        <!--                                 <div class="">
                                    <label>
                                        <h5><?= $value["content"]; ?></h5>
                                    </label>
                                </div> -->
                    </div>
                    <div class="row justify-content-center row_mobile">
                        <div class="col-9 col-lg-10 col-md-6 col-sm-10">
                            <h5><?= $this->translate_adapter->translate('rq_content',$this->current_lang);?></h5>
<!--                             <input class="input-medium" readonly
                                   value="<?= !empty($value["content"]) ? $value["content"] : ""; ?>"> -->
                                   <h7><?= !empty($value["content"]) ? $value["content"] : ""; ?></h7>
                        </div>
                    </div>
                    <div class="row justify-content-center row_mobile">
                        <div class="col-4 col-lg-5 col-md-6 col-sm-5  ">
                            <h5><?= $this->translate_adapter->translate('rq_type',$this->current_lang);?> </h5>
                            <input class="input-medium" readonly
                                   value="<?= !empty($value["name_category"]) ? $value["name_category"] : ""; ?>">

                        </div>
                        <div class="col-4 col-lg-5 col-md-6 col-sm-4">
                            <h5><?= $this->translate_adapter->translate('rq_pr_name',$this->current_lang);?></h5><input class="input-medium" readonly
                                                    value="<?= !empty($value["name_pr"]) ? $value["name_pr"] : "" ?>">
                        </div>
                        <div class="col-4 col-lg-5 col-md-6 col-sm-5">
                            <h5> <?= $this->translate_adapter->translate('department',$this->current_lang);?> </h5><input class="input-medium" readonly
                                                       value="<?= !empty($this->department) ? $this->department[$value["department_id"]] : ""; ?>">
                        </div>

                        <div class="col-4 col-lg-5 col-md-6 col-sm-4">
                            <h5><?= $this->translate_adapter->translate('rq_status',$this->current_lang);?> PR: </h5>
                            <?php
                            switch ($value["status_pr"]) {
                            case "1":
                                echo "Waiting Purchasing's Confirmed";
                                break;
                            case "2":
                                echo "Waiting Purchasing's Approved";
                                break;
                            case "3":
                                echo "Approved";
                                break;
                            }
                            ?>
                        </div>

                    </div>
                    <div class="row justify-content-center row_mobile">
                        <div class="col-9 col-lg-10 col-md-6 col-sm-10">
                            <h5><?= $this->translate_adapter->translate('rq_payment',$this->current_lang);?>
                                
                            </h5>
                            <h7>
                            <?= (!empty($value["has_payment"]) AND $value["has_payment"] == 1) ? "<i class='icon-ok' style='color:green;'></i>" : "<i class='icon-remove' style='color:red;'></i>"; ?>
                                                               <?php if (!empty($value["payment_type"]) AND $value["payment_type"]==1) echo "Cash"; ?>
                                            <?php if (!empty($value["payment_type"]) AND $value["payment_type"]==2) echo "Money Bank Transfer"; ?>
                            </h7>
                        </div>
                    </div>
                    
                    <div class="row justify-content-center row_mobile">
                        <div class="col-9 col-lg-10 col-md-6 col-sm-10 ">
                            <h5><?= $this->translate_adapter->translate('rq_note_detail_info',$this->current_lang);?>
                                <input  class="input-medium" 
                                        readonly
                                        value="<?= !empty($value["note"]) ? $value["note"] : ""; ?>">
                            </h5>
                        </div>
                    </div>
                    
                    <?php if($this->staff_id == 156):?>
                    <div class="row justify-content-center row_mobile">
                        <div class="col-9 col-lg-10 col-md-6 col-sm-10 ">
                            <h5><?= $this->translate_adapter->translate('rq_cost_before',$this->current_lang);?>
                                <input  style="font-weight: bold;color:red"
                                        class="input-medium" 
                                        readonly
                                        value="<?= !empty($value["cost_before"]) ? number_format($value["cost_before"])." ".$value["currency_name"] : ""; ?>">
                            </h5>
                        </div>
                    </div>
                    <?php endif;?>
                    
                    <div class="row justify-content-center row_mobile">
                        <div class="col-9 col-lg-10 col-md-6 col-sm-10 ">
                            <h5><?= $this->translate_adapter->translate('rq_amount_detail_info', $this->current_lang); ?>
                                <input  style="font-weight: bold;color:red"
                                        class="input-medium" 
                                        readonly
                                        value="<?= !empty($value["cost_temp"]) ? number_format($value["cost_temp"])." ".$value["currency_name"] : ""; ?>">
                            </h5>
                        </div>
                    </div>
                    
                    
                    
                    <div class="row justify-content-center row_mobile">
                        <div><label>
                                <h5 class="" style="color: red"><i>
                                    <?= (!empty($value["status"])) ? $value["status"]: "Hoàn tất";?>
                                            
                                        </i></h5></label></div>

                    </div>
                    
                    <div class="row" style="width: 100%;margin: 10px 0px;">
                        <?php if($this->check_approve[$value["id"]]['step'] == $value["step"]):  ?>
                            <div class="wrap_label" style="width: 50%;text-align: right;">
                                <h6> Tick confirm:</h6>
                            </div>
                            <div class="wrap_input" style="display: block;float: left;width: 50%;">
                                <input style="float:right;box-shadow: none;width: 20px !important;height: 20px !important;float: left !important;margin-left: 25px !important;" type="checkbox" class="check_all form_ajax button-right"
                                   name="multi_confirm[<?= !empty($value["id"]) ? $value["id"] : ""; ?>]"
                                   id="multi_confirm_<?= !empty($value["id"]) ? $value["id"] : ""; ?>"
                                   value="<?= !empty($value["id"]) ? $value["id"] : ""; ?>"/>
                            </div>
                        <?php endif;?>
                    </div>
                    
                    <div class="row justify-content-center">
                        <?php if ($this->userStorage->id == $value["created_by"]): ?>
                            <div class="col-3 col-lg-2 col-md-2 col-sm-2 btn alert alert-info">
                                <a href="edit-request?id=<?= $value["id"]; ?>" class="">
                                    <i class="icon-pencil"></i>
                                    <?= $this->translate_adapter->translate('rq_update',$this->current_lang);?>
                                </a>
                            </div>
                        <?php endif; ?>
                        <div class="col-3 col-lg-2 col-md-2 col-sm-2 btn alert alert-sucess ">
                            <a href="confirm-request?id=<?= $value["id"]; ?>" class=""><i class="icon-play"></i><?= $this->translate_adapter->translate('rq_detail',$this->current_lang);?></a>
                            
                        </div>
                        <?php if($this->check_approve[$value["id"]]['step'] == $value["step"]):  ?>
                        <form action="<?= HOST ?>request-office/confirm-request?id=<?= !empty($value["id"]) ? $value["id"] : ""; ?>" class="form-T" method="post"
                                enctype="multipart/form-data">
                            <button type="submit" name="submit" class="btn alert alert-success" value="1"><i class=" icon-check"></i>
                                <?= $this->translate_adapter->translate('rq_confirm',$this->current_lang);?>
                            </button>
                        </form>
                                
                        <?php endif;?>


                    </div>
                    
                </div>
            </div>
        <?php endforeach;?>
            <div class="row">
        <?php if(!empty($this->permission)):?>
        <input class="btn btn-primary span5" id="quick_confirm" type="submit" value="Confirm" >
        <?php endif;?>
    </div>
    <?php endif; ?>
        <div class="">


</div>
</div>


    
<?php if (!empty($this->listRequest) AND empty($this->IS_MOBILE)): ?>
    <table class="table table-bordered">
        <thead>
        <tr>
            <th>#</th>
            <th>ID</th>
            <th style="width:100px"><?= $this->translate_adapter->translate('rq_company', $this->current_lang); ?><!--Công ty--></th>
            <?php if($this->department_id_check == 156 || $this->staff_id == 26928):?>
                <th><?= $this->translate_adapter->translate('rq_month_year_fee', $this->current_lang); ?><!--Chi phí cho tháng--></th>
                <th><?= $this->translate_adapter->translate('rq_type', $this->current_lang); ?><!-- Loại đề xuất --></th>
                <th style="width:100px"><?= $this->translate_adapter->translate('rq_project', $this->current_lang); ?><!--Dự án--></th>
                <th><?= $this->translate_adapter->translate('rq_payee_detail_info', $this->current_lang); ?><!--Chi trả cho--></th>
            <?php else:?>
                <?php if($this->staff_id != 17):?>
                <th style="width:80px"><?= $this->translate_adapter->translate('rq_type', $this->current_lang); ?><!--Loại đề xuất--></th>
                <?php endif;?>
                <th style="position:relative"><?= $this->translate_adapter->translate('rq_request_type_group', $this->current_lang); ?> <i class="icon-large icon-search open-dialog-search" style="color: green;position: absolute;right: 0px;"></i><!--Nhóm hạng mục--></th>
            <?php endif;?>
            <?php echo $this->sorting(array(
                
                "cost_temp" => $this->translate_adapter->translate('rq_amount_of_actual', $this->current_lang),
            ),
            $this->url, $this->sort, $this->desc); ?>
            <th><?= $this->translate_adapter->translate('rq_detail_info', $this->current_lang); ?><!--Nội dung yêu cầu--></th>
            <th><?= $this->translate_adapter->translate('rq_status', $this->current_lang); ?><!--Trạng thái--></th>
            <th><?= $this->translate_adapter->translate('rq_status', $this->current_lang); ?> PR<!--Trạng thái PR--></th>
            <th><?= $this->translate_adapter->translate('rq_note_detail_info', $this->current_lang); ?><!--Note--></th>
            <th><?= $this->translate_adapter->translate('rq_approved_by', $this->current_lang); ?><!--Những người đã duyệt--></th>
            
            <?php if($this->staff_id == 17 AND $this->check_has_approve == 1):?>
                <th><?= $this->translate_adapter->translate('finance_payment_date', $this->current_lang); ?><!--Ngày thanh toán--></th>
            <?php endif;?>
            
            <th><?= $this->translate_adapter->translate('rq_date', $this->current_lang); ?><!--Ngày yêu cầu--></th>
            <th>Action</th>
            
            <th style="min-width:30px"><input type="checkbox" id="check_all" class="form_ajax" name="check_all" value="1"/></th>
            
        </tr>
        </thead>
        <tbody>
            
        <?php if (!empty($this->listRequest)):
                $total_cost_before=0;
                $total_cost_temp=0;
            foreach ($this->listRequest as $key => $value):
                    $total_cost_before+=$value["cost_before"];
                    $total_cost_temp+=$value["cost_temp"];
                ?>
            
                <?php 
                    $request_warning = explode(',', $value['warning_status']);
                    $class_warning = NULL;
                    if(in_array(1, $request_warning)){
                        $class_warning = "warning_error";
                    }
                    if(in_array(2, $request_warning) AND !in_array(1, $request_warning)){
                        $class_warning = "warning_success";
                    }
                ?>
                
                <tr class="accordion-heading <?php echo $class_warning;?>"
                        data-request_requester_by='<?= !empty($this->staff[$value["created_by"]]) ? $this->staff[$value["created_by"]] : ""; ?>'
                        data-request_deparment='<?= !empty($this->department) ? $this->department[$value["department_id"]] : ""; ?>'
                        data-request_amount='<?= !empty($value["total_cost"]) ? ($value["currency_name"] == 'USD' ? number_format($value["total_cost"],2,'.',',') : number_format($value["total_cost"])).' '.$value["currency_name"] : ""; ?>'
                        data-request_amount_advanced='<?= !empty($value["cost_advanced"]) ? number_format($value["cost_advanced"]) : ""; ?>'
                           
                        data-request_no="<?php echo $value["id"];?>"
                        data-request_date="<?php echo date("d/m/Y", strtotime($value["created_at"]));?>"
                        data-request_description="<?= !empty($value["content"]) ? $value["content"] : ""; ?>"
                        data-advanced_request_id='<?= !empty($value["advance_request_id"]) ? $value["advance_request_id"] : ""; ?>'
                        data-id='<?php echo $value["id"] ?>'
                        data-category_id='<?php echo $value["category_id"] ?>'
                        data-staff_approved='<?=!empty($value["list_staff_confirm"]) ? $value["list_staff_confirm"]:""?>'
                        data-has_purchasing_request='<?=!empty($value["has_purchasing_request"]) ? $value["has_purchasing_request"]:""?>'
                        data-purchasing_confirm='<?=!empty($value["confirm_name"]) ? $value["confirm_name"]:""?>'
                        data-purchasing_approve='<?=!empty($value["approve_name"]) ? $value["approve_name"]:""?>'
                        data-payment_type='<?=!empty($value["payment_type"]) ? $value["payment_type"]:""?>'
                        data-request_payee='<?=!empty($value["payee"]) ? $value["payee"]:""?>'
                        data-request_note='<?=!empty($value["note"]) ? $value["note"]:""?>'
                        data-currency='<?=!empty($value["currency"]) ? $value["currency"]:""?>'
                        data-request_amount_in_words='<?= !empty($value["total_cost"]) ? My_Number::priceText(intval($value["total_cost"])).$value["currency"]:"";?>'
                        data-cost_calculation='<?php if (!empty($value["cost_advanced"])) echo number_format($value["cost_temp"]-$value["cost_advanced"]); ?>'
                        data-cost_calculation_val='<?php if (!empty($value["cost_advanced"])) echo ($value["cost_temp"]-$value["cost_advanced"]); ?>'
                        data-request_step='<?=!empty($value["step"]) ? $value["step"]:""?>'
                        data-request_payment_detail='<?= (!empty($this->listPaymentDetail[$value["id"]])) ? $this->listPaymentDetail[$value["id"]]["department"]:""; ?>'
                        data-request_payment_detail_cost='<?= (!empty($this->listPaymentDetail[$value["id"]])) ?  number_format($this->listPaymentDetail[$value["id"]]["cost"]):""; ?>'
                        data-request_payment_detail_amount='<?= (!empty($this->listPaymentDetail[$value["id"]])) ? $this->listPaymentDetail[$value["id"]]["amount"]:""; ?>'
                        data-request_by='<?= !empty($this->staff[$value["created_by"]]) ? $this->staff[$value["created_by"]] : ""; ?>'
                        data-estimasted_liquidation_date='<?=!empty($value["estimasted_liquidation_date"]) ? $value["estimasted_liquidation_date"]:""?>'

                >
                    <td style="text-align: center;">
                        
                        <!--<a href="#id" class="collapse_a btn btn-default btn-small" id="m_<?php echo $value["id"] ?>">+</a>-->
                        <?php
                            $inc = $this->offset + $key + 1;
                            echo $inc;
                        ?>
                        <br>
                    </td>
                    <td><?= !empty($value["id"]) ? $value["id"] : ""; ?></td>
                    <td style="font-size:12px;padding-right: 5px;padding-left: 5px;">
                        <i class="icon-large icon-caret-left" style="font-size: 5px;"></i> <?= !empty($this->company[$value["company_id"]]) ? $this->company[$value["company_id"]] : ""; ?><br>
                        <i class="icon-large icon-caret-left" style="font-size: 5px;"></i> <?= !empty($this->department) ? $this->department[$value["department_id"]] : ""; ?><br>
                        <i class="icon-large icon-caret-left" style="font-size: 5px;"></i> <span style="font-size:12px;color:blue"><?= !empty($this->staff[$value["created_by"]]) ? $this->staff[$value["created_by"]] : ""; ?></span>
                    </td>
                    <?php if($this->department_id_check == 156 || $this->staff_id == 26928):?>
                        <td><?= !empty($value["month_fee"]) ? $value["month_fee"].'/'.$value["year_fee"] : NULL; ?></td>
                        <td><?= !empty($value["name_category"] AND $this->current_lang == "vi") ? $value["name_category"] :  $value["name_category_eng"]; ?></td>
                        <td>
                            <?php if(!empty($value["project_name"])):?>
                            <i style="color:blue;font-style: inherit;"><i class="icon-large icon-caret-left" style="font-size: 5px;"></i> <?= $this->translate_adapter->translate('rq_project', $this->current_lang); ?>:</i><br> <?= !empty($value["project_name"]) ? $value["project_name"] : ""; ?><br>
                            <?php endif;?>
                            
                            <?php if(!empty($value["type_group_title"])):?>
                            <i style="color:blue;font-style: inherit;"><i class="icon-large icon-caret-left" style="font-size: 5px;"></i> <?= $this->translate_adapter->translate('rq_request_type_group', $this->current_lang); ?>:</i><br> <?= !empty($value["type_group_title"]) ? $value["type_group_title"] : ""; ?><br>
                            <?php endif;?>
                            
                            <?php if(!empty($value["request_type_title"])):?>
                            <i style="color:blue;font-style: inherit;"><i class="icon-large icon-caret-left" style="font-size: 5px;"></i> <?= $this->translate_adapter->translate('rq_request_type', $this->current_lang); ?>:</i><br> <?= !empty($value["request_type_title"]) ? $value["request_type_title"] : ""; ?>
                            <?php endif;?>
                        </td>
                        <td><?= !empty($value["payee"]) ? $value["payee"] : ""; ?></td>
                    <?php else:?>
                        <?php if($this->staff_id != 17):?>
                        <td style="font-size:12px;padding-right: 5px;padding-left: 5px;">
                            <i class="icon-large icon-caret-left" style="font-size: 5px;"></i> <?= !empty($value["name_category"] AND $this->current_lang == "vi") ? $value["name_category"] :  $value["name_category_eng"]; ?><br>
                            <?= (!empty($value["has_payment"]) AND $value["has_payment"] == 1) ? "<i class='icon-ok' style='color:green;'></i>" : "<i class='icon-remove' style='color:red;'></i>"; ?>
                            <?php if (!empty($value["payment_type"]) AND $value["payment_type"]==1) echo "Cash"; ?>
                            <?php if (!empty($value["payment_type"]) AND $value["payment_type"]==2) echo "Money Bank Transfer"; ?>
                        </td>
                        <?php endif;?>
                        <td><?= !empty($value["type_group_title"]) ? $value["type_group_title"] : ""; ?></td>
                    <?php endif;?>
                    
                    <td>
                        <?php 
                            $cost_temp = 0;
                            //Đối với thanh toán tạm ứng
                            if($value['category_id'] == 3){
                                $cost_temp = $value["cost_temp"] - $value['cost_advanced'];
                                if($cost_temp < 0){
                                    $name_currency = "Thu";
                                }
                                else{
                                    $name_currency = "Chi";
                                }
                                
                                $cost_temp = abs($cost_temp);
                                echo !empty($cost_temp) ? ($value["currency_name"] == 'USD' ? $name_currency." ".number_format($cost_temp,2,'.',',') : $name_currency." ".number_format($cost_temp)) : "";
                            }
                            else{
                                $cost_temp = $value["cost_temp"];
                                echo !empty($cost_temp) ? ($value["currency_name"] == 'USD' ? number_format($cost_temp,2,'.',',') : number_format($cost_temp)) : ""; 
                            }
                            
                            
                        ?> 
                        <?php echo $value["currency_name"]; ?>
                    </td>
                    <td><?= !empty($value["content"]) ? $value["content"] : ""; ?></td>
                    <td>
                        <?php echo $value["status"];?>
                        
                        <?php if($class_warning == "warning_error"):?>
                        <div class="circle_wrap">
                            <div class="circle"></div>
                            <span>Có yêu cầu điều chỉnh</span>
                        </div>
                        <?php endif;?>
                        
                        <?php if($class_warning == "warning_success"):?>
                        <div class="circle_wrap">
                            <div class="circle"></div>
                            <span>Đã điều chỉnh theo yêu cầu</span>
                        </div>
                        <?php endif;?>
                        
                    </td>
                    <td>
                        <?php
                        switch ($value["status_pr"]) {
                            case "1":
                                echo "Waiting Purchasing's Confirmed";
                                break;
                            case "2":
                                echo "Waiting Purchasing's Approved";
                                break;
                            case "3":
                                echo "Approved";
                                break;
                        }
                        ?>
                    </td>
                    <td style="font-size: 9px;">
                        
                        <?php if($value['reject'] == 1):?>
                        <span class="label label-important">Đề xuất bị từ chối</span><br>
                        <?php endif;?>
                        
                        <?php 
                            $list_staff_note = $value['list_staff_note'];
                            $list_staff_note = explode(';', $list_staff_note);
                            foreach($list_staff_note as $k=>$v){
                                $staff_note = explode('_', $v);
                                if(!empty($staff_note[1])){
                                    echo "<span style='color:#3a87ad;'><span class='label label-info'>".$staff_note[0]."</span><br>".$staff_note[1]."</span><br>";
                                }
                            }
                        ?>
                    </td>
                    <td style="font-size: 9px;">
                        <?php 
                            $list_staff_confirm = $value['list_staff_confirm'];
                            $list_staff_confirm = explode(';', $list_staff_confirm);
                            foreach($list_staff_confirm as $k=>$v){
                                $staff_confirm = explode(',', $v);
                                if($staff_confirm[1] == 1){
                                    echo "<span style='color:green;'>".$staff_confirm[0]." <i class='icon  icon-ok-sign'></i></span><br>";
                                }
                                else{
                                    echo "<span style='color:#aaa;'>".$staff_confirm[0]." <i class='icon  icon-question-sign'></i></span><br>";
                                }
                            }
                        ?>
                    </td>
                    
                    <?php if($this->check_approve[$value["id"]]['finish_request'] == 1):?>
                    <td><input name="finance_payment_date[<?= !empty($value["id"]) ? $value["id"] : ""; ?>]" style="width:80px" class="date has_date" /></td>
                    <?php endif;?>
                    
                    <td><?php echo date("Y-m-d", strtotime($value["created_at"]));?></td>
                    
                    <td style="width:65px">
                        <div class=" ">
                            <?php if ($this->userStorage->id == $value["created_by"] || $this->userStorage->id == 5968 || $this->userStorage->id == 26928 || $this->userStorage->id == 28102): ?>
                                <div class=" alert-sucess">
                                    <a href="edit-request?id=<?= $value["id"]; ?>" class="small-text"><i class="icon-pencil "></i><?= $this->translate_adapter->translate('rq_update',$this->current_lang);?></a>
                                </div>
                            <?php endif; ?>
                            <div class=" alert-sucess ">
                                <a href="confirm-request?id=<?= $value["id"]; ?>" class="small-text"><i class="icon-play"></i><?= $this->translate_adapter->translate('rq_detail',$this->current_lang);?></a>
                            </div>
                            
                            <?php if($value['reject'] != 1):?>
                            <a class='carrier-confirm small-text' id="request_<?php echo $value["id"] ?>"><i  class='icon-large icon-print'></i></a>
                            <?php endif;?>
                            
                        </div>
                    </td>
                    
                    
                    
                    <td>
                        <?php if($this->check_approve[$value["id"]]['step'] == $value["step"]):  ?>
                        <input type="checkbox" class="check_all form_ajax"
                               name="multi_confirm[<?= !empty($value["id"]) ? $value["id"] : ""; ?>]"
                               id="multi_confirm_<?= !empty($value["id"]) ? $value["id"] : ""; ?>"
                               value="<?= !empty($value["id"]) ? $value["id"] : ""; ?>"/>
                        <?php endif;?>
                    </td>
                </tr>
                <tr class="m_<?php echo $value['id'] ?> accordion-body collapse" style="display:none;">
                    <td colspan="2" style="text-align:center"><b>Ngày thanh toán</b></td>
                    <td colspan="2" style="text-align:center"><b>Số tiền</b></td>
                    <td colspan="2" style="text-align:center"><b>Số hóa đơn</b></td>
                    <td colspan="2" style="text-align:center"><b>Action</b></td>
                </tr>
                
                <?php 
                $list_payment = $value['list_payment'];
                $list_payment = explode(";", $list_payment);
                foreach($list_payment as $k=>$v){
                    $payment = explode(",", $v);
                    if($payment[2] > 0){
                        echo '<tr class="m_'.$value['id'].'" accordion-body collapse" style="display:none;">
                            <td colspan="2" style="text-align:center">'.$payment[1].'</td>
                            <td colspan="2" style="text-align:right">'.number_format($payment[2]).'</td>
                            <td colspan="2" style="text-align:center">'.$payment[3].'</td>
                            <td colspan="2" style="text-align:center"><i class="icon-large icon-print open-dialog-confirm-new" data-id="'.$payment[0].'" request-stt="'.$k.'"></i></td>
                        </tr>';
                    }
                    
                }
                ?>
                
                <tr class="m_<?php echo $value['id'] ?> accordion-body collapse" style="display:none;">
                    <td>Attached files</td>
                    <td><?php if(!empty($value["file_url"])):
                        foreach($value["file_url"] as $k => $v):?>
                            <a download style="font-size: 12px;"href="<?= HOST.$v; ?>"> <?=$value["file_name"][$k];?></a><br>
                        <?php endforeach;endif;?>
                    </td>
                </tr>
            <?php endforeach;?> 
            <?php endif; ?>
        <tr>
            
                <td></td>
                <td></td>
                <td></td>
                <?php if($this->department_id_check == 156 || $this->staff_id == 26928):?>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <?php else:?>
                    <?php if($this->staff_id != 17):?>
                    <td></td>
                    <?php endif;?>
                    <td></td>
                <?php endif;?>
                <td>Tổng: <?=number_format($total_cost_temp);?></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
            
        </tr>
        </tbody>
    </table>
<div class="page-header">

    <div class="button-right">
        <?php if($this->check_tbp_has_approve == 1):?>
        <input class="btn btn-primary" id="quick_confirm" type="submit" value="Confirm" >
        <?php endif;?>
    </div>
</div>
</form>

<?php endif; ?>
<div class="paging">
    <?php echo $this->paging($this->total, $this->limit, $this->offset, $this->url); ?>
</div>

                                                     
<div id="dialog-search" style="display: none;">
    <form class="form-search form-horizontal" method="get" action="/request-office/list-request">
        <div class="control-group">											
            <label class="control-label" for="firstname"><?php echo $this->translate_adapter->translate('rq_amount_of_actual', $this->current_lang);?></label>
            <div class="controls">
                <input name="cost_temp" type="text" class="" value="" autocomplete="off">
            </div>
            <button type="submit" class="btn btn-primary button-right">Filter</button>
        </div>
    </form>
</div>

<!-- Form payment request -->
<div id="dialog-confirm-new" title="Thông tin thanh toán" style="display: none;">
<div class="container">
    <div class="PrintAreaNew printAreaCss" style="padding-left: 20px;">
    <!-- div row below -->
    <input style="display:none;" value="" class="request_category" id="request_category"/>
    <div class="row justify-content-start">
    </div>
    <div class="row justify-content-start">
     <span  readonly="readonly" class="new_request_id"></span>
    </div>
    <div class="row justify-content-center">
        <h4>Phiếu đề nghị thanh toán <i class="request_stt" style="font-style: inherit;"></i> </h4>
    </div>
    <div class="row justify-content-end" style="margin-right: 100px !important;">
        <span class="request_no">Số/No: </span>
    </div>
    <div class="row justify-content-end" style="margin-right: 100px !important;">
        <span class="request_date">Ngày/Date: </span>
    </div>
    <div class="row">

        <div class="span12">
            <h6>Tên nhân viên/Requester By:
            <span  readonly="readonly" class="new_created_by"></span></h6>
            <h6>Phòng/Department:
            <span  readonly="readonly" class="new_department_name"></span></h6>
            <h6>Đề nghị trả cho/Payee:
            <span  readonly="readonly" class="new_payee"></span></h6>
            <h6>Số tiền bằng số/Amount:
            <span  readonly="readonly" class="new_payment_cost"></span></h6>
            <h6>Số tiền bằng chữ/Amount in words:
            <span  readonly="readonly" class="new_payment_cost_words"></span></h6>
            <h6>Lý do/Description:
            <span class="new_content"></span><h6>
            <h6>Ghi chú/Note:
            <span class="new_note"></span><h6>
        </div>
    </div>
    <div class="row">
        <div class="span12">
        </div>
    </div>
    <div class="row">
        <div class="span12">
        <h6 class="">Thanh toán/Pay by:</h6>
        <div class="justify-content-center">
            <h6 style=""class="span3">Tiền mặt/Cash
                <input style="float:left;" disabled="disabled" class="new_cash" type="checkbox"/>
            </h6>
            <h6 class="span3">Chi phiếu/Bank note
                <input style="float:left;" disabled="disabled" class="new_bank_note" type="checkbox"/>
            </h6>
            <h6 class="span3">Chuyển khoản/TTR
                <input style="float:left;" disabled="disabled" class="new_ttr" type="checkbox"/>
            </h6>
        </div>
        </div>
    </div>
    <br>
<br>
    <div class="row">
            <div class="">
                <div class="span3" style="position: relative">
                    <h6 style="">1.Người đề nghị<br>Requestted by
                    </h6>
                    
                    <span class="new_created_by" style="position: absolute;bottom: -40px;left: 0;font-weight: bold;"></span>
                </div>

                <div class="span3">

                    <h6 >2.Phụ trách bộ phận<br>Leader of the Unit
                    </h6>
                </div>

                <div class="span3">

                    <h6 >3.Kế toán kiểm tra<br>Check by
                    </h6>

                </div>
                <div class="span3">
                    <h6 >4.Giám đốc duyệt<br>Approved by Director
                    </h6>

                </div>
                </div>
        </div>
    <br><br><br>
    <div class="row" >
        <div class="">
                <div class="span3" >
                    <h6 style="">5.Thũ quỹ<br>Treasure
                    </h6>
                </div>

                <div class="span3">

                    <h6 >6.Người nhận tiền<br>Received By
                    </h6>
                </div>
            </div>
    </div>
    </div>
    <div class="row" style="border-bottom: 1px solid; padding-bottom: 50px;">
    </div>
    <br><br>
</div>
    <div class="row" >
        <div class="span3 payment_form_dialog" style="display: none;">
            <h4>Thanh toán nhanh</h4>
            <label> Số chứng từ
                <input />
            </label>
            <label> Ngày chứng từ
                <input />
            </label>
            <label> Số tiền thanh toán
                <input />
            </label>
        </div>
        <div class="span3 confirm_form_dialog" style="display: none;">
        </div>
        <div class="offset-9 span3 PrintAreaNew " style="float:right;">
            <h4>Những người đã duyệt</h4>
            <div class="new_list_confirm"></div>
        </div>
    </div>
   <button style="float:right;" type="button" class="button-print-new btn-primary" > <i class="icon-copy"></i> Print</button>
</div>


<!-- Form payment request -->
<!-- START category 1 -->
<div id="dialog-confirm1" title="Thông tin thanh toán" style="display: none;">
    <div class="container">
        <div class="PrintArea1 printAreaCss" style="padding-left: 23px;padding-right: 5px;">
        <!-- div row below -->
        <input style="display:none;" value="" class="request_category" id="request_category"/>
        <div class="row justify-content-start">
        </div>
        <div class="row justify-content-start">
         <span  readonly="readonly" class="request_id" name="request_id"></span>
        </div>
        <div class="row justify-content-center">
        <h4 style="font-size: 12px">Phiếu đề nghị thanh toán </h4>
        </div>
        <div class="row justify-content-end" style="margin-right: 100px !important;">
            <span class="request_no" style="font-size: 10px !important;">Số/No: </span>
        </div>
        <div class="row justify-content-end" style="margin-right: 100px !important;">
            <span class="request_date" style="font-size: 10px !important;">Ngày/Date: </span>
        </div>
        <div class="row">

            <div class="span12">
                <h6 style="font-size: 10px">Tên nhân viên/Requester By:
                <span  readonly="readonly" class="request_requester_by" name="requesrequest_requester_byter_fullname"></span></h6>
                <h6 style="font-size: 10px">Phòng/Department:
                <span  readonly="readonly" class="request_deparment" name="request_deparment"></span></h6>
                <h6 style="font-size: 10px">Đề nghị trả cho/Payee:
                <span  readonly="readonly" class="request_payee" name="request_payee"></span></h6>
                <h6 style="font-size: 10px">Số tiền bằng số/Amount:
                <span  readonly="readonly" class="request_amount" name="request_amount"></span></h6>
                <h6 style="font-size: 10px">Số tiền bằng chữ/Amount in words:
                <span  readonly="readonly" class="request_amount_in_words" name="request_amount_in_words"></span></h6>
                <h6 style="font-size: 10px">Lý do/Description:
                <span class="request_description" name="request_description"></span><h6>
                <h6 style="font-size: 10px">Ghi chú/Note:
                <span class="request_note" name="request_note"></span><h6>
            </div>
<!--             <div class="span3">
                <label>Ngày đề xuất:</label>
                <input  readonly="readonly" class="requester_fullname" name="requester_fullname"/>

            </div> -->
        </div>
        <div class="row">
            <div class="span12">
            </div>
        </div>
        <div class="row">
            <div class="span12">
            <h6 style="font-size: 10px">Thanh toán/Pay by:</h6>
            <div class="justify-content-center">
                <h6 style="font-size: 10px; margin-top: 10px" class="span3">Tiền mặt/Cash
                    <input style="float:left; margin-top: 0" disabled="disabled" class="request_cash" type="checkbox"/>
                </h6>
                <h6 style="font-size: 10px; margin-top: 10px" class="span3">Chi phiếu/Bank note
                    <input style="float:left; margin-top: 0" disabled="disabled" class="request_bank_note" type="checkbox"/>
                </h6>
                <h6 style="font-size: 10px; margin-top: 10px" class="span3">Chuyển khoản/TTR
                    <input style="float:left; margin-top: 0" disabled="disabled" class="request_ttr" type="checkbox"/>
                </h6>
            </div>
            </div>
        </div>
        <div class="row mt-2">
                <div class="">
                    
                    <div class="span2" style="position: relative">
                        <h6 style="font-size: 10px">1.Người đề nghị<br>Requestted by
                        </h6>

                        <span class="request_requester_by" style="position: absolute;bottom: -40px;left: 0;font-weight: bold;font-size: 10px;"></span>
                    </div>

                    <div class="span2">

                        <h6 style="font-size: 10px">2.Phụ trách bộ phận<br>Leader of the Unit
                            <!-- <input disabled="disabled" class="request_leader_significant" type="checkbox"/> -->
                        </h6>
                    </div>

                    <div class="span2">

                        <h6 style="font-size: 10px">3.Kế toán kiểm tra<br>Check by
                             <!-- <input disabled="disabled" class="request_checker_significant" type="checkbox"/> -->
                        </h6>

                    </div>
                    <div class="span2">
                        <h6 style="font-size: 10px">4.Giám đốc duyệt<br>Approved by Director
                             <!-- <input disabled="disabled" class="request_director_significant" type="checkbox"/> -->
                        </h6>

                    </div>
                    </div>
            </div>
        <br><br><br>
        <div class="row" >
            <div class="">
                    <div class="span2" >
                        <h6 style="font-size: 10px">5.Thũ quỹ<br>Treasure
                            <!-- <input disabled="disabled" class="request_requestted_by_significant" type="checkbox"/> -->
                        </h6>
                    </div>

                    <div class="span2">

                        <h6 style="font-size: 10px">6.Người nhận tiền<br>Received By
                            <!-- <input disabled="disabled" class="request_leader_significant" type="checkbox"/> -->
                        </h6>
                    </div>
                </div>
        </div>
        
        <div class="row">
            <div class="approve_wrap" style="margin-top: 50px">
                <div class="span3">
                    <h4 style="font-size: 11px">Những người đã duyệt</h4>
                    <div class="staff_approved"></div>
                </div>

                <div class="span3 purchasing_approve_block" style="display:none">
                    <h4 style="font-size: 11px">Phòng mua hàng</h4>
                    <div class="purchasing_approved">
                        <div class="purchasing_confirm"></div>
                        <div class="purchasing_approve"></div>
                    </div>
                </div>
            </div>
        </div><!-- row-->
        
        </div>
        <div class="row" style="border-bottom: 1px solid; padding-bottom: 50px;">
        </div>
        <br><br>
    </div>
        <div class="row" >
            <div class="span3 payment_form_dialog" style="display: none;">
                <h4>Thanh toán nhanh</h4>
                <label> Số chứng từ
                    <input />
                </label>
                <label> Ngày chứng từ
                    <input />
                </label>
                <label> Số tiền thanh toán
                    <input />
                </label>
            </div>
            <div class="span3 confirm_form_dialog" style="display: none;">
            </div>
            
            
<!--            <div class="span3 PrintArea1" style="float:right;">
                <h4>Chi tiết tách phí</h4>
                <div class="payment_detail"></div>
                <div class="payment_detail_cost"></div>
                <div class="payment_detail_amount"></div>
            </div>-->
        </div>
       <!--<button style="float:right;" type="button" class="button-select btn-warning" > <i class="icon-ok"></i>Tick Confirm</button>-->
       <button style="float:right;" type="button" class="button-print btn-primary" > <i class="icon-copy"></i> Print</button>
    </div>
<!-- END category 1 -->


<!-- START category 2 -->
<div id="dialog-confirm2" title="Thông tin thanh toán" style="display: none;">
    <div class="container">
        <div class="PrintArea2 printAreaCss" style="padding-left: 20px; padding-right: 25px; font-size: 12px;">
        <!-- div row below -->
        <div class="row justify-content-start">
         <span  readonly="readonly" class="request_id" name="request_id"></span>
        </div>
        <div class="row justify-content-center">
        <h4>PHIẾU ĐỀ NGHỊ TẠM ỨNG </h4>
        </div>
        <div class="row justify-content-end" style="margin-right: 100px !important;">
            <span class="request_no">Số/No: </span>
        </div>
        <div class="row justify-content-end" style="margin-right: 100px !important;">
            <span class="request_date">Ngày/Date: </span>
        </div>
        <div class="row">

            <div class="span12">
                <h6>Tên nhân viên/Requester By:
                <span  readonly="readonly" class="request_requester_by" name="requesrequest_requester_byter_fullname"></span></h6>
                <h6>Phòng/Department:
                <span  readonly="readonly" class="request_deparment" name="request_deparment"></span></h6>
                <h6>Thanh toán cho:
                <span  readonly="readonly" class="request_payee"></span></h6>
                <h6>Ghi chú:
                <span  readonly="readonly" class="request_note"></span></h6>
    <table class="table table-bordered">
        <!-- start header -->
        <tr>
            <td>Stt/No</td>
            <td>Diễn giải/Description</td>
            <td>Số tiền ước tính/Estimated Amt.(VND)</td>

        </tr>
        <!-- end header -->
        <tr>
            <td style="">


            </td>
            <td>
                 <span class="request_description" name="request_description"></span>
            </td>
            <td>
                <span  readonly="readonly" class="request_amount" name="request_amount"></span>

            </td>
        </tr>
        <tr>
            <td colspan="2">Cộng/Total</td>
            <td >
                <span  readonly="readonly" class="request_amount" name="request_amount"></span>
            </td>


        </tr>
        <tr>
            <td colspan="2">Số tiền bằng chữ/Amount in words</td>
            <td >
                 <span  readonly="readonly" class="request_amount_in_words" name="request_amount_in_words"></span>
            </td>

        </tr>
        <tr>
            <td colspan="2">Ngày dự tính hoàn trả/Estimasted liquidation date</td>
            <td>
               <span class="estimasted_liquidation_date"></span> 
            </td>

        </tr>
    </table>
    <p>Tôi hiểu rằng nếu không thanh toán trong vòng 07 ngày kể từ ngày nhận tiền, số tiền này sẽ được trừ vào lương của tôi./ I understand that if I do not liquidate cash advance within 07 days from the receipt’s date, this amount will be deducted from my salary.</p>
            </div>
        </div>
        <div class="row">
            <div class="span12">
            </div>
        </div>
        <div class="row">
                <div class="">
                    <div class="span2" style="position: relative">
                        <h6 style="">1.Người đề nghị<br>Requestted by
                            <!-- <input disabled="disabled" class="request_requestted_by_significant" type="checkbox"/> -->
                        </h6>
                        <span class="request_by" style="position: absolute;bottom: -62px;left: 0;font-weight: bold;"></span>
                    </div>

                    <div class="span2">

                        <h6 >2.Phụ trách bộ phận<br>Leader of the Unit
                            <!-- <input disabled="disabled" class="request_leader_significant" type="checkbox"/> -->
                        </h6>
                    </div>

                    <div class="span2">

                        <h6 >3.Kế toán kiểm tra<br>Check by
                             <!-- <input disabled="disabled" class="request_checker_significant" type="checkbox"/> -->
                        </h6>

                    </div>
                    <div class="span2">
                        <h6 >4.Giám đốc duyệt<br>Approved by Director
                             <!-- <input disabled="disabled" class="request_director_significant" type="checkbox"/> -->
                        </h6>

                    </div>
                    </div>
            </div>
        <br><br><br>
        <div class="row" >
            <div class="">
                    <div class="span2" >
                        <h6 style="">5.Thũ quỹ<br>Treasure
                            <!-- <input disabled="disabled" class="request_requestted_by_significant" type="checkbox"/> -->
                        </h6>
                    </div>

                    <div class="span2">

                        <h6 >6.Người nhận tiền<br>Received By
                            <!-- <input disabled="disabled" class="request_leader_significant" type="checkbox"/> -->
                        </h6>
                    </div>
                </div>
        </div>
        
        <div class="row">
            <div class="approve_wrap" style="margin-top: 50px">
                <div class="span3">
                    <h4 style="font-size: 11px">Những người đã duyệt</h4>
                    <div class="staff_approved"></div>
                </div>

                <div class="span3 purchasing_approve_block" style="display:none">
                    <h4 style="font-size: 11px">Phòng mua hàng</h4>
                    <div class="purchasing_approved">
                        <div class="purchasing_confirm"></div>
                        <div class="purchasing_approve"></div>
                    </div>
                </div>
            </div>
        </div><!-- row-->
        
        </div>
        <div class="row" style="border-bottom: 1px solid; padding-bottom: 70px;">
        </div>
        <br><br>
    </div>
        <div class="row" >
            <div class="span3 payment_form_dialog" style="display: none;">
                <h4>Thanh toán nhanh</h4>
                <p style="font-size:11px;color: red;font-style: bold,italic;">Lưu ý chỉ thanh toán khi thanh toán tiền 1 lần</p>
                <label> Số chứng từ
                    <input />
                </label>
                <label> Ngày chứng từ
                    <input />
                </label>
                <label> Số tiền thanh toán
                    <input />
                </label>
            </div>
            <div class="span3 confirm_form_dialog" style="display: none;">
            </div>
            
            

        </div>
       <!--<button style="float:right;" type="button" class="button-select btn-warning" > <i class="icon-ok"></i>Tick duyệt nhanh</button>-->
       <button style="float:right;" type="button" class="button-print btn-primary" > <i class="icon-copy"></i> Print</button>
</div>
<!-- END category 2 -->


<!-- START category 3 -->
<div id="dialog-confirm3" title="Thông tin thanh toán" style="display: none;">
    <div class="container">
        <div class="PrintArea3 printAreaCss" style="padding-left: 20px; padding-right:10px;font-size: 12px">
        <!-- div row below -->
        <div class="row justify-content-start">
         <span  readonly="readonly" class="request_id" name="request_id"></span>
        </div>
        <div class="row justify-content-center">
        <h4>PHIẾU THANH TOÁN TẠM ỨNG </h4>
        </div>
        <div class="row justify-content-end" style="margin-right: 100px !important;">
            <span class="request_no">Số/No: </span>
        </div>
        <div class="row justify-content-end" style="margin-right: 100px !important;">
            <span class="request_date">Ngày/Date: </span>
        </div>
        <div class="row">

            <div class="span12">
                <h6>Tên nhân viên/Requester By:
                <span  readonly="readonly" class="request_requester_by" name="requesrequest_requester_byter_fullname"></span></h6>
                <h6>Phòng/Department:
                <span  readonly="readonly" class="request_deparment" name="request_deparment"></span></h6>
                <h6>Thanh toán tạm ứng theo phiếu tạm ứng số/Liquidation following cash advance slip NO:
                <!-- <span  readonly="readonly" class="advanced_request_id" name="advanced_request_id"></span> -->
            </h6>
    <table class="table table-bordered">
        <!-- start header -->
        <tr>
            <td>Stt/No</td>
            <td>Diễn giải/Description</td>
            <td>Số tiền/Amount<br>VND</td>
            <td>Ghi chú/Remark</td>

        </tr>
        <!-- end header -->
        <tr>
            <td style="">


            </td>
            <td>
                 <span class="request_description" name="request_description"></span>
            </td>
            <td>
                <span  readonly="readonly" class="request_amount" name="request_amount"></span>

            </td>
            <td ></td>

        </tr>
        <tr>
            <td colspan="2">Tổng chi phí thanh toán/Total cost</td>
            <td >
                <span  readonly="readonly" class="request_amount" name="request_amount"></span>
            </td>
            <td ></td>


        </tr>
        <tr>
            <td colspan="2">Số tiền đã tạm ứng/Cash advance</td>
            <td >
                 <span  readonly="readonly" class="cost_advanced" name="cost_advanced"></span>
            </td>
            <td ></td>

        </tr>
        <tr>
            <td colspan="2">Thu hoặc chi thêm/ Additional receipts or payment</td>
            <td >
                <span  readonly="readonly" class="cost_calculation"  name="cost_calculation"></span>

            </td>
            <td >
                <span  readonly="readonly" class="cost_calculation_note"  name="cost_calculation_note"></span>
            </td>
        </tr>
    </table>
            </div>
        </div>
        <div class="row">
            <div class="span12">
            </div>
        </div>
        <div class="row">
                <div class="">
                    <div class="span2">
                        <h6 style="">1.Người đề nghị<br>Requestted by
                            <!-- <input disabled="disabled" class="request_requestted_by_significant" type="checkbox"/> -->
                        </h6>
                    </div>

                    <div class="span2">

                        <h6 >2.Phụ trách bộ phận<br>Leader of the Unit
                            <!-- <input disabled="disabled" class="request_leader_significant" type="checkbox"/> -->
                        </h6>
                    </div>

                    <div class="span2">

                        <h6 >3.Kế toán kiểm tra<br>Check by
                             <!-- <input disabled="disabled" class="request_checker_significant" type="checkbox"/> -->
                        </h6>

                    </div>
                    <div class="span2">
                        <h6 >4.Giám đốc duyệt<br>Approved by Director
                             <!-- <input disabled="disabled" class="request_director_significant" type="checkbox"/> -->
                        </h6>

                    </div>
                    </div>
            </div>
        <br><br><br>
        <div class="row" >
            <div class="">
                    <div class="span2" >
                        <h6 style="">5.Thũ quỹ<br>Treasure
                            <!-- <input disabled="disabled" class="request_requestted_by_significant" type="checkbox"/> -->
                        </h6>
                    </div>

                    <div class="span2">

                        <h6 >6.Người nhận tiền<br>Received By
                            <!-- <input disabled="disabled" class="request_leader_significant" type="checkbox"/> -->
                        </h6>
                    </div>
                </div>
        </div>
        
        <div class="row">
            <div class="approve_wrap" style="margin-top: 50px">
                <div class="span3">
                    <h4 style="font-size: 11px">Những người đã duyệt</h4>
                    <div class="staff_approved"></div>
                </div>

                <div class="span3 purchasing_approve_block" style="display:none">
                    <h4 style="font-size: 11px">Phòng mua hàng</h4>
                    <div class="purchasing_approved">
                        <div class="purchasing_confirm"></div>
                        <div class="purchasing_approve"></div>
                    </div>
                </div>
            </div>
        </div><!-- row-->
        
        </div>
        <div class="row" style="border-bottom: 1px solid; padding-bottom: 70px;">
        </div>
        <br><br>
    </div>
        <div class="row" >
            <div class="span3 payment_form_dialog" style="display: none;">
                <h4>Thanh toán nhanh</h4>
                <label> Số chứng từ
                    <input />
                </label>
                <label> Ngày chứng từ
                    <input />
                </label>
                <label> Số tiền thanh toán
                    <input />
                </label>
            </div>
            <div class="span3 confirm_form_dialog" style="display: none;">
            </div>
            

        </div>
       <!--<button style="float:right;" type="button" class="button-select btn-warning" > <i class="icon-ok"></i>Tick duyệt nhanh</button>-->
       <button style="float:right;" type="button" class="button-print btn-primary" > <i class="icon-copy"></i> Print</button>
</div>
<!-- END category 3 -->


</div>


<script type="text/javascript">
    $modal = $('#modal');
</script>

<script type="text/javascript" src="/js/jquery-ui-1.8.12.custom.min.js"></script>
<link rel="stylesheet" type="text/css" href="/css/jquery-ui-1.8.12.custom.css"/>

<script type="text/javascript" src="/js/bootstrap-modal.js"></script>
<script type="text/javascript" src="/js/jquery.PrintArea.js"></script>

<script type="text/javascript" src="/js/bootstrap-modalmanager.js"></script>
<link rel="stylesheet" type="text/css" href="/css/bootstrap-modal.css"/>


<?php echo $this->confirm(); ?>
<?php echo $this->load(); ?>

<script>


    $(document).ready(function () {
        
        $('form').on('submit',function(e){
            var $form = $(this);
            
            if ($form.data('submitted') === true) {
              e.preventDefault();
            } else {
              $form.data('submitted', true);
            }
        });
        
        
        $( ".has_date" ).datepicker( "setDate", new Date());
        
        $("#check_all").on("click", function () {
            // alert(   $("#check_all:checkbox:checked").length );
            if ($("#check_all:checkbox:checked").length) {
                $(".check_all").prop('checked', true);
            } else {
                $(".check_all").prop('checked', false);
            }

        })

        $(".check_all").on("click", function () {
            if ($("#check_all:checkbox:checked").length) {
                $("#check_all").prop('checked', false);
            }
            var $total_row = $(".check_all").length;
            if ($(".check_all:checkbox:checked").length == $total_row) {
                $("#check_all").prop('checked', true);
            }


        })
        
    });
        $('.collapse_a').each(function(){
        var _this = $(this);
        var _this_id = _this.attr('id');
        var $coll = $('.'+_this_id);

        _this.click(function(){

            $coll.toggle();
            if ($coll.is(':visible'))
                _this.html('-');
            else _this.html('+');
        });
    });
        
    $(".carrier-confirm").on("click",function(){
        
        $category_id=$(this).parent().parent().parent().data("category_id");
        
        var id=this.id;
        id=id.replace("request_","");


        $(".request_requester_by").text("");
        $(".request_id").text("");

        $(".request_deparment").text("");
        $(".request_payee").text("");
        $(".request_amount").text("");
        $(".request_description").text("");
        $(".request_note").text("");
        $(".request_amount_in_words").text("");
        $(".cost_advanced").text("");
        $(".advanced_request_id").text("");
        $(".cost_calculation").text("");
        $(".cost_calculation_note").text("");
        $(".request_by").text("");
        $(".estimasted_liquidation_date").text("");


        $(".request_id").text("#"+id);
        $(".request_requester_by").text($(this).parent().parent().parent().data("request_requester_by"));
        $(".request_deparment").text($(this).parent().parent().parent().data("request_deparment"));
        $(".request_payee").text($(this).parent().parent().parent().data("request_payee"));
        $(".request_amount").text($(this).parent().parent().parent().data("request_amount"));
        $(".request_description").text($(this).parent().parent().parent().data("request_description"));
        $(".request_note").text($(this).parent().parent().parent().data("request_note"));
        $(".request_amount_in_words").text($(this).parent().parent().parent().data("request_amount_in_words"));
        $(".cost_advanced").text($(this).parent().parent().parent().data("request_amount_advanced"));
        $(".advanced_request_id").text($(this).parent().parent().parent().data("advanced_request_id"));
        $(".cost_calculation").text($(this).parent().parent().parent().data("cost_calculation"));
        $(".request_by").text($(this).parent().parent().parent().data("request_by"));
        $(".estimasted_liquidation_date").text($(this).parent().parent().parent().data("estimasted_liquidation_date"));
        
        
        $("#dialog-confirm"+ $category_id).find('.purchasing_confirm').text("");
        $("#dialog-confirm"+ $category_id).find('.purchasing_approve').text("");
        $("#dialog-confirm"+ $category_id).find('.purchasing_approve_block').hide();
        
        
        var has_purchasing_request = $(this).parent().parent().parent().data("has_purchasing_request");
        var purchasing_confirm = $(this).parent().parent().parent().data("purchasing_confirm");
        var purchasing_approve = $(this).parent().parent().parent().data("purchasing_approve");
        
        //Show purchasing confirm
        if(has_purchasing_request == 1){
            $("#dialog-confirm"+ $category_id).find('.purchasing_approve_block').show();
            
            purchasing_confirm = purchasing_confirm ? purchasing_confirm : "Chưa confirm";
            purchasing_approve = purchasing_approve ? purchasing_approve : "Chưa approve";
            
            $("#dialog-confirm"+ $category_id).find('.purchasing_confirm').text(purchasing_confirm);
            $("#dialog-confirm"+ $category_id).find('.purchasing_approve').text(purchasing_approve);
            
        }
        //END Show purchasing confim
        
        var request_no = "Số/No: "+$(this).parent().parent().parent().data("request_no");
        var request_date = "Ngày/Date: "+$(this).parent().parent().parent().data("request_date");
        
        $(".request_no").text(request_no);
        $(".request_date").text(request_date);
        
        cost_calculation_val = $(this).parent().parent().parent().data("cost_calculation_val");
        cost_calculation_val = $(this).parent().parent().parent().data("cost_calculation_val");
        
        if(cost_calculation_val < 0 ){
            $(".cost_calculation_note").text("Thu");
            $(".cost_calculation").text($(this).parent().parent().parent().data("cost_calculation").replace('-',''));
            
        }else{
            $(".cost_calculation_note").text("Chi");
        }
        
        // Chi tiết tách phí
         $(".payment_detail").text("");
         $(".payment_detail_cost").text("");
         $(".payment_detail_amount").text("");

         $(".payment_detail").text($(this).parent().parent().parent().data("request_payment_detail"));
         $(".payment_detail_cost").text($(this).parent().parent().parent().data("request_payment_detail_cost"));
         $(".payment_detail_amount").text($(this).parent().parent().parent().data("request_payment_detail_amount"));
         
        
        list_approve = "";
        
        $list_staff_approve = $(this).parent().parent().parent().data("staff_approved");
        $list_staff_approve = $list_staff_approve.split(';');
        $list_staff_approve.forEach(function (staff_approve) {
            staff_approve = staff_approve.split(',');
            if(staff_approve[1] == 1){
                list_approve = list_approve + staff_approve[0]+ '<br>';
            }
        });
        $(".staff_approved").html("");
        $(".staff_approved").append(list_approve);
        
        
        $(".button-select").val(id);
     	$check_print=$(this).parent().parent().parent().data("request_step");

     	$(".button-print").show();
       
        var payment_type=$(this).parent().parent().parent().data("payment_type");
        switch(payment_type) {
          case 1:
            $(".request_cash").attr("checked",true);
            $(".request_ttr").attr("checked",false);
            break;
          case 2:
            $(".request_cash").attr("checked",false);
            $(".request_ttr").attr("checked",true);
            break;
        }
        
        if($category_id == 9){
            $category_id = 1;
        }

        if($category_id == 8){
            $category_id = 1;
        }
        
        if($category_id == 7){
            $category_id = 2;
        }
        
        if($category_id == 5){
            $category_id = 1;
        }
        
        if($category_id == 6){
            $category_id = 1;
        }
        
        $("#request_category").val($category_id);
        
        $( "#dialog-confirm"+ $category_id ).dialog({

            resizable: false,
            height: "auto",
            width: "1000px",

            modal: true,
            buttons: {
            }
        });

    });
    
    $(".open-dialog-confirm-new").on("click",function(){
        
        var payment_id = $(this).attr('data-id');
        var request_stt = parseInt($(this).attr('request-stt')) + 1;
        
        $.ajax({
            url: '/request-office/get-info-payment',
            type: 'POST',
            data: {
                payment_id: payment_id,
            },
            dataType: 'json',
            success: function (data) {
                
                console.log(data);
                
                if (data.status === 0) {
                    request_payment = data.request_payment;
                    
                    $("#dialog-confirm-new").find(".request_stt").text("(Lần #"+request_stt+")");
                    $("#dialog-confirm-new").find(".new_request_id").text("#"+request_payment.request_id);
                    
                    $("#dialog-confirm-new").find(".new_created_by").text(request_payment.created_by);
                    $("#dialog-confirm-new").find(".new_department_name").text(request_payment.department_name);
                    $("#dialog-confirm-new").find(".new_payee").text(request_payment.payee);
                    $("#dialog-confirm-new").find(".new_payment_cost").text(request_payment.payment_cost_number);
                    $("#dialog-confirm-new").find(".new_payment_cost_words").text(request_payment.payment_cost_words);
                    $("#dialog-confirm-new").find(".new_note").text(request_payment.note);
                    $("#dialog-confirm-new").find(".new_content").text(request_payment.content);
                    $("#dialog-confirm-new").find(".new_note").text(request_payment.note);
                    
                    $("#dialog-confirm-new").find(".new_list_confirm").text("");
                    $("#dialog-confirm-new").find(".new_list_confirm").append(request_payment.list_confirm);
                    
                    
                    if(request_payment.payment_type == 1){
                        $("#dialog-confirm-new").find(".new_cash").attr("checked",true);
                    }
                    else{
                        $("#dialog-confirm-new").find(".new_ttr").attr("checked",false);
                    }
                    
                    $( "#dialog-confirm-new").dialog({
                        resizable: false,
                        height: "auto",
                        width: "1000px",
                        modal: true,
                    });
                    
                } else {
                    alert(data.message);
                }
            },
            error: function () {
                alert('Something went wrong. Please try again!');
            }
        })
        
        
        
    });

        $('.button-print').on('click',function(){
             var $type=$("#request_category").val();
            $("div.PrintArea"+$type).printArea( );
        });
        
        $('.button-print-new').on('click',function(){
            $("div.PrintAreaNew").printArea();
        });

        $(".button-select").on('click',function(){
             var $type=$("#request_category").val();

            $("#multi_confirm_"+this.value).attr("checked",true);
            $( "#dialog-confirm"+$type ).dialog("close");
        })
        
        $(".open-dialog-search").on("click",function(){
            $( "#dialog-search").dialog({
                //resizable: false,
                height: "auto",
                width: "500px",
                modal: true,
            });
        })
        
        
</script>
