<div class="row row_month_sample" style="display: none">
    <div class="row_month">
        <div class="span3">
            <div class="control-group">
                <label class="control-label" for="from_date">Ngày bắt đầu</label>
                <div class="controls">
                    <input autocomplete="off" type="text" class="date_picker" name="from_date[]" required />
                </div>
            </div>

            <label class="control-label" for="from_date">Month</label>
            <div class="input-group">
                <select class="form-control" name="month[]" required>
                    <option value="">-- Select --</option>
                    <?php for($i=1;$i<=12;$i++):?>
                        <option value="<?php echo $i;?>" <?php echo date('m') == $i ? 'selected' : NULL;?>><?php echo $i;?></option>
                    <?php endfor;?>
                </select>
                <div class="input-group-append">
                    <span class="input-group-text"><i class="la la-ellipsis-h"></i></span>
                </div>
                <select class="form-control" id="year" name="year[]" required>
                    <?php for($i=2020;$i<=2022;$i++):?>
                        <option value="<?php echo $i;?>" <?php echo date('Y') == $i ? 'selected' : NULL;?>><?php echo $i;?></option>
                    <?php endfor;?>
                </select>
            </div>
        </div>

        <div class="span3">
            <div class="control-group">
                <label class="control-label" for="to_date">Ngày kết thúc</label>
                <div class="controls">
                    <input autocomplete="off" type="text" class="date_picker" name="to_date[]" required />
                </div>
            </div>

            <div class="control-group">
                <label class="control-label" for="title">Project</label>
                <div class="controls">
                    <select name="project[]">
                        <option value="">-- Select --</option>
                        <?php foreach($this->purchasing_project as $key=>$value):?>
                            <option value="<?php echo $value['id'];?>"><?php echo $value['name'];?></option>
                        <?php endforeach;?>
                    </select>
                </div>
            </div>
        </div>

        <div class="span3">
            <div class="control-group">
                <label class="control-label" for="price">Số tiền dự trù</label>
                <div class="controls">
                    <input type="text" class="price" name="price[]" required />
                </div>
            </div>

            <div class="control-group">
                <label class="control-label" for="currency">Đơn vị</label>
                <div class="controls">
                    <select name="currency[]" required>
                        <option value="">-- Select --</option>
                        <?php foreach($this->currency_list as $key=>$value):?>
                            <option value="<?php echo $value['id'];?>"><?php echo $value['name'];?></option>
                        <?php endforeach;?>
                    </select>
                </div>
            </div>
        </div>

        <div class="row">
            <a class="btn btn-danger" id="remove_row_month"> - </a>
        </div>

    </div><!-- row_month -->
</div>
