<style>  
    .color_red{color: red;}
    .color_green{color: green;}
    .select2-selection__rendered{font-size: 13px; text-transform: uppercase;}
    .select2-results__option{font-size: 13px; text-transform: uppercase;}
    #cover{
    border: 2px solid #bdbdbd;
    padding: 10px;
    border-radius: 10px;
    margin-bottom: 10px;}
</style>
<form class="form-search form-horizontal" method="get" action="/request-office/list-budget">
    <div class="row">
        <div class="span6">
            
            <div class="control-group"> 
                <label for="status" class="span2">Loại ngân sách:</label>
                <select name="budget_type" id="budget_type" class="search-query">  
                    <option value="">--Select--</option>
                    <option value="1">Ngân sách theo năm</option>
                    <option value="2">Ngân sách theo dự án</option>
                    <option value="3">Ngân sách khác</option>
                </select>
            </div>
            
            <div class="control-group"> 
                <label for="status" class="span2">Nhóm hạng mục:</label>
                <select name="category_group" id="request-type-group" class="search-query">  
                    <option value="">--Select--</option>      
                    <?php foreach ($this->group as $key => $value):?>
                    <option value="<?php echo $key; ?>"
                            <?php echo (isset($this->params['category_group']) and 
                                             $this->params['category_group'] == $key) ? "selected" : NULL;?>><?php echo $value; ?></option>                                                    
                    <?php endforeach; ?>
                </select>
            </div>
            
            <div class="control-group"> 
                <label for="status" class="span2">Hạng mục:</label>
                <select name="category" id="request-type" class="search-query">  
                    <option value="">--Select--</option>                    
                        <?php foreach ($this->type[$this->group['id']]['children'] as $key => $value): ?>
                        <option value="<?php echo $key; ?>"
                                <?php echo (isset($this->params['category']) and 
                                             $this->params['category'] == $key) ? "selected" : NULL;?>><?php echo $value; ?></option>                                        
                        <?php endforeach; ?> 
                </select>
            </div>
            
            <div class="control-group"> 
                <label for="status" class="span2">Nhà cung cấp:</label>
                <select name="supplier_id" id="supplier" class="search-query">  
                    <option value="">--Select--</option>
                    <?php foreach ($this->supplier as $key => $value):?>
                    <option value="<?php echo $key; ?>"><?php echo $value; ?>
                    </option>
                    <?php endforeach; ?>    
                </select>
            </div>
            
            <div class="control-group">
                <label for="name" class="span2">Tên ngân sách: </label>                               
                <input name="name" type="text" class="input-medium search-query form-control" 
                       value="<?php                                       
                        if (isset($this->params['name'])) {
                             echo $this->params['name'];  }
                        ?>">
            </div>            
            
            <div class="control-group"> 
                <label for="status" class="span2">Dự án:</label>
                <select name="project_id" id="project" class="search-query">  
                    <option value="">--Select--</option> 
                    <?php foreach ($this->project as $key => $value):?>
                    <option value="<?php echo $value['id']; ?>"><?php echo $value['title']; ?></option>                                                
                    <?php endforeach; ?>
                </select>
            </div>
        </div>
    
        <div class="span5">
            <div class="control-group">
                <label for="name" class="span2">Ngân sách từ ngày: </label>                               
                <input name="from_date" id="from" type="text" class="input-medium search-query form-control" autocomplete="off" onkeypress="return false;"
                       value="">
            </div>
            
            <div class="control-group">
                <label for="name" class="span2">Ngân sách đến ngày: </label>                               
                <input name="to_date" id="to" type="text" class="input-medium search-query form-control" autocomplete="off" onkeypress="return false;"
                       value="">
            </div>           
            
            <div id="cover">
                <div class="control-group">
                    <label for="name" style="font-weight: bold;" class="span2">Ngân sách(VNĐ)</label>                 
                </div>
                <div class="control-group">
                    <label for="name" class="span2">Trên mức:</label>                               
                    <input name="amount_up" type="text" class="input-medium search-query form-control" autocomplete="off" onkeypress="return isNumber(event)"
                           value="">
                </div>
                <div class="control-group">
                    <label for="name" class="span2">Dưới mức:</label>                               
                    <input name="amount_down" type="text" class="input-medium search-query form-control" autocomplete="off" onkeypress="return isNumber(event)"
                           value="">
                </div>                
            </div>
        </div>
    </div>  
    <button type="submit" class="btn btn-primary">Search</button>
</form>

<script type="text/javascript" src="/js/jquery-ui-1.8.12.custom.min.js"></script>
<link rel="stylesheet" type="text/css" href="/css/jquery-ui-1.8.12.custom.css"/>
<script src="../js/tag-it.min.js" type="text/javascript" charset="utf-8"></script>
<link href="../css/jquery.tagit.css" rel="stylesheet" type="text/css">
<link href="../css/tagit.ui-zendesk.css" rel="stylesheet" type="text/css">
<link rel="stylesheet" type="text/css" href="<?php echo HOST ?>css/select2.min.css">
<script type="text/javascript" src="<?php echo HOST ?>js/select2.min.js"></script>
<script>
    $(document).ready(function () {   
        $("#project").select2();
        $("#budget_type").select2();
        $("#request-type").select2();
        $("#supplier").select2();
        $("#request-type-group").select2(); 
        $(document).on('change', '#request-type-group', function(){
            $('.loading').remove();
            $(this).after('<span class="loading"></span>');
            var _self = $(this);
            var request_type_group = $(this).val();
            $('form').bind('submit',function(e){e.preventDefault();});
            $('button, .btn, input, select').prop('disabled', true);
            $.get("/ajax/load-test",
                {request_type_group: [request_type_group]}
                ,function(data,status){
                    var obj = $.parseJSON( data );
                    $('#request-type,.request-type').find('option:not(:first)').remove();
                    for (var i = 0; i < obj.length; i++) {
                        $('#request-type,.request-type').append('<option value="'+obj[i]['id']+'">'+obj[i]['title']+'</option>');
                    }
                    $('button, .btn, input, select').prop('disabled', false);
                    $('form').unbind('submit');
                    $('.loading').remove();
                    $('#request-type,.request-type').change();
                });
        });
        $("#from").datepicker({
            
            dateFormat: "yy-mm-dd",
                       
        });
        $("#to").datepicker({
             
             dateFormat: "yy-mm-dd",
            
         });
    });

    //chặn nhập chữ
    function isNumber(evt){
       evt = (evt) ? evt : window.event;
       var charCode = (evt.which) ? evt.which : evt.keyCode;
       if (charCode > 31 && (charCode < 48 || charCode > 57)) {
           return false;
       }
       return true; 
    }  
</script>


