<!DOCTYPE html>
<html>
<head>
	<title>Opposhop - Staff mapping tool</title>
	<link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
	<link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css">
	<style type="text/css">
	.mar-t-50{margin-top:50px}
	</style>
</head>
<body>
	<div class="container">
		<div class="row">
			<div class="alert alert-success alert-dismissible hidden" id="success-message">
				<button type="button" class="close" data-dismiss="alert" aria-label="Close">
					<span aria-hidden="true">&times;</span>
				</button>
				<strong>Successful</strong> &rightarrow; mapping complete
			</div>

			<div class="alert alert-danger alert-dismissible hidden" id="error-message">
				<button type="button" class="close" data-dismiss="alert" aria-label="Close">
					<span aria-hidden="true">&times;</span>
				</button>
				<strong>Error</strong> &rightarrow; mapping fail
			</div>

			<form class="mar-t-50" action="" method="post" enctype="multipart/form-data">
				<div class="col-lg-3">
					<input type="file" name="salary" accept=".xls,.xlsx">
				</div>
				<div class="col-lg-2">
					<button class="btn btn-primary" type="submit">
						<i class="fa fa-spinner fa-spin hidden" id="loading"></i>
						Upload
					</button>
				</div>
			</form>
		</div>
	</div>

	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
	<script type="text/javascript" src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
	<script type="text/javascript">
	// $(document).ready(function(){
	// 	$("#upload").click(function(){
	// 		$("#loading").removeClass("hidden");
	// 		var file = $("input[type=file]")[0].files[0];
	// 		var data = new FormData();
	// 		data.append("file", file);
	// 		if(file)
	// 			$.ajax({
	// 				type: "post",
	// 				data: data,
	// 				dataType: "json",
	// 				processData: false,
	// 				contentType: false,
	// 				success: function(response){
	// 					// console.log(response);
	// 					if(response.status){
	// 						$("#error-message").addClass("hidden");
	// 						$("#success-message").removeClass("hidden");
	// 						$("#loading").addClass("hidden");
	// 					}
	// 					else{
	// 						$("#success-message").addClass("hidden");
	// 						$("#error-message").removeClass("hidden");
	// 						$("#loading").addClass("hidden");
	// 					}
	// 				}
	// 			});

	// 	});
	// });
	</script>
</body>
</html>