<div class="table-responsive">
	<?php if(!empty($this->res['total_pg_level'])): ?>
	<table style="width: 100%;">
		<thead>
			<tr>
				<th>#</th>
				<th>Product</th>
				<th>Sellout</th>
				<th>KPI</th>
				<th>Total</th>
				<th>From date</th>
				<th>To date</th>
			</tr>
		</thead>

		<tbody>
			<?php $totals = 0; $total = 0; foreach($this->res['data'] as $key => $value): if($value['staff_level'] == 'pg'): $totals += $value['count']; $total += $value['kpi'] * $value['count']; ?>
			<tr>
				<td><?php echo $key + 1 ?></td>
				<td><?php echo $value['good_name'] ?></td>
				<td><?php echo $value['count'] ?></td>
				<td><?php echo $value['kpi'] ?></td>
				<td><?php echo $value['kpi'] * $value['count'] ?></td>
				<td><?php echo date('d/m/Y', strtotime($value['from_date'])) ?></td>
				<td><?php echo date('d/m/Y', strtotime($value['to_date'])) ?></td>
			</tr>
			<?php endif; endforeach; ?>
			<tr>
				<td colspan="3" style="font-size:16px;text-align:right;font-weight:bold">
					Total sell out: <?php echo $totals ?>
				</td>
				<td colspan="4" style="font-size:16px;text-align:right;font-weight:bold">
					Total KPI: <?php echo number_format($total, 0, null, '.') ?>
				</td>
			</tr>
		</tbody>
	</table>
	<?php endif ?>

	<?php if(!empty($this->res['total_sale_level'])): ?>
	<table style="width: 100%;">
		<thead>
			<tr>
				<th>#</th>
				<th>Product</th>
				<th>Sellout</th>
				<th>KPI</th>
				<th>Total</th>
				<th>From date</th>
				<th>To date</th>
			</tr>
		</thead>

		<tbody>
			<?php $totals = 0; $total = 0; foreach($this->res['data'] as $key => $value): if($value['staff_level'] == 'sale'): $totals += $value['count']; $total += $value['kpi'] * $value['count']; ?>
			<tr>
				<td><?php echo $key + 1 ?></td>
				<td><?php echo $value['good_name'] ?></td>
				<td><?php echo $value['count'] ?></td>
				<td><?php echo $value['kpi'] ?></td>
				<td><?php echo $value['kpi'] * $value['count'] ?></td>
				<td><?php echo date('d/m/Y', strtotime($value['from_date'])) ?></td>
				<td><?php echo date('d/m/Y', strtotime($value['to_date'])) ?></td>
			</tr>
			<?php endif; endforeach; ?>
			<tr>
				<td colspan="3" style="font-size:16px;text-align:right;font-weight:bold">
					Total sell out: <?php echo $totals ?>
				</td>
				<td colspan="4" style="font-size:16px;text-align:right;font-weight:bold">
					Total KPI: <?php echo number_format($total, 0, null, '.') ?>
				</td>
			</tr>
		</tbody>
	</table>
	<?php endif ?>

	<?php if(!empty($this->res['total_pb_sale_level'])): ?>
	<table class="table table-striped table-bordered">
		<thead>
			<tr>
				<th colspan="7"><h1 class="center">Sale</h1></th>
			</tr>
			<tr>
				<th>#</th>
				<th>Product</th>
				<th>Sellout</th>
				<th>KPI</th>
				<th>Total</th>
				<th>From date</th>
				<th>To date</th>
			</tr>
		</thead>

		<tbody>
			<?php $totals = 0; $total = 0; foreach($this->res['data'] as $key => $value): if($value['staff_level'] == 'pb_sale'): $totals += $value['count']; $total += $value['kpi'] * $value['count']; ?>
			<tr>
				<td><?php echo $key + 1 ?></td>
				<td><?php echo $value['good_name'] ?></td>
				<td><?php echo $value['count'] ?></td>
				<td><?php echo $value['kpi'] ?></td>
				<td><?php echo $value['kpi'] * $value['count'] ?></td>
				<td><?php echo date('d/m/Y', strtotime($value['from_date'])) ?></td>
				<td><?php echo date('d/m/Y', strtotime($value['to_date'])) ?></td>
			</tr>
			<?php endif; endforeach; ?>
			<tr>
				<td colspan="3" style="font-size:16px;text-align:right;font-weight:bold">
					Total sell out: <?php echo $totals ?>
				</td>
				<td colspan="4" style="font-size:16px;text-align:right;font-weight:bold">
					Total KPI: <?php echo number_format($total, 0, null, '.') ?>
				</td>
			</tr>
		</tbody>
	</table>
	<?php endif ?>

	<?php if(empty($this->res['total_pg_level']) && empty($this->res['total_sale_level']) && empty($this->res['total_pb_sale_level'])): ?>
	<table class="table table-striped table-bordered">
		<thead>
			<tr>
				<th>#</th>
				<th>Product</th>
				<th>Sellout</th>
				<th>KPI</th>
				<th>Total</th>
				<th>From date</th>
				<th>To date</th>
			</tr>
		</thead>
		<tbody>
			<tr>
				<td class="center" colspan="7">No data available.</td>
			</tr>
		</tbody>
	</table>
	<?php endif ?>
</div>

<p>
    <a href="<?php echo HOST ?>timing/expired" class="btn btn-info">IMEI đã chấm công</a>
    <!-- <a href="<?php echo HOST ?>timing/kpi" class="btn btn-success">IMEI được tính KPI</a> -->
</p>