
<style>
.total_scores{
    font-size: 10px;
    margin-left: 250px;
    color:#4F8B56;
}
.process{
    margin-bottom: 10px;
}
.title_pg{
    margin-top: 20px;
}
.tichdiem_header{
    margin: 15px 0 12px 0;
}
.title_pg span{
    margin: 10px 0 1px 0;
}

.page-header h1{font-weight: bold;font-size: 22px;}
.view_chitiet{font-weight: normal;}
.table{background: #FFF;}
.page-header{margin: 20px 0px 5px 1px;}
.job_content{display: block;float: left;width: 546px;height: 200px;overflow-y: scroll;overflow-x: hidden;}
.tichdiem_header span{font-size: 17px; color:#4F8B56;text-align: center;display: block;padding: 0px 0px;font-weight: bold;margin-top: 15px}
.tichdiem_header span:nth-child(2){margin-bottom: 10px;font-weight: initial;margin-top: 0px}

.progress .progress-bar2{float: right;background: red !important;}
.progress2{margin-top: 0px !important;background: none;}


.content_noti{display: block;}
.content_noti b{font-size: 18px}

.left_noti{display: block;float: left;width: 30%;}
.right_noti{text-align: center;display: block;width: 70%;float: left;}
.right_noti .content_right{padding: 20px;background: url('/img/big-yellow-star.gif') no-repeat right;}
.right_noti .content_right p{font-size: 16px}
.left_noti img{width:100%;}
.right_noti .top_right img{width:100px;margin-bottom: -20px;}
.fighting{color:#008B56;font-size: 25px;font-weight: bold;}
.fire{display: block;width: 80%;min-height: 80%;background: url('/img/giphy.gif') no-repeat;position: absolute;z-index: 0;}

@media screen and (max-width: 480px){
    .left_noti{width: 100%;}
    .left_noti img {width: 50%;}
    .right_noti{width: 100%}
    .right_noti .content_right{background: url('/img/big-yellow-star2.gif') no-repeat;background-size: 100px;background-position: 0px 170px;}
    .right_noti .top_right{display: none}
    .modal-body{max-height: 600px}
}

</style>

<style>	
	.dashboard ol {
		list-style-position:inside;
		height: 250px;
		overflow-y: scroll;
	}
	
	.dashboard ol>li {
		margin-bottom: 5px;
		margin-right: 2px;
		line-height: 30px;
	}

	.dashboard ol>li:hover {
		background: rgb(0, 124, 45);
		color: white;
	}

	.dashboard ol>li a.label {
        margin-top: 12px;
		margin-right: 7px;
		display: inline-block;
	}
	
	.dashboard .dashboard_decs {
		cursor: pointer;
	}

	.recent_activity li {
		margin-bottom: 5px;
	}

	.recent_activity li p {
		margin-bottom: 0;
	}
</style>
<div class="page-header">
    <h1>Dashboard</h1>
</div>
<?php
    if (isset($this->messages) and $this->messages)
        foreach ($this->messages as $message):
            echo '<div class="alert alert-success">'.$message.'</div>';
        endforeach;

if (isset($this->messages_error) and $this->messages_error)
    foreach ($this->messages_error as $message):
        echo '<div class="alert alert-danger">'.$message.'</div>';
    endforeach;
?>

<!-- contract -->
<?php echo $this->render('index/partials/contract-messages.phtml'); ?>

<div class="row-fluid">
    <div class="span9">
            <?php echo $this->render('index/partials/search.phtml') ?>
            <?php echo $this->render('index/partials/dashboards.phtml') ?>
    </div>
    <div class="span3">
            <?php echo $this->render('index/partials/recent.phtml') ?>	
    </div>
</div>
<?php echo $this->render('index/partials/modals.phtml') ?>	


<?php if($this->notification_area):?>
<?php foreach($this->notification_area as $key=>$value):?>
<!-- Modal -->
<div id="modal_<?php echo $value['staff_id'];?>" class="modal fade" role="dialog">
  <div class="modal-dialog">

    <!-- Modal content-->
    <div class="modal-content">
      
      <div class="modal-body">

        <div class="fire">
        </div>

        <div class="content_noti">
            <div class="left_noti">
                <img src="/photo/staff/<?php echo $value['staff_id'];?>/<?php echo $value['photo'];?>">
            </div>

            <div class="right_noti">
                
                <div class="top_right">
                    <img src="/img/big-yellow-star2.gif">
                </div>
                
                <?php if($value['staff_id'] <> $userStorage->id):?>
                <div class="content_right">
                    <p>Bạn <b style="color:#008B56"><?php echo $value['firstname'].' '.$value['lastname'];?></b> đã đạt mốc <b style="color:red"><?php echo $value['result'];?> Sao</b>.</p>
                    <p>Mọi người hãy cùng chúc mừng bạn nhé!</p><br>
                    <p class="fighting">OPPO Fighting!!!</p>
                </div>
                <?php else:?>
                <div class="content_right">
                    <p>Chúc mừng bạn đã đạt mốc <b style="color:#008B56"><?php echo $this->StaffScoresView[0]['result'];?> Sao</b>.</p>
                    <p>Số điểm hiện tại của bạn là <b style="color:red"><?php echo number_format($this->StaffScoresView[0]['total'],0,",",".");?></b> điểm.</p>
                    <p>Chỉ còn <b style="color:red"><?php echo number_format($right_score); ?></b> điểm nữa Bạn sẽ đạt</p>
                    <p>mốc tiếp theo.</p><br>
                    <p class="fighting">OPPO Fighting!!!</p>
                </div>
                <?php endif;?>

            </div>
        </div><!-- end content_noti -->

      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default btn-success close_notification" star='<?php echo $value['result'];?>' staff_id='<?php echo $value['staff_id'];?>' date='<?php echo $value['date'];?>' data-dismiss="modal">Đóng</button>
      </div>
    </div>

  </div>
</div>
<!-- END Modal -->
<?php endforeach;?>

<audio autoplay id="myAudio">
  <!--<source src="horse.ogg" type="audio/ogg">-->
  <source src="/img/NhacTinNhanNhacChuong-DJBo-2705022.mp3" type="audio/mpeg">
</audio>

<?php endif;?>

<!-- Dashboard -->
<script language="javascript" type="text/javascript" src="/js/full-calendar/fullcalendar.min.js"></script>
<script>

$(document).ready(function(){

    $('#modal_month').modal('show');

    <?php if($this->notification_area):?>
    <?php foreach($this->notification_area as $key=>$value):?>
    $('#modal_<?php echo $value['staff_id'];?>').modal('show'); 
    <?php endforeach;?>
    <?php endif;?>

    <?php if(isset($this->staff['team']) and $this->staff['team'] == SALES_TEAM): ?>
     $('#calendar').fullCalendar({
        header: {
            left: '',
            center: 'title',
            right: 'month'
        },
        selectable: true,
        selectHelper: true,
        events: "/bi/event-time?id=<?php echo $this->staff['id'];?>"
    });
    <?php endif; ?>

    $("[rel=tooltip]").tooltip({ placement: 'top'});
    $(".collapse").collapse();
   
    if(isMobile() == false) {
        $(".collapse").collapse('show');
    }
   
    $("#inform").collapse('show');

    $('.close_notification').on('click',function(){
        star        = $(this).attr('star');
        staff_id    = $(this).attr('staff_id');
        date        = $(this).attr('date');
        month       = $(this).attr('month');

        $.ajax({
              url: "<?php echo HOST;?>bi/notification-pg",
              type: "GET",
              dataType: "text",
              context: this,
              data: "staff_id="+staff_id+"&star="+star+"&date="+date+"&month="+month,
              beforeSend: function() {
                    $(".loading").show();                   
                },
              success: function(result){

                    if(result == 'success'){
                        console.log('notification-pg:success');
                    }
                    else{
                        console.log('notification-pg:false');
                    }
                                              
              },
              error:function(){
                  alert("Error Ajax");
              }
        });

        pauseAudio();
    });
});

function isMobile() {

    if(navigator.userAgent.match(/Android/i) || navigator.userAgent.match(/BlackBerry/i) || navigator.userAgent.match(/iPhone|iPad|iPod/i) || navigator.userAgent.match(/IEMobile/i))
            return true;
        return false;
}

var audio = document.getElementById("myAudio"); 

function playAudio() { 
    audio.play(); 
} 

function pauseAudio() { 
    audio.pause(); 
}

</script>
<!-- END Dashboard -->

<script type="text/javascript" src="/js/bootstrap-modal.js"></script>
<script type="text/javascript" src="/js/bootstrap-modalmanager.js"></script>
<link rel="stylesheet" type="text/css" href="/css/bootstrap-modal.css"/>
<script type="text/javascript">
	var label_id;

	$(document).ready(function() {
            $modal = $('#modal');
            $modal_dashboard = $('#modal_dashboard');
            $modal_email = $('#modal_email');
            //loadTableTransfer();


            $('.note_label').click(function(){
                var _self = $(this);

                $('body').modalmanager('loading');
                $('#note_content').html(_self.data('note'));
                $('#note_id').val(_self.data('id'));

                $modal.modal('loading');
                noteid=_self.data('id');

                $.ajaxSetup({
                    cache: true
                });

                $.post('<?php echo HOST ?>/staff/quick-edit',
                    {
                                            id       : noteid,
                                            back_url : '<?php echo HOST ?>'
                    },
                    function(data){
                        $modal.html(data);
                        $modal.modal();
                        var name = _self.data('name');
                        $modal.find('h3').append(' <small>&bull; '+name+'</small>');
                });
            });

		
            $('.add_email_label').click(function(e){
                e.preventDefault();			
                var _self = $(this);
                    staff_id   = _self.data('id');
                    staff_name = _self.data('name');
                    label_id = _self.attr('id');

                    $('#dashboard_email').val('');
                    $('#modal_email span#staff_name_email').text(staff_name);
                    $('#modal_email #staff_id_email').val(staff_id);

                $modal_email.modal();

            });

            $('.dashboard_decs').tooltip({
                    placement: 'top'
            });

		
            $('.dismiss').click(function(e) {
                    e.preventDefault();			
                    _self          = $(this);
                    staff_id       = _self.data('staff-id');
                    staff_name     = _self.data('staff-name');
                    dashboard_id   = _self.data('dashboard-id');
                    dashboard_name = _self.data('dashboard-name');

                    $modal_dashboard.find('.alert').remove();
                    $('#modal_dashboard span#staff_name').text(staff_name);
                    $('#modal_dashboard span#dashboard_name').text(dashboard_name);

                $modal_dashboard.modal();
            });

		$('#btn_save_dismiss').click(function() {
		    $modal_dashboard.modal('loading');

			$.post('<?php echo HOST ?>ajax/dashboard-dismiss',
                {
					staff_id     : staff_id,
					dashboard_id : dashboard_id
                },
                function(data){

                    if (data == '1') {
                    	$modal_dashboard
							.modal('loading')
							.find('.modal-body')
					        .prepend('<div class="alert alert-info fade in">' +
					          'Updated!<button type="button" class="close" data-dismiss="alert">&times;</button>' +
					        '</div>');
				        _self.parents('.staff').remove(); 

				        setTimeout(function() {
				        	$modal_dashboard.modal('hide');
				        	$modal_dashboard
								.find('.alert').remove();
				        }, 1500);
                    } else {
                    	$modal_dashboard
							.modal('loading')
							.find('.modal-body')
					        .prepend('<div class="alert alert-error fade in">' +
					          'Error!<button type="button" class="close" data-dismiss="alert">&times;</button>' +
					        '</div>');
                    }
            });
		});

		$('#btn_save_email').click(function() {
		    $modal_email.modal('loading');

		    $modal_email.find('.alert').remove();

		    var email = $('#dashboard_email').val();
		    var staff_id = $('#modal_email #staff_id_email').val();

			$.post('<?php echo HOST ?>ajax/staff-email-save',
                {
					id     : staff_id,
					email : email
                },
                function(data){

                    if (data == '1') {
                    	$modal_email
							.modal('loading')
							.find('.modal-body')
					        .prepend('<div class="alert alert-info fade in">' +
					          'Updated!<button type="button" class="close" data-dismiss="alert">&times;</button>' +
					        '</div>');
				        
				        $('#'+label_id).remove(); 

				        setTimeout(function() {
				        	$modal_email
				        		.modal('hide')
				        		.find('.alert').remove();

			        		$('#modal_email span#staff_name_email').text('');
			        		$('#dashboard_email').val('');
			        		$('#modal_email #staff_id_email').val('');
				        }, 1500);

                    } else if(data = '-2') {
                    	$modal_email
							.modal('loading')
							.find('.modal-body')
					        .prepend('<div class="alert alert-error fade in">' +
					          'Email existed!<button type="button" class="close" data-dismiss="alert">&times;</button>' +
					        '</div>');
                    } else {
                    	$modal_email
							.modal('loading')
							.find('.modal-body')
					        .prepend('<div class="alert alert-error fade in">' +
					          'Error!<button type="button" class="close" data-dismiss="alert">&times;</button>' +
					        '</div>');
                    }
            });
		});

		$('.staff_note').click(function() {
			var _self = $(this);

		    $('body').modalmanager('loading');
	       	id = _self.data('id');
	       	label_id = _self.attr('id');

		    $.post('<?php echo HOST ?>ajax/staff-note',
                {
					id : id,
                },
                function(data){
                	if (data != '-1') {
                		$modal.html(data);
                    	$modal.modal();
                	} else {
                		$('body').modalmanager('loading');
                	}                   
            });
		});

		$('.staff').tooltip({
			placement: 'top'
		});

		$('#btn_search').click(function() {
			email      = $('#search_email').val().trim();
			area       = $('#search_area').val();
			region     = $('#search_region').val();
			department = $('#search_department').val();
			
			if ( email.match(/<?php echo EMAIL_SUFFIX ?>$/) ) {
				email = email.replace(/<?php echo EMAIL_SUFFIX ?>$/, '');
			}

			$('.staff').each(function(index, element) {
				flag = 1;

				if (email.length > 0 && email + '<?php echo EMAIL_SUFFIX ?>' != $(element).data('email')) {
					flag = 0;
				}

				if (area > 0 && area != $(element).data('area')) {
					flag = 0;
				}

				if (region > 0 && region != $(element).data('regional-market')) {
					flag = 0;
				}

				if (department > 0 && department != $(element).data('department')) {
					flag = 0;
				}
				
				if ( flag == 1 ) {
					$(element).show();
				} else {
					$(element).hide();
				}
			});

		});

		$('#btn_reset').click(function() {
			$('#search_form input').val('');
			$('#search_form select').val(0);
			$('.staff').show();
		});

		$('#search_form').on('submit', function() {
			$('#btn_search').click();
			return false;
		})
	});


    function loadTableTransfer(){
        $.ajax({
            type: 'get',
            url: '<?php echo HOST.'ajax/load-print-transfer'?>',
            data:{},
            success: function(data){
                $("#data_print_transfer").html(data);
            }
        });
    }
</script>