<table class="table table-bordered">
    <thead>
    <tr>
        <?php echo $this->sorting(array(
                '#',
                'name' => 'Name',
                'email' => 'Email',
                'number_of_store' => 'Number of Store',
                'from' => 'From',
                'to' => 'To',
            ),
            $this->url, $this->sort, $this->desc); ?>
    </tr>
    </thead>
    <tbody>
    <?php
    if (isset($this->list) and $this->list)
        foreach ($this->list as $k=>$item): ?>
            <tr>
                <td>
                    <?php
                    $inc = $this->offset + $k + 1;
                    echo $inc;
                    ?>
                    
                </td>
                <td><?php echo $item['firstname'] . ' ' . $item['lastname'] ?></td>
                <td><?php echo str_replace(EMAIL_SUFFIX, '', $item['email']) ?></td>
                <td><?php echo $item['number_of_store'] ?></td>
                <td><?php echo $item['approved_from'] ?></td>
                <td><?php if (isset($item['removed_at']) && $item['removed_at']): ?>
                    <?php echo $item['removed_at'] ?>
                    <?php else: ?>
                    <a href="<?php echo HOST ?>manage/pg-multiple-store-end?id=<?php echo $item['p_id'] ?>" 
                        class="btn btn-small btn-default"
                        target="iframe"><i class="icon-remove-sign"></i> End</a>
                <?php endif ?></td>
            </tr>
        <?php endforeach;?>

    </tbody>
</table>
<div class="paging">
    <?php echo $this->paging($this->total, $this->limit, $this->offset, $this->url);?>
</div>