<div class="table-responsive">
    <table class="table table-bordered">
        <thead>
        <tr>
            <th>#</th>
            <th>Name</th>
            <th>Title</th>
            <th>Email</th>
            <th>Area</th>
        </tr>
        </thead>
        <tbody>
            <?php $i = 1;
            if (isset($this->list) and $this->list):
                    foreach($this->list as $_group_id => $item):
                        foreach ($item as $_asm_id => $_asm):
            ?>

            <tr>
                <td><?php echo $i++;?></td>
                
                <?php if($_asm['group_id'] == TRAINING_LEADER_ID ):?>
                <td><a title="Edit" href="<?php echo HOST ?>bi/trainer-leader-details?id=<?php echo $_asm_id;?>">
                        <?php echo $_asm['firstname'] . ' ' . $_asm['lastname']  ?></a>
                </td>
                <?php else:?>
                <td><a title="Edit" href="<?php echo HOST ?>bi/trainer-details?id=<?php echo $_asm_id;?>">
                        <?php echo $_asm['firstname'] . ' ' . $_asm['lastname']  ?></a>
                </td>
                <?php endif;?>

                
                <td><?php echo $_asm['title_name'];?></td>
                <td><?php echo str_replace(EMAIL_SUFFIX, '', $_asm['email']) ?></td>
                <td>
                    <?php
                        if (isset($_asm['area']) && $_asm['area'])
                            foreach ($_asm['area'] as $area_id) {
                                if (isset( $this->areas[ $area_id ] ) && $this->areas[ $area_id ])
                                    echo '<p>' . $this->areas[ $area_id ] . '</p>';
                                elseif (isset( $this->regions[ $area_id ] ) && $this->regions[ $area_id ])
                                    echo '<p><i>' . $this->regions[ $area_id ] . '</i></p>';
                            }
                    ?>
                </td>
            </tr>
            <?php
                        endforeach;
                    endforeach;
            endif;
            ?>
        </tbody>
    </table>
</div>