<style>


    @media only screen
    and (min-width: 768px)
    and (max-width: 1024px) {
        p{
            font-weight:bold;
            height:38px;
        }
    }



    @media only screen and (min-width: 768px) {
        img{
            width: 75px;
            height: 75px;
        }
        p{
            height:42px;
        }
        .first-container{
            border-right: 1px solid #046A38;
        }
    }

    .outer p, .text-color-oppo{
        padding-top: 10px;
        color: #008B56;
        cursor: pointer;
        font-weight: bold;

    }

    .outer {
        transition: box-shadow .3s;
        padding: 20px;
    }
    .outer:hover {
        box-shadow: 0 0 11px rgba(33,33,33,.2);
    }

    .title{
        width: 100%;
        margin-bottom:10px;
        text-align: center;
    }

    .title p{
        font-weight: bold;
        font-size:22px;
        color: #046A38;
    }
    @media only screen and (max-width: 768px) {

        img{
            width: 60px;
            height: 60px;
        }

        .my-container{
            display: flex;
        }
        .outer {
            transition: box-shadow .3s;
            padding: 20px 10px;
        }

        img {
            width: 60px;
            height: 60px;
        }
        .outer p {
            font-size: 12px;
        }
    }

    @media only screen and (min-width: 1920px) {
        img{
            width: 90px;
            height: 90px;
        }
    }
</style>
<div class="container-fluid">
    <div class="row">        
        <div class="col-md-6 col-12 mt-5 first-container">
            <div class="title">
                <p>Chức năng chung</p>
            </div>
            <div class="row text-center">
                <div class="col-4 outer">
                    <a href="/user/notification">
                        <img src="<?=HOST."/photo/manage/icon-new.png"?>">
                        <p class="text-color-oppo">Thông báo</p>
                    </a>
                </div>
                <div class="col-4 outer">
                    <a href="https://center.opposhop.vn/view-menu?id=76">
                        <img src="<?=HOST."/photo/manage/icon-new.png"?>">
                        <p class="text-color-oppo">Thông tin -Hướng dẫn</p>
                    </a>
                </div>
                <div class="col-4 outer">
                    <a href="/user-information">
                        <img src="<?=HOST."/photo/manage/icon-new.png"?>">
                        <p class="text-color-oppo">Thông tin cá nhân</p>
                    </a>
                </div>
                <div class="col-4 outer">
                    <a href="/staff-time/staff-view">
                        <img src="<?=HOST."/photo/manage/icon-new.png"?>">
                        <p class="text-color-oppo">Công phép</p>
                    </a>
                </div>
                <div class="col-4 outer">
                    <a href="/appraisal-office">
                        <img src="<?=HOST."/photo/manage/icon-new.png"?>">
                        <p class="text-color-oppo">KPI</p>
                    </a>
                </div>
                <div class="col-4 outer">
                    <a href="/capacity">
                        <img src="<?=HOST."/photo/manage/icon-new.png"?>">
                        <p class="text-color-oppo">Năng lực</p>
                    </a>
                </div>
                <div class="col-4 outer">
                    <a href="https://center.opposhop.vn/view-menu?id=312">
                        <img src="<?=HOST."/photo/manage/icon-new.png"?>">
                        <p class="text-color-oppo">Đề xuất thanh toán</p>
                    </a>
                </div>
                <div class="col-4 outer">
                    <a href="/form-print/list-nhat-tin">
                        <img src="<?=HOST."/photo/manage/icon-new.png"?>">
                        <p class="text-color-oppo">In Phiếu Gửi Thư</p>
                    </a>
                </div>
            </div>
        </div>
        <div class="col-md-6 col-12 mt-5">
            <div class="title">
                <p>Quản lý công việc</p>
            </div>
            <div class="row text-center">

            <?php
            foreach ($this->menu as $menu){
                if ($menu['parent_id']==0&&$menu['id']!=401&&$menu['id']!=402){?>
                        <div class="col-4 outer">
                            <a href="<?=$menu['url']?>">
                                <?php
                                if (file_exists('photo/menu-icon/'.$menu['id'].'.png')) {?>
                                    <img src="<?php echo HOST."photo/menu-icon/".$menu['id'].".png"?>">



                                <?php } else {?>
                                    <img src="<?=HOST."/photo/manage/icon-new.png"?>">
                                <?php }



                                ?>

                                <?php if($this->lang==1): ?>
                                    <p class="text-color-oppo"><?=$menu['title_vie']?></p>
                                <?php else: ?>
                                    <p class="text-color-oppo"><?=$menu['title']?></p>
                                <?php endif;?>
                            </a>
                        </div>
                <?php }} ?>
                <div class="col-4 outer">
                    <a href="/staff-time/menu?id=999">
                        <img src="<?=HOST."photo/manage/icon-new.png"?>">
                            <p class="text-color-oppo">Time Leave</p>
                    </a>
                </div>

            </div>
        </div>
    </div>
</div>
<div class="main">
    <div class="my-container first-container">

    </div>
    <div class="my-container second-container">

    </div>
</div>
