<style>

    @media only screen and (max-width: 768px) {
        .outer{
            width: 28%;
            margin: 3px 0px 3px 5px;
            padding: 5px;

        }

        img{
            width: 60px;
            height: 60px;
        }

        p{
            font-weight:bold;
            font-size: 11px;
            height:38px;
        }
        .my-container{
            display: flex;
        }

    }

    @media only screen
    and (min-width: 768px)
    and (max-width: 1024px) {
        p{
            font-weight:bold;
            font-size: 11px;
            height:38px;
        }
        .outer{
            width: 28%!important;
            margin: 3px 0px 3px 5px!important;
            padding: 5px!important;

        }
        .main{
            margin-top:10px ;
        }
        .my-container{
            display: block;

        }
    }



    @media only screen and (min-width: 768px) {
        .main{
            display:flex;
            justify-content: start;

        }
        .my-container{
            width:50%;
        }

        .outer{
            width: 27%;
            margin: 10px 0px 10px 10px;
            padding: 10px;
        }
        img{
            width: 75px;
            height: 75px;
        }
        p{
            height:42px;
        }
        .first-container{
            border-right: 1px solid #046A38;
        }
    }

    .outer {
        float: left;
        text-align: center;
        border-radius: 5px;
        color: #008B56;
        /* border:1px solid #f1f1f1; */
    }
    .outer p{
        padding-top: 10px;
        color: #008B56;
        cursor: pointer;
        font-weight: bold;

    }
    /*.outer h3{*/
    /*    font-family: 'Roboto Slab', serif !important;*/
    /*}*/

    .my-container {

        justify-content: start;
        align-items: center;
        flex-wrap: wrap;
    }

    .outer {
        transition: box-shadow .3s;
    }
    .outer:hover {
        box-shadow: 0 0 11px rgba(33,33,33,.2);
    }
    .page-header{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
    }
    .page-header h3{
        color:#006a30;
    }

    .title{
        width: 100%;
        margin-bottom:10px;
        text-align: center;
    }

    .title p{
        font-weight: bold;
        font-size:22px;
        color: #046A38;
    }
</style>

<div class="page-header">
</h3>
</div>

<div class="main">
    <div class="my-container first-container">
        <div class="title">
            <p>Chức năng chung</p>
        </div>
        <div class="outer">
            <a href="/user/notification">
                <img src="<?=HOST."/photo/manage/icon-new.png"?>">
                <p>Thông báo</p>
            </a>
        </div>
        <div class="outer">
            <a href="https://center.opposhop.vn/view-menu?id=76">
                <img src="<?=HOST."/photo/manage/icon-new.png"?>">
                <p>Thông tin -Hướng dẫn</p>
            </a>
        </div>
        <div class="outer">
            <a href="/user-information">
                <img src="<?=HOST."/photo/manage/icon-new.png"?>">
                <p>Thông tin cá nhân</p>
            </a>
        </div>
        <div class="outer">
            <a href="/staff-time/staff-view">
                <img src="<?=HOST."/photo/manage/icon-new.png"?>">
                <p>Công phép</p>
            </a>
        </div>
        <div class="outer">
            <a href="/appraisal-office">
                <img src="<?=HOST."/photo/manage/icon-new.png"?>">
                <p>KPI</p>
            </a>
        </div>
        <div class="outer">
            <a href="/capacity">
                <img src="<?=HOST."/photo/manage/icon-new.png"?>">


                <p>Năng lực</p>
            </a>
        </div>
        <div class="outer">
            <a href="https://center.opposhop.vn/view-menu?id=312">
                <img src="<?=HOST."/photo/manage/icon-new.png"?>">


                <p>Đề xuất thanh toán</p>
            </a>
        </div>
        <div class="outer">
            <a href="/form-print/list-nhat-tin">
                <img src="<?=HOST."/photo/manage/icon-new.png"?>">


                <p>In Phiếu Gửi Thư</p>
            </a>
        </div>


    </div>
    <div class="my-container second-container">
        <div class="title">
            <p>Quản lý công việc</p>
        </div>

        <?php
        foreach ($this->menu as $menu){
            if ($menu['parent_id']==0&&$menu['id']!=401&&$menu['id']!=402){?>
                <div class="outer">
                    <a href="<?=$menu['url']?>">
                        <?php
                        if (file_exists('photo/menu-icon/'.$menu['id'].'.png')) {?>
                            <img src="<?php echo HOST."photo/menu-icon/".$menu['id'].".png"?>">



                        <?php } else {?>
                            <img src="<?=HOST."/photo/manage/icon-new.png"?>">
                        <?php }



                        ?>

                        <?php if($this->lang==1): ?>
                            <p><?=$menu['title_vie']?></p>
                        <?php else: ?>
                            <p><?=$menu['title']?></p>
                        <?php endif;?>
                    </a>
                </div>
            <?php }} ?>


        <div class="outer">
            <a href="/staff-time/menu?id=999">
                <img src="<?=HOST."photo/manage/icon-new.png"?>">
                    <p>Time Leave</p>
            </a>
        </div>



    </div>

</div>
