<style>

    @media only screen and (max-width: 768px) {
        .outer{
            width: 100%;
            margin: 5px 0px 5px 5px;
            padding: 5px;

        }
        img{
            width: 70px;
            height: 70px;
        }
        .inner{
            width: 33%;

        }
        .inner p{
            height:42px;
        }
    }

    @media only screen and (min-width: 768px) {
        .outer{
            width: 44%;
            padding: 10px;
        }
        img{
            width: 60px;
            height: 60px;
            margin-bottom:5px;
        }
        .inner{
            width: 33%;
            margin-top:10px;
            margin-bottom:10px;

        }
    }

    .inner{
        float: left;
        text-align: center;
        border-radius: 5px;
        color: #008B56;
        }
    
    .outer {
        float: left;
        text-align: center;
        border-radius: 5px;
        color: #008B56;
        /* border:1px solid #f1f1f1; */
        display: flex;
        justify-content: start;
        align-items: center;
        flex-wrap: wrap;
    }
    .outer p{
        padding-top: 10px;
        color: #008B56;
        cursor: pointer;
    }
    /*.outer h3{*/
    /*    font-family: 'Roboto Slab', serif !important;*/
    /*}*/

    .container {
        display: flex;
        justify-content: start;
        align-items: center;
        flex-wrap: wrap;
    }

    .innner {
        transition: box-shadow .1s;
    }
    .innner:hover {
        box-shadow: 0 0 11px rgba(33,33,33,.2);
    }

    .title{
        width: 100%;
        margin-bottom:10px;
    }

    .title p{
        font-size:22px;
    }

    .page-header{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
    }
    .page-header h3{
        color:#006a30;
    }

</style>
<div class="page-header">
        <h3>Demo Trang Chủ Đăng nhập</h3>
</div>
<div class="container ">
            <div class="outer">

                <div class="title">
                    <p>Chức năng chung</p>
                </div>
                <div class="inner">
                    <a href="">
                        <img src="<?=HOST."/photo/manage/TTNV.png"?>">
                    </a>
                    <p>Nghiêng Nghiêng Ngiêng</p>

                </div>
                <div class="inner">
                    <a href="">
                        <img src="<?=HOST."/photo/manage/icon-new.png"?>">
                    </a>
                    <p>Nghiêng Nghiêng Ngiêng</p>

                </div>
                <div class="inner">
                    <a href="">
                        <img src="<?=HOST."/photo/manage/icon-new.png"?>">
                    </a>
                    <p>Thông báo</p>

                </div>
                <div class="inner">
                    <a href="">
                        <img src="<?=HOST."/photo/manage/icon-new.png"?>">
                    </a>
                    <p>Thông báo</p>

                </div>
                <div class="inner">
                    <a href="">
                        <img src="<?=HOST."/photo/manage/icon-new.png"?>">
                    </a>
                    <p>Thông báo</p>

                </div>
                <div class="inner">
                    <a href="">
                        <img src="<?=HOST."/photo/manage/icon-new.png"?>">
                    </a>
                    <p>Thông báo</p>

                </div>

                <div class="inner">
                    <a href="">
                        <img src="<?=HOST."/photo/manage/icon-new.png"?>">
                    </a>
                    <p>Thông báo</p>

                </div>
                <div class="inner">
                    <a href="">
                        <img src="<?=HOST."/photo/manage/icon-new.png"?>">
                    </a>
                    <p>Thông báo</p>

                </div>
                <div class="inner">
                    <a href="">
                        <img src="<?=HOST."/photo/manage/icon-new.png"?>">
                    </a>
                    <p>Thông báo</p>

                </div>
</div>
<div class="outer">

<div class="title">
<h2>Chức năng chung</h2>
</div>
<div class="inner">
    <a href="">
        <img src="<?=HOST."/photo/manage/icon-new.png"?>">
    </a>
    <h4>Thông báo</h4>

</div>
<div class="inner">
    <a href="">
        <img src="<?=HOST."/photo/manage/icon-new.png"?>">
    </a>
    <h4>Thông báo</h4>

</div>
<div class="inner">
    <a href="">
        <img src="<?=HOST."/photo/manage/icon-new.png"?>">
    </a>
    <h4>Thông báo</h4>

</div>
<div class="inner">
    <a href="">
        <img src="<?=HOST."/photo/manage/icon-new.png"?>">
    </a>
    <h4>Thông báo</h4>

</div>
<div class="inner">
    <a href="">
        <img src="<?=HOST."/photo/manage/icon-new.png"?>">
    </a>
    <h4>Thông báo</h4>

</div>
<div class="inner">
    <a href="">
        <img src="<?=HOST."/photo/manage/icon-new.png"?>">
    </a>
    <h4>Thông báo</h4>

</div>

<div class="inner">
    <a href="">
        <img src="<?=HOST."/photo/manage/icon-new.png"?>">
    </a>
    <h4>Thông báo</h4>

</div>
<div class="inner">
    <a href="">
        <img src="<?=HOST."/photo/manage/icon-new.png"?>">
    </a>
    <h4>Thông báo</h4>

</div>
<div class="inner">
    <a href="">
        <img src="<?=HOST."/photo/manage/icon-new.png"?>">
    </a>
    <h4>Thông báo</h4>

</div>
</div>


</div>