<style>

    @media only screen and (max-width: 768px) {
        .outer{
            width: 28%;
            margin: 3px 0px 3px 5px;
            padding: 5px;

        }

        img{
            width: 60px;
            height: 60px;
        }

        p{
            font-weight:bold;
            font-size: 11px;
            height:38px;
        }
    }

    @media only screen 
  and (min-width: 768px) 
  and (max-width: 1024px) {
        p{
                    font-weight:bold;
                    font-size: 11px;
                    height:38px;
                }
        .outer{
            width: 28%!important;
            margin: 3px 0px 3px 5px!important;
            padding: 5px!important;

        }
        .main{
            margin-top:10px ;
        }
}



    @media only screen and (min-width: 768px) {
        .main{
            display:flex;
            justify-content: start;

        }
        .my-container{
            width:50%;
        }

        .outer{
            width: 27%;
            margin: 10px 0px 10px 10px;
            padding: 10px;
        }
        img{
            width: 75px;
            height: 75px;
        }
        p{
            height:42px;
        }
    }

    .outer {
        float: left;
        text-align: center;
        border-radius: 5px;
        color: #008B56;
        /* border:1px solid #f1f1f1; */
    }
    .outer p{
        padding-top: 10px;
        color: #008B56;
        cursor: pointer;
        font-weight: bold;
       
    }
    /*.outer h3{*/
    /*    font-family: 'Roboto Slab', serif !important;*/
    /*}*/

    .my-container {
        display: flex;
        justify-content: start;
        align-items: center;
        flex-wrap: wrap;
    }

    .outer {
        transition: box-shadow .3s;
    }
    .outer:hover {
        box-shadow: 0 0 11px rgba(33,33,33,.2);
    }
</style>



<div class="main">
<div class="my-container ">
            <div class="outer">
                <a href="">
                    <img src="<?=HOST."/photo/manage/icon-new.png"?>">
                        <p>Nghiêng Nghiêng Nghiêng</p>
                </a>
            </div>
            <div class="outer">
            <a href="">
                    <img src="<?=HOST."/photo/manage/icon-new.png"?>">
                        <p>Nghiêng Nghiêng Nghiêng</p>
                </a>
            </div>
            <div class="outer">
                <a href="">
                    <img src="<?=HOST."/photo/manage/icon-new.png"?>">
                        <p>Thông báo</p>
                </a>
            </div>
            <div class="outer">
                <a href="">
                    <img src="<?=HOST."/photo/manage/icon-new.png"?>">
                        <p>Thông báo</p>
                </a>
            </div>
            <div class="outer">
                <a href="">
                    <img src="<?=HOST."/photo/manage/icon-new.png"?>">

                    
                        <p>Thông báo</p>
                </a>
            </div>
            <div class="outer">
                <a href="">
                    <img src="<?=HOST."/photo/manage/icon-new.png"?>">

                    
                        <p>Thông báo</p>
                </a>
            </div>
            <div class="outer">
                <a href="">
                    <img src="<?=HOST."/photo/manage/icon-new.png"?>">

                    
                        <p>Thông báo</p>
                </a>
            </div>
       
    
</div>
</div>
