<div class="page-header">
    <h1>Diamond Plan Management</h1>
</div>
<?php
    if (isset($this->messages) and $this->messages)
        foreach ($this->messages as $message):
            echo '<div class="alert alert-success">'.$message.'</div>';
        endforeach;

    if (isset($this->messages_error) and $this->messages_error)
        foreach ($this->messages_error as $message):
            echo '<div class="alert alert-error">'.$message.'</div>';
        endforeach;
?>

<div class="row-fluid">
    <span class="pull-right"><a class="btn btn-info" href="/loyalty" title="Diamond plan Result">Diamond plan Result</a></span>
</div>

<div class="accordion" id="accordion2">
    <div class="accordion-group">
        <div class="accordion-heading">
            <a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion2" href="#collapseTwo">
                Search
            </a>
        </div>
        <div id="collapseTwo" class="accordion-body collapse" style="height: 0px;">
            <div class="accordion-inner">
                <form class="form-search form-horizontal" method="get">
                    <div class="row">
                        <div class="span5">
                            <div class="control-group">
                                <label for="name" class="span2">Name</label>
                                <input id="name" name="name" type="text" class="input-medium search-query form-control span2" value="<?php isset($this->params['name']) and printf($this->params['name']);?>">
                            </div>

                            <div class="control-group">
                                <label for="area_id" class="span2">Area</label>
                                <select id="area_id" name="area" class="span3">
                                    <option value="">Choose</option>
                                    <?php
                                    if ($this->areas) :
                                        foreach ($this->areas as $id => $area):
                                            ?>
                                            <option value="<?php echo $id;?>" <?php if (isset($this->params['area']) and $this->params['area']==$id):?>selected<?php endif;?>><?php echo $area;?></option>
                                        <?php
                                        endforeach;
                                    endif;
                                    ?>
                                </select>
                            </div>
                            <div class="control-group">
                                <label for="regional_market" class="span2">Province</label>
                                <select id="regional_market" name="regional_market" class="span3">
                                    <option value="">Choose</option>
                                    <?php
                                    if ($this->regional_markets) :
                                        foreach ($this->regional_markets as $_province):?>
                                            <option value="<?php echo $_province['id'];?>" <?php if (isset($this->params['regional_market']) and $this->params['regional_market']==$_province['id']):?>selected<?php endif;?>><?php echo $_province['name'];?></option>
                                        <?php
                                        endforeach;
                                    endif;
                                    ?>
                                </select>
                            </div>
                            <div class="control-group">
                                <label for="district" class="span2">District</label>
                                <select id="district" name="district" class="span3">
                                    <option value="">Choose</option>
                                    <?php
                                    if ($this->districts) :
                                        foreach ($this->districts as $_district):?>
                                            <option value="<?php echo $_district['id'];?>" <?php if (isset($this->params['district']) and $this->params['district']==$_district['id']):?>selected<?php endif;?>><?php echo $_district['name'];?></option>
                                        <?php
                                        endforeach;
                                    endif;
                                    ?>
                                </select>
                            </div>
                        </div>

                        <div class="span5">
                            <div class="control-group">
                                <label for="from_date" class="span2">From</label>
                                <input id="from_date" name="from_date" type="text" class="input-medium date search-query form-control span2" value="<?php isset($this->params['from_date']) and printf($this->params['from_date']);?>">
                            </div>

                            <div class="control-group">
                                <label for="to_date" class="span2">To</label>
                                <input id="to_date" name="to_date" type="text" class="input-medium date search-query form-control span2" value="<?php isset($this->params['to_date']) and printf($this->params['to_date']);?>">
                            </div>

                            <div class="control-group">
                                <label for="loyalty_plan_id" class="span2">Plan</label>
                                <select id="loyalty_plan_id" name="loyalty_plan_id[]" class="span3" multiple>
                                    <option value="">Choose</option>
                                    <?php
                                    if ($this->loyaltyPlanCached) :
                                        foreach ($this->loyaltyPlanCached as $id=>$item):?>
                                            <option value="<?php echo $id;?>" <?php if (isset($this->params['loyalty_plan_id']) and $this->params['loyalty_plan_id'] and in_array($id, $this->params['loyalty_plan_id'])):?>selected<?php endif;?>><?php echo $item;?></option>
                                        <?php
                                        endforeach;
                                    endif;
                                    ?>
                                </select>
                            </div>
                        </div>
                    </div>

                    <button type="submit" class="btn btn-primary">Search</button>
                    <a href="/loyalty" class="btn btn-warning">Reset</a>

                    <button type="button" id="btn-export" class="btn btn-success">Export</button>

                    <input type="hidden" value="0" id="export" name="export" />
                    <input type="hidden" value="0" id="export_type" name="export_type" />

                </form>

                <div id="dialog-form" title="Export">
                    <label for="export_general">In General</label>
                    <input type="radio" name="modal_export_type" id="export_general" value="1" checked />

                    <label for="export_general">In Detail</label>
                    <input type="radio" name="modal_export_type" id="export_detail" value="2" />

                    <input type="submit" tabindex="-1" style="position:absolute; top:-1000px">
                </div>


            </div>
        </div>
    </div>
</div>

<script type="text/javascript" src="/js/jquery-ui-1.8.12.custom.min.js"></script>
<link rel="stylesheet" type="text/css" href="/css/jquery-ui-1.8.12.custom.css"/>

<script>

    function initExportDialog(){
        dialog = $( "#dialog-form" ).dialog({
            autoOpen: false,
            modal: true,
            buttons: {
                Export: function() {
                    $( '.form-search #export' ).val(1);
                    $( '.form-search #export_type' ).val($( "input[name='modal_export_type']:checked").val());
                    $( '.form-search' ).submit();
                    $( this ).dialog( "close" );
                    $( '.form-search #export' ).val(0);
                },
                Cancel: function() {
                    $( this ).dialog( "close" );
                }
            },
            close: function() {

            }
        });

        $( "#btn-export" ).on( "click", function() {
            dialog.dialog( "open" );
        });
    }

    $(document).ready(function () {

        initExportDialog();

        $( '.date' ).datepicker({ dateFormat: "dd/mm/yy" });

        $('#area_id').change(function(){
            $(this).after('<span class="loading"></span>');
            var _self = $(this);
            var area_id = $(this).val();
            $.get("<?php echo HOST ?>staff/load-province",
                {area_id: area_id}
                ,function(data,status){
                    var obj = $.parseJSON( data );
                    $('#regional_market').find('option:not(:first)').remove();
                    $('#district').find('option:not(:first)').remove();

                    for (var i = 0; i < obj.length; i++) {
                        $('#regional_market').append('<option value="'+obj[i]['id']+'">'+obj[i]['name']+'</option>');
                    }
                    _self.nextAll('.loading').remove();
                });
        });

        $('#regional_market').change(function(){
            $('form').bind('submit',function(e){e.preventDefault();});
            $('form button, form input, form select').prop('disabled', true);
            $('.loading').remove();

            $(this).after('<span class="loading"></span>');
            var _self = $(this);
            var region = $(this).val();
            $.post("<?php echo HOST ?>ajax/get-district-cbb", {
                    region: region
                }
                ,function(data,status){
                    $('#district').find('option:not(:first)').remove();

                    try {
                        if (data) {
                            var obj = $.parseJSON( data );

                            for (var i = 0; i < obj.length; i++) {
                                $('#district').append('<option value="'+obj[i]['id']+'">'+obj[i]['name']+'</option>');
                            }
                        }

                    } catch(err) {

                    } finally {
                        $('.loading').remove();
                        $('form').unbind('submit');
                        $('form button, form input, form select').prop('disabled', false);
                    }
                });
        });
    });
</script>

<div class="clearfix"></div>

<div class="table-responsive load-ajax">
    <table class="table table-bordered">
        <thead>
        <tr>
            <?php echo $this->sorting(array(
                    '#',
                    'Name',
                    'Area',
                    'Province',
                    'Plan',
                    'From Date',
                    'To Date',
                    'Action',
                ),
                $this->url, $this->current_col, $this->desc); ?>
        </tr>
        </thead>
        <tbody>
        <?php
        if (isset($this->result) and $this->result)
        foreach ($this->result as $item): ?>
            <tr>
                <td>
                    <?php
                    echo $item['dealer_id'];
                    ?>
                </td>
                <td><a href="/timing/analytics-inventory-by-dealer-detail?dealer_id=<?php echo $item['dealer_id']; ?>"><?php echo isset($this->distributorCached[$item['dealer_id']]['title']) ? $this->distributorCached[$item['dealer_id']]['title'] : '';?></a></td>
                <td><?php echo isset($this->distributorCached[$item['dealer_id']]['area_name']) ? $this->distributorCached[$item['dealer_id']]['area_name'] : '';?></td>
                <td><?php echo isset($this->distributorCached[$item['dealer_id']]['region_name']) ? $this->distributorCached[$item['dealer_id']]['region_name'] : '';?></td>
                <td><?php echo isset($this->loyaltyPlanCached[$item['loyalty_plan_id']]) ? $this->loyaltyPlanCached[$item['loyalty_plan_id']] : '';?></td>
                <td><?php echo $item['from_date'];?></td>
                <td><?php echo $item['to_date'];?></td>
                <td>
                    <?php if ($this->access('loyalty', 'create')){?>
                        <a style="text-decoration: none !important;" href="/loyalty/create?id=<?php echo $item['id']; ?>" title="Edit Diamond Plan"><i class="icon-edit-sign"></i></a>
                        <a style="text-decoration: none !important;" href="/loyalty/create?dealer_id=<?php echo $item['dealer_id']; ?>&addNew=1" title="Add Diamond Plan"><i class="icon-plus"></i></a>
                    <?php } ?>
                </td>
            </tr>
        <?php endforeach;?>

        </tbody>
    </table>
</div>

<div class="paging">
    <?php echo $this->paging($this->total, $this->limit, $this->offset, $this->url);?>
</div>
