
<!-- THONG TIN SHOP CHUYỂN TỚI -->
<script>

    $(document).ready(function () {
        $(document).on('click', ".open_to", function() {
            var store_id = $('.stores_to').val();
            cat_id = 1;
            $(".block_thongtinshop_to").show();
            $.ajax({
                  url: "<?php echo HOST;?>trade/get-shop-info",
                  type: "GET",
                  dataType: "text",
                  context: this,
                  data: "id_shop="+store_id+"&category_id="+cat_id,
                  beforeSend: function() {
                        $(".loading").show();                   
                    },
                  success: function(result){

                        if(result)
                        {
                            var data = jQuery.parseJSON(result);
                            console.log(data);
                            shop_name=data.hanmuc.shop_name;
                            dautu_html = "";
                                for(i = 1;i < data.dautu.length; i++){
                                    dautu_html += "\
                                            <tr>\
                                                <td>"+data.dautu[i].ten_hang_muc+"</td>\
                                                <td class='number'>"+data.hanmuc.han_muc+"</td>\
                                                <td>"+data.hanmuc.da_dang_ky+"</td>\
                                                \
                                            </tr>";
                                    }
                             shopname_html="<label>"+ shop_name!=null ? shop_name : " "+"</label>";
                           
                                hinhanh_html = "";
                                for(i = 1;i < data.hinhanh.length; i++){
                                       
                                          hinhanh_html += "<img src='"+data.hinhanh[i].url+"' id='"+i+"' val='"+i+"'' class='img_air'>";

                                    }
                               thuctrangshop="<div class=\"block block_thongtinshop_to\" style=\"display:block;\">\
                               <h3 style=\"text-align: center;margin-bottom: 5px\">THÔNG TIN SHOP</h3>\
                                    <div class=\"shopname\" style=\" text-align:center; font-size:16px;\">\
                                    </div>\
                                    <?php if($this->params['title']!=199)
                                    {
                                    ?>\
                                  <table class=\"table hanmuc\">\
                                       <tr>\
                                           <th>Hạng mục</th>\
                                           <th>Hạn mức</th>\
                                           <th>Đã đầu tư</th>\
                                          \
                                       </tr>\
                                       "+dautu_html+"\
                                       \
                                   </table>\
                                   <?php
                                 }else{

                                 }
                                 ?>\
                                   <h3 style=\"text-align: center;margin-bottom: 5px\">HÌNH ẢNH CHECKSHOP</h3>\
                                   <div class=\"gallery\" style=\"text-align: center;\">\
                                       "+hinhanh_html+"\
                                   </div>\
                               </div>";
                          
                           
                            $('.block_thongtinshop_to').html(thuctrangshop);
                        }
                        else
                        {   
                            
                        }                    
                  },
                  error:function(){
                      alert("Error Ajax");
                  }
            });
          });
    });
</script>
<!-- THÔNG TIN SHOP CHUYỂN TỚI -->



<!-- Update đề xuất get thông tin shop -->
<script>

    $(document).ready(function () {
       $(document).on('click', ".open_from", function() {
            var store_id = $('.stores_from').val();
            cat_id = 1;
            $(".block_thongtinshop_from").show();
            $.ajax({
                  url: "<?php echo HOST;?>trade/get-shop-info",
                  type: "GET",
                  dataType: "text",
                  context: this,
                  data: "id_shop="+store_id+"&category_id="+cat_id,
                  beforeSend: function() {
                        $(".loading").show();                   
                    },
                  success: function(result){

                        if(result)
                        {
                            var data = jQuery.parseJSON(result);
                            console.log(data);
                            shop_name=data.hanmuc.shop_name;
                            dautu_html = "";
                                for(i = 1;i < data.dautu.length; i++){
                                    dautu_html += "\
                                            <tr>\
                                                <td>"+data.dautu[i].ten_hang_muc+"</td>\
                                                <td class='number'>"+data.hanmuc.han_muc+"</td>\
                                                <td>"+data.hanmuc.da_dang_ky+"</td>\
                                                \
                                            </tr>";
                                    }
                             shopname_html="<label>"+ shop_name!=null ? shop_name : " "+"</label>";
                           
                                hinhanh_html = "";
                                for(i = 1;i < data.hinhanh.length; i++){
                                       
                                          hinhanh_html += "<img src='"+data.hinhanh[i].url+"' id='"+i+"' val='"+i+"'' class='img_air'>";

                                    }
                               thuctrangshop="<div class=\"block block_thongtinshop_from\" style=\"display:block;\">\
                               <h3 style=\"text-align: center;margin-bottom: 5px\">THÔNG TIN SHOP</h3>\
                                    <div class=\"shopname\" style=\" text-align:center; font-size:16px;\">\
                                    </div>\
                                    <?php if($this->params['title']!=199)
                                    {
                                    ?>\
                                  <table class=\"table hanmuc\">\
                                       <tr>\
                                           <th>Hạng mục</th>\
                                           <th>Hạn mức</th>\
                                           <th>Đã đầu tư</th>\
                                          \
                                       </tr>\
                                       "+dautu_html+"\
                                       \
                                   </table>\
                                   <?php
                                 }else{

                                 }
                                 ?>\
                                   <h3 style=\"text-align: center;margin-bottom: 5px\">HÌNH ẢNH CHECKSHOP</h3>\
                                   <div class=\"gallery\" style=\"text-align: center;\">\
                                       "+hinhanh_html+"\
                                   </div>\
                               </div>";
                          
                           
                            $('.block_thongtinshop_from').html(thuctrangshop);
                        }
                        else
                        {   
                            
                        }                    
                  },
                  error:function(){
                      alert("Error Ajax");
                  }
            });
          });

    });
</script>




