<form class="form-search form-horizontal" method="get" action="/request-office/list-request">
    <div class="row">
        <div class="span5">
            <div class="control-group">
                <label for="name" class="span2">Nội dung yêu cầu</label>
                <input id="name" name="content" type="text" class=""
                       value="<?php isset($this->params['content']) and printf($this->params['content']); ?>">
            </div>

            <div class="control-group">
                <label for="name" class="span2">Hạng mục</label>
                <select class="" name="category" id="check-category">
                    <option value="">-- Chọn hạng mục --</option>
                    <?php foreach ($this->category as $key => $value) : ?>
                        <option <?php echo $this->params['category']==$value["id"] ? 'selected ':'';?>value="<?php echo $value["id"] ?>"><?php echo $value["name"] ?></option>
                    <?php endforeach; ?>
                </select>
            </div>
        </div>
        <div class="span5">
            <div class="control-group">
                <label for="name" class="span2">Trạng thái</label>
                <select name="status">
                    <option  value="">-- Chọn trạng thái --</option>
                    <option <?php echo $this->params['status']== 'cho hr director duyet' ? 'selected ':'';?> value="cho hr director duyet">Chờ HR Director duyệt</option>
                    <option <?php echo $this->params['status']== 'cho hr director duyet lan 2' ? 'selected ':'';?> value="cho hr director duyet lan 2">Chờ HR Director duyệt lần 2</option>
                    <option <?php echo $this->params['status']== 'cho purchaser duyet' ? 'selected ':'';?> value="cho purchaser duyet">Chờ Purchaser duyệt</option>
                    <option <?php echo $this->params['status']== 'cho bank accountant duyet' ? 'selected ':'';?> value="cho bank accountant duyet">Chờ Bank Accountant duyệt</option>
                    <option <?php echo $this->params['status']== 'hoan tat' ? 'selected ':'';?> value="hoan tat">Hoàn tất</option>
                </select>
            </div>
        </div>

    </div>
    <div class="row">
            <div class="span5">
            <div class="control-group">
            <label for="name" class="span2">Từ ngày</label>
            <input type="" class="date form-control" value=""
                   placeholder=""
                   name="from_date">
            </div>
            <div class="control-group">
            <label for="name" class="span2">Đến ngày</label>
            <input type="" class="date form-control" value=""
                   placeholder=""
                   name="from_date">
            </div>
        </div>
    </div>

    <div class="col-12">
        <div class="control-group">
            <button type="submit" class="btn btn-primary button-right">Lọc</button>
            <button type="submit" name="update_status_pr" value="1" class="btn btn-info button-right">Cập nhật trạng thái PR</button>
            <button type="reset" class="btn btn-warning button-right">Xóa bộ lọc</button>
        </div>
    </div>
    <!--    <button type="submit" name="export" value="1" class="btn btn-success">Export</button>-->
</form>
<style>
    .birth {
        width: 12%
    }
</style>

<script type="text/javascript" src="/js/jquery-ui-1.8.12.custom.min.js"></script>
<link rel="stylesheet" type="text/css" href="/css/jquery-ui-1.8.12.custom.css"/>
<script src="../js/tag-it.min.js" type="text/javascript" charset="utf-8"></script>
<link href="../css/jquery.tagit.css" rel="stylesheet" type="text/css">
<link href="../css/tagit.ui-zendesk.css" rel="stylesheet" type="text/css">
<script>
    $("#check-category").change(function () {
        if ($("#check-category option:selected").val() == 1) {
            $("#channel").prop('disabled', false);
        }else{
            $("#channel").prop('disabled', true);
            $("#channel").val("");
        }
    });
    $(document).ready(function () {
    $('.date').datepicker({dateFormat: "yy-mm-dd"});
});
</script>