<style>

    .list-img img
    {
        width: 100%;
        border: 1px solid #333;
        cursor: pointer;
    }

    .list-img
    {
        position: relative;
        margin: 5px 0px;
    }

    .list-img > input[type=checkbox]
    {
        position: absolute;
        top: 5px;
        left: 5px;
    }

    .img-item-hover
    {
        border: 3px solid #00A7E4;
    }

</style>
<div class="page-header">
    <h1><?php echo $this->h1; ?> Thông tin phép</h1>
</div>
<?php
if (isset($this->messages) and $this->messages)
    foreach ($this->messages as $message):
        echo '<div class="alert alert-success">'.$message.'</div>';
    endforeach;

if (isset($this->messages_error) and $this->messages_error)
    foreach ($this->messages_error as $message):
        echo '<div class="alert alert-danger">'.$message.'</div>';
    endforeach;
?>

    <?php
        $list_old_images = json_decode($this->data['image']);
    ?>
    
    
    
    <div class="row" style="margin-bottom: 20px;">
        <div class="span3">
                <p>Tên nhân viên</p>
                <p><?php echo $this->data['staff_name'] ?></p>
                <p>Từ</p>
                <p><?php echo date('d/m/Y', strtotime($this->data['from_date'])); ?></p>
                <p>Đến</p>
                <p><p><?php echo date('d/m/Y', strtotime($this->data['to_date'])); ?></p></p>
                <p>Loại phép</p>
                <p><?php echo $this->data['note'] ?></p>
        </div>
        <div class="span2">
        <?php
            $path = '/public/files/leave/' . $this->data['staff_id'] . '/';

            foreach($list_old_images as $key => $value)
            {
            ?>
                <div class="list-img">
                    <img src="<?php echo $path . $value ?>" data-source="<?php echo $path . $value ?>" class="img-item">
                </div>
            <?php
            }
        ?>
        </div>
        <div class="span7">
        <?php
            if(!empty($list_old_images))
            {
        ?>
            <img id="forcus" src="<?php echo $path . $list_old_images[0] ?>" style="width: 100%">
        <?php
            }
        ?>
        </div>
    </div> <!-- end row -->

<script>
    $('.check').click(function () {
        var key = $(this).val();
        if($(this).is(":checked"))
        {
            $("#list_old_images option[data-key='" + key + "']").prop('selected', true);
        }
        else
        {
            $("#list_old_images option[data-key='" + key + "']").prop('selected', false);
        }
    });

    $('.img-item').click(function () {
        var link_source = $(this).attr('data-source');
        $('#forcus').attr('src', link_source);
    });
</script>