<link rel="stylesheet" type="text/css" href="/css/bootstrap-datetimepicker.min.css"/>
<div class="page-header">
    <h1>List Leave</h1>
</div>
<style>
    img.img
    {
        margin: 20px 0px;
    }

    tr.error
    {
        background: #DEC756;
    }
</style>
<?php
if (isset($this->messages) and $this->messages)
    foreach ($this->messages as $message):
        echo '<div class="alert alert-success">'.$message.'</div>';
    endforeach;

if (isset($this->messages_error) and $this->messages_error)
    foreach ($this->messages_error as $message):
        echo '<div class="alert alert-danger">'.$message.'</div>';
    endforeach;
?>
<div class="accordion" id="accordion2">
    <div class="accordion-group">
        <div class="accordion-heading">
            <a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion2" href="#collapseTwo">
                Search
            </a>
        </div>
        <div id="collapseTwo" class="accordion-body collapse" style="height: 0px;">
            <div class="accordion-inner">
                <form action="" method="GET" class="form-search form-horizontal">
                    <div class="row">
                        <div class="span4">
                            <div class="control-group">
                                <label class="control-label">Họ tên</label>
                                <div class="controls">
                                    <input type="text" name="name" value="<?php echo $this->params['name'] ?>" id="" class="">
                                </div>
                            </div>

                            <div class="control-group">
                                <label class="control-label">Code</label>
                                <div class="controls">
                                    <input type="text" name="code" value="<?php echo $this->params['code'] ?>" id="" class="">
                                </div>
                            </div>

                            <div class="control-group">
                                <label class="control-label">Tháng</label>
                                <div class="controls">
                                    <input type="text" name="time" value="<?php if (isset($this->params['month'])): echo $this->params['month'].'/'.$this->params['year']; endif; ?>" id="" class="date">
                                </div>
                            </div>
                        </div> <!-- End span4 -->
                        <div class="span4">
                            <div class="control-group">
                                <label  class="control-label" for="department" class="">Department</label>
                                <div class="controls">
                                    <select name="department" id="department">
                                        <option value>Choose</option>
                                        <?php if (isset($this->recursiveDeparmentTeamTitle)): ?>
                                            <?php foreach ($this->recursiveDeparmentTeamTitle as $item_id => $item):?>
                                                <option value="<?php echo $item_id;?>" <?php if (isset($this->params) and $this->params and $item_id==$this->params['department']):?>selected<?php endif;?>><?php echo $item['name'];?></option>
                                            <?php endforeach;?>
                                        <?php endif ?>
                                    </select>
                                </div>
                            </div>

                            <div class="control-group">
                                <label  class="control-label" for="team" class="">Team</label>
                                <div class="controls">
                                    <select name="team" id="team" >
                                        <option value>Choose</option>
                                        <?php if ( isset($this->params) AND isset($this->recursiveDeparmentTeamTitle[$this->params['department']]['children'])): ?>
                                            <?php foreach ($this->recursiveDeparmentTeamTitle[$this->params['department']]['children'] as $item_id => $item):?>
                                                <option value="<?php echo $item_id;?>" <?php if (isset($this->params) and $this->params and $item_id==$this->params['team']):?>selected<?php endif;?>><?php echo $item['name'];?></option>
                                            <?php endforeach;?>
                                        <?php endif ?>
                                    </select>
                                </div>
                            </div>

                            <div class="control-group">
                                <label  class="control-label" for="title" class="">Title</label>
                                <div class="controls">
                                    <select name="title" id="title" >
                                        <option value>Choose</option>
                                        <?php if ( isset($this->params) AND isset($this->recursiveDeparmentTeamTitle[$this->params['department']]['children'][$this->params['team']]['children']) ): ?>
                                            <?php foreach ($this->recursiveDeparmentTeamTitle[$this->params['department']]['children'][$this->params['team']]['children'] as $item_id => $item):?>
                                                <option value="<?php echo $item_id;?>" <?php if (isset($this->params) and $this->params and $item_id==$this->params['title']):?>selected<?php endif;?>><?php echo $item['name'];?></option>
                                            <?php endforeach;?>
                                        <?php endif ?>
                                    </select>
                                </div>
                            </div>
                        </div> <!-- end span 4 -->
                        <div class="span2">
                            <button type="submit" class="btn btn-primary">Search</button>
                        </div>
                    </div> <!-- end row -->
                </form> <!-- end form -->
            </div> <!-- end accordion-inner -->
        </div> <!-- end collapseTwo -->
    </div>
</div>

<?php echo $this->render('leave/partials/list-leave.phtml'); ?>
    
<div class="page">
<?php echo $this->paging($this->total, $this->limit, $this->offset, $this->url);?>
</div>

<div id="myModal" class="modal fade" role="dialog">
  <div class="modal-dialog  modal-lg">
    <div class="modal-content">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal">&times;</button>
            <h4 class="modal-title">List leave img</h4>
        </div>
        <div class="modal-body" id="body_modal">

        </div>
    </div>
  </div>
</div> <!-- end modal -->

<script language="javascript" type="text/javascript" src="/js/bootstrap-datetimepicker.min.js"></script>
<script>
    $(document).ready(function () {
        $('.date').datetimepicker({
            weekStart: 1,
            clear: true,
            minView: 3,
            startView: 3,
            minViewMode: 3,
            autoclose: true,
            format: 'mm/yyyy'
        });

        $('#department,.department').change(function(){
            $('.loading').remove();
            $(this).after('<span class="loading"></span>');
            var _self = $(this);
            var department_id = $(this).val();
            $('form').bind('submit',function(e){e.preventDefault();});
            $('button, .btn, input, select').prop('disabled', true);
            $.get("/ajax/load-team",
                {department_id: [department_id]}
                ,function(data,status){
                    var obj = $.parseJSON( data );
                    $('#team,.team').find('option:not(:first)').remove();
                    for (var i = 0; i < obj.length; i++) {
                        $('#team,.team').append('<option value="'+obj[i]['id']+'">'+obj[i]['name']+'</option>');
                    }

                    $('button, .btn, input, select').prop('disabled', false);
                    $('form').unbind('submit');
                    $('.loading').remove();
                    $('#team,.team').change();
                });
        });

        $('#team,.team').change(function(){
            $('.loading').remove();
            $(this).after('<span class="loading"></span>');
            var _self = $(this);
            var team_id = $(this).val();
            $('form').bind('submit',function(e){e.preventDefault();});
            $('button, .btn, input, select').prop('disabled', true);
            $.get("/ajax/load-title",
                {team_id: [team_id]}
                ,function(data,status){
                    var obj = $.parseJSON( data );
                    $('#title,.title').find('option:not(:first)').remove();
                    for (var i = 0; i < obj.length; i++) {
                        $('#title,.title').append('<option value="'+obj[i]['id']+'">'+obj[i]['name']+'</option>');
                    }
                    $('button, .btn, input, select').prop('disabled', false);
                    $('form').unbind('submit');
                    $('.loading').remove();
                    
                });
        });

        $('#department,.department').change(function(){
            $('.loading').remove();
            $(this).after('<span class="loading"></span>');
            var _self = $(this);
            var department_id = $(this).val();
            $('form').bind('submit',function(e){e.preventDefault();});
            $('button, .btn, input, select').prop('disabled', true);
            $.get("/ajax/load-team",
                {department_id: [department_id]}
                ,function(data,status){
                    var obj = $.parseJSON( data );
                    $('#team,.team').find('option:not(:first)').remove();
                    for (var i = 0; i < obj.length; i++) {
                        $('#team,.team').append('<option value="'+obj[i]['id']+'">'+obj[i]['name']+'</option>');
                    }

                    $('button, .btn, input, select').prop('disabled', false);
                    $('form').unbind('submit');
                    $('.loading').remove();
                    $('#team,.team').change();
                });
        });

        $('#team,.team').change(function(){
            $('.loading').remove();
            $(this).after('<span class="loading"></span>');
            var _self = $(this);
            var team_id = $(this).val();
            $('form').bind('submit',function(e){e.preventDefault();});
            $('button, .btn, input, select').prop('disabled', true);
            $.get("/ajax/load-title",
                {team_id: [team_id]}
                ,function(data,status){
                    var obj = $.parseJSON( data );
                    $('#title,.title').find('option:not(:first)').remove();
                    for (var i = 0; i < obj.length; i++) {
                        $('#title,.title').append('<option value="'+obj[i]['id']+'">'+obj[i]['name']+'</option>');
                    }
                    $('button, .btn, input, select').prop('disabled', false);
                    $('form').unbind('submit');
                    $('.loading').remove();
                    
                });
        });

    });
</script>