<div class="page-header">
    <h1>Leave Type</h1>
</div>
<?php
if (isset($this->messages) and $this->messages)
    foreach ($this->messages as $message):
        echo '<div class="alert alert-success">'.$message.'</div>';
    endforeach;

if (isset($this->messages_error) and $this->messages_error)
    foreach ($this->messages_error as $message):
        echo '<div class="alert alert-danger">'.$message.'</div>';
    endforeach;
?>
<div>
    <a href="/leave/create-leave-type" class="btn btn-success pull-right">Create Leave Type</a>
</div>
<div class="table-responsive">
    <table class="table table-bordered">
        <thead>
            <tr>
                <td>#</td>
                <td>Note</td>
                <td>Parent</td>
                <td></td>
            </tr>
        </thead>
        <tbody>
            <?php foreach($this->LeaveType as $key => $value)
            {
            ?>
            <tr>
                <td><?php echo $key+1; ?></td>
                <td><?php echo $value['note']?></td>
                <td><?php echo $value['parent']; ?></td>
                <td><a href="/leave/create-leave-type?id=<?php echo $value['id']; ?>" class="btn btn-primary">Edit</a></td>
            </tr>
            <?php
            }
            ?>
        </tbody>
    </table>
</div>