<style>
.modal-content
{
    padding: 20px;
}


</style>

<div class="page-header">
    <h1>List Leave</h1>
</div>
<link rel="stylesheet" type="text/css" href="/css/bootstrap-datetimepicker.min.css"/>
<div class="accordion" id="accordion2">
    <div class="accordion-group">
        <div class="accordion-heading">
            <a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion2" href="#collapseTwo">
                Search
            </a>
        </div>
        <div id="collapseTwo" class="accordion-body collapse" style="height: 0px;">
            <div class="accordion-inner">
                <form action="" method="GET" class="form-search form-horizontal">
                    <div class="row">
                        <div class="span4">
                            <div class="control-group">
                                <label class="control-label">Từ ngày</label>
                                <div class="controls">
                                    <input type="text" name="from_date" value="<?php echo (!empty($this->params['from_date'])?(date('Y-m-d', strtotime($this->params['from_date'])) ):'' ) ?>" id="" class="date" autocomplete="off">
                                </div>
                            </div>

                            <div class="control-group">
                                <label class="control-label">Mã nhân viên</label>
                                <div class="controls">
                                    <input type="text" name="code" value="<?php echo $this->params['code'] ?>" id="" class="">
                                </div>
                            </div>
                            <div class="control-group">
                                <label class="control-label">Quản lý cấp một</label>
                                <div class="controls">
                                    <select name="status" id="">
                                         <option value="" <?php echo ($this->params['status'] == "")?'selected':''; ?>>-----</option>
                                        <option value="1" <?php echo ($this->params['status'] == 1)?'selected':''; ?>>Đã xác nhận</option>
                                        <option value="0" <?php echo ($this->params['status'] == 0 && $this->params['status'] != "") ?  'selected' : ''; ?>>Chưa xác nhận</option>
                                        
                                    </select>
                                </div>
                            </div>
                        </div> <!-- End span4 -->
                        <div class="span4">
                            <div class="control-group">
                                <label class="control-label">Đến ngày</label>
                                <div class="controls">
                                    <input type="text" name="to_date" value="<?php echo (!empty($this->params['to_date'])?(date('Y-m-d', strtotime($this->params['to_date'])) ):'' ) ?>"  class="date" autocomplete="off">
                                    
                                </div>
                            </div>

                            <div class="control-group">
                                <label class="control-label">Tên nhân viên</label>
                                <div class="controls">
                                    <input type="text" name="name" id="staff_name" class="" value="<?php echo $this->params['name']; ?>">
                                </div>
                            </div>

                            <div class="control-group">
                                <label class="control-label">Quản lý cấp hai</label>
                                <div class="controls">
                                    <select id="hr_approved" name="hr_approved">
                                        <option value="" <?php echo ($this->params['hr_approved'] == "")?'selected':''; ?> >-----</option>
                                        <option value="1" <?php echo ($this->params['hr_approved'] == 1)?'selected':''; ?> >Đã xác nhận</option>
                                        <option value="0" <?php echo ($this->params['hr_approved'] == 0 && $this->params['hr_approved'] != "")?'selected':''; ?> >Chưa xác nhận</option>
                                    </select>
                                </div>
                            </div>
                        </div> <!-- End span4 -->
                        <div class="span12">
                            <button type="submit" class="btn btn-primary">Search</button>
                            <button type="submit" name="export" value="2" class="btn btn-success">Export</button>   
                            <?php 
                                if($this->show_detail == 1) :
                            ?>
                            <button type="submit" name="export_year" value="1" class="btn btn-success">Export Year</button>
                             <?php 
                                endif;
                            ?>
                            <button type="submit" name="export_leave_detail" value="1" class="btn btn-success">Export Leave Detail</button>
                            <a href="/leave/view-staff-leave" name="view_leave_detail" value="1" class="btn btn-success">View Leave Detail</a>
                            	                
                        </div>
                    </div> <!-- end row -->
                </form> <!-- end form -->
            </div> <!-- end accordion-inner -->
        </div> <!-- end collapseTwo -->
    </div>
</div>

<form method="post" action="">
<?php 
        if($this->data_insurance and !empty($this->data_insurance['data'])){
            $active = "giam";
        }elseif ($this->data_viec_rieng and !empty($this->data_viec_rieng['data'])){
            $active = "dieuchinh";
        }elseif ($this->data_nam and !empty($this->data_nam['data'])){
            $active = "chedo";
        }else{
            $active = "tang";
        }
        
?>

<ul class="nav nav-tabs">
    <li <?php if($active == "tang") echo 'class="active"';?>><a href="#tang" data-toggle="tab">Nghỉ quá hạn</a></li>
    <li <?php if($active == "giam") echo 'class="active"';?>><a href="#giam" data-toggle="tab">Phép Bảo hiểm</a></li>
    <li <?php if($active == "dieuchinh") echo 'class="active"';?>><a href="#dieuchinh" data-toggle="tab">Phép việc riêng hưởng lương</a></li>
    <li <?php if($active == "chedo") echo 'class="active"';?>><a href="#chedo" data-toggle="tab">Phép năm</a></li>
</ul>

<div class="tab-content">
    <div class="tab-pane <?php if($active == "tang") echo 'active';?>"  id="tang">
        <table class="table table-bordered">
            <thead>
                <th>Khu vực</th>
                <th>Mã nhân viên</th>
                <th>Họ tên</th>
                <th>Chức vụ</th>
                <th>Loại phép</th>
                <th>Từ ngày</th>
                <th>Đến ngày</th>
                <th>Số ngày nghỉ theo đơn</th>
                <!--<th>Số ngày nghỉ thực tế</th>-->
                <th class="reason">Lý do xin nghỉ</th>
                <th>Quản lý trực tiếp</th>
                <th>Nhân sự</th>
                <th>Phản hồi</th>
               <th>Ngày dự sinh</th>
                <th>Ngày đăng ký</th>
            </thead>
            <tbody>
            <?php
                foreach($this->data_limit as $key => $value)
                {
                ?>
                <?php include 'partials/detail-leave.phtml'; ?>
                <?php
                }
            ?>
            </tbody>
        </table>
    </div>

    <div class="tab-pane <?php if($active == "giam") echo 'active';?>" id="giam">
        <table class="table table-bordered">
            <thead>
                <th>Khu vực</th>
                <th>Mã nhân viên</th>
                <th>Họ tên</th>
                <th>Chức vụ</th>
                <th>Loại phép</th>
                <th>Từ ngày</th>
                <th>Đến ngày</th>
                <th>Số ngày nghỉ theo đơn</th>
                <!--<th>Số ngày nghỉ thực tế</th>-->
                <th class="reason">Lý do xin nghỉ</th>
                <th>Quản lý trực tiếp</th>
                <th>Nhân sự</th>
                <th>Phản hồi</th>
                <th>Ngày dự sinh</th>
                <th>Ngày đăng ký</th>
                
            </thead>
            <tbody>
            <?php
                foreach($this->data_insurance['data'] as $key => $value)
                {
                ?>
                <?php include 'partials/detail-leave.phtml'; ?>
                <?php
                }
            ?>
            </tbody>
        </table>
    </div>

    <div class="tab-pane <?php if($active == "dieuchinh") echo 'active';?>" id="dieuchinh" >
        <table class="table table-bordered">
            <thead>
                <th>Khu vực</th>
                <th>Mã nhân viên</th>
                <th>Họ tên</th>
                <th>Chức vụ</th>
                <th>Loại phép</th>
                <th>Từ ngày</th>
                <th>Đến ngày</th>
                <th>Số ngày nghỉ theo đơn</th>
                <!--<th>Số ngày nghỉ thực tế</th>-->
                <th class="reason">Lý do xin nghỉ</th>
                <th>Quản lý trực tiếp</th>
                <th>Nhân sự</th>
                <th>Phản hồi</th>
                <!--<th>Ghi chú</th>-->
            </thead>
            <tbody>
            <?php
                foreach($this->data_viec_rieng['data'] as $key => $value)
                {
                ?>
                <?php include 'partials/detail-leave.phtml'; ?>
                <?php
                }
            ?>
            </tbody>
        </table>
    </div>

    <div class="tab-pane <?php if($active == "chedo") echo 'active';?>" id="chedo">
        <table class="table table-bordered">
            <thead>
                <th>Khu vực</th>
                <th>Mã nhân viên</th>
                <th>Họ tên</th>
                <th>Chức vụ</th>
                <th>Loại phép</th>
                <th>Từ ngày</th>
                <th>Đến ngày</th>
                <th>Số ngày nghỉ theo đơn</th>
                <!--<th>Số ngày nghỉ thực tế</th>-->
                <th class="reason">Lý do xin nghỉ</th>
                <th>Quản lý trực tiếp</th>
                <th>Nhân sự</th>
                <th>Phản hồi</th>
                <!--<th>Ghi chú</th>-->
            </thead>
            <tbody>
            <?php
                foreach($this->data_nam['data'] as $key => $value)
                {
                ?>
                <?php include 'partials/detail-leave.phtml'; ?>
                <?php
                }
            ?>
            </tbody>
        </table>
    </div>

</div>

</form>

<div id="pending-modal" class="modal fade" role="dialog"> <!-- modal office -->
  <div class="modal-dialog">
    <div class="modal-content">
        <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
        </div>
      <form action="" method="post" class="form-horizontal">
        Bạn có muốn xóa phép hay không?
        <button class="btn btn-success" id="btn-approve" name="delete">Đồng ý</button> 
        <button class="btn btn-warning btn-nonapprove" id="not-approve" type="button" name="">Không đồng ý</button>
      </form> <!-- end form -->
    </div>

  </div>
</div> <!-- end modal office -->


<div id="change-month-approve" class="modal fade" role="dialog"> <!-- modal office -->
  <div class="modal-dialog">
    <div class="modal-content">
        <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
        </div>
      <form action="" method="post" class="form-horizontal">
        Lựa chọn ngày duyệt phép ?
        <br>
        <input type="text" name="date-approve-leave" value="<?php echo date("Y-m-d")?>" class="date date-approve-leave" autocomplete="off" onkeydown="return false;">
        <button class="btn btn-success" id="choose-date-leave"  name="choose-date-leave">Đồng ý</button> 
        <button class="btn btn-warning btn-nonapprove" type="button" name="">Không đồng ý</button>
      </form> <!-- end form -->
    </div>

  </div>
</div> <!-- end modal office -->

<div id="view_image_gps" class="modal fade" role="dialog"> <!-- modal none office -->
  <div class="modal-dialog">
    <div class="modal-content">
        <div class="modal-body">
            <img src="" id="image_gps" style="width: 100%">
        </div>
    </div>
  </div>
</div> <!-- end modal image -->

<script src="/js/tableHeadFixer.js">
</script>

<script type="text/javascript" src="/js/jquery-ui-1.8.12.custom.min.js"></script>
<link rel="stylesheet" type="text/css" href="/css/jquery-ui-1.8.12.custom.css"/>
<script language="javascript" type="text/javascript" src="/js/bootstrap-datetimepicker.min.js"></script>
<script>

    $( '.date' ).datepicker({ dateFormat: "yy-mm-dd"});
    
    $('.btn-delete').click(function () {
        $('#btn-approve').val($(this).val());
        $('#pending-modal').modal();
    });

    $('.btn-nonapprove').click(function () {
        $('.modal-header .close').click();
    });

    $('.pending-modal-open').click(function () {
        var id = $(this).attr('data-id');
        
        var html = '<div id="div_approve" >';
        html += '<button class="label label-xs label-danger" id="btn-approve" value="' + id + '" name="approved">Đồng ý</button>';
        html += '<button class="label label-xs label-danger" id="not-approve" value="' + id + '" name="notapproved">Không đồng ý</button>';
        html += '</div>';
        $('#div_approve').remove();
        $(this).after(html);
        // $('#pending-modal').modal();

        $('.span-note').show();
        $('#span-note-' + id).hide();
        $('#note_input').remove();
        var html_note = '<input id="note_input" name="note" value="' + $('#span-note-' + id).text() + '" />';
        $('#span-note-' + id).after(html_note);
    });

    $('.pending-hr-open').click(function () {
        var id = $(this).attr('data-id');
        
        var html = '<div id="div_hrapprove" >';
        html += '<button class="label label-xs label-danger" id="btn-approve" value="' + id + '" name="hr_approved1">Đồng ý</button>';
        html += '<button class="label label-xs label-danger" id="not-approve" value="' + id + '" name="nothr_approved">Không đồng ý</button>';
        html += '</div>';
        // $('#div_hrapprove').remove();
        $(this).after(html);
        // $('#pending-modal').modal();
    });

</script>



<script type="text/javascript">

    $modal = $('#modal');


    $(document).on("click", ".img_toggle", function (event) {
        $('#image_gps').attr('src', $(this).attr('src'));
        $('#view_image_gps').modal();
    });



</script>
<script>
    $(document).ready(function () {

        $('.sauchedo_time_effective').change(function(){
            var leave_id		= $(this).attr('leave_id');
            var staff_id_leave		= $(this).attr('staff_id');
            var sauchedo_to_date 	= $(this).val();
            if(leave_id) {
                // Begin Swal.fire
                Swal.fire({
                    title: 'Thay đổi ngày phép',
                    text: "Bạn chắc chắn muốn thay đổi?",
                    icon: 'warning',
                    showCancelButton: true,
                    confirmButtonColor: '#3085d6',
                    cancelButtonColor: '#d33',
                    confirmButtonText: 'Yes, change it!'
                }).then((result) => {
                    if (result.value) {
                        $.ajax({
                            type: 'get',
                            url: '/leave/change-sauchedo-to-date',
                            data: {
                                'sauchedo_to_date': sauchedo_to_date,
                                'leave_id': leave_id,
                                'staff_id_leave': staff_id_leave,
                                'sauchedo': 1
                            },
                            error: function (error) {
                                console.log(eval(error));
                            },
                            success: function (data) {
                                var result = JSON.parse(data);
                                if(result.code == -1){
                                    Swal.fire(
                                        'Error!',
                                        result.message,
                                        'error'
                                    );
                                }else if(result.code == 1){
                                    Swal.fire(
                                        'Cập nhật thành công!',
                                        'To date đã được điều chỉnh.',
                                        'success'
                                    );
                                }
                            }
                        });
                    }
                }); // End Swal.fire
                
            } // End If

	});


        $('.diligent_passby_from').change(function(){
            var leave_id		= $(this).attr('leave_id');
            var diligent_passby_from 	= $(this).val();
            if(leave_id) {
                // Begin Swal.fire
                Swal.fire({
                    title: 'Thay đổi ngày được phép đi muộn',
                    text: "Bạn chắc chắn muốn thay đổi?",
                    icon: 'warning',
                    showCancelButton: true,
                    confirmButtonColor: '#3085d6',
                    cancelButtonColor: '#d33',
                    confirmButtonText: 'Yes, delete it!'
                }).then((result) => {
                    $.ajax({
                        type: 'get',
                        url: '/leave/change-diligent-passby-from',
                            data: {
                                'diligent_passby_from': diligent_passby_from,
                                'leave_id': leave_id
                            },
                        error: function (error) {
                            console.log(eval(error));
                        },
                        success: function (data) {
                            if (result.value) {
                                Swal.fire(
                                    'Cập nhật thành công!',
                                    'To date đã được điều chỉnh.',
                                    'success'
                                );

                            }
                        }
                    });
                    
                });
            }

        });
        
        $('.approve-choose-month').click(function(){
            $('#choose-date-leave').val($(this).val());
            $('#change-month-approve').modal();
            return false;
        });
    });
</script>