<link rel="stylesheet" type="text/css" href="/css/bootstrap-datetimepicker.min.css"/>
<style>
    td.text-center
    {
        text-align: center;
    }
</style>
<div class="page-header">
    <h1>Quản lý phép</h1>
</div>
<form action="" method="GET">
    <div class="row">
        <div class="span4">
            <div class="control-group">
                <label class="control-label">Mã nhân viên</label>
                <div class="controls">
                    <input type="text" name="code" value="<?php echo $this->code; ?>" id="" class="">
                </div>
            </div>
        </div>
        <div class="span4">
            <div class="control-group">
                <label class="control-label">Tháng</label>
                <div class="controls">
                    <input type="text" name="time" value="<?php if (isset($this->params['month'])): echo $this->params['month'] . '/' . $this->params['year']; endif; ?>" class="date">
                </div>
            </div>
        </div>
        <div class="span4">
            <div class="control-group">
                <label class="control-label">-</label>
                <div class="controls">
                    <button type="submit" class="btn btn-primary">Search</button>
                </div>
            </div>
        </div>
    </div>
</form>
<table class="table table-bordered">
    <tr style="color: #00ba8b !important;font-weight: bold;font-size: 15px;">
        <td>Tổng số ngày phép năm có trong kỳ(cộng thêm phép Thử việc(Nếu có))</td>
        <td><?php echo !empty($this->annual_leave_fund)  ? $this->annual_leave_fund[0]['quyphep'] : 0 ; ?></td>
        <td>Tổng số ngày phép năm đã sử dụng</td>
        <td><?php echo  !empty($this->annual_leave_fund)  ? $this->annual_leave_fund[0]['Tong'] : 0 ; ?></td>

        <td>Tổng ngày chưa sử dụng được hoàn (gồm Phép Thâm Niên 5 năm)</td>
         <?php 
            $staff_seniority = ($this->annual_leave_fund[0]['quyphep'] > 0 && !empty($this->staff_seniority)) ? 1 : 0;
        ?>
        <td><?php echo  !empty($this->annual_leave_fund)  ? $this->annual_leave_fund[0]['phepton'] + $staff_seniority : 0 ; ?></td>
    </tr>
</table>
<?php
$contract_begin = $this->staff_contract_begin['staff_joined'];
$date_begin = date('d', strtotime($this->staff_contract_begin['staff_joined']));
$month_begin = date('m', strtotime($this->staff_contract_begin['staff_joined']));
$year_begin = date('Y', strtotime($this->staff_contract_begin['staff_joined']));
$today = date('Y-m-d');
?>
<?php
$array_month = array(
    '3-2017' => 'Tháng 3/2017',
    '4-2017' => 'Tháng 4/2017',
    '5-2017' => 'Tháng 5/2017',
    '6-2017' => 'Tháng 6/2017',
    '7-2017' => 'Tháng 7/2017',
    '8-2017' => 'Tháng 8/2017',
    '9-2017' => 'Tháng 9/2017',
    '10-2017' => 'Tháng 10/2017',
    '11-2017' => 'Tháng 11/2017',
    '12-2017' => 'Tháng 12/2017',
    '1-2018' => 'Tháng 1/2018',
    '2-2018' => 'Tháng 2/2018',
);
?>

<table class="table table-bordered">
    <tr>
        <td class="text-center"><b><b>Tổng qũy phép năm trong kỳ</b></td>
    </tr>
    <tr>
        <td>
            <table class="table table-bordered">
                <tr>
                    <?php
                        foreach($this->cycle as $value)
                        {
                            echo '<td><b>' . $value['name_month'] . '</b></td>';
                        }
                        
                        echo ' <td><b>Phép Thâm Niên trên 5 năm</b></td>';
                        echo ' <td><b>Tổng cộng</b></td>';
                    ?>
                </tr>
                <tr>
                    <?php
                        $staff_seniority = ($this->annual_leave_fund[0]['quyphep'] > 0 && !empty($this->staff_seniority)) ? 1 : 0;
			$total_leave = 0;
                        foreach($this->cycle as $value){

                            $yearly_leave = 0;
                            if(
                                (empty($this->off_date) OR ($this->off_date > $value['mid_month']))
                                AND ($today > $value['from_date'])   
                                AND !empty($date_begin) 
                                AND ($contract_begin <= $value['mid_month'])
                                AND (!empty($this->annual_leave_fund)  AND  $this->annual_leave_fund[0]['quyphep'] > 0 )    
                                        
                                ){
                                //if(empty($this->annual_leave_history) OR ( $this->annual_leave_history[0]['from_date'] < $value['mid_month'] && $this->annual_leave_history[0]['to_date'] > $value['mid_month'])){
                                if(empty($this->annual_leave_history) OR ( in_array($value['from_date'], $this->time_cycle_leave))){
                                    if(isset($this->info_staff) && in_array($this->info_staff['id_place_province'], ID_PLACE_PROVINCE_FOREIGNER)){
                                        $yearly_leave = 1.5;
                                    }else {
                                        $yearly_leave = 1;
                                    }
                                    $total_leave += $yearly_leave;
                                }
                            }
                            echo '<td>'.$yearly_leave.'</td>';
                        } 
                        echo '<td>'. $staff_seniority .'</td>';
                        $total_all = $total_leave + $staff_seniority;
                        echo '<td>'.$total_all.'</td>';			
                    ?>
                </tr>
            </table>
        </td>
    </tr>
</table>

<table class="table table-bordered">
    <tr>
        <td class="text-center"><b>Phép năm đã sử dụng theo tháng</b></td>
    </tr>
    <tr>
        <td>
            <table class="table table-bordered">
                <tr>
                    <?php
                        foreach($this->cycle as $value)
                        {
                            echo '<td><b>' . $value['name_month'] . '</b></td>';
                        }
                        
                        echo ' <td>Tổng cộng</td>';
                    ?>
                </tr>
                <tr>
                    <?php
                        $total_leave_year = 0;
                        $listMonth = array();
                        $listYear = array();
                        $leaveByMonth = array();
                        if(!empty($this->historyLeave)){
                              foreach($this->historyLeave as $val){
                                  $listMonth[] =  $val['month'];
                                  $listYear[] =  $val['year'];
                                  $leaveByMonth[$val['month']][ $val['year']] =  $val['number'];
                              }
                        }
                        foreach($this->cycle as $k =>  $value){
                            $yearly_leave = 0;
                            if(
                                (!empty($this->historyLeave))   
                                  AND in_array($value['month'], $listMonth) 
                                  AND in_array($value['year'], $listYear) 
                                 ){
                                $yearly_leave = !empty($leaveByMonth[$value['month']][$value['year']]) ? $leaveByMonth[$value['month']][$value['year']] : 0;
                                $total_leave_year += $yearly_leave;
                                
                            }
                            echo '<td>'. $yearly_leave.'</td>';
                        } 
                        echo '<td>'.$total_leave_year.'</td>';
                    ?>
                </tr>
            </table>
        </td>
    </tr>
</table>

<table class="table table-bordered">
    <tr>
        <td class="text-center"><b>Phép đã đăng ký & sử dụng</b></td>
    </tr>
    <tr>
        <td>
            <table  class="table table-bordered">
                <thead>
                    <th>Từ ngày</th>
                    <th>Đến ngày</th>
                    <th>Tổng số ngày</th>
                    <th>Ngày nghỉ thực tế</th>
                    <th>Nhóm phép</th>
                    <th>Loại phép</th>
                    <th>Lý do</th>
                    <th>Tình trạng</th>
                    <th>Ghi chú</th>
                    <th>Link</th>
                </thead>
                <tbody>
                    <?php foreach($this->data['data'] as $key => $value): ?>
                        <tr class="<?php echo ($value['need_upload_image'] > 0)?'error':''  ?>" >
                            <td><?php echo date("d/m/Y", strtotime($value['from_date'])); ?></td>
                            <td><?php echo date("d/m/Y", strtotime($value['to_date'])); ?></td>
                            <td><?php echo $value['total']; ?> ngày</td>
                            <td><?php echo $value['Tong']; ?> ngày</td>
                            <td><?php echo $value['leave_type_parent_note']; ?></td>
                            <td><?php echo $value['leave_type_note']; ?></td>
                            <td><?php echo $value['reason']; ?></td>
                            <td><?php 
                                if($value['status'] == 2)
                                {
                                    echo 'Không đồng ý';
                                }
                                else
                                {
                                    if(!empty($value['hr_approved']))
                                    {
                                        echo "Xác nhận";
                                    }
                                    elseif(!empty($value['status']))
                                    {
                                        echo "Chờ nhân sự xác nhận";
                                    }
                                    else
                                    {
                                        echo "Chờ trưởng bộ phận xác nhận";
                                    }
                                }

                            ?></td>
                            <td>
                            <?php
                                if($value['leave_type_parent_id'] == 3 || $value['leave_type'] == 2)
                                {
                                    echo 'Nghỉ phép hưởng lương';
                                }
                                else
                                {
                                    echo 'Nghỉ phép không lương';
                                }
                            ?>
                            </td>
                            <td><a href="#" class="link_approve" v-id="<?php echo $value['id'] ?>"><span class="icon-edit"></span></a></td>
                        </tr>
                        <?php endforeach;?>
                </tbody>
            </table>
        </td>
    </tr>
</table>


<div id="modal_link" class="modal fade" role="dialog"> <!-- modal office -->
    <div class="modal-dialog">
        <div class="modal-content" style="padding: 20px;">
            <form action="" method="post" class="form-horizontal">
                <label for="">Link approve công</label>
                <input type="text" id="link_approve"><button type="button" id="btn-copy">Copy</button>
            </form> <!-- end form -->
        </div>

    </div>
</div> <!-- end modal office -->


<script language="javascript" type="text/javascript" src="/js/bootstrap-datetimepicker.min.js"></script>
<script>
    $(document).ready(function () {
        $('.date').datetimepicker({
            weekStart: 1,
            clear: true,
            minView: 3,
            startView: 3,
            minViewMode: 3,
            autoclose: true,
            format: 'mm/yyyy'
        });

        $('.link_approve').click(function () {
            var id = $(this).attr('v-id');
            $('#link_approve').val('<?php echo HOST?>leave/approve-leave-detail?id=' + id);
            $('#modal_link').modal();
        });

        $('#btn-copy').click(function () {
            $("#link_approve").select();
            document.execCommand("copy");
        });

    });
</script>