<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>


<div class="page-header">
    <h1>Survey List</h1>
</div>
<?php
if (isset($this->messages) and $this->messages)
    foreach ($this->messages as $message):
        echo '<div class="alert alert-success">' . $message . '</div>';
    endforeach;

if (isset($this->messages_error) and $this->messages_error)
    foreach ($this->messages_error as $message):
        echo '<div class="alert alert-error">' . $message . '</div>';
    endforeach;
?>


<div class="accordion" id="accordion2">
    <div class="accordion-group">
        <div class="accordion-heading">
            <a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion2" href="#collapseTwo">
                Search
            </a>
        </div>
        <div id="collapseTwo" class="accordion-body collapse" style="height: 0px;">
            <div class="accordion-inner">
                <form action="/survey/form-builder-list" method="get" accept-charset="utf-8">
                    <div class="form-group">
                        <label for="sel1" class="span2"><h4>Select form:</h4></label>
                        <select class="form-control" name="survey_id">
                            <option value="">---</option>
                            <?php if ($this->list): ?>
                                <?php foreach ($this->list as $form): ?>
                                    <option value="<?php echo $form['ds_id'] ?>"><?php echo $form['ds_name']; ?></option>
                                <?php endforeach; ?>
                            <?php endif; ?>
                        </select>
                    </div>
                    <button type="submit" class="btn btn-success" disabled="disabled">Search</button>
                    <button type="submit" name="export" value=1 class="btn btn-primary" disabled="disabled">Export</button>
            </div>
        </div>
    </div>
</div>

<div>
    <a href="/dynamic-survey/create" class="btn btn-success pull-right">+</a>
</div>
<div class="table-responsive">
    <table class="table table-bordered">
        <thead>
        <tr>
            <th style="text-align: center;">#</th>
            <th style="text-align: center;">Chọn</th>
            <th style="width: 50%;">Tên</th>
            <th style="text-align: center;">Trạng Thái</th>
            <th style="width: 15%;">Action</th>
        </tr>
        </thead>
        <tbody>
        <?php if (isset($this->list) AND $this->list):
            $intStt = $this->offset;
            foreach ($this->list as $item):
                ?>
                <tr>
                    <td style="text-align: center;"><?php echo ++$intStt; ?></td>
                    <td style="text-align: center;"><input name="survey_id" type="radio" value="<?php echo $item['ds_id']; ?>"></td>
                    <td><?php echo $item['ds_name']; ?></td>
                    <td style="text-align: center;"><?php echo $item['ds_status'] == 1 ? 'Đang hoạt động' : 'Chưa hoạt động'; ?></td>
                    <td>
                        <a class="btn btn-warning"
                           href="<?php echo '/dynamic-survey/preview-live?survey_id=' . $item['ds_id'] ?>">Preview</a>
                        
                        
                    </td>
                </tr>
            <?php
            endforeach;
        endif; ?>
        </form>
        </tbody>
    </table>
    <div class="paging">
        <?php echo $this->paging($this->total, $this->limit, $this->offset, $this->url); ?>
    </div>


    <script type="text/javascript" src="/js/jquery-ui-1.8.12.custom.min.js"></script>
    <link rel="stylesheet" type="text/css" href="/css/jquery-ui-1.8.12.custom.css"/>
    <?php echo $this->confirm(); ?>

</div>

</div>
<script type="text/javascript" src="/js/bootstrap-modal.js"></script>
<script type="text/javascript" src="/js/bootstrap-modalmanager.js"></script>
<link rel="stylesheet" type="text/css" href="/css/bootstrap-modal.css"/>
<script>
    $(document).ready(function () {
        
        var status;
        var survey_id;
        
        $('.date').datepicker({dateFormat: "dd/mm/yy"});
        // $("[rel=tooltip]").tooltip({ placement: 'right'});
        $('.form-search button:reset').click(function (e) {
            $('.form-search input, .form-search select').val('');
            $('.form-search').submit();
            return false;
        });

        $modal = $('#modal');

        $('#short_btn').click(function () {
            _self = $(this);
            $('body').modalmanager('loading');

            $.post('<?php echo HOST ?>/ajax/pg-short-report',
                {
                    from: $('#from_date').val().trim(),
                    to: $('#to_date').val().trim()
                },
                function (data) {
                    $modal.html(data);
                    $modal.modal();
                }
            );
        });


        
        $(".btn-status").click(function () {
            status = Number($(this).attr('status'));

            survey_id = $(this).attr('survey_id');
        });

        $("#btn-active").click(function () {

            $.ajax({
                url: '/survey/form-builder-active',
                type: 'post',
                data: {
                    survey_id: survey_id,
                    status: status
                },
                error: function (error) {
                    console.log(eval(error));
                },
                success: function (data) {
                    $("#active").modal('hide');
                    location.reload();


                }
            })


        })
    });


</script>
