<link rel="stylesheet" type="text/css" href="<?php echo HOST ?>css/bootstrap-grid.css"/>
<link rel="stylesheet" type="text/css" href="<?php echo HOST ?>css/request.css"/>

        <div class="">
            <?php if (!empty($this->listRequest) AND !empty($this->IS_MOBILE) ):
                foreach ($this->listRequest as $key => $value):?>
                    <div class="container" style="margin-bottom: 20px;">
                        <div class="widget-content widget-content-input-mobile">
                            <div class="">
                                    <h7 >
                                        <a style="color: red;" class="" href="confirm-request?id=<?= $value["id"]; ?>">
                                         #<?= $value["id"]; ?>
                                        </a></h7>
                               
                            </div>
                            <div class="row justify-content-center row_mobile">
                                <div class="">
                                    <label>
                                        <h5><?= $this->staff[$value["created_by"]]; ?>
                                            - <?= $this->company[$value["company_id"]]; ?>
                                            - <?= date_format(date_create($value["date_offer"]), "d/m/Y"); ?></h5>
                                    </label>
                                </div>
<!--                                 <div class="">
                                    <label>
                                        <h5><?= $value["content"]; ?></h5>
                                    </label>
                                </div> -->
                            </div>
                            <div class="row justify-content-center row_mobile">
                            	<div class="col-9 col-lg-10 col-md-6 col-sm-10">
                                	 <h5>Nội dung: </h5>
                                    <input class="input-medium" readonly
                                           value="<?= $value["content"]; ?>">
                                </div>
                            </div>
                            <div class="row justify-content-center row_mobile">
                                <div class="col-4 col-lg-5 col-md-6 col-sm-5  ">
                                    <h5>Hạng mục: </h5>
                                    <input class="input-medium" readonly
                                           value="<?= $value["name_category"]; ?>">

                                </div>
                                <div class="col-4 col-lg-5 col-md-6 col-sm-4">
                                    <h5>Kênh: </h5><input class="input-medium" readonly
                                                                value="<?php foreach ($this->channel as $k => $v) {
                                if ($v["channel"] == $value["channel_id"]) {
                                    echo $v["name"];break;
                                }
                            } ?>">
                                </div>
                                <div class="col-4 col-lg-5 col-md-6 col-sm-5">
                                    <h5>Loại: </h5><input class="input-medium" readonly
                                                                value="<?php switch ($value["type"]){
                                                                    case 1:
                                                                            echo"KA";
                                                                            break;
                                                                    case 2:
                                                                            echo "Khác";
                                                                            break;
                                                                } ?>">
                                </div>
                                <div class="col-4 col-lg-5 col-md-6 col-sm-4">
                                    <h5> Mã đề xuất: </h5><input class="input-medium" readonly
                                                               value="<?= $value["id"]; ?>">
                                </div>
                            </div>
                            <div class="row justify-content-center row_mobile">
                                <div class="col-9 col-lg-10 col-md-6 col-sm-10 ">
                                    <h5>Số tiền: <input class="input-medium" readonly
                                                           value="<?= number_format($value["cost_temp"]); ?>">
                                    </h5>
                                </div>
                            </div>
                            <div class="row justify-content-center row_mobile">
                                <div><label>
                                        <h5 class="" style="color: red"><i><?php
                                                switch ($value["status"]) {
                                                    case "cho key account manager duyet":
                                                        echo "Chờ KA Leader duyệt";
                                                        break;
                                                    case "cho sales manager duyet":
                                                        echo "Chờ Sales Manager duyệt";
                                                        break;
                                                    case "cho ceo duyet":
                                                        echo "Chờ CEO duyệt";
                                                        break;
                                                    case "cho bank accountant duyet":
                                                        echo "Chờ Accountant duyệt";
                                                        break;
                                                    case "hoan tat":
                                                        echo "Hoàn tất";
                                                        break;
                                                }
                                                ?></i></h5></label></div>

                            </div>
                            <div class="row justify-content-center">
                                 <?php if ($this->userStorage->id == $value["created_by"]): ?>
                            	    <div class="col-3 col-lg-2 col-md-2 col-sm-2 alert alert-info">
                                    <a href="edit-request?id=<?= $value["id"]; ?>" class=""><i class="icon-pencil"></i> Cập nhật</a>
                                    </div>
                                <?php endif; ?>
                                <div class="col-3 col-lg-2 col-md-2 col-sm-2 alert alert-sucess ">
                                    <a href="confirm-request?id=<?= $value["id"]; ?>" class=""><i class="icon-play"></i> Xem thêm</a>

                                </div>
                            </div>
                        </div>
                    </div>
                <?php endforeach;endif; ?>
        </div>
<?php if (!empty($this->listRequest) AND  empty($this->IS_MOBILE)): ?>
<!-- <table id="fixTable" class="table table-bordered scroll table-responsive content_layout"> -->
<table id="" class="table table-bordered  table-responsive ">

            <thead>
            <tr>
                <?php echo $this->sorting(array(
                    '#',
                    'Mã đề xuất',
                    'Công ty',
                    'Người yêu cầu',
                    'Hạng mục',
                    'Kênh',
                    'Số tiền',
                    'Nội dung yêu cầu',
                    'Trạng thái',
                    'Ngày yêu cầu',
                    'Action',
                ),
                    $this->url, $this->sort, $this->desc); ?>
            </tr>
            </thead>
            <tbody>
            <?php
                foreach ($this->listRequest as $key => $value):?>
                    <tr>
                        <td>
                            <?php
                            $inc = $this->offset + $key + 1;
                            echo $inc;
                            ?>
                        </td>
                        <td>
                            <?= $value["id"]; ?>
                        </td>
                        <td><?= $this->company[$value["company_id"]]; ?></td>
                        <td><?= $this->staff[$value["created_by"]]; ?></td>
                        <td><?= $value["name_category"]; ?></td>
                        <td><?php foreach ($this->channel as $k => $v) {
                                if ($v["channel"] == $value["channel_id"]) {
                                    echo $v["name"];break;
                                }
                            } ?>
                        </td>
                        <td><?= number_format($value["cost_temp"]); ?></td>
                        <td><?= $value["content"]; ?></td>
                        <td>
                            <?php
                            switch ($value["status"]) {
                                case "cho key account manager duyet":
                                    echo "Chờ Key Accountant Manager duyệt";
                                    break;
                                case "cho sales manager duyet":
                                    echo "Chờ Sales Manager duyệt";
                                    break;
                                case "cho ceo duyet":
                                    echo "Chờ CEO duyệt";
                                    break;
                                case "cho bank accountant duyet":
                                    echo "Chờ Bank Accountant duyệt";
                                    break;
                                case "hoan tat":
                                    echo "Hoàn tất";
                                    break;
                            }
                            ?>
                        </td>
                        <td><?= $value["date_offer"]; ?></td>
                        <td>
                            <div class=" ">
                                 <?php if ($this->userStorage->id == $value["created_by"]): ?>
                                    <div class=" alert-sucess">
                                    <a href="edit-request?id=<?= $value["id"]; ?>" class=""><i class="icon-pencil"></i> Cập nhật</a>
                                    </div>
                                <?php endif; ?>
                                <div class=" alert-sucess ">
                                    <a href="confirm-request?id=<?= $value["id"]; ?>" class=""><i class="icon-play"></i> Xem thêm</a>

                                </div>
                            </div>
                            
                        </td>

            </tr>
        <?php endforeach; endif; ?>
    </tbody>
</table>
<div class="paging">
    <?php echo $this->paging($this->total, $this->limit, $this->offset, $this->url); ?>
</div>

<div id="modal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">

</div>

<script type="text/javascript">
    $modal = $('#modal');
</script>

<script type="text/javascript" src="/js/jquery-ui-1.8.12.custom.min.js"></script>
<link rel="stylesheet" type="text/css" href="/css/jquery-ui-1.8.12.custom.css"/>

<script type="text/javascript" src="/js/bootstrap-modal.js"></script>
<script type="text/javascript" src="/js/bootstrap-modalmanager.js"></script>
<link rel="stylesheet" type="text/css" href="/css/bootstrap-modal.css"/>
<script type="text/javascript" src="/js/tableHeadFixer.js"></script>

<?php echo $this->confirm(); ?>
<?php echo $this->load(); ?>
<style>
@media only screen and (min-width: 300px) and (max-width: 574px) {
    .row_mobile{
    margin:0vh -15vw !important;
    }
	}
	.alert{
		margin: 0vh 1vw !important;
	}
	.widget-content{
		padding:5px 10px !important;
	}
    .container {
        padding-left: 2px !important;
        padding-right: 2px !important;

    }
    table-mobile th {
        text-align: left !important;
    }

    .widget-content-input-mobile input {
        /*border: none !important;*/
        /*border-bottom: 2px solid #ccc !important;*/
        width: 100% !important;
    	margin:0vh 0vw !important;
        /*outline: none !important;*/
        padding-left: 0px !important;

    }

    input[disabled], input[readonly] {
        background-color: white !important;
        border: none !important;
        border-bottom: 0px solid #ccc !important;
        outline: none !important;
        -webkit-box-shadow: none !important;
        box-shadow: none !important;
        padding-left: 0px !important;

    }

    .col-1, .col-2, .col-3, .col-4, .col-5, .col-6, .col-7, .col-8, .col-9, .col-10, .col-11, .col-12, .col, .col-auto, .col-sm-1, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-10, .col-sm-11, .col-sm-12, .col-sm, .col-sm-auto, .col-md-1, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-10, .col-md-11, .col-md-12, .col-md, .col-md-auto, .col-lg-1, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-10, .col-lg-11, .col-lg-12, .col-lg, .col-lg-auto, .col-xl-1, .col-xl-2, .col-xl-3, .col-xl-4, .col-xl-5, .col-xl-6, .col-xl-7, .col-xl-8, .col-xl-9, .col-xl-10, .col-xl-11, .col-xl-12, .col-xl, .col-xl-auto {
    padding-right: 5vw !important;
    /* padding-left: 15px; */
	}

</style>
<script >
    $("#fixTable").tableHeadFixer();
</script>
