<style type="text/css"> 
    iframe {
        height: 100px;
        width: 100%;
        border: none;
    }
    .color_red{color: red;}
    p{font-size: 12px;}
    input[type="file"] {
        margin-top: 0px;
        margin-left: 5px;
    }
</style>
<div class="page-header">
    <?php if (isset($this->supplier) && $this->supplier): ?>
        <h1>Edit Purchasing Supplier</h1>
    <?php else: ?>
        <h1>Create Purchasing Supplier</h1>
    <?php endif ?>
    
</div>
<?php
    if (isset($this->messages_success) and $this->messages_success)
        foreach ($this->messages_success as $message):
            echo '<div class="alert alert-success">'.$message.'</div>';
        endforeach;

    if (isset($this->messages) and $this->messages)
        foreach ($this->messages as $message):
            echo '<div class="alert alert-error">'.$message.'</div>';
        endforeach;
?>
<div class="row-fluid">
    <form role="form" id="form" action="<?php echo HOST.'purchasing/supplier-save';?>" method="post"  target="iframe"  enctype="multipart/form-data">
    <div class="span12">        
        <div class="span6">
        
            <h4 style="margin-top: 30px; margin-bottom: 20px;">THÔNG TIN CƠ BẢN</h4>
            
            <div class="row-fluid">  
                <div class="control-group">
                    <label for="name" style="width: 100%">Title (Tên viết tắt) <b class="color_red">(*)</b></label>
                    <input type="text" class="span3" id="title" name="title" placeholder=" Tên viết tắt" required="required" value="<?php if( isset($this->supplier) && isset($this->supplier['title']) ) echo $this->supplier['title'] ?>">
                </div>
            </div>
            <div class="row-fluid">  
                <div class="control-group">
                    <label for="name" style="width: 100%">Name (Tên đầy đủ pháp nhân)<b class="color_red">(*)</b></label>
                    <input type="text" class="span3" id="name" name="name" placeholder="Tên đầy đủ pháp nhân" required="required" value="<?php if( isset($this->supplier) && isset($this->supplier['name']) ) echo $this->supplier['name'] ?>">
                </div>
            </div>
            <div class="row-fluid">  
                <div class="control-group">
                    <label for="name" style="width: 100%">Address (Địa chỉ)<b class="color_red">(*)</b></label>
                    <textarea name="address" id="address" class="span3" cols="50" rows="3" required="required" placeholder="Địa chỉ"><?php if( isset($this->supplier) && isset($this->supplier['address']) ) echo $this->supplier['address'] ?></textarea>
                </div>
            </div>
            <div class="row-fluid">  
                <div class="control-group">
                    <label for="name" style="width: 100%">Website</label>
                    <input type="text" class="span3" id="website" name="website" placeholder="Supplier Website" value="<?php if( isset($this->supplier) && isset($this->supplier['website']) ) echo $this->supplier['website'] ?>">
                </div>
            </div>
            <div class="row-fluid">  
                <div class="control-group">
                    <label for="name" style="width: 100%">Phone </label>
                    <input type="text" class="span3" id="phone" name="phone" placeholder="Supplier Phone" value="<?php if( isset($this->supplier) && isset($this->supplier['phone']) ) echo $this->supplier['phone'] ?>">
                </div>
            </div>
            <div class="row-fluid">  
                <div class="control-group">
                    <label for="name" style="width: 100%">Email</label>
                    <input type="text" class="span3" id="email" name="email" placeholder="Supplier Email" value="<?php if( isset($this->supplier) && isset($this->supplier['email']) ) echo $this->supplier['email'] ?>">
                </div>
            </div>
            
        </div>
        
        <div class="span5">
            
            <h4 style="margin-top: 30px; margin-bottom: 20px;">NGƯỜI ĐẠI DIỆN</h4>
            
            <div class="row-fluid">  
                <div class="control-group">
                    <label for="surrogater_name" style="width: 100%">Surrogater Name</label>
                    <input type="text" class="span3" name="surrogater_name" placeholder="Tên người đại diện" value="<?php if( isset($this->supplier) && isset($this->supplier['surrogater_name']) ) echo $this->supplier['surrogater_name'] ?>">
                </div>
            </div>
            
            <div class="row-fluid">  
                <div class="control-group">
                    <label for="surrogater_title" style="width: 100%">Surrogater title</label>
                    <input type="text" class="span3" name="surrogater_title" placeholder="Chức vụ" value="<?php if( isset($this->supplier) && isset($this->supplier['surrogater_title']) ) echo $this->supplier['surrogater_title'] ?>">
                </div>
            </div>
            
            <div class="row-fluid">  
                <div class="control-group">
                    <label for="name" style="width: 100%">Surrogater phone</label>
                    <input type="text" class="span3" name="surrogater_phone" placeholder="Điện thoại" value="<?php if( isset($this->supplier) && isset($this->supplier['surrogater_phone']) ) echo $this->supplier['surrogater_phone'] ?>">
                </div>
            </div>
            
            <div class="row-fluid">  
                <div class="control-group">
                    <label for="name" style="width: 100%">Surrogater email</label>
                    <input type="text" class="span3" id="email" name="surrogater_email" placeholder="Email của người đại diện" value="<?php if( isset($this->supplier) && isset($this->supplier['surrogater_email']) ) echo $this->supplier['surrogater_email'] ?>">
                </div>
            </div>
            
            <h4 style="margin-top: 30px; margin-bottom: 20px;">HÀNG HÓA CUNG CẤP</h4>
            
            <div class="row-fluid"> 
                <div class="control-group">
                    <p>Từ phòng ban :<b class="color_red">(*)</b></p>        
                    <select name="department_id" id="department_id"  class="span2" >
                        <option value="">--Select--</option>
                         <?php foreach($this->department as $key=>$value):?>
                        <option value="<?php echo $key;?>" <?php 
                        echo (isset($this->purchasing_type['department_id']) and $this->purchasing_type['department_id'] == $key) ? "selected" : NULL;?>><?php echo $value;?></option>
                        <?php endforeach;?>
                    </select>
                </div> 
            </div>
            
            <div class="row-fluid"> 
                <div class="control-group">
                    <p>Team :<b class="color_red">(*)</b></p>                 
                    <select name="team_id" id="team" class="span2">
                        <option value>Choose</option>
                        <?php if ( isset($this->purchasing_type) AND isset($this->recursiveDeparmentTeamTitle[$this->purchasing_type['department_id']]['children'])): ?>
                            <?php foreach ($this->recursiveDeparmentTeamTitle[$this->purchasing_type['department_id']]['children'] as $item_id => $item):?>
                                <option value="<?php echo $item_id;?>" <?php if (isset($this->purchasing_type) and $this->purchasing_type and $item_id==$this->purchasing_type['team_id']):?>selected<?php endif;?>><?php echo $item['name'];?></option>
                            <?php endforeach;?>
                        <?php endif ?>
                    </select>
                </div> 
            </div>           
            
            <div class="row-fluid"> 
                <div class="control-group">
                    <label for="name">Group Product (Nhóm hàng hóa, dịch vụ)</label>                
                    <select disabled="true" name="group_product" id="group_product"  class="span3">
                        <option id="show" value=""><?php if( isset($this->supplier) && isset($this->supplier['group_product']) ){ echo $this->supplier['group_product'];} 
                        else {echo '--Select--';} ?></option> 
                            <?php  
                                foreach($this->group_product as $key=>$value):?>
                                <option class="option_type" value="<?php echo $value['id'];?>" <?php echo (isset($this->supplier['group_product']) and $this->supplier['group_product'] == $value['id']) ? "selected" : NULL;?>><?php echo $value['name'].'  ('.$value['department_name'].')' ;?></option>
                            <?php endforeach;?> 
                    </select>
                </div> 
            </div>
            
            <div class="row-fluid">
                <div class="control-group">
                    <label for="name">Product & Services (Các hàng hóa, dịch vụ cung cấp)</label>
                    <textarea name="product_services" id="address" class="span3" cols="50" rows="3"  placeholder="Các hàng hóa, dịch vụ cung cấp"><?php if( isset($this->supplier) && isset($this->supplier['product_services']) ) echo $this->supplier['product_services'] ?></textarea>
                </div>
            </div>
            
            <div class="row-fluid">  
                <div class="control-group">
                    <label for="name">Info history (Thông tin lịch sử giao dịch)</label>
                    <textarea name="info_history" class="span3" cols="50" rows="3"  placeholder="Thông tin lịch sử giao dịch"><?php if( isset($this->supplier) && isset($this->supplier['info_history']) ) echo $this->supplier['info_history'] ?></textarea>
                </div>
            </div>
            
              
                
                
            <div class="row-fluid">
                <div class="control-group">
                
                        <?php  if (isset($this->list_file) and $this->list_file)
                            foreach ($this->list_file as $k=>$val): ?>
                        
                            <div class="div_one_file row" style=" margin-left: 0px; ">
                                <?php $link = HOST.'purchasing-request/'.$val['supplier_id'].'/'.$val['name_file'];?>
                                <a target='_blank' href="<?php echo $link;?>"><?php echo $val['name_file'];?></a> 
                                <a class="btn icon-remove-sign del_file" data_id="<?php echo $val['id'];?>" style="display: table; float: left;"></a><br/>
                            </div>                        
                        <?php endforeach;?>
                </div>
            </div>
            
            <div class="row-fluid">  
                <div class="control-group">
                    <label for="name">Upload more:</label>
                    <div class="span2" style="text-align: left; margin-bottom: 10px;">
                            <a class="btn btn-success" id="add-more"> Add </a>
                    </div>
                    <div class="row span10" id="area-group" style="text-align: left">
                            <div class="ajaxSearchPart-container " style="display: flex">

                                <a class="btn btn-warning " style="display: table; float: left;">-</a>

                                <div class="control-group ">
                                    <input type="file" name="supplier_file[0]" id="supplier_file" class="supplier_file" value="" />
                                </div>
                            </div>
                    </div>
                </div>
            </div>
             
            
            </div>
        </div>
      
        <!--
        <div class="row-fluid">  
            <div class="control-group">
                <button type="submit" id="submit_btn" class="btn btn-primary ">Submit</button>
                <button type="button" id="cancel_btn" class="btn btn-danger">Go back</button>
                <input type="hidden" name="id" value="<?php if( isset($this->supplier) && isset($this->supplier['id']) ) echo $this->supplier['id'] ?>" />
            </div>
        </div>-->

        <div class="row-fluid">
            <div class="span12">
                <div class="form-group">
                    <iframe style="display:none;border:none;width: 100%" id="iframe" name="iframe" style="height: 250px;"></iframe>                    
                    <a class="btn btn-warning  pull-left back" href="<?php echo HOST;?>purchasing/supplier" style="margin-right: 10px">Back to list</a>
                    <input type="hidden" name="id" value="<?php if( isset($this->supplier) && isset($this->supplier['id']) ) echo $this->supplier['id'] ?>" />
                    <button type="submit" id="submit_btn" class="btn btn-primary ">Submit</button>
                </div>
            </div>
        </div>
        
        </form>
    
       
</div>
<script>
    
    
    $(document).ready(function(){

        $('#cancel_btn').click(function(){
            window.location = '<?php echo HOST ?>purchasing/supplier';
        });
    
    
    
        /// add PR Quotation
	var ctn = ".ajaxSearchPart-container";
	$("body").on("propertychange input", ctn+" span input[type=text]:input", function(){
	});
        
        var html = $("#area-group > div:last-of-type").wrapAll('<div></div>').parent().html();
        var current = parseInt(html.match(/supplier_file\[([0-9]+)\]/)[1]);
        $("#area-group").html(html);


        $("#add-more").click(function(){
            $('.ajaxSearchPart-container').css('display','flex');
                current++;
                $("#area-group").append(html.replace(/supplier_file\[([0-9]+)\]/g, "supplier_file["+current+"]"));
        });

        $("body").on("click", ctn+" a", function(){
                current--;
                $(this).parent().remove();
                if(current < 0){
                     current = 0;
                }
        });
        /// add PR Quotation
        
        
        $(document).on('click', '.del_file',function(e) {
            
            div_parent = $(this).parent()
            var id =  $(this).attr("data_id");
            data_del = {'id': id };
            $.ajax({
                url: "<?php echo HOST . 'purchasing/supplier-del-file' ?>",
                type: 'POST',
                data: data_del,
                success: function (data) {
                    var response = $.parseJSON(data);
                    if (response.status == 1) {
                        //location.reload();
                        div_parent.remove();
                    } else { 
                        alert(response.message);
                    }
                },
            });
        });
        
    });///document
    
/* Edit 22/07/2020 */
$(document).on('change','#team',function(){    
    
    $('#group_product').find('.option_type').remove(); 
    $("#group_product").attr("disabled", false);
    $("#show").html("--Select--");
    var team_id = $(this).val(); 
    if(team_id==""){        
    }else{
        $(this).after('<span class="loading"></span>');
        data_type = {'team_id': team_id };
        $.ajax({
            url: "<?php echo HOST . 'purchasing/ajax-load-type' ?>",
            type: 'POST',
            data: data_type,
            success: function (data) {
                var response = $.parseJSON(data);
                if (response.status == 1) {
                    var str = '';
                    var obj_type = response.data;
                    if(obj_type!=''){ 
                        for (var i = 0; i < obj_type.length; i++) { 
                            str += '<option class="option_type" value="'+obj_type[i]['id']+'">'+obj_type[i]['name']+'</option>';
                        }
                    }else{
                        str += '<option class="option_type" value="-1">Chưa xác định</option>';
                    }
                    $('#group_product').append(str);
                    $('.loading').remove();
                } else {
                    alert(response.message);
                    $('.loading').remove();
                }
            },
        });         
    }
});
        

$(document).on('change','#department_id',function(){
    $('.loading').remove();
 
    $(this).after('<span class="loading"></span>');
    var _self = $(this);
    var department_id = $(this).val();
    $('form').bind('submit',function(e){e.preventDefault();});
    $('button, .btn, input, select').prop('disabled', true);
    $.get("/ajax/load-team",
    {department_id: [department_id]}
    ,function(data,status){
        var obj = $.parseJSON( data );
        $('#team,.team').find('option:not(:first)').remove();
        for (var i = 0; i < obj.length; i++) {
            $('#team,.team').append('<option value="'+obj[i]['id']+'">'+obj[i]['name']+'</option>');
        }
        $('button, .btn, input, select').prop('disabled', false);
        $('form').unbind('submit');
        $('.loading').remove();
        $('#team,.team').change();
    });
});



</script>
