<style type="text/css">
	/*.content_type{
		width: 50%;
		height: auto;
		margin: 0 auto;
	}*/
	#sty_img_sign{
		width: 70px;
		float:left;
		height: auto;
		border: 1px solid #fff;
	}
</style>
<div class='table_main2'>
    <div class="header_tad"><h2>Create Type Approve</h2></div>
   
               <?php
                if (isset($this->messages) and $this->messages)
                    foreach ($this->messages as $message):
                        echo '<div class="alert alert-success">'.$message.'</div>';
                    endforeach;

                if (isset($this->messages_error) and $this->messages_error)
                    foreach ($this->messages_error as $message):
                        echo '<div class="alert alert-error">'.$message.'</div>';
                    endforeach;
            ?>
    <div class="content_tad">
        <div class='header_trainer'>
            <div class="content_type">
		    <form enctype="multipart/form-data" method="post" action="<?php echo HOST;?>costing/create-type-approve">
		    	<div class="row">
			    	<div class="span4">
				            <label class="control-label">Tên loại:</label>
				            <div class="controls">
				               <input type="text" class="control-group date span4" placeholder="" name="name_type" required="">
				            </div>
				    </div>
				</div>
		   		 <div class=" row type_details">
		   		 	<div class="add">
				        <div class="span2">
				            <label class="control-label">Chữ ký:</label>
				            <div class="controls">
				               <select class="full-input span2" name="type_signature[]" id="" required>
	                                <option value="">-- Chọn loại --</option>
	                                
	                             <?php foreach ($this->sign as $key => $value) :?>    

	                                <option value="<?php echo $value['id']?>"><?php echo $value['name']?></option>

	                             <?php endforeach;?>


	                            </select>
				            </div>
				        </div>
				         <div class="span2">
				            <label class="control-label">Satff:</label>
				            <div class="controls">
				               <select class="full-input span2" name="staff_id[]" id="" required>
	                                <option value="">-- Chọn loại --</option>
	                                
	                             <?php foreach ($this->staff as $key => $value) :?>    

	                                <option value="<?php echo $value['id']?>"><?php echo $value['name']?></option>

	                             <?php endforeach;?>


	                            </select>
				            </div>
				        </div>
				        <div class="span2">
				            <label class="control-label">Key_signature:</label>
				            <div class="controls">
				               <input type="text" class="control-group date span2" placeholder="" name="key_sign[]" required="">
				            </div>
				        </div>
				        <div class="span2">
				            <label class="control-label">Upload signature-img:</label>
				            <div class="controls">
				               <input type="file" class="control-group file_upload span2" placeholder=""  name="img[]" required="">
				            </div>
				        </div>
				        <div class="span2">
				            <label class="control-label">Preview-img:</label>
				            <div class="controls " id="">
				            <span id="sty_img_sign"><img id="prev_img" width="30" height="30" /></span>
				            </div>
				        </div>
				        <div class="span1">
				            <label class="control-label">Size-img:</label>
				            <div class="controls">
				               <input type="text" class="control-group date span1" placeholder="" name="size_img[]" required="">
				            </div>
				        </div>
				    </div>

				    
		        </div>  
		        <hr>
		        <a id="add" class="btn btn-primary"> + </a>
		        <a id="remove" class="btn btn-warning"> - </a>

		        <hr>  
		        <div class="row row_submit" align="center">
		            <input type="submit" name="submit" class="btn btn-primary" value="Xác nhận">
		            <a href="<?php echo HOST.'costing/list-type';?>" class="btn btn-default" >Quay lại</a>
		        </div>
		    </form>
		  </div>
        </div>
    </div>
</div>
<script type="text/javascript">
	$(document).ready(function(){
		$(document).on('click','#add',function(){
			$('.type_details').append('<div class="add">\
				        <div class="span2">\
				            <label class="control-label">Chữ ký:</label>\
				            <div class="controls">\
				               <select class="full-input span2" name="type_signature[]" id="" required>\
	                                <option value="">-- Chọn loại --</option>\
	                                \
	                             <?php foreach ($this->sign as $key => $value) :?>    \
	                                <option value="<?php echo $value['id']?>"><?php echo $value['name']?></option>\
	                             <?php endforeach;?>\
	                            </select>\
				            </div>\
				        </div>\
				         <div class="span2">\
				            <label class="control-label">Satff:</label>\
				            <div class="controls">\
				               <select class="full-input span2" name="staff_id[]" id="" required>\
	                                <option value="">-- Chọn loại --</option>\
	                                \
	                             <?php foreach ($this->staff as $key => $value) :?>    \
	                                <option value="<?php echo $value['id']?>"><?php echo $value['name']?></option>\
	                             <?php endforeach;?>\
	                            </select>\
				            </div>\
				        </div>\
				        <div class="span2">\
				            <label class="control-label">Key_signature:</label>\
				            <div class="controls">\
				               <input type="text" class="control-group date span2" placeholder="" name="key_sign[]" required>\
				            </div>\
				        </div>\
				        <div class="span2">\
				            <label class="control-label">Upload signature-img:</label>\
				            <div class="controls">\
				               <input type="file" class="control-group date file_upload span2" placeholder="" name="img[]" required>\
				            </div>\
				        </div>\
				        <div class="span2">\
				            <label class="control-label">Preview-img:</label>\
				            <div class="controls">\
				              <span id="sty_img_sign"><img id="prev_img" width="30" height="30"/></span>\
				            </div>\
				        </div>\
				        <div class="span1">\
				            <label class="control-label">Size-img:</label>\
				            <div class="controls">\
				               <input type="text" class="control-group date span1" placeholder="" name="size_img[]" required>\
				            </div>\
				        </div>\
				    </div>');
	});
	$(document).on('click','#remove',function(){
			$('.add:last').remove();
		});

	$(document).on('change','input[type=file]',function(event){

		 $(this).parent().parent().parent().find('#prev_img').attr('src',URL.createObjectURL(event.target.files[0]))
    
  });
});
		

</script>
