<style type="text/css">
    #address{width: 89%;}
    #old_details_job{width: 89%;}
    fieldset{border: 1px solid #CCC; padding: 10px;margin-bottom: 20px;}
    .addressArea{margin-right: 77px;}
    #addExpectPlace{margin-right: 10px}
    #removeExpectPlace{margin-right: 10px}
    legend{margin-bottom: 0px; font-weight: bold;}
    .dang_cv{margin-right: 20px;}
    .upload_date{cursor: pointer;}
    .upload_cv_new{cursor: pointer;}
    .row_submit{
        margin-bottom: 10px;
    }
    .set-height{
        height: 303px;
    }
     .num{
        text-align: right;
    }
</style>

<div class="page-header">
    <h1>Đề xuất chi phí</h1>
</div>
    <?php if (isset($this->messages) and $this->messages)
      foreach ($this->messages as $message):
        echo '<div class="alert alert-error">'.$message.'</div>';
      endforeach;

    if (isset($this->messages_success) and $this->messages_success)
      foreach ($this->messages_success as $message):
        echo '<div class="alert alert-success">'.$message.'</div>';
      endforeach; ?>
<div class="row">
    <form enctype="multipart/form-data" method="post" action="<?php echo HOST;?>costing/edit-costing">
    <div class="span12">
            <div class="row">
                <div class="span2">
                    <fieldset>
                    <legend>&nbsp; Loại đề xuất:</legend>
                    <div class="">
                        <label class="control-label">Công ty:</label>
                        <div class="controls">
                            <select class="full-input span2 company" name="company" id="" required>
                                <option value="">-- Chọn công ty --</option>

                             <?php foreach ($this->company as $key => $value) :?>   
                                <?php if (isset($this->data[0]['company_id']) && $this->data[0]['company_id'] == $value['id']):?>

                                <option  value ="<?php echo $value['id'] ?>" selected><?php echo $value['name'] ?></option>

                              <?php else: ?>

                                <option value="<?php echo $value['id']?>"><?php echo $value['name']?></option>

                                <?php endif; ?>
                             <?php endforeach;?>

                            </select>
                        </div>
                    </div>
                    <div class="control-group">
                        <label class="control-label">Kênh:</label>
                        <div class="controls">
                            <select class="full-input span2 chanel" name="channel" id="" required>
                                <option value="">-- Chọn kênh --</option>

                             <?php foreach ($this->channel as $key => $value) :?>    
                                 <?php if (isset($this->data[0]['chanel_id']) && $this->data[0]['chanel_id'] == $value['id']):?>

                                <option  value ="<?php echo $value['id'] ?>" selected><?php echo $value['name'] ?></option>

                              <?php else: ?>

                                <option value="<?php echo $value['id']?>"><?php echo $value['name']?></option>

                                <?php endif; ?>
                             <?php endforeach;?>

                            </select>
                        </div>
                    </div>
                    <div class="control-group">
                        <label class="control-label">Hạng mục:</label>
                        <div class="controls">
                            <select class="full-input span2 category" name="category" id="" required>
                                <option value="">-- Chọn hạng mục --</option>

                                <?php foreach ($this->category as $key => $value) :?>  
                                 <?php if (isset($this->data[0]['category_id']) && $this->data[0]['category_id'] == $value['id']):?>

                                <option  value ="<?php echo $value['id'] ?>" selected><?php echo $value['name'] ?></option>

                              <?php else: ?>

                                <option value="<?php echo $value['id']?>"><?php echo $value['name']?></option>

                                <?php endif; ?>
                             <?php endforeach;?>

                            </select>
                        </div>
                    </div>
                
                    <div class="control-group">
                        <label class="control-label">Loại:</label>
                        <div class="controls">
                            <select class="full-input span2 type" name="type" id="" required>
                                <option value="">-- Chọn loại --</option>
                                
                             <?php foreach ($this->typeapprove as $key => $value) :?>    
                                <?php if (isset($this->data[0]['type']) && $this->data[0]['type'] == $value['id']):?>

                                <option  value ="<?php echo $value['id'] ?>" selected><?php echo $value['name'] ?></option>

                              <?php else: ?>

                                <option value="<?php echo $value['id']?>"><?php echo $value['name']?></option>

                                <?php endif; ?>
                             <?php endforeach;?>


                            </select>
                        </div>
                    </div>
                    </fieldset>
                </div><!-- span3-->
                 <div class="span6">
                    <fieldset>
                    <legend>&nbsp; Thông tin chi phí:</legend>
                        <div class="row">
                            <div class="span2">
                                <label class="control-label">Ngày đề xuất:</label>
                                <div class="controls">
                                   <input type="text" class="control-group date span2 num date_offer" name="date_offer" placeholder=""  value="<?php echo !empty($this->data[0]['date_offer']) ?date('d/m/Y',strtotime($this->data[0]['date_offer'])):''?>">
                                </div>
                            </div>
                            <div class="span2">
                                <label class="control-label">Số chứng từ:</label>
                                <div class="controls">
                                   <input type="text" class="control-group span2 number_chungtu num" name="" value="<?php echo $this->data[0]['number_ct']?>" readonly="">
                                </div>
                            </div>
                            <div class="span2">
                                <label class="control-label">Ngày chứng từ:</label>
                                <div class="controls">
                                   <input type="text" class="control-group date span2 num" name="date_chungtu" readonly="" placeholder="" disabled="" value="<?php echo !empty($this->data[0]['date_chungtu']) ?date('d/m/Y',strtotime($this->data[0]['date_chungtu'])):''?>">
                                </div>
                            </div>
                        </div>
                    <div class="control-group">
                        <label class="control-label">Nội dung:</label>
                        <div class="controls">
                           <textarea name="content" class="control-group span6 content" rows="1"  required><?php echo $this->data[0]['content']?></textarea>
                        </div>
                    </div>
                    <div class="row">
                        <div class="control-group span2">
                            <label class="control-label">Số tạm tính:</label>
                            <div class="controls">
                               <input type="text"  class="control-group span2 money number_temp num"  value="<?php echo $this->data[0]['cost_temp']?>" id="price" onChange="myFunction()"  min="0" name="cost_temp" required>
                            </div>
                        </div>
                        <div class="control-group span2">
                            <label class="control-label title_change">Chi phí tăng/giảm:</label>
                            <div class="controls">
                               <input type="text" class="control-group span2 money change num"  name="number_change" value="<?php echo number_format($this->data[0]['number_change'])?>" readonly="">
                            </div>
                        </div>
                        <div class="control-group span2">
                            <label class="control-label">Số thực chi:</label>
                            <div class="controls">
                                <input type="text" class="control-group span2 money number_thucchi num" id="real"   name="cost_real" value="<?php echo number_format($this->data[0]['cost_real'])?>" onChange="myFunctionReal()" readonly="">
                            </div>
                        </div>
                        <div class="control-group span6">
                        <label class="control-label">Ghi chú:</label>
                        <div class="controls">
                           <textarea name="note" class="control-group span6 note" rows="1"><?php echo $this->data[0]['note']?></textarea>
                        </div>
                    </div>
                    
                        
                    </div>
                    
                    </fieldset>
                </div><!-- span3-->
                 <div class="span2">
                    <fieldset>
                    <legend>&nbsp; Thanh toán:</legend>
                    <div class="">
                        <label class="control-label">Ngày thanh toán:</label>
                        <div class="controls">
                            <input type="text" class=" span2 date num" name="date_thanhtoan" value="<?php echo !empty($this->data[0]['date_thanhtoan']) ?date('d/m/Y',strtotime($this->data[0]['date_thanhtoan'])):''?>" readonly="" placeholder="" disabled="">
                        </div>
                    </div>
                    <div class="control-group">
                        <label class="control-label">Số thanh toán:</label>
                        <div class="controls">
                             <input type="text" class="control-group span2 number_thanhtoan num" value="<?php echo number_format($this->data[0]['total_pay'])?>" name="number_thanhtoan" readonly="">
                        </div>
                    </div>
                    <div class="control-group">
                        <label class="control-label">Cấn trừ/xuất hàng:</label>
                        <div class="controls">
                             <input type="text" class="control-group span2 cantru_xuathang num" name="cantru_xuathang" value="<?php echo $this->data[0]['cantru_xuathang']?>" readonly="">
                        </div>
                    </div>
                
                    <div class="control-group">
                        <label class="control-label">Chưa thanh toán:</label>
                        <div class="controls">
                             <input type="text" class="control-group span2 no_thanhtoan num" value="<?php if($this->data[0]['not_pay'] < 0): echo number_format($this->data[0]['not_pay']*-1); else: echo 0; endif;?>" name="chua_thanhtoan" readonly="">
                        </div>
                    </div>
                    </fieldset>
                </div><!-- span3-->
                 <div class="span2">
                    <fieldset class="set-height">
                    <legend>&nbsp; Cập nhật files:</legend>
                     <div class="control-group span2">
                            <label for="upload_ct" class=" btn btn-warning control-label "><i class="icon-upload"></i> Cập nhật files:</label>
                            <div class="controls">
                                <input type="file" class="form-control" id="upload_ct" placeholder="" name="file[]" value="" style="display: none;" multiple="multiple">
                                <label class="name_file"></label>
                            </div>

                        </div>
                    </fieldset>
                </div><!-- span3-->
        </div>
        <div class="row row_submit" align="center">
            <input type="hidden" id="act" name="act" value="<?php echo $this->params['act']?>">
            <input type="hidden" name="id" value="<?php echo $this->data[0]['id']?>">
            <input type="submit" name="submit" class="btn btn-primary" value="Xác nhận">
            <a href="<?php echo HOST.'costing/list-costing';?>"><input type="button" class="btn btn-default" value="Quay lại"></a>
        </div>
    </form>
</div>


<script type="text/javascript" src="/js/jquery-ui-1.8.12.custom.min.js"></script>
<link rel="stylesheet" type="text/css" href="/css/jquery-ui-1.8.12.custom.css"/>
<script type="text/javascript">
    function myFunction(){
          var x = document.getElementById("price");
          var valuex =x.value;
          valuex=valuex.replace(new RegExp(',', 'g'), '');
          valuex= valuex.replace(" ","");
          a =parseInt(valuex);
          x.value = formatMoney2(a, '').trim();
        }
        function myFunctionReal(){
          var x = document.getElementById("real");
          var valuex =x.value;
          valuex=valuex.replace(new RegExp(',', 'g'), '');
          valuex= valuex.replace(" ","");
          a =parseInt(valuex);
          x.value = formatMoney2(a, '').trim();
        }
    function formatMoney2(n, currency) {
      return n.toFixed(0).replace(/./g, function(c, i, a) {
        return i > 0 && c !== "." && (a.length - i) % 3 === 0 ? "," + c : c;
      })+" "+currency;
    }

    function openinput_thucchi()
    {
        var val = $('#act').val();
        if(val=='thucchi')
        {
            $('.number_thucchi').prop('readonly',false);
            $('.company').prop('disabled',true);
            $('.chanel').prop('disabled',true);
            $('.category').prop('disabled',true);
            $('.type').prop('disabled',true);
            $('.number_temp').prop('readonly',true);
             $('.content').prop('disabled',true);
              $('.note').prop('disabled',true);
               $('.date_offer').prop('disabled',true);
        }
    }
    $(document).ready(function () {
        $(document).on('change', ".number_thucchi", function() {
            
            var temp = $('.number_temp').val();
            var real = $('.number_thucchi').val();

            var number = Number(temp.replace(/[^0-9.-]+/g,""));
            var real = Number(real.replace(/[^0-9.-]+/g,""));
            var change = real - number;
            if(change > 0)
            {
                $('.title_change').text('Chi phí tăng:');
                var num=change.toString().replace(/(\d)(?=(\d\d\d)+(?!\d))/g, "$1,");
                $('.change').css('color','#f5a732');
                $('.change').val((num));
            }else if(change < 0)
            {
                change= change*-1;
                $('.title_change').text('Chi phí giảm:');
                var num=change.toString().replace(/(\d)(?=(\d\d\d)+(?!\d))/g, "$1,")
                $('.change').css('color','#008B56');
                $('.change').val((num));
            }else {
                 $('.change').val(0);
            }

        });
    });
    $(document).ready(function () {
        myFunction();
        openinput_thucchi();
        $( '.date' ).datepicker({ dateFormat: "dd/mm/yy" });
        $(document).on('change','input[type=file]',function(){
            var filename = $(this).val().split('\\').pop();
            $(this).parent().find('.name_file').html(filename);
          });
    });

</script>
