<div class="page-header">
        <h1>Check Permission Staff</h1>
</div>
<form class="form-group" action="" method="get">
    <div class="span3">
        <div class="control-group">
            <label for="code" class="control-label">Staff code</label>
            <div class="controls">
                <input type="text" id="code" value="<?php echo $this->code;?>" placeholder="Enter Code" name="code" ">
            </div>
           
        </div>
    </div>
    <div class="span2">
        <div class="control-group">
             <div class="controls">
                <button  name="search" type="submit" id="search" value="1" class="btn btn-primary">Search</button>
                <button  name="export" type="submit" id="export" value="1" class="btn btn-success">Export</button>
            </div>
        </div>
        
    </div>
</form>
<br />
<br />
<br />
<h4 style="text-align: center;">Quản lý văn phòng</h4>
<table class="table table-bordered table-permission">
    <thead>
        <th>Name</th>
        <th>Email</th>
        <th>Code</th>
        <th>Department</th>
        <th>Team</th>
        <th>Title</th>
        <th>Office</th>
        <th>Permission</th>
        <th>All office</th>
        <th>Approve</th>
    </thead>
    <tbody>
    <?php
    foreach ($this->data as $key => $value) {
    ?>
        <tr class="<?php // echo ($value['is_manager']>0)?'row_manager':'row_leader'; ?>" >
            <td><?php echo $value['staff_name']; ?></td>
            <td><?php echo $value['email']; ?></td>
            <td><?php echo $value['staff_code']; ?></td>
            <td><?php echo $value['department']; ?></td>
            <td><?php echo $value['team']; ?></td>
            <td><?php echo $value['title']; ?></td>
            <td><?php echo !empty($value['is_all_office']) ? 'Tất cả văn phòng' :$value['office']; ?></td>
            <td>
                <?php
                if($value['is_manager'] > 0)
                {
                ?>
                <span class="span_manager">MANAGER</span>
                <?php
                }
                if($value['is_leader'] > 0)
                {
                ?>
                <span class="span_leader">LEADER</span>
                <?php
                }
                if($value['is_global'] > 0)
                {
                ?>
                <span class="span_global">GLOBAL</span>
                <?php
                }
                ?>
             </td>
             <td><?php echo !empty($value['is_all_office']) ? 'X' : ''; ?></td>
             <td><?php echo !empty($value['is_approve']) ? 'X' : ''; ?></td>
        </tr>
    <?php
    }
    ?>
    </tbody>
</table>    
        <h4 style="text-align: center;">Cấp quyền đặc biệt</h4>
<table class="table table-bordered">
    <thead>
        <th>Manager name</th>
        <th>Manager code</th>
        <th>Manager department</th>
        <th>Staff name</th>
        <th>Staff code</th>
        <th>Staff department</th>
    </thead>
    <tbody>
    <?php
    foreach($this->data_personal as $key => $value)
    {
    ?>
        <tr>
            <td><?php echo $value['manager_name'] ?></td>
            <td><?php echo $value['manager_code'] ?></td>
            <td><?php echo $value['manager_department'] ?></td>
            <td><?php echo $value['staff_name'] ?></td>
            <td><?php echo $value['staff_code'] ?></td>
            <td><?php echo $value['staff_department'] ?></td>
        </tr>
    <?php
    }
    ?>
    </tbody>
</table>
  <h4 style="text-align: center;">Danh sách nhân viên quản lý</h4>
<div class="table-responsive">
  <table class="table table-bordered">
    <thead>
        <tr>
            <th>STT</th>
            <th> CODE </th>
            <th> NAME </th>
            <th> DEPARTMENT </th>
            <th> TEAM </th>
            <th> TITLE </th>
            <th> Province </th>
        </tr>
    </thead>
    <tbody>
        <?php if(isset($this->list) AND $this->list):
                $intStt = 0;
                foreach($this->list as $item):
        ?>  
                <tr>
                    <td><?php echo ++$intStt;?></td>
                    <td><?php echo $item['code']; ?></td>
                    <td><?php echo $item['fullname']; ?></td>
                    <td><?php echo $item['department']?></td>
                    <td><?php echo $item['team']?></td>
                    <td><?php echo $item['title']; ?></td>
                    <td><?php echo $item['province_name']; ?></td>
                </tr>                
        <?php 
              endforeach;
            endif;?>
    </tbody>
</table>    

</div>
<script type="text/javascript">
$( document ).ready(function() {
console.log('ready');
});




</script>
    