<style>
.modal-content
{
    padding: 20px;
}

th.reason
{
    width: 30px;
}

</style>

<div class="page-header">
    <h1>Export</h1>
</div>
<link rel="stylesheet" type="text/css" href="/css/bootstrap-datetimepicker.min.css"/>
<div class="accordion" id="accordion2">
    <div class="accordion-group">
        <div class="accordion-heading">
            <a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion2" href="#collapseTwo">
                Search
            </a>
        </div>
        <div id="collapseTwo" class="accordion-body collapse" style="height: 0px;">
            <div class="accordion-inner">
                <form action="" method="GET" class="form-search form-horizontal">
                    <div class="row">
                        <div class="span4">
                            <div class="control-group">
                                <label class="control-label">Từ ngày</label>
                                <div class="controls">
                                    <input type="text" name="from_date" value="<?php echo (!empty($this->params['from_date'])?(date('Y-m-d', strtotime($this->params['from_date'])) ):'' ) ?>" id="" class="date">
                                </div>
                            </div>

                            
                          
                        </div> <!-- End span4 -->
                        <div class="span4">
                            <div class="control-group">
                                <label class="control-label">Đến ngày</label>
                                <div class="controls">
                                    <input type="text" name="to_date" value="<?php echo (!empty($this->params['to_date'])?(date('Y-m-d', strtotime($this->params['to_date'])) ):'' ) ?>" id="" class="date">
                                </div>
                            </div>

                        </div> <!-- End span4 -->
                        <div class="span12">
                            <button type="submit" name="export" value="1" class="btn btn-success">Export</button>                            
                            	                
                        </div>
                    </div> <!-- end row -->
                </form> <!-- end form -->
            </div> <!-- end accordion-inner -->
        </div> <!-- end collapseTwo -->
    </div>
</div>

<script type="text/javascript" src="/js/jquery-ui-1.8.12.custom.min.js"></script>
<link rel="stylesheet" type="text/css" href="/css/jquery-ui-1.8.12.custom.css"/>
<script language="javascript" type="text/javascript" src="/js/bootstrap-datetimepicker.min.js"></script>
<script>

    $( '.date' ).datepicker({ dateFormat: "yy-mm-dd"});
    </script>