<style>

.scroll 
{
    /*max-height: 350px;*/
}

.table-responsive .label-xs
{
    display:  block;
    width: 100%;
    margin-top: 3px;
}
tr.online_time_detail{
    background-color: #ffe00059!important;
}


@media only screen and (max-width: 500px) 
{
    
    .table-responsive > thead tr
    {
        display: none; 
    }

    .table-responsive > tbody > tr > td, 
    .table-responsive > tbody > tr > th, 
    .table-responsive > tfoot > tr > td, 
    .table-responsive > tfoot > tr > th, 
    .table-responsive > thead > tr > td, 
    .table-responsive > thead > tr > th
    {
        display: block;
    }

    .table-responsive > tbody > tr td
    {
        padding-left: 110px;
        position: relative;
        overflow: hidden;
    }

    .table-responsive > tbody > tr td:first-child
    {
        border-top: 3px solid #999;
    }

    .table-responsive > tbody > tr td::before
    {
        content: attr(data-title);
        width: 100px;
        position: absolute;
        top: 6px;
        left: 5px;  
    }
    .responsive-th
    {
        height: 10vh;
    }
}

</style>
<div class="page-header">
    <h1>Staff View</h1>
    <div class="pull-right link-view" style="margin-top: -25px">
        <a href="/staff-time/list-staff-check-in" class="btn btn-success pull-right" style="margin-right: 0.2em !important" title="List Staff Time">List Staff Time</a>
        <a href="/leave/list-leave-detail" class="btn btn-success pull-right" style="margin-right: 0.2em !important" title="List Staff Leave">List Staff Leave</a>
    </div>
</div>
<div class="accordion" id="accordion2" style="border: 1px solid #999;
    margin-top: 15px;">
    <div class="accordion-heading" id="header_search">
        <a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion2" href="#collapseTwo">
            Search
        </a>
    </div>
    <div class="accordion-body collapse" id="collapseTwo">
        <div class="accordion-inner">
            <div class="row">
            
                <form action="" method="get" class="form-horizontal">   
                    <div class="span4">
                            <div class="control-group">
                                <label for="name" class="">FULLNAME</label>
                                <input type="text" name="name" id="name" value="<?php echo $this->params['name'] ?>">
                            </div>
                            <div class="control-group">
                                <label for="email" class="">Email</label>
                                <input type="text" name="email" id="email" value="<?php echo $this->params['email'] ?>">
                            </div>
                            <div class="control-group">
                                <label for="code" class="">Code</label>
                                <input type="text" name="code" id="code" value="<?php echo $this->params['code'] ?>">
                            </div>
                            
                            <!--
                            <div  class="control-group">
                                <label for="name" class="span2">Only Training</label>
                                <input type="checkbox" name="only_training" id="only_training" value="1" <?php // echo !empty($this->params['only_training'])?'checked':''; ?> >
                            </div> -->

                        
                    </div> <!-- end span4 -->
                    <div class="span4">
                        <div class="control-group">
                            <label for="month" class="">Area</label>
                            <select name="area">
                            <option value="">All</option>
                            <?php
                            foreach ($this->areas as $key => $value) {
                            ?>
                            <option <?php echo (!empty($this->params['area']) && $this->params['area'] == $value['id'])?" selected ":""; ?> value="<?php echo $value['id'];?>" ><?php echo $value['name'] ?></option>
                            <?php
                            }
                            ?>
                            </select>
                        </div>
                        <div class="control-group">
                            <label for="year" class="">Year</label>
                            <input type="number" name="year" id="year" value="<?php echo $this->params['year'] ?>">
                        </div>
                        <div class="control-group">
                            <label for="month" class="">Month</label>
                            <select name="month">
                            <?php
                            for($i = 1; $i <= 12; $i++)
                            {
                                ?>
                                <option value="<?php echo $i; ?>" <?php echo ($i==$this->params['month'])?" selected ":""; ?> ><?php echo "Tháng " . $i; ?></option>
                                <?php
                            }
                            ?>
                            </select>
                        </div>
                        
                    </div> <!-- span4 -->
                    <div class="span4">
                        <div class="control-group">
                            <label for="department" class="">Department</label>
                            <select name="department" id="department">
                                <option value>Choose</option>
                                <?php if (isset($this->recursiveDeparmentTeamTitle)): ?>
                                    <?php foreach ($this->recursiveDeparmentTeamTitle as $item_id => $item):?>
                                        <option value="<?php echo $item_id;?>" <?php if (isset($this->params) and $this->params and $item_id==$this->params['department']):?>selected<?php endif;?>><?php echo $item['name'];?></option>
                                    <?php endforeach;?>
                                <?php endif ?>
                            </select>
                        </div>

                            <div class="control-group">
                                <label for="team" class="">Team</label>
                                    <select name="team" id="team">
                                        <option value>Choose</option>
                                        <?php if ( isset($this->params) AND isset($this->recursiveDeparmentTeamTitle[$this->params['department']]['children'])): ?>
                                            <?php foreach ($this->recursiveDeparmentTeamTitle[$this->params['department']]['children'] as $item_id => $item):?>
                                                <option value="<?php echo $item_id;?>" <?php if (isset($this->params) and $this->params and $item_id==$this->params['team']):?>selected<?php endif;?>><?php echo $item['name'];?></option>
                                            <?php endforeach;?>
                                        <?php endif ?>
                                    </select>
                            </div>

                            <div class="control-group">
                                <label for="title" class="">Title</label>
                                    <select name="title" id="title">
                                        <option value>Choose</option>
                                        <?php if ( isset($this->params) AND isset($this->recursiveDeparmentTeamTitle[$this->params['department']]['children'][$this->params['team']]['children']) ): ?>
                                            <?php foreach ($this->recursiveDeparmentTeamTitle[$this->params['department']]['children'][$this->params['team']]['children'] as $item_id => $item):?>
                                                <option value="<?php echo $item_id;?>" <?php if (isset($this->params) and $this->params and $item_id==$this->params['title']):?>selected<?php endif;?>><?php echo $item['name'];?></option>
                                            <?php endforeach;?>
                                        <?php endif ?>
                                    </select>
                            </div>
                    </div>
                    <div class="span12">
                        <button type="submit" class="btn btn-success" name="search" value="1">Search</button>
                        <button type="submit" class="btn btn-primary" name="export" value="1">Export</button>
                       <!-- <button type="submit" class="btn btn-warning" name="lock_time" value="">Lock time <?php echo $this->params['month'] . '/' . $this->params['year'] ?></button> -->
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<h3 class="inline">LEAVES PENDING FOR APPROVAL</h3>

<form method="post" action="">
    <div class="scroll">
    <table  class="table table-bordered leaveTable table-responsive">
    <thead>
        <th>Area</th>
        <th>CODE</th>
        <th>FULLNAME</th>
        <th>TITLE</th>
        <th>LEAVE</th>
        <th>FROM</th>
        <th>TO</th>
        <th>DUE DATE</th>
        <th>DAYS OF LEAVES</th>
        <th>REASON</th>
        <th>MANAGER'S APPROVAL</th>
        <th>HR'S APPROVAL</th>
        <!-- <th>Phản hồi</th> -->
        <!--<th>Ghi chú</th>-->
    </thead>
    <tbody>
        <?php
            foreach($this->leave['data'] as $key => $value)
            {
            ?>
            <tr>
                <td data-title="Area"><?php echo $value['area_name'] ?></td>
                <td data-title="CODE"><?php echo $value['code'] ?></td>
                <td data-title="FULLNAME"><?php echo $value['staff_name'] ?></td>
                <td data-title="TITLE"><?php echo $value['title_name'] ?></td>
                
                <td data-title="LEAVE"><?php echo $value['leave_type_note']; ?></td>
                <td data-title="FROM"><?php echo date("d/m/Y", strtotime($value['from_date'])); ?></td>
                <td data-title="TO"><?php echo date("d/m/Y", strtotime($value['to_date'])); ?></td>
                <td data-title="DUE DATE"><?php if(!empty($value['due_date'])) echo  date("d/m/Y", strtotime($value['due_date'])) ;?></td>
                <td data-title="DAYS OF LEAVES"><?php echo $value['total']; ?> ngày</td>
                <td data-title="REASON"><?php echo $value['reason']; ?></td>
                <td data-title="MANAGER'S APPROVAL">
                <button <?php echo ($this->group_id == SALES_ADMIN_ID) ? 'style="display: none;"' : '';?> class="label label-xs label-success" id="btn-approve" value="<?php echo $value['id'];?>" name="approved">APPROVE</button>
                <button <?php echo ($this->group_id == SALES_ADMIN_ID) ? 'style="display: none;"' : '';?>  class="label label-xs label-danger" id="not-approve" value="<?php echo $value['id'];?>" name="notapproved">REJECT</button>
                <?php
                
                
//                     if($value['status'] == 0)
//                     {
//                         echo '<a href="javascript:void(0)" class="pending-modal-open" data-id="' . $value['id'] . '">Đang chờ xử lý</a>';
//                     }
//                     elseif($value['status'] == 1)
//                     {
//                         echo 'Đồng ý';
//                     }
//                     elseif($value['status'] == 2)
//                     {
//                         echo 'Không đồng ý';
//                     }
                ?>
                </td>

                
                <td data-title="HR'S APPROVAL">
                <?php
                    if($value['status'] == 2)
                    {
                        echo "REJECT";
                    }
                    else
                    {
                        if($value['hr_approved'] == 0 && in_array($this->auth->group_id, array(HR_ID, 1)))
                        {
                            echo '<a href="javascript:void(0)" class="pending-hr-open" data-id="' . $value['id'] . '">Đang chờ xử lý</a>';
                        }
                        elseif($value['hr_approved'] == 0)
                        {
                            echo 'PENDING';
                        }
                        elseif($value['hr_approved'] == 1)
                        {
                            echo 'APPROVE';
                        }
                        elseif($value['hr_approved'] == 2)
                        {
                            echo 'REJECT';
                        }
                    }
                    
                ?>
                </td>
                <!-- <td data-title="Phản hồi">
                <span class='span-note' id="span-note-<?php echo $value['id'] ?>"><?php echo $value['note']; ?></span>
                </td> -->
            </tr>
            <?php
            }
        ?>
        </tbody>
    </table>
    </div>
</form>

<h3 class="inline">WORKING DAYS PENDING FOR APPROVAL</h3>

<form action="" method="POST">
<input type="hidden" name="month_edit" value="<?php echo $this->params['month']; ?>">
<input type="hidden" name="year_edit" value="<?php echo $this->params['year']; ?>">
<div class="scroll">
<table class="table table-bordered timeTable table-responsive">
    <thead>
        <th>Code</th>
        <th>FULLNAME</th>
        <th>TITLE</th>
        <th>WORKING DAYS PENDING FOR APPROVAL</th>
        <th>ATTENDANCE PENDING FOR APPROVAL</th>
        <th>APPROVAL</th>
        <th>DETAILS</th>
    </thead>
    <tbody>
        <?php
      
        foreach($this->staffs as $key => $value)
        {
           $staff_id    = $value['staff_id'];
           $staff_name  = $value['name'];
           $staff_code  = $value['code'];
           $staff_title = $value['title'];
        ?>
        <tr>
            <td data-title="Code"><?php echo $staff_code; ?></td>
            <td data-title="FULLNAME"><?php echo $staff_name; ?></td>
            <td data-title="TITLE"><?php echo $staff_title; ?></td>
            <td class="responsive-th" data-title="WORKING DAYS PENDING FOR APPROVAL"><?php
            echo  !empty($value['temp_time']) ? $value['temp_time'] : $value['gps_time'];
           ?></td>
            <td class="responsive-th" data-title="ATTENDANCE PENDING FOR APPROVAL"><?php echo $value['late_time'] ?></td>
            <td data-title="APPROVAL">
            <?php
             if( !(!empty($this->not_approve_self) && $value['id'] == $this->auth_id) 
                    && empty($this->locked_time) )
             {
            ?>
            <button <?php echo ($this->group_id == SALES_ADMIN_ID) ? 'style="display: none;"' : '';?>  class="label label-xs label-success" name="approve_all_by_staff" value="<?php echo $value['staff_id']; ?>" >APPROVE</button> 
            <button <?php echo ($this->group_id == SALES_ADMIN_ID) ? 'style="display: none;"' : '';?>  class="label label-xs label-danger"  name="deapprove_all_by_staff" value="<?php echo $value['staff_id']; ?>">REJECT</button></td>
            <?php
             }
            ?>
            <td data-title="DETAILS">
            <?php
            if( !(!empty($this->not_approve_self) && $value['id'] == $this->auth_id) && empty($this->locked_time) )
            {
            ?>
                <a href="javascript:void(0)" class="open-detail" v-staff-id="<?php echo $value['staff_id'] ?>"
                    v-month="<?php echo $this->params['month'] ?>" v-year="<?php echo $this->params['year'] ?>">
                <i class="icon-edit"></i>
                </a>
            <?php
            }
            ?>
            </td>
        </tr>
        <?php
        }
        ?>
    </tbody>
</table>
</div>
</form>


<h3 class="inline">WORKING DAYS IN LAST MONTH PENDING FOR APPROVAL</h3>

<form action="" method="POST">
<input type="hidden" name="month_edit" value="<?php echo $this->params['month']; ?>">
<input type="hidden" name="year_edit" value="<?php echo $this->params['year']; ?>">
<div class="scroll">
<table class="table table-bordered  table-responsive"> <!--class: timeTable-->
    <thead>
        <th>Code</th>
        <th>FULLNAME</th>
        <th>TITLE</th>
        <th>WORKING DAYS PENDING FOR APPROVAL</th> 
        <th>APPROVAL</th>
        <th>DETAILS</th>
    </thead>
    <tbody>
        <?php
        foreach($this->staffs_last as $key => $value)
        {
        ?>
        <tr>
            <td data-title="Code"><?php echo $value['staff_code'] ?></td>
            <td data-title="FULLNAME"><?php echo $value['staff_name'] ?></td>
            <td data-title="TITLE"><?php echo $value['staff_title'] ?></td>
            <td data-title="WORKING DAYS PENDING FOR APPROVAL"><?php echo $value['work_day'] ?></td> 
            <td data-title="APPROVAL">
            <?php
            // if(empty($this->not_approve_self))
            // {
            ?>
            <button <?php echo ($this->group_id == SALES_ADMIN_ID) ? 'style="display: none;"' : '';?>  class="label label-xs label-success" name="approve_all_by_staff_last" value="<?php echo $value['staff_id'] ?>" >APPROVE</button> 
            <button <?php echo ($this->group_id == SALES_ADMIN_ID) ? 'style="display: none;"' : '';?>  class="label label-xs label-danger"  name="deapprove_all_by_staff_last" value="<?php echo $value['staff_id'] ?>">REJECT</button></td>
            <input  name="work_day_last[<?php echo $value['staff_id'] ?>]" type="hidden"  value="<?php echo $value['work_day_string'] ?>">
            
            <?php
            // }
            ?>
            <td data-title="DETAILS">
            <?php
           // if(empty($this->not_approve_self))
            //{
            ?>
                <a href="javascript:void(0)" class="open-detail-last" v-staff-id="<?php echo $value['staff_id'] ?>"
                    v-month="<?php echo $this->params['month'] ?>" v-year="<?php echo $this->params['year'] ?>" v-work-day-string="<?php echo $value['work_day_string'] ?>">
                <i class="icon-edit"></i>
                </a>
            <?php
            //}
            ?>
            </td>
        </tr>
        <?php
        }
        ?>
    </tbody>
</table>
</div>
</form>


<div id="office-modal" class="modal fade" role="dialog" style="max-height: 500px"> <!-- modal office -->
  <div class="modal-dialog">
    <div class="modal-content">
      <form action="" method="post" class="form-horizontal">
        <div id="html_pending">
        </div>
      </form> <!-- end form -->
    </div>
  </div>
</div> <!-- end modal office -->

<div id="office-modal-last" class="modal fade" role="dialog" style="max-height: 500px"> <!-- modal office -->
  <div class="modal-dialog">
    <div class="modal-content">
      <form action="" method="post" class="form-horizontal">
        <div id="html_pending_last">
        </div>
      </form> <!-- end form -->
    </div>
  </div>
</div> <!-- end modal office -->


<script src="/js/tableHeadFixer.js">
</script>

<script>

$('#department,.department').change(function(){
        $('.loading').remove();
        $(this).after('<span class="loading"></span>');
        var _self = $(this);
        var department_id = $(this).val();
        $('form').bind('submit',function(e){e.preventDefault();});
        $('button, .btn, input, select').prop('disabled', true);
        $.get("/ajax/load-team",
            {department_id: [department_id]}
            ,function(data,status){
                var obj = $.parseJSON( data );
                $('#team,.team').find('option:not(:first)').remove();
                for (var i = 0; i < obj.length; i++) {
                    $('#team,.team').append('<option value="'+obj[i]['id']+'">'+obj[i]['name']+'</option>');
                }

                $('button, .btn, input, select').prop('disabled', false);
                $('form').unbind('submit');
                $('.loading').remove();
                $('#team,.team').change();
            });
    });

    $('#team,.team').change(function(){
        $('.loading').remove();
        $(this).after('<span class="loading"></span>');
        var _self = $(this);
        var team_id = $(this).val();
        $('form').bind('submit',function(e){e.preventDefault();});
        $('button, .btn, input, select').prop('disabled', true);
        $.get("/ajax/load-title",
            {team_id: [team_id]}
            ,function(data,status){
                var obj = $.parseJSON( data );
                $('#title,.title').find('option:not(:first)').remove();
                for (var i = 0; i < obj.length; i++) {
                    $('#title,.title').append('<option value="'+obj[i]['id']+'">'+obj[i]['name']+'</option>');
                }
                $('button, .btn, input, select').prop('disabled', false);
                $('form').unbind('submit');
                $('.loading').remove();
                
            });
    });


$('#header_search').click(function () {
    $('#body_search').toggle();
});


<?php
    if(count($this->leave['data']) > 3)
    {
    ?>
    $(".leaveTable").tableHeadFixer({}); 
    <?php
    }

    if(count($this->staffs) > 3)
    {
    ?>
    $(".timeTable").tableHeadFixer({}); 
    <?php
    }
?>


    
$('.open-detail').click(function () {
    var month = $(this).attr('v-month');
    var year = $(this).attr('v-year');
    var staff_id = $(this).attr('v-staff-id');
    $.ajax({
        url: '/staff-time/get-view-detail-approve',
        Type: 'POST',
        datatype: 'text',
        data:
        {
            month: month,
            staff_id: staff_id,
            year: year
        },
        cache: false,
        success: function (data)
        {
            $('#html_pending').empty().append(data);
            $('#office-modal').modal();
        }
    });
});


$('.open-detail-last').click(function () {
    var month = $(this).attr('v-month');
    var year = $(this).attr('v-year');
    var staff_id = $(this).attr('v-staff-id');
    var work_day_string = $(this).attr('v-work-day-string');
    $.ajax({
        url: '/staff-time/get-view-detail-approve-last',
        Type: 'POST',
        datatype: 'text',
        data:
        {
            month: month,
            staff_id: staff_id,
            year: year,
            work_day_string: work_day_string
        },
        cache: false,
        success: function (data)
        {
            $('#html_pending_last').empty().append(data);
            $('#office-modal-last').modal();
        }
    });
});

$('.pending-modal-open').click(function () {
    var id = $(this).attr('data-id');
    
    var html = '<div id="div_approve" >';
    html += '<button class="label label-xs label-success" id="btn-approve" value="' + id + '" name="approved">APPROVE</button>';
    html += '<button class="label label-xs label-danger" id="not-approve" value="' + id + '" name="notapproved">REJECT</button>';
    html += '</div>';
    $('#div_approve').remove();
    $(this).after(html);
    $('.span-note').show();
    $('#span-note-' + id).hide();
    $('#note_input').remove();
    var html_note = '<input id="note_input" name="note" value="' + $('#span-note-' + id).text() + '" />';
    $('#span-note-' + id).after(html_note);

});

$('.pending-hr-open').click(function () {
    var id = $(this).attr('data-id');
    
    var html = '<div id="div_hrapprove" >';
    html += '<button class="label label-xs label-success" id="btn-approve" value="' + id + '" name="hr_approved">APPROVE</button>';
    html += '<button class="label label-xs label-danger" id="not-approve" value="' + id + '" name="nothr_approved">REJECT</button>';
    html += '</div>';
    $('#div_hrapprove').remove();

    

    $(this).after(html);
});


</script>


