<div class="accordion" id="accordion2" style="border: 1px solid #999;
    margin-top: 15px;">
    <div class="accordion-heading">
        <a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion2" href="#collapseTwo">
            Search
        </a>
    </div>
    <div class="accordion-body in">
        <div class="accordion-inner">
            <div class="row">
                <div class="span10">
                    <form action="" method="get" class="form-horizontal">
                        <div class="control-group">
                            <label for="name" class="span2">Name</label>
                            <input type="text" name="name" id="name" value="<?php echo $this->params['name'] ?>">
                        </div>
                        <div class="control-group">
                            <label for="email" class="span2">Email</label>
                            <input type="text" name="email" id="email" value="<?php echo $this->params['email'] ?>">
                        </div>
                        <div class="control-group">
                            <label for="code" class="span2">Code</label>
                            <input type="text" name="code" id="code" value="<?php echo $this->params['code'] ?>">
                        </div>
                        <div class="control-group">
                            <label for="year" class="span2">Year</label>
                            <input type="number" name="year" id="year" value="<?php echo $this->params['year'] ?>">
                        </div>
                        <div class="control-group">
                            <label for="month" class="span2">Tháng</label>
                            <select name="month">
                            <?php
                            for($i = 1; $i <= 12; $i++)
                            {
                                ?>
                                <option value="<?php echo $i; ?>" <?php echo ($i==$this->params['month'])?" selected ":""; ?> ><?php echo "Tháng " . $i; ?></option>
                                <?php
                            }
                            ?>
                            </select>
                        </div>
                        <!--
                        <div  class="control-group">
                            <label for="name" class="span2">Only Training</label>
                            <input type="checkbox" name="only_training" id="only_training" value="1" <?php // echo !empty($this->params['only_training'])?'checked':''; ?> >
                        </div> -->

                        <button type="submit" class="btn btn-success">Search</button>
                        <button type="submit" class="btn btn-primary" name="export" value="1">Export</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
<table class="table table-bordered">
    <thead>
        <tr>
            <?php echo $this->sorting(array(
                    '#',
                    'code'         =>'Code',
                    'lastname'     =>'Name',
                    'email'        =>'Email',
                    'G'            => 'Ca gãy',
                    'X'            => 'Ca thường',
                    'T'            => 'Training',
                    'Action'
                ),
                $this->url, $this->sort, $this->desc); ?>
        </tr>
    </thead>
    <tbody>
        <?php
        if (isset($this->staffs) and $this->staffs)
            foreach ($this->staffs as $k=>$staff): ?>
        <tr <?php
            if ($staff['contract_expired_at']):
            $datetime1 = new DateTime($staff['contract_expired_at']);
            $today = new DateTime();
            $interval = $datetime1->diff($today, false);
            $interval = $interval->invert ? $interval->days : -$interval->days;
            if ($interval<=14):?>style="background-color: cornsilk" title="Contract is going to be out of date at <?php echo ($staff['contract_expired_at'] ? date('d/m/Y', strtotime($staff['contract_expired_at'])) : '');?>" <?php endif;endif;?>>
            <td>
                <?php
                    $inc = $this->offset + $k + 1;
                    echo $inc;
                ?>
            </td>
            <td><?php echo $staff['code'];?></td>
            <td><?php echo $staff['firstname'].' '.$staff['lastname'];?></td>
            <td <?php if (!$staff['email']):?> style="background-color: coral"<?php endif;?>><?php echo $staff['email'];?></td>
            
            <td><?php echo $staff['g'];?></td>
            <td><?php echo $staff['x'];?></td>
            <td><?php echo $staff['t'];?></td>
            
            <td class="">
                <a href="/time/edit?staff_id=<?php echo $staff['id'] ?>&month=<?php echo $this->params['month'] ?>&year=<?php echo $this->params['year'] ?>" class="btn btn-xs btn-primary">Detail</a>
            </td>
        </tr>
        <?php endforeach;?>

    </tbody>
</table>
<div class="paging">
    <?php echo $this->paging($this->total, $this->limit, $this->offset, $this->url);?>
</div>

<div id="modal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">

</div>

<script type="text/javascript">
	$modal = $('#modal');
	
	$('.note_label').click(function(){
	    var _self = $(this);

	    $('body').modalmanager('loading');
	    $('#note_content').html(_self.data('note'));
	    $('#note_id').val(_self.data('id'));
       
	    $modal.modal('loading');
        noteid=_self.data('id');

        $.ajaxSetup({
            cache: true
        });

	    $.post('<?php echo HOST ?>/staff/quick-edit',
                {
                    id            : noteid,
                   	back_url : '<?php echo HOST.$this->current_url; ?>'
                },
                function(data){
                    $modal.html(data);
                    $modal.modal();
                    var name = _self.parents('tr').children('td:nth-child(2)').html();
                    $modal.find('h3').append(' <small>&bull; '+name+'</small>');
            });
	});
    
    
    </script>
  
<script type="text/javascript" src="/js/jquery-ui-1.8.12.custom.min.js"></script>
<link rel="stylesheet" type="text/css" href="/css/jquery-ui-1.8.12.custom.css"/>

<script type="text/javascript" src="/js/bootstrap-modal.js"></script>
<script type="text/javascript" src="/js/bootstrap-modalmanager.js"></script>
<link rel="stylesheet" type="text/css" href="/css/bootstrap-modal.css"/>

<?php echo $this->confirm();?>
<?php echo $this->load();?>
