<!doctype html>
<html lang="">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <title>Simple Push Demo</title>

  <meta name="theme-color" content="#2e3aa1">

  <link rel="manifest" href="/js/firebasejs/manifest.json">

  <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
  <link rel="stylesheet" href="https://storage.googleapis.com/code.getmdl.io/1.0.6/material.indigo-pink.min.css">
  <script src="https://storage.googleapis.com/code.getmdl.io/1.0.6/material.min.js"></script>

  <!-- Page styles -->
  <link rel="stylesheet" href="/css/firebase/main.css">
</head>
<body>
  <div class="mdl-layout mdl-js-layout mdl-layout--fixed-header">
    <header class="mdl-layout__header">
      <div class="mdl-layout__header-row">
        <span class="mdl-layout-title">Push Demo</span>
        <div class="mdl-layout-spacer"></div>

      </div>
    </header>

    <main>
      <div class="push-switch-container js-push-switch-container">
        <label class="mdl-switch mdl-js-switch mdl-js-ripple-effect js-push-toggle-switch" for="switch-2">
          <input type="checkbox" id="switch-2" class="mdl-switch__input" disabled>
          <span class="mdl-switch__label">Enable Push Notifications</span>
        </label>
      </div>

      <div class="content-overlap-wrapper">
        <div class="send-push-options js-send-push-options">
          <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label payload-textfield js-payload-textfield-container ">
            <input class="mdl-textfield__input js-payload-textfield" type="text" id="payload-textfield">
            <label class="mdl-textfield__label" for="payload-textfield">Add Payload Text</label>
          </div>

          <p class="center js-xhr-button-container">
            <button class="xhr-button js-send-push-button mdl-button mdl-js-button mdl-button--raised mdl-button--colored mdl-js-ripple-effect">
              Send a Push via XHR
            </button>
          </p>

          <pre class="snippet-code"><code class="code-example js-subscription-json language-json"></code></pre>
          <pre class="snippet-code"><code class="code-example js-supported-content-encodings language-json"></code></pre>
          <div class="js-curl-container">

            <p class="js-curl-copy-msg"></p>
            <p class="js-curl-error-msg"></p>

            <pre class="snippet-code"><code class="code-example js-curl-code language-markup"></code></pre>
          </div>
          <div class="js-api-request">
            <pre><code class="js-endpoint"></code></pre>
            <div class="js-headers-list">
            </div>
            <p class="small-margin"><strong>Type</strong>: <span class="js-body-format"></span></p>
            <p  class="small-margin"><strong>Content</strong>: <span class="js-body-content"></span></p>
          </div>
  
        </div>
        <div class="error-message-container js-error-message-container">
          <h1 class="error-title js-error-title"></h1>
          <p class="error-message js-error-message"></p>
        </div>
      </div>
    </main>
  </div>

  <script src="/js/firebasejs/constants.js"></script>
  <script src="/js/firebasejs/libs/idb-keyval.js"></script>
  <script src="/js/firebasejs/libs/snippets.js"></script>

  <script src="/js/firebasejs/encryption/hmac.js"></script>
  <script src="/js/firebasejs/encryption/hkdf.js"></script>
  <script src="/js/firebasejs/encryption/vapid-helper-1.js"></script>
  <script src="/js/firebasejs/encryption/vapid-helper-2.js"></script>
  <script src="/js/firebasejs/encryption/helpers.js"></script>

  <script src="/js/firebasejs/encryption/encryption-aes-128-gcm.js"></script>
  <script src="/js/firebasejs/encryption/encryption-aes-gcm.js"></script>
  <script src="/js/firebasejs/encryption/encryption-factory.js"></script>

  <script src="/js/firebasejs/push-client.js"></script>
  <script src="/js/firebasejs/app-controller.js"></script>

</body>
</html>
