<div class="page-header">
	<h1>List Time</h1>
</div>
<form class="form-horizontal" action="" method="post">
     <div class="control-group">
        <label class="span2">Search Staff</label>
        <input id="search_staff" value="<?php echo $this->params['staff_code']; ?>" placeholder="Staff name, code, email" />
        <button class="btn btn-primary" type="button" id="btn-search-staff" >Search</button>
    </div>
    <div class="control-group">
        <label for="staff_id" class="span2">Staff</label>
        <select name="staff_id" id="staff_id" required>
        </select>
    </div>
    <div class="control-group">
        <label for="name" class="span2" >Year</label>
        <input type="number" name="year" required id="year" value="<?php echo $this->params['year'] ?>">
    </div>
    <div class="control-group">
        <label for="month" class="span2">Month</label>
        <select name="month" id="month" required>
        <?php
            for($i = 1; $i <= 12; $i++)
            {
            ?>
            <option value="<?php echo $i ?>" <?php echo ($i == $this->params['month'])?' selected ':''; ?> ><?php echo "Tháng " . $i ?></option>
            <?php
            }
        ?>
        </select>
    </div>
    <div class="control-group">
        <label for="month" class="span2">Allowance</label>
        <select name="allowance_id" id="allowance_id" required>
        <?php
            foreach($this->list_allowance as $key => $value)
            {
            ?>
            <option value="<?php echo $value['id'] ?>" <?php echo ($value['id'] == $this->params['allowance_id'])?' selected ':''; ?> ><?php echo $value['name'] ?></option>
            <?php
            }
        ?>
        </select>
    </div>
    <div class="control-group">
        <label for="name" class="span2">Quantity</label>
        <input type="number" name="quantity" id="quantity" required value="<?php echo $this->params['quantity'] ?>">
    </div>
    <div class="control-group">
        <button type="submit" class="btn btn-primary" name="submit" value="1">Submit</button>
    </div>
</form>

<script>
$(document).ready(function () {


    $("#btn-search-staff").click(function ()
    {
        $.ajax({
            type: 'post',
            url: '/kpi-report/ajax-search-staff',
            data:
            {
                input: $("#search_staff").val()
            },
            typeType: 'text',
            cache: false,
            success: function (data)
            {
                
                var obj = JSON.parse(data);
                
                $("#staff_id").empty(); 
                $.each(obj, function(index, value) {
                    $("#staff_id").append("<option value='" + value.id + "'>" + value.text + "</option>");
                });
            }
        });
    });

    <?php if(!empty($this->params['id']))
    {
    ?>
        $("#btn-search-staff").click();
    <?php
    }
    ?>
}); 
</script>