
<style>
    .approved
    {
        color: #00ba8b;
        font-weight: bold;
    }

    .non-approved
    {
        color: #999;
    }
    .dropdown-menu{
        margin-left: -100px;
    }
    .scroll
    {
        max-height: 700px;
        min-height: 200px;
    }

    .cell
    {
        cursor: pointer;
    }

    td.cell:hover
    {
        background: #F2A736;
    }

    td.hightlight
    {
        background: #994500;
    }

    .table-time td
    {
        padding: 7px;;
    }

    td.not-approve
    {
        background: red;
    }

    tr.need-approve
    {
        background: #BE5632;
    }

    .view_detail
    {
        cursor: pointer;
    }

    h1.inline, h3.inline
    {
        display: inline-block;
    }
    @media only screen and (max-width: 500px)
    {
        .table_list_staff_time{
            display: block;
            /*overflow-x: overlay;*/
            /*white-space: nowrap;*/
            /*width: 100%;*/
            width: 50vh;

        }

        .table-responsive > thead tr
        {
            display: none;
        }
        .table-responsive
        {
            width: 53vh;
            border: 2px solid yellowgreen;
        }


        .table-responsive > tbody > tr > td,
        .table-responsive > tbody > tr > th,
        .table-responsive > tfoot > tr > td,
        .table-responsive > tfoot > tr > th,
        .table-responsive > thead > tr > td,
        .table-responsive > thead > tr > th
        {
            display: block;
        }

        .table-responsive > tbody > tr td
        {
            padding-left: 110px;
            position: relative;
            /*overflow: hidden;*/
        }

        .table-responsive > tbody > tr td:first-child
        {
            /*border-top: 3px solid #999;*/
            border-top: 2px solid yellowgreen;
        }

        .table-responsive > tbody > tr td::before
        {
            content: attr(data-title);
            width: 100px;
            position: absolute;
            top: 6px;
            left: 5px;

        }
        .responsive-th
        {
            height: 3.3vh;
        }

        .strong-text{
            font-weight: bold;
        }

        .table-margin{
            /*margin-top: 2vh;*/
        }
        .pull-right {
            float:none;
            margin-left: 65vw;
        }

    }


</style>
<div class="page-header">
    <h1 class="inline">List Time</h1>
    <h3 class="inline">(<?php echo $this->total . " nhân viên"; ?>)</h3>
</div>
<div>
    <form action="" method="post" class="form-horizontal">
    </form>
</div>
<div class="accordion" id="accordion2" style="border: 1px solid #999;
    margin-top: 15px;">
    <div class="accordion-heading" id="header_search">
        <a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion2" href="#collapseTwo">
            Search
        </a>
    </div>
    <div class="accordion-body collapse" id="collapseTwo">
        <div class="accordion-inner">
            <div class="row">

                <form action="" method="get" class="form-horizontal">
                    <div class="span3">
                        <div class="control-group">
                            <label for="name" class="">Name</label>
                            <input type="text" name="name" id="name" value="<?php echo $this->params['name'] ?>">
                        </div>
                        <div class="control-group">
                            <label for="email" class="">Email</label>
                            <input type="text" name="email" id="email" value="<?php echo $this->params['email'] ?>">
                        </div>
                        <div class="control-group">
                            <label for="code" class="">Code</label>
                            <input type="text" name="code" id="code" value="<?php echo $this->params['code'] ?>">
                        </div>


                    </div>
                    <div class="span3">
<!--                        <div class="control-group">-->
<!--                            <label for="month" class="">Area</label>-->
<!--                            <select name="area">-->
<!--                                <option value="">All</option>-->
<!--                                --><?php
//                                foreach ($this->areas as $key => $value) {
//                                    ?>
<!--                                    <option --><?php //echo (!empty($this->params['area']) && $this->params['area'] == $value['id'])?" selected ":""; ?><!-- value="--><?php //echo $value['id'];?><!--" >--><?php //echo $value['name'] ?><!--</option>-->
<!--                                    --><?php
//                                }
//                                ?>
<!--                            </select>-->
<!--                        </div>-->
                        <input type="hidden" name="week" value="<?=$this->params['week']?>">
                        <div class="control-group">
                            <label for="month" class="">Month</label>
                            <select name="month" id="month_online_time">
                                <option value="0">Choose</option>
                                <?php
                                for($i = 1; $i <= 12; $i++)
                                {
                                    ?>
                                    <option value="<?php echo $i; ?>" <?php echo ($i==$this->params['month'])?" selected ":""; ?> ><?php echo "Tháng " . $i; ?></option>
                                    <?php
                                }
                                ?>
                            </select>
                        </div>
                        <div class="control-group">
                            <label for="year" class="">Year</label>
                            <input type="number" name="year" id="year" value="<?php echo $this->params['year'] ?>">
                        </div>

                    </div> <!-- span4 -->
                    <div class="span3">
                        <div class="control-group">
                            <label for="department" class="">Department</label>
                            <select name="department" id="department">
                                <option value>Choose</option>
                                <?php if (isset($this->recursiveDeparmentTeamTitle)): ?>
                                    <?php foreach ($this->recursiveDeparmentTeamTitle as $item_id => $item):?>
                                        <option value="<?php echo $item_id;?>" <?php if (isset($this->params) and $this->params and $item_id==$this->params['department']):?>selected<?php endif;?>><?php echo $item['name'];?></option>
                                    <?php endforeach;?>
                                <?php endif ?>
                            </select>
                        </div>

                        <div class="control-group">
                            <label for="team" class="">Team</label>
                            <select name="team" id="team" >
                                <option value>Choose</option>
                                <?php if ( isset($this->params) AND isset($this->recursiveDeparmentTeamTitle[$this->params['department']]['children'])): ?>
                                    <?php foreach ($this->recursiveDeparmentTeamTitle[$this->params['department']]['children'] as $item_id => $item):?>
                                        <option value="<?php echo $item_id;?>" <?php if (isset($this->params) and $this->params and $item_id==$this->params['team']):?>selected<?php endif;?>><?php echo $item['name'];?></option>
                                    <?php endforeach;?>
                                <?php endif ?>
                            </select>
                        </div>

                        <div class="control-group">
                            <label for="title" class="">Title</label>
                            <select name="title" id="title" >
                                <option value>Choose</option>
                                <?php if ( isset($this->params) AND isset($this->recursiveDeparmentTeamTitle[$this->params['department']]['children'][$this->params['team']]['children']) ): ?>
                                    <?php foreach ($this->recursiveDeparmentTeamTitle[$this->params['department']]['children'][$this->params['team']]['children'] as $item_id => $item):?>
                                        <option value="<?php echo $item_id;?>" <?php if (isset($this->params) and $this->params and $item_id==$this->params['title']):?>selected<?php endif;?>><?php echo $item['name'];?></option>
                                    <?php endforeach;?>
                                <?php endif ?>
                            </select>
                        </div>
                    </div>

                    <div class="span12">
                        <button type="submit" name="search" value="1" class="btn btn-success">Search</button>
                        <button type="submit" class="btn btn-primary" name="export" id="export_online_time" value="1">Export</button>


                        <a  class="btn btn-warning" href="/staff-time/show-online-time?week=<?php echo $this->params['week']-1;?>&year=<?php echo $this->params['year'];?>" name="next_week" value="1">Last week</a>
                        <a  class="btn btn-warning" href="/staff-time/show-online-time?week=<?php echo $this->params['week']+1;?>&year=<?php echo $this->params['year'];?>" name="next_week" value="1">Next week</a>


                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

    <table class="" >
        <thead >
        <tr>
            <th style="z-index: 1;">CODE</th>
            <th style="z-index: 1;">NAME</th>
            <th style="z-index: 1;">DEPARTMENT</th>
            <th style="z-index: 1;">TEAM</th>
            <th style="z-index: 1;">TITLE</th>
            <th style="width: 8%;">Thứ 2 <br>
                <?= $this->dateOfWeek[0]?>
            </th>
            <th style="width: 8%;">Thứ 3 <br>
                <?= $this->dateOfWeek[1]?>
            </th>
            <th style="width: 8%;">Thứ 4 <br>
                <?= $this->dateOfWeek[2]?>
            </th>
            <th style="width: 8%;">Thứ 5 <br>
                <?= $this->dateOfWeek[3]?>
            </th>
            <th style="width: 8%;">Thứ 6 <br>
                <?= $this->dateOfWeek[4]?>
            </th>
            <th style="width: 8%;">Thứ 7 <br>
                <?= $this->dateOfWeek[5]?>
            </th>
            <th style="width: 8%;">Chủ nhật<br>
                <?= $this->dateOfWeek[6]?></th>
            <th style="z-index: 1;">Tổng ngày nghỉ</th>
        </tr>
        </thead>
        <tbody>
        <?php

        foreach($this->list_staff_view as $key => $value)
        {
            ?>
            <tr >
                <td class="table-margin" data-title="CODE" style="background-color: white; position: relative; left: 0px;"><?php echo $value['staff_code']; 		?></td>
                <td data-title="NAME"><?php echo $value['staff_name'];				?></td>
                <td data-title="TEAM"><?php echo $value['department'];				?></td>

                <td data-title="TEAM"><?php echo $value['team'];				?></td>
                <td data-title="TITLE"><?php echo $value['title']; 			?></td>

                <?php for ($i=0;$i<7;$i++){?>
                    <td data-title="status"><?php
                        $date = DateTime::createFromFormat("d/m", $this->dateOfWeek[$i]);
                        $order=$date->format("d");
                        settype($order, "integer");

                        echo $value[$order];
                        ?></td>
                <?php }?>
                <td data-title="TITLE"><?php echo $value['total']; 			?></td>


            </tr>
            <?php
        }
        ?>


        </tbody>
    </table>
<div class="paging">
    <?php echo $this->paging($this->total, $this->limit, $this->offset, $this->url);?>
</div>









<script type="text/javascript">

    <?php

    //         if(count($this->data) > 1)
    //         {
    ?>
    //$("#fixTable").tableHeadFixer({"left" : <?php //echo (in_array($this->current_user->group_id, array(HR_ID, ADMINISTRATOR_ID)))?8:6 ?>//});

    <?php
    //         }
    ?>

    $modal = $('#modal');
    $('#department,.department').change(function(){
        $('.loading').remove();
        $(this).after('<span class="loading"></span>');
        var _self = $(this);
        var department_id = $(this).val();
        $('form').bind('submit',function(e){e.preventDefault();});
        $('button, .btn, input, select').prop('disabled', true);
        $.get("/ajax/load-team",
            {department_id: [department_id]}
            ,function(data,status){
                var obj = $.parseJSON( data );
                $('#team,.team').find('option:not(:first)').remove();
                for (var i = 0; i < obj.length; i++) {
                    $('#team,.team').append('<option value="'+obj[i]['id']+'">'+obj[i]['name']+'</option>');
                }

                $('button, .btn, input, select').prop('disabled', false);
                $('form').unbind('submit');
                $('.loading').remove();
                $('#team,.team').change();
            });
    });

    $('#team,.team').change(function(){
        $('.loading').remove();
        $(this).after('<span class="loading"></span>');
        var _self = $(this);
        var team_id = $(this).val();
        $('form').bind('submit',function(e){e.preventDefault();});
        $('button, .btn, input, select').prop('disabled', true);
        $.get("/ajax/load-title",
            {team_id: [team_id]}
            ,function(data,status){
                var obj = $.parseJSON( data );
                $('#title,.title').find('option:not(:first)').remove();
                for (var i = 0; i < obj.length; i++) {
                    $('#title,.title').append('<option value="'+obj[i]['id']+'">'+obj[i]['name']+'</option>');
                }
                $('button, .btn, input, select').prop('disabled', false);
                $('form').unbind('submit');
                $('.loading').remove();

            });
    });


    $('#header_search').click(function () {
        $('#body_search').toggle();
    });

    //kiem tra xem user co chon thang chua, chon roi moi cho export
    // $('#export_online_time').on('click',function () {
    //     alert("jdsad");
    //     $(':input[type="submit"]').prop('disabled', false);
    // })

</script>

<script type="text/javascript" src="/js/jquery-ui-1.8.12.custom.min.js"></script>
<link rel="stylesheet" type="text/css" href="/css/jquery-ui-1.8.12.custom.css"/>

<script type="text/javascript" src="/js/bootstrap-modal.js"></script>
<script type="text/javascript" src="/js/bootstrap-modalmanager.js"></script>
<link rel="stylesheet" type="text/css" href="/css/bootstrap-modal.css"/>

<?php echo $this->confirm();?>
<?php echo $this->load();?>
