
<script src="/js/jquery-1.7.2.min.js"></script>
<script src="/js/bootstrap.js"></script>
<script src="/js/base.js"></script>
<script type="text/javascript" src="https://center.opposhop.vn/js/alertify.js"></script>

<script type="text/javascript" src="/js/jquery-ui-1.8.12.custom.min.js"></script>
<style>
.red-text{
    color: red;
}
.modal.fade.in {
    position: fixed;
    max-height: 90vh;
    overflow: auto;
    top: 10% !important;
    width: 760px !important;
}
.red-tr{
    background: #EDB623;
}
.span4
{
    float:left!important;
}
.modal-responsive {
    padding: 10px;
}
.text-to{
    display: inline-block;
}
/*@media only screen and (max-width: 500px)*/
/*{*/

/*    .table-responsive > thead tr*/
/*    {*/
/*        display: none;*/
/*    }*/

/*    .table-responsive > tbody > tr > td,*/
/*    .table-responsive > tbody > tr > th,*/
/*    .table-responsive > tfoot > tr > td,*/
/*    .table-responsive > tfoot > tr > th,*/
/*    .table-responsive > thead > tr > td,*/
/*    .table-responsive > thead > tr > th*/
/*    {*/
/*        display: block;*/
/*    }*/

/*    .table-responsive > tbody > tr td*/
/*    {*/
/*        padding-left: 34vh;*/
/*        position: relative;*/
/*        !*overflow: hidden;*!*/
/*    }*/


/*    .table-responsive > tbody > tr td::before*/
/*    {*/
/*        content: attr(data-title);*/
/*        width: 100px;*/
/*        position: absolute;*/
/*        top: 6px;*/
/*        left: 5px;*/
/*    }*/
/*    .responsive-th*/
/*    {*/
/*        height: 3.3vh;*/
/*    }*/
/*    .responsive-th1*/
/*    {*/
/*        height: 2vh;*/
/*    }*/

/*    .table-border*/
/*    {*/
/*        width: 83vw;*/
/*        border: 2px solid yellowgreen;*/
/*    }*/

/*    .strong-text{*/
/*        font-weight: bold;*/
/*    }*/
/*    .table-margin{*/
/*        !*margin-top: 2vh;*!*/
/*    }*/
/*    .date-work*/
/*    {*/
/*        padding-left: 20vh!important;*/
/*    }*/
/*    .span4*/
/*    {*/
/*        float:none!important;*/
/*        width: 39vh!important;*/
/*    }*/
/*    .form-horizontal .control-label {*/
/*        width: 91px;*/
/*    }*/
/*    .modal-responsive {*/
/*        padding: 0px;*/
/*    }*/
/*    .description-responsive{*/
/*        width: 83vw;*/
/*    }*/

/*    .text-to{*/
/*        display: block;*/
/*    }*/

/*    .select-responsive*/
/*    {*/
/*        width: 83vw;*/
/*    }*/
/*    .input-responsive*/
/*    {*/
/*        width: 80vw!important;*/
/*    }*/
/*    .control-label {*/
/*        float: none!important;*/
/*    }*/
/*    .modal-responsive{*/
/*        margin-left: 10vw;*/
/*    }*/
/*    .form-horizontal .control-label {*/
/*         text-align: left;*/
/*    }*/

/*    .div-btn-responsive*/
/*    {*/
/*        height: 5vw;*/
/*    }*/
/*    .btn-responsive*/
/*    {*/
/*        margin-top: 2vw;*/
/*    }*/
/*   */

/*}*/

</style>
<table class="table table-responsive">
    <thead>
        <th>Ngày đi làm</th>
        <th>Phép năm tính lương</th>
        <th>Ngày off</th>
          <th><span style="color: green">Bổ sung công Tháng trước</span>  
            <a href="javascript:void(0)" class="open-detail-last">
                <i class="icon-eye-open"></i>
            </a>
        </th>
        <th><span style="color: green">Đã chấp nhận</span></th>
        <th><span>Số lần quên chấm công</span></th>
        <th><span>Tổng thời gian đi trễ</span></th>
        <th><span style="color: green">Số ngày phạt</span></th>
    </thead>
    <tbody>
        <tr>
            <td class="strong-text" data-title="Ngày đi làm" id="td_work"></td>
            <td class="strong-text responsive-th" data-title="Phép năm tính lương" id="td_leave"></td>
            <td class="strong-text" data-title="Ngày off" id="td_off"></td>
            <td class="strong-text responsive-th" data-title="Bổ sung công Tháng trước" id="td_bs_last"><?php echo $this->total_day_last_month; ?></td>
            <td class="strong-text" data-title="Đã chấp nhận" id="td_appr_last"><?php echo $this->total_day_last_month_approve; ?></td>
            <td class="strong-text" data-title="Quên check in" >  
            <?php 
                echo !empty($this->forget_check_in) ? $this->forget_check_in : 0;
            ?>
            </td>
            <td class="strong-text responsive-th" data-title="Tổng thời gian đi trễ" ><?php echo $this->staff_late['thoi_gian']; ?></td>
            <td class="strong-text" data-title="Số ngày phạt" id="penalty_date"><?php
                $forget_check_in = ($this->forget_check_in > 2) ? $this->forget_check_in - 2 : 0;
                $late_less_3 = (My_Controller_Action::rule_penalti($this->total_late) <= 0.5) ? My_Controller_Action::rule_penalti($this->total_late) : 0;
                $late_over_3 = (My_Controller_Action::rule_penalti($this->total_late) > 0.5) ? My_Controller_Action::rule_penalti($this->total_late) : 0;
                $number_phat = $forget_check_in + $late_less_3 + $late_over_3;
                echo $number_phat;
                ?>
            </td>
        </tr>
    </tbody>
</table>
<table class='table table-responsive'>
        <thead>
            <th>Ngày</th>
            <th>Check in</th>
            <th>Check out</th>
            <th>Loại công</th>
            <th>Lý do</th>
            <th>Trạng thái</th>
            <th>Chi tiết</th>
            <th>Xóa</th>
        </thead>

<?php
    $en_to_vi = array(
        'Sun' => 'Chủ nhật',
        'Mon' => 'Thứ hai',
        'Tue' => 'Thứ ba',
        'Wed' => 'Thứ tư',
        'Thu' => 'Thứ năm',
        'Fri' => 'Thứ sáu',
        'Sat' => 'Thứ bảy',
    );
    $overtime = 0;
    $leave = 0;
    $off = 0;
    $staff_id = $this->auth;
    $work = 0;
    foreach ($this->data as $key => $value) {
    ?>
        <tr 
            <?php 

              if(!empty($value['check_in_at']) && empty($value['training_time']) && empty($value['leave_id']) && ($value['machine_time'] + $value['time_number_gps']  ==0 ) && ( $value['date'] != date("Y-m-d")) ){
                echo "style='background-color: #ffffcc'";
              }
              ?> 
            <?php echo (in_array(intval(date('d', strtotime($value['date']))), $this->array_le)?' class="red-tr" ':'' ); ?>>
            <td class="table-margin date-work responsive-th1" data-title="Ngày">
                <?php echo $en_to_vi[date('D', strtotime($value['date']))] . ', ' . date('d/m/Y', strtotime($value['date']));  ?>
                <?php echo (in_array(intval(date('d', strtotime($value['date']))), $this->array_le)?' (Lễ) ':'' ); ?>
            </td>
            <td class="responsive-th1" data-title="Check in">
                <?php $image_1 = "";
                if(!empty($value['check_in_at']) AND $value['check_in_at'] != '00:00:00') { echo date('H:i', strtotime($value['check_in_at'])); }
                if(!empty($value['image_1']))
                {
                    $image_1 = "<img class='img_toggle' v-width='crop' src='".HOST_S3."photo/pg-check-in/" . $value['image_1'] . "' style='width: 20px;' />";
                }
                echo $image_1;
                ?>
            </td>
            <td class="responsive-th1" data-title="Check out">
            <?php 
                $image_2 = "";
                if(!empty($value['check_out_at']) && $value['check_out_at'] != $value['check_in_at']) { echo date('H:i', strtotime($value['check_out_at'])); } 
                if(!empty($value['image_2']))
                {
                    $image_2 = "<img class='img_toggle' v-width='crop' src='".HOST_S3."photo/pg-check-in/" . $value['image_2'] . "' style='width: 20px;'  />";
                }
                echo $image_2;
            ?>
            </td>
        <td class="responsive-th1" data-title="Loại công">
        <?php
            if(!empty($value['training_time'])){ //Công training
                $work++;
                echo  " 1 training";
            }elseif (!empty($value['machine_time']) AND !empty($value['gps_time']) AND $value['gps_time'] > 0) { // Công máy
                $work ++;
                echo " 1 ngày công";
            }elseif (!empty($value['machine_time'])){ //Công máy
                $need_leave = 1;
                $is_half_by_day = 0;
                if($value['temp_shift'] == 2 ){
                    echo " 1 công gãy";
                    $need_leave = 0;
                    $work ++;
                }else{
                    switch ($value['machine_time']) {
                        case 1 :
                            echo "1 ngày công";
                            $work++;
                            $need_leave = 0;
                            break;
                        case 0.5 :
                            echo "0.5 ngày công";
                            $work += 0.5;
                            $is_half_by_day = 1;
                            break;
                        default :
                            echo "";
                    
                    }
                }
		if(!empty($value['leave_id']) and ($value['leave_id'] != 0) ){ //Công phép
                    if($need_leave == 1){
                        if(!empty($value['is_half_day'])){
                            echo " 0.5 phép";
                            $leave += 0.5;
                        }else{
                            if($is_half_by_day == 1){
                                echo " 0.5 phép";
                                $leave += 0.5;
                            }else{
                                echo "1 phép";
                                $leave++;
                            }
                        }
                    }
                }
                
            }elseif (!empty($value['gps_time']) and ($value['gps_time'] != 0)){ //Công gps
                $need_leave = 1;
                $is_half_by_day = 0;
                if($value['shift'] == 2){
                    echo " 1 công gãy";
                    $work++;
                    $need_leave = 0;
                }else{
                    if($value['time_number_gps'] == 0.5){
                            echo " 0.5 ngày công";
                            $work+=0.5;
                            $is_half_by_day == 1;
                    }else{
                        switch ($value['shift']) {
                            case 1 :
                                echo " 1 ca sáng";
                                $work++;
                                $need_leave = 0;
                                break;
                            case 2 :
                                echo " 1 công gãy";
                                $work++;
                                $need_leave = 0;
                                break;
                            case 3 :
                                echo " 1 ca chiều";
                                $work++;
                                $need_leave = 0;
                                break;
                            case 6 :
                                echo " 1 ngày công";
                                $work++;
                                $need_leave = 0;
                                break;
                            case 9 :
                                echo " 1 ngày công";
                                $work++;
                                break;
                            default :
                                echo "";
                        }
                    }

                }
				
		if(!empty($value['leave_id']) and ($value['leave_id'] != 0) ){ //Công phép
                    if($need_leave == 1){
                        if(!empty($value['is_half_day'])){
                            echo " 0.5 phép";
                            $leave += 0.5;
                        }else{
                            if($is_half_by_day == 0.5){
                                echo " 0.5 phép";
                                $leave += 0.5;
                            }else{
                                echo "1 phép";
                                $leave++;
                            }
                        }
                    }
				    
                }
                 
            }elseif (!empty($value['leave_id']) and ($value['leave_id'] != 0) ){ //Công phép
               
                if(!empty($value['is_half_day'])){
                    echo " 0.5 phép";
                    $leave += 0.5;
                }else{
                    echo "1 phép";
                    $leave++;
                }
            }else{
                if(strtotime($value['date']) <= strtotime(date('Y-m-d')))
                {
                    $off++;
                }
            }
               
        ?>
        </td>
        <td class="responsive-th1" data-title="Lý do">
        <?php
            if(!empty($value['leave_id']))
            {
                echo $value['leave_reason'];
            }
            elseif(!empty($value['temp_reason']))
            {
                echo $value['temp_reason'];
            }
            elseif(!empty($value['time_late_reason']))
            {
                echo $value['time_late_reason'];
            } elseif(!empty($value['time_gps_reason']))
            {
                echo $value['time_gps_reason'];
            }
            else
            {
                echo $value['reason'];
            }
        ?>
        </td>	
       
        <td class="responsive-th1" data-title="Trạng thái">
        <?php
            if(!empty($value['status'])){
                if(!empty($value['status_gps']) && $this->check_late == 1){
                    echo $value['status_gps'];
                }else{
                    echo $value['status'];
                }
 
            }
        ?>
        </td>
        <td class="responsive-th1" data-title="Chi tiết">
        	<?php 
        	if(!empty($value['training_time'] AND $value['training_time'] != 0)
        	    || !empty($value['machine_time'] AND $value['machine_time'] != 0)
        	    || !empty($value['gps_time'] AND $value['gps_time'] != 0)
        	    || !empty($value['leave_id'] AND $value['leave_id'] != 0)
        	    ){
        	        echo  '<span class="view_detail" v-date-late="' . $value['time_late_id'] . '"
                        v-data-temp="' . $value['temp_id'] . '"
                        v-data-leave="' . $value['leave_id'] . '"
                        v-data-date="' . $value['date'] . '" v-data-staff-id="' . $staff_id . '">Chi tiết</span>';
        	   }
        	?>
       	</td>
       	<td class="responsive-th1" data-title="Xóa">
       	<?php 
            $day = $value['date'];
       	    if(
                    (!empty($value['machine_time']) AND $value['machine_time'] != 0)
                    || !empty($value['gps_time'])
                    || (!empty($value['temp_reason'])  )
                    || (!empty($value['time_late_reason'])  )
                    || (!empty($value['leave_id']) AND $value['leave_id'] != 0)
               ) 
//                || !empty($value['need_request_late'] AND $value['need_request_late'] != 0)
       	        
                  
       	        {
       	            echo '<input class="checkbox_remove"
                    v-data-time="\''.$day.'\'" type="checkbox" >';
                }else{
                   
                }
       	?>
       	
       	</td>
       	<td>
       	<?php if (in_array($this->current_user->group_id, array(HR_ID, ADMINISTRATOR_ID)) 
			// || $this->current_user->title == 191
		){ ?>
            <div class="btn-group">
                    <a class="btn dropdown-toggle" data-toggle="dropdown" href="#">
                    Bổ sung <span class=""></span>
            </a>
                <ul class="dropdown-menu">
                    <?php   if (  in_array($this->current_user->id , array(5899,2584,8807,22716)) ) : ?>
                        <li><a  class="btn-create-del" href="#" v-date="<?php echo $value['date'];?>"  v-date-label="<?php echo date('d/m/Y', strtotime($value['date'])); ?>" class="note_label" title="Quick Edit" data-id=""> <i class="icon-remove"></i> Hr xóa công </a></li>
                    <?php endif ?>
                    <?php   if (intval($value['need_request']) == 1  &&  in_array($this->current_user->id , array(5899,2584,21,2128,16269,22716,8807, 25259)) 
						// || $this->current_user->title == 191 
					) : ?>
                            <?php if (!empty($this->locked_time) ) : ?>
                                <?php if ($this->current_user->title != 191)  : ?>
                                    <li><a  class="btn-create-temp-last" href="#" v-date="<?php echo $value['date'];?>"  v-date-label="<?php echo date('d/m/Y', strtotime($value['date'])); ?>" class="note_label" title="Quick Edit" data-id=""> <i class="icon-file"></i> Bù công Tháng <?php echo $this->params['month']; ?></a></li>
                               <?php endif ?>
                             <?php endif ?>
                                    <?php if ($this->current_user->title != 191)  : ?>
                                    <li><a  class="btn-create-temp" href="#" v-date="<?php echo $value['date'];?>"  v-date-label="<?php echo date('d/m/Y', strtotime($value['date'])); ?>" class="note_label" title="Quick Edit" data-id=""> <i class="icon-file"></i> Bổ sung công </a></li>
                                     <?php endif ?>
                            <li><a  class="btn-create_leave" href="#"> <i class="icon-list-alt"></i> Đăng ký phép</a></li>
                            <?php else: ?>
                    <?php endif ?>
                    <?php if (intval($value['need_request_late']) == 1
					// && $this->current_user->title != 191
					) : ?>
                            <?php
                            if(!empty($this->data_machine_check) &&  in_array($this->current_user->id , array(5899,2584,21,2128,16269,22716,8807, 25259)) )
                            {
                            ?>
                            <li><a  class="btn-create-late" href="#" v-date="<?php echo $value['date'] ?>"  v-date-label="<?php echo date('d/m/Y', strtotime($value['date'])); ?>" class="note_label" title="Quick Edit" data-id="<?php if(isset($staff['id']) && $staff['id']) echo $staff['id'] ?>"> <i class="icon-edit"></i> Xác nhận vào trễ/ về sớm </a></li>
                            <?php
                            }
                            ?>
                    <?php else: ?>
                    <?php endif ?>
                      
                </ul>
       		</div>
       	<?php 
            }
       	?>	
       	</td>
        </tr>
   <?php 
        
    }
    ?>
    </table>
    
<div id="office-modal-last" class="modal" role="dialog" style="max-height: 500px;"> <!-- modal office -->
  <div class="modal-dialog">
    <div class="modal-content">
      <form action="" method="post" class="form-horizontal">
        <div id="html_pending_last">
        </div>
      </form> <!-- end form -->
    </div>
  </div>
</div> <!-- end modal office -->
    
<div id="update_time_modal" class="modal" role="dialog">
    <div class="modal-dialog">
<!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h2 class="modal-title">Yêu cầu cập nhật công</h2>
            </div>
            <div class="modal-body">
                <form action="#" method="get" >
                    <div class="row"  style="margin:0">
                        <div class="span4">
                        <div class="form-group">
                            <label>Ngày yêu cầu:</label>
                            <label id="label-date-update"></label>
                            <input type="hidden" name="date-update" value="" id="date-update" >
                            <input type="hidden" name="staff_update" value="" id="staff_update" >
                        </div>
                        <?php //echo $this->title_staff;?>
                        <div class="form-group">
                            <label>Yêu cầu điều chỉnh:</label>
                            <?php
                            if(!empty($this->data_machine_check))
                            {
                                ?>
                                <select class="select-responsive" id="office_time" name="office_time">
                                    <option value="1">Một ngày</option>
                                    <option value="0.5">Nửa ngày</option>
                                </select>
                                <?php
                            }
                            else
                            {
                                ?>
                                <select class="select-responsive" id="shift" name="shift">
                                    <option value="6">Một ngày</option>
                                    <option value="9">Nửa ngày</option>
                                    <?php
                                    if(in_array($this->title_staff, array(293,182,419,420))){
                                        ?>
                                        <option value="2">Ca Gãy</option>
                                        <?php
                                    }
                                    ?>
                                </select>
                                <?php
                            }
                            ?>
                        </div>
                        <div class="form-group">
                            <label>Chọn lý do bổ sung:</label>
                            <select class="select-responsive" id="add_reason" name="add_reason" required>
                                <option value="">---</option>
                                <?php foreach($this->reason_temp_time as $key => $value){?>
                                    <option value="<?= $value['id']?>"><?= $value['name']?></option>
                                <?php }?>

                            </select>
                        </div>

                        <div class="form-group">
                            <label>Lý do: <b class="red-text">(*)</b></label>
                            <textarea class="input-responsive" required placeholder="" name="reason_late" rows="" cols="" id="reason"></textarea>
                        </div>
                        </div>
                        <div class="span4">
                            <h2>Mô tả chi tiết	</h2>
                            <table class="table table-border">
                                <tbody><tr>
                                <tr>
                                    <td><b>Thông tin</b>
                                        <p id="summary"></p>
                                    </td>
                                </tr>
                                </tbody></table>

                    </div>
            </div>
                        <a href="#" name="update-time" value="1" class="btn btn-success btn-update-time">Gửi yêu cầu</a>



                    
                </form>
            </div>
        </div>
    </div>
</div> <!-- end modal -->
<div id="update_time_modal_last_month" class="modal" role="dialog">
	<div class="modal-dialog">
            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                        <h2 class="modal-title">Yêu cầu cập nhật công tháng trước</h2>
                </div>
                <div class="modal-body">
		    <form action="" method="POST">
			<div class="form-group">
                            <label>Ngày yêu cầu:</label> <label id="label-date-update-last"></label>
                            <input type="hidden" name="date_last" value="" id="date-update-last">
			</div>
			<div class="form-group">
			    <label>Yêu cầu điều chỉnh:</label>
                            <select id="office_time_last" name="office_time_last">
                                <option value="6">Một ngày</option>
                                <option value="9">Nửa ngày</option>
                            </select>
                            <div class="form-group">
                                <label>Lý do:</label>
                                <textarea placeholder="Nếu đi công tác ngoài: Ghi rõ cơ quan liên hệ công tác ngoài" name="reason_last" rows="" cols="" id="reason_last"></textarea>
                            </div>
                            <a name="update-time-office-last-month" value="1" id="add_time_last_month" class="btn btn-success">Gửi yêu cầu</a>
			</div>
                    </form>
		</div>
	</div>
</div>
 </div> <!-- end modal -->   
<!-- end modal công cũ -->
    <div id="update_time_late" class="modal" role="dialog">
        <div class="modal-dialog">
            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h2 class="modal-title">Đi trễ về sớm</h2>
                </div>
                <div class="modal-body">
                    <form action="#" method="get" >
                        <div class="container">
                        <div class="span4">
                        <div class="form-group">
                            <label>Ngày yêu cầu:</label>
                            <label id="label-date-late"></label>
                            <input type="hidden" name="date_late" value="" id="date-late" >
                            <div class="controls">
                                <input id="date-late-from" type="text" onkeydown="return false;"
                                       class="date" name="late_from" value="" style="width: 83px;" required
                                       placeholder="Từ..." required>
                                <label style="display: inline-block">Đến</label>
                                <input id="date-late-to" type="text"
                                       onkeydown="return false;" class="date" name="late_to"
                                       style="width: 90px;" value="" required placeholder="Đến..."
                                       required>
                            </div>
                        </div>
                        <div class="form-group">
                            <label style="width: 100%">Chọn loại xác nhận: <b class="red-text">(*)</b></label>
                            <select id="type_reason_late" name="type_reason_late" required>
                                <option value="">---</option>
                                <option value="1">Đi trễ</option>
                                <option value="2">Về sớm</option>
                                <option value="3">Đi trễ và về sớm</option>
                            </select>
                        </div>
                        <div class="form-group">
                            <label id="text_time_late" style="width: 100%">Chọn lý do cần xác nhận: <b class="red-text">(*)</b></label>
                            <select id="add_reason_late" name="add_reason_late" required>
                                <option value="">---</option>
                            </select>
                        </div>
                        <div class="form-group">
                            <label style="width: 100%">Lý do chi tiết: <b class="red-text">(*)</b></label>
                            <textarea required placeholder="" name="reason_late" rows="" cols="" id="reason_late"></textarea>
                        </div>
                        <a id="update-late" name="update-late" value="1"
                           class="btn btn-success">Gửi yêu cầu</a>
                </div>
                        <div class="span4" style="float:left">
                <div id="time_late_detail">
                </div>
                        </div>
                        </div>


                </form>
            </div>
        </div>
    </div>
</div> <!-- end modal -->



<div id="create_leave" class="modal" role="dialog">
    <div class="modal-dialog">
        <!-- Modal content-->
        <div class="modal-content">
            <form action="#" method="get" class="form-horizontal" >
                <div class="modal-responsive">
                    <div class="modal-header">
                		<button type="button" class="close" data-dismiss="modal">&times;</button>
                		<h2 class="modal-title">Đăng ký phép</h2>
            		</div>
                    <div class="row" >
                    
                        <label for="date-leave-half" class="control-label">Loại nghỉ: </label>
                        <div class="">
                            <select class="select-responsive" name="is-leave-half" id="is-leave-half">
                                <option value="1">Nghỉ nguyên</option>
                                <option value="0.5">Nghỉ nửa ngày</option>
                            </select>
                        </div>
                    </div>

                    <div class="row leave-from-to">
                        <label  for="from" class="control-label control-label-from" style="">Từ: </label>
                        <div class="">
                            <input autocomplete="off" type="text" id="from" onkeydown="return false;" class="date input-responsive" name="from" value="" style="width: 83px;" required placeholder="Từ..." required>
                            <label for="" class="text-to">Đến: </label>
                            <input autocomplete="off" type="text" id="to" onkeydown="return false;" class="date input-responsive" name="to" style="width: 90px;" value="" required placeholder="Đến..." required>
                        </div>
                    </div>
                    
                    <div class="row leave-half" style="display: none;">
                        <label for="date-leave-half" class="control-label">Ngày nghỉ</label>
                        <div class="">
                            <input class="input-responsive" type="text" class="date"  onkeydown="return false;" name="date-leave-half" id="date-leave-half" placeholder="Ngày nghỉ..." >
                        </div>
                    </div>
                    
                    <div class="row">
                        <label for="parent" class="control-label">Nhóm loại phép: </label>
                        <div class="">
                            <select class="select-responsive" name="parent" id="parent">
                                <option value="">--- Loại phép ---</option>
                            <?php
                            foreach($this->parent_type as $key => $value)
                            {
                                ?>
                                <option value="<?php echo $value['id']; ?>" <?php echo ($this->data['parent']==$value['id'])?" selected ":""; ?> ><?php echo $value['note'] ?></option>
                                <?php
                            }
                            ?>
                            </select>
                        </div>
                    </div>
                    <div class="row">
                        <label for="leave-type"  class="control-label">Loại phép: </label>
                        <div class="">
                            <select class="select-responsive" name="leave-type" id="leave-type" required>
                                <option value="">--- Loại phép ---</option>
                                
                            </select>
                        </div>
                    </div>
                    
                    <div class="row">
                        <label for="reason" class="control-label">Lý do: </label>
                        <div class="">
                            <textarea class="input-responsive" rows="3" name="reason" id="reason_leave" required></textarea>
                        </div>
                    </div>
                    <div class="row" id="leave_due_date" style="display: none;">
                        <label class="control-label">Ngày dự sinh:</label>
                        <div class="controls">
                        <input class="input-responsive" name="due_date" value="" id="due_date" onkeydown="return false;">
                        </div>    
                    </div>
                    <div class="div-btn-responsive">
                        <a href="#"class="btn btn-success pull-right btn-responsive mr-5 mb-3" id="btn_create_leave" value="1" name="create_leave">Đăng ký</a>
                    </div>
                </div>
                <div class="description-responsive" style="padding-left: 20px; border-radius: 25px;margin: 20px;border: 2px solid yellowgreen;">
                    <h2>Mô tả chi tiết</h2>

                    <table  class="table">
                        <tr>
                            <td><b>Số ngày nghỉ tối đa một lần</b>
                                <p id="max_day_per_time"></p>
                            </td>
                        </tr>
                        <!--<tr>
                            <td><b>Số ngày nghỉ tối đa một năm</b>
                                <p id="max_day_per_year"></p>
                            </td>
                        </tr>-->
                        <tr>
                            <td><b>Thông tin phép</b>
                                <p id="summary"></p>
                            </td>
                        </tr>
                       
                    </table>
                </div>
                <div class="span4">
                    
                </div>
            </form>
        </div> <!-- end content -->
    </div>
<?php
    $dt1 = $this->from_date_month;
    $to_date_month =  date('Y-m-d', strtotime($this->to_date_month));
   
    $dt2 = (date('Y-m-d') > $to_date_month) ? $to_date_month : date('Y-m-d');
//    $dt2 = (date('Y-m-d') > $this->to_date_month) ? $this->to_date_month : date('Y-m-d');
    $total_date_count = date_diff(date_create($dt2),  date_create($dt1))->format('%a') + 1;
?>
    
<script src="<?php echo HOST;?>form-builder/assets/js/sweetalert.min.js"></script>  
    <script>
    $('#td_work').html(<?php echo $work  ?>);
    $('#td_leave').html(<?php echo $this->leave_by_month ?>);
    $('#td_off').html(<?php echo $total_date_count - ($work + $this->leave_by_month); ?>);
    $('.dropdown-toggle').click(function () {
    	$('.dropdown-menu').hide();
        $(this).siblings('.dropdown-menu').toggle();
    });
    
    $('.btn-create-del').click(function () {
        swal({
            title: "Bạn có muốn xóa",
            text: "Xóa hẳn Data chấm công",
            icon: "warning",
            buttons: true,
            dangerMode: true,
            }).then((willDelete) => {
                if (willDelete) {
                    var staff_update        = $('#staff_id_select').val();
                    var date                = $(this).attr('v-date');
                    console.log(staff_update);
                    console.log(date);
                    $.ajax({
                        type: 'get',
                        url: '/staff-time/hr-remove-time',
                        data:{
                            "date"              : date,
                            "staff_update"      : staff_update,
                            "hr_remove_time"    : 1
                        },
                        typeType: 'json',
                        cache: false,
                        success: function (data){
                            $('.dropdown-menu').hide();
                            var staff_update    = $('#staff_id_select').val();
                            var month_update    =  $('.p_month').val();
                            var year_update     =  $('.p_year').val();
                            getStaffView(staff_update,month_update,year_update);
                        }
                    });
                }
           });
    });
    
    $('.btn-create-temp').click(function () {
        $('#date-update').val($(this).attr('v-date'));
        $('#label-date-update').text($(this).attr('v-date-label'));
        $("#update_time_modal").modal();
        $('.dropdown-menu').hide();
    });
    
    $('.btn-create_leave').click(function () {
        $('#create_leave').modal();
        $('.dropdown-menu').hide();
    });
    
    
    $('.btn-create-temp-last').click(function () { 
        $('#date-update-last').val($(this).attr('v-date'));
        
        $('#label-date-update-last').text($(this).attr('v-date-label'));
        $("#update_time_modal_last_month").modal();
        $('.dropdown-menu').hide();
    });
    
    $('.btn-create-late').click(function () {
        $('#date-late').val($(this).attr('v-date'));
        var v_date = changeDateFormat($(this).attr('v-date'));
        console.log(v_date);
        $('#date-late').val($(this).attr('v-date'));
        $('#date-late-from').val(v_date);
        $('#date-late-to').val(v_date);
        
        $('#label-date-late').text($(this).attr('v-date-label'));
        $("#update_time_late").modal();
        $('.dropdown-menu').hide();
    });

    $( '#from' ).datepicker({ dateFormat: "dd/mm/yy" });
    $( '#date-late-from' ).datepicker({ dateFormat: "dd/mm/yy" });
    $( '#date-late-to' ).datepicker({ dateFormat: "dd/mm/yy" });
    $( '#to' ).datepicker({ dateFormat: "dd/mm/yy" });
    $( '#date-leave-half' ).datepicker({ dateFormat: "dd/mm/yy" });
    $( '#due_date' ).datepicker({ dateFormat: "dd/mm/yy" });
    $("#is-leave-half").change(function (){
        if($(this).val() == '0.5'){
            $(".leave-from-to").hide();
            $(".leave-half").show();
            $("#from").prop("required", false);
            $("#to").prop("required", false);
            $("#date-leave-half").prop("required", true);
        }
        else{
            $(".leave-from-to").show();
            $(".leave-half").hide();
            $("#from").prop("required", true);
            $("#to").prop("required", true);
            $("#date-leave-half").prop("required", false);
        }
    });

    $('#leave-type').change(function () {
        var leave_type_select = $("#leave-type option:selected").val();
        $.ajax({
            type: 'post',
            url: '/leave/ajax-load-detail-leave',
            data:
            {
                id: leave_type_select
            },
            typeType: 'json',
            cache: false,
            success: function (data)
            {
                var obj = JSON.parse(data);
                if(obj.max_day_per_time > 0)
                {
                    if(obj.id == 20){
                        $('#max_day_per_time').text('Phẫu thuật 7 ngày, còn lại 5 ngày.');
                    }else $('#max_day_per_time').text(obj.max_day_per_time);
                }else{
                    $('#max_day_per_time').text('Không giới hạn');
                }

                if(obj.max_day_per_year > 0){
                    $('#max_day_per_year').text(obj.max_day_per_year);
                }else{
                    $('#max_day_per_year').text('Không giới hạn');
                }
                if(obj.summary != null){
                    $('#summary').html(obj.summary);
                }else{
                    $('#summary').html('');
                }
                if(obj.need_images > 0){
                    $('#div_leave_image').show();
                    $('#need_images').text('Phải up hình');
                }else{
                    $('#div_leave_image').hide();
                    $('#need_images').text('Không bắt buộc up hình');
                }if(obj.id == 17){
                    $("#due_date").attr("required","required");
                	$('#leave_due_date').show();
                }else{
                    $("#due_date").removeAttr("required");
                	$('#leave_due_date').hide();
                }
            }
        });

    });
    $("#parent").change(function () {
        var parent_vl = $(this).val();
        $.ajax({
            type: 'post',
            url: '/leave/ajax-load-child-leave-type',
            data:
            {
                id: parent_vl
            },
            typeType: 'json',
            cache: false,
            success: function (data)
            {
                var obj = JSON.parse(data);
                $("#leave-type").empty();
                $.each(obj, function (index, value) 
                {
                    var html_option = '<option value="' + value.id + '"';
                    html_option += '<option data-max-day-per-time="' + value.max_day_per_time + '"';
                    html_option += '<option data-max-day-per-year="' + value.max_day_per_year + '"';
                    html_option += '>';
                    html_option += value.note;
                    html_option += '</option>';
                    $("#leave-type").append(html_option);
                });
                $('#leave-type').change();
            }
        });
    });
    
    $('#add_time_last_month').click(function () {
        var date                = $('#date-update-last').val();
        var reason              = $('#reason_last').val();
        var office_time_last 	= $('#office_time_last').val();
        var staff_update        = $('#staff_id_select').val();
        var month_update    =  $('.p_month').val();
        var year_update     =  $('.p_year').val();
        if(reason == '' ){
                    alert("Vui lòng nhập lý do");
            }else{
                    $.ajax({
                        type: 'get',
                        url: '/staff-time/add-time-last-month',
                        data:
                        {
                            "date" 		: date,
                            "shift_last"   : office_time_last,
                            "staff_update"  : staff_update,
                            "reason"	: reason,

                        },
                        typeType: 'json',
                        cache: false,
                        success: function (data)
                        {
                            var res = JSON.parse(data);
                            alert(res.message);
                            $('#update_time_modal').hide();
                            getStaffView(staff_update,month_update,year_update);
                        }
                    });
                }
    });
    
    $('.btn-update-time').click(function () {
        
        var date 			= $('#date-update').val();
        var office_time 	= $('#office_time').val();
        var staff_update    = $('#staff_id_select').val();
		var reason  		= $('#reason').val();
		var add_reason  	= $('#add_reason').val();
		var shift			= $('#shift').val();
		var month_update    =  $('.p_month').val();
		var year_update     =  $('.p_year').val();
		
        $.ajax({
            type: 'get',
            url: '/staff-time/add-staff-time',
            data:
            {
                "date" 			: date,
                "office_time"   : office_time,
                "staff_update"  : staff_update,
                "update-time"   : 1,
                "reason"		: reason,
                "add_reason"    : add_reason,
                "shift"			: shift
                 
            },
            typeType: 'json',
            cache: false,
            success: function (data)
            {
            	var res = JSON.parse(data);
            	alert(res.message);
            	$('#update_time_modal').hide();
            	getStaffView(staff_update,month_update,year_update);
            }
        });
                 
    });
	$('#btn_create_leave').click(function () {
		var is_leave_half   =  $('#is-leave-half').val();
		var from	    =  $('#from').val();
		var to		    =  $('#to').val();
		var leave_type	    =  $('#leave-type').val();
		var reason          =  $('#reason_leave').val();
		var staff_update    =  $('#staff_id_select').val();
		var date_leave_half = $('#date-leave-half').val();
		var month_update    =  $('.p_month').val();
		var year_update     =  $('.p_year').val();
        var due_date        =  $('#due_date').val();
		console.log(date_leave_half);
		 $.ajax({
	            type: 'get',
	            url: '/staff-time/add-staff-leave',
	            data:
	            {
	                "is-leave-half"   : is_leave_half,
	                "from"   		  : from,
	                "to"  			  : to,
	                "add-leave"       : 1,
	                "reason"		  : reason,
	                "leave-type"	  : leave_type,
	                "staff_update"	  : staff_update,
	                "date-leave-half" : date_leave_half,
                    "due_date"        : due_date 
	            },
	            typeType: 'json',
	            cache: false,
	            success: function (data)
	            {
	            	var res = JSON.parse(data);
	            	alert(res.message);
	            	$('#create_leave').hide();
	            	getStaffView(staff_update,month_update,year_update);
	            }
	        });
	});
    	
	$('#update-late').click(function () {
            
		var date_late       =  $('#date-late').val();
//                var v_date = changeDateFormat($(this).attr('v-date'));
		var reason	    =  $('#reason_late').val();
		var add_reason_late =  $('#add_reason_late').val();
		var staff_update    =  $('#staff_id_select').val();
		var month_update    =  $('.p_month').val();
		var year_update     =  $('.p_year').val();
                var late_from = $('#date-late-from').val(); 
                var late_to = $('#date-late-to').val();
        var add_reason_soon = $('#add_reason_soon').val();
        var reason_soon = $('#reason_soon').val();
		if(reason == ''){
			alert("Vui lòng nhập lý do");
			exit();
		}
		 $.ajax({
	            type: 'get',
	            url: '/staff-time/add-time-late',
	            data:
	            {
	                "date_late"     : date_late,
	                "reason_late"	: reason,
	                "add_reason_late"	: add_reason_late,
	                "staff_update"	: staff_update,
	                "update-late"   : 1,
                        "late_from": late_from,
                        "late_to": late_to,
                    add_reason_soon: add_reason_soon,
                    reason_soon: reason_soon
	            },
	            typeType: 'json',
	            cache: false,
	            success: function (data)
	            {
	            	var res = JSON.parse(data);
	            	alert(res.message);
	            	$('#update_time_late').hide();
	            	getStaffView(staff_update,month_update,year_update);
	            	
	            }
	        });
	});

	function getStaffView(staff_id,month,year){
        // var array_info_staff_time = JSON.parse(json_info);
        //$('#table_list_staff_time').empty();
        var staff_update    =  $('#staff_id_select').val();
//         $('#staff_id_select').val($(this).attr('staff_id'));
//         $('#staff_office_select').val($(this).attr('staff_office_select'));
//         $('#span_staff_name').text($(this).attr('staff_name'));
//         $('#span_staff_code').text($(this).attr('staff_code'));
        

        $.when(
            $.ajax({
            url: '/staff-time/view-staff-time',
            Type: 'POST',
            datatype: 'text',
            data:
            {
                staff_id: staff_update,
                month: month,
                year: year
            },
            cache: false,
            success: function (data)
            {
            	// $('#staff_day_modal').hide();
                  $('#table_list_staff_time').empty().append(data);
            }
        })).done(function () { //$('#staff_day_modal').modal(); 
            });
	}

	$('.open-detail-last').click(function () {
	    var month = $("#month").val();
	    var year = $("#year").val();  
	    
	    $.ajax({
	        url: '/staff-time/get-view-detail-last',
	        Type: 'POST',
	        datatype: 'text',
	        data:
	        {
	            month: $('.p_month').val(),
	            year: year,
	            staff_id : <?php echo $this->auth;?>
	        },
	        cache: false,
	        success: function (data)
	        {
	            $('#html_pending_last').empty().append(data);
	            $('#office-modal-last').modal();
	        }
	    });
	});
        
function changeDateFormat(inputDate){  // expects Y-m-d
    var splitDate = inputDate.split('-');
    if(splitDate.count == 0){
        return null;
    }

    var year = splitDate[0];
    var month = splitDate[1];
    var day = splitDate[2]; 

    return day  + '\/' + month + '\/' + year;
}
    $("#add_reason").change(function () {
        var reason_id = $(this).val();
        $.ajax({
            type: 'post',
            url: '/staff-time/get-reason-tmp-time',
            data:
                {
                    reason_id: reason_id
                },
            typeType: 'json',
            cache: false,
            success: function (data)
            {
                var obj = JSON.parse(data);
                console.log(obj);
                $("#reason").empty();
                $("#reason").attr("placeholder", obj.reason_detail);
                $("#summary").empty();
                $("#summary").append(obj.decription);


            }
        });
    });

    $("#type_reason_late").change(function () {
        var type_id = $(this).val();
        $.ajax({
            type: 'post',
            url: '/staff-time/get-reason-time-late-by-type',
            data:
                {
                    type_reason_id: type_id
                },
            typeType: 'json',
            cache: false,
            success: function (data)
            {
                var obj = JSON.parse(data);

                $("#add_reason_late").empty();
                $("#add_reason_late").append("<option value=''>---</option>");
                $.each(obj, function (index, value)
                {
                    $("#add_reason_late").append("<option value='"+value.id+"'>"+value.name+"</option>");
                });
                if(type_id==1||type_id==2) {
                    $("#time_late_detail").empty();
                    // $("#summary").append(obj.decription);
                    $(` <div class="span3">
                        <h2>Mô tả chi tiết\t</h2>
                        <table class="table">
                            <tbody><tr>
                            <tr>
                                <td><b>Thông tin</b>
                                    <p id="summary_late">Bổ sung đi trễ về sớm do đi làm trễ hoặc về sớm hơn so với thời gian quy định làm việc của Công ty.</p>
                                </td>
                            </tr>
                            </tbody></table>
                    </div>`).appendTo($('#time_late_detail'));
                }
                else{
                    $("#time_late_detail").empty();
                    $("#text_time_late").empty();
                    $("#text_time_late").append('Chọn lý do đi trễ:');
                    $(`  <div class="form-group">
                            <label>Chọn lý do về sớm: <b class="red-text">(*)</b></label>
                            <select id="add_reason_soon" name="add_reason_soon" required>
                                <option value="">---</option>
                            </select>
                        </div>
                        <div class="form-group">
                            <label>Lý do chi tiết: <b class="red-text">(*)</b></label>
                            <textarea required placeholder="" name="reason_soon" rows="" cols="" id="reason_soon"></textarea>
                        </div>`).appendTo($('#time_late_detail'));
                    $("#add_reason_soon").empty();
                    $("#add_reason_soon").append("<option value=''>---</option>");
                    $.each(obj, function (index, value)
                    {
                        $("#add_reason_soon").append("<option value='"+value.id+"'>"+value.name+"</option>");
                    });
                    $("#add_reason_soon").change(function () {
                        var id = $(this).val();
                        $.ajax({
                            type: 'post',
                            url: '/staff-time/get-reason-time-late-by-id',
                            data:
                                {
                                    id: id
                                },
                            typeType: 'json',
                            cache: false,
                            success: function (data)
                            {
                                var obj = JSON.parse(data);
                                $("#reason_soon").empty();
                                // $.each(obj, function (index, value)
                                // {
                                //     $("#add_reason_late").append("<option value='"+value.id+"'>"+value.name+"</option>");
                                // });
                                $("#reason_soon").attr("placeholder", obj.reason_detail);


                            }
                        });
                    });
                }



            }
        });
    });

    $("#add_reason_late").change(function () {
        var id = $(this).val();
        $.ajax({
            type: 'post',
            url: '/staff-time/get-reason-time-late-by-id',
            data:
                {
                    id: id
                },
            typeType: 'json',
            cache: false,
            success: function (data)
            {
                var obj = JSON.parse(data);
                $("#reason_late").empty();
                $("#reason_late").attr("placeholder", obj.reason_detail);


            }
        });
    });
    </script>
    