<div class="page-header">
	<h1 class="inline"><?php echo $this->store['name'];?></h1>
</div>

<form action="" method="POST">
    <button type="button" id="btn-create" class="btn btn-success">Tạo mới</button>
    <button type="submit" value="<?php echo $this->object_id ?>" class="btn btn-danger" name="lock"  onclick="return confirm('Xác nhận lock store này?');" >Khóa</button>
</form>

<form action="" method="POST">
<table class="table table-bordered">
    <thead>
        <th>Imei</th>
        <th>Category</th>
        <th>Number</th>
        <th>Status</th>
        <th>Action</th>
    </thead>
    <tbody>
    <?php
    foreach($this->data_imei as $key => $value)
    {
    ?>
        <tr>
            <td><?php echo $value['imei_sn'] ?></td>
            <td><?php echo $value['category'] ?></td>
            <td>1</td>
            <td></td>
            <td><?php echo (empty($value['lock'])?'Chưa khóa':'Đã khóa') ?></td>
            <td>
                <?php
                    if(empty($value['lock']))
                    {
                ?>
                    <button type="submit" onclick="return confirm('Xác nhận xóa Imei này?');" class="label label-xs label-success" name="del" value="<?php echo $value['imei_sn'] ?>">Delete</button>
                <?php
                    }
                    else
                    {

                    }
                ?>
            </td>
        </tr>
    <?php
    }
    ?>
    <?php
    foreach($this->data_good as $key => $value)
    {
    ?>
        <tr>
            <td></td>
            <td><?php echo $value['category'] ?></td>
            <td><?php echo $value['number'] ?></td>
            <td></td>
            <td><?php echo (($value['status'] == 1)?'Chưa khóa':'Đã khóa') ?></td>
            <td>
                <?php
                    if($value['status'] == 1)
                    {
                ?>
                    <button type="submit" onclick="return confirm('Xác nhận xóa Imei này?');" class="label label-xs label-success" name="del_id" value="<?php echo $value['id'] ?>">Delete</button>
                <?php
                    }
                    else
                    {

                    }
                ?>
            </td>
        </tr>
    <?php
    }
    ?>
    </tbody>
</table>
</form>

<div id="create-modal" class="modal fade" role="dialog"> <!-- modal none office -->
  <div class="modal-dialog">
    <div class="modal-content">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal">&times;</button>
            <h4 class="modal-title">Create</h4>
        </div>
        <div class="modal-body">
            <form method="post" target="" id="form_approve" action="">
                <div>
                    <div class="control-group" style="display: none">
                        <label for="name" class="span2"></label>
                        <input type="" name="object_id" id="object_id" value="<?php echo $this->object_id ?>">
                    </div>
                    <div class="control-group" >
                        <label for="name" class="span2">Category</label>
                        <select name="good_id">
                        <?php
                        foreach($this->category as $key => $value)
                        {
                        ?>
                            <option value="<?php echo $value['id'] ?>"><?php echo $value['name'] ?></option>
                        <?php
                        }
                        ?>
                        </select>
                    </div>
                    <div class="control-group" >
                        <label for="name" class="span2">Number</label>
                        <input type="number" name="number" id="number" required>
                    </div>
                    <div class="control-group">
                        <button type="submit" name="add" value="1" class="btn btn-success">Add</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
  </div>
</div> <!-- end modal none office -->


<script>
    $("#btn-create").click(function () 
    {
        $('#create-modal').modal();
    });
</script>


