
<script type="text/javascript" src="<?php echo HOST ?>js/bootstrap-multiselect.js"></script>
<link rel="stylesheet" href="<?php echo HOST ?>css/bootstrap-multiselect.css" type="text/css"/>

<div class="page-header">
    <h1 class="inline">List Store</h1>
</div>

<div class="accordion" id="accordion2">
    <div class="accordion-group">
        <div class="accordion-heading">
            <a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion2" href="#collapseTwo">
                Search
            </a>
        </div>
        <div id="collapseTwo" class="accordion-body collapse" style="height: 0px;">
            <div class="accordion-inner">
                <form action="" method="get" class="form-horizontal">
                    <div class="row">
                        <div class="span3">
                            <div class="control-group">
                                <label for="imei" class="" style="width: 100%">Imei</label>
                                <input type="text" name="imei" id="imei" value="<?php echo $this->params['imei'] ?>">
                            </div>
                            <div class="control-group">
                                <label for="code" class="">Warehouse ID</label>
                                <input type="text" name="warehouse_id" id="warehouse_id" value="<?php echo $this->params['warehouse_id'] ?>">
                            </div>
                            <div class="control-group">
                                <label for="area_id" class="span2">Area</label>
                                <select id="area_id" name="area_id[]" class="span3 multiselect" multiple="multiple">
                                    <?php
                                    if ($this->list_area) :
                                        foreach ($this->list_area as $key=>$area):
                                            ?>
                                            <option value="<?php echo $key; ?>" <?php if (isset($this->params['area_id']) and ( (is_array($this->params['area_id']) && in_array($key, $this->params['area_id']) || $key == $this->params['area_id']))): ?>selected<?php endif; ?>><?php echo $area; ?></option>
                                            <?php
                                        endforeach;
                                    endif;
                                    ?>
                                </select>
                            </div>
                        </div>

                        <div class="span3">
                            <div class="control-group">
                                <label for="bill_date_from" class="span2">Bill Date From</label>
                                <input type="text" name="bill_date_from" class="date" value="<?php echo $this->params['bill_date_from'] ?>">
                            </div>

                            <div class="control-group">
                                <label for="bill_date_to" class="span2">Bill Date To</label>
                                <input type="text" name="bill_date_to" class="date" value="<?php echo $this->params['bill_date_to'] ?>">
                            </div>
                        </div>

                        <div class="span3">
                            <div class="control-group">
                                <label for="created_at_from" class="span2">Created From</label>
                                <input type="text" name="created_at_from" class="date" value="<?php echo $this->params['created_at_from'] ?>">
                            </div>

                            <div class="control-group">
                                <label for="created_at_to" class="span2">Created To</label>
                                <input type="text" name="created_at_to" class='date' value="<?php echo $this->params['created_at_to'] ?>">
                            </div>
                             <div class="control-group">
                                <label for="good_id" class="span2">Product</label>
                                <select id="good_id" name="good_id[]" class="span3 multiselect" multiple="multiple">
                                    <?php
                                    if ($this->goods) :
                                        foreach ($this->goods as $key=>$good):
                                            ?>
                                            <option value="<?php echo $key; ?>" <?php if (isset($this->params['good_id']) and ( (is_array($this->params['good_id']) && in_array($key, $this->params['good_id']) || $key == $this->params['good_id']))): ?>selected<?php endif; ?>><?php echo $good; ?></option>
                                            <?php
                                        endforeach;
                                    endif;
                                    ?>
                                </select>
                            </div>
                        </div>
                            
                        <div class="span10">
                            <button type="submit" class="btn btn-success">Search</button>
                            <button type="submit" name="export" value="1" class="btn btn-warning">Export</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<form action="" method="POST">
    <table class="table table-bordered">
        <thead>
        <th>#</th>
        <th>Ref</th>
        <th>Model</th>
        <th>Imei</th>
        <th>Bill Number</th>
        <th>Bill Date</th>
        <th>Store Name</th>
        <th>Store Code</th>
        <th>Customer Name</th>
        <th>Customer Address</th>
        <th>Customer Phone</th>
        <th>Note</th>
        <th>Created At</th>
        </thead>
        <tbody>
            <?php
            foreach ($this->data as $key => $value) {
                $inc = $this->offset + $key + 1;
                ?>
                <tr>
                    <td><?php echo $inc; ?></td>
                    <td><?php echo $value['ref']; ?></td>
                    <td><?php echo $value['model']; ?></td>
                    <td><?php echo $value['imei']; ?></td>
                    <td><?php echo $value['bill_number']; ?></td>
                    <td><?php echo date('H:i d/m/Y', strtotime($value['bill_date'])); ?></td>
                    <td><?php echo $value['title']; ?></td>
                    <td><?php echo $value['store_code']; ?></td>
                    <td><?php echo $value['customer_name']; ?></td>
                    <td><?php echo $value['customer_address']; ?></td>
                    <td><?php echo $value['customer_phone']; ?></td>
                    <td><?php echo $value['note']; ?></td>
                    <td><?php echo date('H:i d/m/Y', strtotime($value['created_at'])); ?></td>

                </tr>
                <?php
            }
            ?>
        </tbody>
    </table>
    <div class="paging">
        <?php echo $this->paging($this->total, $this->limit, $this->offset, $this->url); ?>
    </div>

</form>

<script type="text/javascript" src="/js/jquery-ui-1.8.12.custom.min.js"></script>
<link rel="stylesheet" type="text/css" href="/css/jquery-ui-1.8.12.custom.css"/>

<script>
    $(function () {
        $(".date").datepicker();
    });
    
</script>
<script>
    options = {
            selectAllText: 'Select All',
            includeSelectAllOption: true,
            includeSelectAllIfMoreThan: 3,
            disableIfEmpty: true
        };
        
    $(document).ready(function () {
    
        multi();
    });

    function multi() {
        $('.multiselect').multiselect(options);
    }
</script>

