<div class="span3">
    <div class="control-group">
        <label for="department" class="span2">Department</label>
        <select name="department[]" id="department" class="span3 multiselect" >
            <?php foreach ($this->recursiveDeparmentTeamTitle as $item_id => $item):?>
                <option value="<?php echo $item_id;?>" <?php if (isset($this->params['department']) and ( (is_array($this->params['department']) && in_array($item_id, $this->params['department']) || $item_id==$this->params['department'])) ):?>selected<?php endif;?>><?php echo $item['name'];?></option>
            <?php endforeach;?>
        </select>
    </div>
    <div class="control-group">
        <label for="team" class="span2">Team</label>
        <select name="team[]" id="team" class="span3 multiselect" multiple="multiple">
            <?php if (isset($this->params['department']) and $this->params['department'] and is_array($this->params['department'])){
                foreach ($this->params['department'] as $dep){
                    if (isset($this->recursiveDeparmentTeamTitle[$dep]['children']) and $this->recursiveDeparmentTeamTitle[$dep]['children']) {
                        foreach ($this->recursiveDeparmentTeamTitle[$dep]['children'] as $item_id => $item){
                            ?>
                            <option value="<?php echo $item_id;?>" <?php if (isset($this->params['team']) and ( (is_array($this->params['team']) && in_array($item_id, $this->params['team']) || $item_id==$this->params['team'])) ):?>selected<?php endif;?>><?php echo $item['name'];?></option>
                            <?php
                        }
                    }
                }
            }
            ?>
        </select>
    </div>
    <div class="control-group">
        <label for="title" class="span2">Title</label>
        <select name="title[]" id="title" class="span3 multiselect" multiple="multiple">
            <?php if (
                isset($this->params['department']) and $this->params['department'] and is_array($this->params['department'])
                and isset($this->params['team']) and $this->params['team'] and is_array($this->params['team'])){
                foreach ($this->params['department'] as $dep){
                    if (isset($this->recursiveDeparmentTeamTitle[$dep]['children']) and $this->recursiveDeparmentTeamTitle[$dep]['children']) {
                        foreach ($this->recursiveDeparmentTeamTitle[$dep]['children'] as $team_id => $team){
                            if (isset($this->recursiveDeparmentTeamTitle[$dep]['children'][$team_id]['children']) and $this->recursiveDeparmentTeamTitle[$dep]['children'][$team_id]['children']) {
                                foreach ($this->recursiveDeparmentTeamTitle[$dep]['children'][$team_id]['children'] as $item_id => $item){
                                    ?>
                                    <option value="<?php echo $item_id;?>" <?php if (isset($this->params['title']) and ( (is_array($this->params['title']) && in_array($item_id, $this->params['title']) || $item_id==$this->params['title'])) ):?>selected<?php endif;?>><?php echo $item['name'];?></option>
                                    <?php
                                }
                            }
                        }
                    }
                }
            }
            ?>
        </select>
    </div>
</div>
<div class="span3">
    <div class="control-group">
                <label for="area_id" class="span2">Area</label>
                <select id="area_id" name="area_id[]" class="span3 multiselect" multiple="multiple">
                    <?php
                    if ($this->areas) :
                        foreach ($this->areas as $area):
                            ?>
                            <option value="<?php echo $area->id;?>" <?php if (isset($this->params['area_id']) and ( (is_array($this->params['area_id']) && in_array($area['id'], $this->params['area_id']) || $area['id']==$this->params['area_id'])) ):?>selected<?php endif;?>><?php echo $area->name;?></option>
                        <?php
                        endforeach;
                    endif;
                    ?>
                </select>
            </div>

            <div class="control-group">
                <label for="regional_market" class="span2">Province</label>
                <select id="regional_market" name="regional_market[]" class="span3 multiselect" multiple="multiple">
                    <?php
                    if ($this->regional_markets) :
                        foreach ($this->regional_markets as $regional_market):?>
                            <option value="<?php echo $regional_market->id;?>" <?php if (isset($this->params['regional_market']) and ( (is_array($this->params['regional_market']) && in_array($regional_market['id'], $this->params['regional_market']) || $regional_market['id']==$this->params['regional_market'])) ):?>selected<?php endif;?>><?php echo $regional_market->name;?></option>
                        <?php
                        endforeach;
                    endif;
                    ?>
                </select>
            </div>
</div>
<div class="span3">
   <div class="control-group">
    <label class="span1">From: </label>
    <select class="span1" id="select_group_four_s_month_from">
        <?php
        for($i = 1; $i <= 12;$i++)
        {
            ?>
            <option value="<?php echo $i; ?>" <?php echo ($this->month_from==$i)?' selected ':'' ?> ><?php echo $i; ?></option>
            <?php
        }
        ?>
    </select>
    <input  type="number" class="span1" id="select_group_four_s_year_from" value="<?php echo $this->year_to ?>" >
</div> 
<div class="control-group">
   <label class="span1">To: </label>
   <select id="select_group_four_s_month" class="span1">
    <?php
    for($i = 1; $i <= 12;$i++)
    {
        ?>
        <option value="<?php echo $i; ?>" <?php echo ($this->month_to==$i)?' selected ':'' ?> ><?php echo $i; ?></option>
        <?php
    }
    ?>
</select>
<input class="span1" type="number" id="select_group_four_s_year" value="<?php echo $this->year_to ?>" >
</div>
</div>
<button class="check_group_s_four" style="margin-left: 200px">Search</button>   

<script type="text/javascript">
    

    
   

</script>