<div id="modal_new_category" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="newCategoryLabel" aria-hidden="true">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
        <h3 id="newCategoryLabel">Add new category</h3>
    </div>
    <div class="modal-body">
        <div class="row-fluid">
            <div class="span6">
                <div class="control-group">
                    <label for="category_name">Name</label>
                    <input type="text" name="category_name" id="category_name" class="form-control">
                </div>
            </div>
            <div class="span6">
                <div class="control-group">
                    <label for="category_parent">Parent</label>
                    <select name="category_parent" id="category_parent" class="form-control">
                        <option value>---</option>
                        <?php if (isset($this->category_string_cache) && $this->category_string_cache): ?>
                            <?php foreach ($this->category_string_cache as $key => $value): ?>
                                <option value="<?php echo $key ?>"><?php 
                                        echo $value ?></option>
                            <?php endforeach ?>
                        <?php endif ?>
                    </select>
                </div>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <button class="btn btn-primary" type="button" id="save_category_btn">Save</button>
        <button class="btn" data-dismiss="modal" aria-hidden="true">Cancel</button>
    </div>
</div>