<div class="form-group">
    <label for="category" class="col-3">Category</label>
    <select name="category" id="category" class="form-control col-6">
        <option value>---</option>
        <?php if (isset($this->category_string_cache) && $this->category_string_cache): ?>
            <?php foreach ($this->category_string_cache as $key => $value): ?>
                <option value="<?php echo $key ?>"
                        <?php if (isset($this->notification['category_id']) && $this->notification['category_id'] == $key) echo "selected" ?>><?php 
                        echo $value ?></option>
            <?php endforeach ?>
        <?php endif ?>
    </select>
    <button class="btn btn-default btn-mini col-2 ml-1" id="add_category_btn" type="button"><i class="icon-plus"></i></button>
</div>