<style>
.btn-get-detail-policy
{
	cursor: pointer;
}
</style>
<link rel="stylesheet" type="text/css" href="/css/jquery-ui-1.8.12.custom.css">
<link rel="stylesheet" type="text/css" href="/css/jquery.ui.timepicker.css">
<script type="text/javascript" src="/js/jquery-ui-1.8.12.custom.min.js"></script>
<script type="text/javascript" src="/js/jquery.ui.timepicker.js"></script>
<div class="page-header">
	<h1>Tổng hợp theo nhân viên</h1>
</div>
<?php echo $this->render('kpi-report/menu.phtml') ?>

<div class="accordion" id="accordion2">
	<div class="accordion-group">
		<div class="accordion-heading">
			<a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion2" href="#collapseTwo">
				Search
			</a>
		</div>
		<div id="collapseTwo" class="accordion-body collapse">
			<div class="accordion-inner">
				<form class="form-search form-horizontal" method="get" action="">
                    <div class="control-group">
						<label class="control-label">From date</label>
						<div class="controls">
							<input type="text" class="date search-query" name="from_date" value="<?php echo !empty($this->pars['from_date']) ? date('d/m/Y', strtotime($this->pars['from_date'])) : null ?>">
						</div>
					</div>
					<div class="control-group">
						<label class="control-label">To date</label>
						<div class="controls">
							<input type="text" class="search-query date" name="to_date" value="<?php echo !empty($this->pars['to_date']) ? date('d/m/Y', strtotime($this->pars['to_date'])) : null ?>">
						</div>
					</div>
                    <div class="control-group">
						<label class="control-label">Name</label>
						<div class="controls">
							<input type="text" class="search-query" name="name" value="<?php echo !empty($this->pars['name']) ? $this->pars['name'] : null ?>">
						</div>
					</div>
                    <div class="control-group">
						<label class="control-label">Code</label>
						<div class="controls">
							<input type="text" class="search-query" name="code" value="<?php echo !empty($this->pars['code']) ? $this->pars['code'] : null ?>">
						</div>
					</div>
					<div class="control-group">
						<label class="control-label">Area</label>
						<div class="controls">
						<select id="area" name="area" class="search-query">
							<option value="">All</option>
							<?php
							if ($this->areas) :
								foreach ($this->areas as $area):
									?>
									<option value="<?php echo $area->id;?>" <?php echo ($area->id==$this->pars['area'])?'selected':'' ?> ><?php echo $area->name;?></option>
								<?php
								endforeach;
							endif;
							?>
						</select>
						</div>
					</div>
					<div class="control-group">
						<div class="controls">
							<button type="submit" class="btn btn-primary">Search</button>
							<a href="/kpi-report/kpi-setting-view" class="btn btn-warning">Reset</a>
							<button type="submit" class="btn btn-success" name="export" value="1">Export</button>
						</div>
					</div>
					<input type="hidden" value="<?php echo $this->from_date_ajax ?>" id="from_date_ajax" />
					<input type="hidden" value="<?php echo $this->to_date_ajax ?>" id="to_date_ajax" />
				</form>
			</div>
		</div>
	</div>
</div> <!-- end div search -->

<table class="table table-bordered">
    <thead>
        <tr>
            <th>Name</th>
            <th>Code</th>
			<th>Area</th>
            <th>KPI PG</th>
			<th>Sell out PG</th>
			<th>KPI Sale</th>
			<th>Sell out Sale</th>
			<th>KPI Store Leader</th>
			<th>Sell Store Leader</th>
			<th>KPI Sale Leade Brs</th>
			<th>Sell Sale Leade Brs</th>
			<th>Total</th>
        </tr>
    </thead>
	<?php
	foreach($this->data['data'] as $value)
	{
	?>
	<tr>
		<td><?php echo $value['staff_name']; ?></td>
		<td><?php echo $value['code']; ?></td>
		<td><?php echo $value['area']; ?></td>
		<td>
			<?php echo number_format($value['kpi_pg']); ?>
		</td>
		<td>
			<span class="badge"><?php echo $value['sell_out_pg'] ? $value['sell_out_pg'] : 0; ?></span>
		</td>
		<td><?php echo number_format($value['kpi_sale']); ?></td>
		<td>
			<span class="badge"><?php echo $value['sell_out_sale'] ? $value['sell_out_sale'] : 0; ?></span>
		</td>
		<td>
			<?php echo number_format($value['kpi_store_leader']); ?>
		</td>
		<td>
			<span class="badge"><?php echo $value['sell_out_store_leader'] ? $value['sell_out_store_leader'] : 0; ?></span>
		</td>
		<!-- <td class="btn-get-detail-policy" data-staff-id="<?php echo $value['staff_id']; ?>" data-table-name="report_kpi_pb_sale" >
			<span class="badge"><?php echo $value['sell_out_store_leader'] ? $value['sell_out_store_leader'] : 0; ?></span>
		</td> -->
		<td>
			<?php echo number_format($value['kpi_sales_brs']); ?>
		</td>
		<td>
			<span class="badge"><?php echo $value['sell_out_sales_brs'] ? $value['sell_out_sales_brs'] : 0; ?></span>
		</td>
		<td><?php echo number_format($value['kpi_pg']+$value['kpi_sale']+$value['kpi_store_leader']+$value['kpi_sales_brs']); ?></td>
	</tr>
	<?php
	}
	?>
</table>
<div class="page">
<?php echo $this->paging($this->total, $this->limit, $this->offset, $this->url);?>
</div>


<div id="detail_kpi_by_policy" class="modal fade" role="dialog">
  <div class="modal-dialog">

    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        KPI BY POLICY
      </div>
      <div class="modal-body" id="modal-body">
        <div id="table-kpi-by-policy">
		</div>
		<div>
		Total KPI: <span id="total_kpi"></span><br />
		Total Sell Out: <span id="total_sell_out"></span>
		</div>
      </div>
    </div>

  </div>
</div> <!-- end modal -->

<link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.3/css/select2.min.css">
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.3/js/select2.min.js"></script>
<script>
    $("#area").select2();
    $(".date").datepicker({dateFormat: "dd/mm/yy"});

	$(".btn-get-detail-policy").click(function () {
		$.ajax({
			type: 'post',
			url: '/kpi-report/ajax-detail-kpi-staff-by-policy',
			data: {
				table_name: $(this).attr('data-table-name'),
				staff_id: $(this).attr('data-staff-id'),
				from_date: $('#from_date_ajax').val(),
				to_date: $('#to_date_ajax').val(),
			},
			typeType: 'text',
            cache: false,
            success: function (data)
            {
                var obj = JSON.parse(data);
				$("#table-kpi-by-policy").empty();
                var html_table = "<table class='table table-bordered'><tr><td>Policy</td><td>Sell Out</td><td>KPI</td></tr>";
				var total_kpi = 0;
				var total_sell_out = 0;
				$.each(obj, function(index, value) {
					html_table += "<tr>";
					html_table += "<td>"+value.policy+"</td>";
					html_table += "<td>"+value.sell_out+"</td>";
					html_table += "<td>"+parseInt(value.kpi).formatMoney(0,',','.')+"</td>";
					html_table += "</tr>";

					total_kpi += parseInt(value.kpi);
					total_sell_out += parseInt(value.sell_out);
				});

				html_table += "</table>"; 
				$("#table-kpi-by-policy").append(html_table);
				$("#total_kpi").text(total_kpi.formatMoney(0,',','.'));
				$("#total_sell_out").text(total_sell_out);
				$("#detail_kpi_by_policy").modal();
            }
		});
	});

	Number.prototype.formatMoney = function(decPlaces, thouSeparator, decSeparator) {
		var n = this,
			decPlaces = isNaN(decPlaces = Math.abs(decPlaces)) ? 2 : decPlaces,
			decSeparator = decSeparator == undefined ? "." : decSeparator,
			thouSeparator = thouSeparator == undefined ? "," : thouSeparator,
			sign = n < 0 ? "-" : "",
			i = parseInt(n = Math.abs(+n || 0).toFixed(decPlaces)) + "",
			j = (j = i.length) > 3 ? j % 3 : 0;
		return sign + (j ? i.substr(0, j) + thouSeparator : "") + i.substr(j).replace(/(\d{3})(?=\d)/g, "$1" + thouSeparator) + (decPlaces ? decSeparator + Math.abs(n - i).toFixed(decPlaces).slice(2) : "");
	};
</script>