<link rel="stylesheet" type="text/css" href="/css/jquery-ui-1.8.12.custom.css">
<link rel="stylesheet" type="text/css" href="/css/jquery.ui.timepicker.css">
<script type="text/javascript" src="/js/jquery-ui-1.8.12.custom.min.js"></script>
<script type="text/javascript" src="/js/jquery.ui.timepicker.js"></script>
<div class="page-header">
	<h1>Xuất chi tiết kpi nhân viên theo sản phẩm</h1>
</div>
<?php echo $this->render('kpi-report/menu.phtml') ?>


<div class="accordion" id="accordion2">
	<div class="accordion-group">
		<div class="accordion-heading">
			<a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion2" href="#collapseTwo">
				Export
			</a>
		</div>
		<div id="collapseTwo" class="accordion-body collapse">
			<div class="accordion-inner">
				<form class="form-search form-horizontal" method="get" action="">
                    <div class="control-group">
						<label class="control-label">From date</label>
						<div class="controls">
							<input type="text" class="date search-query" name="from_date" value="<?php echo !empty($this->pars['from_date'])?$this->pars['from_date']:''; ?>">
						</div>
					</div>
					<div class="control-group">
						<label class="control-label">To date</label>
						<div class="controls">
							<input type="text" class="search-query date" name="to_date" value="<?php echo !empty($this->pars['to_date'])?$this->pars['to_date']:''; ?>">
						</div>
					</div>
					<div class="control-group">
						<label class="control-label">Code</label>
						<div class="controls">
							<input type="text" class="search-query" name="code" value="">
						</div>
					</div>
					<div class="control-group">
						<div class="controls">
							<button type="submit" class="btn btn-success" name="export" value="1">Export</button>
						</div>
					</div>
				</form>
			</div>
		</div>
	</div>
</div> <!-- end div search -->

<script>
    $(".date").datepicker({dateFormat: "dd/mm/yy"});
</script>
