<link rel="stylesheet" type="text/css" href="/css/jquery-ui-1.8.12.custom.css">
<link rel="stylesheet" type="text/css" href="/css/jquery.ui.timepicker.css">
<script type="text/javascript" src="/js/jquery-ui-1.8.12.custom.min.js"></script>
<script type="text/javascript" src="/js/jquery.ui.timepicker.js"></script>

<div class="page-header">
	<h1>Kpi By Policy</h1>
</div>

<?php echo $this->render('kpi-report/menu.phtml') ?>

<div class="accordion" id="accordion2">
	<div class="accordion-group">
		<div class="accordion-heading">
			<a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion2" href="#collapseTwo">
				Search
			</a>
		</div>
		<div id="collapseTwo" class="accordion-body collapse">
			<div class="accordion-inner">
				<form class="form-search form-horizontal" method="get" action="">
                    <div class="control-group">
						<label class="control-label">From date</label>
						<div class="controls">
							<input type="text" class="date search-query" name="from_date" value="<?php echo !empty($this->pars['from_date']) ? date('d/m/Y', strtotime($this->pars['from_date'])) : null ?>">
						</div>
					</div>
					<div class="control-group">
						<label class="control-label">To date</label>
						<div class="controls">
							<input type="text" class="search-query date" name="to_date" value="<?php echo !empty($this->pars['to_date']) ? date('d/m/Y', strtotime($this->pars['to_date'])) : null ?>">
						</div>
					</div>
                    <div class="control-group">
						<label class="control-label">Name</label>
						<div class="controls">
							<input type="text" class="search-query" name="name" value="<?php echo !empty($this->pars['name']) ? $this->pars['name'] : null ?>">
						</div>
					</div>
                    <div class="control-group">
						<label class="control-label">Code</label>
						<div class="controls">
							<input type="text" class="search-query" name="code" value="<?php echo !empty($this->pars['code']) ? $this->pars['code'] : null ?>">
						</div>
					</div>
					<div class="control-group">
						<label class="control-label">Area</label>
						<div class="controls">
						<select id="area" name="area" class="search-query">
							<option value="">All</option>
							<?php
							if ($this->areas) :
								foreach ($this->areas as $area):
									?>
									<option value="<?php echo $area->id;?>" <?php echo ($area->id==$this->pars['area'])?'selected':'' ?> ><?php echo $area->name;?></option>
								<?php
								endforeach;
							endif;
							?>
						</select>
						</div>
					</div>
					<div class="control-group">
						<label class="control-label">Title</label>
						<div class="controls">
						<select id="title" name="title" class="search-query">
							<option value="">All</option>
							<option value="pg" <?php echo $this->pars['title']=='pg'?'selected':''; ?> >PGPB</option>
							<option value="pb_sale" <?php echo $this->pars['title']=='pb_sale'?'selected':''; ?> >PB Sale</option>
							<option value="sale" <?php echo $this->pars['title']=='sale'?'selected':''; ?> >Sale</option>
						</select>
						</div>
					</div>
					<div class="control-group">
						<div class="controls">
							<button type="submit" class="btn btn-primary">Search</button>
							<a href="/kpi-report/kpi-setting-view" class="btn btn-warning">Reset</a>
							<button type="submit" class="btn btn-success" name="export" value="1">Export</button>
						</div>
					</div>
				</form>
			</div>
		</div>
	</div>
</div>

<table class="table table-bordered">
	<thead>
		<tr>
			<th>Name</th>
			<th>Code</th>
			<th>Area</th>
			<th>Title</th>
			<?php
			foreach($this->policy as $value)
			{
			?>
			<th><?php echo $value['title']; ?></th>
			<?php
			}
			?>
			<th>Total</th>
		</tr>
	</thead>
	<tbody>
	<?php
		foreach ($this->data as $key => $value) {
		?>
		<tr>
			<td><?php echo $value['staff_name'] ?></td>
			<td><?php echo $value['code'] ?></td>
			<td><?php echo $value['area_name'] ?></td>
			<td><?php echo $value['title'] ?></td>
			<?php
			$total = 0;
			foreach($this->policy as $value_policy)
			{
			?>
			<td>
			<?php
				if($value_policy['id'] == $value['policy_id'])
				{
					echo  $value['kpi'];
					$total+=$value['kpi'];
				}
			?>
			</td>
			<?php
			}
			?>
			<td><?php echo $total; ?></td>
		</tr>
		<?php
		}
	?>
	</tbody>
</table>

<div class="paging">
	<?php echo $this->paging($this->total, $this->limit, $this->offset, $this->url) ?>
</div>

<link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.3/css/select2.min.css">
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.3/js/select2.min.js"></script>
<script type="text/javascript">
	$("#area").select2();
	$(".date").datepicker({dateFormat: "dd/mm/yy"});

	$(".btn-open-detail").click(function () {
		var id = $(this).attr("data-tr");
		if($('#sub_tr_' + id).length == 0)
		{
			$('#sub_tr_' + id).remove();
			var html = '<tr id="sub_tr_'+id+'"><td colspan="9">';
			html+='<table class="table table-bordered"><thead><tr><th>Tên</th><th>Số lượng</th><th>Tổng số</th></tr></thead>'
			html+='</table></td></tr>';
			$("#tr_" + id).after(html);
			$(this).html('-');
		}
		else
		{
			$('#sub_tr_' + id).remove();
			$(this).html('+');
		}
	});
</script>