<div style="margin-bottom: 20px">
	<a href="/timing/kpi-review" class="btn btn-<?php echo empty($this->act) ? 'primary' : 'default' ?>">KPI Review</a>
	<a href="/kpi-report/kpi-setting-view" class="btn btn-<?php echo !empty($this->act) && $this->act == 'kpi-setting-view' ? 'primary' : 'default' ?>">Policy Overview</a>
	<a href="/kpi-report/group-by-policy" class="btn btn-<?php echo !empty($this->act) && $this->act == 'group-by-policy' ? 'primary' : 'default' ?>">Summary</a>
	<a href="/kpi-report/kpi-by-policy" class="btn btn-<?php echo !empty($this->act) && $this->act == 'kpi-by-policy' ? 'primary' : 'default' ?>">KPI By Policy</a>
	<a href="/kpi-report/by-staff" class="btn btn-<?php echo !empty($this->act) && $this->act == 'by-staff' ? 'primary' : 'default' ?>">KPI By Title</a>
	<a href="/kpi-report/store-by-staff" class="btn btn-<?php echo !empty($this->act) && $this->act == 'store-by-staff' ? 'primary' : 'default' ?>">Store Staff Log</a>
	<a href="/kpi-report/export-staff" class="btn btn-<?php echo !empty($this->act) && $this->act == 'export-staff' ? 'primary' : 'default' ?>">Export Staff</a>
	<a href="/kpi-report/export-asm" class="btn btn-<?php echo !empty($this->act) && $this->act == 'export-asm' ? 'primary' : 'default' ?>">Export ASM</a>
</div>