
<span class="block block-header margin-top-bottom-10">1. Nội dung thay đổi</span>
<dl class=" margin-top-bottom-10" style="">
	<dt class="square-before"> Địa điểm làm việc và chức danh chuyên môn:</dt>
	<dt class="margin-left-30">- <span class="color-blue"><?php echo $title ?></span> tại Khu vực Tỉnh/TP <span class="color-blue"> <?php echo $v['regional_market_name'] ?></span> ;</dt>
	<dt class="square-before"> Mức lương, thưởng doanh số hàng tháng :</dt>
	<dt class="margin-left-30">- Tổng tiền lương: <span class="color-blue salary-text"><?php echo in_array($v['parent_new_contract'], $hop_dong_chinh_thuc)?intval($v['bonus_salary']):intval($v['probation_salary']) ?> </span> đồng tháng, trong đó:</dt>
	<dd class="margin-left-60"> + Lương cơ bản : <span class="color-blue salary-text"> <?php echo in_array($v['parent_new_contract'], $hop_dong_chinh_thuc)?intval($v['base_salary']):intval($v['base_probation_salary']) ?> </span> đồng/tháng;</dd>
	<dd class="margin-left-60"> + Trợ cấp chi phí phục vụ công việc và các khoản trợ cấp khác (cơm, xăng xe, điện thoại) *(nếu có): <span class="color-blue"> <b><?php echo in_array($v['parent_new_contract'], $hop_dong_chinh_thuc)?$v['work_cost']:$v['sl_probation_work_cost'] ?> </span></b> đồng/tháng;</dd>
	<dt class="margin-left-60">(*Mức hỗ trợ có thể thay đổi tùy theo tình hình thực tế của Công ty;)</dt>
	<dt class="margin-left-30">- Thưởng doanh số: theo chính sách KPI tại từng thời điểm của công ty <?php echo !empty($v['kpi'])?('và <span class="color-blue">' . $v['kpi'] . '</span>'):(in_array($v['title'], array(SALES_TITLE))?'và chỉ tính phần thưởng theo mức KPI thực tế (nếu có)':''); ?></span>;</dt>
</dl>
<span class="block block-header">2. Thời gian thực hiện :</span> 
<span class="margin-left-30 display-block line-height-27 margin-top-bottom-10">
	Hiệu lực áp dụng từ ngày <span class="color-blue"><?php echo date('d', strtotime($v['contract_signed_at'])) ?></span> tháng <span class="color-blue"><?php echo date('m', strtotime($v['contract_signed_at'])) ?></span> năm <span class="color-blue"><?php echo date('Y', strtotime($v['contract_signed_at'])) ?></span> đến ngày <span class="color-blue"><?php echo date('d', strtotime($v['contract_expired_at'])) ?></span> tháng <span class="color-blue"><?php echo date('m', strtotime($v['contract_expired_at'])) ?></span> năm <span class="color-blue"><?php echo date('Y', strtotime($v['contract_expired_at'])) ?>.</span>
</span>
<span class="margin-left-40 display-block">
	Phụ lục này là một bộ phận của hợp đồng số <span class="color-blue"><?php echo $v['code'] ?>/<?php echo $code_type; ?></span>, được làm thành 02 bản có giá trị như nhau, mỗi bên giữ một bản là cơ sở để giải quyết khi có tranh chấp lao động.
</span>

