
<span class="block block-header">Điều 3: Nghĩa vụ và quyền lợi của người lao động</span>

<div class="counter-bold-reset">
<b class="counter-bold">Quyền lợi:</b>
<ol class="symbol_after">
	<li>Phương tiện đi lại làm việc: Tự túc</li>
	<li>Tổng lương đã bao gồm trợ cấp chi phí phục vụ công việc* (nếu có ): <span class="color-blue salary-text"><b><?php echo $v['probation_salary'] ?></b></span> đồng/tháng <i class="red">(1)</i>; </li>
	<li class="non-before">*Mức trợ cấp có thể thay đổi tùy theo tình hình thực tế của Công ty </li>
	<li>Thưởng doanh số: theo chính sách KPI tại từng thời điểm của công ty và <span class="color-blue"><?php echo $v['kpi_1'] ?></span> <i class="red">(2)</i></li>
	<li>Trong 02 tháng làm việc đầu tiên nếu Tổng thu nhập <i class="red">((1)+(2))</i> thấp hơn mức thu nhập tối thiểu tương đương <span class="color-blue"><?php echo $v['minimum_salary'] ?> </span> đồng/tháng thì Người lao động được trả bằng mức thu nhập tối thiểu.</li>
	<li>Ngoài các khoản Lương, hỗ trợ, thưởng cố định nêu trên, Người lao động có thể được trả thêm một số khoản phụ cấp, trợ cấp, các khoản hỗ trợ, thưởng đột xuất hoặc khoản bổ sung khác gắn với quá trình làm việc và kết quả thực hiện công việc của người lao động (nếu có) theo quy định của Công ty tại từng thời điểm</li>
	<li>Hình thức trả lương và thưởng (nếu có):  Chuyển khoản/tiền mặt</li>
	<li>Được trả các khoản trên vào ngày 10 Dương lịch hàng tháng</li>
	<li>Chế độ nâng lương:  Tùy theo thể hiện công việc của mỗi người và theo chính sách tại từng thời điểm của công ty</li>
	<li>Được trang bị bảo hộ lao động : Theo nhu cầu công việc</li>
	<li>Chế độ nghỉ ngơi (nghỉ hàng tuần, phép năm, lễ tết …): Theo quy định của Bộ luật Lao động</li>
	<li>Bảo hiểm xã hội, bảo hiểm y tế và bảo hiểm thất nghiệp và phép năm : Đã bao gồm trong lương</li>
	<li>Chế độ đào tạo: theo tình hình thực tế của công ty</li>
	<li>Chế độ phúc lợi khác: theo quy định tại từng thời điểm của Công ty</li>
	<li>Những thoả thuận khác: Không</li>
</ol>
<b class="counter-bold">Nghĩa vụ:</b>
<ol class="symbol_after">
	<li>Hoàn thành công việc theo Hợp đồng và tuân thủ theo sự bố trí, điều hành lao động theo nhu cầu sản xuất, kinh doanh của Công ty</li>
	<li>Đọc, hiểu và cam kết tuân thủ Thoả ước lao động tập thể, Nội quy lao động và các văn bản nội bộ khác của Công ty</li>
	<li>Không sử dụng tên, nhãn hiệu, biểu tượng và các tài sản khác của Công ty vào mục đích cá nhân hoặc các mục đích khác mà không được Công ty cho phép</li>
	<li>Không tiết lộ bí mật kinh doanh, bí mật công nghệ, các thông tin sản phẩm mới chưa được công bố chính thức và các thông tin bảo mật khác áp dụng cho từng vị trí công việc của Công ty, tiền lương, tiền thưởng của cá nhân (Sau đây gọi chung là “thông tin bảo mật”) cho bất kỳ một bên thứ ba nào khác. Bí mật kinh doanh, bí mật công nghệ và các thông tin bảo mật khác được quy định cụ thể trong nội quy lao động hoặc các văn bản nội bộ có liên quan khác của Công ty</li>
	<li>Có trách nhiệm thực hiện đúng các quy trình, quy định làm việc, nếu vi phạm sẽ bị kỷ luật lao động, trường hợp gây ra thiệt hại cho Công ty thì phải bồi thưởng thiệt hại theo quy định của pháp luật và của công ty tại từng thời điểm</li>
	<li>Bồi thường chi phí đào tạo nếu đơn phương chấm dứt hợp đồng, vi phạm thời gian làm việc theo cam kết khi kết thúc khóa đào tạo hoặc vi phạm khác dẫn đến hợp đồng lao động chấm dứt trước hạn</li>
	<li>Trường hợp cố ý hay vô ý tiết lộ các thông tin bảo mật hoặc làm mất, hư hỏng dụng cụ, thiết bị, tài sản hoặc gây tổn hại danh dự, uy tín của Công ty thì phải bồi thường thiệt hại theo quy định của pháp luật và quy định nội bộ của Công ty tại từng thời điểm. Trường hợp có hợp đồng giao nhận tài sản hoặc hợp đồng trách nhiệm thì phải bồi thường theo hợp đồng giao nhận tài sản hoặc hợp đồng trách nhiệm và theo quy định nội bộ của Công ty tại từng thời điểm</li>
	<li>Khi hợp đồng lao động chấm dứt, trong mọi trường hợp, phải hoàn trả và bàn giao lại cho Công ty toàn bộ hồ sơ, tài liệu liên quan đến công việc, các thông tin yêu cầu bảo mật cũng như đồ dung, trang thiết bị được Công ty cấp phát nhằm phục vụ cho mục đích thực hiện công việc trong quá trình làm việc tại Công ty
	</li>
</ol>
</div> <!-- end reset -->

<span class="block block-header">Điều 4: Nghĩa vụ và quyền hạn của người sử dụng lao động</span>

<div class="block counter-bold-reset">
<b class="counter-bold">Nghĩa vụ:</b>
<ol class="symbol_after">
	<li>Bảo đảm việc làm và thực hiện đầy đủ những điều đã cam kết trong hợp đồng lao động</li>
	<li>Thanh toán đầy đủ, đúng thời hạn các chế độ và quyền lợi cho người lao động theo hợp đồng lao động</li>
</ol>
<b class="counter-bold">Quyền hạn:</b>
<ol class="symbol_after">
	<li>Điều hành người lao động hoàn thành công việc theo hợp đồng (bố trí, điều chuyển, tạm ngừng việc ...)</li>
	<li>Tạm hoãn, chấm dứt hoặc <span class="color-blue">đơn phương chấm dứt hợp đồng lao động</span>, kỷ luật người lao động theo theo quy định của pháp luật, thoả ước lao động tập thể (nếu có) và nội quy lao động của doanh nghiệp</li>
</ol>
</div> <!-- end reset counter -->

			