<div class="page-header">
	<h1>Mass Upload Imei</h1>
</div>

<form action="/massupload/importimei" method="post" enctype="multipart/form-data">
	<div class="form-group">
		<input type="file" name="file" accept=".xls,.xlsx" required>
	</div>
	<div class="form-group">
		<button type="submit" class="btn btn-primary">Submit</button>
	</div>
</form>