<link rel="stylesheet" type="text/css" href="/css/bootstrap-datetimepicker.min.css">

<div class="page-header">
	<h1>Mass Upload Sell Out</h1>
</div>

<form action="/massupload/process" method="post" enctype="multipart/form-data">
	<div class="form-group">
		<input type="file" name="file" accept=".xls,.xlsx" required>
	</div>
	<div class="form-group">
		<input type="text" class="date" name="month" placeholder="Month..." required>
	</div>
	<div class="form-group radio">
		<label><input type="radio" name="type" value="1" checked> TGDĐ</label>
		<label><input type="radio" name="type" value="2"> VTA</label>
	</div>
	<div class="form-group">
		<button type="submit" class="btn btn-primary">Submit</button>
	</div>
</form>

<script language="javascript" type="text/javascript" src="/js/bootstrap-datetimepicker.min.js"></script>
<script type="text/javascript">
	$(document).ready(function(){
		$('.date').datetimepicker({
			clear: true,
			minView: 'year',
			startView: 'year',
			autoclose: true,
			format: 'mm/yyyy',
			initialDate: new Date()
		});
	});
</script>