
<style>
    .go_set_prd{color:red;font-weight: bold;text-decoration: underline}
</style>

<div class="page-header" style="margin-top: 0px;">
    <a href="/appraisal-office" class="" style="line-height: 25px;color: red;line-height: 40px;">
	<i class="icon-chevron-left"></i> <?php echo $this->translate_adapter->translate('back_button',$this->current_lang);?>
    </a>
    <h1><?php echo $this->translate_adapter->translate('ao_title_page_pre_star_prd',$this->current_lang);?></h1>
</div>
<?php
if (isset($this->messages) and $this->messages)
    foreach ($this->messages as $message):
        echo '<div class="alert alert-success">'.$message.'</div>';
    endforeach;

if (isset($this->messages_error) and $this->messages_error)
    foreach ($this->messages_error as $messages_error):
        echo '<div class="alert alert-danger">'.$messages_error.'</div>';
    endforeach;
?>

<div class="container">
	
    <div class="row">

      <div class="span12">      		

              <div class="widget ">

                    <div class="widget-content">
                        <form id="edit-profile" class="form-horizontal">
                            <fieldset>

                                <div class="control-group">											
                                        <label class="span2" for="plan_id"><?php echo $this->translate_adapter->translate('ao_plan_id',$this->current_lang);?></label>
                                        <div class="controls">
                                            <select id='plan_id'>
                                                <option value=''>-- Select --</option>
                                                <?php foreach($this->list_plan as $key=>$value):?>
                                                <option value='<?php echo $value['aop_id'];?>' 
                                                        data-aop-status='<?php echo $this->list_plan_staff[$value['aop_id']]['aop_status'];?>'
                                                        data-aom-id='<?php echo $this->list_plan_staff[$value['aop_id']]['aom_id'];?>'
                                                        data-plan-id='<?php echo $this->list_plan_staff[$value['aop_id']]['aop_id'];?>'
                                                        data-staff-id='<?php echo $this->list_plan_staff[$value['aop_id']]['aom_staff_id'];?>'
                                                        data-staff-approved='<?php echo $this->list_plan_staff[$value['aop_id']]['aom_staff_approved'];?>'
                                                        data-head-approved='<?php echo $this->list_plan_staff[$value['aop_id']]['aom_head_approved'];?>'
                                                ><?= ($this->current_lang == "vi" ) ? $value['aop_name']:$value['aop_name_eng'];?></option>
                                                <?php endforeach;?>
                                            </select>
                                        </div> <!-- /controls -->			
                                </div> <!-- /control-group -->

                                <div class="alert alert-info div_set_prd">
                                    <strong><?php echo $this->translate_adapter->translate('ao_status_1',$this->current_lang);?></strong> <b class='status_prd'></b><a class='go_set_prd'></a>
                                </div>

                            </fieldset>
                        </form>
                    </div>
              </div> <!-- /widget -->

          </div> <!-- /span8 -->




    </div> <!-- /row -->

  </div>
    
    
    
</div>



<!-- new layout use jquery-ui-1.12 -->
<script type="text/javascript" src="/js/jquery-ui-1.8.12.custom.min.js"></script>
<script src="/js/plotly-latest.min.js"></script>

<style>
    .modebar-container{display: none}
    .chart_staff{display: block;float:left}
</style>

<script>
    $( document ).ready(function() {
        
        init();
        
        $( "#plan_id" ).change(function() {
            var aop_status = $(this).find(':selected').attr('data-aop-status');
            var plan_id = $(this).find(':selected').attr('data-plan-id');
            var staff_id = $(this).find(':selected').attr('data-staff-id');
            var aom_id = $(this).find(':selected').attr('data-aom-id');
            var staff_approved = $(this).find(':selected').attr('data-staff-approved');
            var head_approved = $(this).find(':selected').attr('data-head-approved');
            
            updateAction(aop_status, plan_id, staff_id, aom_id, staff_approved, head_approved);
        });
        
    });
    
    
    function init(){
        $('.div_set_prd').hide();
        
        var aop_status = $( "#plan_id" ).find(':selected').attr('data-aop-status');
        var plan_id = $( "#plan_id" ).find(':selected').attr('data-plan-id');
        var staff_id = $( "#plan_id" ).find(':selected').attr('data-staff-id');
        var aom_id = $( "#plan_id" ).find(':selected').attr('data-aom-id');
        var staff_approved = $( "#plan_id" ).find(':selected').attr('data-staff-approved');
        var head_approved = $( "#plan_id" ).find(':selected').attr('data-head-approved');
        
        updateAction(aop_status, plan_id, staff_id, aom_id, staff_approved, head_approved);
    }
    
    function updateAction(aop_status, plan_id, staff_id, aom_id, staff_approved, head_approved){
        
        console.log(aom_id);
        
        if (typeof aom_id === "undefined") {
            $('.div_set_prd').hide();
        }
        else{
            $('.div_set_prd').show();

            if(aom_id == ''){
                 var $status_prd='<?= ($this->current_lang == "vi" ) ? "Không có đánh giá. ":"Pending ";?>';
                $('.status_prd').html($status_prd);
                $('.go_set_prd').html("");
                $('.go_set_prd').removeAttr("href");
            }
            else{
                
                if(head_approved == 0){
                    var $status_prd='<?= ($this->current_lang == "vi" ) ? "Trưởng bộ phận chưa duyệt ":"Waiting for Manager ";?>';
                    var $go_set_prd='<?= ($this->current_lang == "vi" ) ? " Vào đánh giá":" Detail";?>';
                    $('.status_prd').html($status_prd);
                    $('.go_set_prd').html($go_set_prd);
                    //$('.go_set_prd').attr("href","/appraisal-office/set-prd?plan_id="+plan_id);
                    $('.go_set_prd').attr("href","/appraisal-office/star-prd?plan_id="+plan_id);
                }
                else if(staff_approved == 1){
                    //$('.status_prd').html("Đã đánh giá ");
                    //$('.go_set_prd').html("Xem chi tiết");
                    //$('.go_set_prd').attr("href","/appraisal-office/set-prd?plan_id="+plan_id);
                    //$('.go_set_prd').attr("href","/appraisal-office/view-prd-details-staff?staff_id="+staff_id+"&plan_id="+plan_id+"&view_star=1");
                    var $status_prd='<?= ($this->current_lang == "vi" ) ? "Đã tự đánh giá ":"Done ";?>';
                    var $go_set_prd='<?= ($this->current_lang == "vi" ) ? " Vào đánh giá":" Detail";?>';
                    $('.status_prd').html($status_prd);
                    $('.go_set_prd').html($go_set_prd);
                    //$('.go_set_prd').attr("href","/appraisal-office/set-prd?plan_id="+plan_id);
                    $('.go_set_prd').attr("href","/appraisal-office/star-prd?plan_id="+plan_id);
                    
                }
                else if(staff_approved == 0){
                    var $status_prd='<?= ($this->current_lang == "vi" ) ? "Chưa tự đánh giá":"You have not set appraisal ";?>';
                    var $go_set_prd='<?= ($this->current_lang == "vi" ) ? " Vào đánh giá":" Detail";?>';
                    $('.status_prd').html($status_prd);
                    $('.go_set_prd').html($go_set_prd);
                    //$('.go_set_prd').attr("href","/appraisal-office/set-prd?plan_id="+plan_id);
                    $('.go_set_prd').attr("href","/appraisal-office/star-prd?plan_id="+plan_id);
                }


            }

        }
    }
    
</script>