
<style>
    #trellis td {width: 270px;height: 300px;}
    #trellis td.first {width: 350px;}
    .highcharts-title{font-size: 16px !important;}
</style>
<script src="/js/highcharts_code.js"></script>

<div ng-app="app" ng-controller="appController">
    
    <div class="page-header">
        <h1>Kết quả đánh giá <span class="text-red"><?php echo $this->office_plan['aop_name'];?></span></h1>
    </div>
    <div class="container">
        
        <div class="widget" id="">
            <div class="widget-header">
                <i class="icon-list-alt"></i>
                <h3>Tổng hợp kết quả</h3>
            </div>
            <div class="widget-content">
                <div class="widget big-stats-container">
                    <div class="row-fluid">
                        <table id="trellis">
                            <tr>
                                <td class="first"></td>
                                <td></td>
                                <td></td>
                                <td></td>
                            </tr>
                        </table>

                    </div>
                </div>
            </div>
        </div>
        
        <!--
        <div class="widget" id="">
            <div class="widget-header">
                <i class="icon-list-alt"></i>
                <h3 style="color:red">Kỹ năng giao tiếp - Level 3</h3>
            </div>
            <div class="widget-content">
                <div class="widget big-stats-container">
                    <div class="row-fluid">
                        <table class="table table-bordered">
                            <thead>
                                <tr>
                                    <th>Người đánh giá</th>
                                    <th>Chức danh</th>
                                    <th>Phòng ban</th>
                                </tr>
                            </thead>
                                <tr>
                                    <td>LÊ THỊ YẾN HẰNG</td>
                                    <td>MEDIA EXECUTIVE</td>
                                    <td>MEDIA EXECUTIVE</td>
                                </tr>
                            <tbody>
                            </tbody>     
                        </table>
                        
                    </div>
                </div>
            </div>
        </div>
        -->
        
        

        
    </div>
    
</div>



<script>
    var charts = [],
    $containers = $('#trellis td'),
    datasets = [

        <?php foreach($this->name as $key=>$value):?>
        {
        name: '<?php echo $value;?>',
        height: 700,
        data: [
            <?php for($i=1;$i <= 5 ;$i++):?>
            <?php echo !empty($this->data[$key][$i]) ? $this->data[$key][$i] : 0;?>,
            <?php endfor;?>
        ]},
        <?php endforeach;?>
        ];


$.each(datasets, function(i, dataset) {
    charts.push(new Highcharts.Chart({

        chart: {
            renderTo: $containers[i],
            type: 'bar',
            marginLeft: i === 0 ? 100 : 10,
            spacingTop: 70,
            spacingLeft: 0,
        },

        title: {
            text: dataset.name,
            floating:true,
            align: 'left',
            x: i === 0 ? 90 : 0,
            y:-50
        },

        credits: {
            enabled: false
        },

        xAxis: {
            categories: ['Level 1', 'Level 2', 'Level 3', 'Level 4', 'Level 5'],
            labels: {
                enabled: i === 0
            }
        },

        yAxis: {
            allowDecimals: false,
            title: {
                text: null
            },
            min: 0,
            max: 50
        },


        legend: {
            enabled: false
        },
        
        plotOptions: {
            bar: {
                dataLabels: {
                    enabled: true
                }
            },
            series: {
                cursor: 'pointer',
                point: {
                    events: {
                        click: function (t1, t2) {
                            listStaffDetails(t1.point.category, t1.point.series.name);
                        }
                    }
                }
            }
        },

        series: [dataset]

    }));
    
    
    function listStaffDetails(category, skill){
        
        var category = category;
        var  skill = skill;
        alert(category+'/'+skill);
        $.ajax({
            url: '/internal/list-staff-details',
            data: {
                category: category,
                skill: skill
            },
            type: 'GET',
            dataType: 'json',
            success: function (data) {
                console.log(data);
            },
            error: function () {
                alert('Something went wrong. Please try again!');
            }
        });
    }
    
});
</script> 
 