<style>
    i[class^='icon-'] {
        font-size: 15px;
        margin-right: 5px;
    }

    .info {
        white-space: pre-wrap;
        max-width: 250px;
        min-width: 100px;
        display: inline-block;
    }

    a[class='icon']:hover {
        text-decoration: unset;
    }

    input, textarea {
        width: 92%;
    }

    select {
        width: 100%;
        min-width: 100px;
    }

    textarea {
        box-sizing: border-box;
        height: auto;
    }

    .modal.large {
        width: 82%;
        margin-left: -41%;
        top: 41%;
    }

    .modal-body {
        max-height: 500px;
    }

    .search-label {
        margin-top: 4px;
        margin-left: 0;
    }
    
    #loading-image{
        display: block;
        width: 100%;
        height: 100%;
        position: absolute;
        background: url(/img/lg.-text-entering-comment-loader.gif) no-repeat top #FFF;
    }
    
</style>
<div ng-app="app" ng-controller="appController" class="row-fluid">
    <div class="page-header">
        <h1>PRD - <?php echo $this->plan['aop_name'];?>
        </h1>
        <legend>NGƯỜI ĐÁNH GIÁ: <?php echo $this->staff['firstname'].' '.$this->staff['lastname'];?><small>  </small></legend>
    </div>
    
    
    <!--
    <div class="accordion" id="accordion2">
        <div class="accordion-group">
            <div class="accordion-heading">
                <a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion2" href="#collapseTwo">
                    Search
                </a>
            </div>
            <div id="collapseTwo" class="accordion-body in" style="height: auto;">
                <div class="accordion-inner">
                    <div class="row-fluid">
                        <div class="span12" style="text-align: center">
                            <label for="plan_id">Kế hoạch đánh giá:</label>
                            <select name="plan_id" id="plan_id" ng-model="data.plan_id" ng-change="action.loadStaff(data.plan_id)" style="text-align-last: center; width: auto;">
                                <option ng-repeat="plan in data.plans" ng-value="plan.aop_id" ng-bind="plan.aop_name"></option>
                            </select>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    -->
    
    
    <div class="container-fluid" style="position: relative;min-height: 300px">
        <div id="loading-image"></div>
        
        
        <div ng-repeat="staff in data.staffs" ng-init="currentStaff = $index">
            <div class="row-fluid">
                <span class="span11" style="font-weight: bold;">
                    <span ng-bind="$index + 1 + '. '"></span>
                    <span ng-bind="staff.firstname + ' ' + staff.lastname + ':'"></span>
                </span>
                <span class="span1" style="text-align: center;">
                    <a class="icon" title="Add field" style="cursor: pointer" ng-if="(!staff.member || staff.member.aom_head_approved == 0)" ng-click="action.addField(staff)">
                        <!--<i class="add-off icon-plus"></i>-->
                    </a>
                </span>
            </div>
            <div class="row-fluid">
                <div class="table-responsive">
                    <table class="table table-bordered">
                        <thead>
                        <tr>
                            <th>Lĩnh Vực</th>
                            <th>Tiêu Chuẩn</th>
                            <th>Nhiệm Vụ</th>
                            <th>Kỹ Năng</th>
                            <th>Tỷ trọng (%)</th>
                            <th>Tự Đánh Giá</th>
                            <th>TBP Đánh Giá</th>
                            <th>Đánh Giá Chéo</th>
                            <th>Action</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr ng-repeat-start="field in data.staffs[currentStaff].fields"
                            ng-init="currentField = $index; member=data.staffs[currentStaff].member">
                            <td rowspan="{{field.tasks.length + !field.tasks.length}}">
                                <span ng-bind="field.aof_name" ng-if="field.status === 'view'"
                                      class="info"></span>
                                <input type="text" ng-if="field.status === 'edit'" ng-model="field.aof_name">

                                <div ng-if="field.status === 'view' && (!member || member.aom_head_approved == 0)" style="float: right">
                                    <a class="icon" title="Chỉnh sửa lĩnh vực" style="cursor: pointer;" ng-click="action.editField(field)">
                                        <i class="decrease-off icon-pencil"></i>
                                    </a>
                                    <a class="icon" title="Xóa lĩnh vực" style="cursor: pointer; color: red; margin-left: 10px;" ng-click="action.removeField(data.staffs[currentStaff].fields, $index)">
                                        <i class="decrease-off icon-minus"></i>
                                    </a>
                                </div>
                                <div ng-if="field.status !== 'view' && (!member || member.aom_head_approved == 0)" style="float: right">
                                    <a class="icon" title="Lưu lĩnh vực" style="cursor: pointer;" ng-click="action.saveField(staff, field)">
                                        <i class="icon-save"></i>
                                    </a>
                                    <a class="icon" title="Xóa lĩnh vực" style="cursor: pointer; color: red; margin-left: 10px;" ng-click="action.removeField(data.staffs[currentStaff].fields, $index)">
                                        <i class="icon-minus"></i>
                                    </a>
                                </div>
                                <br>
                                <br>
                                <a ng-if="field.saved === true && (!member || member.aom_head_approved == 0)" ng-click="action.addTask(field)" class="icon" title="Thêm công việc" style="cursor: pointer; float: right; bottom: 0;">
                                    <i class="icon-arrow-right"></i>
                                </a>
                            </td>
                            <td ng-if="field.tasks.length > 0">
                                <span ng-if="field.tasks[0].status !== 'edit'" ng-bind="field.tasks[0].aot_target" class="info"></span>
                                <textarea ng-if="field.tasks[0].status === 'edit'" ng-model="field.tasks[0].aot_target" data-autoresize placeholder="Tiêu chuẩn..."></textarea>
                            </td>
                            <td ng-if="field.tasks.length > 0">
                                <span ng-if="field.tasks[0].status !== 'edit'" ng-bind="field.tasks[0].aot_task" class="info"></span>
                                <textarea ng-if="field.tasks[0].status === 'edit'" ng-model="field.tasks[0].aot_task" placeholder="Nhiệm vụ..."></textarea>
                            </td>
                            <td ng-if="field.tasks.length > 0">
                                <span ng-if="field.tasks[0].status !== 'edit'" ng-bind="field.tasks[0].aot_skill" class="info"></span>
                                <textarea ng-if="field.tasks[0].status === 'edit'" ng-model="field.tasks[0].aot_skill" placeholder="Kỹ năng..."></textarea>
                            </td>
                            <td ng-if="field.tasks.length > 0" style="text-align: center;">
                                <span ng-if="field.tasks[0].status !== 'edit'" ng-bind="field.tasks[0].aot_ratio + '%'"></span>
                                <input ng-if="field.tasks[0].status === 'edit'" ng-model="field.tasks[0].aot_ratio" type="number" min="0">
                            </td>
                            <td ng-if="field.tasks.length > 0">
                                <span ng-bind="action.getRateStaff(field.tasks[0].aot_self_appraisal, member.aom_staff_approved)" class="info"></span>
                                <br>
                                <!--
                                <b ng-if="field.tasks[0].aot_note.length > 0">Note:</b>
                                <span ng-if="field.tasks[0].aot_note.length > 0" ng-bind="field.tasks[0].aot_note" class="info"></span>
                                -->
                            </td>
                            <td ng-if="field.tasks.length > 0">
                                <div ng-if="field.tasks[0].status !== 'rate'">
                                    <span ng-bind="action.getRate(field.tasks[0].aot_head_department_appraisal)" class="info"></span>
                                    <br>
                                    <b ng-if="field.tasks[0].aot_head_department_note.length > 0">Note:</b>
                                    <span ng-if="field.tasks[0].aot_head_department_note.length > 0" ng-bind="field.tasks[0].aot_head_department_note" class="info"></span>
                                </div>
                                <div ng-if="field.tasks[0].status === 'rate'">
                                    <select ng-model="field.tasks[0].aot_head_department_appraisal">
                                        <option value="0">---</option>
                                        <option value="5">A+</option>
                                        <option value="4">A</option>
                                        <option value="3">B</option>
                                        <option value="2">C</option>
                                        <option value="1">D</option>
                                    </select>
                                    <br>
                                    <textarea ng-model="field.tasks[0].aot_head_department_note"
                                              placeholder="Note..."></textarea>
                                </div>

                            </td>
                            <td ng-if="field.tasks.length > 0">
                                <!--
                                <div ng-repeat="crossReview in field.tasks[0].cross_reviews">
                                    <span ng-if="crossReview.aocr_cross_review === '0'" ng-bind="crossReview.firstname + ' ' + crossReview.lastname" class="info" title="{{crossReview.aocr_note}}"></span>
                                    <br>
                                    <b ng-if="crossReview.aocr_cross_review !== '0'">
                                        <span ng-bind="crossReview.firstname + ' ' + crossReview.lastname + ' - ' + action.getRateShort(crossReview.aocr_cross_review)" class="info" title="{{crossReview.aocr_note}}"></span>
                                    </b>
                                    <hr ng-if="$index != field.tasks[0].cross_reviews - 1">
                                </div>
                                <div ng-if="field.tasks[0].saved === true && (!member || member.aom_head_approved == 0)" style="width: 100%; text-align: center">
                                    <a ng-click="action.editStaffCrossReview(field.tasks[0].cross_reviews, field.tasks[0].aot_id, member.aom_staff_id)" class="icon" title="Thêm nhân viên đánh giá chéo" style="cursor: pointer; bottom: 0;">
                                        <i class="icon-user"></i>
                                    </a>
                                </div>
                                -->
                            </td>
                            
                            <!--
                            <td ng-if="field.tasks.length > 0 && (!member || member.aom_head_approved == 0)" style="text-align: center">
                                <a ng-click="action.saveTask(field.tasks[0], data.staffs[currentStaff])" ng-if="field.tasks[0].status === 'edit'" class="icon" title="Save task" style="cursor: pointer">
                                    <i class="icon-save"></i>
                                </a>
                                <a ng-click="action.editTask(field.tasks[0])" ng-if="field.tasks[0].status === 'view'" class="icon" title="Edit task" style="cursor: pointer">
                                    <i class="icon-pencil"></i>
                                </a>
                                <a ng-click="action.removeTask(field.tasks, 0, data.staffs[currentStaff])" class="icon" title="Delete task" style="cursor: pointer; color: red;">
                                    <i class="icon-trash"></i>
                                </a>
                            </td>
                            -->
                            <td  ng-if="field.tasks.length > 0 && member.aom_head_approved == 0" style="text-align: center">
                                <a ng-click="action.startRate(field.tasks[0])" ng-if="field.tasks[0].status === 'view' && member.aom_head_approved == 0 && data.status == 1 && member.aom_staff_approved > 0" class="icon" title="Đánh giá nhân viên" style="cursor: pointer; color: green;">
                                    <i class="icon-star"></i>
                                </a>
                                <a ng-click="action.saveRate(field.tasks[0])" ng-if="field.tasks[0].status === 'rate'" class="icon" title="Lưu đánh giá" style="cursor: pointer">
                                    <i class="icon-save"></i>
                                </a>
                            </td>
                        </tr>
                        <tr ng-repeat-end ng-repeat="task in field.tasks" ng-if="$index > 0">
                            <td>
                                <span ng-if="task.status !== 'edit'" ng-bind="task.aot_target" class="info"></span>
                                <textarea ng-if="task.status === 'edit'" ng-model="task.aot_target" placeholder="Input target..."></textarea>
                            </td>
                            <td>
                                <span ng-if="task.status !== 'edit'" ng-bind="task.aot_task" class="info"></span>
                                <textarea ng-if="task.status === 'edit'" ng-model="task.aot_task" placeholder="Input Task..."></textarea>
                            </td>
                            <td>
                                <span ng-if="task.status !== 'edit'" ng-bind="task.aot_skill" class="info"></span>
                                <textarea ng-if="task.status === 'edit'" ng-model="task.aot_skill" placeholder="Input Skill..."></textarea>
                            </td>
                            <td style="text-align: center;">
                                <span ng-if="task.status !== 'edit'" ng-bind="task.aot_ratio + '%'"></span>
                                <input ng-if="task.status === 'edit'" ng-model="task.aot_ratio" type="number">
                            </td>
                            <td>
                                <span ng-bind="action.getRateStaff(task.aot_self_appraisal, member.aom_staff_approved)" class="info"></span>
                                <b ng-if="task.aot_note.length > 0">Note:</b>
                                <span ng-if="task.aot_note.length > 0" ng-bind="task.aot_note" class="info"></span>
                            </td>
                            <td>
                                <div ng-if="task.status !== 'rate'">
                                    <span ng-bind="action.getRate(task.aot_head_department_appraisal)" class="info""></span>
                                    <b ng-if="task.aot_head_department_note.length > 0">Note:</b>
                                    <span ng-if="task.aot_head_department_note.length > 0" ng-bind="task.aot_head_department_note" class="info"></span>
                                </div>
                                <div ng-if="task.status === 'rate'">
                                    <select ng-model="task.aot_head_department_appraisal">
                                        <option value="0">---</option>
                                        <option value="5">A+</option>
                                        <option value="4">A</option>
                                        <option value="3">B</option>
                                        <option value="2">C</option>
                                        <option value="1">D</option>
                                    </select>
                                    <br>
                                    <textarea ng-model="task.aot_head_department_note" placeholder="Note..."></textarea>
                                </div>
                            </td>
                            <td>
                                <!--
                                <div ng-repeat="crossReview in task.cross_reviews">
                                    <span ng-if="crossReview.aocr_cross_review === '0'" ng-bind="crossReview.firstname + ' ' + crossReview.lastname" class="info" title="{{crossReview.aocr_note}}"></span>
                                    <b ng-if="crossReview.aocr_cross_review !== '0'">
                                        <span ng-bind="crossReview.firstname + ' ' + crossReview.lastname + ' - ' + action.getRateShort(crossReview.aocr_cross_review)" class="info" title="{{crossReview.aocr_note}}"></span>
                                    </b>
                                    <hr ng-if="$index != task.cross_reviews.length - 1">
                                </div>
                                <div ng-if="task.saved === true && (!member || member.aom_head_approved == 0)" style="width: 100%; text-align: center">
                                    <a ng-click="action.editStaffCrossReview(task.cross_reviews, task.aot_id, member.aom_staff_id)" class="icon" title="Thêm nhân viên đánh giá chéo" style="cursor: pointer; bottom: 0;">
                                        <i class="icon-user"></i>
                                    </a>
                                </div>
                                -->
                            </td>
                            <!--
                            <td ng-if="(!member || member.aom_head_approved == 0)" style="text-align: center">
                                <a ng-click="action.saveTask(task, data.staffs[currentStaff])" ng-if="task.status === 'edit'" class="icon" title="Save task" style="cursor: pointer">
                                    <i class="icon-save"></i>
                                </a>
                                <a ng-click="action.editTask(task)" ng-if="task.status === 'view'" class="icon" title="Edit task" style="cursor: pointer">
                                    <i class="icon-pencil"></i>
                                </a>
                                <a ng-click="action.removeTask(field.tasks, $index, data.staffs[currentStaff])" class="icon" title="Delete task" style="cursor: pointer; color: red;">
                                    <i class="icon-trash"></i>
                                </a>
                            </td>
                            -->
                            <td ng-if="member.aom_head_approved == 0" style="text-align: center">
                                <a ng-click="action.startRate(task)" ng-if="task.status === 'view' && member.aom_head_approved == 0 && data.status == 1 && member.aom_staff_approved == 1" class="icon" title="Đánh giá nhân viên" style="cursor: pointer; color: green;">
                                    <i class="icon-star"></i>
                                </a>
                                <a ng-click="action.saveRate(task)" ng-if="task.status === 'rate'" class="icon" title="Lưu đánh giá" style="cursor: pointer">
                                    <i class="icon-save"></i>
                                </a>
                            </td>
                        </tr>
                        </tbody>
                    </table>

                    <div class="modal large hide fade" id="staffModal" role="dialog">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal">&times;</button>
                            <h4 class="modal-title">Find Staff</h4>
                        </div>
                        <div class="modal-body">
                            <div class="row-fluid">
                                <div class="span12">
                                    <div class="span3">
                                        <div class="table-responsive">
                                            <table class="table table-bordered">
                                                <tr ng-repeat="cr in data.current_cross_review">
                                                    <td>
                                                        <span ng-bind="cr.firstname + ' ' + cr.lastname" class="info"></span>
                                                    </td>
                                                    <td style="text-align: center;">
                                                        <a ng-click="action.removeStaffCrossReview(data.current_cross_review, $index)" title="Remove staff cross review">
                                                            <i class="icon-trash"></i>
                                                        </a>
                                                    </td>
                                                </tr>
                                            </table>
                                        </div>
                                    </div>
                                    <div class="span8">
                                        <div class="row-fluid">
                                            <div class="span4">
                                                <div class="control-group">
                                                    <label for="staffCode" class="span2 search-label">Code:</label>
                                                    <input id="staffCode" name="staffCode" ng-model="data.search_staff_filter.code" type="text" class="span2 input-medium search-query form-control">
                                                </div>
                                                <div class="control-group">
                                                    <label for="staffEmail" class="span2 search-label">Email:</label>
                                                    <input id="staffEmail" name="staffEmail" ng-model="data.search_staff_filter.email" type="text" class="span2 input-medium search-query form-control">
                                                </div>
                                                <div class="control-group">
                                                    <label for="staffName" class="span2 search-label">Name:</label>
                                                    <input id="staffName" name="staffName" ng-model="data.search_staff_filter.name" type="text" class="span2 input-medium search-query form-control">
                                                </div>
                                            </div>
                                            <div class="span4">
                                                <div class="control-group">
                                                    <label for="staffDepartment" class="span2 search-label">Bộ phận:</label>
                                                    <select name="staffDepartment" id="staffDepartment" ng-model="data.search_staff_filter.department" class="span2 input-medium form-control">
                                                        <option value="">---</option>
                                                        <option ng-repeat="team in data.teams|filter:{parent_id: '0'}:true" ng-bind="team.name" ng-value="team.id"></option>
                                                    </select>
                                                </div>
                                                <div class="control-group">
                                                    <label for="staffTeam" class="span2 search-label">Team:</label>
                                                    <select name="staffTeam" id="staffTeam" ng-model="data.search_staff_filter.team" class="span2 input-medium form-control">
                                                        <option value="">---</option>
                                                        <option ng-if="data.search_staff_filter.department !== ''" ng-repeat="team in data.teams|filter: {parent_id: data.search_staff_filter.department}:true" ng-bind="team.name" ng-value="team.id"></option>
                                                    </select>
                                                </div>
                                                <div class="control-group">
                                                    <label for="staffTitle" class="span2 search-label">Title:</label>
                                                    <select name="staffTitle" id="staffTitle" ng-model="data.search_staff_filter.title" class="span2 input-medium form-control">
                                                        <option value="">---</option>
                                                        <option ng-if="data.search_staff_filter.team !== ''" ng-repeat="team in data.teams|filter: {parent_id: data.search_staff_filter.team}:true" ng-bind="team.name" ng-value="team.parent_id"></option>
                                                    </select>
                                                </div>
                                                <div class="control-group">
                                                    <button ng-click="action.searchStaff()" class="btn btn-success pull-right">Tìm
                                                    </button>
                                                </div>
                                            </div>
                                        </div>
                                        <br>
                                        <div class="table-responsive">
                                            <table class="table table-bordered">
                                                <thead>
                                                <tr>
                                                    <th>Code</th>
                                                    <th>Name</th>
                                                    <th>Email</th>
                                                    <th>Department</th>
                                                    <th>Team</th>
                                                    <th>Title</th>
                                                    <th></th>
                                                </tr>
                                                </thead>
                                                <tbody>
                                                <tr ng-repeat="staff in data.found_staff">
                                                    <td>
                                                        <span ng-bind="staff.code" class="info"></span>
                                                    </td>
                                                    <td>
                                                        <span ng-bind="staff.firstname + ' ' + staff.lastname" class="info"></span>
                                                    </td>
                                                    <td>
                                                        <span ng-bind="staff.email" class="info"></span>
                                                    </td>
                                                    <td>
                                                        <span ng-bind="data.teams[staff.department].name" class="info"></span>
                                                    </td>
                                                    <td>
                                                        <span ng-bind="data.teams[staff.team].name" class="info"></span>
                                                    </td>
                                                    <td>
                                                        <span ng-bind="data.teams[staff.title].name" class="info"></span>
                                                    </td>
                                                    <td>
                                                        <button ng-click="action.addStaffCrossReview(staff)" ng-if="(data.current_cross_review|filter:{aocr_staff_id: staff.id}:true).length === 0" title="Add staff cross review" class="btn btn-success btn-sm">Add
                                                        </button>
                                                        <span ng-if="(data.current_cross_review|filter:{aocr_staff_id: staff.id}:true).length !== 0" class="info">Added</span>
                                                    </td>
                                                </tr>
                                                </tbody>
                                            </table>
                                            <div style="width: 100%; text-align: center">
                                                <p ng-if="data.found_staff.length === 0">Không có kết quả</p>
                                                <p ng-if="data.found_staff.length !== 0">Hiển thị tối đa 20 nhân viên</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                            </div>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                        </div>
                    </div>
                </div>
            </div>
            <div ng-if="(staff.member.aom_staff_approved == 1)" >
            <button class="btn btn-danger pull-right" ng-click="action.reAppraisalPrd(staff.member)">Nhân viên thiết lập lại</button>
            <br>
            </div>
            <hr>
        </div>
    </div><!-- container -->

    <div style="width: 100%; text-align: right;">
        
        
<!--        <button ng-if="action.canSetPrd(data.staffs) && data.status == 1" ng-click="action.confirmDone()" class="btn btn-warning" title="Sau khi thiết lập PRD, Trưởng bộ phân và Nhân viên mới có thể đánh giá">
            THIẾT LẬP PRD
        </button>-->
       
        
        <!--
        <button ng-disabled="!action.canApprovePrd(data.staffs)" ng-if="action.confirmedPrd(data.staffs) && data.status == 1" ng-click="action.approvedPrd(data.staffs)" class="btn btn-danger" title="Sau khi gủi thông tin, Trưởng bộ phân sẽ không thể thay đổi nữa!">
            GỬI THÔNG TIN
        </button>
        -->
        <br>
        <br>
    </div>
</div>

<script src="/js/angular.min.js"></script>


<script type="text/javascript">
    var app = angular.module('app', []);
    app.controller('appController', function ($scope) {
        // Init
        $scope.init = init;

        $scope.data = {
            plans: [],
            plan_id: '',
            status: 1,
            head_id: 0,
            staffs: [],
            teams: [],
            found_staff: [],
            search_staff_department: [],
            search_staff_team: [],
            search_staff_title: [],
            search_staff_filter: {},
            current_cross_review: {},
            current_cross_review_task_id: 0
        };

        $scope.action = {
            addField: addField,
            editField: editField,
            saveField: saveField,
            removeField: removeField,

            addTask: addTask,
            editTask: editTask,
            saveTask: saveTask,
            removeTask: removeTask,

            loadStaff: loadStaff,

            editStaffCrossReview: editStaffCrossReview,
            addStaffCrossReview: addStaffCrossReview,
            removeStaffCrossReview: removeStaffCrossReview,

            searchStaff: searchStaff,
            canSetPrd: canSetPrd,
            confirmDone: confirmDone,
            getRate: getRate,
            getRateStaff: getRateStaff,
            getRateShort: getRateShort,
            startRate: startRate,
            saveRate: saveRate,
            checkPlanActive: checkPlanActive,

            canApprovePrd: canApprovePrd,
            approvedPrd: approvedPrd,
            confirmedPrd: confirmedPrd,
            
            reAppraisalPrd: reAppraisalPrd,
        };

        // Run
        $scope.init();

        // Action
        function init() {
            
            let plan_id = new URL(location.href).searchParams.get("plan_id");
            
            let data_init = {
                plan_id: plan_id,
            };
            
            $.ajax({
                url: '/appraisal-office/get-plan',
                dataType: 'json',
                type: 'GET',
                data: data_init,
                success: function (data) {
                    data.forEach(function (datum) {
                        if (datum['aop_type'] === '1') {
                            $scope.data.plans.push(datum);
                        }
                    });
                    $scope.$apply();
                    setTimeout(function () {
                        if ($scope.data.plan_id === '') {
                            let planId = new URL(location.href).searchParams.get("plan_id");
                            if(planId) {
                                $scope.data.plan_id = planId;
                            } else {
                                $scope.data.plan_id = String($scope.data.plans[0]['aop_id']);
                            }
                        }
                        $scope.action.loadStaff($scope.data.plan_id);
                    }, 300);
                },
                error: function () {
                    alert('Something went wrong. Please try again!');
                }
            })
        }

        function loadStaff(planId) {
            $scope.data.staffs = [];
            $scope.action.checkPlanActive();
            let param = {
                plan_id: planId,
                review_staff: null
            };
            let reviewStaffId = new URL(location.href).searchParams.get("review-staff");
            if(reviewStaffId) {
                param.review_staff = reviewStaffId
            }

            $.ajax({
                url: '/appraisal-office/get-prd-multiple',
                dataType: 'json',
                type: 'GET',
                data: param,
                beforeSend: function() {
                    $("#loading-image").show();
                },
                success: function (data) {
                    
                    $scope.data.head_id = data.head_id;
                    data.staffs.forEach(function (staff) {
                        let staffTmp = {
                            id: staff.id,
                            code: staff.code,
                            firstname: staff.firstname,
                            lastname: staff.lastname
                        };
                        data.members.forEach(function (member) {
                            if (member['aom_staff_id'] == staffTmp.id) {
                                staffTmp.member = member;
                            }
                        });
                        staffTmp.fields = [];
                        data.fields.forEach(function (field) {
                            if (staffTmp.member && field.aom_id === staffTmp.member.aom_id) {
                                field.status = 'view';
                                field.saved = true;
                                field.tasks = [];
                                data.tasks.forEach(function (task) {
                                    if (task.aof_id === field.aof_id) {
                                        task.aot_ratio = parseInt(task.aot_ratio);
                                        task.status = 'view';
                                        task.saved = true;
                                        task.cross_reviews = [];
                                        data.cross_reviews.forEach(function (crossReview) {
                                            if (crossReview.aot_id === task.aot_id) {
                                                task.cross_reviews.push(crossReview);
                                            }
                                        });
                                        field.tasks.push(task);
                                    }
                                });
                                staffTmp.fields.push(field);
                            }
                        });
                        $scope.data.staffs.push(staffTmp);
                    });
                    $scope.$apply();
                    $("#loading-image").hide();
                },
                error: function () {
                    alert('Something went wrong. Please try again!');
                    $("#loading-image").hide();
                }
            })
        }

        function addField(staff) {
            staff.fields.push({
                aof_id: Number.MAX_SAFE_INTEGER,
                aof_name: '',
                saved: false,
                status: 'edit',
                tasks: []
            });
        }

        function editField(field) {
            field.status = 'edit';
        }

        function saveField(staff, field) {
            let memberCopy = angular.copy(staff.member);
            let memberId = (memberCopy && memberCopy.aom_id !== undefined ? memberCopy.aom_id : 0);
            let fieldCopy = angular.copy(field);
            if (fieldCopy.aof_id === Number.MAX_SAFE_INTEGER) {
                fieldCopy.aof_id = 0;
            }
            $.ajax({
                url: '/appraisal-office/save-field',
                type: 'POST',
                data: {
                    head_id: $scope.data.head_id,
                    staff_id: staff.id,
                    aop_id: $scope.data.plan_id,
                    aom_id: memberId,
                    aof_id: fieldCopy.aof_id,
                    aof_name: fieldCopy.aof_name
                },
                dataType: 'json',
                success: function (data) {
                    if (data.status === 0) {
                        if(!staff.member) {
                            staff.member = {};
                        }
                        if (data.data.member !== undefined) {
                            staff.member = Object.assign(staff.member, data.data.member);
                        }
                        field.aof_id = data.data.field_id;
                        field.status = 'view';
                        field.saved = true;
                        $scope.$apply();
                    } else {
                        alert(data.message);
                    }
                },
                error: function () {
                    alert('Something went wrong. Please try again!');
                }
            })
        }

        function removeField(fields, index) {
            if (!fields[index].saved) {
                fields.splice(index, 1);
                return;
            }
            if (confirm('Do you want to delete this field?')) {
                $.ajax({
                    url: '/appraisal-office/delete-field',
                    type: 'POST',
                    data: {
                        aof_id: fields[index].aof_id
                    },
                    dataType: 'json',
                    success: function (data) {
                        if (data.status === 0) {
                            fields.splice(index, 1);
                            $scope.$apply();
                        } else {
                            alert(data.message);
                        }
                    },
                    error: function () {
                        alert('Something went wrong. Please try again!');
                    }
                })
            }
        }

        function addTask(field) {
            field.tasks.push({
                aot_id: Number.MAX_SAFE_INTEGER,
                aof_id: field.aof_id,
                aot_target: '',
                aot_task: '',
                aot_skill: '',
                aot_ratio: 0,
                aot_self_appraisal: 0,
                aot_note: '',
                aot_head_department_appraisal: 0,
                aot_head_department_note: '',
                cross_reviews: [],
                status: 'edit',
                saved: false
            });
        }

        function editTask(task) {
            task.status = 'edit';
        }

        function saveTask(task, staff) {
            if (task['aot_ratio'] < 0 || task['aot_ratio'] > 100) {
                alert('Tỉ trọng chỉ từ 0 đến 100');
                return;
            }
            let ratio = 0;
            staff.fields.forEach(function (field) {
                field.tasks.forEach(function (task) {
                    ratio += parseInt(task['aot_ratio']);
                });
            });
            if (ratio > 100) {
                alert('Tỉ trọng đối với một nhân viên tối đa là 100%');
                return;
            }
            staff.member['aom_init_ratio'] = ratio;
            let taskCopy = angular.copy(task);
            if (taskCopy.aot_id === Number.MAX_SAFE_INTEGER) {
                taskCopy.aot_id = 0;
            }
            delete taskCopy.status;
            delete taskCopy.saved;
            $.ajax({
                url: '/appraisal-office/save-task',
                type: 'POST',
                data: taskCopy,
                dataType: 'json',
                success: function (data) {
                    if (data.status === 0) {
                        task.aot_id = data.data;
                        task.status = 'view';
                        task.saved = true;
                        $scope.$apply();
                    } else {
                        alert(data.message);
                    }
                },
                error: function () {
                    alert('Something went wrong. Please try again!');
                }
            })
        }

        function removeTask(tasks, index, staff) {
            if (tasks[index].saved) {
                if (confirm('Do you want to delete this task?')) {
                    $.ajax({
                        url: '/appraisal-office/delete-task',
                        type: 'POST',
                        data: {
                            aot_id: tasks[index].aot_id
                        },
                        dataType: 'json',
                        success: function (data) {
                            if (data.status === 0) {
                                staff.member['aom_init_ratio'] -= tasks[index]['aot_ratio'];
                                tasks.splice(index, 1);
                                $scope.$apply();
                            } else {
                                alert(data.message);
                            }
                        },
                        error: function () {
                            alert('Something went wrong. Please try again!');
                        }
                    })
                }
            } else {
                tasks.splice(index, 1);
            }
        }

        function editStaffCrossReview(crossReview, taskId, staffId) {
            $scope.data.current_cross_review = crossReview;
            $scope.data.current_cross_review_task_id = taskId;
            $scope.data.current_cross_review_staff_id = staffId;
            $scope.data.found_staff = [];
            $scope.data.search_staff_filter = {
                code: '',
                email: '',
                name: '',
                department: '',
                team: '',
                title: ''
            };
            if ($scope.data.teams.length === 0) {
                $.ajax({
                    url: '/ajax/load-team-title',
                    type: 'GET',
                    dataType: 'json',
                    success: function (data) {
                        data.forEach(function (datum) {
                            $scope.data.teams[datum.id] = datum;
                        });
                        $scope.$apply();
                        $('#staffModal').modal();
                    },
                    error: function () {
                        alert('Không thể tải thông tin bộ phận. Vui lòng thử lại!')
                    }
                })
            } else {
                $('#staffModal').modal();
            }
        }

        function addStaffCrossReview(staff) {
            let crossReview = {
                aot_id: $scope.data.current_cross_review_task_id,
                aocr_cross_review: '0',
                aocr_note: '',
                aocr_staff_id: staff.id,
                aocr_id: 0,
                code: staff.code,
                email: staff.email,
                firstname: staff.firstname,
                lastname: staff.lastname,
                department: staff.department,
                team: staff.team,
                title: staff.title
            };
            $.ajax({
                url: '/appraisal-office/save-cross-review',
                type: 'POST',
                data: crossReview,
                dataType: 'json',
                success: function (data) {
                    if (data.status === 0) {
                        crossReview.aocr_id = data.data;
                        $scope.data.current_cross_review.push(crossReview);
                        $scope.$apply();
                    } else {
                        alert(data.message);
                    }
                },
                error: function () {
                    alert('Không thể thêm người đánh giá chéo. Vui lòng thử lại!')
                }
            });
        }

        function removeStaffCrossReview(crossReviews, index) {
            if (confirm('Bạn thực sự muốn xóa người đánh giá chéo này?')) {
                $.ajax({
                    url: '/appraisal-office/delete-cross-review',
                    type: 'POST',
                    data: {
                        aocr_id: crossReviews[index].aocr_id
                    },
                    dataType: 'json',
                    success: function (data) {
                        if (data.status === 0) {
                            crossReviews.splice(index, 1);
                            $scope.$apply();
                        } else {
                            alert(data.message);
                        }
                    },
                    error: function () {
                        alert('Something went wrong. Please try again!');
                    }
                })
            }
        }

        function searchStaff() {
            $scope.data.found_staff = [];
            $.ajax({
                url: '/ajax/search-staff',
                type: 'GET',
                data: angular.copy($scope.data.search_staff_filter),
                dataType: 'json',
                success: function (data) {
                    data.forEach(function (staff) {
                        if(staff.id !== $scope.data.head_id && staff.id !== $scope.data.current_cross_review_staff_id)
                        $scope.data.found_staff.push(staff);
                    });
                    $scope.$apply();
                },
                error: function () {
                    alert('Có lỗi xảy ra. Vui lòng ấn Tìm lần nữa!');
                }
            })
        }

        function canSetPrd() {
            
            let canSet = true;
            let countDone = 0;
            let approved = false;
            $scope.data.staffs.forEach(function (staff) {
                if (staff.member === undefined) {
                    canSet = false;
                } else {
                    if (parseInt(staff.member['aom_init_ratio']) !== 100) {
                        canSet = false;
                    }
                    if (staff.member && staff.member['aom_head_approved'] == 1) {
                        countDone++;
                    }
                    if (staff.member && staff.member['aom_head_approved'] == 2) {
                        approved = true;
                    }
                }
            });
            
            return canSet && (countDone !== $scope.data.staffs.length) && !approved;
        }

        function confirmDone() {
            if (confirm(`Bạn sẽ không thể sửa đổi sau khi thiết đặt.\n` + `Bạn chắc chắn chứ?`)) {
                $.ajax({
                    url: '/appraisal-office/confirm-done',
                    type: 'POST',
                    data: {
                        plan_id: $scope.data.plan_id,
                        head_id: $scope.data.head_id
                    },
                    dataType: 'json',
                    success: function (data) {
                        if (data.status === 0) {
                            $scope.data.staffs.forEach(function (staff) {
                                staff.member['aom_head_approved'] = 1;
                            });
                            $scope.$apply();
                        } else {
                            alert(data.message);
                        }
                    },
                    error: function () {
                        alert('Có lỗi xảy ra. Vui lòng thử lại!');
                    }
                });
            }
        }

        function getRate(data) {
            let tmp = parseInt(data);
            switch (tmp) {
                case 0:
                    return 'Chưa đánh giá';
                case 5:
                    return 'A+ - Xuất sắc';
                case 4:
                    return 'A - Giỏi';
                case 3:
                    return 'B - Khá';
                case 2:
                    return 'C - Trung bình';
                case 1:
                    return 'D - Không đạt yêu cầu';
            }
        }
        
        function getRateStaff(data, aom_staff_approved) {
            
            let tmp = parseInt(data);
            let tmp_approved = parseInt(aom_staff_approved);
            
            switch (tmp) {
                case 0:
                    return 'Chưa đánh giá';
                case 5:
                    return 'A+ - Xuất sắc';
                case 4:
                    return 'A - Giỏi';
                case 3:
                    return 'B - Khá';
                case 2:
                    return 'C - Trung bình';
                case 1:
                    return 'D - Không đạt yêu cầu';
            }
            
            
//            if(tmp_approved == 1){
//                switch (tmp) {
//                    case 0:
//                        return 'Chưa đánh giá';
//                    case 5:
//                        return 'A+ - Xuất sắc';
//                    case 4:
//                        return 'A - Giỏi';
//                    case 3:
//                        return 'B - Khá';
//                    case 2:
//                        return 'C - Trung bình';
//                    case 1:
//                        return 'D - Không đạt yêu cầu';
//                }
//            }
//            else{
//                return 'Chưa đánh giá';
//            }
            
        }

        function getRateShort(data) {
            let tmp = parseInt(data);
            switch (tmp) {
                case 0:
                    return '';
                case 5:
                    return 'A+';
                case 4:
                    return 'A';
                case 3:
                    return 'B';
                case 2:
                    return 'C';
                case 1:
                    return 'D';
            }
        }

        function startRate(task) {
            task.status = 'rate';
        }

        function saveRate(task) {
            let taskCopy = angular.copy(task);
            delete taskCopy.status;
            delete taskCopy.saved;
            
            if (!$.trim(taskCopy.aot_note)){   
                delete taskCopy.aot_note;
            }
            
            if (!$.trim(taskCopy.aot_head_department_note)){   
                delete taskCopy.aot_head_department_note;
            }
            
            
            $.ajax({
                url: '/appraisal-office/save-task',
                type: 'POST',
                data: taskCopy,
                dataType: 'json',
                success: function (data) {
                    if (data.status === 0) {
                        task.aot_id = data.data;
                        task.status = 'view';
                        task.saved = true;
                        $scope.$apply();
                    } else {
                        alert(data.message);
                    }
                },
                error: function () {
                    alert('Something went wrong. Please try again!');
                }
            })
        }

        function checkPlanActive() {
            $scope.data.plans.forEach(function(plan) {
                if(plan.aop_id === $scope.data.plan_id) {
                    $scope.data.status = plan.aop_status;
                }
            });
        }

        function canApprovePrd(staffs) {
            let canApprove = true;
            let approved = false;
            staffs.forEach(function (staff) {
                if (staff.member && staff.member === undefined) {
                    canApprove = false;
                } else {
                    staff.fields.forEach(function(field) {
                        field.tasks.forEach(function(task) {
                            if(task.aot_head_department_appraisal == 0) {
                                canApprove = false;
                            }
                        });
                    });
                }
                if (staff.member && staff.member['aom_head_approved'] == 2) {
                    approved = true;
                }
            });
            return canApprove && !approved;
        }

        function approvedPrd() {
            if(!confirm(`Sau khi gửi thông tin sẽ không thay đổi nữa.\nBạn chắc chắn gửi thông tin chứ?`)) {
                return;
            }
            $scope.data.status = 2;
            $.ajax({
                url: '/appraisal-office/head-approved-prd',
                type: 'POST',
                data: {
                    aop_id: $scope.data.plan_id,
                    head_id: $scope.data.head_id
                },
                dataType: 'json',
                success: function (data) {
                    $scope.data.status = 1;
                    if (data.status === 0) {
                        $scope.data.staffs.forEach(function (staff) {
                            staff.member.aom_head_approved = 2;
                        });
                        $scope.$apply();
                    } else {
                        $scope.$apply();
                        alert(data.message);
                    }
                },
                error: function () {
                    $scope.data.status = 1;
                    $scope.$apply();
                    alert('Something went wrong. Please try again!');
                }
            })
        }

        function confirmedPrd(staffs) {
            let confirmed = true;
            staffs.forEach(function (staff) {
                if (staff.member && staff.member['aom_head_approved'] == 0) {
                    confirmed = false;
                }
            });
            return confirmed;
        }
        
        function reAppraisalPrd(member){
            
            $.ajax({
                url: '/appraisal-office/re-appraisal-prd',
                type: 'POST',
                data: {
                    aom_id: member.aom_id,
                },
                dataType: 'json',
                success: function (data) {
                    if (data.status === 0) {
                        
                        $scope.data.staffs.forEach(function (staff) {
                            if(staff.member.aom_id == member.aom_id){
                                staff.member.aom_staff_approved = 0;
                            }
                        });
                        $scope.$apply();
                    } else {
                        $scope.$apply();
                        alert(data.message);
                    }
                },
                error: function () {
                    alert('Something went wrong. Please try again!');
                }
            })
            
        }
        
    });
</script>