<style>
    .control-group label{
        display: inline-block;
        width: 150px;
    }
    .control-group select,.control-group input,{
        width: 280px!important;
    }
    textarea{
        width: 280px;
    }

    #my_iframe{
        background: #fff;
        width: 100%;
    }

</style>

<div class="page-header">
    <h1 style="color:red">Mass upload PRD Kết Quả</h1>
</div>

<?php if (isset($this->messages_error) && $this->messages_error): ?>
    <?php foreach ($this->messages_error as $key => $value): ?>
        <div class="alert alert-danger alert-dismissible" role="alert">
            <button type="button" class="close" data-dismiss="alert"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
            <strong>Error!</strong> <?php echo $value ?>
        </div>
    <?php endforeach ?>
<?php endif ?>

<?php if (isset($this->messages_success) && $this->messages_success): ?>
    <?php foreach ($this->messages_success as $key => $value): ?>
        <div class="alert alert-success alert-dismissible" role="alert">
            <button type="button" class="close" data-dismiss="alert"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
            <?php echo $value ?>
        </div>
    <?php endforeach ?>
<?php endif ?>

<div class="row">
    <div class="span12">
        <p>
            <!--<a href="/files/template/pay_slip/template_mass_upload_pay_slip.xlsx">Template</a>-->
        </p>
    </div>
</div>

<form id="form" action="/appraisal-office/save-upload-prd-result" method="post"
      enctype="multipart/form-data" class="form-horizontal" role="form" target="my_iframe">

    <div class="row">
        
        <div class="span12">
            <div class="control-group">
                <label for="department">Chọn đợt đánh giá:</label>
                <select name='plan_id'>
                    <option value="">-- Select --</option>
                    <?php foreach($this->plan as $key=>$value):?>
                    <option value="<?php echo $value['aop_id'];?>"><?php echo $value['aop_name'];?></option>
                    <?php endforeach;?>
                </select>
            </div>
        </div>
        
        <div class="span12">
            <div class="control-group">
                <label for="department">Choose file:</label>
                <input type="file" name="file" value required/>
            </div>
        </div>
        
        <div class="span12">
            <div class="control-group">
                <label for="department">Download file mẫu:</label>
                <a href="/files/PRD upload - Kết quả.xlsx" class="btn btn-info">Download</a>
            </div>
        </div>

    </div>

    <div class="row">
        <div class="span12">
            <div class="control-group">
                <button type="submit" class="btn btn-primary" id="save_btn">Save</button>
            </div>
        </div>
    </div>
</form>


<iframe src="/appraisal-office/save-upload-prd" frameborder="0" name="my_iframe" id="my_iframe" height="1000px"></iframe>


