
<style>
    .go_set_prd{color:red;font-weight: bold;text-decoration: underline}
</style>

<div class="page-header">
    <a href="/appraisal-office" class="" style="line-height: 25px;color: red;">
	<i class="icon-chevron-left"></i> <?php echo $this->translate_adapter->translate('back_button',$this->current_lang);?>
    </a>
    <h1><?php echo $this->translate_adapter->translate('ao_prd_result',$this->current_lang);?></h1>
</div>
<?php
if (isset($this->messages) and $this->messages)
    foreach ($this->messages as $message):
        echo '<div class="alert alert-success">'.$message.'</div>';
    endforeach;

if (isset($this->messages_error) and $this->messages_error)
    foreach ($this->messages_error as $messages_error):
        echo '<div class="alert alert-danger">'.$messages_error.'</div>';
    endforeach;
?>

<div class="container">
    <div class="row">
        <div class="span12">
            <div class="widget">
                <div class="widget-header">
                    <i class="icon-bar-chart"></i>
                    <h3><?php echo $this->translate_adapter->translate('ao_prd_result',$this->current_lang);?></h3>
                </div>
                <div class="widget-content">
                    
                    
                    <?php foreach($this->plan as $key=>$value):?>
                    <div class='chart_staff' id="myDiv<?php echo $key;?>" style="width: 280px; height: 200px;"></div>
                    <?php endforeach;?>
                    
                </div>
            </div>
        </div>
    </div>
</div>



<!-- new layout use jquery-ui-1.12 -->
<script type="text/javascript" src="/js/jquery-ui-1.8.12.custom.min.js"></script>
<script src="/js/plotly-latest.min.js"></script>

<style>
    .modebar-container{display: none}
    .chart_staff{display: block;float:left}
    .widget-content{overflow: hidden}
</style>

<script>
    
    <?php 
        $star = [
            1 => 25,
            2 => 60,
            3 => 90,
            4 => 120,
            5 => 155,
        ];
    ?>
    
    <?php foreach($this->plan as $key=>$value):?>
    
    var degrees = 0;
    
    //Enter a level between 1 and 5: 1 - 1.5, 2 - 2.4, 3 - 3.0, 4 -3.6, 5 -4.5
    var level = <?php echo !empty($this->member[$value['aop_name']]['star']) ? $star[$this->member[$value['aop_name']]['star']] : 0;?>;
    var total_point = <?php echo !empty($this->member[$value['aop_name']]['total_point']) ? $this->member[$value['aop_name']]['total_point'] : 0;?>;
    
    <?php if($this->member[$value['aop_name']]['star'] == 1):?>
    var lebel_point = ['A+', 'A', 'B', 'C', total_point];
    
    var degrees = 25;
    
    <?php elseif($this->member[$value['aop_name']]['star'] == 2):?>
    var lebel_point = ['A+', 'A', 'B', total_point, 'D'];
    
    var degrees = 142 - ((total_point - 70)*(34/20));
    
    <?php elseif($this->member[$value['aop_name']]['star'] == 3):?>
    var lebel_point = ['A+', 'A', total_point, 'C', 'D'];
    
    var degrees = 106 - ((total_point - 90)*(29/10));
    
    <?php elseif($this->member[$value['aop_name']]['star'] == 4):?>
    var lebel_point = ['A+', total_point, 'B', 'C', 'D'];
    
    var degrees = 72 - ((total_point - 100)*(34/10));
    
    <?php elseif($this->member[$value['aop_name']]['star'] == 5):?>
    var lebel_point = [total_point, 'A', 'B', 'C', 'D'];
    
    var degrees = 155;
    
    <?php endif;?>

    // Trig to calc meter point
    //var degrees = 180 - level;
    
    radius = .5;
    var radians = degrees * Math.PI / 180;
    var x = radius * Math.cos(radians);
    var y = radius * Math.sin(radians);

    // Path: may have to change to create a better triangle
    var mainPath = 'M -.0 -0.035 L .0 0.035 L ',
         pathX = String(x),
         space = ' ',
         pathY = String(y),
         pathEnd = ' Z';
    var path = mainPath.concat(pathX,space,pathY,pathEnd);
    
    
    <?php if(!empty($this->member[$value['aop_name']]['star'])):?>
    
    var data = [{ type: 'category',
       x: [0], y:[0],
        marker: {size: 10, color:'850000'},
        showlegend: false,
        name: '',
        text: level,
        hoverinfo: 'name'},
      { values: [2,2,2,2,2, 10],
      rotation: 90,

      text: ['A+.Xuất sắc', 'A.Giỏi', 'B.Khá', 'C.Trung Bình', 'D.Ko đạt',  ''],
      textinfo: 'text',
      textposition:'inside',      
      marker: {colors:['rgba(45, 105, 135, 1)', 'rgba(53, 102, 53, 1)','rgba(149, 59, 57, 1)', 'rgba(198, 118, 5, 1)', 'rgba(153, 153, 153, 1)','rgba(255, 255, 255, 0)']},
      labels: lebel_point,
      hoverinfo: 'label',
      hole: .5,
      type: 'pie',
      showlegend: false,
    }];
    
    var layout<?php echo $key;?> = {
      shapes:[{
          type: 'path',
          path: path,
          fillcolor: '850000',
          line: {
            color: '850000'
          }
        }],
      title: {
        text:'<a href="/appraisal-office/view-prd-details?staff_id=<?php echo $this->member[$value['aop_name']]['aom_staff_id'];?>&plan_id=<?php echo $value['aop_id'];?>"><?php echo $value['aop_name'];?><b style="font-size:9px"><br>Click để xem chi tiết</b></a>',
        font: {
          size: 12
        },
      },
      height: 350,
      width: 335,
      xaxis: {type:'category',zeroline:false, showticklabels:false,
                 showgrid: false, range: [-1, 1]},
      yaxis: {type:'category',zeroline:false, showticklabels:false,
                 showgrid: false, range: [-1, 1]}
    };
    
    <?php else:?>
    
    var data = [{ type: 'category',
       x: [0], y:[0],
        marker: {size: 28, color:'rgba(255, 255, 255, 0)'},
        showlegend: false,
        name: 'speed',
        text: level,
        hoverinfo: 'text+name'},
      { values: [2,2,2,2,2, 10],
      rotation: 90,

      text: ['A+.Xuất sắc', 'A.Giỏi', 'B.Khá', 'C.Trung Bình', 'D.Ko đạt',  ''],
      textinfo: 'text',
      textposition:'inside',      
      marker: {colors:['rgba(45, 105, 135, 0.2)', 'rgba(53, 102, 53, 0.2)','rgba(149, 59, 57, 0.2)', 'rgba(198, 118, 5, 0.2)', 'rgba(153, 153, 153, 0.2)','rgba(255, 255, 255, 0)']},
      labels: ['A+.Xuất sắc', 'A.Giỏi', 'B.Khá', 'C.Trung Bình', 'D.Ko đạt'],
      hoverinfo: 'label',
      hole: .5,
      type: 'pie',
      showlegend: false,
    }];
    
    var layout<?php echo $key;?> = {
      shapes:[{
          type: 'path',
          path: path,
          fillcolor: 'rgba(255, 255, 255, 0)',
          line: {
            color: 'rgba(255, 255, 255, 0)'
          }
        }],
      title: {
        text:'<?php echo $value['aop_name'];?> <br><b style="font-size:9px">(Chưa đánh giá)</b>',
        font: {
          size: 12
        },
      },
      height: 350,
      width: 335,
      xaxis: {type:'category',zeroline:false, showticklabels:false,
                 showgrid: false, range: [-1, 1]},
      yaxis: {type:'category',zeroline:false, showticklabels:false,
                 showgrid: false, range: [-1, 1]}
    };
    
    <?php endif;?>
    
    Plotly.newPlot('myDiv<?php echo $key;?>', data, layout<?php echo $key;?>);
    <?php endforeach;?>
</script>