<style>
    .chart_pie .pie_children{display: block;width:270px;float:left}
</style>

<div class="page-header" style="margin-top: 0px;">
    <a href="/appraisal-office" class="" style="line-height: 25px;color: red;line-height: 40px;">
	<i class="icon-chevron-left"></i>  <?php echo $this->translate_adapter->translate('back_button',$this->current_lang);?>
    </a>
    <h1><?php echo $this->translate_adapter->translate('ao_view_result_head_kpi_result',$this->current_lang);?></h1>
</div>
<?php
if (isset($this->messages) and $this->messages)
    foreach ($this->messages as $message):
        echo '<div class="alert alert-success">'.$message.'</div>';
    endforeach;

if (isset($this->messages_error) and $this->messages_error)
    foreach ($this->messages_error as $messages_error):
        echo '<div class="alert alert-danger">'.$messages_error.'</div>';
    endforeach;
?>

<div class="container">
    
    <div class="accordion row" id="accordion2">
        <div class="accordion-group span12">
            <div class="accordion-heading">
                <a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion2" href="#collapseTwo">
                    Search
                </a>
            </div>
            <div id="collapseTwo" class="accordion-body collapse">
                <div class="accordion-inner">
                    <form class="form-search form-horizontal" method="get" action="">
                        <div class="row-fluid">
                            
                            <div class="span6">
                            
                                <div class="control-group">
                                    <label for="department" class="span2">Department</label>

                                    <div class="span3">
                                        <select name="department[]" id="department" class="span3 multiselect" multiple="multiple">
                                            <?php foreach ($this->recursiveDeparmentTeamTitle as $item_id => $item):?>
                                                <option value="<?php echo $item_id;?>" <?php if (isset($this->params['department']) and ( (is_array($this->params['department']) && in_array($item_id, $this->params['department']) || $item_id==$this->params['department'])) ):?>selected<?php endif;?>><?php echo $item['name'];?></option>
                                            <?php endforeach;?>
                                        </select>
                                    </div>

                                </div>
                                <div class="control-group">
                                    <label for="team" class="span2">Team</label>

                                    <div class="span3">
                                        <select name="team[]" id="team" class="span3 multiselect" multiple="multiple">
                                            <?php if (isset($this->params['department']) and $this->params['department'] and is_array($this->params['department'])){
                                                    foreach ($this->params['department'] as $dep){
                                                        if (isset($this->recursiveDeparmentTeamTitle[$dep]['children']) and $this->recursiveDeparmentTeamTitle[$dep]['children']) {
                                                            foreach ($this->recursiveDeparmentTeamTitle[$dep]['children'] as $item_id => $item){
                                                ?>
                                                                <option value="<?php echo $item_id;?>" <?php if (isset($this->params['team']) and ( (is_array($this->params['team']) && in_array($item_id, $this->params['team']) || $item_id==$this->params['team'])) ):?>selected<?php endif;?>><?php echo $item['name'];?></option>
                                            <?php
                                                            }
                                                        }
                                                    }
                                                }
                                            ?>
                                        </select>
                                    </div>
                                </div>

                                <div class="control-group">
                                    <label for="title" class="span2">Title</label>

                                    <div class="span3">
                                        <select name="title[]" id="title" class="span3 multiselect" multiple="multiple">
                                            <?php if (
                                                isset($this->params['department']) and $this->params['department'] and is_array($this->params['department'])
                                                        and isset($this->params['team']) and $this->params['team'] and is_array($this->params['team'])){
                                                foreach ($this->params['department'] as $dep){
                                                    if (isset($this->recursiveDeparmentTeamTitle[$dep]['children']) and $this->recursiveDeparmentTeamTitle[$dep]['children']) {
                                                        foreach ($this->recursiveDeparmentTeamTitle[$dep]['children'] as $team_id => $team){
                                                            if (isset($this->recursiveDeparmentTeamTitle[$dep]['children'][$team_id]['children']) and $this->recursiveDeparmentTeamTitle[$dep]['children'][$team_id]['children']) {
                                                                foreach ($this->recursiveDeparmentTeamTitle[$dep]['children'][$team_id]['children'] as $item_id => $item){
                                                            ?>
                                                                    <option value="<?php echo $item_id;?>" <?php if (isset($this->params['title']) and ( (is_array($this->params['title']) && in_array($item_id, $this->params['title']) || $item_id==$this->params['title'])) ):?>selected<?php endif;?>><?php echo $item['name'];?></option>
                                                        <?php
                                                                }
                                                            }
                                                        }
                                                    }
                                                }
                                            }
                                            ?>
                                        </select>
                                    </div>
                                </div>

                            </div><!-- span6 -->
                        </div>
                        <button type="submit" class="btn btn-primary">Search</button>
                        <!--<a class='btn btn-info' href="/appraisal-office/list-prd">Danh sách PRD</a>-->
                        <!--<a class='btn btn-warning' href="/appraisal-office/plan-prd">THIẾT LẬP KẾ HOẠCH ĐÁNH GIÁ</a>-->
                        
                    </form>
                </div>
            </div>
        </div>
    </div>
    
    <div class="row">
        <div class="span12">
            <div class="widget">
                <div class="">
                    
                    <div class="row-fluid">
                        <table id="trellis">
                            <tr>
                                <td class="first"></td>
                                <td></td>
                                <td></td>
                                <td></td>
                            </tr>
                        </table>
                    </div>
                    
                    
<!--                    <div class='chart_pie'>
                        <div class="pie_children" id="container1" style="min-width: 250px; height: 400px; max-width: 600px; margin: 0 auto"></div>
                        <div class="pie_children" id="container2" style="min-width: 250px; height: 400px; max-width: 600px; margin: 0 auto"></div>
                        <div class="pie_children" id="container3" style="min-width: 250px; height: 400px; max-width: 600px; margin: 0 auto"></div>
                        <div class="pie_children" id="container4" style="min-width: 250px; height: 400px; max-width: 600px; margin: 0 auto"></div>
                    </div>-->
                    
                    <div class="row-fluid data_details" style="display: block;float: left;">
                        
                        <div class="page-header">
                            <h4><?php echo $this->translate_adapter->translate('ao_view_result_head_kpi_result',$this->current_lang);?> </h4>
                        </div>
                        
                        <table class="table table-bordered table_details">
                            <thead>
                                <tr>
                                    <th>#</th>
                                    <th><?php echo $this->translate_adapter->translate('department',$this->current_lang);?></th>
                                    <th><?php echo $this->translate_adapter->translate('team',$this->current_lang);?>/th>
                                    <th><?php echo $this->translate_adapter->translate('ao_staff',$this->current_lang);?></th>
                                    <th><?php echo $this->translate_adapter->translate('ao_tittle',$this->current_lang);?></th>
                                    <th><?php echo $this->translate_adapter->translate('note',$this->current_lang);?></th>
                                </tr>
                            </thead>
                            <tbody>
                                <!--
                                <tr>
                                    <td>1</td>
                                    <td>ĐÀO ĐÔNG HẢI</td>
                                    <td>PR TEAM LEADER</td>
                                    <td>2012-11-26</td>
                                    <td>HUỲNH CÔNG HẬU</td>
                                    <td>PR SPECIALIST</td>
                                    <td>2018-08-20</td>
                                    <td>
                                        <a href="/appraisal-office/prd-staff-details?staff_id=20736"> <i class="icon icon-eye-open"></i> Xem chi tiết</a>
                                    </td>
                                </tr>

                                <tr>
                                    <td>2</td>
                                    <td>ĐÀO ĐÔNG HẢI</td>
                                    <td>PR TEAM LEADER</td>
                                    <td>2012-11-26</td>
                                    <td>LÊ XUÂN TRÚC GIANG</td>
                                    <td>PR SPECIALIST</td>
                                    <td>2018-11-14</td>
                                    <td>
                                        <a href="/appraisal-office/prd-staff-details?staff_id=21714"> <i class="icon icon-eye-open"></i> Xem chi tiết</a>
                                    </td>
                                </tr>
                                -->
                            </tbody>
                        </table>
                    </div>
                    
                </div>
            </div>
        </div>
    </div>
</div>



<!-- new layout use jquery-ui-1.12 -->
<script type="text/javascript" src="/js/jquery-ui-1.8.12.custom.min.js"></script>

<script src="/js/highcharts.js"></script>
<script src="/js/exporting.js"></script>



<style>
    #trellis td {width: 270px;height: 300px;}
    #trellis td.first {width: 350px;}
    .highcharts-title{font-size: 16px !important;}
</style>
<script src="/js/highcharts_code.js"></script>
<script>
    
    $('.data_details').hide();
    
    var member = <?php echo json_encode($this->member);?>;
    var star = {'D.Ko đạt yêu cầu':1, 'C.Trung bình':2, 'B.Khá':3, 'A.Giỏi':4, 'A+.Xuất Sắc':5};
    var plan = <?php echo json_encode($this->plan);?>;
    
    var charts = [];
    $containers = $('#trellis td'),
    datasets = [
        <?php foreach($this->plan as $key=>$value): ?>
            {
                name: '<?php echo $value['aop_name'];?>',
                height: 700,
                data: [
                <?php for($i=1;$i<=5;$i++):?>
                <?php echo $this->member[$value['aop_name']][$i] ? count($this->member[$value['aop_name']][$i]) : 0;?>,
                <?php endfor;?>   
                ]
            },
        <?php endforeach;?>
    ];


$.each(datasets, function(i, dataset) {
    charts.push(new Highcharts.Chart({
        chart: {
            renderTo: $containers[i],
            type: 'bar',
            marginLeft: i === 0 ? 100 : 10,
            spacingTop: 70,
            spacingLeft: 0,
        },
        title: {
            text: dataset.name,
            floating:true,
            align: 'left',
            x: i === 0 ? 90 : 0,
            y:-50
        },
        credits: {
            enabled: false
        },
        xAxis: {
            categories: ['D.Ko đạt yêu cầu', 'C.Trung bình', 'B.Khá', 'A.Giỏi', 'A+.Xuất Sắc'],
            labels: {
                enabled: i === 0
            }
        },
        yAxis: {
            allowDecimals: false,
            title: {
                text: null
            },
            min: 0,
            max: 50
        },
        legend: {
            enabled: false
        },
        exporting: {
            enabled: false
        },
        plotOptions: {
            bar: {
                dataLabels: {
                    enabled: true
                }
            },
            series: {
                cursor: 'pointer',
                point: {
                    events: {
                        click: function (t1, t2) {
                            listStaffDetails(t1.point.category, t1.point.series.name);
                        }
                    }
                }
            }
        },

        series: [dataset]

    }));
    
    
    
    
    
    
});


    //PIE CHART
    var container1_1;
    var container1_2;
    var container1_3;
    var container1_4;
    var container1_5;

    if (typeof (member[plan[0].aop_name]) !== "undefined") {
        container1_1 = member[plan[0].aop_name][1] ? member[plan[0].aop_name][1].length : 0;
        container1_2 = member[plan[0].aop_name][2] ? member[plan[0].aop_name][2].length : 0;
        container1_3 = member[plan[0].aop_name][3] ? member[plan[0].aop_name][3].length : 0;
        container1_4 = member[plan[0].aop_name][4] ? member[plan[0].aop_name][4].length : 0;
        container1_5 = member[plan[0].aop_name][5] ? member[plan[0].aop_name][5].length : 0;
    } else {
        container1_1 = 0;
        container1_2 = 0;
        container1_3 = 0;
        container1_4 = 0;
        container1_5 = 0;
    }
    
    //2
    var container2_1;
    var container2_2;
    var container2_3;
    var container2_4;
    var container2_5;

    if (typeof (member[plan[1].aop_name]) !== "undefined") {
        container2_1 = member[plan[1].aop_name][1] ? member[plan[1].aop_name][1].length : 0;
        container2_2 = member[plan[1].aop_name][2] ? member[plan[1].aop_name][2].length : 0;
        container2_3 = member[plan[1].aop_name][3] ? member[plan[1].aop_name][3].length : 0;
        container2_4 = member[plan[1].aop_name][4] ? member[plan[1].aop_name][4].length : 0;
        container2_5 = member[plan[1].aop_name][5] ? member[plan[1].aop_name][5].length : 0;
    } else {
        container2_1 = 0;
        container2_2 = 0;
        container2_3 = 0;
        container2_4 = 0;
        container2_5 = 0;
    }
    
    //3
    var container3_1;
    var container3_2;
    var container3_3;
    var container3_4;
    var container3_5;

    if (typeof (member[plan[2].aop_name]) !== "undefined") {
        container3_1 = member[plan[2].aop_name][1] ? member[plan[2].aop_name][1].length : 0;
        container3_2 = member[plan[2].aop_name][2] ? member[plan[2].aop_name][2].length : 0;
        container3_3 = member[plan[2].aop_name][3] ? member[plan[2].aop_name][3].length : 0;
        container3_4 = member[plan[2].aop_name][4] ? member[plan[2].aop_name][4].length : 0;
        container3_5 = member[plan[2].aop_name][5] ? member[plan[2].aop_name][5].length : 0;
    } else {
        container3_1 = 0;
        container3_2 = 0;
        container3_3 = 0;
        container3_4 = 0;
        container3_5 = 0;
    }
    
    //4
    var container4_1;
    var container4_2;
    var container4_3;
    var container4_4;
    var container4_5;
    
    if (plan[3]) {
    
        if (typeof (member[plan[3].aop_name]) !== "undefined") {
            container4_1 = member[plan[3].aop_name][1] ? member[plan[3].aop_name][1].length : 0;
            container4_2 = member[plan[3].aop_name][2] ? member[plan[3].aop_name][2].length : 0;
            container4_3 = member[plan[3].aop_name][3] ? member[plan[3].aop_name][3].length : 0;
            container4_4 = member[plan[3].aop_name][4] ? member[plan[3].aop_name][4].length : 0;
            container4_5 = member[plan[3].aop_name][5] ? member[plan[3].aop_name][5].length : 0;
        } else {
            container4_1 = 0;
            container4_2 = 0;
            container4_3 = 0;
            container4_4 = 0;
            container4_5 = 0;
        }
    }
    
    
    var label1_1 = container1_1 == 0 ? "" : 'D.Ko đạt yêu cầu';
    var label1_2 = container1_2 == 0 ? "" : 'C.Trung bình';
    var label1_3 = container1_3 == 0 ? "" : 'B.Khá';
    var label1_4 = container1_4 == 0 ? "" : 'A.Giỏi';
    var label1_5 = container1_5 == 0 ? "" : 'A+.Xuất Sắc';
    
    Highcharts.chart('container1', {
        chart: {
            plotBackgroundColor: null,
            plotBorderWidth: 0,
            plotShadow: false,
            width: 250
        },
        title: {
            text: plan[0].aop_name,
            align: 'center',
            verticalAlign: 'middle',
            y: 120,
        },
        tooltip: {
            pointFormat: '{series.name}: <b>{point.y}</b>'
        },
        plotOptions: {
            pie: {
                dataLabels: {
                    enabled: true,
                    format: '{point.name}<br>{point.percentage:.1f}%',
                    distance: -20,
                    style: {
                        fontWeight: 'bold',
                        color: '#000',
                        fontSize: '9px',
                        textShadow: false 
                    }
                },
                startAngle: -90,
                endAngle: 90,
                center: ['50%', '75%'],
                size: '110%'
            }
        },
        exporting: {
            enabled: false
        },
        series: [{
            type: 'pie',
            name: 'Số lượng',
            innerSize: '50%',
            data: [
                {name: label1_1,y: container1_1,dataLabels: {enabled: true}, color: '#999999'},
                {name: label1_2,y: container1_2,dataLabels: {enabled: true}, color: '#C67605'},
                {name: label1_3,y: container1_3,dataLabels: {enabled: true}, color: '#953B39'},
                {name: label1_4,y: container1_4,dataLabels: {enabled: true}, color: '#356635'},
                {name: label1_5,y: container1_5,dataLabels: {enabled: true}, color: '#2D6987'}
            ],
            point: {
                events: {
                    click: function (e) {
                        listStaffDetails(e.point.name, plan[0].aop_name);
                    }
                }
            }
        }]
    });
    
    var label2_1 = container2_1 == 0 ? "" : 'D.Ko đạt yêu cầu';
    var label2_2 = container2_2 == 0 ? "" : 'C.Trung bình';
    var label2_3 = container2_3 == 0 ? "" : 'B.Khá';
    var label2_4 = container2_4 == 0 ? "" : 'A.Giỏi';
    var label2_5 = container2_5 == 0 ? "" : 'A+.Xuất Sắc';

    Highcharts.chart('container2', {
        chart: {
            plotBackgroundColor: null,
            plotBorderWidth: 0,
            plotShadow: false,
            width: 250
        },
        title: {
            text: plan[1].aop_name,
            align: 'center',
            verticalAlign: 'middle',
            y: 120,
        },
        tooltip: {
            pointFormat: '{series.name}: <b>{point.y}</b>'
        },
        plotOptions: {
            pie: {
                dataLabels: {
                    enabled: true,
                    format: '{point.name}<br>{point.percentage:.1f}%',
                    distance: -20,
                    style: {
                        fontWeight: 'bold',
                        color: '#000',
                        fontSize: '9px',
                        textShadow: false 
                    }
                },
                startAngle: -90,
                endAngle: 90,
                center: ['50%', '75%'],
                size: '110%'
            }
        },
        exporting: {
            enabled: false
        },
        series: [{
            type: 'pie',
            name: 'Số lượng',
            innerSize: '50%',
            data: [
                {name: label2_1,y: container2_1,dataLabels: {enabled: true}, color: '#999999'},
                {name: label2_2,y: container2_2,dataLabels: {enabled: true}, color: '#C67605'},
                {name: label2_3,y: container2_3,dataLabels: {enabled: true}, color: '#953B39'},
                {name: label2_4,y: container2_4,dataLabels: {enabled: true}, color: '#356635'},
                {name: label2_5,y: container2_5,dataLabels: {enabled: true}, color: '#2D6987'}
            ],
            point: {
                events: {
                    click: function (e) {
                        listStaffDetails(e.point.name, plan[1].aop_name);
                    }
                }
            }
        }]
    });
    
    var label3_1 = container3_1 == 0 ? "" : 'D.Ko đạt yêu cầu';
    var label3_2 = container3_2 == 0 ? "" : 'C.Trung bình';
    var label3_3 = container3_3 == 0 ? "" : 'B.Khá';
    var label3_4 = container3_4 == 0 ? "" : 'A.Giỏi';
    var label3_5 = container3_5 == 0 ? "" : 'A+.Xuất Sắc';
    
    Highcharts.chart('container3', {
        chart: {
            plotBackgroundColor: null,
            plotBorderWidth: 0,
            plotShadow: false,
            width: 250
        },
        title: {
            text: plan[2].aop_name,
            align: 'center',
            verticalAlign: 'middle',
            y: 120,
        },
        tooltip: {
            pointFormat: '{series.name}: <b>{point.y}</b>'
        },
        plotOptions: {
            pie: {
                dataLabels: {
                    enabled: true,
                    format: '{point.name}<br>{point.percentage:.1f}%',
                    distance: -20,
                    style: {
                        fontWeight: 'bold',
                        color: '#000',
                        fontSize: '9px',
                        textShadow: false 
                    },
                },
                startAngle: -90,
                endAngle: 90,
                center: ['50%', '75%'],
                size: '110%'
            }
        },
        exporting: {
            enabled: false
        },
        series: [{
            type: 'pie',
            name: 'Số lượng',
            innerSize: '50%',
            data: [
                {name: label3_1,y: container3_1,dataLabels: {enabled: true}, color: '#999999'},
                {name: label3_2,y: container3_2,dataLabels: {enabled: true}, color: '#C67605'},
                {name: label3_3,y: container3_3,dataLabels: {enabled: true}, color: '#953B39'},
                {name: label3_4,y: container3_4,dataLabels: {enabled: true}, color: '#356635'},
                {name: label3_5,y: container3_5,dataLabels: {enabled: true}, color: '#2D6987'}
            ],
            point: {
                events: {
                    click: function (e) {
                        listStaffDetails(e.point.name, plan[2].aop_name);
                    }
                }
            }
        }]
    });

    
    var label4_1 = container4_1 == 0 ? "" : 'D.Ko đạt yêu cầu';
    var label4_2 = container4_2 == 0 ? "" : 'C.Trung bình';
    var label4_3 = container4_3 == 0 ? "" : 'B.Khá';
    var label4_4 = container4_4 == 0 ? "" : 'A.Giỏi';
    var label4_5 = container4_5 == 0 ? "" : 'A+.Xuất Sắc';
    
    Highcharts.chart('container4', {
        chart: {
            plotBackgroundColor: null,
            plotBorderWidth: 0,
            plotShadow: false,
            width: 250
        },
        title: {
            text: plan[3].aop_name,
            align: 'center',
            verticalAlign: 'middle',
            y: 120,
        },
        tooltip: {
            pointFormat: '{series.name}: <b>{point.y}</b>'
        },
        plotOptions: {
            pie: {
                dataLabels: {
                    enabled: true,
                    format: '{point.name}<br>{point.percentage:.1f}%',
                    distance: -20,
                    style: {
                        fontWeight: 'bold',
                        color: '#000',
                        fontSize: '9px',
                        textShadow: false 
                    },
                },
                startAngle: -90,
                endAngle: 90,
                center: ['50%', '75%'],
                size: '110%'
            }
        },
        exporting: {
            enabled: false
        },
        series: [{
            type: 'pie',
            name: 'Số lượng',
            innerSize: '50%',
            data: [
                {name: label4_1,y: container4_1,dataLabels: {enabled: true}, color: '#999999'},
                {name: label4_2,y: container4_2,dataLabels: {enabled: true}, color: '#C67605'},
                {name: label4_3,y: container4_3,dataLabels: {enabled: true}, color: '#953B39'},
                {name: label4_4,y: container4_4,dataLabels: {enabled: true}, color: '#356635'},
                {name: label4_5,y: container4_5,dataLabels: {enabled: true}, color: '#2D6987'}
            ],
            point: {
                events: {
                    click: function (e) {
                        listStaffDetails(e.point.name, plan[3].aop_name);
                    }
                }
            }
        }]
    });
    
    function listStaffDetails(category, name_plan){
        
        var category_id = star[category];
        var name_plan = name_plan;
        
        member_catgory = member[name_plan][category_id];
        
        $('.data_details .page-header h4').html(name_plan+' - '+category);
        
        $('.data_details .table_details > tbody').html('');
        for(i in member_catgory){
            $('.data_details .table_details > tbody').append('<tr>\n\
                <td>'+(parseInt(i)+1)+'</td>\n\
                <td>'+member_catgory[i].department_name+'</td>\n\
                <td>'+member_catgory[i].team_name+'</td>\n\
                <td>'+member_catgory[i].fullname+'</td>\n\
                <td>'+member_catgory[i].title_name+'</td>\n\
                <td><a href="/appraisal-office/view-prd-details?staff_id='+member_catgory[i].aom_staff_id+'&plan_id='+member_catgory[i].aop_id+'" target="_blank"> <i class="icon icon-eye-open"></i> Xem chi tiết</a></td>\n\
            </tr>');
        }
        
        $('.data_details').show();
        
    }

</script> 


<script type="text/javascript" src="<?php echo HOST ?>js/bootstrap-multiselect.js"></script>
<link rel="stylesheet" href="<?php echo HOST ?>css/bootstrap-multiselect.css" type="text/css"/>
<script type="text/javascript" src="<?php echo HOST ?>js/jquery-ui-1.8.12.custom.min.js"></script>
<link rel="stylesheet" type="text/css" href="<?php echo HOST ?>css/jquery-ui-1.8.12.custom.css"/>
<script>
    options = {
        selectAllText: 'Select All',
        includeSelectAllOption: true,
        includeSelectAllIfMoreThan: 3,
        disableIfEmpty: true
    };

    $(document).ready(function () {
        $('.form-search button:reset').click(function (e){
            $('.form-search input, .form-search select').val('');
            $('.form-search').submit();
            return false;
        });

        multi();
        
        $('#department').change(function(){
            $('.loading').remove();
            $(this).after('<span class="loading"></span>');
            var _self = $(this);
            var department_id = $(this).val();
            $('button, .btn, input').prop('disabled', true);
            $.get("/ajax/load-team",
                {department_id: department_id}
                ,function(data,status){
                    var obj = $.parseJSON( data );
                    $('#team').find('option').remove();
                    for (var i = 0; i < obj.length; i++) {
                        $('#team').append('<option value="'+obj[i]['id']+'">'+obj[i]['name']+'</option>');
                    }

                    $('button, .btn, input').prop('disabled', false);
                    $('.multiselect').multiselect("destroy").multiselect(options);
                    $('.loading').remove();
                });
        });

        $('#team').change(function(){
            $('.loading').remove();
            $(this).after('<span class="loading"></span>');
            var _self = $(this);
            var team_id = $(this).val();
            $('button, .btn, input').prop('disabled', true);
            $.get("/ajax/load-title",
                {team_id: team_id}
                ,function(data,status){
                    var obj = $.parseJSON( data );
                    $('#title').find('option').remove();
                    for (var i = 0; i < obj.length; i++) {
                        $('#title').append('<option value="'+obj[i]['id']+'">'+obj[i]['name']+'</option>');
                    }

                    $('button, .btn, input').prop('disabled', false);
                    $('.multiselect').multiselect("destroy").multiselect(options);
                    $('.loading').remove();
                });
        });
        
    });

    function multi() {
        $('.multiselect').multiselect(options);
    }
</script>


