<style>
    table tr th{text-align: center !important;vertical-align: middle !important;}
    table tr td{text-align: center !important;vertical-align: middle !important;}
</style>


<?php 
    $star = [
        1 => ['name' => "D - Không đạt yêu cầu", 'label' => 'label-danger', 'ratio' => 69],
        2 => ['name' => "C - Trung bình", 'label' => 'label-warning', 'ratio' => 70],
        3 => ['name' => "B - Khá", 'label' => 'label-important', 'ratio' => 90],
        4 => ['name' => "A - Giỏi", 'label' => 'label-success', 'ratio' => 100],
        5 => ['name' => "A+ - Xuất Sắc", 'label' => 'label-info', 'ratio' => 110]
    ];
?>


<div ng-app="app" ng-controller="appController" class="row-fluid">
    <div class="page-header">
        <h1>PRD - <?php echo $this->plan['aop_name'];?> 
        </h1>
        <legend><?php echo !empty($this->staff) ? 'TRƯỞNG BỘ PHẬN: '.$this->staff['firstname'].' '.$this->staff['lastname'] : NULL;?><small> <?php echo !empty($star[$this->viewStar]) ? 'Danh sách người đạt::<b class="label '.$star[$this->viewStar]['label'].'">'.$star[$this->viewStar]['name'].'</b>' : NULL;?> </small></legend>
    </div>
    
    
    <div class="row-fluid">
        
        <?php foreach($this->list_staff as $key=>$value):?>
        <div class="widget widget-table action-table">
            <div class="widget-header"> <i class="icon-th-list"></i>
              <h3><?php echo $value['firstname'].' '.$value['lastname'];?></h3>
            </div>
            <!-- /widget-header -->
            <div class="widget-content">
              <table class="table table-bordered">
                <thead>
                  <tr>
                    <th rowspan="2">LĨNH VỰC</th>
                    <th rowspan="2">TIÊU CHUẨN</th>
                    <th rowspan="2">NHIỆM VỤ</th>
                    <th rowspan="2">KỸ NĂNG</th>
                    <th rowspan="2">TỶ TRỌNG(%)</th>
                    <th rowspan="2">TỰ ĐÁNH GIÁ</th>
                    <th rowspan="2">TBP ĐÁNH GIÁ</th>
                    <th rowspan="2">Tổng kết quả tỷ trọng theo các chỉ tiêu</th>
                    <th colspan="2">Kết quả đánh giá</th>
                  </tr>
                  <tr>
                    <th>Xếp hạng</th>
                    <th>Nhận xét</th>
                  </tr>
                </thead>
                <tbody>
                    
                    <?php 
                        $flag = 0;
                        $total_point = 0;
                        $total_rank = NULL;
                        $total_rank_label = NULL;
                        $total_note = NULL;
                        
                        foreach($this->field[$value['id']] as $k=>$v){
                            foreach($this->task[$value['id']][$v['aof_id']] as $i=>$j){
                                $head_appraisal = ($j['aot_head_department_appraisal'] == 0) ? 0 : $star[$j['aot_head_department_appraisal']]['ratio'];
                                $total_point = $total_point + ($head_appraisal*$j['aot_ratio']);
                            }
                        }
                        $total_point = $total_point/100;
                        
                        if($total_point >= 110){
                            $total_rank = "A+ - Xuất Sắc";
                            $total_rank_label = "label-info";
                        }
                        elseif( $total_point < 110 AND $total_point >= 100){
                            $total_rank = "A - Giỏi";
                            $total_rank_label = "label-success";
                        }
                        elseif( $total_point < 100 AND $total_point >= 90){
                            $total_rank = "B - Khá";
                            $total_rank_label = "label-important";
                        }
                        elseif( $total_point < 90 AND $total_point >= 70){
                            $total_rank = "C - Trung bình";
                            $total_rank_label = "label-warning";
                        }
                        elseif( $total_point < 70){
                            $total_rank = "D - Không đạt yêu cầu";
                            $total_rank_label = "label-danger";
                        }
                        
                        if($total_point > 100){
                            $total_note = "Kết quả công việc đạt ".($total_point)."%, trên mức mong đợi";
                        }
                        else{
                            $total_note = "Kết quả công việc đạt ".($total_point)."% yêu cầu";
                        }
                    
                    ?>
                    
                    <?php foreach($this->field[$value['id']] as $k=>$v): ?>
                    
                    <tr>
                        <td rowspan="<?php echo $v['aot_row']+1;?>"><?php echo $v['aof_name'];?></td>
                    </tr>
                    
                    <?php foreach($this->task[$value['id']][$v['aof_id']] as $i=>$j):?>
                    
                    <tr>
                        <td><!--TIÊU CHUẨN--> <?php echo $j['aot_target'];?></td>
                        <td><!-- NHIỆM VỤ--> <?php echo $j['aot_task'];?></td>
                        <td><!-- KỸ NĂNG--> <?php echo $j['aot_skill'];?></td>
                        <td><!-- TỶ TRỌNG(%)--> <?php echo $j['aot_ratio'];?></td>
                        <td><!-- TỰ ĐÁNH GIÁ--> <?php echo ($j['aot_self_appraisal'] == 0) ? "Chưa đánh giá" : $star[$j['aot_self_appraisal']]['name'];?></td>
                        <td><!-- TBP ĐÁNH GIÁ--> <?php echo ($j['aot_head_department_appraisal'] == 0) ? "Chưa đánh giá" : $star[$j['aot_head_department_appraisal']]['name'];?></td>
                        
                        <?php if($flag == 0):?>
                        <?php $flag = 1;?>
                        <td rowspan="50"><?php echo $total_point;?></td>
                        <td rowspan="50"><span class="label <?php echo $total_rank_label;?>" style="font-size: 15px;"><?php echo ($j['aot_head_department_appraisal'] == 0) ? 'Chưa đánh giá' : $total_rank;?></span></td>
                        <td rowspan="50"><?php echo ($j['aot_head_department_appraisal'] == 0) ? 'Chưa đánh giá' : $total_note;?></td>
                        <?php endif;?>
                    </tr>
                    <?php endforeach;?>
                    
                    <?php endforeach;?>
                    
                    
                
                </tbody>
              </table>
                
                
            </div>
            <!-- /widget-content --> 
          </div>
        <?php endforeach;?>
        
        
    </div>
    
</div>

<script type="text/javascript">
    
</script>