<style>
    i[class^='icon-'] {
        font-size: 15px;
        margin-right: 5px;
    }

    input, textarea {
        width: auto;
    }

    select {
        width: auto;
    }

    .input-error {
        visibility: hidden;
        font-size: 10px;
    }

    .input-error-show {
        color: red;
        font-size: 10px;
    }

    td {
        vertical-align: top !important;
        max-width: 120px;
        word-wrap: break-word;
    }

    .content_layout {
        overflow: unset !important;
    }
</style>

<div ng-app="app" ng-controller="appController">
    <div class="page-header row-fluid">
        <div class="span6">
            <h1>Kết Quả Đánh Giá</h1>
        </div>
        <div class="span6" style="text-align: right;">
            <a class="btn btn-info" ng-href="/appraisal-office/plan">Quay lại</a>
        </div>
    </div>
    <div class="accordion" id="accordion2">
        <div class="accordion-group">
            <div class="accordion-heading">
                <a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion2" href="#collapseTwo">
                    Search
                </a>
            </div>
            <div id="collapseTwo" class="accordion-body collapse" style="height: 0px;">
                <div class="accordion-inner">
                    <form class="form-search form-horizontal" method="get" action="">
                        <div class="row-fluid">
                            <div class="span6">
                                <div class="control-group">
                                    <label for="from_name" class="span2">Người đánh giá</label>
                                    <input name="from_name" type="text" class="input-medium search-query form-control" placeholder="Họ tên"
                                           value="<?php if (isset($this->params['from_name'])) echo $this->params['from_name']; ?>">
                                </div>
                                <div class="control-group">
                                    <label for="to_name" class="span2">Người nhận đánh giá</label>
                                    <input name="to_name" type="text" class="input-medium search-query form-control" placeholder="Họ tên"
                                           value="<?php if (isset($this->params['to_name'])) echo $this->params['to_name']; ?>">
                                </div>
                            </div>
                            
                            <!--
                            <div class="span6">
                                <div class="control-group">
                                    <label for="from_title" class="span2">Chức danh đánh giá</label>
                                    <select name="from_title">
                                        <option value="0">--</option>
                                    </select>
                                </div>
                                <div class="control-group">
                                    <label for="to_title" class="span2">Chức danh nhận đánh giá</label>
                                    <select name="to_title" value="<?php if (isset($this->params['to_title'])) echo $this->params['to_title']; ?>">
                                        <option value="0">--</option>
                                    </select>
                                </div>
                            </div>
                            -->
                        </div>
                        <input type="hidden" name="plan_id" value="<?php echo $this->params['plan_id'] ?>">

                        <button type="submit" class="btn btn-primary">Search</button>
                        <button type="reset" class="btn btn-warning">Reset</button>
                        
                        <!--
                        <button name="export" value="1" class="btn btn-success" type="submit">Export RSM/ASM</button>
                        <button name="export" value="2" class="btn btn-success" type="submit">Export Leader/Sale</button>
                        <button name="export" value="3" class="btn btn-success" type="submit">Export PGGB</button>
                        -->
                    </form>
                </div>
            </div>
        </div>
    </div>
    <div class="table-responsive">
        <table class="table table-bordered">
            <thead>
            <tr>
                <th>Người đánh giá</th>
                <th>Chức danh</th>
                <th>Người nhận đánh giá</th>
                <th>Chức danh</th>
                <th>Thời gian đánh giá</th>
                <th>Điểm</th>
                <th>Action</th>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="item in data.result">
                <td>
                    <span ng-bind="item.from_name"></span>
                </td>
                <td>
                    <span ng-bind="item.from_title"></span>
                </td>
                <td>
                    <span ng-bind="item.to_name"></span>
                </td>
                <td>
                    <span ng-bind="item.to_title"></span>
                </td>
                <td>
                    <span ng-bind="item.created_at"></span>
                </td>
                <td>
                    <span ng-bind="item.point == null ? '-' : item.point"></span>
                </td>
                <td>
                    <a href="" ng-click="action.viewDetail(item)">Xem chi tiết</a>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
    <div id="myModal" class="modal modal-lg hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                <h3 id="myModalLabel"
                    ng-bind="data.chooseItem.from_name + ' - ' + action.getTitleById(data.chooseItem.from_title)
                    + ' -- ĐÁNH GIÁ -- ' + data.chooseItem.to_name + ' - ' + action.getTitleById(data.chooseItem.to_title)"></h3>
            </div>
            <div class="modal-body">
                <div class="table-responsive">
                    <table class="table table-bordered">
                        <thead>
                        <tr>
                            <th>Câu hỏi</th>
                            <th>Trả lời</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr ng-repeat="item in data.resultDetail">
                            <td>
                                <span ng-bind="item.question"></span>
                            </td>
                            <td>
                                <span ng-bind="item.value"></span>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="modal-footer">
                <button class="btn" data-dismiss="modal" aria-hidden="true">Close</button>
            </div>
        </div>
    </div>


    <div class="paging">
        <?php echo $this->paging($this->total, 20, ($this->page - 1) * 20, $this->url.'&');?>
    </div>
    <link rel="stylesheet" href="<?php echo HOST ?>css/bootstrap-multiselect.css" type="text/css"/>
    <link rel="stylesheet" type="text/css" href="<?php echo HOST ?>css/jquery-ui-1.8.12.custom.css"/>
    <script type="text/javascript" src="<?php echo HOST ?>js/bootstrap-multiselect.js"></script>
    <script type="text/javascript" src="<?php echo HOST ?>js/jquery-ui-1.8.12.custom.min.js"></script>
    <script src="<?php echo HOST ?>form-builder/assets/js/sweetalert.min.js"></script>
</div>

<script src="/js/angular.min.js"></script>

<script type="text/javascript">
    var app = angular.module('app', []);
    app.controller('appController', function ($scope) {
        // Init
        $scope.data = {
            result: [],
            resultDetail: [],
            chooseItem: {},
        };

        // Action
        $scope.action = {
            getTitleById: getTitleById,
            formatDay: formatDay,
            viewDetail: viewDetail
        };

        // Data
        $scope.data.result = JSON.parse(`<?php echo $this->data ?>`);
        console.log($scope.data.result);

        // Watch
        $scope.$watch('data.resultDetail', function (newValue, oldValue, scope) {
            if($scope.data.resultDetail.length > 0) {
                $('#myModal').modal('show');
            }
        });

        function getTitleById(titleId) {
            switch (titleId) {
                case "462":
                    return 'Sale Manager';
                case "308":
                    return 'RSM';
                case "179":
                    return 'ASM';
                case "190":
                    return 'Leader';
                case "183":
                    return 'Sale';
                case "182":
                    return 'PG';
            }
        }

        function formatDay(date) {
            if(date == null) {
                return '-';
            }
            date = new Date(date);
            var dd = date.getDate();
            var mm = date.getMonth() + 1;
            var yyyy = date.getFullYear();

            if (dd < 10) {
                dd = '0' + dd;
            }
            if (mm < 10) {
                mm = '0' + mm;
            }
            return dd + '/' + mm + '/' + yyyy;
        }

        function viewDetail(item) {
            $.ajax({
                url: '/appraisal-office/get-result-detail',
                data: {
                    plan_id: item.fk_plan,
                    from_staff: item.from_staff,
                    to_staff: item.to_staff,
                },
                type: 'POST',
                dataType: 'json',
                success: function(data) {
                    if(data.status == 0) {
                        $scope.data.chooseItem = item;
                        $scope.data.resultDetail = data.data;
                        $scope.$apply();
                        if($scope.data.resultDetail.length == 0) {
                            swal("Result", 'Chưa thực hiện đánh giá!', "info");
                        }
                    } else {
                        swal("Result", data.message || data.error, "error");
                    }
                },
                error: function(data) {
                    swal("Result", "Có lỗi xảy ra, vui lòng tải lại trang!", "error");
                }
            });
        }
    });
</script>
