<table class="table_new no-more-tables" id="">
    <thead>
    <tr>
         <th>#</th>
        <th>Level Education</th>
        <th>Place of Study</th>
        <th>Graduated Year</th>
        <th>Mode of study</th>
    </tr>
    </thead>
    <tbody>
     <?php if (isset($this->education) && $this->education): ?>
        <?php foreach ($this->education as $key => $value): ?>
    <tr>
         <td data-title="#"><?php echo $key+1;?></td>
        <td data-title="Level Education:">
         <?php foreach($this->level_staff as $key => $val):?>
            <?php echo ($value['level_id'] ==  $val['id']) ? $val['name'] : '';?> 
        <?php endforeach;?>
        </td>
        <td data-title="Place of Study:"><?php echo $value['school'] ?></td>
        <td data-title="Graduated Year:"><?php echo $value['graduated_year'] ?></td>
        <td data-title="Mode of study:"><?php echo $value['mode_of_study'] ?></td>
       
    </tr>

     <?php endforeach ?>
     <?php endif ?>
     </tbody>
</table>