<table class="table_new no-more-tables">
    <thead>
    <tr>
         <th>#</th>
        <th>Relative Name</th>
        <th>Name</th>
        <th>Birth Year</th>
        <th>Job</th>
        <th>Work place</th>
    </tr>
    </thead>
    <tbody>
    <?php if (isset($this->relative) && $this->relative): ?>
    <?php foreach ($this->relative as $key => $value): ?>
    <tr>
         <td data-title="#"><?php echo $key+1;?></td>
        <td data-title="Relative Name:">
            <?php if (isset($value['relative_type']) && $value['relative_type'] == My_Staff_Relative::Father) echo "Father" ?>
            <?php if (isset($value['relative_type']) && $value['relative_type'] == My_Staff_Relative::Mother) echo "Mother" ?>
            <?php if (isset($value['relative_type']) && $value['relative_type'] == My_Staff_Relative::Husband) echo "Husband" ?>
            <?php if (isset($value['relative_type']) && $value['relative_type'] == My_Staff_Relative::Wife) echo "Wife" ?>
            <?php if (isset($value['relative_type']) && $value['relative_type'] == My_Staff_Relative::Brother) echo "Brother" ?>
            <?php if (isset($value['relative_type']) && $value['relative_type'] == My_Staff_Relative::Sister) echo "Sister" ?>
            <?php if (isset($value['relative_type']) && $value['relative_type'] == My_Staff_Relative::Child) echo "Child" ?>
        </td>
        <td data-title="Name:"><?php echo $value['full_name'] ?></td>
        <td data-title="Birth Year:"><?php if($value['birth_year'] != null AND $value['birth_year'] != '0000') echo $value['birth_year'] ?></td>
        <td data-title="Job:"><?php echo $value['job'] ?></td>
        <td data-title="Work place:"><?php echo $value['work_place'] ?></td>
    </tr>   
     <?php endforeach ?>
    <?php endif ?>
    </tbody>                        
</table>