<table class="table_new no-more-tables">
    <thead>
    <tr>
         <th>#</th>
        <th>Tên khóa</th>
        <th>Nội dung</th>
        <th>Tên cơ sở/trường</th>
        <th>Tên giảng viên</th>
        <th>Ngày bắt đầu</th>
        <th>Ngày kết thúc</th>
        <th>Chứng chỉ</th>
        <th>Ghi chú</th>
    </tr>
    </thead>
    <tbody>
    <tr>
         <td data-title="#"></td>
        <td data-title="Tên Khóa:"></td>
        <td data-title="Nội dung:"></td>
        <td data-title="Tên cơ sở/trường:"></td>
        <td data-title="Tên giảng viên:"></td>
        <td data-title="Ngày bắt đầu:"></td>
        <td data-title="Ngày kết thúc:"></td>
        <td data-title="Chứng chỉ:"></td>
        <td data-title="Ghi chú:"></td>
       
    </tr>  
    </tbody>                         
</table>