


<table class="table_new no-more-tables"  >
    <thead>
    <tr>
         <th>#</th>
        <th>Company name</th>
        <th>Job Position</th>
        <th>From</th>
        <th>To</th>
        <th>Reason for Leaving</th>
    </tr>
    </thead>
    <tbody>
    <?php if (isset($this->experience) && $this->experience): ?>
    <?php foreach ($this->experience as $key => $value): ?>
    <tr>
         <td data-title="#"><?php echo $key+1;?></td>
        <td data-title="Company name"><?php echo $value['company_name'] ?></td>
        <td data-title="Job Position"><?php echo $value['job_position'] ?></td>
        <td data-title="From"><?php echo date('d/m/Y',strtotime($value['from_date'])) ?></td>
        <td data-title="To"><?php echo date('d/m/Y',strtotime($value['to_date'])) ?></td>
        <td data-title="Reason for Leaving"><?php echo $value['reason_for_leaving'] ?></td>
    </tr> 
    <?php endforeach ?>
    <?php endif ?>                          
    </tbody>
</table>
