<style>
    .birth{width:12%}
    .content_layout {
        padding-left: 20px;
        padding-right: 20px;
    }
    
    
    
    .header_tad p, .header_tad i{
        font-size: 9px;
        line-height: 3px;    
    }
    
    .header_tad{
        height: 40px;
        border-bottom:none;
    }
    
    .card-body{
        width: 100%;
        display: block;
        position: relative;
    }
    
</style>

<div class="content_layout" style="width: 100%;min-height: 1000px;">
<style>
    .card{margin-bottom: 20px}
</style>

<div class="">
    <div class="page-header">
        <h1>Danh sách các khoản dự trù</h1>
        <div class="pull-right" style="margin-top: -25px">
            <div class="button-right">
                <a href="/request-office/create-budget-details" class="btn btn-success pull-right">Tạo mới</a>
            </div>
        </div>
    </div>
        <?php
        if (isset($this->messages_success) and $this->messages_success)
            foreach ($this->messages_success as $message):
                echo '<div class="alert alert-success">' . $message . '</div>';
            endforeach;

        if (isset($this->messages_error) and $this->messages_error)
            foreach ($this->messages_error as $message):
                echo '<div class="alert alert-danger">' . $message . '</div>';
            endforeach;
        ?>

    <div class="accordion" id="accordion2">
        <div class="accordion-group">
            <div class="accordion-heading">
                <a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion2" href="#collapseTwo">
                    Tìm kiếm
                </a>
            </div>
            <div id="collapseTwo" class="accordion-body collapse" style="height: 0px;">
                <div class="accordion-inner">
                    <form class="form-search form-horizontal" method="get" action="/request-office/budget-details">
                        <div class="row">
                            <div class="span6">
                                <div class="control-group">
                                    <h7 class="span2">Nội dung</h7>
                                    <input id="name" name="details" type="text" class="" value="<?php echo !empty($this->params["details"]) ? $this->params["details"] : NULL;?>">
                                </div>
                                
                                <div class="control-group">
                                    <h7 class="span2">Note</h7>
                                    <input name="note" type="text" class="" value="<?php echo !empty($this->params["note"]) ? $this->params["note"] : NULL;?>">
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-12">
                                <div class="control-group">
                                <button type="submit" class="btn btn-primary button-right">Tìm kiếm</button>
                                </div>
                            </div>
                        </div>
                </div>
            </div>
        </div>
    </div>

    <div class="table-responsive">
            <table class="table table table-bordered  table-responsive">
                <thead>
                    <tr>
                        <th>#</th>
                        <th>Nhóm hạng mục</th>
                        <th>Dự trù cho tháng</th>
                        <th>Team</th>
                        <th>Nhà cung cấp</th>
                        <th>Nội dung</th>
                        <th>Note</th>
                        <th>Tổng tiền dự trù</th>
                        <th>Đã thanh toán</th>
                        <!--
                        <th><span>Start</span></th>
                        <th><span>Finish</span></th>
                        <th><span>Tăng/Giảm</span></th>
                        <th><span>CP nghiệm thu | Actual (+VAT)</span></th>
                        <th><span>CP nghiệm thu | Actual (-VAT)</span></th>
                        <th><span>Thuế TNCN</span></th>
                        <th><span>Chưa TT</span></th>
                        <th><span>Ngày TT</span></th>
                        <th><span>Ngày hóa đơn</span></th>
                        <th><span>Số hóa đơn</span></th>
                        -->
                        <th><span></span></th>
                    </tr>
                </thead>

                <tbody>
                    
                    <?php 
                        $total = 0;
                    ?>
                    
                    <?php foreach($this->list as $key=>$value):?>
                    
                    <?php 
                        $total = $total + $value['price'];
                    ?>
                    
                    <tr>
                        <td>
                            <?php
                                $inc = $this->offset + $key + 1;
                                echo $inc;
                            ?>
                        </td>
                        <td>
                            <i class="icon icon-caret-left" style="font-size: 5px;"></i> <?php echo $value['group_title'];?><br>
                            <i class="icon icon-caret-left" style="font-size: 5px;"></i> <?php echo $value['group_type_title'];?>
                        </td>
                        <td>
                            <i class="icon icon-calendar" style="font-size: 11px;color: green;"></i> <?php echo $value['month'];?>/<?php echo $value['year'];?><br>
                            <i class="icon icon-hdd" style="font-size: 11px;color: green;"></i> Project <?php echo $value['project_name'];?><br>
                        </td>
                        <td><span class="text-primary"><?php echo $value['team_name'];?></span></td>
                        <td><?php echo $value['supplier_name'];?></td>
                        <td><?php echo $value['details'];?></td>
                        <td><?php echo $value['note'];?></td>
                        <td style="text-align: right !important;"><?php echo number_format($value['total_price'], 0, ',', '.');?></td>
                        <td style="text-align: right !important;"><a href="/request-office/list-request?plan_info_id=<?php echo $value['plan_info_id'];?>"><?php echo number_format($value['total_payment'], 0, ',', '.');?></a></td>
                        <!--
                        <td><?php echo date('d/m/Y', strtotime($value['from_date']));?></td>
                        <td><?php echo date('d/m/Y', strtotime($value['to_date']));?></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        -->
                        <td>
                            <a href="/request-office/edit-budget-details?id=<?php echo $value['id'];?>">Edit</a>
                        </td>
                    </tr>
                    <?php endforeach;?>
                    
                    <!--
                    <tr style="background: #f5f5f5">
                        <td colspan="8">Total</td>
                        <td style="text-align: right !important;"><?php echo number_format($total, 0, ',', '.');?></td>
                        <td colspan="10"></td>
                    </tr>
                    -->

                </tbody>
            </table>

            <div class="paging">
                <?php echo $this->paging($this->total, $this->limit, $this->offset, $this->url); ?>
            </div>
        </div>


</div>

<script type="text/javascript" src="/js/jquery-ui-1.8.12.custom.min.js"></script>
<link rel="stylesheet" type="text/css" href="/css/jquery-ui-1.8.12.custom.css">
<script src="../js/tag-it.min.js" type="text/javascript" charset="utf-8"></script>
<link href="../css/jquery.tagit.css" rel="stylesheet" type="text/css">
<link href="../css/tagit.ui-zendesk.css" rel="stylesheet" type="text/css">

<script type="text/javascript" src="/js/bootstrap-datetimepicker.min.js"></script>
<link rel="stylesheet" type="text/css" href="/css/bootstrap-datetimepicker.min.css">
<script type="text/javascript" src="/js/sweetalert2.all.min.js"></script>
