<style>
    .birth{width:12%}
    .content_layout {
        padding-left: 20px;
        padding-right: 20px;
    }
</style>

<div class="content_layout">
    <div class="page-header">
        <h1>Budget</h1>
    </div>
    
    <div class="container-fluid">
        <div class="row">
            <div class="table_main span6" style="min-height: auto;">
                <div class="header_tad"><h2 style="font-size: 15px;">BUDGET OVERVIEW</h2></div>
                <div class="content_tad">
                    <div class="alert alert-info">
                        <strong> <i class="icon icon-bar-chart"></i> Budget Report</strong> <a href="/request-office/budget-chart" target="_blank" style="text-decoration: underline">View details</a>
                    </div>

                    <div class="alert alert-info">
                        <strong> <i class="icon icon-money"></i> Budget Overview</strong> <a href="/request-office/budget-test" target="_blank" style="text-decoration: underline">View details</a>
                    </div>
                    
                    <!--                        <div class="alert alert-info">
                            <h4> <i class="icon icon-bar-chart"></i> Các báo cáo ngân sách <a href="/request-office/budget" style="font-weight: normal;text-decoration: underline">View details</a></h4> 
                            Báo cáo ngân sách theo tháng, theo dự án, theo quý,...
                        </div>-->
                    
                </div>
            </div><!-- span6 -->
            
            <div class="table_main span6" style="min-height: auto;">
                <div class="header_tad"><h2 style="font-size: 15px;">LIST AND CREATE</h2></div>
                <div class="content_tad">
                    
                    <?php if($this->access('request-office', 'budget-department')):?>
                    <div class="alert alert-info">
                        <strong> <i class="icon icon-sitemap"></i> Budget Department</strong> <a href="/request-office/budget-department" target="_blank" style="text-decoration: underline">View details</a>
                    </div>
                    <?php endif;?>
                    
                    <div class="alert alert-info">
                        <strong> <i class="icon icon-plus-sign"></i> Create Budget</strong> <a href="/request-office/create-budget" target="_blank" style="text-decoration: underline">View details</a>
                    </div>

                    <div class="alert alert-info">
                        <strong> <i class="icon icon-list"></i> List Budget</strong> <a href="/request-office/list-budget" target="_blank" style="text-decoration: underline">View details</a>
                    </div>

                    <div class="alert alert-info">
                        <strong> <i class="icon icon-retweet"></i> The budgets are requesting adjustments</strong> <a href="/request-office/budget-change" target="_blank" style="text-decoration: underline">View details</a>
                    </div>
                </div>
            </div><!-- span6 -->
            
            <div class="table_main span6" style="min-height: auto;">
                <div class="header_tad"><h2 style="font-size: 15px;">TYPE OF BUDGET</h2></div>
                <div class="content_tad">
                    
                    <div class="alert alert-info">
                        <strong> <i class="icon icon-th"></i> Category Budget</strong> <a href="/request-office/list-type" target="_blank" style="text-decoration: underline">View details</a>
                    </div>
                    
                    <div class="alert alert-info">
                        <strong> <i class="icon icon-paste"></i> Project</strong> <a href="/request-office/list-project" target="_blank" style="text-decoration: underline">View details</a>
                    </div>

                    <div class="alert alert-info">
                        <strong> <i class="icon icon-user"></i> Supplier</strong> <a href="/purchasing/supplier" target="_blank" style="text-decoration: underline">View details</a>
                    </div>

                    <div class="alert alert-info">
                        <strong> <i class="icon icon-copy"></i> Contract</strong> <a href="/request-office/list-contract" target="_blank"  style="text-decoration: underline">View details</a>
                    </div>
                </div>
            </div><!-- span6 -->
            
            
        </div><!-- row -->
    </div><!-- row - fluid -->
    
</div>


<script type="text/javascript" src="/js/jquery-ui-1.8.12.custom.min.js"></script>
<link rel="stylesheet" type="text/css" href="/css/jquery-ui-1.8.12.custom.css">
<script src="../js/tag-it.min.js" type="text/javascript" charset="utf-8"></script>
<link href="../css/jquery.tagit.css" rel="stylesheet" type="text/css">
<link href="../css/tagit.ui-zendesk.css" rel="stylesheet" type="text/css">

<script type="text/javascript" src="/js/bootstrap-datetimepicker.min.js"></script>
<link rel="stylesheet" type="text/css" href="/css/bootstrap-datetimepicker.min.css">
<script type="text/javascript" src="/js/sweetalert2.all.min.js"></script>
