<style>
    .birth{width:12%}
    #container{width: 100%}
    .table_budget tr th{
        background: green !important;
    }
    .table_budget tr th span {
        font-weight: normal;
        color: #FFF;
        font-size: 12px;
        padding: 3px;
    }
    
    .table_budget tr td {
        text-align: right !important;
        padding: 0px !important;
    }
    
    .table_budget span {
        font-size: 12px;
        padding: 3px;
    }
    
    .table_budget tr td:nth-child(0) {
        text-align: left !important;
    }
    
    .table_budget tr td:nth-child(1) {
        text-align: left !important;
    }
    
    .table_budget tr .td_red{
        background: #15607A;
        color: #FFF;
    }
    
    .table_budget tr .td_red span{
        color:#FFF;
    }
    
    
</style>



<div class="content_layout">
    <div class="page-header">
        <h1>Budget Chart - <b style="color:blue"><?php echo !empty($this->str_project) ? $this->str_project : 'Total';?></b></h1>
    </div>
    
    <div class="accordion" id="accordion2">
        <div class="accordion-group">
            <div class="accordion-heading">
                <a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion2" href="#collapseTwo">
                    Search
                </a>
            </div>
            <div id="collapseTwo" class="accordion-body collapse" style="height: 0px;">
                <div class="accordion-inner">
                    <form class="form-search form-horizontal" method="get" action="">
                        <div class="row-fluid">

                            <div class="span6">

                                <div class="control-group">
                                    <label for="project" class="span2">Project</label>

                                    <div class="span3">
                                        <select name="project[]" id="project" class="span3 multiselect" multiple="multiple">
                                            <option value="BRAND" <?php echo (!empty($this->params['project']) AND in_array('BRAND', $this->params['project']) ) ? 'selected' : NULL;?>>BRAND</option>
                                            <option value="FIND SERIES" <?php echo (!empty($this->params['project']) AND in_array('FIND SERIES', $this->params['project']) ) ? 'selected' : NULL;?>>FIND SERIES</option>
                                            <option value="RENO SERIES" <?php echo (!empty($this->params['project']) AND in_array('RENO SERIES', $this->params['project']) ) ? 'selected' : NULL;?>>RENO SERIES</option>
                                            <option value="A SERIES" <?php echo (!empty($this->params['project']) AND in_array('A SERIES', $this->params['project']) ) ? 'selected' : NULL;?>>A SERIES</option>
                                            <option value="OTHER" <?php echo (!empty($this->params['project']) AND in_array('OTHER', $this->params['project']) ) ? 'selected' : NULL;?>>OTHER</option>
                                        </select>
                                    </div>

                                </div>

                            </div><!-- span6 -->
                        </div>

                        <input type="hidden" name="plan_id" value="<?php echo $this->params['plan_id'];?>" />
                        <button type="submit" class="btn btn-primary">Search</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
    
    <div class="container-fluid">
        <div class="row">
            <div class="table_main">
                <div class="header_tad"><h2>MARKETING</h2></div>
                <div class="content_tad">
                    <div id="container" style="width: 100%;height: auto; margin: 0 auto;"></div>
                </div>
            </div>
        </div><!-- row -->
        
        <div class="row">
            <div class="table_main">
                <div class="header_tad"><h2>TỔNG QUAN (<?php echo !empty($this->str_project) ? $this->str_project : 'Total';?>)</h2></div>
                <div class="content_tad">
                    <div class="table_budget span12" style="margin-left: 0px;">
                        <table class="table_budget">
                            <tr>
                                <th style="width:150px"><span>2020 Budget</span></th>
                                <th style="width:150px"><span>Category Fee</span></th>
                                <th style="width:100px"><span>Q1</span></th>
                                <th style="width:100px"><span>Q2</span></th>
                                <th style="width:100px"><span>Q3</span></th>
                                <th style="width:100px"><span>Q4</span></th>
                                <th style="width:100px"><span>Total</span></th>
                                <th style="width:100px"><span>%</span></th>
                            </tr>
                            
                            <tr>
                                <td rowspan="6"><span>AGENCY</span></td>
                            </tr>
                            
                            <tr>
                                <td><span>CREATIVE RETAINER</span></td>
                                <td><span>634,500,000</span></td>
                                <td><span>100,500,000</span></td>
                                <td><span>735,000,000</span></td>
                                <td><span>735,000,000</span></td>
                                <td><span>735,000,000</span></td>
                                <td><span>2%</span></td>
                            </tr>
                            
                            <tr>
                                <td><span>RESEARCH</span></td>
                                <td><span>634,500,000</span></td>
                                <td><span>100,500,000</span></td>
                                <td><span>735,000,000</span></td>
                                <td><span>735,000,000</span></td>
                                <td><span>735,000,000</span></td>
                                <td><span>2%</span></td>
                            </tr>
                            
                            <tr>
                                <td><span>PRODUCTION</span></td>
                                <td><span>634,500,000</span></td>
                                <td><span>100,500,000</span></td>
                                <td><span>735,000,000</span></td>
                                <td><span>735,000,000</span></td>
                                <td><span>735,000,000</span></td>
                                <td><span>2%</span></td>
                            </tr>
                            
                            <tr>
                                <td><span>PR AGENCY</span></td>
                                <td><span>634,500,000</span></td>
                                <td><span>100,500,000</span></td>
                                <td><span>735,000,000</span></td>
                                <td><span>735,000,000</span></td>
                                <td><span>735,000,000</span></td>
                                <td><span>2%</span></td>
                            </tr>
                            
                            <tr>
                                <td><span>MEDIA AGENCY</span></td>
                                <td><span>634,500,000</span></td>
                                <td><span>100,500,000</span></td>
                                <td><span>735,000,000</span></td>
                                <td><span>735,000,000</span></td>
                                <td><span>735,000,000</span></td>
                                <td><span>2%</span></td>
                            </tr>
                            
                            <tr>
                                <td rowspan="9"><span>PAID MEDIA</span></td>
                            </tr>
                            
                            <tr>
                                <td><span>ADS NETWORK</span></td>
                                <td><span>634,500,000</span></td>
                                <td><span>100,500,000</span></td>
                                <td><span>735,000,000</span></td>
                                <td><span>735,000,000</span></td>
                                <td><span>735,000,000</span></td>
                                <td><span>2%</span></td>
                            </tr>
                            
                            <tr>
                                <td><span>YOUTUBE</span></td>
                                <td><span>634,500,000</span></td>
                                <td><span>100,500,000</span></td>
                                <td><span>735,000,000</span></td>
                                <td><span>735,000,000</span></td>
                                <td><span>735,000,000</span></td>
                                <td><span>2%</span></td>
                            </tr>
                            
                            <tr>
                                <td><span>SEARCH</span></td>
                                <td><span>634,500,000</span></td>
                                <td><span>100,500,000</span></td>
                                <td><span>735,000,000</span></td>
                                <td><span>735,000,000</span></td>
                                <td><span>735,000,000</span></td>
                                <td><span>2%</span></td>
                            </tr>
                            
                            <tr>
                                <td><span>SOCIAL</span></td>
                                <td><span>634,500,000</span></td>
                                <td><span>100,500,000</span></td>
                                <td><span>735,000,000</span></td>
                                <td><span>735,000,000</span></td>
                                <td><span>735,000,000</span></td>
                                <td><span>2%</span></td>
                            </tr>
                            
                            <tr>
                                <td><span>SOCIAL INFLUENCER</span></td>
                                <td><span>634,500,000</span></td>
                                <td><span>100,500,000</span></td>
                                <td><span>735,000,000</span></td>
                                <td><span>735,000,000</span></td>
                                <td><span>735,000,000</span></td>
                                <td><span>2%</span></td>
                            </tr>
                            
                            <tr>
                                <td><span>TV</span></td>
                                <td><span>634,500,000</span></td>
                                <td><span>100,500,000</span></td>
                                <td><span>735,000,000</span></td>
                                <td><span>735,000,000</span></td>
                                <td><span>735,000,000</span></td>
                                <td><span>2%</span></td>
                            </tr>
                            
                            <tr>
                                <td><span>OOH</span></td>
                                <td><span>634,500,000</span></td>
                                <td><span>100,500,000</span></td>
                                <td><span>735,000,000</span></td>
                                <td><span>735,000,000</span></td>
                                <td><span>735,000,000</span></td>
                                <td><span>2%</span></td>
                            </tr>
                            
                            <tr>
                                <td><span>CINEMA</span></td>
                                <td><span>634,500,000</span></td>
                                <td><span>100,500,000</span></td>
                                <td><span>735,000,000</span></td>
                                <td><span>735,000,000</span></td>
                                <td><span>735,000,000</span></td>
                                <td><span>2%</span></td>
                            </tr>
                            
                            <tr>
                                <td rowspan="6"><span>PR & ACTIVATIONS</span></td>
                            </tr>
                            
                            <tr>
                                <td><span>PR PAID CONTENT</span></td>
                                <td><span>634,500,000</span></td>
                                <td><span>100,500,000</span></td>
                                <td><span>735,000,000</span></td>
                                <td><span>735,000,000</span></td>
                                <td><span>735,000,000</span></td>
                                <td><span>2%</span></td>
                            </tr>
                            
                            <tr>
                                <td><span>ACTIVATIONS</span></td>
                                <td><span>634,500,000</span></td>
                                <td><span>100,500,000</span></td>
                                <td><span>735,000,000</span></td>
                                <td><span>735,000,000</span></td>
                                <td><span>735,000,000</span></td>
                                <td><span>2%</span></td>
                            </tr>
                            
                            <tr>
                                <td><span>Relationship</span></td>
                                <td><span>634,500,000</span></td>
                                <td><span>100,500,000</span></td>
                                <td><span>735,000,000</span></td>
                                <td><span>735,000,000</span></td>
                                <td><span>735,000,000</span></td>
                                <td><span>2%</span></td>
                            </tr>
                            
                            <tr>
                                <td><span>PR Production</span></td>
                                <td><span>634,500,000</span></td>
                                <td><span>100,500,000</span></td>
                                <td><span>735,000,000</span></td>
                                <td><span>735,000,000</span></td>
                                <td><span>735,000,000</span></td>
                                <td><span>2%</span></td>
                            </tr>
                            
                            <tr>
                                <td><span>Others (Back-up)</span></td>
                                <td><span>634,500,000</span></td>
                                <td><span>100,500,000</span></td>
                                <td><span>735,000,000</span></td>
                                <td><span>735,000,000</span></td>
                                <td><span>735,000,000</span></td>
                                <td><span>2%</span></td>
                            </tr>
                            
                            <tr>
                                <td rowspan="2"><span>EVENTS & EXHIBITIONS</span></td>
                            </tr>
                            
                            <tr>
                                <td><span>EVENTS & EXHIBITIONS</span></td>
                                <td><span>634,500,000</span></td>
                                <td><span>100,500,000</span></td>
                                <td><span>735,000,000</span></td>
                                <td><span>735,000,000</span></td>
                                <td><span>735,000,000</span></td>
                                <td><span>2%</span></td>
                            </tr>
                            
                            <tr>
                                <td rowspan="2"><span>BRAND PARTNERSHIP & CRM</span></td>
                            </tr>
                            
                            <tr>
                                <td><span>BRAND PARTNERSHIP & CRM</span></td>
                                <td><span>634,500,000</span></td>
                                <td><span>100,500,000</span></td>
                                <td><span>735,000,000</span></td>
                                <td><span>735,000,000</span></td>
                                <td><span>735,000,000</span></td>
                                <td><span>2%</span></td>
                            </tr>
                            
                            <tr>
                                <td rowspan="2"><span>MOBILE COST</span></td>
                            </tr>
                            
                            <tr>
                                <td><span>MOBILE COST</span></td>
                                <td><span>634,500,000</span></td>
                                <td><span>100,500,000</span></td>
                                <td><span>735,000,000</span></td>
                                <td><span>735,000,000</span></td>
                                <td><span>735,000,000</span></td>
                                <td><span>2%</span></td>
                            </tr>
                            
                            <tr>
                                <td rowspan="2"><span>OTHERS (please detail out)</span></td>
                            </tr>
                            
                            <tr>
                                <td><span>OTHERS (please detail out)</span></td>
                                <td><span>634,500,000</span></td>
                                <td><span>100,500,000</span></td>
                                <td><span>735,000,000</span></td>
                                <td><span>735,000,000</span></td>
                                <td><span>735,000,000</span></td>
                                <td><span>2%</span></td>
                            </tr>
                            
                            <tr>
                                <td rowspan="2"><span>Back Up</span></td>
                            </tr>
                            
                            <tr>
                                <td><span>Back Up</span></td>
                                <td><span>634,500,000</span></td>
                                <td><span>100,500,000</span></td>
                                <td><span>735,000,000</span></td>
                                <td><span>735,000,000</span></td>
                                <td><span>735,000,000</span></td>
                                <td><span>2%</span></td>
                            </tr>
                            
                            <tr>
                                <td rowspan="2"><span>HR OPERATION COST</span></td>
                            </tr>
                            
                            <tr>
                                <td><span>HR OPERATION COST</span></td>
                                <td><span>634,500,000</span></td>
                                <td><span>100,500,000</span></td>
                                <td><span>735,000,000</span></td>
                                <td><span>735,000,000</span></td>
                                <td><span>735,000,000</span></td>
                                <td><span>2%</span></td>
                            </tr>
                            
                            <tr>
                                <td rowspan="2"><span>SPONSORSHIP & TALENT</span></td>
                            </tr>
                            
                            <tr>
                                <td><span>SPONSORSHIP & TALENT</span></td>
                                <td><span>634,500,000</span></td>
                                <td><span>100,500,000</span></td>
                                <td><span>735,000,000</span></td>
                                <td><span>735,000,000</span></td>
                                <td><span>735,000,000</span></td>
                                <td><span>2%</span></td>
                            </tr>
                            
                            
                            <tr>
                                <td colspan="2" class="td_red"><span>Total:</span></td>
                                <td class="td_red"><span>634,500,000</span></td>
                                <td class="td_red"><span>100,500,000</span></td>
                                <td class="td_red"><span>735,000,000</span></td>
                                <td class="td_red"><span>735,000,000</span></td>
                                <td class="td_red"><span>735,000,000</span></td>
                                <td class="td_red"><span>100%</span></td>
                            </tr>
                            
                        </table>
                    </div><!-- table_budget -->
                    
                    <div class="wrap_pie_chart span4" style="float: right">
                        <div id="pie_chart" style="width: 100%;height: auto; margin: 0 auto;"></div>
                    </div><!-- wrap_pie_chart -->
                    
                </div>
            </div>
        </div><!-- row -->
        
        <div class="row">
            <div class="table_main">
                <div class="header_tad"><h2>BY MONTH</h2></div>
                <div class="content_tad">
                    <div class="row">
                        <div id="chart_month" style="width: 100%;height: auto; margin: 0 auto;"></div>
                    </div>
                    
                    <div class="row">
                        <h3>Chi tiết các khoản thực chi 2020</h3>
                        <table class="table_budget">
                            <tr>
                                <th style="width:150px"><span>Group Category</span></th>
                                <th style="width:150px"><span>Category</span></th>
                                <th style="width:150px"><span>Month</span></th>
                                <th style="width:100px"><span>Campaign</span></th>
                                <th style="width:100px"><span>Team</span></th>
                                <th style="width:100px"><span>Content</span></th>
                                <th style="width:100px"><span>Supplier</span></th>
                                <th style="width:100px"><span>Contract</span></th>
                                <th style="width:100px"><span>Budget</span></th>
                                <th style="width:100px"><span>Thanh toán</span></th>
                                <th style="width:100px"><span>Chưa thanh toán</span></th>
                            </tr>
                            
                            
                            <tr>
                                <td><span>AGENCY</span></td>
                                <td><span>CREATIVE RETAINER</span></td>
                                <td><span>1</span></td>
                                <td><span>BRAND</span></td>
                                <td><span>PR</span></td>
                                <td><span>Chi phí Reseach</span></td>
                                <td><span>CÔNG TY TNHH TM DV QUẢNG CÁO BLUE CLOUD</span></td>
                                <td><span>Hợp đồng A CÔNG TY CỔ PHẦN VCCORP</span></td>
                                <td><span>10,000,000</span></td>
                                <td><span>2,000,000</span></td>
                                <td><span>8,000,000</span></td>
                            </tr>
                            
                            <tr>
                                <td><span>AGENCY</span></td>
                                <td><span>CREATIVE RETAINER</span></td>
                                <td><span>1</span></td>
                                <td><span>BRAND</span></td>
                                <td><span>PR</span></td>
                                <td><span>Chi phí Reseach</span></td>
                                <td><span>CÔNG TY TNHH TM DV QUẢNG CÁO BLUE CLOUD</span></td>
                                <td><span>Hợp đồng A CÔNG TY CỔ PHẦN VCCORP</span></td>
                                <td><span>10,000,000</span></td>
                                <td><span>2,000,000</span></td>
                                <td><span>8,000,000</span></td>
                            </tr>
                            
                            <tr>
                                <td><span>AGENCY</span></td>
                                <td><span>CREATIVE RETAINER</span></td>
                                <td><span>1</span></td>
                                <td><span>BRAND</span></td>
                                <td><span>PR</span></td>
                                <td><span>Chi phí Reseach</span></td>
                                <td><span>CÔNG TY TNHH TM DV QUẢNG CÁO BLUE CLOUD</span></td>
                                <td><span>Hợp đồng A CÔNG TY CỔ PHẦN VCCORP</span></td>
                                <td><span>10,000,000</span></td>
                                <td><span>2,000,000</span></td>
                                <td><span>8,000,000</span></td>
                            </tr>
                            
                            <tr>
                                <td><span>AGENCY</span></td>
                                <td><span>CREATIVE RETAINER</span></td>
                                <td><span>2</span></td>
                                <td><span>BRAND</span></td>
                                <td><span>PR</span></td>
                                <td><span>Chi phí Reseach</span></td>
                                <td><span>CÔNG TY TNHH TM DV QUẢNG CÁO BLUE CLOUD</span></td>
                                <td><span>Hợp đồng A CÔNG TY CỔ PHẦN VCCORP</span></td>
                                <td><span>10,000,000</span></td>
                                <td><span>2,000,000</span></td>
                                <td><span>8,000,000</span></td>
                            </tr>
                            
                            <tr>
                                <td><span>AGENCY</span></td>
                                <td><span>CREATIVE RETAINER</span></td>
                                <td><span>2</span></td>
                                <td><span>BRAND</span></td>
                                <td><span>PR</span></td>
                                <td><span>Chi phí Reseach</span></td>
                                <td><span>CÔNG TY TNHH TM DV QUẢNG CÁO BLUE CLOUD</span></td>
                                <td><span>Hợp đồng A CÔNG TY CỔ PHẦN VCCORP</span></td>
                                <td><span>10,000,000</span></td>
                                <td><span>2,000,000</span></td>
                                <td><span>8,000,000</span></td>
                            </tr>
                            
                            <tr>
                                <td><span>AGENCY</span></td>
                                <td><span>CREATIVE RETAINER</span></td>
                                <td><span>2</span></td>
                                <td><span>BRAND</span></td>
                                <td><span>PR</span></td>
                                <td><span>Chi phí Reseach</span></td>
                                <td><span>CÔNG TY TNHH TM DV QUẢNG CÁO BLUE CLOUD</span></td>
                                <td><span>Hợp đồng A CÔNG TY CỔ PHẦN VCCORP</span></td>
                                <td><span>10,000,000</span></td>
                                <td><span>2,000,000</span></td>
                                <td><span>8,000,000</span></td>
                            </tr>
                            
                            <tr>
                                <td><span>AGENCY</span></td>
                                <td><span>CREATIVE RETAINER</span></td>
                                <td><span>2</span></td>
                                <td><span>BRAND</span></td>
                                <td><span>PR</span></td>
                                <td><span>Chi phí Reseach</span></td>
                                <td><span>CÔNG TY TNHH TM DV QUẢNG CÁO BLUE CLOUD</span></td>
                                <td><span>Hợp đồng A CÔNG TY CỔ PHẦN VCCORP</span></td>
                                <td><span>10,000,000</span></td>
                                <td><span>2,000,000</span></td>
                                <td><span>8,000,000</span></td>
                            </tr>
                            
                            <tr>
                                <td><span>AGENCY</span></td>
                                <td><span>CREATIVE RETAINER</span></td>
                                <td><span>2</span></td>
                                <td><span>BRAND</span></td>
                                <td><span>PR</span></td>
                                <td><span>Chi phí Reseach</span></td>
                                <td><span>CÔNG TY TNHH TM DV QUẢNG CÁO BLUE CLOUD</span></td>
                                <td><span>Hợp đồng A CÔNG TY CỔ PHẦN VCCORP</span></td>
                                <td><span>10,000,000</span></td>
                                <td><span>2,000,000</span></td>
                                <td><span>8,000,000</span></td>
                                
                            </tr>
                            
                        </table>
                    </div>
                    
                </div>
            </div>
        </div><!-- row -->
        
<!--        <div class="row">
            <div class="table_main">
                <div class="header_tad"><h2>THEO THÁNG</h2></div>
                <div class="content_tad">
                    <div id="chart_month" style="width: 100%;height: auto; margin: 0 auto;"></div>
                </div>
            </div>
        </div> row -->
        
    </div><!-- container-fluid -->

</div>


<script src="https://code.highcharts.com/highcharts.js"></script>
<script src="https://code.highcharts.com/modules/exporting.js"></script>
<script src="https://code.highcharts.com/modules/export-data.js"></script>
<script src="https://code.highcharts.com/modules/accessibility.js"></script>

<script type="text/javascript" src="/js/jquery-ui-1.8.12.custom.min.js"></script>
<link rel="stylesheet" type="text/css" href="/css/jquery-ui-1.8.12.custom.css">
<script src="../js/tag-it.min.js" type="text/javascript" charset="utf-8"></script>
<link href="../css/jquery.tagit.css" rel="stylesheet" type="text/css">
<link href="../css/tagit.ui-zendesk.css" rel="stylesheet" type="text/css">

<script type="text/javascript" src="/js/bootstrap-datetimepicker.min.js"></script>
<link rel="stylesheet" type="text/css" href="/css/bootstrap-datetimepicker.min.css">
<script type="text/javascript" src="/js/sweetalert2.all.min.js"></script>

<script>;
    
    var chart = Highcharts.chart('container', {
        chart: {
            type: 'column',
            marginLeft: 45,
            marginRight: 5,
            x: 60,
            height:600,
            events: {
                load: function () {
                    this.series[0].options.pointWidth = this.series[0].barW + 20;
                    this.series[0].update(this.series[0].options);
                    this.series[1].options.pointWidth = this.series[1].barW + 20;
                    this.series[1].update(this.series[1].options);
                },
            }
        },
        title: {
            text: 'Ngân sách - Thực chi các hạng mục năm 2020 (<?php echo !empty($this->str_project) ? $this->str_project : 'Total';?>)',
            style:{
            color: '#008B56',
                    fontSize: '16px'
            }
        },
        xAxis: {
            categories: ['AGENCY','INTERNAL PRODUCTION','PAID MEDIA','PR AND ACTIVATIONS','EVENTS AND EXHIBITIONS','PARTNERSHIP','SPONSORSHIP','TALENT FEE','MOBILE COST','OTHERS','Back Up'],
        },
            yAxis: {
            min: 0,
                    title: {
                    text: 'Chiếc',
                            "textAlign": 'right',
                            "rotation": 0,
                            x: -40,
                            y: -260,
                            enable: false
                    },
                    stackLabels: {
                    enabled: false,
                            style: {
                            fontWeight: 'bold',
                                    color: (Highcharts.theme && Highcharts.theme.textColor) || 'gray'
                            }
                    }
            },
            legend:{
            itemStyle: {
            fontSize:'10px'
            },
                    align: 'center',
                    verticalAlign:'bottom'
            },
            tooltip: {
            headerFormat: '<b>{point.x}</b><br/>',
                    pointFormat: '{series.name}: {point.y}<br/>Total: {point.stackTotal}'
            },
            plotOptions: {
                column: {
                    stacking: 'normal',
                    dataLabels: {
                        enabled: true,
                        style:{
                            color: '#FFF',
                            fontSize: '11px',
                            fontWeight: 'normal',
                            textOutline: false,
                        } 
                    }
                },
                series: {
                    events: {
                        legendItemClick: function() {
                            //alert('123456');
                            //return false;
                        }
                    }
                }
            },
            exporting: {buttons: [{enabled: false,}]},
            series: [
                {
                name: 'Budget còn lại',
                        yAxis: 0,
                        color: '#09BB9F',
                        data: [20512,16372,15715,15026,11712,10395,10479,15183,10286,9561,10062],
                },
                {
                name: 'Đã thực chi',
                        yAxis: 0,
                        color: '#15607A',
                        data: [12632,10529,10337,11253,8695,8505,9707,11186,6758,7200,6057],
                },
            ]

    });
    
    chart.xAxis[0].labelGroup.element.childNodes.forEach(function(label)
    {
        label.style.cursor = "pointer";
        label.onclick = function(){
            var category_name = this.textContent;
            window.open("/request-office/budget-chart-category?category_name="+category_name);
        }
    });
    
    
    // Build the chart
    var pie_chart = Highcharts.chart('pie_chart', {
        chart: {
            plotBackgroundColor: null,
            plotBorderWidth: null,
            plotShadow: false,
            type: 'pie'
        },
        title: {
            text: 'Tổng Ngân sách (<?php echo !empty($this->str_project) ? $this->str_project : 'Total';?>)'
        },
        tooltip: {
            pointFormat: '{series.name}: <b>{point.percentage:.1f}%</b>'
        },
        accessibility: {
            point: {
                valueSuffix: '%'
            }
        },
        plotOptions: {
            pie: {
                allowPointSelect: true,
                cursor: 'pointer',
                dataLabels: {
                    enabled: false
                },
                showInLegend: true
            }
        },
        exporting: {buttons: [{enabled: false,}]},
        series: [{
            name: 'Budget',
            colorByPoint: true,
            data: [{
                name: 'Đã thực chi',
                color: '#15607A',
                y: 60,
                //sliced: true,
                //selected: true
            }, {
                name: 'Budget Còn lại',
                color: '#09BB9F',
                y: 40
            }, ]
        }]
    });
    
    
    
    var chart_month = Highcharts.chart('chart_month', {
        chart: {
            type: 'column',
            marginLeft: 45,
            marginRight: 5,
            x: 60,
            height:600,
            events: {
                load: function () {
                    this.series[0].options.pointWidth = this.series[0].barW + 20;
                    this.series[0].update(this.series[0].options);
                    this.series[1].options.pointWidth = this.series[1].barW + 20;
                    this.series[1].update(this.series[1].options);
                },
            }
        },
        title: {
            text: 'Ngân sách - Thực chi các hạng mục theo tháng năm 2020 (<?php echo !empty($this->str_project) ? $this->str_project : 'Total';?>)',
            style:{
            color: '#008B56',
                    fontSize: '16px'
            }
        },
        xAxis: {
            categories: ['Tháng 1', 'Tháng 2', 'Tháng 3', 'Tháng 4', 'Tháng 5'],
        },
            yAxis: {
            min: 0,
                    title: {
                    text: 'Chiếc',
                            "textAlign": 'right',
                            "rotation": 0,
                            x: -40,
                            y: -260,
                            enable: false
                    },
                    stackLabels: {
                    enabled: false,
                            style: {
                            fontWeight: 'bold',
                                    color: (Highcharts.theme && Highcharts.theme.textColor) || 'gray'
                            }
                    }
            },
            legend:{
            itemStyle: {
            fontSize:'10px'
            },
                    align: 'center',
                    verticalAlign:'bottom'
            },
            tooltip: {
            headerFormat: '<b>{point.x}</b><br/>',
                    pointFormat: '{series.name}: {point.y}<br/>Total: {point.stackTotal}'
            },
            plotOptions: {
                column: {
                    stacking: 'normal',
                    dataLabels: {
                        enabled: true,
                        style:{
                            color: '#FFF',
                            fontSize: '11px',
                            fontWeight: 'normal',
                            textOutline: false,
                        } 
                    }
                },
                series: {
                    events: {
                        legendItemClick: function() {
                            //alert('123456');
                            //return false;
                        }
                    }
                }
            },
            exporting: {buttons: [{enabled: false,}]},
            series: [
                {
                name: 'Ngân sách',
                        yAxis: 0,
                        color: '#09BB9F',
                        data: [20512,16372,15715,15026,11712],
                        stack: 1,
                },
                {
                name: 'Đã thực chi',
                        yAxis: 0,
                        color: '#15607A',
                        data: [15512,26372,19715,10026,11712],
                        stack: 2,
                },
            ]

    });
    
    var chart_month = Highcharts.chart('chart_month', {
        chart: {
            type: 'column',
            marginLeft: 45,
            marginRight: 5,
            x: 60,
            height:600,
            events: {
                load: function () {
                    this.series[0].options.pointWidth = this.series[0].barW + 20;
                    this.series[0].update(this.series[0].options);
                    this.series[1].options.pointWidth = this.series[1].barW + 20;
                    this.series[1].update(this.series[1].options);
                },
            }
        },
        title: {
            text: 'Ngân sách - Thực chi các hạng mục năm 2020 (<?php echo !empty($this->str_project) ? $this->str_project : 'Total';?>)',
            style:{
            color: '#008B56',
                    fontSize: '16px'
            }
        },
        xAxis: {
            categories: ['January', 'February', 'March', 'April', 'May', 'June'],
        },
            yAxis: {
            min: 0,
                    title: {
                    text: 'Chiếc',
                            "textAlign": 'right',
                            "rotation": 0,
                            x: -40,
                            y: -260,
                            enable: false
                    },
                    stackLabels: {
                    enabled: false,
                            style: {
                            fontWeight: 'bold',
                                    color: (Highcharts.theme && Highcharts.theme.textColor) || 'gray'
                            }
                    }
            },
            legend:{
            itemStyle: {
            fontSize:'10px'
            },
                    align: 'center',
                    verticalAlign:'bottom'
            },
            tooltip: {
            headerFormat: '<b>{point.x}</b><br/>',
                    pointFormat: '{series.name}: {point.y}<br/>Total: {point.stackTotal}'
            },
            plotOptions: {
                column: {
                    stacking: 'normal',
                    dataLabels: {
                        enabled: true,
                        style:{
                            color: '#FFF',
                            fontSize: '11px',
                            fontWeight: 'normal',
                            textOutline: false,
                        } 
                    }
                },
                series: {
                    events: {
                        legendItemClick: function() {
                            //alert('123456');
                            //return false;
                        }
                    }
                }
            },
            exporting: {buttons: [{enabled: false,}]},
            series: [
                {
                name: 'Budget',
                        yAxis: 0,
                        color: '#09BB9F',
                        data: [20512,16372,15715,15026,11712,10395],
                        stack: 1,
                },
                {
                name: 'Đã thực chi',
                        yAxis: 0,
                        color: '#15607A',
                        data: [18512,18529,10337,14253,8695,6505],
                        stack:2
                },
            ]

    });
    
</script>


<script type="text/javascript" src="<?php echo HOST ?>js/bootstrap-multiselect.js"></script>
<link rel="stylesheet" href="<?php echo HOST ?>css/bootstrap-multiselect.css" type="text/css"/>
<script type="text/javascript" src="<?php echo HOST ?>js/jquery-ui-1.8.12.custom.min.js"></script>
<link rel="stylesheet" type="text/css" href="<?php echo HOST ?>css/jquery-ui-1.8.12.custom.css"/>
<script>
    options = {
        selectAllText: 'Select All',
        includeSelectAllOption: true,
        includeSelectAllIfMoreThan: 3,
        disableIfEmpty: true
    };

    $(document).ready(function () {
        $('.form-search button:reset').click(function (e){
            $('.form-search input, .form-search select').val('');
            $('.form-search').submit();
            return false;
        });

        multi();
        
        $('#department').change(function(){
            $('.loading').remove();
            $(this).after('<span class="loading"></span>');
            var _self = $(this);
            var department_id = $(this).val();
            $('button, .btn, input').prop('disabled', true);
            $.get("/ajax/load-team",
                {department_id: department_id}
                ,function(data,status){
                    var obj = $.parseJSON( data );
                    $('#team').find('option').remove();
                    for (var i = 0; i < obj.length; i++) {
                        $('#team').append('<option value="'+obj[i]['id']+'">'+obj[i]['name']+'</option>');
                    }

                    $('button, .btn, input').prop('disabled', false);
                    $('.multiselect').multiselect("destroy").multiselect(options);
                    $('.loading').remove();
                });
        });

        $('#team').change(function(){
            $('.loading').remove();
            $(this).after('<span class="loading"></span>');
            var _self = $(this);
            var team_id = $(this).val();
            $('button, .btn, input').prop('disabled', true);
            $.get("/ajax/load-title",
                {team_id: team_id}
                ,function(data,status){
                    var obj = $.parseJSON( data );
                    $('#title').find('option').remove();
                    for (var i = 0; i < obj.length; i++) {
                        $('#title').append('<option value="'+obj[i]['id']+'">'+obj[i]['name']+'</option>');
                    }

                    $('button, .btn, input').prop('disabled', false);
                    $('.multiselect').multiselect("destroy").multiselect(options);
                    $('.loading').remove();
                });
        });
        
    });

    function multi() {
        $('.multiselect').multiselect(options);
    }
</script>