<style>
.table_modal tr td{
    border: none;
    text-align: left;
    padding: 3px 15px 0px 20px;
    font-weight: bold;}
.table_modal{border: none}
</style>

<div class="page-header">
    <h1>Budget</h1>
</div>
<?php
if (isset($this->messages) and $this->messages)
    foreach ($this->messages as $message):
        echo '<div class="alert alert-success">'.$message.'</div>';
    endforeach;

if (isset($this->messages_error) and $this->messages_error)
    foreach ($this->messages_error as $messages_error):
        echo '<div class="alert alert-danger">'.$messages_error.'</div>';
    endforeach;
?>

<div class="budget_wrap" ng-app="app" ng-controller="appController">


<div class="table-responsive">
    <style>
    .modal table tr td.span1{
        min-width: 100px!important;
    }
    .modal table th {
        background: #e2efda;
        color: #000;
        text-align: center;
        border: 1px solid #b3b3b3 !important;
        text-transform: none;
        font-size: 12px
    }
    .request_type_budget{width: 100px}
    
    table tr th{padding: 3px !important;background: green;}
    table tr th span{font-weight: normal;color:#FFF}
    
    table tr td{text-align: right !important; padding: 0px !important}
    table tr td:nth-child(0){text-align: left !important}
    table tr td:nth-child(1){text-align: left !important}
    table tr td input{border: none;border-radius: 0px;text-align: right;box-shadow: none;margin-top: 0px;margin-bottom: 0px;font-size: 12px;}
    
    .table tbody tr:hover td, .table tbody tr:hover th{background: #FFF}
    
    .budget_wrap span{font-size: 12px;padding: 3px;}
    
    table tr.td_darkgoldenrod td{background: darkgoldenrod}
    table tr.td_red td{background: red}
    table tr.td_red td span{color: #FFF}
    
    table tr.td_red td:hover{background: red}
    table tr.td_darkgoldenrod td:hover{background: darkgoldenrod}
    table tr.td_darkgoldenrod td span{color: #FFF}
    
</style>

<!-- Fee for quater -->
<table class="table" style="width:1000px">
    <thead>
        <tr>
            <th style="width:150px"><span>2020 Budget</span></th>
            <th style="width:150px"><span>Category Fee</span></th>
            
            <th style="width:100px" ng-repeat="quater in data.quaters"><span ng-bind="quater.quater_name"></span></th>
            <th style="width:100px" ng-repeat="halfYear in data.halfYears"><span ng-bind="halfYear.half_name"></span></th>
            
            <th style="width:100px"><span>Total</span></th>
            <th style="width:50px"><span>%</span></th>
        </tr>
    </thead>
<tbody>
    
    <tr ng-repeat-start="request_type_group in data.request_type_group">
        <td rowspan="{{request_type_group.request_type_length}}"><span ng-bind="request_type_group.title"></span></td>
    </tr>
    
    <tr ng-repeat-end ng-repeat="request_type in request_type_group.request_type">
        <td><span ng-bind="request_type.title_name"></span></td>
        <td ng-repeat="quater in data.quaters">
            <span>{{ action.sumQuaterRequestType(quater, request_type) | currency:"":0 }}</span>
        </td>
        
        <td style="background: antiquewhite;" ng-repeat="halfYear in data.halfYears">
            <span>{{ action.sumRequestTypeHalfYear(request_type, halfYear) | currency:"":0 }}</span>
        </td>
        
        <td><span></span></td>
        <td><span></span></td>
    </tr>    
    
    <tr class="td_red">
        <td><span>Total:</span></td>
        <td></td>
        <td ng-repeat="quater in data.quaters">
            <span>{{ action.sumQuater(quater) | currency:"":0 }}</span>
        </td>
        
        <td ng-repeat="halfYear in data.halfYears">
            <span>{{ action.sumHalfYearTotal(halfYear) | currency:"":0 }}</span>
        </td>
        
        <td>
            <span>{{ action.sumTotal() | currency:"":0 }}</span>
        </td>
        <td></td>
    </tr>
    
    <tr>
        <td><span>% vs. TOTAL</span></td>
        <td></td>
        <td ng-repeat="quater in data.quaters">
            <span>{{ action.sumQuater(quater)/action.sumTotal()*100 | currency:"":2 }}%</span>
        </td>
        
        <td ng-repeat="halfYear in data.halfYears">
            <span>{{ action.sumQuater(halfYear)/action.sumTotal()*100 | currency:"":2 }}%</span>
        </td>
        
        <td></td>
        <td>
            <span>100%</span>
        </td>
    </tr>
    
    
</tbody>
</table>
<!-- END Fee for quater -->


<!-- Fee for details -->
<table class="table" ng-repeat="project in data.listProjects" style="width:1000px">
    <thead>
        <tr>
            <th style="width:150px"><span>{{ project.project_name }}</span></th>
            <th style="width:150px"><span>Category Fee</span></th>
            
            <th style="width:100px" ng-repeat="quater in data.quaters"><span ng-bind="quater.quater_name"></span></th>
            <th style="width:100px" ng-repeat="halfYear in data.halfYears"><span ng-bind="halfYear.half_name"></span></th>
            
            <th style="width:100px"><span>Total</span></th>
            <th style="width:50px"><span>%</span></th>
        </tr>
    </thead>
    
    <tbody>
        
        <tr class="td_darkgoldenrod">
            <td><span>Total:</span></td>
            <td></td>

            <td ng-repeat="quater in data.quaters">
                <span>{{action.sumQuaterProject(quater, project) | currency:"":0}}</span>
            </td>

            <td ng-repeat="halfYear in data.halfYears">
                <span>{{ action.sumHalfYear(halfYear, project) | currency:"":0 }}</span>
            </td>

            <td><span>{{ action.sumProject(project) | currency:"":0 }}</span></td>
            <td><span></span></td>
        </tr>
        
        <tr ng-repeat-start="request_type_group in data.request_type_group">
            <td rowspan="{{request_type_group.request_type_length}}"><span ng-bind="request_type_group.title"></span></td>
        </tr>

        <tr ng-repeat-end ng-repeat="request_type in request_type_group.request_type">
            <td><span ng-bind="request_type.title_name"></span></td>

            <td ng-repeat="quater in data.quaters">
                <input type="text" class="request_type_budget number" ng-model="request_type.budget[project.id][quater.year][quater.quater]" format="number" />
            </td>

            <td style="background: antiquewhite;" ng-repeat="halfYear in data.halfYears">
                <span>{{ action.sumHalfYearRequestType(halfYear, project, request_type) | currency:"":0 }}</span>
            </td>

            <td><span>{{ action.sumRequestType(request_type, project) | currency:"":0 }}</span></td>
            <td><span>{{ action.sumRequestType(request_type, project)/action.sumProject(project)*100 | currency:"":2 }}%</span></td>
        </tr>

    </tbody>
</table>
<button class="btn btn-primary pull-right" ng-click="action.saveMoney()">Save</button>
<!-- END Fee for details -->




</div><!-- angular -->

<script type="text/javascript" src="<?php echo HOST ?>js/bootstrap-multiselect.js"></script>
<link rel="stylesheet" href="<?php echo HOST ?>css/bootstrap-multiselect.css" type="text/css"/>
<script type="text/javascript" src="/js/jquery-ui-1.8.12.custom.min.js"></script>
<link rel="stylesheet" type="text/css" href="/css/jquery-ui-1.8.12.custom.css"/>
<script src="/public/js/jquery.blockUI.js" type="text/javascript"></script>

<script src="//connect.facebook.net/en_US/all.js"></script>
<script src="//ajax.googleapis.com/ajax/libs/jqueryui/1.8/jquery-ui.min.js"></script>
<link rel="stylesheet" type="text/css" href="//ajax.googleapis.com/ajax/libs/jqueryui/1.7.1/themes/base/jquery-ui.css">



<script type="text/javascript" src="/js/sweetalert2.all.min.js"></script>
<script src="/js/angular.min.js"></script>
<script type="text/javascript">
    var app = angular.module('app', []);
    app.controller('appController', function ($scope) {
        
        // Init
        $scope.init = init;

        $scope.data = {
            request_type_group: [],
            months: [],
            quaters: [],
            halfYears: [],
            listProjects: [],
            tests: {3: {id: "3", title: "AGENCY ", desc: "AGENCY", department_id: "156", is_del: "0"}, 4: {id: "31", title: "AGENCY ", desc: "AGENCY", department_id: "156", is_del: "0"}},

        };
        $scope.action = {
            sumHalfYearRequestType: sumHalfYearRequestType,
            sumRequestType: sumRequestType,
            
            sumQuaterProject: sumQuaterProject,
            sumHalfYear: sumHalfYear,
            sumProject: sumProject,
            
            sumQuater: sumQuater,
            
            sumMonth: sumMonth,
            sumTotal: sumTotal,
            saveMoney: saveMoney,
            sumRequestTypeQuater: sumRequestTypeQuater,
            sumQuaterRequestType: sumQuaterRequestType,
            sumHalfYearTotal: sumHalfYearTotal,
            sumRequestTypeHalfYear: sumRequestTypeHalfYear
            
        };

        // Run
        $scope.init();
        
        // Action
        function init() {
            
            data_init = [];
            tests = [{3: {id: "3", title: "AGENCY ", desc: "AGENCY", department_id: "156", is_del: "0"}}];
            
            request_type_group = <?php echo $this->request_type_group;?>;
            months = <?php echo $this->months;?>;
            quaters = <?php echo $this->quaters;?>;
            halfYears = <?php echo $this->halfYears;?>;
            listProjects = <?php echo $this->listProjects;?>;
            
            
            for (key in listProjects){
                
            }
            
            
            
            for (key in request_type_group) {
                request_type_length = Object.keys(request_type_group[key].request_type).length;
                request_type_group[key].request_type_length = request_type_length + 1;
                
                
                request_type = request_type_group[key].request_type;
                
                for (k in request_type) {
                    
                    var total_money = 0;
                    for(i in quaters){
                        if(request_type[k].budget[quaters[i].year]){
                            if(request_type[k].budget[quaters[i].year][quaters[i].quater]){
                                total_money = total_money + parseInt(request_type[k].budget[months[i].year][months[i].month]);
                            }
                        }
                    }
                    
                    request_type_group[key].request_type[k].total_money = total_money;
                    request_type_group[key].request_type[k].status = 'view';
                }
                
            }
            
            $scope.data.request_type_group = request_type_group;
            
            $scope.data.months = months;
            $scope.data.quaters = quaters;
            $scope.data.halfYears = halfYears; 
            $scope.data.listProjects = listProjects; 
  
            
        }
        
        function saveMoney(){
            
            var send_data = $scope.data.request_type_group;
            
            $.ajax({
                url: '/request-office/save-money',
                dataType: 'json',
                type: 'POST',
                data: send_data,
                success: function (result) {
                    
                    if (result.status === 0) {
                        
                        Swal.fire({
                            position: 'center',
                            type: 'success',
                            title: 'Đã lưu',
                            //timer: 1500
                        });
                        
                        $scope.$apply();
                        
                    } else {
                        alert(result.message);
                    }
                    
                    
                },
                error: function () {
                    alert('Something went wrong. Please try again!');
                }
            })
        }
        
        $('input.number').change(function(event) {
            // skip for arrow keys
            if(event.which >= 37 && event.which <= 40) return;

            // format number
            $(this).val(function(index, value) {
                return value
                    .replace(/\D/g, "")
                    .replace(/\B(?=(\d{3})+(?!\d))/g, ",")
                    ;
            });
        });

        function sumHalfYearRequestType(halfYear, project, request_type){
            
            var total_money = 0;
            for (n in halfYear.list_quater) {
                quater = halfYear.list_quater[n];

                if(request_type.budget[project.id]){
                    if(request_type.budget[project.id][halfYear.year]){
                        if(request_type.budget[project.id][halfYear.year][quater]){
                            total_money = total_money + parseInt(request_type.budget[project.id][halfYear.year][quater]);
                        }
                    }
                }

            }
            
            return total_money;
        }
        
        function sumRequestType(request_type, project){
            var total_money = 0;
            for (n in $scope.data.quaters) {
                quater = $scope.data.quaters[n];

                if(request_type.budget[project.id]){
                    if(request_type.budget[project.id][quater.year]){
                        if(request_type.budget[project.id][quater.year][quater.quater]){
                            total_money = total_money + parseInt(request_type.budget[project.id][quater.year][quater.quater]);
                        }
                    }
                }

            }
            return total_money;
        }
        
        function sumQuaterProject(quater, project){
            
            request_type_group = $scope.data.request_type_group;
            var total_money = 0;
            
            for (key in request_type_group) {
                
                request_type = request_type_group[key].request_type;
                
                for (k in request_type) {
                    if(request_type[k].budget[project.id]){
                        if(request_type[k].budget[project.id][quater.year]){
                            if(request_type[k].budget[project.id][quater.year][quater.quater]){
                                total_money = total_money + parseInt(request_type[k].budget[project.id][quater.year][quater.quater]);
                            }
                        }
                    }
                }
            }
            
            return total_money;
        }
        
        function sumHalfYear(halfYear, project){
            request_type_group = $scope.data.request_type_group;
            var total_money = 0;
            
            for (key in request_type_group) {
                
                request_type = request_type_group[key].request_type;
                
                for (k in request_type) {
                    
                    for (n in halfYear.list_quater) {
                        quater = halfYear.list_quater[n];
                        
                        if(request_type[k].budget[project.id]){
                            if(request_type[k].budget[project.id][halfYear.year]){
                                if(request_type[k].budget[project.id][halfYear.year][quater]){
                                    total_money = total_money + parseInt(request_type[k].budget[project.id][halfYear.year][quater]);
                                }
                            }
                        }
                        
                    }
                }
            }
            
            return total_money;
        }
        
        function sumHalfYearTotal(halfYear){
            
            var total_money = 0;
            for(k in $scope.data.listProjects){
                var project = $scope.data.listProjects[k];
                total_money = total_money + sumHalfYear(halfYear, project);
            }
            
            return total_money;
        }
        
        function sumMonth(month){
            
            request_type_group = $scope.data.request_type_group;
            var total_money = 0;
            
            for (key in request_type_group) {
                
                request_type = request_type_group[key].request_type;
                
                for (k in request_type) {
                    if(request_type[k].budget[month.year]){
                        if(request_type[k].budget[month.year][month.month]){
                            total_money = total_money + parseInt(request_type[k].budget[month.year][month.month]);
                        }
                    }
                }
            }
            
            return total_money;
        }
        
        function sumQuater(quater){
            var request_type_group = $scope.data.request_type_group;
            var total_money = 0;
            
            for (key in request_type_group) {
                
                request_type = request_type_group[key].request_type;
                
                for (k in request_type) {
                    
                    for (n in $scope.data.listProjects) {
                        var project = $scope.data.listProjects[n];
                        
                        if(request_type[k].budget[project.id]){
                            if(request_type[k].budget[project.id][quater.year]){
                                if(request_type[k].budget[project.id][quater.year][quater.quater]){
                                    total_money = total_money + parseInt(request_type[k].budget[project.id][quater.year][quater.quater]);
                                }
                            }
                        }
                        
                    }
                }
            }
            
            return total_money;
        }
        
        function sumQuaterRequestType(quater, request_type){
            var total_money = 0;
            
            for (n in $scope.data.listProjects) {
                var project = $scope.data.listProjects[n];

                if(request_type.budget[project.id]){
                    if(request_type.budget[project.id][quater.year]){
                        if(request_type.budget[project.id][quater.year][quater.quater]){
                            total_money = total_money + parseInt(request_type.budget[project.id][quater.year][quater.quater]);
                        }
                    }
                }

            }
            
            return total_money;
        }
        
        function sumRequestTypeHalfYear(request_type, halfYear){
            
            var total_money = 0;
            
            for (n in $scope.data.listProjects) {
                var project = $scope.data.listProjects[n];
            
                total_money = total_money + sumHalfYearRequestType(halfYear, project, request_type);
            }
            
            return total_money;
        }
        
        
        
        function sumTotal(){
            request_type_group = $scope.data.request_type_group;
            var total_money = 0;
            
            for (key in request_type_group) {
                
                request_type = request_type_group[key].request_type;
                
                for (k in request_type) {
                    
                    months = $scope.data.months;
                    for(i in months){
                        if(request_type[k].budget[months[i].year]){
                            if(request_type[k].budget[months[i].year][months[i].month]){
                                total_money = total_money + parseInt(request_type[k].budget[months[i].year][months[i].month]);
                            }
                        }
                    }
                }
            }
            
            return total_money;
        }
        
        function sumRequestTypeQuater(request_type, quater){
            
            var total = 0;
            
            for (key in quater.list_months) {
                month = quater.list_months[key];
                if(request_type.budget[quater.year]){
                    if(request_type.budget[quater.year][month]){
                        total = total + parseInt(request_type.budget[quater.year][month]);
                    }
                }
            }
            
            return total;
        }
        
        
        function sumProject(project){
            request_type_group = $scope.data.request_type_group;
            var total_money = 0;
            
            for (key in request_type_group) {
                
                request_type = request_type_group[key].request_type;
                
                for (k in request_type) {
                    
                    for (n in $scope.data.quaters) {
                        quater = $scope.data.quaters[n];
                        
                        if(request_type[k].budget[project.id]){
                            if(request_type[k].budget[project.id][quater.year]){
                                if(request_type[k].budget[project.id][quater.year][quater.quater]){
                                    total_money = total_money + parseInt(request_type[k].budget[project.id][quater.year][quater.quater]);
                                }
                            }
                        }
                        
                    }
                }
            }
            
            return total_money;
        }

        
    });
    
    // allow you to format a text input field.
    // <input type="text" ng-model="test" format="number" />
    // <input type="text" ng-model="test" format="currency" />
    app.directive('format', ['$filter', function ($filter) {
        return {
            require: '?ngModel',
            link: function (scope, elem, attrs, ctrl) {
                if (!ctrl) return;


                ctrl.$formatters.unshift(function (a) {
                    return $filter(attrs.format)(ctrl.$modelValue)
                });


                ctrl.$parsers.unshift(function (viewValue) {
                    var plainNumber = viewValue.replace(/[^\d|\-+|\.+]/g, '');
                    elem.val($filter(attrs.format)(plainNumber));
                    return plainNumber;
                });
            }
        };
    }]);

    
</script>

    