<link rel="stylesheet" type="text/css" href="<?php echo HOST ?>js/file-uploader/fileuploader.css"/>
<script src="<?php echo HOST ?>js/file-uploader/fileuploader.js" type="text/javascript"></script>
<link rel="stylesheet" type="text/css" href="<?php echo HOST ?>css/bootstrap-grid.css"/>
<link rel="stylesheet" type="text/css" href="<?php echo HOST ?>css/request.css"/>
<style>
    .content_layout{padding: 0px}
    .modal img{max-height: fit-content;}
    .list-note{display: block;}
    .list-note i{font-weight: normal}
    .row {
        margin-right: 0px!important;
        margin-left: 0px!important;
    }
    
    .row-pr{
        display: auto !important;
    }
    .with80 {
    width: 80px !important;
    }
    .with30{
    width: 30px !important;

    }
.form-create {
    display: block;
    margin-right: 10px;
}
    .h-100{
        height: 100px;
    }
    
    .select2-container--default .select2-selection--single{
        font-size: 11px;
        border: 1px solid #FFF !important;
        background: #fafafa !Important;
    }
    
    .wrap_many_request{
        border: 1px dotted #ff4a02;
        border-radius: 4px;
        padding: 7px;
        width: 215px;
    }
    
    .widget{overflow: inherit;}    
.mb-row-2{ padding: 0px 13px !important;} 
.mb-form{padding: 0px !important;}
@media only screen and (max-width: 768px) {
    .mb-widget{padding: 10px !important;}
    .mb-row{width: 90% !important;}
    .mb-row-2{width: 95% !important;padding: 0px !important;}
    .row{
        display: block !important;
    }
    .row-pr{
        display: block !important;
    }
    .supplier_parent .supplier_child .row{
        display: block !important;
    }
    .supplier_parent select,input{
        width: 220px !important;
    }
    .block_pr_details{
        width: 83% !Important;
    }
    .pr_block_details{
        width: 105% !Important;
    }
    .radio_supplier{
        display: none !Important;
    }
    .pr_block_details td{
        text-align: right;
    }  
    .pr_block_details table  {
        float: left; 
        width: 100%;
        display: block;
        border: 1px solid #CCC;
        padding: 5px 10px 0px 10px;
        border-radius: 5px;
        position: relative;
    }
    .pr_block_details thead
    {
        float:left
    }
    .pr_block_details tbody
    {
        float:right
    }
    .pr_block_details thead th {
        display: block; 
        height: 34px;
        overflow: hidden;
    }
    .pr_block_details tbody td
    {
        display: block;             
        height: 30px;
        overflow: hidden;
    }
    .pr_block_details .pr_name_pr{
        font-size: 13px !Important;
    }
    .pr_block_details input{
        width: 50px !Important;
    }   
}

@media only screen and (max-width: 480px) {
    .pr_block_request{width: 90% !Important}
    .radio_supplier{display: none}
    .pr_block_details{border: none !important}
}

.pr_block_info span{font-size: 13px}
    
.pr_block_info .title-content {
    text-align: left;
    margin-top: 20px;
    margin-bottom: 15px;
    border-bottom: 1px solid green;
    font-size: 14px;
    color: #008B56;
    padding-bottom: 3px;
    display: block;
    float: left;
    text-transform: uppercase;
}

.title-content {
    text-align: left;
    margin-top: 20px;
    margin-bottom: 15px;
    border-bottom: 1px solid #ccc;
    font-size: 14px;
    color: #008B56;
    padding-bottom: 5px;
}

.table_new{ border: 0px solid black;width: 100%;}
.table_new td{text-align: left; border: 0px solid black;  padding: 3px;}
.table_new tr{ border-bottom: 1px solid #FFF;}
.table_new tr:hover{border-bottom: 1px solid #FFF;background-color: #f4f4f4;}
.table_new th{ text-align: left;font-weight: bold;background-color: white;border: 0px solid black;}

.pr_block_info{}
.pr_block_info .title_info{font-weight: bold;}
.pr_block_info .desc_info{}

.pr_block_details {
    display: block;
    border: 1px solid #CCC;
    padding: 10px;
    border-radius: 9px;
    margin-left: 70px;
    position: relative;
    margin-bottom: 10px;
}

.pr_block_request {
    display: block;
    border: 1px solid #CCC;
    padding: 5px 10px 0px 10px;
    border-radius: 5px;
    position: relative;
    margin: 5px 30px;
}

.pr_block_request .pr_budget{text-align: right}
.pr_block_request table{width: 100%}
.pr_block_request table tr td{text-align: left;padding: 3px;}

.radio_supplier{position: absolute;left: -30px}
.pr_name_pr{
    font-size: 15px !Important;
}
.pr_budget span{
    font-weight: bold;
    color: blue;
    font-style: initial;
}
    
.total_price_pr,.total_pr_use,.remaining_pr{color:red;}
.list_pr_request tr{background-color: #f4f4f4;}

.widget-content{padding-left: 0px}

.file_wrap{
    display: block;
    float: left;
    border: 1px solid #CCC;
    border-radius: 4px;
    padding: 10px 0px 5px 0px;
    position: relative;
    width: 220px;
}

.file_wrap .delete-file{
    color: red;
    display: block;
    position: absolute;
    cursor: pointer;
    padding: 0px 3px;
    right: 5px;
    top: 5px;
    background: #FFF;
    border-radius: 4px;
    border: 1px solid red;
}

.file_request{
    display: block;
    text-align: center;
}

.file_request .icon-file{
    font-size: 50px;
    color: lightseagreen;
}

.title_file{
    background: #FFF;
    padding: 5px 10px;
    font-size: 12px;
    text-align: left;
}

#table-wrapper {
    position:relative;
}
#table-scroll {
    overflow-x:auto;  
    margin-top:20px;
}
#table-wrapper table {
    width:100%;
}

.file_wrap{margin: 15px}

.my-span11{display: block;width:100%}

.request_warning{
    animation: blinker 1s linear infinite;
}

@keyframes blinker {
  50% {
    //opacity: 0.5;
  }
}

#modal_budget{
    width: auto;
    height: auto;
    margin: 0px 50px;
}

.budget_use{
    width: 120px;
    height: 18px !important;
}

#content_budget2{
    display: block;
    width: 100%;
    position: relative;
}

.table_budget tr th{padding: 5px !important;background: #f5f5f5 !important;}
.table_budget tr th span{font-weight: normal;color:#046A38;font-size: 12px}
.table_budget tr td span{font-size: 12px}

.table_budget tr td{text-align: left !important; padding: 7px 7px !important}
.table_budget tr td:nth-child(0){text-align: left !important}
.table_budget tr td:nth-child(1){text-align: left !important}
.table_budget tr td input{border: none;border-radius: 0px;text-align: right;box-shadow: none;margin-top: 0px;margin-bottom: 0px;font-size: 12px;}

</style>

<div class="page-header" style="padding: 0 40px;">
    <h1>Update - <?= $this->translate_adapter->translate('rq',$this->current_lang);?> <i style="color:green"><?= !empty($this->requestDetail["id"]) ? "#" . $this->requestDetail["id"] : ""; ?></i></h1>
    <div class="pull-right" style="margin-top: -35px">
        <a class="btn" onclick="goBack()">Go back</a>
    </div>
</div>

<div class="" style="padding: 0 40px;">
    <div class="row-fluid">
        <div class="span12">
        <?php
        if (isset($this->messages_success) and $this->messages_success)
            foreach ($this->messages_success as $message):
                echo '<div class="alert alert-success">' . $message . '</div>';
            endforeach;

        if (isset($this->messages_error) and $this->messages_error)
            foreach ($this->messages_error as $message):
                echo '<div class="alert alert-danger">' . $message . '</div>';
            endforeach;
        ?>
        </div>
    </div>
</div>


<div class="" ng-app="app" ng-controller="appController">
<form action="<?= HOST ?>request-office/edit-request?id=<?= $this->requestDetail["id"] ?>" method="post"
                  enctype="multipart/form-data" id="form_submit">

<div class="" style="padding: 0 40px;">
    
    <?php foreach($this->request_warning as $key=>$value):?>
    
    <div class="request_warning alert alert-custom alert-notice <?php echo $value["status"] == 1 ? "alert-light-danger" : "alert-light-primary";?> fade show" role="alert">
        <div class="alert-icon"><i class="flaticon-warning"></i></div>
        <div class="alert-text">Yêu cầu điều chỉnh: <?php echo $value['note'];?></div>
        
        <div class="form-group row">
            <label class="col-lg-3 col-form-label text-lg-right">Đã điều chỉnh:</label>
            <div class="col-lg-9 col-xl-4">
                <input type="hidden" name="request_warning_checkbox[<?php echo $value['id'];?>]" value="0">
                <span class="switch switch-icon">
                    <label>
                        <input type="checkbox" name="request_warning_checkbox[<?php echo $value['id'];?>]" value="1" <?php echo $value["status"] == 2 ? "checked disabled" : NULL;?> >
                        <span></span>
                    </label>
                </span>
            </div>
        </div>
        
    </div>
    
    <?php endforeach;?>
    
</div>

<div id="lightbox" class="modal fade " role="dialog">
    <img src="" id="full-size-image"/>
</div>
<!--    <h2>Vertical (basic) form</h2>-->
<div class="" style="padding: 0 40px;">
    <?php if (!empty($this->requestDetail))
            ?>
            
                <div class="row-fluid">
                    <div class="span12">
                        <div class="widget">
                            <div class="widget-header">
                                <i class="icon-bookmark"></i>
                                <h3>
                                    <?= $this->translate_adapter->translate('rq_common_info',$this->current_lang);?>
                                </h3>
                            </div>
                            <div class="widget-content mb-widget">
                                <div class="span3">
                                    <div class="form-group">
                                    <h5><?= $this->translate_adapter->translate('rq_company',$this->current_lang);?></h5>
                                        <select class="full-input " name="company" <?php echo ($this->update_info_field['company'] != 1) ? 'readonly onfocus="this.defaultIndex=this.selectedIndex;" onchange="this.selectedIndex=this.defaultIndex;"' : NULL;?>>
                                            <?php foreach ($this->company as $k => $v) : ?>
                                                <option value="<?= $k ?>" <?= $k == $this->requestDetail["company_id"] ? "selected" : ""; ?>><?php echo $v ?></option>
                                            <?php endforeach; ?>
                                        </select>
                                    </div>
                                    
                                    <div class="form-group">
                                        <h5><?= $this->translate_adapter->translate('rq_month_year_fee', $this->current_lang); ?></h5>
                                        <?php $month_year_fee = !empty($this->requestDetail['month_fee']) ? $this->requestDetail['year_fee'].'-'.$this->requestDetail['month_fee'] : NULL;?>
                                        <input type="text" class="<?php echo ($this->is_update_info == 1) ? 'date-month-year' : NULL;?> form-control" value="<?php echo $month_year_fee;?>" name="month_year_fee" <?php echo ($this->is_update_info != 1) ? 'readonly' : NULL;?>>
                                    </div>
                                    
                                    <div class="form-group info ">
                                        <h5><?= $this->translate_adapter->translate('rq_project', $this->current_lang); ?></h5>
                                        <select class="full-input " name="project" <?php echo ($this->is_update_info != 1) ? 'readonly onfocus="this.defaultIndex=this.selectedIndex;" onchange="this.selectedIndex=this.defaultIndex;"' : NULL;?> >
                                            <option value="">----</option>
                                            <?php foreach ($this->request_project as $k => $v) : ?>
                                                <option value="<?php echo $v['id'] ?>" <?php echo (!empty($this->requestDetail["project"]) AND $v['id'] == $this->requestDetail["project"]) ? "selected" : NULL;?>><?php echo $v['project_name'] ?></option>
                                            <?php endforeach; ?>
                                        </select>
                                    </div>
                                    
                                    
                                    <h5 class=""><?= $this->translate_adapter->translate('rq_has_purchasing',$this->current_lang);?>
                                        <input type="checkbox" 
                                               id="has_purchasing_request" name="has_purchasing_request" value="1" <?= (!empty($this->requestDetail["has_purchasing_request"]) and $this->requestDetail["has_purchasing_request"]) ? "checked" : "" ?> disabled>
                                    </h5>
                                    
                                    
                                    <h5 class="is_year_contract">
                                        <lable>Hợp đồng năm?</lable>
                                        <input type="checkbox" id="is_year_contract" name="is_year_contract" value="1" <?= (!empty($this->requestDetail["is_year_contract"]) and $this->requestDetail["is_year_contract"] == 1) ? "checked" : "" ?>>
                                    </h5>
                                    
                                    
                                </div>
                                <div class="span3">
                                    <div class="form-group info ">
                                        <b><?= $this->translate_adapter->translate('rq_type',$this->current_lang);?></b>
                                        <select class="full-input " name="category" id="check-category" <?php echo ($this->update_info_field['category'] != 1) ? 'readonly onfocus="this.defaultIndex=this.selectedIndex;" onchange="this.selectedIndex=this.defaultIndex;"' : NULL;?>>
                                            <?php foreach ($this->category as $k => $v) : ?>
                                                <option value="<?php echo $v['id'] ?>" <?= $v['id'] == $this->requestDetail['category_id'] ? "selected" : "" ?>><?php echo $v['name'] ?></option>
                                            <?php endforeach; ?>
                                        </select>
                                    </div>
                                    
                                    <div required="required" class="form-group info ">
                                        <h5><?= $this->translate_adapter->translate('rq_request_type_group', $this->current_lang); ?></h5>
                                        <select class="full-input" name="request_type_group" id="request-type-group" <?php echo ($this->is_update_info != 1) ? 'readonly onfocus="this.defaultIndex=this.selectedIndex;" onchange="this.selectedIndex=this.defaultIndex;"' : 'readonly onfocus="this.defaultIndex=this.selectedIndex;" onchange="this.selectedIndex=this.defaultIndex;"';?>>
                                            <option value="">----</option>
                                            <?php foreach ($this->request_type_group as $k => $v) : ?>
                                                <option value="<?php echo $v['id'] ?>" <?php echo (!empty($this->requestDetail["request_type_group"]) AND $v['id'] == $this->requestDetail["request_type_group"]) ? "selected" : NULL;?>><?php echo $v['title']; ?></option>
                                            <?php endforeach; ?>
                                        </select>
                                    </div>

                                    <div required="required" class="form-group info ">
                                        <h5><?= $this->translate_adapter->translate('rq_request_type', $this->current_lang); ?></h5>
                                        <select class="full-input " name="request_type" id="request-type" <?php echo ($this->is_update_info != 1) ? 'readonly onfocus="this.defaultIndex=this.selectedIndex;" onchange="this.selectedIndex=this.defaultIndex;"' : NULL;?>>
                                            <option value="">---</option>
                                            <?php foreach ($this->request_type as $k => $v) : ?>
                                                <option value="<?php echo $v['id'] ?>" <?php echo (!empty($this->requestDetail["request_type"]) AND $v['id'] == $this->requestDetail["request_type"]) ? "selected" : NULL;?>><?php echo $v['title_name']; ?></option>
                                            <?php endforeach; ?>
                                        </select>
                                    </div>
                                    
                                    <div required="required" class="form-group info many_payment" style="display: none;"
                                        disabled="disabled">
                                       <h5>
                                           Payment for
                                       </h5>
                                       <select class="full-input " name="many_payment"
                                               class="many_payment" id="many_payment" disabled="disabled">
                                           <option value="">----</option>
                                           <?php foreach ($this->listManyPayment as $key => $value) : ?>
                                               <option 
                                                       <?php echo (!empty($this->requestDetail["many_request_id"]) AND $value['id'] == $this->requestDetail["many_request_id"]) ? "selected" : NULL;?>
                                                       accesskey=""data-cost_many_total="<?php echo $value['cost_many_total'];?>"
                                                       data-cost_many="<?php echo $value['cost_many'];?>"
                                                       title="Đề xuất số <?= $value["id"] ?>"
                                                       value="<?php echo $value['id'] ?>"><?php echo $value['content'] ?></option>
                                           <?php endforeach; ?>
                                       </select>
                                   </div>
                                    
                                </div>
                                <div class="span3" style="min-height: 200px;">

                                        <div class="form-create">
                                    <h5><?= $this->translate_adapter->translate('search_area',$this->current_lang);?></h5>
                                            <select name="area_id" class=" reload-by-department" <?php echo ($this->is_update_info != 1) ? 'readonly onfocus="this.defaultIndex=this.selectedIndex;" onchange="this.selectedIndex=this.defaultIndex;"' : NULL;?>>
                                                <option value="">--Select--</option>
                                                <?php foreach ($this->areas as $k => $v): ?>
                                                    <option value="<?= $k; ?>" <?= (isset($this->requestDetail['area_id']) and $this->requestDetail['area_id'] == $k) ? "selected" : NULL; ?>><?= $v; ?></option>
                                                <?php endforeach; ?>
                                            </select>
                                        </div>
                                        <div class="form-create" >
                                            <h5><?= $this->translate_adapter->translate('department',$this->current_lang);?></h5>
                                            <select name="department_id" id="department_id"
                                                    class=" reload-by-department" <?php echo ($this->is_update_info != 1) ? 'readonly onfocus="this.defaultIndex=this.selectedIndex;" onchange="this.selectedIndex=this.defaultIndex;"' : NULL;?>>
                                                <option value="">----</option>
                                                <?php foreach ($this->department as $k => $v): ?>
                                                    <option value="<?= $k; ?>" <?=
                                                     (!empty($this->requestDetail['department_id']) and $this->requestDetail['department_id'] == $k) ? "selected" : NULL; ?>><?= $v; ?></option>
                                                <?php endforeach; ?>
                                            </select>
                                        </div>
                                        <div class="form-create">
                                            <h5>Team:</h5>
                                            <select name="team_id" id="team" class=" reload-by-department" <?php echo ($this->is_update_info != 1) ? 'readonly onfocus="this.defaultIndex=this.selectedIndex;" onchange="this.selectedIndex=this.defaultIndex;"' : NULL;?>>
                                                <option value>Choose</option>
                                                <?php if (!empty($this->recursiveDepartmentTeamTitle[$this->requestDetail['department_id']]['children'])): ?>
                                                    <?php foreach ($this->recursiveDepartmentTeamTitle[$this->requestDetail['department_id']]['children'] as $item_id => $item): ?>
                                                        <option value="<?= $item_id; ?>"
                                                                <?= ($item_id == $this->requestDetail['team_id'])? "selected":"" ?> ><?= $item['name']; ?></option>
                                                    <?php endforeach; ?>
                                                <?php endif ?>
                                            </select>
                                        </div>

                                    </div>
                                    
                            </div>
                        </div>
                    </div>
                    
                    
                    
                    <?php if(!empty($this->budget)  AND 1 == 0):?>
                    <div class="span10" id="block_budget_edit">
                        <div class="widget">
                            <div class="widget-header">
                                <i class="icon-list-alt"></i>
                                <h3><?= $this->translate_adapter->translate('rq_budget',$this->current_lang);?></h3>
                            </div>

                            <div class="widget-content">
                                
                                <!--
                                <div class="row">
                                    <div class="span3">
                                        <div class="form-create">
                                            <h5>Budget</h5>
                                            <input id="name_budget_edit" class="" value="<?php echo $this->budget['content'];?>" readonly  />
                                        </div>
                                    </div>
                                </div>
                                -->

                                <div class="row budget_warap">
                                    <div class="span3">

                                        <div class="form-create">
                                            <h5><?= $this->translate_adapter->translate('rq_total_budget',$this->current_lang);?></h5>
                                            <input id="total_budget_edit" class="" value="<?php echo $this->budget['total_budget'] ? number_format($this->budget['total_budget'],'2','.',',') : 0;?>" readonly  />
                                        </div>

                                        <div class="form-create">
                                            <h5><?= $this->translate_adapter->translate('rq_total_use',$this->current_lang);?></h5>
                                            <input id="total_use_edit" class="" value="<?php echo $this->budget['total_use'] ? number_format($this->budget['total_use'],'2','.',',') : 0;?>" readonly  />
                                        </div>

                                        <div class="form-create">
                                            <h5><?= $this->translate_adapter->translate('rq_total_remaining',$this->current_lang);?></h5>
                                            <input id="total_remaining_edit" class="" value="<?php echo $this->budget['total_remaining'] ? number_format($this->budget['total_remaining'],'2','.',',') : 0;?>" readonly  />
                                        </div>
                                    </div>

                                    <div class="span3">
                                        <div class="form-create">
                                            <h5><?= $this->translate_adapter->translate('rq_content_detail_info', $this->current_lang); ?></h5>
                                            <input id="budget_content_edit" class="" value="<?php echo $this->budget['content'];?>" readonly  />
                                        </div>

                                        <div class="form-create">
                                            <h5><?= $this->translate_adapter->translate('rq_note_detail_info', $this->current_lang); ?></h5>
                                            <textarea id="budget_note_edit" class="" readonly><?php echo $this->budget['note'];?></textarea>
                                        </div>

                                        <div class="form-create">
                                            <h5><?= $this->translate_adapter->translate('rq_payee_detail_info', $this->current_lang); ?></h5>
                                            <textarea id="budget_payee_edit" class="" readonly><?php echo $this->budget['payee'];?></textarea>
                                        </div>
                                    </div>

                                    <div class="span3">

                                        <div class="form-create">
                                            <h5><?= $this->translate_adapter->translate('rq_contract_number', $this->current_lang); ?></h5>
                                            <input id="budget_contract_number_edit" class="" value="" readonly value="<?php echo $this->budget['contract_number'];?>" />
                                        </div>

                                        <div class="form-create">
                                            <h5><?= $this->translate_adapter->translate('rq_contract_from', $this->current_lang); ?></h5>
                                            <input id="budget_contract_from_edit" class="" value="" readonly value="<?php echo $this->budget['contract_from'];?>" />
                                        </div>

                                        <div class="form-create">
                                            <h5><?= $this->translate_adapter->translate('rq_contract_to', $this->current_lang); ?></h5>
                                            <input id="budget_contract_to_edit" class="" value="" readonly value="<?php echo $this->budget['contract_to'];?>" />
                                        </div>
                                    </div>
                                </div>

                            </div>
                        </div><!--widget-->
                    </div>
                    <?php endif;?>
                    
                    
                    <!-- Purchasing Request -->
                    <?php if (!empty($this->purchasing_pr)): ?>
                    <div class="row-fluid">
                        <div class="span12" id="purchasing_pr">
                            <div class="widget">
                                <div class="widget-header">
                                    <i class="icon-list-alt"></i><h3><?= $this->translate_adapter->translate('rq_purchasing_info',$this->current_lang);?> </h3>
                                </div>

                                <div class="widget-content">
                                    
                                    <div class="pr_block_info" style="display:none">
                                        <div class="row">
                                           <div class="span9">
                                              <p class="title-content"><i class="icon-credit-card"></i> Info Purchasing Request</p>
                                           </div>
                                        </div>
                                        <div class="row mb-row">
                                           <div class="span5 pr_block_request">
                                              <table class="table_new no-more-tables">
                                                 <tbody>
                                                    <tr>
                                                       <td><b>Tổng tiền Purchasing:</b></td>
                                                       <td class="pr_budget"><b style="color:red" class="total_price_pr"><?php echo number_format($this->total_price_pr);?></b></td>
                                                    </tr>
                                                 </tbody>
                                              </table>
                                           </div>
                                        </div>
                                        <div class="row">
                                           <div class="pr_block_details_add">
                                              <div class="span5 pr_block_request">
                                                 <table class="list_pr_request">
                                                    <tbody>
                                                       <tr>
                                                          <th style="background:seagreen;color:#FFF;width:55%;font-weight: normal;">Nội dung</th>
                                                          <th style="background:seagreen;color:#FFF;width:25%;font-weight: normal;">Ngày thanh toán</th>
                                                          <th style="background:seagreen;color:#FFF;width:20%;font-weight: normal;">Số tiền</th>
                                                       </tr>
                                                       <?php foreach($this->details_request_pr as $k=>$v):?>
                                                        <tr>
                                                          <td><a href="/request-office/confirm-request?id=<?php echo $v['id'];?>"><?php echo $v['content'];?> <?php echo ($v['id'] == $this->requestDetail["id"]) ? '<b style="color:red">(this)</b>' : NULL;?></a></a></td>
                                                          <td style="text-align:center"><?php echo $v['finance_payment_date'];?></td>
                                                          <td class="pr_budget"><span class="list_pr_child"><?php echo number_format($v['cost_temp']);?></span></td>
                                                       </tr>
                                                        <?php endforeach;?>
                                                    </tbody>
                                                 </table>
                                                 <table class="table_new no-more-tables">
                                                    <tbody>
                                                       <tr>
                                                          <td><b><?= $this->translate_adapter->translate('rq_total_use',$this->current_lang);?>:</b></td>
                                                          <td class="pr_budget"><span style="color:red" class="total_pr_use"><?php echo number_format($this->total_use_pr);?></span></td>
                                                       </tr>
                                                    </tbody>
                                                 </table>
                                              </div>
                                           </div>
                                        </div>
                                        <div class="row mb-row">
                                           <div class="span5 pr_block_request">
                                              <table class="table_new no-more-tables">
                                                 <tbody>
                                                    <tr>
                                                       <td><b><?= $this->translate_adapter->translate('rq_total_remaining',$this->current_lang);?>:</b></td>
                                                       <td class="pr_budget"><b style="color:red" class="remaining_pr"><?php echo number_format($this->total_price_pr-$this->total_use_pr);?></b></td>
                                                    </tr>
                                                 </tbody>
                                              </table>
                                           </div>
                                        </div>
                                    </div>
                                    
                                    
                                    <div class="pr_block_info" style="margin-top: -10px;display:none">

                                        <div class="row">
                                            <div class="span9">
                                                <p class="title-content"><i class="icon-credit-card"></i> General Infor Purchasing Request</p>
                                            </div>
                                        </div>

                                        <div class="row mb-widget">
                                            <div class="span3">
                                                
                                                <div class="control-group">
                                                    <label for="dob" class="control-label1"> <span class="title_info">PR SN: </span><span class="desc_info pr_name_pr get_pr_sn"><?php echo $this->purchasing_pr['sn'];?></span></label>
                                                </div>
                                                
                                                <div class="control-group">
                                                    <label for="dob" class="control-label1"> <span class="title_info">Name PR: </span><span class="desc_info pr_name_pr get_pr_name"><?php echo $this->purchasing_pr['name'];?></span></label>
                                                </div>

                                            </div><!-- span3-->

                                            <div class="span3">

                                                <div class="control-group">
                                                    <label for="dob" class="control-label1"> <span class="title_info">Area: </span><span class="desc_info get_pr_area_name"><?php echo $this->purchasing_pr['area_name'];?></span></label>
                                                </div>

                                                <div class="control-group">
                                                    <label for="dob" class="control-label1"> <span class="title_info">Department: </span><span class="desc_info get_pr_department_name"><?php echo $this->purchasing_pr['department_name'];?></span></label>
                                                </div>

                                                <div class="control-group">
                                                    <label for="dob" class="control-label1"> <span class="title_info">Team: </span><span class="desc_info get_pr_team_name"><?php echo $this->purchasing_pr['team_name'];?></span></label>
                                                </div>


                                            </div><!-- span3-->

                                            <div class="span3">
                                                <div class="control-group">
                                                    <label for="dob" class="control-label1"> <span class="title_info">Shipping Address: </span><span class="desc_info get_pr_shipping_address"><?php echo $this->purchasing_pr['shipping_address'];?></span></label>
                                                </div>

                                                <div class="control-group">
                                                    <label for="dob" class="control-label1"> <span class="title_info">Remark: </span><span class="desc_info get_pr_remark"><?php echo $this->purchasing_pr['remark'];?></span></label>
                                                </div>

                                            </div><!-- span3-->


                                        </div><!-- row -->


                                        <div class="row">
                                            <div class="span9">
                                                <p class="title-content"><i class="icon-credit-card"></i> Details Purchasing Request</p>
                                            </div>
                                        </div>

                                        <div class="block_pr_details">
                                            
                                            <div id="table-wrapper">
                                                <div id="table-scroll">
                                                  <?php foreach($this->purchasing_details_pr as $key =>$value):?>

                                            <div class="row">
                                                <div class="span9 pr_block_details">

                                                    <input type="radio" checked="checked" class="radio_supplier" />

                                                <table class="table_new no-more-tables">
                                                    <thead>
                                                    <tr>
                                                        <th>Product</th>
                                                        <th>Supplier</th>
                                                        <th>Before negotiate</th>
                                                        <th>Currency</th>
                                                        <th>Quantity</th>
                                                        <th>Price</th>
                                                        <th>CK %</th>
                                                        <th>fee</th>
                                                        <th>Total</th>
                                                    </tr>
                                                    </thead>
                                                    <tbody>
                                                    <tr>
                                                        <td data-title=""><?php echo $value['code_name'];?></td>
                                                        <td data-title=""><?php echo $value['supplier_name'];?></td>
                                                        <td data-title=""><?php echo $value['price_before_dp_format'];?></td>
                                                        <td data-title=""><?php echo $value['currency'];?></td>
                                                        <td data-title=""><span class="pr_name_pr"><?php echo $value['quantity'];?></span></td>
                                                        <td data-title=""><span class="pr_name_pr"><?php echo $value['price_format'];?></span></td>
                                                        <td data-title=""><?php echo $value['ck'];?></td>
                                                        <td data-title=""><?php echo $value['fee'];?></td>
                                                        <td data-title=""><span class="pr_name_pr"><?php echo $value['total_price_format'];?></span></td>
                                                    </tr>   
                                                    </tbody>                        
                                                </table>

                                                
                                                </div><!-- span12-->
                                            </div><!-- row-->
                                            <?php endforeach;?>
                                                </div>
                                              </div>
                                            
                                            
                                            
                                        </div><!-- block_pr_details -->



                                    </div><!-- pr_block_info -->
                                </div><!--widget-->

                            </div><!--widget-->
                           
                        </div>
                    </div>
                    <?php endif; ?>

                    <!-- BUDGET DETAILS -->
                    <div class="widget">
                        <div class="widget-header">
                            <i class="icon-list-alt"></i>
                            <h3>Budget</h3>
                        </div>

                        <div class="widget-content" style="padding:10px">
                            <div class='content_child_budget'>
                                
                                <a class="btn btn-success open_modal_budget" id="open_modal_budget" ng-click="action.addListBudget()"> Add budget</a>
                                
                                <div id="top_budget">

                                </div>
                                
                                <div id="content_budget">
                                    <table class="table">

                                    </table>
                                </div>

                                <div id="content_budget2">
                                    <table class="table table_budget_add" id="table_budget_add" style="width:100%" ng-if="data.list_budget_add.length > 0">
                                        <tr>
                                            <th>#</th>
                                            <th>Nhóm hạng mục</th>
                                            <th>Hạng mục</th>
                                            <th>Dự trù cho tháng</th>
                                            <th>Team</th>
                                            <th>Nhà cung cấp</th>
                                            <th>Nội dung</th>
                                            <!--
                                            <th>Start</th>
                                            <th>Finish</th>
                                            -->
                                            <th>Note</th>
                                            <th>Số tiền dự trù</th>
                                            <th>Sử dụng</th>
                                            <th>Xóa</th>
                                        </tr>

                                        <tr ng-repeat="budget in data.list_budget_add" ng-if="budget.is_add == true">
                                            <td><span>{{$index + 1}}</span></td>
                                            <td><span ng-bind="budget.group_title"></span></td>
                                            <td><span ng-bind="budget.group_type_title"></span></td>
                                            <td>
                                                <a class=" label label-success">Month {{budget.month}}</a><br>
                                                <a class=" label label-success">Year {{budget.year}}</a><br>
                                                <a class=" label label-info">Project {{budget.project_name}}</a>
                                            </td>
                                            <td><span ng-bind="budget.team_name"></span></td>
                                            <td><span ng-bind="budget.supplier_name"></span></td>
                                            <td><span ng-bind="budget.details"></span></td>
                                            <!--
                                            <td><span ng-bind="action.formatDateDdmmyy(budget.from_date)"></span></td>
                                            <td><span ng-bind="action.formatDateDdmmyy(budget.to_date)"></span></td>
                                            -->
                                            <td><span ng-bind="budget.note"></span></td>
                                            <td style="text-align:right !important"><span ng-bind="action.formatMoneyAngular(budget.price)"></span></td>
                                            <td><input class="budget_use" placeholder="" name="budget_use[]" autocomplete="off" required ng-value="action.formatMoneyAngular(budget.use)"></td>
                                            <td>
                                                <div style="cursor:pointer" ng-click="action.removeBudget(budget)"><i class="icon-large icon-remove"></i> Remove</div>
                                                <input type="hidden" name="budget_purchasing[]" ng-value="budget.info_id">
                                            </td>
                                        </tr>

                                    </table>
                                </div><!-- content_budget -->
                                
                                <!-- Modal -->
                                <div id="modal_budget" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                                    <div class="modal-header">
                                        <h3 id="myModalLabel">Chọn dự trù</h3>

                                        <a href="/request-office/create-budget-details" class="btn btn-primary pull-right link_create_budget" target="_blank" style="display: block;position: absolute;right: 70px;">Tạo mới dự trù</a>

                                        <button type="button" class="close close_budget" data-dismiss="modal" aria-hidden="true">×</button>
                                    </div>
                                    <div class="modal-body">
                                        <table class="table table_budget" id="table_budget" style="width:100%">
                                            <tr>
                                                <th>#</th>
                                                <th>Nhóm hạng mục</th>
                                                <th>Hạng mục</th>
                                                <th>Dự trù cho tháng</th>
                                                <th>Team</th>
                                                <th>Nhà cung cấp</th>
                                                <th>Nội dung</th>
                                                <!--
                                                <th>Start</th>
                                                <th>Finish</th>
                                                -->
                                                <th>Note</th>
                                                <th>Số tiền dự trù</th>
                                                <th>Chọn dự trù</th>
                                            </tr>

                                            <tr ng-repeat="budget in data.list_budget">
                                                <td><span>{{$index + 1}}</span></td>
                                                <td><span ng-bind="budget.group_title"></span></td>
                                                <td><span ng-bind="budget.group_type_title"></span></td>
                                                <td>
                                                    <a class=" label label-success">Month {{budget.month}}</a><br>
                                                    <a class=" label label-success">Year {{budget.year}}</a><br>
                                                    <a class=" label label-info">Project {{budget.project_name}}</a>
                                                </td>
                                                <td><span ng-bind="budget.team_name"></span></td>
                                                <td><span ng-bind="budget.supplier_name"></span></td>
                                                <td><span ng-bind="budget.details"></span></td>
                                                <!--
                                                <td><span ng-bind="action.formatDateDdmmyy(budget.from_date)"></span></td>
                                                <td><span ng-bind="action.formatDateDdmmyy(budget.to_date)"></span></td>
                                                -->
                                                <td><span ng-bind="budget.note"></span></td>
                                                <td style="text-align:right !important"><span ng-bind="action.formatMoneyAngular(budget.price)"></span></td>
                                                <td>
                                                    <input type="checkbox" ng-model="budget.is_add"/>
                                                </td>
                                            </tr>

                                        </table>

                                    </div>
                                    <div class="modal-footer">
                                        <button class="btn close_budget" data-dismiss="modal" aria-hidden="true">Đóng</button>
                                        <a class="btn btn-success pull-right" ng-click="action.addBudget()" style="margin-right: 5px">Thêm dự trù</a>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div><!-- BUDGET -->


                    <div class="row-fluid">
                        <div class="span12">
                            <div class="widget">
                                <div class="widget-header">
                                    <i class="icon-info-sign"></i>
                                    <h3><?= $this->translate_adapter->translate('rq_detail_info',$this->current_lang);?></h3>
                                </div>
                                <div class="widget-content mb-widget">

                                    <div class="span3">
                                        
                                        <div id="">
                                            <div class="form-group">
                                                <h5 for=""><?= $this->translate_adapter->translate('rq_content_detail_info',$this->current_lang);?></h5>
                                                <textarea name="content" id="content" required <?php echo ($this->is_update_info != 1) ? 'readonly' : NULL;?>><?php if (!empty($this->requestDetail["content"])) echo $this->requestDetail["content"]; ?></textarea>
                                            </div>

                                        </div>
                                        <div id="">
                                            <div class="form-group">
                                                <h5 for=""><?= $this->translate_adapter->translate('rq_payee_detail_info', $this->current_lang); ?> </h5>
                                                <textarea name="payee" required <?php echo ($this->is_update_info != 1) ? 'readonly' : NULL;?>><?php if (!empty($this->requestDetail["payee"])) echo $this->requestDetail["payee"]; ?></textarea>
                                            </div>

                                        </div>
                                        
                                        <div class="form-group">
                                            <h5><?= $this->translate_adapter->translate('rq_date',$this->current_lang);?></h5>
                                            <input type="" class=" date form-control"
                                                   value="<?php if (!empty($this->requestDetail["date_offer"])) echo $this->requestDetail["date_offer"]; ?>"
                                                   disabled="disabled"
                                                   placeholder=""
                                                   name="date_offer">
                                        </div>

                                        <div class="form-group">
                                            <h5><?= $this->translate_adapter->translate('rq_date_success', $this->current_lang); ?></h5>
                                            <input type="text" class=" date form-control"
                                                   value="<?php if (!empty($this->requestDetail["date_success"])) echo $this->requestDetail["date_success"]; ?>"
                                                   <?php echo ($this->is_update_info != 1) ? 'readonly' : NULL;?>
                                                   placeholder=""
                                                   name="date_success">
                                        </div>

                                    </div>
                                    <div class="span3">
                                        <div class="form-group">
                                            <h5 for=""><?= $this->translate_adapter->translate('rq_requester_detail_info',$this->current_lang);?></h5>
                                            <input type="" class="form-control" id="" placeholder="" name="staff_order"
                                                   value="<?php if (!empty($this->requestDetail["created_by"])) echo $this->staff[$this->requestDetail["created_by"]]; ?>"
                                                   disabled="disabled">
                                        </div>
                                        <div class="form-group">
                                            <h5 for=""><?= $this->translate_adapter->translate('rq_note_detail_info',$this->current_lang);?></h5>
                                            <textarea name="note" required <?php echo ($this->is_update_info != 1) ? 'readonly' : NULL;?>><?php if (!empty($this->requestDetail["note"])) echo $this->requestDetail["note"]; ?></textarea>
                                        </div>

                                        <div class="form-group" id="estimasted_liquidation_date" style="display:none">
                                            <h5 for=""><?= $this->translate_adapter->translate('estimasted_liquidation_date', $this->current_lang); ?></h5>
                                            <textarea name="estimasted_liquidation_date"><?php if (!empty($this->requestDetail["estimasted_liquidation_date"])) echo $this->requestDetail["estimasted_liquidation_date"]; ?></textarea>
                                        </div>

                                    </div>
                                    <div class="">
                                        <div class="span3">

                                            <!--
                                            <div class="form-group">
                                                <h5 for=""><?= $this->translate_adapter->translate('rq_cost_before', $this->current_lang); ?></h5>
                                                <input type="text" class="form-control number" id="cost_before" placeholder=""
                                                       name="cost_before"
                                                       class="check_money"
                                                       <?php echo ($this->is_update_info != 1) ? 'readonly' : NULL;?>
                                                       value="<?php if (!empty($this->requestDetail["cost_before"])) echo number_format($this->requestDetail["cost_before"],2,'.',','); ?>"
                                                       >
                                            </div>
                                            -->

                                            <div class="form-group">
                                                <h5 for=""><?= $this->translate_adapter->translate('rq_amount_detail_info',$this->current_lang);?></h5>
                                                <input type="text" class="form-control number_" placeholder=""
                                                       name="cost_temp"
                                                       id="cost_temp"
                                                       class="check_money"
                                                       <?php echo ($this->is_update_info != 1) ? 'readonly' : NULL;?>
                                                       value="<?php if (!empty($this->requestDetail["cost_temp"])) echo number_format($this->requestDetail["cost_temp"],2,'.',','); ?>"
                                                       >
                                            </div>


                                            <div class="">
                                                <div class="form-group" class="">
                                                    <h5 for="" id="currency">Currency</h5>
                                                    <select name="currency" <?php echo ($this->update_info_field['currency'] != 1) ? 'readonly onfocus="this.defaultIndex=this.selectedIndex;" onchange="this.selectedIndex=this.defaultIndex;"' : NULL;?>>
                                                        <option value="1" <?php if (!empty($this->requestDetail["currency"]) AND $this->requestDetail["currency"] == 1) echo 'selected'; ?>>VNĐ</option>
                                                        <option value="2" <?php if (!empty($this->requestDetail["currency"]) AND $this->requestDetail["currency"] == 2) echo 'selected'; ?>>USD</option>
                                                        <option value="3" <?php if (!empty($this->requestDetail["currency"]) AND $this->requestDetail["currency"] == 3) echo 'selected'; ?>>CNY</option>
                                                    </select>
                                                </div>
                                            </div>

                                            <div class="cost_advanced_payment" style="display:none;">
                                                <div class="form-group">
                                                    <h5 for=""
                                                        style=""><?= $this->translate_adapter->translate('rq_amount_advanced_detail_info', $this->current_lang); ?></h5>
                                                    <input readonly class="number" class="form-control" id="cost_advanced_payment"
                                                           placeholder="" name="cost_advanced_payment"
                                                    >
                                                </div>
                                            </div>
                                            <div class="cost_advanced_payment" style="display:none;">
                                                <div class="form-group">
                                                    <h5 for="" style="color:red">Pay/Take more money</h5>
                                                    <input readonly class="number" class="form-control" id="calculation_money"
                                                           placeholder="" name="calculation_money"
                                                    >
                                                </div>
                                            </div>
                                            
                                            <!-- MANY REQUEST -->
                                            <div class="wrap_many_request" style="display: none">
                                                <div class="many_request" style="display: none">
                                                    <div class="form-group">
                                                        <h5 for="">Tổng chi phí</h5>
                                                        <input 
                                                            type="text" 
                                                            class="form-control" 
                                                            id="cost_many_total" 
                                                            name="cost_many_total" 
                                                            value="<?php echo !empty($this->requestDetail["cost_many_total"]) ? number_format($this->requestDetail["cost_many_total"]) : 0;?>"
                                                            disabled>
                                                    </div>
                                                </div>
                                                <div class="many_request" style="display: none">
                                                    <div class="form-group">
                                                        <h5 for="">Chi phí đã trả</h5>
                                                        <input 
                                                            type="text" 
                                                            class="form-control" 
                                                            id="cost_many" 
                                                            name="cost_many" 
                                                            value="<?php echo !empty($this->requestDetail["cost_many"]) ? number_format($this->requestDetail["cost_many"]) : 0;?>"
                                                            disabled>
                                                    </div>
                                                </div>
                                                <div class="many_request" style="display: none">
                                                    <div class="form-group">
                                                        <h5 for="">Chi phí còn lại</h5>
                                                        <input 
                                                            type="text" 
                                                            class="form-control" 
                                                            id="cost_many_left" 
                                                            name="cost_many_left" 
                                                            value="<?php echo !empty($this->requestDetail["cost_many_left"]) ? number_format($this->requestDetail["cost_many_left"]) : 0;?>"
                                                            disabled>
                                                    </div>
                                                </div>
                                            </div>
                                            <!-- END MANY REQUEST -->

                                            <div class="form-group">
                                            <h5>
                                                <?= $this->translate_adapter->translate('rq_payment_method_detail_info',$this->current_lang);?>
                                            </h5>
                                            <select class="full-input " name="payment_type" id="<?php echo ($this->update_info_field['payment_type'] != 1) ? 'payment_type_' : 'payment_type_';?>" <?php echo ($this->update_info_field['payment_type'] != 1) ? 'readonly onfocus="this.defaultIndex=this.selectedIndex;" onchange="this.selectedIndex=this.defaultIndex;"' : NULL;?>>
                                                <option value="" >-- Chọn loại --</option>
                                                <option value="1" <?php if (!empty($this->requestDetail["payment_type"]) AND $this->requestDetail["payment_type"]==1) echo "selected"; ?>>Cash</option>
                                                <option value="2" <?php if (!empty($this->requestDetail["payment_type"]) AND $this->requestDetail["payment_type"]==2) echo "selected"; ?>>Money Bank Transfer</option>
                                            </select>
                                            </div>


                                            <div class="form-group">
                                                <h5>
                                                    <?= $this->translate_adapter->translate('rq_finance_staff', $this->current_lang); ?>
                                                </h5>
                                                <select class="full-input " name="finance_staff" id="<?php echo ($this->update_info_field['finance_staff'] != 1) ? 'finance_staff_' : 'finance_staff';?>" <?php echo ($this->update_info_field['finance_staff'] != 1) ? 'readonly onfocus="this.defaultIndex=this.selectedIndex;" onchange="this.selectedIndex=this.defaultIndex;"' : NULL;?>>
                                                    <option value="">----</option>
                                                    <option value="<?php echo FINANCE_TRANSFER_CONFIRM;?>" <?php if (!empty($this->requestDetail["finance_staff"]) AND $this->requestDetail["finance_staff"]==FINANCE_TRANSFER_CONFIRM) echo "selected"; ?>><?php echo FINANCE_TRANSFER_CONFIRM_NAME;?></option>
                                                    <option value="<?php echo FINANCE_CASH_CONFIRM;?>" <?php if (!empty($this->requestDetail["finance_staff"]) AND $this->requestDetail["finance_staff"]==FINANCE_CASH_CONFIRM) echo "selected"; ?>><?php echo FINANCE_CASH_CONFIRM_NAME;?></option>
                                                    <option value="19101" <?php if (!empty($this->requestDetail["finance_staff"]) AND $this->requestDetail["finance_staff"]==19101) echo "selected"; ?>>Phạm Thị Thảo Nguyên</option>
                                                                                                    <?php if(in_array($this->department_id, [159,154])):?>
                                                                                                    <option value="<?php echo FINANCE_END_CONFIRM;?>" <?php if (!empty($this->requestDetail["finance_staff"]) AND $this->requestDetail["finance_staff"]==FINANCE_END_CONFIRM) echo "selected"; ?>><?php echo FINANCE_END_CONFIRM_NAME;?></option>
                                                    <option value="2846" <?php if (!empty($this->requestDetail["finance_staff"]) AND $this->requestDetail["finance_staff"]==2846) echo "selected"; ?>>Lâm Ngọc Trân</option>
                                                    <option value="19372" <?php if (!empty($this->requestDetail["finance_staff"]) AND $this->requestDetail["finance_staff"]==19372) echo "selected"; ?>>Phạm Thị Ngọc Hương</option>

                                                    <?php endif;?>
                                                </select>
                                            </div>


                                        </div>

                                    </div>
                                    <div class="span3">

                                    </div>
                                    <?php if (!empty($this->listRequestPRPaymentOffice)): ?>
                                        <?php foreach ($this->listRequestPRPaymentOffice as $key_payment => $value_payment): ?>
                                            <div class="my-span11">
                                                <div class="span3 div-payment-date">
                                                    <div class="form-group">
                                                        <h5 style="color:red;"for=""><?= $this->translate_adapter->translate('rq_payment_department_detail',$this->current_lang);?></h5>
                                                        <input type="" class="date form-control"
                                                               value="<?= $this->department[$value_payment["department_id"]]; ?>"
                                                               disabled="disabled">
                                                    </div>
                                                </div>
                                                <div class="span3 div-payment">
                                                    <div class="form-group">
                                                        <h5 for=""><?= $this->translate_adapter->translate('rq_amount',$this->current_lang);?></h5>
                                                        <input type="" class="date form-control"
                                                               value="<?=$value_payment["amount"]; ?>"
                                                               disabled="disabled">
                                                    </div> 
                                                </div>
                                                <div class="span3 div-payment">
                                                    <div class="form-group">
                                                        <h5 for=""><?= $this->translate_adapter->translate('rq_amount_of_money',$this->current_lang);?></h5>
                                                        <input type="text" class="number form-control"
                                                               value="<?= number_format($value_payment["cost"]); ?>"
                                                               disabled="disabled">
                                                    </div>  
                                                </div>
                                            </div>

                                        <?php endforeach;endif; ?>

                                    <!--
                                    <div class="span9 col-9">
                                            <div class="form-group">
                                                <a class="btn btn-primary" id="add-more-pr-payment"> + </a>
                                                <a class="btn btn-success" id="sub-more-pr-payment"> - </a>
                                            </div>
                                    </div>
                                    -->

                                    <div class="pr_payment_form">

                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="row-fluid">
                        <div class="span12" id="gallery-img">
                            <div class="widget ">
                                <div class="widget-header">
                                    <i class="icon-file"></i>
                                    <h3>
                                        <?= $this->translate_adapter->translate('rq_payment_attached_file',$this->current_lang);?>
                                    </h3>
                                </div>
                                
                                <div class="widget-content image-preview mb-widget">

                                    <div class="row">
                                        <?php if (!empty($this->requestFile)):?>
                                            <?php foreach ($this->requestFile as $key_file => $value_file): ?>

                                            <?php

                                            $file_name = explode('.', $value_file['url']);
                                            $class_icon = '';
                                            $class_icon_color = '';

                                            if(in_array($file_name[1], ['png', 'jpg', 'jpeg', 'PNG', 'JPEG', 'JPG'])):?>
                                            <!--
                                            <div class="block_image">
                                                <img class='img-fluid img-thumbnail staff_img' src='<?php echo HOST.$value_file["url"];?>'><br>
                                                <p><a download href='<?php echo HOST.$value_file["url"];?>'><?php echo $value_file["name"];?></a></p>
                                            </div>
                                            -->
                                            <?php else:?>
                                                <?php 
                                                    if(in_array($file_name[1], ['png', 'jpg', 'jpeg', 'PNG', 'JPEG', 'JPG'])){
                                                        $class_icon = 'icon-picture';
                                                        $class_icon_color = 'blue';
                                                    }
                                                    else if(in_array($file_name[1], ['xlsx', 'xls'])){
                                                        $class_icon = 'icon-table';
                                                        $class_icon_color = 'green';
                                                    }
                                                    else if(in_array($file_name[1], ['pdf', 'ppt', 'pptx', 'pptx'])){
                                                        $class_icon = 'icon-paste';
                                                        $class_icon_color = 'red';
                                                    }
                                                    else if(in_array($file_name[1], ['docx', 'doc'])){
                                                        $class_icon = 'icon-copy';
                                                        $class_icon_color = 'violet';
                                                    }
                                                ?>
                                                
                                                <div class="file_wrap">
                                                    <a class="file_request span2" href="<?php echo HOST.$value_file['url'];?>" target='_blank'>
                                                        <i class='icon-file'></i>
                                                        <div class="title_file">
                                                            <i class="icon <?php echo $class_icon;?>" style="color:<?php echo $class_icon_color;?>"></i>
                                                            <span><?php echo $value_file["name"];?><br> <i style='color: blue'>(<?php echo date('Y-m-d H:i:s', strtotime($value_file['created_at']));?>)</i></span>
                                                        </div>
                                                    </a>
                                                    
                                                    <?php if(!$this->finance_has_confirm):?>
                                                    <div class="delete-file">
                                                        <i class="icon icon-remove"> Delete</i>
                                                    </div>
                                                    <?php endif;?>
                                                    
                                                    <input class="delete_file_input" type="hidden" name="file_delete[<?php echo $value_file['id'];?>]" value="0" />
                                                    
                                                </div>
                                                
                                            <?php endif;?>

                                            <?php endforeach; ?>
                                        <?php endif; ?>
                                        </div>
                                    
                                        <div class="row">
                                        <?php if (!empty($this->requestFile)):?>
                                            <?php foreach ($this->requestFile as $key_file => $value_file): ?>

                                            <?php

                                            $file_name = explode('.', $value_file['url']);
                                            $class_icon = '';
                                            $class_icon_color = '';

                                            if(in_array($file_name[1], ['png', 'jpg', 'jpeg', 'PNG', 'JPEG', 'JPG'])):?>

                                            <div class="file_wrap">
                                                <a class="file_request" href="<?php echo HOST.$value_file["url"];?>" target='_blank'>
                                                    <div class="image_wrap">
                                                        <img class='img-fluid img-thumbnail staff_img' src='<?php echo HOST.$value_file["url"];?>'>
                                                    </div>
                                                    
                                                    <div class="title_file">
                                                        <i class="icon <?php echo $class_icon;?>" style="color:<?php echo $class_icon_color;?>"></i>
                                                        <span><?php echo $value_file["name"];?><br> <i style='color: blue'>(<?php echo date('Y-m-d H:i:s', strtotime($value_file['created_at']));?>)</i></span>
                                                    </div>
                                                </a>
                                                
                                                <?php if(!$this->finance_has_confirm):?>
                                                <div class="delete-file">
                                                    <i class="icon icon-remove"> Delete</i>
                                                </div>
                                                <?php endif;?>
                                                
                                                <input class="delete_file_input" type="hidden" name="file_delete[<?php echo $value_file['id'];?>]" value="0" />
                                                
                                            </div>
                                            

                                            <?php else:?>

                                            <?php endif;?>

                                            <?php endforeach; ?>
                                        <?php endif; ?>
                                        </div>
                                        
                                        <div class="row">
                                            <div class="span10">
                                                <div class="">
                                                    <div class="row">
                                                <div class="form-group col-8 mb-form">
                                                    <input id="file" type="file" name="file[]" multiple="multiple"
                                                    >
                                                    </div>
                                                </div>
                                                </div>
                                            </div>
                                        </div>

                                    </div>
                                
                                    <div class="form-group ">
                                    </div>

                                </div>
                            </div>
                            </div>
                        </div>
                            
                            
                            <div class="row-fluid">
                            <div class="span12">
                                <div class="widget">
                                    <div class="widget-content mb-widget">
                                        <div class="span12">
                                            <div class="form-group list-note">
                                            <?php foreach($this->list_note as $key=>$value):?>
                                                <h5><?php echo $value['fullname'];?> - <i><?php echo $value['created_at'];?></i> :</h5>
                                                <lable><?php echo $value['note'];?></lable>
                                            <?php endforeach;?>
                                            </div>

                                            <div class="form-group">
                                                <h5 for=""><?= $this->translate_adapter->translate('rq_note_confirm',$this->current_lang);?></h5>
                                                <textarea name="request_note" value=""></textarea>
                                            </div>

                                            <div class="form-group">
                                                
                                                <button type="submit" name="submit" class="btn btn-primary" value="1"><?= $this->translate_adapter->translate('rq_update',$this->current_lang);?>
                                                </button>

                                                <?php if(!$this->finance_has_confirm):?>
                                                <button type="submit" name="submit_delete" class="btn btn-danger" value="1">
                                                    Hủy đề xuất
                                                </button>
                                                <?php endif;?>
                                                
                                                <button type="button" name="submit_warning" id="btn_warning" class="btn btn-warning" value="1">
                                                    Yêu cầu điều chỉnh
                                                </button>
                                                
                                            </div>

                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
            
                        </div>
</div>

</form>
</div>

</body>


<!-- Modal -->
<div id="modal_warning" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <form action="<?= HOST ?>request-office/edit-request?id=<?= $this->requestDetail["id"] ?>" method="POST"
              enctype="multipart/form-data" id="form_submit">
        <div class="modal-header">
            <h3>Yêu cầu điều chỉnh đề nghị thanh toán</h3>
        </div>
        <div class="modal-body">
            <p>Nội dung yêu cầu</p>
            <textarea name="warning_note"></textarea>
        </div>
        <div class="modal-footer">
            <button class="btn" data-dismiss="modal" aria-hidden="true">Close</button>
            <button type="submit" name="submit_warning" value="1" class="btn btn-primary">Save</button>
        </div>
    </form>
</div>


<!-- Dashboard -->
<script language="javascript" type="text/javascript" src="/js/full-calendar/fullcalendar.min.js"></script>
<!-- END Dashboard -->
<script type="text/javascript" src="/js/bootstrap-modal.js"></script>
<script type="text/javascript" src="/js/bootstrap-modalmanager.js"></script>
<link rel="stylesheet" type="text/css" href="/css/bootstrap-modal.css"/>
<script type="text/javascript" src="/js/jquery-ui-1.8.12.custom.min.js"></script>
<link rel="stylesheet" type="text/css" href="/css/jquery-ui-1.8.12.custom.css"/>
<script type="text/javascript" src="/js/jquery-ui-1.8.12.custom.min.js"></script>
<!--<script src="<?php echo HOST ?>js/request/request.js" type="text/javascript"></script>-->
<?php echo $this->render('request-office/partials/scripts.phtml');?>
<!--<script src="<?php echo HOST ?>js/request/request-office.js" type="text/javascript"></script>-->
<link rel="stylesheet" type="text/css" href="<?php echo HOST ?>css/select2.min.css">
<script type="text/javascript" src="<?php echo HOST ?>js/select2.min.js"></script>

<script type="text/javascript" src="/js/bootstrap-multiselect.js"></script>
<link rel="stylesheet" href="/css/bootstrap-multiselect.css" type="text/css"/>

<style>
        @media screen and (max-width: 480px){
  .row>[class*="span"], .row-fluid>[class*="span"] {
      width: 100% !important;
  }
  .modal-scrollable{
    padding-bottom: 50vh !important;
  }}
   input[disabled], select[disabled], textarea[disabled], input[readonly], select[readonly], textarea[readonly] {
    background-color: #fafafa !important;
    /* border-color: #ddd; */
    border: none !important;
    }
</style>

<script>
    
    var list_request_type = <?php echo json_encode($this->request_type);?>;
    var request_type_id = <?php echo !empty($this->requestDetail["request_type"]) ? $this->requestDetail["request_type"] : 0;?>;
    
    $(document).ready(function () {
        
        init_request_type();
        
        $(".date-month-year").datepicker({
            dateFormat: 'mm yy',
            changeMonth: true,
            changeYear: true,
            showButtonPanel: true,

            onClose: function(dateText, inst) {
                var month = $("#ui-datepicker-div .ui-datepicker-month :selected").val();
                var year = $("#ui-datepicker-div .ui-datepicker-year :selected").val();
                $(this).val($.datepicker.formatDate('yy-mm', new Date(year, month, 1)));
            }
        });
        
        $(".date-month-year").focus(function () {
            $(".ui-datepicker-calendar").hide();
            $("#ui-datepicker-div").position({
                my: "center top",
                at: "center bottom",
                of: $(this)
            });
        });
        
        $("#id_pr").select2();
        // submit form
        $('#form_submit').submit(function (e) {
            
            if(cons_total_price_pr > 0){
                
                for (i = 0; i < list_child_purchasing.length; ++i) {
                    var input = $("<input>").attr("type", "hidden").attr("name", "child_purchasing["+list_child_purchasing[i].id+"]").val(list_child_purchasing[i].quantity);
                    $('#form_submit').append($(input));
                }
                
                if(cons_remaining_pr < 0){
                    Swal.fire({
                        type: 'error',
                        title: 'Chi phí vượt giá trị hợp đồng, vui lòng điều chỉnh lại số lượng thực tế hoặc liên hệ Purchasing!',
                        showConfirmButton: true,
                    });
                    return false;
                }
            }
            
            
            total_cost_before = parseInt($("#cost_before").val().split(",").join(""));
            
            if(ro_details_count > 0){
                var total_amount = 0;
                $('.ro_cost').each(function(i, element) {
                    total_amount = total_amount + parseInt($(element).val().split(",").join(""));
                });
                is_not_ro_months = 1;
                if(total_amount != total_cost_before){
                    Swal.fire({
                        type: 'error',
                        title: 'Tổng chi phí chia theo tháng không bằng tổng dự trù! '+total_amount+'/'+total_cost_before,
                        showConfirmButton: true,
                    });
                    return false;
                }
            }
        });
        
        
        $("#has_payment").click( function(){
            if( $(this).is(':checked') ){
                $("#payment_type").attr('required', 'required');
                $("#payment_type").removeAttr("readonly");
                $("#payment_type").removeAttr("onfocus");
                $("#payment_type").removeAttr("onchange");
                
                $("#cost_before").attr('required', 'required');
                $("#cost_before").removeAttr("readonly");
            }
            else{
                $("#payment_type").removeAttr("required");
                $("#payment_type").attr("readonly", true);
                $("#payment_type").attr("onfocus", "this.defaultIndex=this.selectedIndex;");
                $("#payment_type").attr("onchange", "this.selectedIndex=this.defaultIndex;");
                $("#payment_type").val("");
                
                $("#cost_before").removeAttr("required");
                $("#cost_before").attr("readonly", true);
            }
         });
         
         $("#has_purchasing_request").click( function(){
            if( $(this).is(':checked') ){
                $("#payment_type").attr('required', 'required');
                $("#payment_type").removeAttr("readonly");
                
                $("#cost_before").attr('required', 'required');
                $("#cost_before").removeAttr("readonly");
            }
            else{
                $("#payment_type").removeAttr("required");
                $("#payment_type").attr("readonly", true);
                
                $("#cost_before").removeAttr("required");
                $("#cost_before").attr("readonly", true);
            }
         });
         
         $('#request-type-group').on('change', function() {
             
             $('#request-type')
                .find('option')
                .remove()
                .end()
                .append('<option value="">---</option>')
                .val('')
            ;
             
            var group_id_select = $(this).val();
    
            list_request_type.forEach(function (request_type) {
                if(request_type.group_id == group_id_select){
                    $("#request-type").append(new Option(request_type.title_name, request_type.id));
                }
            });
         });
         
         $('.delete-file').click(
            function(){
                var file_wrap    = $(this).closest('.file_wrap');
                var input_hidden = $(this).closest('.file_wrap').find('.delete_file_input');
                input_hidden.val(1);
                
                file_wrap.hide();
                
            }
         );
         
         $("#btn_warning").click( function(){
             $("#modal_warning").modal("show");
         });
         

    });
    
    function init_request_type(){
        $('#request-type')
            .find('option')
            .remove()
            .end()
            .append('<option value="">---</option>')
            .val('')
        ;

        var group_id_select = $('#request-type-group').val();

        list_request_type.forEach(function (request_type) {
            if(request_type.group_id == group_id_select){
                $("#request-type").append(new Option(request_type.title_name, request_type.id));
            }
        });
        
        if(request_type_id != 0){
            $("#request-type").val(request_type_id);
        }
        
    }
    
</script>

<script src="/js/angular.min.js"></script>

<script type="text/javascript">
    var app = angular.module('app', []);
    app.controller('appController', function ($scope, $http) {
        
        // Init
        $scope.init = init;

        $scope.data = {
            list_budget: [],
            list_budget_add: [],
            list_info_id: []
            
        };
        
        $scope.action = {
            addListBudget: addListBudget,
            addBudget: addBudget,
            removeBudget: removeBudget,
            formatMoneyAngular: formatMoneyAngular,
            formatDateDdmmyy: formatDateDdmmyy,
            hasPurchasing: hasPurchasing
        };

        // Run
        $scope.init();

        // Action
        function init() {
            <?php if(!empty($this->list_budget)):?>
            var list_budget_add = [];
            var list_info_id = [];
            var get_list_budget = <?php echo $this->list_budget;?>;
            
            for(var i=0; i < get_list_budget.length; i++){
                
                var budget = get_list_budget[i];
                budget.is_add = true;
                
                list_info_id.push(budget.info_id);
                
                list_budget_add.push(budget);
            }
            
            $scope.data.list_budget_add = list_budget_add;
            $scope.data.list_info_id = list_info_id;
            
            <?php endif;?>
        }
        
        function addListBudget(){
            
            var request_type = $('#request-type').val();
            
            if(!request_type){
                Swal.fire({
                    type: 'error',
                    title: 'HẠNG MỤC không được để trống!'
                })
                return;
            }
            
            var data_send = {
                'request_type': request_type 
            };
            
            $.ajax({
                url: '/purchasing/load-budget',
                type: 'POST',
                data: data_send,
                beforeSend: function( xhr ) {
                    
                    Swal.fire({
                      title: 'Please wait!',
                      timerProgressBar: true,
                      showCancelButton: false,
                      showConfirmButton: false,
                      onBeforeOpen: () => {
                        Swal.showLoading()
                      }
                    })
                },
                success: function (data_reponse) {

                    Swal.close();

                    var response = $.parseJSON(data_reponse);
                    if (response.status == 1) {
                        
                        var list_budget_response = response.data;
                        
                        var list_budget = new Array();
                        
                        var stt = 0;
                        
                        for(i=0; i< list_budget_response.length;i++){
                            
                            stt++;
                            
                            budget = list_budget_response[i];
                            budget.stt = stt;
                            
                            if($scope.data.list_info_id.includes(budget.info_id)){
                                budget.is_add = true;
                            }
                            
                            list_budget.push(budget);
                        }
            
                        $scope.data.list_budget = list_budget;
                        $scope.$apply();
                        
                        $('.link_create_budget').attr('href', '/request-office/create-budget-details?request_type='+request_type);
                        
                        $('#modal_budget').modal('show');
                        
                        
                    } else { 
                        alert(response.message);
                    }
                },
            });
            
        }
        
        function addBudget(){
            
            var list_budget = $scope.data.list_budget;
            
            var list_budget_add = $scope.data.list_budget_add;
            
            var list_info_id = $scope.data.list_info_id;
            
            var stt = 0;
            
            for(i=0; i< list_budget.length; i++){
                
                var budget = list_budget[i];
                
                if(budget.is_add == true && !list_info_id.includes(budget.info_id)){
                    stt++;
                
                    budget.stt = stt;
                    
                    list_info_id.push(budget.info_id);
                    
                    list_budget_add.push(budget);
                }
                
            }
            
            $scope.data.list_budget_add = list_budget_add;
            
            $scope.data.list_info_id = list_info_id;
            
            $('#modal_budget').modal('hide');
            
        }
        
        function removeBudget(budget){
            
            //Remove list_budget_add
            var list_budget_add = $scope.data.list_budget_add;
            
            const index = list_budget_add.indexOf(budget);
            if (index > -1) {
                list_budget_add.splice(index, 1);
            }
            
            //Remove list_info_id
            var list_info_id = $scope.data.list_info_id;
            
            const index_info_id = list_info_id.indexOf(budget.info_id);
            if (index > -1) {
                list_info_id.splice(index_info_id, 1);
            }
            
        }
        
        function formatMoneyAngular(amount, decimalCount = 2, decimal = ".", thousands = ","){
            amount = amount.replace(/,/g, '');
        
            try {
              decimalCount = Math.abs(decimalCount);
              decimalCount = isNaN(decimalCount) ? 2 : decimalCount;

              const negativeSign = amount < 0 ? "-" : "";

              let i = parseInt(amount = Math.abs(Number(amount) || 0).toFixed(decimalCount)).toString();
              let j = (i.length > 3) ? i.length % 3 : 0;

              return negativeSign + (j ? i.substr(0, j) + thousands : '') + i.substr(j).replace(/(\d{3})(?=\d)/g, "$1" + thousands) + (decimalCount ? decimal + Math.abs(amount - i).toFixed(decimalCount).slice(2) : "");
            } catch (e) {
              console.log(e)
            }
        }
        
        function hasPurchasing(){
            if ($('#has_purchasing_request').is(':checked')) {
                
                $scope.data.list_budget_add = [];
                
                $('#open_modal_budget').hide();
            }
            else{
                
                $('#open_modal_budget').show();
            }
        }
        
        function formatDateDdmmyy(date){
            var formattedDate = new Date(date);
            var d = formattedDate.getDate();
            var m =  formattedDate.getMonth();
            m += 1;  // JavaScript months are 0-11
            var y = formattedDate.getFullYear();

            return d+'/'+m+'/'+y;
        }
        
        
    });
    
    
</script>



