<style>
    .birth{width:12%}
    td{text-transform: uppercase;}
<<<<<<< HEAD

=======
>>>>>>> develop
    .btn-confirm{float: right;}
</style>

<div class="content_layout">
    <div class="page-header">
        <h1>List ngân sách</h1>
    </div>
<div class="accordion" id="accordion2">
    <div class="accordion-group">
        <div class="accordion-heading" style="background: #e5e5e5;">
            <a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion2" href="#collapseTwo">
                Search
            </a>
        </div>
        <div id="collapseTwo" class="accordion-body collapse" style="height: 0px;">
            <div class="accordion-inner">
            <?php
              echo $this->render('request-office/partials/search-budget-file.phtml');
            ?>  
            </div>
        </div>
    </div>
</div>
<div>
    <a role="button" href="/request-office/create-budget" class="btn btn-success" data-toggle="modal">+ Add New </a>
</div>
<<<<<<< HEAD

=======
>>>>>>> develop
<form>
    <div class="table-responsive" style="overflow-x: auto; padding-bottom: 50px;">
    <table class="table table-bordered">
        <thead>
            <tr>
                <th>#</th>
                <th>Loại ngân sách</th>
                <th>Tên khoản ngân sách</th>
                <th>Nhóm hạng mục</th>
                <th>Hạng mục</th>
                <th>Số tiền (VNĐ)</th>
                <th>Chọn nhà cung cấp</th>
                <th>Chọn dự án</th>
                <th>Ngân sách Từ ngày</th>
                <th>Đến ngày</th>
                <th>Trạng thái</th>
                <th>APPROVED BY</th>
                <th>Action</th>
                <th></th>
            </tr>
        </thead>
        <?php
            $intStt = $this->offset;       
            foreach($this->list as $value):
                $total_cost_temp+=$value["amount"];
        ?> 
        <tr>
            <td><?=++$intStt?></td>
            <td><?php   if($value['budget_type'] == 1){echo 'Ngân sách theo năm';} 
                        elseif($value['budget_type'] == 2){echo 'Ngân sách theo dự án';}?></td>
            <td><?php echo $value['name']; ?></td>
            <td><?php echo $value['category_group'];?></td>
            <td><?php echo $value['category_type'];?></td>
            <td><?php echo number_format($value['amount']);?></td>
            <td><?php echo $value['supplier_name'];?></td>
            <td><?php echo $value['project_title'];?></td>
            <td><?php echo date('d/m/Y',strtotime($value['from_date'])); ?></td>
            <td><?php echo date('d/m/Y',strtotime($value['to_date'])); ?></td>
            <td></td>
            <td style="font-size: 9px;">
                
            </td>
            <td>
                <div class="btn-group">
                    <a class="btn dropdown-toggle" data-toggle="dropdown" href="#">Action</a>
                    <ul class="dropdown-menu">                    
                    <li>
                        <a href="<?php echo HOST ?>request-office/create-budget?id=<?php echo $value['id'];?>" title="" target="_blank"><i class="icon-edit"></i> Sửa đổi</a>
                        <a href="<?php echo HOST ?>request-office/create-budget-request?id=<?php echo $value['id'];?>" title="" target="_blank"><i class="icon-tasks"></i> Yêu cầu điều chỉnh</a>
                    </li>                      
                    </ul>
                </div>                
            </td>
            <td><input type="checkbox" /></td>
        </tr>
        <?php endforeach; ?>
        <tr>
            <td colspan="5"></td>            
            <td><label style="font-weight: bold;">Tổng: </label><?=number_format($total_cost_temp);?></td>
            <td colspan="7"></td>            
        </tr>
    </table>

    <input class="btn btn-primary btn-confirm" type="submit" value="Confirm" >
    <div class="paging">
        <?php echo $this->paging($this->total, 
                                 $this->limit, 
                                 $this->offset, 
                                 $this->url);?>
    </div>
</div>
</form>    


<script type="text/javascript" src="/js/jquery-ui-1.8.12.custom.min.js"></script>
<link rel="stylesheet" type="text/css" href="/css/jquery-ui-1.8.12.custom.css">
<script src="../js/tag-it.min.js" type="text/javascript" charset="utf-8"></script>
<link href="../css/jquery.tagit.css" rel="stylesheet" type="text/css">
<link href="../css/tagit.ui-zendesk.css" rel="stylesheet" type="text/css">

<script type="text/javascript" src="/js/bootstrap-datetimepicker.min.js"></script>
<link rel="stylesheet" type="text/css" href="/css/bootstrap-datetimepicker.min.css">
<script type="text/javascript" src="/js/sweetalert2.all.min.js"></script>
