<style>
    .birth{width:12%}
    td{text-transform: uppercase;}
</style>

<div class="content_layout">
    <div class="page-header">
        <h1>List Contract</h1>
    </div>

<div>
    <a role="button" class="btn btn-primary btn_create" data-toggle="modal">+ Add New </a>
</div>
<div class="table-responsive" style="overflow-x: auto;">
    <table class="table table-bordered">
        <tr>
            <th>#</th>
            <th>Name</th>
            <th>Department</th>
            <th>Action</th>
        </tr>
        <?php
            $intStt = $this->offset;            
            foreach(  $this->list as $value):
        ?>
        <tr>
            <td><?=++$intStt?></td>
            <td><?php echo $value['name'];?></td>
            <td><?php echo $value['department_name'];?></td>
            <td><a href="" class="small-text"><i class="icon-play"></i> Detail</a></td>
        </tr>
        <?php endforeach; ?>
        
    </table>
</div>
<div id="createModal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <form method="post">        
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
            <h3 id="myModalLabel">Thêm Hợp Đồng</h3>
        </div>
        <div class="modal-body">            
            <label for="name">Tên hợp đồng: </label>
            <input type="text" name="name" required />
            <label for="department">Phòng ban: </label>
            <select name="department_id" class="span2" >
                <option value="">--Select--</option>  
                <?php foreach ($this->department as $key => $value): ?>
                <option value="<?php echo $key; ?>"><?php echo $value; ?></option> 
                <?php endforeach; ?>
            </select>           
            <input type="hidden" name="link" class="link" />    
        </div>
        <div class="modal-footer">
            <input class="btn btn-primary" type="submit" />
        </div>
    </form>
</div>

<script type="text/javascript" src="/js/jquery-ui-1.8.12.custom.min.js"></script>
<link rel="stylesheet" type="text/css" href="/css/jquery-ui-1.8.12.custom.css">
<script src="../js/tag-it.min.js" type="text/javascript" charset="utf-8"></script>
<link href="../css/jquery.tagit.css" rel="stylesheet" type="text/css">
<link href="../css/tagit.ui-zendesk.css" rel="stylesheet" type="text/css">

<script type="text/javascript" src="/js/bootstrap-datetimepicker.min.js"></script>
<link rel="stylesheet" type="text/css" href="/css/bootstrap-datetimepicker.min.css">
<script type="text/javascript" src="/js/sweetalert2.all.min.js"></script>
<script>
$(".btn_create").click(function() { 
    var link = $(location).attr('href');       
    $('.link').val(link);   
    $('#createModal').modal('show');    
});
</script>