<style>
    .accordion-heading{background: #FFF}
    .breadcrumb{padding-left: 10px; padding-right: 10px;}
    .ui-dialog{
        top: 150px !important;
        left: 15% !important;
    }
</style>

<div class="page-header">
    <h1><?= $this->translate_adapter->translate('rq_list',$this->current_lang);?></h1>
    <div class="pull-right" style="margin-top: -25px">
        <div class="button-right">
            <a href="create-request" class="btn btn-success pull-right">Create</a>
        </div>
    </div>
</div>
<?php
if (isset($this->messages) and $this->messages)
    foreach ($this->messages as $message):
        echo '<div class="alert alert-error" style="margin: 10px 0px !important;">' . $message . '</div>';
    endforeach;
if (isset($this->messages_success) and $this->messages_success)
    foreach ($this->messages_success as $message):
        echo '<div class="alert alert-success" style="margin: 10px 0px !important;">' . $message . '</div>';
    endforeach;
?>
<div class="accordion" id="accordion2">
    <div class="accordion-group">
        <div class="accordion-heading" style="background: #e5e5e5;">
            <a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion2" href="#collapseTwo">
                Search
            </a>
        </div>
        <div id="collapseTwo" class="accordion-body collapse" style="height: 0px;">
            <div class="accordion-inner">
                <?php
                echo $this->render('request-office/partials/search-request.phtml');
                ?>
            </div>
        </div>
    </div>
</div>

<div class="table-responsive" style="overflow-x: auto;">
        <?php
        echo $this->render('request-office/partials/list-request.phtml');
        ?>
</div>
<!-- Back to top -->
<div class="btn-back-to-top" id="myBtn">
        <span class="symbol-btn-back-to-top">
            <i class="icon-circle-arrow-up"></i>
        </span>
</div>
<script type="text/javascript" src="<?php echo HOST ?>js/bootstrap-multiselect.js"></script>
<link rel="stylesheet" href="<?php echo HOST ?>css/bootstrap-multiselect.css" type="text/css"/>
<script type="text/javascript" src="<?php echo HOST ?>js/jquery-ui-1.8.12.custom.min.js"></script>
<link rel="stylesheet" type="text/css" href="<?php echo HOST ?>css/jquery-ui-1.8.12.custom.css"/>
<script>
    $(document).ready(function () {
        $('.form-search button:reset').click(function (e) {
            $('.form-search input, .form-search select').val('');
            $('.form-search').submit();
            return false;
        });
    });
        var windowH = $(window).height()/2;

    $(window).on('scroll',function(){
        if ($(this).scrollTop() > windowH) {
            $("#myBtn").css('display','flex');
        } else {
            $("#myBtn").css('display','none');
        }
    });

    $('#myBtn').on("click", function(){
        $('html, body').animate({scrollTop: 0}, 300);
    });


</script>
<?php echo $this->confirm(); ?>
<?php echo $this->load('combobox'); ?>