<style>
    .birth{width:12%}
</style>

<div class="content_layout">
    <div class="page-header">
        <h1>Danh sách Purchasing Request</h1>
    </div>
<div class="accordion" id="accordion2">
    <div class="accordion-group">
        <div class="accordion-heading">
            <a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion2" href="#collapseTwo">
                Search
            </a>
        </div>
        <div id="collapseTwo" class="accordion-body collapse" style="height: 0px;">
            <div class="accordion-inner">
                <form class="form-search form-horizontal" method="get" action="/">
                    <div class="row">
                        <div class="span5">
                            <div class="control-group">
                                <label for="name" class="span2">Name</label>
                                <input id="name" name="name" type="text" class="input-medium search-query form-control" value="">
                            </div>

                            <div class="control-group">
                                <label for="code" class="span2">Staff code</label>
                                <input id="code" name="code" type="text" class="input-large search-query form-control" value="">
                            </div>
                        </div>
                    </div>
                    <button type="submit" class="btn btn-primary">Search</button>
                </form>
            </div>
        </div>
    </div>
</div>

<div class="table-responsive" style="overflow-x: auto;">
    <table class="table table-bordered">
        <tr>
            <th>#</th>
            <th>Loại ngân sách</th>
            <th>Tên khoản ngân sách</th>
            <th>Nhóm hạng mục</th>
            <th>Hạng mục</th>
            <th>Số tiền</th>
            <th>Chọn nhà cung cấp</th>
            <th>Chọn dự án</th>
            <th>Ngân sách Từ ngày</th>
            <th>Đến ngày</th>
            <th>Trạng thái</th>
            <th>APPROVED BY</th>
            <th>Action</th>
        </tr>
        <tr>
            <td>1</td>
            <td>Ngân sách theo Dự án</td>
            <td>RESEARCH Reno2</td>
            <td>AGENCY</td>
            <td>RESEACH</td>
            <td>12,000,000,000</td>
            <td></td>
            <td>RENO SERIES</td>
            <td>01/04/2020</td>
            <td>30/07/2020</td>
            <td><span class="label label-success">Approved</span></td>
            <td style="font-size: 9px;">
                <span style="color:green;">ĐỖ MINH TÂM <i class="icon  icon-ok-sign"></i></span><br>
                <span style="color:green;">TÔ THỊ THU THỦY <i class="icon  icon-ok-sign"></i></span><br>
            </td>
            <td>
                <a href="" class="small-text"><i class="icon-play"></i> Detail</a>
            </td>
        </tr>
        
    </table>
</div>


<script type="text/javascript" src="/js/jquery-ui-1.8.12.custom.min.js"></script>
<link rel="stylesheet" type="text/css" href="/css/jquery-ui-1.8.12.custom.css">
<script src="../js/tag-it.min.js" type="text/javascript" charset="utf-8"></script>
<link href="../css/jquery.tagit.css" rel="stylesheet" type="text/css">
<link href="../css/tagit.ui-zendesk.css" rel="stylesheet" type="text/css">

<script type="text/javascript" src="/js/bootstrap-datetimepicker.min.js"></script>
<link rel="stylesheet" type="text/css" href="/css/bootstrap-datetimepicker.min.css">
<script type="text/javascript" src="/js/sweetalert2.all.min.js"></script>
