<style>
    .birth{width:12%}
</style>

<div class="content_layout">
    <div class="page-header">
        <h1>List campaign</h1>
    </div>


<div class="table-responsive" style="overflow-x: auto;">
    <table class="table table-bordered">
        <tr>
            <th>#</th>
            <th>Campaign</th>
            <th>Department</th>
            <th>Action</th>
        </tr>
        <tr>
            <td>1</td>
            <td>BRAND</td>
            <td>
                <span>MARKETING</span><br>
                <span>RETAIL</span><br>
            </td>
            <td>
                <a href="" class="small-text"><i class="icon-play"></i> Detail</a>
            </td>
        </tr>
        <tr>
            <td>2</td>
            <td>FIND SERIES</td>
            <td>
                <span>SALES</span><br>
                <span>SERVICE</span><br>
                <span>CALL CENTER</span><br>
                <span>RETAIL</span><br>
            </td>
            <td>
                <a href="" class="small-text"><i class="icon-play"></i> Detail</a>
            </td>
        </tr>
        <tr>
            <td>3</td>
            <td>A SERIES</td>
            <td>
                <span>SALES</span><br>
                <span>SERVICE</span><br>
                <span>CALL CENTER</span><br>
                <span>RETAIL</span><br>
            </td>
            <td>
                <a href="" class="small-text"><i class="icon-play"></i> Detail</a>
            </td>
        </tr>
        <tr>
            <td>4</td>
            <td>OTHER</td>
            <td>
                <span>SALES</span><br>
                <span>SERVICE</span><br>
                <span>CALL CENTER</span><br>
                <span>RETAIL</span>
            </td>
            <td>
                <a href="" class="small-text"><i class="icon-play"></i> Detail</a>
            </td>
        </tr>
    </table>
</div>


<script type="text/javascript" src="/js/jquery-ui-1.8.12.custom.min.js"></script>
<link rel="stylesheet" type="text/css" href="/css/jquery-ui-1.8.12.custom.css">
<script src="../js/tag-it.min.js" type="text/javascript" charset="utf-8"></script>
<link href="../css/jquery.tagit.css" rel="stylesheet" type="text/css">
<link href="../css/tagit.ui-zendesk.css" rel="stylesheet" type="text/css">

<script type="text/javascript" src="/js/bootstrap-datetimepicker.min.js"></script>
<link rel="stylesheet" type="text/css" href="/css/bootstrap-datetimepicker.min.css">
<script type="text/javascript" src="/js/sweetalert2.all.min.js"></script>
