<div class="page-header">
    <h1>Request Flow Details</h1>
</div>
<?php
if (isset($this->messages_success) and $this->messages_success)
    foreach ($this->messages_success as $message):
        echo '<div class="alert alert-success">'.$message.'</div>';
    endforeach;

if (isset($this->messages) and $this->messages)
    foreach ($this->messages as $messages_error):
        echo '<div class="alert alert-danger">'.$messages_error.'</div>';
    endforeach;
?>

<a class="btn pull-right" href="/request-office/request-flow">List Flow</a>

<form action="" method="POST">
    <div class="row-fluid">
        <div class="span12" id="block_budget">
            <div class="widget">
                <div class="widget-header">
                    <i class="icon-list-alt"></i>
                    <h3>Info</h3>
                </div>

                <div class="widget-content">

                    <div class="row">
                        <div class="span3">


                            <div class="form-create">

                                <div class="form-create">
                                    <h5 for="company_id">Company</h5>
                                    <select name="company_id" id="company_id">
                                        <option value="">----</option>
                                        <?php foreach($this->company as $key=>$value):?>
                                        <option value="<?php echo $value['id'];?>" <?php echo $this->info['company_id'] == $value['id'] ? "selected" : NULL;?>><?php echo $value['name'];?></option>
                                        <?php endforeach;?>
                                    </select>
                                </div>

                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="span3">


                            <div class="form-create">

                                <div class="form-create">
                                    <h5 for="department_flow">Department</h5>
                                    <select name="department_flow" id="department_flow">
                                        <option value="">----</option>
                                        <?php foreach($this->department as $key=>$value):?>
                                        <option value="<?php echo $key;?>" <?php echo $this->info['department_id'] == $key ? "selected" : NULL;?>><?php echo $value;?></option>
                                        <?php endforeach;?>
                                    </select>
                                </div>

                            </div>
                        </div>
                    </div>


                    <div class="row">
                        <div class="span3">

                            <div class="form-create">

                                <div class="form-create">
                                    <h5 for="team_flow">Team</h5>
                                    <select name="team_flow" id="team_flow">
                                        <option value="">----</option>

                                        <?php if(!empty($this->info['team_name'])):?>
                                        <option value="<?php echo $this->info['team_id'];?>" selected><?php echo $this->info['team_name'];?></option>
                                        <?php endif;?>

                                    </select>
                                </div>

                            </div>
                        </div>
                    </div>


                    <div class="row">
                        <div class="span3">

                            <div class="form-create">

                                <div class="form-create">
                                    <h5 for="category_group">Category group</h5>
                                    <select name="category_group" id="category_group">
                                        <option value="">----</option>

                                        <?php if(!empty($this->info['group_name'])):?>
                                        <option value="<?php echo $this->info['request_type_group'];?>" selected><?php echo $this->info['group_name'];?></option>
                                        <?php endif;?>

                                    </select>
                                </div>

                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="span3">

                            <div class="form-create">

                                <div class="form-create">
                                    <h5 for="category_group">Category fee</h5>
                                    <select name="category_fee" id="category_fee">
                                        <option value="">----</option>

                                        <?php if(!empty($this->info['request_type_name'])):?>
                                        <option value="<?php echo $this->info['request_type'];?>" selected><?php echo $this->info['request_type_name'];?></option>
                                        <?php endif;?>

                                    </select>
                                </div>

                            </div>
                        </div>
                    </div>


                    <div class="row">
                        <div class="span3">
                            <div class="form-create">
                                <h5 for="" id="cost_temp_title">From Price</h5>
                                <input name="from_price" id="from_price" value="<?php echo $this->info['from_price'] ? number_format($this->info['from_price']) : NULL;?>">
                            </div>
                            <div class="form-create">
                                <h5 for="" id="cost_temp_title">To Price</h5>
                                <input name="to_price" id="to_price" value="<?php echo $this->info['to_price'] ? number_format($this->info['to_price']) : NULL;?>">
                            </div>
                            <div class="form-create">
                                <h5 for="has_leader">Has Leader</h5>
                                <input type="checkbox" name="has_leader" id="has_leader" value="1" <?php echo ($this->info['has_leader'] == 1) ? 'checked' : NULL;?>>
                            </div>
                        </div>
                    </div>

                </div>
            </div><!--widget-->
        </div>
    </div>

    <div class="row-fluid">
        <div class="span12" id="block_budget">
            <div class="widget">
                <div class="widget-header">
                    <i class="icon-list-alt"></i>
                    <h3>List Approve</h3>
                </div>

                <div class="widget-content">

                    <?php foreach($this->list_confirm as $key=>$value):?>
                    <div class="row">
                        <div class="span3">
                            <input value="<?php echo $value['department_name'];?>" readonly>
                        </div>

                        <div class="span3">
                            <input value="<?php echo $value['team_name'];?>" readonly>
                        </div>

                        <div class="span3">
                            <input value="<?php echo $value['title_name'];?>" readonly>
                        </div>

                        <div class="span3">
                            <div class="form-create">
                                <input value="<?php echo $value['fullname'];?>" readonly>
                                <input type="hidden" name="staff_id[]" value="<?php echo $value['staff_id'];?>" >
                            </div>
                        </div>

                        <div class="span3">
                            <a id="delete" class="btn btn-danger">Delete</a>
                        </div>
                    </div>
                    <?php endforeach;?>


                    <div class="list_staff_wrap">
                        <div class="row">
                            <select name="department_temp" id="department_temp" style="display: none">
                                <option value="">----</option>
                                <?php foreach($this->department as $key=>$value):?>
                                <option value="<?php echo $key;?>"><?php echo $value;?></option>
                                <?php endforeach;?>
                            </select>
                        </div>
                    </div><!-- list_staff_wrap -->

                    <div class="row">
                        <div class="span3">
                            <button id="add" class="btn btn-primary">Add</button>
                        </div>
                    </div>

                </div>
            </div><!--widget-->
        </div>
    </div>
    
    <div class="row-fluid">
        <div class="span12" id="block_budget">
            <div class="widget">
                <div class="widget-content">
                    <input type="hidden" name="flow_id" value="<?php echo $this->info['id'];?>"/>
                    <button type="submit" name="submit" value="1" class="btn btn-success">Save</button>
                </div>
            </div>
        </div>
    </div>
        
    
</form>

<script type="text/javascript" src="/js/sweetalert2.all.min.js"></script>

<script type="text/javascript">
    $(document).ready(function () {


        $(document).on('change', '#department_flow', function () {
            $('.loading').remove();
            $(this).after('<span class="loading"></span>');
            var _self = $(this);
            var department_id = $(this).val();
            
            team_select = $('#team_flow');
            
            $.get("/ajax/load-team",
                {department_id: [department_id]}
                , function (data, status) {
                    var obj = $.parseJSON(data);
                    
                    team_select.find('option:not(:first)').remove();
                    for (var i = 0; i < obj.length; i++) {
                        team_select.append('<option value="' + obj[i]['id'] + '">' + obj[i]['name'] + '</option>');
                    }
                    $('.loading').remove();
                });


            category_group = $('#category_group');

            $.get("/ajax/load-category-group",
                {department_id: [department_id]}
                , function (data, status) {
                    var obj = $.parseJSON(data);
                    
                    category_group.find('option:not(:first)').remove();
                    for (var i = 0; i < obj.length; i++) {
                        category_group.append('<option value="' + obj[i]['id'] + '">' + obj[i]['title'] + '</option>');
                    }
                    $('.loading').remove();
                });

        });

        $(document).on('change', '#category_group', function () {
            $('.loading').remove();
            $(this).after('<span class="loading"></span>');
            var _self = $(this);
            var group_id = $(this).val();
            
            category_fee = $('#category_fee');

            $.get("/ajax/load-category-type",
                {group_id: [group_id]}
                , function (data, status) {
                    var obj = $.parseJSON(data);
                    
                    category_fee.find('option:not(:first)').remove();
                    for (var i = 0; i < obj.length; i++) {
                        category_fee.append('<option value="' + obj[i]['id'] + '">' + obj[i]['title'] + '</option>');
                    }
                    $('.loading').remove();
                });


        });
        
        
        $(document).on('change', '#department_id', function () {
            $('.loading').remove();
            $(this).after('<span class="loading"></span>');
            var _self = $(this);
            var department_id = $(this).val();
            
            team_select = $(this).closest('.row').find('#team');
            
            //$('form').bind('submit', function (e) {
                //e.preventDefault();
            //});
            // $('.reload-by-department').prop('disabled', true);
            $.get("/ajax/load-team",
                {department_id: [department_id]}
                , function (data, status) {
                    var obj = $.parseJSON(data);
                    
                    team_select.find('option:not(:first)').remove();
                    for (var i = 0; i < obj.length; i++) {
                        team_select.append('<option value="' + obj[i]['id'] + '">' + obj[i]['name'] + '</option>');
                    }

                    // $('button, .btn, input, select').prop('disabled', false);
                    // $('.reload-by-department').prop('disabled', false);
                    // $('form').unbind('submit');
                    $('.loading').remove();
                    //team_select.change();
                });
        });
        
        $(document).on('change', '#team', function () {    
            $('.loading').remove();
            $(this).after('<span class="loading"></span>');
            var _self = $(this);
            var team_id = $(this).val();
            $('button, .btn, input').prop('disabled', true);
            
            title_select = $(this).closest('.row').find('#title');
            
            $.get("/ajax/load-title",
                {team_id: team_id}
                ,function(data,status){
                    var obj = $.parseJSON( data );
                    
                    title_select.find('option:not(:first)').remove();
                    for (var i = 0; i < obj.length; i++) {
                        title_select.append('<option value="'+obj[i]['id']+'">'+obj[i]['name']+'</option>');
                    }

                    $('button, .btn, input').prop('disabled', false);
                    $('.loading').remove();
                });
        });
        
        
        $(document).on('change', '#title', function () {    
            $('.loading').remove();
            $(this).after('<span class="loading"></span>');
            var _self = $(this);
            var title_id = $(this).val();
            $('button, .btn, input').prop('disabled', true);
            
            staff_select = $(this).closest('.row').find('#staff');
            
            $.get("/ajax/load-staff",
                {title_id: title_id}
                ,function(data,status){
                    var obj = $.parseJSON( data );
                    
                    staff_select.find('option:not(:first)').remove();
                    for (var i = 0; i < obj.length; i++) {
                        staff_select.append('<option value="'+obj[i]['id']+'">'+obj[i]['firstname']+' '+obj[i]['lastname']+'</option>');
                    }

                    $('button, .btn, input').prop('disabled', false);
                    $('.loading').remove();
                });
        });
        
        
        $('#add').click(function(){
            
            select = $('#department_temp').html();
            
            html = '<div class="row">\
                    <div class="span3">\
                        <select name="department_id" id="department_id" required="required" class="  ">\
                            '+select+'\
                        </select>\
                    </div>\
                    <div class="span3">\
                        <select name="team_id" id="team" required="required" class="  ">\
                                <option value="">----</option>\
                        </select>\
                    </div>\
                    <div class="span3">\
                        <select name="title[]" id="title">\
                            <option value="">----</option>\
                        </select>\
                    </div>\
                    <div class="span3">\
                        <select name="staff_id[]" id="staff">\
                            <option value="">----</option>\
                        </select>\
                    </div>\
                    <div class="span3">\
                        <a class="btn btn-danger" id="delete">Delete</a>\
                    </div>\
            </div>';
                            
            $('.list_staff_wrap').append(html);
            
        });
        
        
        $(document).on('click', '#delete', function () {   
            $(this).closest('.row').remove();
        });
        
        $("#from_price, #to_price").change(async function () {
            $cost_temp=$(this).val().replace(",","");

            
            // skip for arrow keys
            if(event.which >= 37 && event.which <= 40) return;

            $(this).val(function(index, value) {
                return formatMoney3(value,2);
            });

        });
        
        function getMoneyMany(money){
        
            var many_payment = $("#many_payment option:selected").val();

            if(many_payment){
                var option_select = $("#check-category option:selected").val();

                if(option_select == 6){
                    var cost_many_total = $("#many_payment option:selected").data("cost_many_total");
                    var cost_many = $("#many_payment option:selected").data("cost_many");
                    var cost_many_left = cost_many_total - cost_many - money;

                    var cost_many_use = parseInt(cost_many) + parseInt(money);

                    $("#cost_many_total").val(formatMoney3(cost_many_total));
                    $("#cost_many").val(formatMoney3(cost_many_use));
                    $("#cost_many_left").val(formatMoney3(cost_many_left));
                }
            }
        }
        
        function formatMoney3(amount, decimalCount = 0, decimal = ".", thousands = ",") {
        
            amount = amount.replace(/,/g, '');

            try {
              decimalCount = Math.abs(decimalCount);
              decimalCount = isNaN(decimalCount) ? 2 : decimalCount;

              const negativeSign = amount < 0 ? "-" : "";

              let i = parseInt(amount = Math.abs(Number(amount) || 0).toFixed(decimalCount)).toString();
              let j = (i.length > 3) ? i.length % 3 : 0;

              return negativeSign + (j ? i.substr(0, j) + thousands : '') + i.substr(j).replace(/(\d{3})(?=\d)/g, "$1" + thousands) + (decimalCount ? decimal + Math.abs(amount - i).toFixed(decimalCount).slice(2) : "");
            } catch (e) {
              console.log(e)
            }
        };
        
        
    });
</script>

    