<?php 
    $col = 'col-12';
    if(isset($this->col) and $this->col){ $col = $this->col;}
?>
<select class="<?php echo $col;?> search_result" id="name_result" name="s_result" <?php if (!$this->is_single): ?> multiple="multiple" <?php endif;?> size="25">
    <?php if (isset($this->list_group) and $this->list_group): ?>
        <?php foreach ($this->list_group as $group): ?>
            <option 
                value="<?php echo $group['id'] ?>" data-title="<?php echo $group['name'] ?>"
                >
                <?php echo $group['name'] ?>
            </option>
        <?php endforeach ?>
    <?php endif ?>
</select>
<script type="text/javascript">
if ($('#staff_region').length > 0) {
    $('#name_result').change(function(){
        $('#staff_region').html($('#name_result option:selected').attr('title'));
    });
}
</script>