
<link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.3/css/select2.min.css">
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.3/js/select2.min.js"></script>
<div class="page-header">
    <h1>Add New Tool - Permission Final</h1>
</div>
<?php
if (isset($this->messages_success) and $this->messages_success)
{
    foreach ($this->messages_success as $message):
        echo '<div class="alert alert-success">'.$message.'</div>';
    endforeach;
}

if (isset($this->messages_error) and $this->messages_error)
    foreach ($this->messages_error as $message):
        echo '<div class="alert alert-danger">'.$message.'</div>';
    endforeach;
?>

<div class="row" style="margin-top: 20px;">
    <div class="span5">
        <form class="form-horizontal form-search" action="add-tool-final" method="POST">

            <div class="control-group">
                <label for="tool_name" class="span2">New Tool Name: </label>
                <input id="tool_name" name="tool_name" type="text" required class="input-medium search-query form-control">
            </div>

            <div class="control-group">
                <label for="data_tool" class="span2">Copy data from Tool Name: </label>
                <select name="data_tool" id="data_tool" class="span2">
                    <option value="0">Choose</option>
                    <?php
                    foreach ($this->group_permission as $key => $value) { ?>
                        <option value="<?php echo $value['id']; ?>"><?php echo $value['name']; ?></option>
                    <?php }?>
                </select>
            </div>
            <div class="control-group">
                <div class="span2">
                    <button type="submit" class="btn btn-primary" value="1" name="submit" >Submit</button>
                    <a href="<?php echo HOST . "staff-permission/list-permission-final" ?>" class="btn btn-danger" >Cancel</a>
                </div>
            </div>
        </form>
    </div>
</div>

<script type="text/javascript" src="<?php echo HOST ?>js/bootstrap-multiselect.js"></script>
<link rel="stylesheet" href="<?php echo HOST ?>css/bootstrap-multiselect.css" type="text/css"/>