<link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.3/css/select2.min.css">
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.3/js/select2.min.js"></script>
<style>
tr.row_manager
{
    background: #74B3D5;
}

tr.row_leader
{
    background: #E5E5E5;
}

.table-permission a
{

}

.table-permission tr td
{
    border-color: #333;
}

span.span_manager
{
    margin: 0px;
    font-weight: bold;
    color: #007ACC;
}

span.span_leader
{
    margin: 0px;
    font-weight: bold;
    color: #67B459;
}

span.span_global
{
    margin: 0px;
    font-weight: bold;
    color: #C65C49;
}

</style>
<div class="page-header">
    <h1>List Staff Permission</h1>
</div>
<?php
if (isset($this->messages_success) and $this->messages_success)
{
    foreach ($this->messages_success as $message):
        echo '<div class="alert alert-success">'.$message.'</div>';
    endforeach;
}

if (isset($this->messages_error) and $this->messages_error)
    foreach ($this->messages_error as $message):
        echo '<div class="alert alert-danger">'.$message.'</div>';
    endforeach;
?>
<div style="margin-bottom: 10px; ">
 <a href="/staff-permission/create" class="btn btn-primary">Create</a>
 <a href="/staff-time/check-permission" class="btn btn-primary">Check Permission</a>
</div>
<div class="accordion" id="accordion2">
	<div class="accordion-group">
		<div class="accordion-heading">
			<a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion2" href="#collapseTwo">
				Search
			</a>
		</div>
		<div id="collapseTwo" class="accordion-body collapse">
			<div class="accordion-inner">
				<form class="form-search form-horizontal" method="get" action="">
                                    <div class="control-group">
						<label class="control-label">Staff Name</label>
						<div class="controls">
							<input type="text" class="search-query" name="name" value="<?php echo $this->params['name']; ?>">
						</div>
                                    </div>
                    <div class="control-group">
						<label class="control-label">Staff Email</label>
						<div class="controls">
							<input type="text" class="search-query" name="email" value="<?php echo $this->params['email']; ?>">
						</div>
					</div>
					<div class="control-group">
						<label class="control-label">Staff Code</label>
						<div class="controls">
							<input type="text" class="search-query" name="code" value="<?php echo $this->params['code']; ?>">
						</div>
					</div>
					<div class="control-group">
						<label class="control-label">Department</label>
						<div class="controls">
                            <select id="department" name="department" class="search-query select2">
                                <option value="">All</option>
                            <?php
                            foreach($this->department as $key => $value)
                            {
                            ?>
                                <option value="<?php echo $value['id']; ?>" <?php echo ($value['id']==$this->params['department'])?" selected ":""; ?> ><?php echo $value['name']; ?></option>
                            <?php
                            }
                            ?>
                            </select>
						</div>
					</div>
                    <div class="control-group">
						<label class="control-label">Office</label>
						<div class="controls">
                            <select id="office" name="office" class="search-query select2">
                                 <option value="">All</option>
                            <?php
                            foreach($this->office as $key => $value)
                            {
                            ?>
                                <option value="<?php echo $value['id']; ?>" <?php echo ($value['id']==$this->params['office'])?" selected ":""; ?> ><?php echo $value['office_name']; ?></option>
                            <?php
                            }
                            ?>
                            </select>
						</div>
					</div>
                    
                    <div class="control-group">
                        <label for="department" class="control-label">Permission</label>
                        <div class="controls">
                            <select name="permission" id="permission" class="search-query">
                                <option value="0">All</option>
                                <option value="1" <?php echo ($this->params['permission'] == 1)?' selected ':';' ?> >Manager</option>
                                <option value="2" <?php echo ($this->params['permission'] == 2)?' selected ':';' ?> >Leader</option>
                            </select>
                        </div>
                    </div>
					<div class="control-group">
						<div class="controls">
							<button type="submit" class="btn btn-success">Search</button>
							<button type="submit" name="export" value="1" class="btn btn-primary">Export</button>
						</div>
						<div class="controls">
							
						</div>
					</div>
				</form>
			</div>
		</div>
	</div>
</div>

<table class="table table-bordered table-permission">
    <thead>
        <th>Name</th>
        <th>Email</th>
        <th>Code</th>
        <th>Department</th>
        <th>Team</th>
        <th>Title</th>
        <th>Office</th>
        <th>Permission</th>
        <th>All office</th>
        <th>Approve</th>
        <th>Staff</th>
        <th>Action</th>
    </thead>
    <tbody>
    <?php
    foreach ($this->data as $key => $value) {
    ?>
        <tr class="<?php // echo ($value['is_manager']>0)?'row_manager':'row_leader'; ?>" >
            <td><?php echo $value['staff_name']; ?></td>
            <td><?php echo $value['email']; ?></td>
            <td><?php echo $value['staff_code']; ?></td>
            <td><?php echo $value['department']; ?></td>
            <td><?php echo $value['team']; ?></td>
            <td><?php echo $value['title']; ?></td>
            <td><?php echo !empty($value['is_all_office']) ? 'Tất cả văn phòng' : $value['office']; ?></td>
            <td>
                <?php
                if($value['is_manager'] > 0)
                {
                ?>
                <span class="span_manager">MANAGER</span>
                <?php
                }
                if($value['is_leader'] > 0)
                {
                ?>
                <span class="span_leader">LEADER</span>
                <?php
                }
                if($value['is_global'] > 0)
                {
                ?>
                <span class="span_global">GLOBAL</span>
                <?php
                }
                ?>
            </td>
            <td><?php echo !empty($value['is_all_office']) ? 'X' : ''; ?></td>
            <td><?php echo !empty($value['is_approve']) ? 'X' : ''; ?></td>
            <td><?php echo !empty($value['code']) ? $value['code'].'-'.$value['staff_name_approved'] : ''; ?></td>
            <td>
               <a href="/staff-permission/update?id=<?php echo $value['id'].'&is_leader=0&is_manager=0&is_global=0'; ?>" >Remove</a>
               <a href="/staff-permission/create?id=<?php echo $value['id']; ?>" >Edit</a>
            </td>
        </tr>
    <?php
    }
    ?>
    </tbody>
</table>
<div class="page">
    <?php echo $this->paging($this->total, $this->limit, $this->offset, $this->url);?>
</div>
<script>
    $(".select2").select2();
</script>