<link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.3/css/select2.min.css">
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.3/js/select2.min.js"></script>
<style>
    tr.row_manager
    {
        background: #74B3D5;
    }

    tr.row_leader
    {
        background: #E5E5E5;
    }

    .table-permission a
    {

    }

    .table-permission tr td
    {
        border-color: #333;
    }

    span.span_manager
    {
        margin: 0px;
        font-weight: bold;
        color: #007ACC;
    }

    span.span_leader
    {
        margin: 0px;
        font-weight: bold;
        color: #67B459;
    }

    span.span_global
    {
        margin: 0px;
        font-weight: bold;
        color: #C65C49;
    }

    .select2-selection__rendered, .select2-selection, .select2-results__option
    {
        font-size: 12px;
    }

    .content_layout, .btn-group, .open, .multiselect-container, .dropdown-menu
    {
        right: auto !important;
    }
</style>
<div class="page-header">
    <h1>List Staff Permission Final</h1>
</div>
<?php
if (isset($this->messages_success) and $this->messages_success) {
    foreach ($this->messages_success as $message):
        echo '<div class="alert alert-success">' . $message . '</div>';
    endforeach;
}

if (isset($this->messages_error) and $this->messages_error)
    foreach ($this->messages_error as $message):
        echo '<div class="alert alert-danger">' . $message . '</div>';
    endforeach;
?>
<div style="margin-bottom: 10px; ">
    <a href="/staff-permission/create-permission-final" class="btn btn-primary">Create new Permission</a>
    <a href="/staff-permission/add-tool-final" class="btn btn-success">Create new Tool</a>
</div>
<div class="accordion" id="accordion2">
    <div class="accordion-group">
        <div class="accordion-heading">
            <a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion2" href="#collapseTwo">
                Search
            </a>
        </div>
        <div id="collapseTwo" class="accordion-body collapse">
            <div class="accordion-inner">
                <form class="form-search form-horizontal" method="get" action="">
                    <div class="row">
                        <div class="span5">
                            <div class="control-group">
                                <label for="tool-name" class="control-label">Tool Name</label>
                                <div class="controls">
                                    <select name="tool-name" id="tool-name">
                                        <option value="0">Choose</option>
                                        <?php foreach ($this->tool_name as $value): ?>
                                            <option value="<?php echo $value->id ?>" <?php echo(($this->param['tool_name'] == $value->id) ? 'selected' : '' ) ?>><?php echo $value->name ?></option>
                                        <?php endforeach; ?>
                                    </select>
                                </div>
                            </div>

                            <div class="control-group">
                                <label for="staff-code" class="control-label">Code Staff</label>
                                <div class="controls">
                                    <input id="staff-code" name="staff-code" type="text" value="<?php echo $this->param['staff_code'] ?>">
                                </div>
                            </div>

                            <div class="control-group">
                                <label for="department" class="control-label">Department</label>
                                <div class="controls">
                                    <select name="department" id="department">
                                        <option value='0'>Choose</option>
                                        <?php if (isset($this->recursiveDeparmentTeamTitle)): ?>
                                            <?php foreach ($this->recursiveDeparmentTeamTitle as $item_id => $item): ?>
                                                <option value="<?php echo $item_id; ?>" <?php echo(($this->param['department'] == $item_id) ? 'selected' : '' ) ?>><?php echo $item['name']; ?></option>
                                            <?php endforeach; ?>
                                        <?php endif ?>
                                    </select>
                                </div>
                            </div>

                            <div class="control-group">
                                <label for="team" class="control-label">Team</label>
                                <div class="controls">
                                    <select name="team" id="team">
                                        <option value="0">Choose</option>
                                        <?php if (isset($this->recursiveDeparmentTeamTitle[$this->param['department']]['children'])): ?>
                                            <?php foreach ($this->recursiveDeparmentTeamTitle[$this->param['department']]['children'] as $item_id => $item): ?>
                                                <option value="<?php echo $item_id; ?>" <?php echo(($this->param['team'] == $item_id) ? 'selected' : '' ) ?>><?php echo $item['name']; ?></option>
                                            <?php endforeach; ?>
                                        <?php endif ?>
                                    </select>
                                </div>
                            </div>

                            <div class="control-group">
                                <label for="title" class="control-label">Title</label>
                                <div class="controls">
                                    <select name="title" id="title">
                                        <option value="0">Choose</option>
                                        <?php if (isset($this->recursiveDeparmentTeamTitle[$this->param['department']]['children'][$this->param['team']]['children'])): ?>
                                            <?php foreach ($this->recursiveDeparmentTeamTitle[$this->param['department']]['children'][$this->param['team']]['children'] as $item_id => $item): ?>
                                                <option value="<?php echo $item_id; ?>" <?php echo(($this->param['title'] == $item_id) ? 'selected' : '' ) ?>><?php echo $item['name']; ?></option>
                                            <?php endforeach; ?>
                                        <?php endif ?>
                                    </select>
                                </div>
                            </div>
                        </div>    
                        <div class="span5">
                            <div class="control-group">
                                <label for="area-approve" class="control-label">Area Approve</label>
                                <div class="controls">
                                    <select name="area-approve" id="area-approve">
                                        <option value="0">Choose</option>
                                        <?php foreach ($this->area_list as $key => $value): ?>
                                            <option value="<?php echo $key ?>" <?php echo(($this->param['area_approve'] == $key) ? 'selected' : '' ) ?>><?php echo $value ?></option>
                                        <?php endforeach; ?>
                                    </select>
                                </div>
                            </div>

                            <div class="control-group">
                                <label class="control-label">Office Approve</label>
                                <div class="controls">
                                    <select id="office-approve" name="office-approve" class="search-query select2">
                                        <option value="0">All</option>
                                        <?php
                                        foreach ($this->office as $key => $value) {
                                            ?>
                                            <option value="<?php echo $value['id']; ?>" <?php echo(($this->param['office_approve'] == $value['id']) ? 'selected' : '' ) ?>><?php echo $value['office_name']; ?></option>
                                            <?php
                                        }
                                        ?>
                                    </select>
                                </div>
                            </div>
                            <div class="control-group">
                                <label for="department-approve" class="control-label">Department Approve</label>
                                <div class="controls">
                                    <select name="department-approve" id="department-approve">
                                        <option value="0">Choose</option>
                                        <?php if (isset($this->recursiveDeparmentTeamTitle)): ?>
                                            <?php foreach ($this->recursiveDeparmentTeamTitle as $item_id => $item): ?>
                                                <option value="<?php echo $item_id; ?>" <?php echo(($this->param['department_approve'] == $item_id) ? 'selected' : '' ) ?>><?php echo $item['name']; ?></option>
                                            <?php endforeach; ?>
                                        <?php endif ?>
                                    </select>
                                </div>
                            </div>

                            <div class="control-group">
                                <label for="team-approve" class="control-label">Team Approve</label>
                                <div class="controls">
                                    <select name="team-approve" id="team-approve">
                                        <option value="0">Choose</option>
                                        <?php if (isset($this->recursiveDeparmentTeamTitle[$this->param['department_approve']]['children'])): ?>
                                            <?php foreach ($this->recursiveDeparmentTeamTitle[$this->param['department_approve']]['children'] as $item_id => $item): ?>
                                                <option value="<?php echo $item_id; ?>" <?php echo(($this->param['team_approve'] == $item_id) ? 'selected' : '' ) ?>><?php echo $item['name']; ?></option>
                                            <?php endforeach; ?>
                                        <?php endif ?>
                                    </select>
                                </div>
                            </div>

                            <div class="control-group">
                                <label for="title-approve" class="control-label">Title Approve</label>
                                <div class="controls">
                                    <select name="title-approve" id="title-approve">
                                        <option value="0">Choose</option>
                                        <?php if (isset($this->recursiveDeparmentTeamTitle[$this->param['department_approve']]['children'][$this->param['team_approve']]['children'])): ?>
                                            <?php foreach ($this->recursiveDeparmentTeamTitle[$this->param['department_approve']]['children'][$this->param['team_approve']]['children'] as $item_id => $item): ?>
                                                <option value="<?php echo $item_id; ?>" <?php echo(($this->param['title_approve'] == $item_id) ? 'selected' : '' ) ?>><?php echo $item['name']; ?></option>
                                            <?php endforeach; ?>
                                        <?php endif ?>
                                    </select>
                                </div>
                            </div>

                            <div class="control-group">
                                <label for="staff-code-approve" class="control-label">Code Staff Approve</label>
                                <div class="controls">
                                    <input id="staff-code-approve" name="staff-code-approve" type="text" value="<?php echo $this->param['staff_code_approve'] ?>">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="control-group">
                        <div class="controls">
                            <button type="submit" class="btn btn-success">Search</button>
                            <button type="submit" class="btn btn-primary" name="export" value="1">Export</button>
                            <!--<button type="submit" name="export" value="1" class="btn btn-primary">Export</button>-->
                        </div>
                        <div class="controls">

                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<ul class="nav nav-tabs">
    <li <?php if ($this->active == "#titleList") echo 'class="active"'; ?> ><a href="#titleList" data-toggle="tab">List Title</a></li>
    <li <?php if ($this->active == "#staffList") echo 'class="active"'; ?>><a href="#staffList" data-toggle="tab">List Staff</a></li>
</ul>
<div class="tab-content">
    <div class="tab-pane <?php if ($this->active == "#titleList") echo 'active'; ?>" id="titleList">
        <table class="table table-bordered table-permission">
            <thead>
            <th>Tool name</th>
            <th>Title</th>
            <th>Level manage</th>
            <th>Area</th>
            <th>Office</th>
            <th>Department Approve</th>
            <th>Team Approve</th>
            <th>Title Approve</th>
            <th>Staff Approve</th>
            <th>Filter by area</th>
            <th>Action</th>
            </thead>
            <tbody>
                <?php foreach ($this->data as $key => $value) { ?>
                    <tr>
                       <td><?php echo $value['group_permission']; ?></td>
                       <td><?php echo $value['full_name']; ?></td>
                       <td><?php if(!empty($value['level'])):?><span class="label label-info"><?php echo $value['level']; ?></span><?php endif;?></td>
                       <td><?php echo $value['area_name']; ?></td>
                       <td><?php echo $value['office_name']; ?></td>
                       <td><?php echo $value['dept_name']; ?></td>
                       <td><?php echo $value['team_name']; ?></td>
                       <td><?php echo $value['title_name']; ?></td>
                       <td><?php echo $value['staff_name']; ?></td>
                       <td><?php echo (!empty($value['tick_fillter_area']))?'<i class="fas fa-check" style="color:green"></i>':''; ?></td>
                       <td>
                            <a href="/staff-permission/delete-permission-final?id=<?php echo $value['id']; ?>"><i class="icon-trash"></i> Remove</a> | 
                            <a href="/staff-permission/update-permission-final?id=<?php echo $value['id']; ?>" ><i class="icon-pencil"></i> Edit</a>
                        </td>
                    </tr>
                <?php } ?>
            </tbody>
        </table>
        <div class="page">
            <?php echo $this->paging($this->total, $this->limit, $this->offset, $this->url); ?>
        </div>
    </div>
    <div class="tab-pane <?php if ($this->active == "#staffList") echo 'active'; ?>" id="staffList">
        <table class="table table-bordered table-permission">
            <thead>
            <th>Tool name</th>
            <th>Staff</th>
            <th>Level manage</th>
            <th>Area</th>
            <th>Office</th>
            <th>Department Approve</th>
            <th>Team Approve</th>
            <th>Title Approve</th>
            <th>Staff Approve</th>
            <th>Filter by area</th>
            <th>Action</th>
            </thead>
            <tbody>
                <?php
                foreach ($this->dataStaff as $key => $value) {
                    ?>
                    <tr class="" >
                        <td><?php echo $value['group_permission']; ?></td>
                        <td><?php echo $value['full_name']; ?></td>
                        <td><?php if(!empty($value['level'])):?><span class="label label-info"><?php echo $value['level']; ?></span><?php endif;?></td>
                        <td><?php echo $value['area_name']; ?></td>
                        <td><?php echo $value['office_name']; ?></td>
                        <td><?php echo $value['dept_name']; ?></td>
                        <td><?php echo $value['team_name']; ?></td>
                        <td><?php echo $value['title_name']; ?></td>
                        <td><?php echo $value['staff_name']; ?></td>
                        <td><?php echo (!empty($value['tick_fillter_area']))?'<i class="fas fa-check" style="color:green"></i>':''; ?></td>
                        <td>
                            <a href="/staff-permission/delete-permission-final?id=<?php echo $value['id']; ?>"><i class="icon-trash"></i> Remove</a> | 
                            <a href="/staff-permission/update-permission-final?id=<?php echo $value['id']; ?>" ><i class="icon-pencil"></i> Edit</a>
                        </td>
                    </tr>
                    <?php
                }
                ?>
            </tbody>
        </table>
        <div class="page1">
            <?php echo $this->paging($this->total1, $this->limit, $this->offset1, $this->url1); ?>
        </div>
    </div>
</div>
<script type="text/javascript" src="<?php echo HOST ?>js/bootstrap-multiselect.js"></script>
<link rel="stylesheet" href="<?php echo HOST ?>css/bootstrap-multiselect.css" type="text/css"/>
<script type="text/javascript" src="<?php echo HOST ?>js/jquery-ui-1.8.12.custom.min.js"></script>
<link rel="stylesheet" type="text/css" href="<?php echo HOST ?>css/jquery-ui-1.8.12.custom.css"/>
<script>
    $(".select2").select2();

    options = {
        selectAllText: 'Select All',
        includeSelectAllOption: true,
        includeSelectAllIfMoreThan: 3,
        disableIfEmpty: true
    };

    $(document).ready(function () {
        $('.form-search button:reset').click(function (e) {
            $('.form-search input, .form-search select').val('');
            $('.form-search').submit();
            return false;
        });

        multi();

        $('#department').change(function () {
            $('.loading').remove();
            $(this).after('<span class="loading"></span>');
            var _self = $(this);
            var department_id = $(this).val();
            $('button, .btn, input').prop('disabled', true);
            $.get("/ajax/load-team",
                    {department_id: department_id}
            , function (data, status) {
                var obj = $.parseJSON(data);
                $('#team').find('option').remove();
                $('#team').append('<option value="0">Choose</option>');
                for (var i = 0; i < obj.length; i++) {

                    $('#team').append('<option value="' + obj[i]['id'] + '">' + obj[i]['name'] + '</option>');
                }

                $('button, .btn, input').prop('disabled', false);
                $('.multiselect').multiselect("destroy").multiselect(options);
                $('.loading').remove();
            });
        });

        $('#team').change(function () {
            $('.loading').remove();
            $(this).after('<span class="loading"></span>');
            var _self = $(this);
            var team_id = $(this).val();
            $('button, .btn, input').prop('disabled', true);
            $.get("/ajax/load-title",
                    {team_id: team_id}
            , function (data, status) {
                var obj = $.parseJSON(data);
                $('#title').find('option').remove();
                $('#title').append('<option value="0">Choose</option>');
                for (var i = 0; i < obj.length; i++) {
                    $('#title').append('<option value="' + obj[i]['id'] + '">' + obj[i]['name'] + '</option>');
                }

                $('button, .btn, input').prop('disabled', false);
                $('.multiselect').multiselect("destroy").multiselect(options);
                $('.loading').remove();
            });
        });

        $('#department-approve').change(function () {
            $('.loading').remove();
            $(this).after('<span class="loading"></span>');
            var _self = $(this);
            var department_id = $(this).val();
            $('button, .btn, input').prop('disabled', true);
            $.get("/ajax/load-team",
                    {department_id: department_id}
            , function (data, status) {
                var obj = $.parseJSON(data);
                $('#team-approve').find('option').remove();
                $('#team-approve').append('<option value="0">Choose</option>');
                for (var i = 0; i < obj.length; i++) {
                    $('#team-approve').append('<option value="' + obj[i]['id'] + '">' + obj[i]['name'] + '</option>');
                }

                $('button, .btn, input').prop('disabled', false);
                $('.multiselect').multiselect("destroy").multiselect(options);
                $('.loading').remove();
            });
        });

        $('#team-approve').change(function () {
            $('.loading').remove();
            $(this).after('<span class="loading"></span>');
            var _self = $(this);
            var team_id = $(this).val();
            $('button, .btn, input').prop('disabled', true);
            $.get("/ajax/load-title",
                    {team_id: team_id}
            , function (data, status) {
                var obj = $.parseJSON(data);
                $('#title-approve').find('option').remove();
                $('#title-approve').append('<option value="0">Choose</option>');
                for (var i = 0; i < obj.length; i++) {
                    $('#title-approve').append('<option value="' + obj[i]['id'] + '">' + obj[i]['name'] + '</option>');
                }

                $('button, .btn, input').prop('disabled', false);
                $('.multiselect').multiselect("destroy").multiselect(options);
                $('.loading').remove();
            });
        });
        
    });

    function multi() {
        $('.multiselect').multiselect(options);
    }
</script>