
<style type="text/css">
    #area_id {
        width: 100%
    }

    #store_id {
        width: 100%
    }

    #category_id {
        width: 100%
    }
    .table_main {
        padding: 10px;
    }
    .title {
        color: #2aad6f;
        font-size:17px;
    }


    #loading-image{
        position: absolute;
        width: 100%;
        height: 55%;
        z-index: 1000;
        background:  center no-repeat #fff;
        /*background: url(/photo/loading/Preloader_1.gif) center no-repeat #fff;*/
    }
</style>
<div class="content-layout">
    <div id="loading-image"></div>

    <div class="row">
        <div class="col-12 col-md-8 p-0">
            <div class="table_main" style="margin-top: 7px;">
                <div class="header_tad">
                    <i class="icon-list-alt"></i> THÔNG TIN ĐỀ XUẤT

                </div>
                <div>
                    <span><b>Shop:</b> <b style="color : #3a52ff"><?php echo $this->addition_info['store_name']; ?></b></span><br>
                    <span>
                        <b>Trạng thái:</b >
                        <?php if ($this->addition_info['remove'] == 1): ?>
                            <b style="color : red">Đã hủy</b>
                        <?php else: ?>
                            <?php if ($this->addition_info['status'] == 1): ?>
                                <b style="color : #3a52ff">Chờ HO duyệt</b>
                            <?php endif; ?>
                        <?php if ($this->addition_info['status'] == 2): ?>
                                <b style="color : #3a52ff">Hoàn thành</b>
                            <?php endif; ?>
                        <?php endif; ?>


                    </span><br>
                    <?php if ($this->addition_info['remove'] == 1): ?>
                        <span><b ><i>Lý do hủy: <?php echo $this->addition_info['remove_note']; ?></i>L</b> </span><br>
                    <?php endif; ?>
                    
                    <span><b>Người đề xuất:</b> <b style="color : #3a52ff"><?php echo $this->addition_info['staff_name']; ?></b></span><br>
                    <span><b>Ngày đề xuất:</b> <b style="color : #3a52ff"><?php echo date('d/m/Y', strtotime($this->addition_info['created_at'])); ?></b></span>
                </div>
                <br>

                <form id="form_submit">

                    <div>
                        <b class="title">Hiện trạng tại shop:</b>
                        <table class="table">
                            <thead>
                            <tr>
                                <th style="width:40%">Hạng mục</th>
                                <th style="width:20%">Số lượng</th>
                            </tr>
                            </thead>
                            <tbody id="table_category">
                            <?php foreach ($this->current_category as $detail): ?>
                                <tr>
                                    <td><?php echo $detail['category_name']; ?></td>
                                    <td><?php echo $detail['quantity']; ?></td>
                                </tr>
                            <?php endforeach; ?>

                            </tbody>
                        </table>

                    </div>

                    <br>
                    <div>
                        <b class="title" style="color:orangered">Hạng mục bổ sung:</b>
                        <table class="table">
                            <thead>
                            <tr>
                                <th style="width:40%">Hạng mục</th>
                                <th style="width:20%">Số lượng</th>
                                <th style="width:40%">Lý do</th>
                            </tr>
                            </thead>
                            <tbody id="table_category">
                            <?php foreach ($this->addition_detail as $detail): ?>
                                <tr>
                                    <td><?php echo $detail['category_name']; ?></td>
                                    <td><?php echo $detail['quantity']; ?></td>
                                    <td><?php echo $detail['reason_name']; ?></td>
                                </tr>
                            <?php endforeach; ?>

                            </tbody>
                        </table>

                    </div>

                    <br><br>
                    <b class="title">Hình ảnh:</b>
                    <div class="list_image" style="border:1px solid #5fb15f; padding:10px">
                        <?php foreach ($this->addition_image as $image): ?>
                            <img class="img" src="<?php echo My_Util::formatLinkS3($image['url'])?>" alt="" style="max-width: 100%; height: auto;">
                            <br><br>
                        <?php endforeach; ?>

                    </div>
                    <br><br>
                    <div>
                        <b class="title">Ghi chú:</b>
                        <i><?php echo $this->addition_info['note']; ?></i>
                    </div>

                    <br>

                    <input type="hidden" name="addition_id" value="<?php echo $this->addition_info['id']?>">

                    <?php if ($this->has_permission && $this->addition_info['remove'] != 1): ?>
                    <div style="text-align: center">
                        <input type="hidden" name="remove" value="0" id="remove">
                        <input type="hidden" name="remove_note" value="" id="remove_note">
                        <button type="button" class="btn btn-danger" id="btn_remove">Hủy đề xuất</button>
                        <button type="submit" class="btn btn-primary">Duyệt</button>

                    </div>
                    <?php endif; ?>

                </form>

            </div>
        </div>
    </div>
</div>


<link rel="stylesheet" type="text/css" href="<?php echo HOST ?>css/select2.min.css">
<script type="text/javascript" src="<?php echo HOST ?>js/select2.min.js"></script>
<script type="text/javascript" src="/js/sweetalert2.all.min.js"></script>

<script>
    $(window).on('load', function() {
        // Animate loader off screen
        $("#loading-image").fadeOut("slow");
    });

    $(document).ready(function () {

        $('#form_submit').submit(function (event) {
            event.preventDefault();
            Swal.fire({
                title: 'Đang lưu dữ liệu...',
                // allowOutsideClick: false,
                onBeforeOpen: () => {
                    Swal.showLoading()
                }
            });

            $.ajax({
                url: '/trade/addition-category-approve',
                type: 'post',
                data: new FormData(this),
                dataType: 'json',
                success: function (data) {
                    if (data.status === 0) {
                        Swal.fire({
                            type: 'success',
                            title: 'Thành công',
                            showConfirmButton: false,
                            timer: 1500
                        });
                        // window.location.href = '/trade/check-shop-entire-product-create?check_shop_id=' + data.check_shop_id;

                        setTimeout(function() {
                         location.reload();
                        },700)
                    } else {
                        Swal.fire({
                            type: 'warning',
                            title: data.message,
                            showConfirmButton: false,
                            timer: 5000
                        });
                    }
                }
                ,
                contentType: false,
                cache: false,
                processData: false
            });
        })

        $('#btn_remove').click(function () {

            Swal.fire({
                title: 'Điền lý do hủy',
                input: 'text',
                inputAttributes: {
                    autocapitalize: 'off'
                },
                showCancelButton: true,
                confirmButtonText: 'Hủy đề xuất'
            }).then((result) => {
                var remove_note = result.value;
                if (remove_note) {
                    $('#remove').val(1);
                    $('#remove_note').val(remove_note);
                    $('#form_submit').submit();
                } else {
                    alert('Vui lòng điền lý do hủy !');
                }


            })
        })




    })
</script>


