<style>
    #loading-image{
        position: absolute;
        width: 100%;
        height: 55%;
        z-index: 1000;
        background:  center no-repeat #fff;
        /*background: url(/photo/loading/Preloader_1.gif) center no-repeat #fff;*/
    }
</style>

<div class="content-layout">
    <div id="loading-image"></div>

    <div class="row">

        <div class="span7">
            <div class="table_main" style="margin-top: 7px;">
                <div class="header_tad">
                    <i class="icon-list-alt"></i> DANH SÁCH ĐỀ XUẤT THI CÔNG

                </div>
                
                <div class="content_tad">

                    <div class="content_content" style="min-height: 405px;">
                        <!-- Khung search -->
                        <div class="accordion-group">
                            <div class="accordion-heading">
                              <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapseTwo">
                                Search
                              </a>
                            </div>
                            <div id="collapseTwo" class="accordion-body collapse" style="height: 0px;">
                              <div class="accordion-inner">

                                <form action="/trade/air-list" method="get" enctype="multipart/form-data" autocomplete="off">

                                    <div class="control-group">                                         
                                        <label class="control-label" for="name">Tên shop</label>
                                        <div class="controls">
                                             <input type="text" name="name_search" class="span3" id="name" placeholder="Nhập tên shop" value="<?php echo !empty($this->params['name_search']) ? $this->params['name_search'] : NULL;?>"> 

                                        </div> <!-- /controls -->               
                                    </div>
                                    <div class="control-group">
                                        <label class="control-label">Trạng thái chi phí:</label>
                                        <div class="controls">
                                            <select class="span3" name='review_cost'>
                                                <option value="">-- Tất cả --</option>
                                                <option value="1" <?php echo $this->params['review_cost'] == 1 ? 'selected' : ''; ?>> Chi phí đúng </option>
                                                <option value="2" <?php echo $this->params['review_cost'] == 2 ? 'selected' : ''; ?>> Chi phí sai </option>

                                            </select>
                                        </div> <!-- /controls -->
                                    </div>
                                    <div class="control-group">                                         
                                        <label class="control-label">Khu vực</label>
                                        <div class="controls">
                                            <select class="span3" name='area_id_search' id='area_id'>
                                                <option value="">-- Select --</option>
                                                <?php foreach($this->area as $key=>$value):?>
                                                <option value="<?php echo $key;?>" <?php echo $this->params["area_id_search"] == $key ? "selected" : NULL;?>><?php echo $value;?></option>
                                                <?php endforeach;?>
                                            </select>
                                        </div> <!-- /controls -->               
                                    </div>
                                    
                                    <div class="control-group">                                         
                                        <label class="control-label">Sales</label>
                                        <div class="controls">
                                            <select class="span3" name='staff_id' id='staff_id'>
                                                <option value="">-- Select --</option>
                                            </select>
                                        </div> <!-- /controls -->               
                                    </div>


                                    <div class="control-group">                                         
                                        <label class="control-label">Status</label>
                                        <div class="controls">
                                            <select class="span3" name='status_id' id='status_id'>
                                                <option value="">-- Select --</option>
                                                 <?php foreach($this->app_status as $key=>$value):?>
                                                <option value="<?php echo $key;?>" <?php echo $this->params["status_id"] == $key ? "selected" : NULL;?>><?php echo $value;?></option>
                                                <?php endforeach;?>
                                            </select>
                                        </div> <!-- /controls -->               
                                    </div>

                                    <div class="control-group">
                                        <label class="control-label" for="name">Số hợp đồng</label>
                                        <div class="controls">
                                            <input type="text" name="contract_number" class="span3" value="<?php echo $this->params['contract_number']; ?>" >
                                        </div> <!-- /controls -->
                                    </div>

                                    <div class="control-group">
                                        <label class="control-label" for="name">Nhà thầu</label>
                                        <div class="controls" >
                                            <select name="contractor_id" class="select_contractor span3">
                                                <option value="">-- Chọn nhà thầu --</option>
                                                <?php foreach ($this->listContractor as $contractor) : ?>
                                                    <option value="<?php echo $contractor['id']; ?>"
                                                        <?php echo ($contractor['id'] == $this->params['contractor_id']) ? 'selected' : ''; ?>
                                                    >
                                                        <?php echo $contractor['name']; ?>
                                                    </option>
                                                <?php endforeach; ?>
                                            </select>
                                        </div> <!-- /controls -->
                                    </div>



                                    <div class="control-group">                                         
                                        <label class="control-label" for="name">Từ ngày</label>
                                        <div class="controls">
                                            <input type="text" name="from_date" class="span3 date" id="from_date" value="<?php echo !empty($this->params['from_date']) ? $this->params['from_date'] : NULL;?>" readonly>
                                        </div> <!-- /controls -->               
                                    </div>

                                    <div class="control-group">                                         
                                        <label class="control-label" for="name">Đến ngày</label>
                                        <div class="controls">
                                            <input type="text" name="to_date" class="span3 date" id="to_date" value="<?php echo !empty($this->params['to_date']) ? $this->params['to_date'] : NULL;?>" readonly>
                                        </div> <!-- /controls -->               
                                    </div>
                                    
                                <input class="btn btn-success" type="submit" name="submit" value="Tìm">
                                <a href="/trade/air-list" class="btn btn-warning">Reset</a>
                                    <input type="submit" name="export_review_cost" value="Export tổng quát" class="btn btn-primary">
                                </form>
                              </div>
                            </div>
                        </div>
                        <!-- END Khung search -->
                        <table class='table'>
                            <tr>
                                <!--<th>#</th>-->
                                <th>Tên shop</th>
                                <th>Trạng thái</th>
                                <th>Chi phí</th>
                                <th>Ngày tạo</th>
                                <th style="width:20%">Số hợp đồng</th>
                            </tr>
                            
                            <?php foreach($this->list as $key=>$value):?>
                            <?php $inc = $this->offset + $key + 1;?>
                            <tr>
                                <td><a href="/trade/air-edit?id=<?php echo $value['id'];?>"><?php echo $value['store_name'];?></a></td>
                                <td>
                                    <div style="text-align: center">
                                        <?php echo (isset($value['remove']) AND $value['remove'] == 1) ? "<b style='color:red'>Đề xuất bị hủy</b><br>" : '' ;?>

                                        <?php echo (isset($value['reject']) AND $value['reject'] == 1) ? "<b style='color:red'>Đề xuất bị từ chối</b><br><span>".$value['reject_note']."</span>" : $this->app_status[$value['status']];?>
                                        <br>
                                        <?php if ($value['review_cost']) : ?>
                                            <?php if (in_array(2, explode(',', $value['review_cost'] ) ) ) : ?>
                                                <i class="icon icon-ok-sign" style="color:red; font-size:20px; text-align: center"></i>
                                            <?php else : ?>
                                                <i class="icon icon-ok-sign" style="color:#008b56; font-size:20px; text-align: center"></i>
                                            <?php endif; ?>
                                        <?php endif; ?>
                                    </div>
                                </td>
                                <td><?php echo $value['total_price'] ? number_format($value['total_price']) : ''; ?></td>
                                <td>
                                    <p><?php echo date('d/m/Y', strtotime($value['created_at']));?></p>

                                    <?php if (in_array($value['status'], [5,6])) : ?>
                                        <?php if ($value['date_finish']) : ?>
                                            <?php
                                            $date_diff = strtotime($value['date_finish']) - strtotime($value['created_at']);
                                            $date = round($date_diff / (60 * 60 * 24)) + 1;
                                            ?>
                                            <b style="color: blue"><?php echo $date; ?> ngày</b>
                                        <?php endif; ?>

                                    <?php else :?>
                                        <?php if (! $value['remove']) : ?>

                                            <?php
                                            $date_diff = time() - strtotime($value['created_at']);
                                            $date = round($date_diff / (60 * 60 * 24)) + 1;
                                            ?>
                                            <b style="color: deepskyblue"><?php echo $date; ?> ngày</b>
                                        <?php endif; ?>
                                    <?php endif; ?>

                                </td>
                                <td>
                                    <?php foreach ($this->contract_number[$value['id']] as $contract_number) :?>
                                        <?php if ($contract_number) : ?>
                                            <p class="label label-primary" style="background-color:#008b56"><?php echo $contract_number; ?></p>
                                        <?php endif; ?>
                                    <?php endforeach; ?>
                                </td>
                            </tr>
                            <?php endforeach;?>
                        </table>


                        <div class="paging">
                            <?php echo $this->paging($this->total, $this->limit, $this->offset, $this->url);?>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- -T -->
<script type="text/javascript" src="/js/jquery-ui-1.8.12.custom.min.js"></script>
<link rel="stylesheet" type="text/css" href="/css/jquery-ui-1.8.12.custom.css"/>
<link rel="stylesheet" type="text/css" href="<?php echo HOST ?>css/select2.min.css">
<script type="text/javascript" src="<?php echo HOST ?>js/select2.min.js"></script>
<script type="text/javascript">
    $(window).on('load', function() {
        // Animate loader off screen
        $("#loading-image").fadeOut("slow");
    });
    $(document).ready(function(){
        $('.select_contractor').select2();
        $( '.date' ).datepicker({ dateFormat: "dd/mm/yy" });
        $('.search_shop').select2(); 
        area_change();
        area_init_change();
    });
    var area_list = <?php echo json_encode($this->list_sale);?>;
    function area_change(){
        $("#area_id").change(function(){
            var area_id = $(this).val();
            
            $('#staff_id').find('option').remove().end().append('<option value="">--Select--</option>').val('');
            
            area = area_list[area_id];
            for(var i=0;i< area.length;i++){
                $("#staff_id").append('<option value='+area[i]['staff_id']+'>'+area[i]['fullname']+'</option>');
            }
            
            
        });
    }
    
    function area_init_change(){
        var area_id = $("#area_id").val();

        var staff_id = <?php echo $_GET['staff_id'] ? $_GET['staff_id'] : 0;?>;
        $('#staff_id').find('option').remove().end().append('<option value="">--Select--</option>').val('');
        
        if(area_id){
            area = area_list[area_id];
            for(var i=0;i< area.length;i++){
                if(staff_id == area[i]['staff_id']){
                    $("#staff_id").append('<option value='+area[i]['staff_id']+' selected>'+area[i]['fullname']+'</option>');
                }
                else{
                    $("#staff_id").append('<option value='+area[i]['staff_id']+'>'+area[i]['fullname']+'</option>');
                }

            }
        } 
    }
    
</script>
<!-- -T -->