<table class="table">
    <thead>
    <tr>
        <th>Hạng mục</th>
        <th>Số lượng</th>
    </tr>
    </thead>
    <tbody>
    <?php foreach ($this->list_category as $category): ?>
        <tr>
            <td><?php echo $category['category_name']; ?></td>
            <td><?php echo $category['quantity']; ?></td>
        </tr>
    <?php endforeach; ?>

    </tbody>
</table>