<style type="text/css">
    table {
      position: relative;
      width: 1000px;
      overflow: hidden;
      border-collapse: collapse;
    }


    /*thead*/
    thead {
      position: relative;
      display: block; /*seperates the header from the body allowing it to be positioned*/
      width: 1000px;
      overflow: visible;
    }

    thead th {
      background-color: #99a;
      min-width: 100px;
      height: 32px;
      border: 1px solid #222;
      font-size: 11px
    }

    .table_fix thead th:nth-child(1) {/*first cell in the header*/
      position: relative;
      background-color: #f5f5f5;
      width:100px;
    }


    /*tbody*/
    .table_fix tbody {
      position: relative;
      display: block; /*seperates the tbody from the header*/
      width: 1000px;
      height: 400px;
      overflow: scroll;
    }

    tbody td {
      min-width: 100px;
      border: 1px solid #222;
      padding: 5px;
      width:100px;
    }

    .table_fix tbody tr td:nth-child(1) {  /*the first cell in each tr*/
      position: relative;
      display: block; /*seperates the first column from the tbody*/
      height: 65px;
      background-color: #f5f5f5;
      width:100px;
    }

    table tr th{padding: 5px;width:100px}

    .btn_submit{margin: 10px auto;display: block;}
    .container-fluid a{cursor: pointer;}
    .input_quantity{width:40px;display: none}

    .status_details{display: block;float: left;width:100%}
    .status_details .btn_gui{display: block;width:48%;float: left;color:#FFF;border: 1px solid #FFF;font-size: 11px;}
    .status_details .btn_nhan{display: block;width:48%;float: left;color:#FFF;border: 1px solid #FFF;font-size: 11px;}
</style>

<div class="content-layout">
    <div class="page-header">
        <h1>Khu vực nhận số lượng <b style="color:red"><?php echo $this->campaign['name'];?></b></h1>
    </div><!-- page-header -->


    <div class="container-fluid">
        <div class="table_fix">

          <form action="/trade/area-in" method="POST" enctype="multipart/form-data">
          <div class="">

            <table>
              <thead>
                <tr class="">
                    <th>Khu vực</th>
                    <th>Trạng thái</th>
                    
                    <?php foreach($this->category_campaign as $key=>$value):?>
                    <th><?php echo $value['name'];?></th>
                    <?php endforeach;?>

                </tr>
            </thead>
            
            <tbody>
            <?php foreach($this->area as $key=>$value):?>
            <tr>
                <td><?php echo $value;?></td>
                <td>
                  <label style='color:#012bff'><?php echo $this->area_status[$key]['name'];?></label>
                </td>

                <?php foreach($this->category_campaign as $k=>$v):?>
  
                <?php $area_order = !empty($this->data_order[$key][$v['category_id']]['quantity']) ? $this->data_order[$key][$v['category_id']]['quantity'] : 0;?>
                
                <?php $quantity_order = !empty($this->data[$key][$v['category_id']]['quantity']) ? $this->data[$key][$v['category_id']]['quantity'] : 0;?>
                
                <?php $quantity_contractor = !empty($this->data_area_contractor[$key][$v['category_id']]['quantity']) ? $this->data_area_contractor[$key][$v['category_id']]['quantity'] : 0;?>

                <td>
                    <?php if($area_order > 0):?>
                      
                    <a class="area_order"><?php echo $area_order;?></a> - 
                    <a class="quantity_order" style="color:red"><?php echo $quantity_order;?></a> - 
                    <a class="quantity_contractor" style="color:black" category='<?php echo $v['category_id'];?>' quantity_contractor="<?php echo $quantity_contractor;?>" data-toggle="modal" data-target="#modal"><?php echo $quantity_contractor;?></a>

                    <div class="status_details">
                    <?php if($quantity_order >= $area_order):?>
                    <div class="btn_gui" style="background: green">Gửi</div>
                    <?php else:?>
                    <div class="btn_gui" style="background: red">Gửi <?php echo $quantity_order.'/'.$area_order;?></div>
                    <?php endif;?>

                    <?php if($quantity_contractor >= $quantity_order AND $quantity_contractor > 0):?>
                    <div class="btn_nhan" style="background: green">Nhận</div>
                    <?php else:?>
                    <div class="btn_nhan" style="background: red">Nhận</div>
                    <?php endif;?>
                    </div>              
                  

                    <input type="text" value='0' class="input_quantity" name='quantity[]' disabled='disabled'>
                    <input type="hidden" name="category_id[]" value="<?php echo $v['category_id'];?>" disabled='disabled'>
                    <input type="hidden" name="area_id[]" class="area_id" value="<?php echo $key;?>" disabled='disabled'>
                    <input type="hidden" name="price[]" class="price_<?php echo $v['category_id'];?>" value="<?php echo $v['price'];?>" disabled='disabled'>


                    <?php endif;?>
                </td>
                <?php endforeach;?>

            </tr>
            <?php endforeach;?>
            </tbody>
            </table>


              
<!--            <span class="title">Upload File</span>
            <div class="upload_file">

                <div class="control-group">
                    <label class="control-label">File mẫu</label>
                    <div class="controls">
                        <button type="submit" class="btn btn-warning" name="submit" value="2">Lấy file mẫu</button>
                    </div>
                </div>

                <div class="control-group">
                    <label class="control-label">Upload file</label>
                    <div class="controls">
                        <input type="file" name="file">
                    </div>
                </div>
            </div>-->

            
            <input type="hidden" name="campaign_id" class="campaign_id" value="<?php echo $this->campaign['id'];?>">
            <!--<button type="submit" class="btn btn-success btn_submit" name="submit" value="1">Xác nhận</button>-->
        </div>
        </form>
        

        </div>

    </div><!-- container-fluid -->

    <!-- Modal -->
    <div id="modal" class="modal fade" role="dialog">
      <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
          <form action="/trade/area-in?campaign_id=<?php echo $this->campaign['id'];?>" method="POST" enctype="multipart/form-data">
          <div class="modal-body">
            <table class="table details">

              <tr>
                <th>#</th>
                <th>Ngày xuất</th>
                <th>Số lượng</th>
                <th>Số lượng KV đã nhận</th>
              </tr>

            </table>
          </div>
          <div class="modal-footer">
            <input type="hidden" name="campaign_id" class="campaign_id" value="<?php echo $this->campaign['id'];?>">
            <button type="submit" name="submit" class="btn btn-primary" value="3">Xác nhận</button>
            <button type="button" class="btn btn-default" data-dismiss="modal">Đóng</button>
          </div>
          </form>

        </div><!-- modal-content -->

      </div>
    </div>
    <!-- END Modal -->

</div><!-- content layout-->

<script type="text/javascript">
    $(document).ready(function() {
        
       sum_total();
       inChange();


      $('tbody').scroll(function(e) { //detect a scroll event on the tbody
        /*
        Setting the thead left value to the negative valule of tbody.scrollLeft will make it track the movement
        of the tbody element. Setting an elements left value to that of the tbody.scrollLeft left makes it maintain             it's relative position at the left of the table.    
        */
        $('thead').css("left", -$("tbody").scrollLeft()); //fix the thead relative to the body scrolling
        $('thead th:nth-child(1)').css("left", $("tbody").scrollLeft()); //fix the first cell of the header
        $('tbody td:nth-child(1)').css("left", $("tbody").scrollLeft()); //fix the first column of tdbody
      });
    });

    $( ".quantity" ).click(function(e) {
        e.preventDefault(); 
        $(this).hide();
        $(this).closest('td').find('input').removeAttr('disabled');
        $(this).closest('td').find('.input_quantity').show();
        $(this).closest('td').find('.input_quantity').focus();
    });

    $( ".quantity_contractor" ).click(function(e) {

      area_id = $(this).closest('td').find('.area_id').val();

      cat_id = $(this).attr('category');

      contractor_id = $('.contractor_id').val();

      campaign_id = $('.campaign_id').val();

      $.ajax({
            url: "<?php echo HOST;?>trade/contractor-area-details",
            type: "GET",
            dataType: "text",
            context: this,
            data: "area_id="+area_id+"&cat_id="+cat_id+"&campaign_id="+campaign_id,
            beforeSend: function() {
                  $(".loading").show();                   
              },
            success: function(result){

                  if(result)
                  {
                      var data = jQuery.parseJSON(result);

                      console.log(data);

                      $('.details').empty();

                      $('.details').append('<tr><th>#</th><th>Ngày xuất</th><th>Số lượng</th><th>Số lượng KV đã nhận</th></tr>');

                      for($i = 1; $i<data.length;$i++){
                        area_date = '';
                        if(data[$i].area_date == 1){

                          //area_date = 'readonly';
                        }
                        
                          $('.details').append('\
                            <tr><td>'+$i+'</td>\
                                <td>'+data[$i].created_at+'</td>\
                                <td>'+data[$i].quantity+'</td>\
                                <td><input type="number" max="'+data[$i].quantity+'" name="quantity_area[]" class="quantity_area" value="'+data[$i].quantity_area+'" '+area_date+' />\
                                <input type="hidden" name="contractor_area_id[]" class="contractor_area_id" value="'+data[$i].contractor_area_id+'" />\
                                </td></tr>');
                      }
                  }
                  else
                  {   
                      
                  }
                                            
            },
            error:function(){
                alert("Error Ajax");
            }
      });

    });

    $(".input_quantity").focusout(function(){
        $(this).hide();

        var value = $(this).closest('td').find('.quantity').attr('quantity_contractor');

        quantity = $(this).val();
        $(this).closest('td').find('.quantity').html(parseInt(quantity)+parseInt(value));
        $(this).closest('td').find('.quantity').show();

        sum_total(); 
    });

    function sum_total(){
      sum = 0;
      /* Tính tổng tiền */
      <?php foreach($this->category as $k=>$v):?>
      var total_price_<?php echo $v['category_id'];?> = 0;
      $('.price_<?php echo $v['category_id'];?>').each(function() {
          var price = $(this);
          var q = price.closest('td').find('.quantity_contractor').html();
          total_price_<?php echo $v['category_id'];?> += parseInt(price.val()) * parseInt(q);;
      });

      $('.total_price_<?php echo $v['category_id'];?>').html(formatMoney(total_price_<?php echo $v['category_id'];?>, ''));

      sum += total_price_<?php echo $v['category_id'];?>;
      <?php endforeach;?>
      $('.sum').html(formatMoney(sum,''));
      /* END Tính tổng tiền */
    }

    function formatMoney(n, currency) {
      return n.toFixed(0).replace(/./g, function(c, i, a) {
          return i > 0 && c !== "." && (a.length - i) % 3 === 0 ? "," + c : c;
      })+" "+currency;
    }
  
    

</script>
