<div class="content-layout">
    <div class="page-header">
        <h1>Thêm hạng mục cho nhà thầu <b style="color:red"><?php echo $this->category_contractor['short_name'];?></b></h1>
    </div><!-- page-header -->


    <div class="container-fluid">
        <section class="">
          <div class="control-group">
                 <label for="type" class="span2 control-label">Khu vực &nbsp</label>
                 <div class="">
                    <select name="area_id" id="area_id"  style="padding: 0px;" class="">
                        <option value="">-- Chọn --</option> 
                        <?php if ( isset($this->area) and $this->area ):?> 
                            <?php foreach ($this->area as $k => $item):?> 
                            <option value="<?php echo $k;?>" <?php if ( (isset($this->params['area_id']) and ($this->params['area_id'])) and $this->params['area_id'] == $k  ): ?> selected<?php endif;?>><?php echo $item ;?></option>
                            <?php endforeach;?>
                        <?php endif;?>
                    </select>
                </div>
            </div>
        </section>
    </div><!-- container-fluid -->

</div><!-- content layout-->

<script type="text/javascript">
    $(document).ready(function() {
      $('tbody').scroll(function(e) { //detect a scroll event on the tbody
        /*
        Setting the thead left value to the negative valule of tbody.scrollLeft will make it track the movement
        of the tbody element. Setting an elements left value to that of the tbody.scrollLeft left makes it maintain             it's relative position at the left of the table.    
        */
        $('thead').css("left", -$("tbody").scrollLeft()); //fix the thead relative to the body scrolling
        $('thead th:nth-child(1)').css("left", $("tbody").scrollLeft()); //fix the first cell of the header
        $('tbody td:nth-child(1)').css("left", $("tbody").scrollLeft()); //fix the first column of tdbody
      });
    });

    $( ".quantity" ).click(function(e) {
        e.preventDefault(); 
        $(this).hide();
        $(this).closest('td').find('input').removeAttr('disabled');
        $(this).closest('td').find('.input_quantity').show();
        $(this).closest('td').find('.input_quantity').focus();
    });

    $(".input_quantity").focusout(function(){
        $(this).hide();

        quantity = $(this).val();
        $(this).closest('td').find('.quantity').html(quantity);
        $(this).closest('td').find('.quantity').show();

    });

</script>
