<div class="content-layout">
    <div class="page-header">
        <h1>Danh sách nhà cung cấp</h1>
    </div><!-- page-header -->


    <div class="container-fluid">
        <section class="">
          <table class="table">
            <tr>
              <th>#</th>
              <th>Tên nhà cung cấp</th>
              <th></th>
            </tr>
            <?php foreach($this->category_contractor as $key=>$value):?>
            <?php $inc = ($this->offset > 0 ? $this->offset : 0) + $key + 1;?>
            <tr>
              <td><?php echo $inc;?></td>
              <td><?php echo $value['name'];?></td>
              <td><a href="/trade/category-contractor-log?contractor_id=<?php echo $value['id'];?>"><i class="icon-large icon-edit"></i></a></td>
            </tr>
            <?php endforeach;?>
          </table>
          <div class="paging">
              <?php echo $this->paging($this->total, $this->limit, $this->offset, $this->url);?>
          </div>
        </section>
    </div><!-- container-fluid -->

</div><!-- content layout-->

<script type="text/javascript">
    $(document).ready(function() {
      $('tbody').scroll(function(e) { //detect a scroll event on the tbody
        /*
        Setting the thead left value to the negative valule of tbody.scrollLeft will make it track the movement
        of the tbody element. Setting an elements left value to that of the tbody.scrollLeft left makes it maintain             it's relative position at the left of the table.    
        */
        $('thead').css("left", -$("tbody").scrollLeft()); //fix the thead relative to the body scrolling
        $('thead th:nth-child(1)').css("left", $("tbody").scrollLeft()); //fix the first cell of the header
        $('tbody td:nth-child(1)').css("left", $("tbody").scrollLeft()); //fix the first column of tdbody
      });
    });

    $( ".quantity" ).click(function(e) {
        e.preventDefault(); 
        $(this).hide();
        $(this).closest('td').find('input').removeAttr('disabled');
        $(this).closest('td').find('.input_quantity').show();
        $(this).closest('td').find('.input_quantity').focus();
    });

    $(".input_quantity").focusout(function(){
        $(this).hide();

        quantity = $(this).val();
        $(this).closest('td').find('.quantity').html(quantity);
        $(this).closest('td').find('.quantity').show();

    });

</script>
