<style>
    #loading-image{
        position: absolute;
        width: 100%;
        height: 55%;
        z-index: 1000;
        background:  center no-repeat #fff;
        /*background: url(/photo/loading/Preloader_1.gif) center no-repeat #fff;*/
    }

</style>

<div class="content-layout">
    <div id="loading-image"></div>

    <div class="row">

        <div class="col-12 col-md-8 p-0">
            <div class="table_main" style="margin-top: 7px;">
                <div class="header_tad">
                    <i class="icon-list-alt"></i> DANH SÁCH ĐỢT THAY TRANH

                </div>
                <?php if ($this->access('trade', 'change-picture-stage-create')) : ?>
                 <a href="/trade/change-picture-stage-create" class="btn btn-success">Tạo đợt thay tranh</a>
                <?php endif; ?>
                <div class="content_tad">

                    <div class="content_content" style="min-height: 405px;">

                        <div class="tab-content">
                            <div id="list_normal" class="tab-pane fade in active">
                                <table class='table'>
                                    <tr>
                                        <th>Tên đợt</th>
                                        <th>Ngày bắt đầu kiểm soát (Sales)</th>
                                        <th>Ngày kết thúc kiểm soát (Sales)</th>
                                        <th>Trạng thái</th>
                                        <th>Action</th>
                                    </tr>

                                    <?php foreach ($this->list as $element) :?>
                                    <tr>
                                        <td><?php echo $element['name']; ?></td>

                                        <td><?php echo $element['from_date_check'] ? date('d/m/Y', strtotime($element['from_date_check'])) : ''; ?></td>
                                        <td><?php echo $element['to_date_check'] ? date('d/m/Y', strtotime($element['to_date_check'])) : ''; ?></td>
                                        <td>
                                            <?php if ($element['is_running'] == 1) : ?>
                                                Đang chạy
                                            <?php endif; ?>

                                            <?php if ($element['is_running'] == 0) : ?>
                                                Đã tắt
                                            <?php endif; ?>
                                        </td>
                                        <td>
                                            <?php if (in_array($this->storage['title'], [TRADE_MARKETING_LEADER_HO])) : ?>

                                               <?php if ($element['is_running'] == 1) : ?>
                                                 <button type="button" class="btn btn-danger btn_start" status="<?php echo $element['is_running']; ?>" stage_id="<?php echo $element['id']; ?>">Dừng </button>
                                                <?php endif; ?>

                                                <?php if ($element['is_running'] == 0) : ?>
                                                    <?php if (date('Y-m-d') < $element['from_date_check'] || !$element['from_date_check']) : ?>
                                                       <button type="button" class="btn btn-primary btn_start" status="<?php echo $element['is_running']; ?>" stage_id="<?php echo $element['id']; ?>">Khởi động</button>
                                                    <?php endif; ?>
                                                <?php endif; ?>
                                                <a class="btn btn-warning" href="/trade/change-picture-stage-create?id=<?php echo $element['id']; ?>">Chỉnh sửa</a>

                                                <a target="_blank" href="/trade/change-picture-download-file?stage_id=<?php echo $element['id']; ?>" class="btn"><i class="icon icon-download"></i> Danh sách shop</a>
                                            <?php endif; ?>

                                            <a class="btn btn-info" href="/trade/change-picture-statistic?stage_id=<?php echo $element['id']; ?>">Xem thống kê</a>

                                        </td>
                                    </tr>
                                    <?php endforeach; ?>


                                </table>
                                <div class="paging">
                                    <?php echo $this->paging($this->total, $this->limit, $this->offset, $this->url);?>
                                </div>
                            </div>
                        </div>



                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- -T -->
<script type="text/javascript" src="/js/jquery-ui-1.8.12.custom.min.js"></script>
<link rel="stylesheet" type="text/css" href="/css/jquery-ui-1.8.12.custom.css"/>
<link rel="stylesheet" type="text/css" href="<?php echo HOST ?>css/select2.min.css">
<script type="text/javascript" src="<?php echo HOST ?>js/select2.min.js"></script>
<script type="text/javascript" src="/js/sweetalert2.all.min.js"></script>

<script type="text/javascript">
    $(window).on('load', function() {
        // Animate loader off screen
        $("#loading-image").fadeOut("slow");
    });

    $(document).ready(function () {
        $('.btn_start').click(function () {
            var stage_id = $(this).attr('stage_id');
            var status = $(this).attr('status');

            if (status == 0) {
                var title = "Sau khi khởi động thì Trade Local sẽ được nhập và chỉnh sửa thông tin tranh. Bạn muốn tiếp tục ?"
            }

            if (status == 1) {
                var title = "Sau khi dừng thì Trade Local sẽ không thể chỉnh sửa thông tin tranh. Bạn muốn tiếp tục ?"
            }

            Swal.fire({
                title: title,
                icon: 'warning',
                showCancelButton: true,
                confirmButtonColor: '#3085d6',
                cancelButtonColor: '#d33',
                confirmButtonText: 'Yes'
            }).then((result) => {
                if (result.value) {
                    $.ajax({
                        url: '/trade/change-picture-stage-start',
                        type: 'post',
                        data: {
                            stage_id: stage_id,
                            status: status
                        },
                        dataType: 'json',
                        success: function (data) {
                            if (data.status === 0) {
                                Swal.fire({
                                    type: 'success',
                                    title: 'Thành công',
                                    showConfirmButton: false,
                                    timer: 1000
                                });

                                setTimeout(function () {
                                    location.reload()
                                },500)
                            } else {
                                Swal.fire({
                                    type: 'warning',
                                    title: data.message,
                                    showConfirmButton: false,
                                    timer: 1000
                                })
                            }
                        }
                    });
                }
            })
        })
    })


</script>
<!-- -T -->