<style>
    #loading-image{
        position: absolute;
        width: 100%;
        height: 100%;
        z-index: 1000;
        background:  center no-repeat #fff;
        /*background: url(/photo/loading/Preloader_1.gif) center no-repeat #fff;*/
    }
    .table {
        border-collapse: collapse;
        /*width: 300px;*/
        overflow-x: scroll;
        display: block;
    }

    .head, .body {
        display: block;
    }
    .body {
        overflow-y: scroll;
        overflow-x: hidden;
        height: 500px;
    }
    td, th {
        height: 35px;
        /*border: dashed 1px lightblue;*/
        text-align: center ;
    }

    /* New Styles */
    .table .th-fixed:first-child,
    .table .td-fixed:first-child{
        position:relative;
        z-index:10;
        background-color:#EFEFEF;
    }

    td-fixed:first-child{
        background-color:#fff;
    }
    .table-wrapper {

        -webkit-box-shadow: 0px 2px 8px -2px rgba(0,0,0,0.63);
        -moz-box-shadow: 0px 2px 8px -2px rgba(0,0,0,0.63);
        box-shadow: 0px 2px 8px -2px rgba(0,0,0,0.63)

    }


    .table td {
        vertical-align: middle;
        text-align: center;
    }
    .table th {
        vertical-align: middle;
        text-align: center;
    }


    .td-fixed , .th-fixed  {
        min-width: 150px;
        max-width: 150px;
    }

    /*chart*/
    .highcharts-figure, .highcharts-data-table table {
        min-width: 310px;
        margin: 1em auto;
    }

    #container {
        height: 400px;
    }

    .highcharts-data-table table {
        font-family: Verdana, sans-serif;
        border-collapse: collapse;
        border: 1px solid #EBEBEB;
        margin: 10px auto;
        text-align: center;
        width: 100%;
        max-width: 500px;
    }
    .highcharts-data-table caption {
        padding: 1em 0;
        font-size: 1.2em;
        color: #555;
    }
    .highcharts-data-table th {
        font-weight: 600;
        padding: 0.5em;
    }
    .highcharts-data-table td, .highcharts-data-table th, .highcharts-data-table caption {
        padding: 0.5em;
    }
    .highcharts-data-table thead tr, .highcharts-data-table tr:nth-child(even) {
        background: #f8f8f8;
    }
    .highcharts-data-table tr:hover {
        background: #f1f7ff;
    }


    /*end chart*/

    /*fade in , fade out*/
    .table, .view_sale_category_detail, .tr-fixed, .view_sale_store_detail , .tr-not-fixed, .statistic_store{
        animation: animateElement linear .3s;
        animation-iteration-count: 1;
    }

    @keyframes animateElement{
        0% {
            opacity:0;
            transform:  translate(0px,10px);
        }
        100% {
            opacity:1;
            transform:  translate(0px,0px);
        }
    }
    /*fade in , fade out*/



    /*icon loading*/
    .loader {
        border: 3px solid red;
        border-radius: 50%;
        border-top: 3px solid blue;
        border-bottom: 3px solid green;
        border-right: 3px solid lightgrey;
        width: 5px;
        height: 5px;
        -webkit-animation: spin 1s linear infinite;
        animation: spin 1s linear infinite;
        display:none
    }

    @-webkit-keyframes spin {
        0% { -webkit-transform: rotate(0deg); }
        100% { -webkit-transform: rotate(360deg); }
    }

    @keyframes spin {
        0% { transform: rotate(0deg); }
        100% { transform: rotate(360deg); }
    }
    /*icon loading*/

    tspan {
        font-size:8px;
    }


    .ui-datepicker {
        margin-left:160px;
    }
</style>

<div id="loading-image"></div>

<h3>THỐNG KÊ CHECK SHOP TRADE LOCAL<LOCAL></LOCAL>:
    Từ <b style="color: #2AAD6F"><?php echo date('d/m/Y', strtotime($this->params['from_date'])) ; ?> </b>
        Đến <b style="color: #2AAD6F"><?php echo date('d/m/Y', strtotime($this->params['to_date'])) ; ?></b>
</h3>
<br>
<!-- Khung search -->
<div class="accordion-group">
    <div class="accordion-heading">
        <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapseTwo">
            Search
        </a>
    </div>
    <div id="collapseTwo" class="accordion-body collapse" style="height: 0px;">
        <div class="accordion-inner">

            <form action="/trade/check-shop-entire-statistic" method="get" enctype="multipart/form-data" autocomplete="off">

                <div class="control-group">
                    <label class="control-label" >Từ ngày</label>
                    <div class="controls">
                        <input class="date" type="text" name="from_date" class="span3" value="<?php echo $this->params['from_date'] ? date('d-m-Y', strtotime($this->params['from_date'])) : ''; ?>">
                    </div>
                </div>

                <div class="control-group">
                    <label class="control-label" >Đến ngày</label>
                    <div class="controls">
                        <input class="date" type="text" name="to_date" class="span3" value="<?php echo $this->params['to_date'] ? date('d-m-Y', strtotime($this->params['to_date'])) : ''; ?>">
                    </div>
                </div>

                <input class="btn btn-success" type="submit" name="submit" value="Tìm">
            </form>
        </div>


    </div>
</div>
<!-- END Khung search -->
<ul class="nav nav-tabs">
    <li class="active"><a data-toggle="tab" href="#category_statistic">Thống kê</a></li>
</ul>

<div class="tab-content">
    <!-- Thống kê theo số lượng hạng mục   -->
    <div id="category_statistic" class="tab-pane fade in active">
        <div class="table-wrapper ">
            <br>
            <i><b>Chú thích:</b>
                <span style="color:red">■: Số lần check  </span>;  &nbsp;
                <span style="color:blue">■: Số shop check </span>
            </i>
            <br>
            <br>
            <table class="table ">
                <thead class="">
                <tr class="">
                    <th style="width:20%">Nhân viên</th>
                    <th style="width:25%">Shop KA</th>
                    <th style="width:25%">Shop IND</th>
                    <th style="width:15%">Số lỗi tìm thấy</th>
                    <th >Số lỗi đã sửa</th>
                </tr>
                </thead>
                <tbody class="">

                <?php foreach ($this->list_staff as $staff) : ?>
                    <tr class="">
                        <td class="">
                            <?php if ($staff['title'] == TRADE_MARKETING_LEADER) : ?>
                                <b style="color: #2DA346"><?php echo $staff['staff_name']; ?></b>
                            <?php else : ?>
                                <b><?php echo $staff['staff_name']; ?></b>
                                <br>
                             <b style="color: purple; font-size: 10px"><?php echo $staff['list_area']; ?></b>
                            <?php endif; ?>

                        </td>
                        <td style="text-align: center" class="">
                            <b style="color: red"><?php echo $this->statistic_count_check [$staff['staff_id']] ['total_store_ka']; ?></b>
                            <?php if ($this->statistic_count_store [$staff['staff_id']] ['total_store_ka']) : ?>
                                <a href="/trade/check-shop-entire-list?list_store=<?php echo $this->statistic_count_store [$staff['staff_id']] ['list_store_ka']; ?>">
                                    <b style="color: blue">(<?php echo $this->statistic_count_store [$staff['staff_id']] ['total_store_ka']; ?>)</b>
                                </a>
                            <?php endif; ?>
                        </td>

                        <td style="text-align: center" class="">
                            <b style="color: red"><?php echo $this->statistic_count_check [$staff['staff_id']] ['total_store_indi']; ?></b>

                            <?php if ($this->statistic_count_store [$staff['staff_id']] ['total_store_indi']) : ?>
                            <a href="/trade/check-shop-entire-list?list_store=<?php echo $this->statistic_count_store [$staff['staff_id']] ['list_store_indi']; ?>">
                                <b style="color: blue">(<?php echo $this->statistic_count_store [$staff['staff_id']] ['total_store_indi']; ?>)</b>
                            </a>
                            <?php endif; ?>
                        </td>

                        <td style="text-align: center" class="">
                            <a href="/trade/check-shop-entire-list?list_store=<?php echo $this->statistic_error [$staff['staff_id']] ['list_store_error']; ?>">
                              <b style="color: black"> <?php echo $this->statistic_error [$staff['staff_id']] ['total_error']; ?></b>
                            </a>
                        </td>

                        <td style="text-align: center" class="">
                            <a href="/trade/check-shop-entire-list?list_store=<?php echo $this->statistic_error [$staff['staff_id']] ['list_store_repair']; ?>">
                                <b style="color: #1b9048"><?php echo $this->statistic_error [$staff['staff_id']] ['total_repair']; ?></b>
                            </a>
                        </td>
                    </tr>
                <?php endforeach; ?>
                </tbody>
            </table>
        </div>
    </div>
    <!-- Thống kê theo số lượng hạng mục   -->
</div>



<script src="/js/highchart/highcharts.js"></script>

<script type="text/javascript" src="<?php echo HOST ?>js/bootstrap-multiselect.js"></script>
<link rel="stylesheet" href="<?php echo HOST ?>css/bootstrap-multiselect.css" type="text/css"/>

<script type="text/javascript" src="/js/jquery-ui-1.8.12.custom.min.js"></script>
<link rel="stylesheet" type="text/css" href="/css/jquery-ui-1.8.12.custom.css"/>

<script>
    $(document).ready(function() {
        $(window).on('load', function() {
            // Animate loader off screen
            $("#loading-image").fadeOut("slow");
        });

        $( '.date' ).datepicker({ dateFormat: "dd-mm-yy" });

        $('.table').on('scroll', function () {
            $(".table > *").width($(".table").width() + $(".table").scrollLeft());
        });

        var $stickyHeader = $('.table .head tr th:first-child');
        var $stickyCells = $('.table .body tr td:first-child');

        $('.table').on('scroll', function () {
            $stickyHeader.css('left', ($(this).scrollLeft()+'px'));
            $stickyCells.css('left', ($(this).scrollLeft()+'px'));
        });

    });
</script>

