

<style type="text/css">
    span {
        font-size:1em ! important;
    }

    input {
        width: 50px;
    }
    .quantity_checkshop {
        width: 50px;
        margin-top: 10px;
        text-align: right;
    }

    .table_checkshop {
        margin-bottom: 10px
    }

    .table_checkshop tr td {
        text-align: center;
        padding: 2px
    }

    .inputfile {
        width: 0.1px;
        height: 0.1px;
        opacity: 0;
        overflow: hidden;
        position: absolute;
        z-index: -1;
    }

    .content_tad table tr th {
        padding: 2px
    }

    .content_layout {
        overflow-y: -webkit-paged-x;
    }

    .btn {
        padding: 2px 4px;
    }

    .imei_qrcode {
        font-size: 7px
    }

    .btn_file {
        font-size: 7px
    }

    .table tr td {
        text-align: center;
    }

    .img_wrap {
        display: block;
        position: relative;
    }

    .file {
        visibility: hidden;
        max-width: 100px !important;
        height: 0px !important
    }

    .top_img {
        display: block;
        height: 50px;
    }

    .bottom_img {
        margin-top: -35px;
    }

    #demo {
        font-weight: bold;
    }

    .category {
        width: 100%;
    }

    .add-icon {
        width: 20px;
        border-radius: 20px;
    }

    .remove-icon {
        margin-left: 5px;
        width: 20px;
        border-radius: 20px;
    }

    .success {
        background-color: #dff0d8
    }
    .danger {
        background-color: #f2dede
    }

    input[type=number] {
        display: none;
    }
</style>

<!-- Scanner CSS -->
<style type="text/css">
    #scanner {
        background: #263238;
        height: 100%;
        margin-top: 10px;
        z-index: 5000;
    }

    .frame_scan {
        position: absolute;
        height: 100%;
        width: 100%;
    }

    .preview-container {
        flex-direction: column;
        align-items: center;
        justify-content: center;
        display: flex;
        width: 100%;
        overflow: hidden;
        height: 410px;
        position: relative;
    }

    .sidebar {
        background: #eceff1;
        width: 100%;
        display: block;
        float: left;
    }

    .sidebar h2 {
        font-weight: normal;
        font-size: 1.0rem;
        background: #607d8b;
        color: #fff;
        padding: 10px;
        margin: 0;
    }

    .sidebar ul {
        margin: 0;
        padding: 0;
        list-style-type: none;
    }

    .sidebar li {
        line-height: 175%;
        white-space: nowrap;
        overflow: hidden;
        text-wrap: none;
        text-overflow: ellipsis;
    }

    .cameras ul {
        padding: 15px 20px;
    }

    .cameras .active {
        font-weight: bold;
        color: #009900;
    }

    .cameras a {
        color: #555;
        text-decoration: none;
        cursor: pointer;
    }

    .cameras a:hover {
        text-decoration: underline;
    }

    .scans li {
        padding: 10px 20px;
        border-bottom: 1px solid #ccc;
    }

    .scan_wrap {
        border: 1px solid #CCC;
        padding: 10px 0px;
        position: relative;
        text-align: center;
        height: 20px;
        background-color: white;
    }

    .scan_wrap .close_btn {
        position: absolute;
        right: 0px;
        font-size: 37px;
        margin-right: 10px;
    }

    @media (min-width: 320px) and (max-width: 575px) {
        #preview {
            transform: scaleX(1) !important;
            width: 100%;
            position: absolute;
            top: 12%;
        }


    }

    @media screen and (max-width: 600px) {
        .icon-edit {
            font-size:18px
        }
    }

    #preview {
        transform: scaleX(1) !important;
        width: 100%;
        position: absolute;
    }
    #loading-image{
        position: absolute;
        width: 100%;
        height: 55%;
        z-index: 1000;
        background:  center no-repeat #fff;
        /*background: url(/photo/loading/Preloader_1.gif) center no-repeat #fff;*/
    }
</style>

<div class="content-layout">
    <div id="loading-image"></div>

    <div class="row">
        <div class="span7">
            <div class="table_main" style="margin-top: 7px;">
                <div class="header_tad">
                    <i class="icon-list-alt"></i> KIỂM TRA KHO HẠNG MỤC POSM

                </div>

                <div class="content_tad">
                    <h4 >KHU VỰC: <span style="color:red; font-weight:bold"><?php echo $this->areaName; ?></span></h4>
                    <br>
                    <div class="content_content" style="min-height: 405px;">

                        <form id="form" method="POST" enctype="multipart/form-data">
                            <div class="table_checkshop">
                                <table class="table" id="table_category">
                                    <tbody>
                                    <tr>
                                        <th style="width: 15%">Tên hạng mục</th>
                                        <th style="width: 15%">Loại</th>
                                        <th style="width: 15%">Số lượng trong kho</th>
                                        <th style="width: 15%">Điền số lượng nhập kho</th>
                                        <?php if ($this->areaId != 65) : ?>
                                            <th style="width: 15%">Điền số lượng xuất kho</th>
                                        <?php endif; ?>
                                        <th >Note</th>
                                    </tr>
                                    <?php foreach ($this->listCurrentCategory as $currentCategory) :?>
                                        <tr>
                                            <td><?php echo $currentCategory['parent_name']; ?></td>
                                            <td><?php echo $currentCategory['category_name']; ?></td>
                                            <td><?php echo $currentCategory['quantity']; ?></td>
                                            <td class="success">
                                                <input type="number" name="increase_quantity[<?php echo $currentCategory['category_id']; ?>]">
                                                <i class="icon icon-edit"></i>
                                            </td>

                                            <?php if ($this->areaId != 65) : ?>
                                            <td class="danger">
                                                <input type="number" name="decrease_quantity[<?php echo $currentCategory['category_id']; ?>]">
                                                <i class="icon icon-edit"></i>
                                            </td>
                                            <?php endif; ?>

                                            <td>
                                                <textarea style="width:70%" name="note[<?php echo $currentCategory['category_id']; ?>]" cols="4" rows="3"></textarea>
                                            </td>
                                        </tr>
                                    <?php endforeach; ?>
                                    </tbody>
                                </table>
                            </div>

                            <div class="btn_file">
                                <p class="btn btn-primary btn_add pull-right" style="width: 25px;margin: 5px"> + </p>
                                <p class="btn btn-warning btn_remove pull-right" style="width: 25px;margin:5px"> - </p>
                            </div>


                            <br><br>
                            <div style="text-align: center;">
                                <input type="submit" class="btn btn-success" name="" id="submit_" value="Hoàn Thành">
                                <a href="/trade/check-inventory-list" class="btn btn-default" style="height: 23px;"><p>Quay
                                        lại</p></a>
                            </div>



                            <input type="hidden" name="area_id" value="<?php echo $this->areaId; ?>">
                        </form>
                    </div>
                </div>
                <div id="mapholder"></div>
            </div>
        </div>
    </div>
</div>

<!-- Scanner-->

<!-- Virtual Category List -->
<div class="add_category" style="display: none">
    <table>
        <tbody>
            <tr>
                <td>
                        <select class="category category_parent" required style="width:80px;">
                            <option value="">-- Chọn --</option>
                            <?php foreach ($this->listParentCategory as $key => $value): ?>
                                <option value="<?php echo $value['id']; ?>">
                                    <?php echo $value['name']; ?>
                                </option>
                            <?php endforeach; ?>
                        </select>
                </td>
                <td>
                    <select class="category_child"  name="category_id[]" required style="width:80px;">
                        <option value="">-- Chọn --</option>
                    </select>
                </td>
                <td> <p class="old_quantity"></p></td>
                <td class="success">
                    <input type="number" class="increase_quantity" >
                    <i class="icon icon-edit"></i>
                </td>
                <?php if ($this->areaId != 65) : ?>

                <td class="danger">
                    <input type="number" class="decrease_quantity" >
                    <i class="icon icon-edit"></i>
                </td>
                <?php endif; ?>

                <td>
                    <textarea style="width:70%"  cols="4" rows="3" class="note"></textarea>
                </td>
            </tr>
        </tbody>
    </table>


</div>



<script type="text/javascript" src="/js/sweetalert2.all.min.js"></script>
<script type="text/javascript" src="/js/jquery-ui-1.8.12.custom.min.js"></script>
<link rel="stylesheet" type="text/css" href="/css/jquery-ui-1.8.12.custom.css"/>
<link rel="stylesheet" type="text/css" href="<?php echo HOST ?>css/select2.min.css">
<script type="text/javascript" src="<?php echo HOST ?>js/select2.min.js"></script>
<link rel="stylesheet" type="text/css" href="/js/DataTables/datatables.min.css"/>
<script type="text/javascript" src="/js/DataTables/datatables.min.js"></script>


<script type="text/javascript">


    $(window).on('load', function() {
        // Animate loader off screen
        $("#loading-image").fadeOut("slow");
    });

    $(document).ready(function () {

        $('#history_table').DataTable();

        var copy_row = $('.add_category').find('tbody').html();
        $('.add_category').remove();

        $(document).on('click', ".btn_add", function () {
            $('#table_category').append(copy_row);
        });

        $(document).on('change', '.category_parent',function() {
            var parent_id = $(this).val();
            var selectChild = $(this).closest('tr').find('.category_child');
            var option = "<option value=''>" + "- Chọn -" + "</option>";
            $.ajax({
                url: '/trade/get-category-posm-child',
                type: 'post',
                data: {
                    parent_id: parent_id
                },
                dataType: 'json',
                success: function (data) {
                    if (data.status === 0) {
                        selectChild.empty();
                        data.listCategoryChild.forEach(function (category) {
                            option += "<option value='" + category.category_id + "'>" + category.category_name + "</option>";
                        });
                        selectChild.append(option);
                    } else {
                        alert(data.message);
                    }
                }
            });
        });

        $(document).on('change', ".category_child", function () {
            var categoryId = $(this).val();

            var increaseAttrName = 'increase_quantity[' + categoryId + ']';
            var decreaseAttrName = 'decrease_quantity[' + categoryId + ']';
            var noteAttrName = 'note[' + categoryId + ']';
            $(this).closest('tr').find('.increase_quantity').attr('name', increaseAttrName);
            $(this).closest('tr').find('.decrease_quantity').attr('name', decreaseAttrName);
            $(this).closest('tr').find('.note').attr('name', noteAttrName);
        });

        $(document).on('click', ".btn_remove", function () {
            var table = document.getElementById('table_category');
            var rowCount = table.rows.length;
            if(rowCount > 1){
                table.deleteRow(rowCount - 1);
            }
        });


        $("form").submit(function (e) {
            e.preventDefault();
            var areaId = '<?php echo $this->areaId; ?>';
            let form = $('#form');
            let formData = new FormData(form[0]);

            Swal.fire({
                title: 'Đang lưu dữ liệu...',
                allowOutsideClick: false,
                onBeforeOpen: () => {
                    Swal.showLoading()
                }
            });

            $.ajax({
                url: "/trade/check-inventory-posm-save",
                data: formData,
                enctype: 'multipart/form-data',
                cache: false,
                contentType: false,
                processData: false,
                type: "POST",
                dataType: 'json',
                success:function(data) {
                    if (data.status == 0) {
                        Swal.fire({
                            type: 'success',
                            title: 'Thành công',
                            showConfirmButton: false,
                            timer: 1000
                        });
                        setTimeout(function() {
                            window.location.href = "/trade/check-inventory-posm-view?area_id=" + areaId;
                        }, 1000)
                    } else {
                        console.log(data.message)
                        Swal.fire({
                            type: 'warning',
                            title: data.message,
                            showConfirmButton: false,
                            timer: 1500
                        });
                    }
                }
            });
        });

        $(document).on('click', '.btn_add', function() {
            $('.category').each(function() {
               // $(this).select2();
            });
        })

        $(document).on('click', '.icon-edit', function() {
            $(this).parents('td').find('input').show();
            $(this).parents('td').find('input').focus();
            $(this).hide();
        })
    });

</script>




