<style type="text/css">
    .quantity_checkshop {
        width: 50px;
        margin-top: 10px;
        text-align: right;
    }

    .table_checkshop {
        margin-bottom: 10px
    }

    .table_checkshop tr td {
        text-align: center;
        padding: 2px
    }

    .inputfile {
        width: 0.1px;
        height: 0.1px;
        opacity: 0;
        overflow: hidden;
        position: absolute;
        z-index: -1;
    }

    .content_tad table tr th {
        padding: 2px
    }

    .content_layout {
        overflow-y: -webkit-paged-x;
    }

    .btn {
        padding: 2px 4px;
    }

    .imei_qrcode {
        font-size: 7px
    }

    .btn_file {
        font-size: 7px
    }

    .table tr td {
        text-align: center;
    }

    .img_wrap {
        display: block;
        position: relative;
    }

    .file {
        visibility: hidden;
        max-width: 100px !important;
        height: 0px !important
    }

    .top_img {
        display: block;
        height: 50px;
    }

    .bottom_img {
        margin-top: -35px;
    }

    #demo {
        font-weight: bold;
    }

    .category {
        width: 100%;
    }

    .add-icon {
        width: 20px;
        border-radius: 20px;
    }

    .remove-icon {
        margin-left: 5px;
        width: 20px;
        border-radius: 20px;
    }


    .has_type {
        display:none !important;
    }

    .has_width {
        display:none !important;
    }

    .has_material {
        display:none !important;
    }

    .has_painting {
        display:none !important;
    }
    .category_type_child {
        display: none
    }
</style>

<!-- Scanner CSS -->
<style type="text/css">
    #scanner {
        background: #263238;
        height: 100%;
        margin-top: 10px;
        z-index: 5000;
    }

    .frame_scan {
        position: absolute;
        height: 100%;
        width: 100%;
    }

    .preview-container {
        flex-direction: column;
        align-items: center;
        justify-content: center;
        display: flex;
        width: 100%;
        overflow: hidden;
        height: 410px;
        position: relative;
    }

    .sidebar {
        background: #eceff1;
        width: 100%;
        display: block;
        float: left;
    }

    .sidebar h2 {
        font-weight: normal;
        font-size: 1.0rem;
        background: #607d8b;
        color: #fff;
        padding: 10px;
        margin: 0;
    }

    .sidebar ul {
        margin: 0;
        padding: 0;
        list-style-type: none;
    }

    .sidebar li {
        line-height: 175%;
        white-space: nowrap;
        overflow: hidden;
        text-wrap: none;
        text-overflow: ellipsis;
    }

    .cameras ul {
        padding: 15px 20px;
    }

    .cameras .active {
        font-weight: bold;
        color: #009900;
    }

    .cameras a {
        color: #555;
        text-decoration: none;
        cursor: pointer;
    }

    .cameras a:hover {
        text-decoration: underline;
    }

    .scans li {
        padding: 10px 20px;
        border-bottom: 1px solid #ccc;
    }

    .scan_wrap {
        border: 1px solid #CCC;
        padding: 10px 0px;
        position: relative;
        text-align: center;
        height: 20px;
        background-color: white;
    }

    .scan_wrap .close_btn {
        position: absolute;
        right: 0px;
        font-size: 37px;
        margin-right: 10px;
    }

    @media (min-width: 320px) and (max-width: 575px) {
        #preview {
            transform: scaleX(1) !important;
            width: 100%;
            position: absolute;
            top: 12%;
        }
    }

    #preview {
        transform: scaleX(1) !important;
        width: 100%;
        position: absolute;
    }
    #loading-image{
        position: absolute;
        width: 100%;
        height: 55%;
        z-index: 1000;
        background:  center no-repeat #fff;
        /*background: url(/photo/loading/Preloader_1.gif) center no-repeat #fff;*/
    }
</style>

<div class="content-layout">
    <div id="loading-image"></div>

    <div class="row">
        <div class="col-12 col-md-8 p-0">
            <div class="table_main" style="margin-top: 7px;">
                <div class="header_tad">
                    <i class="icon-list-alt"></i> HIỆN TRẠNG KHO HẠNG MỤC ĐẦU TƯ
                </div>

                <div class="content_tad">
                    <h4 >KHU VỰC: <span style="color:red; font-weight:bold"><?php echo $this->areaName; ?></span></h4>
                    <br>
                    <div class="content_content" style="min-height: 405px;">

                        <form id="form" method="POST" enctype="multipart/form-data">
                            <div class="table_checkshop">
                                <table class="table" id="table_category">
                                    <tbody>
                                    <tr>
                                        <th style="width:20%">Tên hạng mục</th>
                                        <th style="width:80%">Số lượng</th>
                                    </tr>

                                    <?php foreach ($this->currentCategories as $key => $value): ?>
                                            <tr class="row_table_detail"
                                                has_type="<?php echo $value['has_type']; ?>"
                                                has_width="<?php echo $value['has_width']; ?>"
                                                has_material="<?php echo $value['has_material'] ? $value['has_material'] : 0; ?>"
                                                has_painting="<?php echo $value['has_painting'] ? $value['has_painting'] : 0; ?>"
                                                category_id="<?php echo $value['category_id'];?>"
                                            >
                                                <td>
                                                    <?php echo $value['category_name']; ?>

                                                </td>
                                                <td>
                                                    <?php echo $value['quantity']; ?>
                                                    <div class="category_detail">
                                                        <?php if (in_array($value['category_id'], $this->listIdCategoryCheckshop)) : ?>
                                                            <a category_id="<?php echo $value['category_id']; ?>"  href="#<?php echo $value['category_id']; ?>" class="btn pull-right btn_collapse" data-toggle="collapse"><i show="0" class="icon icon-chevron-down icon_toggle"></i></a>
                                                            <br><br>
                                                        <?php endif; ?>

                                                        <div id="<?php echo $value['category_id']; ?>" class="collapse">
                                                            <table class="table  table_category_detail">
                                                                <thead>
                                                                <tr>
                                                                    <th style="width:10%">Số lượng</th>
                                                                    <th class="has_type" style="width:20%" class="category_type">Loại</th>
                                                                    <th class="has_material" style="width:10%">Chất liệu</th>
                                                                    <th class="has_width">Kích thước</th>
                                                                </tr>
                                                                </thead>
                                                                <tbody>
                                                                <?php foreach ($this->currentCategoriesDetail[$value['category_id']] as $detail) : ?>
                                                                    <tr>
                                                                        <td>
                                                                            <?php echo $detail['quantity']; ?>
                                                                        </td>
                                                                        <td class="has_type">
                                                                            <?php echo $detail['category_type_name'] ? $detail['category_type_name'] : '-'; ?>
                                                                            <?php echo $detail['category_type_child_name'] ? ' - ' . $detail['category_type_child_name'] : '' ; ?>
                                                                        </td>
                                                                        <td class="has_material"><?php echo $detail['material_name']; ?></td>
                                                                        <td class="has_width">
                                                                            <div class="real_width">
                                                                                <p style="text-align: left; font-weight:bold; color:#25962f"> - Kích thước tổng:</p>
                                                                                <table class="table">
                                                                                    <tr>
                                                                                        <th>Ngang(mm)</th>
                                                                                        <th>Cao(mm)</th>
                                                                                    </tr>
                                                                                    <tr>
                                                                                        <td>
                                                                                            <?php echo $detail['width']; ?>
                                                                                        </td>
                                                                                        <td>
                                                                                            <?php echo $detail['height']; ?>
                                                                                        </td>
                                                                                    </tr>
                                                                                </table>
                                                                            </div>
                                                                            <br>

                                                                            <div class="has_painting">
                                                                                <p style="text-align: left; font-weight:bold; color:#25962f"> - Chi tiết tranh:</p>
                                                                                <table class="table table_painting">
                                                                                    <tr>
                                                                                        <th>Ngang <br>(mm)</th>
                                                                                        <th>Cao <br>(mm)</th>
                                                                                        <th>Chất <br>liệu</th>
                                                                                    </tr>
                                                                                        <?php foreach ($this->currentCategoriesDetailPainting[$detail['app_checkshop_detail_child_id']] as $painting) :?>
                                                                                            <tr class="row_painting">
                                                                                                <td>
                                                                                                    <?php echo $painting['width']; ?>
                                                                                                </td>
                                                                                                <td>
                                                                                                    <?php echo $painting['height']; ?>
                                                                                                </td>
                                                                                                <td>
                                                                                                    <?php echo $painting['material_name']; ?>
                                                                                                </td>
                                                                                            </tr>
                                                                                        <?php endforeach; ?>
                                                                                </table>
                                                                            </div>


                                                                        </td>
                                                                    </tr>
                                                                <?php endforeach; ?>
                                                                </tbody>
                                                            </table>
                                                        </div>
                                                    </div>
                                                </td>

                                            </tr>
                                    <?php endforeach; ?>

                                    </tbody>
                                </table>
                            </div>

                            <hr>
                            <div style="text-align: center;">
                                <a href="/trade/check-inventory-list" class="btn btn-default p-2" style="height: 32px;"><< Danh sách</a>
<!--                                <a class="btn btn-primary" href="/trade/check-inventory?area_id=--><?php //echo $this->areaId; ?><!--">Cập nhật kho</a>-->

                            </div>
                            <input type="hidden" name="area_id" value="<?php echo $this->areaId; ?>">

                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Virtual Category List -->
<div class="add_category" style="display: none">
    <div class="select_category">
        <select class="category">
            <option value="">-- Chọn hạng mục --</option>
            <?php foreach ($this->listCategory as $key => $value): ?>
                <option group_bi='<?php echo $value['group_bi']; ?>'
                        value="<?php echo $value['id']; ?>"><?php echo $value['name']; ?></option>
            <?php endforeach; ?>
        </select>
    </div>

    <div class="select_category_temp">
    </div>
</div>

<!-- Init Scanner -->
<script type="text/javascript">

    $(window).on('load', function() {
        // Animate loader off screen
        $("#loading-image").fadeOut("slow");
    });

    $(document).ready(function() {
        //set hiển thị input nhập loại, chiều cao, chiều ngang với từng loại category
        // var hasType = $(this).find('option:selected', this).attr('has_type');
        // var hasWidth = $(this).find('option:selected', this).attr('has_width');

        $('.row_table_detail').each(function () {
            var hasType = $(this).attr('has_type');
            var hasWidth = $(this).attr('has_width');
            var hasMaterial = $(this).attr('has_material');
            var hasPainting = $(this).attr('has_painting');
            var categoryId = $(this).attr('category_id');

            var hasWidthClass = $(this).find('.has_width');
            var hasTypeClass = $(this).find('.has_type');
            var hasMaterialClass = $(this).find('.has_material');
            var hasPaintingClass = $(this).find('.has_painting');
            var realWidthClass = $(this).find('.real_width');
            var categoryTypeChild = $(this).find('.category_type_child');

            var inputWidth = $(this).find('.input_width');
            var inputHeight = $(this).find('.input_height');
            var selectType = $(this).find('.select_type');


            if (hasType == 1) {
                if (categoryId == 1) { // tủ trưng bày
                    categoryTypeChild.attr('style', 'display: table-cell !important');
                }
                hasTypeClass.attr('style', 'display: table-cell !important');
            }

            if (hasWidth == 1 ) {
                if (categoryId == 50) { // cột hình ảnh
                    realWidthClass.hide();
                }
                hasWidthClass.attr('style', 'display: table-cell !important');
            }

            if (hasMaterial == 1) {
                hasMaterialClass.attr('style', 'display: table-cell !important');
            }

            if (hasPainting == 1) {
                hasPaintingClass.attr('style', 'display: table-cell !important');
            }

        });


        $(document).on('click', '.btn_collapse' ,function() {
            var show = $(this).find('i').attr('show');
            if (show == 0) {
                $(this).find('i').attr('show', 1);
                $(this).find('i').attr('class', 'icon icon-chevron-up');
            }
            if (show == 1) {
                $(this).find('i').attr('show', 0);
                $(this).find('i').attr('class', 'icon icon-chevron-down');
            }

        });


    });
</script>




