<style type="text/css">

#store1{
  box-shadow: 0 3px 3px 0 rgba(0, 0, 0, 0.2), 0 2px 6px 0 rgba(0, 0, 0, 0.19);

}

/* -------------------------------DESIGN MODAL PHÓNG TO HÌNH ẢNH---------------------------*/
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 40px;
  /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.9); /* Black w/ opacity */
}
/* Modal Content (image) */
.modal-content {
  margin: auto;
  display: block;
  width: 80%;
  max-width: 700px;
}
/* Caption of Modal Image */
#caption {
  margin: auto;
  display: block;
  width: 80%;
  max-width: 700px;
  text-align: center;
  color: #ccc;
  padding: 10px 0;
  height: 150px;
}

/* Add Animation */
.modal-content, #caption {    
  -webkit-animation-name: zoom;
  -webkit-animation-duration: 0.6s;
  animation-name: zoom;
  animation-duration: 0.6s;
}

@-webkit-keyframes zoom {
  from {-webkit-transform:scale(0)} 
  to {-webkit-transform:scale(1)}
}

@keyframes zoom {
  from {transform:scale(0)} 
  to {transform:scale(1)}
}

/* The Close Button */
.close {
  position: absolute;
  top: 15px;
  right: 35px;
  color: #f1f1f1;
  font-size: 40px;
  font-weight: bold;
  transition: 0.3s;
}

.close:hover,
.close:focus {
  color: #bbb;
  text-decoration: none;
  cursor: pointer;
}

/* 100% Image Width on Smaller Screens */
@media only screen and (max-width: 700px){
  .modal-content {
    width: 100%;
  }
}

/*---------------------DESIGN KHUNG CONTAINER -------------------*/
.info-text{
  width: 20%;
  float: left;
  margin-left: 10px;
}
.select-box{
  float: center;
  margin-bottom: 10px; 
  margin-left: 5px;
}
.form-group{
  margin-top: 13px;
}
.table-responsive {
  margin-left: 2%;
}
.frameCategory{
  width: 91%;
  margin: 0px 10px 10px 10px;
  /* border: 1px solid; */
  padding-bottom: 13px;
  padding-top: 10px;
  box-shadow: 1px 3px 3px 0 rgba(0, 0, 0, 0.2), 0 2px 6px 0 rgba(0, 0, 0, 0.19);

}
.removeFrame{

  margin-right: 10%;
}
.removeFrame a{
  width: 20%;
}
#addFrame{
  margin-left:3%;
}
/*---------------------------DESIGN QR ----------------------------------*/
#app {
  position: relative;
}
#app img {
  vertical-align: middle;
  width:100%;
  opacity: 0.5;
}
#app  #contentQr{

  position: absolute; 
  width: 100%;
  top: 0%;
}

.cameras ul {
  padding: 15px 20px;
}
.cameras .active {
  font-weight: bold;
  color: #009900;
}
.cameras a {
  color: #555;
  text-decoration: none;
  cursor: pointer;
}
.cameras a:hover {
  text-decoration: underline;
}
.scans li {
  padding: 10px 20px;
  border-bottom: 1px solid #ccc;
}
.scans-enter-active {
  transition: background 3s;
}
.scans-enter {
  background: yellow;
}
.empty {
  font-style: italic;
}
.preview-container {
  flex-direction: column;
  align-items: center;
  justify-content: center;
  display: flex;
  width: 100%;
  overflow: hidden;

}
#preview{ 
  width: 100%;    
  height:100%;    

}
#fullscreen{
  position: fixed;
  z-index: 1; 
  display: none;
  height: 100%;
  top: 8%;
  right: 0%;
}
.captionQrCode{
  position: absolute;
  left: 10%;
  bottom:7%;
}


#removeFrame{
  margin-top: 13px;
}
.input-group{
  display: list-item;
  list-style-type: none;
}
</style>

<div class="content-layout">
  <div class="row">

    <div class="span6">
      <div class="table_main" style="margin-top: 7px;">
        <div class="header_tad">
          <i class="icon-list-alt"></i> TẠO CHECK SHOP

        </div>

        <div class="content_tad">

          <div class="content_content" style="min-height: 405px;">
            <?php
            if (isset($this->messages) and $this->messages)
              foreach ($this->messages as $message):
                echo '<div class="alert alert-error">'.$message.'</div>';
              endforeach;

              if (isset($this->messages_success) and $this->messages_success)
                foreach ($this->messages_success as $message):
                  echo '<div class="alert alert-success">'.$message.'</div>';
                endforeach;
                ?>
                <form class="form-search form-horizontal" method="post" action="/trade/check-shop-create" enctype="multipart/form-data">
                  <div class="container">
                    <div class="row">
                      <div class="span5">
                        <div class="table-responsive">
                          <div class="alert alert-default" >
                            Quét QR để lấy thông tin hạng mục
                          </div>
                          <a style="width: 93.8%;background: gray;padding: 10px;text-align: center;padding-left: 35%;padding-right: 40%;color: white;" align="center">
                            Quét mã QR CODE
                          </a>


                          <input type="hidden" value="1" id = "temp_dem">
                          <input type="hidden" value="1" id = "temp_img">
                          <input type="hidden" value="<?php if(isset($this->params['id'])and $this->params['id']) echo $this->params['id']; ?>" id = "id">

                          <!-- KHUNG QUÉT QR CODE -->
                          <div id="fullscreen">
                            <div id="app">
                             <video id="preview" poster="/img/qr-code-scanner.jpg"></video>
                             <div id="contentQr">
                              <img src="<?php echo HOST;?>/img/bg_scan.png">

                            </div>

                            <div class="captionQrCode" align="center" >
                              <p style="color: white;">Di chuyển camera đến vùng chứa mã QR để quét</p>
                              <a  v-on:click="stopCamera" style="margin-top: 20px;     height: 20px;" class="btn btn-default"  onclick="document.getElementById('fullscreen').style.display='none';"> Thoát </a>
                            </div><!-- END captionQrCode  -->
                          </div><!-- END app  -->
                        </div><!-- END fullscreen  -->
                        <div align="center" style="margin-left: 3%; margin-top: -11px;"> <!-- Button bật tăt qr code -->
                          <a v-on:click="callCamera" style="margin-top: 20px;" class="btn btn-success" data-toggle="modal" data-target="#qrmodal" onclick="
                          document.getElementById('fullscreen').style.display='initial';"> Bật Quét QR</a>
                        </div>
                        <div class="form-group">
                          <label class="info-text col-sm-2">Đặt tại Shop: </label>
                          <div class="select-box">

                            <div class="input-group my-group"> 
                              <select class="form-control" id="sel1" name = "store" required onchange="show_info_shop(this,0)" > 
                                <option value="">--Shop cần điều chuyển--</option>
                                <?php foreach ( $this->store as $value) {
                                  if (isset($this->params['store']) && $this->params['store'] == $value['id']){
                                    ?>
                                    <option  value ="<?php echo $value['id'] ?>" selected><?php echo $value['name_store'] ?></option>
                                    ?>
                                    <?php }else { ?>
                                    <option  value ="<?php echo $value['id'] ?>"><?php echo $value['name_store'] ?></option>
                                    <?php }} ?>
                                  </select>
                                  <span class="input-group-btn" height="20px">
                                    <a class="btn" type="submit" data-toggle="collapse" data-target="#store1" ><span class="caret"></span></a>
                                  </span>

                                </div>
                              </div>
                            </div> <!-- END FORM-GROUP -->
                            <div id="store1" class="collapse"  style=" width: 99% ;    margin:8px 0px 6px 2px;">
                              <div style="    padding: 4px;"  >
                                <h5 align="center" id ="store_name" style="padding: 9px;"> </h5>
                                <div class="table-responsive">

                                  <table class="table table-bordered" style="margin: 5px; width: 99%;margin-bottom: 15px;">
                                    <tbody id ="hanmuc_info">

                                    </tbody>
                                  </table>
                                </div>
                                <div class="table-responsive"  style="margin: 5px;width: 99%;margin-bottom: 15px;">

                                  <table class="table table-bordered" >
                                    <tbody id ="store_info">

                                    </tbody>
                                  </table>
                                </div>



                                <h6 align="center" style="color: black;display: none;" class="titleImg" >HÌNH ẢNH THỰC TẾ <br> ĐẦU TƯ HÌNH ẢNH- NỘI THẤT</h6>
                                <div class="container">
                                  <div class="row" style="">
                                    <div class="col-xs-11 col-md-10 col-centered">

                                      <div id="carousel" class="carousel slide" data-ride="carousel" data-type="multi" data-interval="2500" >
                                        <div class="carousel-inner" style="width: 100%;" >
                                          <div id ="hinhanh_shop">
                                            <div class="item active"  style="display: flex;">

                                            </div>
                                            <div class="item" id ="hinhanhitem_shop" style="display: flex;">

                                            </div>
                                          </div>
                                        </div>

                                      </div>

                                    </div>

                                  </div>
                                </div>


                              </div>
                            </div><!-- END store1 -->
                            <div class="form-group" id ="container-Frame-parrent">
                              <div class ="container-Frame">

                                <div id="frameCategory_0" class ="frameCategory">

                                  <div class="input-group">
                                   <label class="info-text col-sm-2" for="email">Hạng mục:</label>
                                   <div class="select-box">

                                    <select class="input-control"    id="cate"   name = "category_0" required>
                                      <option value="" >--Hạng mục--</option>
                                      <?php
                                      foreach ( $this->category as $value) {
                                        if (isset($this->params['category']) && $this->params['category'] == $value['id']){
                                          ?>
                                          <option  value ="<?php echo $value['id'] ?>" selected><?php echo $value['name'] ?></option>
                                          ?>
                                          <?php }else { ?>
                                          <option  value ="<?php echo $value['id'] ?>"><?php echo $value['name'] ?></option>
                                          <?php }} ?>
                                        </select>
                                      </div>
                                    </div>
                                    <div class="input-group">
                                      <label class="info-text col-sm-2">Số lượng :</label>
                                      <div class="select-box">
                                        <input type="number" name="soluong" class="soluong">
                                      </div>
                                    </div>

                                    <div class="input-group" style="margin-left: 5px;" id ="frameImg_0">

                                     <label style ="width: 24%;">   Hình hạng mục:</label>
                                     <label  class="btn" for="file" > Chọn hình ảnh </label> <a class="btn btn-success" onclick ="addImg(this,0)"><i class="icon-plus"></i></a>
                                     <p class ="nameInputFile" style ="color:#a19c9c;"></p>

                                     <input type="file" name="image_0"  id="file"  required style="display: none;" onchange="ChangeInput(this)" class="img"/>
                                   </div>
                                   <div class="input-group" align ="center">
                                          <label style ="width: 100%;"><h5> Hình ảnh hạng mục </h5></label>
                                          <img src="https://trade-marketing.opposhop.vn/photo/category/1/4fbb990fa35e40e6952434c62583fa80-1.jpg" height="50" width="50" >
                                          <img src="https://trade-marketing.opposhop.vn/photo/category/1/4fbb990fa35e40e6952434c62583fa80-1.jpg" height="50" width="50" >
                                          <img src="https://trade-marketing.opposhop.vn/photo/category/1/4fbb990fa35e40e6952434c62583fa80-1.jpg" height="50" width="50" >
                                          <img src="https://trade-marketing.opposhop.vn/photo/category/1/4fbb990fa35e40e6952434c62583fa80-1.jpg" height="50" width="50" >
                                          <img src="https://trade-marketing.opposhop.vn/photo/category/1/4fbb990fa35e40e6952434c62583fa80-1.jpg" height="50" width="50" >
                                          <img src="https://trade-marketing.opposhop.vn/photo/category/1/4fbb990fa35e40e6952434c62583fa80-1.jpg" height="50" width="50" >
                                          <img src="https://trade-marketing.opposhop.vn/photo/category/1/4fbb990fa35e40e6952434c62583fa80-1.jpg" height="50" width="50" >
                                          <img src="https://trade-marketing.opposhop.vn/photo/category/1/4fbb990fa35e40e6952434c62583fa80-1.jpg" height="50" width="50" >
                                          <img src="https://trade-marketing.opposhop.vn/photo/category/1/4fbb990fa35e40e6952434c62583fa80-1.jpg" height="50" width="50" >
                                  </div>
                                  <div class="input-group" align="right">
                                   <a  class="btn btn-danger" onclick="removeFrameCategory(this)">Xóa</a>
                                 </div>
                               </div>
                             </div>

                           </div>
                           <a class="btn btn-success" id ="addFrame" onclick="addFrameCategory()">Thêm</a>
                           <div class="form-group" align="center">
                            <input type="submit" value="Xác nhận" class="btn btn-success" name="submit" id="submit">
                            <a href="/trade/check-shop-list" class="btn btn-default" style="height: 20px;">Quay lại</a>
                          </div>
                          <div id="myModal" class="modal">
                            <span class="close">&times;</span>
                            <img class="modal-content" id="img01">
                            <div id="caption"></div>
                          </div>

                          <div class="paging">
                            <?php echo $this->paging($this->total, $this->limit, $this->offset, $this->url);?>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <script type="text/javascript">
      function show_info_shop(params,id){

        var id_shop= params.value;

        $.ajax({
          url: "<?php echo HOST;?>trade/get-shop-info",
          type: "GET",
          dataType: "text",
          context: this,
          data: {"id_shop":id_shop},
          beforeSend: function() {
            $(".loading").show();                   
          },
          success: function(result){

            if(result)
            {
              var data = jQuery.parseJSON(result);
              show_info_shop_child(data,id);
            }
            else
            {   

            }

          },
          error:function(){
            alert("Error Ajax");
          }
        });

      }
      function show_info_shop_child(data,id){

        var store_name = document.querySelectorAll('#store_name')[id];
        var store_info = document.querySelectorAll('#store_info')[id];
        var hanmuc_info = document.querySelectorAll('#hanmuc_info')[id];
        var block = document.querySelectorAll('#hanmuc_info')[id];
        var hinhanh_shop = document.querySelectorAll('#hinhanh_shop')[id];
        var titleImg =document.querySelectorAll(".titleImg")[id];
                  // var hinhanhitem_shop = document.querySelectorAll('#hinhanhitem_shop')[id];
                  // ----------------RESET VALUE ---------------
                  store_info.innerHTML ="";
                  hanmuc_info.innerHTML ="";
                  hinhanh_shop.innerHTML="";
                  // hinhanhitem_shop.innerHTML="";

                  var campaign_id  = $('#campaign_id').val();

                  han_muc     = data.hanmuc.han_muc;
                  da_dang_ky  = data.hanmuc.da_dang_ky;
                  store_id    = data.hanmuc.store_id;
                  shop_name   = data.hanmuc.shop_name;
                  dautu       = data.dautu;
                  hinhanh     = data.hinhanh;

                  store_name.innerHTML = shop_name;

                  //------------------TABLE HAN MUC-------------
                  var tr = document.createElement("tr");

                  var th = document.createElement("th");
                  th.innerHTML ="Hạn Mức";
                  tr.appendChild(th); 

                  var th = document.createElement("th");
                  th.innerHTML ="Đã đầu tư";
                  tr.appendChild(th); 

                  hanmuc_info.appendChild(tr);

                  var tr = document.createElement("tr");

                  var td = document.createElement("td");
                  td.innerHTML =han_muc;
                  td.style.cssText ="text-align:center;";
                  tr.appendChild(td); 

                  var td = document.createElement("td");
                  td.innerHTML =da_dang_ky;
                  td.style.cssText ="text-align:center;";
                  tr.appendChild(td); 

                  hanmuc_info.appendChild(tr);
                    // ------------------- TABLE DAU TU -------------


                    var dem =0;

                    dautu.forEach(function(item){
                      if(item.ten_hang_muc.length!=0){
                        if(dem==0){
                          var tr = document.createElement("tr");

                          var th = document.createElement("th");
                          th.innerHTML ="Tên hạng mục";
                          tr.appendChild(th); 

                          var th = document.createElement("th");
                          th.innerHTML ="Số lượng";
                          tr.appendChild(th); 

                          var th = document.createElement("th");
                          th.innerHTML ="Ngày";
                          tr.appendChild(th); 
                          store_info.appendChild(tr);


                        }
                        dem++;

                        var tr = document.createElement("tr");

                        var td = document.createElement("td");
                        td.innerHTML =item.ten_hang_muc;
                        tr.appendChild(td); 

                        var td = document.createElement("td");
                        td.innerHTML =item.so_luong;
                        td.style.cssText ="text-align:center;";
                        tr.appendChild(td); 

                        var td = document.createElement("td");
                        td.innerHTML =item.ngay;
                        td.style.cssText ="text-align:center;";
                        tr.appendChild(td); 

                        store_info.appendChild(tr);
                      }
                    });

                    var dem =0;
                    var div = document.createElement("div");

                  //------------------HINH ANH ------------------------
                  hinhanh.forEach(function(item){
                    if(item.url.length !=0){
                      titleImg.style.display="inherit";

                      if (dem <3 )
                        div.setAttribute("class"," item active");
                      else
                        div.setAttribute("class","item");

                      div.setAttribute("style","display:flex;     width: 94%;")
                      // var div_carousel = document.createElement("div");
                      // div_carousel.setAttribute("class","carousel-col");

                      // var div_block = document.createElement("div");
                      // div_block.setAttribute("class","block red img-responsive");
                      var div_container = document.createElement("div");
                      div_container.setAttribute("class","container");
                      div_container.style.cssText= "position: relative; margin-right:4px";
                      
                      var img = document.createElement("img");

                      img.setAttribute("id","myImg");
                      img.setAttribute("onclick","modalimg(this)");
                      img.setAttribute("src",item.url);
                      img.style.cssText= "margin:10px";
                      img.setAttribute("style","margin  :10px;height:100px; width:100%;");

                      div_container.appendChild(img);
                      div.appendChild(div_container);


                      var div_text = document.createElement("div");

                      div_text.setAttribute("class","centered");
                      div_text.style.cssText= "position: absolute; ";
                      var text = document.createTextNode(item.ten_hang_muc);
                      div_text.appendChild(text);

                      div_container.appendChild(div_text);
                      // div_block.appendChild(img); 

                      // div_carousel.appendChild(div_block);
                      // div.appendChild(div_carousel);

                      // hinhanh_shop.appendChild(div);
                      // if(dem <3){
                        hinhanh_shop.appendChild(div);
                      // }else{

                      //   hinhanhitem_shop.appendChild(div);
                      // }
                      dem++;

                    }else{
                      titleImg.style.display="none";
                    }
                  });


                }
              </script>
              <script>
                function modalimg(params){

                // Get the modal
                var modal = document.getElementById('myModal');

                // Get the image and insert it inside the modal - use its "alt" text as a caption

                var modalImg = document.getElementById("img01");
                var captionText = document.getElementById("caption");

                modal.style.display = "block";
                modalImg.src = params.src;
                captionText.innerHTML = params.alt;

                // Get the <span> element that closes the modal

                
              }
              var modal = document.getElementById('myModal');
              var span = document.getElementsByClassName("close")[0];

                // When the user clicks on <span> (x), close the modal
                span.onclick = function() { 
                  modal.style.display = "none";
                }
              </script>

              <script type="text/javascript">
                function addFrameCategory(id_cate ="",name_cate="",sl="1", img =[],detail_id){
                  if(img){
                    console.log(img);
                  }
                  var temp_dem = document.getElementById('temp_dem').value;

                  var container= document.getElementById("container-Frame-parrent");

                  var div_container_Frame = document.createElement("div");
                  div_container_Frame.setAttribute("class","container-Frame");

                  var div_frameCategory = document.createElement("div");
                  div_frameCategory.setAttribute("id","frameCategory_"+temp_dem);
                  div_frameCategory.setAttribute("class","frameCategory");

                  var div_input_group = document.createElement("div");
                  div_input_group.setAttribute("class","input-group");


                  var label_Cate = document.createElement("label");
                  label_Cate.setAttribute("class","info-text col-sm-2");
                  label_Cate.innerHTML="Hạng mục";

                  var div_select_box = document.createElement("div");
                  div_select_box.setAttribute("class","select-box");

                  var select_frameCategory = document.createElement("select");
                  select_frameCategory.setAttribute("class","input-control");
                  select_frameCategory.setAttribute("id","cate");
                  select_frameCategory.setAttribute("name","category_"+temp_dem);
                  select_frameCategory.setAttribute("required","true");

                //---------------------TRƯỜNG HỢP QUÉT MÃ VẠCH-----------------
                if(id_cate.length==0 || name_cate.length==0){
                  var option_frameCategory = document.createElement("option");
                  option_frameCategory.setAttribute("value","");
                  var text = document.createTextNode("--Hạng mục--");
                  option_frameCategory.appendChild(text);
                  select_frameCategory.appendChild(option_frameCategory);

                  <?php foreach ( $this->category as $value) { 
                    echo '
                    var option_frameCategory = document.createElement("option");
                    option_frameCategory.setAttribute("value","'.$value["id"].'");
                    var text = document.createTextNode("'.$value["name"].'");
                    option_frameCategory.appendChild(text);

                    select_frameCategory.appendChild(option_frameCategory);';
                  }?>
                  select_frameCategory.appendChild(option_frameCategory);
                }else{
                  var option_frameCategory = document.createElement("option");
                  option_frameCategory.setAttribute("value",id_cate);
                  option_frameCategory.setAttribute("selected","true");
                  var text = document.createTextNode(name_cate);
                  option_frameCategory.appendChild(text);

                  select_frameCategory.appendChild(option_frameCategory);
                }

                // --------------------END----------------------------
                div_select_box.appendChild(select_frameCategory);

                var input_cate = document.createElement("input");
                input_cate.setAttribute("class","soluong");
                input_cate.setAttribute("type","hidden");
                input_cate.setAttribute("name","cate_"+temp_dem);

                div_input_group.appendChild(label_Cate);
                div_input_group.appendChild(div_select_box);

                var div_input_group2 = document.createElement("div");
                div_input_group2.setAttribute("class","input-group");
                if(id_cate.length!=0 && name_cate.length!=0){
                  var label_Cate2 = document.createElement("label");
                  label_Cate2.setAttribute("class","info-text col-sm-2");
                  label_Cate2.setAttribute("style","width:100%");
                  var text = document.createTextNode("Số lượng :  "+sl);
                  label_Cate2.appendChild(text);

                  var br = document.createElement("br");

                  var div_select_box2 = document.createElement("div");
                  div_select_box2.setAttribute("class","select-box");

                  var input_sl = document.createElement("input");
                  input_sl.setAttribute("class","soluong");
                  input_sl.setAttribute("name","soluong"+temp_dem);
                  input_sl.setAttribute("type","hidden");
                  input_sl.setAttribute("value",sl);

                }else{
                 var label_Cate2 = document.createElement("label");
                 label_Cate2.setAttribute("class","info-text col-sm-2");
                 var text = document.createTextNode("Số lượng");
                 label_Cate2.appendChild(text);

                 var div_select_box2 = document.createElement("div");
                 div_select_box2.setAttribute("class","select-box");

                 var input_sl = document.createElement("input");
                 input_sl.setAttribute("class","soluong");
                 input_sl.setAttribute("type","number");
                 input_sl.setAttribute("name","soluong"+temp_dem);

               }
               div_select_box2.appendChild(input_sl);

               div_input_group2.appendChild(label_Cate2);
               div_input_group2.appendChild(div_select_box2);


               var a_error = document.createElement("a");
               a_error.setAttribute("class","btn btn-danger");
               a_error.setAttribute("id","removeFrame");
               a_error.setAttribute("onclick","removeFrameCategory(this)");
               a_error.innerHTML="Xóa";

               var div_input_group5 = document.createElement("div");
               div_input_group5.setAttribute("class","input-group");
               div_input_group5.setAttribute("align","right");

               div_input_group5.appendChild(a_error);

               var label_Cate3 = document.createElement("label");
               label_Cate3.setAttribute("class","info-text col-sm-2");
               var text = document.createTextNode("Hình hạng mục:");
               label_Cate3.appendChild(text);

               var label_Cate4 = document.createElement("label");
               label_Cate4.setAttribute("class","btn");
               label_Cate4.setAttribute("for","file"+temp_dem+"_"+temp_dem);
               var text = document.createTextNode(" Chọn hình ảnh ");
               label_Cate4.appendChild(text);

               var a = document.createElement("a");
               a.setAttribute("class","btn btn-success");
               a.setAttribute("onclick","addImg(this,"+temp_dem+")");

               var i = document.createElement("i");
               i.setAttribute("class","icon-plus");
               a.appendChild(i);

               var p_file = document.createElement("p");
               p_file.setAttribute("class","nameInputFile");
               p_file.setAttribute("style","color:#a19c9c; display:none;");
               var text = document.createTextNode(" Chọn hình ảnh ");
               p_file.appendChild(text);

               var input_file = document.createElement("input");
               input_file.setAttribute("value","");
               input_file.setAttribute("name","image_"+temp_dem);
               input_file.setAttribute("class","img");
               input_file.setAttribute("type","file");
               input_file.setAttribute("id","file"+temp_dem+"_"+temp_dem);
               input_file.setAttribute("required","true");
               input_file.setAttribute("style","display: none;");
               input_file.setAttribute("onchange","ChangeInput(this)");


               var div_input_group3 = document.createElement("div");
               div_input_group3.setAttribute("class","input-group");
               div_input_group3.setAttribute("style","margin-left: 5px;");

               div_input_group3.appendChild(label_Cate3);
               div_input_group3.appendChild(label_Cate4);
               div_input_group3.appendChild(a);
               div_input_group3.appendChild(p_file);
               div_input_group3.appendChild(input_file);

               var div_input_group4 = document.createElement("div");
               div_input_group4.setAttribute("class","input-group");
               div_input_group4.setAttribute("align","center");

               var label_Cate5 = document.createElement("label");
               label_Cate5.setAttribute("style","width: 100%;");
               var text = document.createTextNode(" Hình ảnh hạng mục");
               label_Cate5.appendChild(text);

               div_input_group4.appendChild(label_Cate5);

               img.forEach(function(item,index){
                    var img = document.createElement("img");
                    img.setAttribute("style","height: 50px; width:50px;");
                    img.setAttribute("href","<?php echo HOST;?>/photo/checkshop/checkshop_file/"+detail_id+"/"+item);
                    div_input_group4.appendChild(img);
               });
               

               div_frameCategory.appendChild(div_input_group);
               div_frameCategory.appendChild(div_input_group2);
               div_frameCategory.appendChild(div_input_group3);
               div_frameCategory.appendChild(div_input_group4);
               div_frameCategory.appendChild(div_input_group5);

               div_container_Frame.appendChild(div_frameCategory);

               container.appendChild(div_container_Frame);

               document.getElementById('temp_dem').value= parseInt(temp_dem)+1;

             // <div class="input-group" style="margin-left: 5px;">

             //                       <label style ="width: 24%;">   Hình hạng mục:</label>
             //                       <label  class="btn" for="file" > Chọn hình ảnh </label> 
             //                       <p class ="nameInputFile" style ="color:#a19c9c;"></p>
             //                       <input type="file" name="image"  id="file"  required style="display: none;" onchange="ChangeInput(this,0)"/>
             //                   </div>
           }

         </script>
         <script type="text/javascript">
          function removeFrameCategory (params){

            var input_group =params.parentNode;
            var frameCategory =input_group.parentNode;
            var container_Frame =frameCategory.parentNode;
            container_Frame.removeChild(frameCategory);
          }
        </script>

        <script type="text/javascript" src="<?php echo HOST;?>js/qrcode/adapter.min.js"></script>
        <script type="text/javascript" src="<?php echo HOST;?>js/qrcode/vue.min.js"></script>
        <script type="text/javascript" src="<?php echo HOST;?>js/qrcode/instascan.min.js"></script>


        <script type="text/javascript">
          var app = new Vue({
            el: '.content_content',
            data: {
              scanner: null,
              activeCameraId: null,
              cameras: [],
              scans: []
            },
            mounted: function () {
              var self = this;
              self.scanner = new Instascan.Scanner({ video: document.getElementById('preview'), scanPeriod: 5 });
              self.scanner.addListener('scan', function (content, image) {
                self.scans.unshift({ date: +(Date.now()), content: content });
                if (self.scans["0"].content.length != 0){
                  imei_sn =(self.scans["0"].content).substring((self.scans["0"].content.indexOf('imei_sn='))+8,self.scans["0"].content.length);
                  $("#imei").text(imei_sn);
                  $('#imei_sn').val(imei_sn) ;
                  $("#cate").prop('required',false);

                  show_imei_info(imei_sn);
                           //------TẮT CAMERA SAU KHI QUÉT-----
                           $('#fullscreen').css("display", "none");
                           Instascan.Camera.getCameras().then(function (cameras) {
                            self.cameras = cameras;
                            if (cameras.length > 0) {
                              self.activeCameraId = cameras[0].id;
                              self.scanner.stop(cameras[0]);
                            } else {
                              console.error('No cameras found.');
                            }

                          }).catch(function (e) {
                            console.error(e);
                          });
                        }else{
                          $("#imei").text("Không tìm thấy mã Code");

                        }
                      });
            },
            methods: {
              formatName: function (name) {
                return name || '(unknown)';
              },
              selectCamera: function (camera) {
                this.activeCameraId = camera.id;
                this.scanner.start(camera);
                console.log(this);
              },
              callCamera:function (event) {
                var self = this;
                Instascan.Camera.getCameras().then(function (cameras) {
                  self.cameras = cameras;
                  if (cameras.length > 0) {
                    self.activeCameraId = cameras[0].id;
                    self.scanner.start(cameras[0]);
                  } else {
                    console.error('No cameras found.');
                  }
                }).catch(function (e) {
                  console.error(e);
                });

              },
              stopCamera:function (event) {
                var self = this;
                Instascan.Camera.getCameras().then(function (cameras) {
                  self.cameras = cameras;
                  if (cameras.length > 0) {
                    self.activeCameraId = cameras[0].id;
                    self.scanner.stop(cameras[0]);
                  } else {
                    console.error('No cameras found.');
                  }
                }).catch(function (e) {
                  console.error(e);
                });

              }
            }
          });




        </script>

        <script type="text/javascript">
          function show_imei_info(imei_sn){
            var cate =document.getElementById('cate');
            var sel1 =document.getElementById('sel1');
            var imei_info_test =document.getElementById("imei_info_test");
            $.ajax({
              url: "<?php echo HOST;?>trade/get-imei-info",
              type: "GET",
              dataType: "text",
              context: this,
              data: "imei_sn="+imei_sn,
              success: function(result){

                if(result)
                {
                  var data = jQuery.parseJSON(result);
                  addFrameCategory(data.info.category_id,data.info.name_cate);
                  sel1.value=data.info.store_id;
                  if(sel1.value != 0)
                    show_info_shop(sel1,0);

                }
                else
                {   

                }

              },
              error:function(){
                alert("Error Ajax");
              }
            });

          }
        </script>

        <script type="text/javascript">
        function ChangeInput(param){ // THAY ĐỔI NÚT CHỌN HÌNH ẢNH
          var file = param.value;
          var name = file.lastIndexOf('\\');
          var parrentElement = param.parentElement;
          var childElement = parrentElement.children;
          var ptag = childElement[3];
          ptag.setAttribute('style','color:#a19c9c; display:initial;');
          ptag.innerHTML=file.substring(name+1,file.length);
          console.log(param);
          if(file.length ==0)
            ptag.innerHTML="";
        }
      </script>
      <script type="text/javascript">
        function addImg(params,id){
          var temp_img = document.getElementById('temp_img');
          var frameCategory =document.getElementById('frameCategory_'+id);

          var label_Cate3 = document.createElement("label");
          label_Cate3.setAttribute("style","width:24%;");
          var text = document.createTextNode("Hình hạng mục:");
          label_Cate3.appendChild(text);

          var label_Cate4 = document.createElement("label");
          label_Cate4.setAttribute("class","btn");
          label_Cate4.setAttribute("for","file"+temp_img.value);
          var text = document.createTextNode(" Chọn hình ảnh ");
          label_Cate4.appendChild(text);
 // <a class="btn btn-success" onclick ="addImg(this,0)"><i class="icon-plus"></i></a>
 var a = document.createElement("a");
 a.setAttribute("class","btn btn-danger");
 a.setAttribute("onclick","removeImg(this)");

 var i = document.createElement("i");
 i.setAttribute("class","icon-minus");
 a.appendChild(i);

 var p_file = document.createElement("p");
 p_file.setAttribute("class","nameInputFile");
 p_file.setAttribute("style","color:#a19c9c; display:none;");
 var text = document.createTextNode(" Chọn hình ảnh ");
 p_file.appendChild(text);

 var input_file = document.createElement("input");
 input_file.setAttribute("value","");
 input_file.setAttribute("name","image"+temp_img.value+"_"+id);
 input_file.setAttribute("class","img");
 input_file.setAttribute("type","file");
 input_file.setAttribute("id","file"+temp_img.value);
 input_file.setAttribute("required","true");
 input_file.setAttribute("style","display: none;");
 input_file.setAttribute("onchange","ChangeInput(this)");


 var div_input_group4 = document.createElement("div");
 div_input_group4.setAttribute("class","input-group");
 div_input_group4.setAttribute("style","margin-left: 5px;");

 div_input_group4.appendChild(label_Cate3);
 div_input_group4.appendChild(label_Cate4);
 div_input_group4.appendChild(a);
 div_input_group4.appendChild(p_file);
 div_input_group4.appendChild(input_file);

 frameCategory.insertBefore(div_input_group4, frameCategory.childNodes[3]);
 temp_img.value= parseInt(temp_img.value)+1;
 console.log(frameCategory);
}
</script>
<script type="text/javascript">
  function removeImg(params){
    params.parentElement.innerHTML="";
  }
</script>

<script type="text/javascript">
 window.addEventListener('load',function(){
  <?php 
  foreach ($this->listImg as $key => $value) {
    echo "var img".$key." =[];";
    foreach ($value['img'] as $key1 => $value1) {
        echo 'img'.$key.'.push("'.$value1.'");' ;
    }
    echo "addFrameCategory(".$value['category_id'].",'".$value['categoryname']."',".$value['soluong'].",img".$key.",'"
    .$value['detail_id']."');";

  }

  ?>

});
</script>