<style type="text/css">
    input {
        width: 50px;
    }
    .quantity_checkshop {
        width: 50px;
        margin-top: 10px;
        text-align: right;
    }

    .table_checkshop {
        margin-bottom: 10px
    }

    .table_checkshop tr td {
        text-align: center;
        padding: 2px
    }

    .inputfile {
        width: 0.1px;
        height: 0.1px;
        opacity: 0;
        overflow: hidden;
        position: absolute;
        z-index: -1;
    }

    .content_tad table tr th {
        padding: 2px
    }

    .content_layout {
        overflow-y: -webkit-paged-x;
    }

    .btn {
        padding: 2px 4px;
    }

    .imei_qrcode {
        font-size: 7px
    }

    .btn_file {
        font-size: 7px
    }

    .table tr td {
        text-align: center;
    }

    .img_wrap {
        display: block;
        position: relative;
    }

    .file {
        visibility: hidden;
        max-width: 100px !important;
        height: 0px !important
    }

    .top_img {
        display: block;
        height: 50px;
    }

    .bottom_img {
        margin-top: -35px;
    }

    #demo {
        font-weight: bold;
    }

    .category {
        width: 100%;
    }

    .add-icon {
        width: 20px;
        border-radius: 20px;
    }

    .remove-icon {
        margin-left: 5px;
        width: 20px;
        border-radius: 20px;
    }
</style>

<!-- Scanner CSS -->
<style type="text/css">
    #scanner {
        background: #263238;
        height: 100%;
        margin-top: 10px;
        z-index: 5000;
    }

    .frame_scan {
        position: absolute;
        height: 100%;
        width: 100%;
    }

    .preview-container {
        flex-direction: column;
        align-items: center;
        justify-content: center;
        display: flex;
        width: 100%;
        overflow: hidden;
        height: 410px;
        position: relative;
    }

    .sidebar {
        background: #eceff1;
        width: 100%;
        display: block;
        float: left;
    }

    .sidebar h2 {
        font-weight: normal;
        font-size: 1.0rem;
        background: #607d8b;
        color: #fff;
        padding: 10px;
        margin: 0;
    }

    .sidebar ul {
        margin: 0;
        padding: 0;
        list-style-type: none;
    }

    .sidebar li {
        line-height: 175%;
        white-space: nowrap;
        overflow: hidden;
        text-wrap: none;
        text-overflow: ellipsis;
    }

    .cameras ul {
        padding: 15px 20px;
    }

    .cameras .active {
        font-weight: bold;
        color: #009900;
    }

    .cameras a {
        color: #555;
        text-decoration: none;
        cursor: pointer;
    }

    .cameras a:hover {
        text-decoration: underline;
    }

    .scans li {
        padding: 10px 20px;
        border-bottom: 1px solid #ccc;
    }

    .scan_wrap {
        border: 1px solid #CCC;
        padding: 10px 0px;
        position: relative;
        text-align: center;
        height: 20px;
        background-color: white;
    }

    .scan_wrap .close_btn {
        position: absolute;
        right: 0px;
        font-size: 37px;
        margin-right: 10px;
    }

    @media (min-width: 320px) and (max-width: 575px) {
        #preview {
            transform: scaleX(1) !important;
            width: 100%;
            position: absolute;
            top: 12%;
        }
    }

    #preview {
        transform: scaleX(1) !important;
        width: 100%;
        position: absolute;
    }
    #loading-image{
        position: absolute;
        width: 100%;
        height: 55%;
        z-index: 1000;
        background:  center no-repeat #fff;
        /*background: url(/photo/loading/Preloader_1.gif) center no-repeat #fff;*/
    }
</style>

<div class="content-layout">
    <div id="loading-image"></div>

    <div class="row">
        <div class="col-12 col-md-8 p-0">
            <div class="table_main" style="margin-top: 7px;">
                <div class="header_tad">
                    <i class="icon-list-alt"></i> HIỆN TRẠNG KHO
                    <?php if ($this->areaId != 65) : ?>
                        HẠNG MỤC POSM
                    <?php endif; ?>

                </div>

                <div class="content_tad">
                    <h4 >KHU VỰC: <span style="color:red; font-weight:bold"><?php echo $this->areaName; ?></span></h4>
                    <br>
                    <div class="content_content" style="min-height: 405px;">

                        <form id="form" method="POST" enctype="multipart/form-data">
                            <div class="table_checkshop">
                                <table class="table" id="table_category">
                                    <tbody>
                                    <tr>
                                        <th style="width:30%">Tên hạng mục</th>
                                        <th style="width:70%">Số lượng trong kho</th>
                                    </tr>
                                    <?php foreach ($this->listCurrentCategoryParent as $currentCategory) :?>
                                        <tr>
                                            <td><?php echo $currentCategory['parent_name']; ?></td>
                                            <td>
                                                <?php echo $currentCategory['quantity']; ?>
                                                <div class="category_detail">
                                                    <a href="#<?php echo $currentCategory['parent_id']; ?>" class="btn pull-right btn_collapse" data-toggle="collapse"><i show="0" class="icon icon-chevron-down icon_toggle"></i></a>
                                                    <br><br>
                                                    <div id="<?php echo $currentCategory['parent_id']; ?>" class="collapse">
                                                        <table class="table table-bordered table_category_detail">
                                                            <thead>
                                                            <tr>
                                                                <th style="width:70%">Loại</th>
                                                                <th style="width:30%" class="category_type">Số lượng</th>

                                                            </tr>
                                                            </thead>
                                                            <tbody>
                                                            <?php foreach ($this->listCurrentCategoryChild[$currentCategory['parent_id']] as $detail) : ?>
                                                                <tr>
                                                                    <td>
                                                                        <?php echo $detail['category_name']; ?>
                                                                    </td>
                                                                    <td ><?php echo $detail['quantity'] ? $detail['quantity'] : ''; ?></td>
                                                                </tr>
                                                            <?php endforeach; ?>
                                                            </tbody>
                                                        </table>
                                                    </div>
                                                </div>

                                            </td>
                                        </tr>
                                    <?php endforeach; ?>
                                    </tbody>
                                </table>
                                <br>
                            <div style="text-align: center;">
                                <a href="/trade/check-inventory-list" class="btn btn-default p-2" style="height: 35px;"> << Quay
                                        lại</a>
                                <a class="btn btn-primary p-2" href="/trade/check-inventory-posm?area_id=<?php echo $this->areaId; ?>">Cập nhật kho</a>
                            </div>

                                <br>
                                <hr>

                                <!--lịch sử xuất nhập kho -->
                                <h3>Lịch sử xuất, nhập kho</h3><br>

                                <table class="table" id="history_table">
                                    <thead>
                                    <tr>
                                        <th style="width:20%">Tên hạng mục</th>
                                        <th style="width:20%">Số lượng</th>
                                        <th style="width:20%">Ngày</th>
                                        <th style="width:20%">Loại</th>
                                        <th style="width:20%">Ghi chú</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <?php foreach ($this->listHistory as $history) : ?>
                                        <tr>
                                            <td><?php echo $history['category_name']; ?></td>
                                            <td><?php echo $history['quantity']; ?></td>
                                            <td><?php echo date('d-m-Y', strtotime($history['date'])); ?></td>
                                            <td>
                                                <?php if ($history['type'] == 1) : ?>
                                                    <span style="color:green">Nhập kho</span>
                                                <?php endif; ?>

                                                <?php if ($history['type'] == 2) : ?>
                                                    <span style="color:red">Xuất kho</span>
                                                <?php endif; ?>
                                            </td>
                                            <td>
                                                <i><?php echo $history['note']; ?></i>
                                            </td>
                                        </tr>
                                    <?php endforeach; ?>
                                    </tbody>
                                </table>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<link rel="stylesheet" type="text/css" href="/js/DataTables/datatables.min.css"/>
<script type="text/javascript" src="/js/DataTables/datatables.min.js"></script>

<script>
    $(window).on('load', function() {
        // Animate loader off screen
        $("#loading-image").fadeOut("slow");
    });

    $(document).ready(function() {
        $('#history_table').DataTable( {
            "order": [[ 2, "desc" ]]
        } );
        $(document).on('click', '.btn_collapse' ,function() {
            var show = $(this).find('i').attr('show');
            if (show == 0) {
                $(this).find('i').attr('show', 1);
                $(this).find('i').attr('class', 'icon icon-chevron-up');
            }
            if (show == 1) {
                $(this).find('i').attr('show', 0);
                $(this).find('i').attr('class', 'icon icon-chevron-down');
            }

        });
    })
</script>








