
<style type="text/css">

    .quantity_checkshop {
        width: 50px;
        margin-top: 10px;
        text-align: right;
    }

    .table_checkshop {
        margin-bottom: 10px
    }

    .table_checkshop tr td {
        text-align: center;
        padding: 2px
    }

    .inputfile {
        width: 0.1px;
        height: 0.1px;
        opacity: 0;
        overflow: hidden;
        position: absolute;
        z-index: -1;
    }

    .content_tad table tr th {
        padding: 2px
    }

    .content_layout {
        overflow-y: -webkit-paged-x;
    }

    .btn {
        padding: 2px 4px;
    }

    .imei_qrcode {
        font-size: 7px
    }

    .btn_file {
        font-size: 7px
    }

    .img {
        margin-top: 20px;
        text-align: center;
    }

    .label-control {
        font-size: 15px;
        text-align: center;
    }

    .img_checkshop {
        width: 100px;
    }

    #imei_width span {
        font-size: 12px;
        color: white;
        background-color: #19bc9c;
        padding: 3px;
    }

    .wrap_picture {
        border: 1px solid #ddd;
        margin-top: 10px
    }

    .wrap_picture .img {
        padding: 10px;
        margin-top: 5px;
        text-align: left;
    }

    #map {
        height: 400px;
        width: 100%;
    }
    .btn_add  {
        font-size: 22px
    }
    .btn_minus {
        font-size: 42px
    }
    .img_wrap {
        text-align: center;
    }
    .header_tad {
        background: #2AAD6F ! important;
        box-shadow:1px 1px 3px 1px #d2e4dd;
        color:white;
        border-bottom: none
    }
    td, th {
        text-align: center !important;
    }
    th {
        vertical-align: inherit !important;
    }

    .row_table, .row_promotion {
        animation: animateElement linear .3s;
        animation-iteration-count: 1;
    }

    @keyframes animateElement{
        0% {
            opacity:0;
            transform:  translate(0px,10px);
        }
        100% {
            opacity:1;
            transform:  translate(0px,0px);
        }
    }
    @media screen and (max-width: 600px) {
        select {
            width:80%;
        }
    }

    #loading-image{
        position: absolute;
        width: 100%;
        height: 55%;
        z-index: 1000;
        background:  center no-repeat #fff;
        /*background: url(/photo/loading/Preloader_1.gif) center no-repeat #fff;*/
    }
</style>

<body>
<div class="content-layout">
    <div id="loading-image"></div>

    <div class="row">

        <div class="span6">
            <div class="table_main" style="margin-top: 7px;">
                <div class="header_tad" style="background: whitesmoke !important; color:black; font-weight:bold">
                    <i class="icon-align-justify"></i> CHECK SHOP<span
                        style="font-size:13px;color:red"></span>
                </div>

                <form id="form_submit">

                <div class="content_tad" style="padding:5px !important">

                    <div class="content_content" style="min-height: 405px; padding:0 !important; margin-top:15px">
                        <!--
                        <div>
                            <div class="header_tad">
                                <i class="icon-th-large"></i> TỈ LỆ HÌNH ẢNH <span
                                    style="font-size:13px;color:red"></span>
                            </div>
                            <div class="div_store_info" style="border: 1px solid #87c5a8; padding:10px; box-shadow: 4px 4px 5px 0px #a4ccbc">
                                <table class="table table-striped">
                                    <thead>
                                    <tr>
                                        <th style="width:20%">Hạng mục</th>
                                        <th style="width:16%">Không có</th>
                                        <th style="width:16%">Vị trí xấu</th>
                                        <th style="width:16%">Tốt</th>
                                        <th style="width:16%">Rất tốt</th>
                                        <th>Tổng</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <?php foreach ($this->list_category as $category) : ?>
                                        <tr class="row_image_ratio">
                                            <td><?php echo $category['name']; ?></td>
                                            <td>
                                                <input required class="radio_image" type="radio" name="rank_image_ratio[<?php echo $category['id']; ?>]" value="1" point="3">
                                            </td>
                                            <td><input required class="radio_image" type="radio" name="rank_image_ratio[<?php echo $category['id']; ?>]" value="2" point="4"></td>
                                            <td><input required class="radio_image" type="radio" name="rank_image_ratio[<?php echo $category['id']; ?>]" value="3" point="5"></td>
                                            <td><input required class="radio_image" type="radio" name="rank_image_ratio[<?php echo $category['id']; ?>]" value="4" point="6"></td>
                                            <td>
                                                <p class="text_point_image"></p>
                                                <input class="input_point_image" type="number" style="display:none" name="point_image_ratio[<?php echo $category['id']; ?>]">
                                            </td>
                                        </tr>
                                    <?php endforeach; ?>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                        <br>
-->

                        <div >
                            <div class="header_tad">
                                <i class="icon-th-large"></i> TỈ LỆ HÌNH ẢNH <span
                                        style="font-size:13px;color:red"></span>
                            </div>

                            <div style="border: 1px solid #87c5a8; padding:10px; box-shadow: 4px 4px 5px 0px #a4ccbc">

                                <div class="container_table_promotion">


                                    <table class="table" style="">
                                        <thead>
                                        <tr>
                                            <th style="width:20%">Hãng</th>
                                            <th style="width:20%">Sản phẩm</th>
                                            <th style="width:60%">Vị trí</th>
                                            <th>#</th>
                                        </tr>
                                        </thead>
                                        <tbody class="body_table_promotion">
                                        <tr class="row_table" index="1">
                                            <td rowspan="1" class="brand_name">
                                                <p style="font-weight:bold ;color: <?php echo $this->color[1]?>">OPPO</p>
                                                <span class="btn_add_product_display" brand_id="1" style="font-size:7px; color:dodgerblue;cursor: pointer;">Thêm SP   <i class="icon icon-arrow-right"></i> </span>
                                            </td>
                                            <td><input class="product_display_name" placeholder="Tên SP" style="width:85%" type="text" name="product_display_name[1][1]"></td>
                                            <td class="block_promotion">
                                                <div class="row_promotion">
                                                        <span>
                                                            <select class="category_display_id" style="width:80%" name="category_display_id[1][1][1]" id="">
                                                                <option value="">-Chọn hạng mục-</option>
                                                                <?php foreach ($this->list_category_display as $category) : ?>
                                                                    <option value="<?php echo $category['id']; ?>"><?php echo $category['name']; ?></option>
                                                                <?php endforeach; ?>                                                                   
                                                            </select>
                                                        </span>

                                                    <div>
                                                        <span class="div_display">
                                                            <input point="2" value="1" class="position_display" type="radio" name="position_display[1][1][1]"> <small style="margin-right:8px">Đẹp</small>
                                                            <input point="0" value="2" class="position_display" type="radio" name="position_display[1][1][1]"> <small>Không đẹp</small>
                                                            <input type="hidden" class="point_display" name="position_display[1][1][1]">
                                                        </span>
                                                    </div>
                                                    <hr style="border-color:#44d08e">

                                                </div>
                                                <i brand_id="1" class="icon icon-plus-sign btn_add_display" style="color:dodgerblue; font-size:15px"></i>
                                                <i brand_id="1" class="icon icon-minus-sign btn_remove_display" style="color:orangered; font-size:15px; margin-left:10px"></i>
                                            </td>

                                            <td>
                                            </td>
                                        </tr>
                                        </tbody>
                                    </table>
                                    <br>
                                </div>

                                <?php foreach ($this->list_brand as $key => $brand) : ?>
                                <div class="container_table_promotion">

                                <h3 class="brand_title" style="cursor: pointer;font-weight:bold ;color: <?php echo $this->color[$brand['id']]?>">
                                    <?php echo $brand['name']; ?> <i class="icon icon-circle-arrow-right"></i>
                                </h3>
                                    <table class="table" style="display:none">
                                        <thead>
                                        <tr>
                                            <th style="width:20%">Hãng</th>
                                            <th style="width:20%">Sản phẩm</th>
                                            <th style="width:60%">Vị trí</th>
                                            <th >#</th>
                                        </tr>
                                        </thead>
                                        <tbody class="body_table_promotion">
                                        <tr class="row_table" index="1">
                                            <td rowspan="1" class="brand_name">
                                                <p style="font-weight:bold ;color: <?php echo $this->color[$brand['id']]?>"><?php echo $brand['name']; ?></p>
                                                <span class="btn_add_product_display" brand_id="<?php echo $brand['id']; ?>" style="font-size:7px; color:dodgerblue;cursor: pointer;">Thêm SP   <i class="icon icon-arrow-right"></i> </span>
                                            </td>
                                            <td><input class="product_display_name" placeholder="Tên SP" style="width:85%" type="text" name="product_display_name[<?php echo $brand['id']; ?>][1]"></td>
                                            <td class="block_promotion">
                                                <div class="row_promotion">
                                                        <span>
                                                            <select class="category_display_id" style="width:80%" name="category_display_id[<?php echo $brand['id']; ?>][1][1]" id="">
                                                                <option value="">-Chọn hạng mục-</option>
                                                                <?php foreach ($this->list_category_display as $category) : ?>
                                                                    <option value="<?php echo $category['id']; ?>"><?php echo $category['name']; ?></option>
                                                                <?php endforeach; ?>
                                                            </select>
                                                        </span>

                                                    <div>
                                                        <span class="div_display">
                                                            <input point="2" value="1" class="position_display" type="radio" name="position_display[<?php echo $brand['id']; ?>][1][1]"> <small style="margin-right:8px">Đẹp</small>
                                                            <input point="0" value="2" class="position_display" type="radio" name="position_display[<?php echo $brand['id']; ?>][1][1]"> <small>Không đẹp</small>
                                                            <input type="hidden" class="point_display" name="position_display[<?php echo $brand['id']; ?>][1][1]">
                                                        </span>
                                                    </div>
                                                    <hr style="border-color:#44d08e">

                                                </div>
                                                <i brand_id="<?php echo $brand['id']; ?>" class="icon icon-plus-sign btn_add_display" style="color:dodgerblue; font-size:15px"></i>
                                                <i brand_id="<?php echo $brand['id']; ?>" class="icon icon-minus-sign btn_remove_display" style="color:orangered; font-size:15px; margin-left:10px"></i>
                                            </td>

                                            <td>
                                            </td>
                                        </tr>
                                        </tbody>
                                    </table>
                                    <br>
                                </div>
                                <?php endforeach; ?>
                            </div>


                        </div>
                        <br>
                        <!------------------->
                        <!--
                        <div>
                                <div class="header_tad">
                                    <i class="icon-list"></i> TRƯNG BÀY SẢN PHẨM <span
                                        style="font-size:13px;color:red"></span>
                                </div>
                                <div style="border: 1px solid #87c5a8; padding:10px; box-shadow: 4px 4px 5px 0px #a4ccbc">

                                    <table class="table table-striped">
                                        <thead>
                                        <tr>
                                            <th style="width:20%">Sản phẩm</th>
                                            <th style="width:16%">Không có</th>
                                            <th style="width:16%">Số lượng ít</th>
                                            <th style="width:16%">Trung bình</th>
                                            <th style="width:16%">Rất tốt</th>
                                            <th>Tổng</th>
                                        </tr>
                                        </thead>
                                        <tbody >
                                        <?php foreach ($this->list_phone_product as $product) : ?>
                                            <tr class="row_display_product">
                                                <td ><?php echo $product['name']; ?></td>
                                                <td><input required class="radio_product" type="radio" name="rank_display_product[<?php echo $product['id']; ?>]" value="1" point="2" ></td>
                                                <td><input required class="radio_product" type="radio" name="rank_display_product[<?php echo $product['id']; ?>]" value="2" point="3"></td>
                                                <td><input required class="radio_product" type="radio" name="rank_display_product[<?php echo $product['id']; ?>]" value="3" point="4"></td>
                                                <td><input required class="radio_product" type="radio" name="rank_display_product[<?php echo $product['id']; ?>]" value="4" point="5"></td>
                                                <td>
                                                    <p class="text_point_product"></p>
                                                    <input class="input_point_product" type="number" style="display: none" name="point_display_product[<?php echo $product['id']; ?>]">
                                                </td>
                                            </tr>
                                        <?php endforeach; ?>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        <br>
                        -->
                        <!------------------->
                        <div >
                                <div class="header_tad">
                                    <i class="icon-gift"></i> THÔNG TIN KHUYẾN MÃI <span
                                        style="font-size:13px;color:red"></span>
                                </div>

                                <div style="border: 1px solid #87c5a8; padding:10px; box-shadow: 4px 4px 5px 0px #a4ccbc">
                                    <?php foreach ($this->list_brand as $key => $brand) : ?>
                                    <div class="container_table_promotion">
                                        <h3 style="cursor: pointer;font-weight: bold; color: <?php echo $this->color[$brand['id']]?>"  class="brand_title"><?php echo $brand['name']; ?> <i class="icon icon-circle-arrow-right"></i></h3>
                                        <table class="table" style="display:none">
                                            <thead>
                                            <tr>
                                                <th style="width:20%">Hãng</th>
                                                <th style="width:25%">Sản phẩm</th>
                                                <th style="width:50%">CTKM</th>
                                                <th >#</th>
                                            </tr>
                                            </thead>
                                            <tbody class="body_table_promotion">
                                            <tr class="row_table">
                                                <td rowspan="1" class="brand_name">
                                                    <p style="font-weight: bold; color: <?php echo $this->color[$brand['id']]?>"><?php echo $brand['name']; ?></p>
                                                    <span class="btn_add_product" brand_id="<?php echo $brand['id']; ?>" style="font-size:7px; color:dodgerblue;cursor: pointer;">Thêm SP   <i class="icon icon-arrow-right"></i> </span>
                                                </td>
                                                <td><input class="product_name" placeholder="Tên SP" style="width:85%" type="text" name="product_name[<?php echo $brand['id']; ?>][1]"></td>
                                                <td class="block_promotion">
                                                    <div class="row_promotion">
                                                        <span>
                                                            <select class="promotion" style="width:40%" name="promotion[<?php echo $brand['id']; ?>][1][]" id="">
                                                                <option value="">-Chọn-</option>
                                                                <?php foreach ($this->list_promotion as $promotion) : ?>
                                                                    <option value="<?php echo $promotion['id']; ?>"><?php echo $promotion['name']; ?></option>
                                                                <?php endforeach; ?>
                                                            </select>
                                                        </span>
                                                        <span>
                                                            <input type="text" name="promotion_value[<?php echo $brand['id']; ?>][1][]" style="width:40%">
                                                        </span>
                                                    </div>
                                                    <i class="icon icon-plus-sign btn_add_promotion" style="color:dodgerblue; font-size:15px"></i>
                                                    <i class="icon icon-minus-sign btn_remove_promotion" style="color:orangered; font-size:15px; margin-left:10px"></i>
                                                </td>

                                                <td>
                                                </td>
                                            </tr>
                                            </tbody>
                                        </table>
                                        <br>
                                    </div>
                                    <?php endforeach; ?>
                                </div>


                            </div>
                        <br>
                        <!-- ------------------->
                        <div >
                            <div class="header_tad">
                                <i class="icon-edit"></i> NHẬN XÉT <span
                                        style="font-size:13px;color:red"></span>
                            </div>

                            <div style="border: 1px solid #87c5a8; padding:10px; box-shadow: 4px 4px 5px 0px #a4ccbc">
                                <textarea name="note" id="" rows="4" style="width:95%" placeholder="Điền nhận xét về shop"></textarea>
                            </div>


                        </div>

                            <input type="hidden" name="check_shop_id" value="<?php echo $this->check_shop_id; ?>">
                            <br><button type="submit" class="btn btn-primary btn_submit" style="background-color:#2AAD6F">Submit</button>

                        </form>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>
</body>

<style type="text/css">
    .img_full {
        position: fixed;
        width: 100%;
        top: 0px;
        right: 0px;
        bottom: 0px;
        left: 0px;
        background: rgba(255, 255, 255, 1);
        z-index: 10000;
        display: none;
        overflow: scroll;
    }

    .img_full img {
        width: 100%;
        height: auto;
        top: 6%;
        position: absolute;
        max-width: 500px;
        margin: 0 auto;
        left: 0;
        right: 0
    }

    .pre {

        z-index: 1000000;
        position: absolute;
        left: 10px;
        font-size: 20px;
        line-height: 350px;

    }

    .net {

        z-index: 10000000;
        position: absolute;
        right: 40px;
        font-size: 20px;
        line-height: 350px;
    }

    .net img {
        height: 100px;
        width: 30px;
        margin-top: 70px;
    }

    .pre img {
        height: 100px;
        width: 30px;
        margin-top: 70px;
    }

    .img_jum {
        height: 300px;
    }

    .close_img_full {
        background-color: #04040429;
        height: 35px;
        opacity: 1;
    }
    .btn_submit {
        margin-left: 45%;
    }

</style>


<!-- slide cho hình ảnh design -->
<div class="img_full">
    <div class="close_img_full"><a class="btn btn-danger icon-remove"
                                   style=" width: 30px; float: right; font-size: 20px; margin-left: 50px;margin-top: 3px;  color:white; height: 24px;"></a>
    </div>
    <div class="img_des">
        <img src="" alt="" width="100%" height="100%" class="img_jum">
    </div>
    <span class="pre"><img src="<?php echo HOST . 'images/prev.png' ?>" alt="..."></span>
    <span class="net"><img src="<?php echo HOST . 'images/next.png' ?>" alt="..."></span>
</div>

<div class="alert alert-error" style="display: none;" id="notify"><p id="alert"></p></div>

<!--copy product-->
<table>
<tbody id="copy_product">
<tr class="row_table">
    <td><input class="product_name" placeholder="Tên SP" style="width:85%" type="text" "></td>
    <td class="block_promotion">
        <div class="row_promotion">
            <span>
                <select class="promotion" style="width:40%"  id="">
                    <option value="">-Chọn-</option>
                    <?php foreach ($this->list_promotion as $promotion) : ?>
                        <option value="<?php echo $promotion['id']; ?>"><?php echo $promotion['name']; ?></option>
                    <?php endforeach; ?>
                </select>

            </span>
            <span>
                <input min="0" class="promotion_value"  style="width:40%" type="text"">
            </span>
        </div>
        <i class="icon icon-plus-sign btn_add_promotion" style="color:dodgerblue; font-size:15px"></i>
        <i class="icon icon-minus-sign btn_remove_promotion" style="color:orangered; font-size:15px; margin-left:10px"></i>
    </td>

    <td>
        <i class="icon icon-minus-sign btn_remove_product" style="color: darkorange; font-size:17px"></i>
    </td>
</tr>
</tbody>
</table>
<!--end copy product-->


<!--copy product-->
<table>
    <tbody id="copy_product_display">
    <tr class="row_table">
        <td><input class="product_display_name" placeholder="Tên SP" style="width:85%" type="text" "></td>
        <td class="block_promotion">
            <div class="row_promotion">
                                                        <span>
                                                            <select class="category_display_id" style="width:80%"  >
                                                                <option value="">-Chọn hạng mục-</option>
                                                                <?php foreach ($this->list_category_display as $category) : ?>
                                                                    <option value="<?php echo $category['id']; ?>"><?php echo $category['name']; ?></option>
                                                                <?php endforeach; ?>
                                                            </select>
                                                        </span>

                <div>
                                                        <span class="div_display">
                                                            <input point="2" value="1" class="position_display" type="radio" > <small style="margin-right:8px">Đẹp</small>
                                                            <input point="0" value="2" class="position_display" type="radio" > <small>Không đẹp</small>
                                                             <input type="hidden" class="point_display">
                                                        </span>
                </div>
                <hr style="border-color:#44d08e">

            </div>
            <i brand_id="<?php echo $brand['id']; ?>" class="icon icon-plus-sign btn_add_display" style="color:dodgerblue; font-size:15px"></i>
            <i brand_id="<?php echo $brand['id']; ?>" class="icon icon-minus-sign btn_remove_display" style="color:orangered; font-size:15px; margin-left:10px"></i>

        </td>

        <td>
            <i class="icon icon-minus-sign btn_remove_product" style="color: darkorange; font-size:17px"></i>
        </td>
    </tr>
    </tbody>
</table>
<!--end copy product-->

<!--<script async defer
src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCQLF58kGBqrhB54F6fE3PFLw2KSiR8Ys4&callback=initMap">
</script>-->

<script type="text/javascript" src="/js/sweetalert2.all.min.js"></script>

<script>

    $(window).on('load', function() {
        // Animate loader off screen
        $("#loading-image").fadeOut("slow");;
    });

    $(document).on('click', ".img_checkshop", function () {
        var src = $(this).attr('src');
        $('.img_full').find('.img_des img').attr('src', src);
        $('.img_full').show();
        ///---next prev giữa ảnh
        var height = $('.img_full img').css('height');
        $('.net img').css('margin-top', parseInt(height) / 3);
        $('.pre img').css('margin-top', parseInt(height) / 3);
        ///---
        var va = $(this).attr('va');
        $('.pre').attr('va', parseInt(va) - 1);
        $('.net').attr('va', parseInt(va) + 1);

    });
    $(document).on('click', ".net", function () {
        cont = $('.table-img').find('tr').find('img').length;

        var net = $(this).attr('va');
        var src = $('#d' + net + '').attr('src');
        $('.img_full').find('.img_des img').attr('src', src);
        $('.img_full').show();
        ///---next prev giữa ảnh
        var height = $('.img_full img').css('height');
        $('.net img').css('margin-top', parseInt(height) / 3);
        $('.pre img').css('margin-top', parseInt(height) / 3);
        ///---

        $('.net').attr('va', parseInt(net) + 1);

        $('.pre').attr('va', parseInt(net));

        if (net == cont || net > cont) {
            net = 1;
            $('.net').attr('va', parseInt(net));
        }

    });
    $(document).on('click', ".pre", function () {
        cont = $('.table-img').find('tr').find('img').length;
        var pre = $(this).attr('va');

        var src = $('#d' + pre + '').attr('src');
        $('.img_full').find('.img_des img').attr('src', src);
        $('.img_full').show();
        ///---next prev giữa ảnh
        var height = $('.img_full img').css('height');
        $('.net img').css('margin-top', parseInt(height) / 3);
        $('.pre img').css('margin-top', parseInt(height) / 3);
        ///---
        if (pre == 0) {
            pre = cont + 1;
        }
        $('.pre').attr('va', parseInt(pre) - 1);
        $('.net').attr('va', parseInt(pre));

    });


    $(document).on('click', ".close_img_full", function () {
        $('.img_full').hide();
    });


    $( document ).ready(function() {
        //image
        var currentCategory = '';
        var index_category = '';
        var listImage = [
            "",
            "",
            ""
        ];
        //

        var roundId = '<?php echo $this->roundId?>';
        var copyRowHtml = "<tr class='copyRowTable'>" + $(".copyRowTable").html() +"</tr>";
        $('.copyRowTable').remove();


        $('.btn_add').click(function() {
            $('#table_checkshop').append(copyRowHtml);
        });

        $(document).on('click', '.btn_minus', function() {
            $(this).parents('.copyRowTable').remove();
        });

        $(document).on('change', '.select_category', function() {
            copyRowTable = $(this).parents('.copyRowTable');
            categoryId = $(this).val();
            nameAttribute = 'quantity[' +  categoryId + ']';
            copyRowTable.find('.input_quantity').attr('name', nameAttribute);
        });

        $('#form_submit').submit(function(e) {
            e.preventDefault();
            var data = new FormData(this);

            Swal.fire({
                title: 'Đang lưu dữ liệu...',
                allowOutsideClick: false,
                onBeforeOpen: () => {
                    Swal.showLoading()
                }
            });
            $.ajax({
                url: '/trade/check-shop-entire-product-save',
                type: 'post',
                data: data,
                dataType: 'json',
                success: function (data) {
                    if (data.status === 0) {
                        // swal('Submit thành công', '', 'success');
                        Swal.fire({
                            type: 'success',
                            title: 'Thành công',
                            showConfirmButton: false,
                            timer: 1500
                        });
                        setTimeout(function() {
                            history.go(-2);
                        },900)
                    } else {
                        Swal.fire({
                            type: 'warning',
                            title: data.message,
                            showConfirmButton: false,
                            timer: 3000
                        });
                    }
                },
                contentType: false,
                cache: false,
                processData: false
            });
        });


        // Run

        // ==============================================================




        function showError(error) {

            $('.loader-wrap').hide();

            switch (error.code) {
                case error.PERMISSION_DENIED:
                    alert("Người sử dụng từ chối cho xác định vị trí. Vui lòng bật dịch vụ GPS để tiếp tục!");
                    break;
                case error.POSITION_UNAVAILABLE:
                    alert("Thông tin vị trí không có sẵn.");
                    break;
                case error.TIMEOUT:
                    alert("Yêu cầu vị trí người dùng vượt quá thời gian quy định.");
                    break;
                case error.UNKNOWN_ERROR:
                    alert("Một lỗi xảy ra không rõ nguyên nhân.");
                    break;
            }
        }

        // Camera captured success
        function takeImage(_self, file, base64 = null) {
            let modifiedTime = file.lastModified;
            let now = Date.now();

            let type = file.type.toLowerCase();
            if(type !== "image/jpeg" && type !== "image/jpg" && type !== "image/png") {
                alert('Chỉ có thể gửi lên hình ảnh!');
                $(_self).closest('.img_wrap').find('.name_file').html('Chỉ có thể gửi lên hình ảnh!');
                $(_self).wrap('<form>').closest('form').get(0).reset();
                $(_self).unwrap();
                return;
            }
            if($(_self).closest('.img_wrap').find('.name_file').find('.image-thumbnail').length > 0) {
                let imageId = $(_self).closest('.img_wrap').find('.name_file').find('.image-thumbnail').attr('id').split('_')[1];
                listImage[parseInt(imageId)] = "";
            }
            $(_self).closest('.img_wrap').find('.name_file').empty();
            let indexFile = parseInt(_self.id.split('_')[1]);
            setTimeout(function() {
                if(base64 === null) {
                    convertFileToBase64(file, function(base64) {
                        setTimeout(function() {
                            createThumbnail(base64, 500, function (thumbnailBase64) {
                                listImage[indexFile] = thumbnailBase64;
                                $(_self).closest('.img_wrap').find('.name_file')
                                    .append(
                                        '<img style="max-width: 100px;" class="image-thumbnail" id="img_'
                                        +indexFile+'" src="' + thumbnailBase64 + '" />'
                                    );
                            });
                        }, 500);
                    });
                } else {
                    createThumbnail(base64, 500, function (thumbnailBase64) {
                        listImage[indexFile] = thumbnailBase64;
                        $(_self).closest('.img_wrap').find('.name_file')
                            .append(
                                '<img style="max-width: 100px;" class="image-thumbnail" id="img_'
                                +indexFile+'" src="' + thumbnailBase64 + '" />'
                            );


                    })
                }
            }, 500);
        }

        // Open Camera
        if(isWebPlatform()) {
            $(document).on('change', 'input[type=file]', function () {
                takeImage(this, this.files[0]);
                $(this).wrap('<form>').closest('form').get(0).reset();
                $(this).unwrap();
            });
        }
        else {
            $(document).on('click', 'input[type=file]', function () {
                let _self = this;
                _Camera.getPicture(function(base64img) {
                    let file = convertBase64ToFile(base64img, 'tmp_' + new Date().getTime());
                    takeImage(_self, file, base64img);
                }, null, {});
                return false;
            });
        }

        $(document).on('click', "#add-img", function () {
            //lấy label for = "file_?"
            var val = $('.table-img').find('tr:last').find('td:last').find('.label_file').attr('for');
            var arr = val.split('_');
            var stt = parseInt(arr[1]) + 1;
            listImage.push('');
            //lấy số cột của hàng  cuối trong bảng
            var length = $('.table-img').find('tr:last').find('td').length;
            if (length < 3) {
                $('.table-img').find('tr:last').append('<td style="vertical-align: top;">\
                    <div class="img_wrap">\
                        <div class="top_img">\
                            <label for="file_' + stt + '" class="btn label_file">Chụp hình</label>\
                        </div>\
                        <div class="bottom_img">\
                            <input style="display:none" id="file_' + stt + '" class="file" type="file" >\
                            <label class="name_file"></label>\
                        </div>\
                    </div>\
                </td>')
            }
            else {
                $('.table-img').append('<tr>\
                    <td style="vertical-align: top;"><div class="img_wrap">\
                          <div class="top_img">\
                            <label for="file_' + stt + '" class="btn label_file">Chụp hình</label>\
                          </div>\
                          <div class="bottom_img">\
                            <input style="display:none" id="file_' + stt + '" class="file" type="file" >\
                            <label class="name_file"></label>\
                          </div>\
                        </div></td>\
                    </tr>');
            }
        });

        $(document).on('click', "#remove-img", function () {
            var length_input = $('.table-img').find('input').length;
            if (length_input > 3) {
                listImage.pop();
                if($('.table-img').find('tr:last').find('td:last').find('.image-thumbnail').length > 0) {
                    let imageId = $('.table-img').find('tr:last').find('td:last').find('.image-thumbnail').attr('id');
                }
                var l = $('.table-img').find('tr:last').find('td').length;
                if (l == 1) {
                    $('.table-img').find('tr:last').remove();
                } else {
                    $('.table-img').find('tr:last').find('td:last').remove();
                }
            }
        });

        // $('#error_image').click(function() {
        //    $('#note_error_image').show();
        //     $('#note_error_image').attr('required', 'required');
        // });
        //
        // $('#not_error_image').click(function() {
        //     $('#note_error_image').hide();
        //     $('#note_error_image').removeAttr('required');
        // });


        $('#error_image').click(function() {
            $('.error_image_box').show();
            $('#div_error_image').show();

        });

        $('#not_error_image').click(function() {
            $('.error_image_box').hide();
            $('#div_error_image').hide();

        });

        $(document).on('click', '.checkbox_error', function() {
            var note_error_div = $(this).parents('.error_image_option').find('.note_error');
            var error_id = $(this).val();
            var nameAttr = 'error_note[' + error_id + ']';
            if ($(this).is(":checked")) {
                note_error_div.show();
                note_error_div.attr('required', 'required');
                note_error_div.attr('name', nameAttr);

                // image

            } else {
                note_error_div.hide();
                note_error_div.attr('required', false);
                note_error_div.removeAttr('name');

                //image

            }
        });
        
        $('.radio_image').click(function () {
            var point = $(this).attr('point');
            var text_point = $(this).parents('.row_image_ratio').find('.text_point_image');
            var input_point = $(this).parents('.row_image_ratio').find('.input_point_image');

            text_point.text(point);
            input_point.val(point);
        });

        $('.radio_product').click(function () {
            var point = $(this).attr('point');
            var text_point = $(this).parents('.row_display_product').find('.text_point_product');
            var input_point = $(this).parents('.row_display_product').find('.input_point_product');

            text_point.text(point);
            input_point.val(point);
        });



        // init
        var copy_product = $('#copy_product').html();
        $('#copy_product').remove();

        var copy_product_display = $('#copy_product_display').html();
        $('#copy_product_display').remove();

        $('.btn_add_product').click(function () {
            var brand_id = $(this).attr('brand_id');
            var parent_row = $(this).parents('.body_table_promotion');

            // append row
            parent_row.find('.brand_name').attr('rowspan', 30);
            parent_row.append(copy_product);

            //set name for new row
            var count_row_child = parent_row.find('tr').length;
            var name_attr_product= 'product_name[' + brand_id + '][' + count_row_child + ']';
            var name_attr_promotion = 'promotion[' + brand_id + '][' + count_row_child + '][]';
            var name_attr_promotion_value = 'promotion_value[' + brand_id + '][' + count_row_child + '][]';

            // assign name atrribute to new row
            var last_row_table = parent_row.find('.row_table').last(); // table just added
            last_row_table.find('.product_name').attr('name', name_attr_product);
            last_row_table.find('.promotion').attr('name', name_attr_promotion);
            last_row_table.find('.promotion_value').attr('name', name_attr_promotion_value);

        })

        $(document).on('click', '.btn_add_promotion', function () {
           var parent_div = $(this).parents('.block_promotion');
           var row_html = "<div class='row_promotion'>" + parent_div.find('.row_promotion').html() + "</div>";

           $(this).before(row_html)
        });
        $(document).on('click', '.btn_remove_promotion', function () {
            var parent_div = $(this).parents('.block_promotion');
            var count_row = parent_div.find('.row_promotion').length;
            var last_row = parent_div.find('.row_promotion').last();

            if (count_row > 1) {
                last_row.fadeOut(150, function () {
                    last_row.remove();
                });
            }
        });
        $(document).on('click', '.btn_remove_product', function () {
           var row =  $(this).parents('.row_table');
            row.fadeOut( 150, function() {
                row.remove();
            });

        });




/////////////////////////////////////////////////////////////


        // display image
        $(document).on('click', '.btn_add_display', function () {
            var brand_id = $(this).attr('brand_id');
            var parent_div = $(this).parents('.block_promotion');
            var count_row_table = parent_div.parents('.row_table').attr('index');
            var row_html = "<div class='row_promotion'>" + parent_div.find('.row_promotion').html() + "</div>";

            //append row
            $(this).before(row_html)

            //set name for new row display
            var count_row_child = parent_div.find('.row_promotion').length;
            var name_attr_category_display_id = 'category_display_id[' + brand_id + '][' + count_row_table + ']['+ count_row_child + ']';
            var name_attr_position_display = 'position_display[' + brand_id + '][' + count_row_table + ']['+ count_row_child + ']';
            var name_attr_point_display = 'point_display[' + brand_id + '][' + count_row_table + ']['+ count_row_child + ']';

        //    assign name attribute
            var last_row_added = parent_div.find('.row_promotion').last(); // table just added
            last_row_added.find('.category_display_id').attr('name', name_attr_category_display_id);
            last_row_added.find('.position_display').attr('name', name_attr_position_display);
            last_row_added.find('.point_display').attr('name', name_attr_point_display);
        });

        $(document).on('click', '.btn_remove_display', function () {
            var parent_div = $(this).parents('.block_promotion');
            var count_row = parent_div.find('.row_promotion').length;
            var last_row = parent_div.find('.row_promotion').last();

            if (count_row > 1) {
                last_row.fadeOut(150, function () {
                    last_row.remove();
                });
            }
        });

        $('.btn_add_product_display').click(function () {
            var brand_id = $(this).attr('brand_id');
            var parent_row = $(this).parents('.body_table_promotion');

            // append row
            parent_row.find('.brand_name').attr('rowspan', 30);
            parent_row.append(copy_product_display);

            //set name for new row product name
            var count_row_child = parent_row.find('tr').length;
            var name_attr_product= 'product_display_name[' + brand_id + '][' + count_row_child + ']';
            var name_attr_category_display_id = 'category_display_id[' + brand_id + '][' + count_row_child + '][1]';
            var name_attr_position_display = 'position_display[' + brand_id + '][' + count_row_child + '][1]';
            var name_attr_point_display = 'point_display[' + brand_id + '][' + count_row_child + '][1]';

            // assign name atrribute to new row
            var last_row_table = parent_row.find('.row_table').last(); // table just added
            last_row_table.find('.product_display_name').attr('name', name_attr_product);
            last_row_table.find('.category_display_id').attr('name', name_attr_category_display_id);
            last_row_table.find('.position_display').attr('name', name_attr_position_display);
            last_row_table.find('.point_display').attr('name', name_attr_point_display);
            last_row_table.find('.btn_add_display').attr('brand_id', brand_id);



            //
            last_row_table.attr('index', count_row_child);

        })

        $(document).on('change', '.position_display',function () {
            var point = $(this).attr('point');
            $(this).parents('.div_display').find('.point_display').val(point);
        });



        //
        $(document).on('click', '.brand_title', function () {
            var parent_div = $(this).parents('.container_table_promotion');
            var table = parent_div.find('.table');

            table.fadeIn();
            $(this).remove()
        })
        
    });

</script>










