<script type="text/javascript">
    $(document).ready(function(){
        var isMobile = false;
        if(/(android|bb\d+|meego).+mobile|avantgo|bada\/|blackberry|blazer|compal|elaine|fennec|hiptop|iemobile|ip(hone|od)|ipad|iris|kindle|Android|Silk|lge |maemo|midp|mmp|netfront|opera m(ob|in)i|palm( os)?|phone|p(ixi|re)\/|plucker|pocket|psp|series(4|6)0|symbian|treo|up\.(browser|link)|vodafone|wap|windows (ce|phone)|xda|xiino/i.test(navigator.userAgent)
            || /1207|6310|6590|3gso|4thp|50[1-6]i|770s|802s|a wa|abac|ac(er|oo|s\-)|ai(ko|rn)|al(av|ca|co)|amoi|an(ex|ny|yw)|aptu|ar(ch|go)|as(te|us)|attw|au(di|\-m|r |s )|avan|be(ck|ll|nq)|bi(lb|rd)|bl(ac|az)|br(e|v)w|bumb|bw\-(n|u)|c55\/|capi|ccwa|cdm\-|cell|chtm|cldc|cmd\-|co(mp|nd)|craw|da(it|ll|ng)|dbte|dc\-s|devi|dica|dmob|do(c|p)o|ds(12|\-d)|el(49|ai)|em(l2|ul)|er(ic|k0)|esl8|ez([4-7]0|os|wa|ze)|fetc|fly(\-|_)|g1 u|g560|gene|gf\-5|g\-mo|go(\.w|od)|gr(ad|un)|haie|hcit|hd\-(m|p|t)|hei\-|hi(pt|ta)|hp( i|ip)|hs\-c|ht(c(\-| |_|a|g|p|s|t)|tp)|hu(aw|tc)|i\-(20|go|ma)|i230|iac( |\-|\/)|ibro|idea|ig01|ikom|im1k|inno|ipaq|iris|ja(t|v)a|jbro|jemu|jigs|kddi|keji|kgt( |\/)|klon|kpt |kwc\-|kyo(c|k)|le(no|xi)|lg( g|\/(k|l|u)|50|54|\-[a-w])|libw|lynx|m1\-w|m3ga|m50\/|ma(te|ui|xo)|mc(01|21|ca)|m\-cr|me(rc|ri)|mi(o8|oa|ts)|mmef|mo(01|02|bi|de|do|t(\-| |o|v)|zz)|mt(50|p1|v )|mwbp|mywa|n10[0-2]|n20[2-3]|n30(0|2)|n50(0|2|5)|n7(0(0|1)|10)|ne((c|m)\-|on|tf|wf|wg|wt)|nok(6|i)|nzph|o2im|op(ti|wv)|oran|owg1|p800|pan(a|d|t)|pdxg|pg(13|\-([1-8]|c))|phil|pire|pl(ay|uc)|pn\-2|po(ck|rt|se)|prox|psio|pt\-g|qa\-a|qc(07|12|21|32|60|\-[2-7]|i\-)|qtek|r380|r600|raks|rim9|ro(ve|zo)|s55\/|sa(ge|ma|mm|ms|ny|va)|sc(01|h\-|oo|p\-)|sdk\/|se(c(\-|0|1)|47|mc|nd|ri)|sgh\-|shar|sie(\-|m)|sk\-0|sl(45|id)|sm(al|ar|b3|it|t5)|so(ft|ny)|sp(01|h\-|v\-|v )|sy(01|mb)|t2(18|50)|t6(00|10|18)|ta(gt|lk)|tcl\-|tdg\-|tel(i|m)|tim\-|t\-mo|to(pl|sh)|ts(70|m\-|m3|m5)|tx\-9|up(\.b|g1|si)|utst|v400|v750|veri|vi(rg|te)|vk(40|5[0-3]|\-v)|vm40|voda|vulc|vx(52|53|60|61|70|80|81|83|85|98)|w3c(\-| )|webc|whit|wi(g |nc|nw)|wmlb|wonu|x700|yas\-|your|zeto|zte\-/i.test(navigator.userAgent.substr(0,4))) {
            isMobile = true;
        }

        $( window ).scroll(function() {
//        if(isMobile == true){
//            scrolltop = this.scrollY;
//            if(scrolltop > 40){
//              $('.accordion-group').addClass("fix-search");
//            }
//            else{
//              $('.accordion-group').removeClass("fix-search");
//            }
//        }

        });
    });
</script>

<style type="text/css" media="screen">
    .btn_checkshop {
        font-size: 100%
    }
    .select2-container--default .select2-selection--single {
        border-left: 3px solid #aaa;
        margin-bottom: 5px;
        font-size: 12px;
    }
    .select2-container--default .select2-results>.select2-results__options{
        font-size: 12px;
    }
    .select2-container--default .select2-search--dropdown .select2-search__field{

        height:25px;
    }


    .input_search{
        width: 225px;
        height: 20px;
    }
    .search_shop_check{

        margin-top: 3px;
    }
    .paging{
        margin-bottom: 5px;
    }
    .table tr th{
        text-align: center;
        vertical-align: middle;
    }
    .table tr td{
        text-align: left;
        vertical-align: middle;
    }

    .fix-search{right: 0px;left: 0px;background: #FFF;position: fixed;top:51px;border-radius: 0px}
    .label-primary{
        background-color: #337ab7;
    }

    .content_layout .btn-group.open .dropdown-menu{
        right: -132px;
        padding: 10px;
    }

    .btn-group .btn:first-child{    margin-bottom: 5px;}
    /* #list_check{overflow-y: scroll;max-height: 500px} */
    #loading-image{
        position: absolute;
        width: 100%;
        height: 100%;
        z-index: 1000;
        background:  center no-repeat #fff;
        /*background: url(/photo/loading/Preloader_1.gif) center no-repeat #fff;*/
    }

    .modal {
        bottom: 10%;
    }
    .modal-body {
        max-height: max-content;
    }

</style>
<div class="content-layout">
    <div id="loading-image"></div>

    <div class="row">
        <div class="col-12 col-md-8 p-0" >
            <div class="table_main" style="margin-top: 7px;">
                <div class="header_tad">
                    <i class="icon-list-alt"></i> DANH SÁCH CHECK SHOP
                </div>
                <div class="content_tad">
                    <div class="content_content" style="min-height: 405px;">
                        <?php
                        if (isset($this->messages) and $this->messages)
                            foreach ($this->messages as $message):
                                echo '<div class="alert alert-error">'.$message.'</div>';
                            endforeach;

                        if (isset($this->messages_success) and $this->messages_success)
                            foreach ($this->messages_success as $message):
                                echo '<div class="alert alert-success">'.$message.'</div>';
                            endforeach;
                        ?>
                        <a href="/trade/check-shop-outside-list" class="btn btn-success">Check shop outside</a>

                        <!-- Khung search -->
                        <div class="accordion-group">
                            <div class="accordion-heading">
                                <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapseTwo">
                                    Search
                                </a>
                            </div>
                            <div id="collapseTwo" class="accordion-body collapse" style="height: 0px;">
                                <div class="accordion-inner">

                                    <form action="/trade/check-shop-list" method="get" enctype="multipart/form-data" autocomplete="off">

                                        <div class="control-group">
                                            <label class="control-label" for="name">Tên shop</label>
                                            <div class="controls">
                                                <input type="text" name="name_search" class="span3" id="name" placeholder="Nhập tên shop" value="<?php echo !empty($this->params['name_search']) ? $this->params['name_search'] : NULL;?>">
                                                <!--                                            <select class="form-control search_shop span3" name ="search_shop_check">
                                                 <option value="">--Tìm shop--</option>

                                                <?php foreach ( $this->store as $value): ?>
                                                  <?php if (isset($this->params['key_search']) && $this->params['key_search'] == $value['store_id']): ?>

                                                  <option  value ="<?php echo $value['store_id'] ?>" selected><?php echo $value['store_name'] ?></option>

                                                   <?php else: ?>

                                                  <option  value ="<?php echo $value['store_id'] ?>"><?php echo $value['store_name'] ?></option>

                                                <?php endif; endforeach; ?>

                                              </select>-->
                                            </div> <!-- /controls -->
                                        </div>

                                        <div class="control-group">
                                            <label class="control-label" for="name">Store ID</label>
                                            <div class="controls">
                                                <input type="number" name="store_id" class="span3" value="<?php echo $this->params['store_id'] ? $this->params['store_id'] : ''?>">
                                            </div> <!-- /controls -->
                                        </div>
<!--
                                        <div class="control-group">
                                            <label class="control-label">Kiểm tra Bàn trải nghiệm 3.0</label>
                                            <div class="controls">
                                                <select class="span3" name='status_error_btn' >
                                                    <option value="">--Chọn--</option>
                                                    <option value="1" <?php /*echo ($this->params['status_error_btn'] == 1 ? 'selected' : '')*/?> >Shop thuộc danh sách kiểm tra</option>
                                                    <option value="2" <?php /*echo ($this->params['status_error_btn'] == 2 ? 'selected' : '')*/?> >Shop đã kiểm tra</option>
                                                    <option value="3" <?php /*echo ($this->params['status_error_btn'] == 3 ? 'selected' : '')*/?> >Shop chưa kiểm tra</option>

                                                </select>
                                            </div>
                                        </div>-->



                                        <div class="control-group">
                                            <label class="control-label">Số lần check shop hợp lệ</label>
                                            <div class="controls">
                                                <select class="span3" name='legal_checkshop' >
                                                    <option value="">-- Chọn --</option>
                                                    <option value="1" <?php echo ($this->params['legal_checkshop'] == 1 ? 'selected' : '')?> >Đã check đủ</option>
                                                    <option value="2" <?php echo ($this->params['legal_checkshop'] == 2 ? 'selected' : '')?> >Chưa check đủ</option>

                                                </select>
                                            </div> <!-- /controls -->
                                        </div>


                                        <div class="control-group">
                                            <div class="controls">
                                                <input type="checkbox" value="1" name="error_image"> Shop có lỗi hình ảnh
                                            </div> <!-- /controls -->
                                        </div>

                                        <div class="control-group">
                                            <label class="control-label">Xác nhận số lượng:</label>
                                            <div class="controls">
                                                <select class="span3" name='is_lock'>
                                                    <option value="">-- Tất cả --</option>
                                                    <option value="1" <?php echo $this->params['is_lock'] == 1 ? 'selected' : ''; ?>>Đã xác nhận</option>
                                                    <option value="2" <?php echo $this->params['is_lock'] == 2 ? 'selected' : ''; ?>>Chưa xác nhận</option>
                                                </select>
                                            </div> <!-- /controls -->
                                        </div>


                                        <div class="control-group">
                                            <label class="control-label">Vùng</label>
                                            <div class="controls">
                                                <select class="span3" name='big_area_id' id='big_area_id'>
                                                    <option value="">-- Select --</option>
                                                    <?php foreach($this->listBigArea as $key=>$value):?>
                                                        <option value="<?php echo $value['id'];?>" <?php echo $this->params["big_area_id"] == $value['id'] ? "selected" : NULL;?>><?php echo $value['name'];?></option>
                                                    <?php endforeach;?>
                                                </select>
                                            </div> <!-- /controls -->
                                        </div>

                                        <div class="control-group">
                                            <label class="control-label">Khu vực</label>
                                            <div class="controls">
                                                <select class="span3" name='area_id' id='area_id'>
                                                    <option value="">-- Chọn --</option>
                                                    <?php foreach($this->area as $key=>$value):?>
                                                        <option value="<?php echo $key;?>" <?php echo $this->params["area_id"] == $key ? "selected" : NULL;?>><?php echo $value;?></option>
                                                    <?php endforeach;?>
                                                </select>
                                            </div> <!-- /controls -->
                                        </div>

                                        <div class="control-group">
                                            <label class="control-label">Tỉnh</label>
                                            <div class="controls">
                                                <select class="span3" name='regional_market' id='regional_market'>
                                                    <option value="">-- Chọn --</option>
                                                    <?php
                                                    if ($this->regional_markets) :
                                                        foreach ($this->regional_markets as $regional_market):?>
                                                            <option value="<?php echo $regional_market->id;?>" <?php if (isset($this->params['regional_market']) and $this->params['regional_market']==$regional_market->id):?>selected<?php endif;?>><?php echo $regional_market->name;?></option>
                                                        <?php
                                                        endforeach;
                                                    endif;
                                                    ?>
                                                </select>
                                            </div> <!-- /controls -->
                                        </div>

                                        <div class="control-group">
                                            <label class="control-label">Huyện</label>
                                            <div class="controls">
                                                <select class="span3" name='district' id='district'>
                                                    <option value="">-- Chọn --</option>
                                                    <?php
                                                    if ($this->districts) :
                                                        foreach ($this->districts as $regional_market):?>
                                                            <option value="<?php echo $regional_market->id;?>" <?php if (isset($this->params['district']) and $this->params['district']==$regional_market->id):?>selected<?php endif;?>><?php echo $regional_market->name;?></option>
                                                        <?php
                                                        endforeach;
                                                    endif;
                                                    ?>
                                                </select>
                                            </div> <!-- /controls -->
                                        </div>


                                        <div class="control-group">
                                            <label class="control-label">Trade Local:</label>
                                            <div class="controls">
                                                <select class="span3" name='trade_local_id' id='trade_local_id'>
                                                    <option value="">-- Chọn --</option>
                                                </select>
                                            </div> <!-- /controls -->
                                        </div>

                                        <div class="control-group">
                                            <label class="control-label">Sales:</label>
                                            <div class="controls">
                                                <select class="span3" name='staff_id' id='staff_id'>
                                                    <option value="">-- Chọn --</option>
                                                </select>
                                            </div> <!-- /controls -->
                                        </div>

                                        <div class="control-group">
                                            <label class="control-label">Channel</label>
                                            <div class="controls">
                                                <select class="span3" name='is_ka' id='is_ka'>
                                                    <option value="">-- Chọn --</option>
                                                    <option value="0" <?php echo (isset($this->params['is_ka']) AND $this->params['is_ka'] === "0") ? 'selected' : NULL;?>>IA</option>
                                                    <option value="1" <?php echo (isset($this->params['is_ka']) AND $this->params['is_ka'] == 1) ? 'selected' : NULL;?>>KA</option>
                                                    <option value="2" <?php echo (isset($this->params['is_ka']) AND $this->params['is_ka'] == 2) ? 'selected' : NULL;?>>OTHER</option>
                                                </select>
                                            </div> <!-- /controls -->
                                        </div>

                                        <div class="control-group">
                                            <label class="control-label">Level</label>
                                            <div class="controls">
                                                <select class="span3" name='is_ka_details' id='is_ka_details'>
                                                    <option value="">-- Chọn --</option>
                                                </select>
                                            </div> <!-- /controls -->
                                        </div>



                                        <div class="control-group">
                                            <label class="control-label" for="name">Từ ngày</label>
                                            <div class="controls">
                                                <input type="text" name="from_date" class="span3 date" id="from_date" value="<?php echo !empty($this->params['from_date']) ? $this->params['from_date'] : NULL;?>" readonly>
                                            </div> <!-- /controls -->
                                        </div>

                                        <div class="control-group">
                                            <label class="control-label" for="name">Đến ngày</label>
                                            <div class="controls">
                                                <input type="text" name="to_date" class="span3 date" id="to_date" value="<?php echo !empty($this->params['to_date']) ? $this->params['to_date'] : NULL;?>" readonly>
                                            </div> <!-- /controls -->
                                        </div>

                                        <div class="control-group">
                                            <label class="control-label"><b>Kết quả đánh giá Oppo</b></label>
                                            <div class="controls">
                                                <select class="span2 multiselect" name='checkshop_qc_selectbox[]' id='checkshop_qc_selectbox' multiple="multiple">
                                                    <option value="">-- Chọn --</option>
                                                    <?php foreach($this->list_checkshop_qc as $key=>$value):?>
                                                        <option value="<?php echo $key;?>" <?php echo in_array($key, $this->params["checkshop_qc_selectbox"]) ? "selected" : NULL;?>><?php echo $value;?></option>
                                                    <?php endforeach;?>
                                                </select>

                                                <select class="span2" name="type_qc">
                                                    <option value="">-- Chọn --</option>
                                                    <option value='1' <?php echo $this->params['type_qc'] == 1 ? 'selected' : NULL; ?>>TMK Local</option>
                                                    <option value='2' <?php echo $this->params['type_qc'] == 2 ? 'selected' : NULL; ?>>TMK Leader</option>
                                                    <option value='3' <?php echo $this->params['type_qc'] == 3 ? 'selected' : NULL; ?>>QC</option>
                                                </select>

                                                <select class="span1" name="month">
                                                    <option value="">-- Chọn --</option>
                                                    <?php for($i=1;$i<=12;$i++):?>
                                                        <option value="<?php echo $i?>" <?php echo $this->params['month'] == $i ? 'selected' : NULL;?>><?php echo $i;?></option>
                                                    <?php endfor;?>
                                                </select>

                                                <select class="span1" name="year">
                                                    <option value="">-- Chọn --</option>
                                                    <option value="2018" <?php echo $this->params['year'] == 2018 ? 'selected' : NULL;?>>2018</option>
                                                    <option value="2019" <?php echo $this->params['year'] == 2019 ? 'selected' : NULL;?>>2019</option>
                                                    <option value="2020" <?php echo $this->params['year'] == 2020 ? 'selected' : NULL;?>>2020</option>
                                                </select>

                                            </div>
                                        </div>




                                        <div class="control-group">
                                            <label class="control-label">Đợt kiểm tra POSM</label>
                                            <div class="controls">
                                                <select class="span3" name='check_posm_stage_id' >
                                                    <option value="">-- Chọn --</option>
                                                    <?php foreach ($this->list_check_posm_stage as $posm_stage) : ?>
                                                        <option
                                                                value="<?php echo $posm_stage['id']; ?>"
                                                            <?php echo $this->params['check_posm_stage_id'] == $posm_stage['id'] ? 'selected' : ''; ?>
                                                        >
                                                            <?php echo $posm_stage['name']; ?>
                                                        </option>
                                                    <?php endforeach; ?>
                                                </select>
                                            </div> <!-- /controls -->
                                        </div>


                                        <div class="control-group">
                                            <label class="control-label">Đợt thay tranh</label>
                                            <div class="controls">
                                                <select class="span3" name='change_picture_stage_id' >
                                                    <option value="">-- Chọn --</option>
                                                    <?php foreach ($this->list_change_picture_stage as $change_picture_stage) : ?>
                                                        <option
                                                                value="<?php echo $change_picture_stage['id']; ?>"
                                                            <?php echo $this->params['change_picture_stage_id'] == $change_picture_stage['id'] ? 'selected' : ''; ?>
                                                        >
                                                            <?php echo $change_picture_stage['name']; ?>
                                                        </option>
                                                    <?php endforeach; ?>
                                                </select>
                                            </div> <!-- /controls -->
                                        </div>

                                        <?php if($this->storage['staff_id'] != 14682):?>
                                            <input class="btn btn-success" type="submit" name="submit" value="Tìm">
                                            <input class="btn btn-success" type="submit" name="submit" value="Export">

                                            <?php if (! $this->params['is_staff_realme']) : ?>

                                                <input class="btn btn-success" type="submit" name="submit" value="Export Time">
                                                <input class="btn btn-success" type="submit" name="export_legal_checkshop" value="Export Count Checkshop">
                                                <input class="btn btn-success" type="submit" name="submit" value="Export QC">
                                                <input class="btn btn-success" type="submit" name="submit" value="Export Outside">
                                                <br><br>
<!--                                                <input class="btn btn-danger" type="submit" name="export_temp_stop" value="Export shop tạm đóng">-->
                                                <input class="btn btn-danger" type="submit" name="export_flash_sale" value="Export DEMO">

                                            <?php endif; ?>

                                            <?php if($_GET['sev'] == 2):?>
                                                <input class="btn btn-success" type="submit" name="submit" value="Export QC New">
                                                <input class="btn btn-success" type="submit" name="submit" value="Export Dealer">
                                            <?php endif;?>

                                            <input class="btn btn-danger" type="submit" name="export_shop_size" value="Export shop size">

                                            <input class="btn btn-info" type="submit" name="export_error_btn" value="Export Lỗi BTN 3.0">
                                            <input class="btn btn-warning" type="button" name="submit" id="reset" value="Reset">


                                        <?php else:?>
                                            <input class="btn btn-danger" type="submit" name="export_shop_size" value="Export shop size">



                                        <?php endif;?>

                                    </form>
                                </div>


                            </div>
                        </div>
                        <!-- END Khung search -->

                        <table class="table">
                            <tbody>
                            <tr>
                                <th style="width: 10%">Store ID</th>
                                <th style="width: 70%">Tên Shop</th>
                                <th style="width: 10%">Last</th>
                                <th>Action</th>
                            </tr>
                            <?php foreach ($this->list as $key => $value): ?>
                                <?php $inc = $this->offset + $key + 1;?>
                                <tr>
                                    <td>
                                        <p><?php echo $value['store_id'];?></p>
                                        <p>
                                            <label style="font-size:70%" class="label label-default" >Sales</label>
                                            <?php if ($value['store_done_checkshop']): ?>
                                                <b style="color: #2aad6f"><?php echo $value['count_legal_checkshop']; ?>/2</b>
                                            <?php else: ?>
                                                <b style="color: orangered"><?php echo $value['count_legal_checkshop'] ? $value['count_legal_checkshop'] : 0; ?>/2</b>
                                            <?php endif; ?>
                                        </p>
                                        
                                        <p >
                                            <label style="font-size:70%" class="label label-default">TMK</label>
                                            <b style="color: blue"><?php echo $value['count_legal_checkshop_trade_local'] ? $value['count_legal_checkshop_trade_local'] : 0; ?></b>
                                        </p>
                                    </td>
                                    <td>
                                        <a href="/trade/view-checkshop?id=<?php echo $value['checkshop_id']; ?>&check_posm_stage_id=<?php echo $this->params['check_posm_stage_id']; ?>&change_picture_stage_id=<?php echo $this->params['change_picture_stage_id']; ?>">
                                            <?php echo $value['store_name'];?>
                                        </a>
                                        <br>
                                        <?php if($value['is_lock'] == 1):?>
                                            <a class="label label-info pull-left">TMK Đã xác nhận</a><br>
                                        <?php endif;?>

                                        <!--                                            --><?php //if($value['is_leader_lock'] == 1):?>
                                        <!--                                            <a class="label label-info pull-left">Leader Đã xác nhận</a><br>-->
                                        <!--                                            --><?php //endif;?>

                                        <?php if(!empty($this->result_qc[$value['store_id']]) ):?>

                                            <?php foreach($this->result_qc[$value['store_id']] as $k=>$v):?>

                                                <?php if($v == 1):?>
                                                    <a class="label label-warning pull-left">TMK Local đã đánh giá</a><br>
                                                <?php endif;?>

                                                <?php if($v == 2):?>
                                                    <a class="label label-warning pull-left">TMK Leader đã đánh giá</a><br>
                                                <?php endif;?>

                                                <?php if($v == 3):?>
                                                    <a class="label label-success pull-left">QC đã đánh giá</a><br>
                                                <?php endif;?>

                                            <?php endforeach;?>

                                        <?php endif;?>


                                        <?php if(((!empty($value['eligible']) AND $value['eligible'] <= 3) OR $value['eligible'] == 0) AND !empty($this->params['month_eligible']) AND !empty($this->params['year_eligible'])):?>
                                            <!--                                            <i class="icon icon-ban-circle pull-left" style='color:red'></i>-->
                                        <?php endif;?>

                                        <?php if ($value['error_image'] == 1) : ?>
                                            <i class="icon icon-exclamation-sign" style="color: red"> Lỗi hình ảnh</i>
                                        <?php endif; ?>

                                        <?php if ($value['is_repair'] == 1) : ?>
                                            <br>
                                            <i class="icon icon-ok" style="color: orangered"> Đã sửa lỗi hình ảnh</i>
                                        <?php endif; ?>


                                        <!--Thống kê shop tạm đóng cửa mùa dịch corona -->
                                        <?php if (($value['is_ka'] == 1 || $value['loyalty_plan_id']) AND 1 == 0)  : ?>
                                            <div class="container_temp_stop">
                                                <div>
                                                    <input class="temp_stop" type="radio" name="temp_stop<?php echo $value['store_id']?>" value="1" <?php echo $value['store_temp_stop'] == 1 ? 'checked' : ''; ?>> Shop đã tạm đóng
                                                </div>
                                                <div>
                                                    <input class="temp_stop" type="radio" name="temp_stop<?php echo $value['store_id']?>" value="2" <?php echo $value['store_temp_stop'] == 2 ? 'checked' : ''; ?>> Shop đã rút demo
                                                </div>
                                                <div>
                                                    <input class="temp_stop" type="radio" name="temp_stop<?php echo $value['store_id']?>" value="3" <?php echo $value['store_temp_stop'] == 3 ? 'checked' : ''; ?>> Shop đã trở lại hoạt động
                                                </div>

                                                <button store_id="<?php echo $value['store_id']; ?>" style="font-size:10px;" class="btn btn-primary btn_temp_stop">Save</button>
                                            </div>
                                        <?php endif; ?>
                                        <!--Thống kê shop tạm đóng cửa mùa dịch corona -->


                                        <!-- Chương trình FlashSale tháng 5 -->
                                        <?php if (($value['is_ka'] == 1 || $value['loyalty_plan_id']) OR 1 == 1)  : ?>
                                            <?php $store_flash_sale = explode(',', $value['store_flash_sale']);?>
                                            <div class="container_temp_stop">
                                                <?php foreach($this->flash_sale as $flash_sale):?>
                                                    <div>
                                                        <input class="flash_sale<?php echo $value['store_id']?>" type="radio" id="flash_sale" name="flash_sale<?php echo $value['store_id']?>" value="<?php echo $flash_sale['id'];?>" <?php echo (in_array($flash_sale['id'], $store_flash_sale)) ? 'checked' : NULL;?>> <?php echo $flash_sale['title'];?>
                                                    </div>
                                                <?php endforeach;?>
                                                
                                                <?php if (count($this->flash_sale) > 0): ?>
                                                    <button store_id="<?php echo $value['store_id']; ?>" style="font-size:10px;" class="btn btn-primary btn_flash_sale">Save</button>
                                                <?php endif; ?>

                                            </div>
                                        <?php endif; ?>
                                        <!-- END Chương trình FlashSale tháng 5 -->

                                    </td>
                                    <td>

                                        <?php if($value['checkshop_last']):?>

                                            <a href='#list_check' class="list-check" id="a_action" val="<?php echo $value['store_id'];?>" check_posm_stage_id="<?php echo $this->params['check_posm_stage_id']; ?>">
                                                <?php echo date('d/m/Y', strtotime($value['checkshop_last']));?>
                                            </a>

                                        <?php endif;?>

                                    </td>
                                    <td>
                                        <a class="btn btn_checkshop" href='/trade/create-checkshop?id=<?php echo $value['store_id'];?>'>Checkshop</a>
                                    </td>
                                </tr>
                            <?php endforeach; ?>
                            </tbody>
                        </table>

                        <div class="paging" style="height:80px;">
                            <?php echo $this->paging($this->total, $this->limit, $this->offset, $this->url, NULL, 5);?>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Popup -->
<div id="list_check" class="modal hide" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-header p-2 d-block">
        <h3 id="myModalLabel">History Check-Shop</h3>
    </div>
    <div class="modal-body p-0">
        <div class="control-group content_modal">
            <div class="list-history" style="text-align: center;">
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <button class="btn btn_close" data-dismiss="modal" aria-hidden="true">Close</button>
    </div>
</div>
<!-- Popup -->

<script type="text/javascript" src="<?php echo HOST ?>js/bootstrap-multiselect.js"></script>
<link rel="stylesheet" href="<?php echo HOST ?>css/bootstrap-multiselect.css" type="text/css"/>

<script type="text/javascript" src="/js/jquery-ui-1.8.12.custom.min.js"></script>
<link rel="stylesheet" type="text/css" href="/css/jquery-ui-1.8.12.custom.css"/>
<link rel="stylesheet" type="text/css" href="<?php echo HOST ?>css/select2.min.css">
<script type="text/javascript" src="<?php echo HOST ?>js/select2.min.js"></script>
<script type="text/javascript" src="/js/sweetalert2.all.min.js"></script>
<script type="text/javascript" src="/js/bootstrap-datetimepicker.min.js"></script>
<link rel="stylesheet" type="text/css" href="/css/bootstrap-datetimepicker.min.css"/>

<script type="text/javascript">

    options = {
        selectAllText: 'Select All',
        includeSelectAllOption: true,
        includeSelectAllIfMoreThan: 3,
        disableIfEmpty: true
    };

    $(document).ready(function () {
        $('[data-toggle="tooltip"]').tooltip();
        $( '.date' ).datepicker({ dateFormat: "yy-mm-dd" });
        $('.time_sellout').datetimepicker({
            weekStart: 1,
            clear: true,
            minView: 3,
            startView: 3,
            minViewMode: 3,
            autoclose: true,
            format: 'mm/yyyy'
        });

        $('.multiselect').multiselect(options);

        // thống kê shop tạm ngưng hoạt động corona
        $('.btn_temp_stop').click(function () {
            var store_id = $(this).attr('store_id');
            var status = $(this).parents('.container_temp_stop').find('.temp_stop:checked').val();
            $.ajax({
                url: '/trade/save-store-temp-stop',
                type: 'post',
                data: {
                    store_id: store_id,
                    status: status
                },
                dataType: 'json',
                success: function (data) {
                    if (data.status === 0) {
                        Swal.fire({
                            type: 'success',
                            title: '',
                            showConfirmButton: false,
                            timer: 700
                        });
                    } else {
                        Swal.fire({
                            type: 'warning',
                            title: data.message,
                            showConfirmButton: false,
                            timer: 1500
                        });
                    }
                }
            });

        });
        //

        // Flash sale
        $('.btn_flash_sale').click(function () {
            var store_id = $(this).attr('store_id');
            var ids = [];
            $('.flash_sale'+store_id+':checked').each(function(i, e) {
                ids.push($(this).val());
            });
            console.log(ids);

            $.ajax({
                url: '/trade/save-flash-sale',
                type: 'post',
                data: {
                    store_id: store_id,
                    ids: ids
                },
                dataType: 'json',
                success: function (data) {
                    if (data.status === 0) {
                        Swal.fire({
                            type: 'success',
                            title: '',
                            showConfirmButton: false,
                            timer: 700
                        });
                    } else {
                        Swal.fire({
                            type: 'warning',
                            title: data.message,
                            showConfirmButton: false,
                            timer: 1500
                        });
                    }
                }
            });

        });
        //

    });
</script>

<script>
    $(window).on('load', function() {
        // Animate loader off screen
        $("#loading-image").fadeOut("slow");
    });

    $(document).ready(function(){
        $('.search_shop').select2();
        function convertdate(date,delimiter){
            date_arr = date.split(" ");
            dddd = date_arr[0].split("-");
            return dddd[2]+delimiter+dddd[1]+delimiter+dddd[0]+" "+date_arr[1];





        }
        $(document).on('click', "#reset", function() {
            $('#name').val('');
            $('#from_date').val('');
            $('#to_date').val('');
        });

        $(document).on('click', "#a_action", function() {
            $("#list_check").modal();
            $('.list-history').empty();
            var id_store = $(this).attr('val');
            var from_date = $('#from_date').val();
            var to_date = $('#to_date').val();
            var check_posm_stage_id = $(this).attr('check_posm_stage_id');
            $.ajax({
                url: "<?php echo HOST;?>trade/ajax-quotation",
                type: "GET",
                dataType: "text",
                context: this,
                data: "id_store="+id_store+"&from_date="+from_date+"&to_date="+to_date,
                beforeSend: function() {
                    $(".loading").show();
                },
                success: function(result){
                    if(result)
                    {
                        var data = jQuery.parseJSON(result);

                        level = data.level;
                        sellout = data.sellout;
                        sale_log = data.sale_log;
                        data = data.list_checkshop;


                        shop_name ='<h4 id="myModalLabel" style="color:red;text-align:center;"><i class="icon icon-home"></i> '+data[0].store_name+'</h4>\
                                <h5 id="shopname" style="color:#2AAD6F; text-align:center;"><i class="icon icon-map-marker"></i> '+data[0].shipping_address+'</h5>\
                                <h5 id="shopname" style="color:#2AAD6F; text-align:center;"><i class="icon icon-tags"></i> '+data[0].district_name+' - '+data[0].area_name+'</h5>\
                                <h4 id="myModalLabel" style="color:#000;text-align:center;"><i class="icon icon-user"></i> SALE phụ trách '+sale_log+'</h4><br>';

                        console.log(sellout);

                        shop_name = shop_name+'<table class="table">';
                        if(sellout.length > 0){
                            for(i = 0;i < sellout.length; i++){
                                shop_name = shop_name+'<tr>';
                                shop_name = shop_name+'<td>THÁNG: '+sellout[i].month+'</td>';
                                shop_name = shop_name+'<td>SELLOUT: '+sellout[i].number_imei+'</td>';
                                shop_name = shop_name+'<td>LEVEL: '+sellout[i].level+'</td>';
                                shop_name = shop_name+'</tr>';
                            }
                        }
                        else{
                            shop_name = shop_name+'<tr>';
                            shop_name = shop_name+'<td></td>';
                            shop_name = shop_name+'<td></td>';
                            shop_name = shop_name+'<td>LEVEL: '+level+'</td>';
                            shop_name = shop_name+'</tr>';
                        }

                        shop_name = shop_name+'</table>';

                        $('.modal-header').html(shop_name);
                        date_check='';
                        for(i = 0;i < data.length; i++){

                            key = '';
                            if(data[i].is_lock == 1){
                                key = '<i class="icon icon-key" style="color:red"></i>';
                            }

                            key_leader = '';
                            if(data[i].is_leader_lock == 1){
                                key_leader = '<i class="icon icon-key" style="color:black"></i>';
                            }

                            date_check += '<tr>\
                                        <td><b>'+convertdate(data[i].updated_at,'/')+'</b> '+key+' <br> NV check shop: '+data[i].created_by+'</td>\
                                         <td><a href="/trade/view-checkshop?id='+data[i].id+'&check_posm_stage_id='+check_posm_stage_id+'"><i class="icon-hand-right"></a></i></td>\
                                        </tr>';
                        }

                        list = '<table class="table" >\
                               <tr>\
                                   <th>Ngày check shop</th>\
                                    <th>Xem</th>\
                                </tr>\
                               '+date_check+'\
                              </table>';
                        $('.list-history').html(list);
                    }
                    else
                    {

                    }
                },
                error:function(){

                }
            });

        });

        $(document).ready(function () {
            area_change();
            area_init_change();
            is_ka_change();
            init_is_ka_change();
        });

        var area_list = <?php echo json_encode($this->list_sale);?>; // sales
        var area_list_trade_local = <?php echo json_encode($this->list_trade_local);?>; // trade_local
        var list_channel = <?php echo json_encode($this->list_channel);?>;

        function area_change(){
            $("#area_id").change(function(){
                var area_id = $(this).val();


                $('#staff_id').find('option').remove().end().append('<option value="">--Select--</option>').val(''); // sales
                $('#trade_local_id').find('option').remove().end().append('<option value="">--Select--</option>').val(''); // trade local

                //sales
                area = area_list[area_id];
                for(var i=0;i< area.length;i++){
                    $("#staff_id").append('<option value='+area[i]['staff_id']+'>'+area[i]['fullname']+'</option>');
                }
                //trade local
                area_trade_local = area_list_trade_local[area_id];
                for(var i=0;i< area_trade_local.length;i++){
                    $("#trade_local_id").append('<option value='+area_trade_local[i]['staff_id']+'>'+area_trade_local[i]['fullname']+'</option>');
                }


            });
        }

        function area_init_change(){
            var area_id = $("#area_id").val();
            var staff_id = <?php echo $_GET['staff_id'] ? $_GET['staff_id'] : 0;?>;
            var trade_local_id = <?php echo $_GET['trade_local_id'] ? $_GET['trade_local_id'] : 0;?>;

            // sales
            $('#staff_id').find('option').remove().end().append('<option value="">--Select--</option>').val('');
            $('#trade_local_id').find('option').remove().end().append('<option value="">--Select--</option>').val('');

            if(area_id){
                area = area_list[area_id];
                area_trade_local = area_list_trade_local[area_id];
                for(var i=0;i< area.length;i++){
                    // sales
                    if(staff_id == area[i]['staff_id']){
                        $("#staff_id").append('<option value='+area[i]['staff_id']+' selected>'+area[i]['fullname']+'</option>');
                    }
                    else{
                        $("#staff_id").append('<option value='+area[i]['staff_id']+'>'+area[i]['fullname']+'</option>');
                    }
                }



                for(var i=0;i< area_trade_local.length;i++){
                    // sales
                    if(trade_local_id == area_trade_local[i]['staff_id']){
                        $("#trade_local_id").append('<option value='+area_trade_local[i]['staff_id']+' selected>'+area_trade_local[i]['fullname']+'</option>');
                    }
                    else{
                        $("#trade_local_id").append('<option value='+area_trade_local[i]['staff_id']+'>'+area_trade_local[i]['fullname']+'</option>');
                    }
                }

            }
        }

        function is_ka_change(){
            $("#is_ka").change(function(){
                var is_ka = $(this).val();

                $('#is_ka_details').find('option').remove().end().append('<option value="">--Select--</option>').val('');

                list_channel_details = list_channel[is_ka];
                for(var i=0;i< list_channel_details.length;i++){
                    $("#is_ka_details").append('<option value='+list_channel_details[i]['id']+'>'+list_channel_details[i]['title']+'</option>');
                }


            });
        }

        function init_is_ka_change(){

            var is_ka = $('#is_ka').val();

            var is_ka_details = <?php echo $_GET['is_ka_details'] ? $_GET['is_ka_details'] : 0;?>;

            if(is_ka){
                $('#is_ka_details').find('option').remove().end().append('<option value="">--Select--</option>').val('');

                list_channel_details = list_channel[is_ka];
                for(var i=0;i< list_channel_details.length;i++){
                    if(is_ka_details == list_channel_details[i]['id']){
                        $("#is_ka_details").append('<option value='+list_channel_details[i]['id']+' selected>'+list_channel_details[i]['title']+'</option>');
                    }{
                        $("#is_ka_details").append('<option value='+list_channel_details[i]['id']+'>'+list_channel_details[i]['title']+'</option>');
                    }

                }
            }
        };




    });
</script>


<script>

    $(document).ready(function () {
        //initSearchOption();

        $('#area_id').change(function(){
            $(this).after('<span class="loading"></span>');
            var _self = $(this);
            var area_id = $(this).val();
            $.get("/ajax/load-province",
                {area_id: area_id}
                ,function(data,status){
                    var obj = $.parseJSON( data );
                    $('#regional_market').find('option:not(:first)').remove();
                    for (var i = 0; i < obj.length; i++) {
                        $('#regional_market').append('<option value="'+obj[i]['id']+'">'+obj[i]['name']+'</option>');
                    }
                    _self.nextAll('.loading').remove();
                });
        });

        $('#regional_market').change(function(){
            $('form').bind('submit',function(e){e.preventDefault();});
            $('form button, form input, form select').prop('disabled', true);
            $('.loading').remove();

            $(this).after('<span class="loading"></span>');
            var _self = $(this);
            var region = $(this).val();
            $.post("/ajax/get-district-cbb", {
                    region: region
                }
                ,function(data,status){
                    $('#district').find('option:not(:first)').remove();

                    try {
                        if (data) {
                            var obj = $.parseJSON( data );

                            for (var i = 0; i < obj.length; i++) {
                                $('#district').append('<option value="'+obj[i]['id']+'">'+obj[i]['name']+'</option>');
                            }
                        }

                    } catch(err) {

                    } finally {
                        $('.loading').remove();
                        $('form').unbind('submit');
                        $('form button, form input, form select').prop('disabled', false);
                    }
                });
        });

    });
</script>
