<style>
    span {
        font-size:1em;
    }
    #loading-image{
        position: absolute;
        width: 100%;
        height: 55%;
        z-index: 1000;
        background:  center no-repeat #fff;
        /*background: url(/photo/loading/Preloader_1.gif) center no-repeat #fff;*/
    }
    .dropdown-menu {
        margin-left: 105px;
    }
    @media (max-width: 600px){
        .dropdown-menu {
            width: auto;
        }
        .dropdown-menu {
            margin-left: 0px;
        }
    }
</style>
<div class="container" ng-app="app" ng-controller="appController">
    <div class="content-layout">
        <div id="loading-image"></div>



        <div class="row">

            <div class="col-12 col-md-8 p-0">
                <div class="table_main" style="margin-top: 7px;">
                    <div class="header_tad">
                        <i class="icon-list-alt"></i> DANH SÁCH KHO

                    </div>

                        <div class="accordion-group">

                        <div class="accordion-heading">
                            <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapseTwo">
                                Export
                            </a>
                        </div>

                        <div id="collapseTwo" class="accordion-body collapse" style="height: 0px;">
                            <div class="accordion-inner">
                                <form action="/trade/check-inventory-list" method="post">

                                <div class="control-group">
                                    <label class="control-label" for="name">Khu vực</label>
                                    <div class="controls">
                                        <select name="area_id" >
                                            <option value="">-Chọn-</option>
                                            <?php foreach ($this->listArea as $area): ?>
                                                <option value="<?php echo $area['id']?>"
                                                    <?php echo $this->params['area_id'] == $area['id'] ? 'selected' : ''?>
                                                >
                                                    <?php echo $area['name']; ?>
                                                </option>
                                            <?php endforeach; ?>
                                        </select>
                                    </div> <!-- /controls -->
                                </div>

                                <div class="control-group">
                                    <label class="control-label" for="name">Từ ngày</label>
                                    <div class="controls">
                                        <input type="text" name="from_date" class="span3 date" id="from_date" value="<?php echo !empty($this->params['from_date']) ? $this->params['from_date'] : NULL;?>" readonly>
                                    </div> <!-- /controls -->
                                </div>

                                <div class="control-group">
                                    <label class="control-label" for="name">Đến ngày</label>
                                    <div class="controls">
                                        <input type="text" name="to_date" class="span3 date" id="to_date" value="<?php echo !empty($this->params['to_date']) ? $this->params['to_date'] : NULL;?>" readonly>
                                    </div> <!-- /controls -->
                                </div>

                                <button class="btn btn-warning" name="export" value="1">Export</button>
                                </form>
                             </div>
                        </div>
                        </div>

                    <div class="content_tad">

                        <div class="content_content" style="min-height: 405px;">

                            <table class='table'>
                                <thead>
                                <tr>
                                    <th>Khu vực</th>
                                    <th>Action</th>
                                </tr>
                                </thead>
                                <tbody>
                                    <?php foreach ($this->listArea as $area) :?>
                                        <tr>
                                            <td><?php echo $area['name']; ?></td>
                                            <td>
                                                <div class="dropdown" style="text-align: center">

                                                    <?php if ($area['id'] == 65) : ?>
                                                        <a class="btn btn-warning" href="/trade/check-inventory-posm-view?area_id=<?php echo $area['id']; ?>">Xem kho</a>
                                                    <?php else : ?>
                                                        <button class="btn dropdown-toggle" type="button" data-toggle="dropdown">Action
                                                            <span class="caret"></span></button>
                                                        <ul class="dropdown-menu">
                                                            <!--                                                        <li>-->
                                                            <!--                                                            <a style="color: white; font-size:12px" class="btn btn-primary" href="/trade/check-inventory-view?area_id=--><?php //echo $area['id']; ?><!--"><i class="icon icon-eye-open"></i> Xem hạng mục đầu tư</a>-->
                                                            <!--                                                        </li>-->
                                                            <li>
                                                                <a style="color: white; font-size:12px" class="btn btn-primary" href="/trade/check-inventory-view?area_id=<?php echo $area['id']; ?>">HẠNG MỤC ĐẦU TƯ</a>
                                                            </li>

                                                            <!--                                                        <li>-->
                                                            <!--                                                            <a style="font-size:12px" class="btn btn-primary" href="/trade/check-inventory-posm-view?area_id=--><?php //echo $area['id']; ?><!--"><i class="icon icon-eye-open"></i> Xem POSM</a>-->
                                                            <!--                                                        </li>-->
                                                            <li>
                                                                <a style="color: white; font-size:12px" class="btn btn-primary" href="/trade/check-inventory-posm-view?area_id=<?php echo $area['id']; ?>">POSM</a>
                                                            </li>


                                                        </ul>
                                                    <?php endif; ?>

                                                </div>
                                            </td>
                                        </tr>
                                    <?php endforeach; ?>
                                <tr>
                                    <td><br><br><br></td>
                                    <td></td>
                                </tr>
                                </tbody>

                            </table>



                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="paging">
        <?php echo $this->paging($this->total, $this->limit, $this->offset, $this->url);?>
    </div>
    <!-- Modal -->
    <div id="myModal" class="modal fade" role="dialog" >
        <div class="modal-dialog modal-sm">

            <!-- Modal content-->
            <div class="modal-content" >
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">Lịch sử recheck shop</h4>
                </div>
                <div class="modal-body">
                    <table class="table">
                        <thead>
                        <tr>
                            <th>Thời gian</th>
                            <th>Action</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr ng-repeat="history in listHistory">
                            <td>{{history.created_at}}</td>
                            <td><a href="/trade/view-recheck-shop?recheck_shop_id={{history.id}}">Xem</a></td>
                        </tr>
                        </tbody>
                    </table>
                </div>
                <!--            <div class="modal-footer">-->
                <!--                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>-->
                <!--            </div>-->
            </div>

        </div>
    </div>
</div>
<script type="text/javascript" src="/js/jquery-ui-1.8.12.custom.min.js"></script>
<link rel="stylesheet" type="text/css" href="/css/jquery-ui-1.8.12.custom.css"/>
<link rel="stylesheet" type="text/css" href="<?php echo HOST ?>css/select2.min.css">
<script type="text/javascript" src="<?php echo HOST ?>js/select2.min.js"></script>
<script src="/js/angular.min.js"></script>


<script>
    $(window).on('load', function() {
        // Animate loader off screen
        $("#loading-image").fadeOut("slow");
    });

    $( '.date' ).datepicker({ dateFormat: "yy-mm-dd" });


</script>

