<style>
    span {
        font-size:1em;
    }
    #loading-image{
        position: absolute;
        width: 100%;
        height: 55%;
        z-index: 1000;
        background:  center no-repeat #fff;
        /*background: url(/photo/loading/Preloader_1.gif) center no-repeat #fff;*/
    }
    .content_tad table tr td {
        text-align: center;
        vertical-align: middle;
    }
    @media screen and (max-width: 480px) {
        .pagination a {
            padding: 0 8px;
        }
    }
</style>
<div class="container-fluid" ng-app="app" ng-controller="appController">
    <div class="content-layout">
        <div id="loading-image"></div>

        <div class="row">

            <div class="col-12 col-md-8 p-0">


                <div class="table_main" style="margin-top: 7px;">
                    <div class="header_tad">
                        <i class="icon-list-alt"></i> CHECK SHOP TMK LOCAL

                    </div>

                    <div class="content_tad">
                        <a class="btn btn-warning" href="/trade/check-shop-entire-statistic">Xem thống kê <i class="icon icon-circle-arrow-right"></i></a><br><br>
                        <div class="content_content" style="min-height: 405px;">
                            <!-- Khung search -->
                            <div class="accordion-group">
                                <div class="accordion-heading">
                                    <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapseTwo">
                                        Search
                                    </a>
                                </div>
                                <div id="collapseTwo" class="accordion-body collapse" style="height: 0px;">
                                    <div class="accordion-inner">

                                        <form action="/trade/check-shop-entire-list" method="get" enctype="multipart/form-data" autocomplete="off">

                                            <div class="control-group">
                                                <label class="control-label" for="name">Tên Shop:</label>
                                                <div class="controls">
                                                    <input type="text" name="store_name" value="<?php echo $this->params['store_name'] ? $this->params['store_name'] : ''; ?>">
                                                </div> <!-- /controls -->
                                            </div>

                                            <div class="control-group">
                                                <label class="control-label" for="name">ID Shop:</label>
                                                <div class="controls">
                                                    <input type="text" name="store_id" value="<?php echo $this->params['store_id'] ? $this->params['store_id'] : ''; ?>">
                                                </div> <!-- /controls -->
                                            </div>

                                            <div class="control-group">
                                                <label class="control-label" for="name">Khu vực:</label>
                                                <div class="controls" id="div_area">
                                                    <select name="area_id" class="area" id="area_id">
                                                        <option value="">--Chọn khu vực--</option>
                                                        <?php foreach ($this->list_area as $area) : ?>
                                                            <option value="<?php echo $area['id']; ?>" <?php echo ($area['id'] == $this->params['area_id']) ? 'selected' : ''; ?> >
                                                                <?php echo $area['name']; ?>
                                                            </option>
                                                        <?php endforeach; ?>
                                                    </select>
                                                </div> <!-- /controls -->
                                            </div>

                                            <div class="control-group">
                                                <label class="control-label">Tỉnh:</label>
                                                <div class="controls">
                                                    <select name='regional_market' id='regional_market'>
                                                        <option value="">-- Chọn --</option>
                                                        <?php
                                                        if ($this->regional_markets) :
                                                            foreach ($this->regional_markets as $regional_market):?>
                                                                <option value="<?php echo $regional_market->id;?>" <?php if (isset($this->params['regional_market']) and $this->params['regional_market']==$regional_market->id):?>selected<?php endif;?>><?php echo $regional_market->name;?></option>
                                                            <?php
                                                            endforeach;
                                                        endif;
                                                        ?>
                                                    </select>
                                                </div> <!-- /controls -->
                                            </div>

                                            <div class="control-group">
                                                <label class="control-label">Huyện:</label>
                                                <div class="controls">
                                                    <select  name='district' id='district'>
                                                        <option value="">-- Chọn --</option>
                                                        <?php
                                                        if ($this->districts) :
                                                            foreach ($this->districts as $regional_market):?>
                                                                <option value="<?php echo $regional_market->id;?>" <?php if (isset($this->params['district']) and $this->params['district']==$regional_market->id):?>selected<?php endif;?>><?php echo $regional_market->name;?></option>
                                                            <?php
                                                            endforeach;
                                                        endif;
                                                        ?>
                                                    </select>
                                                </div> <!-- /controls -->
                                            </div>


                                            <div class="control-group">
                                                <label class="control-label">Trade Local:</label>
                                                <div class="controls">
                                                    <select  name='staff_id' id='staff_id'>
                                                        <option value="">-- Chọn --</option>
                                                        <?php if ($this->params['area_id']) : ?>
                                                            <?php foreach ($this->list_sale[$this->params['area_id']] as $element) : ?>
                                                                <option value="<?php echo $element['staff_id']; ?>" <?php echo ($element['staff_id'] == $this->params['staff_id']) ? 'selected' : ''; ?>>
                                                                    <?php echo $element['fullname']; ?>
                                                                </option>
                                                            <?php endforeach; ?>
                                                        <?php endif; ?>
                                                    </select>
                                                </div> <!-- /controls -->
                                            </div>

                                            <div class="control-group">
                                                <label class="control-label" for="name">Từ ngày:</label>
                                                <div class="controls">
                                                    <input type="text" class="date" name="from_date" value="<?php echo $this->params['from_date'] ? date('d-m-Y', strtotime($this->params['from_date'])) : ''; ?>">
                                                </div> <!-- /controls -->
                                            </div>

                                            <div class="control-group">
                                                <label class="control-label" for="name">Đến ngày:</label>
                                                <div class="controls">
                                                    <input type="text" class="date" name="to_date" value="<?php echo $this->params['to_date'] ? date('d-m-Y', strtotime($this->params['to_date'])) : ''; ?>">
                                                </div> <!-- /controls -->
                                            </div>

                                            <input class="btn btn-success" type="submit" name="submit" value="Tìm">
                                            <a href="/trade/check-shop-entire-list" class="btn btn-warning">Reset</a>
                                            <input title="Export số lần check shop" type="submit" name="export_time" value="Export Time" class="btn btn-info">
                                            <input title="Export chi tiết lỗi hình ảnh" type="submit" name="export_error" value="Export chi tiết" class="btn btn-success">
                                        </form>
                                    </div>
                                </div>
                            </div>
                            <!-- END SEARCH -->
                            <table class='table'>
                                <thead>
                                <tr>
                                    <!--<th>#</th>-->
                                    <th>ID</th>
                                    <th>Tên shop</th>
                                    <th>Lịch sử</th>
                                    <th>Action</th>
                                </tr>
                                </thead>
                                <tbody>
                                <?php foreach ($this->list_store as $store) :?>
                                    <tr>
                                        <td><?php echo $store['store_id']; ?></td>
                                        <td>
                                            <?php echo $store['store_name']; ?>
                                            <br>
                                            <?php if ($store['error_image'] == 1) : ?>
                                                <i class="icon icon-exclamation-sign" style="color: orangered"> Lỗi hình ảnh</i>
                                            <?php endif; ?>
                                        </td>
                                        <td>
                                            <a href="" store_id="<?php echo $store['store_id']; ?>" class='btn_see_history' data-toggle="modal" data-target="#myModal"><?php echo !empty($store['recheck_last']) ? date('d/m/Y', strtotime($store['recheck_last'])) : NULL;?></a>
                                        </td>
                                        <td>
                                                <a href="/trade/check-shop-entire-image-create?store_id=<?php echo $store['store_id']; ?>">
                                                    <input type="button" class="btn btn-primary" value="Check shop">
                                                </a>
                                        </td>
                                    </tr>
                                <?php endforeach; ?>
                                </tbody>

                            </table>



                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="paging">
        <?php echo $this->paging($this->total, $this->limit, $this->offset, $this->url);?>
    </div>
    <!-- Modal -->
    <div id="myModal" class="modal fade" role="dialog" >
        <div class="modal-dialog modal-sm">

            <!-- Modal content-->
            <div class="modal-content" >
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">Lịch sử  check shop</h4>
                </div>
                <div class="modal-body">
                    <table class="table">
                        <thead>
                        <tr>
                            <th>Thời gian</th>
                            <th>Action</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr ng-repeat="history in listHistory">
                            <td>
                                <small>Thời gian: </small> <b>{{history.created_at}}</b>
                               <i ng-if="history.error_image == 1" class="icon icon-exclamation-sign" style="color:orangered" title="Lỗi hình ảnh"></i>
                                <br><small>NV check shop: </small> <b>{{history.created_by}}</b>

                            </td>
                            <td style="text-align: center">
                                <a href="/trade/check-shop-entire-view?check_shop_id={{history.id}}">Xem</a>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
                <!--            <div class="modal-footer">-->
                <!--                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>-->
                <!--            </div>-->
            </div>

        </div>
    </div>

    <!--self area-->
    <div id="self_area">
        <!--        <select name="area_id" class="area" id="area_id">-->
        <option value="">--Chọn khu vực--</option>
        <?php foreach ($this->listSelfArea as $area) : ?>
            <option value="<?php echo $area['id']; ?>" <?php echo ($area['id'] == $this->params['area_id']) ? 'selected' : ''; ?> >
                <?php echo $area['name']; ?>
            </option>
        <?php endforeach; ?>
        <!--        </select>-->
    </div>
    <!--end self area-->

    <!--cross check area-->
    <div id="cross_area">
        <!--        <select name="area_id" class="area" id="area_id">-->
        <option value="">--Chọn khu vực--</option>
        <?php foreach ($this->list_area as $area) : ?>
            <option value="<?php echo $area['id']; ?>" <?php echo ($area['id'] == $this->params['area_id']) ? 'selected' : ''; ?> >
                <?php echo $area['name']; ?>
            </option>
        <?php endforeach; ?>
        <!--        </select>-->
    </div>
    <!--end cross check area-->


</div>
<script type="text/javascript" src="/js/jquery-ui-1.8.12.custom.min.js"></script>
<link rel="stylesheet" type="text/css" href="/css/jquery-ui-1.8.12.custom.css"/>
<link rel="stylesheet" type="text/css" href="<?php echo HOST ?>css/select2.min.css">
<script type="text/javascript" src="<?php echo HOST ?>js/select2.min.js"></script>
<script src="/js/angular.min.js"></script>

<script>
    $(window).on('load', function() {
        // Animate loader off screen
        $("#loading-image").fadeOut("slow");
    });


    var roundId = '<?php echo $this->roundId;?>';

    var app = angular.module('app', []);
    app.controller('appController', function ($scope) {
        $scope.listHistory = [];

        //init
        $(document).on('click', '.btn_see_history', getHistory);

        function getHistory() {
            var storeId = $(this).attr('store_id');
            $.ajax({
                url: '/trade/get-history-check-shop-entire',
                type: 'post',
                data: {
                    store_id: storeId
                },
                dataType: 'json',
                success: function (data) {
                    if (data.status === 0) {
                        console.log(data)
                        $scope.listHistory = [];
                        data.listHistory.forEach(function(history) {
                            $scope.listHistory.push(history);
                        });
                        $scope.$apply();
                    } else {
                        alert(data.message);
                    }
                }
            });
        }
    });

    $(document).ready(function() {
        var self_area = $('#self_area').html();
        var cross_area = $('#cross_area').html();
        $('#self_area').remove();
        $('#cross_area').remove();

        //init select area
        var init_recheck_type = '<?php echo $this->params["recheck_type"]?>';

        if (init_recheck_type == 2) {
            $('#area_id').empty();
            $('#area_id').append(self_area);
        }

        if (init_recheck_type == 1) {
            $('#area_id').empty();
            $('#area_id').append(cross_area);
        }
        //end init select area

        $('.date').datepicker({dateFormat: "dd-mm-yy"});

        var area_list = <?php echo json_encode($this->list_sale);?>;

        $('.area').select2();
        $('.store').select2();
        $('#area_id').change(function(){
            $(this).after('<span class="loading"></span>');
            var _self = $(this);
            var area_id = $(this).val();
            $.get("/staff/load-province",
                {area_id: area_id}
                ,function(data,status){
                    var obj = $.parseJSON( data );
                    $('#regional_market').find('option:not(:first)').remove();
                    for (var i = 0; i < obj.length; i++) {
                        $('#regional_market').append('<option value="'+obj[i]['id']+'">'+obj[i]['name']+'</option>');
                    }
                    _self.nextAll('.loading').remove();
                });

            // load sales

            $('#staff_id').find('option').remove().end().append('<option value="">--Select--</option>').val('');

            area = area_list[area_id];
            for(var i=0;i< area.length;i++){
                $("#staff_id").append('<option value='+area[i]['staff_id']+'>'+area[i]['fullname']+'</option>');
            }
        });

        $('#regional_market').change(function(){
            $('form').bind('submit',function(e){e.preventDefault();});
            $('form button, form input, form select').prop('disabled', true);
            $('.loading').remove();

            $(this).after('<span class="loading"></span>');
            var _self = $(this);
            var region = $(this).val();
            $.post("/ajax/get-district-cbb", {
                    region: region
                }
                ,function(data,status){
                    $('#district').find('option:not(:first)').remove();

                    try {
                        if (data) {
                            var obj = $.parseJSON( data );

                            for (var i = 0; i < obj.length; i++) {
                                $('#district').append('<option value="'+obj[i]['id']+'">'+obj[i]['name']+'</option>');
                            }
                        }

                    } catch(err) {

                    } finally {
                        $('.loading').remove();
                        $('form').unbind('submit');
                        $('form button, form input, form select').prop('disabled', false);
                    }
                });
        });

        $('#recheck_type').change(function () {
            var recheck_type = $(this).val();

            if (recheck_type == 2) {
                $('#area_id').empty();
                $('#area_id').append(self_area);
            }


            if (recheck_type == 1) {
                $('#area_id').empty();
                $('#area_id').append(cross_area);
            }

        });


    })

    function area_init_change(){
        var area_id = $("#area_id").val();
        var staff_id = <?php echo $_GET['staff_id'] ? $_GET['staff_id'] : 0;?>;

        $('#staff_id').find('option').remove().end().append('<option value="">--Select--</option>').val('');

        if(area_id){
            area = area_list[area_id];
            for(var i=0;i< area.length;i++){
                if(staff_id == area[i]['staff_id']){
                    $("#staff_id").append('<option value='+area[i]['staff_id']+' selected>'+area[i]['fullname']+'</option>');
                }
                else{
                    $("#staff_id").append('<option value='+area[i]['staff_id']+'>'+area[i]['fullname']+'</option>');
                }

            }
        }
    }

</script>