<style>
    #loading-image{
        position: absolute;
        width: 100%;
        height: 100%;
        z-index: 1000;
        background:  center no-repeat #fff;
        /*background: url(/photo/loading/Preloader_1.gif) center no-repeat #fff;*/
    }
    .table {
        border-collapse: collapse;
        /*width: 300px;*/
        overflow-x: scroll;
        display: block !important;
    }

    .head, .body {
        display: block;
    }
    .body {
        overflow-y: scroll;
        overflow-x: hidden;
        height: 500px;
    }
    td, th {
        height: 35px;
        /*border: dashed 1px lightblue;*/
        text-align: center ;
    }

    /* New Styles */
    .table .th-fixed:first-child,
    .table .td-fixed:first-child{
        position:relative;
        z-index:10;
        background-color:#EFEFEF;
    }

    td-fixed:first-child{
        background-color:#fff;
    }
    .table-wrapper {

        -webkit-box-shadow: 0px 2px 8px -2px rgba(0,0,0,0.63);
        -moz-box-shadow: 0px 2px 8px -2px rgba(0,0,0,0.63);
        box-shadow: 0px 2px 8px -2px rgba(0,0,0,0.63)

    }


    .table td {
        vertical-align: middle;
        text-align: center;
    }
    .table th {
        vertical-align: middle;
        text-align: center;
    }


    .td-fixed , .th-fixed  {
        min-width: 150px;
        max-width: 150px;
    }

    /*chart*/
    .highcharts-figure, .highcharts-data-table table {
        min-width: 310px;
        margin: 1em auto;
    }

    #container {
        height: 400px;
    }

    .highcharts-data-table table {
        font-family: Verdana, sans-serif;
        border-collapse: collapse;
        border: 1px solid #EBEBEB;
        margin: 10px auto;
        text-align: center;
        width: 100%;
        max-width: 500px;
    }
    .highcharts-data-table caption {
        padding: 1em 0;
        font-size: 1.2em;
        color: #555;
    }
    .highcharts-data-table th {
        font-weight: 600;
        padding: 0.5em;
    }
    .highcharts-data-table td, .highcharts-data-table th, .highcharts-data-table caption {
        padding: 0.5em;
    }
    .highcharts-data-table thead tr, .highcharts-data-table tr:nth-child(even) {
        background: #f8f8f8;
    }
    .highcharts-data-table tr:hover {
        background: #f1f7ff;
    }


    /*end chart*/

    /*fade in , fade out*/
    .table, .view_sale_category_detail, .tr-fixed, .view_sale_store_detail , .tr-not-fixed, .statistic_store{
        animation: animateElement linear .3s;
        animation-iteration-count: 1;
    }

    @keyframes animateElement{
        0% {
            opacity:0;
            transform:  translate(0px,10px);
        }
        100% {
            opacity:1;
            transform:  translate(0px,0px);
        }
    }
    /*fade in , fade out*/



    /*icon loading*/
    .loader {
        border: 3px solid red;
        border-radius: 50%;
        border-top: 3px solid blue;
        border-bottom: 3px solid green;
        border-right: 3px solid lightgrey;
        width: 5px;
        height: 5px;
        -webkit-animation: spin 1s linear infinite;
        animation: spin 1s linear infinite;
        display:none
    }

    @-webkit-keyframes spin {
        0% { -webkit-transform: rotate(0deg); }
        100% { -webkit-transform: rotate(360deg); }
    }

    @keyframes spin {
        0% { transform: rotate(0deg); }
        100% { transform: rotate(360deg); }
    }
    /*icon loading*/

    tspan {
        font-size:8px;
    }
</style>

<!-- <div id="loading-image"></div> -->

<h3>THỐNG KÊ ĐỢT THAY POSM: <b style="color: #2AAD6F"><?php echo $this->stage['name']; ?></b></h3>
<br>
<ul class="nav nav-tabs">
    <li class="active"><a data-toggle="tab" href="#category_statistic">Theo số lượng hạng mục</a></li>
    <li><a data-toggle="tab" href="#store_statistic">Theo số lượng shop</a></li>
    <li><a data-toggle="tab" href="#chart">Biểu đồ</a></li>
    <li><a data-toggle="tab" href="#export_detail">Export chi tiết</a></li>
</ul>

<div class="tab-content">
<!-- Thống kê theo số lượng hạng mục   -->
    <div id="category_statistic" class="tab-pane in active">
        <div class="table-wrapper ">
            <br>
            <i><b>Chú thích:</b>
                <span style="color:black">■: Số lượng đăng ký </span>;  &nbsp;
                <span style="color:red">■: Số lượng đã triển khai </span>;  &nbsp;
                <span style="color:blue">■: Tỷ lệ hoàn thành </span>
            </i>
            <br>
            <br>
            <table class="table ">
                <thead class="head">
                <tr class="tr-fixed">
                    <th class="th-fixed">Khu vực</th>
                    <?php foreach ($this->list_category as $category) :?>
                        <th class="th-fixed"><?php echo $category['name']; ?></th>
                    <?php endforeach; ?>
                </tr>
                </thead>
                <tbody class="body">
                <!--Cả nước-->
                <tr style="background-color: #c4f5b0" class="tr-fixed">
                    <td class="td-fixed" style="background-color: #c4f5b0"><b>TẤT CẢ</b></td>
                    <?php foreach ($this->list_category as $category) : ?>
                        <!-- set variable-->
                        <?php
                        $total_quantity_all =  $this->statistic_category_all [$category['id']] ['total_quantity'];
                        $total_real_quantity_all =  $this->statistic_category_all [$category['id']] ['total_real_quantity'];
                        $percent_complete_all = round($total_real_quantity_all * 100 / $total_quantity_all);

                        ?>
                        <!-- end set variable-->
                        <td class="td-fixed">
                            <?php if ($total_quantity_all > 0) :?>
                                <b> <?php echo $total_quantity_all; ?> </b>
                                <b style="color:red">(<?php echo $total_real_quantity_all ? $total_real_quantity_all : 0; ?>)</b>
                                <b style="color:blue">(<?php echo $percent_complete_all ? $percent_complete_all : 0; ?>%)</b>
                            <?php endif ;?>
                        </td>
                    <?php endforeach; ?>
                </tr>
                <!--End Cả nước-->


                <?php foreach ($this->list_area as $area) : ?>
                    <!--Từng khu vực-->
                    <tr class="tr-fixed">
                        <td class="td-fixed">
                            <b><?php echo $area['name']; ?></b><br>
                            <small is_showing="0" style="font-size:12px; color: #2aad6f; cursor: pointer;"  class="btn_view_sale_category" area_id="<?php echo $area['id']; ?>">Chi tiết Sales » </small>
                                <div class="loader pull-right"></div>
                        </td>
                        <?php foreach ($this->list_category as $category) : ?>
                            <!-- set variable-->
                            <?php
                            $total_quantity =  $this->statistic_category [$area['id']] [$category['id']] ['total_quantity'];
                            $total_real_quantity =  $this->statistic_category [$area['id']] [$category['id']] ['total_real_quantity'];
                            $percent_complete = round($total_real_quantity * 100 / $total_quantity);
                            ?>
                            <!-- end set variable-->
                            <td style="text-align: center" class="td-fixed">
                                <?php if ($total_quantity > 0) :?>
                                    <b> <?php echo $total_quantity; ?> </b>
                                    <b style="color:red">(<?php echo $total_real_quantity ? $total_real_quantity : 0; ?>)</b>
                                    <b style="color:blue">(<?php echo $percent_complete ? $percent_complete : 0; ?>%)</b>
                                <?php endif ;?>
                            </td>
                        <?php endforeach; ?>
                    </tr>
                    <!--end  Từng khu vực-->

                <?php endforeach; ?>
                </tbody>
            </table>
        </div>
    </div>
    <!-- Thống kê theo số lượng hạng mục   -->

    <!-- Thống kê theo số lượng shop   -->
    <div id="store_statistic" class="tab-pane">
        <div class="table-wrapper row">
            <table class="table span6">
                <thead >
                <tr class="not_fixed">
                    <th class="not_fixed" style="width:25%">Khu vực</th>
                    <th class="not_fixed" style="width:27%">Số lượng shop đăng ký</th>
                    <th class="not_fixed" style="width:27%">Số lượng shop hoàn tất triển khai</th>
                    <th class="not_fixed">Tỷ lệ hoàn thành </th>
                </tr>
                </thead>
                <tbody class="statistic_store">
                <tr  style="background: #c4f5b0" class="not_fixed">
                    <td class="not_fixed">TẤT CẢ</td>
                    <td class="not_fixed"><b><?php echo $this->statistic_store_all; ?></b></td>
                    <td class="not_fixed"><b style="color: red"><?php echo $statistic_store_finish_all = $this->statistic_store_all - $this->statistic_store_not_finish_all; ?></b></td>
                    <td class="not_fixed"><b style="color: blue"><?php echo round($statistic_store_finish_all * 100 / $this->statistic_store_all); ?>%</b></td>
                </tr>



                <?php foreach ($this->list_area as $area) : ?>
                    <!--set variable-->
                    <?php
                    $count_store_all = $this->statistic_store_area [$area['id']] ['count_store'];
                    $count_store_not_finish = $this->statistic_store_not_finish_area [$area['id']] ['count_store'];

                    $count_store_finish = $count_store_all - $count_store_not_finish;
                    $percent_finish = $count_store_all ? round($count_store_finish * 100 / $count_store_all) : 0;

                    $array_store_all = explode(',', $this->statistic_store_area [$area['id']] ['list_store']);
                    $array_store_not_finish = explode(',', $this->statistic_store_not_finish_area [$area['id']] ['list_store']);
                    $array_store_finish = array_diff($array_store_all, $array_store_not_finish);
                    $list_store_finish = implode(',', $array_store_finish);


                    ?>
                    <!--end set variable-->

                    <tr class="tr-not-fixed">
                        <td class="td-not-fixed">
                           <b> <?php echo $area['name']; ?></b><br>
                            <small is_showing="0" style="font-size:12px; color: #2aad6f; cursor: pointer;"  class="btn_view_sale_store" area_id="<?php echo $area['id']; ?>">Chi tiết Sales » </small>
                            <div class="loader pull-right"></div>
                        </td>
                        <td><b style="color:black"><?php echo $count_store_all ?></b></td>

                        <td>
                            <?php if ($count_store_all > 0) : ?>
<!--                            <b style="color:red">--><?php //echo $count_store_finish ? $count_store_finish : 0?><!--</b>-->
                                <a style="color:red; font-weight:bold" href="/trade/check-shop-list?check_posm_stage_id=<?php echo $this->stage['id']; ?>&list_store=<?php echo $list_store_finish; ?>"><?php echo $count_store_finish; ?></a>

                            <?php endif; ?>

                        </td>

                        <td>
                            <?php if ($count_store_all > 0) : ?>
                                <b style="color:blue"><?php echo $percent_finish ? $percent_finish : 0 ?>%</b>
                            <?php endif; ?>
                        </td>
                    </tr>
                <?php endforeach; ?>
                </tbody>
            </table>
        </div>

        <br>
        <form action="/trade/check-posm-stage-statistic" method="get">
            <input type="hidden" name="stage_id" value="<?php echo $this->stage['id'] ?>">
            <input type="submit" name="export_store_finish" value="Export" class="btn btn-success">
        </form>
    </div>
    <!-- Thống kê theo số lượng shop   -->




    <!--export data-->
    <div id="export_detail" class="tab-pane">
        <form action="/trade/check-posm-export-detail" method="get">
            <input type="hidden" name="stage_id" value="<?php echo $this->stage['id']; ?>">
            <button class="btn btn-primary" type="submit">Export</button>
        </form>
    </div>
    <!--export data-->


    <!--chart-->
    <div class="chart tab-pane" id="chart">
        <figure class="highcharts-figure">
            <h3>- Biểu đồ tiến độ shop đã hoàn thành </h3>
            <div id="container"></div>

        </figure>
        <br><br>

        <h3>- Biểu đồ độ phủ hình ảnh</h3>
        <figure class="highcharts-figure">
            <div id="chart_distribution"></div>

        </figure>



    </div>
    <!--chart-->
</div>



<script src="/js/highchart/highcharts.js"></script>
<script src="https://code.highcharts.com/modules/exporting.js"></script>

<script>
    $(document).ready(function() {
        $(window).on('load', function() {
            // Animate loader off screen
            $("#loading-image").fadeOut("slow");
        });

        $('.table').on('scroll', function () {
            $(".table > *").width($(".table").width() + $(".table").scrollLeft());
        });

        var $stickyHeader = $('.table .head tr th:first-child');
        var $stickyCells = $('.table .body tr td:first-child');

        $('.table').on('scroll', function () {
            $stickyHeader.css('left', ($(this).scrollLeft()+'px'));
            $stickyCells.css('left', ($(this).scrollLeft()+'px'));
        });


        // biểu đồ tỉ lệ shop hoàn thành triển khai
        var list_percent_finish = JSON.parse('<?php echo ($this->percent_finish_area);?>');
        var array_area_finish = [];
        for (var key in list_percent_finish) {
           var area  = list_percent_finish[key] ;
                data = {
                    name: area.area_name,
                    y: area.percent_finish,
                    count_store_finish: area.count_store_finish,
                    count_store_all: area.count_store_all,
                };
                array_area_finish.push(data);
        }


        // Create the chart
        Highcharts.chart('container', {
            chart: {
                type: 'column'
            },
            title: {
                text: 'Biểu đồ tiến độ shop đã hoàn thành'
            },
            subtitle: {
                text: ''
            },
            accessibility: {
                announceNewData: {
                    enabled: true
                }
            },
            xAxis: {
                type: 'category'
            },
            yAxis: {
                title: {
                    text: 'Tỉ lệ hoàn thành (%)'
                }

            },
            legend: {
                enabled: false
            },
            plotOptions: {
                series: {
                    borderWidth: 0,
                    dataLabels: {
                        enabled: true,
                        format: '{point.y:.f}%'
                    }
                }
            },

            tooltip: {
                headerFormat: '<span style="font-size:11px">{series.name}</span><br>',
                pointFormat: '<span style="color:{point.color}">{point.name}</span>: <b>{point.y:.2f}%</b> hoàn thành<br/><b style="color: #2AAd6F; font-weight:bold">{point.count_store_finish}/{point.count_store_all} shop</b>'
            },

            series: [
                {
                    name: "",
                    colorByPoint: true,
                    data: array_area_finish
                }
            ]
        });





        var list_percent_has_distribution = JSON.parse('<?php echo ($this->percent_has_distribution_area);?>');
        var array_area_has_distribution = [];
        for (var key in list_percent_has_distribution) {
            var area  = list_percent_has_distribution[key] ;
            data = {
                name: area.area_name,
                y: area.percent_has_distribution,
                count_store_has_distribution: area.count_store_has_distribution,
                count_store_all: area.count_store_all,
            };
            array_area_has_distribution.push(data);
        }

        // biểu đồ tỉ lệ shop phân bổ
        Highcharts.chart('chart_distribution', {
            chart: {
                type: 'column'
            },
            title: {
                text: 'Biểu đồ thể hiện độ phủ'
            },
            subtitle: {
                text: ''
            },
            accessibility: {
                announceNewData: {
                    enabled: true
                }
            },
            xAxis: {
                type: 'category'
            },
            yAxis: {
                title: {
                    text: 'Tỉ lệ hoàn thành (%)'
                }

            },
            legend: {
                enabled: false
            },
            plotOptions: {
                series: {
                    borderWidth: 0,
                    dataLabels: {
                        enabled: true,
                        format: '{point.y:.f}%'
                    }
                }
            },

            tooltip: {
                headerFormat: '<span style="font-size:11px">{series.name}</span><br>',
                pointFormat: '<span style="color:{point.color}">{point.name}</span>: <b>{point.y:.2f}%</b> of total<br/><b style="color: #2AAd6F; font-weight:bold">{point.count_store_has_distribution}/{point.count_store_all} shop</b>'
            },

            series: [
                {
                    name: "",
                    colorByPoint: true,
                    data: array_area_has_distribution
                }
            ]
        });



        // view detail sale
        var stage_id = '<?php echo $this->stage["id"]?>';
        $(document).on('click', '.btn_view_sale_category', function () {
            var area_id = $(this).attr('area_id');
            var tr_parent = $(this).parents('.tr-fixed');
            var show = $(this);
            var is_showing = $(this).attr('is_showing');
            var loader = $(this).parents('.td-fixed').find('.loader');

            if (is_showing == 0) {
                loader.show();
                $.ajax({
                    url: '/trade/check-posm-get-statistic-category-sale',
                    type: 'post',
                    data: {
                        area_id: area_id,
                        stage_id: stage_id
                    },
                    dataType: 'json',
                    success: function (data) {
                        if (data.status === 0) {
                            //remove all old detail sale
                            $('.view_sale_category_detail').remove();


                            var list_sale = data.list_sale;
                            var list_category = data.list_category;
                            var tr_table_html = '';
                            for (var key_sale in list_sale) {
                                var sale  = list_sale[key_sale] ;
                                var sale_name = sale.sale_name;
                                var detail = sale.detail;

                                // tr_table_html += "<tr class='view_sale_category_detail'><td>" + sale_name + "</td></tr>";
                                tr_table_html += "<tr class='view_sale_category_detail tr-fixed' style='background:#d8f9f4'><td class='td-fixed'>" + sale_name + "</td>";

                                for (var key_category in list_category) {
                                    var category_id  = list_category[key_category].id ;
                                    var total_quantity = 0;
                                    var total_real_quantity = 0;
                                    var percent_finish = 0;

                                    if (detail[category_id]) {
                                        total_quantity = detail[category_id].total_quantity;
                                        total_real_quantity = detail[category_id].total_real_quantity;
                                        percent_finish = Math.round(detail[category_id].percent_finish);
                                    }

                                    if (total_quantity > 0) {
                                        tr_table_html +=
                                            "<td class='td-fixed' style='background:#d8f9f4'>" +
                                            "<b style='color:black'>" + total_quantity + "</b> "+
                                            "<b style='color:red'>(" + total_real_quantity + ") </b>" +
                                            "<b style='color:blue'>(" + percent_finish +  "%)</b>" +
                                            "</td>"
                                    } else {
                                        tr_table_html += "<td class='td-fixed'>" +  "</td>"
                                    }

                                }

                                tr_table_html += "</tr>";
                            }

                            // console.log(tr_table_html);
                            tr_parent.after(tr_table_html)
                            loader.hide();

                            show.attr('is_showing', 1)
                        } else {
                            alert(data.message);
                        }
                    }
                });
            } else {

                $('.view_sale_category_detail').fadeOut();
                setTimeout(function () {
                    $('.view_sale_category_detail').remove();
                },200)
                show.attr('is_showing', 0);
            }






        });

        $(document).on('click', '.btn_view_sale_store', function () {
            var area_id = $(this).attr('area_id');
            var tr_parent = $(this).parents('.tr-not-fixed');
            var show = $(this);
            var is_showing = $(this).attr('is_showing');
            var loader = $(this).parents('.td-not-fixed').find('.loader');

            if (is_showing == 0) {
                loader.show();

                $.ajax({
                    url: '/trade/check-posm-get-statistic-store-sale',
                    type: 'post',
                    data: {
                        area_id: area_id,
                        stage_id: stage_id
                    },
                    dataType: 'json',
                    success: function (data) {
                        if (data.status === 0) {
                            //remove all old detail sale
                            $('.view_sale_store_detail').remove();

                            var list_sale = data.list_sale;

                            var tr_table_html = '';

                            for (var key_sale in list_sale) {
                                var sale = list_sale[key_sale];
                                var sale_name = sale.sale_name;
                                var count_store_all = sale.count_store_all;
                                var count_store_finish = sale.count_store_finish;
                                var percent_finish = sale.percent_finish;

                                tr_table_html +=
                                    "<tr class='view_sale_store_detail' style='background:#d8f9f4'>" +
                                    "<td>" + sale_name + "</td>" +
                                    "<td><b style='color:black'>" + count_store_all + "</b></td>" +
                                    "<td><b style='color:red'>" + count_store_finish + "</b></td>" +
                                    "<td><b style='color:blue'>" + percent_finish + "%</b></td>" +
                                    "</tr>";
                            }

                            // console.log(tr_table_html);
                            tr_parent.after(tr_table_html)
                            loader.hide();

                            show.attr('is_showing', 1)
                        } else {
                            alert(data.message);
                        }
                    }
                });

            } else {
                $('.view_sale_store_detail').fadeOut();
                setTimeout(function () {
                    $('.view_sale_store_detail').remove();
                },200)
                show.attr('is_showing', 0);
            }


        });

    });
</script>

