<div class="content-layout">
    <div class="row">
    <!-- end trade T?NG Ð?U TU-->

    <div class="span6">
        
        <form action="<?php echo HOST;?>trade/save-confirm-order" method='POST'>
            <div class="table_main2" style="margin-top: 5px;">
                <div class="header_tad"><i class="icon-list-alt"></i> Duyệt <b style="color:red"><?php echo $this->campaign['name'];?></b></div>
                <div class="content_tad">
                    
                    <?php
                        if (isset($this->messages) and $this->messages)
                            foreach ($this->messages as $message):
                                echo '<div class="alert alert-success">'.$message.'</div>';
                            endforeach;

                        if (isset($this->messages_error) and $this->messages_error)
                            foreach ($this->messages_error as $message):
                                echo '<div class="alert alert-error">'.$message.'</div>';
                            endforeach;
                    ?>
                    
                    <?php if($this->max_status == 8 || $this->max_status == 9):?>

                    <div class="content_content" style="min-height: 242px;">
                        <table id="bi-table" class="paginated" style="width: 100%;">
                            <tbody>
                                <tr style="display: table-row;">
                                    <th>Tên</th>
                                    <th>SL</th>
                                    <th></th>
                                </tr>
                                <?php foreach ($this->category as $key => $value):?>
                                <tr style="display: table-row;">
                                    <td><img src="https://trade-marketing.opposhop.vn/photo/category/<?php echo $value['category_id'];?>/<?php echo $value['photo'];?>">
                                        <a href=""><?php echo $value['name'];?></a>
                                    </td>
                                    <td>
                                        <button class="add_new_cat button btn btn-alert" data-toggle="modal" data-target="#myModal"
                                        data-cat-id="<?php echo $value['id'];?>"
                                        data-name-cat="<?php echo $value['name'];?>"
                                        >
                                            <span class="number quantity_<?php echo $value['id'];?>">0</span>
                                        </button>
                                    </td>
                                    <td>
                                        <a href="<?php echo HOST;?>trade/scan-area?category_id=<?php echo $value['id'];?>&campaign_id=<?php echo $this->campaign['id'];?>" class="btn btn-info">Nhập kho KV</a>
                                    </td>
                                </tr>    
                                <?php endforeach;?>
                            </tbody>
                        </table>
      
                    <!-- content-content-->

                    <div class="content_tad add_new_modal">
                        <input type="hidden" id="campaign_id" name="campaign_id" value="<?php echo $this->campaign['id'];?>">
                        <input type="hidden" name="data_order" class="data_order" value="">
                        

                        <?php if( !empty($this->app_order) ):?>
                        <input type="hidden" name="order_id" class="order_id" value="<?php echo $this->app_order['id'];?>">
                        <?php endif;?>
                        
                        <?php if( in_array($this->max_status, $this->status_title) AND $this->max_status != 5 ):?>
                        <label class="alert alert-success"><?php echo $this->app_status[$this->max_status];?></label>
                        <input type="submit" class="button btn btn-info" value="Xác nhận duyệt">
                        <?php else:?>
                        <label class="alert alert-success"><?php echo $this->app_status[$this->max_status];?></label>
                        <?php endif;?>
                        
                        <?php if( in_array($this->max_status, [5,6]) AND $this->storage['title'] == TRADE_MARKETING_SUPERVISOR):?>
                        <a class="button btn btn-info" href="<?php echo HOST;?>trade/quantity-contractor?campaign_id=<?php echo $this->campaign['id'];;?>">Chia số lượng cho nhà thầu</a>
                        <?php endif;?>
                        
                    </div><!-- content_tad -->

                    
                    <?php else:?>

                    <div class="content_content" style="min-height: 242px;">
                        <table id="bi-table" class="paginated" style="width: 100%;">
                            <tbody>
                                <tr style="display: table-row;">
                                    <th style="width: 254px;">Tên</th>
                                    <th style="width: 52px;">SL</th>
                                </tr>
                                <?php foreach ($this->category as $key => $value):?>
                                <tr style="display: table-row;">
                                    <td><img src="https://trade-marketing.opposhop.vn/photo/category/<?php echo $value['category_id'];?>/<?php echo $value['photo'];?>">
                                        <a href=""><?php echo $value['name'];?></a>
                                    </td>
                                    <td>
                                        <button class="add_new_cat button btn btn-alert" data-toggle="modal" data-target="#myModal"
                                        data-cat-id="<?php echo $value['id'];?>"
                                        data-name-cat="<?php echo $value['name'];?>"
                                        >
                                            <span class="number quantity_<?php echo $value['id'];?>">0</span>
                                        </button>
                                    </td>
                                </tr>    
                                <?php endforeach;?>
                            </tbody>
                        </table>
      
                    <!-- content-content-->

                    <div class="content_tad add_new_modal">
                        <input type="hidden" id="campaign_id" name="campaign_id" value="<?php echo $this->campaign['id'];?>">
                        <input type="hidden" name="data_order" class="data_order" value="">
                        

                        <?php if( !empty($this->app_order) ):?>
                        <input type="hidden" name="order_id" class="order_id" value="<?php echo $this->app_order['id'];?>">
                        <?php endif;?>
                        
                        <?php if( in_array($this->max_status, $this->status_title) AND $this->max_status != 5 ):?>
                        <label class="alert alert-success"><?php echo $this->app_status[$this->max_status];?></label>
                        <input type="submit" class="button btn btn-info" value="Xác nhận duyệt">
                        <?php else:?>
                        <label class="alert alert-success"><?php echo $this->app_status[$this->max_status];?></label>
                        <?php endif;?>
                        
                        <?php if( in_array($this->max_status, [5,6]) AND $this->storage['title'] == TRADE_MARKETING_SUPERVISOR):?>
                        <a class="button btn btn-info" href="<?php echo HOST;?>trade/quantity-contractor?campaign_id=<?php echo $this->campaign['id'];;?>">Chia số lượng cho nhà thầu</a>
                        <?php endif;?>
                        
                    </div><!-- content_tad -->
                    
                    
                    <?php endif;?>


                </div>
            </div>
        </form>
    </div>
    <!-- span6-->
    


</div>
</div><!-- content layout-->



<!-- Modal -->
<div id="myModal" class="modal fade add_new_items" role="dialog" style="display: none">
  <div class="modal-dialog">

    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Modal Header</h4>
      </div>
      <div class="modal-body">

        <div class="content_tad table_shop_dat">
            <table class="table hanmuc">
                <thead>
                <tr>
                    <th>Shop đã đặt</th>
                    <th>SL</th>
                </tr>
                </thead>
                <tbody class="shop_da_dat">
                <tr>
                    <td>Minh Long - Bình Dương</td>
                    <td class="number">1</td>
                </tr>
                <tr>
                    <td>Kim Ngân 2 - Kiên Giang</td>
                    <td class="number">1</td>
                </tr>
                <tr>
                    <td>CH Ngân Phú - Kiên Giang</td>
                    <td class="number">1</td>
                </tr>
                </tbody>
            </table>
        </div>

        <div class="shop_dautu">
            
            <div class="content_tad">
                <table class="table hanmuc">
                    <tr>
                        <td>Hạn mức</td>
                        <td>Đã đầu tư</td>
                        <td>Điền số lượng</td>
                    </tr>
                    <tr class="hanmuc_content">
                        <td class="number">0</td>
                        <td class="number">0</td>
                        <td class="number"><input type="number" style="width: 100px"></td>
                    </tr>
                </table>
            </div><!-- content_tad -->

            <div class="content_tad hinh_lap_dat">
                <label for="sortpicture" class="btn">Hình vị trí lắp đặt</label>
                
                <div class="image_upload"></div>


            </div><!-- content_tad -->

        </div><!-- shop_dautu-->

        <div class="content_tad add_new_modal">
            <label class="alert_noti">Vui lòng điền số lượng</label>
            
        </div><!-- content_tad -->


        <div class="modal_row">
            <div class="shop_info">

                <label class="thuctrangshop">Thực trạng shop</label>
                
                <div class="top_shop_info">
                    <span class="name_shop">Nhật Huy 2 - Thái Bình - Chợ Lục,Xã Thái Xuyên, Huyện Thái Thụy, Tinh Thái Bình.</span>
                </div><!-- end top_shop_info-->

                <div class="content_shop_info">
                    <table class="table">
                        <thead>
                        <tr>
                            <th>Tên</th>
                            <th class="number">SL</th>
                            <th>Ngày</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr>
                            <td>Bảng hiệu Alu</td>
                            <td class="number">1</td>
                            <td>2017-07-23</td>
                        </tr>
                        <tr>
                            <td>Tủ kính trưng bày</td>
                            <td class="number">3</td>
                            <td>2017-07-25</td>
                        </tr>
                        <tr>
                            <td>Tủ sát vách</td>
                            <td class="number">3</td>
                            <td>2015-07-24</td>
                        </tr>
                    </tbody></table>
                    
                </div><!-- end mid_shop_info-->

                <div class="top_shop_info">
                    <span>Hình ảnh thực tế</span>
                </div><!-- end top_shop_info-->

                <div class="content_shop_info hinhanhthucte">
                    <span>Bảng hiệu Alu</span>
                    <img src="<?php echo HOST;?>img/shop_1.png">
                    <span>Tủ kính trưng bày</span>
                    <img src="<?php echo HOST;?>img/shop_2.png">
                    <span>Tủ sát vách</span>
                    <img src="<?php echo HOST;?>img/shop_3.jpg">
                </div><!-- end mid_shop_info-->

            </div><!-- enđ shop_info-->
        </div><!-- modal_row -->




      </div><!-- modal-body -->
      
    </div>

  </div>
</div>


<?php echo $this->render('trade/partials/confirm-order-script.phtml'); ?>

