
<style type="text/css">

    .select2-container--default .select2-selection--single {
        border-left: 3px solid #aaa;
        margin-bottom: 5px;
        font-size: 13px;
    }
    .select2-container--default .select2-results>.select2-results__options{
        font-size: 13px;
    }
    .select2-container--default .select2-search--dropdown .select2-search__field{
        height:25px;
    }

    .search_shop, .search_area, #sel_construct_type{
        width: 100% !important;
        /*margin-bottom: 5px;*/
    }



    /*---------------------------DESIGN QR ----------------------------------*/

    .cameras ul {
        padding: 15px 20px;
    }
    .cameras .active {
        font-weight: bold;
        color: #009900;
    }
    .cameras a {
        color: #555;
        text-decoration: none;
        cursor: pointer;
    }
    .cameras a:hover {
        text-decoration: underline;
    }

    .wrap_picture{border: 1px solid #7fab84;margin-top: 20px}
    .wrap_picture .img{padding: 0px;margin-top: 5px;text-align: left;}

    .btn_submit{margin: 10px 0px;}


    .list-image-wrapper .image{position:relative; display: block;padding: 10px;border: 1px solid #CCC;overflow: hidden;margin: 10px 0px;}
    /*.list-image-wrapper .image img{width: 98%;display:block;float:left;}*/


    .remove_image{top:3px; position: absolute; right: 1px;display: block;font-size: 16px;cursor: pointer}



    .div_header {
       color:white;
       background: #008b56;

   /*            color:#008b56;
        background: white;*/
        
        font-weight: bold;
        font-size:13px;
   
        border-bottom: 1px solid;
        line-height:25px;
        padding: 3px 0px 0px 16px;
    }
    .big_div_header {

        color:#027147;
        background: white;
/*
         color:white;
       background: #008b56;*/

        font-weight: bold;
        font-size:15px;
        
        border-bottom: 1px solid;
        line-height:25px;
        padding: 3px 0px 0px 16px;
    }
    .div_content {
        padding: 0 10px 10px 10px;
    }
    th, td {
        text-align: center !important;
    }
    .upload_file {
        text-align: left !important;
    }
    input {
        width: 90%
    }
    .inside_wrap {
        padding: 10px;
    }
    @media only screen and (max-width: 600px) {
        .select_contractor {
            width: 100px;
        }
        .form-search select, .form-horizontal select, select {
            width: 130px;
        }
    }
    /*#loading-image{*/
    /*    position: absolute;*/
    /*    width: 100%;*/
    /*    height: 55%;*/
    /*    z-index: 1000;*/
    /*    background:  center no-repeat #fff;*/
    /*    !*background: url(/photo/loading/Preloader_1.gif) center no-repeat #fff;*!*/
    /*}*/

</style>
<div class="content-layout">

    <div class="row">
        <div class="col-12 col-md-8 p-0">
            <div class="table_main" style="margin-top: 7px;">
                <div class="big_div_header">
                    <i class="icon-list-alt"></i> THI CÔNG OPPO BRANDSHOP
                </div>
                <div class="div_content">
                    <div class="content_content" style="min-height: 405px;">

                        <form class="form-search form-horizontal" id="form_submit" method="post" action="" enctype="multipart/form-data">

                            <div class="table-responsive">

                                <div class="wrap_picture">
                                    <div class="div_header">
                                        <i class="icon-home"></i>  THÔNG TIN SHOP
                                    </div>

                                    <div class="inside_wrap">
                                        
                                        
                                       
                                         <span style="color:#097b45; font-weight: bold"><i
                                                     class="icon icon-home"></i> <?php echo $this->store_info['store_name']; ?></span><br>
                                        <span style="color:darkslategrey;font-weight: bold"><i
                                                    class="icon icon-map-marker"></i> <?php echo $this->store_info['shipping_address']; ?></span><br>
                                        <span style="color:darkslategrey;font-weight: bold"><i
                                                    class="icon icon-tags"></i> 
                                                    <?php echo $this->store_info['district_name']; ?>
                                                    - <?php echo $this->store_info['province_name']; ?>

                                                     - <?php echo $this->store_info['area_name']; ?>
                                        </span><br><br>

                                        <span style="color:blue; font-weight: bold">Trạng thái đề xuất: <?php echo $this->construct_obs['status_name']; ?></span><br>
                                                    
                                        
                                        <br>

                                        <br>

                                        <b style="color:dodgerblue">Hiện trạng tại shop</b>
                                        <table class="table">
                                            <thead>
                                            <tr>
                                                <th>Hạng mục</th>
                                                <th>Số lượng</th>
                                            </tr>
                                            </thead>
                                            <tbody>
                                            <?php foreach ($this->category_store as $category): ?>
                                                <tr>
                                                    <td><?php echo $category['category_name']; ?></td>
                                                    <td><?php echo $category['quantity']; ?></td>
                                                </tr>
                                            <?php endforeach; ?>

                                            </tbody>
                                        </table>



                                    </div>




                                    
                                </div><!-- wrap_picture -->



                                <div class="wrap_picture">
                                    <div class="div_header">
                                        <i class="icon-home"></i> LOẠI THI CÔNG
                                    </div>

                                    <div id="construct_type" class="inside_wrap">
                                        <div>
                                            <?php if ($this->construct_obs['construct_type'] == 1): ?>
                                                <h5 style="color: blue">Đầu tư mới</h5><br>
                                            <b>Diện tích shop</b>
                                                <table class="table">
                                                    <thead>
                                                    <tr>
                                                        <th>Dài(m) </th>
                                                        <th>Rộng(m)</th>
                                                        <th>Diện tích(m2)</th>
                                                    </tr>
                                                    </thead>
                                                    <tbody>
                                                    <tr>
                                                        <td><?php echo $this->construct_obs['length']; ?></td>
                                                        <td><?php echo $this->construct_obs['width']; ?></td>
                                                        <td><?php echo round($this->construct_obs['length'] * $this->construct_obs['width'], 2); ?></td>
                                                    </tr>
                                                    </tbody>
                                                </table>
                                            <?php endif; ?>

                                            <?php if ($this->construct_obs['construct_type'] == 2): ?>
                                               <b> Nâng cấp</b>
                                            <?php endif; ?>
                                        </div>
                                        <br>

                                    </div>

                                </div><!-- wrap_picture -->


                                <div class="wrap_picture">
                                    <div class="div_header">
                                        <i class="icon-home"></i> HẠNG MỤC THI CÔNG
                                    </div>

                                    <div class="inside_wrap">
                                        <div id="table_category">
                                          <table class="table" >
                                            <thead>
                                            <tr>
                                                <th style="width:20%">Loại</th>
                                                <th style="width:40%">Hạng mục</th>
                                                <th>Số lượng</th>

                                                <?php if (in_array($this->construct_obs['status'], [3,4,5])): ?>
                                                    <th style="width: 30%">Quy cách</th>
                                                <?php endif; ?>
                                            </tr>
                                            </thead>
                                            <tbody>
                                            <!-- HM ngoài-->
                                            <?php foreach ($this->list_category_outside as $key => $category_outside): ?>
                                                <tr>
                                                    <?php if ($key == 0): ?>
                                                        <td rowspan="<?php echo count($this->list_category_outside)?>"> Bên ngoài</td>
                                                    <?php endif; ?>

                                                    <td><?php echo $category_outside['category_name']; ?></td>
                                                    <td><?php echo $category_outside['quantity']; ?></td>

                                                    <?php if (in_array($this->construct_obs['status'], [3])): ?>
                                                    <td><input type="text"></td>
                                                    <?php endif; ?>
                                                    <?php if (in_array($this->construct_obs['status'], [4,5])): ?>
                                                        <td></td>
                                                    <?php endif; ?>

                                                </tr>
                                            <?php endforeach; ?>

                                            <!-- HM Trong-->
                                            <?php foreach ($this->list_category_inside as $key => $category_inside): ?>
                                                <tr>
                                                    <?php if ($key == 0): ?>
                                                        <td rowspan="<?php echo count($this->list_category_inside)?>"> Bên Trong</td>
                                                    <?php endif; ?>

                                                    <td><?php echo $category_inside['category_name']; ?></td>
                                                    <td><?php echo $category_inside['quantity']; ?></td>

                                                    <?php if (in_array($this->construct_obs['status'], [3])): ?>
                                                    <td><input type="text"></td>
                                                    <?php endif; ?>
                                                    <?php if (in_array($this->construct_obs['status'], [4,5])): ?>
                                                        <td></td>
                                                    <?php endif; ?>


                                                </tr>
                                            <?php endforeach; ?>

                                            </tbody>
                                        </table>
                                        </div>
                                    </div>

                                </div><!-- wrap_picture -->





                                <div class="wrap_picture">
                                    <div class="div_header">
                                        <i class="icon-home"></i>  CHI PHÍ VÀ HÌNH ẢNH
                                    </div>

                                    <div class="inside_wrap">
                                        <table class="table">
                                            <tr>
                                                <td>Nhà thầu</td>
                                                <td><?php echo $this->construct_obs['contractor_name']; ?></td>
                                            </tr>
                                            <tr>
                                                <td>Chi phí</td>
                                                <td>
                                                    <table class="table">
                                                        <thead>
                                                        <tr>
                                                            <th style="width:40%">Nội dung</th>
                                                            <th style="width:20%">Số lượng</th>
                                                            <th style="width:30%">Thành tiền</th>
                                                        </tr>
                                                        </thead>
                                                        <tbody>
                                                        <?php foreach ($this->list_price  as $price) :?>
                                                            <tr>
                                                                <td><p><?php echo $price['title']; ?></p></td>
                                                                <td><p><?php echo $price ['quantity'] ? $price ['quantity'] : ''; ?></p></td>
                                                                <td><p><?php echo number_format($price ['total_price']) ; ?></p></td>
                                                            </tr>
                                                        <?php endforeach; ?>

                                                        </tbody>

                                                    </table>
                                                    <div style="margin-left:40%">
                                                        <span><strong>VAT: </strong>10%</span>
                                                    </div>
                                                    <div style="margin-left:40%">
                                                        <strong>Tổng tiền:</strong> <b style="color: dodgerblue; font-size: 15px;"> <?php echo number_format($this->total_price); ?></b>
                                                    </div>
                                                </td>
                                            </tr>


                                            <?php if (in_array($this->construct_obs['status'], [3])): ?>
                                                <tr>
                                                    <td style="width:20%">Điền chi phí cuối cùng</td>
                                                    <td class="quotation">
                                                        <table class="table">
                                                            <thead>
                                                            <tr>
                                                                <th style="width:40%">Nội dung</th>
                                                                <th style="width:20%">Số lượng</th>
                                                                <th style="width:30%">Thành tiền</th>
                                                                <th></th>
                                                            </tr>
                                                            </thead>
                                                            <tbody id="quotation_container">
                                                            <?php foreach ($this->list_price as $price) :?>
                                                                <tr class="quotation_row" >
                                                                    <td><textarea class="quotation_title" name="quotation_title[]" type="text" style="width:90%" required><?php echo $price['title']; ?></textarea></td>
                                                                    <td><input class="quotation_quantity"  name="quotation_quantity[]" type="number" min="0"  style="width:80%" value="<?php echo $price['quantity'] ? $price['quantity'] : ''; ?>"></td>
                                                                    <td><input class="quotation_total_price"  name="quotation_total_price[]" type="number" min="0" style="width:90%" required value="<?php echo $price['total_price']; ?>"></td>
                                                                    <td> <i class="icon icon-minus-sign btn_remove_quotation" style="font-size: 20px; color: orangered; margin: 5px" ></i> </td>
                                                                </tr>
                                                            <?php endforeach; ?>

                                                            </tbody>

                                                        </table>
                                                        <div style="margin-left:40%">
                                                            <span><strong>VAT: </strong>10%</span>
                                                        </div>
                                                        <div style="margin-left:40%">
                                                            <strong>Tổng tiền:</strong> <span class="total_quotation"><?php echo number_format($this->total_price); ?></span>
                                                        </div>

                                                        <i class="icon icon-plus-sign btn_add_quotation pull-left" style="font-size: 20px; color: green; margin: 10px" ></i>
                                                    </td>
                                                </tr>
                                            <?php endif; ?>


                                            <?php if (in_array($this->construct_obs['status'], [4,5])): ?>
                                                <tr>
                                                    <td>Chi phí cuối cùng</td>
                                                    <td>
                                                        <table class="table">
                                                            <thead>
                                                            <tr>
                                                                <th style="width:40%">Nội dung</th>
                                                                <th style="width:20%">Số lượng</th>
                                                                <th style="width:30%">Thành tiền</th>
                                                            </tr>
                                                            </thead>
                                                            <tbody>
                                                            <?php foreach ($this->list_price_last as $price) :?>
                                                                <tr>
                                                                    <td><p><?php echo $price['title']; ?></p></td>
                                                                    <td><p><?php echo $price['quantity'] ? $price['quantity'] : ''; ?></p></td>
                                                                    <td><p><?php echo number_format($price['total_price']) ; ?></p></td>
                                                                </tr>
                                                            <?php endforeach; ?>

                                                            </tbody>

                                                        </table>
                                                        <div style="margin-left:40%">
                                                            <span><strong>VAT: </strong>10%</span>
                                                        </div>
                                                        <div style="margin-left:40%">
                                                            <strong>Tổng tiền:</strong> <b style="color:blue; font-size: 15px;"> <?php echo number_format($this->total_price_last); ?></b>
                                                        </div>
                                                    </td>
                                                </tr>
                                            <?php endif; ?>

                                            <?php if (in_array($this->construct_obs['status'], [4])): ?>
                                                <tr style="background-color:#dff0d8">
                                                    <td>Điền chi phí thanh toán</td>
                                                    <td class="quotation">
                                                        <div class="box_review_cost left" >
                                                            <input required class="review_cost" type="radio" name="review_cost" value="1"> Chi phí chính xác.
                                                            <br>
                                                            <input required class="review_cost" type="radio" name="review_cost" value="2"> Chi phí sai.
                                                        </div>
                                                        <br>

                                                        <div class="table_review_cost" style="display:none">

                                                            <table class="table">
                                                                <thead>
                                                                <tr>
                                                                    <th style="width:40%">Nội dung</th>
                                                                    <th style="width:20%">Số lượng</th>
                                                                    <th style="width:30%">Thành tiền</th>
                                                                    <th></th>
                                                                </tr>
                                                                </thead>
                                                                <tbody id="quotation_container">
                                                                <tr class="quotation_row">
                                                                    <td><textarea  class="quotation_title" name="quotation_title[]" type="text" style="width:90%" ></textarea></td>
                                                                    <td><input class="quotation_quantity"  name="quotation_quantity[]" type="number" min="0"  style="width:80%" ></td>
                                                                    <td><input class="quotation_total_price"  name="quotation_total_price[]" type="number" min="0" style="width:90%" ></td>
                                                                    <td> <i class="icon icon-minus-sign btn_remove_quotation pull-left" style="font-size: 20px; color: red; margin: 5px" ></i> </td>
                                                                </tr>
                                                                </tbody>

                                                            </table>
                                                            <div style="margin-left:40%">
                                                                <span><strong>VAT: </strong>10%</span>
                                                            </div>
                                                            <div style="margin-left:40%">
                                                                <strong>Tổng tiền:</strong> <span class="total_quotation"> </span>
                                                            </div>

                                                            <i class="icon icon-plus-sign btn_add_quotation" style="font-size: 20px; color: green; margin: 10px" ></i>
                                                        </div>
                                                        <br>
                                                        <br>
                                                        <div class="left">
                                                            Tháng công nợ: <input style="width:100px;" class="month_debt" name="month_debt" type="text">
                                                        </div>
                                                        <br>
                                                        <div class="review_note left">
                                                            Note: <textarea name="review_note" cols="30" rows="3"></textarea>
                                                        </div>
                                                    </td>
                                                </tr>
                                            <?php endif; ?>

                                            <?php if (in_array($this->construct_obs['status'], [5])): ?>
                                                <tr>
                                                    <td>Chi phí thanh toán</td>
                                                    <td>

                                                            <?php if ($this->construct_obs['review_cost'] == 1) : ?>
                                                                <h3 class="left"><i class="icon icon-ok-sign" style="color:green"></i> Chi phí chính xác.</h3>
                                                            <?php else : ?>
                                                                <h3 class="left"><i class="icon icon-ok-sign" style="color:orangered"></i> Chi phí sai.</h3>
                                                                <br>
                                                                <table class="table">
                                                                    <thead>
                                                                    <tr>
                                                                        <th style="width:40%">Nội dung</th>
                                                                        <th style="width:20%">Số lượng</th>
                                                                        <th style="width:30%">Thành tiền</th>
                                                                    </tr>
                                                                    </thead>
                                                                    <tbody>
                                                                    <?php foreach ($this->list_price_review  as $price) :?>
                                                                        <tr>
                                                                            <td><p><?php echo $price['title']; ?></p></td>
                                                                            <td><p><?php echo $price ['quantity'] ? $price ['quantity'] : ''; ?></p></td>
                                                                            <td><p><?php echo number_format($price ['total_price']) ; ?></p></td>
                                                                        </tr>
                                                                    <?php endforeach; ?>

                                                                    </tbody>

                                                                </table>
                                                                <div style="margin-left:40%">
                                                                    <span><strong>VAT: </strong>10%</span>
                                                                </div>
                                                                <div style="margin-left:40%">
                                                                    <strong>Tổng tiền:</strong> <span style="font-weight:bold; color:blue; font-size: 15px"> <?php echo number_format($this->total_price_review); ?></span>
                                                                </div>
                                                            <?php endif; ?>

                                                        <br>
                                                        <div class="review_note left">
                                                            <p>
                                                                <b>Tháng công nợ: </b> <span class="label label-info"><?php echo $this->construct_obs['month_debt']; ?></span>
                                                            </p>
                                                        </div>
                                                        <br>
                                                        <div class="review_note left">
                                                            <p>
                                                                Note: <?php echo $this->construct_obs['review_note']; ?>
                                                            </p>
                                                        </div>
                                                    </td>
                                                </tr>
                                            <?php endif; ?>


                                            <tr>
                                                <td>File báo giá</td>
                                                <td class="upload_file">
                                                    <?php if ($this->construct_obs['status'] == 1): ?>
                                                        <input type="file" name="file_bao_gia[]" multiple>
                                                    <?php endif; ?>
                                                    <div>
                                                        <?php foreach ($this->list_file[1] as $file): ?>
                                                            <a href="<?php echo $file['url'] ?>">File báo giá</a>
                                                        <?php endforeach; ?>
                                                    </div>
                                                </td>

                                            </tr>

                                            <tr>
                                                <td>File đề xuất</td>
                                                <td class="upload_file">
                                                    <?php if ($this->construct_obs['status'] == 1): ?>
                                                     <input type="file" name="file_de_xuat[]" multiple>
                                                    <?php endif; ?>

                                                    <div>
                                                        <?php foreach ($this->list_file[2] as $file): ?>
                                                            <a href="<?php echo $file['url'] ?>">File đề xuất</a>
                                                        <?php endforeach; ?>
                                                    </div>

                                                </td>
                                            </tr>




                                            <tr>
                                                <td>Ảnh thiết kế</td>
                                                <td class="upload_file">
                                                    <div class="div_image">
                                                        <?php if ($this->construct_obs['status'] == 1): ?>
                                                        <div class="row-fluid">
                                                            <a style="margin-left: 5px;" data-cat-id=""
                                                               data-stt-image="" class="btn btn-danger button-img take-picture" image_type="image_design">
                                                                <i class="icon-camera"></i>
                                                            </a>
                                                            <a style="margin-left: 5px;" data-cat-id=""
                                                               data-stt-image="" class="btn btn-primary button-img take-file" image_type="image_design">
                                                                <i class="icon-folder-open"></i>
                                                            </a>
                                                            <input class="file-tmp" type="file" style="display: none" accept="image/*"
                                                                   multiple="">
                                                        </div>
                                                        <?php endif; ?>

                                                        <div class="list-image-wrapper list-image popup-gallery">
                                                            <input type="hidden" class="val_img" id="val_img" value="">

                                                            <?php foreach ($this->list_file[3] as $file): ?>
                                                                <a class="img_slide" href="<?php echo $file['url'] ?>" ><img style="max-height:75px; max-width:75px;" src="<?php echo $file['url'] ?>" width="75" height="75"></a>
                                                            <?php endforeach; ?>

                                                        </div>

                                                    </div>
                                                </td>
                                            </tr>




                                            <tr>
                                                <td>Ảnh mặt bằng</td>
                                                <td class="upload_file">
                                                    <div class="div_image">
                                                        <?php if ($this->construct_obs['status'] == 1): ?>
                                                        <div class="row-fluid">
                                                            <a style="margin-left: 5px;" data-cat-id=""
                                                               data-stt-image="" class="btn btn-danger button-img take-picture" image_type="image_facade">
                                                                <i class="icon-camera"></i>
                                                            </a>
                                                            <a style="margin-left: 5px;" data-cat-id=""
                                                               data-stt-image="" class="btn btn-primary button-img take-file" image_type="image_facade">
                                                                <i class="icon-folder-open"></i>
                                                            </a>
                                                            <input class="file-tmp" type="file" style="display: none" accept="image/*"
                                                                   multiple="">
                                                        </div>
                                                        <?php endif; ?>

                                                        <div class="list-image-wrapper list-image popup-gallery">
                                                            <input type="hidden" class="val_img" id="val_img" value="">

                                                            <?php foreach ($this->list_file[4] as $file): ?>
                                                                <a class="img_slide" href="<?php echo $file['url'] ?>" ><img style="max-height:75px; max-width:75px;" src="<?php echo $file['url'] ?>" width="75" height="75"></a>
                                                            <?php endforeach; ?>
                                                        </div>

                                                    </div>
                                                </td>
                                            </tr>

                                        </table>


                                    </div><!-- inside_wrap -->

                                </div><!-- wrap_picture -->


                                <div  align="center">

                                </div>

                                <input type="hidden" name="construct_obs_id" value="<?php echo $this->construct_obs['id'] ?>">

                                <div class="btn_submit" align="center">
                                    <?php if (in_array($this->construct_obs['status'], [2])): ?>
                                        <button class="btn btn-warning">Từ chối</button>
                                        <button class="btn btn-danger">Hủy đê xuất</button>
                                    <?php endif; ?>

                                    <button type="submit" id="btn_approve" class="btn btn-success">Xác nhận</button>

                                </div>

                            </div>

                        </form>


                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<!--copy row quotation-->
<table class="table table-bordered">

    <tbody>
    <tr class="quotation_row" id="original_quotation_copy">
        <td><textarea class="quotation_title" name="quotation_title[]" type="text" style="width:90%" required></textarea></td>
        <td><input class="quotation_quantity"  name="quotation_quantity[]" type="number" min="0"  style="width:80%" ></td>
        <td><input class="quotation_total_price"  name="quotation_total_price[]" type="number" min="0" style="width:90%" required></td>
        <td> <i class="icon icon-minus-sign btn_remove_quotation" style="font-size: 20px; color: red; margin: 5px" ></i> </td>
    </tr>
    </tbody>
</table>
<!--end copy row quotation-->



<script type="text/javascript" src="/js/sweetalert2.all.min.js"></script>
<link rel="stylesheet" href="/js/slide-image/magnific-popup.css">
<script src="/js/slide-image/jquery.magnific-popup.js"></script>

<link rel="stylesheet" type="text/css" href="<?php echo HOST ?>css/select2.min.css">
<script type="text/javascript" src="<?php echo HOST ?>js/select2.min.js"></script>
<script type="text/javascript" src="/js/bootstrap-datetimepicker.min.js"></script>
<link rel="stylesheet" type="text/css" href="/css/bootstrap-datetimepicker.min.css"/>

<script>
    $(document).ready(function () {
        $("#shop_length, #shop_width").keyup(function(){
            var shop_length = $('#shop_length').val() ? $('#shop_length').val() : 0;
            var shop_width = $('#shop_width').val() ? $('#shop_width').val() : 0;
            var acreage  = (shop_length * shop_width).toFixed(2);

            $('#acreage').text(acreage);
        });

        $('#sel_construct_type').on('change', function() {
            var construct_type = $(this).val();

            if (construct_type == 1) {
                $('#size_shop').show();
                $('#shop_length').attr('required', true);
                $('#shop_width').attr('required', true);
            } else {
                $('#size_shop').hide();
                $('#shop_length').attr('required', false);
                $('#shop_width').attr('required', false);
            }
        });

        $('#btn_show_category').click(function () {
            $('#table_category').show();
        });

        // thêm bớt chi phí
        // init
        var quotation_copy = "<tr class='quotation_row'>" + $('#original_quotation_copy').html() + "</tr>";
        $('#original_quotation_copy').remove();
        const VAT = 0.1;
        // add quotation
        $('.quotation').on('click', '.btn_add_quotation', function() {
            // let quotation_copy = "<tr class='quotation_row'>" + $(this).parent('.quotation').find('.quotation_row').html() + "</tr>";

            $(this).parents('.quotation').find('#quotation_container').append(quotation_copy);

            let last_quotation = $(this).parent('.quotation').find('#quotation_container').find('.quotation_row').last();
            let quotation_title = last_quotation.find('.quotation_title');
            let quotation_quantity = last_quotation.find('.quotation_quantity');
            let quotation_total_price = last_quotation.find('.quotation_total_price');

            quotation_title.attr('value', '');
            quotation_quantity.attr('value', '');
            quotation_total_price.attr('value', '');
        });
        //remove quotation
        $('.quotation').on('click', '.btn_remove_quotation', function() {

            let quotation = $(this).parent().parent().parent().parent().parent();

            if ( $(this).parent().parent().attr('id') !== 'original_quotation') {
                $(this).parent().parent().remove();
            }

            calculatePriceQuotation(quotation);
        });

        //  calculate total price quotation
        $('.quotation').on('keyup', '.quotation_total_price', function() {
            let quotation = $(this).parent().parent().parent().parent().parent();
            calculatePriceQuotation(quotation);
        });

        function calculatePriceQuotation(quotation) {
            let total_quotation = 0;
            quotation.find('.quotation_total_price').each(function() {
                total_quotation += Number($(this).val());
            });

            total_money = total_quotation + total_quotation * VAT;

            quotation.find('.total_quotation').text(formatMoney2(total_money, 'VNĐ'));
        }
        function formatMoney2(n, currency) {
            return n.toFixed(0).replace(/./g, function(c, i, a) {
                return i > 0 && c !== "." && (a.length - i) % 3 === 0 ? "," + c : c;
            })+" "+currency;
        }

        // chụp hình
        var image_type = '';
        var list_show_image;
        $(document).on('click', '.take-picture', function () {
            image_type = $(this).attr('image_type');
            list_show_image = $(this).parents('.div_image').find('.list-image'); // chỗ để show hình

            _Camera.getPicture(takenImage)
        });

        $(document).on('click', '.take-file', function () {
            image_type = $(this).attr('image_type'); // loại hình
            list_show_image = $(this).parents('.div_image').find('.list-image'); // chỗ để show hình
            if (isWebPlatform()) {

                $(this).parents('.row-fluid').find('.file-tmp').click();
                $(document).on('change', '.file-tmp', function () {

                    for (let i = 0; i < this.files.length; i++) {
                        let file = this.files[i];

                        if (!file.type.startsWith('image/')) {
                            alert('Bạn chỉ được chọn file ảnh!');
                        }else {
                            convertFileToBase64(file, takenImage);
                        }

                    }
                    this.value = '';
                });
            } else {
                _ImagePicker.getPictures(function (files) {
                    for (let i = 0; i < files.length; i++) {
                        takenImage(files[i]);
                    }
                });
            }
        });

        function takenImage(imageBase64) {
            var name_attr = image_type + '[]';
            var html_input_image = '<input type="hidden" name="' + name_attr +'" />';

            let image = $('<img alt="Loading..." height="250" width="250" >');
            let input_image = $(html_input_image);
            let div = $('<div class="image" />');
            let divWrapper = $('<div class="removable-image"><i class="icon icon-remove pull-right remove_image"></i></div>');

            image.appendTo(div);
            input_image.appendTo(div);
            divWrapper.appendTo(div);

            div.appendTo(list_show_image);

            createThumbnail(imageBase64, 600, function (thumbnailBase64) {
                image.attr('src', thumbnailBase64);
                input_image.attr('value', thumbnailBase64);
                // $('#list-image').trigger('change');

            })
        }

        $(document).on('click', '.remove_image', function() {
             $(this).closest('.list-image').find('.val_img').val('');
             $(this).closest('.image').remove();

        });


        // select area và shop
        $('.search_shop').select2();



        $( "#select_store" ).change(function() {
            
            var store_id = $(this).val();
            
            $.ajax({
                url: "/trade/get-info-shop",
                type: "GET",
                dataType: "text",
                context: this,
                data: "store_id="+store_id,
                beforeSend: function() {
                    $(".loading").show();                   
                },
                success: function(result){
                    if(result)
                    {

                        var data = jQuery.parseJSON(result);

                        var code = data.code;
                        var sell_out = data.sellout;
                        var data = data.data;
                        if(sell_out.length > 0){
                            var table_sell_out = "<table class='table'>";
                            for(i=0;i<sell_out.length;i++){
                                table_sell_out += "<tr><td>THÁNG: " + sell_out[i].month + "</td><td>SELLOUT: " + sell_out[i].number_imei + "</td><td>LEVEL: " + sell_out[i].level + "</td></tr>";
                            }
                            table_sell_out += "</table>";
                        }
                        
                        if(data.length > 0){
                            table = "<b >Hiện trạng tại shop</b><br><br><table class='table'><tr><th>Hạng mục</th><th>Số lượng</th></tr>";
                            for(i=0;i<data.length;i++){
                                var imei_sn = data[i].imei_sn ? "<br>("+data[i].imei_sn+")" : "";
                                var imei_infi = data[i].imei_sn;
                                
                                table += "<tr><td>"+data[i].category_name+"</td><td>"+data[i].quantity+" "+"</td></tr>";
                            }
                            table += "</table>";
                        }
                        else{
                            table = "<b style='color:red'>Không có hạng mục nào tại shop</b>";
                        }

                        $('#info_store').html(table);
   
                        
                    }
                    else
                    {   
                        alert("Error Ajax result NULL");
                    }

                },
                error:function(){
                    alert("Error Ajax");
                }
            });
            
        });

        // silde image
        $('.img_slide').click(function () {
            var popup_gallery = $(this).parents('.popup-gallery');
            popup_gallery.magnificPopup({
                delegate: 'a',
                type: 'image',
                tLoading: 'Loading image #%curr%...',
                mainClass: 'mfp-img-mobile',
                gallery: {
                    enabled: true,
                    navigateByImgClick: true,
                    preload: [0,1] // Will preload 0 - before current, and 1 after the current image
                },
                image: {
                    tError: '<a href="%url%">The image #%curr%</a> could not be loaded.',
                    titleSrc: function(item) {
                        // return item.el.attr('title') + '<small>by Marsel Van Oosten</small>';
                    }
                }
            });

        })
        // end slide image

        // review cost
        $(document).on('click', '.review_cost', function() {
            var value = $(this).val();
            var table_review_cost = $(this).parents('.quotation').find('.table_review_cost');
            if (value == 2) {
                table_review_cost.show();
            }
            if (value == 1) {
                table_review_cost.hide();
                table_review_cost.find('#quotation_container').empty();
            }
        });

        $('.month_debt').datetimepicker({
            weekStart: 1,
            clear: true,
            minView: 3,
            startView: 3,
            minViewMode: 3,
            autoclose: true,
            format: 'mm/yyyy'
        });

        $('#form_submit').submit(function (e) {
            e.preventDefault();

            Swal.fire({
                title: 'Đang thực hiện...',
                // allowOutsideClick: false,
                onBeforeOpen: () => {
                    Swal.showLoading();
                }
            });

            $.ajax({
                url: '/trade/construct-obs-approve',
                type: 'post',
                data: new FormData(this),
                dataType: 'json',
                success: function (data) {
                    if (data.status === 0) {
                        Swal.fire({
                            type: 'success',
                            title: 'Thành công',
                            showConfirmButton: false,
                            timer: 1500
                        });

                        // window.location.href = '/trade/check-shop-entire-product-create?check_shop_id=' + data.check_shop_id;

                        setTimeout(function() {
                            location.reload();
                        },700)
                    } else {
                        Swal.fire({
                            type: 'warning',
                            title: data.message,
                            showConfirmButton: false,
                            timer: 5000
                        });
                    }
                },
                contentType: false,
                cache: false,
                processData: false
            });
        })
//

    });
</script>