
<style type="text/css">

    .content_tad table tr th {
        padding: 2px
    }

    .content_tad {
        padding: 5px ! important;
    }



    .table tr td {
        text-align: center;
    }

    th, td {
        vertical-align: middle !important;
    }


    #loading-image{
        position: absolute;
        width: 100%;
        height: 100%;
        z-index: 1000;
        background:  center no-repeat #fff;
        /*background: url(/photo/loading/Preloader_1.gif) center no-repeat #fff;*/
    }
    @-webkit-keyframes blinker {
        from {opacity: 1.0;}
        to {opacity: 0.0;}
    }

    .header_tad {
        /*background: #2AAD6F ! important;*/
        box-shadow:1px 1px 3px 1px #d2e4dd;
        color:white;
        border-bottom: none
    }

    .total_cost {
        margin-left:80%
    }
</style>

<h3><span>Đợt POSM: </span>Đặt hàng cho nhà sản xuất POSM Test mẫu trên thị trường</h3>
<br>
<?php
if (isset($this->messages_success) and $this->messages_success)
    foreach ($this->messages_success as $messages_success):
        echo '<div class="alert alert-success">'.$messages_success.'</div>';
    endforeach;

if (isset($this->messages_error) and $this->messages_error)
    foreach ($this->messages_error as $messages_error):
        echo '<div class="alert alert-danger">'.$messages_error.'</div>';
    endforeach;
?>
<div class="content-layout">
    <div id="loading-image"></div>

    <div class="row">
        <div class="span12">
                <form action="/trade/contract-to-purchasing" method="POST">
                <div class="content_tad">
                    <div class="content_content" >
                        <?php foreach($this->contructor_category as $contructor):?>
                        <div>
                            <div class="header_tad" style="background: #3477b9  !important;">
                                <i class="icon icon-tasks"></i> <?php echo $contructor['contructor_name'];?>
                            </div>

                            <div style="border: 1px solid #669fd6; padding:10px; box-shadow: 4px 4px 5px 0px #e1edf9">
                                <table class="table ">
                                    <thead>
                                    <tr>
                                        <th>Hạng mục</th>
                                        <th>Số lượng</th>
                                        <th>Chi phí</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                        <?php $total_cost = 0;?>
                                        <?php foreach($contructor['category_list'] as $category):?>
                                        
                                        <?php $total_cost = $total_cost + $category['total_price'];?>
                                        
                                        <tr>
                                            <td><?php echo $category['category_name'];?></td>
                                            <td><?php echo number_format($category['total_quantity']);?></td>
                                            <td><?php echo number_format($category['total_price']);?></td>
                                        </tr>
                                        <?php endforeach;?>
                                    </tbody>
                                </table>
                                
                                <div class="control-group">											
                                    <label class="control-label" for="urgent_date">Số hợp đồng:<b style="color:red">(*)</b></label>
                                    <div class="controls">
                                        <input type="text" class="span6" id="urgent_date" name="urgent_date" value="" required="" autocomplete="off">
                                    </div>				
                                </div>

                                <div class="total_cost">
                                    <div>
                                        VAT: <b>10%</b>
                                    </div>
                                    <div>
                                        <!-- 1.1 is VAT -->
                                        Tổng chi phí: <b><?php echo number_format($total_cost * 1.1) ; ?> VNĐ</b>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <br>
                        <?php endforeach;?>
                            
                        <!--Purchasing Info-->    
                        <div >
                            <div class="header_tad" style="background: darkorchid !important;">
                                <i class="icon icon-remove-sign"></i> PURCHASING REQUEST INFO
                            </div>

                            <div style="border: 1px solid darkorchid; padding:10px; box-shadow: 4px 4px 5px 0px darkorchid">
                                <div class="control-group">											
                                    <label class="control-label" for="urgent_date">Urgent Date:<b style="color:red">(*)</b></label>
                                    <div class="controls">
                                        <input type="text" class="span6 date" id="urgent_date" name="urgent_date" value="" required="" autocomplete="off">
                                    </div>				
                                </div>
                            </div>

                        </div>

                    </div>

                    <hr style="border-color: darkslategrey;">
                    <!--1.1 is VAT-->
                    <h2>Tổng chi phí: <b style="color:#008b56"><?php echo number_format(($total_cost_air + $total_cost_repair + $total_cost_transfer + $total_cost_destruction ) * 1.1 ); ?> VNĐ</b></h2>
                    <br><br>
                </div>
            
                
                    <div class="form-actions">
                        <input type="hidden" name="contract_number" value="<?php echo $this->params['contract_number']; ?>" />
                        <button type="submit" class="btn btn-primary" name="submit" value="1">Create Purchasing Request</button> 
                    </div>
                </form>
            
        </div>
    </div>
</div>

<script language="javascript" type="text/javascript" src="/js/full-calendar/fullcalendar.min.js"></script>

<script type="text/javascript" src="/js/jquery-ui-1.8.12.custom.min.js"></script>
<link rel="stylesheet" type="text/css" href="/css/jquery-ui-1.8.12.custom.css"/>

<script>
    $(window).on('load', function() {
        // Animate loader off screen
        $("#loading-image").fadeOut("slow");
        
        $('.date').datepicker({dateFormat: "yy-mm-dd"});
        
    });
</script>