
<style type="text/css">
    .row_child {
        display: block;
        float: left;
        border-bottom: 1px solid #efe8e8;
        width: 100%;
        padding: 10px
    }
    .row_child i{
        line-height: 28px !important;
    }
    .row_child .btn_child{
        text-align: center;
        margin: 10px;
    }

</style>

<div class="content-layout">

<div class="row">
    <h3><?php echo $this->campaign_category[0]['contractor_name'];?></h3>
<div class="span6">
    <div class="table_main" style="margin-top: 7px;">

        <div class="header_tad"><i class="icon-list-alt"></i> DANH SÁCH PHIẾU ĐIỀU CHUYỂN</div>
        <div class="content_tad">

            <div class="content_content" style="min-height: 405px;">

                <?php foreach($this->contractor_out as $key=>$value):?>
                <div class="row_child">

                    <div class="right_child">
                        <div class="cat_name">Nhà cung cấp: <?php echo $value['short_name'];?></div>
                        <div class="campaign_name">Hạng mục: <?php echo $value['category_name'];?></div>
                        <div class="campaign_name">Khu vực nhận: <?php echo $value['area_name'];?></div>
                        <div class="quantity_name">Số lượng Vận chuyển: <?php echo $value['quantity'];?>/ Số lượng Đã xuất kho: <?php echo $value['quantity_out'];?></div>
                        <div class="btn_child">
                            <a href="<?php echo HOST;?>trade/contractor-out?id=<?php echo $value['id'];?>" class="btn btn-linkedin-alt"><i class="icon-large icon-truck pull-right"></i> Scan Xuất Kho</a>
                            
                        </div>
                    </div>

                </div>
                <?php endforeach;?>

            </div>
            <!-- content-content-->

        </div>
    </div>
</div>
<!-- span6-->
<!-- end trade T?NG Ð?U TU-->
</div>

</div>
<!-- row-->
