
<style type="text/css">

    .content_tad table tr th {
        padding: 2px
    }

    .content_tad {
        padding: 5px ! important;
    }



    .table tr td {
        text-align: center;
    }

    th, td {
        vertical-align: middle !important;
    }


    #loading-image{
        position: absolute;
        width: 100%;
        height: 100%;
        z-index: 1000;
        background:  center no-repeat #fff;
        /*background: url(/photo/loading/Preloader_1.gif) center no-repeat #fff;*/
    }
    @-webkit-keyframes blinker {
        from {opacity: 1.0;}
        to {opacity: 0.0;}
    }

    .header_tad {
        /*background: #2AAD6F ! important;*/
        box-shadow:1px 1px 3px 1px #d2e4dd;
        color:white;
        border-bottom: none
    }

    .total_cost {
        margin-left:80%
    }
</style>

<h3><span>Số hợp đồng: </span><?php echo $this->params['contract_number']; ?></h3>
<h3><span>Nhà thầu: </span><?php echo $this->contractor_name; ?></h3>
<br>
<?php
if (isset($this->messages_success) and $this->messages_success)
    foreach ($this->messages_success as $messages_success):
        echo '<div class="alert alert-success">'.$messages_success.'</div>';
    endforeach;

if (isset($this->messages_error) and $this->messages_error)
    foreach ($this->messages_error as $messages_error):
        echo '<div class="alert alert-danger">'.$messages_error.'</div>';
    endforeach;
?>
<div class="content-layout">
    <div id="loading-image"></div>

    <div class="row">
        <div class="col-12 col-md-10 p-0">
                <form action="/trade/contract-to-purchasing" method="POST">
                <div class="content_tad">
                    <div class="content_content" >
                        <!--Thi công-->
                        <?php if ($this->list_air_contract) : ?>
                            <?php  $total_cost_air = 0; ?>
                            <div >
                                <div class="header_tad" style="background: #3477b9  !important;">
                                    <i class="icon icon-tasks"></i> THI CÔNG
                                </div>

                                <div style="border: 1px solid #669fd6; padding:10px; box-shadow: 4px 4px 5px 0px #e1edf9">
                                    <table class="table ">
                                        <thead>
                                        <tr>
                                            <th style="width:30%">Tên shop</th>
                                            <th style="width:15%">Hạng mục</th>
                                            <th>Chi phí</th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        <?php foreach ($this->list_air_contract as $air_detail) :?>
                                            <tr>
                                                <td>
                                                    <a href="/trade/air-edit?id=<?php echo $air_detail['id']; ?>">
                                                        <?php echo $air_detail['store_name']; ?>
                                                    </a>
                                                </td>
                                                <td><?php echo $air_detail['category_name']; ?></td>
                                                <td>
                                                    <?php if ($this->list_air_cost[$air_detail['detail_id']]) : ?>
                                                    
                                                        <table class="table">
                                                            <thead>
                                                            <tr>
                                                                <th style="width:60%">Nội dung</th>
                                                                <th style="width:5%">Số lượng</th>
                                                                <th>Chi phí</th>
                                                            </tr>
                                                            </thead>
                                                            <tbody>
                                                            <?php foreach ($this->list_air_cost[$air_detail['detail_id']] as $air_cost) :?>
                                                                <tr>
                                                                    <td><?php echo $air_cost['title']; ?></td>
                                                                    <td><?php echo $air_cost['quantity']; ?></td>
                                                                    <td><?php echo number_format($air_cost['total_price']); ?></td>
                                                                </tr>
                                                                <?php  $total_cost_air += $air_cost['total_price']; ?>
                                                            <?php endforeach; ?>
                                                            </tbody>
                                                        </table>

                                                    <?php else : ?>
                                                        <i>Đề xuất chưa được xác nhận chi phí thanh toán</i>
                                                    <?php endif; ?>
                                                </td>
                                            </tr>
                                        <?php endforeach; ?>
                                        </tbody>
                                    </table>

                                    <div class="total_cost">
                                        <div>
                                            VAT: <b>10%</b>
                                        </div>
                                        <div>
                                            <!-- 1.1 is VAT -->
                                            Tổng chi phí: <b><?php echo number_format($total_cost_air * 1.1) ; ?> VNĐ</b>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <br>

                        <?php endif; ?>


                        <!--Sửa chữa-->
                        <?php if ($this->list_repair_contract) : ?>
                            <?php  $total_cost_repair = 0; ?>
                            <div >
                                <div class="header_tad" style="background: orangered !important;">
                                    <i class="icon-wrench"></i> SỬA CHỮA
                                </div>

                                <div style="border: 1px solid #f77443; padding:10px; box-shadow: 4px 4px 5px 0px #fbe8e1">

                                    <table class="table ">
                                        <thead>
                                        <tr>
                                            <th style="width:30%">Tên shop</th>
                                            <th style="width:15%">Hạng mục</th>
                                            <th>Chi phí</th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        <?php foreach ($this->list_repair_contract as $repair_detail) :?>
                                            <tr>
                                                <td>
                                                    <a href="/trade/repair-edit?id=<?php echo $repair_detail['id']; ?>">
                                                        <?php echo $repair_detail['store_name']; ?>
                                                    </a>
                                                </td>
                                                <td><?php echo $repair_detail['category_name']; ?></td>
                                                <td>
                                                    <?php if ($this->list_repair_cost[$repair_detail['detail_id']]) : ?>
                                                        <table class="table">
                                                            <thead>
                                                            <tr>
                                                                <th style="width:60%">Nội dung</th>
                                                                <th style="width:5%">Số lượng</th>
                                                                <th>Chi phí</th>
                                                            </tr>
                                                            </thead>
                                                            <tbody>
                                                            <?php foreach ($this->list_repair_cost[$repair_detail['detail_id']] as $repair_cost) :?>
                                                                <tr>
                                                                    <td><?php echo $repair_cost['title']; ?></td>
                                                                    <td><?php echo $repair_cost['quantity']; ?></td>
                                                                    <td><?php echo number_format($repair_cost['total_price']); ?></td>
                                                                </tr>
                                                                <?php  $total_cost_repair += $repair_cost['total_price']; ?>
                                                            <?php endforeach; ?>
                                                            </tbody>
                                                        </table>
                                                    <?php else : ?>
                                                        <i>Đề xuất chưa được xác nhận chi phí thanh toán</i>
                                                    <?php endif; ?>



                                                </td>
                                            </tr>
                                        <?php endforeach; ?>
                                        </tbody>
                                    </table>

                                    <div class="total_cost">
                                        <div>
                                            VAT: <b>10%</b>
                                        </div>
                                        <div>
                                            <!-- 1.1 is VAT -->
                                            Tổng chi phí: <b><?php echo number_format($total_cost_repair * 1.1) ; ?> VNĐ</b>
                                        </div>
                                    </div>


                                </div>

                            </div>
                            <br>
                        <?php endif; ?>


                        <!--Điều chuyển-->
                        <?php if ($this->list_transfer_contract) : ?>
                            <?php  $total_cost_transfer = 0; ?>
                            <div >
                                <div class="header_tad" style="background: #008B56 !important;">
                                    <i class="icon icon-truck"></i> ĐIỀU CHUYỂN
                                </div>

                                <div style="border: 1px solid #87c5a8; padding:10px; box-shadow: 4px 4px 5px 0px #a4ccbc">
                                    <table class="table ">
                                        <thead>
                                        <tr>
                                            <th style="width:30%">Tên shop</th>
                                            <th style="width:15%">Hạng mục</th>
                                            <th>Chi phí</th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        <?php foreach ($this->list_transfer_contract as $transfer) :?>
                                            <tr>
                                                <td>
                                                    <a href="/trade/transfer-edit?id=<?php echo $transfer['id']; ?>">
                                                        <?php echo $transfer['store_name']; ?>
                                                    </a>
                                                </td>
                                                <td>
                                                    <?php foreach (explode(',', $transfer['category_name']) as $category) :?>
                                                        <?php echo $category; ?><br>
                                                    <?php endforeach; ?>
                                                </td>
                                                <td>
                                                    <?php if ($this->list_transfer_cost[$transfer['id']]) : ?>
                                                        <table class="table">
                                                            <thead>
                                                            <tr>
                                                                <th style="width:60%">Nội dung</th>
                                                                <th style="width:5%">Số lượng</th>
                                                                <th>Chi phí</th>
                                                            </tr>
                                                            </thead>
                                                            <tbody>
                                                            <?php foreach ($this->list_transfer_cost[$transfer['id']] as $transfer_cost) :?>
                                                                <tr>
                                                                    <td><?php echo $transfer_cost['title']; ?></td>
                                                                    <td><?php echo $transfer_cost['quantity']; ?></td>
                                                                    <td><?php echo number_format($transfer_cost['total_price']); ?></td>
                                                                </tr>

                                                                <?php  $total_cost_transfer += $transfer_cost['total_price']; ?>
                                                            <?php endforeach; ?>
                                                            </tbody>
                                                        </table>
                                                    <?php else : ?>
                                                        <i>Đề xuất chưa được xác nhận chi phí thanh toán</i>
                                                    <?php endif; ?>
                                                </td>
                                            </tr>
                                        <?php endforeach; ?>
                                        </tbody>
                                    </table>


                                    <div class="total_cost">
                                        <div>
                                            VAT: <b>10%</b>
                                        </div>
                                        <div>
                                            <!-- 1.1 is VAT -->
                                            Tổng chi phí: <b><?php echo number_format($total_cost_transfer * 1.1) ; ?> VNĐ</b>
                                        </div>
                                    </div>

                                </div>

                            </div>
                            <br>
                        <?php endif; ?>


                        <!--Tiêu hủy-->
                        <?php if ($this->list_destruction_contract) : ?>
                            <?php  $total_cost_destruction = 0; ?>
                            <div >
                                <div class="header_tad" style="background: darkslategrey !important;">
                                    <i class="icon icon-remove-sign"></i> TIÊU HỦY
                                </div>

                                <div style="border: 1px solid #87c5a8; padding:10px; box-shadow: 4px 4px 5px 0px #a4ccbc">
                                    <table class="table ">
                                        <thead>
                                        <tr>
                                            <th style="width:30%">Tên shop</th>
                                            <th style="width:15%">Hạng mục</th>
                                            <th>Chi phí</th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        <?php foreach ($this->list_destruction_contract as $destruction) :?>
                                            <tr>
                                                <td>
                                                    <a href="/trade/destruction-edit?id=<?php echo $destruction['id']; ?>">
                                                        <?php echo $destruction['store_name']; ?>
                                                    </a>
                                                </td>
                                                <td>
                                                    <?php foreach (explode(',', $destruction['category_name']) as $category) :?>
                                                        <?php echo $category; ?><br>
                                                    <?php endforeach; ?>
                                                </td>
                                                <td>
                                                    <?php if ($this->list_destruction_cost[$destruction['id']]) : ?>
                                                        <table class="table">
                                                            <thead>
                                                            <tr>
                                                                <th style="width:60%">Nội dung</th>
                                                                <th style="width:5%">Số lượng</th>
                                                                <th>Chi phí</th>
                                                            </tr>
                                                            </thead>
                                                            <tbody>
                                                            <?php foreach ($this->list_destruction_cost[$destruction['id']] as $destruction_cost) :?>
                                                                <tr>
                                                                    <td><?php echo $destruction_cost['title']; ?></td>
                                                                    <td><?php echo $destruction_cost['quantity']; ?></td>
                                                                    <td><?php echo number_format($destruction_cost['total_price']); ?></td>
                                                                </tr>
                                                            
                                                                <?php $total_cost_destruction += $destruction_cost['total_price']; ?>
                                                            <?php endforeach; ?>
                                                            </tbody>
                                                        </table>
                                                    <?php else : ?>
                                                        <i>Đề xuất chưa được xác nhận chi phí thanh toán</i>
                                                    <?php endif; ?>
                                                </td>
                                            </tr>
                                        <?php endforeach; ?>
                                        </tbody>
                                    </table>


                                    <div class="total_cost">
                                        <div>
                                            VAT: <b>10%</b>
                                        </div>
                                        <div>
                                            <!-- 1.1 is VAT -->
                                            Tổng chi phí: <b><?php echo number_format($total_cost_destruction * 1.1) ; ?> VNĐ</b>
                                        </div>
                                    </div>
                                </div>

                            </div>
                            <br>
                        <?php endif; ?>
                            
                        <!--Purchasing Info-->    
                        <div >
                            <div class="header_tad" style="background: darkorchid !important;">
                                <i class="icon icon-remove-sign"></i> PURCHASING REQUEST INFO
                            </div>

                            <div style="border: 1px solid darkorchid; padding:10px; box-shadow: 4px 4px 5px 0px darkorchid">
                                <div class="control-group">											
                                    <label class="control-label" for="urgent_date">Urgent Date:<b style="color:red">(*)</b></label>
                                    <div class="controls">
                                        <input type="text" class="span6 date" id="urgent_date" name="urgent_date" value="" required="" autocomplete="off">
                                    </div>				
                                </div>
                            </div>

                        </div>

                    </div>

                    <hr style="border-color: darkslategrey;">
                    <!--1.1 is VAT-->
                    <h2>Tổng chi phí: <b style="color:#008b56"><?php echo number_format(($total_cost_air + $total_cost_repair + $total_cost_transfer + $total_cost_destruction ) * 1.1 ); ?> VNĐ</b></h2>
                    <br><br>
                </div>
            
                
                    <div class="form-actions">
                        <input type="hidden" name="contract_number" value="<?php echo $this->params['contract_number']; ?>" />
                        <button type="submit" class="btn btn-primary" name="submit" value="1">Create Purchasing Request</button> 
                    </div>
                </form>
            
        </div>
    </div>
</div>

<script language="javascript" type="text/javascript" src="/js/full-calendar/fullcalendar.min.js"></script>

<script type="text/javascript" src="/js/jquery-ui-1.8.12.custom.min.js"></script>
<link rel="stylesheet" type="text/css" href="/css/jquery-ui-1.8.12.custom.css"/>

<script>
    $(window).on('load', function() {
        // Animate loader off screen
        $("#loading-image").fadeOut("slow");
        
        $('.date').datepicker({dateFormat: "yy-mm-dd"});
        
    });
</script>