<style>
    th,{
        text-align: center ! important;
    }

    #loading-image{
        position: absolute;
        width: 100%;
        height: 100%;
        z-index: 1000;
        background:  center no-repeat #fff;
        /*background: url(/photo/loading/Preloader_1.gif) center no-repeat #fff;*/
    }
</style>
<div class="content-layout">
    <div id="loading-image"></div>

    <div class="row">
        <div class="col-12 col-md-10 p-0">
            <div class="table_main" style="margin-top: 7px;">
                <div class="header_tad">
                    <i class="icon-list-alt"></i> DANH SÁCH SỐ HỢP ĐỒNG
                </div>
                <div class="content_tad">
                    <div class="content_content" style="min-height: 405px;">
                        <!-- Khung search -->
                        <div class="accordion-group">
                            <div class="accordion-heading">
                                <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapseTwo">
                                    Search
                                </a>
                            </div>
                            <div id="collapseTwo" class="accordion-body collapse" style="height: 0px;">
                                <div class="accordion-inner">

                                    <form action="/trade/contract-number-list" method="get" enctype="multipart/form-data" autocomplete="off">

                                        <div class="control-group">
                                            <label class="control-label" for="name">Số hợp đồng</label>
                                            <div class="controls">
                                                <input type="text" name="contract_number" class="span3" value="<?php echo !empty($this->params['contract_number']) ? $this->params['contract_number'] : '';?>">
                                            </div> <!-- /controls -->
                                        </div>



                                        <input class="btn btn-success" type="submit" name="submit" value="Tìm">

                                    </form>
                                </div>
                            </div>
                        </div>
                        <!-- END Khung search -->

                        <table class="table table-striped">
                            <thead>
                            <tr>
                                <th style="width:25%">Số hợp đồng</th>
                                <th style="width:45%">Đề xuất</th>
                                <th style="width:20%">Tổng chi phí</th>
                                <th style="width:10%">Thao tác</th>
                            </tr>
                            </thead>
                            <tbody>
                            <?php foreach ($this->list_contract as $contract) :?>
                                <?php $total_cost = 0 ; ?>
                                <tr>
                                    <td><?php echo $contract; ?></td>
                                    <td>
                                        <?php if ($this->list_air_detail[$contract]) : ?>
                                            <b style="color:dodgerblue">- Thi công:</b><br>
                                            <?php foreach ($this->list_air_detail[$contract] as $air_detail) :?>
                                                <a href="/trade/air-edit?id=<?php echo $air_detail['id']; ?>">
                                                     &ensp; &bull; <?php echo $air_detail['store_name']; ?>
                                                </a>
                                                <br>

                                                <?php $total_cost += $air_detail['cost']; ?>
                                            <?php endforeach; ?>
                                        <?php endif; ?>

                                        <?php if ($this->list_repair_detail[$contract]) : ?>
                                            <b style="color: orangered">- Sửa chữa:</b><br>
                                            <?php foreach ($this->list_repair_detail[$contract] as $repair_detail) :?>
                                                 <a href="/trade/repair-edit?id=<?php echo $repair_detail['id']; ?>">
                                                     &ensp; &bull; <?php echo $repair_detail['store_name']; ?><br>
                                                </a>
                                                <?php $total_cost += $repair_detail['cost']; ?>
                                            <?php endforeach; ?>
                                        <?php endif; ?>

                                        <?php if ($this->list_transfer_detail[$contract]) : ?>
                                            <b style="color: #0fcd0b">- Điều chuyển: </b><br>
                                            <?php foreach ($this->list_transfer_detail[$contract] as $transfer_detail) :?>

                                            <a href="/trade/transfer-edit?id=<?php echo $transfer_detail['id']; ?>">
                                                &ensp;  &bull; <?php echo $transfer_detail['store_name']; ?><br>
                                            </a>
                                                <?php $total_cost += $transfer_detail['cost']; ?>
                                            <?php endforeach; ?>
                                        <?php endif; ?>

                                        <?php if ($this->list_destruction_detail[$contract]) : ?>
                                            <b style="color: darkslategrey">- Tiêu hủy:</b><br>
                                            <?php foreach ($this->list_destruction_detail[$contract] as $destruction_detail) :?>
                                             <a href="/trade/destruction-edit?id=<?php echo $destruction_detail['id']; ?>">
                                                  &ensp; &bull; <?php echo $destruction_detail['store_name']; ?><br>
                                             </a>
                                                <?php $total_cost += $destruction_detail['cost']; ?>
                                            <?php endforeach; ?>
                                        <?php endif; ?>
                                    </td>


                                    <td style="text-align: center">
                                        <b><?php echo $total_cost ? number_format($total_cost) : ''; ?></b>
                                    </td>

                                <td style="text-align: center">
                                    <a href="/trade/contract-number-detail?contract_number=<?php echo $contract; ?>"><b>Chi tiết »</b></a>
                                </td>
                            </tr>
                            <?php endforeach; ?>
                            </tbody>
                        </table>
                        <div class="paging" style="height:80px;">
                            <?php echo $this->paging($this->total, $this->limit, $this->offset, $this->url, NULL, 5);?>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<script>
    $(window).on('load', function() {
        // Animate loader off screen
        $("#loading-image").fadeOut("slow");
    });
</script>
