<style type="text/css">
    .e_column{display: block;float: left;margin:0px 10px 0px 0px;}
    .e_row{display: block; width:100%;overflow: hidden;}
    .category_price{display: none}
    .category_price_log{display: none}
    .change{background:#ffdddd !important}
    
    .select2-container--default .select2-selection--single{font-size: 12px}
    .select2-dropdown{font-size: 12px;}
</style>

<script type="text/javascript" src="/js/jquery-ui-1.8.12.custom.min.js"></script>
<link rel="stylesheet" type="text/css" href="/css/jquery-ui-1.8.12.custom.css"/>
<link rel="stylesheet" type="text/css" href="<?php echo HOST ?>css/select2.min.css">
<script type="text/javascript" src="<?php echo HOST ?>js/select2.min.js"></script>

<div class="content-layout">
    <div class="page-header">
        <h1><?php echo $this->contractor['name'];?></h1>
    </div><!-- page-header -->

 <?php
    if (isset($this->messages) and $this->messages)
        foreach ($this->messages as $message):
            echo '<div class="alert alert-success">'.$message.'</div>';
        endforeach;

    if (isset($this->messages_error) and $this->messages_error)
        foreach ($this->messages_error as $message):
            echo '<div class="alert alert-error">'.$message.'</div>';
        endforeach;
?>   
    <div class="container-fluid">

        <section class="">

        <form action="" method="POST" enctype="multipart/form-data">
            <div class="container">

                <div class="e_row category_price">

                    <div class="e_column">
                        <label class="">Hạng mục</label>
                        <div class="">
                            <select name='category[]' class="contructor">
                                <option value=''>--Select--</option>
                                <?php foreach($this->category_code as $k=>$v):?>
                                <option value='<?php echo $v['id'];?>' code='<?php echo $v['code'];?>'><?php echo $v['name'];?></option>
                                <?php endforeach;?>
                            </select>
                        </div>

                    </div>
                    
                    <div class="e_column">
                        <label class="">Code</label>
                        <div class="">
                            <input type="text" class="code" name='code[]' readonly="" value="">
                        </div>
                    </div>

                    <div class="e_column">
                        <label class="">Giá:</label>
                        <div class="">
                        <input type="number" name="price[]" class="price">
                        <a class="btn btn-danger remove_row"> - </a>
                        </div>
                    </div>


                </div><!-- e_row -->

                <div class="content_mid">
                   <?php foreach($this->contractor_price as $key=>$value):?>
                    <div class="e_row">

                        <div class="e_column">
                            <label class="">Hạng mục</label>
                            <div class="">
                                <input type="hidden" class="contractor" name='' readonly="" value="<?php echo $value['category_id'];?>">
                                <input type="text" class="contractor" name='' readonly="" value="<?php echo $value['category_name'];?>">
                            </div>
                        </div>
                        
                        <div class="e_column">
                            <label class="">Code</label>
                            <div class="">
                                <input type="text" class="code" name='' readonly="" value="<?php echo $value['category_code'];?>">
                            </div>
                        </div>
                        <div class="e_column">
                            <label class="">Giá:</label>
                            <div class="">
                            <input type="number" name="" class="price" readonly="" value="<?php echo $value['validated_price'];?>">
                        
                            </div>
                        </div>
                        <div class="e_column" style="margin-top: 18px;">
                            <label class=""></label>
                            <div class="">
                               <!--  <input type="number" class="price" name='price[]' value="<?php echo $value['price'];?>" required> -->
                               <a href="/trade/contractor-price-history?contractor_id=<?php echo $value['contractor_id'];?>&category_id=<?php echo $value['category_id'];?>" class="btn btn-primary"> edit </a>
                            <!-- <a class="btn btn-danger remove_row"> - </a> -->
                            <span >
                                <?php if($value['validated_price']!=NULL):?>
	                            <a class="" title="Giá còn hiệu lực"><i class="icon-check-sign" style="color: #2aad6f"></i>  </a>
                            <?php else:?>
	                            <a class="" title="Giá hết hiệu lực"><i class="icon-remove" style="color:#d61111e3"></i> </a>
                            <?php endif;?>
	                        </span>
                            </div>
                        </div>


                    </div><!-- e_row -->
                    <?php endforeach;?>
                    
                </div><!-- content_mid -->

            </div><!-- container -->

            <a class="btn btn-warning add_row">+</a>

            <input type="submit" name="submit" class="btn btn-success" value="Xác nhận">
            <a href="/trade/list-contractor-posm" class="btn btn-default" style="height: 24px; border-radius: 5px;">Quay lại</a>
        </form>
        

        </section>

    </div><!-- container-fluid -->

</div><!-- content layout-->


<script type="text/javascript">
    $(document).ready(function() {
        addrow();
        removerow();
        contractorChange();
    });
    
    function addrow(){
        $( ".add_row" ).click(function() {
            
            $('.content_mid').find('select').select2("destroy").end();
            
            category_price = $('.category_price').clone();
            category_price.removeClass('category_price');
            $('.content_mid').append(category_price);
            category_price.find('.price').prop('required',true);

            $('.content_mid').find('select').select2();
        });
    }
    
    function removerow(){

        $(document).on('click', '.remove_row', function(){
            $(this).closest('.e_row').hide();
            $(this).closest('.e_row').find('.contractor').attr('name','contractor_del[]');
            $(this).closest('.e_row').find('.price').removeAttr('required');
            
        });
    }
    
    function contractorChange(){
        $(document).on('change', '.contructor', function(){

            var contractor_id = $(this).val();
            
            var code = $('option:selected', this).attr('code');
            
            $(this).closest('.e_row').find('.code').val(code);

        });
    }
    
    
    
</script>
