<style type="text/css">
    table {
      position: relative;
      width: 1000px;
      overflow: hidden;
      border-collapse: collapse;
    }


    /*thead*/
    thead {
      position: relative;
      display: block; /*seperates the header from the body allowing it to be positioned*/
      width: 1000px;
      overflow: visible;
    }

    thead th {
      background-color: #99a;
      width: 100px;
      height: 32px;
      border: 1px solid #222;
      font-size: 11px
    }

    thead th:nth-child(1) {/*first cell in the header*/
      position: relative;
      background-color: #f5f5f5;
      width:100px;
    }


    /*tbody*/
    tbody {
      position: relative;
      display: block; /*seperates the tbody from the header*/
      width: 1000px;
      height: 400px;
      overflow: scroll;
    }

    tbody td {
      min-width: 100px;
      border: 1px solid #222;
      padding: 5px
    }

    tbody tr td:nth-child(1) {  /*the first cell in each tr*/
      position: relative;
      display: block; /*seperates the first column from the tbody*/
      height: 40px;
      background-color: #f5f5f5;
      width:100px;
    }

    table tr th{padding: 5px}

    .btn_submit{margin: 10px auto;display: block;}
    .container-fluid a{cursor: pointer;}
    .input_code{width:70px;}
    .total_row{font-size: 11px;color:red;}
    .contractor_code b{color:red;}
    .header{display: table-row;}
</style>

<div class="content-layout">
    <div class="page-header">
        <h1>Đặt hàng cho nhà sản xuất <b style="color:red"><?php echo $this->campaign['name'];?></b></h1>
    </div><!-- page-header -->


    <div class="container-fluid">
        <section class="">

          <?php
              if (isset($this->messages) and $this->messages)
                  foreach ($this->messages as $message):
                      echo '<div class="alert alert-success">'.$message.'</div>';
                  endforeach;

              if (isset($this->messages_error) and $this->messages_error)
                  foreach ($this->messages_error as $message):
                      echo '<div class="alert alert-error">'.$message.'</div>';
                  endforeach;
          ?>

          <form id="form_submit" action="/trade/contractor-category" method="POST" enctype="multipart/form-data">
          <div class="container">
            
            <!--
            <div class="control-group">
                <label class="control-label">Chọn nhà sản xuất</label>
                <div class="controls">
                    <select name="contractor_id">
                      <option value="">--Select--</option>
                      <?php foreach($this->contractor as $key=>$value):?>
                      <option value="<?php echo $value['id'];?>" <?php echo ($this->params['contractor_id'] == $value['id']) ? 'selected' : NULL;?>><?php echo $value['short_name'];?></option>
                      <?php endforeach;?>
                    </select>

                    <button type="submit" class="btn btn-primary" name="submit" value="1" style="margin-bottom: 9px">Tìm kiếm</button>
                </div>
            </div> -->

            <table class="table_main">
              <thead>
                <tr class="header">
                    <th>Khu vực</th>
                    
                    <?php foreach($this->category_campaign as $key=>$value):?>
                    <th><?php echo $value['name'];?></th>
                    <?php endforeach;?>

                </tr>
            </thead>
            
            <tbody>
            <?php foreach($this->area as $key=>$value):?>
            <tr>
                <td>
                  <?php echo $value;?><br>
                </td>

                <?php foreach($this->category_campaign as $k=>$v):?>
                <td> 
                    <?php $code = !empty($this->contractor_code[$key][$v['category_id']]) ? $this->contractor_code[$key][$v['category_id']] : NULL;?>
                    <input type="text" name="input_code[]" class="input_code" value="<?php echo $code;?>">
                    <input type="hidden" name="area_id[]" class="area_id" value="<?php echo $key;?>">
                    <input type="hidden" name="category_id[]" class="category_id" value="<?php echo $v['category_id'];?>">

                </td>
                <?php endforeach;?>
                <input type="hidden" name="confirm" class="" value="1">
                <input type="hidden" name="campaign_id" value="<?php echo $this->campaign['id'];?>">

            </tr>
            <?php endforeach;?>

            </tbody>
            </table>

            <span class="title">Upload File</span>
            <div class="upload_file">

                <div class="control-group">
                    <label class="control-label">File mẫu</label>
                    <div class="controls">
<!--                        <button type="submit" class="btn btn-warning btn_get_file" name="submit" value="2">Lấy file mẫu</button>-->
                        <a href="/trade/contractor-category?campaign_id=<?php echo $this->campaign['id']; ?>&submit=2">Tải file mẫu</a>
                    </div>
                </div><!-- control-group -->

                <div class="control-group">
                    <label class="control-label">Upload file</label>
                    <div class="controls">
                        <input type="file" name="file">
                    </div>
                </div><!-- control-group -->


            </div><!-- upload_file -->


            <?php if(in_array($this->min_status, $this->status_title) AND $this->min_status == 4):?>
            <button type="submit" class="btn btn-success btn_submit" name="submit" value="1">Xác nhận</button>
            <?php endif;?>
            <button type="submit" class="btn btn-success btn_submit" name="submit" value="1">Xác nhận</button>


        </div>
        </form>
        

        </section>

    </div><!-- container-fluid -->

</div><!-- content layout-->

<script type="text/javascript">
    $(document).ready(function() {
        
       sum_total(); 

      $('tbody').scroll(function(e) { //detect a scroll event on the tbody
        /*
        Setting the thead left value to the negative valule of tbody.scrollLeft will make it track the movement
        of the tbody element. Setting an elements left value to that of the tbody.scrollLeft left makes it maintain             it's relative position at the left of the table.    
        */
        $('thead').css("left", -$("tbody").scrollLeft()); //fix the thead relative to the body scrolling
        $('thead th:nth-child(1)').css("left", $("tbody").scrollLeft()); //fix the first cell of the header
        $('tbody td:nth-child(1)').css("left", $("tbody").scrollLeft()); //fix the first column of tdbody
      });
      
    });

    $( ".quantity_order, .contractor_code" ).click(function(e) {
        e.preventDefault(); 
        //$(this).hide();
        $(this).closest('td').find('.contractor_code').hide();
        $(this).closest('td').find('input').removeAttr('disabled');
        $(this).closest('td').find('.input_code').show();
        $(this).closest('td').find('.input_code').focus();
    });

    $(".input_code").change(function(){

        contractor_code = $(this).val();

        $(this).closest('td').find('.contractor_code').html(contractor_code);
        $(this).closest('td').find('.input_code').val(contractor_code);
        $(this).closest('td').find('.input_code').attr('value',contractor_code);
        $(this).closest('td').find('.contractor_code').show();

        sum_total();

    });

    function sum_total(){

      $( ".price" ).each(function( index ) {
        price           = $(this).closest('td').find('.input_code').find('option:selected', this).attr('price');
        quantity_order  = $(this).closest('td').find('.quantity_order').html();
        $(this).closest('td').find('.price_show').html(formatMoney(parseInt(price*quantity_order), ''));
        $(this).val(price);
      });


      sum = 0;
      /* Tính tổng tiền */
      <?php foreach($this->category_campaign as $k=>$v):?>
      var total_price_<?php echo $v['category_id'];?> = 0;
      $('.price_<?php echo $v['category_id'];?>').each(function() {
          var price = $(this);
          var q = price.closest('td').find('.quantity_order').html();
          total_price_<?php echo $v['category_id'];?> += parseInt(price.val()) * parseInt(q);;
      });

      $('.total_price_<?php echo $v['category_id'];?>').html(formatMoney(total_price_<?php echo $v['category_id'];?>, ''));

      sum += total_price_<?php echo $v['category_id'];?>;
      <?php endforeach;?>
      $('.sum').html(formatMoney(sum,''));
      /* END Tính tổng tiền */

      /* Tính tổng tiền cho khu vực */
      <?php foreach($this->area as $k=>$v):?>
      total_price_area_<?php echo $k;?> = 0;
      $('.price_area_<?php echo $k;?>').each(function() {
          var price = $(this);
          var q = price.closest('td').find('.quantity_order').html();
          total_price_area_<?php echo $k;?> += (parseInt(price.val()) * parseInt(q));
      });
      $('.total_price_area_<?php echo $k;?>').html(formatMoney(total_price_area_<?php echo $k;?>, ''));
      <?php endforeach;?>
      /* END Tính tổng tiền cho khu vực */

    }

    function formatMoney(n, currency) {
        return n.toFixed(0).replace(/./g, function(c, i, a) {
            return i > 0 && c !== "." && (a.length - i) % 3 === 0 ? "," + c : c;
        })+" "+currency;
    }

</script>
