<style type="text/css">
    .e_column{display: block;float: left;margin:0px 10px 0px 0px;}
    .e_row{display: block; width:100%;overflow: hidden;}
    .category_price{display: none}
    .category_price_log{display: none}
    .change{background:#ffdddd !important}
    
    .select2-container--default .select2-selection--single{font-size: 12px}
    .select2-dropdown{font-size: 12px;}
</style>

<script type="text/javascript" src="/js/jquery-ui-1.8.12.custom.min.js"></script>
<link rel="stylesheet" type="text/css" href="/css/jquery-ui-1.8.12.custom.css"/>
<link rel="stylesheet" type="text/css" href="<?php echo HOST ?>css/select2.min.css">
<script type="text/javascript" src="<?php echo HOST ?>js/select2.min.js"></script>

<div class="content-layout">
    <div class="page-header">
 	<h1>Lịch sử - Nhà thầu <?php echo $this->data[0]['contractor_name']?> - Hạng mục <?php echo $this->data[0]['category_name'];?></h1>
       <!--  <h3> <?php echo $this->data[0]['contractor_name']?> - <?php echo $this->data[0]['category_name'];?></h3> -->
    </div><!-- page-header -->


    <div class="container-fluid">
  <?php
        if (isset($this->messages) and $this->messages)
            foreach ($this->messages as $message):
                echo '<div class="alert alert-success">'.$message.'</div>';
            endforeach;

        if (isset($this->messages_error) and $this->messages_error)
            foreach ($this->messages_error as $message):
                echo '<div class="alert alert-error">'.$message.'</div>';
            endforeach;
    ?>
        <section class="">

        <form action="" method="POST" enctype="multipart/form-data">
            <div class="container">

                <div class="e_row category_price">

                   <div class="e_column">
                            <label class="">Price</label>
                            <div class="">
                                <input type="text" class="price" name='' >
                            </div>
                        </div>

                       
                        <div class="e_column">
                            <label class="">From date</label>
                            <div class="">
                                <input type="text" class="date" name='fromdate[]' >
                            </div>
                        </div>
                        <div class="e_column">
                            <label class="">To date</label>
                            <div class="">
                                <input type="text" class="date" name='todate[]'>
                            </div>
                        </div>

                        <div class="e_column">
	                        <label class=""></label>
	                        <div class="">
	                        <a class="btn btn-danger remove_row"> - </a>
                        	</div>
                    	</div>
                </div><!-- e_row -->

                <div class="content_mid">
                   <?php foreach($this->data as $key=>$value):?>
                    <div class="e_row">

                        
                       <div class="e_column">
                            <label class="">Price</label>
                            <div class="">
                                <input type="text" class="code" name='' readonly="" value="<?php echo $value['price'];?>">
                            </div>
                        </div>

                       
                        <div class="e_column">
                            <label class="">From date</label>
                            <div class="">
                                <input type="text" class="date" name='' readonly="" value="<?php if(!empty($value['from_date'])) echo date('d/m/Y', strtotime($value['from_date']));?>">
                            </div>
                        </div>
                        <div class="e_column">
                            <label class="">To date</label>
                            <div class="">

                            	<input type="hidden" class="todate_check_length" name="" value="<?php echo !empty($value['to_date'])?date('d/m/Y', strtotime($value['to_date'])):0;?>">

                                <input type="text" class="date" name='' readonly=""  value=" <?php echo !empty($value['to_date'])?date('d/m/Y', strtotime($value['to_date'])):"";?> ">
                            </div>
                        </div>
                        <?php if($value['to_date']==NULL || empty($value['to_date'])):?>
                        <div class="e_column" style="margin-top: 18px;">
                            <label class=""></label>
                            <div class="">
                               <a class="popup_edit btn btn-primary" data-id="<?php echo $value['id']?>" data-price="<?php echo $value['price']?>" data-fromdate="<?php echo date('d/m/Y', strtotime($value['from_date']))?>" data-toggle="modal"  data-target="#myModal"> edit </a>
                            </div>
                        </div>
                        <?php endif;?>
                    </div><!-- e_row -->
                    <?php endforeach;?>
                    
                </div><!-- content_mid -->

            </div><!-- container -->

            <a class="btn btn-warning add_row">+</a>
            <input type="hidden" id="max_date" name="max_date" value="">        
             <input type="submit" name="submit" class="btn btn-success" value="Xác nhận">
              <a href="/trade/contractor-price-category?contractor_id=<?php echo $this->data[0]['contractor_id']?>" class="btn btn-default" style="height: 24px; border-radius: 5px;">Quay lại</a>
  			</form>
        </section>

    </div><!-- container-fluid -->

</div><!-- content layout-->

<!-- Modal -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
    	<form action="/trade/contractor-price-history" method="POST" enctype="multipart/form-data">
	      <div class="modal-header">
	        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
	        <h4 class="modal-title" id="myModalLabel">Nhà thầu <?php echo $this->data[0]['contractor_name']?> - Hạng mục <?php echo $this->data[0]['category_name']?></h4>
	      </div>
	      <div class="modal-body">
	         <div class="e_column">
                <label class="">Price</label>
                <div class="">
                    <input type="text" class="price_edit" name='' readonly="">
                </div>
            </div>

           
            <div class="e_column">
                <label class="">From date</label>
                <div class="">
                    <input type="text" class="date fromdate_edit" name='' readonly="">
                </div>
            </div>
            <div class="e_column">
                <label class="">To date</label>
                <div class="">
                    <input type="text" class="date" name='todate_edit'>
                </div>
            </div>
	      </div>
	      <div class="modal-footer">
	      	<input type="hidden" id="id_edit" name="id_edit" value="">
	      	<input type="hidden" id="data_fromdate" name="data_fromdate" value="">
	      	
	      	<input type="hidden" id="" name="category_id" value="<?php echo $this->data[0]['category_id']?>">
	      	<input type="hidden" id="" name="contractor_id" value="<?php echo $this->data[0]['contractor_id']?>">
	      	<button type="submit" name="submit_edit" class="btn btn-primary" value="1">Xác nhận</button>
	        <button type="button" class="btn btn-default" data-dismiss="modal">Hủy</button>
	        
	      </div>
	  </form>
    </div>
  </div>
</div>



<script type="text/javascript" src="/js/jquery-ui-1.8.12.custom.min.js"></script>
<link rel="stylesheet" type="text/css" href="/css/jquery-ui-1.8.12.custom.css"/>

<script type="text/javascript">
    $(document).ready(function() {
    	$('.date' ).datepicker({ dateFormat: "dd/mm/yy" });
        addrow();
        removerow();
        contractorChange();

        $('.popup_edit').on('click',function(){
        	var id = $(this).attr('data-id');
        	var price = $(this).attr('data-price');
        	var fromdate = $(this).attr('data-fromdate');
        	$('#id_edit').val(id);
        	$('.price_edit').val(price);
        	$('.fromdate_edit').val(fromdate);
        	$('#data_fromdate').val(fromdate);
        });


        var max_date = $(".todate_check_length:last").val();
        $('#max_date').val(max_date);


        $(".todate_check_length").each(function( index ) {
  				var val =  $(this).val();
  				if(val==0){
  					$('.add_row').css('display','none');
  				}
		});

    });
    
    function addrow(){
        $( ".add_row" ).click(function() {
            
            $('.content_mid').find('select').select2("destroy").end();
            
            category_price = $('.category_price').clone();
            category_price.removeClass('category_price');
            $('.content_mid').append('<div class="e_row">\
                   <div class="e_column">\
                            <label class="">Price</label>\
                            <div class="">\
                                <input type="text" class="price" name="price[]">\
                            </div>\
                        </div>\
                        <div class="e_column">\
                            <label class="">From date</label>\
                            <div class="">\
                                <input type="text" class="date" name="from_date[]">\
                            </div>\
                        </div>\
                        <div class="e_column">\
                            <label class="">To date</label>\
                            <div class="">\
                                <input type="text" class="date" name="to_date[]">\
                            </div>\
                        </div>\
                        <div class="e_column" style="margin-top: 18px;">\
	                        <label class=""></label>\
	                        <div class="">\
	                        <a class="btn btn-danger remove_row"> - </a>\
                        	</div>\
                    	</div>\
                </div>');
           
             $('.content_mid').find('.price').prop('required',true);

            $('.content_mid').find('select').select2();
             $('.content_mid').find('.date').datepicker({ dateFormat: "dd/mm/yy" });
        });
    }
    
    function removerow(){

        $(document).on('click', '.remove_row', function(){
            $(this).closest('.e_row').hide();
            $(this).closest('.e_row').find('.contractor').attr('name','contractor_del[]');
            $(this).closest('.e_row').find('.price').removeAttr('required');
            
        });
    }
    
    function contractorChange(){
        $(document).on('change', '.contructor', function(){

            var contractor_id = $(this).val();
            
            var code = $('option:selected', this).attr('code');
            
            $(this).closest('.e_row').find('.code').val(code);

        });
    }
    
    
    
</script>
