<style>
    html {
        font-family: verdana;
        font-size: 10pt;
        line-height: 25px;
    }
    .table {
        border-collapse: collapse;
        /*width: 300px;*/
        overflow-x: scroll;
        display: block;
    }
    .head {
        /*background-color: #008B56;*/
    }
    .head, .body {
        display: block;
    }
    .body {
        overflow-y: scroll;
        overflow-x: hidden;
        height: 500px;
    }
    .table tr td, .table tr th {
        min-width: 100px;
        height: 35px;
        /*border: dashed 1px lightblue;*/
        text-align: center ;
    }

    /* New Styles */
    .table .head tr th:first-child,
    .table .body tr td:first-child{
        position:relative;
        z-index:10;
        background-color:#EFEFEF;
    }

    .table .body tr td:first-child{
        background-color:#fff;
    }
    .table-wrapper {

        -webkit-box-shadow: 0px 2px 8px -2px rgba(0,0,0,0.63);
        -moz-box-shadow: 0px 2px 8px -2px rgba(0,0,0,0.63);
        box-shadow: 0px 2px 8px -2px rgba(0,0,0,0.63)

    }
    input, select {
        width:100px;
    }
    #search {
        border: 1px solid #ededed;
        width:600px;
        height: 50px;
    }
    form {
        padding-top: 10px;
        padding-left: 5px;
    }
    .table td {
        vertical-align: middle;
        text-align: center;
    }
    .table th {
        vertical-align: middle;
        text-align: center;
    }
    .total_national {
        font-weight:bold
    }

    .ui-datepicker {
        margin-left:100px;
    }

</style>

<div class="container">

    <h2 style="text-align: center">Chi phí Tủ - Bàn - Bục góc - Linh kiện</h2>
    <!-- Khung search -->
    <div class="accordion-group">
        <div class="accordion-heading">
            <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapseTwo">
                Search
            </a>
        </div>
        <div id="collapseTwo" class="accordion-body collapse" style="height: 0px;">
            <div class="accordion-inner">

                <form action="/trade/cost-statistic-order" method="get" enctype="multipart/form-data" autocomplete="off">

                    <div id="box_date">
                        <div class="control-group">
                            <label class="control-label" for="name">Từ ngày:</label>
                            <div class="controls">
                                <input style="width:200px" type="text" class="date" id="from_date" name="from_date" value="<?php echo $this->params['from_date'] ? date('d-m-Y', strtotime($this->params['from_date'])) : ''; ?>">
                            </div> <!-- /controls -->
                        </div>

                        <div class="control-group">
                            <label class="control-label" for="name">Đến ngày:</label>
                            <div class="controls">
                                <input style="width:200px" type="text" class="date" id="to_date" name="to_date" value="<?php echo $this->params['to_date'] ? date('d-m-Y', strtotime($this->params['to_date'])) : ''; ?>">
                            </div> <!-- /controls -->
                        </div>
                    </div>

                    <input class="btn btn-success" type="submit" name="submit" value="Tìm">
                    <a href="/trade/cost-statistic" class="btn btn-warning">Reset</a>
                </form>
            </div>
        </div>
    </div>
    <!-- END SEARCH -->

    <hr>
    <div class="table-wrapper">
        <table class="table">
            <thead class="head">
            <tr>
                <th>Khu vực</th>
                <th>Tổng chi phí</th>

                <?php foreach ($this->listAdditionalPart as $part) :?>
                    <th><?php echo $part['name']; ?></th>
                <?php endforeach; ?>


            </tr>
            </thead>
            <tbody class="body">
            <?php foreach ($this->listArea as $area) : ?>
                <tr>
                    <td class="active"><?php echo $area['name']; ?></td>
                    <td style="color: red"><strong><?php echo $this->totalCostArea[$area['id']] ? number_format($this->totalCostArea[$area['id']]) : ''; ?></strong></td>

                    <?php foreach ($this->listAdditionalPart as $part) :?>
                        <td>
                            <a >
                                <?php echo ($this->additionalPartCost [$area['id']] [$part['id']] ['cost'] )
                                    ? number_format($this->additionalPartCost [$area['id']] [$part['id']] ['cost'] )
                                    : ''
                                ?>
                            </a>

                        </td>

                        <!-- total part cost-->
                        <?php $totalEachPartCost [$part['id']] += $this->additionalPartCost [$area['id']] [$part['id']] ['cost']; ?>
                        <!--  end total part cost-->
                    <?php endforeach; ?>




                </tr>
            <?php endforeach; ?>
            <tr>
                <td class="active">TẤT CẢ</td>
                <td class="total_national"><?php echo $this->totalCost ? number_format($this->totalCost) : ''; ?></td>

                <?php foreach ($this->listAdditionalPart as $part) :?>
                    <td style="font-weight: bold"><?php echo $totalEachPartCost[$part['id']] ? number_format($totalEachPartCost[$part['id']]) : '' ; ?></td>
                <?php endforeach;?>

            </tr>
            </tbody>

            <tfoot>

            </tfoot>
        </table>
    </div>
</div>
<script type="text/javascript" src="/js/jquery-ui-1.8.12.custom.min.js"></script>
<link rel="stylesheet" type="text/css" href="/css/jquery-ui-1.8.12.custom.css"/>
<script>
    $(document).ready(function() {
        var season = '<?php echo $this->season ?>';
        if (season) {
            $('#box_date').hide();
        }

        $('#exception_cost_season_one').change(function() {
            if ($(this).is(':checked')) {
                $('#box_date').hide();
                $('#from_date').attr('name', '');
                $('#to_date').attr('name', '');
            } else {
                $('#box_date').show();
                $('#from_date').attr('name', 'from_date');
                $('#to_date').attr('name', 'to_date');
            }
        });

        $('.date').datepicker({
            dateFormat: "dd-mm-yy"
        });

        $('.table').on('scroll', function () {
            $(".table > *").width($(".table").width() + $(".table").scrollLeft());
        });

        var $stickyHeader = $('.table .head tr th:first-child');
        var $stickyCells = $('.table .body tr td:first-child');

        $('.table').on('scroll', function () {
            $stickyHeader.css('left', ($(this).scrollLeft()+'px'));
            $stickyCells.css('left', ($(this).scrollLeft()+'px'));
        });


        // style css
        var columns = JSON.parse('<?php echo json_encode($this->listAdditionalPart);?>');
        var countColumn = columns.length + 2 ; // all <th> length;
        var columnWidth = $('td').width();
        var tableWidth = $('.table').width();
        if (countColumn * columnWidth > tableWidth) {
            $('td').css('min-width', '100px')
            $('th').css('min-width', '100px')
        } else {

            $('td').css('width', '100px')
            $('th').css('width', '100px')
        }
    });
</script>