<head>
    <script type="text/javascript" src="/js/sweetalert2.all.min.js"></script>
</head>
<style>
    th {
        width: 50%
    }
</style>

<div class="container row">

    <form action="" id="form" class="span6">
        <h2 style="text-align: center">Tạo hạng mục</h2><br>
        <table class="table table-bordered" >
            <thead>
            <tr>
                <th>Tên hạng mục</th>
                <th>Loại</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td><input required type="text" name="part_name" value="<?php echo $this->additionalPart ? $this->additionalPart['name'] : ''; ?>"></td>
                <td class="box_child">
                    <select name="part_type" id="">
                        <option value="">-- Chọn loại --</option>
                        <option value="8" <?php echo $this->additionalPart['type'] == 8 ? 'selected' : '' ; ?> >Thi công</option>
                        <option value="4"  <?php echo $this->additionalPart['type'] == 4 ? 'selected' : '' ; ?>>Sửa chữa</option>
                        <option value="2"  <?php echo $this->additionalPart['type'] == 2 ? 'selected' : '' ; ?>>Đặt hàng</option>
                    </select>
                </td>
            </tr>
            </tbody>
        </table>
        <input type="hidden" name="category_parent_id" value="<?php echo $this->additionalCategory['id']; ?>">
        <button class="btn btn-primary" type="submit">Save</button>
        <?php if ($this->additionalPart) : ?>
            <input type="hidden" name="id" value="<?php echo $this->additionalPart['id']; ?>">
        <?php endif; ?>
    </form>

    <div id="copy" style="display:none">
        <div class="box_select_child">
            <select name="list_category_child[]" class="select">
                <?php foreach ($this->listCategory as $category) :?>
                    <option value="<?php echo $category['id']; ?>">
                        <?php echo $category['name']; ?>
                    </option>
                <?php endforeach; ?>
            </select>
            <button type="button" class="btn btn-warning btn_remove_child">-</button>
            <br>
        </div>
    </div>
</div>
<link rel="stylesheet" type="text/css" href="/css/select2.min.css">
<script src="/js/select2.min.js"></script>
<script>
    $(document).ready(function() {
        var copy = $('#copy').html();
        $('#form').submit(function(e) {
            e.preventDefault();
            var data = new FormData(this);
            $.ajax({
                url: '/trade/save-create-additional-part',
                type: 'post',
                data: data,
                dataType: 'json',
                success: function (data) {
                    if (data.status === 0) {
                        Swal.fire({
                            type: 'success',
                            title: 'Thành công',
                            showConfirmButton: false,
                            timer: 1500
                        });
                        setTimeout(function() {
                            window.location.href = "/trade/list-additional-part";
                        },1000)
                    } else {
                        Swal.fire({
                            type: 'warning',
                            title: 'Error',
                            showConfirmButton: false,
                            timer: 1500
                        })
                    }
                },
                cache: false,
                contentType: false,
                processData: false
            });
        });
    });
</script>