
<style type="text/css">
    .block{padding-bottom: 10px;margin-bottom: 10px;border-bottom: 1px solid #CCC}
    .block .btn{margin:0 auto;}
    .block .status{text-align: left;text-align: left;width: 100%;min-height: 22px;}
    .block .status label{display: block;float:left}
    .block .btn_scan{text-align: center;}
    .block .btn_scan i{color:blue;}
    .table_air{margin-bottom: 5px;border:none;}
    .table_air tr td{border: none}
    .block{background: #EDEDED;border: 1px solid #CCC;padding: 10px}
    .gallery img{width: 70px;}
    .img_air{
        width: auto;
        height: 80px;
        margin-left: 5px;
    }
    .hanmuc tr td{
      text-align: center;
    }
    .hanmuc table tr{
      text-align: center;
    
    }
    .input_hangmuc{
      width: 40px;
    }
    .quantity{
      width: 50px;
    }
    .store{
      width: 300px;
    }
    .cat{
      width: 120px;
    }
    .table th{
      text-align: center;
      vertical-align: middle;
    }
    .table td{
      text-align: center;
      vertical-align: middle;
    }
    .btn{
      border-radius: 5px;
    }
    .flexslider .slides img {
  height: 85px;
}
</style>


<link rel="stylesheet" href="<?php echo HOST ?>new/css/trade_app.css">

<div class="content-layout">

<div class="">
    <h3><?php echo $this->campaign_category[0]['contractor_name'];?></h3>
<div class="">
    <div class="table_main" style="margin-top: 7px;">
        
            <div class="header_tad"><i class="icon-list-alt"></i> Đề xuất thi công</div>

            <?php
                if (isset($this->messages) and $this->messages)
                    foreach ($this->messages as $message):
                        echo '<div class="alert alert-success">'.$message.'</div>';
                    endforeach;

                if (isset($this->messages_error) and $this->messages_error)
                    foreach ($this->messages_error as $message):
                        echo '<div class="alert alert-error">'.$message.'</div>';
                    endforeach;
            ?>
            <!-- select hiden category -->
            <div hidden="">
              <select class="control-label cat " name="category[]" >
                                  <option>-- Hạng mục --</option>
                                  <?php
                                      foreach ( $this->category as $value) {
                                       
                                          ?>
                                          <option  value ="<?php echo $value['id'] ?>" <?php if($value['id']==$dxuat['cate_id']) echo 'selected' ?>> <?php echo $value['name'] ?></option>
                                         
                                          <?php } ?>
              </select>
            </div>
              <!-- select hiden category -->
            <div class="content_share">

          <div class="mid_share">
          <form action="<?php echo HOST;?>trade/create-air" method="post" enctype="multipart/form-data">
            
              <div class="block">
                    <label class="control-label"><i class="icon-home" style="color:#cc0000; font-size: 15px;"></i> Shop đề xuất:</label>
                    <select class="store control-label" name="store" required>
                        <option value="">-- Chọn Shop --</option>
                         <?php foreach ( $this->store as $value) {
                            if (isset($this->params['store']) && $this->params['store'] == $value['id']){
                         ?>
                    <option  value ="<?php echo $value['id'] ?>" selected><?php echo $value['name_store'] ?></option>
                                      ?>
                                      <?php 
                                        }else { 
                                      ?>
                           <option  value ="<?php echo $value['id'] ?>"><?php echo $value['name_store'] ?></option>
                                      <?php }} ?>
                     </select>
                      <input type="hidden" value="0" id = "dem" name="dem">

                     <label><i class="icon-file" style="color:#cc0000; font-size: 15px;"></i> Upload file đề xuất:</label>
                    <input type="file" name="files_dx" id="files" class="inputfile" onchange="checkfile()" required/>
                    
                     <!--<label for="files" class="btn btn-default" style="height: 25px; line-height: 25px; width: 110px;">Chọn file</label>--> 
                      <hr>
                    <div class="add">

                      <div class="block" style="overflow-x: auto;">
                              
                        <label class="control-label">Chọn hạng mục đề xuất:</label>
                       <!--  <select class="control-label cat" name="category[]" required="">
                            <option>-- Chọn hạng mục --</option>
                            <?php
                                foreach ( $this->category as $value) {
                                  if (isset($this->params['category']) && $this->params['category'] == $value['id']){
                                    ?>
                                    <option  value ="<?php echo $value['id'] ?>" selected><?php echo $value['name'] ?></option>
                                    ?>
                                    <?php }else { ?>
                                    <option  value ="<?php echo $value['id'] ?>"><?php echo $value['name'] ?></option>
                                    <?php }} ?>
                        </select>
                          <input type="number" min="1" name="quantity[]" class="quantity" placeholder="Số lượng" required=""> -->
                           <table class="table">
                         <tr>
                             <th rowspan="2">Hạng mục</th>
                            
                             <th colspan="3">Kích thước</th>
                            <th rowspan="2">Tổng diện tích</th>
                             <th rowspan="2">Số lượng</th>
                             <th rowspan="2">Đơn vị tính</th>
                              <th rowspan="2">Chức năng</th>
                         </tr>
                         <tr>
                             
                             <th>Chiều ngang (m)</th>
                             <th>Chiều cao (m)</th>
                             <th>Chiều sâu (m)</th>
                           
                           
                         </tr>
                         <tr>
                             <td>
                              <select class="control-label cat " name="category[]" required>
                                  <option value="">-- Hạng mục --</option>
                                  <?php
                                      foreach ( $this->category as $value) {
                                       
                                          ?>
                                          <option  value ="<?php echo $value['id'] ?>" <?php if($value['id']==$dxuat['cate_id']) echo 'selected' ?>> <?php echo $value['name'] ?></option>
                                         
                                          <?php } ?>
                              </select>
                            </td>
                             <td><input type="text" name="width[]" id="create_width" class="input_hangmuc"  value="<?php echo $dxuat['width']?>" pattern="[0-9]+[.][0-9]+|[0-9]+" required></td> 
                        
                             
                             <td><input type="text" name="wide[]" id="create_wide" class="input_hangmuc"  value="<?php echo $dxuat['wide']?>" pattern="[0-9]+[.][0-9]+|[0-9]+" required></td>
                        
                             
                             <td><input type="text" name="deep[]" class="input_hangmuc" value="<?php echo $dxuat['deep']?>" pattern="[0-9]+[.][0-9]+|[0-9]+" required></td>
                       
                             
                             <td><input type="text" name="total[]" id="total" class="input_hangmuc" value="<?php echo $dxuat['total']?>" readonly></td>
                        
                             <td> <input type="text" name="quantity[]"  class="quantity input_hangmuc" placeholder="Số lượng" value="<?php echo $dxuat['soluong']?>" pattern="[0-9]" required>
                             </td>
                             <td><input type="text" name="dvt[]" class="input_hangmuc" value="m" readonly="">
                              </td>
                              <td> <a id="remove" class="btn btn-danger" style=""><i class="icon-trash"></i></a></td>
                         </tr>
                          
                     </table>
                       
                    </div>
                  </div>
                    <a id="add" class="btn btn-success">+</a>
                  </div>
                <div class="block block_thuctrangshop_create" style="display: none;">
                   <!-- <h3 style="text-align: center;margin-bottom: 5px">THỰC TRẠNG SHOP</h3>
                   <label class="shopname" style="font-weight: bold; text-align: center;"></label>
                   <table class="table hanmuc">
                       <tr>
                           <th>Hạng mục</th>
                           <th>Hạn mức:</th>
                           <th>Đã đầu tư:</th>
                           <th>Điền số lượng:</th>
                       </tr>
                       <tr>
                           <td>Biển hiệu Alu</td>
                           <td>2</td>
                           <td>1</td>
                           <td>1</td>  
                       </tr>
                       
                   </table>

                   <h3 style="text-align: center;margin-bottom: 5px">HÌNH ẢNH CHECKSHOP</h3>
                   <div class="gallery" style="text-align: center;">
                       <img src="https://trade-marketing.opposhop.vn/photo/air/201802081454417334/3/6d7dd34c1a792910d94b91f36d3533ff.png" class="img-responsive">
                       <img src="https://trade-marketing.opposhop.vn/photo/air/201802081454417334/3/3b23677252a64d452fffe3dfb7fecb50.png" class="img-responsive">
                       <img src="https://trade-marketing.opposhop.vn/photo/air/201802081454417334/3/6d7dd34c1a792910d94b91f36d3533ff.png" class="img-responsive">
                       <img src="https://trade-marketing.opposhop.vn/photo/air/201802081454417334/3/3b23677252a64d452fffe3dfb7fecb50.png" class="img-responsive">
                   </div> -->
               
               </div>
                <div class="row" style="text-align: center;">
                    <div class="alert alert-error" style="display: none;" id ="notify"><p id="alert"></p></div>
                    <input type="submit" class="btn btn-success" id ="update" disabled value="Xác Nhận">
                   <a href="/trade/air" class="btn btn-default" style="    height: 23px;"><p>Quay lại</p></a>
                 </div>
             </form>

            </div><!-- end mid_share -->

        </div><!-- end content_share -->

    </div><!-- end table_main -->
</div>
<!-- span6-->
<!-- end trade T?NG Ð?U TU-->
</div>

</div>
<!-- row-->

<?php echo $this->render('trade/partials/create-air-script.phtml'); ?>
<style type="text/css">

.img_full_design{position: fixed;width: 100%;top:0px;right: 0px;bottom: 0px;left: 0px;background: rgba(255,255,255,1);z-index: 10000;display: none;overflow: scroll;}
.img_full_design img{width:100%; height:auto; top:6%;position: absolute;max-width: 500px;margin:0 auto;left: 0;right: 0}
.control{
  margin-top: 180px;
}
.prev{

   z-index:1000000;
   position: absolute;
    left: 10px;
    font-size: 20px;
    line-height: 350px; 
}
.next{

    z-index:10000000;
    position: absolute;
    right: 40px;
    font-size: 20px;
    line-height: 350px;
}
.next img{
  height: 100px;
  width: 30px;
  margin-top: 70px;
}
.prev img{
  height: 100px;
  width: 30px;
  margin-top: 70px;
}
.img_jum{
  height: 300px;
}
.close_img_full{
    background-color: #04040429;
    height: 35px;
    opacity: 1;
}
.prev img:hover{
  border:6px solid #333;
  box-shadow: 0px 0px 20px 0 rgba(255,255,255,.5);
}
.prev img:hover img{
  margin-left: -150px;
  margin-top: -150px;
  cursor: pointer;
}
.prev img:hover a:before{
  top: 160px;
}
</style>
<div class="img_full_design">
<div class="close_img_full"><a class="btn btn-danger icon-remove" style="float: right; font-size: 20px; margin-left: 50px; margin-top: 3px;  color:white; height: 25px;"></a></div>
<img src="" alt="" width="100%" height="100%" class="img_jum">
<span class="prev"><img src="<?php echo HOST.'images/prev.png'?>" alt="..."></span>
<span class="next"><img src="<?php echo HOST.'images/next.png'?>" alt="..."></span>
</div>
<!-- slide cho hình ảnh checkshop -->
<script>
  $(document).on('click', ".img_air", function() {
  var src = $(this).attr('src');

  var val= $(this).attr('val');
  $('.prev').attr('val',parseInt(val)-1);
  $('.next').attr('val',parseInt(val)+1);

  $('.img_full_design').find('.img_jum').attr('src', src);
  $('.img_full_design').show();
    ///---next prev giữa ảnh
  var height = $('.img_full_design img').css('height');
  $('.next img').css('margin-top',parseInt(height)/3);
  $('.prev img').css('margin-top',parseInt(height)/3);
  ///---
});

$(document).on('click', ".next", function() {
 count = $('.gallery').find('img').length;
  var next = $(this).attr('val');
  var src = $('#'+next+'').attr('src');
  $('.img_full_design').find('.img_jum').attr('src', src);
  $('.img_full_design').show();
     ///---next prev giữa ảnh
  var height = $('.img_full_design img').css('height');
  $('.next img').css('margin-top',parseInt(height)/3);
  $('.prev img').css('margin-top',parseInt(height)/3);
  ///---
  if(next==count || next>count)
  {
    next=0;
  }
   $('.next').attr('val',parseInt(next)+1);

   $('.prev').attr('val',parseInt(next));

});
$(document).on('click', ".prev", function() {
  count = $('.gallery').find('img').length;
   var prev = $(this).attr('val');

  var src = $('#'+prev+'').attr('src');
  $('.img_full_design').find('.img_jum').attr('src', src);
  $('.img_full_design').show();
     ///---next prev giữa ảnh
  var height = $('.img_full_design img').css('height');
  $('.next img').css('margin-top',parseInt(height)/3);
  $('.prev img').css('margin-top',parseInt(height)/3);
  ///---
  if(prev==0)
  {
    prev=count+1;
  }
   $('.prev').attr('val',parseInt(prev)-1);
   $('.next').attr('val',parseInt(prev));

});


$(document).on('click', ".close_img_full", function() {
  $('.img_full_design').hide();
  });
</script>
<script type="text/javascript">
                    function checkfile (){
                         var file = document.getElementById('files');
                         var update = document.getElementById('update');
                         var size =file.files.length;
                         var extension = ["application/vnd.ms-powerpoint","application/vnd.openxmlformats-officedocument.presentationml.presentation"];
                         var check = 0;
                             for( i =0 ; i < size; i++){
                              extension.forEach(function(item, index){
                                if (file.files[i]['type'] ==item){
                                    check =1;
                                }
                            });
                              if(check == 1){
                               document.getElementById('notify').style = "display:none;"
                               update.disabled=false;
                               file.selected=true;
                           }else{
                               notify()
                               update.disabled=true;
                           }

                       }
                   }
                   function notify() {
                    var notify = document.getElementById('notify');
                    var alert = document.getElementById('alert');
                    alert.innerHTML = "Vui lòng chọn đúng loại file (PPT,PPTX)";
                    notify.style = "display:true;"
                }
</script>
