<style type="text/css">
    /*Modal Img*/
    /* Style the Image Used to Trigger the Modal */
    .myImg {
        border-radius: 5px;
        cursor: pointer;
        transition: 0.3s;
        padding-left:5px;
    }

    .myImg:hover {opacity: 0.7;}

    /* The Modal (background) */
    .modal {
        display: none; /* Hidden by default */
        position: fixed; /* Stay in place */
        z-index: 2000; /* Sit on top */
        padding-top: 100px; /* Location of the box */
        left: 0;
        top: 0;
        width: 100%; /* Full width */
        height: 100%; /* Full height */
        overflow: auto; /* Enable scroll if needed */
        background-color: rgb(0,0,0); /* Fallback color */
        background-color: rgba(0,0,0,0.9); /* Black w/ opacity */
    }

    /* Modal Content (Image) */
    .modal-content {
        margin: auto;
        display: block;
        width: 80%;
        max-width: 700px;
        background: #FFF;
    }

    /* Caption of Modal Image (Image Text) - Same Width as the Image */
    #caption {
        margin: auto;
        display: block;
        width: 80%;
        max-width: 700px;
        text-align: center;
        color: #ccc;
        padding: 10px 0;
        height: 150px;
    }

    /* Add Animation - Zoom in the Modal */
    .modal-content, #caption {
        animation-name: zoom;
        animation-duration: 0.6s;
    }

    @keyframes zoom {
        from {transform:scale(0)}
        to {transform:scale(1)}
    }

    /* The Close Button */
    .close {
        position: absolute;
        top: 15px;
        right: 35px;
        color: #f1f1f1;
        font-size: 40px;
        font-weight: bold;
        transition: 0.3s;
    }

    .close:hover,
    .close:focus {
        color: #bbb;
        text-decoration: none;
        cursor: pointer;
    }

    .quantity_checkshop {
        width: 50px;
        margin-top: 10px;
        text-align: right;
    }

    .table_checkshop {
        margin-bottom: 10px
    }

    .table_checkshop tr td {
        text-align: center;
        padding: 2px
    }

    .inputfile {
        width: 0.1px;
        height: 0.1px;
        opacity: 0;
        overflow: hidden;
        position: absolute;
        z-index: -1;
    }

    .content_tad table tr th {
        padding: 2px
    }

    .content_layout {
        overflow-y: -webkit-paged-x;
    }

    .btn {
        padding: 2px 4px;
    }

    .imei_qrcode {
        font-size: 7px
    }

    .btn_file {
        font-size: 7px
    }

    .table tr td {
        text-align: center;
    }

    .img_wrap {
        display: block;
        position: relative;
    }

    .file {
        visibility: hidden;
        max-width: 100px !important;
        height: 0px !important
    }

    .top_img {
        display: block;
        height: 50px;
    }

    .bottom_img {
        /*margin-top: -35px;*/
    }

    #demo {
        font-weight: bold;
    }

    .category {
        width: 100%;
    }

    .add-icon {
        width: 20px;
        border-radius: 20px;
    }

    .remove-icon {
        margin-left: 5px;
        width: 20px;
        border-radius: 20px;
    }
</style>

<!-- Scanner CSS -->
<style type="text/css">
    #scanner {
        background: #263238;
        height: 100%;
        margin-top: 10px;
        z-index: 5000;
    }

    .frame_scan {
        position: absolute;
        height: 100%;
        width: 100%;
    }

    .preview-container {
        flex-direction: column;
        align-items: center;
        justify-content: center;
        display: flex;
        width: 100%;
        overflow: hidden;
        height: 410px;
        position: relative;
    }

    .sidebar {
        background: #eceff1;
        width: 100%;
        display: block;
        float: left;
    }

    .sidebar h2 {
        font-weight: normal;
        font-size: 1.0rem;
        background: #607d8b;
        color: #fff;
        padding: 10px;
        margin: 0;
    }

    .sidebar ul {
        margin: 0;
        padding: 0;
        list-style-type: none;
    }

    .sidebar li {
        line-height: 175%;
        white-space: nowrap;
        overflow: hidden;
        text-wrap: none;
        text-overflow: ellipsis;
    }

    .cameras ul {
        padding: 15px 20px;
    }

    .cameras .active {
        font-weight: bold;
        color: #009900;
    }

    .cameras a {
        color: #555;
        text-decoration: none;
        cursor: pointer;
    }

    .cameras a:hover {
        text-decoration: underline;
    }

    .scans li {
        padding: 10px 20px;
        border-bottom: 1px solid #ccc;
    }

    .scan_wrap {
        border: 1px solid #CCC;
        padding: 10px 0px;
        position: relative;
        text-align: center;
        height: 20px;
        background-color: white;
    }

    .scan_wrap .close_btn {
        position: absolute;
        right: 0px;
        font-size: 37px;
        margin-right: 10px;
    }

    @media (min-width: 320px) and (max-width: 575px) {
        #preview {
            transform: scaleX(1) !important;
            width: 100%;
            position: absolute;
            top: 12%;
        }

    }

    #preview {
        transform: scaleX(1) !important;
        width: 100%;
        position: absolute;
    }
    #loading-image{
        position: absolute;
        width: 100%;
        height: 55%;
        z-index: 1000;
        background:  center no-repeat #fff;
        /*background: url(/photo/loading/Preloader_1.gif) center no-repeat #fff;*/
    }
</style>

<div class="content-layout">
    <div id="loading-image"></div>

    <div class="row">
        <div class="span6">
            <div class="table_main" style="margin-top: 7px;">
                <div class="header_tad">
                    <i class="icon-list-alt"></i> CHECK SHOP <b
                            style="color:#008b56"><?php echo $this->store['name']; ?></b>
                </div>

                <div class="content_tad">

                    <div class="content_content" >
                        <?php
                        if (isset($this->messages) and $this->messages)
                            foreach ($this->messages as $message):
                                echo '<div class="alert alert-success">' . $message . '</div>';
                            endforeach;

                        if (isset($this->messages_error) and $this->messages_error)
                            foreach ($this->messages_error as $message):
                                echo '<div class="alert alert-error">' . $message . '</div>';
                            endforeach;
                        ?>

                        <form id="form" method="POST" enctype="multipart/form-data">
                            <?php if ($this->store_error_info['error_image'] == 1) : ?>
                            <div style="border: 1px solid orangered; padding:10px; box-shadow: 4px 4px 5px 0px #f5d29e">
                                <h3 style="color:red"> &bull; Shop có lỗi hình ảnh:</h3>
                                <br>
                                <div style="margin-left:10px">
                                    <?php foreach ($this->list_error as $error) : ?>
                                        <span>
                                                      <b>- <?php echo $error['error_name']; ?></b> : <?php echo $error['note']; ?>
                                            <div>
                                                         <?php if ($error['is_repair'] == 1) : ?>
                                                             <i class="icon icon-ok"
                                                                style="color:limegreen; font-weight:bold"> Đã được sửa chữa</i>
                                                             <i style="font-size:10px">(<?php echo $error['repair_by']; ?>
                                                                 sửa)</i>
                                                         <?php else : ?>
                                                             <input class="is_repair" type="checkbox"
                                                                    name="is_repair[<?php echo $error['id']; ?>]"
                                                                    value="1">
                                                             <small style="color:blue">Đã sửa chửa</small>
                                                         <?php endif; ?>
                                                     </div>
                                                </span>
                                        <hr style="border-color:#44d08e">
                                    <?php endforeach; ?>
                                </div>

                                <br>
                                <div class="image" style="border:1px solid #CCC; padding: 10px;">
                                    <h3 style="margin-bottom:5px; color:orangered">★ Hình ảnh hạng mục lỗi:</h3>
                                    <?php foreach ($this->list_image_error as $image) : ?>
                                        <img width="90" class="myImg"
                                             src="<?php echo $image['url']; ?>"/>
                                    <?php endforeach; ?>
                                </div>

                                <br>

                                <div id="image_after_repair">
                                    <h3 style="color: blue">★ Ảnh hạng mục sau khi sửa chữa</h3>
                                    <div class="wrap_picture">
                                        <table class="table table-img check_table">
                                            <tr>
                                                <th>Hình 1</th>
                                                <th>Hình 2</th>
                                                <th>Hình 3</th>

                                            </tr>
                                            <tr>
                                                <td>
                                                    <div class="img_wrap">
                                                        <div class="top_img">
                                                            <label for="fileRepair_20" class="btn label_file">Chụp
                                                                hình</label>
                                                        </div>

                                                        <div class="bottom_img">
                                                            <input id="fileRepair_20" class="file image_repair"
                                                                   type="file" style="display:none">
                                                            <label class="name_file"></label>
                                                        </div>
                                                    </div><!-- img_wrap -->
                                                </td>
                                                <td>
                                                    <div class="img_wrap">
                                                        <div class="top_img">
                                                            <label for="fileRepair_21" class="btn label_file">Chụp
                                                                hình</label>
                                                        </div>

                                                        <div class="bottom_img">
                                                            <input id="fileRepair_21" class="file image_repair"
                                                                   type="file" style="display:none">
                                                            <label class="name_file"></label>
                                                        </div>
                                                    </div><!-- img_wrap -->
                                                </td>
                                                <td>
                                                    <div class="img_wrap">
                                                        <div class="top_img">
                                                            <label for="fileRepair_22" class="btn label_file">Chụp
                                                                hình</label>
                                                        </div>

                                                        <div class="bottom_img">
                                                            <input id="fileRepair_22" class="file image_repair"
                                                                   type="file" style="display:none">
                                                            <label class="name_file"></label>
                                                        </div>
                                                    </div><!-- img_wrap -->
                                                </td>
                                            </tr>
                                        </table>
                                        <a class="btn btn-success add-icon add-img image_repair"
                                           style="width:20px">+</a>
                                        <a class="btn btn-warning remove-icon remove-img image_repair"
                                           style="width:20px">-</a>
                                    </div>
                                </div>


                            </div>
                                <br>
                            <?php endif; ?>



                            <h3 style="color: #2aad6f">Hạng mục OPPO:</h3><br>

                            <div class="table_checkshop">
                                <table class="table" id="table_category">
                                    <tbody>
                                    <tr>
                                        <th>Tên hạng mục</th>
                                        <th>Số lượng<br>đã đầu tư</th>
                                        <?php if ($this->checkshop_last): ?>
                                            <th>Số lượng checkshop <br>
                                                Ngày <?php echo date('d/m', strtotime($this->checkshop_last[0]['created_at'])); ?>
                                            </th>
                                        <?php endif; ?>
                                        <th>Điền số lượng<br> hiện có</th>
                                        <!--  <th></th> -->
                                    </tr>

                                    <?php foreach ($this->investments as $key => $value): ?>

<!--                                        --><?php //if (in_array($value['group_bi'], [2, 3])): ?>
<!---->
<!--                                            <tr>-->
<!--                                                <td>--><?php //echo $value['category_name']; ?><!--</td>-->
<!--                                                <td>--><?php //echo $value['quantity']; ?><!--</td>-->
<!---->
<!--                                                --><?php //if ($this->checkshop_last): ?>
<!--                                                    <td>--><?php //echo $this->checkshop[$value['category_id']][0]['quantity'] ? $this->checkshop[$value['category_id']][0]['quantity'] : 0;; ?><!--</td>-->
<!--                                                --><?php //endif; ?>
<!---->
<!--                                                <td>-->
<!--                                                    <a class="btn scan_open scan_open_--><?php //echo $value['category_id']; ?><!--" id="scan" data-toggle="modal"-->
<!--                                                       data-cat-id="--><?php //echo $value['category_id']; ?><!--">Scan</a>-->
<!--                                                    <label class="imei_qrcode imei_--><?php //echo $value['category_id']; ?><!--"></label>-->
<!--                                                    <input type="hidden" value="--><?php //echo $value['category_id']; ?><!--"-->
<!--                                                           name="category_id[]"/>-->
<!--                                                    <input type="hidden"-->
<!--                                                           class="input_imei_--><?php //echo $value['category_id']; ?><!--"-->
<!--                                                           name="imei[]" id="input_imei">-->
<!--                                                    <input type="hidden" name="quantity[]"/>-->
<!---->
<!--                                                </td>-->
<!---->
<!--                                            </tr>-->
<!--                                        --><?php //else: ?>
                                            <tr>
                                                <td><?php echo $value['category_name']; ?></td>
                                                <td><?php echo $value['quantity']; ?></td>
                                                <?php if ($this->checkshop_last): ?>
                                                    <td><?php echo $this->checkshop[$value['category_id']][0]['quantity']; ?></td>
                                                <?php endif; ?>
                                                <td>

                                                    <input class="quantity_checkshop" id="quantity_checkshop" min='0'
                                                           type="number" name="quantity[]" required
                                                           style="width: 60px;">
                                                    <input type="hidden" name="imei[]"/>
                                                    <input type="hidden" value="<?php echo $value['category_id']; ?>"
                                                           name="category_id[]"/>

                                                </td>

                                            </tr>
<!--                                        --><?php //endif; ?>

                                    <?php endforeach; ?>

                                    </tbody>
                                </table>
                            </div>

                            <div class="btn_file">
                                <p class="btn btn-primary btn_add pull-right" style="width: 25px;margin: 5px"> + </p>
                                <p class="btn btn-warning btn_remove pull-right" style="width: 25px;margin:5px"> - </p>
                            </div>
                            <br><br>

                            <br>
<!--                             check brand-->

                            <h3 style="color:blue">Thống kê hạng mục hãng khác:</h3><br>
                            <div class="table_brand">
                                <table class="table">
                                    <thead>
                                    <tr>
                                        <th style="width:40%">Hãng</th>
                                        <th style="width:40%">Tên hạng mục</th>
                                        <th style="width:20%">Số lượng</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <?php if ($this->checkshopDetailBrand) : ?>
                                        <?php foreach ($this->checkshopDetailBrand as $detailBrand) :?>
                                            <tr class="row_brand_category">
                                                <td><?php echo $detailBrand['brand_name']; ?></td>
                                                <td><?php echo $detailBrand['category_name']; ?></td>
                                                <td><?php echo $detailBrand['quantity']; ?></td>

                                                <input type="hidden" name="category_brand_id[]" value="<?php echo $detailBrand['category_id']; ?>">
                                                <input type="hidden" name="brand_id[]" value="<?php echo $detailBrand['brand_id']; ?>">
                                                <input type="hidden" name="quantity_brand[]" value="<?php echo $detailBrand['quantity']; ?>">
                                            </tr>
                                        <?php endforeach; ?>
                                    <?php endif; ?>

                                    </tbody>

                                    </tbody>
                                </table>
                            </div>
                                <div class="btn_brand">
                                    <p class="btn btn-primary btn_add_brand pull-right" style="width: 25px;margin: 5px"> + </p>
                                    <p class="btn btn-warning btn_remove_brand pull-right" style="width: 25px;margin:5px"> - </p>
                                </div>

                            <br><br><br>



                            <div class="block" style="text-align: center;">

                                <p id="demo" style="font-size: 9px; color:red;">Đang lấy vị trí</p>
                            </div>
                            <div class="block wrap_picture">

                                <table class="table table-img check_table">
                                    <tr>
                                        <th>Hình ngoại thất</th>
                                        <th>Hình nội thất 1</th>
                                        <th>Hình nội thất 2</th>
                                    </tr>
                                    <tr>
                                        <td style="vertical-align: top;">
                                            <div class="img_wrap">
                                                <div class="top_img">
                                                    <label for="file_0" class="btn label_file">Chụp hình</label>
                                                </div>

                                                <div class="bottom_img">
                                                    <input id="file_0" class="file image_checkshop" type="file">
                                                    <label class="name_file"></label>
                                                </div>
                                            </div><!-- img_wrap -->
                                        </td>
                                        <td style="vertical-align: top;">
                                            <div class="img_wrap">
                                                <div class="top_img">
                                                    <label for="file_1" class="btn label_file">Chụp hình</label>
                                                </div>

                                                <div class="bottom_img">
                                                    <input id="file_1" class="file image_checkshop" type="file">
                                                    <label class="name_file"></label>
                                                </div>
                                            </div><!-- img_wrap -->
                                        </td>
                                        <td style="vertical-align: top;">
                                            <div class="img_wrap">
                                                <div class="top_img">
                                                    <label for="file_2" class="btn label_file">Chụp hình</label>
                                                </div>

                                                <div class="bottom_img">
                                                    <input id="file_2" class="file image_checkshop" type="file">
                                                    <label class="name_file"></label>
                                                </div>
                                            </div><!-- img_wrap -->
                                        </td>
                                    </tr>
                                </table>
                                <a class="btn btn-primary add-icon image_checkshop add-img" id="add-img">+</a>
                                <a class="btn btn-warning remove-icon remove-img" id="remove-img">-</a>
                            </div>
                            <hr>
                            <input type="hidden" name="store_id" value="<?php echo $this->store['id']; ?>">
                            <input type="hidden" name="latitude" value="" id="latitude">
                            <input type="hidden" name="longitude" value="" id="longitude">
                             <input type="hidden" name="check_shop_entire_id" value="<?php echo $this->store_error_info['check_shop_entire_id']; ?>">
                            <div class="alert alert-error" style="display: none;" id="notify"><p id="alert"></p></div>


                            <?php if ($this->user_spe) : ?>
                                <input type="hidden" name="dev" value="1">
                            <?php endif; ?>

                            <div style="text-align: center;">
                                <input type="submit" class="btn btn-success" name="" id="submit_" value="Hoàn Thành">
                                <a href="/trade/check-shop-list" class="btn btn-default" style="height: 23px;"><p>Quay
                                        lại</p></a>
                            </div>
                        </form>
                    </div>
                </div>
                <div id="mapholder"></div>
            </div>
        </div>
    </div>
</div>

<!-- Scanner-->
<div id="scanner" class="modal fade add_new_items" role="dialog" style="display: none">
    <div class="modal-dialog">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-body">
                <div class="content_tad table_shop_dat">
                    <!-- SCAN QR CODE -->
                    <div id="app">
                        <div class="sidebar">
                            <h2>Scans</h2>
                        </div>
                        <div class="preview-container">
                            <video id="preview"></video>
                            <img src="/img/bg_scan.png" class="frame_scan">
                        </div>
                    </div>
                    <div class="scan_wrap">
                        <a data-dismiss="modal" class="close_btn scan_close">
                            <img src="/img/close.png" style="width: 30px; float: right; margin-top: -5px;">
                        </a>
                    </div>
                    <!-- END SCAN QR CODE-->
                </div>
            </div><!-- modal-body -->
        </div>
    </div>
</div>

<!-- Virtual Category List -->
<div class="add_category" style="display: none">
    <div class="select_category">
        <select class="category">
            <option value="">-- Chọn hạng mục --</option>
            <?php foreach ($this->category as $key => $value): ?>
                <option group_bi='<?php echo $value['group_bi']; ?>'
                        value="<?php echo $value['id']; ?>"><?php echo $value['name']; ?></option>
            <?php endforeach; ?>
        </select>
    </div>
    
    <div class="select_category_temp">
    </div>
</div>

<!--Row category brand copy-->
<table class="table" id="row_brand_copy">
    <tr>
        <td>
            <select name="brand_id[]" style="width:100px;" required>
                <option value="">- Chọn hãng -</option>
                <?php foreach ($this->listBrand as $brand) :?>
                    <option value="<?php echo $brand['id']; ?>"><?php echo $brand['name']; ?></option>
                <?php endforeach; ?>
            </select>
        </td>
    <td>
        <select class="category_brand_id" name="category_brand_id[]" style="width:100px;" required>
            <option value="">-- Chọn hạng mục --</option>
            <?php foreach ($this->listCategoryBrand as $category) :?>
                <option value="<?php echo $category['id']; ?>"><?php echo $category['name']; ?></option>
            <?php endforeach; ?>
        </select>
    </td>

    <td><input type="number" name="quantity_brand[]" style="width: 60px" required></td>
    </tr>
</table>

<!-- Modal Img -->
<div id="myModalImg" class="modal">

    <!-- The Close Button -->
    <span class="close">&times;</span>

    <!-- Modal Content (The Image) -->
    <img class="modal-content" id="img01">

    <!-- Modal Caption (Image Text) -->
    <div id="caption"></div>
</div>
<!--End Modal Img -->
<!--end row category brand copy-->
<script type="text/javascript" src="/js/sweetalert2.all.min.js"></script>

<script type="text/javascript" src="/js/offline/offline.min.js"></script>
<link rel="stylesheet" type="text/css" href="/js/offline/offline-theme-default.css"/>
<link rel="stylesheet" type="text/css" href="/js/offline/offline-language-english.min.css"/>
<!-- Init Scanner -->
<script type="text/javascript">
    $(window).on('load', function() {
        // Animate loader off screen
        $("#loading-image").fadeOut("slow");
    });

    $(document).ready(function() {


        // check nconnection

        Offline.options = {
            // to check the connection status immediatly on page load.
            checkOnLoad: false,

            // to monitor AJAX requests to check connection.
            interceptRequests: true,

            // to automatically retest periodically when the connection is down (set to false to disable).
            reconnect: {
                // delay time in seconds to wait before rechecking.
                initialDelay: 7,

                // wait time in seconds between retries.
                delay: 7
            },

            // to store and attempt to remake requests which failed while the connection was down.
            // requests: true
        };

        Offline.on('confirmed-down', function () {
            Offline.on('confirmed-up', function () {
                Swal.close();
            });
        });

        if (isWebPlatform()) {
            // alert('Vui lòng sử dụng App để check shop!');
            // setTimeout(function () {
            //     window.location.href = "/trade/check-shop-list";
            // })
            // return;
        }

        // Callback scan success
        function scanSuccess(content) {
            if(content) {
                let im = $('.imei_' + currentCategory + ':eq(' +index_category+ ')').html();
                if(im != undefined && im.length > 0) {
                    im += ', ';
                }
                let imei = content.replace('http://trade-marketing.opposhop.vn/tool/scan-imei?imei_sn=', '');
                imei = imei.replace('https://trade-marketing.opposhop.vn/tool/scan-imei?imei_sn=', '');
                $('.imei_' + currentCategory + ':eq(' +index_category+ ')').html(im + imei);
                $('.input_imei_' + currentCategory + ':eq(' +index_category+ ')').val(im + imei);
            }
        }

        // Init scan
        if(isWebPlatform()) {
            $('.scan_open').attr('disabled', 'disabled')
                .prop("disabled", true)
                .css('font-size', '8px')
                .text('InitializingScanner...');
            $('.btn_add').attr('disabled', 'disabled')
                .prop("disabled", true);
            $('.btn_remove').attr('disabled', 'disabled')
                .prop("disabled", true);

            $.cachedScript("/js/qrcode/instascan.min.js", function() {
                Instascan.Camera.getCameras().then(function (cameras) {
                    if (cameras.length > 0) {
                        let webScanner = {};
                        webScanner.scanner = new Instascan.Scanner({video: document.getElementById('preview'), scanPeriod: 5});
                        webScanner.cameraId = cameras[1];
                        $(document).on('click', '.scan_open', function() {
                            $('#scanner').modal('toggle');
                            currentCategory = $(this).attr('data-cat-id');
                            webScanner.scanner.start(webScanner.cameraId);
                        });
                        let closeScan = function(content = null) {
                            $('#scanner').modal('hide');
                            setTimeout(function() {
                                webScanner.scanner.stop();
                            }, 200);
                            scanSuccess(content);
                        };
                        $(document).on('click', '.scan_close', function() {
                            closeScan()
                        });
                        webScanner.scanner.addListener('scan', function(content) {
                            closeScan(content)
                        });
                    } else {
                        alert('No cameras found.');
                    }
                }).catch(function (e) {
                    alert(e);
                });
                $('.scan_open').removeAttr('disabled')
                    .prop("disabled", false)
                    .css('font-size', '')
                    .text('Scan');
                $('.btn_add').removeAttr('disabled')
                    .prop("disabled", false);
                $('.btn_remove').removeAttr('disabled')
                    .prop("disabled", false);
            });
        }
        else {
            $(document).on('click', '.scan_open', function() {
                
                currentCategory = $(this).attr('data-cat-id');
                
                index_category = $('.scan_open_'+currentCategory).index(this);
                
                index_category = index_category;
                
                _Scanner.scan(scanSuccess);
            });
        }
    });
</script>

<script type="text/javascript">

    //see image
    // Get the modal
    var modal = document.getElementById('myModalImg');

    // Get the image and insert it inside the modal - use its "alt" text as a caption
    var img = document.getElementById('myImg');
    var modalImg = document.getElementById("img01");
    var captionText = document.getElementById("caption");
    $(document).on('click','.myImg',function(){
        modal.style.display = "block";
        modalImg.src = this.src;
        captionText.innerHTML = this.alt;
    });


    $('.close').click(function () {
        $('#myModalImg').hide();
    })

    //

    var currentCategory = '';
    var index_category = '';
    var listImage = [
        "",
        "",
        ""
    ];
    var listImageError = [

    ];
    var listImageRepair = [

    ];

    $(document).ready(function () {
        //  copy row brand
        var rowBrandCopy = "<tr class='row_brand_category'>" + $('#row_brand_copy').find('tr').html() + '</tr>';
        $('#row_brand_copy').remove();

        $(document).on('click', '.btn_add_brand', function() {
           var tableBrand = $('.table_brand').find('tbody');
            tableBrand.append(rowBrandCopy);
        });

        $(document).on('click', '.btn_remove_brand', function() {
            $('.table_brand').find('tr:last').remove();
        });

        // Run
        alertLocation();

        getLocation();

        // ==============================================================

        function notify() {
            var notify = document.getElementById('notify');
            var alert = document.getElementById('alert');
            alert.innerHTML = "Vui lòng chụp ít nhất 3 hình ảnh!";
            notify.style = "display:true;";
            notify.style = "text-align:center;";
            alert.style = "color:red; font-size:12px; font-style:italic;";
        }

        function alertLocation() {
            //$('.loader-wrap').show();
            //$('.text-core').html('Đang xác định vị trí GPS ...');
        }

        function getLocation() {

            let options = {
                timeout: 120000,
                enableHighAccuracy: true,
                maximumAge: 120000
            };
            if(isMobilePlatform()) {
                _Geolocation.getCurrentPosition(showPosition, showError, options);
            } else {
                if (navigator.geolocation) {
                    navigator.geolocation.getCurrentPosition(showPosition, showError, options);
                } else {
                    alert("Geolocation không được hỗ trợ bởi trình duyệt này.");
                }
            }
        }

        function showPosition(position) {
            var x = document.getElementById("demo");
            x.innerHTML = "Vị trí của bạn: ( " + position.coords.latitude + " , " + position.coords.longitude + " )";
            $('#latitude').val(position.coords.latitude);
            $('#longitude').val(position.coords.longitude);

            $('.btn_submit').show();
            $('.loader-wrap').hide();
        }

        function showError(error) {

            $('.loader-wrap').hide();

            switch (error.code) {
                case error.PERMISSION_DENIED:
                    alert("Người sử dụng từ chối cho xác định vị trí. Vui lòng bật dịch vụ GPS để tiếp tục!");
                    break;
                case error.POSITION_UNAVAILABLE:
                    alert("Thông tin vị trí không có sẵn.");
                    break;
                case error.TIMEOUT:
                    alert("Yêu cầu vị trí người dùng vượt quá thời gian quy định.");
                    break;
                case error.UNKNOWN_ERROR:
                    alert("Một lỗi xảy ra không rõ nguyên nhân.");
                    break;
            }
        }

        // Camera captured success
        function takeImage(_self, file, base64 = null, type_image) {
            let modifiedTime = file.lastModified;
            let now = Date.now();
            if ((now - modifiedTime) > 5000 || modifiedTime > new Date().getTime()) {
                alert('Vui lòng chụp hình, không chọn hình có sẵn!');
                $(_self).closest('.img_wrap').find('.name_file').html('Vui lòng chụp hình, không chọn hình có sẵn!');
                $(_self).wrap('<form>').closest('form').get(0).reset();
                $(_self).unwrap();
                return;
            }
            let type = file.type.toLowerCase();
            if(type !== "image/jpeg" && type !== "image/jpg" && type !== "image/png") {
                alert('Chỉ có thể gửi lên hình ảnh!');
                $(_self).closest('.img_wrap').find('.name_file').html('Chỉ có thể gửi lên hình ảnh!');
                $(_self).wrap('<form>').closest('form').get(0).reset();
                $(_self).unwrap();
                return;
            }
            if($(_self).closest('.img_wrap').find('.name_file').find('.image-thumbnail').length > 0) {
                let imageId = $(_self).closest('.img_wrap').find('.name_file').find('.image-thumbnail').attr('id').split('_')[1];
                // listImage[parseInt(imageId)] = "";

                if (type_image == 'image_checkshop') {
                    listImage[parseInt(imageId)] = "";
                }
                if (type_image == 'image_error') {
                    listImageError[parseInt(imageId)] = "";
                }
                if (type_image == 'image_repair') {
                    listImageRepair[parseInt(imageId)] = "";
                }
            }
            $(_self).closest('.img_wrap').find('.name_file').empty();
            let indexFile = parseInt(_self.id.split('_')[1]);
            setTimeout(function() {
                if(base64 === null) {
                    convertFileToBase64(file, function(base64) {
                        setTimeout(function() {
                            createThumbnail(base64, 500, function (thumbnailBase64) {
                                // listImage[indexFile] = thumbnailBase64;
                                if (type_image == 'image_checkshop') {
                                    listImage[indexFile] = thumbnailBase64;
                                }
                                if (type_image == 'image_error') {
                                    listImageError[indexFile] = thumbnailBase64;
                                }
                                if (type_image == 'image_repair') {
                                    listImageRepair[indexFile] = thumbnailBase64;
                                }
                                $(_self).closest('.img_wrap').find('.name_file')
                                    .append(
                                        '<img style="max-width: 100px;" class="image-thumbnail" id="img_'
                                        +indexFile+'" src="' + thumbnailBase64 + '" />'
                                    );
                            });
                        }, 500);
                    });
                } else {
                    createThumbnail(base64, 500, function (thumbnailBase64) {
                        // listImage[indexFile] = thumbnailBase64;
                        if (type_image == 'image_checkshop') {
                            listImage[indexFile] = thumbnailBase64;
                        }
                        if (type_image == 'image_error') {
                            listImageError[indexFile] = thumbnailBase64;
                        }
                        if (type_image == 'image_repair') {
                            listImageRepair[indexFile] = thumbnailBase64;
                        }

                        $(_self).closest('.img_wrap').find('.name_file')
                            .append(
                                '<img style="max-width: 100px;" class="image-thumbnail" id="img_'
                                +indexFile+'" src="' + thumbnailBase64 + '" />'
                            );
                    })
                }
            }, 500);
        }

        // Open Camera
        if(isWebPlatform()) {
            $(document).on('change', '.file', function () {
                var image_checkshop = $(this).hasClass('image_checkshop');
                var image_error = $(this).hasClass('image_error');
                var image_repair = $(this).hasClass('image_repair');

                var type_image = '';

                if (image_checkshop) {
                    type_image = 'image_checkshop';
                }

                if (image_error) {
                    type_image = 'image_error';
                }

                if (image_repair) {
                    type_image = 'image_repair';
                }


                takeImage(this, this.files[0], null, type_image);
                $(this).wrap('<form>').closest('form').get(0).reset();
                $(this).unwrap();
            });
        }
        else {
            $(document).on('click', '.file', function () {
                let _self = this;
                var image_checkshop = $(this).hasClass('image_checkshop');
                var image_error = $(this).hasClass('image_error');
                var image_repair = $(this).hasClass('image_repair');

                var type_image = '';

                if (image_checkshop) {
                    type_image = 'image_checkshop';
                }

                if (image_error) {
                    type_image = 'image_error';
                }

                if (image_repair) {
                    type_image = 'image_repair';
                }

                _Camera.getPicture(function(base64img) {
                    let file = convertBase64ToFile(base64img, 'tmp_' + new Date().getTime());
                    takeImage(_self, file, base64img,type_image);
                }, null, {});
                return false;
            });
        }

        $(document).on('change', ".category", function () {
            var category_id = $(this).val();
            var option = $(this).find('option:selected', this).attr('group_bi');
            let html = '';
            // if (option == 2 || option == 3) {
            //     html = '<a class="btn scan_open scan_open_'+category_id+'" id="scan" data-toggle="modal" data-cat-id="' + category_id + '">Scan</a>\
            //         <label class="imei_qrcode imei_' + category_id + '"></label>\
            //         <input type="hidden" value="' + category_id + '" name="category_id[]">\
            //         <input type="hidden" class="input_imei_' + category_id + '" name="imei[]" id="input_imei">\
            //         <input type="hidden" name="quantity[]">';
            // } else {
                html = '<input class="quantity_checkshop" id="quantity_checkshop" min="0" type="number" name="quantity[]" required="" style="width: 60px;">\
                <input type="hidden" name="imei[]">\
                <input type="hidden" value="' + category_id + '" name="category_id[]">';
            // }
            $(this).closest('tr').find('.number_checkshop').html(html);
            
            //Loại bỏ hạng mục đã chọn
            $(this).removeClass('category');
            $('.category').find("option[value='"+category_id+"']").remove();
            $(this).addClass('category');
            
        });

        $(document).on('click', ".btn_add", function () {
            
            $('.select_category_temp').html($('.select_category').html());
            
            $('input[name^="category_id"]').each(function() {
                $('.select_category_temp').find("option[value='"+$(this).val()+"']").remove();
            });
            
            var select_category = $('.select_category_temp').html();
            

            $('#table_category').append('\
                <tr>\
                  <td>' + select_category + '</td>\
                  <td></td>\
                  <td>\
                    <div class="number_checkshop">\
                    </div>\
                  </td>\
                </tr>\
              ');
        });

        $(document).on('click', ".btn_remove", function () {
            var table = document.getElementById('table_category');
            var rowCount = table.rows.length;
            if(rowCount > 1){
                table.deleteRow(rowCount - 1);
            }
        });

        $(document).on('click', ".add-img", function () {
            //lấy label for = "file_?"
            var image_checkshop = $(this).hasClass('image_checkshop');
            var image_error = $(this).hasClass('image_error');
            var image_repair = $(this).hasClass('image_repair');
            var class_attr = '';
            var id_attr = '';
            var table_image = $(this).parents('.wrap_picture').find('.table-img');
            var val = table_image.find('tr:last').find('td:last').find('.label_file').attr('for');
            var arr = val.split('_');
            var stt = parseInt(arr[1]) + 1;

            if (image_checkshop) {
                class_attr = 'image_checkshop';
                id_attr = 'file_'
            }
            if (image_error) {
                class_attr = 'image_error';
                id_attr = 'fileError_';
            }
            if (image_repair) {
                class_attr = 'image_repair';
                id_attr = 'fileRepair_';
            }
            // listImage.push('');
            //lấy số cột của hàng  cuối trong bảng
            var length = table_image.find('tr:last').find('td').length;
            if (length < 3) {
                table_image.find('tr:last').append('<td style="vertical-align: top;">\
                    <div class="img_wrap">\
                        <div class="top_img">\
                            <label for="'+id_attr+''+stt+'" class="btn label_file">Chụp hình</label>\
                        </div>\
                        <div class="bottom_img">\
                            <input id="'+id_attr+''+stt+'" class="file '+class_attr+'" type="file" >\
                            <label class="name_file"></label>\
                        </div>\
                    </div>\
                </td>')
            }
            else {
                table_image.append('<tr>\
                    <td style="vertical-align: top;"><div class="img_wrap">\
                          <div class="top_img">\
                            <label for="'+id_attr+''+stt+'" class="btn label_file">Chụp hình</label>\
                          </div>\
                          <div class="bottom_img">\
                            <input id="'+id_attr+''+stt+'" class="file '+class_attr+'" type="file" >\
                            <label class="name_file"></label>\
                          </div>\
                        </div></td>\
                    </tr>');
            }
        });

        $(document).on('click', ".remove-img", function () {
            var table_image = $(this).parents('.wrap_picture').find('.table-img');
            var image_checkshop = $(this).hasClass('image_checkshop');
            var image_error = $(this).hasClass('image_error');
            var image_repair = $(this).hasClass('image_repair');
            var length_input =table_image.find('input').length;
            if (length_input > 3) {
                // listImage.pop();
                if (image_checkshop) {
                    listImage.pop();
                }
                if (image_error) {
                    listImageError.pop();
                }
                if (image_repair) {
                    listImageRepair.pop();
                }
                if(table_image.find('tr:last').find('td:last').find('.image-thumbnail').length > 0) {
                    let imageId = table_image.find('tr:last').find('td:last').find('.image-thumbnail').attr('id');
                }
                var l = table_image.find('tr:last').find('td').length;
                if (l == 1) {
                    table_image.find('tr:last').remove();
                } else {
                    table_image.find('tr:last').find('td:last').remove();
                }
            }
        });

        $("form").submit(function () {
            let countImage = 0;
            let countImageRepair = 0;
            // check image check shop
            listImage.forEach(function(image) {
                if(image !== "")
                    countImage ++;
            });
            if (countImage < 3) {
                notify();
                return false;
            }
            // check image repair
            listImageRepair.forEach(function(image) {
                if(image !== "")
                    countImageRepair ++;
            });
            var check_image_repair = $('#is_repair').prop('checked');
            var count_checked_repair = 0;
            $('.is_repair').each(function () {
                if ($(this).prop('checked')) {
                    count_checked_repair ++;
                }
            });

            if (count_checked_repair > 0 && countImageRepair < 1) {
                Swal.fire({
                            type: 'warning',
                            title: 'Vui lòng chụp hình ảnh sau khi sửa chữa!',
                            showConfirmButton: false,
                            timer: 4000
                        });
                return false;

            }


            //
            // $('.loader-wrap').show();
            // $('.text-core').html('Đang lưu dữ liệu ...');

            Swal.fire({
                title: 'Đang lưu dữ liệu...',
                allowOutsideClick: false,
                onBeforeOpen: () => {
                    Swal.showLoading()
                }
            });


            let form = $('#form');
            let formData = new FormData(form[0]);

            // image check shop
            let listImageId = Object.keys(listImage);
            listImageId.forEach(function(imageId) {
                let file;
                if(listImage[imageId] !== "") {
                    file = listImage[imageId]; // base64 file
                    formData.append('image[]', file);
                }
            });

            //image repair
            let listImageRepairId = Object.keys(listImageRepair);
            listImageRepairId.forEach(function(imageId) {
                let file;
                if(listImageRepair[imageId] !== "") {
                    file = listImageRepair[imageId]; // base64 file
                    formData.append('image_repair[]', file);
                }
            });

            $.ajax({
                url: "/trade/save-create-checkshop",
                data: formData,
                enctype: 'multipart/form-data',
                cache: false,
                contentType: false,
                processData: false,
                type: "POST",
                success:function(url) {
                    window.location.href = url;
                },
                error: function() {
                    $('#notify').css('display', 'none');
                    alert('Có lỗi xảy ra trong quá trình lưu dữ liệu, vui lòng thử lại sau!');
                }
            });
            return false;
        });

        // $('#is_repair').click(function () {
        //     var value =  $(this).prop('checked');
        //     if (value) {
        //         $('#image_after_repair').show();
        //     } else {
        //         $('#image_after_repair').hide();
        //     }
        // })

    });

</script>




