

<style type="text/css">
	.block_category{display: block;border:2px solid #c5d0cc;padding: 10px;border-radius: 5px}
	.block_category .title{text-decoration: underline;text-transform: uppercase;font-weight: bold;color:#008B56;text-align: center;margin-bottom: 10px}
	.block_category .row_cat{display: block;border-bottom: 1px solid #008B56;margin-bottom: 10px;padding-bottom: 10px;}
	.bottom_submit{text-align: center;margin:10px;}
        
        .select2-container--default .select2-selection--single{font-size: 12px}
        .select2-dropdown{font-size: 12px;}
</style>

<div class="content-layout">
	<div class="page-header">
		<h1>
                    <?php echo !empty($this->campaign['name']) ? $this->campaign['name'] : 'Tạo đơn đặt hàng '.$this->trade_type;?>
                </h1>
	</div>
	
	<?php
        if (isset($this->messages) and $this->messages)
            foreach ($this->messages as $message):
                echo '<div class="alert alert-success">'.$message.'</div>';
            endforeach;

        if (isset($this->messages_error) and $this->messages_error)
            foreach ($this->messages_error as $message):
                echo '<div class="alert alert-error">'.$message.'</div>';
            endforeach;
        ?>

	<form action="/trade/create-posm" method='POST'>
		<div class="container">
			<div class="control-group">											
				<label class="control-label" for="name">Tên đợt đặt hàng</label>
				<div class="controls">
                                    <input type="text" name="name" class="span6" id="name" required value="<?php echo !empty($this->campaign['name']) ? $this->campaign['name'] : NULL;?>">
				</div>				
			</div><!-- control-group -->

			<div class="control-group">											
				<label class="control-label" for="from_date">Từ ngày</label>
				<div class="controls">
                                    <input type="text" name="from_date" class="span6 date" id="from_date" required value="<?php echo !empty($this->campaign['from']) ? date('d/m/Y', strtotime($this->campaign['from'])) : NULL;?>">
				</div>				
			</div><!-- control-group -->

			<div class="control-group">											
				<label class="control-label" for="to_date">Đến ngày</label>
				<div class="controls">
					<input type="text" name="to_date" class="span6 date" id="to_date" required value="<?php echo !empty($this->campaign['to']) ? date('d/m/Y', strtotime($this->campaign['to'])) : NULL;?>">
				</div>				
			</div><!-- control-group -->

			<div class="block_category">
				<label class="title">Danh sách POSM:</label>
                                
                                <a class="btn btn-primary add_new pull-right">+</a>
                                
				<div class="sample" style="display: none">
					<div class="row_cat">
						<select name="category_id[]">
							<option value="">--Chọn hạng mục--</option>
							<?php foreach($this->category as $key=>$value):?>
                            <option value="<?php echo $value['id'];?>"><?php echo $value['name'];?></option>
							<?php endforeach;?>
						</select>
						<!--<input type="number" placeholder="Giá" name="price[]">-->
                                                <input type="hidden" name="campaign_category_id[]">
						<a class="btn btn-danger remove">-</a>
						<a class="btn btn-primary add_new">+</a>
					</div><!-- row_cat -->
				</div>

				<div class="wrap_block">
                                    <?php if(!empty($this->campaign_category)):?>
                                        <?php foreach($this->campaign_category as $k=>$v):?>
                                        <div class="row_cat">
                                                <select name="category_id[]" readonly>
                                                        <option value="">--Chọn hạng mục--</option>
                                                        <?php foreach($this->category as $key=>$value):?>
                                                        <option value="<?php echo $value['id'];?>" <?php echo ($value['id'] == $v['category_id']) ? 'selected' : NULL;?>><?php echo $value['name'];?></option>
                                                        <?php endforeach;?>
                                                </select>
                                                <!--<input type="number" placeholder="Giá" name="price[]">-->
                                                <input type="hidden" name="campaign_category_id[]" value="<?php echo $v['id'];?>">
                                                <a class="btn btn-danger remove">-</a>
                                                <a class="btn btn-primary add_new">+</a>
                                        </div><!-- row_cat -->
                                        <?php endforeach;?>
                                    <?php else:?>
                                    <div class="row_cat">
                                            <select name="category_id[]">
                                                    <option value="">--Chọn hạng mục--</option>
                                                    <?php foreach($this->category as $key=>$value):?>
                                                    <option value="<?php echo $value['id'];?>"><?php echo $value['name'];?></option>
                                                    <?php endforeach;?>
                                            </select>
                                            <!--<input type="number" placeholder="Giá" name="price[]">-->
                                            <a class="btn btn-danger remove">-</a>
                                            <a class="btn btn-primary add_new">+</a>
                                    </div><!-- row_cat -->
                                    <?php endif;?>
				</div><!-- wrap_block-->

			</div><!-- block_category -->
			
			<div class="bottom_submit">
				<input type="hidden" name="type" value="<?php echo $this->type;?>">
                                <input type="hidden" name="campaign_id" value="<?php echo !empty($this->campaign['id']) ? $this->campaign['id'] : NULL;?>">
				<input class="btn btn-primary" type="submit" value="Xác nhận" name="submit" >
			</div>

		</div><!-- container-->
	</form>

</div><!-- content-layout -->

<script type="text/javascript" src="/js/jquery-ui-1.8.12.custom.min.js"></script>
<link rel="stylesheet" type="text/css" href="/css/jquery-ui-1.8.12.custom.css"/>
<link rel="stylesheet" type="text/css" href="<?php echo HOST ?>css/select2.min.css">
<script type="text/javascript" src="<?php echo HOST ?>js/select2.min.js"></script>

<script type="text/javascript">
	$(document).ready(function () {
            
            $( '.date' ).datepicker({ dateFormat: "dd/mm/yy" });
            $('.wrap_block').find('select').select2();

            $(document).on('click', '.add_new', function() {
                html = $('.sample').html();
                $('.wrap_block').append(html);
                $('.wrap_block').find('select').select2();
            });

            $(document).on('click', '.remove', function() {
                $(this).closest('.row_cat').remove();
            });
            
	});
</script>
