
<style type="text/css">

.select2-container--default .select2-selection--single {
  border-left: 3px solid #aaa;
  margin-bottom: 5px;
  font-size: 13px;
}
.select2-container--default .select2-results>.select2-results__options{
  font-size: 13px;
}
.select2-container--default .select2-search--dropdown .select2-search__field{
  height:25px;
}
@media only screen and (max-width: 1200px) {
   .select2-container .select2-selection--single .select2-selection__rendered {
    width: 100%;
   }
}


.btn-scan{
  height: 20px; 
  width: 70px;
}
#sel1{
  width: 100%;
  margin-bottom: 5px;
}
.sel1{
  width: 100%;
  margin-bottom: 3px;
} 
body, html {
padding: 0;
margin: 0;
font-family: 'tahoma';
height: 100%;
}
  /*---------------------------DESIGN QR ----------------------------------*/
  #app {
    position: relative;
  }
  #app img {
    vertical-align: middle;
    width:100%;
    opacity: 0.5;
  }
  #app  #contentQr{

    position: absolute; 
    width: 100%;
    top: 0%;
  }
  .cameras ul {
    padding: 15px 20px;
  }
  .cameras .active {
    font-weight: bold;
    color: #009900;
  }
  .cameras a {
    color: #555;
    text-decoration: none;
    cursor: pointer;
  }
  .cameras a:hover {
    text-decoration: underline;
  }
  .scans li {
    padding: 10px 20px;
    border-bottom: 1px solid #ccc;
  }
  .scans-enter-active {
    transition: background 3s;
  }
  .scans-enter {
    background: yellow;
  }
  .empty {
    font-style: italic;
  }
  .preview-container {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    display: flex;
    width: 100%;
    overflow: hidden;
    
  }
  #preview{ 
    width: 100%;    
    height:100%;    
    margin-top: 20%;
  }
  #fullscreen{
    position: fixed;
    z-index: 1; 
    display: none;
    height: 100%;
    top: 8%;
    right: 0%;
  }
  .captionQrCode{
    background-color: #414141;
    position: absolute;
    width: 100%;
    /* left: 10%;*/
    top:2%;
  }

  
  
  .wrap_picture{border: 1px solid #ddd;margin-top: 10px}
  .wrap_picture .img{padding: 10px;margin-top: -10px; margin-right: 10px;text-align: left;}
  .table_checkshop tr td{text-align: center}
  
  .btn_submit{margin: 10px 0px;display: block}
  
  
  .list-image-wrapper .image{display: block;padding: 10px;border: 1px solid #CCC;overflow: hidden;margin: 10px 0px;}
  .list-image-wrapper .image img{display:block;float:left;}
  .title_repair{font-style: italic;font-size: 14px;color: #008b56;line-height: 28px;}
  .remove_repair{font-size: 21px;line-height: 26px;cursor: pointer;padding: 5px;}
  .content_tad table tr td{max-width: 500px;}
  
  .content_layout .btn-group.open .dropdown-menu{right: auto;left: 0px;z-index: 1000;display: block;height: 202px;}
  .list_repair_row{border-bottom: 1px solid #E9E9E9;background: white 0px 20px no-repeat;border: 1px solid #2aad6f;-moz-box-shadow: 0px 3px 2px #a4ccbc;-webkit-box-shadow: 0px 3px 2px #a4ccbc;box-shadow: 0px 3px 2px #a4ccbc;margin-bottom: 10px;}
  
  .remove_image{display: block;font-size: 16px;cursor: pointer}
  
  .wrap_part .part{padding: 10px;border-bottom: 1px solid #008B56}
  .add_part{font-size: 20px;color: red; margin: 10px;display: block;float: left;}
  .remove_part{font-size: 17px;color: red; margin: 5px;}
  
</style>
<div class="content-layout">
  <div class="row">
    <div class="span6">
      <div class="table_main" style="margin-top: 7px;">
        <div class="header_tad">
            <i class="icon-list-alt"></i> TẠO HỢP ĐỒNG
        </div>
        <div class="content_tad">
          <div class="content_content" style="min-height: 405px;">
          <?php
            if (isset($this->messages) and $this->messages)
                foreach ($this->messages as $message):
                    echo '<div class="alert alert-error">'.$message.'</div>';
                endforeach;
            if (isset($this->messages_success) and $this->messages_success)
                foreach ($this->messages_success as $message):
                    echo '<div class="alert alert-success">'.$message.'</div>';
                endforeach;
          ?>
          <form class="form-search form-horizontal" id="form" method="post" action="/trade/create-contract" enctype="multipart/form-data">
            
                  <div class="table-responsive">
                    
                    <div class="wrap_picture ">
                        <div class="header_tad">
                            <i class="icon-home" style="color: red;"></i> Tạo Thông Tin
                        </div>
                        <div class="img" style="margin-top:5px;">
                            <span>Tên hợp đồng :</span>
                            <input type="text" name="contrac_name" id="sel1" value="" required> 
                        </div>
                        <div class="img" >
                            <span>Upload file hợp đồng :</span>
                            <input type="file" name="contrac_file" id="input_contrac_file" value="" style="display: block;" required>
                           
                        </div>                       
                        <div class="img">
                            <span>Loại :</span>

                            <select class="sel1" id="type_contract" name = "contract_type" required>
                                <option value="">--Chọn--</option>
                                <option  value ="1">Thi công</option>
                                <option  value ="2">Điều chuyển</option>
                                <option  value ="3">Sửa chữa</option>
                                <option  value ="4">Tiêu hủy</option>
                              
                             </select>
                        </div>

                         <div class="img">
                            <span>Nhà thầu :</span>

                            <select class="sel1" id="select_contructors"  name = "contract_contractor" required>
                                <option value="">--Chọn--</option>
                                <?php foreach ($this->contructors as $key => $value):?>
                                    <option  value ="<?php echo $value['id']?>"><?php echo $value['name']?></option>
                                <?php endforeach; ?>
                              
                              
                              
                             </select>
                        </div>

                    </div>
                    <div class="wrap_picture ">
                        <div class="header_tad">
                            <i class="icon-home" style="color: red;"></i> Chi tiết chi phí
                        </div>
                        <br>
                        <div id="table_change">
                          <table class="table">
                             <tr>
                              <th>TÊN SHOP - HẠNG MỤC</th>
                              <th>CHI PHÍ</th>
                              <th>CHỌN</th>
                            </tr>
                            <tbody class="table_change">
                             <!--  <tr>
                                <td>Vinpro - VTA 7955 TQG 133- 135 Bình Thuận - Tranh tường</td>
                                <td>190,000 </td>
                                <th>
                                  <input type="checkbox" name="contract_check" value="">
                                </th>
                              </tr>
                              <tr>
                                <td>Duy Dũng - Bắc Cạn - Tiểu khu 5 - Cột hình ảnh</td>
                                <td>100,000 </td>
                                <th>
                                  <input type="checkbox" name="contract_check" value="">
                                </th>
                              </tr> -->
                            </tbody>
                          </table>
                        </div>

                    </div>
                    

                    <div class="btn_submit" align="center">
                   
                       
                          <input type="submit" name="submit" value="Lưu"  class="btn btn-success">
                          <a href="/trade/list-contract" class="btn " style="height: 33px; border-radius: 3px; margin-top: 1px; margin-left: 2px; line-height: 21px;" >Quay lại</a>
                    </div>

                    <div class="alert"></div>
                    
                </div> 
                             
          </form>
        

          </div>
        </div>
      </div>
    </div>
  </div>
</div>



<script type="text/javascript" src="<?php echo HOST ?>js/bootstrap-multiselect.js"></script>
<link rel="stylesheet" href="<?php echo HOST ?>css/bootstrap-multiselect.css" type="text/css"/>
                                                   
<link rel="stylesheet" type="text/css" href="<?php echo HOST ?>css/select2.min.css">
<script type="text/javascript" src="<?php echo HOST ?>js/select2.min.js"></script>
<!--<script type="text/javascript" src="<?php echo HOST;?>js/qrcode/adapter.min.js"></script>
<script type="text/javascript" src="<?php echo HOST;?>js/qrcode/vue.min.js"></script>
<script type="text/javascript" src="<?php echo HOST;?>js/qrcode/instascan.min.js"></script>-->


<script type="text/javascript">
     
    
    //Multil select
    var options = {
        selectAllText: 'Select All',
        includeSelectAllOption: true,
        includeSelectAllIfMoreThan: 3,
        disableIfEmpty: true
    };
    
    $(document).ready(function () {
        
        //alertLocation();
        //getLocation();
        
        $('.select2').select2();
        

        $(document).on('change','#select_contructors',function(){
            var type = $('#type_contract').val();
            var contractor_id = $(this).val();
             $.ajax({
                  url: "<?php echo HOST;?>trade/ajax-get-contract",
                  type: "GET",
                  dataType: "text",
                  context: this,
                  data: "type="+type+"&contractor_id="+contractor_id,
                  beforeSend: function() {
                        $(".loading").show();                   
                    },
                  success: function(result){

                        if(result)
                        {
                            var data = jQuery.parseJSON(result);
                             
                            tr = '';
                            for(i=0; i < data.length; i++){

                                var store_name = (data[i].store!=null)?data[i].store:'(no data shop)';
                                var category = (data[i].category!=null)?data[i].category:'(no data hạng mục)';
                                var price = (data[i].final_price!=null)?data[i].final_price:'0';

                              if(data[i].contract_id == null){

                                 tr += '<tr>\
                                      <td>'+store_name+' - <span style="color:orange;">'+category+'</span></td>\
                                      <td>'+price+'</td>\
                                      <th>\
                                      <input type="hidden" name="details[]" value="'+data[i].id+'">\
                                        <input type="checkbox" name="contract_check['+data[i].id+'][]">\
                                      </th>\
                                  </tr>';
                                }else{
                                   tr += '<tr>\
                                      <td>'+store_name+' - <span style="color:orange;">'+category+'</span></td>\
                                      <td>'+price+'</td>\
                                      <th>\
                                        <span style="color:green"><i class="icon icon-check"></i></span>\
                                      </th>\
                                  </tr>';
                                }
                             
                            }
                            $('.table_change').html(tr);
                        }
                },
                  error:function(){
                      alert("Error Ajax");
                  }
            });
        });

         $(document).on('change','#type_contract',function(){
            var type = $(this).val();
            var contractor_id = $('#select_contructors').val();
             $.ajax({
                  url: "<?php echo HOST;?>trade/ajax-get-contract",
                  type: "GET",
                  dataType: "text",
                  context: this,
                  data: "type="+type+"&contractor_id="+contractor_id,
                  beforeSend: function() {
                        $(".loading").show();                   
                    },
                  success: function(result){

                        if(result)
                        {
                            var data = jQuery.parseJSON(result);
                             
                            tr = '';
                            for(i=0; i < data.length; i++){

                                var store_name = (data[i].store!=null)?data[i].store:'(no data shop)';
                                var category = (data[i].category!=null)?data[i].category:'(no data hạng mục)';
                                var price = (data[i].final_price!=null)?data[i].final_price:'0';

                              if(data[i].contract_id == null){

                                 tr += '<tr>\
                                      <td>'+store_name+' - <span style="color:orange;">'+category+'</span></td>\
                                      <td>'+price+'</td>\
                                      <th>\
                                      <input type="hidden" name="details[]" value="'+data[i].id+'">\
                                        <input type="checkbox" name="contract_check['+data[i].id+'][]">\
                                      </th>\
                                  </tr>';
                                }else{
                                   tr += '<tr>\
                                      <td>'+store_name+' - <span style="color:orange;">'+category+'</span></td>\
                                      <td>'+price+'</td>\
                                      <th>\
                                        <span style="color:green"><i class="icon icon-check"></i></span>\
                                      </th>\
                                  </tr>';
                                }
                             
                            }
                            $('.table_change').html(tr);
                        }
                },
                  error:function(){
                      alert("Error Ajax");
                  }
            });
        });


        $(document).on('click', '#take-picture', function () {
            _Camera.getPicture(takenImage)
        });
        
        // $(document).on('click', '#contrac_file', function () {
            
        //     stt_image = $(this).attr('data-stt-image');

        //         $('#file-tmp').trigger('click');
        //         $(document).on('change', '#file-tmp', function () {

        //             for (let i = 0; i < this.files.length; i++) {
        //                 let file = this.files[i];
                            
        //                     //check loại file document
        //                     value = this.files[i].size/1024/1024;
        //                     var extension = ["application/vnd.ms-powerpoint","application/vnd.openxmlformats-officedocument.presentationml.presentation","application/vnd.openxmlformats-officedocument.spreadsheetml.sheet","application/vnd.ms-excel","application/vnd.openxmlformats-officedocument.wordprocessingml.document","application/msword","application/x-pdf","application/pdf"];
        //                     var size = this.files.length;
        //                     var type=this.files[i]['type'];
        //                     var check = 0;
        //                           $.each(extension,function(index, item){
        //                             if (item == type){
        //                                 check =1;
        //                             }
        //                         });
        //                     if(check == 0){
        //                       $('.alert').text( "Vui lòng chọn file có định dạng (.ppt, .pptx, .xlsx, .xls, .doc, .docx)!" ).show().fadeOut( 5000 );
        //                       event.preventDefault();
        //                       return false;
        //                     }
        //                     if(value > 10){
        //                         $('.alert').text( "Dung lượng file vượt quá 10MB!" ).show().fadeOut( 2000 );
        //                         event.preventDefault();
        //                         return false;
        //                     }
        //                     //end check file
        //                 $('#file_name_temp').val(this.files[i]['name']);
        //                 convertFileToBase64(file, takenImage);
        //             }
        //             this.value = '';
        //         });
        // });


        $(document).on('click', '#take-file', function () {
            
            if (isWebPlatform()) {

                $('#file-tmp').trigger('click');
                $(document).on('change', '#file-tmp', function () {

                    for (let i = 0; i < this.files.length; i++) {
                        let file = this.files[i];
                        if (!file.type.startsWith('image/'))
                            alert('Bạn chỉ được chọn file ảnh!');
                        else
                            convertFileToBase64(file, takenImage);
                    }
                    this.value = '';
                });
            } else {
                _ImagePicker.getPictures(function (files) {
                    for (let i = 0; i < files.length; i++) {
                        takenImage(files[i]);
                    }
                });
            }
        });
        
        function takenImage(imageBase64) {
            
            let image = $('<img alt="Loading..." />');
            let input_image = $('<input type="hidden" name="image[]" />');
            let div = $('<div class="image" />');
            let divWrapper = $('<div class="removable-image"><i class="icon icon-remove pull-right remove_image"></i></div>');
            image.appendTo(div);
            input_image.appendTo(div);
            divWrapper.appendTo(div);
            div.appendTo('#list-image');
            createThumbnail(imageBase64, 300, function (thumbnailBase64) {
                image.attr('src', thumbnailBase64);
                input_image.attr('value', thumbnailBase64);
                $('#list-image').trigger('change');
            })
        }
        
        $(document).on('click', '.remove_image', function() {
            $(this).closest('.image').remove();
        });
        
        //GPS
        
        // function alertLocation() {
        //     $('.loader-wrap').show();
        //     $('.text-core').html('Đang xác định vị trí GPS ...');
        // }
        
        // function getLocation() {

        //     let options = {
        //         timeout: 120000,
        //         enableHighAccuracy: true,
        //         maximumAge: 120000
        //     };
        //     if(isMobilePlatform()) {
        //         _Geolocation.getCurrentPosition(showPosition, showError, options);
        //     } else {
        //         if (navigator.geolocation) {
        //             navigator.geolocation.getCurrentPosition(showPosition, showError, options);
        //         } else {
        //             alert("Geolocation không được hỗ trợ bởi trình duyệt này.");
        //         }
        //     }
        //}

        // function showPosition(position) {
        //     var x = document.getElementById("demo");
        //     x.innerHTML = "Vị trí của bạn: ( " + position.coords.latitude + " , " + position.coords.longitude + " )";
        //     $('#latitude').val(position.coords.latitude);
        //     $('#longitude').val(position.coords.longitude);

        //     $('.btn_submit').show();
        //     $('.loader-wrap').hide();
        // }

        // function showError(error) {

        //     $('.loader-wrap').hide();

        //     switch (error.code) {
        //         case error.PERMISSION_DENIED:
        //             alert("Người sử dụng từ chối cho xác định vị trí. Vui lòng bật dịch vụ GPS để tiếp tục!");
        //             break;
        //         case error.POSITION_UNAVAILABLE:
        //             alert("Thông tin vị trí không có sẵn.");
        //             break;
        //         case error.TIMEOUT:
        //             alert("Yêu cầu vị trí người dùng vượt quá thời gian quy định.");
        //             break;
        //         case error.UNKNOWN_ERROR:
        //             alert("Một lỗi xảy ra không rõ nguyên nhân.");
        //             break;
        //     }
        // }
        
    });
</script>



