<style type="text/css">
    .control-label{
        float: left;
    }
    .controls{
        margin-left: 20%;
    }
    fieldset{border: 1px solid #CCC; padding: 10px;margin-bottom: 20px;}
    .addressArea{margin-right: 77px;}
    #addExpectPlace{margin-right: 10px}
    #removeExpectPlace{margin-right: 10px}
    legend{margin-bottom: 0px; font-weight: bold; font-size: 15px;}
    .dang_cv{margin-right: 20px;}
    .upload_date{cursor: pointer;}
    .upload_cv_new{cursor: pointer;}
    .row_submit{
        margin-bottom: 10px;
    }
</style>

<div class="content-layout">
    <div class="page-header">
        <h1>Create New Contructor</h1>
    </div><!-- page-header -->
      <?php
                if (isset($this->messages) and $this->messages)
                    foreach ($this->messages as $message):
                        echo '<div class="alert alert-success">'.$message.'</div>';
                    endforeach;

                if (isset($this->messages_error) and $this->messages_error)
                    foreach ($this->messages_error as $message):
                        echo '<div class="alert alert-error">'.$message.'</div>';
                    endforeach;
            ?>   
    <div class="container-fluid">
        <section class="">

          <form action="/trade/create-new-contractor" method="POST" enctype="multipart/form-data">
            <br>
          <div class="container">
        <fieldset>
            <legend>Thông tin chung</legend>
           <div class="control-group">                                          
                <label class="control-label" for="name">Name:</label>
                <div class="controls">
                    <input type="text" name="name" class="span6" id="name" required>
                </div>              
            </div><!-- control-group -->
             <div class="control-group">                                          
                <label class="control-label" for="name">Short Name:</label>
                <div class="controls">
                    <input type="text" name="short_name" class="span6" id="name" required>
                </div>              
            </div><!-- control-group -->
             <div class="control-group">                                          
                <label class="control-label" for="address">Address:</label>
                <div class="controls">
                    <input type="text" name="address" class="span6" id="address" required>
                </div>              
            </div><!-- control-group -->
            <div class="control-group">                                          
                <label class="control-label" for="desc">Description:</label>
                <div class="controls">
                    <input type="text" name="desc" class="span6" id="desc" required>
                </div>              
            </div><!-- control-group -->
             <div class="control-group">                                          
                <label class="control-label" for="desc">Code:</label>
                <div class="controls">
                    <input type="text" name="code" class="span6" id="code" required>
                </div>              
            </div><!-- control-group -->
        </fieldset>
            <fieldset>
                <legend>Thông tin tài khoản</legend>
                 <div class="control-group">                                          
                <label class="control-label" for="desc">Tài khoản: <span style="color: red;">(*)</span></label>
                <div class="controls">
                    <input type="text" name="username" class="span6" id="username" pattern="ncc_[a-z0-9._%+-]+" placeholder="VD: ncc_vietnam" title="Vui lòng nhập đúng định dạng tên tài khoản" required>  <span id='messages' style="font-style: italic; font-size: 12px;">Phải có ký tự <b style="color: red">ncc_</b> đứng trước tên tài khoản</span>
                </div>              
            </div><!-- control-group -->
            <div class="control-group">                                          
                <label class="control-label" for="desc">Mật khẩu:</label>
                <div class="controls">
                    <input type="password" name="password" minlength="6" class="span6" id="password"  title="Mật khẩu ít nhất 6 ký tự" required>
                </div>              
            </div><!-- control-group -->
            <div class="control-group">                                          
                <label class="control-label" for="desc">Xác nhận mật khẩu:</label>
                <div class="controls">
                    <input type="password" name="repassword"  minlength="6" class="span6"  id="repassword" title="Mật khẩu ít nhất 6 ký tự" required> <span id='message'></span>
                </div>              
            </div><!-- control-group -->
            </fieldset>
           
            <label id ="noti-alert" class="" style="display: none;"></label>
            <hr>
           <div class="submit_form" style="margin-left: 30%;">
            <input type="submit" name="submit" id="submit" class="btn btn-success" value="Xác nhận" disabled>
            <a href="/trade/contractor-price" class="btn btn-default">Quay lại</a>
               
           </div>
              
        </div>
        </form>
        

        </section>

    </div><!-- container-fluid -->

</div><!-- content layout-->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
<script type="text/javascript">
    $(document).ready(function(){
       $('#password, #repassword').on('keyup', function () {
          if ($('#password').val() == $('#repassword').val()) {
             $('#submit').removeAttr('disabled');
            $('#message').html('Mật khẩu khớp').css('color', 'green');
            
            
          } else{
            $('#message').html('Mật khẩu không khớp').css('color', 'red');
            $('#submit').attr('disabled',true);
          } 
            
        });
    });

    function convertString(str) {
        str = str.replace(/à|á|ạ|ả|ã|â|ầ|ấ|ậ|ẩ|ẫ|ă|ằ|ắ|ặ|ẳ|ẵ/g, "a");
        str = str.replace(/è|é|ẹ|ẻ|ẽ|ê|ề|ế|ệ|ể|ễ/g, "e");
        str = str.replace(/ì|í|ị|ỉ|ĩ/g, "i");
        str = str.replace(/ò|ó|ọ|ỏ|õ|ô|ồ|ố|ộ|ổ|ỗ|ơ|ờ|ớ|ợ|ở|ỡ/g, "o");
        str = str.replace(/ù|ú|ụ|ủ|ũ|ư|ừ|ứ|ự|ử|ữ/g, "u");
        str = str.replace(/ỳ|ý|ỵ|ỷ|ỹ/g, "y");
        str = str.replace(/đ/g, "d");
        str = str.replace(/À|Á|Ạ|Ả|Ã|Â|Ầ|Ấ|Ậ|Ẩ|Ẫ|Ă|Ằ|Ắ|Ặ|Ẳ|Ẵ/g, "A");
        str = str.replace(/È|É|Ẹ|Ẻ|Ẽ|Ê|Ề|Ế|Ệ|Ể|Ễ/g, "E");
        str = str.replace(/Ì|Í|Ị|Ỉ|Ĩ/g, "I");
        str = str.replace(/Ò|Ó|Ọ|Ỏ|Õ|Ô|Ồ|Ố|Ộ|Ổ|Ỗ|Ơ|Ờ|Ớ|Ợ|Ở|Ỡ/g, "O");
        str = str.replace(/Ù|Ú|Ụ|Ủ|Ũ|Ư|Ừ|Ứ|Ự|Ử|Ữ/g, "U");
        str = str.replace(/Ỳ|Ý|Ỵ|Ỷ|Ỹ/g, "Y");
        str = str.replace(/Đ/g, "D");
        return str;
    }
</script>
