
<style type="text/css">

    .select2-container--default .select2-selection--single {
        border-left: 3px solid #aaa;
        margin-bottom: 5px;
        font-size: 13px;
    }
    .select2-container--default .select2-results>.select2-results__options{
        font-size: 13px;
    }
    .select2-container--default .select2-search--dropdown .select2-search__field{

        height:25px;
    }

    .btn-scan{
        height: 20px;
        width: 70px;
    }
    #sel1{
        width: 100%;
        margin-bottom: 5px;
    }
    #select_store_from{
        width: 100%;
        margin-bottom: 5px;
    }
    #cate{
        width: 100%;
    }
    #sl{
        width: 100%;
    }
    #note {
        width: 100%;
    }
    body, html {
        padding: 0;
        margin: 0;
        font-family: 'tahoma';
        height: 100%;
    }
    /*---------------------------DESIGN QR ----------------------------------*/
    #app {
        position: relative;
    }
    #app img {
        vertical-align: middle;
        width:100%;
        opacity: 0.5;
    }
    #app  #contentQr{

        position: absolute;
        width: 100%;
        top: 0%;
    }
    .cameras ul {
        padding: 15px 20px;
    }
    .cameras .active {
        font-weight: bold;
        color: #009900;
    }
    .cameras a {
        color: #555;
        text-decoration: none;
        cursor: pointer;
    }
    .cameras a:hover {
        text-decoration: underline;
    }
    .scans li {
        padding: 10px 20px;
        border-bottom: 1px solid #ccc;
    }
    .scans-enter-active {
        transition: background 3s;
    }
    .scans-enter {
        background: yellow;
    }
    .empty {
        font-style: italic;
    }
    .preview-container {
        flex-direction: column;
        align-items: center;
        justify-content: center;
        display: flex;
        width: 100%;
        overflow: hidden;

    }
    #preview{
        width: 100%;
        height:100%;
        margin-top: 20%;
    }
    #fullscreen{
        position: fixed;
        z-index: 1;
        display: none;
        height: 100%;
        top: 8%;
        right: 0%;
    }
    .captionQrCode{
        background-color: #414141;
        position: absolute;
        width: 100%;
        /* left: 10%;*/
        top:2%;
    }



    .wrap_picture{border: 1px solid #ddd;margin-top: 10px}
    .wrap_picture .img{padding: 10px;margin-top: 5px;text-align: left;}
    .table_checkshop tr td{text-align: center}

    .btn_submit{margin: 10px 0px;}


    .list-image-wrapper .image{display: block;padding: 10px;border: 1px solid #CCC;overflow: hidden;margin: 10px 0px;}
    .list-image-wrapper .image img{display:block;float:left;}
    .title_repair{font-style: italic;font-size: 14px;color: #008b56;line-height: 28px;}
    .remove_repair{font-size: 21px;line-height: 26px;cursor: pointer;padding: 5px;}
    .btn_add_repair{font-size: 21px;line-height: 26px;cursor: pointer;padding: 5px;}
    .content_tad table tr td{max-width: 500px;}

    .content_layout .btn-group.open .dropdown-menu{right: auto;left: 0px;z-index: 1000;display: block;height: 202px;}
    .list_repair_row{border-bottom: 1px solid #E9E9E9;background: white 0px 20px no-repeat;border: 1px solid #2aad6f;-moz-box-shadow: 0px 3px 2px #a4ccbc;-webkit-box-shadow: 0px 3px 2px #a4ccbc;box-shadow: 0px 3px 2px #a4ccbc;margin-bottom: 10px;}
    .list_transfer_row{border-bottom: 1px solid #E9E9E9;background: white 0px 20px no-repeat;border: 1px solid #2aad6f;-moz-box-shadow: 0px 3px 2px #a4ccbc;-webkit-box-shadow: 0px 3px 2px #a4ccbc;box-shadow: 0px 3px 2px #a4ccbc;margin-bottom: 10px;}

    .remove_image{display: block;font-size: 16px;cursor: pointer}

    .wrap_part .part{padding: 10px;border-bottom: 1px solid #008B56}
    .add_part{font-size: 20px;color: red; margin: 10px;display: block;float: left;}
    .remove_part{font-size: 17px;color: red; margin: 5px;}
    .repair_type{margin-bottom: 5px !important}
    .title_live{display: block;font-weight: bold;margin: 5px 0px;color:red}

    .select_reason, .select_contractor {
        width:150px;
    }
    .table_list_transfer tr td{text-align: center}
    .row-fluid {
        padding:10px;
    }
    .header_tad {
        color:#008b56;
        font-weight: bold;
        font-size:13px;
    }
    .list_transfer_row {
        margin:10px;
    }

    @media only screen and (max-width: 600px) {
        .select_reason, .select_contractor {
            width: 80px;
        }
    }

    #loading-image{
        position: absolute;
        width: 100%;
        height: 55%;
        z-index: 1000;
        background:  center no-repeat #fff;
        /*background: url(/photo/loading/Preloader_1.gif) center no-repeat #fff;*/
    }
</style>

<div class="content-layout">
    <div id="loading-image"></div>

    <div class="row">
        <div class="col-12 col-md-8 p-0">
            <div class="table_main" style="margin-top: 7px;">
                <div class="header_tad">
                    <i class="icon-list-alt"></i> ĐỀ XUẤT HẠNG MỤC ĐIỀU CHUYỂN
                </div>
                <div class="content_tad">
                    <div class="content_content" style="min-height: 405px;">
                        <?php
                        if (isset($this->messages) and $this->messages)
                            foreach ($this->messages as $message):
                                echo '<div class="alert alert-error">'.$message.'</div>';
                            endforeach;
                        if (isset($this->messages_success) and $this->messages_success)
                            foreach ($this->messages_success as $message):
                                echo '<div class="alert alert-success">'.$message.'</div>';
                            endforeach;
                        ?>
                        <form class="form-search form-horizontal" id="form" method="post" action="/trade/create-transfer" enctype="multipart/form-data">

                            <div class="table-responsive">

                                <div class="wrap_picture">
                                    <div class="header_tad" >
                                        <i class="icon-home" style="color: #008b56;"></i>  CHỌN SHOP ĐIỀU CHUYỂN
                                    </div>

                                    <div class="img">

                                        <div id="wrap_search_area_from">
                                            <input type="checkbox" name="warehouse_from" class="warehouse_from" value="1" style="margin-bottom: 4px;">
                                            <span>Điều chuyển từ kho khu vực</span>
                                                <div >
                                                     <select name="area_from" id="select_area_from" style="width:100%; display:none">
                                                        <option value="">--Chọn kho khu vực điều chuyển-</option>
                                                     <?php foreach ($this->listArea as $area) :?>
                                                         <option value="<?php echo $area['id']; ?>"><?php echo $area['name']; ?></option>
                                                     <?php endforeach; ?>
                                                    </select>
                                                </div>
                                        </div>


                                        <div id="box_select_store_from">
                                            <select class="form-control search_shop search_shop_from" id="select_store_from" name="store_from" required>
                                                <option value="">-- Chọn shop --</option>

                                                <?php foreach ( $this->store as $value): ?>
                                                    <?php if (isset($this->params['store']) && $this->params['store'] == $value['id']): ?>

                                                        <option  value ="<?php echo $value['id'] ?>" selected><?php echo $value['name'] ?></option>

                                                    <?php else: ?>

                                                        <option  value ="<?php echo $value['id'] ?>"><?php echo $value['name'] ?></option>

                                                    <?php endif; endforeach; ?>

                                            </select>
                                        </div>

                                        <div class='table_checkshop'>
                                        </div>

                                        <div class="table_check_warehouse">

                                        </div>

                                    </div>
                                </div><!-- wrap_picture -->


                                <div class="wrap_picture">
                                    <div class="header_tad" >
                                        <i class="icon-truck" style="color: #008b56;"></i> HẠNG MỤC ĐIỀU CHUYỂN
                                    </div>

                                    <div class="img">
                                        <div class='list_repair'>

                                        </div><!-- list_repair -->


                                        <div class='list_transfer list_transfer_row'>
                                             <table class="table" style="display:none">
                                                <thead>
                                                <tr>
                                                    <th style="width:20%">Tên hạng mục</th>
                                                    <th style="width:3%">Số lượng</th>
                                                    <th>Lý do điều chuyển</th>
                                                    <th>Loại hình điều chuyển</th>
                                                    <th style="width:5%">#</th>
                                                </tr>
                                                </thead>
                                                <tbody class="table_list_transfer">


                                                </tbody>
                                            </table>
                                        </div><!-- list_transfer -->
                                        <hr>
                                        <div class="list_image">
                                            <div class="list_repair">
                                                <div class="list_transfer_row" style="padding:10px">
                                                    <p><strong>Ghi chú:</strong></p>
                                                    <textarea style="width: 97%;" name="note" cols="30" rows="3"></textarea>
                                                </div>
                                            </div>
                                        </div>

                                        <hr>
                                        <div class="list_image">
                                            <div class="list_repair">
                                                <div class="list_transfer_row">

                                                    <div class="row-fluid">
                                                        <label>Ảnh hạng mục điều chuyển:</label>
                                                        <a style="margin-left: 5px;" id="take-picture"
                                                           data-type="image-from" data-stt-image=""
                                                           class="btn btn-danger button-img">
                                                            <i class="icon-camera"></i>
                                                        </a>
                                                        <a style="margin-left: 5px;" id="take-file" data-type="image-from"
                                                           data-stt-image="" class="btn btn-primary button-img">
                                                            <i class="icon-folder-open"></i>
                                                        </a>
                                                        <input type="file" id="file-tmp" style="display: none"
                                                               accept="image/*" multiple="">
                                                    </div>
                                                    <div id="image-from" class="list-image-wrapper">
                                                    </div>

                                                </div>
                                            </div>
                                        </div>

                                    </div>
                                </div><!-- wrap_picture -->

                                <div class="wrap_picture">
                                    <div class="header_tad" >
                                        <i class="icon-home" style="color: #008b56;"></i>  CHỌN SHOP ĐIỀU CHUYỂN ĐẾN
                                    </div>

                                    <div class="img">

                                        <div id="wrap_search_area_to">
                                            <input type="checkbox" name="warehouse_to" class="warehouse_to" value="1" style="margin-bottom: 4px;">
                                            <span>Điều chuyển về kho khu vực</span>
                                            <div >
                                                <select name="area_to" id="select_area_to" style="width:100%;display: none">
                                                    <option value="">--Chọn kho khu vực điều chuyển-</option>
                                                    <?php foreach ($this->listArea as $area) :?>
                                                        <option value="<?php echo $area['id']; ?>"><?php echo $area['name']; ?></option>
                                                    <?php endforeach; ?>
                                                </select>
                                            </div>
                                        </div>

                                        <div class='wrap_search_shop_to' id="box_select_store_to">
                                            <select class="form-control search_shop_to" id="sel1" name = "store_to" required>
                                                <option value="">-- Chọn shop --</option>

                                                <?php foreach ( $this->store_to as $value): ?>
                                                    <?php if (isset($this->params['store']) && $this->params['store'] == $value['id']): ?>

                                                        <option  value ="<?php echo $value['id'] ?>" selected><?php echo $value['name_store'] ?></option>

                                                    <?php else: ?>

                                                        <option  value ="<?php echo $value['id'] ?>"><?php echo $value['name_store'] ?></option>

                                                    <?php endif; endforeach; ?>

                                            </select>
                                        </div>

                                        <div class='table_checkshop table_checkshop'>
                                        </div>

                                    </div>

                                    <div class="list_image">
                                        <div class="list_repair">
                                            <div class="list_transfer_row">

                                                <div class="row-fluid">
                                                    <label>Ảnh shop chuyển đến:</label>
                                                    <a style="margin-left: 5px;" id="take-picture" data-type="image-to"
                                                       data-stt-image="" class="btn btn-danger button-img">
                                                        <i class="icon-camera"></i>
                                                    </a>
                                                    <a style="margin-left: 5px;" id="take-file" data-type="image-to"
                                                       data-stt-image="" class="btn btn-primary button-img">
                                                        <i class="icon-folder-open"></i>
                                                    </a>
                                                    <input type="file" id="file-tmp" style="display: none" accept="image/*"
                                                           multiple="">
                                                </div>
                                                <div id="image-to" class="list-image-wrapper">
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                </div><!-- wrap_picture -->

                                <div class="btn_submit" align="center">
                                    <a href="/trade/repair-list" class="btn btn-default" style="height: 33px; border-radius: 3px; margin-top: 1px; margin-left: 2px; line-height: 21px;"> Danh sách</a>

                                    <input style="background-color:#008b56" type="submit" name="submit" value="Tiếp theo »"  class="btn btn-success">
                                </div>
                                <div class="alert"></div>

                            </div>

                        </form>


                    </div>
                </div>
            </div>
        </div>
    </div>
</div>



<script type="text/javascript" src="<?php echo HOST ?>js/bootstrap-multiselect.js"></script>
<link rel="stylesheet" href="<?php echo HOST ?>css/bootstrap-multiselect.css" type="text/css"/>

<script type="text/javascript" src="<?php echo HOST;?>js/qrcode/adapter.min.js"></script>
<script type="text/javascript" src="<?php echo HOST;?>js/qrcode/vue.min.js"></script>
<script type="text/javascript" src="<?php echo HOST;?>js/qrcode/instascan.min.js"></script>
<script type="text/javascript" src="/js/sweetalert2.all.min.js"></script>


<script type="text/javascript">
    $(window).on('load', function() {
        // Animate loader off screen
        $("#loading-image").fadeOut("slow");
    });

    var transfer_reason = <?php echo json_encode($this->transfer_reason);?>;
    var stt = 0;
    var scan_open_div;
    var index_category = '';
    var listImage = {
        'list-image': [],
        'shop-detail-image': []
    };
    var stt_image;
    var data_type;

    //Multil select
    var options = {
        selectAllText: 'Select All',
        includeSelectAllOption: true,
        includeSelectAllIfMoreThan: 3,
        disableIfEmpty: true
    };

    $(document).ready(function () {

        $('.search_shop').select2();

        $('.search_shop_to').select2();

        $(".search_shop" ).change(function() {
            var table_checkshop = $(this).closest('.img').find('.table_checkshop');

            table_checkshop.show();
            $('.list_repair_row').remove();

            var store_id = $(this).val();

            $.ajax({
                url: "/trade/get-detail-checkshop",
                type: "GET",
                dataType: "text",
                context: this,
                data: "store_id="+store_id,
                beforeSend: function() {
                    $(".loading").show();
                },
                success: function(result){

                    if(result)
                    {
                        var data = jQuery.parseJSON(result);
                        var code = data.code;
                        var data = data.data;

                        if(data.length > 0){

                            table = "<b class='title_live'>Hiện trạng tại shop</b>";
                            table = table += "<table class='table'>" +
                                "<tr>" +
                                "<th style='width:20%'>Hạng mục</th>" +
                                "<th style='width:60%'>Hiện trạng</th>" +
                                "<th style='width:20%'>Action</th>" +
                                "</tr>";
                            for(i=0;i<data.length;i++){
                                var imei_sn = data[i].imei_sn ? " (" + data[i].imei_sn +  ")" : '';
                                var category_type_name = data[i].category_type_name ? data[i].category_type_name : '';
                                var category_type_child_name = data[i].category_type_child_name ? data[i].category_type_child_name : '';
                                var height = data[i].height ? data[i].height : '';
                                var width = data[i].width ? data[i].width : '';
                                var has_type = data[i].has_type;
                                var has_width = data[i].has_width;
                                var has_material = data[i].has_material;
                                var quantity = data[i].quantity;
                                var app_checkshop_detail_child_id = data[i].app_checkshop_detail_child_id;
                                var in_processing = data[i].in_processing;
                                var material_name = data[i].material_name ? data[i].material_name : '';

                                // var imei_sn = data[i].imei_sn ? "<br>("+data[i].imei_sn+")" : "";
                                if (data[i].imei_sn) {
                                    var imei_infi = data[i].imei_sn;
                                } else {
                                    var imei_infi = '';
                                }
                                table += "<tr class='row_table' has_type="+ has_type + " has_width=" + has_width + " has_material=" + has_material + ">" +
                                    "<td>"+data[i].category_name+"</td>" +
                                    // "<td>"+data[i].quantity+" "+imei_sn+"</td>";
                                    "<td>"+
                                    "<table class='table'>" +
                                    "<tbody>" +
                                    "<tr>" +
                                    "<th style='width:30%'>Số lượng</th>" +
                                    "<th style='width:30%; display:none !important' class='has_type'>Loại</th>"  +
                                    "<th style='width:20%; display:none !important' class='has_width'>Ngang (mm)</th>" +
                                    "<th style='width:20%; display:none !important' class='has_width'>Cao (mm)</th>" +
                                    "<th style='width:20%; display:none !important' class='has_material'>Chất liệu</th>" +
                                    "</tr>" +
                                    "<tr>" +
                                    "<td>"  + quantity + "</td>" +
                                    "<td style='display:none !important' class='has_type'>"  + category_type_name + ' - ' + category_type_child_name + "</td>" +
                                    "<td  style='display:none !important' class='has_width'>"  + width + "</td>" +
                                    "<td  style='display:none !important' class='has_width'>"  + height + "</td>" +
                                    "<td  style='display:none !important' class='has_material'>"  + material_name + "</td>" +
                                    "</tr>" +
                                    "</tbody> " +
                                    "</table> "  +
                                    "</td>";
                                table += "<td>";
                                if (data[i].quantity > 0) {
                                    if ( ! in_processing ) {
                                        table += "<a class='btn btn-warning btn_wrench btn_category_"+data[i].category_id+"'  id='btn_transfer_"+app_checkshop_detail_child_id+"'   has_type='"+has_type+"' has_width='"+has_width+"'  height='"+height+"' width='"+width+"' category-type-name='"+category_type_name+"'  app-checkshop-detail-child-id='"+app_checkshop_detail_child_id+"' category-quantity='"+data[i].quantity+"' category-name='"+data[i].category_name+"' category-id='"+data[i].category_id+"' imei-sn='"+imei_infi+"' >";
                                        table += "<i class='icon-truck'></i> Chuyển</a></td></tr>";
                                    } else {
                                        if (in_processing == 1) {
                                            table += "<p style='color: red'>Đang được điều chuyển</p></td></tr>";
                                        }
                                        if (in_processing == 2) {
                                            table += "<p style='color: red'>Đang được tiêu hủy</p></td></tr>";
                                        }
                                    }
                                }

                            }
                            table += "</table>";
                            console.log(table)
                        }
                        else{
                            Swal.fire({
                                type: 'warning',
                                title: 'Vui lòng cập nhật thông tin chi tiết hạng mục của shop trước khi điều chuyển',
                                showConfirmButton: false,
                                timer: 4000
                            });
                            table = "<b style='color:red'>Không có hạng mục nào tại shop</b>";
                        }

                        $(this).closest('.img').find('.table_checkshop').html(table);

                        // hide or show if category has width or type
                        $('.row_table').each(function() {

                            var hasType = $(this).attr('has_type');
                            var hasWidth = $(this).attr('has_width');
                            var hasMaterial = $(this).attr('has_material');

                            var hasWidthClass = $(this).find('.has_width');
                            var hasTypeClass = $(this).find('.has_type');
                            var hasMaterialClass = $(this).find('.has_material');

                            if (hasType == 1) {
                                hasTypeClass.show();
                            }

                            if (hasWidth == 1 ) {
                                hasWidthClass.show();
                            }

                            if (hasMaterial == 1) {
                                hasMaterialClass.show();
                            }

                        });


                    }
                    else
                    {
                        alert("Error Ajax result NULL");
                    }

                },
                error:function(){
                    alert("Error Ajax");
                }
            });

        });

        $( ".search_shop_to" ).change(function() {

            var store_id = $(this).val();

            $.ajax({
                url: "/trade/get-detail-checkshop",
                type: "GET",
                dataType: "text",
                context: this,
                data: "store_id="+store_id,
                beforeSend: function() {
                    $(".loading").show();
                },
                success: function(result){

                    if(result)
                    {
                        var data = jQuery.parseJSON(result);
                        var code = data.code;
                        var data = data.data;

                        if(data.length > 0){
                            table = "<span class='title_live'>Hiện trạng tại shop</span>";
                            table = table += "<table class='table'><tr><th>Hạng mục</th><th>Hiện trạng</th></tr>";
                            for(i=0;i<data.length;i++){
                                var imei_sn = data[i].imei_sn ? "<br>("+data[i].imei_sn+")" : "";
                                var imei_infi = data[i].imei_sn;

                                table += "<tr><td>"+data[i].category_name+"</td><td>"+data[i].quantity+" "+imei_sn+"</td></tr>";

                            }
                            table += "</table>";
                        }
                        else{
                            table = "<b style='color:red'>Không có hạng mục nào tại shop</b>";
                        }

                        $(this).closest('.img').find('.table_checkshop').html(table);

                    }
                    else
                    {
                        alert("Error Ajax result NULL");
                    }

                },
                error:function(){
                    alert("Error Ajax");
                }
            });

        });


        $(document).on('click', '.btn_wrench, .btn_add_repair', function() {
            $('.list_transfer').find('.table').show();

            stt = stt+1;

            var category_name = $(this).attr('category-name');
            var category_id = $(this).attr('category-id');
            var imei_sn = $(this).attr('imei-sn');
            var category_quantity = $(this).attr('category-quantity');
            var app_checkshop_detail_child_id = $(this).attr('app-checkshop-detail-child-id');
            var height = $(this).attr('height');
            var width = $(this).attr('width');
            var category_type_name = $(this).attr('category-type-name');
            var hasType = $(this).attr('has_type');
            var hasWidth = $(this).attr('has_width');


            //Kiểm tra số lượng
            quantity_sum = $('.list_repair_row_'+category_id).length + 1;
            btn_add_repair = "";
            if(quantity_sum < category_quantity){
                btn_add_repair = '<i class="icon icon-plus-sign btn_add_repair pull-right"  app-checkshop-detail-child-id="'+app_checkshop_detail_child_id+'" category-name="'+category_name+'" category-id="'+category_id+'" imei-sn="'+imei_sn+'" category-quantity="'+category_quantity+'"></i>';
            }

            var add_quantity = '';
            add_quantity = '<input type="hidden" class="quantity_checkshop" id="quantity_checkshop" type="number" name="quantity['+stt+']" value="1" >\
                                <input type="hidden" name="imei['+stt+']">\
                                <input type="hidden" name="app_checkshop_detail_child_id['+stt+']" value="'+app_checkshop_detail_child_id+'">\
                                <input type="hidden" value="'+category_id+'" name="category_id['+stt+']">\
                                <span>1</span>';

            //Add repair type
            var selectList = "<select class='multiselect_"+category_id+"  select_reason' name='repair_details_type["+stt+"]' required><option value=''>-- Chọn lý do --</option>";
            for(var i=0;i< transfer_reason.length;i++){
                selectList += '<option value='+transfer_reason[i]['id']+'>'+transfer_reason[i]['title']+'</option>';
            }
            selectList += "</select>";

            var row_transfer = "<tr class='row_transfer'>" +
                "<td>" + category_name + "</td>" +
                "<td>" + add_quantity + "</td>" +
                "<td>" + selectList + "</td>" +
                "<td>" +
                "<select name='transfer_type["+stt+"]'  class='select_contractor' required>" +
                " <option value=''>-- Chọn loại hình --</option>" +
                " <option value='1'> Nhà thầu điều chuyển </option>" +
                " <option value='2'> Khu vực điều chuyển </option>" +
                "</select>" +
                "</td>" +
                "<td class='btn_remove_row_transfer' app-checkshop-detail-child-id='"+app_checkshop_detail_child_id+"'><i class='icon icon-remove-circle' style='color:orangered; font-size:20px'></i></td>" +
                "</tr>";

            $('.table_list_transfer').append(row_transfer);

            $(this).hide();

        });

        $(document).on('click', '.remove_repair', function() {
            var category_id = $(this).attr('category-id');
            $(this).closest('.list_repair_row').remove();
            $('.btn_category_'+category_id).show();
        });

        $(document).on('click', '.remove_image', function() {
            $(this).closest('.image').remove();
        });

        $(document).on('click', '.scan_open', function() {
            scan_open_div = $(this);
            stt_imei = $(this).attr('data-stt-imei');

            _Scanner.scan(scanSuccess);
            // $(this).hide();
        });

        function scanSuccess(content) {
            if(content) {

                let im = $('.imei_'+stt_imei).html();
                let imei_sn_cat = $('.imei_sn_cat_'+stt_imei).val();
                let list_imei_scanned =  $('.input_imei_'+stt_imei).val();

                if(im != undefined && im.length > 0) {
                    im += ', ';
                }
                let imei = content.replace('http://trade-marketing.opposhop.vn/tool/scan-imei?imei_sn=', '');

                imei = imei.replace('https://trade-marketing.opposhop.vn/tool/scan-imei?imei_sn=', '');

                if(list_imei_scanned.indexOf(imei) !== -1){
                    alert('Mã QRCode bị trùng lặp!');
                    return false;
                }

                if(imei_sn_cat.indexOf(imei) !== -1){
                }
                else{
                    alert('Mã QRCode không đúng!');
                    return false;
                }

                $('.imei_'+stt_imei).html(im + imei);
                $('.input_imei_'+stt_imei).val(im + imei);
                scan_open_div.hide();
            }
        }

        $(document).on('click', '#take-picture', function () {
            data_type = $(this).attr('data-type');
            stt_image = $(this).attr('data-stt-image');
            _Camera.getPicture(takenImage)
        });

        $(document).on('click', '#take-file', function () {
            data_type = $(this).attr('data-type');
            stt_image = $(this).attr('data-stt-image');
            if (isWebPlatform()) {

                $('#file-tmp').trigger('click');
                $(document).on('change', '#file-tmp', function () {

                    for (let i = 0; i < this.files.length; i++) {
                        let file = this.files[i];
                        if (!file.type.startsWith('image/'))
                            alert('Bạn chỉ được chọn file ảnh!');
                        else
                            convertFileToBase64(file, takenImage);
                    }
                    this.value = '';
                });
            } else {
                _ImagePicker.getPictures(function (files) {
                    for (let i = 0; i < files.length; i++) {
                        takenImage(files[i]);
                    }
                });
            }
        });

        function takenImage(imageBase64) {

            let image = $('<img alt="Loading..." height="250" width="250">');
            let input_image = $('<input type="hidden" name="'+data_type+'[]" />');
            let div = $('<div class="image" />');
            let divWrapper = $('<div class="removable-image"><i class="icon icon-remove pull-right remove_image"></i></div>');
            image.appendTo(div);
            input_image.appendTo(div);
            divWrapper.appendTo(div);
            div.appendTo('#'+data_type+stt_image);

            createThumbnail(imageBase64, 600, function (thumbnailBase64) {
                image.attr('src', thumbnailBase64);
                input_image.attr('value', thumbnailBase64);
                $('#list-image-'+stt).trigger('change');
            })
        }

        $( "form" ).submit(function( event ) {

            number = $('.list_repair_row').length;

            // if(number < 1){
            //     $('.alert').text( "Chưa chọn hạng mục điều chuyển!" ).show().fadeOut( 2000 );
            //     event.preventDefault();
            //     return false;
            // }

            $(".repair_type").each(function() {
                repair_value = $(this).val();
                if(repair_value == null || repair_value == ''){
                    $('.alert').text( "Vui lòng chọn Loại hư hỏng!" ).show().fadeOut( 2000 );
                    event.preventDefault();
                    return false;
                }
            });
            Swal.fire({
                title: 'Saving...',
                onBeforeOpen: () => {
                    Swal.showLoading();
                }
            });

        });

        $(document).on('click', '.add_part', function () {
            part = $('.part').html();
            $('.wrap_part').append("<div class='part'>"+part+"</div>");
        });

        $(document).on('click', '.remove_part', function () {

            var count = $('.part').length;
            if(count > 1){
                $(this).closest('.part').remove();
            }

        });

        // $(document).on('change', '.warehouse_to', function () {
        //
        //
        //     if($('input[name="warehouse_to"]').is(':checked'))
        //     {
        //         $('.box_area_to').show();
        //         $('#select_area_to').attr('required', true);
        //
        //         // area from
        //         $('.box_area_from').hide();
        //         $('#select_area_from').attr('required', false);
        //         $('#select_area_from').val('');
        //
        //         $('#sel1').val('');
        //         $('.wrap_search_shop_to').hide();
        //         $('.search_shop_to').removeAttr("required");
        //     }else
        //     {
        //         $('.box_area_to').hide();
        //         $('#select_area_to').attr('required', false);
        //         $('#select_area_to').val('');
        //
        //         $('.wrap_search_shop_to').show();
        //         $('.search_shop_to').attr("required", true);
        //     }
        // });
        //
        // $(document).on('change', '.warehouse_from', function() {
        //     $('.table_list_transfer').empty();
        //
        //     // console.log(table_checkshop)
        //     if($('.warehouse_from').is(":checked")) {
        //         var table_checkshop = $(this).closest('.img').find('.table_checkshop');
        //         table_checkshop.empty();
        //
        //         $('.box_area_from').show();
        //         $('#select_area_from').attr('required', true);
        //
        //         $('#select_store_from').val('');
        //         $('#select_store_from').removeAttr('required');
        //         $('#box_select_store_from').hide();
        //
        //         //area to
        //         $('#check_box_store_to').hide();
        //         $('.warehouse_to').val('');
        //
        //         $('#select_area_to').attr('required', false);
        //         $('#select_area_to').val('');
        //
        //
        //         // select shop to
        //         $('.wrap_search_shop_to').show();
        //         $('.search_shop_to').attr('required', true);
        //
        //
        //
        //     } else {
        //         var table_checkshop = $(this).closest('.img').find('.table_checkshop');
        //
        //         $('.box_area_from').hide();
        //         $('#select_area_from').attr('required', false);
        //         $('#select_area_from').val('');
        //
        //         table_checkshop.hide();
        //         $('#check_box_store_to').show();
        //         $('#box_select_store_from').show();
        //         $('#select_store_from').attr('required', true);
        //         $('#select_area_to').attr('required', false);
        //     }
        // });

        $('#select_area_from').change(function () {
            var table_checkshop = $(this).closest('.img').find('.table_checkshop');
            table_checkshop.empty();
            var areaId = $(this).val();
            $.ajax({
                url: '/trade/get-info-warehouse',
                type: 'post',
                data: {
                    area_id: areaId
                },
                dataType: 'json',
                success: function (data) {
                    if (data.status === 0) {
                        {
                            var code = data.status;
                            var data = data.data;
                            console.log(data);
                            if(data.length > 0){
                                console.log(data);
                                table = "<b class='title_live'>Hiện trạng tại kho</b>";
                                table = table += "<table class='table'>" +
                                    "<tr>" +
                                    "<th style='width:20%'>Hạng mục</th>" +
                                    "<th style='width:60%'>Hiện trạng</th>" +
                                    "<th style='width:20%'>Action</th>" +
                                    "</tr>";
                                for(i=0;i<data.length;i++){
                                    // var imei_sn = data[i].imei_sn ? "<br>("+data[i].imei_sn+")" : "";
                                    var imei_sn = data[i].imei_sn ? " (" + data[i].imei_sn +  ")" : '';
                                    var category_type_name = data[i].category_type_name ? data[i].category_type_name : '';
                                    var category_type_child_name = data[i].category_type_child_name ? data[i].category_type_child_name : '';
                                    var height = data[i].height ? data[i].height : '';
                                    var width = data[i].width ? data[i].width : '';
                                    var has_type = data[i].has_type;
                                    var has_width = data[i].has_width;
                                    var has_type = data[i].has_type;
                                    var has_width = data[i].has_width;
                                    var has_material = data[i].has_material;
                                    var quantity = data[i].quantity;
                                    var app_checkshop_detail_child_id = data[i].app_checkshop_detail_child_id;
                                    var in_processing = data[i].in_processing;
                                    var material_name = data[i].material_name ? data[i].material_name : '';

                                    if (data[i].imei_sn) {
                                        var imei_infi = data[i].imei_sn;
                                    } else {
                                        var imei_infi = '';
                                    }

                                    table += "<tr class='row_table' has_type="+ has_type +" has_width="+ has_width +" has_material=" + has_material + ">" +
                                        "<td>"+data[i].category_name+"</td>" +
                                        // "<td>"+data[i].quantity+" "+imei_sn+"</td>";
                                        "<td>"+
                                        "<table class='table'>" +
                                        "<tbody>" +
                                        "<tr>" +
                                        "<th style='width:30%'>Số lượng</th>" +
                                        "<th style='width:30%; display:none !important' class='has_type'>Loại</th>"  +
                                        "<th style='width:20%; display:none !important' class='has_width'>Ngang (mm)</th>" +
                                        "<th style='width:20%; display:none !important' class='has_width'>Cao (mm)</th>" +
                                        "<th style='width:20%; display:none !important' class='has_material'>Chất liệu</th>" +
                                        "</tr>" +
                                        "<tr>" +
                                        "<td>"  + quantity + imei_sn + "</td>" +
                                        "<td style='display:none !important' class='has_type'>"  + category_type_name + ' - ' + category_type_child_name + "</td>" +
                                        "<td  style='display:none !important' class='has_width'>"  + width + "</td>" +
                                        "<td  style='display:none !important' class='has_width'>"  + height + "</td>" +
                                        "<td  style='display:none !important' class='has_material'>"  + material_name + "</td>" +
                                        "</tr>" +
                                        "</tbody> " +
                                        "</table> "  +
                                        "</td>";
                                    table += "<td>";
                                    if (data[i].quantity > 0 ) {
                                        if (in_processing != 1) {
                                            table += "<a class='btn btn-warning btn_wrench btn_category_"+data[i].category_id+"'  id='btn_transfer_"+app_checkshop_detail_child_id+"'  has_type='"+has_type+"' has_width='"+has_width+"'  height='"+height+"' width='"+width+"' category-type-name='"+category_type_name+"' app-checkshop-detail-child-id='"+app_checkshop_detail_child_id+"' category-quantity='"+data[i].quantity+"' category-name='"+data[i].category_name+"' category-id='"+data[i].category_id+"' imei-sn='"+imei_infi+"' >";
                                            table += "<i class='icon-truck'></i> Chuyển</a></td></tr>";
                                        } else {
                                            if (in_processing == 1) {
                                                table += "<p style='color: red'>Đang được điều chuyển</p></td></tr>";
                                            }
                                            if (in_processing == 2) {
                                                table += "<p style='color: red'>Đang được tiêu hủy</p></td></tr>";
                                            }
                                        }

                                    }

                                }
                                table += "</table>";
                            }
                            else{
                                table = "<b style='color:red'>Không có hạng mục nào tại kho khu vực</b>";
                            }
                            table_checkshop.html(table);

                            // hide or show if category has width or type
                            $('.row_table').each(function() {
                                var hasType = $(this).attr('has_type');
                                var hasWidth = $(this).attr('has_width');
                                var hasMaterial = $(this).attr('has_material');

                                var hasWidthClass = $(this).find('.has_width');
                                var hasTypeClass = $(this).find('.has_type');
                                var hasMaterialClass = $(this).find('.has_material');

                                if (hasType == 1) {
                                    hasTypeClass.show();
                                }

                                if (hasWidth == 1 ) {
                                    hasWidthClass.show();
                                }

                                if (hasMaterial == 1) {
                                    hasMaterialClass.show();
                                }

                            });


                        }
                    } else {
                        console.log(data);
                    }
                }
            });
        });



        $(document).on('change', '.warehouse_from', function() {
            var table_checkshop = $(this).closest('.img').find('.table_checkshop');
            $('.table_list_transfer').empty();
            table_checkshop.empty();

            if($(this).is(":checked")) {
                // area_from
                $('#select_area_from').show();
                $('#select_area_from').attr('required', true);

                // store_from
                $('#box_select_store_from').hide();
                $('.search_shop_from').attr('required', false);
                $('.search_shop_from').val('');

                // area_to
                $('#wrap_search_area_to').hide();
                $('.warehouse_to').attr('checked', false);
                $('#select_area_to').attr('required', false);
                $('#select_area_to').val('');

                // store_to
                $('#wrap_search_shop_to').show();
                $('.search_shop_to').attr('required', true);
            } else {
                // area_from
                $('#select_area_from').hide();
                $('#select_area_from').attr('required', false);

                // store_from
                $('#box_select_store_from').show();
                $('.search_shop_from').attr('required', true);

                // area_to
                $('#wrap_search_area_to').show();
                $('.warehouse_to').attr('checked', false);
                $('#select_area_to').attr('required', false);
                $('#select_area_to').val('');

                // store_to
                $('#wrap_search_shop_to').show();
                $('.search_shop_to').attr('required', true);
            }
        });

        $(document).on('change', '.warehouse_to', function () {
            if($(this).is(":checked")) {

                // area_from
                $('#wrap_search_area_from').hide();
                $('.warehouse_from').attr('checked', false);
                $('#select_area_from').attr('required', false);
                $('#select_area_from').val('');

                // store_from
                $('#box_select_store_from').show();
                $('.search_shop_from').attr('required', true);

                // area_to
                $('#select_area_to').attr('required', true);
                $('#select_area_to').show();

                // store_to
                $('#box_select_store_to').hide();
                $('.search_shop_to').attr('required', false);
                $('.search_shop_to').val('');


            } else {
                // area_from
                $('#wrap_search_area_from').show();
                $('#select_area_from').attr('required', false);

                // store_from
                $('#box_select_store_from').show();
                $('.search_shop_from').attr('required', true);

                // area_to
                $('.warehouse_to').attr('checked', false);
                $('#select_area_to').attr('required', false);
                $('#select_area_to').val('');
                $('#select_area_to').hide();

                // store_to
                $('#box_select_store_to').show();
                $('.search_shop_to').attr('required', true);
            }
        });




        $(document).on('click', '.btn_remove_row_transfer', function () {
            var app_checkshop_detail_child_id = $(this).attr('app-checkshop-detail-child-id');
            $(this).parents('.row_transfer').remove();
            $('#btn_transfer_'+app_checkshop_detail_child_id).show();
        });

        $('#select_store_from').change(function () {
            $('.table_list_transfer').empty();
            $('.list_transfer').find('.table').hide();

        });

    });
</script>

<link rel="stylesheet" type="text/css" href="<?php echo HOST ?>css/select2.min.css">
<script type="text/javascript" src="<?php echo HOST ?>js/select2.min.js"></script>


