<style type="text/css">
tr,td{
 border-style: hidden!important;
 margin: 3px;
}

</style>
<div class="content-layout">
    <div class="row">

        <div class="span6">
            <div class="table_main" style="margin-top: 7px;">
                <div class="header_tad">
                    <i class="icon-list-alt"></i> ĐỀ XUẤT HÀNG TIÊU HỦY
                </div>

                <div class="content_tad">

                    <div class="content_content" style="min-height: 405px;">
                        <?php
                        if (isset($this->messages) and $this->messages)
                            foreach ($this->messages as $message):
                                echo '<div class="alert alert-error">'.$message.'</div>';
                            endforeach;

                            if (isset($this->messages_success) and $this->messages_success)
                                foreach ($this->messages_success as $message):
                                    echo '<div class="alert alert-success">'.$message.'</div>';
                                endforeach;
                                ?>
                                <form class="form-search form-horizontal" method="post" action="/trade/create-remove" enctype="multipart/form-data">
                                    <div class="row" align="left">
                                        <div class="span5">
                                            <div class="table-responsive">

                                                <table class="table" style="width: 100%;" >
                                                    <tr>
                                                        <td width="42%" >

                                                            <label for="sel1">Chon hạng mục: </label>
                                                        </td>
                                                        <td width="100%">
                                                            <select class="input-control" id="sel1" name = "category" required="">
                                                                <option value="">--Chọn hạng mục--</option>
                                                                <?php
                                                                foreach ( $this->category as $value) {
                                                                    if (isset($this->params['category']) && $this->params['category'] == $value['id']){
                                                                        ?>
                                                                        <option  value ="<?php echo $value['id'] ?>" selected><?php echo $value['name'] ?></option>
                                                                        ?>
                                                                        <?php }else { ?>
                                                                        <option  value ="<?php echo $value['id'] ?>"><?php echo $value['name'] ?></option>
                                                                        <?php }} ?>
                                                                    </select>
                                                                    
                                                                </td>
                                                            </tr>

                                                            <tr>
                                                                <td>
                                                                    <label for="sel1">Đặt tại shop: </label>
                                                                </td>
                                                                <td>
                                                                    <select class="form-control" id="sel1" name = "store" required="">
                                                                        <option value="">--Chọn shop đề xuất--</option>
                                                                        <?php foreach ( $this->store as $value) {
                                                                            if (isset($this->params['store']) && $this->params['store'] == $value['id']){
                                                                                ?>
                                                                                <option  value ="<?php echo $value['id'] ?>" selected><?php echo $value['name'] ?></option>
                                                                                ?>
                                                                                <?php }else { ?>
                                                                                <option  value ="<?php echo $value['id'] ?>"><?php echo $value['name'] ?></option>
                                                                                <?php }} ?>
                                                                            </select>
                                                                        </div>
                                                                    </td>
                                                                </tr>
                                                                <tr>
                                                                    <td>

                                                                        <label for="sl">Số lượng hủy: </label>
                                                                    </td>
                                                                    <td>
                                                                        <input id="sl" name="sl" type="number" class="form-control" value="<?php isset($this->params['sl']) and printf($this->params['sl']);?>" required>
                                                                    </td>
                                                                </tr>
                                                                <tr>
                                                                    <td>

                                                                        <label for="lydo">Lý do hủy: </label>
                                                                    </td>
                                                                    <td>

                                                                        <textarea class="form-control" rows="5" name="lydo" required    ><?php isset($this->params['lydo']) and printf($this->params['lydo']);?></textarea>

                                                                    </td>
                                                                </tr>
                                                                <tr>


                                                                    <td>
                                                                        <label for="title">Hình ảnh :</label>
                                                                    </td>
                                                                    <td>
                                                                        <input type="file" name="image" class ="btn default" value="Chọn hình ảnh" required />
                                                                    </td>
                                                                </tr>
                                                            </table> 
                                                            <div align="center">
                                                                <button type="submit" class="btn btn-success" value = "2" name="submit">Xác nhận</button>

                                                                <button type="reset" class="btn btn-danger">Xóa</button>
                                                                <button class="btn btn-default"><a href="/trade/list-remove" >Quay lại</a></button>
                                                            </div>
                                                        </div> 
                                                    </div>                                                    
                                                </form>
                                            </div>
                                        </div>
                                        <!-- content-content-->
                                    </div>
                                </div>
                            </div>
                            <!-- span6-->
                            <!-- end trade T?NG Ð?U TU-->
                        </div>

                    </div>

                    <script type="text/javascript">
                        $(document).ready(function () {
                            $('.remove_img').click(function(){
                                if (confirm('Nhấn OK để xóa banner này ??')) {
                                    var id = $(this).attr('id_banner');
                                    $.ajax ({
                                        type: "POST",
                                        url: '<?php echo HOST ?>trade/create-remove',
                                        data: "id="+id,
                                        context: this,
                                        success: function(result) { 
                                            $(this).closest('.item_wrap').remove();
                                            alert(result);
                                            alert("Xóa thành công!!");
                                        }
                                    }); 
                                }
                            });
                        });
                    </script>