<head>
    <script type="text/javascript" src="/js/sweetalert2.all.min.js"></script>
</head>
<style>
    .edit_mode {
        display: none;
    }

    html {
        font-family: verdana;
        font-size: 10pt;
        line-height: 25px;
    }

    table {
        border-collapse: collapse;
        width: 300px;
        overflow-x: scroll;
        display: block;
    }

    thead {
        /*background-color: #008B56;*/
    }

    thead, tbody {
        display: block;
    }

    tbody {
        overflow-y: scroll;
        overflow-x: hidden;
        height: 1000px;
    }

    td, th {
        /*width: 100px;*/
        height: 35px;
        border: dashed 1px lightblue;
        text-align: center;
    }

    /* New Styles */
    table thead tr th:first-child,
    table tbody tr td:first-child {
        position: relative;
        z-index: 10;
        background-color: #EFEFEF;
    }

    table tbody tr td:first-child {
        background-color: #fff;
    }

    .table-wrapper {

        -webkit-box-shadow: 0px 2px 8px -2px rgba(0, 0, 0, 0.63);
        -moz-box-shadow: 0px 2px 8px -2px rgba(0, 0, 0, 0.63);
        box-shadow: 0px 2px 8px -2px rgba(0, 0, 0, 0.63)

    }

    input, select {
        width: 90px;
    }

    #search {
        border: 1px solid #ededed;
        width: 350px;
        height: 50px;
    }

    form {
        padding-top: 10px;
        padding-left: 5px;
    }

    .table td {
        vertical-align: middle;
        text-align: center;
    }

    .table th {
        vertical-align: middle;
        text-align: center;
    }

    .total_national {
        font-weight: bold
    }
    .icon {
        font-size:17px
    }

</style>

<div class="container">
    <h2 style="text-align: center">Bổ sung chi phí POSM</h2>

    <form action="/trade/create-additional-posm-cost" method="get">
        <select name="season" id="season" class="span2" required>
            <option value="">-- Chọn quí --</option>
            <option value="1" <?php echo $this->season == 1 ? 'selected' : ''; ?>>Quí 1</option>
        </select>
        <input type="number" name="year" value="<?php echo $this->year ? $this->year : ''; ?>" class="span1">
        <button class="btn btn-primary" type="submit">Tìm</button>
    </form>
    <div class="table-wrapper">
        <table class="table">
            <thead>
            <tr>
                <th>Khu vực</th>
                <?php foreach ($this->listAdditionalCategory as $category) : ?>
                    <th><?php echo $category['name']; ?></th>
                <?php endforeach; ?>
                <th>Action</th>
            </tr>
            </thead>
            <tbody id="box_air">
            <?php foreach ($this->listArea as $area) : ?>
                <tr class="original_row">
                    <td><?php echo $area['name']; ?></td>
                    <?php foreach ($this->listAdditionalCategory as $category) : ?>
                        <td>
                            <span class="read_mode posm_cost_view">
                                <?php echo $this->listAdditionalCost [$area['id']] [$category['id']] ['cost']
                                    ? number_format($this->listAdditionalCost [$area['id']] [$category['id']] ['cost'])
                                    : ''; ?>
                            </span>
                            <input class="edit_mode posm_cost"
                                   category_id="<?php echo $category['id']; ?>"
                                   type="number"
                                   value="<?php echo $this->listAdditionalCost [$area['id']] [$category['id']] ['cost']; ?>">
                        </td>
                    <?php endforeach; ?>

                    <td>
                        <button class="btn btn-warning btn_edit">Edit</button>
<!--                        <button class="btn btn-primary btn_save_edit" >Save</button>-->
                        <!--                        <button class="btn  btn_cancel_edit" style="display:none">Cancel</button>-->
                        <a href="#1" class="btn_save_edit" style="display:none"><i class="icon icon-ok"></i></a>&nbsp;&nbsp;&nbsp;
                        <a href="#1" class="btn_cancel_edit" style="display:none; color:red"><i class="icon icon-remove"></i></a>
                    </td>
                    <input type="hidden" class="area" value="<?php echo $area['id']; ?>">
                </tr>
            <?php endforeach; ?>

            </tbody>
        </table>
    </div>
</div>

<script src="/js/angular.min.js"></script>

<script>
    $(document).ready(function () {
        var season = '<?php echo $this->season?>';
        var year = '<?php echo $this->year?>';

        $(document).on('click', '.btn_edit', function () {
            let originalRowTable = $(this).parents('.original_row');
            originalRowTable.find('.btn_edit').hide();
            originalRowTable.find('.btn_save_edit').show();
            originalRowTable.find('.btn_cancel_edit').show();
            originalRowTable.find('.edit_mode').show();
            originalRowTable.find('.read_mode').hide();
        });
        $(document).on('click', '.btn_save_edit', saveEditRow);
        $(document).on('click', '.btn_cancel_edit', function () {
            let originalRowTable = $(this).parents('.original_row');
            originalRowTable.find('.btn_edit').show();
            originalRowTable.find('.btn_save_edit').hide();
            originalRowTable.find('.btn_cancel_edit').hide();
            originalRowTable.find('.edit_mode').hide();
            originalRowTable.find('.read_mode').show();
        });

        function saveEditRow() {
            var originalRowTable = $(this).parents('.original_row');
            let areaId = originalRowTable.find('.area').val();
            let categoryId;
            let costValue;
            var listPosmCost = {};
            originalRowTable.find('.posm_cost').each(function () {
                categoryId = ($(this).attr('category_id'));
                costValue = $(this).val();
                listPosmCost [categoryId] = costValue;
            });

            $.ajax({
                url: '/trade/save-edit-additional-posm-cost',
                type: 'post',
                data: {
                    list_posm_cost: listPosmCost,
                    area_id: areaId,
                    season: season,
                    year: year
                },
                dataType: 'json',
                success: function (data) {
                    if (data.status === 0) {
                        // attach value just saved
                        originalRowTable.find('.posm_cost').each(function () {
                            categoryId = ($(this).attr('category_id'));
                            $(this).val(listPosmCost [categoryId]); // hidden input
                            $(this).parent().find('.posm_cost_view').text(listPosmCost [categoryId]); // span view
                        });

                        // show button and read_mode
                        originalRowTable.find('.btn_edit').show();
                        originalRowTable.find('.btn_save_edit').hide();
                        originalRowTable.find('.btn_cancel_edit').hide();
                        originalRowTable.find('.edit_mode').hide();
                        originalRowTable.find('.read_mode').show();

                    } else {
                        Swal.fire({
                            type: 'warning',
                            title: data.message,
                            showConfirmButton: false,
                            timer: 2000
                        });
                    }
                }
            });
        }


        $('table').on('scroll', function () {
            $("table > *").width($("table").width() + $("table").scrollLeft());
        });

        var $stickyHeader = $('table thead tr th:first-child');
        var $stickyCells = $('table tbody tr td:first-child');

        $('table').on('scroll', function () {
            $stickyHeader.css('left', ($(this).scrollLeft() + 'px'));
            $stickyCells.css('left', ($(this).scrollLeft() + 'px'));
        });

        // style css
        var columns = JSON.parse('<?php echo json_encode($this->listAdditionalCategory);?>');
        console.log(typeof columns)

        var countColumn = columns.length + 2; // all <th> length;
        var columnWidth = $('td').width();
        var tableWidth = $('.table').width();
        if (countColumn * columnWidth > tableWidth) {
            $('td').css('min-width', '100px')
            $('th').css('min-width', '100px')
        } else {

            $('td').css('width', '100px')
            $('th').css('width', '100px')
        }
    });

</script>
