
<style type="text/css">

.select2-container--default .select2-selection--single {
  border-left: 3px solid #aaa;
  margin-bottom: 5px;
  font-size: 13px;
}
.select2-container--default .select2-results>.select2-results__options{
  font-size: 13px;
}
.select2-container--default .select2-search--dropdown .select2-search__field{
  
  height:25px;
}

.btn-scan{
  height: 20px; 
  width: 70px;
}
#sel1{
  width: 100%;
  margin-bottom: 5px;
}
#cate{
  width: 100%;
}
#sl{
  width: 100%;
}
#note {
  width: 100%;
}
body, html {
padding: 0;
margin: 0;
font-family: 'tahoma';
height: 100%;
}
  /*---------------------------DESIGN QR ----------------------------------*/
  #app {
    position: relative;
  }
  #app img {
    vertical-align: middle;
    width:100%;
    opacity: 0.5;
  }
  #app  #contentQr{

    position: absolute; 
    width: 100%;
    top: 0%;
  }
  .cameras ul {
    padding: 15px 20px;
  }
  .cameras .active {
    font-weight: bold;
    color: #009900;
  }
  .cameras a {
    color: #555;
    text-decoration: none;
    cursor: pointer;
  }
  .cameras a:hover {
    text-decoration: underline;
  }
  .scans li {
    padding: 10px 20px;
    border-bottom: 1px solid #ccc;
  }
  .scans-enter-active {
    transition: background 3s;
  }
  .scans-enter {
    background: yellow;
  }
  .empty {
    font-style: italic;
  }
  .preview-container {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    display: flex;
    width: 100%;
    overflow: hidden;
    
  }
  #preview{ 
    width: 100%;    
    height:100%;    
    margin-top: 20%;
  }
  #fullscreen{
    position: fixed;
    z-index: 1; 
    display: none;
    height: 100%;
    top: 8%;
    right: 0%;
  }
  .captionQrCode{
    background-color: #414141;
    position: absolute;
    width: 100%;
    /* left: 10%;*/
    top:2%;
  }

  
  
  .wrap_picture{border: 1px solid #ddd;margin-top: 10px}
  .wrap_picture .img{padding: 0px;margin-top: 5px;text-align: left;}
  .table_checkshop tr td{text-align: center}
  
  .btn_submit{margin: 10px 0px;}
  
  
  .list-image-wrapper .image{position:relative; display: block;padding: 10px;border: 1px solid #CCC;overflow: hidden;margin: 10px 0px;}
  .list-image-wrapper .image img{width: 98%;display:block;float:left;}
  .title_repair{font-style: italic;font-size: 14px;color: #008b56;line-height: 28px;}
  .remove_repair{font-size: 21px;line-height: 26px;cursor: pointer;padding: 5px;}
  .content_tad table tr td{max-width: 500px;}
  
  .content_layout .btn-group.open .dropdown-menu{right: auto;left: 0px;z-index: 1000;display: block;height: 202px;}
  .list_repair_row{border-bottom: 1px solid #E9E9E9;background: white 0px 20px no-repeat;border: 1px solid #2aad6f;-moz-box-shadow: 0px 3px 2px #a4ccbc;-webkit-box-shadow: 0px 3px 2px #a4ccbc;box-shadow: 0px 3px 2px #a4ccbc;margin-bottom: 10px;}
  
  .remove_image{top:3px; position: absolute; right: 1px;display: block;font-size: 16px;cursor: pointer}
  
</style>
<div class="content-layout">
  <div class="row">
    <div class="span6">
      <div class="table_main" style="margin-top: 7px;">
        <div class="header_tad">
            <i class="icon-list-alt"></i> ĐỀ XUẤT HẠNG MỤC CẦN TIÊU HỦY
        </div>
        <div class="content_tad">
          <div class="content_content" style="min-height: 405px;">
          <?php
            if (isset($this->messages) and $this->messages)
                foreach ($this->messages as $message):
                    echo '<div class="alert alert-error">'.$message.'</div>';
                endforeach;
            if (isset($this->messages_success) and $this->messages_success)
                foreach ($this->messages_success as $message):
                    echo '<div class="alert alert-success">'.$message.'</div>';
                endforeach;
          ?>
          <form class="form-search form-horizontal" id="form" method="post" action="/trade/destruction-create" enctype="multipart/form-data">
            
                  <div class="table-responsive">
                    
                    <div class="wrap_picture">
                        <div class="header_tad">
                        <i class="icon-home"></i>  CHỌN SHOP
                        </div>
                        
                        <div class="img">
                            <select class="form-control search_shop " id="sel1" name = "store_id" required>
                             <option value="">--Chọn shop đề xuất--</option>

                            <?php foreach ( $this->store as $value): ?>
                              <?php if (isset($this->params['store']) && $this->params['store'] == $value['id']): ?>

                              <option  value ="<?php echo $value['id'] ?>" selected><?php echo $value['name_store'] ?></option>

                               <?php else: ?>

                              <option  value ="<?php echo $value['id'] ?>"><?php echo $value['name_store'] ?></option>

                            <?php endif; endforeach; ?>

                          </select>
                        </div>
                    </div><!-- wrap_picture -->
                    
                    
                    <div class="wrap_picture">
                        <div class="header_tad">
                        <i class="icon-picture"></i>  HIỆN TRẠNG TẠI SHOP
                        </div>
                        
                        <div class="img">
                            <div class='table_checkshop table_checkshop'>
                                
                            </div>
                        </div>
                    </div><!-- wrap_picture -->
                    
                    
                    <div class="wrap_picture">
                        <div class="header_tad">
                        <i class="icon-wrench"></i>  CHỌN HẠNG MỤC TIÊU HỦY
                        </div>
                        
                        <div class="img">
                            <div class='list_repair'>
                               
                            </div><!-- list_repair -->
                        </div>
                    </div><!-- wrap_picture -->



                    <div class="btn_submit" align="center">
                           <input type="submit" name="submit" value="Xác nhận"  class="btn btn-success">

                        <a href="/trade/destruction-list" class="btn btn-default" style="height: 33px; border-radius: 3px; margin-top: 1px; margin-left: 2px; line-height: 21px;">Quay lại</a>
                       
                    </div>
                    <div class="alert"></div>
                    
                </div> 
                             
          </form>
        

          </div>
        </div>
      </div>
    </div>
  </div>
</div>



<script type="text/javascript" src="<?php echo HOST ?>js/bootstrap-multiselect.js"></script>
<link rel="stylesheet" href="<?php echo HOST ?>css/bootstrap-multiselect.css" type="text/css"/>
                                                   
<script type="text/javascript" src="<?php echo HOST;?>js/qrcode/adapter.min.js"></script>
<script type="text/javascript" src="<?php echo HOST;?>js/qrcode/vue.min.js"></script>
<script type="text/javascript" src="<?php echo HOST;?>js/qrcode/instascan.min.js"></script>
<script type="text/javascript" src="/js/sweetalert2.all.min.js"></script>

<script type="text/javascript">
    var stt = 0;
    var stt_image;
    var scan_open_div;
    var repair_type = <?php echo json_encode($this->destruction_type);?>;
   
    var index_category = '';
    var listImage = {
        'list-image': [],
        'shop-detail-image': []
    };
    
    //Multil select
    var options = {
        selectAllText: 'Select All',
        includeSelectAllOption: true,
        includeSelectAllIfMoreThan: 3,
        disableIfEmpty: true
    };
    
    $(document).ready(function () {
        
        $('.search_shop').select2();
        
        $( ".search_shop" ).change(function() {
            
            $('.table_checkshop').hide();
            $('.list_repair_row').remove();
            
            var store_id = $(this).val();
            
            $.ajax({
                url: "/trade/get-detail-checkshop",
                type: "GET",
                dataType: "text",
                context: this,
                data: "store_id="+store_id,
                beforeSend: function() {
                    $(".loading").show();                   
                },
                success: function(result){

                    if(result)
                    {
                        var data = jQuery.parseJSON(result);
                        var code = data.code;
                        var data = data.data;
                        
                        if(data.length > 0){
                            table = "<b class='title_live'>Hiện trạng tại shop</b>";
                            table = table += "<table class='table'>" +
                                "<tr>" +
                                "<th style='width:20%'>Hạng mục</th>" +
                                "<th style='width:60%'>Hiện trạng</th>" +
                                "<th style='width:20%'>Action</th>" +
                                "</tr>";

                            for(i=0;i<data.length;i++){
                                var imei_sn = data[i].imei_sn ? " (" + data[i].imei_sn +  ")" : '';
                                var category_type_name = data[i].category_type_name ? data[i].category_type_name : '';
                                var category_type_child_name = data[i].category_type_child_name ? data[i].category_type_child_name : '';
                                var height = data[i].height ? data[i].height : '';
                                var width = data[i].width ? width = data[i].width :'';
                                var has_type = data[i].has_type;
                                var has_width = data[i].has_width;
                                var has_material = data[i].has_material;
                                var quantity = data[i].quantity;
                                var app_checkshop_detail_child_id = data[i].app_checkshop_detail_child_id;
                                var in_processing = data[i].in_processing;
                                var material_name = data[i].material_name ? data[i].material_name : '';


                                if (data[i].imei_sn) {
                                    var imei_infi = data[i].imei_sn;
                                } else {
                                    var imei_infi = '';
                                }

                                table += "<tr class='row_table' has_type="+ has_type + " has_width=" + has_width + " has_material=" + has_material + ">" +
                                    "<td>"+data[i].category_name+"</td>" +
                                    // "<td>"+data[i].quantity+" "+imei_sn+"</td>";
                                    "<td>"+
                                    "<table class='table'>" +
                                    "<tbody>" +
                                    "<tr>" +
                                        "<th style='width:30%'>Số lượng</th>" +
                                        "<th style='width:30%; display:none' class='has_type'>Loại</th>"  +
                                        "<th style='width:20%; display:none' class='has_width'>Ngang (mm)</th>" +
                                        "<th style='width:20%; display:none' class='has_width'>Cao (mm)</th>" +
                                        "<th style='width:20%; display:none' class='has_material'>Chất liệu</th>" +
                                    "</tr>" +
                                    "<tr>" +
                                        "<td>"  + quantity + imei_sn + "</td>" +
                                        "<td style='display:none' class='has_type'>"  + category_type_name + ' - ' + category_type_child_name + "</td>" +
                                        "<td style='display:none' class='has_width'>"  + width + "</td>" +
                                        "<td style='display:none' class='has_width'>"  + height + "</td>" +
                                         "<td  style='display:none' class='has_material'>"  + material_name + "</td>" +

                                    "</tr>" +
                                    "</tbody> " +
                                    "</table> "  +
                                    "</td>";
                                table += "<td>";
                                if (data[i].quantity > 0) {
                                    if ( ! in_processing) {
                                        table += "<a class='btn btn-warning btn_wrench btn_category_"+data[i].category_id+"' has_type='"+has_type+"' has_width='"+has_width+"'  height='"+height+"' width='"+width+"' category-type-name='"+category_type_name+"'  app-checkshop-detail-child-id='"+app_checkshop_detail_child_id+"'    category-name='"+data[i].category_name+"' data-quantity='"+data[i].quantity+"' category-id='"+data[i].category_id+"' imei-sn='"+imei_infi+"'>";
                                        table += "<i class='icon-wrench'></i> Hủy</a></td></tr>";
                                    } else {
                                        if (in_processing == 1) {
                                            table += "<p style='color: red'>Đang được điều chuyển</p></td></tr>";
                                        }
                                        if (in_processing == 2) {
                                            table += "<p style='color: red'>Đang được tiêu hủy</p></td></tr>";
                                        }
                                    }
                                }
                            }
                            table += "</table>";
                        }
                        else{
                            Swal.fire({
                                type: 'warning',
                                title: 'Vui lòng cập nhật thông tin chi tiết hạng mục của shop trước khi tiêu hủy',
                                showConfirmButton: false,
                                timer: 4000
                            });
                            table = "<b style='color:red'>Không có hạng mục nào tại shop</b>";
                        }

                        $('.table_checkshop').html(table);
                        $('.table_checkshop').show();

                        // hide or show if category has width or type
                        $('.row_table').each(function() {
                            var hasType = $(this).attr('has_type');
                            var hasWidth = $(this).attr('has_width');
                            var hasMaterial = $(this).attr('has_material');

                            var hasWidthClass = $(this).find('.has_width');
                            var hasTypeClass = $(this).find('.has_type');
                            var hasMaterialClass = $(this).find('.has_material');

                            if (hasType == 1) {
                                hasTypeClass.show();
                            }

                            if (hasWidth == 1 ) {
                                hasWidthClass.show();
                            }

                            if (hasMaterial == 1) {
                                hasMaterialClass.show();
                            }

                            // if (hasType == 1 && hasWidth == 1) {
                            //     hasWidthClass.show();
                            //     hasTypeClass.show();
                            // }
                            // if (hasType == 1 && hasWidth == 0) {
                            //     hasTypeClass.show();
                            //     hasWidthClass.hide();
                            // }
                            // if (hasType  == 0 && hasWidth == 1) {
                            //
                            //     hasTypeClass.hide();
                            //     hasWidthClass.show();
                            // }
                            // if ( hasType == 0 && hasWidth == 0) {
                            //     hasTypeClass.hide();
                            //     hasWidthClass.hide();
                            // }
                        });

                    }
                    else
                    {   
                        alert("Error Ajax result NULL");
                    }

                },
                error:function(){
                    alert("Error Ajax");
                }
            });
            
        });


        $(document).on('click', '.btn_wrench', function() {
            stt = stt+1;
            var category_name = $(this).attr('category-name');
            var category_id = $(this).attr('category-id');
            var imei_sn = $(this).attr('imei-sn');
            var data_quantity = $(this).attr('data-quantity');
            var inventory_area_imei_id = $(this).attr('inventory-area-imei-id');
            var app_checkshop_detail_child_id = $(this).attr('app-checkshop-detail-child-id');
            var height = $(this).attr('height');
            var width = $(this).attr('width');
            var category_type_name = $(this).attr('category-type-name');
            var hasType = $(this).attr('has_type');
            var hasWidth = $(this).attr('has_width');
            var add_quantity = '';

            if(imei_sn){
                add_quantity = '<a class="btn scan_open" id="scan" data-cat-id="'+category_id+'" data-stt-imei="'+stt+'">Scan</a><br>\
                                <input type="hidden" class="imei_sn_cat_'+stt+'" value="'+imei_sn+'">\
                                <label class="imei_qrcode imei_'+stt+'"></label>\
                                <input type="hidden" value="'+category_id+'" name="category_id['+stt+']">\
                                <input type="hidden" class="input_imei_'+stt+' input_imei" name="imei['+stt+']" id="input_imei">\
                                <input type="hidden" name="inventory_area_detail_id['+stt+']" value="'+inventory_area_imei_id+'">\
                                <input type="hidden" name="app_checkshop_detail_child_id['+stt+']" value="'+app_checkshop_detail_child_id+'">\
                                <input type="hidden" name="quantity['+stt+']">';
            }
            else{
                add_quantity = '<input class="quantity_checkshop" id="quantity_checkshop" min="1" max="'+data_quantity+'" type="number" name="quantity['+stt+']" required="" value="1" readonly>\
                                <input type="hidden" name="imei['+stt+']">\
                                <input type="hidden" name="inventory_area_detail_id['+stt+']" value="'+inventory_area_imei_id+'">\
                                <input type="hidden" name="app_checkshop_detail_child_id['+stt+']" value="'+app_checkshop_detail_child_id+'">\
                                <input type="hidden" value="'+category_id+'" name="category_id['+stt+']">';
            }
            
            //Add repair type
            // repair_type_cat = repair_type[category_id];
            //  console.log(repair_type_cat);
            // var selectList = "<select class='multiselect_"+category_id+" repair_type' name='destruction_details_type["+category_id+"][]' multiple='multiple'>";
            // for(var i=0;i< repair_type_cat.length;i++){
            //     selectList += '<option value='+repair_type_cat[i]['id']+'>'+repair_type_cat[i]['title']+'</option>';
            // }
            // selectList += "</select>";
            
            var table = '<div class="list_repair_row">\
                            <table class="table">\
                                        <tbody>\
                                        <tr>\
                                            <td colspan="2"><b class="title_repair"><i class="icon icon-cogs"></i> '+category_name+' <i class="icon icon-remove pull-right remove_repair" category-id="'+category_id+'"></i> </b></td>\
                                        </tr>\
                                        <tr>\
                                            <td>Số lượng</td>\
                                            <td>\
                                                <div class="add_quantity">'+add_quantity+'</div>\
                                            </td>\
                                        </tr>\
                                         <tr class="has_width">\
                                            <td>Chiều cao(mm)</td>\
                                            <td>\
                                                <div class="add_quantity">'+height+'</div>\
                                            </td>\
                                        </tr>\
                                        <tr class="has_width">\
                                            <td>Chiều ngang(mm)</td>\
                                            <td>\
                                                <div class="add_quantity">'+width+'</div>\
                                            </td>\
                                        </tr>\
                                         <tr class="has_type">\
                                            <td>Loại</td>\
                                            <td>\
                                                <div class="add_quantity">' + category_type_name + '</div>\
                                            </td>\
                                        </tr>\
                                        <tr>\
                                            <td>Loại hình tiêu hủy</td>\
                                            <td>\
                                              <select class="form-control multiselect_'+category_id+' repair_tp" name="destruction_details_tp['+stt+']" >\
                                                  <option value="">-- Chọn loại tiêu hủy --</option>\
                                                  <option value="1">Tiêu hủy tính phí</option>\
                                                  <option value="2">Tiêu hủy không phí</option>\
                                              </select>\
                                            </td>\
                                        </tr>\
                                        <tr>\
                                            <td>Ghi chú</td>\
                                            <td>\
                                              <input type="text" class="form-control note" name="note['+stt+']">\
                                            </td>\
                                        </tr>\
                                        <tr>\
                                            <td colspan="2">\
                                                  <div class="row-fluid">\
                                                      <label>Hình ảnh:</label>\
                                                      <a style="margin-left: 5px;" id="take-picture" data-cat-id="'+category_id+'" data-stt-image="'+stt+'" class="btn btn-danger button-img">\
                                                          <i class="icon-camera"></i>\
                                                      </a>\
                                                      <a style="margin-left: 5px;" id="take-file" data-cat-id="'+category_id+'"  data-stt-image="'+stt+'" class="btn btn-primary button-img">\
                                                          <i class="icon-folder-open"></i>\
                                                      </a>\
                                                      <input type="file" id="file-tmp" style="display: none" accept="image/*" multiple="">\
                                                  </div>\
                                                  <div id="list-image-'+stt+'" class="list-image-wrapper">\
                                                  <input type="hidden" class="val_img" id="val_img'+stt+'" value="">\
                                                  </div>\
                                            </td>\
                                        </tr>\
                                    </tbody>\
                                </table>\
                            </div>';
            
            $('.list_repair').append(table);
            
            $(this).hide();
            
            $('.multiselect_'+category_id).multiselect(options);

            // hiển thị các thông tin chiều cao , chiều ngang, loại
            $('.list_repair').find('.list_repair_row').last().each(function() {
                var hasWidthClass = $(this).find('.has_width');
                var hasTypeClass = $(this).find('.has_type');
                if (hasType == 1 && hasWidth == 1) {
                    hasWidthClass.show();
                    hasTypeClass.show();
                }
                if (hasType == 1 && hasWidth == 0) {
                    hasTypeClass.show();
                    hasWidthClass.hide();
                }
                if (hasType  == 0 && hasWidth == 1) {

                    hasTypeClass.hide();
                    hasWidthClass.show();
                }
                if ( hasType == 0 && hasWidth == 0) {
                    hasTypeClass.hide();
                    hasWidthClass.hide();
                }
            });
            
        });
        
        $(document).on('click', '.remove_repair', function() {
            var category_id = $(this).attr('category-id');
            $(this).closest('.list_repair_row').remove();
            $('.btn_category_'+category_id).show();
        });
        
        $(document).on('click', '.remove_image', function() {
          $(this).closest('.list-image-wrapper').find('.val_img').val('');
            $(this).closest('.image').remove();

        });
        
        $(document).on('click', '.scan_open', function() {
            scan_open_div = $(this);

            index_category = $(this).attr('data-cat-id');
            stt_imei = $(this).attr('data-stt-imei');

            _Scanner.scan(scanSuccess);
        });
        
        function scanSuccess(content) {
            if(content) {
                
                // let im = $('.imei_'+index_category).html();
                // let imei_sn_cat = $('.imei_sn_cat_'+index_category).val();
                // let list_imei_scanned =  $('.input_imei_'+index_category).val();
                let im = $('.imei_'+stt_imei).html();
                let imei_sn_cat = $('.imei_sn_cat_'+stt_imei).val();
                let list_imei_scanned =  $('.input_imei_'+stt_imei).val();

                if(im != undefined && im.length > 0) {
                    im += ', ';
                }
                let imei = content.replace('http://trade-marketing.opposhop.vn/tool/scan-imei?imei_sn=', '');
                
                imei = imei.replace('https://trade-marketing.opposhop.vn/tool/scan-imei?imei_sn=', '');
                
                if(list_imei_scanned.indexOf(imei) !== -1){
                    alert('Mã QRCode bị trùng lặp!');
                    return false;
                }

                if(imei_sn_cat.indexOf(imei) !== -1){
                }
                else{
                    alert('Mã QRCode không đúng!');
                    return false;
                }
                
                // $('.imei_'+index_category).html(im + imei);
                // $('.input_imei_'+index_category).val(im + imei);

                $('.imei_'+stt_imei).html(im + imei);
                $('.input_imei_'+stt_imei).val(im + imei);
                scan_open_div.hide();
            }
        }
        
        $(document).on('click', '#take-picture', function () {
          index_category = $(this).attr('data-cat-id');
            stt_image = $(this).attr('data-stt-image');
            _Camera.getPicture(takenImage)
        });
        
        $(document).on('click', '#take-file', function () {
            
            index_category = $(this).attr('data-cat-id');
            stt_image = $(this).attr('data-stt-image');

            if (isWebPlatform()) {

                $('#file-tmp').trigger('click');
                $(document).on('change', '#file-tmp', function () {

                    for (let i = 0; i < this.files.length; i++) {
                        let file = this.files[i];
                        if (!file.type.startsWith('image/'))
                            alert('Bạn chỉ được chọn file ảnh!');
                        else
                            convertFileToBase64(file, takenImage);
                    }
                    this.value = '';
                });
            } else {
                _ImagePicker.getPictures(function (files) {
                    for (let i = 0; i < files.length; i++) {
                        takenImage(files[i]);
                    }
                });
            }
        });
        
        function takenImage(imageBase64) {
            
            let image = $('<img alt="Loading..." />');
            let input_image = $('<input type="hidden" name="image['+stt_image+'][]" />');
            let div = $('<div class="image" />');
            let divWrapper = $('<div class="removable-image"><i class="icon icon-remove pull-right remove_image"></i></div>');
            image.appendTo(div);
            input_image.appendTo(div);
            divWrapper.appendTo(div);
            div.appendTo('#list-image-'+stt_image);

            createThumbnail(imageBase64, 300, function (thumbnailBase64) {
                $('#val_img'+stt).val(thumbnailBase64);

                image.attr('src', thumbnailBase64);
                input_image.attr('value', thumbnailBase64);
                $('#list-image-'+stt).trigger('change');



            })
        }
        
        $( "form" ).submit(function( event ) {
          
            $(".repair_type").each(function() {
                repair_value = $(this).val();
                if(repair_value == null || repair_value == ''){
                    $('.alert').text( "Vui lòng chọn Loại hư hỏng!" ).show().fadeOut( 2000 );
                    event.preventDefault();
                    return false;
                }
            });
            
            
            $(".repair_tp").each(function() {
                repair_value = $(this).val();
                if(repair_value == null || repair_value == ''){
                    $('.alert').text( "Vui lòng chọn Loại hình tiêu hủy!" ).show().fadeOut( 2000 );
                    event.preventDefault();
                    return false;
                }
            });
            
            $(".input_imei").each(function() {
                repair_value = $(this).val();
                if(repair_value == null || repair_value == ''){
                    $('.alert').text( "Vui lòng Scan Imei!" ).show().fadeOut( 2000 );
                    event.preventDefault();
                    return false;
                }
            });

            // $(".val_img").each(function() {
            //     value = $(this).val();
            //     if(value == null || value == ''){
            //         $('.alert').text( "Vui lòng thêm hình ảnh!" ).show().fadeOut( 2000 );
            //         event.preventDefault();
            //         return false;
            //     }
            // });
            
            if($('.list_repair_row').length < 1){
               $('.alert').text( "Chưa có hạng mục để tiêu hủy!" ).show().fadeOut( 2000 );
                    event.preventDefault();
                    return false;
            }
            
        });

        
    });
</script>

<link rel="stylesheet" type="text/css" href="<?php echo HOST ?>css/select2.min.css">
<script type="text/javascript" src="<?php echo HOST ?>js/select2.min.js"></script>


