<style type="text/css">
a:link {
  text-decoration: none;
}

a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

a:active {
  text-decoration: none;
}

td {
  font-size: 12px!important;
  padding:4px!important;
}
</style>
<div class="content-layout">
  <div class="row">
    <div class="span6">
      <div class="table_main" style="margin-top: 7px;">
        <div class="header_tad">
          <i class="icon-list-alt"></i> XÁC NHẬN ĐỀ XUẤT
        </div>
        <div class="content_tad">
          <div class="content_content" style="min-height: 405px;">
            <form class="form-search form-horizontal" method="get" action="/trade/destruction-confirm">
              <div class="table-responsive">
                <table class="table" style="width: 100%;" >
                  <div class="">

                    <?php
                      if (isset($this->messages) and $this->messages)
                        foreach ($this->messages as $message):
                        echo '<div class="alert alert-error">'.$message.'</div>';
                        endforeach;

                      if (isset($this->messages_success) and $this->messages_success)
                        foreach ($this->messages_success as $message):
                          echo '<div class="alert alert-success">'.$message.'</div>';
                        endforeach;
                    ?>
                    
                        <tr>
                          <th colspan="2">
                            Thông tin đề xuất hủy
                          </th>
                        </tr>
                        <tr>
                          <td width="36%">Tên hạng mục:</td>
                          <td> <?php echo $this->params['categoryname'] ?></td>
                        </tr>
                        <tr>
                          <td>Tên cửa hàng:</td>
                          <td><?php echo $this->params['storename'] ?></td>
                        </tr>
                        <tr>
                          <td>Số lượng:</td>
                          <td><?php echo $this->params['sl'] ?></td>
                        </tr>
                        <tr>
                          <td> Lý do:</td>
                          <td><?php echo $this->params['lydo'] ?></td>
                        </tr>
                        <tr>
                          <td>Nhân viên đề xuất:</td>
                          <td><?php echo $this->params['staff_name'] ?></td>
                        </tr>
                         <tr>
                          <td>Trạng thái:</td>
                          <td><p style="color: red"><?php echo $this->params['name_status'] ?></p></td>
                        </tr>
                        <tr>
                          <td>Ngày đề xuất:</td>
                          <td> <?php echo date('d-m-Y h:i:s',strtotime($this->params['date'])) ?></td>
                        </tr>
                      </div>
                      <tr>
                        <td colspan="2" style=" border-bottom: hidden!important;border-left: hidden!important;border-right:hidden!important;">
                          <div class="" align="center">
                            <input type="hidden" value ="<?php echo $this->params['id'] ?>" name ="id">
                            <input type ="submit" class="btn btn-success" name= "submit" value ="Xác nhận" <?php if ($this->params['status_title'] != $this->params['staff_title'] ) echo "disabled";?>>
                            <a href="/trade/destruction-list" class="btn btn-default" style="height: 23px;" >Quay lại</a>
                          </div>
                        </td>
                      </tr>
                    </table>
                  </div>

                  <?php if(isset($this->dataAll )): ?>
                  
                  <hr>
                  <div class="table-responsive">
                    <table class="table" style="width: 100%;" >
                      <th>Hình ảnh hạng mục hư hỏng</th>
                    </table>
                  </div>
                  <div class="row" >
                    <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
                      <div class="carousel-inner" role="listbox">

                        <?php foreach($this->dataAll as $key=>$value): ?> 
                          <?php if ($key == 0): ?>
                        
                        <div class="item active">
                          <img src="<?php if(isset($value['file_name']) and !empty($value['file_name'])) printf(HOST.'photo/destruction/destruction_file/'.$value['parrent_id'].'/'.$value['file_name']);  ?>" alt="..." height ="100px" width="100%">
                          <div class="carousel-caption">
                          </div>
                        </div>
                       
                          <?php else:?>
                       
                        <div class="item">
                          <img src="<?php if(isset($value['file_name']) and !empty($value['file_name'])) printf(HOST.'photo/destruction/destruction_file/'.$value['parrent_id'].'/'.$value['file_name']);  ?>" alt="..." height ="100px" width="100%">
                          <div class="carousel-caption">
                          </div>
                        </div>
                       
                          <?php endif; ?>
                        <?php endforeach; ?>

                      </div>
                      <!-- Controls -->
                      <a class="left carousel-control" href="#carousel-example-generic" role="button" data-slide="prev">
                        <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
                        <span class="sr-only"></span>
                      </a>
                      <a class="right carousel-control" href="#carousel-example-generic" role="button" data-slide="next">
                        <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
                        <span class="sr-only"></span>
                      </a>
                    </div>
                  </div>

                  <?php endif; ?>
                
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>