
<style type="text/css">
/*Modal Img*/
/* Style the Image Used to Trigger the Modal */
.myImg {
  border-radius: 5px;
  cursor: pointer;
  transition: 0.3s;
}

.myImg:hover {opacity: 0.7;}

/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 2000; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.9); /* Black w/ opacity */
}

/* Modal Content (Image) */
.modal-content {
  margin: auto;
  display: block;
  width: 80%;
  max-width: 700px;
  background: #FFF
}

/* Caption of Modal Image (Image Text) - Same Width as the Image */
#caption {
  margin: auto;
  display: block;
  width: 80%;
  max-width: 700px;
  text-align: center;
  color: #ccc;
  padding: 10px 0;
  height: 150px;
}

/* Add Animation - Zoom in the Modal */
.modal-content, #caption {
  animation-name: zoom;
  animation-duration: 0.6s;
}

@keyframes zoom {
  from {transform:scale(0)}
  to {transform:scale(1)}
}

/* The Close Button */
.close {
  position: absolute;
  top: 15px;
  right: 35px;
  color: #f1f1f1;
  font-size: 40px;
  font-weight: bold;
  transition: 0.3s;
}

.close:hover,
.close:focus {
  color: #bbb;
  text-decoration: none;
  cursor: pointer;
}

/* 100% Image Width on Smaller Screens */
@media only screen and (max-width: 700px){
  .modal-content {
    width: 100%;
  }
}
/*Modal Img*/

.select2-container--default .select2-selection--single {
  border-left: 3px solid #aaa;
  margin-bottom: 5px;
  font-size: 13px;
}
.select2-container--default .select2-results>.select2-results__options{
  font-size: 13px;
}
.select2-container--default .select2-search--dropdown .select2-search__field{

  height:25px;
}

.btn-scan{
  height: 20px;
  width: 70px;
}
#sel1{
  width: 100%;
  margin-bottom: 5px;
}
#cate{
  width: 100%;
}
#sl{
  width: 100%;
}
#note {
  width: 100%;
}
body, html {
padding: 0;
margin: 0;
font-family: 'tahoma';
height: 100%;
}
  /*---------------------------DESIGN QR ----------------------------------*/
  #app {
    position: relative;
  }
  #app img {
    vertical-align: middle;
    width:100%;
    opacity: 0.5;
  }
  #app  #contentQr{

    position: absolute;
    width: 100%;
    top: 0%;
  }
  .cameras ul {
    padding: 15px 20px;
  }
  .cameras .active {
    font-weight: bold;
    color: #009900;
  }
  .cameras a {
    color: #555;
    text-decoration: none;
    cursor: pointer;
  }
  .cameras a:hover {
    text-decoration: underline;
  }
  .scans li {
    padding: 10px 20px;
    border-bottom: 1px solid #ccc;
  }
  .scans-enter-active {
    transition: background 3s;
  }
  .scans-enter {
    background: yellow;
  }
  .empty {
    font-style: italic;
  }
  .preview-container {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    display: flex;
    width: 100%;
    overflow: hidden;

  }
  #preview{
    width: 100%;
    height:100%;
    margin-top: 20%;
  }
  #fullscreen{
    position: fixed;
    z-index: 1;
    display: none;
    height: 100%;
    top: 8%;
    right: 0%;
  }
  .captionQrCode{
    background-color: #414141;
    position: absolute;
    width: 100%;
    /* left: 10%;*/
    top:2%;
  }



  .wrap_picture{border: 1px solid #ddd;margin-top: 10px}
  .wrap_picture .img{padding: 10px;margin-top: 5px;text-align: left;}
  .table_checkshop tr td{text-align: center}

  .btn_submit{margin: 10px 0px;}


  .list-image-wrapper .image{position:relative;display: block;padding: 10px;border: 1px solid #CCC;overflow: hidden;margin: 10px 0px;}
  .list-image-wrapper .image img{width: 98%;display:block;float:left;}
  .title_repair{font-style: italic;font-size: 14px;color: #008b56;line-height: 28px;}
  .remove_repair{font-size: 21px;line-height: 26px;cursor: pointer;padding: 5px;}
  .content_tad table tr td{max-width: 500px;}

  .content_layout .btn-group.open .dropdown-menu{right: auto;left: 0px;z-index: 1000;display: block;height: 202px;}
  .list_repair_row{border-bottom: 1px solid #E9E9E9;background: white 0px 20px no-repeat;border: 1px solid #2aad6f;-moz-box-shadow: 0px 3px 2px #a4ccbc;-webkit-box-shadow: 0px 3px 2px #a4ccbc;box-shadow: 0px 3px 2px #a4ccbc;margin-bottom: 10px;}

  .remove_image{top:3px; position: absolute; right: 1px;display: block;font-size: 16px;cursor: pointer}

  .wrap_part .part{padding: 10px;border-bottom: 1px solid #008B56}
  .add_part{font-size: 20px;color: red; margin: 10px;display: block;float: left;}
  .remove_part{font-size: 17px;color: red; margin: 5px;}
  .modal-body{padding: 10px}
</style>
<div class="content-layout">
  <div class="row">
    <div class="span6">
          <?php
            if (isset($this->messages) and $this->messages)
                foreach ($this->messages as $message):
                    echo '<div class="alert alert-error">'.$message.'</div>';
                endforeach;
            if (isset($this->messages_success) and $this->messages_success)
                foreach ($this->messages_success as $message):
                    echo '<div class="alert alert-success">'.$message.'</div>';
                endforeach;
          ?>
          <form class="form-search form-horizontal" method="post" action="/trade/save-destruction-edit" enctype="multipart/form-data">


                  <div class="table-responsive">

                    <div class="wrap_picture">
                        <div class="header_tad">
                            <i class="icon-home" style="color: red;"></i> SHOP
                        </div>

                        <div class="img">

                            <h4 style="color:#008b56;"><?php echo $this->destruction['store_name'];?></h4>

                            <h4 style="color: red;">Trạng thái đề xuất: <?php echo $this->app_status[$this->destruction['status']];?></h4>

                            <?php if($this->destruction['remove'] == 1):?>
                                <h4 style="color: blue;text-decoration: underline">Đề xuất đã hủy: <?php echo $this->destruction['remove_note'];?></h4>
                            <?php endif;?>

                            <table class="table">
                                <tbody>

                                    <?php foreach($this->sellout as $key=>$value):?>
                                    <tr>
                                        <td>THÁNG: <?php echo $value['month'];?></td>
                                        <td>SELLOUT: <?php echo $value['number_imei'];?></td>
                                        <td>LEVEL: <?php echo $value['level'];?></td>
                                    </tr>
                                    <?php endforeach;?>

                                </tbody>
                            </table>
                        </div>
                    </div><!-- wrap_picture -->


                    <div class="wrap_picture">
                        <div class="header_tad">
                            <i class="icon-picture" style="color: red;"></i> HIỆN TRẠNG TẠI SHOP
                        </div>

                        <div class="img">
                            <div class='table_checkshop table_checkshop'>
                                <table class="table">
                                    <tbody>
                                        <tr>
                                            <th>Hạng mục</th>
                                            <th>Hiện trạng</th>
                                        </tr>

                                        <?php foreach($this->app_checkshop as $key=>$value):?>

                                        <tr>
                                            <td><?php echo $value['category_name'];?></td>
                                            <td><?php echo $value['quantity'];?> <br><?php echo $value['imei_sn'];?></td>
                                        </tr>

                                        <?php endforeach;?>

                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div><!-- wrap_picture -->


                    <div class="wrap_picture">
                        <div class="header_tad">
                            <i class="icon-wrench" style="color: red;"></i> HẠNG MỤC TIÊU HỦY
                        </div>

                        <div class="">
                            <div class='list_repair'>

                                <?php foreach($this->destruction_details as $key=>$value):?>

                                <input type="hidden" name="destruction_details_id[]" value="<?php echo $value['id'];?>" />

                               <div class="list_repair_row">
                                <input type="hidden" name="tp_id_check" id="tp_id_check" value="<?php echo $value['tp_id'];?>">
                                <input type="hidden" name="v" id="v" value="">
                                   <table class="table">
                                    <tbody>
                                       <tr>
                                          <td colspan="2"><b class="title_repair"><i class="icon icon-cogs"></i> <?php echo $value['category_name'];?></b></td>
                                       </tr>
                                       <tr>
                                          <td>Số lượng</td>
                                          <td>
                                              <span><?php echo $value['quantity'];?></span><br><span><?php echo $value['imei_sn'];?></span>
                                          </td>
                                       </tr>

                                       <?php if ($this->params['version'] == 2) : ?>
                                           <?php if ($value['has_width']) : ?>
                                               <tr>
                                                   <td>Ngang(mm)</td>
                                                   <td><?php echo $value['width']; ?></td>
                                               </tr>
                                               <tr>
                                                   <td>Cao(mm)</td>
                                                   <td><?php echo $value['height']; ?></td>
                                               </tr>
                                           <?php endif; ?>

                                           <?php if ($value['has_type']) : ?>
                                               <tr>
                                                   <td>Loại</td>
                                                   <td><?php echo $value['category_type_name']; ?></td>
                                               </tr>
                                           <?php endif; ?>
                                       <?php endif; ?>

                                       <tr>
                                          <td>Loại hình tiêu hủy</td>
                                          <td>
                                              <?php
                                              $tp = [
                                                  1 => 'Tiêu hủy tính phí',
                                                  2 => 'Tiêu hủy không phí'
                                              ];
                                              $tp_id = explode(',', $value['tp_id']);
                                              foreach($tp_id as $k=>$v){
                                                  echo "<span>".$tp[$v]."</span><br>";
                                              }
                                              ?>

                                              <?php if(in_array(3, $tp_id)):?>

                                              <?php if($this->destruction[status] == 1 AND in_array($this->destruction['status'], $this->app_status_title)):?>

                                              <div class='wrap_part'>
                                                    <div class='part'>
                                                        <select class="form-control" name="part[<?php echo $value['id'];?>][]" required>
                                                            <option value="">-- Chọn linh kiện sửa chữa --</option>
                                                            <?php foreach($this->part as $k=>$v):?>
                                                            <option value="<?php echo $v['id'];?>"><?php echo $v['title'];?></option>
                                                            <?php endforeach;?>
                                                        </select>
                                                        <input type='number' class='form-control' name="part_quantity[<?php echo $value['id'];?>][]" required placeholder="Điền số lượng" />
                                                        <i class="icon icon-minus-sign remove_part"></i>
                                                    </div><!-- part -->
                                              </div><!-- wrap_part -->
                                              <i class="icon icon-plus-sign add_part"></i>

                                              <?php else:?>

                                              <div class='wrap_part'>

                                                    <?php foreach($this->destruction_part[$value['id']] as $k=>$v):?>

                                                    <div class='part'>
                                                        <input type='text' class='form-control' value='<?php echo $v['title'];?>' readonly />
                                                        <input type='number' class='form-control' value='<?php echo $v['quantity'];?>' readonly />
                                                    </div><!-- part -->

                                                    <?php endforeach;?>

                                              </div><!-- wrap_part -->

                                              <?php endif;?>

                                              <?php endif;?>


                                          </td>
                                       </tr>
                                       <tr>
                                          <td>Ghi chú</td>
                                          <td><?php echo $value['note'];?></td>
                                       </tr>


                                       <?php if($this->destruction['status'] == 1 AND in_array($this->destruction['status'], $this->app_status_title) ):?>
                                       <tr>
                                          <td>Chọn nhà thầu tiêu hủy</td>
                                          <td <?php if($value['tp_id']==2): echo 'style="display:none;"'; else: echo ''; endif;?>>

                                              <select class="form-control contructors_id" name="contructors_id[]" <?php if($value['tp_id']==2): echo 'readonly"'; else: echo 'required'; endif;?>>
                                                  <option value="">-- Chọn nhà thầu --</option>
                                                  <?php foreach($this->contructors as $k=>$v):?>
                                                  <option value="<?php echo $v['id'];?>"  <?php echo (isset($value['contructors_id']) and $value['contructors_id'] == $v['id']) ? "selected" : NULL;?>><?php echo $v['name'];?></option>
                                                  <?php endforeach;?>
                                              </select>
                                          </td>
                                       </tr>

<!--                                       <tr>-->
<!--                                          <td>Chi phí</td>-->
<!--                                          <td ><input type='number' name='price[]' value="--><?php //echo isset($value['price']) ? $value['price'] : NULL;?><!--" --><?php //if($value['tp_id']==2): echo 'style="display:none;"'; else: echo 'required'; endif;?><!--/></td>-->
<!--                                       </tr>-->

                                        <!--tiêu hủy tính phí-->
                                       <?php if ($value['tp_id'] == 1) : ?>
                                          <tr>
                                           <td>Upload file báo giá</td>
                                           <td class="destruction_quotation">
                                               <table class="table">
                                                   <thead>
                                                   <tr>
                                                       <th style="width:40%">Nội dung</th>
                                                       <th style="width:20%">Số lượng</th>
                                                       <th style="width:30%">Thành tiền</th>
                                                       <th></th>
                                                   </tr>
                                                   </thead>
                                                   <tbody id="destruction_quotation_container">
                                                   <tr class="destruction_quotation_row" id="original_quotation">
                                                       <td><textarea class="destruction_quotation_title" name="destruction_quotation_title[<?php echo $value['id']?>][]" type="text" style="width:90%" required></textarea></td>
                                                       <td><input class="destruction_quotation_quantity"  name="destruction_quotation_quantity[<?php echo $value['id']?>][]" type="number" min="0"  style="width:80%" ></td>
                                                       <td><input class="destruction_quotation_total_price"  name="destruction_quotation_total_price[<?php echo $value['id']?>][]" type="number" min="0" style="width:90%" required></td>
                                                       <td> <i class="icon icon-minus-sign btn_remove_quotation" style="font-size: 20px; color: red; margin: 5px" ></i> </td>

                                                   </tr>
                                                   </tbody>

                                               </table>
                                               <div style="margin-left:40%">
                                                   <span><strong>VAT: </strong>10%</span>
                                               </div>
                                               <div style="margin-left:40%">
                                                   <strong>Tổng tiền:</strong> <span class="total_quotation"> </span>
                                               </div>

                                               <i class="icon icon-plus-sign btn_add_quotation" style="font-size: 20px; color: green; margin: 10px" destruction_details_id = <?php echo $value['id']?>></i>
                                           </td>
                                       </tr>
                                       <?php endif; ?>

                                       <?php else:?><!-- if($this->repair[status] == 1) -->
                                       <tr>
                                          <td>Chọn nhà thầu tiêu hủy</td>
                                          <td <?php if($value['tp_id']==2): echo 'style="display:none;"'; else: echo ''; endif;?>>
                                              <select class="form-control" name="contructors_id[]" readonly>
                                                  <option value="">-- Chọn nhà thầu --</option>
                                                  <?php foreach($this->contructors as $k=>$v):?>
                                                  <option value="<?php echo $v['id'];?>"  <?php echo (isset($value['contructors_id']) and $value['contructors_id'] == $v['id']) ? "selected" : NULL;?>><?php echo $v['name'];?></option>
                                                  <?php endforeach;?>
                                              </select>
                                          </td>
                                       </tr>
                                           <!-- tiêu hủy tính phí-->
                                       <?php if ($value['tp_id'] == 1 ) : ?>
                                           <tr>
                                               <td>File báo giá</td>
                                               <td>
                                               <table class="table">
                                                   <thead>
                                                   <tr>
                                                       <th style="width:40%">Nội dung</th>
                                                       <th style="width:20%">Số lượng</th>
                                                       <th style="width:30%">Thành tiền</th>
                                                   </tr>
                                                   </thead>
                                                   <tbody>
                                                   <?php foreach ($this->destruction_quotation [$value['id']] as $quotation) :?>
                                                       <tr>
                                                           <td><p><?php echo $quotation ['title']; ?></p></td>
                                                           <td><p><?php echo $quotation ['quantity'] ? $quotation ['quantity'] : ''; ?></p></td>
                                                           <td><p><?php echo number_format($quotation ['total_price']) ; ?></p></td>
                                                       </tr>
                                                   <?php endforeach; ?>

                                                   </tbody>

                                               </table>
                                               <div style="margin-left:40%">
                                                   <span><strong>VAT: </strong>10%</span>
                                               </div>
                                               <div style="margin-left:40%">
                                                   <strong>Tổng tiền:</strong> <span> <?php echo number_format($this->total_price_quotation[$value['id']]); ?></span>
                                               </div>
                                           </td>
                                           </tr>
                                           <?php if ($this->destruction['status'] > 5) : ?>
                                               <tr>
                                                   <td>Chi phí cuối cùng</td>
                                                   <td>
                                                       <table class="table">
                                                           <thead>
                                                           <tr>
                                                               <th style="width:40%">Nội dung</th>
                                                               <th style="width:20%">Số lượng</th>
                                                               <th style="width:30%">Thành tiền</th>
                                                           </tr>
                                                           </thead>
                                                           <tbody>
                                                           <?php foreach ($this->destruction_quotation_last[$value['id']] as $quotation) :?>
                                                               <tr>
                                                                   <td><p><?php echo $quotation ['title']; ?></p></td>
                                                                   <td><p><?php echo $quotation ['quantity'] ? $quotation ['quantity'] : ''; ?></p></td>
                                                                   <td><p><?php echo number_format($quotation ['total_price']) ; ?></p></td>
                                                               </tr>
                                                           <?php endforeach; ?>

                                                           </tbody>

                                                       </table>
                                                       <div style="margin-left:40%">
                                                           <span><strong>VAT: </strong>10%</span>
                                                       </div>
                                                       <div style="margin-left:40%">
                                                           <strong>Tổng tiền:</strong> <span> <?php echo number_format($this->total_price_quotation_last[$value['id']]); ?></span>
                                                       </div>
                                                   </td>
                                               </tr>
                                           <?php endif; ?>
                                       <?php endif; ?>

                                       <?php endif;?>


                                       <!--Tiêu hủy tính phí-->
                                       <?php if ($this->destruction['status'] == 5 AND $value['tp_id'] == 1 AND in_array($this->destruction['status'], $this->app_status_title)) : ?>
                                           <tr>
                                           <td>Upload báo giá cuối cùng</td>
                                           <td class="destruction_quotation">
                                               <table class="table">
                                                   <thead>
                                                   <tr>
                                                       <th style="width:40%">Nội dung</th>
                                                       <th style="width:20%">Số lượng</th>
                                                       <th style="width:30%">Thành tiền</th>
                                                       <th></th>
                                                   </tr>
                                                   </thead>
                                                   <tbody id="destruction_quotation_container">
                                                   <?php foreach ($this->destruction_quotation [$value['id']] as $quotation) :?>
                                                       <tr class="destruction_quotation_row">
                                                           <td>
                                                               <textarea class="destruction_quotation_title"
                                                                         name="destruction_quotation_title[<?php echo $value['id']?>][]"
                                                                         type="text"
                                                                         style="width:90%" required
                                                               ><?php echo $quotation['title']; ?>
                                                               </textarea>
                                                           </td>
                                                           <td>
                                                               <input class="destruction_quotation_quantity"
                                                                      name="destruction_quotation_quantity[<?php echo $value['id']?>][]"
                                                                      type="number" min="0"
                                                                      style="width:80%"
                                                                      value="<?php echo $quotation['quantity'] ? $quotation['quantity'] : ''; ?>"
                                                               >
                                                           </td>
                                                           <td>
                                                               <input class="destruction_quotation_total_price"
                                                                      name="destruction_quotation_total_price[<?php echo $value['id']?>][]"
                                                                      type="number" min="0" style="width:90%" required
                                                                      value="<?php echo $quotation['total_price']; ?>"
                                                               >
                                                           </td>
                                                           <td> <i class="icon icon-minus-sign btn_remove_quotation" style="font-size: 20px; color: red; margin: 5px" ></i> </td>
                                                       </tr>
                                                   <?php endforeach; ?>
                                                   </tbody>

                                               </table>
                                               <div style="margin-left:40%">
                                                   <span><strong>VAT: </strong>10%</span>
                                               </div>
                                               <div style="margin-left:40%">
                                                   <strong>Tổng tiền:</strong> <span class="total_quotation"><?php echo number_format($this->total_price_quotation[$value['id']]); ?></span>
                                               </div>

                                               <i class="icon icon-plus-sign btn_add_quotation" style="font-size: 20px; color: green; margin: 10px" repair_details_id = <?php echo $value['id']?>></i>
                                           </td>
                                       </tr>
                                       <?php endif; ?>

                                       <tr>
                                          <td colspan="2">
                                              <div class="row-fluid"><label><b>Hình ảnh:</b></label>
                                             <div id="list-image-1" class="list-image-wrapper">
                                                <?php
                                                $file_url = explode(',', $value['file_url']);
                                                foreach($file_url as $k=>$v){
                                                    echo '<div class="image"><img class="myImg" src="'.$v.'" alt="" /></div><br>';
                                                }
                                                ?>

                                             </div>
                                          </td>
                                       </tr>

                                       <!-- Modal Img -->
                                       <!-- The Modal -->
                                          <div id="myModalImg" class="modal">

                                            <!-- The Close Button -->
                                            <span class="close">&times;</span>

                                            <!-- Modal Content (The Image) -->
                                            <img class="modal-content" id="img01">

                                            <!-- Modal Caption (Image Text) -->
                                            <div id="caption"></div>
                                          </div>
                                           <!--End Modal Img -->

                                       <?php if($this->destruction[status] == 5 AND in_array($this->destruction['status'], $this->app_status_title)):?>
                                       <tr>
                                          <td colspan="2">
                                              <div class="row-fluid"><label><b>Upload Hình ảnh nghiệm thu:</b></label>
                                             <div id="list-image-1" class="list-image-wrapper">
                                                <a style="margin-left: 5px;" id="take-picture" data-details-id="<?php echo $value['id'];?>" class="btn btn-danger button-img">
                                                    <i class="icon-camera"></i>
                                                </a>
                                                <a style="margin-left: 5px;" id="take-file" data-details-id="<?php echo $value['id'];?>" data-cat-id="<?php echo $value['category_id'];?>" class="btn btn-primary button-img">
                                                    <i class="icon-folder-open"></i>
                                                </a>
                                                <input type="file" id="file-tmp" style="display: none" accept="image/*" multiple="">

                                             </div>
                                             <div id="list-image-<?php echo $value['id'];?>" class="list-image-wrapper">
                                             </div>
                                          </td>
                                       </tr>
                                       <?php elseif($this->destruction['status'] > 5):?>
                                       <tr>
                                          <td colspan="2">
                                             <div class="row-fluid"><label><b>Hình ảnh nghiệm thu:</b></label>
                                             <div id="list-image-1" class="list-image-wrapper">
                                                <?php
                                                $file_accept = explode(',', $value['file_accept']);
                                                foreach($file_accept as $k=>$v){
                                                    echo '<div class="image"><img class="myImg" src="'.$v.'"/></div><br>';
                                                }
                                                ?>

                                             </div>
                                          </td>
                                       </tr>
                                       <?php endif;?>


                                    </tbody>
                                 </table>

                               </div>

                               <?php endforeach;?>

                            </div><!-- list_repair -->
                        </div>
                    </div><!-- wrap_picture -->

                    <div class="btn_submit" align="center">
                       <input type="hidden" name="destruction_id" value="<?php echo $this->destruction['id'];?>">
                         <input type="hidden" name="manager_approve" value="<?php echo $this->destruction['manager_approve'];?>">
                       <input type="hidden" id="check_tp" name="check_tp" value="<?php echo $this->check_tp;?>">

                            <?php if(in_array($this->destruction['status'], $this->app_status_title) AND $this->destruction['remove'] != 1):?>
                           <input type="submit" name="submit" value="Xác nhận"  class="btn btn-success">
                           <?php endif;?>

                           <?php if(in_array($this->destruction['status'], $this->app_status_title) AND $this->destruction['remove'] != 1 AND $this->destruction['status'] != 5)  :?>
                           <input type="submit" name="reject" value="Từ chối"  class="btn btn-danger" data-toggle="modal" data-target="#myModal">
                           <?php endif;?>

                            <?php if(in_array($this->destruction['status'], $this->app_status_title) AND $this->destruction['remove'] <> 1):?>
                                <button type="button" class="btn btn-danger btn-lg" data-toggle="modal" data-target="#myModal2">Hủy đề xuất</button>
                            <?php endif;?>


                    </div>
                    <div class="alert"></div>

                </div>

          </form>

    </div>
  </div>
</div>

<!-- Modal -->
<div id="myModal" class="modal fade" role="dialog">
  <div class="modal-dialog">

    <!-- Modal content-->
    <div class="modal-content">
        <form class="form-search form-horizontal" method="post" action="/trade/save-destruction-edit" enctype="multipart/form-data">
            <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal"></button>
              <h4 class="modal-title">Từ chối</h4>
            </div>
            <div class="modal-body">
                <label class="span2">Lý do từ chối:</label>
                <textarea rows="5" cols="5" name="reject_note" required></textarea>

            </div>
            <div class="modal-footer">
                <input type="hidden" name="destruction_id" value="<?php echo $this->destruction['id'];?>">
                <input type="submit" name="reject" value="Từ chối"  class="btn btn-danger reject">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>

        </form>
    </div>
  </div>
</div>

<div id="myModal2" class="modal fade" role="dialog">
    <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
            <form class="form-search form-horizontal" method="post" action="/trade/save-destruction-edit" enctype="multipart/form-data">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal"></button>
                    <h4 class="modal-title">Hủy đề xuất</h4>
                </div>
                <div class="modal-body">
                    <label class="span2">Lý do hủy đề xuất:</label>
                    <textarea rows="5" cols="5" name="remove_note" required></textarea>

                </div>
                <div class="modal-footer">
                    <input type="hidden" name="destruction_id" value="<?php echo $this->destruction['id'];?>">
                    <input type="submit" name="remove" value="Hủy đề xuất"  class="btn btn-danger reject">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>

            </form>
        </div>
    </div>
</div>

<script type="text/javascript" src="/js/jquery-ui-1.8.12.custom.min.js"></script>
<link rel="stylesheet" type="text/css" href="/css/jquery-ui-1.8.12.custom.css"/>

<script type="text/javascript" src="<?php echo HOST ?>js/bootstrap-multiselect.js"></script>
<link rel="stylesheet" href="<?php echo HOST ?>css/bootstrap-multiselect.css" type="text/css"/>

<script type="text/javascript" src="<?php echo HOST;?>js/qrcode/adapter.min.js"></script>
<script type="text/javascript" src="<?php echo HOST;?>js/qrcode/vue.min.js"></script>
<script type="text/javascript" src="<?php echo HOST;?>js/qrcode/instascan.min.js"></script>

<script type="text/javascript">
  // Get the modal
  var modal = document.getElementById('myModalImg');

  // Get the image and insert it inside the modal - use its "alt" text as a caption
  var img = document.getElementById('myImg');
  var modalImg = document.getElementById("img01");
  var captionText = document.getElementById("caption");
  $(document).on('click','.myImg',function(){
     modal.style.display = "block";
    modalImg.src = this.src;
    captionText.innerHTML = this.alt;
  });

  // Get the <span> element that closes the modal
  var span = document.getElementsByClassName("close")[0];

  // When the user clicks on <span> (x), close the modal
  span.onclick = function() {
    modal.style.display = "none";
}
</script>
<script type="text/javascript">

    var destruction_type = <?php echo json_encode($this->destruction_type);?>;
    var data_details_id;
    var index_category = '';
    var listImage = {
        'list-image': [],
        'shop-detail-image': []
    };

    //Multil select
    var options = {
        selectAllText: 'Select All',
        includeSelectAllOption: true,
        includeSelectAllIfMoreThan: 3,
        disableIfEmpty: true
    };

    $(document).ready(function () {
        // quotation
        var index = 1;
        const VAT = 0.1;
        // add quotation
        $('.destruction_quotation').on('click', '.btn_add_quotation', function() {
            let destruction_details_id = $(this).attr('destruction_details_id');
            let quotation_copy = "<tr class='destruction_quotation_row'>" + $(this).parent('.destruction_quotation').find('.destruction_quotation_row').html() + "</tr>";

            $(this).parent('.destruction_quotation').find('#destruction_quotation_container').append(quotation_copy);

            let last_quotation = $(this).parent('.destruction_quotation').find('#destruction_quotation_container').find('.destruction_quotation_row').last();
            let destruction_quotation_title = last_quotation.find('.destruction_quotation_title');
            let destruction_quotation_quantity = last_quotation.find('.destruction_quotation_quantity');
            let destruction_quotation_total_price = last_quotation.find('.destruction_quotation_total_price');

            destruction_quotation_title.attr('value', '');
            destruction_quotation_quantity.attr('value', '');
            destruction_quotation_total_price.attr('value', '');

            ++index;
        });
        //remove quotation
        $('.destruction_quotation').on('click', '.btn_remove_quotation', function() {

            let destruction_quotation = $(this).parent().parent().parent().parent().parent();

            if ( $(this).parent().parent().attr('id') !== 'original_quotation') {
                $(this).parent().parent().remove();
            }

            calculatePriceQuotation(destruction_quotation);
        });

        //  calculate total price quotation
        $('.destruction_quotation').on('keyup', '.destruction_quotation_total_price', function() {
            let destruction_quotation = $(this).parent().parent().parent().parent().parent();
            calculatePriceQuotation(destruction_quotation);
        });

        function calculatePriceQuotation(destruction_quotation) {
            let total_quotation = 0;
            destruction_quotation.find('.destruction_quotation_total_price').each(function() {
                total_quotation += Number($(this).val());
            });

            total_money = total_quotation + total_quotation * VAT;

            destruction_quotation.find('.total_quotation').text(formatMoney2(total_money, 'VNĐ'));
        }
        function formatMoney2(n, currency) {
            return n.toFixed(0).replace(/./g, function(c, i, a) {
                return i > 0 && c !== "." && (a.length - i) % 3 === 0 ? "," + c : c;
            })+" "+currency;
        }

        $( '.date' ).datepicker({ dateFormat: "dd/mm/yy" });

       // var tp_id_check = $('#tp_id_check').val();

        $('.contructors_id').select2();

        $('.search_shop').select2();

        $( ".search_shop" ).change(function() {

            $('.list_repair_row').remove();

            var store_id = $(this).val();

            $.ajax({
                url: "/trade/get-info-checkshop",
                type: "GET",
                dataType: "text",
                context: this,
                data: "store_id="+store_id,
                beforeSend: function() {
                    $(".loading").show();
                },
                success: function(result){

                    if(result)
                    {
                        var data = jQuery.parseJSON(result);
                        var code = data.code;
                        var data = data.data;

                        if(data.length > 0){
                            table = "<table class='table'><tr><th>Hạng mục</th><th>Hiện trạng</th><th>Action</th></tr>";
                            for(i=0;i<data.length;i++){
                                var imei_sn = data[i].imei_sn ? "<br>("+data[i].imei_sn+")" : "";
                                var imei_infi = data[i].imei_sn;

                                table += "<tr><td>"+data[i].category_name+"</td><td>"+data[i].quantity+" "+imei_sn+"</td>";
                                table += "<td>";
                                table += "<a class='btn btn-warning btn_wrench btn_category_"+data[i].category_id+"' category-name='"+data[i].category_name+"' category-id='"+data[i].category_id+"' imei-sn='"+imei_infi+"' >";
                                table += "<i class='icon-wrench'></i> Hủy</a></td></tr>";

                            }
                            table += "</table>";
                        }
                        else{
                            table = "<b style='color:red'>Không có hạng mục nào tại shop</b>";
                        }

                        $('.table_checkshop').html(table);

                    }
                    else
                    {
                        alert("Error Ajax result NULL");
                    }

                },
                error:function(){
                    alert("Error Ajax");
                }
            });

        });


        $(document).on('click', '.btn_wrench', function() {

            var category_name = $(this).attr('category-name');
            var category_id = $(this).attr('category-id');
            var imei_sn = $(this).attr('imei-sn');
            var add_quantity = '';

            if(imei_sn){
                add_quantity = '<a class="btn scan_open" id="scan" data-cat-id="'+category_id+'">Scan</a><br>\
                                <input type="hidden" class="imei_sn_cat_'+category_id+'" value="'+imei_sn+'">\
                                <label class="imei_qrcode imei_'+category_id+'"></label>\
                                <input type="hidden" value="'+category_id+'" name="category_id[]">\
                                <input type="hidden" class="input_imei_'+category_id+'" name="imei[]" id="input_imei">\
                                <input type="hidden" name="quantity[]">';
            }
            else{
                add_quantity = '<input class="quantity_checkshop" id="quantity_checkshop" min="0" type="number" name="quantity[]" required="">\
                                <input type="hidden" name="imei[]">\
                                <input type="hidden" value="'+category_id+'" name="category_id[]">';
            }

            //Add repair type
            destruction_type_cat = destruction_type[category_id];
            var selectList = "<select class='multiselect_"+category_id+" repair_type' name='destruction_details_type["+category_id+"][]' multiple='multiple'>";
            for(var i=0;i< destruction_type_cat.length;i++){
                selectList += '<option value='+destruction_type_cat[i]['id']+'>'+destruction_type_cat[i]['title']+'</option>';
            }
            selectList += "</select>";

            var table = '<div class="list_repair_row">\
                            <table class="table">\
                                        <tbody>\
                                        <tr>\
                                            <td colspan="2"><b class="title_repair"><i class="icon icon-cogs"></i> '+category_name+' <i class="icon icon-remove pull-right remove_repair" category-id="'+category_id+'"></i> </b></td>\
                                        </tr>\
                                        <tr>\
                                            <td>Số lượng</td>\
                                            <td>\
                                                <div class="add_quantity">'+add_quantity+'</div>\
                                            </td>\
                                        </tr>\
                                        <tr>\
                                            <td>Loại hư hỏng</td>\
                                            <td>'+selectList+'</td>\
                                        </tr>\
                                        <tr>\
                                            <td>Loại hình tiêu hủy</td>\
                                            <td>\
                                              <select class="form-control multiselect_'+category_id+'" name="destruction_details_tp['+category_id+'][]" multiple="multiple">\
                                                  <option value="1">Tiêu hủy tính phí</option>\
                                                  <option value="2">Tiêu hủy không phí</option>\
                                              </select>\
                                            </td>\
                                        </tr>\
                                        <tr>\
                                            <td>Ghi chú</td>\
                                            <td>\
                                              <input type="text" class="form-control note" name="note[]">\
                                            </td>\
                                        </tr>\
                                        <tr>\
                                            <td colspan="2">\
                                                  <div class="row-fluid">\
                                                      <label>Hình ảnh:</label>\
                                                      <a style="margin-left: 5px;" id="take-picture" class="btn btn-danger button-img">\
                                                          <i class="icon-camera"></i>\
                                                      </a>\
                                                      <a style="margin-left: 5px;" id="take-file" data-cat-id="'+category_id+'" class="btn btn-primary button-img">\
                                                          <i class="icon-folder-open"></i>\
                                                      </a>\
                                                      <input type="file" id="file-tmp" style="display: none" accept="image/*" multiple="">\
                                                  </div>\
                                                  <div id="list-image-'+category_id+'" class="list-image-wrapper">\
                                                  </div>\
                                            </td>\
                                        </tr>\
                                    </tbody>\
                                </table>\
                            </div>';

            $('.list_repair').append(table);

            $('.btn_category_'+category_id).hide();

            $('.multiselect_'+category_id).multiselect(options);

        });

        $(document).on('click', '.remove_repair', function() {
            var category_id = $(this).attr('category-id');
            $(this).closest('.list_repair_row').remove();
            $('.btn_category_'+category_id).show();
        });

        $(document).on('click', '.remove_image', function() {
            $(this).closest('.image').remove();
        });

        $(document).on('click', '.scan_open', function() {

            index_category = $(this).attr('data-cat-id');

            _Scanner.scan(scanSuccess);
        });

        function scanSuccess(content) {
            if(content) {

                let im = $('.imei_'+index_category).html();
                let imei_sn_cat = $('.imei_sn_cat_'+index_category).val();
                let list_imei_scanned =  $('.input_imei_'+index_category).val();

                if(im != undefined && im.length > 0) {
                    im += ', ';
                }
                let imei = content.replace('http://trade-marketing.opposhop.vn/tool/scan-imei?imei_sn=', '');

                imei = imei.replace('https://trade-marketing.opposhop.vn/tool/scan-imei?imei_sn=', '');

                if(list_imei_scanned.indexOf(imei) !== -1){
                    alert('Mã QRCode bị trùng lặp!');
                    return false;
                }

                if(imei_sn_cat.indexOf(imei) !== -1){
                }
                else{
                    alert('Mã QRCode không đúng!');
                    return false;
                }

                $('.imei_'+index_category).html(im + imei);
                $('.input_imei_'+index_category).val(im + imei);

            }
        }

        $(document).on('click', '#take-picture', function () {
            data_details_id = $(this).attr('data-details-id');
            _Camera.getPicture(takenImage)
        });

        $(document).on('click', '#take-file', function () {
            data_details_id = $(this).attr('data-details-id');

            if (isWebPlatform()) {

                $('#file-tmp').trigger('click');
                $(document).on('change', '#file-tmp', function () {

                    for (let i = 0; i < this.files.length; i++) {
                        let file = this.files[i];
                        if (!file.type.startsWith('image/'))
                            alert('Bạn chỉ được chọn file ảnh!');
                        else
                            convertFileToBase64(file, takenImage);
                    }
                    this.value = '';
                });
            } else {
                _ImagePicker.getPictures(function (files) {
                    for (let i = 0; i < files.length; i++) {
                        takenImage(files[i]);
                    }
                });
            }
        });

        function takenImage(imageBase64) {
            let image = $('<img alt="Loading..." />');
            let input_image = $('<input type="hidden" name="image['+data_details_id+'][]" />');
            let div = $('<div class="image" />');
            let divWrapper = $('<div class="removable-image"><i class="icon icon-remove pull-right remove_image"></i></div>');
            image.appendTo(div);
            input_image.appendTo(div);
            divWrapper.appendTo(div);
            div.appendTo('#list-image-'+data_details_id);
            createThumbnail(imageBase64, 300, function (thumbnailBase64) {
                image.attr('src', thumbnailBase64);
                input_image.attr('value', thumbnailBase64);
                $('#list-image-'+data_details_id).trigger('change');
            })
        }

        $( "form" ).submit(function( event ) {

            $(".repair_type").each(function() {
                repair_value = $(this).val();
                if(repair_value == null || repair_value == ''){
                    $('.alert').text( "Vui lòng chọn Loại hư hỏng!" ).show().fadeOut( 2000 );
                    event.preventDefault();
                    return false;
                }
            });

            $(".file_size").each(function() {

                value = this.files[0].size/1024/1024;
                var extension = ["application/vnd.ms-powerpoint","application/vnd.openxmlformats-officedocument.presentationml.presentation","application/vnd.openxmlformats-officedocument.spreadsheetml.sheet"," application/vnd.ms-excel","application/vnd.openxmlformats-officedocument.wordprocessingml.document","application/msword"];
                var size = this.files.length;
                var type=this.files[0]['type'];
                var check = 0;
                      $.each(extension,function(index, item){
                        if (item == type){
                            check =1;
                        }
                    });
                if(check == 0){
                  $('.alert').text( "Vui lòng chọn file có định dạng (.ppt, .pptx, .xlsx, .xls, .doc, .docx)!" ).show().fadeOut( 5000 );
                  event.preventDefault();
                  return false;
                }
                if(value > 5){
                    $('.alert').text( "Dung lượng file vượt quá 5MB!" ).show().fadeOut( 2000 );
                    event.preventDefault();
                    return false;
                }
            });


        });

        $(document).on('click', '.reject', function () {
            var r = confirm("Bạn có chắc từ chối đề xuất này!");
            if (r == true) {
                return true;
            } else {
                return false;
            }
        });

        $(document).on('click', '.add_part', function () {

            part = $('.part').clone();
            part.find('input').val('');
            $('.wrap_part').append(part);
        });

        $(document).on('click', '.remove_part', function () {

            var count = $('.part').length;
            if(count > 1){
                $(this).closest('.part').remove();
            }

        });

    });
</script>
<!-- <script type="text/javascript">
   $('#file-tmp').bind('change', function() {
                alert('This file size is: ' + this.files[0].size/1024/1024 + "MB");
                if( (this.files[0].size/1024/1024) > 5){
                  alert(12345);
                    // $('.alert').text( "File upload vượt quá 5MB!" ).show().fadeOut( 2000 );
                    // event.preventDefault();
                    // return false;
                }
            });
</script> -->
<link rel="stylesheet" type="text/css" href="<?php echo HOST ?>css/select2.min.css">
<script type="text/javascript" src="<?php echo HOST ?>js/select2.min.js"></script>


