<div class="content-layout">
    <div class="row">
    <!-- end trade T?NG Ð?U TU-->

    <div class="span6">
        <div class="table_main2" style="margin-top: 5px;">
            <div class="header_tad"><i class="icon-list-alt"></i><b style="color:red"> Bàn Tủ 12/2017 (Tủ trưng bày)</b></div>
            <div class="content_tad">

                <div class="content_content" style="min-height: 242px;">
                    <table id="bi-table" class="table_details" class="paginated" style="width: 100%;">
                        <tbody>
                            <tr style="display: table-row;">
                                <th>Shop</th>
                                <th>Thực trạng</th>
                                <th>SL</th>
                                <th>TT</th>
                            </tr>
                            <tr>
                                <td>Minh Long - Bình Dương</td>
                                <td><img src="<?php echo HOST;?>img/tutrungbay.jpg"></td>
                                <td><label>1</label></td>
                                <td>
                                    <span class="label label-info">Đã xuất kho</span>
                                </td>
                            </tr>

                            <tr>
                                <td>Kim Ngân 2 - Kiên Giang</td>
                                <td><img src="<?php echo HOST;?>img/tutrungbay.jpg"></td>
                                <td><label>1</label></td>
                                <td>
                                    <span class="label label-info">Đã xuất kho</span>
                                </td>
                            </tr>

                            <tr>
                                <td>Kim Ngân 2 - Kiên Giang</td>
                                <td><img src="<?php echo HOST;?>img/tutrungbay.jpg"></td>
                                <td><label>1</label></td>
                                <td>
                                    <span class="label label-info">Đã xuất kho</span>
                                </td>
                            </tr>
                            
                        </tbody>
                    </table>
  
                <!-- content-content-->

                

            </div>
        </div>
    </div>
    <!-- span6-->


</div>
</div><!-- content layout-->



<!-- Modal -->
<div id="myModal" class="modal fade" role="dialog" style="display: none">
  <div class="modal-dialog">

    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Modal Header</h4>
      </div>
      <div class="modal-body">

        <div class="content_tad">
            <table class="table hanmuc">
                <tbody><tr>
                    <th>Shop đã đặt</th>
                    <th>SL</th>
                </tr>
                <tr>
                    <td>Minh Long - Bình Dương</td>
                    <td>1</td>
                </tr>
                <tr>
                    <td>Kim Ngân 2 - Kiên Giang</td>
                    <td>1</td>
                </tr>
                <tr>
                    <td>CH Ngân Phú - Kiên Giang</td>
                    <td>1</td>
                </tr>
            </tbody></table>
        </div>

        <div class="content_tad">
            <label>Chọn shop:</label>
            <select>
                <option>Minh Long - Bình Dương</option>
                <option>Kim Ngân 2 - Kiên Giang </option>
                <option>CH Ngân Phú - Kiên Giang</option>
                <option>Apple 73- Quảng Bình</option>
                <option>Media Mart Chí Linh</option>
                <option>Cường Phát - Bình Dương</option>
                <option>Thế Giới Alô - Long An</option>
                <option>Hiệp Doanh - Bắc Giang</option>
            </select>
        </div><!-- content_tad -->

        <div class="content_tad">
            <table class="table hanmuc">
                <tr>
                    <td>Hạn mức</td>
                    <td>Đã đặt</td>
                    <td>Điền số lượng</td>
                </tr>
                <tr>
                    <td>3</td>
                    <td>2</td>
                    <td><input type="text" style="width: 100px"></td>
                </tr>
            </table>
        </div><!-- content_tad -->

        <div class="content_tad">
            <label>Chụp hình vị trí lắp đặt:</label>
            <input type="file" name="" >
        </div><!-- content_tad -->

        <div class="content_tad add_new_modal">
            <button class="button btn btn-success" data-toggle="modal" data-target="#myModal">Thêm</button>
        </div><!-- content_tad -->


        <label class="thuctrangshop">Thực trạng shop</label>


        <div class="modal_row">
            <div class="shop_info" style="display: block;">
                <div class="top_shop_info">
                    <span class="name_shop">Nhật Huy 2 - Thái Bình - Chợ Lục,Xã Thái Xuyên, Huyện Thái Thụy, Tinh Thái Bình.</span>
                </div><!-- end top_shop_info-->

                <div class="content_shop_info">
                    <table class="table">
                        <tbody><tr>
                            <th>Tên</th>
                            <th>SL</th>
                            <th>Ngày</th>
                        </tr>
                        <tr>
                            <td>Bảng hiệu Alu</td>
                            <td>1</td>
                            <td>2017-07-23</td>
                        </tr>
                        <tr>
                            <td>Tủ kính trưng bày</td>
                            <td>3</td>
                            <td>2017-07-25</td>
                        </tr>
                        <tr>
                            <td>Tủ sát vách</td>
                            <td>3</td>
                            <td>2015-07-24</td>
                        </tr>
                    </tbody></table>
                    
                </div><!-- end mid_shop_info-->


                <div class="top_shop_info">
                    <span>Hình ảnh thực tế</span>
                </div><!-- end top_shop_info-->

                <div class="content_shop_info hinhanhthucte">
                    <span>Bảng hiệu Alu</span>
                    <img src="http://center-live.local/img/shop_1.png">
                    <span>Tủ kính trưng bày</span>
                    <img src="http://center-live.local/img/shop_2.png">
                    <span>Tủ sát vách</span>
                    <img src="http://center-live.local/img/shop_3.jpg">
                </div><!-- end mid_shop_info-->

            </div><!-- enđ shop_info-->
        </div><!-- modal_row -->




      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-success">Thêm</button>
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>

  </div>
</div>


<script>
    $(document).ready(function () {
        $( ".add_new_cat" ).click(function() {
            var name_cat = $(this).closest('tr').find('a').text();
            
            $('.modal-title').html(name_cat);

        });
    });
</script>
