<style type="text/css">
tr,td{
 border-style: hidden!important;
 margin: 3px;
}

</style>
<div class="content-layout">
  <div class="row">

    <div class="span6">
      <div class="table_main" style="margin-top: 7px;">
        <div class="header_tad">
          <i class="icon-list-alt"></i> CHỈNH SỬA ĐỀ XUẤT

        </div>

        <div class="content_tad">
          <div class="content_content" style="min-height: 405px;">
           <?php
           if (isset($this->messages) and $this->messages)
            foreach ($this->messages as $message):
              echo '<div class="alert alert-error">'.$message.'</div>';
            endforeach;

            if (isset($this->messages_success) and $this->messages_success)
              foreach ($this->messages_success as $message):
                echo '<div class="alert alert-success">'.$message.'</div>';
              endforeach;
              ?>
              <form class="form-search form-horizontal" method="post" action="/trade/edit-remove" enctype="multipart/form-data">
                <div class="row" align="center">
                  <div class="span5">
                    <div class="table-responsive">

                      <table class="table" style="width: 100%;" >
                        <tr>
                          <td  width="42%" ><label for="sel1">Chon hạng mục:</label></td>
                          <td>
                            <select class="form-control" id="sel1" name = "category">
                             <?php
                             foreach ( $this->category as $value) {
                              if (isset($this->params['category']) && $this->params['category'] == $value['id']){
                                ?>
                                <option  value ="<?php echo $value['id'] ?>" selected><?php echo $value['name'] ?></option>
                                ?>
                                <?php }else { ?>
                                <option  value ="<?php echo $value['id'] ?>"><?php echo $value['name'] ?></option>
                                <?php }} ?>
                              </select>
                            </td>
                          </tr>
                          <tr>
                            <td>
                              <label for="sel1">Đặt tại shop:</label>
                            </td>
                            <td>
                              <select class="form-control" id="sel1" name = "store">
                                <?php foreach ( $this->store as $value) {
                                  if (isset($this->params['store']) && $this->params['store'] == $value['id']){
                                    ?>
                                    <option  value ="<?php echo $value['id'] ?>" selected><?php echo $value['name'] ?></option>
                                    ?>
                                    <?php }else { ?>
                                    <option  value ="<?php echo $value['id'] ?>"><?php echo $value['name'] ?></option>
                                    <?php }} ?>
                                  </select>
                                </td>
                              </tr>
                              <tr>
                                <td>
                                  <label for="sl">Số lượng hủy:</label>
                                </td>
                                <td>
                                  <input id="sl" name="sl" type="number" class="form-control" value="<?php isset($this->params['sl']) and printf($this->params['sl']);?>" required>
                                </td>
                              </tr>
                              <tr>
                                <td>
                                  <label for="lydo">Lý do hủy:</label>
                                </td>
                                <td>
                                  <textarea class="form-control" rows="5" name="lydo"><?php isset($this->params['lydo']) and printf($this->params['lydo']);?></textarea>
                                </td>
                              </tr>
                              <tr>
                                <td>
                                  <label for="title">Hình ảnh:</label>
                                </td>
                                <td>
                                  <input type="file" name="image" />
                                </td>
                              </tr>
                            </table>
                            
                            <input type="hidden" value ="<?php echo $this->params['staff_id'] ?>" name ="staff_id">
                            <input type="hidden" value ="<?php echo $this->params['id'] ?>" name ="iddestruction">
                            <input type="submit" class="btn btn-success" name ="submit" value = "Cập nhật">
                            <input type="submit" class="btn btn-danger" value ="Xóa" name ="delete">
                            <button class="btn btn-default"><a href="/trade/list-remove" >Quay lại</a></button>
                                
                              <hr>
                              <h2>Hình ảnh hạng mục hư hỏng</h2>
                              <div class="row" >
                                <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">

                                  <div class="carousel-inner" role="listbox">
                                    <?php foreach($this->dataAll as $key=>$value){ ?> 
                                      
                                      <?php if ($key == 0) { ?>
                                      <div class="item active">
                                        <img src="<?php if(isset($value['file_name']) and !empty($value['file_name'])) printf(HOST.'photo/destruction/destruction_file/'.$value['destruction_id'].'/'.$value['file_name']);  ?>" alt="..." height ="100px" width="100%">
                                        <input type="hidden" name="file_id" value="<?php echo $value['id'] ?>">
                                        <div class="carousel-caption">
                                          <button type="submit" class="remove_img btn btn-danger" id_banner='<?php if(isset($value['id'])): echo $value['id'];endif; ?>' value = "1" name ="submit">Xóa</button>
                                          
                                        </div>
                                      </div>
                                      <?php }else{ ?>
                                      <div class="item">
                                        <img src="<?php if(isset($value['file_name']) and !empty($value['file_name'])) printf(HOST.'photo/destruction/destruction_file/'.$value['destruction_id'].'/'.$value['file_name']);  ?>" alt="..." height ="100px" width="100%">
                                        <input type="hidden" name="file_id" value="<?php echo $value['id'] ?>">
                                        <div class="carousel-caption">
                                          <button type="submit" class="remove_img btn btn-danger" id_banner='<?php if(isset($value['id'])): echo $value['id'];endif; ?>' value = "1" name ="submit">Xóa</button>
                                          
                                        </div>
                                      </div>
                                      <?php }?>

                                    <?php } ?>

                                  </div>

                                  <!-- Controls -->
                                  <a class="left carousel-control" href="#carousel-example-generic" role="button" data-slide="prev">
                                    <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
                                    <span class="sr-only"></span>
                                  </a>
                                  <a class="right carousel-control" href="#carousel-example-generic" role="button" data-slide="next">
                                    <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
                                    <span class="sr-only"></span>
                                  </a>
                                </div>
                              </div>
                            
                          </div>
                          <br>


                        </form>
                      </div>

                    </div>
                    <!-- content-content-->


                  </div>
                </div>
              </div>
              <!-- span6-->
              <!-- end trade T?NG Ð?U TU-->
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
 