<html>
<style>
.btn_parent {
    width:100%;
    text-align: left;
    background-color: ghostwhite;
}
.btn:hover {
    background-color: #0B9F6B;
    color: white;
}

.row_file {
    padding-left: 20px;
    border-bottom: 1px solid #efefef;
}
    /*.file:hover {*/
        /*background-color: #3d9f7f;*/
        /*color: white;*/
    /*}*/

</style>
<div class="content-layout">
    <div class="row">

        <div class="col-12 col-md-8 p-0">

            <div class="table_main" style="margin-top: 7px;">
                <div class="header_tad">
                    <i class="icon-list-alt"></i> FAQ
                </div>

                <div class="content_tad">

                    <div class="content_content" style="min-height: 405px;">
                        <?php foreach ($this->listGuideline as $guideline) : ?>
                            
                        <div class="accordion" id="accordionExample">
                            <div class="card">
                                <div class="card-header" id="headingOne">
                                    <h2 class="mb-0">
                                        <button class="btn btn-link btn_parent" type="button" data-toggle="collapse" data-target="#<?php echo $guideline['id']?>" aria-expanded="true" aria-controls="collapseOne">
                                            <i style="font-size:10px" class="icon icon-chevron-right"></i> <?php echo $guideline['name']; ?>
                                        </button>
                                    </h2>
                                </div>

                                <div id="<?php echo $guideline['id']; ?>" class="collapse show" aria-labelledby="headingOne" data-parent="#accordionExample">
                                    <div class="card-body">
                                        <?php foreach ($this->listFile[$guideline['id']] as $file) :?>
                                        <div class="file" >
                                            <a target="_blank" href="/trade/guideline-download-file?file_id=<?php echo $file['id']; ?>"><p class="row_file"><i style="font-size:10px" class="icon icon-plus"></i> <?php echo $file['name']; ?></p></a>
                                        </div>
                                        <?php endforeach; ?>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <?php endforeach; ?>


                    </div>


                </div>
            </div>
        </div>
    </div>
</div>
<a target="_blank"  id="test" href="https://center.opposhop.vn/photo/air_file/2/533/UPLOAD-22f3167b9fdba6065679c33afe70a0b3.xlsx">test</a>

<script type="text/javascript" src="/js/jquery-ui-1.8.12.custom.min.js"></script>
<link rel="stylesheet" type="text/css" href="/css/jquery-ui-1.8.12.custom.css"/>
<script src="<?php echo HOST; ?>form-builder/assets/js/sweetalert.min.js"></script>


<script>


    // $('#test').click(function () {
    //     alert(123);
    //     window.open('', '_self', '');
    //     window.close();
    // });
</script>

</html>