
<style type="text/css">
    .select2-container--default .select2-selection--single {
  border-left: 3px solid #aaa;
  margin-bottom: 5px;
  font-size: 13px;
}
.select2-container--default .select2-results>.select2-results__options{
  font-size: 13px;
}
.select2-container--default .select2-search--dropdown .select2-search__field{
  
  height:25px;
}

</style>
<div class="content-layout">
    <div class="row">

        <div class="span6">
            <div class="table_main" style="margin-top: 7px;">
                <div class="header_tad">
                    <i class="icon-list-alt"></i> DANH SÁCH SẢN PHẨM TỒN KHO

                </div>
                
                <div class="content_tad">

                    <div class="content_content" style="min-height: 405px;">
                        <!-- Khung search -->
                        <div class="accordion-group">
                            <div class="accordion-heading">
                              <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapseTwo">
                                Search
                              </a>
                            </div>
                            <div id="collapseTwo" class="accordion-body collapse" style="height: 0px;">
                              <div class="accordion-inner">

                                <form action="/trade/inventory-product" method="get" enctype="multipart/form-data" autocomplete="off">                                  
                                    <div class="control-group">                                         
                                        <label class="control-label">Hạng mục</label>
                                        <div class="controls">
                                            <select class="span3 search_shop" name='category_id' id='area_id'>
                                                <option value="">-- Select --</option>
                                                <?php foreach($this->category as $key=>$value):?>
                                                <option value="<?php echo $value['id'];?>" <?php echo $this->params["category_id"] == $value['id'] ? "selected" : NULL;?>><?php echo $value['name'];?></option>
                                                <?php endforeach;?>
                                            </select>
                                        </div> <!-- /controls -->               
                                    </div>
                                    
                                     <div class="control-group">                                         
                                        <label class="control-label">Khu vực</label>
                                        <div class="controls">
                                            <select class="span3" name='area_id_search' id='area_id'>
                                                <option value="">-- Select --</option>
                                                <?php foreach($this->area as $key=>$value):?>
                                                <option value="<?php echo $key;?>" <?php echo $this->params["area_id_search"] == $key ? "selected" : NULL;?>><?php echo $value;?></option>
                                                <?php endforeach;?>
                                            </select>
                                        </div> <!-- /controls -->               
                                    </div>

                                <input class="btn btn-success" type="submit" name="submit" value="Tìm">
                                <a href="/trade/inventory-product" class="btn btn-warning">Reset</a>
                                </form>
                              </div>
                            </div>
                        </div>
                        <!-- END Khung search -->
                        <table class='table'>
                            <tr>
                                <!--<th>#</th>-->
                                <th>ID</th>
                                <th>Tên hạng mục</th>
                                <th>Khu vực</th>
                                <th>Số lượng tồn kho</th>
                            </tr>
                            
                            <?php foreach($this->list as $key=>$value):?>
                            <?php $inc = $this->offset + $key + 1;?>
                            <tr>
                                <td><?php echo $inc;?></td>
                                <td><?php echo $value['category_name'];?></td>
                                <td><?php echo $value['area_name'];?></td>
                                <td><?php echo $value['quantity'];?></td>
                            </tr>
                            <?php endforeach;?>
                        </table>


                        <div class="paging">
                            <?php echo $this->paging($this->total, $this->limit, $this->offset, $this->url);?>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- -T -->
<script type="text/javascript" src="/js/jquery-ui-1.8.12.custom.min.js"></script>
<link rel="stylesheet" type="text/css" href="/css/jquery-ui-1.8.12.custom.css"/>
<link rel="stylesheet" type="text/css" href="<?php echo HOST ?>css/select2.min.css">
<script type="text/javascript" src="<?php echo HOST ?>js/select2.min.js"></script>
<script type="text/javascript">
    $(document).ready(function(){
        $( '.date' ).datepicker({ dateFormat: "dd/mm/yy" });
        $('.search_shop').select2(); 
        area_change();
        area_init_change();
    });
    var area_list = <?php echo json_encode($this->list_sale);?>;
    function area_change(){
        $("#area_id").change(function(){
            var area_id = $(this).val();
            
            $('#staff_id').find('option').remove().end().append('<option value="">--Select--</option>').val('');
            
            area = area_list[area_id];
            for(var i=0;i< area.length;i++){
                $("#staff_id").append('<option value='+area[i]['staff_id']+'>'+area[i]['fullname']+'</option>');
            }
            
            
        });
    }
    
    function area_init_change(){
        var area_id = $("#area_id").val();

        var staff_id = <?php echo $_GET['staff_id'] ? $_GET['staff_id'] : 0;?>;
        $('#staff_id').find('option').remove().end().append('<option value="">--Select--</option>').val('');
        
        if(area_id){
            area = area_list[area_id];
            for(var i=0;i< area.length;i++){
                if(staff_id == area[i]['staff_id']){
                    $("#staff_id").append('<option value='+area[i]['staff_id']+' selected>'+area[i]['fullname']+'</option>');
                }
                else{
                    $("#staff_id").append('<option value='+area[i]['staff_id']+'>'+area[i]['fullname']+'</option>');
                }

            }
        } 
    }
    
</script>
<!-- -T -->