<style type="text/css">
    table {
      position: relative;
      width: 1000px;
      overflow: hidden;
      border-collapse: collapse;
    }


    /*thead*/
    thead {
      position: relative;
      display: block; /*seperates the header from the body allowing it to be positioned*/
      width: 1000px;
      overflow: visible;
    }

    thead th {
      background-color: #99a;
      width: 100px;
      height: 32px;
      border: 1px solid #222;
    }

    thead th:nth-child(1) {/*first cell in the header*/
      position: relative;
      background-color: #f5f5f5;
    }


    /*tbody*/
    tbody {
      position: relative;
      display: block; /*seperates the tbody from the header*/
      width: 1000px;
      height: 400px;
      overflow: scroll;
    }

    tbody td {
      width: 100px;
      border: 1px solid #222;
    }

    tbody tr td:nth-child(1) {  /*the first cell in each tr*/
      position: relative;
      display: block; /*seperates the first column from the tbody*/
      height: 50px;
      background-color: #f5f5f5;
    }

    .btn_submit{margin: 10px auto;display: block;}
    .container-fluid a{cursor: pointer;}
    .input_quantity{width:40px;display: none}
    .header{display: table-row;}
</style>

<div class="content-layout">
    <div class="page-header">
        <h1>Đặt định mức <b style="color:red"><?php echo $this->campaign['name'];?></b></h1>
    </div><!-- page-header -->


    <div class="container-fluid">
        <section class="">

          <form action="/trade/limit-campaign" method="POST" enctype="multipart/form-data">
          <div class="container">

            <table>
              <thead>
                <tr class="header">
                    <th>Khu vực</th>
                    
                    <?php foreach($this->category_campaign as $key=>$value):?>
                    <th><?php echo $value['name'];?></th>
                    <?php endforeach;?>

                </tr>
            </thead>
            
            <tbody>
            <?php foreach($this->area as $key=>$value):?>
            <tr>
                <td><?php echo $value;?></td>

                <?php foreach($this->category_campaign as $k=>$v):?>
                <?php $quantity_limit = !empty($this->data[$key][$v['category_id']]['quantity_limit']) ? $this->data[$key][$v['category_id']]['quantity_limit'] : 0;?>
                <td>
                    <a class="quantity" category='<?php echo $v['category_id'];?>'><?php echo $quantity_limit;?></a>
                    <input type="text" value='<?php echo $quantity_limit;?>' class="input_quantity" name='quantity_limit[]' >
                    <input type="hidden" name="category_id[]" value="<?php echo $v['category_id'];?>">
                    <input type="hidden" name="area_id[]" value="<?php echo $key;?>">
                </td>
                <?php endforeach;?>

            </tr>
            <?php endforeach;?>
            </tbody>
            </table>

            <span class="title">Upload File</span>
            <div class="upload_file">

                <div class="control-group">
                    <label class="control-label">File mẫu</label>
                    <div class="controls">
                        <button type="submit" class="btn btn-warning" name="submit" value="2">Lấy file mẫu</button>
                    </div>
                </div><!-- control-group -->

                <div class="control-group">
                    <label class="control-label">Upload file</label>
                    <div class="controls">
                        <input type="file" name="file">
                    </div>
                </div><!-- control-group -->


            </div><!-- upload_file -->
            
            <input type="hidden" name="campaign_id" value="<?php echo $this->campaign['id'];?>">
            <button type="submit" class="btn btn-success btn_submit" name="submit" value="1">Xác nhận</button>
        </div>
        </form>
        

        </section>

    </div><!-- container-fluid -->

</div><!-- content layout-->

<script type="text/javascript">
    $(document).ready(function() {
      $('tbody').scroll(function(e) { //detect a scroll event on the tbody
        /*
        Setting the thead left value to the negative valule of tbody.scrollLeft will make it track the movement
        of the tbody element. Setting an elements left value to that of the tbody.scrollLeft left makes it maintain             it's relative position at the left of the table.    
        */
        $('thead').css("left", -$("tbody").scrollLeft()); //fix the thead relative to the body scrolling
        $('thead th:nth-child(1)').css("left", $("tbody").scrollLeft()); //fix the first cell of the header
        $('tbody td:nth-child(1)').css("left", $("tbody").scrollLeft()); //fix the first column of tdbody
      });
    });

    $( ".quantity" ).click(function(e) {
        e.preventDefault(); 
        $(this).hide();
        $(this).closest('td').find('input').removeAttr('disabled');
        $(this).closest('td').find('.input_quantity').show();
        $(this).closest('td').find('.input_quantity').focus();
    });

    $(".input_quantity").focusout(function(){
        $(this).hide();

        quantity = $(this).val();
        $(this).closest('td').find('.quantity').html(quantity);
        $(this).closest('td').find('.quantity').show();

    });

</script>
