<div class="content-layout">
    <div class="row">

        <div class="span6">
            <div class="table_main" style="margin-top: 7px;">
                <div class="header_tad">
                    <i class="icon-list-alt"></i> DANH SÁCH HÀNG TIÊU HỦY
                    <a href="/trade/create-remove" class ="btn btn-primary" style="float: right; margin-right: 10px; margin-top: 1px; background-color: #468847;">Đề Xuất</a>
                </div>
                
                <div class="content_tad">
        
                    <div class="content_content" style="min-height: 405px;">
                        <?php
                        if (isset($this->messages) and $this->messages)
                            foreach ($this->messages as $message):
                                echo '<div class="alert alert-error">'.$message.'</div>';
                            endforeach;

                            if (isset($this->messages_success) and $this->messages_success)
                                foreach ($this->messages_success as $message):
                                    echo '<div class="alert alert-success">'.$message.'</div>';
                                endforeach;
                                ?>
                        <table style="width: 100%;" id="bi-table">
                            <tbody>
                                <tr>
                                    <th>Tên Shop</th>
                                    <th>HM</th>
                                    <th>Status</th>
                                    <th>Action</th>
                                </tr>
                                <?php foreach ($this->list as $key => $value) {?> 

                                <tr> 
                                    
                                    <?php if ($value['status'] == 1) {?>
                                    <td ><a href="/trade/edit-remove?id=<?php echo $value['id'];?>"><?php echo $value['storename']; ?></a></td>
                                    <td><?php echo $value['categoryname']; ?></td>
                                    <td><span class="label label-info"> Chờ ASM xác nhận </span></td>
                                    <?php }else if ($value['status'] == 2){ ?>
                                    <td><?php echo $value['storename']; ?></td>
                                    <td><?php echo $value['categoryname']; ?></td>
                                    <td><span class="label label-primary"> Chờ TRADE <br> xác nhận </span></td>
                                    <?php }else if ($value['status'] == 3){ ?>
                                    <td><?php echo $value['storename']; ?></td>
                                    <td><?php echo $value['categoryname']; ?></td>
                                    <td><span class="label label-success"> Hoàn thành </span></td>
                                    <?php } ?>
                                    <td height="40" width="40"><a href="/trade/confirm-remove?id=<?php echo $value['id'];?>"  style="margin-left:7px; " ><span class="icon1 icon1-clipboard" aria-hidden="true"></span></a></td>
                                </tr>
                                <?php } ?>
                            </tbody>
                        </table>
                        
                        <div class="paging">
                            <?php echo $this->paging($this->total, $this->limit, $this->offset, $this->url);?>
                        </div>
                        
                    </div>
                    <!-- content-content-->

                </div>
            </div>
        </div>
        <!-- span6-->
        <!-- end trade T?NG Ð?U TU-->
    </div>

</div>

<!-- row-->
