

<div class="content-layout">
    <div class="row">

        <div class="span6">
            <div class="table_main" style="margin-top: 7px;">
                <div class="header_tad">
                    <i class="icon-list-alt"></i> DANH SÁCH HỢP ĐỒNG

                </div>
                
                <div class="content_tad">

                    <div class="content_content" style="min-height: 405px;">
                         <!-- Khung search -->
                        <div class="accordion-group">
                            <div class="accordion-heading">
                              <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapseTwo">
                                Search
                              </a>
                            </div>
                            <div id="collapseTwo" class="accordion-body collapse" style="height: 0px;">
                              <div class="accordion-inner">

                                <form action="/trade/list-contract" method="get" enctype="multipart/form-data" autocomplete="off">

                                    <div class="control-group">                                         
                                        <label class="control-label" for="name">Tên hợp đồng</label>
                                        <div class="controls">
                                             <input type="text" name="name_search" class="span3" id="name" placeholder="Nhập tên hợp đồng" value="<?php echo !empty($this->params['name_search']) ? $this->params['name_search'] : NULL;?>"> 

                                        </div> <!-- /controls -->               
                                    </div>
                                    
                                   



                                    <div class="control-group">                                         
                                        <label class="control-label" for="name">Từ ngày</label>
                                        <div class="controls">
                                            <input type="text" name="from_date" class="span3 date" id="from_date" value="<?php echo !empty($this->params['from_date']) ? $this->params['from_date'] : NULL;?>" readonly>
                                        </div> <!-- /controls -->               
                                    </div>

                                    <div class="control-group">                                         
                                        <label class="control-label" for="name">Đến ngày</label>
                                        <div class="controls">
                                            <input type="text" name="to_date" class="span3 date" id="to_date" value="<?php echo !empty($this->params['to_date']) ? $this->params['to_date'] : NULL;?>" readonly>
                                        </div> <!-- /controls -->               
                                    </div>
                                    
                                <input class="btn btn-success" type="submit" name="submit" value="Tìm">
                                <a href="/trade/destruction-list" class="btn btn-warning">Reset</a>
                                </form>
                              </div>
                            </div>
                        </div>
                        <!-- END Khung search -->
                        <table class='table'>
                            <tr>
                                <!--<th>#</th>-->
                                <th>ID</th>
                                <th>Tên hợp đồng</th>
                                <th>Loại</th>
                                <th>Ngày tạo</th>
                            </tr>
                            
                            <?php foreach($this->list as $key=>$value):?>
                            <?php $inc = $this->offset + $key + 1;?>
                            <tr>
                                <!--<td><?php echo $inc;?></td>-->
                                <td><?php echo $inc;?></td>
                                <td><a href="/trade/edit-contract?id=<?php echo $value['id'];?>"><?php echo $value['title'];?></a></td>
                                <td><?php if( $value['type']==1): echo 'Thi công';
                                            elseif($value['type']==2): echo 'Điều chuyển';
                                            elseif($value['type']==3): echo 'Sửa chữa';
                                            elseif($value['type']==4): echo 'Tiêu hủy';
                                            endif;
                                 ?></td>
                                <td><?php echo date('d/m/Y', strtotime($value['created_at']));?></td>
                            </tr>
                            <?php endforeach;?>
                        </table>


                        <div class="paging">
                            <?php echo $this->paging($this->total, $this->limit, $this->offset, $this->url);?>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript" src="/js/jquery-ui-1.8.12.custom.min.js"></script>
<link rel="stylesheet" type="text/css" href="/css/jquery-ui-1.8.12.custom.css"/>
<link rel="stylesheet" type="text/css" href="<?php echo HOST ?>css/select2.min.css">
<script type="text/javascript" src="<?php echo HOST ?>js/select2.min.js"></script>
<script type="text/javascript">
    $(document).ready(function(){
        $( '.date' ).datepicker({ dateFormat: "dd/mm/yy" });
        $('.search_shop').select2(); 
       // area_change();
        //area_init_change();
    });
    //var area_list = <?php echo json_encode($this->list_sale);?>;
    // function area_change(){
    //     $("#area_id").change(function(){
    //         var area_id = $(this).val();
            
    //         $('#staff_id').find('option').remove().end().append('<option value="">--Select--</option>').val('');
            
    //         area = area_list[area_id];
    //         for(var i=0;i< area.length;i++){
    //             $("#staff_id").append('<option value='+area[i]['staff_id']+'>'+area[i]['fullname']+'</option>');
    //         }
            
            
    //     });
    // }
    
    // function area_init_change(){
    //     var area_id = $("#area_id").val();

    //     var staff_id = <?php echo $_GET['staff_id'] ? $_GET['staff_id'] : 0;?>;
    //     $('#staff_id').find('option').remove().end().append('<option value="">--Select--</option>').val('');
        
    //     if(area_id){
    //         area = area_list[area_id];
    //         for(var i=0;i< area.length;i++){
    //             if(staff_id == area[i]['staff_id']){
    //                 $("#staff_id").append('<option value='+area[i]['staff_id']+' selected>'+area[i]['fullname']+'</option>');
    //             }
    //             else{
    //                 $("#staff_id").append('<option value='+area[i]['staff_id']+'>'+area[i]['fullname']+'</option>');
    //             }

    //         }
    //     } 
    // }
    
</script>