
<style>
  table tr td a i{font-size: 20px;display: block;margin:5px;text-align: center;}
  .block_btn{margin:10px 0px;}
  .block_posm{display: block;border:1px solid #CCC;margin-bottom: 10px;padding: 5px;height: 100px}

  .block_posm .btn_stt{display: block;float: left;width: 20px;height: 100%;text-align: center;line-height: 75px;background: #f1f1f1;margin-right: 8px;color: #20a5e6;font-size: 14px;}
  .block_posm .block_posm_content{display: block;float: left;padding-top: 12px;}
  .block_posm .block_action{display: block;float: right;}

  .block_posm .block_posm_content p{color: #908e8e;font-size: 12px;}
  .block_posm .block_posm_content .name{font-size: 16px;color: #000;line-height: 5px;}
  
  @media (max-width: 480px) {
      .block_posm .block_posm_content .name{    line-height: 15px;}
      .block_posm .block_posm_content{width: 250px;padding-top: 0px;}
  }
  
</style>

<div class="content-layout">
  <div class="page-header">
    <h1>Danh sách đặt hàng POSM</h1>
  </div><!-- page-header -->
  

  <?php
      if (isset($this->messages) and $this->messages)
          foreach ($this->messages as $message):
              echo '<div class="alert alert-success">'.$message.'</div>';
          endforeach;

      if (isset($this->messages_error) and $this->messages_error)
          foreach ($this->messages_error as $message):
              echo '<div class="alert alert-error">'.$message.'</div>';
          endforeach;
  ?>

  <div class="container-fluid">
      <div class="block_btn">
          <?php if ($this->access('trade', 'create-posm')):?>
              <a href="/trade/create-posm?type=3" class="btn btn-primary">Tạo Đợt Đặt Hàng</a>
          <?php endif;?>
      </div>
      <div class="content_tad p-0">

              <!-- Khung search -->
              <div class="accordion-group">
                  <div class="accordion-heading">
                      <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapseTwo">
                          Export
                      </a>
                  </div>
                  <div id="collapseTwo" class="accordion-body collapse" style="height: 0px;">
                      <div class="accordion-inner">

                          <form action="/trade/list-posm" method="get" enctype="multipart/form-data" autocomplete="off">

                              <div class="control-group">
                                  <label class="control-label">Khu vực</label>
                                  <div class="controls">
                                      <select class="span3" name='area_id' id='area_id'>
                                          <option value="">-- Select --</option>
                                          <?php foreach($this->list_area as $area):?>
                                              <option value="<?php echo $area['id'];?>" <?php echo $this->params["area_id"] == $area['id'] ? "selected" : NULL;?>><?php echo $area['name'];?></option>
                                          <?php endforeach;?>
                                      </select>
                                  </div> <!-- /controls -->
                              </div>

                              <div class="control-group">
                                  <label class="control-label">Đợt đặt hàng</label>
                                  <div class="controls">
                                      <select class="span3" name='campaign_id' id='area_id'>
                                          <option value="">-- Select --</option>
                                          <?php foreach($this->campaign as $value):?>
                                              <option value="<?php echo $value['id'];?>" <?php echo $this->params["campaign_id"] == $value['id'] ? "selected" : NULL;?>><?php echo $value['name'];?></option>
                                          <?php endforeach;?>
                                      </select>
                                  </div> <!-- /controls -->
                              </div>

                              <div class="control-group">
                                  <label class="control-label">Tên hạng mục</label>
                                  <div class="controls">
                                      <select class="span3 select2" name='category_id' id='area_id'>
                                          <option value="">-- Select --</option>
                                          <?php foreach($this->list_category as $category):?>
                                              <option value="<?php echo $category['id'];?>" <?php echo $this->params["category_id"] == $category['id'] ? "selected" : NULL;?>><?php echo $category['name'];?></option>
                                          <?php endforeach;?>
                                      </select>
                                  </div> <!-- /controls -->
                              </div>


                       
<!--                              <input class="btn btn-success" type="submit" name="submit" value="Tìm">-->
                              <a href="/trade/list-posm" class="btn btn-warning">Reset</a>
                              <input type="submit" name="export" class="btn btn-primary" value="Export số lượng">
                          </form>
                      </div>
                  </div>
              </div>
              <!-- END SEARCH -->
      </div>
    <section class="">

      <div class="">

      <?php 
      $userStorage = Zend_Auth::getInstance()->getStorage()->read();
      $title =  $userStorage->title;
      $group =  $userStorage->group_id;     
      ?>

      <?php foreach($this->campaign as $key=>$value):?>
      <?php $inc = ($this->offset > 0 ? $this->offset : 0) + $key + 1;?>
      <div class="block_posm">
        <div class="btn_stt"><?php echo $inc;?></div><!-- btn_stt -->

        <div class="block_posm_content">
          <p class="name"><?php echo $value['name'];?></p>
          <p>Từ ngày <?php echo date('d/m/Y', strtotime($value['from']));?> đến ngày <?php echo date('d/m/Y', strtotime($value['to']));?></p>
        </div><!-- block_posm_content -->


        <div class="block_action">
          <div class="btn-group">
              <a class="btn dropdown-toggle" data-toggle="dropdown" href="#">
                  Action
                  <span class="caret"></span>
              </a>

              <ul class="dropdown-menu">

                  <?php if($this->access('trade', 'order-campaign') AND strtotime(date('Y-m-d')) <= strtotime($value['to']) ):?>
                  <li>
                      <a href="/trade/order-campaign?campaign_id=<?php echo $value['id'];?>"><i class="icon-check"></i> Đặt hàng</a>
                  </li>
                  <?php endif;?>
                  
                  
                  <?php if($this->access('trade', 'create-posm')):?>
                  <li>
                      <a href="/trade/create-posm?type=3&campaign_id=<?php echo $value['id'];?>"><i class="icon-edit"></i> Chỉnh sửa</a>
                  </li>
                  <?php endif;?>
                  
                  <?php if($this->access('trade', 'contractor-category')):?>
                  <li>
                      <a href="/trade/contractor-category?campaign_id=<?php echo $value['id'];?>"><i class="icon-cog"></i> Đặt hàng cho NSX</a>
                  </li>
                  <?php endif;?>

                  <?php if($this->access('trade', 'limit-campaign')):?>
                  <li>
                      <a href="/trade/limit-campaign?campaign_id=<?php echo $value['id'];?>"><i class="icon-ok"></i> Đặt định mức</a>
                  </li>
                  <?php endif;?>
                  
                  <?php if($this->access('trade', 'confirm-posm')):?>
                  <li>
                      <a href="/trade/confirm-posm?campaign_id=<?php echo $value['id'];?>"><i class="icon-thumbs-up"></i> Xác nhận đơn hàng</a>
                  </li>
                  <?php endif;?>

                  <?php if($this->access('trade', 'share-contractor')):?>
                  <li>
                      <a href="/trade/share-contractor?campaign_id=<?php echo $value['id'];?>"><i class="icon-share"></i> Đặt hàng cho NSX</a>
                  </li>
                  <?php endif;?>

                  <?php if($this->access('trade', 'contractor-area')):?>
                  <li>
                      <a href="/trade/contractor-area?campaign_id=<?php echo $value['id'];?>"><i class="icon-truck"></i> Xuất số lượng xuống KV</a>
                  </li>
                  <?php endif;?>

                  <?php if($this->access('trade', 'area-in')):?>
                  <li>
                      <a href="/trade/area-in?campaign_id=<?php echo $value['id'];?>"><i class="icon-briefcase"></i> KV nhận số lượng</a>
                  </li>
                  <?php endif;?>
                  
                  <?php if($this->access('trade', 'view-posm')):?>
                  <li>
                      <a href="/trade/view-posm?campaign_id=<?php echo $value['id'];?>"><i class="icon-eye"></i> Xem đơn hàng</a>
                  </li>
                  <?php endif;?>
                                                      
              </ul>
          </div>
        </div><!-- block_action -->
      </div><!-- block_posm -->
      <?php endforeach;?>


      <div class="paging">
        <?php echo $this->paging($this->total, $this->limit, $this->offset, $this->url);?>
      </div>


    </div>


  </section>

</div><!-- container-fluid -->

</div><!-- content layout-->
<link rel="stylesheet" type="text/css" href="<?php echo HOST ?>css/select2.min.css">
<script type="text/javascript" src="<?php echo HOST ?>js/select2.min.js"></script>
<script type="text/javascript">

  $(document).ready(function() {
      $('.select2').select2();
  });

</script>
