
<style type="text/css">
    .block{padding-bottom: 10px;margin-bottom: 10px;border-bottom: 1px solid #CCC}
    .block .btn{margin:0 auto;}
    .block .status{text-align: left;text-align: left;width: 100%;min-height: 22px;}
    .block .status label{display: block;float:left}
    .block .btn_scan{text-align: center;}
    .block .btn_scan i{color:blue;}
    .table{margin-bottom: 5px}
    .create_new{
       height: 25px;
       line-height: 25px; 
       font-family: font-variant;
    }
    .type-text{

      width: 40%;
    }
    .align-input{
      text-align: center;
    }
</style>

<link rel="stylesheet" href="<?php echo HOST ?>new/css/trade_app.css">

<div class="content-layout">
<div class="">
    <h3></h3>
<div class="">
    <div class="table_main" style="margin-top: 7px;">
        
            <div class="header_tad"><i class="icon-list-alt"></i> Danh sách nhà cung cấp </div>

          <?php
                if (isset($this->messages) and $this->messages)
                    foreach ($this->messages as $message):
                        echo '<div class="alert alert-success">'.$message.'</div>';
                    endforeach;

                if (isset($this->messages_error) and $this->messages_error)
                    foreach ($this->messages_error as $message):
                        echo '<div class="alert alert-error">'.$message.'</div>';
                    endforeach;
            ?>   
            <div class="content_share">
            <a href="/trade/create-new-contractor" class="pull-right btn btn-success" style="margin-top: 0.5%; margin-bottom: 0.5%;"><i class="icon icon-plus"></i></a>
            <div class="mid_share">

            	 <!-- Khung search -->
                        <div class="accordion-group">
                            <div class="accordion-heading">
                              <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapseTwo">
                                Search
                              </a>
                            </div>
                            <div id="collapseTwo" class="accordion-body collapse" style="height: 0px;">
                              <div class="accordion-inner">

                                <form action="/trade/list-contractor-posm" method="get" enctype="multipart/form-data" autocomplete="off">

                                    <div class="control-group">                                         
                                        <label class="control-label" for="name">Tên nhà cung cấp</label>
                                        <div class="controls">
                                             <input type="text" name="name_search" class="span3" id="name" placeholder="Nhập tên nhà cung cấp" value="<?php echo !empty($this->params['name_search']) ? $this->params['name_search'] : NULL;?>"> 

                                        </div> <!-- /controls -->               
                                    </div>
                                     <div class="control-group">                                         
                                        <label class="control-label" for="name">Tài khoản</label>
                                        <div class="controls">
                                             <input type="text" name="email" class="span3" id="price" placeholder="Nhập email nhà cung cấp" value="<?php echo !empty($this->params['email']) ? $this->params['email'] : NULL;?>"> 

                                        </div> <!-- /controls -->               
                                    </div>
                                    
                                 
                                   <div class="control-group">                                         
                                        <label class="control-label" for="name">Code</label>
                                        <div class="controls">
                                           <input type="text" name="code" class="span3" id="name" placeholder="Nhập code" value="<?php echo !empty($this->params['code']) ? $this->params['code'] : NULL;?>"> 

                                        </div> <!-- /controls -->               
                                    </div>
                                    <div class="control-group">                                         
                                      <label class="control-label" for="name">Address</label>
                                      <div class="controls">
                                         <input type="text" name="address" class="span3" id="name" placeholder="Nhập địa chỉ" value="<?php echo !empty($this->params['address']) ? $this->params['address'] : NULL;?>"> 

                                      </div> <!-- /controls -->               
                                  </div>
                                   <div class="control-group">                                         
                                      <label class="control-label" for="name">Description</label>
                                      <div class="controls">
                                         <input type="text" name="description" class="span3" id="name" placeholder="Nhập tên mô tả " value="<?php echo !empty($this->params['description']) ? $this->params['description'] : NULL;?>"> 

                                      </div> <!-- /controls -->               
                                  </div>
                                <input class="btn btn-success" type="submit" name="submit" value="Tìm">
                                 <input class="btn btn-primary" type="submit" name="export" value="Export">
                                <a href="/trade/list-contractor-posm" class="btn btn-warning">Reset</a>
                                </form>
                              </div>
                            </div>
                        </div>
                        <!-- END Khung search -->

                <div class="block">
              
                    <table class="table">
                       <tr>
                        <th>STT</th>
                       	<th>NAME</th>
                       	<th>SHORT NAME</th>
                       	<th>TÀI KHOẢN</th>
                       	<th>CODE</th>
                       	<th>ADDRESS</th>
                        <th>DESCRIPTION</th>
                         <th>CATEGORY</th>
                        <th>ACTION</th>
                       </tr>
                       
                       <?php foreach ($this->list as $key => $value):?>
                       <?php $inc = $this->offset + $key + 1;?>
                       <?php $account = explode('@',$value['email']);?>
                       <tr>
                         <td><?php echo $inc;?></td>
                         <td><?php echo $value['name']?></td>
                         <td><?php echo $value['shortname']?></td>
                         <td style="color: #2e8c5f;"><?php echo $account[0]?></td>
                         <td><?php echo $value['code']?></td>
                         <td><?php echo $value['address']?></td>
                          <td><?php echo $value['desc']?></td>
                           <td><?php echo $value['cate_code']?></td>
                         <td style="width: 100px;">
                          <input type="hidden" class="category_id" value="<?php echo $value['id']?>">
                          
                           <!-- <a  href="/trade/edit-contractor-posm?id=<?php echo $value['id']?>" title="edit" style="cursor: pointer;"> <i class="icon icon-edit"></i></a> -->

                          <a href="/trade/edit-contractor-posm?id=<?php echo $value['id']?>"><i class="icon-edit"></i>  Chỉnh sửa</a> <br> <a href="/trade/contractor-price-category?contractor_id=<?php echo $value['id'];?>"><i class="icon-book"></i> Hạng mục</a>
                         </td>
                       </tr>
                     <?php endforeach;?>
                    </table>
                    <div>
                </div>
                                  
              <div class="paging" style="">
                  <?php echo $this->paging($this->total, $this->limit, $this->offset, $this->url);?>
                </div>
            </div><!-- end mid_share -->
 
        </div><!-- end content_share -->
                
    </div><!-- end table_main -->

</div>
<!-- span6-->
<!-- end trade T?NG Ð?U TU-->
</div>

</div>



<div class="modal fade bs-example-modal-sm" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel">
  <div class="modal-dialog modal-sm" role="document">
     <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">Confirm</h4>
      </div>
      <div class="modal-body">
        Are you sure ?
      </div>
      <div class="modal-footer">
        <input type="hidden" name="" id="data_modal_id" value=""> 
        <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
        <button type="button" id="ok" class="btn btn-primary">OK</button>
      </div>
    </div>
  </div>
</div>


<!-- row-->
<script type="text/javascript" src="/js/jquery-ui-1.8.12.custom.min.js"></script>
<link rel="stylesheet" type="text/css" href="/css/jquery-ui-1.8.12.custom.css"/>
<link rel="stylesheet" type="text/css" href="<?php echo HOST ?>css/select2.min.css">
<script type="text/javascript" src="<?php echo HOST ?>js/select2.min.js"></script>
<script type="text/javascript">
    $(document).ready(function(){
        $( '.date' ).datepicker({ dateFormat: "dd/mm/yy" });
        $('.search_shop').select2(); 
        area_change();
        area_init_change();
    });

    $(document).ready(function () {
        $(document).on('click', ".delete", function() {

          var id=$(this).attr('data-id');
           $('#data_modal_id').val(id);
            
        });
         $(document).on('click', "#ok", function() {
           var cate_id = $('#data_modal_id').val();
            $.ajax({
                  url: "<?php echo HOST;?>trade/del-category-posm",
                  type: "GET",
                  dataType: "text",
                  context: this,
                  data: "category_id="+cate_id,
                  beforeSend: function() {
                        $(".loading").show();                   
                    },
                  success: function(result){

                      location.reload();                
                  },
                  error:function(){
                      alert("Error Ajax");
                  }
            });

        });
    });



    var area_list = <?php echo json_encode($this->list_sale);?>;
    function area_change(){
        $("#area_id").change(function(){
            var area_id = $(this).val();
            
            $('#staff_id').find('option').remove().end().append('<option value="">--Select--</option>').val('');
            
            area = area_list[area_id];
            for(var i=0;i< area.length;i++){
                $("#staff_id").append('<option value='+area[i]['staff_id']+'>'+area[i]['fullname']+'</option>');
            }
            
            
        });
    }
    
    function area_init_change(){
        var area_id = $("#area_id").val();

        var staff_id = <?php echo $_GET['staff_id'] ? $_GET['staff_id'] : 0;?>;
        $('#staff_id').find('option').remove().end().append('<option value="">--Select--</option>').val('');
        
        if(area_id){
            area = area_list[area_id];
            for(var i=0;i< area.length;i++){
                if(staff_id == area[i]['staff_id']){
                    $("#staff_id").append('<option value='+area[i]['staff_id']+' selected>'+area[i]['fullname']+'</option>');
                }
                else{
                    $("#staff_id").append('<option value='+area[i]['staff_id']+'>'+area[i]['fullname']+'</option>');
                }

            }
        } 
    }
    
</script>