<style>
    span {
        font-size:1em;
    }
</style>
<div class="content-layout">
    <div class="row">

        <div class="span6">
            <div class="table_main" style="margin-top: 7px;">
                <div class="header_tad">
                    <i class="icon-list-alt"></i> Quản lý kho
                </div>

                <div class="content_tad">
                    <div class="content_content" style="min-height: 405px;">
                        <!-- Khung search -->
                        <div class="accordion-group">
                            <div class="accordion-heading">
                                <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2"
                                   href="#collapseTwo">
                                    Search
                                </a>
                            </div>
                            <div id="collapseTwo" class="accordion-body collapse" style="height: 0px;">
                                <div class="accordion-inner">

                                    <form action="/trade/manage-warehouse" method="get">
                                        <div class="control-group">
                                            <label class="control-label" for="name">Khu vực</label>
                                            <div class="controls">
                                                <select name="area_id" class="area">
                                                    <option value="">--Chọn khu vực--</option>
                                                    <?php foreach ($this->listArea as $area) : ?>
                                                        <option value="<?php echo $area['id']; ?>" <?php echo ($area['id'] == $this->areaId) ? 'selected' : ''; ?> >
                                                            <?php echo $area['name']; ?>
                                                        </option>
                                                    <?php endforeach; ?>
                                                </select>
                                            </div> <!-- /controls -->
                                        </div>
                                        <div class="control-group">
                                            <label class="control-label" for="name">Hạng mục</label>
                                            <div class="controls">
                                                <select name="category_id" class="category">
                                                    <option value="">--Chọn hạng mục--</option>
                                                    <?php foreach ($this->listCategory as $category) : ?>
                                                        <option value="<?php echo $category['id']; ?>" <?php echo ($category['id'] == $this->categoryId) ? 'selected' : ''; ?> >
                                                            <?php echo $category['name']; ?>
                                                        </option>
                                                    <?php endforeach; ?>
                                                </select>
                                            </div> <!-- /controls -->
                                        </div>

                                        <input class="btn btn-success" type="submit" name="submit" value="Tìm">
                                        <a href="/trade/manage-warehouse" class="btn btn-danger">Reset</a>
<!--                                        <a type="submit" class="btn btn-warning" name="export">Export</a>-->
                                        <input type="submit" class="btn btn-warning" name="export" value="Export">
                                    </form>
                                </div>
                            </div>
                        </div>
                        <!-- END SEARCH -->
                        <table class='table'>
                            <tr>
                                <th>#</th>
                                <th>Khu vực</th>
                                <th>Tên hạng mục</th>
                                <th>Số lượng</th>
                            </tr>
                            <?php $index = 1; ?>
                            <?php foreach ($this->listInventory as $item) : ?>
                                <tr>
                                    <td><?php echo $index; ?></td>
                                    <td><?php echo $item['area_name']; ?></td>
                                    <td><?php echo $item['category_name']; ?></td>
                                    <td><?php echo $item['quantity']; ?></td>
                                </tr>
                                <?php $index++; ?>
                            <?php endforeach; ?>
                        </table>
                        <div class="paging">
                            <?php echo $this->paging($this->total, $this->limit, $this->offset, $this->url); ?>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript" src="/js/jquery-ui-1.8.12.custom.min.js"></script>
<link rel="stylesheet" type="text/css" href="/css/jquery-ui-1.8.12.custom.css"/>
<link rel="stylesheet" type="text/css" href="<?php echo HOST ?>css/select2.min.css">
<script type="text/javascript" src="<?php echo HOST ?>js/select2.min.js"></script>
<script>
    $(document).ready(function () {
        $('.area').select2();
        $('.category').select2();
    });
</script>