

<div class="content-layout">
    <div class="row">

        <div class="span12">
            <div class="table_main" style="margin-top: 7px;">
                <div class="header_tad">
                    <i class="icon-list-alt"></i> DANH SÁCH ĐỀ XUẤT MỞ SHOP
                </div>

                <div class="accordion" id="accordion2" style="margin-top: 7px; margin-bottom: -5px;">
                    <div class="accordion-group">
                        <div class="accordion-heading">
                            <a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion2" href="#collapseTwo">
                                Search
                            </a>
                        </div>
                        <div id="collapseTwo" class="accordion-body collapse" style="height: 0px;">
                            <div class="accordion-inner">
                                
                                <form class="form-search form-horizontal" method="get" action="/trade/open-shop-list">
                                    <div class="row">
                                        <div class="span5 row">
                                            
                                            <div class="control-group">
                                                <label for="store_code" class="span2">Mã Shop</label>
                                                <input id="store_code" name="store_code" type="text" class="span2 search-query form-control" value="<?php if (isset($this->params['store_code']))echo $this->params['store_code']; ?>">
                                            </div>
                                            <div class="control-group">
                                                <label for="store_name" class="span2">Tên Shop</label>
                                                <input id="store_name" name="store_name" type="text" class="span2 search-query form-control" value="<?php if (isset($this->params['store_name']))echo $this->params['store_name']; ?>">
                                            </div>
                                            
                                            <div class="control-group">
                                                <label for="area_id" class="span2">Khu vực</label>
                                                <select name="area" class="search-query span2">
                                                    <option value="">--Select--</option>
                                                    <?php foreach($this->area as $key=>$value):?>
                                                    <option value="<?php echo $key;?>" <?php echo (isset($this->params['area_id']) and $this->params['area_id'] == $key) ? 'selected' : NULL;?>><?php echo $value;?></option>
                                                    <?php endforeach;?>
                                                </select>
                                            </div>
  
                                            <div class="control-group">
                                                <label for="created_from" class="span2">Từ Ngày</label>
                                                <input id="created_from" autocomplete="off" name="created_from" type="text" class="search-query span2 date" value="<?php if (isset($this->params['created_from'])) echo $this->params['created_from'];?>">
                                            </div>

                                            <div class="control-group">
                                                <label for="created_to" class="span2">Đến Ngày</label>
                                                <input id="created_to" autocomplete="off" name="created_to" type="text" class="search-query span2 date" value="<?php if (isset($this->params['created_to']))echo $this->params['created_to']; ?>">
                                            </div>

                                            
                                        </div>
                                        <div class="span5 row">

                                            <div class="control-group">
                                                <label for="reason" class="span2">Lý Do</label>
                                                <select name="reason" class="search-query span2">
                                                        <option value="">--Select--</option>
                                                    <?php foreach ( $this->reason_cache as $k => $value): ?>
                                                      <option  value ="<?php echo $k ?>" <?php if (isset($this->params['reason']) && $this->params['reason'] == $k): echo "selected";  endif;?>   ><?php echo $value; ?></option>
                                                    <?php  endforeach; ?>
                                                </select>
                                            </div>
                                            
                                            <div class="control-group">
                                                <label for="status" class="span2">Status</label>
                                                <select name="status" class="search-query span2">
                                                    <option value="">--Select--</option>
                                                    <?php foreach($this->app_status as $key=>$value):?>
                                                    <option value="<?php echo $key;?>" <?php echo (isset($this->params['status']) and $this->params['status'] == $key) ? 'selected' : NULL;?>><?php echo $value;?></option>
                                                    <?php endforeach;?>
                                                </select>
                                            </div>

                                        </div>

                                    </div>

                                    <button type="submit" class="btn btn-primary">Search</button>
<!--                                    <button type="submit" name="export" value="1" class="btn btn-success">Export</button>-->

                                </form>
                            </div>
                        </div>
                    </div>
                </div>
                
 
                <div class="content_tad">

                          <?php
                            if (isset($this->messages) and $this->messages)
                                foreach ($this->messages as $message):
                                    echo '<div class="alert alert-error">'.$message.'</div>';
                                endforeach;
                            if (isset($this->messages_success) and $this->messages_success)
                                foreach ($this->messages_success as $message):
                                    echo '<div class="alert alert-success">'.$message.'</div>';
                                endforeach;
                          ?>

                    <div class="content_content" style="min-height: 405px;">
                        
                        <table class='table'>
                            <tr>
                                <th>#</th>
                                <th>Tên shop</th>
                                <th>ID Store</th>
                                <th>Area name</th>
                                <th>Province</th>
                                <th>District</th>
                                <th>Trạng thái</th>
                                <th>Ngày ĐX</th>
                            </tr>
                            
                            <?php
                                 foreach($this->list as $key=>$value):?>
                            <?php $inc = $this->offset + $key + 1;?>
                            <tr>
                                <td><?php echo $inc;?></td>
                                <td> 
                                    <a target="_blank" href="/trade/open-shop-detail?id=<?php echo $value['id'];?>">
                                    <?php echo $value['store_name'];?></a></td>
                                <td><?php echo $value['store_id'];?></td>
                                <td><?php echo $value['area_name'];?></td>
                                <td><?php echo $value['province_name'];?></td>
                                <td><?php echo $value['district_name'];?></td>
                                <td><?php echo (!empty($value['reject']) AND $value['reject'] == 1) ? '<b style="color:red">Đề xuất bị từ chối</b>' : $this->app_status[$value['status']];?></td>
                                <td><?php echo date('Y-m-d', strtotime($value['created_at']));?></td>
                            </tr>
                            <?php endforeach;?>
                        </table>


                        <div class="paging">
                            <?php echo $this->paging($this->total, $this->limit, $this->offset, $this->url);?>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.3/js/select2.min.js"></script>
<script type="text/javascript" src="/js/jquery-ui-1.8.12.custom.min.js"></script>
<link rel="stylesheet" type="text/css" href="/css/jquery-ui-1.8.12.custom.css"/>

<script>
    $(document).ready(function()
    {
        
        $('.date').mousedown( function(){
            $(this).datepicker({ dateFormat: "yy-mm-dd" });
        });
    });
</script>