<style type="text/css">
 .btn_submit{margin:10px auto;display:block;}
 .container-fluid a{cursor:pointer;}
 .input_quantity{width:40px;display:none}
 .total_row{font-size:11px;color:red;}
 .header{display: table-row;}
</style>

<div class="content-layout">
    <div class="page-header">
        <h1>Đặt hàng <b style="color:red"><?php echo $this->campaign['name'];?></b></h1>
    </div><!-- page-header -->


    <div class="container-fluid">
        <section class="">

          <form action="/trade/order-campaign" method="POST" enctype="multipart/form-data">
          <div class="container">
    
            <!--<img src="/img/dinhmuc.png">-->
           
            <div class="table_posm">
              <table class="table_main" id="table_main">
                <thead>
                  <tr class="header">
                      <th>Khu vực</th>
                      <th>Trạng thái</th>
                      
                      <?php foreach($this->category_campaign as $key=>$value):?>
                      <th><?php echo $value['name'];?></th>
                      <?php endforeach;?>

                  </tr>
                  <tr class="header">
                      <td class="sum"></td>
                      <td></td>
                      
                      <?php foreach($this->category_campaign as $key=>$value):?>
                      <td class="total_column col_total">--</td>
                      <?php endforeach;?>

                  </tr>
              </thead>
              
              <tbody>
              <?php foreach($this->area as $key=>$value):?>
              <tr>
                  <td>
                      <?php echo $value;?><br/>
                      <b class="total_row total_price_area">0</b>
                  </td>
                  <td>
                    <label style='color:#012bff'><?php echo $this->area_status[$key]['name'];?></label>
                  </td>

                  <?php foreach($this->category_campaign as $k=>$v):?>
                  <?php $quantity_limit = !empty($this->data[$key][$v['category_id']]['quantity_limit']) ? $this->data[$key][$v['category_id']]['quantity_limit'] : 0;?>
                  <?php $quantity_order = !empty($this->data[$key][$v['category_id']]['quantity']) ? $this->data[$key][$v['category_id']]['quantity'] : 0;?>
                  <?php $price = !empty($this->data_price[$key][$v['category_id']]['price']) ? $this->data_price[$key][$v['category_id']]['price'] : 0;?>
                  <td>
                      <!--<a class="quantity_limit">(<?php echo $quantity_limit;?>)</a><br>-->
                      <a class="quantity" category='<?php echo $v['category_id'];?>'><?php echo $quantity_order;?></a><br>
                      <input type="text" value='<?php echo $quantity_order;?>' class="input_quantity" name='quantity_order[<?php echo $key;?>][<?php echo $v['category_id'];?>]' disabled='disabled'>
                      <input type="hidden" name="category_id[]" value="<?php echo $v['category_id'];?>" disabled='disabled'>
                      <input type="hidden" name="area_id[]" value="<?php echo $key;?>" disabled='disabled'>
                      <input type="hidden" name="price[]" class="price" value="<?php echo $price;?>" disabled='disabled'>

                  </td>
                  <?php endforeach;?>

              </tr>
              <?php endforeach;?>
              </tbody>
              </table>
            </div><!-- table_posm -->

            <span class="title">Upload File</span>
            <div class="upload_file">

                <div class="control-group">
                    <label class="control-label">File mẫu</label>
                    <div class="controls">
                        <button type="submit" class="btn btn-warning" name="submit" value="2">Lấy file mẫu</button>
                    </div>
                </div><!-- control-group -->

                <div class="control-group">
                    <label class="control-label">Upload file</label>
                    <div class="controls">
                        <input type="file" name="file">
                    </div>
                </div><!-- control-group -->


            </div><!-- upload_file -->
            
            <input type="hidden" name="campaign_id" value="<?php echo $this->campaign['id'];?>" <?php echo $this->min_status;?>>
            
            <?php if($this->min_status == 2):?>
                <?php if (strtotime(date('Y-m-d')) <= strtotime($this->campaign['to']) AND strtotime(date('Y-m-d')) >= strtotime($this->campaign['from'])) : ?>
                    <button type="submit" class="btn btn-success btn_submit" name="submit" value="1">Xác nhận</button>
                <?php else : ?>
                    <i>Chưa đến hoặc đã hết thời gian đặt hàng</i>
                <?php endif; ?>
            <?php endif;?>
            
            <?php if($this->storage['staff_id'] == 9837):?>
            <button type="submit" class="btn btn-success btn_submit" name="submit" value="1">EDIT</button>
            <?php endif;?>
            
        </div>
        </form>
        

        </section>

    </div><!-- container-fluid -->

</div><!-- content layout-->

<script type="text/javascript">
    $(document).ready(function() {

      sum_total();

      
      // sum by row

      function sum_total() {

        var row = 0,col = 0,ncol = 0;
        var sum;

        $("#table_main tr").each(function(rowindex) {
          sum = 0;
          col = 0;
          $(this).find("td").each(function(colindex) {

            col++;
            price = $(this).find("input.price").val();
            quantity = $(this).find("input.input_quantity").val();
            if (isNaN(price)) {
              if (col > ncol) {
                ncol = col - 1
              }
            } else {
              sum += (parseInt(quantity)*parseInt(price));
            }
          });

          $(this).find('.total_price_area').html(formatMoney(sum));

        });

        // sum by col
        for (col = 1; col < ncol + 2; col++) {
          sum = 0;
          $("#table_main tr").each(function(rowindex) {
            $(this).find("td:nth-child(" + col + ")").each(function(rowindex) {
              price = $(this).find("input.price").val();
              quantity = $(this).find("input.input_quantity").val();

              if (isNaN(price)) {
                //$(this).html(sum);
              } else {
                sum += (parseInt(quantity)*parseInt(price));
              }
            });
          });

          $(".col_total:nth-child(" + col + ")").html(formatMoney(sum));
        }
      }
      

      $('tbody').scroll(function(e) {

        $('thead').css("left", -$("tbody").scrollLeft());
        $('thead th:nth-child(1)').css("left", $("tbody").scrollLeft()); 
//        $('tbody td:nth-child(1)').css("left", $("tbody").scrollLeft());
        
        
      });

      $( ".quantity" ).click(function(e) {
          e.preventDefault(); 
          $(this).hide();
          $(this).closest('td').find('input').removeAttr('disabled');
          $(this).closest('td').find('.input_quantity').show();
          $(this).closest('td').find('.input_quantity').focus();
      });

      $(".input_quantity").focusout(function(){
          $(this).hide();

          quantity = $(this).val();
          $(this).closest('td').find('.quantity').html(quantity);
          $(this).closest('td').find('.quantity').show();

          sum_total();
      });

    });

    function formatMoney(n) {
        return n.toFixed(0).replace(/./g, function(c, i, a) {
            return i > 0 && c !== "." && (a.length - i) % 3 === 0 ? "," + c : c;
        });
    }




</script>
