<!DOCTYPE html>
<html>
<style type="text/css">
    table {
        position: relative;
        width: 1000px;
        overflow: hidden;
        border-collapse: collapse;
    }


    /*thead*/
    thead {
        position: relative;
        display: block; /*seperates the header from the body allowing it to be positioned*/
        width: 1000px;
        overflow: visible;
    }

    thead th {
        background-color: #99a;
        min-width: 100px;
        height: 32px;
        border: 1px solid #222;
        font-size: 11px
    }

    thead th:nth-child(1) {/*first cell in the header*/
        position: relative;
        background-color: #f5f5f5;
        width:100px;
    }


    /*tbody*/
    tbody {
        position: relative;
        display: block !important; /*seperates the tbody from the header*/
        width: 1000px;
        height: 400px;
        overflow: scroll;
    }

    tbody td {
        min-width: 100px;
        border: 1px solid #222;
        padding: 5px;
        width: 100px;
    }

    tbody tr td:nth-child(1) {  /*the first cell in each tr*/
        position: relative;
        display: block; /*seperates the first column from the tbody*/
        height: 40px;
        background-color: #f5f5f5;
        width:100px;
        font-size: 12px;
        line-height: 15px;
    }

    table tr th{padding: 5px;width:100px}

    .confirmLink{margin: 0px auto;display: block;padding: 2px 8px;font-size: 12px;}
    .container-fluid a{cursor: pointer;}
    .input_quantity{width:40px;display: none}
    .total_row{font-size: 11px;color:red;}



    .input_order_quantity {
        width:50px;
        display: none;
    }

    .status_name {
        color: green;
        font-weight: bold;
    }
    .input_receive_quantity {
        width:50px;
    }
    .text_receive_quantity {
        color: orangered;
    }
    .input_receive_quantity {
        display: none;
    }

    .row_money, .column_money {
        color:#0D47A1;
        font-weight:bold;
    }

    .column_quantity_order {
        color: #008b56;
        font-size:12px;
        font-weight:bold;
    }

    .column_quantity_receive {
        color: orangered;
        font-size:12px;
        font-weight:bold;
    }

    .total_money {
        color:red;
        font-weight:bold;
        font-size:12px;

    }
    #loading-image{
        position: absolute;
        width: 100%;
        height: 55%;
        z-index: 1000;
        background:  center no-repeat #fff;
        /*background: url(/photo/loading/Preloader_1.gif) center no-repeat #fff;*/
    }
</style>
<body>

    <div class="content-layout">
        <div id="loading-image"></div>

    <div class="page-header">
        <h1 style="text-align: center"> <?php echo $this->orderAirStage['name']; ?> </h1>
<!--        --><?php //if ($this->orderAirStage['to_date'] < date('Y-m-d')) : ?>
<!--            <i>Đợt đặt hàng này đã kết thúc.</i>-->
<!--        --><?php //endif; ?>
    </div><!-- page-header -->

        <div class="note">
            <strong><i>Chú thích:</i></strong>
            <span style='font-size:20px; color:#008b56'>&#9632;</span> : Số lượng đặt hàng;   &nbsp;
            <span style='font-size:20px; color:orangered'>&#9632;</span> : Số lượng nhận hàng
        </div>


        <div class="container-fluid">
        <section class="">
                <div class="">

                    <table class="table2excel table2excel_with_colors">
                        <thead>
                        <tr class="">
                            <th>Khu vực</th>
                            <th>Trạng thái</th>
                            <th>Action</th>
                            <?php foreach($this->listCategory as $category):?>
                                <th><?php echo $category['category_name'];?></th>
                            <?php endforeach;?>

                        </tr>
                        <tr class="">
                            <th >
                                <p class="total_money"></p>
                            </th>
                            <th></th>
                            <th></th>

                            <?php foreach($this->listCategory as $category):?>
                                <th >
                                    <p class="column_money column_money_<?php echo $category['order_air_detail_id']?>"
                                       order_air_detail_id="<?php echo $category['order_air_detail_id']; ?>">

                                    </p>

                                    <p class="column_quantity_order">
                                       <?php echo $this->totalDetail [$category['order_air_detail_id']] ['order_quantity'] ? $this->totalDetail [$category['order_air_detail_id']] ['order_quantity'] : 0; ?>
                                    </p>

                                    <p class="column_quantity_receive">
                                        <?php echo $this->totalDetail [$category['order_air_detail_id']] ['receive_quantity'] ? $this->totalDetail [$category['order_air_detail_id']] ['receive_quantity'] : 0; ?>
                                    </p>


                                </th>
                            <?php endforeach;?>

                        </tr>
                        </thead>

                        <tbody>
                        <?php foreach ($this->listArea as $area) :?>


                                <tr class="row_table">
                                        <td>
                                            <?php echo $area['name']; ?>
                                            <p class="row_money"></p>
                                        </td>

                                        <td class="status_name" style="color: <?php echo $this->listColor[$this->listStatus[$area['id']]['status']]; ?>" >
                                            <?php echo $this->listStatus[$area['id']]['status_name']; ?>
                                        </td>
                                        <td>
<!--                                            --><?php //if (date('Y-m-d') >= $this->orderAirStage['from_date'] && date('Y-m-d') <= $this->orderAirStage['to_date']) : ?>
                                                <?php if ($this->listStatus[$area['id']]['status'] == 2) : ?>
                                                    <?php if (in_array($this->listStatus[$area['id']]['status'], $this->appStatusTitle[$this->title])) : ?>
                                                        <form action="/trade/order-air-area-confirm" class="form" id="form_<?php echo $area['id']?>">
                                                            <input type="button" class="btn btn-primary btn_submit" value="Xác nhận">
                                                            <input type="hidden" form="form_<?php echo $area['id']?>" name="area_id" value="<?php echo $area['id']; ?>">
                                                            <input type="hidden" form="form_<?php echo $area['id']?>" name="status" value="<?php echo $this->listStatus[$area['id']]['status']; ?>">
                                                            <input type="hidden" form="form_<?php echo $area['id']?>" name="stage_id" value="<?php echo $this->stageId; ?>">
                                                        </form>
                                                      <?php endif; ?>

                                                    <?php if (in_array(1, $this->appStatusTitle[$this->title])) : ?>
                                                        <form action="/trade/order-air-area-confirm" class="form_update" id="form_<?php echo $area['id']?>">
                                                            <input type="submit" class="btn btn-warning btn_update" value="Cập nhật">
                                                            <input type="hidden" form="form_<?php echo $area['id']?>" name="area_id" value="<?php echo $area['id']; ?>">
                                                            <input type="hidden" form="form_<?php echo $area['id']?>" name="status" value="<?php echo $this->listStatus[$area['id']]['status']; ?>">
                                                            <input type="hidden" form="form_<?php echo $area['id']?>" name="stage_id" value="<?php echo $this->stageId; ?>">
                                                        </form>
                                                    <?php endif; ?>
                                                <?php else : ?>
                                                    <?php if (in_array($this->listStatus[$area['id']]['status'], $this->appStatusTitle[$this->title])) : ?>
                                                            <form action="/trade/order-air-area-confirm" class="form" id="form_<?php echo $area['id']?>">
                                                                <input type="button" class="btn btn-primary btn_submit" value="Xác nhận" status="<?php echo $this->listStatus[$area['id']]['status']; ?>">
                                                                <input type="hidden" form="form_<?php echo $area['id']?>" name="area_id" value="<?php echo $area['id']; ?>">
                                                                <input type="hidden" form="form_<?php echo $area['id']?>" name="status" value="<?php echo $this->listStatus[$area['id']]['status']; ?>">
                                                                <input type="hidden" form="form_<?php echo $area['id']?>" name="stage_id" value="<?php echo $this->stageId; ?>">
                                                            </form>
                                                    <?php endif; ?>
                                                <?php endif; ?>
<!--                                            --><?php //endif; ?>



                                        </td>
                                        <?php foreach ($this->listOrderAreaDetail[$area['id']] as $detail) : ?>
                                            <td class="quantity">
                                                <div class="order_quantity">
                                                    <a class="text_order_quantity" status="<?php echo $this->listStatus[$area['id']]['status']; ?>">
                                                        <?php echo $detail['order_quantity'] ? $detail['order_quantity'] : 0; ?>
                                                    </a>

                                                    <input form="form_<?php echo $area['id']?>"
                                                           name="order_quantity[<?php echo $detail['id']; ?>]"
                                                           class="input_order_quantity" type="number"
                                                           min="0"
                                                           order_air_detail_id="<?php echo $detail['order_air_detail_id']; ?>"
                                                           price="<?php echo $detail['price']; ?>"
                                                           value="<?php echo $detail['order_quantity']; ?>">
                                                </div>
                                                <?php if ($this->listStatus[$area['id']]['status'] >= 4) : ?>
                                                    <div class="receive_quantity">
<!--                                                        <hr>-->
                                                        <a class="text_receive_quantity" status="<?php echo $this->listStatus[$area['id']]['status']; ?>">
                                                            <?php echo $detail['receive_quantity'] ? $detail['receive_quantity'] : $detail['order_quantity']; ?>
                                                        </a>
                                                        <input form="form_<?php echo $area['id']?>"
                                                               type="number"
                                                               class="input_receive_quantity"
                                                               min="0"
                                                               order_air_detail_id="<?php echo $detail['order_air_detail_id']; ?>"
                                                               price="<?php echo $detail['price']; ?>"
                                                               value="<?php echo $detail['receive_quantity'] ? $detail['receive_quantity'] : $detail['order_quantity']; ?>"
                                                               name="receive_quantity[<?php echo $detail['id']; ?>]">
                                                    </div>
                                                <?php endif; ?>
                                                <input form="form_<?php echo $area['id']?>"
                                                       type="hidden"
                                                       value="<?php echo $detail['category_id']; ?>"
                                                       name="category_id[<?php echo $detail['id']; ?>]">
                                            </td>
                                        <?php endforeach; ?>

                                </tr>

                        <?php endforeach; ?>

                        </tbody>
                    </table>

                    <button style="margin-top:10px" class="exportToExcel btn btn-warning">Export</button>

                </div>



        </section>

    </div><!-- container-fluid -->

</div><!-- content layout-->
</body>
</html>
<script type="text/javascript" src="/js/sweetalert2.all.min.js"></script>
<script src="/js/jquery.table2excel.js"></script>

<script type="text/javascript">

    $(window).on('load', function() {
        // Animate loader off screen
        $("#loading-image").fadeOut("slow");
    });


    $(document).ready(function() {

        $('[data-toggle="tooltip"]').tooltip();
        $('tbody').scroll(function(e) { //detect a scroll event on the tbody
            /*
            Setting the thead left value to the negative valule of tbody.scrollLeft will make it track the movement
            of the tbody element. Setting an elements left value to that of the tbody.scrollLeft left makes it maintain             it's relative position at the left of the table.
            */
            $('thead').css("left", -$("tbody").scrollLeft()); //fix the thead relative to the body scrolling
            $('thead th:nth-child(1)').css("left", $("tbody").scrollLeft()); //fix the first cell of the header
            $('tbody td:nth-child(1)').css("left", $("tbody").scrollLeft()); //fix the first column of tdbody
        });


        //////////
        calculateMoney();

        $('.btn_submit').click(function () {
            var form = $(this).parents('.form');
            var status = $(this).attr('status');
            var title;

            if (status == 4) {
                title = 'Bạn có muốn xác nhận số lượng đã nhận được ?';
            } else {
                title = 'Bạn có muốn xác nhận ?';
            }
            Swal.fire({
                title: title,
                type: 'question',
                showCancelButton: true,
                confirmButtonColor: '#3085d6',
                cancelButtonColor: '#d33',
                confirmButtonText: 'Có',
                cancelButtonText: 'Không'
            }).then((result) => {
                if (result.value) {
                    if (status == 4) {
                        Swal.fire({
                            title: 'Sau khi xác nhận số lượng sẽ được cập nhật lên hệ thống kho và không thể hoàn tác ! Bạn vẫn muốn xác nhận ?',
                            type: 'warning',
                            showCancelButton: true,
                            confirmButtonColor: '#3085d6',
                            cancelButtonColor: '#d33',
                            confirmButtonText: 'Có',
                            cancelButtonText: 'Không'
                        }).then((result) => {
                            if (result.value) {
                                Swal.fire({
                                    title: 'Đang lưu dữ liệu...',
                                    onBeforeOpen: () => {
                                        Swal.showLoading()
                                    }
                                });

                                form.submit();
                                // Swal.close();

                            }
                        })
                    } else {
                        Swal.fire({
                            title: 'Đang lưu dữ liệu...',
                            onBeforeOpen: () => {
                                Swal.showLoading()
                            }
                        });

                        form.submit();
                        // Swal.close();
                    }
                }
            })
        })

        $('.form').submit(function (e) {
            var rowParent = $(this).parents('.row_table');
            var submit = $(this);
           e.preventDefault();
            $.ajax({
                url: '/trade/order-air-area-confirm',
                type: 'post',
                data: new FormData(this),
                dataType: 'json',
                success: function (data) {
                    if (data.status === 0) {
                        rowParent.find('.status_name').text(data.status_name);
                        submit.hide();
                        Swal.fire({
                            type: 'success',
                            title: '',
                            showConfirmButton: false,
                            timer: 700
                        })
                    } else {
                        Swal.fire({
                            type: 'warning',
                            title: data.message,
                            showConfirmButton: false,
                            timer: 5000
                        })
                    }
                },
                contentType: false,
                cache: false,
                processData: false
            });
        });


        $('.form_update').submit(function (e) {
            var rowParent = $(this).parents('.row_table');
            // var submit = $(this);
           e.preventDefault();
            $.ajax({
                url: '/trade/order-air-area-update',
                type: 'post',
                data: new FormData(this),
                dataType: 'json',
                success: function (data) {
                    if (data.status === 0) {
                        // rowParent.find('.status_name').text(data.status_name);
                        // submit.hide();
                        Swal.fire({
                            type: 'success',
                            title: 'Thành công',
                            showConfirmButton: false,
                            timer: 1000
                        })
                    } else {
                        alert(data.message);
                    }
                },
                contentType: false,
                cache: false,
                processData: false
            });
        });

        $('.text_order_quantity').click(function (e) {
            var status = Number($(this).attr('status'));
            var text = $(this);
            var input = $(this).parents('.quantity').find('.input_order_quantity');

            if ([3,4,5].indexOf(status) >= 0) {
                return false;
            }

            text.hide();
            input.show();
            input.focus();
            input.select();

        });

        $('.input_order_quantity').blur(function () {
            var input = $(this);
            var quantity = input.val() ? input.val() : 0;
            var text = $(this).parents('.quantity').find('.text_order_quantity');

            input.hide();
            text.text(quantity);
            text.show();
            calculateMoney();

        });

        $('.input_order_quantity').keypress(function (e) {
            if(e.which == 13)
            {
                $(this).blur();
                e.preventDefault();
            }
        });


        $('.text_receive_quantity').click(function (e) {
            var status = Number($(this).attr('status'));
            var text = $(this);
            var input = $(this).parents('.quantity').find('.input_receive_quantity');


            if ([5].indexOf(status) >= 0) {
                return false;
            }
            text.hide();
            input.show();
            input.focus();
            input.select();

        });

        $('.input_receive_quantity').blur(function () {
            var input = $(this);
            var quantity = input.val();
            var text = $(this).parents('.quantity').find('.text_receive_quantity');

            input.hide();
            text.text(quantity);
            text.show();
        });

        $('.input_receive_quantity').keypress(function (e) {
            if(e.which == 13)
            {
                $(this).blur();
                e.preventDefault();
            }
        });


        function calculateMoney() {
            var sumColumnMoney = {};
            var totalMoney = 0;
            $('.row_table').each(function () {
                var sumRowMoneyArea = 0;
                var moneyAreaClass = $(this).find('.row_money');
                $(this).find('.input_order_quantity').each(function () {
                    var order_air_detail_id = $(this).attr('order_air_detail_id');
                    var price = $(this).attr('price');
                    var quantity = Number($(this).val());
                    var money = price * quantity;

                    sumColumnMoney [order_air_detail_id] = sumColumnMoney [order_air_detail_id] ? sumColumnMoney [order_air_detail_id] :0 ;
                    sumColumnMoney [order_air_detail_id] += money;
                    sumRowMoneyArea += money;
               });
                moneyAreaClass.text(currencyFormat(sumRowMoneyArea));
            });

            $('.column_money').each(function () {
                var order_air_detail_id = $(this).attr('order_air_detail_id');
                var money = sumColumnMoney[order_air_detail_id];
                totalMoney += money;
                $(this).text(currencyFormat(money));
            });

            $('.total_money').text(currencyFormat(totalMoney));

        }

        function currencyFormat(num) {
            return (
                num
                    .toFixed(0) // always two decimal digits
                    .replace(',', '.') // replace decimal point character with ,
                    .replace(/(\d)(?=(\d{3})+(?!\d))/g, '$1,')
            ) // use . as a separator
        }


        // export data
        $(function() {
            $(".exportToExcel").click(function(e){
                // $('input').remove();
                var table = $(this).prev('.table2excel');
                if(table && table.length){
                    var preserveColors = (table.hasClass('table2excel_with_colors') ? true : false);
                    $(table).table2excel({
                        exclude: ".noExl",
                        name: "Excel Document Name",
                        filename: "Đặt hàng",
                        fileext: ".xlsx",
                        exclude_img: true,
                        exclude_links: true,
                        exclude_inputs: false,
                        preserveColors: preserveColors
                    });

                    location.reload();

                }
            });

        });

    });


</script>
