<head>
    <!--<script src="<?php echo HOST; ?>form-builder/assets/js/sweetalert.min.js"></script>-->
</head>
<style>
    @media screen and (max-width: 480px) {
        .pagination a {
            padding: 0 8px;
        }
    }
</style>
<div class="content-layout">
    <div class="row">

        <div class="col-12 col-md-8 p-0" >
            <div class="table_main" style="margin-top: 7px;">
                <div class="header_tad">
                    <i class="icon-list-alt"></i> DANH SÁCH ĐỀ XUẤT ĐÓNG SHOP
                </div>

                <div class="accordion" id="accordion2" style="margin-top: 7px; margin-bottom: -5px;">
                    <div class="accordion-group">
                        <div class="accordion-heading">
                            <a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion2"
                               href="#collapseTwo">
                                Search
                            </a>
                        </div>
                        <div id="collapseTwo" class="accordion-body collapse" style="height: 0px;">
                            <div class="accordion-inner">

                                <form class="form-search form-horizontal" method="get" action="/trade/remove-shop-list">
                                    <div class="row">
                                        <div class="span5 row">

                                            <div class="control-group">
                                                <label for="store_code" class="span2">Mã Shop</label>
                                                <input id="store_code" name="store_code" type="text"
                                                       class="span2 search-query form-control"
                                                       value="<?php if (isset($this->params['store_code'])) echo $this->params['store_code']; ?>">
                                            </div>
                                            <div class="control-group">
                                                <label for="store_name" class="span2">Tên Shop</label>
                                                <input id="store_name" name="store_name" type="text"
                                                       class="span2 search-query form-control"
                                                       value="<?php if (isset($this->params['store_name'])) echo $this->params['store_name']; ?>">
                                            </div>

                                            <div class="control-group">
                                                <label for="area_id" class="span2">Khu vực</label>
                                                <select name="area" class="search-query span2">
                                                    <option value="">--Select--</option>
                                                    <?php foreach ($this->area as $key => $value): ?>
                                                        <option value="<?php echo $key; ?>" <?php echo (isset($this->params['area_id']) and $this->params['area_id'] == $key) ? 'selected' : NULL; ?>><?php echo $value; ?></option>
                                                    <?php endforeach; ?>
                                                </select>
                                            </div>

                                            <div class="control-group">
                                                <label for="created_from" class="span2">Từ Ngày</label>
                                                <input id="created_from" autocomplete="off" name="created_from"
                                                       type="text" class="search-query span2 date"
                                                       value="<?php if (isset($this->params['created_from'])) echo $this->params['created_from']; ?>">
                                            </div>

                                            <div class="control-group">
                                                <label for="created_to" class="span2">Đến Ngày</label>
                                                <input id="created_to" autocomplete="off" name="created_to" type="text"
                                                       class="search-query span2 date"
                                                       value="<?php if (isset($this->params['created_to'])) echo $this->params['created_to']; ?>">
                                            </div>


                                        </div>
                                        <div class="span5 row">

                                            <div class="control-group">
                                                <label for="reason" class="span2">Lý Do</label>
                                                <select name="reason" class="search-query span2">
                                                    <option value="">--Select--</option>
                                                    <?php foreach ($this->reason_cache as $k => $value): ?>
                                                        <option value="<?php echo $k ?>" <?php if (isset($this->params['reason']) && $this->params['reason'] == $k): echo "selected"; endif; ?> ><?php echo $value; ?></option>
                                                    <?php endforeach; ?>
                                                </select>
                                            </div>

                                            <div class="control-group">
                                                <label for="status" class="span2">Status</label>
                                                <select name="status_id" class="search-query span2">
                                                    <option value="">--Select--</option>
                                                    <?php foreach ($this->app_status as $key => $value): ?>
                                                        <option value="<?php echo $key; ?>" <?php echo (isset($this->params['status_id']) and $this->params['status_id'] == $key) ? 'selected' : NULL; ?>><?php echo $value; ?></option>
                                                    <?php endforeach; ?>
                                                </select>
                                            </div>

                                        </div>

                                    </div>

                                    <button type="submit" class="btn btn-primary">Search</button>
                                    <button type="submit" name="export" value="1" class="btn btn-danger">Export</button>

                                </form>
                            </div>
                        </div>
                    </div>
                </div>


                <div class="content_tad">

                    <?php
                    if (isset($this->messages) and $this->messages)
                        foreach ($this->messages as $message):
                            echo '<div class="alert alert-error">' . $message . '</div>';
                        endforeach;
                    if (isset($this->messages_success) and $this->messages_success)
                        foreach ($this->messages_success as $message):
                            echo '<div class="alert alert-success">' . $message . '</div>';
                        endforeach;
                    ?>

                    <div class="content_content" style="min-height: 405px;">

                        <table class='table'>
                            <tr>
                                <th>#</th>
                                <th>Tên shop</th>
                                <th>ID Store</th>
                                <th>Area name</th>
                                <th>Province</th>
                                <th>District</th>
                                <th>Trạng thái</th>
                                <th>Ngày ĐX</th>
                            </tr>

                            <?php
                            foreach ($this->list as $key => $value):?>
                                <?php $inc = $this->offset + $key + 1; ?>
                                <tr>
                                    <td><?php echo $inc; ?></td>
                                    <td>
                                        <a href="/trade/remove-shop-detail?id=<?php echo $value['id']; ?>">
                                            <?php echo $value['store_name']; ?></a></td>
                                    <td><?php echo $value['store_id']; ?></td>
                                    <td><?php echo $value['area_name']; ?></td>
                                    <td><?php echo $value['province_name']; ?></td>
                                    <td><?php echo $value['district_name']; ?></td>
                                    <td><?php echo (!empty($value['reject']) AND $value['reject'] == 1) ? "<b style='color:red'>Đề xuất bị từ chối</b><br><span>" . $value['reject_note'] . "</span>" : $this->app_status[$value['status']]; ?></td>
                                    <td><?php echo date('Y-m-d', strtotime($value['created_at'])); ?></td>
                                </tr>
                            <?php endforeach; ?>
                        </table>
                        <br>

                        <?php if (in_array($this->status, $this->app_status_title) AND $this->status == 4): ?>
                            <form id="approve_all">
                                <input type="hidden" name="list_remove_shop" value="<?php $this->removeShopList; ?>">
                                <!--                                <button type="submit" class="btn btn-primary pull-right" id="btn_approve_all">Duyệt tất cả</button>-->

                                <button type="button" class="btn btn-primary pull-right" data-toggle="modal"
                                        data-target="#modal_approve_all">Duyệt tất cả
                                </button>
                            </form>
                        <?php endif; ?>

                        <div class="paging">
                            <?php echo $this->paging($this->total, $this->limit, $this->offset, $this->url); ?>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Modal approve all for sales assistant-->
<div id="modal_approve_all" class="modal" role="dialog" style="width:40%; display:none">
    <div class="modal-dialog modal-sm">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-body">
                <p>Bạn có muốn duyệt tất cả ?</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger" data-dismiss="modal" id="btn_approve_all">Có</button>
                <button type="button" class="btn btn-default" data-dismiss="modal">Không</button>
            </div>
        </div>

    </div>
</div>

<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.3/js/select2.min.js"></script>
<script type="text/javascript" src="/js/jquery-ui-1.8.12.custom.min.js"></script>
<link rel="stylesheet" type="text/css" href="/css/jquery-ui-1.8.12.custom.css"/>

<script type="text/javascript" src="/js/sweetalert2.all.min.js"></script>

<script>
    $(document).ready(function () {

        $('.date').mousedown(function () {
            $(this).datepicker({dateFormat: "yy-mm-dd"});
        });

        // Duyệt tất cả cho sale assistant
        $("#btn_approve_all").click(function () {
            $("#approve_all").submit();
        });

        $("#approve_all").submit(function (e) {
                e.preventDefault();
                var listRemoveShopAproveAll = '<?php echo($this->listRemoveShopAproveAll); ?>';

                $.ajax({
                    url: '/trade/remove-shop-confirm',
                    type: 'post',
                    data: {
                        list_remove_shop_approve_all: listRemoveShopAproveAll
                    },
                    dataType: 'json',
                    success: function (data) {
                        if (data.status === 0) {
                            
                            Swal.fire({
                                position: 'center',
                                icon: 'success',
                                title: "Duyệt tất cả thành công",
                                showConfirmButton: true,
                                }).then((result) => {
                                if (result.value) {
                                    location.reload();
                                }
                            })
                            
                        } else {
                            
                            Swal.fire(data.message);
                        }
                    }
                });
            })

    });
</script>