
<link rel="stylesheet" href="<?php echo HOST ?>new/css/trade_app.css">

<div class="content-layout">

<div class="">
    <h3><?php echo $this->campaign_category[0]['contractor_name'];?></h3>
<div class="">
    <div class="table_main" style="margin-top: 7px;">
        <div class="content_share">
            <div class="top_share">
                <h3>CHIA SỐ LƯỢNG ĐIỀU CHUYỂN</h3>
            </div><!-- end top_share -->

            <?php
                if (isset($this->messages) and $this->messages)
                    foreach ($this->messages as $message):
                        echo '<div class="alert alert-success">'.$message.'</div>';
                    endforeach;

                if (isset($this->messages_error) and $this->messages_error)
                    foreach ($this->messages_error as $message):
                        echo '<div class="alert alert-error">'.$message.'</div>';
                    endforeach;
            ?>

        
            <form action="<?php echo HOST;?>trade/save-share-quantity" method="GET">
            <div class="mid_share">
                <div class="search">
        
                    <select name="category_id" class="category" required>
                        <option value="">-- Chọn hạng mục --</option>
                        <?php foreach($this->category as $key=>$value):?>
                        <option value="<?php echo $value['id'];?>"><?php echo $value['name'];?></option>    
                        <?php endforeach;?>
                    </select>

                    <select name="contractor_id" id="contractor" required>
                        <option value="">-- Chọn nhà sản xuất --</option>
                        <?php foreach($this->contractor as $key=>$value):?>
                        <option></option>
                        <?php endforeach;?>
                    </select>

                    <input type="text" name="stock" class="trade_stock" id='quantity_stock' value="0" disabled style="width: 50px" >
                    
                </div><!-- end search-->
                

                <div class="mid_share">
                    <table class="table"  id="area_quantity">
                        <tr>
                            <th>Khu vực</th>
                            <th>Số lượng đặt hàng</th>
                            <th>Số lượng đã nhận</th>
                            <th>Số lượng còn thiếu</th>
                            <th>Điền số lượng</th>
                        </tr>
                    </table>
                    
                    <input type="hidden" class="campaign_id" name='campaign_id' value="<?php echo $this->params['campaign_id'];?>">

                    <input type="hidden" name="campaign_id" value="<?php echo $this->params['campaign_id'];?>">
                    <input type="hidden" name="contractor_quantity_id" id='contractor_quantity_id'>

                    <input type="submit" name="submit" class="btn btn-success pull-right" value="Xác nhận">
                </div><!-- end content_share -->
                


                <div class="tranporter_area">
                    <table class="table">
                        <tr>
                            <th>#</th>
                            <th>Nhà cung cấp</th>
                            <th>Khu vực</th>
                            <th>Hạng mục</th>
                            <th>Số lượng vận chuyển</th>
                            <th>SL Xuất kho</th>
                            <th>SL Đã nhận</th>
                            <th>Nhà vận chuyển</th>
                            <th>Giá</th>
                            <th>Upload file</th>
                            <th>Trạng thái</th>
                        </tr>
                        <?php foreach ($this->contractor_out as $key => $value):?>
                        <tr>
                            <td>1</td>
                            <td><?php echo $value['short_name'];?></td>
                            <td><?php echo $value['area_name'];?></td>
                            <td><?php echo $value['category_name'];?></td>
                            <td><?php echo $value['quantity'];?></td>
                            <td><?php echo $value['quantity_out'];?></td>
                            <td><?php echo $value['quantity_in'];?></td>
                            <td><?php echo $value['transporter_name'];?></td>
                            <td><?php echo number_format($value['transporter_price']);?> VNĐ</td>
                            <td><input type="file" class="file" /></td>
                            <td><label class="lable label">Chờ KV nhận</label></td>
                        </tr>
                        <?php endforeach;?>
                        

                        
                    </table>
                </div>
                


            </div><!-- end mid_share -->
            </form>

        </div><!-- end content_share -->

    </div><!-- end table_main -->
</div>
<!-- span6-->
<!-- end trade T?NG Ð?U TU-->
</div>

</div>
<!-- row-->


<?php echo $this->render('trade/partials/share-quantity-script.phtml'); ?>