
<style type="text/css">
    #shipment_detail {
      counter-reset: rowNumber;
    }

    #shipment_detail tr:not(:first-child) {
        counter-increment: rowNumber;
    }
    #shipment_detail tr td:first-child::before {
      content: counter(rowNumber);
      min-width: 1em;
      margin-right: 0.5em;
    }
</style>

<link rel="stylesheet" href="<?php echo HOST ?>new/css/trade_app.css">

<div class="content-layout">

<div class="">
    <h3><?php echo $this->campaign_category[0]['contractor_name'];?></h3>
<div class="">
    <div class="table_main" style="margin-top: 7px;">
        <div class="content_share">
            <div class="top_share">
                <h3>CHI TIẾT PHIẾU XUẤT KHO</h3>
            </div><!-- end top_share -->

            <?php
                if (isset($this->messages) and $this->messages)
                    foreach ($this->messages as $message):
                        echo '<div class="alert alert-success">'.$message.'</div>';
                    endforeach;

                if (isset($this->messages_error) and $this->messages_error)
                    foreach ($this->messages_error as $message):
                        echo '<div class="alert alert-error">'.$message.'</div>';
                    endforeach;
            ?>

            <div class="mid_share">

                <div class="search">
                    <div class="row_search top_shipment">
                        <h2>PHIẾU XUẤT KHO</h2>
                        <label>Ngày <?php echo date('d', strtotime($this->shipment->created_at));?> Tháng <?php echo date('m', strtotime($this->shipment->created_at));?> năm <?php echo date('Y', strtotime($this->shipment->created_at));?></label>
                        <label>Số: <?php echo $this->shipment->no;?></label>
                    </div>

                    <div class="block_share">
                        <label>Nhà vận chuyển: </label>
                        <input type="text" disabled value='<?php echo $this->transporter[$this->shipment_details[0]['transporter_id']];?>'>
                    </div>

                    <div class="block_share mb-4">
                        <label>Ghi chú: </label><input type="text" name="note" disabled value="<?php echo $this->shipment->note;?>">
                    </div>

                    <div class="tranporter_area">
                        <table class="table" id="shipment_detail">
                            <tr>

                                <th>Khu vực</th>
                                
                                <th>Hạng mục</th>
                                <th>Số lượng vận chuyển</th>

                                <?php if($this->group != CONTRACTOR_GROUP_ID):?>
                                <th>Giá</th>
                                <?php endif;?>

                                <th>Nhà cung cấp</th>
                                <?php if($this->group == CONTRACTOR_GROUP_ID):?>
                                <th></th>
                                <?php endif;?>

                            </tr>
                            
                            <?php foreach($this->shipment_details as $key=>$value):?>
                            <tr>

                                <td><?php echo $this->area[$value['area_id']];?></td>
                                <td><?php echo $value['category_name'];?></td>
                                <td><?php echo $value['quantity'];?></td>
                                <?php if($this->group != CONTRACTOR_GROUP_ID):?>
                                <td><?php echo number_format($value['price']);?> VNĐ</td>
                                <?php endif;?>
                                <td><?php echo $value['contractor_name'];?></td>
                                <?php if($this->group == CONTRACTOR_GROUP_ID):?>
                                <td>

                                <?php if($value['imei_out'] < $value['quantity']):?>

                                <button class="scan_open button btn btn-success" data-toggle="modal" data-target="#myModal"
                                        data-category-id="<?php echo $value['category_id'];?>"
                                        data-contractor-id="<?php echo $value['contractor_id'];?>"
                                        data-shipment-details-id="<?php echo $value['shipment_details_id'];?>"
                                        data-campaign-id="<?php echo $value['campaign_id'];?>"
                                        data-name-cat="<?php echo $value['category_name'];?>"
                                        >Scan Out</button>

                                <?php endif;?>

                                 OUT: <?php echo $value['imei_out'];?>
                                
                                </td>


                                <?php endif;?>
                            </tr>
                            <?php endforeach;?>
                            
                        </table>
                        
                        <a href="<?php echo HOST;?>trade/shipment" class="btn btn-primary pull-right">Back</a>

                    </div><!-- end tranporter_area -->
                    
                </div><!-- end search-->


            </div><!-- end mid_share -->

        </div><!-- end content_share -->

    </div><!-- end table_main -->
</div>
<!-- span6-->
<!-- end trade T?NG Ð?U TU-->
</div>

</div>
<!-- row-->









<!-- Modal -->
<div id="myModal" class="modal fade add_new_items" role="dialog" style="display: none">
  <div class="modal-dialog">

    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-body">

        <div class="content_tad table_shop_dat">
            <!-- SCAN QR CODE -->
            <div id="app">
              <div class="sidebar">

                <section class="scans">
                  <h2>Scans</h2>
                  <ul v-if="scans.length === 0">
                    <li class="empty">No scans yet</li>
                  </ul>
                  <transition-group name="scans" tag="ul" class='list_scans'>
                    <li v-for="scan in scans" :key="scan.date" :title="scan.content">
                        {{ scan.imei }}
                    </li>
                    
                  </transition-group>
                </section>
              </div>
              <div class="preview-container">
                <video id="preview"></video>
              </div>

            </div>
            <input type="hidden" name="out_id" class="out_id" value="<?php echo $this->contractor_out[0]['id'];?>">
            <input type="hidden" name="list_imei" class="list_imei"/>
            
            <div class="scan_wrap">
                <a class="scan_qrcode">Scan</a>    
                <a data-dismiss="modal" class="close_btn">&times;</a>
            </div>

            <!-- END SCAN QR CODE-->
        </div>





      </div><!-- modal-body -->
      
    </div>

  </div>
</div>

<script type="text/javascript" src="<?php echo HOST;?>js/qrcode/adapter.min.js"></script>
<script type="text/javascript" src="<?php echo HOST;?>js/qrcode/vue.min.js"></script>
<script type="text/javascript" src="<?php echo HOST;?>js/qrcode/instascan.min.js"></script>
 



<script type="text/javascript">

  var app = new Vue({
      el: '#app',
      data: {
        scanner: null,
        activeCameraId: null,
        cameras: [],
        scans: []
      },
      mounted: function () {
        var self = this;
        self.scanner = new Instascan.Scanner({ video: document.getElementById('preview'), scanPeriod: 5 });
        self.scanner.addListener('scan', function (content, image) {
          self.scans.unshift({ 
        date: +(Date.now()), 
        content: content,
        imei: content.replace('http://trade-marketing.opposhop.vn/tool/scan-imei?imei_sn=', ''),
      });
        });

        Instascan.Camera.getCameras().then(function (cameras) {
          self.cameras = cameras;
          if (cameras.length > 0) {
            self.activeCameraId = cameras[1].id;
            self.scanner.start(cameras[1]);
          } else {
            alert('No cameras found.');
          }
        }).catch(function (e) {
          //alert(e);
        });

      },
      methods: {
        formatName: function (name) {
          return name || '(unknown)';
        },
        selectCamera: function (camera) {
          this.activeCameraId = camera.id;
          this.scanner.start(camera);
        }
      }
    });



    $(document).ready(function () {

      $( ".scan_open" ).click(function() {
          var category_id     = $(this).attr('data-category-id');
          var contractor_id   = $(this).attr('data-contractor-id');
          var shipment_details_id     = $(this).attr('data-shipment-details-id');
          var campaign_id     = $(this).attr('data-campaign-id');

          $('.scan_qrcode').attr('category_id', category_id);
          $('.scan_qrcode').attr('contractor_id', contractor_id);
          $('.scan_qrcode').attr('shipment_details_id', shipment_details_id);
          $('.scan_qrcode').attr('campaign_id', campaign_id);

      });

      $( ".scan_qrcode" ).click(function() {

          $(this).hide();

          var category_id     = $('.scan_qrcode').attr('category_id');
          var contractor_id   = $('.scan_qrcode').attr('contractor_id');
          var shipment_details_id     = $('.scan_qrcode').attr('shipment_details_id');
          var campaign_id     = $('.scan_qrcode').attr('campaign_id');

          var list_imei = '';

          html = '';
          quantity_imei = parseInt($('.quantity_imei').text());

          $( ".list_scans li" ).each(function( index ) {
              imei = $(this).text().replace(/\s/g, '');

              list_imei = list_imei+imei+',';
              html = html+'<span>'+imei+'</span><br>';

              quantity_imei = quantity_imei+1;
          });

          $.ajax({
                url: "<?php echo HOST;?>trade/contractor-scan-out",
                type: "GET",
                dataType: "text",
                context: this,
                data: "category_id="+category_id+"&contractor_id="+contractor_id+"&shipment_details_id="+shipment_details_id+"&campaign_id="+campaign_id+"&list_imei="+list_imei,
                beforeSend: function() {
                      $(".loading").show();                   
                  },
                success: function(result){

                      if(result == 'success')
                      {
                          $('.imei_scan_list').append(html);
                          $('.quantity_imei').html(quantity_imei);
                          alert('Thành công');
                          location.reload();
                      }
                      else
                      {   
                          $('.list_scans li').html('');
                          alert(result);
                      }
                                                
                },
                error:function(){
                    alert("Error Ajax");
                }
          });

          $(this).show();

      });

        /*
        $('input[type="submit"]').click(function() {

            var list_imei = [];

            list_imei.push('TTN1123825193573');
            list_imei.push('TTN1123825193574');

            $( ".list_scans li" ).each(function( index ) {
                imei = $(this).text().replace(/\s/g, '');

                list_imei = {imei:imei};

            });

            list_imei = JSON.stringify(list_imei);
            $('.list_imei').val(list_imei);
        
        });
        */

    });

</script>

<style type="text/css">
      body, html {
  padding: 0;
  margin: 0;
  font-family: 'tahoma';
  height: 100%;
}
#app {background: #263238;height: 100%;margin-top: 10px;}
.sidebar {
  background: #eceff1;
  width: 100%;
  display: block;
  float: left;
}
.sidebar h2 {
  font-weight: normal;
  font-size: 1.0rem;
  background: #607d8b;
  color: #fff;
  padding: 10px;
  margin: 0;
}
.sidebar ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}
.sidebar li {
  line-height: 175%;
  white-space: nowrap;
  overflow: hidden;
  text-wrap: none;
  text-overflow: ellipsis;
}
.cameras ul {
  padding: 15px 20px;
}
.cameras .active {
  font-weight: bold;
  color: #009900;
}
.cameras a {
  color: #555;
  text-decoration: none;
  cursor: pointer;
}
.cameras a:hover {
  text-decoration: underline;
}
.scans li {
  padding: 10px 20px;
  border-bottom: 1px solid #ccc;
}
.scans-enter-active {
  transition: background 3s;
}
.scans-enter {
  background: yellow;
}
.empty {
  font-style: italic;
}
.preview-container {
  flex-direction: column;
  align-items: center;
  justify-content: center;
  display: flex;
  width: 100%;
  overflow: hidden;
}

#preview{transform: scaleX(1) !important; width: 100%;height: 400px;}

.scan_wrap{border: 1px solid #CCC;padding: 10px 0px;position: relative;text-align: center;}
.scan_wrap .scan_qrcode{font-size: 17px;text-transform: uppercase;padding: 5px 21px;background: #607d8b;color: #FFF;}
.scan_wrap .close_btn{position: absolute;right: 0px;font-size: 37px;margin-right: 10px;}

</style>
