
<link rel="stylesheet" href="<?php echo HOST ?>new/css/trade_app.css">

<div class="content-layout">

<div class="">
    <h3><?php echo $this->campaign_category[0]['contractor_name'];?></h3>
<div class="">
    <div class="table_main" style="margin-top: 7px;">
        <div class="content_share">
            <div class="top_share">
                <h3>DANH SÁCH PHIẾU XUẤT KHO</h3>
            </div><!-- end top_share -->

            <?php
                if (isset($this->messages) and $this->messages)
                    foreach ($this->messages as $message):
                        echo '<div class="alert alert-success">'.$message.'</div>';
                    endforeach;

                if (isset($this->messages_error) and $this->messages_error)
                    foreach ($this->messages_error as $message):
                        echo '<div class="alert alert-error">'.$message.'</div>';
                    endforeach;
            ?>

        
            <form action="<?php echo HOST;?>trade/save-share-quantity" method="GET">
            <div class="mid_share">
                <div class="search">
                    <div class="row_search">

                        <div class="row_search">
                            <div class="block_share">
                                <label>Đợt đặt hàng</label>
                                <select name="campaign_id" class="campaign_id" required>
                                    <option value="">-- Chọn đợt đặt hàng --</option>
                                    <?php foreach($this->campaign as $key=>$value):?>
                                    <option value="<?php echo $value['id'];?>"><?php echo $value['name'];?></option>    
                                    <?php endforeach;?>
                                </select>
                            </div>
                            
                            <div class="block_share">
                                <label>Nhà vận chuyển</label>
                                <select name="transporter_id" class="category" id='category' required>
                                    <option value="">-- Chọn nhà vận chuyển --</option>
                                    <option value="">Nhà vận chuyển 1</option>
                                    <option value="">Nhà vận chuyển 2</option>
                                    <option value="">Nhà vận chuyển 3</option>
                                </select>
                            </div>

                            <div class="block_share">
                                <label>Nhà cung cấp</label>
                                <select name="contractor_id" id="contractor" required>
                                    <option value="">-- Chọn nhà cung cấp --</option>
                                    <?php foreach($this->contractor as $key=>$value):?>
                                    <option></option>
                                    <?php endforeach;?>
                                </select>
                            </div>

                        </div><!-- row_search -->

                        <div class="row_search">
                            <div class="block_share">
                                <label>Khu vực</label>
                                <select name="area_id" id="contractor" required>
                                    <option value="">-- Chọn khu vực --</option>
                                    <?php foreach($this->contractor as $key=>$value):?>
                                    <option></option>
                                    <?php endforeach;?>
                                </select>
                            </div>

                            <div class="block_share">
                                <label>Hạng mục</label>
                                <select name="category_id" id="contractor" required>
                                    <option value="">-- Chọn hạng mục --</option>
                                    <?php foreach($this->contractor as $key=>$value):?>
                                    <option></option>
                                    <?php endforeach;?>
                                </select>
                            </div>
                        </div><!-- row_search -->

                    </div>

                    <input type="submit" name="submit" class="btn btn-primary pull-right" value="Tìm kiếm">
                    <?php if($this->access('trade', 'create-shipment')):?>
                    <a href="<?php echo HOST;?>trade/create-shipment" class="btn btn-warning pull-right" style="margin-right: 5px">Tạo mới</a>
                    <?php endif;?>
                </div><!-- end search-->
                

                <div class="search">
                    <div class="tranporter_area">
                        <table class="table">
                            <tr>
                                <th>#</th>
                                <th>Mã số phiếu</th>
                                <th>Đợt đặt hàng</th>
                                <th>Nhà vận chuyển</th>
                                <?php if($this->group != CONTRACTOR_GROUP_ID):?>
                                <th>Giá vận chuyển</th>
                                <?php endif;?>
                                <th></th>
                            </tr>
                            
                            <?php foreach($this->shipment as $key=>$value):?>
                            <?php $inc = $key + 1;?>
                            <tr>
                                <td><?php echo $inc;?></td>
                                <td><?php echo $value['no'];?></td>
                                <td><?php echo $value['campaign_name'];?></td>
                                <td><?php echo $value['transporter_name'];?></td>
                                <?php if($this->group != CONTRACTOR_GROUP_ID):?>
                                <td><?php echo number_format($value['total_price']);?> VNĐ</td>
                                <?php endif;?>
                                <td><a href="<?php echo HOST;?>trade/shipment-details?id=<?php echo $value['id'];?>"><i class="icon-large icon-eye-open"></i> Xem chi tiết</a></td>
                            </tr>
                            <?php endforeach;?>
                            
                        </table>

                    </div><!-- end tranporter_area -->
                    
                </div><!-- end search-->


            </div><!-- end mid_share -->
            </form>

        </div><!-- end content_share -->

    </div><!-- end table_main -->
</div>
<!-- span6-->
<!-- end trade T?NG Ð?U TU-->
</div>

</div>
<!-- row-->


<?php echo $this->render('trade/partials/share-quantity-script.phtml'); ?>