<div id="import" >
    <form action="" id="form_submit">
        <h3>UPLOAD ĐÁNH GIÁ NĂNG LỰC SHOP:</h3>
        <br>
        <div class="input-group" style="width:50%">
            <!--            <div>-->
            <i style="color:#19bc9c" class="icon icon-download-alt"></i> <a href="/files/template/template_danh_gia_nang_luc_shop.xlsx">Tải file mẫu</a>
            <!--            </div>-->
            <br>
            <br>

            <div style="border: 1px orangered solid; padding: 5px">
                <b style="color: red">Chú ý: </b><br>
                <p style="color: red; font-weight: bold"> - Điền NĂNG LỰC của shop vào file theo <i style="color: blue">mã số  </i> chuyển đổi bên dưới (vd: nếu chọn năng lực "FindX2 – Reno2 Series" ( giả sử có mã là 3) thì điền vào file là <i style="color: blue">3</i>, <i style="color:blue">không</i> điền "FindX2 – Reno2 Series")</p>
                <p style="color: red;  font-weight: bold"> - <i style="color: blue"> Không </i> xóa, thêm, chỉnh sửa các thông số có sẵn trong file mẫu , trừ thông tin cột năng lực shop</p>

                <div>
                    <h4>★ Năng lực:</h4>
                    <?php foreach ($this->list_capacity as $capacity) :?>
                        <p>&nbsp; &bull; <?php echo $capacity['name']; ?> »» <b style="color: #2aad6f"><?php echo $capacity['id']; ?></b></p>
                    <?php endforeach; ?>
                    <p>&nbsp; &bull; Bỏ chọn »» <b style="color: #2aad6f">Để trống</b></p>
                </div>

            </div>
            <br>
            <label class="input-group-btn">
                                    <span class="btn btn-primary">
                                        Chọn file  <input type="file" name="file" style="display: none;">
                                    </span>
            </label>
            <input type="text" class="form-control" readonly>
            <br>
            <input type="hidden" name="stage_id" value="<?php echo $this->stage_id; ?>">
            <button class="btn btn-success" type="submit">Submit</button>
        </div>
    </form>
</div>

<script type="text/javascript" src="/js/jquery-ui-1.8.12.custom.min.js"></script>
<link rel="stylesheet" type="text/css" href="/css/jquery-ui-1.8.12.custom.css"/>
<link rel="stylesheet" type="text/css" href="<?php echo HOST ?>css/select2.min.css">
<script type="text/javascript" src="<?php echo HOST ?>js/select2.min.js"></script>
<script type="text/javascript" src="/js/sweetalert2.all.min.js"></script>
<script>
    $(document).ready(function () {

        //show file name below browse
        // We can attach the `fileselect` event to all file inputs on the page
        $(document).on('change', ':file', function() {
            var input = $(this),
                numFiles = input.get(0).files ? input.get(0).files.length : 1,
                label = input.val().replace(/\\/g, '/').replace(/.*\//, '');
            input.trigger('fileselect', [numFiles, label]);
        });

        // We can watch for our custom `fileselect` event like this
        $(document).ready( function() {
            $(':file').on('fileselect', function(event, numFiles, label) {

                var input = $(this).parents('.input-group').find(':text'),
                    log = numFiles > 1 ? numFiles + ' files selected' : label;

                if( input.length ) {
                    input.val(log);
                } else {
                }

            });
        });


        $('#form_submit').submit(function (e) {
            e.preventDefault();
            Swal.fire({
                title: 'Đang lưu dữ liệu...',
                allowOutsideClick: false,
                onBeforeOpen: () => {
                    Swal.showLoading()
                }
            });
            $.ajax({
                url: '/trade/store-capacity-mass-upload-save',
                type: 'post',
                data: new FormData(this),
                dataType: 'json',
                success: function (data) {
                    if (data.status === 0) {
                        Swal.fire({
                            type: 'success',
                            title: 'Thành công',
                            showConfirmButton: false,
                            timer: 1500
                        });
                        setTimeout(function () {
                            window.location = '/trade/store-capacity-stage-list'
                        }, 700)
                    } else {
                        Swal.fire({
                            type: 'warning',
                            title: data.message,
                            showConfirmButton: false,
                            timer: 20000
                        });
                    }
                },
                contentType: false,
                cache: false,
                processData: false
            });
        })

        $('.btn_add_category').click(function () {
            $(this).before(copy_row_category);
        })

        $(document).on('click', '.btn_remove_category', function f() {
            $(this).parents('.select_category').remove();
        })

    })
</script>