<script type="text/javascript">
    $(document).ready(function(){
        var isMobile = false;
        if(/(android|bb\d+|meego).+mobile|avantgo|bada\/|blackberry|blazer|compal|elaine|fennec|hiptop|iemobile|ip(hone|od)|ipad|iris|kindle|Android|Silk|lge |maemo|midp|mmp|netfront|opera m(ob|in)i|palm( os)?|phone|p(ixi|re)\/|plucker|pocket|psp|series(4|6)0|symbian|treo|up\.(browser|link)|vodafone|wap|windows (ce|phone)|xda|xiino/i.test(navigator.userAgent)
            || /1207|6310|6590|3gso|4thp|50[1-6]i|770s|802s|a wa|abac|ac(er|oo|s\-)|ai(ko|rn)|al(av|ca|co)|amoi|an(ex|ny|yw)|aptu|ar(ch|go)|as(te|us)|attw|au(di|\-m|r |s )|avan|be(ck|ll|nq)|bi(lb|rd)|bl(ac|az)|br(e|v)w|bumb|bw\-(n|u)|c55\/|capi|ccwa|cdm\-|cell|chtm|cldc|cmd\-|co(mp|nd)|craw|da(it|ll|ng)|dbte|dc\-s|devi|dica|dmob|do(c|p)o|ds(12|\-d)|el(49|ai)|em(l2|ul)|er(ic|k0)|esl8|ez([4-7]0|os|wa|ze)|fetc|fly(\-|_)|g1 u|g560|gene|gf\-5|g\-mo|go(\.w|od)|gr(ad|un)|haie|hcit|hd\-(m|p|t)|hei\-|hi(pt|ta)|hp( i|ip)|hs\-c|ht(c(\-| |_|a|g|p|s|t)|tp)|hu(aw|tc)|i\-(20|go|ma)|i230|iac( |\-|\/)|ibro|idea|ig01|ikom|im1k|inno|ipaq|iris|ja(t|v)a|jbro|jemu|jigs|kddi|keji|kgt( |\/)|klon|kpt |kwc\-|kyo(c|k)|le(no|xi)|lg( g|\/(k|l|u)|50|54|\-[a-w])|libw|lynx|m1\-w|m3ga|m50\/|ma(te|ui|xo)|mc(01|21|ca)|m\-cr|me(rc|ri)|mi(o8|oa|ts)|mmef|mo(01|02|bi|de|do|t(\-| |o|v)|zz)|mt(50|p1|v )|mwbp|mywa|n10[0-2]|n20[2-3]|n30(0|2)|n50(0|2|5)|n7(0(0|1)|10)|ne((c|m)\-|on|tf|wf|wg|wt)|nok(6|i)|nzph|o2im|op(ti|wv)|oran|owg1|p800|pan(a|d|t)|pdxg|pg(13|\-([1-8]|c))|phil|pire|pl(ay|uc)|pn\-2|po(ck|rt|se)|prox|psio|pt\-g|qa\-a|qc(07|12|21|32|60|\-[2-7]|i\-)|qtek|r380|r600|raks|rim9|ro(ve|zo)|s55\/|sa(ge|ma|mm|ms|ny|va)|sc(01|h\-|oo|p\-)|sdk\/|se(c(\-|0|1)|47|mc|nd|ri)|sgh\-|shar|sie(\-|m)|sk\-0|sl(45|id)|sm(al|ar|b3|it|t5)|so(ft|ny)|sp(01|h\-|v\-|v )|sy(01|mb)|t2(18|50)|t6(00|10|18)|ta(gt|lk)|tcl\-|tdg\-|tel(i|m)|tim\-|t\-mo|to(pl|sh)|ts(70|m\-|m3|m5)|tx\-9|up(\.b|g1|si)|utst|v400|v750|veri|vi(rg|te)|vk(40|5[0-3]|\-v)|vm40|voda|vulc|vx(52|53|60|61|70|80|81|83|85|98)|w3c(\-| )|webc|whit|wi(g |nc|nw)|wmlb|wonu|x700|yas\-|your|zeto|zte\-/i.test(navigator.userAgent.substr(0,4))) {
            isMobile = true;
        }

        $( window ).scroll(function() {
//        if(isMobile == true){
//            scrolltop = this.scrollY;
//            if(scrolltop > 40){
//              $('.accordion-group').addClass("fix-search");
//            }
//            else{
//              $('.accordion-group').removeClass("fix-search");
//            }
//        }

        });
    });
</script>

<style type="text/css" media="screen">
    .select2-container--default .select2-selection--single {
        border-left: 3px solid #aaa;
        margin-bottom: 5px;
        font-size: 12px;
    }
    .select2-container--default .select2-results>.select2-results__options{
        font-size: 12px;
    }
    .select2-container--default .select2-search--dropdown .select2-search__field{

        height:25px;
    }


    .input_search{
        width: 225px;
        height: 20px;
    }
    .search_shop_check{

        margin-top: 3px;
    }
    .paging{
        margin-bottom: 5px;
    }
    .table tr th{
        text-align: center;
        vertical-align: middle;
    }
    .table tr td{
        text-align: center;
        vertical-align: middle;
    }

    .fix-search{right: 0px;left: 0px;background: #FFF;position: fixed;top:51px;border-radius: 0px}
    .label-primary{
        background-color: #337ab7;
    }

    .content_layout .btn-group.open .dropdown-menu{
        right: -132px;
        padding: 10px;
    }

    .btn-group .btn:first-child{    margin-bottom: 5px;}
    #list_check{overflow-y: scroll;max-height: 500px}
</style>
<div class="content-layout">
    <div class="row">
        <div class="span6">
            <div class="table_main" style="margin-top: 7px;">
                <div class="header_tad">
                    <i class="icon-list-alt"></i> DANH SÁCH UPDATE INFO
                </div>
                <div class="content_tad">
                    <div class="content_content" style="min-height: 405px;">
                        <?php
                        if (isset($this->messages) and $this->messages)
                            foreach ($this->messages as $message):
                                echo '<div class="alert alert-error">'.$message.'</div>';
                            endforeach;

                        if (isset($this->messages_success) and $this->messages_success)
                            foreach ($this->messages_success as $message):
                                echo '<div class="alert alert-success">'.$message.'</div>';
                            endforeach;
                        ?>
                        <!-- Khung search -->
                        <div class="accordion-group">
                            <div class="accordion-heading">
                                <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapseTwo">
                                    Search
                                </a>
                            </div>
                            <div id="collapseTwo" class="accordion-body collapse" style="height: 0px;">
                                <div class="accordion-inner">

                                    <form action="/trade/update-info-shop-list" method="get" enctype="multipart/form-data" autocomplete="off">

                                        <div class="control-group">
                                            <label class="control-label" for="name">Tên shop</label>
                                            <div class="controls">
                                                <input type="text" name="name_search" class="span3" id="name" placeholder="Nhập tên shop" value="<?php echo !empty($this->params['name_search']) ? $this->params['name_search'] : NULL;?>">
                                                <!--                                            <select class="form-control search_shop span3" name ="search_shop_check">
                                                 <option value="">--Tìm shop--</option>

                                                <?php foreach ( $this->store as $value): ?>
                                                  <?php if (isset($this->params['key_search']) && $this->params['key_search'] == $value['store_id']): ?>

                                                  <option  value ="<?php echo $value['store_id'] ?>" selected><?php echo $value['store_name'] ?></option>

                                                   <?php else: ?>

                                                  <option  value ="<?php echo $value['store_id'] ?>"><?php echo $value['store_name'] ?></option>

                                                <?php endif; endforeach; ?>

                                              </select>-->
                                            </div> <!-- /controls -->
                                        </div>

                                        <div class="control-group">
                                            <label class="control-label">Khu vực</label>
                                            <div class="controls">
                                                <select class="span3" name='area_id' id='area_id'>
                                                    <option value="">-- Chọn --</option>
                                                    <?php foreach($this->area as $key=>$value):?>
                                                        <option value="<?php echo $key;?>" <?php echo $this->params["area_id"] == $key ? "selected" : NULL;?>><?php echo $value;?></option>
                                                    <?php endforeach;?>
                                                </select>
                                            </div> <!-- /controls -->
                                        </div>

                                        <div class="control-group">
                                            <label class="control-label">Tỉnh</label>
                                            <div class="controls">
                                                <select class="span3" name='regional_market' id='regional_market'>
                                                    <option value="">-- Chọn --</option>
                                                    <?php
                                                    if ($this->regional_markets) :
                                                        foreach ($this->regional_markets as $regional_market):?>
                                                            <option value="<?php echo $regional_market->id;?>" <?php if (isset($this->params['regional_market']) and $this->params['regional_market']==$regional_market->id):?>selected<?php endif;?>><?php echo $regional_market->name;?></option>
                                                        <?php
                                                        endforeach;
                                                    endif;
                                                    ?>
                                                </select>
                                            </div> <!-- /controls -->
                                        </div>

                                        <div class="control-group">
                                            <label class="control-label">Huyện</label>
                                            <div class="controls">
                                                <select class="span3" name='district' id='district'>
                                                    <option value="">-- Chọn --</option>
                                                    <?php
                                                    if ($this->districts) :
                                                        foreach ($this->districts as $regional_market):?>
                                                            <option value="<?php echo $regional_market->id;?>" <?php if (isset($this->params['district']) and $this->params['district']==$regional_market->id):?>selected<?php endif;?>><?php echo $regional_market->name;?></option>
                                                        <?php
                                                        endforeach;
                                                    endif;
                                                    ?>
                                                </select>
                                            </div> <!-- /controls -->
                                        </div>

                                        <div class="control-group">
                                            <label class="control-label">Sales</label>
                                            <div class="controls">
                                                <select class="span3" name='staff_id' id='staff_id'>
                                                    <option value="">-- Chọn --</option>
                                                </select>
                                            </div> <!-- /controls -->
                                        </div>

                                        <div class="control-group">
                                            <label class="control-label">Channel</label>
                                            <div class="controls">
                                                <select class="span3" name='is_ka' id='is_ka'>
                                                    <option value="">-- Chọn --</option>
                                                    <option value="0" <?php echo (isset($this->params['is_ka']) AND $this->params['is_ka'] === "0") ? 'selected' : NULL;?>>IA</option>
                                                    <option value="1" <?php echo (isset($this->params['is_ka']) AND $this->params['is_ka'] == 1) ? 'selected' : NULL;?>>KA</option>
                                                    <option value="2" <?php echo (isset($this->params['is_ka']) AND $this->params['is_ka'] == 2) ? 'selected' : NULL;?>>OTHER</option>
                                                </select>
                                            </div> <!-- /controls -->
                                        </div>

                                        <div class="control-group">
                                            <label class="control-label">Level</label>
                                            <div class="controls">
                                                <select class="span3" name='is_ka_details' id='is_ka_details'>
                                                    <option value="">-- Chọn --</option>
                                                </select>
                                            </div> <!-- /controls -->
                                        </div>



                                        <div class="control-group">
                                            <label class="control-label" for="name">Từ ngày</label>
                                            <div class="controls">
                                                <input type="text" name="from_date" class="span3 date" id="from_date" value="<?php echo !empty($this->params['from_date']) ? $this->params['from_date'] : NULL;?>" readonly>
                                            </div> <!-- /controls -->
                                        </div>

                                        <div class="control-group">
                                            <label class="control-label" for="name">Đến ngày</label>
                                            <div class="controls">
                                                <input type="text" name="to_date" class="span3 date" id="to_date" value="<?php echo !empty($this->params['to_date']) ? $this->params['to_date'] : NULL;?>" readonly>
                                            </div> <!-- /controls -->
                                        </div>



                                        <input class="btn btn-success" type="submit" name="submit" value="Tìm">

                                        <input class="btn btn-warning" type="button" name="submit" id="reset" value="Reset">
                                    </form>
                                </div>
                            </div>
                        </div>
                        <!-- END Khung search -->

                        <table class="table">
                            <tbody>
                            <tr>
                                <th>#</th>
                                <th>Tên Shop</th>
                                <th>Last</th>
                                <th>Action</th>
                            </tr>
                            <?php foreach ($this->list as $key => $value): ?>
                                <?php $inc = $this->offset + $key + 1;?>
                                <tr>
                                    <td><?php echo $inc;?></td>
                                    <td>
                                        <?php echo $value['store_name'];?><br>
                                    </td>
                                    <td>

                                        <?php if($value['checkshop_last']):?>

                                            <a href='#list_check' data-toggle="modal" class="list-check" id="a_action" val="<?php echo $value['store_id'];?>">
                                                <?php echo date('d/m/Y', strtotime($value['checkshop_last']));?>
                                            </a>

                                        <?php endif;?>

                                    </td>
                                    <td>
                                        <a class="btn" href='/trade/create-checkshop?id=<?php echo $value['store_id'];?>'>Update info</a>
                                    </td>
                                </tr>
                            <?php endforeach; ?>
                            </tbody>
                        </table>

                        <div class="paging" style="height:80px;">
                            <?php echo $this->paging($this->total, $this->limit, $this->offset, $this->url, NULL, 5);?>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Popup -->
<div id="list_check" class="modal hide" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-header">
        <h3 id="myModalLabel">History Check-Shop</h3>
    </div>
    <div class="modal-body">
        <div class="control-group content_modal">
            <div class="list-history" style="text-align: center;">
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <button class="btn btn_close" data-dismiss="modal" aria-hidden="true">Close</button>
    </div>
</div>
<!-- Popup -->

<script type="text/javascript" src="<?php echo HOST ?>js/bootstrap-multiselect.js"></script>
<link rel="stylesheet" href="<?php echo HOST ?>css/bootstrap-multiselect.css" type="text/css"/>

<script type="text/javascript" src="/js/jquery-ui-1.8.12.custom.min.js"></script>
<link rel="stylesheet" type="text/css" href="/css/jquery-ui-1.8.12.custom.css"/>
<link rel="stylesheet" type="text/css" href="<?php echo HOST ?>css/select2.min.css">
<script type="text/javascript" src="<?php echo HOST ?>js/select2.min.js"></script>


<script type="text/javascript">

    options = {
        selectAllText: 'Select All',
        includeSelectAllOption: true,
        includeSelectAllIfMoreThan: 3,
        disableIfEmpty: true
    };

    $(document).ready(function () {

        $( '.date' ).datepicker({ dateFormat: "dd/mm/yy" });
        $('.multiselect').multiselect(options);
    });
</script>

<script>
    $(document).ready(function(){
        $('.search_shop').select2();
        function convertdate(date,delimiter){
            date_arr = date.split(" ");
            dddd = date_arr[0].split("-");
            return dddd[2]+delimiter+dddd[1]+delimiter+dddd[0]+" "+date_arr[1];





        }
        $(document).on('click', "#reset", function() {
            $('#name').val('');
            $('#from_date').val('');
            $('#to_date').val('');
        });

        $(document).on('click', "#a_action", function() {
            var id_store = $(this).attr('val');
            var from_date = $('#from_date').val();
            var to_date = $('#to_date').val();
            $.ajax({
                url: "<?php echo HOST;?>trade/ajax-quotation",
                type: "GET",
                dataType: "text",
                context: this,
                data: "id_store="+id_store+"&from_date="+from_date+"&to_date="+to_date,
                beforeSend: function() {
                    $(".loading").show();
                },
                success: function(result){
                    if(result)
                    {
                        var data = jQuery.parseJSON(result);

                        level = data.level;
                        sellout = data.sellout;
                        sale_log = data.sale_log;
                        data = data.list_checkshop;


                        shop_name ='<h4 id="myModalLabel" style="color:red;text-align:center;"><i class="icon icon-home"></i> '+data[0].store_name+'</h4>\
                                <h5 id="shopname" style="color:#2AAD6F; text-align:center;"><i class="icon icon-map-marker"></i> '+data[0].shipping_address+'</h5>\
                                <h5 id="shopname" style="color:#2AAD6F; text-align:center;"><i class="icon icon-tags"></i> '+data[0].district_name+' - '+data[0].area_name+'</h5>\
                                <h4 id="myModalLabel" style="color:#000;text-align:center;"><i class="icon icon-user"></i> SALE phụ trách '+sale_log+'</h4><br>';

                        console.log(sellout);

                        shop_name = shop_name+'<table class="table">';
                        if(sellout.length > 0){
                            for(i = 0;i < sellout.length; i++){
                                shop_name = shop_name+'<tr>';
                                shop_name = shop_name+'<td>THÁNG: '+sellout[i].month+'</td>';
                                shop_name = shop_name+'<td>SELLOUT: '+sellout[i].number_imei+'</td>';
                                shop_name = shop_name+'<td>LEVEL: '+sellout[i].level+'</td>';
                                shop_name = shop_name+'</tr>';
                            }
                        }
                        else{
                            shop_name = shop_name+'<tr>';
                            shop_name = shop_name+'<td></td>';
                            shop_name = shop_name+'<td></td>';
                            shop_name = shop_name+'<td>LEVEL: '+level+'</td>';
                            shop_name = shop_name+'</tr>';
                        }

                        shop_name = shop_name+'</table>';

                        $('.modal-header').html(shop_name);
                        date_check='';
                        for(i = 0;i < data.length; i++){

                            key = '';
                            if(data[i].is_lock == 1){
                                key = '<i class="icon icon-key" style="color:red"></i>';
                            }

                            key_leader = '';
                            if(data[i].is_leader_lock == 1){
                                key_leader = '<i class="icon icon-key" style="color:black"></i>';
                            }

                            date_check += '<tr>\
                                        <td>'+convertdate(data[i].updated_at,'/')+' '+key+' '+key_leader+'</td>\
                                         <td><a href="/trade/view-checkshop?id='+data[i].id+'"><i class="icon-hand-right"></a></i></td>\
                                        </tr>';
                        }

                        list = '<table class="table" >\
                               <tr>\
                                   <th>Ngày check shop</th>\
                                    <th>Xem</th>\
                                </tr>\
                               '+date_check+'\
                              </table>';
                        $('.list-history').html(list);
                    }
                    else
                    {

                    }
                },
                error:function(){

                }
            });

        });

        $(document).ready(function () {
            area_change();
            area_init_change();
            is_ka_change();
            init_is_ka_change();
        });

        var area_list = <?php echo json_encode($this->list_sale);?>;
        var list_channel = <?php echo json_encode($this->list_channel);?>;

        function area_change(){
            $("#area_id").change(function(){
                var area_id = $(this).val();

                $('#staff_id').find('option').remove().end().append('<option value="">--Select--</option>').val('');

                area = area_list[area_id];
                for(var i=0;i< area.length;i++){
                    $("#staff_id").append('<option value='+area[i]['staff_id']+'>'+area[i]['fullname']+'</option>');
                }


            });
        }

        function area_init_change(){
            var area_id = $("#area_id").val();
            var staff_id = <?php echo $_GET['staff_id'] ? $_GET['staff_id'] : 0;?>;

            $('#staff_id').find('option').remove().end().append('<option value="">--Select--</option>').val('');

            if(area_id){
                area = area_list[area_id];
                for(var i=0;i< area.length;i++){
                    if(staff_id == area[i]['staff_id']){
                        $("#staff_id").append('<option value='+area[i]['staff_id']+' selected>'+area[i]['fullname']+'</option>');
                    }
                    else{
                        $("#staff_id").append('<option value='+area[i]['staff_id']+'>'+area[i]['fullname']+'</option>');
                    }

                }
            }
        }

        function is_ka_change(){
            $("#is_ka").change(function(){
                var is_ka = $(this).val();

                $('#is_ka_details').find('option').remove().end().append('<option value="">--Select--</option>').val('');

                list_channel_details = list_channel[is_ka];
                for(var i=0;i< list_channel_details.length;i++){
                    $("#is_ka_details").append('<option value='+list_channel_details[i]['id']+'>'+list_channel_details[i]['title']+'</option>');
                }


            });
        }

        function init_is_ka_change(){

            var is_ka = $('#is_ka').val();

            var is_ka_details = <?php echo $_GET['is_ka_details'] ? $_GET['is_ka_details'] : 0;?>;

            if(is_ka){
                $('#is_ka_details').find('option').remove().end().append('<option value="">--Select--</option>').val('');

                list_channel_details = list_channel[is_ka];
                for(var i=0;i< list_channel_details.length;i++){
                    if(is_ka_details == list_channel_details[i]['id']){
                        $("#is_ka_details").append('<option value='+list_channel_details[i]['id']+' selected>'+list_channel_details[i]['title']+'</option>');
                    }{
                        $("#is_ka_details").append('<option value='+list_channel_details[i]['id']+'>'+list_channel_details[i]['title']+'</option>');
                    }

                }
            }
        };




    });
</script>


<script>

    $(document).ready(function () {
        //initSearchOption();

        $('#area_id').change(function(){
            $(this).after('<span class="loading"></span>');
            var _self = $(this);
            var area_id = $(this).val();
            $.get("/staff/load-province",
                {area_id: area_id}
                ,function(data,status){
                    var obj = $.parseJSON( data );
                    $('#regional_market').find('option:not(:first)').remove();
                    for (var i = 0; i < obj.length; i++) {
                        $('#regional_market').append('<option value="'+obj[i]['id']+'">'+obj[i]['name']+'</option>');
                    }
                    _self.nextAll('.loading').remove();
                });
        });

        $('#regional_market').change(function(){
            $('form').bind('submit',function(e){e.preventDefault();});
            $('form button, form input, form select').prop('disabled', true);
            $('.loading').remove();

            $(this).after('<span class="loading"></span>');
            var _self = $(this);
            var region = $(this).val();
            $.post("/ajax/get-district-cbb", {
                    region: region
                }
                ,function(data,status){
                    $('#district').find('option:not(:first)').remove();

                    try {
                        if (data) {
                            var obj = $.parseJSON( data );

                            for (var i = 0; i < obj.length; i++) {
                                $('#district').append('<option value="'+obj[i]['id']+'">'+obj[i]['name']+'</option>');
                            }
                        }

                    } catch(err) {

                    } finally {
                        $('.loading').remove();
                        $('form').unbind('submit');
                        $('form button, form input, form select').prop('disabled', false);
                    }
                });
        });

    });
</script>
