
<style type="text/css">
    .block{padding-bottom: 10px;margin-bottom: 10px;border-bottom: 1px solid #CCC}
    .block .btn{margin:0 auto;}
    .block .status{text-align: left;text-align: left;width: 100%;min-height: 22px;}
    .block .status label{display: block;float:left}
    .block .btn_scan{text-align: center;}
    .block .btn_scan i{color:blue;}
    .table_air{margin-bottom: 5px;border:none;}
    .table_air tr td{border: none}
    .block{background: #EDEDED;border: 1px solid #CCC;padding: 10px}
    .block_thuctrangshop{}
    .gallery img{width: 70px;}
    .hanmuc,.table tr td,th{
      text-align: center;
    }
    .input_hangmuc{
      width: 40px;
      text-align:center;
    }
    .store{
      width: 314px;
    }
    .quantity{
      width: 40px;
    }
    .cat{
      width: 150px;
    }
    .img_air{
      margin-left: 5px;
    }
    table tbody{
      text-align: center;
    }
</style>

<link rel="stylesheet" href="<?php echo HOST ?>new/css/trade_app.css">

<div class="content-layout">

<div class="">
    <h3><?php echo $this->campaign_category[0]['contractor_name'];?></h3>
<div class="">
    <div class="table_main" style="margin-top: 7px;">
        
            <div class="header_tad"><i class="icon-list-alt"></i> Đề xuất thi công</div>

            <?php
                if (isset($this->messages) and $this->messages)
                    foreach ($this->messages as $message):
                        echo '<div class="alert alert-success">'.$message.'</div>';
                    endforeach;

                if (isset($this->messages_error) and $this->messages_error)
                    foreach ($this->messages_error as $message):
                        echo '<div class="alert alert-error">'.$message.'</div>';
                    endforeach;
            ?>
 <label class="label-success" style="text-align: center; color:white; height: 20px; line-height: 20px;"><?php echo $this->status['status_name'];?></label>
            <div class="content_share">

              <!-- Thẻ hidden hạng mục -->
            <select class="control-label cat" name="category[]" style="display: none;">
                            <option>-- Hạng mục --</option>
                            <?php
                                foreach ( $this->category as $value) {
                                 
                                    ?>
                                    <option  value ="<?php echo $value['id'] ?>" <?php if($value['id']==$dxuat['cate_id']) echo 'selected' ?>> <?php echo $value['name'] ?></option>
                                   
                                    <?php } ?>
            </select>
              <!-- Thẻ hidden hạng mục -->
          <div class="mid_share">
            <form action="<?php echo HOST;?>trade/nghiemthu-air" method="post" enctype="multipart/form-data">            
            <div class="block block_thongtinshop_update" style="display: none;">
                   <h3 style="text-align: center;margin-bottom: 5px">SHOP ĐỀ XUẤT</h3>
                   <input type="hidden" class="stores" id="store_id" value="<?php echo $this->shop['store_id'];?>">
                   <label class="shopname" style="font-weight: bold; text-align: center;"><?php echo $this->shop['shop_name']?></label>
                   <table class="table hanmuc">
                       <tr>
                           <th>Hạng mục</th>
                           <th>Hạn mức:</th>
                           <th>Đã đầu tư:</th>
                           <th>Điền số lượng:</th>
                       </tr>
                       <tr>
                           <td>Biển hiệu Alu</td>
                           <td>2</td>
                           <td>1</td>
                           <td>1</td>  
                       </tr>
                       
                   </table>

                   <h3 style="text-align: center;margin-bottom: 5px">HÌNH ẢNH CHECKSHOP</h3>
                   <div class="gallery" style="text-align: center;">
                       <img src="https://trade-marketing.opposhop.vn/photo/air/201802081454417334/3/6d7dd34c1a792910d94b91f36d3533ff.png" class="img-responsive img_air">
                       <img src="https://trade-marketing.opposhop.vn/photo/air/201802081454417334/3/3b23677252a64d452fffe3dfb7fecb50.png" class="img-responsive img_air">
                       <img src="https://trade-marketing.opposhop.vn/photo/air/201802081454417334/3/6d7dd34c1a792910d94b91f36d3533ff.png" class="img-responsive img_air">
                       <img src="https://trade-marketing.opposhop.vn/photo/air/201802081454417334/3/3b23677252a64d452fffe3dfb7fecb50.png" class="img-responsive img_air">
                   </div>
               
               </div>
                      <input type="hidden" value="0" id = "dem" name="dem">
                      <div class="block" style="text-align: center;">
                        <label>Download file đề xuất:</label>
                          <a href="<?php echo HOST.$this->file[0]['url'];?>" class="btn btn-primary" download="" style="height: 25px; line-height: 25px; width: 110px;">Download file<a>
                         
                           <label>Cập nhật file đề xuất:</label>
                          <input type="file" name="files" id="files" class="inputfile" style="display: none;" />
                           <label for="files" class="btn btn-default" style="height: 25px; line-height: 25px; width: 110px;">Chọn file</label> 
                           
                      </div>
                       
                    <div class="add">
                     
                      
            
                      <div class="block" style="overflow-x: auto;">
                        <label>Bảng chi tiết đề xuất:</label>
                    <!-- <input type="number" min="1" name="quantity[]" class="quantity" placeholder="Số lượng" value="<?php echo $dxuat['soluong']?>"> -->
                          <table class="table">
                         <tr>
                             <th>Hạng mục</th>
                             <th>Chiều ngang (m)</th>
                             <th>Chiều cao (m)</th>
                             <th>Chiều sâu (m)</th>
                             <th>Tổng diện tích</th>
                             <th>Số lượng</th>
                             <th>Đơn vị tính</th>
                              <th>Chức năng</th>
                            
                             
                         </tr>
                         <?php
                          foreach($this->dexuat as $dxuat) {
                         
                            ?>
                         <tr>
                             <td>
                              <select class="control-label cat " name="category[]" required>
                                  <option value="">-- Hạng mục --</option>
                                  <?php
                                      foreach ( $this->category as $value) {
                                       
                                          ?>
                                          <option  value ="<?php echo $value['id'] ?>" <?php if($value['id']==$dxuat['cate_id']) echo 'selected' ?>> <?php echo $value['name'] ?></option>
                                         
                                          <?php } ?>
                              </select>
                            </td>
                             <td><input type="text" name="width[]" class="input_hangmuc" min="0"  value="<?php echo $dxuat['width']?>" pattern="[0-9]+[.][0-9]+|[0-9]+" required></td> 
                        
                             
                             <td><input type="text" name="wide[]" class="input_hangmuc" min="0" value="<?php echo $dxuat['wide']?>" pattern="[0-9]+[.][0-9]+|[0-9]+" required></td>
                        
                             
                             <td><input type="text" name="deep[]" class="input_hangmuc" min="0" value="<?php echo $dxuat['deep']?>" required></td>
                       
                             
                             <td><input type="text" name="total[]" class="input_hangmuc" min="0" value="<?php echo $dxuat['total']?>" pattern="[0-9]+[.][0-9]+|[0-9]+" required></td>
                        
                             <td> <input type="text" min="1" name="quantity[]" min="0" class="quantity input_hangmuc" placeholder="Số lượng" value="<?php echo $dxuat['soluong']?>" pattern="[0-9]" required>
                             </td>
                             <td><input type="text" name="dvt[]" class="input_hangmuc" value="m" readonly="">
                              </td>
                              <td> <a id="remove" class="btn btn-danger" style=""><i class="icon-trash"></i></a></td>
                         </tr>
                           <?php
                        }
                      ?>
                     </table>
                         <!-- <table class="table">
                         <tr>
                             <th>Tiêu chí</th>
                             <th>Kích thước</th>
                         </tr>
                         <tr>
                             <td>Chiều ngang:</td>
                             <td><input type="text" name="width[]" class="input_hangmuc" value="<?php echo $dxuat['width']?>"></td> 
                         </tr>
                          <tr>
                             <td>Chiều cao</td>
                             <td><input type="text" name="wide[]" class="input_hangmuc" value="<?php echo $dxuat['wide']?>"></td>
                         </tr>
                          <tr>
                             <td>Chiều sâu</td>
                             <td><input type="text" name="deep[]" class="input_hangmuc" value="<?php echo $dxuat['deep']?>"></td>
                         </tr>
                          <tr>
                             <td>Tổng diện tích</td>
                             <td><input type="text" name="total[]" class="input_hangmuc" value="<?php echo $dxuat['total']?>"></td>
                         </tr>
                          <tr>
                             <td>Đơn vị tính</td>
                             <td><input type="text" name="dvt[]" class="input_hangmuc" value="mm" readonly="">
                              </td>
                         </tr>
                     </table> -->
                    
                    </div>
                   

                  </div>
                    <a id="add" class="btn btn-success">+</a>
                <div class="row" style="text-align: center;">
                  <input type="hidden" name="id" value="<?php echo $this->params['id'];?>">
                    <input type="submit" class="btn btn-success" name="submit" value="Xác Nhận">
                   <a href="/trade/air" class="btn btn-default" style="    height: 23px;"><p>Quay lại</p></a>
                 </div>
             
          </form>
            </div><!-- end mid_share -->

        </div><!-- end content_share -->

    </div><!-- end table_main -->
</div>
<!-- span6-->
<!-- end trade T?NG Ð?U TU-->
</div>

</div>

<!-- row-->

<?php echo $this->render('trade/partials/create-air-script.phtml'); ?>
<style type="text/css">

.img_full_design{position: fixed;width: 100%;top:0px;right: 0px;bottom: 0px;left: 0px;background: rgba(255,255,255,1);z-index: 10000;display: none;overflow: scroll;}
.img_full_design img{width:100%; height:auto; top:6%;position: absolute;max-width: 500px;margin:0 auto;left: 0;right: 0}


.control{
  margin-top: 180px;
}
.prev{

   z-index:1000000;
   position: absolute;
    left: 10px;
    font-size: 20px;
    line-height: 350px;
    
}

.next{

    z-index:10000000;
    position: absolute;
    right: 40px;
    font-size: 20px;
    line-height: 350px;
}
.next img{
  height: 100px;
  width: 30px;
  margin-top: 70px;
}
.prev img{
  height: 100px;
  width: 30px;
  margin-top: 70px;
}


.img_jum{
  height: 300px;
}
.close_img_full{
    background-color: #04040429;
    height: 35px;
    opacity: 1;
}
</style>
<div class="img_full_design">
<div class="close_img_full"><a class="btn btn-danger icon-remove" style="float: right; font-size: 20px; margin-left: 50px; color:white;margin-top: 3px;  height: 24px;"></a></div>
<img src="" alt="" width="100%" height="100%" class="img_jum">
<span class="prev"><img src="<?php echo HOST.'images/prev.png'?>" alt="..."></span>
<span class="next"><img src="<?php echo HOST.'images/next.png'?>" alt="..."></span>
</div>
<!-- slide cho hình ảnh checkshop -->
<script>
  $(document).on('click', ".img_air", function() {
  var src = $(this).attr('src');

   var val= $(this).attr('val');
   //alert(val);
   $('.prev').attr('val',parseInt(val)-1);
    $('.next').attr('val',parseInt(val)+1);

  $('.img_full_design').find('.img_jum').attr('src', src);
  $('.img_full_design').show();
        ///---next prev giữa ảnh
  var height = $('.img_full_design img').css('height');
  $('.next img').css('margin-top',parseInt(height)/3);
  $('.prev img').css('margin-top',parseInt(height)/3);
  ///---
});

$(document).on('click', ".next", function() {
 count = $('.gallery').find('img').length;
 //alert(count);
  var next = $(this).attr('val');

  var src = $('#'+next+'').attr('src');
  $('.img_full_design').find('.img_jum').attr('src', src);
  $('.img_full_design').show();
    var height = $('.img_full_design img').css('height');
  $('.next img').css('margin-top',parseInt(height)/3);
  $('.prev img').css('margin-top',parseInt(height)/3);
  ///---
  if(next==count || next>count)
  {
    next=0;
  }
   $('.next').attr('val',parseInt(next)+1);

   $('.prev').attr('val',parseInt(next));

});
$(document).on('click', ".prev", function() {
  count = $('.gallery').find('img').length;
   var prev = $(this).attr('val');

  var src = $('#'+prev+'').attr('src');
  $('.img_full_design').find('.img_jum').attr('src', src);
  $('.img_full_design').show();
    var height = $('.img_full_design img').css('height');
  $('.next img').css('margin-top',parseInt(height)/3);
  $('.prev img').css('margin-top',parseInt(height)/3);
  ///---
  if(prev==0)
  {
    prev=count+1;
  }
   $('.prev').attr('val',parseInt(prev)-1);
   $('.next').attr('val',parseInt(prev));

});


$(document).on('click', ".close_img_full", function() {
  $('.img_full_design').hide();
  });
</script>
