
<style type="text/css">
    .quantity_checkshop{width: 50px;margin-top:10px;text-align: right;}
    .table_checkshop{margin-bottom: 10px}
    .table_checkshop tr td{text-align: center;padding: 2px}
    .inputfile {width: 0.1px;height: 0.1px;opacity: 0;overflow: hidden;position: absolute;z-index: -1;}

    .content_tad table tr th{padding: 2px}
    .content_layout{overflow-y: -webkit-paged-x;}
    .btn{padding: 2px 4px;}
    .imei_qrcode{font-size: 7px}
    .btn_file{font-size: 7px}
    .img{
        margin-top: 20px;
        text-align: center;
    }
    .label-control{
        font-size: 15px;
        text-align: center;
    }
    .img_checkshop{width:100px;}
    #imei_width span{
        font-size: 12px;
        color:white;
        background-color: #19bc9c;
        padding: 3px;
    }

    .wrap_picture{border: 1px solid #ddd;margin-top: 10px}
    .wrap_picture .img{padding: 10px;margin-top: 5px;text-align: left;}
    #map {height: 400px;width: 100%;}


    .has_type {
        display:none !important
    }

    .has_width {
        display:none !important
    }

    .has_material {
        display:none !important
    }

    .has_painting {
        display:none !important
    }
    .category_type_child {
        display: none
    }

    .header_tad {
        /*background: #2AAD6F ! important;*/
        box-shadow:1px 1px 3px 1px #d2e4dd;
        color:darkslategrey;
        border-bottom: none
    }

    th, td {
        text-align: center !important;
    }
    /*#loading-image{*/
    /*position: absolute;*/
    /*width: 100%;*/
    /*height: 55%;*/
    /*z-index: 1000;*/
    /*background:  center no-repeat #fff;*/
    /*!*background: url(/photo/loading/Preloader_1.gif) center no-repeat #fff;*!*/
    /*}*/
    .point-hand{
        cursor:pointer
    }
</style>

<div class="content-layout">
    <!--    <div id="loading-image"></div>-->

    <div class="row">

        <div class="col-12 col-md-8 p-0">
            <div class="table_main" style="margin-top: 7px;">
                <div class="header_tad">
                    <i class="icon-list-alt"></i> CHECK SHOP <span style="font-size:13px;color:red"><?php echo date('H:i d/m/Y', strtotime($this->checkshop['updated_at']));?></span>
                </div>

                <div class="content_tad">

                    <div class="content_content" style="min-height: 405px;">
                        <?php
                        if (isset($this->messages_error) and $this->messages_error)
                            foreach ($this->messages_error as $message):
                                echo '<div class="alert alert-error">'.$message.'</div>';
                            endforeach;

                        if (isset($this->messages) and $this->messages)
                            foreach ($this->messages as $message):
                                echo '<div class="alert alert-success">'.$message.'</div>';
                            endforeach;
                        ?>

                        <span style="color:red;"><i class="icon icon-home"></i>   <?php echo $this->store_info['store_name'];?></span><br>
                        <span style="color:#2AAD6F;"><i class="icon icon-map-marker"></i>   <?php echo $this->store_info['shipping_address'];?></span><br>
                        <span style="color:#2AAD6F;"><i class="icon icon-tags"></i>   <?php echo $this->store_info['district_name'];?> - <?php echo $this->store_info['area_name'];?></span><br>
                        <span style="color:blue;">Loại: <b><?php echo $this->store_info['store_level']; ?></b></span><br>
            

                        <?php if (! $this->params['is_staff_realme']) : ?>
                            <div class="table_checkshop">
                                <table class="table">
                                    <tbody>
                                    <?php if(count($this->sellout) > 0):?>
                                        <?php foreach($this->sellout as $key=>$value):?>
                                            <tr>
                                                <td>THÁNG: <?php echo $value['month'];?></td>
                                                <td>SELLOUT: <?php echo $value['number_imei'];?></td>
                                                <td>LEVEL: <?php echo $value['level'];?></td>
                                            </tr>
                                        <?php endforeach;?>
                                    <?php else:?>

                                        <tr>
                                            <td></td>
                                            <td></td>
                                            <td>LEVEL: <?php echo $this->level['level'];?></td>
                                        </tr>

                                    <?php endif;?>

                                    </tbody>
                                </table>
                            </div>
                        <?php endif; ?>

                        <?php if (stristr($this->store_info['store_name'], 'TGDĐ')): ?>
                         <div class="shop_size">

                            <a class="btn pull-right p-2" id="open_size" style="margin-bottom:5px">Loại shop <i show="0" class="icon icon-chevron-down"></i></a>

                            <div id="shop_size_box" style="display:none;width: 100%;">
                                <table class="table">
                                    <tr>
                                        <th style="width:50%">Chọn loại shop</th>
                                    </tr>
                                    <tr>
                                        <td style="text-align: left !important">
                                            <?php foreach($this->shop_size_type as $size_type):?>
                                                <?php if($size_type['type'] == 1 AND $size_type['is_del'] == 0):?>
                                                    <input type="radio" name="shop_size_type1" class="shop_size_type1" value="<?php echo $size_type['id'];?>" <?php echo (isset($this->shop_size_old[$size_type['type']]) AND $this->shop_size_old[$size_type['type']] == $size_type['id']) ? "checked" : NULL;?>> <span> <?php echo $size_type['title'];?></span><br>
                                                <?php endif;?>
                                            <?php endforeach;?>
                                        </td>
                                    </tr>
                                </table>
                                <button store_id="<?php echo $this->checkshop['store_id'];?>" style="font-size:10px;margin-top:5px" class="btn btn-primary pull-right btn_shop_size p-2">Save</button>
                            </div>
                        </div>
                        <?php endif; ?>

                        <?php if ($this->lock_store && date($this->lock_store['updated_at']) <= $this->checkshop['updated_at']) : ?>
                            <div class="table_checkshop">
                                <br>
                                <h4 style="margin-bottom:5px; color:#2aad6f">Hạng mục OPPO:</h4>
                                <div class="table_checkshop">
                                    <table class="table" id="table_category">
                                        <tbody>
                                        <tr>
                                            <th style="width:20%">Tên hạng mục</th>
                                            <th style="width:80%">Số lượng</th>
                                        </tr>

                                        <?php foreach ($this->currentCategories as $key => $value): ?>
                                            <tr class="row_table_detail"
                                                has_type="<?php echo $value['has_type']; ?>"
                                                has_width="<?php echo $value['has_width']; ?>"
                                                has_material="<?php echo $value['has_material'] ? $value['has_material'] : 0; ?>"
                                                has_painting="<?php echo $value['has_painting'] ? $value['has_painting'] : 0; ?>"
                                                category_id="<?php echo $value['category_id'];?>"
                                            >
                                                <td>
                                                    <?php echo $value['category_name']; ?>

                                                </td>
                                                <td>
                                                    <?php echo $value['quantity']; ?>
                                                    <div class="category_detail">
                                                        <?php if (in_array($value['category_id'], $this->listIdCategoryCheckshop)) : ?>
                                                            <a category_id="<?php echo $value['category_id']; ?>"  href="#<?php echo $value['category_id']; ?>" class="btn pull-right btn_collapse" data-toggle="collapse"><i show="0" class="icon icon-chevron-down icon_toggle"></i></a>
                                                            <br><br>
                                                        <?php endif; ?>

                                                        <div id="<?php echo $value['category_id']; ?>" class="collapse">
                                                            <table class="table  table_category_detail">
                                                                <thead>
                                                                <tr>
                                                                    <th style="width:10%">Số lượng</th>
                                                                    <th class="has_type" style="width:20%" class="category_type">Loại</th>
                                                                    <th class="has_material" style="width:10%">Chất liệu</th>
                                                                    <th class="has_width">Kích thước</th>
                                                                </tr>
                                                                </thead>
                                                                <tbody>
                                                                <?php foreach ($this->currentCategoriesDetail[$value['category_id']] as $detail) : ?>
                                                                    <tr>
                                                                        <td>
                                                                            <?php echo $detail['quantity']; ?>
                                                                        </td>
                                                                        <td class="has_type">
                                                                            <?php echo $detail['category_type_name'] ? $detail['category_type_name'] : '-'; ?>
                                                                            <?php echo $detail['category_type_child_name'] ? ' - ' . $detail['category_type_child_name'] : '' ; ?>
                                                                        </td>
                                                                        <td class="has_material"><?php echo $detail['material_name']; ?></td>
                                                                        <td class="has_width">
                                                                            <div class="real_width">
                                                                                <p style="text-align: left; font-weight:bold; color:#25962f"> - Kích thước tổng:</p>
                                                                                <table class="table">
                                                                                    <tr>
                                                                                        <th>Ngang(mm)</th>
                                                                                        <th>Cao(mm)</th>
                                                                                    </tr>
                                                                                    <tr>
                                                                                        <td>
                                                                                            <?php echo $detail['width']; ?>
                                                                                        </td>
                                                                                        <td>
                                                                                            <?php echo $detail['height']; ?>
                                                                                        </td>
                                                                                    </tr>
                                                                                </table>
                                                                            </div>
                                                                            <br>

                                                                            <div class="has_painting">
                                                                                <p style="text-align: left; font-weight:bold; color:#25962f"> - Chi tiết tranh:</p>
                                                                                <table class="table table_painting">
                                                                                    <tr>
                                                                                        <th>Ngang <br>(mm)</th>
                                                                                        <th>Cao <br>(mm)</th>
                                                                                        <th>Chất <br>liệu</th>
                                                                                    </tr>
                                                                                    <?php foreach ($this->currentCategoriesDetailPainting[$detail['app_checkshop_detail_child_id']] as $painting) :?>
                                                                                        <tr class="row_painting">
                                                                                            <td>
                                                                                                <?php echo $painting['width']; ?>
                                                                                            </td>
                                                                                            <td>
                                                                                                <?php echo $painting['height']; ?>
                                                                                            </td>
                                                                                            <td>
                                                                                                <?php echo $painting['material_name']; ?>
                                                                                            </td>
                                                                                        </tr>
                                                                                    <?php endforeach; ?>
                                                                                </table>
                                                                            </div>


                                                                        </td>
                                                                    </tr>
                                                                <?php endforeach; ?>
                                                                </tbody>
                                                            </table>
                                                        </div>
                                                    </div>
                                                </td>

                                            </tr>
                                        <?php endforeach; ?>

                                        </tbody>
                                    </table>
                                </div>

                                <br>
                                <hr>



                            </div>
                        <?php else : ?>
                            <h4 style="margin-bottom:5px; color:#2aad6f">Hạng mục OPPO:</h4>

                            <div class="table_checkshop">
                                <table class="table">
                                    <tbody>
                                    <tr>
                                        <th>Hạng mục</th>
                                        <th>Đã đầu tư</th>
                                        <th>Hiện trạng</th>
                                    </tr>

                                    <?php foreach($this->checkshop_details as $key=>$value):?>
                                        <tr>
                                            <td><?php echo $value['category_name'];?></td>
                                            <td>1</td>
                                            <td>
                                                <label><?php echo $value['quantity'] ? $value['quantity'] : 0;?></label>
                                                <label><?php echo $value['imei_sn'] ? '('.str_replace('https://trade-marketing.opposhop.vn/tool/scan-imei?imei_sn=', '',$value['imei_sn']).')' : NULL;?></label>
                                            </td>

                                        </tr>
                                    <?php endforeach;?>

                                    </tbody>
                                </table>
                            </div>
                        <?php endif; ?>


                        <div>

                            <br>
                            <hr>

                            <br>
                            <h4 style="margin-bottom:5px;color:blue">Hạng mục hãng khác:</h4>

                            <table class="table">
                                <thead>
                                <tr>
                                    <th style="width:30%; text-align: center">Hãng</th>
                                    <th style="width:40%">Hạng mục</th>
                                    <th style="width:30%">Số lượng</th>
                                </tr>
                                </thead>
                                <tbody>
                                <?php foreach ($this->checkshopDetailBrand as $detail) :?>
                                    <tr>
                                        <td style="text-align: center"><?php echo $detail['brand_name']; ?></td>
                                        <td style="text-align: center"><?php echo $detail['category_name']; ?></td>
                                        <td style="text-align: center"><?php echo $detail['quantity']; ?></td>
                                    </tr>
                                <?php endforeach; ?>

                                </tbody>
                            </table>
                        </div>

                        <hr>
                        <br>
                        <?php if ($this->check_posm_stage) : ?>
                            <div>
                                <div class="header_tad" style="background: #fed700 ! important">
                                    <i class="icon-th"></i> KIỂM SOÁT POSM <span
                                            style="font-size:13px;color:red"></span>
                                </div>

                                <div style="border: 1px solid #fde55e; padding:10px; box-shadow: 4px 4px 5px 0px #eade96">
                                    <b style="color:#fed700; font-size:17px">- <?php echo $this->check_posm_stage['name']; ?></b>
                                    <br><i> (Từ <?php echo date('d/m/Y', strtotime($this->check_posm_stage['from_date'])); ?> đến <?php echo date('d/m/Y', strtotime($this->check_posm_stage['to_date'])); ?>)</i>
                                    <table class="table ">
                                        <thead>
                                        <tr>
                                            <th style="width:30%">Hạng mục</th>
                                            <th style="width:20%">Số lượng đăng ký</th>
                                            <th style="width:20%">Số lượng đã triển khai</th>
                                            <th style="width:30%">Ghi chú</th>
                                        </tr>
                                        </thead>
                                        <tbody>

                                        <?php foreach ($this->list_category_check_posm[$this->check_posm_stage['id']] as $category_posm_check) : ?>
                                        <tr>
                                            <td><?php echo $category_posm_check['category_name']; ?></td>
                                            <td><?php echo $category_posm_check['quantity']; ?></td>
                                            <td>
                                                <?php echo $category_posm_check['real_quantity'] ? $category_posm_check['real_quantity'] : ''; ?>
                                            </td>
                                            <td>
                                                <small><?php echo $category_posm_check['note']?></small>

                                            </td>

                                        </tr>
                                        </tbody>
                                        <?php endforeach; ?>
                                    </table>

                                    <hr>

                                </div>

                            </div>
                        <?php endif; ?>

                        <?php if ($this->is_store_error_btn): ?>
                            <div>
                                <b style="color: orangered">  <i class="icon-th"></i> KIỂM TRA LỖI BÀN TRẢI NGHIỆM 3.0</b>
                                <ul>
                                    <?php foreach ($this->current_error_btn as $error): ?>
                                        <li><b><?php echo $error['error']; ?></b>: <?php echo $error['note']; ?></li>
                                    <?php endforeach; ?>
                                </ul>

                            </div>
                        <?php endif; ?>


                        <?php if ($this->change_picture_stage) : ?>
                            <div>
                                <div class="header_tad" style="background: #30b8fe ! important">
                                    <i class="icon-th"></i> KIỂM SOÁT THAY TRANH
                                </div>

                                <div style="border: 1px solid #fde55e; padding:10px; box-shadow: 4px 4px 5px 0px #eade96">
                                    <b style="color:#4b6ffe; font-size:17px">- <?php echo $this->change_picture_stage['name']; ?></b>
                                    <br>
                                    <table class="table ">
                                        <thead>
                                        <tr>
                                            <th style="width:70%">Hạng mục tranh</th>
                                            <th style="width:20%">Trạng thái</th>

                                        </tr>
                                        </thead>
                                        <tbody>

                                        <?php foreach ($this->list_category_change_picture as $category_change_picture) : ?>
                                        <tr>
                                            <td><?php echo $category_change_picture['category_name']; ?></td>
                                            <td>
                                                <?php if ($category_change_picture['has_changed_picture'] == 1) : ?>
                                                    <b style="color: limegreen">Đã thay tranh</b>
                                                <?php else : ?>
                                                    <p>Chưa thay tranh</p>
                                                <?php endif; ?>
                                            </td>
                                        </tr>
                                        </tbody>
                                        <?php endforeach; ?>
                                    </table>

                                    <hr>

                                </div>

                            </div>
                        <?php endif; ?>

                        <br>


                        <div class="wrap_picture">
                            <div class="header_tad">
                                <i class="icon-picture"></i>  ẢNH CHECK SHOP <span style='font-size: 12px;color:red'><?php echo date('H:i d/m/Y', strtotime($this->checkshop['updated_at']));?></span>
                            </div>
                            <div class="img">
                                <table width="100%" class="table-img popup-gallery">
                                    <tr>
                                        <th >Hình ngoại thất</th>
                                        <th >Hình nội thất 1</th>
                                        <th >Hình nội thất 2</th>
                                    </tr>
                                    <tr >
                                        <?php foreach ($this->img_check as $key => $value): ?>
                                            <td>
<!--                                                <img src="--><?php //echo '/' . $value['url'];?><!--" alt=""  id="d--><?php //echo $key+1;?><!--" va="--><?php //echo $key+1;?><!--"  class="img_checkshop img-responsive">-->

                                                <a class="image" href="<?php echo '/' . $value['url'] ?>" title="The Cleaner"><img style="max-height:75px; max-width:75px;" src="<?php echo '/' . $value['url'] ?>" width="75" height="75"></a>

                                            </td>
                                        <?php endforeach; ?>
                                    </tr>

                                    <?php for($i=0; $i<ceil(count($this->img_different)/3);$i++) : ?>
                                        <tr>
                                            <?php for($j=0; $j< 3;$j++): ?>
                                                <?php  $a = $i*3 + $j; ?>
                                                <?php if(!empty($this->img_different[$a]['url'])): ?>
                                                    <td>
<!--                                                        <img src="--><?php //echo '/' .$this->img_different[$a]['url'];?><!--" alt="" id="d--><?php //echo $a+4;?><!--" va="--><?php //echo $a+4;?><!--" class="img_checkshop img-responsive">-->

                                                        <a class="image" href="<?php echo '/' . $this->img_different[$a]['url'] ?>" title="The Cleaner"><img style="max-height:75px; max-width:75px;" src="<?php echo '/' . $this->img_different[$a]['url'] ?>" width="75" height="75"></a>

                                                    </td>


                                                <?php endif; ?>
                                            <?php endfor; ?>
                                        </tr>
                                    <?php endfor; ?>

                                </table>
                            </div>
                        </div><!-- wrap_picture -->


                        <?php if($this->img_check_list):?>
                            <?php foreach($this->img_check_list as $key=>$value):?>
                                <div class="wrap_picture">
                                    <div class="header_tad">
                                        <i class="icon-picture"></i>  ẢNH CHECK SHOP <span style='font-size: 12px;color:red'><?php echo date('H:i d/m/Y', strtotime($value[0]['updated_at']));?></span>
                                    </div>
                                    <div class="img">
                                        <table width="100%" class="table-img popup-gallery">
                                            <tr>
                                                <th>Hình ngoại thất</th>
                                                <th>Hình nội thất 1</th>
                                                <th>Hình nội thất 2</th>
                                            </tr>
                                            <tr>
                                                <?php foreach ($value as $k => $v): ?>
                                                    <td>
<!--                                                        <img src="--><?php //echo  '/' . $v['url'];?><!--" alt=""  id="d--><?php //echo $k+1;?><!--" va="--><?php //echo $k+1;?><!--"  class="img_checkshop img-responsive">-->

                                                        <a class="image" href="<?php echo '/' . $v['url'] ?>" title="The Cleaner"><img style="max-height:75px; max-width:75px;" src="<?php echo '/' . $v['url'] ?>" width="75" height="75"></a>

                                                    </td>
                                                <?php endforeach; ?>
                                            </tr>

                                            <?php for($i=0; $i<ceil(count($this->img_different_list[$key])/3);$i++) : ?>
                                                <tr>
                                                    <?php for($j=0; $j< 3;$j++): ?>
                                                        <?php  $a = $i*3 + $j; ?>
                                                        <?php if(!empty($this->img_different_list[$key][$a]['url'])): ?>
                                                            <td>
<!--                                                                <img src="--><?php //echo '/' . $this->img_different_list[$key][$a]['url'];?><!--" alt="" id="d--><?php //echo $a+4;?><!--" va="--><?php //echo $a+4;?><!--" class="img_checkshop img-responsive">-->
                                                                <a class="image" href="<?php echo '/' . $this->img_different_list[$key][$a]['url'] ?>" title="The Cleaner"><img style="max-height:75px; max-width:75px;" src="<?php echo '/' . $this->img_different_list[$key][$a]['url'] ?>" width="75" height="75"></a>
                                                            </td>
                                                        <?php endif; ?>
                                                    <?php endfor; ?>
                                                </tr>
                                            <?php endfor; ?>

                                        </table>
                                    </div>
                                </div>
                            <?php endforeach;?>
                        <?php endif;?>


<!--                        --><?php //if( in_array($this->title, [SALES_TITLE, SALES_LEADER_TITLE, TRADE_MARKETING_EXECUTIVE, TRADE_MARKETING_LEADER, TRADE_MARKETING_SUPERVISOR, TRADE_MARKETING_LEADER_HO]) ):?>
<!--                            <div class="wrap_picture">-->
<!--                                <div style="background: #2aad6f; color: white" class="header_tad point-hand" data-toggle="collapse" href="#collapseExample" role="button" aria-expanded="false" aria-controls="collapseExample">-->
<!--                                    <i class="icon-thumbs-up"></i>  ĐÁNH GIÁ HÌNH ẢNH OPPO-->
<!--                                </div>-->
<!---->
<!--                                <form action="/trade/checkshop-qc" method="POST" enctype="multipart/form-data" class="collapse" id="collapseExample">-->
<!--                                    <div class="img">-->
<!---->
<!--                                        <div class="control-group">-->
<!--                                            <label class="control-label"><b style="color:#4F81BD">Lịch sử đánh giá:</b></label>-->
<!--                                            <div class="controls">-->
<!--                                                <table class="table">-->
<!--                                                    --><?php //foreach($this->month_qc as $key=>$value):?>
<!--                                                        <tr>-->
<!--                                                            <td rowspan="--><?php //echo count($value)+1;?><!--">--><?php //echo $key;?><!--</td>-->
<!--                                                        </tr>-->
<!--                                                        --><?php //foreach($value as $k=>$v):?>
<!--                                                            <tr>-->
<!--                                                                <td>--><?php //echo $v['type_name'];?><!--</td>-->
<!--                                                                <td>--><?php //echo $v['title'];?><!--</td>-->
<!--                                                                <td>--><?php //echo $v['note'];?><!--</td>-->
<!--                                                            </tr>-->
<!--                                                        --><?php //endforeach;?>
<!--                                                    --><?php //endforeach;?>
<!--                                                </table>-->
<!--                                            </div>-->
<!--                                        </div>-->
<!---->
<!---->
<!--                                        --><?php //if( in_array($this->title, [TRADE_MARKETING_EXECUTIVE, TRADE_MARKETING_LEADER]) ):?>
<!--                                            --><?php //if($this->eligible['eligible'] >= $this->rule_number_eligible):?>
<!---->
<!--                                                <div class="control-group">-->
<!--                                                    <label class="control-label"><b style="color:#4F81BD">Đánh giá tháng --><?php //echo date('m', strtotime($this->checkshop['created_at']));?><!--:</b></label>-->
<!--                                                    <div class="controls">-->
<!--                                                        <select class="span3" name="type" required="">-->
<!--                                                            <option value="">-- Loại đánh giá --</option>-->
<!--                                                            --><?php //foreach($this->type_qc as $key=>$value):?>
<!--                                                                <option value="--><?php //echo $key;?><!--">--><?php //echo $value;?><!--</option>-->
<!--                                                            --><?php //endforeach;?>
<!--                                                        </select>-->
<!--                                                    </div>-->
<!--                                                    <div class="controls">-->
<!--                                                        <select class="span3" name="qc_id" required="">-->
<!--                                                            <option value="">-- Chọn đánh giá --</option>-->
<!--                                                            --><?php //foreach($this->checkshop_qc as $key=>$value):?>
<!--                                                                <option value="--><?php //echo $key;?><!--">--><?php //echo $value;?><!--</option>-->
<!--                                                            --><?php //endforeach;?>
<!--                                                        </select>-->
<!--                                                    </div>-->
<!---->
<!--                                                    <label class="control-label"><b style="color:#4F81BD">Note:</b></label>-->
<!--                                                    <div class="controls">-->
<!--                                                        <textarea class="span3" name='note'></textarea>-->
<!--                                                    </div>-->
<!---->
<!--                                                    <div class="controls">-->
<!--                                                        <input type="hidden" name='checkshop_id' value="--><?php //echo $this->checkshop['id'];?><!--"/>-->
<!--                                                        <button type="submit" class="btn btn-primary">Save</button>-->
<!--                                                    </div>-->
<!---->
<!--                                                </div>-->
<!---->
<!--                                            --><?php //else:?>
<!---->
<!--                                                <div class="control-group">-->
<!--                                                    <label class="control-label"><b style="color:#4F81BD">Shop chưa đủ số lượng checkshop trong tháng  --><?php //echo date('m', strtotime($this->checkshop['created_at']));?><!-- để đánh giá.</b></label>-->
<!--                                                </div>-->
<!---->
<!--                                            --><?php //endif;?>
<!---->
<!--                                        --><?php //endif;?>
<!---->
<!--                                    </div>-->
<!--                                </form>-->
<!--                            </div>
                      --><?php //endif; ?>

                        <!--Author : Trang-->
<!--                        --><?php //if( in_array($this->title, [SALES_TITLE, SALES_LEADER_TITLE, TRADE_MARKETING_EXECUTIVE, TRADE_MARKETING_LEADER, TRADE_MARKETING_SUPERVISOR, TRADE_SUPERVISOR_REALME_TITLE, TRADE_MARKETING_LEADER_HO]) ):?>
<!--                            <div class="wrap_picture">-->
<!--                                <div style="background: #ffc368;" class="header_tad point-hand" data-toggle="collapse" href="#collapseExample2" role="button" aria-expanded="false" aria-controls="collapseExample2">-->
<!--                                    <i class="icon-thumbs-up"></i>  ĐÁNH GIÁ HÌNH ẢNH REALME-->
<!--                                </div>-->
<!---->
<!--                                <form action="/trade/checkshop-qc-realme" method="POST" enctype="multipart/form-data" class="collapse" id="collapseExample2">-->
<!--                                    <div class="img">-->
<!---->
<!--                                        <div class="control-group">-->
<!--                                            <label class="control-label"><b style="color:#4F81BD">Lịch sử đánh giá:</b></label>-->
<!--                                            <div class="controls">-->
<!--                                                <table class="table">-->
<!--                                                    --><?php //foreach($this->month_qc_realme as $key=>$value):?>
<!--                                                        <tr>-->
<!--                                                            <td rowspan="--><?php //echo count($value)+1;?><!--">--><?php //echo $key;?><!--</td>-->
<!--                                                        </tr>-->
<!--                                                        --><?php //foreach($value as $k=>$v):?>
<!--                                                            <tr>-->
<!--                                                                <td>--><?php //echo $v['type_name'];?><!--</td>-->
<!--                                                                <td>--><?php //echo $v['title'];?><!--</td>-->
<!--                                                                <td>--><?php //echo $v['note'];?><!--</td>-->
<!--                                                            </tr>-->
<!--                                                        --><?php //endforeach;?>
<!--                                                    --><?php //endforeach;?>
<!--                                                </table>-->
<!--                                            </div>-->
<!--                                        </div>-->
<!---->
<!---->
<!--                                        --><?php //if( in_array($this->title, [TRADE_MARKETING_EXECUTIVE, TRADE_SUPERVISOR_REALME_TITLE]) ):?>
<!--                                            --><?php //if($this->eligible['eligible'] >= $this->rule_number_eligible):?>
<!---->
<!--                                                <div class="control-group">-->
<!--                                                    <label class="control-label"><b style="color:#4F81BD">Đánh giá tháng --><?php //echo date('m', strtotime($this->checkshop['created_at']));?><!--:</b></label>-->
<!--                                                    <div class="controls">-->
<!--                                                        <select class="span3" name="type_realme" required="">-->
<!--                                                            <option value="">-- Loại đánh giá --</option>-->
<!--                                                            --><?php //foreach($this->type_qc_realme as $key=>$value):?>
<!--                                                                <option value="--><?php //echo $key;?><!--">--><?php //echo $value;?><!--</option>-->
<!--                                                            --><?php //endforeach;?>
<!--                                                        </select>-->
<!--                                                    </div>-->
<!--                                                    <div class="controls">-->
<!--                                                        <select class="span3" name="qc_id_realme" required="">-->
<!--                                                            <option value="">-- Chọn đánh giá --</option>-->
<!--                                                            --><?php //foreach($this->checkshop_qc_realme as $key=>$value):?>
<!--                                                                <option value="--><?php //echo $key;?><!--">--><?php //echo $value;?><!--</option>-->
<!--                                                            --><?php //endforeach;?>
<!--                                                        </select>-->
<!--                                                    </div>-->
<!---->
<!--                                                    <label class="control-label"><b style="color:#4F81BD">Note:</b></label>-->
<!--                                                    <div class="controls">-->
<!--                                                        <textarea class="span3" name='note_realme'></textarea>-->
<!--                                                    </div>-->
<!---->
<!--                                                    <div class="controls">-->
<!--                                                        <input type="hidden" name='checkshop_id_realme' value="--><?php //echo $this->checkshop['id'];?><!--"/>-->
<!--                                                        <button type="submit" class="btn btn-primary">Save</button>-->
<!--                                                    </div>-->
<!---->
<!--                                                </div>-->
<!---->
<!--                                            --><?php //else:?>
<!---->
<!--                                                <div class="control-group">-->
<!--                                                    <label class="control-label"><b style="color:#4F81BD">Shop chưa đủ số lượng checkshop trong tháng  --><?php //echo date('m', strtotime($this->checkshop['created_at']));?><!-- để đánh giá.</b></label>-->
<!--                                                </div>-->
<!---->
<!--                                            --><?php //endif;?>
<!---->
<!--                                        --><?php //endif;?>
<!---->
<!--                                    </div>-->
<!--                                </form>-->
<!--                            </div>
                        --><?php //endif; ?>
                        <!--Author : Trang-->

                        <?php if( in_array($this->title, [TRADE_MARKETING_EXECUTIVE, TRADE_MARKETING_LEADER, TRADE_MARKETING_SUPERVISOR, 637]) ):?>
                            <div class="wrap_picture">
                                <div class="header_tad">
                                    <i class="icon-lock"></i>  XÁC NHẬN SỐ LƯỢNG
                                </div>

                                <form id="form_local_confirm" action="/trade/checkshop-qc" method="POST" enctype="multipart/form-data">
                                    <div class="img">

                                        <?php if(empty($this->lock_store)):?>
                                            <div class="control-group">
                                                <label class="control-label"><b style="color:#4F81BD">TMK Local: Xác nhận số lượng hạng mục checkshop đúng với thực tế.</b></label>
                                                <div class="controls">
                                                    <input type="hidden" name='checkshop_id' value="<?php echo $this->checkshop['id'];?>"/>
                                                    <input type="hidden" name='lock' value='1' />
                                                    <button type="submit" class="btn btn-primary">Xác nhận</button>
                                                </div>
                                            </div>


                                            <!-- Trigger the modal with a button -->
                                            <!--                                            <button type="button" class="btn btn-info btn-lg" data-toggle="modal" data-target="#modal_local_confirm">Xác nhận</button>-->

                                            <!-- Modal -->
                                            <div id="modal_local_confirm" class="modal fade" role="dialog">
                                                <div class="modal-dialog">

                                                    <!-- Modal content-->
                                                    <div class="modal-content">
                                                        <div class="modal-body">
                                                            <p>Bạn có chắc muốn xác nhận số lượng shop này ? </p>
                                                            <h4 >Chú ý: Sau khi xác nhận sẽ <span style="color: red">KHÔNG THỂ HỦY
                                                                </span></h4>
                                                        </div>
                                                        <div class="modal-footer">
                                                            <button type="submit" class="btn btn-success" data-dismiss="modal" id="btn_local_confirm">Xác nhận</button>
                                                            <button type="button" class="btn btn-default" data-dismiss="modal">Đóng</button>
                                                        </div>
                                                    </div>

                                                </div>
                                            </div>

                                        <?php else:?>
                                            <div class="control-group">
                                                <label class="control-label"><b style="color:#4F81BD">Shop đã được TMK Local xác nhận số lượng.</b></label>
                                                <!--                                            --><?php //if( in_array($this->staff_id, $this->special_user) ):?>
                                                <!--                                            --><?php //if( in_array($this->title, [TRADE_MARKETING_EXECUTIVE, TRADE_MARKETING_LEADER, TRADE_MARKETING_LEADER_HO]) ):?>
                                                <?php if( in_array($this->title, [TRADE_MARKETING_LEADER_HO]) ):?>
                                                    <div class="controls">
                                                        <input type="hidden" name='checkshop_id' value="<?php echo $this->checkshop['id'];?>"/>
                                                        <input type="hidden" name='remove_lock' value='1' />
                                                        <!--                                                    <button type="submit" class="btn btn-danger">Hủy Xác nhận</button>-->
                                                    </div>
                                                <?php endif;?>

                                            </div>
                                        <?php endif;?>

                                    </div>

                                </form>
                            </div><!-- wrap_picture -->
                        <?php endif;?>





                        <div style="text-align: center; margin-top: 15px;">
                            <a class="btn btn-default btn_go_back p-2" style="height: 33px;"><p>Quay lại</p></a>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>





<style type="text/css">
    .img_full{position: fixed;width: 100%;top:0px;right: 0px;bottom: 0px;left: 0px;background: rgba(255,255,255,1);z-index: 10000;display: none;overflow: scroll;}
    .img_full img{width:100%; height:auto; top:6%;position: absolute;max-width: 500px;margin:0 auto;left: 0;right: 0}
    .pre{

        z-index:1000000;
        position: absolute;
        left: 10px;
        font-size: 20px;
        line-height: 350px;

    }

    .net{

        z-index:10000000;
        position: absolute;
        right: 40px;
        font-size: 20px;
        line-height: 350px;
    }
    .net img{
        height: 100px;
        width: 30px;
        margin-top: 70px;
    }
    .pre img{
        height: 100px;
        width: 30px;
        margin-top: 70px;
    }
    .img_jum{
        height: 300px;
    }
    .close_img_full{
        background-color: #04040429;
        height: 35px;
        opacity: 1;
    }

</style>



<!-- slide cho hình ảnh design -->
<div class="img_full">
    <div class="close_img_full"><a class="btn btn-danger icon-remove" style=" width: 30px; float: right; font-size: 20px; margin-left: 50px;margin-top: 3px;  color:white; height: 24px;"></a></div>
    <div class="img_des">
        <img src="" alt="" width="100%" height="100%" class="img_jum">
    </div>
    <span class="pre"><img src="<?php echo HOST.'images/prev.png'?>" alt="..."></span>
    <span class="net"><img src="<?php echo HOST.'images/next.png'?>" alt="..."></span>
</div>



<script type="text/javascript" src="/js/sweetalert2.all.min.js"></script>
<link rel="stylesheet" href="/js/slide-image/magnific-popup.css">
<script src="/js/slide-image/jquery.magnific-popup.js"></script>
<script>
    // $(window).on('load', function() {
    //     // Animate loader off screen
    //     $("#loading-image").fadeOut("slow");
    // });

    $(document).ready(function () {
        // silde image
        $('.image').click(function () {
            var popup_gallery = $(this).parents('.popup-gallery');
            popup_gallery.magnificPopup({
                delegate: 'a',
                type: 'image',
                tLoading: 'Loading image #%curr%...',
                mainClass: 'mfp-img-mobile',
                gallery: {
                    enabled: true,
                    navigateByImgClick: true,
                    preload: [0,1] // Will preload 0 - before current, and 1 after the current image
                },
                image: {
                    tError: '<a href="%url%">The image #%curr%</a> could not be loaded.',
                    titleSrc: function(item) {
                        // return item.el.attr('title') + '<small>by Marsel Van Oosten</small>';
                    }
                }
            });

        })
        // end slide image



        $('.row_table_detail').each(function () {
            var hasType = $(this).attr('has_type');
            var hasWidth = $(this).attr('has_width');
            var hasMaterial = $(this).attr('has_material');
            var hasPainting = $(this).attr('has_painting');
            var categoryId = $(this).attr('category_id');

            var hasWidthClass = $(this).find('.has_width');
            var hasTypeClass = $(this).find('.has_type');
            var hasMaterialClass = $(this).find('.has_material');
            var hasPaintingClass = $(this).find('.has_painting');
            var realWidthClass = $(this).find('.real_width');
            var categoryTypeChild = $(this).find('.category_type_child');

            var inputWidth = $(this).find('.input_width');
            var inputHeight = $(this).find('.input_height');
            var selectType = $(this).find('.select_type');


            if (hasType == 1) {
                if (categoryId == 1) { // tủ trưng bày
                    categoryTypeChild.attr('style', 'display: table-cell !important');
                }
                hasTypeClass.attr('style', 'display: table-cell !important');
            }

            if (hasWidth == 1 ) {
                if (categoryId == 50) { // cột hình ảnh
                    realWidthClass.hide();
                }
                hasWidthClass.attr('style', 'display: table-cell !important');
            }

            if (hasMaterial == 1) {
                hasMaterialClass.attr('style', 'display: table-cell !important');
            }

            if (hasPainting == 1) {
                hasPaintingClass.attr('style', 'display: table-cell !important');
            }

        });
        $(document).on('click', '.btn_collapse' ,function() {
            var show = $(this).find('i').attr('show');
            if (show == 0) {
                $(this).find('i').attr('show', 1);
                $(this).find('i').attr('class', 'icon icon-chevron-up');
            }
            if (show == 1) {
                $(this).find('i').attr('show', 0);
                $(this).find('i').attr('class', 'icon icon-chevron-down');
            }

        });
        $('.btn_go_back').click(function () {
            history.back();
        });

        //Shop size
        $('.btn_shop_size').click(function () {
            var store_id = $(this).attr('store_id');
            var shop_size_type1 = $('.shop_size_type1:checked').val();
            var shop_size_type2 = $('.shop_size_type2:checked').val();
            $.ajax({
                url: '/trade/save-shop-size',
                type: 'post',
                data: {
                    store_id: store_id,
                    shop_size_type1: shop_size_type1,
                    shop_size_type2: shop_size_type2
                },
                dataType: 'json',
                success: function (data) {
                    if (data.status === 0) {
                        Swal.fire({
                            type: 'success',
                            title: '',
                            showConfirmButton: false,
                            timer: 700
                        });
                    } else {
                        Swal.fire({
                            type: 'warning',
                            title: data.message,
                            showConfirmButton: false,
                            timer: 1500
                        });
                    }
                }
            });

        });
        //END Shop size

        // xác nhận realme
        $('#confirm_quantity_realme').click(function () {
            var checkshop_id = $(this).attr('checkshop_id');
            var store_id = $(this).attr('store_id');
            Swal.fire({
                title: 'Are you sure ?',
                icon: 'warning',
                showCancelButton: true,
                confirmButtonColor: '#3085d6',
                cancelButtonColor: '#d33',
                confirmButtonText: 'Yes'
            }).then((result) => {
                if (result.value) {
                    $.ajax({
                        url: '/trade/confirm-quantity-realme',
                        type: 'post',
                        data: {
                            checkshop_id : checkshop_id,
                            store_id : store_id
                        },
                        dataType: 'json',
                        success: function (data) {
                            if (data.status === 0) {
                                Swal.fire({
                                    type: 'success',
                                    title: 'Thành công',
                                    showConfirmButton: false,
                                    timer: 1500
                                });

                                setTimeout(function() {
                                    location.reload();
                                },700)
                            } else {
                                Swal.fire({
                                    type: 'warning',
                                    title: data.message,
                                    showConfirmButton: false,
                                    timer: 5000
                                });
                            }
                        }
                    });
                }
            });
        })
    });


    $(document).on('click', ".img_checkshop", function() {
        var src = $(this).attr('src');
        $('.img_full').find('.img_des img').attr('src', src);
        $('.img_full').show();
        ///---next prev giữa ảnh
        var height = $('.img_full img').css('height');
        $('.net img').css('margin-top',parseInt(height)/3);
        $('.pre img').css('margin-top',parseInt(height)/3);
        ///---
        var va = $(this).attr('va');
        $('.pre').attr('va',parseInt(va)-1);
        $('.net').attr('va',parseInt(va)+1);

    });
    $(document).on('click', ".net", function() {
        cont = $('.table-img').find('tr').find('img').length;

        var net = $(this).attr('va');
        var src = $('#d'+net+'').attr('src');
        $('.img_full').find('.img_des img').attr('src', src);
        $('.img_full').show();
        ///---next prev giữa ảnh
        var height = $('.img_full img').css('height');
        $('.net img').css('margin-top',parseInt(height)/3);
        $('.pre img').css('margin-top',parseInt(height)/3);
        ///---

        $('.net').attr('va',parseInt(net)+1);

        $('.pre').attr('va',parseInt(net));

        if(net==cont || net>cont)
        {
            net=1;
            $('.net').attr('va',parseInt(net));
        }

    });
    $(document).on('click', ".pre", function() {
        cont = $('.table-img').find('tr').find('img').length;
        var pre = $(this).attr('va');

        var src = $('#d'+pre+'').attr('src');
        $('.img_full').find('.img_des img').attr('src', src);
        $('.img_full').show();
        ///---next prev giữa ảnh
        var height = $('.img_full img').css('height');
        $('.net img').css('margin-top',parseInt(height)/3);
        $('.pre img').css('margin-top',parseInt(height)/3);
        ///---
        if(pre==0)
        {
            pre=cont+1;
        }
        $('.pre').attr('va',parseInt(pre)-1);
        $('.net').attr('va',parseInt(pre));

    });


    $(document).on('click', ".close_img_full", function() {
        $('.img_full').hide();
    });
    $('#btn_local_confirm').click(function() {
        $('#form_local_confirm').submit();
    });
    $('#btn_leader_confirm').click(function() {
        $('#form_leader_confirm').submit();
    });


    $('#open_size').click(function() {
        $('#shop_size_box').slideToggle();
    });


</script>


