<style type="text/css">
    table {
      position: relative;
      width: 1000px;
      overflow: hidden;
      border-collapse: collapse;
    }


    /*thead*/
    thead {
      position: relative;
      display: block; /*seperates the header from the body allowing it to be positioned*/
      width: 1000px;
      overflow: visible;
    }

    thead th {
      background-color: #99a;
      min-width: 100px;
      height: 32px;
      border: 1px solid #222;
      font-size: 11px
    }

    thead th:nth-child(1) {/*first cell in the header*/
      position: relative;
      background-color: #f5f5f5;
      width:100px;
    }


    /*tbody*/
    tbody {
      position: relative;
      display: block; /*seperates the tbody from the header*/
      width: 1000px;
      height: 400px;
      overflow: scroll;
    }

    tbody td {
      min-width: 100px;
      border: 1px solid #222;
      padding: 5px;
      width: 100px;
    }

    tbody tr td:nth-child(1) {  /*the first cell in each tr*/
      position: relative;
      display: block; /*seperates the first column from the tbody*/
      height: 60px;
      background-color: #f5f5f5;
      width:100px;
    }

    table tr th{padding: 5px;width:100px}

    .confirmLink{margin: 0px auto;display: block;padding: 2px 8px;font-size: 12px;}
    .container-fluid a{cursor: pointer;}
    .input_quantity{width:40px;display: none}
    .total_row{font-size: 11px;color:red;}
    .header{display: table-row;}
</style>

<div class="content-layout">
    <div class="page-header">
        <h1>Xác nhận <b style="color:red"><?php echo $this->campaign['name'];?></b></h1>
    </div><!-- page-header -->


    <div class="container-fluid">

        <?php
            if (isset($this->messages) and $this->messages)
                foreach ($this->messages as $message):
                    echo '<div class="alert alert-success">'.$message.'</div>';
                endforeach;

            if (isset($this->messages_error) and $this->messages_error)
                foreach ($this->messages_error as $message):
                    echo '<div class="alert alert-error">'.$message.'</div>';
                endforeach;
        ?>

        <section class="">

          <form action="/trade/view-posm" method="POST" enctype="multipart/form-data">
          <div class="container">

            <table>
              <thead>
                <tr class="header">
                    <th>Khu vực</th>
                    <th>Trạng thái</th>
                    <th>Action</th>
                    <?php foreach($this->category_campaign as $key=>$value):?>
                    <th><?php echo $value['name'];?></th>
                    <?php endforeach;?>

                </tr>
                <tr class="header">
                    <th class="sum"></th>
                    <th></th>
                    <th></th>
                    
                    <?php foreach($this->category_campaign as $key=>$value):?>
                    <th class="total_column total_price_<?php echo $value['id'];?>"></th>
                    <?php endforeach;?>

                </tr>
            </thead>
            
            <tbody>
            <?php foreach($this->area as $key=>$value):?>
            <tr>
                <td>
                  <?php echo $value;?><br>
                  <b class="total_row total_price_area_<?php echo $key;?>">0</b>
                  <input type="hidden" name="area_confirm[]" value="<?php echo $key;?>">
                </td>
                <td>
                    <label style='color:#012bff' class="status_area_<?php echo $key;?>"><?php echo $this->area_status[$key]['name'];?></label>
                </td>
                <td>
                    <div class="confirm_area_<?php echo $key;?>">
                        
                    </div>
                </td>

                <?php foreach($this->category_campaign as $k=>$v):?>
                <?php $quantity_limit = !empty($this->data[$key][$v['category_id']]['quantity_limit']) ? $this->data[$key][$v['category_id']]['quantity_limit'] : 0;?>

                <?php $quantity_order = !empty($this->data[$key][$v['category_id']]['quantity']) ? $this->data[$key][$v['category_id']]['quantity'] : 0;?>

                <?php $price = !empty($this->data_price[$key][$v['category_id']]['price']) ? $this->data_price[$key][$v['category_id']]['price'] : 0;?>
                
                <?php 
                  $color = '#008b56';
                  if((int)$quantity_order > (int)$quantity_limit){
                    $color = 'red';
                  } 
                ?>

                <td>
                    
                    <?php if((int)$quantity_order > 0):?>

                    <?php if((int)$quantity_order > (int)$quantity_limit):?>

<!--                    <a class="quantity_limit" category='<?php echo $v['category_id'];?>' style='color:<?php echo $color;?>'
                      data-toggle="tooltip" title="Hạn mức: <?php echo $quantity_limit;?>">(<?php echo $quantity_limit;?>)</a><br/>-->

                    <?php endif;?>

<!--                    <a class="quantity" category='<?php echo $v['category_id'];?>' style='color:<?php echo $color;?>'
                      data-toggle="tooltip" title="Hạn mức: <?php echo $quantity_limit;?>"><?php echo $quantity_order;?></a>-->
                    
                    <a class="quantity" category='<?php echo $v['category_id'];?>' style='color:<?php echo $color;?>'><?php echo $quantity_order;?></a>

                    <input type="text" value='<?php echo $quantity_order;?>' class="input_quantity" name='quantity_order[]' disabled='disabled'>
                    <input type="hidden" name="category_id[]" value="<?php echo $v['category_id'];?>" disabled='disabled'>
                    <input type="hidden" name="area_id[]" value="<?php echo $key;?>" disabled='disabled'>
                    <input type="hidden" name="price[]" class="price price_<?php echo $v['category_id'];?> price_area_<?php echo $key;?>" value="<?php echo $price;?>" disabled='disabled'>

                    <?php endif;?>
                </td>
                <?php endforeach;?>

            </tr>
            <?php endforeach;?>
            </tbody>
            </table>

            <input type="hidden" name="campaign_id" value="<?php echo $this->campaign['id'];?>">
            <?php if(in_array($this->min_status, $this->status_title) AND $this->min_status == $this->max_status):?>
            <!--<button type="submit" class="btn btn-success btn_submit" name="submit" value="1">Xác nhận</button>-->
            <?php endif;?>

            <!-- Trường hợp KV ko có ASM , RSM confirm -->
            
            <?php if( ($this->staff_title == 465 OR $this->staff_title == 466) AND in_array($this->min_status, $this->status_title) AND $this->min_status != $this->max_status):?>
            <!--<button type="submit" class="btn btn-success btn_submit" name="submit" value="1">Xác nhận</button>-->
            <?php endif;?>
            <!-- END Trường hợp KV ko có ASM , RSM confirm -->


        </div>
         <input type="submit" name="export" class="btn btn-success" value="Export">
        </form>
        

        </section>

    </div><!-- container-fluid -->

</div><!-- content layout-->

<script type="text/javascript">
    $(document).ready(function() {

      sum_total();

      $('[data-toggle="tooltip"]').tooltip(); 

      $('tbody').scroll(function(e) { //detect a scroll event on the tbody
        /*
        Setting the thead left value to the negative valule of tbody.scrollLeft will make it track the movement
        of the tbody element. Setting an elements left value to that of the tbody.scrollLeft left makes it maintain             it's relative position at the left of the table.    
        */
        $('thead').css("left", -$("tbody").scrollLeft()); //fix the thead relative to the body scrolling
        $('thead th:nth-child(1)').css("left", $("tbody").scrollLeft()); //fix the first cell of the header
        $('tbody td:nth-child(1)').css("left", $("tbody").scrollLeft()); //fix the first column of tdbody
      });
    });

    $( ".quantity" ).click(function(e) {
      /*
        e.preventDefault(); 
        $(this).hide();
        $(this).closest('td').find('input').removeAttr('disabled');
        $(this).closest('td').find('.input_quantity').show();
        $(this).closest('td').find('.input_quantity').focus();
      */
    });

    $(".input_quantity").focusout(function(){
        $(this).hide();

        quantity = $(this).val();
        $(this).closest('td').find('.quantity').html(quantity);
        $(this).closest('td').find('.quantity').show();

        sum_total();

    });


    function sum_total(){
      sum = 0;
      /* Tính tổng tiền */
      <?php foreach($this->category_campaign as $k=>$v):?>
      var total_price_<?php echo $v['category_id'];?> = 0;
      $('.price_<?php echo $v['category_id'];?>').each(function() {
          var price = $(this);
          var q = price.closest('td').find('.quantity').html();
          total_price_<?php echo $v['category_id'];?> += parseInt(price.val()) * parseInt(q);
      });

      $('.total_price_<?php echo $v['category_id'];?>').html(formatMoney(total_price_<?php echo $v['category_id'];?>, ''));

      sum += total_price_<?php echo $v['category_id'];?>;
      <?php endforeach;?>
      $('.sum').html(formatMoney(sum,''));
      /* END Tính tổng tiền */


      /* Tính tổng tiền cho khu vực */
      <?php foreach($this->area as $k=>$v):?>
      total_price_area_<?php echo $k;?> = 0;
      $('.price_area_<?php echo $k;?>').each(function() {
          var price = $(this);
          var q = price.closest('td').find('.quantity').html();
          total_price_area_<?php echo $k;?> += parseInt(price.val()) * parseInt(q);
      });
      $('.total_price_area_<?php echo $k;?>').html(formatMoney(total_price_area_<?php echo $k;?>, ''));
      <?php endforeach;?>
      /* END Tính tổng tiền cho khu vực */

    }

    function formatMoney(n, currency) {
        return n.toFixed(0).replace(/./g, function(c, i, a) {
            return i > 0 && c !== "." && (a.length - i) % 3 === 0 ? "," + c : c;
        })+" "+currency;
    }

</script>

<script type="text/javascript" src="/js/jquery-ui-1.8.12.custom.min.js"></script>
<link rel="stylesheet" type="text/css" href="/css/jquery-ui-1.8.12.custom.css"/>

<script>
    $("#dialog").dialog({
        autoOpen: false,
        modal: true
    });
    $(".confirmLink").click(function(e) {
        var area_id = $(this).attr('area_id');
        var area_name = $(this).attr('area_name');
        var campaign_id = $(this).attr('campaign_id');
        
        $("#dialog").html("Xác nhận đơn hàng cho khu vực "+area_name);

        $("#dialog").dialog({
            buttons : {
                "Confirm" : function() {
                    $.ajax({
                            url: "/trade/confirm-posm-ajax",
                            type: "GET",
                            dataType: "text",
                            context: this,
                            data: "area_id="+area_id+"&area_name="+area_name+"&campaign_id="+campaign_id,
                            beforeSend: function() {
                                                       
                            },
                            success: function(result){

                                if(result)
                                {
                                    var data = jQuery.parseJSON(result);
                                    if(data.code == 1){
                                        $(this).hide();
                                        $('.status_area_'+area_id).html(data.status);
                                        $('.confirm_area_'+area_id).html(" ");
                                        $(this).dialog("close");
                                    }
                                    else{
                                        alert(data.message);
                                    }
                                }
                                else
                                {   
                                    alert("Error Ajax: Result NULL");
                                }

                            },
                            error:function(){
                                alert("Error Ajax");
                            }
                    });
                },
                "Cancel" : function() {
                    $(this).dialog("close");
                }
            }
        });

        $("#dialog").dialog("open");
    });
</script>
<div id="dialog" title="Xác nhận đơn hàng">
    Are you sure about this?
</div>

