<head>
    <script src="<?php echo HOST; ?>form-builder/assets/js/sweetalert.min.js"></script>
</head>
<style type="text/css">
    .quantity_checkshop {
        width: 50px;
        margin-top: 10px;
        text-align: right;
    }

    .table_checkshop {
        margin-bottom: 10px
    }

    .table_checkshop tr td {
        text-align: center;
        padding: 2px
    }

    .inputfile {
        width: 0.1px;
        height: 0.1px;
        opacity: 0;
        overflow: hidden;
        position: absolute;
        z-index: -1;
    }

    .content_tad table tr th {
        padding: 2px
    }

    .content_layout {
        overflow-y: -webkit-paged-x;
    }

    .btn {
        padding: 2px 4px;
    }

    .imei_qrcode {
        font-size: 7px
    }

    .btn_file {
        font-size: 7px
    }

    .img {
        margin-top: 20px;
        text-align: center;
    }

    .label-control {
        font-size: 15px;
        text-align: center;
    }

    .img_checkshop {
        width: 100px;
    }

    #imei_width span {
        font-size: 12px;
        color: white;
        background-color: #19bc9c;
        padding: 3px;
    }

    .wrap_picture {
        border: 1px solid #ddd;
        margin-top: 10px
    }

    .wrap_picture .img {
        padding: 10px;
        margin-top: 5px;
        text-align: left;
    }

    #map {
        height: 400px;
        width: 100%;
    }

    .btn_add {
        font-size: 22px
    }

    .btn_minus {
        font-size: 42px
    }
</style>

<div class="content-layout">
    <div class="row">

        <div class="span6">
            <div class="table_main" style="margin-top: 7px;">
                <div class="header_tad">
                    <i class="icon-list-alt"></i> ĐÁNH GIÁ HÌNH ẢNH <span
                            style="font-size:13px;color:red"></span>
                </div>

                <div class="content_tad">

                    <div class="content_content" style="min-height: 405px;">
                        <?php
                        if (isset($this->messages_error) and $this->messages_error)
                            foreach ($this->messages_error as $message):
                                echo '<div class="alert alert-error">' . $message . '</div>';
                            endforeach;

                        if (isset($this->messages) and $this->messages)
                            foreach ($this->messages as $message):
                                echo '<div class="alert alert-success">' . $message . '</div>';
                            endforeach;
                        ?>

                        <span style="color:red;"><i
                                    class="icon icon-home"></i> <?php echo $this->recheckShop['store_name']; ?></span><br>
                        <span style="color:#2AAD6F;"><i
                                    class="icon icon-map-marker"></i> <?php echo $this->recheckShop['shipping_address']; ?></span><br>
                        <span style="color:#2AAD6F;"><i
                                    class="icon icon-tags"></i> <?php echo $this->recheckShop['district_name']; ?>
                            - <?php echo $this->recheckShop['area_name']; ?></span><br>
                        <span style="color:#1259e0;">
                            <i class="icon icon-edit"></i>
                            Nhân viên đánh giá: <?php echo $this->recheckShop['staff_check_shop']; ?>
                            , thời gian: <?php echo date('H:i d/m/Y', strtotime($this->recheckShop['created_at'])); ?>
                        </span><br>

                        <div class="table_checkshop">
                            <table class="table">
                                <tbody>
                                <?php if (count($this->sellout) > 0): ?>
                                    <?php foreach ($this->sellout as $key => $value): ?>
                                        <tr>
                                            <td>THÁNG: <?php echo $value['month']; ?></td>
                                            <td>SELLOUT: <?php echo $value['number_imei']; ?></td>
                                            <td>LEVEL: <?php echo $value['level']; ?></td>
                                        </tr>
                                    <?php endforeach; ?>
                                <?php else: ?>

                                    <tr>
                                        <td></td>
                                        <td></td>
                                        <td>LEVEL: <?php echo $this->level['level']; ?></td>
                                    </tr>

                                <?php endif; ?>

                                </tbody>
                            </table>
                        </div>
                        <form id="form_submit">
                            <div class="table_checkshop">
                                <table class="table" id="table_checkshop">
                                    <thead>
                                    <tr>
                                        <th style="width:40%">Hạng mục</th>
                                        <th style="width:30%">Số lượng check shop</th>
                                        <th style="width:30%">Số lượng thực tế</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <?php foreach ($this->listRecheckShopDetail as $detail) : ?>
                                        <tr>
                                            <td><?php echo $detail['category_name']; ?></td>
                                            <td><?php echo $detail['check_shop_quantity']; ?></td>
                                            <td><?php echo $detail['recheck_shop_quantity']; ?></td>
                                        </tr>
                                    <?php endforeach; ?>
                                    </tbody>
                                </table>

                            </div>
                            <br>


                            <div class="wrap_picture">
                                <div class="header_tad">
                                    <i class="icon-picture"></i> ẢNH CHECK SHOP
                                </div>
                                <div class="img">
                                    <table width="100%" class="table-img popup-gallery">
                                        <tr>
                                            <th>Hình ngoại thất</th>
                                            <th>Hình nội thất 1</th>
                                            <th>Hình nội thất 2</th>
                                        </tr>
                                        <tr>
                                            <?php foreach ($this->listImageCheckShop as $key => $value) { ?>
                                                <td>


                                                    <a class="image" href="<?php echo '/' . $value['url'] ?>" title="The Cleaner"><img style="max-height:75px; max-width:75px;" src="<?php echo '/' . $value['url'] ?>" width="75" height="75"></a>

                                                </td>
                                            <?php } ?>
                                        </tr>
                                        <?php for ($i = 0; $i < ceil(count($this->listImageCheckShopDifferent) / 3); $i++) { ?>

                                            <tr>
                                                <?php
                                                for ($j = 0; $j < 3; $j++) {
                                                    $a = $i * 3 + $j;
                                                    if (!empty($this->listImageCheckShopDifferent[$a]['url'])) {
                                                        ?>
                                                        <td>

                                                            <a class="image" href="<?php echo '/' . $this->listImageCheckShopDifferent[$a]['url'] ?>" title="The Cleaner"><img style="max-height:75px; max-width:75px;" src="<?php echo '/' . $this->listImageCheckShopDifferent[$a]['url'] ?>" width="75" height="75"></a>


                                                        </td>
                                                    <?php }
                                                } ?>
                                            </tr>
                                        <?php } ?>
                                    </table>
                                </div>
                            </div><!-- wrap_picture -->
                            <br>
                            <div class="wrap_picture">
                                <div class="header_tad">
                                    <i class="icon-picture"></i> ẢNH THỰC TẾ
                                </div>
                                <div class="img">
                                    <table width="100%" class="table-img popup-gallery">
                                        <tr>
                                            <th>Hình ngoại thất</th>
                                            <th>Hình nội thất 1</th>
                                            <th>Hình nội thất 2</th>
                                        </tr>
                                        <tr>
                                            <?php foreach ($this->listImageRecheckShop as $key => $value) { ?>
                                                <td>

                                                    <a class="image" href="<?php echo  $value['url'] ?>" title="The Cleaner"><img style="max-height:75px; max-width:75px;" src="<?php echo  $value['url'] ?>" width="75" height="75"></a>

                                                </td>
                                            <?php } ?>
                                        </tr>
                                        <?php for ($i = 0; $i < ceil(count($this->listImageRecheckshopDifferent) / 3); $i++) { ?>

                                            <tr>
                                                <?php
                                                for ($j = 0; $j < 3; $j++) {
                                                    $a = $i * 3 + $j;
                                                    if (!empty($this->listImageRecheckshopDifferent[$a]['url'])) {
                                                        ?>
                                                        <td>

                                                            <a class="image" href="<?php echo $this->listImageRecheckshopDifferent[$a]['url'] ?>" title="The Cleaner"><img style="max-height:75px; max-width:75px;" src="<?php echo  $this->listImageRecheckshopDifferent[$a]['url'] ?>" width="75" height="75"></a>

                                                        </td>
                                                    <?php }
                                                } ?>
                                            </tr>
                                        <?php } ?>
                                    </table>
                                </div>
                            </div><!-- wrap_picture -->
                            <br>
                            <?php if ($this->listErrorImage) : ?>
                                <h3> &bull; Lỗi hình ảnh:</h3>
                                <div style="margin-left:10px">
                                    <?php foreach ($this->listErrorImage as $error) :?>
                                        <span>
                                            <span >- <?php echo $error['error_name']; ?></span> : <?php echo $error['note']; ?>

                                        </span>
                                        <br>
                                    <?php endforeach; ?>
                                </div>
                            <?php else : ?>
                                <p><strong> &bull; Không có lỗi hình ảnh</strong></p>
                            <?php endif; ?>
                            <hr>
<!--                            <button class="btn btn-primary">quay lại</button>-->
                          <!--   <a href="/trade/list-recheck-shop?round_id=<?php echo $this->recheckShop['round_id']; ?>" class="btn btn-primary">	&lsaquo;&lsaquo;Quay lại</a> -->
                        </form>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>


<style type="text/css">
    .img_full {
        position: fixed;
        width: 100%;
        top: 0px;
        right: 0px;
        bottom: 0px;
        left: 0px;
        background: rgba(255, 255, 255, 1);
        z-index: 10000;
        display: none;
        overflow: scroll;
    }

    .img_full img {
        width: 100%;
        height: auto;
        top: 6%;
        position: absolute;
        max-width: 500px;
        margin: 0 auto;
        left: 0;
        right: 0
    }

    .pre {

        z-index: 1000000;
        position: absolute;
        left: 10px;
        font-size: 20px;
        line-height: 350px;

    }

    .net {

        z-index: 10000000;
        position: absolute;
        right: 40px;
        font-size: 20px;
        line-height: 350px;
    }

    .net img {
        height: 100px;
        width: 30px;
        margin-top: 70px;
    }

    .pre img {
        height: 100px;
        width: 30px;
        margin-top: 70px;
    }

    .img_jum {
        height: 300px;
    }

    .close_img_full {
        background-color: #04040429;
        height: 35px;
        opacity: 1;
    }

    .btn_submit {
        margin-left: 45%;
    }

</style>


<!-- slide cho hình ảnh design -->
<div class="img_full">
    <div class="close_img_full"><a class="btn btn-danger icon-remove"
                                   style=" width: 30px; float: right; font-size: 20px; margin-left: 50px;margin-top: 3px;  color:white; height: 24px;"></a>
    </div>
    <div class="img_des">
        <img src="" alt="" width="100%" height="100%" class="img_jum">
    </div>
    <span class="pre"><img src="<?php echo HOST . 'images/prev.png' ?>" alt="..."></span>
    <span class="net"><img src="<?php echo HOST . 'images/next.png' ?>" alt="..."></span>
</div>


<!--<script async defer
src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCQLF58kGBqrhB54F6fE3PFLw2KSiR8Ys4&callback=initMap">
</script>-->

<link rel="stylesheet" href="/js/slide-image/magnific-popup.css">
<script src="/js/slide-image/jquery.magnific-popup.js"></script>
<script>

    // silde image
    $('.image').click(function () {
        var popup_gallery = $(this).parents('.popup-gallery');
        popup_gallery.magnificPopup({
            delegate: 'a',
            type: 'image',
            tLoading: 'Loading image #%curr%...',
            mainClass: 'mfp-img-mobile',
            gallery: {
                enabled: true,
                navigateByImgClick: true,
                preload: [0,1] // Will preload 0 - before current, and 1 after the current image
            },
            image: {
                tError: '<a href="%url%">The image #%curr%</a> could not be loaded.',
                titleSrc: function(item) {
                    // return item.el.attr('title') + '<small>by Marsel Van Oosten</small>';
                }
            }
        });

    })
    // end slide image
    $(document).on('click', ".img_checkshop", function () {
        var src = $(this).attr('src');
        $('.img_full').find('.img_des img').attr('src', src);
        $('.img_full').show();
        ///---next prev giữa ảnh
        var height = $('.img_full img').css('height');
        $('.net img').css('margin-top', parseInt(height) / 3);
        $('.pre img').css('margin-top', parseInt(height) / 3);
        ///---
        var va = $(this).attr('va');
        $('.pre').attr('va', parseInt(va) - 1);
        $('.net').attr('va', parseInt(va) + 1);

    });
    $(document).on('click', ".net", function () {
        cont = $('.table-img').find('tr').find('img').length;

        var net = $(this).attr('va');
        var src = $('#d' + net + '').attr('src');
        $('.img_full').find('.img_des img').attr('src', src);
        $('.img_full').show();
        ///---next prev giữa ảnh
        var height = $('.img_full img').css('height');
        $('.net img').css('margin-top', parseInt(height) / 3);
        $('.pre img').css('margin-top', parseInt(height) / 3);
        ///---

        $('.net').attr('va', parseInt(net) + 1);

        $('.pre').attr('va', parseInt(net));

        if (net == cont || net > cont) {
            net = 1;
            $('.net').attr('va', parseInt(net));
        }

    });
    $(document).on('click', ".pre", function () {
        cont = $('.table-img').find('tr').find('img').length;
        var pre = $(this).attr('va');

        var src = $('#d' + pre + '').attr('src');
        $('.img_full').find('.img_des img').attr('src', src);
        $('.img_full').show();
        ///---next prev giữa ảnh
        var height = $('.img_full img').css('height');
        $('.net img').css('margin-top', parseInt(height) / 3);
        $('.pre img').css('margin-top', parseInt(height) / 3);
        ///---
        if (pre == 0) {
            pre = cont + 1;
        }
        $('.pre').attr('va', parseInt(pre) - 1);
        $('.net').attr('va', parseInt(pre));

    });


    $(document).on('click', ".close_img_full", function () {
        $('.img_full').hide();
    });


</script>


