<form class="form-search form-horizontal" method="get" action="/salary/report-bi">
    <div class="row">
        <div class="span6">



            <div class="control-group">
                <label for="month" class="span2">Tháng</label>
                <select name="month">
                    <?php
                    for ($i = 1; $i <= 12; $i++) {
                        ?>
                        <option value="<?php echo $i; ?>" <?php echo ($this->params['month'] == $i) ? ' selected ' : '' ?> >Tháng <?php echo $i; ?></option>
                        <?php
                    }
                    ?>    
                </select> 
            </div>
            <div class="control-group">
                <label for="year" class="span2">Năm</label>
                <select name="year">
                    <?php
                    for ($i = 2018; $i <= 2024; $i++) {
                        ?>
                        <option value="<?php echo $i; ?>" <?php echo ($this->params['year'] == $i) ? ' selected ' : '' ?> >Năm <?php echo $i; ?></option>
                        <?php
                    }
                    ?>    
                </select>
            </div>

        </div>


        <div class="span6">
            <div class="control-group">
                <label for="area" class="span2">Khu vực</label>
                <select name="area">
                    <?php
                    if (in_array($this->userStorage->group_id, array(ADMINISTRATOR_ID, HR_ID))) {
                        ?>
                        <option value="-1">TẤT CẢ KHU VỰC</option>
                    <?php } ?>
                    <?php
                    foreach ($this->list_area as $key => $value) {
                        ?>
                        <option value="<?php echo $key; ?>" <?php echo ($this->params['area_id'] == $key) ? ' selected ' : '' ?> > <?php echo $value; ?></option>
                        <?php
                    }
                    ?>  


                </select> 
            </div>

        </div>
    </div>
    <input type="submit" name='search' class='btn btn-primary' value="search">
    <button type="reset" class="btn btn-warning">Reset</button>
    <button type="submit" name="export_detail" value="1"  class='btn btn-success'>Export Detail</button>

</form>