<table class="table table-bordered">
    <thead>
    <tr>
        <?php echo $this->sorting(array(
                '#',
                'name'         => 'Store name',
                'Address',
                'Area Chanel',
                'District',
                'Joined at',
                'Action',
                'Status'
            ),
            $this->url, $this->sort, $this->desc); ?>
    </tr>
    </thead>
    <tbody class="store_list">
    <?php if (isset($this->store) && $this->store): 
            $stt = 0;?>
        <?php foreach ($this->store as $key => $store): 
            $stt++;
            ?>
            <tr>
                <td>
                    <?php echo $stt;?>
                </td>
                <td>
                    <?php echo $store['store_name'];?>
                </td>
                <td>
                    <?php echo $store['company_address'];?>
                </td>
                <td>
                    <?php echo $store['area_chanel'];?>
                </td>
                <td>
                    <?php echo $store['district_name'];?>
                </td>
                <td>
                    <?php echo date("Y-m-d", strtotime($store['from']));?>
                </td>
                <td>
                    <button class="btn btn-danger btn-mini btn_asm_remove" store-id="<?php echo $store['store_id'];?>" >Remove</button>
                </td>
                <td class="ajax_status">
                    
                </td>
            </tr>
        <?php endforeach ?>
    <?php endif ?>

    </tbody>
</table>
