<style type="text/css">
    iframe {
        width: 100%;
        height: 60px;
        border: none;
        overflow: hidden;
    }

    .remove_item_btn,
    .add_item_btn,
    .remove_question_btn {
        cursor: pointer !important;
    }

    .remove_question_btn,
    .remove_item_btn {
        margin-left: 0.5em;
        width: 16px;
        height: 16px;
        display: inline-block;
        line-height: 1em;
    }

    .remove_question_btn:hover,
    .remove_item_btn:hover {
        background: #ccc;
        border-radius: 50%;
    }

    .remove_question_btn,
    .remove_item_btn i {
        width: 16px;
        height: 16px;
        display: inline-block;
        left: 3px;
        top: 1px;
        position: relative;
    }

    .questions {
        counter-reset: rowNumber;
    }

    .questions .question {
        counter-increment: rowNumber;
    }

    .questions .question label::before {
        content: counter(rowNumber) '.';
        min-width: 1em;
        margin-right: 0.5em;
    }

    .options {
        counter-reset: rowNumberSub;
    }

    .options .list_item {
        counter-increment: rowNumberSub;
    }

    .options .list_item .controls::before {
        content: counter(rowNumberSub, lower-alpha) '.';
        min-width: 1em;
        margin-right: 0.5em;
    }
</style>
<div class="page-header">
    <h1>Survey <small>Create</small></h1>
</div>

<iframe name="iframe"></iframe>

<form method="post" class="form-horizontal" onsubmit="return false;">
    <div class="questions">
        <div class="question">
            <div class="control-group">
                <label class="control-label">Question</label>
                <div class="controls">
                    <input name="questions[]" class="input-xxlarge question_input" />
                </div>
            </div>
            <div class="options">
                <div class="control-group list_item">
                    <div class="controls">
                        <input name="option[]" class="input-xlarge input" />
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="control-group">
        <div class="controls">
            <button class="btn btn-default add_question_btn" type="button">Add</button>
            <button class="btn btn-default clone_question_btn" type="button">Clone</button>
        </div>
    </div>
    <hr />
    <div class="control-group">
        <div class="controls">
            <button class="btn btn-primary save_btn" type="button">Save</button>
        </div>
    </div>
</form>

<script type="text/javascript">
function remove_question(e) {
    _e = $(e.target).hasClass("remove_question_btn") ? $(e.target) : $(e.target).parent();
    _e.parents('.question').remove();
}

function add_question(e) {
    _html = '<div class="question new">\
            <div class="control-group">\
                <label class="control-label">Question</label>\
                <div class="controls">\
                    <input name="questions[]" class="input-xxlarge question_input" />\
                </div>\
            </div>\
            <div class="options new">\
                <div class="control-group list_item">\
                    <div class="controls">\
                        <input name="option[]" class="input-xlarge input" />\
                    </div>\
                </div>\
            </div>\
        </div>';
    $('.questions').append(_html);

    $('.options.new').clickAddMore({
        select_html: '<div class="control-group list_item new">\
        <div class="controls">\
            <input name="option[]" class="input-xlarge input" />\
        </div>\
    </div>',
        add_btn_html: '<div class="control-group list_item readonly">\
        <div class="controls readonly">\
            <input name="option[]" placeholder="Click to add option" class="add_item_btn input-xlarge" readonly />\
        </div>\
    </div>',
        parent: '.list_item'
    });

    _tmp = $('.question.new').find('.question_input');
    _tmp.after('<span class="remove_question_btn new"><i>&times;</i></span>');
    $('.question.new').find('.remove_question_btn.new').off('click').on('click', remove_question);

    $('.options.new, .question.new, .remove_question_btn.new').removeClass('new');
}

function clone_question(e) {
    _div = $('.question').last().clone();
    $('.questions').append(_div);
    _div.find('.options').clickAddMore({
        select_html: '<div class="control-group list_item new">\
        <div class="controls">\
            <input name="option[]" class="input-xlarge input" />\
        </div>\
    </div>',
        add_btn_html: '<div class="control-group list_item readonly">\
        <div class="controls readonly">\
            <input name="option[]" placeholder="Click to add option" class="add_item_btn input-xlarge" readonly />\
        </div>\
    </div>',
        parent: '.list_item'
    });

    _div.find('.remove_question_btn').off('click').on('click', remove_question);
}

function save(e) {
    var data = {};
    var data2 = {'a':1};
    var questions = {};
    var list_question = $('.questions .question');

    list_question.each(function(index, element) {
        var question = options = {};
        question.question = $(element).find('.question_input').val().trim();
 
        $(element).find('.options .list_item:not(.readonly)').each(function(_index, _element) {
            // var text = $(_element).find('.input').val();
            // options._index = text ? text.trim() : '';
            // question.options.push(text ? text.trim() : '');
        });
        question.options = {'a':4354};
        questions.index = question;
    });

    data.questions = questions;

    // console.log(JSON.stringify(questions));
    // console.log(questions);

//     data2.a = 324;
// return;
    $.ajax({
        url: '<?php echo HOST ?>survey/save-survey',
        type: 'post',
        dataType: 'json',
        data: {data: questions},
    })
    .done(function(html) {
        console.log("success");
    })
    .fail(function() {
        console.log("error");
    })
    .always(function() {
        console.log("complete");
    });
    
}

$(document).ready(function() {
    $('.options').clickAddMore({
        select_html: '<div class="control-group list_item new">\
        <div class="controls">\
            <input name="option[]" class="input-xlarge input" />\
        </div>\
    </div>',
        add_btn_html: '<div class="control-group list_item readonly">\
        <div class="controls readonly">\
            <input name="option[]" placeholder="Click to add option" class="add_item_btn input-xlarge" readonly />\
        </div>\
    </div>',
        parent: '.list_item'
    });

    $('.question_input').after('<span class="remove_question_btn new"><i>&times;</i></span>');
    $('.remove_question_btn.new').off('click').on('click', remove_question);
    $('.add_question_btn').off('click').on('click', add_question);
    $('.clone_question_btn').off('click').on('click', clone_question);
    $('.save_btn').off('click').on('click', save);
});
</script>