<style type="text/css">
    .survey p,
    .survey label,
    textarea {
        font-size: 15px;
        font-family: monospace, sans-serif;
        line-height: 1.65em;
        text-align: justify;
    }

    legend {
        text-align: center;
    }

    label:hover {
        background: rgba(0, 186, 139, 0.07);
        cursor: pointer;
    }

    .numbering {
        counter-reset: rowNumber;
    }

    .numbering .control-group {
        counter-increment: rowNumber;
    }

    .numbering .control-group p::before {
        content: counter(rowNumber) '.';
        min-width: 1em;
        margin-right: 0.5em;
        font-weight: bold;
    }

    .control-group {
        counter-reset: rowNumberSub;
    }

    .control-group label {
        counter-increment: rowNumberSub;
    }

    .control-group label::before {
        content: counter(rowNumberSub, lower-alpha) '.';
        min-width: 1em;
        margin-right: 0.5em;
    }

    .form-horizontal .controls {
        margin-left: 20px;
    }

    .question {
        border-bottom: 1px solid #eee;
        padding-bottom: 1em;
    }

    textarea {
        width: 90%;
        height: 5em;
        resize: none;
    }

    iframe {
        border: none;
        width: 100%;
        height: 50px;
        background: #f9f6f1;
        overflow: hidden;
    }
</style>

<div class="page-header">
    <h1></h1>
</div>

<?php if (isset($this->error) && $this->error): ?>
    <div class="alert alert-danger">
        <?php echo $this->error ?>
    </div>
<?php endif ?>

<div class="row survey">
    <div class="col-12 col-md-8 offset-md-2">
        <legend><?php echo $this->survey['title'] ?></legend>
        <p><?php echo $this->survey['content'] ?></p>
        <p><strong>Vui lòng thực hiện trắc nghiệm trước khi sử dụng tính năng khác</strong></p>
        <hr />

        <form action="<?php echo HOST ?>survey/save-random" method="post" class="form-horizontal numbering" target="iframe">
            <?php if (isset($this->questions) && $this->questions): ?>
                <?php $count = 1 ?>
                <?php foreach ($this->questions as $key => $value): ?>
                    <div class="control-group question">
                        <p class="label-control"><?php echo $value['content'] ?></p>
                        <?php if (isset($value['options']) && $value['options']): ?>
                            <div class="controls">
                                <?php switch ($value['response_type']) {
                                    case 'radio':
                                        echo $this->partial('survey/partials/response/radio.phtml', array(
                                            'options' => $value['options'],
                                            'count' => $count,
                                            'key' => $key,
                                        ));
                                        break;
                                    case 'input':
                                        echo $this->partial('survey/partials/response/input.phtml', array(
                                            'options' => $value['options'],
                                            'count' => $count,
                                            'key' => $key,
                                        ));
                                        break;
                                    case 'textarea':
                                        echo $this->partial('survey/partials/response/textarea.phtml', array(
                                            'options' => $value['options'],
                                            'count' => $count,
                                            'key' => $key,
                                        ));
                                        break;
                                    case 'select':
                                        echo $this->partial('survey/partials/response/select.phtml', array(
                                            'options' => $value['options'],
                                            'count' => $count,
                                            'key' => $key,
                                        ));
                                        break;
                                    case 'checkbox':
                                        echo $this->partial('survey/partials/response/checkbox.phtml', array(
                                            'options' => $value['options'],
                                            'count' => $count,
                                            'key' => $key,
                                        ));
                                        break;
                                    default:
                                        # code...
                                        break;
                                } ?>
                            </div>
                        <?php endif ?>
                        <input type="hidden" name="question_id[]" value="<?php echo $key;?>"/>
                    </div>
                    <?php $count++; ?>
                <?php endforeach ?>

                <div class="control-group">
                    <img src="/photo/survey/survey-true.gif" alt="" id="survey_true" style="display: none;"/>
                    <img src="/photo/survey/survey-false.gif" alt="" id="survey_false" style="display: none"/>
                    <div class="controls">
                        <iframe name="iframe"></iframe>
                    </div>
                </div>

                <div class="control-group mb-20">
                    <div class="controls">
                        <input type="hidden" name="id" value="<?php echo $this->survey['id'] ?>">
                        <button class="btn btn-success">Submit</button>
                    </div>
                </div>

            <?php endif ?>
        </form>

    </div>
</div>

<script type="text/javascript">
    $(document).ready(function() {
        $('form').on('submit', function() {
            $('button').hide().after('<span class="loading"></span>');
        });
    });
</script>