<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>OPPO Form</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">

    <link href="<?php echo HOST;?>form-builder/assets/css/lib/bootstrap.min.css" rel="stylesheet">
    <link href="<?php echo HOST;?>form-builder/assets/css/lib/bootstrap-responsive.min.css" rel="stylesheet">
    <link href="<?php echo HOST;?>form-builder/assets/css/custom.css" rel="stylesheet">


    <link rel="shortcut icon" href="https://center.opposhop.vn/img/favicon.ico">
    <link rel="apple-touch-icon" href="images/apple-touch-icon.png">
    <link rel="apple-touch-icon" sizes="72x72" href="images/apple-touch-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="114x114" href="images/apple-touch-icon-114x114.png">
  </head>

  <body>
<style>
    .tabbable{
        background-color: #fff;
        margin-bottom: 48px;
        -webkit-box-shadow: 0 1px 4px 0 rgba(0,0,0,0.37);
        box-shadow: 0 1px 4px 0 rgba(0,0,0,0.37);
        padding-bottom: 6px;
        word-wrap: break-word;

    }    
</style>
    <div class="container">
    
<form class="form-horizontal" >
<fieldset>

<!-- Form Name -->
<legend>Form Name</legend>

<!-- Text input-->
<div class="control-group">
  <label class="control-label" for="textinput-0">Text Input</label>
  <div class="controls">
    <input id="textinput-0" name="textinput-0" type="text" placeholder="placeholder" class="input-xlarge">
    <p class="help-block">help</p>
  </div>
</div>

<!-- Password input-->
<div class="control-group">
  <label class="control-label" for="passwordinput-0">Password Input</label>
  <div class="controls">
    <input id="passwordinput-0" name="passwordinput-0" type="password" placeholder="placeholder" class="input-xlarge">
    <p class="help-block">help</p>
  </div>
</div>

<!-- Select Basic -->
<div class="control-group">
  <label class="control-label" for="selectbasic-0">Select Basic</label>
  <div class="controls">
    <select id="selectbasic-0" name="selectbasic-0" class="input-xlarge">
      <option>Option one</option>
      <option>Option two</option>
    </select>
  </div>
</div>

<!-- Multiple Radios (inline) -->
<div class="control-group">
  <label class="control-label" for="">Inline Radios</label>
  <div class="controls">
    <label class="radio inline" for="multipleradiosinline-0-0">
      <input type="radio" name="multipleradiosinline-0" id="multipleradiosinline-0-0" value="1" checked="checked">
      1
    </label>
    <label class="radio inline" for="multipleradiosinline-0-1">
      <input type="radio" name="multipleradiosinline-0" id="multipleradiosinline-0-1" value="2">
      2
    </label>
    <label class="radio inline" for="multipleradiosinline-0-2">
      <input type="radio" name="multipleradiosinline-0" id="multipleradiosinline-0-2" value="3">
      3
    </label>
    <label class="radio inline" for="multipleradiosinline-0-3">
      <input type="radio" name="multipleradiosinline-0" id="multipleradiosinline-0-3" value="4">
      4
    </label>
  </div>
</div>

<!-- Multiple Checkboxes (inline) -->
<div class="control-group">
  <label class="control-label" for="">Inline Checkboxes</label>
  <div class="controls">
    <label class="checkbox inline" for="multiplecheckboxesinline-0-0">
      <input type="checkbox" name="multiplecheckboxesinline-0" id="multiplecheckboxesinline-0-0" value="1">
      1
    </label>
    <label class="checkbox inline" for="multiplecheckboxesinline-0-1">
      <input type="checkbox" name="multiplecheckboxesinline-0" id="multiplecheckboxesinline-0-1" value="2">
      2
    </label>
    <label class="checkbox inline" for="multiplecheckboxesinline-0-2">
      <input type="checkbox" name="multiplecheckboxesinline-0" id="multiplecheckboxesinline-0-2" value="3">
      3
    </label>
    <label class="checkbox inline" for="multiplecheckboxesinline-0-3">
      <input type="checkbox" name="multiplecheckboxesinline-0" id="multiplecheckboxesinline-0-3" value="4">
      4
    </label>
  </div>
</div>

</fieldset>
</form>

    

    </div> <!-- /container -->

    <script data-main="<?php echo HOST;?>form-builder/assets/js/main-built.js" src="<?php echo HOST;?>form-builder/assets/js/lib/require.js" ></script>
    
  </body>
  <script>
  
  function builderAdd(){
        var length_form = document.getElementById("target").length;

        if(length_form < 2 ){
          alert('Bạn vui lòng chọn đủ thông tin.');
        }else{
            for (index = 1; index < length_form; ++index) {
                  console.log(document.getElementById("target").elements[index].type);
              }
        }
      
  }
  
  </script>
</html>
