<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  
    <title>OPPO Form</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="/css/bootstrap-datetimepicker.min.css"/>
    <link href="<?php echo HOST;?>form-builder/assets/css/lib/bootstrap-responsive.min.css" rel="stylesheet">
    <link href="<?php echo HOST;?>form-builder/assets/css/custom.css" rel="stylesheet">
    
        <!-- CSS Libraries -->
    <link rel="stylesheet" href="<?php echo HOST;?>formbuilder/css/bootstrap.css" /> 
    <link rel="stylesheet" href="<?php echo HOST;?>formbuilder/css/font-awesome.min.css" /> 
    <link rel="stylesheet" href="<?php echo HOST;?>formbuilder/lib/prism/prism.css" /> 
    <link rel="stylesheet" href="<?php echo HOST;?>formbuilder/css/fontawesome-iconpicker.min.css" /> 
        <link rel="stylesheet" href="<?php echo HOST;?>formbuilder/css/styles.css" /> 
        
    <script type="text/javascript" src="/js/jquery-1.7.2.min.js"></script>
    <script type="text/javascript" src="/js/jquery-ui-1.8.12.custom.min.js"></script>
    <script type="text/javascript" src="/js/jquery.checkboxtree.js"></script>
    
    <script src="<?php echo HOST;?>form-builder/assets/js/sweetalert.min.js"></script>
    <link rel="stylesheet" type="text/css" href="/css/jquery.checkboxtree.css"/>
    <link rel="shortcut icon" href="<?php echo HOST;?>img/favicon.ico">
    <link rel="apple-touch-icon" href="images/apple-touch-icon.png">
    <link rel="apple-touch-icon" sizes="72x72" href="images/apple-touch-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="114x114" href="images/apple-touch-icon-114x114.png">
    <link rel="stylesheet" type="text/css" href="/css/jquery-ui-1.8.12.custom.css"/>
<link rel="stylesheet" type="text/css" href="/css/jquery.checkboxtree.css"/>
</head>

<body>
    <style>
    select {
        max-width: 100%;
    }

    #tab_show label:not(.checkbox) {
        font-weight: bold;
    }

    .thumbnail {
        width: 100px;
        height: 100px;
        overflow: hidden;
        text-align: center;
        padding: 0;
        margin: auto;
        text-align: center;
    }

    .thumbnail i {
        font-size: 100px;
    }

    .thumbnail span {
        width: 100px;
        height: 100px;
    }

    .attachment_name {
        word-wrap: break-word;
        font-weight: bold;
        text-align: center;
    }

    #add_category_btn {
        margin-bottom: 9px;
    }

    .ui-widget-content .ui-icon {
        background-color: #ccc;
        border-radius: 2px;
    }

    .ui-widget-content .ui-icon:hover {
        cursor: pointer;
    }

    .tree input {
        margin-left: 4px;
    }

    .tree label {
        display: inline-block;
        padding-left: 4px;
    }

    .tree li:hover>label {
        background: #efe;
        
    }

    .ui-widget-content {
        background: none;
        border: none;
    }
</style>
  <script language="javascript" type="text/javascript" src="/js/bootstrap-datetimepicker.min.js"></script>
  <style>
    .tabbable{
        background-color: #fff;
        margin-bottom: 48px;
        -webkit-box-shadow: 0 1px 4px 0 rgba(0,0,0,0.37);
        box-shadow: 0 1px 4px 0 rgba(0,0,0,0.37);
        padding-bottom: 6px;
        word-wrap: break-word;

    }    
    .sortInput{
        width: 50px !important;
        text-align: center;
        margin-right: 20px;
    }

</style>   
<div id="render-edit" style="display: none;">
    <?php echo $this->survey_form['render'];?>
</div>

  <div class="container">
        <div class="row clearfix pull-right">
            <a type="submit" class="btn btn-primary" id="btn-submit" onclick="builderAdd()" >SUBMIT</a>
            <button type="submit" class="btn btn-success " id="btn-preview" onclick="preview()" >PREVIEW</button>
            <a href="/survey/form-builder-list" class="btn btn-danger" i >GO BACK</a>
        </div>
        
        <ul class="nav nav-tabs">
            <li class="active"><a href="#tab_content" data-toggle="tab">Nội dung</a></li>
            <li class=""><a href="#tab_show" data-toggle="tab">Tùy chỉnh</a></li>
<!--            <li class=""><a href="#tab_time" data-toggle="tab">Set time</a></li>-->
        </ul>
        <div class="tab-content">
            <div class="row clearfix tab-pane active"  id="tab_content">
                <div id="app"> 
                    <div class="col-md-5">
                        <tabs v-model="uiv.tabs.left">
                              <tab title="<i class='fa fa-plus'></i> Add a field" :html-title="true">
                            <div id="addable-fields">
                              <draggable v-model="addable_fields" :list="addable_fields"  :options="{group:{name:'fields', pull:'clone', put:false}, sort: false, animation: 0}" @start="dragging=true" @end="dragging=false" @choose="clickAddable" >
                                <addable-field :field="field" v-for="field in addable_fields" :key="field.id" ></addable-field>
                              </draggable> 
                            </div>
                          </tab>
                              <tab title="<i class='fa fa-pencil'></i> Edit field" :html-title="true">
                            <field-options :field="selected"></field-options>
                          </tab>
                              <tab title="<i class='fa fa-cog'></i> Form settings" :html-title="true">
                            <form-settings :settings="settings"></form-settings>
                          </tab>
                        </tabs>
                    </div>
                    <div class="col-md-7">
                    <div style="position: relative">
                        <tabs v-model="uiv.tabs.right" @change="tabClicked">
                            <tab title="<i class='fa fa-bars'></i> Editor" :html-title="true">
                                <virtual-iframe class="editor-iframe" id="editor-iframe" scrolling="no">
                                    <iframe-child>
                                        <link v-if="settings.bootstrap_version=='3'" rel="stylesheet" href="<?php echo HOST;?>formbuilder/css/bootstrap.css" />
                                        <link v-else rel="stylesheet" href="<?php echo HOST;?>formbuilder/css/bootstrap.min.css" /> 
                                        <link rel="stylesheet" href="<?php echo HOST;?>formbuilder/css/font-awesome.min.css" />
                                        <link rel="stylesheet" href="<?php echo HOST;?>formbuilder/css/styles.css" />
                                        <form :class="{'form-horizontal': label_horizontal}">
                                            <p v-if="noFields()">Click on a new field or drag and drop below.</p>
                                            <draggable  class="editor" v-model="fields" :list="fields" :options="{group:'fields', animation: 200}" @start="dragging=true" @end="dragging=false;" @Add="createField">
                                              <generic-field-editor :field="field" v-for="field in fields" :key="field.id" ></generic-field-editor>
                                            </draggable>
                                            <generic-submit-editor v-if="!noFields()"></generic-submit-editor>
                                        </form>
                                    </iframe-child>                         
                                </virtual-iframe>                      
                            </tab>

                            <tab title="<i class='fa fa-code'></i> Code" :html-title="true">
                                <pre-dynamic></pre-dynamic>
                                <!--Preview of form exists in a hidden iframe -->
                                <virtual-iframe class="preview-iframe hidden" id="preview-iframe">
                                  <iframe-child>
                                    <code-preview></code-preview>
                                  </iframe-child>
                                </virtual-iframe>
                            </tab>             
                        </tabs>
                    </div> <!-- end relative -->
                </div>   <!-- end col -->
                </div>
            </div>
             <div class="tab-pane" id="tab_show">
<!--                    --><?php //echo $this->render('survey/partials/tab-show.phtml'); ?>


                 <input type="checkbox" name="required" id="required" value=1>
                 <label for="required">Bắt buộc điền khảo sát.</label>
                 <br>
                 <label for="type" class="control-label " >Cách điền khảo sát</label>

                 <select id="survey_type" name="survey_type" class="select form-control"   style="width:200px" >
                     <option value="0" >Điền một lần</option>
                     <option value="1" >Điền nhiều lần</option>
                     <option value="2" >Điền 1 lần/ngày</option>
                 </select>
                 <br>
                 <hr>
                 <input value=1 type="checkbox" name="take_picture" id="take_picture" <?php echo $this->survey_form['take_picture'] ? 'checked' : ''; ?>>
                 <label for="take_picture">Khảo sát dành cho Trainer</label>
                 <br>
                 <label for="">Điểm cộng khi Pass:
                     <input type="number" name="pass_point" id="pass_point"  class="form-control" value="<?php echo $this->survey_form['pass_point']; ?>" placeholder="Điền điểm cộng ">
                 </label>
                 <br><br>
                 <label for="">Điểm trừ khi Fail:
                     <input type="number" name="fail_point" id="fail_point"  class="form-control" value="<?php echo $this->survey_form['fail_point']; ?>" placeholder="Điền điểm trừ ">
                 </label>
                 <br>

             </div>
                <div class="tab-pane" id="tab_time">
<!--                    --><?php //echo $this->render('survey/partials/tab-time.phtml'); ?>
                </div>
        </div>
       
        </div>   
    </div> <!-- /container -->
    <!-- to preview -->
      <form action="/survey/form-builder-preview" method="POST" id="target"  class="form-horizontal" target="_blank" >
        <input  type="hidden" name="form_html" id="form_html"  >
        <input  type="hidden" name="title_preview" id="title_preview"  >
        <input  type="hidden" name="description_preview" id="description_preview"  >
      </form>
    
<!-- Script libraries -->
    <script data-cfasync="false" src="<?php echo HOST;?>formbuilder/js/email-decode.min.js"></script><script src="<?php echo HOST;?>formbuilder/lib/lodash/lodash.min.js"></script>
    <script src="<?php echo HOST;?>formbuilder/lib/vue/vue.min.js"></script>    
     
    <script src="<?php echo HOST;?>formbuilder/lib/sortable/sortable.js"></script>    
    <script src="<?php echo HOST;?>formbuilder/lib/vuedraggable/vuedraggable.js"></script>   
    <script src="<?php echo HOST;?>formbuilder/lib/prism/prism.js"></script>
    <script src="<?php echo HOST;?>formbuilder/lib/vue-clipboard/vue-clipboard.min.js"></script>        
    <script src="<?php echo HOST;?>formbuilder/js/fontawesome-iconpicker.min.js"></script>        
    <script src="<?php echo HOST;?>formbuilder/lib/uiv/uiv.min.js"></script> 
<script>
  $( document ).ready(function() {
    setTimeout(function(){
        loadScript(); 
    }, 1000);
    setTimeout(function(){
         $("li[role='presentation']").eq(4).hide(); 
    }, 1700);

    var required = "<?php echo $this->required; ?>";
    var type = "<?php echo $this->survey_type; ?>";


     $('#required').prop('checked', Number(required));
     $('#survey_type>option:eq(' + type + ')').prop('selected', true);


    $('.checkall').change(check_all);
        $('.display-item').change(check_select_all);
        
        $('.date').datetimepicker({
            weekStart: 1,
            clear: true,
            minView: '0',
            autoclose: true,
            format: 'dd/mm/yyyy hh:ii'
        });
        $('.tree').checkboxTree();
        $( "#s_name" ).keypress(function( event ) {
            if ( event.which == 13 ) {
                event.preventDefault();
                $('.loading').remove();
                var _self = $( "#s_name" );
                name = _self.val().trim();

                if (!name) return false;

                //get ajax content
                var aj = $('.load-ajax');
                if (aj.length){
                    _self.after("<span class=\'loading\'></span>");
                    $.ajax({
                        url: '<?php echo HOST ?>staff',
                        type: 'post',
                        dataType: 'html',
                        data: {
                            sname: 1,
                            name: name
                        },
                    })
                    .done(function(data) {
                        console.log("success");
                        aj.html(data);
                    })
                    .fail(function() {
                        console.log("error");
                    })
                    .always(function() {
                        console.log("complete");
                        _self.next('.loading').remove();
                    });
                }

                return false;
            }
        });
        
        $('#add_pg_btn').click(function(){
            _self = $('#name_result');
            item = _self.children('option:selected').clone();
            list = $(item);

            for (var i = 0; i < item.length; i++) {

                if ( ! is_exists( $(item[i]).attr('value'), false) ) {
                    _des = $('#pg_name');
                    _des.append(item[i]);
                }
            }
        });

        $('#remove_pg_btn').click(function(){
            _self = $('#pg_name');
            item = _self.children('option:selected').remove();
        });
        
});
function preview(){
        var form_name = $('#title').val();
        var description = $("#description").val();
        var render = $("#code-destination").text();
        
       $("#form_html").val(render);
       $("#title_preview").val(form_name);
       $("#description_preview").val(description);

       var form = document.getElementById("target");
//       console.log(form);
//       return false;
       form.setAttribute("method", "post");
       form.setAttribute("action", "/survey/form-builder-preview");
       document.getElementById("target").submit();
//       
  }
      function loadScript(){
        const script = document.createElement('script');
        script.src = "<?php echo HOST;?>formbuilder/js/prod.js";
        document.head.append(script);

        var form_name = "<?php echo $this->form_name; ?>";
        var description = "<?php echo $this->description; ?>";
        
        setTimeout(function(){
            $('#title').val(form_name); 
            $("#description").val(description);
        }, 400);

    } 
 function is_exists(id, is_leader) {
        if(is_leader) {
            _des = $('#leader_name');
        } else {
            _des = $('#pg_name');
        }

        items = _des.children('option');
        for(var i = 0; i < items.length; i++) {
            if ($(items[i]).attr('value') == id) {
                return true;
            }
        }
        return false;
    }
    
    function check_all(e) {
        _self = $(e.target);
        target = _self.data('target');

        if (!target) return false;

        $(target).prop('checked', _self.prop('checked'));
    }
    function check_select_all(e) {
        $('.display-item').unbind('change');

        _self = $(e.target);
        type = _self.data('type');

        if (!type) return false;

        all_is_checked = true;

        $(type).each(function(index, el) {
            if (!$(el).prop('checked')) {
                all_is_checked = false;
                return false;
            }
        });
        
        $('[data-target="'+type+'"]').prop('checked', all_is_checked);
        $('.display-item').change(check_select_all);
    }
    
//  function preview(){
//       $("#form_html").val(document.querySelector("#render").value);
//       var form = document.createElement("target");
//       form.setAttribute("method", "post");
//       form.setAttribute("action", "/survey/form-builder-preview");
//       document.getElementById("target").submit();
//       
//  }
  function builderAdd(){
        var company_objects  = [];
        var department_objects  = [];
        var team_objects        = [];
        var title_objects       = [];
        var area_objects        = [];
        var staff_objects       = [];
//        var form_name = $('#target').find('legend').html();
        var form_name = $('#title').val();
        var description = $("#description").val();
        var survey_type = $("#survey_type").val();
        var required   = $("#required").is(":checked");
        var take_picture   = $("#take_picture").is(":checked");
      var pass_point            = Number($("#pass_point").val());
      var fail_point            = Number($("#fail_point").val());

      var id = "<?php echo $this->id; ?>";
      var big_questions = [];
      var questions = [];
        var countQuestion = 1;
	
// lưu tất cả câu hỏi bao gồm option 
       var iframe = $("iframe#editor-iframe").contents();
       var j =1;
//       iframe.find('.form-group').each(function() {
//         var lengthInput = $(this).find('input').length;
//         var textarea = $(this).find('textarea').length
//           var select = $(this).find('select').length;
//
//           var label = $(this).find('label').first().html(); // question
//           var is_staff_code_question = $(this).find('label').first().attr('staff_code');
//           var is_trainer_summary_point = $(this).find('label').first().attr('summary_point_trainer');
//         var rowQuestion = {};
//           var option = [];
//           var type;
//
//         if (textarea) { // when type is textarea
//             big_questions.push({
//                 question: label,
//                 is_staff_code_question: is_staff_code_question,
//                 is_trainer_summary_point: is_trainer_summary_point,
//                 type: 2
//             });
//             var name =  $(this).find('textarea').attr('name');
//             rowQuestion ['question'] = label;
//             rowQuestion ['option'] = null;
//             rowQuestion ['type'] = 'textarea';
//             rowQuestion ['group_name'] = name;
//             // rowQuestion [countQuestion] = rowQuestion;
//             questions.push(rowQuestion);
//            } else if(lengthInput == 1) {  // when type is text
//             big_questions.push({
//                 question: label,
//                 is_staff_code_question: is_staff_code_question,
//                 is_trainer_summary_point: is_trainer_summary_point,
//                 type: 1
//             });
//             var name =  $(this).find('input').attr('name');
//             rowQuestion ['question'] = label;
//             rowQuestion ['option'] = null;
//             rowQuestion ['type'] = 'text';
//              rowQuestion ['group_name'] = name;
//             // rowQuestion [countQuestion] = rowQuestion;
//             questions.push(rowQuestion);
//
//             } else if(lengthInput > 1) {  // when type is checkbox
//
//             $(this).find("input[type='checkbox']").each(function() {
//                 type = 5;
//                 var name =  $(this).attr('name');
//               rowQuestion ['question'] = label;
//               rowQuestion ['option'] = $(this).val();
//               rowQuestion ['type'] = 'checkbox';
//               rowQuestion ['group_name'] = name;
//               // rowQuestion [countQuestion] = rowQuestion;
//               questions.push(rowQuestion);
//               rowQuestion = {};
//                 option.push($(this).val());
//
//             });
//             $(this).find("input[type='radio']").each(function() {
//               var name =  $(this).attr('name');
//                 type = 4;
//
//                 rowQuestion ['question'] = label;
//               rowQuestion ['option'] = $(this).val();
//               rowQuestion ['type'] = 'radio';
//                rowQuestion ['group_name'] = name;
//               // rowQuestion [countQuestion] = rowQuestion;
//               questions.push(rowQuestion);
//               rowQuestion = {};
//                 option.push($(this).val());
//
//             });
//             $(this).find("input[type='number']").each(function() {
//               rowQuestion ['question'] = label;
//               rowQuestion ['option'] = $(this).parent().text();
//               rowQuestion ['type'] = 'sort';
//                rowQuestion ['group_name'] = name;
//               // rowQuestion [countQuestion] = rowQuestion;
//               questions.push(rowQuestion);
//               rowQuestion = {};
//             });
//
//             big_questions.push({
//                 question: label,
//                 is_staff_code_question: is_staff_code_question,
//                 is_trainer_summary_point: is_trainer_summary_point,
//                 option: option,
//                 type: type
//             });
//             option = [];
//
//             } else if (select) { // when type is select dropdown
//               var name =  $(this).find('select').attr('name');
//               $(this).find('option').each(function() {
//                rowQuestion ['question'] = label;
//                rowQuestion ['option'] = $(this).html();
//                rowQuestion ['type'] = 3;
//                rowQuestion ['group_name'] = name;
//                // rowQuestion [countQuestion] = rowQuestion;
//                questions.push(rowQuestion);
//                rowQuestion = {};
//
//                   option.push($(this).val());
//                   big_questions.push({
//                       question: label,
//                       is_staff_code_question: is_staff_code_question,
//                       is_trainer_summary_point: is_trainer_summary_point,
//                       option: option,
//                       type: 3
//                   });
//                   option = [];
//               });
//             }
//
//        countQuestion ++;
// });

      iframe.find('.form-group').each(function() {
          var lengthInput = $(this).find('input').length;
          var textarea = $(this).find('textarea').length;
          var select = $(this).find('select').length;
          var label = $(this).find('label').first().html(); // question
          var is_staff_code_question = $(this).find('label').first().attr('staff_code');
          var is_trainer_summary_point = $(this).find('label').first().attr('summary_point_trainer');
          var rowQuestion = {};
          var option = [];
          var type;

          if (textarea) { // when type is textarea
              big_questions.push({
                  question: label,
                  is_staff_code_question: is_staff_code_question,
                  is_trainer_summary_point: is_trainer_summary_point,
                  type: 2
              });

              var name =  $(this).find('textarea').attr('name');
              rowQuestion ['question'] = label;
              rowQuestion ['option'] = null;
              rowQuestion ['type'] = 2;
              rowQuestion ['group_name'] = name;
              // rowQuestion [countQuestion] = rowQuestion;
              questions.push(rowQuestion);
          } else if(lengthInput == 1) {  // when type is text
              big_questions.push({
                  question: label,
                  is_staff_code_question: is_staff_code_question,
                  is_trainer_summary_point: is_trainer_summary_point,
                  type: 1
              });

              var name =  $(this).find('input').attr('name');
              rowQuestion ['question'] = label;
              rowQuestion ['option'] = null;
              rowQuestion ['type'] = 1;
              rowQuestion ['group_name'] = name;
              // rowQuestion [countQuestion] = rowQuestion;
              questions.push(rowQuestion);

          } else if(lengthInput > 1) {  // when type is checkbox


              $(this).find("input[type='checkbox']").each(function() {
                  var name =  $(this).attr('name');
                  type = 5;
                  rowQuestion ['question'] = label;
                  rowQuestion ['option'] = $(this).val();
                  rowQuestion ['type'] = 5;
                  rowQuestion ['group_name'] = name;
                  // rowQuestion [countQuestion] = rowQuestion;
                  questions.push(rowQuestion);
                  rowQuestion = {};
                  //
                  option.push($(this).val());
              });
              $(this).find("input[type='radio']").each(function() {
                  var name =  $(this).attr('name');
                  type = 4;
                  rowQuestion ['question'] = label;
                  rowQuestion ['option'] = $(this).val();
                  rowQuestion ['type'] = 4;
                  rowQuestion ['group_name'] = name;
                  // rowQuestion [countQuestion] = rowQuestion;
                  questions.push(rowQuestion);
                  rowQuestion = {};

                  //
                  option.push($(this).val());
              });
              $(this).find("input[type='number']").each(function() {
                  rowQuestion ['question'] = label;
                  rowQuestion ['option'] = $(this).parent().text();
                  rowQuestion ['type'] = 'sort';
                  rowQuestion ['group_name'] = name;
                  // rowQuestion [countQuestion] = rowQuestion;
                  questions.push(rowQuestion);
                  rowQuestion = {};

                  //
                  option.push($(this).val());
              });

              big_questions.push({
                  question: label,
                  is_staff_code_question: is_staff_code_question,
                  is_trainer_summary_point: is_trainer_summary_point,
                  option: option,
                  type: type
              });
              option = [];
          } else if (select) { // when type is select dropdown

              var name =  $(this).find('select').attr('name');

              $(this).find('option').each(function() {
                  rowQuestion ['question'] = label;
                  rowQuestion ['option'] = $(this).html();
                  rowQuestion ['type'] = 3;
                  rowQuestion ['group_name'] = name;
                  // rowQuestion [countQuestion] = rowQuestion;
                  questions.push(rowQuestion);
                  rowQuestion = {};

                  //
                  option.push($(this).val());
              });

              big_questions.push({
                  question: label,
                  is_staff_code_question: is_staff_code_question,
                  is_trainer_summary_point: is_trainer_summary_point,
                  option: option,
                  type: 3
              });
              option = [];
          }

          countQuestion ++;
      });

      var from    = $('#from').val();
        var to      = $('#to').val();
        var type    = $('#type').val();
        var all_staff  = $( "input[name*='all_staff']" ).prop('checked') == true ? 1 : 0;
        _name = $('#pg_name option');
        
        id_str = '';

            for(var i = 0; i < _name.length; i++) {
                id_str += $(_name[i]).attr('value') + ',';
            }

            id_str = id_str.replace(/\,$/, '');
            $('#pic').val(id_str);
        var pic =   id_str.replace(/\,$/, '');
        
        var _companys        = $( "input[name*='company[]']" );
        var _company_length  = $( "input[name*='company[]']" ).length;
        
        for(var i = 0; i < _company_length; i++) {
            if($(_companys[i]).prop('checked')  == true){
                company_objects.push($(_companys[i]).attr('value'));
            }
        }
        
        var _departments        = $( "input[name*='departments[]']" );
        var _department_length  = $( "input[name*='departments[]']" ).length;
        
        for(var i = 0; i < _department_length; i++) {
            if($(_departments[i]).prop('checked')  == true){
                department_objects.push($(_departments[i]).attr('value'));
            }
        }
        var _teams          = $( "input[name*='teams[]']" );
        var _teams_length   = $( "input[name*='teams[]']" ).length;
        
        for(var i = 0; i < _teams_length; i++) {
            if($(_teams[i]).prop('checked')  == true){
                team_objects.push($(_teams[i]).attr('value'));
            }
        }
        
        var _staff_titles          = $( "input[name*='staff_titles[]']" );
        var _staff_titles_length   = $( "input[name*='staff_titles[]']" ).length;
        
        for(var i = 0; i < _staff_titles_length; i++) {
            if($(_staff_titles[i]).prop('checked')  == true){
                title_objects.push($(_staff_titles[i]).attr('value'));
            }
        }
        
        var _areas          = $( "input[name*='areas[]']" );
        var _areas_length   = $( "input[name*='areas[]']" ).length;
        
        for(var i = 0; i < _areas_length; i++) {
            if($(_areas[i]).prop('checked')  == true){
                area_objects.push($(_areas[i]).attr('value'));
            }
        }
        
        var length_form = document.getElementById("target").length;
        var labels = document.getElementById("target").getElementsByTagName('label');
        
        var from_date   = $('#from').val();
        var to_date     = $('#to').val();
        var arrData     = [];
//        var render      = $('#render').val();
        var render      = $("#code-destination").text();
        // var fileSelect =  document.getElementById('fileToUpload');
        // var files = fileSelect.files;
        
        var data = {}; 
        
        if(length_form < 3 ){
          swal("Bạn vui lòng nhập đầy đủ thông tin!", "", "warning");
          return false;
        }else{
            
            for (index = 1; index < length_form; ++index) {
                var type_element = document.getElementById("target").elements[index].type;
                var id_element = document.getElementById("target").elements[index].id;
                var name_element = document.getElementById("target").elements[index].getAttribute('name');
                if(type_element == 'text'){
                    
                    var label_name  = document.getElementById("target").elements[index].parentElement.parentElement.getElementsByTagName('label')[0].textContent;
                    arrData.push({
                            'type': 'text',
                            'label': label_name,
                            'detail': '',
                            'group_id': id_element,
                            'group_name': name_element,
                        });
                        
                }else if(type_element == 'checkbox'){
                    
                    var label_name      = document.getElementById("target").elements[index].parentElement.parentElement.parentElement.getElementsByTagName('label')[0].textContent;
                    var checkbox_detail = document.getElementById("target").elements[index].value;
                    arrData.push({
                            'type': 'checkbox',
                            'label': label_name,
                            'detail': checkbox_detail,
                            'group_id': id_element,
                            'group_name': name_element,
                        });
                        
                }else if(type_element == 'radio'){
                    var label_name      = document.getElementById("target").elements[index].parentElement.parentElement.parentElement.getElementsByTagName('label')[0].textContent;
                    var option_detail = document.getElementById("target").elements[index].value;
                    
                    arrData.push({
                            'type': 'radio',
                            'label': label_name,
                            'detail': option_detail,
                            'group_id': id_element,
                            'group_name': name_element,
                        });
                        
                }else if(type_element == 'select-one'){
                    var length_select = document.getElementById("target").elements[index].length;
                    var label_name    = document.getElementById("target").elements[index].parentElement.parentElement.parentElement.getElementsByTagName('label')[0].textContent; 
                    for (i = 0; i < length_select; ++i) {
                        var select_detail = document.getElementById("target").elements[index].options[i].textContent;
                        arrData.push({
                            'type': 'select-one',
                            'label': label_name,
                            'detail': select_detail,
                            'group_id': id_element,
                            'group_name': name_element,
                        });
                    }
                }
                    
            }
            var formData = new FormData(document.getElementById('formFile'));
            formData.append('arrData', JSON.stringify(arrData));
            formData.append('render', JSON.stringify(render));
            formData.append('company_objects', JSON.stringify(company_objects));
            formData.append('department_objects', JSON.stringify(department_objects));
            formData.append('team_objects', JSON.stringify(team_objects));
            formData.append('title_objects', JSON.stringify(title_objects));
            formData.append('staff', JSON.stringify(staff_objects));
            formData.append('area_objects', JSON.stringify(area_objects));
            formData.append('from_date', JSON.stringify(from_date));
            formData.append('to_date', JSON.stringify(to_date));
            formData.append('type', JSON.stringify(type));
            formData.append('all_staff', JSON.stringify(all_staff));
            formData.append('pic', JSON.stringify(pic));
            formData.append('form_name', JSON.stringify(form_name));
            formData.append('questions', JSON.stringify(questions));
            formData.append('big_questions', JSON.stringify(big_questions));
            formData.append('required', JSON.stringify(required));
            formData.append('take_picture', JSON.stringify(take_picture));
            formData.append('pass_point', JSON.stringify(pass_point));
            formData.append('fail_point', JSON.stringify(fail_point));
            formData.append('survey_type', JSON.stringify(survey_type));
            formData.append('description', JSON.stringify(description));
            $.ajax({    
            url: '/survey/form-builder-save?id=' + id,
            type: 'POST',
            datatype: 'text',
            data: formData,
//                {
//                    "arrData"           : arrData,
////                    "formData"          : formData,
//                    "render"            : render,
//                    "company_objects"   : company_objects,
//                    "department_objects": department_objects,
//                    "team_objects"      : team_objects,
//                    "title_objects"     : title_objects,
//                    "staff"             : staff_objects,
//                    "area_objects"      : area_objects,
//                    "from_date"         : from_date,
//                    "to_date"           : to_date,
//                    "type"              : type,
//                    "all_staff"         : all_staff,
//                    "pic"               : pic,
//                    'form_name'         : form_name,
//                    'questions'         : questions
//                },
                cache: false,
                contentType: false,
                processData: false,
                success: function (data)
                {
                    var result = JSON.parse(data);
       
                    if(result.code == -1){
                        swal(result.message, "", "warning");
                        return false;
                    }else if(result.code == 1){
                         swal({
                            title: "Thành công ",
                            text: "Bạn đã tạo survey thành công",
                            icon: "success",
                            button: "OK",
                          });
                          setTimeout(function() { 
                        window.location.href = "/survey/form-builder-list"; 
                	 }, 1200);

                    }
                }
            });
            
        }
      
  }
</script>
 <script data-main="<?php echo HOST;?>form-builder/assets/js/main-built.js"  src="<?php echo HOST;?>form-builder/assets/js/lib/require.js" ></script>
  
</body>
</html>


