 <?php if(isset($this->mode) && $this->mode == 'fill'):?>

  <!DOCTYPE html>
  <html>

  <head>
    <title>OPPO Form</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="<?php echo HOST;?>img/favicon.ico">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title></title>
    <link rel="stylesheet" href="">
    <link rel="stylesheet" href="<?php echo HOST;?>form-builder/assets/css/bootstrap.min.css">
    <script src="<?php echo HOST;?>form-builder/assets/js/sweetalert.min.js"></script>


<style>
    .container-view * {
        font-family: Arial, Helvetica, sans-serif;
      }

      .container-view .view {
        position: relative;
        -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
        -moz-box-sizing: border-box;    /* Firefox, other Gecko */
        box-sizing: border-box;
        border-top: 10px solid #47cc82  ;
        display: flex;
        justify-content: center;
        background: white;
        padding: 75px;
        max-width: 720px;
        margin: 0 auto !important;
        top: 90px;
        box-shadow: 0 0 4px 1px rgba(0, 0, 0, 0.3);
        border-radius: 3px;
      }

      .container-view legend{
        font-size: 2.5em;
      }

      .container-view .container-background {
        height: 270px;
        width: 100%;
        background:  MediumSeaGreen;
        position: absolute;
        z-index: -1;
      }

      .container-view .control-label {
        display: block!important;
        margin-bottom: 5px!important;
        margin-top: 35px!important;
        text-align: left!important;
        font-size: 1.5em;
        font-weight: 300!important;
      }

      .container-view label.radio, .container-view label.checkbox {
        font-size: 1.2em;
        font-weight: 200!important;
      }

      .container-view input[type=radio], .container-view input[type=checkbox] {
        display: block;
        margin-left: -35px!important;
        transform: scale(1.2);
      }

      .inline {
        display: inline-block;
      }

      .inline:not(:first-of-type) {
        margin-left: 15px;
      }

      .radio, .checkbox {
        padding-left: 35px;
      }

      .container-view input[type="text"], .container-view input[type=password] {
        border-top: none;
        border-left: none;
        border-right: none;
        border-bottom: 1px lightgray dotted;
        width: 100%;
        max-width: 720px;
        height: 2.8em;
        padding-top: 5px;
        font-size: 1.2em;
        box-shadow: none;
        border-radius: 0!important;
      }

      .container-view input[type=text]:focus, .container-view input[type=password]:focus {
        border-color: none;
        box-shadow: none;
        border-bottom: 3px MediumSeaGreen solid;
      }

      .container-view .control-label {
        float: none!important;
        max-width: 720px;
        width: auto;
      }

      .container-view select {
        width: 100%;
        max-width: 720px;
      }

      .container-view .controls {
        margin-left: 0!important;
      }

      .view form {
        width: 100%;
      }
      
      legend {
        text-align: center;
      }

      .btn-submit {
        position: relative;
        top: 40px;
        text-align: center;
      }
</style>

  </head>



  <body>
    <div class="container-view">
      <div class="container-background"></div>
      <div class="view">
        <?php echo $this->form_html;?>
      </div>

      <div class="btn-submit">
        <button class="btn btn-success btnSubmit" type="">Submit</button>
      </div>  


    </div>

  </div>

    <script src="<?php echo HOST;?>form-builder/assets/js/jquery.min.js"></script>
    <script src="<?php echo HOST;?>form-builder/assets/js/bootstrap.min.js"></script>
  </body>

  <script>

      // validate file upload
      var _validFileExtensions = [".jpg", ".jpeg", ".png", ".xlsx"];    
      function ValidateSingleInput(oInput) {
        if (oInput.type == "file") {
          var sFileName = oInput.value;
          if (sFileName.length > 0) {
            var blnValid = false;
            for (var j = 0; j < _validFileExtensions.length; j++) {
              var sCurExtension = _validFileExtensions[j];
              if (sFileName.substr(sFileName.length - sCurExtension.length, sCurExtension.length).toLowerCase() == sCurExtension.toLowerCase()) {
                blnValid = true;
                break;
              }
            }

            if (!blnValid) {
              alert("Những định dạng file cho phép: " + _validFileExtensions.join(", "));
              oInput.value = "";
              return false;
            }
          }
        }
        return true;
      }

    //

    $( document ).ready(function() {
      var formInvalid; // to validate form
      
      $('form').attr('id', 'file');
      $('form').attr('enctype', 'multipart/form-data');
      $('[type=file]').attr('onchange', 'ValidateSingleInput(this);');

      
      $('.btnSubmit').click(function () {  
        // validate form
        $('form').find('input').each(function(){
          if($(this).prop('required')){

            if ($(this).val() === '') {

              formInvalid = true;
            }
          } 
        });
        
        if (formInvalid) {
          swal("Bạn vui lòng nhập đầy đủ thông tin!", "", "warning");
          formInvalid = false;
          return false;
        }
        //

        var formData = new FormData(document.getElementById('file'));
        var survey_id = '<?php echo $this->survey_id; ?>'
        var data = {};  
        var countQuestion = 1;

        $('.control-group').each(function() {         

            var lengthInput = $(this).find('input').length; 
            var label = $(this).find('label').html();
            var arrayInputValue = [];


            if(lengthInput == 1) {  // when type is text
                 data[countQuestion] = [$(this).find('input').val()];
            } else if(lengthInput > 1) {  // when type is checkbox
                 $(this).find('input').each(function() {
                    if ( $(this).is(":checked")) {          
                      arrayInputValue.push($(this).val());
                    }
                 });
                 
                 if (arrayInputValue.length > 0) {
                   data[countQuestion] = arrayInputValue;
                 } else { 
                  data[countQuestion] = [''];
                 }
               
            } else { // when type is select dropdown
              data[countQuestion] = [$(this).find('select :selected').text()];
            }
          countQuestion++;
      });

     formData.append('data', JSON.stringify(data));
     formData.append('survey_id', JSON.stringify(survey_id));
      //save upload file
         $.ajax({

            url: '/survey/save-collect',
            type: 'POST',
            datatype: 'text',
           
            data: formData,
            
            cache: false,
            contentType: false,
            processData: false,
            error: function(error){
              console.log(eval(error));
            },
            success: function(data){
              var times = Number(data) + 1; // times user has submited 
             
            swal({
              title: "Bạn đã submit thành công ",
              text: "Bạn đã submit " + times + " lần",
              icon: "success",
              button: "OK",
            });

            $('html, body').animate({scrollTop: '0px'}, 500);
          }
            
        });

     });
    

  });
  </script>

  </html>
<?php else: ?>
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>OPPO Form</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="/css/bootstrap-datetimepicker.min.css"/>
    <link href="<?php echo HOST;?>form-builder/assets/css/lib/bootstrap.min.css" rel="stylesheet">
    <link href="<?php echo HOST;?>form-builder/assets/css/lib/bootstrap-responsive.min.css" rel="stylesheet">
    <link href="<?php echo HOST;?>form-builder/assets/css/custom.css" rel="stylesheet">
     <script type="text/javascript" src="/js/jquery-1.7.2.min.js"></script>
     <script type="text/javascript" src="/js/jquery-ui-1.8.12.custom.min.js"></script>
    <script type="text/javascript" src="/js/jquery.checkboxtree.js"></script>
      <script src="<?php echo HOST;?>form-builder/assets/js/sweetalert.min.js"></script>
    <link rel="stylesheet" type="text/css" href="/css/jquery.checkboxtree.css"/>
    <link rel="shortcut icon" href="<?php echo HOST;?>img/favicon.ico">
    <link rel="apple-touch-icon" href="images/apple-touch-icon.png">
    <link rel="apple-touch-icon" sizes="72x72" href="images/apple-touch-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="114x114" href="images/apple-touch-icon-114x114.png">
  </head>

  <body>
<style>
    .tabbable{
        background-color: #fff;
        margin-bottom: 48px;
        -webkit-box-shadow: 0 1px 4px 0 rgba(0,0,0,0.37);
        box-shadow: 0 1px 4px 0 rgba(0,0,0,0.37);
        padding-bottom: 6px;
        word-wrap: break-word;

    }    
</style>
    <div class="container">
        <div class="row clearfix pull-right">
            <a type="submit" class="btn btn-primary" id="btn-submit" onclick="builderAdd()" >SUBMIT</a>
            <button type="submit" class="btn btn-success " id="btn-preview" onclick="preview()" >PREVIEW</button>
            <a href="/survey/form-builder-list" class="btn btn-danger" i >GO BACK</a>
        </div>
        
        <ul class="nav nav-tabs">
            <li class="active"><a href="#tab_content" data-toggle="tab">Content</a></li>
            <li class=""><a href="#tab_show" data-toggle="tab">Display to</a></li>
            <li class=""><a href="#tab_time" data-toggle="tab">Set time</a></li>
        </ul>
        <div class="tab-content">
        <div class="row clearfix tab-pane active"  id="tab_content">
        <!-- Building Form. -->
        <div class="span6">
          <div class="clearfix">
            
            <div id="build">
        
                <form action="/survey/form-builder-preview" method="POST" id="target"  class="form-horizontal" target="_blank" >
                    
                    <input  type="hidden" name="form_html" id="form_html"  >
                </form>
            </div>
          </div>
        </div>
        <!-- / Building Form. -->

        <!-- Components -->
        <div class="span6">
         
          <div class="tabbable">
            <ul class="nav nav-tabs" id="formtabs">
              <!-- Tab nav -->
            </ul>
            <form class="form-horizontal" id="components">
                <fieldset>
                  <div class="tab-content">
                    <!-- Tabs of snippets go here -->
                  </div>

                </fieldset>
                
            </form>
          </div>
        </div>
        <!-- / Components -->

      </div>
   
            <div class="tab-pane" id="tab_show">
                <?php echo $this->render('survey/partials/tab-show.phtml'); ?>
            </div>
            <div class="tab-pane" id="tab_time">
                <?php echo $this->render('survey/partials/tab-time.phtml'); ?>
            </div>
        </div>   
      <div class="row clearfix">
        
      </div>

    </div> <!-- /container -->

    <script language="javascript" type="text/javascript" src="/js/bootstrap-datetimepicker.min.js"></script>
    <script data-main="<?php echo HOST;?>form-builder/assets/js/main-built.js" src="<?php echo HOST;?>form-builder/assets/js/lib/require.js" ></script>
  
  </body>
  <script >
    $(document).ready(function () {
        
    
        $('.tree').checkboxTree();
        $('.checkall').change(check_all);
        $('.display-item').change(check_select_all);
        
        $('.date').datetimepicker({
            weekStart: 1,
            clear: true,
            minView: '0',
            autoclose: true,
            format: 'dd/mm/yyyy hh:ii'
        });
        
        $( "#s_name" ).keypress(function( event ) {
            if ( event.which == 13 ) {
                event.preventDefault();
                $('.loading').remove();
                var _self = $( "#s_name" );
                name = _self.val().trim();

                if (!name) return false;

                //get ajax content
                var aj = $('.load-ajax');
                if (aj.length){
                    _self.after("<span class=\'loading\'></span>");
                    $.ajax({
                        url: '<?php echo HOST ?>staff',
                        type: 'post',
                        dataType: 'html',
                        data: {
                            sname: 1,
                            name: name
                        },
                    })
                    .done(function(data) {
                        console.log("success");
                        aj.html(data);
                    })
                    .fail(function() {
                        console.log("error");
                    })
                    .always(function() {
                        console.log("complete");
                        _self.next('.loading').remove();
                    });
                }

                return false;
            }
        });
        
        $('#add_pg_btn').click(function(){
            _self = $('#name_result');
            item = _self.children('option:selected').clone();
            list = $(item);

            for (var i = 0; i < item.length; i++) {

                if ( ! is_exists( $(item[i]).attr('value'), false) ) {
                    _des = $('#pg_name');
                    _des.append(item[i]);
                }
            }
        });

        $('#remove_pg_btn').click(function(){
            _self = $('#pg_name');
            item = _self.children('option:selected').remove();
        });
        
        $("[href='#rendered']").hide(); // hide rendered tab
        $("[href='#about']").hide('fast'); // hide about tab
        // hide button  in button tab
        $("[for='singlebutton']").hide(); 
        $("[id='singlebutton']").hide(); 
        $("[for='doublebutton']").hide();
        $("[id='doublebutton']").hide(); 
        $("[id='button2id']").hide(); 
        $("#passwordinput").parent('div').parent('div').parent('div').hide();
        $("#passwordinput").css('display', 'none');
        $("#searchinput").parent('div').parent('div').parent('div').hide();
        $("#prependedtext").parent('div').parent('div').parent('div').hide();
        $("#appendedtext").parent('div').parent('div').parent('div').hide();
        $("#prependedcheckbox").parent('div').parent('div').parent('div').hide();
        $("#appendedcheckbox").parent('div').parent('div').parent('div').hide();
        $("#buttondropdown").parent('div').parent('div').parent('div').hide();
    });
    
    function is_exists(id, is_leader) {
        if(is_leader) {
            _des = $('#leader_name');
        } else {
            _des = $('#pg_name');
        }

        items = _des.children('option');
        for(var i = 0; i < items.length; i++) {
            if ($(items[i]).attr('value') == id) {
                return true;
            }
        }
        return false;
    }
    
    function check_all(e) {
        _self = $(e.target);
        target = _self.data('target');

        if (!target) return false;

        $(target).prop('checked', _self.prop('checked'));
    }
    
    function check_select_all(e) {
        $('.display-item').unbind('change');

        _self = $(e.target);
        type = _self.data('type');

        if (!type) return false;

        all_is_checked = true;

        $(type).each(function(index, el) {
            if (!$(el).prop('checked')) {
                all_is_checked = false;
                return false;
            }
        });
        
        $('[data-target="'+type+'"]').prop('checked', all_is_checked);
        $('.display-item').change(check_select_all);
    }
    
  function preview(){
       $("#form_html").val(document.querySelector("#render").value);
       var form = document.createElement("target");
       form.setAttribute("method", "post");
       form.setAttribute("action", "/survey/form-builder-preview");
       document.getElementById("target").submit();
       
  }
  
  function builderAdd(){
        var company_objects  = [];
        var department_objects  = [];
        var team_objects        = [];
        var title_objects       = [];
        var area_objects        = [];
        var staff_objects       = [];
        var form_name = $('#target').find('legend').html();
         var questions = [];

        $('#target').find('.control-group').each(function() {
          questions.push($(this).find('label').first().html());
        });
        var from    = $('#from').val();
        var to      = $('#to').val();
        var type    = $('#type').val();
        var all_staff  = $( "input[name*='all_staff']" ).prop('checked') == true ? 1 : 0;
        _name = $('#pg_name option');
        
        id_str = '';

            for(var i = 0; i < _name.length; i++) {
                id_str += $(_name[i]).attr('value') + ',';
            }

            id_str = id_str.replace(/\,$/, '');
            $('#pic').val(id_str);
        var pic =   id_str.replace(/\,$/, '');
        
        var _companys        = $( "input[name*='company[]']" );
        var _company_length  = $( "input[name*='company[]']" ).length;
        
        for(var i = 0; i < _company_length; i++) {
            if($(_companys[i]).prop('checked')  == true){
                company_objects.push($(_companys[i]).attr('value'));
            }
        }
        
        var _departments        = $( "input[name*='departments[]']" );
        var _department_length  = $( "input[name*='departments[]']" ).length;
        
        for(var i = 0; i < _department_length; i++) {
            if($(_departments[i]).prop('checked')  == true){
                department_objects.push($(_departments[i]).attr('value'));
            }
        }
        
        var _teams          = $( "input[name*='teams[]']" );
        var _teams_length   = $( "input[name*='teams[]']" ).length;
        
        for(var i = 0; i < _teams_length; i++) {
            if($(_teams[i]).prop('checked')  == true){
                team_objects.push($(_teams[i]).attr('value'));
            }
        }
        
        var _staff_titles          = $( "input[name*='staff_titles[]']" );
        var _staff_titles_length   = $( "input[name*='staff_titles[]']" ).length;
        
        for(var i = 0; i < _staff_titles_length; i++) {
            if($(_staff_titles[i]).prop('checked')  == true){
                title_objects.push($(_staff_titles[i]).attr('value'));
            }
        }
        
        var _areas          = $( "input[name*='areas[]']" );
        var _areas_length   = $( "input[name*='areas[]']" ).length;
        
        for(var i = 0; i < _areas_length; i++) {
            if($(_areas[i]).prop('checked')  == true){
                area_objects.push($(_areas[i]).attr('value'));
            }
        }
        
        var length_form = document.getElementById("target").length;
        var labels = document.getElementById("target").getElementsByTagName('label');
        
        var from_date   = $('#from').val();
        var to_date     = $('#to').val();
        var arrData     = [];
        var render      = $('#render').val();
        
        if(length_form < 3 ){
          swal("Bạn vui lòng nhập đầy đủ thông tin!", "", "warning");
          return false;
        }else{
            for (index = 1; index < length_form; ++index) {
                var type_element = document.getElementById("target").elements[index].type;
                var id_element = document.getElementById("target").elements[index].id;
                var name_element = document.getElementById("target").elements[index].getAttribute('name');
                if(type_element == 'text'){
                    
                    var label_name  = document.getElementById("target").elements[index].parentElement.parentElement.getElementsByTagName('label')[0].textContent;
                    arrData.push({
                            'type': 'text',
                            'label': label_name,
                            'detail': '',
                            'group_id': id_element,
                            'group_name': name_element,
                        });
                        
                }else if(type_element == 'checkbox'){
                    
                    var label_name      = document.getElementById("target").elements[index].parentElement.parentElement.parentElement.getElementsByTagName('label')[0].textContent;
                    var checkbox_detail = document.getElementById("target").elements[index].value;
                    arrData.push({
                            'type': 'checkbox',
                            'label': label_name,
                            'detail': checkbox_detail,
                            'group_id': id_element,
                            'group_name': name_element,
                        });
                        
                }else if(type_element == 'radio'){
                    var label_name      = document.getElementById("target").elements[index].parentElement.parentElement.parentElement.getElementsByTagName('label')[0].textContent;
                    var option_detail = document.getElementById("target").elements[index].value;
                    
                    arrData.push({
                            'type': 'radio',
                            'label': label_name,
                            'detail': option_detail,
                            'group_id': id_element,
                            'group_name': name_element,
                        });
                        
                }else if(type_element == 'select-one'){
                    var length_select = document.getElementById("target").elements[index].length;
                    var label_name    = document.getElementById("target").elements[index].parentElement.parentElement.parentElement.getElementsByTagName('label')[0].textContent; 
                    for (i = 0; i < length_select; ++i) {
                        var select_detail = document.getElementById("target").elements[index].options[i].textContent;
                        arrData.push({
                            'type': 'select-one',
                            'label': label_name,
                            'detail': select_detail,
                            'group_id': id_element,
                            'group_name': name_element,
                        });
                    }
                }
                    
            }
            
            $.ajax({
            url: '/survey/form-builder-save',
            Type: 'GET',
            datatype: 'JSON',
                data:
                {
                    "arrData"           : arrData,
                    "render"            : render,
                    "company_objects"   : company_objects,
                    "department_objects": department_objects,
                    "team_objects"      : team_objects,
                    "title_objects"     : title_objects,
                    "staff"             : staff_objects,
                    "area_objects"      : area_objects,
                    "from_date"         : from_date,
                    "to_date"           : to_date,
                    "type"              : type,
                    "all_staff"         : all_staff,
                    "pic"               : pic,
                    'form_name'         : form_name,
                    'questions'         : questions
                },
                cache: false,
                success: function (data)
                {
                    var result = JSON.parse(data);
                    console.log(result.code);
                    console.log(result.message);
                    console.log(result);
                    if(result.code == -1){
                        swal(result.message, "", "warning");
                        return false;
                    }else if(result.code == 1){
                         swal({
                            title: "Thành công ",
                            text: "Bạn đã tạo survey thành công",
                            icon: "success",
                            button: "OK",
                          });
                        window.location.href = "/survey/form-builder-list"; 
                    }
                   

                }
            });
        }
      
  }
  
  </script>
    
</html>

<?php endif;?>