  <!DOCTYPE html>
  <html>
  <head>
    <meta charset="utf-8">
    <title>OPPO Form</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="https://center.opposhop.vn/img/favicon.ico">
    <link rel="apple-touch-icon" href="images/apple-touch-icon.png">
    <link rel="apple-touch-icon" sizes="72x72" href="images/apple-touch-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="114x114" href="images/apple-touch-icon-114x114.png">

    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<style>
    .container-view * {
        font-family: Roboto,RobotoDraft,Helvetica,Arial,sans-serif;
      }
      .sortInput{
          width: 50px !important;
      }
      .container-view .view {
        position: relative;
        -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
        -moz-box-sizing: border-box;    /* Firefox, other Gecko */
        box-sizing: border-box;
        border-top: 10px solid #47cc82  ;
        display: flex;
        justify-content: center;
        background: white;
        padding: 25px 33px 75px;
        max-width: 640px;
        margin: 0 auto !important;
        top: 90px;
        box-shadow: 0 0 4px 1px rgba(0, 0, 0, 0.3);
        border-radius: 3px;
      }

      .container-view legend{
        font-size: 20px;
        padding-bottom: 0.3em;
        display: block;
        margin-bottom: -1.1em;
      }

      .container-view .container-background {
        height: 270px;
        width: 100%;
        background:  MediumSeaGreen;
        position: absolute;
        z-index: -1;
      }

      .container-view .control-label {
        display: block!important;
        margin-bottom: 5px!important;
        margin-top: 20px!important;
        text-align: left!important;
        font-size: 14px;
        font-weight: normal ;
      }

      .container-view label.radio, .container-view label.checkbox {
        font-size: 14px;
       font-weight: normal ;
      }

      .container-view input[type=radio], .container-view input[type=checkbox] {
        display: block;
        margin-left: -35px!important;
        transform: scale(1.2);
      }
        .sort_radio {
            display: block;
            font-size: 14px;
            font-weight: 200!important;
        }
        .sortInput{
            text-align: center;
            margin-right: 20px;
        }
      .inline {
        display: inline-block;
      }

      .inline:not(:first-of-type) {
        margin-left: 15px;
      }

      .radio, .checkbox {
        padding-left: 35px;
      }

      .container-view input[type="text"], .container-view input[type=password] {
        border-top: none;
        border-left: none;
        border-right: none;
        border-bottom: 1px lightgray dotted;
        width: 100%;
        max-width: 720px;
        height: 2.8em;
        padding-top: 5px;
        font-size: 1.2em;
        box-shadow: none;
        border-radius: 0!important;
      }

      .container-view input[type=text]:focus, .container-view input[type=password]:focus {
        border-color: none;
        box-shadow: none;
        border-bottom: 3px MediumSeaGreen solid;
      }

      .container-view .control-label {
        float: none!important;
        max-width: 720px;
        width: auto;
      }

      .container-view select {
        width: auto;
        max-width: 360px;
      }
      .container-view textarea {
        max-width: 572px;
        height: 114px;
        margin: 0px;
      }

      .container-view .controls {
        margin-left: 0!important;
      }

      .view form {
        width: 100%;
      }
      
      legend {
        text-align: center;
        font-weight: bold;
      }

      .btn-submit {
        position: relative;
        top: 40px;
        text-align: center;
      }
      input {
        outline: none !important;
      }
      .checkbox input[type=checkbox], .radio input[type=radio] {
        margin-left: -17px!important;
      }

      label.checkbox, label.radio {
        margin-left: -5px!important;
      }
</style>
  </head>



   <body>
    <div class="container-view">
      <div class="container-background"></div>
      <div class="view">
        <?php echo $this->form_html;?>
      </div>
    </div>
  </div>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  </body>
  <script>
     $( document ).ready(function() {
       // style form 
      $('.view').find('link').remove();
      $('form').find('.form-group').removeClass('form-group').addClass('control-group');
      $('form').find('.control-group').find('.col-xs-8').removeClass('col-xs-8').addClass('controls');
      $('form').find('.control-group').find('.col-xs-4').removeClass('col-xs-4');
      $('.row').remove();

      $('form').find('.input-group-addon').remove();// edit input field
      $('form').find('input[type="text"]').unwrap();
      
      $('label.checkbox').unwrap();
      $('label.checkbox').addClass('radio');

      $('label.radio-inline').addClass('radio inline');
      $('label.checkbox-inline').addClass('checkbox inline');  

      // group_radio and bold questions
      $(".control-group").each(function() {
        $(this).find("label[bold='true']").css('font-weight', 'bold'); // bold questions

        //group radio
        var input_group_radio = $(this).find("input[group_radio='true']");

        if (input_group_radio.length > 0) {
          $(this).find('label').first().removeClass('control-label');
          $(this).find('label').first().addClass('radio-inline');
          $(this).find('label').first().css('padding-left', '3px');

          input_group_radio.parent().unwrap();
        }
      })

      // add form name and description
      var form_name = "<?php echo $this->form_name; ?>";
      var description = "<?php echo $this->description; ?>";
      $('form').prepend("<legend>" + form_name + "</legend>");  
      $('legend').after("<div class='control'><div class='controls'> <label></label><h5 style='text-align:justify'>" + description + "</h5></div></div>");   
    
    });
  </script>
  </html>