

<head>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
</head>


<h2>Tạo survey</h2>


<?php if ($this->errors) :?>
    <?php foreach ($this->errors as $error): ?>
        <div class="alert alert-error"> <?php echo $error; ?> </div>
    <?php endforeach; ?>
<?php endif; ?>

<form action="/survey/save-mass-upload-survey" method="post" accept-charset="utf-8" enctype="multipart/form-data"  >


	<label>Title:<input type="text" name="title" value="" required></label><br>
	<label>Content:<input type="text" name="content" value=""></label>
	<h4>Chọn file upload</h4>
	<div class="input-group" style="width:30%">
		<label class="input-group-btn">
			<span class="btn btn-primary">
				Browse&hellip;  <input type="file" name="file" style="display: none;">
			</span>
		</label>
		<input type="text" class="form-control" readonly>
	</div>

	<br>
	<input type="submit" class="btn btn-success" value="Next" name="submit" style="margin-left: 270px;">
</form>

<div class="alert alert-info uploading" style="width:30%; display:none" >
	<strong> File đang được upload ...</strong>
</div>


<script>

	$('.btn-success').click(function() {
		$(".uploading").show();
	});

	$(function() {
  // We can attach the `fileselect` event to all file inputs on the page
  $(document).on('change', ':file', function() {
    var input = $(this),
        numFiles = input.get(0).files ? input.get(0).files.length : 1,
        label = input.val().replace(/\\/g, '/').replace(/.*\//, '');
    input.trigger('fileselect', [numFiles, label]);
  });

  // We can watch for our custom `fileselect` event like this
  $(document).ready( function() {
      $(':file').on('fileselect', function(event, numFiles, label) {

          var input = $(this).parents('.input-group').find(':text'),
              log = numFiles > 1 ? numFiles + ' files selected' : label;

          if( input.length ) {
              input.val(log);
          } else {
              if( log ) alert(log);
          }

      });
  });
  
});
</script>
