<link rel="stylesheet" type="text/css" href="<?php echo HOST ?>css/bootstrap.min.css" />
<style type="text/css">
    body {
        background: #f9f6f1;
    }
</style>
<?php if (isset($this->result) && $this->result): ?>
    <div class="alert alert-success"><?php echo $this->result ?></div>
    <script type="text/javascript">
        parent.$("#survey_true").show();
        parent.$("#survey_false").hide();
        setTimeout(function(){
            parent.window.location="<?php echo HOST ?>"
        },3000);
    </script>
<?php endif ?>

<?php if (isset($this->error) && $this->error): ?>
    <div class="alert alert-danger"><?php echo $this->error ?></div>
    <?php if (isset($this->reset) && $this->reset): ?>
        <script type="text/javascript">
            parent.$("#survey_true").hide();
            parent.$("#survey_false").show();
            setTimeout(function(){
                //parent.window.location.reload();
            },3000)
            parent.$('button').show(); parent.$('.loading').remove();
        </script>
    <?php else: ?>
        <script type="text/javascript">
            parent.$("#survey_true").hide();
            parent.$("#survey_false").show();
            parent.$('button').show(); parent.$('.loading').remove();
        </script>
    <?php endif ?>
<?php endif ?>