<link href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.3/css/select2.min.css" rel="stylesheet" />
<script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.3/js/select2.min.js"></script>

<link rel="stylesheet" type="text/css" href="/css/bootstrap-datetimepicker.min.css">
<link rel="stylesheet" type="text/css" href="<?php echo HOST ?>css/bootstrap-multiselect.css">


<style type="text/css">
	._main{padding: 20px}
	/*.span6{margin: 0}*/
	/*body{font-size : 18px;}*/
	.page-header{margin: 30px 0; border: 0; padding: 0}
	.block, .block select{text-align: left; display: block}
	.center{text-align: center}
	.left{text-align: left}
	.float-left{float: left}
	.none{display: none}
	.mt-20{margin-top: 20px}
	.bg-fff{background: #F6F6F6}
	.red{color: red}
	.note{margin-left: 5px; font-weight: bold}
	.relative{position: relative}
	.alert.success {background-color: #4CAF50;}
	.b {font-weight: bold}
	.margin-l {margin-left:3% !important}

	select{
		font-size: 14px;
		padding-bottom:12px;

	}

	.radio-toolbar input[type="radio"] {
		display:none; 
	}

	.radio-toolbar label {
		display:inline-block;
		background-color:#fff;
		padding:6px 11px;
		color: gray;
		font-family:Arial;
		font-size:12px;
	}

	.radio-toolbar input[type="radio"]:checked + label { 
		/*background-color:#bbb;*/
		border: #A0C2F9 solid 2px;
		/*border-color: #00BA8B;*/
		color: black;
		font-weight: bold;
	}

</style>

<br>
<div class="page-header">
	<h1>Manage Store Staff</h1>
</div>
<hr>


<form method="post" id="myForm" action="/manage-store-staff">

	<div class="row" >

		<div class="span12">
			<div class="alert alert-success none">
				<strong></strong>
			</div>
			<div class="alert alert-danger none">
				<strong></strong>  
			</div>

			<div class="control-group none" style="float: left">
				<button type="button" class="btn btn-primary" id="success"></button>
				<button type="button" class="btn btn-primary" id="error"></button>
				
			</div>
			
		</div>
	</div>
	<div class="_main center bg-fff">
		<div class="clearfix">
			<div class="control-group" style="float: right">
				<button type="button" class="btn btn-primary" id="btn-save">Assign Store</button>
				<a href="/kpistorechecking"><button type="button" class="btn btn-default">Back</button></a>
				<input type="hidden" id="code" value="">
				<input type="hidden" id="type" value="">
				
			</div>
			<span class="span5">

				<div class="control-group ">
					<span class="block relative">
						<label class="b">From date </label>
						<input type="text" name="from_date" class="date inline margin-l" id="from-date" value="">
					</span>
				</div>

				<div class="control-group">
					<span class="block relative">
						<label class="control-label b" for="name" >Type</label>
						<div class="controls margin-l radio-toolbar">
							<input type="radio" name="type" id="radio1" class="is_staff" checked value="1" > 
							<label for="radio1">Shop trực tiếp</label>

							<input type="radio" name="type" id="radio2" class="is_leader" value="2" > 
							<label for="radio2">Shop gián tiếp</label>
						</div>
					</span>
				</div>
				
				<div class="control-group ">
					<span class="block relative hide_show">
						<label class="control-label b" for="name" >Is level</label>
						<div class="controls margin-l radio-toolbar">
							<input type="radio" name="is_level" id="is_level1" checked value="0" > 
							<label for="is_level1">PGPB</label>

							<input type="radio" name="is_level" id="is_level2" value="2" > 
							<label for="is_level2">PB Sales</label>

							<input type="radio" name="is_level" id="is_level3" value="1" > 
							<label for="is_level3">Sales</label>
						</div>
					</span>
				</div>
				
				<div style="margin-top: 50px" class="control-group">
					<span class="block relative">
						<label for="s_name" class="b">Search Staff</label>
						<input type="text" class="span6 form-control staff margin-l" id="s_name" placeholder="Enter Staff Name or Code or Email then press ENTER" name="s_name" />
						<label for="" class="b">Result Staff</label>

						<select class="span6 margin-l" name="result_staff" id="result_staff" size="8">
							<input type="hidden" name="staff_id" id="staff-id" value="">

						</select>
					</span>
				</div>
				
				<div class="control-group">
					<span class="block relative">


						<label for="s_store" class="b">Search Store</label>
						<input type="text" class="span6 form-control margin-l"  id="s_store" placeholder="Enter Store Name then press ENTER" name="s_store" />
						<label for="" class="b">Result Store</label>

						<select class="span6 form-control margin-l " name="result_store" id="result_store" size="8">
							<input type="hidden" id="store-id" value="">

						</select>

					</span>

				</div>
			</span> 
		</div>

	</div>
</form>
<script type="text/javascript" src="/js/bootstrap-datetimepicker.min.js"></script>
<script type="text/javascript" src="<?php echo HOST ?>js/bootstrap-multiselect.js"></script>

<script>
	$(document).ready(function() {
		$(".js-example-basic-multiple").select2();
	});

	$('.date').datetimepicker({
		format: 'dd/mm/yyyy',
		startView: 2,
		minView: 2,
		autoclose: true
	});

	$('.is_staff').click(function(){
		$('.hide_show').show(700);
	});
	$('.is_leader').click(function(){
		$('.hide_show').hide(600);
		$('input[name=is_level]:checked').prop('disabled','false');
	});

	$('#result_staff').click(function(){
		var staff_id = $(this).val();
		
		$("#staff-id").val(staff_id);

	});
	$("#btn-save").click(function(){
		var store_id = [];

		$('#result_store option').each(function() {
			if ($(this).is(':selected')) { 
				store_id.push($(this).val());
			}
		});


		$("#store-id").val(store_id);

		var staff_id   = $("#staff-id").val();
		var type       = $('input[name=type]:checked', '#myForm').val();
		var is_level   = $('input[name=is_level]:checked', '#myForm').val();
		var from       = $("#from-date").val();
		// alert(is_level); return false;

		$.ajax({
			url: "/manage-store-staff/save",
			type: "POST",
			data:{store_id:store_id,staff_id:staff_id,type:type,from:from,is_level:is_level},
			dataType : "json",
			success:function(data){
				if(!data.status)
				{
					var oa = $(".alert-success");
					var ob = $(".alert-danger");
					ob.children("strong").html(data.message);
					oa.hide();
					ob.show();
					// setTimeout(function(){
					// 	ob.hide();
					// },2500);
					
				}
				else
				{
					var oa = $(".alert-danger");
					var ob = $(".alert-success");
					ob.children('strong').html(data.success);
					oa.hide();
					ob.show();
					// setTimeout(function(){
					// 	ob.hide();
					// },2500);
					

				}
			}
		});
	});

	
	$("#s_name" ).keypress(function(e) {
		if (e.keyCode == 13) {
			var txt_staff = $(this).val();

			if(txt_staff.length >=3) 
			{
				$('form').on('submit',function(e){e.preventDefault();});
				$('form button, form input, form select').prop('disabled', true);

				$(this).after('<span class="loading"></span>');
				$.ajax({
					url: "/manage-store-staff/staff",
					type:"post",
					data:{txt_staff:txt_staff},
					dataType : "html",
					success:function(data){
						$("#result_staff").html(data); 
						$('.loading').remove();
					}
				});
				$('form').unbind('submit');
				$('form button, form input, form select').prop('disabled', false);
			}  

			return false;
		}
	});

	$('#s_store').keydown(function (e){
		if(e.keyCode == 13){
			var txt_store = $(this).val();
			if(txt_store.length >=3) 
			{   
				$('form').on('submit',function(e){e.preventDefault();});
				$('form button, form input, form select').prop('disabled', true);

				$(this).after('<span class="loading"></span>');
				$.ajax({
					url: "/manage-store-staff",
					type:"post",
					data:{txt_store:txt_store},
					dataType : "html",
					success:function(data){
						$("#result_store").html(data); 
						$('.loading').remove();
					}
				});
				$('form').unbind('submit');
				$('form button, form input, form select').prop('disabled', false);

			}
			return false;  
		}
	});

</script>
