<style type="text/css">
    .detail {
        color: #19bc9c;

    }

    .detail:hover {
        color: #545454;
        text-decoration: underline;
        cursor: pointer;
    }

    .detail_info td {
        background: #E2EDEA;
        color: black;
    }

    .detail_info:hover td {
        background: #E2EDEA !important;
        color: black !important;
    }
</style>

<div class="page-header">
    <h1>Incentive</h1>
</div>
<?php
    if (isset($this->messages) and $this->messages)
        foreach ($this->messages as $message):
            echo '<div class="alert alert-success">'.$message.'</div>';
        endforeach;

    if (isset($this->messages_error) and $this->messages_error)
        foreach ($this->messages_error as $message):
            echo '<div class="alert alert-error">'.$message.'</div>';
        endforeach;
?>

<?php echo $this->render('historical/partials/incentive-search.phtml') ?>

<div class="table-responsive load-ajax">
    <?php echo $this->render('historical/partials/incentive-list.phtml') ?>     
</div>

