<table class="table table-responsive">
    <tr>
        <td class="span1">Date</td>
        <td class="span3">
            <input type="text" name="date" class="date" required="required" value=""/>
        </td>
        <td class="span2">
            Type Asset
        </td>
        <td class="span4">
            <div class="span4">
                <input type="text" value="" name="search_type_asset" id="search_type_asset" autocomplete="off" placeholder='Search a Asset'/>
                <select id="asset" name="asset" required="required" size="5">
                    <option value="">Please select</option>
                    <?php if($this->type_asset) foreach($this->type_asset as $key => $value):?>
                        <option value="<?php echo $key;?>"> <?php echo $value;?></option>
                    <?php endforeach;?>
                </select>
            </div>
        </td>
    </tr>
    <tr>
        <td class="span1">Quantity</td>
        <td class="span3">
            <input type="number" name="quantity" required="required" value=""/>
        </td>
        <td class="span2">Note</td>
        <td class="span4">
            <textarea name="note"></textarea>
        </td>
    </tr>
    <tr>
        <td colspan="4">
            <div class="pull-right">
                <input type="button" value="+" class="btn btn-primary add_order"/>
                <input type="button" value="-" class="btn btn-danger remove_order"/>
            </div>
        </td>
    </tr>
</table>