<table class="table table-bordered table-responsive">
    <thead>
        <tr>
            <th>Date</th>
            <th>Type</th>
            <th>location</th>
            <th>Number</th>
            <th>Note</th>
        </tr>
    </thead>
    <tbody>
        <?php
            if(isset($this->times) and count($this->times)):
                foreach($this->times as $item):
        ?>
        <tr>
            <td><?php echo date('d/m/Y',strtotime($item['created_at'])) . " (".date('D',strtotime($item['created_at'])).")"; ?></td>
            <td><?php if(isset($this->trainer_works[$item['work']])) echo $this->trainer_works[$item['work']];?></td>
            <td><?php if(isset($item['location']) AND $item['location']) echo $item['locate']; ?></td>
            <td><?php if(isset($item['number']) AND $item['number']) echo $item['number'];?></td>
            <td><?php if(isset($item['note']) AND $item['note']) echo $item['note'];?></td>
        </tr>
        <?php
                endforeach;
            endif;?>
    </tbody>
</table> 