<form class="form-search form-horizontal" method="get" action="/trainer/list-event-report">
    <div class="row">
        <div class="span5">
            <!--
            <div class="control-group">
                <label for="date" class="span1">Date</label>
                <input id="date" name="date" type="text" class="input-medium search-query form-control span2 date" value="<?php isset($this->params['date']) and printf($this->params['date']);?>">
            </div>
            -->
            <div class="control-group">
                <label for="" class="span1">From date</label>
                <input id="from_date" name="from_date" type="text" class="input-medium search-query form-control span2 date" value="<?php isset($this->params['from_date']) and printf($this->params['from_date']);?>">
            </div>

            <div class="control-group">
                <label for="" class="span1">To date</label>
                <input id="to_date" name="to_date" type="text" class="input-medium search-query form-control span2 date" value="<?php isset($this->params['to_date']) and printf($this->params['to_date']);?>">
            </div>

            <div class="control-group">
                <label for="store" class="span1" >Store</label>
                <select class="span3" id="store" name="store">
                    <option value="">Select</option>
                    <?php if(isset($this->list_store) and ($this->list_store)):?>
                        <?php foreach($this->list_store as $key => $val):?>
                            <option value="<?php echo $key?>" <?php if(isset($this->params['store']) and $this->params['store'] == $key):?> selected <?php endif;?>><?php echo $val?></option>
                        <?php endforeach;?>
                    <?php endif; ?>
                </select>
            </div>
        </div>
        <div class="span6">
            <div class="control-group">
                <div><label for="date" class="span1">Dealer</label></div>
                <div class="span3">
                    <input type="text" value="" name="search_dealer" id="search_dealer" class="span3" autocomplete="off" placeholder='Select a Dealer'/>
                    <select class="span3" name="dealer" id="dealer" size="5">
                        <option value="">Select</option>
                        <?php if(isset($this->name_dealer) and ($this->name_dealer)):?>
                            <?php foreach($this->name_dealer as $key => $value):?>
                                <option value="<?php echo $key?>" <?php if(isset($this->params['dealer']) and $this->params['dealer'] = $key): ?> selected <?php endif;?>><?php echo $value?></option>
                            <?php endforeach;?>
                        <?php endif;?>
                    </select>
                </div>
            </div>
        </div>
    </div>


    <button type="submit" class="btn btn-primary">Search</button>
    <a href="/trainer/list-event-report" class="btn btn-warning">Reset</a>
    <button type="submit" name='export' value="1" class="btn btn-primary">Export</button>
</form>
<style>
    .birth{width:12%}
</style>

<script type="text/javascript" src="/js/jquery-ui-1.8.12.custom.min.js"></script>
<link rel="stylesheet" type="text/css" href="/css/jquery-ui-1.8.12.custom.css"/>
<script src="../js/tag-it.min.js" type="text/javascript" charset="utf-8"></script>
<link href="../css/jquery.tagit.css" rel="stylesheet" type="text/css">
<link href="../css/tagit.ui-zendesk.css" rel="stylesheet" type="text/css">

<script>
    $(document).ready(function(){
        $('.date' ).datepicker({ dateFormat: "yy-mm-dd" });
        getShop();
        initSearchOption('dealer','search_dealer');
    });
    function getShop()
    {
        $('#dealer').change(function(){
            var dealer_id =  $('#dealer').val();
            $.ajax
            ({
                url : '/trainer/get-shop',
                type : 'POST',
                data : {'dealer_id':dealer_id},
                dataType: 'json',
                success : function(result)
                {
                    $('#store').find('option:not(:first)').remove();
                    $.each(result, function (i, item) {
                        $('#store').append('<option value="'+i+'">'+item+'</option>');
                    });
                },
                error: function()
                {
                    alert("Not Found !!!");
                }

            });
        });
    }
</script>