<style>
    .form-group{
        padding-top: 5px ;
    }
    .form-group span{
        display: inline-block;
        width: 50px;
        margin: 0px 5px;
    }
    .form-group input,select{
        width: 100px;
    }
    .form-group .quantity{
        width: 50px;
    }
    .item{
        border-top: 1px solid #f0f0f0;
        padding-top: 5px;
    }
    .item:hover{
        background: #ffffff;
    }
    .imei{
        width: 160px !important;
    }
</style>
<?php  $order = $this->order; ?>

<!--<form action="">-->
    <div class="row-fluid">
        <div class="span12">
            <div class="form-group">
                <table>
                    <tr>
                        <td>SN:</td>
                        <td><b><?php echo $this->order['sn']?></b></td>
                    </tr>
                    <tr>
                        <td>Created by: </td>
                        <td><b><?php echo $this->created_by;?></b></td>
                    </tr>
                    <tr>
                        <td>Created at: </td>
                        <td><b><?php echo $this->order['created_at']?></b></td>
                    </tr>
                </table>
            </div>
        </div>
    </div>

    <div class="row-fluid">
        <div class="span12">
            <div class="form-group">
                <span>Date</span>
                <input type="text" name="date" id="date" class="date form-group"  value="<?php if(isset($this->order) AND $this->order) echo $this->order['date'] ?>" required/>

            </div>
        </div>
    </div>

    <div class="list">
        <?php  if(isset($this->order) AND $this->order):
            foreach($this->orderDetail as $item):
                ?>
                <div class="row-fluid item">
                    <div class="span2">
                        <div class="form-group">
                            <span>Type</span>
                            <select name="type" class="type">
                                <?php foreach($this->type as $key => $value): ?>
                                    <option value="<?php echo $key;?>" <?php if($key == $item['type']) echo 'selected'; ?>><?php echo $value;?></option>
                                <?php endforeach;?>
                            </select>
                        </div>
                    </div>

                    <div class="span4">
                        <div class="form-group">
                            <span>Asset</span>
                            <select name="asset" class="asset">
                                <option value="">---</option>
                                <?php foreach($this->type_asset as $key => $value): ?>
                                    <option value="<?php echo $key;?>" <?php if($key == $item['asset_id']) echo 'selected'; ?>><?php echo $value;?></option>
                                <?php endforeach;?>
                            </select>
                            <span>Quantity</span>
                            <input type="number" min="0" name="quantity[]" class="quantity form-group" value="<?php echo $item['quantity'];?>"/>
                        </div>
                    </div>

                    <div class="span5">
                        <div class="phone" <?php if($item['type'] == CATEGORY_ASSET_TRAINER_STATIONERY) echo 'style="display:none"'; ?>>
                            <?php if(isset($this->listImei) AND $this->listImei AND isset($this->listImei[$item['id']])): ?>
                                <?php foreach($this->listImei[$item['id']] as $imei):?>
                                    <div class="form-group">
                                        <span>Imei</span>
                                        <input type="text" name="imei[]" value="<?php echo $imei['imei']?>" class="imei" />
                                        <span>Trainer</span>
                                        <select name="output_trainer_id[]" class="output_trainer_id" style="width: 170px">
                                        <?php foreach($this->list_trainer as $key => $value): ?>
                                        <option value="<?php echo $key?>" <?php if($imei['output_trainer_id'] == $key) echo 'selected';?>><?php echo $value;?></option>
                                        <?php endforeach;?>
                                        </select>
                                        <span>Note</span>
                                        <input type="text" name="note[]" class="note" value="<?php echo $imei['note']?>" />

                                    </div>
                                <?php endforeach;?>
                            <?php else: ?>
                                <div class="form-group">
                                    <span>Imei</span>
                                    <input type="text" name="imei[]" value="" class="imei" />
                                    <span>Note</span>
                                    <input type="text" name="note[]" class="note" />
                                </div>
                            <?php endif;?>
                        </div>

                        <div class="stationery" <?php if($item['type'] == CATEGORY_ASSET_TRAINER_PHONE) echo 'style="display:none"'; ?>>
                            <div class="form-group">
                                <span>Note</span>
                                <textarea name="note_stationery[]" id="" cols="30" rows="3" class="note_stationery"><?php echo $item['note'];?></textarea>
                            </div>
                        </div>
                    </div>
                    <div class="span1">

                    </div>
                </div>

            <?php
                endforeach;
            ?>
        <?php endif;?>
    </div>
<!--</form>-->

<script type="text/javascript" src="/js/jquery-ui-1.8.12.custom.min.js"></script>
<link rel="stylesheet" type="text/css" href="/css/jquery-ui-1.8.12.custom.css"/>

<div class="boxAddImei" style="display:none">
    <div class="form-group">
        <span>Imei</span>
        <input type="text" name="imei[]" value="" class="imei" />
        <input type="hidden" name="asset_imei" class="asset_imei" value="">

        <span>note</span>
        <input type="text" name="note[]" class="note" />

        <a href="#" class="btn btn-danger btn-small removeImei">-</a>
        <a href="#" class="btn btn-success btn-small addImei">+</a>
    </div>
</div>

<div class="boxAddRow" style="display: none">
    <div class="row-fluid item">
        <div class="span2">
            <div class="form-group">
                <span>Type</span>
                <select name="type" class="type">
                    <?php foreach($this->type as $key => $value): ?>
                        <option value="<?php echo $key;?>"><?php echo $value;?></option>
                    <?php endforeach;?>
                </select>
            </div>
        </div>

        <div class="span4">
            <div class="form-group">
                <span>Asset</span>
                <select name="asset" class="asset" required>
                    <option value="">---</option>
                    <?php foreach($this->type_asset as $key => $value): ?>
                        <option value="<?php echo $key;?>"><?php echo $value;?></option>
                    <?php endforeach;?>
                </select>

                <span>Quantity</span>
                <input type="number" min="0" name="quantity[]"  class="quantity form-group"/>
            </div>

        </div>

        <div class="span5">
            <div class="phone">
                <div class="form-group">
                    <span>Imei</span>
                    <input type="text" name="imei[]" value="" class="imei" />

                    <span>Note</span>
                    <input type="text" name="note[]" class="note" />
                    <a href="#" class="btn btn-danger btn-small removeImei">-</a>
                    <a href="#" class="btn btn-success btn-small addImei">+</a>
                </div>
            </div>

            <div class="stationery" style="display: none">
                <div class="form-group">
                    <span>Note</span>
                    <textarea name="note_stationery[]" id="" cols="30" rows="3" class="note_stationery"></textarea>
                </div>
            </div>

        </div>
        <div class="span1">
            <a href="#" class="btn btn-danger removeRow pull-right" >x</a>
        </div>
    </div>
</div>

<div id="messageBox" title="Message"></div>
<script>
$(document).ready(function()
{
    $('input[type="text"],input[type="number"],select').prop('disabled',true);
});

function initdate()
{
    $('.date').mousedown( function(){
        $(this).datepicker({ dateFormat: "yy-mm-dd" });
    });
}

function add()
{
    $('#add').click(function(){
        var htmlRow = $('.boxAddRow').html();
        $(".list").append(htmlRow);
        return false;
    });
}

function addImei(){
    $(document).on('click', '.addImei', function(){
        var htmlAddImei = $('.boxAddImei').html();
        $(this).parent().parent().append(htmlAddImei);
        return false;
    })
}

function removeImei(){
    $(document).on('click', '.removeImei', function(){
        $(this).parent().remove();
        return false;
    })
}

function removeRow(){
    $(document).on('click', '.removeRow', function(){
        $(this).parent().parent().remove();
        return false;
    })
}

function changeType(){
    $(document).on('change', '.type', function(){
        var type    = $(this).val();
        var current = $(this)[0];
        var item    = $(current).closest('.item');
        var item    = item[0];

        if(type == 1){
            $(item).find('.phone').show();
            $(item).find('.stationery').hide();

        }else{
            $(item).find('.phone').hide();
            $(item).find('.stationery').show();

        }

        $(item).find('.asset option:not(:first)').remove();

        $.ajax({
            type: 'get',
            url : '/ajax/get-asset',
            data: {'type': type},
            success: function(data){
                var html = '';
                $.each(data,function(k,v){
                    html += '<option value="'+ k +'">'+ v+'</option>';
                })
                console.log(html);
                $(item).find('.asset').append(html);
            },
            error: function(){
                alert('load data failed');
            }
        });


    });
}

function checkImei(){
    $(document).on('blur', '.imei', function(){
        var imei = $(this).val();
        if(imei){
            var node = $(this)[0];
            var item = $(node).parent().parent().parent().parent();
            var asset = $(item).find('.asset');
            var asset_id = $(asset).val();
            console.log(asset_id);
            $.ajax({
                url: '/trainer/check-imei',
                type: 'get',
                data: {'asset_id': asset_id,'imei':imei},
                success: function(data){
                    if(data == true){

                    }else{
                        alert('Imei is not correct');
                    }
                }
            });
        }
    });
}
function save(){
    $('#save').click(function(e){
        e.preventDefault();
        var data = {};
        data.list = [];
        var date = $("#date").val();
        var order_id = $('#order_id').val();
        data.date = date;
        data.order_id = order_id;
        $('.list .item').each(function(i,v){

            var item             = $(this)[0];

            var type             = $(item).find('.type').val();
            var asset            = $(item).find('.asset').val();
            var quantity         = $(item).find('.quantity').val();
            var note_stationery  = $(item).find('.note_stationery').val();
            var order_detail_id  = $(item).find('.order_detail_id').val();
            var imei_id          = $(item).find('.imei_id');
            var imei             = $(item).find('.imei');
            var note             = $(item).find('.note');
            var imeis            = [];
            var notes            = [];
            var imei_ids         = [];

            $(imei).each(function(){
                imeis.push($(this).val());
            })

            $(imei_id).each(function(){
                imei_ids.push($(this).val());
            })

            $(note).each(function(){
                notes.push($(this).val());
            })

            $(order_detail_id).each(function(){
                order_detail_ids.push($(this).val());
            })

            var row = {
                'type' : type,
                'asset_id' : asset,
                'quantity': quantity,
                'note_stationery' : note_stationery,
                'order_detail_id' : order_detail_id,
                'imei' : imeis,
                'note': notes,
                'imei_id': imei_ids
            }

            data.list.push(row);

        });

        $.ajax({
            url: '/trainer/save-order',
            type: 'get',
            data: data,
            success: function(data){
                if(data.code == 1){
                    $("#messageBox").html('<p>Done</p>');
                    $('#messageBox').dialog({
                        modal: true,
                        resizable: false,
                        buttons: {
                            'OK':function(){
                                window.location.href = '/trainer/orders';
                            }
                        }
                    });
                }else{
                    $("#messageBox").html('<p>failed: '+data.message+'</p>');
                    $('#messageBox').dialog({
                        modal: true,
                        resizable: false,
                        buttons: {
                            'OK':function(){
                                window.location.href = '/trainer/orders';
                            }
                        }
                    });
                }
            },
            error: function(){

            }
        })
        console.log(data);
    })
};



</script>