<style>
    .card{margin-bottom: 20px}
    .datatable-table th{
        background: #19b7af !important; text-align: center !important;
        font-weight: normal !important; font-size: 12px !important; vertical-align: middle !important;
    }
    .op-block{border: 1px dashed #D5D5D5; margin-bottom: 10px; border-radius: 25px; padding: 25px 25px; background: ghostwhite}
    .scrollable thead,
    .scrollable tfoot,
    .scrollable tbody,
    .scrollable th,
    .scrollable td
    {
        display: block;
        width: 100%;
    }

    .scrollable thead,
    .scrollable tfoot,
    .scrollable tbody
    {
        overflow-y: scroll;
    }

    .scrollable thead,
    .scrollable tfoot
    {
        -ms-overflow-style: none;
    }

    .scrollable thead::-webkit-scrollbar,
    .scrollable tfoot::-webkit-scrollbar
    {
        visibility: hidden;
    }

    .scrollable tbody
    {
        max-height: 28em;
        position: relative;
        -ms-overflow-style: -ms-autohiding-scrollbar;
    }

    .scrollable tr
    {
        display: flex;
    }

    .scrollable tbody th,
    .scrollable tbody td
    {
        border-top: none;
    }

    .scrollable th:not(:last-child),
    .scrollable td:not(:last-child)
    {
        border-right: none;
    }
</style>

<div class="page-header">
    <h1>Tạo đợt order</h1>
</div>
<form id="form_submit">
    <div class="card card-custom">
        <div class="card-header">
            <h3 class="card-title" style="color:#0B9F6B;">
                Thông tin
            </h3>
        </div>

        <div class="card-body">
            <div class="span5">
                <div class="control-group">
                    <label class="control-label text-primary" for="status">Tiêu đề <span class="text-danger">*</span></label>
                    <div class="controls">
                        <input type="text" name="name" class="form-control form-control-solid" value="<?php echo (isset($this->data) and $this->data) ? $this->data['name'] : NULL; ?>" autocomplete="off" required/>
                    </div>
                </div>

                <div class="control-group">
                    <label class="control-label text-primary" for="status">Ngày bắt đầu <span class="text-danger">*</span></label>
                    <div class="controls">
                        <input type="text" autocomplete="off" name="from_date" class="form-control form-control-solid kt_datepicker" value="<?php echo (isset($this->data) and $this->data) ? $this->data['from_date'] : NULL; ?>" required/>
                    </div>
                </div>

                <div class="control-group">
                    <label class="control-label text-primary" for="status">Ngày kết thúc <span class="text-danger">*</span></label>
                    <div class="controls">
                        <input type="text" autocomplete="off" name="to_date" class="form-control form-control-solid kt_datepicker" value="<?php echo (isset($this->data) and $this->data) ? $this->data['to_date'] : NULL; ?>" required/>
                    </div>
                </div>

                <div class="control-group">
                    <label class="control-label text-primary" for="status">Nội dung</label>
                    <textarea name="desc" rows="6" class="form-control form-control-solid"><?php echo (isset($this->data) and $this->data) ? $this->data['desc'] : NULL; ?></textarea>
                </div>
            </div>

            <div class="span6">
                <div class="op-block">
                    <div class="control-group">
                        <label class="control-label text-primary" for="status">Quà tặng</label>
                        <select <?php echo (isset($this->stop_action) && $this->stop_action) ? "disabled" : NULL; ?> class="form-control select2" style="display: block !important;" id="kt_select2_3" multiple="multiple">
                            <?php foreach ($this->all_gift as $k => $v): ?>
                            <option value="<?php echo $v['id'] ?>" <?php if(isset($this->list_gift) and in_array($v['id'], $this->list_gift)): ?>selected<?php endif; ?>><?php echo $v['name']; ?></option>
                            <?php endforeach; ?>
                        </select>
                    </div>
                    <?php if(isset($this->stop_action) && $this->stop_action): ?>
                        <a role="button" class="btn btn-mini btn-warning" disabled>Check</a>
                    <?php else: ?>
                        <a role="button" class="btn btn-mini btn-warning btn_check">Check</a>
                    <?php endif; ?>
                </div>

                <div class="control-group">
                    <table class="table table-bordered scrollable">
                        <thead>
                            <tr>
                                <th>Quà tặng</th>
                                <th>Số lượng tồn</th>
                                <th style="max-width: 20%;"><input type="checkbox" class="check_all" /></th>
                            </tr>
                        </thead>
                        <tbody class="tbody_import">
                        <?php foreach ($this->inventory as $kg => $vg): ?>
                            <tr>
                                <td>
                                    <div class="d-flex align-items-center mb-8">
                                        <div class="symbol mr-5 pt-1">
                                            <div class="symbol-label min-w-65px min-h-100px" style="background-image:  url(<?php echo HOST . "/files/gift/" . $vg['id'] . "/" . $vg['file']; ?>)"></div>
                                        </div>
                                        <div class="d-flex flex-column">
                                            <a href="#" class="text-dark-75 font-weight-bolder text-hover-primary font-size-lg"><?php echo $vg['name']; ?></a>
                                            <span class="text-muted font-weight-bold font-size-sm pb-4"><?php echo $vg['desc']; ?></span></div>
                                    </div>
                                </td>
                                <td>
                                    <input class="span2" type="number" min="0" disabled value="<?php echo $vg['inventory']; ?>"/>
                                </td>
                                <td style="max-width: 20%">
                                    <input class="check_mini" checked type="checkbox"
                                           value="<?php echo $vg['id']; ?>"
                                           name="list_gift[]"
                                           <?php echo (isset($this->stop_action) && $this->stop_action) ? "disabled" : NULL; ?>/>
                                </td>
                            </tr>
                        <?php endforeach; ?>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>

        <div class="card-footer">
            <input type="hidden" value="<?php (isset($this->stop_action) && $this->stop_action) ? 1 : NULL; ?>" name="stop_action"/>
            <input type="hidden" value="<?php echo (isset($this->data) && $this->data) ? $this->data['id'] : NULL; ?>" name="id" />
            <input type="hidden" class="data_check" name="list_gift" value=''/>
            <button id="btn_submit" type="submit" class="btn btn-primary pull-right">Lưu thông tin</button>
        </div>
    </div>
</form>
<link href="<?php echo HOST ?>css/select2.css" rel="stylesheet"/>
<script src="<?php echo HOST ?>js/select2.js"></script>
<script>
    $(document).ready(function(){
        KTBootstrapDatepicker.init();
        KTSelect2.init();
    });
    $('#form_submit').submit(function (e) {
        e.preventDefault();
        var check = [];
        $('.check_mini').each(function(i, obj) {
            if ($(this).is(':checked')) {
                var a = $(this).val();
                check.push(a);
            }
        });
        $(this).find('.data_check').val(JSON.stringify(check));

        $.ajax({
            url: '/manage/gift-save',
            type: 'post',
            data: new FormData(this),
            dataType: 'json',
            contentType: false,
            cache: false,
            processData: false,
            beforeSend: function() {
                $("#btn_submit").hide();
                Swal.fire({
                    imageUrl: "<?php echo HOST . "/img/lg.-text-entering-comment-loader.gif" ?>",
                    showConfirmButton: false,
                    timer: 3000
                })
            }
        }).done(function (data) {
            if (data.status === 1) {
                $("#btn_submit").hide();
                Swal.fire(
                    'Lưu dữ liệu thành công!',
                    'Danh sách quà tặng đã gửi xuống khu vực',
                    'success'
                );
                setTimeout(function () {
                    $(location).attr("href", "/manage/gift-list");
                }, 1000)

            } else {
                Swal.fire({
                    type: 'error',
                    icon: 'error',
                    title: 'Tạo danh sách thất bại: '+ data.message,
                    showConfirmButton: true,
                });
            }
        });
    });

    $(document).on('click', ".check_all", function() {
        if ($(this).is(':checked')) {
            $(".check_mini").each(function () {
                $(this).prop("checked", true);
            });
        } else {
            $('.check_mini').each(function () {
                $(this).prop("checked", false);
            });
        }
    });


    var KTBootstrapDatepicker = function () {
        var arrows;
        if (KTUtil.isRTL()) {
            arrows = {
                leftArrow: '<i class="la la-angle-right"></i>',
                rightArrow: '<i class="la la-angle-left"></i>'
            }
        } else {
            arrows = {
                leftArrow: '<i class="la la-angle-left"></i>',
                rightArrow: '<i class="la la-angle-right"></i>'
            }
        }

        var metronic_datepicker = function () {
            $('.kt_datepicker').datepicker({
                format: "yyyy-mm-dd",
                rtl: KTUtil.isRTL(),
                orientation: "bottom",
                todayHighlight: true,
                templates: arrows
            });
        };

        return {
            init: function() {
                metronic_datepicker();
            }
        };
    }();

    var KTSelect2 = function() {
        var demos = function() {
            $('#kt_select2_3').select2({
                placeholder: "Chọn quà tặng cho đợt này",
            });
        }

        var modalDemos = function() {
            $('#kt_select2_modal').on('shown.bs.modal', function () {
                $('#kt_select2_3_modal').select2({
                    placeholder: "Select a state",
                });
            });
        }

        return {
            init: function() {
                demos();
                modalDemos();
            }
        };
    }();

    $(".btn_check").click(function () {
        $('.loading').remove();
        $('.tbody_import').children().remove();
        $(this).after('<span class="loading"></span>');
        var get_check   = $('#kt_select2_3').val();
        $.get("/manage/gift-check",
            {get_check: [get_check]}
            ,function(data,status){
                var obj = $.parseJSON( data );
                for (var i = 0; i < obj.length; i++) {
                    $('.tbody_import').append('<tr>' +
                                                '<td><div class="d-flex align-items-center mb-8">' +
                                                        '<div class="symbol mr-5 pt-1">' +
                                                        '<div class="symbol-label min-w-65px min-h-100px" style="background-image:  url(/files/gift/' + obj[i]['id'] + '/' + obj[i]['file'] + ')"></div>' +
                                                    '</div>' +
                                                    '<div class="d-flex flex-column">' +
                                                        '<a href="#" class="text-dark-75 font-weight-bolder text-hover-primary font-size-lg">' + obj[i]['name'] + '</a>' +
                                                        '<span class="text-muted font-weight-bold font-size-sm pb-4">' + obj[i]['desc'] + '</span></div></div>' +
                                                    '</td>' +
                                                '<td>' +
                                                    '<input class="span2" type="number" disabled min="0" value="' + obj[i]['inventory'] + '"/>' +
                                                '</td>' +
                                                '<td style="max-width: 20%"><input  class="check_mini" type="checkbox" value="' + obj[i]['id'] + '" name="list_gift[]"/></td>' +
                                            '</tr>');
                }
                $('.loading').remove();
                $('.tbody_import').change();
            }
        );
    });
</script>