<style>
    .table-striped th{
        background: #19b7af;
        color: ghostwhite;
        font-weight: normal;
        text-align: center;
        border: 1px solid #b3b3b3 !important;
        font-size: 12px !important;
        vertical-align: middle;
    }
</style>

<div class="page-header">
    <h1>Danh sách đợt đặt hàng Quà Tặng
        <?php if($this->access('manage','gift-create')):?>
        <a href="/manage/gift-create" class="pull-right btn btn-primary">
            <i class="fab flaticon2-layers"></i>Tạo mới
        </a>
        <a href="/manage/gift-import" class="pull-right btn btn-warning" style="margin-right: 10px">
            <i class="fab flaticon2-delivery-package"></i>Danh sách quà
        </a>
        <?php else: ?>
        <a href="/manage/gift-order" class="pull-right btn btn-primary">
            <i class="fab fa-cloudsmith"></i>Danh sách order
        </a>
        <?php endif; ?>
    </h1>
</div>

<?php
if (isset($this->messages_success) and $this->messages_success)
    foreach ($this->messages_success as $message):
        echo '<div class="alert alert-success">' . $message . '</div>';
    endforeach;

if (isset($this->messages_error) and $this->messages_error)
    foreach ($this->messages_error as $message):
        echo '<div class="alert alert-danger">' . $message . '</div>';
    endforeach;
?>

<div class="accordion" id="accordion2">
    <div class="accordion-group">
        <div class="accordion-heading">
            <a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion2" href="#collapseTwo">
                Search
            </a>
        </div>
        <div id="collapseTwo" class="accordion-body collapse" style="height: 0px;">
            <div class="accordion-inner">
                <form class="form-search form-horizontal" method="get">
                    <div class="row">
                    </div>

                    <button type="submit" class="btn btn-primary">Search</button>
<!--                    <button type="submit" name="export" value="1" class="btn btn-warning">Export</button>-->
                </form>
            </div>
        </div>
    </div>
</div>
<?php $today    = date('Y-m-d H:i:s');
$is_sales_admin = (isset($this->is_sales_admin) && $this->is_sales_admin) ? 1 : 0;
?>
<div class="table-responsive">
    <table class="table table-striped">
        <thead>
        <tr>
            <th>#</th>
            <th>Đợt quà tặng</th>
            <th>Nội dung</th>
            <th>Ngày bắt đầu</th>
            <th>Ngày kết thúc</th>
            <th>Trạng thái</th>
            <th>Danh sách quà tặng</th>
            <th>Action</th>
        </tr>
        </thead>
        <tbody>
        <?php $intStt = $this->offset;
            foreach ($this->list as $key => $value):
        ?>
        <tr>
            <td class="text-center"><?=++$intStt?></td>
            <td class="text-primary"><?php echo $value['name']; ?></td>
            <td><?php echo My_String::excerpt($value['desc'], 50); ?></td>
            <td class="text-center"><?php echo date("d/m/Y", strtotime($value['from_date'])); ?></td>
            <td class="text-center"><?php echo date("d/m/Y", strtotime($value['to_date'])); ?></td>
            <td class="text-center">
                <?php if($today < $value['from_date']): ?>
                    <span class="label label-warning">waiting</span>
                <?php elseif ($today > $value['to_date']): ?>
                    <span class="label label-danger">stop</span>
                <?php elseif ($today > $value['from_date'] && $today < $value['to_date']): ?>
                    <span class="label label-success">open</span>
                <?php endif ?>
            </td>
            <td class="text-center"><label class="label label-danger"><?php echo $value['gift_storage'] ?></label></td>
            <td class="text-center">
                <div class="btn-group">
                    <a class="btn dropdown-toggle" data-toggle="dropdown" href="#">
                        Action<span class=""></span>
                    </a>
                    <ul class="dropdown-menu">
                        <?php if($is_sales_admin): ?>
                            <li><a href="/manage/gift?cat=<?php echo $value['id']; ?>"> <i class="flaticon2-box-1"></i>  Order</a></li>
                        <?php else: ?>
                            <li><a href="/manage/gift-create?id=<?php echo $value['id']; ?>"> <i class="icon-edit"></i>  Điều chỉnh</a></li>
<!--                            <li><a role="button" data-id="--><?php //echo $value['id']; ?><!--" class="btn-remove"> <i class="icon-trash"></i> Hủy bỏ</a></li>-->
                            <li><a href="/manage/gift-order?cat=<?php echo $value['id']; ?>"> <i class="flaticon2-chart"></i> Theo dõi</a></li>
                            <li><a role="button" class="check_btn" data-id="<?php echo $value['id']; ?>" data-name="<?php echo $value['name']; ?>"> <i class="flaticon2-architecture-and-city"></i> Check tồn</a></li>
                        <?php endif; ?>
                    </ul>
                </div>
            </td>
        </tr>
        <?php endforeach; ?>
        </tbody>
    </table>
    <div class="paging">
        <?php echo $this->paging($this->total, $this->limit, $this->offset, $this->url);?>
    </div>
</div>

<div id="viewModal" class="modal fade" data-backdrop="static" tabindex="-1" role="dialog" aria-labelledby="staticBackdrop" aria-hidden="true">
    <div class="modal-content">
        <div class="modal-header">
            <h5 class="modal-title name_data text-success" style="font-weight: bold" id="exampleModalLabel"></h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <i aria-hidden="true" class="ki ki-close"></i>
            </button>
        </div>
        <div class="modal-body scroll ps ps--active-y" data-scroll="true" data-wheel-propagation="true" style="overflow: hidden;">
            <div id="modal_view"></div>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-danger font-weight-bold" data-dismiss="modal">Đóng</button>
        </div>
    </div>
</div>
<script src="/js/jquery.blockUI.js"></script>
<script>
    var link                = $(location).attr('href');

    $(document).ready(function(){
        show_modal();
    });

    $(document).on('click', ".btn-remove", function() {
        let id              = $(this).attr('data-id');
        let act             = 3;
        Swal.fire({
            title: "Xác nhận bỏ đợt quà tặng này?",
            text: "Hành động sẽ không thể thu hồi được",
            icon: "warning",
            showCancelButton: true,
            confirmButtonText: "Đồng ý!"
        }).then(function (result) {
            if (result.value) {
                $.ajax({
                    url: '/manage/gift-control',
                    type: 'post',
                    data: {
                        'id': id, 'act': act},
                });
                Swal.fire(
                    "Thành công!",
                    "Bạn đã xóa bỏ đợt quà tặng",
                    "success"
                );
                setTimeout(function () {
                    $(location).attr("href", link);
                }, 1000)
            } else if (result.dismiss === "cancel") {
                Swal.fire(
                    "Hủy bỏ",
                    "Đã hủy yêu cầu",
                    "error"
                )
            }
        })
    });
    $(document).ajaxStart($.blockUI).ajaxStop($.unblockUI);
    function show_modal(){
        $('.check_btn').click(function(){
            var id      = $(this).attr('data-id');
            var name    = $(this).attr('data-name');
            $('.name_data').html(name);

            var act = 2;
            $.ajax({
                type: 'get',
                url: '/manage/gift-modal',
                data: {'id': id, 'act': act},
                success: function(data){
                    $("#modal_view").html(data);
                    $('#viewModal').modal('show');
                },
                error:function(){
                    alert('load data error');
                }
            })
        });
    }
</script>