<div class="card card-custom gutter-b">
    <div class="card-body p-0">
        <div class="row justify-content-center py-8 px-8 py-md-27 px-md-0">
            <div class="col-md-10">
                <div class="d-flex justify-content-between pb-10 pb-md-20 flex-column flex-md-row">
                    <h1 class="display-5 font-weight-boldest mb-10"><i class="text-warning fab fa-cloudsmith icon-7x"></i> HCMC 1</h1>
                    <div class="d-flex flex-column align-items-md-end px-0">
                        <span class="d-flex flex-column align-items-md-end opacity-70">
                            <span class="text-warning"><?php echo isset($this->info) && $this->info ? $this->info['staff_name'] : NULL; ?></span>
                            <small>SALE ADMIN</small>
                        </span>
                    </div>
                </div>
                <div class="border-bottom w-100"></div>
                <div class="d-flex justify-content-between pt-6">
                    <div class="d-flex flex-column flex-root">
                        <span class="font-weight-bolder mb-2 text-warning">Ngày tạo đơn</span>
                        <span class="opacity-70"><?php echo isset($this->info) && $this->info ? date('d-m-Y', strtotime($this->info['created_at'])) : NULL; ?></span>
                    </div>
                </div>
            </div>
        </div>

        <div class="row justify-content-center bg-gray-100 py-8 px-8 py-md-10 px-md-0 mx-0">
            <div class="col-md-10">
                <div class="table-responsive">
                    <table class="table">
                        <thead class="thead-dark">
                        <tr>
                            <th>#</th>
                            <th>Quà tặng</th>
                            <th>Số lượng</th>
                        </tr>
                        </thead>
                        <tbody>
                        <?php if(isset($this->list_order) && $this->list_order): ?>
                        <?php $count = 0;
                            foreach ($this->list_order as $key => $order): ?>
                            <tr>
                                <td class="text-center"><?=++$count?></td>
                                <td>
                                    <div class="d-flex align-items-center mb-8">
                                        <div class="symbol mr-5 pt-1">
                                            <div class="symbol-label min-w-65px min-h-100px" style="background-image:  url(<?php echo HOST; ?>files/gift/<?php echo !empty($order['file']) ? $order['id'] . "/" . $order['file'] : NULL  ?>)"></div>
                                        </div>
                                        <div class="d-flex flex-column">
                                            <a href="#" class="text-dark-75 font-weight-bolder text-hover-primary font-size-lg"><?php echo $order['name']; ?></a>
                                            <span class="text-muted font-weight-bold font-size-sm pb-4"><?php echo $order['desc']; ?></span>
                                        </div>
                                    </div>
                                </td>
                                <td class="text-center"><span class="label label-danger label-inline"><?php echo $order['num']; ?></span></td>
                            </tr>
                        <?php endforeach; endif; ?>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>