<style>
    .table-striped th{
        background: #19b7af;
        color: ghostwhite;
        font-weight: normal;
        text-align: center;
        border: 1px solid #b3b3b3 !important;
        font-size: 12px !important;
        vertical-align: middle;
    }
    .modal{box-shadow: none !important;}
</style>

<div class="page-header">
    <h1>Danh sách order
        <a class="pull-right btn btn-warning" onclick="goBack()">
            <i class="flaticon-paper-plane-1"></i>Go back</a>
        <a href="/manage/gift-list" class="pull-right btn btn-primary" style="margin-right: 10px">
            <i class="flaticon-notepad"></i>Order List
        </a>
    </h1>
</div>

<div class="accordion" id="accordion2">
    <div class="accordion-group">
        <div class="accordion-heading">
            <a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion2" href="#collapseTwo">
                Search
            </a>
        </div>
        <div id="collapseTwo" class="accordion-body collapse" style="height: 0px;">
            <div class="accordion-inner">
                <form class="form-search form-horizontal" method="get">
                    <div class="row">
                        <?php if(in_array($this->title, array(SALES_ASSISTANT_TITLE, ADMINISTRATOR_ID))): ?>
                        <div class="control-group">
                            <h7 for="name" class="span2">View All <input name="view_all" <?php echo (isset($this->params['view_all']) && $this->params['view_all']) ? "checked" : NULL; ?> type="checkbox" class="" value="1"></h7>
                        </div>
                        <?php endif; ?>
                    </div>
                    <button type="submit" class="btn btn-primary">Search</button>
<!--                    <button type="submit" name="export" value="1" class="btn btn-warning">Export</button>-->
                </form>
            </div>
        </div>
    </div>
</div>

<?php $_local_admin = (isset($this->is_local_admin) && $this->is_local_admin) ? 0 : 1; ?>

<div class="table-responsive">
    <table class="table table-striped">
        <thead>
        <tr>
            <th>#</th>
            <th>Đơn quà tặng</th>
            <th>Khu vực</th>
            <th>Đợt quà tặng</th>
            <th>Trạng thái</th>
            <th>Người đã duyệt</th>
            <th>Ngày đề xuất</th>
            <th>Action</th>
        </tr>
        </thead>
        <tbody>
        <?php
        if (isset($this->list) and $this->list):
            $intStt = $this->offset;
            foreach ($this->list as $key=>$value): ?>
            <tr>
                <td><?php echo ++$intStt;?></td>
                <td class="text-primary"><?php echo $value['created_by']; ?></td>
                <td class="text-center"><?php echo $value['area_name']; ?></td>
                <td><?php echo $value['name']; ?></td>
                <td><?php echo $value['status']; ?></td>
                <td class="text-center">
                    <?php if(!empty($this->more_info[$value['id']])): ?>
                        <?php foreach ($this->more_info[$value['id']] as $k => $v): ?>
                            <?php if($v['has_rejected'] == 0): ?>
                                <small><?php echo $this->recursiveDeparmentTeamTitle[ $v['approved_staff_department']]['children'][ $v['approved_staff_team']]['children'][$v['approved_staff_title']]['name'] ?></small>::<span style="color:green;" title=""><?php echo $v['approved_staff_name'] ?></span> <i class="icon  icon-ok-sign"></i></span><br>
                            <?php else: ?>
                                <small><?php echo $this->recursiveDeparmentTeamTitle[ $v['approved_staff_department']]['children'][ $v['approved_staff_team']]['children'][$v['approved_staff_title']]['name'] ?></small>::<span style="color:red;" title=""><?php echo $v['approved_staff_name'] ?></span> <i class="icon  icon-remove-sign"></i></span><br>
                            <?php endif; ?>
                        <?php endforeach; ?>
                    <?php else: ?>
                        <small>< Chưa được xét duyệt ></small>
                    <?php endif; ?>
                </td>
                <td class="text-center"><?php echo date('d-m-Y', strtotime($value['created_at'])); ?></td>
                <td class="text-center">
                    <div class="btn-group">
                        <a class="btn dropdown-toggle" data-toggle="dropdown" href="#">
                            Action<span class=""></span>
                        </a>
                        <ul class="dropdown-menu">
                            <li><a role="button" class="btn-view" data-id="<?php echo $value['id']; ?>"> <i class="icon-eye-open"></i>  View</a></li>
                            <?php if(!$_local_admin && $value['step'] == 0): ?>
                                <li><a href="/manage/gift?id=<?php echo $value['id']; ?>&cat=<?php echo $value['cat_id']; ?>"> <i class="icon-edit"></i>  Cập nhật</a></li>
                            <?php elseif (!$_local_admin && $value['has_rejected']): ?>
                                <li><a href="/manage/gift?id=<?php echo $value['id']; ?>&cat=<?php echo $value['cat_id']; ?>&rejected=1"> <i class="icon-edit"></i>  Điều chỉnh</a></li>
                            <?php endif; ?>
                            <?php if($value['step'] == 2 && $value['has_rejected'] == 0 && !$_local_admin): ?>
                                <li><a role="button" class="btn-approve" data-id="<?php echo $value['id']; ?>" data-step="<?php echo $value['step'] + 1; ?>"> <i class="flaticon2-box-1"></i>Đã nhận hàng </a></li>
                            <?php elseif($value['step'] == 1 && $value['has_rejected'] == 0 && $_local_admin): ?>
                                <li><a role="button" class="btn-approve" data-id="<?php echo $value['id']; ?>" data-step="<?php echo $value['step'] + 1; ?>"> <i class="flaticon2-delivery-truck"></i> Chuyển hàng </a></li>
                                <li><a role="button" class="btn-reject" data-id="<?php echo $value['id']; ?>" data-step="<?php echo $value['step'] + 1; ?>"> <i class="flaticon2-exclamation"></i> Reject </a></li>
                            <?php elseif($value['step'] == 0 && $_local_admin): ?>
                                <li><a role="button" class="btn-approve" data-id="<?php echo $value['id']; ?>" data-step="<?php echo $value['step'] + 1; ?>"> <i class="flaticon2-accept"></i> Approve </a></li>
                                <li><a role="button" class="btn-reject" data-id="<?php echo $value['id']; ?>" data-step="<?php echo $value['step'] + 1; ?>"> <i class="flaticon2-exclamation"></i> Reject </a></li>
                            <?php endif; ?>
                        </ul>
                    </div>
                </td>
            </tr>
            <?php endforeach;?>
        <?php endif; ?>
        </tbody>
    </table>
    <div class="paging">
        <?php echo $this->paging($this->total, $this->limit, $this->offset, $this->url);?>
    </div>
</div>
<div id="viewModal" class="modal fade" data-backdrop="static" tabindex="-1" role="dialog" aria-labelledby="staticBackdrop" aria-hidden="true">
    <div class="modal-content">
        <div class="modal-header"></div>
        <div class="modal-body scroll ps ps--active-y" data-scroll="true" data-wheel-propagation="true" style="overflow: hidden;">
            <div id="modal_view"></div>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-danger font-weight-bold" data-dismiss="modal">Đóng</button>
        </div>
    </div>
</div>

<script src="/js/jquery.blockUI.js"></script>
<script>
    $(document).ready(function(){
        show_modal();
    });
    var link                = $(location).attr('href');
    $(document).on('click', ".btn-approve", function() {
        let id              = $(this).attr('data-id');
        let step            = $(this).attr('data-step');
        let act             = 1;
        Swal.fire({
            title: "Xác nhận duyệt đơn này?",
            text: "Hành động sẽ không thể thu hồi được",
            icon: "info",
            showCancelButton: true,
            confirmButtonText: "Đồng ý!"
        }).then(function (result) {
            if (result.value) {
                $.ajax({
                    url: '/manage/gift-control',
                    type: 'post',
                    data: {
                        'id': id, 'act': act, 'step': step},
                });
                Swal.fire(
                    "Thành công!",
                    "Bạn đã thao tác thành công",
                    "success"
                );
                setTimeout(function () {
                    $(location).attr("href", link);
                }, 1000)
            } else if (result.dismiss === "cancel") {
                Swal.fire(
                    "Hủy bỏ",
                    "Đã hủy yêu cầu",
                    "error"
                )
            }
        })
    });
    $(document).ajaxStart($.blockUI).ajaxStop($.unblockUI);
    $(document).on('click', ".btn-reject", function() {
        let id              = $(this).attr('data-id');
        let step            = $(this).attr('data-step');
        let act             = 2;
        Swal.fire({
            title: "Xác nhận từ chối đơn này?",
            text: "Hành động sẽ không thể thu hồi được",
            html: '<textarea rows="6" style="margin: auto" class="form-control form-control-solid" id="note_rejected" placeholder="Nhập lý do từ chối đơn này"></textarea>',
            icon: "warning",
            showCancelButton: true,
            confirmButtonText: "Đồng ý!"
        }).then(function (result) {
            if (result.value) {
                $.ajax({
                    url: '/manage/gift-control',
                    type: 'post',
                    data: {
                        'id': id, 'act': act, 'step': step, 'note' : $('#note_rejected').val(),},
                });
                Swal.fire(
                    "Thành công!",
                    "Bạn đã thao tác thành công",
                    "success"
                );
                setTimeout(function () {
                    $(location).attr("href", link);
                }, 1000)
            } else if (result.dismiss === "cancel") {
                Swal.fire(
                    "Hủy bỏ",
                    "Đã hủy yêu cầu",
                    "error"
                )
            }
        })
    });
    function goBack() {
        window.history.back();
    }

    function show_modal(){
        $('.btn-view').click(function(){
            var id = $(this).attr('data-id');
            $.ajax({
                type: 'get',
                url: '/manage/gift-modal',
                data: {'id': id},
                success: function(data){
                    $("#modal_view").html(data);
                    $('#viewModal').modal('show');
                },
                error:function(){
                    alert('load data error');
                }
            })
        });
    }

</script>