
<style>
    .region_info .cols{
        float: left;
        line-height: 40px;
        padding-right: 15px;
    }

	.region_info .current_staff{
		padding-right: 30px;
	}

	.region_info .current_staff span{
		font-weight: bold;
		text-transform: uppercase;
	}

	.region_info .current_staff input[type='text']{
		width: 120px;
	}

    .region_info .new_staff{
        padding-right: 30px;
    }

    .region_info .new_staff span{
        font-weight: bold;
        text-transform: uppercase;
    }

    .region_info .new_staff input[type='text']{
        width: 120px;
    }
</style>

<div class="page-header">
    <h1>Update Leader share - Region</h1>
</div>

<div class="alert hidden" role="alert" id="message">
    <button type="button" class="close" id="close-message">
        <span aria-hidden="true">&times;</span>
    </button>
    <strong></strong>
    <span></span>
</div>

<?php
    if (isset($this->messages) and $this->messages)
        foreach ($this->messages as $message):
            echo '<div class="alert alert-success">'.$message.'</div>';
        endforeach;

    if (isset($this->messages_error) and $this->messages_error)
        foreach ($this->messages_error as $message):
            echo '<div class="alert alert-error">'.$message.'</div>';
        endforeach;
?>

<div id="palert">
    
</div>

<iframe src="/manage/leader-region-save" name='iframe' frameborder="0" id="iframe" style="height:0px;"></iframe>
<form action="/manage/leader-region-save" method="post" target="iframe">	
<h3>Region name: <?php echo $this->result['sales_region_name'];?></h3>  
<input type="hidden" name="sales_region_id" id="sales_region_id" value="<?php echo $this->result['sales_region_id'];?>">
<input type="hidden" id="parent" value="<?php echo $this->result['parent'];?>">
<div class='region_info row'>
	<div class="span7">
        <!-- <div class='current_staff clearfix'>
            <div class="cols" style="position: relative">
                <span>Province Shared:</span>
                <input type="number" id="shared" value="<?php echo !empty($this->result['shared']) ? $this->result['shared'] : null ?>" step="0.01">
                <span>Expire:</span>
                <input type="text" id="to_date" class="date inline" value="<?php echo !empty($this->result['to_date2']) ? $this->result['to_date2'] : null ?>">
                <a class="btn btn-success" id="save-shared" style="margin-top:-8px">Save</a>
                <span class="loading hidden _loading" id="loading" style="position: absolute; right: -10px; top: 8px"></span>
            </div>
        </div> -->
        <hr>
		<table>
            <?php  if(isset($this->result['staff_id']) and $this->result['staff_id'] and !$this->result['to_date']){ ?>
			<div class='current_staff clearfix'>
				<div class="cols">
					<span>Current staff:</span> <?php echo $this->result['staff_name'];?>
				</div>
				<div class="cols">
					<span>Release At: </span> <input type="text" name="to_date" class="date inline" required="true" value>
				</div>
				<div class="cols">
					<span> Release: </span> <input type="checkbox" name='remove' value="1">
				</div>
                <input type="hidden" name="current_staff" value="<?php echo $this->result['staff_id']; ?>">
			</div>
            <?php }?>
            <div class="new_staff clearfix">
            
           </div> 
		</table>
		<input type="hidden" name="back_url" value="<?php echo $this->back_url; ?>">
		<button type='submit' class="btn btn-primary">Submit</button>
	</div>
	
	<div class="span4">
        <div class="control-group">
            <label for="s_name">Search</label>
            <input type="text" class="span5 form-control" id="s_name" placeholder="Enter Staff name then press ENTER" name="s_name" />
        </div>

        <div class="control-group">
            <label for="">Result</label>
            <div class="load-ajax">
                <?php echo $this->partial('staff/partials/searchname.phtml',array('span'=>'span5')); ?>
            </div>
            <div class="add">
            	<button class="btn btn-warning" id='add' type="button">Add</button>
            </div>
        </div>
	</div>
</div>
</form>


<h3>Logs</h3>
<div class="table-responsive">
 	<table class="table table-bordered">
    <thead>
    <tr>
        <?php echo $this->sorting(array(
                '#',
        		'Staff name',
                'from date',
                'to date',
            ),
            $this->url, $this->sort, $this->desc); ?>
    </tr>
    </thead>
    <tbody>
    <?php
    if (isset($this->logs) and $this->logs)
        $inc = $this->offset + 1;
        foreach ($this->logs as $k=>$d): ?>
            <tr>
                <td><?php echo $inc++;?></td>
                <td><?php echo $d['staff_name']; ?></td>
                <td><?php echo date('d/m/Y',strtotime($d['from_date']))?></td>
                <td><?php if($d['to_date']) echo date('d/m/Y',strtotime($d['to_date']))?></td>
            </tr>
        <?php endforeach;?>

    </tbody>
</table>
</div>

<div class="wrap_new_staff" style="display:none;">
    <div class="cols"><span>New Staff: </span> <span class="title"></span></div>
    <div class="cols"><span>Joined at: </span>  <input type="text" name="from_date" class="date inline" required="true" value></div>
    <div class="cols"><button class="btn btn-small cancel_new_staff" type="button">cancel</button></div>
    <input type="hidden" name="new_staff_id" id="new_staff_id" value="">
</div>

</div>
<script type="text/javascript" src="/js/jquery-ui-1.8.12.custom.min.js"></script>
<link rel="stylesheet" type="text/css" href="/css/jquery-ui-1.8.12.custom.css"/>
<link rel="stylesheet" type="text/css" href="/css/bootstrap-datetimepicker.min.css"/>
<script language="javascript" type="text/javascript" src="/js/bootstrap-datetimepicker.min.js"></script>
<script type="text/javascript" src="<?php echo HOST ?>js/bootstrap-multiselect.js"></script>
<link rel="stylesheet" href="<?php echo HOST ?>css/bootstrap-multiselect.css" type="text/css"/>

<script>
    $(document).ready(function () {

        $('.form-search button:reset').click(function (e){
            $('.form-search input, .form-search select').val('');
            $('.form-search').submit();
            return false;
        });

        jdate();

        $("#s_name" ).keypress(function( event ) {
            if ( event.which == 13 ) {
                event.preventDefault();

                $('form').bind('submit',function(e){e.preventDefault();});
                $('form button, form input, form select').prop('disabled', true);
                $('.loading').remove();
                var _self = $(this);
                var targetUrl = '<?php echo HOST."staff?sname=1&span=span5&name=" ?>' + $('#s_name').val();
                $.get(targetUrl,function(data,status){
                        	$('form').unbind('submit');
                        	$('form button, form input, form select').prop('disabled', false);
                            $('.load-ajax').html(data);
                            _self.next('.loading').remove();
                        });
                return false;
            }
        });

        var new_staff_row = $('.wrap_new_staff').html();
    
        $(document).on('click','#add',function(){
            var length = $('#name_result option:selected').length;
            if( length > 0) {
                $(".new_staff").html(new_staff_row);
                var staff_id = $("#name_result").val();
                var title    = $('#name_result option:selected').attr('data-title')
                $('.new_staff .title').html(title);
                $('.new_staff #new_staff_id').val(staff_id);
                jdate();
            }
            
        });

        $(document).on('click',".cancel_new_staff",function(){
            $('.new_staff').html('');
        })
    });

    function jdate(){
        //$( '.date' ).datepicker({ dateFormat: "dd/mm/yy" });
        $('.date').datetimepicker({
            format: 'dd/mm/yyyy',
            startView: 2,
            minView: 2,
            autoclose: true
        });
    }

    var current_shared = $("#shared").val();
    var current_date = $("#to_date").val();
    var update = false;
    $("#save-shared").click(function(){
        var id = $("#sales_region_id").val();
        var parent = $("#parent").val();
        var shared = $("#shared").val();
        var to_date = $("#to_date").val();

        if(shared != "" && (parseFloat(current_shared) != parseFloat(shared) || current_date != to_date) && update == false){
            update = true;
            $("#loading").removeClass("hidden");
            $.ajax({
                type: "post",
                url: "/manage/save-sales-region",
                data: {id: id, parent: parent, shared: shared, to_date: to_date},
                dataType: "json",
                success: function(response){
                    if(response.status){
                        current_shared = shared;
                        current_date = to_date;
                        $("#message").addClass("alert-success").removeClass("alert-danger").children("strong").text("Saved!").parent().removeClass("hidden");
                    }
                    else
                        $("#message").addClass("alert-danger").removeClass("alert-success").children("strong").text("Error").next().text(" - shared is greater than limit!").parent().removeClass("hidden");
                    $("#loading").addClass("hidden");
                    update = false;
                }
            });
        }
    });

    $("#close-message").click(function(){
        $(this).parent().addClass("hidden");
    });
</script>
<?php echo $this->confirm();?>