
<link rel="stylesheet" type="text/css" href="/css/bootstrap-datetimepicker.min.css">
<link rel="stylesheet" type="text/css" href="<?php echo HOST ?>css/bootstrap-multiselect.css">

<div class="row">
	<style type="text/css">
		._main{padding: 20px}
		.span6{margin: 0}
		.page-header{margin: 30px 0; border: 0; padding: 0}
		.block, .block select{text-align: left; display: block}
		.center{text-align: center}
		.left{text-align: left}
		.float-left{float: left}
		.mt-20{margin-top: 20px}
		.bg-fff{background: #fff}
		.red{color: red}
		.note{margin-left: 5px; font-weight: bold}
		.relative{position: relative}
	</style>

	<div class="page-header">
		<h1>Create region share</h1>
	</div>

	<?php if(!empty($this->error)): ?>
	<div class="alert alert-danger alert-dismissible" role="alert">
		<button type="button" class="close" data-dismiss="alert" aria-label="Close">
			<span aria-hidden="true">&times;</span>
		</button>
		<strong>Error</strong>
		<span>Shared is greater than limit!</span>
	</div>
	<?php endif ?>

	<div class="_main center bg-fff">
		<form action="" method="post">

			<div class="clearfix">
				<span class="span6">
					<span class="block">
						<label class="left">Name <span class="red">*</span></label>
						<input type="text" name="name" placeholder="Name..." required value="<?php echo !empty($this->data['name']) ? $this->data['name'] : null ?>">
					</span>
					<span class="block">
						<label class="left">Full name</label>
						<input type="text" name="full_name" placeholder="Full name..." value="<?php echo !empty($this->data['full_name']) ? $this->data['full_name'] : null ?>">
					</span>
					<span class="block">
						<label class="left">Parent <span class="red">*</span></label>
						<select name="parent" required id="parent">
							<option value="">Choose parent...</option>

							<?php
								if(!empty($this->area)):
									foreach($this->area as $key => $value):
							?>
							<option<?php echo !empty($this->data['parent']) && $this->data['parent'] == $value['id'] ? ' selected' : null ?> value="<?php echo $value['id'] ?>"><?php echo $value['name'] ?></option>
							<?php
									endforeach;
								endif;
							?>
						</select>
					</span>
				</span>

				<span class="span6">
					<span class="block relative">
						<label class="left">Shared <span class="red">*</span></label>
						<input type="number" name="shared" placeholder="Shared..." min="0" step="0.01" required value="<?php echo !empty($this->data['shared']) ? $this->data['shared'] : null ?>">
						<span class="loading hidden" id="shared-loading"></span>
						<span class="note hidden" id="shared-note"></span>
					</span>
					<!-- <span class="block">
						<label class="left">Type</label>
						<select name="type" required>
							<option value="">Choose type...</option>
							<option value="1">Region</option>
							<option value="2">Area</option>
						</select>
					</span> -->
					<span class="block">
						<label class="left">From Date <span class="red">*</span></label>
						<input type="text" name="from_date" class="date inline" placeholder="From date..." required value="<?php echo !empty($this->data['from_date']) ? $this->data['from_date'] : null ?>">
					</span>
					<span class="block">
						<label class="left">To Date</label>
						<input type="text" name="to_date" class="date inline" placeholder="To date..." value="<?php echo !empty($this->data['to_date']) ? $this->data['to_date'] : null ?>">
					</span>
				</span>
			</div>

			<span class="block mt-20">
				<button type="submit" class="btn btn-primary">Create</button>
			</span>
		</form>
	</div>
</div>

<script type="text/javascript" src="/js/bootstrap-datetimepicker.min.js"></script>
<script type="text/javascript" src="<?php echo HOST ?>js/bootstrap-multiselect.js"></script>
<script type="text/javascript">
	$('.date').datetimepicker({
		format: 'dd/mm/yyyy',
		startView: 2,
		minView: 2,
		autoclose: true
	});

	$("#parent").change(function(){
		$("#shared-loading").removeClass("hidden");
		$("#shared-note").text("").addClass("hidden");
		$.ajax({
			type: "post",
			url: "",
			data: {parent: $("#parent").val()},
			dataType: "json",
			success: function(response){
				if(response.limit){
					$("#shared-note").text("Shared: "+response.shared+" | Limit: "+response.limit).removeClass("hidden");
					$("#shared-loading").addClass("hidden");
				}
				else{
					$("#shared-loading").addClass("hidden");
					$("#shared-note").text("").addClass("hidden");
				}
			}
		});
	});
</script>