<?php if (isset($this->stores) && $this->stores): ?>
    <?php if ($this->stores->count() == 0): ?>
        <option value>No Store</option>
    <?php else: ?>
        <option value>Choose a Store</option>
    <?php endif; ?>
    <?php foreach ($this->stores as $key => $store): ?>
        <option value="<?php echo $store['id'] ?>"><?php echo $store['name'] ?></option>
    <?php endforeach ?>
<?php endif ?>