<h4 class="staff_name_info">INFO: <?php echo $this->store['short_name'];?></h4>
<table class="table table-responsive table-bordered">
    <thead>
        <tr>
            <th>PG/PB</th>
            <th>STORE LEADER</th>
            <th>SALE</th>
            <th>LEADER</th>
        </tr>
    </thead>
    <tbody>
        <?php
            if(isset($this->result) and $this->result):
        ?>
        <tr>
            <td><?php if(isset($this->result['pg'])) echo implode(', ',$this->result['pg']); ?></td>
            <td><?php if(isset($this->result['store_leader'])) echo implode(', ',$this->result['store_leader']); ?></td>
            <td><?php if(isset($this->result['sale'])) echo implode(', ',$this->result['sale']); ?></td>
            <td><?php if(isset($this->result['leader'])) echo implode(', ',$this->result['leader']); ?></td>
        </tr>
        <?php
            endif;
        ?>
    </tbody>
</table>
<style>
    .staff_name_info{
        padding: 8px;
        margin-bottom: 2px;
    }
</style>