<h4 class="staff_name_info">INFO: <?php echo $this->staff['firstname'].' '.$this->staff['lastname'];?></h4>
<table class="table table-responsive table-bordered">
    <tr>
        <th colspan="6">
            Store number: <?php if(isset($this->stores)) echo count($this->stores); ?>
        </th>
    </tr>
	<tr>
		<th width="30px">STT</th>
		<th>Store name</th>
		<th>Address</th>
		<th>Province</th>
		<th>Area</th>
		<th>Joined at</th>
	</tr>
	<?php 
		if(isset($this->stores) and count($this->stores)){
			$stt = 1;
			foreach ($this->stores as $key => $item) {
	?>
	<tr>
		<td><?php echo $stt++;?></td>
		<td><?php echo My_String::excerpt($item['short_name']);?></td>
		<td><?php echo $item['company_address']; ?></td>
		<td><?php echo $item['regional_market_name'];?></td>
		<td><?php echo $item['area_name'];?></td>
		<td><?php echo date('d/m/Y',$item['joined_at'])?></td>
	</tr>
	<?php 
			}
		}
	?>
</table>
<table class="table table-responsive table-bordered">
    <tr>
        <th colspan="4">Staff number: <?php if(isset($this->staff_sale)) echo count($this->staff_sale); ?></th>
    </tr>
	<tr>
		<th width="30px">STT</th>
		<th>Staff name</th>
		<th>Email</th>
		<th>Title</th>
	</tr>
	<?php 
		if(isset($this->staff_sale) and count($this->staff_sale) ) {
			$stt = 1;
			foreach ($this->staff_sale as $key => $item) {
	?>
	<tr>
		<td><?php echo $stt++;?></td>
		<td><?php echo $item['staff_name'];?></td>
		<td><?php echo $item['email']; ?></td>
		<td><?php echo $item['title_name']?></td>
	</tr>
	<?php 
			}
		}
	?>
</table>

<style>
    .staff_name_info{
        padding: 8px;
        margin-bottom: 2px;
    }
</style>