<div class="page-header">
	<h1>Report By Sale Online <small>
		<a href="/bi/sale-online" class="btn btn-primary">Go to Sale Online &nbsp;<i class="icon-chevron-right"></i>					
        </a></small></h1>
</div>
<?php 
	$from = !empty($this->params['from']) ? $this->params['from'] : date("01/m/Y");
	$to   = !empty($this->params['to']) ? $this->params['to'] : date("d/m/Y");
?>
<div class="accordion" id="accordion2">
    <div class="accordion-group">
        <div class="accordion-heading">
            <a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion2" href="#collapseTwo">
                Search
            </a>
        </div>
        <div id="collapseTwo" class="accordion-body collapse" style="height: 0px;">
            <div class="accordion-inner">
                <?php
                    echo $this->render('timing/partials/search-sale-online.phtml');
                ?>
            </div>
        </div>
    </div>
</div>

<div class="table-responsive">
	<table class="table table-striped table-bordered">
		<thead>
                    <tr>
                        <th>#</th>
                        <th>Chanel</th>
                        <th>Sell In</th>
                        <th>Sell In Activated</th>
                        <th>Value(80%)</th>
                        <th>Value Activated(80%)</th>								
                    </tr>
		</thead>
                <?php foreach($this->sales as $key => $value) {
                            ?>
		<tbody>	                    
                    <tr>
                        <td><?php echo $key + 1 ?></td>
                        <td><a href="<?php echo HOST . 'bi/channel-online?channel=' .  $value['channel'] ?>">
                            <?php $temp = $this->distributor[$value['channel']]['title']; 
                                  $arr = explode(' ',trim($temp));
                                  $title_chanel = $arr[0]; 
                                  echo strtoupper($title_chanel);?></a></td>
                        <td><span class="badge badge-default" data-from="<?php echo $from; ?>" data-to="<?php echo $to; ?>" data-store-id="<?php echo $value['channel']; ?>">
                            <?php echo number_format($value['sellin']); ?></span></td>
                        <td><?php echo number_format($value['active']); ?></td>
                        <td><?php echo number_format($value['total_price']); ?></td>
                        <td><?php echo number_format($value['total_active']); ?></td>
                    </tr>                    
		</tbody>
                <?php } ?>
	</table>

</div>
<div id="wrap_more_info">
</div>
<script type="text/javascript">
	$(document).ready(function(){		
		show_model();
	});

	$(document).ajaxStart($.blockUI).ajaxStop($.unblockUI);
	function show_model(){
        
        $('.badge.badge-default').click(function(){
            var distributor_id = $(this).attr('data-store-id');
            var from = $(this).attr('data-from');
            var to = $(this).attr('data-to');
            $.ajax({
                type: 'get',
                url: '/timing/show-model-online',
                data: {'distributor_id':distributor_id,'from':from,'to':to},
                success: function(data){
                    $("#wrap_more_info").html(data);
                },
                error:function(){
                    alert('load data error');
                }
            })
        });
    }

</script>