<style type="text/css">
    #table_id thead tr{
        border: 1px solid #ddd;
        background: -webkit-linear-gradient(top, #FAFAFA 0%,#E9E9E9 100%);
    }
    #table_id thead tr th, #table_id thead tr td{
        border-bottom: 0px solid #dddddd;
    }

    #table_id tbody tr{
        background: none;

    }
    #table_id_length select, #table_id_filter input{
        display: inline-block;
    }

    table.dataTable.no-footer {
        border-bottom: 1px solid #ddd!important;
    }
</style>
<?php

function check_rowspan($array, $k, $name, &$rowspan) {
    if (isset($array[$k + 1][$name]) && $array[$k + 1][$name] == $array[$k][$name]) {
        $k++;
        $rowspan++;
        check_rowspan($array, $k, $name, $rowspan);
    } else {
        return false;
    }
}
?>
<div class="page-header">
    <h1>Report Sell Out By Leader</h1>
</div>
<?php
if (isset($this->messages) and $this->messages)
    foreach ($this->messages as $message):
        echo '<div class="alert alert-success">' . $message . '</div>';
    endforeach;
?>
<div class="accordion" id="accordion2">
    <div class="accordion-group">
        <div class="accordion-heading">
            <a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion2" href="#collapseTwo">
                Search
            </a>
        </div>
        <div id="collapseTwo" class="accordion-body collapse" style="height: 0px;">
            <div class="accordion-inner">
                <?php
                echo $this->render('timing/partials/report_search_leader.phtml');
                ?>
            </div>
        </div>
    </div>
</div>
<?php if ($this->userStorage->id == 341 || $this->userStorage->id == 5899): ?>
    <div class="pull-right">
        <strong>Unit: <?php echo $this->total_unit['total_unit']; ?></strong> -
        <strong>Activated: <?php echo $this->total_unit['total_unit_activated']; ?></strong> -
         <strong>Total value: <?php echo number_format($this->total_value);?></strong>
    </div>
<?php endif ?>

<div class="clearfix"></div>

<div class="table-responsive load-ajax">
    <table class="table table-bordered" id='table_id'>
        <thead>
            <tr>
                <?php
                echo $this->sorting(array(
                    '#',
                    'Staff',
                    'Title',
                    'From date',
                    'To date',
                    'Province',
                    'Province Share',
                    'Area',
                    'Area Share',
                    'Unit',
                    'Unit Activated',
                    'Value (80%)',
                    'Point',
                        ), $this->url, $this->current_col, $this->desc);
                ?>
                <?php if($this->userStorage->id==341){ ?>
                  <th>Total Value </th>
               <?php } ?>
            </tr>
        </thead>
        <tbody>
            <?php
            if (isset($this->sales) and $this->sales) {
$inc=1;
                foreach ($this->sales as $k => $sale) {
                    ?>
                    <tr>
                        <?php
                        $link = null;
                        if (in_array($sale['staff_title_id'], array(SALE_SALE_ASM, SALE_SALE_ASM_STANDBY, 308))) {
                            if ($this->access('bi', 'asm-details')) {
                                $link = HOST . "bi/asm-details?id=" . $sale['staff_id'];
                            }
                        } elseif (in_array($sale['staff_title_id'], array(LEADER_TITLE))) {
                            if ($this->access('bi', 'leader-details')) {
                                $link = HOST . "bi/leader-details?id=" . $sale['staff_id'];
                            }
                        }
                        ?>

                        <td><?php echo $inc++; ?></td>
                        <td>
                            <a href="<?php echo $link; ?>">
                                <?php echo $sale['staff_name']; ?>
                            </a>
                        </td>
                        <td><?php echo $sale['staff_title']; ?></td>
                        <td><?php echo date('d/m/Y', strtotime($sale['staff_from_date'])); ?></td>
                        <td><?php echo (isset($sale['staff_to_date']) and $sale['staff_to_date']) ? date('d/m/Y', strtotime($sale['staff_to_date'])) : ''; ?></td>
                        <td><?php echo $sale['region_name']; ?></td>
                        <td><?php echo $sale['province_share']; ?></td>
                        <td><?php echo $sale['area_name']; ?></td>                            
                        <td><?php echo $sale['area_shared']; ?></td>                            
                        <td>
                            <?php
                            $dateFrom = date_create_from_format("d/m/Y", $this->params['from'])->format("Y-m-d");
                            $dateTo   = date_create_from_format("d/m/Y", $this->params['to'])->format("Y-m-d");
                            $sellout  = !empty($sale['total_quantity']) ? $sale['total_quantity'] : '0';
                            $from     = ( strtotime($sale['staff_from_date']) <= strtotime($dateFrom)) ? $dateFrom : $sale['staff_from_date'];
                            $to       = (empty($sale['staff_to_date'])) ? $dateTo : $sale['staff_to_date'];
                            $staff_id = ($sale['type'] == 1 ) ? 0 : $sale['staff_id'];
                            ?>
                            <?php
                            echo '<span class="badge badge-default" data-from="' . $from . '" data-to="' . $to . '" data-staff-name="' . $sale['staff_name'] . '" data-area-id="' . $sale['area_id'] . '" data-staff-id="' . intval($staff_id) . '" data-sellout="' . intval($sellout) . '">' . $sellout . '</span>';
                            ?>
                        </td>
                        <td>
                            <?php
                            echo!empty($sale['total_activated']) ? $sale['total_activated'] : '0';
                            ?>
                        </td>
                        <td>
                            <?php
                            echo!empty($sale['total_value']) ? number_format($sale['total_value']) : '0';
                            ?>
                        </td>
                        <td>
                            <?php
                            echo $sale['point'];
                            ?>
                        </td>
                        
                         <?php if($this->userStorage->id == 341){ ?>
                        <td> <?php echo number_format($sale['sum_total_value']) ?> </td>
               <?php } ?>
                    </tr>
                    
                <?php
                }
            }
            ?>
<!--            <tr>
                <td><?php echo $inc++; ?></td>
                <td><?php echo $sale['area_name']; ?></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
               
            </tr>    -->

        </tbody>
    </table>
</div>
<div id="wrap_more_info">

</div>
<!-- 
<script type="text/javascript" src="/js/jquery-ui-1.8.12.custom.min.js"></script>
<link rel="stylesheet" type="text/css" href="/css/jquery-ui-1.8.12.custom.css"/>
<script src="/public/js/jquery.blockUI.js"></script>
<link rel="stylesheet" type="text/css" href="//cdn.datatables.net/1.10.11/css/jquery.dataTables.css">
<script type="text/javascript" charset="utf8" src="//cdn.datatables.net/1.10.11/js/jquery.dataTables.js"></script> -->
<script type="text/javascript" src="/js/jquery-ui-1.8.12.custom.min.js"></script>
<link rel="stylesheet" type="text/css" href="/css/jquery-ui-1.8.12.custom.css"/>
<script src="/public/js/jquery.blockUI.js"></script>
<script type="text/javascript" src="/js/jquery-ui-1.8.12.custom.min.js"></script>
<link rel="stylesheet" type="text/css" href="/css/jquery-ui-1.8.12.custom.css"/>
<link rel="stylesheet" type="text/css" href="//cdn.datatables.net/1.10.11/css/jquery.dataTables.css">
<script type="text/javascript" charset="utf8" src="//cdn.datatables.net/1.10.11/js/jquery.dataTables.js"></script>
<script>
    $(document).ready(function () {
        $('#table_id').DataTable({
            "paging": false,
        });

        // $('.date').datepicker({
        //     dateFormat: "mm/yy"
        // });
        $('.form-search button:reset').click(function (e) {
            $('.form-search input, .form-search select').val('');
            $('.form-search').submit();
            return false;
        });
        // show_model();
        $('.badge.badge-default').click(function () {
            var area_id = $(this).attr('data-area-id');
            var from = $(this).attr('data-from');
            var to = $(this).attr('data-to');
            var staff_id = $(this).attr('data-staff-id');
            var sellout = $(this).attr('data-sellout');
            var staff_name = $(this).attr('data-staff-name');
            // alert(sellout);
            $.ajax({
                type: 'get',
                url: '/timing/show-model-leader',
                data: {'area_id': area_id, 'from': from, 'to': to, 'staff_id': staff_id, 'sellout': sellout, 'staff_name': staff_name},
                success: function (data) {
                    $("#wrap_more_info").html(data);
                },
                error: function () {
                    alert('load data error');
                }
            })
        });
    });


    $(document).ajaxStart($.blockUI).ajaxStop($.unblockUI);



</script>
