<div class="page-header">
    <h1>Report Sell Out By Region</h1>
</div>
<?php
if (isset($this->messages) and $this->messages)
    foreach ($this->messages as $message):
        echo '<div class="alert alert-success">' . $message . '</div>';
    endforeach;
?>
<div class="accordion" id="accordion2">
    <div class="accordion-group">
        <div class="accordion-heading">
            <a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion2" href="#collapseTwo">
                Search
            </a>
        </div>
        <div id="collapseTwo" class="accordion-body collapse" style="height: 0px;">
            <div class="accordion-inner">
                <?php
                echo $this->render('timing/partials/report_search_region.phtml');
                ?>
            </div>
        </div>
    </div>
</div>
<?php if ($this->userStorage->id == 5899 || $this->userStorage->id == 341): ?>
    <div class="pull-right">
        <strong>Unit: <?php echo $this->total_sales; ?></strong> - 
        <strong>Activated: <?php echo $this->total_sales_activated; ?></strong>
        <strong>Total value: <?php echo number_format($this->total_value); ?></strong>

    </div>
<?php endif ?>

<div class="clearfix"></div>

<div class="table-responsive load-ajax">
    <table class="table table-bordered" id='table_id'>
        <thead>
            <tr>
                <?php
                echo $this->sorting(array(
                    '#',
                    'Manager',
                    'Region',
                    'Area',
                    'Region share (%)',
                    'Unit',
                    'Unit Activated',
                    '% Not Activated',
                    'Value 80%',
                    'Value KPI',
                    'Point'
                        ), $this->url, $this->current_col, $this->desc);
                ?>
            </tr>
        </thead>
        <tbody>
            <?php
            if (isset($this->sales) and $this->sales)
                $inc = $this->offset + 1;

            foreach ($this->sales as $key => $sale) {
                ?>

                <?php if ((!empty($this->area_list) && $key == $this->userStorage->id) || empty($this->area_list) ) { ?>
                    <tr>
                        <td><?php echo $inc++; ?></td>
                        <td>
                            <?php echo $sale['staff_name']; ?>
                        </td>
                        <td>
                            <?php
                             echo $sale['region_name'];
                            ;
                            ?>
                        </td>
                        <td>
                            <?php echo $sale['list_area']; ?>
                        </td>

                        <td><?php echo!empty($sale['region_share']) ? $sale['region_share'] : '0'; ?></td>

                        <td>
                            <?php echo $sale['total_quantity']; ?>
                        </td>
                        <td><?php echo!empty($sale['total_activated']) ? $sale['total_activated'] : '0'; ?></td>
                        <td><?php echo!empty($sale['total_value']) ? round(( ( $sale['total_quantity'] - $sale['total_activated'] ) / $sale['total_quantity'] ) * 100, 1) : '0'; ?></td>
                        <td><?php echo!empty($sale['total_value']) ? number_format($sale['total_value']) : '0'; ?></td>


                        <td><?php echo!empty($sale['value_kpi']) ? number_format($sale['value_kpi']) : '0'; ?></td>
                        <td><?php echo $sale['point'] ?></td>

                    </tr>

                <?php } else { ?>
                    <tr>
                        <td><?php echo $inc++; ?></td>
                        <td>    <?php echo $sale['staff_name']; ?></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr>   
            <?php } } ?>
        </tbody>
    </table>
</div>

<div id="wrap_more_info">

</div>

<script type="text/javascript" src="/js/jquery-ui-1.8.12.custom.min.js"></script>
<link rel="stylesheet" type="text/css" href="/css/jquery-ui-1.8.12.custom.css"/>
<script src="/public/js/jquery.blockUI.js"></script>
<script type="text/javascript" src="/js/jquery-ui-1.8.12.custom.min.js"></script>
<link rel="stylesheet" type="text/css" href="/css/jquery-ui-1.8.12.custom.css"/>
<link rel="stylesheet" type="text/css" href="//cdn.datatables.net/1.10.11/css/jquery.dataTables.css">
<script type="text/javascript" charset="utf8" src="//cdn.datatables.net/1.10.11/js/jquery.dataTables.js"></script>
<script>
    $(document).ready(function () {
        $('#table_id').DataTable({
            "paging": false,
        });
        $('.date').datepicker({dateFormat: "dd/mm/yy"});

        $('.form-search button:reset').click(function (e) {
            $('.form-search input, .form-search select').val('');
            $('.form-search').submit();
            return false;
        });

        // show_model();
    });
//    $('.badge.badge-default').click(function () {
//        var area_id = $(this).attr('data-area-id');
//        var from = $(this).attr('data-from');
//        var to = $(this).attr('data-to');
//        var sellout = $(this).attr('data-sellout');
//        var area_name = $(this).attr('data-area-name');
//        // alert(sellout);
//        $.ajax({
//            type: 'get',
//            url: '/timing/show-model-area',
//            data: {'area_id': area_id, 'from': from, 'to': to, 'sellout': sellout, 'area_name': area_name},
//            success: function (data) {
//                $("#wrap_more_info").html(data);
//            },
//            error: function () {
//                alert('load data error');
//            }
//        })
//    });
    $(document).ajaxStart($.blockUI).ajaxStop($.unblockUI);
    // show_model();

    // function show_model(){
    //     $('.badge.badge-default').click(function(){
    //         var area_id = $(this).attr('data-area-id');
    //         var from = $(this).attr('data-from');
    //         var to = $(this).attr('data-to');
    //         $.ajax({
    //             type: 'get',
    //             url: '/timing/show-model',
    //             data: {'area_id':area_id,'from':from,'to':to,type: 'area'},
    //             success: function(data){
    //                 $("#wrap_more_info").html(data);
    //             },
    //             error:function(){
    //                 alert('load data error');
    //             }
    //         })
    //     });
    // }
</script>
