<div class="page-header">
    <h1>Report Sell Out By Area Final</h1>
</div>
<?php
if (isset($this->messages) and $this->messages)
    foreach ($this->messages as $message):
        echo '<div class="alert alert-success">' . $message . '</div>';
    endforeach;
?>

<div class="accordion" id="accordion2">
    <div class="accordion-group">
        <div class="accordion-heading">
            <a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion2" href="#collapseTwo">
                Search
            </a>
        </div>
        <div id="collapseTwo" class="accordion-body" >
            <div class="accordion-inner">
                <?php
                echo $this->render('timing/partials/report_search_area_final.phtml');
                ?>
            </div>
        </div>
    </div>
</div>

<div class="pull-right">
    <?php if (!empty($this->list)) { ?>

        <strong>% Not Activated Company:  <?php echo empty($this->list[0]['total_not_activated']) ? '' : ($this->list[0]['total_not_activated'] * 100) . "%"; ?></strong>
    <?php } ?>
</div>
<div class="clearfix"></div>

<div class="table-responsive load-ajax">
    <table class="table table-bordered" id='table_id'>
        <thead>
            <tr>
                <th>#</th>
                <th>Area</th>
                <th>Region share (%)</th>
                <th>Unit</th>
                <th>Unit Activated</th>
                <th>% Not Activated</th>
                <th>Value 80%</th>
                <th>Value KPI</th>
                <th>Point</th>
                <th>Note</th>
            </tr>
        </thead>
        <tbody>
            <?php $stt = 1; ?>
            <?php foreach ($this->list as $key => $value) { ?>
                <?php
                if (in_array($this->userStorage->group_id, array(ADMINISTRATOR_ID, BOARD_ID)) || in_array($this->userStorage->id, array(341)) || in_array($value['area_id'], $this->area_list)
                ) {
                    ?>
                    <tr>
                        <td><?php echo $stt++ ?></td>
                        <td><?php echo $value['area'] ?></td>
                        <td><?php echo $value['region_share'] ?></td>
                        <td><?php echo $value['unit'] ?></td>
                        <td><?php echo $value['unit_activated'] ?></td>   
                        <td><?php echo empty($value['not_active_area']) ? '' : ($value['not_active_area'] * 100) . "%"; ?></td>
                        <td><?php echo empty($value['value_80_ps']) ? '' : number_format($value['value_80_ps']) ?></td>
                        <td><?php echo number_format($value['value_kpi']) ?></td>
                        <td><?php echo $value['point'] ?></td>
                        <td><?php echo $value['note'] ?></td>
                    </tr>
                <?php } else { ?>
                    <tr>
                        <td><?php echo $stt++; ?></td>
                        <td><?php echo $value['area']; ?></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>                    
                        <td></td>
                        <td></td>
                    </tr>

                    <?php
                }
            }
            ?>
        </tbody>
    </table>
</div>


<script type="text/javascript" src="/js/jquery-ui-1.8.12.custom.min.js"></script>
<link rel="stylesheet" type="text/css" href="/css/jquery-ui-1.8.12.custom.css"/>
<script src="/public/js/jquery.blockUI.js"></script>
<script type="text/javascript" src="/js/jquery-ui-1.8.12.custom.min.js"></script>
<link rel="stylesheet" type="text/css" href="/css/jquery-ui-1.8.12.custom.css"/>

