<div class="page-header">
    <h1>Report Sell Out by Product</h1>
</div>
<?php
    if (isset($this->messages) and $this->messages)
        foreach ($this->messages as $message):
            echo '<div class="alert alert-success">'.$message.'</div>';
        endforeach;
?>
<div class="accordion" id="accordion2">
    <div class="accordion-group">
        <div class="accordion-heading">
            <a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion2" href="#collapseTwo">
                Search
            </a>
        </div>
        <div id="collapseTwo" class="accordion-body collapse" style="height: 0px;">
            <div class="accordion-inner">
                <?php
                    echo $this->render('timing/partials/report_search_product.phtml');
                ?>
            </div>
        </div>
    </div>
</div>

<div class="pull-right">
    <strong>Sell Out: <?php echo $this->total_quantity;?> / Activated: <?php echo $this->total_activated ?></strong>
</div>
<div class="clearfix"></div>

<div class="table-responsive load-ajax">
    <table class="table table-bordered">
        <thead>
            <tr>
                <?php echo $this->sorting(array(
                    '#',
                    'product_name'          => 'Product',
                    'product_desc'          => 'Description',
                    'price'                 => 'Price',
                    'total_quantity'        => 'Sell Out',
                    'total_activated'       => 'Sell Out Activated',
                    'total_value'           => 'Value',
                    'total_value_activated' => 'Value Activated',
                ),
            $this->url, $this->current_col, $this->desc); ?>
            </tr>
        </thead>
        <tbody>
            <?php
            if (isset($this->sales) and $this->sales):
                $inc = $this->offset + 1;
                foreach ($this->sales as $sale): ?>
            <tr>
                <td>
                    <?php
                        echo $inc++;
                    ?>
                </td>
                <td><?php echo $sale['product_name'];?></td>
                <td>
                    <?php echo $sale['product_desc'];?><?php echo $sale['color'] ? (' - ' . $sale['color']) : ''; ?>
                    
                </td>
                <td>
                    <?php echo My_Number::f($sale['price']);?>

                </td>
                <?php
                    $from =  (isset($this->params['from']) and $this->params['from']) ? $this->params['from'] : '';
                    $to   =  (isset($this->params['to']) and $this->params['to']) ? $this->params['to'] : '';
                ?>
                <td>
                    <?php echo !empty($sale['total_quantity']) ? '<span class="badge badge-default" data-from="'.$from.'" data-to="'.$to.'" data-good-id="'.$sale['good_id'].'">'.$sale['total_quantity'].'</span>' : '0' ?>
                </td>
                <td><?php echo !empty($sale['total_activated']) ? $sale['total_activated'] : '0' ?></td>
                <td><?php echo !empty($sale['total_value']) ? My_Number::f($sale['total_value']) : '0' ?></td>
                <td><?php echo !empty($sale['total_value_activated']) ? My_Number::f($sale['total_value_activated']) : '0' ?></td>
            </tr>
            <?php endforeach; endif;?>

        </tbody>
    </table>
</div>

<div id="wrap_more_info">

</div>

<div class="paging">
    <?php echo $this->paging($this->total, $this->limit, $this->offset, $this->url);?>
</div>

<script type="text/javascript" src="/js/jquery-ui-1.8.12.custom.min.js"></script>
<link rel="stylesheet" type="text/css" href="/css/jquery-ui-1.8.12.custom.css"/>
<script type="text/javascript" src="<?php echo HOST ?>js/bootstrap-multiselect.js"></script>
<link rel="stylesheet" href="<?php echo HOST ?>css/bootstrap-multiselect.css" type="text/css"/>
<script src="/public/js/jquery.blockUI.js"></script>
<script>
    options = {
        selectAllText: 'Select All',
        includeSelectAllOption: true,
        includeSelectAllIfMoreThan: 3,
        disableIfEmpty: true
    };

    function multi() {
        $('.multiselect').multiselect(options);
    }

    $(document).ready(function () {
        multi();

        $( '.date' ).datepicker({ dateFormat: "dd/mm/yy" });

        $('.form-search button:reset').click(function (e){
            $('.form-search input, .form-search select').val('');
            $('.form-search').submit();
            return false;
        });

        $('#area_id').change(function(){
            $('.loading').remove();
            $(this).after('<span class="loading"></span>');
            var _self = $(this);
            var area_id = $(this).val();
            $('button, .btn, input').prop('disabled', true);
            $.get("/staff/load-province",
                {area_id: area_id}
                ,function(data,status){
                    var obj = $.parseJSON( data );
                    $('#regional_market').find('option').remove();
                    $('#district').find('option').remove();
                    $('#store').find('option').remove();

                    for (var i = 0; i < obj.length; i++) {
                        $('#regional_market').append('<option value="'+obj[i]['id']+'">'+obj[i]['name']+'</option>');
                    }

                    $('button, .btn, input').prop('disabled', false);
                    $('#regional_market, #district, #store').multiselect("destroy").multiselect(options);
                    $('.loading').remove();
                });
        });

        $('#district').change(function(){
            $('.loading').remove();
            $('button, .btn, input').prop('disabled', true);
            $(this).after('<span class="loading"></span>');
            var _self = $(this);
            var regional_market = $(this).val();
            $.get("<?php echo HOST ?>staff/load-sales-team",
                {district: regional_market}
                ,function(data,status){
                    var obj         = $.parseJSON( data );
                    var stores      = obj.stores;

                    $('#store').find('option').remove();
                    for (var i = 0; i < stores.length; i++) {
                        $('#store').append('<option value="'+stores[i]['id']+'">'+stores[i]['name']+'</option>');
                    }

                    $('button, .btn, input').prop('disabled', false);
                    $('#store').multiselect("destroy").multiselect(options);

                    $('.loading').remove();
                });
        });

        $('#regional_market').change(function(){
            $('form').bind('submit',function(e){e.preventDefault();});
            $('form button, form input, form select').prop('disabled', true);
            $('.loading').remove();

            $(this).after('<span class="loading"></span>');
            var _self = $(this);
            var region = $(this).val();
            $.post("<?php echo HOST ?>ajax/get-district-cbb", {
                    region: region
                }
                ,function(data,status){
                    $('#district').find('option').remove();
                    $('#store').find('option').remove();

                    try {
                        if (data) {
                            var obj = $.parseJSON( data );

                            for (var i = 0; i < obj.length; i++) {
                                $('#district').append('<option value="'+obj[i]['id']+'">'+obj[i]['name']+'</option>');
                            }

                            $('#district,#store').multiselect("destroy").multiselect(options);
                        }

                    } catch(err) {

                    } finally {
                        $('.loading').remove();
                        $('form').unbind('submit');
                        $('form button, form input, form select').prop('disabled', false);
                    }
                });
        });
        show_model();
    });

    $(document).ajaxStart($.blockUI).ajaxStop($.unblockUI);
    function show_model(){
        var area = [];
        var province = [];
        var district = [];
        <?php
            if(isset($this->params['area']) and $this->params['area']){
                foreach($this->params['area'] as $v){
        ?>
            area.push(<?php echo $v?>);
        <?php
                }
            }
        ?>

        <?php
            if(isset($this->params['province']) and $this->params['province']){
                foreach($this->params['province'] as $v){
        ?>
        province.push(<?php echo $v?>);
        <?php
                }
            }
        ?>

        <?php
            if(isset($this->params['district']) and $this->params['district']){
                foreach($this->params['district'] as $v){
        ?>
        district.push(<?php echo $v?>);
        <?php
                }
            }
        ?>

        $('.badge.badge-default').click(function(){
            var good_id = $(this).attr('data-good-id');
            var from    = $(this).attr('data-from');
            var to      = $(this).attr('data-to');
            $.ajax({
                type: 'get',
                url: '/timing/show-model',
                data: {'good_id':good_id,'from':from,'to':to,type: 'product','area':area,'province':province,'district':district},
                success: function(data){
                    $("#wrap_more_info").html(data);
                },
                error:function(){
                    alert('load data error');
                }
            })
        });
    }
</script>
<?php echo $this->load('combobox');?>
