<div class="page-header">
    <h1>Báo cáo Doanh Thu ASM, PGS, SALE</h1>
</div>
<?php
if (isset($this->messages) and $this->messages)
    foreach ($this->messages as $message):
        echo '<div class="alert alert-success">'.$message.'</div>';
    endforeach;
?>

<form class="form-search form-horizontal" method="get" action="/timing/asm-report-by-area">
    <div class="row">
        <div class="span5">
            <div class="control-group">
                <label for="area_id" class="span2">Area</label>
                <select id="area_id" name="area" class="span3">
                    <option value="">Choose</option>
                    <?php
                    if ($this->listAreas) :
                        foreach ($this->listAreas as $id => $area):
                            ?>
                            <option value="<?php echo $id;?>" <?php if (isset($this->area) and $this->area==$id):?>selected<?php endif;?>><?php echo $area;?></option>
                        <?php
                        endforeach;
                    endif;
                    ?>
                </select>
            </div>
        </div>
        <div class="span5">
            <div class="control-group">
                <label for="date" class="span2">From Date</label>
                <input type="text" class="form-control search-query date span2" id="from" name="from" autocomplete="off" value="<?php isset($this->from) and printf($this->from);?>">

            </div>
            <div class="control-group">
                <label for="date" class="span2">To Date</label>
                <input type="text" class="form-control search-query date span2" id="to" name="to" autocomplete="off" value="<?php isset($this->to) and printf($this->to);?>">
            </div>
        </div>
    </div>


    <button type="reset" class="btn btn-warning">Reset</button>
    <button type="submit" name="export" value="1" class="btn btn-info">Export</button>
</form>





<script type="text/javascript" src="/js/jquery-ui-1.8.12.custom.min.js"></script>
<link rel="stylesheet" type="text/css" href="/css/jquery-ui-1.8.12.custom.css"/>
<script src="/public/js/jquery.blockUI.js"></script>
<script type="text/javascript" src="/js/jquery-ui-1.8.12.custom.min.js"></script>
<link rel="stylesheet" type="text/css" href="/css/jquery-ui-1.8.12.custom.css"/>
<link rel="stylesheet" type="text/css" href="//cdn.datatables.net/1.10.11/css/jquery.dataTables.css">
<script type="text/javascript" charset="utf8" src="//cdn.datatables.net/1.10.11/js/jquery.dataTables.js"></script>
<script>
    $(document).ready(function () {
        $('#table_id').DataTable( {
            "paging":   false,
        });
        $( '.date' ).datepicker({ dateFormat: "dd/mm/yy" });

        $('.form-search button:reset').click(function (e){
            $('.form-search input, .form-search select').val('');
            $('.form-search').submit();
            return false;
        });

        show_model();
    });

    $(document).ajaxStart($.blockUI).ajaxStop($.unblockUI);
    show_model();
    $('.badge.badge-default').click(function(){
        var area_id  = $(this).attr('data-area-id');
        var from     = $(this).attr('data-from');
        var to       = $(this).attr('data-to');
        var staff_id = $(this).attr('data-staff-id');
        var sellout  = $(this).attr('data-sellout');
        var area_name  = $(this).attr('data-area-name');
        // alert(sellout);
        $.ajax({
            type: 'get',
            url: '/timing/show-model-area',
            data: {'area_id':area_id,'from':from,'to':to,'staff_id': staff_id,'sellout': sellout,'area_name': area_name},
            success: function(data){
                $("#wrap_more_info").html(data);
            },
            error:function(){
                alert('load data error');
            }
        })
    });
    function show_model(){
        $('.badge.badge-default').click(function(){
            var area_id = $(this).attr('data-area-id');
            var from = $(this).attr('data-from');
            var to = $(this).attr('data-to');
            $.ajax({
                type: 'get',
                url: '/timing/show-model',
                data: {'area_id':area_id,'from':from,'to':to,type: 'area'},
                success: function(data){
                    $("#wrap_more_info").html(data);
                },
                error:function(){
                    alert('load data error');
                }
            })
        });
    };
</script>
