<h3>Export KPI</h3>

<form action="/timing/export-kpi-total">
        <div class="control-group">
            <label for="date" class="span1 mt-2">Month</label>
            <input required autocomplete="off" type="text" name="time"  value="<?php ($this->params['time']) ? $this->params['time'] : ''?>"  class="date">
        </div>

    <button type="submit" name="export_type" value="1" class="btn btn-info">Export Sellout Policy Summary</button>
    <button type="submit" name="export_type" value="2" class="btn btn-info">Export Sellout Policy </button>
    <button type="submit" name="export_type" value="3" class="btn btn-info">Export Sellout Staff </button>
    <button type="submit" name="export_type" value="4" class="btn btn-info">Export Sellout Staff Detail </button>
    <button type="submit" name="export_type" value="5" class="btn btn-info">Export KPI Sale Online </button>
    <button type="submit" name="export_type" value="6" class="btn btn-info">Export PG đứng shop có sellout nhiều nhất </button>
    <button type="submit" name="export_type" value="7" class="btn btn-info">Export Channel </button>
    <button type="submit" name="export_type" value="8" class="btn btn-info">Export Channel System</button>

</form>




<script type="text/javascript" src="/js/bootstrap-datetimepicker.min.js"></script>
<link rel="stylesheet" type="text/css" href="/css/bootstrap-datetimepicker.min.css"/>
<script type="text/javascript" src="/js/sweetalert2.all.min.js"></script>

<script>
    $(document).ready(function () {
        $('.date').datetimepicker({
            weekStart: 1,
            clear: true,
            minView: 3,
            startView: 3,
            minViewMode: 3,
            autoclose: true,
            format: 'mm/yyyy'
        });
    })
</script>