<b>STOCK - <b style="color:#008b56"><?php echo $this->store_name; ?></b>
</b>
<br><br>
<table class="table">
    <thead>
    <tr>
        <th>Model</th>
        <th>Color</th>
        <th>Stock</th>
    </tr>
    </thead>
    <tbody>
    <?php foreach ($this->data as $item): ?>
        <tr>
            <td><?php echo $item['model']; ?></td>
            <td><?php echo $item['color']; ?></td>
            <td><?php echo $item['inventory']; ?></td>
        </tr>
    <?php endforeach; ?>

    </tbody>
</table>