<b>
    <?php if ($this->type == 1): ?>
        SELL IN -
    <?php endif; ?>

    <?php if ($this->type == 3): ?>
       Hàng trên đường -
    <?php endif; ?>

    <?php if ($this->type == 2): ?>
        Tồn kho hiện tại -
    <?php endif; ?>

    <b style="color:#008b56"><?php echo $this->store_name; ?></b>
</b>
<br><br>
<table class="table">
    <thead>
    <tr>
        <th>Sản phẩm</th>
        <th>Màu</th>
        <?php if ($this->type == 1): ?>
           <th>Sell-in</th>
        <?php endif; ?>

        <?php if ($this->type == 3): ?>
            <th>Hàng trên đường</th>
        <?php endif; ?>

        <?php if ($this->type == 2): ?>
           <th>Tồn kho hiện tại</th>
        <?php endif; ?>
    </tr>
    </thead>
    <tbody>
    <?php foreach ($this->data as $item): ?>
        <tr>
            <td><?php echo $item['model']; ?></td>
            <td><?php echo $item['color']; ?></td>
            <td>
                <?php if (in_array($this->type, [1,3])): ?>
                    <?php echo $item['sellin']; ?>
                <?php endif; ?>

                <?php if (in_array($this->type, [2])): ?>
                    <?php echo $item['stock']; ?>
                <?php endif; ?>

            </td>
        </tr>
    <?php endforeach; ?>

    </tbody>
</table>