<div class="page-header">
    <h1>Bảng điểm hero tháng <?php echo $this->params['month'] , '/' . $this->params['year']; ?>:  <b style="color: #2aad6f"><?php echo implode(", ", $this->list_hero_good); ?></b></h1>
</div>
<?php
    if (isset($this->messages) and $this->messages)
        foreach ($this->messages as $message):
            echo '<div class="alert alert-error">'.$message.'</div>';
        endforeach;

    if (isset($this->messages_success) and $this->messages_success)
        foreach ($this->messages_success as $message):
            echo '<div class="alert alert-success">'.$message.'</div>';
        endforeach;
?>

<div class="accordion" id="accordion2">
    <div class="accordion-group">
        <div class="accordion-heading">
            <a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion2" href="#collapseTwo">
                Search
            </a>
        </div>
        <div id="collapseTwo" class="accordion-body collapse" style="height: 0px;">
            <div class="accordion-inner">
                <?php
                    echo $this->render('timing/partials/search-hero-report.phtml');
                ?>
            </div>
        </div>
    </div>
</div>
 <div class="pull-left">
     <strong>Point 1: % share GFK theo doanh thu</strong> -  
    <strong>Point 2: % hoàn thành Target Hero</strong>
    <strong>Total Point=(Point 1+Point 2)/2</strong>
  
    
</div>
<div class="pull-right">
    <?php if (in_array($this->userStorage->id,array(341,5899))){  ?>
     <strong>Total Sellout : <?php echo $this->total_sellout;?> </strong> 
    <?php } ?>
  
    
</div>
<div class="table-responsive">
    <?php
        echo $this->render('timing/partials/list-hero-report.phtml');
    ?>
</div>
