<div class="page-header">
    <h1>List IMEI Reported</h1>
</div>
<?php
    if (isset($this->messages) and $this->messages)
        foreach ($this->messages as $message):
            echo '<div class="alert alert-success">'.$message.'</div>';
        endforeach;

    if (isset($this->messages_error) and $this->messages_error)
        foreach ($this->messages_error as $message):
            echo '<div class="alert alert-error">'.$message.'</div>';
        endforeach;
?>

<ul class="nav nav-tabs">
    <li class="active"><a data-toggle="tab" href="#tab_list_imei">DANH SÁCH IMEI</a></li>
    <li><a data-toggle="tab" href="#tab_statistic">THỐNG KÊ</a></li>
</ul>

<div class="tab-content">
    <div id="tab_list_imei" class="tab-pane fade in active">
        <div class="accordion" id="accordion2">
            <div class="accordion-group">
                <div class="accordion-heading">
                    <a class="accordion-toggle collapsed">
                        Search
                    </a>
                </div>
                <div id="collapseTwo" class="accordion-body">
                    <div class="accordion-inner">
                        <?php
                        echo $this->render('timing/partials/imei-report-search.phtml');
                        ?>
                    </div>
                </div>
            </div>
        </div>

        <div class="table-responsive">
            <?php
            echo $this->render('timing/partials/imei-report.phtml');
            ?>
        </div>
    </div>
    <div id="tab_statistic" class="tab-pane fade ">
        <?php echo $this->render('timing/partials/statistict-duplicated-imei.phtml');?>
    </div>
</div>

