<div class="row">
    <div class="span12">
        <p></p>        
    </div>
</div>
<div class="alert alert-danger">
    Chức năng chấm công Timing tạm thời đóng lại để nâng cấp hệ thống. Vui lòng quay lại khi có thông báo.
</div>