<div class="page-header" style="text-align: center">
    <h1>Report OnePlus</h1>
</div>

<?php if ($this->access('timing', 'upload-tgdd-other-brand-save')):?>
    <a href="/timing/upload-tgdd-other-brand" class="btn btn-primary pull-right">Đổ số OnePlus</a>
<?php endif; ?>

    <b style="color:#2aad6f; font-size: 20px">Total sellout: <?php echo $this->total_quantity; ?></b>
<!-- Khung search -->
<div class="accordion-group">
    <div class="accordion-heading">
        <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapseTwo">
            Search
        </a>
    </div>

    <div id="collapseTwo" class="accordion-body collapse" style="height: 0px;">
        <div class="accordion-inner">

            <form action="/timing/report-by-store-oneplus" method="get" enctype="multipart/form-data" autocomplete="off">
                <div class="control-group">
                    <label class="control-label">Area</label>
                    <div class="controls">
                        <select class="span3" name='area_id' id='area_id'>
                            <option value="">-- Choose --</option>
                            <?php foreach($this->list_area   as $key => $value):?>
                                <option value="<?php echo $key;?>" <?php echo $this->params["area_id"] == $key ? "selected" : NULL;?>>
                                    <?php echo $value;?>
                                </option>
                            <?php endforeach;?>
                        </select>
                    </div> <!-- /controls -->
                </div>

                <div class="control-group">
                    <label class="control-label">From date</label>
                    <div class="controls">
                        <input type="text" class="span3 date" name="from_date" value="<?php echo date('Y-m-d', strtotime($this->params['from_date']))?>">
                    </div> <!-- /controls -->
                </div>

                <div class="control-group">
                    <label class="control-label">To date</label>
                    <div class="controls">
                        <input type="text" class="span3 date" name="to_date" value="<?php echo date('Y-m-d', strtotime($this->params['to_date']))?>">
                    </div> <!-- /controls -->
                </div>
                <button type="submit" class="btn btn-primary">Search</button>
                <input type="submit" name="export" value="Export" class="btn btn-warning">
            </form>
        </div>


    </div>
</div>
<!-- END Khung search -->

<table class="table">
    <thead>
    <tr>
        <th>#</th>
        <th>Store</th>
        <th>Area</th>
        <th>Province</th>
        <th>District</th>
        <th>Model</th>
        <th>Sellout</th>
    </tr>
    </thead>
    <tbody>
    <?php foreach ($this->list as $key => $item): ?>
        <tr>
            <td><?php echo $key + 1; ?></td>
            <td><a href="#"><?php echo $item['store_name']; ?></a></td>
            <td><?php echo $item['area_name']; ?></td>
            <td><?php echo $item['province_name']; ?></td>
            <td><?php echo $item['district_name']; ?></td>
            <td><?php echo $item['model']; ?></td>
            <td><b><?php echo $item['total_quantity']; ?></b></td>
        </tr>
    <?php endforeach; ?>

    </tbody>
</table>

<div class="paging" style="height:80px;">
    <?php echo $this->paging($this->total, $this->limit, $this->offset, $this->url, NULL, 5);?>
</div>

<script type="text/javascript" src="/js/jquery-ui-1.8.12.custom.min.js"></script>
<link rel="stylesheet" type="text/css" href="/css/jquery-ui-1.8.12.custom.css"/>
<link rel="stylesheet" type="text/css" href="<?php echo HOST ?>css/select2.min.css">
<script type="text/javascript" src="<?php echo HOST ?>js/select2.min.js"></script>
<script type="text/javascript" src="/js/sweetalert2.all.min.js"></script>
<script type="text/javascript" src="/js/bootstrap-datetimepicker.min.js"></script>
<link rel="stylesheet" type="text/css" href="/css/bootstrap-datetimepicker.min.css"/>
<script>
    $(document).ready(function () {
        $( '.date' ).datepicker({ dateFormat: "yy-mm-dd" });
    });
</script>