<div class="page-header">
    <h1>Report Máy chạy bộ</h1>
</div>
<?php
if (isset($this->messages) and $this->messages)
    foreach ($this->messages as $message):
        echo '<div class="alert alert-success">'.$message.'</div>';
    endforeach;
?>

<div class="accordion" id="accordion2">
    <div class="accordion-group">
        <div class="accordion-heading">
            <a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion2" href="#collapseTwo">
                Search
            </a>
        </div>
        <div id="collapseTwo" class="accordion-body collapse" style="height: 0px;">
            <div class="accordion-inner">
                <form action="/timing/report-machine">
                    <div class="span5">
                        <div class="control-group">
                            <label for="date" class="span2">Month</label>
                            <input type="text" name="time" value="<?php
                                if (isset($this->params['month'])): echo $this->params['month'] . '/' . $this->params['year'];
                                endif;
                            ?>"  class="date">
                        </div>
                    </div>

                    <button type="submit" class="btn btn-primary">Search</button>

                    <?php if ($this->access('sales-report', 'area')): ?>
                        <button type="submit" name="export_qty" value="1" formaction="<?php echo HOST ?>sales-report/area-by-qty" class="btn btn-info">Export By Qty</button>
                    <?php endif ?>
<!--                    <button type="submit" name="export_qty" value="1" formaction="--><?php //echo HOST ?><!--/timing/export-report-machine" class="btn btn-info">TESTING Export By Qty</button>-->

                </form>
            </div>
        </div>
    </div>
</div>
<?php if ($this->userStorage->id == 5899 || $this->userStorage->id == 341): ?>
    <div class="pull-right">
        Unit:<strong> <?php echo $this->total_quantity_all;?></strong> -
        Activated:<strong> <?php echo $this->total_quantity_activated_all;?></strong> -
        Total value 80%: <strong> <?php echo number_format($this->total_value_all);?></strong> -
        Total value KPI: <strong> <?php echo number_format($this->total_value_kpi_all);?></strong>

    </div>
<?php endif ?>

<div class="clearfix"></div>

<div class="table-responsive load-ajax">
    <table class="table table-bordered" id='table_id' >
        <thead>
        <tr>
            <th>Area</th>
            <th>Region share (%)</th>
            <th>Unit OPPO</th>
            <th>Unit Activated OPPO</th>
            <th>% Not Activated OPPO</th>
            <th>Value 80% OPPO</th>
            <th>Value KPI OPPO</th>

            <th>Unit REALME</th>
            <th>Unit Activated REALME</th>
            <th>% Not Activated REALME</th>
            <th>Value 80% REALME</th>
            <th>Value KPI REALME</th>

            <th>Unit ALL</th>
            <th>Unit Activated ALL</th>
            <th>Value 80% ALL</th>
            <th>Value KPI ALL</th>
            <th>Point</th>
            <th>Rank</th>
            <th>High-end Product (>= 8 Mil)</th>
            <th>Low-end Product (3-5 Mil)</th>
            <th>Thưởng/Phạt</th>
        </tr>
        </thead>
        <tbody>

        <?php if($this->sales_final_all):?>
             <?php $inc = $this->offset + 1 ;?>
             <?php foreach ($this->sales_final_all as $index => $sale) : ?>
                <?php if (in_array($sale['area_id'], $this->list_area_privilege) || $this->is_special_user): ?>
                    <tr>
<!--                    <td>--><?php //echo $inc++; ?><!--</td>-->
                    <td>
                        <?php if($this->access('bi', 'dealer-chart')):?>
                            <a href="<?php echo HOST;?>bi/dealer-chart?area=<?php echo $sale['area_id'];?>">
                                <?php echo $sale['area_name'];?>
                            </a>
                        <?php else:?>
                            <?php echo $sale['area_name'];?>
                        <?php endif;?>
                    </td>
                    <?php $area_id = $sale['area_id'];?>
                    <td><?php echo !empty($sale['region_share']) ? $sale['region_share'] : '0'; ?></td>

                    <td>
                        <?php
                        $sellout = !empty($sale['quantity_oppo']) ? $sale['quantity_oppo'] : '0';
                        $from =  (isset($this->params['from']) and $this->params['from']) ? date_create_from_format("d/m/Y", $this->params['from'])->format("Y-m-d") : '';
                        $to = (isset($this->params['to']) and $this->params['to']) ? date_create_from_format("d/m/Y", $this->params['to'])->format("Y-m-d") : '';
                        ?>
                        <?php echo '<span style="background: #2ba92b" class="badge badge-default" data-company="1" data-sellout="'.$sellout.'" data-area-name="'.$sale['area_name'].'" data-from="'.$from.'" data-to="'.$to.'" data-area-id="'.$sale['area_id'].'">'.$sellout.'</span>'?>
                    </td>
                    <td><?php echo !empty($sale['quantity_activated_oppo']) ? $sale['quantity_activated_oppo'] : '0'; ?></td>
                    <td><?php echo !empty($sale['percent_not_activated_oppo']) ? $sale['percent_not_activated_oppo'] : '0'; ?></td>
                    <td><?php echo !empty($sale['value_oppo']) ? number_format($sale['value_oppo']) : '0'; ?></td>
                    <td><?php echo !empty($sale['value_kpi_oppo']) ? number_format($sale['value_kpi_oppo']) : '0'; ?></td>



                    <td >
                        <?php
                        $sellout = !empty($sale['quantity_realme']) ? $sale['quantity_realme'] : '0';
                        $from =  (isset($this->params['from']) and $this->params['from']) ? date_create_from_format("d/m/Y", $this->params['from'])->format("Y-m-d") : '';
                        $to = (isset($this->params['to']) and $this->params['to']) ? date_create_from_format("d/m/Y", $this->params['to'])->format("Y-m-d") : '';
                        ?>
                        <?php echo '<span style="background: #ffc368" class="badge badge-default" data-company="2" data-sellout="'.$sellout.'" data-area-name="'.$sale['area_name'].'" data-from="'.$from.'" data-to="'.$to.'" data-area-id="'.$sale['area_id'].'">'.$sellout.'</span>'?>
                    </td>
                    <td><?php echo !empty($sale['quantity_activated_realme']) ? $sale['quantity_activated_realme'] : '0'; ?></td>
                    <td><?php echo !empty($sale['percent_not_activated_realme']) ? $sale['percent_not_activated_realme'] : '0'; ?></td>
                    <td><?php echo !empty($sale['value_realme']) ? number_format($sale['value_realme']) : '0'; ?></td>
                    <td><?php echo !empty($sale['value_kpi_realme']) ? number_format($sale['value_kpi_realme']) : '0'; ?></td>



                    <td>
                        <?php
                        $sellout = !empty($sale['quantity_all']) ? $sale['quantity_all'] : '0';
                        $from =  (isset($this->params['from']) and $this->params['from']) ? date_create_from_format("d/m/Y", $this->params['from'])->format("Y-m-d") : '';
                        $to = (isset($this->params['to']) and $this->params['to']) ? date_create_from_format("d/m/Y", $this->params['to'])->format("Y-m-d") : '';
                        ?>
                        <?php echo '<span class="badge badge-default" data-sellout="'.$sellout.'" data-area-name="'.$sale['area_name'].'" data-from="'.$from.'" data-to="'.$to.'" data-area-id="'.$sale['area_id'].'">'.$sellout.'</span>'?>
                    </td>
                    <td><?php echo !empty($sale['quantity_activated_all']) ? $sale['quantity_activated_all'] : '0'; ?></td>
                    <td><?php echo !empty($sale['value_all']) ? number_format($sale['value_all']) : '0'; ?></td>
                    <td><?php echo !empty($sale['value_kpi_all']) ? number_format($sale['value_kpi_all']) : '0'; ?></td>

                    <td><?php echo !empty($sale['point']) ? ($sale['point']) : '0'; ?></td>
                    <td><b style="color: red"><?php echo !empty($sale['rank']) ? ($sale['rank']) : ''; ?></b></td>
                    <td><?php echo !empty($sale['quantity_highend_all']) ? ($sale['quantity_highend_all']) : ''; ?></td>
                    <td><?php echo !empty($sale['quantity_lowend_all']) ? ($sale['quantity_lowend_all']) : ''; ?></td>

<!--                    set color type thưởng phạt-->
                    <?php $color = ($sale['rank_type'] == 1) ? '#dff0d8' : ($sale['rank_type'] == 2 ? '#f2dede' : ''); ?>
<!--                    set color type thưởng phạt-->

                    <td style="background: <?php echo $color; ?>">
                        <?php echo !empty($sale['money']) ? (number_format($sale['money'])) : ''; ?>
                    </td>

                </tr>
                <?php endif; ?>

            <?php endforeach;?>
        <?php endif; ?>

        </tbody>
    </table>
</div>

<div id="wrap_more_info">

</div>

<script type="text/javascript" src="/js/jquery-ui-1.8.12.custom.min.js"></script>
<link rel="stylesheet" type="text/css" href="/css/jquery-ui-1.8.12.custom.css"/>
<script src="/public/js/jquery.blockUI.js"></script>
<script type="text/javascript" src="/js/jquery-ui-1.8.12.custom.min.js"></script>
<link rel="stylesheet" type="text/css" href="/css/jquery-ui-1.8.12.custom.css"/>
<link rel="stylesheet" type="text/css" href="//cdn.datatables.net/1.10.11/css/jquery.dataTables.css">
<script type="text/javascript" charset="utf8" src="//cdn.datatables.net/1.10.11/js/jquery.dataTables.js"></script>
<script type="text/javascript" src="/js/bootstrap-datetimepicker.min.js"></script>
<link rel="stylesheet" type="text/css" href="/css/bootstrap-datetimepicker.min.css"/>
<script type="text/javascript" src="/js/sweetalert2.all.min.js"></script>
<script>
    $(document).ready(function () {
        $('#table_id').DataTable( {
            "paging":   false,
            "order": [[ 17, "asc" ]]
        });
        //$( '.date' ).datepicker({ dateFormat: "dd/mm/yy" });

        $('.form-search button:reset').click(function (e){
            $('.form-search input, .form-search select').val('');
            $('.form-search').submit();
            return false;
        });
        $('.date').datetimepicker({
            weekStart: 1,
            clear: true,
            minView: 3,
            startView: 3,
            minViewMode: 3,
            autoclose: true,
            format: 'mm/yyyy'
        });
        // show_model();
    });
    $('.badge.badge-default').click(function(){
        var area_id  = $(this).attr('data-area-id');
        var from     = $(this).attr('data-from');
        var to       = $(this).attr('data-to');
        var sellout  = $(this).attr('data-sellout');
        var area_name  = $(this).attr('data-area-name');
        var company  = $(this).attr('data-company'); // 1:oppo 2: realme
        // alert(sellout);
        $.ajax({
            type: 'get',
            url: '/timing/show-model-area',
            data: {'area_id':area_id,'from':from,'to':to,'sellout': sellout,'area_name': area_name, 'company': company},
            success: function(data){
                console.log(data)
                $("#wrap_more_info").html(data);
            },
            error:function(){
                alert('load data error');
            }
        })
    });
    $(document).ajaxStart($.blockUI).ajaxStop($.unblockUI);

</script>
