<div>
    <div style="text-align: center">
        <h2>Reset phân quyền báo số TGDĐ</h2>
    </div>
    <div>

        <div class="control-group">
            <label class="control-label" for="name"><b>Store:</b></label>
            <div class="controls">
                <input style="width: 20%" type="text" id="store_name" placeholder="Nhập tên store" autocomplete="off"><br>
            </div>
        </div>


        <div class="control-group">
            <label class="control-label" for="name"><b>Từ ngày:</b></label>
            <div class="controls">
                <input type="text" name="from_date" id="from_date" class="date" autocomplete="off">
            </div>
        </div>

        <div class="control-group">
            <label class="control-label" for="name"><b>Đến ngày:</b></label>
            <div class="controls">
                <input type="text" name="to_date" id="to_date" class="date" autocomplete="off">
            </div>
        </div>



        <button type="button" class="btn btn-primary" id="btn_info">Xem thông tin</button>



    </div>

    <br>
    <div id="result_store_info">

    </div>
</div>

<script type="text/javascript" src="/js/sweetalert2.all.min.js"></script>
<script type="text/javascript" src="/js/jquery-ui-1.8.12.custom.min.js"></script>
<link rel="stylesheet" type="text/css" href="/css/jquery-ui-1.8.12.custom.css"/>
<link rel="stylesheet" type="text/css" href="<?php echo HOST ?>css/select2.min.css">
<script>
    $(document).ready(function () {
        $( '.date' ).datepicker({ dateFormat: "yy-mm-dd" });

        $('.date').change(function () {
            $('#result_store_info').empty();
        });

        $('#btn_info').click(function () {
           var store_name = $('#store_name').val();
            var from_date = $('#from_date').val();
            var to_date = $('#to_date').val();

            if (!store_name) {
                Swal.fire({
                    type: 'warning',
                    title: 'Vui lòng nhập tên shop',
                    showConfirmButton: false,
                    timer: 3000
                });
                return;
            }

            if (!from_date || !to_date) {
                Swal.fire({
                    type: 'warning',
                    title: 'Vui lòng nhập ngày',
                    showConfirmButton: false,
                    timer: 3000
                });
                return;
            }



           $.ajax({
               url: '/timing/reset-assign-store-tgdd-detail',
               type: 'post',
               data: {
                   store_name: store_name,
                   from_date: from_date,
                   to_date: to_date,
               },
               dataType: 'html',
               success: function (data) {
                   $('#result_store_info').empty();
                    $('#result_store_info').html(data)
               }
           });
       })

        $(document).on('click', ".btn_reset", function() {
            var store_name = $(this).attr('store_name');
            var store_id = $(this).attr('store_id');
            var from_date = $('#from_date').val();
            var to_date = $('#to_date').val();

            var title = 'Bạn có muốn reset store ' + store_name + ' Từ ' + from_date + ' đến ' + to_date + ' ?';

            if (!from_date || !to_date) {
                Swal.fire({
                    type: 'warning',
                    title: 'Vui lòng nhập ngày',
                    showConfirmButton: false,
                    timer: 3000
                });
                return;
            }

            Swal.fire({
                title: title,
                icon: 'warning',
                text: "Tất cả báo số của PG tại store trong thời gian đã chọn sẽ bị xóa và phân quyền lại",
                showCancelButton: true,
                confirmButtonColor: '#3085d6',
                cancelButtonColor: '#d33',
                confirmButtonText: 'Có',
               cancelButtonText: 'Không'
            }).then((result) => {
                if (result.value) {

                    Swal.fire({
                        title: 'Đang xử lý...',
                        allowOutsideClick: false,
                        onBeforeOpen: () => {
                            Swal.showLoading()
                        }
                    });


                    $.ajax({
                        url: '/timing/reset-assign-store-tgdd-save',
                        type: 'post',
                        data: {
                            store_id: store_id,
                            from_date: from_date,
                            to_date: to_date
                        },
                        dataType: 'json',
                        success: function (data) {
                            if (data.status === 0) {
                                Swal.fire({
                                    type: 'success',
                                    title: 'Thành công',
                                    showConfirmButton: false,
                                    timer: 5000
                                });

                            } else {
                                Swal.fire({
                                    type: 'warning',
                                    title: data.message,
                                    showConfirmButton: false,
                                    timer: 5000
                                });
                            }
                        }
                    });

                }
            })










        })
    });
</script>
