<link rel="stylesheet" href="<?php echo HOST;?>css/jPages.css" />
<link rel="stylesheet" href="<?php echo HOST;?>css/animate_new.css" />
<script src="<?php echo HOST;?>js/jPages.js"></script>
<style>
.header_table span:first-child{width:70%}
.header_table span:nth-child(2){width:15%}
.header_table span:nth-child(3){width:15%}
.header_table span{font-size: 12px;font-weight: bold;}
.row_item span:first-child{width:70%}
.row_item span:nth-child(2){width:15%}
.row_item span:nth-child(3){width:15%}
#itemContainer{display: block;width:100%;border-left: 1px solid #CCC;}
#itemContainer .row_item{display: block;width:100%;overflow: hidden;}
#itemContainer .row_item span{font-size: 11px;display: block;padding: 8px;float: left;border-bottom: 1px solid #CCC;border-right: 1px solid #CCC;}
.header_table span{background:#f9f9f9;display: block;padding: 8px;float: left;border-bottom: 1px solid #CCC;border-left: 1px solid #CCC;border-top: 1px solid #CCC;}

</style>
<script>
$(function(){
  var contacts = $('div.clist'), cont = contacts.children('div');
  cont.detach().sort(function(a, b) {
     var astts = $(a).data('sid');
     var bstts = $(b).data('sid')
     //return astts - bstts;
     return (astts < bstts) ? (astts < bstts) ? 1 : 0 : -1;
  });
  contacts.append(cont);

});
</script>
<h4 class="staff_name_info">INFO: <?php if($this->channel == '17257'){echo 'LAZADA';}
elseif ($this->channel == '21529') {echo 'ICARE';}
elseif ($this->channel == '21614') {echo 'TIKI';}
elseif ($this->channel == '21553') {echo 'SHOPEE';}?></h4>

<div class="row">
    <div class="span12">
        
    </div>
</div>

    <div class="header_table">
        <span>Dealer</span>
        <span>Sellin</span>
        <span style="border-right: 1px solid #CCC;">Active</span>
    </div>
    <div id="itemContainer" class="clist">  
        
        <?php $total = 0; $sellin = $active = 0;
              foreach($this->list AS $key=>$value):
              $total++;
              $sellin += $this->sellin[$value['id']];
              $active += $this->active[$value['id']];?>
        <div class="row_item" data-sid='<?php echo (isset($this->sellin[$value['id']]) and $this->sellin[$value['id']]) ? $this->sellin[$value['id']] : 0;?>'>
            <span><?php echo $value['title'];?></span>
            <span><?php echo (isset($this->sellin[$value['id']]) and $this->sellin[$value['id']]) ? $this->sellin[$value['id']] : 0;?></span>
            <span><?php echo (isset($this->active[$value['id']]) and $this->active[$value['id']]) ? $this->active[$value['id']] : 0;?></span>
        </div>
        <?php endforeach;?>      
        
    </div>   

        <div class="header_table">
            <span>Total: <?php echo $total; ?></span>
            <span><?php echo $sellin; ?></span>
            <span><?php echo $active; ?></span>
        </div>
    


            
<style>
    .staff_name_info{
        padding: 8px;
        margin-bottom: 2px;
    }
    .percent{
        font-size: 12px;
        font-weight: normal;
    }
</style>
