<!-- <h4 class="staff_name_info">STAFF: <?php echo $this->staff_name?></h4> -->

<hr>
<table class="table table-responsive table-bordered">
    <tr>
        <th colspan="<?php echo $this->cols + 6; ?>" style="font-size : 13px;"><?php echo $this->params['staff_name']?> <br> Total sellout : <a  class="label label-info"><?php  echo $this->params['unit_all'];?></a></th>
    </tr>
    <tr>
        <th>Company</th>
        <th>Product</th>
        <th>Description</th>
        <th>Price</th>
        <th>Unit (TGDĐ)</th>
        <th>Unit (Other KA+IND)</th>
    </tr>
    <?php
    if(!empty($this->data) ){
        $stt = 1;
        foreach ($this->data as $key => $item) {
            ?>
            <tr>
                <td><?php echo $item['company'];?></td>
                <td><?php echo $item['product_name'];?></td>
                <td><?php echo $item['product_code'];?></td>
                <td><?php echo number_format($item['product_price']);?></td>
                <td><?php echo $item['quantity_tgdd'] ? $item['quantity_tgdd'] : '';?></td>
                <td><?php echo $item['quantity_different_tgdd'];?></td>
            </tr>
        <?php
        }
    }
    ?>
</table>
<style>
    .staff_name_info{
        padding: 8px;
        margin-bottom: 2px;
    }
    .percent{
        font-size: 12px;
        font-weight: normal;
    }
</style>