<link rel="stylesheet" type="text/css" href="/css/jquery-ui-1.8.12.custom.css"/>
<link rel="stylesheet" type="text/css" href="/css/jquery.ui.timepicker.css"/>

<style type="text/css">
    .center{text-align: center !important}
    .mar-l-20{margin-left: 20px}
    .block span{display: inline-block}
    .btn{margin-top: -8px}
</style>

<div class="page-header">
    <h1>TIMING OVERVIEW &rightarrow; <small><?php echo $this->userData->firstname . ' ' . $this->userData->lastname ?></small></h1>
</div>

<form class="block" action="" method="get">
    <input type="hidden" name="filter" value="1">
    <span>From date: <input type="" class="date" name="from" value="<?php echo!empty($this->params['from']) ? $this->params['from'] : date("01/m/Y") ?>"></span>
    <span class="mar-l-20">To date: <input type="" class="date" name="to" value="<?php echo!empty($this->params['to']) ? $this->params['to'] : date("d/m/Y") ?>"></span>
    <button class="btn btn-primary mar-l-20">Search</button>
    <a href="/timing/kpi-overview" class="btn">Reset</a>
</form>

<div class="table-responsive">
    <table class="table table-striped table-bordered">
        <thead>
            <tr>
                <th>#</th>
                <th>Product</th>
                <th>Count</th>
                <th>Store Name</th>
                <th>Status</th>
                <th>From date</th>
                <th>To date</th>
            </tr>
        </thead>

        <tbody>
            <?php foreach ($this->data as $key => $value) { ?>
                <tr>
                    <td><?php echo $key + 1 ?></td>
                    <td><?php echo $value['model'] ?></td>
                    <td><?php echo $value['count'] ?></td>
                    <td><?php echo $value['store_name'] ?></td>
                    <td><?php echo ($value['status'] == 1) ? 'Approval' : ''; ?></td>
                    <td><?php echo date('d/m/Y', strtotime($value['min_create_at'])) ?></td>
                    <td><?php echo date('d/m/Y', strtotime($value['max_create_at'])) ?></td>
                </tr>
            <?php } ?>
        </tbody>
    </table>

</div>
<div class="paging">
    <?php echo $this->paging($this->total, $this->limit, $this->offset, $this->url); ?>
</div>

<script type="text/javascript" src="/js/jquery-ui-1.8.12.custom.min.js"></script>
<script type="text/javascript" src="/js/jquery.ui.timepicker.js"></script>
<script type="text/javascript">
    $(document).ready(function () {
        $(".date").datepicker({dateFormat: "dd/mm/yy"});
    });
</script>