<style>
    #import {
        padding:10px;
        border: 1px solid #008b56;
    }

</style>
<h3 style="color: #2aad6f; text-align: center">Kiểm tra và phân loại file các kênh khác TGDĐ</h3>
<form class="mass_upload_form" id="form_check" method="post" enctype="multipart/form-data">
    <div class="control-group">
        <label for="date" class="">Tháng: </label>
        <input required type="text" name="time" class="date" autocomplete="off">
    </div>

    <div class="control-group">
        <label for="date" class="">Kênh: </label>
        <select name="distributor_id" required="">
            <option value="">-Chọn kênh-</option>
            <option value="2363">FPT</option>
            <option value="7483">Nguyễn Kim</option>
            <option value="2318">Viettel</option>
            <option value="2320">Điện máy Chợ Lớn</option>
            <option value="20">Cellphones (3 kênh gộp lại)</option>
<!--            <option value="79">CellphoneS (Q. Đống Đa - Hà Nội)</option>-->
            <option value="72">Hoàng Hà (Q. Hai Bà Trưng - Hà Nội)</option>
            <option value="2322">Media Mart_KA</option>
            <option value="137">Di Động Việt - HCM - 75 Trần Quang Khải</option>
            <option value="2323">Điện máy HC_KA</option>
        </select>
    </div>
<div  >
    <div>
        <h3 style="font-size:18px"><strong>Check file:</strong></h3>
        <br>
        <a style="color:#2aad6f" href="/template/template_upload_khac_tgdd.xlsx">Tài file mẫu <i class='icon icon-download-alt'></i></a>
            <div class="input-group" style="width:15%">
                <div>
<!--                    <i style="color:#19bc9c" class="icon icon-download-alt"></i> <a href="/trade/change-picture-download-mass-upload">Tải file mẫu</a>-->
                </div>
                <br>
                <label class="input-group-btn mt-5" style="width: 100%">
                                    <span class="btn btn-primary">
                                        Chọn file  <input id="file_upload" type="file" name="file" style="display: none;">
                                    </span>
                </label>
                <input type="text" class="form-control" readonly id="show_file_name">
                <input type="hidden" name="type" value="2">
            </div>
            <button type="submit" class="btn btn-success mt-3" style="margin-left: 150px; background-color: dodgerblue">Upload</button>
            <br>
            <br>
            <div id="load_file">

            </div>

    </div>
</form>

</div>
<script type="text/javascript" src="/js/sweetalert2.all.min.js"></script>
<script type="text/javascript" src="/js/bootstrap-datetimepicker.min.js"></script>
<link rel="stylesheet" type="text/css" href="/css/bootstrap-datetimepicker.min.css"/>

<script>
    //show file name below browse
    // We can attach the `fileselect` event to all file inputs on the page
    $(document).on('change', ':file', function() {
        $('#load_file').empty();

        var input = $(this),
            numFiles = input.get(0).files ? input.get(0).files.length : 1,
            label = input.val().replace(/\\/g, '/').replace(/.*\//, '');

        // check file size
        var size = this.files[0].size;
        if (size > 10000000) {
            Swal.fire({
                type: 'warning',
                title: 'File quá lớn, chỉ được upload file dưới 10MB. Vui lòng chỉnh và upload lại file ',
                showConfirmButton: false,
                timer: 30000
            });
            $('#file_upload').val(null); // reset file selected
            return;
        }

        input.trigger('fileselect', [numFiles, label]);
    });

    // We can watch for our custom `fileselect` event like this
    $(document).ready( function() {
        $(':file').on('fileselect', function(event, numFiles, label) {

            var input = $(this).parents('.input-group').find(':text'),
                log = numFiles > 1 ? numFiles + ' files selected' : label;

            if( input.length ) {
                // input.val(log);
                $('#show_file_name').val(log);
            } else {
            }

        });

        $('.date').datetimepicker({
            weekStart: 1,
            clear: true,
            minView: 3,
            startView: 3,
            minViewMode: 3,
            autoclose: true,
            format: 'mm/yyyy'
        });
    });


    $('#form_check').submit(function (e) {
        e.preventDefault();
        Swal.fire({
            title: 'Đang xử lý và phân loại file...',
            allowOutsideClick: false,
            onBeforeOpen: () => {
                Swal.showLoading();
            }
        });
        $.ajax({
            url: '/timing/upload-different-tgdd-check',
            type: 'post',
            data: new FormData(this),
            dataType: 'json',
            success: function (data) {
                $('#file_upload').val(null); // reset file selected
                $('#show_file_name').val('');

                if (data.status === 0) {
                    $('#load_file').empty();

                    var list_file = data.file;
                    console.log(list_file);

                    var arlert_success_html = "<div style='background-color: #dff0d8;color: #468847;'>Thành công</div><br>";
                    $('#load_file').append(arlert_success_html);

                    for (var index in list_file) {
                        var file = list_file[index];
                        var url = file.url;
                        var name = file.name;

                        // var html = "<a download=" + name + " style='color: #2aad6f' href=" + url + ">" + name+ " <i class='icon icon-download-alt'></i></a><br> ";
                        var html = "<a download='"+ name +"' style='color: #2aad6f' href=" + url + ">" + name+ " <i class='icon icon-download-alt'></i></a><br> ";

                        $('#load_file').append(html);

                    }

                    Swal.fire({
                        type: 'success',
                        title: 'Thành công',
                        showConfirmButton: false,
                        timer: 1200
                    });

                } else {
                    Swal.fire({
                        type: 'warning',
                        title: data.message,
                        showConfirmButton: false,
                        timer: 30000
                    });
                }
            },
            contentType: false,
            cache: false,
            processData: false
        });
    });


</script>
