<div class="page-header" style="text-align: center">
    <h1>ĐỔ SỐ ONEPLUS</h1>
</div>

<div class="well">
    <div class="row-fluid">
        <div class="span4">
            File template <a class="btn btn-info btn-mini" href="<?php echo HOST ?>files/template/kpi_by_model_template.xlsx">Download File</a></p>
        </div>
    </div>
</div>

<?php
if (isset($this->messages) and $this->messages)
    foreach ($this->messages as $message):
        echo '<div class="alert alert-success">'.$message.'</div>';
    endforeach;

if (isset($this->messages_error) and $this->messages_error)
    foreach ($this->messages_error as $message):
        echo '<div class="alert alert-error">'.$message.'</div>';
    endforeach;
?>
<div class="accordion" id="accordion2">
    <div class="accordion-group">
        <div class="accordion-heading">
            <a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion2" href="#collapseTwo">
                Đổ số OnePlus
            </a>
        </div>
        <form action="<?php echo HOST ?>timing/upload-tgdd-other-brand-save" id="form" method="post" enctype="multipart/form-data">

            <div class="row">
                <div class="span6">
                    <label for="" class="span4"><h3>Đổ số tháng:</h3><span style="color: red"></span>
                        <input type="text" class="date" name="time" required autocomplete="off">
                    </label>
                </div>
            </div>

            <div class="row">
                <div class="span6">
                    <label for="" class="span4"><h3>Upload File OnePlus</h3><span style="color: red"></span>
                        <input type="file" class="span4" name="file_oneplus"  />
                    </label>
                </div>
            </div>
            <div class="row">
                <div class="span12">
                    <input type="submit" id="upload" name="upload" class="btn btn-warning logo-oppo" value="Upload">
                </div>
            </div>
        </form>

    </div>
</div>

<script type="text/javascript" src="/js/bootstrap-datetimepicker.min.js"></script>
<link rel="stylesheet" type="text/css" href="/css/bootstrap-datetimepicker.min.css"/>
<script>

    $('.date').datetimepicker({
        weekStart: 1,
        clear: true,
        minView: 3,
        startView: 3,
        minViewMode: 3,
        autoclose: true,
        format: 'mm/yyyy'
    });

    $('#form').submit(function () {
        $('#upload').css('display','none');
        Swal.fire({
            title: 'Đang xử lý...',
            allowOutsideClick: false,
            onBeforeOpen: () => {
                Swal.showLoading()
            }
        });
    })
</script>