<title>OPPO Game 2018</title>
<link rel="icon" type="image/ico" href="/img/favicon.ico">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<script src="/js/jquery-1.7.2.min.js"></script>
<style type="text/css">
*{
	margin: 0;
	padding: 0;
}
@font-face {
        font-family: myFirstFont;
        src: url(/font/utm-duepuntozero.ttf);
    }

@media only screen and (min-width: 320px) and (max-width: 1080px) {
	.table_scroll {
	    position: absolute;
	    height: 65vw;
	    width: 80vw;
	    overflow-y: scroll;
	    margin-top: 91vw;
	    margin-left: 13vw;
	}
	.content{
		font-family: myFirstFont;
		  width: 100%;
		  height: 170vw;
		  background-image:url(/mini_game/reward_background_mobi_1.jpg); 
		  background-size: 100% 100%;
		  background-position: center;
		  background-position: top;
		  background-repeat: no-repeat;
		  position: relative;

		}
		.table {
		    border-collapse: collapse;
		    font-size: 4vw;
		    position: absolute;
		    margin-top: 0vw;
		    margin-left: 0vw;
		    /* border-radius: 13vw; */
		}
		.table tr th{
			padding-left: 1vw;
			padding-right: 1vw;
			border-left: 0.1vw solid #ccc;
			text-align: left;
			border-bottom: 0.1vw solid #ccc;
		}
		.table tr td{
			padding-left: 1vw;
			padding-right: 1vw;
			border-left: 0.1vw solid #ccc;
			text-align: left;
			border-bottom: 0.1vw solid #ccc;
		}
		.title {
		    font-size: 4vw;
		    position: absolute;
		    width: 40vw;
		    margin-top: 75vw;
		    margin-left: 30vw;
		    border-bottom: 0.2vw solid #00925f;
		}
}
  @media only screen and (min-width: 1080px) and (max-width: 2560px){
	  	.content{
			font-family: myFirstFont;
			  width: 100%;
			  height: 100%;
			  background-image:url(/mini_game/reward_background_1.jpg); 
			  background-size: 100% 100%;
			  background-position: center;
			  background-position: top;
			  background-repeat: no-repeat;
			  position: relative;

			}
			.table{
		border-collapse: collapse;
		font-size: 1.5vw;
		position: absolute;
		margin-top: 2vw;
		margin-left: 0vw;
		border-radius: 5vw;

		}
		.table tr th{
			font-weight: none;
			padding-left: 1vw;
			padding-right: 1vw;
			border-left: 0.1vw solid #ccc;
			text-align: left;
			border-bottom: 0.1vw solid #ccc;
		}
		.table tr td{
			padding-left: 1vw;
			padding-right: 1vw;
			border-left: 0.1vw solid #ccc;
			text-align: left;
			border-bottom: 0.1vw solid #ccc;
		}
		.title {
		    font-size: 2vw;
		    position: absolute;
		    width: 40vw;
		    margin-top: 5vw;
		    margin-left: 43vw;
		    border-bottom: 0.2vw solid #00925f;
		}
		.table_scroll{
			position: absolute;
		    height: 33vw;
		    width: 45vw;
		    overflow-y: scroll;
		    margin-top: 10vw;
		    margin-left: 45vw;
		}
  }
		
.red_{background-color: #ff18184d;}
.yellow_{background-color: #f7f01342;}
.blue_{background-color: #5077d059;}
.green_{background-color: #13f72230;}

</style>
<div class="content">
	<h2 class="title" style="text-align: center;">Danh sách trúng thưởng ngày <?php echo date('d-m-Y');?></h2>
	<div class="table_scroll" style="">
	<table class="table">
		<thead>
			<tr>
				<th>No</th>
				<th>Họ Tên</th>
				<th>Điểm</th>
				<th>Phòng Ban</th>
				<th>Team</th>
				<th>Chức Danh</th>
				
			</tr>
		</thead>
		<tbody>
			<?php foreach ($this->data  as $key => $value):?>
			<tr <?php if($key+1 == 1): echo 'class="red_"'; elseif($key+1 == 2): echo 'class="yellow_"'; elseif($key+1 == 3): echo 'class="blue_"'; elseif($key+1 >3 && $key+1 <= 30): echo 'class="green_"'; endif;?>>
				<td><?php echo $key+1;?></td>
				<td><?php echo $value['fullname'];?></td>
				<td><?php echo $value['point'];?></td>
				<td><?php echo $value['department'];?></td>
				<td><?php echo $value['team'];?></td>
				<td><?php echo $value['title'];?></td>				
				
			</tr>
		<?php endforeach; ?>
		</tbody>
	</table>
	</div>
</div>