<style>
    .form-horizontal .control-label{text-align: left;}
    /*.accordion-inner{height: 400px}*/
    .accordion-inner img{max-width: 90%;display: block;margin: 0 auto;}
    .flex-direction-nav .flex-next{line-height: 56px;}
    .flex-direction-nav .flex-prev{line-height: 56px;}
    .header_child{font-size: 14px; font-weight: bold;color: green}
    
    .list_checkbox label{line-height: 30px;font-size: 18px;text-indent: 10px;}
    .list_checkbox input{height: 20px !important;width: 20px !important;}
    
    .shift{font-size: 18px;margin-left: -30px;}
    
</style>

<div class="page-header">
    <h1>Kiểm tra hình ảnh các hạng mục tại shop</h1>
</div>
<?php
if (isset($this->messages_success) and $this->messages_success)
    foreach ($this->messages_success as $message):
        echo '<div class="alert alert-success">' . $message . '</div>';
    endforeach;

if (isset($this->messages_error) and $this->messages_error)
    foreach ($this->messages_error as $messages_error):
        echo '<div class="alert alert-danger">' . $messages_error . '</div>';
    endforeach;
?>



<div class="main">

    <div class="main-inner">
        
        <form id="edit-profile" class="form-horizontal" method='POST' enctype="multipart/form-data">
        
        <div class="container">

            <div class="row">

                <div class="span12">      		

                    <div class="widget ">

                        <div class="widget-header">
                            <i class="icon-user"></i>
                            <h3>Info Pgs</h3>
                        </div> <!-- /widget-header -->

                        <div class="widget-content">
                                <fieldset>
                                    
                                    <div class="row">
                                        
                                        <div class="span5">
                                            
                                            <div class="control-group">											
                                                <label class="control-label" for="store_id">Store:</label>
                                                <div class="controls">
                                                    <select name="store_id" id="store_id" class="span3">
                                                        <?php foreach($this->list_store as $key=>$value):?>
                                                        <option channel_id="<?php echo $this->channel_id[$value['store_id']];?>" value="<?php echo $value['store_id'];?>"><?php echo $value['store_name'];?></option>
                                                        <?php endforeach;?>
                                                    </select>
                                                </div> <!-- /controls -->				
                                            </div> <!-- /control-group -->
                                        </div>
                                        
                                        
                                    
                                    </div><!-- row -->
                                    
                                    <div class="row">
                                        <div class="span5">
                                            <div class="control-group">											
                                                <label class="control-label" for="username">Staff Name:</label>
                                                <div class="controls">
                                                    <label><?php echo !empty($this->info_pgs['fullname']) ? $this->info_pgs['fullname'] : NULL;?></label>
                                                </div> <!-- /controls -->				
                                            </div> <!-- /control-group -->


                                            <div class="control-group">											
                                                <label class="control-label" for="username">Staff Code:</label>
                                                <div class="controls">
                                                    <label><?php echo !empty($this->info_pgs['staff_code']) ? $this->info_pgs['staff_code'] : NULL;?></label>
                                                </div> <!-- /controls -->				
                                            </div> <!-- /control-group -->


                                            <div class="control-group">											
                                                <label class="control-label" for="username">Team:</label>
                                                <div class="controls">
                                                    <label><?php echo !empty($this->info_pgs['team_name']) ? $this->info_pgs['team_name'] : NULL;?></label>
                                                </div> <!-- /controls -->				
                                            </div> <!-- /control-group -->

                                            <div class="control-group">											
                                                <label class="control-label" for="username">Title:</label>
                                                <div class="controls">
                                                    <label><?php echo !empty($this->info_pgs['title_name']) ? $this->info_pgs['title_name'] : NULL;?></label>
                                                </div> <!-- /controls -->				
                                            </div> <!-- /control-group -->
                                            

                                        </div>
                                    </div>
                                    
                                    
                                    <div class="control-group">											
                                        <label class="header_child" for="image_pg">Điền thông tin cơ bản:</label>				
                                    </div> <!-- /control-group -->
                                    
                                    <div class="control-group list_checkbox">
                                        <label class="checkbox">
                                            <input name="is_off" type="checkbox" value="1"> Off (Tick vào nếu hôm nay bạn Off)
                                        </label>
                                        
                                        <label class="checkbox">
                                            <input name="is_btn" type="checkbox" value="1"> Có bàn trải nghiệm
                                        </label>
                                        
                                        <label class="checkbox">
                                            <select name="shift" class="shift">
                                                <option value="">-- Lựa chọn ca làm việc --</option>
                                                <option value="1">Ca sáng</option>
                                                <option value="2">Ca chiều</option>
                                            </select>
                                        </label>
                                    </div>
                                    
                                    
                                    
                                    <div class="control-group">											
                                        <label class="header_child" for="image_pg">Tiêu chuẩn trang phục PGs:</label>				
                                    </div> <!-- /control-group -->
                                    
                                    <div class="row control-group">
                                        <div class="span5">
                                        <?php foreach($this->image_pgs as $key=>$value):?>
                                        <img class="image_channel channel_id_<?php echo $value['channel_id'];?>" src="<?php echo $value['url'];?>" style="max-width: 100%;" />
                                        <?php endforeach;?>
                                        </div> 
                                    </div> <!-- row -->
                                    
                                    
                                    <div class="control-group">											
                                        <label class="header_child" for="image_pg">Trang phục Pgs được triển khai đúng tiêu chuẩn:</label>				
                                    </div> <!-- /control-group -->
                                    
                                    <div class="control-group list_checkbox">
                                        <?php foreach($this->category as $key=>$value):?>
                                        <?php if($value['type'] == 1):?>
                                        <label class="checkbox">
                                            <input name="category_id[]" type="checkbox" value="<?php echo $value['id'];?>"> <?php echo $value['name'];?>
                                        </label>
                                        <?php endif; ?>
                                        <?php endforeach;?>		
                                    </div>
                                    
                                    
                                    <div class="control-group">											
                                        <label class="header_child" for="image_pg">Chụp ảnh Pgs:</label>				
                                    </div> <!-- /control-group -->
                                    
                                    <div class="row">
                                        <div class="span5">
                                            <input type="file" name="image_pg___" id="image_pg" class="image_upload1___" accept="image/*" data-type='image' />	
                                        </div> 
                                    </div> <!-- row -->
                                    
                                </fieldset>
                            




                        </div> <!-- /widget-content -->

                    </div> <!-- /widget -->
                    
                    <div class="widget ">

                        <div class="widget-header">
                            <i class="icon-bookmark-empty"></i>
                            <h3>Info Flash Sale</h3>
                        </div> <!-- /widget-header -->

                        <div class="widget-content">
                                <fieldset>
                                    
                                    <div class="control-group">											
                                        <label class="header_child" for="image_pg">Tiêu chuẩn triển khai Flash Sale:</label>				
                                    </div> <!-- /control-group -->
                                    
                                    <div class="row control-group">
                                        <div class="span5">
                                        <?php foreach($this->image_flash_sale as $key=>$value):?>
                                        <img class="image_channel channel_id_<?php echo $value['channel_id'];?> image_flash_sale_<?php echo $value['channel_id'];?>" src="<?php echo $value['url'];?>" style="max-width: 100%;" />
                                        <?php endforeach;?>
                                        </div> 
                                    </div> <!-- row -->
                                    
                                    <div class="control-group">											
                                        <label class="header_child" for="image_pg">Các hạng mục đã được triển khai & đúng tiêu chuẩn:</label>				
                                    </div> <!-- /control-group -->
                                    
                                    <div class="control-group list_checkbox">
                                        <?php foreach($this->category as $key=>$value):?>
                                        <?php if($value['type'] == 2):?>
                                        <label class="checkbox">
                                            <input name="category_id[]" type="checkbox" value="<?php echo $value['id'];?>"> <?php echo $value['name'];?>
                                        </label>
                                        <?php endif; ?>
                                        <?php endforeach;?>		
                                    </div>
                                    
                                    <div class="control-group">											
                                        <label class="header_child" for="image_pg">Chụp ảnh Flash Sale:</label>				
                                    </div> <!-- /control-group -->
                                    
                                    <div class="row">
                                        <div class="span5">
                                            <input type="file" name="image_flash_sale___" id="image_btn" class="image_flash_sale image_upload2___" accept="image/*" data-type='image' />
                                        </div> 
                                    </div> <!-- row -->
                                    
                                </fieldset>




                        </div> <!-- /widget-content -->

                    </div> <!-- /widget -->
                    
                    <div class="widget ">

                        <div class="widget-header">
                            <i class="icon-home"></i>
                            <h3>Info Store</h3>
                        </div> <!-- /widget-header -->

                        <div class="widget-content">
                                <fieldset>
                                    
                                    
                                    <div class="control-group">											
                                        <label class="header_child" for="image_pg">Tiêu chuẩn Bàn trải nghiệm:</label>				
                                    </div> <!-- /control-group -->
                                    
                                    <div class="row control-group">
                                        <div class="span5">
                                        <?php foreach($this->image_btn as $key=>$value):?>
                                        <img class="image_channel channel_id_<?php echo $value['channel_id'];?> image_btn_<?php echo $value['channel_id'];?>" src="<?php echo $value['url'];?>" style="max-width: 100%;" />
                                        <?php endforeach;?>
                                        </div> 
                                    </div> <!-- row -->
                                    
                                    
                                    <div class="control-group">											
                                        <label class="header_child" for="image_pg">Các hạng mục đã được triển khai & đúng tiêu chuẩn:</label>				
                                    </div> <!-- /control-group -->
                                    
                                    <div class="control-group list_checkbox">
                                        <?php foreach($this->category as $key=>$value):?>
                                        <?php if($value['type'] == 3):?>
                                        <label class="checkbox">
                                            <input name="category_id[]" type="checkbox" value="<?php echo $value['id'];?>"> <?php echo $value['name'];?>
                                        </label>
                                        <?php endif; ?>
                                        <?php endforeach;?>		
                                    </div>
                                    
                                    <div class="control-group">											
                                        <label class="header_child" for="image_pg">Chụp ảnh Bàn trải nghiệm:</label>				
                                    </div> <!-- /control-group -->
                                    
                                    <div class="row">
                                        <div class="span5">
                                        <input type="file" name="image_btn___" class="image_btn image_upload3___" accept="image/*" data-type='image'  />	
                                        </div> 
                                    </div> <!-- row -->
                                    
                                </fieldset>




                        </div> <!-- /widget-content -->

                    </div> <!-- /widget -->
                    

                </div> <!-- /span8 -->




            </div> <!-- /row -->
            
      
            
            <div class="row">
                
                <div class="span12">
                
                    
                    <div class="control-group">											
                        <label class="header_child" for="image_btn">Note:</label>				
                    </div> <!-- /control-group -->

                    <div class="control-group">
                        <input type="text" class="span6" name='note' id="note" value="">
                    </div><!-- row-->

                    <div class="form-actions">
                        <input type="hidden" name='pg_id' value='<?php echo $this->pg_id;?>' />
                        <input type="hidden" name="file_upload1" class="file_upload1" />
                        <input type="hidden" name="file_upload2" class="file_upload2" />
                        <input type="hidden" name="file_upload3" class="file_upload3" />
                        <button type="submit" name='approve_type' class="btn btn-primary" value='1'>Xác nhận</button>
                    </div> <!-- /form-actions -->
                    
                </div>
                
            </div> <!-- /row -->

        </div> <!-- /container -->
        </form>
        
    </div> <!-- /main-inner -->

</div> <!-- /main -->

<script type="text/javascript" src="<?php echo HOST ?>js/bootstrap-multiselect.js"></script>
<link rel="stylesheet" href="<?php echo HOST ?>css/bootstrap-multiselect.css" type="text/css"/>
<script type="text/javascript" src="<?php echo HOST ?>js/jquery-ui-1.8.12.custom.min.js"></script>
<link rel="stylesheet" type="text/css" href="<?php echo HOST ?>css/jquery-ui-1.8.12.custom.css"/>


<script type="text/javascript" src="<?php echo HOST ?>bootstrap3/flexslider/jquery_flexslider.js"></script>
<link rel="stylesheet" type="text/css" href="<?php echo HOST ?>bootstrap3/flexslider/flexslider.css"/>
<script>
    $(document).ready(function () {
        
        
        init_select_store();
        select_store_change();
        
        $(window).on('load', function() {
            $('.flexslider').flexslider({
              animation: "slide"
            });
          });
          
        function init_select_store(){
            
            $('.image_channel').hide();
            
            var channel_id = $('select#store_id option:selected').attr('channel_id');
            $('.channel_id_'+channel_id).show();
            
            if($('.channel_id_'+channel_id).length == 0){
                $('.channel_id_none').show();
            }
            
            //Check required
            if($('.image_flash_sale_'+channel_id+':visible').length != 0){
                //$('.image_flash_sale').attr('required','required');
            }
            if($('.image_btn_'+channel_id+':visible').length != 0){
                //$('.image_btn').attr('required','required');
            }
        }
        
        function select_store_change(){
            
            $('#store_id').on('change', function() {
                $('.image_channel').hide();
                
                var channel_id = $('select#store_id option:selected').attr('channel_id');
                
                $('.channel_id_'+channel_id).show();
                
                if ($(".widget-content").find('.channel_id_'+channel_id)[0]){
                    $(".widget-content").find('#image_btn').attr('required');
                }
            
                if($('.channel_id_'+channel_id).length == 0){
                    $('.channel_id_none').show();
                }
                
                //Check required
                if($('.image_flash_sale_'+channel_id+':visible').length != 0){
                    //$('.image_flash_sale').attr('required','required');
                }
                if($('.image_btn_'+channel_id+':visible').length != 0){
                    //$('.image_btn').attr('required','required');
                }
                
            });
        }
        
        $( document ).on("change", ".image_upload1", function(e) {
            var mime_type = "image/jpeg";
            var name = $(this).attr('name');

            var intput_file = e.target.files[0];
             var img_tag = document.createElement("img");

             var reader = new FileReader();
             if (intput_file) {
                reader.readAsDataURL(intput_file);
              }
              
              var input_hidden = $(".file_upload1");
              
              reader.addEventListener("load", function (e) {
                    img_tag.src = e.target.result;
                    img_tag.onload = function () {
                        var cvs = document.createElement('canvas');
                        cvs.width = 800;
                        cvs.height = Math.round(this.height/(this.width/800)*100)/100;
                        cvs.getContext("2d").drawImage(this, 0, 0, cvs.width, cvs.height);
                        var newImageData = cvs.toDataURL(mime_type, 50 / 100);
                        console.log(newImageData);
                        input_hidden.val(newImageData);
                    }; 
              }, false);
        });
        
        $( document ).on("change", ".image_upload2", function(e) {
            var mime_type = "image/jpeg";
            var name = $(this).attr('name');

            var intput_file = e.target.files[0];
             var img_tag = document.createElement("img");

             var reader = new FileReader();
             if (intput_file) {
                reader.readAsDataURL(intput_file);
              }
              
              var input_hidden = $(".file_upload2");
              
              reader.addEventListener("load", function (e) {
                    img_tag.src = e.target.result;
                    img_tag.onload = function () {
                        var cvs = document.createElement('canvas');
                        cvs.width = 800;
                        cvs.height = Math.round(this.height/(this.width/800)*100)/100;
                        cvs.getContext("2d").drawImage(this, 0, 0, cvs.width, cvs.height);
                        var newImageData = cvs.toDataURL(mime_type, 50 / 100);
                        console.log(newImageData);
                        input_hidden.val(newImageData);
                    }; 
              }, false);
        });
        
        $( document ).on("change", ".image_upload3", function(e) {
            var mime_type = "image/jpeg";
            var name = $(this).attr('name');

            var intput_file = e.target.files[0];
             var img_tag = document.createElement("img");

             var reader = new FileReader();
             if (intput_file) {
                reader.readAsDataURL(intput_file);
              }
              
              var input_hidden = $(".file_upload3");
              
              reader.addEventListener("load", function (e) {
                    img_tag.src = e.target.result;
                    img_tag.onload = function () {
                        var cvs = document.createElement('canvas');
                        cvs.width = 800;
                        cvs.height = Math.round(this.height/(this.width/800)*100)/100;
                        cvs.getContext("2d").drawImage(this, 0, 0, cvs.width, cvs.height);
                        var newImageData = cvs.toDataURL(mime_type, 50 / 100);
                        console.log(newImageData);
                        input_hidden.val(newImageData);
                    }; 
              }, false);
        });
          
    });
</script>