<style>
.table_modal tr td{
    border: none;
    text-align: left;
    padding: 3px 15px 0px 20px;
    font-weight: bold;}
.table_modal{border: none}
</style>

<div class="page-header">
    <h1>Danh sách Kiểm tra hình ảnh <small></small></h1>
</div>
<?php
if (isset($this->messages_success) and $this->messages_success)
    foreach ($this->messages_success as $message):
        echo '<div class="alert alert-success">'.$message.'</div>';
    endforeach;

if (isset($this->messages_error) and $this->messages_error)
    foreach ($this->messages_error as $messages_error):
        echo '<div class="alert alert-danger">'.$messages_error.'</div>';
    endforeach;
?>



<div class="accordion" id="accordion2">
    <div class="accordion-group">
        <div class="accordion-heading">
            <a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion2" href="#collapseTwo">
                Search
            </a>
        </div>
        <div id="collapseTwo" class="accordion-body collapse" style="height: 0px;">
            <div class="accordion-inner">
                <form class="form-search form-horizontal" method="get" action="">
                    <div class="row-fluid">
                        
                        <div class="span6">
                            
                            <div class="control-group">
                                <label for="department" class="span2">Tên Pgs</label>
                                
                                <div class="span3">
                                    <input type="text" name="pg_name" class="span3" value="<?php echo !empty($this->params['pg_name']) ? $this->params['pg_name'] : NULL;?>" />
                                </div>
                                    
                            </div>
                            
                            <div class="control-group">
                                <label for="department" class="span2">Mã Pgs</label>
                                
                                <div class="span3">
                                    <input type="text" name="pg_code" class="span3" value="<?php echo !empty($this->params['pg_code']) ? $this->params['pg_code'] : NULL;?>" />
                                </div>
                                    
                            </div>
                            
                            <div class="control-group">
                                <label for="department" class="span2">Tên Shop</label>
                                
                                <div class="span3">
                                    <input type="text" name="store_name" class="span3" value="<?php echo !empty($this->params['store_name']) ? $this->params['store_name'] : NULL;?>" />
                                </div>
                                    
                            </div>
                            
                            <div class="control-group">
                                <label for="" class="span2">Khu vực</label>
                                
                                <div class="span3">
                                    <select name="area_id">
                                        <option value="">Please select</option>
                                        <?php foreach($this->area as $key=>$value):?>
                                        <option value="<?php echo $key;?>" <?php echo (!empty($this->params['area_id']) AND $this->params['area_id'] == $key) ? 'selected' :  NULL;?>><?php echo $value;?></option>
                                        <?php endforeach;?>
                                    </select>
                                </div>
                                    
                            </div>
                            
                            
                        </div><!-- span6 -->
                    </div>
                    
                    <button type="submit" class="btn btn-primary">Search</button>
                    <!--<button type="submit" class="btn btn-success" name="export" value="1">Export</button>-->
                </form>
            </div>
        </div>
    </div>
</div>

<div class="table-responsive">
    <style>
    .modal table tr td.span1{
        min-width: 100px!important;
    }
    .modal table th {
        background: #e2efda;
        color: #000;
        text-align: center;
        border: 1px solid #b3b3b3 !important;
        text-transform: none;
        font-size: 12px
    }
</style>
<table class="table table-bordered">
    <thead>
        <tr>
            <?php echo $this->sorting(array(
                '#',
                'Tên PGs',
                'PGs Code',
                'Tên shop',
                'Ngày tạo',
                'Khu vực',
                'Trang phục PGs',
                'Bàn trải nghiệm',
                '',
            ),
            $this->url, $this->sort, $this->desc); ?>
        </tr>
</thead>
<tbody>
<?php
if (isset($this->list) and $this->list): ?>
    <?php foreach ($this->list as $k=>$pgcheck): ?>
        <tr>
            <td>
                <?php
                    $inc = $this->offset + $k + 1;
                    echo $inc;
                ?>
            </td>
            <td><?php echo $pgcheck['pg_name'];?></td>
            <td><?php echo $pgcheck['pg_code'];?></td>
            <td><?php echo $pgcheck['store_name'];?></td>
            <td><?php echo $pgcheck['created_at'];?></td>
            <td><?php echo $pgcheck['area_name'];?></td>
            <td>
                <?php 
                    $list_cat = explode(';', $pgcheck['pg_category']);
                    foreach($list_cat as $i=>$cat){
                        $child_cat = explode(',', $cat);
                        $checked = ($child_cat[1] == 1) ? 'checked' : NULL;
                        echo '<input type="checkbox" '.$checked.'> '.$this->list_category[$child_cat[0]]."<br>";
                        
                    }
                ?>
            </td>
            <td>
                <?php 
                    $list_cat = explode(';', $pgcheck['btn_category']);
                    foreach($list_cat as $i=>$cat){
                        $child_cat = explode(',', $cat);
                        $checked = ($child_cat[1] == 1) ? 'checked' : NULL;
                        echo '<input type="checkbox" '.$checked.'> '.$this->list_category[$child_cat[0]]."<br>";
                    }
                ?>
            </td>
            <td>
                <div class="btn-group">
                    <a class="btn dropdown-toggle" data-toggle="dropdown" href="#">
                        Action
                        <span class=""></span>
                    </a>
                    <ul class="dropdown-menu">
                        <li>
                            <a href="/pgcheck/view?id=<?php echo $pgcheck['id'];?>"><i class="icon icon-eye-open"></i> View</a>
                        </li>
                    </ul>
                </div>
            </td>
        </tr>
    <?php endforeach;?>
<?php endif;?>

</tbody>
</table>
<div class="paging">
    <?php echo $this->paging($this->total, $this->limit, $this->offset, $this->url);?>
</div>

</div><!-- angular -->

<script type="text/javascript" src="/js/jquery-ui-1.8.12.custom.min.js"></script>
<link rel="stylesheet" type="text/css" href="/css/jquery-ui-1.8.12.custom.css"/>
<script src="/public/js/jquery.blockUI.js" type="text/javascript"></script>

<script src="//ajax.googleapis.com/ajax/libs/jqueryui/1.8/jquery-ui.min.js"></script>
<link rel="stylesheet" type="text/css" href="//ajax.googleapis.com/ajax/libs/jqueryui/1.7.1/themes/base/jquery-ui.css">

<script>
    $(document).ready(function(){
        
    });
    
    

</script>
