<style>
    .form-horizontal .control-label{text-align: left;}
    /*.accordion-inner{height: 400px}*/
    .accordion-inner img{max-width: 90%;display: block;margin: 0 auto;}
    .flex-direction-nav .flex-next{line-height: 56px;}
    .flex-direction-nav .flex-prev{line-height: 56px;}
    .header_child{font-size: 14px; font-weight: bold;color: green}
</style>

<div class="page-header">
    <h1>Hình ảnh các hạng mục tại shop ngày <?php echo $this->pgcheck_date['created_at'];?></h1>
</div>
<?php
if (isset($this->messages_success) and $this->messages_success)
    foreach ($this->messages_success as $message):
        echo '<div class="alert alert-success">' . $message . '</div>';
    endforeach;

if (isset($this->messages_error) and $this->messages_error)
    foreach ($this->messages_error as $messages_error):
        echo '<div class="alert alert-danger">' . $messages_error . '</div>';
    endforeach;
?>



<div class="main">

    <div class="main-inner">
        
        <form id="edit-profile" class="form-horizontal" method='POST' enctype="multipart/form-data">
        
        <div class="container">

            <div class="row">

                <div class="span12">      		

                    <div class="widget ">

                        <div class="widget-header">
                            <i class="icon-user"></i>
                            <h3>Info Pgs</h3>
                        </div> <!-- /widget-header -->

                        <div class="widget-content">
                                <fieldset>
                                    
                                    <div class="row">
                                        
                                        <div class="span5">
                                            
                                            <div class="control-group">											
                                                <label class="control-label" for="username">Store:</label>
                                                <div class="controls">
                                                    <label><?php echo $this->store['name'];?></label>
                                                </div> <!-- /controls -->				
                                            </div> <!-- /control-group -->
                                        </div>
                                        
                                        
                                    
                                    </div><!-- row -->
                                    
                                    <div class="row">
                                        <div class="span5">
                                            <div class="control-group">											
                                                <label class="control-label" for="username">Staff Name:</label>
                                                <div class="controls">
                                                    <label><?php echo !empty($this->info_pgs['fullname']) ? $this->info_pgs['fullname'] : NULL;?></label>
                                                </div> <!-- /controls -->				
                                            </div> <!-- /control-group -->


                                            <div class="control-group">											
                                                <label class="control-label" for="username">Staff Code:</label>
                                                <div class="controls">
                                                    <label><?php echo !empty($this->info_pgs['staff_code']) ? $this->info_pgs['staff_code'] : NULL;?></label>
                                                </div> <!-- /controls -->				
                                            </div> <!-- /control-group -->


                                            <div class="control-group">											
                                                <label class="control-label" for="username">Team:</label>
                                                <div class="controls">
                                                    <label><?php echo !empty($this->info_pgs['team_name']) ? $this->info_pgs['team_name'] : NULL;?></label>
                                                </div> <!-- /controls -->				
                                            </div> <!-- /control-group -->

                                            <div class="control-group">											
                                                <label class="control-label" for="username">Title:</label>
                                                <div class="controls">
                                                    <label><?php echo !empty($this->info_pgs['title_name']) ? $this->info_pgs['title_name'] : NULL;?></label>
                                                </div> <!-- /controls -->				
                                            </div> <!-- /control-group -->
                                            

                                        </div>
                                    </div>
                                    
                                    <div class="control-group">											
                                        <label class="header_child" for="image_pg">Thông tin cơ bản:</label>				
                                    </div> <!-- /control-group -->
                                    
                                    <div class="control-group list_checkbox">
                                        <label class="checkbox">
                                            <input name="is_off" type="checkbox" value="1" <?php echo (!empty($this->pgcheck_date['is_off']) AND $this->pgcheck_date['is_off'] == 1) ? 'checked' : NULL;?>> Off (Tick vào nếu hôm nay bạn Off)
                                        </label>
                                        
                                        <label class="checkbox">
                                            <input name="is_btn" type="checkbox" value="1" <?php echo (!empty($this->pgcheck_date['is_btn']) AND $this->pgcheck_date['is_btn'] == 1) ? 'checked' : NULL;?>> Có bàn trải nghiệm
                                        </label>
                                        
                                        <label class="checkbox">
                                            <select name="shift" class="shift">
                                                <option value="">-- Lựa chọn ca làm việc --</option>
                                                <option value="1" <?php echo (!empty($this->pgcheck_date['shift']) AND $this->pgcheck_date['shift'] == 1) ? 'selected' : NULL;?>>Ca sáng</option>
                                                <option value="2" <?php echo (!empty($this->pgcheck_date['shift']) AND $this->pgcheck_date['shift'] == 2) ? 'selected' : NULL;?>>Ca chiều</option>
                                            </select>
                                        </label>
                                    </div>
                                    
                                    <div class="control-group">											
                                        <label class="header_child" for="image_pg">Tiêu chuẩn trang phục PGs:</label>				
                                    </div> <!-- /control-group -->
                                    
                                    <div class="row control-group">
                                        <div class="span5">
                                        <img src="<?php echo !empty($this->pg_image['url_channel']) ? $this->pg_image['url_channel'] : '/img/hinh-mau-pgs.png';?>" style="max-width: 100%;" />
                                        </div> 
                                    </div> <!-- row -->
                                    
                                    <div class="control-group">											
                                        <label class="header_child" for="image_pg">Trang phục Pgs được triển khai đúng tiêu chuẩn:</label>				
                                    </div> <!-- /control-group -->
                                    
                                    <div class="control-group">
                                        <?php foreach($this->category as $key=>$value):?>
                                        <?php if($value['type'] == 1):?>
                                        <label class="checkbox">
                                            <input name="category_id[]" type="checkbox" value="<?php echo $value['id'];?>" <?php echo ($value['status'] == 1) ? 'checked' : NULL;?>> <?php echo $value['name'];?>
                                        </label>
                                        <?php endif; ?>
                                        <?php endforeach;?>		
                                    </div>
                                    
                                    <div class="control-group">											
                                        <label class="header_child" for="image_pg">Ảnh chụp Pgs:</label>				
                                    </div> <!-- /control-group -->
                                    
                                    <div class="row">
                                        <div class="span5">
                                        <?php if(!empty($this->pg_image)):?>
                                        <image src="<?php echo $this->pg_image['url'];?>" style="max-width: 100%;" />
                                        <?php endif;?>	
                                        </div> 
                                    </div> <!-- row -->
                                    
                                </fieldset>
                            




                        </div> <!-- /widget-content -->

                    </div> <!-- /widget -->

                </div> <!-- /span8 -->




            </div> <!-- /row -->
            
            <div class="row">

                <div class="span12">      		

                    <div class="widget ">

                        <div class="widget-header">
                            <i class="icon-bookmark-empty"></i>
                            <h3>Info Flash Sale</h3>
                        </div> <!-- /widget-header -->

                        <div class="widget-content">



                            
                                <fieldset>
                                    
                                    
                                    <div class="control-group">											
                                        <label class="header_child" for="image_pg">Tiêu chuẩn Flash Sale:</label>				
                                    </div> <!-- /control-group -->
                                    
                                    <div class="row control-group">
                                        <div class="span5">
                                        <img src="<?php echo !empty($this->flash_sale_image['url_channel']) ? $this->flash_sale_image['url_channel'] : '';?>" style="max-width: 100%;" />
                                        </div> 
                                    </div> <!-- row -->
                                    
                                    
                                    <div class="control-group">											
                                        <label class="header_child" for="image_pg">Các hạng mục đã được triển khai & đúng tiêu chuẩn:</label>				
                                    </div> <!-- /control-group -->
                                    
                                    <div class="control-group">
                                        <?php foreach($this->category as $key=>$value):?>
                                        <?php if($value['type'] == 2):?>
                                        <label class="checkbox">
                                            <input name="category_id[]" type="checkbox" value="<?php echo $value['id'];?>" <?php echo ($value['status'] == 1) ? 'checked' : NULL;?>> <?php echo $value['name'];?>
                                        </label>
                                        <?php endif; ?>
                                        <?php endforeach;?>	
                                    </div>
                                    
                                    
                                    <div class="control-group">											
                                        <label class="header_child" for="image_btn">Ảnh chụp Flash Sale:</label>				
                                    </div> <!-- /control-group -->
                                    
                                    <div class="row">
                                        <div class="span5">
                                            <?php if(!empty($this->flash_sale_image)):?>
                                            <image src="<?php echo $this->flash_sale_image['url'];?>" style="max-width: 100%;" />
                                            <?php endif;?>
                                        </div>
                                    </div><!-- row-->
                                    
                                </fieldset>




                        </div> <!-- /widget-content -->

                    </div> <!-- /widget -->

                </div> <!-- /span8 -->




            </div> <!-- /row -->
            
            
            <div class="row">

                <div class="span12">      		

                    <div class="widget ">

                        <div class="widget-header">
                            <i class="icon-home"></i>
                            <h3>Info Store</h3>
                        </div> <!-- /widget-header -->

                        <div class="widget-content">

                                <fieldset>
                                    
                                    <div class="control-group">											
                                        <label class="header_child" for="image_pg">Tiêu chuẩn Bàn trải nghiệm:</label>				
                                    </div> <!-- /control-group -->
                                    
                                    <div class="row control-group">
                                        <div class="span5">
                                        <img src="<?php echo !empty($this->btn_image['url_channel']) ? $this->btn_image['url_channel'] : '';?>" style="max-width: 100%;" />
                                        </div> 
                                    </div> <!-- row -->
                                    
                                    <div class="control-group">											
                                        <label class="header_child" for="image_pg">Các hạng mục đã được triển khai & đúng tiêu chuẩn:</label>				
                                    </div> <!-- /control-group -->
                                    
                                    <div class="control-group">
                                        <?php foreach($this->category as $key=>$value):?>
                                        <?php if($value['type'] == 3):?>
                                        <label class="checkbox">
                                            <input name="category_id[]" type="checkbox" value="<?php echo $value['id'];?>" <?php echo ($value['status'] == 1) ? 'checked' : NULL;?>> <?php echo $value['name'];?>
                                        </label>
                                        <?php endif; ?>
                                        <?php endforeach;?>	
                                    </div>
                                    
                                    <div class="control-group">											
                                        <label class="header_child" for="image_btn">Ảnh chụp Bàn trải nghiệm:</label>				
                                    </div> <!-- /control-group -->
                                    
                                    <div class="row">
                                        <div class="span5">
                                            <?php if(!empty($this->btn_image)):?>
                                            <image src="<?php echo $this->btn_image['url'];?>" style="max-width: 100%;" />
                                            <?php endif;?>
                                        </div>
                                    </div><!-- row-->
                                    
                                </fieldset>




                        </div> <!-- /widget-content -->

                    </div> <!-- /widget -->

                </div> <!-- /span8 -->




            </div> <!-- /row -->
            
            
            <div class="row">
                
                <div class="span12">
                    
                    <div class="control-group">											
                        <label class="header_child" for="image_btn">Note:</label>				
                    </div> <!-- /control-group -->

                    <div class="control-group">
                        <input type="text" class="span6" name='note' id="note" value="<?php echo $this->pgcheck_date['note'];?>">
                    </div><!-- row-->
                
                    
                    <div class="form-actions">
                        <a href="/pgcheck/list-pgs" class="btn btn-primary">Về danh sách</a>
                    </div> <!-- /form-actions -->
                    
                </div>
                
            </div> <!-- /row -->

        </div> <!-- /container -->
        </form>
        
    </div> <!-- /main-inner -->

</div> <!-- /main -->

<script type="text/javascript" src="<?php echo HOST ?>js/bootstrap-multiselect.js"></script>
<link rel="stylesheet" href="<?php echo HOST ?>css/bootstrap-multiselect.css" type="text/css"/>
<script type="text/javascript" src="<?php echo HOST ?>js/jquery-ui-1.8.12.custom.min.js"></script>
<link rel="stylesheet" type="text/css" href="<?php echo HOST ?>css/jquery-ui-1.8.12.custom.css"/>


<script type="text/javascript" src="<?php echo HOST ?>bootstrap3/flexslider/jquery_flexslider.js"></script>
<link rel="stylesheet" type="text/css" href="<?php echo HOST ?>bootstrap3/flexslider/flexslider.css"/>
<script>
    $(document).ready(function () {
        $(window).on('load', function() {
            $('.flexslider').flexslider({
              animation: "slide"
            });
          });
    });
</script>