<style>
    .full-width
    {
        width: 100%;
    }

    #summary
    {
        white-space: pre-line;
    }
    .span6
    {
        padding-left: 20px;
    }
    @media only screen and (max-width: 500px)
    {
        .span6
        {
            width: 85vw;
            padding-left: 0px;
        }

        .width-reponsive
        {
            width: 110%;
        }

        .select-responsive
        {
            width: 85vw;
        }
        .input-responsive
        {
            width: 82vw;
        }
    }
</style>
<div class="page-header">
    <h1>Mass upload file cập nhật Chuyên cần </h1><a class="btn btn-info btn-mini pull-right" href="<?php echo HOST ?>files/file_template/hr-passby.xlsx">Download file mẫu</a>
</div>

<?php
if (isset($this->messages) and $this->messages)
    foreach ($this->messages as $message):
        echo '<div class="alert alert-success">'.$message.'</div>';
    endforeach;

if (isset($this->messages_error) and $this->messages_error)
    foreach ($this->messages_error as $message):
        echo '<div class="alert alert-danger">'.$message.'</div>';
    endforeach;
?>
<div>
    <form action="<?php echo HOST . 'time-machine/hr-passby'?>" method="POST" class="form-horizontal" enctype="multipart/form-data" >
        <div class="span4">
            
            <div class="control-group">

                <label class="control-label">Yêu cầu điều chỉnh:</label>

                    <select class="select-responsive" id="type" name="type">
                        <option value="1">Bỏ phạt</option>
                        <option value="2">Chuyển phạt</option>
                        <option value="3">Reset</option>
                    </select>
            </div>

            <div class="control-group">
                <label class="control-label">Upload file: <b style="color: red;" class="red-text">(*)</b></label>
                <input style="margin-left: 10vw;" type="file" accept="application/vnd.openxmlformats-officedocument.spreadsheetml.sheet, application/vnd.ms-excel" id="file" name="file" required>

            </div>

            <div class="control-group">
                <button type="submit" name="submit" value="1"  class="btn btn-success btn-update-time">Gửi yêu cầu</button>
            </div>
        </div>

</div>

</form>
</div>
<script type="text/javascript" src="/js/jquery-ui-1.8.12.custom.min.js"></script>
<link rel="stylesheet" type="text/css" href="/css/jquery-ui-1.8.12.custom.css"/>
<script>
    $( '#from' ).datepicker({ dateFormat: "dd/mm/yy" });
    $( '#to' ).datepicker({ dateFormat: "dd/mm/yy" });
    $("#add_reason").change(function () {
        var reason_id = $(this).val();
        $.ajax({
            type: 'post',
            url: '/staff-time/get-reason-tmp-time',
            data:
                {
                    reason_id: reason_id
                },
            typeType: 'json',
            cache: false,
            success: function (data)
            {
                var obj = JSON.parse(data);
                $("#reason").empty();
                $("#reason").attr("placeholder", obj.reason_detail);
                $("#summary").empty();
                $("#summary").append(obj.decription);

            }
        });
    });
</script>