<div class="page-header">
    <h1>Get Time</h1>
</div>
<form action="" method="post" class="form-horizontal"> 
    <div class="control-group">
        <label for="name" class="span1">From Date</label>
        <input type="text" name="from_date" id="from_date" class="date" value="<?php echo $this->params['from_date'] ?>">
    </div>
    <div class="control-group">
        <label for="email" class="span1">To Date</label>
        <input type="text" name="to_date" id="to_date" class="date" value="<?php echo $this->params['to_date'] ?>">
    </div>
    <div class="control-group">
        <button value="1" name="get_time" class="btn btn-success">Get Time</button>
        <button value="1" name="insert_time" class="btn btn-success">Insert Time</button>
    </div>
</form>
<?php
    if(!empty($this->data['data']))
    {
    ?>
    <table class="table table-bordered">
        <thead>
            <th>#</th>
            <th>Enroll Number</th>
            <th>Time</th>
            <th>Ip Machine</th>
        </thead>
        <tbody>
        <?php
        foreach ($this->data['data'] as $key => $value) 
        {
        ?>
        <tr>
            <td><?php echo $key+1; ?></td>
            <td><?php echo $value['EnrollNumber'] ?></td>
            <td><?php echo date('H:i:s d/m/Y', strtotime($value['Date'])); ?></td>
            <td><?php echo $value['IpMachine'] ?></td>
        </tr>
        <?php
        }
        ?>
        </tbody>
    </table>
    <?php
    }
?>
<table>

</table>
<script type="text/javascript" src="/js/jquery-ui-1.8.12.custom.min.js"></script>
<script type="text/javascript" src="/js/jquery.ui.timepicker.js"></script>
<link rel="stylesheet" type="text/css" href="/css/jquery-ui-1.8.12.custom.css"/>
<link rel="stylesheet" type="text/css" href="/css/bootstrap-datetimepicker.min.css"/>
<link rel="stylesheet" type="text/css" href="/css/jquery.ui.timepicker.css"/>
<script>
    $( '.date' ).datepicker({ dateFormat: "yy-mm-dd" });
</script>