<?php
    $month = $this->params['month'];
    $year = $this->params['year'];
?>
<style>
    .block{
        display: block;
        width: 100%;
    }
    .modal-body{
       max-height: 400px !important;
    }
    .tooltip:hover .tooltiptext {
    visibility: visible;
}
</style>

<div class="page-header">
    <h1>Xử phạt chuyên cần</h1>
</div>

<form action="" method="get" class="form-horizontal"> 
    <div class="span12">
	<div class="span3">
            <div class="control-group">
                <label for="name" class="">Name</label>
                <input type="text" name="name" id="name" value="<?php echo $this->params['name'] ?>">
            </div>
            <div class="control-group">
                <label for="code" class="">Code</label>
                <input type="text" name="code" id="code" value="<?php echo $this->params['code'] ?>">
            </div>
            <div class="control-group">
                <label for="month" class="">Area</label>
                    <select name="area">
                        <option value="">All</option>
                            <?php
                            foreach ($this->areas as $key => $value) {
                            ?>
                            <option <?php echo (!empty($this->params['area']) && $this->params['area'] == $value['id'])?" selected ":""; ?> value="<?php echo $value['id'];?>" ><?php echo $value['name'] ?></option>
                            <?php
                            }
                            ?>
                    </select>
            </div>
        </div> <!-- end span4 -->
        <div class="span3">
            <div class="control-group">
                <label for="name" class="span1">Tháng</label>
                <select name="month" class="p_month">
                <?php
                    for($i = 1; $i <= 12; $i++)
                    {
                    ?>
                    <option <?php echo ($i == intval($this->params['month'])?" selected ":"") ?> value="<?php echo $i ?>">Tháng <?php echo $i ?></option>
                    <?php
                    }
                ?>
                </select>
            </div>
            <div class="control-group">
                        <label for="name" class="span1">Năm</label>
                        <input type="number" class="p_year" name="year" value="<?php echo $this->params['year'] ?>">
            </div>
        </div>
        <div class="span3">
            <div class="control-group">
                <label for="department" class="">Department</label>
                <select name="department" id="department">
                    <option value>Choose</option>
                    <?php if (isset($this->recursiveDeparmentTeamTitle)): ?>
                        <?php foreach ($this->recursiveDeparmentTeamTitle as $item_id => $item):?>
                            <option value="<?php echo $item_id;?>" <?php if (isset($this->params) and $this->params and $item_id==$this->params['department']):?>selected<?php endif;?>><?php echo $item['name'];?></option>
                        <?php endforeach;?>
                    <?php endif ?>
                </select>
            </div>
            <div class="control-group">
                <label for="team" class="">Team</label>
                    <select name="team" id="team" >
                        <option value>Choose</option>
                        <?php if ( isset($this->params) AND isset($this->recursiveDeparmentTeamTitle[$this->params['department']]['children'])): ?>
                            <?php foreach ($this->recursiveDeparmentTeamTitle[$this->params['department']]['children'] as $item_id => $item):?>
                                <option value="<?php echo $item_id;?>" <?php if (isset($this->params) and $this->params and $item_id==$this->params['team']):?>selected<?php endif;?>><?php echo $item['name'];?></option>
                            <?php endforeach;?>
                        <?php endif ?>
                    </select>
            </div>
            <div class="control-group">
                <label for="title" class="">Title</label>
                    <select name="title" id="title" >
                        <option value>Choose</option>
                        <?php if ( isset($this->params) AND isset($this->recursiveDeparmentTeamTitle[$this->params['department']]['children'][$this->params['team']]['children']) ): ?>
                            <?php foreach ($this->recursiveDeparmentTeamTitle[$this->params['department']]['children'][$this->params['team']]['children'] as $item_id => $item):?>
                                <option value="<?php echo $item_id;?>" <?php if (isset($this->params) and $this->params and $item_id==$this->params['title']):?>selected<?php endif;?>><?php echo $item['name'];?></option>
                            <?php endforeach;?>
                        <?php endif ?>
                    </select>
            </div>
        </div>
    </div>
    <div class="span12">
        <button value="1" name="" class="btn btn-success">Search</button>
        <button value="1" name="export_not_penalty" class="btn btn-success">Export Not Penalty</button>
        <button value="1" name="export_full" class="btn btn-success">Export Full</button>
        <a onclick="sendAll();"  class="btn btn-success" style="display: <?php echo !empty($this->locked_day) ? '' : 'none';?>">Send All</a>
    	<a href="#" value="1" name="locked" id="locked" style="display: <?php echo !empty($this->locked_day) ? 'none' : '';?> ;width: 40px;" class="btn btn-warning">LOCK</a>
        <a href="#" value="1" name="remove_locked" id="remove_locked" style="display: <?php echo !empty($this->locked_day) ? '' : 'none';?> ; width: 100px;" class="btn btn-info">UnLock</a> 
        <a href="#" value="1" name="send_noti" id="send_noti" style="display: <?php echo !empty($this->locked_day) ? '' : 'none';?> ; width: 100px;" class="btn btn-info">Send Notification</a>   
        <a  style="display: <?php echo !empty($this->locked_day) ? '' : 'none';?> ; width: 100px;" class="btn btn-info"  href="<?php echo HOST. "time-machine/list-manager?month=$month&year=$year";?>">Send Email Line Manager</a>
        <a  style="display: <?php echo !empty($this->locked_day) ? '' : 'none';?> ; width: 100px;" class="btn btn-info"  href="<?php echo HOST. "time-machine/list-manager-department?month=$month&year=$year";?>">Send Email Manager</a>
        <button value="1" name="export_all" id="export_all" style="display: <?php echo !empty($this->locked_day) ? '' : 'none';?> ; width: 90px;" class="btn btn-warning">Export All</button>
        <button value="1" name="export_detail" id="export_detail" style="display: <?php echo !empty($this->locked_day) ? '' : 'none';?> ; width: 110px;" class="btn btn-warning">Export Detail</button>
        <a  onclick="testEmail(<?= $this->is_test?>);" name="test_mail" id="test_mail" class="test_mail btn btn-success" style="display: <?php echo !empty($this->locked_day) ? '' : 'none';?>"><?php echo ($this->is_test==1)? 'Off Test Email':'On Test Email'?></a>


    </div>
</form>

<br>
<form method="get" action="/time-machine/print" target="_blank">
    <input type="hidden" name="month" id="month" value="<?php echo $this->params['month'] ?>">
    <input type="hidden" name="year" id="year" value="<?php echo $this->params['year'] ?>">
    <input type="hidden" name="staff_id_tmp" id="staff_id_tmp" value="" >
    <input type="hidden" name="staff_code_tmp" id="staff_code_tmp" value="" >
    <div>
    </div>
	<div></div>
	<table class="table table-bordered" id="table">
        <thead>
            <th>STT</th>
            <th>Mã nhân viên</th>
            <th>Tên nhân viên</th>
            <th>Phòng ban</th>
            <th>Team</th>
            <th>Title</th>
            <th>Khu vực</th>
            <th>1h đến 3h</th>
            <th>Trên 3h</th>
            <th>Quên check in</th>
            <th>Số ngày phạt</th>
            <th>Hành động</th>
            <th> <input type="checkbox" id="check_all" value=""></th>
        </thead>
        <tbody>
        <?php
        $stt= 0;
        foreach($this->data as $key => $value)
        {
            $stt++;
        ?>
        <tr>
        	<td><?php echo $stt;?></td>
            <td><?php echo $value['staff_code'];
                   $color_off_date =  !empty( $value['off_date']) ? 'red' : '';
                    ?></td>
            <td><a href="#" <?php echo  'style="color:'.$color_off_date.'"'; ?>  staff_code="<?php echo $value['staff_code']; ?>" staff_id="<?php echo $value['id']; ?>" class="info_manager"><?php echo $value['staff_name']; ?></a></td>
            <td><?php echo $value['department_name']; ?></td>
            <td><?php echo $value['team_name']; ?></td>
            <td><?php echo $value['title_name']; ?></td>
            
            <td><?php echo $value['area']; ?></td>
            <td><?php echo ($value['total_late'] <= 180 && $value['total_late'] > 60) ? $value['thoi_gian'] : ''; ?></td>
            <td><?php 
                $phat   = round( ($value['total_late']*2)/480, 2 ); 
                echo ($value['total_late'] > 180 ) ? $value['thoi_gian'] . ' / ' . My_Controller_Action::rule_penalti($value['total_late']) : '' ;
                ?>
            </td>
            <td><?php echo $value['forget_check_in']; ?></td>
            <td>
                <?php
                $forget_check_in = ($value['forget_check_in'] > 2) ? $value['forget_check_in'] - 2 : 0;
                $late_less_3 = (My_Controller_Action::rule_penalti($value['total_late']) <= 0.5) ? My_Controller_Action::rule_penalti($value['total_late']) : 0; 
                $late_over_3 = (My_Controller_Action::rule_penalti($value['total_late']) > 0.5) ? My_Controller_Action::rule_penalti($value['total_late']) : 0; 
                $number_phat =  $forget_check_in + $late_less_3 + $late_over_3 ;
                echo $number_phat;
                ?>
            </td>
            <td>
                <button type="button" class="btn-detail label label-default block" value="<?php echo $value['staff_id'] ?>">Chi tiết</button>
		<?php if(!empty($this->arr_locked)){
                if(in_array($value['staff_id'], $this->arr_locked)){
                    echo '<img src="https://center.opposhop.vn/public/img/icon_red_card.png">';
                }else{
                    if(in_array($value['staff_id'], $this->arr_locked_yellow)){
                        echo '<img src="https://center.opposhop.vn/public/img/icon_yellow_card.png">';
                    }
                }
                }else{
                    if(in_array($value['staff_id'], $this->arr_locked_yellow)){
                        echo '<img src="https://center.opposhop.vn/public/img/icon_yellow_card.png">';
                    }
                }
                ?>
                <?php
                if(in_array($value['staff_id'], $this->arr_locked) and $number_phat > 0){
                ?>
                <a href="#" value="1" staff_code="<?php echo $value['staff_code']; ?>" staff_id="<?php echo $value['staff_id'];?>" name="sendmaildetail"  class="btn <?php echo in_array($value['staff_id'], $this->arr_sendMail) ? 'btn-success' : 'btn-warning'?> sendmaildetail">Gửi mail</a>
                <?php } ?>
	</td>
            <td><input type="checkbox" class="print" name="staff_id[]" value="<?php echo $value['staff'] ?>"  staff_code="<?php echo $value['staff_code']; ?>" staff_id="<?php echo $value['staff_id'];?>"></td>
        </tr>
        <?php
        }
        ?>
        </tbody>
    </table>
</form>

<div id="late_detail" class="modal fade" role="dialog"> <!-- modal none office -->
  <div class="modal-dialog">
    <div class="modal-content">
        <div class="modal-body">
            <h2>Chi tiết</h2>
            <form method="post" target="_blank" id="form_approve" action="/time-machine/print-edit">
                <div id="">
                    <table class="table">
                        <thead>
                            <th>Mã nhân viên</th>
                            <th>Tên nhân viên</th>
                            <th>Ngày</th>
                            <th>Giờ vào</th>
                            <th>Giờ ra</th>
                            <th>Xin đi trễ</th>
                            <th>Xin ngày công</th>
                            <th>Xin nghỉ phép</th>
                            <th><input type="checkbox" name="check_all" id="checkall" value="1"></th>
                        </thead>
                        <tbody id="list-day">
                            
                        </tbody>
                    </table>
                </div>
                <div>
                	<input type="hidden" name="staff_name" id="staff_name" >
                	<input type="hidden" name="staff_department" id="staff_department" >
                	<input type="hidden" name="staff_title" id="staff_title" >
                    
                 
                    <input  name="month_cancel" id="month_cancel" type="hidden">
                    <input  name="year_cancel" id="year_cancel" type="hidden">
                    <input  name="number_15" id="number_15" type="hidden">
                    <input name="number_30" id="number_30" type="hidden">
                    <input name="forget_check_in" id="forget_check_in" type="hidden">
                    <input name="solan" id="solan" type="hidden">
                    <input name="ngayxuphat" id="ngayxuphat" type="hidden">
                    <input name="late_day" id="late_day" type="hidden">
                    <input name="date_late" id="date_late" type="hidden">
                    <input name="day_temp_time" id="day_temp_time" type="hidden">
                    
                    <div class="control-group" style="display: none">
                        <label for="name" class="span2">Phạt</label>
                        <input type="" name="phat" id="phat" >
                    </div>
                    <div class="control-group" style="display: none">
                        <input type="text" name="staff_id" id="staff_id" >
                    </div>
                    <div class="control-group">
                        <button type="submit" style="display: <?php echo !empty($this->locked_day) ? 'block' : 'none';?>" class="btn btn-success">In</button>
                        <a id="btn-cancel" style="display: <?php echo !empty($this->locked_day) ? 'none' : 'block';?> ; " width="50px"  href="#" type="submit" class="btn btn-primary">Bỏ qua</a>
                    </div>
                </div>
            </form>
        </div>
    </div>
  </div>
</div> <!-- end modal none office -->

<div id="modalSubmit" class="modal fade" role="dialog">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-body">
        <span id="modal_message" class="modal_mess"><h3>Bạn có muốn gửi Notification không?</h3></span>
        <button type="button" name="submit" id="btnSubmit" value="1" class="btn btn-primary">Có</button>
        <button type="button" id="cancel" class="btn btn-default">Không</button>
      </div>
    </div>

  </div>
</div> <!-- end modal -->


<div id="modalSubmit1" class="modal fade" role="dialog">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-body">
        <span id="modal_message1" class="modal_mess"><h3>Bạn có muốn gửi mail không?</h3></span>
        <button type="button" name="submit1" id="btnSubmit1" value="1" class="btn btn-primary">Có</button>
        <button type="button" id="cancel1" class="btn btn-default">Không</button>
      </div>
    </div>

  </div>
</div> <!-- end modal -->

<script src="<?php echo HOST;?>form-builder/assets/js/sweetalert.min.js"></script>
<script src="<?php echo HOST; ?>form-builder/assets/js/sweetalert.min.js"></script>
<link rel="stylesheet" href="<?php echo HOST ?>css/bootstrap-multiselect.css" type="text/css"/>
<script type="text/javascript" src="<?php echo HOST ?>js/jquery-ui-1.8.12.custom.min.js"></script>
<link rel="stylesheet" type="text/css" href="<?php echo HOST ?>css/jquery-ui-1.8.12.custom.css"/>
<script>
$('#checkall').click(function(){
    var _this = $(this);
    if(_this.prop('checked') == true){
        $('.boqua').prop('checked',true);
    }else{
        $('.boqua').prop('checked',false);
    }
});

    $('#cancel').click(function () {
        $('#modalSubmit').modal('hide');
    });
    
    $('#cancel1').click(function () {
        $('#modalSubmit1').modal('hide');
    });

	$('.btn-bypass').click(function(){

		var staff_id 	= $(this).attr('rel');
		var month 		= $(this).attr('month');
		var year 		= $(this).attr('year');
		var late_day 	= $(this).attr('late_day');
		
	$.ajax({
            url: '/time-machine/by-pass-late',
            Type: 'GET',
            datatype: 'JSON',
            data:
            {
                "staff_id"	: staff_id,
                "month"		: month,
                "year"		: year,
                "late_day"  : late_day
            },
            cache: false,
            success: function (data)
            {
            	window.location.href = '<?php echo HOST ?>time-machine/late-list';
            }
        });
        
	});
	
        $('#remove_locked').click(function (){
            var p_month = $('.p_month').val();
            var p_year = $('.p_year').val();

            if(p_month == '' || p_year == ''){
                            alert('Bạn chưa chọn thời gian');
                            exit();
            }
            
            $.ajax({
                url: '/time-machine/hr-remove',
                Type: 'GET',
                datatype: 'JSON',
                data:
                {
                    month: p_month,
                    year: p_year,
                },
                cache: false,
                success: function (data)
                {
                    var info = $.parseJSON(data);
                    alert('Hr đã bỏ lock');
//                    window.location.href= '';
                }
            });
        });
	$('#btn-cancel').click(function (){
		var listCheck = [];
		var listTempTime = [];
		var listTimeMachine = [];
		
		
		$("input[name='boqua[]']:checked").each(function() {
		     listCheck.push($(this).val());
		     
			 if($(this).attr('rel_temp_time') != ''){
				 listTempTime.push($(this).attr('rel_temp_time'));
			 }
		     
			 if($(this).attr('rel_time_machine') != ""){
				 listTimeMachine.push($(this).attr('rel_time_machine'));
			 }
		     
		});
		var staff_id = $('#staff_id').val(); 
		
		$.ajax({
            url: '/time-machine/cancel-day-late',
            Type: 'GET',
            datatype: 'JSON',
            data:
            {
                staff_id: staff_id,
                list_date: listCheck,
                listTempTime : listTempTime,
                listTimeMachine : listTimeMachine
                
            },
            cache: false,
            success: function (data)
            {
			 	window.location.href= '';
            }
        });
		
	});
	
    $('#check_all').click(function () {
        $('.print').attr('checked', $(this).is(':checked'));
    });

    $('.btn-detail').click(function (){
       
        var staff_id = $(this).val();
        $.ajax({
            url: '/time-machine/late-detail',
            Type: 'GET',
            datatype: 'JSON',
            data:
            {
                month: $('#month').val(),
                staff_id: staff_id,
                year: $('#year').val(),
            },
            cache: false,
            success: function (data)
            {
                var info = $.parseJSON(data);
                $("#list-day").empty().append(info['html']);
                $('#staff_name').val(info['name']);
                $('#staff_department').val(info['staff_department']);
                $('#staff_title').val(info['staff_title']);
                $('#number_15').val(info['number_15']);
                $('#number_30').val(info['number_30']);
                $('#forget_check_in').val(info['forget_check_in']);
                $('#phat').val(info['phat']);
                $('#solan').val(info['solan']);
                
                $('#staff_id').val(staff_id);
                $('#ngayxuphat').val(info['ngayxuphat']);
                $('#late_day').val(info['late_day']);
                $('#date_late').val(info['date_late']);
                $('#day_temp_time').val(info['day_temp_time']);
				$('#month_cancel').val($('#month').val());
                $('#year_cancel').val($('#year').val());
            }
        });

        

        $('#late_detail').modal();
    });

    $('#locked').click(function () {
        var p_month = $('.p_month').val();
        var p_year = $('.p_year').val();
        
        if(p_month == '' || p_year == ''){
			alert('Bạn chưa chọn thời gian');
			exit();
        }
        $.ajax({
            url: '/time-machine/hr-log',
            Type: 'GET',
            datatype: 'JSON',
            data:
            {
                month: p_month,
                year: p_year,
            },
            cache: false,
            success: function (data)
            {
                var info = $.parseJSON(data);
                alert('Hr đã lock');
                window.location.href= '';
            }
        });
    });

	
    $('#send_noti').click(function () {
        var p_month = $('.p_month').val();
        var p_year = $('.p_year').val();
        
        if(p_month == '' || p_year == ''){
			alert('Bạn chưa chọn thời gian');
			exit();
        }

        $('#modalSubmit').modal();        
    });
    $('.info_manager').click(function () {
        var staff_id        = $(this).attr('staff_id');
        var staff_code      = $(this).attr('staff_code');
        if(staff_code == '' || staff_id == ''){
			alert('Bạn chưa chọn staff');
			exit();
                        
        }
        $.ajax({
            url: '/time-machine/get-manager',
            Type: 'GET',
            datatype: 'JSON',
            data:
            {
                code: staff_code
            },
            cache: false,
            success: function (data)
            {
                var obj = $.parseJSON(data);
               
                $.each(obj.data, function( index, value ) {
                      alert(value);
                  });
                
            }
        });
        
    });
    $('.sendmaildetail').click(function () {
        var p_month         = $('.p_month').val();
        var p_year          = $('.p_year').val();
        var staff_id        = $(this).attr('staff_id');
        var staff_code      = $(this).attr('staff_code');
        $('#staff_id_tmp').val(staff_id);
        $('#staff_code_tmp').val(staff_code);
        if(p_month == '' || p_year == ''){
			alert('Bạn chưa chọn thời gian');
			exit();
        }

        $('#modalSubmit1').modal();        
    });

	$('#btnSubmit').click(function () {
        var p_month = $('.p_month').val();
        var p_year = $('.p_year').val();
        $.ajax({
            url: '/time-machine/send-noti',
            Type: 'GET',
            datatype: 'JSON',
            data:
            {
                month: p_month,
                year: p_year,
            },
            cache: false,
            success: function (data)
            {
                var info = $.parseJSON(data);
                $('#modalSubmit').hide();   
                alert('Thành công!');
                window.location.href= '';
            }
        });
	});
        
        $('#btnSubmit1').click(function () {
        var p_month       = $('.p_month').val();
        var p_year        = $('.p_year').val();
        var p_staff_code  = $('#staff_code_tmp').val();
        var p_staff_id    = $('#staff_id_tmp').val();
        $.ajax({
            url: '/time-machine/send-email',
            Type: 'GET',
            datatype: 'JSON',
            data:
            {
                "month"     : p_month,
                "year"      : p_year,
                "staff_code": p_staff_code,
                "staff_id"  : p_staff_id
            },
            cache: false,
            success: function (data)
            {
                var info = $.parseJSON(data);
                console.log(info);
                $('#modalSubmit1').hide();   
                alert('Thành công!');
                location.reload();
               // window.location.href= '';
            }
        });
	});

        
	$('#department,.department').change(function(){
        $('.loading').remove();
        $(this).after('<span class="loading"></span>');
        var _self = $(this);
        var department_id = $(this).val();
        $('form').bind('submit',function(e){e.preventDefault();});
        $('button, .btn, input, select').prop('disabled', true);
        $.get("/ajax/load-team",
            {department_id: [department_id]}
            ,function(data,status){
                var obj = $.parseJSON( data );
                $('#team,.team').find('option:not(:first)').remove();
                for (var i = 0; i < obj.length; i++) {
                    $('#team,.team').append('<option value="'+obj[i]['id']+'">'+obj[i]['name']+'</option>');
                }

                $('button, .btn, input, select').prop('disabled', false);
                $('form').unbind('submit');
                $('.loading').remove();
                $('#team,.team').change();
            });
    });

    $('#team,.team').change(function(){
        $('.loading').remove();
        $(this).after('<span class="loading"></span>');
        var _self = $(this);
        var team_id = $(this).val();
        $('form').bind('submit',function(e){e.preventDefault();});
        $('button, .btn, input, select').prop('disabled', true);
        $.get("/ajax/load-title",
            {team_id: [team_id]}
            ,function(data,status){
                var obj = $.parseJSON( data );
                $('#title,.title').find('option:not(:first)').remove();
                for (var i = 0; i < obj.length; i++) {
                    $('#title,.title').append('<option value="'+obj[i]['id']+'">'+obj[i]['name']+'</option>');
                }
                $('button, .btn, input, select').prop('disabled', false);
                $('form').unbind('submit');
                $('.loading').remove();
                
            });
    });
    
    function sendAll(){
        var p_month       = $('.p_month').val();
        var p_year        = $('.p_year').val();
        var staff_id = [];
        var staff_code = [];
        var dt = $("#table").find('.print');
        dt.each(function(key,value){
            if(value.checked){
                staff_id.push($(value).attr('staff_id'));
                staff_code.push($(value).attr('staff_code'));
            }
        });
        if(staff_id.length > 0 && p_month != '' && p_year != '') {
                swal({
                    title: "Thông báo! ",
                    text: "Bạn chắc chắn muốn gửi mail?",
                    type: "info",
                    buttons: [
                        'Không',
                        'Có'
                    ]
                }).then(function(isConfirm) {
                    if(isConfirm) {
                        $.ajax({
                            type: 'get',
                            url: '/time-machine/send-all-email',
                            data: {
                                'staff_id': staff_id,
                                'staff_code': staff_code,
                                'month': p_month,
                                'year': p_year
                            },
                            error: function (error) {
                                console.log(eval(error));
                            },
                            success: function (data) {
                                var obj = JSON.parse(data);
                                console.log(obj);
                                swal({
                                    title: "Thông báo ",
                                    text: obj.message,
                                    icon: obj.status == 1 ? 'success' : 'error',
                                    button: "OK",
                                }).then(() => {
                                    location.reload();
                                })

                            }
                        });
                    }
                })


        }
    }

    function testEmail(isTest) {
        if (isTest) {
            var p_test_mail    = 0;
        }
        else{
            var p_test_mail    = 1;
        }
        swal({
            title: "Thông báo! ",
            text: p_test_mail==1? "Bạn chắc chắn muốn chuyển sang chế độ test?" : "Bạn chắc chắn muốn bỏ chế độ test?",
            type: "info",
            buttons: [
                'Không',
                'Có'
            ]
        }).then(function(isConfirm) {
            if(isConfirm) {
                $.ajax({
                    type: 'get',
                    url: '/time-machine/save-test-email',
                    data: {
                        'test_mail'  : p_test_mail
                    },
                    error: function (error) {
                        console.log(eval(error));
                    },
                    success: function (data) {
                        var obj = JSON.parse(data);
                        console.log(obj);
                        swal({
                            title: "Thông báo ",
                            text: obj.message,
                            icon: obj.status == 1 ? 'success' : 'error',
                            button: "OK",
                        }).then(() => {
                            location.reload();
                        })

                    }
                });
            }
        })
    }
</script>

