<div class="page-header">
    <h1>Lưới công</h1>
</div>

<table class="table table-bordered">
    <thead>
        <th>Họ Tên</th>
        <th>Mã nhân viên</th>
        <th>Văn phòng</th>
        <th>Số thứ tự</th>
        <th></th>
    </thead>
    <tbody>
    <?php
        foreach($this->data as $value)
        {
        ?>
        <tr>
            <td><?php echo $value['staff_name']; ?></td>
            <td><?php echo $value['code']; ?></td>
            <td><?php echo $value['office_name']; ?></td>
            <td><?php echo $value['enroll_number']; ?></td>
            <td>
                <button class="btn btn-success btn-open-modal" type="button" 
                data-code="<?php echo $value['code'] ?>"
                data-ip="<?php echo $value['ip_machine'] ?>">Cập nhật ID</button>
            </td>
        </tr>
        <?php
        }
    ?>
    </tbody>
</table>

<div class="page">
<?php echo $this->paging($this->total, $this->limit, $this->offset, $this->url);?>
</div>



<div id="modal_machine_id" class="modal fade" role="dialog">
    <div class="modal-dialog">
<!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h2 class="modal-title">Cập nhật ID máy chấm công</h2>
            </div>
            <div class="modal-body">
                <form action="" method="POST" >
                    <div class="form-group">
                        <label for="">Số ID</label>
                        <input type="" id="enroll_number" name="enroll_number" value="">
                    </div>
                    <input type="" name="code" id="code" value="">
                    <input type="" id="ip" name="ip" value="">
                    <button class="btn btn-success" type="submit" name="registry" value="1">Đăng ký</button>
                </form>
            </div>
        </div>
    </div>
</div> <!-- end modal -->

<script>
$('.btn-open-modal').click(function () {
    console.log($(this).attr('data-ip'));
    $('#ip').val($(this).attr('data-ip'));
    $('#code').val($(this).attr('data-code'));
    $('#modal_machine_id').modal();
});
</script>