<div class="page-header">
    <h1 class="inline">Gửi mail chuyên cần manager</h1>
</div>
<div class="accordion" id="accordion2" style="border: 1px solid #999;
    margin-top: 15px;">
    <div class="accordion-heading" id="header_search">
        <a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion2" href="#collapseTwo">
            Search
        </a>
    </div>
    <div class="accordion-body collapse" id="collapseTwo">
        <div class="accordion-inner">
            <div class="row">

                <form action="" method="get" class="form-horizontal">
                    <div class="span3">
                        <div class="control-group">
                            <label for="name" class="">Name</label>
                            <input type="text" name="name" id="name" value="<?php echo $this->params['name'] ?>">
                        </div>
                        <div class="control-group">
                            <label for="email" class="">Email</label>
                            <input type="text" name="email" id="email" value="<?php echo $this->params['email'] ?>">
                        </div>
                        <div class="control-group">
                            <label for="code" class="">Code</label>
                            <input type="text" name="code" id="code" value="<?php echo $this->params['code'] ?>">
                        </div>

                    </div> <!-- end span4 -->
                    <div class="span3">
                        <div class="control-group">
                            <label for="month" class="">Area</label>
                            <select name="area">
                                <option value="">All</option>
                                <?php
                                foreach ($this->areas as $key => $value) {
                                    ?>
                                    <option <?php echo (!empty($this->params['area']) && $this->params['area'] == $value['id'])?" selected ":""; ?> value="<?php echo $value['id'];?>" ><?php echo $value['name'] ?></option>
                                    <?php
                                }
                                ?>
                            </select>
                        </div>
                        <div class="control-group">
                            <label for="year" >Year</label>
                            <input type="number"  class="p_year" name="year" id="year" value="<?php echo $this->params['year'] ?>">
                        </div>
                        <div class="control-group">
                            <label for="month">Month</label>
                            <select name="month"  class="p_month">
                                <?php
                                for($i = 1; $i <= 12; $i++)
                                {
                                    ?>
                                    <option value="<?php echo $i; ?>" <?php echo ($i==$this->params['month'])?" selected ":""; ?> ><?php echo "Tháng " . $i; ?></option>
                                    <?php
                                }
                                ?>
                            </select>
                        </div>

                    </div> <!-- span4 -->
                    <div class="span3">
                        <div class="control-group">
                            <label for="department" class="">Department</label>
                            <select name="department" id="department">
                                <option value>Choose</option>
                                <?php if (isset($this->recursiveDeparmentTeamTitle)): ?>
                                    <?php foreach ($this->recursiveDeparmentTeamTitle as $item_id => $item):?>
                                        <option value="<?php echo $item_id;?>" <?php if (isset($this->params) and $this->params and $item_id==$this->params['department']):?>selected<?php endif;?>><?php echo $item['name'];?></option>
                                    <?php endforeach;?>
                                <?php endif ?>
                            </select>
                        </div>

                        <div class="control-group">
                            <label for="team" class="">Team</label>
                            <select name="team" id="team" >
                                <option value>Choose</option>
                                <?php if ( isset($this->params) AND isset($this->recursiveDeparmentTeamTitle[$this->params['department']]['children'])): ?>
                                    <?php foreach ($this->recursiveDeparmentTeamTitle[$this->params['department']]['children'] as $item_id => $item):?>
                                        <option value="<?php echo $item_id;?>" <?php if (isset($this->params) and $this->params and $item_id==$this->params['team']):?>selected<?php endif;?>><?php echo $item['name'];?></option>
                                    <?php endforeach;?>
                                <?php endif ?>
                            </select>
                        </div>

                        <div class="control-group">
                            <label for="title" class="">Title</label>
                            <select name="title" id="title" >
                                <option value>Choose</option>
                                <?php if ( isset($this->params) AND isset($this->recursiveDeparmentTeamTitle[$this->params['department']]['children'][$this->params['team']]['children']) ): ?>
                                    <?php foreach ($this->recursiveDeparmentTeamTitle[$this->params['department']]['children'][$this->params['team']]['children'] as $item_id => $item):?>
                                        <option value="<?php echo $item_id;?>" <?php if (isset($this->params) and $this->params and $item_id==$this->params['title']):?>selected<?php endif;?>><?php echo $item['name'];?></option>
                                    <?php endforeach;?>
                                <?php endif ?>
                            </select>
                        </div>
                    </div>
                    <?php
                    $month = $this->params['month'];
                    $year = $this->params['year'];
                    ?>
                    <div class="span112">
                        <button type="submit" class="btn btn-success">Search</button>
                        <a href="<?php echo HOST. "time-machine/list-manager?month=$month&year=$year&export=1";?>" class="btn btn-success">Export</a>
                        <a  onclick="testEmail(<?= $this->is_test?>);" name="test_mail" id="test_mail" class="test_mail btn btn-success"><?php echo ($this->is_test==1)? 'Off Test Email':'On Test Email'?></a>
                        <a  href="<?php echo HOST. "time-machine/late-list";?>" class="btn btn-warning">Go Back</a>

                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<table id="fixTable" class="table-time table-bordered" >
    <thead >
    <tr>
        <th style="z-index: 1;">STT</th>
        <th style="z-index: 1;">CODE</th>
        <th style="z-index: 1;">NAME</th>
        <th style="z-index: 1;">DEPARTMENT</th>
        <th style="z-index: 1;">TEAM</th>
        <th style="z-index: 1;">TITLE</th>
        <th style="z-index: 1;">MANAGER</th>
        <th style="z-index: 1;">Gửi mail</th>
    </tr>
    </thead>
    <tbody>
    <?php
    $stt = 0;
    foreach($this->data as $k => $staff){
        $stt++;
        ?>
        <tr>
            <td><?php echo $stt; ?></td>
            <td><?php echo $staff['code']; ?></td>
            <td><?php echo $staff['staff_name']; ?></td>
            <td><?php echo $staff['department']; ?></td>
            <td><?php echo $staff['team']; ?></td>
            <td><?php echo $staff['title']; ?></td>
            <td><?php echo $staff['staff_name_leader']; ?></td>
            <td><a href="#" value="1" staff_code="<?php echo $staff['code_manager']; ?>" name="sendmaildetail"  class="btn <?php echo in_array($staff['staff_id_manager'], $this->arr_sendMail) ? 'btn-success' : 'btn-warning'?> sendmaildetail">Gửi mail</a></td>
        </tr>
        <?php
    }
    ?>
    </tbody>
</table>
<div id="modalSubmit1" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-body">
                <span id="modal_message1" class="modal_mess"><h3>Bạn có muốn gửi mail không?</h3></span>
                <button type="button" name="submit1" id="btnSubmit1" value="1" class="btn btn-primary">Có</button>
                <button type="button" id="cancel1" class="btn btn-default">Không</button>
                <input type="hidden" name="staff_code_tmp" id="staff_code_tmp" value="" >
            </div>
        </div>

    </div>
</div> <!-- end modal -->
<script src="<?php echo HOST;?>form-builder/assets/js/sweetalert.min.js"></script>
<script type="text/javascript">
    $('#department,.department').change(function(){
        $('.loading').remove();
        $(this).after('<span class="loading"></span>');
        var _self = $(this);
        var department_id = $(this).val();
        $('form').bind('submit',function(e){e.preventDefault();});
        $('button, .btn, input, select').prop('disabled', true);
        $.get("/ajax/load-team",
            {department_id: [department_id]}
            ,function(data,status){
                var obj = $.parseJSON( data );
                $('#team,.team').find('option:not(:first)').remove();
                for (var i = 0; i < obj.length; i++) {
                    $('#team,.team').append('<option value="'+obj[i]['id']+'">'+obj[i]['name']+'</option>');
                }

                $('button, .btn, input, select').prop('disabled', false);
                $('form').unbind('submit');
                $('.loading').remove();
                $('#team,.team').change();
            });
    });

    $('#team,.team').change(function(){
        $('.loading').remove();
        $(this).after('<span class="loading"></span>');
        var _self = $(this);
        var team_id = $(this).val();
        $('form').bind('submit',function(e){e.preventDefault();});
        $('button, .btn, input, select').prop('disabled', true);
        $.get("/ajax/load-title",
            {team_id: [team_id]}
            ,function(data,status){
                var obj = $.parseJSON( data );
                $('#title,.title').find('option:not(:first)').remove();
                for (var i = 0; i < obj.length; i++) {
                    $('#title,.title').append('<option value="'+obj[i]['id']+'">'+obj[i]['name']+'</option>');
                }
                $('button, .btn, input, select').prop('disabled', false);
                $('form').unbind('submit');
                $('.loading').remove();

            });
    });

    $('#header_search').click(function () {
        $('#body_search').toggle();
    });

    $('.sendmaildetail').click(function () {
        var p_month         = $('.p_month').val();
        var p_year          = $('.p_year').val();
        var staff_code      = $(this).attr('staff_code');
        $('#staff_code_tmp').val(staff_code);
        if(p_month == '' || p_year == ''){
            alert('Bạn chưa chọn thời gian');
            exit();
        }

        $('#modalSubmit1').modal();
    });

    $('#btnSubmit1').click(function () {
        var p_month       = $('.p_month').val();
        var p_year        = $('.p_year').val();
        var p_staff_code  = $('#staff_code_tmp').val();
        $.ajax({
            url: '/time-machine/send-email-manager-deparment',
            Type: 'GET',
            datatype: 'JSON',
            data:
                {
                    "month"     : p_month,
                    "year"      : p_year,
                    "staff_code": p_staff_code
                },
            cache: false,
            success: function (data)
            {
                var info = $.parseJSON(data);
                $('#modalSubmit1').hide();
                alert('Thành công!');
                window.location.href= '';
            }
        });
    });

    $('#cancel1').click(function () {
        $('#modalSubmit1').modal('hide');
    });

    function testEmail(isTest) {
        if (isTest) {
            var p_test_mail    = 0;
        }
        else{
            var p_test_mail    = 1;
        }
        swal({
            title: "Thông báo! ",
            text: p_test_mail==1? "Bạn chắc chắn muốn chuyển sang chế độ test?" : "Bạn chắc chắn muốn bỏ chế độ test?",
            type: "info",
            buttons: [
                'Không',
                'Có'
            ]
        }).then(function(isConfirm) {
            if(isConfirm) {
                $.ajax({
                    type: 'get',
                    url: '/time-machine/save-test-email',
                    data: {
                        'test_mail'  : p_test_mail
                    },
                    error: function (error) {
                        console.log(eval(error));
                    },
                    success: function (data) {
                        var obj = JSON.parse(data);
                        console.log(obj);
                        swal({
                            title: "Thông báo ",
                            text: obj.message,
                            icon: obj.status == 1 ? 'success' : 'error',
                            button: "OK",
                        }).then(() => {
                            location.reload();
                        })

                    }
                });
            }
        })
    }
</script>