<link rel="stylesheet" type="text/css" href="/css/jquery-ui-1.8.12.custom.css">
<link rel="stylesheet" type="text/css" href="/css/jquery.ui.timepicker.css">
<script type="text/javascript" src="/js/jquery-ui-1.8.12.custom.min.js"></script>
<script type="text/javascript" src="/js/jquery.ui.timepicker.js"></script>
<div class="page-header">
    <h1>Lưới công</h1>
</div>
<div style="margin-bottom: 20px">
	<a href="/time-machine/luoi" class="btn btn-primary">Lưới công</a>
	<a href="/time-machine/department" class="btn btn-default" >Công theo phòng ban</a>
</div>
<form action="" method="post" class="form-horizontal"> 
    <div class="control-group">
        <label for="name" class="span1">From Date</label>
        <input type="text" name="from_date" id="from_date" class="date" value="<?php echo $this->params['from_date'] ?>">
    </div>
    <div class="control-group">
        <label for="email" class="span1">To Date</label>
        <input type="text" name="to_date" id="to_date" class="date" value="<?php echo $this->params['to_date'] ?>">
    </div>
    <div class="control-group">
        <button value="1" name="export" class="btn btn-success">Export</button>
        <button value="1" name="submit" class="btn btn-success">Submit</button>
    </div>
</form>
<table class="table table-bordered">
    <thead>
        <th>STT</th>
        <th>Mã nhân viên</th>
        <th>Tên họ</th>
        <th>Khu vực</th>
        <th>Phòng ban</th>
        <th>Ngày</th>
        <th>Thứ</th>
        <th>Giờ vào</th>
        <th>Giờ ra</th>
        <th>Trễ</th>
        <th>Sớm</th>
        <th>Công</th>
        <th>Tổng giờ</th>
    </thead>
    <tbody>
    <?php
        foreach($this->data as $key => $value)
        {
            $array_late = array('00:00','00:01','00:02','00:03','00:04','00:05'); 
        ?>
        <tr>
            <td><?php echo $key+1 ?></td>
            <td><?php echo $value['code'];  ?></td>
            <td><?php echo $value['staff_name']; ?></td>
            <td><?php echo $value['area_name']; ?></td>
            <td><?php echo $value['department']; ?></td>
            <td><?php echo date('d/m/Y', strtotime($value['check_in_day'])); ?></td>
            <td><?php echo date('D', strtotime($value['check_in_day'])); ?></td>
            <td><?php echo !empty($value['check_in_at'])?date('H:i', strtotime($value['check_in_at'])):''; ?></td>
            <td><?php echo !empty($value['check_out_at'])?date('H:i', strtotime($value['check_out_at'])):''; ?></td>
            <td><?php echo (!empty($value['late']) && !empty($value['check_out_at']) && !in_array(date('H:i', strtotime($value['late'])), $array_late) )?date('H:i', strtotime($value['late'])):'' ; ?></td>
            <td><?php echo (!empty($value['soon']) && !empty($value['check_out_at']) && date('H:i', strtotime($value['soon'])) != '00:00' )?date('H:i', strtotime($value['soon'])):''; ?></td>
            <td><?php echo (floatval($value['cong'])>0)?number_format($value['cong'], 2):'0.00'; ?></td>
            <td><?php echo (floatval($value['cong'])>0)?number_format($value['cong']*$value['time_per_day'], 2):'0.00'; ?></td>

        </tr>
        <?php
        }
    ?>
    </tbody>
</table>
<script type="text/javascript">
	$(".date").datepicker({dateFormat: "dd/mm/yy"});
</script>

