<div class="page-header">
    <h1>Cấp quyền đặc biệt</h1>
</div>

<form action="" method="get" class="form-horizontal"> 
    <div class="control-group">
        <label for="name" class="span1">Code</label>
        <input type="" name="code" value="<?php echo $this->code ?>">
    </div>
    <div class="control-group">
        <label for="name" class="span1">Name</label>
        <input type="text" name="name" value="<?php echo $this->name ?>">
    </div>
    <div class="control-group">
        <button value="1" name="" class="btn btn-success">Submit</button>
        <a href="/time-machine/add-personal" class="btn btn-primary">Tạo mới</a>
    </div>
</form>


<table class="table table-bordered">
    <thead>
        <th>Manager name</th>
        <th>Manager code</th>
        <th>Manager department</th>
        <th>Staff name</th>
        <th>Staff code</th>
        <th>Staff department</th>
        <th></th>
    </thead>
    <tbody>
    <?php
    foreach($this->data as $key => $value)
    {
    ?>
        <tr>
            <td><?php echo $value['manager_name'] ?></td>
            <td><?php echo $value['manager_code'] ?></td>
            <td><?php echo $value['manager_department'] ?></td>
            <td><?php echo $value['staff_name'] ?></td>
            <td><?php echo $value['staff_code'] ?></td>
            <td><?php echo $value['staff_department'] ?></td>
            <td><a href="/time-machine/del-personal?id=<?php echo $value['id'] ?>">Remove</a></td>
        </tr>
    <?php
    }
    ?>
    </tbody>
</table>



