<?php
    $month = $this->params['month'];
    $year = $this->params['year'];
?>
<style>
    .block{
        display: block;
        width: 100%;
    }
    .modal-body{
       max-height: 400px !important;
    }
    .tooltip:hover .tooltiptext {
    visibility: visible;
}
</style>

<div class="page-header">
    <h1>Upload Time Final</h1>
</div>
<div class="widget ">
    <div class="widget-header">
    </div> <!-- /widget-header -->
    <div class="widget-content">
        <div class="tabbable">
            <ul class="nav nav-tabs">

                <li ><a href="#mass-upload" data-toggle="tab">Mass upload</a></li>
            </ul>

            <br>

            <div class="tab-content">

                <div class="tab-pane active" id="mass-upload">
                    <div class="row">
                        <div class="span12">

                        </div>
                        <div class="span12">
                            <div class="">
                                <form action="<?= HOST ?>time-machine/import-template-time-in-month" method="post" enctype="multipart/form-data">
                                        <div class="control-group">
                                            <label for="title" class="">Thời gian (tháng-năm)</label>
                                            <input type="" class="date-month-year form-control" value="<?= $this->params['month_year_fee']; ?>"
                                                   placeholder=""
                                                   name="month_year" id="month_year" autocomplete="off" required="required">
                                        </div>
                                        <input type="file" name="file" required="required"/>
                                        <button class="btn btn-primary" type="submit">
                                            Upload data from Data Template
                                        </button>
                                </form>
                            </div>

                            <div class="">
                                <div class="control-group">
                                    <form id="form_export"action="<?= HOST ?>time-machine/export-data-time-in-month" method="post"enctype="multipart/form-data">
                                        <a class="btn btn-warning" id="btn_export">
                                            Export
                                        </a>
                                        <a class="btn btn-secondary" href="<?= HOST ?>time-machine/export-template-time-in-month">
                                            Get template for Upload
                                        </a>
                                        <div id="clone_data">

                                        </div>
                                    </form>
                                </div>
                            </div>

                        </div>
                </div>
            </div>
        </div>
    </div>
</div>

<br>


<div id="late_detail" class="modal fade" role="dialog"> <!-- modal none office -->
  <div class="modal-dialog">
    <div class="modal-content">
        <div class="modal-body">
            <h2>Chi tiết</h2>
            <form method="post" target="_blank" id="form_approve" action="/time-machine/print-edit">
                <div id="">
                    <table class="table">
                        <thead>
                            <th>Mã nhân viên</th>
                            <th>Tên nhân viên</th>
                            <th>Ngày</th>
                            <th>Giờ vào</th>
                            <th>Giờ ra</th>
                            <th>Xin đi trễ</th>
                            <th>Xin ngày công</th>
                            <th>Xin nghỉ phép</th>
                            <th><input type="checkbox" name="check_all" id="checkall" value="1"></th>
                        </thead>
                        <tbody id="list-day">
                            
                        </tbody>
                    </table>
                </div>
                <div>
                    <input type="hidden" name="staff_name" id="staff_name" >
                    <input type="hidden" name="staff_department" id="staff_department" >
                    <input type="hidden" name="staff_title" id="staff_title" >
                    
                 
                    <input  name="month_cancel" id="month_cancel" type="hidden">
                    <input  name="year_cancel" id="year_cancel" type="hidden">
                    <input  name="number_15" id="number_15" type="hidden">
                    <input name="number_30" id="number_30" type="hidden">
                    <input name="forget_check_in" id="forget_check_in" type="hidden">
                    <input name="solan" id="solan" type="hidden">
                    <input name="ngayxuphat" id="ngayxuphat" type="hidden">
                    <input name="late_day" id="late_day" type="hidden">
                    <input name="date_late" id="date_late" type="hidden">
                    <input name="day_temp_time" id="day_temp_time" type="hidden">
                    
                    <div class="control-group" style="display: none">
                        <label for="name" class="span2">Phạt</label>
                        <input type="" name="phat" id="phat" >
                    </div>
                    <div class="control-group" style="display: none">
                        <input type="text" name="staff_id" id="staff_id" >
                    </div>
                    <div class="control-group">
                        <button type="submit" style="display: <?php echo !empty($this->locked_day) ? 'block' : 'none';?>" class="btn btn-success">In</button>
                        <a id="btn-cancel" style="display: <?php echo !empty($this->locked_day) ? 'none' : 'block';?> ; " width="50px"  href="#" type="submit" class="btn btn-primary">Bỏ qua</a>
                    </div>
                </div>
            </form>
        </div>
    </div>
  </div>
</div> <!-- end modal none office -->

<div id="modalSubmit" class="modal fade" role="dialog">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-body">
        <span id="modal_message" class="modal_mess"><h3>Bạn có muốn gửi Notification không?</h3></span>
        <button type="button" name="submit" id="btnSubmit" value="1" class="btn btn-primary">Có</button>
        <button type="button" id="cancel" class="btn btn-default">Không</button>
      </div>
    </div>

  </div>
</div> <!-- end modal -->


<div id="modalSubmit1" class="modal fade" role="dialog">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-body">
        <span id="modal_message1" class="modal_mess"><h3>Bạn có muốn gửi mail không?</h3></span>
        <button type="button" name="submit1" id="btnSubmit1" value="1" class="btn btn-primary">Có</button>
        <button type="button" id="cancel1" class="btn btn-default">Không</button>
      </div>
    </div>

  </div>
</div> <!-- end modal -->

<script src="<?php echo HOST;?>form-builder/assets/js/sweetalert.min.js"></script>
<script src="<?php echo HOST; ?>form-builder/assets/js/sweetalert.min.js"></script>
<link rel="stylesheet" href="<?php echo HOST ?>css/bootstrap-multiselect.css" type="text/css"/>
<script type="text/javascript" src="<?php echo HOST ?>js/jquery-ui-1.8.12.custom.min.js"></script>
<link rel="stylesheet" type="text/css" href="<?php echo HOST ?>css/jquery-ui-1.8.12.custom.css"/>
<script>

        
    $('#department,.department').change(function(){
        $('.loading').remove();
        $(this).after('<span class="loading"></span>');
        var _self = $(this);
        var department_id = $(this).val();
        $('form').bind('submit',function(e){e.preventDefault();});
        $('button, .btn, input, select').prop('disabled', true);
        $.get("/ajax/load-team",
            {department_id: [department_id]}
            ,function(data,status){
                var obj = $.parseJSON( data );
                $('#team,.team').find('option:not(:first)').remove();
                for (var i = 0; i < obj.length; i++) {
                    $('#team,.team').append('<option value="'+obj[i]['id']+'">'+obj[i]['name']+'</option>');
                }

                $('button, .btn, input, select').prop('disabled', false);
                $('form').unbind('submit');
                $('.loading').remove();
                $('#team,.team').change();
            });
    });

    $('#team,.team').change(function(){
        $('.loading').remove();
        $(this).after('<span class="loading"></span>');
        var _self = $(this);
        var team_id = $(this).val();
        $('form').bind('submit',function(e){e.preventDefault();});
        $('button, .btn, input, select').prop('disabled', true);
        $.get("/ajax/load-title",
            {team_id: [team_id]}
            ,function(data,status){
                var obj = $.parseJSON( data );
                $('#title,.title').find('option:not(:first)').remove();
                for (var i = 0; i < obj.length; i++) {
                    $('#title,.title').append('<option value="'+obj[i]['id']+'">'+obj[i]['name']+'</option>');
                }
                $('button, .btn, input, select').prop('disabled', false);
                $('form').unbind('submit');
                $('.loading').remove();
                
            });
    });
    

    $(document).ready(function () {
            $('.date').datepicker({dateFormat: "yy-mm-dd"});

            $(".date-month-year").datepicker({
                dateFormat: 'mm yy',
                changeMonth: true,
                changeYear: true,
                showButtonPanel: true,

                onChangeMonthYear: function () {
                    var month = $("#ui-datepicker-div .ui-datepicker-month :selected").val();
                    var year = $("#ui-datepicker-div .ui-datepicker-year :selected").val();
                    $(this).val($.datepicker.formatDate('yy-mm', new Date(year, month, 1)));
                }
            });


            $(".date-month-year").focus(function () {
                $(".ui-datepicker-calendar").hide();
                $("#ui-datepicker-div").position({
                    my: "center top",
                    at: "center bottom",
                    of: $(this)
                });
            });
        });
        $("#btn_export").on("click",function(){
            event.preventDefault();
            var month_year_clone=$("#month_year").clone();
            $("#clone_data").append(month_year_clone);
            $("#form_export").submit();
            $("#clone_data").empty();
        })
</script>

