<div class="page-header">
    <?php if (isset($this->area) and $this->area):?>
        <h1>Edit Area</h1>
    <?php else:?>
        <h1>Create Area</h1>
    <?php endif;?>
</div>

<?php
if (isset($this->messages) and $this->messages)
    foreach ($this->messages as $message):
        echo '<div class="alert alert-error">'.$message.'</div>';
    endforeach;
?>


<div class="row-fluid">
    <div class="span6">
        <form role="form" id="form" action="<?php echo HOST.'manage/area-save';?>" method="post">
            <legend>Area Info</legend>
            <div class="row-fluid">  
                <div class="control-group">
                    <label for="name">Name</label>
                    <input type="text" class="span6" id="name" name="name" required="required" value="<?php if (isset($this->area)): echo $this->area->name; endif;?>">
                </div>
            </div>
            <div class="row-fluid">
                <div class="control-group">
                    <label for="region_share">Region share</label>
                    <input type="text" class="span6" id="region_share" name="region_share" required="required" value="<?php if (isset($this->area)): echo $this->area->region_share; endif;?>">
                </div>
            </div>
            <div class="row-fluid">
                <div class="control-group">
                    <label for="email">Email</label>
                    <input type="text" class="span6" id="email" name="email" value="<?php if (isset($this->area)): echo $this->area->email; endif;?>">
                </div>
            </div>
            <div class="row-fluid">
                <div class="control-group">
                    <label for="pic_name">ASM</label>
                    
                    <select name="pic_name" id="pic_name" class="span6" multiple="multiple">
                        <?php if ($this->leaders): ?>
                        <?php foreach ($this->leaders as $k=>$leader): ?>
                            <option value="<?php echo $leader->id ?>"><?php echo $leader->firstname . ' ' . $leader->lastname ?></option>

                        <?php endforeach ?>
                        <?php endif ?>
                    </select>
                    
                </div>
            </div>
            <div class="row-fluid">  
                <div class="control-group">
                    <input type="hidden" name="back_url" id="back_url" value="<?php isset($this->back_url) and $this->back_url and printf($this->back_url);?>">
                    <button id="remove_btn" class="btn btn-warning" type="button">Remove ASM</button>
                    <button type="button" id="submit_btn" class="btn btn-primary ">Submit</button>
                    <button type="button" class="btn btn-danger go-back">Go back</button>
                    <input type="hidden"  name="id" id="id" value="<?php isset($this->area) and $this->area and printf($this->area->id);?>">

                </div>
            </div>
            <input id="pic" name="pic" type="hidden" value="<?php isset($this->area->leader_ids) and $this->area->leader_ids and printf($this->area->leader_ids);?>" />
        </form>
    </div>
    <div class="span6">
        <legend>Search</legend>
        <div class="row-fluid">
            <div class="control-group">
                <label for="s_name">Staff Name</label>
                <input type="text" class="form-control span6" id="s_name" placeholder="Enter Staff name then press ENTER" name="s_name" />
            </div>
        </div>
        <div class="row-fluid">
            <div class="control-group">
                <label for="name_result">Result</label>
                <div class="load-ajax">
                    <?php echo $this->partial('staff/partials/searchname.phtml',array()); ?>
                </div>
            </div>
        </div>
        <div class="row-fluid">
            <div class="span12 control-group">
                <button id="add_btn" class="btn btn-primary" type="button">Add as ASM</button>
            </div>
            <div class="span12">
                <span class="help-block">Search, then choose 01 ASM, then click Add...</span>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript">
    $(document).ready(function(){
        $('.go-back').click(function(e){
            window.location.href = $('#back_url').val();

            return false;
        });

        $( "#s_name" ).keypress(function( event ) {
            if ( event.which == 13 ) {
                event.preventDefault();
                $('.loading').remove();
                var _self = $(this);
                var targetUrl = '<?php echo HOST."staff?sname=1&name=" ?>' + $('#s_name').val();

                //get ajax content
                var aj = _self.parent().parent().next().find('.load-ajax');
                if (aj.length){
                    _self.after("<span class=\'loading\'></span>");
                    $.get(targetUrl
                        ,function(data,status){
                            aj.html(data);
                            _self.next('.loading').remove();
                        });
                }

                return false;
            }
        });

        $('#add_btn').click(function(){
            _self = $('#name_result');
            item = _self.children('option:selected').clone();
            list = $(item);

            for (var i = 0; i < item.length; i++) {

                if ( ! is_exists( $(item[i]).attr('value') ) ) {
                    _des = $('#pic_name');
                    _des.append(item[i]);
                }
            }
            change_size($('#pic_name'));
        });

        $('#remove_btn').click(function(){
            _self = $('#pic_name');
            item = _self.children('option:selected').remove();
            change_size(_self);
        });

        $('#submit_btn').click(function(){
            _name = $('#pic_name option');
            id_str = '';
            
            for(var i = 0; i < _name.length; i++) {
                id_str += $(_name[i]).attr('value') + ',';
            }
            
            id_str = id_str.replace(/\,$/, '');
            $('#pic').val(id_str);
            $('#form').submit();
        });

        function is_exists(id) {
            _des = $('#pic_name');
            items = _des.children('option');
            for(var i = 0; i < items.length; i++) {
                if ($(items[i]).attr('value') == id) {
                    return true;
                }
            }
            return false;
        }

        function change_size(elm) {
            var len = parseInt(elm.find('option').length);
            len = len > 3 ? len : 3;
            elm.css("height", (len*20));
        }
    });
</script>