<div class="page-header">
    <h1>IMEIs <small>List</small></h1>
</div>

<?php
    if (isset($this->messages) and $this->messages)
        foreach ($this->messages as $message):
            echo '<div class="alert alert-success">'.$message.'</div>';
        endforeach;

    if (isset($this->messages_error) and $this->messages_error)
        foreach ($this->messages_error as $message):
            echo '<div class="alert alert-error">'.$message.'</div>';
        endforeach;
?>

<!-- <div class="row">
    <div class="span12">
        <p><a href="<?php echo HOST ?>timing" class="btn btn-default">Go Back</a></p>
    </div>
</div> -->
<div class="accordion" id="accordion2">
    <div class="accordion-group">
        <div class="accordion-heading">
            <a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion2" href="#collapseTwo">
                Search
            </a>
        </div>
        <div id="collapseTwo" class="accordion-body collapse" style="height: 0px;">
            <div class="accordion-inner">

                <?php
                    if ($this->title == PGPB_TITLE || $this->title == CHUYEN_VIEN_BAN_HANG_TITLE || $this->title == SALES_TITLE)
                        echo $this->render('manage/imei-sellout-partner/partials/search-pg.phtml');
                    else
                        echo $this->render('manage/imei-sellout-partner/partials/search.phtml');
                ?>
            </div>
        </div>
    </div>
</div>
<div class="row-fluid">
    <div class="span12">
        <div class="accordion text-right" >
            <div class="control-group">
                <div class="wrap-control pull-right" >
                       <!-- <button style="" class="btn btn-success lock logo-oppo" value="1" name="lock" type="submit">Chấm Imei</button> -->
                </div>
            </div>
        </div>
        <ul class="nav nav-tabs">
            <li class="active"><a href="#ds_imei" data-toggle="tab">Danh sách Imei</a></li>
            <li><a href="#imei_fail" data-toggle="tab">Imei Loại</a></li>
        </ul>

        <div class="tab-content">
            <div class="tab-pane active" id="ds_imei">
                <div class="table-responsive">
                    <?php echo $this->render('manage/imei-sellout-partner/partials/list.phtml'); ?>
                </div>
            </div>
            <div class="tab-pane" id="imei_fail">
                <div class="table-responsive">
                    <?php echo $this->render('manage/imei-sellout-partner/partials/imei-fail.phtml'); ?>
                </div>
            </div>
        </div>
    </div>
 </div>


<script>
    (function($) {
    $('.imei_customer').tooltip();
})(jQuery);

</script>

