<div class="page-header">
	<h1>Imei lend</h1>
</div>
<?php
if (isset($this->messages) and $this->messages)
    foreach ($this->messages as $message):
        echo '<div class="alert alert-success">'.$message.'</div>';
    endforeach;

if (isset($this->messages_error) and $this->messages_error)
    foreach ($this->messages_error as $message):
        echo '<div class="alert alert-danger">'.$message.'</div>';
    endforeach;
?>
<div style="margin-bottom: 20px">
	<a class="btn btn-primary" href="/imeimap/index">Back</a>
</div>

<form class="form-horizontal" action="" method="POST">
	<div class="control-group">
		<label class="">Dealer Name</label>
		<select id="distributor_id" name="distributor_id" required class="select2 span6">
			
		</select>
	</div>
	<div class="control-group">
		<label class="">Imei From</label>
		<select id="get_imei_from" name="get_imei_from" required class="select2 span6">
			
		</select>
	</div>
	<div class="control-group">
		<label for="" class="">Active</label>
		<input type="checkbox" name="status" value="1" checked>
	</div>
	<button type="" class="btn btn-success" name="submit" value="1">Submit</button>
</form>

<link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.3/css/select2.min.css">
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.3/js/select2.min.js"></script>
<script>
    $(".select2").select2({
        ajax: {
        url: "/imeimap/ajax-get-distributor",
        dataType: 'json',
        delay: 250,
        data: function (params) {
            return {
                name: params.term // search term
            };
        },
        processResults: function (data) {
            return {
                results: data
            };
        },
        cache: true
    },
    minimumInputLength: 3
    });
</script>