<table class="table table-bordered">
	<thead>
	<tr>
	<?php echo $this->sorting(array(
	  '#', 
	  'lastname'     =>'Name', 
	  'department'   =>'Department',
	  'team'         =>'Team',
	  'title'        =>'Title',
	  'joined_at'    =>'Join At',
	  'phone_number' =>'Phone Number',
	  'Action'
	  ),
	 $this->url, $this->current_col, $this->desc); ?>
	</tr>
	</thead>
	<tbody>
	    <?php
	    if (isset($this->staffs) and $this->staffs)
	        foreach ($this->staffs as $k=>$staff): ?>
	    <tr>
	        <td>
	            <?php
	                $inc = $this->offset + $k + 1;
	                echo $inc;
	            ?>
	        </td>
	        <td><?php echo $staff['firstname'].' '.$staff['lastname'];?></td>
	        <td><?php echo $this->departments[$staff['department']];?></td>
	        <td><?php echo $this->teams[$staff['team']];?></td>
	        <td><?php echo $this->titles[$staff['title']];?></td>
	        <td><?php echo ($staff['joined_at'] ? date('d/m/Y', strtotime($staff['joined_at'])) : '');?></td>
	        <td><?php echo $staff['phone_number'];?></td>
	        <td class="">
	            <a title="Edit" href="/staff/create?id=<?php echo $staff['id'];?>"> <i class="icon-edit"></i></a>
	            <a title="Delete" href="/staff/del?id=<?php echo $staff['id'];?>"> <i class="icon-trash"></i></a>
	        </td>
	    </tr>
	    <?php endforeach;?>

	</tbody>
</table>
</div>
<div class="paging">
<?php echo $this->paging($this->total, $this->limit, $this->offset, $this->url);?>
</div>
<?php echo $this->load();?>