<?php 
/**
 * @author  Buu <buu.pham@oppomobile.vn>
 */ ?>
 <style type="text/css">
     .width_input{
        width: 100px;
     }
 </style>
<div class="row-fluid span12">
    <fieldset>
            <legend>Bank Account</legend>
    <div class="span5">
        
        <!-- Bank Account -->
        
        <?php $userStorage = Zend_Auth::getInstance()->getStorage()->read();
        //7 -HR
        //10 -HR-Exr
        //12- SALE ADMIN
        
              $arr_list_staff_edit_pit = unserialize(LIST_STAFF_EDIT_BANK_PIT);
              if(in_array($userStorage->id,$arr_list_staff_edit_pit) || $userStorage->group_id == ADMINISTRATOR_ID || $userStorage->group_id == 7 || $userStorage->group_id == 12 || $userStorage->group_id == 10):
        ?>
        
            
            <div class="control-group">
                <label for="birth_province" class="control-label">Bank Number</label>
                <div class="controls">
                    <input type="text"  title="" id="bank_number" placeholder="Bank Number" name="bank_number" value="<?php echo $this->data_bank['bank_number'];?>">
                </div>
            </div>
            
            <div class="control-group">
                <label for="bank" class="control-label">Name Bank</label>
                <div class="controls">
                    <input type="text" id="bank_name_" name="bank_name_" class="bank" placeholder="Bank Name" value="<?php echo $this->data_bank['at_bank'];?>">
                   <!--  <select id="bank" name="bank" class="bank" >
                        <option>Choose</option>
                        <option value="<?php echo My_Staff_Bank::Techcombank ?>" <?php if (isset($this->bank['bank']) && $this->bank['bank'] == My_Staff_Bank::Techcombank) echo "selected" ?>>TECHCOMBANK</option>
                    </select> -->
                </div>
            </div>
        
        <!-- END Bank Account -->
    </div>
    <div class="span5">
            <div class="control-group">
                <label for="birth_province" class="control-label">Bank Brand</label>
                <div class="controls">
                    <input type="text" id="bank_brand" placeholder="Bank Brand" name="bank_brand" value="<?php echo $this->data_bank['branch_pgd'];?>">
                </div>
            </div>
            
            <div class="control-group">
                <label for="birth_province" class="control-label">Bank Province</label>
                <div class="controls">
                     <input type="text" id="bank_province" placeholder="Bank Province" name="bank_province" value="<?php echo $this->data_bank['province_city'];?>">
                   <!--  <input type="checkbox" id="cash" name="cash" value="1" <?php if (isset($this->bank) and $this->bank['cash']==1):?> checked="checked" <?php endif;?>> -->
                </div>
            </div>
        <!-- END Bank Account -->
    </div>
    </fieldset>
</div>
<div class="row-fluid">
    <div class="span6">
        <!-- PIT -->
        <fieldset>
            <legend>PIT</legend>
            
            <div class="control-group">
                <label for="birth_province" class="control-label">MST</label>
                <div class="controls">
                    <input type="text" id="pit_code" placeholder="Mã số thuế" name="pit_code" value="<?php echo $this->pti['tax'];?>">
                </div>
            </div>
            <!--  -->
            <div class="row-fluid">
                <div class="span12">
                    <p><button type="button" class="btn btn-info add_dependent_btn"><i class="icon-plus"></i> Add Dependent...</button></p>
                </div>
            </div>
            
            
            <!--  start form -->
            <div class="row-fluid">
                <div class="span12">
                    <table class="table borderd dependent_list table_list">
                        <caption>Dependent</caption>
                        <thead>
                        <tr>
                                <th>STT</th>
                                <th>MST</th>
                                <th>Name</th>
                                <th>Date of Birth</th>
                                <th>Relative name</th>
                                <th>Month start</th>
                                <th>Month end</th>
                                <th>Action</th>
                        </tr>
                        </thead>
            
                        <tbody>
                       <?php if (isset($this->list_dependent_staff) && $this->list_dependent_staff): ?>
                                <?php foreach ($this->list_dependent_staff as $key => $value): ?>
                                <tr>
                                    <td></td>
                                    <td data-title="MST:"><input type="text" name="mst_dependent[]" value="<?php echo $value['mst'];?>" class="width_input"></td>
                                    <td data-title="Name:"><input type="text" name="fullname_dependent[]" value="<?php echo $value['name'];?>"></td>
                                    <td data-title="Dob:"><input type="text" class="date width_input" name="dob_dependent[]" value="<?php echo date('d/m/Y',strtotime($value['dob']));?>" onkeydown="return false;"> </td>
                                    <td data-title="Relative name:">
                                         <select class="input-mini dependent_type width_input" name="name_relative_dependent[]">
                                                <option value>---</option>
                                               <?php $list=unserialize(STAFF_DEPENDENT);
                                                     foreach($list as $key => $val):?>
                                                  <option value="<?php echo $key;?>" <?php if($value['relative_id']==$key) echo 'selected';?>><?php echo $val;?></option>
                                                <?php endforeach;?>
                                            </select>
                                    </td>
                                    <td data-title="Month start:"><input type="text" name="month_start[]" class="date width_input" value="<?php echo  !empty($value['from_month'])?date('d/m/Y',strtotime($value['from_month'])):'';?>" onkeydown="return false;"></td>
                                    <td data-title="Month end:"><input type="text" name="month_end[]" class="date width_input" value="<?php echo !empty($value['to_month'])?date('d/m/Y',strtotime($value['to_month'])):'';?>" onkeydown="return false;"></td>
                                    <td>
                                        <a class="btn btn-delete btn-danger">Delete</a>
                                    </td>
                                </tr> 
                                 <?php endforeach ?>
                                <?php endif ?> 

                        </tbody>
                    </table>
                </div>
            </div>
        </fieldset>
        <?php
        endif;
        ?>
        <!-- END PIT -->        
    </div>
</div>

<script>
    dependent_div = '<tr class="item">\
                        <td>\
                        </td>\
                       <td>\
                       <input type="hidden" class="dependent_id" name="dependent_id[]">\
                            <input type="hidden" class="staff_id" name="staff_id" value="<?php if (isset($this->staff['id']) && $this->staff['id']) echo $this->staff['id']?>">\
                            <input type="text" class="input-medium full_name width_input" name="mst_dependent[]" required>\
                        </td>\
                        <td>\
                            <input type="text" name="fullname_dependent[]" required>\
                        </td>\
                        <td>\
                            <input type="text" onkeydown="return false;"  class="date width_input" name="dob_dependent[]" required>\
                        </td>\
                         <td>\
                            <select class="input-mini dependent_type width_input" name="name_relative_dependent[]" required>\
                                <option value>---</option>\
                                 <?php $list=unserialize(STAFF_DEPENDENT);
                                     foreach($list as $key => $val):?>\
                                  <option value="<?php echo $key;?>"><?php echo $val;?></option>\
                                <?php endforeach;?>\
                            </select>\
                        </td>\
                         <td>\
                           <input type="text" onkeydown="return false;" name="month_start[]" class="date width_input" value="">\
                        </td>\
                        <td>\
                            <input type="text" onkeydown="return false;" name="month_end[]"  class="date width_input" value="">\
                        </td>\
                        <td>\
                            <button type="button" class="btn btn-mini btn-default cancel_dependent_btn">Cancel</button>\
                        </td>\
                    </tr>'
        ;


         $(document).ready(function () {
        
        $( '.date' ).datepicker({ dateFormat: "dd/mm/yy" });
        $('.btn-delete').on('click',function(){
            $(this).closest('tr').remove();
        });
    });
</script>