
<div class="row-fluid">
    <div class="span12">
        <p><button type="button" class="btn btn-inverse add_education_btn pull-right"><i class="icon-plus"></i> Add Education...</button></p>
    </div>
</div>
<h3><i><u>Current Education</u></i></h3>
<br>
<div class="row-fluid">
    <div class="span12">
    <div class="table-responsive">
        <table class="table borderd  table_list">
            <!-- <caption>Current Education</caption> -->
            <thead>
                <tr>
                    <td>#</td>
                    <th>Level</th>
                    <th>School</th>
                    <th>Major</th>
                    <th>Graduated Year</th>
                    <th>Grade</th>
                    <th>Mode of Study</th>

                </tr>
            </thead>

            <tbody>
                <?php if (isset($this->education) && $this->education): ?>
                    <?php foreach ($this->education as $key => $value): ?>
                        <tr class="item">
                            <td>
                            
                            </td>
                            <td>
                                <span class="level_txt"><?php echo $value['level'] ?></span>
                            </td>
                            <td>
                                <span class="school_txt"><?php echo $value['school'] ?></span>
                            </td>
                            <td>
                                <span class="field_of_study_txt"><?php echo $value['field_of_study'] ?></span>
                            </td>
                            <td>
                                <span class="graduated_year_txt"><?php echo $value['graduated_year'] ?></span>
                            </td>
                            <td>
                                <span class="grade_txt"><?php echo $value['grade'] ?></span>
                            </td>
                            <td>
                                <span class="mode_of_study_txt"><?php echo $value['mode_of_study'] ?></span>
                            </td>
                        </tr>
                    <?php endforeach ?>
                <?php endif ?>
            </tbody>
        </table>
        </div>
    </div>
</div><!-- End current education -->
<h3><i><u>Education</u></i></h3>
<br>
<div class="row-fluid">
    <div class="span12">
    <div class="table-responsive">
        <table class="table borderd education_list table_list">
            <!-- <caption>Education</caption> -->
            <thead>
            <tr>
                <td>#</td>
                <th>Level</th>
                <th>School</th>
                <th>Major</th>
                <th>Graduated Year</th>
                <th>Grade</th>
                <th>Mode of Study</th>
                <th>Default level</th>
                <th></th>
            </tr>
            </thead>

            <tbody>
            <?php if (isset($this->education) && $this->education): ?>
                <?php foreach ($this->education as $key => $value): ?>
                    <tr class="item">
                        <td>
                            <input type="hidden" class="education_id" name="education_id[]" value="<?php if (isset($value['id'])) echo $value['id'] ?>">
                            <input type="hidden" class="staff_id" name="staff_id" value="<?php if (isset($this->staff['id']) && $this->staff['id']) echo $this->staff['id'] ?>">
                        </td>
                        <td>
                            <input type="text"  class="input-small level" value="<?php echo $value['level'] ?>" name="levels[]">
                        </td>
                        <td>
                            <input type="text"  class="input-medium school" value="<?php echo $value['school'] ?>" name="school[]">
                        </td>
                        <td>
                            <input type="text"  class="input-medium field_of_study" value="<?php echo $value['field_of_study'] ?>" name="field_of_study[]">
                        </td>
                        <td>
                            <input type="text"  class="input-mini graduated_year" value="<?php echo $value['graduated_year'] ?>" name="graduated_year[]">
                        </td>
                        <td>
                            <input type="text"  class="input-mini grade" value="<?php echo $value['grade'] ?>" name="grade[]">
                        </td>
                        <td>
                            <input type="text"  class="input-small mode_of_study" value="<?php echo $value['mode_of_study'] ?>" name="mode_of_study[]">
                        </td>
                        <td>
                            <!-- <input type="checkbox" name='default_level[]' value='1' class='default_level'
                                <?php if($value['default_level'] == 1) echo "checked=checked";?>
                            > -->
                            <select name="default_level[]" class="default_level" id="" style="width: 100px">
                                    <option value="0">NONE</option>
                                    <option value="1" <?php if(isset($value['default_level']) AND $value['default_level'] == 1) echo 'selected=selected';?>>DEFAULT
                                    </option>
                            </select>
                        </td>
                        <td>                         
                            <a href="<?php echo HOST ?>ajax/staff-education-delete?id=<?php if(isset($value['id'])) echo $value['id'] ?>" class="btn btn-mini btn-danger confirmLink">
                                <i class="icon-remove"></i> Delete
                            </a>
                            
                        </td>
                    </tr>
                <?php endforeach ?>
            <?php endif ?>
            </tbody>
        </table>
        </div>
    </div>
</div>

<script>
    education_div = '<tr class="item new">\
                            <td>\
                                <input type="hidden" class="education_id" name="education_id[]" value="">\
                                <input type="hidden" class="staff_id" name="staff_id" value="<?php if (isset($this->staff['id']) && $this->staff['id']) echo $this->staff['id'] ?>">\
                            </td>\
                            <td>\
                                <span class="editable level_txt" style="display:none"></span>\
                                <input type="text" class="input-small level" value="" name="levels[]">\
                            </td>\
                            <td>\
                                <span class="editable school_txt" style="display:none"></span>\
                                <input type="text" class="input-medium school" value="" name="school[]">\
                            </td>\
                            <td>\
                                <span class="editable field_of_study_txt" style="display:none"></span>\
                                <input type="text" class="input-medium field_of_study" value="" name="field_of_study[]">\
                            </td>\
                            <td>\
                                <span class="editable graduated_year_txt" style="display:none"></span>\
                                <input type="text" class="input-mini graduated_year" value="" name="graduated_year[]">\
                            </td>\
                            <td>\
                                <span class="editable grade_txt" style="display:none"></span>\
                                <input type="text" class="input-mini grade" value="" name="grade[]">\
                            </td>\
                            <td>\
                                <span class="editable mode_of_study_txt" style="display:none"></span>\
                                <input type="text" class="input-small mode_of_study" value="" name="mode_of_study[]">\
                            </td>\
                            <td>\
                                <span class="editable mode_of_study_txt" style="display:none"></span>\
                                <select name="default_level[]" style="width: 100px" class="default_level">\
                                    <option value="0">NONE</option>\
                                    <option value="1">DEFAULT</option>\
                                </select>\
                            </td>\
                            <td>\
                                <button type="button" class="btn btn-mini btn-default cancel_btn">Cancel</button>\
                            </td>\
                        </tr>'
        ;
</script>