<div class="row-fluid">
    <div class="span4">

        <div class="control-group">
            <label for="unit_code_id" class="col-md-5 ">Unit code</label>
            <select name="unit_code_id" id="unit_code_id" class="form-control">
                <option value>---</option>
                <?php if (isset($this->unitCodes) && $this->unitCodes): ?>
                    <?php foreach ($this->unitCodes as $key => $value): ?>
                        <option value="<?php echo $key ?>"
                            <?php if (isset($this->staff['unit_code_id']) && $this->staff['unit_code_id'] == $key) echo "selected" ?>><?php echo $value ?></option>
                    <?php endforeach ?>
                <?php endif ?>
            </select>
        </div>

        <div class="control-group">
            <label for="ins_number">Số bảo hiểm</label>
            <input class="form-control" name="insurance_number"
                   id="insurance_number" type="text" placeholder="Số sổ bảo hiểm"
                   value="<?php echo $this->staff['insurance_number'] ?>">
        </div>



        <div class="control-group">
            <label class="col-md-5 ">Mã Tỉnh đăng kí khám chữa bệnh</label>
            <select class="form-control" id="province_hospital">
                <option value="">---</option>
                <?php
                if(isset($this->provinces) AND $this->provinces):
                    foreach($this->provinces as $key => $value):
                        ?>
                        <option value="<?php echo $key;?>" <?php if($this->provinceHospital  == $key) echo 'selected'?>><?php echo $value;?></option>
                    <?php
                    endforeach;
                endif;
                ?>
            </select>
        </div>

        <div class="control-group">
            <label class="col-md-5 ">Mã bệnh viện</label>
            <select class="form-control" name="hospital_id" id="hospital_id">
                <option value="">---</option>
                <?php
                if(isset($this->currentHospitals) AND $this->currentHospitals):
                    foreach($this->currentHospitals as $key => $value):
                        ?>
                        <option value="<?php echo $key;?>" <?php if($this->staff['hospital_id']  == $key) echo 'selected'?>><?php echo $value;?></option>
                    <?php
                    endforeach;
                endif;
                ?>
            </select>
        </div>

        <div class="control-group">
            <label for="status" class="col-md-5 ">Ghi chú</label>
            <textarea name="note_ins" id="" cols="30" rows="10"><?php if(isset($this->staff['note_ins']) AND $this->staff['note_ins']) echo $this->staff['note_ins'];?></textarea>
        </div>
    </div>
    
    <div class="span4">
        <div class="control-group">
            <label for="book_status" class="col-md-5 ">Có sổ</label>
            <input type="text" autocomplete="off" class='form-control date' name="have_book"
                   value="<?php if(isset($this->staff['have_book']) AND $this->staff['have_book'] AND $this->staff['have_book'] != '0000-00-00') echo date('d/m/Y',strtotime($this->staff['have_book']));?>" />
        </div>

        <div class="control-group">
            <label for="book_status" class="col-md-5 ">Chốt sổ</label>
            <input type="text" autocomplete="off" name="close_book" class='form-control date'
                   value="<?php if(isset($this->staff['close_book']) AND $this->staff['close_book'] AND $this->staff['close_book'] != '0000-00-00') echo date('d/m/Y',strtotime($this->staff['close_book']));?>" />
        </div>
        <div class="control-group">
            <label for="book_status">Trả sổ</label>
                <input type="text" autocomplete="off" name="return_ins_book_time" class='form-control date' value="<?php if(isset($this->staff['return_ins_book_time']) AND $this->staff['return_ins_book_time'] AND $this->staff['return_ins_book_time'] != '0000-00-00') echo date('d/m/Y',strtotime($this->staff['return_ins_book_time']));?>" />

        </div>
        <div class="control-group">
            <label for="book_status">Ngày báo BH trả sổ</label>
            <input type="text" autocomplete="off" name="return_book_declare_ins" class='form-control date' value="<?php if(isset($this->staff['return_book_declare_ins']) AND $this->staff['return_book_declare_ins'] AND $this->staff['return_book_declare_ins'] != '0000-00-00') echo date('d/m/Y',strtotime($this->staff['return_book_declare_ins']));?>" />
            
        </div>
        <div class="control-group">
            <label for="card_status">Chia thẻ về khu vực</label>
            <input type="text" autocomplete="off" class="form-control date" name="delivery_card_ins" value="<?php if(isset($this->staff['delivery_card_ins']) AND $this->staff['delivery_card_ins'] AND $this->staff['delivery_card_ins'] != '0000-00-00') echo date('d/m/Y',strtotime($this->staff['delivery_card_ins']))?>" />
         
        </div>
        <div class="control-group">
            <label for="card_status" class="col-md-5 ">Thu hồi thẻ từ nhân viên</label>
            <input type="text" autocomplete="off" class="form-control date" name="take_card_from_staff" id="take_card_from_staff" value="<?php if(isset($this->staff['take_card_from_staff']) AND $this->staff['take_card_from_staff'] AND $this->staff['take_card_from_staff'] != '00-00-00') echo date('d/m/Y',strtotime($this->staff['take_card_from_staff'])) ?>" />
        </div>

    </div>

    <div class="span4">
        <div class="control-group">
            <label for="salary" class="col-md-5 ">Ngày kí hợp đồng báo BH ( tăng lùi )</label>
            <input class="form-control date" name="date_insurance_increase"
                           id="date_insurance_increase" type="text" placeholder=""
                           value="<?php  if($this->staff['date_insurance_increase'] != NULL AND $this->staff['date_insurance_increase'] != '0000-00-00') echo date('d/m/Y',strtotime($this->staff['date_insurance_increase'])) ?>">
        </div>

        <div class="control-group">
            <label for="salary" class="col-md-5 ">Ngày  báo giảm lùi</label>
            <div class="input-group">
                <input class="form-control date" name="date_insurance_off"
                       id="date_insurance_off" type="text"
                       value="<?php if($this->staff['date_insurance_off'] != NULL AND $this->staff['date_insurance_off'] != '0000-00-00') echo date('d/m/Y',strtotime($this->staff['date_insurance_off'])) ?>">
            </div>
        </div>

        <div class="control-group">
            <label for="salary" class="col-md-5 ">Ngày đi bảo hiểm (Giảm)</label>
            <input class="form-control date" name="date_insurance_off_declare"
                           id="date_insurance_off_declaire" type="text" placeholder=""
                           value="<?php if($this->staff['date_insurance_off_declare'] != NULL AND $this->staff['date_insurance_off_declare'] != '0000-00-00') echo date('d/m/Y',strtotime($this->staff['date_insurance_off_declare'])) ?>">
        </div>
    </div>
</div>
<script>
    $(document).ready(function(){
        loadHospital();
    })

    function loadHospital(){
        $("#province_hospital").change(function(){
            var id = $(this).val();
            $.ajax({
                url: '/ajax/get-hospital',
                type: 'get',
                data: {'province_id':id},
                success:function(data){
                    $('#hospital_id option:not(:first)').remove();
                    var html = '';
                    $.each(data,function(k,v){
                        html += '<option value="'+k+'">' + v +'</option>';
                    })
                    $('#hospital_id').append(html);
                }

            });
        })
    }
</script>