<?php /**
 * @author  Buu <buu.pham@oppomobile.vn>
 */ ?>
<div class="row-fluid">
    <div class="span4">
        <div class="control-group">
            <label for="photo" class="control-label">Staff Photo</label>
            <div class="controls">
                <?php if(isset($this->staff) and !empty($this->staff->photo) and file(APPLICATION_PATH . '/..' . '/public/photo/staff/'.$this->staff->id.'/'.$this->staff->photo)){?>
                    <a target="_blank" title="View" href="<?php if(isset($this->staff) and !empty($this->staff->photo)) printf(HOST.'photo/staff/'.$this->staff->id.'/'.$this->staff->photo);  ?>"><img class="staff-photo" src="<?php if(isset($this->staff) and !empty($this->staff->photo)) printf(HOST.'photo/staff/'.$this->staff->id.'/'.$this->staff->photo);  ?>" /></a>
                <?php } ?>
                <div class="clear"></div>
                <input type="file" id="photo" name="photo" class="has-preview" />
                <div class="clear"></div>
                <div class="control-group">
                    <label for="del_photo" class="pull-left">Delete Photo</label>
                    <input type="checkbox" class="pull-left" name="del_photo" id="del_photo" />
                </div>
            </div>
        </div>
    </div>

    <div class="span4">
        <?php if (isset($this->staff) and $this->staff){?>
        <div class="control-group">
            <label for="code" class="control-label">Staff code</label>
            <div class="controls">
                <input type="text" id="code" placeholder="Enter Code" name="code" required="required" value="<?php isset($this->staff) and $this->staff and printf($this->staff->code);?>">
            </div>
        </div>
        <?php } ?>

        <div class="control-group">
            <label for="firstname" class="control-label">First name</label>
            <div class="controls">
                <input type="text" id="firstname" required placeholder="Enter First name" name="firstname" value="<?php isset($this->staff) and $this->staff and printf($this->staff->firstname);?>">
            </div>
            <?php if (isset($this->change_log['firstname'])): ?>
                <div class="controls approval">
                    <input class="new_value" value="<?php echo $this->change_log['firstname']['new_value'] ?>" />
                    <span class="pull-right control_buttons">
                        <button class="btn btn-mini btn-success approve_btn" type="button"><i class="icon-ok"></i></button>
                        <button class="btn btn-mini btn-warning reject_btn" type="button"><i class="icon-remove"></i></button>
                    </span>
                </div>
            <?php endif ?>
        </div>

        <div class="control-group">
            <label for="lastname" class="control-label">Last name</label>
            <div class="controls">
                <input type="text" id="lastname" required placeholder="Enter Last name" name="lastname" value="<?php isset($this->staff) and $this->staff and printf($this->staff->lastname);?>">
            </div>
        </div>

        <div class="control-group">
            <label for="gender_1" class="control-label">Gender</label>
            <div class="controls">
                <input type="radio" class="form-control" id="gender_1" name="gender" value="1" <?php if (!isset($this->staff)):?>checked <?php else: isset($this->staff) and $this->staff->gender==1 and printf('checked'); endif;?>><span>Male</span>
                <input type="radio" class="form-control" id="gender_2" name="gender" value="0" <?php isset($this->staff) and $this->staff->gender==0 and printf('checked');?>><span>Female</span>
            </div>
        </div>

        <div class="control-group">
            <label for="department" class="control-label">Department</label>
            <div class="controls">
                <select name="department" id="department" required>
                    <option value>Choose</option>
                    <?php if (isset($this->recursiveDeparmentTeamTitle)): ?>
                        <?php foreach ($this->recursiveDeparmentTeamTitle as $item_id => $item):?>
                            <option value="<?php echo $item_id;?>" <?php if (isset($this->staff) and $this->staff and $item_id==$this->staff->department):?>selected<?php endif;?>><?php echo $item['name'];?></option>
                        <?php endforeach;?>
                    <?php endif ?>
                </select>
            </div>
        </div>

        <div class="control-group">
            <label for="team" class="control-label">Team</label>
            <div class="controls">
                <select name="team" id="team" required>
                    <option value>Choose</option>
                    <?php if ( isset($this->staff) AND isset($this->recursiveDeparmentTeamTitle[$this->staff->department]['children'])): ?>
                        <?php foreach ($this->recursiveDeparmentTeamTitle[$this->staff->department]['children'] as $item_id => $item):?>
                            <option value="<?php echo $item_id;?>" <?php if (isset($this->staff) and $this->staff and $item_id==$this->staff->team):?>selected<?php endif;?>><?php echo $item['name'];?></option>
                        <?php endforeach;?>
                    <?php endif ?>
                </select>
            </div>
        </div>

        <div class="control-group">
            <label for="title" class="control-label">Job Title</label>
            <div class="controls">
                <select name="title" id="title" required>
                    <option value>Choose</option>
                    <?php if ( isset($this->staff) AND isset($this->recursiveDeparmentTeamTitle[$this->staff->department]['children'][$this->staff->team]['children']) ): ?>
                        <?php foreach ($this->recursiveDeparmentTeamTitle[$this->staff->department]['children'][$this->staff->team]['children'] as $item_id => $item):?>
                            <option value="<?php echo $item_id;?>" <?php if (isset($this->staff) and $this->staff and $item_id==$this->staff->title):?>selected<?php endif;?>><?php echo $item['name'];?></option>
                        <?php endforeach;?>
                    <?php endif ?>
                </select>
            </div>
        </div>

        <div class="control-group">
            <label for="joined_at" class="control-label">Joined at</label>
            <div class="controls">
                <input type="text" class="date" required id="joined_at" placeholder="Enter Joined at" name="joined_at" value="<?php isset($this->staff) and $this->staff->joined_at and printf(date('d/m/Y',strtotime($this->staff->joined_at)));?>">
            </div>
        </div>

        <div class="control-group">
            <label for="off_date" class="control-label">Off date</label>
            <div class="controls">
                <input type="text" class="date" id="off_date" placeholder="Enter Off date" name="off_date" value="<?php isset($this->staff) and $this->staff->off_date and printf(date('d/m/Y',strtotime($this->staff->off_date)));?>">
            </div>
        </div>

        <div class="control-group">
            <label for="off_date" class="control-label">Off date reason</label>
            <div class="controls">
                <select name="date_off_purpose_reason" id="date_off_purpose_reason">
                    <option value="">Choose</option>
                    <?php foreach($this->staff_dateoff_reason as $k => $v):?>
                        <option value="<?php echo $k;?>" <?php echo (isset($this->staff) && $this->staff['date_off_purpose_reason'] == $k) ? 'selected="selected"' : '';?>><?php echo $v;?></option>
                    <?php endforeach;?>
                </select>
            </div>
        </div>

        <div class="control-group">
            <label for="off_type" class="control-label">Off date reason detail</label>
            <div class="controls">
                <textarea name="date_off_purpose_detail" id="date_off_purpose_detail"><?php echo isset($this->staff) ? $this->staff->date_off_purpose_detail : '' ;?></textarea>
            </div>
        </div>

        <div class="control-group">
            <label for="off_type" class="control-label">Off Type</label>
            <div class="controls">
                <select name="off_type" id="off_type">
                    <option value>---</option>
                    <option value="<?php echo My_Staff_Status_Off::Normal_Unfinished ?>" <?php if (isset($this->staff['off_type']) && $this->staff['off_type'] == My_Staff_Status_Off::Normal_Unfinished) echo "selected" ?>>Unfinshed File</option>
                    <option value="<?php echo My_Staff_Status_Off::Normal_Finished ?>" <?php if (isset($this->staff['off_type']) && $this->staff['off_type'] == My_Staff_Status_Off::Normal_Finished) echo "selected" ?>>Finished File</option>
                </select>
            </div>
        </div>

        <div class="control-group">
            <label for="off_type" class="control-label">Off date file</label>
            <div class="controls">
                <?php if ($this->staff && $this->staff['offdate_file']):?>
                    <a target="_blank" href="<?php echo HOST.'files/staff/'.$this->staff['id'].'/off_date/'.$this->staff['offdate_file'];?>">Download file</a>
                <?php endif;?>
                <input type="file" id="offdate_file" name="offdate_file" class="has-preview" />
            </div>
        </div>

        <div class="control-group">
            <label for="status" class="control-label">Status</label>
            <div class="controls">
                <select name="status" id="status" required>
                    <option value>---</option>
                    <option value="<?php echo My_Staff_Status::On ?>" <?php if (isset($this->staff['status']) && $this->staff['status'] == My_Staff_Status::On) echo "selected" ?>>On</option>
                    <option value="<?php echo My_Staff_Status::Off ?>" <?php if (isset($this->staff['status']) && $this->staff['status'] == My_Staff_Status::Off) echo "selected" ?>>Off</option>
                    <option value="<?php echo My_Staff_Status::Temporary_Off ?>" <?php if (isset($this->staff['status']) && $this->staff['status'] == My_Staff_Status::Temporary_Off) echo "selected" ?>>Temporary Off</option>
                    <option value="<?php echo My_Staff_Status::Childbearing ?>" <?php if (isset($this->staff['status']) && $this->staff['status'] == My_Staff_Status::Childbearing) echo "selected" ?>>Childbearing</option>
                </select>
            </div>
        </div>

        <div class="control-group">
            <label for="pvi" class="control-label">PVI Card Delivered</label>
            <div class="controls">
                <input type="checkbox" id="pvi" name="pvi" value="1" <?php if(isset($this->staff['pvi']) && $this->staff['pvi']) echo "checked" ?>>
            </div>
        </div>

        <div class="control-group">
            <label for="lock" class="control-label">Locked</label>
            <div class="controls">
                <input type="checkbox" id="lock" name="lock" value="1" <?php if(isset($this->lock) && $this->lock) echo "checked" ?>>
                <input type="hidden" value="<?php $this->lock ?>" />
            </div>
        </div>

    </div>
    <!--  -->
    <div class="span4">
        <div class="control-group">
            <label for="area_id" class="control-label">Area</label>
            <div class="controls">
                <select id="area_id" name="area_id">
                    <option value>Choose</option>
                    <?php
                    if (isset($this->areas) && $this->areas) :
                        foreach ($this->areas as $_key => $_value):
                    ?>
                    <option value="<?php echo $_key ;?>" <?php if ($this->area and $this->area->id == $_key):?>selected<?php endif;?>><?php echo $_value;?></option>
                    <?php
                        endforeach;
                    endif;
                    ?>
                </select>
            </div>
        </div>

        <div class="control-group">
            <label for="regional_market" class="control-label">Province</label>
            <div class="controls">
                <select id="regional_market" name="regional_market">
                    <option value>Choose</option>
                    <?php
                    if ($this->regional_markets) :
                        foreach ($this->regional_markets as $regional_market):?>
                        <option value="<?php echo $regional_market->id;?>" <?php if ($this->staff->regional_market==$regional_market->id):?>selected<?php endif;?>><?php echo $regional_market->name;?></option>
                    <?php
                        endforeach;
                    endif;
                    ?>
                </select>
            </div>
        </div>

        <div class="control-group">
            <label for="is_officer" class="control-label">Is Head Office</label>
            <div class="controls">
                <input type="checkbox" name="is_officer" id="is_officer" value="1" <?php if (isset($this->staff) and $this->staff->is_officer==1):?> checked="checked" <?php endif;?> />
            </div>
        </div>

        <div class="control-group">
            <label for="is_print" class="control-label">Has staff card</label>
            <div class="controls">
                <input type="checkbox" name="is_print" id="is_print" value="1" <?php if (isset($this->staff) and $this->staff->is_print==1):?> checked="checked" <?php endif;?> />
            </div>
        </div>
        
        <!-- 
        <div class="control-group">
            <label for="office_id" class="control-label">Office location</label>
            <div class="controls">
                <select name="office_id" id="office_id" >
                    <option value>---</option>
                    <?php if (isset($this->offices) && $this->offices): ?>
                        <?php foreach ($this->offices as $key => $value): ?>
                            <option value="<?php echo $key ?>"
                                    <?php if(isset($this->staff['office_id']) && $this->staff['office_id']==$key) echo "selected" ?>><?php echo $value ?></option>
                        <?php endforeach ?>
                    <?php endif ?>
                </select>
            </div>
        </div>
        -->
    
        <div class="control-group">
            <label for="company_id" class="control-label">Company</label>
            <div class="controls">
                <select name="company_id" id="company_id" required>
                    <option value>---</option>
                    <?php if (isset($this->companies) && $this->companies): ?>
                        <?php foreach ($this->companies as $key => $value): ?>
                            <option value="<?php echo $key ?>"
                                    <?php if(isset($this->staff['company_id']) && $this->staff['company_id']==$key) echo "selected" ?>><?php echo $value ?></option>
                        <?php endforeach ?>
                    <?php endif ?>
                </select>
            </div>
        </div>

        <div class="control-group">
            <label for="phone_number" class="control-label">Phone number</label>
            <div class="controls">
                <input type="tel" id="phone_number" placeholder="Enter Phone number" name="phone_number" value="<?php isset($this->staff) and $this->staff and printf($this->staff->phone_number);?>">
            </div>
        </div>

        <div class="control-group">
            <label for="email" class="control-label">Email</label>
            <div class="controls">
                <input type="email" autocomplete="off" id="email" placeholder="Enter email" name="email" value="<?php isset($this->staff) and $this->staff and printf($this->staff->email);?>">
            </div>
        </div>

        <div class="control-group">
            <label for="note" class="control-label">Note</label>
            <div class="controls">
                <textarea rows="6" name="note" id="note"><?php isset($this->staff) and $this->staff and printf($this->staff->note);?></textarea>
            </div>
        </div>

        <div class="control-group">
            <label for="myTags" class="control-label">Tags</label>
            <div class="controls">
                <ul id="myTags"><?php
                    if (isset($this->a_tags) and $this->a_tags):
                        foreach ($this->a_tags as $ta)
                            echo '<li>'.$ta.'</li>';
                    endif;
                ?></ul>
            </div>
        </div>

        <div class="control-group">
            <?php if ( isset($this->staff) and $this->staff ):?>
                <a href="javascript:void(0);" id="btn-change-pass" title="Change password" class="control-label">Change Password</a>
                <div class="controls">
                    <input type="hidden" name="change-pass" id="change-pass" value="0">
                    <input type="password" autocomplete="off" class="hidden" id="exampleInputPassword1" placeholder="Password" name="password">
                </div>
            <?php else: ?>
                <label for="password" class="control-label">Password</label>
                <div class="controls">
                    <input id="password" type="password" autocomplete="off" placeholder="Password" name="password">
                </div>
            <?php endif; ?>
        </div>

        <div class="control-group">
            <label for="group" class="control-label">Group</label>
            <div class="controls">
                <select id="group" name="group_id">
                    <option value>----</option>
                    <?php foreach ($this->groups as $_key => $_value):?>
                        <option value="<?php echo $_key;?>" <?php if (isset($this->staff['group_id']) and $_key == $this->staff['group_id']):?>selected<?php endif;?>><?php echo $_value;?></option>
                    <?php endforeach;?>
                </select>
            </div>
        </div>

        <?php if(!empty($this->companyGroup)) { ?>
        <div class="control-group">
            <label for="group" class="control-label">Policy group</label>
            <div class="controls">
            <?php
                echo $this->companyGroup;
            ?>
            </div>
        </div>
        <?php } ?>

        <?php if(!empty($this->LineManager)) { ?>
        <div class="control-group">
            <label for="group" class="control-label">Line Manager</label>
            <div class="controls">
                <?php
                    foreach ($this->LineManager as $key => $val) 
                    {
                    ?>
                    <label><?php echo $val['staff_name'] . " (" . $this->recursiveDeparmentTeamTitle[$val['department']]['children'][$val['team']]['children'][$val['title']]['name'] .")"; ?></label>
                    <?php
                    }
                ?>
            </div>
        </div>
        <?php } ?>

        <?php if(!empty($this->Manager)) { ?>
        <div class="control-group">
            <label for="group" class="control-label">Manager</label>
            <div class="controls">
                <?php
                    foreach ($this->Manager as $key => $val) 
                    {
                    ?>
                    <label><?php echo $val['staff_name'] . " (" . $this->recursiveDeparmentTeamTitle[$val['department']]['children'][$val['team']]['children'][$val['title']]['name'] .")"; ?></label>
                    <?php
                    }
                ?>
            </div>
        </div>
        <?php } ?>

    </div>
</div>