<style>
    .photo-list
    {
        border: 1px solid #aaa;
        margin-bottom: 30px;
        padding: 10px;
        height: 500px;
    }

    .staff_img
    {
        text-align: center;
        height: 150px;
        overflow: hidden;
    }

    .staff_img img
    {
        width: 56%;
        height: auto;
    }

    .button-group
    {
        margin: 10px 0px;
    }

    .button-group button, .button-group a
    {
        margin-top: 5px;
    }

    .button-group button
    {
        width: 100%;
        display: block;
    }

    .button-group a
    {
        display: block;
    }

    span.staff_name {
        display: block;
        font-size: 15px;
        margin: 5px 0px;
        font-weight: bold;
    }

    .span-info-group
    {
        min-height: 150px;
        margin: 0px;
    }

    @media (min-width: 1920px){
        .span-info-group
        {
            min-height: 120px;
        }
    }

    .span-info-group > span
    {
        display: block;
        font-size: 12px;
    }

    .span-info-group > span > span
    {
        font-weight: bold;
    }

    .btn-download-all
    {
        margin: 10px 0px;
    }
</style>
<form action="" method="post" id="form_upload_photo_staff">
    <div class="alert alert-success" id="alert-update-photo" style="display: none;">
        <span id="alert-content"></span>
    </div>
    <div class="row">
        <div class="span2">
            <button type="button" class="btn btn-success btn-download-all" onclick="download_all_photo()">Download photo in page</button>
        </div>
    </div>
    <div class="row">
    <?php
    if (isset($this->staffs) and $this->staffs)
        foreach ($this->staffs as $k=>$staff): ?>
        <div class="span2 photo-list">
            <?php
                    if(!empty($staff['photo']))
                    {
                        $img_url = '/photo/staff/' . $staff['id'] . '/' . $staff['photo'];
                        $css_btn = "";
                    }
                    else
                    {
                        $img_url = '/img/chude.gif';
                        $css_btn = " style='display: none' ";
                    }
                    if(!file_exists(APPLICATION_PATH . '/../public' . $img_url))
                    {
                        $img_url = '/img/chude.gif';
                        $css_btn = " style='display: none' ";
                    }
                ?>
                <div class="staff_img">
                    
                    <img class="lightbox_img" id="staffphoto_<?php echo $staff['id']; ?>" name="staffphoto_<?php echo $staff['id']; ?>" onerror="show_default_photo('<?php echo $staff['id']; ?>')" style=" cursor: pointer;" src="<?php echo $img_url ; ?>" />
                    
                </div>
                <div class="info-group">
                    <a href="/staff/create?id=<?php echo $staff['id']; ?>">
                        <span class="staff_name"><?php echo $staff['firstname'].' '.$staff['lastname']; ?></span>
                    </a>
                    <div class="span-info-group">
                        <span>AREA: <span><?php echo $staff['area_name']; ?></span></span>
                        <span>Code: <span><?php echo $staff['code'] ?></span></span>
                        <span>DEPARTMENT: <span><?php echo (isset($this->recursiveDeparmentTeamTitle[$staff['department']]['name']) ? $this->recursiveDeparmentTeamTitle[$staff['department']]['name'] : '');?></span></span>
                        <span>TEAM: <span><?php echo (isset($this->recursiveDeparmentTeamTitle[$staff['department']]['children'][$staff['team']]['name']) ? $this->recursiveDeparmentTeamTitle[$staff['department']]['children'][$staff['team']]['name'] : '');?></span></span>
                        <span>TITLE: <span><?php echo (isset($this->recursiveDeparmentTeamTitle[$staff['department']]['children'][$staff['team']]['children'][$staff['title']]['name']) ? $this->recursiveDeparmentTeamTitle[$staff['department']]['children'][$staff['team']]['children'][$staff['title']]['name'] : '');?></span></span>
                    </div>
                </div>
                <input type="file" class="staff_file_input" name="file_photo_<?php echo $staff['id']; ?>" id="file_photo_<?php echo $staff['id']; ?>" />
                <div class="button-group">
                    <button type="button" <?php echo $css_btn; ?> id="btn_delete_<?php echo $staff['id']; ?>" class="btn btn-warning" onclick="delete_photo(<?php echo $staff['id']; ?>)">Delete Photo</button>
                    <a class="btn btn-success btn-download-photo" <?php echo $css_btn; ?> href="<?php echo $img_url; ?>"
                    id="link_download_<?php echo $staff['id']; ?>" download="<?php echo $staff['area_name'] .'_'. $this->recursiveDeparmentTeamTitle[$staff['department']]['children'][$staff['team']]['name'] .'_'. $staff['code'] .'_'. $staff['firstname'].' '.$staff['lastname']; ?>">Download Photo</a>
                    <button type="button" id="btn_update_<?php echo $staff['id']; ?>" class="btn btn-primary btn-update" style="display: none" onclick="update_photo(<?php echo $staff['id']; ?>)">Update Photo</button>
                </div>
        </div>
        <?php endforeach;?>
        </div>
        <input type="hidden" name="id_update_photo" id="id_update_photo" value="" />
    </form>
    <?php echo $this->paging($this->total, $this->limit, $this->offset, $this->url);?>

<div id="lightbox" class="modal fade " role="dialog" style="">
  <div class="modal-dialog  modal-lg">

    <div class="modal-content" style="">
      <div class="modal-body" style="text-align: center;">
        <img src="" id="full-size-image" />
      </div>
    </div> <!-- end content modal -->

  </div>
</div>
<script>

$(".lightbox_img").click(function () {
    if($(this).attr("src") != '')
    {
        $("#full-size-image").prop("src", $(this).attr("src"));
        $("#lightbox").modal();
    }
});

function download_all_photo()
{
    var array_href = $(".btn-download-photo:visible").map(function () {
        var Obj = {};
        Obj['href'] = $(this).attr('href');
        Obj['download'] = $(this).attr('download');
        return Obj;
    }).get();

    $.ajax({
        type: 'post',
        url: '/staff/download-zip-ajax',
        data:
        {
            array_href: array_href
        },
        typeType: 'json',
        cache: false,
        success: function (data)
        {
            window.open(JSON.parse(data).link_down, '_blank');
        }
    });
}

function show_default_photo(id_photo)
{
    // $("#staffphoto_" + id_photo).prop("src", "/img/chude.gif");
    // $("#staffphoto_" + id_photo)
    // $("#link_download_" + id_photo).hide();
    // $("#btn_delete_" + id_photo).hide();
    $("#staffphoto_" + id_photo).hide();
}

function update_photo(id)
{
    $("#id_update_photo").val(id);
    var form = document.getElementById('form_upload_photo_staff');
    var formData = new FormData(form);
    $.ajax({
        type: 'post',
        url: '/staff/upload-photo-ajax',
        data: formData,
        cache: false,
        dataType: 'json',
        processData: false,
        contentType: false,
        success: function (data)
        {
            if(data.status == true)
            {
                $("#staffphoto_" + id).prop("src", "/photo/staff/" + id + "/" + data.new_name);
                $("#alert-update-photo").addClass("alert-success");
                $("#alert-update-photo").removeClass("alert-danger");
                $("#alert-content").empty().html(data.message);
                $("#alert-update-photo").show();
                $("#link_download_" + id).prop("href", "/photo/staff/" + id + "/" + data.new_name);
                $("#link_download_" + id).show();
                $("#btn_delete_" + id).show();
                $("#file_photo_" + id).val('');
                $("#btn_update_" + id).hide();
                $(window).scrollTop(0);
            }
            else
            {
                $("#alert-update-photo").addClass("alert-danger");
                $("#alert-update-photo").removeClass("alert-success");
                $("#alert-content").empty().html(data.message);
                $("#alert-update-photo").show();
                $(window).scrollTop(0);
            }
        } 
    });

}

function delete_photo(id_delete_photo)
{
    $.ajax({
        type: 'post',
        url: '/staff/delete-photo-ajax',
        data: {
            id_delete_photo: id_delete_photo
        },
        cache: false,
        dataType: 'json',
        success: function (data)
        {
            if(data.status == true)
            {
                $("#staffphoto_" + id_delete_photo).prop("src", "/img/chude.gif");
                $("#alert-update-photo").addClass("alert-success");
                $("#alert-update-photo").removeClass("alert-danger");
                $("#alert-content").empty().html(data.message);
                $("#alert-update-photo").show();
                $("#link_download_" + id_delete_photo).hide();
                $("#btn_delete_" + id_delete_photo).hide();
                $(window).scrollTop(0);
            }
            else
            {
                $("#alert-update-photo").addClass("alert-danger");
                $("#alert-update-photo").removeClass("alert-success");
                $("#alert-content").empty().html(data.message);
                $("#alert-update-photo").show();
                $(window).scrollTop(0);
            }
        } 
    });
}

$(".staff_file_input").change(function(){
    if (this.files && this.files[0]) {
        var reader = new FileReader();
        var img_tags =  $(this).parent().children('.staff_img').children('img');
        var button_update = $(this).parent().children('.button-group').children('.btn-update');
        reader.onload = function (e) {
             img_tags.prop('src', e.target.result);
        }
        reader.readAsDataURL(this.files[0]);
        button_update.show();
    }
});
</script>
