<table class="table table-bordered">
    <thead>
        <tr>
            <?php echo $this->sorting(array(
                    '#',
                    'code'         =>'Code',
                    'lastname'     =>'Name',
                    'email'        =>'Email',
                    'Department',
                    'Team',
                    'Title',
                    'area'    =>'Area',
					// 'Province',
					// 'District',
                    'phone_number' =>'Phone No',
                    'status'       =>'Status',
                    'Action'
                ),
                $this->url, $this->sort, $this->desc); ?>
        </tr>
    </thead>
    <tbody>
        <?php
        if (isset($this->staffs) and $this->staffs)
            foreach ($this->staffs as $k=>$staff): ?>
        <tr <?php
            if ($staff['contract_to']):
            $datetime1 = new DateTime($staff['contract_to']);
            $today = new DateTime();
            $interval = $datetime1->diff($today, false);
            $interval = $interval->invert ? $interval->days : -$interval->days;
            if ($interval<=14):?>style="background-color: cornsilk" title="Contract is going to be out of date at <?php echo ($staff['contract_to'] ? date('d/m/Y', strtotime($staff['contract_to'])) : '');?>" <?php endif;endif;?>>
            <td>
                <?php
                    $inc = $this->offset + $k + 1;
                    echo $inc;
                ?>
            </td>
            <td><?php echo $staff['code'];?></td>
            <td><?php echo $staff['firstname'].' '.$staff['lastname'];?></td>
            <td <?php if (!$staff['email']):?> style="background-color: coral"<?php endif;?>><?php echo $staff['email'];?></td>
            <td><?php echo (isset($this->recursiveDeparmentTeamTitle[$staff['department']]['name']) ? $this->recursiveDeparmentTeamTitle[$staff['department']]['name'] : '');?></td>
            <td><?php echo (isset($this->recursiveDeparmentTeamTitle[$staff['department']]['children'][$staff['team']]['name']) ? $this->recursiveDeparmentTeamTitle[$staff['department']]['children'][$staff['team']]['name'] : '');?></td>
            <?php // echo (isset($this->recursiveDeparmentTeamTitle[$staff['department']]['children'][$staff['team']]['children'][$staff['title']]['name']) ? $this->recursiveDeparmentTeamTitle[$staff['department']]['children'][$staff['team']]['children'][$staff['title']]['name'] : '');?>
            <td><?php echo $staff['title_name'] ;?></td>
            <td style="min-width: 60px"><?php echo $this->area_cache[$this->regional_markets[$staff['regional_market']]['area_id']];?></td>
            <td ><?php echo $staff['phone_number'];?></td>
            <td><?php echo ( $staff['status']==1 ? 'Enabled' : 'Disabled' );?></td>
            <td class="">
                <div class="btn-group">
                    <a class="btn dropdown-toggle" data-toggle="dropdown" href="#">
                        Action
                        <span class=""></span>
                    </a>
                    <ul class="dropdown-menu">
                         <li><a title="View" href="/staff/view-t?id=<?php echo $staff['id'];?>"> <i class="icon-eye-open"></i> View</a></li>
                         <li><a title="View" target="_blank" href="/permission-access/create-group-staff?id=<?php echo $staff['id'];?>"> <i class="icon-archive"></i> Group Access</a></li>
                        <!-- Cap quyen cho A.Phuoc CS-->
                        <?php if($this->userStorage->id == 3031 || $this->userStorage->id == 4617):?>
                        <!-- <li><a title="Priviledge" href="/staff/priviledge?id=<?php echo $staff['id'];?>"> <i class="icon-archive"></i> Priviledge</a></li> -->
                        <?php endif;?>
                    
                        <?php if (($this->userStorage->group_id == ADMINISTRATOR_ID OR $this->userStorage->id == 8807 OR $this->userStorage->id == 22716)  and $this->access('staff', 'priviledge')):?>
                            <!-- <li><a title="Priviledge" href="/staff/priviledge?id=<?php echo $staff['id'];?>"> <i class="icon-archive"></i> Priviledge</a></li> -->
                        <?php endif;?>
                            
                        <?php if ($this->access('staff', 'priviledge-cs')):?>
                            <li><a title="Priviledge" href="/staff/priviledge-cs?id=<?php echo $staff['id'];?>"> <i class="icon-archive"></i> Priviledge CS</a></li>
                        <?php endif;?>

                        <?php if ($staff['staff_temp_id']){?>
                            <?php if (!$staff['staff_temp_is_approved']){?>
                                <?php if ($this->access('staff', 'approve-basic')){ ?>
                               <!--  <li><a title="View" href="/staff/view-t?id=<?php echo $staff['id'];?>"> <i class="icon-eye-open"></i> View</a></li> -->
                                    <li><a title="Approve Basic Info" href="<?php echo '/staff/approve-basic?id='.$staff['staff_temp_id'];?>"> <i class="icon-ok"></i> Approve Basic Info</a></li>
                                <?php } ?>
                            <?php } else {?>
                                <?php if ($this->access('staff', 'create-basic')){ ?>
                               <!--  <li><a title="View" href="/staff/view-t?id=<?php echo $staff['id'];?>"> <i class="icon-eye-open"></i> View</a></li> -->
                                    <li><a title="Create Basic Info" href="<?php echo '/staff/create-basic?id='.$staff['staff_temp_id'];?>"> <i class="icon-edit-sign"></i> Create Basic Info</a></li>
                                <?php }?>
                            <?php }?>
                        <?php } else {?>
                            <?php if ($this->access('staff', 'create-basic')){ ?>
                            <!-- <li><a title="View" href="/staff/view-t?id=<?php echo $staff['id'];?>"> <i class="icon-eye-open"></i> View</a></li> -->
                                    <li><a title="Create Basic Info" href="<?php echo '/staff/create-basic?staff_id='.$staff['id'];?>"> <i class="icon-edit-sign"></i> Create Basic Info</a></li>
                            <?php } ?>
                        <?php } ?>

                        <?php if ($this->access('staff', 'create')): ?>
                           <!--  <li><a title="View" href="/staff/view-t?id=<?php echo $staff['id'];?>"> <i class="icon-eye-open"></i> View</a></li>  -->       
                            <li><a title="Edit" href="<?php echo '/staff/create?id='.$staff['id'].( ( isset($this->current_url) and $this->current_url ) ? '&'.urlencode('back_url='.$this->current_url) : '' ) ;?>"> <i class="icon-edit"></i> Edit</a></li>
                        <?php endif;?>

                        <?php if ($staff['status']==1 and $this->access('staff', 'disable')):?>
                            <li><a title="Disable" class="confirmLink" href="/staff/disable?id=<?php echo $staff['id'];?>"> <i class="icon-ban-circle"></i> Disable</a></li>
                        <?php elseif($staff['status']==1 and $this->access('staff', 'enable')):?>
                            <li><a title="Enable" class="confirmLink" href="/staff/enable?id=<?php echo $staff['id'];?>"> <i class="icon-ok-circle"></i> Enable</a></li>
                        <?php endif;?>
                        <?php if($this->access('staff', 'quick-edit')):?>
                            <li><a href="#" class="note_label" title="Quick Edit" data-id="<?php if(isset($staff['id']) && $staff['id']) echo $staff['id'] ?>"> <i class="icon-file"></i> Quick Edit</a></li>
                        <?php endif;?>
                        <?php if($this->access('staff', 'log')): ?>
                            <li><a href="<?php echo HOST ?>staff/log?object=<?php echo $staff['id'];?>"> <i class="icon-list-alt"></i> Log</a></li>
                        <?php endif;?>
                         <?php if(in_array($this->userStorage->id, array(21686, 4617, 24644, 5983, 166))):?>
                        <li><a title="Set Máy chấm công" href="/staff/time-machine?id=<?php echo $staff['id'];?>"> <i class="icon-archive"></i> Set Id chấm công</a></li>
                        <?php endif;?>
                        
                        <?php if($this->access('staff', 'update-body-info')): ?>
                            <li><a href="<?php echo HOST ?>staff/update-body-info?id=<?php echo $staff['id'];?>"> <i class="icon icon-camera-retro"></i> Update Body Info</a></li>
                            
                        <?php endif;?>
                        <li><a href="<?php echo HOST ?>staff/upload-file?staff_id=<?php echo $staff['id'];?>"> <i class="icon icon-eye-open"></i> Update File</a></li>
                    </ul>
                </div>
            </td>
        </tr>
        <?php endforeach;?>

    </tbody>
</table>
<div class="paging">
    <?php echo $this->paging($this->total, $this->limit, $this->offset, $this->url);?>
</div>

<div id="modal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">

</div>

<script type="text/javascript">
    $modal = $('#modal');
    
    $('.note_label').click(function(){
        var _self = $(this);

        $('body').modalmanager('loading');
        $('#note_content').html(_self.data('note'));
        $('#note_id').val(_self.data('id'));
       
        $modal.modal('loading');
        noteid=_self.data('id');

        $.ajaxSetup({
            cache: true
        });

        $.post('<?php echo HOST ?>/staff/quick-edit',
                {
                    id            : noteid,
                    back_url : '<?php echo HOST.$this->current_url; ?>'
                },
                function(data){
                    $modal.html(data);
                    $modal.modal();
                    var name = _self.parents('tr').children('td:nth-child(2)').html();
                    $modal.find('h3').append(' <small>&bull; '+name+'</small>');
            });
    });
    
    
    </script>
  
<script type="text/javascript" src="/js/jquery-ui-1.8.12.custom.min.js"></script>
<link rel="stylesheet" type="text/css" href="/css/jquery-ui-1.8.12.custom.css"/>

<script type="text/javascript" src="/js/bootstrap-modal.js"></script>
<script type="text/javascript" src="/js/bootstrap-modalmanager.js"></script>
<link rel="stylesheet" type="text/css" href="/css/bootstrap-modal.css"/>

<?php echo $this->confirm();?>
<?php echo $this->load();?>
