<form class="form-search form-horizontal" method="get" action="/staff/transfer-report">
    <div class="row">
        <div class="span5">

            <div class="control-group">
                <label for="from" class="span2">From</label>
                <input id="from" name="from" type="text" class="form-control datetime" value="<?php isset($this->params['from']) and printf($this->params['from']);?>" required="true" autocomplete="false">
            </div>

            <div class="control-group">
                <label for="to" class="span2">To</label>
                <input id="to" name="to" type="text" class="form-control datetime" value="<?php isset($this->params['to']) and printf($this->params['to']);?>" required="true" autocomplete="false">
            </div>

        </div>
    </div>

    <button type="submit" class="btn btn-primary">Search</button>
    <button type="reset" class="btn btn-warning">Reset</button>
    <button type="submit" name="export" value="1" class="btn btn-success">Export</button>

</form>
<style>

</style>

<script>
    $(document).ready(function(){
        $('.datetime').datepicker({
                dateFormat:'dd/mm/yy'
        });
    })

</script>