<div class="row">
    <div class="span5" style="text-align: right;">
     
       
       <div class="control-group">
               <div class="control-group">
                <label for="contract_id" class="span2">Contract type</label>
                  <select name="contract_id" id="contract_id" >
                            <option value="">Choose</option>
                            <?php foreach ($this->contract_terms as $item):?>
                                <option value="<?php echo $item->id;?>" <?php if (isset($this->staff) and $this->staff and $item->id==$this->staff->contract_term):?>selected<?php endif;?>><?php echo $item->name;?></option>
                            <?php endforeach;?>
                   </select>
         </div>
       </div> 
       
       <div class="control-group">
               <div class="control-group">
                <label for="contract_id" class="span2">Print Time</label>
                <input type="text" class="" id="print_time" name="print_time" value="0" />
         </div>
       </div>
            
     <div>
     
         <button class="btn btn-inverse pull-right btn_print">Print</button>
         <button class="btn btn-success pull-right btn_update" style="margin-right: 10px;;" >Update</button>
    </div>
    </div>
    
</div>    
