<style>
    .control-group label{
        display: inline-block;
        width: 150px;
    }
    .control-group select,.control-group input,{
        width: 280px!important;
    }
    textarea{
        width: 280px;
    }

    #my_iframe{
        background: #fff;
        width: 100%;
    }

</style>

<div class="page-header">
    <h1>Mass upload Phiếu lương</h1>
</div>

<?php if (isset($this->messages_error) && $this->messages_error): ?>
    <?php foreach ($this->messages_error as $key => $value): ?>
        <div class="alert alert-danger alert-dismissible" role="alert">
            <button type="button" class="close" data-dismiss="alert"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
            <strong>Error!</strong> <?php echo $value ?>
        </div>
    <?php endforeach ?>
<?php endif ?>

<?php if (isset($this->messages_success) && $this->messages_success): ?>
    <?php foreach ($this->messages_success as $key => $value): ?>
        <div class="alert alert-success alert-dismissible" role="alert">
            <button type="button" class="close" data-dismiss="alert"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
            <?php echo $value ?>
        </div>
    <?php endforeach ?>
<?php endif ?>

<div class="row">
    <div class="span12">
        <p>
            <!--<a href="/files/template/pay_slip/template_mass_upload_pay_slip.xlsx">Template</a>-->
        </p>
    </div>
</div>

<!--
<form id="form" action="<?php echo HOST ?>pay-slip/save-file" method="post"
      enctype="multipart/form-data" class="form-horizontal" role="form" target="my_iframe">
-->

<form id="form" action="<?php echo HOST ?>pay-slip/save-file" method="post"
      enctype="multipart/form-data" class="form-horizontal">
    <div class="row">
        <div class="span12">
            <div class="control-group">
                <label for="department">Choose file:</label>
                <input type="file" name="file" value required/>
            </div>
        </div>

        <div class="span12">
            <div class="control-group">
                <label for="department">Tiêu đề:</label>
                <input type="text" name="email_subject"/>
            </div>
        </div>

        <div class="span12">
            <div class="control-group">
                <label for="department">Nội dung:</label>
                <textarea name="email_content" cols="40" rows="8"></textarea>
            </div>
        </div>        

    </div>

    <div class="row">
        <div class="span12">
            <div class="control-group">
                <button type="submit" class="btn btn-primary" id="save_btn">Save</button>
                <button type="button" class="btn btn-default" onclick="window.location='<?php echo HOST ?>insurance/report'">Cancel</button>
            </div>
        </div>
    </div>
</form>


<!--<iframe src="<?php echo HOST ?>pay-slip/save-file" frameborder="0" name="my_iframe" id="my_iframe"></iframe>-->
<script type="text/javascript" src="/js/jquery-ui-1.8.12.custom.min.js"></script>
<link rel="stylesheet" type="text/css" href="/css/jquery-ui-1.8.12.custom.css"/>
<link rel="stylesheet" href="<?php echo HOST ?>css/bootstrap-datetimepicker.min.css">
<script src="<?php echo HOST ?>js/bootstrap-datetimepicker.min.js"></script>

<script type="text/javascript" src="<?php echo HOST?>ckeditor/ckeditor.js"></script>

<script>
    CKEDITOR.replace( 'email_content');
</script>

