

<style>
    .control-group label{
        display: inline-block;
        width: 150px;
    }
    .control-group select,.control-group input{
        width: 280px!important;
    }
    textarea{
        width: 280px;
    }

    #my_iframe{
        background: #fff;
        width: 100%;
    }

    .pay-slips span{padding-left: 20px}
	
	@media screen and (min-width: 1200px){
		.span12 {max-width: 800px;}
	}

</style>

<form id="form" action="<?php echo HOST ?>pay-slip/view-pay" method="post" class="form-horizontal">
    <?php if(isset($this->data) and $this->data):?>
    

    <?php if(!empty($this->data['type']) and in_array($this->data['type'], [1,2,3])):?>
    
    
    <div class="page-header">
        <h1>Phiếu lương <?php echo !empty($this->data['month']) ? 'T.'.$this->data['month'] :null;?><?php echo !empty($this->data['year']) ? '/'.$this->data['year'] : null;?></h1>
    </div>

    <?php
        if (isset($this->messages_error) and $this->messages_error)
            foreach ($this->messages_error as $message):
                echo '<div class="alert alert-error">'.$message.'</div>';
            endforeach;

        if (isset($this->messages_success) and $this->messages_success)
            foreach ($this->messages_success as $message):
                echo '<div class="alert alert-success">'.$message.'</div>';
            endforeach;
    ?>




    <div class="row">
        
        <div class="span12">
            <span>Mọi thắc mắc vui lòng liên hệ Ms. Trúc/ Ms. Trinh – 39202555 - 105 hoặc gửi phản hồi qua mail để được giải đáp. Những thông tin trong phiếu lương yêu cầu  giữ bảo mật tuyệt đối.</span>
        </div>
        <br>
    </div>
    
    
    <div class="row">

        <?php if(!empty($this->data['type']) and $this->data['type'] == 1):?>
        <div class="span12">
            <table class="table table-bordered pay-slips">
                <tr>
                    <td colspan="2">Họ Tên & Mã Nhân Viên</td>
                    <td style="width: 300px"><?php echo !empty($this->data['ho_ten']) ? $this->data['ho_ten'] : 0;?></td>
                </tr>

                <tr>
                    <td colspan="2">Chức Vụ</td>
                    <td><?php echo !empty($this->data['chuc_vu']) ? $this->data['chuc_vu'] : 0;?></td>
                </tr>
                
                <tr>
                    <td colspan="2">Ngày Công Định Mức</td>
                    <td class="cryp" id="ngay_cong_dinh_muc"><?php echo !empty($this->data['ngay_cong_dinh_muc']) ? $this->data['ngay_cong_dinh_muc'] : 0;?></td>
                </tr>
                
                <tr>
                   <td rowspan="6">Ngày Công</td>
                </tr>

                <tr>
                    <td>•   Ngày công bình thường (1.0)</td>
                    <td class="cryp"><?php echo !empty($this->data['ngay_cong_binh_thuong']) ? $this->data['ngay_cong_binh_thuong'] : 0;?></td>
                </tr>

                <tr>
                    <td>•   Ngày công thứ 7 (2.0)  + ngày công chủ nhật (2.0)</td>
                    <td class="cryp"><?php echo !empty($this->data['ngay_cong_thu_bay']) ? $this->data['ngay_cong_thu_bay'] : 0;?></td>
                </tr>
                
                <tr>
                    <td>•   Công đi làm ngày lễ (4.0)</td>
                    <td class="cryp"><?php echo !empty($this->data['ngay_cong_di_lam_ngay_le']) ? $this->data['ngay_cong_di_lam_ngay_le'] : 0;?></td>
                </tr>

                <tr>
                    <td>•   Phép năm đã sử dụng trong tháng và trả phép năm do nghỉ việc</td>
                    <td class="cryp"><?php echo !empty($this->data['phep_nam']) ? $this->data['phep_nam'] : 0;?></td>
                </tr>

                <tr>
                    <td><b>Tổng ngày công được tính lương:</b></td>
                    <td class="cryp"><?php echo !empty($this->data['tong_cong_tinh_luong']) ? $this->data['tong_cong_tinh_luong'] : 0;?></td>
                </tr>

                <tr>
                    <td colspan="2">Mức lương không bao gồm phụ cấp</td>
                    <td class="cryp"><?php echo !empty($this->data['tong_luong_khong_phu_cap']) ? number_format($this->data['tong_luong_khong_phu_cap']) : 0;?></td>
                </tr>

                <tr>
                   <td rowspan="6">Tổng tiền lương</td>
                </tr>

                <tr>
                    <td>•   Lương tính theo ngày công </td>
                    <td class="cryp"><?php echo !empty($this->data['luong_theo_ngay_cong']) ? number_format($this->data['luong_theo_ngay_cong']) : 0;?></td>
                </tr>

                <tr>
                    <td>•   Phụ cấp (cơm, xăng xe, điện thoại) theo ngày công đi làm </td>
                    <td class="cryp"><?php echo !empty($this->data['tro_cap']) ? number_format($this->data['tro_cap']) : 0;?></td>
                </tr>
                
                <tr>
					<td>•   Thưởng KPI + Bù lương + các khoản cộng khác</td>
                    <td class="cryp"><?php echo !empty($this->data['kpi']) ? number_format($this->data['kpi']) : 0;?></td>
                </tr>
				
				<tr>
                    <td>•	Quyết toán phép năm</td>
                    <td class="cryp"><?php echo !empty($this->data['quyet_toan_phep_nam']) ? number_format($this->data['quyet_toan_phep_nam']) : 0;?></td>
                </tr>

                <tr>
                    <td><b>Tổng Tiền Lương (1)</b></td>
                    <td class="cryp"><?php echo !empty($this->data['tong_luong']) ? number_format($this->data['tong_luong']) : 0;?></td>
                </tr>
                
                <tr>
                    <td colspan="2">Lương tham gia bảo hiểm</td>
                    <td class="cryp"><?php echo !empty($this->data['luong_bhxh']) ? number_format($this->data['luong_bhxh']) : 0;?></td>
                </tr>

                <tr>
                   <td rowspan="6">Các khoản phải khấu trừ vào lương</td>
                </tr>

                <tr>
                    <td>•   Trích nộp BHXH, BHYT, BHTN (10.5%) + Trích nộp Đoàn phí (1%)</td>
                    <td class="cryp"><?php echo !empty($this->data['muoi_phan_tram']) ? number_format($this->data['muoi_phan_tram']) : 0;?></td>
                </tr>

                <tr>
                    <td>•   Các khoản trừ khác ( trừ tạm ứng,mất tài sản công ty, truy thu BHYT do nghỉ việc không báo trước theo quy định, truy thu đóng bù bảo hiểm tháng trước…) </td>
                    <td class="cryp"><?php echo !empty($this->data['cac_khoan_tru_khac']) ? number_format($this->data['cac_khoan_tru_khac']) : 0;?></td>
                </tr>

                <tr>
                    <td>•   THUẾ TNCN</td>
                    <td class="cryp"><?php echo !empty($this->data['thue_tncn']) ? number_format($this->data['thue_tncn']) : 0;?></td>
                </tr>
                
                <tr>
                    <td><b>Tổng trừ các khoản phải khấu trừ (2)</b></td>
                    <td class="cryp"><?php echo !empty($this->data['tong_tru']) ? number_format($this->data['tong_tru']) : 0;?></td>
                </tr>
				
		<tr>
                    <?php if($this->data['month'] == 1 AND $this->data['year'] == 2019):?>
                        <td>•	Số tiền lương đã được ứng trước</td>
                    <?php else:?>
                        <td>•	Quyết toán thuế TNCN 2020 (3)</td>
                    <?php endif?>
                    <td class="cryp"><?php echo !empty($this->data['thue_nop_them']) ? number_format($this->data['thue_nop_them']) : 0;?></td>
                </tr>

                

                <tr>
                    <td colspan="2"><b>Tiền lương thực nhận</b> = (1) – (2) + (3)</td>
                    <td class="cryp"><?php echo !empty($this->data['luong_thuc_nhan']) ? number_format($this->data['luong_thuc_nhan']) : 0;?></td>
                </tr>
                
                <tr>
                    <td colspan="2">Ghi chú</td>
                    <td class="cryp"><?php echo !empty($this->data['ghi_chu']) ? $this->data['ghi_chu'] : NULL;?></td>
                </tr>

            </table>
			
			

        </div>

    </div>
	
    
    <div class="row">

        <?php elseif(!empty($this->data['type']) and $this->data['type'] == 2):?>
        <div class="span12">
            <table class="table table-bordered pay-slips">
                <tr>
                    <td colspan="2">Họ Tên & Mã Nhân Viên</td>
                    <td style="width: 300px"><?php echo !empty($this->data['ho_ten']) ? $this->data['ho_ten'] : 0;?></td>
                </tr>

                <tr>
                    <td colspan="2">Chức Vụ</td>
                    <td><?php echo !empty($this->data['chuc_vu']) ? $this->data['chuc_vu'] : 0;?></td>
                </tr>
                
                <tr>
                    <td colspan="2">Ngày Công Định Mức</td>
                    <td class="cryp" id="ngay_cong_dinh_muc"><?php echo !empty($this->data['ngay_cong_dinh_muc']) ? $this->data['ngay_cong_dinh_muc'] : 0;?></td>
                </tr>
                
                <tr>
                   <td rowspan="7">Ngày Công</td>
                </tr>

                <tr>
                    <td>•   Ngày công bình thường (1.0)</td>
                    <td class="cryp"><?php echo !empty($this->data['ngay_cong_binh_thuong']) ? $this->data['ngay_cong_binh_thuong'] : 0;?></td>
                </tr>

                <tr>
                    <td>•   Ngày công chủ nhật (2.0)</td>
                    <td class="cryp"><?php echo !empty($this->data['ngay_cong_chu_nhat']) ? $this->data['ngay_cong_chu_nhat'] : 0;?></td>
                </tr>
                
                <tr>
                    <td>•   Công đi làm ngày lễ (4.0)</td>
                    <td class="cryp"><?php echo !empty($this->data['ngay_cong_di_lam_ngay_le']) ? $this->data['ngay_cong_di_lam_ngay_le'] : 0;?></td>
                </tr>

                <tr>
                    <td>•   Phép năm đã sử dụng trong tháng + trả phép năm do nghỉ việc</td>
                    <td class="cryp"><?php echo !empty($this->data['phep_nam']) ? $this->data['phep_nam'] : 0;?></td>
                </tr>

                <tr>
                    <td><b>Tổng ngày công:</b></td>
                    <td class="cryp"><?php echo !empty($this->data['tong_cong_tinh_luong']) ? $this->data['tong_cong_tinh_luong'] : 0;?></td>
                </tr>

                <tr>
                    <td><b>Tổng giờ công tăng ca trong tháng:</b></td>
                    <td class="cryp"><?php echo !empty($this->data['tong_gio_tang_ca']) ? number_format($this->data['tong_gio_tang_ca']) : 0;?></td>
                </tr>

                <tr>
                    <td colspan="2">Mức lương không bao gồm phụ cấp</td>
                    <td class="cryp"><?php echo !empty($this->data['tong_luong_khong_phu_cap']) ? number_format($this->data['tong_luong_khong_phu_cap']) : 0;?></td>
                </tr>

                <tr>
                   <td rowspan="7">Tổng tiền lương</td>
                </tr>

                <tr>
                    <td>•   Lương tính theo ngày công</td>
                    <td class="cryp"><?php echo !empty($this->data['luong_ngay_cong_tang_ca']) ? number_format($this->data['luong_ngay_cong_tang_ca']) : 0;?></td>
                </tr>

                <tr>
                    <td>•   Tiền lương tăng ca </td>
                    <td class="cryp"><?php echo !empty($this->data['tro_cap']) ? number_format($this->data['tro_cap']) : 0;?></td>
                </tr>
                
                <tr>
                    <td>•   Phụ cấp (cơm , xăng xe, điện thoại) theo ngày công đi làm</td>
                    <td class="cryp"><?php echo !empty($this->data['kpi']) ? number_format($this->data['kpi']) : 0;?></td>
                </tr>

                <tr>
                    <td>•   Thưởng KPI, hỗ trợ tiền cơm, tăng ca + Cộng khác  </td>
                    <td class="cryp"><?php echo !empty($this->data['bu_luong']) ? number_format($this->data['bu_luong']) : 0;?></td>
                </tr>
				
				<tr>
					<td>•	Quyết toán phép năm</td>
                    <td class="cryp"><?php echo !empty($this->data['quyet_toan_phep_nam']) ? number_format($this->data['quyet_toan_phep_nam']) : 0;?></td>
                </tr>

                <tr>
                    <td><b>Tổng Tiền Lương (1)</b></td>
                    <td class="cryp"><?php echo !empty($this->data['tong_luong']) ? number_format($this->data['tong_luong']) : 0;?></td>
                </tr>
                
                <tr>
                    <td colspan="2">Lương tham gia bảo hiểm</td>
                    <td class="cryp"><?php echo !empty($this->data['luong_bhxh']) ? number_format($this->data['luong_bhxh']) : 0;?></td>
                </tr>

                <tr>
                   <td rowspan="6">Các khoản phải khấu trừ vào lương</td>
                </tr>

                <tr>
                    <td>•   Trích nộp BHXH, BHYT, BHTN (10.5%) + Trích nộp Đoàn phí (1%)</td>
                    <td class="cryp"><?php echo !empty($this->data['muoi_phan_tram']) ? number_format($this->data['muoi_phan_tram']) : 0;?></td>
                </tr>

                <tr>
                    <td>•   Các khoản trừ khác ( trừ tạm ứng,mất tài sản công ty, truy thu BHYT do nghỉ việc không báo trước theo quy định, truy thu đóng bù bảo hiểm tháng trước…) </td>
                    <td class="cryp"><?php echo !empty($this->data['cac_khoan_tru_khac']) ? number_format($this->data['cac_khoan_tru_khac']) : 0;?></td>
                </tr>

                
                
                <tr>
                    <td>•   THUẾ TNCN</td>
                    <td class="cryp"><?php echo !empty($this->data['thue_tncn']) ? number_format($this->data['thue_tncn']) : 0;?></td>
                </tr>
                
                <tr>
                    <td><b>Tổng trừ các khoản phải khấu trừ (2)</b></td>
                    <td class="cryp"><?php echo !empty($this->data['tong_tru']) ? number_format($this->data['tong_tru']) : 0;?></td>
                </tr>
				
		<tr>
                    <?php if($this->data['month'] == 1 AND $this->data['year'] == 2019):?>
                        <td>•	Số tiền lương đã được ứng trước</td>
                    <?php else:?>
                        <td>•	Quyết toán thuế TNCN 2020 (3)</td>
                    <?php endif?>
                    <td class="cryp"><?php echo !empty($this->data['thue_nop_them']) ? number_format($this->data['thue_nop_them']) : 0;?></td>
                </tr>

                

                <tr>
                    <td colspan="2"><b>Tiền lương thực nhận</b> = (1) – (2) + (3)</td>
                    <td class="cryp"><?php echo !empty($this->data['luong_thuc_nhan']) ? number_format($this->data['luong_thuc_nhan']) : 0;?></td>
                </tr>
                
                <tr>
                    <td colspan="2">Ghi chú</td>
                    <td class="cryp"><?php echo !empty($this->data['ghi_chu']) ? $this->data['ghi_chu'] : NULL;?></td>
                </tr>

            </table>

        </div>

        <?php elseif(!empty($this->data['type']) and $this->data['type'] == 3):?>
        <div class="span12">
            <table class="table table-bordered pay-slips">
                <tr>
                    <td colspan="2">Họ Tên & Mã Nhân Viên</td>
                    <td style="width: 300px"><?php echo !empty($this->data['ho_ten']) ? $this->data['ho_ten'] : 0;?></td>
                </tr>

                <tr>
                    <td colspan="2">Chức Vụ</td>
                    <td><?php echo !empty($this->data['chuc_vu']) ? $this->data['chuc_vu'] : 0;?></td>
                </tr>
                
                <tr>
                    <td colspan="2">Ngày Công Định Mức</td>
                    <td class="cryp" id="ngay_cong_dinh_muc"><?php echo !empty($this->data['ngay_cong_dinh_muc']) ? $this->data['ngay_cong_dinh_muc'] : 0;?></td>
                </tr>
                
                <tr>
                   <td rowspan="7">Ngày Công</td>
                </tr>

                <tr>
                    <td>•   Ngày công bình thường (1.0)</td>
                    <td class="cryp"><?php echo !empty($this->data['ngay_cong_binh_thuong']) ? $this->data['ngay_cong_binh_thuong'] : 0;?></td>
                </tr>

                <tr>
                    <td>•   Ngày công thứ 7 & Chủ nhật (x2)</td>
                    <td class="cryp"><?php echo !empty($this->data['ngay_cong_chu_nhat']) ? $this->data['ngay_cong_chu_nhat'] : 0;?></td>
                </tr>
                
                <tr>
                    <td>•   Công đi làm ngày lễ (4.0)</td>
                    <td class="cryp"><?php echo !empty($this->data['ngay_cong_di_lam_ngay_le']) ? $this->data['ngay_cong_di_lam_ngay_le'] : 0;?></td>
                </tr>

                <tr>
                    <td>•   Ngày phép được hưởng lương và phép chưa sử dụng do nghỉ việc</td>
                    <td class="cryp"><?php echo !empty($this->data['phep_nam']) ? $this->data['phep_nam'] : 0;?></td>
                </tr>

                <tr>
                    <td><b>Tổng ngày công:</b></td>
                    <td class="cryp"><?php echo !empty($this->data['tong_cong_tinh_luong']) ? $this->data['tong_cong_tinh_luong'] : 0;?></td>
                </tr>

                <tr>
                    <td><b>Tổng giờ công tăng ca trong tháng:</b></td>
                    <td class="cryp"><?php echo !empty($this->data['tong_gio_tang_ca']) ? number_format($this->data['tong_gio_tang_ca']) : 0;?></td>
                </tr>

                <tr>
                    <td colspan="2">Mức lương không bao gồm phụ cấp</td>
                    <td class="cryp"><?php echo !empty($this->data['tong_luong_khong_phu_cap']) ? number_format($this->data['tong_luong_khong_phu_cap']) : 0;?></td>
                </tr>

                <tr>
                   <td rowspan="7">Tổng tiền lương</td>
                </tr>

                <tr>
                    <td>•   Lương tính theo ngày công & giờ công tăng ca</td>
                    <td class="cryp"><?php echo !empty($this->data['luong_theo_ngay_cong']) ? number_format($this->data['luong_theo_ngay_cong']) : 0;?></td>
                </tr>

                <tr>
                    <td>•   Tiền lương tăng ca (Mức lương không bao gồm phụ cấp /208 x số giờ tăng ca x 1.5)</td>
                    
					<td class="cryp"><?php echo !empty($this->data['luong_ngay_cong_tang_ca']) ? number_format($this->data['luong_ngay_cong_tang_ca']) : 0;?></td>
                </tr>

                <tr>
                    <td>•   Phụ cấp (cơm, xăng xe, điện thoại) theo ngày công đi làm </td>
                    <td class="cryp"><?php echo !empty($this->data['tro_cap']) ? number_format($this->data['tro_cap']) : 0;?></td>
                </tr>
                
                <tr>
                    <td>•   Thưởng KPI + Hỗ trợ tiền cơm tăng ca + khoản hỗ trợ khác</td>
                    <td class="cryp"><?php echo !empty($this->data['kpi']) ? number_format($this->data['kpi']) : 0;?></td>
                </tr>

                <tr>
                    <td>•   Quyết toán phép năm </td>
                    <td class="cryp"><?php echo !empty($this->data['bu_luong']) ? number_format($this->data['bu_luong']) : 0;?></td>
                </tr>
                

                <tr>
                    <td><b>Tổng Tiền Lương (1)</b></td>
                    <td class="cryp"><?php echo !empty($this->data['tong_luong']) ? number_format($this->data['tong_luong']) : 0;?></td>
                </tr>
                
                <tr>
                    <td colspan="2">Lương tham gia bảo hiểm</td>
                    <td class="cryp"><?php echo !empty($this->data['luong_bhxh']) ? number_format($this->data['luong_bhxh']) : 0;?></td>
                </tr>

                <tr>
                   <td rowspan="6">Các khoản phải khấu trừ vào lương</td>
                </tr>

                <tr>
                    <td>•   Trích nộp BHXH, BHYT, BHTN (10.5%) + Trích nộp Đoàn phí (1%)</td>
                    <td class="cryp"><?php echo !empty($this->data['muoi_phan_tram']) ? number_format($this->data['muoi_phan_tram']) : 0;?></td>
                </tr>

                <tr>
                    <td>•   Các khoản trừ khác ( trừ tạm ứng,mất tài sản công ty, truy thu BHYT do nghỉ việc không báo trước theo quy định, truy thu đóng bù bảo hiểm tháng trước…) </td>
                    <td class="cryp"><?php echo !empty($this->data['cac_khoan_tru_khac']) ? number_format($this->data['cac_khoan_tru_khac']) : 0;?></td>
                </tr>

                <tr>
                    <td>•   Thuế TNCN</td>
                    <td class="cryp"><?php echo !empty($this->data['thue_tncn']) ? number_format($this->data['thue_tncn']) : 0;?></td>
                </tr>
                
                <tr>
                    <td><b>Tổng trừ các khoản phải khấu trừ (2)</b></td>
                    <td class="cryp"><?php echo !empty($this->data['tong_tru']) ? number_format($this->data['tong_tru']) : 0;?></td>
                </tr>
                
                <tr>
                    <td>•   Quyết toán thuế TNCN 2020 (3)</td>
                    <td class="cryp"><?php echo !empty($this->data['truy_thu_thang_truoc']) ? number_format($this->data['truy_thu_thang_truoc']) : 0;?></td>
                </tr>

                

                <tr>
                    <td colspan="2"><b>Tiền lương thực nhận</b> = (1) – (2) + (3)</td>
                    <td class="cryp"><?php echo !empty($this->data['luong_thuc_nhan']) ? number_format($this->data['luong_thuc_nhan']) : 0;?></td>
                </tr>
				<tr>
                    <td colspan="2"><b>Ghi chú: </b></td>
                    <td class="cryp"><?php echo !empty($this->data['ghi_chu']) ? ($this->data['ghi_chu']) : '';?></td>
                </tr>

            </table>

        </div>
        <?php endif;?>
        
        
    </div>
    
    <div class="row">
        <div class="span12">
            <span>Trân trọng cảm ơn!</span>
        </div>

    </div>
	
	
	
    
    
    
    
    <?php elseif(!empty($this->data['type']) and $this->data['type'] == 4):?>
    
    
    <?php $year_ttncn = !empty($this->data['year']) ? ((int)$this->data['year'] - 1) : null;?>
    
<!--    <div class="page-header">
        <h1>Thông tin Thuế TNCN đã được trích nộp năm <?php echo $year_ttncn;?> và kết quả Quyết toán Thuế TNCN <?php echo $year_ttncn;?></h1>
    </div>-->
    
    <div class='row'>
        <div class="span12">
            <span>Chào bạn!</span><br>
            <span>Phòng Nhân sự gửi bạn thông tin “kết quả Quyết toán Thuế TNCN <?php echo $year_ttncn;?>” như sau:</span><br><br>
        </div>
    </div>
    
    <div class='row'>
        <div class="span12">
            <table class="table table-bordered pay-slips">
                <tr>
                    <td>Mã Nhân viên</td>
                    <td style="width: 300px"><?php echo !empty($this->data['maso_nhanvien']) ? $this->data['maso_nhanvien'] : NULL;?></td>
                </tr>
                <tr>
                    <td>Họ Tên & Mã Số Thuế</td>
                    <td style="width: 300px"><?php echo !empty($this->data['ho_ten']) ? ($this->data['ho_ten']) : NULL;?></td>
                </tr>
                <tr>
                    <td><b>Thuộc trường hợp</b></td>
                    <td><b><?php echo !empty($this->data['ttncn_thu_tuc']) ? $this->data['ttncn_thu_tuc'] : NULL;?></b></td>
                </tr>
                <tr>
                    <td>Số Thuế TNCN đã khấu trừ trong năm (1)</td>
                    <td><?php echo !empty($this->data['ttncn_khau_tru']) ? number_format($this->data['ttncn_khau_tru']) : 0;?></td>
                </tr>
                <tr>
                    <td>Tổng số thuế phải nộp (2)</td>
                    <td><?php echo !empty($this->data['ttncn_nop']) ? number_format($this->data['ttncn_nop']) : 0;?></td>
                </tr>
                <tr>
                    <td>Số Thuế TNCN nộp thừa được hoàn trả (3) = (1) – (2)</td>
                    <td><?php echo !empty($this->data['ttncn_hoan_tra']) ? number_format($this->data['ttncn_hoan_tra']) : 0;?></td>
                </tr>
                <tr>
                    <td>Số Thuế TNCN nộp thiếu còn phải nộp thêm (4) = (2) – (1)</td>
                    <td><?php echo !empty($this->data['ttncn_nop_them']) ? number_format($this->data['ttncn_nop_them']) : 0;?></td>
                </tr>
            </table>
        </div>
    </div>
    
    <div class='row'>
        <div class="span12">
            <span><i>(Lưu ý: Thu nhập căn cứ để tính Thuế TNCN năm 2020 là thu nhập phát sinh từ 01/01/2020 đến 31/12/2020)</i></span><br/><br>
            <span><b style='font-weight: bold;'>Thời gian Quyết toán:</b></span><br>
            <span>•	Trường hợp <b style='font-weight: bold;'>“Đã được Công ty Quyết toán thay”</b>: sẽ được hoàn trả /thu thêm trong <b style='font-weight: bold;'>lương tháng 03.2021 (chi ngày 10/04/2021)</b></span><br>
            <span>•	Trường hợp <b style='font-weight: bold;'>“Liên hệ cty nhận hồ sơ để làm thủ tục quyết toán Thuế”</b>: vui lòng liên hệ Công ty để nhận hồ sơ làm thủ tục quyết toán Thuế <b style='font-weight: bold;'>từ hôm nay đến 30/04/2021</b></span><br><br>
            <span>Mọi thắc mắc vui lòng liên hệ Ms Trúc: 3920 2555 - Ext: 105 hoặc mail: dieptruc.nguyen@oppo-aed.vn</span><br><br><br>
        </div>
    </div>
    
    
    <?php elseif(!empty($this->data['type']) and $this->data['type'] == 5):?>
    
    
    <?php $year_bhxh = !empty($this->data['year']) ? ((int)$this->data['year']) : null;?>
    <?php $month_bhxh = !empty($this->data['month']) ? ((int)$this->data['month']) : null;?>
    
    <div class="page-header">
        <h1></h1>
    </div>
    
    <div class='row'>
        <div class="span12">
            <span><b>Dear <?php echo !empty($this->data['ho_ten']) ? $this->data['ho_ten'] : NULL;?>!</b></span><br>
            <span>Từ ngày 01/07/2019 mức lương tham gia BHXH của bạn đã được điều chỉnh từ mức <?php echo !empty($this->data['bhxh_muc_cu']) ? number_format($this->data['bhxh_muc_cu']) : NULL;?> sang mức <?php echo !empty($this->data['bhxh_muc_moi']) ? number_format($this->data['bhxh_muc_moi']) : NULL;?>. Do đó, phát sinh số tiền truy thu như sau:</span><br><br>
        </div>
    </div>
    
    <div class='row'>
        <div class="span12">
            <table class="table table-bordered pay-slips">
                <tr>
                    <th rowspan="2">Tên nhân viên</th>
                    <th colspan="2">Lương tham gia bảo hiểm</th>
                    <th>Chênh lệch</th>
                    <th>Số tiền truy thu</th>
                </tr>
                <tr>
                    <th>Mức mới(3)</th>
                    <th>Mức cũ(4)</th>
                    <th>(5) = (3) - (4)</th>
                    <th>(6) = (5)X 10.5%</th>
                </tr>
                <tr>
                    <td><?php echo !empty($this->data['ho_ten']) ? $this->data['ho_ten'] : NULL;?></td>
                    <td><?php echo !empty($this->data['bhxh_muc_moi']) ? number_format($this->data['bhxh_muc_moi']) : NULL;?></td>
                    <td><?php echo !empty($this->data['bhxh_muc_cu']) ? number_format($this->data['bhxh_muc_cu']) : NULL;?></td>
                    <td><?php echo !empty($this->data['bhxh_chenh_lech']) ? number_format($this->data['bhxh_chenh_lech']) : NULL;?></td>
                    <td><?php echo !empty($this->data['bhxh_so_tien_truy_thu']) ? number_format($this->data['bhxh_so_tien_truy_thu']) : NULL;?></td>
                </tr>
            </table>
        </div>
    </div>
    
    <div class='row'>
        <div class="span12">
            <span><b style='font-weight: bold;'>Lưu ý: Số tiền truy thu sẽ được tính vào đợt lương tháng <?php echo $month_bhxh;?>/<?php echo $year_bhxh;?></b></span><br>
            <span><i>Nếu có thắc mắc vui lòng liên hệ Ms. Thư/ Ms Trinh - 39202555 - 110 hoặc qua email: thanhthu.tran@oppomobile.vn để được giải đáp./.</i></span><br><br><br>
        </div>
    </div>
    
    
    <?php elseif(!empty($this->data['type']) and $this->data['type'] == 6):?>
    
    
    <div class="page-header">
        <h1></h1>
    </div>
    
    <div class='row'>
        <div class="span12">
            <span><b>Dear <?php echo !empty($this->data['ho_ten']) ? $this->data['ho_ten'] : NULL;?>!</b></span><br>
            <span>Phòng HCNS gửi bạn thông tin về thời gian chuyển phát thưởng năm 2020 (đã bao gồm thưởng Tháng 13)</span><br>
            <span>Mọi thắc mắc vui lòng liên hệ Ms Trinh – 39202555 – 105 hoặc gửi phản hồi qua mail – nguyettrinh.dang@oppo-aed.vn để được giải đáp.</span><br>
        </div>
    </div>
    
    <div class='row'>
        <div class="span12">
            <table class="table table-bordered pay-slips">
                <tr>
                    <td>Họ Tên & Mã Nhân Viên</td>
                    <td><?php echo !empty($this->data['ho_ten']) ? $this->data['ho_ten'] : NULL;?></td>
                </tr>
                <tr>
                    <td>Chức Vụ</td>
                    <td><?php echo !empty($this->data['chuc_vu']) ? $this->data['chuc_vu'] : NULL;?></td>
                </tr>
                <tr>    
                    <td><b>Thời gian nhận Tạm ứng thưởng năm 2020 (đã bao gồm thưởng Tháng 13)</b></td>
                    <td><?php echo !empty($this->data['time_month_13']) ? $this->data['time_month_13'] : NULL;?></td>
                </tr>
                <tr>
                    <td><b>Thời gian nhận thưởng năm 2020</b></td>
                    <td><?php echo !empty($this->data['time_happy_1']) ? $this->data['time_happy_1'] : NULL;?></td>
                </tr>
                <tr>
                    <td colspan="2"><b style="color:red">Lưu ý:</b><br>
                        <p style="color:Red">Thời gian nhận thưởng của các vị trí và các phòng ban khác nhau, nhân viên vui lòng bảo mật thông tin và không chia sẻ nội dung trong phiếu thông báo này dưới mọi hình thức.</p>
                        <!--
                        <p><b>(*)Mức tạm ứng thưởng năm 2019 là 02 tháng lương và được tính như sau:</b></p>
                        <table style="border: none;">
                            <tbody>
                                <tr>
                                    <td style="border: none;text-align: center;border-bottom: 1px solid #000;"><i>Tổng Lương ghi trên hợp đồng x 2</i></td>
                                    <td rowspan="2" style="border: none;"><i>X Tổng số tháng đi làm thực tế trong năm 2019 (gồm thời gian thử việc)</i></td>
                                </tr>
                                <tr>
                                    <td style="border: none;text-align: center;"><i>12</i></td>
                                </tr>
                            </tbody>
                        </table>
                        -->
                    </td>
                </tr>
            </table>
        </div>
    </div>
    
    <?php elseif(!empty($this->data['type']) and $this->data['type'] == 7):?>
    
    
    <div class="page-header">
        <h1></h1>
    </div>
    
    <div class='row'>
        <div class="">
            <span><b>Dear <?php echo !empty($this->data['ho_ten']) ? $this->data['ho_ten'] : NULL;?>!</b></span><br>
            <span>Phòng HCNS gửi bạn thông tin về thời gian chuyển phát thưởng năm 2020 (đã bao gồm thưởng Tháng 13)</span><br>
            <span>Mọi thắc mắc vui lòng liên hệ Ms Trinh – 39202555 – 105 hoặc gửi phản hồi qua mail – nguyettrinh.dang@oppo-aed.vn để được giải đáp.</span><br>
        </div>
    </div>
    
    <div class='row'>
        <div class="">
            <table class="table table-bordered pay-slips">
                <tr>
                    <td>Họ Tên & Mã Nhân Viên</td>
                    <td><?php echo !empty($this->data['ho_ten']) ? $this->data['ho_ten'] : NULL;?></td>
                </tr>
                <tr>
                    <td>Chức Vụ</td>
                    <td><?php echo !empty($this->data['chuc_vu']) ? $this->data['chuc_vu'] : NULL;?></td>
                </tr>
                <tr>    
                    <td><b>Thời gian nhận Thưởng năm 2020 (đã bao gồm thưởng Tháng 13)</b></td>
                    <td><?php echo !empty($this->data['time_month_13']) ? $this->data['time_month_13'] : NULL;?></td>
                </tr>
                
                <tr>
                    <td colspan="2"><b style="color:red">Lưu ý:</b><br>
                        <p style="color:Red">Thời gian nhận thưởng của các vị trí và các phòng ban khác nhau, nhân viên vui lòng bảo mật thông tin và không chia sẻ nội dung trong phiếu thông báo này dưới mọi hình thức.</p><br>
                    </td>
                </tr>
            </table>
        </div>
    </div>
    
    <?php elseif(!empty($this->data['type']) and $this->data['type'] == 8):?>
    
    
    <div class="page-header">
        <h1></h1>
    </div>
    
    <div class='row'>
        <div class="">
            <span><b>Dear <?php echo !empty($this->data['ho_ten']) ? $this->data['ho_ten'] : NULL;?>!</b></span><br>
            <span>Phòng nhân sự gửi đến nhân viên phiếu Thưởng năm 2020 (đã bao gồm Tháng 13). Mọi thắc mắc vui<br> lòng liên hệ Ms Trinh – 0907428978 hoặc gửi phản hồi qua mail nguyettrinh.dang@oppo-aed.vn để được<br> giải đáp. </span>
        </div>
    </div>
    
    <div class='row'>
        <div class="">
            <table class="table table-bordered pay-slips">
                <tr>
                    <td colspan="2">Họ Tên & Mã Nhân Viên</td>
                    <td><?php echo !empty($this->data['ho_ten']) ? $this->data['ho_ten'] : NULL;?></td>
                </tr>
                <tr>
                    <td colspan="2">Chức Vụ</td>
                    <td><?php echo !empty($this->data['chuc_vu']) ? $this->data['chuc_vu'] : NULL;?></td>
                </tr>
                <tr>    
                    <td colspan="3">Mức lương và Thời gian làm cơ sở tính Thưởng 2020:</td>
                </tr>
                <tr>    
                    <td colspan="2">1.Mức lương (Bình quân 6 tháng lương ghi trên hợp đồng hoặc phụ lục hợp đồng gần nhất)</td>
                    <td><?php echo !empty($this->data['month_13_muc_luong_co_so']) ? number_format($this->data['month_13_muc_luong_co_so']) : NULL;?></td>
                </tr>
                <tr>   
                    <td rowspan="2">2.Thời gian:</td>
                    <td>Tổng thời gian công ty quy định trong năm 2020</td>
                    <td>12 Tháng</td>
                </tr>
                <tr>    
                    <td>Tổng thời gian bạn đi làm thực tế trong năm 2020</td>
                    <td><?php echo !empty($this->data['month_13_so_thang_di_lam']) ? $this->data['month_13_so_thang_di_lam'] : NULL;?></td>
                </tr>
                <tr>    
                    <td colspan="2">Mức tạm ứng thưởng năm 2020 <i>(Lương trên hợp đồng*3)/12* số tháng đi làm thực tế)</i> <b>(1)</b></td>
                    <td><?php echo !empty($this->data['month_13_muc_thuong']) ? number_format($this->data['month_13_muc_thuong']) : NULL;?></td>
                </tr>
                <tr>    
                    <td colspan="2">Thuế TNCN tạm tính <b>(2)</b></td>
                    <td><?php echo !empty($this->data['month_13_thue_thu_nhap']) ? (is_numeric($this->data['month_13_thue_thu_nhap']) ? number_format($this->data['month_13_thue_thu_nhap']) : $this->data['month_13_thue_thu_nhap']) : 0;?></td>
                </tr>
                <tr>    
                    <td colspan="2"><b>Tổng thực nhận</b> = (1) - (2)</td>
                    <td><?php echo !empty($this->data['month_13_thuc_nhan']) ? number_format($this->data['month_13_thuc_nhan']) : NULL;?></td>
                </tr>
                
                <tr>
                    <td colspan="3">
                        <div>Mức thưởng năm 2020 sẽ cấn trừ tạm ứng thưởng chi đợt 27/01/2021 được CTY thanh toán vào đợt<br> Tháng 4/2021.<br>
                            Thời gian nhận thưởng của các vị trí và các phòng ban khác nhau <b>nhân viên vui lòng bảo mật và<br> không chia sẽ thông tin trong phiếu lương thưởng này.</b>
                        </div>
                    </td>
                </tr>
            </table>
            <span>Những thông tin trong phiếu lương yêu cầu giữ bảo mật tuyệt đối.</span>
        </div>
    </div>
    
    <?php elseif(!empty($this->data['type']) and $this->data['type'] == 9):?>
    
    
    <div class="page-header">
        <h1></h1>
    </div>
    
    <div class='row'>
        <div class="span12">
            <span><b>Dear <?php echo !empty($this->data['ho_ten']) ? $this->data['ho_ten'] : NULL;?>!</b></span><br>
            <span>Phòng nhân sự gửi đến nhân viên phiếu Lương T13 và Thưởng năm 2019. Mọi thắc mắc vui lòng liên hệ Ms Trinh – 0907428978 hoặc gửi phản hồi qua mail nguyettrinh.dang@oppomobile.vn để được giải đáp.</span><br>
        </div>
    </div>
    
    <div class='row'>
        <div class="span12">
            <table class="table table-bordered pay-slips">
                <tr>
                    <td>Họ Tên & Mã Nhân Viên</td>
                    <td><?php echo !empty($this->data['ho_ten']) ? $this->data['ho_ten'] : NULL;?></td>
                </tr>
                <tr>
                    <td>Chức Vụ</td>
                    <td><?php echo !empty($this->data['chuc_vu']) ? $this->data['chuc_vu'] : NULL;?></td>
                </tr>
                <tr>    
                    <td>Mức lương dùng để tính lương T13 và thưởng: là bình quân tổng lương ghi trên HĐLĐ trong 06 tháng gần nhất</td>
                    <td><?php echo !empty($this->data['month_13_muc_luong_co_so']) ? number_format($this->data['month_13_muc_luong_co_so']) : NULL;?></td>
                </tr>
                <tr>    
                    <td>Tổng số tháng đi làm thực tế trong năm 2019</td>
                    <td><?php echo !empty($this->data['month_13_so_thang_di_lam']) ? $this->data['month_13_so_thang_di_lam'] : NULL;?></td>
                </tr>
                <tr>    
                    <td>Tổng Lương tháng 13 <i>(Mức lương/12 * số tháng đi làm thực tế)</i> <b>(1)</b> </td>
                    <td><?php echo !empty($this->data['month_13_muc_luong']) ? number_format($this->data['month_13_muc_luong']) : NULL;?></td>
                </tr>
                <tr>    
                    <td>Tạm ứng thưởng năm 2019 <i>(Mức lương* 2)/12* số tháng đi làm thực tế)</i>  <b>(2)</b></td>
                    <td><?php echo !empty($this->data['month_13_muc_thuong']) ? number_format($this->data['month_13_muc_thuong']) : NULL;?></td>
                </tr>
                <tr>    
                    <td>Thuế TNCN tạm tính <b>(3)</b></td>
                    <td><?php echo !empty($this->data['month_13_thue_thu_nhap']) ? (is_numeric($this->data['month_13_thue_thu_nhap']) ? number_format($this->data['month_13_thue_thu_nhap']) : $this->data['month_13_thue_thu_nhap']) : 0;?></td>
                </tr>
                <tr>    
                    <td><b>Tổng thực nhận</b> ngày 16/01/2019 = (1) + (2) – (3)</td>
                    <td><?php echo !empty($this->data['month_13_thuc_nhan']) ? number_format($this->data['month_13_thuc_nhan']) : NULL;?></td>
                </tr>
                
                <tr>
                    <td colspan="2">
                        <p>Mức thưởng 2019 còn lại sẽ được chi dự kiến vào tháng 04/2020</p>
                        <b style="color:red">Lưu ý:</b><br>
                        <p style="color:Red">Nhân viên vui lòng bảo mật thông tin và không chia sẻ nội dung trong phiếu thông báo này dưới mọi hình thức.</p>
                    </td>
                </tr>
            </table>
        </div>
    </div>
    
    
    <?php elseif(!empty($this->data['type']) and $this->data['type'] == 10):?>
    
    
    <div class="page-header">
        <h1></h1>
    </div>
    
    <div class='row'>
        <div class="span12">
            <span><b>THÔNG BÁO ĐIỀU CHỈNH MỨC LƯƠNG THAM GIA BẢO HIỂM NĂM 2021</b></span><br>
            <span>Phòng Nhân Sự thông báo điều chỉnh mức lương tham gia bảo hiểm của bạn như sau:</span><br>
        </div>
    </div>
    
    <div class='row'>
        <div class="span12">
            <table class="table table-bordered pay-slips">
                <tr>
                    <th>Họ và Tên</th>
                    <th>Mức lương tham gia BHXH mới</th>
					<th>Thời gian điều chỉnh</th>
                </tr>
                <tr>
                    <td><?php echo !empty($this->data['ho_ten']) ? $this->data['ho_ten'] : NULL;?></td>
                    <td><?php echo !empty($this->data['bhxh_muc_moi']) ? number_format($this->data['bhxh_muc_moi']) : NULL;?></td>
					<td><?php echo !empty($this->data['bhxh_muc_cu']) ? $this->data['bhxh_muc_cu'] : NULL;?></td>
                </tr>
            </table>
        </div>
    </div>
	
	<div class='row'>
        <div class="span12">
            <span>Mọi thắc mắc vui lòng liên hệ Ms Thúy – 028 3920 2555 – line 110 hoặc gửi phản hồi qua email thuthuy.nguyen@oppo-aed.vn để được giải đáp./</span><br>
        </div>
    </div>
    
    <?php elseif(!empty($this->data['type']) and $this->data['type'] == 11):?>
    
    <div class="page-header">
        <h1></h1>
    </div>
    
    <div class='row'>
        <div class="">
            <span><b>Dear <?php echo !empty($this->data['ho_ten']) ? $this->data['ho_ten'] : NULL;?>!</b></span><br>
            <span>Phòng nhân sự gửi đến nhân viên phiếu Thưởng năm 2020 (đã bao gồm Tháng 13). Mọi thắc mắc vui lòng<br> liên hệ Ms Trinh – 0907428978 hoặc gửi phản hồi qua mail nguyettrinh.dang@oppo-aed.vn để được giải đáp. </span>
        </div>
    </div>
    
    <div class='row'>
        <div class="">
            <table class="table table-bordered pay-slips">
                <tr>
                    <td colspan="2">Họ Tên & Mã Nhân Viên</td>
                    <td><?php echo !empty($this->data['ho_ten']) ? $this->data['ho_ten'] : NULL;?></td>
                </tr>
                <tr>
                    <td colspan="2">Chức Vụ</td>
                    <td><?php echo !empty($this->data['chuc_vu']) ? $this->data['chuc_vu'] : NULL;?></td>
                </tr>
                <tr>
                    <td colspan="3">Mức lương và Thời gian làm cơ sở tính Thưởng 2020:</td>
                </tr>
                <tr>    
                    <td colspan="2">1.Mức lương <i>(Bình quân 6 tháng lương ghi trên hợp đồng hoặc phụ lục hợp đồng gần nhất)</i></td>
                    <td><?php echo !empty($this->data['month_13_muc_luong_co_so']) ? number_format($this->data['month_13_muc_luong_co_so']) : NULL;?></td>
                </tr>
                
                
                
                <tr>    
                    <td rowspan="2">2.Thời gian:</td>
                    <td>Tổng thời gian công ty quy định trong năm 2020</td>
                    <td>12 Tháng</td>
                </tr>
                <tr>    
                    <td>Tổng thời gian bạn đi làm thực tế trong năm 2020</td>
                    <td><?php echo !empty($this->data['month_13_so_thang_di_lam']) ? $this->data['month_13_so_thang_di_lam'] : NULL;?></td>
                </tr>
                
                <tr>    
                    <td colspan="2">Mức thưởng năm 2020 <i>( Mức lương * số tháng thưởng)/12* số tháng đi làm thực tế) </i><b>(1)</b></td>
                    <td><?php echo !empty($this->data['month_13_muc_thuong']) ? number_format($this->data['month_13_muc_thuong']) : NULL;?></td>
                </tr>
                <tr>    
                    <td colspan="2">Thuế TNCN tạm tính <b>(2)</b></td>
                    <td><?php echo !empty($this->data['month_13_thue_thu_nhap']) ? (is_numeric($this->data['month_13_thue_thu_nhap']) ? number_format($this->data['month_13_thue_thu_nhap']) : $this->data['month_13_thue_thu_nhap']) : 0;?></td>
                </tr>
                <tr>    
                    <td colspan="2"><b>Tổng thực nhận</b> = (1) - (2)</td>
                    <td><?php echo !empty($this->data['month_13_thuc_nhan']) ? number_format($this->data['month_13_thuc_nhan']) : NULL;?></td>
                </tr>
                
                <tr>
                    <td colspan="3">
                        <div><b>Tổng thực nhận</b> trên sẽ được CTY chuyển khoản vào ngày <b>27/01/2021.</b> </div>
                        <div>Thời gian nhận thưởng của các vị trí và các phòng ban khác nhau <b>nhân viên vui lòng bảo mật không chia sẽ<br> thông tin trong phiếu lương thưởng này.</b></div>
                    </td>
                </tr>
            </table>
            <p>Những thông tin trong phiếu lương yêu cầu giữ bảo mật tuyệt đối.</p>
        </div>
    </div>

    <?php elseif(!empty($this->data['type']) and $this->data['type'] == 13):?>
    
    
    <div class="page-header">
        <h1></h1>
    </div>
    
    <div class='row'>
        <div class="">
            <span><b>Dear <?php echo !empty($this->data['ho_ten']) ? $this->data['ho_ten'] : NULL;?>!</b></span><br>
            <span>Phòng HCNS gửi bạn thông tin về thời gian chuyển phát Lương Tháng 13</span><br>
            <span>Mọi thắc mắc vui lòng liên hệ Ms Trinh – 39202555 – 105 hoặc gửi phản hồi qua mail – nguyettrinh.dang@oppo-aed.vn để được giải đáp.</span><br>
        </div>
    </div>
    
    <div class='row'>
        <div class="">
            <table class="table table-bordered pay-slips">
                <tr>
                    <td>Họ Tên & Mã Nhân Viên</td>
                    <td><?php echo !empty($this->data['ho_ten']) ? $this->data['ho_ten'] : NULL;?></td>
                </tr>
                <tr>
                    <td>Chức Vụ</td>
                    <td><?php echo !empty($this->data['chuc_vu']) ? $this->data['chuc_vu'] : NULL;?></td>
                </tr>
                <tr>    
                    <td><b>Thời gian nhận Lương Tháng 13</b></td>
                    <td><?php echo !empty($this->data['time_month_13']) ? $this->data['time_month_13'] : NULL;?></td>
                </tr>
                
                <tr>
                    <td colspan="2"><b style="color:red">Lưu ý:</b><br>
                        <p style="color:Red">Thời gian nhận thưởng của các vị trí và các phòng ban khác nhau, nhân viên vui lòng bảo mật thông tin và không chia sẻ nội dung trong phiếu thông báo này dưới mọi hình thức.</p><br>
                    </td>
                </tr>
            </table>
        </div>
    </div>

    <?php elseif(!empty($this->data['type']) and $this->data['type'] == 14):?>
    
    
    <div class="page-header">
        <h1></h1>
    </div>
    
    <div class='row'>
        <div class="">
            <span><b>Dear <?php echo !empty($this->data['ho_ten']) ? $this->data['ho_ten'] : NULL;?>!</b></span><br>
            <span>Phòng nhân sự gửi đến nhân viên phiếu lương <b>Tháng 13</b>. Mọi thắc mắc vui lòng liên hệ Ms Trinh –<br> 0907428978 hoặc gửi phản hồi qua mail nguyettrinh.dang@oppo-aed.vn để được giải đáp. </span>
        </div>
    </div>
    
    <div class='row'>
        <div class="">
            <table class="table table-bordered pay-slips">
                <tr>
                    <td colspan="2">Họ Tên & Mã Nhân Viên</td>
                    <td><?php echo !empty($this->data['ho_ten']) ? $this->data['ho_ten'] : NULL;?></td>
                </tr>
                <tr>
                    <td colspan="2">Chức Vụ</td>
                    <td><?php echo !empty($this->data['chuc_vu']) ? $this->data['chuc_vu'] : NULL;?></td>
                </tr>
                <tr>    
                    <td colspan="3">Mức lương và Thời gian làm cơ sở tính Tháng 13/2020:</td>
                </tr>
                <tr>    
                    <td colspan="2">1.Mức lương (Bình quân 6 tháng lương ghi trên hợp đồng hoặc phụ lục hợp đồng gần nhất)</td>
                    <td><?php echo !empty($this->data['month_13_muc_luong_co_so']) ? number_format($this->data['month_13_muc_luong_co_so']) : NULL;?></td>
                </tr>
                <tr>   
                    <td rowspan="2">2.Thời gian:</td>
                    <td>Tổng thời gian công ty quy định trong năm 2020</td>
                    <td>12 Tháng</td>
                </tr>
                <tr>    
                    <td>Tổng thời gian bạn đi làm thực tế trong năm 2020</td>
                    <td><?php echo !empty($this->data['month_13_so_thang_di_lam']) ? $this->data['month_13_so_thang_di_lam'] : NULL;?></td>
                </tr>
                <tr>    
                    <td colspan="2">Tổng Tháng 13 <b>(1)</b></td>
                    <td><?php echo !empty($this->data['month_13_muc_thuong']) ? number_format($this->data['month_13_muc_thuong']) : NULL;?></td>
                </tr>
                <tr>    
                    <td colspan="2">Thuế TNCN tạm tính <b>(2)</b></td>
                    <td><?php echo !empty($this->data['month_13_thue_thu_nhap']) ? (is_numeric($this->data['month_13_thue_thu_nhap']) ? number_format($this->data['month_13_thue_thu_nhap']) : $this->data['month_13_thue_thu_nhap']) : 0;?></td>
                </tr>
                <tr>    
                    <td colspan="2"><b>Tổng thực nhận</b> = (1) - (2)</td>
                    <td><?php echo !empty($this->data['month_13_thuc_nhan']) ? number_format($this->data['month_13_thuc_nhan']) : NULL;?></td>
                </tr>
                
                <tr>
                    <td colspan="3">
                        <div>Tổng thực nhận trên sẽ được CTY chuyển khoản vào ngày 27/01/2021.<br>
                            Thời gian nhận thưởng của các vị trí và các phòng ban khác nhau <b>nhân viên vui lòng bảo mật và<br> không chia sẽ thông tin trong phiếu lương thưởng này.</b>
                        </div>
                    </td>
                </tr>
            </table>
            <span>Những thông tin trong phiếu lương yêu cầu giữ bảo mật tuyệt đối.</span>
        </div>
    </div>

    <?php elseif(!empty($this->data['type']) and $this->data['type'] == 15):?>
    
    <div class="page-header">
        <h1></h1>
    </div>
    
    <div class='row'>
        <div class="">
            <span><b>Dear <?php echo !empty($this->data['ho_ten']) ? $this->data['ho_ten'] : NULL;?>!</b></span><br>
            <span>Phòng nhân sự gửi đến nhân viên phiếu Thưởng năm 2020 (đã bao gồm Tháng 13). Mọi thắc mắc<br> vui lòng liên hệ Ms Trinh – 0907428978 hoặc gửi phản hồi qua mail nguyettrinh.dang@oppo-aed.vn<br> để được giải đáp. </span>
        </div>
    </div>
    
    <div class='row'>
        <div class="">
            <table class="table table-bordered pay-slips">
                <tr>
                    <td colspan="2">Họ Tên</td>
                    <td><?php echo !empty($this->data['ho_ten']) ? $this->data['ho_ten'] : NULL;?></td>
                </tr>
                <tr>
                    <td colspan="2">Chức Vụ</td>
                    <td><?php echo !empty($this->data['chuc_vu']) ? $this->data['chuc_vu'] : NULL;?></td>
                </tr>
                <tr>    
                    <td colspan="3">Mức lương và Thời gian làm cơ sở tính Tháng 13/2020:</td>
                </tr>
                <tr>    
                    <td colspan="2">1.Mức lương (Bình quân 6 tháng lương ghi trên hợp đồng hoặc phụ lục hợp đồng gần nhất)</td>
                    <td><?php echo !empty($this->data['month_13_muc_luong_co_so']) ? number_format($this->data['month_13_muc_luong_co_so']) : NULL;?></td>
                </tr>
                <tr>   
                    <td rowspan="2">2.Thời gian:</td>
                    <td>Tổng thời gian công ty quy định trong năm 2020</td>
                    <td>12 Tháng</td>
                </tr>
                <tr>    
                    <td>Tổng thời gian bạn đi làm thực tế trong năm 2020</td>
                    <td><?php echo !empty($this->data['month_13_so_thang_di_lam']) ? $this->data['month_13_so_thang_di_lam'] : NULL;?></td>
                </tr>
                <tr>    
                    <td colspan="2">Tổng số tháng tạm ứng <b>(1)</b></td>
                    <td><?php echo !empty($this->data['so_thang_tam_ung']) ? number_format($this->data['so_thang_tam_ung']) : NULL;?></td>
                </tr>
                <tr>    
                    <td colspan="2">Mức tạm ứng thưởng năm 2020 <i>(Lương trên hợp đồng* <b>(1)</b> Tổng số tháng tạm<br> ứng )/12* số tháng đi làm thực tế) <b>(2)</b></i></td>
                    <td><?php echo !empty($this->data['month_13_muc_thuong']) ? number_format($this->data['month_13_muc_thuong']) : NULL;?></td>
                </tr>
                <tr>    
                    <td colspan="2">Thuế TNCN tạm tính <b>(3)</b></td>
                    <td><?php echo !empty($this->data['month_13_thue_thu_nhap']) ? (is_numeric($this->data['month_13_thue_thu_nhap']) ? number_format($this->data['month_13_thue_thu_nhap']) : $this->data['month_13_thue_thu_nhap']) : 0;?></td>
                </tr>
                <tr>    
                    <td colspan="2"><b>Tổng thực nhận</b> = (2) - (3)</td>
                    <td><?php echo !empty($this->data['month_13_thuc_nhan']) ? number_format($this->data['month_13_thuc_nhan']) : NULL;?></td>
                </tr>
                <tr>    
                    <td colspan="2"><b>Ghi chú</b></td>
                    <td><?php echo !empty($this->data['ghi_chu']) ? number_format($this->data['ghi_chu']) : NULL;?></td>
                </tr>
                
                <tr>
                    <td colspan="3">
                        <div>Mức thưởng năm 2020 sẽ cấn trừ tạm ứng thưởng chi đợt 27/01/2021 được CTY thanh toán vào<br> đợt Tháng 4/2021.<br>
                            Thời gian nhận thưởng của các vị trí và các phòng ban khác nhau <b>nhân viên vui lòng bảo mật và<br>
                            không chia sẽ thông tin trong phiếu lương thưởng này.</b>
                        </div>
                    </td>
                </tr>
            </table>
            <span>Những thông tin trong phiếu lương yêu cầu giữ bảo mật tuyệt đối.</span>
        </div>
    </div>

    <?php endif;?>
    
    
    
    
    
    
    
    
    
    
    
    
    
    
	
	
	
	<?php else:?>
    
        <div class="page-header">
            <h1>Đăng nhập</h1>
        </div>
    
        <div class="row">
            <div class="span12">
                <div class="control-group">
                    <input type="text" name="user_name" placeholder="Tên đăng nhập">
                </div>

                <div class="control-group">
                    <input type="password" name="password" placeholder="Mật khẩu">
                    <input type="hidden" name="key_post" value="<?php echo !empty($this->key) ? $this->key : $this->key;?>">
                </div>

            </div>
        </div>

        <div class="row">
            <div class="span12">
                <div class="control-group">
                    <button type="submit" class="btn btn-primary">View</button>
                </div>
            </div>
        </div>

        <?php endif;?>
</form>



