<style>
    .control-group label{
        display: inline-block;
        width: 80px;
    }
</style>
<div class="page-header">
    <h1>REPORT INSURANCE</h1>
</div>

<?php
if (isset($this->messages) and $this->messages)
    foreach ($this->messages as $message):
        echo '<div class="alert alert-error">' . $message . '</div>';
    endforeach;

if (isset($this->messages_success) and $this->messages_success)
    foreach ($this->messages_success as $message):
        echo '<div class="alert alert-success">' . $message . '</div>';
    endforeach;
?>


<form action="/insurance/save-info" method="post">

<div class="row">
    <div class="span12">
        <div class="control-group">
            <input type="submit" value="Lưu lại" class="btn btn-primary pull-right"/>
        </div>
    </div>
</div>

<ul class="nav nav-tabs">
    <li class="active"><a href="#basic" data-toggle="tab">Tăng</a></li>
    <li><a href="#1" data-toggle="tab">Giảm</a></li>
    <li><a href="#2" data-toggle="tab" style="">Điều chỉnh (Lương & Chức danh)</a></li>
    <li><a href="#3" data-toggle="tab">CHẾ ĐỘ & CÁC TH BẤT THƯỜNG</a></li>
    <li><a href="#4" data-toggle="tab" style="">TOTAL REPORT</a></li>
</ul>

<?php if(isset($this->staff) AND $this->staff):?>
<div class="tab-content">
    <div class="tab-pane active" id="basic">
        <?php echo $this->tableInsurance; ?>
    </div>
    <div class="tab-pane active" id="1">
        <?php echo $this->tableInsurance; ?>
    </div>
    <div class="tab-pane active" id="2">
        <?php echo $this->tableInsurance; ?>
    </div>
    <div class="tab-pane active" id="3">
        <?php echo $this->tableInsurance; ?>
    </div>
    <div class="tab-pane active" id="4">
        <?php echo $this->tableInsurance; ?>
    </div>
</div>
<?php endif;?>

</form>

<script type="text/javascript" src="/js/jquery-ui-1.8.12.custom.min.js"></script>
<link rel="stylesheet" type="text/css" href="/css/jquery-ui-1.8.12.custom.css"/>

<script>
    $(document).ready(function(){
        $( '.date' ).datepicker({ dateFormat: "dd/mm/yy" });
        loadHospital();
    });

    function loadHospital(){
        $("#province_hospital").change(function(){
            var id = $(this).val();
            $.ajax({
                url: '/ajax/get-hospital',
                type: 'get',
                data: {'province_id':id},
                success:function(data){
                    $('#hospital_id option:not(:first)').remove();
                    var html = '';
                    $.each(data,function(k,v){
                        html += '<option value="'+k+'">' + v +'</option>';
                    })
                    $('#hospital_id').append(html);
                }
            });
        })
    }
</script>