<h1>Transfer To Contract</h1>

<form method="POST" action="" class="form-horizontal">
    <div class="control-group">
            <label for="note" class="control-label">Transfer ID</label>
            <div class="controls">
                <textarea type="text" name="transfer_id" id="transfer_id" value="" rows="7"></textarea>
            </div>
    </div>
    <div class="control-group">
            <label for="note" class="control-label">note</label>
            <div class="controls">
                <input type="text" name="note" id="note" value="" >
            </div>
    </div>
    <div class="control-group">
            <label for="note" class="control-label">Type</label>
            <div class="controls">
                <input type="radio" name="type" value="2"> Transfer ID <input type="radio" name="type" value="1"> NOTE
            </div>
    </div>
    <button type="submit" class="btn btn-primary" name="submit" value="1">Submit</button>
    <?php
        if($this->view->number != -1 && $this->view->number != '')
        {
            echo "<div>Đã cập nhật " . $this->view->number . " nhân viên";
        }
    ?>
</form>