<div class="page-header">
    <?php if (isset($this->regional_market) and $this->regional_market):?>
        <h1>Edit Province</h1>
    <?php else:?>
        <h1>Create Province</h1>
    <?php endif;?>
</div>

<?php
if (isset($this->messages) and $this->messages)
    foreach ($this->messages as $message):
        echo '<div class="alert alert-error">'.$message.'</div>';
    endforeach;
?>
<iframe name="ifrmSave" id="ifrmSave" width="100%" style="display:none;"></iframe>
<form role="form" id="form" action="<?php echo HOST.'manage/regional-market-save';?>" method="post" target="ifrmSave">
    <div class="row-fluid">
        <div class="span6">
            <div class="control-group">
                <label for="name">Name</label>
                <input type="text" class="form-control" id="name" name="name" required="required" value="<?php if (isset($this->regional_market)): echo $this->regional_market->name; endif;?>">
            </div>

            <div class="control-group">
                <label for="area_id">Area</label>
                <select id="area_id" name="area_id" class="form-control" required="required">
                    <option value="">Choose</option>
                    <?php
                    if ($this->areas) :
                        foreach ($this->areas as $area):
                            ?>
                            <option value="<?php echo $area->id;?>" <?php if ( isset($this->regional_market->area_id) and $this->regional_market->area_id==$area->id):?>selected<?php endif;?>><?php echo $area->name;?></option>
                        <?php
                        endforeach;
                    endif;
                    ?>
                </select>
            </div>

            <div class="control-group">
                <label for="pic_name">Leader</label>
                
                <select name="pic_name" id="pic_name" class="span6" multiple="multiple">
                    <?php if ($this->leaders): ?>
                    <?php foreach ($this->leaders as $k=>$leader): ?>
                        <option value="<?php echo $leader['id'] ?>"><?php echo $leader['firstname'] . ' ' . $leader['lastname'] 
                            . ' | ' . preg_replace('/'.EMAIL_SUFFIX.'/', '@', $leader['email'])
                            . (isset( $this->region_cache[ $leader['regional_market'] ] ) ? (' | '.$this->region_cache[ $leader['regional_market'] ]) : '') ?></option>

                    <?php endforeach ?>
                    <?php endif ?>
                </select>
                <button type="button" id="remove_btn" class="btn btn-danger">Remove Leader</button>
            </div>
        </div>

        <div class="span6">
            <legend>Search</legend>
            <div class="row-fluid">
                <div class="control-group">
                    <label for="s_name">Staff Name</label>
                    <input type="text" class="form-control span6" id="s_name" placeholder="Enter Staff name then press ENTER" name="s_name" />
                </div>
            </div>
            <div class="row-fluid">
                <div class="control-group">
                    <label for="name_result">Result</label>
                    <div class="load-ajax">
                        <?php echo $this->partial('staff/partials/searchname.phtml',array()); ?>
                    </div>
                </div>
            </div>
            <div class="row-fluid">
                <div class="span12 control-group">
                    <button id="add_btn" class="btn btn-primary" type="button">Add as Leader</button>
                </div>
                <div class="span12">
                    <span class="help-block">Search, then choose 01 Staff, then click Add...</span>
                </div>
                <div class="span12">
                    <p id="info" class="help-block text-error" style="color:red;"></p>
                </div>
            </div>
        </div>
    </div>
    

    <input type="hidden" name="id" id="id" value="<?php isset($this->regional_market) and $this->regional_market and printf($this->regional_market->id);?>">
    <input type="hidden" name="pic" id="pic" value="<?php isset($this->regional_market) and $this->regional_market and printf($this->regional_market->leader_ids);?>">
    <button type="submit" id="submit_btn" class="btn btn-primary">Submit</button>
    <input type="hidden" name="back_url" id="back_url" value="<?php isset($this->back_url) and $this->back_url and printf($this->back_url);?>">
    <button type="button" class="btn btn-danger go-back">Go back</button>
</form>
<script type="text/javascript">
    function palert(msg){
        $('.alert-error').remove();
        $('.page-header').after('<div class="alert alert-error">'+msg+'</div>');

        $('form#form button[type=submit]').prop('disabled', false);
        return;
    }

    $(document).ready(function () {
        $('.go-back').click(function(e){
            window.location.href = $('#back_url').val();

            return false;
        });

        $( "#s_name" ).keypress(function( event ) {
            if ( event.which == 13 ) {
                event.preventDefault();
                $('form#form button[type=submit]').prop('disabled', true);

                $('.loading').remove();
                var _self = $(this);
                var targetUrl = '<?php echo HOST."staff?sname=1&name=" ?>' + $('#s_name').val();

                //get ajax content
                var aj = _self.parent().parent().next().find('.load-ajax');
                if (aj.length){
                    _self.after("<span class=\'loading\'></span>");
                    $.get(targetUrl
                        ,function(data,status){
                            $('form#form button[type=submit]').prop('disabled', false);
                            aj.html(data);
                            _self.next('.loading').remove();
                        });
                }

                return false;
            }
        });

        $('#add_btn').click(function(){
            _self = $('#name_result');
            item = _self.children('option:selected').clone();
            list = $(item);

            for (var i = 0; i < item.length; i++) {

                if ( ! is_exists( $(item[i]).attr('value')) && $('#pic_name option').length < 1 ) {
                    _des = $('#pic_name');
                    _des.append(item[i]);

                    $('.alert-error').remove();
                } else {
                    palert('Mỗi Province chỉ có thể có 01 Leader');
                }
            }
        });

        $('#remove_btn').click(function(){
            _self = $('#pic_name');
            item = _self.children('option:selected').remove();

            $('.alert-error').remove();
        });

        $('#submit_btn').click(function(){
            $('form#form button[type=submit]').prop('disabled', true);

            _name = $('#pic_name option');
            id_str = '';
            
            for(var i = 0; i < _name.length; i++) {
                id_str += $(_name[i]).attr('value') + ',';
            }
            
            id_str = id_str.replace(/\,$/, '');
            $('#pic').val(id_str);
            $('#form').submit();
        });

        function is_exists(id) {
            _des = $('#pic_name');
            items = _des.children('option');
            for(var i = 0; i < items.length; i++) {
                if ($(items[i]).attr('value') == id) {
                    return true;
                }
            }
            return false;
        }
    });
</script>