<div class="page-header">
    <h1>List Company Group</h1>
</div>
<form action="" method="GET">
<div style="margin: 10px 0px;">
    <a href="/company-group/set-company-group" class="btn btn-primary">Set Company Group</a>
    <button value="1" name="export" class="btn btn-primary">Export</button> 
</div>
</form>
<?php
if (isset($this->messages) and $this->messages)
    foreach ($this->messages as $message):
        echo '<div class="alert alert-success">'.$message.'</div>';
    endforeach;

if (isset($this->messages_error) and $this->messages_error)
    foreach ($this->messages_error as $message):
        echo '<div class="alert alert-danger">'.$message.'</div>';
    endforeach;
?>
<style>
    .list-company-group ul
    {
        list-style-type: none;
    }

    .list-company-group > ul > li > ul >li > ul > li
    {
        padding: 5px 0px;
    }

    .list-company-group > ul > li > ul >li > ul > li a.company_group_edit
    {
        display: none;
        margin: 0px 3px;
        color: #01A5E1;
    }

    .list-company-group > ul > li > ul >li > ul > li a.company_group_edit:hover
    {
        color: #006BB9;
    }

    .list-company-group > ul > li > ul >li > ul > li:hover a.company_group_edit
    {
        display: inline-block;
    }

    .list-company-group span
    {
        cursor: pointer;
    }

    .list-company-group span:hover
    {
        color: #78CA7B;
    }

    label.label-group
    {
        display: inline-block;
    }

    

</style>
<div class="list-company-group"> 
<ul>
<?php
    foreach ($this->recursiveDeparmentTeamTitle as $key_deparment => $value_deparment) 
    {
        echo "<li>";
        echo "<span>" . $value_deparment['name'] . "</span>";
        echo "<ul>";
        foreach ($value_deparment['children'] as $key_team => $value_team) 
        {
            echo "<li>";
            echo "<span>" . $value_team['name'] . "</span>";
            echo "<ul>";
            foreach ($value_team['children'] as $key_title => $value_title) 
            {
                echo '<li>';
                    if(!empty($this->data[$key_title]))
                    {
                    ?>
                    <label class="label label-success label-group"><?php echo $this->data[$key_title]['company_group'] ?></label>
                    <?php
                    }
                    echo "<span>" . $value_title['name'] . "</span>";
                    if(!empty($this->data[$key_title]))
                    {
                    ?>
                    <a href="/company-group/remove?id=<?php echo $this->data[$key_title]['id'] ?>" class="company_group_edit">Remove</a>
                    <a href="/company-group/set-company-group?id=<?php echo $this->data[$key_title]['id'] ?>" class="company_group_edit">Edit</a>
                    <?php
                    }
                echo "</li>";
            }
            echo "</ul>";
            echo "</li>";
        }
        echo "</ul>";
        echo "</li>";
    }
?>
<ul>
</div>

<script>
    $('.list-company-group span').click(function () {
        $(this).parent('li').children('ul').toggle();
    });
</script>