<div class="page-header">
    <h1>List Groups CS</h1>
</div>
<?php
    if (isset($this->messages) and $this->messages)
        foreach ($this->messages as $message):
            echo '<div class="alert alert-success">'.$message.'</div>';
        endforeach;
?>

<div class="row-fluid">
    <div class="span12">
        <ul class="nav nav-tabs">
            <?php if ($this->access('group', 'index')){?>
            <li><a href="/group">GROUP</a></li>
            <?php }?>
            <li class="active"><a href="#">GROUP CS</a></li>
        </ul>
    </div>
</div>

<?php if ($this->access('group-cs', 'create')){?>
    <div class="row-fluid" style="margin-bottom: 10px;">
        <div class="span12">
            <a href="/group-cs/create" class="btn btn-success pull-right" title="Create Group CS">Create Group CS</a>
        </div>
    </div>
<?php }?>

<div class="table-responsive">
    <table class="table table-bordered">
        <thead>
        <tr>
            <th>#</th>
            <th>Name</th>
            <th>Action</th>
        </tr>
        </thead>
        <tbody>
            <?php
            if (isset($this->groups) and $this->groups)
                foreach ($this->groups as $k=>$group): ?>
            <tr>
                <td>
                    <?php
                    $inc = $this->offset + $k + 1;
                    echo $inc;
                    ?>
                </td>
                <td><?php echo $group['name'];?></td>
                <td class="">
                    <a title="Edit" href="/group-cs/create?id=<?php echo $group['id'];?>"> <i class="icon-edit"></i></a>
                    <a title="Delete" class="confirmLink" href="/group-cs/del?id=<?php echo $group['id'];?>"> <i class="icon-trash"></i></a>
                </td>
            </tr>
            <?php endforeach;?>

        </tbody>
    </table>
</div>
<div class="paging">
    <?php echo $this->paging($this->total, $this->limit, $this->offset, $this->url);?>
</div>
<script type="text/javascript" src="/js/jquery-ui-1.8.12.custom.min.js"></script>
<link rel="stylesheet" type="text/css" href="/css/jquery-ui-1.8.12.custom.css"/>
<?php echo $this->confirm();?>