<div class="page-header">
    <h1>Staff Analytics</h1>
    <h2>Region: <?php echo $this->regions[$this->region] . ( ! empty( $this->department ) ? ( ' / ' . $this->departments[$this->department] ) : '' ) ?></h2>
</div>
<div id="view-content">
	<button type="button" class="btn-primary show-as-image" title="Save chart as image">Save Chart As</button>
    <span>Tổng số NV: <?php echo $this->total ?></span> - 
    <span><a href="<?php echo HOST . 'staff/analytics' ?>">All Region</a></span>
    <?php if ( ! empty( $this->department ) ) : ?>
    	- <span><a href="<?php echo HOST . 'staff/analytics?regional_market=' . $this->region ?>">All Department</a></span>
	<?php endif; ?>
	<div id="chart"></div>
  <div class="table-responsive load-ajax">
    <?php
        echo $this->partial('staff/partials/analytics.phtml',array(
          'staff'      => $this->staffs,
          'url'         => $this->url,
          'sort'        => $this->sort,
          'desc'        => $this->desc,
          'offset'      => $this->offset,
          'departments' => $this->departments,
          'teams'       => $this->teams,
          'titles'      => $this->titles,
          'total'       => $this->total,
          'limit'       => $this->limit,
        ));
      ?>
  </div>
<script type="text/javascript" src="https://www.google.com/jsapi"></script>
    <script type="text/javascript">
      // Load the Visualization API and the piechart package.
      google.load('visualization', '1.0', {'packages':['corechart']});

      // Set a callback to run when the Google Visualization API is loaded.
      google.setOnLoadCallback(drawChart);
      var chart;
      var data;

      // Callback that creates and populates a data table,
      // instantiates the pie chart, passes in the data and
      // draws it.
      function drawChart() {

        // Create the data table.
        data = new google.visualization.DataTable();

        data.addColumn('string', 'Phòng ban');
        data.addColumn('number', 'ID');
        data.addColumn('number', 'Số NV');
        

        sdata = $.parseJSON('<?php echo $this->data; ?>');
        data.addRows(sdata);
        var view = new google.visualization.DataView(data);
        view.setColumns([0,2]);

        // Set chart options
        var options = {'title':'Thống kê số lượng nhân viên hiện tại theo vùng kinh doanh',
                       'width':750,
                       'height':450
                   };

        // Instantiate and draw our chart, passing in some options.
        chart = new google.visualization.PieChart(document.getElementById('chart'));
        chart.draw(view, options);

        google.visualization.events.addListener(chart, 'select', selectHandler);
      }

      function selectHandler(e) {
        var item = chart.getSelection()[0];
        var department = data.getFormattedValue( item.row, 1 );
        window.location = '<?php echo HOST . "staff/analytics?regional_market=" . $this->region ?>' + '&department='+department;
      }

      $(document).ready(function () {
          $( '.show-as-image' ).click(function (){
              // grChartImg.ShowImage('chart', true);
              l = grChartImg.GetImageData('chart');
              a = document.createElement('a');
              a.style.display = 'none';
              a.href = l;
              a.download = "chart.png";
              a.click();
          });
      });
</script>
<script type="text/javascript" src="/js/canvg/canvg.js"></script>
<script type="text/javascript" src="/js/canvg/rgbcolor.js"></script>
<script type="text/javascript" src="/js/grChartImg.js"></script>