<link href="/css/bootstrap.min.css" rel="stylesheet">
<?php if (isset($this->result) && $this->result == "success"): ?>
    <script type="text/javascript">parent.window.location = "<?php echo $this->back_url ?>";</script>
<?php endif ?>

<?php if (isset($this->error) && $this->error): ?>
    <div class="alert alert-error"><?php echo $this->error ?></div>
<?php endif ?>