<div class="page-header">
    <h1>Configure Sales Salary - <?php echo $this->province->name;?></h1>
</div>

<?php
if (isset($this->messages) and $this->messages)
    foreach ($this->messages as $message):
        echo '<div class="alert alert-error">'.$message.'</div>';
    endforeach;
?>


<div class="row">
    <div class="col-md-6">
        <form role="form" class="form-horizontal" id="form" action="<?php echo HOST.'staff/config-sales-edit';?>" method="post">
            <legend>Sales Salary Info</legend>
            <div class="form-body">  
            
                <div class="form-group">
                    <label class="col-md-3 control-label" for="bonus_salary">Total salary</label>
                    <div class="col-md-9">
                    <input type="text" class="form-control" id="bonus_salary" name="bonus_salary" required="required" value="<?php if (isset($this->item)): echo $this->item->bonus_salary; endif;?>">
                    </div>
                </div>
            
                <div class="form-group">
                    <label class="col-md-3 control-label" for="base_salary">Base salary</label>
                    <div class="col-md-9">
                    <input type="text" class="form-control" id="base_salary" name="base_salary" required="required" value="<?php if (isset($this->item)): echo $this->item->base_salary; endif;?>">
                </div>
                </div>
                
                <div class="form-group">
                    <label class="col-md-3 control-label" for="allowance_1">Food salary</label>
                    <div class="col-md-9">
                    <input type="text" class="form-control" id="allowance_1" name="allowance_1" value="<?php if (isset($this->item)): echo $this->item->allowance_1; endif;?>">
                     </div>
                </div>
                <div class="form-group">
                    <label class="col-md-3 control-label" for="allowance_2">Fuel salary</label>
                    <div class="col-md-9">
                    <input type="text" class="form-control col-md-3" id="allowance_2" name="allowance_2" value="<?php if (isset($this->item)): echo $this->item->allowance_2; endif;?>">
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-3 control-label" for="allowance_3">Phone salary</label>
                    <div class="col-md-9">
                    <input type="text" class="form-control col-md-3" id="allowance_3" name="allowance_3" value="<?php if (isset($this->item)): echo $this->item->allowance_3; endif;?>">
                    </div>
                </div>
                
                <div class="form-group">
                    <label class="col-md-3 control-label" for="probation_salary">Probation salary</label>
                    <div class="col-md-9">
                    <input type="text" class="form-control col-md-3" id="probation_salary" name="probation_salary" value="<?php if (isset($this->item)): echo $this->item->probation_salary; endif;?>">
                    </div>
                </div>

                <div class="form-group">
                    <label class="col-md-3 control-label" for="base_probation_salary">Basic Probation salary</label>
                    <div class="col-md-9">
                    <input type="text" class="form-control col-md-3" id="base_probation_salary" name="base_probation_salary" value="<?php if (isset($this->item)): echo $this->item->base_probation_salary; endif;?>">
                    </div>
                </div>

                <div class="form-group">
                    <label class="col-md-3 control-label" for="work_cost">Work cost</label>
                    <div class="col-md-9">
                    <input type="text" class="form-control col-md-3" id="work_cost" name="work_cost" value="<?php if (isset($this->item)): echo $this->item->work_cost; endif;?>">
                    </div>
                </div>
                
                <div class="form-group">
                    <label class="col-md-3 control-label" for="probation_salary">KPI</label>
                    <div class="col-md-9">
                    <textarea class="form-control" name="kpi" id="kpi"><?php if (isset($this->item)): echo $this->item->kpi; endif;?></textarea>
                    </div>
                </div>
                
            </div>

            <div class="row-fluid">  
                <div class="form-group">
                <div class="col-md-offset-1 col-md-9">
                    <input type="hidden" name="back_url" id="back_url" value="<?php isset($this->back_url) and $this->back_url and printf($this->back_url);?>">
                    <button type="submit" id="submit_btn" class="btn btn-primary ">Submit</button>
                    <button type="button" class="btn btn-danger go-back">Go back</button>
                    <input type="hidden"  name="province_id" id="province_id" value="<?php isset($this->province) and $this->province and printf($this->province->id);?>">
                </div>
                </div>
            </div>
        </form>
    </div>

</div>

<script type="text/javascript">

    $(document).ready(function () {
        $('.go-back').click(function(e){
            window.location.href = $('#back_url').val();

            return false;
        });


    });
</script>
