<style>
    .photo-list
    {
        border: 1px solid #aaa;
        border-radius: 4px;
        margin-bottom: 30px;
        padding: 10px;
        height: 400px;
    }

    .photo-list img{
      width: 100%;
      height: 100%;
      object-fit: cover;
      object-position: center;
    }

    .staff_img
    {
        text-align: center;
        height: 150px;
        overflow: hidden;
    }

    .button-group
    {
        margin: 10px 0px;
    }

    .button-group button, .button-group a
    {
        margin-top: 5px;
    }

    .button-group button
    {
        width: 100%;
        display: block;
    }

    .button-group a
    {
        display: block;
    }

    span.staff_name {
        display: block;
        font-size: 15px;
        margin: 5px 0px;
        font-weight: bold;
    }

    .span-info-group
    {
        width: 100%;
        overflow: hidden;
        margin: 0px;
    }

    .span-info-group > span
    {
        display: block;
        font-size: 12px;
    }

    .span-info-group > span > span
    {
        font-weight: bold;
    }

    .btn-download-all
    {
        margin: 10px 0px;
    }
</style>
<div class="page-header">
    <h1>List Quit's File</h1>
</div>
<?php
    if (isset($this->messages) and $this->messages)
        foreach ($this->messages as $message):
            echo '<div class="alert alert-error">'.$message.'</div>';
        endforeach;

    if (isset($this->messages_success) and $this->messages_success)
        foreach ($this->messages_success as $message):
            echo '<div class="alert alert-success">'.$message.'</div>';
        endforeach;
?>
<div class="accordion" id="accordion2">
    <div class="accordion-group">
        <div class="accordion-heading">
            <a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion2" href="#collapseTwo">
                Search
            </a>
        </div>
        <div id="collapseTwo" class="accordion-body collapse" style="height: 0px;">
            <div class="accordion-inner">
                <?php
                    echo $this->render('staff/partials/search-listquit.phtml');
                ?>
            </div>
        </div>
    </div>
</div>
<?php
    echo $this->render('staff/partials/list-quit.phtml');
?>
<script type="text/javascript" src="<?php echo HOST ?>js/bootstrap-multiselect.js"></script>
<link rel="stylesheet" href="<?php echo HOST ?>css/bootstrap-multiselect.css" type="text/css"/>
<script type="text/javascript" src="<?php echo HOST ?>js/jquery-ui-1.8.12.custom.min.js"></script>
<link rel="stylesheet" type="text/css" href="<?php echo HOST ?>css/jquery-ui-1.8.12.custom.css"/>
<script>
    options = {
            selectAllText: 'Select All',
            includeSelectAllOption: true,
            includeSelectAllIfMoreThan: 3,
            disableIfEmpty: true
        };

    $(document).ready(function () {
        $('.form-search button:reset').click(function (e){
            $('.form-search input, .form-search select').val('');
            $('.form-search').submit();
            return false;
        });

        multi();
    });

    function multi() {
        $('.multiselect').multiselect(options);
    }
</script>
