<div class="page-header">
	<h1>Print card mass upload</h1>
</div>

<?php if(!empty($this->success)): ?>
<div class="alert alert-success alert-dismissible" role="alert">
	<button type="button" class="close" data-dismiss="alert" aria-label="Close">
		<span aria-hidden="true">&times;</span>
	</button>
	<strong>Successfully!</strong>
</div>
<?php endif ?>
<?php if(!empty($this->error)): ?>
<div class="alert alert-danger alert-dismissible" role="alert">
	<button type="button" class="close" data-dismiss="alert" aria-label="Close">
		<span aria-hidden="true">&times;</span>
	</button>
	<strong>Error!</strong>
</div>
<?php endif ?>

<form action="" method="post">
	<textarea name="staff_code" rows="10" style="width:100%" placeholder="Staff code..."></textarea>
	<button type="submit">Submit</button>
</form>