<script type="text/javascript" src="/js/jquery-ui-1.8.12.custom.min.js"></script>
<script type="text/javascript" src="/js/jquery.checkboxtree.js"></script>
<link rel="stylesheet" type="text/css" href="/css/jquery-ui-1.8.12.custom.css"/>
<link rel="stylesheet" type="text/css" href="/css/jquery.checkboxtree.css"/>

<div class="page-header">
    <h1>Edit Priviledge</h1>
</div>
<?php
if (isset($this->messages) and $this->messages)
    foreach ($this->messages as $message):
        echo '<div class="alert alert-error">'.$message.'</div>';
    endforeach;
?>

<div class="row-fluid">
    <div class="span12">
        <ul class="nav nav-tabs">
            <li class="active"><a href="#tab_basic_info">Center</a></li>
        </ul>

        <div class="tab-content">
            <div class="tab-pane active" id="tab_basic_info"><?php echo $this->render( 'staff/partials/priviledge/erp.phtml' ) ?></div>
            <div class="tab-pane" id="tab_cs"></div>
        </div>
    </div>
</div>
