<div class="page-header">
    <h1>Reset PG password</h1>
</div>

<?php if (isset($this->messages) && $this->messages): ?>
    <?php foreach ($this->messages as $key => $value): ?>
        <div class="alert alert-danger"><?php echo $value ?></div>
    <?php endforeach ?>
<?php endif ?>

<?php if (isset($this->messages_success) && $this->messages_success): ?>
    <?php foreach ($this->messages_success as $key => $value): ?>
        <div class="alert alert-success"><?php echo $value ?></div>
    <?php endforeach ?>
<?php endif ?>

<form class="form-horizontal" method="post" action="<?php echo HOST ?>staff/save-password">
    <div class="control-group">
        <label class="control-label">Email</label>
        <div class="controls">
            <input type="text" name="email" value="">
        </div>
    </div>
    <div class="control-group">
        <label class="control-label">Password</label>
        <div class="controls">
            <input type="password" name="password1" class="password" id="password1" value="">
        </div>
    </div>
    <div class="control-group">
        <label class="control-label">Confirm Password</label>
        <div class="controls">
            <input type="password" name="password2" class="password" id="password2" value="">
        </div>
    </div>
    <div class="control-group">
        <div class="controls">
            <p class="help-block" style="color:red"></p>
        </div>
    </div>
    <div class="control-group">
        <div class="controls">
            <a href="<?php echo HOST ?>" class="btn btn-default">Cancel</a>
            <button type="submit" class="btn btn-info">Update</button>
        </div>
    </div>
    
</form>

<script type="text/javascript">
    $('.password').on('keyup', function(e) {
        password1 = $('#password1').val();
        password2 = $('#password2').val();
        if (password1 != password2 && password2 != '')
            $('.help-block').text('Password does not match');
        else
            $('.help-block').text('');
    })
</script>