<div>
	<h3>Thông tin ca làm việc</h3>
	<div class="control-group">
        <label for="shift_type" class="span2">Chọn ca làm việc</label>
        <select name="shift_type" id="shift_type">
            <option value="">---</option>
            <option <?php if($this->staff_shift['begin'] == '08:00:00' AND $this->staff_shift['end'] == '17:30:00') echo 'selected';?> value="1">Ca 8h</option>
            <option <?php if($this->staff_shift['begin'] == '09:00:00') echo 'selected'; ?> value="2">Ca 9h</option>
            <option <?php if($this->staff_shift['begin'] == '08:00:00' AND $this->staff_shift['end'] == '17:00:00') echo 'selected';?> value="3">Ca 8h Warranty</option>
			<option <?php if($this->staff_shift['begin'] == '08:30:00' AND $this->staff_shift['end'] == '18:00:00') echo 'selected';?> value="4">Ca 8h30 Logistics</option>
                        
        </select>
    </div>
	<table class="table">
    	<thead>
            <th>Bắt đầu</th>
            <th>Bắt đầu nghỉ trưa</th>
            <th>Kết thúc nghỉ trưa</th>
            <th>Kết thúc</th>
        </thead>
        <tbody>
        <?php if(!empty($this->staff_shift))
        {
        ?>
        <tr>
        	<td><?php echo $this->staff_shift['begin'];?></td>
        	<td><?php echo $this->staff_shift['begin_break_time'];?></td>
        	<td><?php echo $this->staff_shift['end_break_time'];?></td>
        	<td><?php echo $this->staff_shift['end'];?></td>
		</tr>
        <?php 
            }else{
                echo 'Chưa set ca làm việc';
            }
        ?>
        </tbody>
        
	</table>
</div>


<div>
    <h3>Thông tin máy chấm công</h3>
</div>
<div>
<button class="btn btn-primary" type="button" id="add_time_machine">Add</button>
<input class="btn btn-danger" type="submit" name="off_all_machine" value="Off All" text="Off All">
<a href="#" class="btn btn-info" id="staff_refresh"> Refresh</a>
</div>
<table class="table">
    <thead>
        <th>ID vân tay</th>
        <th>Tên máy</th>
        <th>Trạng thái</th>
        <th></th>
    </thead>
    <tbody id="table_time_machine">
        <tr id="clone_machine" style="display: none">
            <td>
                <input type="number" class="enroll_number" name="enroll_number" value="<?php echo $staff_ip['enroll_number'] ?>" />
                <input type="hidden" class="check_in_machine_id" disabled value="<?php if(isset($staff_ip['id'])) echo $staff_ip['id'] ?>" />
            </td>
            <td>
                <select name="ip_machine" class="ip_machine" >
                <?php
                foreach ($this->data_ip as $data_ip_info) 
                {
                ?>
                    <option value="<?php echo $data_ip_info['IpAddDevice'] ?>" <?php echo ($data_ip_info['IpAddDevice']==$staff_ip['ip_machine'])?'selected':''; ?> >
                        <?php echo $data_ip_info['NameDevice'] ?>
                    </option>
                <?php
                }
                ?>
                </select>
            </td>
            <td>
                <select name="status_machine" class="status_machine" >
                    <option value="1" selected >On</option>
                    <option value="-1" >Off</option>
                </select>
            </td>
            <td>

                <button type="button" class="del_time btn btn-danger">X</button>
            	<a href="#" class="add_time btn btn-success"><i class="icon-ok"></i></a>
            </td>
        </tr>
    <?php
   
    foreach ($this->data_staff_ip as $key => $staff_ip) 
    {
    ?>
        <tr>
            <td>
                <input type="number" class="enroll_number" name="enroll_number" value="<?php echo $staff_ip['enroll_number'] ?>" />
                <input type="hidden" class="check_in_machine_id" disabled value="<?php if(isset($staff_ip['id'])) echo $staff_ip['id'] ?>" />
            </td>
            <td>
                <select name="ip_machine" class="ip_machine">
                <?php
                foreach ($this->data_ip as $data_ip_info) 
                {
                ?>
                    <option value="<?php echo $data_ip_info['IpAddDevice'] ?>" <?php echo ($data_ip_info['IpAddDevice']==$staff_ip['ip_machine'])?'selected':''; ?> >
                        <?php echo $data_ip_info['NameDevice'] ?>
                    </option>
                <?php
                }
                ?>
                </select>
            </td>
            <td>
                <select name="status_machine" class="status_machine">
                    <option value="1" <?php echo ($staff_ip['status'] == 1)?'selected':''; ?>>On</option>
                    <option value="-1" <?php echo ($staff_ip['status'] == 0)?'selected':''; ?>>Off</option>
                </select>
            </td>
            <td >
                <button type="button" class="del_time btn btn-danger">X</button>
                <a href="#" class="add_time btn btn-success"><i class="icon-ok"></i></a>
            </td>
        </tr>
    <?php
    }
    ?>
    </tbody>
</table>

<script>

    function addTime(object) {
        var _self = $(object);
        var enroll_number = _self.parents('tr').find('.enroll_number').val();
        var checkInMachineId = _self.parents('tr').find('.check_in_machine_id').val();
        var ip_machine = _self.parents('tr').find('.ip_machine').val();
        var status_machine = _self.parents('tr').find('.status_machine').val();
        if(!enroll_number || !ip_machine){
            alert('Vui lòng nhập đầy đủ các thông tin máy chấm công');
            return;
        }
        $.ajax({
            type: 'post',
            url: '/staff/update-device',
            data: {
                "check_in_machine_id": checkInMachineId,
                "enroll_number": enroll_number,
                "ip_machine"   : ip_machine,
                "staff_id"     : $('#id').val(),
//                "staff_code"   : $('#code').val(),
                "staff_code"   : <?php echo $this->staff->code;?>,
                "status_machine" : status_machine
            },
            dataType: 'json',
            cache: false,
            success: function(data) {
//                _self.parent('td').find('.loading').remove();
                if(data.status === 1) {
                    _self.parents('tr').find('.check_in_machine_id').val(data.check_in_machine_id);
                    alert('Thành công!');
                }
                if(data.status === 0) {
                    if(checkInMachineId === undefined) {
                        alert('Không thể thêm thông tin máy chấm công. Vui lòng kiểm tra lại dữ liệu nhập vào!');
                    } else {
                        alert('Không thể cập nhật thông tin máy chấm công. Vui lòng kiểm tra lại dữ liệu nhập vào!');
                    }
                }
                if(data.status === -1) {
                    alert('Dữ liệu nhập vào bị trùng với thông tin máy chấm công khác, Vui lòng kiểm tra lại!');
                }
            }
        });
    }

    function delTime(object) {
        var _self = $(object);
        var checkInMachineId = _self.parents('tr').find('.check_in_machine_id').val();
        if (checkInMachineId === undefined || checkInMachineId.length === 0) {
            _self.closest('tr').remove();
            return;
        }
        var r = confirm("Bạn có muốn xóa thông tin này?");
        if (r === true) {
            $.ajax({
                type: 'post',
                url: '/staff/del-device',
                data: {
                    id: checkInMachineId
                },
                dataType: 'json',
                success: function (data) {
                    if (data.status === 1) {
                        _self.closest('tr').remove();
                    } else {
                        alert("Không thể xóa thông tin máy chấm công!");
                    }
                },
                error: function () {
                    _self.parent('td').find('.loading').remove();
                    alert("Không thể xóa thông tin máy chấm công!");
                }
            })
        }
    }

    $('#add_time_machine').click(function () {
        var time_html = $('#clone_machine').clone();
        time_html.attr('id', '');
        time_html.show();
        $('#table_time_machine').append(time_html);

        time_html.find('.add_time').click(function() {
            addTime(this);
        });

        time_html.find('.del_time').click(function() {
            delTime(this);
        });
    });

    $('.add_time').click(function() {
        addTime(this);
    });

    $('.del_time').on('click', function() {
        delTime(this);
    });

    $('#reload_machine').click(function () {
        location.reload();
    });

	$('#shift_type').change(function(){
		var shift_type = $('#shift_type').val();
		if(shift_type != ''){
			$.ajax({
	            type: 'get',
	            url: '/staff/update-shift',
	            data:
	            {
	                "shift_type" : shift_type,
	                "staff_code" : <?php echo $this->staff->code;?>,
	                
	            },
	            typeType: 'json',
	            cache: false,
	            success: function (data)
	            {
	                var obj = JSON.parse(data);
	                alert('Thành công!');
	            }
	        });
		}
		
	});

    $('#staff_refresh').click(function(){
		$.ajax({
            type: 'get',
            url: '/staff/refresh-time',
            data:
            {
            	"staff_id"   : $('#id').val(),
                "staff_code" : $('#code').val()
            },
            typeType: 'json',
            cache: false,
            success: function (data)
            {
                var obj = JSON.parse(data);
               alert('Thành công!');
            }
        });
    });

    /*$('#table_time_machine').on('click', '.add_time', function () {

    var enroll_number = 	$('.add_time').parent('tr').find('input.enroll_number').val();
				alert(enroll_number);
    });*/
</script>