<style>
    .form-horizontal .control-label{text-align: left;}
    .accordion-inner{height: 400px}
    .accordion-inner img{max-width: 90%;display: block;margin: 0 auto;}
    .flex-direction-nav .flex-next{line-height: 56px;}
    .flex-direction-nav .flex-prev{line-height: 56px;}
    
    .staff-photo{max-width:200px !important;}
</style>

<div class="page-header">
    <h1>Update Body Info</h1>
</div>
<?php
if (isset($this->messages) and $this->messages)
    foreach ($this->messages as $message):
        echo '<div class="alert alert-success">' . $message . '</div>';
    endforeach;

if (isset($this->messages_error) and $this->messages_error)
    foreach ($this->messages_error as $messages_error):
        echo '<div class="alert alert-danger">' . $messages_error . '</div>';
    endforeach;
?>

<div class="main">

    <div class="main-inner">

        <div class="container">

            <div class="row">

                <div class="span12">      		

                    <div class="widget ">

                        <div class="widget-header">
                            <i class="icon-user"></i>
                            <h3>Info Staff</h3>
                        </div> <!-- /widget-header -->

                        <div class="widget-content">



                            <form id="edit-profile" class="form-horizontal" method='POST' enctype="multipart/form-data">
                                <fieldset>
                                    <div class="row">
                                        <div class="span5">
                                            
                                            
                                            <div class="control-group">											
                                                <label class="control-label" for="username">Image:</label>
                                                <div class="controls">
                                                    <img class="staff-photo" src="/photo/staff/<?php echo !empty($this->staff['id']) ? $this->staff['id'] : NULL;?>/<?php echo !empty($this->staff['photo']) ? $this->staff['photo'] : NULL;?>">
                                                </div> <!-- /controls -->				
                                            </div> <!-- /control-group -->
                                        </div>
                                    </div>
                                    
                                    
                                    
                                    <div class="row">
                                        <div class="span5">        
                                            <div class="control-group">											
                                                <label class="control-label" for="username">Staff Name:</label>
                                                <div class="controls">
                                                    <label><?php echo $this->staff['fullname'];?></label>
                                                </div> <!-- /controls -->				
                                            </div> <!-- /control-group -->


                                            <div class="control-group">											
                                                <label class="control-label" for="username">Staff Code:</label>
                                                <div class="controls">
                                                    <label><?php echo !empty($this->staff['code']) ? $this->staff['code'] : NULL;?></label>
                                                </div> <!-- /controls -->				
                                            </div> <!-- /control-group -->


                                            <div class="control-group">											
                                                <label class="control-label" for="username">Team:</label>
                                                <div class="controls">
                                                    <label><?php echo !empty($this->staff['team_name']) ? $this->staff['team_name'] : NULL;?></label>
                                                </div> <!-- /controls -->				
                                            </div> <!-- /control-group -->

                                            <div class="control-group">											
                                                <label class="control-label" for="username">Title:</label>
                                                <div class="controls">
                                                    <label><?php echo !empty($this->staff['title_name']) ? $this->staff['title_name'] : NULL;?></label>
                                                </div> <!-- /controls -->				
                                            </div> <!-- /control-group -->
                                            
                                            <div class="control-group">											
                                                <label class="control-label" for="username">Area:</label>
                                                <div class="controls">
                                                    <label><?php echo !empty($this->staff['area_name']) ? $this->staff['area_name'] : NULL;?></label>
                                                </div> <!-- /controls -->				
                                            </div> <!-- /control-group -->
                                            
                                            <div class="control-group">											
                                                <label class="control-label" for="username">Province:</label>
                                                <div class="controls">
                                                    <label><?php echo !empty($this->staff['province_name']) ? $this->staff['province_name'] : NULL;?></label>
                                                </div> <!-- /controls -->				
                                            </div> <!-- /control-group -->
                                            
                                            

                                            

                                        </div>
                                        
                                        <div class="span5">

                                            
                                        </div>
                                        
                                        
                                    
                                    </div><!-- row -->
                                    
                                    <br /> <br /> <br />
                                    
                                   
                                    
                                    
                                    <div class="form-actions">
                                        
                                        <div class="control-group">
                                            <label class="control-label" for="username">Height (centimet):</label>
                                            <div class="controls">
                                                <input type="number" id="height" data-id="" placeholder="Enter Height" name="height" value="<?php echo !empty($this->staff['height']) ? $this->staff['height'] : NULL;?>">
                                            </div> <!-- /controls -->
                                        </div> <!-- /control-group -->
                                        
                                        <div class="control-group">
                                            <label class="control-label" for="username">Weight (kg):</label>
                                            <div class="controls">
                                                <input type="number" id="weight" data-id="" placeholder="Enter Weight" name="weight" value="<?php echo !empty($this->staff['weight']) ? $this->staff['weight'] : NULL;?>">
                                            </div> <!-- /controls -->
                                        </div> <!-- /control-group -->
                                        
                                        <div class="control-group">
                                            <label class="control-label" for="username">Image Body:</label>
                                            <div class="controls">
                                                <input type="file" id="image_body" name="image_body" class="has-preview">
                                            </div> <!-- /controls -->
                                        </div> <!-- /control-group -->
                                        
                                        <?php if(!empty($this->staff['image_body'])):?>
                                        <div class="control-group">
                                            <label for="photo" class="control-label">Current Full Body Image</label>
                                            <div class="controls">
                                                
                                                    <a target="_blank" title="View" href="<?php echo '/files/staff/'.$this->staff['id'].'/IMAGE_body/'.$this->staff['image_body'];  ?>"><img width="210" height="239" class="staff-photo" src="<?php echo '/files/staff/'.$this->staff['id'].'/IMAGE_body/'.$this->staff['image_body'];  ?>" /></a>
                                                
                                            </div>
                                        </div>
                                        <?php endif;?>

                                        
                                        <input type="hidden" name='id' value='<?php echo $this->staff['id'];?>' />

                                        <button type="submit" name='submit' class="btn btn-primary" value='1'>Cập nhật</button>
                                        
                                        
                                    </div> <!-- /form-actions -->
                                    
                                </fieldset>
                            </form>




                        </div> <!-- /widget-content -->

                    </div> <!-- /widget -->

                </div> <!-- /span8 -->




            </div> <!-- /row -->

        </div> <!-- /container -->

    </div> <!-- /main-inner -->

</div> <!-- /main -->

<script type="text/javascript" src="<?php echo HOST ?>js/bootstrap-multiselect.js"></script>
<link rel="stylesheet" href="<?php echo HOST ?>css/bootstrap-multiselect.css" type="text/css"/>
<script type="text/javascript" src="<?php echo HOST ?>js/jquery-ui-1.8.12.custom.min.js"></script>
<link rel="stylesheet" type="text/css" href="<?php echo HOST ?>css/jquery-ui-1.8.12.custom.css"/>


<script type="text/javascript" src="<?php echo HOST ?>bootstrap3/flexslider/jquery_flexslider.js"></script>
<link rel="stylesheet" type="text/css" href="<?php echo HOST ?>bootstrap3/flexslider/flexslider.css"/>
<script>


    $(document).ready(function () {
        $(window).on('load', function() {
            $('.flexslider').flexslider({
              animation: "slide"
            });
          });
    });
</script>