
<style>
    iframe {
        width: 100%;
        min-height: 200px;
    }
 .logo-oppo{
        background: #008B56;
    }
h1{
        text-transform: uppercase;
        color: #008B56;
        font-size: 20px;
        margin-top: 30px;
        text-align: center;
    }
</style>
<div class="page-header">
    <h1>Information</h1>
    <h1>BANK - DEPENDENT PERSON - TAX </h1>
</div>

<iframe src="" frameborder="0" name="iframe" id="iframe" height="100px"></iframe>




<div>

  <!-- Nav tabs -->
  <ul class="nav nav-tabs" role="tablist">
    <li role="presentation" class="active"><a href="#home" aria-controls="home" role="tab" data-toggle="tab">Upload Bank</a></li>
    <li role="presentation"><a href="#profile" aria-controls="profile" role="tab" data-toggle="tab">Upload Dependent Person</a></li>
    <li role="presentation"><a href="#tax" aria-controls="profile" role="tab" data-toggle="tab">Upload Tax</a></li>
    <li role="presentation"><a href="/staff/view-bank-area" aria-controls="profile" role="tab" >Export Bank</a></li>
    <li role="presentation"><a href="#exportDependent" aria-controls="tab" role="tab" data-toggle="tab">Export Dependent Person</a></li>

    <li role="presentation"><a href="/staff/view-pti-area" aria-controls="profile" role="tab" >Export Tax</a></li>
  </ul>

  <!-- Tab panes -->
<div class="tab-content">
  <div role="tabpanel" class="tab-pane active" id="home">
      
    <div class="accordion" id="accordion2">
        <div class="well">
            <div class="row-fluid">
                <div class="span4">
                    <label>Bank Template <a class="btn btn-info btn-mini" href="<?php echo HOST ?>files/staff/bank/bank-template.xlsx">Download</a>
                    </label>
                </div>
            </div>
        </div>
    </div>

    <form action="<?php echo HOST ?>staff/upload-data-staff" id="form" target="iframe" class="form-inline" method="post" enctype="multipart/form-data">
        <div class="row">
            
            <div class="span6">
                <label for="" class="span4">Upload File <span style="color: red">*</span>
                    <input type="file" class="span4" name="file"/>
                </label>

            </div>

            
        </div>
        <br>
        <div class="row">
            <div class="span12">
                <br>
                <button id="submit_btn" class="btn btn-danger" name="upload" value="1">Upload Bank</button>
            </div>
        </div>
    </form>
    <div class="row">
        <div class="span12">
            <div class="progress progress-striped active">
                <div class="bar" style="width: 0%;"></div>
            </div>
        </div>
    </div>

  </div>
  <div role="tabpanel" class="tab-pane" id="profile">
      
        <div class="accordion" id="accordion2">
            <div class="well">
                <div class="row-fluid">
                    <div class="span4">
                        <label>Dependent Person Template <a class="btn btn-info btn-mini" href="<?php echo HOST ?>files/staff/dependent-person/dependent-person-template.xlsx">Download</a>
                        </label>
                      
                    </div>
                      
                </div>
            </div>
        </div>

        <form action="<?php echo HOST ?>staff/upload-data-staff" id="form" target="iframe" class="form-inline" method="post" enctype="multipart/form-data">
            <div class="row">
                <div class="span6">
                    <label for="" class="span4">Upload File <span style="color: red">*</span>
                        <input type="file" class="span4" name="file"/>
                    </label>

                </div>

                
            </div>
            <br>
            <div class="row">
                <div class="span12">
                    <br>
                    <button id="submit_btn" class="btn btn-warning" name="upload" value="2">Upload PIT</button>
                </div>
            </div>
        </form>
        <div class="row">
            <div class="span12">
                <div class="progress progress-striped active">
                    <div class="bar" style="width: 0%;"></div>
                </div>
            </div>
        </div>

  </div>



  <div role="tabpanel" class="tab-pane" id="tax">
      
        <div class="accordion" id="accordion2">
            <div class="well">
                <div class="row-fluid">
                    <div class="span4">
                        <label>Tax Template <a class="btn btn-info btn-mini" href="<?php echo HOST ?>files/staff/mst/pti-template.xlsx">Download</a>
                        </label>
                      
                    </div>
                      
                </div>
            </div>
        </div>

        <form action="<?php echo HOST ?>staff/upload-data-staff" id="form" target="iframe" class="form-inline" method="post" enctype="multipart/form-data">
            <div class="row">
                <div class="span6">
                    <label for="" class="span4">Upload File <span style="color: red">*</span>
                        <input type="file" class="span4" name="file"/>
                    </label>

                </div>

                
            </div>
            <br>
            <div class="row">
                <div class="span12">
                    <br>
                    <button id="submit_btn" class="btn btn-info" name="upload" value="3">Upload Tax</button>
                </div>
            </div>
        </form>
        <div class="row">
            <div class="span12">
                <div class="progress progress-striped active">
                    <div class="bar" style="width: 0%;"></div>
                </div>
            </div>
        </div>
  </div>
  <div role="tabpanel" class="tab-pane" id="exportDependent">
      

        <div class="accordion" id="accordion2">
            <div class="well">
                <div class="row-fluid">
                    <div class="span4">
                        <label>Dependent Person <a target="_blank"class="btn btn-info btn-mini" href="<?php echo HOST ?>staff/export-dependent-person">Export</a>
                        </label>
                      
                    </div>
                      
                </div>
            </div>
        </div>

  </div>

</div>
</div>

 












<script>
    function set_progress(percent) {
        $('.bar').css('width', percent + '%');
        $('.bar').html(percent + '%');
    }


    $('#myTabs a').click(function (e) {
          e.preventDefault()
          $(this).tab('show')
        });

    $('#myTabs a[href="#profile"]').tab('show'); // Select tab by name
    $('#myTabs a:first').tab('show'); // Select first tab
    $('#myTabs a:last').tab('show'); // Select last tab
    $('#myTabs li:eq(2) a').tab('show'); // Select third tab (0-indexed)
</script>