<div class="page-header">
    <h1>List Bank Info</h1>
</div>
<?php
    if (isset($this->messages) and $this->messages)
        foreach ($this->messages as $message):
            echo '<div class="alert alert-error">'.$message.'</div>';
        endforeach;

    if (isset($this->messages_success) and $this->messages_success)
        foreach ($this->messages_success as $message):
            echo '<div class="alert alert-success">'.$message.'</div>';
        endforeach;
?>
<div class="accordion" id="accordion2">
    <div class="accordion-group">
        <div class="accordion-heading">
            <a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion2" href="#collapseTwo">
                Search
            </a>
        </div>
        <div id="collapseTwo" class="accordion-body collapse" style="height: 0px;">
            <div class="accordion-inner">
                <form class="form-search form-horizontal" method="get" action="/staff/view-bank-area">
				    <div class="row">
				        <div class="span5">
				            <div class="control-group">
				                  <label for="off" class="span2">Area</label>
				                <select class="form-control" name="area_id">
					                <option value="">Please select</option>
					                <?php foreach ($this->list_area as $k => $v):?>
					                    <option value="<?php echo $k;?>" <?php if(isset($this->params['area_id']) and $this->params['area_id'] and $this->params['area_id'] == $k ) echo "selected" ?> ><?php echo $v;?></option>
					                <?php endforeach;?>
					            </select>
				            </div>

				            <div class="control-group">
				                <label for="code" class="span2">Staff code</label>
				                <input id="code" name="code" type="text" class="input-large search-query form-control" value="<?php isset($this->params['code']) and printf($this->params['code']);?>">
				            </div>

				            <div class="control-group">
				                <label for="email" class="span2">Name</label>
				                <input id="email" name="full_name" type="text" class="input-medium search-query form-control" value="<?php isset($this->params['fullname']) and printf($this->params['fullname']);?>">
				            </div>
				         
				          </div>
				    </div>

				    <button type="submit" class="btn btn-primary">Search</button>
				    <button type="reset" class="btn btn-warning">Reset</button>
				    <button type="submit" name="export" value="1" class="btn btn-success">Export</button>

				</form>
            </div>
        </div>
    </div>
</div>
<?php
$userStorage = Zend_Auth::getInstance()->getStorage()->read();
//if($userStorage->id == 5899):?>
<p>
    <?php if($this->lock['status'] == 0):?>
        <a href="/staff/lock-unlock-upload-bank-area" class="btn btn-success"><i class="icon icon-unlock"></i> Lock</a>
    <?php else:?>
        <a href="/staff/lock-unlock-upload-bank-area" class="btn btn-danger"><i class="icon icon-lock"></i> Unlock</a>
    <?php endif;?>

    <a href='#myModalDelete' data-toggle="modal" class="btn btn-warning pull-right"><i class="icon icon-refresh"></i> Reset </a>
</p>
<?php //endif;
?>
<div class="table-responsive">
   <table class="table table-bordered">
    <thead>
        <tr>
            <?php echo $this->sorting(array(
                    '#',
                    'Code',
                    'Name',
                    'CMND',
                    'Area',
                    'Bank Number',
                    'Bank Name',
                    'Bank Brand',
                    'Bank Province',
                    'Created At',
                    'Note'
                    // 'Action'
                ),
                $this->url, $this->sort, $this->desc); ?>
        </tr>
    </thead>
    <tbody>
        <?php
        if (isset($this->list) and $this->list)
            foreach ($this->list as $key => $value): ?>
       		<?php $inc = $this->offset + $key + 1;?>
        <tr>
        	<td><?php echo $inc;?></td>

        	<td><?php echo $value['staff_code'];?></td>

        	<td><?php echo $value['full_name'];?></td>

        	<td><?php echo $value['cmnd'];?></td>

        	<td><?php echo $value['area_name'];?></td>

        	<td><?php echo $value['bank_number'];?></td>
        	<td><?php echo $value['bank_name'];?></td>
        	<td><?php echo $value['bank_brand'];?></td>
        	<td><?php echo $value['bank_province'];?></td>
        	<td><?php echo $value['created_at'];?></td>
        	<td><?php echo $value['note'];?></td>
        	

        </tr>
        <?php endforeach;?>

    </tbody>
</table>
	<div class="paging">
	    <?php echo $this->paging($this->total, $this->limit, $this->offset, $this->url);?>
	</div>

	<div id="modal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">

	</div>	  
</div>

<div id="myModalDelete" class="modal fade" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" style="color: red;"><i class="icon icon-warning-sign"></i> Cảnh báo </h4>
            </div>
            <div class="modal-body">
                <p id="confirm_delete_text">Bạn có chắc chắn muốn xóa ? </p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Hủy</button>
                <a href="/staff/reset-upload-bank-area" type="button" id="btn_del_confirm" class="btn btn-danger">Xóa</a>
            </div>
        </div>
    </div>
</div><!-- /.modal -->


<script type="text/javascript" src="<?php echo HOST ?>js/bootstrap-multiselect.js"></script>
<link rel="stylesheet" href="<?php echo HOST ?>css/bootstrap-multiselect.css" type="text/css"/>
<script type="text/javascript" src="<?php echo HOST ?>js/jquery-ui-1.8.12.custom.min.js"></script>
<link rel="stylesheet" type="text/css" href="<?php echo HOST ?>css/jquery-ui-1.8.12.custom.css"/>
<script>
    options = {
            selectAllText: 'Select All',
            includeSelectAllOption: true,
            includeSelectAllIfMoreThan: 3,
            disableIfEmpty: true
        };
        
    $(document).ready(function () {
        $('.form-search button:reset').click(function (e){
            $('.form-search input, .form-search select').val('');
            $('.form-search').submit();
            return false;
        });

        multi();
    });

    function multi() {
        $('.multiselect').multiselect(options);
    }
</script>
<?php echo $this->confirm();?>
<?php echo $this->load('combobox');?>