<div class="row-fluid">
    <div class="span6">
        <div class="control-group">
            <label for="title">Tên hiển thị</label>
            <input type="text" class="form-control col-10" id="title" name="title" required="required" value="<?php if (isset($this->job) and $this->job->title): echo $this->job->title; endif;?>">
        </div>
    </div>
    
    
    <div class="span6">
        <label for="title">Vị trí tuyển</label>
        <select name="department" id="department" class="col-3"  <?= (!empty($this->staffSpecial)) ? "readonly":"";?>  >
            <option value="">Bộ phận</option>
            <?php if (isset($this->listDepartment) and ($this->listDepartment)):?>
                <?php foreach ($this->listDepartment as $key=>$value):?>
                    <option value="<?php echo $value['id']?>" rel="<?php echo $value['name']?>" <?php echo ($this->job->department == $value['id']) ? "selected" : null;?>
                    <?= (!empty($this->staffSpecial) AND $this->userStorage->department == $value['id']) ? "selected":"";?>
                    >
                        <?php echo $value['name'];?>  
                    </option>
                <?php endforeach;?>
            <?php endif;?>
        </select>
        
        <select name="team" id="team" class="col-3" <?= (!empty($this->staffSpecial)) ? "readonly":"";?> >
            <option value="">Team</option>
            <?php if (isset($this->team_view) and ($this->team_view)):?>
                <?php foreach ($this->team_view as $key=>$value):?>
                <option value="<?php echo $value['id']?>" rel="<?php echo $value['name']?>" <?php echo ($this->job->team == $value['id']) ? "selected" : null;?>
                <?= (!empty($this->staffSpecial) AND $this->userStorage->team == $value['id']) ? "selected":"";?>
                >
                        <?php echo $value['name'];?>  
                    </option>
                <?php endforeach;?>
            <?php endif;?>
        </select>
        
        <select name="job_title" id="job_title" class="col-3">
            <option value="">Vị trí</option>
            <?php if (isset($this->team_title) and ($this->team_title)):?>
                <?php foreach ($this->team_title as $key=>$value):?>
                <option value="<?php echo $value['id']?>" rel="<?php echo $value['name']?>" <?php echo ($this->job->job_title == $value['id']) ? "selected" : null;?>>
                        <?php echo $value['name'];?>  
                    </option>
                <?php endforeach;?>
            <?php endif;?>
        </select>
        

    </div>
<!--
    <div class="span3">
        <?php echo $this->render('manage/notification/partials/select-category.phtml') ?>
    </div>

    -->
</div>

<div class="row-fluid">
    <div class="span6">
        <div class="control-group">
            <label for="area_id" class="control-label">Khu vực đăng</label>
            <div class="controls">
                <select id="area_id" class="col-10" name="area_id">
                    <option value>Choose</option>
                    <?php 
                    if (isset($this->areas) && $this->areas) :
                        foreach ($this->areas as $_key => $_value):
                    ?>
                            <option value="<?php echo $_value ;?>"><?php echo $this->areas_catche[$_value];?></option>
                    
                    <?php
                        endforeach;
                    else:
                        foreach ($this->areas_all as $_key => $_value):
                            ?>
                            <option value="<?php echo $_key ;?>"><?php echo $_value;?></option>
                        <?php
                        endforeach;
                    endif;
                    ?>
                </select>
            </div>
        </div>
    </div>

    <div class="span6">
        <div class="control-group">
            <label for="regional_market" class="control-label">Tỉnh hiển thị</label>
            <div class="controls">
                <select id="regionals" class="span6" multiple="multiple" style="height: 100px;">
                    <?php if (isset($this->job_regional) && $this->job_regional): ?>
		    			<?php foreach ($this->job_regional as $key=>$value): ?>
		    				<option value="<?php echo $value['id'] ?>"><?php echo $value['name'] ?></option>
		    			<?php endforeach ?>
		    		<?php endif ?>
                </select>
            
                <select id="regional_market" class="span6" name="regional_market">
                    <option value>Chọn</option>
                    <?php
                    if ($this->regional_markets) :
                        foreach ($this->regional_markets as $regional_market):?>
                            <option value="<?php echo $regional_market->id;?>" <?php if ($this->job->regional_market_id == $regional_market->id):?>selected<?php endif;?>><?php echo $regional_market->name;?></option>
                        <?php
                        endforeach;
                    endif;
                    ?>
                </select>
                
                <div class="control-group mt-2">
                    <input type="hidden" name="regionals" id="area" />
			    	<button type="button" id="remove_area_btn" class="btn btn-danger">Bỏ tỉnh chọn</button>
			    	<button type="button" id="add_area_btn" class="btn btn-info pull-right">Thêm</button>
			    </div>
                
            </div>
        </div>
    </div>

</div>



<div class="row-fluid">
    <div class="span6">
        <div class="span2" style="margin-left:0px">
            <div class="control-group">
                <label for="content">Tuyển dụng từ ngày</label>
                <input type="text" class="form-control span2 date" id="from" name="from" required="required" value="<?php if (isset($this->job)): echo date('d/m/Y' , strtotime($this->job->from)); endif;?>">
            </div>
        </div>

        <div class="span2">
            <div class="control-group">
                <label for="content">Tuyển dụng đến ngày</label>
                <input type="text" class="form-control span2 date" id="to" name="to" required="required" value="<?php if (isset($this->job)): echo date('d/m/Y' , strtotime($this->job->to)); endif;?>">
            </div>
        </div>
    </div>
    <div class="span6">
        <div class="control-group">
            <label for="hot">Loại hình làm việc:</label>
            <?php $job_type = unserialize(JOB_TYPE);?>
            <select name="job_type">
                <option value="">--Loại hình--</option>
                <?php foreach ($job_type as $key => $value):?>
                <option value="<?php echo $key;?>" <?php echo (isset($this->job->job_type) and $this->job->job_type == $key) ? 'selected' : null;?>><?php echo $value;?></option>
                <?php endforeach;?>
            </select>

        </div>
    </div>
</div>

<div class="row-fluid">
    <div class="span6">
        <div class="control-group">
            <label for="content">Nghành: </label>
            <select name="category">
                <option value="">-- Ngành --</option>
                <?php foreach ($this->job_cat as $key => $value):?>
                <option value="<?php echo $key?>" <?php if($this->job->category == $key){echo "selected";}?>><?php echo $value;?></option>
                <?php endforeach;?>
            </select>
        </div>
    </div>
    <div class="span6">
        <div class="control-group">
            <label for="job_group">Loại hình đăng tuyển</label>

            <select name="job_group" required>
                <option value="">--Loại hình--</option>
                <option value="1" <?php echo (!empty($this->job->job_group) and $this->job->job_group == 1) ? "selected" : NULL;?>>Kinh Doanh Bán Hàng, Thu Mua</option>
                <option value="3" <?php echo (!empty($this->job->job_group) and $this->job->job_group == 3) ? "selected" : NULL;?>>Nhân Sự, Đào Tạo, Tài Chính</option>
                <option value="5" <?php echo (!empty($this->job->job_group) and $this->job->job_group == 5) ? "selected" : NULL;?>>Kỹ Thuật, Công Nghệ Thông Tin</option>
                <option value="8" <?php echo (!empty($this->job->job_group) and $this->job->job_group == 8) ? "selected" : NULL;?>>Phân Tích, Sản Phẩm</option>
                <option value="4" <?php echo (!empty($this->job->job_group) and $this->job->job_group == 4) ? "selected" : NULL;?>>MARKETING</option>
                <option value="6" <?php echo (!empty($this->job->job_group) and $this->job->job_group == 6) ? "selected" : NULL;?>>Kho, Giao Hàng</option>
                <option value="2" <?php echo (!empty($this->job->job_group) and $this->job->job_group == 2) ? "selected" : NULL;?>>Trung Tâm Bảo Hành, Call Center</option>
                <option value="9" <?php echo (!empty($this->job->job_group) and $this->job->job_group == 9) ? "selected" : NULL;?>>Trainee, Internship</option>
                <option value="7" <?php echo (!empty($this->job->job_group) and $this->job->job_group == 7) ? "selected" : NULL;?>>Khác</option>

            </select>
        </div>
    </div>
</div>

<div class="row-fluid">
    <!-- <div class="span6">
        <div class="control-group">
            <label for="description">Mô tả:</label>
            <textarea name="description" id="description" class="col-9" rows="4"><?php isset($this->job) and print($this->job->description);?></textarea>
        </div>
    </div> -->
    <div class="span6">
        <div class="control-group">
            <label for="hot">Nổi bật:</label>
            <input type="checkbox" value="1" name="hot" <?php echo (isset($this->job->hot) and $this->job->hot == 1) ? "checked" : null;?>>
        </div>
        <div class="control-group">
            <label for="salary_text">Lương:</label>
            <input name="salary_text" id="salary_text" class="col-9"  value="<?php echo (isset($this->job->salary_text) and $this->job->salary_text) ? $this->job->salary_text : "Thương lượng";?>" />
        </div>
    </div>
    <div class="span6">
        <div class="control-group">
            <label for="title">Email người phụ trách (<i style="color:red">Các email cách nhau bằng dấu chấm phấy ";"</i> )</label>
            <textarea class="form-control col-9" name="person-in-charge"  rows="3" ><?php echo (isset($this->persion_charg))?$this->persion_charg:''; ?></textarea>
        </div>
    </div>
</div>

<div class="row-fluid mt-5">
    <div class="span12">
        <div class="control-group">
            <label for="content">Mô tả chi tiết công việc</label>
            <textarea name="content" id="content"><?php isset($this->job) and print($this->job->content);?></textarea>
        </div>
        <div class="control-group">
            <label for="content">Kinh ngiệm kỹ năng chi tiết</label>
            <textarea name="desc_skill" id="content2"><?php isset($this->job) and print($this->job->desc_skill);?></textarea>
        </div>
    </div>
</div>


<div class="upload_files">
    <div class="row-fluid file_list">
        <?php if (isset($this->files) && $this->files):?>
                <div class="span2 file_item">
                    <?php $hash = hash("sha256", md5($this->user) . $this->files['name'] . $this->files['job_id']); ?>
                    <?php $src = HOST . 'download/job?job_id='. $this->files['job_id'] . '&file_name_hash='. $this->files['name'].'&hash='. $hash;?>

                    <a href="<?php echo $src ?>" class="thumbnail">
                        <?php if ( preg_match('/\.(jpg)|(png)|(jpeg)$/', $this->files['file_display_name']) ): ?>
                            <img src="<?php echo $src ?>" alt="<?php echo $this->files['file_display_name'] ?>">
                        <?php else: ?>
                            <span><i class="icon-file"></i></span>
                        <?php endif ?>
                    </a>
                    <p class="attachment_name"><?php echo $this->files['file_display_name'] ?></p>

                </div>

        <?php endif ?>
    </div>


    <div class="row-fluid">
        <div class="span3">
            <div class="control-group">
                <label class="control-label" for="">Ảnh background mini</label>
                <div class="controls">
                    <p><strong>Kích thước file phải nhỏ hơn 5MB</strong></p>
                    <div class="file-uploader"></div>
                    <input type="hidden" name="photo" />
                    <input type="hidden" class="onprogress" />
                    <p class="help-block"></p>
                </div>
            </div>
        </div>
    </div>

</div>

<?php echo $this->render('manage/notification/partials/new-category-modal.phtml') ?>

<script>
    $(document).ready(function () {
        getTeam();
        getJobTitle();
    });
    
    function getTeam()
    {
        $('#department').change(function(){
            var departmentID = $('#department').val();
            $.ajax
            ({
                url : '/job/get-team',
                type : 'POST',
                data : {'department_id':departmentID},
                dataType: 'json',
                success : function(result)
                {
                    $('#team').find('option:not(:first)').remove();
                    $('#job_title').find('option:not(:first)').remove();
                    $.each(result, function (i, item) {
                        $('#team').append('<option value="'+item.id+'" rel="'+item.name+'">'+item.name+'</option>');
                    });
                },
                error: function()
                {
                    alert("Not Found !!!");
                }
    
            });
        });
    
    
    }
    
    function getJobTitle()
    {
        $('#team').change(function(){
            var teamID = $('#team').val();
            $.ajax
            ({
                url : '/job/get-job-title',
                type : 'POST',
                data : {'team_id':teamID},
                dataType: 'json',
                success : function(result)
                {
                    $('#job_title').find('option:not(:first)').remove();
                    $.each(result, function (i, item) {
                        $('#job_title').append('<option value="'+item.id+'" data-namevn="'+item.name_vn+'" rel="'+item.name+'">'+item.name+'</option>');
                    });
                },
                error: function()
                {
                    alert("Not Found!!!");
                }
    
            });
        });
    }

    $('#form').submit(function(){
        _name = $('#regionals option');
        id_str = '';
        
        for(var i = 0; i < _name.length; i++) {
            id_str += $(_name[i]).attr('value') + ',';
        }
        id_str = id_str.replace(/\,$/, '');
        id_str = id_str.replace(/^\,/, '');     
        $('#area').val(id_str);
        return true;
    });

	$('#add_area_btn').click(function(){
        _self = $('#regional_market');
        item = _self.children('option:selected').clone();
        list = $(item);

        for (var i = 0; i < item.length; i++) {
        	val = $(item[i]).attr('value');
            if ( ! is_exists( val ) && val != 0 ) {
                _des = $('#regionals');
                _des.append(item[i]);
            }
        }

        change_size($('#regionals'));
    });

    $('#remove_area_btn').click(function(){
        _self = $('#regionals');
        item = _self.children('option:selected').remove();
        change_size(_self);
    });
    
    function change_size(elm) {
        var len = parseInt(elm.find('option').length);
        len = len > 3 ? len : 3;
        elm.css("height", (len*20));
    }
    
</script>