<div class="row-fluid">
    <div class="span6">
        <div class="control-group">
            <label for="">Important:</label>
            <p>
                <label class="checkbox"><input type="checkbox" name="all" value="1" <?php if (isset($this->job['all']) && $this->job['all']) echo "checked" ?>>
                    <strong>Toàn quốc</strong>
                </label>
            </p>
        </div>
    </div>



    <div class="span3">
        <div class="control-group">
            <label for="">Province :</label>
            <p><label class="checkbox"><input type="checkbox" class="checkall" data-target=".area" /> <span class="label label-info">Select All</span></label></p>
            <?php if (isset($this->all_province_cache) && $this->all_province_cache): ?>
                <?php foreach ($this->all_province_cache as $key => $value): ?>
                    <p>
                        <label class="checkbox"><input type="checkbox" class="display-item area" data-type=".regional_market" name="province[]" value="<?php echo $key;?>" <?php if (isset($this->old_province_objects) && in_array($key, $this->old_province_objects)) echo "checked" ?>> <?php echo $value;?></label>
                    </p>
                <?php endforeach ?>
            <?php endif ?>
        </div>
    </div>

</div>