<style>
    #tree2 label {
        display: inline-block;
        padding-left: 10px;
    }

    #tree2 li {
        list-style-type: none;
        position: relative;
    }
</style>

<form role="form" action="<?php echo HOST.'manage/exception-case-save';?>" method="post">
    <div class="row">
        <div class="span5">

            <div class="form-group">
                <label for="name">Name</label>
                <input type="text" class="form-control" id="name" name="name" required="required" readonly value="<?php if (isset($this->exception_case)): echo $this->exception_case->name; endif;?>">
            </div>

            <div class="form-group">
                <label for="status">Status</label>
                <select required="required" id="status" name="status">
                    <option value="1" <?php if (isset($this->exception_case) and $this->exception_case->status==1):?> selected<?php endif;?>>Enabled</option>
                    <option value="0" <?php if (isset($this->exception_case) and $this->exception_case->status==0):?> selected<?php endif;?>>Disabled</option>
                </select>
            </div>

            <div class="form-group">
                <label for="value">Value</label>
                <textarea readonly cols="30" rows="30" name="value" id="value"><?php if (isset($this->exception_case) and $this->exception_case->value and $this->exception_case->value != '""'): echo $this->exception_case->value; endif;?></textarea>
            </div>

            <input type="hidden" name="id" id="id" value="<?php isset($this->exception_case) and $this->exception_case and printf($this->exception_case->id);?>">
            <button type="submit" class="btn btn-primary">Submit</button>
            <input type="hidden" name="back_url" id="back_url" value="<?php isset($this->back_url) and $this->back_url and printf($this->back_url);?>">
            <button type="button" class="btn btn-danger go-back">Go back</button>

        </div>

        <div class="span7">

            <div class="row-fluid">
                <legend>Search</legend>
            </div>
            <div class="form-group">
                <div class="control-group">
                    <label for="s_name">Staff Name</label>
                    <input type="text" class="form-control" id="s_name" placeholder="Enter Staff name then press ENTER" name="s_name" />
                </div>
            </div>

            <div class="row-fluid">
                <div class="control-group">
                    <label for="">Result</label>
                    <div class="load-ajax">
                        <?php echo $this->partial('staff/partials/searchname.phtml',array('is_single'=>1)); ?>
                    </div>
                </div>
            </div>

            <label for="tree2">Provinces</label>

            <ul id="tree2">
                <?php
                    echo $this->menus;
                ?>
            </ul>

        </div>
    </div>
</form>
<script type="text/javascript">
    function initChoose(){
        <?php
            if ($this->exception_case->value and $this->exception_case->value != 'null')
                echo "var javascript_array = ". $this->exception_case->value . ";\n";
            else
                echo "var javascript_array = [];\n";
        ?>
        $('#name_result option').click(function(){

            $('#tree2 input[type=checkbox]').removeAttr('checked');

            var myStringArray = javascript_array[$(this).val()];

            if ( typeof myStringArray != 'undefined' )
                for (var i = 0; i < myStringArray.length; i++) {

                    $('#menus_'+myStringArray[i]).attr('checked', 'checked');

                }
        });
    }

    $(document).ready(function () {

        $('.go-back').click(function(e){
            window.location.href = $('#back_url').val();

            return false;
        });

        $( "#s_name" ).keypress(function( event ) {
            if ( event.which == 13 ) {
                event.preventDefault();
                $('.loading').remove();
                var _self = $(this);
                var targetUrl = '<?php echo HOST."staff?sname=1&name=" ?>' + $('#s_name').val();

                //get ajax content
                var aj = _self.parent().parent().next().find('.load-ajax');
                if (aj.length){
                    _self.after("<span class=\'loading\'></span>");
                    $.get(targetUrl
                        ,function(data,status){
                            aj.html(data);

                            initChoose();

                            _self.next('.loading').remove();
                        });
                }

                return false;
            }


        });
    });
</script>