<head>
    <script type="text/javascript" src="/js/sweetalert2.all.min.js"></script>
</head>
<style>
    .box {
        border: 1px solid #008B56;
    }
    /*.btn_add_row, .btn_submit {*/
        /*margin-left: 25px;*/
    /*}*/
</style>
<div class="container">
    <form action="" id="form">
        <div class="span6 box">
            <h2 style="text-align: center">Tạo sản phẩm</h2>
            <br>
            <div class="original">
                <div>
                    <span class="span2">Chọn thương hiệu: </span>
                    <select name="brand_id[]" required>
                        <option value="">-- Choose Brand --</option>
                        <?php foreach ($this->listBrand as $brand) : ?>
                            <option value="<?php echo $brand['id']; ?>"><?php echo $brand['name']; ?></option>
                        <?php endforeach; ?>
                    </select>
                    <button type="button" class="btn btn-danger btn_remove">x</button>

                </div>
                <div>
                    <span class="span2">Tên sản phẩm:</span>
                    <input type="text" name="product_name[]" required>
                </div>
                <div class="span2">

                </div>
                <br><br>
            </div>
            <button type="button" class="btn btn-primary btn_add_row" style="margin-left: 25px">+</button>
            <hr>
            <button style="margin-left:250px" class="btn btn-success btn_submit" type="submit" >Submit</button>

        </div>
    </form>
</div>

<script>
    $(document).ready(function() {
       var copy = '<div class="copy">' + $('.original').html() +  '</div>';

       $('.btn_add_row').click(function() {
          $(this).before(copy);
       });
       $(document).on('click', '.btn_remove', function() {
          $(this).parents('.copy').remove();
       });

       $('#form').submit(function(e) {
           e.preventDefault();
           $.ajax({
               url: '/sumup-sales/save-create-product',
               type: 'post',
               data: new FormData(this),

               dataType: 'json',
               success: function (data) {
                   if (data.status === 0) {
                       Swal.fire({
                           type: 'success',
                           title: 'Thành công',
                           showConfirmButton: false,
                           timer: 1500
                       });
                       setTimeout(function() {
                           window.location.href = '/sumup-sales/list-brand';
                       },1000);
                   } else {
                       Swal.fire({
                           type: 'success',
                           title: data.message,
                           showConfirmButton: false,
                           timer: 1500
                       })
                   }
               },
               cache: false,
               contentType: false,
               processData: false
           });
       });
    });
</script>