<head>
    <script type="text/javascript" src="/js/sweetalert2.all.min.js"></script>
</head>

<div class="container">
    <div class="span6">
        <h2 style="text-align: center">Chỉnh sửa sản phẩm</h2>
        <hr>
        <form action="" id="form">
        <table class="table table-bordered">
            <thead>
            <tr>
                <th>Tên sản phẩm</th>
                <th>Thứ tự</th>
                <th>Hiển thị</th>
            </tr>
            </thead>
            <tbody>
            <?php foreach ($this->listProduct as $product) : ?>
                <tr>
                    <td><?php echo $product['name']; ?></td>
                    <td>
                        <input style="width:50px" type="number" value="<?php echo $product['ordering']; ?>" name="ordering[<?php echo $product['id']; ?>]">
                    </td>
                    <td>
<!--                        --><?php //echo $product['is_deleted']; ?>
                        <input <?php echo $product['is_deleted'] == 0 ? 'checked' : ''; ?>
                            type="checkbox"
                            value="0"
                            name="is_deleted[<?php echo $product['id']; ?>]">
                    </td>
                </tr>
            <?php endforeach; ?>
            </tbody>
        </table>
            <button class="btn btn-primary" type="submit">Submit</button>
        </form>
    </div>
</div>

<script>
    $(document).ready(function() {
        $('#form').submit(function(e) {
            e.preventDefault();
            $.ajax({
                url: '/sumup-sales/save-edit-brand-product',
                type: 'post',
                data: new FormData(this),

                dataType: 'json',
                success: function (data) {
                    if (data.status === 0) {
                        Swal.fire({
                            type: 'success',
                            title: 'Thành công',
                            showConfirmButton: false,
                            timer: 1500
                        });
                        setTimeout(function() {
                            location.reload();
                        }, 1500)
                    } else {
                        Swal.fire({
                            type: 'success',
                            title: data.message,
                            showConfirmButton: false,
                            timer: 1500
                        })
                    }
                },
                cache: false,
                contentType: false,
                processData: false
            });
        });
    });
</script>