<div class="container">
    <div class="span6">
        <h2 style="text-align: center">List Brand</h2>
        <br>
        <a href="/sumup-sales/create-product"><input type="button" class="btn btn-primary" value="Tạo sản phẩm"></a>
        <hr>
        <table class="table table-bordered">
            <thead>
            <tr>
                <th>Brand</th>
                <th>Action</th>
            </tr>
            </thead>
            <tbody>
            <?php foreach ($this->listBrand as $brand) :?>
            <tr>
                <td><?php echo $brand['name']; ?></td>
                <td><a href="/sumup-sales/edit-brand-product?brand_id=<?php echo $brand['id']; ?>"><i class="icon icon-edit"></i></a></td>
            </tr>
            <?php endforeach; ?>

            </tbody>
        </table>
    </div>
</div>