<head>
	<script src="/js/select2/js/select2.min.js"></script>  
	<link href="/js/select2/css/select2.min.css" rel="stylesheet" />
</head>

<h2 style="text-align: center">Thống kê báo số ngày</h2>
<p>
  <a class="btn btn-info" data-toggle="collapse" href="#collapseExample" role="button" aria-expanded="false" aria-controls="collapseExample" style="width:97%">
    Search
  </a>

</p>
<div class="collapse" id="collapseExample">
  <div class="card card-body">
    <div id="search">
		<form action="/sumup-sales/manage" method="get">
			<div class="row-fluid mb-3">
				<div class="span4">
					<div class="row-fluid">
						<span class="span3">Store:</span>
						<select name="store" class="choose_shop">
							<option value="">Chọn shop...</option>
							<?php foreach($this->list_store as $store) :?>
								<option value="<?php echo $store['id']?>"> <?php echo $store['name']?> </option>
							<?php endforeach;?>
						</select>
					</div>

                    <div class="row-fluid">
                        <span class="span3">ID Store:</span>
                        <input type="number" value="<?php echo $this->params['store_id_number']; ?>" name="store_id_number">
                    </div>

					<div class="row-fluid">
						<span class="span3">Mã nhân viên:</span>
						<input type="text" name="staff_code">
					</div>
				</div>
				<div class="span4">
					<div class="row-fluid">
						<span class="span3">Từ ngày:</span>
						<input type="text" name="from_date" class="date">
					</div>
					<div class="row-fluid">
						<span class="span3">Đến ngày:</span>
						<input type="text" name="to_date" class="date">
					</div>
				</div>
			</div>
			<button type="submit" class="btn btn-info">Search</button>
			<input type="submit" name="export" value="Export" class="btn btn-danger">
		</form>	
	</div>
  </div>
</div>
<br>
<a href="/sumup-sales/list-brand">
    <button class="btn btn-primary">List Brand</button>
</a>
<hr>
<div class="table-responsive">
	<table class="table table-hover table-bordered">
		<thead>
			<tr>
				<th>#</th>
				<th>Cửa hàng</th>
				<th>Mã nhân viên</th>
				<th>Tên nhân viên</th>
				<th>Ngày</th>
				<th>Thời gian báo</th>
				<th>Số lượng tổng</th>
                		<th>Thao tác</th>
			</tr>
		</thead>
		<tbody>
			<?php $index = 1;?>
			<?php foreach ($this->stores as $store) : ?>
				<tr>
					<td><?php echo $index ;?></td>
					<td><?php echo $store['store_name'];?></td>
					<td><?php echo $store['staff_code'];?></td>
					<td><?php echo $store['staff_name'];?></td>
					<td><?php echo date('d-m-Y', strtotime($store['date']));?></td>
					<td><?php echo date('d-m-Y H:i:s', strtotime($store['created_at']));?></td>
					<td><?php echo $store['total'];?></td>
      			                <td><button type="button" class="btn btn-danger btn-lg btn_modal" data-toggle="modal" data-target="#myModal" date="<?php echo $store['date']; ?>" store_id="<?php echo $store['store_id']; ?>">Reset</button></td>
				</tr>
				<?php ++$index; ?>
			<?php endforeach;?>
		</tbody>
	</table>
</div>

<div class="paging">
    <?php echo $this->paging($this->total, $this->limit, $this->offset, $this->url);?>
</div>

<!-- Modal -->

<div class="modal fade" id="myModal" role="dialog">
    <div class="modal-dialog modal-sm">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>
            <div class="modal-body">
                <p>Do you want to reset ?</p>
            </div>
            <div class="modal-footer">
                <button type="button" id="btn_remove" class="btn btn-danger" data-dismiss="modal">Yes</button>
                <button type="button" class="btn btn-default" data-dismiss="modal">No</button>
            </div>
        </div>
    </div>
</div>


<script type="text/javascript" src="<?php echo HOST ?>js/bootstrap-multiselect.js"></script>
<link rel="stylesheet" href="<?php echo HOST ?>css/bootstrap-multiselect.css" type="text/css"/>
<script type="text/javascript" src="<?php echo HOST ?>js/jquery-ui-1.8.12.custom.min.js"></script>
<link rel="stylesheet" type="text/css" href="<?php echo HOST ?>css/jquery-ui-1.8.12.custom.css"/>
<script src="<?php echo HOST;?>form-builder/assets/js/sweetalert.min.js"></script>

<script>
	setTimeout(function () {
		$('.date').datepicker({dateFormat: "dd-mm-yy"});
	});
	$(document).ready(function() {
		$('.choose_shop').select2();
		
		// remove 
		$('.btn_modal').click(function() {
		    var date = $(this).attr('date');
		    var store_id = $(this).attr('store_id');
            $('#btn_remove').click(function() {
                $.ajax({
                    url: '/sumup-sales/remove',
                    type: 'post',
                    dataType: 'json',
                    data: {
                      date: date,
                      store_id: store_id
                    },
                    success: function(data) {
                        if (data.status === 0) {
                            swal('Reset successfully', '', 'success');
                            setTimeout(function() {
                                location.reload();
                            },700);
                        } else {
                            alert('Something went wrong!');
                        }
                    }
                });
            });
        })

	});
</script>