
<link rel="stylesheet" type="text/css" href="/css/jquery-ui-1.8.12.custom.css">
<link rel="stylesheet" type="text/css" href="/css/jquery.ui.timepicker.css">
<script type="text/javascript" src="/js/jquery-ui-1.8.12.custom.min.js"></script>
<script src="../js/tag-it.min.js" type="text/javascript" charset="utf-8"></script>
<link href="../css/jquery.tagit.css" rel="stylesheet" type="text/css">
<link href="../css/tagit.ui-zendesk.css" rel="stylesheet" type="text/css">

<?php
    $id                 = $this->contract['id'];
    $id_title           = $this->contract['title'];
    $id_new_contract    = $this->contract['new_contract'];
    $from_date          = $this->contract['from_date'] ? date("d/m/Y",strtotime($this->contract['from_date'])) : NULL;
    $to_date            = $this->contract['to_date'] ? date("d/m/Y",strtotime($this->contract['to_date'])) : NULL;
    $salary             = $this->contract['salary'];	
    $total_salary       = $this->contract['total_salary'];
    $probation_salary   = $this->contract['probation_salary'];
    $allowance1         = $this->contract['allowance_1'];
    $allowance2         = $this->contract['allowance_2'];
    $allowance3         = $this->contract['allowance_3'];
    $work_cost          = $this->contract['work_cost'];
    $kpi_text           = $this->contract['kpi_text'];
    $kpi_text_probation = $this->contract['kpi_text_probation'];
    $id_parent          = $this->contract['parent_id'];
    $id_company         = $this->contract['company_id'];
    // echo $id_company;die;
?>

<?php
    if (isset($this->essages) and $this->messages)
        foreach ($this->messages as $message):
            echo '<div class="alert alert-success">'.$message.'</div>';
        endforeach;

    if (isset($this->messages_error) and $this->messages_error)
        foreach ($this->messages_error as $message):
            echo '<div class="alert alert-error">'.$message.'</div>';
        endforeach;
?>

<div class="page-header">
            <h1>Edit Contract</h1>
</div>
<form action="<?php echo $this->url(array('controller' => 'contractedit','action' => 'processedit'))?>" method="post">
<div class="row-fluid">
    <div class="span12">
        <p class="pull-right">
            <button type="submit" class="btn btn-primary">Submit</button>
            <a href="/contract/staff-contract">
          		<button type="button" class="btn btn-danger" onclick="">Go back</button>
          	</a>
        </p>
    </div>
</div>

<div class="main">
<div class="main-inner">
<div class="container">

<div class="span4">

		<div class="control-group">
            <label for="code" class="control-label">ID</label>
            <div class="controls">
                <input type="text" id="code" name="id" required="required" readonly="" value="<?php echo $id ?>">
            </div>
        </div>
        <div class="control-group">
            <label for="code" class="control-label">New contract</label>
            <div class="controls">
                <select name="new_contract" id="new_contract" required>
                    <option value>Choose</option>
                    <?php foreach ($this->newContract as $item){?>
                        <option value="<?php echo $item['id'];?>" <?php echo $item['id']== $id_new_contract ?'selected':'' ?> ><?php echo $item['name'];?></option>
                    <?php } ?>
                </select>
            </div>
        </div>
        <div class="control-group">
            <label for="off_date" class="control-label">From date (dd/mm/yyyy)</label>
            <div class="controls">
                <input type="text" class="date" placeholder="Enter From date" name="from_date" value="<?php echo $from_date?>" >
            </div>

        </div>
        <div class="control-group">
            <label for="off_date" class="control-label">To date (dd/mm/yyyy)</label>
            <div class="controls">
                <input type="text" class="date"  placeholder="Enter To date" name="to_date" value="<?php echo $to_date?>" >
            </div>

        </div>
        <div class="control-group">
            <label for="firstname" class="control-label">Status</label>
            <div class="controls">
    			<input type="radio" class="form-control" id="gender_1" name="status" value="0" <?php echo $this->contract['status'] == 0 ? 'checked' : NULL ?>><span>Chưa approve</span>&nbsp;&nbsp;
                <input type="radio" class="form-control" id="gender_1" name="status" value="1" <?php echo $this->contract['status'] == 1 ? 'checked' : NULL ?>><span>Trưởng bộ phận</span>&nbsp;&nbsp;
                <input type="radio" class="form-control" id="gender_1" name="status" value="2" <?php echo $this->contract['status'] == 2 ? 'checked' : NULL ?>><span>Nhân sự</span>
            </div>
        </div>

        <div class="control-group">
            <label for="lastname" class="control-label">Title</label>
            <div class="controls">
                
                <select name="title" id="title" required>
                    <option value>Choose</option>
                    	<?php foreach ($this->team as $item){?>
                        <option value="<?php echo $item['id'];?>" <?php echo $item['id']== $id_title ?'selected':'' ?> ><?php echo $item['name'];?></option>
                         <?php } ?>
                 </select>
                   
            </div>
        </div>

        <div class="control-group">
            <label for="gender_1" class="control-label">Print type</label>
            <div class="controls">
            	
                <input type="radio" class="form-control" id="gender_1" name="print_type" value="1" <?php echo $this->contract['print_type'] == 1 ? 'checked' : NULL ?>><span>Hợp đồng</span>&nbsp;&nbsp;
                <input type="radio" class="form-control" id="gender_1" name="print_type" value="2" <?php echo $this->contract['print_type'] == 2 ? 'checked' : NULL ?>><span>Phụ lục</span>
            </div>
        </div>
		<div class="control-group">
            <label for="gender_1" class="control-label">Print status</label>
            <div class="controls">
         		<div class="controls">
	                <input type="radio" class="form-control" id="gender_1" name="print_status" value="1" <?php echo $this->contract['print_status'] == 1 ? 'checked' : NULL ?>><span>Có</span>&nbsp;&nbsp;
	                <input type="radio" class="form-control" id="gender_1" name="print_status" value="0" <?php echo $this->contract['print_status'] == 0 ? 'checked' : NULL ?>><span>Không</span>
            	</div>
            </div>
        </div>
  </div>
  <div class="span4">
 		<div class="control-group">
            <label for="code" class="control-label">Salary</label>
            <div class="controls">
                <input type="text" id="code" placeholder="Enter Salary" name="salary" value="<?php echo $salary ? $salary : NULL?>">
            </div>
        </div>
        <div class="control-group">
            <label for="code" class="control-label">Salary total</label>
            <div class="controls">
                <input type="text" id="code" placeholder="Enter Salary Total" name="salary_total" value="<?php echo $total_salary ? $total_salary : NULL?>">
            </div>
        </div>
		        <div class="control-group">
            <label for="code" class="control-label">Probation Salary</label>
            <div class="controls">
                <input type="text" id="code" placeholder="Enter Probation Salary" name="probation_salary" value="<?php echo $probation_salary ? $probation_salary : NULL ?>">
            </div>
        </div>
		<div class="control-group">
            <label for="code" class="control-label">Allowance 1</label>
            <div class="controls">
                <input type="text" id="code" placeholder="Enter Allowance 1" name="allowance_1" value="<?php echo $allowance1 ? $allowance1 : NULL?>">
            </div>
        </div>
        <div class="control-group">
            <label for="code" class="control-label">Allowance 2</label>
            <div class="controls">
                <input type="text" id="code" placeholder="Enter Allowance 2" name="allowance_2" value="<?php echo $allowance2 ? $allowance2 : NULL?>">
            </div>
        </div>
        <div class="control-group">
            <label for="code" class="control-label">Allowance 3</label>
            <div class="controls">
                <input type="text" id="code" placeholder="Enter Allowance 3" name="allowance_3" value="<?php echo $allowance3 ? $allowance3 : NULL?>">
            </div>
        </div>

      	
        <div class="control-group">
            <label for="code" class="control-label">Work cost</label>
            <div class="controls">
                <input type="text" id="code" placeholder="Enter Work cost" name="work_cost" value="<?php echo $work_cost ? $work_cost : NULL?>">
            </div>
        </div>
  </div>
  <div class="span3">
  
  <div class="control-group">
            <label for="lastname" class="control-label">Company</label>
            <div class="controls">
                
                <select name="company_id" id="company_id" required>
                    <option value>Choose</option>
                        <?php foreach ($this->company as $item){?>
                        <option value="<?php echo $item['id'];?>" <?php echo $item['id']== $id_company ?'selected':'' ?> ><?php echo $item['name'];?></option>
                         <?php } ?>
                 </select>
                   
            </div>
    </div>

  <div class="control-group">
            <label for="lastname" class="control-label">Contract parent(Contract/Title/From date - To date)</label>

            <div class="controls">
            
                <select class="parent_id" name="parent_id" id="parent_id" multiple="">
                        <?php foreach ($this->parent as $item){?>
                        <option value="<?php echo $item['id'];?>" <?php echo $item['id']== $id_parent ?'selected':'' ?> ><?php echo $item['name_contract'];?>&nbsp;/&nbsp;<?php echo $item['name'];?>&nbsp;/&nbsp;<?php echo date("d/m/Y",strtotime($item['from_date']));?>&nbsp;-&nbsp;<?php echo date("d/m/Y",strtotime($item['to_date']));?></option>
                         <?php } ?>
                 </select>
            
            </div>
    </div>

  <div class="control-group">
            <label for="off_type" class="control-label">Kpi text</label>
            <div class="controls">
                <textarea name="kpi_text" id="kpi_text" value="<?php echo $kpi_text?>"><?php echo $kpi_text?></textarea>
            </div>
        </div>

  	<div class="control-group">
            <label for="off_type" class="control-label">Kpi text probation</label>
            <div class="controls">
                <textarea name="kpi_text_probation" value="<?php echo $kpi_text_probation?>"><?php echo $kpi_text_probation?></textarea>
            </div>
        </div>

  </div>

   
    
    </div>
    </div>
    </div>
	</form>
	<!--  -->
	<script>
		$(document).ready(function () {
			$(".date").datepicker({dateFormat: "dd/mm/yy"});
		});
	</script>