


<div class="page-header" style="margin: 18px 0 -10px 0;border-bottom: none;">
    <h1>Danh sách Fails Training Online</h1>
</div>

<div class="main hr">
    <div class="container-fluid">    

        <div class="accordion" id="accordion2">
            <div class="accordion-group">
                <div class="accordion-heading">
                    <a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion2" href="#collapseTwo">
                        Search
                    </a>
                </div>
                <div id="collapseTwo" class="accordion-body collapse" style="height: 0px;">
                    <div class="accordion-inner">
                        <form method="GET">
                        <div class="row">
                            <div class="span5">
                                <div class="control-group">
                                    <label for="title" class="span2">Name</label>
                                    <input id="title" name="title" type="text" class="input-medium search-query form-control" value="">
                                </div>
                            </div>
                            
                        </div>
                            
                        </form>
                    </div>
                </div>
            </div>
        </div>
        
        <div class="row">
            <div class="table_main" style="height:auto">
                <div class="header_tad"><i class="icon-list-alt"></i> <?php echo (isset($this->lesson->title) and $this->lesson->title) ? $this->lesson->title : null;?>
                
                </div>


                <div class="content_tad">
                    <div id = 'turnover_pass_probation1'>
                    
                    <table class="table table-bordered">
                        <thead>
                            <tr>
                                <?php echo $this->sorting(array(
                            '#',
                            'Name',
                            'Email',
                            'Team',
                            'Title',
                            'Area',
                            'AVG',
                            'Action'
                        ),
                        $this->url, $this->sort, $this->desc); ?>
                    </tr>
                    </thead>
                    <tbody>
                    <?php
                    if (isset($this->list_fail) and $this->list_fail): ?>
                        <?php foreach ($this->list_fail as $k=>$staff): ?>
                            <tr>
                                <td>
                                    <?php
                                        $inc = $this->offset + $k + 1;
                                        echo $inc;
                                    ?>
                                </td>
                                <td>
                                    <?php echo $staff['fullname'];?>
                                    <?= (!empty($staff['status']) AND $staff['status'] != 1) ? "<b>Off-Temp Off</b>":"";?>
                                </td>
                                <td <?php if (!$staff['email']):?> style="background-color: coral"<?php endif;?>><?php echo $staff['email'];?></td>
                                <td><?php echo (isset($staff['team_name']) and $staff['team_name']) ? $staff['team_name'] : null;?></td>
                                <td><?php echo (isset($staff['title_name']) and $staff['title_name']) ? $staff['title_name'] : null;?></td>
                                <td><?php echo (isset($staff['area_name']) and $staff['area_name']) ? $staff['area_name'] : null;?></td>
                                <td><?php echo $staff['avg_scores'];?></td>
                                <td><a href="<?php echo HOST;?>training/trainer-detail?cmnd=<?php echo $staff['id_number'];?>"><?php echo (isset($staff['avg_scores']) and $staff['avg_scores']) ? "Details" : null;?></a></td>
                            </tr>
                        <?php endforeach;?>
                    <?php endif;?>

                    </tbody>
                    </table>
                    <div class="paging">
                        <?php echo $this->paging($this->total, $this->limit, $this->offset, $this->url);?>
                    </div>

                    <!--- ---------------------------------------->
               
                    </div>

                </div>
            </div>

        </div><!-- row-->

    </div>
</div>

