
<style type="text/css">
    .content_tad{padding: 10px;margin-top: -20px;}
    .content_tad table{width: 100%; margin: 20px 0px;}
    .content_tad table th{background: #00BA8B !important; color:#FFF;padding: 5px 0px;border: 1px solid #ffffff !important;    border-bottom: 2px solid #FFF !Important;}
    .content_tad table tr td{border: 1px solid #ffffff !important;}
    .content_tad table tr:nth-child(2n){background: #CEDFD5 !important; color:#000;padding: 5px 0px;}
    .content_tad table tr:nth-child(3n){background: #E8F0EB !important; color:#000;padding: 5px 0px}

    .content_tad table span{font-size: 10px}

    .hr .header_tad{font-size: 18px;color: #008B56;font-weight: bold;height: 45px;line-height: 44px;}
</style>

<div class="page-header" style="margin: 18px 0 -10px 0;border-bottom: none;">
    <h1>Training Chuyên Đề</h1>
</div>

<div class="main hr">
    <div class="container-fluid">    

        <div class="row">
            <div class="table_main" style="height:auto">
                <div class="header_tad"><i class="icon-list-alt"></i> Khu vực:</div>


                <div class="content_tad">
                    <div id = 'turnover_pass_probation1'>
                    <table id='hr-pgpb-sale-area'>
                        <tr>

                            <th rowspan="2">#</th>
                            <th rowspan="2">Khu vực</th>
                            <th rowspan="2"></th>
                            <?php foreach($this->list_date as $row=>$value):?>
                            <?php $d = intval(date('m', strtotime($value)));?>
                            <?php $y = intval(date('Y', strtotime($value)));?>
                            <th colspan="2"><?php echo "Tháng: ".$d;?></th>
                            <?php endforeach;?>
                        </tr>

                        <tr>
                            <?php foreach($this->list_date as $row=>$value):?>
                            <?php $d = intval(date('m', strtotime($value)));?>
                            <th>Số buổi</th>
                            <th>Số lượng</th>
                            <?php endforeach;?>
                        </tr>
                        
                        <?php $stt = 0;?>
                        <?php foreach($this->area as $key=>$value):?>

                        <?php if($key != 2 AND $key != 15):?>

                        <?php $stt++;?>
                        <tr>
                            <td rowspan="3"><?php echo $stt;?></td>
                            <td rowspan="3"><?php echo $value;?></td>
                            <td>Training đối tác</td>
                            <?php foreach($this->list_date as $row=>$value):?>
                            <?php $y = intval(date('Y', strtotime($value)));?>
                            <?php $m = intval(date('m', strtotime($value)));?>
                            <td>
                                <?php echo $this->data_trainer[$key][2][$m][$y]['quantity_session'] ? $this->data_trainer[$key][2][$m][$y]['quantity_session'] : 0;?>
                            </td>
                            <td>
                                <?php echo $this->data_trainer[$key][2][$m][$y]['sum'] ? $this->data_trainer[$key][2][$m][$y]['sum'] : 0;?>
                            </td>
                            <?php endforeach;?>
                        </tr>

                        <tr>
                            <td>Training nội bộ</td>
                            <?php foreach($this->list_date as $row=>$value):?>
                            <?php $y = intval(date('Y', strtotime($value)));?>
                            <?php $m = intval(date('m', strtotime($value)));?>
                            <td>
                                <?php echo $this->data_trainer[$key][1][$m][$y]['quantity_session'] ? $this->data_trainer[$key][1][$m][$y]['quantity_session'] : 0;?>
                            </td>
                            <td>
                                <?php echo $this->data_trainer[$key][1][$m][$y]['sum'] ? $this->data_trainer[$key][1][$m][$y]['sum'] : 0;?>
                            </td>
                            <?php endforeach;?>
                        </tr>

                        <tr>
                            <td>Tổng số</td>
                            <?php foreach($this->list_date as $row=>$value):?>
                            <?php $y = intval(date('Y', strtotime($value)));?>
                            <?php $m = intval(date('m', strtotime($value)));?>
                            
                            <?php $quantity_session_1 = $this->data_trainer[$key][1][$m][$y]['quantity_session'] ? $this->data_trainer[$key][1][$m][$y]['quantity_session'] : 0;?>
                            <?php $quantity_session_2 = $this->data_trainer[$key][2][$m][$y]['quantity_session'] ? $this->data_trainer[$key][2][$m][$y]['quantity_session'] : 0;?>

                            <?php $sum_1 = $this->data_trainer[$key][1][$m][$y]['sum'] ? $this->data_trainer[$key][1][$m][$y]['sum'] : 0;?>
                            <?php $sum_2 = $this->data_trainer[$key][2][$m][$y]['sum'] ? $this->data_trainer[$key][2][$m][$y]['sum'] : 0;?>

                            <td>
                                <?php echo ($quantity_session_1+$quantity_session_2);?>
                            </td>
                            <td>
                                <?php echo ($sum_1+$sum_2);?>
                            </td>
                            <?php endforeach;?>
                        </tr>

                        <?php endif;?>

                        <?php endforeach;?>
                    </table>

               
                    </div>

                </div>
            </div>

        </div><!-- row-->

    </div>
</div>

