
<div class="page-header">
    <h1>List Trainer</h1>
</div>
<?php
    if (isset($this->messages) and $this->messages)
        foreach ($this->messages as $message):
            echo '<div class="alert alert-error">'.$message.'</div>';
        endforeach;
    if (isset($this->messages_success) and $this->messages_success)
        foreach ($this->messages_success as $message):
            echo '<div class="alert alert-success">'.$message.'</div>';
        endforeach;
?>


<div class="tab-content">

    <div class="tab-pane active" id="trainer">
        <div class="row-fluid">
            <div class="span12">
                <div class="table-responsive">
                    <table class="table">
                        <tr>
                            <th>#</th>
                            <th>Name</th>
                            <th>Title</th>
                            <th>Email</th>
                            <th>Area</th>
                        </tr>

                        <?php foreach ($this->list_trainer as $key => $value):?>
                        <?php $stt = $key+1;?>
                        <tr>
                            <td><?php echo $stt;?></td>
                            <td><a href="<?php echo '/bi/trainer-leader-details?id='.$value['id'];?>"><?php echo $value['fullname'];?></a></td>
                            <td><?php echo $this->team[$value['title']];?></td>
                            <td><?php echo $value['email'];?></td>
                            <td style="max-width: 300px"><?php echo $value['area'];?></td>
                        </tr>
                        <?php endforeach;?>
                        
                    </table>
                </div><!-- table-responsive-->
            </div>
        </div>
    </div>

</div>

<script>
    $('#myTab a').click(function (e) {
        e.preventDefault();
        $(this).tab('show');
    })
</script>
