
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">

    <title>OPPO Form</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- CSS Libraries -->
    <link rel="stylesheet" href="<?php echo HOST; ?>surveybuilder/css/bootstrap.css"/>
    <link rel="stylesheet" href="<?php echo HOST; ?>surveybuilder/css/font-awesome.min.css"/>
    <link rel="stylesheet" href="<?php echo HOST; ?>surveybuilder/lib/prism/prism.css"/>
    <link rel="stylesheet" href="<?php echo HOST; ?>surveybuilder/css/fontawesome-iconpicker.min.css"/>
    <link rel="stylesheet" href="<?php echo HOST; ?>surveybuilder/css/styles.css"/>
    <link rel="stylesheet" type="text/css" href="/css/bootstrap-datetimepicker.min.css"/>

    <script type="text/javascript" src="/js/jquery-1.7.2.min.js"></script>
    <script type="text/javascript" src="/js/jquery-ui-1.8.12.custom.min.js"></script>
    <script type="text/javascript" src="/js/jquery.checkboxtree.js"></script>
    <script src="<?php echo HOST; ?>form-builder/assets/js/sweetalert.min.js"></script>
    <script language="javascript" type="text/javascript" src="/js/bootstrap-datetimepicker.min.js"></script>

    <link rel="stylesheet" type="text/css" href="/css/jquery.checkboxtree.css"/>
    <link rel="shortcut icon" href="<?php echo HOST; ?>img/favicon.ico">
    <link rel="apple-touch-icon" href="images/apple-touch-icon.png">
    <link rel="apple-touch-icon" sizes="72x72" href="images/apple-touch-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="114x114" href="images/apple-touch-icon-114x114.png">
    <link rel="stylesheet" type="text/css" href="/css/jquery-ui-1.8.12.custom.css"/>
    <link rel="stylesheet" type="text/css" href="/css/jquery.checkboxtree.css"/>
</head>

<body>

    
    
<style>
    select {max-width: 100%;}
    #tab_show label:not(.checkbox) {font-weight: bold;}
    .thumbnail {width: 100px;height: 100px;overflow: hidden;text-align: center;padding: 0;margin: auto;text-align: center;}
    .thumbnail i {font-size: 100px;}
    .thumbnail span {width: 100px;height: 100px;}
    .attachment_name {word-wrap: break-word;font-weight: bold;text-align: center;}
    #add_category_btn {
        margin-bottom: 9px;
    }

    .ui-widget-content .ui-icon {
        background-color: #ccc;
        border-radius: 2px;
    }

    .ui-widget-content .ui-icon:hover {
        cursor: pointer;
    }

    .tree input {
        margin-left: 4px;
    }

    .tree label {
        display: inline-block;
        padding-left: 4px;
    }

    .tree li:hover > label {
        background: #efe;
    }

    .ui-widget-content {
        background: none;
        border: none;
    }
</style>
<style>
    .tabbable {
        background-color: #fff;
        margin-bottom: 48px;
        -webkit-box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.37);
        box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.37);
        padding-bottom: 6px;
        word-wrap: break-word;

    }

    .sortInput {
        width: 50px !important;
        text-align: center;
        margin-right: 20px;
    }

</style>

<div class="container" style="margin-top: 20px;">
    
    
    
    <div class="row clearfix pull-right">
        <button type="submit" class="btn btn-primary" id="btn-submit" onclick="builderAdd()">SUBMIT</button>
        <button type="submit" class="btn btn-success" id="btn-preview" onclick="preview()">PREVIEW</button>
        <a href="/internal/list-survey" class="btn btn-danger">GO BACK</a>
    </div>
    <ul class="nav nav-tabs">
        <li class="active"><a href="#tab_content" data-toggle="tab">Content</a></li>
    </ul>
    <div class="tab-content">
        
        <form>
        <div class="control-group">
            <label for="title" class="label label-danger">Điều chỉnh bộ câu hỏi</label><br><br>
            <div class="controls">
                <input type="text" id="title" name="title" value="<?php echo $this->dynamic_survey['ds_name'];?>" readonly>
                <input type="hidden" id="id" name="id" value="<?php echo $this->dynamic_survey['ds_id'];?>">
            </div>
        </div>
        <br/>
        <br/>
        </form>
        
        <div class="row clearfix tab-pane active" id="tab_content">
            <div id="app">
                <div class="col-md-5">
                    <tabs v-model="uiv.tabs.left">
                        <tab title="<i class='fa fa-plus'></i> Add a field" :html-title="true">
                            <div id="addable-fields">
                                <draggable v-model="addable_fields" :list="addable_fields"
                                           :options="{group:{name:'fields', pull:'clone', put:false}, sort: false, animation: 0}"
                                           @start="dragging=true" @end="dragging=false" @choose="clickAddable">
                                    <addable-field :field="field" v-for="field in addable_fields"
                                                   :key="field.id"></addable-field>
                                </draggable>
                            </div>
                        </tab>
                        <tab title="<i class='fa fa-pencil'></i> Edit field" :html-title="true">
                            <field-options :field="selected"></field-options>
                        </tab>
                        <tab title="<i class='fa fa-cog'></i> Form settings" :html-title="true">
                            <form-settings :settings="settings"></form-settings>
                        </tab>
                    </tabs>
                </div>
                <div class="col-md-7">
                    <div style="position: relative">
                        <tabs v-model="uiv.tabs.right" @change="tabClicked">
                            <tab title="<i class='fa fa-bars'></i> Editor" :html-title="true">
                                <virtual-iframe class="editor-iframe" id="editor-iframe" scrolling="no">
                                    <iframe-child>
                                        <script type="text/javascript" src="/js/jquery-1.7.2.min.js"></script>
                                        <link v-if="settings.bootstrap_version=='3'" rel="stylesheet"
                                              href="<?php echo HOST; ?>surveybuilder/css/bootstrap.css"/>
                                        <link v-else rel="stylesheet"
                                              href="<?php echo HOST; ?>surveybuilder/css/bootstrap.min.css"/>
                                        <link rel="stylesheet"
                                              href="<?php echo HOST; ?>surveybuilder/css/font-awesome.min.css"/>
                                        <link rel="stylesheet" href="<?php echo HOST; ?>surveybuilder/css/styles.css"/>
                                        <form :class="{'form-horizontal': label_horizontal}">
                                            <p v-if="noFields()">Click on a new field or drag and drop below.</p>
                                            <draggable class="editor" v-model="fields" :list="fields"
                                                       :options="{group:'fields', animation: 200}"
                                                       @start="dragging=true" @end="dragging=false;" @Add="createField">
                                                <generic-field-editor :field="field" v-for="field in fields"
                                                                      :key="field.id"></generic-field-editor>
                                            </draggable>
                                            <!--<generic-submit-editor v-if="!noFields()"></generic-submit-editor>-->
                                        </form>
                                    </iframe-child>
                                </virtual-iframe>
                            </tab>
                            <tab title="<i class='fa fa-code'></i> Code" :html-title="true">
                                <pre-dynamic></pre-dynamic>
                                <virtual-iframe class="preview-iframe hidden" id="preview-iframe">
                                    <iframe-child datasrc="#">
                                        <script type="text/javascript" src="/js/jquery-1.7.2.min.js"></script>
                                        <code-preview></code-preview>
                                    </iframe-child>
                                </virtual-iframe>
                            </tab>
                        </tabs>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<form action="/dynamic-survey/form-builder-preview" method="POST" id="target" class="form-horizontal" target="_blank">
    <input type="hidden" name="form_html" id="form_html">
    <input type="hidden" name="title_preview" id="title_preview">
    <input type="hidden" name="description_preview" id="description_preview">
</form>

<!-- Script libraries -->
<script data-cfasync="false" src="<?php echo HOST; ?>surveybuilder/js/email-decode.min.js"></script>
<script src="<?php echo HOST; ?>surveybuilder/lib/lodash/lodash.min.js"></script>
<script src="<?php echo HOST; ?>surveybuilder/lib/vue/vue.min.js"></script>
<script src="<?php echo HOST; ?>surveybuilder/lib/sortable/sortable.js"></script>
<script src="<?php echo HOST; ?>surveybuilder/lib/vuedraggable/vuedraggable.js"></script>
<script src="<?php echo HOST; ?>surveybuilder/lib/prism/prism.js"></script>
<script src="<?php echo HOST; ?>surveybuilder/lib/vue-clipboard/vue-clipboard.min.js"></script>
<script src="<?php echo HOST; ?>surveybuilder/js/fontawesome-iconpicker.min.js"></script>
<script src="<?php echo HOST; ?>surveybuilder/lib/uiv/uiv.min.js"></script>
<script src="<?php echo HOST; ?>surveybuilder/js/prod-create.js"></script>
<script>
    $(document).ready(function () {
        $('.checkall').change(check_all);
        $('.display-item').change(check_select_all);
        $("li[role='presentation']").eq(4).hide();
        $("#s_name").keypress(function (event) {
            if (event.which == 13) {
                event.preventDefault();
                $('.loading').remove();
                var _self = $("#s_name");
                var name = _self.val().trim();
                if (!name) return false;
                //get ajax content
                var aj = $('.load-ajax');
                if (aj.length) {
                    _self.after("<span class=\'loading\'></span>");
                    $.ajax({
                        url: '<?php echo HOST ?>staff',
                        type: 'post',
                        dataType: 'html',
                        data: {
                            sname: 1,
                            name: name
                        },
                    })
                        .done(function (data) {
                            console.log("success");
                            aj.html(data);
                        })
                        .fail(function () {
                            console.log("error");
                        })
                        .always(function () {
                            console.log("complete");
                            _self.next('.loading').remove();
                        });
                }
                return false;
            }
        });
        $('#add_pg_btn').click(function () {
            _self = $('#name_result');
            item = _self.children('option:selected').clone();
            list = $(item);

            for (var i = 0; i < item.length; i++) {

                if (!is_exists($(item[i]).attr('value'), false)) {
                    _des = $('#pg_name');
                    _des.append(item[i]);
                }
            }
        });
        $('#remove_pg_btn').click(function () {
            _self = $('#pg_name');
            item = _self.children('option:selected').remove();
        });
    });

    function preview() {
        var form_name = $('#title').val();
        var description = $("#description").val();
        var render = $("#code-destination").text();

        $("#form_html").val(render);
        $("#title_preview").val(form_name);
        $("#description_preview").val(description);

        var form = document.getElementById("target");
        form.setAttribute("method", "post");
        form.setAttribute("action", "/dynamic-survey/preview");
        document.getElementById("target").submit();
    }

    function builderAdd() {
        let questions = [];
        let dataField = JSON.parse(sessionStorage.saved).fields;
        dataField.forEach(function(field) {
            let fieldTmp = Object.assign({}, field);
            if(fieldTmp.choices) {
                delete fieldTmp.choices;
            }

            if(field.type == 'text') {
                questions.push({
                    dsq_title: fieldTmp.title,
                    dsq_type: 'text',
                    dsq_data: fieldTmp
                })
            } else if(field.type == 'sub_description') {
                questions.push({
                    dsq_title: fieldTmp.title,
                    dsq_type: 'sub_description',
                    dsq_data: fieldTmp
                })
            } else if(field.type == 'textarea') {
                questions.push({
                    dsq_title: fieldTmp.title,
                    dsq_type: 'textarea',
                    dsq_data: fieldTmp
                })
            } else if(field.type == 'select') {
                questions.push({
                    dsq_title: fieldTmp.title,
                    dsq_type: 'select',
                    dsq_data: fieldTmp,
                    choices: Object.assign({}, field.choices)
                })
            } else if(field.type == 'radio') {
                questions.push({
                    dsq_title: fieldTmp.title,
                    dsq_type: 'radio',
                    dsq_data: fieldTmp,
                    choices: Object.assign({}, field.choices)
                })
            } else if(field.type == 'sortable') {
                questions.push({
                    dsq_title: fieldTmp.title,
                    dsq_type: 'sortable',
                    dsq_data: fieldTmp,
                    choices: Object.assign({}, field.choices)
                })
            } else if(field.type == 'range') {
                questions.push({
                    dsq_title: fieldTmp.title,
                    dsq_type: 'range',
                    dsq_data: fieldTmp,
                    choices: Object.assign({}, field.choices)
                })
            }
        });

        $.ajax({
            url: '/dynamic-survey/save',
            type: 'POST',
            data: {
                title: $('#title').val().trim(),
                survey_id: $('#id').val().trim(),
                fields: JSON.stringify(questions)
            },
            dataType: 'json',
            success: function (data) {
                if(data.status == 0) {
                    swal("Result", data.message, "success");
                } else {
                    swal("Result", data.message, "error");
                }
            },
            error: function () {
                swal("Result", 'Something went wrong! Please try again.', "error");
            }
        })
    }

    function is_exists(id, is_leader) {
        if (is_leader) {
            _des = $('#leader_name');
        } else {
            _des = $('#pg_name');
        }

        items = _des.children('option');
        for (var i = 0; i < items.length; i++) {
            if ($(items[i]).attr('value') == id) {
                return true;
            }
        }
        return false;
    }

    function check_all(e) {
        _self = $(e.target);
        target = _self.data('target');

        if (!target) return false;

        $(target).prop('checked', _self.prop('checked'));
    }

    function check_select_all(e) {
        $('.display-item').unbind('change');

        _self = $(e.target);
        type = _self.data('type');

        if (!type) return false;

        all_is_checked = true;

        $(type).each(function (index, el) {
            if (!$(el).prop('checked')) {
                all_is_checked = false;
                return false;
            }
        });

        $('[data-target="' + type + '"]').prop('checked', all_is_checked);
        $('.display-item').change(check_select_all);
    }
    
    
    //Add
    function loadScript(src) {
        return new Promise(function (resolve, reject) {
            var s;
            s = document.createElement('script');
            s.src = src;
            s.onload = resolve;
            s.onerror = reject;
            document.head.appendChild(s);
        });
    }

</script>
<script data-main="<?php echo HOST; ?>form-builder/assets/js/main-built.js" src="<?php echo HOST; ?>form-builder/assets/js/lib/require.js"></script>
</body>
</html>


