<!DOCTYPE html>
<html>
<head>
    <title>OPPO Form</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="<?php echo HOST; ?>img/favicon.ico">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title></title>

    <!-- CSS Libraries -->
    <link rel="stylesheet" href="<?php echo HOST; ?>surveybuilder/css/bootstrap.css"/>
    <link rel="stylesheet" href="<?php echo HOST; ?>surveybuilder/css/font-awesome.min.css"/>
    <link rel="stylesheet" href="<?php echo HOST; ?>surveybuilder/lib/prism/prism.css"/>
    <link rel="stylesheet" href="<?php echo HOST; ?>surveybuilder/css/fontawesome-iconpicker.min.css"/>
    <link rel="stylesheet" href="<?php echo HOST; ?>surveybuilder/css/styles.css"/>
    <link rel="stylesheet" type="text/css" href="/css/bootstrap-datetimepicker.min.css"/>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://ajax.aspnetcdn.com/ajax/jquery.validate/1.9/jquery.validate.min.js"
            type="text/javascript"></script>
    <script type="text/javascript" src="/js/jquery-ui-1.8.12.custom.min.js"></script>
    <script type="text/javascript" src="/js/jquery.checkboxtree.js"></script>
    <script src="<?php echo HOST; ?>form-builder/assets/js/sweetalert.min.js"></script>
    <script language="javascript" type="text/javascript" src="/js/bootstrap-datetimepicker.min.js"></script>

    <link rel="stylesheet" type="text/css" href="/css/jquery.checkboxtree.css"/>
    <link rel="shortcut icon" href="<?php echo HOST; ?>img/favicon.ico">
    <link rel="apple-touch-icon" href="images/apple-touch-icon.png">
    <link rel="apple-touch-icon" sizes="72x72" href="images/apple-touch-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="114x114" href="images/apple-touch-icon-114x114.png">
    <link rel="stylesheet" type="text/css" href="/css/jquery-ui-1.8.12.custom.css"/>
    <link rel="stylesheet" type="text/css" href="/css/jquery.checkboxtree.css"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <style>
        select {
            max-width: 100%;
        }

        #tab_show label:not(.checkbox) {
            font-weight: bold;
        }

        .thumbnail {
            width: 100px;
            height: 100px;
            overflow: hidden;
            text-align: center;
            padding: 0;
            margin: auto;
            text-align: center;
        }

        .thumbnail i {
            font-size: 100px;
        }

        .thumbnail span {
            width: 100px;
            height: 100px;
        }

        .attachment_name {
            word-wrap: break-word;
            font-weight: bold;
            text-align: center;
        }

        #add_category_btn {
            margin-bottom: 9px;
        }

        .ui-widget-content .ui-icon {
            background-color: #ccc;
            border-radius: 2px;
        }

        .ui-widget-content .ui-icon:hover {
            cursor: pointer;
        }

        .tree input {
            margin-left: 4px;
        }

        .tree label {
            display: inline-block;
            padding-left: 4px;
        }

        .tree li:hover > label {
            background: #efe;
        }

        .ui-widget-content {
            background: none;
            border: none;
        }
    </style>
    <style>
        .tabbable {
            background-color: #fff;
            margin-bottom: 48px;
            -webkit-box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.37);
            box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.37);
            padding-bottom: 6px;
            word-wrap: break-word;

        }

        .sortInput {
            width: 50px !important;
            text-align: center;
            margin-right: 20px;
        }

    </style>
    <style>

        .container-view * {
            font-family: Roboto, RobotoDraft, Helvetica, Arial, sans-serif;
        }

        .container-view .view {
            position: relative;
            -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
            -moz-box-sizing: border-box; /* Firefox, other Gecko */
            box-sizing: border-box;
            border-top: 10px solid #47cc82;
            display: flex;
            justify-content: center;
            background: white;
            padding: 25px 33px 75px;
            max-width: 640px;
            margin: 0 auto !important;
            top: 90px;
            box-shadow: 0 0 4px 1px rgba(0, 0, 0, 0.3);
            border-radius: 3px;
        }

        .sortInput {
            width: 50px !important;
        }

        .container-view legend {
            font-size: 20px;
            padding-bottom: 0.3em;
            display: block;
        }

        .container-view .container-background {
            height: 270px;
            width: 100%;
            background: MediumSeaGreen;
            position: absolute;
            z-index: -1;
        }

        .container-view .control-label {
            display: block !important;
            margin-bottom: 5px !important;
            text-align: left !important;
            font-size: 14px;
            white-space: pre-line;
        }

        .container-view label.radio, .container-view label.checkbox {
            font-size: 14px;
            font-weight: normal;
        }

        .container-view input[type=radio], .container-view input[type=checkbox] {
            transform: scale(1.2);
        }

        .inline {
            display: inline-block;
        }

        .inline:not(:first-of-type) {
            margin-left: 15px;
        }

        .radio, .checkbox {
            padding-left: 35px;
        }

        .container-view input[type="text"], .container-view input[type=password] {
            border-top: none;
            border-left: none;
            border-right: none;
            border-bottom: 1px lightgray dotted;
            width: 100%;
            max-width: 720px;
            height: 2em;
            padding-top: 5px;
            font-size: 1.2em;
            box-shadow: none;
            border-radius: 0 !important;
        }

        .container-view input[type=text]:focus, .container-view input[type=password]:focus {
            border-color: unset;
            box-shadow: none;
            border-bottom: 3px MediumSeaGreen solid;
        }

        .container-view .control-label {
            float: none !important;
            max-width: 720px;
            width: auto;
        }

        .container-view select {
            width: auto;
            max-width: 360px;
        }

        .container-view textarea {
            max-width: 572px;
            height: 114px;
            margin: 0px;
        }

        .container-view .controls {
            margin-left: 0 !important;
        }

        .view form {
            width: 100%;
        }

        legend {
            text-align: center;
            font-weight: bold;
        }

        .sort_radio {
            display: block;
            font-size: 14px;
            font-weight: 200 !important;
        }

        .sortInput {
            width: 50px !important;
            text-align: center;
            margin-right: 20px;
        }

        .btn-submit {
            position: relative;
            top: 40px;
            text-align: center;
        }

        input {
            outline: none !important;
        }

        .checkbox input[type=checkbox], .radio input[type=radio] {
            margin-left: -17px !important;
        }

        label.checkbox, label.radio {
            margin-left: -5px !important;
        }

        label.error {
            color: #db4437;
            font: 400 16px Roboto, RobotoDraft, Helvetica, Arial, sans-serif;
        }

        .range-input .range-panel {
            display: table;
            width: 100%;
            cursor: pointer;
        }

        .range-input .range-panel .panel-heading.inactive {
            height: 75px;
            background-color: transparent !important;
            width: 100%;
            vertical-align: middle;
            display: table-cell;
        }

        .range-input .range-panel .panel-heading.active {
            height: 75px;
            width: 100%;
            vertical-align: middle;
            display: table-cell;
        }

        .range-input input[type="range"] {
            transform: rotateZ(270deg);
            margin: auto;
            -webkit-appearance: none;
            position: relative;
            overflow: hidden;
            cursor: pointer;
            border-radius: 0; /* iOS */
        }

        .range-input ::-webkit-slider-runnable-track {
            background: #ddd;
        }

        /*
         * 1. Set to 0 width and remove border for a slider without a thumb
         */
        .range-input ::-webkit-slider-thumb {
            -webkit-appearance: none;
            width: 20px; /* 1 */
            height: 40px;
            background: #fff;
            box-shadow: -100vw 0 0 100vw dodgerblue;
            border: 2px solid #999; /* 1 */
        }

        .range-input ::-moz-range-track {
            height: 40px;
            background: #ddd;
        }

        .range-input ::-moz-range-thumb {
            background: #fff;
            height: 40px;
            width: 20px;
            border: 3px solid #999;
            border-radius: 0 !important;
            box-shadow: -100vw 0 0 100vw dodgerblue;
            box-sizing: border-box;
        }

        .range-input ::-ms-fill-lower {
            background: dodgerblue;
        }

        .range-input ::-ms-thumb {
            background: #fff;
            border: 2px solid #999;
            height: 40px;
            width: 20px;
            box-sizing: border-box;
        }

        .range-input ::-ms-ticks-after {
            display: none;
        }

        .range-input ::-ms-ticks-before {
            display: none;
        }

        .range-input ::-ms-track {
            background: #ddd;
            color: transparent;
            height: 40px;
            border: none;
        }

        .range-input ::-ms-tooltip {
            display: none;
        }

        .ignore-bold {
            font-weight: unset;
        }

        .active-bold {
            font-weight: bold;
        }

        .editor-field {
            width: 100%;
            float: left;
            align-items: stretch;
            padding: 10px;
        }
    </style>
</head>
<body>
<div class="container-view">
    <div class="container-background"></div>
    <div class="view">
        <div id="app" class="col-xs-12">
            <div class="editor-iframe" id="editor-iframe">
                <form :class="{'form-horizontal': label_horizontal}" method="post" action="/dynamic-survey/save-submit">
                    <generic-field-editor :field="field" v-for="field in fields"
                                          :key="field.id"></generic-field-editor>
                    <input type="hidden" name="survey_id" value='<?php echo $this->survey_id; ?>'>
                    <input type="hidden" name="action_type" value='<?php echo $this->actionType; ?>'>
                    <input type="hidden" name="data" value='<?php echo $this->data; ?>'>
                    <div class="btn-submit">
                        <button id="btnSubmit" class="btn btn-success btnSubmit" type="button" style="font-weight:bold">SUBMIT</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<script data-cfasync="false" src="<?php echo HOST; ?>surveybuilder/js/email-decode.min.js"></script>
<script src="<?php echo HOST; ?>surveybuilder/lib/lodash/lodash.min.js"></script>
<script src="<?php echo HOST; ?>surveybuilder/lib/vue/vue.min.js"></script>
<script src="<?php echo HOST; ?>surveybuilder/lib/sortable/sortable.js"></script>
<script src="<?php echo HOST; ?>surveybuilder/lib/vuedraggable/vuedraggable.js"></script>
<script src="<?php echo HOST; ?>surveybuilder/lib/prism/prism.js"></script>
<script src="<?php echo HOST; ?>surveybuilder/lib/vue-clipboard/vue-clipboard.min.js"></script>
<script src="<?php echo HOST; ?>surveybuilder/js/fontawesome-iconpicker.min.js"></script>
<script src="<?php echo HOST; ?>surveybuilder/lib/uiv/uiv.min.js"></script>
<script data-main="<?php echo HOST; ?>form-builder/assets/js/main-built.js"
        src="<?php echo HOST; ?>form-builder/assets/js/lib/require.js"></script>
</body>
<script>

    function loadScript(src) {
        return new Promise(function (resolve, reject) {
            var s;
            s = document.createElement('script');
            s.src = src;
            s.onload = resolve;
            s.onerror = reject;
            document.head.appendChild(s);
        });
    }

    function init(callback) {
        let dataField = JSON.parse(`<?php echo $this->data_fields; ?>`);
        if(sessionStorage.saved == undefined) {
            sessionStorage.saved = '{}';
        }
        sessionStorage.saved = JSON.stringify(Object.assign(JSON.parse(sessionStorage.saved), {
            fields: dataField,
            settings: {
                bootstrap_version: 3,
                bs4: {
                    custom: true
                },
                label_orientation: {
                    left: 4,
                    value: "horizontal"
                },
                requirements: {
                    font_awesome: true
                },
                submit: {
                    title: "Submit"
                }
            }
        }));
        var form_name = "<?php echo $this->survey_title; ?>";
        var to_staff_name = "<?php echo $this->to_staff['firstname'].' '.$this->to_staff['lastname']; ?>";
        
        $('form').prepend("<legend>" + form_name + " <br><b style='color:red'>" + to_staff_name + "</b></legend>");
        loadScript('/surveybuilder/js/prod.js')
            .then(function() {
                $('form').removeAttr("novalidate");
                callback();
            });
    }

    function loadEventRange()
    {
        $('.range-input').find('input').on('click, change', function () {
            let value = $(this).val();
            let panels = $(this).parent().parent().parent().find('.panel').toArray().reverse();
            panels.forEach(function (panel, index) {
                if (value > index) {
                    $(panel).removeClass('panel-default').addClass('panel-info');
                    $(panel).find('.panel-heading').removeClass('inactive').addClass('active');
                } else {
                    $(panel).removeClass('panel-info').addClass('panel-default');
                    $(panel).find('.panel-heading').removeClass('active').addClass('inactive');
                }
            })
        });

        $('.range-input').find('.panel').on('click', function () {
            console.log(123123);
            let rootParent = $(this).parent().parent().parent().parent().parent();
            let parent = $(this).parent().parent().parent();
            let index = parent.children().index($(this).parent().parent());
            rootParent.find('input').val($(this).parent().parent().parent().children().length - index);

            let value = rootParent.find('input').val();
            let panels = parent.find('.panel').toArray().reverse();
            panels.forEach(function (panel, index) {
                if (value > index) {
                    $(panel).removeClass('panel-default').addClass('panel-info');
                    $(panel).find('.panel-heading').removeClass('inactive').addClass('active');
                } else {
                    $(panel).removeClass('panel-info').addClass('panel-default');
                    $(panel).find('.panel-heading').removeClass('active').addClass('inactive');
                }
            })
        });

        $('.col-xs-8').addClass('col-xs-12').removeClass('col-xs-8');

        $('#btnSubmit').click(function() {
            submitData();
        });
    }

    function submitData() {
        let data = $('form').serializeArray();
        $.ajax({
            url: '/dynamic-survey/save-submit',
            type: 'POST',
            data: data,
            dataType: 'json',
            success: function(data) {
                if(data.status == 0) {
                    swal({
                        title: "Đã lưu",
                        text: "Hệ thống đã ghi nhận khảo sát này. Đang chuyển hướng về trang chủ...",
                        icon: "success",
                        buttons: true,
                        successMode: true,
                    }).then(function() {
                        
                        if(data.action_type == 'appraisal_office'){
                            location.href = '/appraisal-office/to-do-survey?plan_id='+data.plan_id;
                        }
                        else{
                            if(location.search.indexOf('appraisal_sale') != -1) {
                                location.href = '/appraisal-sale/to-do-survey';
                            }
                            else {
                                location.href = '/';
                            }
                        }
                        
                    });
                } else {
                    swal({
                        title: "Lỗi!",
                        text: data.message,
                        icon: "error",
                    });
                }
            },
            error: function() {
                swal({
                    title: "Lỗi!",
                    text: data.message,
                    icon: "error",
                });
            }
        })
    }

    $(document).ready(function () {
        init(loadEventRange);
    });
</script>

</html>