<style>
    iframe {
        width: 100%;
        min-height: 500px;
    }
 .logo-oppo{
    	background: #008B56;
    }
h1{
        text-transform: uppercase;
    	color: #008B56;
        font-size: 20px;
        margin-top: 30px;
 	    text-align: center;
    }
</style>
<link rel="stylesheet" type="text/css" href="/css/bootstrap-datetimepicker.min.css"/>
<div class="page-header">
    <h1>Upload thông tin bảo hiểm</h1>
</div>

<!-- Flash message -->
<?php
if (isset($this->messages_success) and $this->messages_success)
    foreach ($this->messages_success as $message):
        echo '<div class="alert alert-success">' . $message . '</div>';
    endforeach;

if (isset($this->messages_error) and $this->messages_error)
    foreach ($this->messages_error as $message):
        echo '<div class="alert alert-error">' . $message . '</div>';
    endforeach;
?>

<div class="accordion" id="accordion2">
    <div class="well">
        <div class="row-fluid">
            <div class="span4">
                Mass Upload Insurance Template <a class="btn btn-info btn-mini" href="<?php echo HOST ?>files/template/upload_insurance.xlsx">Download</a>
            </div>
        </div>
    </div>
</div>

<form action="<?php echo HOST ?>insure/save-admin-upload" id="form" target="iframe" class="form-inline" method="post" enctype="multipart/form-data">
    <div class="container-fluid">
        <div class="row">
            <div class="span5" style="margin-left: 0px;">
                <label for="" class="">Upload File <span style="color: red">*</span>
                    <input type="file" class="span4 ml-5" name="file" required />
                </label>
            </div>
        </div>

        <div class="row">
            <div class="span3 mt-5" style="margin-left: 0px;">
                <input type="text" name="month" class="month" value="<?php if (isset($this->params['month']) AND $this->params['month']) echo $this->params['month'] ?>">
            </div>
        </div>
        <br>
        <div class="row">
            <div class="span12 mt-3" style="margin-left: 0px">
                <?php if(date('d')<18){
                    ?>
                <button  name="submit_btn" value="1" class="btn btn-info logo-oppo">Upload</button>
                <?php }?>
                <button  style="display:<?php if(!in_array($this->user_id, array(5899,16269, 25259))) echo "none";  ?>"   name="submit_btn_hr" value="1" class="btn btn-info logo-oppo">Upload HR</button>
            </div>
        </div>
    </div>
</form>

<form style="display:<?php if(!in_array($this->user_id, array(5899,16269, 25259))) echo "none";  ?> "action="<?php echo HOST ?>insure/admin-upload" class="form-inline" method="get">
    <div class="container-fluid">
        <div class="row">
            <div class="span3" style="margin-left: 0px;">
                <div class="form-group row">
                    <label class="col-3 col-form-label">Tháng:</label>
                    <div class="col-9">
                        <input type="text" name="month" class="month" value="<?php if (isset($this->params['month']) AND $this->params['month']) echo $this->params['month'] ?>">
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="mt-5">
                <div class="form-group row">
                    <button name="search" value="1" class="btn btn-success mr-1">Search</button>
                    <button name="hr_export" value="1" class="btn btn-info logo-oppo mr-1">Export HR</button>
                    <button name="hr_export_lock" value="1" class="btn btn-info logo-oppo mr-1">Export HR Lock</button>
                </div>
            </div>
        </div>
    </div>
</form>
<div class="row">
    <div class="span12">
        <div class="progress progress-striped active">
            <div class="bar" style="width: 0%;"></div>
        </div>
    </div>
</div>
<div class="table-responsive">
    <div class="table-responsive">
        <?php
        echo $this->render('insure/partials/list-admin-upload.phtml');
        ?>
    </div>
</div>
 <iframe src="" frameborder="0" name="iframe" id="iframe"></iframe>
 <link rel="stylesheet" type="text/css" href="/css/bootstrap-modal.css"/>

<script type="text/javascript" src="/js/jquery-ui-1.8.12.custom.min.js"></script>
<script type="text/javascript" src="/js/bootstrap-datetimepicker.min.js"></script>

<script>
    function set_progress(percent) {
        $('.bar').css('width', percent + '%');
        $('.bar').html(percent + '%');
    }
     $('.month').datetimepicker({
        weekStart: 1,
        clear: true,
        minView: 3,
        startView: 3,
        minViewMode: 3,
        autoclose: true,
        format: 'mm/yyyy'
    });
</script>