<style>
*{
	font-family: "Helvetica Neue",Helvetica,Arial;
}
 .page-header h1{
        text-transform: uppercase;
    	color: #008B56;
        font-size: 20px;
        margin-top: 30px;
 	    text-align: center;
    }
    
.price{
	color: #19bc9c;
}
.header-info{
	    text-transform: uppercase;
    	color: #008B56;
        font-size: 20px;
        margin-top: 10px;
	    margin-bottom: 10px;
 	    text-align: center;
}

.logo-oppo{
    	background: #008B56;
    }

.table-bordered>tbody>tr:nth-of-type(odd) {
        background-color: #f9f9f9;
    }
    
    .table-bordered>tbody>tr:nth-of-type(even) {
        background-color: #fff;
    }
    
th{
        background: #2A3F54 !important;
        color: #ECF0F1 !important;
    	font-size: 14px !important;
    	text-transform: capitalize !important;
    	vertical-align: middle !important;
    	padding: 4px !important; 
    	font-family: "Helvetica Neue",Helvetica,Arial;
    }
tbody tr:hover td {
    background: rgba(38, 185, 154, 0.07);
    border-top: 1px solid rgba(38, 185, 154, 0.11);
    border-bottom: 1px solid rgba(38, 185, 154, 0.11);
}
</style>
<br>
<div class="container">
    <div class="accordion" id="accordion2">
    <div class="accordion-group">
        <div class="accordion-heading">
            <a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion2" href="#collapseTwo">
                Search
            </a>
        </div>
        <div id="collapseTwo" class="accordion-body collapse" style="height: 0px;">
            <div class="accordion-inner">
                <form action="<?php echo HOST. 'insure/check-insurance';?>" method="GET" class="form-search form-horizontal">
                    <div class="row">
                        <div class="span4">
                            <div class="control-group">
                                <label class="control-label">Mã nhân viên</label>
                                <div class="controls">
                                    <input id="code" class="form-control" name="code" type="text" class="input-large  form-control" value="<?php isset($this->params['code']) and printf($this->params['code']);?>">
                                </div>
                            </div>

                        </div> <!-- End span4 -->
                       
                        <div class="span12">
                            <button type="submit" class="btn btn-primary logo-oppo">Search</button>
                        </div>
                    </div> <!-- end row -->
                </form> <!-- end form -->
            </div> <!-- end accordion-inner -->
        </div> <!-- end collapseTwo -->
    </div>
</div>
<div class="page-header">
    <h1><small><?php echo $this->staff['firstname'].' '.$this->staff['lastname'].' '.$this->staff['code'].' '?></small></h1>
</div>
</div>

<?php if(isset($this->staff) AND $this->staff):?>


<form role="form" id="time_form" action="<?php echo HOST . 'insure/save-edit-insurance'; ?>"  target="iframe"  method="post"  class="row-fluid">
<h4 class="header-info">THÔNG TIN SỐ SỔ BHXH & THẺ BHYT</h4>
<table class="table table-bordered">
    <tr>
        <td>Số sổ BHXH</td>
        <td>Đã có sổ tại công ty</td>
        <td>Chốt sổ nghỉ việc</td>
        <td>Trả sổ nhân viên</td>
    </tr>
   <tr>
        <td><input readonly type="text" value="<?php echo $this->staff['insurance_number'];?>" name="insurance_number"/></td>
        <td><input readonly type="text" value="<?php echo ($this->staff['have_book']) ? 'Đã có sổ' : 'Chưa nộp sổ';?>" name="have_book" /></td>
        <td><input  readonly type="text" value="<?php echo ($this->staff['close_book']) ? 'Đá chốt sổ' : 'Chưa chốt sổ';?>" name="close_book" /></td>
        <td><input  readonly type="text" value="<?php echo ($this->staff['return_ins_book_time']) ? 'Đã trả sổ' : 'Chưa trả sổ';?>" name="return_ins_book_time" /></td>
    </tr>
    <tr>
        <td>Mã thẻ BHYT</td>
        <td>Tỉnh BV đăng ký KCB</td>
        <td>BV đăng ký KCB</td>
        <td>Thời gian phát thẻ BHYT</td>
    </tr>
    <tr>
        <td><input readonly type="text" value="<?php echo $this->staff['code_BHYT_ins'];?>" name="code_BHYT_ins"/></td>
        <td><select readonly name="province_hospital" id="province_hospital">
                <option value>---</option>
                <?php
                    foreach($this->provinces as $key => $value){
                ?>
                        <option value="<?php echo $key;?>" <?php if($key == $this->provinceHospital) echo 'selected'; ?>><?php echo $value;?></option>
                <?php
                    }
                ?>
            </select></td>
           
        <td><select readonly name="hospital_id" id="hospital_id">
                <option value>---</option>
                <?php $check_del_hospital = true;?>
                <?php
                    foreach($this->currentHospitals as $key => $value){
                ?>
                        <option value="<?php echo $key;?>" <?php if($key == $this->staff['hospital_id']) {$check_del_hospital = false; echo 'selected';}?>><?php echo $value;?></option>
                <?php 
                    }
                ?>
                <?php if($check_del_hospital == true && $this->staff['del_hospital'] == 1):?>
                    <option disabled="disabled" selected><?php echo str_pad($this->staff['code_hospital'],3,'0',STR_PAD_LEFT) .' - '.$this->staff['name_hospital'].' - '.$this->staff['province_name_hospital']?></option>  
                <?php endif;?>
            </select></td>
        <td><input readonly type="text" value="<?php echo ($this->staff['have_BHYT_time']) ? date('d/m/Y',strtotime($this->staff['have_BHYT_time'])) : '';?>" name="have_BHYT_time" class="date"/></td>
    </tr>
</table>

<input type="hidden" name="staff_id" value="<?php echo $this->staff['id'];?>"/>
<?php endif;?>
<!-- <button type="" class="btn btn-primary" style="float: right; margin-bottom: 30px;">Lưu lại</button>-->

        <div class="span12">            
                <iframe style="display:none;border:none;width: 100%" id="iframe" name="iframe"></iframe>
            
        </div>
</form>
<script type="text/javascript" src="/js/jquery-ui-1.8.12.custom.min.js"></script>
<link rel="stylesheet" type="text/css" href="/css/jquery-ui-1.8.12.custom.css"/>
<script>
    $(document).ready(function(){
        $( '.date' ).datepicker({ dateFormat: "dd/mm/yy" });
        loadHospital();
    });
    
    function loadHospital(){
        $("#province_hospital").change(function(){
            var id = $(this).val();
            $.ajax({
                url: '/ajax/get-hospital',
                type: 'get',
                data: {'province_id':id},
                success:function(data){
                    $('#hospital_id option:not(:first)').remove();
                    var html = '';
                    $.each(data,function(k,v){
                        html += '<option value="'+k+'">' + v +'</option>';
                    })
                    $('#hospital_id').append(html);
                }
            });
        })
    }
    
</script>