<div class="page-header">
  <h1> Create Hospital </h1>
</div>
<?php
    if (isset($this->messages) and $this->messages)
        foreach ($this->messages as $message):
            echo '<div class="alert alert-success">'.$message.'</div>';
        endforeach;

    if (isset($this->messages_error) and $this->messages_error)
        foreach ($this->messages_error as $message):
            echo '<div class="alert alert-error">'.$message.'</div>';
        endforeach;
?>
<div class="form">
  <form action="/insure/create-hospital?id=<?php echo $this->hospital['id']?>" method="post">
    <div class="row">
      <div class="span6">
            <div class="form-group">
              <label class="w-100" for="hospital_name">Hospital name</label>
              <input type="text" name="name" value="<?php if(isset($this->hospital['name']) AND printf($this->hospital['name']))?>" style="width: 400px;" required>
            </div>
          
            <div class="form-group">
              <label class="w-100" for="code">Code</label>
              <input class="span2" type="text" name="code" value="<?php if(isset($this->hospital['code']) AND printf($this->hospital['code']))?>" required>
            </div>
            
            <div class="form-group">
              <label class="w-100" for="province">Province</label>
              <select name="province" id="province" required>
                      <option value="">Choose</option>
                      <?php
                        if ($this->provinces) :
                            foreach ($this->provinces as $id => $name):?>
                              <option value="<?php echo $id;?>" <?php if(isset($this->hospital['province_id']) AND $this->hospital['province_id'] == $id) echo 'selected';?>>
                                <?php echo $name; ?>
                              </option>
                            <?php
                            endforeach;
                        endif;
                      ?>
                  </select>
            </div>
          
            <div class="form-group">
              <label class="w-100" for="note">Note</label>
              <input class="span2" type="text" name="note" value="<?php if(isset($this->hospital['note']) AND printf($this->hospital['note']))?>" style="width: 400px;" >
            </div>
          
      </div>
        
      <div class="span6">
      </div>
    </div>
    <div class="row" style="margin-top: 50px;">
      <div class="span12">
        <?php if(isset($this->hospital) AND $this->hospital):?>
        <input type="hidden" value="<?php echo $this->hospital['id']?>" name='id'>
        <?php endif;?>
        <input type="submit" name="submit" value="Save" class="btn btn-success">
        <a href="/insurance/list-hospital" class="btn btn-danger">Back</a>
      </div>
    </div>
  </form>
</div>
<div id="modalSubmit" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-body">
                <span id="modal_message" class="modal_mess"><h3>Bạn muốn lock bảo hiểm tháng này?</h3></span>
                <button type="button" name="submit" id="btnSubmit" value="1" class="btn btn-primary">Có</button>
                <button type="button" id="cancel" class="btn btn-default">Không</button>
            </div>
        </div>

    </div>
</div> <!-- end modal -->


<script type="text/javascript" src="/js/bootstrap-modal.js"></script>
<script type="text/javascript" src="/js/bootstrap-modalmanager.js"></script>
<link rel="stylesheet" type="text/css" href="/css/bootstrap-modal.css" />

