<style>
    textarea {
        width: 100%;
        resize: none;
    }

    .control-group label{
        display: inline-block;
        width: 200px;
    }

    textarea{
        width: 280px;
    }
    #result_hint_qdnv{
        margin-left: 205px;
        margin-top: 10px;
        border: 1px solid #e10505;
        display: none;
        padding: 3px;
        width: 200px;
    }

</style>

<div class="page-header">
    <h1>UPDATE DATA</h1>
</div>

<?php if (isset($this->messages_error) && $this->messages_error): ?>
    <?php foreach ($this->messages_error as $key => $value): ?>
        <div class="alert alert-danger alert-dismissible" role="alert">
            <button type="button" class="close" data-dismiss="alert"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
            <strong>Error!</strong> <?php echo $value ?>
        </div>
    <?php endforeach ?>
<?php endif ?>

<?php if (isset($this->messages_success) && $this->messages_success): ?>
    <?php foreach ($this->messages_success as $key => $value): ?>
        <div class="alert alert-success alert-dismissible" role="alert">
            <button type="button" class="close" data-dismiss="alert"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
            <?php echo $value ?>
        </div>
    <?php endforeach ?>
<?php endif ?>

<form id="form" action="<?php echo HOST ?>insurance/save" method="POST" class="form-horizontal" role="form">

    <div class="row">
        <div class="span12">
            <legend><?php echo $this->staff['firstname'].' '.$this->staff['lastname'] .' - '.$this->staff['code']?>
            <span class='pull-right'>Ngày xuất báo cáo: <?php echo date('d/m/Y',strtotime($this->row['time_ins']));?></span>
            </legend>
        </div>
    </div>

    <div class="row">
        <div class="span6">
            <div class="control-group">
                <label>Công ty</label>
                
                <select name="company_id" id="company_id" class="form-control" disabled="true">
                    <?php
                    foreach($this->companies as $key => $value):
                        ?>
                        <option value="<?php echo $key;?>" <?php if($this->row['company_id'] == $key) echo 'selected=selected';?>>
                        <?php echo $value;?></option>
                    <?php
                    endforeach;
                    ?>
                </select>
                
            </div>

            <div class="control-group">
                <label>Đơn vị</label>
                <select name="unit_code_id" id="unit_code_id" class="form-control" disabled="true">
                    <?php
                    foreach($this->unit_codes as $key => $value):
                        ?>
                        <option value="<?php echo $key;?>" <?php if($this->row['unit_code_id'] == $key) echo 'selected=selected';?>>
                            <?php echo $value;?></option>
                    <?php
                    endforeach;
                    ?>
                </select>
            </div>

            <div class="control-group">
                <label for="department">Department</label>
                <select class="form-control" name="department" id="department"  disabled="true">
                    <option value="">Choose Department</option>
                    <?php foreach($this->departments as $key => $value):?>
                        <option value="<?php echo $key;?>" <?php if($key == $this->row['department']) echo 'selected=selected';?>><?php echo $value;?></option>
                    <?php endforeach ?>
                </select>
            </div>

            <div class="control-group">
                <label for="team">Team</label>
            
                    <select class="form-control" name="team" id="team" disabled="true" >
                        <?php foreach($this->teams as $key => $value):?>
                            <option value="<?php echo $key;?>" <?php if($key == $this->row['team']) echo 'selected=selected';?>><?php echo $value;?></option>
                        <?php endforeach ?>
                    </select>
                
            </div>

            <div class="control-group">
                <label>Chức danh</label>
                <select class="form-control" required="true" name="title_id" id="title" disabled="true">
                    <?php if(isset($this->titles) AND $this->titles):?>
                        <?php foreach($this->titles as $key => $value):?>
                            <option value="<?php echo $key; ?>" <?php if($this->row['title'] == $key) echo 'selected=selected';?>><?php echo $value;?></option>
                        <?php endforeach;?>
                    <?php endif;?>
                </select>
            </div>

            <div class="control-group">
                <label>Tỉ lệ đóng</label>
                <input type="text" name="rate" class='form-control' value="<?php  echo $this->row['rate'];?>" readonly="true">
            </div>

            <div class="control-group">
                <label>Lương đóng bảo hiểm</label>
                <input type="text" name="salary" class='form-control' value="<?php  echo $this->row['salary'];?>">
            </div>

        </div>
        <div class="span6">

            <div class="control-group">
                <label>Báo Tăng/Giảm</label>
                <select name="type" id="" class="form-control" disabled="true">
                    <option value="1" <?php if($this->row['type'] == 1) echo "selected=selected";?>>Tăng</option>
                    <option value="2" <?php if($this->row['type'] == 2) echo "selected=selected";?>>Giảm</option>
                </select>
                
            </div>

            <div class="control-group">
                <label>Loại Tăng/Giảm</label>
                <select name="option" id="" class="form-control" disabled="true">
                    <option value="">Chọn loại</option>
                    <?php
                    foreach($this->options as $key => $value):
                        ?>
                        <option value="<?php echo $key;?>" <?php if($this->row['option'] == $key) echo 'selected=selected';?>><?php echo $value;?></option>
                    <?php
                    endforeach;
                    ?>
                </select>

            </div>

            <!-- Ngày hiệu lực -->
            <div class="control-group">
                <label>
                    <?php 
                        if($this->row['option'] == 1):
                            echo 'Ngày kí hợp đồng hệ thống';
                        elseif(in_array($this->row['option'], array(3,4,5,6))):
                            echo 'Ngày nghỉ việc hệ thống';
                        elseif($this->row['option'] == 7):
                            echo 'Ngày điều chỉnh hệ thống';
                        else:
                            echo 'Ngày hiệu lực hệ thống';
                        endif;
                    ?>
                </label>
                <input type="text" name="time_effective" readonly="true"  class='form-control'  readonly="true" value=<?php echo date('d/m/Y',strtotime($this->row['time_effective']));?>>
                
            </div>
            
            <!-- Báo giảm ngày khác -->
            <div class="control-group">
                <label>
                    <?php
                        if($this->row['option'] == 1):
                            echo 'Ngày báo tăng bảo hiểm';
                        elseif(in_array($this->row['option'], array(3,4,5,6))):
                            echo 'Ngày báo giảm bảo hiểm';
                        elseif($this->row['option'] == 7):
                            echo 'Ngày điều chỉnh bảo hiểm';
                        else:
                            echo 'Ngày hiệu lực hệ thống';
                        endif;
                    ?>

                </label>
                <input type="text" id="time_alter" name="time_alter" class='form-control date_full' value=<?php if($this->row['time_alter']) echo date('d/m/Y',strtotime($this->row['time_alter']));?>>
            </div>

            <!-- Ngày bảo hiểm thực tế -->
            <div class="control-group">
                <label>
                    <?php
                        if($this->row['option'] == 1):
                            echo 'Ngày báo tăng thực tế bảo hiểm';
                        elseif(in_array($this->row['option'], array(3,4,5,6))):
                            echo 'Ngày báo giảm thực tế bảo hiểm';
                        elseif($this->row['option'] == 7):
                            echo 'Ngày điều chỉnh thực bảo hiểm';
                        else:
                            echo 'Ngày hiệu lực thực tế';
                        endif;
                    ?>
                </label>
                <input type="text" name="real_time" class='form-control date_full'
                       value=<?php if(isset($this->row['real_time']) AND $this->row['real_time']) echo date('d/m/Y',strtotime($this->row['real_time']));?>>
            </div>


            <?php if($this->row['option'] == 3):?>
            <div class="control-group">
                <label>Quyết định nghỉ việc</label>
                <input type="text" name="qdnv"  class='form-control' value=<?php echo $this->row['qdnv'];?>>
                <button id="hint_qdnv" type="button" data-option="<?php echo $this->row['option'];?>" class="btn btn-info btn-small">đề xuất Qdnv</button>
                <span id="result_hint_qdnv" class="bg bg-success"></span>
            </div>
            <?php endif;?>

            <?php if($this->row['option'] == 5):?>
            <div class="control-group">
                <label>Quyết định nghỉ không lương</label>
                <input type="text" name="qdnv"  class='form-control' value=<?php echo $this->row['qdnv'];?>>
                <button id="hint_qdnv" type="button" data-option="<?php echo $this->row['option'];?>" class="btn btn-info btn-small">đề xuất QDNKL</button>
                <span id="result_hint_qdnv" class="bg bg-success"></span>
            </div>
            <?php endif;?>

            <div class="control-group">
                <label>Ghi chú</label>
                <textarea name="note" style="width: 210px;" class="form-control" cols="30" rows="5"><?php echo $this->row['note']?></textarea>
            </div>

            <div class="control-group">
                <label>Trạng thái</label>
                <!-- <input type="checkbox" name="locked" value="1" <?php echo ($this->row['locked'] == 1) ? 'checked' : '';?>> -->
                <br>
                <input type="radio" name="locked" value="0" <?php if($this->row['locked'] == 0) echo 'checked';?> >Pending<br>
                <input type="radio" name="locked" value="2" <?php if($this->row['locked'] == 2) echo 'checked';?>> In process<br>
                <input type="radio" name="locked" value="1" <?php if($this->row['locked'] == 1) echo 'checked';?>> Approved
            </div>
        </div>
    </div>

    <div class="row">
        <div class="span6">
            &nbsp;
        </div>
        <div class="span5">
            <div class="wrap pull-right">
                <input type="hidden" name="id" value="<?php if(isset($this->row)) echo $this->row['id'] ?>">
                <input type="hidden" name="back_url" value="<?php echo $this->uri; ?>">
                <button type="submit" class="btn btn-primary" id="save_btn">Save</button>
                <button type="button" class="btn btn-default" onclick="window.location='<?php echo HOST ?>insurance/report'">Cancel</button>

            </div>
        </div>
    </div>
</form>

<link rel="stylesheet" href="<?php echo HOST ?>css/bootstrap-datetimepicker.min.css">
<script src="<?php echo HOST ?>js/bootstrap-datetimepicker.min.js"></script>

<script>

    $('.date').datetimepicker({
        format: 'mm/yyyy',
        startView: 3,
        minView: 3,
        autoclose: true
    });

    $('.date_full').not('.pause_group .date').datetimepicker({
        format: 'dd/mm/yyyy',
        minView: 2,
        autoclose: true
    });

    $(document).ready(function() {
        $('#company_id').change(change_unit_code);
        change_department();
        change_team();
        hint_qdnv();
    });

    function change_unit_code() {
        company_id = $("#company_id").val();
        if (company_id) {
            if (company_id == 1) {
                $("#unit_code_id option[value='1']").prop("selected", true);
            } else if (company_id == 2) {
                $("#unit_code_id option[value='2']").prop("selected", true);

            }
        }
    }

    function change_department(){
        $("#department").change(function(){
            var _this = $(this);
            var id = _this.val();
            $.ajax({
                url: '/ajax/get-team',
                type: 'get',
                data:{'id':id},
                success:function(data){
                    $('#team').html(data);
                    $('#team').trigger('change');
                },
                error:function(){
                    alert('load faild');
                }
            });
        })
    }

    function change_team(){
        $("#team").change(function(){
            var _this = $(this);
            var id = _this.val();
            $.ajax({
                url: '/ajax/get-team',
                type: 'get',
                data:{'id':id},
                success:function(data){
                    $('#title').html(data);
                },
                error:function(){
                    alert('load faild');
                }
            });
        })
    }

    function hint_qdnv(){
        $("#hint_qdnv").click(function(){
            var company_id = $("#company_id option:selected ").val();
            var time_alter = $("#time_alter").val();
            var option = $(this).attr('data-option');
            $.ajax({
                url: '/insurance/hint-qdnv',
                type: 'get',
                data:{'company_id':company_id,'time_alter':time_alter,'option':option},
                success:function(data){
                    if(data.code == 1){
                        console.log(data.result);
                        $("#result_hint_qdnv").html(data.result);
                        $("#result_hint_qdnv").show();
                    }else{
                        alert('load failure');
                    }
                },
                error:function(){
                    alert('load failure');
                }

            })
        })
    }

</script>
