<style>
    .control-group label{
        display: inline-block;
        width: 80px;
    }
</style>
<div class="page-header">
    <h1>Staff Info <small><?php echo $this->staff['firstname'].' '.$this->staff['lastname'].' ('.$this->staff['code'].') '?></small></h1>
</div>

<?php
if (isset($this->messages) and $this->messages)
    foreach ($this->messages as $message):
        echo '<div class="alert alert-error">' . $message . '</div>';
    endforeach;

if (isset($this->messages_success) and $this->messages_success)
    foreach ($this->messages_success as $message):
        echo '<div class="alert alert-success">' . $message . '</div>';
    endforeach;
?>


<form action="/insurance/save-info" method="post">

<div class="row">
    <div class="span12">
        <div class="control-group">
            <input type="submit" value="Lưu lại" class="btn btn-primary pull-right"/>
        </div>
    </div>
</div>

<ul class="nav nav-tabs">
    <li class="active"><a href="#basic" data-toggle="tab">Thông tin cơ bản</a></li>
    <li><a href="#book" data-toggle="tab">Sổ và Thẻ</a></li>
    <li><a href="#other" data-toggle="tab" style="display: none">Thông tin khác</a></li>
</ul>

<?php if(isset($this->staff) AND $this->staff):?>
<div class="tab-content">
    <div class="tab-pane active" id="basic">
        <div class="row">
            <div class="span4">
                <div class="control-group">
                    <label for="">Họ</label>
                    <input type="text" readonly value="<?php echo $this->staff['firstname_ins'];?>"/>
                </div>

                <div class="control-group">
                    <label for="">Tên</label>
                    <input type="text" readonly value="<?php echo $this->staff['lastname_ins'];?>"/>
                </div>

                <div class="control-group">
                    <label for="">Ngày Sinh</label>
                    <input type="text" readonly value="<?php echo $this->staff['dob_ins'];?>"/>
                </div>

                <div class="control-group">
                    <label for="">Chứng minh</label>
                    <input type="text" readonly value="<?php echo $this->staff['id_number_ins'];?>"/>
                </div>

                <div class="control-group">
                    <label for="">Giới tính</label>
                    <input type="text" readonly value="<?php echo $this->staff['gender_name'];?>"/>
                </div>

                <div class="control-group">
                    <label for="">Chức vụ</label>
                    <input type="text" readonly value="<?php echo $this->staff['title_name'];?>"/>
                </div>

                <div class="control-group">
                    <label for="">Phòng ban</label>
                    <input type="text" readonly value="<?php echo $this->staff['department_name'];?>"/>
                </div>

                <div class="control-group">
                    <label for="">Team</label>
                    <input type="text" readonly value="<?php echo $this->staff['team_name'];?>"/>
                </div>

            </div>

            <div class="span4">
                <div class="control-group">
                    <label for="">Lương</label>
                    <input type="text" value="<?php echo $this->current_salary['salary'];?>" readonly/>
                </div>

                <div class="control-group">
                    <label for="">Tỉ lệ đóng</label>
                    <input type="text" value="32" readonly/>
                </div>

                <div class="control-group">
                    <label for="">Tăng</label>

                    <input type="text" value="<?php if(isset($this->increase_text) AND $this->increase_text) echo $this->increase_text;?>" readonly/>
                </div>

                <div class="control-group">
                    <label for="">Giảm</label>
                    <input type="text" value="<?php if(isset($this->decrease_text) AND $this->decrease_text) echo $this->decrease_text;?>" readonly/>
                </div>

                <div class="control-group">
                    <label for="">Quyết định nghỉ việc</label>
                    <?php if(isset($this->qdnv) AND $this->qdnv):?>
                    <a href="/insurance/print?ids=<?php echo $this->qdnv['id'];?>" title="In quyết định nghỉ việc"><?php echo $this->qdnv['qdnv'] ?></a>
                    <?php endif;?>
                </div>

            </div>

            <div class="span4">
                <div class="control-group">
                    <label for="">Mã đơn vị</label>
                    <select name="unit_code_id" id="" required="true">
                        <option value="">---</option>
                        <?php
                            foreach($this->unit_codes as $key => $value):
                        ?>
                                <option value="<?php echo $key;?>" <?php if($this->staff['unit_code_id'] == $key) echo 'selected';?>><?php echo $value;?></option>
                        <?php
                            endforeach;
                        ?>
                    </select>
                </div>

                <div class="control-group">
                    <label for="">Sổ bảo hiểm</label>
                    <input type="text" value="<?php echo $this->staff['insurance_number'];?>" name="insurance_number"/>
                </div>

                <div class="control-group">
                    <label for="">Ghi chú</label>
                    <textarea name="note_ins" id="" cols="30" rows="10"><?php echo $this->staff['note_ins']?></textarea>
                </div>
            </div>

        </div>
    </div>
    <div class="tab-pane" id="book">
        <div class="row">
            <div class="span4">
                <div class="control-group">
                    <label for="">Có sổ</label>
                    <input type="text" value="<?php echo ($this->staff['have_book']) ? date('d/m/Y',strtotime($this->staff['have_book'])) : '';?>" name="have_book" class="date"/>
                </div>

                <div class="control-group">
                    <label for="">Chốt sổ</label>
                    <input type="text" value="<?php echo ($this->staff['close_book']) ? date('d/m/Y',strtotime($this->staff['close_book'])) : '';?>" name="close_book" class="date"/>
                </div>

                <div class="control-group">
                    <label for="">Trả sổ</label>
                    <input type="text" value="<?php echo ($this->staff['return_ins_book_time']) ? date('d/m/Y',strtotime($this->staff['return_ins_book_time'])) : '';?>" name="return_ins_book_time" class="date"/>
                </div>

                <div class="control-group" style="display: none">
                    <label for="">Ngày báo Trả sổ</label>
                    <input type="text" value="<?php echo ($this->staff['return_book_declare_ins']) ? date('d/m/Y',strtotime($this->staff['return_book_declare_ins'])) : '';?>" name="return_book_declare_ins" class="date"/>
                </div>
            </div>

            <div class="span4">
                <div class="control-group">
                    <label for="">Chia thẻ về khu vực</label>
                    <input type="text" value="<?php echo ($this->staff['delivery_card_ins']) ? date('d/m/Y',strtotime($this->staff['delivery_card_ins'])) : '';?>" name="delivery_card_ins" class="date"/>
                </div>

                <div class="control-group" style="display: none">
                    <label for="">Thu hồi thẻ từ nhân viên</label>
                    <input type="text" value="<?php echo ($this->staff['take_card_from_staff']) ? date('d/m/Y',strtotime($this->staff['take_card_from_staff'])) : '';?>" name="take_card_from_staff" class="date"/>
                </div>
            </div>

            <div class="span4">
                <div class="control-group">
                    <label for="">Mã tỉnh đăng kí khám chữa bệnh</label>
                    <select name="" id="province_hospital">
                        <option value>---</option>
                        <?php
                            foreach($this->provinces as $key => $value){
                        ?>
                                <option value="<?php echo $key;?>" <?php if($key == $this->provinceHospital) echo 'selected'; ?>><?php echo $value;?></option>
                        <?php
                            }
                        ?>
                    </select>
                </div>

                <div class="control-group">
                    <label for="">Mã bệnh viện</label>
                    <select name="hospital_id" id="hospital_id">
                        <option value>---</option>
                        <?php
                            foreach($this->currentHospitals as $key => $value){
                        ?>
                                <option value="<?php echo $key;?>" <?php if($key == $this->staff['hospital_id']) echo 'selected';?>><?php echo $value;?></option>
                        <?php 
                            }
                        ?>
                    </select>
                </div>
            </div>
        </div>
    </div>
    <div class="tab-pane" id="other"  style="display: none">
        <div class="row">

            <div class="span4">
                <div class="control-group">
                    <label for="">Ngày báo tăng lùi</label>
                    <input type="text" name="date_insurance_increase" class="date" value="<?php echo ($this->staff['date_insurance_increase']) ? date('d/m/Y',strtotime($this->staff['date_insurance_increase'])) :'';?>"/>
                </div>

                <div class="control-group">
                    <label for="">Ngày báo giảm lùi</label>
                    <input type="text" name="date_insurance_off" class="date" value="<?php echo ($this->staff['date_insurance_off']) ? date('d/m/Y',strtotime($this->staff['date_insurance_off'])) : '';?>"/>
                </div>

                <div class="control-group">
                    <label for="">Ngày đi báo giảm lùi</label>
                    <input type="text" name="date_insurance_off_declare" class="date" value="<?php echo ($this->staff['date_insurance_off_declare']) ? date('d/m/Y',strtotime($this->staff['date_insurance_off_declare'])) : '';?>"/>
                </div>
            </div>

            <div class="span4">

            </div>

            <div class="span4">

            </div>
        </div>
    </div>

    <input type="hidden" name="staff_id" value="<?php echo $this->staff['id'];?>"/>
</div>
<?php endif;?>

</form>

<script type="text/javascript" src="/js/jquery-ui-1.8.12.custom.min.js"></script>
<link rel="stylesheet" type="text/css" href="/css/jquery-ui-1.8.12.custom.css"/>

<script>
    $(document).ready(function(){
        $( '.date' ).datepicker({ dateFormat: "dd/mm/yy" });
        loadHospital();
    });

    function loadHospital(){
        $("#province_hospital").change(function(){
            var id = $(this).val();
            $.ajax({
                url: '/ajax/get-hospital',
                type: 'get',
                data: {'province_id':id},
                success:function(data){
                    $('#hospital_id option:not(:first)').remove();
                    var html = '';
                    $.each(data,function(k,v){
                        html += '<option value="'+k+'">' + v +'</option>';
                    })
                    $('#hospital_id').append(html);
                }
            });
        })
    }
</script>