<style>
    .bt-action a{
        margin-bottom: 5px;
        margin-left: 5px;
    }
</style>
<div class="page-header">
    <h1>Hospital List</h1>
</div>
<?php
    if (isset($this->messages) and $this->messages)
        foreach ($this->messages as $message):
            echo '<div class="alert alert-success">'.$message.'</div>';
        endforeach;

    if (isset($this->messages_error) and $this->messages_error)
        foreach ($this->messages_error as $message):
            echo '<div class="alert alert-error">'.$message.'</div>';
        endforeach;
?>
<div class="accordion" id="accordion2">
    <div class="accordion-group">
        <div class="accordion-heading">
            <a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion2" href="#collapseTwo">
                Search
            </a>
        </div>
        <div id="collapseTwo" class="accordion-body collapse" style="height: 0px;">
            <div class="accordion-inner">
                <form class="form-search form-horizontal" method="get" action="/insure/list-hospital">
    <div class="row">
        <div class="span5">
            <div class="control-group">
                <label for="hospital_name" class="span2">Hospital Name</label>
                <input id="hospital_name" name="hospital_name" type="text" class="input-medium search-query form-control span2" value="<?php isset($this->params['hospital_name']) and printf($this->params['hospital_name']);?>">
            </div>
            <div class="control-group">
                <label for="code" class="span2">Code</label>
                <input id="code" name="code" type="text" class="input-medium search-query form-control span2" value="<?php isset($this->params['code']) and printf($this->params['code']);?>">
            </div>
             <div class="control-group">
                <label for="province_code" class="span2">Province Code</label>
                <input id="code" name="province_code" type="text" class="input-medium search-query form-control span2" value="<?php isset($this->params['province_code']) and printf($this->params['province_code']);?>">
            </div>
            <div class="control-group">
            		<label class="span2">Province</label>
                    <select name="province" id="province" >
                        <option value="">Choose</option>
                        <?php
                        if ($this->provinces) :
                            foreach ($this->provinces as $k => $province):?>
                                <option value="<?php echo $k;?>" <?php if (isset($this->params['province']) and ($this->params['province']== $k)):?>selected<?php endif;?>><?php echo $province;?></option>
                            <?php
                            endforeach;
                        endif;
                        ?>
                    </select>
                </div>
        </div>

        <div class="span5">
           
        </div>
    </div>

    <button type="submit" class="btn btn-primary">Search</button>
    <button type="reset" class="btn btn-warning">Reset</button>
    <button type="submit" name="export" value="1" class="btn btn-success">Export</button>
</form>

            </div>
        </div>
    </div>
</div>
<div class="bt-action">
    <a href="/insure/create-hospital" class="btn btn-success pull-right">+</a>
    <?php  if ($this->access('insure', 'massupload-hospital-hide-unhide')):?>
        <a href="/insure/massupload-hospital-hide-unhide" class="btn btn-success pull-right">Hide/Unhide Hospital</a>
    <?php endif;?>
</div>
<div class="table-responsive">
  <table class="table table-bordered">
    <thead>
        <tr>
            <th>STT</th>
            <th> Hospital Name </th>
            <th> Hospital Code </th>
            <th> Province Name </th>
            <th> Province Code </th>
            <th> Note </th>
            
            <th> Action </th>
        </tr>
    </thead>
    <tbody>
        <?php if(isset($this->list) AND $this->list):
                $intStt = $this->offset;
                foreach($this->list as $item):
        ?>  
                <tr>
                    <td><?php echo ++$intStt;?></td>
                    <td><?php echo $item['hospital_name']; ?></td>
                    <td><?php echo $item['code']; ?></td>
                    <td><?php echo $item['province_name']?></td>
                    <td><?php echo $item['province_code']?></td>
                    <td><?php echo $item['note']; ?></td>
                    <td>
                        <a item_id="<?php echo $item['id'];?>" href="#" class="confirmLink"><i class="icon-trash"></i></a>
                        <a href="<?php echo '/insure/create-hospital?id='.$item['id']?>" ><i class="icon-edit"></i></a>
                    </td>
                </tr>                
        <?php 
                endforeach;
            endif;?>
    </tbody>
</table>    
<div class="paging">
    <?php echo $this->paging($this->total, $this->limit, $this->offset, $this->url);?>
</div>

</div>

</div>
<div id="modalSubmit" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-body">
                <span id="modal_message" class="modal_mess"><h3>Bạn muốn xóa không?</h3></span>
                <button type="button" name="submit" id="btnSubmit" value="1" class="btn btn-primary">Có</button>
                <button type="button" id="cancel" class="btn btn-default">Không</button>
                <input type="hidden" name="hospital_del" value="" class="hospital_del" />
            </div>
        </div>

    </div>
</div> <!-- end modal -->
<script type="text/javascript" src="/js/bootstrap-modal.js"></script>
<script type="text/javascript" src="/js/bootstrap-modalmanager.js"></script>
<link rel="stylesheet" type="text/css" href="/css/bootstrap-modal.css"/>
<script>
    $(document).ready(function () {
        
    $('.confirmLink').click(function () {
        var item_id	= $(this).attr('item_id');
        $('.hospital_del').val(item_id);
        $('#modalSubmit').modal();
    });
    
    $('#btnSubmit').click(function () {
        var hospital_id  = $('.hospital_del').val();
        $.ajax({
            type: 'get',
            url: '/insure/del-hospital',
            data: {
                'hospital_id': hospital_id
            },

            error: function (error) {
                console.log(eval(error));
            },
            success: function (data) {
               
            }
        });
        $('#modalSubmit').modal('hide');
    });


    $('#cancel').click(function () {
        $('#modalSubmit').modal('hide');
    });
    
    
        $("[rel=tooltip]").tooltip({ placement: 'right'});
        $('.form-search button:reset').click(function (e){
            $('.form-search input, .form-search select').val('');
            $('.form-search').submit();
            return false;
        });

        $modal = $('#modal');

        $('#short_btn').click(function(){
            _self = $(this);
            $('body').modalmanager('loading');

            $.post('<?php echo HOST ?>/ajax/pg-short-report',
                {
					from : $('#from_date').val().trim(),
					to : $('#to_date').val().trim()
                },
                function(data){
                    $modal.html(data);
                    $modal.modal();
            	}
            );
        });
    });

    
</script>
