<div class="page-header">
    <h1>Insurance Staff Log <small><?php echo $this->staff['firstname'].' - '.$this->staff['lastname'].' ('.$this->staff['code'].')'?></small></h1>
</div>

<style>
    ul li label{
        display: inline-block;
        margin-right: 20px;
    }
</style>
<!-- Flash message -->
<?php
if (isset($this->messages_success) and $this->messages_success)
    foreach ($this->messages_success as $message):
        echo '<div class="alert alert-success">'.$message.'</div>';
    endforeach;

if (isset($this->messages_error) and $this->messages_error)
    foreach ($this->messages_error as $message):
        echo '<div class="alert alert-error">'.$message.'</div>';
    endforeach;
?>

<div class="table-responsive">
    <table class="table table-bordered">
        <tr>
            <th>Before</th>
            <th>After</th>
            <th>At</th>
            <th>Created by</th>
        </tr>
        <?php
            if($this->diffs and count($this->diffs) > 0):
                foreach($this->diffs as $log):
        ?>
        <tr>
            <td>
                <ul>
                    <?php if ( isset( $log['diffs']['insurance_number'] )): ?>
                        <li>
                            <label for=""><?php if( isset( $this->labels['insurance_number'] ) ) echo $this->labels['insurance_number'] ?>: </label>
                            <?php echo $log['before']['insurance_number'] ?>
                        </li>
                    <?php endif;?>

                    <?php if ( isset( $log['diffs']['unit_code_id'] )): ?>
                        <li>
                            <label for=""><?php if( isset( $this->labels['unit_code_id'] ) ) echo $this->labels['unit_code_id'] ?>: </label>
                            <?php echo $log['before']['unit_code_id'] ?>
                        </li>
                    <?php endif;?>

                    <?php if ( isset( $log['diffs']['note_ins'] )): ?>
                        <li>
                            <label for=""><?php if( isset( $this->labels['note_ins'] ) ) echo $this->labels['note_ins'] ?>: </label>
                            <?php echo $log['before']['note_ins'] ?>
                        </li>
                    <?php endif;?>

                    <?php if ( isset( $log['diffs']['have_book'] )): ?>
                        <li>
                            <label for=""><?php if( isset( $this->labels['have_book'] ) ) echo $this->labels['have_book'] ?>: </label>
                            <?php echo ($log['before']['have_book'] AND $log['before']['have_book'] <> '0000-00-00') ? date('d/m/Y',strtotime($log['before']['have_book'])) : ''; ?>
                        </li>
                    <?php endif;?>

                    <?php if ( isset( $log['diffs']['close_book'] )): ?>
                        <li>
                            <label for=""><?php if( isset( $this->labels['close_book'] ) ) echo $this->labels['close_book'] ?>: </label>
                            <?php echo ($log['before']['close_book'] AND $log['before']['close_book'] <> '0000-00-00') ? date('d/m/Y',strtotime($log['before']['close_book'])) : ''; ?>
                        </li>
                    <?php endif;?>

                    <?php if ( isset( $log['diffs']['close_book'] )): ?>
                        <li>
                            <label for=""><?php if( isset( $this->labels['close_book'] ) ) echo $this->labels['close_book'] ?>: </label>
                            <?php echo ($log['before']['close_book'] AND $log['before']['close_book'] <> '0000-00-00') ? date('d/m/Y',strtotime($log['before']['close_book'])) : ''; ?>
                        </li>
                    <?php endif;?>

                    <?php if ( isset( $log['diffs']['return_ins_book_time'] )): ?>
                        <li>
                            <label for=""><?php if( isset( $this->labels['return_ins_book_time'] ) ) echo $this->labels['return_ins_book_time'] ?>: </label>
                            <?php echo ($log['before']['return_ins_book_time'] AND $log['before']['return_ins_book_time'] <> '0000-00-00') ? date('d/m/Y',strtotime($log['before']['return_ins_book_time'])) : ''; ?>
                        </li>
                    <?php endif;?>

                    <?php if ( isset( $log['diffs']['return_book_declare_ins'] )): ?>
                        <li>
                            <label for=""><?php if( isset( $this->labels['return_book_declare_ins'] ) ) echo $this->labels['return_ins_book_time'] ?>: </label>
                            <?php echo ($log['before']['return_book_declare_ins'] AND $log['before']['return_book_declare_ins'] <> '0000-00-00') ? date('d/m/Y',strtotime($log['before']['return_book_declare_ins'])) : ''; ?>
                        </li>
                    <?php endif;?>

                    <?php if ( isset( $log['diffs']['return_book_declare_ins'] )): ?>
                        <li>
                            <label for=""><?php if( isset( $this->labels['return_book_declare_ins'] ) ) echo $this->labels['return_book_declare_ins'] ?>: </label>
                            <?php echo ($log['before']['return_book_declare_ins'] AND $log['before']['return_book_declare_ins'] <> '0000-00-00') ? date('d/m/Y',strtotime($log['before']['return_book_declare_ins'])) : ''; ?>
                        </li>
                    <?php endif;?>


                    <?php if ( isset( $log['diffs']['delivery_card_ins'] )): ?>
                        <li>
                            <label for=""><?php if( isset( $this->labels['delivery_card_ins'] ) ) echo $this->labels['delivery_card_ins'] ?>: </label>
                            <?php echo ($log['before']['delivery_card_ins'] AND $log['before']['delivery_card_ins'] <> '0000-00-00') ? date('d/m/Y',strtotime($log['before']['delivery_card_ins'])) : ''; ?>
                        </li>
                    <?php endif;?>

                    <?php if ( isset( $log['diffs']['take_card_from_staff'] )): ?>
                        <li>
                            <label for=""><?php if( isset( $this->labels['take_card_from_staff'] ) ) echo $this->labels['take_card_from_staff'] ?>: </label>
                            <?php echo ($log['before']['take_card_from_staff'] AND $log['before']['take_card_from_staff'] <> '0000-00-00') ? date('d/m/Y',strtotime($log['before']['take_card_from_staff'])) : ''; ?>
                        </li>
                    <?php endif;?>

                    <?php if ( isset( $log['diffs']['hospital_id'] )): ?>
                        <li>
                            <label for=""><?php if( isset( $this->labels['hospital_id'] ) ) echo $this->labels['hospital_id'] ?>: </label>
                            <?php echo $log['before']['hospital_id']; ?>
                        </li>
                    <?php endif;?>

                    <?php if ( isset( $log['diffs']['date_insurance_increase'] )): ?>
                        <li>
                            <label for=""><?php if( isset( $this->labels['date_insurance_increase'] ) ) echo $this->labels['date_insurance_increase'] ?>: </label>
                            <?php echo ($log['before']['date_insurance_increase'] AND $log['before']['date_insurance_increase'] <> '0000-00-00') ? date('d/m/Y',strtotime($log['before']['date_insurance_increase'])) : ''; ?>
                        </li>
                    <?php endif;?>

                    <?php if ( isset( $log['diffs']['date_insurance_off'] )): ?>
                        <li>
                            <label for=""><?php if( isset( $this->labels['date_insurance_off'] ) ) echo $this->labels['date_insurance_off'] ?>: </label>
                            <?php echo ($log['before']['date_insurance_off'] AND $log['before']['date_insurance_off'] <> '0000-00-00') ? date('d/m/Y',strtotime($log['before']['date_insurance_off'])) : ''; ?>
                        </li>
                    <?php endif;?>

                    <?php if ( isset( $log['diffs']['date_insurance_off_declare'] )): ?>
                        <li>
                            <label for=""><?php if( isset( $this->labels['date_insurance_off_declare'] ) ) echo $this->labels['date_insurance_off_declare'] ?>: </label>
                            <?php echo ($log['before']['date_insurance_off_declare'] AND $log['before']['date_insurance_off_declare'] <> '0000-00-00') ? date('d/m/Y',strtotime($log['before']['date_insurance_off_declare'])) : ''; ?>
                        </li>
                    <?php endif;?>

                    <?php if ( isset( $log['diffs']['firstname'] )): ?>
                        <li>
                            <label for=""><?php if( isset( $this->labels['firstname'] ) ) echo $this->labels['firstname'] ?>: </label>
                            <?php echo ($log['before']['firstname'] AND $log['before']['firstname']) ? $log['before']['firstname'] : ''; ?>
                        </li>
                    <?php endif;?>

                    <?php if ( isset( $log['diffs']['lastname'] )): ?>
                        <li>
                            <label for=""><?php if( isset( $this->labels['lastname'] ) ) echo $this->labels['lastname'] ?>: </label>
                            <?php echo ($log['before']['lastname'] AND $log['before']['lastname']) ? $log['before']['lastname'] : ''; ?>
                        </li>
                    <?php endif;?>

                    <?php if ( isset( $log['diffs']['gender'] )): ?>
                        <li>
                            <label for=""><?php if( isset( $this->labels['gender'] ) ) echo $this->labels['gender'] ?>: </label>
                            <?php echo ($log['before']['gender'] AND $log['before']['gender'] == 1) ? 'Nam' : 'Nữ'; ?>
                        </li>
                    <?php endif;?>

                    <?php if ( isset( $log['diffs']['dob'] )): ?>
                        <li>
                            <label for=""><?php if( isset( $this->labels['dob'] ) ) echo $this->labels['dob'] ?>: </label>
                            <?php echo ($log['before']['dob'] AND $log['before']['dob']) ? $log['before']['dob'] : ''; ?>
                        </li>
                    <?php endif;?>

                    <?php if ( isset( $log['diffs']['ID_number'] )): ?>
                        <li>
                            <label for=""><?php if( isset( $this->labels['ID_number'] ) ) echo $this->labels['ID_number'] ?>: </label>
                            <?php echo ($log['before']['ID_number'] AND $log['before']['ID_number']) ? $log['before']['ID_number'] : ''; ?>
                        </li>
                    <?php endif;?>

                </ul>
            </td>
            <td>
                <ul>
                    <?php if ( isset( $log['diffs']['insurance_number'] )): ?>
                        <li>
                            <label for=""><?php if( isset( $this->labels['insurance_number'] ) ) echo $this->labels['insurance_number'] ?>: </label>
                            <?php echo $log['after']['insurance_number'] ?>
                        </li>
                    <?php endif;?>

                    <?php if ( isset( $log['diffs']['unit_code_id'] )): ?>
                        <li>
                            <label for=""><?php if( isset( $this->labels['unit_code_id'] ) ) echo $this->labels['unit_code_id'] ?>: </label>
                            <?php echo $log['after']['unit_code_id'] ?>
                        </li>
                    <?php endif;?>

                    <?php if ( isset( $log['diffs']['note_ins'] )): ?>
                        <li>
                            <label for=""><?php if( isset( $this->labels['note_ins'] ) ) echo $this->labels['note_ins'] ?>: </label>
                            <?php echo $log['after']['note_ins'] ?>
                        </li>
                    <?php endif;?>

                    <?php if ( isset( $log['diffs']['have_book'] )): ?>
                        <li>
                            <label for=""><?php if( isset( $this->labels['have_book'] ) ) echo $this->labels['have_book'] ?>: </label>
                            <?php echo ($log['after']['have_book'] AND $log['after']['have_book'] <> '0000-00-00') ? date('d/m/Y',strtotime($log['after']['have_book'])) : ''; ?>
                        </li>
                    <?php endif;?>

                    <?php if ( isset( $log['diffs']['close_book'] )): ?>
                        <li>
                            <label for=""><?php if( isset( $this->labels['close_book'] ) ) echo $this->labels['close_book'] ?>: </label>
                            <?php echo ($log['after']['close_book'] AND $log['after']['close_book'] <> '0000-00-00') ? date('d/m/Y',strtotime($log['after']['close_book'])) : ''; ?>
                        </li>
                    <?php endif;?>

                    <?php if ( isset( $log['diffs']['close_book'] )): ?>
                        <li>
                            <label for=""><?php if( isset( $this->labels['close_book'] ) ) echo $this->labels['close_book'] ?>: </label>
                            <?php echo ($log['after']['close_book'] AND $log['after']['close_book'] <> '0000-00-00') ? date('d/m/Y',strtotime($log['after']['close_book'])) : ''; ?>
                        </li>
                    <?php endif;?>

                    <?php if ( isset( $log['diffs']['return_ins_book_time'] )): ?>
                        <li>
                            <label for=""><?php if( isset( $this->labels['return_ins_book_time'] ) ) echo $this->labels['return_ins_book_time'] ?>: </label>
                            <?php echo ($log['after']['return_ins_book_time'] AND $log['after']['return_ins_book_time'] <> '0000-00-00') ? date('d/m/Y',strtotime($log['after']['return_ins_book_time'])) : ''; ?>
                        </li>
                    <?php endif;?>

                    <?php if ( isset( $log['diffs']['return_book_declare_ins'] )): ?>
                        <li>
                            <label for=""><?php if( isset( $this->labels['return_book_declare_ins'] ) ) echo $this->labels['return_ins_book_time'] ?>: </label>
                            <?php echo ($log['after']['return_book_declare_ins'] AND $log['after']['return_book_declare_ins'] <> '0000-00-00') ? date('d/m/Y',strtotime($log['after']['return_book_declare_ins'])) : ''; ?>
                        </li>
                    <?php endif;?>

                    <?php if ( isset( $log['diffs']['return_book_declare_ins'] )): ?>
                        <li>
                            <label for=""><?php if( isset( $this->labels['return_book_declare_ins'] ) ) echo $this->labels['return_book_declare_ins'] ?>: </label>
                            <?php echo ($log['after']['return_book_declare_ins'] AND $log['after']['return_book_declare_ins'] <> '0000-00-00') ? date('d/m/Y',strtotime($log['after']['return_book_declare_ins'])) : ''; ?>
                        </li>
                    <?php endif;?>


                    <?php if ( isset( $log['diffs']['delivery_card_ins'] )): ?>
                        <li>
                            <label for=""><?php if( isset( $this->labels['delivery_card_ins'] ) ) echo $this->labels['delivery_card_ins'] ?>: </label>
                            <?php echo ($log['after']['delivery_card_ins'] AND $log['after']['delivery_card_ins'] <> '0000-00-00') ? date('d/m/Y',strtotime($log['after']['delivery_card_ins'])) : ''; ?>
                        </li>
                    <?php endif;?>

                    <?php if ( isset( $log['diffs']['take_card_from_staff'] )): ?>
                        <li>
                            <label for=""><?php if( isset( $this->labels['take_card_from_staff'] ) ) echo $this->labels['take_card_from_staff'] ?>: </label>
                            <?php echo ($log['after']['take_card_from_staff'] AND $log['after']['take_card_from_staff'] <> '0000-00-00') ? date('d/m/Y',strtotime($log['after']['take_card_from_staff'])) : ''; ?>
                        </li>
                    <?php endif;?>

                    <?php if ( isset( $log['diffs']['hospital_id'] )): ?>
                        <li>
                            <label for=""><?php if( isset( $this->labels['hospital_id'] ) ) echo $this->labels['hospital_id'] ?>: </label>
                            <?php echo $log['after']['hospital_id']; ?>
                        </li>
                    <?php endif;?>

                    <?php if ( isset( $log['diffs']['date_insurance_increase'] )): ?>
                        <li>
                            <label for=""><?php if( isset( $this->labels['date_insurance_increase'] ) ) echo $this->labels['date_insurance_increase'] ?>: </label>
                            <?php echo ($log['after']['date_insurance_increase'] AND $log['after']['date_insurance_increase'] <> '0000-00-00') ? date('d/m/Y',strtotime($log['after']['date_insurance_increase'])) : ''; ?>
                        </li>
                    <?php endif;?>

                    <?php if ( isset( $log['diffs']['date_insurance_off'] )): ?>
                        <li>
                            <label for=""><?php if( isset( $this->labels['date_insurance_off'] ) ) echo $this->labels['date_insurance_off'] ?>: </label>
                            <?php echo ($log['after']['date_insurance_off'] AND $log['after']['date_insurance_off'] <> '0000-00-00') ? date('d/m/Y',strtotime($log['after']['date_insurance_off'])) : ''; ?>
                        </li>
                    <?php endif;?>

                    <?php if ( isset( $log['diffs']['date_insurance_off_declare'] )): ?>
                        <li>
                            <label for=""><?php if( isset( $this->labels['date_insurance_off_declare'] ) ) echo $this->labels['date_insurance_off_declare'] ?>: </label>
                            <?php echo ($log['after']['date_insurance_off_declare'] AND $log['after']['date_insurance_off_declare'] <> '0000-00-00') ? date('d/m/Y',strtotime($log['after']['date_insurance_off_declare'])) : ''; ?>
                        </li>
                    <?php endif;?>

                    <?php if ( isset( $log['diffs']['firstname'] )): ?>
                        <li>
                            <label for=""><?php if( isset( $this->labels['firstname'] ) ) echo $this->labels['firstname'] ?>: </label>
                            <?php echo ($log['after']['firstname'] AND $log['after']['firstname']) ? $log['after']['firstname'] : ''; ?>
                        </li>
                    <?php endif;?>

                    <?php if ( isset( $log['diffs']['lastname'] )): ?>
                        <li>
                            <label for=""><?php if( isset( $this->labels['lastname'] ) ) echo $this->labels['lastname'] ?>: </label>
                            <?php echo ($log['after']['lastname'] AND $log['after']['lastname']) ? $log['after']['lastname'] : ''; ?>
                        </li>
                    <?php endif;?>

                    <?php if ( isset( $log['diffs']['gender'] )): ?>
                        <li>
                            <label for=""><?php if( isset( $this->labels['gender'] ) ) echo $this->labels['gender'] ?>: </label>
                            <?php echo ($log['after']['gender'] AND $log['after']['gender'] == 1) ? 'Nam' : 'Nữ'; ?>
                        </li>
                    <?php endif;?>

                    <?php if ( isset( $log['diffs']['dob'] )): ?>
                        <li>
                            <label for=""><?php if( isset( $this->labels['dob'] ) ) echo $this->labels['dob'] ?>: </label>
                            <?php echo ($log['after']['dob'] AND $log['after']['dob']) ? $log['after']['dob'] : ''; ?>
                        </li>
                    <?php endif;?>

                    <?php if ( isset( $log['diffs']['ID_number'] )): ?>
                        <li>
                            <label for=""><?php if( isset( $this->labels['ID_number'] ) ) echo $this->labels['ID_number'] ?>: </label>
                            <?php echo ($log['after']['ID_number'] AND $log['after']['ID_number']) ? $log['after']['ID_number'] : ''; ?>
                        </li>
                    <?php endif;?>
                </ul>

            </td>
            <td><?php echo $log['created_at']?></td>
            <td><?php echo $log['created_by_name']?></td>
        </tr>
        <?php
                endforeach;
            endif;
        ?>
    </table>
</div>
<div class="paging">
    <?php echo $this->paging($this->total, $this->limit, $this->offset, $this->url);?>
</div>