
<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
    <head>
        <meta http-equiv="Pragma" content="no-cache">
        <meta http-equiv="Expires" content="-1">
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
        <meta name="description" content="Invoice Laser">
        <meta name="keywords" content="Invoice Laser">
        <meta name="author" content="Cuong seven">
        <title>QDNV</title>
        <script src="<?php echo HOST ?>js/jquery-1.7.2.min.js"></script>
        <link rel="stylesheet" href="<?php echo HOST ?>css/qdnv.css">
        <script type="text/javascript" src="/js/jquery-ui-1.8.12.custom.min.js"></script>
        <link rel="stylesheet" type="text/css" href="/css/jquery-ui-1.8.12.custom.css"/>
        <link href="<?php echo HOST ?>css/bootstrap.min.css" rel="stylesheet">
    </head>
    <body>

    <!--begin invoice print template -->
    <?php 
        
        foreach($this->list as $item):
            $dateMonth = 'ngày '.date('d',strtotime($item['time_effective'])).' tháng '.date('m',strtotime($item['time_effective'])).' năm '.date('Y',strtotime($item['time_effective']));
            $off_to = 'ngày '.date('d',strtotime($item['off_to'])).' tháng '.date('m',strtotime($item['off_to'])).' năm '.date('Y',strtotime($item['off_to']));
    ?>
    <div class="block">
        <div class="top clearfix">
            <div class="so_quyet_dinh text-left item pull-left">
                SỐ: <?php echo $item['qdnv']?>
            </div>
            <div class="dia_diem text-right pull-right">
                <i>TP Hồ Chí Minh, <?php echo $dateMonth;?></i>
            </div>
        </div>
        <div class="head">
            <h2 class="letter_title text-center">QUYẾT ĐỊNH</h2>
            <p class="sub_letter_title  text-center">V/V nghỉ việc không lương của nhân viên</p>
            <?php 
                if($item['company_id'] == 1){
            ?>
            <p class="company text-center">GIÁM ĐỐC CÔNG TY TNHH MTV KỸ THUẬT VÀ KHOA HỌC OPPO</p>
            <?php 
                }else{
            ?>
            <p class="company text-center">GIÁM ĐỐC CÔNG TY TNHH DI ĐỘNG THÔNG MINH</p>
            <?php 
                }
            ?>
            <div class="content">
                <p>-&nbsp;<span>Căn cứ Bộ Luật Lao Động nước Cộng hòa xã hội chủ nghĩa Việt Nam.</span></p>
                <p>-&nbsp;<span>Căn cứ Nội quy và Điều lệ công ty <?php echo ($item['company_id'] == 1) ? 'TNHH MTV Kỹ Thuật Và Khoa Học OPPO':'TNHH Di Động Thông Minh';?>.</span>
                </p>
                <p>-&nbsp;<span>Căn cứ trách nhiệm và quyền hạn của Giám Đốc Nhân Sự theo giấy ủy quyền số &nbsp;319/2014/UQ-OPPO ký ngày 01/09/2014</span></p>
                <?php 
                    if($item['option'] == 3){
                ?>
                <p>-&nbsp;<span>Xét xét hình thức thôi viêc của Anh/ Chị  <b style="text-transform: uppercase"><?php echo $item['firstname'].' '.$item['lastname']?></b>.</span></p>

                <!-- NGHỈ VIỆC HOẶC TẠM NGHỈ -->
                <?php 
                    }else{
                ?>
                <p>-&nbsp;<span>Xét xét hình thức xin nghỉ của Anh/ Chị  <b style="text-transform: uppercase"><?php echo $item['firstname'].' '.$item['lastname']?></b>.</span></p>
                <?php        
                    }
                ?>
            </div>
        </div>

        <div class="body">
            <h2 class="text-center ">QUYẾT ĐỊNH</h2>
            <div class="dieu dieu_1">
                <p class="title"><u>Điều 1:</u></p>
                <div class="content">
                    <p>-&nbsp;  <span class="left">Nay đồng ý cho Anh (Chị):</span>  <b style="text-transform: uppercase"><?php echo $item['firstname'].' '.$item['lastname']?></b></p>
                    <p>-&nbsp;  <span class="left">Chức vụ:</span>  <?php echo $item['title_name']; ?></p>

                    <!-- NGHỈ VIỆC HOẶC TẠM NGHỈ -->
                    <?php if($item['option'] == 3){ ?>
                        <p>-&nbsp;  <span class="left">Được nghỉ việc kề từ :</span>  <?php echo $dateMonth?></p>
                        <p>-&nbsp;  <span class="left">Lý do:</span>  theo đơn xin nghỉ việc của nhân viên</p>
                    <?php  }else{ ?>     
                        <p>-&nbsp;  <span class="left">Được nghỉ việc kề từ :</span>  <?php echo $dateMonth?> đến hết  <?php echo $off_to;?>  </p>
                        <p>-&nbsp;  <span class="left">Lý do:</span> theo đơn xin nghỉ không lương của nhân viên</p>
                    <?php  } ?>
                </div>
            </div>
            <div class="dieu dieu_2">
               <p class="title"><u>Điều 2:</u></p>
                <div class="content">
                    <p>
                    Anh (chị) <b><?php echo $item['lastname']?></b> phải có trách nhiệm trả lại toàn bộ thiết bị, dụng cụ làm việc, thẻ nhân viên, đồng phục, thẻ BHYT (nếu có) và bàn giao công việc mình đang làm cho nhân  viên kế nhiệm hoặc cho Trưởng bộ phận trước khi nghỉ.
                    Anh  (chị) <b><?php echo $item['lastname']?></b> chịu trách nhiệm quyết toán các khoản công nợ hoặc tạm ứng (nếu có) với phòng Tài chính kế toán.
                    Các chế độ khác đối với Anh (chị) <b><?php echo $item['lastname']?></b> được thực hiện theo quy định của Bộ Luật Lao Động Việt Nam và theo Nội quy Lao động Công ty.
                </p>    
                </div>
            </div>
            <div class="dieu dieu_3">
                <p class="title"><u>Điều 3:</u></p>
                <div class="content">
                    <p>
                    Anh (chị) <b><?php echo $item['lastname']?></b> không được sử dụng danh nghĩa Công ty để thực hiện những giao dich mang tính chất cá nhân. Trong trường hợp vi phạm cơ quan chức năng xử lý theo quy định của pháp luật.
                    </p>
                </div>
            </div>
            <div class="dieu dieu_4">
                <p class="title"><u>Điều 4:</u></p>
                <div class="content">
                    <p>
                    Phòng Hành chính, Nhân sự, Tài chính – Kế toán, các phòng ban, đơn vị liên quan, Anh (chị) <b>THỦY</b> có trách nhiệm thi hành quyết định này.
                    </p>
                </div>
            </div>

            <p class="hieu_luc text-center">Quyết định có hiệu lực kể từ ngày ký.</p>

            <div class="box_chu_ky">
                <div class="left pull-left" style="margin: 20px 0px 0px 50px;">
                    <p style="font-size: 11px">Nơi nhận</p>
                    <p style="font-size: 11px">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;-&nbsp;Ban GĐ</p>
                    <p style="font-size: 11px">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;-&nbsp;Như điều 4</p>
                    <p style="font-size: 11px">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;-&nbsp;Lưu HC</p>
                </div>
                <div class="right pull-right">
                    <?php 
                        if($item['company_id']  == 1){
                    ?>
                    <p class="truong_phong"><b>GIÁM ĐỐC NHÂN SỰ</b></p>
                    <p class="name text-center" style="margin-top: 110px;"><b>TÔ THỊ THU THỦY</b></p>
                    <?php 
                        }else{
                    ?>
                    <p class="truong_phong"><b>&nbsp;&nbsp;&nbsp;GIÁM ĐỐC</b></p>
                    <p class="name text-center" style="margin-top: 110px;"><b>VŨ THỊ CÂM VÂN</b></p>
                    <?php 
                        }
                    ?>
                </div>
            </div>

        </div>
    </div>
    <div class="page-break"></div>
           
    <?php endforeach;?>
   </body>
    <style>
        .text-center{
            text-align: center;
        }
    </style>
</html>