<div class="page-header">
    <h1>Trash</h1>
</div>

<style>
    ul li label{
        display: inline-block;
        margin-right: 20px;
    }
</style>
<!-- Flash message -->
<?php
if (isset($this->messages_success) and $this->messages_success)
    foreach ($this->messages_success as $message):
        echo '<div class="alert alert-success">'.$message.'</div>';
    endforeach;

if (isset($this->messages_error) and $this->messages_error)
    foreach ($this->messages_error as $message):
        echo '<div class="alert alert-error">'.$message.'</div>';
    endforeach;
?>

<div class="accordion" id="accordion2">
    <div class="accordion-group">
        <div class="accordion-heading">
            <a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion2" href="#collapseTwo">
                Search
            </a>
        </div>
        <div id="collapseTwo" class="accordion-body collapse" style="height: 0px;">
            <div class="accordion-inner">
                <?php
                    echo $this->render('insure/partials/search-recycle-bin.phtml');
                ?>
            </div>
        </div>
    </div>
</div>

<form action="/insurance/restore" method="post">
    <div class="row">
        <div class="span12">
            <div class="control-group clearfix">
                <input type="submit" value="Khôi phục" class="btn btn-primary pull-right"/>
            </div>
        </div>
    </div>

    <div class="table-responsive">
        <table class="table table-bordered">
            <thead>
                <tr>
                    <th>STT</th>
                    <th>Mã nhân viên</th>
                    <th>Tên</th>
                    <th>Đơn vị</th>
                    <th>Bộ phận</th>
                    <th>Chức danh</th>
                    <th>Loại</th>
                    <th>Loại</th>
                    <th>Lương </th>
                    <th>Lương cũ</th>
                    <th>Thời gian hiệu lực</th>
                    <th>Trạng thái</th>
                    <th><input type="checkbox" value="" id="check_all" /></th>
                    <th>Thao tác</th>
                </tr>
            </thead>
            <tbody>
            <?php
            if($this->list):
                $stt = $this->offset + 1;
                foreach($this->list as $item):
                    ?>
                    <tr>
                        <td><?php echo $stt++;?></td>
                        <td><?php echo $item['staff_code']?></td>
                        <td><?php echo $item['staff_name']?></td>
                        <td><?php echo $item['unit_code_name']?></td>
                        <td><?php echo $item['team_name']?></td>
                        <td><?php echo $item['title_name']?></td>
                        <td>
                            <?php
                            if($item['type'] == 1){
                                echo 'Tăng';
                            }elseif($item['type'] == 2){
                                echo 'Giảm';
                            }
                            ?>

                        </td>
                        <td><?php echo $item['option_name']?></td>
                        <td><?php echo intval($item['salary'])?></td>
                        <td><?php echo intval($item['old_salary'])?></td>
                        <td><?php echo date('d/m/Y',strtotime($item['time_effective']))?></td>
                        <td class="text-center">
                            <?php if($item['locked'] == 0):
                                echo '<label class="unlock">chưa xử lý</label>';
                            else:
                                echo '<label class="locked">đã xử lý</label>';
                            endif;
                            ?>
                        </td>
                        <td class="text-center">
                            <input type="checkbox" name="ids[]"  class='check_item' value="<?php echo $item['id']?>">
                        </td>
                        <td>

                        </td>
                    </tr>
                <?php
                endforeach;
            endif;
            ?>
            </tbody>
        </table>
    </div>
</form>
<div class="paging">
    <?php
    echo $this->paging($this->total, $this->limit, $this->offset, $this->url);
    ?>
</div>
<script type="text/javascript" src="/js/jquery-ui-1.8.12.custom.min.js"></script>
<link rel="stylesheet" type="text/css" href="/css/jquery-ui-1.8.12.custom.css"/>

<script>
    $(document).ready(function(){
        check_all();
    });

    function check_all(){
        $(document).on('click',"#check_all",function(){
            if($(this).prop('checked') == true){
                $('.check_item').prop('checked',true);
            }else{
                $('.check_item').prop('checked',false);
            }
            count_total();
        });


        $(document).on('change', ".check_item",function () {
            if( $(this).prop('checked') == false){
                $('#check_all').prop('checked',false);
            }
            count_total();
        })
    }

    function count_total(){
        var full = $('.check_item').length;
        var checked = $('.check_item:checked').length;
        if(full == checked){
            $("#check_all").prop("checked",true);
        }
    }
</script>