<style>
<style>
*{
	font-family: "Helvetica Neue",Helvetica,Arial;
}

    .unlock{
        background-color: #f0ad4e;
        padding: 3px 5px;
        border-radius: 3px;
        font-size: 10px;
        min-width: 40px;
        display: inline-block;
        text-align: center;
    }
    .text-center{
    	text-align: center;
    	color: #008B56;
        font-size: 16px;
    	margin-bottom: 10px;
    }
    .nav-tabs>li>a{
    	font-size: 17px !important;
    	font-weight: bold;
    }
    .nav-tabs {
    border-bottom: 1px solid #61D5A9 !important;
    	
    }
    
    th{
        background: #6c7784 !important;
    	color: #ECF0F1 !important;
    	font-size: 14px !important;
    	text-transform: capitalize !important;
    	vertical-align: middle !important;
    	padding: 4px !important; 
    	font-family: "Helvetica Neue",Helvetica,Arial;
    }
    .table-bordered>tbody>tr:nth-of-type(odd) {
        background-color: #f9f9f9;
    }
    
    .table-bordered>tbody>tr:nth-of-type(even) {
        background-color: #fff;
    }
    .logo-oppo{
    	background: #008B56;
    }
    .nav-tabs>li>a:hover {
    border-color: #008B56 !important;
    color: #FFF !important;
    background: #008B56;
    }
    .nav-tabs>.active>a, .nav-tabs>.active>a:hover {
    /* color: #555555; */
    background-color: #008B56;
    color: #FFF;	
    }
.dashboard-header .user-config .user-name:hover p {
    color: #FFF;
    background: #008B56;
}
    
.price{
	color: #19bc9c;
}
tbody tr:hover td {
    background: rgba(38, 185, 154, 0.07);
    border-top: 1px solid rgba(38, 185, 154, 0.11);
    border-bottom: 1px solid rgba(38, 185, 154, 0.11);
}

 .page-header h1{
        text-transform: uppercase;
    	color: #008B56;
        font-size: 20px;
        margin-top: 30px;
 	    text-align: center;
    }
</style>
<div class="container">
    <div class="page-header">
    <h1>Trash List</h1>
</div>
<!-- Flash message -->
<div class="alert alert-success" style="display: none"><center><b>Thành công!</b></center></div>
<!-- form search -->

<div class="accordion" id="accordion2">
    <div class="accordion-group">
        <div class="accordion-heading">
            <a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion2" href="#collapseTwo">
                Search
            </a>
        </div>
        <div id="collapseTwo" class="accordion-body collapse" style="height: 0px;">
            <div class="accordion-inner">
                <form action="" method="GET" class="form-search form-horizontal">
                    <div class="row">
                        <div class="span4">
                            <div class="control-group">
                                <label class="control-label">Mã nhân viên</label>
                                <div class="controls">
                                    <input id="code" class="form-control" name="code" type="text" class="input-large  form-control" value="<?php isset($this->params['code']) and printf($this->params['code']);?>">
                                </div>
                            </div>

                        </div> <!-- End span4 -->
                        <div class="span12">
                            <button type="submit" class="btn btn-primary logo-oppo">Search</button>
                        </div>
                    </div> <!-- end row -->
                </form> <!-- end form -->
            </div> <!-- end accordion-inner -->
        </div> <!-- end collapseTwo -->
    </div>
</div>

<div class="row">
        <div class="span12">
            <div class="control-group clearfix">
                <input type="submit" value="Khôi phục" id="restore" class="btn btn-primary logo-oppo pull-right">
            </div>
        </div>
    </div>
<table class="table table-bordered table-advance table-hover table-responsive" >
    <thead>
        <th>STT</th>
        <th>Mã Đơn Vị</th>
        <th>Mã NV</th>
        <th>Tên</th>
        <th>Lương</th>
        <th>Ngày BĐ nghỉ</th>
        <th>Ngày KT nghỉ</th>
        <th>Loại phép</th>
        <th>Loại</th>
        <th><input type="checkbox" name="check_all_chedo" id="check_all_chedo" value="1"></th>
    </thead>
    <tbody>
    <?php if (isset($this->list) && $this->list):
        $intStt = ($this->offset) +  1;
        $stt = 1;
    ?>

        <?php foreach ($this->list as $key => $value): ?>
        <tr class="" data-ref="<?php echo 'sub-row-'.$value['staff_id'];?>">

            <td><?php echo $stt; ?></td>
			<td><?php echo $value['unit_code_name']; ?></td>
			<td><?php echo $value['staff_code']; ?></td>
			<td><?php echo $value['staff_name']; ?></td>
			<td class="price">
			<?php echo number_format(intval($value['salary'])) ;?>
			</td>
			<td><?php echo date('d/m/Y',strtotime($value['from_date']));?></td>
			<td><?php echo date('d/m/Y',strtotime($value['to_date']));?></td>
			<td><?php echo $value['leave_name']; ?></td>
			<td><?php echo $value['option_note'];?></td>
			<td><input type="checkbox" name="ids[]" class='check_item_chedo'
				value="<?php echo $value['leave_id'];?>">
			</td>
		
        </tr>
    <?php $stt ++; endforeach ?>
    <?php endif ?>
    </tbody>
</table>

<div id="modalSubmit" class="modal fade" role="dialog">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-body">
        <span id="modal_message" class="modal_mess price"><h3>Bạn có xóa không?</h3></span>
        <button type="button" name="submit" id="btnSubmit" value="1" class="btn btn-primary logo-oppo">Có</button>
        <button type="button" id="cancel" class="btn btn-default">Không</button>
      </div>
    </div>

  </div>
</div> <!-- end modal -->
<!-- end table insurance -->

<!-- paging -->


<div class="paging">
    <?php echo $this->paging($this->total, $this->limit, $this->offset, $this->url);?>
</div>


<!-- end paging -->
</div>
<script>
$(document).ready(function(){
	
	 $('#cancel').click(function () {
	        $('#modalSubmit').modal('hide');
	 });
	 
	$('#check_all_chedo').click(function(){
        var _this = $(this);
        if(_this.prop('checked') == true){
            $('.check_item_chedo').prop('checked',true);
        }else{
            $('.check_item_chedo').prop('checked',false);
        }
    });

	$('#restore').click(function(){
		$('#modalSubmit').modal();      
		

	});

	$('#btnSubmit').click(function () {

		//Chedo
		var arrayStaff_chedo = [];
		$('.check_item_chedo').each(function () {
    		 if($(this).closest('tr').find('.check_item_chedo').is(':checked')) {
    				 var tmp =  $(this).closest('tr').find('.check_item_chedo').val();
    				 arrayStaff_chedo.push(tmp);
    		}
		});

		console.log(arrayStaff_chedo);
		//End for each chedo		
		// Lock chedo
		if(arrayStaff_chedo.length > 0){
			var month = $('.month').val();
			
          	$.ajax({
             type: 'get',
             url: '/insurance/recycle-bin-list', 
             data: {
                 	'leave_ids': arrayStaff_chedo.toString(),
                 	'restore'	   : 1,
        		},
             error: function(error){
             	console.log(eval(error));
             },
             success: function(data){
            	 $('#modalSubmit').modal('hide');
                 $('.alert-success').show();
                 setTimeout(function() { 
              	    window.location.href = "/insurance/recycle-bin-list"; 
              	 }, 2000);
              	 
             }
         });
		}else{
			$('#modalSubmit').modal('hide');
			alert('Vui lòng chọn');
			
		}
		
	});
});
</script>