<link href="<?php echo HOST ?>css/bootstrap.min.css" rel="stylesheet" />
<link href="<?php echo HOST ?>css/default.css" rel="stylesheet" />
<style>
    body {
        background: #f9f6f1;
        padding: 10px;
    }

    .info {
        margin-bottom: 20px;
    }
</style>

<div id="content_wrapper">

    <?php if (isset($this->errors) && $this->errors) { ?>
        <div class="alert alert-error">
            <button type="button" class="close" data-dismiss="alert">&times;</button>
            <strong>ERROR!</strong> <?php echo $this->errors ?>
        </div>
        <?php echo "<pre>";
        print_r($this->errors);
        echo "</pre>";?>
    <?php } ?>
    <?php if(!empty($this->success)) { ?>
        <div class="row info">
             <div class="span12">
                    <p>
                        <strong> All Your sales orders uploaded successfully!</strong>
                    
                    </p>
                </div>
            <div class="span3">
                <strong>Number of orders</strong>: <span class="badge"><?php echo $this->number_of_order ?></span>
            </div>
            <div class="span3">
                <strong>Success</strong>: <span class="badge badge-success"><?php echo ($this->number_of_order) ?></span>
            </div>
          
        </div>
    <?php } ?>

</div>
<script>
    parent.$('.loading, .pre_loading').remove();
    parent.$('form button, form input, form select').prop('readonly', false);
    parent.$('form input').val('');
    parent.window.onbeforeunload = null;

    function clear_content() {
        document.getElementById('content_wrapper').innerHTML = '';
    }
</script>