<div class="page-header">
    <h1>History <small><?php echo $this->staff['firstname'].' '.$this->staff['lastname'].' ('.$this->staff['code'].')' ?></small></h1>
</div>

<!-- Flash message -->
<?php
if (isset($this->messages_success) and $this->messages_success)
    foreach ($this->messages_success as $message):
        echo '<div class="alert alert-success">'.$message.'</div>';
    endforeach;

if (isset($this->messages_error) and $this->messages_error)
    foreach ($this->messages_error as $message):
        echo '<div class="alert alert-error">'.$message.'</div>';
    endforeach;
?>

<div class="table-responsive">
    <table class="table table-responsive table-bordered">
        <thead>
        <tr>
            <th>STT</th>
            <th>Công ty</th>
            <th>Đơn vị</th>
            <th>Loại</th>
            <th>Chi tiết</th>
            <th>Thời gian</th>
            <th>Chức vụ</th>
            <th>Lương</th>
        </thead>
        <tbody>
        <?php
            if(isset($this->list) AND $this->list):
                $intStt = 0;
                foreach($this->list as $item):
        ?>
        <tr>
            <td><?php echo ++$intStt;?></td>
            <td><?php echo $item['company_name']; ?></td>
            <td><?php echo $item['unit_code_name'];?></td>
            <td><?php echo $item['type_name'];?></td>
            <td><?php echo $item['option_name'];?></td>
            <td><?php echo date('m/Y',strtotime($item['month']));?></td>
            <td><?php echo $item['title_name'] ?></td>
            <td><?php echo number_format($item['salary']);?></td>
        </tr>
        <?php
            endforeach;
        endif;?>
        </tbody>
    </table>
</div>

<div class="form-box">
    <form action="/insurance/save?staff_id=<?php echo $this->staff['id'];?>" method="post">
        <div id="myModal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                <h3 id="myModalLabel">Salary</h3>
            </div>
            <div class="modal-body">
                <div class="form-group">
                    <div class="row">
                        <div class="span3">Nhập lương:</div>
                        <div class="span6"><input type="number" name="salary" id="txtSalary" value="" class='form-control' required='true'></div>
                    </div>
                </div>

                <div class="form-group">
                    <div class="row">
                        <div class="span3">Hiệu lực từ ngày</div>
                        <div class="span6"><input type="text" name="time_effective" id="txtTimeEffective" class='form-control date' required='true' autocomplete="off"></div>
                    </div>
                </div>

                <div class="form-group" id='alter_time'>
                    <div class="row">
                        <div class="span3">Ngày báo bảo hiểm</div>
                        <div class="span6"><input type="text" name="re_time_effective" id="txtReTimeEffective" class='form-control date' autocomplete="off"></div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-12">
                        <input type="hidden" name='id' value="" id='intId'>
                        <input type="hidden" name="staff_id" value="<?php echo $this->staff['id'];?>">
                    </div>
                </div>
            </div>

            <div class="modal-footer">
                <button class="btn" data-dismiss="modal" aria-hidden="true">Close</button>
                <button type="submit" class="btn btn-primary">Save changes</button>
            </div>
        </div>
    </form>
</div>



<script type="text/javascript" src="/js/jquery-ui-1.8.12.custom.min.js"></script>
<link rel="stylesheet" type="text/css" href="/css/jquery-ui-1.8.12.custom.css"/>

<div id="frmUpdate"></div>
<link rel="stylesheet" type="text/css" href="/css/bootstrap-datetimepicker.min.css"/>
<script language="javascript" type="text/javascript" src="/js/bootstrap-datetimepicker.min.js"></script>

<script type="text/javascript" src="<?php echo HOST ?>js/bootstrap-multiselect.js"></script>
<link rel="stylesheet" href="<?php echo HOST ?>css/bootstrap-multiselect.css" type="text/css"/>
<?php echo $this->confirm();?>

<script>
    $(document).ready(function(){
        $('#btnAdd').click(function(){
            $('#txtTimeEffective').prop('readonly',false);
            $('#txtSalary').val('');
            $('#txtTimeEffective').val('');
            $('#txtReTimeEffective').val('');
            $(".modal-title").html('Add Salary');
            $('#myModal').modal('show');
        })

        $('.date').datetimepicker({
            format: 'dd/mm/yyyy',
            minView: 2,
            autoclose: true
        });

        $('.edit').click(function(){
            var id = $(this).attr('data-id');
            $('#txtTimeEffective').prop('readonly',true);
            $('#alter_time').css('display','block');
            $.ajax({
                type: 'get',
                url: '/insurance/get?id='+id,
                error: function(){
                    alert('error');
                },
                success:function(data){
                    if(data.result == -1){
                        alert('failed');
                    }else{
                        $(".modal-title").html('Update Salary');
                        $('#txtSalary').val(data.text.salary);
                        $('#txtTimeEffective').val(data.text.time_effective);
                        $('#txtReTimeEffective').val(data.text.re_time_effective);
                        $('#intId').val(id);
                        $('#myModal').modal('show');
                    }
                }
            })
        })
    })
</script>