<style>
    iframe {
        width: 100%;
        min-height: 50px;
    }
</style>
<div class="page-header">
    <h1>Upload List staff pay union funding</h1>
</div>
<?php
if (isset($this->messages) and $this->messages)
    foreach ($this->messages as $message):
        echo '<div class="alert alert-success">' . $message . '</div>';
    endforeach;

if (isset($this->messages_error) and $this->messages_error)
    foreach ($this->messages_error as $message):
        echo '<div class="alert alert-error">' . $message . '</div>';
    endforeach;
?>
<div class="form">
    <iframe src="" frameborder="0" name="iframe" id="iframe" height="50px"></iframe>
    <form action="<?php echo HOST.'insure/save-upload-union-funding'?>" id="form" target="iframe" method="post"  enctype="multipart/form-data">
        <div class="row">
            <div class="span6">
                <div class="form-group">
                    <label class="w-100" for="hospital_name">Active</label>
                    <a href="<?php echo HOST.'insure/upload-staff-union-funding?export=1'?>" name="export" value="1" class="btn btn-warning" id="link-export">Export</a>
                    <a href="<?php echo HOST.'files/template/template-union-funding.xlsx'?>" class="btn btn-success">Template Upload</a>
                </div>

                <div class="form-group">
                    <label class="w-100" for="code">File upload <span style="color: red">*</span></label>
                    <input type="file" class="span4" name="file" required="">
                </div>

                <div class="form-group">
                    <button type="submit" name="upload" value="1" class="btn btn-success">Upload</button>
                </div>
            </div>
            <div class="span6">
            </div>
        </div>
    </form>
    <div class="row">
            <div class="span12">
                <div class="progress progress-striped active">
                    <div class="bar" style="width: 0%;"></div>
                </div>
            </div>
    </div>
</div>

<script type="text/javascript" src="/js/bootstrap-modal.js"></script>
<script type="text/javascript" src="/js/bootstrap-modalmanager.js"></script>
<link rel="stylesheet" type="text/css" href="/css/bootstrap-modal.css" />
<script>
    function set_progress(percent) {
        $('.bar').css('width', percent + '%');
        $('.bar').html(percent + '%');
    }
</script>

