<div class="row">
     <?php
    if (isset($this->cat_informs) and $this->cat_informs and $this->inform_category)
        foreach ($this->cat_informs as $k => $cat_inform) :
            ?>
        <div class="span12">
		<h3><?php echo $this->inform_category[$cat_inform['category_id']]; ?></h3>
            <?php
             if (isset($this->informs) and $this->informs[$cat_inform['category_id']])
            ?>
             <table class="table table-bordered">
             <tr>
        			<td class="span5"><strong>TITLE</strong></td>
        			<td class="span5"><strong>CONTENT</strong></td>
        			<td class="span1"><strong>CREATED AT</strong></td>
        			<td class="span1"><strong>AUTHOR</strong></td>
        		</tr>
            <?php   
            foreach ($this->informs[$cat_inform['category_id']] as $k => $inform) :
                    ?>
               		<tr>
               			<td><a class="title" href="<?php echo HOST ?>manage/inform-view?id=<?php echo $inform['id'];?>" title="<?php echo $inform['title'] ?>"><?php echo My_String::excerpt($inform['title'], 100) ;?></a></td>
               			<td><?php echo My_String::excerpt($inform['content'], 100) ?></td>
               			<td><?php if(isset($inform['created_at']) && $inform['created_at']) echo date('d/m/Y H:i:s', strtotime($inform['created_at']));?></td>
               			<td><?php
                        if (isset($inform['created_by']) && $inform['created_by'])
                            echo $this->staff[$inform['created_by']];
                        ?></td>
               		</tr>
       					 <?php if (!isset( $inform['status'] ) || !$inform['status'] ) echo "<del>"?>
        				 <?php if (!isset( $inform['status'] ) || !$inform['status'] ) echo "</del>" ?>              
	                   <?php endforeach;?>     
             </table> 
         </div>  
        <?php endforeach;?>  
    </div>

<?php echo $this->load();?>