<table class="table table-bordered">
    <thead>

    </thead>
    <tbody>
    <div class="row">
    <?php

    if (isset($this->listCategory) and $this->listCategory)
        foreach ($this->listCategory as $key => $value): ?>


            <a class="col-10 col-xl-4 blockdiv m-5" href="<?php
            if ($value['id']==18) {
                echo '/manage/inform-view?id=47';
            }elseif($value['id']==1){
                echo '/manage/inform-view?id=40';
            }elseif($value['id']==16){
                echo '/org-chart';
            }elseif($value['id']==17){
                echo '/manage/inform-view?id=47';
            }elseif($value['id']==20){
                echo '/manage/inform-view?id=63';
            }
            else {echo'inform?category='.$value['id'];};
            ?>" id="<?= $value['img']?>">
                <?php if(isset($value['img'])):?>  <img src="<?=HOST."public\photo\manage/".$value['img']?>"> <?php endif;?>
                <h4 style="height: 40px;"><?php echo $value['name']?></h4>
            </a>



        <?php endforeach;?>
    </div>



    </tbody>
</table>
<div class="paging">
    <!--    --><?php //echo $this->paging($this->total, $this->limit, $this->offset, $this->url);?>
</div>

<script type="text/javascript" src="/js/jquery-ui-1.8.12.custom.min.js"></script>
<link rel="stylesheet" type="text/css" href="/css/jquery-ui-1.8.12.custom.css"/>
<?php echo $this->confirm();?>
<style>
    .blockdiv { height: 30%;background: white;padding: 40px 20px;}
    .blockdiv:hover {box-shadow: -5px 6px 17px 3px rgba(178,209,188,2); color:white;background: rgba(42, 173, 111, 0.88);}
    .blockdiv {
        text-align: center;
        /*width: 375px;*/
        -webkit-box-shadow: -5px 6px 17px 3px rgba(178,209,188,0.7);
        -moz-box-shadow: -5px 6px 17px 3px rgba(178,209,188,0.7);
        /*box-shadow: 0px 6px 9px 3px rgba(4, 106, 56,0.2);*/
        border-radius: 10px;
    }
    .blockdiv img {
        height:30%;
        width: 30%;
        margin-bottom: 10px;
    }
    @media only screen and (max-width: 600px) {
        .span6{
        width:280px ;
        margin:20px ;
        }
    }
    @media (min-width: 1200px){
        .col-xl-4 {
            -webkit-box-flex: 0;
            -ms-flex: 0 0 31%;
            flex: 0 0 31%;
            max-width: 31%;
        }
    }

</style>
