<?php if($this->error):?>
    <div class="row-fluid">
        <div class="span12">
            <div class="alert alert-error">
                <?php echo  $this->error ? $this->error : null; ?>
            </div>
        </div>
    </div>
<?php endif;?>
<?php if($this->list['id']): ?>
    <div class="row-fluid">
        <?php
        $arrayID             = $this->list['id'];
        $arrayIDNumber       = $this->list['cmnd'];
        $arrayCode           = $this->list['code'];
        $arrayNewStaff       = $this->list['new_staff'];
        $arrayFistname       = $this->list['firstname'];
        $arrayLastname       = $this->list['lastname'];
        $arrayTeam           = $this->list['team'];
        $arrayTitle          = $this->list['title'];
        $arrayArea           = $this->list['area_id'];
        $arrayRegionalMarket = $this->list['regional_market'];
        ?>


        <table class="table table-bordered">
            <thead>
                <tr>
                    <th>#</th>
                    <th>ID Number</th>
                    <th>Code</th>
                    <th>Họ và tên lót</th>
                    <th>Tên</th>
                    <th>Team</th>
                    <th>Title</th>
                    <th>Area</th>
                    <th>Province</th>                    
                </tr>
            </thead>
            <?php $n =0; foreach ($arrayID as $key => $value):?>
            <tbody>
                <tr>
                    <td>
                        <?php echo $n = $n+1;?>
                        <input type="hidden" name="ids[]" value="<?php echo $arrayID[$key];?>"/>
                        <input type="hidden" name="new_staff[]" value="<?php echo $arrayNewStaff[$key];?>"/>
                    </td>
                    <td>
                        <input type="text"  style="width: 100px;" value="<?php echo $arrayIDNumber[$key] ? $arrayIDNumber[$key] : null; ?>" name="cmnd[]"  readonly  />

                    </td>
                    <td>
                        <input type="text"  style="width: 60px;" name="code[]" value="<?php echo $arrayCode[$key] ? $arrayCode[$key] : null; ?>" readonly/>

                    </td>
                    <td>
                        <input type="text" name="firstname[]" <?php if(isset($arrayID[$key]) and $arrayID[$key] ):?>readonly<?php endif;?> class="span2" value="<?php echo $arrayFistname[$key] ? $arrayFistname[$key] : null; ?>"/>
                    </td>
                    <td>
                        <input type="text" name="lastname[]"  <?php if(isset($arrayID[$key]) and $arrayID[$key] ):?>readonly<?php endif;?> class="span1" value="<?php echo $arrayLastname[$key] ? $arrayLastname[$key] : null; ?>"/>
                    </td>
                    <td>
                        <select name="team[]" class="team"  style="width:100px;" <?php if(isset($arrayID[$key]) and $arrayID[$key] ):?>readonly<?php endif;?> >
                            <option value="">Select</option>
                            <?php $team = unserialize(TEAM_FOR_ASSIGN_STAFF_TRAINER_COURSE);foreach($team as $item):?>
                                <option value="<?php echo $item ? $item: null; ?>"
                                    <?php if($arrayTeam[$key] == $item):?> selected <?php endif;?>
                                    ><?php echo $this->cached_team[$item] ? $this->cached_team[$item] : null; ?></option>
                            <?php endforeach;?>
                        </select>
                    </td>
                    <td>
                        <select name="title[]" class="span2 title" <?php if(isset($arrayID[$key]) and $arrayID[$key] ):?>readonly<?php endif;?>>
                            <option value="">Select</option>
                            <?php $title = $this->jobtitle ;foreach($title as $k =>$val):?>
                                <option value="<?php echo $val['id'] ? $val['id']: null; ?>"
                                    <?php if($arrayTitle[$key] == $val['id']):?> selected <?php endif;?>
                                    ><?php echo $val['name'] ? $val['name'] : null; ?></option>
                            <?php endforeach;?>
                        </select>
                    </td>
                    <td>
                        <select name="area_id[]" class="span2 area_id"  <?php if($arrayNewStaff[$key] == 0):?>required="required" <?php endif;?> <?php if(isset($arrayID[$key]) and $arrayID[$key] ):?>readonly<?php endif;?> >
                            <option value="">Select</option>
                            <?php $area = $this->area;  foreach($area as $k =>$val):?>
                                <option value="<?php echo $k ? $k: null; ?>"
                                    <?php if($arrayArea[$key] == $k):?> selected <?php endif;?>
                                    ><?php echo $val ? $val : null; ?></option>
                            <?php endforeach;?>
                        </select>
                    </td>
                    <td>
                        <select name="regional_market[]" class="span2 regional_market" <?php if($arrayNewStaff[$key] == 0):?>required="required" <?php endif;?> <?php if(isset($arrayID[$key]) and $arrayID[$key] ):?>readonly<?php endif;?>>
                            <option value="">Select</option>
                            <?php $province = $this->province; $k = -1; foreach($province as $k =>$val):?>
                                <option value="<?php echo $k ? $k: null; ?>"
                                    <?php if($arrayRegionalMarket[$key] == $k):?> selected <?php endif;?>
                                    ><?php echo $val ? $val : null; ?></option>
                            <?php endforeach;?>
                        </select>
                    </td>                    
                </tr>
            </tbody>
            <?php endforeach ?>
        </table>
            <?php if(!isset($this->course_is_lock) OR !$this->course_is_lock):?>
                <button type="submit" class="btn btn-primary pull-right pager">Submit</button>
            <?php endif;?>
    </div>
<?php endif;?>
