<div class="page-header">
    <h3>CONFIRM ORDER</h3>
</div>

<?php
    echo $this->render('/trainer/partials/view-detail-order.phtml');
?>
<form action="/trainer/do-confirm-order" method="post">
<div class="row-fluid">
    <div class="span12">
        <input type="hidden" name="id" value="<?php if(isset($this->order) AND $this->order->id) echo $this->order['id'];?>"/>
        <input type="submit" name="submit" value="Confirm" class="btn btn-primary pull-right"/>
        <a class="btn btn-danger pull-right" href="/trainer/orders" style="margin-right: 15px;">Back</a>
    </div>
</div>
</form>