<div class="page-header">
    <div>
        <h3>
            LIST COURSE
        </h3>
    </div>
</div>

<?php
if (isset($this->messages) and $this->messages)
    foreach ($this->messages as $message):
        echo '<div class="alert alert-error">'.$message.'</div>';
    endforeach;
if (isset($this->message_success) and $this->message_success)
    foreach ($this->message_success as $message):
        echo '<div class="alert alert-success">'.$message.'</div>';
    endforeach;
?>

<div class="accordion" id="accordion2">
    <div class="accordion-group">
        <div class="accordion-heading">
            <a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion2" href="#collapseTwo">
                Search
            </a>
        </div>
        <div id="collapseTwo" class="accordion-body collapse" style="height: 0px;">
            <div class="accordion-inner">
                <form action="/trainer/course-finished" method="get">
                    <div class="row-fluid">
                        <div class="span4">
                            <div class="control-group">
                                <label class="span1">Name</label>
                                <input name="name" type="text" class="input-medium search-query form-control span2" value="<?php isset($this->params['name']) and printf($this->params['name']);?>">
                            </div>
                        </div>
                        <div class="span4">
                            <div class="control-group">
                                <label class="span1">From Date</label>
                                <input name="from_date" type="text" class="input-medium search-query form-control span2 date" value="<?php isset($this->params['from_date']) and printf($this->params['from_date']);?>">
                            </div>
                        </div>

                        <div class="span4">
                            <div class="control-group">
                                <label class="span1">To Date</label>
                                <input name="to_date" type="text" class="input-medium search-query form-control span2 date" value="<?php isset($this->params['to_date']) and printf($this->params['to_date']);?>">
                            </div>
                        </div>

                    </div>
                    <div class="row-fluid">
                        <button type="submit" class="btn btn-success">Search</button>
                        <a href="/trainer/course" class="btn btn-danger">Reset</a>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<div class="row-fluid">
    <div class="span12">
        <table class="table table-bordered">
            <tr>
                <thead>
                <?php echo $this->sorting(array(
                        '#',
                        'Course Nanme',
                        'From',
                        'To',
                        'Locked By',
                        'Finished',
                        'Action'
                    ),
                    $this->url, $this->sort, $this->desc); ?>
                </thead>
            </tr>
            <tbody>
            <?php if(isset($this->list)and $this->list):?>
                <?php
                $k =0;
                foreach($this->list as $key => $item):?>
                    <tr>
                        <td><?php echo ++$k;?></td>
                        <td><?php echo $item['name'];?></td>
                        <td><?php echo date('d/m/Y',strtotime($item['from_date']));?></td>
                        <td><?php echo date('d/m/Y',strtotime($item['to_date']));?></td>
                        <td><?php echo $item['locked_by_name']?></td>
                        <td><?php echo ($item['finished'] == 1) ? 'FINISHED' : 'PENDING';?></td>
                        <td></td>
                    </tr>
                <?php endforeach;?>
            <?php endif;?>
            </tbody>
        </table>
    </div>
</div>
<div class="paging">
    <?php echo $this->paging($this->total, $this->limit, $this->offset, $this->url);?>
</div>

<script type="text/javascript" src="/js/jquery-ui-1.8.12.custom.min.js"></script>
<link rel="stylesheet" type="text/css" href="/css/jquery-ui-1.8.12.custom.css"/>

<?php echo $this->confirm();?>
<script>
    $(document).ready(function(){
        $('.date').datepicker({ dateFormat: "yy-mm-dd" });
    });

</script>