<div class="page-header">
   <h3>COURSE DETAIL</h3>
</div>
<div class="span12">
    <iframe name="iframe" id="iframe" width="100%" height="0" style="border: 0"></iframe>
</div>
<div class="row-fluid">
    <div class="span12">
        <div class="span2 ml-0">
            <textarea name="id_number[]"  id="id_number" required="required" class="span2" style="height: 190px !important;"><?php echo ($this->list_cmnd) ? trim($this->list_cmnd) :NULL?></textarea>
            <?php if(!isset($this->course_locked) OR $this->course_locked != 1):?>
              <div class="pull-right pager">
                  <button class="btn btn-primary" id="check">Check</button>
              </div>
              <?php if(isset($this->totalAssign) and $this->totalAssign):?>
                    <a href="/trainer/add-time"><button class="btn btn-success mt-4">Check In</button></a>
              <?php endif;?>
           <?php endif;?>
        </div>
        <div class="span9 ml-0">

            <table class="table table-bordered">
                <tr>
                    <td colspan="2"><p style="text-align: center"><b>INFORMATION COURSE</b></p></td>
                </tr>
                <tr>
                    <td class="span2">
                        Course Name
                    </td>
                    <td>
                        <span class="badge badge-success"><?php echo $this->course['name'] ? $this->course['name']: null; ?></span>
                    </td>
                </tr>
                <tr>
                    <td class="span2">
                        From Date
                    </td>
                    <td>
                        <span class="badge badge-warning"><?php echo $this->course['from_date'] ? $this->course['from_date']: null; ?></span>
                    </td>
                </tr>
                <tr>
                    <td class="span2">
                        To Date
                    </td>
                    <td>
                        <span class="badge badge-important"><?php echo $this->course['to_date'] ? $this->course['to_date']: null; ?></span>
                    </td>
                </tr>
                <tr>
                    <td class="span2">
                        Total Assign
                    </td>
                    <td>
                        <span class="badge badge-important"><?php echo $this->totalAssign ? $this->totalAssign: null; ?></span>
                    </td>
                </tr>
            </table>
        </div>
    </div>
    <div class="span12 ml-0">
        <form class="form-horizontal" action="/trainer/save-course-detail" method="post" target="iframe">
            <div id="result">
            </div>
            <input type="hidden" name="course_id" id="course_id" value="<?php echo $this->course['id'] ? $this->course['id']: null ?>"/>
        </form>
    </div>
</div>
<script type="text/javascript" src="/public/js/jquery.blockUI.js"></script>
<script>
    $(document).ready(function(){
        check();
        initCheck();
        getProvince();
        getTitle();
    });

    function initCheck()
    {

        var list_id_number = $('#id_number').val();
        if(list_id_number)
        {
            initWaiting();
            $.post(
                "<?php echo HOST . 'trainer/check-id-number'?>",
                {
                    id_number : list_id_number,
                    course_id: $('#course_id').val()
                },
                function(data){
                    $('#result').html( data );
                    $.unblockUI();
                });
            $.unblockUI();
        }

    }

    function check()
    {
        $('#check').click(function(){
            _self = $(this);
            idNumber = $('#id_number').val();
            initWaiting();
            if(!idNumber)
            {
                alert('INPUT ID NUMBER !');
                return false;
            }
            $.post(
                "<?php echo HOST . 'trainer/check-id-number'?>",
                {
                    id_number : idNumber,
                    course_id: $('#course_id').val()
                },
                function(data){
                    $('#result').html( data );
                    getProvince();
                    getTitle();
                    $.unblockUI();
                });
            });

    }

    function initWaiting()
    {
        $.blockUI({
            fadeIn: 700,
            fadeOut: 700,
            css: {
                border: 'none',
                padding: '15px',
                backgroundColor: '#000',
                '-webkit-border-radius': '10px',
                '-moz-border-radius': '10px',
                opacity: .5,
                color: '#fff'
            } });
    }

    function getProvince()
    {
        $('.area_id').change(function(){
            var _self = $(this);
            var div_parent = _self.parent().parent().parent();
            var area_id = $(this).val();
            $.get("<?php echo HOST ?>staff/load-province",
                {area_id: area_id}
                ,function(data,status){
                    var obj = $.parseJSON( data );
                    div_parent.find('.regional_market').find('option:not(:first)').remove();
                    for (var i = 0; i < obj.length; i++) {
                        div_parent.find('.regional_market').append('<option value="'+obj[i]['id']+'">'+obj[i]['name']+'</option>');
                    }
                });
        });

    }

    function getTitle()
    {
        $('.team').change(function(){
        var _self = $(this);
        var div_parent = _self.parent().parent().parent();
        var team_id = $(this).val();
        $('form').bind('submit',function(e){e.preventDefault();});
        $('button, .btn, input, select').prop('disabled', true);
        $.get("/ajax/load-title",
            {team_id: [team_id]}
            ,function(data,status){
                var obj = $.parseJSON( data );
                div_parent.find('.title').find('option:not(:first)').remove();
                for (var i = 0; i < obj.length; i++) {
                    div_parent.find('.title').append('<option value="'+obj[i]['id']+'">'+obj[i]['name']+'</option>');
                }

                $('button, .btn, input, select').prop('disabled', false);
                $('form').unbind('submit');
            });
        });

    }
</script>
