<div class="page-header">
    <div>
        <h3>
            LIST COURSE
        </h3>
    </div>
    <div>
        <a href="/trainer/add-time" class="btn btn-warning pull-right">Check In</a>
        <a href="/trainer/report-trainer-course" class="btn btn-success pull-right">Approve Course</a>&nbsp; &nbsp;       
        <button class="btn btn-info pull-right" data-toggle="modal" data-target="#myModal">Create New Course</button>
    </div>    
    
</div>

<?php
if (isset($this->messages) and $this->messages)
    foreach ($this->messages as $message):
        echo '<div class="alert alert-error">'.$message.'</div>';
    endforeach;
if (isset($this->message_success) and $this->message_success)
    foreach ($this->message_success as $message):
        echo '<div class="alert alert-success">'.$message.'</div>';
    endforeach;
?>

<div class="accordion" id="accordion2">
    <div class="accordion-group">
        <div class="accordion-heading">
            <a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion2" href="#collapseTwo">
                Search
            </a>
        </div>
        <div id="collapseTwo" class="accordion-body collapse" style="height: 0px;">
            <div class="accordion-inner">
                <form action="/trainer/course" method="get">
                    <div class="row-fluid">
                        <div class="span4">
                            <div class="control-group">
                                <label class="span1">Name</label>
                                <input name="name" type="text" class="input-medium search-query form-control span2" value="<?php isset($this->params['name']) and printf($this->params['name']);?>">
                            </div>
                        </div>
                        <div class="span4">
                            <div class="control-group">
                                <label class="span1">From Date</label>
                                <input name="from_date" type="text" class="input-medium search-query form-control span2 date" value="<?php isset($this->params['from_date']) and printf($this->params['from_date']);?>">
                            </div>
                        </div>

                        <div class="span4">
                            <div class="control-group">
                                <label class="span1">To Date</label>
                                <input name="to_date" type="text" class="input-medium search-query form-control span2 date" value="<?php isset($this->params['to_date']) and printf($this->params['to_date']);?>">
                            </div>
                        </div>

                    </div>
                    <div class="row-fluid">
                        <button type="submit" class="btn btn-success">Search</button>
                        <a href="/trainer/course" class="btn btn-danger">Reset</a>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<div class="row-fluid">
    <div class="span12">
        <table class="table table-bordered">
            <tr>
                <thead>
                <?php echo $this->sorting(array(
                        '#',
                        'Name',
                        'Area',
                        'From Date',
                        'To Date',
                        'Note',
                        'Quantity',
                        'Quantity Pass',
                        'Quantity Fail',
                        'Created by',
                        'Created At',
                        'Action'
                    ),
                    $this->url, $this->sort, $this->desc); ?>
                </thead>
            </tr>
            <tbody>
            <?php if(isset($this->list)and $this->list):?>
                <?php
                $k =0;
                foreach($this->list as $key =>$value):?>
                    <tr>
                        <td><?php echo $k=$k+1?></td>
                        <td>
                        <?php 
                        echo (isset( $value['type']) and ( $value['type']))? $this->trainer_course_type[$value['type']] :$value['name']
                            // if(!empty($value['name']))
                            // {
                            //     echo $value['name'];
                            // }
                            // else
                            // {
                            //     echo $value['note'];
                            // }
                        ?>
                        </td>
                        <td><?php echo (isset( $value['area_id']) and ( $value['area_id']))? $this->area[$value['area_id']] :''?></td>
                        <td><?php echo (isset( $value['from_date']) and ( $value['from_date']))? $value['from_date'] :''?></td>
                        <td><?php echo (isset( $value['to_date']) and ( $value['to_date']))? $value['to_date'] :''?></td>
                        <td><?php echo (isset( $value['note']) and ( $value['note']))? $value['note'] :''?></td>
                        <td><?php echo $value['quantity_pg']?></td>
                        <td><?php echo $value['quantity_pass']?></td>
                        <td><?php echo intval($value['quantity_pg']) - intval($value['quantity_pass'])?></td>
                        <td><?php
                        echo (isset( $this->cached_staff[$value['created_by']]) and  $this->cached_staff[$value['created_by']])? $this->cached_staff[$value['created_by']] :''?></td>
                        <td><?php echo (isset( $value['created_at']) and ( $value['created_at']))? $value['created_at'] :''?></td>
                        <td>
                            <div class="btn-group">
                                <button class="btn dropdown-toggle" data-toggle="dropdown">
                                    Action
                                    <span class="caret"></span>
                                </button>
                                <ul class="dropdown-menu">
                                    <?php if(!isset($value['have_assign']) OR !$value['have_assign']):?>
                                    <li><a href="javascript:void(0);" rel="<?php echo $value['id'];?>" class="edit">Edit</a></li>
                                    <li><a href="/trainer/delete-course?id=<?php echo $value['id'];?>" class="confirmLink">Delete</a></li>
                                    <?php endif;?>                                    
                                    <li><a href="/trainer/course-detail?id=<?php echo $value['id'];?>">Assign Staff</a></li>
                                    <?php if(   $this->access('trainer','unlock-course') AND $value['locked'] == 1  ):?>
                                    <li><a href="/trainer/unlock-course?id=<?php echo $value['id'];?>" class="confirmLink">Unlock</a></li>
                                    <?php endif;?>
                                </ul>
                            </div>
                        </td>
                    </tr>
                <?php endforeach;?>
            <?php endif;?>
            </tbody>
        </table>
    </div>
</div>
<div class="paging">
    <?php echo $this->paging($this->total, $this->limit, $this->offset, $this->url);?>
</div>

<div id="myModal" class="modal modal-lg fade" role="dialog">
    <div class="modal-dialog modal-lg">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-body">
                <form action="/trainer/save-course" method="post">
                    <table class="table table-responsive">
                        <!--
                        <tr>
                            <td>Name:</td>
                            <td><input type="text" id="name" name="name" value=""/></td>
                        </tr>
                        -->
                        <tr>
                            <td>Name:</td>
                            <td>
                            <select name='type' id='type'>
                                <?php if(!empty($this->trainer_course_type)):?>
                                <?php foreach ($this->trainer_course_type as $key => $value):?>
                                <option value="<?php echo $key;?>"><?php echo $value;?></option>
                                <?php endforeach;?>
                                <?php endif;?>
                            </select>
                            </td>
                        </tr>
                        <tr>
                            <td>Area:</td>
                            <td>
                            <select name='area_id' id='area_id'>
                                <?php if(!empty($this->area)):?>
                                <?php foreach ($this->area as $key => $value):?>
                                <option value="<?php echo $key;?>"><?php echo $value;?></option>
                                <?php endforeach;?>
                                <?php endif;?>
                            </select>
                            </td>
                        </tr>
                        <tr>
                            <td>From Date:</td>
                            <td><input type="text" id="from_date" class="date" name="from_date" value=""/></td>
                        </tr>

                        <tr>
                            <td>To Date:</td>
                            <td><input type="text" id="to_date"  class="date" name="to_date" value=""/></td>
                        </tr>

                        <tr>
                            <td>Note:</td>
                            <td>
                                <textarea name="note" id="note"></textarea>
                            </td>
                        </tr>
                    </table>
            </div>
            <div class="modal-footer">
                <button type="submit" class="btn btn-info">Save</button>
                <input type="hidden" id="id_new_staff" name="id" value=""/>
                </form>
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript" src="/js/jquery-ui-1.8.12.custom.min.js"></script>
<link rel="stylesheet" type="text/css" href="/css/jquery-ui-1.8.12.custom.css"/>
<link type="text/css" rel="stylesheet" href="/public/css/featherlight.css" title="Featherlight Styles" />
<link type="text/css" rel="stylesheet" href="/public/css/featherlight.gallery.css" title="Featherlight Styles" />
<script src="/public/js/featherlight.js" type="text/javascript" charset="utf-8"></script>
<?php echo $this->confirm();?>
<script>
    $(document).ready(function(){
        $('.date' ).datepicker({ dateFormat: "yy-mm-dd" });
        edit();
    });

    function edit()
    {
        $('.edit').click(function(){
            var id = $(this).attr('rel');
            $.ajax
            ({
                url : '/trainer/get-info-course',
                type : 'POST',
                data : {id:id},
                dataType: 'json',
                success : function(result)
                {
                    $('#type').val(result.type);
                    $('#area_id option[value='+result.area_id+']').attr('selected','selected');
                    $('#from_date').val(result.from_date);
                    $('#to_date').val(result.to_date);
                    $('#note').val(result.note);
                    $('#id_new_staff').val(result.id);
                    $('#myModal').modal();
                },
                error: function()
                {

                }

            });

        });
    }
</script>