<style>
    .input_title{
        display: inline-block;
        width: 100px;
    }
</style>

<div class="page-header">
    <div>
        <?php if(isset($this->id) AND $this->id):?>
            <h3><b>UPDATE TYPE ASSET TRAINER</b></h3>
        <?php else:?>
            <h3>CREATE TYPE ASSET TRAINER</h3>
        <?php endif;?>
    </div>
</div>

<?php
if (isset($this->messages) and $this->messages)
    foreach ($this->messages as $message):
        echo '<div class="alert alert-success">'.$message.'</div>';
    endforeach;

if (isset($this->messages_error) and $this->messages_error)
    foreach ($this->messages_error as $messages_error):
        echo '<div class="alert alert-danger">'.$messages_error.'</div>';
    endforeach;

$arr_type = unserialize(CATEGORY_ASSET_TRAINER);

?>
<form action="/trainer/save-asset" method="post">
    <div class="row-fluid">
        <div class="span5">
            <div class="form-group">
                <span class='input_title'>Type</span>
                <?php
                    $arr_type = unserialize(CATEGORY_ASSET_TRAINER);
                    if(isset($this->id) AND $this->id):
                        echo $arr_type[$this->row['type']];
                    else:
                ?>
                <select name="type" id="type" class="form-control">
                    <?php
                    foreach($arr_type as $k => $v):
                        ?>
                        <option value="<?php echo $k;?>"><?php echo $v;?></option>
                    <?php
                    endforeach;
                    ?>
                </select>
                <?php
                    endif;
                ?>
            </div>
            <!-- Type -->


            <div class="phone">
                <div class="form-group">
                    <span class='input_title'>Product</span>
                    <select name="good_id" class="form-control" id="good_id">
                        <?php
                        foreach($this->goods as $k => $v):
                            ?>
                            <option value="<?php echo $k;?>"
                                <?php if(isset($this->row['good_id']) AND $this->row['good_id'] == $k) echo 'selected';?>>
                                <?php echo $v->name.' - '.$v->desc; ?></option>
                        <?php
                        endforeach;
                        ?>
                    </select>
                </div>

                <div class="form-group">
                    <span class='input_title'>Color</span>
                    <select name="color_id" id="color_id" class="form-control">
                        <option value="">---</option>
                        <?php
                            if(isset($this->colors) AND $this->colors):
                                foreach($this->colors as $key => $value):
                        ?>
                                    <option value="<?php echo $key;?>" <?php if($key == $this->row['color_id']) echo 'selected';?>>
                                        <?php echo $value; ?></option>
                        <?php
                                endforeach;
                            endif;
                        ?>
                    </select>
                </div>
            </div>
            <!-- End phone -->


            <div class="form-group">
                <span class='input_title'>Name</span>
                <input type="text" name="asset" id="asset" value="<?php if(isset($this->row['name']) AND $this->row['name']) echo $this->row['name'];?>" class="form-control"/>
            </div>

        </div>

        <div class="span5">

        </div>
    </div>

    <div class="row-fluid">
        <div class="span5">
            <?php if(isset($this->id) AND $this->id):?>
            <input type="hidden" name="id" value="<?php echo $this->id;?>"/>

            <?php endif;?>
            <input type="submit" value="Save" class="btn btn-primary"/>
        </div>
    </div>
</form>


<script type="text/javascript" src="/js/jquery-ui-1.8.12.custom.min.js"></script>
<link rel="stylesheet" type="text/css" href="/css/jquery-ui-1.8.12.custom.css"/>
<?php echo $this->confirm();?>

<script>
    $(document).ready(function () {
        getColor();
        changeType();
        changeColor();
        var showField = "<?php echo (isset($this->row) AND $this->row['type']) ? $this->row['type'] : 1 ?>";
        if(showField == 1){
            $('.phone').show();
        }else{
            $(".phone").hide();
        }
    });

    function changeType(){
        $('#type').change(function(){
            var type = $(this).val();
            if(type == 1){
                $('#asset').val('');
                $('.phone').show();
                $('#good_id').trigger('change');
            }else{
                $('#good_id').trigger('change');
                $('.phone').hide();

            }
        });
    }

    function getColor(){

        $("#good_id").change(function(){
            var good_id = $(this).val();
            $("#asset").val('');
            $.ajax({
                url: '/ajax/get-color',
                type: 'get',
                data: {'good_id':good_id},
                success:function(data){
                    $('#color_id option:not(:first)').remove();
                    $.each(data,function(k,v){
                        var str = '<option value="'+ k +'">'+ v+'</option>';
                        $('#color_id').append(str);
                    });


                },
                error:function(){
                    alert('load data fail');
                }
            });


        })
    }

    function changeColor(){
        $('#color_id').change(function(){
            var str1 = $('#good_id option:selected').html();
            str1 = str1.trim();
            var str2 = $('#color_id option:selected').html();
            str1 = str1 + ' - ' + str2.trim();
            $('#asset').val(str1);
        })
    }


</script>