<style>
    .input_title{
        display: inline-block;
        width: 100px;
    }
</style>

<div class="page-header">
    <div>
        <?php if(isset($this->rowProduct) and $this->rowProduct):?>
        <h3>EDIT PRODUCT</h3>
        <?php else: ?>
        <h3>CREATE PRODUCT</h3>
        <?php endif;?>
    </div>
</div>

<?php
if (isset($this->messages_error) and $this->messages_error)
    foreach ($this->messages_error as $messages_error):
        echo '<div class="alert alert-danger">'.$messages_error.'</div>';
    endforeach;

if (isset($this->messages_success) and $this->messages_success)
    foreach ($this->messages_success as $messages_success):
        echo '<div class="alert alert-success">'.$messages_success.'</div>';
    endforeach;
?>
<form action="/trainer/save-product" method="post">
    <div class="row-fluid">
        <div class="span5">
            <div class="form-group">
                <span class='input_title'>Name product</span>
                <input type="text" name="name" required="" value='<?php echo !empty($this->rowProduct->name) ? $this->rowProduct->name : null;?>'>
            </div>

            <div class="form-group">
                <span class='input_title'>Code</span>
                <input type="text" name="code" required="" value="<?php echo !empty($this->rowProduct->code) ? $this->rowProduct->code : null;?>">
            </div>

            <div class="form-group">
                <span class='input_title'>Description</span>
                <input type="text" name="description" required="" value="<?php echo !empty($this->rowProduct->description) ? $this->rowProduct->description : null;?>">
            </div>

        </div>

    </div>

    <div class="row-fluid">
        <div class="span5">
            <?php if(isset($this->rowProduct->id) AND $this->rowProduct->id):?>
            <input type="hidden" name="id" value="<?php echo !empty($this->rowProduct->id) ? $this->rowProduct->id : null;?>"/>
            <?php endif;?>
            <input type="submit" value="Save" class="btn btn-primary"/>
        </div>
    </div>
</form>


<script type="text/javascript" src="/js/jquery-ui-1.8.12.custom.min.js"></script>
<link rel="stylesheet" type="text/css" href="/css/jquery-ui-1.8.12.custom.css"/>

<script>
    $(document).ready(function () {
        
    });
</script>