<style type="text/css">
    .form-create span{display: block;float: left;margin: 0px 0px;width: 90px;}
    .form-create input{width: 175px;margin-right: 10px}
    .form-create select{width: 175px;margin-right: 10px}
    .form-create{display: block;float: left;}

    .child{display: block; padding: 10px; background: #dcdcdc; margin: 5px; border-radius: 1px; -moz-boder-radius: 5px;}

    .parent{display: block; padding: 10px; margin: 5px; border-radius: 1px; -moz-boder-radius: 5px;}

    .save{margin-right: 5px}
    .checkbox{display: block;width: 15px !important;height: 15px !important;;display: block; float: right;}
</style>

<div class="page-header">
    <h3>CREATE ORDER</h3>
</div>

<?php
if (isset($this->messages_error) and $this->messages_error)
    foreach ($this->messages_error as $messages_error):
        echo '<div class="alert alert-danger">'.$messages_error.'</div>';
    endforeach;

if (isset($this->messages_success) and $this->messages_success)
    foreach ($this->messages_success as $messages_success):
        echo '<div class="alert alert-success">'.$messages_success.'</div>';
    endforeach;
?>


<form action="<?php echo HOST;?>trainer/save-order" method='POST'>
    <div class="parent">
        <div class="row">
            <div class="span12">

                <div class="form-create">
                    <span>Date:</span>
                    <input type="text" name="date" id="date" class="date form-group"  value="<?php echo (!empty($this->trainer_order[0]['date'])) ? $this->trainer_order[0]['date'] : null;?>" required/>
                </div>

                <div class="form-create">
                    <span>Number:</span>
                    <input type="text" class="number" value=""/>
                </div>

            </div><!-- span12-->
        </div><!-- row-->
    </div><!-- parent-->
    
    <div class='content_child'>

        <?php if(isset($this->trainer_order) and $this->trainer_order):?>
        <?php foreach ($this->trainer_order as $key => $value):?>
        <div class="child">
            <div class="row">
                <div class="span12">

                    <div class="form-create">
                        <span>Product:</span>
                        <select class="asset" name="asset_id[]">
                            <?php foreach ($this->type_asset as $k => $v):?>
                            <option value="<?php echo $v['id'];?>" <?php echo ($v['id'] == $value['asset_id']) ? "selected" : null;?>><?php echo $v['name'];?></option>
                            <?php endforeach;?>
                        </select>
                    </div>

                    <div class="form-create">
                        <span>Order From:</span>
                        <select name="order_from[]" class="order_from">
                            <option value=""></option>
                            <?php foreach($this->list_trainer as $k => $v):?>
                            <option value="<?php echo $k;?>" <?php echo ($k == $value['order_from']) ? "selected" : null;?> off='<?php echo !empty($this->off[$k]) ? $this->off[$k] : 0;?>'><?php echo $v;?></option>
                            <?php endforeach;?>
                        </select>
                        <input type="checkbox" class='checkbox' id='checkbox_from' name="">
                    </div>

                    <div class="form-create">
                        <span>Order To:</span>
                        <select name="order_to[]" class="order_to">
                            <option value=""></option>
                            <?php foreach($this->list_trainer as $k => $v):?>
                            <option value="<?php echo $k;?>" <?php echo ($k == $value['order_to']) ? "selected" : null;?> off='<?php echo !empty($this->off[$k]) ? $this->off[$k] : 0;?>'><?php echo $v;?></option>
                            <?php endforeach;?>
                        </select>
                        <input type="checkbox" class='checkbox' id='checkbox_to' name="">
                    </div>

                    <div class="form-create">
                        <span>Note:</span>
                        <input type="text" id="note" class="note" name="note[]" value="<?php echo (!empty($value['note'])) ? $value['note'] : null;?>"/>
                    </div>

                </div><!-- span12-->
            </div><!-- row-->
            
            <div class="row">
                <div class="span12">
                    <div class="form-create">
                        <span>Imei/Code:</span>
                        <input type="text" id="imei_code" class="imei_code" name="imei_code[]" value="<?php echo (!empty($value['object'])) ? $value['object'] : null;?>" required/>
                    </div>

                    <div class="form-create">
                        <input type="hidden" name="id[]" value="<?php echo (!empty($value['id'])) ? $value['id'] : null;?>">
                        <?php if(empty($this->params['confirm']) and (empty($value['confirm_by']))):?>
                        <a href="#" class="btn btn-danger pull-right" id="remove">-</a>
                        <a href="#" class="btn btn-primary pull-right" id="add" style="margin-right: 5px">+</a>
                        <?php endif;?>
                    </div>

                </div><!-- span12-->
            </div><!-- row-->

        </div><!-- child-->
        <?php endforeach; ?>
        <?php else:?>
        <div class="child">
            <div class="row">
                <div class="span12">

                    <div class="form-create">
                        <span>Product:</span>
                        <select class="asset" name="asset_id[]">
                            <?php foreach ($this->type_asset as $key => $value):?>
                            <option value="<?php echo $value['id'];?>"><?php echo $value['name'];?></option>
                            <?php endforeach;?>
                        </select>
                    </div>

                    <div class="form-create">
                        <span>Order From:</span>
                        <select name="order_from[]" class="order_from">
                            <option value=""></option>
                            <?php foreach($this->list_trainer as $key => $value):?>
                            <option value="<?php echo $key;?>" off='<?php echo !empty($this->off[$key]) ? $this->off[$key] : 0;?>'><?php echo $value;?></option>
                            <?php endforeach;?>
                        </select>
                        <input type="checkbox" class='checkbox' id='checkbox_from' name="">
                    </div>

                    <div class="form-create">
                        <span>Order To:</span>
                        <select name="order_to[]" class="order_to">
                            <option value=""></option>
                            <?php foreach($this->list_trainer as $key => $value):?>
                            <option value="<?php echo $key;?>" off='<?php echo !empty($this->off[$key]) ? $this->off[$key] : 0;?>'><?php echo $value;?></option>
                            <?php endforeach;?>
                        </select>
                        <input type="checkbox" class='checkbox' id='checkbox_to' name="">
                    </div>

                    <div class="form-create">
                        <span>Note:</span>
                        <input type="text" id="note" class="note" name="note[]" value="" />
                    </div>

                </div><!-- span12-->
            </div><!-- row-->
            
            <div class="row">
                <div class="span12">
                    <div class="form-create">
                        <span>Imei/Code:</span>
                        <input type="text" id="imei_code" class="imei_code" name="imei_code[]" value="" required/>
                    </div>

                    <div class="form-create">
                        <a href="#" class="btn btn-danger pull-right" id="remove">-</a>
                        <a href="#" class="btn btn-primary pull-right" id="add" style="margin-right: 5px">+</a>
                    </div>

                </div><!-- span12-->
            </div><!-- row-->

        </div><!-- child-->
        <?php endif;?>
    </div><!-- content_child-->
    
    <div class="row-fluid">
        <div class="span12">
            <div class="form-group">
                <?php if(empty($this->params['confirm']) and (empty($this->trainer_order[0]['confirm_by']))):?>
                <button type='submit' class="btn btn-success pull-right save">Save</button>
                <?php endif;?>
                <?php if(isset($this->params['confirm']) and $this->params['confirm'] and (empty($this->trainer_order[0]['confirm_by']))):?>
                <button type='submit' name="confirm" value='1' class="btn btn-primary pull-right save">Confirm</button>
                <?php endif;?>
            </div>
        </div>
    </div>
</form>


<!-- box add -->
<div class="boxAdd" style="display: none">
    <div class="child">
        <div class="row">
            <div class="span12">

                <div class="form-create">
                    <span>Product:</span>
                    <select class="asset" name="asset_id[]">
                        <?php foreach ($this->type_asset as $key => $value):?>
                        <option value="<?php echo $value['id'];?>"><?php echo $value['name'];?></option>
                        <?php endforeach;?>
                    </select>
                </div>

                <div class="form-create">
                    <span>Order From:</span>
                    <select name="order_from[]" class="order_from">
                        <option value=""></option>
                        <?php foreach($this->list_trainer as $key => $value):?>
                        <option value="<?php echo $key;?>" off='<?php echo !empty($this->off[$key]) ? $this->off[$key] : 0;?>'><?php echo $value;?></option>
                        <?php endforeach;?>
                    </select>
                    <input type="checkbox" class='checkbox' id='checkbox_from' name="">
                </div>

                <div class="form-create">
                    <span>Order To:</span>
                    <select name="order_to[]" class="order_to">
                        <option value=""></option>
                        <?php foreach($this->list_trainer as $key => $value):?>
                        <option value="<?php echo $key;?>" off='<?php echo !empty($this->off[$key]) ? $this->off[$key] : 0;?>'><?php echo $value;?></option>
                        <?php endforeach;?>
                    </select>
                    <input type="checkbox" class='checkbox' id='checkbox_to' name="">
                </div>

                <div class="form-create">
                    <span>Note:</span>
                    <input type="text" id="note" class="note" name="note[]" value=""/>
                </div>

            </div><!-- span12-->
        </div><!-- row-->
        
        <div class="row">
            <div class="span12">
                <div class="form-create">
                    <span>Imei/Code:</span>
                    <input type="text" id="imei_code" class="imei_code" name="imei_code[]" value="" required/>
                </div>

                <div class="form-create">
                    <a href="#" class="btn btn-danger pull-right" id="remove">-</a>
                    <a href="#" class="btn btn-primary pull-right" id="add" style="margin-right: 5px">+</a>
                </div>

            </div><!-- span12-->
        </div><!-- row-->

    </div><!-- child-->
</div>
<!-- end box add-->

<script type="text/javascript" src="/js/jquery-ui-1.8.12.custom.min.js"></script>
<link rel="stylesheet" type="text/css" href="/css/jquery-ui-1.8.12.custom.css"/>


<script>

    $(document).ready(function(){

        $("#dialog").dialog({
            autoOpen: false,
            modal: true
        });


        initdate();
        //changeImeiCode();
        addNew();
        remove();
        checkNumber();
        changeCheckbox();
    
    });

    function initdate()
    {
        $('.date').mousedown( function(){
            $(this).datepicker({ dateFormat: "yy-mm-dd" });
        });
    }

    function changeImeiCode(){
        $('.imei_code').on('change',function(){
            var imei_code   = $(this).val();
            
            
            /*
            $.ajax({
                type: 'get',
                url : '/trainer/get-info-imei-code',
                data: {'asset': asset},
                success: function(data){
                    data = JSON.parse(data);
                    $("#name_product").val(data.imei_code);
                    $("#descreption_product").val(data.descreption);
                },
                error: function(){
                    alert('load data failed');
                }
            });
            */

        });
    }

    function changeCheckbox(){
        $(document).on('change', '#checkbox_to', function(){
            
            if($(this).attr('checked')) {
                $(this).closest('.child').find(".order_to option[off=1]").hide();
            } else {
                $(this).closest('.child').find(".order_to option[off=1]").show();
            }

        });

        $(document).on('change', '#checkbox_from', function(){
            
            if($(this).attr('checked')) {
                $(this).closest('.child').find(".order_from option[off=1]").hide();
            } else {
                $(this).closest('.child').find(".order_from option[off=1]").show();
            }

        });
    }

    function addNew(){

        $(document).on('click', '#add', function(){  
            var id = $(this).closest('.child').find('.asset').val();
            var htmlAdd = $('.boxAdd').html();
            $('.content_child').append(htmlAdd);
            $(this).closest('.child').next().find('.asset').val(id);
            return false;
        })
    }

    function remove(){

        $(document).on('click', '#remove', function(){
            $(this).closest('.child').remove();
            return false;
        })
    }

    function checkNumber(){
        $('button[type="submit"]').click(function(e){
            var sum = $('.child').length - 1;
            var number = $('.number').val();
            
            if(sum != number){
                $("#dialog").dialog({
                    buttons : {
                        "OK" : function() {
                            $(this).dialog("close");
                        }
                    }
                });
                $("#dialog").dialog("open");
                return false;  
            }
            else{
                return true;
                $('form').submit();
            }
        });
    }

</script>

<div id="dialog" title="Error">
    Tổng số khác số lượng, vui lòng kiểm tra lại!
</div>

