
<form class="form-inline" action="/trainer/edit-profile" method="post">

    <div class="page-header">
        <h1>Trainer Evaluation</h1>
    </div>

	<div class="row-fluid">
	    <div class="input-prepend span4">
	         <span class="add-on">Knowledge</span>
	         <select  name="trainer_evaluation_knowledge" >
	             <option value="">Select</option>
                 <?php
                 $arrTrainerEvaluation = unserialize(TRAINER_EVALUATION);
                 foreach( $arrTrainerEvaluation as $key => $value):?>
                     <option <?php if(isset($this->staffTrainerProfile) and ($this->staffTrainerProfile['knowledge'] == $key)):?> selected <?php endif;?> value="<?php echo $key;?>"><?php echo $value; ?></option>
                 <?php endforeach;?>
	         </select>
	    </div>
	    <div class="input-prepend span4">
	         <span class="add-on">Skill</span>
	         <select  name="trainer_evaluation_skill" >
                 <option value="">Select</option>
                 <?php foreach( $arrTrainerEvaluation as $key => $value):?>
                     <option <?php if(isset($this->staffTrainerProfile) and ($this->staffTrainerProfile['skill'] == $key)):?> selected <?php endif;?> value="<?php echo $key;?>"><?php echo $value; ?></option>
                 <?php endforeach;?>
	         </select>
	     </div>
	     <div class="input-prepend span4">
	         <span class="add-on">Attitude</span>
	         <select  name="trainer_evaluation_attitude" >
	             <option value="">Select</option>
                 <?php foreach( $arrTrainerEvaluation as $key => $value):?>
                     <option <?php if(isset($this->staffTrainerProfile) and ($this->staffTrainerProfile['attitude'] == $key)):?> selected <?php endif;?> value="<?php echo $key;?>"><?php echo $value; ?></option>
                 <?php endforeach;?>
	         </select>
	     </div>	     
	</div>

    <div class="page-header">
        <h1>Facebook Profile</h1>
    </div>

    <div class="row-fluid">
        <div class="span4 input-prepend">
            <span class="add-on">Facebook</span>
            <input type="text" value="<?php echo ((isset($this->staffTrainerProfile['facebook_link']) and ($this->staffTrainerProfile['facebook_link'])) ? ($this->staffTrainerProfile['facebook_link']): '') ?>" name="facebook_link" id="facebook" />
        </div>

        <div class="span6">
            <div class="span4 input-prepend">
                <table class="table">
                    <tr>
                        <td>Facebook ID</td>
                        <td>
                            <input type="text" id="facebook_id" disabled value=""/>
                            <input type="hidden" name="facebook_id" value="" class="facebook_id" />
                        </td>
                    </tr>
                    <tr>
                        <td>Name:</td>
                        <td><input type="text" disabled id="name_facebook" value=""/></td>
                    </tr>
                    <tr>
                        <td>Gender:</td>
                        <td><input type="text" disabled id="gender_facebook" value=""/></td>
                    </tr>
                    <tr>
                        <td>Avatar:</td>
                        <td>
                            <div class="img-thumbnail" id="img_facebook"></div>
                        </td>

                    </tr>
                </table>
            </div>
        </div>
    </div>
    <a href="<?php echo ((isset($this->back_url) and($this->back_url)) ? ($this->back_url):'/trainer')?>" class="btn btn-danger pull-right">Go Back</a>
    <div class="pull-right"><button class="btn btn-primary" type="submit">Submit</button></div>
    <input type="hidden" value="<?php echo ((isset($this->staffID ) and ($this->staffID )) ? ($this->staffID ):'');?>" name="staff_id" />
</form>
<script src="http://connect.facebook.net/en_US/all.js"></script>
<script>
    $(document).ready(function () {
        $('#facebook').change(function(){
            var linkFacebook = $(this).val();
            var page_id = linkFacebook.match(/(?:http:\/\/)?(?:www.)?facebook\.com\/(?:profile\.php\?id=(?=\d.*))?([\w\-]*)?/);
            getInfoFacebook(page_id[1]);
        });

        document.onkeypress = stopRKey;

        var init_facebookID = '<?php echo ((isset($this->staffTrainerProfile['facebook_id']) and ($this->staffTrainerProfile['facebook_id'])) ? ($this->staffTrainerProfile['facebook_id']): '') ?>';
        if(init_facebookID != null || init_facebookID != undefined )
        {
            getInfoFacebook(init_facebookID);
        }
    });

    function getInfoFacebook(id)
    {
        FB.api('/'+id.trim(),function(response) {
            if(response)
            {
                $('#facebook_id').val(response.id);
                $('.facebook_id').val(response.id);
                $('#name_facebook').val(response.name);
                $('#gender_facebook').val(response.gender);
                $("#img_facebook").html('<img src="https://graph.facebook.com/'+id.trim()+'/picture?type=large&return_ssl_results=1" />');
            }
            else
            {
                $('#facebook_id').val();
                $('.facebook_id').val();
                $('#name_facebook').val();
                $('#gender_facebook').val();
                $("#img_facebook").html(null);
            }

        });
    }

    function stopRKey(evt) {
        var evt = (evt) ? evt : ((event) ? event : null);
        var node = (evt.target) ? evt.target : ((evt.srcElement) ? evt.srcElement : null);
        if ((evt.keyCode == 13) && (node.type=="text"))  {return false;}
    }

</script>