<div class="page-header">
    <h3>EDIT STAFF</h3>
</div>

<?php
if (isset($this->messages) and $this->messages)
    foreach ($this->messages as $message):
        echo '<div class="alert alert-success">'.$message.'</div>';
    endforeach;

if (isset($this->messages_error) and $this->messages_error)
    foreach ($this->messages_error as $message):
        echo '<div class="alert alert-error">'.$message.'</div>';
    endforeach;

?>

<div class="row-fluid">
    <div class="span12">
        <div class="span9">

            <table class="table table-bordered">
                <tr>
                    <td colspan="2"><p style="text-align: center"><b>INFORMATION COURSE</b></p></td>
                </tr>
                <tr>
                    <td class="span2">
                        Course Name
                    </td>
                    <td>
                        <span class="badge badge-success"><?php echo $this->course['note'] ? $this->course['note']: null; ?></span>
                    </td>
                </tr>
                <tr>
                    <td class="span2">
                        From Date
                    </td>
                    <td>
                        <span class="badge badge-warning"><?php echo $this->course['from_date'] ? $this->course['from_date']: null; ?></span>
                    </td>
                </tr>
                <tr>
                    <td class="span2">
                        To Date
                    </td>
                    <td>
                        <span class="badge badge-important"><?php echo $this->course['to_date'] ? $this->course['to_date']: null; ?></span>
                    </td>
                </tr>
                <tr>
                    <td class="span2">
                        Total Assign
                    </td>
                    <td>
                        <span class="badge badge-important"><?php echo $this->totalAssign ? $this->totalAssign: null; ?></span>
                    </td>
                </tr>
            </table>
        </div>
    </div>
    <div class="span12">
        <form class="form-horizontal" action="/trainer/save-edit-staff" method="post">
            <div id="result">
            	<table class="table table-bordered">
		            <thead>
		                <tr>
		                    <th>#</th>
		                    <th>ID Number</th>
		                    <th>Code</th>
		                    <th>Họ và tên lót</th>
		                    <th>Tên</th>
		                    <th>Team</th>
		                    <th>Title</th>
		                    <th>Area</th>
		                    <th>Province</th>
		                    <th>Delete</th>                    
		                </tr>
		            </thead>
		            <?php $n =0; foreach ($this->staff_new as $key => $value):?>
		            <tbody>
		                <tr>
		                    <td>
		                        <?php echo $n = $n+1;?>
		                        <input type="hidden" name="ids[]" value="<?php echo $value['id'];?>"/>
		                    </td>
		                    <td>
		                        <input type="text"  style="width: 70px;" value="<?php echo $value['cmnd'] ? $value['cmnd'] : null; ?>" name="cmnd[]" />

		                    </td>
		                    <td>
		                        <input type="text"  style="width: 60px;" name="code[]" value="<?php echo $value['code'] ? $value['code'] : null; ?>" readonly/>

		                    </td>
		                    <td>
		                        <input type="text" name="firstname[]" class="span2" value="<?php echo $value['firstname'] ? $value['firstname'] : null; ?>"/>
		                    </td>
		                    <td>
		                        <input type="text" name="lastname[]" class="span1" value="<?php echo $value['lastname'] ? $value['lastname'] : null; ?>"/>
		                    </td>
		                    <td>
		                        <select name="team[]" class="team"  style="width:100px;">
		                            <option value="">Select</option>
		                            <?php $team = unserialize(TEAM_FOR_ASSIGN_STAFF_TRAINER_COURSE);foreach($team as $item):?>
		                                <option value="<?php echo $item ? $item: null; ?>"
		                                    <?php if($value['team'] == $item):?> selected <?php endif;?>
		                                    ><?php echo $this->cached_team[$item] ? $this->cached_team[$item] : null; ?></option>
		                            <?php endforeach;?>
		                        </select>
		                    </td>
		                    <td>
		                        <select name="title[]" class="span2 title">
		                            <option value="">Select</option>
		                            <?php $title = $this->jobtitle ;foreach($title as $k =>$val):?>
		                                <option value="<?php echo $val['id'] ? $val['id']: null; ?>"
		                                    <?php if($value['title'] == $val['id']):?> selected <?php endif;?>
		                                    ><?php echo $val['name'] ? $val['name'] : null; ?></option>
		                            <?php endforeach;?>
		                        </select>
		                    </td>
		                    <td>
		                        <select name="area_id[]" class="span2 area_id">
		                            <option value="">Select</option>
		                            <?php $area = $this->area;  foreach($area as $k =>$val):?>
		                                <option value="<?php echo $k ? $k: null; ?>"
		                                    <?php if($value['area_id'] == $k):?> selected <?php endif;?>
		                                    ><?php echo $val ? $val : null; ?></option>
		                            <?php endforeach;?>
		                        </select>
		                    </td>
		                    <td>
		                        <select name="regional_market[]" class="span2 regional_market">
		                            <option value="">Select</option>
		                            <?php $province = $this->province; $k = -1; foreach($province as $k =>$val):?>
		                                <option value="<?php echo $k ? $k: null; ?>"
		                                    <?php if($value['regional_market'] == $k):?> selected <?php endif;?>
		                                    ><?php echo $val ? $val : null; ?></option>
		                            <?php endforeach;?>
		                        </select>
		                    </td>
		                    <td>
		                    	<select name="del[]" class="span2">
		                    		<option value="1">No delete</option>
		                    		<option value="2">Delete</option>
		                    	</select>
		                    </td>                    
		                </tr>
		            </tbody>
		            <?php endforeach ?>
		        </table>
		        <input type="hidden" name="id_course" value="<?php echo $this->course['id'] ? $this->course['id']: null; ?>">
		        <button type="submit" class="btn btn-primary pull-right">Submit</button>
            </div>
        </form>
    </div>
</div>
