<?php if($this->type_id == 1):?>

<table class="table table-responsive">
    <thead>
    <tr>
        <th>#</th>
        <th>Name</th>
        <th>Imei/Code</th>
        <th>Tình trạng máy</th>
    </tr>
    </thead>
    <tbody>
    <?php
        $stt = 0;
        if(isset($this->list) and $this->list):
            foreach($this->list as $key => $item):
        $stt++;
    ?>
    <tr>
        
        <td><?php echo $stt;?></td>
        <td><?php echo $item['name'];?></td>
        <td><?php echo $item['object'];?></td>
        <td><?php echo $item['note'];?></td>

    </tr>
    <?php
            endforeach;
        endif;?>
    </tbody>
</table>

<?php else:?>

<table class="table table-responsive">
    <thead>
    <tr>
        <th>#</th>
        <th>Name</th>
        <th>Number</th>
        <th>Date Out</th>
		<th>Tranfer From</th>
        <th>Tranfer To</th>
        <th>Status</th>
    </tr>
    </thead>
    <tbody>
    <?php
        $stt = 0;
        if(isset($this->list) and $this->list):
            foreach($this->list as $key => $item):
        $stt++;
    ?>
    <tr>
        
        <td><?php echo $stt;?></td>
        <td><?php echo $item['name'];?></td>
        <td><?php echo $item['object'];?></td>
        <td><?php echo $item['date_out'];?></td>
		<th><?php echo $item['fullname_from'];?></th>
        <th><?php echo $item['fullname'];?></th>
        <th>
            <a class="class="label label-info">
            <?php echo empty($item['confirm_by']) ? "Waiting Admin Confirm" : "Pending";?>
            </a>
        </th>
    </tr>
    <?php
            endforeach;
        endif;?>
    </tbody>
</table>

<?php endif;?>
