<style>
    .modal{
        width: 700px;
        left: 45%;
    }
    .modal .input_title{
        width: 50px;
        display: inline-block;
    }
    .sum{color: #19bc9c;cursor: pointer;}
    .current{color: #19bc9c;cursor: pointer;}
    .view_details{float: right; cursor: pointer;}
    .view_current{float: right; cursor: pointer;}

    @media screen and (max-width: 480px){
        .modal.fade.in{
            top: 10%;
            left: 0px;
            width: 100%;
            position: fixed;
        }
    }
</style>
<div class="page-header">
    <div>
        <h3>MANAGE ASSET</h3>
    </div>
</div>

<?php
if (isset($this->messages) and $this->messages)
    foreach ($this->messages as $message):
        echo '<div class="alert alert-success">'.$message.'</div>';
    endforeach;

if (isset($this->messages_error) and $this->messages_error)
    foreach ($this->messages_error as $messages_error):
        echo '<div class="alert alert-danger">'.$messages_error.'</div>';
    endforeach;

$arr_type = unserialize(CATEGORY_ASSET_TRAINER);

?>

<div class="row-fluid">
    <div class="span12">
        <div class="accordion" id="accordion2">
            <div class="accordion-group">
                <div class="accordion-heading">
                    <a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion2" href="#collapseTwo">
                        Search
                    </a>
                </div>
                <div id="collapseTwo" class="accordion-body collapse" style="height:0px;">
                    <div class="accordion-inner">
                        <form class="form-search form-horizontal" method="get">
                            <div class="row">
                                <div class="span5">
                                    <div class="control-group">
                                        <label for="name" class="span2">Name</label>
                                        <input id="name" name="name" type="text" class="input-medium search-query form-control" value="<?php echo ((isset($this->params['name']) and $this->params['name'])? $this->params['name']:'')?>">
                                    </div>
                                </div>
                                <button type="submit" class="btn btn-primary">Search</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="row-fluid">
    <div class="span12">
        <table class="table table-bordered">
            <thead>
            <tr>
                <th>#</th>
                <th>Model</th>
                <th>Quantity</th>
            </tr>
            </thead>
            <tbody>
            <?php
                $count =  0;
                if(isset($this->data) and $this->data):
                    foreach($this->data as $key => $item):
                    if($item['sum'] > 0 OR $item['current'] > 0):
            ?>
                        <tr>
                            <td><?php echo ++$count;?></td>
                            <td><?php echo $item['name'] ?></td>
                            <td>
                                <?php echo $item['sum']+$item['current'];?>
                                <a title="View Details" class="label label-info view_details" data-id='<?php echo $item['asset_id'];?>' type-id='1'>
                                    <i class="icon-hand-right"></i>
                                </a>
                            </td>
                            <!--
                            <td>
                                <?php echo $item['current'];?>    
                                <a title="View Current" class="label label-info view_details" data-id='<?php echo $item['asset_id'];?>' type-id='2'> 
                                    <i class="icon-hand-right"></i>
                                </a>
                            </td>
                            <td>
                                <?php echo $item['sum']+$item['current'];?>    
                            </td>
                            -->
                        </tr>
            <?php
                    endif;
                    endforeach;
                endif;
            ?>
            </tbody>
        </table>
    </div>
</div>

<div class="paging">
<?php
    //echo $this->paging($this->total, $this->limit, $this->offset, $this->url);
?>
</div>


<script type="text/javascript" src="/js/jquery-ui-1.8.12.custom.min.js"></script>
<link rel="stylesheet" type="text/css" href="/css/jquery-ui-1.8.12.custom.css"/>
<?php //echo $this->confirm();?>

<!-- Modal Create New -->
<div id="myModal"  class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                <h4 class="modal-title">View</h4>
            </div>
            <div class="modal-body">
                <div class="content">

                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>

    </div>
</div>

<script>
    $(document).ready(function () {
        view();
    });

    function view(){
        $("#myModal .content").html('');
        $('.view_details').click(function(){
            var asset_id = $(this).attr('data-id');
            var type_id = $(this).attr('type-id');
            $.ajax({
                url: '/trainer/get-inventory-by-asset',
                data: {'asset_id':asset_id, 'type_id':type_id},
                type: 'get',
                success:function(data){
                    $("#myModal .content").html(data);
                    $("#myModal").modal('show');
                }
            })
        })

    }
</script>