<div class="page-header">
    <h3>List Event Report</h3>
    <div class="row-fluid">
        <a href="/trainer/event-report"><button class="btn btn-primary pull-right">Create Event Report</button></a>
    </div>
</div>
<?php
if (isset($this->messages) and $this->messages)
    foreach ($this->messages as $message):
        echo '<div class="alert alert-error">'.$message.'</div>';
    endforeach;
if (isset($this->message_success) and $this->message_success)
    foreach ($this->message_success as $message):
        echo '<div class="alert alert-success">'.$message.'</div>';
    endforeach;
?>

<div class="accordion" id="accordion2">
    <div class="accordion-group">
        <div class="accordion-heading">
            <a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion2" href="#collapseTwo">
                Search
            </a>
        </div>
        <div id="collapseTwo" class="accordion-body collapse" style="height: 0px;">
            <div class="accordion-inner">
                <?php
                echo $this->render('trainer/partials/search_event_report.phtml');
                ?>
            </div>
        </div>
    </div>
</div>
<div class="row-fluid">
    <div class="span12">
        <table class="table table-bordered">
            <tr>
                <thead>
                <?php echo $this->sorting(array(
                        '#',
                        'date'      =>'date',
                        'Trainer',
                        'area',
                        'from_date' => 'from date',
                        'to_date'   => 'to date',
                        'dealer_id' =>'Dealer',
                        'store_id'  =>'Store',
                        'visitors'  =>'Visitors',
                        'Event type',
                        'Human',
                        'Fee',
                        'Role',
                        'sellout before',
                        'sellout after',
                        'Note',
                        'Action'
                    ),
                    $this->url, $this->sort, $this->desc); ?>
                </thead>
            </tr>
            <tbody>
            <?php if(isset($this->list)and $this->list):?>
                <?php
                $k =0;
                foreach($this->list as $key =>$value):?>
                    <tr>
                        <td><?php echo $k=$k+1?></td>
                        <td><?php echo (isset( $value['date']) and ( $value['date']))? date('d/m/Y',strtotime($value['date'])) :''?></td>
                        <td><?php echo $value['staff_name']; ?></td>
                        <td><?php echo $value['area_name']; ?></td>
                        <td>
                        <?php echo (isset($value['from_date']) AND $value['from_date']) ? date('d/m/Y',strtotime($value['from_date'])) : ''; ?>
                        </td>
                        <td>
                            <?php echo (isset($value['to_date']) AND $value['to_date']) ? date('d/m/Y',strtotime($value['to_date'])) : ''; ?>
                        </td>
                        <td><?php echo (isset( $this->name_dealer[$value['dealer_id']]) and ( $this->name_dealer[$value['dealer_id']]))? $this->name_dealer[$value['dealer_id']] :''?></td>
                        <td><?php echo (isset( $this->cachedStore[$value['store_id']]) and ( $this->cachedStore[$value['store_id']]))? $this->cachedStore[$value['store_id']] :''?></td>
                        <td><?php echo (isset( $value['visitors']) and ( $value['visitors']))? $value['visitors'] :''?></td>
                        <td><?php echo $value['event_name'];?></td>
                        <td><?php echo intval($value['quantity_human']);?></td>
                        <td><?php echo intval($value['fee']);?></td>
                        <td><?php echo $value['function']?></td>
                        <td><?php echo intval($value['sell_out_before'])?></td>
                        <td><?php echo intval($value['sell_out_after'])?></td>
                        <td><?php echo (isset( $value['note']) and ( $value['note']))? $value['note'] :''?></td>
                        <td>
                            <div class="btn-group">
                                <button class="btn dropdown-toggle" data-toggle="dropdown">
                                    Action
                                    <span class="caret"></span>
                                </button>
                                <ul class="dropdown-menu">
                                    <li><a href="javascript:void(0);" rel="<?php echo $value['id']?>" class="view_event_report">View</a></li>
                                    <li><a href="/trainer/event-report?id=<?php echo $value['id']?>" class="confirmLink">Edit</a></li>
                                    <li><a href="/trainer/del-event-report?id=<?php echo $value['id']?>" class="confirmLink">Delete</a></li>
                                </ul>
                            </div>
                        </td>
                    </tr>
                <?php endforeach;?>
            <?php endif;?>
            </tbody>
        </table>
    </div>
</div>
<div class="paging">
    <?php echo $this->paging($this->total, $this->limit, $this->offset, $this->url);?>
</div>
<!-- Modal -->
<div id="myModal" class="modal modal-lg fade" role="dialog" style="left: 37%; width: 900px">
    <div class="modal-dialog modal-lg">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">View Event Report</h4>
            </div>
            <div class="modal-body">
                <div id="body_modal"></div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript" src="/js/jquery-ui-1.8.12.custom.min.js"></script>
<link rel="stylesheet" type="text/css" href="/css/jquery-ui-1.8.12.custom.css"/>
<link type="text/css" rel="stylesheet" href="/public/css/featherlight.css" title="Featherlight Styles" />
<link type="text/css" rel="stylesheet" href="/public/css/featherlight.gallery.css" title="Featherlight Styles" />
<script src="/public/js/featherlight.js" type="text/javascript" charset="utf-8"></script>
<?php echo $this->confirm();?>
<script>
    $(document).ready(function(){
        view();
    });
    function view()
    {
        $('.view_event_report').click(function(){
            var id = $(this).attr('rel');
            if(id)
            {
                $.ajax
                ({
                    url : '/trainer/get-info-event-report',
                    type : 'POST',
                    data : {'id':id},
                    async: false,
                    success : function (result)
                    {
                        $('#body_modal').empty();
                        $('#body_modal').append(result);
                        $('#myModal').modal();
                    },
                    error : function ()
                    {
                        alert('Can not found Value !');
                    }
                });
            }
            else
            {
                alert('Can not found ID');
            }

        });
    }
</script>

