<style>

    @media only screen and (max-width: 768px) {
        .outer{
            width: 28%;
            margin: 3px 0px 3px 5px;
            padding: 5px;

        }

        img{
            width: 60px;
            height: 60px;
        }

        p{
            font-weight:bold;
            font-size: 11px;
            height:38px;
        }
        .back-link{
            color:#046A38;
            font-weight: bold;
            font-size: 16px;
            padding-left: 30px;
            padding-right: 30px;
        }
        .my-link{
            width: 100%;
            text-align: center;
        }
    }

    @media only screen
    and (min-width: 768px)
    and (max-width: 1024px) {
        p{
            font-weight:bold;
            font-size: 11px;
            height:38px;
        }
        .outer{
            width: 28%!important;
            margin: 3px 0px 3px 5px!important;
            padding: 5px!important;

        }
        .main{
            margin-top:10px ;
        }
        .back-link{
            color:#046A38 ;

            font-size: 16px;
        }
        .my-link{
            padding-top: 20px;
            padding-left: 30px!important;
        }
    }



    @media only screen and (min-width: 768px) {
        .main{
            display:flex;
            justify-content: start;

        }
        .my-container{
            width:50%;
        }

        .outer{
            width: 27%;
            margin: 10px 0px 10px 10px;
            padding: 10px;
        }
        img{
            width: 75px;
            height: 75px;
        }
        p{
            height:42px;
        }

        .back-link{
            color:#046A38 ;
            font-weight: bold;
            font-size: 16px;
            padding-left: 50px;
            padding-right: 50px;
        }
        .my-link{
            text-align: center;
            width: 96%;
        }
    }

    .outer {
        float: left;
        text-align: center;
        border-radius: 5px;
        color: #008B56;
        /* border:1px solid #f1f1f1; */
    }
    .outer p{
        padding-top: 10px;
        color: #008B56;
        cursor: pointer;
        font-weight: bold;

    }
    /*.outer h3{*/
    /*    font-family: 'Roboto Slab', serif !important;*/
    /*}*/

    .my-container {
        display: flex;
        justify-content: start;
        align-items: center;
        flex-wrap: wrap;
    }

    .outer {
        transition: box-shadow .3s;
    }
    .outer:hover {
        box-shadow: 0 0 11px rgba(33,33,33,.2);
    }


</style>



<div class="main">
    <div class="my-container ">

        <?php

        foreach ($this->staffMenu as $SMenu){
            if (in_array($SMenu['id'],$this->listId)) {?>
                <div class="outer">
                    <a href="<?=$SMenu['url']?>">

                        <img src="<?php echo HOST."/photo/menu-icon/".$SMenu['id'].".png"?>">

                        <?php if($this->lang==1): ?>
                            <p><?=$SMenu['title_vie']?></p>
                        <?php else: ?>
                            <p><?=$SMenu['title']?></p>
                        <?php endif;?>
                    </a>
                </div>
            <?php }} ?>
        <?php
        foreach ($this->groupMenu as $GMenu){
            if($GMenu['id']==$this->id && $GMenu['parent_id']!=0) {
//                echo $GMenu['id'];
//                echo $GMenu['parent_id'];
//                echo $this->id;
                $backLink=HOST.'staff/menu?id='.$GMenu['parent_id'];
            }


                //
//            else {
//                echo $GMenu['id'].' ';
//
//                echo $GMenu['parent_id'].' ';
//                echo 'a'.$this->id.' a';
//                $backLink=HOST.'welcome';
//                die('dadasd');
//            }
            if (in_array($GMenu['id'],$this->listId)){


                ?>
                <div class="outer">
                    <a href="<?=$GMenu['url']?>">

                        <?php
                        if (file_exists('photo/menu-icon/'.$GMenu['id'].'.png')) {?>
                            <img src="<?php echo HOST."photo/menu-icon/".$GMenu['id'].".png"?>">



                        <?php } else {?>
                            <img src="<?=HOST."/photo/manage/icon-new.png"?>">
                        <?php }



                    ?>


                        <?php if($this->lang==1): ?>
                            <p><?=$GMenu['title_vie']?></p>
                        <?php else: ?>
                            <p><?=$GMenu['title']?></p>
                        <?php endif;?>
                    </a>
                </div>
            <?php }} ?>

        <div class="my-link">


            <a class="back-link btn btn-warning" href="<?php
            if(empty($backLink)){
                echo HOST.'welcome';
            }
            else echo $backLink;


            ?>">Back</a>
        </div>
    </div>

</div>
