<div class="page-header">
	<h3>REPORT TRAINER MONTH</h3>
</div>
<?php
if (isset($this->messages) and $this->messages)
    foreach ($this->messages as $message):
        echo '<div class="alert alert-error">'.$message.'</div>';
    endforeach;
if (isset($this->message_success) and $this->message_success)
    foreach ($this->message_success as $message):
        echo '<div class="alert alert-success">'.$message.'</div>';
    endforeach;
?>

<div class="row">
    <div class="span12">
        <div class="control-group pull-right">
            <a class="btn btn-success" href="/trainer/course-finished">View trainer course complete</a>
        </div>
    </div>
</div>
<div class="row">
    <iframe name="iframe" id="iframe" width="100%" height="0" style="border: 0"></iframe>
	<form action="/trainer/report-trainer-month" class="form-inline" method="post" >
		<div class="span12 well input-prepend">
			<div class="span2">
				<span class="add-on" style="height: 30px">Month</span>
				<span><input type="text" name="month" style="margin-top: 10px;" value="<?php echo ($this->param['month']) ?  $this->param['month'] : null;?>" required="required" class="date span2" /></span>
			</div>
            <?php if( in_array($this->group_id , array(HR_ID ,ADMINISTRATOR_ID ))):?>
			<div class="span3 lable lable-primary">				
			 	<span class="span2">LOCK BY HR</span>
			 	<input type="checkbox" id="lock_by_hr" <?php if(isset($this->param['lock_by_hr']) and $this->param['lock_by_hr'] == 1):?> checked <?php endif;?>name="lock_by_hr" value="1">										
			</div>
			<?php endif;?>

            <?php if( in_array($this->group_id , array(HR_ID ,ADMINISTRATOR_ID ))):?>
                <div class="span3 lable lable-info">
                    <span class="span2">LOCK TMING </span>
                    <input type="checkbox" id="lock_by_timing" <?php if(isset($this->param['lock_by_timing']) and $this->param['lock_by_timing'] == 1):?> checked <?php endif;?>name="lock_by_timing" value="1">
                </div>
            <?php endif;?>
			<div class="span3">
				<button class="btn btn-info">Submit</button>
				<button class="btn btn-success" name="export" value="1">Export</button>	
				<a href="/trainer/course"><button class="btn btn-danger">Go Back</button></a>
			</div>						
		</div>
			
	</form>	
</div>
<div class="row">
	<div class ="span12 well">
	<?php $k = 0; if(isset($this->list) and $this->list){ ?>
		<table class="table table-bordered">
			<?php foreach ($this->list as $key => $value):$k = $k+1; ?>
				<?php if($k == 1):?>
					<thead>
                        <td>STT</td>
						<?php foreach ($value as $header => $val):?>											
						<td>
						    <?php echo($header) ;?>
						</td>
					     <?php endforeach;?>
					</thead>
				<?php endif;?>
				<tr>
                    <td><?php echo $k;?></td>
					<?php foreach ($value as $header => $item):?>

						<td>
                              <?php
                                    if($item == 1){
                                        echo '<i class="icon-ok"></i>';
                                    }elseif($item ==  2){
                                        echo RESULT_FAIL_TRAINING_NEWSTAFF_COURSE_NAME;
                                    }elseif($item ==  3){
                                        echo RESULT_QUIT_JOB_TRAINING_NEWSTAFF_COURSE_NAME;
                                    }else{
                                        echo ($item == 1) ? '':$item;
                                    }
                              //echo ($item == 1) ? '':$item;
                              ?>
						</td>
					<?php endforeach;?>
				</tr>				
 			<?php endforeach;?>
		</table>
	<?php } ?>
    </div>
</div>
<script type="text/javascript" src="/js/jquery-ui-1.8.12.custom.min.js"></script>
<link rel="stylesheet" type="text/css" href="/css/jquery-ui-1.8.12.custom.css"/>
<?php echo $this->confirm();?>
<script type="text/javascript">
$('.date').datepicker({
        dateFormat: 'mm-yy',
        changeMonth: true,
        changeYear: true,
        showButtonPanel: true,

        onClose: function(dateText, inst) {
            var month = $("#ui-datepicker-div .ui-datepicker-month :selected").val();
            var year = $("#ui-datepicker-div .ui-datepicker-year :selected").val();
            $(this).val($.datepicker.formatDate('mm-yy', new Date(year, month, 1)));
        }
    });

    $('.date').focus(function () {
        $(".ui-datepicker-calendar").hide();
        $("#ui-datepicker-div").position({
            my: "center top",
            at: "center bottom",
            of: $(this)
        });
    });
    $('.date').focus(function(){
    	$('#lock_by_hr').removeAttr('checked');
    });
</script>
