<style>
    .form-horizontal .control-label{text-align: left;}
    /*.accordion-inner{height: 400px}*/
    .accordion-inner img{max-width: 90%;display: block;margin: 0 auto;}
    .flex-direction-nav .flex-next{line-height: 56px;}
    .flex-direction-nav .flex-prev{line-height: 56px;}
</style>

<div class="page-header">
    <h1>Store Staff Details</h1>
</div>
<?php
if (isset($this->messages) and $this->messages)
    foreach ($this->messages as $message):
        echo '<div class="alert alert-success">' . $message . '</div>';
    endforeach;

if (isset($this->messages_error) and $this->messages_error)
    foreach ($this->messages_error as $messages_error):
        echo '<div class="alert alert-danger">' . $messages_error . '</div>';
    endforeach;
?>

<div class="main">

    <div class="main-inner">

        <div class="container">

            <div class="row">

                <div class="span12">      		

                    <div class="widget ">

                        <div class="widget-header">
                            <i class="icon-user"></i>
                            <h3>Info Pgs and Store</h3>
                        </div> <!-- /widget-header -->

                        <div class="widget-content">



                            <form id="edit-profile" class="form-horizontal" method='POST'>
                                <fieldset>
                                    <div class="row">
                                        <div class="span5">
                                            <div class="control-group">											
                                                <label class="control-label" for="username">Staff Name:</label>
                                                <div class="controls">
                                                    <label><?php echo !empty($this->info['fullname']) ? $this->info['fullname'] : NULL;?></label>
                                                </div> <!-- /controls -->				
                                            </div> <!-- /control-group -->


                                            <div class="control-group">											
                                                <label class="control-label" for="username">Staff Code:</label>
                                                <div class="controls">
                                                    <label><?php echo !empty($this->info['code']) ? $this->info['code'] : NULL;?></label>
                                                </div> <!-- /controls -->				
                                            </div> <!-- /control-group -->


                                            <div class="control-group">											
                                                <label class="control-label" for="username">Team:</label>
                                                <div class="controls">
                                                    <label><?php echo !empty($this->info['team_name']) ? $this->info['team_name'] : NULL;?></label>
                                                </div> <!-- /controls -->				
                                            </div> <!-- /control-group -->

                                            <div class="control-group">											
                                                <label class="control-label" for="username">Title:</label>
                                                <div class="controls">
                                                    <label><?php echo !empty($this->info['title_name']) ? $this->info['title_name'] : NULL;?></label>
                                                </div> <!-- /controls -->				
                                            </div> <!-- /control-group -->


                                            <div class="control-group">											
                                                <label class="control-label" for="username">Height:</label>
                                                <div class="controls">
                                                    <label><?php echo !empty($this->info['height']) ? $this->info['height'] : '<i style="color:red">Chưa có thông tin</i>';?></label>
                                                </div> <!-- /controls -->				
                                            </div> <!-- /control-group -->

                                            <div class="control-group">											
                                                <label class="control-label" for="username">Weight:</label>
                                                <div class="controls">
                                                    <label><?php echo !empty($this->info['weight']) ? $this->info['weight'] : '<i style="color:red">Chưa có thông tin</i>';?></label>
                                                </div> <!-- /controls -->				
                                            </div> <!-- /control-group -->
                                            

                                        </div>
                                        
                                        <div class="span5">

                                            <div class="control-group">											
                                                <label class="control-label" for="username">Store Name:</label>
                                                <div class="controls">
                                                    <label><?php echo !empty($this->info['store_name']) ? $this->info['store_name'] : NULL;?></label>
                                                </div> <!-- /controls -->				
                                            </div> <!-- /control-group -->


                                            <div class="control-group">											
                                                <label class="control-label" for="username">Area:</label>
                                                <div class="controls">
                                                    <label><?php echo !empty($this->info['area_name']) ? $this->info['area_name'] : NULL;?></label>
                                                </div> <!-- /controls -->				
                                            </div> <!-- /control-group -->

                                            <div class="control-group">											
                                                <label class="control-label" for="username">Province:</label>
                                                <div class="controls">
                                                    <label><?php echo !empty($this->info['province_name']) ? $this->info['province_name'] : NULL;?></label>
                                                </div> <!-- /controls -->				
                                            </div> <!-- /control-group -->



                                            <div class="control-group">											
                                                <label class="control-label" for="username">Joined At:</label>
                                                <div class="controls">
                                                    <label><?php echo !empty($this->info['joined_at']) ? $this->info['joined_at'] : NULL;?></label>
                                                </div> <!-- /controls -->				
                                            </div> <!-- /control-group -->

                                            <div class="control-group">											
                                                <label class="control-label" for="username">Release At:</label>
                                                <div class="controls">
                                                    <label><?php echo !empty($this->info['released_at']) ? $this->info['released_at'] : NULL;?></label>
                                                </div> <!-- /controls -->				
                                            </div> <!-- /control-group -->

                                            

                                            <br />
                                        </div>
                                        
                                        
                                    
                                    </div><!-- row -->
                                    
                                    <div class="row">
                                        <div class="span5">
                                            <div class="accordion-group">
                                                <div class="accordion-heading">
                                                <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapseOne">
                                                  Image Staff
                                                </a>
                                              </div>
                                              <div id="collapseOne" class="accordion-body collapse in">
                                                <div class="accordion-inner">
                                                    <?php if(!empty($this->info['image_body'])):?>
                                                    <img src="<?php echo HOST.'files/staff/'.$this->info['staff_id'].'/IMAGE_body/'.$this->info['image_body'];?>" />
                                                    <?php else:?>
                                                    <div class="alert">
                                                        <strong>Warning!</strong> Chưa có hình ảnh.
                                                      </div>
                                                    <?php endif;?>
                                                </div>
                                              </div>
                                            </div>
                                        </div>
                                        
                                        <div class="span5">
                                            <div class="accordion-group">
                                                <div class="accordion-heading">
                                                <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapseOne">
                                                  Image Store
                                                </a>
                                              </div>
                                              <div id="collapseOne" class="accordion-body collapse in">
                                                <div class="accordion-inner">
                                                    
                                                    <div class="flexslider">
                                                        <ul class="slides">
                                                            <?php foreach($this->store_image as $key=>$value):?>
                                                            <li>
                                                              <img src="<?php echo HOST.$value['url'];?>" />
                                                            </li>
                                                            <?php endforeach;?>
                                                          
                                                        </ul>
                                                      </div>
                                                  
                                                </div>
                                              </div>
                                            </div>
                                            
                                            
                                            
                                        </div>
                                    </div><!-- row -->
                                    
                                    <br /> <br /> <br />
                                    
                                    <?php if(!empty($this->info['approve_by'])):?>
                                    
                                    <div class="alert alert-info">
                                        Gán shop đã được <?php echo $this->info['type_name'];?> bởi .<strong><?php echo $this->info['approve_name'];?>!</strong> 
                                      </div>
                                    
                                    <?php if(!empty($this->info['note'])):?>
                                    <div class="alert alert-block">
                                        <button type="button" class="close" data-dismiss="alert">×</button>
                                        <h4>Note <?php echo $this->info['type_name'];?>!</h4>
                                        <?php echo $this->info['note'];?>
                                      </div>
                                    <?php endif;?>
                                    
                                    
                                    <?php else:?>
                                    <div class="control-group">											
                                        <label class="control-label" for="username">Note:</label>
                                        <div class="controls">
                                            <input type="text" class="span6" name='note' id="note" value="">
                                        </div> <!-- /controls -->				
                                    </div> <!-- /control-group -->
                                    
                                    <div class="form-actions">
                                        <input type="hidden" name='store_staff_log_id' value='<?php echo $this->info['id'];?>' />
                                        
                                        <button type="submit" name='approve_type' class="btn btn-primary" value='1'>Xác nhận</button>
                                        <button type="submit" name='approve_type' class="btn btn-danger" value='2'>Từ chối</button>
                                    </div> <!-- /form-actions -->
                                    <?php endif;?>
                                    
                                </fieldset>
                            </form>




                        </div> <!-- /widget-content -->

                    </div> <!-- /widget -->

                </div> <!-- /span8 -->




            </div> <!-- /row -->

        </div> <!-- /container -->

    </div> <!-- /main-inner -->

</div> <!-- /main -->

<script type="text/javascript" src="<?php echo HOST ?>js/bootstrap-multiselect.js"></script>
<link rel="stylesheet" href="<?php echo HOST ?>css/bootstrap-multiselect.css" type="text/css"/>
<script type="text/javascript" src="<?php echo HOST ?>js/jquery-ui-1.8.12.custom.min.js"></script>
<link rel="stylesheet" type="text/css" href="<?php echo HOST ?>css/jquery-ui-1.8.12.custom.css"/>


<script type="text/javascript" src="<?php echo HOST ?>bootstrap3/flexslider/jquery_flexslider.js"></script>
<link rel="stylesheet" type="text/css" href="<?php echo HOST ?>bootstrap3/flexslider/flexslider.css"/>
<script>


    $(document).ready(function () {
        $(window).on('load', function() {
            $('.flexslider').flexslider({
              animation: "slide"
            });
          });
    });
</script>