<style>
    i.menu-bullet{
        width: 30px;
    }
    ul li span:first-child{
        width: 200px;
        display: inline-block;
    }
    ul li span:last-child{
        /*min-width: 200px;*/
        display: inline-block;
    }
</style>

<div class="page-header">
    <div>
        <h3>MANAGE  ASSET</h3>
    </div>
</div>

<?php
if (isset($this->messages) and $this->messages)
    foreach ($this->messages as $message):
        echo '<div class="alert alert-success">'.$message.'</div>';
    endforeach;

if (isset($this->messages_error) and $this->messages_error)
    foreach ($this->messages_error as $messages_error):
        echo '<div class="alert alert-danger">'.$messages_error.'</div>';
    endforeach;

?>

<!--
<div class="row">
    <div class="span12">
        <a class="btn btn-success pull-right" href="/trainer/trainer-confirm">Confirm order</a>
    </div>
</div>
-->

<div class="accordion" id="accordion2">
    <div class="accordion-group">
        <div class="accordion-heading">
            <a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion2" href="#collapseTwo">
                LIST NEW ASSET 
                <?php if(isset($this->list_pending) AND count($this->list_pending)):?>
                <span class="label label-important"> PENDING:: <?php echo count($this->list_pending);?></span>
                <?php endif;?>
            </a>
        </div>
        <div id="collapseTwo" class="accordion-body collapse" style="height: 0px;">
            <div class="accordion-inner">
                <?php if(isset($this->list_pending) AND count($this->list_pending)):?>
                <form action="/trainer/save-trainer-confirm" method="post">
                    <table class="table table-bordered">
                        <thead>
                        <tr>
                            <th>SN</th>
                            <th>From</th>
                            <th>Name</th>
                            <th>Imei/code</th>
                            <th>Note</th>
                            <th><input type="checkbox" name="check" id="checkall"/></th>
                        </tr>
                        </thead>
                        <tbody>
                        <?php
                        if(isset($this->list_pending) AND $this->list_pending):
                            foreach($this->list_pending as $item):
                                ?>
                                <tr>
                                    <td><?php echo $item['sn'] ? $item['sn'] : "SN IN:: ".$item['sn_in'];?></td>
                                    <td><?php echo !empty($this->list_trainer[$item['order_from']]) ? $this->list_trainer[$item['order_from']] : "<a class='label label label-info'>NEW</a>";?></td>
                                    <td><?php echo $item['asset_name'];?></td>
                                    <td><?php echo $item['object'];?></td>
                                    <td><?php echo $item['note'];?></td>
                                    <td>
                                        <input type="checkbox" name="id[]" class='check_item' value="<?php echo $item['id']?>"/>
                                    </td>

                                </tr>
                            <?php
                            endforeach;
                        endif;
                        ?>
                        </tbody>
                    </table>

                    <div class="wrap clearfix">
                        <input type="submit" class="btn btn-primary pull-right form-control" value="Confirm"/>
                    </div>

                </form>
                <?php endif;?>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="span12 ml-0">
        <h3 style="color: #545454;text-decoration: none;font-weight: bold">LIST ASSET</h3>
    </div>
</div>

<table class="table table-responsive table-bordered">
    <thead>
    <tr>
        <th>Name</th>
        <th>Imei/Code</th>
        <th>Date In</th>
        <th>Action</th>
    </tr>
    </thead>
    <tbody>
    <?php
    if(isset($this->list) and $this->list):
        foreach($this->list as $key => $item):
            ?>
            <tr>
                <td class="asset_name"><?php echo $item['asset_name'];?></td>
                <td class="object"><?php echo $item['object'];?></td>
                <td class="date_in"><?php echo $item['date_in'];?></td>
                <td><button class="btn btn-warning form-control add_tranfer" id='<?php echo $item['id'];?>'>Tranfer</button></td>
            </tr>
        <?php
        endforeach;
    endif;?>
    </tbody>
</table>


<form action="<?php echo HOST."trainer/tranfer-order";?>" method="POST">
<div id="modal_add_tranfer" class="modal hide fade in" tabindex="-1" role="dialog" aria-labelledby="newCategoryLabel" aria-hidden="true" style="display: block;">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
        <h3 id="newCategoryLabel">Tranfer Product</h3>
    </div>
    <div class="modal-body">
        <div class="row-fluid">
            <div class="row">
                <div class="span3">
                    <div class="control-group">
                        <label for="category_name">Product:</label>
                        <input type='text' class="asset_name" name='asset_id' readonly=""/>
                    </div>
                </div>
                <div class="span2">
                    <div class="control-group">
                        <label for="category_name">Imei/Code</label>
                        <input type='text' class="object" name='object' readonly=""/>
                    </div>
                </div>
                <div class="span3">
                    <div class="control-group">
                        <label for="category_name">Date IN</label>
                        <input type='text' class="date_in" name="date_in" readonly="">
                    </div>
                </div>
                <div class="span2">
                    <div class="control-group">
                        <label for="category_name">Tranfer to:</label>
                        <select name="order_to">
                            <?php foreach ($this->list_trainer as $key => $value):?>
                            <option value="<?php echo $key;?>"><?php echo $value;?></option>
                            <?php endforeach;?>
                        </select>
                    </div>
                </div>
                
                <div class="span3">
                    <div class="control-group">
                        <label for="category_name">Note</label>
                        <textarea name="note" class="note" cols="10" rows="3"></textarea>
                    </div>
                </div>

            </div>            
        </div>
    </div>
    <div class="modal-footer">
        <input type="hidden" class='id' name="id" />
        <button class="btn btn-primary" type="submit" id="save_category_btn">Save</button>
        <button class="btn" data-dismiss="modal" aria-hidden="true">Cancel</button>
    </div>
</div>
</form>


<script type="text/javascript" src="/js/jquery-ui-1.8.12.custom.min.js"></script>
<link rel="stylesheet" type="text/css" href="/css/jquery-ui-1.8.12.custom.css"/>
<script>
    $(document).ready(function(){
        $('#checkall').click(function(){
            var _this = $(this);
            if(_this.prop('checked') == true){
                $('.check_item').prop('checked',true);
            }else{
                $('.check_item').prop('checked',false);
            }
        });
    })
</script>

<script>
$(document).ready(function() {

    new_category_modal = $("#modal_add_tranfer");
    new_category_modal.hide();

    $(document).on('click', ".add_tranfer", function() {
        var id = $(this).attr('id');
        var asset_name  = $(this).closest('tr').find('.asset_name').html();
        var object      = $(this).closest('tr').find('.object').html();
        var date_in     = $(this).closest('tr').find('.date_in').html();

        new_category_modal.find('.id').val(id);
        new_category_modal.find('.asset_name').val(asset_name);
        new_category_modal.find('.object').val(object);
        new_category_modal.find('.date_in').val(date_in);

        show_new_category_modal();
    });

    
    function show_new_category_modal(e) {
        new_category_modal.modal({backdrop: 'static'})
    }

    
});

</script>