<div class="page-header">
    <h2>
        Trainer order confirm
    </h2>
</div>
<?php
if (isset($this->messages) and $this->messages)
    foreach ($this->messages as $message):
        echo '<div class="alert alert-success">'.$message.'</div>';
    endforeach;

if (isset($this->messages_error) and $this->messages_error)
    foreach ($this->messages_error as $message):
        echo '<div class="alert alert-error">'.$message.'</div>';
    endforeach;

?>

<form action="/trainer/save-trainer-confirm" method="post">
    <div class="row">
        <div class="span12">
            <div class="wrap clearfix">
                <input type="submit" class="btn btn-primary pull-right form-control" value="Confirm"/>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="span12">
           <table class="table table-bordered table-advance table-hover table-responsive">
               <thead>
                   <tr>
                       <th>SN</th>
                       <th>Type</th>
                       <th>Name</th>
                       <th>Quantity</th>
                       <th>Note</th>
                       <th><input type="checkbox" name="check" id="checkall"/></th>
                   </tr>
               </thead>
               <tbody>
               <?php
                    if(isset($this->list_pending) AND $this->list_pending):
                        foreach($this->list_pending as $item):
               ?>
                   <tr>
                       <td><?php echo $item['sn']?></td>
                       <td>
                           <?php echo ($item['type_asset'] == 1) ? 'PHONE':'STATIONERY'; ?>
                       </td>
                       <td><?php echo $item['asset_name'];?></td>
                       <td><?php echo $item['quantity'];?></td>
                       <td>
                            <?php
                                if($item['type_asset'] == 2):
                                    echo $item['note'];
                                else:
                            ?>
                                <ul>
                                    <?php foreach($item['phone'] as $v):?>
                                        <li>
                                            <?php echo $v['imei'] .' --- '.$v['note']; ?>
                                        </li>
                                    <?php endforeach;?>
                                </ul>
                            <?php
                                endif;
                            ?>
                       </td>
                       <td>
                           <input type="checkbox" name="id[]" class='check_item' value="<?php echo $item['id']?>"/>
                       </td>

                   </tr>
               <?php
                        endforeach;
                    endif;
               ?>
               </tbody>
           </table>
        </div>
    </div>
</form>
<script type="text/javascript" src="/js/jquery-ui-1.8.12.custom.min.js"></script>
<link rel="stylesheet" type="text/css" href="/css/jquery-ui-1.8.12.custom.css"/>
<script>
    $(document).ready(function(){
        $('#checkall').click(function(){
            var _this = $(this);
            if(_this.prop('checked') == true){
                $('.check_item').prop('checked',true);
            }else{
                $('.check_item').prop('checked',false);
            }
        });
    })
</script>