<style>
    #dealer{
        margin-top: -8px;
    }
    #_date{
        width: 100px;
    }
    @media (min-width: 1200px){
        .span7 {
            width: 665px;
        }
    }
</style>
<div class="page-header">
    <h3>Training Report</h3>
</div>
<form action="/trainer/training-report" class="form-control" method="post" enctype="multipart/form-data" style="background-color: rgb(245, 245, 245); border: none">
    <div class="row-fluid">
        <div class="span12">
            <div class="span4" style="margin-left: 0px">
                <div class="widget widget-nopad">
                    <div class="widget-header"> <i class="icon-list-alt"></i>
                        <h3>Trainer Information </h3>
                    </div>
                    <div class="widget-content">
                        <div class="widget big-stats-container">
                            <div class="widget-content">
                                <table class="table">
                                    <tr>
                                        <td>Name:</td>
                                        <td><?php echo (($this->info_trainer['firstname']).' '.($this->info_trainer['lastname']) ? ($this->info_trainer['firstname']).' '.($this->info_trainer['lastname']):'' )?></td>
                                    </tr>
                                    <tr>
                                        <td>Gender</td>
                                        <td><?php if((isset($this->info_trainer['gender']) and ($this->info_trainer['gender']) == 1)){?> Male  <?php }elseif((isset($this->info_trainer['gender']) and ($this->info_trainer['gender']) == 0)){?> Female<?php }?></td>
                                    </tr>
                                    <tr>
                                        <td>Phone</td>
                                        <td><?php echo ((isset($this->info_trainer['phone_number']) and ($this->info_trainer['phone_number'])) ? ($this->info_trainer['phone_number']): '')?></td>
                                    </tr>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="span7">
                <div class="widget widget-nopad">
                    <div class="widget-header"> <i class="icon-list-alt"></i>
                        <h3>Training Report </h3>
                    </div>
                    <div class="widget-content">
                        <div class="widget big-stats-container">
                            <div class="widget-content">
                                <table class="table">
                                    <tr>
                                        <td>
                                            Type
                                        </td>
                                        <td colspan="3">
                                            <select name="type" id="type" required="required">
                                                <option value="">Select</option>
                                                <?php $type = unserialize(TYPE_TRAINING_REPORT);
                                                foreach($type as $key => $value):
                                                ?>
                                                    <option value="<?php echo $key?>" <?php if(isset($this->info_training_report['type']) and $this->info_training_report['type'] == $key):?> selected <?php endif;?>><?php echo $value?></option>
                                                <?php endforeach;?>

                                            </select>

                                        </td>
                                    </tr>
                                    <tr>
                                        <td colspan="2">
                                            <div id="date" style="display:none">
                                                Date <input type="text" id="_date" value="<?php echo (isset($this->info_training_report) and ($this->info_training_report['date'])) ? $this->info_training_report['date']: ''?>" name="date" class="span1 date" />
                                            </div>
                                        </td>

                                        <td colspan="2">
                                            <div id="internally" style="display:none">
                                                <label>
                                                    Area
                                                    <select name="area" id="area">
                                                        <option value="">Select</option>
                                                        <?php if($this->areaTrainer)
                                                            foreach($this->areaTrainer as $key => $value):
                                                                ?>
                                                                <option value="<?php echo $key ?>" <?php if(isset($this->info_training_report) and ($this->info_training_report['area'] ==$key)):?> selected <?php endif; ?>><?php echo $value ?></option>
                                                            <?php endforeach;?>
                                                    </select>
                                                </label>
                                                <label>
                                                    Province
                                                    <select name="province" id="province">
                                                        <option value="">Select</option>
                                                        <?php if($this->provinceArea)
                                                            foreach($this->provinceArea as $key => $value):
                                                                ?>
                                                                <option value="<?php echo $key ?>" <?php if(isset($this->info_training_report) and ($this->info_training_report['province'] ==$key)):?> selected <?php endif; ?>><?php echo $value ?></option>
                                                            <?php endforeach;?>
                                                    </select>
                                                </label>
                                            </div>
                                            <div class="span3" id="partners" style="display:none">
                                                <label>Số buổi học</label>
                                                <input type="text" name="quantity_session" id="search_dealer" autocomplete="off" placeholder='Số buổi học' value="<?php echo (isset($this->info_training_report) and ($this->info_training_report['quantity_session'])) ? $this->info_training_report['quantity_session']: ''?>"/>
                                            </div>
                                        </td>
                                    </tr>
                                    <!--

                                    <tr>
                                        <td colspan="4">
                                            <div id="new_staff" style="display:none">
                                                <label>
                                                    From Date <input type="text" class="date" id ="from_date" name="from_date" value="<?php echo (isset($this->info_training_report) and ($this->info_training_report['from_date'])) ? $this->info_training_report['from_date']: ''?>"/>
                                                </label>
                                                <label>
                                                    To Date <input type="text" class="date" id="to_date" name="to_date" value="<?php echo (isset($this->info_training_report) and ($this->info_training_report['to_date'])) ? $this->info_training_report['to_date']: ''?>"/>
                                                </label>
                                                <label>
                                                    Quantity Participant <input type="text" name="quantity_participant" id ="quantity_participant" value="<?php echo (isset($this->info_training_report) and ($this->info_training_report['quantity_participant'])) ? $this->info_training_report['quantity_participant']: ''?>"/>
                                                </label>
                                                <label>
                                                    Quantity Disqualified <input type="text" name="quantity_disqualified" id="quantity_disqualified" value="<?php echo (isset($this->info_training_report) and ($this->info_training_report['quantity_disqualified'])) ? $this->info_training_report['quantity_disqualified']: ''?>"/>
                                                </label>
                                                <label>
                                                    Quantity Remain <input type="text" name="quantity_remain" id="quantity_remain" value="<?php echo (isset($this->info_training_report) and ($this->info_training_report['quantity_remain'])) ? $this->info_training_report['quantity_remain']: ''?>"/>
                                                </label>
                                            </div>
                                        </td>
                                    </tr>
                                    -->
                                    <tr>
                                        <td>Dealer</td>
                                        <td>
                                            <select name="trainer_dealer" id="type" >
                                                <option value="">Select</option>
                                                <?php foreach ($this->trainer_dealer as $key => $value):?>
                                                <option value="<?php echo $key;?>" <?php echo (isset($this->info_training_report['trainer_dealer']) and $this->info_training_report['trainer_dealer'] == $key) ? 'selected' : NULL;?>><?php echo $value;?></option>
                                                <?php endforeach;?>
                                            </select>
                                        </td>
                                    </tr>
                                    <!--
                                    <tr>
                                        <td>Content</td>
                                        <td>
                                            <textarea name="content"><?php echo (isset($this->info_training_report) and ($this->info_training_report['content'])) ? $this->info_training_report['content']: ''?></textarea>
                                        </td>
                                    </tr>
                                    -->
                                    <tr>
                                        <td>Note</td>
                                        <td>
                                            <textarea name="note"><?php echo (isset($this->info_training_report) and ($this->info_training_report['note'])) ? $this->info_training_report['note']: ''?></textarea>
                                        </td>
                                        <td>
                                            <div id="quantity_trainees" style="display:none">
                                                Quantity Trainees
                                                <input type="text" name="quantity_trainees"  id="_quantity_trainees" value="<?php echo (isset($this->info_training_report) and ($this->info_training_report['quantity_trainees'])) ? $this->info_training_report['quantity_trainees']: ''?>"/>
                                            </div>
                                        </td>
                                    </tr>

                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
    <div class="row-fluid">
        <div class="span12">
            <div class="span4" style="margin-left: 0px">
                <div class="widget widget-nopad">
                    <div class="widget-header"> <i class="icon-list-alt"></i>
                        <h3>Upload Picture List</h3>
                    </div>
                    <div class="widget-content">
                        <div class="widget big-stats-container">
                            <div class="widget-content">
                                <div class="control-group">
                                    <table class="table" id="table_picture_pg_list">
                                        <tr>
                                            <td>
                                                <input type="file" name="picture_list_pg[]" value=""/>
                                            </td>
                                            <td>
                                                <input id="add_picture_list_pg" type="button" class="btn btn-info" value="+"/>
                                            </td>
                                        </tr>
                                    </table>
                                        <?php if(isset($this->picture_list_pg) and count($this->picture_list_pg) > 0 ):?>
                                            <?php foreach($this->picture_list_pg as $key => $value):?>
                                                <?php if (isset($value) and $value):?>
                                                <div class="span2" id="<?php echo $key ?>">
                                                    <table class="table">
                                                        <tr id="picture_list_pg">
                                                            <td>
                                                                <a data-featherlight="image" href="<?php echo ($value);?>">
                                                                    <img src="<?php echo ($value);?>" class="img-polaroid" width="140" height="140">
                                                                </a>
                                                            </td>
                                                            <td>
                                                                <button class="btn btn-danger del" rel="<?php echo $key ?>">Delete</button>
                                                                <input type="hidden" name="picture_list_pg_haved[]" value="<?php echo $key ?>" id="hidden_picture_list_pg" />
                                                            </td>
                                                        </tr>
                                                    </table>
                                                </div>
                                                <?php endif;?>
                                            <?php endforeach;?>
                                        <?php endif;?>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="span7">
                <div class="widget widget-nopad">
                    <div class="widget-header"> <i class="icon-list-alt"></i>
                        <h3>Upload Picture Training</h3>
                    </div>
                    <div class="widget-content">
                        <div class="widget big-stats-container">
                            <div class="widget-content">
                                <table class="table" id="table_picture_training">
                                    <tr id="picture_training">
                                        <td>
                                            <input type="file" name="picture_training[]" value=""/>
                                        </td>
                                        <td>
                                            <input id="add_picture_training" type="button" class="btn btn-info" value="+"/>
                                        </td>
                                    </tr>
                                </table>
                                <?php if(isset($this->picture_training) and ($this->picture_training)):?>
                                        <?php foreach($this->picture_training as $key => $value):?>
                                                <?php if (isset($value) and $value):?>
                                                    <div class="span2" id="<?php echo $key ?>">
                                                        <table class="table">
                                                            <tr>
                                                                <td>
                                                                    <a data-featherlight="image" href="<?php echo ($value) ?>">
                                                                        <img src="<?php echo ($value) ?>" alt="" class="img-rounded" style="pading:10" width="140" height="140">
                                                                    </a>
                                                                </td>
                                                            </tr>
                                                            <tr>
                                                                <td style="text-align: center">
                                                                    <button class="btn btn-danger del" rel="<?php echo $key ?>">Delete</button>
                                                                    <input type="hidden" name="picture_training_haved[]" value="<?php echo $key ?>"/>
                                                                </td>
                                                            </tr>
                                                        </table>

                                                    </div>
                                                <?php endif;?>
                                        <?php endforeach;?>
                                <?php endif;?>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
    <div class="row-fluid">
        <div class="span10">
            <button class="btn btn-primary">Submit</button>
            <input type="hidden" name="id" value="<?php echo (isset($this->info_training_report) and ($this->info_training_report['id'])) ? $this->info_training_report['id']: ''?>"/>
            <a href="<?php echo (isset($this->back_url) and ($this->back_url)) ? ($this->back_url):'/training/list-training-report'?>" class="btn btn-danger">Go Back</a>
        </div>
    </div>
</form>

<script type="text/javascript" src="/js/jquery-ui-1.8.12.custom.min.js"></script>
<link rel="stylesheet" type="text/css" href="/css/jquery-ui-1.8.12.custom.css"/>
<script src="/js/jquery.ui.timepicker.js" type="text/javascript"></script>
<link type="text/css" rel="stylesheet" href="/css/featherlight.css" title="Featherlight Styles" />
<link type="text/css" rel="stylesheet" href="/css/featherlight.gallery.css" title="Featherlight Styles" />
<script src="/js/featherlight.js" type="text/javascript" charset="utf-8"></script>
<script src="/js/jquery.blockUI.js" type="text/javascript"></script>
<style type="text/css">
    @media all {
        .lightbox { display: none; }
        .fl-page h1,
        .fl-page h3,
        .fl-page h4 {
            font-family: 'HelveticaNeue-UltraLight', 'Helvetica Neue UltraLight', 'Helvetica Neue', Arial, Helvetica, sans-serif;
            font-weight: 100;
            letter-spacing: 1px;
        }
        .fl-page h1 { font-size: 110px; margin-bottom: 0.5em; }
        .fl-page h1 i { font-style: normal; color: #ddd; }
        .fl-page h1 span { font-size: 30px; color: #333;}
        .fl-page h3 { text-align: right; }
        .fl-page h3 { font-size: 15px; }
        .fl-page h4 { font-size: 2em; }
        .fl-page .jumbotron { margin-top: 2em; }
        .fl-page .btn-download { float: right; margin-top: -40px; }
        .fl-page .btn-default { vertical-align: bottom; }

        .fl-page .row { margin-top: 2em;}

        .fl-page .btn-lg span { font-size: 0.7em; }
        .fl-page .footer { margin-top: 3em; color: #aaa; font-size: 0.9em;}
        .fl-page .footer a { color: #999; text-decoration: none; margin-right: 0.75em;}
        .fl-page .github { margin: 2em 0; }
        .fl-page .github a { vertical-align: top; }

        /* customized gallery */

        .featherlight-gallery2 {
            background: rgba(100,100,100,0.5);
        }
        .featherlight-gallery2 .featherlight-content {
            background: #000;
        }
        .featherlight-gallery2 .featherlight-next:hover,
        .featherlight-gallery2 .featherlight-previous:hover {
            background: rgba(0,0,0,0.5);
        }
        .featherlight-gallery2 .featherlight-next:hover span,
        .featherlight-gallery2 .featherlight-previous:hover span {
            font-size: 25px;
            line-height: 25px;
            margin-top: -12.5px;
            color: #fff;
        }
        .featherlight-gallery2  .featherlight-close {
            background: transparent;
            color: #fff;
            font-size: 1.2em;
        }

        /* text slide */
        .thumbnail a { text-decoration: none; }
        .blurb {
            display: inline-block;
            width: 150px;
            height: 150px;
        }
        .blurb h2 { text-align: center;}
        .blurb .detail { display: none;}
        .blurb .teaser {
            font-style: italic;
            text-align: center;
        }
        .featherlight .blurb {
            display: inline-block;
            width: 500px;
            height: 300px;
            color: #99f;
        }
        .featherlight .blurb .detail {
            color: #ddf;
            font-size: large;
            display: inherit;
        }
        .featherlight .blurb .teaser { display: none;}

    }
    @media(max-width: 768px){
        .fl-page h1 span { display: block; }
        .fl-page .btn-download { float: none; margin-bottom: 1em; }
    }
</style>
<script>
$(document).ready(function(){
    $('.date' ).datepicker({ dateFormat: "yy-mm-dd" });
    getShop();
    addPictureListPG();
    addPictureTraining();
    minusPicture();
    delPicture();
    initSearchOption('dealer','search_dealer');
    typeTrainingReport();
    getProvince();
    init();
    autoMinus();
});
function init()
{
    initWaiting();
    var type = '<?php echo (isset($this->info_training_report['type']) and $this->info_training_report['type'] ) ? $this->info_training_report['type']:null ?>';
    initType(type);
    initRequired(type);
    unblockUI();
}
function getShop()
{
    $('#dealer').change(function(){
       var dealer_id =  $('#dealer').val();
        $.ajax
        ({
            url : '/trainer/get-shop',
            type : 'POST',
            data : {'dealer_id':dealer_id},
            dataType: 'json',
            success : function(result)
            {
                $('#store').find('option:not(:first)').remove();
                $.each(result, function (i, item) {
                    $('#store').append('<option value="'+i+'">'+item+'</option>');
                });
            },
            error: function()
            {
                alert("Not Found !!!");
            }

        });
    });
}
function getProvince()
{
    $('#area').change(function(){
        var area =  $('#area').val();
        var staff_id =  '<?php echo (isset($this->staff_id) ? $this->staff_id :null)?>';
        initWaiting();
        $.ajax
        ({
            url : '/trainer/get-province',
            type : 'POST',
            data : {'staff_id':staff_id,'area':area},
            dataType: 'json',
            success : function(result)
            {
                $('#province').find('option:not(:first)').remove();
                $.each(result, function (i, item) {
                    $('#province').append('<option value="'+i+'">'+item+'</option>');
                });
                unblockUI();
            },
            error: function()
            {
                alert("Not Found !!!");
                unblockUI();
            }

        });
    });
}
function addPictureTraining()
{
    $('#add_picture_training').click(function(){
        var row = '<tr><td><input type="file" name="picture_training[]" value=""/></td><td><input type="button" class="btn btn-danger minus" value="-"/></td></tr>';
        $('#table_picture_training').append(row);
        minusPicture();
    });
}
function addPictureListPG()
{
    $('#add_picture_list_pg').click(function(){
        var row = '<tr><td><input type="file" name="picture_list_pg[]" value=""/></td><td><input type="button" class="btn btn-danger minus" value="-"/></td></tr>';
        $('#table_picture_pg_list').append(row);
        minusPicture();
    });
}
function minusPicture()
{
    $('.minus').click(function(){

        $(this).parent().parent().remove();
    });
}
function delPicture()
{
    $('.del').click(function(){
        var id = $(this).attr('rel');
        $('#'+id).remove();
    });
}

function typeTrainingReport()
{
    $('#type').change(function(){
       var type =  $('#type').val();
       initType(type);
       initRequired(type);
    });
}
function initWaiting()
{
    $.blockUI({ css: {
        border: 'none',
        padding: '15px',
        backgroundColor: '#000',
        '-webkit-border-radius': '10px',
        '-moz-border-radius': '10px',
        opacity: .5,
        color: '#fff'
    } });
}
function unblockUI()
{
    $.unblockUI();
}
function initType(type)
{
    var type_internally = '<?php echo TRAINING_REPORT_INTERNALLY?>';
    var type_partner    = '<?php echo TRAINING_REPORT_PARTNERS?>';
    var type_new_staff  = '<?php echo TRAINING_REPORT_NEW_STAFF?>';

    if(type == type_internally)
    {
        $('#partners').show();
        $('#new_staff').hide();
        $('#internally').show();
        $('#date').show();
        $('#quantity_trainees').show();
    }
    else if(type == type_partner)
    {
        $('#partners').show();
        $('#new_staff').hide();
        $('#date').show();
        $('#quantity_trainees').show();
        $("#internally").show();
    }
    else if(type == type_new_staff)
    {
        $('#partners').hide();
        $('#new_staff').show();
        $('#internally').hide();
        $('#date').hide();
        $('#quantity_trainees').hide();
    }
    else
    {
        $('#partners').hide();
        $('#new_staff').hide();
        $('#internally').hide();
        $('#date').hide();
        $('#quantity_trainees').hide();
    }
}
function initRequired(type)
{
    var type_internally = '<?php echo TRAINING_REPORT_INTERNALLY?>';
    var type_partner    = '<?php echo TRAINING_REPORT_PARTNERS?>';
    var type_new_staff  = '<?php echo TRAINING_REPORT_NEW_STAFF?>';

    if(type == type_internally)
    {
        $('#_date').attr("required", "true");
        $('#dealer').removeAttr('required');
        $('#store').removeAttr('required');
        $('#area').attr('required','true');
        $('#province').attr('required','true');
        $('#from_date').removeAttr('required');
        $('#to_date').removeAttr('required');
        $('#quantity_participant').removeAttr('required');
        $('#quantity_disqualified').removeAttr('required');
        $('#quantity_remain').removeAttr('required');
        $('#_quantity_trainees').attr('required','true');
    }
    else if(type == type_partner)
    {
        $('#_date').attr('required','true');
        $('#dealer').attr('required','true');
        $('#area').removeAttr('required');
        $('#area').attr('required','true');
        $('#province').removeAttr('required');
        $('#from_date').removeAttr('required');
        $('#to_date').removeAttr('required');
        $('#quantity_participant').removeAttr('required');
        $('#quantity_disqualified').removeAttr('required');
        $('#quantity_remain').removeAttr('required');
        $('#_quantity_trainees').attr('required','true');
    }
    else if(type == type_new_staff)
    {
        $('#_date').removeAttr('required');
        $('#dealer').removeAttr('required');
        $('#store').removeAttr('required');
        $('#area').removeAttr('required');

        $('#province').removeAttr('required');
        $('#from_date').attr('required','true');
        $('#to_date').attr('required','true');
        $('#quantity_participant').attr('required','true');
        $('#quantity_disqualified').attr('required','true');
        $('#quantity_remain').attr('required','true');
        $('#_quantity_trainees').removeAttr('required');
    }

}
function autoMinus()
{
    $('#quantity_disqualified').change(function(){
        var value_quantity_participant = $('#quantity_participant').val();
        var value_quantity_disqualified = $('#quantity_disqualified').val();
        if(value_quantity_disqualified > value_quantity_participant)
        {
            alert('Quantity Disqualified > Quantity Participant');
        }
        else
        {
            var remain = value_quantity_participant - value_quantity_disqualified;
            $('#quantity_remain').val(remain);
        }

    });

}
</script>
