<style>
    .modal{
        width: 700px;
        left: 45%;
    }
    .modal .input_title{
        width: 50px;
        display: inline-block;

    }
</style>
<div class="page-header">
    <div>
        <h3>MANAGE TYPE ASSET TRAINER</h3>
    </div>
</div>

<?php
if (isset($this->messages) and $this->messages)
    foreach ($this->messages as $message):
        echo '<div class="alert alert-success">'.$message.'</div>';
    endforeach;

if (isset($this->messages_error) and $this->messages_error)
    foreach ($this->messages_error as $messages_error):
        echo '<div class="alert alert-danger">'.$messages_error.'</div>';
    endforeach;

$arr_type = unserialize(CATEGORY_ASSET_TRAINER);    

?>
<div class="row-fluid page-header">
    <!-- Trigger the modal with a button -->
    <a class="btn btn-info btn-lg pull-right" id="createAsset" href="/trainer/create-type-asset">Create New</a>
<!--    <button type="button" class="btn btn-info btn-lg pull-right" id="createAsset">Create New</button>-->
</div>

<div class="row-fluid">
    <div class="span12">
        <div class="accordion" id="accordion2">
            <div class="accordion-group">
                <div class="accordion-heading">
                    <a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion2" href="#collapseTwo">
                        Search
                    </a>
                </div>
                <div id="collapseTwo" class="accordion-body collapse" style="height:0px;">
                    <div class="accordion-inner">
                        <form class="form-search form-horizontal" method="get">
                            <div class="row">
                                <div class="span5">
                                    <div class="control-group">
                                        <label for="name" class="span2">Name</label>
                                        <input id="name" name="name" type="text" class="input-medium search-query form-control" value="<?php echo ((isset($this->params['name']) and $this->params['name'])? $this->params['name']:'')?>">
                                    </div>

                                    <div class="control-group">
                                        <label for="type" class="span2">Type</label>
                                        <select name="type" id="">
                                            <option value="">---</option>
                                            <?php 
                                                foreach($arr_type as $k => $v):
                                            ?>
                                                <option value="<?php echo $k;?>" <?php if(isset($this->params['type']) AND $this->params['type'] == $k) echo 'selected'; ?>><?php echo $v;?></option>
                                            <?php 
                                                endforeach;
                                            ?>
                                        </select>
                                    </div>
                                </div>
                                <button type="submit" class="btn btn-primary" style="height: 30px">Search</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <table class="table table-bordered">
            <thead>
                <tr>
                    <th>#</th>
                    <th>Name</th>
                    <th>Type</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody>
                <?php $count =  0; if($this->assets)
                foreach($this->assets as $key => $value):
                ?>
                    <tr>
                        <td><?php echo $count = $count + 1 ; ?></td>
                        <td>
                            <?php echo (isset($value['name']) and $value['name']) ? $value['name']:'';?>
                            <input type="hidden" value="<?php echo (isset($value['name']) and $value['name']) ? $value['name']:'';?>" id="name_<?php echo (isset($value['id']) and $value['id']) ? $value['id']:null;?>"/>
                        </td>
                        <td>
                            <?php

                                if(isset($arr_type[$value['type']])){
                                    echo $arr_type[$value['type']];
                                }else{
                                    echo 'undefined';
                                }
                             ?>
                        </td>
                        <td>
                            <div class="btn-group">
                                <a class="btn dropdown-toggle" data-toggle="dropdown" href="#">
                                    Action
                                    <span class="caret"></span>
                                </a>

                                <ul class="dropdown-menu">
                                    <?php if ($this->access('trainer', 'save-asset')):?>
                                    <li>
                                        <a title="Edit" class="edit" rel="" href='<?php echo "/trainer/create-type-asset?id=".$value['id'];?>' data-type="<?php echo (isset($value['type']) and $value['type']) ? $value['type']:'';?>">Edit</a>
                                    </li>
                                    <?php endif;?>
                                    <?php if ($this->access('trainer', 'del-asset')):?>
                                    <li>
                                        <a  class="confirmLink" href='/trainer/del-asset?id=<?php echo (isset($value['id']) and $value['id']) ? $value['id']:'';?>'>Delete</a>
                                    </li>
                                    <?php endif;?>
                                </ul>
                            </div>
                        </td>
                    </tr>
                <?php endforeach;?>
            </tbody>
        </table>
    </div>
</div>

<div class="paging">
    <?php echo $this->paging($this->total, $this->limit, $this->offset, $this->url);?>
</div>
<!-- Modal Create New -->
<div id="myModal" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Create New Asset</h4>
            </div>
            <div class="modal-body">
                <form action="/trainer/save-asset" method="post">
                    <div class="row-fluid">
                        <div class="span5">
                            <div class="form-group">
                                <span class='input_title'>Type</span>
                                <select name="type" id="type" class="form-control">
                                    <?php 
                                        $arr_type = unserialize(CATEGORY_ASSET_TRAINER);
                                        foreach($arr_type as $k => $v):
                                    ?>
                                        <option value="<?php echo $k;?>"><?php echo $v;?></option>
                                    <?php 
                                        endforeach;
                                    ?>
                                </select>
                            </div>  
                        </div>
                    </div>

                    <div class="row-fluid">
                        <div class="span5">
                            <div class="phone">
                                <div class="form-group">
                                    <span class='input_title'>Product</span>
                                    <select name="good_id" class="form-control" id="good_id">
                                        <?php 
                                            foreach($this->goods as $k => $v):
                                        ?>
                                            <option value="<?php echo $k;?>"><?php echo $v; ?></option>
                                        <?php 
                                            endforeach;
                                        ?>
                                    </select>
                                </div>

                                <div class="form-group">
                                    <span class='input_title'>Color</span>
                                    <select name="color_id" id="color_id" class="form-control">
                                        <option value="">---</option>
                                    </select>
                                </div>
                            </div><!-- End phone -->


                            <div class="form-group">
                                <span class='input_title'>Name</span>
                                <input type="text" name="asset" id="asset" value="" class="form-control"/>
                            </div>

                        </div>
                    </div>

                    <div class="row-fluid">
                        <div class="span2">
                            <input type="hidden" name="id" value="" id="asset_id"/>
                            <input type="submit" class="btn btn-primary" value="OK" />    
                        </div>
                    </div>

                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>

    </div>
</div>

<!-- Modal Edit -->
<div id="myModalEdit" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Edit Asset</h4>
            </div>
            <div class="modal-body">
                <form action="/trainer/save-asset" method="post">
                    <div class="row-fluid form-inline">
                        <div class="span5">
                            <span style="margin-right: 5px;">Name</span>
                            <input type="text" name="asset" value="" id="modal_edit" required />
                        </div>

                        <div class="span5">
                            <div class="form-group">
                                <span style="margin-right: 5px;">Type</span>
                                <select name="type" id="type_edit" required>
                                    <option value="">---</option>
                                    <?php 
                                        $arr_type = unserialize(CATEGORY_ASSET_TRAINER);
                                        foreach($arr_type as $k => $v):
                                    ?>
                                        <option value="<?php echo $k;?>"><?php echo $v;?></option>
                                    <?php 
                                        endforeach;
                                    ?>
                                </select>
                            </div>  
                        </div>

                        <div class="span2">
                            <input type="hidden" name="id" value="" id="modal_id"/>
                            <input type="submit" class="btn btn-primary" value="OK" />    
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>

    </div>
</div>

<script type="text/javascript" src="/js/jquery-ui-1.8.12.custom.min.js"></script>
<link rel="stylesheet" type="text/css" href="/css/jquery-ui-1.8.12.custom.css"/>
<?php echo $this->confirm();?>

<script>
    $(document).ready(function () {
        //edit();
        //createAsset();
        //getColor();
        //changeType();
        //initType();
        //changeColor();
        //edit2();
    });

    function edit()
    {
        $('.edit').click(function(){
            var id = $(this).attr('rel');
            // lay cai ten
            var name = $('#name_'+id).val();
            var type = $(this).attr('data-type');
            // dưa vào Modal
            $('#modal_edit').val(name);
            $('#type_edit').val(type);
            $('#modal_id').val(id);
            $('#myModalEdit').modal();

        });
    }

    function initType(){
        $('.phone').show();
        $('.stationery').hide();
        $('#good_id').trigger('change');
    }

    function changeType(){
        $('#type').change(function(){
            var type = $(this).val();
            if(type == 1){
                $('.phone').show();
                $('.stationery').hide();
            }else{
                $('.phone').hide();
                $('.stationery').show();
            }
        });
    }

    function getColor(){

        $("#good_id").change(function(){
            var good_id = $(this).val();
            $("#asset").val('');
            $.ajax({
                url: '/ajax/get-color',
                type: 'get',
                data: {'good_id':good_id},
                success:function(data){
                    $('#color_id option:not(:first)').remove();
                    $.each(data,function(k,v){
                        var str = '<option value="'+ v.id +'">'+ v.name+'</option>';
                        $('#color_id').append(str);
                    });


                },
                error:function(){
                    alert('load data fail');
                }
            });


        })
    }

    function changeColor(){
        $('#color_id').change(function(){
            var str = $('#good_id option:selected').html();
            str += ' - ' + $('#color_id option:selected').html();
            $('#asset').val(str);
        })
    }

    function edit2(){
        resetModal();
        $('.edit').click(function(){
            var id = $(this).attr('rel');
            $.ajax({
                url: '/ajax/get-trainer-type-asset',
                type: 'get',
                data: {'id':id},
                success:function(data){
                    if(data){
                        $("#asset_id").val(data.row.id);
                        $("#type").val(data.row.type);
                        if(data.row.type == 1){
                            $("#good_id").val(data.row.good_id);
                            $("#color_id option:not(:first)").remove();
                            $.each(data.colors,function(k,v){
                                var str = '<option value="'+ v.id +'">'+ v.name+'</option>';
                                $('#color_id').append(str);
                            });
                            $("#color_id").val(data.row.color_id);
                        }else{

                        }

                        $("#asset").val(data.row.name);
                        $('#myModal').modal('show');
                    }else{
                        alert('error');
                    }

                },
                error:function(){
                    alert('error');
                }
            });
        });
    }

    function resetModal(){
        $("#asset_id").val('');
        $('#type').val('');
        $('#good_id').val('');
        $('#color_id').val('');
        $('#asset').val('');
    }

    function createAsset(){
        $("#createAsset").click(function(){
            resetModal();
            $('#myModal').modal('show');
        })

    }

</script>