<form action="<?php echo HOST ?>purchasing/time-list" class="form-horizontal form-search" method="get">
    <div class="row">
        <div class="control-group">
            <label for="name" class="span2">Search theo tên: </label>                               
            <input name="name" type="text" class="input-medium search-query form-control" 
                   value="<?php                                       
                    if (isset($this->params['name'])) {
                         echo $this->params['name'];  }
                    ?>">
        </div>
        <div class="control-group">
            <label for="hide" class="span2">Chưa đánh giá: </label>
            <input name="status" id="hide" type="checkbox" value="1" class="input-medium search-query form-control" 
                   value="<?php if (isset($this->params['status'])) {echo $this->params['status'];}?>">               
        </div>
        <div class="span5">
        </div>
    </div>
    <button type="submit" class="btn btn-primary">Search</button>
    <button type="reset" class="btn btn-warning">Reset</button>
</form>
