<form class="form-search form-horizontal" method="get" action="/purchasing/create-order">
    <div class="row">
        <div class="span5">
            <div class="control-group">
                <label for="sn" class="span1">Supplier</label>
                <select name='supplier_id' class="supplier_id span3">
                    <option value="">--Select--</option>
                    <?php foreach($this->supplier as $key=>$value):?>
                    <option value="<?php echo $key;?>" <?php echo (isset($this->params['supplier_id']) and $this->params['supplier_id'] == $key) ? 'selected' : NULL;?>><?php echo $value;?></option>
                    <?php endforeach;?>
                </select>
            </div>
            
            <div class="control-group">
                <label for="" class="span1">Department</label>
                <select id="department_id" name="department_id" class="span3 "  >
                    <option value="">--Select--</option>
                     <?php foreach($this->department as $key=>$value):?>
                    <option value="<?php echo $key;?>" <?php echo (isset($this->params['department_id']) and $this->params['department_id'] == $key) ? "selected" : NULL;?>><?php echo $value;?></option>
                    <?php endforeach;?>
                </select>                
            </div>
            
            <div class="control-group">
                <label for="" class="span1">Area</label>
                <select id="area_id" name="area_id[]" class="span3 multiselect" multiple="multiple">
                    <option value="">--Select--</option>
                     <?php foreach($this->areas as $key=>$value):?>
                    <option value="<?php echo $key;?>" <?php echo (isset($this->params['area_id']) and ( (is_array($this->params['area_id']) && in_array($key, $this->params['area_id']) || $key==$this->params['area_id'])) ) ? "selected" : NULL;?>><?php echo $value;?></option>
                    <?php endforeach;?>
                </select>                
            </div>
            
            

        </div>

        
        <div class="span5">
            <div class="control-group">
                <label for="created_at_from" class="span2">Urgent From</label>
                <input id="created_at_from" name="created_at_from" type="text" class="input-medium search-query form-control date" value="<?php if (isset($this->params['created_at_from'])) echo $this->params['created_at_from'];?>">
            </div>

            <div class="control-group">
                <label for="created_at_to" class="span2">Urgent To</label>
                <input id="created_at_to" name="created_at_to" type="text" class="input-medium search-query form-control date" value="<?php if (isset($this->params['created_at_to']))echo $this->params['created_at_to']; ?>">
            </div>


        </div>

    </div>

    <button type="submit" class="btn btn-primary">Search</button>
    <a href="/purchasing/create-order"><input id ="reset" type="button" value="Reset"class="btn btn-warning" ></a>

</form>

<style type="text/css">
    .select2-search__field{height: 30px}
</style>
<link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.3/css/select2.min.css">
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.3/js/select2.min.js"></script>
<script type="text/javascript" src="/js/jquery-ui-1.8.12.custom.min.js"></script>
<link rel="stylesheet" type="text/css" href="/css/jquery-ui-1.8.12.custom.css"/>
<script type="text/javascript" src="<?php echo HOST ?>js/bootstrap-multiselect.js"></script>
<link rel="stylesheet" href="<?php echo HOST ?>css/bootstrap-multiselect.css" type="text/css"/>

<script>

    $(document).ready(function(){
        $(".supplier_id").select2();
    });

</script>
<script>
    options = {
            selectAllText: 'Select All',
            includeSelectAllOption: true,
            includeSelectAllIfMoreThan: 3,
            disableIfEmpty: true
        };
        
    $(document).ready(function () {
        $('.form-search button:reset').click(function (e){
            $('.form-search input, .form-search select').val('');
            $('.form-search').submit();
            return false;
        });

        multi();
    });

    function multi() {
        $('.multiselect').multiselect(options);
    }
</script>