<style type="text/css">
    .kpi .total td {
        background-color: #D4FFD6 !important;
    }

    .label {
        font-weight: normal;
    }
    #table_id thead tr{
        border: 1px solid #ddd;
        background: -webkit-linear-gradient(top, #FAFAFA 0%,#E9E9E9 100%);
    }
    #table_id thead tr th, #table_id thead tr td{
        border-bottom: 0px solid #dddddd;
    }



    #table_id tbody tr{
        background: none;

    }
    #table_id_length select, #table_id_filter input{
        display: inline-block;
    }

    table.dataTable.no-footer {
        border-bottom: 1px solid #ddd!important;
    }
</style>

<div class="row">
    <div class="span12">
        <p class="pull-right">Chú thích: <span class="label label-success">% tăng</span> <span class="label label-important">% giảm</span> so với tháng liền trước</p>
    </div>
</div>
<table id="table_id" class="table table-bordered">
<thead>
    <tr>
        <th>#</th>
        <th>Name</th>
        <th>Title</th>
        <th>Area</th>
        <th>Province</th>
        <?php foreach ($this->title_list as $_year => $_months): ?>
            <?php foreach ($_months as $_month => $value): ?>
                <th><?php echo $_month . '/' . $_year ?></th>
            <?php endforeach ?>
        <?php endforeach ?>
    </tr>
</thead>
<tbody>
    <?php
    if (isset($this->sellout) and is_array($this->sellout))
        $inc = $this->offset + 1;
        foreach ($this->sellout as $_staff_id =>$sale): 
        $_tmp_staff = isset($this->staff_cache[$_staff_id]) ? $this->staff_cache[$_staff_id] : false;
        if (!$_tmp_staff) continue;
    ?>
    <tr>
        <?php 
            $link = null;
            if(in_array($_tmp_staff['title'], array(SALES_TITLE, PB_SALES_TITLE, SALES_TRAINEE_TITLE))){
                if($this->access('bi', 'sale-details')){
                    $link = HOST."bi/sale-details?id=".$_staff_id;
                }
            }
            elseif(in_array($_tmp_staff['title'], array(PGPB_TITLE,CHUYEN_VIEN_BAN_HANG_TITLE))){
                if($this->access('bi', 'pg-details')){
                    $link = HOST."bi/pg-details?id=".$_staff_id;    
                }
            }
            elseif(in_array($_tmp_staff['title'], array(LEADER_TITLE))){
                if($this->access('bi', 'leader-details')){
                    $link = HOST."bi/leader-details?id=".$_staff_id;      
                }
            }
        ?>

        <td><?php echo $inc++; ?></td>
        <td>
            <span data-original-title="<?php echo $_tmp_staff['phone_number'];?>" data-toggle="tooltip" class="phone_tooltip">
                <a href="#wrap_more_info" class='show_store' data-id="<?php echo $_staff_id;?>"><?php echo $_tmp_staff['name'];?></a></span>

            <?php if(!is_null($link)):?>
                <a href="<?php echo $link;?>" class="label label-info" style="float:right"><i class="icon-hand-right"></i></a>
            <?php endif;?>

        </td>
        <td><?php if (isset($this->teams[$_tmp_staff['title']])) echo $this->teams[$_tmp_staff['title']] ;?></td>
        <td><?php if(isset($this->areas[ $this->provinces[ $_tmp_staff['regional_market'] ]['area_id'] ])) echo $this->areas[ $this->provinces[ $_tmp_staff['regional_market'] ]['area_id'] ] ;?></td>
        <td><?php if(isset($this->provinces[ $_tmp_staff['regional_market'] ]['name'])) echo $this->provinces[ $_tmp_staff['regional_market'] ]['name'] ;?></td>
        <?php foreach ($this->title_list as $_year => $_months): ?>
        <?php foreach ($_months as $_month => $value): ?>
            <td>
                <?php
                    if(isset($sale[$_year][$_month]['quantity']) && $sale[$_year][$_month]['quantity']) {
                        $this_quantity = $sale[$_year][$_month]['quantity'];
                    } else {
                        $this_quantity = 0;
                    }
                ?>
                <span class='label show_model'
                      data-from="<?php if(isset($this->params['from']) and $this->params['from']) echo $this->params['from']; ?>"
                      data-to="<?php if(isset($this->params['to']) and $this->params['to']) echo $this->params['to']; ?>"
                      data-id="<?php echo $_staff_id;?>" >
                     <?php echo $this_quantity; ?>
                 </span>

                <?php if (isset($last_quantity)): ?>
                    <?php
                        if ($last_quantity <> 0)
                            $rate = round(($this_quantity - $last_quantity)*100/$last_quantity);
                        elseif ($this_quantity <> 0) $rate = 100;
                        else $rate = 0;
                    ?>
                    <span class="label <?php if ($rate > 0) echo 'label-success'; elseif ($rate < 0) echo 'label-important'; else echo 'label-default' ?> pull-right">
                        <?php echo abs($rate); ?>
                    </span>
                <?php endif ?>
                <?php $last_quantity = $this_quantity; ?>
            </td>
        <?php endforeach ?>
        <?php unset($last_quantity) ?>
        <?php endforeach ?>
    </tr>
    <?php endforeach;?>

</tbody>
</table>

<div id="wrap_more_info">

</div>

<script src="/public/js/jquery.blockUI.js"></script>
<link rel="stylesheet" type="text/css" href="//cdn.datatables.net/1.10.11/css/jquery.dataTables.css">
<script type="text/javascript" charset="utf8" src="//cdn.datatables.net/1.10.11/js/jquery.dataTables.js"></script>
<script>

    $(document).ready(function(){
        show_store();
        show_model();
        $('#table_id').DataTable( {
        });

    });

    $(document).ajaxStart($.blockUI).ajaxStop($.unblockUI);

    function show_store(){
        $(document).on('click', '.show_store', function () {
            $('#wrap_more_info').html('');
            var staff_id = $(this).attr('data-id');
            if(staff_id){
                $.ajax({
                    url: '/ajax/show-store-by-staff',
                    type: 'get',
                    data: {'staff_id':staff_id},
                    success: function(data){
                        $('#wrap_more_info').html(data);
                    },
                    error: function(){
                        alert('load data failed');
                    }
                });
            }
        });
    }

    function show_model(){
        $(document).on('click', '.show_model', function () {
            $('#wrap_more_info').html('');
            var staff_id = $(this).attr('data-id');
            var from = $(this).attr('data-from');
            var to = $(this).attr('data-to');
            if(staff_id){
                $.ajax({
                    url: '/timing/show-model',
                    type: 'get',
                    data: {'staff_id':staff_id,'from':from,'to':to},
                    success: function(data){
                        $('#wrap_more_info').html(data);
                    },
                    error: function(){
                        alert('load data failed');
                    }
                });
            }
        });
    }
</script>