<style type="text/css">
    .kpi .total td {
        background-color: #D4FFD6 !important;
    }
</style>
<?php if (isset($this->sellout) && $this->sellout):
    $total_kpi = 0;
?>
    <?php foreach ($this->sellout as $_type => $sellout): ?>
        <?php $total = 0; $total_sellout = 0; ?>
        <table class="table table-striped table-bordered kpi">
            <caption><?php echo strtoupper($_type) ?></caption>
            <thead>
                <tr>
                    <th>#</th>
                    <th>Product</th>
                    <th>Sellout</th>
                    <!-- <th>Activated</th> -->
                    <th>KPI/máy</th>
                    <th>Thưởng KPI</th>
                    <!-- <th>Not Activated</th> -->
                </tr>
            </thead>
              <tbody>
                <?php $i = 0;
                    if(isset($sellout) and $sellout ) :
                            $length = count($sellout);
                        foreach($sellout as $k=>$v) :
                            //$i++;
                        ?>
                            <?php
                                if( isset($this->sellout_f1) and $v['good_id'] == 402 and date('Y-m-d',strtotime($v['from_date'])) == '2016-03-20' AND $v['quantity'] == $this->sellout_f1['total']) {
                                    $f1_none_active = intval($this->sellout_f1['total']) - intval($this->sellout_f1['total_active']);
                                    if(intval($this->sellout_f1['total_active']) > 0){
                            ?>
                                    <!-- truong hop active-->
                                    <tr>
                                    <td><?php echo ++$i; ?></td>
                                    <td><?php if(isset($this->goods[ $v['good_id'] ]))
                                            echo $this->goods[ $v['good_id'] ]
                                                . (isset($this->good_colors[ $v['color_id'] ]) ? (' / '.$this->good_colors[ $v['color_id'] ]) : '')
                                                . sprintf(" (%s-%s)", date('d', strtotime($v['from_date'])), date('d', strtotime($v['to_date']))) .' activated';  ?>
                                    </td>
                                    <td><?php if (isset($this->sellout_f1['total_active'])) echo $this->sellout_f1['total_active']; else echo '0'; $total_sellout += isset($this->sellout_f1['total_active']) ? $this->sellout_f1['total_active'] : 0; ?></td>
                                    <td><?php if (isset($this->sellout_f1['kpi_active'])) echo My_Number::f( $this->sellout_f1['kpi_active'] ); else echo '0';  ?></td>
                                    <td><?php if (isset($this->sellout_f1['kpi_active'])) {
                                            $_kpi = $this->sellout_f1['kpi_active'] * intval($this->sellout_f1['total_active']);
                                            echo My_Number::f( $_kpi );
                                            $total += $_kpi;
                                        } else echo '0';  ?></td>
                                    </tr>
                                    <?php } if( $f1_none_active > 0 ){?>
                                        <!-- truong hop active-->
                                        <tr>
                                            <td><?php echo ++$i; ?></td>
                                            <td><?php if(isset($this->goods[ $v['good_id'] ]))
                                                    echo $this->goods[ $v['good_id'] ]
                                                        . (isset($this->good_colors[ $v['color_id'] ]) ? (' / '.$this->good_colors[ $v['color_id'] ]) : '')
                                                        . sprintf(" (%s-%s)", date('d', strtotime($v['from_date'])), date('d', strtotime($v['to_date']))) .' not activated';  ?>
                                            </td>
                                            <td><?php if (isset($f1_none_active)) echo $f1_none_active; else echo '0'; $total_sellout += isset($f1_none_active) ? $f1_none_active : 0; ?></td>
                                            <td><?php if (isset($this->sellout_f1['kpi_normal'])) echo My_Number::f( $this->sellout_f1['kpi_normal'] ); else echo '0';  ?></td>
                                            <td><?php if (isset($this->sellout_f1['kpi_normal'])) {
                                                    $_kpi = $this->sellout_f1['kpi_normal'] * intval($f1_none_active);
                                                    echo My_Number::f( $_kpi );
                                                    $total += $_kpi;
                                                } else echo '0';  ?></td>
                                        </tr>
                                    <?php } ?>
                            <?php }else{?>
                            <tr>
                                <td><?php echo ++$i; ?></td>
                                <td><?php if(isset($this->goods[ $v['good_id'] ])) 
                                    echo $this->goods[ $v['good_id'] ]
                                    . (isset($this->good_colors[ $v['color_id'] ]) ? (' / '.$this->good_colors[ $v['color_id'] ]) : '')
                                    . sprintf(" (%s-%s)", date('d', strtotime($v['from_date'])), date('d', strtotime($v['to_date'])));  ?></td>
                                <td><?php if (isset($v['quantity'])) echo $v['quantity']; else echo '0'; $total_sellout += isset($v['quantity']) ? $v['quantity'] : 0; ?></td>
                                <!-- <td><?php // if (isset($v['activated'])) echo $v['activated']; else echo '0';  ?></td> -->
                                <td><?php if (isset($v['kpi_unit'])) echo My_Number::f( $v['kpi_unit'] ); else echo '0';  ?></td>
                                <td><?php if (isset($v['kpi'])) {
                                    echo My_Number::f( $v['kpi'] );
                                    $total += $v['kpi'];
                                } else echo '0';  ?></td>
                                <!-- <td><?php // if (isset($v['non_activated'])) echo $v['non_activated']; else echo '0'; ?></td> -->
                            </tr>
                            <?php }?>
                    <?php endforeach;  ?>
                <?php endif; ?>
                <tr class="total">
                    <td>#</td>
                    <td>Total</td>
                    <td><?php echo $total_sellout?></td>
                    <td>-</td>
                    <td><?php echo My_Number::f($total); $total_kpi += $total; ?></td>
                </tr>
           </tbody>
        </table>
    <?php endforeach ?>
    <div class="row">
        <div class="span12">
            <h3>Tổng KPI: <span class=""><?php echo My_Number::f($total_kpi) ?></span><h3>
            <hr />
        </div>
    </div>
<?php endif ?>
