<form class="form-search form-horizontal" method="get" action="/timing/analytics-area-final">
    <div class="row">
        <div class="span5">
         <div class="control-group">
                <label for="month" class="span2">Tháng</label>
                <select name="month">
                    <?php
                    for ($i = 1; $i < 17; $i++) {
                        ?>
                        <option value="<?php echo $i; ?>" <?php echo ($this->params['month'] == $i) ? ' selected ' : '' ?> >
                                <?php if($i <=12 )  {?>
                            Tháng <?php echo $i; ?>
                                <?php }else{ ?>
                             Quý <?php echo $i%13 +1; ?>
                                <?php } ?>
                        </option>
                        <?php
                        
                    }
                    ?>    
                </select> 
            </div>
        </div>
        <div class="span5">
            <div class="control-group">
                <label for="year" class="span2">Năm</label>
                <select name="year">
                    <?php
                    for ($i = 2018; $i <= 2020; $i++) {
                        ?>
                        <option value="<?php echo $i; ?>" <?php echo ($this->params['year'] == $i) ? ' selected ' : '' ?> >Năm <?php echo $i; ?></option>
                        <?php
                    }
                    ?>    
                </select>
            </div>
    </div>


    <button type="submit" class="btn btn-primary">Search</button>
    <button type="reset" class="btn btn-warning">Reset</button>
</form>
