<form class="form-search form-horizontal" method="get" action="/timing/report-leader">
    <div class="row">
        <div class="span5">
            <div class="control-group">
                <label for="area" class="span1">Area</label>
                <select <?php if ($this->isSales):?> disabled<?php endif;?> id="area_id" name="area" class="span2">
                    <option value="">Choose</option>
                    <?php
                    if ($this->areas) :
                        foreach ($this->areas as $id => $area):
                            ?>
                            <option value="<?php echo $id;?>" <?php if (isset($this->params['area']) and $this->params['area']==$id):?>selected<?php endif;?>><?php echo $area;?></option>
                        <?php
                        endforeach;
                    endif;
                    ?>
                </select>
            </div>
        </div>
        <div class="span6">
            
            <!-- <div class="form-inline span5"> -->
                <label class="span1">Choose</label>
                <select name="month">
                <?php
                for($i = 1; $i <= 12;$i++)
                {
                ?>
                    <option value="<?php echo $i; ?>" <?php echo ($this->params['month']==$i)?' selected ':'' ?> >Tháng <?php echo $i; ?></option>
                <?php
                }
                ?>    
                </select>
                <input type="number" name="year" value="<?php echo $this->params['year'] ?>" >
            <!-- </div> -->
        </div>
    </div>


    <button type="submit" class="btn btn-primary">Search</button>
    <button type="reset" class="btn btn-warning">Reset</button>

    <?php if ($this->access('sales-report', 'area')): ?>
        <!-- <button type="submit" name="export" value="1" formaction="<?php echo HOST ?>sales-report/leader" class="btn btn-info">Export</button> -->
        <button type="submit" name="export" value="1" formaction="<?php echo HOST ?>kpi-report/leader" class="btn btn-info">Export</button>
    <?php endif ?>
</form>
