<form class="form-search form-horizontal" method="get" action="/timing/analytics-area">
    <div class="row">
        <div class="span5">
            <div class="control-group">
                <label for="area_id" class="span2">Area</label>
                <select <?php if ($this->isSales):?> disabled<?php endif;?> id="area_id" name="area" class="span3">
                    <option value="">Choose</option>
                    <?php
                    if ($this->areas) :
                        foreach ($this->areas as $id => $area):
                            ?>
                            <option value="<?php echo $id;?>" <?php if (isset($this->params['area']) and $this->params['area']==$id):?>selected<?php endif;?>><?php echo $area;?></option>
                        <?php
                        endforeach;
                    endif;
                    ?>
                </select>
            </div>
        </div>
        <div class="span5">
            <div class="control-group">
                <label for="date" class="span2">From Date</label>
                <input type="text" class="form-control search-query date span2" id="from" name="from" value="<?php isset($this->params['from']) and printf($this->params['from']);?>">

            </div>
            <div class="control-group">
                <label for="date" class="span2">To Date</label>
                <input type="text" class="form-control search-query date span2" id="to" name="to" value="<?php isset($this->params['to']) and printf($this->params['to']);?>">
            </div>
        </div>
    </div>


    <button type="submit" class="btn btn-primary">Search</button>
    <button type="reset" class="btn btn-warning">Reset</button>

    <?php if ($this->access('sales-report', 'area')): ?>
        <button type="submit" name="export" value="1" formaction="<?php echo HOST ?>sales-report/area" class="btn btn-info">Export</button>
    <?php endif ?>

    <?php if ($this->access('sales-report', 'area')): ?>
    <button type="submit" name="dealer_id" value="2316" class="btn btn-primary">Export - TGDĐ</button>

    <?php endif ?>

    <?php if (in_array($this->userStorage->id ,[24125,5899])): ?>
    <!--  Id cua chi Sau HR Yadea va cua Tech  -->
        <button type="submit" name="export" value="1" formaction="<?php echo HOST ?>timing/asm-report-by-area" class="btn btn-info">Export ASM/SALE/PGS KPI</button>
    <?php endif ?>

</form>
