<form class="form-search form-horizontal" method="get" action="/timing/analytics-product">
    <div class="row">
        <div class="span5">
            <div class="control-group">
                <label for="name" class="span2">Name</label>
                <input id="name" name="name" type="text" class="input-medium search-query form-control span2" value="<?php isset($this->params['name']) and printf($this->params['name']);?>">
            </div>

            <div class="control-group">
                <label for="area_id" class="span2">Area</label>
                <select name="area[]" id="area_id" class="multiselect" multiple="multiple">
                    <?php if (isset($this->areas) && $this->areas): foreach ($this->areas as $id=>$name):?>
                        <option value="<?php echo $id;?>" 
                            <?php if (isset($this->params['area']) 
                                and (
                                     (is_array($this->params['area']) && in_array($id, $this->params['area']))
                                    || $id == $this->params['area']
                                ) ):?> 
                                    selected="selected"<?php endif;?>
                        ><?php echo $name;?></option>
                    <?php endforeach; endif;?>
                </select>
            </div>

            <div class="control-group">
                <label for="regional_market" class="span2">Province</label>
                <select name="province[]" id="regional_market" class="multiselect" multiple="multiple">
                    <?php if (isset($this->regional_markets) && $this->regional_markets): foreach ($this->regional_markets as $id=>$name):?>
                        <option value="<?php echo $id;?>" 
                            <?php if (isset($this->params['province']) 
                                and (
                                     (is_array($this->params['province']) && in_array($id, $this->params['province']))
                                    || $id == $this->params['province']
                                ) ):?> 
                                    selected="selected"<?php endif;?>
                        ><?php echo $name;?></option>
                    <?php endforeach; endif;?>
                </select>
            </div>

            <div class="control-group">
                <label for="district" class="span2">District</label>
                <select name="district[]" id="district" class="multiselect" multiple="multiple">
                    <?php if (isset($this->districts) && $this->districts): foreach ($this->districts as $id=>$name):?>
                        <option value="<?php echo $id;?>"
                            <?php if (isset($this->params['district']) 
                                and (
                                     (is_array($this->params['district']) && in_array($id, $this->params['district']))
                                    || $id == $this->params['district']
                                )  ):?> 
                                    selected="selected"<?php endif;?>
                        ><?php echo $name;?></option>
                    <?php endforeach; endif;?>
                </select>
            </div>

            <div class="control-group">
                <label for="store" class="span2">Store</label>
                <select id="store" name="store[]" class="span3 multiselect" multiple="multiple">
                    <?php
                    if ($this->stores) :
                        foreach ($this->stores as $store):?>
                            <option value="<?php echo $store->id;?>" <?php if (isset($this->params['store']) and ( (is_array($this->params['store']) && in_array($store['id'], $this->params['store']) || $store['id']==$this->params['store'])) ):?>selected<?php endif;?>><?php echo $store->name;?></option>
                        <?php
                        endforeach;
                    endif;
                    ?>
                </select>
            </div>
        </div>
        <div class="span5">
            <div class="control-group">
                <label for="date" class="span2">From Date</label>
                <input type="text" class="form-control search-query date span2" id="from" name="from" value="<?php isset($this->params['from']) and printf($this->params['from']);?>">

            </div>
            <div class="control-group">
                <label for="date" class="span2">To Date</label>
                <input type="text" class="form-control search-query date span2" id="to" name="to" value="<?php isset($this->params['to']) and printf($this->params['to']);?>">
            </div>

            <div class="control-group">
                <label for="sales_from" class="span2">Sales >=</label>
                <input type="number" min="0" value="<?php if (isset($this->params['sales_from'])) echo $this->params['sales_from'];?>" id="sales_from" name="sales_from" />
            </div>

            <div class="control-group">
                <label for="sales_to" class="span2">Sales <=</label>
                <input type="number" min="0" value="<?php if (isset($this->params['sales_to'])) echo $this->params['sales_to'];?>" id="sales_to" name="sales_to" />
            </div>
        </div>
    </div>
    <button type="submit" class="btn btn-primary">Search</button>

    <button type="reset" class="btn btn-warning">Reset</button>
    <button type="submit" class="btn btn-success" name="export" value="1">Export</button>

    <!-- <button type="submit" name="export" value="1" class="btn btn-info">Export</button> -->
</form>