<div class="modal-header">
  <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
  <h3 id="myModalLabel">Summary</h3>
</div>
<div class="modal-body">
  <ol>
    <?php if (  isset( $this->sales )): ?>
      <?php foreach ($this->sales as $key => $value): ?>
        <li>
          <strong><?php echo $value['product'] ?></strong> | <small><?php echo $value['time'] ?></small>
          <ul>
            <?php if( isset($value['imei']) && $value['imei'] ): ?><li><?php echo $value['imei'] ?><?php endif; ?></li>
            <?php if( isset($value['pg']) && $value['pg'] ): ?><li>PG/PG: <?php echo $value['pg'] ?><?php endif; ?></li>
            <?php if( isset($value['customer_name']) && $value['customer_name'] ): ?><li>CUSTOMER: <?php echo $value['customer_name'] ?><?php endif; ?></li>
            <?php if( isset($value['customer_phone']) && $value['customer_phone'] ): ?><li><?php echo $value['customer_phone'] ?><?php endif; ?></li>
            <?php if( isset($value['customer_address']) && $value['customer_address'] ): ?><li><?php echo $value['customer_address'] ?><?php endif; ?></li>
          </ul>
        </li>
      <?php endforeach ?>
    <?php endif ?>
  </ol>
</div>
<div class="modal-footer">
  <button class="btn" data-dismiss="modal" aria-hidden="true">Close</button>
</div>