<style type="text/css">
    /*.abc {
            width: 440px !important;
    margin-left: 30px !important;
    }*/

</style>
<form class="form-search form-horizontal" method="get" action="/manage/kpi-tgdd">
    <div class="row">
        <div class="span5">

            <div class="control-group">
                <label for="product" class="span2">Sản phẩm</label>
                <select class="product search-query span2" id="product" name="product">
                    <option value>-Tất cả-</option>
                    <?php foreach ($this->goods as $good) :?>
                        <option value="<?php echo $good->id;?>" <?php if (isset($this->params['product']) and $this->params['product']==$good->id):?>selected<?php endif;?> >
                            <?php echo $good->desc;?></option>
                    <?php endforeach;?>
                </select>
            </div>

            <div class="control-group">
                <label for="model" class="span2">Màu</label>
                <select class="model search-query span2" name="model" data-placeholder="Model">
                    <option value>-Tất cả-</option>
                    <?php
                    if ($this->colors) :
                        foreach ($this->colors as $color):
                            ?>
                            <option value="<?php echo $color['id'];?>" <?php if (isset($this->params['color']) and $this->params['color']==$color['id']):?>selected<?php endif;?>><?php echo $color['model'];?></option>
                        <?php
                        endforeach;
                    endif;
                    ?>

                </select>
            </div>
            
            <div class="control-group">
                <label class="span2" for="status">Trạng thái chấm số</label>
                <select class="status search-query span2" name="status" id="status">
                    <option value>-Tất cả-</option>
                    <option value ="1" <?php if(isset($this->params['status']) && $this->params['status'] == 1)
                                        echo "selected" ?>>Đã chấm số đủ</option>
                    <option value ="2" <?php if(isset($this->params['status']) && $this->params['status'] == 2)
                                        echo "selected" ?>>Chưa chấm số đủ</option>
                </select>
                
            </div>
            <div class="control-group">
                <label class="span2" for="shop_type">Loại shop</label>
                <select class="shop_type search-query span2" name="shop_type" id="shop_type">
                    <option value>-Tất cả-</option>
                    <option value ="1" <?php if(isset($this->params['shop_type']) && $this->params['shop_type'] == 1)
                                        echo "selected" ?>>Shop có PG</option>
                    <option value ="2" <?php if(isset($this->params['shop_type']) && $this->params['shop_type'] == 2)
                                        echo "selected" ?>>Shop không PG</option>
                </select>
                
            </div>
        </div>
        <div class="span6">
            <div class="control-group">
                <label for="area_id" class="span2">Khu vực</label>
                <select id="area_id" name="area_id" class="span3">
                    <option value="">-Tất cả-</option>
                    <?php
                    if ($this->areas) :
                        foreach ($this->areas as $area):
                            ?>
                            <option value="<?php echo $area->id;?>" <?php if (isset($this->params['area_id']) and $this->params['area_id']==$area->id):?>selected<?php endif;?>><?php echo $area->name;?></option>
                        <?php
                        endforeach;
                    endif;
                    ?>
                </select>
            </div>
            <div class="control-group">
                <label for="regional_market" class="span2">Tỉnh</label>
                <select id="regional_market" name="regional_market" class="span3">
                    <option value="">-Tất cả-</option>
                    <?php
                    if ($this->regional_markets) :
                        foreach ($this->regional_markets as $regional_market):?>
                            <option value="<?php echo $regional_market->id;?>" <?php if (isset($this->params['regional_market']) and $this->params['regional_market']==$regional_market->id):?>selected<?php endif;?>><?php echo $regional_market->name;?></option>
                        <?php
                        endforeach;
                    endif;
                    ?>
                </select>
            </div>
            <div class="control-group">
                <label for="from" class="span2">Từ ngày</label>
                <input type="text" class="form-control search-query date span2" id="from" name="from" value="<?php isset($this->params['from']) and printf($this->params['from']);?>">
            </div>
            <!-- <div class="control-group">
                <label for="district" class="span2">District</label>
                <select id="district" name="district" class="span3">
                    <option value="">Choose</option>
                    <?php
                    if ($this->districts) :
                        foreach ($this->districts as $regional_market):?>
                            <option value="<?php echo $regional_market->id;?>" <?php if (isset($this->params['district']) and $this->params['district']==$regional_market->id):?>selected<?php endif;?>><?php echo $regional_market->name;?></option>
                        <?php
                        endforeach;
                    endif;
                    ?>
                </select>
            </div> -->
            

            <div class="control-group">
                <label for="to" class="span2">Đến ngày</label>
                <input type="text" class="form-control search-query date span2" id="to" name="to" value="<?php isset($this->params['to']) and printf($this->params['to']);?>">
            </div>
            
        </div>
    </div>
    <div class="row">
        <div class="span5">
            <div class="control-group">
                <!-- <span class="block relative"> -->
                        <label for="s_name" class="b span2">Nhân viên</label>
                        <input type="text" class="span3  form-control"  id="s_name" placeholder="Nhập họ và tên NV" name="s_name" />
                        <label for="" class="span3"></label>

                        <select class="span5 abc" name="result_staff" id="result_staff" size="8" style="margin-left: 30px;">
                            <input type="hidden" name="staff_id" id="staff-id" value="">

                        </select>
                <!-- </span> -->
            </div>
        </div>
        <div class="span5">
            <div class="control-group">
                <!-- <span class="block relative"> -->
                        <label for="s_store" class="b span2" style="margin-left: 0px;">Store</label>
                        <input type="text" class="span3  form-control"  id="s_store" placeholder="Nhập tên store" name="s_store" />
                        <label for="" class="span3"></label>
                        <select class="span5 abc" name="result_store" id="result_store" size="8">
                            <input type="hidden" name="store_id" id="store-id" value="">
                                
                        </select>
                <!-- </span> -->
            </div>
        </div>
    </div>


    <br>
    <button type="submit" class="btn btn-primary">Search</button>
	<?php
	if ($this->show_export == 1) :
		?>
			<button type="submit" name="export" value="1" class="btn btn-success">Export</button>
			 <button type="submit" name="export_detail" value="1" class="btn btn-success">Export Detail</button>
		<?php
	endif;
	?>
    <br>
    <br>
    <div class="control-group">
        <label for="from" class="">Tháng: </label>
        <input autocomplete="off" class="span2" id="time" type="text" name="time" <?php echo $this->params['time'] ? $this->params['time'] : '' ?> >

        <button type="button" class="btn btn-danger" id="btn_locked_tgdd">Khóa báo số TGDĐ</button>
        <b id="alert_locked_tgdd" style="color: green; display :none">Đã khóa tháng này rồi</b>

    </div>
    
</form>
<script type="text/javascript" src="/js/jquery-ui-1.8.12.custom.min.js"></script>
<link rel="stylesheet" type="text/css" href="/css/jquery-ui-1.8.12.custom.css"/>

<script type="text/javascript" src="/js/bootstrap-datetimepicker.min.js"></script>
<link rel="stylesheet" type="text/css" href="/css/bootstrap-datetimepicker.min.css"/>
<script type="text/javascript" src="/js/sweetalert2.all.min.js"></script>

<script>
    $(document).ready(function () {
        $('#time').datetimepicker({
            weekStart: 1,
            clear: true,
            minView: 3,
            startView: 3,
            minViewMode: 3,
            autoclose: true,
            format: 'mm/yyyy'
        });

        // khóa báo số
        $('#btn_locked_tgdd').click(function () {
            var time = $('#time').val();
            var title = 'Bạn có muốn khóa báo số TGDĐ ' + time;

            Swal.fire({
                title: title,
                icon: 'warning',
                showCancelButton: true,
                confirmButtonColor: '#3085d6',
                cancelButtonColor: '#d33',
                confirmButtonText: 'Có',
                cancelButtonText: 'Không'
            }).then((result) => {
                if (result.value) {

                    Swal.fire({
                        title: 'Đang xử lý...',
                        allowOutsideClick: false,
                        onBeforeOpen: () => {
                            Swal.showLoading()
                        }
                    });

                    $.ajax({
                        url: '/timing/locked-tgdd',
                        type: 'post',
                        data: {
                            time: time
                        },
                        dataType: 'json',
                        success: function (data) {
                            if (data.status === 0) {
                                Swal.fire({
                                    type: 'success',
                                    title: 'Thành công',
                                    showConfirmButton: false,
                                    timer: 5000
                                });

                                setTimeout(function() {
                                    location.reload();
                                },700)
                            } else {
                                Swal.fire({
                                    type: 'warning',
                                    title: data.message,
                                    showConfirmButton: false,
                                    timer: 5000
                                });
                            }
                        }
                    });
                }
            })
        });
        // end khóa báo số

        $('#time').change(function () {
            var time = $('#time').val();
            $.ajax({
                url: '/timing/get-status-locked-tgdd',
                type: 'post',
                data: {
                    time: time
                },
                dataType: 'json',
                success: function (data) {
                    if (data.status === 0) {
                       if (data.has_locked_tgdd == 1) {
                           $('#alert_locked_tgdd').show();
                           $('#btn_locked_tgdd').hide();
                       }

                        if (data.has_locked_tgdd == 0) {
                            $('#alert_locked_tgdd').hide();
                            $('#btn_locked_tgdd').show();
                        }

                    } else {
                        Swal.fire({
                            type: 'warning',
                            title: data.message,
                            showConfirmButton: false,
                            timer: 5000
                        });
                    }
                }
            });
        });

        $( '.date' ).datepicker({ dateFormat: "dd/mm/yy" });

         var model_arr = $.parseJSON('<?php echo $this->good_colors; ?>');

        // $(function () { $("input,select,textarea").not("[type=submit]").jqBootstrapValidation(); } );


        $( '.product' ).change(function (){
            var _self = $(this);
            var product_id = $(this).val();
            if (product_id > 0) {
                var obj = model_arr[product_id];
                var next_model = _self.parent().next().children('.model');

                if (typeof next_model.attr('class') == 'undefined')
                    var next_model = _self.next();

                next_model.find('option:not(:first)').remove();
                for (var i = 0; i < obj.length; i++) {
                    next_model.append('<option value="'+obj[i]['id']+'">'+obj[i]['model']+'</option>');
                }
            }
        });
        
    });

    $('#result_staff').click(function(){
        var staff_id = $(this).val();
        
        $("#staff-id").val(staff_id);

    });

    $('#result_store').click(function(){
        var store_id = $(this).val();
        
        $("#store-id").val(store_id);

    });
    $("#s_name" ).keypress(function(e) {
        if (e.keyCode == 13) {
            var txt_staff = $(this).val();

            if(txt_staff.length >=3) 
            {
                $('form').on('submit',function(e){e.preventDefault();});
                $('form button, form input, form select').prop('disabled', true);

                $(this).after('<span class="loading"></span>');
                $.ajax({
                    url: "/manage-store-staff/staff",
                    type:"post",
                    data:{txt_staff:txt_staff},
                    dataType : "html",
                    success:function(data){
                        $("#result_staff").html(data); 
                        $('.loading').remove();
                    }
                });
                $('form').unbind('submit');
                $('form button, form input, form select').prop('disabled', false);
            }  

            return false;
        }
    });

    $('#s_store').keydown(function (e){
        if(e.keyCode == 13){
            var txt_store = $(this).val();
            if(txt_store.length >=3) 
            {   
                $('form').on('submit',function(e){e.preventDefault();});
                $('form button, form input, form select').prop('disabled', true);

                $(this).after('<span class="loading"></span>');
                $.ajax({
                    url: "/manage-store-staff",
                    type:"post",
                    data:{txt_store:txt_store},
                    dataType : "html",
                    success:function(data){
                        $("#result_store").html(data); 
                        $('.loading').remove();
                    }
                });
                $('form').unbind('submit');
                $('form button, form input, form select').prop('disabled', false);

            }
            return false;  
        }
    });
    $('#area_id').change(function(){
            $(this).after('<span class="loading"></span>');
            var _self = $(this);
            var area_id = $(this).val();
            $.get("<?php echo HOST ?>staff/load-province",
                {area_id: area_id}
                ,function(data,status){
                    var obj = $.parseJSON( data );
                    $('#regional_market').find('option:not(:first)').remove();
                    $('#district').find('option:not(:first)').remove();
                    $('#store').find('option:not(:first)').remove();
                    for (var i = 0; i < obj.length; i++) {
                        $('#regional_market').append('<option value="'+obj[i]['id']+'">'+obj[i]['name']+'</option>');
                    }
                    $('.loading').remove();
                });
        });

        $('#district').change(function(){
            $('.loading').remove();
            $(this).after('<span class="loading"></span>');
            var _self = $(this);
            var district = $(this).val();
            $.get("<?php echo HOST ?>staff/load-sales-team",
                {district: district}
                ,function(data,status){
                    var obj         = $.parseJSON( data );
                    var stores      = obj.stores;

                    $('#store').find('option:not(:first)').remove();
                    for (var i = 0; i < stores.length; i++) {
                        $('#store').append('<option value="'+stores[i]['id']+'">'+stores[i]['name']+'</option>');
                    }

                    $('.loading').remove();
                });
        });

        $('#regional_market').change(function(){
            $('form').bind('submit',function(e){e.preventDefault();});
            $('form button, form input, form select').prop('disabled', true);
            $('.loading').remove();

            $(this).after('<span class="loading"></span>');
            var _self = $(this);
            var region = $(this).val();
            $.post("<?php echo HOST ?>ajax/get-district-cbb", {
                    region: region
                }
                ,function(data,status){
                    $('#district').find('option:not(:first)').remove();
                    $('#store').find('option:not(:first)').remove();
                    
                    try {
                        if (data) {
                            var obj = $.parseJSON( data );
                            
                            for (var i = 0; i < obj.length; i++) {
                                $('#district').append('<option value="'+obj[i]['id']+'">'+obj[i]['name']+'</option>');
                            }                        
                        }

                    } catch(err) {

                    } finally {
                        $('.loading').remove();
                        $('form').unbind('submit');
                        $('form button, form input, form select').prop('disabled', false);
                    }
                });
        });
</script>
