<style>
    .main-row{
        background: #F5F5F5;
    }
    .unlock{
        background-color: #f0ad4e;
        padding: 3px 5px;
        border-radius: 3px;
        font-size: 10px;
        min-width: 40px;
        display: inline-block;
        text-align: center;
    }
    .locked{
        background-color: #5cb85c;
        padding: 5px 8px;
        border-radius: 3px;
        font-size: 10px;
        min-width: 40px;
        display: inline-block;
        text-align: center;
    }
    .inprocess{
        background-color: #0d6895;
        padding: 5px 8px;
        border-radius: 3px;
        font-size: 10px;
        min-width: 40px;
        display: inline-block;
        text-align: center;
        color: #ffffff;
    }
    #frmList .wrap{
        overflow-x: scroll;
       /* overflow-y: scroll;
        max-height: 500px;*/
    }
    table th{
        font-size: 18px;
    }
    .date_bh{
        display: inline-block;
        width: 200px;
    }
    .diff{
        background-color: #fce0b8;
    }
</style>
<form action="/insurance/process" method="post" id='frmList'>
    <div class="row clearfix">
        <div class="span12 text-right">
            <div class="control-group">
                <span style="padding: 6px; height: 40px; border-radius: 0px; background: #f0f0f0">
                    Ngày báo bảo hiểm:
                </span> 
                <input type="text" class="date date_bh" name="date_bh" id="date_bh" value="<?php if(isset($this->params['date_bh']) AND $this->params['date_bh']) echo $this->params['date_bh'];?>" style="padding: 2px;">

                <button class="btn btn-primary" data-link='/insurance/load-data' value="1" id="load_data" name="load_data" type="submit">LOAD DATA</button>

                <!--
                <button class="btn btn-primary report" data-link='/insurance/report-tang' value="1" id="report_tang" name="report_tang" type="submit">Tăng</button>
                <button class="btn btn-primary report" data-link='/insurance/report-giam' value="1" id="report_giam" name="report_giam" type="submit">Giảm</button>
                <button class="btn btn-primary report" data-link='/insurance/report-chot-so' value="1" id="report_chotso" name="report_chotso" type="submit">Chốt sổ</button>
                <button class="btn btn-primary report" data-link='/insurance/report-tong' value="1" id="report_tong" name="report_chotso" type="submit">C45</button>
                <button class="btn btn-warning" data-link='/insurance/report-giai-trinh-lao-dong' value="1" id='gtld' name='gtld' type="submit">Giải trình lao động</button>
                -->

                <div class="wrap-control pull-right">
                <button class="btn btn-warning" value="1" id='qdnv' name='qdnv' type="submit">QDNV</button>
                <button class="btn btn-warning" value="1" id='qdtl' name='qdtl' type="submit">QDTL</button>
                <button class="btn btn-success" value="1"  name='lock' type="submit">Xác nhận</button>
                <!-- <button class="btn btn-danger delete" name='delete' value="1" type="submit">Xóa</button> -->
                <button class="btn btn-inverse disable" name='disable' value="1" type="submit">Xóa</button>
                </div>
            </div>
        </div>
    </div>

    <table class="table table-bordered table-advance table-hover table-responsive" >
        <thead>
        <tr style="font-size: 12px !important;" >
            <?php echo $this->sorting(array(
                        '#',
                        'Mã nhân viên',
                        'Tên',
                        'Đơn vị',
                        'Bộ phận',
                        'Chức danh',
                        'Loại',
                        'Loại',
                        'Lương',
                        'Lương cũ',
                        'Thời gian hiệu lực',
                        'Ngày thay thế',
                        'QĐ',
                        'Trạng thái',
                        'Xác nhận',
                        '<input type="checkbox" name="check_all" id="checkall" value="1">',
                        'Thao tác',
                    ),
                    $this->url, $this->sort, $this->desc); ?>
        </tr>
        </thead>
        <tbody>
            <?php 
                if(isset($this->list) AND $this->list):
                    $stt = $this->offset + 1;
                    foreach($this->list as $key => $item):
            ?>          
                        <tr class="<?php if($item['current_month'] == 0) echo 'diff'; ?>">
                            <td><?php echo $stt++;?></td>
                            <td><?php echo $item['staff_code']?></td>
                            <td><?php echo $item['staff_name']?></td>
                            <td><?php echo $item['unit_code_name']?></td>
                            <td><?php echo $item['team_name']?></td>
                            <td><?php echo $item['title_name']?></td>
                            <td>
                                <?php 
                                    if($item['type'] == 1){
                                        echo 'Tăng';
                                    }elseif($item['type'] == 2){
                                        echo 'Giảm';
                                    }
                                ?>
                            </td>
                             <td><?php echo $item['option_name']?></td>
                            <td><?php echo intval($item['salary'])?></td>
                            <td><?php echo intval($item['old_salary'])?></td>
                            <td><?php echo date('d/m/Y',strtotime($item['time_effective']))?></td>
                            <td>
                                <?php
                                    if(isset($item['real_time']) AND $item['real_time']){
                                        echo  date('d/m/Y',strtotime($item['real_time']));
                                    }elseif($item['time_alter']){
                                      echo  date('d/m/Y',strtotime($item['time_alter']));
                                    }

                                ?>
                            </td>
                            <td><?php if(in_array($item['option'],array(3,5))) echo  $item['qdnv'];?></td>
                            <td class="text-center">
                                <?php if($item['locked'] == 0):
                                    echo '<label class="unlock">chưa xử lý</label>';
                                elseif($item['locked'] == 2):
                                    echo '<label class="inprocess">đang xử lý</label>';    
                                else:
                                    echo '<label class="locked">đã xử lý</label>';
                                endif;
                                ?>
                            </td>
                            <td style="width: 100px;">
                                <span style="font-size: 12px">
                                    <?php echo ($item['locked_by_name']) ? $item['locked_by_name']: '';?>
                                </span>
                                <span style="font-size: 12px">
                                    <?php echo ($item['locked_at']) ? date('d/m/Y',strtotime($item['locked_at'])) : '';?>
                                </span>
                            </td>
                            <td class="text-center">
                                <input type="checkbox" name="ids[]"  class='check_item' value="<?php echo $item['id']?>">
                            </td>

                            <td>
                                <?php //if(in_array($item['locked'],array(0,1))):?>
                                <a href="/insurance/edit?id=<?php echo $item['id']?>" title="edit"><i class="icon-edit"></i></a>
      
                                <?php //endif;?>

                                <?php if(in_array($item['option'], array(3)) ){ ?>
                                <a href="/insurance/print?ids=<?php echo $item['id']?>" target='blank'><i class='icon-print'></i></a>
                                <?php }?>

                                <?php if(in_array($item['option'], array(5)) ){?>
                                <a href="/insurance/print-khong-luong?ids=<?php echo $item['id']?>" target='blank'><i class='icon-print'></i></a>
                                <?php }?>

                                <?php if(in_array($item['option'], array(7)) ){?>
                                <a href="/insurance/print-dc?ids=<?php echo $item['id']?>" target='blank'><i class='icon-print'></i></a>
                                <?php }?>
                            </td>
                        </tr>
            <?php 
                    endforeach;
                endif;
            ?>
        </tbody>
    </table>
    <input type="hidden" value="<?php echo $this->uri;?>" name="back_url"/>
</form>

<div class="paging">
    <?php echo $this->paging($this->total, $this->limit, $this->offset, $this->url);?>
</div>

<script type="text/javascript" src="/js/jquery-ui-1.8.12.custom.min.js"></script>
<link rel="stylesheet" type="text/css" href="/css/jquery-ui-1.8.12.custom.css"/>
<?php  echo $this->confirm();?>

<div id="frmUpdate"></div>
<link rel="stylesheet" type="text/css" href="/css/bootstrap-datetimepicker.min.css"/>
<script language="javascript" type="text/javascript" src="/js/bootstrap-datetimepicker.min.js"></script>

<script type="text/javascript" src="<?php echo HOST ?>js/bootstrap-multiselect.js"></script>
<link rel="stylesheet" href="<?php echo HOST ?>css/bootstrap-multiselect.css" type="text/css"/>

<script>
    $(document).ready(function(){
        $('.month').datetimepicker({
            format: 'mm/yyyy',
            startView: 3,
            minView: 3,
            autoclose: true
        });


        $('tbody tr').hover(function(){
            $(this).tooltip('toggle');
        });

        getDateIns();

        $('.date').datetimepicker({
            format: 'dd/mm/yyyy',
            startView: 2,
            minView: 2,
            autoclose: true
        });

        $('#checkall').click(function(){
            var _this = $(this);
            if(_this.prop('checked') == true){
                $('.check_item').prop('checked',true);
            }else{
                $('.check_item').prop('checked',false);
            }
        });

        $('.check_item').click(function(){
            if($(this).prop('checked') == false) {
                $("#checkall").prop('checked', false);
            }else{
                var checked = $(".check_item:checked").length;
                var items = $(".check_item").length;
                if(checked == items){
                    $("#checkall").prop('checked',true);
                }
            }
        })

        $('.delete').click(function(){
            if(confirm('comfirm')){
                 $("#frmList").attr('action','/insurance/process');
                return true;
            }else{
                return false;
            }
        })

        $('.disable').click(function(){
            if(confirm('comfirm')){
                $("#frmList").attr('action','/insurance/disable');
                return true;
            }else{
                return false;
            }
        })

       $('#qdnv').click(function(){
            var f = confirm('Print QDNV');
            if(f == true){
                $("#frmList").attr('action','/insurance/print');
                return true;
            }else{
                return false;
            }
       })



       $('#qdtl').click(function(){
            var f = confirm('Print QDNV');
            if(f == true){
                $("#frmList").attr('action','/insurance/print-dc');
                return true;
            }else{
                return false;
            }
       })

       $('#gtld').click(function(){
            var f = confirm('Confirm');
            if(f == true){
                $("#frmList").attr('action','/insurance/report-giai-trinh-lao-dong');
                return true;
            }else{
                return false;
            }
       })

       $('#load_data').click(function(){
            var link = $(this).attr('data-link');
            var id = $(this).attr('id');
            if($('#date_bh').val() == '' && id != 'report_tong'){
                alert('Please insert date');
                return false;
            }

            var f = confirm('Confirm?');
            if(f == true){
                $("#frmList").attr('action',link);
                return true;
            }else{
                return false;
            }
       })

        $('.report').click(function(){
            
            var link = $(this).attr('data-link');
            var id = $(this).attr('id');
            if($('#date_bh').val() == '' && id != 'report_tong'){
                alert('Please insert date');
                return false;
            }

            var f = confirm('Are you sure?');
            if(f == true){
                $("#frmList").attr('action',link);
                return true;
            }else{
                return false;
            }
       })
    });

    function getDateIns(){
        $('#month').change(function(){
            var month = $(this).val();
            var link = '/insurance/get-approved-date-by-month';
            if(month){
                $.ajax({
                    url: link,
                    type: 'get',
                    data: {month: month},
                    success: function (data) {
                        $("#date_ins option:not(:first)").remove();
                        $("#date_approved option:not(:first)").remove();
                        var html = '';
                        $.each(data.dates_ins,function(i,v){
                            html += '<option value="'+v+'">'+v+'</option>';
                        });
                        $("#date_ins").append(html);

                        var html2 = '';
                        $.each(data.date_approved,function(i,v){
                            html2 += '<option value="'+v+'">'+v+'</option>';
                        });
                        $("#date_approved").append(html2);
                    },
                    error: function(){
                        alert('Load date error');
                    }
                })
            }
        });
    }
</script>
