<table class="table table-bordered">
    <thead>
    <tr>
        <?php echo $this->sorting(array(
            '#',
            'area'=>'area',
            'member' => 'Số lượng',
            'Action'
        ),
             $this->desc);
        ?>
    </tr>
    </thead>
    <tbody>
    <?php if(isset($this->list) AND $this->list):
        $intStt = $this->offset;
        foreach($this->list as $item):
            ?>
            <tr>
                <td><?php echo ++$intStt;?></td>
                <td><?php echo $item['area']; ?></td>
                <td><?php echo $item['soluong']?></td>
                <td>
                    <form class="form-search form-horizontal" method="get" action="/ins/import">
                    <a  href="/insure/admin-upload?export=1&area=<?php echo $item['area']; ?>" class="btn btn-success">Export</a>
                    </form>
                </td>
            </tr>
        <?php
        endforeach;
    endif;?>
    </tbody>
</table>



<script type="text/javascript" src="/js/jquery-ui-1.8.12.custom.min.js"></script>
<link rel="stylesheet" type="text/css" href="/css/jquery-ui-1.8.12.custom.css"/>
<?php  echo $this->confirm();?>
