<div class="accordion" id="accordion2">
    <div class="accordion-group">
        <div class="accordion-heading">
            <a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion2" href="#collapseTwo">
                Search
            </a>
        </div>
        <div id="collapseTwo" class="accordion-body collapse" style="height: 0px;background: whitesmoke">
            <div class="accordion-inner">
                <form action="" method="GET" class="form-search form-horizontal">
                    <div class="row">
                        <div class="span6">
                        	<div class="control-group">
                                <label class="control-label">Mã nhân viên</label>
                                <div class="controls">
                                    <input type="text" name="code" value="<?php isset($this->params['code']) and printf($this->params['code']);?>" >
                                </div>
                            </div>
                           

                            <div class="control-group">
                                <label class="control-label">Đơn vị</label>
                                <div class="controls">
                                	<select name="unit_code_id" id="" >
                                    <option value="">---</option>
                                    <?php
                                    foreach($this->unit_codes as $key => $value):
                                        ?>
                                        <option value="<?php echo $key?>" <?php if(isset($this->params['unit_code_id']) AND $key == $this->params['unit_code_id']) echo 'selected=selected'?>><?php echo $value;?></option>
                                    <?php
                                    endforeach;
                                    ?>
                                </select>
                                </div>
                                
                            </div>

                            <div class="control-group">
                                <label class="control-label">Tháng hồ sơ</label>
                                <div class="controls">
                                    <input type="text" name="month" class="month" value="<?php if(isset($this->params['month']) AND $this->params['month']) echo $this->params['month']?>">
                                </div>
                            </div>
                        </div> <!-- End span4 -->
                        <div class="span5">
                             <div class="control-group">
                                <label class="control-label">Tên nhân viên</label>
                                <div class="controls">
                                    <input type="text" name="name" value="<?php isset($this->params['name']) and printf($this->params['name']);?>" >
                                </div>
                            </div>
                            <div class="control-group">
                                <label class="control-label">Nhóm</label>
                                <div class="controls">
                                <select class="form-control" name="type">
                                    <?php
                                    $arrType = array(
                                        '' => '---',
                                        1  => 'Tăng',
                                        2  => 'Giảm',
                                        3  => 'Điều Chỉnh'
                                    );
                                    foreach($arrType as $key => $value):
                                        ?>
                                        <option value="<?php echo $key; ?>" <?php if(isset($this->params['type']) AND $this->params['type'] == $key) echo 'selected=selected';?>><?php echo $value;?></option>
                                    <?php
                                    endforeach;
                                    ?>
                                </select>

                                </div>
                            </div>
                            
                            <div class="control-group" >
                                <label class="control-label">Loại</label>
                                <div class="controls">
                                	<select name="option" class="form-control" id="option">
                                    <option value>---</option>
                                    <?php if(isset($this->options) AND $this->options){
                                            foreach ($this->options as $key => $value) {
                                    ?>
                                            <option value="<?php echo $key;?>" <?php if( isset($this->params['option']) AND $key == $this->params['option']) echo 'selected';?>><?php echo $value;?></option>
                                    <?php                             
                                                }
                                            }
                                    ?>
                                </select>
                                </div>
                                
                            </div>

                        </div> <!-- End span4 -->
                        	
                    </div> <!-- end row -->
                    <div class="row">
                    	<div class="span11">
                    		<input type="hidden" value="" name="tang_moi_ids" id="tang_moi_ids" >
                        	<input type="hidden" value="" name="dieuchinh_ids" id="dieuchinh_ids" >
                        	<input type="hidden" value="" name="giam_han_ids" id="giam_han_ids" >
                        	<input type="hidden" value="" name="chedo_ids" id="chedo_ids" >
                        	<input type="hidden" value="" name="chedo_after_ids" id="chedo_after_ids" >
                        	<input type="hidden" value="" name="total_ids" id="total_ids" >
                        	<input type="hidden" value="" name="batthuong_ids" id="batthuong_ids" >
                        	<input type="hidden" value="<?php echo $this->active;?>" name="action_insurance" id="action" >
                            <button type="submit" name="search"  value="1"  class="btn btn-primary logo-oppo">Search</button>
                            <button type="submit" name="export" value="1" class="btn btn-success logo-oppo">Export</button>
                            <button id="report_tang" class="btn btn-primary logo-oppo"  value="1" name="report_tang" type="submit">Tăng</button>
                            <button id="report_giam" class="btn btn-primary logo-oppo"  value="1" name="report_giam" type="submit">Giảm</button>
                            <button class="btn btn-success logo-oppo" value="1" name="get_qdnv" type="submit">In QĐNV</button>
                    	</div>
                    </div>
                </form> <!-- end form -->
            </div> <!-- end accordion-inner -->
        </div> <!-- end collapseTwo -->
    </div>
</div>