        <table class="table table-bordered">
            <thead>
                <th>STT</th>
                <th>Công ty</th>
                <th>Phòng Ban</th>
                <th>Mã nhân viên</th>
                <th>Họ Tên</th>
                <th>Khu vực</th>
                <th>Tỉnh</th>
                <th>Quận Huyện</th>
                <th>Chức vụ</th>
                 <th>Bộ Phận</th>
                <th>Hợp đồng tái kí</th>
                <th>Loại In</th>
                <th>Ngày bắt đầu</th>
                <th>Ngày hết hạn</th>
                <th>Tổng lương hợp đồng</th>
                <th>Lương bảo hiểm</th>
                <th>Phụ cấp khác</th>
                <th>Thâm niên</th>
                <th> KPI</th>
                <th>Đề xuất của khu vực</th> 
                <th>Ghi chú</th>
                <th>Bệnh viện</th>
                <th>Gán khu vực</th>
            </thead>
            <tbody>
                <?php
                    if(isset($this->print_appendix) AND $this->print_appendix):
                    $stt = 1;
                    foreach($this->print_appendix as $key => $value):
                ?>  
                <tr class='r_<?php echo $value['id']; ?>  edit_row <?php if ($value['different'] == 1) echo "different"; ?> <?php if ($value['different_sen'] == 1) echo "different_sen"; ?>' data-id="<?php echo $value['id']; ?>">
                    <td><?php echo ++$intStt; ?></td>
                    <td><?php echo $value['company_name'] ?></td>
                    <td><?php echo $value['department'] ?></td>
                    <td><?php echo $value['code'] ?></td>
                    <td><?php echo $value['full_name']; ?>
                        <?php if ($value['staff_status'] == 0) { ?>
                            <span class="label">OFF</span>
                        <?php } elseif ($value['staff_status'] == 1) { ?>
                            <span class="label label-success">ON</span>
                            <?php
                        } elseif (in_array($value['staff_status'], array(2, 3))) {
                            ?>
                            <span class="label label-danger"> TEMP OFF </span>
                        <?php } ?>
                    </td>
                    <td><?php echo $value['area']; ?></td>
                    <td><?php echo $value['tinh'] ?></td>
                     <td><?php echo $value['quan_huyen'] ?></td>
                    <td><?php echo $value['title'] ?></td>
                      <td><?php echo $value['team'] ?></td>
                    <td><?php echo $this->contractTerms[$value['contract_term']] ?></td>
                    <td>
                        <?php
                        if ($value['print_type'] == 1):
                            echo 'Hợp đồng';
                        elseif ($value['print_type'] == 2):
                            echo 'Phụ lục';
                        else:
                            echo '';
                        endif;
                        ?>
                    </td>

                    <td><?php if ($value['from_date']) echo date('d/m/Y', strtotime($value['from_date'])) ?></td>

                    <td>
                        <?php
                        if ($value['to_date'])
                            echo date('d/m/Y', strtotime($value['to_date']));
                        ?>
                    </td>
                    <td>
                        <?php
                        echo number_format($value['salary_total']);
                        ?>
                    </td>
                    <td>
                        <?php
                        echo number_format($value['insurance_salary']);
                        ?>
                    </td>
                      <td>
                        <?php
                        echo number_format($value['salary_bonus']);
                        ?>
                    </td>
                     <td>
                        <?php
                        echo number_format($value['work_cost_salary']);
                        ?>
                    </td>
                    <td>
                        <?php
                        echo number_format(-$value['salary_kpi']);
                        ?>
                    </td>

                    <td class="required_input small proposal">
                        <?php echo!empty($this->proposals[$value['asm_proposal']]) ? $this->proposals[$value['asm_proposal']] : ""; ?>
                    </td>

                    <td class="required_input note">
                        <?php echo $value['note'] ?>
                    </td>
                    <td class="required_input hospital <?php if ($value['print_type'] == 1) echo 'edit col_edit'; ?> " data-id="<?php echo $value['id']; ?>"><?php echo $value['hospital'] ?></td>
                    
                    <td>
                       <?php if ($value['district_confirm']== 0) { ?>
                            </br><span class="label label-warning">Chưa được gán khu vực</span>
                        <?php } ?>
                    </td>
                    <td class="required_input note">
                    <a href="<?php echo HOST . 'insure/edit-district?id=' . $value['id'];?>">Edit District</a>
                </td>   
                </tr>
                     <?php 
                        $stt++;
                        endforeach;
                        endif;
                    ?>
            </tbody>
        </table>