<table class="table table-bordered">
            <thead>
                <th>STT</th>
                <th>Mã đơn vị</th>
                <th>Mã NV</th>
                <th>Tên</th>
                <th>Lương cũ</th>
                <th>Lương mới</th>
                <th>Chức danh cũ</th>
                <th>Chức danh mới</th>
                <th>Ngày hiệu lực</th>
                <th>Ngày điều chỉnh</th>
                <th>Loại</th>
                
                <th><input type="checkbox" name="check_all_adj" id="check_all_adj" value="1"></th>
            </thead>
            <tbody>
                <?php
                    if(isset($this->adjust) AND $this->adjust):
                    $stt = 1;
                    foreach($this->adjust as $key => $item_adjust):
                ?>  
                <tr>
                    <td><?php echo $stt; ?></td>
                    <td><?php echo $item_adjust['unit_code_name']; ?></td>
                    <td><?php echo $item_adjust['staff_code']; ?></td>
                    <td><?php echo $item_adjust['staff_name']; ?></td>
                    <td class="price"><?php echo  number_format(intval($item_adjust['old_salary'])); ?></td>
                    <td class="price"><?php echo  number_format(intval($item_adjust['salary'])); ?></td>
                    <td><?php echo $item_adjust['old_job_title']; ?></td>
                    <td><?php echo $item_adjust['job_title'];  ?></td>
                    
                    <td><?php echo date('d/m/Y',strtotime($item_adjust['time_effective']));?></td>
                    <td><input option_type=<?php echo $item_adjust['option'];?> dieuchinh_time_effective="<?php echo $item_adjust['time_effective'];?>" dieuchinh_id="<?php echo $item_adjust['staff_id'];?>" type="text" placeholder="Chọn ngày" class="input-medium date search-query form-control dieuchinh_time_alter" style="width: 96px;"  value="<?php if(!empty($item_adjust['time_alter'])) echo date('d/m/Y',strtotime($item_adjust['time_alter'])); ?>"></td>
                    <td><?php 
                            if($item_adjust['option'] == 7){
                                $text_option ='CD';
                            }elseif($item_adjust['option'] == 5){
                                $text_option ='DC';
                            
                            }elseif($item_adjust['option'] == 20){
                                $text_option ='CD.1';
                            }else{
                                $text_option ='DC.1';
                            }
                            echo   $text_option;
                         ?>
                    </td>
                    <td>
                        <input type="checkbox" name="ids[]"  class='check_item_adj' value="<?php echo $item_adjust['staff_id'];?>">
                    </td>
                </tr>
                     <?php 
                        $stt++;
                        endforeach;
                        endif;
                    ?>
            </tbody>
        </table>