<div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
    <h3 id="myModalLabel">
        Detail - <small><?php $data = preg_replace('/[\'\s]/', '', $this->detail['phone_number']);
            if(  preg_match( '/^(\+)?(\d{3,4})(\d{3})(\d{4})$/', $data,  $matches ) )
                echo $matches[2] . '.' . $matches[3]. '.' . $matches[4];
            else
                echo $data; ?>
        </small>
    </h3>
</div>
<div class="modal-body">
    <?php if (isset($this->detail) && $this->detail): ?>
        <form action="" onsubmit="return false;" class="form-horizontal" id="detail_form">
            <div class="control-group">
                <label class="control-label" for="customer_name">Customer Name</label>
                <div class="controls">
                    <input readonly="readonly" type="text" id="customer_name" class="required" value="<?php echo $this->detail['customer_name'] ?>" />
                    <label class="label label-default small_label"><input type="checkbox" id="customer_name_check"
                        <?php if(isset($this->detail['info_checking'])
                            && My_Number::testNthBit($this->detail['info_checking'], My_Survey_Info::CUSTOMER_NAME))
                            echo "checked" ?>
                    > OK</label>
                </div>
            </div>
            <div class="control-group">
                <label class="control-label">Model/Color</label>
                <div class="controls">
                    <input readonly="readonly" type="text" id="" class="required_2" value="<?php
                        echo (isset($this->goods[ $this->detail['good_id'] ]) ? $this->goods[ $this->detail['good_id'] ] : '')
                        . '/' . (isset($this->colors[ $this->detail['color_id'] ]) ? $this->colors[ $this->detail['color_id'] ] : '') ?>" />
                    <label class="label label-default small_label"><input type="checkbox" id="model_check"
                        <?php if(isset($this->detail['info_checking'])
                            && My_Number::testNthBit($this->detail['info_checking'], My_Survey_Info::MODEL_COLOR))
                            echo "checked" ?>
                    > OK</label>
                </div>
            </div>
            <div class="control-group">
                <label class="control-label">Price</label>
                <div class="controls">
                    <input readonly="readonly" type="text" id="" class="required_2" value="<?php echo My_Number::f($this->detail['value']) ?>" />
                    <label class="label label-default small_label"><input type="checkbox" id="price_check"
                        <?php if(isset($this->detail['info_checking'])
                            && My_Number::testNthBit($this->detail['info_checking'], My_Survey_Info::PRICE))
                            echo "checked" ?>
                     > OK</label>
                </div>
            </div>
            <div class="control-group">
                <label class="control-label">IMEI</label>
                <div class="controls">
                    <input readonly="readonly" type="text" id="detail_imei" class="required_2" value="<?php echo $this->detail['imei'] ?>" />
                    <label class="label label-default small_label"><input type="checkbox" id="imei_check"
                        <?php if(isset($this->detail['info_checking'])
                            && My_Number::testNthBit($this->detail['info_checking'], My_Survey_Info::IMEI))
                            echo "checked" ?>
                    > OK</label>
                </div>
            </div>

            <div class="control-group">
                <label class="control-label">Store</label>
                <div class="controls">
                    <textarea readonly="readonly" class="required"><?php echo $this->detail['store_name'] ?></textarea>
                    <label class="label label-default small_label"><input type="checkbox" id="store_check"
                        <?php if(isset($this->detail['info_checking'])
                            && My_Number::testNthBit($this->detail['info_checking'], My_Survey_Info::STORE))
                            echo "checked" ?>
                     > OK</label>
                </div>
            </div>

            <div class="control-group">
                <label class="control-label">Sell Out Date</label>
                <div class="controls">
                    <input readonly="readonly" type="text" id="" class="required" value="<?php if(isset($this->detail['sell_out_date']) && $this->detail['sell_out_date'])
                        echo date('d/m/Y', strtotime($this->detail['sell_out_date']))  ?>" />
                    <label class="label label-default small_label"><input type="checkbox" id="sell_out_date_check"
                        <?php if(isset($this->detail['info_checking'])
                            && My_Number::testNthBit($this->detail['info_checking'], My_Survey_Info::SELL_OUT_DATE))
                            echo "checked" ?>
                    > OK</label>
                </div>
            </div>
            <div class="control-group">
                <label class="control-label">Activation Date</label>
                <div class="controls">
                    <input readonly="readonly" type="text" id="" value="<?php if(isset($this->detail['activation_date']) && $this->detail['activation_date'])
                        echo date('d/m/Y', strtotime($this->detail['activation_date']))  ?>" />
                </div>
            </div>

            <div class="control-group">
                <label class="control-label">Province</label>
                <div class="controls">
                    <input readonly="readonly" type="text" id="" value="<?php if(isset($this->detail['district_id']))
                        echo My_Region::getValue($this->detail['district_id'], My_Region::District)
                        . '/' . My_Region::getValue($this->detail['district_id'], My_Region::Province) ?>" />
                </div>
            </div>
            <div class="control-group">
                <label class="control-label">Network</label>
                <div class="controls">
                    <select required name="network" id="network" class="required">
                        <option value>---</option>
                        <?php foreach (My_Network::$name as $_key => $_name): ?>
                            <option value="<?php echo $_key ?>"
                                 <?php if (isset($this->detail['network']) && $this->detail['network']==$_key) echo "selected" ?>
                            ><?php echo $_name ?></option>
                        <?php endforeach ?>
                    </select>
                </div>
            </div>
            <div class="control-group">
                <label class="control-label">Status</label>
                <div class="controls">
                    <?php foreach (My_Survey_Result::$name as $_key => $_name): ?>
                        <label class="label label-<?php echo My_Survey_Result::$color[ $_key ] ?> small_label">
                            <input type="radio" name="status" id="status_check" value="<?php echo $_key ?>" <?php if (isset($this->detail['status']) && $this->detail['status']==$_key) echo "checked" ?> /> <?php echo $_name ?>
                        </label>
                    <?php endforeach ?>
                </div>
            </div>
            <div class="control-group">
                <label class="control-label">Call History</label>
                <div class="controls">
                    <?php if (isset($this->call_history) && $this->call_history): ?>
                        <?php foreach ($this->call_history as $_key => $_value): ?>
                            <p>
                                <?php
                                echo (isset($_value['time']) && strtotime($_value['time']) ? date('d/m/Y H:i:s', strtotime($_value['time'])) : '#')
                                . " : "
                                . (isset($this->staffs[ $_value['staff_id'] ]) ? $this->staffs[ $_value['staff_id'] ] : '#')
                                ?>
                            </p>
                        <?php endforeach ?>
                    <?php endif ?>
                </div>
            </div>

            <input type="hidden" id="detail_id" value="<?php if(isset($this->detail['cc_id'])) echo $this->detail['cc_id'] ?>">
        </form>
    <?php endif ?>

    <p id="system_alert" style="display:none;" class="alert alert-danger"></p>
    <p id="system_msg" style="display:none;" class="alert alert-success"></p>
</div>
<div class="modal-footer">
    <button class="btn btn-default" data-dismiss="modal" aria-hidden="true">Cancel</button>

    <?php if ($this->access('call-center', 'inactive-resurvey')
            && ((isset($this->call_history) && count($this->call_history) < 2)
                || !isset($this->call_history) || !$this->call_history)
            && (!isset($this->detail['status']) || !$this->detail['status'])
        ): ?>
        <button class="btn btn-warning" id="resurvey_btn">Resurvey</button>
    <?php endif ?>

    <?php if ($this->access('call-center', 'inactive-save-detail') && (!isset($this->detail['status']) || !$this->detail['status'])): ?>
        <button class="btn btn-primary" id="save_detail_btn">Save</button>
    <?php endif ?>

    <?php if ($this->access('call-center', 'inactive-end') && isset($this->detail['status']) && My_Survey_Result::NOT_CONFIRMED == $this->detail['status']): ?>
        <button class="btn btn-info" id="end_btn">End</button>
    <?php endif ?>

</div>
<script type="text/javascript">
    <?php if ($this->access('call-center', 'inactive-resurvey')
            && ((isset($this->call_history) && count($this->call_history) < 2)
                || !isset($this->call_history) || !$this->call_history)
            && (!isset($this->detail['status']) || !$this->detail['status'])
        ): ?>
        ;(function($) {
            $("#resurvey_btn").click(resurvey);
        })(jQuery);

        function resurvey(e) {
            remove_alert();
            remove_msg();

            imei = $("#detail_imei").val().trim();
            id = $("#detail_id").val().trim();

            if (!imei)
                show_alert('Invalid IMEI');

            $('#modal_detail').modal('loading');

            $.ajax({
                url: '<?php echo HOST ?>call-center/inactive-resurvey',
                type: 'post',
                dataType: 'json',
                data: {
                    id: id,
                    imei: imei
                },
            })
            .done(function(data) {
                console.log("success");

                if (data && 1 === data.result) {
                    show_msg('Success');
                    if (data.resurvey && data.resurvey == 1)
                        $('.tmp').text('Resurvey').removeClass('tmp');

                    setTimeout(function() {
                        $('#modal_detail').modal('hide');
                    }, 1000);
                } else {
                    if (data && data.error) {
                        show_alert(data.error);
                    }
                }

                $('#modal_detail').modal('removeLoading');
            })
            .fail(function() {
                console.log("error");
            })
            .always(function() {
                console.log("complete");
            });

        }
    <?php endif ?>

    <?php if ($this->access('call-center', 'inactive-save-detail') && (!isset($this->detail['status']) || !$this->detail['status'])): ?>
        ;(function($) {
            $("#save_detail_btn").click(save_detail);
        })(jQuery);

        function save_detail(e) {
            remove_alert();
            remove_msg();

            imei                = $("#detail_imei").val().trim();
            id                  = $("#detail_id").val().trim();
            network             = $("#network").val();
            status_check        = $("#status_check:checked").val();
            customer_name_check = $("#customer_name_check").prop('checked') ? 1 : 0;
            model_check         = $("#model_check").prop('checked') ? 1 : 0;
            price_check         = $("#price_check").prop('checked') ? 1 : 0;
            sell_out_date_check = $("#sell_out_date_check").prop('checked') ? 1 : 0;
            store_check         = $("#store_check").prop('checked') ? 1 : 0;
            imei_check          = $("#imei_check").prop('checked') ? 1 : 0;

            if (!imei)
                show_alert('Invalid IMEI');

            $('#modal_detail').modal('loading');

            $.ajax({
                url: '<?php echo HOST ?>call-center/inactive-save-detail',
                type: 'post',
                dataType: 'json',
                data: {
                    id: id,
                    imei: imei,
                    network: network,
                    status_check: status_check,
                    customer_name_check: customer_name_check,
                    model_check: model_check,
                    price_check: price_check,
                    sell_out_date_check: sell_out_date_check,
                    store_check: store_check,
                    imei_check: imei_check
                },
            })
            .done(function(data) {
                console.log("success");

                if (data && 1 === data.result) {
                    show_msg('Success');
                    if (data.status)
                        $('.tmp').text(data.status).removeClass('tmp');

                    setTimeout(function() {
                        $('#modal_detail').modal('hide');
                    }, 1000);
                } else {
                    if (data && data.error) {
                        show_alert(data.error);
                    }
                }

                $('#modal_detail').modal('removeLoading');
            })
            .fail(function() {
                console.log("error");
            })
            .always(function() {
                console.log("complete");
            });
        }
    <?php endif ?>

    <?php if ($this->access('call-center', 'inactive-end')): ?>
        ;(function($) {
            $("#end_btn").click(end);
        })(jQuery);

        function end(e) {
            remove_alert();
            remove_msg();

            imei                = $("#detail_imei").val().trim();
            id                  = $("#detail_id").val().trim();
            status_check        = $("#status_check:checked").val();

            if (!imei)
                show_alert('Invalid IMEI');

            $('#modal_detail').modal('loading');

            $.ajax({
                url: '<?php echo HOST ?>call-center/inactive-end',
                type: 'post',
                dataType: 'json',
                data: {
                    id: id,
                    imei: imei,
                    status_check: status_check,
                },
            })
            .done(function(data) {
                console.log("success");

                if (data && 1 === data.result) {
                    show_msg('Success');
                    if (data.status)
                        $('.tmp').text(data.status).removeClass('tmp');

                    setTimeout(function() {
                        $('#modal_detail').modal('hide');
                    }, 1000);
                } else {
                    if (data && data.error) {
                        show_alert(data.error);
                    }
                }

                $('#modal_detail').modal('removeLoading');
            })
            .fail(function() {
                console.log("error");
            })
            .always(function() {
                console.log("complete");
            });
        }
    <?php endif ?>
</script>