<!DOCTYPE html>
 
<style>
.maxim{
    color: #008b56; 
    width: auto;
    float: left;
    margin-left: 20%;
    margin-top: 4px;
    margin-bottom: auto;
    text-align: center;
    font-size: 14px;
    font-style: oblique;
    border-radius: 18px; 
    padding-right: 5px;
    padding-left: 5px;
    font-weight: bold;
}
@media screen and (min-width: 1200px) {
    .maxim {
        display: block !important;
    }
}
</style>


    <html>
        <head>
            <meta charset="utf-8">
            <title>OPPO Center VN</title>
            <META NAME="ROBOTS" CONTENT="NOINDEX, NOFOLLOW">
            <meta name="viewport" content="width=device-width, initial-scale=1.0">
            <meta name="apple-mobile-web-app-capable" content="yes">
            <link rel="icon" type="image/ico" href="/img/favicon.ico" />
            <link href="/css/bootstrap.min.css" rel="stylesheet">
            <link href="/css/bootstrap-responsive.min.css" rel="stylesheet">
            <!--<link href="http://fonts.googleapis.com/css?family=Open+Sans:400italic,600italic,400,600"
                  rel="stylesheet">-->
            <link href="/css/font-awesome.css" rel="stylesheet">
            <link href="/css/style.css" rel="stylesheet">
            <link href="/css/default.css" rel="stylesheet">
            <link href="/css/pages/dashboard.css" rel="stylesheet">
            <link rel="stylesheet" type="text/css" href="<?php echo HOST ?>css/alertify.core.css">
            <link rel="stylesheet" type="text/css" href="<?php echo HOST ?>css/alertify.default.css">
            <!-- Le HTML5 shim, for IE6-8 support of HTML5 elements -->
            <!--[if lt IE 9]>
            <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
            <![endif]-->
            <script src="/js/jquery-1.7.2.min.js"></script>
            <script src="/js/bootstrap.js"></script>
            <script src="/js/base.js"></script>
            <script type="text/javascript" src="<?php echo HOST ?>js/alertify.js"></script>
  
            <link rel="stylesheet" href="<?php echo HOST ?>new/css/style.css">
            <link rel="stylesheet" href="<?php echo HOST ?>css/style-internal.css">

            <script type="text/javascript">

              var _gaq = _gaq || [];
              _gaq.push(['_setAccount', 'UA-37492225-3']);
              _gaq.push(['_setDomainName', 'opposhop.vn']);
              _gaq.push(['_setAllowLinker', true]);
              _gaq.push(['_trackPageview']);

              (function() {
                var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
                ga.src = ('https:' == document.location.protocol ? 'https://' : 'http://') + 'stats.g.doubleclick.net/dc.js';
                var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
              })();

            </script>
             <!-- Google Tag Manager -->
        <script>(function (w, d, s, l, i) {
                w[l] = w[l] || [];
                w[l].push({'gtm.start':
                            new Date().getTime(), event: 'gtm.js'});
                var f = d.getElementsByTagName(s)[0],
                        j = d.createElement(s), dl = l != 'dataLayer' ? '&l=' + l : '';
                j.async = true;
                j.src =
                        'https://www.googletagmanager.com/gtm.js?id=' + i + dl;
                f.parentNode.insertBefore(j, f);
            })(window, document, 'script', 'dataLayer', 'GTM-PXXTBW3');</script>
        <!-- End Google Tag Manager -->
        <!-- Facebook Pixel Code -->
<script>
  !function(f,b,e,v,n,t,s)
  {if(f.fbq)return;n=f.fbq=function(){n.callMethod?
  n.callMethod.apply(n,arguments):n.queue.push(arguments)};
  if(!f._fbq)f._fbq=n;n.push=n;n.loaded=!0;n.version='2.0';
  n.queue=[];t=b.createElement(e);t.async=!0;
  t.src=v;s=b.getElementsByTagName(e)[0];
  s.parentNode.insertBefore(t,s)}(window, document,'script',
  'https://connect.facebook.net/en_US/fbevents.js');
  fbq('init', '1867479893554486');
  fbq('track', 'PageView');
</script>
<noscript><img height="1" width="1" style="display:none"
  src="https://www.facebook.com/tr?id=1867479893554486&ev=PageView&noscript=1"
/></noscript>
<!-- End Facebook Pixel Code -->
            <script type="text/javascript" src="<?php echo HOST ?>new/js/dashboard-controller.js"></script>


            <!-- BI -->
            <!--<link rel="stylesheet" type="text/css" href="<?php echo HOST ?>css/bi.css">-->
            <link rel="stylesheet" type="text/css" href="<?php echo HOST ?>css/bi_nhat.css">
            <?php if($this->controller_name !== 'appraisal-sale' && $this->controller_name !== 'appraisal-office') {
                echo '<script type="text/javascript" src="'.HOST.'js/highcharts.js"></script>';
                echo '<script type="text/javascript" src="'.HOST.'js/exporting.js"></script>';
                echo '<script type="text/javascript" src="'.HOST.'js/data.js"></script>';
                echo '<script type="text/javascript" src="'.HOST.'js/grouped-categories.js"></script>';
            } ?>
            <!-- END BI -->
            
       
</head>
        <body>



            <?php 
                $userStorage = Zend_Auth::getInstance()->getStorage()->read();
            ?>
            <div class="dashboard-drawer">
                <div class ="user-info">
                    <div class="user-img">
                        <div class="user-avatar">
                            <img src ="<?php echo HOST;?>photo/staff/<?php echo $userStorage->id;?>/<?php echo $userStorage->photo;?>">
                            <div class="user-status"></div>
                        </div>
                        <div class="user-name"><?php echo $userStorage->firstname;?> <?php echo $userStorage->lastname;?></div>
                    </div>
                    <div class="notification">
                        <!--
                        <div class="message">
                            <span class ="icon1 icon1-envelop"></span>
                            <span class ="message-num">4</span>
                        </div>
                        -->
                        <div class="earth">
                            <span class ="icon1 icon1-bell"></span>
                            
                            <div class="menu-badge">
                                <span class ="message-num">0</span>
                            </div>
                        </div>

                        <ul class="dropdown-menu menu-notification menu-notification-new">
                            <li><a href="#"><i>No recent notification</i></a></li>
                            
                            <li><a href="<?php echo HOST;?>user/notification" class="see-all">See All</a></li>
                        </ul>

                    </div>
                </div>
                <div class ="seperator"></div>
                <div class ="drawer-menu menu_new">
                    <div class ="hide-btn"><a><?php echo $this->translate_adapter->translate('layout_hide',$this->current_lang);?> MENU </a><span class="icon1 icon1-list"></span></div>
                    <ul>
			<li><span class="icon1 icon1-share"></span><a href="/internal/plan">Đánh giá năng lực</a></li>
                        <li><span class="icon1 icon1-list-numbered"></span><a href="/internal/list-survey">Bộ câu hỏi</a></li>
                        <li><span class="icon1 icon1-paragraph-right"></span><a href="/internal/list-survey">Danh sách bài học</a></li>
                    </ul>
                </div>
            </div>
            <div class ="col-full no-padding" id="dashboard-header">
                <div class="dashboard-header">
                    <div class ="page-name">
                        <img src ="<?php echo HOST ?>img/oppo-logo-internal.png" height ="40px" style='height: 30px;margin-top: 12px;'>
                    </div>
                    <div class="user-config">
                        <div class ="user-name">
                            <p><?php echo $userStorage->firstname;?> <?php echo $userStorage->lastname;?> &#9662;</p>
                        </div>
                        <div class ="setting-button">
                            <span class="icon1 icon1-menu"></span>
                        </div>
                    </div>
                    
                    
                    <div class="div_maxim" >
<!--                        <i  class="maxim"  style=" display: none;" ></i>-->
                    </div>

                     
                        <div class="hidden-menu">
                            <a href="/user-information">
                                <?php echo $this->translate_adapter->translate('layout_user_infomation',$this->current_lang); ?>
                            </a>
							<a href="/pay-slip">Salary Detail</a>
                            <a href="/user/change-pass">
                                <?php echo $this->translate_adapter->translate('layout_change_password',$this->current_lang); ?>
                            </a>
                            <?php if ($userStorage->group_id == ADMINISTRATOR_ID):?>
                            <a class="clear_cache" href="/manage/cache?del=1">
                                <?php echo $this->translate_adapter->translate('layout_clear_cache',$this->current_lang); ?>
                            </a>
                            <?php endif;?>

                            <?php if($this->current_lang == 'vi'): ?>
                            <a class="language_select" lang-value="2"><img src="<?php echo HOST;?>new/img/united-states.png"> ENG</a>
                            <?php else:?>
                            <a class="language_select" lang-value="1"><img src="<?php echo HOST;?>new/img/vietnam.png"> VIE</a>
                            <?php endif;?>

                            <a href="/user/logout">
                                <?php echo $this->translate_adapter->translate('layout_log_out',$this->current_lang); ?>
                            </a>
                        </div>

                    </div>
                </div>
            </div>
            <div class="col-full no-padding">
                <div class="dashboard-content">

                    <div class="content_layout">
                        <?php echo $this->layout()->content; ?>
                    </div>

                </div>
            </div>

            <!-- notification -->
            <?php echo $this->render('notification.phtml') ?>
            <!-- /notification -->

        </body>

        <script type="text/javascript">
             $('ul li:has(ul li) > a').addClass("hasUl");
        </script>

        <script>
        $(document).ready(function () {
            initCountNotification();
            initNotification(); 
            initTranslate(); 

            $( ".earth" ).click(function() {
              $('.menu-notification-new').slideToggle('fast');
            });

        });

        function initCountNotification(){
            $.ajax({
                type: 'get',
                url: '/ajax/count-noti',
              
                error: function(error){
                    console.log(eval(error));
                },
                success: function(data){
                   
                    if(data  > 0){
                        $('.menu-badge').append('<span class ="message-num">'+data+'</span>');
                     }
                }
            });
            
        }
        function initNotification(){
            $.ajax({
                type: 'get',
                url: '/ajax/load-noti',
              
                error: function(error){
                    console.log(eval(error));
                },
                success: function(data){
                   
                    if( !$.isEmptyObject($.parseJSON(data))) {
                        var list_notification ='';
                        var count_noti = 0;
                        $.each($.parseJSON(data), function (i, object) {
                            count_noti ++;
                              list_notification = list_notification +
                             '<li><a class="notiupdate" data_noti="'+object.id+'" href="/user/notification-view?id='+object.id+'"><i>'    +     object.title    + '</i></a></li>' ;  
                            });
                        $('.menu-notification').empty();
                        $('.menu-notification').append('<li><a href="/user/notification" class="see-all">See All</a></li>' + list_notification );
                            
                        
                    }else{
                        
                    }
                    
                    
                }
            });
            
        }

        function initTranslate() {
         $('.language_select').click(function(){

            var lang = $(this).attr('lang-value');

            $.ajax({
                type: 'get',
                url: '/ajax/change-lang-default',
                data: {'lang':lang},
                error: function (error) {
                    console.log(eval(error));
                },
                success: function (data) {
                    var result = JSON.parse(data);
                    if(result.status=1){
                        location.reload();
                        
            }
                }
            });
            });

        }

        </script>

        <script>
//        
//        $(document).ready(function () {
//            var pos = $(window).scrollTop();
//            if(pos > 50){
//                $('.dashboard-drawer').css({"top":"-50px"});
//            }
//            else{
//                $('.dashboard-drawer').css({"top":"-"+pos+"px"});
//            }
//        });
//        
//        $(window).scroll(function(){
//            var pos = $(window).scrollTop();
//            
//            if(pos > 50){
//                $('.dashboard-drawer').css({"top":"-50px"});
//            }
//            else{
//                $('.dashboard-drawer').css({"top":"-"+pos+"px"});
//            }
//        });
        </script>


    </html>