<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>OPPO Center VN</title>
    <META NAME="ROBOTS" CONTENT="NOINDEX, NOFOLLOW">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <link rel="icon" type="image/ico" href="/img/favicon.ico" />
    <link href="/css/bootstrap.min.css" rel="stylesheet">
    <link href="/css/bootstrap-responsive.min.css" rel="stylesheet">
    <link rel="manifest" href="/manifest.json">
    <!--<link href="http://fonts.googleapis.com/css?family=Open+Sans:400italic,600italic,400,600"
          rel="stylesheet">-->
    <link href="/css/font-awesome.css" rel="stylesheet">
    <link href="/css/style.css" rel="stylesheet">
    <link href="/css/default.css" rel="stylesheet">
    <link href="/css/pages/dashboard.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="<?php echo HOST ?>css/alertify.core.css">
    <link rel="stylesheet" type="text/css" href="<?php echo HOST ?>css/alertify.default.css">
    <!-- Le HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
    <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
    <script src="/js/jquery-1.7.2.min.js"></script>
    <script src="/js/bootstrap.js"></script>
    <script src="/js/base.js"></script>
    <script type="text/javascript" src="<?php echo HOST ?>js/alertify.js"></script>
    <script type="text/javascript">

  // var _gaq = _gaq || [];
  // _gaq.push(['_setAccount', 'UA-37492225-3']);
  // _gaq.push(['_setDomainName', 'opposhop.vn']);
  // _gaq.push(['_setAllowLinker', true]);
  // _gaq.push(['_trackPageview']);

  // (function() {
  //   var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
  //   ga.src = ('https:' == document.location.protocol ? 'https://' : 'http://') + 'stats.g.doubleclick.net/dc.js';
  //   var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  // })();

</script> <!-- Google Tag Manager -->
        <script>(function (w, d, s, l, i) {
                w[l] = w[l] || [];
                w[l].push({'gtm.start':
                            new Date().getTime(), event: 'gtm.js'});
                var f = d.getElementsByTagName(s)[0],
                        j = d.createElement(s), dl = l != 'dataLayer' ? '&l=' + l : '';
                j.async = true;
                j.src =
                        'https://www.googletagmanager.com/gtm.js?id=' + i + dl;
                f.parentNode.insertBefore(j, f);
            })(window, document, 'script', 'dataLayer', 'GTM-PXXTBW3');</script>
        <!-- End Google Tag Manager -->

        <!-- Facebook Pixel Code -->
        <script>
            !function (f, b, e, v, n, t, s) {
                if (f.fbq)
                    return;
                n = f.fbq = function () {
                    n.callMethod ?
                            n.callMethod.apply(n, arguments) : n.queue.push(arguments)
                };
                if (!f._fbq)
                    f._fbq = n;
                n.push = n;
                n.loaded = !0;
                n.version = '2.0';
                n.queue = [];
                t = b.createElement(e);
                t.async = !0;
                t.src = v;
                s = b.getElementsByTagName(e)[0];
                s.parentNode.insertBefore(t, s)
            }(window,
                    document, 'script', 'https://connect.facebook.net/en_US/fbevents.js');
            fbq('init', '1732830293667261');
            fbq('track', "PageView");</script>
    <noscript><img height="1" width="1" style="display:none" src="https://www.facebook.com/tr?id=1732830293667261&ev=PageView&noscript=1" /></noscript>
    <!-- End Facebook Pixel Code -->    
    <!-- Facebook Pixel Code -->


<style type="text/css">
.alertify-cover {
    background: black;
    opacity: 0.5;
}
</style>
</head>
<body>
<?php echo $this->render('navbar.phtml') ?>
<!-- /navbar -->
<div class="subnavbar">
    <div class="subnavbar-inner">
        <div class="container">
            <?php echo $this->render('menu.phtml') ?>
        </div>
    </div>
</div>
<!-- /subnavbar -->
<div class="main">
<div class="main-inner">
<div class="container">
    <?php echo $this->layout()->content; ?>
<!-- /row -->
</div>
<!-- /container -->
</div>
<!-- /main-inner -->
</div>
<!-- /main -->
<!-- notification -->
<?php echo $this->render('notification.phtml') ?>
<!-- /notification -->
<?php echo $this->render('footer.phtml') ?>
<!-- /footer -->
<script>
	$(document).ready(function() {
		$('.subnavbar .container > ul li').click(function(e){
			// e.preventDefault();
			_self = $(this);
			len = _self.find('ul.dropdown:visible').length;

            //has no submenu
            if (_self.find('ul.dropdown').length === 0)
                _self.click(function() {
                    window.location = $('a', this).attr('href');
                    return false;
                });

			if (len === 0) {
				$('.subnavbar .container > ul li').find('ul.dropdown').removeClass('show');
				$('.subnavbar .container > ul li').removeClass('open');
				_self.find('ul.dropdown').addClass('show');
				_self.addClass('open');
			}
			else {
				_self.find('ul.dropdown').removeClass('show');
				_self.removeClass('open');

			}
		});

		$('.subnavbar .container>ul>li>a').click(function(e){
			_self = $(this);
			len = _self.next('ul.dropdown').length;

			if (len > 0)
				e.preventDefault();
		});
	});

	$(document).mouseup(function (e)
	{
	    var container = $(".subnavbar .container > ul li");

	    if (!container.is(e.target) // if the target of the click isn't the container...
	        && container.has(e.target).length === 0) // ... nor a descendant of the container
	    {
	        container.find('ul.dropdown').removeClass('show');
	        container.removeClass('open');

	    }
	});
</script>
</body>
</html>
