<!DOCTYPE html>

<style>
.maxim{
    color: #008b56; 
    width: auto;
    float: left;
    margin-left: 20%;
    margin-top: 4px;
    margin-bottom: auto;
    text-align: center;
    font-size: 14px;
    font-style: oblique;
    border-radius: 18px; 
    padding-right: 5px;
    padding-left: 5px;
    font-weight: bold;
}
@media screen and (min-width: 1200px) {
    .maxim {
        display: block !important;
    }

    .icon { position: relative; width: 64px; height: 64px; }

}

.loader-wrap{
  position: fixed;
  display: none;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  height: 100%;
  background: #fff;
  left: 0;
  top: 0;
  z-index: 1000;
 }
 .loader-core{
    display: block;
    margin: auto;
    width: 80px;
    height: 80px;
    border-radius: 100%;
    border: solid 3px #fafafa;
    border-top-color: #00ba8b;
    animation: spin 1s linear infinite;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    position: fixed;
 }
 .text-core{
    display: block;
    line-height: 135px;
    margin: auto;
    height: 80px;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    position: fixed;
    width: 100%;
    text-align: center;
 }
</style>


<html>
<head>
    <meta charset="utf-8">
    <title>OPPO Center VN</title>
    <META NAME="ROBOTS" CONTENT="NOINDEX, NOFOLLOW">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <link rel="manifest" href="/manifest.webmanifest">
    <!--<script type="text/javascript" src="<?php echo HOST ?>js/push_notitfication.js"></script>-->
    <link rel="icon" type="image/ico" href="/img/favicon.ico" />
    <link href="/css/bootstrap.min.css" rel="stylesheet">
    <link href="/css/bootstrap-responsive.min.css" rel="stylesheet">
            <!--<link href="http://fonts.googleapis.com/css?family=Open+Sans:400italic,600italic,400,600"
              rel="stylesheet">-->
              <link href="/css/font-awesome.css" rel="stylesheet">
              <link href="/css/style.css" rel="stylesheet">
              <link href="/css/default.css" rel="stylesheet">
              <link href="/css/pages/dashboard.css" rel="stylesheet">
              <link rel="stylesheet" type="text/css" href="<?php echo HOST ?>css/alertify.core.css">
              <link rel="stylesheet" type="text/css" href="<?php echo HOST ?>css/alertify.default.css">
              <!-- Le HTML5 shim, for IE6-8 support of HTML5 elements -->
            <!--[if lt IE 9]>
            <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
        <![endif]-->
       
        <script src="/js/jquery-1.7.2.min.js"></script>
        <script src="/js/bootstrap.js"></script>
        <script src="/js/base.js"></script>
        <script type="text/javascript" src="<?php echo HOST ?>js/alertify.js"></script>

      
        
        <link rel="stylesheet" href="<?php echo HOST ?>new/css/style.css">
        <link rel="stylesheet" href="<?php echo HOST ?>new/css/style_2.css">

        

        <script type="text/javascript" src="<?php echo HOST ?>new/js/dashboard-controller-trade.js"></script>
        <link rel="stylesheet" type="text/css" href="<?php echo HOST ?>css/bi_nhat.css">
        <link rel="stylesheet" href="<?php echo HOST ?>new/css/trade_app.css">


                 

                    <!-- <link href="<?php echo HOST ?>js/qrcode/bootstrap.min.css" rel="stylesheet"> -->
                    <!-- <link href="<?php echo HOST ?>js/qrcode/styles.css" rel="stylesheet"> -->

<!-- slide trượt -->


<!-- slider -->



    </head>
    <body>

    <div class="loader-wrap"><div class="loader-core"></div><div class="text-core"></div></div>

        <style type="text/css">

        .span_menu{    
            position: absolute;
            bottom: 1px;
            right: 25px;
            font-size: 9px;
            color: #00935f;
        }

        .noti_trade{
            position: absolute;
            background: red;
            width: 20px;
            height: 18px;
            border-radius: 50%;
            text-align: center;
            color: #FFF;
            font-size: 11px;
            margin: 4px 0px 0px 5px;
        }
        #bi-table td{
            padding: 9px;
            font-size: 13px;
        }
        #bi-table th{
            padding: 9px;
            font-size: 13px;
        }

        #bi-table tr td img{
            width: 40%;
            float: left;
            display: block;
        }

        #bi-table tr td a{
            display: block;
            float: left;
            width: 50%;
            padding-left: 5px;
        }

        .table_app tr td{
            padding: 9px !important;
            font-size: 13px  !important;
        }
        .table_app tr th{
            padding: 9px;
            font-size: 13px;
        }



        .hanmuc td{
            padding: 9px !important;
            font-size: 13px !important;
        }
        .shop_info{margin-top: 10px;display: block;border: 1px solid #CCC;padding: 5px;display: none}
        .shop_info .content_shop_info img{width:100%;}
        .shop_info .top_shop_info{text-align: center;text-transform: uppercase;font-weight: bold;color: #0e446b;} 
        .shop_info .content_shop_info span{text-align: center;text-transform: uppercase;font-weight: bold;color: #0e446b;}
        .hinhanhthucte{text-align: center;font-size: 11px;color: #05363b !important;}
        .thuctrangshop{
            text-align: center;
            font-size: 14px;
            font-weight: bold;
            text-transform: uppercase;
            color: red;
            border: 1px solid #CCC;
            padding: 14px 0px;
            margin-bottom: -11px;
        }
        .modal-title{text-transform: uppercase;}
        .modal_row select{border-radius: 0px;width: 100%;height: 38px;font-size: 15px;}
        .modal_row input{border-radius: 0px;width: 97%;height: 38px;font-size: 15px;}
        .modal_row label{font-size: 15px;color:red;line-height: 31px;margin-bottom: 5px;}
        .modal_row button{background: #c35d55;padding: 8px 58px;margin: 0 auto;display: block;color: #FFF;border: none;border-radius: 0px;}

        .media-left img{width: 100px;margin-right: 10px}
        .btn-default{height: 43px;border-radius: 0px}
        .modal-header{padding: 23px 15px;}
        #myModal{display: none}


        

        .modal-body{
            padding: 0px 0px;
            max-height: max-content;
        }

        .add_new_modal{
            text-align: center;
            margin-bottom: 30px;
            padding-bottom: 20px;
            border-bottom: 3px solid #75a514;
        }

        .dashboard-header .user-config .user-name-name p {
            color: #008B56;
            height: 26px;
            margin-top: 11px;
            line-height: 25px;
            padding: 0px 10px;
            border-radius: 4px;
            -moz-border-radius: 4px;
            -webkit-border-radius: 4px;
        }

        .table_details tr td img{
            width: 100% !important;
        }

        .dim_menu{
            display: none;
            position: fixed;
            left: 0px;
            right: 0px;
            bottom: 0px;
            top: 0px;
            background: #ffffff;
            opacity: 0.7;
            z-index: 1;
        }

        .dashboard-drawer .user-info .notification .earth .message-num{
            background: red;
        }

        .shop_dautu{
            padding: 10px;
            border: 1px solid #CCC;
            margin: 5px;
            border-radius: 4px;
            background-color: #e0e0e0;
        }

        .number{text-align: center !important;}

        .dashboard-header .user-config .user-name-name p{font-size: 9px}
        
        .dashboard-drawer .drawer-menu ul li span.icon1{left: 5px !important;top: 15px;}
        
        .dashboard-drawer .drawer-menu ul li a {
            font-size: 13px;
            margin-left: 30px;
        }

        @media screen and (max-width: 480px){
            .modal.fade.in {
                border-radius: 0px;
                width: 100%;
                height: 100%;
                margin: 0;
                padding: 0;
                top: -11px;
                left: -1px;
            }
        }

        .image_logo_oppo {
            height: 17px;margin-top: 18px;margin-left: 65px;
        }
        
        /* Edit color app erp */
        @media screen and (max-width: 992px){
            .image_logo_oppo {
                float: left;
                margin-left: 20px;
            }

            .setting-button {
                float: right !important;
            }
        }

        #icon1-menu-payment {
            color: #fff;
        }

        .dashboard-header {
            background: #1a1a27;
            border-bottom: 1px solid #D9DEE4;
        }

        .dashboard-drawer, .dashboard-drawer .drawer-menu ul.level2 li {
            background-color: #343441;
        }

        .dashboard-drawer .drawer-menu .hide-btn {
            background-color: #53535f;
        }

        .dashboard-drawer .drawer-menu li:hover {
            background-color: #1b1b28;
        }

        .dashboard-drawer .user-info .notification .message span.icon1, .dashboard-drawer .user-info .notification .earth span.icon1, 
        .dashboard-drawer .drawer-menu li span.icon1, .dashboard-drawer .drawer-menu .hide-btn a, .dashboard-drawer .drawer-menu .hide-btn span.icon1, 
        .dashboard-drawer .drawer-menu li a, .dashboard-drawer .drawer-menu li p, .dashboard-drawer .drawer-menu li h1, .dashboard-drawer .drawer-menu li h2, 
        .dashboard-drawer .drawer-menu li h3, .dashboard-drawer .drawer-menu li h4, .dashboard-drawer .drawer-menu li h5, .dashboard-drawer .drawer-menu li h6 {
            color: rgb(211, 211, 211);
        }

        .dashboard-drawer .drawer-menu li span.icon1 {
            color: dimgray;
        }

        .dashboard-drawer .drawer-menu li:hover >  a {
            color: #2DC84D;
        }

        .dashboard-drawer .drawer-menu li:hover > span.icon1 {
            color: #2DC84D;
        }

        .page-header h1{font-weight: bold;font-size: 22px; max-width: 80%;}

        .dashboard-drawer .drawer-menu li {
            border-bottom: none;
        }

        .dashboard-drawer .drawer-menu ul.level2 li {
            border-bottom: none;
        }

    </style>

    <?php $userStorage = Zend_Auth::getInstance()->getStorage()->read();?>
    
    
    <div class="dashboard-drawer" id="menu_show">
        <div class="user-info">
            <div class="user-img">
                <div class="user-avatar">
                    <img src ="/photo/staff/<?php echo $userStorage->id;?>/<?php echo $userStorage->photo;?>">
                    <div class="user-status"></div>
                </div>
                <div class="user-name"><?php echo $userStorage->firstname;?> <?php echo $userStorage->lastname;?></div>
            </div>
            <div class="notification">
                <!--
                <div class="message">
                    <span class ="icon1 icon1-envelop"></span>
                    <span class ="message-num">4</span>
                </div>
                -->
                   
                <div class="earth">
                    <span class="icon1 icon1-bell"></span>

                    <div class="menu-badge">
                    </div>
                </div>

            </div>
        </div>
        <div class="seperator"></div>
        
        <!--
        <div class ="drawer-menu menu_new">
            
            <?php 
            $menu = [];
            foreach($this->storage['menu'] as $key=>$value){
                $menu[$value['parent_id']][] = $value;
            }
            ?>

            <div class ="hide-btn"><a>MENU </a><span class="icon1 icon1-list"></span></div>
            
            <ul>
                <?php foreach($menu[0] as $key=>$value):?>
                <li>
                    <span class="icon1 <?php echo $value['class'];?>"></span>
                    <a href="<?php echo $value['url'];?>" style="opacity: 1;"><?php echo $value['title'];?>
                    </a>
                    <?php if(!empty($menu[$value['id']])):?>
                    <ul class="level2">
                        <?php foreach($menu[$value['id']] as $k=>$v):?>
                        <li>
                            <a href="<?php echo $v['url'];?>"><?php echo $v['title'];?></a>
                        </li>
                        <?php endforeach;?>
                    </ul>
                    <?php endif;?>
                </li>
                <?php endforeach;?>

                <li>
                    <span class="icon1 icon1-stop"></span>
                    <a class="logout" style="opacity: 1;">Đăng xuất</a>
                </li>

            </ul>

        </div>
        -->
        
        

        <div class="drawer-menu menu_new">

            <div class="hide-btn"><a>MENU </a><span class="icon1 icon1-list"></span></div>
            <ul>
                <li>
                    <span class="icon1 icon1-meter"></span>
                    <a href="/payment" style="opacity: 1;">Màn hình chính</a>
                </li>
                
                <li>
                    <span class="icon1 icon-money"></span>
                    <a style="opacity: 1;">Thanh Toán Chi Phí</a>
                    <ul class="level2">
                        <li>
                            <a href="/request-office/create-request">Tạo đề xuất</a>
                        </li>
                        <li>
                            <a href="/request-office/list-request">Danh sách đề xuất</a>
                        </li>
                    </ul>
                </li>
                
                <?php if($userStorage->id == 5899 || $userStorage->id == 7 || $userStorage->id == 4):?>
                <li active="">
                    <span class="icon1 icon1 icon1-map2" style="left: 15px;"></span><a href="/purchasing" class="hasUl" style="opacity: 1;">Purchasing</a>
                        <ul class="level2">
                            <li><a href="/purchasing/purchasing-request" style="opacity: 1;">PR</a></li>
                        </ul>
                </li>
                <?php endif;?>
                
                <!--
                <li>
                    <span class="icon1 icon-thumbs-up"></span>
                    <a style="opacity: 1;">Phê Duyệt Chi Phí Sale</a>
                    <ul class="level2">
                        <li>
                            <a href="/request/create-request">Tạo đề xuất</a>
                        </li>
                        <li>
                            <a href="/request/list-request">Danh sách đề xuất</a>
                        </li>
                    </ul>
                </li>
                -->
                <li><span class="icon1 icon1-arrow-down"></span><a class="hasUl">Time Leave</a>
                        <ul class="level2">
                            <li><a href="/staff-time/list-staff-approve">Approve Time / Leave</a></li>
                        </ul>
                </li>
                
                
                <li>
                    <span class="icon1 icon1-stop"></span>
                    <a class="logout" style="opacity: 1;">Đăng xuất.</a>
                </li>

            </ul>

        </div>

    </div>

    <script>
        $(document).ready(function() {
            $(".logout").click(function() {

                if (isWebPlatform()) {
                    window.location.replace("/user/logout-erp");
                } else {
                    window.parent.postMessage("logout", '*');
                }

            });

        });
    </script>


    
    
    

        <div class="dim_menu">

        </div>

        <div class ="col-full no-padding" id="dashboard-header">
            <div class="dashboard-header">
                
                
                <style>
                    .page-name{float: left;height: 50px;width: 16.666%;text-align: center;padding: 11px 0px;position: relative}
                    .page-name i{font-size: 20px;line-height: 27px;}
                    .page-name:hover{text-decoration: none}
                    .dashboard-header{padding-left: 0px;}
                    .page-name p{position: absolute;top: 5px;right: 13px;background: red;padding: 0px 3px;font-size: 11px;color: white;border-radius: 4px;}
                </style>
                
                <img class="image_logo_oppo" src="https://center.opposhop.vn/img/oppo_logo__rgb.png">
                
<!--                <a href="/payment/createabc" class ="page-name">
                    <i class="icon1 icon1-home3"></i>
                </a>-->
                
                <!--
                <a class ="page-name">
                    <i class="icon1 icon1-home3"></i>
                </a>
                
                <a href="/payment/login-center" href='/trade' class ="page-name" style='background: #dedede;'>
                    <i class="icon1 icon1-users" style='color: #00935f;'></i>
                </a>
                
                <a class ="page-name">
                    <i class="icon1 icon1-image"></i>
                    <p>3</p>
                </a>
                
               <a href="/payment/login-trade" class ="page-name">
                    <i class="icon1 icon1-image"></i>
                    <p>3</p>
                </a>
                
                <a  class ="page-name">
                    <i class="icon1 icon1-database"></i>
                </a>
                
                <a  class ="page-name">
                    <i class="icon1 icon1-stats-bars"></i>
                </a>
                -->
                
                <a  class ="page-name setting-button">
                    <i id="icon1-menu-payment" class="icon1 icon1-menu"></i>
                </a>
                
                
                <div class="div_maxim" >
                </div>
                

            </div>
        </div>
    </div>
    <div class="col-full no-padding">
        <div class="dashboard-content">

            <div class="content_layout">
                <?php echo $this->layout()->content; ?>
            </div>

        </div>
    </div>

    <!-- notification -->
    <?php
    $userStorage = Zend_Auth::getInstance()->getStorage()->read();

    if (!$userStorage->last_login):
        $showed_modal = isset($_SESSION['showed_modal']) ? $_SESSION['showed_modal'] : null;
        if (!$showed_modal) :
            $_SESSION['showed_modal'] = 1;
            ?>
            <!-- new layout use jquery-ui-1.12 -->
            <script type="text/javascript" src="/js/jquery-ui-1.8.12.custom.min.js"></script>
            <link rel="stylesheet" type="text/css" href="/css/jquery-ui-1.8.12.custom.css"/>
            <script>
                $(function() {
                    $( "#dialog-modal" ).dialog({
                        height: 140,
                        modal: true
                    });
                });
            </script>
            <div id="dialog-modal" title="Change your password">
                <p>Please change your password <a style="color: #008866" href="/user/change-pass">HERE</a> to make sure your account be protected.</p>
            </div>
            <?php
        endif;
        endif;?>


        <?php if (isset($this->to_display_notifications) && count($this->to_display_notifications) > 1000): ?>
            <div id="modal_auto" class="modal hide fade notification_modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                    <h3 id="myModalLabel">Notification <b style="color:red">Để không còn hiển thị thông báo, vui lòng vào xem thông báo!</b></h3>
                </div>
                <div class="modal-body">
                    <ul class="notification_modal_list">
                        <?php foreach ($this->to_display_notifications as $key => $value): ?>
                           <li>
                            <a href="<?php echo HOST ?>user/notification-view?id=<?php echo $value['id'] ?>" title="<?php echo strip_tags($value['title']) ?>">
                                <p class="notification_modal_title"><?php echo My_String::excerpt($value['title'], 85) ?></p>
                                <p><?php echo My_String::excerpt($value['content'], 85) ?> <span class="notification_modal_post_time">- <?php if(isset($value['created_at']) && $value['created_at']) echo date('d/m/Y H:i:s', strtotime($value['created_at']));?></span></p>
                            </a>
                        </li>
                    <?php endforeach ?>
                </ul>
            </div>
            <div class="modal-footer">
                <button class="btn" data-dismiss="modal" aria-hidden="true">Close</button>
            </div>
        </div>

        <script>
            $(document).ready(function(){
                $modal_auto = $('#modal_auto');
                $modal_auto.modal({backdrop: 'static'});
            });
        </script>
    <?php endif ?>

    <!-- /notification -->


<!-- Notification badge ios -->



</body>

<script type="application/javascript" src="/js/mobile-handler.js"></script>
<script type="application/javascript" src="/js/mobile-library.js"></script>

<script type="text/javascript">
 $('ul li:has(ul li) > a').addClass("hasUl");
</script>

<script>
    hideLoadingPage();

    $(document).ready(function () {
        //initCountNotification();
        //initNotification(); 
        initTranslate(); 
        //getMaxim();

        $( ".earth" ).click(function() {
            $('.menu-notification-new').slideToggle('fast');
        });
    });

    $( window ).unload(function() {
        showLoadingPage();
        return false;
    });


    function initCountNotification(){
        $.ajax({
            type: 'get',
            url: '/ajax/count-noti',
            
            error: function(error){
                console.log(eval(error));
            },
            success: function(data){

                if(data  > 0){
                    $('.menu-badge').append('<span class ="message-num">'+data+'</span>');
                }
            }
        });
        
    }
    function initNotification(){
        $.ajax({
            type: 'get',
            url: '/ajax/load-noti',
            
            error: function(error){
                console.log(eval(error));
            },
            success: function(data){

                if( !$.isEmptyObject($.parseJSON(data))) {
                    var list_notification ='';
                    var count_noti = 0;
                    $.each($.parseJSON(data), function (i, object) {
                        count_noti ++;
                        list_notification = list_notification +
                        '<li><a class="notiupdate" data_noti="'+object.id+'" href="/user/notification-view?id='+object.id+'"><i>'    +     object.title    + '</i></a></li>' ;  
                    });
                    $('.menu-notification').empty();
                    $('.menu-notification').append(list_notification + '<li><a href="/user/notification" class="see-all">See All</a></li>');
                    
                    
                }else{

                }
                
                
            }
        });
        
    }

    function initTranslate() {
     $('.language_select').click(function(){

        var lang = $(this).attr('lang-value');

        $.ajax({
            type: 'get',
            url: '/ajax/change-lang-default',
            data: {'lang':lang},
            error: function (error) {
                console.log(eval(error));
            },
            success: function (data) {
                var result = JSON.parse(data);
                if(result.status=1){
                    location.reload();
                    
                }
            }
        });
    });

 }

</script>

<script>

    /*
    $(document).ready(function () {
        var pos = $("body").scrollTop();
        if(pos > 50){
            $('.dashboard-drawer').css({"top":"-50px"});
        }
        else{
            $('.dashboard-drawer').css({"top":"-"+pos+"px"});
        }
    });

    $(window).scroll(function(){
        var pos = $("body").scrollTop();
        if(pos > 50){
            $('.dashboard-drawer').css({"top":"-50px"});
        }
        else{
            $('.dashboard-drawer').css({"top":"-"+pos+"px"});
        }
    });
    */
    
    
    function getMaxim(){
        $.ajax({
            type: 'get',
            url: '/ajax/get-maxim',

            error: function(error){
                console.log(eval(error)); 
            },
            success: function(data){
             console.log(data); 
             var response = $.parseJSON(data); 
             if (response.status == 1) {
               $('.div_maxim').append('<i  class="maxim" style=" display: none;" >'+response.data+'</i>');
           }
       }
   });

    }
    
    $(window).scroll(function (event) {
            var scroll = $(window).scrollTop();
            if(scroll > 50){
                $('.dashboard-drawer').css("margin-top", "0px");
            }
            
            if(scroll <= 50){
                $('.dashboard-drawer').css("margin-top", "50px");
            }
    });
    
</script>


</html>