<!DOCTYPE html>
 
<style>
.maxim{
    color: #008b56; 
    width: auto;
    float: left;
    margin-left: 20%;
    margin-top: 4px;
    margin-bottom: auto;
    text-align: center;
    font-size: 14px;
    font-style: oblique;
    border-radius: 18px; 
    padding-right: 5px;
    padding-left: 5px;
    font-weight: bold;
}
.salary-dialog{
    top: 50px;
    right: 60px;
}
@media screen and (max-width: 480px){
   .dashboard-content {
        padding-top:85px !important;
    } 
    #button-checkin{
        margin-right: 5vw !important;
    }
    .img-checkin-css img{
        height:25px !important;
    }
    .salary-dialog{
        top:90px!important;
        right:5px ;
        width: 100vw !important;
    }
}

</style>
 <?php 
    $userStorage = Zend_Auth::getInstance()->getStorage()->read();
?>

    <html>
        <head>
            <meta charset="utf-8">
            <title>OPPO Center VN</title>
            <META NAME="ROBOTS" CONTENT="NOINDEX, NOFOLLOW">
            <meta name="viewport" content="width=device-width, initial-scale=1.0">
            <meta name="apple-mobile-web-app-capable" content="yes">
            <link rel="icon" type="image/ico" href="/img/favicon.ico" />
            <link href="/css/bootstrap.min.css" rel="stylesheet">
            <link href="/css/bootstrap-responsive.min.css" rel="stylesheet">
            <link href="/layout2020/css/main.css" rel="stylesheet">
            <link href="/layout2020/css/style.css" rel="stylesheet">
            <!--<link href="http://fonts.googleapis.com/css?family=Open+Sans:400italic,600italic,400,600"
                rel="stylesheet">-->
            <link href="/css/font-awesome.css" rel="stylesheet">
            <link href="/css/style.css" rel="stylesheet">
            <link href="/css/default.css" rel="stylesheet">
            <link href="/css/pages/dashboard.css" rel="stylesheet">
            <link rel="stylesheet" type="text/css" href="<?php echo HOST ?>css/alertify.core.css">
            <link rel="stylesheet" type="text/css" href="<?php echo HOST ?>css/alertify.default.css">
            <!-- Le HTML5 shim, for IE6-8 support of HTML5 elements -->
            <!--[if lt IE 9]>
            <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
            <![endif]-->
            <script src="/layout2020/js/main.js"></script>
            <script src="/js/jquery-1.7.2.min.js"></script>
            <script src="/js/bootstrap.js"></script>
            <script src="/js/base.js"></script>
            <script type="text/javascript" src="<?php echo HOST ?>js/alertify.js"></script>
  
            <link rel="stylesheet" href="<?php echo HOST ?>new/css/style.css">
            
			 <script type="text/javascript" src="<?php echo HOST ?>new/js/dashboard-controller_local.js"></script>
            <link rel="stylesheet" href="<?php echo HOST ?>new/css/style_2_local.css">
			
			
            <!-- BI -->
            <!--<link rel="stylesheet" type="text/css" href="<?php echo HOST ?>css/bi.css">-->
            <link rel="stylesheet" type="text/css" href="<?php echo HOST ?>css/bi_nhat.css">
            <link rel="stylesheet" type="text/css" href="<?php echo HOST ?>css/animate.css">

            <?php if($this->controller_name !== 'appraisal-sale' && $this->controller_name !== 'appraisal-office') {
                echo '<script type="text/javascript" src="'.HOST.'js/highcharts721.js"></script>';
                echo '<script type="text/javascript" src="'.HOST.'js/exporting.js"></script>';
                echo '<script type="text/javascript" src="'.HOST.'js/data.js"></script>';
                echo '<script type="text/javascript" src="'.HOST.'js/grouped-categories.js"></script>';
            } ?>
            <!-- END BI -->
            
			<link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
<link href="https://fonts.googleapis.com/css2?family=Noto+Sans&display=swap" rel="stylesheet">

       
</head>
    <body>
    <div class="app-container body-tabs-shadow fixed-sidebar">

        <div class="app-header header-shadow header-text-light">
            <div class="app-header__logo">
                <div class="logo-src"></div>
                <div class="header__pane ml-auto">
                    <div>
                        <button type="button" class="hamburger close-sidebar-btn hamburger--elastic" data-class="closed-sidebar">
                            <span class="hamburger-box">
                                <span class="hamburger-inner"></span>
                            </span>
                        </button>
                    </div>
                </div>
            </div>
            <div class="app-header__mobile-menu">
                <div>
                    <button type="button" class="hamburger hamburger--elastic mobile-toggle-nav">
                        <span class="hamburger-box">
                            <span class="hamburger-inner"></span>
                        </span>
                    </button>
                </div>
            </div>
            <div class="app-header__menu">
                <span>
                    <button type="button" class="btn-icon btn-icon-only btn btn-primary btn-sm mobile-toggle-header-nav">
                        <span class="btn-icon-wrapper">
                            <i class="fa fa-ellipsis-v fa-w-6"></i>
                        </span>
                    </button>
                </span>
            </div>    
            <div class="app-header__content">
                <div class="app-header-left">
                    <?php echo $this->render('menu_parent2020.phtml') ?>
                
                </div>
                <div class="app-header-right">
                    <div class="header-btn-lg pr-0">
                        <div class="widget-content p-0">
                            <div class="widget-content-wrapper" style="background: #145335;">
                                <div class="widget-content-left">
                                    <div class="btn-group">
                                        <a data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" class="p-0 btn" style="display:flex;     border-radius: 0px;">
                                            <span>
                                            <img width="42" class="rounded-circle image-user-circle" src="<?php echo HOST;?>photo/staff/<?php echo $userStorage->id;?>/<?php echo $userStorage->photo;?>" alt="">
                                            </span>
                                   <span>
                                   <i class="dropdown-toggle opacity-8" style="font-size: 25px;"></i>
                                   </span>
                                 
                                            
                                        </a>
                                        <div tabindex="-1" role="menu" aria-hidden="true" class="dropdown-menu dropdown-menu-right menu-user" style="margin-left: -3px;">
                                        <a href="/user-information">
                                            <?php echo $this->translate_adapter->translate('layout_user_infomation',$this->current_lang); ?>
                                        </a>
                                        
                                        <a href="/user/change-pass">
                                            <?php echo $this->translate_adapter->translate('layout_change_password',$this->current_lang); ?>
                                        </a>
                                        <?php if ($userStorage->group_id == ADMINISTRATOR_ID):?>
                                        <a class="clear_cache" href="/manage/cache?del=1">
                                            <?php echo $this->translate_adapter->translate('layout_clear_cache',$this->current_lang); ?>
                                        </a>
                                        <?php endif;?>

                                        <?php if($this->current_lang == 'vi'): ?>
                                        <a class="language_select" lang-value="2"><img src="<?php echo HOST;?>new/img/united-states.png"> ENG</a>
                                        <?php else:?>
                                        <a class="language_select" lang-value="1"><img src="<?php echo HOST;?>new/img/vietnam.png"> VIE</a>
                                        <?php endif;?>

                                        <a href="/user/logout">
                                            <?php echo $this->translate_adapter->translate('layout_log_out',$this->current_lang); ?>
                                        </a>
                                        </div>
                                    </div>
                                </div>
                                <div class="widget-content-left  ml-3 header-user-info">
                                    <div class="widget-heading">
                                        <div class="user-name"><?php echo $userStorage->firstname;?> <?php echo $userStorage->lastname;?></div>
                                    </div>
                                
                                </div>
                                <div class="widget-content-right header-user-info ml-3">
                                    <div class="notification">
                                        <!--
                                        <div class="message">
                                            <span class ="icon1 icon1-envelop"></span>
                                            <span class ="message-num">4</span>
                                        </div>
                                        -->
                                        <div class="earth">
                                            <span class ="icon1 icon1-bell"></span>
                                            
                                            <div class="menu-badge">
                                                <span class ="message-num">0</span>
                                            </div>
                                        </div>

                                        <ul class="dropdown-menu menu-notification menu-notification-new 1">
                                            <li><a href="<?php echo HOST;?>user/notification" class="see-all">See All</a></li>
                                            <li><a href="#"><i>No recent notification</i></a></li>
                                            
                                            
                                        </ul>

                                    </div>                                   
                                </div>
                            </div>
                        </div>
                    </div> 
                </div>
            </div>
        </div>

        <div class="ui-theme-settings">
            <div class="theme-settings__inner">
                <div class="scrollbar-container">
         
                </div>
            </div>
        </div>

        <div class="app-main">
            <div class="app-sidebar sidebar-shadow sidebar-text-light">
                <div class="app-header__logo">
                    <div class ="page-name logo-sidebar">
                        <img src ="<?php echo HOST ?>img/logo_oppo.png" height ="40px" style='height: 30px;margin-top: 12px;'>
                    </div>
                    <div class="header__pane ml-auto">
                        <div>
                            <button type="button" class="hamburger close-sidebar-btn hamburger--elastic" data-class="closed-sidebar">
                                <span class="hamburger-box">
                                    <span class="hamburger-inner"></span>
                                </span>
                            </button>
                        </div>
                    </div>
                </div>
                <div class="app-header__mobile-menu">
                    <div>
                        <button type="button" class="hamburger hamburger--elastic mobile-toggle-nav">
                            <span class="hamburger-box">
                                <span class="hamburger-inner"></span>
                            </span>
                        </button>
                    </div>
                </div>
                <div class="app-header__menu">
                    <span>
                        <button type="button" class="btn-icon btn-icon-only btn btn-primary btn-sm mobile-toggle-header-nav">
                            <span class="btn-icon-wrapper">
                                <i class="fa fa-ellipsis-v fa-w-6"></i>
                            </span>
                        </button>
                    </span>
                </div>    
                <div class="scrollbar-sidebar">
                    <div class="app-sidebar__inner">
                        <?php echo $this->render('menu_new2020.phtml') ?>
                    </div>
                </div>
            </div>    
            <div class="app-main__outer">
                <div class="app-main__inner">
                    <?php echo $this->layout()->content; ?>
                </div>
            </div>
        </div>

    </div>
    </body>
<script type="text/javascript" src="/js/sweetalert2.all.min.js"></script>

        <script type="text/javascript">
             $('ul li:has(ul) > a').addClass("hasUl");
             $('ul li:has(ul) a.hasUl i').after('<i class="metismenu-state-icon "><span class="dropdown-toggle" style="color: #fff"></span></i>');
        </script>

        <script>
        $(document).ready(function () {
            initCountNotification();
            initNotification(); 
            initTranslate(); 

            $( ".earth" ).click(function() {
              $('.menu-notification-new').slideToggle('fast');
            });

            $( ".close-sidebar-btn" ).click(function(){
                if($(this).hasClass('is-active')){
                    $('.logo-sidebar').show();
                } else{
                    $('.logo-sidebar').hide();
                }              
            });

        });

        function initCountNotification(){
            $.ajax({
                type: 'get',
                url: '/ajax/count-noti',
              
                error: function(error){
                    console.log(eval(error));
                },
                success: function(data){
                   
                    if(data  > 0){
                        $('.menu-badge').append('<span class ="message-num">'+data+'</span>');
                     }
                }
            });
            
        }
        function initNotification(){
            $.ajax({
                type: 'get',
                url: '/ajax/load-noti',
              
                error: function(error){
                    console.log(eval(error));
                },
                success: function(data){
                   
                    if( !$.isEmptyObject($.parseJSON(data))) {
                        var list_notification ='';
                        var count_noti = 0;
                        $.each($.parseJSON(data), function (i, object) {
                            count_noti ++;
                              list_notification = list_notification +
                             '<li><a class="notiupdate" data_noti="'+object.notification_id+'" href="/user/notification-view?id='+object.notification_id+'"><i>'    +     object.title    + '</i></a></li>' ;  
                            });
                        $('.menu-notification').empty();
                        $('.menu-notification').append('<li><a href="/user/notification" class="see-all">See All</a></li>' + list_notification );
                            
                        
                    }else{
                        
                    }
                    
                    
                }
            });
            
        }

        function initTranslate() {
         $('.language_select').click(function(){

            var lang = $(this).attr('lang-value');

            $.ajax({
                type: 'get',
                url: '/ajax/change-lang-default',
                data: {'lang':lang},
                error: function (error) {
                    console.log(eval(error));
                },
                success: function (data) {
                    var result = JSON.parse(data);
                    if(result.status=1){
                        location.reload();
                        
            }
                }
            });
            });

        }

        </script>

        <script>

        $(document).ready(function () {
            var pos = $("body").scrollTop();
            if(pos > 50){
                $('.dashboard-drawer').css({"top":"-50px"});
            }
            else{
                $('.dashboard-drawer').css({"top":"-"+pos+"px"});
            }
            setTimeout(function() {
            $('.salary-dialog').fadeOut('fast');
        }, 10000);
        });

        $(window).scroll(function(){
            var pos = $("body").scrollTop();
            if(pos > 50){
                $('.dashboard-drawer').css({"top":"-50px"});
            }
            else{
                $('.dashboard-drawer').css({"top":"-"+pos+"px"});
            }
        });
        
        $("#button-checkin").on("click", function () {
        var staffCode=$("#staffCode").val();
        Swal.fire({
            customClass:"alert-checkin",
            title: 'OPPOer ơi, đã bổ sung công chưa?',
            // text: "OPPOer ơi, đã bổ sung công chưa?",
            // type: 'question',
            showCancelButton: true,
            confirmButtonColor: '#008b56',
            // cancelButtonColor: '#d33',
            confirmButtonText: 'Làm rồi nè',
            cancelButtonText: 'Hình như chưa ?',
            imageClass:"img-checkin",
            imageUrl:"<?= HOST ?>public/img/ollie-cute.gif",
        })
            .then((result) => {
                if(!result.value){
                    window.location.href = "/staff-time/staff-view";
                }else{
                    $.ajax({
                        method: "GET",
                        url: "/ajax/flat-notification",
                        data: {id:1}
                    }).done(function (output1){

                    });
                    Swal.fire({
                    title: 'Xin cảm ơn',
                    text: "Chúc bạn có một ngày làm việc thật hiệu quả",
                    imageUrl:"<?= HOST ?>public/img/ok.gif",
                    showCancelButton: false,
                    showConfirmButton: false,
                    // confirmButtonColor: '#3085d6',
                    // cancelButtonColor: '#d33',
                    timer: 3000
                })
                    // $('#button-checkin').fadeOut('fast');
                    $(".salary-dialog").hide("slow");
                    $("#button-checkin").hide("slow");


                }
            })
        });

        $("#salary-btn").on('click', function () {
            $(".salary-dialog").hide("slow");
            $("#button-checkin").hide("slow");
            $.ajax({
                method: "GET",
                url: "/ajax/flat-notification",
                data: {id:1}
            }).done(function (output1){

            });
    	})
        </script>


    </html>