<!DOCTYPE html>
 
<style>
.maxim{
    color: #008b56; 
    width: auto;
    float: left;
    margin-left: 20%;
    margin-top: 4px;
    margin-bottom: auto;
    text-align: center;
    font-size: 14px;
    font-style: oblique;
    border-radius: 18px; 
    padding-right: 5px;
    padding-left: 5px;
    font-weight: bold;
}
.salary-dialog{
    top: 50px;
    right: 60px;
}
@media screen and (max-width: 480px){
   .dashboard-content {
    padding-top:85px !important;
} 
#button-checkin{
	margin-right: 5vw !important;
}
.img-checkin-css img{
	height:25px !important;
}
.salary-dialog{
	top:90px!important;
    right:5px ;
    width: 100vw !important;
}
}


/*Turning ON when Lunar New Year is cominggggggggg*/
/*@media screen and (min-width: 1200px) {
    .maxim {
        display: block !important;
    }
}
@media screen and (max-width: 700px) {
    .lunar-content{
        height: 4vh !important;
        margin: 3vh 0 !important;
    }
    .icon-lunar{
        font-size: 1rem !important;
        margin-top:3vh !important;
    }
    #button-gift{
        margin: 2px 15px !important;
    }
}*/
/*.sweet-alert{
   	background: url(../lunar-year-2020/img/lunar-alert.png) center !important;

}
.swal2-modal{
   	background: url(/lunar-year-2020/img/lunar-alert.png) center !important;

}*/
.lunar-alert {
   	background: url(/img/CENTER-DANGKYQUATET.png) center   !important;
   	 background-size: cover !important;
}
.lunar-alert .swal2-image{
	position: relative !important;
	top:30px;
}
.lunar-alert .swal2-confirm{
	background-color: rgba(4,106,56,1) !important;
}
.lunar-alert .swal2-textarea{
	border: 1px solid #e2735e !important ;
	background-color: #fff !important;
}
.lunar-alert .swal2-actions{
    position: relative;
    margin-bottom: 5px;
    top:-20px;
}

.btn-back-layout button{
    background: transparent;
    border: none;
    padding: 0px;
    color: #3F4254;
}

.btn-back-layout form {
    margin: 0;
}

.btn-back-layout button:hover{
    color: #046A38;
}

.hidden-menu a:hover > div > form > button {
    color: #fff !important;
    text-decoration: underline;
}
</style>
 <?php 
                $userStorage = Zend_Auth::getInstance()->getStorage()->read();
            ?>

    <html>
        <head>
            <meta charset="utf-8">
            <title>OPPO Center VN</title>
            <META NAME="ROBOTS" CONTENT="NOINDEX, NOFOLLOW">
            <meta name="viewport" content="width=device-width, initial-scale=1.0">
            <meta name="apple-mobile-web-app-capable" content="yes">
            <link rel="icon" type="image/ico" href="/img/favicon.ico" />
            <link href="/css/bootstrap.min.css" rel="stylesheet">
            <link href="/css/bootstrap-responsive.min.css" rel="stylesheet">
            <!--<link href="http://fonts.googleapis.com/css?family=Open+Sans:400italic,600italic,400,600"
                  rel="stylesheet">-->
            <link href="/css/font-awesome.css" rel="stylesheet">
            <link href="/css/style.css" rel="stylesheet">
            <link href="/css/default.css" rel="stylesheet">
            <link href="/css/pages/dashboard.css" rel="stylesheet">
            <link rel="stylesheet" type="text/css" href="<?php echo HOST ?>css/alertify.core.css">
            <link rel="stylesheet" type="text/css" href="<?php echo HOST ?>css/alertify.default.css">
            <!-- Le HTML5 shim, for IE6-8 support of HTML5 elements -->
            <!--[if lt IE 9]>
            <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
            <![endif]-->
            <script src="/js/jquery-1.7.2.min.js"></script>
            <script src="/js/bootstrap.js"></script>
            <script src="/js/base.js"></script>
            <script type="text/javascript" src="<?php echo HOST ?>js/alertify.js"></script>
  
            <link rel="stylesheet" href="<?php echo HOST ?>new/css/style.css">
            
			 <script type="text/javascript" src="<?php echo HOST ?>new/js/dashboard-controller_local.js"></script>
            <link rel="stylesheet" href="<?php echo HOST ?>new/css/style_2_local.css">
			
			
            <!-- BI -->
            <!--<link rel="stylesheet" type="text/css" href="<?php echo HOST ?>css/bi.css">-->
            <link rel="stylesheet" type="text/css" href="<?php echo HOST ?>css/bi_nhat.css">
            <link rel="stylesheet" type="text/css" href="<?php echo HOST ?>css/animate.css">

            <?php if($this->controller_name !== 'appraisal-sale' && $this->controller_name !== 'appraisal-office') {
                echo '<script type="text/javascript" src="'.HOST.'js/highcharts721.js"></script>';
                echo '<script type="text/javascript" src="'.HOST.'js/exporting.js"></script>';
                echo '<script type="text/javascript" src="'.HOST.'js/data.js"></script>';
                echo '<script type="text/javascript" src="'.HOST.'js/grouped-categories.js"></script>';
            } ?>
            <!-- END BI -->
            
			<link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
<link href="https://fonts.googleapis.com/css2?family=Noto+Sans&display=swap" rel="stylesheet">

       
</head>
        <body>



           
            <div class="dashboard-drawer">
                <div class ="user-info">
                    <div class="user-img">
                        <div class="user-avatar">
                            <img src ="<?php echo HOST;?>photo/staff/<?php echo $userStorage->id;?>/<?php echo $userStorage->photo;?>">
                            <div class="user-status"></div>
                        </div>
                        <div class="user-name"><?php echo $userStorage->firstname;?> <?php echo $userStorage->lastname;?></div>
                    </div>
                    <div class="notification">
                        <!--
                        <div class="message">
                            <span class ="icon1 icon1-envelop"></span>
                            <span class ="message-num">4</span>
                        </div>
                        -->
                        <div class="earth">
                            <span class ="icon1 icon1-bell"></span>
                            
                            <div class="menu-badge">
                                <span class ="message-num">0</span>
                            </div>
                        </div>

                        <ul class="dropdown-menu menu-notification menu-notification-new 1">
							<li><a href="<?php echo HOST;?>user/notification" class="see-all">See All</a></li>
                            <li><a href="#"><i>No recent notification</i></a></li>
                            
                            
                        </ul>

                    </div>
                </div>
                <div class ="seperator"></div>
                <div class ="drawer-menu menu_new">
					
					
					
					<div class ="hide-btn"><a><?php echo $this->translate_adapter->translate('layout_hide',$this->current_lang);?> MENU </a><span class="icon1 icon1-list"></span></div>
                    <?php echo $this->render('menu_new.phtml') ?>
					
					
				
				
                    
                </div>
            </div>
            <div class ="col-full no-padding" id="dashboard-header">
                <div class="dashboard-header">
                    <div class ="page-name">
                        <img src ="<?php echo HOST ?>new/img/logo_oppo.png" height ="40px" style='height: 30px;margin-top: 12px;'>
                    </div>
                    <div class="user-config">
                        <div class ="user-name">
                            <p><?php echo $userStorage->firstname;?> <?php echo $userStorage->lastname;?> &#9662;</p>
                        </div>
                        <div class ="setting-button">
                            <span class="icon1 icon1-menu"></span>
                        </div>
                    </div>        

<!-- Lunar new year 2019 2020 -->

                    <!-- <div id="" style="margin-top:-3px;<?= ($userStorage->team==15 and $userStorage->id ==22716 and !empty($userStorage->show_notification) and $userStorage->show_notification) ? "display: block;":"display: none;"; ?>">

            			<input name="staffCode" id="staffCode" value="<?= $userStorage->code?>" style="display: none">
	        			</div>
	                    <div id="button-gift" style="<?= (!empty($userStorage->flatAlert)) ? "":"display: none;"; ?>">
		                 	<div class="user-config page-name" style="max-width:500px;height: 50px !important;padding:0px 10px">
		                    <div>
		                        <img class="lunar-content" style="height: 40px;" src="<?= HOST ?>public\img\text2020.gif">
		                        <img class="lunar-content" style="height: 50px; position: absolute;" src="<?= HOST ?>public\img\giphy.gif">
		                    </div>
		                 	<div class="icon-lunar" style="margin:5px 15px;">
		                        <i class="icon-large icon-gift icon-lunar" style="color: red; font-size: 2rem"> </i>
		                    </div>

                    	</div>
                            <input name="staffCode" id="staffCode" value="<?= $userStorage->code?>" style="display: none">
                    </div> -->

<!-- --------------------------------------------- -->
                    
                    <div class="div_maxim" >
<!--                        <i  class="maxim"  style=" display: none;" ></i>-->
                    </div>

                     
                        <div class="hidden-menu">
                            <a href="/user-information">
                                <?php echo $this->translate_adapter->translate('layout_user_infomation',$this->current_lang); ?>
                            </a>
							
                            <a href="/user/change-pass">
                                <?php echo $this->translate_adapter->translate('layout_change_password',$this->current_lang); ?>
                            </a>
                            <?php if ($userStorage->group_id == ADMINISTRATOR_ID):?>
                            <a class="clear_cache" href="/manage/cache?del=1">
                                <?php echo $this->translate_adapter->translate('layout_clear_cache',$this->current_lang); ?>
                            </a>
                            <?php endif;?>

                            <?php if($this->current_lang == 'vi'): ?>
                            <a class="language_select" lang-value="2"><img src="<?php echo HOST;?>new/img/united-states.png"> ENG</a>
                            <?php else:?>
                            <a class="language_select" lang-value="1"><img src="<?php echo HOST;?>new/img/vietnam.png"> VIE</a>
                            <?php endif;?>

                            <a href="<?php echo HOST . "?btn-change-layout=2" ?>">
                                Go to New Center
                            </a>

                            <a href="/user/logout">
                                <?php echo $this->translate_adapter->translate('layout_log_out',$this->current_lang); ?>
                            </a>
                        </div>
                        <?php if($userStorage->team==15 and $userStorage->id ==22716  and !empty($userStorage->show_notification) and $userStorage->show_notification):?>
                         <div style="background-color: #f5f5f561;height: 245px;width: 365px;position: absolute;z-index: 2;padding:20px;" class="salary-dialog" >
                         	<div id="button-checkin">
					            <div style="padding:10px;" class="animated  bounce delay-1s">
					                <!-- <img style="position:relative;height:65px;" src="<?= HOST ?>public\img\ok.gif"> -->
					                <i class=" icon-arrow-down " style="font-size: 60px;color:#008b56;margin-left: 13px"></i>

					            </div >
					            <div style="display: inline-block">
	                                <p class="img-checkin-css animated  tada delay-2s" style="width: 100px;color:#008b56;text-align: center; font-size: 15px;"><strong>Check công Check phép<br> Rộn ràng<br> Mùa lương</strong></p>
					                <img style="position:relative;height:200px;top: -195px;right:-140px;"
					                     src="<?= HOST ?>public\img\hoanho.gif">
					            </div>
				       	 </div>

				            <div style="position:relative;bottom:190px;">
				                <button id="salary-btn"><i class="icon-remove" style="color:grey"></i></button>
				            </div>
				        </div>
				    <?php endif; ?>

                    </div>
                </div>
            </div>
            <div class="col-full no-padding">
                <div class="dashboard-content">

                    <div class="content_layout">
                        <?php echo $this->layout()->content; ?>
                    </div>

                </div>
            </div>

            <!-- notification -->
            <?php echo $this->render('notification.phtml') ?>
            <!-- /notification -->

        </body>
<script type="text/javascript" src="/js/sweetalert2.all.min.js"></script>

        <script type="text/javascript">
             $('ul li:has(ul li) > a').addClass("hasUl");
             $('ul li:has(ul li) span').after('<span class="icon-dropdown"></span>');
             $('.menu_new>ul>li>ul.level2>li>a.hasUl ').before('<span class="icon-dropdown"></span>');


        </script>

        <script>
        $(document).ready(function () {
            initCountNotification();
            initNotification(); 
            initTranslate(); 
            getMaxim();

            $( ".earth" ).click(function() {
              $('.menu-notification-new').slideToggle('fast');
            });

        });

        function initCountNotification(){
            $.ajax({
                type: 'get',
                url: '/ajax/count-noti',
              
                error: function(error){
                    console.log(eval(error));
                },
                success: function(data){
                   
                    if(data  > 0){
                        $('.menu-badge').append('<span class ="message-num">'+data+'</span>');
                     }
                }
            });
            
        }
        function initNotification(){
            $.ajax({
                type: 'get',
                url: '/ajax/load-noti',
              
                error: function(error){
                    console.log(eval(error));
                },
                success: function(data){
                   
                    if( !$.isEmptyObject($.parseJSON(data))) {
                        var list_notification ='';
                        var count_noti = 0;
                        $.each($.parseJSON(data), function (i, object) {
                            count_noti ++;
                              list_notification = list_notification +
                             '<li><a class="notiupdate" data_noti="'+object.notification_id+'" href="/user/notification-view?id='+object.notification_id+'"><i>'    +     object.title    + '</i></a></li>' ;  
                            });
                        $('.menu-notification').empty();
                        $('.menu-notification').append('<li><a href="/user/notification" class="see-all">See All</a></li>' + list_notification );
                            
                        
                    }else{
                        
                    }
                    
                    
                }
            });
            
        }

        function initTranslate() {
         $('.language_select').click(function(){

            var lang = $(this).attr('lang-value');

            $.ajax({
                type: 'get',
                url: '/ajax/change-lang-default',
                data: {'lang':lang},
                error: function (error) {
                    console.log(eval(error));
                },
                success: function (data) {
                    var result = JSON.parse(data);
                    if(result.status=1){
                        location.reload();
                        
            }
                }
            });
            });

        }

        </script>

        <script>

        $(document).ready(function () {
            var pos = $("body").scrollTop();
            if(pos > 50){
                $('.dashboard-drawer').css({"top":"-50px"});
            }
            else{
                $('.dashboard-drawer').css({"top":"-"+pos+"px"});
            }
            setTimeout(function() {
            $('.salary-dialog').fadeOut('fast');
        }, 10000);
        });

        $(window).scroll(function(){
            var pos = $("body").scrollTop();
            if(pos > 50){
                $('.dashboard-drawer').css({"top":"-50px"});
            }
            else{
                $('.dashboard-drawer').css({"top":"-"+pos+"px"});
            }
        });
        
  
        function getMaxim(){
//                $.ajax({
//                type: 'get',
//                url: '/ajax/get-maxim',
//
//                error: function(error){
//                        console.log(eval(error)); 
//                },
//	        success: function(data){
//	            console.log(data); 
//	            var response = $.parseJSON(data); 
//	             if (response.status == 1) {
//	        		$('.div_maxim').append('<i  class="maxim" style=" display: none;" >'+response.data+'</i>');
//	             }
//	        }
//            });

        }
        // Toan Nguyen 5/11/2019
        $("#button-gift").on("click", function () {
        var staffCode=$("#staffCode").val();

        $.ajax({
            method: "GET",
            url: "/collection/status-gift",
            data: {staff_code:staffCode}
        })
            .done(function (output) {
                if (!output) {
                    Swal.fire({
                    	customClass:"lunar-alert",
                        title: 'Bạn đã nhận được quà tết Canh Tý chưa?',
                        text: "Phản hồi quà tết:",
                        // type: 'question',
                        // imageUrl:'question',
                        // imageUrl:' ../lunar-year-2020/img/lunar-alert.png',
                        imageUrl:"<?= HOST ?>public/img/chuot2020.png",
                        
                        showCancelButton: true,
                        confirmButtonColor: '#3085d6',
                        cancelButtonColor: '#d33',
                        confirmButtonText: 'Đã nhận',
                        cancelButtonText: 'Vẫn chưa',
                        input: "textarea"

                    })
                        .then((result) => {
                            if(!result.dismiss){
                                $.ajax({
                                    method: "GET",
                                    url: "/collection/status-gift",
                                    data: {staff_code:staffCode,receive_status:1,feedback:result.value}
                                }).done(function (output1){
                                Swal.fire({
                                    title: 'Xin cảm ơn',
                                    text: "Hệ thống đã ghi nhận lại câu trả lời của bạn.",
                                    // type: 'success',
                                    showCancelButton: false,
                                    confirmButtonColor: '#3085d6',
                                    cancelButtonColor: '#d33',
                                    timer: 1000
                                })
                                })
                            }

                        })
                }else{
                    Swal.fire({
                        title: 'HAPPY NEW YEAR !!!',
                        text: "OPPO kính chúc bạn có một năm mới thật tuyệt vời.",
                        // icon: 'success',
                        showCancelButton: false,
                        confirmButtonColor: '#3085d6',
                        cancelButtonColor: '#d33',
                        timer: 2000
                    })
                }
            })
    })
        $("#button-checkin").on("click", function () {
        var staffCode=$("#staffCode").val();
                    Swal.fire({
                        customClass:"alert-checkin",
                        title: 'OPPOer ơi, đã bổ sung công chưa?',
                        // text: "OPPOer ơi, đã bổ sung công chưa?",
                        // type: 'question',
                        showCancelButton: true,
                        confirmButtonColor: '#008b56',
                        // cancelButtonColor: '#d33',
                        confirmButtonText: 'Làm rồi nè',
                        cancelButtonText: 'Hình như chưa ?',
                        imageClass:"img-checkin",
                        imageUrl:"<?= HOST ?>public/img/ollie-cute.gif",
                    })
                        .then((result) => {
                            if(!result.value){
								window.location.href = "/staff-time/staff-view";
                            }else{
                                $.ajax({
                                    method: "GET",
                                    url: "/ajax/flat-notification",
                                    data: {id:1}
                                }).done(function (output1){

                                });
                                Swal.fire({
                                title: 'Xin cảm ơn',
                                text: "Chúc bạn có một ngày làm việc thật hiệu quả",
                        		imageUrl:"<?= HOST ?>public/img/ok.gif",
                                showCancelButton: false,
                                showConfirmButton: false,
                                // confirmButtonColor: '#3085d6',
                                // cancelButtonColor: '#d33',
                                timer: 3000
                            })
                                // $('#button-checkin').fadeOut('fast');
        						$(".salary-dialog").hide("slow");
                                $("#button-checkin").hide("slow");


                            }
                        })
                    });
  //       if(window.matchMedia("(max-width: 767px)").matches){
  //       	        setTimeout(function() {

		//     $('.salary-dialog').fadeOut('fast');
		// }, 10000);

  //       }
        $("#salary-btn").on('click', function () {
            $(".salary-dialog").hide("slow");
            $("#button-checkin").hide("slow");
            $.ajax({
                method: "GET",
                url: "/ajax/flat-notification",
                data: {id:1}
            }).done(function (output1){

            });
    	})
        </script>


    </html>