<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>OPPO Center VN</title>
        <META NAME="ROBOTS" CONTENT="NOINDEX, NOFOLLOW">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="apple-mobile-web-app-capable" content="yes">
        <link rel="icon" type="image/ico" href="/img/favicon.ico" />
        <link href="/css/bootstrap.min.css" rel="stylesheet">
        <link href="/css/bootstrap-responsive.min.css" rel="stylesheet">
        <link href="/css/font-awesome.css" rel="stylesheet">
        <link href="/css/style.css" rel="stylesheet">
        <link href="/css/default.css" rel="stylesheet">

        <script src="/js/jquery-1.7.2.min.js"></script>
        <script src="/js/bootstrap.js"></script>
        <script src="/js/base.js"></script>

        <link rel="stylesheet" href="<?php echo HOST ?>new/css/style.css">
        <!--<link rel="stylesheet" href="<?php echo HOST ?>new/css/style_2.css">-->

       
    <link rel="stylesheet" type="text/css" href="<?php echo HOST ?>css/bi_nhat.css">
    <script type="text/javascript" src="<?php echo HOST ?>js/highcharts.js"></script>
    <script type="text/javascript" src="<?php echo HOST ?>js/exporting.js"></script>
    <script type="text/javascript" src="<?php echo HOST ?>js/data.js"></script>
    <script type="text/javascript" src="<?php echo HOST ?>js/grouped-categories.js"></script>
    <!-- END BI -->
</head>
<body>
    <?php echo $this->layout()->content; ?>  
</body>


</html>