<!DOCTYPE html>

<?php 
    $userStorage = Zend_Auth::getInstance()->getStorage()->read();
?>

    <html>
        <head>
            <meta charset="utf-8">
            <title>OPPO Center VN</title>
            <META NAME="ROBOTS" CONTENT="NOINDEX, NOFOLLOW">
            <meta name="viewport" content="width=device-width, initial-scale=1.0">
            <meta name="apple-mobile-web-app-capable" content="yes">
            <link rel="icon" type="image/ico" href="/img/favicon.ico" />
            <link href="/css/bootstrap.min.css" rel="stylesheet">
            <link href="/css/bootstrap-responsive.min.css" rel="stylesheet">
            <!--<link href="http://fonts.googleapis.com/css?family=Open+Sans:400italic,600italic,400,600"
                  rel="stylesheet">-->
            <link href="/css/font-awesome.css" rel="stylesheet">
            <link href="/css/style.css" rel="stylesheet">
            <link href="/css/default.css" rel="stylesheet">
            <link href="/css/pages/dashboard.css" rel="stylesheet">
            <link rel="stylesheet" type="text/css" href="<?php echo HOST ?>css/alertify.core.css">
            <link rel="stylesheet" type="text/css" href="<?php echo HOST ?>css/alertify.default.css">
            <!-- Le HTML5 shim, for IE6-8 support of HTML5 elements -->
            <!--[if lt IE 9]>
            <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
            <![endif]-->
            <script src="/js/jquery-1.7.2.min.js"></script>
            <script src="/js/bootstrap.js"></script>
            <script src="/js/base.js"></script>
            <script type="text/javascript" src="<?php echo HOST ?>js/alertify.js"></script>
  
            <link rel="stylesheet" href="<?php echo HOST ?>new/css/style.css">
            
			 <script type="text/javascript" src="<?php echo HOST ?>new/js/dashboard-controller_local.js"></script>
            <link rel="stylesheet" href="<?php echo HOST ?>new/css/style_2_local.css">

            <!-- Metronic css -->
			
            <!--begin::Global Theme Styles(used by all pages)-->
            <link href="/css/layout_metronic2020/css/plugins.bundle.min.css" rel="stylesheet" type="text/css"/>
            <link href="/css/layout_metronic2020/css/prismjs.bundle.css" rel="stylesheet" type="text/css"/>
            <link href="/css/layout_metronic2020/css/style.bundle.min.css" rel="stylesheet" type="text/css"/>
            <!--end::Global Theme Styles-->
            <script src="https://cdn.jsdelivr.net/npm/sweetalert2@10"></script>
            <script src="https://cdn.jsdelivr.net/npm/promise-polyfill@8/dist/polyfill.js"></script>

			 <?php
            if($userStorage->id!=11967){
                echo "            
                        <link rel=\"stylesheet\" href=\"https://center.opposhop.vn/new/css/style_2_local.css\">

";
            }
            else{
                echo "            
                        <link rel=\"stylesheet\" href=\"https://center.opposhop.vn/new/css/style_2.css\">

";
            }
            ?>

            <!--begin::Layout Themes(used by all pages)-->
            <!-- <link href="layout_metronic2020/css/base-light.css" rel="stylesheet" type="text/css"/> -->
            <!-- <link href="/css/layout_metronic2020/css/menu-light.css" rel="stylesheet" type="text/css"/>
            <link href="/css/layout_metronic2020/css/brand-dark.css" rel="stylesheet" type="text/css"/>
            <link href="/css/layout_metronic2020/css/aside-dark.css" rel="stylesheet" type="text/css"/>-->
            <!--end::Layout Themes -->
            
            <!-- custom css -->
            <link href="/css/style_metronic.css" rel="stylesheet" type="text/css"/>
            <link href="/css/custom_aside.css" rel="stylesheet" type="text/css"/>
            <link href="/css/custom_brand.css" rel="stylesheet" type="text/css"/>

            <?php if(isset($_SESSION["light_template"]) and $_SESSION["light_template"] == 1) :?>
                <link href="/css/layout_metronic2020/css/brand-light.css" rel="stylesheet" type="text/css"/>
                <link href="/css/layout_metronic2020/css/aside-light.css" rel="stylesheet" type="text/css"/>   
                <link href="/css/style_metronic_light.css" rel="stylesheet" type="text/css"/>
            <?php endif;?>

            <script type="text/javascript">

              var _gaq = _gaq || [];
              _gaq.push(['_setAccount', 'UA-37492225-3']);
              _gaq.push(['_setDomainName', 'opposhop.vn']);
              _gaq.push(['_setAllowLinker', true]);
              _gaq.push(['_trackPageview']);

              (function() {
                var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
                ga.src = ('https:' == document.location.protocol ? 'https://' : 'http://') + 'stats.g.doubleclick.net/dc.js';
                var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
              })();

            </script>
 <!-- Google Tag Manager -->
        <script>(function (w, d, s, l, i) {
                w[l] = w[l] || [];
                w[l].push({'gtm.start':
                            new Date().getTime(), event: 'gtm.js'});
                var f = d.getElementsByTagName(s)[0],
                        j = d.createElement(s), dl = l != 'dataLayer' ? '&l=' + l : '';
                j.async = true;
                j.src =
                        'https://www.googletagmanager.com/gtm.js?id=' + i + dl;
                f.parentNode.insertBefore(j, f);
            })(window, document, 'script', 'dataLayer', 'GTM-PXXTBW3');</script>
        <!-- End Google Tag Manager -->

       <!-- Facebook Pixel Code -->
<script>
  !function(f,b,e,v,n,t,s)
  {if(f.fbq)return;n=f.fbq=function(){n.callMethod?
  n.callMethod.apply(n,arguments):n.queue.push(arguments)};
  if(!f._fbq)f._fbq=n;n.push=n;n.loaded=!0;n.version='2.0';
  n.queue=[];t=b.createElement(e);t.async=!0;
  t.src=v;s=b.getElementsByTagName(e)[0];
  s.parentNode.insertBefore(t,s)}(window, document,'script',
  'https://connect.facebook.net/en_US/fbevents.js');
  fbq('init', '1867479893554486');
  fbq('track', 'PageView');
</script>
<style>
    .menu-notification-new {
        position: absolute;
        top: -2px !important;
        left: auto;
        overflow-y: auto;
        margin-left: -450px;
        min-width: 275px;
        right: 90px;
    }
    @media(max-width: 991.98px) {
        .breadcrumb .dropdown-menu{
            margin-left: -9vw;
        }
        .menu-notification-mobile{
            width: 400px !important;
        }
    }

    @media(max-width: 600px) {
        .breadcrumb .dropdown-menu{
            margin-left: -62vw;
        }
    }

    @media(max-width: 375px) {
        .menu-notification-mobile{
            width: 350px !important;
        }
    }

    @media(max-width: 320px) {
        .menu-notification-mobile{
            width: 290px !important;
        }
    }
</style>
<noscript><img height="1" width="1" style="display:none"
  src="https://www.facebook.com/tr?id=1867479893554486&ev=PageView&noscript=1"
/></noscript>
<!-- End Facebook Pixel Code -->
            <!-- Metronic javascript -->
            <!--begin::Global Theme Bundle(used by all pages)-->
            <script src="/css/layout_metronic2020/js/plugins.bundle.min.js"></script>
            <script src="/css/layout_metronic2020/js/prismjs.bundle.min.js"></script>
            <script src="/css/layout_metronic2020/js/scripts.bundle.min.js"></script>
            <!--end::Global Theme Bundle-->
            <script type="text/javascript" src="<?php echo HOST ?>new/js/dashboard-controller.js"></script>


            <!-- BI -->
            <!--<link rel="stylesheet" type="text/css" href="<?php echo HOST ?>css/bi.css">-->
            <link rel="stylesheet" type="text/css" href="<?php echo HOST ?>css/bi_nhat.css">
            <script type="text/javascript" src="<?php echo HOST ?>js/highcharts_new.js"></script>
            <script type="text/javascript" src="<?php echo HOST ?>js/exporting.js"></script>
            <script type="text/javascript" src="<?php echo HOST ?>js/data.js"></script>
            <script type="text/javascript" src="<?php echo HOST ?>js/grouped-categories.js"></script>
            <!-- END BI -->

            <link href="/css/bi_metronic.css" rel="stylesheet" type="text/css"/>
            
            <!--begin::Fonts-->
            <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700"/>        
            <!--end::Fonts-->
            
        </head>
    <body id="kt_body"  class="subheader-enabled aside-enabled aside-fixed aside-minimize-hoverable">   
    <div id="kt_header_mobile" class="header-mobile" >
        <!--begin::Logo-->
        <a href="<?php echo HOST ?>view-menu?id=401" class="brand-logo">
            <div class ="page-name logo-sidebar">
                <?php if(isset($_SESSION["light_template"]) and $_SESSION["light_template"] == 1) :?>
                    <img src ="<?php echo HOST ?>img/oppo_logo__rgb_light.png">
                <?php else:?>
                    <img src ="<?php echo HOST ?>img/oppo_logo__rgb.png">
                <?php endif ?>
                <!-- <img src ="<?php echo HOST ?>img/oppo_logo__rgb_light.png"> -->
            </div>
        </a>    
        <!--end::Logo-->
        <div class="dropdown">
            <!--begin::Toggle-->
            <div class="topbar-item" data-toggle="dropdown" data-offset="10px,0px">
                <div class="btn btn-light-success dropdown-toggle btn-dropdown btn-lg mr-1">
                    <span class="title-menu-mobile" style="color:#fff"><?php echo $this->title_menu ?></span>
                </div>
            </div>
            <!--end::Toggle-->

            <!--begin::Dropdown-->
            <div class="dropdown-menu p-0 m-0 dropdown-menu-anim-up dropdown-menu-sm dropdown-menu-right">
                <!--begin::Nav-->
                <?php echo $this->render('menu_metronic_mobile2020.phtml') ?>
            <!--end::Nav-->
            </div>
            <!--end::Dropdown-->
        </div>
        <!--begin::Toolbar-->
     
        <div class="d-flex align-items-center image-button-right">
            <!--begin::Aside Mobile Toggle-->
            <div class="button_toggle_aside" id="kt_aside_mobile_toggle">
                <button class="btn p-0 burger-icon burger-icon-left" >
                    <span></span>
                </button>
            </div>
            <div class="dashboard-header d-flex align-items-center">      
                <div class="info-right user-info">                    
                    <div class="user-config align-items-center">                   
                        <div class="user-name">
                            <span>
                                <div class="user-avatar-mobile">
                                    <img class="img-user" width="38" class="rounded-circle image-user-circle" src="<?php echo HOST;?>photo/staff/<?php echo $userStorage->id;?>/<?php echo $userStorage->photo;?>" alt="">
                                </div>
                            </span>
                        </div>
                        <div class ="setting-button">
                            <span class="icon1 icon1-menu"></span>
                        </div>
                    </div>   
                    <div class="hidden-menu">
                        <a href="/user-information">
                            <?php echo $this->translate_adapter->translate('layout_user_infomation',$this->current_lang); ?>
                        </a>
                        
                        <a href="/user/change-pass">
                            <?php echo $this->translate_adapter->translate('layout_change_password',$this->current_lang); ?>
                        </a>
                        <?php if ($userStorage->group_id == ADMINISTRATOR_ID):?>
                        <a class="clear_cache" href="/manage/cache?del=1">
                            <?php echo $this->translate_adapter->translate('layout_clear_cache',$this->current_lang); ?>
                        </a>
                        <?php endif;?>

                        <?php if($this->current_lang == 'vi'): ?>
                        <a class="language_select" lang-value="2"><img style="width: auto;" src="<?php echo HOST;?>new/img/united-states.png"> ENG</a>
                        <?php else:?>
                        <a class="language_select" lang-value="1"><img style="width: auto;" src="<?php echo HOST;?>new/img/vietnam.png"> VIE</a>
                        <?php endif;?>

                        <?php if(isset($_SESSION["light_template"]) and $_SESSION["light_template"] == 1) :?>
                            <a href="<?php echo HOST . "?btn-change-mode=2" ?>" class="navi-link">
                                Change Dark Mode
                            </a>
                        <?php else: ?>
                            <a href="<?php echo HOST . "?btn-change-mode=1" ?>" class="navi-link">
                                Change Light Mode
                            </a>
                        <?php endif; ?>

                        <a href="<?php echo HOST . "?btn-change-layout=2" ?>" class="navi-link">
                            Go to New Center
                        </a>

                        <a href="/user/logout">
                            <?php echo $this->translate_adapter->translate('layout_log_out',$this->current_lang); ?>
                        </a>
                    </div>
                    <?php if($userStorage->team==15 and $userStorage->id ==22716  and !empty($userStorage->show_notification) and $userStorage->show_notification):?>
                    <div style="background-color: #f5f5f561;height: 245px;width: 365px;position: absolute;z-index: 2;padding:20px;" class="salary-dialog" >
                        <div id="button-checkin">
                            <div style="padding:10px;" class="animated  bounce delay-1s">
                                <!-- <img style="position:relative;height:65px;" src="<?= HOST ?>public\img\ok.gif"> -->
                                <i class=" icon-arrow-down " style="font-size: 60px;color:#008b56;margin-left: 13px"></i>

                            </div >
                            <div style="display: inline-block">
                                <p class="img-checkin-css animated  tada delay-2s" style="width: 100px;color:#008b56;text-align: center; font-size: 15px;"><strong>Check công Check phép<br> Rộn ràng<br> Mùa lương</strong></p>
                                <img style="position:relative;height:200px;top: -195px;right:-140px;"
                                    src="<?= HOST ?>public\img\hoanho.gif">
                            </div>
                    </div>
                        <div style="position:relative;bottom:190px;">
                            <button id="salary-btn"><i class="icon-remove" style="color:grey"></i></button>
                        </div>
                    </div>
                <?php endif; ?>
                </div>
            </div>
        </div>
        <!--end::Toolbar-->
    </div>
    <div class="d-flex flex-column flex-root">
        <!--begin::Page-->
        <div class="d-flex flex-row flex-column-fluid page">
            <!--begin::Aside-->
            <div class="aside aside-left  aside-fixed  d-flex flex-column flex-row-auto"  id="kt_aside">
                <!--begin::Brand-->
                <div class="brand flex-column-auto " id="kt_brand">
                    <!--begin::Logo-->
                    <a href="<?php echo HOST ?>view-menu?id=401" class="brand-logo">
                        <div class ="page-name logo-sidebar" id="animate_logo">
                            <?php if(isset($_SESSION["light_template"]) and $_SESSION["light_template"] == 1) :?>
                                <img src ="<?php echo HOST ?>img/oppo_logo__rgb_light.png">
                            <?php else:?>
                                <img src ="<?php echo HOST ?>img/oppo_logo__rgb.png">
                            <?php endif ?>
                            <!-- <img class="top" src ="<?php echo HOST ?>img/oppo_logo__rgb_light.png"> -->
                        </div>
                    </a>
                    <!--end::Logo-->
                                <!--begin::Toggle-->
                        <button class="brand-toggle btn btn-sm px-0" id="kt_aside_toggle">
                            <span class="svg-icon svg-icon svg-icon-xl"><!--begin::Svg Icon | path:assets/media/svg/icons/Navigation/Angle-double-left.svg--><svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="24px" height="24px" viewBox="0 0 24 24" version="1.1">
                                <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                                    <polygon points="0 0 24 0 24 24 0 24"/>
                                    <path d="M5.29288961,6.70710318 C4.90236532,6.31657888 4.90236532,5.68341391 5.29288961,5.29288961 C5.68341391,4.90236532 6.31657888,4.90236532 6.70710318,5.29288961 L12.7071032,11.2928896 C13.0856821,11.6714686 13.0989277,12.281055 12.7371505,12.675721 L7.23715054,18.675721 C6.86395813,19.08284 6.23139076,19.1103429 5.82427177,18.7371505 C5.41715278,18.3639581 5.38964985,17.7313908 5.76284226,17.3242718 L10.6158586,12.0300721 L5.29288961,6.70710318 Z" fill="#000000" fill-rule="nonzero" transform="translate(8.999997, 11.999999) scale(-1, 1) translate(-8.999997, -11.999999) "/>
                                    <path d="M10.7071009,15.7071068 C10.3165766,16.0976311 9.68341162,16.0976311 9.29288733,15.7071068 C8.90236304,15.3165825 8.90236304,14.6834175 9.29288733,14.2928932 L15.2928873,8.29289322 C15.6714663,7.91431428 16.2810527,7.90106866 16.6757187,8.26284586 L22.6757187,13.7628459 C23.0828377,14.1360383 23.1103407,14.7686056 22.7371482,15.1757246 C22.3639558,15.5828436 21.7313885,15.6103465 21.3242695,15.2371541 L16.0300699,10.3841378 L10.7071009,15.7071068 Z" fill="#000000" fill-rule="nonzero" opacity="0.3" transform="translate(15.999997, 11.999999) scale(-1, 1) rotate(-270.000000) translate(-15.999997, -11.999999) "/>
                                </g>
                                </svg><!--end::Svg Icon-->
                            </span>			
                        </button>
                        <!--end::Toolbar-->
                        </div>
                <!--end::Brand-->

                <!--begin::Aside Menu-->
                <div class="aside-menu-wrapper flex-column-fluid" id="kt_aside_menu_wrapper">
                    <!--begin::Menu Container-->
                    <div id="kt_aside_menu"
                        class="aside-menu my-4 "
                        data-menu-vertical="1"
                        data-menu-scroll="1" data-menu-dropdown-timeout="500">
                        <!--begin::Menu Nav-->
                        <?php echo $this->render('menu_metronic_new2020.phtml') ?>
                        <!--end::Menu Nav-->
                    </div>
                    <!--end::Menu Container-->
                </div>
                <!--end::Aside Menu-->
            </div>
            <!--end::Aside-->

            <div class="d-flex flex-column flex-row-fluid wrapper" id="kt_wrapper">
                <!--begin::Header-->
                <div id="kt_header" class="header header-fixed" >
                    <!--begin::Container-->
                    <div class="container-fluid">
                        <!--begin::Header Menu Wrapper-->
                        <div class="header-menu-wrapper header-menu-wrapper-left" id="kt_header_menu_wrapper">
                            <!--begin::Header Menu-->
                            <div id="kt_header_menu" class="header-menu header-menu-mobile  header-menu-layout-default " >
                                <!--begin::Header Nav-->
                                <div class="menu-left d-flex" id="menu-left">
                                    <?php echo $this->render('menu_metronic_parent2020.phtml') ?>
                                </div>
                                <?php if($this->total_number_menu > 7) :?>
                                    <ul class="menu-nav">
                                        <li class="menu-item">
                                            <a class="menu-parent change-menu" id="change-menu-module" style="cursor: pointer;">
                                                <i class="fa fa-caret-right" aria-hidden="true"></i>
                                                <i class="fa fa-caret-right" aria-hidden="true"></i>
                                            </a>
                                        </li>
                                    </ul>
                                <?php endif;?>
                                <!--end::Header Nav-->
                            </div>
                        </div>
                        <!--end::Header Menu-->
                        <div class="topbar" id="kt_header_topbar">
                            <!--begin::Dropdown-Userinformation-->
                            <div class="topbar-item">
                                <span style="margin-right: 5px;">
                                    <div class="user-avatar">
                                        <img class="img-user" width="38" class="rounded-circle image-user-circle" src="<?php echo HOST;?>photo/staff/<?php echo $userStorage->id;?>/<?php echo $userStorage->photo;?>" alt="">
                                    </div>
                                </span>
                            </div>
                            <div class="dropdown">
                                <!--begin::Toggle-->
                                <div class="topbar-item" data-toggle="dropdown" data-offset="10px,0px">                       
                                    <div class="btn btn-icon btn-clean btn-dropdown btn-lg mr-1 dropdown-toggle">                                     
                                        <?php echo $userStorage->firstname;?> <?php echo $userStorage->lastname;?>
                                    </div>
                                </div>
                                <!--end::Toggle-->

                                <!--begin::Dropdown-->
                                <div class="dropdown-menu p-0 m-0 dropdown-menu-anim-up dropdown-menu-sm dropdown-menu-right">
                                    <ul class="navi navi-hover py-4">                                  
                                        <li class="navi-item">
                                            <a href="/user-information" class="navi-link">
                                                <span class="navi-text"><?php echo $this->translate_adapter->translate('layout_user_infomation',$this->current_lang); ?></span>
                                            </a>
                                        </li>
                                        <li class="navi-item">
                                            <a href="/user/change-pass" class="navi-link">
                                                <span class="navi-text">  <?php echo $this->translate_adapter->translate('layout_change_password',$this->current_lang); ?></span>
                                            </a>
                                        </li>
                                        <?php if ($userStorage->group_id == ADMINISTRATOR_ID):?>
                                            <li class="navi-item">
                                                <a class="clear_cache navi-link" href="/manage/cache?del=1">
                                                    <span class="navi-text"> <?php echo $this->translate_adapter->translate('layout_clear_cache',$this->current_lang); ?></span>
                                                </a>
                                            </li>
                                        <?php endif;?>
                                        <?php if($this->current_lang == 'vi'): ?>
                                            <li class="navi-item" style="cursor: pointer;">
                                                <a class="navi-link language_select" lang-value="2">
                                                    <span class="symbol symbol-20 mr-3">
                                                        <img src="<?php echo HOST;?>new/img/united-states.png" alt=""/>
                                                    </span>
                                                    <span class="navi-text">ENG</span>
                                                </a>
                                            </li>
                                        <?php else:?>
                                            <li class="navi-item" style="cursor: pointer;">
                                                <a class="navi-link language_select" lang-value="1">
                                                    <span class="symbol symbol-20 mr-3">
                                                        <img src="<?php echo HOST;?>new/img/vietnam.png" alt=""/>
                                                    </span>
                                                    <span class="navi-text">VIE</span>
                                                </a>
                                            </li>
                                        <?php endif;?>
                                        <?php if(isset($_SESSION["light_template"]) and $_SESSION["light_template"] == 1) :?>
                                            <li class="navi-item">
                                                <div class="btn-back-layout text-center">
                                                    <a href="<?php echo HOST . "?btn-change-mode=2" ?>" class="navi-link">
                                                        Change Dark Mode
                                                    </a>
                                                </div>
                                            </li>
                                        <?php else: ?>
                                            <li class="navi-item">
                                                <div class="btn-back-layout text-center">
                                                    <a href="<?php echo HOST . "?btn-change-mode=1" ?>" class="navi-link">
                                                        Change Light Mode
                                                    </a>
                                                </div>
                                            </li>
                                        <?php endif; ?>
                                        <li class="navi-item">
                                            <a href="/user/logout" class="navi-link">
                                                <span class="navi-text"><?php echo $this->translate_adapter->translate('layout_log_out',$this->current_lang); ?></span>
                                            </a>
                                        </li>
                                    </ul>
                                <!--end::Nav-->
                                </div>
                                <!--end::Dropdown-Userinformation-->
                            </div>
                            <!--end::Languages-->
                            <?php if($userStorage->team==15 and $userStorage->id ==22716  and !empty($userStorage->show_notification) and $userStorage->show_notification):?>
                                <div style="background-color: #f5f5f561;height: 245px;width: 365px;position: absolute;z-index: 2;padding:20px;" class="salary-dialog" >
                                    <div id="button-checkin">
                                        <div style="padding:10px;" class="animated  bounce delay-1s">
                                            <!-- <img style="position:relative;height:65px;" src="<?= HOST ?>public\img\ok.gif"> -->
                                            <i class=" icon-arrow-down " style="font-size: 60px;color:#008b56;margin-left: 13px"></i>

                                        </div >
                                        <div style="display: inline-block">
                                            <p class="img-checkin-css animated  tada delay-2s" style="width: 100px;color:#008b56;text-align: center; font-size: 15px;"><strong>Check công Check phép<br> Rộn ràng<br> Mùa lương</strong></p>
                                            <img style="position:relative;height:200px;top: -195px;right:-140px;"
                                                src="<?= HOST ?>public\img\hoanho.gif">
                                        </div>
                                    </div>
                                    <div style="position:relative;bottom:190px;">
                                        <button id="salary-btn"><i class="icon-remove" style="color:grey"></i></button>
                                    </div>
                                </div>
                            <?php endif; ?>
                            <div class="dropdown">
                                <div class="topbar-item" data-toggle="dropdown" data-offset="10px,0px">
                                    <span class="symbol symbol-lg-35 symbol-25 symbol-light-success">
                                            <div class="notification">
                                                <div class="earth">
                                                    <span class ="icon1 icon1-bell"></span>
                                                    
                                                    <div class="menu-badge">
                                                        <span class ="message-num">0</span>
                                                    </div>
                                                </div>                                      
                                            </div>
                                    </span>
                                </div>

                                <div class="dropdown-menu" style="background: transparent;">
                                    <div class="notification">
                                        <ul class=" menu-notification menu-notification-new 1">
                                            <li><a href="<?php echo HOST;?>user/notification" class="see-all">See All</a></li>
                                            <li><a href="#"><i>No recent notification</i></a></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="d-flex flex-column-fluid">
                    <!-- Breadcrumb -->
                    <div class="container-fluid">
                        <nav class="breadcrumb">
                            <?php if($this->breadcrumb['title_parent']): ?>
                                <a class="breadcrumb-item" href="<?php echo $this->breadcrumb['url_parent'] ?>"><?php echo $this->breadcrumb['title_parent']?></a>
                            <?php endif ?>
                            <?php if($this->breadcrumb['title_father']): ?>
                                <a class="breadcrumb-item" href="<?php echo $this->breadcrumb['url_father'] ?>"><?php echo $this->breadcrumb['title_father']?></a>
                            <?php endif ?>
                            <?php if($this->breadcrumb['title_son']): ?>
                                <a class="breadcrumb-item active"><div style="text-decoration: underline;"><?php echo $this->breadcrumb['title_son']?></div></a>
                            <?php endif ?>
                            <div class="dropdown d-block d-lg-none" style="position: absolute; right: 20px;">
                                <div class="topbar-item" data-toggle="dropdown" data-offset="10px,0px">
                                    <span class="symbol symbol-lg-35 symbol-25 symbol-light-success">
                                            <div class="notification">
                                                <div class="earth">
                                                    <span class ="icon1 icon1-bell" style="color: #046A38"></span>
                                                    
                                                    <div class="menu-badge">
                                                        <span class ="message-num">0</span>
                                                    </div>
                                                </div>                                      
                                            </div>
                                    </span>
                                </div>

                                <div class="dropdown-menu" style="background: transparent;">
                                    <div class="notification">
                                        <ul class=" menu-notification menu-notification-new 1 menu-notification-mobile" style="margin-top: 5px; right: 20px;">
                                            <li><a href="<?php echo HOST;?>user/notification" class="see-all">See All</a></li>
                                            <li><a href="#"><i>No recent notification</i></a></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </nav>
                        <!--begin::Container-->
                        <div class="content_layout" style="width: 100%; height: 100%">                     
                            <?php echo $this->layout()->content; ?>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- notification -->
        <?php echo $this->render('notification.phtml') ?>
        <!-- /notification -->
    </div>
</body>

        <script type="text/javascript" src="/js/sweetalert2.all.min.js"></script>

        <script type="text/javascript">
            $('ul li:has(ul li) > a').attr("href", "javascript;")
            $('ul li:has(ul li) > a span.menu-text').after('<i class="menu-arrow"></i>');
            //  $('.menu_new>ul>li>ul.level2>li>a.hasUl ').before('<span class="icon-dropdown"></span>');

            setTimeout(function(){
                $(".bottom").css("opacity", "1");
            }, 500);

            setTimeout(function(){
                $(".bottom").css("opacity", "0");
            }, 1500);

        </script>

        <script>
        $(document).ready(function () {
            initCountNotification();
            initNotification(); 
            initTranslate(); 

            $('.user-config .user-name').click(function(){
                $('.dashboard-header .hidden-menu').toggle();
            });
            $('.dashboard-content, .dashboard-drawer').click(function(){
                $('.dashboard-header .hidden-menu').hide();
            });

            getWidthMenuNav();

            $( ".logout" ).click(function() {
                if(isWebPlatform()) {
                    window.location.replace("/user/logout");
                } else {
                    window.parent.postMessage("logout", '*');
                }
            });

            //Set aside hidden or show
            $('#kt_aside_toggle').click(function () {            
                if((document.cookie && getCookie("aside") == 1) || !getCookie("aside")) {
                    document.cookie = "aside=2; domain=.opposhop.vn;";
                } else {
                    document.cookie = "aside=1; domain=.opposhop.vn;";
                }
            });

            //let count = 8;
            $( "#change-menu-module" ).click(function() {
                // Click move one item
                // let count_menu_parent = <?php echo $this->total_number_menu ?>;

                // margin_left = parseInt($("#menu-nav3").css("marginLeft").replace('px', ''));

                // if(count > count_menu_parent) {
                //     $("#menu-nav3").animate({"margin-left": "0",});
                //     count = 8;
                // } else{
                //     let width = $('#menu-nav3 > li:nth-child('+count+')').children().outerWidth() + 7;
                //     $("#menu-nav3").animate({"margin-left": "-="+width,});
                //     count++;
                // }

                let width = 0;

                $('#menu-nav3').children().each(function () {
                    width += $(this).outerWidth(); 
                });
            
                for (let index = 1; index < 8; index++) {
                    width -= $('#menu-nav3 > li:nth-child('+index+')').children().outerWidth() + 5;                
                }

                if($('#change-menu-module>i').hasClass('fa-caret-right')){
                    $("#change-menu-module>i").removeClass("fa-caret-right");
                    $("#change-menu-module>i").addClass("fa-caret-left");
                    $("#menu-nav3").animate({"margin-left": "-="+width,});
                } else {
                    $("#change-menu-module>i").addClass("fa-caret-right");
                    $("#change-menu-module>i").removeClass("fa-caret-left");
                    $("#menu-nav3").animate({"margin-left": "0",});
                }
            });

            $(window).resize(function(){
                getWidthMenuNav();
            });

        });

        function getWidthMenuNav() {
            let width = 0;
            
            for (let index = 1; index < 8; index++) {
                width += $('#menu-nav3 > li:nth-child('+index+')').children().outerWidth() + 6;                
            }

            if(document.documentElement.clientWidth < 1920)
                document.getElementById("menu-left").style.width = width + 'px';
        }

        function initCountNotification(){
            $.ajax({
                type: 'get',
                url: '/ajax/count-noti',
            
                error: function(error){
                    console.log(eval(error));
                },
                success: function(data){
                
                    if(data  > 0){
                        $('.menu-badge').append('<span class ="message-num">'+data+'</span>');
                    }
                }
            });
            
        }
        function initNotification(){
            $.ajax({
                type: 'get',
                url: '/ajax/load-noti',
            
                error: function(error){
                    console.log(eval(error));
                },
                success: function(data){

                    if( !$.isEmptyObject($.parseJSON(data))) {
                        var list_notification ='';
                        var count_noti = 0;
                        $.each($.parseJSON(data), function (i, object) {
                            count_noti ++;
                            if(object.title.length > 50) {
                                object.title = object.title.slice(0, 50) + "...";
                            }
                            if(object.notification_status == 0) {
                                list_notification = list_notification +
                                '<li><a class="notiupdate" style="color: red" data_noti="'+object.notification_id+'" href="/user/notification-view?id='+object.notification_id+'"><i>'    +     object.title    + '</i></a></li>' ;
                            } else{
                                list_notification = list_notification +
                                '<li><a class="notiupdate" data_noti="'+object.notification_id+'" href="/user/notification-view?id='+object.notification_id+'"><i>'    +     object.title    + '</i></a></li>' ;  
                            }
                            if(count_noti == 5) {
                                return false;
                            }
                        });
                        $('.menu-notification').empty();
                        $('.menu-notification').append('<li><a href="/user/notification" class="see-all">See All ...</a></li>' + list_notification );   
                    }else{
                        
                    }
                    
                    if(count_noti > 19) {
                        $('.menu-notification').addClass('height-500');
                    }
                }
            });
            
        }

        function initTranslate() {
            $('.language_select').click(function(){

                var lang = $(this).attr('lang-value');

                $.ajax({
                    type: 'get',
                    url: '/ajax/change-lang-default',
                    data: {'lang':lang},
                    error: function (error) {
                        console.log(eval(error));
                    },
                    success: function (data) {
                        var result = JSON.parse(data);
                        if(result.status=1){
                            location.reload();                        
                        }
                    }
                });
            });

        }

        </script>

        <script>

        $(document).ready(function () {
            var pos = $("body").scrollTop();
            if(pos > 50){
                $('.dashboard-drawer').css({"top":"-50px"});
            }
            else{
                $('.dashboard-drawer').css({"top":"-"+pos+"px"});
            }
            setTimeout(function() {
            $('.salary-dialog').fadeOut('fast');
        }, 10000);
        });

        $(window).scroll(function(){
            var pos = $("body").scrollTop();
            if(pos > 50){
                $('.dashboard-drawer').css({"top":"-50px"});
            }
            else{
                $('.dashboard-drawer').css({"top":"-"+pos+"px"});
            }
        });

        $("#button-checkin").on("click", function () {
            var staffCode=$("#staffCode").val();
            Swal.fire({
                customClass:"alert-checkin",
                title: 'OPPOer ơi, đã bổ sung công chưa?',
                // text: "OPPOer ơi, đã bổ sung công chưa?",
                // type: 'question',
                showCancelButton: true,
                confirmButtonColor: '#008b56',
                // cancelButtonColor: '#d33',
                confirmButtonText: 'Làm rồi nè',
                cancelButtonText: 'Hình như chưa ?',
                imageClass:"img-checkin",
                imageUrl:"<?= HOST ?>public/img/ollie-cute.gif",
            })
                .then((result) => {
                    if(!result.value){
                        window.location.href = "/staff-time/staff-view";
                    }else{
                        $.ajax({
                            method: "GET",
                            url: "/ajax/flat-notification",
                            data: {id:1}
                        }).done(function (output1){

                        });
                        Swal.fire({
                        title: 'Xin cảm ơn',
                        text: "Chúc bạn có một ngày làm việc thật hiệu quả",
                        imageUrl:"<?= HOST ?>public/img/ok.gif",
                        showCancelButton: false,
                        showConfirmButton: false,
                        // confirmButtonColor: '#3085d6',
                        // cancelButtonColor: '#d33',
                        timer: 3000
                    })
                        // $('#button-checkin').fadeOut('fast');
                        $(".salary-dialog").hide("slow");
                        $("#button-checkin").hide("slow");


                    }
                })
            });

        $("#salary-btn").on('click', function () {
            $(".salary-dialog").hide("slow");
            $("#button-checkin").hide("slow");
            $.ajax({
                method: "GET",
                url: "/ajax/flat-notification",
                data: {id:1}
            }).done(function (output1){

            });
        })
        </script>

        <script>
            var KTAppSettings = {
            "breakpoints": {
                "sm": 576,
                "md": 768,
                "lg": 992,
                "xl": 1200,
                "xxl": 1400
            },
            "colors": {
                "theme": {
                    "base": {
                        "white": "#ffffff",
                        "primary": "#3699FF",
                        "secondary": "#E5EAEE",
                        "success": "#1BC5BD",
                        "info": "#8950FC",
                        "warning": "#FFA800",
                        "danger": "#F64E60",
                        "light": "#E4E6EF",
                        "dark": "#181C32"
                    },
                    "light": {
                        "white": "#ffffff",
                        "primary": "#E1F0FF",
                        "secondary": "#EBEDF3",
                        "success": "#C9F7F5",
                        "info": "#EEE5FF",
                        "warning": "#FFF4DE",
                        "danger": "#FFE2E5",
                        "light": "#F3F6F9",
                        "dark": "#D6D6E0"
                    },
                    "inverse": {
                        "white": "#ffffff",
                        "primary": "#ffffff",
                        "secondary": "#3F4254",
                        "success": "#ffffff",
                        "info": "#ffffff",
                        "warning": "#ffffff",
                        "danger": "#ffffff",
                        "light": "#464E5F",
                        "dark": "#ffffff"
                    }
                },
                "gray": {
                    "gray-100": "#F3F6F9",
                    "gray-200": "#EBEDF3",
                    "gray-300": "#E4E6EF",
                    "gray-400": "#D1D3E0",
                    "gray-500": "#B5B5C3",
                    "gray-600": "#7E8299",
                    "gray-700": "#5E6278",
                    "gray-800": "#3F4254",
                    "gray-900": "#181C32"
                }
            },
            "font-family": "Poppins"
        };
        </script>


    </html>