<?php
class Menu {
    function render($group_id, $attr) {
        $userStorage = Zend_Auth::getInstance()->getStorage()->read();

        if (isset($userStorage->menu) && $userStorage->menu) {

            $menu = $userStorage->menu;

        } else {

            $QMenu = new Application_Model_Menu();
            $where = $QMenu->getAdapter()->quoteInto('group_id = ?', $group_id);
            $menu = $QMenu->fetchAll($where, array('parent_id', 'position'));

        }

        include_once APPLICATION_PATH . '/../public/Menu/config.php';

        include_once APPLICATION_PATH . '/../public/Menu/includes/tree.php';
        $tree = new Tree;

        foreach ($menu as $row) {
            $label = '<a href="'.($row[MENU_URL] ? $row[MENU_URL] : '#').'">';
            $label .= $row[MENU_TITLE];
            $label .= '</a>';

            $tem = explode('/',  $row[MENU_URL]);

            $controller = (isset($tem[1]) and $tem[1]) ? $tem[1] : '';

            $active = '';
            if ($row[MENU_PARENT]==0 and Zend_Controller_Front::getInstance()->getRequest()->getControllerName()==$controller)
                $active = "active";

            $li_attr = '';
            if ($row[MENU_CLASS]) {
                $li_attr = ' class="'.$row[MENU_CLASS].' '. $active . '"';
            }
            $tree->add_row($row[MENU_ID], $row[MENU_PARENT], $li_attr, $label);
        }
        $menu = $tree->generate_list($attr);



        return $menu;
    }
}

$menu = new Menu();
echo $menu->render(1, '');

/*function genMenu($container)
{
    foreach ($container as $page)
    {
        $href = $page->uri;

        $icon = $page->icon;

        $top = $page->top;

        $tem = explode('/',  $href);

        $controller = (isset($tem[1]) and $tem[1]) ? $tem[1] : 'index';

        $class = '';
        if ($top and Zend_Controller_Front::getInstance()->getRequest()->getControllerName()==$controller)
            $class = "active";

        $userStorage = Zend_Auth::getInstance()->getStorage()->read();
        $show = $page->show;

        $showable = false;
        if ($show=='ALL' or $userStorage->id==SUPERADMIN_ID)
            $showable = true;
        else {
            $show = explode(',', $show);
            foreach ($show as $item){
                if ( $userStorage->group_id == constant($item) ) {
                    $showable = true;
                    break;
                }
            }
        }

        if ($showable)
            if (!empty($page->pages))
            {
                echo '<li class="dropdown '.$class.'">
                        <a href="javascript:;" class="dropdown-toggle" data-toggle="dropdown">
                            '.( $icon ? '<i class="'.$icon.'"></i>' : '' ).
                            '<span>'.$page->label.'</span>
                            <b class="caret"></b>
                        </a>
                        <ul class="dropdown-menu">';

                genMenu($page->pages);

                    echo '</ul>';
                echo '</li>';
            } else {
                echo '<li class="'.$class.'">';

                echo '<a href="' . $href . '">'
                    . ( $icon ? '<i class="'.$icon.'"></i>' : '' )
                    . '<span>' . $page->label . '</span></a>';
                echo '</li>';
            }
    }
}

echo '<ul class="mainnav">';

genMenu($this->container);

echo '</ul>';*/