<?php
class MenuParent {
    function render($group_id, $attr) {
        $userStorage = Zend_Auth::getInstance()->getStorage()->read();
		
		

        if (isset($userStorage->menu) && $userStorage->menu) {

            $menu = $userStorage->menu;

        } else {

            $QMenu = new Application_Model_Menu();
            $where = $QMenu->getAdapter()->quoteInto('group_id = ?', $group_id);
            $menu = $QMenu->fetchAll($where, array('parent_id', 'position'));

        }
		
		

        include_once APPLICATION_PATH . '/../public/Menu/config.php';

        include_once APPLICATION_PATH . '/../public/Menu/includes/tree_new_parent2020.php';
        $tree = new TreeParent;

        $lang = $userStorage->defaut_language;
		
		

        foreach ($menu as $row) {

            if($row['parent_id'] == 0){   
                $label = '<a class="nav-link" href="'.($row[MENU_URL] ? $row[MENU_URL] : '#').'">';
                if($lang == 1){
                    $label .= $row[MENU_TITLE_VIE];
                }
                elseif($lang == 2){
                    $label .= $row[MENU_TITLE];
                }

                $label .= '</a>';
            }
     


            $tem = explode('/',  $row[MENU_URL]);

            $controller = (isset($tem[1]) and $tem[1]) ? $tem[1] : '';

            $active = '';
            if ($row[MENU_PARENT]==0 and Zend_Controller_Front::getInstance()->getRequest()->getControllerName()==$controller)
                $active = " active";

            $li_attr = '';
            if ($row[MENU_CLASS]) {
                /*$li_attr = ' class="'.$row[MENU_CLASS].' '. $active . '"';*/
                $li_attr = ' '. $active;
            }
            $tree->add_row($row[MENU_ID], $row[MENU_PARENT], $li_attr, $label);
        }
		
		

        try
        {
            $QMenu2 = new Application_Model_Menu2();
            $menu_permisson = $QMenu2->getMenuPermission();
			
			
			
            foreach ($menu_permisson as $row) {
				
				

				if($row['parent_id'] == 0){
                    $label = '<a class="nav-link" href="'.($row[MENU_URL] ? $row[MENU_URL] : '#').'">';

					if($lang == 1){
						$label .= $row[MENU_TITLE_VIE];
					}
					elseif($lang == 2){
						$label .= $row[MENU_TITLE];
					}

					$label .= '</a>';
				}
				


				$tem = explode('/',  $row[MENU_URL]);

				$controller = (isset($tem[1]) and $tem[1]) ? $tem[1] : '';

				$active = '';
				if ($row[MENU_PARENT]==0 and Zend_Controller_Front::getInstance()->getRequest()->getControllerName()==$controller)
					$active = " active";

				$li_attr = '';
				if ($row[MENU_CLASS]) {
					/*$li_attr = ' class="'.$row[MENU_CLASS].' '. $active . '"';*/
					$li_attr = ' '. $active;
				}
				
				$tree->add_row($row[MENU_ID], $row[MENU_PARENT], $li_attr, $label);
				
            }
			
			
			
			
			
        }
        catch(Exception $e)
        {
            
        }

        $menu = $tree->generate_list($attr);



        return $menu;
    }
}

$menu = new MenuParent();
echo $menu->render(1, '');