<div class="navbar navbar-fixed-top">
    <div class="navbar-inner">
        <div class="container"> 
        	<a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
        		<?php if (isset($this->recent_notifications) && count($this->recent_notifications) > 0): ?>
					<span class="badge badge-important"><?php echo count($this->recent_notifications) ?></span>
        		<?php else: ?>
        			<span class="icon-bar"></span><span class="icon-bar"></span><span class="icon-bar"></span> 
        		<?php endif	?>
            </a>
            <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse"><span class="icon-bar"></span><span class="icon-bar"></span><span class="icon-bar"></span> </a><a class="brand" href="/"><img width="100px" src="/img/logo_oppo.png"/>
            </a>
            <div class="nav-collapse">
                <ul class="nav pull-right">
                    <?php $userStorage = Zend_Auth::getInstance()->getStorage()->read();
                        if ($userStorage->group_id == ADMINISTRATOR_ID):?>

                    <li><a href="/manage/cache?del=1">Clear cache</a></li>

                    <?php endif;?>
                    <!--  -->
                    <?php echo $this->render('notification-list.phtml') ?>
                    <!--  -->
                    <li class="dropdown"><a href="#" class="dropdown-toggle" data-toggle="dropdown"><i
                                class="icon-user"></i> <?php echo $this->name;?> </a>
                        <ul class="dropdown-menu">
                            <li><a href="/user/change-pass">Change password</a></li>
                            <li><a href="/user/logout">Logout</a></li>
                        </ul>
                    </li>
                </ul>
                <!--
                <form class="navbar-search pull-right">
                    <input type="text" class="search-query" placeholder="Search">
                </form>
                -->
            </div>
            <!--/.nav-collapse -->
        </div>
        <!-- /container -->
    </div>
    <!-- /navbar-inner -->
</div>