<?php if($this->access('training','create')):?>
    <div class="left-page">
    	<div class='title'>
            <div class="nav toggle">
                <a id="menu_toggle"><i class="fa fa-bars"></i></a>
            </div>
    		<div class="profile">
                <span class="glyphicon glyphicon-align-justify nav_menu" aria-hidden="true"></span>
                <div class="profile_pic bs-glyphicons-list">
                      <?php if(isset($this->staff) and !empty($this->staff->photo)):?>
    				  <span class="glyphicon glyphicon-user show_box_comment" aria-hidden="true">
                      <div class="staff-photo">  
                        <img src="<?php if(isset($this->staff) and !empty($this->staff->photo)) printf(HOST.'photo/staff/'.$this->staff->id.'/'.$this->staff->photo);  ?>" />
                      </div>
                      </span>
                      <?php else:?>
                      <span class="glyphicon glyphicon-user show_box_comment" aria-hidden="true">
                      </span>
                      <?php endif;?>
                      
                      <?php if(($this->countComment)>0):echo "<div class='count_comment'>".$this->countComment."</div>";endif;?>
                      <div class="box_comment" block='0'>
                      </div>
                      <div class='user'>
                        <span>Welcome,</span>
                        <h2><?php echo $this->name;?></h2>
                      </div>
                </div>
                <div class="profile_info">
                    <span><!-- Administrator--></span>
                </div>
            </div>
    	</div>
    	<div class="cat">
    		<div class="box_categories">
    			<div id="cssmenu">
    			<ul>
                    <?php if (isset($this->cat) && $this->cat): ?>
                    <?php foreach ($this->cat as $key => $value): ?>
                    <li class="has-sub cat0"><a class="current"><?php echo $value['title'];?></a>
    					<ul>
                            <li><a href="<?php echo HOST ?>training/create-cat?cat=<?php echo $value['id'];?>" class="add_new_menu">Thêm mới</a></li>
                            <?php if (isset($this->catArr[$key]) && $this->catArr[$key]): ?>
                            <?php foreach ($this->catArr[$key] as $_key => $_value): ?>
                            <li class="has-sub cat1 new<?php echo $_value['new'];?>"><a><?php echo $_value['title'];?></a>
    					    	<ul>
                                    <li><a href="<?php echo HOST ?>training/create?cat=<?php echo $_value['id'] ?>" class="add_new_menu">Thêm mới</a></li>
                                    <?php if (isset($this->lessonArr[$key][$_key]) && $this->lessonArr[$key][$_key]): ?>
                                    <?php foreach ($this->lessonArr[$key][$_key] as $key2 => $value2): ?>
    								<li <?php if (isset($this->inform->id)){ if(($value2['id'])==($this->inform->id)) : echo "class='current_class'";endif;} ?>><a href="<?php echo HOST ?>training/create?id=<?php echo $value2['id'] ?>" class="new<?php echo $value2['new'];?>"><?php echo $value2['title'];?></a></li>
                                    <?php endforeach; ?>
                                    <?php endif ?>
    							</ul>
    						</li>
                            <?php endforeach; ?>
                            <?php endif ?>
                            
                            <?php if (isset($this->lesson1Arr[$key]) && $this->lesson1Arr[$key]): ?>
                            <?php foreach ($this->lesson1Arr[$key] as $_key => $_value): ?>
                            <li <?php if (isset($this->inform->id)){ if(($_value['id'])==($this->inform->id)) : echo "class='current_class'";endif;} ?>><a href="<?php echo HOST;?>/training/create?id=<?php echo $_value['id']; ?>" class="new<?php echo $_value['new'];?>"><?php echo $_value['title'];?></a>
    						</li>
                            <?php endforeach; ?>
                            <?php endif ?>
                            
    					</ul>
    				</li>
                    <?php endforeach; ?>
                    <?php endif ?>
                    <li><a href="<?php echo HOST ?>training/lesson"> Danh sách bài học</a></li>
                    <li><a href="<?php echo HOST ?>training/cat"> Danh sách chủ đề</a></li>
    				<li><a href="<?php echo HOST ?>training/trainer-check"> Tạo học viên mới</a></li>
                    <li><a href="<?php echo HOST ?>training/trainer"> Quản lý học viên</a></li>
                    <?php if($this->access('training','banner')): ?>
                    <li><a href="<?php echo HOST ?>training/banner">Quản lý Banner</a></li>
                    <?php endif;?>
    			</ul>
    			</div>
    		</div>
    	</div><!-- cat-->
    </div>
<?php else:?>

<div class="left-page">
	<div class='title'>
        <div class="nav toggle">
            <a id="menu_toggle"><i class="fa fa-bars"></i></a>
        </div>
		<div class="profile">
            <span class="glyphicon glyphicon-align-justify nav_menu" aria-hidden="true"></span>
            <div class="profile_pic bs-glyphicons-list">
				  <?php if(isset($this->staff) and !empty($this->staff->photo)):?>
				  <span class="glyphicon glyphicon-user show_box_comment" aria-hidden="true">
                  <div class="staff-photo">  
                    <img src="<?php if(isset($this->staff) and !empty($this->staff->photo)) printf(HOST.'photo/staff/'.$this->staff->id.'/'.$this->staff->photo);  ?>" />
                  </div>
                  </span>
                  <?php else:?>
                  <span class="glyphicon glyphicon-user show_box_comment" aria-hidden="true">
                  </span>
                  <?php endif;?>
                  
                  <?php if(($this->countComment)>0):echo "<div class='count_comment'>".$this->countComment."</div>";endif;?>
                  <div class="box_comment" block='0'>
                  </div>
                  <div class='user'>
                    <span>Welcome,</span>
                    <h2><?php echo $this->name;?></h2>
                  </div>
            </div>
            <div class="profile_info">
                <span><!-- Administrator--></span>
            </div>
        </div>
	</div>
	<div class="cat">
		<div class="box_categories">
			<div id="cssmenu">
			<ul>
                <?php if (isset($this->cat) && $this->cat): ?>
                <?php foreach ($this->cat as $key => $value): ?>
                <li class="has-sub cat0"><a class="current"><?php echo $value['title'];?></a>
					<ul>
                        <?php if (isset($this->catArr[$key]) && $this->catArr[$key]): ?>
                        <?php foreach ($this->catArr[$key] as $_key => $_value): ?>
                        <li class="has-sub cat1 new<?php echo $_value['new'];?>"><a><?php echo $_value['title'];?></a>
					    	<ul>
                                <?php if (isset($this->lessonArr[$key][$_key]) && $this->lessonArr[$key][$_key]): ?>
                                <?php foreach ($this->lessonArr[$key][$_key] as $key2 => $value2): ?>
								<li <?php if (isset($this->inform->id)){ if(($value2['id'])==($this->inform->id)) : echo "class='current_class'";endif;} ?>><a href="<?php echo HOST ?>training/lesson-details?id=<?php echo $value2['id'] ?>"><?php echo $value2['title'];?></a></li>
                                <?php endforeach; ?>
                                <?php endif ?>
							</ul>
						</li>
                        <?php endforeach; ?>
                        <?php endif ?>
                        
                        <?php if (isset($this->lesson1Arr[$key]) && $this->lesson1Arr[$key]): ?>
                        <?php foreach ($this->lesson1Arr[$key] as $_key => $_value): ?>
                        <li <?php if (isset($this->inform->id)){ if(($_value['id'])==($this->inform->id)) : echo "class='current_class'";endif;} ?>><a href="<?php echo HOST;?>/training/lesson-details?id=<?php echo $_value['id']; ?>"><?php echo $_value['title'];?></a>
						</li>
                        <?php endforeach; ?>
                        <?php endif ?>

					</ul>
				</li>
                <?php endforeach; ?>
                <?php endif ?>
                <li><a href="<?php echo HOST ?>training/scores">Kết quả</a></li>
			</ul>
			</div>
		</div>
	</div><!-- cat-->
</div>

<?php endif;?>
