<?php
/* xu ly noi dung :)*/
$v = $this->v;


 ?>
<p  style="margin-left:.5in;text-align:justify;text-indent:-.25in;
mso-list:l1 level1 lfo1;tab-stops:list .5in left 207.0pt 4.5in"><span style="font-family:VNI-Times;mso-fareast-font-family:VNI-Times;mso-bidi-font-family:
VNI-Times">-<span style="">&nbsp;&nbsp;&nbsp;&nbsp;
</span></span>Tổng tiền lương đã bao gồm phụ cấp trách nhiệm, BHXH, BHYT, BHTN, phép năm và các khoản phụ cấp khác (nếu có): &nbsp; <b><span style="color:blue"> <?php if(isset($v)) echo intval($v['probation_salary']); ?></span></b><span style="color:blue"> &nbsp;</span>đồng/tháng, trong đó: <o:p></o:p></p>

<p class="MsoNormal" style="margin-top:0in;margin-right:0in;margin-bottom:2.0pt;
margin-left:1.0in;text-indent:-.25in;line-height:18.0pt;mso-line-height-rule:
exactly;mso-list:l1 level2 lfo2;tab-stops:list 1.0in"><span style="font-family:Symbol;mso-fareast-font-family:Symbol;mso-bidi-font-family:
Symbol">•<span style="font-stretch: normal; font-size: 7pt; line-height: normal; font-family: 'Times New Roman';">&nbsp;&nbsp;&nbsp;&nbsp;
</span></span><span style="border:none windowtext 1.0pt;
mso-border-alt:none windowtext 0in;padding:0in">Tiền lương cơ bản: <?php if(isset($v)) echo intval($v['base_probation_salary']); ?>  đồng/tháng; </span><o:p></o:p></p>


<p class="MsoNormal" style="margin-top:0in;margin-right:0in;margin-bottom:2.0pt;
margin-left:1.0in;text-indent:-.25in;line-height:18.0pt;mso-line-height-rule:
exactly;mso-list:l1 level2 lfo2;tab-stops:list 1.0in"><span style="font-family:Symbol;mso-fareast-font-family:Symbol;mso-bidi-font-family:
Symbol">•<span style="font-stretch: normal; font-size: 7pt; line-height: normal; font-family: 'Times New Roman';">&nbsp;&nbsp;&nbsp;&nbsp;
</span></span><span style="border:none windowtext 1.0pt;
mso-border-alt:none windowtext 0in;padding:0in">Trợ cấp chi phí thực hiện công việc: <?php if(isset($v)) echo intval($v['work_cost']); ?>  đồng/tháng; </span><o:p></o:p></p>

<p  style="margin-left:.5in;text-align:justify;text-indent:-.25in;
mso-list:l1 level1 lfo1;tab-stops:list .5in left 207.0pt 4.5in"><span style="font-family:VNI-Times;mso-fareast-font-family:VNI-Times;mso-bidi-font-family:
VNI-Times">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;*<span style="">&nbsp;&nbsp;&nbsp;&nbsp;
</span></span>Các khoản trợ cấp có thể thay đổi tùy theo tình hình thực tế của Công ty;<o:p></o:p></p>

<p  style="margin-left:.5in;text-align:justify;text-indent:-.25in;
mso-list:l1 level1 lfo1;tab-stops:list .5in left 207.0pt 4.5in"><span style="font-family:VNI-Times;mso-fareast-font-family:VNI-Times;mso-bidi-font-family:
VNI-Times">-<span style="">&nbsp;&nbsp;&nbsp;&nbsp;
</span></span>Thưởng doanh số: theo chính sách KPI tại từng thời điểm của Công ty và tính thưởng theo mức KPI thực tế (nếu có);<o:p></o:p></p>

<p  style="margin-left:.5in;text-align:justify;text-indent:-.25in;
mso-list:l1 level1 lfo1;tab-stops:list .5in left 207.0pt 4.5in"><span style="font-family:VNI-Times;mso-fareast-font-family:VNI-Times;mso-bidi-font-family:
VNI-Times">-<span style="">&nbsp;&nbsp;&nbsp;&nbsp;
</span></span>Hình thức trả lương, thưởng:  Chuyển khoản/tiền mặt;<o:p></o:p></p>

<p  style="margin-left:.5in;text-align:justify;text-indent:-.25in;
mso-list:l1 level1 lfo1;tab-stops:list .5in left 207.0pt 4.5in"><span style="font-family:VNI-Times;mso-fareast-font-family:VNI-Times;mso-bidi-font-family:
VNI-Times">-<span style="">&nbsp;&nbsp;&nbsp;&nbsp;
</span></span>Được trả lương và thưởng doanh số vào ngày 10 hàng tháng;<o:p></o:p></p>

<p  style="margin-left:.5in;text-align:justify;text-indent:-.25in;
mso-list:l1 level1 lfo1;tab-stops:list .5in left 207.0pt 4.5in"><span style="font-family:VNI-Times;mso-fareast-font-family:VNI-Times;mso-bidi-font-family:
VNI-Times">-<span style="">&nbsp;&nbsp;&nbsp;&nbsp;
</span></span>Được trang bị bảo hộ lao động : theo nhu cầu
công việc<o:p></o:p></p>

<p  style="margin-left:.5in;text-align:justify;text-indent:-.25in;
mso-list:l1 level1 lfo1;tab-stops:list .5in left 207.0pt 4.5in"><span style="font-family:VNI-Times;mso-fareast-font-family:VNI-Times;mso-bidi-font-family:
VNI-Times">-<span style="">&nbsp;&nbsp;&nbsp;&nbsp;
</span></span>Chế độ nghỉ ngơi: nghỉ 01 ngày/ tuần;<o:p></o:p></p>

<p  style="margin-left:.5in;text-align:justify;text-indent:-.25in;
mso-list:l1 level1 lfo1;tab-stops:list .5in left 207.0pt 4.5in"><span style="font-family:VNI-Times;mso-fareast-font-family:VNI-Times;mso-bidi-font-family:
VNI-Times">-<span style="">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
</span></span>Chế độ đào tạo: Theo quy định của Công ty và yêu cầu công việc. <o:p></o:p></p>
<p  style="margin-left:.5in;text-align:justify;text-indent:-.25in;
mso-list:l1 level1 lfo1;tab-stops:list .5in left 207.0pt 4.5in"><span style="font-family:VNI-Times;mso-fareast-font-family:VNI-Times;mso-bidi-font-family:
VNI-Times">-<span style="">&nbsp;&nbsp;&nbsp;&nbsp;
</span></span>Những thoả thuận khác: không có.<o:p></o:p></p>