<?php
/* xu ly noi dung :)*/
$v = $this->v;

 ?>

<p class="cols2">-<span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
</span></span> Mức lương và phụ cấp mới: <o:p></o:p></p>

<p class="cols2"><span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
</span></span> Tổng lương: <?php if(isset($v)) echo intval($v['bonus_salary']);  ?> đồng/tháng, trong đó:  <o:p></o:p></p>


<p class="cols2 left2">•<span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>	<span>Lương cơ bản là: <?php if(isset($v)) echo intval($v['base_salary']) ?>  đồng/tháng</span>

<p class="cols2 left2">•<span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
</span></span> Trợ cấp chi phí thực thực hiện công việc: <?php if(isset($v)) echo intval($v['work_cost']) ?> đồng/tháng. <o:p></o:p></p>


<p class="cols2 left2">•<span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
</span></span> Trợ cấp cơm trưa: <?php if(isset($v)) echo intval($v['allowance_1']) ?> đồng/tháng. <o:p></o:p></p>

<p class="cols2 left2">•<span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
</span></span> Trợ cấp xăng: <?php if(isset($v)) echo intval($v['allowance_2']) ?> đồng/tháng. <o:p></o:p></p>

<p class="cols2 left2">•<span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
</span></span> Trợ cấp điện thoại: <?php if(isset($v)) echo intval($v['allowance_3']) ?> đồng/tháng. <o:p></o:p></p>


<p class="cols2"><span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
</span></span>*Mức trợ cấp có thể thay đổi vào tình hình thực tế của Công ty; <o:p></o:p></p>

<p class="cols2">-<span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
</span></span>Thưởng doanh số: theo chính sách KPI tại từng thời điểm của Công ty và tính thưởng theo mức KPI thực tế (nếu có); <o:p></o:p></p>
