<?php
/* xu ly noi dung :)*/
$v   = $this->v;
$kpi = $v['kpi'];
if(in_array($v['contract_term'],array(2,3,4,13))){
	$kpi = $v['kpi_1'];
}
?>

<p class="cols2">-<span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
</span></span>Tiền lương, thưởng doanh số hàng tháng: <o:p></o:p></p>

<p class="cols2"><span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    </span></span> 	Tổng tiền lương:  <?php if(isset($v)) echo intval($v['bonus_salary']) ?> đồng/ tháng , trong đó: <o:p></o:p></p>

<p class="cols2 left2">•<span> Lương cơ bản: <?php if(isset($v)) echo intval($v['base_salary']) ?> đồng/tháng<o:p></o:p></p>

<p class="cols2 left2">•<span> Trợ cấp chi phí phục vụ công việc*(nếu có): <?php if( isset($v) ) echo intval($v['work_cost']) ?> đồng/tháng<o:p></o:p></p>

<p class="cols2">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;*Mức trợ cấp có thể thay đổi vào tình hình thực tế của Công ty;</p>

<p class="cols2"><span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    </span></span> 	Thưởng doanh số:theo chính sách KPI tại từng thời điểm của Công ty và <?php  echo $kpi; ?>;<o:p></o:p></p>
