<script type="text/javascript" src="/js/jquery-ui-1.8.12.custom.min.js"></script>
<script type="text/javascript" src="/js/jquery.checkboxtree.js"></script>
<link rel="stylesheet" type="text/css" href="/css/jquery-ui-1.8.12.custom.css"/>
<link rel="stylesheet" type="text/css" href="/css/jquery.checkboxtree.css"/>
<div class="page-header">
    <?php if (isset($this->group) and $this->group):?>
        <h1>Edit Group</h1>
    <?php else:?>
        <h1>Create Group</h1>
    <?php endif;?>
</div>
<?php
if (isset($this->messages) and $this->messages)
    foreach ($this->messages as $message):
        echo '<div class="alert alert-error">'.$message.'</div>';
    endforeach;
?>

<form role="form" action="<?php echo HOST.'/group/save';?>" method="post">

    <div class="form-group">
        <label for="system">System</label>
        <select id="system" name="system" required="required">
            <option value="">Select</option>
            <?php
            $arrSystems = unserialize(SYSTEM_CONFIG);
            foreach ($arrSystems as $id=>$item){
                ?>
                <option value="<?php echo $id;?>" <?php if (isset($this->group['system']) and $this->group['system'] == $id){?> selected<?php } ?>><?php echo $item;?></option>
            <?php } ?>
        </select>
    </div>

    <div class="form-group">
        <label for="name">Name</label>
        <input type="text" class="form-control" id="name" placeholder="Enter Name" name="name" required="required" value="<?php isset($this->group) and $this->group and printf($this->group->name);?>">
    </div>

    <div id="privilege">
        <?php echo $this->render('group/partials/create/privilege.phtml');?>
    </div>

    <input type="hidden" name="id" id="id" value="<?php isset($this->group) and $this->group and printf($this->group->id);?>">
    <button type="submit" class="btn btn-primary">Submit</button>
</form>

<script>
    $('#tree1, #tree2').checkboxTree();
</script>
