<form action="<?php echo HOST ?>purchasing/code-supplier" class="form-horizontal form-search" method="get">

    <div class="control-group">
        <label class="control-label" for="name">Supplier</label>
        <div class="controls">
            <input type="text" name="supplier" value="<?php if(isset($this->params['supplier']) && $this->params['supplier']) echo $this->params['supplier'] ?>">
        </div>
    </div>
    <div class="control-group">
        <label class="control-label" for="name">Code</label>
        <div class="controls">
            <input type="text" name="code" value="<?php if(isset($this->params['code']) && $this->params['code']) echo $this->params['code'] ?>">
        </div>
    </div>
    <div class="control-group">
        <label class="control-label" for="name">Price</label>
        <div class="controls">
            <input type="text" name="price" value="<?php if(isset($this->params['price']) && $this->params['price']) echo $this->params['price'] ?>">
        </div>
    </div>
    <!-- <div class="control-group">
        <label class="control-label" for="name">Default</label>
        <div class="controls">
            <select name="default">
                <option value>Choose Default</option>
                
                    <option value="1" <?php echo $this->params['default'] == 1 ? 'selected' : ''?>>Default</option>
                    <option value="2" <?php echo $this->params['default'] == 2 ? 'selected' : ''?>>No Default</option>
              
            </select>
        </div>
    </div> -->


    <div class="control-group">
        <div class="controls">
            <button class="btn btn-info">Search</button>
            <button type="reset" class="btn btn-warning">Reset</button>
        </div>
    </div>    
</form>