<div class="page-header">
    <h1>Reserve Fee</h1>

</div>
<?php
if (isset($this->messages) and $this->messages)
    foreach ($this->messages as $message):
        echo '<div class="alert alert-error">' . $message . '</div>';
    endforeach;
if (isset($this->messages_success) and $this->messages_success)
    foreach ($this->messages_success as $message):
        echo '<div class="alert alert-success">' . $message . '</div>';
    endforeach;
?>
<div class="accordion" id="accordion2">
    <div class="accordion-group">
        <div id="collapseTwo" class="accordion-body collapse" style="height: 0px;">
            <div class="accordion-inner">
                <form id="form_search">
                    <div class="row">

                        <div class="span3">
                            <label> Deparment:</label>
                            <select required="required" name="department_id">
                                <option value="">-----</option>
                                <?php
                                if (!empty($this->department)):
                                    foreach ($this->department as $key => $value):?>
                                        <option value="<?= $key ?>" <?= (!empty($this->userStorage->department) AND $this->userStorage->department == $key) ? "selected" : ""; ?>>
                                            <?= $value ?>
                                        </option>

                                    <?php endforeach;endif; ?>

                            </select>
                        </div>
                        <div class="span3">
                            <label> Reserve Fee:</label>
                            <input required="required" class="number" name="reserve_fee"/>
                        </div>
                        <div class="span3">
                            <label> Offer date:</label>
                            <input autocomplete="off" class="date" name="reserve_date" value="<?= date('Y/m/d'); ?>"/>
                        </div>
                        <div class="span3">
                            <div class="form-group ">
                                <button type="submit" class="btn btn-success ">Search</button>
                            </div>
                        </div>

                    </div>
                </form>
            </div>
        </div>
    </div>
    <div class="accordion-group">
        <div class="accordion-heading">
            <a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion3"
               href="#collapseThree">
                Create
            </a>
        </div>
        <div id="collapseThree" class="accordion-body collapse" style="height: 0px;">
            <div class="accordion-inner">
                <form id="form_submit">
                    <div class="row">

                        <div class="span3">
                            <label> Deparment:</label>
                            <select required="required" name="department_id">
                                <option value="">-----</option>
                                <?php
                                if (!empty($this->department)):
                                    foreach ($this->department as $key => $value):?>
                                        <option value="<?= $key ?>" <?= (!empty($this->userStorage->department) AND $this->userStorage->department == $key) ? "selected" : ""; ?>>
                                            <?= $value ?>
                                        </option>

                                    <?php endforeach;endif; ?>

                            </select>
                        </div>
                        <div class="span3">
                            <label> Reserve Fee:</label>
                            <input required="required" class="number" name="reserve_fee"/>
                        </div>
                        <div class="span3">
                            <label> Offer date:</label>
                            <input autocomplete="off" class="date" name="reserve_date" value="<?= date('Y-m-d'); ?>"/>
                        </div>
                        <div class="span12">
                            <div class="form-group " style="float:right">
                                <button type="submit" class="btn btn-success ">Create</button>
                            </div>
                        </div>

                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<div class="table-responsive">

    <div class="container">
        <div class="table-responsive">
            <table class="table table-bordered">
                <thead>
                <form action="<?= HOST ?>\reserve-fee/reserve-fee">
                    <button type="submit" name="day" value="<?= $this->day - 6 ?>"><i class="icon-chevron-left"></i>
                    </button>
                    <?php if (!empty($this->arrayDate)):
                        foreach ($this->arrayDate as $k => $v):
                            ?>
                            <th style="text-align: center;<?= date("Y-m-d") == $k ? "background:cyan;" : "" ?>"><?= $v ?>
                                <br><?= date_format(date_create($k), "d-m-Y") ?> </th>
                        <?php endforeach;endif; ?>
                    <button style="float:right;" type="submit" name="day" value="<?= $this->day + 6 ?>"><i
                                class="icon-chevron-right"></i></button>
                </form>

                </thead>
                <tbody>
                <tr>
                    <?php if (!empty($this->arrayDate)):
                        foreach ($this->arrayDate as $date => $dayofweek):
                            ?>
                            <td>

                                <?php if (!empty($this->listReserve)):
                                    foreach ($this->listReserve as $k => $v):
                                        if ($k == $date) {
                                            foreach ($v as $department_id => $amount) {
                                                echo "<b>" . $department_id . ":</b> " . number_format($amount) . "<br>";
                                            }
                                        }
                                        ?>
                                    <?php endforeach;endif; ?>
                            </td>
                        <?php endforeach;endif; ?>

                </tr>

                <?php if (!empty($this->arrayDate)):
                    foreach ($this->arrayDate as $date => $dayofweek):
                        ?>
                        <td><b>Total:</b>
                            <?= (array_key_exists($date, $this->totalFee)) ? number_format($this->totalFee[$date]) : "0"; ?>
                        </td>
                    <?php endforeach;endif; ?>
                <tr>

                </tr>
                </tbody>
            </table>

        </div>
        <div class="page-header">
<!--            <h1>Your schedule</h1>-->
        </div>
        <?php
        if (isset($this->messages) and $this->messages)
            foreach ($this->messages as $message):
                echo '<div class="alert alert-success">' . $message . '</div>';
            endforeach;
        ?>
        <div class="widget widget-nopad">
            <div class="widget-header"><i class="icon-list-alt"></i>
                <h3>Schedule Reserve Fee</h3>
            </div>
            <!-- /widget-header -->
            <div class="widget-content">
                <div id='calendar'>
                </div>
            </div>
            <!-- /widget-content -->
        </div>
        <script language="javascript" type="text/javascript" src="/js/full-calendar/fullcalendar.min.js"></script>
        <script>
            $(document).ready(function () {
                $('.form-search button:reset').click(function (e) {
                    $('.form-search input, .form-search select').val('');
                    $('.form-search').submit();
                    return false;
                });
                $('.date').datepicker({dateFormat: "yy-mm-dd"});
                getData();

                // submit form
                $('#form_submit').submit(function (e) {
                    e.preventDefault();
                    $.ajax({
                        url: '/reserve-fee/save-reserve-fee',
                        type: 'post',
                        data: new FormData(this),
                        dataType: 'json',
                        contentType: false,
                        cache: false,
                        processData: false
                    }).done(function (data) {
                        if (data.status == 1) {
                            Swal.fire({
                                type: 'success',
                                title: 'Thành công',
                                showConfirmButton: false,
                                timer: 1000
                            });
                            setTimeout(function () {
                                $(location).attr("href", "/reserve-fee/reserve-fee");
                            }, 1000)

                        } else {
                            Swal.fire({
                                type: 'error',
                                title: 'Tạo đề xuất thất bại !',
                                showConfirmButton: false,
                                timer: 1000
                            });
                        }
                    });
                });


            });

            async function getData() {
                var result = await $.ajax({
                    method: "POST",
                    url: "/ajax/get-reserve-fee",
                    data: {test: 1},
                    dataType: "json",
                })
                    .done(function (data) {
                        var date = new Date();
                        var d = date.getDate();
                        var m = date.getMonth();
                        var y = date.getFullYear();


                        var my_event=[];
                        var arr_temp={};
                        console.log(data);
                        $.each(data,function(key,object){
                            $.each(object,function(k,v){

                                console.log(k);
                                arr_temp={
                                    title: k+": "+v.toString().replace(/(\d)(?=(\d{3})+(?!\d))/g, "$1,"),
                                    start: new Date(key),
                                };
                                my_event.push(arr_temp);
                            })
                        });
                        console.log(my_event);
                        var calendar = $('#calendar').fullCalendar({
                            header: {
                                left: 'prev,next today',
                                center: 'title',
                                right: 'month'
                            },
                            selectable: true,
                            selectHelper: true,
                            // editable: true,
                            events: my_event,
                            eventColor: '#ffffff',
                        });
                    });
            }
        </script>
    </div>
    <script type="text/javascript" src="<?php echo HOST ?>js/bootstrap-multiselect.js"></script>
    <link rel="stylesheet" href="<?php echo HOST ?>css/bootstrap-multiselect.css" type="text/css"/>
    <script type="text/javascript" src="<?php echo HOST ?>js/jquery-ui-1.8.12.custom.min.js"></script>
    <link rel="stylesheet" type="text/css" href="<?php echo HOST ?>css/jquery-ui-1.8.12.custom.css"/>
    <?php echo $this->confirm(); ?>
    <?php echo $this->load('combobox'); ?>

