<style>
  .section-add-sales{
    display: inline-block;
    margin:0px;
    padding:0px;
  }
  ul li{
    margin:0px;
    padding:0px;
  }
  .dropdown-menu{
    margin :0px;
  }
</style>
<?php if ($this->success) :?>
        <div class="alert alert-success"> <?php echo $this->success; ?> </div>
<?php endif; ?>

<?php if ($this->error) :?>
  <?php foreach($this->error as $value):?>
        <div class="alert alert-error"> <?php echo $value; ?> </div>
  <?php endforeach;?>      
<?php endif; ?>

  <h2 class="text-center" style="text-align: center">Danh sách sản phẩm đã bán</h2><br>
<div class="section-add-sales">
  <div class="btn-group" role="group">
    <button id="btnGroupDrop1" type="button" class="btn btn-info dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false" >
      Thêm sản phẩm đã bán
    </button>
    <ul class="dropdown-menu"  aria-labelledby="btnGroupDrop1">
      <li><a class="dropdown-item" href="/kpi-sale/create-product-sale?page=<?php echo $this->curPage?>">
          <i class="fas fa-plus"></i> Thêm thủ công
      </a></li>
      <li><a class="dropdown-item" id="btn-upload-file" href="#">
         <i class="fas fa-upload"></i> Thêm từ file Excel</a>
       </li>
      <li><a class="dropdown-item" href="/kpi-sale/create-template-excel?page=<?php echo $this->curPage?>">
          <i class="far fa-file-excel"></i>Tải bản Excel mẫu</a>
      </li>
    </ul>
  </div>

</div>

  
        	 <!-- Khung search -->
           <div class="accordion-group">
                <div class="accordion-heading">
                    <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapseTwo">
                      Search
                    </a>
                </div>
                <div id="collapseTwo" class="accordion-body collapse" style="height: 0px;">
                    <div class="accordion-inner">
                        <form action="/kpi-sale?" method="get"  autocomplete="off"> 
                        <div class="row">
                          <lavel>Từ ngày: </lavl>
                         
                          &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<input type="date" name='date-start' id="date-start" max="<?php  echo date('Y-m-d',time());?>" value="<?php echo $this->dateStart ?>">
                          <lavel style="margin-left:50px">Đến ngày: </lavel>
                          <input type="date" name='date-end' id="date-end" max="<?php  echo date('Y-m-d',time());?>" value="<?php echo $this->dateEnd ?>">
                        </div>
                        <div class="mt-4">
                          Tên sản phẩm: <input type="text" name="product-name" value="<?php echo $this->productName ?>">
                        </div>
                        <div class="mt-4">
                         Họ & Tên: &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<input type="text" name="staff-name" value="<?php echo $this->staffName ?>">
                        </div>
                        <div class="mt-4">
                         Email: &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<input type="text" name="email" value="<?php echo $this->email  ?>" >
                        </div>
                          <div class ="mt-4">
                            <input class="btn btn-success" type="submit" name="submit" value="Search">
                            <input class="btn btn-primary" type="submit" name="export" value="Export">
                            <a href="/kpi-sale" class="btn btn-warning">Reset</a>
                          </div>
                        </form>
                    </div>
                </div>
           </div>
            <!-- END Khung search -->
  <hr>
  <table class="table table-bordered">
    <thead>
      <tr>
        <th>STT</th>
        <th>Họ & Tên</th>
        <th>Email</th>
        <th>Ngày bán</th>
        <th>Sản phẩm</th>
        <th>Tiền thưởng</th>
        <th>Số lượng</th>
        <th>Tổng tiền thưởng</th>
        <th>Thao tác</th>
      </tr>
    </thead>
    <tbody>
      <?php $stt = $this->stt; ?>
      <?php foreach($this->data as $key => $value):?>
        <?php ++$stt?>
         <tr>
           <td><?php echo $stt?></td>
           <td><?php echo $value['firstname'].' '.$value['lastname']; ?></td>
           <td><?php echo $value['email']; ?></td>
           <td><?php echo $value['pgpb_sales_date'] ;?></td>
           <td><?php echo $value['desc']; ?></td>
           <td><?php echo number_format($value['bonus_amount']). ' VNĐ'; ?></td>
           <td><?php echo $value['pgpb_sales_amount'];?></td>
           <td><?php echo number_format($value['pgpb_sales_total']).' VNĐ';?></td>
           <td><a  class="fas fa-backspace btn-delete"  href="/kpi-sale/delete-product-sale?<?php echo $this->curParams ?>&id=<?php echo $value['pgpb_sales_id']?>"> Xóa</a></td>
         </tr>
      <?php endforeach;?>
    </tbody>
  </table>

    <div class="paging">
        <?php 
            echo $this->paginationControl($this->paginator,'Sliding','pagination.phtml'); 
        ?>
    </div>

  <script type="text/javascript" src="/js/sweetalert2.all.min.js"></script>

  <script>
      $(document).ready(function () {
        $('.accordion-toggle').next().slideToggle();
        
        $('.btn-delete').click(function (e) { 
          e.preventDefault();
          swal({
              title: "Bạn có chắc chắn muốn xóa ?",
              text: 'Nhấn "Ok" hoàn tất thao tác',
              icon: "warning",
              buttons: true,
              dangerMode: true,
            })
            .then((willDelete) => {
              if (willDelete) {
                location.href = e.target.href;
                swal("Xóa thành công !", {
                  icon: "success",
                });
              } 
            });
        });

        $('.section-add-sales').mouseenter(function() {
            $('#btnGroupDrop1').next().slideDown(100);
        });
        $('.section-add-sales').mouseleave(function() {
            $('#btnGroupDrop1').next().slideUp(100);
        });
        $('#btn-upload-file').click(function(e){
          e.preventDefault();
              Swal.fire({
              title: 'Chọn file Excel',
              html: `<div class="message" style="color:red;"></div>
                <form method = "POST" action="" id="form-upload" enctype="multipart/form-data" enctype="multipart/form-data">
                  <input type="file" name="file-upload" accept=".xlsx,.xls">
                </form>
                `,
              confirmButtonText: 'Upload',
              focusConfirm: false,
              }).then((result) => {
                if(result.value){
                  var val  =  $("input[type=file]").val().trim();
                  if(val.length !=0 ){
                    $('#form-upload').submit();
                  }
                }
                 
            })
        });

      });
    
  </script>