<table class="table table-bordered">
    <thead>
        <tr>
            <th>#</th>
            <th>Staff name</th>
            <th>ID number</th>
            <th>Type</th>
            <th>Date buy</th>
            <th>Good name</th>
            <th>Good color</th>
            <th>Imei</th>
            <th>Action</th>
        </tr>
    </thead>
    <tbody>
        <?php 
            if(isset($this->list) AND $this->list):
                $stt = $this->offset + 1;
                foreach($this->list as $item):
        ?>
        <tr>
            <td><?php echo $stt;?></td>
            <td>
                <?php echo $item['staff_name'];?>
            </td>
            <td>
                <?php echo $item['id_number'];?>
            </td>
            <td>
                <?php echo $this->staff_order_types[$item['type']]; ?>
            </td>
            <td>
                <?php echo date('d/m/Y',strtotime($item['date_buy']));?>
            </td>
            <td><?php echo $item['good_name'];?></td>
            <td><?php echo $item['good_color_name'];?></td>
            <td>
                <?php echo $item['imei'];?>
            </td>
            <td></td>
        </tr>
        <?php 
                    endforeach;
            endif;
        ?>
    </tbody>
</table>

<div class="paging">
    <?php echo $this->paging($this->total, $this->limit, $this->offset, $this->url);?>
</div>

<script type="text/javascript" src="/js/jquery-ui-1.8.12.custom.min.js"></script>
<link rel="stylesheet" type="text/css" href="/css/jquery-ui-1.8.12.custom.css"/>
<?php echo $this->load();?>
<?php echo $this->confirm();?>
<script>
    $(document).ready(function(){
      
		$('.confirmLink').bind("contextmenu",function(e){
		    return false;
		});

    })
</script>