<script src="/js/tableHeadFixer.js">
</script>

<style>
    .approved
    {
        color: #00ba8b;
        font-weight: bold;
    }

    .non-approved
    {
        color: #999;
    }
    .dropdown-menu{
        margin-left: -100px;
    }
    .scroll
    {
        max-height: 700px;
        min-height: 200px;
    }

    .cell
    {
        cursor: pointer;
    }

    td.cell:hover
    {
        background: #F2A736;
    }

    td.hightlight
    {
        background: #994500;
    }

    .table-time td
    {
        padding: 7px;;
    }

    td.not-approve
    {
        background: red;
    }

    tr.need-approve
    {
        background: #BE5632;
    }

    .view_detail
    {
        cursor: pointer;
    }

    h1.inline, h3.inline
    {
        display: inline-block;
    }
    @media only screen and (max-width: 500px)
    {
        .table_list_staff_time{
            display: block;
            /*overflow-x: overlay;*/
            /*white-space: nowrap;*/
            /*width: 100%;*/
            width: 50vh;
    
        }
    
        .table-responsive > thead tr
        {
            display: none;
        }
        .table-responsive
        {
            width: 53vh;
            border: 2px solid yellowgreen;
        }
    
    
        .table-responsive > tbody > tr > td,
        .table-responsive > tbody > tr > th,
        .table-responsive > tfoot > tr > td,
        .table-responsive > tfoot > tr > th,
        .table-responsive > thead > tr > td,
        .table-responsive > thead > tr > th
        {
            display: block;
        }
    
        .table-responsive > tbody > tr td
        {
            padding-left: 110px;
            position: relative;
            /*overflow: hidden;*/
        }
    
        .table-responsive > tbody > tr td:first-child
        {
            /*border-top: 3px solid #999;*/
            border-top: 2px solid yellowgreen;
        }
    
        .table-responsive > tbody > tr td::before
        {
            content: attr(data-title);
            width: 100px;
            position: absolute;
            top: 6px;
            left: 5px;
    
        }
        .responsive-th
        {
            height: 3.3vh;
        }
    
        .strong-text{
            font-weight: bold;
        }
    
        .table-margin{
            /*margin-top: 2vh;*/
        }
        .pull-right {
            float:none;
            margin-left: 65vw;
        }
    
    }


</style>
<div class="page-header">
    <h1 class="inline">List Time</h1>
    <h3 class="inline">(<?php echo $this->total . " nhân viên"; ?>)</h3>
</div>
<div>
    <form action="" method="post" class="form-horizontal">
    </form>
</div>
<div class="accordion" id="accordion2" style="border: 1px solid #999;
    margin-top: 15px;">
    <div class="accordion-heading" id="header_search">
        <a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion2" href="#collapseTwo">
            Search
        </a>
    </div>
    <div class="accordion-body collapse" id="collapseTwo">
        <div class="accordion-inner">
            <div class="row">

                <form action="" method="get" class="form-horizontal">
                    <div class="span3">
                        <div class="control-group">
                            <label for="name" class="">Name</label>
                            <input type="text" name="name" id="name" value="<?php echo $this->params['name'] ?>">
                        </div>
                        <div class="control-group">
                            <label for="email" class="">Email</label>
                            <input type="text" name="email" id="email" value="<?php echo $this->params['email'] ?>">
                        </div>
                        <div class="control-group">
                            <label for="code" class="">Code</label>
                            <input type="text" name="code" id="code" value="<?php echo $this->params['code'] ?>">
                        </div>

                        <!--
                            <div  class="control-group">
                                <label for="name" class="span2">Only Training</label>
                                <input type="checkbox" name="only_training" id="only_training" value="1" <?php // echo !empty($this->params['only_training'])?'checked':''; ?> >
                            </div> -->


                    </div> <!-- end span4 -->
                    <div class="span3">
                        <div class="control-group">
                            <label for="month" class="">Area</label>
                            <select name="area">
                                <option value="">All</option>
                                <?php
                                foreach ($this->areas as $key => $value) {
                                    ?>
                                    <option <?php echo (!empty($this->params['area']) && $this->params['area'] == $value['id'])?" selected ":""; ?> value="<?php echo $value['id'];?>" ><?php echo $value['name'] ?></option>
                                    <?php
                                }
                                ?>
                            </select>
                        </div>
                        <div class="control-group">
                            <label for="year" class="">Year</label>
                            <input type="number" name="year" id="year" value="<?php echo $this->params['year'] ?>">
                        </div>
                        <div class="control-group">
                            <label for="month" class="">Month</label>
                            <select name="month">
                                <?php
                                for($i = 1; $i <= 12; $i++)
                                {
                                    ?>
                                    <option value="<?php echo $i; ?>" <?php echo ($i==$this->params['month'])?" selected ":""; ?> ><?php echo "Tháng " . $i; ?></option>
                                    <?php
                                }
                                ?>
                            </select>
                        </div>

                    </div> <!-- span4 -->
                    <div class="span3">
                        <div class="control-group">
                            <label for="department" class="">Department</label>
                            <select name="department" id="department">
                                <option value>Choose</option>
                                <?php if (isset($this->recursiveDeparmentTeamTitle)): ?>
                                    <?php foreach ($this->recursiveDeparmentTeamTitle as $item_id => $item):?>
                                        <option value="<?php echo $item_id;?>" <?php if (isset($this->params) and $this->params and $item_id==$this->params['department']):?>selected<?php endif;?>><?php echo $item['name'];?></option>
                                    <?php endforeach;?>
                                <?php endif ?>
                            </select>
                        </div>

                        <div class="control-group">
                            <label for="team" class="">Team</label>
                            <select name="team" id="team" >
                                <option value>Choose</option>
                                <?php if ( isset($this->params) AND isset($this->recursiveDeparmentTeamTitle[$this->params['department']]['children'])): ?>
                                    <?php foreach ($this->recursiveDeparmentTeamTitle[$this->params['department']]['children'] as $item_id => $item):?>
                                        <option value="<?php echo $item_id;?>" <?php if (isset($this->params) and $this->params and $item_id==$this->params['team']):?>selected<?php endif;?>><?php echo $item['name'];?></option>
                                    <?php endforeach;?>
                                <?php endif ?>
                            </select>
                        </div>

                        <div class="control-group">
                            <label for="title" class="">Title</label>
                            <select name="title" id="title" >
                                <option value>Choose</option>
                                <?php if ( isset($this->params) AND isset($this->recursiveDeparmentTeamTitle[$this->params['department']]['children'][$this->params['team']]['children']) ): ?>
                                    <?php foreach ($this->recursiveDeparmentTeamTitle[$this->params['department']]['children'][$this->params['team']]['children'] as $item_id => $item):?>
                                        <option value="<?php echo $item_id;?>" <?php if (isset($this->params) and $this->params and $item_id==$this->params['title']):?>selected<?php endif;?>><?php echo $item['name'];?></option>
                                    <?php endforeach;?>
                                <?php endif ?>
                            </select>
                        </div>
                    </div>
                    <div class="span2">
                        <div class="control-group">
                            <label for="off_long" class="">Off Long</label>
                            <select name="off_long" id="off_long">
                                <option value>Choose</option>
                                <option value="1" >Có</option>
                                <option value="0" >Không</option>
                            </select>
                        </div>
                    </div>
                    <div class="span112">
                        <button type="submit" class="btn btn-success">Search</button>
                        <button type="submit" class="btn btn-primary" name="export" value="1">Export</button>
                        <button type="submit" class="btn btn-warning" name="export_over_time" value="1">Export Quá hạn</button>
                        <button type="submit" class="btn btn-warning" name="export_last_month" value="1">Export bù công</button>

                        <?php
                        if(in_array($this->current_user->group_id, array(HR_ID, ADMINISTRATOR_ID)) || in_array($this->current_user->id, array(963,3254,166, 21686)))
                        {
                            ?>
                            <a  class="btn btn-warning" href="/staff-time/export-over-time?month=<?php echo $this->params['month'];?>&year=<?php echo $this->params['year'];?>" name="export_overver" value="1">Export Over Time</a>
                            <?php
                        }
                        ?>
                        <?php
                            if(in_array($this->current_user->group_id, array(HR_ID, ADMINISTRATOR_ID)))
                            {
                        ?>
                        <button type="submit" class="btn btn-warning" name="export_hr" value="1">Export All </button>
                        <button type="submit" class="btn btn-warning" name="export_hr_total" value="1">Export Total All </button>
                        <button type="submit" class="btn btn-warning" name="export_not_contract" value="1">Export Not Contract </button>
						
						
			<a  class="btn btn-warning" href="/staff-time/export-check-in-detail?month=<?php echo $this->params['month'];?>&year=<?php echo $this->params['year'];?>&name<?php echo $this->params['name'];?>=&email=<?php echo $this->params['email'];?>&code=<?php echo $this->params['code'];?>&area=<?php echo $this->params['area'];?>&department=<?php echo $this->params['department'];?>&team=<?php echo $this->params['team'];?>&title=<?php echo $this->params['title'];?>" name="check_in_detail" value="1">Check In Detail</a>
                        <?php
                            }
                        ?>
                        <button type="submit" class="btn btn-warning" name="export_temp_time_late" value="1">Export Time Late</button>
                        <!-- <button type="submit" class="btn btn-warning" name="lock_time" value="">Lock time <?php echo $this->params['month'] . '/' . $this->params['year'] ?></button> -->
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<div class="scroll table-responsive" >
    <table id="fixTable" class="table-time table-bordered table-responsive" >
        <thead >
        <tr>
            <th style="z-index: 1;">CODE</th>
            <th style="z-index: 1;">NAME</th>
            <th style="z-index: 1;">TEAM</th>
            <th style="z-index: 1;">TITLE</th>
            <th style="z-index: 1;">AREA</th>
            <th style="z-index: 1;">JOIN DATE</th>
            <th style="z-index: 1;">OFF DATE</th>
            <th style="z-index: 1;">Ngày đi làm</th>
            <th >Số ngày phép</th>
            <th style="z-index: 1;">Phụ cấp ca gãy</th>
            <th style="z-index: 1;">Nghỉ quá hạn</th>

            <th></th>

        </tr>
        </thead>
        <tbody>
        <?php

        foreach($this->list_staff_view as $key => $value)
        {

            ?>
            <tr >
                <td class="table-margin" data-title="CODE" style="background-color: white; position: relative; left: 0px;"><?php echo $value['staff_code']; 		?></td>
                <td data-title="NAME"><?php echo $value['name'];				?></td>
                <td data-title="TEAM"><?php echo $value['team'];				?></td>
                <td data-title="TITLE"><?php echo $value['title']; 			?></td>
                <td data-title="AREA"><?php echo $value['area'];				?></td>
                <td data-title="JOIN DATE"><?php echo date('d/m/Y', strtotime($value['joined_at'])); ?></td>
                <td class="responsive-th" data-title="OFF DATE"><?php echo !empty($value['off_date'])?date('d/m/Y', strtotime($value['off_date'])):'' ; ?></td>
                <td data-title="Ngày đi làm"><?php echo $value['congthuong'] ?></td>
                <td data-title="Số ngày phép"><?php echo $value['phep'] ;?></td>
                <td data-title="Phụ cấp ca gãy"><?php echo $value['conggay'] ?></td>
                <td class="responsive-th" data-title="Nghỉ quá hạn">
                    <?php if (intval($value['off_long']) == 1) : ?>
                        <a>&#10004</a>
                    <?php else: ?>
                    <?php endif ?>
                </td>

                <td>
                    <button type="button" staff_name="<?php echo $value['name']; ?>" staff_code="<?php echo $value['staff_code']; ?>" staff_id="<?php echo $value['id']; ?>"
                            staff_office_select="1" class="open_list_day btn <?php echo in_array($value['id'], $this->staff_pending) ? 'btn-warning' : 'btn-success';?> " value="">Chi tiết </button></td>
            </tr>
            <?php
        }
        ?>

        <?php foreach($this->staffs_trainer as $k => $staff)
        {
            ?>
            <tr>
                <td><?php echo $inc+$k+1; ?></td>
                <td><?php
                    if(in_array($staff['area_id'], $this->array_ddtm))
                    {
                        echo "Di Động Thông Minh";
                    }
                    else
                    {
                        echo "OPPO";
                    }
                    ?></td>
                <td><?php echo $staff['cmnd'] ?></td>
                <td><?php echo $staff['firstname'] . ' ' . $staff['lastname'] ?></td>
                <?php
                if(in_array($this->current_user->group_id, array(HR_ID, ADMINISTRATOR_ID)))
                {
                    ?>
                    <td><?php echo (isset($this->recursiveDeparmentTeamTitle[$staff['department']]['name']) ? $this->recursiveDeparmentTeamTitle[$staff['department']]['name'] : '');?></td>
                    <?php
                }
                ?>
                <td><?php echo (isset($this->recursiveDeparmentTeamTitle[$staff['department']]['children'][$staff['team']]['name']) ? $this->recursiveDeparmentTeamTitle[$staff['department']]['children'][$staff['team']]['name'] : ''); ?></td>
                <td><?php echo (isset($this->recursiveDeparmentTeamTitle[$staff['department']]['children'][$staff['team']]['children'][$staff['title']]['name']) ? $this->recursiveDeparmentTeamTitle[$staff['department']]['children'][$staff['team']]['children'][$staff['title']]['name'] : ''); ?></td>
                <td><?php echo $staff['area']; ?></td>
                <td></td>
                <td></td>
                <?php
                $list_day_training = json_decode($staff['list_day'], true);
                for($i = 1; $i <= $this->number_day_of_month; $i++)
                {
                    ?>
                    <td>
                        <?php echo (in_array($i, $list_day_training))?'<span class="approved">T</span>':''; ?>
                    </td>
                    <?php
                }
                ?>
                <td></td>
                <td></td>
                <td><?php echo count($list_day_training); ?></td>
                <td>0</td>
                <td>0</td>
                <td>0</td>
                <td>0</td>
                <td>0</td>
                <td>0</td>
                <td>0</td>
                <td>0</td>
                <td>0</td>
            </tr>
            <?php
        }
        ?>
        </tbody>
    </table>
</div> <!-- end scroll -->

<div class="paging">
    <?php echo $this->paging($this->total, $this->limit, $this->offset, $this->url);?>
</div>



<div id="non-office-modal" class="modal fade" role="dialog"> <!-- modal none office -->
    <div class="modal-dialog">
        <div class="modal-content">
            <form action="" method="post">
                <div class="modal-body">
                    <h2>Staff time</h2>
                    <table class="table">
                        <tbody>
                        <tr>
                            <td>Name</td>
                            <td id="td-name"></td>
                        </tr>
                        <tr>
                            <td>Email</td>
                            <td id="td-email"></td>
                        </tr>
                        <tr>
                            <td>Check in</td>
                            <td id="td-checkin"></td>
                        </tr>
                        <tr>
                            <td>Shift</td>
                            <td id="td-shift"></td>
                        </tr>
                        <tr>
                            <td>Check In</td>
                            <td id="td-check-in-time"></td>
                        </tr>
                        <tr>
                            <td>Check Out</td>
                            <td id="td-check-out-time"></td>
                        </tr>
                        <tr>
                            <td>Status</td>
                            <td id="td-status"></td>
                        </tr>
                        <tr>
                            <td>Approved By</td>
                            <td id="td-approved-by"></td>
                        </tr>
                        </tbody>
                    </table>
                    <div id="div_update_time_none_office">
                        <h3>Cập nhật công</h3>
                        <div class="form-group">
                            <hr />
                            <?php
                            if (in_array($this->current_user->group_id, array(HR_ID, ADMINISTRATOR_ID)) && 1 == -1)
                            {
                            ?>
                            <label for="email">Loại công:</label>
                            <select name="shift" id="shift">
                                <option class="option-hidden" value="1">Sáng</option>
                                <option class="option-hidden" value="3">Chiều</option>
                                <option class="option-hidden" value="2">Gãy</option>
                                <option value="4">Off</option>
                                <option value="6">Hành chính</option>
                            </select>
                            <select name="hr_time" id="hr_time">
                                <option value="1">1 ngày</option>
                                <option value="0.5">Nửa ngày</option>
                                <option value="0">Không tính lương</option>
                            </select>
                        </div>
                        <button name="update-none-office" id="update-none-office" class="btn btn-default" value="1">Điều chỉnh</button>
                        <button name="hr-approve-office" id="hr-approve-office" class="btn btn-default" value="1">Điều chỉnh</button>
                        <?php
                        }
                        else
                        {
                            echo '</div>';
                        }
                        ?>
                        <input type="hidden" name="p_month" value="<?php echo $this->params['month'];?>" class="p_month" />
                        <input type="hidden" name="p_year"  value="<?php echo $this->params['year'];?>" class="p_year" />
                        <input type="hidden" name="date" id="date" />
                        <input type="hidden" name="staff_id_" id="staff_id" />
                        <button name="approve-none-office" id="btn-approve" class="btn btn-success" value="1">Xác nhận</button>
                        <button name="unapprove-none-office" id="btn-unapprove" class="btn btn-warning" value="1">Hủy Xác nhận</button>
                        <button name="approve-office" id="approve-office" class="btn btn-success" value="1">Xác nhận</button>
                    </div>
                    <div id="temp-time-none-office" style="display: none;">
                        <hr />
                        <div class="form-group">
                            <h4>Nhân viên yêu cầu cật nhật lại công:</h4>
                            <label id="ca">Ca: <b id="shift_update"></b></label>
                            <label id="ngay">Ca: <b id="ngay_update"></b></label>
                        </div>
                        <div class="form-group">
                            <label>Lý do</label>
                            <textarea id="reason_none_office" readonly></textarea>
                        </div>
                        <div class="form-group">
                            <label>Ghi chú</label>
                            <textarea name="note"></textarea>
                        </div>

                        <button type="submit" name="approve-temp-time" id="approve-temp-time" class="btn btn-success">Xác nhận</button>
                    </div>
                </div> <!-- end body -->
            </form> <!-- end form -->
        </div>

    </div>
</div> <!-- end modal none office -->

<div id="office-modal" class="modal fade" role="dialog"> <!-- modal office -->
    <div class="modal-dialog">
        <div class="modal-content">
            <form action="" method="post" class="form-horizontal">
                <div class="modal-body">
                    <input type="hidden" name="date-appr-office" id="date-appr-office" />
                    <input type="hidden" name="staff-id-appr-office" id="staff-id-appr-office" />
                    <div id="span-hr-approved" class="alert alert-primary">
                        Nhân sự đã xác nhận
                    </div>
                    <div class="control-group">
                        <label for="name" class="span2">Ngày</label>
                        <label for="name" id="date-show"></label>
                    </div>
                    <div class="control-group">
                        <label for="name" class="span2">Check in</label>
                        <label for="name" id="check-in"></label>
                    </div>
                    <div class="control-group">
                        <label for="name" class="span2">Check out</label>
                        <label for="name" id="check-out"></label>
                    </div>
                    <?php
                    if(in_array($this->current_user->group_id, array(HR_ID)))
                    {
                        ?>
                        <div class="control-group">
                            <label for="name" class="span2">Loại công</label>
                            <select name="hr_time_">
                                <option value="1">1 ngày</option>
                                <option value="0.5">Nửa ngày</option>
                                <option value="0">Không tính lương</option>
                            </select>
                        </div>
                        <div class="control-group">
                            <button type="submit" value="1" id="" name="" class="btn btn-success span2">Điều chỉnh</button>
                        </div>
                        <?php
                    }
                    else
                    {
                        ?>
                        <div class="control-group">
                            <span class="span2"></span>
                            <button type="submit" value="1" id="approve-office" name="approve-office" class="btn btn-success span2">Xác nhận</button>
                        </div>
                        <?php
                    }
                    ?>
                </div> <!-- end body -->
            </form> <!-- end form -->
            <form action="" method="post">
                <input type="hidden" id="user_approve_all" name="user_approve_all" value="">
                <input type="hidden" id="year_approve_all" name="year_approve_all" value="">
                <input type="hidden" id="month_approve_all" name="month_approve_all" value="">
                <button type="submit" id="approve-all-temp-time" value="1" name="approve-all-temp-time" hidden>approve all</button>
            </form>
        </div>

    </div>
</div> <!-- end modal office -->


<div id="staff_day_modal" class="modal fade" role="dialog"  > <!-- modal none office -->
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-body">
                <h2>Staff time</h2>
                <form action="" method="post" id="form_approve">

                    <input type="hidden" name="list_temp_id" id="list_temp_id">
                    <input type="hidden" name="list_leave_id" id="list_leave_id">
                    <input type="hidden" name="list_time_id" id="list_time_id">
                    <input type="hidden" name="list_remove_time" id="list_remove_time">
                    <input type="hidden" name="staff_id_approve" id="staff_id_select">
                    <input type="hidden" name="staff_office_select" id="staff_office_select">
                    <input type="hidden" name="submit_approve_all" id="submit_approve_all">
                    <table class="table table_list_staff_time">
                        <tr>
                            <td><span id="span_staff_name"></span></td>
                            <td><span id="span_staff_code"></span></td>

                            <?php
                            //if(
                            //$this->locked_time and
                            //	in_array($this->current_user->group_id, array(HR_ID, ADMINISTRATOR_ID)))
                            // {
                            ?>
                            <td><button <?php echo (!empty($this->locked_time && !in_array($this->group_id, array(HR_ID, ADMINISTRATOR_ID))) ) ? 'style="display: none;"' : '';?> class="btn btn-success" type="button" name="approve_all" id="approve_all" value="1">Submit</button></td>
                            <?php
                            //  }
                            ?>

                        </tr>
                        <table class="table table_list_staff_time" id="table_list_staff_time">

                        </table>
                    </table>
                </form>
            </div>
        </div>
    </div>
</div> <!-- end modal none office -->

<div id="view_detail_day" class="modal fade" role="dialog"> <!-- modal none office -->
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-body">
                <h2>Chi tiết</h2>
                <div id="html_view">
                </div>
                <div  id="form_hr_approve">
                    <form action="" method="post">
                        <input name="staff_id" type="hidden" id="staff_id_detail">
                        <input type="hidden" id="date_detail" name="date_detail">
                        <?php
                        if (in_array($this->current_user->group_id, array(HR_ID, ADMINISTRATOR_ID)))
                        {
                            ?>
                            <label for="email">Loại công:</label>
                            <select name="shift" id="shift">
                                <option class="option-hidden" value="1">Sáng</option>
                                <option class="option-hidden" value="3">Chiều</option>
                                <option class="option-hidden" value="2">Gãy</option>
                                <option value="4">Off</option>
                                <option value="6">Hành chính</option>
                            </select>
                            <select name="hr_time" id="hr_time">
                                <option value="1">1 ngày</option>
                                <option value="0.5">Nửa ngày</option>
                                <option value="0">Không tính lương</option>
                            </select>
                            <button name="update-none-office" id="update-none-office" class="btn btn-default" value="1">Điều chỉnh</button>
                            <button name="hr-approve-office" id="hr-approve-office" class="btn btn-default" value="1">Điều chỉnh</button>
                            <?php
                        }
                        ?>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div> <!-- end modal none office -->

<div id="view_image_gps" class="modal fade" role="dialog"> <!-- modal none office -->
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-body">
                <img src="" id="image_gps" style="width: 100%">
            </div>
        </div>
    </div>
</div> <!-- end modal image -->

<script type="text/javascript">

    <?php

    //         if(count($this->data) > 1)
    //         {
    ?>
    //$("#fixTable").tableHeadFixer({"left" : <?php //echo (in_array($this->current_user->group_id, array(HR_ID, ADMINISTRATOR_ID)))?8:6 ?>//});

    $("#fixTable").tableHeadFixer();
    <?php
    //         }
    ?>
    $(document).ready(function() {
        $('.example').DataTable( {
            "scrollY": 200,
            "scrollX": true
        } );
    } );
    $modal = $('#modal');

    $('.note_label').click(function(){
        var _self = $(this);

        $('body').modalmanager('loading');
        $('#note_content').html(_self.data('note'));
        $('#note_id').val(_self.data('id'));

        $modal.modal('loading');
        noteid=_self.data('id');

        $.ajaxSetup({
            cache: true
        });

        $.post('<?php echo HOST ?>/staff/quick-edit',
            {
                id            : noteid,
                back_url : '<?php echo HOST.$this->current_url; ?>'
            },
            function(data){
                $modal.html(data);
                $modal.modal();
                var name = _self.parents('tr').children('td:nth-child(2)').html();
                $modal.find('h3').append(' <small>&bull; '+name+'</small>');
            });
    });

    $('.btn_approve_all_temp_time').click(function () {
        $('#user_approve_all').val($(this).val());
        $('#year_approve_all').val(<?php echo $this->params['year'] ?>);
        $('#month_approve_all').val(<?php echo $this->params['month'] ?>);

        $('#approve-all-temp-time').click();
    });

    $('#approve_all').click(function () {

        var list_remove_time = [];
        var staff_id = $('#staff_id_select').val();

        $('.checkbox_remove').each(function () {
            if($(this).attr('checked'))
            {
                if($(this).attr('v-data-time') != '')
                {
                    list_remove_time.push($(this).attr('v-data-time'));
                }
            }
        });


        $.ajax({
            url: '/staff-time/remove-staff-time',
            Type: 'GET',
            datatype: 'JSON',
            data:
                {
                    "list_remove_time": JSON.stringify(list_remove_time),
                    "staff_id": staff_id
                },
            cache: false,
            success: function (data)
            {
                window.location.href = '<?php echo HOST ?>staff-time/list-staff-check-in';
            }
        });

    });

    /*
    $('#approve_all').click(function () {
        var list_id_temp = [];
        var list_id_leave = [];
        var list_id_time = [];
        var list_remove_time = [];

        $('.checkbox_approve').each(function () {
            if($(this).attr('checked'))
            {
                if($(this).attr('v-data-temp') != '')
                {
                    list_id_temp.push($(this).attr('v-data-temp'));
                }
                if($(this).attr('v-data-leave') != '')
                {
                    list_id_leave.push($(this).attr('v-data-leave'));
                }
                if($(this).attr('v-data-time') != '')
                {
                    list_id_time.push($(this).attr('v-data-time'));
                }
            }
        });

        $('.checkbox_remove').each(function () {
            if($(this).attr('checked'))
            {
                if($(this).attr('v-data-time') != '')
                {
                    list_remove_time.push($(this).attr('v-data-time'));
                }
            }
        });

        $('#list_remove_time').val(JSON.stringify(list_remove_time));
        $('#list_temp_id').val(JSON.stringify(list_id_temp));
        $('#list_leave_id').val(JSON.stringify(list_id_leave));
        $('#list_time_id').val(JSON.stringify(list_id_time));
        $('#submit_approve_all').val(1);
        $('#form_approve').submit();
    });
*/

    $('#staff_day_modal').on('click', '.img_toggle', function () {
        $('#image_gps').attr('src', $(this).attr('src'));
        $('#view_image_gps').modal();
    });

    $('#staff_day_modal').on('click', '.checkbox_approve', function () {
        var id_leave = $(this).attr('v-data-leave');

        if($(this).attr('checked') == "checked")
        {
            var checked = true;
            $(this).closest('tr').find('.checkbox_remove').attr('checked', false);
        }
        else
        {
            var checked = false;
        }

        if(id_leave != '')
        {
            $('.checkbox_approve[v-data-leave=' + id_leave + ']').attr('checked', checked);
        }

        if($(this).attr('checked') != "checked")
        {
            $('#checkbox_approve_all').attr('checked', false);
        }
    });

    $('#staff_day_modal').on('click', '.checkbox_remove', function () {
        var id_leave = $(this).attr('v-data-leave');

        if($(this).attr('checked') == "checked")
        {
            var checked = true;
            $(this).closest('tr').find('.checkbox_approve').attr('checked', false);
        }
        else
        {
            var checked = false;
        }

        if(id_leave != '')
        {
            $('.checkbox_approve[v-data-leave=' + id_leave + ']').attr('checked', checked);
        }

        if($(this).attr('checked') != "checked")
        {
            $('#checkbox_approve_all').attr('checked', false);
        }
    });

    $('#staff_day_modal').on('click', '#checkbox_approve_all', function () {
        if($(this).attr('checked') == "checked")
        {
            var checked = true;
            $('#checkbox_remove_all').attr('checked', false);
            $('.checkbox_remove').attr('checked', false);
        }
        else
        {
            var checked = false;
        }
        $('.checkbox_approve').attr('checked', checked);
    });

    $('#staff_day_modal').on('click', '#checkbox_remove_all', function () {
        if($(this).attr('checked') == "checked")
        {
            var checked = true;
            $('#checkbox_approve_all').attr('checked', false);
            $('.checkbox_approve').attr('checked', false);
        }
        else
        {
            var checked = false;
        }
        $('.checkbox_remove').attr('checked', checked);
    });

    $('.open_list_day').click(function () {

        <?php
        if(!empty($this->not_approve_self))
        {
        ?>
        if($(this).attr('staff_id') == <?php echo $this->current_user->id ?>)
        {
            $('#approve_all').hide();
        }
        else
        {
            $('#approve_all').show();
        }
        <?php
        }
        ?>

        var json_info = $(this).val();
        // var array_info_staff_time = JSON.parse(json_info);
        $('#table_list_staff_time').empty();
        $('#staff_id_select').val($(this).attr('staff_id'));
        $('#staff_office_select').val($(this).attr('staff_office_select'));
        $('#span_staff_name').text($(this).attr('staff_name'));
        $('#span_staff_code').text($(this).attr('staff_code'));

        var month = <?php echo $this->params['month']; ?>;
        var year = <?php echo $this->params['year']; ?>;
        var staff_id = $(this).attr('staff_id');

        $.when(
            $.ajax({
                url: '/collection/view-staff-time',
                Type: 'POST',
                datatype: 'text',
                data:
                    {
                        staff_id: staff_id,
                        month: month,
                        year: year
                    },
                cache: false,
                success: function (data)
                {
                    $('#table_list_staff_time').empty().append(data);
                }
            })).done(function () { $('#staff_day_modal').modal(); });

    });

    $('#staff_day_modal').on('click', '.view_detail', function () {
        var temp_id = $(this).attr('v-data-temp');
        var leave_id = $(this).attr('v-data-leave');
        var staff_id = $(this).attr('v-data-staff-id');
        var data_date = $(this).attr('v-data-date');
        var late_id = $(this).attr('v-date-late');
        var data_is_office = $('#staff_office_select').val();
        $('#staff_id_detail').val(staff_id);
        $('#date_detail').val(data_date);
        if(leave_id != '')
        {
            $('#form_hr_approve').hide();
        }
        else
        {
            $('#form_hr_approve').show();
        }
        if(data_is_office == 1)
        {
            $('#shift').hide();
            $('#hr_time').show();
            $('#update-none-office').hide();
            $('#hr-approve-office').show();
        }
        else
        {
            $('#shift').show();
            $('#hr_time').hide();
            $('#update-none-office').show();
            $('#hr-approve-office').hide();
        }
        $.ajax({
            url: '/staff-time/get-view-detail',
            Type: 'GET',
            datatype: 'text',
            data:
                {
                    date: data_date,
                    staff_id: staff_id,
                    temp_id: temp_id,
                    late_id: late_id,
                    leave_id: leave_id

                },
            cache: false,
            success: function (data)
            {
                $('#html_view').empty().append(data);
                $('#view_detail_day').modal();
            }
        });
    });


    $('.cell').click(function () {
        var is_officer = $(this).attr('data-officer');
        var staff_id = $(this).attr('data-staff-id');
        var date = $(this).attr('data-date');
        var date_show = $(this).attr('data-date-show');
        var code = $(this).attr('data-code');
        var hr_approved = $(this).attr('data-hr-approved');
        var is_pg = $(this).attr('data-pg');

        if(1 == 1)
        {
            if(is_pg == 1)
            {
                $('.option-hidden').show();
            }
            else
            {
                $('.option-hidden').hide();
            }

            if(is_officer == 1)
            {
                $('#hr_time').show();
                $('#shift').hide();
            }
            else
            {
                $('#hr_time').hide();
                $('#shift').show();
            }

            if(hr_approved == 1)
            {
                $("#approve-office").hide();
                $("#span-hr-approved").show();
            }
            else
            {
                $("#approve-office").show();
                $("#span-hr-approved").hide();
            }

            if(is_officer == 1)
            {
                $('#update-none-office, #btn-approve').hide();
                $('#hr-approve-office, #approve-office').show();
            }
            else
            {
                $('#update-none-office, #btn-approve').show();
                $('#hr-approve-office, #approve-office').hide();
            }

            $('#shift').val(6);
            $("#date").val(date);
            $("#staff_id").val(staff_id);
            $('#date-modal').text("Ngày " + date_show);
            getTempTime(date, staff_id);
            $('#non-office-modal').modal();
        }
        else
        {


            $("#staff_id").val(staff_id);
            $("#date").val(date);
            if(hr_approved == 1)
            {
                $("#approve-office").hide();
                $("#span-hr-approved").show();
            }
            else
            {
                $("#approve-office").show();
                $("#span-hr-approved").hide();
            }
            $("#staff-id-appr-office").val(staff_id);
            $('#date-appr-office').val(date);
            $('#date-show').text(date_show);

            $.when(getCheckIn(date, code)).done($('#office-modal').modal());
        }
    });

    function getTempTime(date, staff_id)
    {
        $.ajax({
            url: '/staff-time/ajax-get-temp-time',
            Type: 'POST',
            datatype: 'text',
            data:
                {
                    date: date,
                    staff_id: staff_id
                },
            cache: false,
            success: function (data)
            {
                var obj = JSON.parse(data);
                console.log(obj);
                $('#td-name').text(obj.staff_name);
                $('#td-email').text(obj.email);

                if(obj.created_at != null){
                    $('#td-checkin').text(obj.created_at);
                }
                else{
                    $('#td-checkin').text('');
                }

                if(obj.shift_name != null){
                    $('#td-shift').text(obj.shift_name);
                }
                else{
                    $('#td-shift').text('');
                }

                if(obj.staff_name_approved != null){
                    $('#td-approved-by').text(obj.staff_name_approved);
                }
                else{
                    $('#td-approved-by').text('');
                }

                if(obj.check_in_at != null){
                    $('#td-check-in-time').text(obj.check_in_at);
                }
                else{
                    $('#td-check-in-time').text('');
                }

                if(obj.check_out_at != null){
                    $('#td-check-out-time').text(obj.check_out_at);
                }
                else{
                    $('#td-check-out-time').text('');
                }
                $('#td-status').text(obj.status);

                $('#reason_none_office').text(obj.temp_reason);

                if(obj.office_time == null)
                {
                    $('#ca').show();
                    $('#ngay').hide();
                }
                else
                {
                    $('#ca').hide();
                    $('#ngay').show();
                }

                $('#shift_update').text(obj.temp_shift_name);
                $('#ngay_update').text(obj.office_time + ' ngày');
                $('#approve-temp-time').val(obj.temp_id);

                if(obj.temp_id == null)
                {
                    $('#temp-time-none-office').hide();
                }
                else
                {
                    $('#temp-time-none-office').show();
                }
            }
        });
    }

    function getCheckIn(date, code)
    {
        var date_ajax = date;
        var code_ajax = code;
        $.ajax({
            url: '/staff-time/get-check-in-detail',
            Type: 'POST',
            datatype: 'text',
            data:
                {
                    date: date_ajax,
                    code: code_ajax
                },
            cache: false,
            success: function (data)
            {
                var obj = JSON.parse(data);
                if(obj != null)
                {
                    $("#check-in").text(obj.check_in_at);
                    $("#check-out").text(obj.check_out_at);
                }
                else
                {
                    $("#check-in").text('');
                    $("#check-out").text('');
                }

            }
        });
    }

    $('#department,.department').change(function(){
        $('.loading').remove();
        $(this).after('<span class="loading"></span>');
        var _self = $(this);
        var department_id = $(this).val();
        $('form').bind('submit',function(e){e.preventDefault();});
        $('button, .btn, input, select').prop('disabled', true);
        $.get("/ajax/load-team",
            {department_id: [department_id]}
            ,function(data,status){
                var obj = $.parseJSON( data );
                $('#team,.team').find('option:not(:first)').remove();
                for (var i = 0; i < obj.length; i++) {
                    $('#team,.team').append('<option value="'+obj[i]['id']+'">'+obj[i]['name']+'</option>');
                }

                $('button, .btn, input, select').prop('disabled', false);
                $('form').unbind('submit');
                $('.loading').remove();
                $('#team,.team').change();
            });
    });

    $('#team,.team').change(function(){
        $('.loading').remove();
        $(this).after('<span class="loading"></span>');
        var _self = $(this);
        var team_id = $(this).val();
        $('form').bind('submit',function(e){e.preventDefault();});
        $('button, .btn, input, select').prop('disabled', true);
        $.get("/ajax/load-title",
            {team_id: [team_id]}
            ,function(data,status){
                var obj = $.parseJSON( data );
                $('#title,.title').find('option:not(:first)').remove();
                for (var i = 0; i < obj.length; i++) {
                    $('#title,.title').append('<option value="'+obj[i]['id']+'">'+obj[i]['name']+'</option>');
                }
                $('button, .btn, input, select').prop('disabled', false);
                $('form').unbind('submit');
                $('.loading').remove();

            });
    });

    $('#header_search').click(function () {
        $('#body_search').toggle();
    });
</script>

<script type="text/javascript" src="/js/jquery-ui-1.8.12.custom.min.js"></script>
<link rel="stylesheet" type="text/css" href="/css/jquery-ui-1.8.12.custom.css"/>

<script type="text/javascript" src="/js/bootstrap-modal.js"></script>
<script type="text/javascript" src="/js/bootstrap-modalmanager.js"></script>
<link rel="stylesheet" type="text/css" href="/css/bootstrap-modal.css"/>

<?php echo $this->confirm();?>
<?php echo $this->load();?>
