<style>

    .hd {
        cursor: pointer;
    }
    .small{
        width: 50px;
    }
    .code{
        width: 20px!important;
    }
    .edit_row .col_edit{
        cursor: pointer;
    }
    .different{
        background-color: #FFB85C;
    }
    span.red{
        color: red;
    }

</style>
<form action="/contract-new/new-sign-contract" method="get">
    <input type="hidden" value="<?php echo $uri;?>" name="back_url"/>
    <div class="row" style="z-index: 99999;">
        <?php
        $uri = Zend_Controller_Front::getInstance()->getRequest()->getRequestUri();
        ?>
        <input type="hidden" value="<?php echo $uri; ?>" name="back_url"/>
        <div class="col-12" style="margin-left: 0px">


            <div class="pull-left" style="margin-right: 15px; margin-top: -8px;">
             
              <button class="btn btn-warning" type="submit" name="btnSetPrintStatus" value="1">Print for Officer</button>
               <button class="btn btn-primary" type="submit" name="update_probation" value="1">Update new contract</button>
              <a id='print' href='#' class="btn btn-inverse ">Print</a>
               
                <!--        <button type="submit" name="btnRefresh" value="1" id="refresh" class="btn btn-primary" style="margin-left: 1px;">
                            Refresh
                        </button>-->
            </div>


            <table class="table table-bordered" style="/*border-collapse: collapse;*/">
                <thead>
                    <tr>
                        <th>STT</th>
                        <th>Công ty</th>
                        <th>Phòng Ban</th>
                         <th>Bộ Phận</th>
                        <th>Mã nhân viên</th>
                        <th>Họ Tên</th>
                        <th>Khu vực</th>
                        <th>Tỉnh</th>
                         <th>Quận Huyện</th>
                        <th>Chức vụ</th>
                        <th>Hợp đồng</th>
                        <th>Loại In</th>
                        <th>Ngày bắt đầu</th>
                        <th>Ngày hết hạn</th>
                        <th>Tổng lương hợp đồng</th>
                        <th>Lương bảo hiểm</th>
                        <th> KPI</th>
                        <th>Ghi chú</th>
                        <th>Action</th>
                        <th><input type="checkbox" id='check_all' value="1"></th>

                    </tr>
                </thead>
                <tbody>
                    <?php
                    if (isset($this->list) && $this->list):
                        $intStt = 0;
                        foreach ($this->list as $key => $value):
                            ?>
                            <tr class='r_<?php echo $value['id']; ?>  edit_row <?php if ($value['different'] == 1) echo "different"; ?>' data-id="<?php echo $value['id']; ?>">
                                <td><?php echo ++$intStt; ?></td>
                                <td><?php echo $value['company_name'] ?></td>
                                <td><?php echo $value['department'] ?></td>
                                 <td><?php echo $value['team'] ?></td>
                                <td><?php echo $value['code'] ?></td>
                                <td><?php echo $value['full_name']; ?>
                                    <?php if ($value['staff_status'] == 0) { ?>
                                        <span class="label">OFF</span>
                                    <?php } elseif ($value['staff_status'] == 1) { ?>
                                        <span class="label label-success">ON</span>
                                        <?php
                                    } elseif (in_array($value['staff_status'], array(2, 3))) {
                                        ?>
                                        <span class="label label-danger"> TEMP OFF </span>
                                    <?php } ?>
                                </td>
                                <td><?php echo $value['area']; ?></td>
                                <td><?php echo $value['tinh'] ?></td>
                                 <td><?php echo $value['quan_huyen'] ?></td>

                                <td><?php echo $value['title'] ?></td>
                                <td><?php echo $this->contractTerms[$value['contract_term']] ?></td>
                                <td>
                                    <?php
                                    if ($value['print_type'] == 1):
                                        echo 'Hợp đồng';
                                    elseif ($value['print_type'] == 2):
                                        echo 'Phụ lục';
                                    else:
                                        echo '';
                                    endif;
                                    ?>
                                </td>

                                <td><?php if ($value['from_date']) echo date('d/m/Y', strtotime($value['from_date'])) ?></td>

                                <td>
                                    <?php
                                    if ($value['to_date'])
                                        echo date('d/m/Y', strtotime($value['to_date']));
                                    ?>
                                </td>
                                <td>
                                    <?php
                                    echo number_format($value['salary_total']);
                                    ?>
                                </td>
                                <td>
                                    <?php
                                    echo number_format($value['insurance_salary']);
                                    ?>
                                </td>
                                <td>
                                    <?php
                                    echo number_format(-$value['salary_kpi']);
                                    ?>
                                </td>

                              

                                <td class="required_input note">
                                    <?php echo $value['note'] ?>
                                </td>
                                <td>
                                      <a target="_blank" href="<?php echo HOST ?>contract-new/create-new-contract?id=<?php echo $value['id'] ?>"><i class="icon-edit"></i></a>
                                  <?php if ($value['district_confirm']== 0) { ?>
                                        </br><span class="label label-warning">Chưa được gán khu vực</span>
                                    <?php } ?>
                                </td>
                                <td>
                                    <input type="checkbox" name="id[]" class="check_item" value="<?php echo $value['id'] ?>">
                                    
                                </td>

                            </tr>
                        <?php endforeach; ?>
                    <?php endif ?>
                </tbody>
            </table>
            <div class="paging">
                <?php echo $this->paging($this->total, $this->limit, $this->offset, $this->url); ?>
            </div>

        </div>
    </div>
</form>
<iframe src="" class="print_frame" name="picking_list" frameborder="0" style="width: 1px;height: 1px;visibility: hidden">

</iframe>
<script type="text/javascript" src="/js/jquery-ui-1.8.12.custom.min.js"></script>
<link rel="stylesheet" type="text/css" href="/css/jquery-ui-1.8.12.custom.css"/>
<?php echo $this->confirm(); ?>

<div id="frmUpdate"></div>
<link rel="stylesheet" type="text/css" href="/css/bootstrap-datetimepicker.min.css"/>
<script language="javascript" type="text/javascript" src="/js/bootstrap-datetimepicker.min.js"></script>

<script type="text/javascript" src="<?php echo HOST ?>js/bootstrap-multiselect.js"></script>
<link rel="stylesheet" href="<?php echo HOST ?>css/bootstrap-multiselect.css" type="text/css"/>

<script>
    $(document).ready(function () {
        $('#check_all').click(function () {
            var _this = $(this);
            if (_this.prop('checked') == true) {
                $('.check_item').prop('checked', true);
            } else {
                $('.check_item').prop('checked', false);
            }
        });

        $('.date').datepicker({dateFormat: "dd/mm/yy"});
        $('.month').datetimepicker({
            format: 'mm/yyyy',
            startView: 3,
            minView: 3,
            autoclose: true
        });

        $('.edit').click(function () {
            var link = '/contract-new/edit-staff-preview';
            var id = $(this).attr('data-id');
            $.ajax({
                url: link,
                type: 'get',
                data: {'id': id},
                success: function (data) {
                    $("#frmUpdate").html(data);
                }
            });
            return false;
        });

        $('.multiselect').multiselect();
        department();
        team();
        $("#print").click(function (e) {
            e.preventDefault();
            fprint();
        })

        $("#print_appendix").click(function (e) {
            e.preventDefault();
            fprintApendix();
        })
    });

    function fprint() {
        id = [];
        $('.check_item:checked').each(function (index, el) {
            id.push($(el).val());
        });
        var type = $('#contract_id').val();

        if (id.length > 0) {
            $.ajax({
                url: '<?php echo HOST ?>contract-new/print',
                type: 'GET',
                dataType: 'html',
                data: {id: id, print_status: 1}
            })
                    .done(function (data) {
                        $('.print_frame').get(0).contentWindow.document.body.innerHTML = data;

                        setTimeout(function () {
                            window.frames['picking_list'].focus();
                            window.frames['picking_list'].print();
                        }, 500);
                    })
                    .fail(function () {
                        console.log("error");
                    })
                    .always(function () {
                        console.log("complete");
                    });

        }
    }

    function fprintApendix() {
        id = [];
        $('.check_item:checked').each(function (index, el) {
            id.push($(el).val());
        });
        var type = $('#contract_id').val();

        if (id.length > 0) {
            $.ajax({
                url: '<?php echo HOST ?>contract/print-appendix',
                type: 'GET',
                dataType: 'html',
                data: {id: id, print_status: 1},
            })
                    .done(function (data) {
                        $('.print_frame').get(0).contentWindow.document.body.innerHTML = data;

                        setTimeout(function () {
                            window.frames['picking_list'].focus();
                            window.frames['picking_list'].print();
                        }, 500);
                    })
                    .fail(function () {
                        console.log("error");
                    })
                    .always(function () {
                        console.log("complete");
                    });

        }
    }

    function province() {
        $("#province_id").change(function () {
            var id = $(this).val();
            if (id) {
                $.ajax({
                    url: '/ajax/get-hospital',
                    data: {'province_id': id},
                    type: 'get',
                    success: function (data) {
                        var h = '';
                        $.each(data, function (k, v) {
                            h += '<option value="' + k + '">' + v + '</option>';
                        })
                        $("#hospital_id").html(h);
                    }
                })
            } else {
                var h = '<option value="">--</option>'
                $("#hospital_id").html(h);
                $('.status').prop('checked', false);
            }
        });
    }

    function department() {

        $('#department').change(function () {
            $('.loading').remove();
            $(this).after('<span class="loading"></span>');
            var _self = $(this);
            var department_id = $(this).val();
            console.log(department_id);
            $('button, .btn, input').prop('disabled', true);
            $.get("/ajax/load-team",
                    {department_id: department_id}
            , function (data, status) {
                var obj = $.parseJSON(data);
                $('#team').find('option').remove();
                for (var i = 0; i < obj.length; i++) {
                    $('#team').append('<option value="' + obj[i]['id'] + '">' + obj[i]['name'] + '</option>');
                }

                $('button, .btn, input').prop('disabled', false);
                $('.multiselect').multiselect("destroy").multiselect();
                $('.loading').remove();
            });
        });
    }

    function team() {
        $('#team').change(function () {
            $('.loading').remove();
            $(this).after('<span class="loading"></span>');
            var _self = $(this);
            var team_id = $(this).val();
            $('button, .btn, input').prop('disabled', true);
            $.get("/ajax/load-title",
                    {team_id: team_id}
            , function (data, status) {
                var obj = $.parseJSON(data);
                $('#title').find('option').remove();
                for (var i = 0; i < obj.length; i++) {
                    $('#title').append('<option value="' + obj[i]['id'] + '">' + obj[i]['name'] + '</option>');
                }

                $('button, .btn, input').prop('disabled', false);
                $('.multiselect').multiselect("destroy").multiselect();
                $('.loading').remove();
            });
        });
    }

</script>
