<style>
    .hd {
        cursor: pointer;
    }

    .small{
        width: 50px;
    }

    .code{
        width: 20px!important;
    }

    .edit_row .col_edit{
        cursor: pointer;
    }

    .different{
        background-color: #FFB85C;
    }

    span.red{
        color: red;
    }

</style>
<form action="/contract/" method="post">
<div class="row" style="z-index: 99999;">
<?php
$uri = Zend_Controller_Front::getInstance()->getRequest()->getRequestUri();
?>
<input type="hidden" value="<?php echo $uri;?>" name="back_url"/>
<div class="col-12">

<?php echo $this->render('/contract/partials/submit-field.phtml');?>
<table class="table table-bordered" style="/*border-collapse: collapse;*/">
    <thead>
    <tr>
        <th>STT</th>
        <th>LOẠI</th>
        <th>THỜI HẠN</th>
        <th>Ngày bắt đầu</th>
        <th>Ngày kết thúc</th>
        <th>Action</th>
    </tr>
    </thead>
    <tbody>
    <?php if (isset($this->contract_terms) && $this->contract_terms):
        $intStt = 0;
        foreach ($this->contract_terms as $key => $value): ?>
            <tr class='r_<?php echo $value['current_id'];?>  edit_row <?php if($value['different'] == 1) echo "different";?>' data-id="<?php echo $value['current_id'];?>">
                <td><?php echo ++$intStt;?></td>
                <td><?php echo $value['name_contract']?></td>
                <td><?php 
                $day = '';
                switch ($value['addday']){
                    case  NULL :
                        $day = 'vô thời hạn';
                    break;
                    case 0 : 
                        $day = '';
                    break;
                    default: $day = ' ngày';
                }
                echo $value['addday'] .$day;
                ?></td>
                <td><?php 
                $start_date = '';
                switch ($value['start_date']){
                    case  0 :
                        $start_date = 'Joined at';
                        break;
                    default: $start_date = 'Ngày kết thúc HĐ cũ + ' . $value['start_date'] .' ngày';
                }
                echo $start_date;
                
                ?></td>
                <td><?php 
                if($value['end_date']){
                    echo 'Ngày bắt đầu + ' . $value['end_date'] . ' ngày';
                }
                ?></td>
                <td>
                <div class="btn-group">
                    <a class="btn dropdown-toggle" data-toggle="dropdown" href="#">
                        Action
                        <span class=""></span>
                    </a>
                    <ul class="dropdown-menu">
                        <li><a title="Edit" href="<?php echo HOST?>contract-new/contract-term-create?id=<?php echo $value['id']; ?>"> <i class="icon-edit"></i> Edit</a></li>
                        <li><a title="Disable" class="confirmLink" href="<?php echo HOST?>contract-new/contract-term-disiable?id=<?php echo $value['id']; ?>"> <i class="icon-ban-circle"></i> Disable</a></li>
                    </ul>
                </div>
                </td>
            </tr>

        <?php endforeach; ?>
    <?php endif ?>
    </tbody>
</table>
<div class="paging">
    <?php echo $this->paging($this->total, $this->limit, $this->offset, $this->url);?>
</div>

</div>
</div>
</form>
<iframe src="" class="print_frame" name="picking_list" frameborder="0" style="display:none;">

</iframe>
<script type="text/javascript" src="/js/jquery-ui-1.8.12.custom.min.js"></script>
<link rel="stylesheet" type="text/css" href="/css/jquery-ui-1.8.12.custom.css"/>
<?php  echo $this->confirm();?>

<div id="frmUpdate"></div>
<link rel="stylesheet" type="text/css" href="/css/bootstrap-datetimepicker.min.css"/>
<script language="javascript" type="text/javascript" src="/js/bootstrap-datetimepicker.min.js"></script>

<script type="text/javascript" src="<?php echo HOST ?>js/bootstrap-multiselect.js"></script>
<link rel="stylesheet" href="<?php echo HOST ?>css/bootstrap-multiselect.css" type="text/css"/>

<script>
    $(document).ready(function(){
        $('#check_all').click(function(){
            var _this = $(this);
            if(_this.prop('checked') == true){
                $('.check_item').prop('checked',true);
            }else{
                $('.check_item').prop('checked',false);
            }
        });

        $('.date').datepicker({ dateFormat: "dd/mm/yy" });
        $('.month').datetimepicker({
            format: 'mm/yyyy',
            startView: 3,
            minView: 3,
            autoclose: true
        });

        $('.edit').click(function(){
            var link = '/contract/edit-staff-preview';
            var id = $(this).attr('data-id');
            $.ajax({
                url: link,
                type: 'get',
                data: {'id':id},
                success:function(data){
                    $("#frmUpdate").html(data);
                }
            });
            return false;
        });

        $('.multiselect').multiselect();
        department();
        team();
        $("#print").click(function(e){
            e.preventDefault();
            fprint();
        })

        $("#print_appendix").click(function(e){
            e.preventDefault();
            fprintApendix();
        })
    });

    function fprint() {
        id = [];
        $('.check_item:checked').each(function(index, el) {
            id.push($(el).val());
        });
        var type = $('#contract_id').val();

        if (id.length > 0) {
            $.ajax({
                url: '<?php echo HOST ?>contract/print-new',
                type: 'GET',
                dataType: 'html',
                data: {id: id,print_status: 1}
            })
                .done(function(data) {
                    $('.print_frame').get(0).contentWindow.document.body.innerHTML = data;

                    setTimeout(function() {
                        window.frames['picking_list'].focus();
                        window.frames['picking_list'].print();
                    }, 500);
                })
                .fail(function() {
                    console.log("error");
                })
                .always(function() {
                    console.log("complete");
                });

        }
    }

    function fprintApendix() {
        id = [];
        $('.check_item:checked').each(function(index, el) {
            id.push($(el).val());
        });
        var type = $('#contract_id').val();

        if (id.length > 0) {
            $.ajax({
                url: '<?php echo HOST ?>contract/print-appendix',
                type: 'GET',
                dataType: 'html',
                data: {id: id,print_status: 1},
            })
                .done(function(data) {
                    $('.print_frame').get(0).contentWindow.document.body.innerHTML = data;

                    setTimeout(function() {
                        window.frames['picking_list'].focus();
                        window.frames['picking_list'].print();
                    }, 500);
                })
                .fail(function() {
                    console.log("error");
                })
                .always(function() {
                    console.log("complete");
                });

        }
    }

    function province(){
        $("#province_id").change(function(){
            var id = $(this).val();
            if(id){
                $.ajax({
                    url: '/ajax/get-hospital',
                    data:{'province_id':id},
                    type: 'get',
                    success:function(data){
                        var h = '';
                        $.each(data,function(k,v){
                            h += '<option value="'+k+'">'+v+'</option>';
                        })
                        $("#hospital_id").html(h);
                    }
                })
            }else{
                var h = '<option value="">--</option>'
                $("#hospital_id").html(h);
                $('.status').prop('checked',false);
            }
        });
    }

    function department(){

        $('#department').change(function(){
            $('.loading').remove();
            $(this).after('<span class="loading"></span>');
            var _self = $(this);
            var department_id = $(this).val();
            console.log(department_id);
            $('button, .btn, input').prop('disabled', true);
            $.get("/ajax/load-team",
                {department_id: department_id}
                ,function(data,status){
                    var obj = $.parseJSON( data );
                    $('#team').find('option').remove();
                    for (var i = 0; i < obj.length; i++) {
                        $('#team').append('<option value="'+obj[i]['id']+'">'+obj[i]['name']+'</option>');
                    }

                    $('button, .btn, input').prop('disabled', false);
                    $('.multiselect').multiselect("destroy").multiselect();
                    $('.loading').remove();
                });
        });
    }

    function team(){
        $('#team').change(function(){
            $('.loading').remove();
            $(this).after('<span class="loading"></span>');
            var _self = $(this);
            var team_id = $(this).val();
            $('button, .btn, input').prop('disabled', true);
            $.get("/ajax/load-title",
                {team_id: team_id}
                ,function(data,status){
                    var obj = $.parseJSON( data );
                    $('#title').find('option').remove();
                    for (var i = 0; i < obj.length; i++) {
                        $('#title').append('<option value="'+obj[i]['id']+'">'+obj[i]['name']+'</option>');
                    }

                    $('button, .btn, input').prop('disabled', false);
                    $('.multiselect').multiselect("destroy").multiselect();
                    $('.loading').remove();
                });
        });
    }

</script>
