<form class="form-search form-horizontal" method="get" action="/contract-new/renewable">
  <div class="row">
    <div class="span6">
        <div class="control-group">
            <label for="name" class="span2">Tên</label>
            <input id="name" name="name" type="text" class="form-control" value="<?php isset($this->params['name']) and printf($this->params['name']);?>">
        </div>

        <div class="control-group">
            <label for="code" class="span2">Mã nhân viên</label>
            <input id="code" name="code" type="text" class="input-large form-control" value="<?php isset($this->params['code']) and printf($this->params['code']);?>">
        </div>

        <div class="control-group">
            <label class="span2">Công ty</label>
            <select name="company_id[]" id="area_id" class="multiselect" multiple="multiple">
                <?php
                $arrCompany = array(
                    COMPANY_OPPO => 'OPPO',
                    COMPANY_DIDONGTHONGMINH => 'TM'
                );
                foreach($arrCompany as $k => $v):
                    ?>
                    <option value="<?php echo $k;?>"
                        <?php if(isset($this->params['company_id']) AND count($this->params['company_id']) > 0  AND in_array($k, $this->params['company_id'])) echo 'selected'; ?>><?php echo $v;?>
                    </option>
                <?php
                endforeach;
                ?>
            </select>
        </div>

        <div class="control-group">
            <label class="span2">Khu vực</label>
            <select name="area_id[]" id="area_id" class="multiselect" multiple="multiple">
                <?php
                foreach($this->areas as $k => $v):
                    if( $this->userStorage->group_id == HR_ID
                        OR (isset($this->area_id_confirm) AND $this->userStorage->group_id != HR_ID AND in_array($k,$this->area_id_confirm)) ) :
                        ?>
                        <option value="<?php echo $k;?>"
                            <?php if(isset($this->params['area_id']) AND count($this->params['area_id']) > 0  AND in_array($k, $this->params['area_id'])) echo 'selected'; ?>><?php echo $v;?>
                        </option>
                    <?php
                    endif;
                endforeach;
                ?>
            </select>
        </div>
        <div class="control-group">
            <label class="span2">Phòng ban</label>
            <select name="department[]" id="department" multiple="multiple" class="multiselect">
                <?php
                foreach($this->recursiveDeparmentTeamTitle as $item):
                    ?>
                    <option value="<?php echo $item['id'];?>"
                        <?php if(isset($this->params['department'])  AND count($this->params['department']) > 0 AND in_array($item['id'], $this->params['department']))   echo 'selected'; ?>><?php echo $item['name'];?>
                    </option>
                <?php
                endforeach;
                ?>
            </select>
        </div>

        <div class="control-group">
            <label class="span2">Team</label>
            <select name="team[]" id="team" multiple="multiple" class="multiselect">
                <?php
                foreach($this->teams as $item):
                    ?>
                    <option value="<?php echo $item['id'];?>"
                        <?php if(isset($this->params['team']) AND count($this->params['team']) > 0 AND in_array($item['id'],$this->params['team'])) echo 'selected'; ?>><?php echo $item['name'];?>
                    </option>
                <?php
                endforeach;
                ?>
            </select>
        </div>

        <div class="control-group">
            <label class="span2">Chức danh</label>
            <select name="title[]" id="title"  multiple="multiple" class="multiselect">
                <?php
                foreach($this->titles as $item):
                    ?>
                    <option value="<?php echo $item['id'];?>"
                        <?php if(isset($this->params['title']) AND count($this->params['title']) > 0 AND in_array($item['id'], $this->params['title'])) echo 'selected'; ?>><?php echo $item['name'];?>
                    </option>
                <?php
                endforeach;
                ?>
            </select>
        </div>

        <div class="control-group">
            <label class="span2">Nhân viên văn phòng</label>
            <select name="office" id="" class="form-control">
                <option value="-1">----</option>
                <?php
                $arrType = array(1=>'Khối văn phòng',0=>'Không phải văn phòng');
                foreach($arrType as $key => $value){
                    ?>
                    <option value="<?php echo $key; ?>" <?php echo (isset($this->params['office']) AND $this->params['office'] == $key) ? 'selected':''?>>
                        <?php echo $value; ?>
                    </option>
                <?php
                }
                ?>
            </select>
        </div>


    </div>


    <div class="span5">


        <div class="control-group">
            <label class="span2">Loại hợp đồng</label>
            <select name="contract_term[]" id="contract_term" class="multiselect" multiple="multiple">
                <?php
                foreach($this->contractTerms as $k => $v):
                    ?>
                    <option value="<?php echo $k;?>"
                        <?php if(isset($this->params['contract_term']) AND count($this->params['contract_term']) > 0 AND in_array($k, $this->params['contract_term'])) echo 'selected'; ?>><?php echo $v;?>
                    </option>
                <?php
                endforeach;
                ?>
            </select>
        </div>

        <div class="control-group">
            <label class="span2">Hợp đồng mới đến ngày</label>
            <input type="text" class="date" value="<?php isset($this->params['signed_to']) and printf($this->params['signed_to']);?>" name="signed_to">
        </div>
    </div>
</div>

<input type="submit" name='search' class='btn btn-primary' value="search">
<button type="reset" class="btn btn-warning">Reset</button>
<button type="submit" name="export" value="1"  class='btn btn-success'>Export</button>

</form>