<?php
    $action =  Zend_Controller_Front::getInstance()->getRequest()->getActionName();;
    $staff_preview =  $staff_new = $staff_transfer = $staff_contract = '';
    if($action == 're-signin'){
        $staff_preview = 'active';
    }elseif($action == 'new-sign-contract'){
        $staff_new = 'active';
    }elseif($action == 'contract-transfer'){
        $staff_transfer = 'active';
    }elseif($action == 'staff-contract'){
        $staff_contract = 'active';
    }
?>

<ul class="nav nav-tabs" id="myTab">
    <li class="<?php echo $staff_preview;?>"><a href="<?php echo ($staff_preview) ? '#' : '/contract-new/re-signin';?>">Danh sách đề xuất tái ký hợp đồng</a></li>
     
    <?php if($this->access('contract-new','new-sign-contract')):?>
    <li class="<?php echo $staff_new;?>"><a href="<?php echo ($staff_new) ? '#' : '/contract-new/new-sign-contract';?>">Danh sách HĐ cho nhân viên mới</a></li>
    <?php endif;?>
    
    <?php if($this->access('contract-new','contract-transfer')):?>
    <li class="<?php echo $staff_transfer;?>"><a href="<?php echo ($staff_transfer) ? '#' : '/contract-new/contract-transfer';?>">Danh sách HĐ Transfer</a></li>
    <?php endif;?>
    
    <li class="<?php echo $staff_contract;?>"><a href="<?php echo ($staff_contract) ? '#' : '/contract-new/staff-contract';?>">Lịch sử HD</a></li>

</ul>
