<script type="text/javascript" src="/js/jquery-ui-1.8.12.custom.min.js"></script>
<script type="text/javascript" src="/js/jquery.ui.timepicker.js"></script>
<link rel="stylesheet" type="text/css" href="/css/jquery-ui-1.8.12.custom.css"/>
<link rel="stylesheet" type="text/css" href="/css/jquery.ui.timepicker.css"/>
<div class="page-header">
    <h1>KPI Report</h1>
</div>
<div class="row">
	<div class="span12">
		<?php
            echo $this->render('hr-report/partials/search.phtml');
        ?>
	</div>
</div>
