
<div class="page-header">
    <h1>KPI Settings</h1>
</div>

<div class="row">
	<div class="span12">
		<?php
		    if (isset($this->messages_success) and $this->messages_success)
		        foreach ($this->messages_success as $message):
		            echo '<div class="alert alert-success">'.$message.'</div>';
		        endforeach;

		    if (isset($this->messages) and $this->messages)
		        foreach ($this->messages as $message):
		            echo '<div class="alert alert-error">'.$message.'</div>';
		        endforeach;
		?>
	</div>
</div>
<div class="row">
	<div class="span12">
		<p class="pull-right"><button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal" id="mass-update" class="mass-update">Add</button></p>
	</div>
</div>

<div class="accordion" id="accordion2">
    <div class="accordion-group">
        <div class="accordion-heading">
            <a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion2" href="#collapseTwo">
                Search
            </a>
        </div>
        <div id="collapseTwo" class="accordion-body collapse" style="height: 0px;">
            <div class="accordion-inner">
                <?php
                    echo $this->render('hr-report/partials/kpi-setting-search.phtml');
                ?>
            </div>
        </div>
    </div>
</div>
<!-- <div class="row">
    <div class="span12">
        <p class="pull-right"><b>Model :</b> <span class="badge">12</span></p>
    </div>
</div> -->
<div class="table-responsive">
    <?php
        echo $this->render('hr-report/partials/kpi-setting-list.phtml');
    ?>
</div>


<!-- <div class="modal fade" id="exampleModal" >
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" id="exampleModalLabel">New</h4>
            </div>
            <div class="modal-body">
                <h4 class="message" id="message" style="color:#1F9FDF"></h4>
                <form action="" method="post">
                    <div class="control-group" style="position: relative">
                        <label for="area_id" class="span1">Product <b style="color:red">*</b></label>
                        <select id="listProduct" name="product_id" class="span3" required>
                            <option value="">Choose product...</option>
                            <?php if ($this->listProduct) : foreach ($this->listProduct as $k => $vl): ?>
                                <option value="<?php echo $k;?>" <?php if (isset($this->params['area']) and $this->params['area']==$id):?>selected<?php endif;?>><?php echo $vl;?></option>
                            <?php endforeach; endif; ?>
                        </select>
                        <span class="loading hidden _loading" id="color-loading" style="position: absolute; right: 30px; top: 6px"></span>
                    </div>
                    <div class="control-group hidden" id="box-color">
                        <label for="GoodColor" class="span1">Color</label>
                        <select id="GoodColor" name="color_id" class="span3"></select>
                    </div>
                    <div class="control-group">
                        <label for="kpi" class="span1">KPI <b style="color:red">*</b></label>
                        <input type="number" name="kpi" id="kpi" placeholder="Kpi..." class="span3">
                    </div>
                    <div class="control-group">
                        <label for="area_id" class="span1">Policy <b style="color:red">*</b></label>
                        <select id="policy_id" name="policy_id" class="span3" required>
                            <option value="">Choose policy...</option>
                            <?php if ($this->policy['data']) : foreach ($this->policy['data'] as $value): ?>
                                <option value="<?php echo $value['id'];?>" ><?php echo $value['title'];?></option>
                            <?php endforeach; endif; ?>
                        </select>
                    </div>
                    <div class="control-group">
                        <label for="title" class="span1">Title <b style="color:red">*</b></label>
                        <select id="title" name="team[]" class="span3" multiple>
                            <?php if ($this->team) : foreach ($this->team as $k => $v): ?>
                            <option value="<?php echo $v['id'] ?>"><?php echo $v['name'] ?></option>
                            <?php endforeach; endif; ?>
                        </select>
                    </div>

                    <div class="control-group">
                        <label for="date" class="span1">From Date <b style="color:red">*</b></label>
                        <input type="text" class="form-control search-query date span3" id="from" name="from" value="<?php isset($this->params['from']) and printf($this->params['from']);?>" placeholder="From..." required>
                    </div>
                    <div class="control-group">
                        <label for="date" class="span1">To Date</label>
                        <input type="text" class="form-control search-query date span3" id="to" name="to" value="<?php isset($this->params['to']) and printf($this->params['to']);?>" placeholder="To...">
                    </div>
                </form>   
            </div>
            <div class="modal-footer">
                <input type="hidden" id="store-log-id" value="">
                <input type="hidden" value="<?php echo $this->type?>" name="type" id="type">
                <button type="button" name="edit" class="btn btn-primary edit-data" id="save-store" >Save</button>
                <button type="button" id="close" class="btn btn-default" data-dismiss="modal">Close</button>
                &nbsp;
            </div>
        </div>
    </div>
</div> -->