<style>
    #list_area li label span{
        margin-left: 5px;
    }

    .row h6.title{
        text-align: left;
    }

    #distributor_id, #result_distributor{
        width: 100%;
    }
    #btn_search_distributor{
        margin-left: 5px;
    }
</style>

<link rel="stylesheet" type="text/css" href="/css/jquery-ui-1.8.12.custom.css"/>
<link rel="stylesheet" type="text/css" href="/css/jquery.ui.timepicker.css"/>

<div class="page-header">
    <h1>KPI Settings <small><?php if (isset($this->log) && $this->log) echo "Edit"; else echo "Add"; ?></small></h1>
</div>

<div id='palert'></div>

<iframe  name="my_iframe" src="<?php echo HOST ?>hr-report/settings-save"" frameborder="0" style="height:0px;"></iframe>
<form id="main-form" target="my_iframe" class="form-horizontal" method="post" action="<?php echo HOST ?>hr-report/settings-save">
    <div class="row">
        <div class="span5">
            <h6 class="title">KPI</h3>
            <div class="control-group">
                <label class="control-label" for="">Categories</label>
                <div class="controls">
                    <select name="cat_id" id="cat_id" required>
                        <option value>---</option>
                        <?php if (isset($this->cat) && $this->cat): ?>
                            <?php foreach ($this->cat as $key => $value): ?>
                                <option value="<?php echo $key ?>" <?php if(isset($this->log_cat) && $this->log_cat==$key) echo "selected" ?>><?php echo $value ?></option>
                            <?php endforeach ?>
                        <?php endif ?>
                    </select>
                </div>
            </div>
        
            <div class="control-group">
                <label class="control-label" for="">Product</label>
                <div class="controls">
                    <select name="good_id" id="good_id" required>
                        <option value>---</option>
                        <?php if (isset($this->goods) && $this->goods): ?>
                            <?php foreach ($this->good_all as $key => $value): ?>
                                <option value="<?php echo $key ?>" <?php if(isset($this->log['good_id']) && $this->log['good_id']==$key) echo "selected" ?>><?php echo $value ?></option>
                            <?php endforeach ?>
                        <?php endif ?>
                    </select>
                </div>
            </div>
            <div class="control-group">
                <label class="control-label" for="">Color</label>
                <div class="controls">
                    <select name="color_id" id="color_id">
                        <option value>---</option>
                        <?php if (isset($this->good_colors) && $this->good_colors): ?>
                            <?php foreach ($this->good_colors as $key => $value): ?>
                                <option value="<?php echo $key ?>" <?php if(isset($this->log['color_id']) && $this->log['color_id']==$key) echo "selected" ?>><?php echo $value ?></option>
                            <?php endforeach ?>
                        <?php endif ?>
                    </select>
                </div>
            </div>
            <div class="control-group">
                <label class="control-label" for="from">From</label>
                <div class="controls">
                    <input type="text" class="date" name="from" id="from" autocomplete="off" value="<?php if(isset($this->log['from_date']) && strtotime($this->log['from_date'])) echo date('d/m/Y', strtotime($this->log['from_date'])); ?>">
                </div>
            </div>
            <div class="control-group">
                <label class="control-label" for="to">To</label>
                <div class="controls">
                    <input type="text" class="date" name="to" id="to" autocomplete="off" value="<?php if(isset($this->log['to_date']) && strtotime($this->log['to_date'])) echo date('d/m/Y', strtotime($this->log['to_date'])); ?>">
                </div>
            </div>

            <div class="control-group">
                <label class="control-label" for="kpi">KPI</label>
                <div class="controls">
                    <input type="text" required name="kpi" id="kpi" value="<?php if(isset($this->log['kpi'])) echo $this->log['kpi']; else echo '0'; ?>">
                </div>
            </div>

            <div class="control-group">
                <label class="control-label" for="type">KPI For</label>
                <div class="controls">
                    <select name="type" id="type" required>
                        <option value>---</option>
                        <?php foreach (My_Kpi_Object::$name as $key => $value): ?>
                            <option value="<?php echo $key ?>" <?php if(isset($this->log) && $this->log['type']==$key) echo "selected" ?>><?php echo $value ?></option>
                        <?php endforeach ?>
                    </select>
                </div>
            </div>
        </div>

        <div class="span3">
            <h6 class="title">AREA</h3>
            <div class="control-group">
            <select name="area_id" >
            <option value="0">---</option>
            <?php 
                if(isset($this->areas) and $this->areas){
                    foreach ($this->areas as $key => $value) {
            ?>
                <option value="<?php echo $key;?>" <?php if(isset($this->log) && $this->log['area_id']==$key) echo "selected" ?>   >
                <?php echo $value;?></option>
            <?php                 
                    }
                }
            ?>
            </select>
            </div>
        </div>

        <div class="span4">
            <h6 class="title">DISTRIBUTOR</h6>
            <div class="control-group">
                <select name="distributor_id" id="distributor_id" size="5">
                    <?php 
                        if(isset($this->arr_distributors) and $this->arr_distributors){
                            foreach ($this->arr_distributors as $key => $value) {
                    ?>
                        <option value="<?php echo $value['id'];?>"> <?php echo $value['title'].' - '.$value['store_code'].' - '.$value['area_name']; ?></option>
                    <?php 
                            }
                        }
                    ?>
                </select>
                <input type="hidden" name="distributor_id_text" value="<?php echo $this->log['distributor_id']?>" id="distributor_id_text">
                <button type="button" id="remove_distributor" class="btn btn-danger pull-right">Remove</button>
            </div>

            <div class="control-group">
                <label for="">Search</label>
                <input type="text" name='search_distributor' id='search_distributor'><button type="button" id="btn_search_distributor" class="btn btn-success"><i class="icon-search"></i></button>
                <label for="">Result</label>
                <select name="result_distributor" id="result_distributor" size="5">
                </select>
                <button id="add_distributor"  type="button" class="btn btn-success pull-right">Add Distributor</button>
            </div>
        </div>
    </div>

    <div class="control-group">
        <div class="controls">
            <input type="hidden" name="refer" value="<?php echo $this->refer ?>">
            <input type="hidden" name="id" value="<?php if(isset($this->log['id'])) echo $this->log['id'] ?>">
            <button type="submit" class="btn btn-primary">Save</button>
            <a href="<?php echo HOST ?>hr-report/settings" class="btn btn-default">Cancel</a>
        </div>
    </div>
</form>



<script type="text/javascript" src="/js/jquery-ui-1.8.12.custom.min.js"></script>
<script type="text/javascript" src="/js/jquery.ui.timepicker.js"></script>
<script type="text/javascript" src="/js/jquery.blockUI.js"></script>
<script>

    $(document).ready(function () {
        $( '.date' ).datepicker({ dateFormat: "dd/mm/yy" });
        $('.form-search button:reset').click(function (e){
            $('.form-search input, .form-search select').val('');
            $('.form-search').submit();
            return false;
        });
        
        initSelectCategories();
        search_distributor();
        add_distributor();
        remove_distributor();

        $("#main-form").keypress(function(event){
            if(event.which == 13){
                event.preventDefault();
            }
        })

    });
    
    $(document).ajaxStart($.blockUI).ajaxStop($.unblockUI);

    function initSelectCategories(){
        $(document).off('change', '.cat_id')
        .on('change', '#cat_id', function(e) {
            $('.loading').remove();
            $(this).after('<span class="loading"></span>');
            var cat_id = $(this).val();

            $.get("/hr-report/load-product",
                {cat_id: cat_id}
                ,function(data,status){
                    var data = $.parseJSON( data );
                    if (data.goods){
                        var obj = data.goods;
                        $('#good_id').html('<option>Please select</option>');
                        for (var i = 0; i < obj.length; i++) {
                            $('#good_id').append('<option value="'+obj[i]['id']+'">'+obj[i]['desc']+' - '+obj[i]['name']+'</option>');
                        }
                    }
    
                    $('button[type=submit]').prop('disabled', false);
                    $('form').unbind('submit');
                    $('.loading').remove();
                });
        });
    }

    function search_distributor(){
        $("#btn_search_distributor").click(function(){
            var keyword = $("#search_distributor").val();
            if(keyword == ''){
                alert('Please input keyword');
            }else{
                var link = "<?php echo HOST.'ajax/search-distributor';?>";
                $.ajax({
                    url: link,
                    type: 'get',
                    data:{'keyword':keyword},
                    success:function(data){
                        $("#result_distributor").html(data);
                    },
                    error:function(){
                        alert('search error');
                    }
                });
            }
        })
    }

    function update_distributor_string(){
        var distributor_id_text = '';
        number = $("#distributor_id option").length;
        if(number >= 1){
            var array = [];
            $("#distributor_id option").each(function(){
                array.push($(this).val());
            });
            distributor_id_text = array.join();
        }

        $("#distributor_id_text").val(distributor_id_text);
        
    }

    function add_distributor(){
        $("#add_distributor").click(function(){
            var number              = $("#result_distributor option:selected").length;
            var distributor_id_text = $("#distributor_id_text").val();
            var option_html         = '';

            number_current = $("#distributor_id option").length;

            if(number_current >= 1){
                alert("Chỉ được chọn 1 đại lý");
                return;
            }

            if(number >= 1){
                $("#result_distributor option:selected").each(function(){
                    var new_distributor = $(this).val();
                    new_distributor     = parseInt(new_distributor);
                    var array           = JSON.parse("[" + distributor_id_text + "]");
                    var check           = array.indexOf(new_distributor);
                    if(check != -1){
                        alert('This Distributor has defined');
                    }else{
                        array.push(new_distributor);
                        distributor_id_text = array.join();
                        option_html += '<option value="'+$(this).val()+'">' + $(this).text()+ '</option>';
                        
                    }

                });

                $('#distributor_id').append(option_html);
                update_distributor_string();
            }    
        });
    }

    function remove_distributor(){
        
        $(document).on('click',"#remove_distributor", function(){
            var length =  $('#distributor_id option:selected').length;
            if(length >= 1){
                console.log(length);
                $('#distributor_id option:selected').remove();
                update_distributor_string();
            }
        })
    }
   
    /*
    function pAlert(code,message,url){
        if(code == 0){
            $(".palert_success").html($message);
            setTimeout(function() {
                window.location.href = url;    
            }, 3000);
        }else{
            $(".palert_failed").html($message);
        }
    }
    */
</script>
