<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <title>Station Playing - Culture Game OPPO</title>
    <link rel="icon" type="image/ico" href="/img/favicon.ico">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <!-- Bootstrap -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css" integrity="sha384-HSMxcRTRxnN+Bdg0JdbxYKrThecOKuH5zCYotlSAcp1+c8xmyTe9GYg1l9a69psu" crossorigin="anonymous">
    <link rel="stylesheet" href="/css/style_culture_game.css">

   
  </head>
  <style type="text/css">
  @media only screen and (min-width: 320px) and (max-width: 1080px){
    body{
      background-image: url(/img/culture_game_2020/m_bg_question_station.jpg);
      background-position: center center;
      background-repeat: no-repeat;
      background-size: 100% 100%;
      height: 215vw;
    }
  }
  </style>
   <script language="javascript">
            var gio = null;
            var phut = null;
            var giay = null;
            var timeout_ = null; // Timeout
            var h = null; // Giờ
            var m = null; // Phút
            var s = null; // Giây
          //  var l = null; // mili
            var timeout = null; // Timeout
            var acrInterval = null;
            //function start_question(){}
            function start(){}
           // function stop(){clearTimeout(timeout);}
        </script>
  <body <?php  if($this->num_play == 1):?> onbeforeunload="return preventloadpage()" <?php endif;?>>

    <?php 
    $useragent = $_SERVER['HTTP_USER_AGENT'];

    if(preg_match('/(android|bb\d+|meego).+mobile|avantgo|bada\/|blackberry|blazer|compal|elaine|fennec|hiptop|iemobile|ip(hone|od)|iris|kindle|lge |maemo|midp|mmp|netfront|opera m(ob|in)i|palm( os)?|phone|p(ixi|re)\/|plucker|pocket|psp|series(4|6)0|symbian|treo|up\.(browser|link)|vodafone|wap|windows (ce|phone)|xda|xiino/i',$useragent)||preg_match('/1207|6310|6590|3gso|4thp|50[1-6]i|770s|802s|a wa|abac|ac(er|oo|s\-)|ai(ko|rn)|al(av|ca|co)|amoi|an(ex|ny|yw)|aptu|ar(ch|go)|as(te|us)|attw|au(di|\-m|r |s )|avan|be(ck|ll|nq)|bi(lb|rd)|bl(ac|az)|br(e|v)w|bumb|bw\-(n|u)|c55\/|capi|ccwa|cdm\-|cell|chtm|cldc|cmd\-|co(mp|nd)|craw|da(it|ll|ng)|dbte|dc\-s|devi|dica|dmob|do(c|p)o|ds(12|\-d)|el(49|ai)|em(l2|ul)|er(ic|k0)|esl8|ez([4-7]0|os|wa|ze)|fetc|fly(\-|_)|g1 u|g560|gene|gf\-5|g\-mo|go(\.w|od)|gr(ad|un)|haie|hcit|hd\-(m|p|t)|hei\-|hi(pt|ta)|hp( i|ip)|hs\-c|ht(c(\-| |_|a|g|p|s|t)|tp)|hu(aw|tc)|i\-(20|go|ma)|i230|iac( |\-|\/)|ibro|idea|ig01|ikom|im1k|inno|ipaq|iris|ja(t|v)a|jbro|jemu|jigs|kddi|keji|kgt( |\/)|klon|kpt |kwc\-|kyo(c|k)|le(no|xi)|lg( g|\/(k|l|u)|50|54|\-[a-w])|libw|lynx|m1\-w|m3ga|m50\/|ma(te|ui|xo)|mc(01|21|ca)|m\-cr|me(rc|ri)|mi(o8|oa|ts)|mmef|mo(01|02|bi|de|do|t(\-| |o|v)|zz)|mt(50|p1|v )|mwbp|mywa|n10[0-2]|n20[2-3]|n30(0|2)|n50(0|2|5)|n7(0(0|1)|10)|ne((c|m)\-|on|tf|wf|wg|wt)|nok(6|i)|nzph|o2im|op(ti|wv)|oran|owg1|p800|pan(a|d|t)|pdxg|pg(13|\-([1-8]|c))|phil|pire|pl(ay|uc)|pn\-2|po(ck|rt|se)|prox|psio|pt\-g|qa\-a|qc(07|12|21|32|60|\-[2-7]|i\-)|qtek|r380|r600|raks|rim9|ro(ve|zo)|s55\/|sa(ge|ma|mm|ms|ny|va)|sc(01|h\-|oo|p\-)|sdk\/|se(c(\-|0|1)|47|mc|nd|ri)|sgh\-|shar|sie(\-|m)|sk\-0|sl(45|id)|sm(al|ar|b3|it|t5)|so(ft|ny)|sp(01|h\-|v\-|v )|sy(01|mb)|t2(18|50)|t6(00|10|18)|ta(gt|lk)|tcl\-|tdg\-|tel(i|m)|tim\-|t\-mo|to(pl|sh)|ts(70|m\-|m3|m5)|tx\-9|up(\.b|g1|si)|utst|v400|v750|veri|vi(rg|te)|vk(40|5[0-3]|\-v)|vm40|voda|vulc|vx(52|53|60|61|70|80|81|83|85|98)|w3c(\-| )|webc|whit|wi(g |nc|nw)|wmlb|wonu|x700|yas\-|your|zeto|zte\-/i',substr($useragent,0,4))):?>

<iframe src="https://center.opposhop.vn/maze_mobile" style="position:fixed; top:0; left:0; bottom:0; right:0; width:100%; height:100%; border:none; margin:0; padding:0; overflow:hidden; z-index:999999;"></iframe>
<?php else:?>
    <iframe src="https://center.opposhop.vn/maze" style="position:fixed; top:0; left:0; bottom:0; right:0; width:100%; height:100%; border:none; margin:0; padding:0; overflow:hidden; z-index:999999;"></iframe>
<?php endif;?>
    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://code.jquery.com/jquery-1.12.4.min.js" integrity="sha384-nvAa0+6Qg9clwYCGGPpDQLVpLNn0fRaROjHqs13t4Ggj3Ez50XnGQqc/r8MhnRDZ" crossorigin="anonymous"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js" integrity="sha384-aJ21OjlMXNL5UyIl/XNwTMqvzeRMZH2w8c5cRVpzpU8Y5bApTppSuUkhZXN0VxHd" crossorigin="anonymous"></script>
  </body>


<script type="text/javascript">

  function preventloadpage(){
    return "Are you sure you want leave?"; 
  }
    
  function format(n){
      return n > 9 ? "" + n: "0" + n;
  }
// function start()
// {
//     if (gio === null)
//     {
//         gio = 0;
//         phut = <?php echo CULTURE_GAME_TIME_MINUTE_ROUND3;?>;
//         giay = 00;
//     }if (giay === -1){
//         phut -= 1;
//         giay = 59;
//     }if (phut === -1){
//         gio -= 1;
//         phut = 59;
//     }if (gio == -1){
//         clearTimeout(timeout_);

//         //nếu lần chơi thứ 2 thì ko cần show modal fail
//         var num_play = $('#num_play').val();
//         if(num_play > 1){
//           $('body').removeAttr("onbeforeunload");
//           location.reload();
//         }else{
//            $('#id02').css('display','block');
//         }
       
//         return false;
//     }
//      document.getElementById('phut').innerText = format(phut).toString();
//     document.getElementById('giay').innerText = format(giay).toString();
//     timeout_ = setTimeout(function(){
//         giay--;
//         start();
//     }, 1000);
// }

function endgame(){
  window.location.href = "https://center.opposhop.vn/culture-game/station-finish";
}

$(window).load(function(){

  
    // $('#id02').click(function(){
    //     $('body').removeAttr("onbeforeunload");
    //     $(location).attr('href', 'https://center.opposhop.vn/culture-game/station');
    //     return false;
    //   });
   // start(); // thời gian tổng 10p
    




    // $(document).on('click','#submit',function(){
    //   var id_master = $('#id_master').val();  
    //   var option_id = $('#option_id').val();  

    //    // console.log(array_value);
          
    //   $.ajax({
    //           url: "<?php echo HOST;?>culture-game/submit-answer-round-four",
    //           type: "POST",
    //           dataType: "text",
    //           context: this,
    //           data: "id_master="+id_master+"&submit="+1,
    //           beforeSend: function() {
    //                 $(".loading").show();                   
    //             },
    //           success: function(result){
    //             var data = jQuery.parseJSON(result);
    //             console.log(data);
    //             if(data.status == 0){
    //                console.log(data);
    //             }
    //           },
    //           error:function(){
    //                //alert("Submit thất bại !");
    //           }
    //     });
          
    // });
}); 

</script>

</html>