<!doctype html>
<html lang="en">
  <head>



    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta http-equiv='cache-control' content='no-cache'> 
    <meta http-equiv='expires' content='0'> 
    <meta http-equiv='pragma' content='no-cache'> 
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta property="og:image" content="/img/culture_game_2020/thumbnail.jpg"/>
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <title>Culture Game OPPO</title>
    <link rel="icon" type="image/ico" href="/img/favicon.ico">


    <!-- Bootstrap -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css" integrity="sha384-HSMxcRTRxnN+Bdg0JdbxYKrThecOKuH5zCYotlSAcp1+c8xmyTe9GYg1l9a69psu" crossorigin="anonymous">
    <link rel="stylesheet" href="/css/style_culture_game.css">

   
  </head>
<style type="text/css">
@media only screen and (min-width: 320px) and (max-width: 1080px){
    body{
     /* background-image: url(/img/culture_game_2020/m_index.jpg);
      background-position: center center;
      background-repeat: no-repeat;
      background-size: 100% 100%;*/
    }
}
</style>
  <body>
    <div
    <?php if(CULTURE_GAME_CURRENT_ROUND == CULTURE_GAME_ROUND1):?>
     class="content-game"
     <?php endif;?>
    <?php if(CULTURE_GAME_CURRENT_ROUND == CULTURE_GAME_ROUND2):?>
      class="content-game-station2"
      <?php endif;?>
      <?php if(CULTURE_GAME_CURRENT_ROUND == CULTURE_GAME_ROUND3):?>
      class="content-game-station3"
      <?php endif;?>
      <?php if(CULTURE_GAME_CURRENT_ROUND == CULTURE_GAME_ROUND4):?>
      class="content-game-station4"
      <?php endif;?>
     >
          <div class="div_logo">
            <a id="logo"><img src="/img/culture_game_2020/logo_culture.png"></a>
          </div>
          <?php if(CULTURE_GAME_CURRENT_ROUND == CULTURE_GAME_ROUND1):?>
          <div class="content-letter-car">
            <span class="title-letter">TRẠM 1</span>
            <br>
            <span class="content-letter">Mật thư kép</span>
          </div>
           <span><img src="/img/culture_game_2020/location.png" class="location_car animate__animated animate__bounce"></span>
          <?php endif;?>
          <?php if(CULTURE_GAME_CURRENT_ROUND == CULTURE_GAME_ROUND2):?>
          <div class="content-letter-helmet">
            <span class="title-letter-helmet">TRẠM 2</span>
            <br>
            <span class="content-helmet">Bí mật ô chữ</span>
          </div>
          <span><img src="/img/culture_game_2020/location.png" class="location_helmet animate__animated animate__bounce"></span>
          <?php endif;?>

          <?php if(CULTURE_GAME_CURRENT_ROUND == CULTURE_GAME_ROUND3):?>
          <div class="content-letter-gas">
            <span class="title-letter-gas">TRẠM 3</span>
            <br>
            <span class="content-gas">Ô chữ liên hoàn</span>
          </div>
          <span><img src="/img/culture_game_2020/location.png" class="location_gas animate__animated animate__bounce"></span>
          <?php endif;?>
           <?php if(CULTURE_GAME_CURRENT_ROUND == CULTURE_GAME_ROUND4):?>
          <div class="content-letter-oxy">
            <span class="title-letter-oxy">TRẠM 4</span>
            <br>
            <span class="content-oxy">Giải mã mê cung</span>
          </div>
          <span><img src="/img/culture_game_2020/location.png" class="location_oxy animate__animated animate__bounce"></span>
          <?php endif;?>


          <div class="div_btn_joint pull-left">
            <span class="text-join animate__animated animate__pulse" ><a href="/culture-game/station">VÀO TRẠM</a></span>
            <span id="check"><a id="link_join"><img src="/img/culture_game_2020/Icon-Vaotram.png" class="btn_join" style=""></a></span>
          </div>
         
          <div class="pull-right content-tab">
            <nav>
              <ul class="nav-pills pull-right">
                <li class="top-li fix_li"><a href="#" id="index">Thể lệ</a></li>
                <li><a href="/culture-game/station-result">Danh sách <br> người chơi</a></li>
                <li class="top-li"><a href="#" id="gift">Quà tặng</a></li>
                <li><a href="/culture-game/station-reward">Danh sách <br> trúng thưởng</a></li>
              </ul>
            </nav>
            <div class="clear_fix"></div>
            <div class="tab-index tab-scroll" id="style-scroll" style="display: block;">

              Kết quả đường đua được xác định dựa trên tổng thời gian đua của các trạm. Người chơi có tổng thời gian ngắn nhất là người thắng cuộc. <br><br>
              Đường đua gồm tất cả <b>4 trạm, mỗi trạm 2 lượt</b> chơi:
              <br><br>
              • &emsp;Lượt 1: nếu không hoàn thành, ngoài thời gian chơi lượt 1, người chơi bị phạt cộng thêm 5 phút<br>
              • &emsp;Lượt 2: nếu tiếp tục không hoàn thành hoặc bỏ cuộc, người chơi bị ghi nhận “KHÔNG HOÀN THÀNH TRẠM”
              <br><br>
              Trường hợp không hoàn thành 1 trạm bất kỳ, người chơi vẫn có quyền tham gia các trạm tiếp theo.<br><br>
              Thử thách từng trạm lần lượt lên sóng vào <b>12:00 - 13:30, THỨ BA & THỨ NĂM</b> hàng tuần <b>(06/10 - 15/10)</b><br><br>
              Giải thưởng:<br>

              • &emsp;Top 30 giải thưởng nhanh nhất Trạm 01 - Trạm 02<br>
              • &emsp;Giải thưởng Vòng quay may măn Trạm 03 - Trạm 04<br>
              • &emsp;Top 3 giải thưởng chung cuộc cho 3 bạn hoàn thành các trạm và về đích nhanh nhất<br><br>


             
              NÀO, CHIẾN THÔI!!<br>
              
              </p>
          </div>

          <div class="tab-gift" style="display: none;">
            <?php if(CULTURE_GAME_CURRENT_ROUND == CULTURE_GAME_ROUND1):?>
              <img src="/img/culture_game_2020/gift/gift_station1.png" class="gift">
              <br>
              <span class="title-gift">TOP 30 - TRẠM 1</span><br>
              <span class="name-gift">Loa Bluetooth OPPO + Ollie Tý</span>
            <?php endif;?>
            <?php if(CULTURE_GAME_CURRENT_ROUND == CULTURE_GAME_ROUND2):?>
              <img src="/img/culture_game_2020/gift/gift_station2.png" class="gift">
              <span class="title-gift">TOP 30 - TRẠM 2</span><br>
              <span class="name-gift">Tai nghe Bluetooth Tekin i12<br>Loa Bluetooth Recci Travel RBS-D1</span>
            <?php endif;?>
            <?php if(CULTURE_GAME_CURRENT_ROUND == CULTURE_GAME_ROUND3):?>
              <img src="/img/culture_game_2020/gift/gift-3.png" class="gift-3">
              <!-- <span class="title-gift-3">TOP 30 - TRẠM 3</span><br>
              <span class="name-gift-3">Tai nghe in ear JBL  <br> Sạc dự phòng Recci Noble  RN-10000</span> -->
            <?php endif;?>
            <?php if(CULTURE_GAME_CURRENT_ROUND == CULTURE_GAME_ROUND4):?>
              <img src="/img/culture_game_2020/gift/gift-4.png" class="gift-3">
              <!-- <span class="title-gift-3">TOP 30 - TRẠM 4</span><br>
              <span class="name-gift-3">30 Loa Bluetooth Recci Travel RBS-B1 <br> Sạc dự phòng PP201</span> -->
            <?php endif;?>
          </div>
            
          </div>
          
        <!-- </div> -->

    </div> 



     <div id="announce-soon-late" class="w3-modal modal-opacity close-announce">
        <div class="w3-modal-content station-modal-content" style="background-color: #fffbfb00;">
          <div class="w3-container">
              <div class="announce-soon-late">
                
              </div>
          </div>
        </div>
      </div>


    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://code.jquery.com/jquery-1.12.4.min.js" integrity="sha384-nvAa0+6Qg9clwYCGGPpDQLVpLNn0fRaROjHqs13t4Ggj3Ez50XnGQqc/r8MhnRDZ" crossorigin="anonymous"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js" integrity="sha384-aJ21OjlMXNL5UyIl/XNwTMqvzeRMZH2w8c5cRVpzpU8Y5bApTppSuUkhZXN0VxHd" crossorigin="anonymous"></script>
    <script>
    
    function GetURLParameter(sParam) {
        var sPageURL = window.location.search.substring(1);
        var sURLVariables = sPageURL.split('&');
        for (var i = 0; i < sURLVariables.length; i++){
            var sParameterName = sURLVariables[i].split('=');
            if (sParameterName[0] == sParam)
            {
                return sParameterName[1];
            }
        }
    }
    $(document).ready(function(){

      $(document).on('click','#index',function(){
        $('.tab-index').css('display','block');
        $('.tab-gift').css('display','none');
      });
      $(document).on('click','#gift',function(){
        $('.tab-index').css('display','none');
        $('.tab-gift').css('display','block');
      });


      var soon = GetURLParameter('soon');
      var late = GetURLParameter('late');
      if(soon==1)
      {
          var html ='Ôi ôi vào sớm thế này...<br>Đúng 12:00 nha bạn ơi ;)';
          $('.announce-soon-late').html(html);
          $('#announce-soon-late').css('display','block');

      }
      if(late==1)
      {
          var html ='Lew lew, hôm nay vào trễ giờ rồi...<br>Nhớ thời gian 12:00 - 13:30 nhé :D';
          $('.announce-soon-late').html(html);
          $('#announce-soon-late').css('display','block')
      }
      $('.close-announce').click(function(){
        $('#announce-soon-late').css('display','none');
          window.location.href = "https://center.opposhop.vn/culture-game/index";
       });

     });




  </script>

 <!--  <script>
 function isFacebookApp() {
        var ua = navigator.userAgent || navigator.vendor || window.opera;
        return (ua.indexOf("FBAN") > -1) || (ua.indexOf("FBAV") > -1);
    } 
    if(isFacebookApp()){
         // your action here if user using Facebook in-app browser
        alert('Are you using Facebook Browser? To get better experience, try press [...] and Open game in Chrome or Safari. Thank you!');
    }
</script> -->

  </body>

</html>