<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <title>Station Playing - Culture Game OPPO</title>
    <link rel="icon" type="image/ico" href="/img/favicon.ico">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <!-- Bootstrap -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css" integrity="sha384-HSMxcRTRxnN+Bdg0JdbxYKrThecOKuH5zCYotlSAcp1+c8xmyTe9GYg1l9a69psu" crossorigin="anonymous">
    <link rel="stylesheet" href="/css/style_culture_game.css">

   
  </head>
  <style type="text/css">
  @media only screen and (min-width: 320px) and (max-width: 1080px){
    body{
      background-image: url(/img/culture_game_2020/m_bg_question_station.jpg);
      background-position: center center;
      background-repeat: no-repeat;
      background-size: 100% 100%;
      height: 215vw;
    }
  }
  </style>
   <script language="javascript">
            var gio = null;
            var phut = null;
            var giay = null;
            var timeout_ = null; // Timeout
            var h = null; // Giờ
            var m = null; // Phút
            var s = null; // Giây
          //  var l = null; // mili
            var timeout = null; // Timeout
            var acrInterval = null;
            //function start_question(){}
            function start(){}
           // function stop(){clearTimeout(timeout);}
        </script>
  <body <?php  if($this->num_play == 1):?> onbeforeunload="return preventloadpage()" <?php endif;?>>
    <div class="content-play">

      <div class="ribbon">
        <span class="img-ribbon">
          <img src="/img/culture_game_2020/third_station/station3_name.png">
        </span>
        
      </div>
      <div class="img-box">
          <img src="/img/culture_game_2020/third_station/box.png" class="option-box">
      </div>
      <div class="content-question-third">
        <div class="img-frame"> 
          <?php if($this->option == 1):?> 
            <img src="/img/culture_game_2020/third_station/option1.png" class="option1-img">
          <?php endif;?>
          <?php if($this->option == 2):?> 
            <img src="/img/culture_game_2020/third_station/option2.png" class="option1-img">
          <?php endif;?>
        </div>
<?php if($this->option == 1):?>       
        <div class="frame-question option option1">
          <div class="line">
            <span class="span-line">
              <input type="text" name="" tabindex="1" maxlength="1" data-auto="1-1" data-input ="input-1" data-vertical="vertical-1" class="vertical-1 input-character input-1 auto-1-1" id="input_1" value="G" readonly></span>
          </div>
          <div class="line">
            <span class="span-line">
              <input type="text" name="" tabindex="2" maxlength="1" data-auto="1-2" data-input ="input-2" data-vertical="vertical-2" class="vertical-2 input-character input-2 auto-1-2" id="input_2" value=""></span>
            <span class="span-line">
              <input type="text" name="" tabindex="1" maxlength="1" data-auto="3-1-4-1" data-input ="input-3" data-vertical="vertical-7" class="vertical-7 input-character input-3 auto-3-1 auto-4-1" id="input_3" value="T" readonly></span>
            <span class="span-line">
              <input type="text" name="" tabindex="1" maxlength="1" data-auto="3-2" data-input ="input-4" class="input-character input-4 auto-3-2" id="input_4" value=""></span>
            <span class="span-line">
              <input type="text" name="" tabindex="1" maxlength="1" data-auto="3-3" data-input ="input-5" class="input-character input-5 auto-3-3" id="input_5" value=""></span>
            <span class="span-line">
              <input type="text" name="" tabindex="1" maxlength="1" data-auto="3-4" data-input ="input-6" class="input-character input-6 auto-3-4" id="input_6" value=""></span>
            <span class="span-line">
              <input type="text" name="" tabindex="1" maxlength="1" data-auto="3-5" data-input ="input-7" class="input-character input-7 auto-3-5" id="input_7" value=""></span>
            <span class="span-line">
              <input type="text" name="" tabindex="1" maxlength="1" data-auto="3-6" data-input ="input-8" class="input-character input-8 auto-3-6" id="input_8" value=""></span>
          </div>
          <div class="line">
            <span class="span-line">
              <input type="text" name="" tabindex="3" maxlength="1" data-auto="1-3" data-input ="input-9" data-vertical="vertical-3" class="vertical-3 input-character input-9 auto-1-3" id="input_9" value=""></span>
            <span class="span-line">
              <input type="text" name="" tabindex="1" maxlength="1" data-auto="4-2" data-input ="input-10" data-vertical="vertical-8" class="vertical-8 input-character input-10 auto-4-2" id="input_10" value=""></span>
          </div>
          <div class="line">
            <span class="span-line">
              <input type="text" name="" tabindex="7" maxlength="1" data-auto="2-1" data-input ="input-11" class="input-character input-11 auto-2-1" id="input_11" value="K" readonly></span>
            <span class="span-line">
              <input type="text" name="" tabindex="8" maxlength="1" data-auto="2-2" data-input ="input-12" class="input-character input-12 auto-2-2" id="input_12" value=""></span>
            <span class="span-line">
              <input type="text" name="" tabindex="4" maxlength="1" data-auto="1-4-2-3" data-input ="input-13" data-vertical="vertical-4" class="vertical-4 input-character input-13 auto-1-4 auto-2-3" id="input_13" value=""></span>
            <span class="span-line">
              <input type="text" name="" tabindex="9" maxlength="1" data-auto="2-4" data-input ="input-14" class="input-character input-14 auto-2-4" id="input_14" value=""></span>
            <span class="span-line">
              <input type="text" name="" tabindex="10" maxlength="1" data-auto="2-5" data-input ="input-15" class="input-character input-15 auto-2-5" id="input_15" value=""></span>
            <span class="span-line">
              <input type="text" name="" tabindex="11" maxlength="1" data-auto="2-6-4-3" data-input ="input-16" data-vertical="vertical-9" class="vertical-9 input-character input-16 auto-2-6 auto-4-3" id="input_16" value=""></span>
            <span class="span-line">
              <input type="text" name="" tabindex="1" maxlength="1" data-auto="6-1-7-1" data-input ="input-17" data-vertical="vertical-16" class="vertical-16 input-character input-17 auto-6-1 auto-7-1" id="input_17" value="K" readonly></span>
            <span class="span-line">
              <input type="text" name="" tabindex="1" maxlength="1" data-auto="6-2" data-input ="input-18" class="input-character input-18 auto-6-2" id="input_18" value=""></span>
            <span class="span-line">
              <input type="text" name="" tabindex="1" maxlength="1" data-auto="6-3" data-input ="input-19" class="input-character input-19 auto-6-3" id="input_19" value=""></span>
            <span class="span-line">
              <input type="text" name="" tabindex="1" maxlength="1" data-auto="6-4" data-input ="input-20" class="input-character input-20 auto-6-4" id="input_20" value=""></span>
            <span class="span-line">
              <input type="text" name="" tabindex="1" maxlength="1" data-auto="6-5" data-input ="input-21" class="input-character input-21 auto-6-5" id="input_21" value=""></span>
            <span class="span-line">
              <input type="text" name="" tabindex="1" maxlength="1" data-auto="6-6-8-1" data-input ="input-22" data-vertical="vertical-23" class="vertical-23 input-character input-22 auto-6-6 auto-8-1" id="input_22" value="V" readonly></span>
            <span class="span-line">
              <input type="text" name="" tabindex="1" maxlength="1" data-auto="6-7" data-input ="input-23" class="input-character input-23 auto-6-7" id="input_23" value=""></span>
            <span class="span-line">
              <input type="text" name="" tabindex="1" maxlength="1" data-auto="6-8" data-input ="input-24" class="input-character input-24 auto-6-8" id="input_24" value=""></span>
            <span class="span-line">
              <input type="text" name="" tabindex="1" maxlength="1" data-auto="6-9" data-input ="input-25" class="input-character input-25 auto-6-9" id="input_25" value=""></span>
            <span class="span-line">
              <input type="text" name="" tabindex="1" maxlength="1" data-auto="6-10" data-input ="input-26" class="input-character input-26 auto-6-10" id="input_26" value=""></span>
            <span class="span-line">
              <input type="text" name="" tabindex="1" maxlength="1" data-auto="6-11-11-1" data-input ="input-27" data-vertical="vertical-39" class="vertical-39 input-character input-27 auto-6-11 auto-11-1" id="input_27" value="O" readonly></span>
          </div>
          <div class="line">
            <span class="span-line">
              <input type="text" name="" tabindex="5" maxlength="1" data-auto="1-5" data-input ="input-28" data-vertical="vertical-5" class="vertical-5 input-character input-28 auto-1-5" id="input_28" value=""></span>
            <span class="span-line">
              <input type="text" name="" tabindex="1" maxlength="1" data-auto="4-4" data-input ="input-29" data-vertical="vertical-10" class="vertical-10 input-character input-29 auto-4-4" id="input_29" value=""></span>
            <span class="span-line">
              <input type="text" name="" tabindex="1" maxlength="1" data-auto="7-2" data-input ="input-30" data-vertical="vertical-17" class="vertical-17 input-character input-30 auto-7-2" id="input_30" value=""></span>
            <span class="span-line">
              <input type="text" name="" tabindex="1" maxlength="1" data-auto="8-2" data-input ="input-31" data-vertical="vertical-24" class="vertical-24 input-character input-31 auto-8-2" id="input_31" value=""></span>
            <span class="span-line">
              <input type="text" name="" tabindex="1" maxlength="1" data-auto="11-2" data-input ="input-32" data-vertical="vertical-40" class="vertical-40 input-character input-32 auto-11-2" id="input_32" value=""></span>
          </div>
          <div class="line">
            <span class="span-line">
              <input type="text" name="" tabindex="6" maxlength="1" data-auto="1-6" data-input ="input-33" data-vertical="vertical-6" class="vertical-6 input-character input-33 auto-1-6" id="input_33" value=""></span>
            <span class="span-line">
              <input type="text" name="" tabindex="1" maxlength="1" data-auto="4-5" data-input ="input-34" data-vertical="vertical-11" class="vertical-11 input-character input-34 auto-4-5" id="input_34" value=""></span>
            <span class="span-line">
              <input type="text" name="" tabindex="1" maxlength="1" data-auto="7-3" data-input ="input-35" data-vertical="vertical-18" class="vertical-18 input-character input-35 auto-7-3" id="input_35" value=""></span>
            <span class="span-line">
              <input type="text" name="" tabindex="1" maxlength="1" data-auto="8-3" data-input ="input-36" data-vertical="vertical-25" class="vertical-25 input-character input-36 auto-8-3" id="input_36" value=""></span>
            <span class="span-line">
              <input type="text" name="" tabindex="1" maxlength="1" data-auto="10-1" data-input ="input-37" data-vertical="vertical-30" class="vertical-30 input-character input-37 auto-10-1" id="input_37" value="K" readonly></span>
            <span class="span-line">
              <input type="text" name="" tabindex="1" maxlength="1" data-auto="11-3" data-input ="input-38" data-vertical="vertical-41" class="vertical-41 input-character input-38 auto-11-3" id="input_38" value=""></span>
          </div>
          <div class="line">
            <span class="span-line">
              <input type="text" name="" tabindex="1" maxlength="1" data-auto="5-1" data-input ="input-39" class="input-character input-39 auto-5-1" id="input_39" value=""></span>
            <span class="span-line">
              <input type="text" name="" tabindex="1" maxlength="1" data-auto="5-2" data-input ="input-40" class="input-character input-40 auto-5-2" id="input_40" value=""></span>
            <span class="span-line">
              <input type="text" name="" tabindex="1" maxlength="1" data-auto="4-6-5-3" data-input ="input-41" data-vertical="vertical-12" class="vertical-12 input-character input-41 auto-4-6 auto-5-3" id="input_41" value="C" readonly></span>
            <span class="span-line">
              <input type="text" name="" tabindex="1" maxlength="1" data-auto="5-4" data-input ="input-42" class="input-character input-42 auto-5-4" id="input_42" value=""></span>
            <span class="span-line">
              <input type="text" name="" tabindex="1" maxlength="1" data-auto="5-5-7-4" data-input ="input-43" data-vertical="vertical-19" class="vertical-19 input-character input-43 auto-5-5 auto-7-4" id="input_43" value=""></span>
            <span class="span-line">
              <input type="text" name="" tabindex="1" maxlength="1" data-auto="5-6" data-input ="input-44" class="input-character input-44 auto-5-6" id="input_44" value=""></span>
            <span class="span-line">
              <input type="text" name="" tabindex="1" maxlength="1" data-auto="5-7" data-input ="input-45" class="input-character input-45 auto-5-7" id="input_45" value="U" readonly></span>
            <span class="span-line">
              <input type="text" name="" tabindex="1" maxlength="1" data-auto="8-4" data-input ="input-46" data-vertical="vertical-26" class="vertical-26 input-character input-46 auto-8-4" id="input_46" value=""></span>
            <span class="span-line">
              <input type="text" name="" tabindex="1" maxlength="1" data-auto="10-2" data-input ="input-47" data-vertical="vertical-31" class="vertical-31 input-character input-47 auto-10-2" id="input_47" value=""></span>
            <span class="span-line">
              <input type="text" name="" tabindex="1" maxlength="1" data-auto="11-4" data-input ="input-48" data-vertical="vertical-42" class="vertical-42 input-character input-48 auto-11-4" id="input_48" value="O" readonly></span>
          </div>
          <div class="line">
            <span class="span-line">
              <input type="text" name="" tabindex="1" maxlength="1" data-auto="4-7" data-input ="input-49" data-vertical="vertical-13" class="vertical-13 input-character input-49 auto-4-7" id="input_49" value=""></span>
            <span class="span-line">
              <input type="text" name="" tabindex="1" maxlength="1" data-auto="7-5" data-input ="input-50" data-vertical="vertical-20" class="vertical-20 input-character input-50 auto-7-5" id="input_50" value=""></span>
            <span class="span-line">
              <input type="text" name="" tabindex="1" maxlength="1" data-auto="8-5" data-input ="input-51" data-vertical="vertical-27" class="vertical-27 input-character input-51 auto-8-5" id="input_51" value=""></span>
            <span class="span-line">
              <input type="text" name="" tabindex="1" maxlength="1" data-auto="10-3" data-input ="input-52" data-vertical="vertical-32" class="vertical-32 input-character input-52 auto-10-3" id="input_52" value=""></span>
          </div>
          <div class="line">
            <span class="span-line">
              <input type="text" name="" tabindex="1" maxlength="1" data-auto="4-8" data-input ="input-53" data-vertical="vertical-14" class="vertical-14 input-character input-53 auto-4-8" id="input_53" value=""></span>
            <span class="span-line">
              <input type="text" name="" tabindex="1" maxlength="1" data-auto="7-6" data-input ="input-54" data-vertical="vertical-21" class="vertical-21 input-character input-54 auto-7-6" id="input_54" value=""></span>
            <span class="span-line">
              <input type="text" name="" tabindex="1" maxlength="1" data-auto="8-6" data-input ="input-55" data-vertical="vertical-28" class="vertical-28 input-character input-55 auto-8-6" id="input_55" value=""></span>
            <span class="span-line">
              <input type="text" name="" tabindex="1" maxlength="1" data-auto="10-4" data-input ="input-56" data-vertical="vertical-33" class="vertical-33 input-character input-56 auto-10-4" id="input_56" value=""></span>
          </div>
          <div class="line">
            <span class="span-line">
              <input type="text" name="" tabindex="1" maxlength="1" data-auto="4-9"  data-input ="input-57" data-vertical="vertical-15" class="vertical-15 input-character input-57 auto-4-9" id="input_57" value="G" readonly></span>
            <span class="span-line">
              <input type="text" name="" tabindex="1" maxlength="1" data-auto="7-7"  data-input ="input-58" data-vertical="vertical-22" class="vertical-22 input-character input-58 auto-7-7" id="input_58" value=""></span>
            <span class="span-line">
              <input type="text" name="" tabindex="1" maxlength="1" data-auto="9-1"  data-input ="input-59" class="input-character input-59 auto-9-1" id="input_59" value=""></span>
            <span class="span-line">
              <input type="text" name="" tabindex="1" maxlength="1" data-auto="8-7-9-2" data-input ="input-60" data-vertical="vertical-29" class="vertical-29 input-character input-60 auto-8-7 auto-9-2" id="input_60" value="A" readonly></span>
            <span class="span-line">
              <input type="text" name="" tabindex="1" maxlength="1" data-auto="9-3"  data-input ="input-61" class="input-character input-61 auto-9-3" id="input_61" value=""></span>
            <span class="span-line">
              <input type="text" name="" tabindex="1" maxlength="1" data-auto="9-4"  data-input ="input-62" class="input-character input-62 auto-9-4" id="input_62" value=""></span>
            <span class="span-line">
              <input type="text" name="" tabindex="1" maxlength="1" data-auto="9-5-10-5"  data-input ="input-63" data-vertical="vertical-34" class="vertical-34 input-character input-63 auto-9-5 auto-10-5" id="input_63" value="H" readonly></span>
            <span class="span-line">
              <input type="text" name="" tabindex="1" maxlength="1" data-auto="9-6" data-input ="input-64" class="input-character input-64 auto-9-6" id="input_64" value=""></span>
          </div>
          <div class="line">
            <span class="span-line">
              <input type="text" name="" tabindex="1" maxlength="1" data-auto="10-6" data-input ="input-65" data-vertical="vertical-35" class=" vertical-35 input-character input-65 auto-10-6" id="input_65" value=""></span>
          </div>
          <div class="line">
            <span class="span-line">
              <input type="text" name="" tabindex="1" maxlength="1" data-auto="10-7" data-input ="input-66" data-vertical="vertical-36" class="vertical-36 input-character input-66 auto-10-7" id="input_66" value=""></span>
          </div>
          <div class="line">
            <span class="span-line">
              <input type="text" name="" tabindex="1" maxlength="1" data-auto="10-8" data-input ="input-67" data-vertical="vertical-37" class="vertical-37 input-character input-67 auto-10-8" id="input_67" value=""></span>
          </div>
          <div class="line">
            <span class="span-line">
              <input type="text" name="" tabindex="1" maxlength="1" data-auto="10-9" data-input ="input-68" data-vertical="vertical-38" class="vertical-38 input-character input-68 auto-10-9" id="input_68" value=""></span>
          </div>
        </div>
<?php endif;?>
<!-- OPTION2 -->
<?php if($this->option == 2):?>
        <div class="frame-question option option2">
          <div class="line">
            <span class="span-line">
              <input type="text" name="" maxlength="1" data-auto="1-1" data-input ="input-1" data-vertical="vertical-1"  class="vertical-1 input-character input-1 auto-1-1" id="input_1" value=""></span>
          </div>
          <div class="line">
            <span class="span-line">
              <input type="text" name="" maxlength="1" data-auto="1-2" data-input ="input-2" data-vertical="vertical-2"  class="vertical-2 input-character input-2 auto-1-2" id="input_1" value=""></span>
          </div>
          <div class="line">
            <span class="span-line">
              <input type="text" name="" maxlength="1" data-auto="1-3" data-input ="input-3" data-vertical="vertical-3" class="vertical-3 input-character input-3 auto-1-3" id="input_1" value=""></span>
          </div>
          <div class="line">
            <span class="span-line">
              <input type="text" name="" maxlength="1" data-auto="2-1" data-input ="input-4"  class="input-character input-4 auto-2-1" id="input_1" value="K" readonly></span>
            <span class="span-line">
              <input type="text" name="" maxlength="1" data-auto="2-2-3-1" data-input ="input-5" data-vertical="vertical-5" class="vertical-5 input-character input-5 auto-2-2 auto-3-1" id="input_1" value=""></span>
            <span class="span-line">
              <input type="text" name="" maxlength="1" data-auto="2-3" data-input ="input-6"  class="input-character input-6 auto-2-3" id="input_1" value=""></span>
            <span class="span-line">
              <input type="text" name="" maxlength="1" data-auto="2-4" data-input ="input-7"  class="input-character input-7 auto-2-4" id="input_1" value=""></span>
            <span class="span-line">
              <input type="text" name="" maxlength="1" data-auto="2-5" data-input ="input-8"  class="input-character input-8 auto-2-5" id="input_1" value=""></span>
            <span class="span-line">
              <input type="text" name="" maxlength="1" data-auto="2-6" data-input ="input-9"  class="input-character input-9 auto-2-6" id="input_1" value=""></span>
            <span class="span-line">
              <input type="text" name="" maxlength="1" data-auto="2-7" data-input ="input-10"  class="input-character input-10 auto-2-7" id="input_1" value=""></span>
            <span class="span-line">
              <input type="text" name="" maxlength="1" data-auto="2-8" data-input ="input-11"  class="input-character input-11 auto-2-8" id="input_1" value=""></span>
            <span class="span-line">
              <input type="text" name="" maxlength="1" data-auto="2-9" data-input ="input-12"  class="input-character input-12 auto-2-9" id="input_1" value=""></span>
            <span class="span-line">
              <input type="text" name="" maxlength="1" data-auto="2-10" data-input ="input-13"  class="input-character input-13 auto-2-10" id="input_1" value=""></span>
            <span class="span-line">
              <input type="text" name="" maxlength="1" data-auto="1-4-2-11" data-input ="input-14" data-vertical="vertical-4" class="vertical-4 input-character input-14 auto-1-4 auto-2-11" id="input_1" value="O" readonly></span>
            <span class="span-line">
              <input type="text" name="" maxlength="1" data-auto="9-1" data-input ="input-15" data-vertical="vertical-24" class="vertical-24 input-character input-15 auto-9-1" id="input_1" value="M" readonly></span>

          </div>
          <div class="line">
            <span class="span-line">
              <input type="text" name="" maxlength="1" data-auto="3-2" data-input ="input-16" data-vertical="vertical-6" class="vertical-6 input-character input-16 auto-3-2" id="input_1" value=""></span>
              <span class="span-line">
              <input type="text" name="" maxlength="1" data-auto="9-2" data-input ="input-17" data-vertical="vertical-25" class="vertical-25 input-character input-17 auto-9-2" id="input_1" value=""></span>
          </div>
          <div class="line">
            <span class="span-line">
              <input type="text" name="" maxlength="1" data-auto="3-3" data-input ="input-18" data-vertical="vertical-7" class="vertical-7 input-character input-18 auto-3-3" id="input_1" value=""></span>
            <span class="span-line">
              <input type="text" name="" maxlength="1" data-auto="5-1" data-input ="input-19" data-vertical="vertical-11" class="vertical-11 input-character input-19 auto-5-1" id="input_1" value="V" readonly></span>
            <span class="span-line">
              <input type="text" name="" maxlength="1" data-auto="8-1" data-input ="input-20"  class="input-character input-20 auto-8-1" id="input_1" value="T" readonly></span>
            <span class="span-line">
              <input type="text" name="" maxlength="1" data-auto="8-2" data-input ="input-21"  class="input-character input-21 auto-8-2" id="input_1" value=""></span>
            <span class="span-line">
              <input type="text" name="" maxlength="1" data-auto="8-3" data-input ="input-22"  class="input-character input-22 auto-8-3" id="input_1" value=""></span>
            <span class="span-line">
              <input type="text" name="" maxlength="1" data-auto="8-4" data-input ="input-23"  class="input-character input-23 auto-8-4" id="input_1" value=""></span>
            <span class="span-line">
              <input type="text" name="" maxlength="1" data-auto="8-5" data-input ="input-24"  class="input-character input-24 auto-8-5" id="input_1" value=""></span>
            <span class="span-line">
              <input type="text" name="" maxlength="1" data-auto="8-6-9-3" data-input ="input-25" data-vertical="vertical-26" class="vertical-26 input-character input-25 auto-8-6 auto-9-3" id="input_1" value=""></span>
            <span class="span-line">
              <input type="text" name="" maxlength="1" data-auto="8-7" data-input ="input-26"  class="input-character input-26 auto-8-7" id="input_1" value=""></span>
            <span class="span-line">
              <input type="text" name="" maxlength="1" data-auto="8-8" data-input ="input-27"  class="input-character input-27 auto-8-8" id="input_1" value=""></span>
            <span class="span-line">
              <input type="text" name="" maxlength="1" data-auto="8-9" data-input ="input-28"  class="input-character input-28 auto-8-9" id="input_1" value="G" readonly></span>
            
          </div>
          <div class="line">
            <span class="span-line">
              <input type="text" name="" maxlength="1" data-auto="4-1" data-input ="input-29"  class="input-character input-29 auto-4-1" id="input_1" value="K" readonly></span>
            <span class="span-line">
              <input type="text" name="" maxlength="1" data-auto="4-2" data-input ="input-30"  class="input-character input-30 auto-4-2" id="input_1" value=""></span>
            <span class="span-line">
              <input type="text" name="" maxlength="1" data-auto="4-3" data-input ="input-31"  class="input-character input-31 auto-4-3" id="input_1" value=""></span>
            <span class="span-line">
              <input type="text" name="" maxlength="1" data-auto="3-4-4-4" data-input ="input-32" data-vertical="vertical-8" class="vertical-8 input-character input-32 auto-3-4 auto-4-4" id="input_1" value="C" readonly></span>
            <span class="span-line">
              <input type="text" name="" maxlength="1" data-auto="4-5" data-input ="input-33"  class="input-character input-33 auto-4-5" id="input_1" value=""></span>
            <span class="span-line">
              <input type="text" name="" maxlength="1" data-auto="4-6" data-input ="input-34"  class="input-character input-34 auto-4-6" id="input_1" value=""></span>
            <span class="span-line">
              <input type="text" name="" maxlength="1" data-auto="4-7-5-2" data-input ="input-35" data-vertical="vertical-12" class="vertical-12 input-character input-35 auto-4-7 auto-5-2" id="input_1" value=""></span>
            <span class="span-line">
              <input type="text" name="" maxlength="1" data-auto="4-8" data-input ="input-36"  class="input-character input-36 auto-4-8" id="input_1" value=""></span>
            <span class="span-line">
              <input type="text" name="" maxlength="1" data-auto="4-9" data-input ="input-37"  class="input-character input-37 auto-4-9" id="input_1" value=""></span>
            <span class="span-line">
              <input type="text" name="" maxlength="1" data-auto="9-4" data-input ="input-38" data-vertical="vertical-27" class="vertical-27 input-character input-38 auto-9-4" id="input_1" value=""></span>
            
          </div>
          <div class="line">
            <span class="span-line">
              <input type="text" name="" maxlength="1" data-auto="3-5" data-input ="input-39" data-vertical="vertical-9" class="vertical-9 input-character input-39 auto-3-5" id="input_1" value=""></span>
            <span class="span-line">
              <input type="text" name="" maxlength="1" data-auto="5-3" data-input ="input-40" data-vertical="vertical-13" class="vertical-13 input-character input-40 auto-5-3" id="input_1" value=""></span>
            <span class="span-line">
              <input type="text" name="" maxlength="1" data-auto="10-1-11-1" data-input ="input-41" data-vertical="vertical-18" class="vertical-18 input-character input-41 auto-10-1 auto-11-1" id="input_1" value="K" readonly></span>
            <span class="span-line">
              <input type="text" name="" maxlength="1" data-auto="10-2" data-input ="input-42"  class="input-character input-42 auto-10-2" id="input_1" value=""></span>
            <span class="span-line">
              <input type="text" name="" maxlength="1" data-auto="10-3" data-input ="input-43"  class="input-character input-43 auto-10-3" id="input_1" value=""></span>
            <span class="span-line">
              <input type="text" name="" maxlength="1" data-auto="9-5-10-4" data-input ="input-44" data-vertical="vertical-28" class="vertical-28 input-character input-44 auto-9-5 auto-10-4" id="input_1" value=""></span>
            <span class="span-line">
              <input type="text" name="" maxlength="1" data-auto="10-5" data-input ="input-45"  class="input-character input-45 auto-10-5" id="input_1" value=""></span>
            <span class="span-line">
              <input type="text" name="" maxlength="1" data-auto="10-6" data-input ="input-46"  class="input-character input-46 auto-10-6" id="input_1" value=""></span>
            <span class="span-line">
              <input type="text" name="" maxlength="1" data-auto="10-7" data-input ="input-47"  class="input-character input-47 auto-10-7" id="input_1" value=""></span>
            
          </div>
          <div class="line">
            <span class="span-line">
              <input type="text" name="" maxlength="1" data-auto="3-6" data-input ="input-48" data-vertical="vertical-10" class="vertical-10 input-character input-48 auto-3-6" id="input_1" value=""></span>
            <span class="span-line">
              <input type="text" name="" maxlength="1" data-auto="5-4-6-1" data-input ="input-49" data-vertical="vertical-14" class="vertical-14 input-character input-49 auto-5-4 auto-6-1" id="input_1" value=""></span>
            <span class="span-line">
              <input type="text" name="" maxlength="1" data-auto="6-2" data-input ="input-50" class="input-character input-50 auto-6-2" id="input_1" value=""></span>
            <span class="span-line">
              <input type="text" name="" maxlength="1" data-auto="6-3" data-input ="input-51" class="input-character input-51 auto-6-3" id="input_1" value=""></span>
            <span class="span-line">
              <input type="text" name="" maxlength="1" data-auto="6-4" data-input ="input-52" class="input-character input-52 auto-6-4" id="input_1" value=""></span>
            <span class="span-line">
              <input type="text" name="" maxlength="1" data-auto="6-5" data-input ="input-53" class="input-character input-53 auto-6-5" id="input_1" value=""></span>
            <span class="span-line">
              <input type="text" name="" maxlength="1" data-auto="6-6-11-2" data-input ="input-54" data-vertical="vertical-19" class="vertical-19 input-character input-54 auto-6-6 auto-11-2" id="input_1" value=""></span>
            <span class="span-line">
              <input type="text" name="" maxlength="1" data-auto="9-6" data-input ="input-55" data-vertical="vertical-29" class="vertical-29 input-character input-55 auto-9-6" id="input_1" value=""></span>            
          </div>
          <div class="line">
            <span class="span-line">
              <input type="text" name="" maxlength="1" data-auto="5-5" data-input ="input-56" data-vertical="vertical-15" class="vertical-15 input-character input-56 auto-5-5" id="input_1" value=""></span>
            <span class="span-line">
              <input type="text" name="" maxlength="1" data-auto="11-3" data-input ="input-57" data-vertical="vertical-20" class="vertical-20 input-character input-57 auto-11-3" id="input_1" value=""></span>
            <span class="span-line">
              <input type="text" name="" maxlength="1" data-auto="9-7" data-input ="input-58" class="input-character input-58 auto-9-7" id="input_1" value="U" readonly></span>
                        
          </div>
          <div class="line">
            <span class="span-line">
              <input type="text" name="" maxlength="1" data-auto="5-6" data-input ="input-59"  data-vertical="vertical-16" class="vertical-16 input-character input-59 auto-5-6" id="input_1" value=""></span>
            <span class="span-line">
              <input type="text" name="" maxlength="1" data-auto="11-4" data-input ="input-60" data-vertical="vertical-21" class="vertical-21 input-character input-60 auto-11-4" id="input_1" value=""></span>
           
                        
          </div>
           <div class="line">
            <span class="span-line">
              <input type="text" name="" maxlength="1" data-auto="7-1" data-input ="input-61" class="input-character input-61 auto-7-1" id="input_1" value="G" readonly></span>
            <span class="span-line">
              <input type="text" name="" maxlength="1" data-auto="7-2" data-input ="input-62" class="input-character input-62 auto-7-2" id="input_1" value=""></span>
            <span class="span-line">
              <input type="text" name="" maxlength="1" data-auto="5-7-7-3" data-input ="input-63" data-vertical="vertical-17" class="vertical-17 input-character input-63 auto-5-7 auto-7-3" id="input_1" value="A" readonly></span>
            <span class="span-line">
              <input type="text" name="" maxlength="1" data-auto="7-4" data-input ="input-64" class="input-character input-64 auto-7-4" id="input_1" value=""></span>
            <span class="span-line">
              <input type="text" name="" maxlength="1" data-auto="7-5" data-input ="input-65" class="input-character input-65 auto-7-5" id="input_1" value=""></span>
            <span class="span-line">
              <input type="text" name="" maxlength="1" data-auto="7-6" data-input ="input-66" class="input-character input-66 auto-7-6" id="input_1" value=""></span>
            <span class="span-line">
              <input type="text" name="" maxlength="1" data-auto="11-5" data-input ="input-67" data-vertical="vertical-22" class="vertical-22 input-character input-67 auto-11-5" id="input_1" value=""></span>
                      
          </div>
          <div class="line">
            <span class="span-line">
              <input type="text" name="" maxlength="1" data-auto="11-6" data-input ="input-68" data-vertical="vertical-23" class="vertical-23 input-character input-68 auto-11-6" id="input_1" value="A" readonly></span>
           
          </div>
          
        </div>
<?php endif;?>
      <!-- OPTION2 -->

        <div class="button-acction">
          <span class="submit-station-third pull-right animate__animated animate__pulse" id="submit"></span>
        </div>
        <div class="img-clock-station2">
            <img src="/img/culture_game_2020/clock.png" class="clock">
        </div>
       
        <span class="timer-number-station2 animate__animated animate__pulse"> <span id="phut" ></span>:<span id="giay" ></span></span>
      
      </div>
      


      <div id="id02" class="w3-modal modal-opacity" onclick="document.getElementById('id02').style.display='none'">
        <div class="w3-modal-content station-modal-content" style="background-color: #fffbfb00;">
          <div class="w3-container">
            <span onclick="document.getElementById('id02').style.display='none'" class="w3-button w3-display-topright button-close-fail">&#10008; </span>
              <div class="content-fail">
                <span class="text-announce-fail">Bạn chưa hoàn thành thử thách ở trạm này, đừng lo, <span class="color_green">bạn còn 1 lượt chơi nữa</span>. Tuy nhiên <span class="color_green">bạn bị phạt +5' vào tổng thời gian.</span><br> <span class="try_best color_green_bold">Cố gắng <br> ở lượt cuối cùng nhé!</span></span>
                <img src="/img/culture_game_2020/station_announce_not_finish.png" class="desktop_question">
                <img src="/img/culture_game_2020/m_station1_announce_not_finish.png" class="mobile_question">

                <a href="/culture-game/station"><img src="/img/culture_game_2020/back.png" class="back_img"></a>

              </div>
          </div>
        </div>
      </div>






    
    <input type="hidden" name="option_id" id="option_id" value="<?php echo $this->option;?>">
    <input type="hidden" name="id_master" id="id_master" value="<?php echo $this->id_master;?>">
    <input type="hidden" name="check_done" id="check_done" value="2">
    <input type="hidden" name="num_play" id="num_play" value="<?php echo $this->num_play;?>">
    </div> 
    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://code.jquery.com/jquery-1.12.4.min.js" integrity="sha384-nvAa0+6Qg9clwYCGGPpDQLVpLNn0fRaROjHqs13t4Ggj3Ez50XnGQqc/r8MhnRDZ" crossorigin="anonymous"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js" integrity="sha384-aJ21OjlMXNL5UyIl/XNwTMqvzeRMZH2w8c5cRVpzpU8Y5bApTppSuUkhZXN0VxHd" crossorigin="anonymous"></script>
  </body>


<script type="text/javascript">

  function preventloadpage(){
    return "Are you sure you want leave?"; 
  }
    
  function format(n){
      return n > 9 ? "" + n: "0" + n;
  }
function start()
{
    if (gio === null)
    {
        gio = 0;
        phut = <?php echo CULTURE_GAME_TIME_MINUTE_ROUND3;?>;
        giay = 00;
    }if (giay === -1){
        phut -= 1;
        giay = 59;
    }if (phut === -1){
        gio -= 1;
        phut = 59;
    }if (gio == -1){
        clearTimeout(timeout_);

        //nếu lần chơi thứ 2 thì ko cần show modal fail
        var num_play = $('#num_play').val();
        if(num_play > 1){
          $('body').removeAttr("onbeforeunload");
          location.reload();
        }else{
           $('#id02').css('display','block');
        }
       
        return false;
    }
     document.getElementById('phut').innerText = format(phut).toString();
    document.getElementById('giay').innerText = format(giay).toString();
    timeout_ = setTimeout(function(){
        giay--;
        start();
    }, 1000);
}

$(window).load(function(){

  
    $('#id02').click(function(){
        $('body').removeAttr("onbeforeunload");
        $(location).attr('href', 'https://center.opposhop.vn/culture-game/station');
        return false;
      });
    start(); // thời gian tổng 10p
    




    $(document).on('click','#submit',function(){
      var id_master = $('#id_master').val();  
      var option_id = $('#option_id').val();  
      var quantity = 0;
      var flag_wrong = 0;
      var array_value = [];
        $( ".option input" ).each(function( index ) {

            var value = $( this ).val();
            if(value == '' || value == undefined){
              value = 'No';
            }
            array_value.push(value.toUpperCase());
            quantity ++;
         
        });
       // console.log(array_value);
        

        if(quantity < 68){
         
          alert('Vui lòng điền hết đáp án !!');

        }else{
          
            $.ajax({
                    url: "<?php echo HOST;?>culture-game/submit-answer-round-third",
                    type: "POST",
                    dataType: "text",
                    context: this,
                    data: "id_master="+id_master+"&submit="+1+'&array_answer='+array_value+'&option_id='+option_id,
                    beforeSend: function() {
                          $(".loading").show();                   
                      },
                    success: function(result){
                      var data = jQuery.parseJSON(result);
                      //console.log(data);
                      if(data.status == 0){
                        // console.log(data.arr_wrong.length);
                        // console.log(data.arr_correct.length);
                        
                        for(var i = 0; i<= data.arr_wrong.length; i++){
                          $('.input-'+data.arr_wrong[i]+'').css('color','#ff7427');
                        }
                        for(var i = 0; i<= data.arr_correct.length; i++){
                          $('.input-'+data.arr_correct[i]+'').css('color','#11804b');
                        }



                      }
                      
                      //kết thúc phần thi
                      if(data.status == 2){
                       
                         for(var i = 0; i<= data.arr_wrong.length; i++){
                          $('.input-'+data.arr_wrong[i]+'').css('color','#ff7427');
                        }
                        for(var i = 0; i<= data.arr_correct.length; i++){
                          $('.input-'+data.arr_correct[i]+'').css('color','#11804b');
                        }
                        setTimeout(function(){
                          $('#check_done').val(1);
                          $('body').removeAttr("onbeforeunload");
                            $(location).attr('href', data.url);
                          }, 500);
                       
                      }
                      //hết giờ tham gia
                      if(data.status == 3){
                        $('#check_done').val(1);
                       // console.log(data.alert);
                        // alert(data.alert);
                        $('body').removeAttr("onbeforeunload");
                        setTimeout(function(){
                            $(location).attr('href', data.url);
                          }, 500);
                      }
                    },
                    error:function(){
                         //alert("Submit thất bại !");
                    }
              });
          
           
            
         }
        
        
    });
}); 

$(document).ready(function(){

  $(document).on('click','.option input',function(){
     $( ".option input" ).each(function( index ) {

            var value = $( this ).val();
            if(value == '' || value == undefined){
              $( this ).css('color','black');
            }
            
         
    });
  });

  $('.input-character').keypress(function() {
    if (this.value.length >= 2) {
        return false;
    }
});


  $('input').keyup(function(){
          if(this.value.length==$(this).attr("maxlength")){
            var data = $(this).data('auto');
            var auto = data.split('-');
            var line1 = auto[0];
            var stt1  = parseInt(auto[1]);
            var line2 = auto[2];
            var stt2  = parseInt(auto[3]);

            console.log(auto);
              if(line2 == "" || line2 == undefined){
                var next = stt1+1;
                $('.auto-'+line1+'-'+next+'').focus();
              }else{
                var next1 = stt1+1;
                var next2 = stt2+1;
                if($('.auto-'+line1+'-'+next1+'').val() == ''){
                   $('.auto-'+line1+'-'+next1+'').focus();
                }else{
                  $('.auto-'+line2+'-'+next2+'').focus();
                }
              }
            }
      });


  $("input").keydown(function(e){
    // left arrow
    if ((e.keyCode || e.which) == 37)
    {   
        var data = $(this).data('input');
        var auto = data.split('-');
        var line1 = auto[0];
        var stt1  = parseInt(auto[1]);

        console.log(auto);
        var next1 = stt1-1;


        if ( $('.input-'+next1+'').is('[readonly]') ) { 
          var next1 = next1-1;
          $('.input-'+next1+'').focus();
        }else{
          $('.input-'+next1+'').focus();
        }
        
        
    }
    // right arrow
    if ((e.keyCode || e.which) == 39)
    {
        var data = $(this).data('input');
        var auto = data.split('-');
        var line1 = auto[0];
        var stt1  = parseInt(auto[1]);

        console.log(auto);
        var next1 = stt1+1;
        if ( $('.input-'+next1+'').is('[readonly]') ) { 
          var next1 = next1+1;
          $('.input-'+next1+'').focus();
        }else{
          $('.input-'+next1+'').focus();
        }
        
    } 

    // right up
    if ((e.keyCode || e.which) == 38)
    {
        var data = $(this).data('vertical');
        var auto = data.split('-');
        var line1 = auto[0];
        var stt1  = parseInt(auto[1]);

        console.log(auto);
        var next1 = stt1-1;

        


        if ( $('.vertical-'+next1+'').is('[readonly]') ) { 
          var next1 = next1-1;
          $('.vertical-'+next1+'').focus();
        }else{
          $('.vertical-'+next1+'').focus();
        }
    }
    // right down
    if ((e.keyCode || e.which) == 40)
    {
        var data = $(this).data('vertical');
        var auto = data.split('-');
        var line1 = auto[0];
        var stt1  = parseInt(auto[1]);

        console.log(auto);
        var next1 = stt1+1;
        
        if ( $('.vertical-'+next1+'').is('[readonly]') ) { 
          var next1 = next1+1;
          $('.vertical-'+next1+'').focus();
        }else{
          $('.vertical-'+next1+'').focus();
        }
    }   
});


});
</script>

</html>