<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <title>Station Playing - Culture Game OPPO</title>
    <link rel="icon" type="image/ico" href="/img/favicon.ico">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <!-- Bootstrap -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css" integrity="sha384-HSMxcRTRxnN+Bdg0JdbxYKrThecOKuH5zCYotlSAcp1+c8xmyTe9GYg1l9a69psu" crossorigin="anonymous">
    <link rel="stylesheet" href="/css/style_culture_game.css">

   
  </head>
  <style type="text/css">
  @media only screen and (min-width: 320px) and (max-width: 1080px){
    body{
      background-image: url(/img/culture_game_2020/m_bg_question_station.jpg);
      background-position: center center;
      background-repeat: no-repeat;
      background-size: 100% 100%;
      height: 215vw;
    }
  }
  </style>
   <script language="javascript">
            var gio = null;
            var phut = null;
            var giay = null;
            var timeout_ = null; // Timeout
            var h = null; // Giờ
            var m = null; // Phút
            var s = null; // Giây
          //  var l = null; // mili
            var timeout = null; // Timeout
            var acrInterval = null;
            //function start_question(){}
            function start(){}
           // function stop(){clearTimeout(timeout);}
        </script>
  <body <?php  if($this->num_play == 1):?> onbeforeunload="return preventloadpage()" <?php endif;?>>
    <div class="content-play">

      <div class="ribbon">
        <span class="img-ribbon">
          <img src="/img/culture_game_2020/first_station/station1_name.png">
        </span>
        <p class="title-station">
          <span class="img-title">
          <img src="/img/culture_game_2020/first_station/station1_title_question.png">
        </span>
        </p>
      </div>
      <div class="content-question">
        <div class="question">
          <img src="/img/culture_game_2020/first_station/station1_ques1.png" class="desktop_question">
          <img src="/img/culture_game_2020/first_station/m_station1_ques1.png" class="mobile_question">
        </div>
        <div class="input-answer">
          <input type="text" id="answer_submit" name="" class="input-fomat" onkeypress="return event.charCode != 32">

        </div>
        <div class="button-acction">
          <span onclick="document.getElementById('id01').style.display='block'" class="hint-station pull-left animate__animated animate__pulse" ></span>
          <span class="submit-station pull-right animate__animated animate__pulse" id="submit"></span>
        </div>
        <div class="img-clock">
            <img src="/img/culture_game_2020/clock.png" class="clock">
        </div>
       
        <span class="timer-number animate__animated animate__pulse"> <span id="phut" ></span>:<span id="giay" ></span></span>
      
      </div>
      

      <div id="id01" class="w3-modal modal-opacity" onclick="document.getElementById('id01').style.display='none'">
        <div class="w3-modal-content station-modal-content" style="background-color: #fffbfb00;">
          <div class="w3-container">
            <span onclick="document.getElementById('id01').style.display='none'" class="w3-button w3-display-topright button-close-hint">&#10008;</span>
              <div class="content-hint">
                <img src="/img/culture_game_2020/first_station/station1_content_hide.png" class="desktop_question">
                <img src="/img/culture_game_2020/first_station/m_station1_content_hide.png" class="mobile_question">
              </div>
          </div>
        </div>
      </div>


      <div id="id02" class="w3-modal modal-opacity" onclick="document.getElementById('id02').style.display='none'">
        <div class="w3-modal-content station-modal-content" style="background-color: #fffbfb00;">
          <div class="w3-container">
            <span onclick="document.getElementById('id02').style.display='none'" class="w3-button w3-display-topright button-close-fail">&#10008; </span>
              <div class="content-fail">
                <span class="text-announce-fail">Bạn chưa hoàn thành thử thách ở trạm này, đừng lo, <span class="color_green">bạn còn 1 lượt chơi nữa</span>. Tuy nhiên <span class="color_green">bạn bị phạt +5' vào tổng thời gian.</span><br> <span class="try_best color_green_bold">Cố gắng <br> ở lượt cuối cùng nhé!</span></span>
                <img src="/img/culture_game_2020/station_announce_not_finish.png" class="desktop_question">
                <img src="/img/culture_game_2020/m_station1_announce_not_finish.png" class="mobile_question">

                <a href="/culture-game/station"><img src="/img/culture_game_2020/back.png" class="back_img"></a>

              </div>
          </div>
        </div>
      </div>



<div class="script" style="display: none;" id="div_script">    
    <input type="hidden" name="question_id" id="question_id" value="<?php echo $this->question_id;?>">
    <input type="hidden" name="answer" id="answer" value="<?php echo $this->answer;?>">
    <input type="hidden" name="id_master" id="id_master" value="<?php echo $this->id_master;?>">
    <input type="hidden" name="check_done" id="check_done" value="2">
    <input type="hidden" name="num_play" id="num_play" value="<?php echo $this->num_play;?>">
     <input type="hidden" name="id_random" id="id_random" value="">
</div>
    </div> 
    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://code.jquery.com/jquery-1.12.4.min.js" integrity="sha384-nvAa0+6Qg9clwYCGGPpDQLVpLNn0fRaROjHqs13t4Ggj3Ez50XnGQqc/r8MhnRDZ" crossorigin="anonymous"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js" integrity="sha384-aJ21OjlMXNL5UyIl/XNwTMqvzeRMZH2w8c5cRVpzpU8Y5bApTppSuUkhZXN0VxHd" crossorigin="anonymous"></script>
  </body>


<script type="text/javascript">

  function preventloadpage(){
    return "Are you sure you want leave?"; 
  }
  function format(n){
      return n > 9 ? "" + n: "0" + n;
  }
  function removeVietnameseTones(str) {
    str = str.replace(/à|á|ạ|ả|ã|â|ầ|ấ|ậ|ẩ|ẫ|ă|ằ|ắ|ặ|ẳ|ẵ/g,"a"); 
    str = str.replace(/è|é|ẹ|ẻ|ẽ|ê|ề|ế|ệ|ể|ễ/g,"e"); 
    str = str.replace(/ì|í|ị|ỉ|ĩ/g,"i"); 
    str = str.replace(/ò|ó|ọ|ỏ|õ|ô|ồ|ố|ộ|ổ|ỗ|ơ|ờ|ớ|ợ|ở|ỡ/g,"o"); 
    str = str.replace(/ù|ú|ụ|ủ|ũ|ư|ừ|ứ|ự|ử|ữ/g,"u"); 
    str = str.replace(/ỳ|ý|ỵ|ỷ|ỹ/g,"y"); 
    str = str.replace(/đ/g,"d");
    str = str.replace(/À|Á|Ạ|Ả|Ã|Â|Ầ|Ấ|Ậ|Ẩ|Ẫ|Ă|Ằ|Ắ|Ặ|Ẳ|Ẵ/g, "A");
    str = str.replace(/È|É|Ẹ|Ẻ|Ẽ|Ê|Ề|Ế|Ệ|Ể|Ễ/g, "E");
    str = str.replace(/Ì|Í|Ị|Ỉ|Ĩ/g, "I");
    str = str.replace(/Ò|Ó|Ọ|Ỏ|Õ|Ô|Ồ|Ố|Ộ|Ổ|Ỗ|Ơ|Ờ|Ớ|Ợ|Ở|Ỡ/g, "O");
    str = str.replace(/Ù|Ú|Ụ|Ủ|Ũ|Ư|Ừ|Ứ|Ự|Ử|Ữ/g, "U");
    str = str.replace(/Ỳ|Ý|Ỵ|Ỷ|Ỹ/g, "Y");
    str = str.replace(/Đ/g, "D");
    // Some system encode vietnamese combining accent as individual utf-8 characters
    // Một vài bộ encode coi các dấu mũ, dấu chữ như một kí tự riêng biệt nên thêm hai dòng này
    str = str.replace(/\u0300|\u0301|\u0303|\u0309|\u0323/g, ""); // ̀ ́ ̃ ̉ ̣  huyền, sắc, ngã, hỏi, nặng
    str = str.replace(/\u02C6|\u0306|\u031B/g, ""); // ˆ ̆ ̛  Â, Ê, Ă, Ơ, Ư
    // Remove extra spaces
    // Bỏ các khoảng trắng liền nhau
    str = str.replace(/ + /g," ");
    str = str.trim();
    // Remove punctuations
    // Bỏ dấu câu, kí tự đặc biệt
    str = str.replace(/!|@|%|\^|\*|\(|\)|\+|\=|\<|\>|\?|\/|,|\.|\:|\;|\'|\"|\&|\#|\[|\]|~|\$|_|`|-|{|}|\||\\/g," ");
    return str;
}
function start()
{
    if (gio === null)
    {
        gio = 0;
        phut = <?php echo CULTURE_GAME_TIME_MINUTE_ROUND1;?>;
        giay = 00;
    }if (giay === -1){
        phut -= 1;
        giay = 59;
    }if (phut === -1){
        gio -= 1;
        phut = 59;
    }if (gio == -1){
        clearTimeout(timeout_);

        //nếu lần chơi thứ 2 thì ko cần show modal fail
        var num_play = $('#num_play').val();
        if(num_play > 1){
          $('body').removeAttr("onbeforeunload");
          location.reload();
        }else{
           $('#id02').css('display','block');
        }
       
        return false;
    }
     document.getElementById('phut').innerText = format(phut).toString();
    document.getElementById('giay').innerText = format(giay).toString();
    timeout_ = setTimeout(function(){
        giay--;
        start();
    }, 1000);
}

// function checkFirstVisit() {
//   if(document.cookie.indexOf('mycookie')==-1) {
//     // cookie doesn't exist, create it now
//     document.cookie = 'mycookie=1';
//   }
//   else {
//     // not first visit, so alert
//     alert('Nếu bạn refresh sẽ mất lượt chơi lần này!');
//     //return false;
//   }
// }


function submit(){
  var question_id = $('#question_id').val();
         var answer = $('#answer').val();
         var id_master = $('#id_master').val();
         var id_random = $('#id_random').val();
         var user_choose = $('#answer_submit').val();

         // console.log(question_id);
         // console.log(answer);
         // console.log(id_master);
         // console.log(user_choose);
         if(user_choose == ''){
          alert('Please input your answer!!!');
         }
         user_choose  = removeVietnameseTones(user_choose);
         user_choose = user_choose.replace(/\s/g, '');// delete space
         user_choose = user_choose.toUpperCase();
         // if(user_choose != answer){
         //    console.log('Wrong !');
         //    $('#answer_submit').css('color','red');
         // }else{
         //    $('#answer_submit').css('color','green');
            $.ajax({
                    url: "<?php echo HOST;?>culture-game/submit-answer-round-first",
                    type: "POST",
                    dataType: "text",
                    context: this,
                    data: "id_master="+id_master+"&question_id="+question_id+"&id_random="+id_random+"&answer="+answer+"&user_choose="+user_choose+"&submit="+1,
                    beforeSend: function() {
                          $(".loading").show();                   
                      },
                    success: function(result){
                      var data = jQuery.parseJSON(result);
                      console.log(data);
                      if(data.status == 0){
                        $('#answer_submit').css('color','red');
                      }
                      if(data.status == 1){
                        $('#answer_submit').css('color','green');
                        setTimeout(function(){
                            var id_random = data.question_random;
                            $('#question_id').val(data.question_id);
                            $('#id_random').val(id_random);
                            $('#answer_submit').val('');
                            $('#answer_submit').css('color','black');
                            $('.question img').remove();
                            $('.content-hint img').remove();
                            $('.img-title').html('<img src="/img/culture_game_2020/first_station/station1_title_question2.png">'); //title mật thư 2
                            $('.question').html('\
                              <img src="/img/culture_game_2020/first_station/station1_ques2_'+id_random+'.png" class="desktop_question">\
                              <img src="/img/culture_game_2020/first_station/m_station1_ques2_'+id_random+'.png" class="mobile_question">\
                            ');
                            $('.content-hint').html('\
                              <img src="/img/culture_game_2020/first_station/station1_content_hide_2.png" class="desktop_question">\
                              <img src="/img/culture_game_2020/first_station/m_station1_content_hide_2.png" class="mobile_question">\
                            ');
                        }, 500);

                       
                        
                      }
                      //kết thúc phần thi
                      if(data.status == 2){
                        $('#answer_submit').css('color','green');
                        $('#check_done').val(1);
                        console.log(data.url);
                        $('body').removeAttr("onbeforeunload");
                       $(location).attr('href', data.url);
                      }
                      //hết giờ tham gia
                      if(data.status == 3){
                        $('#check_done').val(1);
                        console.log(data.alert);
                        alert(data.alert);
                        $('body').removeAttr("onbeforeunload");
                        $(location).attr('href', data.url);
                      }
                    },
                    error:function(){
                         //alert("Submit thất bại !");
                    }
              });
         //}
}

$(window).load(function(){


    $('#id02').click(function(){
        $(location).attr('href', 'https://center.opposhop.vn/culture-game/station');
        return false;
      });
    start(); // thời gian tổng 10p
    
    $(document).on('click','#submit',function(){
         
        submit();
        
    });
    $("#answer_submit").on('keyup', function (event) {
      if (event.keyCode === 13) {
         submit();
      }
   });

  }); 
</script>

</html>