<div class="accordion" id="accordion2">
    <div class="accordion-group">
        <div class="accordion-heading">
            <a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion2" href="#collapseTwo">
                Search
            </a>
        </div>
        <div id="collapseTwo" class="accordion-body collapse" style="height: 0px;background: whitesmoke">
            <div class="accordion-inner">
                <form action="" method="GET" class="form-search form-horizontal">
                    <div class="row">
                        <div class="span4">
                            <div class="control-group">
                                <label class="control-label">Mã nhân viên</label>
                                <div class="controls">
                                    <input type="text" name="code" value="<?php isset($this->params['code']) and printf($this->params['code']);?>" >
                                </div>
                            </div>
                            
                            <div class="control-group">
                                <label class="control-label">Tình trạng làm việc</label>
                                <div class="controls">
                                    <select name="off" id="off">
                                    <?php
                                    $arr = array(
                                        0  => 'Đang làm việc',
                                        1  => 'Nghỉ việc',
                                        -1 => 'Tất cả'
                                    );
                                    foreach($arr as $k => $v):
                                        ?>
                                        <option value="<?php echo $k;?>"
                                            <?php if(isset($this->params['off']) AND $this->params['off'] == $k) echo 'selected'; ?>><?php echo $v;?>
                                        </option>
                                    <?php
                                    endforeach;
                                    ?>
                                    </select>
                                </div>
                            </div> <!-- end row -->
                    
                        </div> <!-- End span4 -->
                        <div class="span4">
                             <div class="control-group">
                                <label class="control-label">Tên nhân viên</label>
                                <div class="controls">
                                    <input type="text" name="name" value="<?php isset($this->params['name']) and printf($this->params['name']);?>" >
                                </div>
                            </div>
                            
                        </div> <!-- End span4 -->

                    <div class="row">
                    	<div class="span11">
                    		<input type="hidden" value="" name="tang_moi_ids" id="tang_moi_ids" >
                        	<input type="hidden" value="" name="dieuchinh_ids" id="dieuchinh_ids" >
                        	<input type="hidden" value="" name="giam_han_ids" id="giam_han_ids" >
                        	<input type="hidden" value="" name="chedo_ids" id="chedo_ids" >
                        	<input type="hidden" value="" name="chedo_after_ids" id="chedo_after_ids" >
                        	<input type="hidden" value="" name="total_ids" id="total_ids" >
                        	<input type="hidden" value="" name="batthuong_ids" id="batthuong_ids" >
                        	<input type="hidden" value="<?php echo $this->active;?>" name="action_insurance" id="action" >
                            <button type="submit" class="btn btn-primary logo-oppo">Search</button>
                    	</div>
                    </div>
                </form> <!-- end form -->
            </div> <!-- end accordion-inner -->
        </div> <!-- end collapseTwo -->
    </div>
</div>