<style>
    .main-row{
        background: #F5F5F5;
    }

</style>
<table class="table table-bordered table-advance table-hover table-responsive" >
    <thead>
    <tr style="font-size: 12px !important;" >
        <?php echo $this->sorting(array(
                '#',
                'staff_code'     =>'code',
                'staff_name'     =>'name',
                'area',
                'salary',
                'time_effective' => 'time effective',
                'created_at'     => 'created at',
                'created_by'     => 'created by',
                'Action'
            ),
            $this->url, $this->sort, $this->desc); ?>
    </tr>
    </thead>
    <tbody>
    <?php if (isset($this->list) && $this->list):
        $intStt = ($this->offset) +  1;
        ?>

        <?php foreach ($this->list as $key => $value): ?>
        <tr>
            <td><?php echo $intStt++;?></td>
            <td><?php echo $value['staff_code'];?></td>
            <td><?php echo $value['staff_name'];?></td>
            <td><?php echo $value['area_name'];?></td>
            <td><?php echo $value['salary']?></td>
            <td><?php echo date('d/m/Y',strtotime($value['time_effective']))?></td>
            <td><?php echo date('d/m/Y',strtotime($value['created_at']))?></td>
            <td><?php echo $value['created_by_name']?></td>
            <td></td>
        </tr>
    <?php endforeach ?>
    <?php endif ?>
    </tbody>
</table>

<div class="paging">
    <?php echo $this->paging($this->total, $this->limit, $this->offset, $this->url);?>
</div>


<link rel="stylesheet" type="text/css" href="/css/bootstrap-datetimepicker.min.css"/>
<script language="javascript" type="text/javascript" src="/js/bootstrap-datetimepicker.min.js"></script>

<script>
    $(document).ready(function(){
        $('.date').datetimepicker({
            format: 'dd/mm/yyyy',
            startView: 2,
            minView: 2,
            autoclose: true
        });
    })
</script>
