
<style>
    .form-search .control-group label{
        width: 150px !important;
    }
</style>
<form class="form-search form-horizontal" method="get" action="/insurance/">
    <div class="row">
        <div class="span5">
                <div class="control-group">
                    <label for="code">Mã nhân viên</label>
                    <input id="code" class="form-control" name="code" type="text" class="input-large  form-control" value="<?php isset($this->params['code']) and printf($this->params['code']);?>">
                </div>
                <div class="control-group">
                    <label for="name">Họ tên</label>
                    <input id="name" name="name" type="text" class=" form-control" value="<?php isset($this->params['name']) and printf($this->params['name']);?>">
                </div>

                <div class="control-group">
                    <label for="ins_number">Sổ bảo hểm</label>
                    <input id="insurance_number" class="form-control" name="insurance_number" type="text" class="input-large  form-control" value="<?php isset($this->params['insurance_number']) and printf($this->params['insurance_number']);?>">
                </div>

                <div class="control-group">
                    <label for="off">Trạng thái</label>
                    <select  name="status" id="status" class="form-control">
                        <?php
                            // $arr = array(
                            //         -1 => 'All',
                            //         1  => 'ON',
                            //         2  => 'TEMP',
                            //         3  => 'OFF'
                            //     );
                            $arr_status = array(
                                    -1 => 'All',
                                    1  => 'ON',
                                    2  => 'Temporary Off',
                                    0  => 'OFF',
                                    3 => 'Childbearing',
                                );
                                
                            foreach($arr_status as $key => $value):
                        ?>
                            <option value="<?php echo $key;?>" <?php if($key == $this->params['status']) echo 'selected'; ?>><?php echo $value?></option>
                        <?php
                            endforeach;
                        ?>
                    </select>
                </div>
                <div class="control-group">
                    <label for="regional_market">Vùng làm việc</label>
                    <select id="regional_market" name="regional_market" class="form-control">
                        <option value>---</option>
                        <?php
                        if (isset($this->regional_markets) && $this->regional_markets) :
                            foreach ($this->regional_markets as $key => $value):?>
                                <option value="<?php echo $key;?>" <?php if (isset($this->params['regional_market']) and $this->params['regional_market']==$key):?>selected<?php endif;?>><?php echo $value;?></option>
                            <?php
                            endforeach;
                        endif;
                        ?>
                    </select>
                </div>

                <div class="control-group">
                    <label>Công ty</label>
                    <select name="unit_code_id" id="" class="form-control">
                       <option value="">---</option>
                       <?php
                            foreach($this->unit_codes as $key => $value):
                        ?>
                            <option value="<?php echo $key?>" <?php if($key == $this->params['unit_code_id']) echo 'selected=selected'?>><?php echo $value;?></option>
                        <?php
                            endforeach;
                       ?>
                    </select>
                </div>

                <div class="control-group">
                    <label>Danh sách 45</label>
                    <select name="c45" id="" class="form-control">
                        <?php
                            $arr = array(
                                    -1 => 'Tất cả',
                                    1  => 'C45',
                                    );
                            foreach($arr as $key => $value):
                        ?>
                            <option value="<?php echo $key;?>" <?php if(isset($this->params['c45']) AND $this->params['c45'] == $key) echo 'selected'; ?>>
                                <?php echo $value;?></option>
                        <?php
                            endforeach;
                        ?>
                    </select>
                </div>
        </div>
        <div class="span6" style="display: none">
            <div class="control-group">
                <label for="have_book">Có sổ</label>
                <select name="have_book" id="have_book" class="form-control">
                    <?php
                    $arr = array(
                        -1 => '---',
                        0  => 'KHÔNG',
                        1  => 'CÓ',
                    );
                    foreach($arr as $key => $value):
                        ?>
                        <option value="<?php echo $key;?>" <?php if($key == $this->params['have_book']) echo 'selected=selected'?>><?php echo $value;?>
                        </option>
                    <?php
                    endforeach;
                    ?>
                </select>
            </div>

            <div class="control-group">
                <label for="close_book">Chốt sổ</label>
                <select name="close_book" id="close_book" class="form-control">
                    <?php
                    $arr = array(
                        -1 => '---',
                        0  => 'KHÔNG',
                        1  => 'CÓ',
                    );
                    foreach($arr as $key => $value):
                        ?>
                        <option value="<?php echo $key;?>" <?php if($key == $this->params['close_book']) echo 'selected=selected'?>><?php echo $value;?>
                        </option>
                    <?php
                    endforeach;
                    ?>
                </select>
            </div>

            <div class="control-group">
                <label for="return_book_ins_time">Trả sổ</label>
                <select name="return_book_ins_time" id="return_book_ins_time" class="form-control">
                    <?php
                    $arr = array(
                        -1 => '---',
                        0  => 'KHÔNG',
                        1  => 'CÓ',
                    );
                    foreach($arr as $key => $value):
                        ?>
                        <option value="<?php echo $key;?>" <?php if($key == $this->params['return_book_ins_time']) echo 'selected=selected'?>><?php echo $value;?>
                        </option>
                    <?php
                    endforeach;
                    ?>
                </select>
            </div>

            <div class="control-group">
                <label for="take_card_from_ins">Lấy thẻ từ bảo hiểm</label>
                <select name="take_card_from_ins" id="take_card_from_ins" class="form-control">
                    <?php
                    $arr = array(
                        -1 => '---',
                        0  => 'KHÔNG',
                        1  => 'CÓ',
                    );
                    foreach($arr as $key => $value):
                        ?>
                        <option value="<?php echo $key;?>" <?php if($key == $this->params['take_card_from_ins']) echo 'selected=selected'?>><?php echo $value;?>
                        </option>
                    <?php
                    endforeach;
                    ?>
                </select>
            </div>

            <div class="control-group">
                <label for="delivery_card_ins">Chia thẻ về khu vực</label>  
                <select name="delivery_card_ins" id="delivery_card_ins" class="form-control">
                    <?php
                    $arr = array(
                        -1 => '---',
                        0  => 'No',
                        1  => 'Yes',
                    );
                    foreach($arr as $key => $value):
                        ?>
                        <option value="<?php echo $key;?>" <?php if($key == $this->params['delivery_card_ins']) echo 'selected=selected'?>><?php echo $value;?>
                        </option>
                    <?php
                    endforeach;
                    ?>
                </select> 
            </div>

            <div class="control-group">
                <label for="take_card_from_staff">Thu hồi thẻ từ nhân viên</label>
                <select name="take_card_from_staff" id="take_card_from_staff" class="form-control">
                    <?php
                    $arr = array(
                        -1 => '---',
                        0  => 'KHÔNG',
                        1  => 'CÓ',
                    );
                    foreach($arr as $key => $value):
                        ?>
                        <option value="<?php echo $key;?>" <?php if($key == $this->params['take_card_from_staff']) echo 'selected=selected'?>><?php echo $value;?>
                        </option>
                    <?php
                    endforeach;
                    ?>
                </select>
            </div>

            <div class="control-group">
                <label for="return_card_ins_time">Trả thẻ bảo hiểm</label>
                <select name="return_card_ins_time" id="return_card_ins_time" class="form-control">
                    <?php
                    $arr = array(
                        -1 => '---',
                        0  => 'KHÔNG',
                        1  => 'CÓ',
                    );
                    foreach($arr as $key => $value):
                        ?>
                        <option value="<?php echo $key;?>" <?php if($key == $this->params['return_card_ins_time']) echo 'selected=selected'?>><?php echo $value;?>
                        </option>
                    <?php
                    endforeach;
                    ?>
                </select>  
            </div>
        </div>
    </div>
    <input type="submit" name='search' class='btn btn-primary' value="search">
    <button type="reset" class="btn btn-warning">Reset</button>
    <button type="submit" class="btn btn-success" value="1" name="export">Export</button>
    <button type="submit" class="btn btn-success" value="1" name="report_c45">Export c45</button>
</form>

