<link rel="stylesheet" type="text/css" href="/css/bootstrap-datetimepicker.min.css"/>
<div class="page-header">
    <h1>Thống kê công theo phòng ban</h1>
</div>
<div style="margin-bottom: 20px">
	<a href="/time-machine/luoi" class="btn btn-default">Lưới công</a>
	<a href="/time-machine/department" class="btn btn-primary" >Công theo phòng ban</a>
</div>
<form action="" method="post" class="form-horizontal"> 
    <div class="control-group">
        <label for="name" class="span1">Tháng</label>
        <input type="text" name="time" id="time" class="date" value="<?php echo $this->params['time'] ?>">
    </div>
    <div class="control-group">
        <button value="1" name="export" class="btn btn-success">Export</button>
    </div>
</form>
</tbody>
</table>
<script language="javascript" type="text/javascript" src="/js/bootstrap-datetimepicker.min.js"></script>
<script>
    $('.date').datetimepicker({
            weekStart: 1,
            clear: true,
            minView: 3,
            startView: 3,
            minViewMode: 3,
            autoclose: true,
            format: 'mm/yyyy'
        });
</script>