<style>
    iframe {
        width: 100%;
        min-height: 500px;
    }
    .logo-oppo{
        background: #008B56;
    }
    h1{
        text-transform: uppercase;
        color: #008B56;
        font-size: 20px;
        margin-top: 30px;
        text-align: center;
    }
</style>
<div class="page-header">
    <h1>Upload Feedback DC Tháng 5 & 6</h1>
</div>
<!-- Flash message -->
<?php
if (isset($this->messages) and $this->messages)
    //foreach ($this->messages as $message):
    echo '<div class="alert alert-error">'.$this->messages.'</div>';
    //endforeach;

if (isset($this->messages_success) and $this->messages_success)
    //foreach ($this->messages_success as $message):
        echo '<div class="alert alert-success">'.$this->messages_success.'</div>';
    //endforeach;
?>
<?php if (!isset($this->messages) and !$this->messages):?>
<div class="accordion" id="accordion2">
    <div class="well">
        <div class="row-fluid">
            <div class="span4">
                Template <a class="btn btn-info btn-mini" href="<?php echo HOST ?>files/template/feedback-result-dc-5-6.xlsx">Download</a>
                <a class="btn btn-info btn-mini" href="<?php echo HOST ?>files/template/guide_feedback_dc.pdf" target="_blank">Guide feedback dc</a>
            </div>
        </div>
    </div>
</div>
<form action="<?php echo HOST ?>form-print/save-mass-feedback-dc" id="form" target="iframe" class="form-inline" method="post" enctype="multipart/form-data">
    <div class="row">
        <div class="span6">
            <label for="" class="span4">Upload File <span style="color: red">*</span>
                <input type="file" class="span4" name="file" required />
            </label>
        </div>
        <div class="span6">
        </div>
    </div>
    <br>
    <div class="row">
        <div class="span12">
            <button id="submit_btn" class="btn btn-info logo-oppo">Upload</button>
            <a href="/form-print/feedback-result-dc?export=1" class="btn btn-info logo-oppo">Export</a>		
        </div>
    </div>
</form>
<?php endif;?>
<div class="row">
    <div class="span12">
        <div id="noti-success">
        </div>
        <div class="progress progress-striped active">
            <div class="bar" style="width: 0%;"></div>
        </div>
    </div>
</div>

<iframe src="" frameborder="0" name="iframe" id="iframe"></iframe>
<script>
    function set_progress(percent) {
        $('.bar').css('width', percent + '%');
        $('.bar').html(percent + '%');
        if(percent == 100){
            $('#noti-success').append('<div class="alert alert-success" role="alert">Upload Success</div>');
        }
    }

</script>