<style>
    iframe {
        width: 100%;
        min-height: 500px;
    }
 .logo-oppo{
    	background: #008B56;
    }
h1{
        text-transform: uppercase;
    	color: #008B56;
        font-size: 20px;
        margin-top: 30px;
 	    text-align: center;
    }
</style>
<div class="page-header">
    <h1>Upload Preoder</h1>
</div>

<!-- Flash message -->
<?php
if (isset($this->messages_success) and $this->messages_success)
    foreach ($this->messages_success as $message):
        echo '<div class="alert alert-success">' . $message . '</div>';
    endforeach;

if (isset($this->messages_error) and $this->messages_error)
    foreach ($this->messages_error as $message):
        echo '<div class="alert alert-error">' . $message . '</div>';
    endforeach;
?>

<div class="accordion" id="accordion2">
    <div class="well">
        <div class="row-fluid">
            <div class="span4">
                Template <a class="btn btn-info btn-mini" href="<?php echo HOST ?>files/template/preOrder.xlsx">Download</a>
            </div>
        </div>
    </div>
</div>

<form action="<?php echo HOST ?>form-print/save-mass-pre-order" id="form" target="iframe" class="form-inline" method="post" enctype="multipart/form-data">
    <div class="row">
        <div class="span6">
		 <?php 
	
		 if(date('Y-m-d h:i:s') <= '2019-11-07 09:00:00'  ){
                ?>
            <label for="" class="span4">Upload File <span style="color: red">*</span>
                <input type="file" class="span4" name="file" required />
            </label>
            <?php }?>
            

        </div>

        <div class="span6">

        </div>
    </div>
	<br>
    <div class="row">
        <div class="span12">
            <button id="submit_btn" class="btn btn-info logo-oppo">Upload</button>
			
				<a href="/form-print/mass-pre-order?export=1" class="btn btn-info logo-oppo">Export</a>
			
			
        </div>
    </div>
</form>
<div class="row">
    <div class="span12">
        <div class="progress progress-striped active">
            <div class="bar" style="width: 0%;"></div>
        </div>
    </div>
</div>

 <iframe src="" frameborder="0" name="iframe" id="iframe"></iframe>
<script>
    function set_progress(percent) {
        $('.bar').css('width', percent + '%');
        $('.bar').html(percent + '%');
    }

</script>