<style>
    .table tbody tr.class_cost td {
        background-color: #CCFFFF;
    }    
</style>
<div class="page-header">
    <h2>
        List Certification
        <div class="page-header pull-right">
            <a href="/manage/certificate-create"><button class="btn btn-success span2" style="font-size: 13px; font-weight: bold"> Create.</button></a>
        </div>        
    </h2>
</div>
<?php
if (isset($this->messages) and $this->messages)
    foreach ($this->messages as $message):
        echo '<div class="alert alert-error">'.$message.'</div>';
    endforeach;

if (isset($this->messages_success) and $this->messages_success)
    foreach ($this->messages_success as $message):
        echo '<div class="alert alert-success">'.$message.'</div>';
    endforeach;
?>
<div class="table-responsive">

    <table class="table table-bordered">
        <thead>
        <tr>
            <th>ID</th>
            <th>Name</th>
            <th>From Date</th>
            <th>To Date</th>
            <th>Status</th>
            <th></th>
        </tr>
        </thead>
        <tbody>   
            <?php
                $intStt = 1;            
                foreach(  $this->list as $value):
            ?> 
            <tr>
                <td><?php echo $intStt++ ?></td>
                <td><a href="/manage/certificate-staff?id=<?php echo $value['id']; ?>"><?php echo $value['name']; ?></a></td>
                <td><?php echo date_format(date_create($value['from']), "d-m-Y H:m:s"); ?></td>
                <td><?php echo date_format(date_create($value['to']), "d-m-Y H:m:s"); ?></td>
                <td>
                    <?php if($value['del'] == '0'){ ?>
                    <span class="label label-success">Open</span>
                    <?php }else{ ?>
                    <span class="label label-inverse">Close</span>
                    <?php }; ?>
                </td>
                <td><a role="button" href="/manage/certificate-create?id=<?php echo $value['id']; ?>" class="btn btn-warning">Edit</a></td>
            </tr>
            <?php endforeach; ?>
        </tbody>
    </table>
    <div class="paging">
        <?php echo $this->paging($this->total, 
                                 $this->limit, 
                                 $this->offset, 
                                 $this->url);?>
    </div>
    <script type="text/javascript" src="/js/jquery-ui-1.8.12.custom.min.js"></script>
    <link rel="stylesheet" type="text/css" href="/css/jquery-ui-1.8.12.custom.css"/>
    <script type="text/javascript" src="<?php echo HOST ?>js/bootstrap-multiselect.js"></script>
    <link rel="stylesheet" href="<?php echo HOST ?>css/bootstrap-multiselect.css" type="text/css"/>
    <?php echo $this->confirm();?>
</div>