<!DOCTYPE html>
<html prefix="og: http://ogp.me/ns#" lang ='en'>
    <head>
        <title>OPPO Center VN</title>
        <meta content="width=device-width,initial-scale=1, user-scalable=no" name="viewport">
        <link rel ="stylesheet" href ="css/style.css">
        <link href="/css/bootstrap.min.css" rel="stylesheet">
        <link rel="icon" type="image/ico" href="/img/favicon.ico">
        <link rel ="stylesheet" href ="css/animate.css">
        <script src="js/jquery-2.2.4.min.js"></script>
        <script src="js/tween/js/TweenMax.min.js"></script>
        <script src="js/main.js"></script>
        <style>
            body{
                font-family: 'myriad pro';
            }
            .footer-text{
                position: absolute;
                left: 50%;
                top:50%;
                transform: translate(-50%,-50%);
                text-align: center;
                color: rgb(237,125,49);

            }
            .welcom-info{
            font-size: 2rem;
	    text-align: center;
            color: #40b3c3;
            font-family: 'myriad pro';
            font-weight: 700;
            text-shadow:
                  1px 1px 0px #bee7ed;
                 
            }
            .name-welcom-info{
                color: rgb(251 141 66);
                text-shadow: 1px 1px 0px #decbb3;
            }
            .footer-text{
                font-size: 2.2rem;
                text-align: center;
                color: rgb(251 141 66);
                font-family: 'myriad pro';
                font-weight: 700;
                text-shadow:
                      2px 2px 0px #decbb3;
            }
            .title-qr{
                color: #404040;
                margin-bottom: 0px;
            }
            .greeting{
                font-size: 1.9rem !important;
                letter-spacing: 1px !important;
                text-align: center;
                color: #40b3c3 !important;
                font-family: 'myriad pro' !important;
                font-weight: 700;
                text-shadow:
                      1px 1px 0px #bee7ed;

            }
            .sub-greeting{
                font-size: 1.6rem !important;
                letter-spacing: 1px !important;
                text-align: center;
                color: #40b3c3 !important;
                font-family: 'myriad pro' !important;
                font-weight: 600;
                text-shadow:
                      1px 1px 0px #bee7ed;
            }
            
            
            .subtitle span {
                display: inline-block;
                position: relative;
                font-style: italic;
                font-size: 1.5rem;
                color: rgb(251 141 66);
              }
              .subtitle span:before,
              .subtitle span:after {
                content: "";
                position: absolute;
                height: 2px;
                border-bottom: 1px solid #40b3c3;
                border-top: 1px solid #40b3c3;
                top: .75em; /* 50% of line-height */
                width: 150%;
              }
              .subtitle-car span:before,
              .subtitle-car span:after {
                width: 220% !important;
              }
              .subtitle span:before {
                right: 100%;
                margin-right: 15px;
              }
              .subtitle span:after {
                left: 100%;
                margin-left: 15px;
              }
              .info-important{
                color: #ed1b24;
                text-shadow:
                      2px 2px 0px #fff5f6;
              }
              .user-card-center{
                  width: unset !important;
                  float: unset !important;
              }
              @media only screen and (max-width: 500px) {
                  .welcom-info{
                      font-size: 1.5rem;
                  }
                  .footer-text{
                      font-size: 1.2rem;
                  }
              }
        </style>
    </head>
    <body>


        <div class="top-bg">
        </div>
        <div class="body wrapper">
            <!-- Section 1 -->
            <div class="section section1 sm-show">
                <div class="wrapper">
                    <div class="background">
                        <img src="/img/teambuiding/companytrip_cover.jpg">
                    </div>
                </div>
            </div>

            <!-- Section 1 -->
            <div class="section section1 sm-hide">
                <div class="wrapper">
                    <div class="background">
                        <img src="/img/teambuiding/companytrip_cover.jpg">
                    </div>
                </div>
            </div>
            <!-- End of Section 1 -->
            <?php if (!empty($this->staff_data)) { ?>
                <div class="section section2 <?php echo $this->avatar ?>" id="section2">
                    <div class="wrapper" style="background:transparent;">
                        <div class="header">
                            <br class="sm-show">
                            <br class="sm-show">
                            <h2 class="welcom-info">
                                Xin chào <span class="name-welcom-info"><?php echo $this->staff_data['full_name']?></span> !<br>Cùng xem thông tin về chuyến du lịch của bạn với đại Gia đình OPPO <br>ngay bên dưới nhé!
                            </h2> 
                            <br>
                            <br>
                            <h3 class="title-qr">Mời bạn quét mã QR bên dưới<br>để gia nhập group chat, cùng cập nhật thông tin mới nhất và chia sẻ<br>những khoảnh khắc tuyệt vời của COMPANY TRIP 2021 - Khối H.O</h3>
                            <img style="width: 250px" src="/img/teambuiding/qr_company_trip_2021.JPG">
                            <br><br><br>
                            
                            <?php if(!empty($this->partner) && $this->partner): ?>
                            <div>
                                <p class="subtitle"><span>Thông tin phòng</span></p>
                                <h2 class="sub-greeting">
                                    <span class="info-important">
                                        <?php  $array_name = [];
                                            foreach ($this->partner as $key_partner=>$value_partner){
                                                $array_name[] = $value_partner['full_name'];
                                        }
                                        echo implode(', ', $array_name);
                                        ?>
                                    </span> sẽ là người bạn chung phòng với bạn trong những ngày tới.
                                </h2> 
                                <div class="list-card" >
                                    <div class="wrapper d-flex align-items-center justify-content-center">
                                        <div class="user-card-center">
                                            <?php $count_partner = count($this->partner); $percent_float = 100/$count_partner;?>
                                            <?php foreach ($this->partner as $key_partner=>$value_partner):?>
                                                <div class="user-card" style="width:<?php echo $percent_float?>%">
                                                    <div class="user-avatar">
                                                        <img src="<?php echo '/photo/staff/'.$value_partner['staff_id'].'/' . $value_partner['photo']?>">
                                                    </div>
                                                    <div class="user-name">
                                                        <p class="name"><?php echo $value_partner['full_name'] ?></p>
                                                    </div>
                                                </div>
                                            <?php endforeach;?>
                                        </div>
                                    </div>
                                </div> 
                            </div>
                            <br>
                            <br>
                            <?php endif;?>
                            
                            <div>
                                <p class="subtitle subtitle-car"><span>Thông tin xe</span></p>
                                <h2 class="sub-greeting">
                                    Bạn di chuyển trên xe <span class="info-important">số <?php echo $this->color ?></span>.
                                </h2> 
                            </div>
                            <div class="list-card" >
                                <div class="wrapper d-flex align-items-center justify-content-center">
                                    <div class="user-card user-card-center">
                                        <div class="user-avatar">
                                            <img src="<?php echo '/photo/staff/' . $this->img_mentor ?>">
                                        </div>
                                        <div class="user-name">
                                            <p class="name"><?php echo $this->name_mentor ?><br>Trưởng Xe</p>

                                        </div>
                                    </div>
                                </div>
                            </div> 
                        </div>
                        <div class="list-card">
                            <div class="wrapper">
                                <!-- Individual Card -->
                                <?php if (isset($this->info) && $this->info): ?>
                                    <?php foreach ($this->info as $k => $v): ?>
                                        <?php
                                        if ($v['gender'] == 0)
                                            $gender = "female";
                                        else
                                            $gender = "male";

                                        if (!empty($v['photo']))
                                            $url_img = '/photo/staff/' . $v['staff_id'] . '/' . $v['photo'];
                                        else
                                            $url_img = '/event/img/ollie4.png';
                                        ?>
                                        <?php if ($this->mentor == 0): ?>

                                            <?php if ($v['status'] == 1): ?>

                                                <div class="user-card">
                                                    <div class="user-avatar">
                                                        <img src="<?php echo $url_img ?>">
                                                    </div>
                                                    <div class="user-name">
                                                        <p class="name"><?php echo $v['full_name'] ?></p>
                                                    </div>
                                                    <div class="tooltip">
                                                        <div class="content">
                                                            <p class="name"><?php echo $v['full_name'] ?> <span class="gender <?php echo $gender ?>"></span></p>
                                                            <p class="detail"><?php echo $v['department_name'] ?></p>
                                                            <p class="detail"><?php echo $v['team_name'] ?></p>
                                                            <p class="detail"><?php echo $v['title_name'] ?></p>
                                                        </div>
                                                    </div>
                                                </div>

                                            <?php else: ?>

                                                <div class="user-card">
                                                    <div class="user-avatar">

                                                    </div>
                                                    <div class="user-name">
                                                        <p class="name">?????</p>
                                                    </div>
                                                </div>

                                            <?php endif ?>
                                        <?php else: ?>
                                        
                                            <div class="user-card">
                                                <div class="user-avatar">
                                                    <img src="<?php echo $url_img ?>">
                                                </div>
                                                <div class="user-name">
                                                    <p class="name"><?php echo $v['full_name'] ?></p>
                                                </div>
                                                <div class="tooltip">
                                                    <div class="content">
                                                        <p class="name"><?php echo $v['full_name'] ?> <span class="gender <?php echo $gender ?>"></span></p>
                                                        <p class="detail"><?php echo $v['department_name'] ?></p>
                                                        <p class="detail"><?php echo $v['team_name'] ?></p>
                                                        <p class="detail"><?php echo $v['title_name'] ?></p>
                                                    </div>
                                                </div>
                                            </div>
                                        <?php endif ?>

                                    <?php endforeach ?>
                                <?php endif ?>


                            </div>
                        </div> 

                    </div>
                </div>
            <?php }else { ?>
                <h2 class="greeting">
                    <h2 class="greeting">
                        RẤT TIẾC VÌ BẠN ĐÃ KHÔNG CÓ TRONG DANH SÁCH THAM GIA COMPANY TRIP KHỐI H.O NĂM NAY
                    </h2> 
                </h2> 
            <?php } ?>
            <!-- End of Section 2 -->
            <div class="wrapper">
                <!-- <h2 style="text-align: center;margin-top: 80px">Vui lòng truy cập thường xuyên để cập nhật danh sách Đội.</h2> -->
            </div>
            <?php if (!empty($this->staff_data)) : ?>
                <footer>
                    <div class="wrapper">

                        <img class="footer-bg" src="img/leaf-footer.png">
                        <h2 class="footer-text" >KÉO VALI LÊN VÀ ĐI THÔI NÀO!!!!!</h2> 
                    </div>
                </footer>
            <?php else:?>
                <footer>
                    <div class="wrapper">
                        <img class="footer-bg" src="img/leaf-footer.png">
                        <h2 class="footer-text" >OPPO HẸN GẶP BẠN Ở DỊP KHÁC NHÉ!!!!!</h2> 
                    </div>
                </footer>
            <?php endif;?>
        </div>
        <script>
            $(document).ready(function () {
                $('.user-card').mouseenter(function () {
                    var checkIndex = false;
                    if ($(document).width() >= 1080) {
                        if (($(this).index() + 1) % 5 === 0) {
                            checkIndex = true;
                        } else {
                            checkIndex = false;
                        }
                    } else {
                        if ($(document).width() < 1080) {
                            if (($(this).index() + 1) % 3 === 0) {
                                checkIndex = true;
                            } else {
                                checkIndex = false;
                            }
                        }
                    }
                    if (checkIndex === false) {
                        $(this).find('.tooltip').css({
                            'top': '0',
                            'height': $(this).find('.content').height() + 40 + 'px',
                            'visibility': 'visible',
                            'opacity': '1',
                        });
                        $(this).find('.content').css({
                            'opacity': '1',
                            'left': 0
                        });
                    } else {
                        $(this).find('.tooltip').css({
                            'top': '0',
                            'right': '50%',
                            'left': 'auto',
                            'height': $(this).find('.content').height() + 40 + 'px',
                            'visibility': 'visible',
                            'opacity': '1',
                        });
                        $(this).find('.content').css({
                            'opacity': '1',
                            'left': 0
                        });
                    }
                });
                $('.user-card').mouseleave(function () {
                    $(this).find('.tooltip').css({
                        'top': '50%',
                        'height': '0',
                        'visibility': 'hidden',
                        'opacity': '0',
                    });
                    $(this).find('.content').css({
                        'opacity': '0',
                        'left': '-20px'
                    });
                });

            });
        </script>
        <div class="arrow-btn">
            <a  href="#section2"><img src="img/down.png"></a>
        </div>

        <!-- Additional Script -->
        <script>
            $(document).ready(function () {
                var flag = $('.section1 .effect2');
                var title = $('.section1 .effect1');
                var leaf = $('.section1 .effect3');
                var choose = $('.section1 .effect4');
                TweenMax.set(flag, {css: {'top': '25.153846%'}});
                TweenMax.set(title, {css: {'top': '0%'}});
                TweenMax.set(leaf, {css: {'scale': '1.4'}});

                TweenMax.to(flag, 1.2, {css: {'top': '32.153846%', 'opacity': '1'}, ease: Power4.easeIn, delay: 2.5});
                TweenMax.to(leaf, 1.4, {css: {'scale': '1', 'opacity': '1'}, ease: Power1.easeOut, delay: 1});
                TweenMax.to(title, 2, {css: {'top': '7.384615%', 'opacity': '1'}, ease: Power2.easeOut, delay: 3.8});
                TweenMax.to(choose, 0.8, {css: {'opacity': '1'}, ease: Power2.easeOut, delay: 4.2});
                TweenMax.staggerTo(".footprint", 0.7, {opacity: 0.5, ease: Back.easeIn}, 0.2);
                TweenMax.staggerTo(".footprint", 0.7, {opacity: 0, ease: Back.easeIn, delay: 2.4}, 0.2);

                /*Fix the IMAGE */
                var ImageArray = $('.user-card .user-avatar img');
                ImageArray.each(function (index, value) {
                    var widthE = $(this).width();
                    var heightE = $(this).height();
                    var mainSize;
                    if ($(window).width() > 480) {
                        mainSize = 140;
                    } else {
                        mainSize = 100;
                    }
                    if (widthE > heightE) {
                        var ratio = widthE / heightE;
                        $(this).css({
                            'height': mainSize + 'px',
                            'width': mainSize * ratio + 'px',
                            'left': '50%',
                            'top': '0',
                            'transform': 'translateX(-50%)',
                            '-ms-transform': 'translateX(-50%)',
                            '-webkit-transform': 'translateX(-50%)'
                        });
                    } else {
                        if (widthE <= heightE) {
                            var ratio = heightE / widthE;
                            $(this).css({
                                'width': mainSize + 'px',
                                'height': mainSize * ratio + 'px',
                                'top': '0',
                                'left': '0',
                            });
                        }
                    }
                });
            });
            /* Smooth Scrolling Effect */
            $(function () {
                $('a[href*="#"]:not([href="#"])').click(function () {
                    if (location.pathname.replace(/^\//, '') == this.pathname.replace(/^\//, '') && location.hostname == this.hostname) {
                        var target = $(this.hash);
                        target = target.length ? target : $('[name=' + this.hash.slice(1) + ']');
                        if (target.length) {
                            $('html, body').animate({
                                scrollTop: target.offset().top
                            }, 1000);
                            return false;
                        }
                    }
                });
            });
        </script>
        <style>
            .section1 .effect .footprint{
                position: absolute;
                opacity: 0;
            }
            .section1 .effect .footprint#foot1 {
                bottom: 6.6%;
                left: 52.3%;
            }
            .section1 .effect .footprint#foot2 {
                bottom: 2.6%;
                left: 61%;
            }
            .section1 .effect .footprint#foot3 {
                bottom: 10.8%;
                left: 71.3%;
            }
            .section1 .effect .footprint#foot4 {
                bottom: 6.8%;
                left: 81.3%;
            }
            .section1 .effect .footprint#foot5 {
                bottom: 18.8%;
                left: 86%;
            }
            .section1 .effect .footprint#foot6 {
                bottom: 18.5%;
                left: 93%;
            }
            .section1 .effect .footprint#foot7 {
                bottom: 26%;
                left: 92.7%;
            }
            .section1 .effect .footprint#foot8 {
                bottom: 31.5%;
                left: 96.7%;
            }
            .section1 .effect .footprint#foot9 {
                bottom: 37.5%;
                left: 91.7%;
            }
            .section1 .effect .footprint#foot10 {
                bottom: 41.7%;
                left: 88.7%;
            }
            .section1 .effect .footprint#foot11 {
                bottom: 43.1%;
                left: 85.1%;
            }
            .section1 .effect .footprint#foot12 {
                bottom: 46.5%;
                left: 86.7%;
            }
            .sm-show{
                display:none;
            }
            @media screen and (max-width:480px){
                .sm-hide{
                    display:none;
                }
                .sm-show{
                    display:block;
                }
                .mb-content .greeting{
                    color: rgb(82,82,82);
                    font-family:'myriad pro light';
                    padding: 0 0.5em 20px;
                    font-size: 1.2rem;
                    text-align: center;
                    border-top: 1px solid rgb(232,232,232);
                    background: rgb(245,245,245);
                    margin:0;
                }
                .section1 .choose-btn{
                    padding: 0 30px;
                    display: inline-block;
                    color: white;
                    line-height: 30px;
                    /*color:#f5b89b;*/
                    background-color:rgb(0,146,95);
                    font-family:'khuccamta';
                    font-weight: 400;
                    border-radius: 3px;
                    margin: 0 0 12px;
                    cursor:pointer;
                    transition: all ease-out 100ms 20ms;
                }
                .top-bg{
                    min-height: 100vh;
                }
            }
        </style>
        <!-- End of Aditional Script -->

    </body>
</html>

