<link href="<?php echo HOST ?>css/select2.css" rel="stylesheet"/>
<script src="<?php echo HOST ?>js/select2.js"></script>
<style>
    .p-model .remove-model {
        margin-bottom: 9px;
    }

    .alert-msg {
        background: #F9EEB8;
        border-bottom-right-radius: 4px;
        border-bottom-left-radius: 4px;
        border-top: 2px solid #e55;
        /*display: none;*/
        margin: 0;
        /*margin-left: -200px;*/
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        z-index: 9999;
    }

    .alert-msg.show {
        display: inline-block;
    }

    .alert-msg p {
        font-weight: bold;
        font-size: 12px;
        font-family: tahoma, arial;
        margin: 0 10px;
        line-height: 2em;
        text-align: center;
    }
</style>
<div class="page-header">
    <?php if (isset($this->store) and $this->store):?>
        <h1>Edit Store</h1>
    <?php else:?>
        <h1>Create Store</h1>
    <?php endif;?>
</div>

<?php
if (isset($this->messages) and $this->messages)
    foreach ($this->messages as $message):
        echo '<div class="alert alert-error">'.$message.'</div>';
    endforeach;
?>

<?php if (isset($this->WARNING_TIMING_MESSAGES) and $this->WARNING_TIMING_MESSAGES):?>
<div class="alert-msg">
    <p class="msg"><?php echo $this->WARNING_TIMING_MESSAGES;?></p>
</div>
<?php endif;?>

<div class="row-fluid">
    <div class="span12">
        <iframe name="ifrmSave" id="ifrmSave" width="100%" style="display:none;"></iframe>
        <form role="form" id="form" action="<?php echo HOST.'manage/store-save';?>" method="post" target="ifrmSave">
            <div class="row-fluid">
                <div class="span6<?php echo in_array($this->group_id, array(ADMINISTRATOR_ID, SALES_EXT_ID)) ? null : ' hidden' ?>">
                	<?php echo $this->render('manage/store/partials/store-info.phtml'); ?>
                </div>
                <div class="<?php echo in_array($this->group_id, array(ADMINISTRATOR_ID, SALES_EXT_ID)) ? 'hidden' : null ?>">
                    <div class="control-group">
                        <label for="name">Name</label>
                        <label class="bold" id="name" name="name" ><?php if (isset($this->store)): echo $this->store->name; endif;?></label>
                    </div>
                    <div class="control-group">
                        <label for="name">Short Name</label>
                        <label class="bold" name="short_name" ><?php if (isset($this->store)): echo $this->store->short_name; endif;?></label>
                    </div> 
                </div>
                
                <div class="span6">
                <?php if (in_array($this->group_id, array(ADMINISTRATOR_ID, SALES_EXT_ID))): ?>
                    <div class="row-fluid">
                        <div class="span12">
                        	<div class="control-group">
    	                    	<legend>Belongs to Dealer:</legend>
                                <label class="span4" >Retailer name <span style="color: red">*</span>
                                    <input type='text' class="span4" name='SearchBox' id="SearchBox" placeholder="Search" autocomplete="off" />
                                    <select name="d_id" class="span4" id="d_id" required="required" size="5">
                                        <option value>Choose</option>
                                        <?php
                                        if ($this->distributors) :
                                            foreach ($this->distributors as $distributor):?>
                                                <option value="<?php echo $distributor['id'];?>" <?php if ( isset($this->store) and ($this->store->d_id==$distributor['id'])):?>selected<?php endif;?>><?php echo $distributor['title'];?></option>
                                            <?php
                                            endforeach;
                                        endif;
                                        ?>
                                    </select>
                                </label>
	                        </div>
                        </div>
                    </div>
                <?php endif?>

                    <?php echo $this->render('manage/store/partials/store-staff.phtml'); ?>
                </div>
            </div>
            <button type="submit" id="check_btn" style="display:none;"></button>
            <div class="row-fluid">
                <div class="span12">
                    <input type="hidden" name="id" id="id" value="<?php if(isset($this->store) and $this->store) echo $this->store->id;?>">
                    <?php if (in_array($this->group_id, array(ADMINISTRATOR_ID, SALES_EXT_ID))): ?>
                        <button type="button" id="submit_btn" class="btn btn-primary">Submit</button>
                    <?php endif?>
                    <input type="hidden" name="back_url" id="back_url" value="<?php if (isset($this->back_url) and $this->back_url) echo $this->back_url;?>">
                    <button type="button" class="btn btn-danger go-back">Go back</button>
                </div>
            </div>
        </form>
    </div>
</div>

<script type="text/javascript">
    var showOnlyOptionsSimilarToText = function (selectionEl, str, isCaseSensitive, callback) {
        if (typeof isCaseSensitive == 'undefined')
            isCaseSensitive = true;
        if (isCaseSensitive)
            str = str.toLowerCase();

        var $el = $(selectionEl);

        $el.children("option:selected").removeAttr('selected');
        $el.val('');
        $el.children("option").hide();

        $el.children("option").filter(function () {
            var text = $(this).text();
            if (isCaseSensitive)
                text = text.toLowerCase();

            if (text.indexOf(str) > -1)
                return true;

            return false;
        }).show();

        if (callback)
            eval(callback+'();');
    };

    function initSearchOption(){
        var timeout;
        $("#SearchBox").on("keyup", function () {
            var userInput = $("#SearchBox").val();
            window.clearTimeout(timeout);
            timeout = window.setTimeout(function() {
                showOnlyOptionsSimilarToText($("#d_id"), userInput, true);
            }, 500);

        });
    }

    function checkStoreName(e){
        var timeout;
        $("#name").on("keyup", function () {
            var id = $("#id").val().trim();
            var storeName = $("#name").val().trim();
            window.clearTimeout(timeout);
            timeout = window.setTimeout(function() {
                checkStoreNameAction(id, storeName);
            }, 500);

        });
    }

    function checkStoreNameAction(id, storeName) {
        $("#store_name_check").html('');

        if (storeName) {
            $.ajax({
                    url: '<?php echo HOST ?>ajax/check-store-name',
                    type: 'post',
                    dataType: 'html',
                    data: {id : id, store_name : storeName},
                })
                .done(function(data) {
                    console.log("success");

                    if (data) {
                        $("#store_name_check").html(data);
                    }
                })
                .fail(function() {
                    console.log("error");
                })
                .always(function() {
                    console.log("complete");
                });
                    
        }
    }

    $(document).ready(function () {
        initSearchOption();
        checkStoreName();

        $('.go-back').click(function(e){
            window.location.href = $('#back_url').val();

            return false;
        });

        $('#area_id').change(function(){
            $('form').bind('submit',function(e){e.preventDefault();});
            $('form button, form input, form select').prop('disabled', true);
            $('.loading').remove();

            $(this).after('<span class="loading"></span>');
            var _self = $(this);
            var area_id = $(this).val();
            $.get("/staff/load-province",
                {area_id: area_id}
                ,function(data,status){
                    $('form').unbind('submit');
                    $('form button, form input, form select').prop('disabled', false);

                    var obj = $.parseJSON( data );
                    $('#regional_market').find('option:not(:first)').remove();
                    for (var i = 0; i < obj.length; i++) {
                        $('#regional_market').append('<option value="'+obj[i]['id']+'">'+obj[i]['name']+'</option>');
                    }

                    $('.loading').remove();
                });
        });

        $('#regional_market').change(function(){
        	$('form').bind('submit',function(e){e.preventDefault();});
            $('form button, form input, form select').prop('disabled', true);
            $('.loading').remove();

            $(this).after('<span class="loading"></span>');
            var _self = $(this);
            var region = $(this).val();
            $.post("/ajax/get-district-cbb", {
                    region: region
                }
                ,function(data,status){
                    $('#district').find('option:not(:first)').remove();
                    
                    try {
                        if (data) {
                            var obj = $.parseJSON( data );
                            
                            for (var i = 0; i < obj.length; i++) {
                                $('#district').append('<option value="'+obj[i]['id']+'">'+obj[i]['name']+'</option>');
                            }                        
                        }

                    } catch(err) {

                    } finally {
                        $('.loading').remove();
                        $('form').unbind('submit');
                        $('form button, form input, form select').prop('disabled', false);
                    }
                });
        });

        $( "#s_name" ).keypress(function( event ) {
            if ( event.which == 13 ) {
                event.preventDefault();

                $('form').bind('submit',function(e){e.preventDefault();});
                $('form button, form input, form select').prop('disabled', true);

                $('.loading').remove();
                var _self = $(this);
                var targetUrl = '<?php echo HOST."staff?sname=1&name=" ?>' + $('#s_name').val();

                //get ajax content
                var aj = _self.parent().parent().next().find('.load-ajax');
                if (aj.length){
                    _self.after("<span class=\'loading\'></span>");
                    $.get(targetUrl
                        ,function(data,status){
                        	$('form').unbind('submit');
                        	$('form button, form input, form select').prop('disabled', false);
                            aj.html(data);
                            _self.next('.loading').remove();
                        });
                }

                return false;
            }
        });

        


        $('#add_btn_sales').click(function(){
            _self = $('#name_result');
            item  = _self.children('option:selected').clone();
            list  = $(item);

            for (var i = 0; i < item.length; i++) {

                if ( ! is_exists_sales( $(item[i]).attr('value') ) ) {
                    _des = $('#pic_name_sales');
                    _des.append(item[i]);
                }
            }
        });

        $('#add_btn_pg').click(function(){
            _self = $('#name_result');
            item = _self.children('option:selected').clone();
            list = $(item);

            for (var i = 0; i < item.length; i++) {

                if ( ! is_exists_pg( $(item[i]).attr('value') ) ) {
                    _des = $('#pic_name_pg');
                    _des.append(item[i]);
                }
            }
        });
         // add store leader 16/05/2017
        $('#add_btn_store_leader').click(function(){
            _self = $('#name_result');
            item  = _self.children('option:selected').clone();
            list  = $(item);

            for (var i = 0; i < item.length; i++) {

                if ( ! is_exists_store_leader( $(item[i]).attr('value') ) ) {
                    _des = $('#pic_name_store_leader');
                    _des.append(item[i]);
                }
            }
        });
        //
        
        // add store leader 27/07/2017
        $('#add_btn_pg_leader').click(function(){
            _self = $('#name_result');
            item  = _self.children('option:selected').clone();
            list  = $(item);

            for (var i = 0; i < item.length; i++) {

                if ( ! is_exists_store_leader( $(item[i]).attr('value') ) ) {
                    _des = $('#pic_name_pg_leader');
                    _des.append(item[i]);
                }
            }
        });
        //

        $('#remove_btn_sales').click(function(){
            _self = $('#pic_name_sales');
            item = _self.children('option:selected').remove();
        });

        $('#remove_btn_pg').click(function(){
            _self = $('#pic_name_pg');
            item = _self.children('option:selected').remove();
        });

        // add store leader 16/05/2017 
        $('#remove_btn_store_leader').click(function(){
            _self = $('#pic_name_store_leader');
            item = _self.children('option:selected').remove();
        });
        //
        
        // add store leader 16/05/2017 
        $('#remove_btn_pg_leader').click(function(){
            _self = $('#pic_name_pg_leader');
            item = _self.children('option:selected').remove();
        });
        //

        $('#submit_btn').click(function(){
            if ( ! $('#form')[0].checkValidity() ) {
                $('#check_btn').click();
                return false;
            }

        	$('form#form button').prop('disabled', true);

            _name = $('#pic_name_pg option');
            id_str = '';
            
            for(var i = 0; i < _name.length; i++) {
                id_str += $(_name[i]).attr('value') + ',';
            }
            
            id_str = id_str.replace(/\,$/, '');
            $('#pic').val(id_str);

            _name = $('#pic_name_sales option');
            id_str = '';
            
            for(var i = 0; i < _name.length; i++) {
                id_str += $(_name[i]).attr('value') + ',';
            }
            
            id_str = id_str.replace(/\,$/, '');
            $('#pic1').val(id_str);

            // store leader

            _name = $('#pic_name_store_leader option');
            id_str = '';
            
            for(var i = 0; i < _name.length; i++) {
                id_str += $(_name[i]).attr('value') + ',';
            }

            id_str = id_str.replace(/\,$/, '');
            $('#pic2').val(id_str);
            // end
            // 
            // PG leader 
            _name = $('#pic_name_pg_leader option');
            id_str = '';
            
            for(var i = 0; i < _name.length; i++) {
                id_str += $(_name[i]).attr('value') + ',';
            }

            id_str = id_str.replace(/\,$/, '');
            $('#pic3').val(id_str);
            // end
            
            
            $('#form').submit();
        });
    });

	function is_exists_sales(id) {
        _des = $('#pic_name_sales');
        items = _des.children('option');
        for(var i = 0; i < items.length; i++) {
            if ($(items[i]).attr('value') == id) {
                return true;
            }
        }
        return false;
    }

    function is_exists_pg(id) {
        _des = $('#pic_name_pg');
        items = _des.children('option');
        for(var i = 0; i < items.length; i++) {
            if ($(items[i]).attr('value') == id) {
                return true;
            }
        }
        return false;
    }

    // add store leader 16/05/2017 
    function is_exists_store_leader(id) {
        _des = $('#pic_name_store_leader');
        items = _des.children('option');
        for(var i = 0; i < items.length; i++) {
            if ($(items[i]).attr('value') == id) {
                return true;
            }
        }
        return false;
    }
    // 
    // 
    
    // add pg leader 27/07/2017 
    function is_exists_store_leader(id) {
        _des = $('#pic_name_pg_leader');
        items = _des.children('option');
        for(var i = 0; i < items.length; i++) {
            if ($(items[i]).attr('value') == id) {
                return true;
            }
        }
        return false;
    }
    // 

	function palert(msg){
        $('.alert-error').remove();
        $('.page-header').after('<div class="alert alert-error">'+msg+'</div>');
        $('form#form button').prop('disabled', false);
        return;
    }
</script>