<form class="form-search form-horizontal" method="get" action="/manage/province">
    <div class="row">
        <div class="span5">
            <div class="control-group">
                <label for="name" class="span2">Name</label>
                <input id="name" name="name" type="text" class="input-medium search-query form-control" value="<?php isset($this->params['name']) and printf($this->params['name']);?>">
            </div>
        </div>
        <div class="span5">
            <div class="control-group">
                <label for="area_id" class="span2">Area</label>
                <select id="area_id" name="area_id" class="span3">
                    <option value="">Choose</option>
                    <?php
                    if ($this->areas) :
                        foreach ($this->areas as $area):
                            ?>
                            <option value="<?php echo $area->id;?>" <?php if (isset($this->params['area_id']) and $this->params['area_id']==$area->id):?>selected<?php endif;?>><?php echo $area->name;?></option>
                        <?php
                        endforeach;
                    endif;
                    ?>
                </select>
            </div>


        </div>
    </div>


    <button type="submit" class="btn btn-primary">Search</button>
    <button type="reset" id="reset_btn" class="btn btn-warning">Reset</button>
</form>
<script>
    $(document).ready(function () {

        $('#reset_btn').click(function(){
            $('input, select').val('');
            $('.form-search').submit();
        });
    });
</script>
