<style>
    iframe {
        width: 100%;
        height: 500px;
    }

    .bar {
        line-height: 18px;
    }
</style>
<link rel="stylesheet" href="<?php echo HOST ?>css/jquery-ui.css">
<link href="<?php echo HOST ?>css/bootstrap-modal.css" rel="stylesheet" type="text/css">
<div class="page-header">
    <h1>Mass Upload Kpi Full</h1>
</div>

<?php
if (isset($this->messages_success) and $this->messages_success)
    foreach ($this->messages_success as $message):
        echo '<div class="alert alert-success">'.$message."</div>";
    endforeach;

if (isset($this->messages) and $this->messages)
    foreach ($this->messages as $message):
        echo '<div class="alert alert-error">'.$message."</div>";
    endforeach;
?>

<div class="well">
    <div class="row-fluid">
        <div class="span4">
            File template <a class="btn btn-success btn-mini" href="<?php echo HOST ?>upload/file_template/sell_out_data.xlsx">Download File</a></p>
        </div>
    </div>
</div>

<form id="form" action="<?php echo HOST ?>salary/import-cost-area-kpi-save" id="form" target="iframe" class="form-inline" method="post" enctype="multipart/form-data">

    <div class="row">
        <div class="span10">             
              
            <div class="form-group span2">
                <label for="">Tháng <span style="color: red">*</span>
                    <select name="month" style="width: 100px;" >
                    <?php for($i = 1; $i <= 12;$i++){ ?>
                        <option value="<?php echo $i; ?>" <?php echo ($this->params['month']==$i)?' selected ':'' ?> >Tháng <?php echo $i; ?></option>
                    <?php } ?>    
                    </select> 
                </label>
            </div>
            
            <div class="form-group span2">
                <label for="" >Năm <span style="color: red">*</span>
                    <input type="number" name="year"  style="width: 100px;" value="<?php echo $this->params['year'] ?>" required>
                </label>
            </div>
            
            <div class="form-group span3">
                <label for="">File <span style="color: red">*</span>
                    <input type="file" name="file" required  >
                </label>
            </div>
            
        </div>
 
    </div>

    <div class="clearfix"></div>

    <div class="row">
        <div class="span6">
            <div class="form-group">
                <button type="submit" class="form-control btn btn-primary" style="margin-top: 20px;" >Save</button>
            </div>
        </div>
    </div>

</form>
<div class="row">
    <div class="span12">
        <div class="progress progress-striped active">
            <div class="bar" style="width: 0%;"></div>
        </div>
    </div>
</div>

<iframe src="" frameborder="0" name="iframe" id="iframe"></iframe>

<script> 
    $(document).ready(function () {

    });
</script>


<script>
    function set_progress(percent) {
        $('.bar').css('width', percent + '%');
        $('.bar').html(percent + '%');
    }
</script>