<link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.3/css/select2.min.css">

<style type="text/css">
    .form-create span{display: block;margin: 0px 0px;}
    .form-create input{width: 165px;margin-right: 10px}
    .form-create select{width: 175px;margin-right: 10px}
    .form-create{display: block;float: left;margin-right: 10px;}
    /*
    .select2-results__options{width: 450px; background: white}
    .select2-dropdown{width: 452px !important;}
    .select2-search__field{width: 450px;}
    */
    /*.child{display: block; padding: 10px; background: #dcdcdc; margin: 5px; border-radius: 1px; -moz-boder-radius: 5px;}*/

    .parent{display: block; padding: 10px; margin: 5px; border-radius: 1px; -moz-boder-radius: 5px;}

    .save{margin-right: 5px}
    .checkbox{display: block;width: 15px !important;height: 15px !important;;display: block; float: right;}
    .select2-search__field{height: 30px}
    .pmodel_code_id{width: 250px}
    .color_red{color: red;}
    .with30{ width: 30px !important;}
    .with100{ width: 100px !important;}
    .with150{ width: 150px !important;}
    .with50{ width: 50px !important;}
    .with70{ width: 70px !important;}
    .with80{ width: 80px !important;}
    .icon-ok-sign{color: green; font-size: 20px; float: left;}
    .icon-remove-sign{color: red; font-size: 20px; float: left;}
</style>

<div class="page-header">
    <h3>SALARY</h3>
</div>

<?php
if (isset($this->messages_error) and $this->messages_error)
    foreach ($this->messages_error as $messages_error):
        echo '<div class="alert alert-danger">' . $messages_error . '</div>';
    endforeach;

if (isset($this->messages_success) and $this->messages_success)
    foreach ($this->messages_success as $messages_success):
        echo '<div class="alert alert-success">' . $messages_success . '</div>';
    endforeach;
?>


<!--<div>
    <form class="form-inline">
        <select name="month" style="width: 100px;">
<?php
for ($i = 1; $i <= 12; $i++) {
    ?>
                                                                        <option value="<?php echo $i; ?>" <?php echo ($this->params['month'] == $i) ? ' selected ' : '' ?> >Tháng <?php echo $i; ?></option>
    <?php
}
?>    
        </select> 
        <input type="number" name="year"  style="width: 100px;" value="<?php echo intval($this->params['year']) ?>" >
        <button class="btn btn-primary">Tìm kiếm</button>
    </form>
</div>-->

<form  method="get" enctype="multipart/form-data">

    <div class="widget">
        <div class="widget-header">
            <i class="icon-list-alt"></i>
            <h3>Xuất dữ liệu bảng lương</h3>
        </div>

        <div class="widget-content">

            <div class='row'>
                <div class="span3">
                    <div class="control-group">
                        <select name="month">
                            <?php
                            for ($i = 1; $i <= 12; $i++) {
                                ?>
                                <option value="<?php echo $i; ?>" <?php echo ($this->params['month'] == $i) ? ' selected ' : '' ?> >Tháng <?php echo $i; ?></option>
                                <?php
                            }
                            ?>    
                        </select> 

                    </div>
                </div>
                <div class="span3">
                    <div class="control-group">
                        <input type="number" name="year"   value="<?php echo intval($this->params['year']) ?>" >
                    </div>
                </div>

                <div class="span3">
                    <div class="control-group">
                        <input type="submit" name='search' class='btn btn-primary' value="Search">
                    </div>

                </div>
            </div>
            <div class="row">

                <div class="span3">
                    <div class="control-group">
                        <?php if ($this->kpi_check) { ?>
                            <b class="icon-ok-sign"></b> <h4 style="float: left; margin-left: 10px"> Đã tạo dữ liệu bảng lương </h4> <br>
                        <?php } else { ?>
                            <b class="icon-remove-sign"></b> <h4 style="float: left; margin-left: 10px"> Chưa tạo dữ liệu bảng lương </h4> <br>
                        <?php } ?>
                    </div>
                </div>
                <div class="span3">
                    <div class="control-group">
                        <?php if ($this->version) { ?>
                            <b class="icon-ok-sign"></b> <h4 style="float: left; margin-left: 10px"> Đã đồng bộ dữ liệu chỉnh sửa tay </h4> <br>
                        <?php } else { ?>
                            <b class="icon-remove-sign"></b> <h4 style="float: left; margin-left: 10px"> Chưa đồng bộ dữ liệu chỉnh sửa tay </h4> <br>
                        <?php } ?>
                    </div>
                </div>
                <div class="span3">
                    <div class="control-group">
                        <button  value="1" type='submit' name="generate_salary" <?php
                        if ($this->version && $this->kpi_check) {
                            echo "disabled";
                        }
                        ?> class="btn btn-danger  save click_disable" id='save'>  <?php
                                 if (!$this->kpi_check) {
                                     echo "Tạo bảng lương";
                                 } else {
                                     echo "Đồng bộ bảng lương";
                                 }
                                 ?></button>


                    </div>
                </div>

            </div>
            <div class="row">
                <div class="span3">
                    <div class="control-group">
                        <button <?php
                        if (!$this->kpi_check) {
                            echo "disabled";
                        }
                        ?>  value="1" type='submit' name="export_salary" class="btn btn-success save click_disable" id='save'>Export Salary Sale/PG</button>
                        
                    </div>
                </div>
                <div class="span3">
                    <div class="control-group">
                        <button <?php
                        if (!$this->kpi_check) {
                            echo "disabled";
                        }
                        ?>  value="1" type='submit' name="export_salary_by_staff" class="btn btn-success save click_disable" id='save'>Export Salary ASM</button>
                        
                    </div>
                </div>
                <div class="span3">
                    <div class="control-group">
                        <button <?php
                        if (!$this->kpi_check) {
                            echo "disabled";
                        }
                        ?>   value="1" type='submit' name="export_kpi" class="btn btn-success save click_disable" id='save'>Export KPI Sale/PG</button>
                    </div>
                </div>
                <div class="span3">
                    <div class="control-group">
                        <button <?php
                        if (!$this->kpi_check) {
                            echo "disabled";
                        }
                        ?>   value="1" type='submit' name="export_salary_total" class="btn btn-success save click_disable" id='save'>Export Salary Total</button>
                    </div>
                </div>
            </div>

        </div>
    </div><!--widget-->


    <!--    <div class="row-fluid">
            <div class="span12">
                <div class="form-group">
                    <iframe style="display:none;border:none;width: 100%" id="iframe" name="iframe" style="height: 250px;"></iframe>
                    <button type='submit' class="btn btn-success pull-right save" id='save'>Save</button>
                    <a class="btn btn-warning  pull-right back" href="<?php echo HOST; ?>purchasing/purchasing-request" style="margin-right: 10px">Back list PR</a>
                    <a class="btn btn-warning  pull-right back" href="<?php echo HOST; ?>purchasing/create-submission-supplier" style="margin-right: 10px">Back Submission</a>
                </div>
            </div>
        </div>-->

</form>


<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.3/js/select2.min.js"></script>
<script type="text/javascript" src="/js/jquery-ui-1.8.12.custom.min.js"></script>
<link rel="stylesheet" type="text/css" href="/css/jquery-ui-1.8.12.custom.css"/>
<!--<script type="text/javascript" src="/js/js.cookie.min.js"></script>-->
<script>

    $(document).ready(function () {
        $('.click_disable').click(function () {
//     $(this).attr("disabled", true);
            $(this).hide();
        });
//        setInterval(function () {
//            if (Cookies.get("fileLoading")) {
//              
//                // clean the cookie for future downoads
//                Cookies.remove("fileLoading",{ path: '/salary' });
//                console.log("fileloading removed");
//                //redirect
//               location.reload();
//            }
//        }, 2000);
    });


    fix_digit = 0;
    Number.prototype.formatMoney = function (c, d, t) {
        var n = this,
                c = isNaN(c = Math.abs(c)) ? 2 : c,
                d = d == undefined ? "." : d,
                t = t == undefined ? "," : t,
                s = n < 0 ? "-" : "",
                i = parseInt(n = Math.abs(+n || 0).toFixed(c)) + "",
                j = (j = i.length) > 3 ? j % 3 : 0;
        return s + (j ? i.substr(0, j) + t : "") + i.substr(j).replace(/(\d{3})(?=\d)/g, "$1" + t) + (c ? d + Math.abs(n - i).toFixed(c).slice(2) : "");
    };

    function float_f(num) {
        return parseFloat(num).formatMoney(fix_digit, ',', '.');
    }

</script>
