<style>
    table {
        width: auto !important;
        font-size: 12px;
    }
    tbody tr td:first-child{
        padding-left: 40px;
    }
    tbody tr td{
        font-weight: bold;
    }

    table thead tr th{
        background-color: #5faf5f !important;
        background-image: none !important;
        color: #FFF !important;
    }
    .tad_hr_new{width: 33%}
    @media screen and (max-width: 480px){
        .tad_hr_new {
            width: 100% !important;
        }
        .table-responsive{
            width: 100% !important;
        }
    }

</style>


<!-- Flash message -->
<?php
if (isset($this->messages_success) and $this->messages_success)
    foreach ($this->messages_success as $message):
        echo '<div class="alert alert-success">' . $message . '</div>';
    endforeach;

if (isset($this->messages_error) and $this->messages_error)
    foreach ($this->messages_error as $message):
        echo '<div class="alert alert-error">' . $message . '</div>';
    endforeach;
?>


<!--<div class="accordion" id="accordion2">
    <div class="accordion-group">
        <div class="accordion-heading">
            <a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion2" href="#collapseTwo">
                Search
            </a>
        </div>
        <div id="collapseTwo" class="accordion-body collapse" style="height: auto;">
            <div class="accordion-inner">
<?php
//                echo $this->render('salary/partials/search-report.phtml');
//                echo $this->render('contract-new/partials/search-history.phtml');
?>
            </div>
        </div>
    </div>
</div>-->

<div class="table-responsive" style="float:left;width: 45%;">
  <?php if (!empty($this->data_salary)) { ?>
        <div class="row">
            <div class="col-xl-7 col-12 p-0">
                <table class="table table-striped table-bordered w-100">
                    <thead class="label-success">            
                        <tr class="label-success">          
                            <th style="width: 190px" class="label-success">Số lượng nhân sự <?php echo $this->params['year'] ?></th>
                            <?php
                            for ($i = $this->params['min_month']; $i < $this->params['current_month']; $i++) {
                                ?>            
                                <th style="width: 100px !important" class=""> Tháng <?php echo $i; ?></th>
                            <?php } ?>                
                        </tr>

                    </thead>
                    <tbody >
                        <tr>
                            <td >Tổng nhân sự kv (không PG Part time)</td>
                            <?php for ($i = $this->params['min_month']; $i < $this->params['current_month']; $i++) { ?>
                                <td> <?php echo number_format($this->list_headcount_total[$i]['staff_work']) ?></td>
                            <?php } ?>        
                        </tr>
                        <tr>
                            <td >PGPB</td>
                            <?php for ($i = $this->params['min_month']; $i < $this->params['current_month']; $i++) { ?>
                                <td> <?php echo $this->list_headcount_pg[$i] ?></td>
                            <?php } ?>        
                        </tr>
                        <tr>
                            <td >SALES</td>
                            <?php for ($i = $this->params['min_month']; $i < $this->params['current_month']; $i++) { ?>
                                <td> <?php echo $this->list_headcount_sale[$i] ?></td>
                            <?php } ?>        
                        </tr>
                        <tr>
                            <td >KHÁC</td>
                            <?php for ($i = $this->params['min_month']; $i < $this->params['current_month']; $i++) { ?>
                                <td> <?php echo $this->list_other[$i] ?></td>
                            <?php } ?>        
                        </tr>
                        <tr>
                            <td >PG Parttime</td>
                            <?php for ($i = $this->params['min_month']; $i < $this->params['current_month']; $i++) { ?>
                                <td> <?php echo $this->list_headcount_parttime[$i] ?></td>
                            <?php } ?>        
                        </tr>
                    </tbody>


                    <thead class="label-success">            
                        <tr class="label-success">          
                            <th style="width: 190px" class="label-success">Chi phí tổng <?php echo $this->params['year'] ?></th>
                            <?php
                            for ($i = $this->params['min_month']; $i < $this->params['current_month']; $i++) {
                                ?>            
                                <th style="width: 100px !important" class=""> Tháng <?php echo $i; ?></th>
                            <?php } ?>                
                        </tr>

                    </thead>

                    <tbody >
                        <tr>
                            <td >Doanh thu 80%</td>
                            <?php for ($i = $this->params['min_month']; $i < $this->params['current_month']; $i++) { ?>
                                <td> <?php echo number_format($this->data_sellout[$i]['total']) ?></td>
                            <?php } ?>        
                        </tr>
                        <tr>
                            <td>Sell Out</td>
                            <?php for ($i = $this->params['min_month']; $i < $this->params['current_month']; $i++) { ?>
                                <td> <?php echo $this->data_sellout[$i]['sellout'] ?></td>
                            <?php } ?>        
                        </tr>
            <!--                <tr>
                            <td>Số lượng nhân viên</td>
                        <?php for ($i = $this->params['min_month']; $i < $this->params['current_month']; $i++) { ?>
                                                                                    <td> <?php echo $this->data_salary[$i]['total_staff'] ?></td>
                        <?php } ?>        
                        </tr>-->
                        <tr>
                            <td>Chi phí nhân sự</td>
                            <?php for ($i = $this->params['min_month']; $i < $this->params['current_month']; $i++) { ?>
                                <td> <?php echo number_format($this->data_salary[$i]['hr_cost']) ?></td>
                            <?php } ?>        
                        </tr>
                        <tr>
                            <td>Chi phí nhân sự / Doanh thu 80%</td>
                            <?php for ($i = $this->params['min_month']; $i < $this->params['current_month']; $i++) { ?>
                                <td> <?php echo Round(intval($this->data_salary[$i]['hr_cost']) / $this->data_sellout[$i]['total'] * 100, 2) . "%"; ?></td>
                            <?php } ?>        
                        </tr>


                    </tbody>
                    <thead>            
                        <tr>          
                            <th>Chi phí nhân sự/vị trí</th>
                            <?php
                            for ($i = $this->params['min_month']; $i < $this->params['current_month']; $i++) {
                                ?>            
                                <th class=""> Tháng <?php echo $i; ?></th>
                            <?php } ?>                
                        </tr>

                    </thead>
                    <tbody >
                        <tr>
                            <td>PARTNER.RGM.RM</td>
                            <?php for ($i = $this->params['min_month']; $i < $this->params['current_month']; $i++) { ?>
                                <td> <?php echo number_format($this->data_salary[$i]['asm_cost']) ?></td>
                            <?php } ?>        
                        </tr>
                        <tr>
                            <td>SALE ADMIN + TRAINER + TRADE</td>
                            <?php for ($i = $this->params['min_month']; $i < $this->params['current_month']; $i++) { ?>
                                <td> <?php echo number_format($this->data_salary[$i]['admin_trainer_cost']) ?></td>
                            <?php } ?>        
                        </tr>
                        <tr>
                            <td>SALES LEADER</td>
                            <?php for ($i = $this->params['min_month']; $i < $this->params['current_month']; $i++) { ?>
                                <td> <?php echo number_format($this->data_salary[$i]['sale_leader_cost']) ?></td>
                            <?php } ?>        
                        </tr>
                        <tr>
                            <td>SALES</td>
                            <?php for ($i = $this->params['min_month']; $i < $this->params['current_month']; $i++) { ?>
                                <td> <?php echo number_format($this->data_salary[$i]['sales_cost']) ?></td>
                            <?php } ?>        
                        </tr>
                        <tr>
                            <td>PGs SUP</td>
                            <?php for ($i = $this->params['min_month']; $i < $this->params['current_month']; $i++) { ?>
                                <td> <?php echo number_format($this->data_salary[$i]['pgs_leader_cost']) ?></td>
                            <?php } ?>        
                        </tr>
                        <tr>
                            <td>STORE LEADER</td>
                            <?php for ($i = $this->params['min_month']; $i < $this->params['current_month']; $i++) { ?>
                                <td> <?php echo number_format($this->data_salary[$i]['store_leader_cost']) ?></td>
                            <?php } ?>        
                        </tr>
                        <tr>
                            <td>PGPB</td>
                            <?php for ($i = $this->params['min_month']; $i < $this->params['current_month']; $i++) { ?>
                                <td> <?php echo number_format($this->data_salary[$i]['pg_cost']) ?></td>
                            <?php } ?>        
                        </tr>
                        
                    </tbody>
                    <thead>            
                        <tr>          
                            <th> SALE / PG</th>
                            <?php
                            for ($i = $this->params['min_month']; $i < $this->params['current_month']; $i++) {
                                ?>            
                                <th class="with100"> Tháng <?php echo $i; ?></th>
                            <?php } ?>                
                        </tr>

                    </thead>
                    <tbody >
                        <tr>
                            <td>Sellout bình quân Sale</td>
                            <?php for ($i = $this->params['min_month']; $i < $this->params['current_month']; $i++) { ?>
                                <td> <?php echo round($this->data_averg[$i]['sellout_sale'] / $this->data_averg[$i]['count_sale']) ?></td>
                            <?php } ?>        
                        </tr>
                        <tr>
                            <td>Doanh thu bình quân Sale</td>
                            <?php for ($i = $this->params['min_month']; $i < $this->params['current_month']; $i++) { ?>
                                <td> <?php echo number_format(($this->data_averg[$i]['sellout_sale'] / $this->data_averg[$i]['count_sale']) * $this->data_sellout[$i]['total'] / $this->data_sellout[$i]['sellout']); ?></td>
                            <?php } ?>        
                        </tr>
                        <tr>
                            <td>Sellout bình quân PG</td>
                            <?php for ($i = $this->params['min_month']; $i < $this->params['current_month']; $i++) { ?>
                                <td> <?php echo round($this->data_averg[$i]['sellout_pg'] / $this->data_averg[$i]['count_pg']) ?></td>
                            <?php } ?>        
                        </tr>
                        <tr>
                            <td>Doanh thu bình quân PG</td>
                            <?php for ($i = $this->params['min_month']; $i < $this->params['current_month']; $i++) { ?>
                                <td> <?php echo number_format(($this->data_averg[$i]['sellout_pg'] / $this->data_averg[$i]['count_pg']) * $this->data_sellout[$i]['total'] / $this->data_sellout[$i]['sellout']); ?></td>
                            <?php } ?>        
                        </tr>
                    </tbody>
                    <thead>            
                        <tr>          
                            <th>Tỉ lệ các nhóm Sellout PG <br>(PG có 24 ngày công trở lên)</th>
                            <?php
                            for ($i = $this->params['min_month']; $i < $this->params['current_month']; $i++) {
                                ?>            
                                <th class="with100"> Tháng <?php echo $i; ?></th>
                            <?php } ?>                
                        </tr>

                    </thead>
                    <tbody>
                        <tr>
                            <td>Sellout dưới 15 máy</td>
                            <?php for ($i = $this->params['min_month']; $i < $this->params['current_month']; $i++) { ?>
                                <td data-toggle="tooltip" title="<?php echo $this->data_averg[$i]['1_pg'] . " PGs" ?>"> <?php echo round($this->data_averg[$i]['1_pg'] / $this->data_averg[$i]['count_pg'] * 100, 2) . "%"; ?></td>
                            <?php } ?>        
                        </tr>
                        <tr>
                            <td>Sellout từ 15 đến 30</td>
                            <?php for ($i = $this->params['min_month']; $i < $this->params['current_month']; $i++) { ?>
                                <td data-toggle="tooltip" title="<?php echo $this->data_averg[$i]['2_pg'] . " PGs" ?>"> <?php echo round($this->data_averg[$i]['2_pg'] / $this->data_averg[$i]['count_pg'] * 100, 2) . "%"; ?></td>
                            <?php } ?>        
                        </tr>
                        <tr>
                            <td>Sellout từ 31 đến 50</td>
                            <?php for ($i = $this->params['min_month']; $i < $this->params['current_month']; $i++) { ?>
                                <td data-toggle="tooltip" title="<?php echo $this->data_averg[$i]['3_pg'] . " PGs" ?>"> <?php echo round($this->data_averg[$i]['3_pg'] / $this->data_averg[$i]['count_pg'] * 100, 2) . "%"; ?></td>
                            <?php } ?>        
                        </tr>
                        <tr>
                            <td>Sellout từ 51 đến 100</td>
                            <?php for ($i = $this->params['min_month']; $i < $this->params['current_month']; $i++) { ?>
                                <td data-toggle="tooltip" title="<?php echo $this->data_averg[$i]['4_pg'] . " PGs" ?>"> <?php echo round($this->data_averg[$i]['4_pg'] / $this->data_averg[$i]['count_pg'] * 100, 2) . "%"; ?></td>
                            <?php } ?>        
                        </tr>
                        <tr>
                            <td>Sellout từ 101</td>
                            <?php for ($i = $this->params['min_month']; $i < $this->params['current_month']; $i++) { ?>
                                <td data-toggle="tooltip" title="<?php echo $this->data_averg[$i]['5_pg'] . " PGs" ?>"> <?php echo round($this->data_averg[$i]['5_pg'] / $this->data_averg[$i]['count_pg'] * 100, 2) . "%"; ?></td>
                            <?php } ?>        
                        </tr>
                    </tbody>
                    <thead>            
                        <tr>          
                            <th>Tỉ lệ các nhóm Sellout SALES <br>(SALE có 24 ngày công trở lên)</th>
                            <?php
                            for ($i = $this->params['min_month']; $i < $this->params['current_month']; $i++) {
                                ?>            
                                <th class="with100"> Tháng <?php echo $i; ?></th>
                            <?php } ?>                
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>Sellout dưới 200 máy</td>
                            <?php for ($i = $this->params['min_month']; $i < $this->params['current_month']; $i++) { ?>
                                <td data-toggle="tooltip" title="<?php echo $this->data_averg[$i]['1_sale'] . " Sales" ?>"> <?php echo round($this->data_averg[$i]['1_sale'] / $this->data_averg[$i]['count_sale'] * 100, 2) . "%"; ?></td>
                            <?php } ?>        
                        </tr>
                        <tr>
                            <td>Sellout từ 200 đến 299</td>
                            <?php for ($i = $this->params['min_month']; $i < $this->params['current_month']; $i++) { ?>
                                <td data-toggle="tooltip" title="<?php echo $this->data_averg[$i]['2_sale'] . " Sales" ?>"> <?php echo round($this->data_averg[$i]['2_sale'] / $this->data_averg[$i]['count_sale'] * 100, 2) . "%"; ?></td>
                            <?php } ?>        
                        </tr>
                        <tr>
                            <td>Sellout từ 300 đến 499</td>
                            <?php for ($i = $this->params['min_month']; $i < $this->params['current_month']; $i++) { ?>
                                <td data-toggle="tooltip" title="<?php echo $this->data_averg[$i]['3_sale'] . " Sales" ?>"> <?php echo round($this->data_averg[$i]['3_sale'] / $this->data_averg[$i]['count_sale'] * 100, 2) . "%"; ?></td>
                            <?php } ?>        
                        </tr>
                        <tr>
                            <td>Sellout từ 500 đến 699</td>
                            <?php for ($i = $this->params['min_month']; $i < $this->params['current_month']; $i++) { ?>
                                <td data-toggle="tooltip" title="<?php echo $this->data_averg[$i]['4_sale'] . " Sales" ?>"> <?php echo round($this->data_averg[$i]['4_sale'] / $this->data_averg[$i]['count_sale'] * 100, 2) . "%"; ?></td>
                            <?php } ?>        
                        </tr>
                        <tr>
                            <td>Sellout từ 700</td>
                            <?php for ($i = $this->params['min_month']; $i < $this->params['current_month']; $i++) { ?>
                                <td data-toggle="tooltip" title="<?php echo $this->data_averg[$i]['5_sale'] . " Sales" ?>"> <?php echo round($this->data_averg[$i]['5_sale'] / $this->data_averg[$i]['count_sale'] * 100, 2) . "%"; ?></td>
                            <?php } ?>        
                        </tr>
                    </tbody>
                </table>
            </div>  
        </div>
    <?php } ?>



</div>
<div class="table_main tad_hr_new" style="width: 50%;float: right">
    <div class="header_tad"><i class="icon-list-alt"></i> Staff Turnover</div>
    <div class="content_tad" style="margin-top: 50px">
        <div id="turnover_pg" style="width: auto;height: auto; margin: 0 auto;"></div>
    </div><!-- content_tab -->
    <div class="content_tad" style="margin-top: 50px">
        <div id="turnover_sale" style="width: auto;height: auto; margin: 0 auto;"></div>
    </div><!-- content_tab -->



</div><!-- table_main -->
<script type="text/javascript" src="https://center.opposhop.vn/js/highcharts.js"></script>
<script type="text/javascript" src="https://center.opposhop.vn/js/exporting.js"></script>
<script type="text/javascript" src="https://center.opposhop.vn/js/data.js"></script>
<script type="text/javascript" src="https://center.opposhop.vn/js/grouped-categories.js"></script>

<script>
    var total_count = [
<?php
foreach ($this->list_headcount_total as $key => $value) {
    echo ($value['staff_work'] - $value['staff_new'] + $value['staff_off']) . ",";
}
?>
    ];
    Highcharts.chart('turnover_pg', {
        chart: {
            type: 'line',
        },
        title: {
            text: 'Tỷ lệ tuyển mới và nghỉ việc PG'
        },
        tooltip: {
            formatter: function () {
                return Math.round(total_count[this.point.index] * (this.y / 100)) + " staffs";

            }
        },
        subtitle: {
            text: '3 tháng gần nhất'
        },
        yAxis: {
            title: {
                text: 'Number of Employees'
            }
        },
        xAxis: {
            title: {
                text: 'Month'
            },
            categories: <?php echo $this->string_cate ?>
        },
        plotOptions: {
            series: {
                label: {
                    connectorAllowed: false
                }
            },
            line: {
                dataLabels: {
                    enabled: true,
                    format: '{y} %'
                },
                enableMouseTracking: true
            }
        },
        series: [{
                name: 'Tuyển mới ',
                data: <?php echo $this->pg_new ?>
            },
            {
                name: 'Nghỉ việc',
                data: <?php echo $this->pg_off ?>
            }
        ],
        responsive: {
            rules: [{
                    condition: {
                        maxWidth: 500
                    },
                    chartOptions: {
                        legend: {
                            layout: 'horizontal',
                            align: 'center',
                            verticalAlign: 'bottom'
                        }
                    }
                }]
        }

    });

    Highcharts.chart('turnover_sale', {
        chart: {
            type: 'line',
        },
        title: {
            text: 'Tỷ lệ tuyển mới và nghỉ việc SALE'
        },
        subtitle: {
            text: '3 tháng gần nhất'
        },
        tooltip: {
            formatter: function () {
                return Math.round(total_count[this.point.index] * (this.y / 100)) + " staffs";

            }
        },
        yAxis: {
            title: {
                text: 'Number of Employees'
            }
        },
        xAxis: {
            title: {
                text: 'Month'
            },
            categories: <?php echo $this->string_cate ?>
        },
        plotOptions: {
            series: {
                label: {
                    connectorAllowed: false
                }
            },
            line: {
                dataLabels: {
                    enabled: true,
                    format: '{y} %'
                },
                enableMouseTracking: true
            }
        },
        series: [{
                name: 'Tuyển mới ',
                data: <?php echo $this->sale_new ?>
            },
            {
                name: 'Nghỉ việc',
                data: <?php echo $this->sale_off ?>
            }
        ],
        responsive: {
            rules: [{
                    condition: {
                        maxWidth: 500
                    },
                    chartOptions: {
                        legend: {
                            layout: 'horizontal',
                            align: 'center',
                            verticalAlign: 'bottom'
                        }
                    }
                }]
        }

    });

</script>
