<div class="page-header">
    <h1>Menu management</h1>
</div>
<?php
if (isset($this->messages) and $this->messages)
    foreach ($this->messages as $message):
        echo '<div class="alert alert-error">'.$message.'</div>';
    endforeach;
?>

<div class="form-group">
    <iframe onload='javascript:resizeIframe(this);' frameborder="0" src="/Menu/index.php?act=menu" style="border: 0; width: 100%; height: 100%;"></iframe>
</div>


<button type="button" class="btn btn-danger go-back">Go back</button>
<script>

    function resizeIframe(obj) {
        obj.style.height = obj.contentWindow.document.body.scrollHeight + 'px';
    }

    $(document).ready(function(){
        $('.go-back').click(function(e){
            window.location.href = $('#back_url').val();

            return false;
        });
    });
</script>
