<div class="table-responsive">
    <table class="table table-striped table-bordered">
        <thead>
            <tr>
                <th>#</th>
                <th>Product</th>
                <th>Imei</th>
                <th>Store Name</th>
                <th>Status</th>
                <th>Approved at</th>
                <th>Timing Date</th>
                
            </tr>
        </thead>

        <tbody>
        <?php if (isset($this->timing) && $this->timing): ?>
            <?php foreach($this->timing as $key => $item) :?>
            <tr>
                <td><?php echo $key + 1 ?></td>
                <td><?php echo $item['product'] ?></td>
                <td><?php echo $item['imei'] ?></td>
                <td><?php echo $item['store_name'] ?></td>
                <td><?php echo $item['approved_by'] ? 'Approved' : 'Pending' ?></td>
                <td><?php echo $item['approved_at'] ? date('d/m/Y H:i:s', strtotime($item['approved_at'])) : NULL ?></td>
                <td><?php echo $item['from'] ? date('d/m/Y H:i:s', strtotime($item['from'])) : NULL ?></td>
               
            </tr>
           <?php endforeach ;?>
        <?php endif;?>
        <?php if (empty($this->timing)): ?>
            <tr>
                <td class="center" colspan="8">No data available.</td>
            </tr>
        <?php endif;?>    
        </tbody>
    </table>
</div>