<table class="table table-bordered">
	<thead>
		<tr>
			<th>No.</th>
			<th>IMEI</th>
			<th>Product Name</th>
			<th>Sell Out Staff</th>
			<th>Sell Out Store</th>
			<th>Sell Out Date</th>
			<th>Activated At</th>
			<th>Out Warehouse Date</th>
			<th>Note</th>
		</tr>
	</thead>
	<tbody>
		<?php if(!empty($this->data)): foreach($this->data as $key => $value): ?>
		<tr>
			<td><?php echo $key + 1 ?></td>
			<td><?php echo $value['imei_sn'] ?><?php if(!$value['imei_status']): ?><br><span style="color:red">Imei không tồn tại</span><?php endif ?></td>
			<td><?php echo $value['product_code'] ? $value['product_code'] : 'n/a' ?></td>
			<td><?php echo $value['pg_name'] ? $value['pg_name'].' | '.$value['pg_email'] : 'n/a' ?></td>
			<td><?php echo $value['store_name'] ? $value['store_name'] : 'n/a' ?></td>
			<td><?php echo $value['timing_date'] ? date('d-m-Y H:i:s', strtotime($value['timing_date'])) : 'n/a' ?></td>
			<td><?php echo $value['activated_date'] ? date('d-m-Y H:i:s', strtotime($value['activated_date'])) : 'n/a' ?></td>
			<td><?php echo $value['out_date'] ? date('d-m-Y H:i:s', strtotime($value['out_date'])) : 'n/a' ?></td>
			<td><?php echo $value['note'] ? $value['note'] : 'n/a'?></td>
		</tr>
		<?php endforeach; else: ?>
		<tr>
			<td colspan="7">Imei ko tồn tại</td>
		</tr>
		<?php endif ?>
	</tbody>
</table>