<div class="page-header">
    <?php if (isset($this->timing) and $this->timing): ?>
            <h1>Edit Timing</h1>
    <?php else: ?>
            <h1>Create Timing</h1>
    <?php endif; ?>
</div>

<?php
if (isset($this->messages) and $this->messages)
    foreach ($this->messages as $message):
        echo '<div class="alert alert-error">' . $message . '</div>';
    endforeach;
?>

<style>

    .alert-msg {
        background: #F9EEB8;
        border-bottom-right-radius: 4px;
        border-bottom-left-radius: 4px;
        border-top: 2px solid #e55;
        /*display: none;*/
        margin: 0;
        /*margin-left: -200px;*/
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        z-index: 9999;
    }

    .alert-msg.show {
        display: inline-block;
    }

    .alert-msg p {
        font-weight: bold;
        font-size: 12px;
        font-family: tahoma, arial;
        margin: 0 10px;
        line-height: 2em;
        text-align: center;
    }

    #email_modal textarea {
        resize: none;
    }

    .stock {
        margin-bottom: 20px;
        padding: 10px;
        background: white;
    }
</style>

<?php if (isset($this->WARNING_TIMING_MESSAGES) and $this->WARNING_TIMING_MESSAGES): ?>
        <div class="alert-msg">
            <p class="msg"><?php echo $this->WARNING_TIMING_MESSAGES; ?></p>
        </div>
<?php endif; ?>

<style>
    .customCalendar,
    .customCalendar div,
    .customCalendar span {
        background-color: green; /* background color */
        border-color: green;     /* border color */
        color: yellow;           /* text color */
    }
</style>

<div class="row-fluid">
    <iframe name="ifrmSave" id="ifrmSave" width="100%" style="display:none;"></iframe>
    <form role="form" id="timing_form" action="<?php echo HOST . 'timing-realme/save'; ?>" method="post" target="ifrmSave" class="row-fluid">
        <div class="span3">

            <div class="control-group">
                <label>Staff code</label>
                <label>
                    <?php
                    if (isset($this->staff)): echo $this->staff->code;
                    endif;
                    ?></label>
            </div>

            <div class="control-group">
                <label>Name</label>
                <label>
                    <?php
                    if (isset($this->staff)): echo $this->staff->firstname . ' ' . $this->staff->lastname;
                    endif;
                    ?></label>
            </div>

            <div class="control-group">
                <label for="date">Date</label>
                <input placeholder="dd/mm/YYYY" type="text" readonly="readonly" class="form-control date span3 cursorok" id="date" name="date" required="required" value="<?php
                if (isset($this->date)): echo $this->date;
                endif;
                ?>">
            </div>

            <div class="control-group">
                <label for="timepicker_start">Start time</label>
                <input placeholder="HH:mm" type="text" class="form-control span3 cursorok" readonly="readonly" id="timepicker_start" name="timepicker_start" required="required" value="<?php
                if (isset($this->from)): echo $this->from;
                else : echo $this->shiftTiming['start'];
                endif;
                ?>">
            </div>

            <div class="control-group">
                <label for="timepicker_end">End time</label>
                <input placeholder="HH:mm" type="text" class="form-control span3 cursorok" readonly="readonly" id="timepicker_end" name="timepicker_end" required="required" value="<?php
                if (isset($this->to)): echo $this->to;
                else : echo $this->shiftTiming['end'];
                endif;
                ?>">
            </div>

            <div class="control-group">
                <label for="store">Store</label>
                <select name="store" id="store" required="required" class="span3">
                    <option value="">Choose Date first</option>
                    <?php if (isset($this->stores) && $this->stores): ?>
                        <?php foreach ($this->stores as $store): ?>
                                    <option value="<?php echo $store->id; ?>" <?php if (isset($this->timing) and $this->timing->store == $store->id): ?> selected="selected"
                                    <?php endif; ?>>
                                <?php echo $store->name; ?></option>
                        <?php endforeach; ?>
                    <?php endif ?>
                </select>
            </div>
        <!--            <div class="control-group">
                <label for="timing_type">Brand</label>
                <select name="timing_type" id="timing_type" required="required" class="span3">
                    <option value="1" <?php
//                    if (isset($this->timing_type) && $this->timing_type == 1) {
//                        echo "selected='selected'";
//                    }
                    ?>>OPPO</option>
                    <option value="2" <?php
//                    if (isset($this->timing_type) && $this->timing_type == 2) {
//                        echo "selected='selected'";
//                    }
                    ?>>Realme</option>
                </select>
            </div>-->
<!--            <div class="control-group">
                <label for="app_installing">Đã cài ứng dụng</label>
                <select name="app_installing" id="app_installing" required="required" class="span3">
                    <option value="0">Chọn ứng dụng nếu có</option>
                    <option value="1">Yolo</option>
                </select>
            </div>-->

            <div id="stock_report"></div>

        </div>

        <div class="span9">

            <label>Sale</label>
            <?php if ($this->timing_sales): ?>
                <?php foreach ($this->timing_sales as $timing_sale): ?>
                            <div class="row-fluid div-sale">
                                <!--Display only in mobile-->
                                <div class="span4">
                                    <label class="label label-info">Product</label>
                                    <div class="control-group">
                                        <select class="product form-control span3" required="required" name="product[]">
                                            <option value>Choose Product</option>
                                    <?php foreach ($this->goods as $good) : ?>
                                                    <option value="<?php echo $good->id; ?>" <?php if ($timing_sale['product_id'] == $good->id): ?> selected="selected"
                                                <?php endif; ?>>
                                            <?php echo $good->name; ?></option>
                                    <?php endforeach; ?>
                                        </select>
                                    </div>

                                    <div class="control-group">
                                        <select class="model form-control span3" required="required" name="model[]">
                                            <option value>Choose Color</option>
                                    <?php foreach ($timing_sale['models'] as $good_color) : ?>
                                                    <option value="<?php echo $good_color['id']; ?>" <?php if ($timing_sale['model_id'] == $good_color['id']): ?> selected="selected"
                                                <?php endif; ?>>
                                            <?php echo $good_color['name']; ?></option>
                                    <?php endforeach; ?>
                                        </select>
                                    </div>
                                    <!-- data-validation-ajax-ajax="/timing/check-imei/timing_sales_id/<?php isset($timing_sale['id']) and $timing_sale['id'] and printf($timing_sale['id']); ?>" -->
                                    <div class="control-group">
                                        <input type="text" pattern="[0-9]{15}" name="imei[]" required="required"
                                               value="<?php echo $timing_sale['imei']; ?>" placeholder="IMEI" class="span3"
                                               />

                                        <p class="alert alert-error error-imei" style="display: none"></p>

                                        <p class="help-block"></p>

                                        <input type="hidden" name="timing_sales_ids[]" value="<?php isset($timing_sale['id']) and $timing_sale['id'] and printf($timing_sale['id']); ?>">

                                        <button type="button" class="btn-danger remove-sale"><i class="icon-minus"></i></button>
                                    </div>
                                </div>

                                <div class="span8">
                                    <label>Customer</label>
                                    <div class="row-fluid">
                                        <div class="span6">
                                            <div class="control-group">
                                                <input type="text" name="customer_name[]" required value="<?php if (isset($timing_sale['customer_name']) and $timing_sale['customer_name']) echo $timing_sale['customer_name']; ?>" placeholder="Customer name" class="span3">
                                                <p class="help-block"></p>
                                            </div>
                                            <div class="control-group">
                                                <input type="tel" pattern="[0][0-9]{7,10}" name="phone_number[]" required value="<?php if (isset($timing_sale['phone_number']) and $timing_sale['phone_number']) echo $timing_sale['phone_number']; ?>" placeholder="Phone number" class="span3">
                                                <p class="help-block"></p>
                                            </div>
                                            <div class="control-group">
                                                <input type="text" name="address[]" value="<?php if (isset($timing_sale['address']) and $timing_sale['address']) echo $timing_sale['address']; ?>" placeholder="Address" class="span3">
                                                <p class="help-block"></p>
                                            </div>
                                        </div>
                                        <div class="span6">
                                    <?php //  if (in_array($_SERVER['REMOTE_ADDR'], array('103.37.32.126', '112.109.92.6', '14.161.22.196', '115.78.166.171'))) {
//     echo "<pre>";
//print_r($timing_sale);
//var_dump(empty($timing_sale['installment_id']));
//die;
                                        ?>
                                                    <div class="control-group">
                                                        <select class="form-control" name="installment_status[]">
                                                            <option value="1" <?php
                                                if (!empty($timing_sale['installment_company'])) {
                                                    echo 'selected="selected"';
                                                }
                                                ?>>-- Có hợp đồng trả góp --</option>
                                                            <option value="0" <?php
                                                if (empty($timing_sale['installment_company'])) {
                                                    echo 'selected="selected"';
                                                }
                                                ?>>-- Không có hợp đồng trả góp --</option>
                                                        </select>
                                                    </div>
                                                    <div class="control-group">
                                                        <select class="form-control" name="installment_company[]" id="stock_color">
                                                            <option value="0">-- Công ty trả góp --</option>
                                                            <option value="1" <?php
                                                        if (!empty($timing_sale['installment_company']) && $timing_sale['installment_company'] == 1) {
                                                            echo 'selected="selected"';
                                                        }
                                                        ?>>FE Credit</option>
                                                            <option value="2" <?php
                                    if (!empty($timing_sale['installment_company']) && $timing_sale['installment_company'] == 2) {
                                        echo 'selected="selected"';
                                    }
                                    ?>>Home Credit</option>
                                                            <option value="3"<?php
                                    if (!empty($timing_sale['installment_company']) && $timing_sale['installment_company'] == 3) {
                                        echo 'selected="selected"';
                                    }
                                    ?>>HD Credit</option>
                                                        </select>
                                                    </div>
                                                    <div class="control-group">
                                                        <input class="form-control" value="<?php if (!empty($timing_sale['installment_contract'])) {
                                        echo $timing_sale['installment_contract'];
                                    } ?>" type="text" name="installment_contract[]"  placeholder="Số hợp đồng" />
                                                    </div>
                                        <?php //  } ?>
                                            <div class="control-group">
                                                <strong>Kích thước file ảnh phải nhỏ hơn 2MB</strong>
                                                <div class="file-uploader"></div>
                                                <input type="hidden" name="photo[]" value="<?php if (isset($timing_sale['photo']) and $timing_sale['photo']) printf($timing_sale['photo']); ?>" />
                                                <input type="hidden" class="onprogress" />

                                        <?php
                                        if (isset($timing_sale['photo']) and $timing_sale['photo']):

                                            $tem        = explode(' ', $this->timing->from);
                                            $from_date  = $tem[0];
                                            $from_month = substr($from_date, 0, -3);

                                            $old_dir = APPLICATION_PATH . DIRECTORY_SEPARATOR . '..' . DIRECTORY_SEPARATOR . 'public' . DIRECTORY_SEPARATOR . 'photo' . DIRECTORY_SEPARATOR . 'timing_sales' . DIRECTORY_SEPARATOR . $timing_sale['id'] . DIRECTORY_SEPARATOR . $timing_sale['photo'];

                                            $new_dir = APPLICATION_PATH . DIRECTORY_SEPARATOR . '..' . DIRECTORY_SEPARATOR . 'public' . DIRECTORY_SEPARATOR . 'photo' . DIRECTORY_SEPARATOR . 'timing_sales_new' . DIRECTORY_SEPARATOR . $from_month . DIRECTORY_SEPARATOR . $from_date . DIRECTORY_SEPARATOR . $timing_sale['id'] . DIRECTORY_SEPARATOR . $timing_sale['photo'];

                                            $fileurl = null;

                                            if (is_file($old_dir))
                                                $fileurl = HOST . 'photo/timing_sales/' . $timing_sale['id'] . '/' . $timing_sale['photo'];
                                            elseif (is_file($new_dir))
                                                $fileurl = HOST . 'photo/timing_sales_new/' . $from_month . '/' . $from_date . '/' . $timing_sale['id'] . '/' . $timing_sale['photo'];

                                            if ($fileurl):
                                                ?>
                                                                <img class="staff-photo" src="<?php echo $fileurl; ?>" />
                                                                <p class="help-block"><a href="<?php echo $fileurl; ?>" target="_blank">View</a> </p>
                        <?php endif; ?>
        <?php endif; ?>
                                            </div>
                                        </div>
                                    </div>
                                    <input type="hidden" name="customer_ids[]" value="<?php isset($timing_sale['customer']) and $timing_sale['customer'] and printf($timing_sale['customer']->id); ?>">
                                </div>

                                <!-- End display mobile -->
                            </div>

    <?php endforeach; ?>
<?php else: ?>
                    <div class="row-fluid div-sale">
                        <div class="span4">
                            <label class="label label-info">Product</label>
                            <div class="control-group">
                                <select class="product form-control span3" required="required" name="product[]">
                                    <option value>Choose Product</option>
    <?php foreach ($this->goods as $good) : ?>
                                            <option value="<?php echo $good->id; ?>">
        <?php echo $good->name . "_" . $good->desc; ?></option>
    <?php endforeach; ?>
                                </select>
                                <select class="model form-control span3" required="required" name="model[]" data-placeholder="Model">
                                    <option value>Choose Color</option>
                                </select>
                                <!-- data-validation-ajax-ajax="/timing/check-imei" -->
                                <input type="text" pattern="[0-9]{15}" name="imei[]"  placeholder="IMEI" required="required" class="span3" />
                                <p class="alert alert-error error-imei" style="display: none"></p>

                                <p class="help-block"></p>

                                <button type="button" class="btn-danger remove-sale"><i class="icon-minus"></i></button>

                            </div>
                        </div>
                        <div class="span8">
                            <label>Customer</label>
                            <div class="row-fluid">
                                <div class="span6">
                                    <div class="control-group">
                                        <input type="text" name="customer_name[]" required placeholder="Customer name" class="span3" />
                                        <p class="help-block"></p>
                                    </div>
                                    <div class="control-group">
                                        <input type="tel" pattern="[0][0-9]{7,10}" name="phone_number[]" required placeholder="Phone number" class="span3" />
                                        <p class="help-block"></p>
                                    </div>
                                    <div class="control-group">
                                        <input type="text" name="address[]" placeholder="Address" class="span3" />
                                        <p class="help-block"></p>
                                    </div>
                                </div>
                                <div class="span6">
    <?php //  if (in_array($_SERVER['REMOTE_ADDR'], array('103.37.32.126', '112.109.92.6', '14.161.22.196', '115.78.166.171'))) { ?>
                                            <div class="control-group">
                                                <select class="form-control" name="installment_status[]">
                                                    <option value="1">-- Có hợp đồng trả góp --</option>
                                                    <option value="0">-- Không có hợp đồng trả góp --</option>
                                                </select>
                                            </div>
                                            <div class="control-group">
                                                <select class="form-control" name="installment_company[]" id="stock_color">
                                                    <option value="0">-- Công ty trả góp --</option>
                                                    <option value="1">FE Credit</option>
                                                    <option value="2">Home Credit</option>
                                                    <option value="3">HD Credit</option>
                                                </select>
                                            </div>
                                            <div class="control-group">
                                                <input class="form-control" type="text" name="installment_contract[]"  placeholder="Số hợp đồng" />
                                            </div>
    <?php // } ?>
                                    <div class="control-group">
                                        <strong>Kích thước file ảnh phải nhỏ hơn 2MB</strong>
                                        <div class="file-uploader"></div>
                                        <input type="hidden" name="photo[]" />
                                        <input type="hidden" class="onprogress" />
                                        <p class="help-block"></p>
                                    </div>
                                </div>
                                <input type="hidden" name="customer_ids[]">
                            </div>
                        </div>
                    </div>

            <?php endif; ?>
            <div class="control-group">
                <button type="button" class="btn-success add-sale"><i class="icon-plus"></i></button>
                <span class="help-block">Nếu hôm nay không bán được máy nào thì click dấu [-] để khỏi khai báo doanh số</span>
            </div>
            <div class="control-group">
                <label for="note">Note</label>
                <textarea name="note" class="form-control span3" rows="3" id="note"><?php isset($this->timing) and $this->timing and printf($this->timing->note); ?></textarea>
            </div>

            <!-- Phụ kiện -->
                            <?php if ($this->timing_accessories): ?>
    <?php foreach ($this->timing_accessories as $timing_accessories): ?>
                            <div class="row-fluid div-sale-accessories">
                                <div class="span4">
                                    <label class="label label-info">Accessories</label>
                                    <div class="control-group">
                                        <select class="accessories form-control span3" required="required" name="accessories[]">
                                            <option value>Choose Accessories</option>
        <?php foreach ($this->accessories as $accessories) : ?>
                                                    <option value="<?php echo $accessories->id; ?>" <?php if ($timing_accessories['good_id'] == $accessories->id): ?> selected="selected"
                        <?php endif; ?>>
                        <?php echo $accessories->desc . " - " . $accessories->name; ?></option>
                    <?php endforeach; ?>
                                        </select>
                                        <input type="number" min="1" max="1000" name="num_accessories[]" placeholder="Num" required="required" class="span3" value="<?php echo $timing_accessories['quantity']; ?>" />

                                        <input type="hidden" name="timing_accessories_id[]" value="<?php isset($timing_accessories['id']) and $timing_accessories['id'] and printf($timing_accessories['id']); ?>">

                                        <button type="button" class="btn-danger remove-sale-accessories"><i class="icon-minus"></i></button>

                                    </div>
                                </div>
                            </div>
    <?php endforeach; ?>
<?php else: ?>
                    <div class="row-fluid div-sale-accessories">
                        <div class="span4">
                            <label class="label label-info">Accessories</label>
                            <div class="control-group">
                                <select class="accessories form-control span3" required="required" name="accessories[]">
                                    <option value>Choose Accessories</option>
                <?php foreach ($this->accessories as $accessories) : ?>
                                            <option value="<?php echo $accessories->id; ?>">
        <?php echo $accessories->desc . " - " . $accessories->name; ?></option>
    <?php endforeach; ?>
                                </select>
                                <input type="number" min="1" max="1000" name="num_accessories[]" placeholder="Num" required="required" class="span3" />

                                <button type="button" class="btn-danger remove-sale-accessories"><i class="icon-minus"></i></button>

                            </div>
                        </div>
                    </div>
<?php endif; ?>
            <div class="control-group">
                <button type="button" class="btn-success add-sale-accessories"><i class="icon-plus"></i></button>
            </div>
            <!-- END Phụ kiện -->

        </div>
        <div class="clearfix"></div>
        <input type="hidden" name="id" id="id" value="<?php if (isset($this->timing) and $this->timing) echo $this->timing->id; ?>">
        <input type="hidden" name="back_url" id="back_url" value="<?php if (isset($this->back_url) and $this->back_url) echo $this->back_url; ?>">
        <button id="btn_submit" type="submit" class="btn btn-primary">Submit</button>
        <button type="button" class="btn btn-danger go-back">Go back</button>
</div>

</form>



</div>

<div id="modal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
        <h3 id="myModalLabel">Summary</h3>
    </div>
    <div class="modal-body">
        <label style="color: red;">Product:</label>
        <ol class="infos-body">

        </ol>
        <label style="color: red;">Accessories:</label>
        <ol class="infos-body-accessories">

        </ol>
    </div>
    <div class="modal-footer">
        <button class="btn" data-dismiss="modal" aria-hidden="true">Close</button>
    </div>
</div>

<div id="email_modal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myEmailModalLabel" aria-hidden="true">
    <iframe name="imei_frame" style="display:none;height:0;width:0;" frameborder="0"></iframe>
    <form class="form-horizontal" action="<?php echo HOST ?>/timing/duplicated-imei" target="imei_frame" method="post" enctype="multipart/form-data">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
            <h3 id="myEmailModalLabel">Notify of Dulicated IMEIs</h3>
        </div>
        <div class="modal-body">
            <div class="control-group">
                <label for="">Sau khi bấm "Send", thông tin gồm IMEI, ảnh chụp liên bảo hành cùng thời gian tạo chấm công, ngày chấm công sẽ được lưu vào hệ thống. <strong>Vui lòng điền đủ thông tin</strong>.<br />Cuối tháng, ASM sẽ xem xét và gửi Đề Nghị lên Giám đốc Kinh doanh để xử lý các trường hợp trùng IMEI.<br />Bấm "Close" nếu không muốn gửi.<br /><strong>Hãy kiểm tra IMEI thật kỹ trước khi gửi đi.</strong></label>
            </div>
            <div class="control-group">
                <label class="control-label" for="inputIMEI">IMEI</label>
                <div class="controls">
                    <input type="text" name="inputIMEI" id="inputIMEI" value="" readonly />
                </div>
            </div>
            <div class="control-group">
                <label class="control-label" for="inputDate">Date</label>
                <div class="controls">
                    <input placeholder="dd/mm/YYYY" type="text" class="form-control date" id="inputDate" name="inputDate" readonly required="required" />
                </div>
            </div>
            <div class="control-group">
                <label class="control-label" for="inputShift">Shift</label>
                <div class="controls">
                    <select name="inputShift" id="inputShift">
                        <option value="">Choose</option>
<?php if (isset($this->shifts) && $this->shifts): ?>
    <?php foreach ($this->shifts as $k => $shift): ?>
                                <?php if ($shift['status'] == 1): ?>
                                                <option value="<?php echo $k ?>" data-start="<?php echo $shift['start'] ?>" data-end="<?php echo $shift['end'] ?>"><?php echo $shift['name'] ?></option>
                                <?php endif ?>
                                <?php endforeach ?>
                            <?php endif ?>
                    </select>
                </div>
            </div>
            <div class="control-group">
                <label class="control-label" for="inputStore">Store</label>
                <div class="controls">
                    <select name="inputStore" id="inputStore">
                        <option value="">Choose Date first</option>
<?php if (isset($this->stores) && $this->stores): ?>
    <?php foreach ($this->stores as $store): ?>
                                        <option value="<?php echo $store->id; ?>">
        <?php echo $store->name; ?></option>
    <?php endforeach; ?>   
<?php endif ?>
                    </select>
                </div>
            </div>
            <div class="control-group">
                <label class="control-label" for="">Photo</label>
                <div class="controls">
                    <strong>Kích thước file ảnh phải nhỏ hơn 2MB</strong>
                    <!--<input type="file" accept="image/*" name="photo[]" class="span3" data-max-size="2mb" data-type="image"  />-->

                    <div class="file-uploader"></div>
                    <input type="hidden" name="photo" />
                    <input type="hidden" class="onprogress" />
                    <!--<div class="qq-upload-extra-drop-area">Drop files here too</div>-->

                    <p class="help-block"></p>
                </div>
            </div>

            <div class="control-group">
                <label class="control-label" for="inputCustomerName">Customer Name</label>
                <div class="controls">
                    <input name="inputCustomerName" id="inputCustomerName" value="" />
                </div>
            </div>

            <div class="control-group">
                <label class="control-label" for="inputCustomerPhone">Customer Phone Number</label>
                <div class="controls">
                    <input name="inputCustomerPhone" id="inputCustomerPhone" value="" />
                </div>
            </div>

            <div class="control-group">
                <label class="control-label" for="inputCustomerAddress">Customer Address</label>
                <div class="controls">
                    <input name="inputCustomerAddress" id="inputCustomerAddress" value="" />
                </div>
            </div>

            <div class="control-group">
                <label class="control-label" for="inputCase">Case</label>
                <div class="controls">
                    <textarea name="inputCase" id="inputCase" readonly cols="30" rows="5"></textarea>
                </div>
            </div>
            <div class="control-group">
                <label class="control-label" for="inputNote">Your Note</label>
                <div class="controls">
                    <textarea name="inputNote" id="inputNote" cols="30" rows="5"></textarea>
                </div>
            </div>
        </div>
        <div class="modal-footer">
            <input type="hidden" name="timing_sales_id" id="timing_sales_id" />
            <input type="hidden" name="staffFirst" id="staffFirst" />
            <input type="hidden" name="checksum" id="checksum" />
            <button class="btn" data-dismiss="modal" aria-hidden="true">Close</button>
            <button class="btn btn-primary" type="submit" id="send_imei_btn">Send</button>
        </div>
    </form>
</div>


<div id="temp_modal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myEmailModalLabel" aria-hidden="true">
    <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Thông báo</h4>
            </div>
            <div class="modal-body">
                <p>Chức năng này tạm thời bị đóng.</p>
            </div>
        </div>

    </div>
</div> <!-- end temp modal -->

<link rel="stylesheet" type="text/css" href="/js/file-uploader/fileuploader.css"/>
<script src="/js/file-uploader/fileuploader.js" type="text/javascript"></script>

<script language="javascript" type="text/javascript" src="/js/bootstrap-datetimepicker.min.js"></script>
<script language="javascript" type="text/javascript" src="/js/full-calendar/fullcalendar.min.js"></script>
<script type="text/javascript" src="/js/jquery-ui-1.8.12.custom.min.js"></script>
<script type="text/javascript" src="/js/jquery.ui.timepicker.js"></script>
<script type="text/javascript" src="/js/jqBootstrapValidation.js"></script>
<link rel="stylesheet" type="text/css" href="/css/jquery-ui-1.8.12.custom.css"/>
<link rel="stylesheet" type="text/css" href="/css/bootstrap-datetimepicker.min.css"/>
<link rel="stylesheet" type="text/css" href="/css/jquery.ui.timepicker.css"/>
<script type="text/javascript" src="/js/bootstrap-modal.js"></script>
<script type="text/javascript" src="/js/bootstrap-modalmanager.js"></script>
<link rel="stylesheet" type="text/css" href="/css/bootstrap-modal.css"/>
<script type="text/javascript" src="/js/file-validator.js"></script>
<link rel="stylesheet" type="text/css" href="/css/file-validator.css"/>

<script type="text/javascript">


    function createUploader(selector) {

        selector.find('.file-uploader').each(function () {
            var _self = $(this);
            var uploader = new qq.FileUploader({
                element: _self[0],
                action: '/timing/upload',
                multiple: false,
                // ex. ['jpg', 'jpeg', 'png', 'gif'] or []
                allowedExtensions: ['jpg', 'jpeg', 'png', 'gif'],
                sizeLimit: 2 * 1024 * 1024,
                onProgress: function (id, fileName, loaded, total) {
                    $('.fix-msg').addClass('show');
                    $('#btn_submit').attr('disabled', 'disabled');
                    $("form").submit(function (e) {
                        e.preventDefault();
                    });
                    $(window).on('beforeunload', function () {
                        return 'Please wait your upload proccess complete!';
                    });
                },
                onComplete: function (id, fileName, responseJSON) {
                    if (responseJSON.success == true) {
                        _self.next().val(responseJSON.uniqid + '_located_' + fileName);
                    }

                    $("#btn_submit").removeAttr("disabled");
                    $("form").unbind('submit');
                    window.onbeforeunload = null;
                    $('.fix-msg').removeClass('show');
                },
                onCancel: function (id, fileName) {},
                onError: function (id, fileName, xhr) {}
            });
        });
    }

    function createUploaderIMEI(selector) {

        selector.find('.file-uploader').each(function () {
            var _self = $(this);
            var uploader = new qq.FileUploader({
                element: _self[0],
                action: '/timing/upload?from=duplicate',
                multiple: false,
                // ex. ['jpg', 'jpeg', 'png', 'gif'] or []
                allowedExtensions: ['jpg', 'jpeg', 'png', 'gif'],
                sizeLimit: 2 * 1024 * 1024,
                onProgress: function (id, fileName, loaded, total) {
                    $('.fix-msg').addClass('show');
                    $('#send_imei_btn').attr('disabled', 'disabled');
                    $("form").submit(function (e) {
                        e.preventDefault();
                    });
                    $(window).on('beforeunload', function () {
                        return 'Please wait your upload proccess complete!';
                    });
                },
                onComplete: function (id, fileName, responseJSON) {
                    if (responseJSON.success == true) {
                        _self.next().val(responseJSON.uniqid + '_located_' + fileName);
                    }

                    $("#send_imei_btn").removeAttr("disabled");
                    $("form").unbind('submit');
                    window.onbeforeunload = null;
                    $('.fix-msg').removeClass('show');
                },
                onCancel: function (id, fileName) {},
                onError: function (id, fileName, xhr) {}
            });
        });
    }

    function palert(msg) {
        $('.alert-error').remove();
        $('.page-header').after('<div class="alert alert-error">' + msg + '</div>');
        $('form#timing_form button[type=submit]').prop('disabled', false);
        return;
    }


    var model_arr = $.parseJSON('<?php echo $this->good_colors; ?>');
    $(function () {
        $("input,select,textarea").not("[type=submit]").jqBootstrapValidation();
    });
    function initChangeProduct() {
        $('.product').change(function () {
            var _self = $(this);
            var product_id = $(this).val();
            var obj = model_arr[product_id];
            var next_model = _self.parent().next().children('.model');
            if (typeof next_model.attr('class') == 'undefined')
                var next_model = _self.next();
            next_model.find('option:not(:first)').remove();
            for (var i = 0; i < obj.length; i++) {
                next_model.append('<option value="' + obj[i]['id'] + '">' + obj[i]['model'] + '</option>');
            }
        });
    }
    // data-validation-ajax-ajax="/timing/check-imei"
    function initAddSale() {

        $('.add-sale').click(function () {
//            var sale_cp = $('<div class="row-fluid div-sale"> <div class="span4"> <label class="label label-info">Product</label> <div class="control-group"> <select class="product form-control span3" name="product[]" required="required"> <option value>Choose Product</option> <?php foreach ($this->goods as $good) : ?> <option value="<?php echo $good->id; ?>"> <?php echo $good->desc; ?></option> <?php endforeach; ?> </select></div><div class="control-group"> <select class="model form-control span3" name="model[]" data-placeholder="Model" required="required"> <option value>Choose Color</option> </select> </div><div class="control-group"><input type="text" pattern="[0-9]{15}" name="imei[]"  placeholder="IMEI" class="span3" required="required" /> <p class="alert alert-error error-imei" style="display: none"></p> <p class="help-block"></p> <button type="button" class="btn-danger remove-sale"><i class="icon-minus"></i></button></div> </div> <div class="span8"> <label>Customer</label> <div class="row-fluid"> <div class="span6"> <div class="control-group"> <input type="text" name="customer_name[]" placeholder="Customer name" class="span3" /> <p class="help-block"></p> </div> <div class="control-group"> <input type="tel" pattern="[0][0-9]{7,10}" name="phone_number[]" placeholder="Phone number" class="span3" /> <p class="help-block"></p> </div> <div class="control-group"> <input type="text" name="address[]" placeholder="Address" class="span3" /> <p class="help-block"></p> </div> </div> <div class="span6"> <div class="control-group"><strong>Kích thước file ảnh phải nhỏ hơn 2MB</strong><div class="file-uploader"></div><input type="hidden" name="photo[]" /><input type="hidden" class="onprogress" /><p class="alert alert-error error-image-size" style="display: none">Please choose smaller image</p><p class="help-block"></p></div> </div> <input type="hidden" name="customer_ids[]"> </div> </div> </div>');
<?php //  if (in_array($_SERVER['REMOTE_ADDR'], array('103.37.32.126', '112.109.92.6', '14.161.22.196', '115.78.166.171'))) { ?>
                var sale_cp = $('<div class="row-fluid div-sale"> <div class="span4"> <label class="label label-info">Product</label> <div class="control-group"> <select class="product form-control span3" name="product[]" required="required"> <option value>Choose Product</option> <?php foreach ($this->goods as $good) : ?> <option value="<?php echo $good->id; ?>"> <?php echo $good->desc; ?></option> <?php endforeach; ?> </select></div><div class="control-group"> <select class="model form-control span3" name="model[]" data-placeholder="Model" required="required"> <option value>Choose Color</option> </select> </div><div class="control-group"><input type="text" pattern="[0-9]{15}" name="imei[]"  placeholder="IMEI" class="span3" required="required" /> <p class="alert alert-error error-imei" style="display: none"></p> <p class="help-block"></p> <button type="button" class="btn-danger remove-sale"><i class="icon-minus"></i></button></div> </div> <div class="span8"> <label>Customer</label> <div class="row-fluid"> <div class="span6"> <div class="control-group"> <input type="text" name="customer_name[]" placeholder="Customer name" class="span3" /> <p class="help-block"></p> </div> <div class="control-group"> <input type="tel" pattern="[0][0-9]{7,10}" name="phone_number[]" placeholder="Phone number" class="span3" /> <p class="help-block"></p> </div> <div class="control-group"> <input type="text" name="address[]" placeholder="Address" class="span3" /> <p class="help-block"></p> </div> </div>\n\
             <div class="span6">\n\
             <div class="control-group"><select class="form-control" name="installment_status[]">\n\
             <option value="1">-- Có hợp đồng trả góp --</option>\n\
                                                                                                    <option value="0">-- Không có hợp đồng trả góp --</option>\n\
                                                                                            </select>\n\
                                                                                                                    </div>\n\
                                                                                                                    <div class="control-group">\n\
                                                                                                                         <select class="form-control" name="installment_company[]" id="stock_color">\n\
                                                                                                    <option value="0">-- Công ty trả góp --</option>\n\
                                                                                                        <option value="1">FE Credit</option>\n\
                                                                                                        <option value="2">Home Credit</option>\n\
                                                                                                        <option value="3">HD Credit</option>\n\
                                                                                            </select>\n\
                                                                                                                    </div>\n\
                                                                                                                    <div class="control-group">\n\
                                                                                                                        <input class="form-control" type="text" name="installment_contract[]"  placeholder="Số hợp đồng" />\n\
                                                                                                                    </div>\n\
        <div class="control-group">\n\
        <strong>Kích thước file ảnh phải nhỏ hơn 2MB</strong><div class="file-uploader"></div><input type="hidden" name="photo[]" /><input type="hidden" class="onprogress" /><p class="alert alert-error error-image-size" style="display: none">Please choose smaller image</p><p class="help-block"></p></div> </div> <input type="hidden" name="customer_ids[]"> </div> </div> </div>');
<?php //  } ?>
            sale_cp.insertBefore($(this).parent());
            createUploader($(this).parent().prev());
            initChangeProduct();
            initRemoveSale();
            $(function () {
                $("input,select,textarea").not("[type=submit]").jqBootstrapValidation();
            });
            return false;
        });
    }

    function initRemoveSale() {
        $('.remove-sale').click(function () {
            $(this).parent().parent().parent().remove();
            return false;
        });
    }

    function initSendNotify() {
        $('body').on('click', '.send_notify', function () {

            createUploaderIMEI($('#email_modal'));
            $('#email_modal').find(".modal-body .alert").remove();
            _self = $(this);
            _imei = _self.data('imei');
            _date = $('#date').val();
            _shift = $('#shift').val();
            _store = $('#store').val();
            _case = _self.data('case');
            _staff_first = _self.data('staff-first');
            _checksum = _self.data('checksum');
            _timing_sales_id = _self.data('timing-sales-id');
            // $('#date').attr('required', 'required');
            // $('#shift').attr('required', 'required');
            // $('#store').attr('required', 'required');

            $('#inputIMEI').val(_imei);
            $('#inputDate').val(_date);
            $('#inputStore').html($('#store').html())
            $('#inputStore').val(_store);
            $('#staffFirst').val(_staff_first);
            $('#inputCase').val(_case);
            $('#checksum').val(_checksum);
            $('#inputShift').val(_shift);
            $('#timing_sales_id').val(_timing_sales_id);
            $('#email_modal').modal();
        });
    }

    $(document).ready(function () {

        $('.go-back').click(function (e) {

            window.location.href = $('#back_url').val();
            return false;
        });
        init_get_store();
        createUploader($('body'));
        initChangeProduct();
        initAddSale();
        initRemoveSale();
        initAddSaleAccessories();
        initRemoveAccessories();
        initSendNotify();
        format_imei();
        $('#send_imei_btn').click(function () {
            $('#email_modal').find(".modal-body .alert").remove();
            $('#email_modal').find(".modal-body").append('<div class="alert alert-warning fade in">Sending...</div>');
        });
        $('.date').datepicker({dateFormat: "dd/mm/yy"});
        $('#inputDate').datetimepicker({
            weekStart: 1,
            clear: true,
            minView: '2',
            autoclose: true,
            format: 'dd/mm/yyyy'
        });
        $('#timepicker_start').timepicker({
            showCloseButton: true,
            showNowButton: true,
            onSelect: tpStartSelect
        });
        $('#timepicker_end').timepicker({
            showCloseButton: true,
            showNowButton: true,
            onSelect: tpEndSelect
        });
        $('#shift').change(function () {
            var option = $(this).find('option:selected');
            $('#timepicker_start').val(option.data('start'));
            $('#timepicker_end').val(option.data('end'));
        });
        var calendar = $('#calendar').fullCalendar({
            header: {
                left: 'prev,next today',
                center: 'title',
                right: 'month,agendaWeek,agendaDay'
            },
            eventClick: function (calEvent, jsEvent, view) {
                $modal = $('#modal');
                var obj = calEvent.infos;
                var obj_acc = calEvent.infos_acc;
                if (obj.length > 0 || obj_acc.length > 0) {
                    var html = '';
                    var html_acc = '';
                    for (var i = 0; i < obj.length; i++) {
                        html += '<li><strong class="product-name">' + obj[i]['product_name'] + '</strong><ul>';
                        html += '<li class="imei">' + obj[i]['imei'] + '</li>';
                        html += '<li class="customer_name">' + obj[i]['customer_name'] + '</li>';
                        html += '<li class="customer_phone">' + obj[i]['customer_phone'] + '</li>';
                        html += '<li class="customer_address">' + obj[i]['customer_address'] + '</li></ul></li>';
                    }

                    for (var i = 0; i < obj_acc.length; i++) {
                        html_acc += '<li><strong class="product-name">' + obj_acc[i]['desc'] + ' - ' + obj_acc[i]['name'] + '</strong><ul>';
                        html_acc += '<li class="customer_address">num: ' + obj_acc[i]['quantity'] + '</li></ul></li>';
                    }

                    $modal.find('.infos-body').html(html);
                    $modal.find('.infos-body-accessories').html(html_acc);
                    $modal.modal();
                }
            },
            selectable: true,
            selectHelper: true,
            events: "/timing-realme/events?id=<?php
if (isset($this->timing) and $this->timing->staff_id != $this->user_id)
    echo $this->timing->staff_id;
else
    echo $this->user_id;
?>"
        });
        $('form#timing_form').bind('submit', function (e) {
            $('form#timing_form button[type=submit]').prop('disabled', true);
        });
<?php if (!( isset($this->timing) and $this->timing )): ?>
            //                        get_report_stock();
<?php endif; ?>

        check_tgdd();
        $('#store').on('change', check_tgdd);
    });
    function check_tgdd(e) {
        store_name = $('#store').find('option:selected').text().trim();
        if (store_name.match(/^TGDĐ/)) {
           alert_tgdd();
        } else {
            $('.alert').remove();
        }
    }

    function alert_tgdd() {
        palert('Hệ thống sẽ tự động loại bỏ IMEI trong chấm công ở các cửa hàng TGDĐ. IMEI sẽ được nhập tự động vào hệ thống vào đầu tháng kế tiếp theo danh sách do TGDĐ gửi về Công ty. <a href="<?php echo HOST ?>user/notification-view?id=6" target="_blank">Xem Thông báo</a>');
        alert('Hệ thống sẽ tự động loại bỏ IMEI trong chấm công ở các cửa hàng TGDĐ. IMEI sẽ được nhập tự động vào hệ thống vào đầu tháng kế tiếp theo danh sách do TGDĐ gửi về Công ty.');
    }

    // when start time change, update minimum for end timepicker
    function tpStartSelect(time, endTimePickerInst) {
        $('#timepicker_end').timepicker('option', {
            minTime: {
                hour: endTimePickerInst.hours,
                minute: endTimePickerInst.minutes
            }
        });
    }

    // when end time change, update maximum for start timepicker
    function tpEndSelect(time, startTimePickerInst) {
        $('#timepicker_start').timepicker('option', {
            maxTime: {
                hour: startTimePickerInst.hours,
                minute: startTimePickerInst.minutes
            }
        });
    }

<?php if (!( isset($this->timing) and $this->timing )): ?>
        function get_report_stock() {
            setTimeout(function () {
                $.post('<?php echo HOST . "partition/stock" ?>', {}, function (data) {
                    $('#stock_report').html(data);
                });
            }, 500);
        }
<?php endif; ?>

    function format_imei() {
        $('input[name="imei[]"]').keyup(function () {
            _self = $(this);
            imei = _self.val().trim();
            _self.val(imei);
        });
    }

    function init_get_store() {
        $('#date').on('change', function (event) {
            date = $('#date').val().trim();
            if (date != '') {
                get_store(date);
                get_timing(date);
            }
        });
        $('#inputDate').on('change', function (event) {
            date = $('#inputDate').val().trim();
            if (date != '') {
                get_store_notify(date);
            }
        });
    }

    function get_store(date) {
        $('form#timing_form button[type=submit]').prop('disabled', true);
        $('#store').html('<option value>Loading...<option>');
        $.post('<?php echo HOST . "ajax/get-store" ?>', {
            timing_time: date
        }, function (data) {
            $('form#timing_form button[type=submit]').prop('disabled', false);
            $('#store').html(data);
            if ($('#store option').length == 1) {
                $('#store').prop('disabled', true);
            } else {
                $('#store').prop('disabled', false);
            }
        });
    }

    function get_timing(date)
    {
        $('form#timing_form button[type=submit]').prop('disabled', true);
        $('#date').html('<option value>Loading...<option>');
        $.post('<?php echo HOST . "ajax/get-timing" ?>', {
            timing_time: date
        }, function (data) {
            $('form#timing_form button[type=submit]').prop('disabled', false);
            if (data)
                var object = $.parseJSON(data);
            if (object.code != 'undefined')
            {
                if (object.code == -3)
                {
                    alert('Vui lòng chấm công ngày :' + date + 'Hệ thống sẽ tự động chuyển sau 2 giây');
                    var action_url = "<?php echo HOST ?>" + 'time/create';
                    setTimeout(
                            window.location.href = action_url, 2000
                            );
                } else if (object.code == 0)
                {
                    $('#shift').val(object.data);
                    $('#timepicker_start').val(object.timing_from);
                    $('#timepicker_end').val(object.timing_to);
                }
            }
        });
    }

    function get_store_notify(date) {
        $('form#timing_form button[type=submit]').prop('disabled', true);
        $('#inputStore').html('<option value>Loading...<option>');
        $.post('<?php echo HOST . "ajax/get-store" ?>', {
            timing_time: date
        }, function (data) {
            $('form#timing_form button[type=submit]').prop('disabled', false);
            $('#inputStore').html(data);
            if ($('#inputStore option').length == 1) {
                $('#inputStore').prop('disabled', true);
            } else {
                $('#inputStore').prop('disabled', false);
            }
        });
    }

    function initAddSaleAccessories() {

        $('.add-sale-accessories').click(function () {
                    var sale_cp = $('<div class="row-fluid div-sale-accessories">\
                <div class="span4">\
                    <label class="label label-info">Accessories</label>\
                    <div class="control-group">\
                        <select class="accessories form-control span3" required="required" name="accessories[]">\
                            <option value>Choose Accessories</option>\
<?php if ($this->accessories) : ?>\
    <?php foreach ($this->accessories as $accessories) : ?>
                    <option value="<?php echo $accessories->id; ?>">\
        <?php echo trim($accessories->desc) . "  " . $accessories->name; ?></option>\
    <?php endforeach; ?>
<?php endif; ?>
                    < /select>\
                                    <input type="number" min="1" max="1000" name="num_accessories[]" placeholder="Num" required="required" class="span3" />\
                            <p class="alert alert-error error-imei" style="display: none"></p>\
                            <p class="help-block"></p>\
                                <button type="button" class="btn-danger remove-sale-accessories"><i class="icon-minus"></i></button>\
        </div>\
                                    </div>\
        </div>');
        
        sale_cp.insertBefore($(this).parent());
                                        
                                        createUploader($(this).parent().prev());
                                        
            initRemoveAccessories();
            
            $(function () {
                    $("input,select,textarea").not("[type=submit]").jqBootstrapValidation();
                                } );
                                
                                return false;
                                });
                                
                                }
                                
                                function initRemoveAccessories(){
                    $('.remove-sale-accessories').click(function () {
                        $(this).parent().parent().parent().remove();
                        return false;
                            });
                                }
                            </script>

<?php
echo $this->render('timing-realme/partials/fixed-msg.phtml');
?>