<link rel="stylesheet" type="text/css" href="/css/jquery-ui-1.8.12.custom.css"/>
<link rel="stylesheet" type="text/css" href="/css/jquery.ui.timepicker.css"/>

<style type="text/css">
    .center{text-align: center !important}
    .mar-l-20{margin-left: 20px}
    .block span{display: inline-block}
    .btn{margin-top: -8px}
    .badge{
        background-color: darkorange;
    }
    .date-search{
        margin-left: 200px;
    }
    .filter-result{
        display: inline;
        float: left;
        margin-top: 5px;
    }
    .btn-light{
        width: 171px;
    }
</style>

<div class="page-header">
    <h1>TIMING EXPORT &rightarrow; <small><?php echo $this->userData->firstname.' '.$this->userData->lastname ?></small></h1>
</div>
<form class="inline" action="" method="get">
    <div class="filter-result">
        <button class="btn btn-light text-center" type="button">
            <span class="badge"><?=$this->total?></span> Result
        </button>
    </div>
    <div class="date-search">
        <input type="hidden" name="filter" value="1">
        <span>From date: <input type="" class="date" name="from" id="from" value="<?php echo !empty($this->params['from']) ? $this->params['from'] : date("01/m/Y") ?>"></span>
        <span class="mar-l-20">To date: <input type="" class="date" name="to" id="to" value="<?php echo !empty($this->params['to']) ? $this->params['to'] : date("d/m/Y") ?>"></span>
        <button class="btn btn-primary mar-l-20">Search</button>
        <a href="/timing/kpi-overview" class="btn">Reset</a>
    </div>
</form>
<button class="btn btn-warning" id="btnExportTiming">Export</button>


<div class="table-responsive">
    <table class="table table-striped table-bordered">
        <thead>
        <tr>
            <th>#</th>
            <th>Code</th>
            <th>Fullname</th>
            <th>Name</th>
            <th>So khung</th>
            <th>PIN</th>
            <th>Timing Date</th>
        </tr>
        </thead>

        <tbody>
        <?php foreach($this->data as $key => $value) { ?>
            <tr>
                <td><?=$key+1?></td>
                <td><?php echo $value['code']?></td>
                <td><?php echo $value['fullname']?></td>
                <td><?php echo $value['area']?></td>
                <td><?php echo $value['imei']?></td>
                <td><?php echo $value['pin']?></td>
                <td><?php echo date('d/m/Y', strtotime($value['created_at']))?></td>
            </tr>
        <?php } ?>
        </tbody>
    </table>

</div>

<script type="text/javascript" src="/js/jquery-ui-1.8.12.custom.min.js"></script>
<script type="text/javascript" src="/js/jquery.ui.timepicker.js"></script>
<script type="text/javascript">
    $(document).ready(function(){
        $(".date").datepicker({dateFormat: "dd/mm/yy"});
    });
</script>
<script type="text/javascript">
    $(document).ready(function(){
        $("#btnExportTiming").on('click',function () {
            var from = $('#from').val();
            var to = $('#to').val();
            alert(from+to);
            $.ajax({
                type: 'POST',
                dataType: 'json',
                url: '/timing/test',
                data: {
                    from: from,
                    to:to
                },
                success: function (data) {
                    alert(data);
                }
            });
        })
    });
</script>