<div class="page-header">
    <?php if (isset($this->timing) and $this->timing): ?>
        <h1>Edit Timing</h1>
    <?php else: ?>
        <h1>Create Timing</h1>
    <?php endif; ?>
</div>

<?php
if (isset($this->messages) and $this->messages)
    foreach ($this->messages as $message):
        echo '<div class="alert alert-error">' . $message . '</div>';
    endforeach;
?>

<style>
    body.modal-open {
        overflow: visible;
    }
    .alert-msg {
        background: #F9EEB8;
        border-bottom-right-radius: 4px;
        border-bottom-left-radius: 4px;
        border-top: 2px solid #e55;
        /*display: none;*/
        margin: 0;
        /*margin-left: -200px;*/
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        z-index: 9999;
    }

    .alert-msg.show {
        display: inline-block;
    }

    .alert-msg p {
        font-weight: bold;
        font-size: 12px;
        font-family: tahoma, arial;
        margin: 0 10px;
        line-height: 2em;
        text-align: center;
    }

    #email_modal textarea {
        resize: none;
    }

    .stock {
        margin-bottom: 20px;
        padding: 10px;
        background: white;
    }
</style>
<!-- Scanner CSS -->
<style type="text/css">
    #scanner {
        background: #263238;
        height: 100%;
        margin-top: 10px;
        z-index: 5000;
    }

    .frame_scan {
        position: absolute;
        height: 100%;
        width: 100%;
    }

    .preview-container {
        flex-direction: column;
        align-items: center;
        justify-content: center;
        display: flex;
        width: 100%;
        overflow: hidden;
        height: 410px;
        position: relative;
    }

    .sidebar {
        background: #eceff1;
        width: 100%;
        display: block;
        float: left;
    }

    .sidebar h2 {
        font-weight: normal;
        font-size: 1.0rem;
        background: #607d8b;
        color: #fff;
        padding: 10px;
        margin: 0;
    }

    .sidebar ul {
        margin: 0;
        padding: 0;
        list-style-type: none;
    }

    .sidebar li {
        line-height: 175%;
        white-space: nowrap;
        overflow: hidden;
        text-wrap: none;
        text-overflow: ellipsis;
    }

    .cameras ul {
        padding: 15px 20px;
    }

    .cameras .active {
        font-weight: bold;
        color: #009900;
    }

    .cameras a {
        color: #555;
        text-decoration: none;
        cursor: pointer;
    }

    .cameras a:hover {
        text-decoration: underline;
    }

    .scans li {
        padding: 10px 20px;
        border-bottom: 1px solid #ccc;
    }

    .scan_wrap {
        border: 1px solid #CCC;
        padding: 10px 0px;
        position: relative;
        text-align: center;
        height: 20px;
        background-color: white;
    }

    .scan_wrap .close_btn {
        position: absolute;
        right: 0px;
        font-size: 37px;
        margin-right: 10px;
    }

    @media (min-width: 320px) and (max-width: 575px) {
        #preview {
            transform: scaleX(1) !important;
            width: 100%;
            position: absolute;
            top: 12%;
        }
    }

    #preview {
        transform: scaleX(1) !important;
        width: 100%;
        position: absolute;
    }
    #loading-image{
        position: absolute;
        width: 100%;
        height: 55%;
        z-index: 1000;
        background: url(/photo/loading/Preloader_1.gif) center no-repeat #fff;
    }
</style>
<?php

    if (isset($this->messages) and $this->messages)
        echo "hello 22020";
        foreach ($this->messages as $message):
            echo '<div class="alert alert-error">' . $message . '</div>';
        endforeach;
    if (isset($this->message_success) and $this->message_success)
        foreach ($this->message_success as $message):
            echo '<div class="alert alert-success">' . $message . '</div>';
        endforeach;
    ?>

<style>
    .customCalendar,
    .customCalendar div,
    .customCalendar span {
        background-color: green; /* background color */
        border-color: green;     /* border color */
        color: yellow;           /* text color */
    }
</style>

<div class="row-fluid">
    <iframe name="ifrmSave" id="ifrmSave" width="100%" style="display:none;"></iframe>
    <form role="form" id="timing_form" action="<?php echo HOST . 'timing/imei-duplicated-tgdd'; ?>" method="post" target="ifrmSave" enctype="multipart/form-data">
        <div class="content">
            <div class="row-fluid">
                <div class="span4">

                    <div class="control-group">
                        <label for="date">Date</label>
                        <input placeholder="dd/mm/YYYY" type="text" readonly="readonly" class="form-control date span3 cursorok" name="date[]" required="required" value="">
                    </div>

                    <div class="control-group">
                        <label for="store">Store</label>
                        <select name="store[]" required="required" class="span3 store">
                            <option value="">Choose Date first</option>

                        </select>
                    </div>
                    <div class="control-group">
                        <p style = "font-weight : bold">Upload ảnh sổ bảo hành : </p>
                        <div style="">
                            <input type="file" name="warranty_file[]" class="warranty_file form-control-file" value="" style="margin-left:10px" required />
                            <input type="hidden" name="warranty_file_src[]" class="warranty_file_src" value = "">
                        </div>
                    </div>
                </div>

                <div class="span4">
                    <label>Sale</label>

                    <div class="control-group">

                        <!-- data-validation-ajax-ajax="/timing/check-imei" -->
                        <div class="imei_scan">
                            <input type="text" pattern="[0-9A-Z]{5,25}" name="imei[]"  placeholder="IMEI" required="required" class="span3 input_imei" />
                        </div>

                    </div>

                    <div class="control-group">
                        <label for="note">Note</label>
                        <textarea name="note[]" class="form-control span3" placeholder="Nhập vào ghi chú" rows="3" id="note"></textarea>
                    </div>
                </div>

                <div class="span4">
                    <label>Customer</label>


                    <div class="control-group">
                        <input type="text" name="customer_name[]" required placeholder="Customer name" class="span3" />
                        <p class="help-block"></p>
                    </div>
                    <div class="control-group">
                        <input type="tel" pattern="[0][0-9]{7,10}" name="customer_phone[]" required placeholder="Phone number" class="span3" />
                        <p class="help-block"></p>
                    </div>
                    <div class="control-group">
                        <input type="text" name="customer_address[]" placeholder="Address" class="span3" />
                        <p class="help-block"></p>
                    </div>
                    <div class="control-group text-right">
                        <a class="btn btn-success btn-add-new">Add New</a>
                        <a class="btn btn-danger btn-delete">Delete</a>

                    </div>
                </div>
            </div>

        </div>

        <div class="clearfix"></div>
        <hr>
        <button type="button" class="btn btn-light go-back">Go back</button>

        <button id="btn_submit" type="submit" class="btn btn-primary">Submit</button>

    </form>
</div>




<link rel="stylesheet" type="text/css" href="/js/file-uploader/fileuploader.css"/>
<script src="/js/file-uploader/fileuploadercreatetiming.js" type="text/javascript"></script>

<script language="javascript" type="text/javascript" src="/js/bootstrap-datetimepicker.min.js"></script>
<script language="javascript" type="text/javascript" src="/js/full-calendar/fullcalendar.min.js"></script>
<script type="text/javascript" src="/js/jquery-ui-1.8.12.custom.min.js"></script>
<script type="text/javascript" src="/js/jquery.ui.timepicker.js"></script>
<script type="text/javascript" src="/js/jqBootstrapValidation.js"></script>
<link rel="stylesheet" type="text/css" href="/css/jquery-ui-1.8.12.custom.css"/>
<link rel="stylesheet" type="text/css" href="/css/bootstrap-datetimepicker.min.css"/>
<link rel="stylesheet" type="text/css" href="/css/jquery.ui.timepicker.css"/>
<script type="text/javascript" src="/js/bootstrap-modal.js"></script>
<script type="text/javascript" src="/js/bootstrap-modalmanager.js"></script>
<link rel="stylesheet" type="text/css" href="/css/bootstrap-modal.css"/>
<script type="text/javascript" src="/js/file-validator.js"></script>
<link rel="stylesheet" type="text/css" href="/css/file-validator.css"/>
<script type="application/javascript" src="/js/mobile-handler.js"></script>
<script type="application/javascript" src="/js/mobile-library.js"></script>
<script type="text/javascript">


    function createUploader(selector) {

        selector.find('.file-uploader').each(function () {
            var _self = $(this);
            var uploader = new qq.FileUploader({
                element: _self[0],
                action: '/timing/upload',
                multiple: false,
                // ex. ['jpg', 'jpeg', 'png', 'gif'] or []
                allowedExtensions: ['jpg', 'jpeg', 'png', 'gif'],
                sizeLimit: 2 * 1024 * 1024,
                onProgress: function (id, fileName, loaded, total) {
                    $('.fix-msg').addClass('show');
                    $('#btn_submit').attr('disabled', 'disabled');
                    $("form").submit(function (e) {
                        e.preventDefault();
                    });
                    $(window).on('beforeunload', function () {
                        return 'Please wait your upload proccess complete!';
                    });
                },
                onComplete: function (id, fileName, responseJSON) {
                    if (responseJSON.success == true) {
                        _self.next().val(responseJSON.uniqid + '_located_' + fileName);
                    }

                    $("#btn_submit").removeAttr("disabled");
                    $("form").unbind('submit');
                    window.onbeforeunload = null;
                    $('.fix-msg').removeClass('show');
                },
                onCancel: function (id, fileName) {},
                onError: function (id, fileName, xhr) {}
            });
        });
    }


    function initAddNewElement(){
        $('.btn-add-new').click(function (e) {
            $('.content').append(imei_div);
            $('.date').datepicker({dateFormat: "dd/mm/yy"});
            init_get_store();
            initDeleteElement();
            initAddNewElement()
        })
    }
    function initDeleteElement(){
        $('.btn-delete').click(function (e) {
            _self=$(this);
            var parent_div = _self.parent().parent().parent('.row-fluid');
            parent_div.remove();
        })
    }



    $(document).ready(function () {
        initAddNewElement();
        initDeleteElement();

        $('.go-back').click(function (e) {

            window.location.href = $('#back_url').val();
            return false;
        });
        init_get_store();
        createUploader($('body'));
        format_imei();


        $('.date').datepicker({dateFormat: "dd/mm/yy"});



        // optimize image warranty
        $( document ).on("change", ".warranty_file", function(e) {
            var mime_type = "image/jpeg";
            var intput_warranty_file = e.target.files[0];//document.getElementsByClassName('warranty_file');

            var img_tag = document.createElement("img");

            var reader = new FileReader();
            if (intput_warranty_file) {
                reader.readAsDataURL(intput_warranty_file);
            }
            var input_hidden = $(this).parent().find(".warranty_file_src");
            reader.addEventListener("load", function (e) {
                img_tag.src = e.target.result;
                img_tag.onload = function () {
                    var cvs = document.createElement('canvas');
                    cvs.width = 800;
                    cvs.height = Math.round(this.height/(this.width/800)*100)/100;
                    cvs.getContext("2d").drawImage(this, 0, 0, cvs.width, cvs.height);
                    var newImageData = cvs.toDataURL(mime_type, 80 / 100);
                    input_hidden.val(newImageData);
                };
            }, false);
        });
    });






    function format_imei() {
        $('input[name="imei[]"]').keyup(function () {
            _self = $(this);
            imei = _self.val().trim();
            _self.val(imei);
        });
    }

    function init_get_store() {
        $('.date').on('change', function (event) {
            var _self = $(this);
            date = $(this).val().trim();
            var next_store = _self.parent().next().children('.store');

            // if (date != '') {
            //     get_store(date);
            // }
            $('form#timing_form button[type=submit]').prop('disabled', true);
            next_store.html('<option value>Loading...<option>');
            $.post('<?php echo HOST . "ajax/get-store" ?>', {
                timing_time: date
            }, function (data) {
                $('form#timing_form button[type=submit]').prop('disabled', false);
                next_store.html(data);
            });
            });
    }





</script>
<script>
    imei_div='<hr><div class="row-fluid">\n' +
        '            <div class="span4">\n' +
        '                <div class="control-group">\n' +
        '                    <label for="date">Date</label>\n' +
        '                    <input placeholder="dd/mm/YYYY" type="text" readonly="readonly" class="form-control date span3 cursorok" name="date[]" required="required" value="">' +
        '                </div>' +
        '                <div class="control-group">\n' +
        '                    <label for="store">Store</label>\n' +
        '                    <select name="store[]" id="store" required="required" class="span3 store">\n' +
        '                        <option value="">Choose Date first</option>\n' +
        '                   </select>\n' +
        '                </div>\n' +
        '                <div class="control-group">\n' +
        '                    <p style = "font-weight : bold">Upload ảnh sổ bảo hành : </p>\n' +
        '                    <div style="">\n' +
        '                        <input type="file" name="warranty_file[]" class="warranty_file form-control-file" value="" style="margin-left:10px" required />\n' +
        '                        <input type="hidden" name="warranty_file_src[]" class="warranty_file_src" value = "">\n' +
        '                    </div>\n' +
        '                </div>\n' +
        '            </div>\n' +
        '            <div class="span4">\n' +
        '                <label>Sale</label>\n' +
        '                <div class="control-group">\n' +
        '                    <!-- data-validation-ajax-ajax="/timing/check-imei" -->\n' +
        '                    <div class="imei_scan">\n' +
        '                        <input type="text" pattern="[0-9A-Z]{5,25}" name="imei[]"  placeholder="IMEI" required="required" class="span3 input_imei" />\n' +
        '                    </div>\n' +
        '                </div>\n' +
        '                <div class="control-group">\n' +
        '                    <label for="note">Note</label>\n' +
        '                    <textarea name="note[]" class="form-control span3" placeholder="Nhập vào ghi chú" rows="3" id="note"></textarea>\n' +
        '                </div>' +

        '            </div>\n' +
        '            <div class="span4">\n' +
        '                <label>Customer</label>\n' +
        '                <div class="control-group">\n' +
        '                    <input type="text" name="customer_name[]" required placeholder="Customer name" class="span3" />\n' +
        '                    <p class="help-block"></p>\n' +
        '                </div>\n' +
        '                <div class="control-group">\n' +
        '                    <input type="tel" pattern="[0][0-9]{7,10}" name="customer_phone[]" required placeholder="Phone number" class="span3" />\n' +
        '                    <p class="help-block"></p>\n' +
        '                </div>\n' +
        '                <div class="control-group">\n' +
        '                    <input type="text" name="customer_address[]" placeholder="Address" class="span3" />\n' +
        '                    <p class="help-block"></p>\n' +
        '                </div>\n' +
        '<div class="control-group text-right"> ' +
        '<a class="btn btn-success btn-add-new">Add New</a> ' +
        '<a class="btn btn-danger btn-delete">Delete</a> ' +
        '</div>'+
        '            </div>\n' +
        '        </div>'

</script>
<?php
echo $this->render('timing/partials/fixed-msg.phtml');
?>