<link rel="stylesheet" type="text/css" href="/css/jquery-ui-1.8.12.custom.css"/>
<link rel="stylesheet" type="text/css" href="/css/jquery.ui.timepicker.css"/>

<style type="text/css">
    .center{text-align: center !important}
    .mar-l-20{margin-left: 20px}
    .block span{display: inline-block}
    .btn{margin-top: -8px}
</style>

<div class="page-header">
    <h1>KPI Checking &rightarrow; <small><?php echo $this->userData->firstname.' '.$this->userData->lastname ?></small></h1>
</div>

<form class="block" action="" method="get">
    <input type="hidden" name="filter" value="1">
    <span>From date: <input type="" class="date" name="from" value="<?php echo !empty($this->params['from']) ? $this->params['from'] : null ?>"></span>
    <span class="mar-l-20">To date: <input type="" class="date" name="to" value="<?php echo !empty($this->params['to']) ? $this->params['to'] : null ?>"></span>
    <button class="btn btn-primary mar-l-20">Search</button>
    <a href="/timing/kpi-overview" class="btn">Reset</a>
</form>

<div class="table-responsive">
    <?php if(!empty($this->res['total_pg_level'])): ?>
    <table class="table table-striped table-bordered">
        <thead>
            <tr>
                <th colspan="7"><h1 class="center">PG</h1></th>
            </tr>
            <tr>
                <th>#</th>
                <th>Product</th>
                <th>Sellout</th>
                <th>KPI</th>
                <th>Total</th>
                <th>From date</th>
                <th>To date</th>
            </tr>
        </thead>

        <tbody>
            <?php $totals = 0; $total = 0; foreach($this->res['data'] as $key => $value): if($value['staff_level'] == 'pg'): $totals += $value['count']; $total += $value['kpi'] * $value['count']; ?>
            <tr>
                <td><?php echo $key + 1 ?></td>
                <td><?php echo $value['good_name'] ?></td>
                <td><?php echo $value['count'] ?></td>
                <td><?php echo $value['kpi'] ?></td>
                <td><?php echo $value['kpi'] * $value['count'] ?></td>
                <td><?php echo date('d/m/Y', strtotime($value['from_date'])) ?></td>
                <td><?php echo date('d/m/Y', strtotime($value['to_date'])) ?></td>
            </tr>
            <?php endif; endforeach; ?>
            <tr>
                <td colspan="3" style="font-size:20px;text-align:right;font-weight:bold">
                    Total sell out: <?php echo $totals ?>
                </td>
                <td colspan="4" style="font-size:20px;text-align:right;font-weight:bold">
                    Total KPI: <?php echo number_format($total, 0, null, '.') ?>
                </td>
            </tr>
        </tbody>
    </table>
    <?php endif ?>

    <?php if(!empty($this->res['total_sale_level'])): ?>
    <table class="table table-striped table-bordered">
        <thead>
            <tr>
                <th colspan="7"><h1 class="center">Sale</h1></th>
            </tr>
            <tr>
                <th>#</th>
                <th>Product</th>
                <th>Sellout</th>
                <th>KPI</th>
                <th>Total</th>
                <th>From date</th>
                <th>To date</th>
            </tr>
        </thead>

        <tbody>
            <?php $totals = 0; $total = 0; foreach($this->res['data'] as $key => $value): if($value['staff_level'] == 'sale'): $totals += $value['count']; $total += $value['kpi'] * $value['count']; ?>
            <tr>
                <td><?php echo $key + 1 ?></td>
                <td><?php echo $value['good_name'] ?></td>
                <td><?php echo $value['count'] ?></td>
                <td><?php echo $value['kpi'] ?></td>
                <td><?php echo $value['kpi'] * $value['count'] ?></td>
                <td><?php echo date('d/m/Y', strtotime($value['from_date'])) ?></td>
                <td><?php echo date('d/m/Y', strtotime($value['to_date'])) ?></td>
            </tr>
            <?php endif; endforeach; ?>
            <tr>
                <td colspan="3" style="font-size:20px;text-align:right;font-weight:bold">
                    Total sell out: <?php echo $totals ?>
                </td>
                <td colspan="4" style="font-size:20px;text-align:right;font-weight:bold">
                    Total KPI: <?php echo number_format($total, 0, null, '.') ?>
                </td>
            </tr>
        </tbody>
    </table>
    <?php endif ?>

    <?php if(!empty($this->res['total_pb_sale_level'])): ?>
    <table class="table table-striped table-bordered">
        <thead>
            <tr>
                <th colspan="7"><h1 class="center">Sale</h1></th>
            </tr>
            <tr>
                <th>#</th>
                <th>Product</th>
                <th>Sellout</th>
                <th>KPI</th>
                <th>Total</th>
                <th>From date</th>
                <th>To date</th>
            </tr>
        </thead>

        <tbody>
            <?php $totals = 0; $total = 0; foreach($this->res['data'] as $key => $value): if($value['staff_level'] == 'pb_sale'): $totals += $value['count']; $total += $value['kpi'] * $value['count']; ?>
            <tr>
                <td><?php echo $key + 1 ?></td>
                <td><?php echo $value['good_name'] ?></td>
                <td><?php echo $value['count'] ?></td>
                <td><?php echo $value['kpi'] ?></td>
                <td><?php echo $value['kpi'] * $value['count'] ?></td>
                <td><?php echo date('d/m/Y', strtotime($value['from_date'])) ?></td>
                <td><?php echo date('d/m/Y', strtotime($value['to_date'])) ?></td>
            </tr>
            <?php endif; endforeach; ?>
            <tr>
                <td colspan="3" style="font-size:20px;text-align:right;font-weight:bold">
                    Total sell out: <?php echo $totals ?>
                </td>
                <td colspan="4" style="font-size:20px;text-align:right;font-weight:bold">
                    Total KPI: <?php echo number_format($total, 0, null, '.') ?>
                </td>
            </tr>
        </tbody>
    </table>
    <?php endif ?>

    <?php if(empty($this->res['total_pg_level']) && empty($this->res['total_sale_level']) && empty($this->res['total_pb_sale_level'])): ?>
    <table class="table table-striped table-bordered">
        <thead>
            <tr>
                <th>#</th>
                <th>Product</th>
                <th>Sellout</th>
                <th>KPI</th>
                <th>Total</th>
                <th>From date</th>
                <th>To date</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td class="center" colspan="7">No data available.</td>
            </tr>
        </tbody>
    </table>
    <?php endif ?>
</div>

<script type="text/javascript" src="/js/jquery-ui-1.8.12.custom.min.js"></script>
<script type="text/javascript" src="/js/jquery.ui.timepicker.js"></script>
<script type="text/javascript">
    $(document).ready(function(){
        $(".date").datepicker({dateFormat: "dd/mm/yy"});
    });
</script>