<link href="<?php echo HOST ?>css/select2.css" rel="stylesheet"/>
<script src="<?php echo HOST ?>js/select2.js"></script>
<style>
    .p-model .remove-model {
        margin-bottom: 9px;
    }

    .alert-msg {
        background: #F9EEB8;
        border-bottom-right-radius: 4px;
        border-bottom-left-radius: 4px;
        border-top: 2px solid #e55;
        /*display: none;*/
        margin: 0;
        /*margin-left: -200px;*/
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        z-index: 9999;
    }

    .alert-msg.show {
        display: inline-block;
    }

    .alert-msg p {
        font-weight: bold;
        font-size: 12px;
        font-family: tahoma, arial;
        margin: 0 10px;
        line-height: 2em;
        text-align: center;
    }
</style>


<div class="page-header">
    <h1>KPI Review</h1>
</div>
<?php echo $this->render('kpi-report/menu.phtml') ?>
<?php if(isset($this->messages) && $this->messages):
foreach ($this->messages as $key => $value): ?>
<div class="alert alert-danger"><?php echo $value; ?><div>
<?php endforeach; ?>
<?php endif; ?>

<div class="accordion" id="accordion2">
    <div class="accordion-group">
        <div class="accordion-heading">
            <a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion2" href="#collapseTwo">
                Search
            </a>
        </div>
        <div id="collapseTwo" class="accordion-body collapse" style="height: 0px;">
            <div class="accordion-inner">
                <?php
                    echo $this->render('timing/partials/kpi-review-search.phtml');
                ?>
            </div>
        </div>
    </div>
</div>

<div class="table-responsive">
<?php
if (isset($this->arr_staff_id) and $this->arr_staff_id and isset($this->month) and $this->month ):
        echo $this->render('timing/partials/kpi-review-pg-sale-list.phtml');
endif;
?>
</div>



<script type="text/javascript">
    var showOnlyOptionsSimilarToText = function (selectionEl, str, isCaseSensitive, callback) {
        if (typeof isCaseSensitive == 'undefined')
            isCaseSensitive = true;
        if (isCaseSensitive)
            str = str.toLowerCase();

        var $el = $(selectionEl);

        $el.children("option:selected").removeAttr('selected');
        $el.val('');
        $el.children("option").hide();

        $el.children("option").filter(function () {
            var text = $(this).text();
            if (isCaseSensitive)
                text = text.toLowerCase();

            if (text.indexOf(str) > -1)
                return true;

            return false;
        }).show();

        if (callback)
            eval(callback+'();');
    };

    function initSearchOption(){
        var timeout;
        $("#SearchBox").on("keyup", function () {
            var userInput = $("#SearchBox").val();
            window.clearTimeout(timeout);
            timeout = window.setTimeout(function() {
                showOnlyOptionsSimilarToText($("#d_id"), userInput, true);
            }, 500);

        });
    }

    function checkStoreName(e){
        var timeout;
        $("#name").on("keyup", function () {
            var id = $("#id").val().trim();
            var storeName = $("#name").val().trim();
            window.clearTimeout(timeout);
            timeout = window.setTimeout(function() {
                checkStoreNameAction(id, storeName);
            }, 500);

        });
    }

    function checkStoreNameAction(id, storeName) {
        $("#store_name_check").html('');

        if (storeName) {
            $.ajax({
                    url: '<?php echo HOST ?>ajax/check-store-name',
                    type: 'post',
                    dataType: 'html',
                    data: {id : id, store_name : storeName},
                })
                .done(function(data) {
                    console.log("success");

                    if (data) {
                        $("#store_name_check").html(data);
                    }
                })
                .fail(function() {
                    console.log("error");
                })
                .always(function() {
                    console.log("complete");
                });
                    
        }
    }

    $(document).ready(function () {
        initSearchOption();
        checkStoreName();

        $('.go-back').click(function(e){
            window.location.href = $('#back_url').val();

            return false;
        });

        $('#area_id').change(function(){
            $('form').bind('submit',function(e){e.preventDefault();});
            $('form button, form input, form select').prop('disabled', true);
            $('.loading').remove();

            $(this).after('<span class="loading"></span>');
            var _self = $(this);
            var area_id = $(this).val();
            $.get("/staff/load-province",
                {area_id: area_id}
                ,function(data,status){
                    $('form').unbind('submit');
                    $('form button, form input, form select').prop('disabled', false);

                    var obj = $.parseJSON( data );
                    $('#regional_market').find('option:not(:first)').remove();
                    for (var i = 0; i < obj.length; i++) {
                        $('#regional_market').append('<option value="'+obj[i]['id']+'">'+obj[i]['name']+'</option>');
                    }

                    $('.loading').remove();
                });
        });

        $('#regional_market').change(function(){
        	$('form').bind('submit',function(e){e.preventDefault();});
            $('form button, form input, form select').prop('disabled', true);
            $('.loading').remove();

            $(this).after('<span class="loading"></span>');
            var _self = $(this);
            var region = $(this).val();
            $.post("/ajax/get-district-cbb", {
                    region: region
                }
                ,function(data,status){
                    $('#district').find('option:not(:first)').remove();
                    
                    try {
                        if (data) {
                            var obj = $.parseJSON( data );
                            
                            for (var i = 0; i < obj.length; i++) {
                                $('#district').append('<option value="'+obj[i]['id']+'">'+obj[i]['name']+'</option>');
                            }                        
                        }

                    } catch(err) {

                    } finally {
                        $('.loading').remove();
                        $('form').unbind('submit');
                        $('form button, form input, form select').prop('disabled', false);
                    }
                });
        });

        $( "#s_name" ).keypress(function( event ) {
            if ( event.which == 13 ) {
                event.preventDefault();

                $('form').bind('submit',function(e){e.preventDefault();});
                $('form button, form input, form select').prop('disabled', true);

                $('.loading').remove();
                var _self = $(this);
                var targetUrl = '<?php echo HOST."staff?sname=2&off=-1&name=" ?>' + $('#s_name').val();

                //get ajax content
                var aj = _self.parent().parent().parent().next().find('.load-ajax');
                if (aj.length){
                    _self.after("<span class=\'loading\'></span>");
                    $.get(targetUrl
                        ,function(data,status){
                        	$('form').unbind('submit');
                        	$('form button, form input, form select').prop('disabled', false);
                            aj.html(data);
                            _self.next('.loading').remove();
                        });
                }

                return false;
            }
        });

        $('#add_btn_sales').click(function(){
            _self = $('#name_result');
            item  = _self.children('option:selected').clone();
            list  = $(item);

            for (var i = 0; i < item.length; i++) {

                if ( ! is_exists_sales( $(item[i]).attr('value') ) ) {
                    _des = $('#pic_name_sales');
                    _des.append(item[i]);
                }
            }
        });

        $('#add_btn_pg').click(function(){
            _self = $('#name_result');
            item = _self.children('option:selected').clone();
            list = $(item);

            for (var i = 0; i < item.length; i++) {

                if ( ! is_exists_pg( $(item[i]).attr('value') ) ) {
                    _des = $('#pic_name_pg');
                    _des.append(item[i]);
                }
            }
        });

        $('#remove_btn_sales').click(function(){
            _self = $('#pic_name_sales');
            item = _self.children('option:selected').remove();
        });

        $('#remove_btn_pg').click(function(){
            _self = $('#pic_name_pg');
            item = _self.children('option:selected').remove();
        });

        $('#submit_btn').click(function(){    
//            if ( ! $('#form')[0].checkValidity() ) {
//                $('#check_btn').click();
//                return false;
//            }

        	$('form#form button').prop('disabled', true);

            _name = $('#pic_name_pg option');
            id_str = '';
            
            for(var i = 0; i < _name.length; i++) {
                id_str += $(_name[i]).attr('value') + ',';
            }
            
            id_str = id_str.replace(/\,$/, '');
            $('#pic').val(id_str);

            _name = $('#pic_name_sales option');
            id_str = '';
            
            for(var i = 0; i < _name.length; i++) {
                id_str += $(_name[i]).attr('value') + ',';
            }
            
            id_str = id_str.replace(/\,$/, ''); //  alert(pic1); die();
            $('#pic1').val(id_str);
            
            $('#form').submit();
        });
    });

	function is_exists_sales(id) {
        _des = $('#pic_name_sales');
        items = _des.children('option');
        for(var i = 0; i < items.length; i++) {
            if ($(items[i]).attr('value') == id) {
                return true;
            }
        }
        return false;
    }

    function is_exists_pg(id) {
        _des = $('#pic_name_pg');
        items = _des.children('option');
        for(var i = 0; i < items.length; i++) {
            if ($(items[i]).attr('value') == id) {
                return true;
            }
        }
        return false;
    }

	function palert(msg){
        $('.alert-error').remove();
        $('.page-header').after('<div class="alert alert-error">'+msg+'</div>');
        $('form#form button').prop('disabled', false);
        return;
    }
</script>