
<style>

table td *,
table td{
  font-size: 9px!important;
}
.head-bar{
  display: block;
  margin: 30px 0;
}
input[type="checkbox"]{
  transform: scale(1.6);
}
.head-bar h1 a{
  text-decoration: underline;
  font-size: 15px;
  margin-right: 40px;
}
.table tr input[type='text']{
  width: calc(100% - 10px);
  display: block;
  margin-bottom: 0;
}
.table a{
  cursor: pointer;
}
.danger-row:hover td,
.danger-row:hover th,
.danger-row{
  background: #ff8800!important;
  color: #fff!important;
  font-weight: bold;
}
.danger-row a{
  color: #fff;
}
.mCode>*,
.mCode{
  font-size: 14px!important;
}
</style>
<div class="head-bar">
  <h1>Danh sách các phiếu gửi <a class="pull-right" href="<?php echo HOST.'form-print/create-nhat-tin'; ?>">Tạo phiếu gửi mới</a> </h1>
</div>
<?php
  echo $this->render('form-print/nhat-tin/search-bar-nhat-tin.phtml');
?>
<?php
    if (isset($this->messages) and $this->messages)
        foreach ($this->messages as $message):
            echo '<div class="alert alert-error">'.$message.'</div>';
        endforeach;

    if (isset($this->messages_success) and $this->messages_success)
        foreach ($this->messages_success as $message):
            echo '<div class="alert alert-success">'.$message.'</div>';
        endforeach;
?>
<div class="" style="margin-right: 10px; margin-top: 15px;">
  <form class="" action="<?php echo HOST.'form-print/import-nhat-tin' ?>" method="post" enctype="multipart/form-data" style="display: inline-block!important; margin-right: 10px;">
    <label class="btn btn-primary" style="margin-right: 10px;">
      UPLOAD DANH SÁCH NGƯỜI NHẬN
      <input type="file" class="hide" id="import_file" name="file">
    </label>
  </form>
  <a href="/form-print/save-code-nhat-tin" class="btn btn-success submit-all">SUBMIT ALL</a>
  <?php
    if($this->user_right){
    // if(true){
  ?>
  <a class="btn btn-danger multi-delete" style="margin-left: 20px;">DELETE ALL</a>
  <?php
    }
  ?>
  <a class="btn btn-primary multi-print" style="margin-left: 20px;">PRINT ALL</a>
</div>
<form class="" action="<?php echo HOST.'form-print/multiple-nhat-tin'; ?>" method="post" id="multiple_form">
  <table style="display: block; width: 100%;" class="table table-bordered">
  <thead>
    <th width="3%"> <input type="checkbox" id="select_all" name="" value=""> </th>
    <th width="3%">ID</th>
    <th width="8%">Mã phiếu</th>
    <th width="8%">Nguời gửi</th>
    <th width="7%">Số điện thoại Ng/Gửi</th>
    <th width="10%">Phòng ban Ng/Gửi</th>
    <th width="8%">Người nhận</th>
    <th width="10%">Địa chỉ Ng\Nhận</th>
    <th width="8%">Số điện thoại Ng/Nhận</th>
    <th width="10%">Nội dung</th>
<!--    <th width="3%">Gửi đảm bảo</th>-->
    <th width="7%">Hình thức chuyển phát</th>
<!--    <th width="3%">Phát hẹn giờ</th>-->
    <th width="7%">Hình thức thanh toán</th>
    <th width="7%">Ngày lập</th>
    <th width="10%">Action</th>
  </thead>
  <tbody>
    <?php
    $n = 1;
    if( isset($this->mail_list) )
      foreach ($this->mail_list as $key => $item) {
    ?>
      <tr>
        <td>
          <?php
            echo $this->offset + $n++;
            if( empty($item['mail_code']) ){
          ?>
          <input type="checkbox" name="selected_item[]" value="<?php echo $item['id']; ?>">
          <?php
            }
          ?>
        </td>
        <td><?php echo $item['id']; ?></td>
        <?php
          if( !empty($item['mail_code']) ){
        ?>
          <td class="mCode"><span><?php echo $item['mail_code']; ?></span></td>
        <?php
          } else {
        ?>
          <td class="mCode"><input type="text" name="" value=""></td>
        <?php
          }
        ?>
        <td><?php echo $item['sender_name']; ?></td>
        <td><?php echo $item['sender_phone']; ?></td>
        <td><?php echo $item['sender_department']; ?></td>
        <td><?php echo $item['receiver_name']; ?></td>
        <td title="<?php echo $item['receiver_address']; ?>"><?php echo $item['receiver_address']; ?></td>
        <td><?php echo $item['receiver_phone']; ?></td>
        <td><?php echo $item['content']; ?></td>
        <td>
          <?php
            if($item['type']==1){
              echo "<b>CPN</b>";
            }
          else if($item['type']==2){
              echo "<b>Hỏa tốc</b>";
          }
          else if($item['type']==3){
              echo "<b>Quốc tế</b>";
          }
            ?>
        </td>
        <td>
            <?php
            if($item['type_pay']==1){
                echo "<b>Công nợ</b>";
            }
            else if($item['type_pay']==2){
                echo "<b>Cá nhân</b>";
            }
            else if($item['type_pay']==3){
                echo "<b>Người nhận thanh toán</b>";
            }
            ?>
        </td>
        <td><?php echo $item['created_at']; ?></td>
        <td>
          <a href="<?php echo HOST.'form-print/edit-nhat-tin?id='.$item['id']; ?>">Edit</a>
          <span style="margin: 0 5px;">/</span>
          <?php
		  echo $this->user_right;
          // if(true){
            if( $this->user_right ){
          ?>
          <a class="delete-btn" data-id="<?php echo $item['id'] ?>">Delete</a>
          <span style="margin: 0 5px;">/</span>
          <?php
            }
          ?>
          <?php
            if( empty($item['mail_code']) ){
          ?>
          <a href="<?php echo HOST.'form-print/start-nhat-tin?id='.$item['id']; ?>" target="_blank">Print</a>
          <span style="margin: 0 5px;">/</span>
          <?php
            }
            if( empty($item['mail_code']) ){
          ?>
          <a data-id="<?php echo $item['id']; ?>" class="submit-code">SUBMIT</a>
          <?php
            }else{
          ?>
          <a href="<?php echo HOST.'form-print/copy-nhat-tin?id='.$item['id']; ?>">Copy</a>
          <?php
            }
          ?>

        </td>
      </tr>
    <?php
      }
    ?>
  </tbody>
</table>
</form>
<?php
  echo $this->paging($this->total, $this->limit, $this->offset, $this->url);
?>
<script type="text/javascript" src="<?php echo HOST ?>js/bootstrap-multiselect.js"></script>
<link rel="stylesheet" href="<?php echo HOST ?>css/bootstrap-multiselect.css" type="text/css"/>
<script type="text/javascript" src="<?php echo HOST ?>js/jquery-ui-1.8.12.custom.min.js"></script>
<link rel="stylesheet" type="text/css" href="<?php echo HOST ?>css/jquery-ui-1.8.12.custom.css"/>

<script type="text/javascript">
  $(".multi-delete").on('click', function(event) {
    event.preventDefault();
    $("#multiple_form")
      .append('<input type="hidden" name="function" value="delete">')
      .submit();
  });
  $(".multi-print").on('click', function(event) {
    event.preventDefault();
    $("#multiple_form")
      .append('<input type="hidden" name="function" value="print">')
      .submit();
  });
  $("#import_file").change(function(event) {
    $(this).parents('form').first().submit();
  });
  $("table tr input[type='text']").each(function(index, el) {
    var this_tr = $(this).parents('tr').first();
    this_tr.addClass('danger-row');
  });

  $(".submit-code").on('click', function(event) {
    event.preventDefault();
    var this_tr       = $(this).parents('tr').first();
    var this_input    = this_tr.find('input[type="text"]').first();
    var data_item      = {
      id: $(this).data('id'),
      mail_code: this_input.val()
    };
    if( $.trim(data_item.mail_code) != ""){
      var data_arr = [];
      data_arr[0] = data_item;
      var return_data = submit_data(data_arr);
    }
  });
  $("#select_all").on('change', function(event) {
    event.preventDefault();
    const this_val = $(this).prop('checked');
    $("table input[type='checkbox']").prop('checked', this_val);
  });
  $(".submit-all").on('click', function(event) {
    event.preventDefault();
    var data_arr = [];
    $("table tr input[type='text']").each(function(index, el) {
      if( $.trim($(this).val()) != '' ){
        var this_val = $(this).val(),
            this_tr = $(this).parents('tr').first(),
            this_id = this_tr.find('[data-id]').attr('data-id');

        var data_item = {
          id: this_id,
          mail_code: this_val
        };
        data_arr.push(data_item);
      }
    });
    submit_data(data_arr);
  });

  $(".delete-btn").on('click', function(event) {
      event.preventDefault();

      const this_id = $(this).data('id');
      var that_btn = $(this);

      $.post(
          '/form-print/delete-nhat-tin',
          {
            action: 'delete-nhat-tin',
            id    : this_id,
          },
          function(data, textStatus, xhr) {
            var return_data = (JSON.parse(data));
            if(return_data){
              const this_tr = that_btn.parents('tr').first();
              this_tr.fadeOut('slow');
              const cur_count = parseInt($(".pagination .count").text());
              $(".pagination .count").text(cur_count - 1);
              setTimeout(function(){
                this_tr.remove();
              }, 3000);
            }
          }
      );

    });

  function submit_data(data_arr){
    $.post(
        '/form-print/save-code-nhat-tin ',
        { data_arr: data_arr},
        function(data, textStatus, xhr) {
          var return_data = (JSON.parse(data));
          if( return_data.status ){
            if( return_data.count == 1){
              var that_data = data_arr[0];
              remove_danger(that_data);
            }else{
              location.reload();
            }
          }else{
            location.reload();
          }
        }
      );
  }

  function remove_danger(that_data){
    var this_submit   = $('[data-id="'+that_data.id+'"]');
    var this_tr       = this_submit.parents('tr').first();
    var this_input    = this_tr.find('input[type="text"]').first();
    var this_check    = this_tr.find('input[type="checkbox"]').first();
    var this_input_td = this_input.parents('td').first();
    var this_td       = this_submit.parents('td').first();
    this_input_td.append('<span>'+that_data.mail_code+'</span>');
    this_input.remove();
    this_check.remove();
    this_tr.removeClass('danger-row');
    this_td.children(".submit-code").first().remove();
    this_td.children('span').last().remove();
  }

</script>
