<style>
  .left, .right{
    width: 50%;
    float: left;
  }
  .head-bar h1 a{
    text-decoration: underline;
    font-size: 15px;
    margin-right: 40px;
  }
  .content-area div>div>span{
    width: 200px;
    font-weight: bold;
    float: left;
  }
  .content-area div{
    display: block;
    position: relative;
    overflow: hidden;
  }
  .content-area div>div>p{
    width: calc(100% - 200px);
    float: left;
  }
  .content-area>div>span{
    font-weight: bold;
    width: 100%;
    margin-bottom: 20px;
    display: block;
    border-bottom: solid 1px #ddd;
    font-size: 18px;
    margin-top: 20px;
    line-height: 30px;
  }
  .button{text-decoration: none; margin-bottom: 50px; display: inline-block; padding: 0 20px; line-height: 40px; width: 100px; text-align: center; background: grey; font-weight: bold; color: #fff;}
  .edit-button{background-color: green;}
  .button:hover{text-decoration: underline; color: inherit!important}
</style>
<div class="head-bar" style="margin-top: 20px;">
  <h1>Xem trước: <a href="<?php echo HOST.'form-print/list-nhat-tin' ?>" class="pull-right">Xem tất cả phiếu gửi</a></h1>
</div>
<div class="content-area" style="overflow: hidden; display: block;">
  <div class="left">
    <span>Người gửi: </span>
    <div>
      <span>Họ tên người gửi: </span>
      <p><?php echo $this->infor['sender_name']; ?></p>
    </div>
    <div>
      <span>Phòng ban:</span>
      <p><?php echo $this->infor['sender_department']; ?></p>
    </div>
    <div>
      <span>Điện thoại: </span>
      <p><?php echo $this->infor['sender_phone']; ?></p>
    </div>
    <div>
      <span>Nội dung: </span>
      <p><?php echo $this->infor['content']; ?></p>
    </div>
    <div>
      <span>Thư từ: </span>
      <p><?php echo boolval($this->infor['document']) ? 'Có' : 'Không'; ?></p>
    </div>
    <div>
      <span>Hàng hóa: </span>
      <p><?php echo boolval($this->infor['parcel']) ? 'Có' : 'Không'; ?></p>
    </div>
     <div>
      <span>Mã phiếu: </span>
      <p id="mail_code"><?php echo $this->infor['mail_code']; ?></p>
    </div>
      <div>
          <span>Hình thức chuyển phát: </span>
          <p id="type"><?php if($this->infor['type']==1) echo 'CPN';
             else if($this->infor['type']==2) echo 'Hỏa tốc';
             else if($this->infor['type']==3) echo 'Quốc tế';
              ?></p>
      </div>
      <div>
          <span>Hình thức thanh toán: </span>
          <p id="type_pay"><?php if($this->infor['type_pay']==1) echo 'Công nợ';
              else if($this->infor['type_pay']==2) echo 'Cá nhân';
              else if($this->infor['type_pay']==3) echo 'Người nhận thanh toán';
              ?></p>
      </div>
  </div>
  <div class="right">
    <span>Người nhận: </span>
    <div>
      <span>Họ tên người nhận: </span>
      <p><?php echo $this->infor['receiver_name']; ?></p>
    </div>
    <div>
      <span>Số nhà, Đường:</span>
      <p><?php echo $this->address['street']; ?></p>
    </div>
    <div>
      <span>Phường/Xã: </span>
      <p><?php echo $this->address['ward']; ?></p>
    </div>
    <div>
      <span>Quận/Huyện: </span>
      <p><?php echo $this->address['district']; ?></p>
    </div>
    <div>
      <span>Tỉnh/Thành phố: </span>
      <p><?php echo $this->address['city']; ?></p>
    </div>
    <div>
      <span>Quốc gia: </span>
      <p><?php echo $this->address['nation']; ?></p>
    </div>
    <div>
      <span>Điện thoại: </span>
      <p><?php echo $this->infor['receiver_phone']; ?></p>
    </div>
    <div>
      <span>Người nhận trả tiền: </span>
      <p><?php echo ($this->infor['receiver_pay'] == true) ? "Có" : "Không"; ?></p>
    </div>
  </div>
</div>
<div class="" style="margin: 40px;">
  <a href=" <?php echo HOST.'form-print/list-nhat-tin' ?>" class="btn back-btn" style="margin-right: 20px;">HOME</a>
  <a href=" <?php echo HOST.'form-print/edit-nhat-tin?id='.$this->id_infor ?>" class="btn btn-info">EDIT</a>
  <?php
    if(isset($this->show_print) && $this->show_print){
  ?>
  <a href=" <?php echo HOST.'form-print/start-nhat-tin?id='.$this->id_infor ?>" class="btn btn-success print-btn" style="margin-left: 20px;">PRINT</a>
  <?php
    }
  ?>
</div>
<script type="text/javascript">
</script>
