<style media="screen">
  .ui-datepicker-today a{
    background-color: green!important;
    font-weight: bold!important;
    color: #fff!important;
  }
</style>
<p style="display: block; width: 100%; line-height: 40px; background: #aaa; color: #fff; border-radius: 5px; padding: 0 20px; font-size: 16px; cursor: pointer;" onclick="$('.form-search').slideToggle();">Tìm kiếm phiếu gửi</p>
<form class="form-search form-horizontal" method="get" action="/form-print/list-nhat-tin" style=" padding: 20px; display: none;">
  <div class="row">
    <div class="span5">
      <?php
        if(boolval($this->user_right)){
      ?>
      <div class="control-group">
        <label for="sender_name" class="span2">Tên Ng/Gửi</label>
        <input id="sender_name" name="sender_name" type="text" class="input-medium search-query form-control" value="<?php isset($this->params['sender_name']) and printf($this->params['sender_name']);?>">
      </div>
      <div class="control-group">
        <label for="sender_phone" class="span2">Điện thoại Ng/gửi</label>
        <input id="sender_phone" name="sender_phone" type="text" class="input-medium search-query form-control" value="<?php isset($this->params['sender_phone']) and printf($this->params['sender_phone']);?>">
      </div>
      <div class="control-group">
        <label for="sender_department" class="span2">Phòng ban gửi</label>
        <select id="sender_department" name="sender_department" style="">
          <option value="" disabled selected>Vui lòng chọn</option>
          <?php
          if(isset($this->departments)){
            $selected = '';
            foreach ($this->departments as $key => $item) {
              if( $item == $infor_arr['sender_department'] ){
                $selected = "selected";
              }
              echo "<option value='$item' $selected>$item</option>";
            }
          }
          ?>
        </select>
      </div>
      
      <?php
        }
      ?>
        <div class="control-group">
        <label for="form_id" class="span2">ID</label>
        <input id="form_id" name="form_id" type="text" class="input-medium search-query form-control" value="<?php isset($this->params['id']) and printf($this->params['id']);?>">
      </div>
      <div class="control-group">
        <label for="mail_code" class="span2">Mã phiếu gửi</label>
        <input id="mail_code" name="mail_code" type="text" class="input-medium search-query form-control" value="<?php isset($this->params['mail_code']) and printf($this->params['mail_code']);?>">
      </div>
    </div>
    <div class="span5">
      <div class="control-group">
        <label for="receiver_name" class="span2">Tên Ng/Nhận</label>
        <input id="receiver_name" name="receiver_name" type="text" class="input-medium search-query form-control" value="<?php isset($this->params['receiver_name']) and printf($this->params['receiver_name']);?>">
      </div>
      <div class="control-group">
        <label for="receiver_phone" class="span2">Điện thoại Ng/nhận</label>
        <input id="receiver_phone" name="receiver_phone" type="text" class="input-medium search-query form-control" value="<?php isset($this->params['receiver_phone']) and printf($this->params['receiver_phone']);?>">
      </div>
      <div class="control-group">
        <label for="receiver_address" class="span2">Địa chỉ người nhận</label>
        <input id="receiver_address" name="receiver_address" type="text" class="input-medium search-query form-control" value="<?php isset($this->params['receiver_address']) and printf($this->params['receiver_address']);?>">
      </div>
      <div class="control-group">
          <label for="created_at" class="span2">Created At</label>
          <input id="created_at" name="created_at" type="text" class="input-large date search-query form-control" value="<?php isset($this->params['created_at']) and printf($this->params['created_at']);?>">
      </div>
      <div class="control-group">
         <label for="created_to" class="span2">Created To</label>
         <input id="created_to" name="created_to" type="text" class="input-large date search-query form-control" value="<?php isset($this->params['created_to']) and printf($this->params['created_to']);?>">
     </div>
    </div>
  </div>
  <button type="submit" class="btn btn-primary">Search</button>
  <button type="submit" class="btn btn-success" name="export" value="1">Export</button>
</form>
<style>
  .birth{width:12%}
</style>

<script type="text/javascript" src="/js/jquery-ui-1.8.12.custom.min.js"></script>
<link rel="stylesheet" type="text/css" href="/css/jquery-ui-1.8.12.custom.css"/>
<script src="../js/tag-it.min.js" type="text/javascript" charset="utf-8"></script>
<link href="../css/jquery.tagit.css" rel="stylesheet" type="text/css">
<link href="../css/tagit.ui-zendesk.css" rel="stylesheet" type="text/css">

<script>

function initTag(){


  $('#myTags').tagit({
    allowSpaces: true,
    fieldName: 'tags[]',
    autocomplete: {
      delay: 0,
      minLength: 2,
      source: "<?php echo HOST;?>ajax/get-tags"
    }
  });

}

$(document).ready(function () {
  $( '.date' ).datepicker({ dateFormat: "dd/mm/yy" });
  initTag();
});
</script>
