<div class="page-header">
    <h1>Update Policy</h1>
</div>

<form class="form-edit form-horizontal" method="post" action="" />
	<div class="span12">
		<div class="control-group">
            <label class="span2">Title</label>
            <input type="text" class="span7" required placeholder="Title" name="title" value="<?php echo isset($this->data['title'])?$this->data['title']:''; ?>">
        </div>
        <div class="control-group">
            <label class="span2">Notes</label>
            <textarea class="span7" rows="5" placeholder="Note" name="note"><?php echo isset($this->data['note'])?$this->data['note']:''; ?></textarea>
        </div>
        <div class="control-group">
            <label class="span2">Area</label>
            <select id="area_id" name="area_id[]" class="span3" multiple="multiple">
                <?php
                if ($this->areas) :
                    foreach ($this->areas as $area):
                        ?>
                        <option value="<?php echo $area->id;?>" <?php if(in_array($area->id, $this->area_id)){ ?> selected<?php }?>><?php echo $area->name;?></option>
                    <?php
                    endforeach;
                endif;
                ?>
            </select>
        </div>
        <div class="control-group">
            <a href="/policy/index" class="btn btn-success">Back to list</a> <button class="btn btn-primary">Update</button>
        </div>
        <?php
        	if(isset($this->message) && !empty($this->message))
        	{
        		?>
        		<div class="alert alert-<?php echo ($this->message['message'] == true)?'success':'danger' ?>">
				<?php echo $this->message['message'] ?>
				</div>
        		<?php
        	}
        ?>
	</div>
</form>
<link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.3/css/select2.min.css">
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.3/js/select2.min.js"></script>
<script>
    $("#area_id").select2();
</script>