<div class="container">
<p  align="center" style="text-align:center" id="page-break"><b>CỘNG HÒA XÃ HỘI CHỦ NGHĨA VIỆT <st1:place w:st="on"><st1:country-region w:st="on">NAM</st1:country-region></st1:place><o:p></o:p></b></p>

<p  align="center" style="text-align:center"><b><u>Độc lập – Tự do – Hạnh phúc<o:p></o:p></u></b></p>

<?php if(isset($v['company_id']) and $v['company_id'] == COMPANY_OPPO) : ?>
<p >Tên đơn vị: Cty TNHH MTV Kỹ Thuật Và Khoa Học Oppo&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
<o:p></o:p></p>

<p >Số<i>:&nbsp; </i><i><span style="font-size:9pt;color:blue"><?php echo '0'.$v['code'] ?> / PL</p>

</span></i><span style="font-size:10.0pt"><o:p></o:p></span></p>

<p  align="center" style="text-align:center"><b><span class="title">
            Phụ lục hợp đồng lao động
            <o:p></o:p></span></b></p>

<p class="cols"><br>
Chúng tôi, một bên là Ông/Bà:&nbsp;<b>TÔ THỊ THU THỦY</b>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Quốc tịch: Việt Nam <o:p></o:p></p>

<p class="cols">Chức vụ:&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Trưởng
Phòng Nhân Sự<o:p></o:p></p>

<p class="cols">Đại diện cho (1): Công ty TNHH MTV Kỹ Thuật Và Khoa
Học OPPO căn cứ theo giấy ủy quyền số 132/UQ-OPPO ngày&nbsp;&nbsp; 01/04/2013&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Điện
thoại: <span lang="VI" class="phone">08.39202.555</span><o:p></o:p></p>

<p class="cols">Địa chỉ: Tòa
nhà SCB, 242 Cống Quỳnh, P. Phạm Ngũ Lão, Quận 1, TPHCM.<o:p></o:p></p>

<?php elseif(isset($v['company_id']) and $v['company_id'] == COMPANY_DIDONGTHONGMINH): ?>

<p >Tên đơn vị: Cty TNHH DI ĐỘNG THÔNG MINH&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    <o:p></o:p></p>

                 <p >Số<i>:&nbsp; </i><i><span style="font-size:9pt;color:blue"><?php echo '0'.$v['code'] ?> / PL</p>

                                                                                                               </span></i><span style="font-size:10.0pt"><o:p></o:p></span></p>

<p  align="center" style="text-align:center"><b><span class="title">
Phụ lục hợp đồng lao động
<o:p></o:p></span></b></p>

<p class="cols"><br>
    Chúng tôi, một bên là Ông/Bà:&nbsp; <b>VŨ THỊ CẨM VÂN</b>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Quốc tịch: Việt Nam <o:p></o:p></p>

<p class="cols">Chức vụ:&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Giám đốc<o:p></o:p></p>

<p  style="text-align:justify;line-height:13.0pt;mso-line-height-rule:
    exactly;tab-stops:4.5in">Đại diện cho Công ty TNHH DI ĐỘNG THÔNG MINH&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Điện
    thoại: <span lang="VI" style="font-size:11.0pt;mso-bidi-font-size:12.0pt;
    mso-ansi-language:VI">0</span><span style="font-size:11.0pt;mso-bidi-font-size:
    12.0pt">8</span><span lang="VI" style="font-size:11.0pt;mso-bidi-font-size:12.0pt;
    mso-ansi-language:VI">.</span><span style="font-size:11.0pt;mso-bidi-font-size:
    12.0pt">3925.1900</span><o:p></o:p></p>

    <p  style="text-align:justify;line-height:8.0pt;mso-line-height-rule:
    exactly;tab-stops:4.5in">Địa chỉ: <span style="color: rgb(51, 0, 0); background-image: initial; background-attachment: initial; background-size: initial; background-origin: initial; background-clip: initial; background-position: initial; background-repeat: initial;">56 Hồ Tùng Mậu, P. Bến Nghé, Quận 1, TPHCM.</span><o:p></o:p></p>


<?php endif; ?>

<p  style="margin-left:4.5in;text-align:justify;text-indent:
-4.5in;line-height:8.0pt;mso-line-height-rule:exactly;tab-stops:4.5in">Và một
bên là Ông/Bà:&nbsp;<b><span style="color:blue"><?php isset($v) and $v and printf($v['firstname']);?></span></b><b><span style="color:blue"> </span></b><b><span style="color:blue"><?php isset($v) and $v and printf($v['lastname']);?></span></b><b>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </b>Quốc
tịch: Việt Nam <o:p></o:p></p>

<p  style="text-align:justify;line-height:8.0pt;mso-line-height-rule:
exactly;tab-stops:207.0pt 4.5in">Sinh ngày:&nbsp;&nbsp;
<span class="blue"><?php isset($v) and $v['dob'] and printf($v['dob']);?></span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Tại: <span style="color:blue;text-transform: uppercase;"><?php isset($v) and $v and printf($v['birth_place']);?></span><o:p></o:p></p>

<p class="cols">Nghề nghiệp :&nbsp;&nbsp; <o:p></o:p></p>

<p class="cols">Địa chỉ thường trú:<span style="color:blue;text-transform: uppercase;"> <?php isset($v) and $v and printf($v['permanent']);?></span><span style="color:
blue">.</span><o:p></o:p></p>

<p class="cols"><span lang="VI">Số
CMND</span><span lang="VI"> </span><span lang="VI">:</span><span lang="VI"> </span><span class="blue"><?php isset($v) and $v and printf($v['ID_number']);?></span><span style="color:blue"> </span>Cấp ngày&nbsp; <span style="color:blue"><?php isset($v) and $v['ID_date'] and printf(date('d/m/Y',strtotime($v['ID_date'])));?></span><span style="color:blue"> </span>&nbsp;&nbsp;Tại:&nbsp; <span style="color:blue"><?php isset($v) and $v and printf($v['ID_place']);?></span><span style="color:blue"><o:p></o:p></span></p>

<p class="cols">Căn cứ hợp đồng số <?php if(isset($v['code']) and $v['code']) echo $v['code'] . '/0' .$v['print_time']; ?> Ngày <span style="color:blue"><?php isset($v) and $v['original_date'] and printf(date('d',strtotime($v['original_date'])));?></span><span style="color:blue"> tháng <?php isset($v) and $v['original_date']  and printf(date('m',strtotime($v['original_date'] )));?></span>
năm<span style="color:blue"> </span><span style="color:blue"><?php isset($v) and $v['original_date']  and printf(date('Y',strtotime($v['original_date'] )));?></span>
và nhu cầu sử dụng lao động, hai bên cùng thỏa thuận thay đổi một số nội dung của Hợp đồng mà hai bên đã ký kết như sau:<o:p></o:p></p>

<p class="cols"><b>1. Nội dung thay đổi <o:p></o:p></b></p>

<p class="cols2">-<span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
</span></span> Địa điểm làm việc và chức danh chuyên môn mới:<o:p></o:p></p>

<p class="cols2"><span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
</span></span> <strong><?php echo $title; ?></strong>  tại khu vực tỉnh/TP </b><b><?php echo $this->regional_markets[$v['regional_market']]; ?></b>.<o:p></o:p></p>
<!-- INCLUDE FILE -->
<?php if(isset($v['title']) and in_array($v['title'],array(PGPB_TITLE,CHUYEN_VIEN_BAN_HANG_TITLE)))
    echo $this->partial('contract/partials/template/phuluc-pg.phtml',array('v'=>$v));   ?>

<?php if(isset($v['title']) and in_array($v['title'], array(SALES_TITLE , SALES_ACCESSORIES_TITLE ,SALES_ACCESSORIES_LEADER_TITLE, SALES_LEADER_TITLE)))
    {
        if($v['title'] == SALES_LEADER_TITLE)
        {
            echo $this->partial('contract/partials/template/phuluc-saleleader.phtml',array('v'=>$v));
        }
        else
        {
            echo $this->partial('contract/partials/template/phuluc-sale.phtml',array('v'=>$v));
        }
    } 
    ?>
<!-- END INCLUDE FILE-->

<p class="cols"><b>2.	Thời gian thực hiện:<o:p></o:p></b> &nbsp;Hiệu lực áp dụng  từ ngày <span style="color:blue"><?php isset($v['transfer_from']) and $v['transfer_from'] and printf(date('d',strtotime($v['transfer_from'])));?></span><span style="color:blue"> tháng <?php isset($v['transfer_from']) and $v['transfer_from'] and printf(date('m',strtotime($v['transfer_from'])));?></span> năm <?php isset($v['transfer_from']) and $v['transfer_from'] and printf(date('Y',strtotime($v['transfer_from'])));?></span>

đến hết ngày <span style="color:blue"><?php isset($v) and $v['contract_expired_at'] and printf(date('d',strtotime($v['contract_expired_at'])));?></span><span style="color:blue"> tháng <?php isset($v['contract_expired_at']) and $v['contract_expired_at'] and printf(date('m',strtotime($v['contract_expired_at'])));?></span> năm <?php isset($v['contract_expired_at']) and $v['contract_expired_at'] and printf(date('Y',strtotime($v['contract_expired_at'])));?>.</p>
<p class="cols height">Phụ lục này là một bộ phận của hợp đồng số <?php echo $v['code'] ?>/<?php echo '0'.$v['print_time'] ?> , được làm thành 02 bản có giá trị như nhau, mỗi bên giữ một bản là cơ sở để giải quyết khi có tranh chấp lao động ./.</p>

<p  style="margin-left:.25in;text-align:justify;tab-stops:207.0pt 4.5in"><o:p>&nbsp;</o:p></p>

<p  style="margin-left:.25in;tab-stops:center 1.25in left 207.0pt">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; <b>NGƯỜI LAO ĐỘNG&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &nbsp; <?php if(isset($v['company_id']) and $v['company_id'] == 1) echo '<span style="margin-left:145px">TRƯỞNG PHÒNG NHÂN SỰ</span>'; else echo '<span style="margin-left:185px">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;GIÁM ĐỐC</span>'; ?><o:p></o:p></b></p>
<p  style="margin-left:.25in;tab-stops:center 1.25in left 207.0pt center 5.0in"><b>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </b><i>(Kí &amp; ghi rõ họ tên)</i>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; <i style="margin-left: 140px;">(Kí tên và đóng dấu)<o:p></o:p></i></p>
<p  style="margin-left:.25in;tab-stops:center 1.25in left 207.0pt center 351.0pt"><b>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; <o:p></o:p></b></p>
<p ><b>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; <o:p></o:p></b></p>
<p ><b>&nbsp;</b></p>
<p style="margin-left:150px;" ><b>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<?php if(isset($v['company_id']) and $v['company_id'] == 1) echo 'TÔ THỊ THU THỦY'; else echo "&nbsp; &nbsp;".'VŨ THỊ CẨM VÂN'; ?></b><b><span style="font-size:11.0pt"><o:p></o:p></span></b></p>
</div>