<?php
if(
    in_array($this->userStorage->group_id,array(HR_ID,ADMINISTRATOR_ID))
    OR
    (
        in_array($this->userStorage->group_id,array(ASM_ID,ASMSTANDBY_ID,SALES_ADMIN_ID) )
        /*
        AND ( 1 <= intval(date('d'))
        AND intval(date('d')) <= 17)
        */
    )
){
    ?>
    <div class="pull-right" style="margin-top: 0px">
        <?php if(in_array($this->userStorage->group_id,array(ASM_ID,ASMSTANDBY_ID,SALES_ADMIN_ID))):?>
            <select name="area_id_confirm" class="control-form">
                <?php if( count($this->area_id_confirm) > 1){?>
                    <option value="0">Chọn khu vực xác nhận</option>
                <?php }?>
                <?php
                foreach($this->areas as $k => $v):
                    if(in_array($k,$this->area_id_confirm)):
                        ?>
                        <option value="<?php echo $k?>"><?php echo $v;?></option>
                    <?php
                    endif;
                endforeach;
                ?>
            </select>
        <?php endif;?>
        <input type="text" value="<?php if(isset($this->params['confirm_date']) AND $this->params['confirm_date'] ) echo $this->params['confirm_date'];?>" class="month" name="confirm_date"  style="width: 100px;">
        <label  style="display: inline-block;" for="confirm">
            <input type="checkbox" name="confirm" id="confirm" value="1" style="display: inline;"> Xác nhận
        </label>
        <button type="submit" name="btnConfirm" value="1" id="rollback" class="btn btn-primary pull-right" style="margin: 0px 10px;">
            Submit
        </button>
    </div>
<?php }?>

<?php
if(in_array($this->userStorage->group_id,array(ADMINISTRATOR_ID,HR_ID))):
    ?>
    <div class="pull-right" style="margin-right: 15px; margin-top: -8px;">
        <input type="text" name="set_date" value="<?php if(isset($this->params['set_date'])) printf($this->params['set_date'])?>" style="width: 120px; margin-top: 10px; margin-bottom: 10px;" class="date"/>
        <button class="btn btn-warning" type="submit" name="btnSetPrintStatus" value="1">Print for Officer</button>
        <button type="submit" class="btn btn-success" value='1' name="btnSetDate">HD Trả về</button>
        <a id='print_appendix' href='#' class="btn btn-inverse" style="margin: 0px 10px;">Print Phụ lục</a>
        <a id='print' href='#' class="btn btn-inverse ">Print</a>
        <button type="submit" name="btnApproveByStaff" value="1" id="btnApproveByStaff" class="btn btn-primary pull-right" style="margin: 10px 0px 0px 5px;">
            Approve by staff
        </button>
        <button type="submit" name="btnRefresh" value="1" id="refresh" class="btn btn-primary" style="margin-left: 1px;">
            Refresh
        </button>
    </div>
<?php
endif;
?>