<?php
    $action =  Zend_Controller_Front::getInstance()->getRequest()->getActionName();;
    $staff_preview = $approve = $staff_contract =  $staff_new = $staff_transfer = '';
    if($action == 'index'){
        $staff_preview = 'active';
    }elseif($action == 'area-approve'){
        $approve = 'active';
    }elseif($action == 'staff-contract'){
        $staff_contract = 'active';
    }elseif($action == 'staff-new'){
        $staff_new = 'active';
    }elseif($action == 'staff-transfer'){
        $staff_transfer = 'active';
    }
?>

<ul class="nav nav-tabs" id="myTab">
    <li class="<?php echo $staff_preview;?>"><a href="<?php echo ($staff_preview) ? '#' : '/contract/';?>">Danh sách đề xuất tái ký hợp đồng</a></li>
    
    <?php if($this->access('contract','staff-transfer')):?>
    <li class="<?php echo $staff_transfer;?>"><a href="<?php echo ($staff_transfer) ? '#' : '/contract/staff-transfer';?>">Danh sách HĐ bất thường</a></li>
    <?php endif;?>

    <?php if($this->access('contract','staff-new')):?>
    <li class="<?php echo $staff_new;?>"><a href="<?php echo ($staff_new) ? '#' : '/contract/staff-new';?>">Danh sách HĐ cho nhân viên mới</a></li>
    <?php endif;?>

    <li class="<?php echo $staff_contract;?>"><a href="<?php echo ($staff_contract) ? '#' : '/contract/staff-contract';?>">Lịch sử HD</a></li>

    <?php if($this->access('contract','area-approve')):?>
    <li class="<?php echo $approve;?>"><a href="<?php echo ($approve) ? '#' : '/contract/area-approve';?>">Danh sách khu vực xác nhận</a></li>
    <?php endif;?>
</ul>
