<style>
    .image-input .image-input-wrapper{width: 200px !important; height: 200px !important;}
    .file_wrap{
        display: block;
        float: left;
        border: 1px solid #CCC;
        border-radius: 4px;
        padding: 10px 0px 5px 0px;
        position: relative;
        width: 220px;
        margin: 15px;
    }

    .file_wrap .delete-file{
        color: red;
        display: block;
        position: absolute;
        cursor: pointer;
        padding: 0px 3px;
        right: 5px;
        top: 5px;
        background: #FFF;
        border-radius: 4px;
        border: 1px solid red;
    }

    .file_request{
        display: block;
        text-align: center;
    }

    .file_request .icon-file{
        font-size: 50px;
        color: lightseagreen;
    }
</style>
<div class="page-header">
    <h1>Tạo mới khóa học</h1>
</div>

<?php
if(!empty($this->hr_course)):
    $textarea_height = round(strlen($this->hr_course['content']) / 32, 0);
endif;
?>
<form action="/hr-course/save-course" method="POST" enctype="multipart/form-data">
    <div class="card card-custom">
        <div class="card-header">
            <h3 class="card-title" style="color:#0B9F6B;">
                Thông tin
            </h3>
        </div>

        <div class="container">
            <div class="card-body">
                <div class="form-group">
                    <label>Khóa học</label>
                    <input type="text" name="name" autocomplete="off" class="form-control form-control-solid span12" placeholder="Nhập tên khóa học" value="<?php echo !empty($this->hr_course['name']) ? $this->hr_course['name'] : NULL;?>" required />
                </div>

                <div class="form-group">
                    <label>Loại</label>
                    <select name="type" id="is_online" class="form-control form-control-solid span12">
                        <option value="">-- Please select --</option>
                        <option value="1" <?php if(!empty($this->hr_course['type']) and $this->hr_course['type'] == '1'):?>selected<?php endif; ?>>Online</option>
                        <option value="2" <?php if(!empty($this->hr_course['type']) and $this->hr_course['type'] == '2'):?>selected<?php endif; ?>>Offline</option>
                    </select>
                </div>

                <div class="form-group" <?php if(!empty($this->hr_course['type']) and $this->hr_course['type'] != 1): ?>style="display: none"<?php endif; ?> id="is_link">
                    <label>Chèn link video</label>
                    <input type="text" autocomplete="off" name="link" class="form-control form-control-solid span12 is_re" value="<?php echo !empty($this->hr_course['link']) ? $this->hr_course['link'] : NULL;?>"/>
                </div>

                <div class="form-group">
                    <label>Nội dung</label>
                   <div class="controls">
                        <textarea name="content" class="form-control form-control-solid span12" id="content" required><?php echo !empty($this->hr_course['content']) ? $this->hr_course['content'] : NULL;?></textarea>
                    </div>
                </div>

                <div class="form-group">
                    <label>Thời gian bắt đầu</label>
                    <input type="text" autocomplete="off" name="from_date" class="form-control form-control-solid kt_datepicker span12" value="<?php echo !empty($this->hr_course['from_date']) ? $this->hr_course['from_date'] : NULL;?>" required/>
                </div>

                <div class="form-group">
                    <label>Thời gian kết thúc</label>
                    <input type="text" autocomplete="off" name="to_date" class="form-control form-control-solid kt_datepicker span12" value="<?php echo !empty($this->hr_course['to_date']) ? $this->hr_course['to_date'] : NULL;?>" required/>
                </div>

                <div class="form-group">
                    <label>Giảng viên</label>
                    <input type="text" name="lecturer" autocomplete="off" class="form-control form-control-solid span12" placeholder="Nhập tên giảng viên" value="<?php echo !empty($this->hr_course['lecturer']) ? $this->hr_course['lecturer'] : NULL ?>" />
                </div>

                <div class="form-group">
                    <label>Học viên</label>
                    <select name="student_type" class="form-control form-control-solid span12">
                        <option value="">-- Please select --</option>
                        <option value="1" <?php if(!empty($this->hr_course['student_type']) and $this->hr_course['student_type'] == '1'):?>selected<?php endif; ?>>Quản lý</option>
                        <option value="2" <?php if(!empty($this->hr_course['student_type']) and $this->hr_course['student_type'] == '2'):?>selected<?php endif; ?>>Nhân viên</option>
                    </select>
                </div>

                <div class="control-group">
                    <label>Ghi chú</label>
                    <div class="controls">
                        <textarea name="note" class="form-control form-control-solid span12"><?php echo !empty($this->hr_course['note']) ? $this->hr_course['note'] : NULL;?></textarea>
                    </div>
                </div>

                <div class="control-group">
                    <label>Hình đại diện</label>
                    <div class="image-input image-input-outline" id="wallpaper_image" style="background-image: url(<?php echo HOST; ?>img/default_img.jpg)">
                        <div class="image-input-wrapper" style="background-image: url(<?php echo HOST; ?>files/hr-course/<?php echo !empty($this->hr_course['file']) ? $this->hr_course['id'] . "/" . $this->hr_course['file'] : NULL  ?>)"></div>
                        <label class="btn btn-xs btn-icon btn-circle btn-white btn-hover-text-primary btn-shadow" data-action="change" data-toggle="tooltip" title="" data-original-title="Change avatar">
                            <i class="fa fa-pen icon-sm text-muted"></i>
                            <input type="file" name="file" accept=".png, .jpg, .jpeg"/>
                        </label>
                        <span class="btn btn-xs btn-icon btn-circle btn-white btn-hover-text-primary btn-shadow" data-action="cancel" data-toggle="tooltip" title="Cancel avatar">
                            <i class="ki ki-bold-close icon-xs text-muted"></i>
                        </span>
                        <span class="btn btn-xs btn-icon btn-circle btn-white btn-hover-text-primary btn-shadow" data-action="remove" data-toggle="tooltip" title="Remove avatar">
                            <i class="ki ki-bold-close icon-xs text-muted"></i>
                        </span>
                    </div>
                </div>

                <div class="control-group">
                    <label>Tài liệu khóa học</label>
                    <div class="controls">
                        <input type="file" name="document" class="document_input" <?php if(!empty($this->hr_course) and $this->hr_course['document']): ?>style="display: none"<?php endif ?>/>
                        <?php if(!empty($this->hr_course) and $this->hr_course['document']): ?>
                            <div class="file_wrap">
                                <a class="file_request span2" href="<?php echo HOST . 'files/hr-course/doc/' . $this->hr_course['id'] . '/' . $this->hr_course['document']; ?>" target='_blank'>
                                    <i class='icon-file'></i>
                                    <div class="title_file">
                                        <i class="icon icon-paste" style="color: red"></i>
                                        <span>Tài liệu <br> <?php echo $this->hr_course['name']; ?><br> <i style='color: blue'><?php echo '(' . $this->hr_course['created_at'] . ')' ;?></i></span>
                                    </div>
                                </a>
                                <div class="delete-file">
                                    <i class="icon icon-remove"> Delete</i>
                                </div>
                                <input class="delete_file_input" type="hidden" name="file_delete" value="0" />
                            </div>
                        <?php endif; ?>
                    </div>
                </div>

            </div>
            <div class="card-footer pull-right">
                <input type="hidden" name="id" value="<?php echo !empty($this->hr_course) ? $this->hr_course['id'] : NULL;?>" />
                <button type="submit" class="btn btn-primary mr-2">Lưu thông tin <i class="fas fa-check-circle"></i></button>
            </div>
        </div>
    </div>
</form>
<script type="text/javascript" src="<?php echo HOST?>ckeditor/ckeditor.js"></script>
<script src="<?php echo HOST ?>js/jsrender.min.js"></script>
<script>
    config = {};
    config.toolbar = [
        { name: 'clipboard', groups: [ 'clipboard', 'undo' ], items: [ 'Cut', 'Copy', 'Paste', 'PasteText', 'PasteFromWord', '-', 'Undo', 'Redo' ] },
        { name: 'basicstyles', groups: [ 'basicstyles', 'cleanup' ], items: [ 'Bold', 'Italic', 'Underline', 'Strike', 'Subscript', 'Superscript', '-', 'RemoveFormat' ] },
        { name: 'about', items: [ 'Source' ] },
        '/',
        { name: 'paragraph', groups: [ 'list', 'indent', 'blocks', 'align', 'bidi' ], items: [ 'NumberedList', 'BulletedList', '-', 'Outdent', 'Indent', '-', 'Blockquote', 'CreateDiv', '-', 'JustifyLeft', 'JustifyCenter', 'JustifyRight', 'JustifyBlock', '-', 'BidiLtr', 'BidiRtl', 'Language' ] },
        { name: 'links', items: [ 'Link', 'Unlink', 'Anchor' ] },
        { name: 'insert', items: [ 'Image', 'Flash', 'Table', 'HorizontalRule', 'Smiley', 'SpecialChar', 'PageBreak', 'Iframe' ] },
        '/',
        { name: 'styles', items: [ 'Styles', 'Format', 'Font', 'FontSize' ] },
        { name: 'colors', items: [ 'TextColor', 'BGColor' ] },
        { name: 'tools', items: [ 'Maximize', 'ShowBlocks' ] },
        { name: 'others', items: [ '-' ] }
    ];
    config.enterMode = CKEDITOR.ENTER_BR;
    config.shiftEnterMode = CKEDITOR.ENTER_P;
    CKEDITOR.replace( 'content' , config);
</script>
<script>
    $(document).ready(function(){
        KTBootstrapDatepicker.init();

        $('.delete-file').click(
            function(){
                var file_wrap    = $(this).closest('.file_wrap');
                var input_hidden = $(this).closest('.file_wrap').find('.delete_file_input');
                input_hidden.val(1);
                file_wrap.hide();
                $('.document_input').show();
            }
        );
    });

    $(function() {
        $('#is_online').change(function(){
            if($(this).val() === '1') {
                $('#is_link').show();
                $(".is_re").prop('required',true);
            } else {
                $('#is_link_temp').remove();
                $('#is_link').hide();
                $(".is_re").prop('required', false);
            }
        });
    });

    var KTBootstrapDatepicker = function () {
        var arrows;
        if (KTUtil.isRTL()) {
            arrows = {
                leftArrow: '<i class="la la-angle-right"></i>',
                rightArrow: '<i class="la la-angle-left"></i>'
            }
        } else {
            arrows = {
                leftArrow: '<i class="la la-angle-left"></i>',
                rightArrow: '<i class="la la-angle-right"></i>'
            }
        }

        var metronic_datepicker = function () {
            $('.kt_datepicker').datepicker({
                format: "yyyy-mm-dd",
                rtl: KTUtil.isRTL(),
                orientation: "bottom",
                todayHighlight: true,
                templates: arrows
            });
        };

        return {
            init: function() {
                metronic_datepicker();
            }
        };
    }();
    var avatar1 = new KTImageInput('wallpaper_image');
</script>