<?php if(isset($this->error)): ?>
    <div class="span5">
        <div class="alert alert-error"><?php echo $this->error; ?></div>
    </div>
<?php else: ?>
    <style>
        .table-bordered th{
            background: #e2efda;
            color: #000;
            text-align: center;
            border: 1px solid #b3b3b3 !important;
            text-transform: none;
            font-size: 12px;
            vertical-align: middle
        }
        .block-course h4{text-align: center;color:green;text-transform: uppercase}
        .block-course img{max-width: 100%}
    </style>
    <div class="container text-center">
        <h1>Danh sách học viên tham gia</h1>
        <h4 style="color:Red">KHÓA HỌC</h4>
        <h3 style="color:Red"><?php echo $this->course; ?></h3>
    </div>
    <div class="container">
        <table class="table table-bordered">
            <tbody><tr>
                <th>Mã nhân viên</th>
                <th>Phòng ban</th>
                <th>Tên nhân viên</th>
                <th>Chức danh</th>
            </tr>
            <?php foreach ($this->list as $value): ?>
            <tr style="background: #f5fbff;">
                <td><?php echo $value['staff_code']; ?></td>
                <td><?php echo (isset($this->recursiveDeparmentTeamTitle[$value['department']]['name']) ? $this->recursiveDeparmentTeamTitle[$value['department']]['name'] : '');?></td>
                <td><?php echo $value['full_name']; ?></td>
                <td><?php echo $value['position']; ?></td>
                <td style="display: none"><input type="hidden" name="staff_id[]" value="<?php echo $value['staff_id']; ?>" /></td>
            </tr>
            <?php endforeach; ?>
            </tbody>
        </table>
    </div>
<?php endif; ?>
