<style>
    .star {cursor: pointer;}
    .file_wrap{display: block; float: left; border: 1px solid #CCC;
        border-radius: 4px; padding: 10px 0px 5px 0px; position: relative;
        width: 220px; margin: 15px;
    }
    .file_request{display: block; text-align: center;}
    .oppo-title{color: #0B9F6B !important;}
    .content_layout{overflow: hidden;}
    .desktop-classroom{min-height: 60vh !important;}
    .container{padding: 0 0 !important;}
    .wizard-content .wizard>.content>.body {
        padding: 0 0 !important;
    }
    .card-no-shadow{-webkit-box-shadow: none !important;}
    .embed-cover {
        position: absolute; top: 0; left: 0; bottom: 0; right: 0; opacity: 0.25; width: 90%; margin: auto;
    }
</style>

<div id="classroom_main">
    <div class="page-header">
        <h1>Trang thông tin khóa học</h1>
    </div>

    <?php if($this->IS_MOBILE): ?>
        <div class="row-fluid">
        <div class="flex-column">
            <div class="card card-custom gutter-b">
                <div class="card-header pt-5">
                    <h3 class="card-title align-items-start flex-column mb-3">
                        <span class="card-label font-weight-bolder oppo-title">Thông tin khóa học</span>
                    </h3>
                </div>
                <div class="card-body pt-4">
                    <div class="form-group mb-8">
                        <label class="font-weight-bolder">Khóa học: <mark style="font-weight: normal" class="text-primary"><?php echo $this->course['name']; ?></mark></label>
                    </div>
                    <div class="form-group mb-8">
                        <label class="font-weight-bolder">Giảng viên: <mark style="font-weight: normal" class="text-primary"><?php if(isset($this->course['lecturer']) and $this->course['lecturer']) {echo $this->course['lecturer'];}else{echo "Chưa cập nhập";}?></mark></label>
                    </div>
                    <div class="form-group mb-8">
                        <div class="controls">
                            <svg id="bdb04d07-607e-4453-aab0-0c653d7063a3" data-name="Layer 1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 883.92913 713.74554"><path d="M739.66018,492.74054c-18.647,11.18315-51.86947,25.19569-85.81929,10.79516l-21.9459-9.309,43.97806-49.2989a210.03369,210.03369,0,1,1,63.78713,47.8127Zm-84.26208-189.247A174.54122,174.54122,0,0,0,710.9697,431.9115l12.13072,11.39955-27.67378,31.0213c14.41483-2.92473,26.96977-10.72271,33.3359-15.25183l8.73508-6.21551,9.39476,5.16211a176.34274,176.34274,0,0,0,84.70584,21.66658c97.15687,0,176.20012-79.04277,176.20012-176.20012,0-97.15688-79.04325-176.20012-176.20012-176.20012S655.3981,206.3367,655.3981,303.49358Z" transform="translate(-158.03543 -93.12723)" fill="#3f3d56"/><path d="M638.315,303.49358c0-106.74742,86.53588-193.28324,193.28324-193.28324s193.28323,86.53582,193.28323,193.28324S938.34558,496.77681,831.59822,496.77681A192.40347,192.40347,0,0,1,738.666,473.00029c-13.3609,9.50629-45.955,28.46753-78.1543,14.8092l38.7594-43.44838A192.73528,192.73528,0,0,1,638.315,303.49358Z" transform="translate(-158.03543 -93.12723)" fill="#00bfa6"/><path d="M991.95463,303.91244c0-100.98931-77.45624-183.87364-176.20012-192.52321,5.63007-.49316,11.32507-.76,17.08312-.76,106.74741,0,193.28323,86.53582,193.28323,193.28323S939.585,497.19568,832.83763,497.19568c-5.74935,0-11.43447-.27032-17.05607-.7624C914.51245,487.771,991.95463,404.89246,991.95463,303.91244Z" transform="translate(-158.03543 -93.12723)" opacity="0.1" style="isolation:isolate"/><path d="M386.198,761.25205A210.59024,210.59024,0,1,1,541.92313,692.32l43.97806,49.29889-21.94589,9.309c-33.94983,14.40053-67.1723.388-85.8193-10.79516A210.856,210.856,0,0,1,386.198,761.25205Zm0-386.56647c-97.15687,0-176.20012,79.04325-176.20012,176.20012,0,97.15735,79.04325,176.20012,176.20012,176.20012a176.3427,176.3427,0,0,0,84.70584-21.66657l9.39476-5.16211,8.73508,6.2155c6.36613,4.52913,18.92107,12.32711,33.3359,15.25183l-27.67378-31.02129,12.13072-11.39955a174.54124,174.54124,0,0,0,55.5716-128.41793C562.39808,453.72883,483.35484,374.68558,386.198,374.68558Z" transform="translate(-158.03543 -93.12723)" fill="#3f3d56"/><path d="M579.48107,550.8855c0-106.74742-86.53588-193.28324-193.28324-193.28324S192.9146,444.13808,192.9146,550.8855s86.53588,193.28323,193.28323,193.28323a192.40351,192.40351,0,0,0,92.93222-23.77652c13.3609,9.50629,45.955,28.46753,78.15429,14.8092L518.52494,691.753A192.73528,192.73528,0,0,0,579.48107,550.8855Z" transform="translate(-158.03543 -93.12723)" fill="#00bfa6"/><path d="M227.08084,549.90929c0-100.98932,77.45624-183.87364,176.20012-192.52322-5.63007-.49315-11.32507-.76-17.08312-.76-106.74741,0-193.28323,86.53582-193.28323,193.28324s86.53582,193.28323,193.28323,193.28323c5.74935,0,11.43447-.27032,17.05607-.7624C304.523,733.76785,227.08084,650.88931,227.08084,549.90929Z" transform="translate(-158.03543 -93.12723)" opacity="0.1" style="isolation:isolate"/><path d="M876.97323,242.08764c-12.64621-21.36818-37.66572-22.364-37.66572-22.364s-24.38009-3.1177-40.01977,29.4263c-14.57742,30.33368-34.69612,59.62147-3.23894,66.72236l5.68208-17.68518,3.51888,19.00182a123.082,123.082,0,0,0,13.45936.23c33.68809-1.08765,65.77092.31822,64.7379-11.77049C882.07379,289.57823,889.14142,262.6481,876.97323,242.08764Z" transform="translate(-158.03543 -93.12723)" fill="#2f2e41"/><path d="M794.25267,429.219a49.88324,49.88324,0,0,1-1.61319,6.94446c-.79135,2.22523-2.01311,4.28315-2.73667,6.53135-2.30639,7.16623.89095,15.15641,5.99761,20.68782a33.75861,33.75861,0,0,0,16.45921,9.77351,67.152,67.152,0,0,0,14.14455,1.4864c13.14639.44579,26.631.84462,39.088-3.38028a67.91368,67.91368,0,0,0,11.35625-5.15906,8.50248,8.50248,0,0,0,2.9467-2.32019,8.10892,8.10892,0,0,0,1.06335-4.75982c-.028-5.5731-1.15779-11.11778-.88954-16.68449.14859-3.08339.72566-6.1644.4416-9.23828a17.04267,17.04267,0,0,0-13.02487-14.6806c-3.53377-.75885-7.199-.34535-10.79675.00058a275.28421,275.28421,0,0,1-28.0989,1.25641c-9.58559-.06119-19.112-1.52442-28.64985-1.67723-2.82063-.0452-2.76365.82437-3.66163,3.55422A66.49636,66.49636,0,0,0,794.25267,429.219Z" transform="translate(-158.03543 -93.12723)" fill="#2f2e41"/><path d="M821.45577,291.60544c-.46064,2.412-.95854,4.91216-2.408,6.89429-1.66765,2.28051-4.38669,3.58354-6.18072,5.766-2.70037,3.28509-2.85537,7.90774-2.8665,12.16024-.01025,3.91748.06932,8.0959,2.25393,11.3477a19.83136,19.83136,0,0,0,5.68355,5.01092c8.19271,5.52116,17.04578,11.14145,26.92356,11.32353,4.09273.07544,8.48105-.98151,11.174-4.06437a16.77755,16.77755,0,0,0,2.70541-4.82667,64.09486,64.09486,0,0,0,4.537-19.512,22.91089,22.91089,0,0,0-.86371-9.37317c-1.2-3.34568-3.62632-6.09851-5.22991-9.27058A20.63833,20.63833,0,0,1,855.198,284.8486a1.31821,1.31821,0,0,0-.06972-.88507,1.2892,1.2892,0,0,0-1.06244-.4305l-19.586-1.41a42.62457,42.62457,0,0,1-5.438-.62211c-1.05584-.21469-3.84454-1.71422-4.85129-1.31548C822.32686,280.92357,821.83776,289.6053,821.45577,291.60544Z" transform="translate(-158.03543 -93.12723)" fill="#a0616a"/><path d="M821.45577,292.21683c-.46064,2.412-.95854,4.91215-2.408,6.89429-1.66765,2.2805-4.38669,3.58353-6.18072,5.766-2.70037,3.2851-2.85537,7.90775-2.8665,12.16024-.01025,3.91748.06932,8.0959,2.25393,11.34771A19.83132,19.83132,0,0,0,817.938,333.396c8.19271,5.52116,17.04578,11.14145,26.92356,11.32353,4.09273.07544,8.48105-.98151,11.174-4.06437a16.77741,16.77741,0,0,0,2.70541-4.82667,64.09487,64.09487,0,0,0,4.537-19.512,22.91087,22.91087,0,0,0-.86371-9.37317c-1.2-3.34569-3.62632-6.09851-5.22991-9.27059A20.63831,20.63831,0,0,1,855.198,285.46a1.31819,1.31819,0,0,0-.06972-.88506,1.28917,1.28917,0,0,0-1.06244-.43051l-19.586-1.41a42.62277,42.62277,0,0,1-5.438-.62211c-1.05584-.21468-3.84454-1.71421-4.85129-1.31547C822.32686,281.535,821.83776,290.21668,821.45577,292.21683Z" transform="translate(-158.03543 -93.12723)" opacity="0.1"/><circle cx="682.15096" cy="172.36953" r="28.73502" fill="#a0616a"/><path d="M825.486,329.85627a17.62328,17.62328,0,0,0,5.04717,4.033,15.8593,15.8593,0,0,0,6.30536,1.20055c5.17975.1457,10.795-.80341,14.39825-4.5273,4.64482-4.80029,4.49184-12.54271,8.13259-18.1429a4.04135,4.04135,0,0,1,1.17319-1.28307,3.80294,3.80294,0,0,1,1.99542-.45879c4.59816-.043,8.6036,2.93926,12.21851,5.78133a16.09469,16.09469,0,0,1,4.30068,4.381,14.84879,14.84879,0,0,1,1.45027,4.44134c1.79388,8.75694,2.37485,17.71061,2.95143,26.63078.31847,4.927.6371,9.85876.61343,14.796-.078,16.2661-3.85875,32.26018-7.61847,48.086-.48444,2.03915-1.14739,4.31844-3.0018,5.29518a7.402,7.402,0,0,1-2.61932.6393c-10.76856,1.26468-21.5594,2.5309-32.40069,2.69787q-6.34618.09774-12.68683-.30724a6.83426,6.83426,0,0,1-2.13716-.37257,6.02667,6.02667,0,0,1-2.32991-1.9786c-5.86418-7.38964-6.21033-17.60594-6.17284-27.03961q.13746-34.59676,2.47219-69.13824c.12851-1.90069.15657-4.209-1.213-5.70423A71.40962,71.40962,0,0,0,825.486,329.85627Z" transform="translate(-158.03543 -93.12723)" fill="#fff"/><path d="M819.39936,296.67731c-.97051,1.7568-8.12566,6.11921-9.507,7.57527-7.718,8.13519-21.80434,7.82993-28.863,16.54336-2.48345,3.06566-3.77373,6.91763-4.72269,10.74716-1.34213,5.41621-2.05878,11.32307.18956,16.43009,2.16339,4.91409,6.71759,8.31142,9.80959,12.701,3.395,4.81966,4.92143,10.67173,6.38427,16.38269,1.08011,4.21678,2.16914,8.538,1.7485,12.87053-.47827,4.926-2.862,9.43647-4.26943,14.18129s-1.65034,10.396,1.60384,14.12483c2.39074,2.73948,6.14067,3.82552,9.725,4.43646a111.72711,111.72711,0,0,0,13.86106,1.20668c4.09734.181,8.6138.21623,11.76364-2.41046,2.48538-2.07259,3.5656-5.43591,3.70541-8.669s-.53286-6.43764-.95422-9.64624c-.43679-3.32621-.60465-6.68139-.74509-10.0332q-.94526-22.55877-.258-45.14656a38.4201,38.4201,0,0,0-.457-9.3683c-.87872-4.02822-3.0558-7.6282-4.87236-11.3294a42.873,42.873,0,0,1-4.7535-22.64814C819.33813,296.56585,822.85284,290.42574,819.39936,296.67731Z" transform="translate(-158.03543 -93.12723)" fill="#fff"/><path d="M859.75067,297.28869c1.47825,1.51932,6.50132,2.02018,8.38177,2.99865a29.36836,29.36836,0,0,0,5.50992,1.90771,71.53209,71.53209,0,0,1,19.35628,8.88384,11.74706,11.74706,0,0,1,3.2369,2.79592,12.81589,12.81589,0,0,1,1.79054,5.05636c.92077,4.561,1.84613,9.177,1.63922,13.82538-.21964,4.93423-1.70592,9.713-3.18039,14.42692L890.97553,364.797c-4.11236,13.14726-8.25081,26.42395-9.408,40.15067a94.44483,94.44483,0,0,0,.84766,22.8041,2.70352,2.70352,0,0,1-.27789,2.2087,2.17535,2.17535,0,0,1-1.34915.62078c-2.65906.41578-5.23239-.94-7.64158-2.13974a84.62175,84.62175,0,0,0-23.32742-7.6329,54.23155,54.23155,0,0,0,7.24542-14.936,90.39647,90.39647,0,0,0,2.18909-10.272l2.56289-14.82308a145.65593,145.65593,0,0,0,2.19851-16.39188,20.5206,20.5206,0,0,0-.35673-6.17482,29.956,29.956,0,0,0-2.34076-5.56859c-4.22379-8.78591-6.2056-18.81222-4.54371-28.418.7273-4.20377,2.14066-8.41316,1.55131-12.63847-.56664-4.06246.02225-7.21971-1.02008-11.24011C853.02545,283.83826,856.96957,294.43037,859.75067,297.28869Z" transform="translate(-158.03543 -93.12723)" fill="#fff"/><path d="M780.95626,334.68718c-1.92557,3.99584-5.14483,7.39993-6.24051,11.69808a25.55689,25.55689,0,0,0-.54411,6.1141,29.04292,29.04292,0,0,0,.907,9.19357c.61154,1.89541,1.60644,3.6434,2.32317,5.50159a19.9482,19.9482,0,0,1,1.30672,8.15063c-.19337,3.849-1.501,7.58522-1.60317,11.43772-.1607,6.05838,2.64147,11.75375,5.37573,17.1624A12.61667,12.61667,0,0,1,800.82,397.94135a3.76086,3.76086,0,0,0,.82656-2.74145q.30315-10.543.58485-21.08655c.296-10.8709.57793-21.88705-1.92279-32.47055-1.12908-4.77847-2.88591-9.53848-6.10656-13.24478-1.69585-1.95156-7.45282-7.092-10.23661-4.90577-1.25188.98316-.9593,3.65946-1.15766,5.01467A21.2751,21.2751,0,0,1,780.95626,334.68718Z" transform="translate(-158.03543 -93.12723)" fill="#fff"/><path d="M900.22818,323.17211a29.40911,29.40911,0,0,1,.98335,8.845q.0555,9.11409-.24157,18.2258a33.97739,33.97739,0,0,1-1.18394,9.22739c-.62184,1.95543-1.58145,3.78913-2.22366,5.738-1.92466,5.84056-.87308,12.1752-.708,18.32249a20.8187,20.8187,0,0,1-.50419,5.92705c-1.0157,3.81083-3.74532,6.89011-5.65047,10.34331-1.80937,3.27959-2.90113,6.95565-5.06211,10.015s-5.90186,5.48354-9.5278,4.54435c-2.74734-.71161-4.69948-3.14339-6.04977-5.63957a27.66137,27.66137,0,0,1-2.86-17.943c1.35561-7.46106,5.73821-14.08,7.31876-21.49667,2.17045-10.18472-1.12826-20.69456-1.0301-31.10753a15.0367,15.0367,0,0,1,.6555-4.822c.829-2.37852,2.60961-4.278,4.25453-6.18555a78.09591,78.09591,0,0,0,5.71806-7.50429c1.1776-1.75624,2.777-6.27327,4.86478-6.64885C893.64279,312.17448,899.07172,319.57089,900.22818,323.17211Z" transform="translate(-158.03543 -93.12723)" fill="#fff"/><path d="M756.76953,424.68946a28.36259,28.36259,0,0,0-7.88972-.83872,19.69148,19.69148,0,0,0-18.28168,23.21335,33.07425,33.07425,0,0,0,3.12633,8.543c2.09236,4.24623,4.60188,8.48272,8.47539,11.2038a33.01075,33.01075,0,0,0,7.47978,3.56042l20.40107,7.68544c3.00122,1.13062,6.0029,2.26139,9.03383,3.30976a176.7012,176.7012,0,0,0,47.18486,9.38044,51.09211,51.09211,0,0,0,14.65041-.74236,4.76925,4.76925,0,0,0,3.00039-1.621,5.13851,5.13851,0,0,0,.67038-2.21424l1.25537-8.78841a7.36141,7.36141,0,0,0-.1067-3.7048c-.57508-1.477-2.01659-2.40615-3.391-3.19556-13.41226-7.70334-29.07268-11.95321-40.362-22.52591-2.65768-2.489-4.88173-6.43428-8.11079-8.125-3.6617-1.91725-7.974-3.01149-11.75893-4.77821C773.87231,431.18919,765.73718,426.75085,756.76953,424.68946Z" transform="translate(-158.03543 -93.12723)" fill="#2f2e41"/><path d="M777.137,436.5375c7.21092,2.25953,37.65544,17.91361,42.87372,23.37917-.69947.252-24.43152-13.04779-25.14362-13.26151A143.38928,143.38928,0,0,1,775.7379,439.914c-1.23663-.572-8.0339-3.26024-7.72607-4.82054C768.35919,433.33273,775.85689,436.13637,777.137,436.5375Z" transform="translate(-158.03543 -93.12723)" opacity="0.1"/><path d="M867.09778,495.30484a1.69388,1.69388,0,0,0,1.14311-.33642,1.76559,1.76559,0,0,0,.3573-1.31543l-.03359-11.97293c-3.44295-1.6404-7.29415-2.1662-11.0743-2.67148L839.85271,476.651c.40523.05416-2.75773,7.59664-2.27275,8.60359.85477,1.77475,7.38718,3.34766,9.23078,4.18562C853.21974,492.3533,859.87952,495.55585,867.09778,495.30484Z" transform="translate(-158.03543 -93.12723)" fill="#a0616a"/><path d="M811.76011,481.63863c-3.33013.53041-7.047.99927-9.20364,3.59157-2.73492,3.28738-1.57064,8.188-.266,12.26045a3.97512,3.97512,0,0,0,4.6374,3.317c3.037.19231,6.26906.343,8.92262-1.14671a39.10621,39.10621,0,0,0,3.46608-2.57636,22.22264,22.22264,0,0,1,6.37266-2.9135,64.44127,64.44127,0,0,1,12.792-2.63622,19.89456,19.89456,0,0,0,5.03931-.88831,5.58371,5.58371,0,0,0,3.54887-3.44555c.61466-2.17582-.64993-4.39415-1.86275-6.30233a25.14245,25.14245,0,0,0-5.36411-6.62975c-3.28642-2.55284-4.91212-.59313-8.22257,1.04049A69.76371,69.76371,0,0,1,811.76011,481.63863Z" transform="translate(-158.03543 -93.12723)" fill="#a0616a"/><path d="M803.05747,484.63824l-21.14511-6.24976a27.98825,27.98825,0,0,0-7.86885-1.52484,9.44649,9.44649,0,0,0-7.22644,2.92243c-1.63965,1.92439-2.109,4.55451-2.51772,7.04944l-.8744,5.337a26.80527,26.80527,0,0,0-.48958,8.1957,9.0617,9.0617,0,0,0,4.20068,6.752c2.92607,1.59642,6.51235.81668,9.778.14893a106.45432,106.45432,0,0,1,20.03815-2.1488c2.531-.03027,5.18562.00143,7.42207-1.18387a9.26647,9.26647,0,0,0,4.52239-7.38444C809.31277,491.993,807.79319,486.038,803.05747,484.63824Z" transform="translate(-158.03543 -93.12723)" fill="#2f2e41"/><path d="M875.4096,479.192c2.74115-.48042,5.16036-2.03833,7.787-2.9579,3.6971-1.29435,7.70357-1.29433,11.62067-1.28a7.46024,7.46024,0,0,1,4.16623.83438c1.72541,1.14869,2.16763,3.44747,2.461,5.49942l1.7701,12.38028a19.42771,19.42771,0,0,1,.1446,7.01376c-.51931,2.29424-2.08312,4.506-4.35973,5.09786-2.765.71882-5.47563-1.04746-8.08633-2.20775-6.52523-2.9-14.11042-2.15882-20.91415-4.32634a4.68742,4.68742,0,0,1-3.13-2.23827,5.09274,5.09274,0,0,1-.24351-2.1394c.11651-3.97939-.7228-9.41332.47527-13.21648C868.17819,478.23119,872.34978,479.192,875.4096,479.192Z" transform="translate(-158.03543 -93.12723)" fill="#2f2e41"/><path d="M920.15727,419.70642a36.71918,36.71918,0,0,1,12.935-.88376c3.458.381,7.02087,1.3432,9.54563,3.73668,3.073,2.91321,4.06034,7.41855,4.14271,11.65213a36.40382,36.40382,0,0,1-7.91243,23.24909,21.09574,21.09574,0,0,1-4.52371,4.35479,29.7763,29.7763,0,0,1-5.88563,2.83629l-45.68734,18.02042c-12.01933,4.74078-24.08108,9.49529-36.61789,12.62065a2.85383,2.85383,0,0,1-3.84015-1.39224,94.65417,94.65417,0,0,1-10.01339-18.31708,1.23429,1.23429,0,0,1,.54552-1.94614l32.315-18.56722a32.67407,32.67407,0,0,0,6.57728-4.53184,16.32909,16.32909,0,0,0,3.37681-4.70121c.66984-1.39909.73232-4.70071,1.58792-5.73485.83771-1.01251,3.70338-1.09331,5.02688-1.49154a45.613,45.613,0,0,0,5.47254-2.06871c7.22863-3.23385,13.66561-7.93247,20.59523-11.719A52.84362,52.84362,0,0,1,920.15727,419.70642Z" transform="translate(-158.03543 -93.12723)" fill="#2f2e41"/><path d="M901.83754,433.57235c-5.55183,4.16981-12.74047,8.00282-18.24292,12.2825-1.87793,1.46061-33.18344,19.06089-33.62609,21.39842,5.13348.865,37.83421-22.01168,42.51287-24.29441s8.82614-5.50184,12.93593-8.69721c1.04734-.81431,5.486-3.26228,2.47938-4.17207C906.203,429.57707,903.088,432.73874,901.83754,433.57235Z" transform="translate(-158.03543 -93.12723)" opacity="0.1"/><path d="M863.63669,297.69255H814.902a7.4655,7.4655,0,0,0-7.46549,7.46549v2.7338h-.52955v6.11383h.52955v4.27969h-.52955v3.6683h.52955V367.065a7.4655,7.4655,0,0,0,7.46549,7.46549h48.73473a7.4655,7.4655,0,0,0,7.46549-7.46549V305.158A7.4655,7.4655,0,0,0,863.63669,297.69255Z" transform="translate(-158.03543 -93.12723)" fill="#d0cde1"/><polygon points="713.347 146.901 688.629 133.953 654.494 139.25 647.432 170.442 665.012 169.765 669.923 158.306 669.923 169.577 678.035 169.265 682.743 151.02 685.686 170.442 714.524 169.853 713.347 146.901" fill="#2f2e41"/><path d="M787.42312,415.66632a12.84416,12.84416,0,0,0,4.61387,4.5901,9.02314,9.02314,0,0,0,7.93145-.21258,13.96088,13.96088,0,0,0,5.72384-5.73878c2.68637-4.74373,3.24271-10.42009,2.90749-15.86133s-1.497-10.79915-2.01125-16.2264c-.3738-3.94524-.40419-7.914-.4343-11.87681a3.94955,3.94955,0,0,1,.49911-2.40193,4.71586,4.71586,0,0,1,2.64984-1.32324c5.42168-1.61087,9.02044-6.69265,11.60049-11.72582,1.72278-3.36081,3.22088-7.03459,2.88866-10.79659s-3.03631-7.55187-6.79339-7.93564c-3.09745-.3164-5.95746,1.65095-8.19178,3.81937A35.127,35.127,0,0,0,798.522,360.53151c-.49046,3.8251-.35,7.7543-1.39037,11.46773-2.22145,7.92887-9.17194,12.79011-12.63565,19.92467C780.67939,399.78543,782.78589,408.71047,787.42312,415.66632Z" transform="translate(-158.03543 -93.12723)" fill="#a0616a"/><path d="M889.7035,385.37474a14.98436,14.98436,0,0,1-8.40311,8.07433,11.60553,11.60553,0,0,1-7.305.44739,8.10041,8.10041,0,0,1-5.35136-4.78654,12.89451,12.89451,0,0,1-.60278-3.59534c-.3476-5.3469-.21328-10.85672,1.7289-15.85053.7491-1.92611,1.75913-3.7528,2.35032-5.73309a28.75224,28.75224,0,0,0,.885-6.99674l.63846-14.589a9.49429,9.49429,0,0,0-.21671-3.16333c-.63683-2.11095-2.60973-3.48278-4.41995-4.74165-4.37179-3.04026-8.692-6.58792-10.81042-11.47341a8.04686,8.04686,0,0,1-.747-4.75248c.59732-2.897,3.5209-4.77244,6.41054-5.40428a14.3393,14.3393,0,0,1,17.1909,11.55511c.28589,1.6464.28195,3.32814.44929,4.99078.35495,3.52685,1.47459,6.92655,2.175,10.40134,1.72532,8.55913.83131,17.4068,2.53745,25.96448C887.63961,372.87694,893.01872,377.54576,889.7035,385.37474Z" transform="translate(-158.03543 -93.12723)" fill="#a0616a"/><circle cx="681.88619" cy="231.27196" r="6.11383" fill="#00bfa6"/><circle cx="18.03699" cy="432.96923" r="18.03504" fill="#2f2e41"/><polygon points="83.411 486.51 74.327 477.68 56.086 483.346 57.838 504.467 95.344 502.725 83.822 487.069 83.411 486.51" fill="#fbbebe"/><circle cx="63.54349" cy="457.17052" r="29.15772" fill="#fbbebe"/><path d="M402.59166,617.0614s35.82078,61.55868,44.34576,70.80024a154.73921,154.73921,0,0,0,12.93514,12.89173s-4.00845,13.29343-10.39133,12.819a30.04191,30.04191,0,0,1-10.52921-2.59486s-2.8489-7.385-7.81819-10.62367-45.5683-43.17979-44.61938-55.94556S402.59166,617.0614,402.59166,617.0614Z" transform="translate(-158.03543 -93.12723)" fill="#2f2e41"/><path d="M275.02289,704.90827s38.19308,29.64424,90.0987,1.7893l4.47313-3.29187s-7.54884,16.982-8.24924,21.58608c-.81211,5.33843-20.46565,36.61011-23.67284,38.10839s-3.914,2.88039-3.914,2.88039l13.61045,14.98063,5.03226-3.70336s19.62205-27.80067,25.36111-32.88613S410.84518,686.84,410.84518,686.84s10.45431-19.761-15.63638-21.24735-38.09647,5.625-38.09647,5.625l-46.30443,7.35565Z" transform="translate(-158.03543 -93.12723)" fill="#2f2e41"/><path d="M460.31553,697.8415l19.318,13.36618s24.6456,7.72158,9.46412,12.86024-55.18771,6.99736-56.09536-.09232,1.578-18.24868,3.57383-17.63847S452.42459,710.54429,460.31553,697.8415Z" transform="translate(-158.03543 -93.12723)" fill="#2f2e41"/><path d="M354.11082,772.66579l3.57552,19.63479s10.167,19.44435-2.04019,13.41119-37.35722-28.95-33.6434-33.75432,11.9107-10.01481,12.74313-8.44923S341.73928,775.55648,354.11082,772.66579Z" transform="translate(-158.03543 -93.12723)" fill="#2f2e41"/><path d="M317.27546,685.01918s-25.96259,30.31191-41.72492,22.94862-80.24908-92.648-72.88579-108.41033S212.49694,587.15,212.49694,587.15l33.29655,3.07909-9.5803-15.36063s4.47313-3.29187,8.73562,1.32892,21.37544,16.16188,27.33707,32.46165,23.46434,15.48657,23.46434,15.48657Z" transform="translate(-158.03543 -93.12723)" fill="#fff"/><polygon points="264.085 529.388 219.08 577.161 178.764 505.981 217.091 459.674 264.085 529.388" fill="#3f3d56"/><polygon points="260.688 528.871 220.04 570.852 183.206 506.16 216.986 463.631 260.688 528.871" fill="#fff"/><polygon points="216.875 575.336 219.08 577.161 217.666 579.925 154.735 598.655 154.14 596.499 157.003 593.538 216.875 575.336" fill="#b3b3b3"/><polygon points="219.639 576.75 154.472 597.125 114.747 522.062 178.764 505.981 219.639 576.75" fill="#d0cde1"/><polygon points="214.733 566.569 211.937 568.626 180.907 514.748 184.114 513.25 214.733 566.569" fill="#3f3d56"/><polygon points="208.318 569.565 180.751 577.785 149.457 522.377 176.729 516.099 208.318 569.565" fill="#3f3d56"/><path d="M288.692,621.58223l5.70757-1.61445s31.82975-3.5991,32.29443,6.40245-36.5667,5.36121-36.5667,5.36121l-4.93781-6.70968Z" transform="translate(-158.03543 -93.12723)" fill="#fbbebe"/><path d="M316.60994,666.54583l7.94414-3.26038s23.98007-10.75177,17.101-17.75678-28.09491,5.16037-28.09491,5.16037l-4.06164,3.851Z" transform="translate(-158.03543 -93.12723)" fill="#fbbebe"/><path d="M309.53,651.069s12.93514,12.89173,9.99178,15.91977-51.20861,42.85727-63.17312,30.1132-70.25731-76.72823-47.57466-82.21539,28.67576,7.34159,28.67576,7.34159l29.94384,51.23031Z" transform="translate(-158.03543 -93.12723)" fill="#fff"/><polygon points="112.763 518.781 134.011 525.986 133.664 541.326 111.192 538.901 112.763 518.781" fill="#fff"/><polygon points="131.914 565.887 109.021 579.287 82.865 539.06 108.113 572.197 131.914 565.887" opacity="0.2"/><circle cx="50.74531" cy="448.71839" r="34.71157" fill="#2f2e41"/><polygon points="238.3 532.417 213.995 496.862 224.298 484.108 249.553 520.688 238.3 532.417" fill="#00bfa6"/><polygon points="237.615 546.712 200.613 492.919 202.438 490.714 239.267 544.634 237.615 546.712" fill="#e6e6e6"/><polygon points="232.847 551.945 195.845 498.152 197.67 495.947 234.499 549.868 232.847 551.945" fill="#e6e6e6"/><polygon points="228.785 555.796 191.783 502.003 193.608 499.798 230.437 553.719 228.785 555.796" fill="#e6e6e6"/><path d="M66.11686,425.5444h10.738a20.49972,20.49972,0,0,1,20.49972,20.49972v0a0,0,0,0,1,0,0H66.11686a0,0,0,0,1,0,0V425.5444A0,0,0,0,1,66.11686,425.5444Z" fill="#2f2e41"/><path d="M372.06674,505.62594l-1.94664-.1449c-.07549,1.01216-.12953,2.0304-.19376,3.0459l-8.73775-.29254,9.16555,17.17535,10.29378-16.52389-8.76982-.29361C371.94084,507.6035,371.99322,506.612,372.06674,505.62594Z" transform="translate(-158.03543 -93.12723)" fill="#3f3d56"/><path d="M423.31656,365.62543l1.552,1.185c2.32795-3.04912,4.75934-6.093,7.227-9.04728l-1.49859-1.25168C428.11117,359.48762,425.66167,362.5539,423.31656,365.62543Z" transform="translate(-158.03543 -93.12723)" fill="#3f3d56"/><path d="M438.27191,347.72772l1.44139,1.31651c2.59011-2.83654,5.27937-5.65354,7.992-8.37378L446.323,339.292C443.58989,342.03176,440.88109,344.87021,438.27191,347.72772Z" transform="translate(-158.03543 -93.12723)" fill="#3f3d56"/><path d="M454.73586,331.219l1.32031,1.43853c2.83273-2.60108,5.75745-5.17022,8.69266-7.6364l-1.2555-1.49477C460.5362,326.01062,457.58956,328.59931,454.73586,331.219Z" transform="translate(-158.03543 -93.12723)" fill="#3f3d56"/><path d="M409.99087,384.77863l1.65016,1.04291c2.052-3.24646,4.20691-6.49387,6.40426-9.65262l-1.60249-1.11536C414.22876,378.23614,412.0581,381.50787,409.99087,384.77863Z" transform="translate(-158.03543 -93.12723)" fill="#3f3d56"/><path d="M472.57875,316.22692l1.18876,1.54816c3.05056-2.34226,6.18882-4.64352,9.32755-6.83992l-1.11917-1.59964C478.81332,311.54861,475.65171,313.867,472.57875,316.22692Z" transform="translate(-158.03543 -93.12723)" fill="#3f3d56"/><path d="M398.40591,405.04291l1.736.89228c1.75884-3.42043,3.61873-6.84754,5.52771-10.18552l-1.695-.9695C402.05132,398.14341,400.17761,401.59625,398.40591,405.04291Z" transform="translate(-158.03543 -93.12723)" fill="#3f3d56"/><path d="M379.57444,459.99724l-1.89039-.48665c-.96474,3.746-1.858,7.56585-2.65494,11.35426l1.91042.40229C377.73076,467.50733,378.61733,463.71511,379.57444,459.99724Z" transform="translate(-158.03543 -93.12723)" fill="#3f3d56"/><path d="M491.66474,302.86739l1.04768,1.6473c3.236-2.05913,6.563-4.07392,9.889-5.98862l-.97427-1.69211C498.27635,298.76344,494.92455,300.793,491.66474,302.86739Z" transform="translate(-158.03543 -93.12723)" fill="#3f3d56"/><path d="M374.80843,482.64286l-1.92662-.3165c-.6268,3.81129-1.17733,7.695-1.63634,11.5435l1.939.23069C373.63968,490.28164,374.1864,486.4265,374.80843,482.64286Z" transform="translate(-158.03543 -93.12723)" fill="#3f3d56"/><path d="M388.66081,426.2662l1.80841.735c1.44758-3.563,2.99622-7.14354,4.60252-10.64167l-1.77408-.81507C391.679,419.06927,390.11888,422.67655,388.66081,426.2662Z" transform="translate(-158.03543 -93.12723)" fill="#3f3d56"/><path d="M380.8409,448.28645l1.86751.57007c1.12585-3.684,2.34941-7.39045,3.63684-11.01632l-1.83987-.653C383.20842,440.83975,381.97533,444.5743,380.8409,448.28645Z" transform="translate(-158.03543 -93.12723)" fill="#3f3d56"/><path d="M623.73237,263.95373c3.8275-.1325,7.72458-.18541,11.57972-.14919l.01716-1.95235c-3.88183-.03623-7.80942.01668-11.66361.15014Z" transform="translate(-158.03543 -93.12723)" fill="#3f3d56"/><path d="M511.84465,291.24954l.898,1.73309c3.40947-1.76646,6.8995-3.47811,10.37427-5.08775l-.82079-1.77123C518.79563,287.74521,515.27938,289.46973,511.84465,291.24954Z" transform="translate(-158.03543 -93.12723)" fill="#3f3d56"/><path d="M669.93019,266.388c3.80842.53909,7.65212,1.17018,11.42433,1.87609l.35844-1.919c-3.79985-.71116-7.67215-1.34748-11.51013-1.89039Z" transform="translate(-158.03543 -93.12723)" fill="#3f3d56"/><path d="M692.68543,270.64541c3.73883.87323,7.512,1.84368,11.2127,2.88421l.52812-1.87991c-3.72835-1.04815-7.52915-2.02528-11.29659-2.90517Z" transform="translate(-158.03543 -93.12723)" fill="#3f3d56"/><path d="M714.96879,276.91049c3.64541,1.20259,7.31656,2.5048,10.9105,3.87087l.694-1.82461c-3.62158-1.37656-7.31943-2.68878-10.99249-3.90042Z" transform="translate(-158.03543 -93.12723)" fill="#3f3d56"/><path d="M646.88609,264.15917c3.84466.20162,7.72935.49142,11.54731.86035l.18876-1.94282c-3.84657-.37226-7.76081-.664-11.63311-.867Z" transform="translate(-158.03543 -93.12723)" fill="#3f3d56"/><path d="M600.42326,263.82885l.23833,1.93806c3.80461-.46807,7.67882-.85845,11.51394-1.15969l-.15253-1.94664C608.15833,262.96421,604.25553,263.35745,600.42326,263.82885Z" transform="translate(-158.03543 -93.12723)" fill="#3f3d56"/><path d="M554.87751,273.59635l.5777,1.86465c3.66877-1.13585,7.41285-2.2045,11.12881-3.17639l-.49381-1.88848C562.3466,271.37469,558.57392,272.45144,554.87751,273.59635Z" transform="translate(-158.03543 -93.12723)" fill="#3f3d56"/><path d="M532.96069,281.46822l.74119,1.8065c3.54961-1.45664,7.17548-2.85084,10.77705-4.14495l-.65969-1.837C540.19,278.59593,536.537,280.00109,532.96069,281.46822Z" transform="translate(-158.03543 -93.12723)" fill="#3f3d56"/><path d="M577.434,267.69829l.409,1.90946c3.75076-.80411,7.57492-1.53577,11.36714-2.174l-.32412-1.92566C585.06562,266.15156,581.21239,266.88846,577.434,267.69829Z" transform="translate(-158.03543 -93.12723)" fill="#3f3d56"/><path d="M755.01,292.85257l-10.91021-16.1235-3.83631,7.89659c-.92852-.41463-1.852-.83825-2.77964-1.23988l-.776,1.7922c.90581.392,1.80144.803,2.702,1.20473l-3.81814,7.85923Z" transform="translate(-158.03543 -93.12723)" fill="#3f3d56"/></svg>
                        </div>
                    </div>
                </div>
            </div>
            <div class="card card-custom gutter-b">
                <div class="card-header pt-5">
                    <h3 class="card-title align-items-start flex-column mb-5">
                        <span class="card-label font-weight-bolder oppo-title mb-1">Chi tiết khóa học</span>
                    </h3>
                </div>
                <div class="card-body pt-2">
                    <?php if(isset($this->IS_ONLINE) and $this->IS_ONLINE): ?>
                        <div class="col-lg-9 py-25 px-5">
                            <?php if(!empty($this->course['link']) and $this->course['link']): ?>
                                <div class="embed-responsive embed-responsive-16by9">
                                    <iframe style="border-radius: 9px;" src="<?php echo $this->course['link']; ?>" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                                </div>
                            <?php else: ?>
                                <label class="font-weight-bolder text-dark-50">Chúng tôi đang cập nhập video khóa học....</label>
                                <div class="embed-responsive embed-responsive-16by9">
                                    <iframe style="border-radius: 9px;" src="https://www.youtube.com/embed/-k3_JSZOuV8" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                                </div>
                            <?php endif; ?>
                        </div>
                        <div class="<?php echo !$this->IS_MOBILE ? "position-absolute" : NULL ?> right-0 offset-lg-4 col-lg-4">
                            <label class="font-weight-bolder"> Sơ lược khóa học</label>
                            <label class="text-dark-50">
                                <?php echo $this->course['content']; ?>
                            </label>
                        </div>
                    <?php else: ?>
                        <div class="form-group">
                            <label class="font-weight-bolder"> Sơ lược khóa học</label>
                        </div>
                        <?php echo $this->course['content']; ?>
                        <div style="display: block;">
                            <?php  echo $this->render('hr-course/partials/template.phtml'); ?>
                        </div>
                    <?php endif; ?>
                </div>
            </div>

            <div class="card card-custom card-stretch gutter-b">                
                <?php echo $this->render('hr-course/partials/general-course-control.phtml'); ?>
            </div>

            <div class="card card-custom gutter-b">
                <div class="card-header border-0 pt-5">
                    <h3 class="card-title align-items-start flex-column mb-5">
                        <span class="card-label font-weight-bolder oppo-title mb-1">Đánh giá</span>
                    </h3>
                </div>
                <div class="card-body pt-2">
                    <ul class="rating">
                        <li id="1" class="text-warning far fa-star star star_effect fa-2x CourseRating"></li>
                        <li id="2" class="text-warning far fa-star star star_effect fa-2x CourseRating"></li>
                        <li id="3" class="text-warning far fa-star star star_effect fa-2x CourseRating"></li>
                        <li id="4" class="text-warning far fa-star star star_effect fa-2x CourseRating"></li>
                        <li id="5" class="text-warning far fa-star star star_effect fa-2x CourseRating"></li>
                    </ul>
                    <a role="button" class="pull-right text-primary btn_rating"><i class="icon-save"></i></a>
                    <input type="hidden" class="rating_value" name="rating_value"/>
                    <input type="hidden" id="CourseRating" value="<?php if(!empty($this->star) and $this->star){ echo $this->star;}else{echo '0';} ?>" />
                </div>
            </div>
        </div>
    </div>
    <?php else: ?>
    <div class="row-fluid">
        <div class="d-flex flex-row">
            <div class="flex-column w-300px w-xl-325px">
                <div class="card card-custom gutter-b">
                    <div class="card-header pt-5">
                        <h3 class="card-title align-items-start flex-column mb-3">
                            <span class="card-label font-weight-bolder oppo-title">Thông tin khóa học</span>
                        </h3>
                    </div>
                    <div class="card-body pt-4">
                        <div class="form-group mb-8">
                            <label class="font-weight-bolder">Khóa học: <mark style="font-weight: normal" class="text-primary"><?php echo $this->course['name']; ?></mark></label>
                        </div>
                        <div class="form-group mb-8">
                            <label class="font-weight-bolder">Giảng viên: <mark style="font-weight: normal" class="text-primary"><?php if(isset($this->course['lecturer']) and $this->course['lecturer']) {echo $this->course['lecturer'];}else{echo "Chưa cập nhập";}?></mark></label>
                        </div>
                        <div class="form-group mb-8">
                            <div class="controls">
                                <svg id="bdb04d07-607e-4453-aab0-0c653d7063a3" data-name="Layer 1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 883.92913 713.74554"><path d="M739.66018,492.74054c-18.647,11.18315-51.86947,25.19569-85.81929,10.79516l-21.9459-9.309,43.97806-49.2989a210.03369,210.03369,0,1,1,63.78713,47.8127Zm-84.26208-189.247A174.54122,174.54122,0,0,0,710.9697,431.9115l12.13072,11.39955-27.67378,31.0213c14.41483-2.92473,26.96977-10.72271,33.3359-15.25183l8.73508-6.21551,9.39476,5.16211a176.34274,176.34274,0,0,0,84.70584,21.66658c97.15687,0,176.20012-79.04277,176.20012-176.20012,0-97.15688-79.04325-176.20012-176.20012-176.20012S655.3981,206.3367,655.3981,303.49358Z" transform="translate(-158.03543 -93.12723)" fill="#3f3d56"/><path d="M638.315,303.49358c0-106.74742,86.53588-193.28324,193.28324-193.28324s193.28323,86.53582,193.28323,193.28324S938.34558,496.77681,831.59822,496.77681A192.40347,192.40347,0,0,1,738.666,473.00029c-13.3609,9.50629-45.955,28.46753-78.1543,14.8092l38.7594-43.44838A192.73528,192.73528,0,0,1,638.315,303.49358Z" transform="translate(-158.03543 -93.12723)" fill="#00bfa6"/><path d="M991.95463,303.91244c0-100.98931-77.45624-183.87364-176.20012-192.52321,5.63007-.49316,11.32507-.76,17.08312-.76,106.74741,0,193.28323,86.53582,193.28323,193.28323S939.585,497.19568,832.83763,497.19568c-5.74935,0-11.43447-.27032-17.05607-.7624C914.51245,487.771,991.95463,404.89246,991.95463,303.91244Z" transform="translate(-158.03543 -93.12723)" opacity="0.1" style="isolation:isolate"/><path d="M386.198,761.25205A210.59024,210.59024,0,1,1,541.92313,692.32l43.97806,49.29889-21.94589,9.309c-33.94983,14.40053-67.1723.388-85.8193-10.79516A210.856,210.856,0,0,1,386.198,761.25205Zm0-386.56647c-97.15687,0-176.20012,79.04325-176.20012,176.20012,0,97.15735,79.04325,176.20012,176.20012,176.20012a176.3427,176.3427,0,0,0,84.70584-21.66657l9.39476-5.16211,8.73508,6.2155c6.36613,4.52913,18.92107,12.32711,33.3359,15.25183l-27.67378-31.02129,12.13072-11.39955a174.54124,174.54124,0,0,0,55.5716-128.41793C562.39808,453.72883,483.35484,374.68558,386.198,374.68558Z" transform="translate(-158.03543 -93.12723)" fill="#3f3d56"/><path d="M579.48107,550.8855c0-106.74742-86.53588-193.28324-193.28324-193.28324S192.9146,444.13808,192.9146,550.8855s86.53588,193.28323,193.28323,193.28323a192.40351,192.40351,0,0,0,92.93222-23.77652c13.3609,9.50629,45.955,28.46753,78.15429,14.8092L518.52494,691.753A192.73528,192.73528,0,0,0,579.48107,550.8855Z" transform="translate(-158.03543 -93.12723)" fill="#00bfa6"/><path d="M227.08084,549.90929c0-100.98932,77.45624-183.87364,176.20012-192.52322-5.63007-.49315-11.32507-.76-17.08312-.76-106.74741,0-193.28323,86.53582-193.28323,193.28324s86.53582,193.28323,193.28323,193.28323c5.74935,0,11.43447-.27032,17.05607-.7624C304.523,733.76785,227.08084,650.88931,227.08084,549.90929Z" transform="translate(-158.03543 -93.12723)" opacity="0.1" style="isolation:isolate"/><path d="M876.97323,242.08764c-12.64621-21.36818-37.66572-22.364-37.66572-22.364s-24.38009-3.1177-40.01977,29.4263c-14.57742,30.33368-34.69612,59.62147-3.23894,66.72236l5.68208-17.68518,3.51888,19.00182a123.082,123.082,0,0,0,13.45936.23c33.68809-1.08765,65.77092.31822,64.7379-11.77049C882.07379,289.57823,889.14142,262.6481,876.97323,242.08764Z" transform="translate(-158.03543 -93.12723)" fill="#2f2e41"/><path d="M794.25267,429.219a49.88324,49.88324,0,0,1-1.61319,6.94446c-.79135,2.22523-2.01311,4.28315-2.73667,6.53135-2.30639,7.16623.89095,15.15641,5.99761,20.68782a33.75861,33.75861,0,0,0,16.45921,9.77351,67.152,67.152,0,0,0,14.14455,1.4864c13.14639.44579,26.631.84462,39.088-3.38028a67.91368,67.91368,0,0,0,11.35625-5.15906,8.50248,8.50248,0,0,0,2.9467-2.32019,8.10892,8.10892,0,0,0,1.06335-4.75982c-.028-5.5731-1.15779-11.11778-.88954-16.68449.14859-3.08339.72566-6.1644.4416-9.23828a17.04267,17.04267,0,0,0-13.02487-14.6806c-3.53377-.75885-7.199-.34535-10.79675.00058a275.28421,275.28421,0,0,1-28.0989,1.25641c-9.58559-.06119-19.112-1.52442-28.64985-1.67723-2.82063-.0452-2.76365.82437-3.66163,3.55422A66.49636,66.49636,0,0,0,794.25267,429.219Z" transform="translate(-158.03543 -93.12723)" fill="#2f2e41"/><path d="M821.45577,291.60544c-.46064,2.412-.95854,4.91216-2.408,6.89429-1.66765,2.28051-4.38669,3.58354-6.18072,5.766-2.70037,3.28509-2.85537,7.90774-2.8665,12.16024-.01025,3.91748.06932,8.0959,2.25393,11.3477a19.83136,19.83136,0,0,0,5.68355,5.01092c8.19271,5.52116,17.04578,11.14145,26.92356,11.32353,4.09273.07544,8.48105-.98151,11.174-4.06437a16.77755,16.77755,0,0,0,2.70541-4.82667,64.09486,64.09486,0,0,0,4.537-19.512,22.91089,22.91089,0,0,0-.86371-9.37317c-1.2-3.34568-3.62632-6.09851-5.22991-9.27058A20.63833,20.63833,0,0,1,855.198,284.8486a1.31821,1.31821,0,0,0-.06972-.88507,1.2892,1.2892,0,0,0-1.06244-.4305l-19.586-1.41a42.62457,42.62457,0,0,1-5.438-.62211c-1.05584-.21469-3.84454-1.71422-4.85129-1.31548C822.32686,280.92357,821.83776,289.6053,821.45577,291.60544Z" transform="translate(-158.03543 -93.12723)" fill="#a0616a"/><path d="M821.45577,292.21683c-.46064,2.412-.95854,4.91215-2.408,6.89429-1.66765,2.2805-4.38669,3.58353-6.18072,5.766-2.70037,3.2851-2.85537,7.90775-2.8665,12.16024-.01025,3.91748.06932,8.0959,2.25393,11.34771A19.83132,19.83132,0,0,0,817.938,333.396c8.19271,5.52116,17.04578,11.14145,26.92356,11.32353,4.09273.07544,8.48105-.98151,11.174-4.06437a16.77741,16.77741,0,0,0,2.70541-4.82667,64.09487,64.09487,0,0,0,4.537-19.512,22.91087,22.91087,0,0,0-.86371-9.37317c-1.2-3.34569-3.62632-6.09851-5.22991-9.27059A20.63831,20.63831,0,0,1,855.198,285.46a1.31819,1.31819,0,0,0-.06972-.88506,1.28917,1.28917,0,0,0-1.06244-.43051l-19.586-1.41a42.62277,42.62277,0,0,1-5.438-.62211c-1.05584-.21468-3.84454-1.71421-4.85129-1.31547C822.32686,281.535,821.83776,290.21668,821.45577,292.21683Z" transform="translate(-158.03543 -93.12723)" opacity="0.1"/><circle cx="682.15096" cy="172.36953" r="28.73502" fill="#a0616a"/><path d="M825.486,329.85627a17.62328,17.62328,0,0,0,5.04717,4.033,15.8593,15.8593,0,0,0,6.30536,1.20055c5.17975.1457,10.795-.80341,14.39825-4.5273,4.64482-4.80029,4.49184-12.54271,8.13259-18.1429a4.04135,4.04135,0,0,1,1.17319-1.28307,3.80294,3.80294,0,0,1,1.99542-.45879c4.59816-.043,8.6036,2.93926,12.21851,5.78133a16.09469,16.09469,0,0,1,4.30068,4.381,14.84879,14.84879,0,0,1,1.45027,4.44134c1.79388,8.75694,2.37485,17.71061,2.95143,26.63078.31847,4.927.6371,9.85876.61343,14.796-.078,16.2661-3.85875,32.26018-7.61847,48.086-.48444,2.03915-1.14739,4.31844-3.0018,5.29518a7.402,7.402,0,0,1-2.61932.6393c-10.76856,1.26468-21.5594,2.5309-32.40069,2.69787q-6.34618.09774-12.68683-.30724a6.83426,6.83426,0,0,1-2.13716-.37257,6.02667,6.02667,0,0,1-2.32991-1.9786c-5.86418-7.38964-6.21033-17.60594-6.17284-27.03961q.13746-34.59676,2.47219-69.13824c.12851-1.90069.15657-4.209-1.213-5.70423A71.40962,71.40962,0,0,0,825.486,329.85627Z" transform="translate(-158.03543 -93.12723)" fill="#fff"/><path d="M819.39936,296.67731c-.97051,1.7568-8.12566,6.11921-9.507,7.57527-7.718,8.13519-21.80434,7.82993-28.863,16.54336-2.48345,3.06566-3.77373,6.91763-4.72269,10.74716-1.34213,5.41621-2.05878,11.32307.18956,16.43009,2.16339,4.91409,6.71759,8.31142,9.80959,12.701,3.395,4.81966,4.92143,10.67173,6.38427,16.38269,1.08011,4.21678,2.16914,8.538,1.7485,12.87053-.47827,4.926-2.862,9.43647-4.26943,14.18129s-1.65034,10.396,1.60384,14.12483c2.39074,2.73948,6.14067,3.82552,9.725,4.43646a111.72711,111.72711,0,0,0,13.86106,1.20668c4.09734.181,8.6138.21623,11.76364-2.41046,2.48538-2.07259,3.5656-5.43591,3.70541-8.669s-.53286-6.43764-.95422-9.64624c-.43679-3.32621-.60465-6.68139-.74509-10.0332q-.94526-22.55877-.258-45.14656a38.4201,38.4201,0,0,0-.457-9.3683c-.87872-4.02822-3.0558-7.6282-4.87236-11.3294a42.873,42.873,0,0,1-4.7535-22.64814C819.33813,296.56585,822.85284,290.42574,819.39936,296.67731Z" transform="translate(-158.03543 -93.12723)" fill="#fff"/><path d="M859.75067,297.28869c1.47825,1.51932,6.50132,2.02018,8.38177,2.99865a29.36836,29.36836,0,0,0,5.50992,1.90771,71.53209,71.53209,0,0,1,19.35628,8.88384,11.74706,11.74706,0,0,1,3.2369,2.79592,12.81589,12.81589,0,0,1,1.79054,5.05636c.92077,4.561,1.84613,9.177,1.63922,13.82538-.21964,4.93423-1.70592,9.713-3.18039,14.42692L890.97553,364.797c-4.11236,13.14726-8.25081,26.42395-9.408,40.15067a94.44483,94.44483,0,0,0,.84766,22.8041,2.70352,2.70352,0,0,1-.27789,2.2087,2.17535,2.17535,0,0,1-1.34915.62078c-2.65906.41578-5.23239-.94-7.64158-2.13974a84.62175,84.62175,0,0,0-23.32742-7.6329,54.23155,54.23155,0,0,0,7.24542-14.936,90.39647,90.39647,0,0,0,2.18909-10.272l2.56289-14.82308a145.65593,145.65593,0,0,0,2.19851-16.39188,20.5206,20.5206,0,0,0-.35673-6.17482,29.956,29.956,0,0,0-2.34076-5.56859c-4.22379-8.78591-6.2056-18.81222-4.54371-28.418.7273-4.20377,2.14066-8.41316,1.55131-12.63847-.56664-4.06246.02225-7.21971-1.02008-11.24011C853.02545,283.83826,856.96957,294.43037,859.75067,297.28869Z" transform="translate(-158.03543 -93.12723)" fill="#fff"/><path d="M780.95626,334.68718c-1.92557,3.99584-5.14483,7.39993-6.24051,11.69808a25.55689,25.55689,0,0,0-.54411,6.1141,29.04292,29.04292,0,0,0,.907,9.19357c.61154,1.89541,1.60644,3.6434,2.32317,5.50159a19.9482,19.9482,0,0,1,1.30672,8.15063c-.19337,3.849-1.501,7.58522-1.60317,11.43772-.1607,6.05838,2.64147,11.75375,5.37573,17.1624A12.61667,12.61667,0,0,1,800.82,397.94135a3.76086,3.76086,0,0,0,.82656-2.74145q.30315-10.543.58485-21.08655c.296-10.8709.57793-21.88705-1.92279-32.47055-1.12908-4.77847-2.88591-9.53848-6.10656-13.24478-1.69585-1.95156-7.45282-7.092-10.23661-4.90577-1.25188.98316-.9593,3.65946-1.15766,5.01467A21.2751,21.2751,0,0,1,780.95626,334.68718Z" transform="translate(-158.03543 -93.12723)" fill="#fff"/><path d="M900.22818,323.17211a29.40911,29.40911,0,0,1,.98335,8.845q.0555,9.11409-.24157,18.2258a33.97739,33.97739,0,0,1-1.18394,9.22739c-.62184,1.95543-1.58145,3.78913-2.22366,5.738-1.92466,5.84056-.87308,12.1752-.708,18.32249a20.8187,20.8187,0,0,1-.50419,5.92705c-1.0157,3.81083-3.74532,6.89011-5.65047,10.34331-1.80937,3.27959-2.90113,6.95565-5.06211,10.015s-5.90186,5.48354-9.5278,4.54435c-2.74734-.71161-4.69948-3.14339-6.04977-5.63957a27.66137,27.66137,0,0,1-2.86-17.943c1.35561-7.46106,5.73821-14.08,7.31876-21.49667,2.17045-10.18472-1.12826-20.69456-1.0301-31.10753a15.0367,15.0367,0,0,1,.6555-4.822c.829-2.37852,2.60961-4.278,4.25453-6.18555a78.09591,78.09591,0,0,0,5.71806-7.50429c1.1776-1.75624,2.777-6.27327,4.86478-6.64885C893.64279,312.17448,899.07172,319.57089,900.22818,323.17211Z" transform="translate(-158.03543 -93.12723)" fill="#fff"/><path d="M756.76953,424.68946a28.36259,28.36259,0,0,0-7.88972-.83872,19.69148,19.69148,0,0,0-18.28168,23.21335,33.07425,33.07425,0,0,0,3.12633,8.543c2.09236,4.24623,4.60188,8.48272,8.47539,11.2038a33.01075,33.01075,0,0,0,7.47978,3.56042l20.40107,7.68544c3.00122,1.13062,6.0029,2.26139,9.03383,3.30976a176.7012,176.7012,0,0,0,47.18486,9.38044,51.09211,51.09211,0,0,0,14.65041-.74236,4.76925,4.76925,0,0,0,3.00039-1.621,5.13851,5.13851,0,0,0,.67038-2.21424l1.25537-8.78841a7.36141,7.36141,0,0,0-.1067-3.7048c-.57508-1.477-2.01659-2.40615-3.391-3.19556-13.41226-7.70334-29.07268-11.95321-40.362-22.52591-2.65768-2.489-4.88173-6.43428-8.11079-8.125-3.6617-1.91725-7.974-3.01149-11.75893-4.77821C773.87231,431.18919,765.73718,426.75085,756.76953,424.68946Z" transform="translate(-158.03543 -93.12723)" fill="#2f2e41"/><path d="M777.137,436.5375c7.21092,2.25953,37.65544,17.91361,42.87372,23.37917-.69947.252-24.43152-13.04779-25.14362-13.26151A143.38928,143.38928,0,0,1,775.7379,439.914c-1.23663-.572-8.0339-3.26024-7.72607-4.82054C768.35919,433.33273,775.85689,436.13637,777.137,436.5375Z" transform="translate(-158.03543 -93.12723)" opacity="0.1"/><path d="M867.09778,495.30484a1.69388,1.69388,0,0,0,1.14311-.33642,1.76559,1.76559,0,0,0,.3573-1.31543l-.03359-11.97293c-3.44295-1.6404-7.29415-2.1662-11.0743-2.67148L839.85271,476.651c.40523.05416-2.75773,7.59664-2.27275,8.60359.85477,1.77475,7.38718,3.34766,9.23078,4.18562C853.21974,492.3533,859.87952,495.55585,867.09778,495.30484Z" transform="translate(-158.03543 -93.12723)" fill="#a0616a"/><path d="M811.76011,481.63863c-3.33013.53041-7.047.99927-9.20364,3.59157-2.73492,3.28738-1.57064,8.188-.266,12.26045a3.97512,3.97512,0,0,0,4.6374,3.317c3.037.19231,6.26906.343,8.92262-1.14671a39.10621,39.10621,0,0,0,3.46608-2.57636,22.22264,22.22264,0,0,1,6.37266-2.9135,64.44127,64.44127,0,0,1,12.792-2.63622,19.89456,19.89456,0,0,0,5.03931-.88831,5.58371,5.58371,0,0,0,3.54887-3.44555c.61466-2.17582-.64993-4.39415-1.86275-6.30233a25.14245,25.14245,0,0,0-5.36411-6.62975c-3.28642-2.55284-4.91212-.59313-8.22257,1.04049A69.76371,69.76371,0,0,1,811.76011,481.63863Z" transform="translate(-158.03543 -93.12723)" fill="#a0616a"/><path d="M803.05747,484.63824l-21.14511-6.24976a27.98825,27.98825,0,0,0-7.86885-1.52484,9.44649,9.44649,0,0,0-7.22644,2.92243c-1.63965,1.92439-2.109,4.55451-2.51772,7.04944l-.8744,5.337a26.80527,26.80527,0,0,0-.48958,8.1957,9.0617,9.0617,0,0,0,4.20068,6.752c2.92607,1.59642,6.51235.81668,9.778.14893a106.45432,106.45432,0,0,1,20.03815-2.1488c2.531-.03027,5.18562.00143,7.42207-1.18387a9.26647,9.26647,0,0,0,4.52239-7.38444C809.31277,491.993,807.79319,486.038,803.05747,484.63824Z" transform="translate(-158.03543 -93.12723)" fill="#2f2e41"/><path d="M875.4096,479.192c2.74115-.48042,5.16036-2.03833,7.787-2.9579,3.6971-1.29435,7.70357-1.29433,11.62067-1.28a7.46024,7.46024,0,0,1,4.16623.83438c1.72541,1.14869,2.16763,3.44747,2.461,5.49942l1.7701,12.38028a19.42771,19.42771,0,0,1,.1446,7.01376c-.51931,2.29424-2.08312,4.506-4.35973,5.09786-2.765.71882-5.47563-1.04746-8.08633-2.20775-6.52523-2.9-14.11042-2.15882-20.91415-4.32634a4.68742,4.68742,0,0,1-3.13-2.23827,5.09274,5.09274,0,0,1-.24351-2.1394c.11651-3.97939-.7228-9.41332.47527-13.21648C868.17819,478.23119,872.34978,479.192,875.4096,479.192Z" transform="translate(-158.03543 -93.12723)" fill="#2f2e41"/><path d="M920.15727,419.70642a36.71918,36.71918,0,0,1,12.935-.88376c3.458.381,7.02087,1.3432,9.54563,3.73668,3.073,2.91321,4.06034,7.41855,4.14271,11.65213a36.40382,36.40382,0,0,1-7.91243,23.24909,21.09574,21.09574,0,0,1-4.52371,4.35479,29.7763,29.7763,0,0,1-5.88563,2.83629l-45.68734,18.02042c-12.01933,4.74078-24.08108,9.49529-36.61789,12.62065a2.85383,2.85383,0,0,1-3.84015-1.39224,94.65417,94.65417,0,0,1-10.01339-18.31708,1.23429,1.23429,0,0,1,.54552-1.94614l32.315-18.56722a32.67407,32.67407,0,0,0,6.57728-4.53184,16.32909,16.32909,0,0,0,3.37681-4.70121c.66984-1.39909.73232-4.70071,1.58792-5.73485.83771-1.01251,3.70338-1.09331,5.02688-1.49154a45.613,45.613,0,0,0,5.47254-2.06871c7.22863-3.23385,13.66561-7.93247,20.59523-11.719A52.84362,52.84362,0,0,1,920.15727,419.70642Z" transform="translate(-158.03543 -93.12723)" fill="#2f2e41"/><path d="M901.83754,433.57235c-5.55183,4.16981-12.74047,8.00282-18.24292,12.2825-1.87793,1.46061-33.18344,19.06089-33.62609,21.39842,5.13348.865,37.83421-22.01168,42.51287-24.29441s8.82614-5.50184,12.93593-8.69721c1.04734-.81431,5.486-3.26228,2.47938-4.17207C906.203,429.57707,903.088,432.73874,901.83754,433.57235Z" transform="translate(-158.03543 -93.12723)" opacity="0.1"/><path d="M863.63669,297.69255H814.902a7.4655,7.4655,0,0,0-7.46549,7.46549v2.7338h-.52955v6.11383h.52955v4.27969h-.52955v3.6683h.52955V367.065a7.4655,7.4655,0,0,0,7.46549,7.46549h48.73473a7.4655,7.4655,0,0,0,7.46549-7.46549V305.158A7.4655,7.4655,0,0,0,863.63669,297.69255Z" transform="translate(-158.03543 -93.12723)" fill="#d0cde1"/><polygon points="713.347 146.901 688.629 133.953 654.494 139.25 647.432 170.442 665.012 169.765 669.923 158.306 669.923 169.577 678.035 169.265 682.743 151.02 685.686 170.442 714.524 169.853 713.347 146.901" fill="#2f2e41"/><path d="M787.42312,415.66632a12.84416,12.84416,0,0,0,4.61387,4.5901,9.02314,9.02314,0,0,0,7.93145-.21258,13.96088,13.96088,0,0,0,5.72384-5.73878c2.68637-4.74373,3.24271-10.42009,2.90749-15.86133s-1.497-10.79915-2.01125-16.2264c-.3738-3.94524-.40419-7.914-.4343-11.87681a3.94955,3.94955,0,0,1,.49911-2.40193,4.71586,4.71586,0,0,1,2.64984-1.32324c5.42168-1.61087,9.02044-6.69265,11.60049-11.72582,1.72278-3.36081,3.22088-7.03459,2.88866-10.79659s-3.03631-7.55187-6.79339-7.93564c-3.09745-.3164-5.95746,1.65095-8.19178,3.81937A35.127,35.127,0,0,0,798.522,360.53151c-.49046,3.8251-.35,7.7543-1.39037,11.46773-2.22145,7.92887-9.17194,12.79011-12.63565,19.92467C780.67939,399.78543,782.78589,408.71047,787.42312,415.66632Z" transform="translate(-158.03543 -93.12723)" fill="#a0616a"/><path d="M889.7035,385.37474a14.98436,14.98436,0,0,1-8.40311,8.07433,11.60553,11.60553,0,0,1-7.305.44739,8.10041,8.10041,0,0,1-5.35136-4.78654,12.89451,12.89451,0,0,1-.60278-3.59534c-.3476-5.3469-.21328-10.85672,1.7289-15.85053.7491-1.92611,1.75913-3.7528,2.35032-5.73309a28.75224,28.75224,0,0,0,.885-6.99674l.63846-14.589a9.49429,9.49429,0,0,0-.21671-3.16333c-.63683-2.11095-2.60973-3.48278-4.41995-4.74165-4.37179-3.04026-8.692-6.58792-10.81042-11.47341a8.04686,8.04686,0,0,1-.747-4.75248c.59732-2.897,3.5209-4.77244,6.41054-5.40428a14.3393,14.3393,0,0,1,17.1909,11.55511c.28589,1.6464.28195,3.32814.44929,4.99078.35495,3.52685,1.47459,6.92655,2.175,10.40134,1.72532,8.55913.83131,17.4068,2.53745,25.96448C887.63961,372.87694,893.01872,377.54576,889.7035,385.37474Z" transform="translate(-158.03543 -93.12723)" fill="#a0616a"/><circle cx="681.88619" cy="231.27196" r="6.11383" fill="#00bfa6"/><circle cx="18.03699" cy="432.96923" r="18.03504" fill="#2f2e41"/><polygon points="83.411 486.51 74.327 477.68 56.086 483.346 57.838 504.467 95.344 502.725 83.822 487.069 83.411 486.51" fill="#fbbebe"/><circle cx="63.54349" cy="457.17052" r="29.15772" fill="#fbbebe"/><path d="M402.59166,617.0614s35.82078,61.55868,44.34576,70.80024a154.73921,154.73921,0,0,0,12.93514,12.89173s-4.00845,13.29343-10.39133,12.819a30.04191,30.04191,0,0,1-10.52921-2.59486s-2.8489-7.385-7.81819-10.62367-45.5683-43.17979-44.61938-55.94556S402.59166,617.0614,402.59166,617.0614Z" transform="translate(-158.03543 -93.12723)" fill="#2f2e41"/><path d="M275.02289,704.90827s38.19308,29.64424,90.0987,1.7893l4.47313-3.29187s-7.54884,16.982-8.24924,21.58608c-.81211,5.33843-20.46565,36.61011-23.67284,38.10839s-3.914,2.88039-3.914,2.88039l13.61045,14.98063,5.03226-3.70336s19.62205-27.80067,25.36111-32.88613S410.84518,686.84,410.84518,686.84s10.45431-19.761-15.63638-21.24735-38.09647,5.625-38.09647,5.625l-46.30443,7.35565Z" transform="translate(-158.03543 -93.12723)" fill="#2f2e41"/><path d="M460.31553,697.8415l19.318,13.36618s24.6456,7.72158,9.46412,12.86024-55.18771,6.99736-56.09536-.09232,1.578-18.24868,3.57383-17.63847S452.42459,710.54429,460.31553,697.8415Z" transform="translate(-158.03543 -93.12723)" fill="#2f2e41"/><path d="M354.11082,772.66579l3.57552,19.63479s10.167,19.44435-2.04019,13.41119-37.35722-28.95-33.6434-33.75432,11.9107-10.01481,12.74313-8.44923S341.73928,775.55648,354.11082,772.66579Z" transform="translate(-158.03543 -93.12723)" fill="#2f2e41"/><path d="M317.27546,685.01918s-25.96259,30.31191-41.72492,22.94862-80.24908-92.648-72.88579-108.41033S212.49694,587.15,212.49694,587.15l33.29655,3.07909-9.5803-15.36063s4.47313-3.29187,8.73562,1.32892,21.37544,16.16188,27.33707,32.46165,23.46434,15.48657,23.46434,15.48657Z" transform="translate(-158.03543 -93.12723)" fill="#fff"/><polygon points="264.085 529.388 219.08 577.161 178.764 505.981 217.091 459.674 264.085 529.388" fill="#3f3d56"/><polygon points="260.688 528.871 220.04 570.852 183.206 506.16 216.986 463.631 260.688 528.871" fill="#fff"/><polygon points="216.875 575.336 219.08 577.161 217.666 579.925 154.735 598.655 154.14 596.499 157.003 593.538 216.875 575.336" fill="#b3b3b3"/><polygon points="219.639 576.75 154.472 597.125 114.747 522.062 178.764 505.981 219.639 576.75" fill="#d0cde1"/><polygon points="214.733 566.569 211.937 568.626 180.907 514.748 184.114 513.25 214.733 566.569" fill="#3f3d56"/><polygon points="208.318 569.565 180.751 577.785 149.457 522.377 176.729 516.099 208.318 569.565" fill="#3f3d56"/><path d="M288.692,621.58223l5.70757-1.61445s31.82975-3.5991,32.29443,6.40245-36.5667,5.36121-36.5667,5.36121l-4.93781-6.70968Z" transform="translate(-158.03543 -93.12723)" fill="#fbbebe"/><path d="M316.60994,666.54583l7.94414-3.26038s23.98007-10.75177,17.101-17.75678-28.09491,5.16037-28.09491,5.16037l-4.06164,3.851Z" transform="translate(-158.03543 -93.12723)" fill="#fbbebe"/><path d="M309.53,651.069s12.93514,12.89173,9.99178,15.91977-51.20861,42.85727-63.17312,30.1132-70.25731-76.72823-47.57466-82.21539,28.67576,7.34159,28.67576,7.34159l29.94384,51.23031Z" transform="translate(-158.03543 -93.12723)" fill="#fff"/><polygon points="112.763 518.781 134.011 525.986 133.664 541.326 111.192 538.901 112.763 518.781" fill="#fff"/><polygon points="131.914 565.887 109.021 579.287 82.865 539.06 108.113 572.197 131.914 565.887" opacity="0.2"/><circle cx="50.74531" cy="448.71839" r="34.71157" fill="#2f2e41"/><polygon points="238.3 532.417 213.995 496.862 224.298 484.108 249.553 520.688 238.3 532.417" fill="#00bfa6"/><polygon points="237.615 546.712 200.613 492.919 202.438 490.714 239.267 544.634 237.615 546.712" fill="#e6e6e6"/><polygon points="232.847 551.945 195.845 498.152 197.67 495.947 234.499 549.868 232.847 551.945" fill="#e6e6e6"/><polygon points="228.785 555.796 191.783 502.003 193.608 499.798 230.437 553.719 228.785 555.796" fill="#e6e6e6"/><path d="M66.11686,425.5444h10.738a20.49972,20.49972,0,0,1,20.49972,20.49972v0a0,0,0,0,1,0,0H66.11686a0,0,0,0,1,0,0V425.5444A0,0,0,0,1,66.11686,425.5444Z" fill="#2f2e41"/><path d="M372.06674,505.62594l-1.94664-.1449c-.07549,1.01216-.12953,2.0304-.19376,3.0459l-8.73775-.29254,9.16555,17.17535,10.29378-16.52389-8.76982-.29361C371.94084,507.6035,371.99322,506.612,372.06674,505.62594Z" transform="translate(-158.03543 -93.12723)" fill="#3f3d56"/><path d="M423.31656,365.62543l1.552,1.185c2.32795-3.04912,4.75934-6.093,7.227-9.04728l-1.49859-1.25168C428.11117,359.48762,425.66167,362.5539,423.31656,365.62543Z" transform="translate(-158.03543 -93.12723)" fill="#3f3d56"/><path d="M438.27191,347.72772l1.44139,1.31651c2.59011-2.83654,5.27937-5.65354,7.992-8.37378L446.323,339.292C443.58989,342.03176,440.88109,344.87021,438.27191,347.72772Z" transform="translate(-158.03543 -93.12723)" fill="#3f3d56"/><path d="M454.73586,331.219l1.32031,1.43853c2.83273-2.60108,5.75745-5.17022,8.69266-7.6364l-1.2555-1.49477C460.5362,326.01062,457.58956,328.59931,454.73586,331.219Z" transform="translate(-158.03543 -93.12723)" fill="#3f3d56"/><path d="M409.99087,384.77863l1.65016,1.04291c2.052-3.24646,4.20691-6.49387,6.40426-9.65262l-1.60249-1.11536C414.22876,378.23614,412.0581,381.50787,409.99087,384.77863Z" transform="translate(-158.03543 -93.12723)" fill="#3f3d56"/><path d="M472.57875,316.22692l1.18876,1.54816c3.05056-2.34226,6.18882-4.64352,9.32755-6.83992l-1.11917-1.59964C478.81332,311.54861,475.65171,313.867,472.57875,316.22692Z" transform="translate(-158.03543 -93.12723)" fill="#3f3d56"/><path d="M398.40591,405.04291l1.736.89228c1.75884-3.42043,3.61873-6.84754,5.52771-10.18552l-1.695-.9695C402.05132,398.14341,400.17761,401.59625,398.40591,405.04291Z" transform="translate(-158.03543 -93.12723)" fill="#3f3d56"/><path d="M379.57444,459.99724l-1.89039-.48665c-.96474,3.746-1.858,7.56585-2.65494,11.35426l1.91042.40229C377.73076,467.50733,378.61733,463.71511,379.57444,459.99724Z" transform="translate(-158.03543 -93.12723)" fill="#3f3d56"/><path d="M491.66474,302.86739l1.04768,1.6473c3.236-2.05913,6.563-4.07392,9.889-5.98862l-.97427-1.69211C498.27635,298.76344,494.92455,300.793,491.66474,302.86739Z" transform="translate(-158.03543 -93.12723)" fill="#3f3d56"/><path d="M374.80843,482.64286l-1.92662-.3165c-.6268,3.81129-1.17733,7.695-1.63634,11.5435l1.939.23069C373.63968,490.28164,374.1864,486.4265,374.80843,482.64286Z" transform="translate(-158.03543 -93.12723)" fill="#3f3d56"/><path d="M388.66081,426.2662l1.80841.735c1.44758-3.563,2.99622-7.14354,4.60252-10.64167l-1.77408-.81507C391.679,419.06927,390.11888,422.67655,388.66081,426.2662Z" transform="translate(-158.03543 -93.12723)" fill="#3f3d56"/><path d="M380.8409,448.28645l1.86751.57007c1.12585-3.684,2.34941-7.39045,3.63684-11.01632l-1.83987-.653C383.20842,440.83975,381.97533,444.5743,380.8409,448.28645Z" transform="translate(-158.03543 -93.12723)" fill="#3f3d56"/><path d="M623.73237,263.95373c3.8275-.1325,7.72458-.18541,11.57972-.14919l.01716-1.95235c-3.88183-.03623-7.80942.01668-11.66361.15014Z" transform="translate(-158.03543 -93.12723)" fill="#3f3d56"/><path d="M511.84465,291.24954l.898,1.73309c3.40947-1.76646,6.8995-3.47811,10.37427-5.08775l-.82079-1.77123C518.79563,287.74521,515.27938,289.46973,511.84465,291.24954Z" transform="translate(-158.03543 -93.12723)" fill="#3f3d56"/><path d="M669.93019,266.388c3.80842.53909,7.65212,1.17018,11.42433,1.87609l.35844-1.919c-3.79985-.71116-7.67215-1.34748-11.51013-1.89039Z" transform="translate(-158.03543 -93.12723)" fill="#3f3d56"/><path d="M692.68543,270.64541c3.73883.87323,7.512,1.84368,11.2127,2.88421l.52812-1.87991c-3.72835-1.04815-7.52915-2.02528-11.29659-2.90517Z" transform="translate(-158.03543 -93.12723)" fill="#3f3d56"/><path d="M714.96879,276.91049c3.64541,1.20259,7.31656,2.5048,10.9105,3.87087l.694-1.82461c-3.62158-1.37656-7.31943-2.68878-10.99249-3.90042Z" transform="translate(-158.03543 -93.12723)" fill="#3f3d56"/><path d="M646.88609,264.15917c3.84466.20162,7.72935.49142,11.54731.86035l.18876-1.94282c-3.84657-.37226-7.76081-.664-11.63311-.867Z" transform="translate(-158.03543 -93.12723)" fill="#3f3d56"/><path d="M600.42326,263.82885l.23833,1.93806c3.80461-.46807,7.67882-.85845,11.51394-1.15969l-.15253-1.94664C608.15833,262.96421,604.25553,263.35745,600.42326,263.82885Z" transform="translate(-158.03543 -93.12723)" fill="#3f3d56"/><path d="M554.87751,273.59635l.5777,1.86465c3.66877-1.13585,7.41285-2.2045,11.12881-3.17639l-.49381-1.88848C562.3466,271.37469,558.57392,272.45144,554.87751,273.59635Z" transform="translate(-158.03543 -93.12723)" fill="#3f3d56"/><path d="M532.96069,281.46822l.74119,1.8065c3.54961-1.45664,7.17548-2.85084,10.77705-4.14495l-.65969-1.837C540.19,278.59593,536.537,280.00109,532.96069,281.46822Z" transform="translate(-158.03543 -93.12723)" fill="#3f3d56"/><path d="M577.434,267.69829l.409,1.90946c3.75076-.80411,7.57492-1.53577,11.36714-2.174l-.32412-1.92566C585.06562,266.15156,581.21239,266.88846,577.434,267.69829Z" transform="translate(-158.03543 -93.12723)" fill="#3f3d56"/><path d="M755.01,292.85257l-10.91021-16.1235-3.83631,7.89659c-.92852-.41463-1.852-.83825-2.77964-1.23988l-.776,1.7922c.90581.392,1.80144.803,2.702,1.20473l-3.81814,7.85923Z" transform="translate(-158.03543 -93.12723)" fill="#3f3d56"/></svg>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="card card-custom bg-font-dark gutter-b">
                    <div class="card-header border-0 pt-5">
                        <h3 class="card-title align-items-start flex-column mb-5">
                            <span class="card-label font-weight-bolder oppo-title mb-1">Đánh giá</span>
                        </h3>
                    </div>
                    <div class="card-body pt-2">
                        <ul class="rating">
                            <li id="1" class="text-warning far fa-star star star_effect fa-2x CourseRating"></li>
                            <li id="2" class="text-warning far fa-star star star_effect fa-2x CourseRating"></li>
                            <li id="3" class="text-warning far fa-star star star_effect fa-2x CourseRating"></li>
                            <li id="4" class="text-warning far fa-star star star_effect fa-2x CourseRating"></li>
                            <li id="5" class="text-warning far fa-star star star_effect fa-2x CourseRating"></li>
                        </ul>
                        <a role="button" class="pull-right text-primary btn_rating"><i class="icon-save"></i></a>
                        <input type="hidden" class="rating_value" name="rating_value"/>
                        <input type="hidden" id="CourseRating" value="<?php if(!empty($this->star) and $this->star){ echo $this->star;}else{echo '0';} ?>" />
                    </div>
                </div>
            </div>
            <div class="flex-row-fluid ml-lg-8">
                <div class="card card-custom card-stretch gutter-b">
                    <div class="card-header pt-5">
                        <h3 class="card-title align-items-start flex-column mb-5">
                            <span class="card-label font-weight-bolder oppo-title mb-1">Chi tiết khóa học</span>
                        </h3>
                    </div>
                    <div class="card-body pt-2">
                        <?php if(isset($this->IS_ONLINE) and $this->IS_ONLINE): ?>
                            <div class="<?php echo !$this->IS_MOBILE ? "position-absolute" : NULL ?> right-0 offset-lg-4 col-lg-4">
                                <label class="font-weight-bolder"> Sơ lược khóa học</label>
                                <label class="text-dark-50">
                                    <?php echo $this->course['content']; ?>
                                </label>
                            </div>
                            <div class="col-lg-6">
                                <?php if(!empty($this->course['link']) and $this->course['link']): ?>
                                    <div class="embed-responsive embed-responsive-16by9">
                                        <iframe style="border-radius: 9px;" src="<?php echo $this->course['link']; ?>" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                                    </div>
                                <?php else: ?>
                                    <label class="font-weight-bolder text-dark-50">Chúng tôi đang cập nhập video khóa học....</label>
                                    <div class="embed-responsive embed-responsive-16by9">
                                        <iframe style="border-radius: 9px;" src="https://www.youtube.com/embed/-k3_JSZOuV8" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                                    </div>
                                <?php endif; ?>
                            </div>
                        <?php else: ?>
                            <?php if(!empty($this->course) and $this->course['document']): ?>
                                <iframe style="border: none; border-radius: 10px; height: 100% !important; width: 100% !important;" src="<?php echo HOST . 'files/hr-course/doc/' . $this->course['id'] . '/' . $this->course['document'] . '#toolbar=0&navpanes=0&scrollbar=0'; ?>" allowfullscreen></iframe>
                                <div class="embed-cover"></div>
                            <?php else: ?>
                            <?php echo $this->render('hr-course/partials/template.phtml'); ?>
                            <div class="col-lg-6">
                                <div class="form-group">
                                    <label class="font-weight-bolder"> Sơ lược khóa học</label>
                                </div>
                                <label class="text-dark-50" style="max-width: 500px !important;">
                                    <?php echo $this->course['content']; ?>
                                </label>
                                <div class="file_wrap">
                                    <div class="file_request span2">
                                        <i class='la la-file-download icon-5x text-dark-50'></i>
                                        <div class="title_file">
                                            <span>Tài liệu <br> đang được cập nhập... <br></span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <?php endif; ?>
                        <?php endif; ?>
                    </div>
                    <?php if(!empty($this->course) and $this->course['document']): ?>
                    <?php else: ?>
                        <div class="card-footer" style="background: url('https://dobbi.com/app/themes/duet-digital/images/footer-curves.svg');background-size: cover;background-position: center;height: 100%; border: none;"></div>
                    <?php endif; ?>
                </div>
            </div>
        </div>
    </div>
    <div class="row-fluid">
        <div class="flex-column">
            <div class="card card-custom gutter-b" style="min-height: 50vh !important;">

                <?php echo $this->render('hr-course/partials/general-course-control.phtml'); ?>
            </div>
        </div>
    </div>
    <?php endif; ?>
</div>
<script>
    $('.btn_rating').on("click",function(){
        var rating_value = $('.rating_value').val();
        var course_id    = '<?php echo $this->course['id']; ?>';
        if(rating_value == 0){
            Swal.fire(
                "Chờ đã",
                "Bạn chưa chọn điểm số đánh giá khóa học thì phải",
                "error"
            )
        }else {
            Swal.fire({
                title: "Xác nhận",
                text: "Bạn muốn đánh giá độ hữu ích khóa học với điểm số trên?",
                imageUrl: "/img/dancing_star.gif",
                showCancelButton: true,
                confirmButtonText: "Đồng ý!"
            }).then(function (result) {
                if (result.value) {
                    $.ajax({
                        url: '/hr-course/rating-course',
                        type: 'post',
                        data: {
                            'rating_value': rating_value, 'course_id': course_id},
                    });
                    Swal.fire(
                        "Đã lưu thông tin!",
                        "Cảm ơn bạn đã đánh giá khóa học.",
                        "success"
                    );
                    setTimeout(
                        function () {
                            location.reload();
                        }, 1000);
                } else if (result.dismiss === "cancel") {
                    Swal.fire(
                        "Đã hủy",
                        "Nhớ quay lại đánh giá khóa học cho chúng mình nhé!",
                        "error"
                    )
                }
            });
        }
    });

    $(document).ready(function(){
        $('.star').click(function () {
            if ($(this).hasClass("CourseRating")) {
                $('#CourseRating').val('' + $(this).prop("id") + '');
                var value = $(this).prop("id");
                $('.rating_value').val(value);
            }
            $(this).removeClass('fa-2x').addClass('fa-3x');
            resetstars();
        });

        $('.star_effect').hover(function () {
            $(this).removeClass('far fa-star').addClass('fa fa-star')
            $(this).prevAll().removeClass('far fa-star').addClass('fa fa-star')
            $(this).nextAll().removeClass('fa fa-star').addClass('far fa-star')
        }, function () {
            resetstars();
        });
        resetstars();
        function resetstars() {
            $('.CourseRating').each(function (i) {
                if (i < $("#CourseRating").val()) {
                    if (i + 1 == $("#CourseRating").val()) {
                        $(this).removeClass('far fa-star').addClass("fa fa-star");
                        $(this).removeClass('fa-2x').addClass("fa-3x");
                    }
                    else {
                        $(this).removeClass('far fa-star').addClass("fa fa-star");
                        $(this).removeClass('fa-3x').addClass("fa-2x");
                    }
                }
                else {
                    $(this).removeClass('fa fa-star').addClass("far fa-star");
                    $(this).removeClass('fa-3x').addClass("fa-2x");
                }
            });
        }
    });
</script>