<style>
    .custom-file{width: 36% !important;}
    .alert-text{font-size: 16px !important;}
    code{border: none;}
    .table-bordered th{
        background: #e2efda;
        color: #000;
        text-align: center;
        border: 1px solid #b3b3b3 !important;
        text-transform: none;
        font-size: 12px;
        vertical-align: middle
    }
    .block-course h4{text-align: center;color:green;text-transform: uppercase}
    .block-course img{max-width: 100%}
</style>
<div class="page-header">
    <h1>Quản lý học viên</h1>
</div>
<?php
    if (isset($this->messages_success) and $this->messages_success)
            foreach ($this->messages_success as $message):
            echo '<div class="alert alert-success">'.$message.'</div>';
    endforeach;
    if (isset($this->messages) and $this->messages)
        foreach ($this->messages as $messages_error):
        echo '<div class="alert alert-danger">'.$messages_error.'</div>';
    endforeach;
?>
<form action="/hr-course/staff-course" method="POST" enctype="multipart/form-data">
<div class="card card-custom example example-compact">
    <div class="card-header">
        <div class="card-title">
            <span class="card-icon">
            <span class="caption-subject font-green uppercase text-primary">Thông tin</span>
        </div>
    </div>
    <div class="card-body">
        <fieldset>
            <div class="row-fluid">
                <div class="span3">
                    <textarea data-scroll="true" data-wheel-propagation="true" id="staff_code" class="span2" required style="height: 190px;"><?php echo $this->staffCodeList; ?></textarea>
                    <input type="hidden" id="course_info" value="<?php echo $this->course['name']; ?>" />
                    <?php if(isset($this->list_success) and $this->list_success): ?>
                        <button type="submit" class="btn btn-outline-warning" name="export" value="1"><i class="fas fa-file-export"></i>Export</button>
                    <?php else: ?>
                        <a role="button" class="btn btn-outline-primary" id="check"><i class="flaticon-users-1"></i>Check</a>
                    <?php endif; ?>
                </div>
                <div class="span7">
                    <div class="form-group mb-8">
                        <div class="alert alert-custom alert-default" role="alert">
                            <div class="alert-icon"><i class="flaticon2-open-text-book text-light-blue"></i></div>
                            <div class="alert-text">
                                <code>Khóa học: <a  class="font-weight-bold" href="/hr-course/create-course?id=<?php echo $this->course['id']?>"><?php echo $this->course['name']; ?></a></code><hr/>
                                <label class="text-primary"><?php echo $this->course['content']; ?></label>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </fieldset>
    </div>
    <?php 
        $list_step = NULL;
        $list_step = isset($this->list_step) && $this->list_step ? $this->list_step : NULL; 
    ?>
    <div id="staff_table"></div>
    <?php if(isset($this->listStaff) and $this->listStaff): ?>
    <div id="staff_table_temp">
        <div class="container text-center">
            <h1>Danh sách học viên tham gia</h1>
            <h4 style="color:Red">KHÓA HỌC</h4>
            <h3 style="color:Red"><?php echo $this->course['name']; ?></h3>
        </div>
        <div class="container">
            <table class="table table-bordered">
                <tbody><tr>
                    <th>Mã nhân viên</th>
                    <th>Phòng ban</th>
                    <th>Tên nhân viên</th>
                    <th>Chức danh</th>
                    <?php if(in_array(1, $list_step)): ?>
                    <th>Khảo sát trước khóa học</th>
                    <?php endif;?>
                    <th>Khảo sát sau khóa học</th>
                    <th>Action Plan</th>
                </tr>
                <?php foreach ($this->listStaff as $value): ?>
                    <tr style="background: #f5fbff;">
                        <td><?php echo $value['staff_code']; ?></td>
                        <td><?php echo (isset($this->recursiveDeparmentTeamTitle[$value['department']]['name']) ? $this->recursiveDeparmentTeamTitle[$value['department']]['name'] : '');?></td>
                        <td><?php echo $value['full_name']; ?></td>
                        <td><?php echo $value['position']; ?></td>
                        <?php if(in_array(1, $list_step)): ?>
                        <td style="text-align: center">
                            <?php if(in_array(1, $this->list_success[$value['staff_id']])): ?>
                                <a role="button" class="btn_show_info" style="color: #0c676d;" data-staff-id="<?php echo $value['staff_id']; ?>" data-form="1" data-course-id="<?php echo $this->course['id'] ?>">Chi tiết</a>
                            <?php else: ?>
                                <label class="label label-warning">Chưa thực hiện</label>
                            <?php endif; ?>
                        </td>
                        <?php endif; ?>
                        <td style="text-align: center">
                            <?php if(in_array(2, $this->list_success[$value['staff_id']])): ?>
                                <a role="button" class="btn_show_info" style="color: #0c676d;" data-staff-id="<?php echo $value['staff_id']; ?>" data-form="2" data-course-id="<?php echo $this->course['id'] ?>">Chi tiết</a>
                            <?php else: ?>
                                <label class="label label-warning">Chưa thực hiện</label>
                            <?php endif; ?>
                        </td>
                        <td style="text-align: center">
                            <?php if(in_array(3, $this->list_success[$value['staff_id']])): ?>
                                <a role="button" class="btn_show_info" style="color: #0c676d;" data-staff-id="<?php echo $value['staff_id']; ?>" data-form="3" data-course-id="<?php echo $this->course['id'] ?>">Theo dõi</a>
                            <?php else: ?>
                                <label class="label label-warning">Chưa thực hiện</label>
                            <?php endif; ?>
                        </td>
                    </tr>
                <?php endforeach; ?>
                </tbody>
            </table>
        </div>
    </div>
    <?php endif; ?>
    <div id="model"></div>
    <div class="card-footer">
        <div class="row">
            <div class="col-lg-9 ml-lg-auto">
                <input type="hidden" name="id" value="<?php echo !empty($this->course) ? $this->course['id'] : NULL;?>" />
                <?php if(!(isset($this->list_success) and $this->list_success)): ?>
                <button type="submit" class="btn btn-primary pull-right mr-2">Lưu lại</button>
                <?php endif; ?>
            </div>
        </div>
    </div>
</div>
</form>
<script type="text/javascript" src="/js/jquery.ui.timepicker.js"></script>
<script src="/js/jquery.blockUI.js"></script>
<script>
    $(document).ready(function(){
        show_staff_table();
        show_model();
    });
    $(document).ajaxStart($.blockUI).ajaxStop($.unblockUI);
    function show_staff_table(){
        $('#check').click(function(){
            var staffCode = $('#staff_code').val();
            var course    = $('#course_info').val();
            $('#staff_table_temp').remove();
            if(staffCode === ''){
                alert('Vui lòng nhập dữ liệu');
                return false;
            }
            $.ajax({
                type: 'get',
                url: '/hr-course/load-staff',
                data: {'staffCode': staffCode, 'course': course},
                success: function(data){
                    $("#staff_table").html(data);
                },
                error:function(){
                    alert('load data error');
                }
            })
        });
    }
    function show_model(){
        $('.btn_show_info').click(function(){
            var course_id        = $(this).attr('data-course-id');
            var staff_id         = $(this).attr('data-staff-id');
            var form             = $(this).attr('data-form');
            $.ajax({
                type: 'get',
                url: '/hr-course/oppo-classroom-info',
                data: {'course_id': course_id, 'staff_id': staff_id, 'form': form},
                success: function(data){
                    $("#model").html(data);
                },
                error:function(){
                    Swal.fire(
                        "Opp!",
                        "Có vẻ chưa có dữ liệu từ nhân viên này",
                        "error"
                    );
                }
            });
            $("html, body").animate({ scrollTop: $(document).height() }, 1000);
        });
    }
</script>