
<link rel="stylesheet" type="text/css" href="/css/bootstrap-datetimepicker.min.css">

<?php // if($this->message->setNamespace('success')->hasMessages()): ?>
<!--<div class="alert alert-success alert-dismissible" role="alert">
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
    </button>
    <strong>Success</strong>
</div>-->
<?php//  endif ?>

<?php // if($this->message->setNamespace('error')->hasMessages()): ?>
<!--<div class="alert alert-error alert-dismissible" role="alert">
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
    </button>
    <strong>Error, To date can not greater than From date.</strong>
</div>-->

<?php // endif ?>

<style type="text/css">
    .tool{margin-bottom: 10px}
</style>

<!-- <div class="tool">
    <a class="btn btn-primary" id="btn-create" href="/manage/leader-region-create">Create</a>
</div> -->

<table class="table table-bordered">
    <thead>
    <tr>
        <?php echo $this->sorting(array(
                '#',
                'parent_nname'  => 'Area',
                'parent_shared' => 'Area Shared',
                'region_name'   => 'Province',
                'region_shared' => 'Province Shared',
                'staff_name'    => 'Leader name',
                'email'         => 'Email',
                'from date',
                'to date',
                'Action'
            ),
            $this->url, $this->sort, $this->desc); ?>
    </tr>
    </thead>
    <tbody>
    <?php
    if (isset($this->staffs) and $this->staffs)
        $inc = $this->offset + 1;
        foreach ($this->staffs as $k=>$d): ?>
            <tr>
                <td><?php echo $inc++;?></td>
                <td><?php echo $d['parent_name'] ?></td>
                <td><?php echo $d['parent_shared'] ?></td>
                <td><?php echo $d['region_name'] ?></td>
                <td><?php echo $d['region_shared'] ?></td>
                <td><?php echo $d['staff_name'];?></td>
                <td><?php echo str_replace(EMAIL_SUFFIX, '', $d['email']);?></td>
                <td><?php echo date('d/m/Y',strtotime($d['from_date']))?></td>
                <td class="td-to-date"><?php if($d['to_date']) echo date('d/m/Y',strtotime($d['to_date']))?></td>
                <td>
                    <a href="/manage/leader-region-edit?sales_region_id=<?php echo $d['region_id']?>" target="_blank">
                        <i class="icon-edit"></i>
                    </a>
                    <a href="/manage/leader-region-plus?sales_region_id=<?php echo $d['region_id']?>" target="_blank">
                        <i class="icon-plus"></i>
                    </a>
                    <?php if(!$d['to_date']) :?>
                    <a class="add-input" data-id-sales-region="<?php echo $d['region_id']?>">
                        <i class="icon-trash"></i>
                    </a>
                <?php endif ?>
                </td>
            </tr>
        <?php endforeach;?>

    </tbody>
</table>
<div class="paging">
    <?php echo $this->paging($this->total, $this->limit, $this->offset, $this->url);?>
</div>
<script type="text/javascript" src="/js/bootstrap-datetimepicker.min.js"></script>

<script>
    $(".add-input").click(function () {
           var obj = $(this).parent().parent().children('.td-to-date');
           var to_date_text = obj.html();
           var id_sales_region = $(this).data('id-sales-region');
           if(to_date_text=="")
           {
            $('.td-to-date.edit-active').html('');
           obj.addClass('edit-active').html('<form action="<?php echo $this->url(array('controller' => 'manage','action' => 'deleteleaderregion'))?>" method="post" id="edit-form"><input type="hidden" name="id_sales_region" value="'+id_sales_region+'"><input type="text" style="width:40%" class="date" name="edit_to_date" id="to-date-editing"><input style="float:right" type="button" id="cancel" class="btn btn-default" value="cancel"><input style="float:right" type="submit"  class="btn btn-success" value="save"></form>');
           $('#to-date-editing').datetimepicker({
                format: 'dd/mm/yyyy',
                startView: 2,
                minView: 2,
                autoclose: true
            });
           }
        });
    $(document).on("click", "#cancel", function(){
        $("#edit-form").remove();
    });
</script>