<style type="text/css">
    .table{
        -webkit-touch-callout: none;
        -webkit-user-select: none;
        -khtml-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
    }
    .table tbody tr{cursor: pointer}
    .table tr.select-click:hover td{background: #e5e5e5}
    .row-active{background: #e5e5e5}
    .tool{margin-bottom: 10px}
</style>

<div class="tool">
    <a class="btn btn-primary" id="btn-create">Create</a>
    <a class="btn btn-danger" id="btn-delete" disabled>Delete</a>
</div>
<table class="table table-bordered">
    <thead>
    <tr>
        <?php echo $this->sorting(array(
                '#',
                'parent_nname'  => 'Area',
                'parent_shared' => 'Area Shared',
                'region_name'   => 'Province',
                'region_shared' => 'Province Shared',
                'staff_name'    => 'Leader name',
                'email'         => 'Email',
                'from date',
                'to date',
                'Action'
            ),
            $this->url, $this->sort, $this->desc); ?>
    </tr>
    </thead>
    <tbody>
    <?php
    if (isset($this->staffs) and $this->staffs)
        $inc = $this->offset + 1;
        foreach ($this->staffs as $k=>$d): ?>
            <tr class="select-click" data-parent-id="<?php echo $d['parent_id'] ?>">
                <td> <?php echo $inc++;?></td>
                <td><?php echo $d['parent_name'] ?></td>
                <td><?php echo $d['parent_shared'] ?></td>
                <td><?php echo $d['region_name'] ?></td>
                <td><?php echo $d['region_shared'] ?></td>
                <td><?php echo $d['staff_name'];?></td>
                <td><?php echo str_replace(EMAIL_SUFFIX, '', $d['email']);?></td>
                <td><?php echo date('d/m/Y',strtotime($d['from_date']))?></td>
                <td><?php if($d['to_date']) echo date('d/m/Y',strtotime($d['to_date']))?></td>
                <td>
                    <a href="/manage/leader-region-edit?sales_region_id=<?php echo $d['sales_region_id']?>">
                        <i class="icon-edit"></i>
                    </a>
                </td>
            </tr>
        <?php endforeach;?>

    </tbody>
</table>
<div class="paging">
    <?php echo $this->paging($this->total, $this->limit, $this->offset, $this->url);?>
</div>

<script type="text/javascript">
    function _control_button(){
        if($(".row-active").length > 0)
            $("#btn-delete").attr("disabled", false);
        else
            $("#btn-delete").attr("disabled", true);
    }
    function _select_multi(elem){
        var parent_id = elem.data("parent-id");
        var target = $("tr[data-parent-id="+parent_id+"]");

        if(!elem.hasClass("row-active")){
            $(".row-active").removeClass("row-active");
            target.addClass("row-active");
        }
        else
            target.removeClass("row-active");
        _control_button();
    }
    function _select(elem){
        // if($(".row-active").data("data-parent-id") != elem.data("data-parent-id"))
            // console.log($(".row-active").data("data-parent-id"));
        $(".row-active").each(function(event){
            if($(this).data("parent-id") != elem.data("parent-id")){
                $(".row-active").removeClass("row-active");
                return;
            }
        });

        if(elem.hasClass("row-active"))
            elem.removeClass("row-active");
        else
            elem.addClass("row-active");
        _control_button();
    }
    $(".select-click").click(function(event){
        if(event.altKey){
            _select_multi($(this));
        }
        else{
            _select($(this));
        }
    });
</script>