<?php
/* xu ly noi dung :)*/
$v = $this->v;
?>
<p  style="margin-left:.5in;text-align:justify;text-indent:-.25in;
line-height:13.0pt;mso-line-height-rule:exactly;mso-list:l1 level1 lfo1;
tab-stops:list .5in left 207.0pt 4.5in"><span style="font-family:VNI-Times;mso-fareast-font-family:VNI-Times;mso-bidi-font-family:
VNI-Times">-<span style="font-stretch: normal; font-size: 7pt; line-height: normal; font-family: 'Times New Roman';">&nbsp;&nbsp;&nbsp;&nbsp;
</span></span>Tiền lương đã bao gồm phụ cấp trách nhiệm và các loại phụ cấp khác* (nếu có) :&nbsp;<span style="color:blue"> </span><b><span style="color:blue"><?php echo intval($v['bonus_salary']); ?></span></b><span style="color:blue"> &nbsp;</span>đồng/tháng , trong đó:<o:p></o:p></p>

<p  style="margin-left:.75in;text-align:justify;text-indent:
-.25in;line-height:8.0pt;mso-line-height-rule:exactly;mso-list:l3 level1 lfo4;
tab-stops:207.0pt 4.5in"><span style="font-family:Symbol;
mso-fareast-font-family:Symbol;mso-bidi-font-family:Symbol">o<span style="font-stretch: normal; font-size: 7pt; line-height: normal; font-family: 'Times New Roman';">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
</span></span>Mức lương cơ bản :  <b><span style="color:blue"><?php echo intval($v['base_salary']); ?></span></b>  đồng/tháng.<o:p></o:p></p>

<p  style="margin-left:.5in;text-align:justify;text-indent:-.25in;
mso-list:l1 level1 lfo1;tab-stops:list .5in left 207.0pt 4.5in"><span style="font-family:VNI-Times;mso-fareast-font-family:VNI-Times;mso-bidi-font-family:
VNI-Times">-<span style="">&nbsp;&nbsp;&nbsp;&nbsp;
</span></span><?php if(isset($v['kpi']) and $v['kpi']) echo $v['kpi']; ?><o:p></o:p></p>

<p  style="margin-left:.5in;text-align:justify;text-indent:-.25in;
mso-list:l1 level1 lfo1;tab-stops:list .5in left 207.0pt 4.5in"><span style="font-family:VNI-Times;mso-fareast-font-family:VNI-Times;mso-bidi-font-family:
VNI-Times">*<span style="">&nbsp;&nbsp;&nbsp;&nbsp;
</span></span>Các khoản phụ cấp có thể thay đổi tùy theo tình hình thực tế của công ty;<o:p></o:p></p>

<p  style="margin-left:.5in;text-align:justify;text-indent:-.25in;
mso-list:l1 level1 lfo1;tab-stops:list .5in left 207.0pt 4.5in"><span style="font-family:VNI-Times;mso-fareast-font-family:VNI-Times;mso-bidi-font-family:
VNI-Times">-<span style="">&nbsp;&nbsp;&nbsp;&nbsp;
</span></span>Được trả lương và thưởng doanh số (nếu có) vào ngày 10 hàng tháng;<o:p></o:p></p>

<p  style="margin-left:.5in;text-align:justify;text-indent:-.25in;
mso-list:l1 level1 lfo1;tab-stops:list .5in left 207.0pt 4.5in"><span style="font-family:VNI-Times;mso-fareast-font-family:VNI-Times;mso-bidi-font-family:
VNI-Times">-<span style="">&nbsp;&nbsp;&nbsp;&nbsp;
</span></span>Hình thức trả lương, thưởng:  Chuyển khoản/tiền mặt;<o:p></o:p></p>


<p  style="margin-left:.5in;text-align:justify;text-indent:-.25in;
mso-list:l1 level1 lfo1;tab-stops:list .5in left 207.0pt 4.5in"><span style="font-family:VNI-Times;mso-fareast-font-family:VNI-Times;mso-bidi-font-family:
VNI-Times">-<span style="">&nbsp;&nbsp;&nbsp;&nbsp;
</span></span>Tiền thưởng hàng năm: Tùy thuộc chính sách hàng năm của Công ty;<o:p></o:p></p>

<p  style="margin-left:.5in;text-align:justify;text-indent:-.25in;
mso-list:l1 level1 lfo1;tab-stops:list .5in left 207.0pt 4.5in"><span style="font-family:VNI-Times;mso-fareast-font-family:VNI-Times;mso-bidi-font-family:
VNI-Times">-<span style="">&nbsp;&nbsp;&nbsp;&nbsp;
</span></span>Chế độ nâng lương:&nbsp; Theo quy định công ty<o:p></o:p></p>

<p  style="margin-left:.5in;text-align:justify;text-indent:-.25in;
mso-list:l1 level1 lfo1;tab-stops:list .5in left 207.0pt 4.5in"><span style="font-family:VNI-Times;mso-fareast-font-family:VNI-Times;mso-bidi-font-family:
VNI-Times">-<span style="">&nbsp;&nbsp;&nbsp;&nbsp;
</span></span>Được trang bị bảo hộ lao động : theo nhu cầu
công việc<o:p></o:p></p>

<p  style="margin-left:.5in;text-align:justify;text-indent:-.25in;
mso-list:l1 level1 lfo1;tab-stops:list .5in left 207.0pt 4.5in"><span style="font-family:VNI-Times;mso-fareast-font-family:VNI-Times;mso-bidi-font-family:
VNI-Times">-<span style="">&nbsp;&nbsp;&nbsp;&nbsp;
</span></span>Chế độ nghỉ ngơi (nghỉ hàng tuần, phép năm, lễ
tết …): Theo qui định của nhà nước (1 năm nghỉ 12 ngày phép và nghỉ lễ, tết,…)
Căn cứ theo Mục 2 và Mục 3 chương VII BLLĐ 2012.<o:p></o:p></p>

<p  style="margin-left:.5in;text-align:justify;text-indent:-.25in;
mso-list:l1 level1 lfo1;tab-stops:list .5in left 207.0pt 4.5in"><span style="font-family:VNI-Times;mso-fareast-font-family:VNI-Times;mso-bidi-font-family:
VNI-Times">-<span style="">&nbsp;&nbsp;&nbsp;&nbsp;
</span></span>	BHXH, BHYT, BHTN: Mức đóng căn cứ trên lương cơ bản theo tỉ lệ sau:<o:p></o:p></p>

<p  style="margin-left:.5in;text-align:justify;tab-stops:207.0pt 4.5in">+
Người sử dụng lao động trích nộp 18% BHXH, 3% BHYT và 1% BHTN<o:p></o:p></p>

<p  style="margin-left:.5in;text-align:justify;tab-stops:207.0pt 4.5in">+
Người lao động trích nộp 8% BHXH, 1.5% BHYT, và 1% BHTN<o:p></o:p></p>

<p  style="margin-left:.5in;text-align:justify;text-indent:-.25in;
mso-list:l1 level1 lfo1;tab-stops:list .5in left 207.0pt 4.5in"><span style="font-family:VNI-Times;mso-fareast-font-family:VNI-Times;mso-bidi-font-family:
VNI-Times">-<span style="">&nbsp;&nbsp;&nbsp;&nbsp;
</span></span>Chế độ đào tạo: Theo tình hình thực tế của
công ty.<o:p></o:p></p>