<link rel="stylesheet" type="text/css" href="/css/bootstrap-datetimepicker.min.css"/>
<style type="text/css">
    form .label {
        cursor: pointer;
    }

    form .label input {
        margin: 0;
    }
</style>

<link rel="stylesheet" type="text/css" href="/css/jquery-ui-1.8.12.custom.css"/>
<link rel="stylesheet" type="text/css" href="/css/jquery.ui.timepicker.css"/>

<form class="form-horizontal" method="get" action="<?php echo HOST ?>timing/kpi-review">

<div class="row span12">
 <div class="row span6">   

    
    <div class="form-horizontal">
        <div class="span6">
            <div class="control-group">
                <label for="s_name">Search</label>
                <input type="text" class="span6" id="s_name" placeholder="Enter Code/Name/Email then press ENTER" name="s_name" />
            </div>
        </div>
    </div>
    
    <div class="form-horizontal">
        <div class="span6">
            <div class="control-group">
                <label for="">Result</label>
                <div class="load-ajax">
                    <?php echo $this->partial('staff/partials/searchname.phtml',array()); ?>
                </div>
            </div>
        
            <div class="form-horizontal">
                <button id="add_btn_pg" class="btn btn-success pull-right" type="button">Add</button>
            </div>
        </div>
    </div>

    
 </div>
 <div class="row span6">
    
        
    <div class="form-horizontal">
    	<div class="span5">
            <div class="control-group">
             <label for="">List Name</label>
                <select name="pic_name_pg" id="pic_name_pg" class="span5" multiple="multiple">
                    <?php if ($this->staffs): ?>
                    <?php foreach ($this->staffs as $k=>$staff): ?>
                        <option value="<?php echo $staff['id'] ?>"><?php echo $staff['firstname'] . ' ' . $staff['lastname'] 
                        	. ' | ' . preg_replace('/'.EMAIL_SUFFIX.'/', '', $staff['email'])
                        	. (isset($this->regional_market_cache[$staff['regional_market']]) 
                        		? (' | ' .$this->regional_market_cache[$staff['regional_market']] ) 
                        		:'' ) ?></option>
    
                    <?php endforeach ?>
                    <?php endif ?>
                </select>
            </div>
            
                <div class="form-horizontal">                
                    <input id="pic" name="pic" type="hidden" value="" />
                	<button id="remove_btn_pg" class="btn btn-warning pull-right" type="button">Remove</button>
                </div>
        </div>
    </div>
    
    <div class="form-horizontal">
    <div class="span5">
    </br></br>
        <div class="control-group">
            <label for="month" class="control-label ">Month</label> 
            <div class="controls">
                <input type="text" class="form-control search-query date" id="month" name="month" value="<?php if (isset($this->month)): echo $this->month; endif; ?>">
            </div>
        </div>
     </div>   
    </div>

 </div>
</div> 
    <div class="form-horizontal">
        <div class="control-group">
            <div class="controls">
            
                 <!--   <button type="button" id="submit_btn" class="btn btn-primary">Submit</button> -->
                <button class="btn btn-primary pull-left" id="submit_btn" type="submit">Search</button>
            </div>
        </div>
     </div>
</form>



<script language="javascript" type="text/javascript" src="/js/bootstrap-datetimepicker.min.js"></script>

<script>
    $(document).ready(function () {
        $('.date').datetimepicker({
            weekStart: 1,
            clear: true,
            minView: 3,
            startView: 3,
            minViewMode: 3,
            autoclose: true,
            format: 'mm/yyyy'
        });
        
        
    });
</script>