<?php $userStorage = Zend_Auth::getInstance()->getStorage()->read();
$inc         = 1; //341 
?>
<?php if (in_array($userStorage->id, array(341,326)) || $this->userStorage->group_id == BOARD_ID): ?>
    <table class="table table-bordered">
        <thead>
            <tr>
                <?php
                echo $this->sorting(array(
                    '#',
                    'Region'         => 'Region',
                    'Area'           => 'Area',
                    'Share hero'     => 'Share hero',
                    'Share GFK'      => 'Share GFK',
                    'Sellout target' => 'Sellout target',
                    'Sell out'             => 'Sell out',
                    'Revenue 80%'        => 'Revenue 80%',
                    'Total revenue 80'  => 'Total revenue',
                    'Point 1'        => 'Point 1',
                    'Point 2'        => 'Point 2',
                    'Total point'    => 'Total point',
                    'Rank'           => 'Rank',
                        ), $this->url, $this->sort, $this->desc);
                ?>
            </tr>
        </thead>
        <tbody>
    <?php if (isset($this->data) && !empty($this->data)):foreach ($this->data as $item): ?>
                    <tr>
                        <td><?php
                            echo $inc++;
                            ?>
                        </td>
                        <td><?php echo $item['region'] ?></td>
                        <td><?php echo $item['area'] ?></td>
                        <td><?php echo $item['share_hero'] ?></td>
                        <td><?php echo $item['share_gfk'] ?></td>
                        <td><?php echo $item['sellout_target'] ?></td>
                        <td><?php echo $item['so'] ?></td>
                        <td><?php echo number_format($item['doanhthu']) ?></td>
                        <td><?php echo number_format($item['tong_doanh_thu']) ?></td>
                        <td><?php echo $item['point_1'] ?></td>
                        <td><?php echo $item['point_2'] ?></td>
                        <td><?php echo $item['total_point'] ?></td>
                        <td><?php echo $item['rank'] ?></td>
                    </tr>
                <?php endforeach;
            endif;
            ?>
        </tbody>
    </table>
<?php else: ?>
    <table class="table table-bordered">
        <thead>
            <tr>
                <?php
                echo $this->sorting(array(
                    '#',
                    'Region'         => 'Region',
                    'Area'           => 'Area',
                    'Share hero'     => 'Share hero',
                    'Share GFK'      => 'Share GFK',
                    'Sellout target' => 'Sellout target',
                     'Sell out'             => 'Sell out',
                    'Revenue 80%'        => 'Revenue 80%',
                   
                    'Point 1'        => 'Point 1',
                    'Point 2'        => 'Point 2',
                    'Total point'    => 'Total point',
                    'Rank'           => 'Rank',
                        ), $this->url, $this->sort, $this->desc);
                ?>
            </tr>
        </thead>
        <tbody>
            <?php
            if (isset($this->data) && !empty($this->data)):
                foreach ($this->data as $item):
                    ?>


                    <?php
                    if (in_array($this->userStorage->group_id, My_Staff_Group::$allow_in_area_view) && !My_Staff_Permission_Area::view_all($this->userStorage->id) && !in_array($item['area_id'], $this->viewed_area_id)) {
                        ?>


                        <tr>
                            <td><?php
                                echo $inc++;
                                ?>
                            </td>
                            <td><?php echo $item['region'] ?></td>
                            <td><?php echo $item['area'] ?></td>
                            <td><?php echo $item['share_hero'] ?></td>
                            <td><?php echo $item['share_gfk'] ?></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td><?php echo $item['total_point'] ?></td>
                            <td><?php echo $item['rank'] ?></td>
                        </tr>
            <?php } else { ?>
                        <tr>
                            <td><?php
                                echo $inc++;
                                ?>
                            </td>
                            <td><?php echo $item['region'] ?></td>
                            <td><?php echo $item['area'] ?></td>
                            <td><?php echo $item['share_hero'] ?></td>
                            <td><?php echo $item['share_gfk'] ?></td>
                            <td><?php echo $item['sellout_target'] ?></td>
                            <td><?php echo $item['so'] ?></td>
                            <td><?php echo number_format($item['doanhthu']) ?></td>
                            <td><?php echo $item['point_1'] ?></td>
                            <td><?php echo $item['point_2'] ?></td>
                            <td><?php echo $item['total_point'] ?></td>
                            <td><?php echo $item['rank'] ?></td>
                        </tr>
                    <?php } ?>

                <?php endforeach;
            endif;
            ?>
        </tbody>
    </table>
    <?php endif; ?>
<div class="paging">
<?php echo $this->paging($this->total, $this->limit, $this->offset, $this->url); ?>
</div>
