<!-- <iframe name="ifrmSearch" id="ifrmSearch" width="100%" style="display:none;"></iframe> -->
<form class="form-search form-horizontal" id="store_form" method="get"  action="/timing/analytics-store">
    <div class="row">
        <div class="span5">
            <div class="control-group">
                <label for="name" class="control-label">Name</label>
                <div class="controls">
                    <input id="name" name="name" type="text" class="input-medium search-query form-control" value="<?php isset($this->params['name']) and printf($this->params['name']);?>">
                </div>
            </div>

            <div class="control-group">
                <label for="area_id" class="control-label">Area</label>
                <div class="controls">
                    <select <?php if ($this->isSales):?> disabled<?php endif;?> id="area_id" name="area">
                        <option value="">Choose</option>
                        <?php
                        if ($this->areas) :
                            foreach ($this->areas as $id => $area):
                                ?>
                                <option value="<?php echo $id;?>" <?php if (isset($this->params['area']) and $this->params['area']==$id):?>selected<?php endif;?>><?php echo $area;?></option>
                            <?php
                            endforeach;
                        endif;
                        ?>
                    </select>
                </div>
            </div>
            
            <div class="control-group">
                <label for="area_id" class="control-label">Product</label>
                <div class="controls">
                    <select id="good" name="goods[]" class="span3 multiselect" multiple="multiple" style="display: none;">
                        <?php if(isset($this->goods) and $this->goods):?>
                            <?php foreach($this->goods as $key => $value):?>
                            <option value="<?php echo $key;?>" <?php if (isset($this->params['goods']) and ( (is_array($this->params['goods']) && in_array($key, $this->params['goods']) || $key==$this->params['goods'])) ):?>selected<?php endif;?>><?php echo $value;?></option>
                            <?php endforeach;?>
                        <?php endif;?>
                    </select>
                </div>
            </div>
            
            <div class="control-group">
                <label for="regional_market" class="control-label">Province</label>
                <div class="controls">
                    <select <?php if ($this->isSales):?> disabled<?php endif;?> id="regional_market" name="province">
                        <option value="">Choose</option>
                        <?php
                        if ($this->regional_markets) :
                            foreach ($this->regional_markets as $regional_market):?>
                                <option value="<?php echo $regional_market->id;?>" <?php if (isset($this->params['province']) and $this->params['province']==$regional_market->id):?>selected<?php endif;?>><?php echo $regional_market->name;?></option>
                            <?php
                            endforeach;
                        endif;
                        ?>
                    </select>
                </div>
            </div>
            <div class="control-group">
                <label for="district" class="control-label">District</label>
                <div class="controls">
                    <select <?php if ($this->isSales):?> disabled<?php endif;?> id="district" name="district">
                        <option value="">Choose</option>
                        <?php
                        if ($this->districts) :
                            foreach ($this->districts as $regional_market):?>
                                <option value="<?php echo $regional_market['id'];?>" <?php if (isset($this->params['district']) and $this->params['district']==$regional_market->id):?>selected<?php endif;?>><?php echo $regional_market['name'];?></option>
                            <?php
                            endforeach;
                        endif;
                        ?>
                    </select>
                </div>
            </div>

            <div class="control-group">
                <label for="store" class="control-label">Store</label>
                <div class="controls">
                    <select id="store" name="store">
                        <option value="">Choose</option>
                        <?php
                        if ($this->stores) :
                            foreach ($this->stores as $store):?>
                                <option value="<?php echo $store->id;?>" <?php if (isset($this->params['store']) and $this->params['store']==$store->id):?>selected<?php endif;?>><?php echo $store->name;?></option>
                            <?php
                            endforeach;
                        endif;
                        ?>
                    </select>
                </div>
            </div>

            <div class="control-group">
                <label for="store" class="control-label">Level</label>
                <div class="controls">
                    <select id="store_level" name="store_level">
                        <option value="">Choose</option>
                        <?php
                        if ($this->store_level_list) :
                            foreach ($this->store_level_list as $k => $v):?>
                                <option value="<?php echo $k;?>" <?php if (isset($this->params['store_level']) and $this->params['store_level']==$k):?>selected<?php endif;?>><?php echo $v;?></option>
                            <?php
                            endforeach;
                        endif;
                        ?>
                    </select>
                </div>
            </div>

            <div class="control-group">
                <label for="channel" class="control-label">Channel</label>
                <div class="controls">
                    <select id="channel" name="channel">
                        <option value='-1'>Choose</option>
                        <?php
                        if ($this->channel_list) :
                            foreach ($this->channel_list as $k => $v):?>
                                <option value="<?php echo $k;?>" <?php if (isset($this->params['channel']) and $this->params['channel']==$k):?>selected<?php endif;?>><?php echo $v;?></option>
                            <?php
                            endforeach;
                        endif;
                        ?>
                    </select>
                </div>
            </div>
            
            <div class="control-group">
                <label for="distributor_ka" class="control-label">Channel Details</label>
                <div class="controls">
                    <select id="distributor_ka" name="distributor_ka">
                        <option value='-1'>Choose</option>
                        <?php
                        if ($this->channel_list) :
                            foreach ($this->distributor_ka as $k => $v):?>
                                <option value="<?php echo $v['channel'];?>" <?php if (isset($this->params['distributor_ka']) and $this->params['distributor_ka']==$v['channel']):?>selected<?php endif;?>><?php echo $v['title'];?></option>
                            <?php
                            endforeach;
                        endif;
                        ?>
                    </select>
                </div>
            </div>

            <div class="control-group">
                <div class="controls">
                    <label><input type="checkbox" name="include_0_sell_out" value="1"<?php echo !empty($this->params['include_0_sell_out']) ? ' checked' : null ?>> Include sell out = 0</label>
                </div>
            </div>

        </div>

        <div class="span5">
            
            <div class="control-group">
                <label for="date" class="control-label">From Date</label>
                <div class="controls">
                    <input type="text" class="form-control search-query date" id="from" name="from" value="<?php isset($this->params['from']) and printf($this->params['from']);?>">
                </div>

            </div>
            <div class="control-group">
                <label for="date" class="control-label">To Date</label>
                <div class="controls">
                    <input type="text" class="form-control search-query date" id="to" name="to" value="<?php isset($this->params['to']) and printf($this->params['to']);?>">
                </div>
            </div>

            <div class="control-group">
                <label for="sales_from" class="control-label">Sales &gt;= </label>
                <div class="controls">
                    <input type="number" min="0" value="<?php if (isset($this->params['sales_from'])) echo $this->params['sales_from'];?>" id="sales_from" name="sales_from" />
                </div>
            </div>

            <div class="control-group">
                <label for="sales_to" class="control-label">Sales &lt;= </label>
                <div class="controls">
                    <input type="number" min="0" value="<?php if (isset($this->params['sales_to'])) echo $this->params['sales_to'];?>" id="sales_to" name="sales_to" />
                </div>
            </div>
             
            <div class="control-group">
                <label class="control-label" >Dealer Name</label>
                <div class="controls">
                    <input type='text' name='SearchBox' id="SearchBox" placeholder="Search" autocomplete="off" />
                    <select class="span5" name="distributor_id" id="distributor_id" size="7">
                    </select>
                </div>
            </div>
        </div>
    </div>

    <div class="control-group">
        <div class="controls">
            <button type="submit" name="search" value="1" class="btn btn-primary">Search</button>
            <button type="reset" class="btn btn-warning">Reset</button>
            <?php if ($this->access('sales-report', 'store')): ?>
                <button type="submit" name="export" value="1" formaction="<?php echo HOST ?>sales-report/store" class="btn btn-info">Export</button>
				<button type="submit" name="export_qty" value="1" formaction="<?php echo HOST ?>sales-report/store-by-qty" class="btn btn-info">Export By Qty</button>
            <?php endif ?>
       
            <?php if(!empty($this->is_ka_team)):?>
                <button type="submit" name="export_ka" value="1" class="btn btn-info">Export KA</button>
            <?php endif;?>
        </div>
    </div>
</form>

<script type="text/javascript" src="<?php echo HOST;?>js/bootstrap-multiselect.js"></script>
<link rel="stylesheet" href="<?php echo HOST;?>css/bootstrap-multiselect.css" type="text/css"/>

<style>
.multiselect-container.dropdown-menu{left: 0px;margin-top: 0px;}
</style>

<script>   
    $(document).ready(function () {
        $('.multiselect').multiselect();
    });
</script>

<script>
// function initSearchOption(){
//     var timeout;
//     $("#SearchBox").on("keyup", function () {
//         var userInput = $("#SearchBox").val();
//         window.clearTimeout(timeout);
//         timeout = window.setTimeout(function() {
//             showOnlyOptionsSimilarToText($("#distributor_id"), userInput, true);
//         }, 500);

//     });
// }

// function initSearchOption(){
//     var timeout;
//     $("#SearchBox" ).keypress(function( event ) {
//         if (event.which == 13) {
//             event.preventDefault();

//             $('form').bind('submit',function(e){e.preventDefault();});
//             $('form button, form input, form select').prop('disabled', true);
//             $('.loading').remove();
//             var userInput = $("#SearchBox").val();
//             window.clearTimeout(timeout);
//             timeout = window.setTimeout(function() {
//                 showOnlyOptionsSimilarToText($("#distributor_id"), userInput, true);
//             }, 500);
//             $('form').unbind('submit');
//             $('form button, form input, form select').prop('disabled', false);
//             $('.loading').remove();
//             return false;
//         }
        

//     });
// }

$('#SearchBox').keydown(function (e){
    if(e.keyCode == 13){
        var txt = $(this).val();
        if(txt.length >=2) 
        {   
            $('form').on('submit',function(e){e.preventDefault();});
            $('form button, form input, form select').prop('disabled', true);
            $('.loading').remove();
            $(this).after('<span class="loading"></span>');
            $.ajax({
                url: "/timing/analytics-store",
                data:{txt:txt},
                dataType : "html",
                success:function(data){
                    $("#distributor_id").html(data); 
                    $('.loading').remove();
                }
            });
            $('form').unbind('submit');
            $('form button, form input, form select').prop('disabled', false);
            
        }
        return false;
    }
});
    $(document).ready(function () {
        //initSearchOption()

        function palert(msg){
            
            $('.page-header').after('<div class="alert alert-error">'+msg+'</div>');
            $('form#store_form button[type=submit]').prop('disabled', false);
            return;
        }

        $('#area_id').change(function(){
            $(this).after('<span class="loading"></span>');
            var _self = $(this);
            var area_id = $(this).val();
            $.get("<?php echo HOST ?>staff/load-province",
                {area_id: area_id}
                ,function(data,status){
                    var obj = $.parseJSON( data );
                    $('#regional_market').find('option:not(:first)').remove();
                    $('#district').find('option:not(:first)').remove();
                    $('#store').find('option:not(:first)').remove();
                    for (var i = 0; i < obj.length; i++) {
                        $('#regional_market').append('<option value="'+obj[i]['id']+'">'+obj[i]['name']+'</option>');
                    }
                    _self.nextAll('.loading').remove();
                });
        });

        $('#district').change(function(){
            $('.loading').remove();
            $(this).after('<span class="loading"></span>');
            var _self = $(this);
            var regional_market = $(this).val();
            $.get("<?php echo HOST ?>staff/load-sales-team",
                {district: regional_market}
                ,function(data,status){
                    var obj         = $.parseJSON( data );
                    var stores      = obj.stores;

                    $('#store').find('option:not(:first)').remove();
                    for (var i = 0; i < stores.length; i++) {
                        $('#store').append('<option value="'+stores[i]['id']+'">'+stores[i]['name']+'</option>');
                    }

                    $('.loading').remove();
                });
        });

        $('#regional_market').change(function(){
            $('form').bind('submit',function(e){e.preventDefault();});
            $('form button, form input, form select').prop('disabled', true);
            $('.loading').remove();

            $(this).after('<span class="loading"></span>');
            var _self = $(this);
            var region = $(this).val();
            $.post("<?php echo HOST ?>ajax/get-district-cbb", {
                    region: region
                }
                ,function(data,status){
                    $('#district').find('option:not(:first)').remove();
                    $('#store').find('option:not(:first)').remove();
                    
                    try {
                        if (data) {
                            var obj = $.parseJSON( data );
                            
                            for (var i = 0; i < obj.length; i++) {
                                $('#district').append('<option value="'+obj[i]['id']+'">'+obj[i]['name']+'</option>');
                            }                        
                        }

                    } catch(err) {

                    } finally {
                        $('.loading').remove();
                        $('form').unbind('submit');
                        $('form button, form input, form select').prop('disabled', false);
                    }
                });
        });
    });
</script>