<form class="form-search form-horizontal" method="get" action="/timing/report-sell-in">
    <div class="row">
        <div class="span5">
            <div class="control-group">
                <label for="area_id" class="span2">Area</label>
                <select <?php if ($this->isSales):?> disabled<?php endif;?> id="area_id" name="area" class="span3">
                    <option value="">Choose</option>
                    <?php
                    if ($this->areas) :
                        foreach ($this->areas as $id => $area):
                            ?>
                            <option value="<?php echo $id;?>" <?php if (isset($this->params['area']) and $this->params['area']==$id):?>selected<?php endif;?>><?php echo $area;?></option>
                        <?php
                        endforeach;
                    endif;
                    ?>
                </select>
            </div>
            
            <div class="control-group">
                <label for="type" class="span2">Type</label>
                <select name="type">
                    <option value="">Choose</option>
                    <option value="0" <?php if (isset($this->params['type']) and $this->params['type']== 0):?>selected<?php endif;?>>IA</option>
                    <option value="1" <?php if (isset($this->params['type']) and $this->params['type']== 1):?>selected<?php endif;?>>KA</option>
                </select>
            </div>
            
            <div class="control-group">
                <label for="cat" class="span2">Categories</label>
                <select name="cat">
                    <option value="">Choose</option>
                    <option value="<?php echo PHONE_CAT_ID;?>" <?php if (isset($this->params['cat']) and $this->params['cat']== PHONE_CAT_ID):?>selected<?php endif;?>>Phone</option>
                    <option value="<?php echo ACCESS_CAT_ID;?>" <?php if (isset($this->params['cat']) and $this->params['cat']== ACCESS_CAT_ID):?>selected<?php endif;?>>Accessories</option>
                </select>
            </div>
            
        </div>
        <div class="span5">
            <div class="control-group">
                <label for="date" class="span2">From Date</label>
                <input type="text" class="form-control search-query date span2" id="from" name="from" value="<?php isset($this->params['from']) and printf($this->params['from']);?>">

            </div>
            <div class="control-group">
                <label for="date" class="span2">To Date</label>
                <input type="text" class="form-control search-query date span2" id="to" name="to" value="<?php isset($this->params['to']) and printf($this->params['to']);?>">
            </div>
        </div>
    </div>


    <button type="submit" class="btn btn-primary">Search</button>
    <button type="reset" class="btn btn-warning">Reset</button>

    <?php if ($this->access('sales-report', 'area')): ?>
        <button type="submit" name="export" value="1" formaction="<?php echo HOST ?>report-sell-in/area" class="btn btn-info">Export</button>
    <?php endif ?>
</form>
