<form class="form-search form-horizontal" method="get" action="/timing">
    <div class="row">
        <div class="span5">
            <div class="control-group">
                <label for="name" class="span2"><?php echo $this->translate_adapter->translate('search_name',$this->current_lang) ?></label>
                <input id="name" name="name" type="text" class="input-medium search-query form-control span2" value="<?php isset($this->params['name']) and printf($this->params['name']);?>">
            </div>

            <div class="control-group">
                <label for="email" class="span2"><?php echo $this->translate_adapter->translate('search_email',$this->current_lang) ?></label>
                <input id="email" name="email" type="text" class="input-medium search-query form-control span2" value="<?php isset($this->params['email']) and printf($this->params['email']);?>">
            </div>

            
            <div class="control-group">
                <label for="area_id" class="span2"><?php echo $this->translate_adapter->translate('search_area',$this->current_lang) ?></label>
                <select id="area_id" name="area_id" class="span3">
                    <option value="">Choose</option>
                    <?php
                    if ($this->areas) :
                        foreach ($this->areas as $area):
                            ?>
                            <option value="<?php echo $area->id;?>" <?php if (isset($this->params['area_id']) and $this->params['area_id']==$area->id):?>selected<?php endif;?>><?php echo $area->name;?></option>
                        <?php
                        endforeach;
                    endif;
                    ?>
                </select>
            </div>

            <div class="control-group">
                <label for="regional_market" class="span2"><?php echo $this->translate_adapter->translate('search_province',$this->current_lang) ?></label>
                <select id="regional_market" name="regional_market" class="span3">
                    <option value="">Choose</option>
                    <?php
                    if ($this->regional_markets) :
                        foreach ($this->regional_markets as $regional_market):?>
                            <option value="<?php echo $regional_market->id;?>" <?php if (isset($this->params['regional_market']) and $this->params['regional_market']==$regional_market->id):?>selected<?php endif;?>><?php echo $regional_market->name;?></option>
                        <?php
                        endforeach;
                    endif;
                    ?>
                </select>
            </div>

            <div class="control-group">
                <label for="district" class="span2"><?php echo $this->translate_adapter->translate('search_dictrict',$this->current_lang) ?></label>
                <select id="district" name="district" class="span3">
                    <option value="">Choose</option>
                    <?php
                    if ($this->districts) :
                        foreach ($this->districts as $regional_market):?>
                            <option value="<?php echo $regional_market->id;?>" <?php if (isset($this->params['district']) and $this->params['district']==$regional_market->id):?>selected<?php endif;?>><?php echo $regional_market->name;?></option>
                        <?php
                        endforeach;
                    endif;
                    ?>
                </select>
            </div>

            <div class="control-group">
                <label for="store" class="span2"><?php echo $this->translate_adapter->translate('search_store',$this->current_lang) ?></label>
                <select id="store" name="store" class="span3">
                    <option value="">Choose</option>
                    <?php
                    if ($this->stores) :
                        foreach ($this->stores as $store):?>
                            <option value="<?php echo $store->id;?>" <?php if (isset($this->params['store']) and $this->params['store']==$store->id):?>selected<?php endif;?>><?php echo $store->name;?></option>
                        <?php
                        endforeach;
                    endif;
                    ?>
                </select>
            </div>
            
            <div class="control-group">
                <label for="type_approve" class="span2"><?php echo $this->translate_adapter->translate('search_approve',$this->current_lang) ?></label>
                <select id="type_approve" name="type_approve" class="span3">
                    <option value="">Choose</option>
                    <option value="<?php echo PHONE_CAT_ID;?>" <?php if (isset($this->params['type_approve']) and $this->params['type_approve']==PHONE_CAT_ID):?>selected<?php endif;?>>Approve Phone</option>
                    <option value="<?php echo ACCESS_CAT_ID;?>" <?php if (isset($this->params['type_approve']) and $this->params['type_approve']==ACCESS_CAT_ID):?>selected<?php endif;?>>Approve Accessories</option>
                </select>
            </div>
            
        </div>

        <div class="span5">
            <div class="control-group">
                <label for="from_date" class="span2"><?php echo $this->translate_adapter->translate('search_from_date',$this->current_lang) ?></label>
                <input type="text" class="form-control search-query date span2" id="from_date" name="from_date" value="<?php isset($this->params['from_date']) and printf($this->params['from_date']);?>">
            </div>

            <div class="control-group">
                <label for="to_date" class="span2"><?php echo $this->translate_adapter->translate('search_to_date',$this->current_lang) ?></label>
                <input type="text" class="form-control search-query date span2" id="to_date" name="to_date" value="<?php isset($this->params['to_date']) and printf($this->params['to_date']);?>">
            </div>
            

            <div class="control-group">
                <label for="imei" class="span2"><?php echo $this->translate_adapter->translate('search_imei',$this->current_lang) ?></label>
                <input id="imei" name="imei" type="text" class="input-medium search-query form-control span2" value="<?php isset($this->params['imei']) and printf($this->params['imei']);?>">
            </div>
        </div>
    </div>

    <button type="submit" class="btn btn-primary"><?php echo $this->translate_adapter->translate('search',$this->current_lang) ?></button>
    <button type="reset" class="btn btn-warning"><?php echo $this->translate_adapter->translate('search_reset',$this->current_lang) ?></button>
<!--    <button type="button" id="short_btn" class="btn btn-success" data-original-title="Thống kê" data-content="Tổng số, số lượng từng loại và danh sách các máy đã bán">--><?php //echo $this->translate_adapter->translate('search_report',$this->current_lang) ?><!--</button>-->
</form>