<link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.3/css/select2.min.css">
<form class="form-search form-horizontal" method="get" action="/timing/analytics-online">
    <div class="row">
        <div class="span5">
            
            <div class="control-group">
                <label for="date" class="span2">From Date</label>
                <input autocomplete="off" id="create_from" name="from" type="text" class="input-medium search-query form-control date" value="<?php if (isset($this->params['from'])) echo $this->params['from'];?>">
            </div>

            <div class="control-group">
                <label for="date" class="span2">To Date</label>
                <input autocomplete="off" id="create_to" name="to" type="text" class="input-medium search-query form-control date" value="<?php if (isset($this->params['to']))echo $this->params['to']; ?>">
            </div>
        </div>
    </div>
    <button type="submit" class="btn btn-primary">Search</button>
    <button type="reset" class="btn btn-warning">Reset</button>    
</form>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.3/js/select2.min.js"></script>
<script type="text/javascript" src="/js/jquery-ui-1.8.12.custom.min.js"></script>
<link rel="stylesheet" type="text/css" href="/css/jquery-ui-1.8.12.custom.css"/>
<script>
    $(document).ready(function()
    {
        $('.date').mousedown( function(){
            $(this).datepicker({dateFormat: "yy-mm-dd",  minDate: -180}); 
        });
    });
</script>