<form class="form-search form-horizontal" method="post" action="/timing/hero-report">
    <div class="row">
        <div class="span5">
            <div class="control-group">
                <label for="email" class="span2">Tháng</label>
                <input type="text" name="time" value="<?php
                if (isset($this->params['month'])): echo $this->params['month'] . '/' . $this->params['year'];
                endif;
                ?>" id="" class="date">
            </div>
        </div>
    </div>
    <button type="submit" class="btn btn-primary">Search</button>
  <?php if (in_array($this->userStorage->id, array(341)) || $this->userStorage->group_id == BOARD_ID){ ?>
    <button type="submit" name="export" value="1" class="btn btn-success">Export</button>
  <?php } ?>
</form>
<script type="text/javascript" src="/js/bootstrap-datetimepicker.min.js"></script>
<link rel="stylesheet" type="text/css" href="/css/bootstrap-datetimepicker.min.css"/>
<script type="text/javascript" src="/js/sweetalert2.all.min.js"></script>
<script>
    $(document).ready(function () {
        $('.date').datetimepicker({
            weekStart: 1,
            clear: true,
            minView: 3,
            startView: 3,
            minViewMode: 3,
            autoclose: true,
            format: 'mm/yyyy'
        });
    });
</script>