<?php foreach ($this->options as $_option_id => $_option): ?>
<div class="div_parent">    
    <label><input class="check_option" type="checkbox" name="q_<?php echo $this->key ?>[]" value="<?php echo $_option ?>"> <?php echo $_option ?> 
        <input class="check_order" style="display: none;"  type="checkbox" name="order_<?php echo $this->key ?>[]" value=""><i class="number_order"></i></label>
</div>    
<?php endforeach ?>

<script type="text/javascript">
    $(document).ready(function() {
        
        $(document).on('click','.check_option',function(){
            div_parent = $(this).parent();
            
            if($(this).is(":checked")){
                div_parent.find('.check_order').show();
            }else{
                div_parent.find('.check_order').hide();
                div_parent.parent().parent().find('.number_order').html('');
                div_parent.parent().parent().find('.check_order').attr('checked', false);
            }
            
        })
        
        
        $(document).on('click','.check_order',function(){
            div_parent = $(this).parent().parent().parent();
            var dem_max = 0;
            
            div_parent.find('.div_parent').each(function () {
                if ($(this).find('.check_order').is(':checked')) {
                    dem_max = dem_max+1;
                }
            });  
            
            $(this).val(dem_max); 
            
            if($(this).is(":checked")){
                $(this).parent().find('.number_order').html(dem_max);
            }else{
                $(this).parent().find('.number_order').html('');
                div_parent.parent().find('.number_order').html('');
                div_parent.parent().find('.check_order').attr('checked', false);
            }
        })
        
        
        
    });
</script>