<div class="container">
    <div class="page-header">
    <h1>Basic Insurance</h1>
    </div>
</div>

<h4>THÔNG TIN CÁ NHÂN</h4>
<table class="table table-bordered">
    <tr>
        <td>ĐƠN VỊ</td>
        <td>MÃ NHÂN VIÊN</td>
        <td>HỌ TÊN</td>
        <td>CHỨC VỤ</td>
    </tr>
    <tr>
        <td><input type="text" /></td>
        <td><input type="text" /></td>
        <td><input type="text" /></td>
        <td><input type="text" /></td>
    </tr>
    <tr>
        <td>BỘ PHẬN</td>
        <td>TEAM</td>
        <td>NGÀY SINH</td>
        <td>GIỚI TÍNH</td>
    </tr>
    <tr>
        <td><input type="text" /></td>
        <td><input type="text" /></td>
        <td><input type="text" /></td>
        <td><input type="text" /></td>
    </tr>
</table>


<h4>THÔNG TIN SỐ SỔ BHXH & THẺ BHYT</h4>
<table class="table table-bordered">
    <tr>
        <td>SỐ SỔ BHXH</td>
        <td>THỜI GIAN CẤP/NHẬN SỔ</td>
        <td>THỜI GIAN CHỐT SỔ</td>
        <td>THỜI GIAN TRẢ SỔ</td>
        <td>SỐ QUYẾT ĐỊNH NGHỈ VIỆC</td>
    </tr>
    <tr>
        <td><input type="text" /></td>
        <td><input type="text" /></td>
        <td><input type="text" /></td>
        <td><input type="text" /></td>
        <td><input type="text" /></td>
    </tr>
    <tr>
        <td>MÃ THẺ BHYT</td>
        <td>TỈNH BV ĐĂNG KÝ KCB</td>
        <td>BV ĐĂNG KÝ KCB</td>
        <td>THỜI GIAN PHÁT THẺ BHYT</td>
        <td>GHI CHÚ</td>
    </tr>
    <tr>
        <td><input type="text" /></td>
        <td><input type="text" /></td>
        <td><input type="text" /></td>
        <td><input type="text" /></td>
        <td><input type="text" /></td>
    </tr>
</table>

<h4>QUÁ TRÌNH THAM GIA BẢO HIỂM</h4>
<table class="table table-bordered">
    <thead>
        <th>ĐƠN VỊ</th>
        <th>THÁNG BẮT ĐẦU</th>
        <th>THÁNG KẾT THÚC</th>
        <th>CHỨC VỤ</th>
        <th>LƯƠNG</th>
        <th>LOẠI</th>
        <th>CHI TIẾT</th>
    </thead>
    <tbody>
        <tr>
            <td>TA7074A</td>
            <td>01/2017</td>
            <td></td>
            <td>PHP Developer</td>
            <td>1000000</td>
            <td>Tăng</td>
            <td></td>
        </tr>
        <tr>
            <td>TA7074A</td>
            <td>10/2016</td>
            <td>12/2017</td>
            <td>System Admin</td>
            <td>2000000</td>
            <td>Tăng</td>
            <td></td>
        </tr>
    </tbody>
</table>

<h4>SALARY (ĐIỀU CHỈNH LƯƠNG)</h4>
<table class="table table-bordered">
    <thead>
        <th>MỨC CŨ</th>
        <th>CHỨC DANH CŨ</th>
        <th>MỨC MỚI</th>
        <th>CHỨC DANH MỚI</th>
        <th>NGÀY HIỆU LỰC</th>
        <th>NGÀY ĐI BẢO HIỂM</th>
        <th>ACTION</th>
    </thead>
    <tbody>
        <tr>
            <td>2000000</td>
            <td>System Admin</td>
            <td>1000000</td>
            <td>PHP Developer</td>
            <td>01/01/2017</td>
            <td>01/01/2017</td>
            <td>
                <a href="/insurance/info?staff_id=29"><i class="icon-plus"></i></a>
            </td>
        </tr>
    </tbody>
</table>

<button type="" class="btn btn-primary" style="float: right; margin-bottom: 30px;">Submit</button>