<div class="container">
    <div class="page-header">
    <h1>Danh sách giao diện test</h1>
    </div>
</div>


<ul>
    <li><a href="/test-frontend/index-insurance">List Insurance</a></li>
    <li><a href="/test-frontend/basic-insurance-info">Basic Info Insurance</a></li>
    <li><a href="/test-frontend/report-insurance">Report Insurance</a></li>
    <li><a href="/test-frontend/trich-nop">Trích nộp</a></li>
</ul>