<link rel="stylesheet" type="text/css" href="/css/bootstrap-datetimepicker.min.css"/>
<div class="container">
    <div class="page-header">
    <h1>Report Insurance</h1>
    </div>
</div>

<div class="accordion" id="accordion2">
    <div class="accordion-group">
        <div class="accordion-heading">
            <a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion2" href="#collapseTwo">
                Search
            </a>
        </div>
        <div id="collapseTwo" class="accordion-body collapse" style="height: 0px;">
            <div class="accordion-inner">
                <form action="" method="GET" class="form-search form-horizontal">
                    <div class="row">
                        <div class="span4">
                            <div class="control-group">
                                <label class="control-label">Tên nhân viên</label>
                                <div class="controls">
                                    <input type="text" name="from_date" value="<?php echo (!empty($this->params['from_date'])?(date('d/m/Y', strtotime($this->params['from_date'])) ):'' ) ?>" id="" class="date">
                                </div>
                            </div>

                            <div class="control-group">
                                <label class="control-label">Công ty</label>
                                <div class="controls">
                                    <select name="status" id="">
                                        <option value="-1">-----</option>
                                        <option value="1">OPPO</option>
                                        <option value="0">Di Động Thông Minh</option>
                                    </select>
                                </div>
                            </div>

                            <div class="control-group">
                                <label class="control-label">Tháng hồ sơ</label>
                                <div class="controls">
                                    <input type="text" name="" class="month" value="">
                                </div>
                            </div>
                        </div> <!-- End span4 -->
                        <div class="span4">
                            <div class="control-group">
                                <label class="control-label">Mã nhân viên</label>
                                <div class="controls">
                                    <input type="text" name="code" value="<?php echo $this->params['code'] ?>" id="" class="">
                                </div>
                            </div>

                            <div class="control-group">
                                <label class="control-label">Trạng thái</label>
                                <div class="controls">
                                    <select id="status" name="status">
                                        <option value="" >-----</option>
                                        <option value="1" >Đã xử lý</option>
                                        <option value="0" >Chưa xử lý</option>
                                    </select>
                                </div>
                            </div>
                            
                            <div class="control-group">
                                <label class="control-label">Loại</label>
                                <div class="controls">
                                    <select id="status" name="status">
                                        <option value="" >-----</option>
                                        <option value="1" >Tăng</option>
                                        <option value="0" >Giảm</option>
                                    </select>
                                </div>
                            </div>

                        </div> <!-- End span4 -->
                        <div class="span4">
                            <button type="submit" class="btn btn-primary">Search</button>
                            <button type="submit" name="export" value="1" class="btn btn-success">Export</button>
                        </div>
                    </div> <!-- end row -->
                </form> <!-- end form -->
            </div> <!-- end accordion-inner -->
        </div> <!-- end collapseTwo -->
    </div>
</div>

<ul class="nav nav-tabs">
    <li class="active"><a href="#tang" data-toggle="tab">TĂNG</a></li>
    <li><a href="#giam" data-toggle="tab">GIẢM</a></li>
    <li><a href="#dieuchinh" data-toggle="tab">ĐIỀU CHỈNH (LƯƠNG & CHỨC DANH)</a></li>
    <li><a href="#chedo" data-toggle="tab">CHẾ ĐỘ & CÁC TH BẤT THƯỜNG</a></li>
    <li><a href="#total" data-toggle="tab">TOTAL REPORT</a></li>
</ul>

<div class="tab-content">
    <div class="tab-pane active" id="tang">
        <table class="table table-bordered">
            <thead>
                <th>STT</th>
                <th>MÃ ĐƠN VỊ</th>
                <th>MÃ NV</th>
                <th>TÊN</th>
                <th>CHỨC DANH</th>
                <th>NGÀY KÝ HĐ</th>
                <th>NGÀY ĐIỀU CHỈNH</th>
                <th>MỨC LƯƠNG</th>
                <th>SỐ HỢP ĐỒNG</th>
                <th>LOẠI</th>
                <th>TRẠNG THÁI</th>
                <th>THAO TÁC</th>
            </thead>
            <tbody>
                <?php
                    for($i = 0; $i < 20; $i++)
                    {
                    ?>
                <tr>
                    <td><?php echo $i+1 ?></td>
                    <td>TA7074A</td>
                    <td><?php echo 13050007+$i ?></td>
                    <td><?php echo "Nguyễn Văn " . $i ?></td>
                    <td><?php echo "PHP Developer - TP. Hồ Chí Minh - KV1" ?></td>
                    <td>02/07/2015</td>
                    <td>23/07/2016</td>
                    <td>1000000</td>
                    <td><?php echo 7913152612 + $i ?></td>
                    <td>TĂNG</td>
                    <td>Đã xử lý - Trần Văn B 1/5/2017</td>
                    <td>
                        <a href="/insurance/info?staff_id=29"><i class="icon-edit"></i></a>
                        <a href="/insurance/log?staff_id=29" class="label">log</a>
                    </td>
                </tr>
                    <?php
                    }
                ?>
            </tbody>
        </table>
    </div>

    <div class="tab-pane" id="giam">
        <table class="table table-bordered">
            <thead>
                <th>STT</th>
                <th>MÃ ĐƠN VỊ</th>
                <th>MÃ NV</th>
                <th>TÊN</th>
                <th>CHỨC DANH</th>
                <th>NGÀY KÝ HĐ</th>
                <th>NGÀY ĐIỀU CHỈNH</th>
                <th>MỨC LƯƠNG</th>
                <th>SỐ HỢP ĐỒNG</th>
                <th>LOẠI</th>
                <th>TRẠNG THÁI</th>
                <th>THAO TÁC</th>
            </thead>
            <tbody>
                <?php
                    for($i = 0; $i < 20; $i++)
                    {
                    ?>
                <tr>
                    <td><?php echo $i+1 ?></td>
                    <td>TA7074A</td>
                    <td><?php echo 13050007+$i ?></td>
                    <td><?php echo "Nguyễn Văn " . $i ?></td>
                    <td><?php echo "PHP Developer - TP. Hồ Chí Minh - KV1" ?></td>
                    <td>13/07/2015</td>
                    <td>16/07/2016</td>
                    <td>1000000</td>
                    <td><?php echo 7913152612 + $i ?></td>
                    <td>GIẢM</td>
                    <td>Đã xử lý - Trần Văn B 1/5/2017</td>
                    <td>
                        <a href="/insurance/info?staff_id=29"><i class="icon-edit"></i></a>
                        <a href="/insurance/log?staff_id=29" class="label">log</a>
                    </td>
                </tr>
                    <?php
                    }
                ?>
            </tbody>
        </table>
    </div>

    <div class="tab-pane" id="dieuchinh">
        <table class="table table-bordered">
            <thead>
                <th>STT</th>
                <th>MÃ ĐƠN VỊ</th>
                <th>MÃ NV</th>
                <th>TÊN</th>
                <th>LƯƠNG CŨ</th>
                <th>CHỨC DANH CŨ</th>
                <th>LƯƠNG MỚI</th>
                <th>CHỨC DANH MỚI</th>
                <th>NGÀY HIỆU LỰC</th>
                <th>NGÀY ĐIỀU CHỈNH</th>
                <th>LOẠI</th>
                <th>TRẠNG THÁI</th>
                <th>THAO TÁC</th>
            </thead>
            <tbody>
                <?php
                    for($i = 0; $i < 20; $i++)
                    {
                    ?>
                <tr>
                    <td><?php echo $i+1 ?></td>
                    <td>TA7074A</td>
                    <td><?php echo 13050007+$i ?></td>
                    <td><?php echo "Nguyễn Văn " . $i ?></td>
                    <td>1000000</td>
                    <td>PHP Developer - TP. Hồ Chí Minh - KV1</td>
                    <td>2000000</td>
                    <td>System Admin - TP. Hồ Chí Minh - KV1</td>
                    <td>30/07/2016</td>
                    <td>30/07/2016</td>
                    <td>DC</td>
                    <td>Đã xử lý - Trần Văn B 1/5/2017</td>
                    <td>
                        <a href="/insurance/info?staff_id=29"><i class="icon-edit"></i></a>
                        <a href="/insurance/log?staff_id=29" class="label">log</a>
                    </td>
                </tr>
                    <?php
                    }
                ?>
            </tbody>
        </table>
    </div>

    <div class="tab-pane" id="chedo">

        <h4>CHẾ ĐỘ</h4>
        <table class="table table-bordered">
            <thead>
                <th>STT</th>
                <th>MÃ ĐƠN VỊ</th>
                <th>MÃ NV</th>
                <th>TÊN</th>
                <th>NGÀY BẮT ĐẦU NGHỈ</th>
                <th>NGÀY KẾT THÚC NGHỈ</th>
                <th>LOẠI PHÉP</th>
                <th>LOẠI</th>
                <th>NGÀY BH DUYỆT HỒ SƠ</th>
                <th>SỐ TIỀN ĐƯỢC DUYỆT</th>
                <th>TRẠNG THÁI</th>
                <th>THAO TÁC</th>
                <th>UPLOAD UNC</th>
            </thead>
            <tbody>
                <?php
                    for($i = 0; $i < 20; $i++)
                    {
                    ?>
                <tr>
                    <td><?php echo $i+1 ?></td>
                    <td>TA7074A</td>
                    <td><?php echo 13050007+$i ?></td>
                    <td><?php echo "Nguyễn Thị " . $i ?></td>
                    <td>30/07/2016</td>
                    <td>30/12/2016</td>
                    <td>Thai sản</td>
                    <td>GIẢM</td>
                    <td>30/07/2016</td>
                    <td>2000000</td>
                    <td>Đã xử lý - Trần Văn B 1/5/2017</td>
                    <td>
                        <a href="/insurance/info?staff_id=29"><i class="icon-edit"></i></a>
                        <a href="/insurance/log?staff_id=29" class="label">log</a>
                    </td>
                    <td></td>
                </tr>
                    <?php
                    }
                ?>
            </tbody>
        </table>

        <h4>TRƯỜNG HỢP ĐI LÀM LẠI SAU CHẾ ĐỘ</h4>
        <table class="table table-bordered">
            <thead>
                <th>STT</th>
                <th>MÃ ĐƠN VỊ</th>
                <th>MÃ NV</th>
                <th>TÊN</th>
                <th>CHỨC DANH</th>
                <th>MỨC LƯƠNG</th>
                <th>NGÀY ĐI LÀM LẠI</th>
                <th>LOẠI</th>
                <th>NOTE</th>
                <th>TRẠNG THÁI</th>
                <th>THAO TÁC</th>
            </thead>
            <tbody>
                <?php
                    for($i = 0; $i < 20; $i++)
                    {
                    ?>
                <tr>
                    <td><?php echo $i+1 ?></td>
                    <td>TA7074A</td>
                    <td><?php echo 13050007+$i ?></td>
                    <td><?php echo "Nguyễn Thị " . $i ?></td>
                    <td>NHÂN VIÊN BÁN HÀNG - TP. Hà Nội - KV1</td>
                    <td>2000000</td>
                    <td>30/12/2016</td>
                    <td>TĂNG</td>
                    <td>Đi làm lại</td>
                    <td>Đã xử lý - Trần Văn B 1/5/2017</td>
                    <td>
                        <a href="/insurance/info?staff_id=29"><i class="icon-edit"></i></a>
                        <a href="/insurance/log?staff_id=29" class="label">log</a>
                    </td>
                </tr>
                    <?php
                    }
                ?>
            </tbody>
        </table>

        <h4> ĐIỀU CHỈNH NGÀY NGHỈ VIỆC TRONG QUÁ KHỨ</h4>
        <table class="table table-bordered">
            <thead>
                <th>STT</th>
                <th>MÃ ĐƠN VỊ</th>
                <th>MÃ NV</th>
                <th>TÊN</th>
                <th>CHỨC DANH</th>
                <th>MỨC LƯƠNG</th>
                <th>NGÀY ĐI LÀM LẠI</th>
                <th>TRẠNG THÁI</th>
                <th>NOTE</th>
                <th>THAO TÁC</th>
            </thead>
            <tbody>
                <?php
                    for($i = 0; $i < 20; $i++)
                    {
                    ?>
                <tr>
                    <td><?php echo $i+1 ?></td>
                    <td>TA7074A</td>
                    <td><?php echo 13050007+$i ?></td>
                    <td><?php echo "Nguyễn Thị " . $i ?></td>
                    <td>NHÂN VIÊN BÁN HÀNG - TP. Hà Nội - KV1</td>
                    <td>2000000</td>
                    <td>30/12/2016</td>
                    <td>Đã xử lý - Trần Văn B 1/5/2017</td>
                    <td>Đi làm lại</td>
                    <td>
                        <a href="/insurance/info?staff_id=29"><i class="icon-edit"></i></a>
                        <a href="/insurance/log?staff_id=29" class="label">log</a>
                    </td>
                </tr>
                    <?php
                    }
                ?>
            </tbody>
        </table>
        
    </div>

    <div class="tab-pane" id="total">
        <table class="table table-bordered">
            <thead>
                <th>STT</th>
                <th>MÃ ĐƠN VỊ</th>
                <th>MÃ NV</th>
                <th>TÊN</th>
                <th>CHỨC DANH</th>
                <th>LƯƠNG CŨ</th>
                <th>LƯƠNG MỚI</th>
                <th>NGÀY HIỆU LỰC</th>
                <th>NGÀY ĐIỀU CHỈNH</th>
                <th>QUYẾT ĐỊNH NGHỈ VIỆC/ SỐ HĐ</th>
                <th>NHÓM</th>
                <th>LOẠI</th>
                <th>CHI TIẾT</th>
                <th>TRẠNG THÁI</th>
            </thead>
            <tbody>
                <?php
                    for($i = 0; $i < 45; $i++)
                    {
                    ?>
                <tr>
                    <td><?php echo $i+1 ?></td>
                    <td>TA7074A</td>
                    <td><?php echo 13050007+$i ?></td>
                    <td><?php echo "Nguyễn Văn " . $i ?></td>
                    <td>NHÂN VIÊN BÁN HÀNG - TP. Hà Nội - KV1</td>
                    <td>2000000</td>
                    <td>2000000</td>
                    <td>30/12/2016</td>
                    <td>30/12/2016</td>
                    <td></td>
                    <td>Tăng</td>
                    <td>TĂNG</td>
                    <td></td>
                    <td>Đã xử lý - Trần Văn B 1/5/2017</td>
                </tr>
                    <?php
                    }
                ?>
            </tbody>
        </table>
    </div>

    <input type="hidden" name="staff_id" value="<?php echo $this->staff['id'];?>"/>
</div>

<script language="javascript" type="text/javascript" src="/js/bootstrap-datetimepicker.min.js"></script>
<script>
    $('.month').datetimepicker({
            weekStart: 1,
            clear: true,
            minView: 3,
            startView: 3,
            minViewMode: 3,
            autoclose: true,
            format: 'mm/yyyy'
        });
</script>
