<div class="page-header">
    <h1>Change password</h1>
</div>
<?php
if (isset($this->messages) and $this->messages)
    foreach ($this->messages as $message):
        echo '<div class="alert alert-error">'.$message.'</div>';
    endforeach;
?>

<?php
if (isset($this->success_messages) and $this->success_messages)
    foreach ($this->success_messages as $message):
        echo '<div class="alert alert-success">'.$message.'</div>';
    endforeach;
?>

<?php if (isset($this->force_change_password) && $this->force_change_password 
            && isset($this->warning_messages)): ?>
    <div class="alert alert-warning"><?php echo $this->warning_messages ?></div>
<?php endif ?>

<form role="form" action="<?php echo HOST.'/user/change-pass';?>" method="post">
    <div class="form-group">
        <label for="exampleInputName"><?php echo $this->name;?></label>
    </div>
    <div class="form-group">
        <label for="input03">Old Password</label>
        <input type="password" id="input03" name="password" class="form-control input-xlarge" required="required" autocomplete="off">
    </div>

    <div class="form-group">
        <label for="input04">New Password</label>
        <input type="password" id="input04" name="new-password" class="form-control input-xlarge" required="required" autocomplete="off" onchange="form.input05.pattern = this.value;" data-toggle="tooltip" data-placement="right" pattern="^\S*(?=\S{8,})(?=\S*[a-z])(?=\S*[A-Z])(?=.*[!@#$%^&*_=+-])(?=\S*[\d])\S*$" title="Password should be at least 8 characters in length and should include at least one upper case letter, one number, and one special character.">
    </div>

    <div class="form-group">
        <label for="input05">Confirm Password</label>
        <input type="password" id="input05" name="confirm-password" class="form-control input-xlarge" required="required" autocomplete="off" data-toggle="tooltip" data-placement="right" pattern="^\S*(?=\S{8,})(?=\S*[a-z])(?=\S*[A-Z])(?=.*[!@#$%^&*_=+-])(?=\S*[\d])\S*$" title="Password should be at least 8 characters in length and should include at least one upper case letter, one number, and one special character.">
    </div>

    <button type="submit" class="btn btn-default">Submit</button>
</form>
<script>
    
$(document).ready(function () { 
    $('[data-toggle="tooltip"]').tooltip();  
});
</script>