
<style>

.div_maxim{
    text-align: center !important; 
    margin-top: 30px;
}  
.maxim{
    color: #008b56; 
    width: auto; 
    font-size: 16px;
    font-style: oblique; 
    font-weight: bold;
} 
.img_logo_login{
    max-height: 50px;
}

@media (min-width: 1920px) {
  .login.login-1 .login-content {
    width: 100%;
    max-width: 600px; }
    .login.login-1 .login-content .login-form {
      width: 100%;
      max-width: 600px; } 
}

@media screen and (min-width: 992px) {
    .login.login-1 .login-aside {
    width: 100%;
    max-width: 50%; 
    }
}

@media screen and (min-width: 1024px) {
    .div_maxim {
        display: none !important;
    }
    .image_bottom_mobile {
        display: none;
    }
}

@media screen and (max-width: 1200px) {
    .maxim {
        display: block !important;
    }
}

@media screen and (max-width: 992px) {
    .aside-img {
        display: none !important;
    }
    .img_logo_login{
        max-height: 40px;
    }
    .login-content{
        width: 100%;
    }
    .wrapper_img_logo{
        text-align: center;
    }
}

@media screen and (max-width: 575px) {
    .login-content .login-form{
        padding-left: 20px;
        padding-right: 20px;
    }
    .img_logo_login {
        max-height: 35px;
    }
}

@media screen and (max-width: 375px) {
    .login-content .login-form{
        padding-left: 10px;
        padding-right: 10px;
    }
}

@media screen and (max-width: 320px) {
    .login-content{
        padding: 0px !important;
        padding-top: 10px !important;
    }
}

@media (min-width: 1920px){
    .login.login-1 .login-content {
        width: 100%;
        max-width: 800px;
    }
}

</style>
<script src='https://www.google.com/recaptcha/api.js' async defer></script>
<div class="d-flex flex-column flex-root">
		<!--begin::Login-->
    <div class="login login-1 login-signin-on d-flex flex-column flex-lg-row flex-column-fluid bg-white" id="kt_login">
        <!--begin::Aside-->
        <div class="login-aside d-flex flex-column flex-row-auto" style="background-color: #CACAC8;">
            <!--begin::Aside Top-->
            <div class="d-flex flex-column-auto flex-column p-5 p-md-10 wrapper_img_logo">
                <!--begin::Aside header-->
                <span href="#" class="">
                    <img src="<?php echo HOST ?>img/oppo_logo__rgb.png" class="img_logo_login" alt=""/>
                </span>
                <!--end::Aside header-->

            </div>
            <!--end::Aside Top-->

            <!--begin::Aside Bottom-->
            <div class="aside-img d-flex flex-row-fluid bgi-no-repeat bgi-position-y-center bgi-position-x-center mb-md-40" style="background-image: url(../img/demo_login3.png);background-size: contain;"></div>
            <!--end::Aside Bottom-->
        </div>
        <!--begin::Aside-->

        <!--begin::Content-->
        <div class="login-content flex-row-fluid d-flex flex-column justify-content-center position-relative overflow-hidden p-7 mx-auto">
            <!--begin::Content body-->
            <div class="d-flex flex-column-fluid flex-center">
                <!--begin::Signin-->
                <div class="login-form login-signin">
                    <!--begin::Form-->
                    <form class="form" action="/user/auth" method="post" novalidate="novalidate" id="kt_login_signin_form">
                        <!--begin::Title-->
                        <div class="pb-10 pt-lg-0">
                            <h2 class="font-weight-bolder text-dark font-size-h2 font-size-h1-lg">Welcome to OPPO Vietnam</h2>
                            <span class="text-muted font-weight-bold font-size-h4">Please provide your details</span>
                            <?php
                            if (isset($this->messages) and $this->messages) :
                                foreach ($this->messages as $message): ?>
                                <div class="alert alert-error mt-5">
                                    <?php echo $message;?>
                                </div>
                                <?php endforeach;
                            endif;?>

                            <?php
                            if (isset($this->messages_success) and $this->messages_success) :
                                foreach ($this->messages_success as $message): ?>
                                    <div class="alert alert-success mt-5">
                                        <?php echo $message;?>
                                    </div>
                                <?php endforeach;
                            endif;?>
                        </div>
                        <!--begin::Title-->

                        <?php if (isset($this->coc_coc) && $this->coc_coc): ?>
                            <!-- ---------------------------------------------- -->
                            <div class="alert alert-error">
                                <?php echo $this->coc_coc;?>
                            </div>
                            <!-- ---------------------------------------------- -->
                        <?php else: ?>
                            <!--begin::Form group-->
                            <div class="form-group">
                                <label class="font-size-h6 font-weight-bolder text-dark">Email</label>
                                <input class="form-control form-control-solid h-auto py-7 px-6 rounded-lg" id="email" name="email" style="width: 100%" type="text" name="username" autocomplete="off"/>
                            </div>
                            <!--end::Form group-->

                            <!--begin::Form group-->
                            <div class="form-group">
                                <div class="d-flex justify-content-between mt-n5">
                                    <label class="font-size-h6 font-weight-bolder text-dark pt-5">Password</label>

                                    <a href="javascript:;" class="text-success font-size-h6 font-weight-bolder text-hover-access pt-5" id="kt_login_forgot">
                                        Forgot Password ?
                                    </a>
                                </div>

                                <input class="form-control form-control-solid h-auto py-7 px-6 rounded-lg"  id="password" name="password" style="width: 100%" type="password" name="password" autocomplete="off"/>
                            </div>
                            <!--end::Form group-->

                            <!--<?php if(!in_array($_SERVER['REMOTE_ADDR'], LIST_IP_OFFICER)):?>			
                                <div class="field">
                                    <div class="g-recaptcha" data-sitekey="6LfYOeMUAAAAAKii74LaUoZTFDvhM6E5AfiNhzvA"></div>
                                </div> 
                            <?php endif;?>-->

                            <!--begin::Action-->
                            <div class="pb-lg-0 pb-5 mt-3">
                                <input type="hidden" name="b" value="<?php echo $this->b;?>">
                                <input type="hidden" name="c" value="<?php echo $this->c;?>">
                                <input type="hidden" name="d" value="<?php echo $this->d;?>">
                                <input type="hidden" name="e" value="<?php echo $this->e;?>">
                                <input type="hidden" name="f" value="<?php echo $this->f;?>">
                                <input type="hidden" name="g" value="<?php echo $this->g;?>">
                                <input type="hidden" name="h" value="<?php echo $this->h;?>">
                                <input type="hidden" name="j" value="<?php echo $this->j;?>">
                                <input type="hidden" name="token_mobile_trade" value="<?php echo $this->token_mobile_trade;?>">
                                <button type="button" id="kt_login_signin_submit" class="btn btn-success font-weight-bolder font-size-h6 px-8 py-4 my-3 mr-3">Sign In</button>
                            </div>

                            <!--end::Action-->
                            
                        <?php endif; ?>
                    </form>
                    <!--end::Form-->
                </div>
                <!--end::Signin-->

                <!--begin::Signup-->
                <div class="login-form login-signup">
                    <!--begin::Form-->
                    <form class="form" novalidate="novalidate" id="kt_login_signup_form">
                    
                    </form>
                    <!--end::Form-->
                </div>
                <!--end::Signup-->

                <!--begin::Forgot-->
                <div class="login-form login-forgot">
                    <!--begin::Form-->
                    <form class="form" action="/user/reset" method="post" novalidate="novalidate" id="kt_login_forgot_form">
                        <!--begin::Title-->
                        <div class="pb-13 pt-lg-0 pt-5">
                            <h3 class="font-weight-bolder text-dark font-size-h4 font-size-h1-lg">Forgotten Password ?</h3>
                            <p class="text-muted font-weight-bold font-size-h4">Enter your email to reset your password</p>
                        </div>
                        <!--end::Title-->

                        <!--begin::Form group-->
                        <div class="form-group">
                            <input class="form-control form-control-solid h-auto py-7 px-6 rounded-lg font-size-h6" style="width: 100%" type="email" placeholder="Email" name="email" autocomplete="off"/>
                        </div>
                        <!--end::Form group-->

                        <!--begin::Form group-->
                        <div class="form-group d-flex flex-wrap pb-lg-0">
                            <button type="button" id="kt_login_forgot_submit" class="btn btn-success font-weight-bolder font-size-h6 px-8 py-4 my-3 mr-4">Submit</button>
                            <button type="button" id="kt_login_forgot_cancel" class="btn btn-light-success font-weight-bolder font-size-h6 px-8 py-4 my-3">Cancel</button>
                        </div>
                        <!--end::Form group-->
                    </form>
                    <!--end::Form-->
                </div>
                <!--end::Forgot-->
            </div>
            <!--end::Content body-->
        </div>
        <!--end::Content-->
    </div>
<!--end::Login-->
</div>

<div style="background: #fff"> 
    <div class="div_maxim" style="text-align: center; margin-top: 30px;"> 
       <!-- <i class="maxim"  ></i> -->
    </div>
</div> <!-- .actions -->

<div class="image_bottom_mobile" style="background: #FFF;margin-top: -40px;">
    <img src="<?php echo HOST ?>img/demo_login3.png" class="" style="width: 100%; height: auto" alt=""/>
</div>

<!-- <div class="image_bottom_mobile bgi-no-repeat bgi-position-y-center bgi-position-x-center" style="background-image: url(../img/image_login_oppo.png)"></div> -->
<style>
@media screen and (max-width: 575px){
	#rc-imageselect, .g-recaptcha {
			transform:scale(0.75) !important;
			-webkit-transform:scale(0.75) !important;
			transform-origin:0 0 !important;
			-webkit-transform-origin:0 0 !important;
				
	}
}
</style>
<script src="/js/jquery-1.7.2.min.js"></script>
<script type="application/javascript" src="/js/mobile-handler.js"></script>
<script type="application/javascript" src="/js/mobile-library.js"></script>
<script>



window.parent.postMessage("login", '*');

hideLoadingPage();

$(function() {
    $('form').each(function() {
        $(this).find('input').keypress(function(e) {
            // Enter pressed?
            if(e.which == 10 || e.which == 13) {
                this.form.submit();
            }
        });

        $(this).find('input[type=submit]').hide();
    });
});

$(document).ready(function () { 
    
    getMaxim();
    $('[data-toggle="tooltip"]').tooltip();  
});
   
	function getMaxim(){
		$.ajax({
	        type: 'get',
	        url: '/ajax/get-maxim-mobi',
      
	        error: function(error){
                    console.log(eval(error)); 
	        },
	        success: function(data){
	            console.log(data); 
	            var response = $.parseJSON(data);  
	             if (response.status == 1) {
	        	$('.div_maxim').append('<i  class="maxim" style=" display: none;"  >'+response.data+'</i>');
	             }
	        }
	    });
	
	}
</script>