
<style>

.div_maxim{
    text-align: center !important; 
    margin-top: 30px;
}  
.maxim{
    color: #008b56; 
    width: auto; 
    font-size: 16px;
    font-style: oblique; 
    font-weight: bold;
} 

.btn-navbar{display: none}

.brand{float: none !important;margin: 0 auto !important;text-align: center;}

.account-container{border-radius: 0px;border:0px solid #CCC;}

.navbar-fixed-top .navbar-inner {
    padding: 5px;
    background: #EDEDED !important;
    border-bottom: 1px solid #D9DEE4;
    box-shadow: none;
}

body{padding-top: 0px}

@media screen and (max-width: 1200px) {
    .maxim {
        display: block !important;
    }
}
</style>

<div class="account-container">
    <div class="content clearfix">
        <form action="/user/auth-trade" method="post">
            <?php if (isset($this->coc_coc) && $this->coc_coc): ?>
                <!-- ---------------------------------------------- -->
                <div class="alert alert-error">
                    <?php echo $this->coc_coc;?>
                </div>
                <!-- ---------------------------------------------- -->
            <?php else: ?>
                <h1>Đăng nhập</h1>

                <div class="login-fields">
                    <?php
                    if (isset($this->messages) and $this->messages) :
                        foreach ($this->messages as $message): ?>
                        <div class="alert alert-error">
                            <?php echo $message;?>
                        </div>
                        <?php endforeach;
                    endif;?>

                    <?php
                    if (isset($this->messages_success) and $this->messages_success) :
                        foreach ($this->messages_success as $message): ?>
                            <div class="alert alert-success">
                                <?php echo $message;?>
                            </div>
                        <?php endforeach;
                    endif;?>

                    <p>Vui lòng điền thông tin đăng nhập</p>

                    <div class="field">
                        <label for="email">Tài khoản</label>
                        <input type="text" id="email" name="email" placeholder="Email" autocomplete="off" required="required" class="login username-field" autofocus />
                    </div> <!-- /field -->

                    <div class="field">
                        <label for="password">Mật khẩu:</label>
                        <input type="password" id="password" name="password" placeholder="Password" required="required" autocomplete="off" class="login password-field"/>
                    </div> <!-- /password -->

                </div> <!-- /login-fields -->
                
                
                <div class="login-actions">
                    <input type="hidden" name="token" value="<?php echo $this->token;?>">
                    <button type="submit" class="button btn btn-success btn-large">Đăng nhập</button>                    
                </div> <!-- .actions -->
                
            <?php endif ?>
        </form>
    </div> <!-- /content -->
</div> <!-- /account-container -->
<!--
<div class="login-extra">
    <a href="/user/reset">Reset Password</a>
</div>  /login-extra -->

                
<div style=""> 
    <div class="div_maxim" style="text-align: center; margin-top: 30px;"> 
       <!-- <i class="maxim"  ></i> -->
    </div>
</div> <!-- .actions -->
 
<script src="/js/jquery-1.7.2.min.js"></script>
<script>

window.parent.postMessage("login", '*');

$(document).ready(function () { 
    //getMaxim();
});
   
	function getMaxim(){
		$.ajax({
	        type: 'get',
	        url: '/ajax/get-maxim-mobi',
      
	        error: function(error){
                    console.log(eval(error)); 
	        },
	        success: function(data){
	            console.log(data); 
	            var response = $.parseJSON(data);  
	             if (response.status == 1) {
	        	$('.div_maxim').append('<i  class="maxim" style=" display: none;"  >'+response.data+'</i>');
	             }
	        }
	    });
	
	}
</script>