
<div class="page-header">
    <h1>Thông tin hợp đồng</h1>
</div>

<!-- Flash message -->
<?php
if (isset($this->messages_success) and $this->messages_success)
    foreach ($this->messages_success as $message):
        echo '<div class="alert alert-success">'.$message.'</div>';
    endforeach;

if (isset($this->messages_error) and $this->messages_error)
    foreach ($this->messages_error as $message):
        echo '<div class="alert alert-error">'.$message.'</div>';
    endforeach;
?>


<?php
$userStorage = Zend_Auth::getInstance()->getStorage()->read();
if(in_array($userStorage->group_id,array(ADMINISTRATOR_ID,HR_ID,ASMSTANDBY_ID,ASM_ID))){
    echo $this->render('contract-new/partials/tab-contract.phtml');
}
?>



<div class="accordion" id="accordion2">
    <div class="accordion-group">
        <div class="accordion-heading">
            <a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion2" href="#collapseTwo">
                Search
            </a>
        </div>
        <div id="collapseTwo" class="accordion-body collapse" style="height: 0px;">
            <div class="accordion-inner">
                <?php
                echo $this->render('contract-new/partials/search-contract-transfer.phtml');
                ?>
            </div>
        </div>
    </div>
</div>


<div class="table-responsive">
    <?php
    echo $this->render('contract-new/partials/list-contract-transfer.phtml');
    ?>
</div>
