
<link rel="stylesheet" type="text/css" href="/css/jquery-ui-1.8.12.custom.css">
<link rel="stylesheet" type="text/css" href="/css/jquery.ui.timepicker.css">
<script type="text/javascript" src="/js/jquery-ui-1.8.12.custom.min.js"></script>
<script src="../js/tag-it.min.js" type="text/javascript" charset="utf-8"></script>
<link href="../css/jquery.tagit.css" rel="stylesheet" type="text/css">
<link href="../css/tagit.ui-zendesk.css" rel="stylesheet" type="text/css">

<?php
$contract = $this->contract[0];


$id = $contract['id'];
$id_title = $contract['title'];
$id_new_contract = $contract['contract_term'];
$from_date = $contract['from_date'] ? date("d/m/Y", strtotime($contract['from_date'])) : NULL;
$to_date = $contract['to_date'] ? date("d/m/Y", strtotime($contract['to_date'])) : NULL;

$salary = $contract['insurance_salary'];
$total_salary = $contract['salary_total'];
//    $probation_salary   = $this->contract['probation_salary'];
//    $allowance1         = $this->contract['allowance_1'];
//    $allowance2         = $this->contract['allowance_2'];
//    $allowance3         = $this->contract['allowance_3'];
$work_cost = $contract['work_cost_salary'];
$salary_kpi = $contract['salary_kpi'];
$salary_bonus = $contract['salary_bonus'];
$id_parent = $contract['parent_id'];
$id_company = $contract['company_id'];
// echo $id_company;die;
?>

<?php
if (isset($this->essages) and $this->messages)
    foreach ($this->messages as $message):
        echo '<div class="alert alert-success">' . $message . '</div>';
    endforeach;

if (isset($this->messages_error) and $this->messages_error)
    foreach ($this->messages_error as $message):
        echo '<div class="alert alert-error">' . $message . '</div>';
    endforeach;
?>

<div class="page-header">
    <h1>Edit Appendix</h1>
</div>
<!-- Flash message -->
<?php
if (isset($this->messages_success) and $this->messages_success)
    foreach ($this->messages_success as $message):
        echo '<div class="alert alert-success">'.$message.'</div>';
    endforeach;

if (isset($this->messages_error) and $this->messages_error)
    foreach ($this->messages_error as $message):
        echo '<div class="alert alert-error">'.$message.'</div>';
    endforeach;
?>

<form action="<?php echo $this->url(array('controller' => 'contract-new', 'action' => 'processeditappendix')) ?>" method="post">
    <div class="row-fluid">
        <div class="span12">
            <p class="pull-right">
                <button type="submit" class="btn btn-primary">Submit</button>
                <a href="/contractnew/print-appendix">
                    <button type="button" class="btn btn-danger" onclick="">Go back</button>
                </a>
            </p>
        </div>
    </div>

    <div class="main">
        <div class="main-inner">
            <div class="container">

                <div class="span4">

                    <div class="control-group">
                        <label for="code" class="control-label">ID</label>
                        <div class="controls">
                            <input type="text" id="code" name="id" required="required" readonly="" value="<?php echo $id ?>">
                        </div>
                    </div>
                    <div class="control-group">
                        <label for="code" class="control-label">Contract term</label>
                        <div class="controls">
                            <select name="contract_term" id="new_contract" required disabled="disabled">
                                <option value>Choose</option>
                                <?php foreach ($this->newContract as $key => $item) { ?>
                                    <option value="<?php echo $key; ?>" <?php echo $key == $id_new_contract ? 'selected' : '' ?> ><?php echo $item; ?></option>
                                <?php } ?>
                            </select>
                        </div>
                    </div>
                    <div class="control-group">
                        <label for="off_date" class="control-label">From date (dd/mm/yyyy)</label>
                        <div class="controls">
                            <input type="text" class="date" placeholder="Enter From date" name="from_date" value="<?php echo $from_date ?>" >
                        </div>

                    </div>
                    <div class="control-group">
                        <label for="to_date" class="control-label">To date (dd/mm/yyyy)</label>
                        <div class="controls">
                            <input type="text" class="date"  placeholder="Enter To date" name="to_date" value="<?php echo $to_date ?>" >
                        </div>

                    </div>
<!--                    <div class="control-group">
                        <label for="firstname" class="control-label">Status</label>
                        <div class="controls">
                            <input type="radio" class="form-control" id="gender_1" name="status" value="0" <?php echo $this->contract['status'] == 0 ? 'checked' : NULL ?>><span>Chưa approve</span>&nbsp;&nbsp;
                            <input type="radio" class="form-control" id="gender_1" name="status" value="1" <?php echo $this->contract['status'] == 1 ? 'checked' : NULL ?>><span>Trưởng bộ phận</span>&nbsp;&nbsp;
                            <input type="radio" class="form-control" id="gender_1" name="status" value="2" <?php echo $this->contract['status'] == 2 ? 'checked' : NULL ?>><span>Nhân sự</span>
                        </div>
                    </div>-->

                    <div class="control-group">
                        <label for="lastname" class="control-label">Title</label>
                        <div class="controls">

                            <select name="title" id="title" required>
                                <option value>Choose</option>
                                <?php foreach ($this->team as $key => $item) { ?>
                                    <option value="<?php echo $key; ?>" <?php echo $key == $id_title ? 'selected' : '' ?> ><?php echo $key."-".$item; ?></option>
                                <?php } ?>
                            </select>

                        </div>
                    </div>

                    <!--        <div class="control-group">
                                <label for="gender_1" class="control-label">Print type</label>
                                <div class="controls">
                                    
                                    <input type="radio" class="form-control" id="gender_1" name="print_type" value="1" <?php echo $this->contract['print_type'] == 1 ? 'checked' : NULL ?>><span>Hợp đồng</span>&nbsp;&nbsp;
                                    <input type="radio" class="form-control" id="gender_1" name="print_type" value="2" <?php echo $this->contract['print_type'] == 2 ? 'checked' : NULL ?>><span>Phụ lục</span>
                                </div>
                            </div>-->
<!--                    <div class="control-group">
                        <label for="gender_1" class="control-label">Print status</label>
                        <div class="controls">
                            <div class="controls">
                                <input type="radio" class="form-control" id="gender_1" name="print_status" value="1" <?php echo $this->contract['print_status'] == 1 ? 'checked' : NULL ?>><span>Có</span>&nbsp;&nbsp;
                                <input type="radio" class="form-control" id="gender_1" name="print_status" value="0" <?php echo $this->contract['print_status'] == 0 ? 'checked' : NULL ?>><span>Không</span>
                            </div>
                        </div>
                    </div>-->
                </div>
                <div class="span4">
                    <div class="control-group">
                        <label for="code" class="control-label">Salary Insurance</label>
                        <div class="controls">
                            <input type="text" id="code" placeholder="Enter Salary" name="salary_insurance" value="<?php echo $salary ? intval($salary) : NULL ?>">
                        </div>
                    </div>
                    <div class="control-group">
                        <label for="code" class="control-label">Seniority Allowance</label>
                        <div class="controls">
                            <input type="text" id="code" placeholder="Enter work cost" name="work_cost" value="<?php echo $work_cost ? intval($work_cost) : NULL ?>">
                        </div>
                    </div>
                    <div class="control-group">
                        <label for="code" class="control-label">Salary total</label>
                        <div class="controls">
                            <input type="text" id="code" placeholder="Enter Salary Total" name="salary_total" value="<?php echo $total_salary ? intval($total_salary) : NULL ?>">
                        </div>
                    </div>
                    <div class="control-group">
                        <label for="code" class="control-label">Salary KPI</label>
                        <div class="controls">
                            <input type="text" id="code" placeholder="Enter Probation Salary" name="salary_kpi" value="<?php echo $salary_kpi ? intval($salary_kpi) : NULL ?>">
                        </div>
                    </div>
                    <div class="control-group">
                        <label for="code" class="control-label">Salary Bonus</label>
                        <div class="controls">
                            <input type="text" id="code" placeholder="Enter Allowance 1" name="salary_bonus" value="<?php echo $salary_bonus ? intval($salary_bonus) : NULL ?>">
                        </div>
                    </div>
                </div>
                <div class="span3">

                    <div class="control-group">
                        <label for="lastname" class="control-label">Company</label>
                        <div class="controls">

                            <select name="company_id" id="company_id" required>
                                <option value>Choose</option>
                                <?php foreach ($this->company as $key=>$item) { ?>
                                    <option value="<?php echo $key; ?>" <?php echo $key == $id_company ? 'selected' : '' ?> ><?php echo $item; ?></option>
                                <?php } ?>
                            </select>

                        </div>
                    </div>

                    <div class="control-group">
                        <label for="lastname" class="control-label">Contract parent(Contract/Title/From date - To date)</label>
                        <div class="controls">

                            <select class="parent_id" name="parent_id" id="parent_id" multiple="">
                                <?php foreach ($this->parent as $item) { ?>
                                    <option value="<?php echo $item['id']; ?>" <?php echo $item['id'] == $id_parent ? 'selected' : '' ?> ><?php echo $item['contract_name']; ?>&nbsp;/&nbsp;<?php echo $item['name']; ?>&nbsp;/&nbsp;<?php echo date("d/m/Y", strtotime($item['from_date'])); ?>&nbsp;-&nbsp;<?php echo date("d/m/Y", strtotime($item['to_date'])); ?></option>
                                <?php } ?>
                            </select>

                        </div>
                    </div>



                </div>



            </div>
        </div>
    </div>
</form>
<!--  -->
<script>
    $(document).ready(function () {
        $(".date").datepicker({dateFormat: "dd/mm/yy"});
    });
</script>