
<div class="page-header">
    <h1>In Hợp Đồng Đề Xuất Tái Kí</h1>
    <div class="pull-right link-view" style="margin-top: -25px">
        <?php  if ($this->access('contract-new', 'print-renewable')){?>
            <a href="/contract-new/new-sign-contract" class="btn btn-success pull-right" style="margin-right: 0.2em !important" title="Print New Contract">Print New Contract</a>
        <?php } ?>
        <?php  if ($this->access('contract-new', 'print-appendix')){?>
            <a href="/contract-new/print-appendix" class="btn btn-success pull-right" style="margin-right: 0.2em !important" title="Print Appendix">Print Appendix</a>
        <?php } ?>
    </div>
</div>

<!-- Flash message -->
<?php
if (isset($this->messages_success) and $this->messages_success)
    foreach ($this->messages_success as $message):
        echo '<div class="alert alert-success">'.$message.'</div>';
    endforeach;

if (isset($this->messages_error) and $this->messages_error)
    foreach ($this->messages_error as $message):
        echo '<div class="alert alert-error">'.$message.'</div>';
    endforeach;
?>


<?php
//$userStorage = Zend_Auth::getInstance()->getStorage()->read();
//if(in_array($userStorage->group_id,array(ADMINISTRATOR_ID,HR_ID,ASMSTANDBY_ID,ASM_ID))){
//    echo $this->render('contract/partials/tab.phtml');
//}
?>

<div class="accordion" id="accordion2">
    <div class="accordion-group">
        <div class="accordion-heading">
            <a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion2" href="#collapseTwo">
                Search
            </a>
        </div>
        <div id="collapseTwo" class="accordion-body collapse" style="height: 0px;">
            <div class="accordion-inner">
                <?php
                echo $this->render('contract-new/partials/search-print-renewable.phtml');
                ?>
            </div>
        </div>
    </div>
</div>


<div class="table-responsive">
    <?php
    echo $this->render('contract-new/partials/list-print-renewable.phtml');
    ?>
</div>
