<style>
    i[class^='icon-'] {
        font-size: 15px;
        margin-right: 5px;
    }

    input, textarea, select {
        width: auto;
    }

    .chart_view {
        border: 1px solid #dddddd;
        box-sizing: border-box;
        -moz-box-sizing: border-box;
        -webkit-box-sizing: border-box;
        min-height: 300px;
        height: 25vw;
        margin: 0 auto;
    }

    .content_layout {
        overflow: unset !important;
    }
</style>

<div ng-app="app" ng-controller="appController">
    <div class="page-header">
        <h1>Kết Quả Đánh Giá Năng Lực</h1>
    </div>
    <div class="container">
        <div class="row-fluid">
            <div class="span12">
                <h3>Tổng Quan</h3>
            </div>
        </div>
        <br>
        <div class="row-fluid" style="margin-top: 15px; margin-bottom: 15px;">
            <div class="span6" style="margin-bottom: 20px;">
                <div id="rsm-line" class="chart_view"></div>
            </div>
            <div class="span6">
                <div id="asm-line" class="chart_view"></div>
            </div>
        </div>
        <div class="row-fluid" style="margin-top: 15px;">
            <div class="span6" style="margin-bottom: 20px;">
                <div id="leader-line" class="chart_view"></div>
            </div>
            <div class="span6">
                <div id="sale-line" class="chart_view"></div>
            </div>
        </div>
        <br>
        <br>
        <div class="row-fluid">
            <div class="span3" ng-if="data.sub_members.length > 0">
                <table id="list-staff" class="table table-hover">
                    <tr>
                        <th style="text-align: center">
                            <span ng-bind="data.list_name"></span>
                        </th>
                    </tr>
                    <tr ng-repeat="subMember in data.sub_members">
                        <td ng-click="action.chooseDetail(subMember.sub_id, subMember.plan_id)">
                            <span ng-bind="subMember.sub_name"
                                  style="color: #0B9F6B; font-size: 12px; cursor: pointer;"></span>
                        </td>
                    </tr>
                </table>
            </div>
            <div ng-class="{'span9': data.sub_members.length > 0, 'span12': data.sub_members.length === 0}" ng-show="data.data_detail.length > 0" id="detail">
                <div class="row-fluid">
                    <h3>
                        Chi Tiết
                    </h3>
                </div>
                <br>
                <div class="row-fluid" style="margin-bottom: 20px;">
                    <div id="polar-chart-detail" class="chart_view"></div>
                </div>
                <br>
                <div class="row-fluid" ng-if="data.data_comment.length > 0">
                    <div style="max-width: 100%; margin: 0 auto;">
                        <table class="table table-bordered">
                            <thead>
                            <tr>
                                <th>Người Đánh Giá</th>
                                <th>Chức Danh</th>
                                <th>Cần Phát Huy</th>
                                <th>Cần Cải Thiện</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr ng-repeat="comment in data.data_comment">
                                <td style="text-align: center;">
                                    <span ng-bind="comment.name"></span>
                                </td>
                                <td>
                                    <span ng-bind="action.getTitleById(comment.asm_staff_title)"></span>
                                </td>
                                <td>
                                    <span style="white-space: pre-wrap;" ng-bind="comment.asm_promote"></span>
                                </td>
                                <td>
                                    <span style="white-space: pre-wrap;" ng-bind="comment.asm_improve"></span>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <br>
</div>
<script type="text/javascript" src="<?php echo HOST ?>js/bootstrap-multiselect.js"></script>
<link rel="stylesheet" href="<?php echo HOST ?>css/bootstrap-multiselect.css" type="text/css"/>
<script type="text/javascript" src="<?php echo HOST ?>js/jquery-ui-1.8.12.custom.min.js"></script>
<link rel="stylesheet" type="text/css" href="<?php echo HOST ?>css/jquery-ui-1.8.12.custom.css"/>
</div>

<script src="/js/angular.min.js"></script>
<script src="/js/highcharts_7.0.2/highcharts.js"></script>
<script src="/js/highcharts_7.0.2/highcharts-more.js"></script>
<script src="/js/highcharts_7.0.2/exporting.js"></script>
<script src="/js/highcharts_7.0.2/overlapping-datalabels.js"></script>

<script type="text/javascript">
    var app = angular.module('app', []);
    app.controller('appController', function ($scope) {
        // Data
        $scope.data = {
            all_rsm: [],
            all_asm: [],
            all_leader: [],
            all_sale: [],
            detail_rsm: [],
            detail_asm: [],
            detail_leader: [],
            detail_sale: [],
            data_comment: [],
            sub_members: [],
            data_detail: [],
            data_detail_color: '',
            listName: '',
            staff_id: 0,
            view_report: 0
        };

        // Action
        $scope.action = {
            drawLineChart: drawLineChart,

            chooseDetail: chooseDetail,
            getListMember: getListMember,
            drawPolarChart: drawPolarChart,
            getTitleById: getTitleById
        };

        // Init
        let data = JSON.parse(`<?php echo $this->data; ?>`);
        $scope.data.view_report = <?php echo $this->view_report; ?>;
        $scope.data.all_rsm = data['all_rsm'];
        $scope.data.all_asm = data['all_asm'];
        $scope.data.all_leader = data['all_leader'];
        $scope.data.all_sale = data['all_sale'];
        $scope.data.detail_rsm = data['detail_rsm'];
        $scope.data.detail_asm = data['detail_asm'];
        $scope.data.detail_leader = data['detail_leader'];
        $scope.data.detail_sale = data['detail_sale'];
        $scope.data.staff_id = data['staff_id'];
        console.log($scope.data);

        // Watch
        $scope.$watch('data.all_rsm', function (newValue, oldValue, scope) {
            $scope.action.drawLineChart(newValue, $scope.data.detail_rsm, {
                title: 'RSM',
                subTitle: 'Bấm vào chấm trên biểu đồ để xem chi tiết cá nhân',
                label: 'Cá nhân',
                domId: 'rsm-line',
                lineColor: 'rgba(255, 41, 26, 0.8)'
            }, function (index) {
                $scope.data.sub_members = [];
                $scope.action.chooseDetail($scope.data.staff_id, newValue[index]['asp_id'], 'rgba(255, 41, 26, 0.8)')
            });
        });

        $scope.$watch('data.all_asm', function (newValue, oldValue, scope) {
            $scope.action.drawLineChart(newValue, $scope.data.detail_asm, {
                title: 'ASM',
                subTitle: 'Bấm vào chấm trên biểu đồ để xem chi tiết toàn vùng',
                label: 'Toàn vùng',
                domId: 'asm-line',
                lineColor: 'rgba(0, 184, 255, 0.6)'
            }, function (index) {
                $scope.action.getListMember(newValue[index]['asp_id'], $scope.data.detail_asm, 'ASM', 'rgba(0, 184, 255, 0.6)');
            });
        });

        $scope.$watch('data.all_leader', function (newValue, oldValue, scope) {
            $scope.action.drawLineChart(newValue, $scope.data.detail_leader, {
                title: 'SALE LEADER',
                subTitle: 'Bấm vào chấm trên biểu đồ để xem chi tiết toàn vùng',
                label: 'Toàn vùng',
                domId: 'leader-line',
                lineColor: 'rgba(255, 220, 10, 0.8)'
            }, function (index) {
                $scope.action.getListMember(newValue[index]['asp_id'], $scope.data.detail_leader, 'SALE LEADER', 'rgba(255, 220, 10, 0.8)');
            });
        });

        $scope.$watch('data.all_sale', function (newValue, oldValue, scope) {
            $scope.action.drawLineChart(newValue, $scope.data.detail_sale, {
                title: 'SALE',
                subTitle: 'Bấm vào chấm trên biểu đồ để xem chi tiết toàn vùng',
                label: 'Toàn vùng',
                domId: 'sale-line',
                lineColor: 'rgba(100, 100, 100, 0.8)'
            }, function (index) {
                $scope.action.getListMember(newValue[index]['asp_id'], $scope.data.detail_sale, 'SALE', 'rgba(100, 100, 100, 0.8)');
            });
        });

        $scope.$watch('data.data_detail', function (newValue, oldValue, scope) {
            $scope.action.drawPolarChart(newValue, $scope.data.data_detail_color);
        });

        function drawLineChart(data, detail, content, clickCallback) {
            let categories = [];
            let personal = [];
            let total = [];
            data.forEach(function (result) {
                categories.push(result['asp_name']);
                let point = 0;
                let count = 0;
                Object.keys(detail[result['asp_id']]).forEach(function (key) {
                    point += detail[result['asp_id']][key].result;
                    count ++;
                });
                if (count == 0) {
                    count = 1;
                }
                personal.push(Number((point / count).toFixed(1)));
                total.push(parseFloat(result['total']));
            });
            let chartitle = {
                text: content.title,
                style: {
                    fontWeight: 'bold'
                }
            };
            let chartsubtitle = {
                text: content.subTitle
            };
            let chartxaxis = {
                categories: categories
            };
            let chartyaxis = {
                title: {
                    text: 'Điểm'
                },
                max: 5,
                min: 0,
            };
            let chartseries = [{
                name: 'Trung bình toàn quốc',
                data: total,
                color: "rgba(255, 164, 14, 0.8)",
                dashStyle: 'shortdash',
                lineWidth: 1
            }, {
                name: content.label,
                data: personal,
                color: content.lineColor
            }];

            $('#' + content.domId).highcharts({
                title: chartitle,
                subtitle: chartsubtitle,
                xAxis: chartxaxis,
                yAxis: chartyaxis,
                series: chartseries,
                plotOptions: {
                    series: {
                        cursor: 'pointer',
                        point: {
                            events: {
                                click: function () {
                                    clickCallback(this.index);
                                }
                            }
                        }
                    }
                }
            });
        }

        function chooseDetail(subMemberId, planId, color) {
            if($scope.data.view_report == 1) {
                parent.document.location.href = '/appraisal-sale/view-rsm';
                return;
            }
            $.ajax({
                url: '/appraisal-sale/get-detail-sale',
                data: {
                    asp_id: planId,
                    sub_member_id: subMemberId
                },
                type: 'GET',
                dataType: 'json',
                success: function (data) {
                    if (data.status === 0) {
                        if(color !== undefined) {
                            $scope.data.data_detail_color = color;
                        }
                        $scope.data.data_detail = data.data.data_sale;
                        $scope.data.data_comment = data.data.data_comment;
                        $scope.$apply();
                    } else {
                        alert(data.message);
                    }
                },
                error: function () {
                    alert('Something went wrong. Please try again!');
                }
            });
        }

        function getListMember(planId, detail, listName, color) {
            if($scope.data.view_report == 1) {
                parent.document.location.href = '/appraisal-sale/view-rsm';
                return;
            }
            $scope.data.list_name = listName;
            $scope.data.sub_members = [];
            $scope.data.data_detail = [];
            Object.keys(detail[planId]).forEach(function (key) {
                $scope.data.sub_members.push({
                    'plan_id': planId,
                    'sub_id': key,
                    'sub_name': detail[planId][key].staff_name
                });
            });
            $scope.data.data_detail_color = color;
            $scope.$apply();
            $('html, body').animate({ scrollTop: $('#list-staff').offset().top }, 'slow');
        }

        function drawPolarChart(data, color) {
            let categories = [];
            let result = [];
            data.forEach(function (element) {
                categories.push(element['question']);
                result.push(parseFloat(element['result']));
            });
            let chartype = {
                polar: true,
                type: 'line'
            };
            let chartitle = {
                text: 'Điểm Năng Lực Cá Nhân',
                style: {
                    fontWeight: 'bold'
                }
            };
            let chartpane = {
                size: '80%'
            };
            let chartxaxis = {
                categories: categories,
                tickmarkPlacement: 'on',
                lineWidth: 0,
                labels: {
                    distance: 30
                }
            };
            let chartyaxis = {
                gridLineInterpolation: 'polygon',
                lineWidth: 0,
                min: 0,
                max: 5
            };
            let chartseries = [{
                name: 'Điểm Trung Bình',
                data: result,
                pointPlacement: 'on',
                color: $scope.data.data_detail_color,
            }];

            setTimeout(function() {
                let chart = $('#polar-chart-detail');
                $('html, body').animate({ scrollTop: chart.offset().top }, 'slow');
                chart.highcharts({
                    chart: chartype,
                    title: chartitle,
                    pane: chartpane,
                    xAxis: chartxaxis,
                    yAxis: chartyaxis,
                    series: chartseries
                });

                let labels = [];
                let ticks = chart.highcharts().xAxis[0].ticks;
                for (pos in ticks) {
                    if (ticks[pos].label) {
                        labels.push(ticks[pos].label);
                    }
                }
                Highcharts.Series.prototype.hideOverlappingLabels.call(0, labels);
            }, 100);
        }

        function getTitleById(titleId) {
            titleId = parseInt(titleId);
            switch (titleId) {
                case 462:
                    return 'Manager';
                case 308:
                    return 'RSM';
                case 179:
                case 181:
                    return 'ASM';
                case 190:
                    return 'Sale Leader';
                case 183:
                    return 'Sale';
            }
        }
    });

</script>