<style>
    i[class^='icon-'] {
        font-size: 15px;
        margin-right: 5px;
    }

    input, textarea, select {
        width: auto;
    }

    .chart_view {
        border: 1px solid #dddddd;
        box-sizing: border-box;
        -moz-box-sizing: border-box;
        -webkit-box-sizing: border-box;
        min-height: 300px;
        height: 30vw;
        margin: 0 auto;
    }

    .content_layout {
        overflow: unset;
    }
</style>

<div ng-app="app" ng-controller="appController">
    <div class="page-header">
        <h1>Kết Quả Đánh Giá Năng Lực</h1>
    </div>
    <div class="container">
        <div class="row-fluid">
            <div class="span12">
                <h3>Tổng Quan</h3>
            </div>
        </div>
        <br>
        <div class="row-fluid">
            <div class="span12">
                <div id="sale-line" class="chart_view"></div>
            </div>
        </div>
        <br>
        <div class="row-fluid" ng-show="data.data_sale.length > 0">
            <div class="row-fluid">
                <h3>
                    Chi Tiết
                    <i>
                        <span ng-if="data.chooseIndex != -1" ng-bind="data.results[data.chooseIndex]['asp_name']"></span>
                    </i>
                </h3>
            </div>
            <br>
            <div class="row-fluid">
                <div class="span12">
                    <div id="sale-detail" class="chart_view"></div>
                </div>
            </div>
            <br>
            <div class="row-fluid">
                <div class="span12">
                    <table class="table table-bordered" style="max-width: 90%; margin: 0 auto;">
                        <thead>
                        <tr>
                            <th colspan="2">Điểm Đánh Giá Của PGs.</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr ng-repeat="pg in data.data_pg">
                            <td>
                                <span ng-bind="pg.question"></span>
                            </td>
                            <td>
                                <span ng-bind="pg.result"></span>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <br>
            <div class="row-fluid" ng-if="data.data_comment.length > 0">
                <div class="span12">
                    <table class="table table-bordered" style="max-width: 90%; margin: 0 auto;">
                        <thead>
                        <tr>
                            <th>Người Đánh Giá</th>
                            <th>Chức Danh</th>
                            <th>Cần Phát Huy</th>
                            <th>Cần Cải Thiện</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr ng-repeat="comment in data.data_comment">
                            <td style="text-align: center;">
                                <span ng-bind="comment.name"></span>
                            </td>
                            <td>
                                <span ng-bind="action.getTitleById(comment.asm_staff_title)"></span>
                            </td>
                            <td>
                                <span style="white-space: pre-wrap;" ng-bind="comment.asm_promote"></span>
                            </td>
                            <td>
                                <span style="white-space: pre-wrap;" ng-bind="comment.asm_improve"></span>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
    <br>
</div>
<script type="text/javascript" src="<?php echo HOST ?>js/bootstrap-multiselect.js"></script>
<link rel="stylesheet" href="<?php echo HOST ?>css/bootstrap-multiselect.css" type="text/css"/>
<script type="text/javascript" src="<?php echo HOST ?>js/jquery-ui-1.8.12.custom.min.js"></script>
<link rel="stylesheet" type="text/css" href="<?php echo HOST ?>css/jquery-ui-1.8.12.custom.css"/>
</div>

<script src="/js/angular.min.js"></script>
<script src="/js/highcharts_7.0.2/highcharts.js"></script>
<script src="/js/highcharts_7.0.2/highcharts-more.js"></script>
<script src="/js/highcharts_7.0.2/exporting.js"></script>

<script type="text/javascript">
    var app = angular.module('app', []);
    app.controller('appController', function ($scope) {
        // Data
        $scope.data = {
            results: [],
            chooseIndex: -1,
            data_sale: [],
            data_pg: [],
            data_comment: [],
            staff_id: 0,
            view_report: 0
        };

        // Action
        $scope.action = {
            drawLineChartSale: drawLineChartSale,
            chooseSaleDetail: chooseSaleDetail,
            drawPolarChartSale: drawPolarChartSale,
            getTitleById: getTitleById
        };

        // Init
        $scope.data.view_report = <?php echo $this->view_report; ?>;
        $scope.data.results = JSON.parse(`<?php echo $this->data ?>`);
        $scope.data.staff_id = <?php echo $this->staff_id ?>;

        // Function
        $scope.$watch('data.results', function (newValue, oldValue, scope) {
            $scope.action.drawLineChartSale(newValue);
        }, true);

        $scope.$watch('data.data_sale', function (newValue, oldValue, scope) {
            $scope.action.drawPolarChartSale($scope.data.data_sale, $scope.data.data_pg);
        }, true);

        function drawLineChartSale(data) {
            let categories = [];
            let personal = [];
            let total = [];
            data.forEach(function (result) {
                categories.push(result['asp_name']);
                personal.push(parseFloat(result['personal']));
                total.push(parseFloat(result['total']));
            });
            let chartitle = {
                text: 'SALE',
                style: {
                    fontWeight: 'bold'
                }
            };
            let chartsubtitle = {
                text: 'Bấm vào chấm trên biểu đồ để xem chi tiết cá nhân'
            };
            let chartxaxis = {
                categories: categories
            };
            let chartyaxis = {
                title: {
                    text: 'Điểm'
                },
                min: 0,
                max: 5,
            };
            let chartseries = [{
                name: 'Trung bình toàn quốc',
                data: total,
                color: "rgba(255, 164, 14, 0.8)",
                dashStyle: 'shortdash',
                lineWidth: 1
            }, {
                name: 'Cá nhân',
                data: personal,
                color: 'rgba(100, 100, 100, 0.8)'
            }];
            $('#sale-line').highcharts({
                title: chartitle,
                subtitle: chartsubtitle,
                xAxis: chartxaxis,
                yAxis: chartyaxis,
                series: chartseries,
                plotOptions: {
                    series: {
                        cursor: 'pointer',
                        point: {
                            events: {
                                click: function () {
                                    if($scope.data.view_report != 1) {
                                        $scope.action.chooseSaleDetail(this.index);
                                    } else {
                                        parent.document.location.href = '/appraisal-sale/view-sale';
                                    }
                                }
                            }
                        }
                    }
                }
            });
        }

        function chooseSaleDetail(index) {
            $scope.data.chooseIndex = index;
            $.ajax({
                url: '/appraisal-sale/get-detail-sale',
                data: {
                    asp_id: $scope.data.results[index]['asp_id'],
                    sub_member_id: $scope.data.staff_id
                },
                type: 'GET',
                dataType: 'json',
                success: function (data) {
                    if (data.status === 0) {
                        $scope.data.data_sale = data.data.data_sale;
                        $scope.data.data_pg = data.data.data_pg;
                        $scope.data.data_comment = data.data.data_comment;
                        $scope.$apply();
                        $('html, body').animate({ scrollTop: $('#sale-detail').offset().top }, 'slow');
                    } else {
                        alert(data.message);
                    }
                },
                error: function () {
                    alert('Something went wrong. Please try again!');
                }
            });
        }

        function drawPolarChartSale(dataSale) {
            console.log(dataSale);
            let categories = [];
            let result = [];
            dataSale.forEach(function (data) {
                categories.push(data['question']);
                result.push(parseFloat(data['result']));
            });
            let chartype = {
                polar: true,
                type: 'line'
            };
            let chartitle = {
                text: 'Điểm Năng Lực Cá Nhân',
                style: {
                    fontWeight: 'bold'
                }
            };
            let chartpane = {
                size: '80%'
            };
            let chartxaxis = {
                categories: categories,
                tickmarkPlacement: 'on',
                lineWidth: 0
            };
            let chartyaxis = {
                gridLineInterpolation: 'polygon',
                lineWidth: 0,
                min: 0,
                max: 5
            };
            let chartseries = [{
                name: 'Điểm Trung Bình',
                data: result,
                pointPlacement: 'on',
                color: 'rgba(100, 100, 100, 0.8)'
            }];
            setTimeout(function() {
                let chart = $('#sale-detail');
                chart.highcharts({
                    chart: chartype,
                    title: chartitle,
                    pane: chartpane,
                    xAxis: chartxaxis,
                    yAxis: chartyaxis,
                    series: chartseries,
                });

                let labels = [];
                let ticks = chart.highcharts().xAxis[0].ticks;
                for (pos in ticks) {
                    if (ticks[pos].label) {
                        labels.push(ticks[pos].label);
                    }
                }
                if(Highcharts.Series.prototype.hideOverlappingLabels !== undefined) {
                    Highcharts.Series.prototype.hideOverlappingLabels.call(0, labels);
                }
            }, 100);
        }

        function getTitleById(titleId)
        {
            titleId = parseInt(titleId);
            switch (titleId) {
                case 462:
                    return 'Manager';
                case 308:
                    return 'RSM';
                case 179:
                case 181:
                    return 'ASM';
                case 190:
                    return 'Sale Leader';
                case 183:
                    return 'Sale';
            }
        }
    });

</script>