
<div class="page-header">
    <h1>Phân loại & Quy trình ký hợp đồng</h1>
   <span class="pull-right"> <a class="btn btn-success" href="/contract-new/contract-process-create"><i class="icon-plus"></i></a></span>
</div>

<!-- Flash message -->
<?php
if (isset($this->messages_success) and $this->messages_success)
    foreach ($this->messages_success as $message):
        echo '<div class="alert alert-success">'.$message.'</div>';
    endforeach;

if (isset($this->messages_error) and $this->messages_error)
    foreach ($this->messages_error as $message):
        echo '<div class="alert alert-error">'.$message.'</div>';
    endforeach;
?>


<?php
$userStorage = Zend_Auth::getInstance()->getStorage()->read();
if(in_array($userStorage->group_id,array(ADMINISTRATOR_ID,HR_ID,ASMSTANDBY_ID,ASM_ID))){
    echo $this->render('contract-new/partials/tab.phtml');
}
?>


<div class="table-responsive">
    <?php
    echo $this->render('contract-new/partials/list-contract-process.phtml');
    ?>
</div>
