<div class="page-header">
    <?php if (isset($this->contract_term) and $this->contract_term):?>
        <h1>Edit Contract term</h1>
    <?php else:?>
        <h1>Create Contract term</h1>
    <?php endif;?>
</div>

<?php
if (isset($this->messages) and $this->messages)
    foreach ($this->messages as $message):
        echo '<div class="alert alert-error">'.$message.'</div>';
    endforeach;
?>

<form role="form" action="<?php echo HOST.'contract-new/contract-term-save';?>" method="post">
			<div class="span4">
			<div class="form-group">
            <label for="code" class="control-label">ID</label>
            <div class="controls">
                <input type="text" id="code" name="id" required="required" readonly="" value="<?php if (isset($this->contract_term)): echo $this->contract_term->id; endif;?>">
            </div>
        </div>
    <div class="form-group">
        <label for="name">Name</label>
        <input type="text" class="form-control" id="name" name="name" required="required" value="<?php if (isset($this->contract_term)): echo $this->contract_term->name_contract; endif;?>">
    </div>
     
			
	
    
			</div>
			
			<div class="span4">
				<div class="form-group">
        <label for="name">Thời hạn</label>
        <input type="number" min="0"  class="form-control" id="addday" name="addday" value="<?php echo  isset($this->contract_term) ?  $this->contract_term->addday : 0 ;?>">
    </div>
    <div class="form-group">
        <label for="name">Ngày bắt đầu</label>
        <input type="number" min="0" class="form-control" id="start_date" name="start_date" value="<?php echo isset($this->contract_term)? $this->contract_term->start_date: 0;?>">
    </div>
     <div class="form-group">
        <label for="name">Ngày kết thúc</label>
        <input type="number"  class="form-control" id="end_date" name="end_date" value="<?php echo isset($this->contract_term) ? $this->contract_term->end_date : 0;?>">
    </div>
			<input type="hidden" name="id" id="id" value="<?php isset($this->contract_term) and $this->contract_term and printf($this->contract_term->id);?>">
    <input type="hidden" name="back_url" id="back_url" value="<?php isset($this->back_url) and $this->back_url and printf($this->back_url);?>">
    <button type="submit" class="btn btn-primary">Submit</button>
    <button type="button" class="btn btn-danger go-back">Go back</button>
			</div>
			
    
    
</form>
<script type="text/javascript">
    $(document).ready(function () {
        $('.go-back').click(function(e){
            window.location.href = $('#back_url').val();

            return false;
        });
    });
</script>