<link rel="stylesheet" type="text/css" href="<?php echo HOST ?>js/file-uploader/fileuploader.css"/>
<script src="<?php echo HOST ?>js/file-uploader/fileuploader.js" type="text/javascript"></script>
<link rel="stylesheet" type="text/css" href="<?php echo HOST ?>css/bootstrap-grid.css"/>
<link rel="stylesheet" type="text/css" href="<?php echo HOST ?>css/request.css"/>
<style>
    #purchasing_request{
    display: none;
}
</style>
<div class="page-header">
    <h1>Đề xuất thanh toán</h1>
    <div class="pull-right">
        <a href="list-request" class="btn">Quay lại</a>
    </div>
</div>
<?php
if (isset($this->messages) and $this->messages)
    foreach ($this->messages as $message):
        echo '<div class="alert alert-success">' . $message . '</div>';
    endforeach;

if (isset($this->messages_error) and $this->messages_error)
    foreach ($this->messages_error as $message):
        echo '<div class="alert alert-danger">' . $message . '</div>';
    endforeach;
?>


<body>
<div id="lightbox" class="modal fade " role="dialog">
    <img src="" id="full-size-image"/>
</div>
<!--    <h2>Vertical (basic) form</h2>-->
<div class="">
    <form id="form_submit" class="form-T">
        <div class="row ">
            <div class="span10">
                <div class="widget">
                    <div class="widget-header">
                        <h3>
                            Thông tin đề xuất:
                        </h3>
                    </div>
                    <div class="widget-content">
                        <div class="">
                            <div class="span3">
                                <div class="form-group">
                                    <h5>Công ty:</h5>
                                    <select required="required" class="full-input " name="company" id="">
                                        <option value="">-- Chọn công ty --</option>

                                        <?php foreach ($this->company as $key => $value) : ?>

                                            <option value="<?php echo $key ?>"><?php echo $value ?></option>

                                        <?php endforeach; ?>

                                    </select>
                                </div>
                            </div>
                            <div class="span3"></div>
                            <div class="span3">
                                <div required="required" class="form-group info ">
                                    <h5>
                                        Loại đề xuất:
                                    </h5>
                                    <select class="full-input " name="category" id="check-category">
                                        <option value="">-- Chọn loại --</option>
                                        <?php foreach ($this->category as $key => $value) : ?>
                                            <option value="<?php echo $value['id'] ?>"><?php echo $value['name'] ?></option>
                                        <?php endforeach; ?>
                                    </select>
                                </div>
                            </div>
                            <div class="span3">

                                <div class="form-create">
                                    <h5>Khu vực:</h5>
                                    <select  name="area_id" required="required"
                                            class="  ">
                                        <option value="">--Chọn--</option>
                                        <?php foreach ($this->areas as $key => $value): ?>
                                            <option value="<?php echo $key; ?>" <?php echo (isset($this->purchasing_request['area_id']) and $this->purchasing_request['area_id'] == $key) ? "selected" : NULL; ?>><?php echo $value; ?></option>
                                        <?php endforeach; ?>
                                    </select>
                                </div>

                                <div class="form-create" <?php if (!empty($this->department_hidden)) {
                                    echo 'style="display: none;';
                                } ?> >
                                    <h5>Phòng ban:</h5>

                                    <select  name="department_id" id="department_id" required="required"
                                            class="  ">
                                        <option value="">--Chọn--</option>
                                        <?php foreach ($this->department as $key => $value): ?>
                                            <option value="<?php echo $key; ?>"><?php echo $value; ?></option>
                                        <?php endforeach; ?>
                                    </select>
                                </div>


                                <div class="form-create">
                                    <h5>Khối:</h5>
                                    <select  name="team_id" id="team" required="required"
                                            class="  ">
                                        <option value="">--Chọn--</option>
                                        <?php if (isset($this->purchasing_request) AND isset($this->recursiveDepartmentTeamTitle[$this->purchasing_request['department_id']]['children'])): ?>
                                            <?php foreach ($this->recursiveDepartmentTeamTitle[$this->purchasing_request['department_id']]['children'] as $item_id => $item): ?>
                                                <option value="<?php echo $item_id; ?>"
                                                        <?php if (isset($this->purchasing_request) and $this->purchasing_request and $item_id == $this->purchasing_request['team_id']): ?>selected<?php endif; ?>><?php echo $item['name']; ?></option>
                                            <?php endforeach; ?>
                                        <?php endif ?>
                                    </select>
                                </div>


                            </div>
                            <div class="span3">
                                    <h5 class="">Đề xuất có Purchasing Request( >10 triệu)? 
                                    	<input type="checkbox" 
                                        id="has_purchasing_request" name="has_purchasing_request" value="1">
                                    </h5>
                            </div>
                            <div class="span3">
	                                <div class="">
		                                <h5> Đề xuất cần thanh toán? 
		                                	<input type="checkbox" name="has_payment"
		                                                                           id="has_payment" value="1"
		                                                                           >
                                       </h5>
                                	</div>
            				</div>
                            <div class="span3">
                                
                            </div>
                        </div>
                    </div>

                </div>
            </div>
            <div class="span10" id="purchasing_request">
                <div class="widget">
                    <div class="widget-header">
                        <i class="icon-list-alt"></i>
                        <h3>Đặt hàng nguyên- vật liệu: </h3>
                    </div>


                    <div class="widget-content">
                        <div class="">

                            <div class="span3">
                                <div class="form-create">
                                    <h5>Mã PR :</h5>
                                    <select name='id_pr' id="id_pr" class="purchasing_request_form " disabled="disabled" required="required" value="<?php echo $this->purchasing_request['id_pr']; ?>">
                                    	<option value="">--Chọn--</option>
                                        <?php if (!empty($this->listPO)): ?>
                                            <?php
                                            foreach ($this->listPO as $key => $value):?>
                                                <option class="option_type" title="<?= $value["name"] ?>"
                                                        value="<?= $value['sn']; ?>"
                                                        data-name="<?= $value["name"] ?>"
                                                        data-supplier-id="<?= $value["supplier_id"] ?>"
                                                        data-type="<?= $value["type"] ?>"
                                                        data-shipping-address="<?= $value["shipping_address"] ?>"
                                                        data-status="<?= $value["status"] ?>"
                                                        data-urgent-date="<?= $value["urgent_date"] ?>"
                                                        data-project-id="<?= $value["project_id"] ?>"
                                                        data-area-id="<?= $value["area_id"] ?>"
                                                        data-department-id="<?= $value["department_id"] ?>"
                                                        data-team-id="<?= $value["team_id"] ?>"
                                                        >
                                                        <?= $value['sn']; ?>
                                                </option>
                                            <?php endforeach; ?>
                                        <?php else: ?>
                                        <?php endif; ?>
                                    </select>
                                    <!-- <input disabled="disabled" name='id_pr'
                                           class="purchasing_request_form " required="required"
                                           value="<?php echo $this->purchasing_request['id_pr']; ?>"></input> -->
                                </div>

                                <div class="form-create">
                                    <h5>Tên PR :</h5>
                                    <input readonly="readonly" name='name_pr' id="name_pr"
                                           class="purchasing_request_form reload-by-department" required="required"
                                           value="<?php echo $this->purchasing_request['name_pr']; ?>"></input>
                                </div>

                                <div class="form-create">
                                    <h5>Ngày nhận hàng dự kiến:</h5>
                                    <input readonly="readonly" type="text" name="urgent_date" id="urgent_date"
                                           class="purchasing_request_form" required="required"
                                           value="<?php echo $this->purchasing_request['urgent_date']; ?>"
                                           required="required"/>
                                </div>

                            </div>
                            <div class="span3">

                                <div class="form-create">
                                    <h5>Nhóm hàng: </h5>
                                    <select  name="type_pr" id="purchasing_type"
                                            class=" purchasing_request_form reload-by-department">
                                        <option value="">--Chọn--</option>
                                        <?php if (!empty($this->purchasing_type)): ?>
                                            <?php
                                            foreach ($this->purchasing_type as $key => $value):?>
                                                <option class="option_type"
                                                        value="<?php echo $value['id']; ?>"><?php echo $value['name']; ?></option>
                                            <?php endforeach; ?>
                                        <?php else: ?>
                                            <option class="option_type"
                                                    value="-1" <?php echo (isset($this->purchasing_request['type']) and $this->purchasing_request['type'] == -1) ? "selected" : NULL; ?>>
                                                Chưa xác định
                                            </option>
                                        <?php endif; ?>
                                    </select>
                                </div>

                                <div class="form-create">
                                    <h5>Dự án: </h5>
                                    <select  name="project_id"
                                            class="purchasing_request_form reload-by-department">
                                        <option value="">--Chọn--</option>
                                        <?php foreach ($this->purchasing_project as $key => $value): ?>
                                            <option value="<?php echo $value['id']; ?>"><?php echo $value['name']; ?></option>
                                        <?php endforeach; ?>
                                    </select>
                                </div>
                            </div>
                            <div class="span3">
    	                    <div class="">
                        
                            <div class="form-create">
                                <h5>Khu vực:</h5>
                                <select name="pr_area_id"  id="pr_area_id" class="purchasing_request_form " >
                                    <option value="">--Select--</option>
                                     <?php foreach($this->areas as $key=>$value):?>
                                    <option value="<?php echo $key;?>" <?php echo (isset($this->purchasing_request['area_id']) and $this->purchasing_request['area_id'] == $key) ? "selected" : NULL;?>><?php echo $value;?></option>
                                    <?php endforeach;?>
                                </select>
                            </div>

                            <div class="form-create" <?php if(!empty($this->department_hidden)){ echo 'style="display: none;';} ?> >
                                <h5>Phòng ban:</h5>

                                <select name="pr_department_id" id="pr_department_id"  class="purchasing_request_form " >
                                        <option value="">--Select--</option>
                                         <?php foreach($this->department as $key=>$value):?>
                                        <option value="<?php echo $key;?>" <?php 
                                        echo (isset($this->purchasing_request['department_id']) and $this->purchasing_request['department_id'] == $key) ? "selected" : NULL;?>><?php echo $value;?></option>
                                        <?php endforeach;?>
                                    </select>
                            </div>


                            <div class="form-create"> 
                                 <h5>Khối:</h5>
                                    <select name="pr_team_id" id="pr_team_id" class="purchasing_request_form " >
                                        <option value>Choose</option>
                                            <?php foreach ($this->team as $item_id => $item):?>
                                                <option value="<?php echo $item_id;?>" <?php if (isset($this->purchasing_request) and $this->purchasing_request and $item_id==$this->purchasing_request['team_id']):?>selected<?php endif;?>><?php echo $item;?></option>
                                            <?php endforeach;?>
                                    </select>
                            </div>

                    </div>
                            </div>
                            <div class="span3">
                                <div class="form-create">
                                    <h5>Địa chỉ nhận đơn hàng:</h5>
                                    <textarea readonly="readonly" rows="3" name='shipping_address' id="shipping_address"
                                              class="purchasing_request_form"
                                              required="required"><?php echo $this->purchasing_request['shipping_address']; ?></textarea>
                                </div>
                            </div>
                        </div>

                    </div>


                </div><!--widget-->
            </div>
            <div class="span10">
                <div class="widget">
                    <div class="widget-header">
                        <h3>
                            Thông tin thanh toán:
                        </h3>
                    </div>
                    <div class="widget-content">
                        <div class="">
                            <div class="span3">
                                <div class="form-group">
                                    <h5>Ngày đề xuất:</h5>
                                    <input type="" class="date form-control" value="<?= date('Y/m/d'); ?>"
                                           placeholder=""
                                           name="date_offer">
                                </div>
                                <div id="">
                                    <div class="form-group">
                                        <h5 for="">Nội dung:</h5>
                                        <textarea name="content" required>

                                    </textarea>
                                    </div>

                                </div>

                            </div>
                            <div class="span3">
                                <div class="form-group">
                                    <h5 for="">Nhân viên đề xuất:</h5>
                                    <input type="" class="form-control" id="" placeholder="" name="staff_order"
                                           value="<?= !empty($this->userStorage) ? $this->userStorage->firstname . " " . $this->userStorage->lastname : ""; ?>"
                                           disabled="disabled">
                                </div>
                                <div class="form-group">
                                    <h5 for="">Ghi chú:</h5>
                                    <textarea name="note">

                                </textarea>
                                </div>


                            </div>
                            <div class="span3">
                            </div>
                            <div class="span3">
                                <div class="">
                                    <div class="form-group">
                                        <h5 for="">Số tiền tạm tính:</h5>
                                        <input class="number" class="form-control reload-by-department" id=""
                                               placeholder="" name="cost_temp"
                                        >
                                    </div>
                                </div>


                            </div>
                            <div class="span3">
                                <div class="">
                                    <div class="form-group">
                                        <h5 for="">Chi phí tăng/giảm:</h5>
                                        <input type="number" class="form-control" id="" placeholder=""
                                               name="cost_change"
                                               disabled>
                                    </div>
                                </div>
                            </div>
                            <div class="span3">
                                <div class="">
                                    <div class="form-group">
                                        <h5 for="">Số thực chi:</h5>
                                        <input type="number" class="form-control" id="" placeholder=""
                                               name="cost_execute"
                                               disabled>
                                    </div>
                                    <div class="form-group">
                                        <h5>
                                            Hình thức chuyển tiền:
                                        </h5>
                                        <select  class="full-input " name="payment_type" id="payment_type"  >
                                            <option value="" >-- Chọn loại --</option>
                                            <option value="1" >Tiền mặt</option>
                                            <option value="2" >Chuyển khoản</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                            <div class="span9 col-9">
                                        <div class="form-group">
                                            <a class="btn btn-primary" id="add-more-pr-payment"> + </a>
                                            <a class="btn btn-success" id="sub-more-pr-payment"> - </a>
                                        </div>
                                </div>
                                <div class="pr_payment_form">
                                    
                                </div>
                        </div>

                    </div>
                </div>
            </div>
<!--            <div class="span10">-->
<!--                <div class="widget">-->
<!--                    <div class="widget-header">-->
<!--                        <h3>-->
<!--                            Thanh toán:-->
<!--                        </h3>-->
<!--                    </div>-->
<!--                    <div class="widget-content">-->
<!--                        <div class="row">-->
<!--                            <div class="col-lg-3 col-md-5 col-10">-->
<!--                                <div class="form-group">-->
<!--                                    <h5>Số chứng từ:</h5>-->
<!--                                    <input type="text" class="form-control"-->
<!--                                           placeholder=""-->
<!--                                           name="invoice_number" disabled="disabled">-->
<!--                                </div>-->
<!---->
<!---->
<!--                            </div>-->
<!---->
<!--                            <div class="col-lg-3 col-md-5 col-10">-->
<!--                                <div class="form-group">-->
<!--                                    <h5 for="">Ngày chứng từ:</h5>-->
<!--                                    <input type="" class="date form-control"-->
<!--                                           placeholder=""-->
<!--                                           name="invoice_date" value="" disabled="disabled">-->
<!---->
<!--                                </div>-->
<!--                            </div>-->
<!--                            <div class="col-lg-3 col-md-5 col-10"></div>-->
<!---->
<!--                                <div class="col-lg-3 col-md-5 col-10 div-payment-date">-->
<!--                                    <div class="form-group">-->
<!--                                        <h5 for="">Ngày thanh toán:</h5>-->
<!--                                        <input type="" class="date form-control"-->
<!--                                               placeholder=""-->
<!--                                               name="payment_date" value="" disabled="disabled">-->
<!--                                    </div>-->
<!--                                </div>-->
<!--                                <div class="col-lg-3 col-md-5 col-10 div-payment">-->
<!--                                    <div class="form-group">-->
<!--                                        <h5 for="">Số tiền thanh toán:</h5>-->
<!--                                        <input class="number form-control"-->
<!--                                               placeholder=""-->
<!--                                               name="payment_cost" disabled="disabled">-->
<!--                                    </div>-->
<!--                                </div>-->
<!---->
<!--                            <div class="span11">-->
<!--                                <div class="form-group">-->
<!--                                    <a class="btn btn-primary" id="add-more" style="display: none;"> + </a>-->
<!--                                    <a class="btn btn-success" id="sub-more" style="display: none;"> - </a>-->
<!--                                </div>-->
<!--                            </div>-->
<!--                        </div>-->
<!--                    </div>-->
<!--                </div>-->
<!--            </div>-->

            <div class="span10 " id="gallery-img">
                <div class="widget ">
                    <div class="widget-header">
                        <h3>
                            Tập tin đính kèm:
                        </h3>
                    </div>
                    <div class="widget-content image-preview">

                        <div class="">
                             <div class="span3">
                                <div class="form-group">
                                    <input type="" class="" value=""
                                           placeholder=""
                                           name="" style="display:none;">
                                </div>
                            </div>
                            <div class="span3">
                                <div class="form-group button-right" id="">
                                    <!--                                <input id="file" type="file" name="file[]" multiple="multiple">-->
                                    <input id="file" type="file" name="file[]" multiple="multiple">
                                </div>
                            </div>

                        </div>
                    </div>
                    <div class="form-group ">
                    </div>


                </div>
            </div>
            <div class="span10">
                <div class="widget">
                    <div class="widget-content">
                        <div class="">
                             <div class="span3">
                                <div class="form-group">
                                    <input type="" class="" value=""
                                           placeholder=""
                                           name="" style="display:none;">
                                </div>
                            </div>


                            <div class="span3">
                                <div class="form-group ">
                                    <button type="submit" class="btn btn-success ">Tạo đề xuất</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>
</body>
<!-- Dashboard -->
<script language="javascript" type="text/javascript" src="/js/full-calendar/fullcalendar.min.js"></script>
<!-- END Dashboard -->
<script type="text/javascript" src="/js/bootstrap-modal.js"></script>
<script type="text/javascript" src="/js/bootstrap-modalmanager.js"></script>
<link rel="stylesheet" type="text/css" href="/css/bootstrap-modal.css"/>

<script type="text/javascript" src="/js/jquery-ui-1.8.12.custom.min.js"></script>
<link rel="stylesheet" type="text/css" href="/css/jquery-ui-1.8.12.custom.css"/>
<script src="<?php echo HOST ?>js/request/request.js" type="text/javascript"></script>
<script src="<?php echo HOST ?>js/request/request-office.js" type="text/javascript"></script>
<script type="text/javascript" src="/js/sweetalert2.all.min.js"></script>
<script>

    $(document).ready(function () {
        // submit form
        $('#form_submit').submit(function(e) {
            e.preventDefault();
            $.ajax({
                url: '/request-office/save-create-request',
                type: 'post',
                data: new FormData(this),
                dataType: 'json',
                contentType: false,
                cache: false,
                processData: false
            }).done(function(data){
                if(data.status == 1){
                    Swal.fire({
                        type: 'success',
                        title: 'Thành công',
                        showConfirmButton: false,
                        timer: 1000
                    });
                    setTimeout(function () {
                        $(location).attr("href", "/request-office/list-request");
                    },1000)

                }else{
                    Swal.fire({
                        type: 'error',
                         title: 'Tạo đề xuất thất bại !',
                        showConfirmButton: false,
                        timer: 1000
                    });
                }
            });
        });


    });
</script>
