<link rel="stylesheet" type="text/css" href="/css/jquery-ui-1.8.12.custom.css">
<link rel="stylesheet" type="text/css" href="/css/jquery.ui.timepicker.css">
<script type="text/javascript" src="/js/jquery-ui-1.8.12.custom.min.js"></script>
<script type="text/javascript" src="/js/jquery.ui.timepicker.js"></script>
<style>
span.remove
{
    text-decoration: line-through;
}
</style>
<div class="page-header">
	<h1>List Imei Happy Time</h1>
</div>
<div style="margin-bottom: 10px">
<a class="btn btn-primary" href="/happy-time/add">Add Imei Happy Time</a>
</div>

<div class="accordion" id="accordion2">
	<div class="accordion-group">
		<div class="accordion-heading">
			<a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion2" href="#collapseTwo">
				Search
			</a>
		</div>
		<div id="collapseTwo" class="accordion-body collapse">
			<div class="accordion-inner">
				<form class="form-search form-horizontal" method="get" action="">
                    <div class="control-group">
						<label class="control-label">Imei</label>
						<div class="controls">
							<textarea class="search-query" name="imei_sn" rows="7"><?php echo $this->params['imei_sn']; ?></textarea>
						</div>
					</div>
                    <div class="control-group">
						<label class="control-label">Date</label>
						<div class="controls">
							<input type="text" class="date search-query" name="created_at" value="<?php echo $this->params['created_at']; ?>">
						</div>
					</div>
					<div class="control-group">
						<div class="controls">
							<button type="submit" class="btn btn-primary">Search</button>
						</div>
					</div>
				</form>
			</div>
		</div>
	</div>
</div>

<table class="table table-bordered">
    <thead>
        <th>Imei</th>
        <th>Create Date</th>
        <th>Status</th>
        <th>Action</th>
    </thead>
    <tbody>
    <?php
    foreach ($this->data as $key => $value) {
    ?>
        <tr>
            <td>
            <span class="<?php echo empty($value['status'])?'remove':''; ?>">
            <?php 
            echo $value['imei_sn'] 
            ?>
            </span>
            </td>
            <td><?php echo !empty($value['created_at'])?date('d/m/Y', strtotime($value['created_at'])):''; ?></td>
            <td>
                <span class="label label-<?php echo empty($value['status'])?'default':'success'; ?>">Active</span>
            </td>
            <td>
            <?php 
                if(empty($value['status']))
                {
                ?>
                <a class="btn btn-warning" href="happy-time/update?id=<?php echo $value['id'] ?>&status=1">
                    Active
                </a>
                <?php
                }
                else
                {
                ?>
                <a class="btn btn-warning" href="happy-time/update?id=<?php echo $value['id'] ?>&status=0">
                     Remove
                </a>
                <?php
                }
            ?></td>
        </tr>
    <?php
    }
    ?>
    </tbody>
</table>
<div class="paging">
	<?php echo $this->paging($this->total, $this->limit, $this->offset, $this->url) ?>
</div>

<script>
$(".date").datepicker({dateFormat: "dd/mm/yy"});
</script>
