
<style type="text/css">
    .content_tad{padding: 10px;margin-top: -20px;}
    .content_tad table{width: 100%; margin: 20px 0px;}
    .content_tad table th{background: #00BA8B !important; color:#FFF;padding: 5px 0px;border: 1px solid #ffffff !important;    border-bottom: 2px solid #FFF !Important;}
    .content_tad table tr td{border: 1px solid #ffffff !important;}
    .content_tad table tr:nth-child(2n){background: #CEDFD5 !important; color:#000;padding: 5px 0px;}
    .content_tad table tr:nth-child(3n){background: #E8F0EB !important; color:#000;padding: 5px 0px}

    .content_tad table span{font-size: 10px}

    .hr .header_tad{font-size: 18px;color: #008B56;font-weight: bold;height: 45px;line-height: 44px;}
</style>

<div class="page-header" style="margin: 18px 0 -10px 0;border-bottom: none;">
    <h1>List Sales <?php echo (isset($this->rank) and $this->rank) ? $this->rank : null;?> Star
        <?php if(isset($this->areas[$this->params['area_id']]) and $this->areas[$this->params['area_id']]):?>
            <?php echo $this->areas[$this->params['area_id']];?>
        <?php endif;?>
    </h1>
</div>

<div class="accordion" id="accordion2">
    <div class="accordion-group">
        <div class="accordion-heading">
            <a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion2" href="#collapseTwo">
                Search
            </a>
        </div>
        <div id="collapseTwo" class="accordion-body collapse" style="height: 0px;">
            <div class="accordion-inner">

                <form class="form-search form-horizontal" method="get" action="<?=HOST?>bi\rank-star-sales">
                    <div class="row">
                        <div class="span5">
                            <div class="control-group">
                                <label for="name" class="span2">Name</label>
                                <input id="name" name="name" type="text" class="input-medium search-query form-control" value="<?php isset($this->params['name']) and printf($this->params['name']);?>">
                            </div>

                            <div class="control-group">
                                <label for="code" class="span2">Staff code</label>
                                <input id="code" name="code" type="text" class="input-large search-query form-control" value="<?php isset($this->params['code']) and printf($this->params['code']);?>">
                            </div>

                            <div class="control-group">
                                <label for="email" class="span2">Star</label>
                                <select name="rank" class="form-control">
                                    <option value="">--Select--</option>
                                    <option value="0" <?php echo (!empty($this->params['rank']) AND $this->params['rank'] == 0) ? "selected" : NULL; ?>>0 Star</option>
                                    <option value="1" <?php echo (!empty($this->params['rank']) AND $this->params['rank'] == 1) ? "selected" : NULL; ?>>1 Star</option>
                                    <option value="2" <?php echo (!empty($this->params['rank']) AND $this->params['rank'] == 2) ? "selected" : NULL; ?>>2 Star</option>
                                    <option value="3" <?php echo (!empty($this->params['rank']) AND $this->params['rank'] == 3) ? "selected" : NULL; ?>>3 Star</option>
                                </select>
                            </div>

                            <div class="control-group">
                                <label for="email" class="span2">Area</label>
                                <select name="area_id" class="form-control">
                                    <option value="">--Select--</option>
                                    <?php foreach($this->areas as $key=>$value):?>
                                        <option value="<?php echo $key;?>" <?php echo (!empty($this->params['area_id']) AND $this->params['area_id'] == $key) ? "selected" : NULL; ?>><?php echo $value;?></option>
                                    <?php endforeach;?>
                                </select>
                            </div>
                        </div>

                    </div>

                    <button type="submit" class="btn btn-primary">Search</button>
                    <a href="/bi/rank-star-sales?export=1" class="btn btn-warning">Export</a>
                </form>
                <style>
                    .birth{width:12%}
                </style>

                <script type="text/javascript" src="/js/jquery-ui-1.8.12.custom.min.js"></script>
                <link rel="stylesheet" type="text/css" href="/css/jquery-ui-1.8.12.custom.css"/>
                <script src="../js/tag-it.min.js" type="text/javascript" charset="utf-8"></script>
                <link href="../css/jquery.tagit.css" rel="stylesheet" type="text/css">
                <link href="../css/tagit.ui-zendesk.css" rel="stylesheet" type="text/css">




            </div>
        </div>
    </div>
</div>

<div class="main hr">
    <div class="container-fluid">

        <div class="row">
            <div class="table_main" style="height:auto">
                <div class="header_tad"><i class="icon-list-alt"></i> List Sales Star</div>


                <div class="content_tad">
                    <div id = 'turnover_pass_probation1'>

                        <!-- ------------------------------------------>

                        <style>
                            .modal table tr td.span1{
                                min-width: 100px!important;
                            }
                        </style>
                        <table class="table table-bordered">
                            <thead>
                            <tr>
                                <?php echo $this->sorting(array(
                                    '#',
                                    'Area',
                                    'Staff Code',
                                    'Staff',
                                    'Title',
                                    'Star',
//                                    'Action',
                                ),
                                    $this->url, $this->sort, $this->desc); ?>
                            </tr>
                            </thead>
                            <tbody>
                            <?php
                            if (!isset($this->StaffScores) and $this->StaffScores)
                                $dem = 0;
                            foreach ($this->StaffScores as $vl): ?>
                                <tr>
                                    <td>
                                        <?php
                                        $dem = $dem + 1;
                                        $inc = $this->offset + $dem;
                                        echo $inc;
                                        ?>
                                    </td>
                                    <td> <?php echo $this->regional_mk[$vl['regional_market']];?></td>
                                    <td> <?php echo $vl['staff_code'];?></td>
                                    <td>
                                        <a title="View" href="<?php echo HOST;?>bi/sale-details?id=<?php echo $vl['staff_id'];?>"><?php echo $vl['firstname'].' '.$vl['lastname'];?></a>
                                    </td>
                                    <td> <?php echo $this->team[$vl['title']];?></td>
                                    <td> <?php for($i = 1; $i<= $vl['star']; $i++): ?>
                                            <i class="icon-star" style="color: yellowgreen;"></i>
                                        <?php endfor;?>
                                    </td>

                                </tr>
                            <?php endforeach;?>

                            </tbody>
                        </table>
                        <div class="paging">
                            <?php echo $this->paging($this->total, $this->limit, $this->offset, $this->url);?>
                        </div>

                        <!--- ---------------------------------------->

                    </div>

                </div>
            </div>

        </div><!-- row-->

    </div>
</div>

