<style>
.total_scores{
    font-size: 10px;
    margin-left: 250px;
    color:#4F8B56;
}
.process{
    margin-bottom: 10px;
}
.title_pg{
    margin-top: 20px;
}
.tichdiem_header{
    margin: 15px 0 12px 0;
}
.title_pg span{
    margin: 10px 0 1px 0;
}

.page-header h1{font-weight: bold;font-size: 22px;}
.view_chitiet{font-weight: normal;}
.table{background: #FFF;}
.page-header{margin: 20px 0px 5px 1px;}
.job_content{display: block;float: left;width: 546px;height: 200px;overflow-y: scroll;overflow-x: hidden;}
.tichdiem_header span{font-size: 17px; color:#4F8B56;text-align: center;display: block;padding: 0px 0px;font-weight: bold;margin-top: 15px}
.tichdiem_header span:nth-child(2){margin-bottom: 10px;font-weight: initial;margin-top: 0px}

.progress .progress-bar2{float: right;background: red !important;}
.progress2{margin-top: 0px !important;background: none;}


.content_noti{display: block;}
.content_noti b{font-size: 18px}

.left_noti{display: block;float: left;width: 30%;}
.right_noti{text-align: center;display: block;width: 70%;float: left;}
.right_noti .content_right{padding: 20px;background: url('/img/big-yellow-star.gif') no-repeat right;}
.right_noti .content_right p{font-size: 16px}
.left_noti img{width:100%;}
.right_noti .top_right img{width:100px;margin-bottom: -20px;}
.fighting{color:#008B56;font-size: 25px;font-weight: bold;}
.fire{display: block;width: 80%;min-height: 80%;background: url('/img/giphy.gif') no-repeat;position: absolute;z-index: 0;}

.box_star{
    display: block;
    position: relative;
}

.star_bg{
    position: absolute;
    top:0px;
}

.star{
    display: block;
    width: 100%;
    height: 40px;
}
.icon_star {
    display: block;
    width: 45px;
    height: 45px;
    background: url('/img/star2_.png') no-repeat;
    background-size: 45px 45px;
    float: left;
    margin-right: 3px;
}

.icon_star2 {
    display: block;
    width: 45px;
    height: 45px;
    background: url('/img/star_.png') no-repeat;
    background-size: 45px 45px;
    float: left;
    margin-right: 3px;
}


@media screen and (max-width: 480px){
    .left_noti{width: 100%;}
    .left_noti img {width: 50%;}
    .right_noti{width: 100%}
    .right_noti .content_right{background: url('/img/big-yellow-star2.gif') no-repeat;background-size: 100px;background-position: 0px 170px;}
    .right_noti .top_right{display: none}
    .modal-body{max-height: 600px}
}

</style>

<div class="page-header">
    <h1><?php echo isset($this->staff['title']) ? $this->title[$this->staff['title']] : '-' ; ?></h1>
</div>
<div class="container-fluid">
    <legend>
        <?php if (isset($this->staff['firstname'])) echo $this->staff['firstname'] ?> <?php if (isset($this->staff['lastname'])) echo $this->staff['lastname'] ?>
        -
        <small>
            <?php $info = array(); ?>
            <?php if (isset($this->staff['code'])) $info[] = $this->staff['code'] ?>
            <?php if (isset($this->staff['gender']) && $this->staff['gender']) $info[] = "Male"; else $info[] = "Female"; ?>
            <?php if (isset($this->staff['email'])) $info[] = $this->staff['email'] ?>
            <?php echo implode(' - ', $info) ?>
        </small>

        <?php
            $stt = '';
            switch ($this->staff['status']) {
                case My_Staff_Status::On:
                    $stt = 'success';
                    break;
                case My_Staff_Status::Off:
                    $stt = 'important';
                    break;
                case My_Staff_Status::Temporary_Off:
                    $stt = 'warning';
                    break;
                default:
                    $stt = 'default';
                    break;
            }
        ?>
        <span class="label label-<?php echo $stt ?>"><?php echo My_Staff_Status::get($this->staff['status']) ?></span>
    </legend>
</div>

<div class="container-fluid">

    <div class="row info">
        <div class="info_details">

            <div class="header_details">Info<i></i></div>
            <div class="content_details">
                <div class="in">

                    <div class='tichdiem_header' style="height: auto;">

                        <div class="name">
                            <?php if (isset($this->staff['firstname'])) echo $this->staff['firstname'] ?> <?php if (isset($this->staff['lastname'])) echo $this->staff['lastname'] ?>
                        </div>
                        
                        
                        <div class="box_star">
                            <div class="star">
                                <i class="icon_star"></i>
                                <i class="icon_star"></i>
                                <i class="icon_star"></i>
                            </div>
                            <div class="star star_bg">
                            <?php $count_star = $this->rank_star['star'] ? $this->rank_star['star'] : 0;?>
                            <?php for($i = 1; $i<= $count_star; $i++): ?>
                                <i class="icon_star2"></i>
                            <?php endfor;?>
                            </div>
                        </div>    
                       
                    </div>

                    <span><div class="fi">Mã nhân viên:</div> <?php echo $this->staff['code'];?></span>
                    <span><div class="fi">Ngày sinh:</div> <?php echo $this->staff['dob'];?></span>
                    <span><div class="fi">Số điện thoại:</div> <?php echo $this->staff['phone_number'];?></span>
                    <span><div class="fi">Email:</div> <?php echo $this->staff['email'];?></span>
                    <span><div class="fi">Ngày vào làm:</div> <?php echo date('d-m-Y', strtotime($this->staff['joined_at']));?></span>
                    <span><div class="fi">Ghi chú:</div> <?php echo $this->staff['note'];?></span>
                </div>
                <div class="img">
                   
                     <img class="staff-photo" src="<?php if(isset($this->staff) and !empty($this->staff['photo'])) printf('http://center.opposhop.vn/photo/staff/'.$this->staff['id'].'/'.$this->staff['photo']);  ?>" />
                </div>

            </div>

        </div>
        
        <div class="job_details">
            <div class="job_content">
                <!-- The Timeline -->
                <ul class="timeline">
                
                
                    <?php
                    $db = Zend_Registry::get('db');
                    $intSTT = 0;
                    if( isset($this->resultStaffTransfer) AND $this->resultStaffTransfer){
                        foreach($this->resultStaffTransfer as $item):
                            $arrInfo        = explode(',',$item['info_types']);
                            $arrValue       = explode(',',$item['current_values']);
                            $arrInfoValue   = array_combine($arrInfo,$arrValue);
                            $intSTT++;
                            ?>
                            <li>
                        		<div class="<?php echo (($intSTT % 2) == 1) ? 'direction-l' : 'direction-r';?>">
                        			<div class="flag-wrapper">
                        				<span class="flag">
                                            <?php
                                            if( isset($arrInfoValue[My_Staff_Info_Type::Title]) AND $arrInfoValue[My_Staff_Info_Type::Title])
                                                //echo $arrInfoValue[My_Staff_Info_Type::Title];
                                                $selectTitle = $db->select()
                                                        ->from('team',array('name'))
                                                        ->where('id = ?',$arrInfoValue[My_Staff_Info_Type::Title]);
                                                echo $db->fetchOne($selectTitle);        
                                            ?>
                                        </span>
                        				<span class="time-wrapper"><span class="time"><?php echo date('d/m/Y',strtotime($item['from_date']))?></span></span>
                        			</div>
                        			<div class="desc">Khu vực: 
                                    <?php
                                    if(isset($arrInfoValue[My_Staff_Info_Type::Area]) AND $arrInfoValue[My_Staff_Info_Type::Area]){
                                        $selectArea = $db->select()
                                            ->from('area',array('name'))
                                            ->where('id = ?',$arrInfoValue[My_Staff_Info_Type::Area]);
                                        echo $db->fetchOne($selectArea);
                                    }
                                    ?>, Tỉnh: 
                                    <?php
                                    if($arrInfoValue[My_Staff_Info_Type::Region]){
                                        $selectProvince = $db->select()
                                            ->from('regional_market',array('name'))
                                            ->where('id = ?',$arrInfoValue[My_Staff_Info_Type::Region]);
                                        echo $db->fetchOne($selectProvince);
                                    }
                
                                    ?>.</div>
                        		</div>
                        	</li>
                        <?php
                        endforeach;
                    }else{
                    ?>
                    <li>
                        <div class="direction-l">
                            <div class="flag-wrapper">
                                <span class="flag"><?php echo isset($this->staff['title']) ? $this->title[$this->staff['title']] : '-' ; ?></span>
                                <span class="time-wrapper"><span class="time"></span></span>
                            </div>
                            <div class="desc">Khu vực: <?php echo $this->area[$this->staff['area_id']];?></div>
                        </div>
                    </li>
                    <?php
                    }
                    ?>
                </ul>
                <!-- END The Timeline -->
            </div>
        </div>

    </div><!-- row-->
    

    <div class="container-fluid">   
    <!--chart-->
    <div class="row">
    
        <!-- sellout -->
        <div class="span6">
            <div class="table_main">
                <div class="header_tad"><i class="icon-list-alt"></i> OPPO</div>
                <div class="content_tad">
                    <div class="menu_sale">
                    
                    </div>
                    
                    <div class="menu_type_char">
                       <span class="menu_btn"><i class="icon-tasks"></i></span>
                       <ul>
                            <li char='container'>Sell out 3 tháng gần nhất</li>
                            <li char='doanhthu'>Doanh thu 3 tháng gần nhất</li>
                            
                            <?php if($_GET['abc'] == 1):?>
                            <li char='container_realme'>SELLOUT REALME 3 THÁNG GẦN NHẤT</li>
                            <?php endif;?>
                            
                            <li char='sellout_sp'>Sell out Sản phẩm chính</li>
                            <li char='sellout_sp_value'>Doanh thu Sản phẩm chính</li>
                            <li char='sellout_ka_ia'>Sell out IA/KA</li>
                            <li char='doanhthu_ka_ia'>Doanh thu IA/KA</li>
                            <li class='soban_theongay'>Số bán theo ngày</li>
                       </ul>
                    </div>
                    
                    <div id="container" style="width: 100%;height: auto; margin: 0 auto;"></div>
                    <div id="doanhthu" style="width: 100%;height: auto; margin: 0 auto;"></div>
                    
                    <?php if($_GET['abc'] == 1):?>
                    <div id="container_realme" style="width: 100%;height: auto; margin: 0 auto;"></div>
                    <?php endif;?>
                    
                    <div id="sellout_sp" style="width: 100%;height: auto; margin: 0 auto;"></div>
                    <div id="sellout_sp_value" style="width: 100%;height: auto; margin: 0 auto;"></div>
                    <div id="sellout_ka_ia" style="width: 100%;height: auto; margin: 0 auto;"></div>
                    <div id="doanhthu_ka_ia" style="width: 100%;height: auto; margin: 0 auto;"></div>
                    <div id="container_temp" style="width: auto;height: auto; margin: 0 auto;opacity: 0.0;height: 1px"></div>
                </div>
            </div>
        </div><!--- span6-->
        <!-- end sellout-->
        
        <!-- sellout -->
        <div class="span6" style="display:none">
            <div class="table_main">
                <div class="header_tad"><i class="icon-list-alt"></i> REALME</div>
                <div class="content_tad">
                    <div class="menu_sale">
                    </div>
                    <div id="container_realme" style="width: 100%;height: auto; margin: 0 auto;"></div>
                </div>
            </div>
        </div><!--- span6-->
        <!-- end sellout-->
 
        <!-- trade TỔNG ĐẦU TƯ -->
        <div class="span6">
            <div class="table_main">
                <div class="header_tad"><i class="icon-list-alt"></i> DANH SÁCH PG QUẢN LÝ</div>
                <div class="content_tad">
                    
                    <div class="content_content" style="min-height: 242px;">
                        <table style="width: 100%;">
                            <tr>
                                <th>#</th>
                                <th>Họ và tên</th>
                                <th>Sđt</th>
                                <th>Email</th>
                            </tr>
                            <?php $stt = 0;?>
                            <?php if(isset($this->staff_pg) and $this->staff_pg):?>
                            <?php foreach($this->staff_pg as $key=>$value):?>
                            <tr>
                                <td><?php $stt++; echo $stt;?></td>
                                <td><a href="<?php echo HOST;?>bi/pg-details?id=<?php echo $value['staff_id'];?>"><?php echo $value['fullname'];?></a></td>
                                <td><?php echo $value['phone_number'];?></td>
                                <td><?php echo $value['email'];?></td>
                            </tr>
                            <?php endforeach;?>
                            <?php endif;?>
                        </table>
                        
                      
                    </div><!-- content-content-->
                    
                </div>
            </div>
        </div><!-- span 6-->
    </div>
    
    <div class="row">
        <div class="span6">
            <div class="table_main2">
                <div class="header_tad" style="font-weight: bold;text-align: center;color: green"> DANH SÁCH SHOP <b style="color:red">(+)</b></div>
                <div class="content_tad">
                    
                    <div class="content_content" style="min-height: 242px;">
                        <table style="width: 100%;">
                            <tr>
                                <th>#</th>
                                <th>Tên shop</th>
                                <th>OPPO Store Share</th>
                                <th>Sellout (T.<?php echo date('m');?>)</th>
                                <th>S.O Hero (T.<?php echo date('m');?>)</th>
                            </tr>
                            <?php foreach($this->list_store as $key=>$value):?>
                            <?php if($value['level_type'] == 1):?>
                            <tr>
                                <td><?php echo $value['level_name'];?></td>
                                <td style="text-align: left"><a href="<?php echo HOST;?>bi/store-details?id=<?php echo $value['store_id'];?>"><?php echo $value['name'];?></a></td>
                                <td><?php echo number_format($value['share'] * 100);?>%</td>
                                <td><?php echo $value['num'] ? $value['num'] : 0;?></td>
                                <td><?php echo $value['num_hero'];?></td>
                            </tr>
                            <?php endif;?>
                            <?php endforeach;?>
                            
                        </table>
                        
                      
                    </div><!-- content-content-->
                    
                </div>
            </div>
        </div><!-- span6-->
        
        <div class="span6">
            <div class="table_main2">
                <div class="header_tad" style="font-weight: bold;text-align: center;color: green"> DANH SÁCH SHOP <b style="color:red">(-)</b></div>
                <div class="content_tad">
                    
                    <div class="content_content" style="min-height: 242px;">
                        <table style="width: 100%;">
                            <tr>
                                <th>#</th>
                                <th>Tên shop</th>
                                <th>OPPO Store Share</th>
                                <th>Sellout (T.<?php echo date('m');?>)</th>
                                <th>S.O Hero (T.<?php echo date('m');?>)</th>
                            </tr>
                            <?php foreach($this->list_store as $key=>$value):?>
                            <?php if($value['level_type'] == 2):?>
                            <tr>
                                <td><?php echo $value['level_name'];?></td>
                                <td style="text-align: left"><a href="<?php echo HOST;?>bi/store-details?id=<?php echo $value['store_id'];?>"><?php echo $value['name'];?></a></td>
                                <td><?php echo number_format($value['share'] * 100);?>%</td>
                                <td><?php echo $value['num'] ? $value['num'] : 0;?></td>
                                <td><?php echo $value['num_hero'];?></td>
                            </tr>
                            <?php endif;?>
                            <?php endforeach;?>
                            
                        </table>
                        
                      
                    </div><!-- content-content-->
                    
                </div>
            </div>
        </div><!-- span6-->
        
    </div><!-- row-->
    
    <div class="row">
        <div class="span6">
            <div class="table_main2">
                <div class="header_tad"><i class="icon-list-alt"></i> DANH SÁCH SHOP</div>
                <div class="content_tad">
                    
                    <div class="content_content" style="min-height: 242px;">
                        <table class="paginated" style="width: 100%;">
                            <tr>
                                <th>#</th>
                                <th>Tên shop</th>
                                <th>Sellout</th>
                                <th>Level</th>
                            </tr>
                            <?php $stt = 0;?>
                            <?php if(isset($this->list_store) and $this->list_store):?>
                            <?php foreach($this->list_store as $key=>$value):?>
                            <tr>
                                <?php $stt++;?>
                                <td><?php echo $stt;?></td>
                                <td><a href="<?php echo HOST;?>bi/store-details?id=<?php echo $value['store_id'];?>"><?php echo $value['name'];?></a></td>
                                <td><?php echo isset($value['num']) ? $value['num'] : 0;?></td>
                                <td><?php echo isset($value['level']) ? $value['level'] : 'NORMAL';?></td>
                            </tr>
                            <?php endforeach;?>
                            <?php endif;?>
                        </table>
                        
                      
                    </div><!-- content-content-->
                    
                </div>
            </div>
        </div><!-- span6-->
        
        <div class="span6">
            <div class="table_main2">
                <div class="header_tad"><i class="icon-list-alt"></i> KẾT QUẢ TEST ONLINE</div>
                <div class="content_tad">
                    
                    <div class="content_content" style="min-height: 242px;">
                        <table class="paginated" style="width: 100%;">
                            <tr>
                                <th>#</th>
                                <th>Khóa học</th>
                                <th>Điểm trung bình</th>
                                <th>Kết quả</th>
                            </tr>
                            <?php $stt = 0;?>
                            <?php if(isset($this->list_lesson) and $this->list_lesson):?>
                            <?php foreach($this->list_lesson as $key=>$value):?>
                            <tr>
                                <?php $stt++;?>
                                <td><?php echo $stt;?></td>
                                <td><?php echo $value['title'];?></td>
                                <td><?php echo number_format($value['dtb'],2,'.',',');?></td>
                                <td><?php echo $value['ketqua'];?></td>
                            </tr>
                            <?php endforeach;?>
                            <?php endif;?>
                        </table>
                        
                      
                    </div><!-- content-content-->
                    
                </div>
            </div>
        </div><!-- span6-->
        
    </div><!-- row-->
    
    <?php $userStorage = Zend_Auth::getInstance()->getStorage()->read();?>
    <?php if(($this->staff['id'] == $userStorage->id) OR $userStorage->group_id == ADMINISTRATOR_ID):?>
    
    <?php if($this->staff['title'] == 403): ?>
    <div class="span6">
            <div class="table_main">
                <div class="header_tad"><i class="icon-list-alt"></i> KPI in This month </div>
                <div class="content_tad">
                    <div class="menu_sale">
                        
                    </div>
                    <div class="table-responsive">
	
		<table style="width: 100%;">
		<thead>
                    <tr>
                        <th>#</th>
                        <th>Product</th>
                        <th>Sellout</th>
                        <th>KPI</th>
                        <th>Total</th>
                        <th>From date</th>
                        <th>To date</th>
                    </tr>
		</thead>

		<tbody>
                    <?php $number_total = 0;?>
                    <?php $kpi_total = 0;?>
                    <?php foreach($this->data_kpi as $key => $value):?>
                    <?php $number_total = $number_total+$value['number'];?>
                    <?php $kpi_total = $kpi_total+$value['total'];?>
                    <tr>
                        <td><?php echo $key;?></td>
                        <td><?php echo $value['good_name'];?></td>
                        <td><?php echo $value['number'];?></td>
                        <td><?php echo number_format($value['kpi']);?></td>
                        <td><?php echo number_format($value['total']);?></td>
                        <td><?php echo $value['min_date'];?></td>
                        <td><?php echo $value['max_date'];?></td>
                    </tr>
                    <?php endforeach;?>
		<tr>
                    <td colspan="3" style="font-size:16px;text-align:right;font-weight:bold">Total sell out: <?php echo number_format($number_total);?></td>
                    <td colspan="4" style="font-size:16px;text-align:right;font-weight:bold">Total KPI: <?php echo number_format($kpi_total);?></tr>
		</tbody>
	</table>
	
	
	</div>

        </div>
        </div><!-- table_main-->
    </div>
    <?php endif;?>

    <?php if(count($this->appraisal_data) > 0) { ?>
        <div class="row-fluid">
            <div class='table_main2'>
                <div class="header_tad"><h2>ĐÁNH GIÁ NĂNG LỰC</h2></div>
                <div class="content_tad">
                    <?php if($this->appraisal_data == 308) { ?>
                        <iframe src="<?php echo HOST; ?>appraisal-sale/view-rsm?view_report=1" scrolling="no" frameBorder="0" style="width: 100%; height: 100px;" onload="resizeIframe(this)"></iframe>
                    <?php } ?>

                    <?php if($this->appraisal_data == 179) { ?>
                        <iframe src="<?php echo HOST; ?>appraisal-sale/view-asm?view_report=1" scrolling="no" frameBorder="0" style="width: 100%; height: 100px;" onload="resizeIframe(this)"></iframe>
                    <?php } ?>

                    <?php if($this->appraisal_data == 190) { ?>
                        <iframe src="<?php echo HOST; ?>appraisal-sale/view-sale-leader?view_report=1" scrolling="no" frameBorder="0" style="width: 100%; height: 100px;" onload="resizeIframe(this)"></iframe>
                    <?php } ?>

                    <?php if($this->appraisal_data == 183) { ?>

                        <iframe src="<?php echo HOST; ?>appraisal-sale/view-sale?view_report=1" scrolling="no" frameBorder="0" style="width: 100%; height: 100px;" onload="resizeIframe(this)"></iframe>
                    <?php } ?>
                </div>
            </div>
        </div>
    <?php } ?>

    <?php if(isset($this->staff['team']) and $this->staff['team'] == SALES_TEAM): ?>
    <div class="row">
        <div class="span6">
            <div class="table_main">
                <div class="header_tad"><i class="icon-list-alt"></i> Time</div>
                <div class="content_tad">
                    <div id="calendar"></div>
                </div>
            </div><!-- table_main-->
        </div><!-- span6-->

        <div class="span6">
            <div class="table_main">
                <div class="header_tad"><i class="icon-list-alt"></i> KPI in This month </div>
                <div class="content_tad">
                    <div class="menu_sale">
                        <a href="<?php echo HOST ?>timing/kpi-overview" rel="tooltip" title="Xem chi tiết"><div class="row_tad">Chi tiết</div></a>
                    </div>
                    <?php
                        echo $this->render('bi/partials/widget/kpi.phtml', array('staff' => $this->staff));
                    ?>
                </div>
            </div><!-- table_main-->
        </div><!-- span6-->

        <div class="span6">
            <div class="widget widget-nopad">
                <div class="widget-header"  data-toggle="collapse" data-target="#imei"> <i class="icon-signal"></i>
                  <h3> List Imei Deleted <i class="icon-ok-sign" rel="tooltip" title="Danh sách các IMEI bị xoá khỏi hệ thống vì quá 3 ngày chưa active.  Vui lòng kiểm tra tình trạng active để báo cáo lại." class="tooltip"></i></h3>
                </div>
                <!-- /widget-header -->
                <div class="widget-content collapse in" id="imei" >
                  <div class="widget big-stats-container">
                    <div class="widget-content">
                        <?php echo $this->render('bi/partials/widget/imei.phtml', array('staff' => $this->staff));?>
                    </div>
                    <!-- /widget-content --> 
                  </div>
                </div>
              </div>
              <!-- /widget -->     
       </div><!-- span6-->  
        
        <div class="span6">
             <div class="widget widget-nopad " data-toggle="collapse" data-target="#new">
                  <div class="widget-header "> <i class="icon-list-alt"></i>
                    <h3>FAQ <i class="icon-ok-sign" rel="tooltip" title="Câu hỏi thường gặp và những mẫu hợp đồng" class="tooltip"></i></h3>
                  </div>
                  <!-- /widget-header -->
                  <div class="widget-content collapse in" id="new">
                    <ul class="news-items">
                    
                     <?php
                      if (isset($this->informs) and $this->informs):
                            foreach ($this->informs as $k => $inform):
                          
                             $maxlenght = 50;
                             $newstr = mb_strimwidth($inform['content'], 0, $maxlenght, "..");
                                   
                      ?>
                      <li>                 
                        <div class="news-item-date"> <span class="news-item-day"><?php echo date('d' , strtotime($inform['created_at'])) ?></span> <span class="news-item-month"><?php echo date('F' , strtotime($inform['created_at'])); ?></span> </div>
                        <div class="news-item-detail"> <a href="<?php echo HOST. 'manage/inform-view?id='. $inform['id'] ?>" class="news-item-title" target="_blank"><?php echo $inform['title'] ?></a>
                          <p class="news-item-preview"> <?php echo My_String::excerpt($inform['content'], 100) ?> </p>
                        </div>                  
                      </li>
                      
                       <?php endforeach;endif; ?>
                    </ul>
                  </div>
                  <!-- /widget-content --> 
                </div> 
        </div><!-- span6-->

    </div><!-- row-->
    <?php endif; ?>
    
    <?php endif;?><!-- admintrator + chinhs minh moi dc coi dasshbord-->

    <!-- end chart-->
    </div>
    
</div>

<div class="soban_hangngay">
    <div class='close_soban'><i class="icon-remove"></i></div>
    <div id="soban_hang_ngay" style="width: auto;height: auto; margin: 0 auto;"></div>
</div>


<?php if($this->notification_area):?>
<?php foreach($this->notification_area as $key=>$value):?>
<!-- Modal -->
<div id="modal_<?php echo $value['staff_id'];?>" class="modal" role="dialog">
  <div class="modal-dialog">

    <!-- Modal content-->
    <div class="modal-content">
      
      <div class="modal-body">

        <div class="fire">
        </div>

        <div class="content_noti">
            <div class="left_noti">
                <img src="http://center.opposhop.vn/photo/staff/<?php echo $value['staff_id'];?>/<?php echo $value['photo'];?>">
            </div>

            <div class="right_noti">
                
                <div class="top_right">
                    <img src="/img/big-yellow-star2.gif">
                </div>
                
                <?php if($value['staff_id'] <> $userStorage->id):?>
                <div class="content_right">
                    <p>Bạn <b style="color:#008B56"><?php echo $value['firstname'].' '.$value['lastname'];?></b> đã đạt mốc <b style="color:red"><?php echo $value['result'];?> Sao</b>.</p>
                    <p>Mọi người hãy cùng chúc mừng bạn nhé!</p><br>
                    <p class="fighting">OPPO Fighting!!!</p>
                </div>
                <?php else:?>
                <div class="content_right">
                    <p>Chúc mừng bạn đã đạt mốc <b style="color:#008B56"><?php echo $this->StaffScoresView[0]['result'];?> Sao</b>.</p>
                    <p>Số điểm hiện tại của bạn là <b style="color:red"><?php echo number_format($this->StaffScoresView[0]['total'],0,",",".");?></b> điểm.</p>
                    <p>Chỉ còn <b style="color:red"><?php echo number_format($right_score); ?></b> điểm nữa Bạn sẽ đạt</p>
                    <p>mốc tiếp theo.</p><br>
                    <p class="fighting">OPPO Fighting!!!</p>
                </div>
                <?php endif;?>

            </div>
        </div><!-- end content_noti -->

      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default btn-success close_notification" star='<?php echo $value['result'];?>' staff_id='<?php echo $value['staff_id'];?>' date='<?php echo $value['date'];?>' data-dismiss="modal">Đóng</button>
      </div>
    </div>

  </div>
</div>
<!-- END Modal -->
<?php endforeach;?>

<audio autoplay id="myAudio">
  <!--<source src="horse.ogg" type="audio/ogg">-->
  <source src="/img/NhacTinNhanNhacChuong-DJBo-2705022.mp3" type="audio/mpeg">
</audio>

<?php endif;?>

<script>

$(document).ready(function(){

    $('#modal_month').modal('show');

    <?php if($this->notification_area):?>
    <?php foreach($this->notification_area as $key=>$value):?>
    $('#modal_<?php echo $value['staff_id'];?>').modal('show'); 
    <?php endforeach;?>
    <?php endif;?>

    <?php if(isset($this->staff['team']) and $this->staff['team'] == SALES_TEAM): ?>
     $('#calendar').fullCalendar({
        header: {
            left: '',
            center: 'title',
            right: 'month'
        },
        selectable: true,
        selectHelper: true,
        events: "/bi/event-time?id=<?php echo $this->staff['id'];?>"
    });
    <?php endif; ?>

    $("[rel=tooltip]").tooltip({ placement: 'top'});
    $(".collapse").collapse();
   
    if(isMobile() == false) {
        $(".collapse").collapse('show');
    }
   
    $("#inform").collapse('show');

    $('.close_notification').on('click',function(){
        star        = $(this).attr('star');
        staff_id    = $(this).attr('staff_id');
        date        = $(this).attr('date');
        month       = $(this).attr('month');

        $.ajax({
              url: "<?php echo HOST;?>bi/notification-pg",
              type: "GET",
              dataType: "text",
              context: this,
              data: "staff_id="+staff_id+"&star="+star+"&date="+date+"&month="+month,
              beforeSend: function() {
                    $(".loading").show();                   
                },
              success: function(result){

                    if(result == 'success'){
                        console.log('notification-pg:success');
                    }
                    else{
                        console.log('notification-pg:false');
                    }
                                              
              },
              error:function(){
                  alert("Error Ajax");
              }
        });

        pauseAudio();
    });
});

function isMobile() {

    if(navigator.userAgent.match(/Android/i) || navigator.userAgent.match(/BlackBerry/i) || navigator.userAgent.match(/iPhone|iPad|iPod/i) || navigator.userAgent.match(/IEMobile/i))
            return true;
        return false;
}

var audio = document.getElementById("myAudio"); 

function playAudio() { 
    audio.play(); 
} 

function pauseAudio() { 
    audio.pause(); 
}

</script>
<!-- END Dashboard -->


<script language="javascript" type="text/javascript" src="/js/full-calendar/fullcalendar.min.js"></script>
<script>

$(document).ready(function(){
    <?php if(isset($this->staff['team']) and $this->staff['team'] == SALES_TEAM): ?>
     $('#calendar').fullCalendar({
        header: {
            left: '',
            center: 'title',
            right: 'month'
        },
        selectable: true,
        selectHelper: true,
        events: "/bi/event-time?id=<?php echo $this->staff['id'];?>"
    });
    <?php endif; ?>

    $("[rel=tooltip]").tooltip({ placement: 'top'});
    $(".collapse").collapse();
   
    if(isMobile() == false) {
        $(".collapse").collapse('show');
    }
   
$("#inform").collapse('show');
});

function isMobile() {

    if(navigator.userAgent.match(/Android/i) || navigator.userAgent.match(/BlackBerry/i) || navigator.userAgent.match(/iPhone|iPad|iPod/i) || navigator.userAgent.match(/IEMobile/i))
            return true;
        return false;
}
</script>




<script>    
$(function () {
    
    $('#container_temp').highcharts({
        chart: {
            type: 'column',
            marginLeft: 10,
            marginRight: 10
        },
        xAxis: {
            categories: [
            <?php foreach ($this->list_date as $key => $value) {
                echo "'Tháng ".intval(date('m', strtotime($value)))."',";
            } ?>
            ]
        },
        yAxis: {
            min: 0,
            title: {
                text: 'Chiếc',
                "textAlign": 'right',
                "rotation": 0,
                x: 35,
                y: -170
            },
            stackLabels: {
                enabled: true,
                style: {
                    fontWeight: 'bold',
                    color: (Highcharts.theme && Highcharts.theme.textColor) || '#000',
                    fontSize: '10px'
                },
            }
        },
        series: [{
            name: 'TGDĐ',
            yAxis: 0,
            data: [
            94583,133139,0,0,                ],
            stack: 'male'
        }]
    });


    
    $a = $('g.highcharts-series-0').get(0).getBBox().width;
    var width_chart = -(($a/3)-7);
    
    Highcharts.setOptions({
        lang: {
            decimalPoint: ',',
            thousandsSep: '.'
        }
    });

    $('#container').highcharts({
        chart: {
            type: 'column',
            marginLeft: 10,
            marginRight: 10
        },
        title: {
            text: 'Sell out 3 tháng gần nhất',
            style:{
                color: '#008B56',
                fontSize: '16px'
            }
        },
        xAxis: {
            categories: [
            <?php foreach ($this->list_date as $key => $value) {
                echo "'Tháng ".intval(date('m', strtotime($value)))."',";
            } ?>
            ]
        },
        yAxis: {
            min: 0,
            title: {
                text: '',
                "textAlign": 'right',
                "rotation": 0,
                x: 35,
                y: -170
            },
            stackLabels: {
                enabled: true,
                style: {
                    fontWeight: 'bold',
                    color: (Highcharts.theme && Highcharts.theme.textColor) || '#000',
                    fontSize: '10px'
                },
            }
        },
        legend: {
            align: 'center',
            x: -30,
            verticalAlign: 'bottom',
            y: 20,
            floating: true,
            backgroundColor: (Highcharts.theme && Highcharts.theme.background2) || 'white',
            borderColor: 'none',
            borderWidth: 1,
            shadow: false
        },
        tooltip: {
            headerFormat: '<b>{point.x}</b><br/>',
            pointFormat: '{series.name}: <b>{point.y}</b> ({point.percentage:.2f}%)<br/>'
        },
        plotOptions: {
            column: {
                stacking: 'normal',
                dataLabels: {
                    enabled: true,
                    color: (Highcharts.theme && Highcharts.theme.dataLabelsColor) || 'white',
                    style: {
                        textShadow: '0 0 1px black',
                        fontSize: '10px'
                    },
                }
            },
            line: {
                dataLabels: {
                    enabled: true,
                    backgroundColor: 'white',
                    borderColor: "#f9bebe",
                    borderWidth: 1,
                    padding: 2,
                    color: (Highcharts.theme && Highcharts.theme.dataLabelsColor) || 'red',
                    style: {
                        fontSize: '9px'
                    },
                }
            }
        },
        exporting: {
            buttons: [
                {
                    enabled: false,
                }
            ]
        },
        series: [{
            name: 'TGDĐ',
            yAxis: 0,
            data: [
            <?php foreach ($this->list_date as $key => $value) {
                $m = intval(date('m', strtotime($value)));
                $tgdd = (isset($this->data_sellout_dealer[2316][$m]['num']) and $this->data_sellout_dealer[2316][$m]['num']) ? $this->data_sellout_dealer[2316][$m]['num'] : 0;
                echo $tgdd.",";
            } ?>
                ],
            stack: 'male'
        }, {
            name: 'OTHER',
            color: '#008B56',
            yAxis: 0,
            data: [
            <?php foreach ($this->list_date as $key => $value) {
                $m = intval(date('m', strtotime($value)));
                $tot = (isset($this->data_sellout_total[$m]['num']) and $this->data_sellout_total[$m]['num']) ? $this->data_sellout_total[$m]['num'] : 0;
                $tgdd = (isset($this->data_sellout_dealer[2316][$m]['num']) and $this->data_sellout_dealer[2316][$m]['num']) ? $this->data_sellout_dealer[2316][$m]['num'] : 0;
                echo ($tot-$tgdd).",";
            } ?>
            ],
            stack: 'male'
        }, {
            type: 'spline',
            color: 'green',
            yAxis: 0,
            name: 'line',
            data: [
            <?php 
                $avg = array();
                $tt = array();
                $avg_temp = 1;
            ?>
            <?php foreach ($this->list_date as $key => $value) {

                $m = intval(date('m', strtotime($value)));
                $num = (isset($this->data_sellout_total[$m]['num']) and $this->data_sellout_total[$m]['num']) ? $this->data_sellout_total[$m]['num'] : 0;

                $avg[$key] = ($num+$avg_temp)/2;
                $tt[$key] = ($avg_temp != 0) ? (($num - $avg_temp)/$avg_temp)*100 : 100;
                $avg_temp = $num;

                echo $num.",";
            } ?>
            ],
            stack: 'male'
        },
        {
            type: 'line',
            color: 'none',
            yAxis: 0,
            name: 'line',
            data: [
                {
                    y: <?php echo $avg[0];?>,
                    dataLabels: {
                        x: -7000,
                        formatter: function() {
                            return Highcharts.numberFormat(<?php echo $tt[0];?>, 2) + '%';
                        }
                    }
                },
                {
                    y: <?php echo $avg[1];?>,
                    dataLabels: {
                        x: width_chart,
                        formatter: function() {
                            return Highcharts.numberFormat(<?php echo $tt[1];?>, 2) + '%';
                        }
                    }
                },
                {
                    y: <?php echo $avg[2];?>,
                    dataLabels: {
                        x: width_chart,
                        fontSize: 9,
                        formatter: function() {
                            return Highcharts.numberFormat(<?php echo $tt[2];?>, 2) + '%';
                        }
                    }
                },
                {
                    y: <?php echo $avg[3];?>,
                    dataLabels: {
                        x: width_chart,
                        formatter: function() {
                            return Highcharts.numberFormat(<?php echo $tt[3];?>, 2) + '%';
                        }
                    }
                }
            ],
            stack: 'male',
            enableMouseTracking: false
        }]
    });
    
    $('#container_realme').highcharts({
        chart: {
            type: 'column',
            marginLeft: 10,
            marginRight: 10
        },
        title: {
            text: 'Sell out Realme 3 tháng gần nhất',
            style:{
                color: '#d2a400',
                fontSize: '16px'
            }
        },
        xAxis: {
            categories: [
            <?php foreach ($this->list_date as $key => $value) {
                echo "'Tháng ".intval(date('m', strtotime($value)))."',";
            } ?>
            ]
        },
        yAxis: {
            min: 0,
            title: {
                text: '',
                "textAlign": 'right',
                "rotation": 0,
                x: 35,
                y: -170
            },
            stackLabels: {
                enabled: true,
                style: {
                    fontWeight: 'bold',
                    color: (Highcharts.theme && Highcharts.theme.textColor) || '#000',
                    fontSize: '10px'
                },
            }
        },
        legend: {
            align: 'center',
            x: -30,
            verticalAlign: 'bottom',
            y: 20,
            floating: true,
            backgroundColor: (Highcharts.theme && Highcharts.theme.background2) || 'white',
            borderColor: 'none',
            borderWidth: 1,
            shadow: false
        },
        tooltip: {
            headerFormat: '<b>{point.x}</b><br/>',
            pointFormat: '{series.name}: <b>{point.y}</b> ({point.percentage:.2f}%)<br/>'
        },
        plotOptions: {
            column: {
                stacking: 'normal',
                dataLabels: {
                    enabled: true,
                    color: (Highcharts.theme && Highcharts.theme.dataLabelsColor) || 'white',
                    style: {
                        textShadow: '0 0 1px black',
                        fontSize: '10px'
                    },
                }
            },
            line: {
                dataLabels: {
                    enabled: true,
                    backgroundColor: 'white',
                    borderColor: "#f9bebe",
                    borderWidth: 1,
                    padding: 2,
                    color: (Highcharts.theme && Highcharts.theme.dataLabelsColor) || 'red',
                    style: {
                        fontSize: '9px'
                    },
                }
            }
        },
        exporting: {
            buttons: [
                {
                    enabled: false,
                }
            ]
        },
        series: [{
            name: 'TGDĐ',
            yAxis: 0,
            data: [
            <?php foreach ($this->list_date as $key => $value) {
                $m = intval(date('m', strtotime($value)));
                $tgdd = (isset($this->data_sellout_dealer_realme[2316][$m]['num']) and $this->data_sellout_dealer_realme[2316][$m]['num']) ? $this->data_sellout_dealer_realme[2316][$m]['num'] : 0;
                echo $tgdd.",";
            } ?>
                ],
            stack: 'male'
        }, {
            name: 'OTHER',
            color: '#FECB14',
            yAxis: 0,
            data: [
            <?php foreach ($this->list_date as $key => $value) {
                $m = intval(date('m', strtotime($value)));
                $tot = (isset($this->data_sellout_total_realme[$m]['num']) and $this->data_sellout_total_realme[$m]['num']) ? $this->data_sellout_total_realme[$m]['num'] : 0;
                $tgdd = (isset($this->data_sellout_dealer_realme[2316][$m]['num']) and $this->data_sellout_dealer_realme[2316][$m]['num']) ? $this->data_sellout_dealer_realme[2316][$m]['num'] : 0;
                echo ($tot-$tgdd).",";
            } ?>
            ],
            stack: 'male'
        }, {
            type: 'spline',
            color: '#d2a400',
            yAxis: 0,
            name: 'line',
            data: [
            <?php 
                $avg = array();
                $tt = array();
                $avg_temp = 1;
            ?>
            <?php foreach ($this->list_date as $key => $value) {

                $m = intval(date('m', strtotime($value)));
                $num = (isset($this->data_sellout_total_realme[$m]['num']) and $this->data_sellout_total_realme[$m]['num']) ? $this->data_sellout_total_realme[$m]['num'] : 0;

                $avg[$key] = ($num+$avg_temp)/2;
                $tt[$key] = ($avg_temp != 0) ? (($num - $avg_temp)/$avg_temp)*100 : 100;
                $avg_temp = $num;

                echo $num.",";
            } ?>
            ],
            stack: 'male'
        },
        {
            type: 'line',
            color: 'none',
            yAxis: 0,
            name: 'line',
            data: [
                {
                    y: <?php echo $avg[0];?>,
                    dataLabels: {
                        x: -7000,
                        formatter: function() {
                            return Highcharts.numberFormat(<?php echo $tt[0];?>, 2) + '%';
                        }
                    }
                },
                {
                    y: <?php echo $avg[1];?>,
                    dataLabels: {
                        x: width_chart,
                        formatter: function() {
                            return Highcharts.numberFormat(<?php echo $tt[1];?>, 2) + '%';
                        }
                    }
                },
                {
                    y: <?php echo $avg[2];?>,
                    dataLabels: {
                        x: width_chart,
                        fontSize: 9,
                        formatter: function() {
                            return Highcharts.numberFormat(<?php echo $tt[2];?>, 2) + '%';
                        }
                    }
                },
                {
                    y: <?php echo $avg[3];?>,
                    dataLabels: {
                        x: width_chart,
                        formatter: function() {
                            return Highcharts.numberFormat(<?php echo $tt[3];?>, 2) + '%';
                        }
                    }
                }
            ],
            stack: 'male',
            enableMouseTracking: false
        }]
    });
    
    $('#doanhthu').highcharts({
        chart: {
            type: 'column',
            marginLeft: 10,
            marginRight: 10
        },
        title: {
            text: 'Doanh thu 3 tháng gần nhất',
            style:{
                color: '#008B56',
                fontSize: '16px'
            }
        },
        xAxis: {
            categories: [<?php foreach ($this->list_date as $key => $value) {
                echo "'Tháng ".intval(date('m', strtotime($value)))."',";
            } ?>]
        },
        yAxis: {
            min: 0,
            title: {
                text: '',
                "textAlign": 'right',
                "rotation": 0,
                x: 40,
                y: -170
            },
            stackLabels: {
                enabled: true,
                style: {
                    fontWeight: 'bold',
                    color: (Highcharts.theme && Highcharts.theme.textColor) || '#000',
                    fontSize: '10px'
                }
            }
        },
        legend: {
            align: 'center',
            x: -30,
            verticalAlign: 'bottom',
            y: 20,
            floating: true,
            backgroundColor: (Highcharts.theme && Highcharts.theme.background2) || 'white',
            borderColor: 'none',
            borderWidth: 1,
            shadow: false
        },
        tooltip: {
            headerFormat: '<b>{point.x}</b><br/>',
            pointFormat: '{series.name}: <b>{point.y}</b> ({point.percentage:.2f}%)<br/>'
        },
        plotOptions: {
            column: {
                stacking: 'normal',
                dataLabels: {
                    enabled: true,
                    color: (Highcharts.theme && Highcharts.theme.dataLabelsColor) || 'white',
                    style: {
                        textShadow: '0 0 1px black',
                        fontSize: '10px'
                    },
                }
            },
            line: {
                dataLabels: {
                    enabled: true,
                    backgroundColor: 'white',
                    borderColor: "#f9bebe",
                    borderWidth: 1,
                    padding: 2,
                    color: (Highcharts.theme && Highcharts.theme.dataLabelsColor) || 'red',
                    style: {
                        fontSize: '9px'
                    },
                }
            }
        },
        exporting: {
            buttons: [
                {
                    enabled: false,
                }
            ]
        },
        series: [{
            name: 'TGDĐ',
            yAxis: 0,
            data: [
            <?php foreach ($this->list_date as $key => $value) {
                $m = intval(date('m', strtotime($value)));
                $tgdd = (isset($this->data_sellout_dealer[2316][$m]['total_value']) and $this->data_sellout_dealer[2316][$m]['total_value']) ? $this->data_sellout_dealer[2316][$m]['total_value'] : 0;
                echo $tgdd.",";
            } ?>
                ],
            stack: 'male'
        }, {
            name: 'OTHER',
            color: '#008B56',
            yAxis: 0,
            data: [
            <?php foreach ($this->list_date as $key => $value) {
                $m = intval(date('m', strtotime($value)));
                $tot = (isset($this->data_sellout_total[$m]['total_value']) and $this->data_sellout_total[$m]['total_value']) ? $this->data_sellout_total[$m]['total_value'] : 0;
                $tgdd = (isset($this->data_sellout_dealer[2316][$m]['total_value']) and $this->data_sellout_dealer[2316][$m]['total_value']) ? $this->data_sellout_dealer[2316][$m]['total_value'] : 0;
                echo ($tot-$tgdd).",";
            } ?>
            ],
            stack: 'male'
        }, {
            type: 'spline',
            yAxis: 0,
            name: 'line',
            color: 'green',
            data: [
            <?php 
                $avg = array();
                $tt = array();
                $avg_temp = 1;
            ?>
            <?php foreach ($this->list_date as $key => $value) {

                $m = intval(date('m', strtotime($value)));
                $num = (isset($this->data_sellout_total[$m]['total_value']) and $this->data_sellout_total[$m]['total_value']) ? $this->data_sellout_total[$m]['total_value'] : 0;

                $avg[$key] = ($num+$avg_temp)/2;
                $tt[$key] = ($avg_temp != 0) ? (($num - $avg_temp)/$avg_temp)*100 : 100;
                $avg_temp = $num;

                echo $num.",";
            } ?>
            ],
            stack: 'male'
        },{
            type: 'line',
            color: 'none',
            yAxis: 0,
            name: 'line',
            data: [
                {
                    y: <?php echo $avg[0];?>,
                    dataLabels: {
                        x: -7000,
                        formatter: function() {
                            return Highcharts.numberFormat(<?php echo $tt[0];?>, 2) + '%';
                        }
                    }
                },
                {
                    y: <?php echo $avg[1];?>,
                    dataLabels: {
                        x: width_chart,
                        formatter: function() {
                            return Highcharts.numberFormat(<?php echo $tt[1];?>, 2) + '%';
                        }
                    }
                },
                {
                    y: <?php echo $avg[2];?>,
                    dataLabels: {
                        x: width_chart,
                        formatter: function() {
                            return Highcharts.numberFormat(<?php echo $tt[2];?>, 2) + '%';
                        }
                    }
                },
                {
                    y: <?php echo $avg[3];?>,
                    dataLabels: {
                        x: width_chart,
                        formatter: function() {
                            return Highcharts.numberFormat(<?php echo $tt[3];?>, 2) + '%';
                        }
                    }
                }
            ],
            stack: 'male',
            enableMouseTracking: false
        }]
    });

    
    // Build the chart trade
    $('#trade').highcharts({
        chart: {
            type: 'column',
            marginLeft: 40,
            marginRight: 20
        },
        title: {
            text: 'Đầu tư 3 tháng gần nhất',
            style:{
                color: '#008B56',
                fontSize: '16px'
            }
        },
        xAxis: {
            categories: ['Tháng <?php echo $this->list_month[0];?>','Tháng <?php echo $this->list_month[1];?>', 'Tháng <?php echo $this->list_month[2];?>', 'Tháng <?php echo $this->list_month[3];?>']
        },
        yAxis: {
            min: 0,
            title: {
                text: 'VNĐ',
                "textAlign": 'right',
                "rotation": 0,
                x: 37,
                y: -170
            },
            stackLabels: {
                enabled: true,
                style: {
                    fontWeight: 'bold',
                    color: (Highcharts.theme && Highcharts.theme.textColor) || 'gray'
                }
            }
        },
        legend: {
            align: 'center',
            x: -30,
            verticalAlign: 'bottom',
            y: 20,
            floating: true,
            backgroundColor: (Highcharts.theme && Highcharts.theme.background2) || 'white',
            borderColor: 'none',
            borderWidth: 1,
            shadow: false
        },
        tooltip: {
            headerFormat: '<b>{point.x}</b><br/>',
            pointFormat: '{series.name}: {point.y}<br/>Total: {point.stackTotal}'
        },
        plotOptions: {
            column: {
                stacking: 'normal',
                dataLabels: {
                    enabled: false,
                    color: (Highcharts.theme && Highcharts.theme.dataLabelsColor) || 'white',
                    style: {
                        textShadow: '0 0 3px black'
                    }
                }
            }
        },
        exporting: {
            buttons: [
                {
                    enabled: false,
                }
            ]
        },
        series: [{
            name: 'Tổng đầu tư',
            yAxis: 0,
            data: [<?php if(isset($this->list_trade) AND $this->list_trade):echo $this->list_trade;endif?>],
            stack: 'male'
        }, {
            type: 'spline',
            yAxis: 0,
            name: 'line',
            color: 'green',
            data: [<?php if(isset($this->list_trade) AND $this->list_trade):echo $this->list_trade;endif?>],
            stack: 'male'
        }]
    });
    
    //CONTENT MENU
    // Build the chart trade
    $('#sellout_sp').highcharts({
        chart: {
            type: 'column',
            marginLeft: 45,
            marginRight: 10
        },
        title: {
            text: 'Sellout sản phẩm 3 tháng gần nhất',
            style:{
                color: '#008B56',
                fontSize: '16px'
            }
        },
        xAxis: {
            categories: [
            <?php foreach ($this->list_date as $key => $value) {
                echo "'Tháng ".intval(date('m', strtotime($value)))."',";
            } ?>
            ],
        },
        yAxis: {
            min: 0,
            title: {
                text: 'Sản phẩm',
                "textAlign": 'right',
                "rotation": 0,
                x: 60,
                y: -170
            },
            stackLabels: {
                enabled: false,
                style: {
                    fontWeight: 'bold',
                    color: (Highcharts.theme && Highcharts.theme.textColor) || 'gray'
                }
            }
        },
        legend: {
            align: 'center',
            x: -30,
            verticalAlign: 'bottom',
            y: 20,
            floating: true,
            backgroundColor: (Highcharts.theme && Highcharts.theme.background2) || 'white',
            borderColor: 'none',
            borderWidth: 1,
            shadow: false
        },
        tooltip: {
            headerFormat: '<b>{point.x}</b><br/>',
            pointFormat: '{series.name}: {point.y}<br/>Total: {point.stackTotal}'
        },
        plotOptions: {
            column: {
                stacking: 'normal',
                dataLabels: {
                    enabled: false,
                    color: (Highcharts.theme && Highcharts.theme.dataLabelsColor) || 'white',
                    style: {
                        textShadow: '0 0 3px black'
                    }
                }
            }
        },
        exporting: {
            buttons: [
                {
                    enabled: false,
                }
            ]
        },
        series: [
        <?php foreach($this->good_hero as $key => $value):?>
        {
        name: '<?php echo $this->good[$value];?>',
        yAxis: 0,
        data: [
        <?php
        foreach($this->list_date as $k=>$v):
            $m = intval(date('m', strtotime($v)));
            $num = (isset($this->data_sellout_good[$value][$m]['num']) and $this->data_sellout_good[$value][$m]['num']) ? $this->data_sellout_good[$value][$m]['num'] : 0;
            echo $num.",";  
        endforeach;
        ?>
        ],
        stack: <?php echo $key;?>
        },
        <?php endforeach;?>
        ]
        
    });
    
    $('#sellout_sp_value').highcharts({
        chart: {
            type: 'column',
            marginLeft: 45,
            marginRight: 10
        },
        title: {
            text: 'Doanh thu sản phẩm 3 tháng gần nhất',
            style:{
                color: '#008B56',
                fontSize: '16px'
            }
        },
        xAxis: {
            categories: [
            <?php foreach ($this->list_date as $key => $value) {
                echo "'Tháng ".intval(date('m', strtotime($value)))."',";
            } ?>
            ],
        },
        yAxis: {
            min: 0,
            title: {
                text: 'Sản phẩm',
                "textAlign": 'right',
                "rotation": 0,
                x: 60,
                y: -170
            },
            stackLabels: {
                enabled: false,
                style: {
                    fontWeight: 'bold',
                    color: (Highcharts.theme && Highcharts.theme.textColor) || 'gray'
                }
            }
        },
        legend: {
            align: 'center',
            x: -30,
            verticalAlign: 'bottom',
            y: 20,
            floating: true,
            backgroundColor: (Highcharts.theme && Highcharts.theme.background2) || 'white',
            borderColor: 'none',
            borderWidth: 1,
            shadow: false
        },
        tooltip: {
            headerFormat: '<b>{point.x}</b><br/>',
            pointFormat: '{series.name}: {point.y}<br/>Total: {point.stackTotal}'
        },
        plotOptions: {
            column: {
                stacking: 'normal',
                dataLabels: {
                    enabled: false,
                    color: (Highcharts.theme && Highcharts.theme.dataLabelsColor) || 'white',
                    style: {
                        textShadow: '0 0 3px black'
                    }
                }
            }
        },
        exporting: {
            buttons: [
                {
                    enabled: false,
                }
            ]
        },
        series: [
            <?php foreach($this->good_hero as $key => $value):?>
            {
            name: '<?php echo $this->good[$value];?>',
            yAxis: 0,
            data: [
            <?php
            foreach($this->list_date as $k=>$v):
                $m = intval(date('m', strtotime($v)));
                $total_value = (isset($this->data_sellout_good[$value][$m]['total_value']) and $this->data_sellout_good[$value][$m]['total_value']) ? $this->data_sellout_good[$value][$m]['total_value'] : 0;
                echo $total_value.",";  
            endforeach;
            ?>
            ],
            stack: <?php echo $key;?>
            },
            <?php endforeach;?>
            ]
        
    });
    
    $('#sellout_ka_ia').highcharts({
        chart: {
            type: 'column',
            marginLeft: 45,
            marginRight: 10,
            x: 60,
        },
        title: {
            text: 'Sellout các kênh 3 tháng gần nhất',
            style:{
                color: '#008B56',
                fontSize: '16px'
            }
        },
        xAxis: {
            categories: [
            <?php foreach ($this->list_date as $key => $value) {
                echo "'Tháng ".intval(date('m', strtotime($value)))."',";
            } ?>
            ],
        },
        yAxis: {
            min: 0,
            title: {
                text: 'Sản phẩm',
                "textAlign": 'right',
                "rotation": 0,
                x: 60,
                y: -160
            },
            stackLabels: {
                enabled: false,
                style: {
                    fontWeight: 'bold',
                    color: (Highcharts.theme && Highcharts.theme.textColor) || 'gray'
                }
            }
        },
        legend:{
            align: 'center',
            verticalAlign:'bottom',
            width: 500,
            itemWidth: 100
        },
        tooltip: {
            headerFormat: '<b>{point.x}</b><br/>',
            pointFormat: '{series.name}: {point.y}<br/>Total: {point.stackTotal}'
        },
        plotOptions: {
            column: {
                stacking: 'normal',
                dataLabels: {
                    enabled: false,
                    color: (Highcharts.theme && Highcharts.theme.dataLabelsColor) || 'white',
                    style: {
                        textShadow: '0 0 3px black'
                    }
                }
            }
        },
        exporting: {
            buttons: [
                {
                    enabled: false,
                }
            ]
        },
        series: [
            <?php foreach($this->name_chart as $keys => $value):?>
            {
            name: '<?php echo $value;?>',
            yAxis: 0,
            data: [
                <?php 
                foreach($this->list_date as $k => $v):
                $m = intval(date('m', strtotime($v)));
                $num = (isset($this->data_sellout_dealer[$keys][$m]['num']) and $this->data_sellout_dealer[$keys][$m]['num']) ? $this->data_sellout_dealer[$keys][$m]['num'] : 0;
                echo $num.",";
                endforeach;
                ?>
                ],
            stack: <?php echo $keys;?>
            },
            <?php endforeach;?>
            ]
        
    });
    
    
    $('#doanhthu_ka_ia').highcharts({
        chart: {
            type: 'column',
            marginLeft: 45,
            marginRight: 10,
            x: 60,
        },
        title: {
            text: 'Doanh thu các kênh 3 tháng gần nhất',
            style:{
                color: '#008B56',
                fontSize: '16px'
            }
        },
        xAxis: {
            categories: [
            <?php foreach ($this->list_date as $key => $value) {
                echo "'Tháng ".intval(date('m', strtotime($value)))."',";
            } ?>
            ],
        },
        yAxis: {
            min: 0,
            title: {
                text: 'Sản phẩm',
                "textAlign": 'right',
                "rotation": 0,
                x: 60,
                y: -160
            },
            stackLabels: {
                enabled: false,
                style: {
                    fontWeight: 'bold',
                    color: (Highcharts.theme && Highcharts.theme.textColor) || 'gray'
                }
            }
        },
        legend:{
            align: 'center',
            verticalAlign:'bottom',
            width: 500,
            itemWidth: 100
        },
        tooltip: {
            headerFormat: '<b>{point.x}</b><br/>',
            pointFormat: '{series.name}: {point.y}<br/>Total: {point.stackTotal}'
        },
        plotOptions: {
            column: {
                stacking: 'normal',
                dataLabels: {
                    enabled: false,
                    color: (Highcharts.theme && Highcharts.theme.dataLabelsColor) || 'white',
                    style: {
                        textShadow: '0 0 3px black'
                    }
                }
            }
        },
        exporting: {
            buttons: [
                {
                    enabled: false,
                }
            ]
        },
        series: [
            <?php foreach($this->name_chart as $keys => $value):?>
            {
            name: '<?php echo $value;?>',
            yAxis: 0,
            data: [
                <?php 
                foreach($this->list_date as $k => $v):
                $m = intval(date('m', strtotime($v)));
                $total_value = (isset($this->data_sellout_dealer[$keys][$m]['total_value']) and $this->data_sellout_dealer[$keys][$m]['total_value']) ? $this->data_sellout_dealer[$keys][$m]['total_value'] : 0;
                echo $total_value.",";
                endforeach;
                ?>
                ],
            stack: <?php echo $keys;?>
            },
            <?php endforeach;?>
            ]
        
    });


    /* Số bán hàng ngày */
    $('#soban_hang_ngay').highcharts({
        title: {
            text: 'Số bán theo ngày',
            x: -20 //center
        },
        subtitle: {
            text: 'Trong tháng trước và tháng hiện tại',
            x: -20
        },
        xAxis: {
            categories: [
            <?php foreach ($this->list_date_range as $k => $v) {
                echo "'".$v."',";
            }?>
            ]
        },
        yAxis: {
            title: {
                text: ''
            },
            plotLines: [{
                value: 0,
                width: 1,
                color: '#808080'
            }]
        },
        tooltip: {
            valueSuffix: ''
        },
        exporting: {
            buttons: [
                {
                    enabled: false,
                }
            ]
        },
        legend:{
            itemStyle: {
                 fontSize:'10px'
              },
            align: 'center',
            verticalAlign:'bottom'
        },
        series: [
        <?php foreach($this->good_hero_total as $key=>$value):?>
        {
            name: <?php echo "'".$value."'";?>,
            data: [
            <?php foreach ($this->list_date_range as $k => $v) {
                echo (isset($this->good_by_date[$v][$key])) ? $this->good_by_date[$v][$key]."," : "0,";
            }?>
            ]
        }, 
        <?php endforeach;?>
        ]
    });
    /* end số bán hàng ngày */

});

</script>


<script>
    $(function () {
        
        hide_char();
        
        $('.menu_btn').on('click',function(){
            if($('.menu_type_char ul').css('display') == 'none')
            {
                $('.menu_type_char ul').show();
            }
            else{
                $('.menu_type_char ul').hide();
            }
        });
        
        $('.menu_type_char ul li').on('click',function(){
            var attr = $(this).attr('char');

            if (typeof attr !== typeof undefined && attr !== false) {
                $(".menu_type_char ul li").each(function(){
                    var char_ = $(this).attr('char');
                    $('#'+char_).hide();
                    $(this).closest('ul').hide();
                });

                var char_this = $(this).attr('char');
                $('#'+char_this).show();
            }else{
                $('.menu_type_char ul').hide();
            } 
        });

    });
    
    function hide_char(){
        $(".menu_type_char ul li").each(function(){
            var char_ = $(this).attr('char');
            $('#'+char_).hide();
            $(this).closest('ul').hide();
        });
        $('#container').show();
    }
    

    
</script>


<script>
    $(function () {

        $('table.paginated').each(function() {
            var currentPage = 0;
            var numPerPage = 10;
            var $table = $(this);
            $table.bind('repaginate', function() {
                $table.find('tbody tr').hide().slice(currentPage * numPerPage, (currentPage + 1) * numPerPage).show();
            });
            $table.trigger('repaginate');
            var numRows = $table.find('tbody tr').length;
            var numPages = Math.ceil(numRows / numPerPage);
            var $pager = $('<div class="pager"></div>');
            for (var page = 0; page < numPages; page++) {
                $('<span class="page-number"></span>').text(page + 1).bind('click', {
                    newPage: page
                }, function(event) {
                    currentPage = event.data['newPage'];
                    $table.trigger('repaginate');
                    $(this).addClass('active').siblings().removeClass('active');
                }).appendTo($pager).addClass('clickable');
            }
            $pager.insertAfter($table).find('span.page-number:first').addClass('active');
        });

        

    });

    $(document).ready(function() {
        $('.close_soban').on('click',function(){
            $('.soban_hangngay').css('z-index','-1000');
        });

        $('.soban_theongay').on('click',function(){
            $('.soban_hangngay').css('z-index','1000');
        });
    });

    
</script>

<!-- hr report Thanh -->
<script>
    function resizeIframe(obj) {
        obj.style.height = obj.contentWindow.document.body.scrollHeight + 'px';
    }

    $(document).ready(function() {
        $('iframe').on('resize', function(){
            resizeIframe(this);
        });
    });
</script>