<style type="text/css" media="screen">
 #action{
        width:45px;
    }   
</style>
    <div class="page-header">
        <h1>List Staff</h1>
    </div>
<div class="accordion" id="accordion2">
    <div class="accordion-group">
        <div class="accordion-heading">
            <a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion2" href="#collapseTwo">
                Search
            </a>
        </div>
        <div id="collapseTwo" class="accordion-body collapse" style="height: 0px;">
            <div class="accordion-inner">
                <form class="form-search form-horizontal" method="get" action="/bi/staff-by-title">
                     <input type="hidden" name="title" value="<?php echo $this->params['title'];?>">
                     <input type="hidden" name="id_trainer" value="<?php echo $this->params['id_trainer'];?>">
                     <input type="hidden" class="province_id" name="province_id" value="<?php echo $this->params['province_id'];?>">
                    <div class="row">
                        <div class="span5">
                            <div class="control-group">
                                <label for="name" class="span2">Name</label>
                                <input id="name" name="name" type="text" class="input-medium search-query form-control" value="<?php isset($this->params['name']) and printf($this->params['name']);?>">
                            </div>

                            <div class="control-group">
                                <label for="code" class="span2">Staff code</label>
                                <input id="code" name="code" type="text" class="input-large search-query form-control" value="<?php isset($this->params['code']) and printf($this->params['code']);?>">
                            </div>

                            <div class="control-group">
                                <label for="email" class="span2">Email</label>
                                <input id="email" name="email" type="text" class="input-medium search-query form-control" value="<?php isset($this->params['email']) and printf($this->params['email']);?>">
                            </div>
                            <div class="control-group">
                                <label for="joined_at_from" class="span2">Joined At From</label>
                                <input id="joined_at_from" name="from_date" type="text" class="input-large date search-query form-control" value="<?php isset($this->params['from_date']) and printf($this->params['from_date']);?>">
                            </div>
                             <div class="control-group">
                                <label for="joined_at_to" class="span2">Joined At To</label>
                                <input id="joined_at_to" name="to_date" type="text" class="input-large date search-query form-control" value="<?php isset($this->params['to_date']) and printf($this->params['to_date']);?>">
                            </div>
                            
                        </div>
                        <div class="span5">
                                <div class="control-group">
                                <label for="bigarea_id" class="span2">Region</label>
                                <select id="big_area_id" name="big_area_id[]" class="span3 multiselect" multiple="multiple">
                                    <?php if ($this->big_area) :
                                        foreach ($this->big_area as $key => $value):
                                            ?>
                                            <option value="<?php echo $key;?>"  <?php if (isset($this->params['big_area_id']) and ( (is_array($this->params['big_area_id']) && in_array($key, $this->params['big_area_id']) || $key == $this->params['big_area_id'])) ):?>selected<?php endif;?>><?php echo (isset($value) and $value) ? $value  :'';?></option>
                                        <?php
                                        endforeach;
                                    endif;
                                    ?>
                                </select>
                            </div>
                            <div class="control-group">
                                <label for="area_id" class="span2">Area</label>
                                <select id="area_id" name="area_id[]" class="span3 multiselect" multiple="multiple">
                                    <?php
                                    if ($this->area_trainer) :
                                        foreach ($this->area_trainer as $key => $value):
                                            ?>
                                            <option value="<?php echo $key;?>" <?php if (isset($this->params['area_id']) and ( (is_array($this->params['area_id']) && in_array($key, $this->params['area_id']) || $key == $this->params['area_id'])) ):?>selected<?php endif;?>><?php echo (isset($value) and $value) ? $value :'';?></option>
                                        <?php
                                        endforeach;
                                    endif;
                                    ?>
                                </select>
                            </div>

                            <div class="control-group">
                                <label for="regional_market" class="span2">Province</label>
                                <select id="regional_market" name="regional_market[]" class="span3 multiselect" multiple="multiple">
                                    <?php
                                    if ($this->regional_markets) :
                                        foreach ($this->regional_markets as $key => $value):?>
                                            <option value="<?php echo $key;?>" <?php if (isset($this->params['regional_market']) and ( (is_array($this->params['regional_market']) && in_array($key, $this->params['regional_market']) || $key == $this->params['regional_market'])) ):?>selected<?php endif;?>><?php echo $value;?></option>
                                        <?php
                                        endforeach;
                                    endif;
                                    ?>
                                </select>
                            </div>

                            <div class="control-group">
                                <label for="team" class="span2">Shop</label>
                                <input id="team" name="shop" type="text" class="input-large search-query form-control" value="<?php isset($this->params['shop']) and printf($this->params['shop']);?>">
                            </div>

                            <div class="control-group">
                                <label for="star" class="span2">Star</label>
                                <input id="star" name="star" type="text" class="input-medium search-query form-control" value="<?php isset($this->params['star']) and printf($this->params['star']);?>">
                            </div>  
                             <div class="control-group">
                                <label for="star" class="span2">Thâm niên</label>
                                <select name="seniority" >
                                    <option value="">---------Chọn---------</option>
                                    <option value="1" <?php if($this->params['seniority']==1) echo 'selected';?>>Dưới 3 tháng</option>
                                    <option value="2" <?php if($this->params['seniority']==2) echo 'selected';?>>3 tháng đến 6 tháng</option>
                                    <option value="3" <?php if($this->params['seniority']==3) echo 'selected';?>>6 tháng đến 12 tháng</option>
                                    <option value="4" <?php if($this->params['seniority']==4) echo 'selected';?>>12 tháng đến 24 tháng</option>
                                    <option value="5" <?php if($this->params['seniority']==5) echo 'selected';?>>Trên 24 tháng</option>
                                    
                                    
                                </select>
                            </div>  
                             <div class="control-group">
                                <label for="sellout" class="span2">Sell-Out From</label>
                                <input id="sellout" name="sellout_from" type="text" class="input-medium search-query form-control" value="<?php isset($this->params['sellout_from']) and printf($this->params['sellout_from']);?>">
                            </div> 
                            <div class="control-group">
                                <label for="sellout" class="span2">Sell-Out To</label>
                                <input id="sellout" name="sellout_to" type="text" class="input-medium search-query form-control" value="<?php isset($this->params['sellout_to']) and printf($this->params['sellout_to']);?>">
                            </div>   
                        </div>
                    </div>

                    <button type="submit" class="btn btn-primary">Search</button>
                    <button type="reset" class="btn btn-warning">Reset</button>
                    <a href="/bi/reward-warning-all" class="btn btn-primary">Reward Warning All</a>
                    <?php if($this->params['title'] == '182'): ?>
                        <a href="/bi/export-staff-all?export=1&title=182" class="btn btn-success">Export</a>
                    <?php endif; ?>
                </form>
                <style>
                    .birth{width:12%}
                </style>

                <script type="text/javascript" src="/js/jquery-ui-1.8.12.custom.min.js"></script>
                <link rel="stylesheet" type="text/css" href="/css/jquery-ui-1.8.12.custom.css">
                <script src="../js/tag-it.min.js" type="text/javascript" charset="utf-8"></script>
                <link href="../css/jquery.tagit.css" rel="stylesheet" type="text/css">
                <link href="../css/tagit.ui-zendesk.css" rel="stylesheet" type="text/css">

            </div>
        </div>
    </div>
</div>

<div class="table-responsive">
    <style>
    .modal table tr td.span1{
        min-width: 100px!important;
    }
</style>
<?php
     if(in_array($this->params['title'],array(182,293,419))){
?>
<table class="table table-bordered">
    <tr>
        <th>STT</th>
        <th>AREA</th>
        <th>ID CODE</th>
        <th>HỌ & TÊN PGs</th>
        <th>KÊNH</th>
        <th>ID SHOP</th>
        <th>TÊN SHOP</th>
        <th>HỌ & TÊN SALES QUẢN LÝ</th>
        <th>THÂM NIÊN (THÁNG)</th>
        <th>STAR</th>
        <th>S.O THÁNG HIỆN TẠI</th>
        <th>SHARE HERO</th>
        <th>PHONE</th>
        <th>TRẠNG THÁI</th>
        <th>ACTION</th>
    </tr>
    <?php foreach($this->list as $key=>$value):?>
    
    <tr>
        <td>
            <?php
                $inc = $this->offset + $key + 1;
                echo $inc;
            ?>
        </td>
        <td><?php echo $value['area_name'];?></td>
        <td><?php echo $value['code'];?></td>
        <td class="text-success"><?php echo $value['fullname'];?></td>
        <td><?php echo $value['channel'];?></td>
        <td><?php echo $value['shop_id'];?></td>
        <td><?php echo $value['shop'];?></td>
        <td class="text-primary"><?php echo $this->leader_area[$value['area_name']];?></td>
        <td><?php echo (int)abs((strtotime("now") - strtotime($value['joined']))/(60*60*24*30)); ?></td>
        <td><?php echo $value['star'];?></td>
        <td><?php echo $value['sellout'];?></td>
        <td><?php if($value['sellout']<>0 ||  $value['hero'] <>0) echo round(($value['hero']*100)/$value['sellout'],1); else echo 0;?> %</td>
        <td><?php echo $value['phone'];?></td>
        <td class="text-primary">Đang làm</td>
        <td id="action">
            <?php 
            $link = '#';
            if( $value['title'] == PGPB_TITLE ){
                $link = HOST."bi/pg-details?id=".$value['id'];
            }
            elseif( $value['title'] == SALES_TITLE){
                $link = HOST."bi/sale-details?id=".$value['id'];
            }
            elseif( $value['title'] == CHUYEN_VIEN_BAN_HANG_TITLE ){
                $link = HOST."bi/pg-details?id=".$value['id'];
            }
            elseif( $value['title'] == STORE_LEADER_TITLE ){
                $link = HOST."bi/sale-details?id=".$value['id'];
            }
            elseif( $value['title'] == PG_BRANDSHOP ){
                $link = HOST."bi/pg-details?id=".$value['id'];
            }
            elseif( $value['title'] == PG_LEADER_TITLE ){
                $link = HOST."bi/pgs-leader?id=".$value['id'];
            }
            
            ?>

            <a title="All Information" href="<?php echo HOST."bi/pg-details?id=".$value['id'];?>" class="label label-success">
                <i class="icon-hand-right"></i>    
            </a>

             <a title="Reward Warning" href="<?php echo HOST.'/trainer/reward-warning?staff_id='.$value['id'];?>" class="label label-important"><i class="icon-book"></i></a>
        </td>   
    </tr>
    <?php endforeach;?>
</table>
<?php
    }else{
?>


<table class="table table-bordered">
    <tr>
        <th>#</th>
        <th>CODE </th>
        <th>NAME</th>
        <th>AREA</th>
        <th>DEPARTMENT</th>
        <th>TEAM</th>
        <th>TITLE</th>
        <th>JOINED</th>
        <th>PHONE NO</th>
        <th>STATUS</th>
        <th>ACTION</th>
    </tr>
    <?php foreach($this->list as $key=>$value):?>
    
    <tr>
        <td>
            <?php 
            $inc = $this->offset + $key + 1;
            echo $inc;
            ?>
        </td>
        <td><?php echo $value['code'];?></td>
        <td><?php echo $value['fullname'];?></td>
        <td><?php echo $value['area_name'];?></td>
        <td><?php echo $value['department_name'];?></td>
        <td><?php echo $value['team'];?></td>
        <td><?php echo $value['title'];?></td>
        <td><?php echo date( 'd/m/Y', strtotime($value['joined']) );?></td>
        <td><?php echo $value['phone'];?></td>
        <td>Enabled</td>
        <td>
            <?php 
            $link = NULL;
            if( $value['title'] == PGPB_TITLE ){
                $link = HOST."bi/pg-details?id=".$value['id'];
            }
            elseif( $value['title'] == SALES_TITLE){
                $link = HOST."bi/sale-details?id=".$value['id'];
            }
            elseif( $value['title'] == CHUYEN_VIEN_BAN_HANG_TITLE ){
                $link = HOST."bi/pg-details?id=".$value['id'];
            }
            elseif( $value['title'] == STORE_LEADER_TITLE ){
                $link = HOST."bi/sale-details?id=".$value['id'];
            }
            elseif( $value['title'] == PG_BRANDSHOP ){
                $link = HOST."bi/pg-details?id=".$value['id'];
            }
            elseif( $value['title'] == PG_LEADER_TITLE ){
                $link = HOST."bi/pgs-leader?id=".$value['id'];
            }
            elseif( $value['title_id'] == PGS_SUPERVISOR ){
                $link = HOST."bi/pgs-supervisor?id=".$value['id'];
            }
            
            ?>
            
            <?php if($link):?>
            <a title="All Information" href="<?php echo $link;?>" class="label label-success">
                <i class="icon-hand-right"></i>    
            </a>
            <?php endif;?>
            
        </td>   
    </tr>
    <?php endforeach;?>
</table>


<?php
    }
?>
<style type="text/css" media="screen">
    table tr td a{
        margin-left: 3px;
    }
</style>
<div class="paging">
    <?php echo $this->paging($this->total, $this->limit, $this->offset, $this->url);?>
</div>

<script type="text/javascript" src="/js/jquery-ui-1.8.12.custom.min.js"></script>
<link rel="stylesheet" type="text/css" href="/css/jquery-ui-1.8.12.custom.css">
<script src="/public/js/jquery.blockUI.js" type="text/javascript"></script>

<script src="//connect.facebook.net/en_US/all.js"></script>
<script src="//ajax.googleapis.com/ajax/libs/jqueryui/1.8/jquery-ui.min.js"></script>
<link rel="stylesheet" type="text/css" href="//ajax.googleapis.com/ajax/libs/jqueryui/1.7.1/themes/base/jquery-ui.css">


<script>


    $( '.date' ).datepicker({ dateFormat: "yy-mm-dd" });
            $("#dialog").dialog({
                autoOpen: false,
                modal: true
            });
            $(".confirmLink").click(function(e) {
                e.preventDefault();
                var targetUrl = $(this).attr("href");

                $("#dialog").dialog({
                    buttons : {
                        "Confirm" : function() {
                            window.location.href = targetUrl;
                        },
                        "Cancel" : function() {
                            $(this).dialog("close");
                        }
                    }
                });

                $("#dialog").dialog("open");
            });
        </script>
        
        <script>
                    $(".sortable,  .paging-link").click(function(e){
                        e.preventDefault();
                        var _self = $(this);
                        var targetUrl = _self.attr("href");

                        //get ajax content
                        if ($(this).parents(".load-ajax").length){
                            $(this).parents("ul").after("<span class='loading'></span>");
                            $.get(targetUrl
                                ,function(data,status){
                                    _self.parents(".load-ajax").html(data);
                                    $(".loading").remove();
                                });
                        } else
                            window.location.href = targetUrl;

                        return false;
                    });
                </script>
<script>
    $(document).ready(function(){
//        getInfoPGSALE();
    });
    
    function unblockUI(){
        $.unblockUI();
    }

    function initWaiting(){
        $.blockUI({ css: {
            border: 'none',
            padding: '15px',
            backgroundColor: '#000',
            '-webkit-border-radius': '10px',
            '-moz-border-radius': '10px',
            opacity: .5,
            color: '#fff'
        } });
    }

</script>
</div>
<script type="text/javascript" src="http://center-live.local/js/bootstrap-multiselect.js"></script>
<link rel="stylesheet" href="http://center-live.local/css/bootstrap-multiselect.css" type="text/css">
<script type="text/javascript" src="http://center-live.local/js/jquery-ui-1.8.12.custom.min.js"></script>
<link rel="stylesheet" type="text/css" href="http://center-live.local/css/jquery-ui-1.8.12.custom.css">


<script>
    options = {
        selectAllText: 'Select All',
        includeSelectAllOption: true,
        includeSelectAllIfMoreThan: 3,
        disableIfEmpty: true
    };

    $(document).ready(function () {
        $('.form-search button:reset').click(function (e){
            $('.form-search input, .form-search select').val('');
            $('.form-search').submit();
            return false;
        });
        
        $(document).on('change', ".area_id", function() {
            var area_id = $(this).val();
            $.ajax({
                  url: "<?php echo HOST;?>bi/ajax-list-store",
                  type: "GET",
                  dataType: "text",
                  context: this,
                  data: "area_province_id="+area_id,
                  beforeSend: function() {
                        $(".loading").show();                   
                    },
                  success: function(result){

                        if(result)
                        {
                            var data = jQuery.parseJSON(result);
                            option = '<option value="">--Chọn--</option>';
                            for(i=0; i< data.area_province.length; i++){
                                option += '<option value="'+data.area_province[i].province_id+'">'+data.area_province[i].province_name+'</option>';
                            }
                            $('.province_id').html(option);
                        }
                        else
                        {   
                            
                        }                    
                  },
                  error:function(){
                      
                  }
            });

        });
        
        var province_id = $('.province_id').val();
        var area_id = $('.area_id').val();
        if(area_id != null){
            loadProvice(area_id,province_id);
        }

    });
    
    function loadProvice(area_id,province_id){
        var area_id = area_id;
        var province_id =province_id;
        $.ajax({
              url: "<?php echo HOST;?>bi/ajax-list-store",
              type: "GET",
              dataType: "text",
              context: this,
              data: "area_province_id="+area_id,
              beforeSend: function() {
                    $(".loading").show();                   
                },
              success: function(result){

                    if(result)
                    {
                        var data = jQuery.parseJSON(result);
                        option = '<option value="">--Chọn--</option>';
                        for(i=0; i< data.area_province.length; i++){
                            if(data.area_province[i].province_id == province_id)
                            {
                                option += '<option value="'+data.area_province[i].province_id+'" selected>'+data.area_province[i].province_name+'</option>';
                            }else{
                                option += '<option value="'+data.area_province[i].province_id+'">'+data.area_province[i].province_name+'</option>';
                            }
                        }
                        $('.province_id').html(option);
                    }
                    else
                    {   

                    }                    
              },
              error:function(){

              }
        });
    }
</script>
<script>
            $("#dialog").dialog({
                autoOpen: false,
                modal: true
            });
            $(".confirmLink").click(function(e) {
                e.preventDefault();
                var targetUrl = $(this).attr("href");

                $("#dialog").dialog({
                    buttons : {
                        "Confirm" : function() {
                            window.location.href = targetUrl;
                        },
                        "Cancel" : function() {
                            $(this).dialog("close");
                        }
                    }
                });

                $("#dialog").dialog("open");
            });
        </script>
        <div id="dialog" title="Confirmation Required">Are you sure about this?</div>
<script>
    $(".change").change(function(){
        var _self = $(this);
        var id = _self.val();
        var targetUrl = _self.data("href") + id;

        $(_self).parent().nextAll().find(".load-ajax").html("");
        if (id != 0) {
            //get ajax content
            if (_self.parent().next().find(".load-ajax:first").length){
                $(_self).parent().next().find(".load-ajax:first").after("<span class='loading'></span>");
                $.get(targetUrl
                    ,function(data,status){
                        $(_self).parent().next().find(".load-ajax:first").html(data);
                        $(_self).parent().next().find(".loading").remove();
                    });
            }
        }

        return false;
    });
</script>  
