<style type="text/css" media="screen">
 #action{
        width:45px;
    }   
</style>
    <div class="page-header">
        <h1>Danh sách Pgs chưa qua Training Online</h1>
    </div>
<div class="accordion" id="accordion2">
    <div class="accordion-group">
        <div class="accordion-heading">
            <a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion2" href="#collapseTwo">
                Search
            </a>
        </div>
        <div id="collapseTwo" class="accordion-body collapse" style="height: 0px;">
            <div class="accordion-inner">
                <form class="form-search form-horizontal" method="get" action="/bi/staff-new-main">
                     <input type="hidden" name="month" value="<?php echo $this->params['month'];?>">
                     <input type="hidden" name="year" value="<?php echo $this->params['year'];?>">
                     <input type="hidden" name="staff_fails" value="<?php echo $this->params['staff_fails'];?>">
                     <input type="hidden" class="province_id" name="province_id" value="<?php echo $this->params['province_id'];?>">
                    <div class="row">
                        <div class="span5">
                            <div class="control-group">
                                <label for="name" class="span2">Name</label>
                                <input id="name" name="name" type="text" class="input-medium search-query form-control" value="<?php isset($this->params['name']) and printf($this->params['name']);?>">
                            </div>

                            
                        </div>
                        <div class="span5">
                            <div class="control-group">
                                <label for="department" class="span2">Khu vực</label>
                               <!--  <input id="name" name="title" type="text" class="input-medium search-query form-control" value=""> -->
                                <select name="area_id" class="area_id" id="area">
                                    <option value="">--------Chọn--------</option>
                                    <?php
                                        foreach($this->area as $key => $value)
                                        {
                                    ?>
                                            <option value="<?php echo $key;?>" <?php if(isset($this->params['area_id']) && $this->params['area_id'] ==$key) echo 'selected';?>><?php echo $value;?></option>
                                     <?php
                                        }
                                     ?>
                                </select>
                            </div>
                            <div class="control-group">
                                <label for="department" class="span2">Tỉnh</label>
                               <!--  <input id="name" name="title" type="text" class="input-medium search-query form-control" value=""> -->
                                <select name="province_id" class="province_id">
                                    <option value="">--------Chọn--------</option>
                                    
                                </select>
                            </div>
                             <div class="control-group">
                                <label for="department" class="span2">Title</label>
                               <!--  <input id="name" name="title" type="text" class="input-medium search-query form-control" value="<?php isset($this->params['title']) and printf($this->params['title']);?>"> -->
                                <select name="title" >
                                    <option value="">--------Chọn--------</option>
                                    <?php
                                        $list_title=unserialize(PG_TITLE);
                                        foreach($list_title as $key => $value)
                                        {
                                    ?>
                                            <option value="<?php echo $key;?>" <?php if(isset($this->params['title']) && $this->params['title'] ==$key) echo 'selected';?>><?php echo $value;?></option>
                                     <?php
                                        }
                                     ?>
                                </select>
                            </div>

                            
                             
                        </div>
                    </div>

                    <button type="submit" class="btn btn-primary">Search</button>
                    <button type="reset" class="btn btn-warning">Reset</button>
                </form>
                <style>
                    .birth{width:12%}
                </style>

                <script type="text/javascript" src="/js/jquery-ui-1.8.12.custom.min.js"></script>
                <link rel="stylesheet" type="text/css" href="/css/jquery-ui-1.8.12.custom.css">
                <script src="../js/tag-it.min.js" type="text/javascript" charset="utf-8"></script>
                <link href="../css/jquery.tagit.css" rel="stylesheet" type="text/css">
                <link href="../css/tagit.ui-zendesk.css" rel="stylesheet" type="text/css">

            </div>
        </div>
    </div>
</div>

<div class="table-responsive">
    <style>
    .modal table tr td.span1{
        min-width: 100px!important;
    }
</style>

<table class="table table-bordered">
    <tr>
        <th>#</th>
        <th>Họ tên</th>
        <th>CMND</th>
        <th>Team</th>
        <th>Title</th>
        <th>Joined At</th>
        <th>Khu vực</th>
        <th>Tỉnh</th>
    </tr>
    <?php foreach($this->list as $key=>$value):?>
    
    <tr
    <?php if($value['del'] == 1):?>
    style="background: red"
    <?php endif;?>
    >
        <td>
            <?php 
            $inc = $this->offset + $key + 1;
            echo $inc;
            ?>
        </td>
        <td><?php echo $value['firstname'].' '.$value['lastname'];?></td>
        <td><?php echo $value['cmnd'];?></td>
        <td><?php echo $this->team[$value['team']];?></td>
        <td><?php echo $this->team[$value['title']];?></td>
        <td><?php echo date( 'd/m/Y', strtotime($value['joined_at']) );?></td>
        <td><?php echo $this->area_cache[$value['area_id']];?></td>
        <td><?php echo $this->regional_market[$value['regional_market']];?></td>
    </tr>
    <?php endforeach;?>
</table>

<style type="text/css" media="screen">
    table tr td a{
        margin-left: 3px;
    }
</style>
<div class="paging">
    <?php echo $this->paging($this->total, $this->limit, $this->offset, $this->url);?>
</div>

<script type="text/javascript" src="/js/jquery-ui-1.8.12.custom.min.js"></script>
<link rel="stylesheet" type="text/css" href="/css/jquery-ui-1.8.12.custom.css">
<script src="/public/js/jquery.blockUI.js" type="text/javascript"></script>

<script src="//connect.facebook.net/en_US/all.js"></script>
<script src="//ajax.googleapis.com/ajax/libs/jqueryui/1.8/jquery-ui.min.js"></script>
<link rel="stylesheet" type="text/css" href="//ajax.googleapis.com/ajax/libs/jqueryui/1.7.1/themes/base/jquery-ui.css">


<script>
    $(document).ready(function () {
         $( '.date' ).datepicker({ dateFormat: "yy-mm-dd" });
         $(document).on('change', ".area_id", function() {
            var area_id = $(this).val();
            $.ajax({
                  url: "/bi/ajax-list-store",
                  type: "GET",
                  dataType: "text",
                  context: this,
                  data: "area_province_id="+area_id,
                  beforeSend: function() {
                        $(".loading").show();                   
                    },
                  success: function(result){

                        if(result)
                        {
                            var data = jQuery.parseJSON(result);
                            option = '<option value="">--Chọn--</option>';
                            for(i=0; i< data.area_province.length; i++){
                                option += '<option value="'+data.area_province[i].province_id+'">'+data.area_province[i].province_name+'</option>';
                            }
                            $('.province_id').html(option);
                        }
                        else
                        {   
                            
                        }                    
                  },
                  error:function(){
                      
                  }
            });

        });
       
    var province_id = $('.province_id').val();
    var area_id = $('.area_id').val();
    if(area_id != null){
        loadProvice(area_id,province_id);
    }
    
});
    
function loadProvice(area_id,province_id){
    var area_id = area_id;
    var province_id =province_id;
    $.ajax({
          url: "/bi/ajax-list-store",
          type: "GET",
          dataType: "text",
          context: this,
          data: "area_province_id="+area_id,
          beforeSend: function() {
                $(".loading").show();                   
            },
          success: function(result){

                if(result)
                {
                    var data = jQuery.parseJSON(result);
                    option = '<option value="">--Chọn--</option>';
                    for(i=0; i< data.area_province.length; i++){
                        if(data.area_province[i].province_id == province_id)
                        {
                            option += '<option value="'+data.area_province[i].province_id+'" selected>'+data.area_province[i].province_name+'</option>';
                        }else{
                            option += '<option value="'+data.area_province[i].province_id+'">'+data.area_province[i].province_name+'</option>';
                        }
                    }
                    $('.province_id').html(option);
                }
                else
                {   
                    
                }                    
          },
          error:function(){
              
          }
    });
}

</script>    

<script>


    $( '.date' ).datepicker({ dateFormat: "yy-mm-dd" });
            $("#dialog").dialog({
                autoOpen: false,
                modal: true
            });
            $(".confirmLink").click(function(e) {
                e.preventDefault();
                var targetUrl = $(this).attr("href");

                $("#dialog").dialog({
                    buttons : {
                        "Confirm" : function() {
                            window.location.href = targetUrl;
                        },
                        "Cancel" : function() {
                            $(this).dialog("close");
                        }
                    }
                });

                $("#dialog").dialog("open");
            });
        </script>
        
        <script>
                    $(".sortable,  .paging-link").click(function(e){
                        e.preventDefault();
                        var _self = $(this);
                        var targetUrl = _self.attr("href");

                        //get ajax content
                        if ($(this).parents(".load-ajax").length){
                            $(this).parents("ul").after("<span class='loading'></span>");
                            $.get(targetUrl
                                ,function(data,status){
                                    _self.parents(".load-ajax").html(data);
                                    $(".loading").remove();
                                });
                        } else
                            window.location.href = targetUrl;

                        return false;
                    });
                </script>
<script>
    $(document).ready(function(){
        getInfoPGSALE();
    });
    
    function unblockUI(){
        $.unblockUI();
    }

    function initWaiting(){
        $.blockUI({ css: {
            border: 'none',
            padding: '15px',
            backgroundColor: '#000',
            '-webkit-border-radius': '10px',
            '-moz-border-radius': '10px',
            opacity: .5,
            color: '#fff'
        } });
    }

</script>
</div>
<script type="text/javascript" src="http://center-live.local/js/bootstrap-multiselect.js"></script>
<link rel="stylesheet" href="http://center-live.local/css/bootstrap-multiselect.css" type="text/css">
<script type="text/javascript" src="http://center-live.local/js/jquery-ui-1.8.12.custom.min.js"></script>
<link rel="stylesheet" type="text/css" href="http://center-live.local/css/jquery-ui-1.8.12.custom.css">


<script>
    options = {
        selectAllText: 'Select All',
        includeSelectAllOption: true,
        includeSelectAllIfMoreThan: 3,
        disableIfEmpty: true
    };

    $(document).ready(function () {
        $('.form-search button:reset').click(function (e){
            $('.form-search input, .form-search select').val('');
            $('.form-search').submit();
            return false;
        });

        multi();
    });

    function multi() {
        $('.multiselect').multiselect(options);
    }
</script>
<script>
            $("#dialog").dialog({
                autoOpen: false,
                modal: true
            });
            $(".confirmLink").click(function(e) {
                e.preventDefault();
                var targetUrl = $(this).attr("href");

                $("#dialog").dialog({
                    buttons : {
                        "Confirm" : function() {
                            window.location.href = targetUrl;
                        },
                        "Cancel" : function() {
                            $(this).dialog("close");
                        }
                    }
                });

                $("#dialog").dialog("open");
            });
        </script>
        <div id="dialog" title="Confirmation Required">Are you sure about this?</div>
<script>
    $(".change").change(function(){
        var _self = $(this);
        var id = _self.val();
        var targetUrl = _self.data("href") + id;

        $(_self).parent().nextAll().find(".load-ajax").html("");
        if (id != 0) {
            //get ajax content
            if (_self.parent().next().find(".load-ajax:first").length){
                $(_self).parent().next().find(".load-ajax:first").after("<span class='loading'></span>");
                $.get(targetUrl
                    ,function(data,status){
                        $(_self).parent().next().find(".load-ajax:first").html(data);
                        $(_self).parent().next().find(".loading").remove();
                    });
            }
        }

        return false;
    });
</script>  


