<style>
    .header_tad {
        background:  white! important;
        border-bottom: none;
        box-shadow: 1px 1px 3px 1px #d2e4dd ;
        color: #2AAD6F;
        font-weight: bold;
        transition: 0.3s;
        height: auto;
    }


</style>


<div class="row">
    <div class="span8">


        <div class="container">
            <div class="header_tad" style="background: whitesmoke !important; color:black; font-weight:bold">
                <i class="icon-align-justify"></i> <?php echo $this->campaign['id'] ? 'CHỈNH SỬA' : 'TẠO'; ?> ĐỢT KIỂM TRA <span
                    style="font-size:13px;color:red"></span>
            </div>

            <div  style="padding-top:10px; border: 1px solid #eae2e2" >
                <form id="form">
                    <div class="control-group">
                        <label class="span1"> <b>Tên đợt: </b></label>
                        <input type="text" name="name" value="<?php echo $this->campaign['name']?>">
                    </div>

                    <div class="control-group">
                        <label class="span1"> <b>Từ ngày: </b></label>
                        <input class="date" type="text" name="from_date" value="<?php echo $this->campaign['from_date'] ? date('d/m/Y', strtotime($this->campaign['from_date'])) : ''?>">
                    </div>

                    <div class="control-group">
                        <label class="span1"> <b>Đến ngày: </b></label>
                        <input class="date" type="text" name="to_date" value="<?php echo $this->campaign['to_date'] ? date('d/m/Y', strtotime($this->campaign['to_date'])) : ''?>">
                    </div>

                    <div class="control-group">
                        <label class="span1"> <b>Loại kiểm tra: </b></label>
                      <input type="checkbox" name="inventory" value="1"  <?php echo in_array($this->campaign['type'], [1,3]) ? 'checked' : ''?> > Inventory     &nbsp;&nbsp;
                        <input type="checkbox" name="sellout" value="1" <?php echo in_array($this->campaign['type'], [2,3]) ? 'checked' : ''?> > Sellout
                    </div>


                    <input type="hidden" name="id" value="<?php echo $this->campaign['id']?>">

                    <div style="text-align: center">
                        <button type="submit" class="btn btn-primary">Save</button>
                    </div>
                </form>


            </div>

        </div>
    </div>
</div>

<script type="text/javascript" src="/js/jquery-ui-1.8.12.custom.min.js"></script>
<link rel="stylesheet" type="text/css" href="/css/jquery-ui-1.8.12.custom.css"/>

<script type="text/javascript" src="/js/sweetalert2.all.min.js"></script>

<script>
    $(document).ready(function(){
        $( '.date' ).datepicker({ dateFormat: "dd/mm/yy" });

       $('#form').submit(function (e) {
           e.preventDefault();
           $.ajax({
               url: '/inventory-campaign/save-create-campaign',
               type: 'post',
               data: new FormData(this),
               dataType: 'json',
               success: function (data) {
                   if (data.status === 0) {
                       Swal.fire({
                           type: 'success',
                           title: 'Thành công',
                           showConfirmButton: false,
                           timer: 1500
                       });

                       setTimeout(function() {
                           window.location.href = '/inventory-campaign/list-campaign'
                       },700)
                   } else {
                       Swal.fire({
                           type: 'warning',
                           title: data.message,
                           showConfirmButton: false,
                           timer: 5000
                       });
                   }
               },
               contentType: false,
               cache: false,
               processData: false
           });
       })
    });
</script>

