<style>
    .header_tad {
        background:  white! important;
        border-bottom: none;
        box-shadow: 1px 1px 3px 1px #d2e4dd ;
        color: #2AAD6F;
        font-weight: bold;
        transition: 0.3s;
        height: auto;
    }


</style>


<div class="row">
    <div class="span8">


        <div class="container">
            <div class="header_tad" style="background: whitesmoke !important; color:black; font-weight:bold">
                <i class="icon-align-justify"></i> DANH SÁCH ĐỢT KIỂM TRA <span
                    style="font-size:13px;color:red"></span>
            </div>

            <div  style="padding-top:10px; border: 1px solid #eae2e2" >
                <a href="/inventory-campaign/create-campaign" class="btn btn-primary">Tạo đợt mới</a>
                <table class="table">
                    <thead>
                    <tr>
                        <th>Tên đợt</th>
                        <th>Từ ngày</th>
                        <th>Đến ngày</th>
                        <th>Loại</th>
                        <th>Action</th>
                    </tr>
                    </thead>
                    <tbody>
                    <?php foreach ($this->list as $item): ?>
                        <tr>
                            <td><?php echo $item['name']; ?></td>
                            <td><?php echo $item['from_date'] ? date('d/m/Y', strtotime($item['from_date'])) : '';  ?></td>
                            <td><?php echo $item['to_date'] ? date('d/m/Y', strtotime($item['to_date'])) : '';  ?></td>
                            <td>
                                <?php if ($item['type'] == 1): ?>
                                    &#9679; Inventory
                                <?php endif; ?>

                                <?php if ($item['type'] == 2): ?>
                                    &#9679; Sellout
                                <?php endif; ?>

                                <?php if ($item['type'] == 3): ?>
                                    &#9679; Inventory <br>
                                    &#9679; Sellout
                                <?php endif; ?>
                            </td>
                            <td>
                                <a href="/inventory-campaign/create-campaign?id=<?php echo $item['id']?>"><i class="icon icon-edit"></i></a>&nbsp; &nbsp;
                                <a campaign_id="<?php echo $item['id']?>" style="color: red" href="#" class="btn_delete"><i class="icon icon-trash"></i></a>
                            </td>

                        </tr>
                    <?php endforeach; ?>


                    </tbody>
                </table>
            </div>

            <div class="paging">
                <?php echo $this->paging($this->total, $this->limit, $this->offset, $this->url);?>
            </div>

        </div>
    </div>
</div>

<script type="text/javascript" src="/js/jquery-ui-1.8.12.custom.min.js"></script>
<link rel="stylesheet" type="text/css" href="/css/jquery-ui-1.8.12.custom.css"/>

<script type="text/javascript" src="/js/sweetalert2.all.min.js"></script>

<script>
    $(document).ready(function(){
       $('.btn_delete').click(function () {
           var campaign_id = $(this).attr('campaign_id');
           Swal.fire({
               title: 'Bạn có muốn xóa ?',
               icon: 'warning',
               showCancelButton: true,
               confirmButtonColor: '#3085d6',
               cancelButtonColor: '#d33',
               confirmButtonText: 'Có',
               cancelButtonText: 'Không'
           }).then((result) => {
               if (result.value) {
                   $.ajax({
                       url: '/inventory-campaign/save-delete-campaign',
                       type: 'post',
                       data: {
                           campaign_id: campaign_id
                       },
                       dataType: 'json',
                       success: function (data) {
                           if (data.status === 0) {
                               Swal.fire({
                                   type: 'success',
                                   title: 'Xóa thành công',
                                   showConfirmButton: false,
                                   timer: 1000
                               });
                                setTimeout(function () {
                                    location.reload();
                                }, 700)
                           } else {
                               Swal.fire({
                                   type: 'warning',
                                   title: data.message,
                                   showConfirmButton: false,
                                   timer: 5000
                               });
                           }
                       }
                   });
               }
           })
       })
    });
</script>


