<link rel="stylesheet" type="text/css" href="/css/jquery-ui-1.8.12.custom.css"/>
<link rel="stylesheet" type="text/css" href="/css/jquery.ui.timepicker.css"/>

<form class="form-search form-horizontal" method="get" action="<?php echo HOST ?>hr-report/kpi-setting">
    <div class="control-group">
        <label for="product_name" class="control-label">Product Name</label>
        <div class="controls">
            <input type="text" class="search-query" id="product_name" name="product_name" value="<?php if(isset($this->params['product_name'])) echo $this->params['product_name'];?>">
        </div>
    </div>
    <div class="control-group">
        <label for="policy" class="control-label" >Policy</label>
        <div class="controls">
            <select name="policy_id" id="policy_id" class="search-query">
            <option value="">---</option>
            <?php foreach ($this->policy['data'] as $key => $value): ?>
                <option value="<?php echo $value['id'] ?>" <?php if(isset($this->params['policy_id']) && $this->params['policy_id'] == $value['id']) echo "selected" ?>><?php echo $value['title'] ?></option>
            <?php endforeach ?>
            </select>
        </div>
    </div>
   <div class="control-group">
        <label class="control-label">Area</label>
        <div class="controls">
            <select id="area_id" name="area_id" class="search-query" >
                <option value="">---</option>
                <?php
                if ($this->areas) :
                    foreach ($this->areas as $area):
                        ?>
                        <option value="<?php echo $area->id;?>" <?php if(isset($this->params['area_id']) && $this->params['area_id'] == $area->id) echo "selected" ?>><?php echo $area->name;?></option>
                    <?php
                    endforeach;
                endif;
                ?>
            </select>
        </div>
    </div>
    <div class="control-group">
        <label for="from" class="control-label">From Date</label>
        <div class="controls">
            <input type="text" class="search-query date" id="from" name="from" value="<?php if(isset($this->params['from'])) echo $this->params['from'];?>">
        </div>
    </div>
    <div class="control-group">
        <label for="to" class="control-label">To Date</label>
        <div class="controls">
            <input type="text" class="search-query date" id="to" name="to" value="<?php if(isset($this->params['to'])) echo $this->params['to'];?>">
        </div>
    </div>
    <div class="control-group">
        <label for="type" class="control-label">Title</label>
        <div class="controls">
            <select name="type" id="type" class="search-query">
                <option value>---</option>
                <option value="1" <?php if(isset($this->type) && $this->type == 1) echo "selected"?> >PGPB</option>
                <option value="2" <?php if(isset($this->type) && $this->type == 2) echo "selected"?>>Sale</option>
            </select>
        </div>
    </div>
    <div class="control-group">
        <label for="type" class="control-label">Dealer Type</label>
        <div class="controls">
            <select name="dealer_type" id="dealer_type" class="search-query">
                <option value>---</option>
                <option value="1"  <?php if(isset($this->dealer_type) && $this->dealer_type == 1) echo "selected"?> >KA</option>
                <option value="2"  <?php if(isset($this->dealer_type) && $this->dealer_type == 2) echo "selected"?> >IND</option>
            </select>
        </div>
    </div>
    <div class="control-group">
        <label for="type" class="control-label">TGDĐ</label>
        <div class="controls">
            <select name="is_tgdd" id="is_tgdd" class="search-query">
                <option value>---</option>
                <option value="1" <?php if(isset($this->is_tgdd) && $this->is_tgdd == 1) echo "selected"?> >TGDĐ</option>
                <!-- <option value="0" <?php if(isset($this->is_tgdd) && $this->is_tgdd == 0) echo "selected"?> >Not TGDĐ</option> -->
            </select>
        </div>
    </div>
    <div class="control-group">
        <button type="submit" class="btn btn-primary">Search</button>
        <button type="button" name="export" value="1" class="btn btn-success">Export</button>
        <button type="reset" class="btn btn-warning">Reset</button>
    </div>
</form>
<script type="text/javascript" src="/js/jquery-ui-1.8.12.custom.min.js"></script>
<script type="text/javascript" src="/js/jquery.ui.timepicker.js"></script>


<script>
    $(document).ready(function () {
        $( '.date' ).datepicker({ dateFormat: "dd/mm/yy" });

        $('.form-search button:reset').click(function (e){
            $('.form-search input, .form-search select').val('');
            $('.form-search').submit();
            return false;
        });
    });
</script>

