<link rel="stylesheet" type="text/css" href="/css/jquery-ui-1.8.12.custom.css"/>
<link rel="stylesheet" type="text/css" href="/css/jquery.ui.timepicker.css"/>

<form class="form-search form-horizontal" method="get" action="<?php echo HOST ?>hr-report/settings">
    <div class="control-group">
        <label for="name" class="control-label">Name</label>
        <div class="controls">
            <input type="text" class="search-query" id="name" name="name" value="<?php if(isset($this->params['name'])) echo $this->params['name'];?>">
        </div>
    </div>
    <div class="control-group">
        <label for="product_name" class="control-label">Product Name</label>
        <div class="controls">
            <input type="text" class="search-query" id="product_name" name="product_name" value="<?php if(isset($this->params['product_name'])) echo $this->params['product_name'];?>">
        </div>
    </div>
   <!--  <div class="control-group">
        <label for="cat" class="control-label">Categories</label>
        <div class="controls">
            <select name="cat" id="cat" class="search-query">
                <option value>---</option>
                <?php foreach ($this->cat as $key => $value): ?>
                    <option value="<?php echo $key ?>" <?php if(isset($this->params['cat']) && $this->params['cat'] == $key) echo "selected" ?>><?php echo $value ?></option>
                <?php endforeach ?>
            </select>
        </div>
    </div> -->
    <div class="control-group">
        <label for="policy" class="control-label" >Policy</label>
        <div class="controls">
            <select name="policy_id" id="policy_id" class="search-query">
            <option value="">---</option>
            <?php foreach ($this->policy['data'] as $key => $value): ?>
                <option value="<?php echo $value['id'] ?>" <?php if(isset($this->params['policy_id']) && $this->params['policy_id'] == $value['id']) echo "selected" ?>><?php echo $value['title'] ?></option>
            <?php endforeach ?>
            </select>
        </div>
    </div>
   <div class="control-group">
        <label class="control-label">Area</label>
        <div class="controls">
            <select id="area_id" name="area_id" class="search-query" >
                <option value="">---</option>
                <?php
                if ($this->areas) :
                    foreach ($this->areas as $area):
                        ?>
                        <option value="<?php echo $area->id;?>" <?php if(isset($this->params['area_id']) && $this->params['area_id'] == $area->id) echo "selected" ?>><?php echo $area->name;?></option>
                    <?php
                    endforeach;
                endif;
                ?>
            </select>
        </div>
    </div>
    <div class="control-group">
        <label for="from" class="control-label">From Date</label>
        <div class="controls">
            <input type="text" class="search-query date" id="from" name="from" value="<?php if(isset($this->params['from'])) echo $this->params['from'];?>">
        </div>
    </div>
    <div class="control-group">
        <label for="to" class="control-label">To Date</label>
        <div class="controls">
            <input type="text" class="search-query date" id="to" name="to" value="<?php if(isset($this->params['to'])) echo $this->params['to'];?>">
        </div>
    </div>
    <div class="control-group">
        <label for="type" class="control-label">KPI For</label>
        <div class="controls">
            <select name="type" id="type" class="search-query">
                <option value>---</option>
                <?php foreach (My_Kpi_Object::$name as $key => $value): ?>
                    <option value="<?php echo $key ?>" <?php if(isset($this->params['type']) && $this->params['type'] == $key) echo "selected" ?>><?php echo $value ?></option>
                <?php endforeach ?>
            </select>
        </div>
    </div>
    <div class="control-group">
        <button type="submit" class="btn btn-primary">Search</button>
        <button type="reset" class="btn btn-warning">Reset</button>
        <button type="submit" class="btn btn-success" value="1" name="export">Export</button>
    </div>
</form>

<script type="text/javascript" src="/js/jquery-ui-1.8.12.custom.min.js"></script>
<script type="text/javascript" src="/js/jquery.ui.timepicker.js"></script>

<script>
    $(document).ready(function () {
        $( '.date' ).datepicker({ dateFormat: "dd/mm/yy" });

        $('.form-search button:reset').click(function (e){
            $('.form-search input, .form-search select').val('');
            $('.form-search').submit();
            return false;
        });
    });
</script>