<?php 
    if(isset($this->list) && $this->list){
        $id = $this->list['id'];
        $firstname = $this->list['firstname'];
        $lastname = $this->list['lastname'];
        $cmnd = $this->list['cmnd'];
        $region = $this->list['region'];
    }
    
    if(isset($this->list_null) && $this->list_null){
        $id_null = $this->list_null['id'];
        $firstname_null = $this->list_null['firstname'];
        $lastname_null = $this->list_null['lastname'];
        $cmnd_null = $this->list_null['cmnd'];
    }
?>
<?php if(isset($id_null) && $id_null): ?>
<?php foreach ($id_null as $key => $value): ?>
    <tr>
        <td><input type="text" name="hovaten[]" /></td>
        <td><?php echo $cmnd_null[$key]; ?><input type="hidden" name="cmnd[]" value="<?php echo $cmnd_null[$key];?>" /></td>
        <td><?php echo $cmnd_null[$key]; ?></td>
        <td>
            <select name="area[]">
                <?php if(isset($this->area) && $this->area): ?>
                <?php foreach ($this->area as $_key => $_value): ?>
                    <option value="<?php echo $_value['id'];?>"><?php echo $_value['name'];?></option>
                <?php endforeach ?>
                <?php endif; ?>
            </select>
        </td>
    </tr>
<?php endforeach ?>
<?php endif; ?>


<?php if(isset($id) && $id): ?>
<?php foreach ($id as $key => $value): ?>
    <tr>
        <td><?php echo $firstname[$key]." ".$lastname[$key];?></td>
        <td><?php echo $cmnd[$key]; ?></td>
        <td><?php echo "******"; ?></td>
        <td>
            <select>
                <option><?php echo $region[$key];?></option>
            </select>
        </td>
    </tr>
<?php endforeach ?>
<?php endif ?>






