    <style>
        @media screen and (max-device-width:480px){
            .control-label{text-align: left !important; padding: 0px !important;}
            #category{width: 100% !important;}
            .control-label{margin-left: 5%;}
        }
    </style>

	<div class="right-page bg-white" style="margin: auto">
		<div class='title'>
		  <h1>Chủ đề</h1>
        </div>
        
        
		<form class="form-horizontal content_post col-md-12" name="create_lesson" method="post" action="<?php echo HOST.'training/create-cat';?>">
            <ol class="breadcrumb_new">
              <li><a href="#">Thông tin chủ đề</a></li>
              <?php if (isset($this->inform)): ?>
              <a href="<?php echo HOST ?>training/create-cat" class="btn btn-info navbar-btn btn_addques btn_right">Thêm chủ đề</a>
              <?php endif;?>
            </ol>
          <div class="content_page">
          <div class="form-group">
			<label for="title" class="col-sm-3 control-label">Tiêu đề</label>
			<div class="col-sm-7">
                <input type="hidden" name="id" value="<?php if (isset($this->inform)): echo $this->inform->id; endif;?>" />
			  <input type="text" name="title" class="form-control" value="<?php if (isset($this->inform)): echo $this->inform->title; endif;?>" id="title" placeholder="Tiêu đề" required />
			</div>
		  </div>
          
          <div class="form-group">
			<label for="inputEmail3" class="col-sm-3 control-label">Thuộc nhóm chủ đề</label>
			<div class="col-sm-7">
			  <select class="form-control" id="category" name="cat">
                    <?php if (isset($this->catParam) && $this->catParam): ?>
                        <option value="<?php echo $this->catParam->id;?>"><?php echo $this->catParam->title;?></option>
                    <?php endif; ?>
                    <option value="0">Root</option>
                  <?php if (isset($this->category) && $this->category): ?>
                        <?php foreach ($this->category as $key => $value): ?>
                            <option value="<?php echo $value['id'];?>"><?php echo $value['title'];?></option>
                        <?php endforeach ?>
                  <?php endif ?>
                </select>
			</div>
		  </div>
          
          <div class="form-group">
			<label for="title" class="col-sm-3 control-label">STT</label>
			<div class="col-sm-4">
			  <input type="text" name="stt" class="form-control" value="<?php if (isset($this->inform)): echo $this->inform->stt; endif;?>" id="title" placeholder="Số thứ tự" required />
			</div>
            <label for="title" class="col-sm-1 control-label">New</label>
            <div class="col-sm-2">
			  <input type="checkbox" name="new" value="1" <?php if (isset($this->inform) && ($this->inform->new == 1)): echo "checked"; endif;?> style="width: 20px;height: 20px;cursor: pointer;" />
			</div>
		  </div>
          
    
  

		  <div class="form-group">
			<label for="inputPassword3" class="col-sm-3 control-label"></label>
			<div class="col-sm-offset-2 col-sm-7" style="float: left">
			  <button type="submit" class="btn btn-danger navbar-btn"><?php if (isset($this->inform)): echo "Sửa";else: echo "Thêm"; endif;?></button>
			</div>
		  </div>
          
		  </div>
		</form>
        
	</div>
</div>

