
<div class="content">
	<div class="left-page">
		<div class='title'>
			<div class="profile">
                <div class="profile_pic bs-glyphicons-list">
					  <span class="glyphicon glyphicon-user" aria-hidden="true"></span>
                      <div class='user'>
                        <span>Welcome,</span>
                        <h2>User Admin</h2>
                      </div>
                </div>
                <div class="profile_info">
                    <span>Administrator</span>
                </div>
            </div>
		</div>
		<div class="cat">
			<div class="box_categories">
				<div id="cssmenu">
				<ul>
					<li><a href=""><span class="glyphicon glyphicon-equalizer" aria-hidden="true"></span> Admin</a></li>
					<li class="has-sub"><a class="current"><span class="glyphicon glyphicon-object-align-horizontal" aria-hidden="true"></span> Website</a>
						<ul>
							<li><a href="<?php echo HOST ?>training/lesson">Danh sách bài học</a>
                                <li class="has-sub"><a>Nhóm bài học 1</a>
    								<ul>
    									<li class="has-sub"><a>Bài học 1</a>
    										<ul>
    											<li><a href="">Bài học 1.2, Bài học 1.2, Bài học 1.2</a></li>
    											<li><a href="">Bài học 1.3</a></li>
    											<li><a href="">Bài học 1.4</a></li>
    										</ul>
    									</li>
    									<li><a href="">Bài học 2</a></li>
    									<li><a href="">Bài học 3</a></li>
    								</ul>
    							</li>
                            </li>
                            <li><a href="<?php echo HOST ?>training/create">Thêm bài học</a></li>
						</ul>
					</li>
					<li><a href=""><span class="glyphicon glyphicon-user" aria-hidden="true"></span> Đăng ký User</a></li>
					<li><a href=""><span class="glyphicon glyphicon-bookmark" aria-hidden="true"></span> Trainer quản lý</a></li>
                    <li><a href=""><span class="glyphicon glyphicon-knight" aria-hidden="true"></span> User quản lý</a></li>
				</ul>
				</div>
			</div>
		</div><!-- cat-->
	</div>
	
	
	<div class="right-page">
		<div class='title'>
		  <h1>Đăng bài học</h1>
        </div>
        
        
		<form class="form-horizontal content_post col-md-12" method="post" action="<?php echo HOST.'training/editLesson?id='.$this->inform->id;?>">
            <ol class="breadcrumb">
              <li><a href="#">Training Online</a></li>
              <li class="active">Đăng bài học</li>
            </ol>
          <div class="content_page">
          <div class="form-group">
			<label for="title" class="col-sm-3 control-label">Tiêu đề</label>
			<div class="col-sm-7">
			  <input type="text" name="title" class="form-control" value="<?php if (isset($this->inform)): echo $this->inform->title; endif;?>" id="title" placeholder="Tiêu đề" required />
			</div>
		  </div>
          
          <div class="form-group">
			<label for="inputEmail3" class="col-sm-3 control-label">Danh mục</label>
			<div class="col-sm-6">
			  <select class="form-control" id="category" name="cat">
                  <?php if (isset($this->category_string_cache) && $this->category_string_cache): ?>
                        <?php foreach ($this->category_string_cache as $key => $value): ?>
                            <option value="<?php echo $key ?>"
                                    <?php if (isset($this->inform['cat_id']) && $this->inform['cat_id'] == $key) echo "selected" ?>><?php 
                                    echo $value ?></option>
                        <?php endforeach ?>
                  <?php endif ?>
                </select>
			</div>
            <div class="col-sm-1">
                <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#catModal" data-whatever="@mdo">+</button>
            </div>
		  </div>
          
		  <div class="form-group">
			<label class="col-sm-3 control-label">Post Slide(.ppt):</label>
			<div class="col-sm-9">
                <div class="upload_files">
                <div class="row-fluid file_list">
                    <?php if (isset($this->files) && $this->files): ?>
                        <?php foreach ($this->files as $key => $value): ?>
                            <div class="span2 file_item">
                                <?php $hash = hash("sha256", md5($this->userStorage->id) . $value['name'] . $value['id']); ?>
                                <?php $src = HOST . 'download/lesson?id='. $value['id'] . '&filename='. $value['name'].'&hash='. $hash ?>
            
                                <a href="<?php echo $src ?>" class="thumbnail">
                                    <?php if ( preg_match('/\.(jpg)|(png)|(jpeg)$/', $value['name']) ): ?>
                                        <img src="<?php echo $src ?>" alt="<?php echo $value['file_display_name'] ?>">
                                    <?php else: ?>
                                        <span><i class="icon-file"></i></span>
                                    <?php endif ?>
                                </a>
                                <p class="attachment_name"><?php echo $value['file_display_name'] ?></p>
                            </div>
                        <?php endforeach ?>
                    <?php endif ?>
                </div>
                
                <p><strong>Kích thước file phải nhỏ hơn 5MB</strong></p>
                <div class="file-uploader"></div>
                <input type="hidden" name="photo" />
                <input type="hidden" class="onprogress" />
                <p class="help-block"></p>
                </div>
			</div>
		  </div>
		  <div class="form-group">
			<label for="youtube" class="col-sm-3 control-label">Post Youtube(link):</label>
			<div class="col-sm-7">
			  <input type="text" class="form-control" value='<?php if (isset($this->inform)): echo $this->inform->youtube; endif;?>' name='youtube' id="youtube" placeholder="Post Youtube(link)"/>
			</div>
		  </div>
		  <div class="form-group">
			<label for="editor" class="col-sm-3 control-label">Nội dung:</label>
			<div class="col-sm-7">
			  <textarea class="form-control" name="content" rows="10" id="editor"><?php isset($this->inform) and print($this->inform->content);?></textarea>
			</div>
		  </div>
		  
		  <div class='ques_wrap'>
            <?php if (!isset($this->question) || count($this->question) == 0): ?>
            <div class='form_ques'>
			  <div class="form-group">
				<label for="inputPassword3" class="col-sm-3 control-label">Câu hỏi 1:</label>
				<div class="col-sm-5">
					<div class="input-group">
					  <span class="input-group-addon" id="basic-addon1">Câu hỏi:</span>
					  <input type="text" class="form-control question" placeholder="Câu hỏi" name="question_choice[]"/>
					</div>                
				</div>
                <div class="col-sm-2">
					<div class="input-group">
					  <span class="input-group-addon" id="basic-addon1">Điểm:</span>
					  <input type="text" class="form-control" name="scores[]" placeholder="Điểm"/>
					</div>                
				</div>
			  </div>
                
              <div class="form_answer">
    			  <div class="form-group">
    				<label for="inputPassword3" class="col-sm-3 control-label"></label>
    				<div class="col-sm-5">
    					<div class="input-group">
    					  <span class="input-group-addon" id="basic-addon1"><input type="checkbox" class="check" name="true_falseA[]" value="1"/> Đáp án 1</span>
    					  <input type="text" class="form-control answer" placeholder=" Đáp án"/>
    					</div>
    				</div>
                    
    			  </div>
    			  
    			  <div class="form-group">
    				<label for="inputPassword3" class="col-sm-3 control-label"></label>
    				<div class="col-sm-5">
    					<div class="input-group">
    					  <span class="input-group-addon" id="basic-addon1"><input type="checkbox" class="check" name="true_falseB[]" value="1"/> Đáp án 2</span>
    					  <input type="text" class="form-control answer" placeholder=" Đáp án"/>
    					</div>
    				</div>
    			  </div>
                  
                 
    			  
    			  <div class="form-group">
    				<label for="inputPassword3" class="col-sm-3 control-label"></label>
    				<div class="col-sm-5">
    					<div class="input-group">
    					  <span class="input-group-addon" id="basic-addon1"><input type="checkbox" class="check" name="true_falseC[]" value="1"/> Đáp án 3</span>
    					  <input type="text" class="form-control answer" placeholder=" Đáp án"/>
    					</div>
    				</div>
    			  </div>
    			  
    			  <div class="form-group">
    				<label for="inputPassword3" class="col-sm-3 control-label"></label>
    				<div class="col-sm-5">
    					<div class="input-group">
    					  <span class="input-group-addon" id="basic-addon1"><input type="checkbox" class="check" name="true_falseD[]" value="1"/> Đáp án 4</span>
    					  <input type="text" class="form-control answer" placeholder=" Đáp án"/>
    					</div>
    				</div>
    			  </div>
                </div>
                
                <div class="form-group">
    				<label for="inputPassword3" class="col-sm-3 control-label"></label>
    				<div class="col-sm-4">
    					<div class="input-group">
    					  <button type="button" class="btn btn-info navbar-btn btn_addanswer">+</button>
    					</div>
    				</div>
    			  </div>

                <div class="remove_quess">X</div>
                <input type="hidden" class="data_answer" name="data_answer[]"/>
                <input type="hidden" class="data_check" name="data_check[]"/>
		  </div>
          <?php endif ?>
          
            <?php if (isset($this->question) && $this->question): ?>
            <?php foreach ($this->question as $key => $value): ?>
            <div class='form_ques'>
			  <div class="form-group">
				<label for="inputPassword3" class="col-sm-3 control-label">Câu hỏi 1:</label>
				<div class="col-sm-5">
					<div class="input-group">
					  <span class="input-group-addon" id="basic-addon1">Câu hỏi:</span>
					  <input type="text" class="form-control question" placeholder="Câu hỏi" name="question_choice[]" value="<?php echo $value['content'];?>"/>
					</div>                
				</div>
                <div class="col-sm-2">
					<div class="input-group">
					  <span class="input-group-addon" id="basic-addon1">Điểm:</span>
					  <input type="text" class="form-control" name="scores[]" placeholder="Điểm" value="<?php echo $value['scores'];?>"/>
					</div>                
				</div>
			  </div>
                
              <div class="form_answer">
                  <?php if (isset($this->answer["$key"]) && $this->answer["$key"]): ?>
                  <?php foreach ($this->answer["$key"] as $_key => $_value): ?>
    			  <div class="form-group">
    				<label for="inputPassword3" class="col-sm-3 control-label"></label>
    				<div class="col-sm-5">
    					<div class="input-group">
    					  <span class="input-group-addon" id="basic-addon1"><input type="checkbox" class="check" name="true_falseA[]" value="1"/> Đáp án 1</span>
    					  <input type="text" class="form-control answer" value="<?php echo $_value['title'];?>" placeholder=" Đáp án"/>
    					</div>
    				</div>
    			  </div>
                  <?php endforeach ?>
                  <?php endif ?>
                </div><!-- form_answer-->
                <div class="form-group">
    				<label for="inputPassword3" class="col-sm-3 control-label"></label>
    				<div class="col-sm-4">
    					<div class="input-group">
    					  <button type="button" class="btn btn-info navbar-btn btn_addanswer">+</button>
    					</div>
    				</div>
    			  </div>

                <div class="remove_quess">X</div>
                <input type="hidden" class="data_answer" name="data_answer[]"/>
                <input type="hidden" class="data_check" name="data_check[]"/>
		  </div><!-- form_ques-->
          <?php endforeach ?>
          <?php endif ?>
		  
		  </div><!-- ques_wrap-->
		  
		  <div class="form-group">
			<label class="col-sm-8"></label>
			<div class="col-sm-offset-2 col-sm-2">
			  <button type="button" class="btn btn-info navbar-btn btn_addques">Thêm câu hỏi</button>
			</div>
		  </div>
		  
			<div class="form-group">
				<label for="inputPassword3" class="col-sm-3 control-label">Tự luận:</label>
				<div class="col-sm-5">
					<div class="input-group">
					  <span class="input-group-addon" id="basic-addon1">Câu hỏi tự luận:</span>
					  <input type="text" class="form-control" name='question' placeholder="Câu hỏi tự luận" value='<?php if (isset($this->inform)): echo $this->inform->question; endif;?>'>
					</div>
				</div>
			  </div>
		  
		  <div class="form-group">
			<label for="inputPassword3" class="col-sm-3 control-label">Bình luận:</label>
			<div class="col-sm-5">
				<input type="checkbox" class="check_comment" name="comment" value="1" <?php if (isset($this->inform) && ($this->inform->comment == 1)): echo "checked"; endif;?>/>
			</div>
		  </div>
		  
		  <div class="form-group">
			<label for="inputPassword3" class="col-sm-3 control-label"></label>
			<div class="col-sm-offset-2 col-sm-7">
			  <button type="submit" class="btn btn-danger navbar-btn">Đăng bài</button>
			</div>
		  </div>
          
		  </div>
		</form>
        
	</div>
</div>


<link rel="stylesheet" type="text/css" href="<?php echo HOST ?>js/file-uploader/fileuploader.css"/>
<script src="<?php echo HOST ?>js/file-uploader/fileuploader.js" type="text/javascript"></script>
<script type="text/javascript" src="<?php echo HOST?>ckeditor/ckeditor.js"></script>
<script src="<?php echo HOST ?>js/jsrender.min.js"></script>


<script>
$(document).ready(function(){    

    $("form").submit(function (e){
        //e.preventDefault();
        $('.form_ques').each(function(i, obj) {
            var data = [];   
            $(this).find('.answer').each(function(i, obj) {
                var a = $(this).val();
                data.push(a);
            });
            $(this).find('.data_answer').val(JSON.stringify(data));
            
            var check = [];   
            $(this).find('.check').each(function(i, obj) {
                if($(this).is(':checked')){
                    check.push('1');
                }
                else{
                    check.push('0');
                }
            });
            $(this).find('.data_check').val(JSON.stringify(check));     
        });
        return true;
    })    
                   
            
});
</script>

<script>
config = {};
config.toolbar = [
	{ name: 'clipboard', groups: [ 'clipboard', 'undo' ], items: [ 'Cut', 'Copy', 'Paste', 'PasteText', 'PasteFromWord', '-', 'Undo', 'Redo' ] },
	{ name: 'basicstyles', groups: [ 'basicstyles', 'cleanup' ], items: [ 'Bold', 'Italic', 'Underline', 'Strike', 'Subscript', 'Superscript', '-', 'RemoveFormat' ] },
	{ name: 'about', items: [ 'Source' ] },
	'/',

	{ name: 'paragraph', groups: [ 'list', 'indent', 'blocks', 'align', 'bidi' ], items: [ 'NumberedList', 'BulletedList', '-', 'Outdent', 'Indent', '-', 'Blockquote', 'CreateDiv', '-', 'JustifyLeft', 'JustifyCenter', 'JustifyRight', 'JustifyBlock', '-', 'BidiLtr', 'BidiRtl', 'Language' ] },
	{ name: 'links', items: [ 'Link', 'Unlink', 'Anchor' ] },
	{ name: 'insert', items: [ 'Image', 'Flash', 'Table', 'HorizontalRule', 'Smiley', 'SpecialChar', 'PageBreak', 'Iframe' ] },
	'/',
	{ name: 'styles', items: [ 'Styles', 'Format', 'Font', 'FontSize' ] },
	{ name: 'colors', items: [ 'TextColor', 'BGColor' ] },
	{ name: 'tools', items: [ 'Maximize', 'ShowBlocks' ] },
	{ name: 'others', items: [ '-' ] }
];

    CKEDITOR.replace( 'editor' , config);
</script>


<script id="file_item_div" type="text/x-jsrender">
    <div class="span2 file_item">
        <div class="thumbnail">
            <span><i class="icon-file"></i></span>
        </div>
        <p class="attachment_name">{{:file_display_name}}</p>

        <input type="hidden" name="nfile_id[]" value="" />
        <input type="hidden" name="key[]" value="{{:keypass}}" />
        <input type="hidden" name="file_id[]" value="{{:file_id}}" />
        <input type="hidden" name="hash[]" value="{{:hashstr}}" />
    </div>
</script>

<script id="alert_div" type="text/x-jsrender">
    <div class="alert alert-{{:type}}">
        <button type="button" class="close" data-dismiss="alert">&times;</button>
        {{:message}}
    </div>
</script>

<script type="text/javascript">
    $(document).ready(function () {
        $new_category_modal = $("#catModal");

        $("#add_category_btn").click(show_new_category_modal);
        $("#save_category_btn").click(save_category);
        init_uploader();
       

        $('.go-back').click(function(e){
            window.location.href = $('#back_url').val();

            return false;
        });

        $( "#s_name" ).keypress(function( event ) {
            if ( event.which == 13 ) {
                event.preventDefault();
                $('.loading').remove();
                var _self = $(this);
                var targetUrl = '<?php echo HOST."staff?sname=1&name=" ?>' + $('#s_name').val();

                //get ajax content
                var aj = _self.parent().parent().next().find('.load-ajax');
                if (aj.length){
                    _self.after("<span class=\'loading\'></span>");
                    $.get(targetUrl
                        ,function(data,status){
                            aj.html(data);
                            _self.next('.loading').remove();
                        });
                }

                return false;
            }
        });

        $('#add_pg_btn').click(function(){
            _self = $('#name_result');
            item = _self.children('option:selected').clone();
            list = $(item);

            for (var i = 0; i < item.length; i++) {

                if ( ! is_exists( $(item[i]).attr('value'), false) ) {
                    _des = $('#pg_name');
                    _des.append(item[i]);
                }
            }
        });

        $('#remove_pg_btn').click(function(){
            _self = $('#pg_name');
            item = _self.children('option:selected').remove();

            _name = $('#pg_name option');
            id_str = '';

            for(var i = 0; i < _name.length; i++) {
                id_str += $(_name[i]).attr('value') + ',';
            }

            id_str = id_str.replace(/\,$/, '');
            $('#pic').val(id_str);
        });

        $('#form').submit(function(event){
            event.preventDefault();
            _name = $('#pg_name option');
            id_str = '';

            for(var i = 0; i < _name.length; i++) {
                id_str += $(_name[i]).attr('value') + ',';
            }

            id_str = id_str.replace(/\,$/, '');
            $('#pic').val(id_str);

            $(this).unbind( event );

            //submit
            $(this).submit();

        });


    });

	function is_exists(id, is_leader) {
        if(is_leader) {
            _des = $('#leader_name');
        } else {
            _des = $('#pg_name');
        }

        items = _des.children('option');
        for(var i = 0; i < items.length; i++) {
            if ($(items[i]).attr('value') == id) {
                return true;
            }
        }
        return false;
    }

    function palert(msg){
        $('.alert-error').remove();
        $('.page-header').after('<div class="alert alert-error">'+msg+'</div>');
        $('form button[type=submit]').prop('disabled', false);
        return;
    }

    function show_new_category_modal(e) {
        $new_category_modal.modal({backdrop: 'static'})
    }
    
    function init_uploader() {
        $('.file-uploader').each(function (){
            var _self = $(this);
            var uploader = new qq.FileUploader({
                element: _self[0],
                action: '<?php echo HOST ?>training/slide-lesson',
                multiple: false,
                allowedExtensions: ['jpg', 'jpeg', 'png', 'pdf', 'doc', 'docx', 'xls', 'xlsx', 'ppt', 'pptx', 'zip', 'rar'],
                sizeLimit: 5 * 1024 * 1024,
                onProgress: function(id, fileName, loaded, total){
                    $('.fix-msg').addClass('show');

                    $("form").submit(function (e) {
                        e.preventDefault();
                    });

                    $(window).on('beforeunload', function() {
                        return 'Please wait your upload proccess complete!';
                    });
                },
                onComplete: function(id, fileName, responseJSON){
                    if ( responseJSON.success==true ){
                        var template = $.templates("#file_item_div");

                        try {
                            var htmlOutput = template.render(responseJSON);
                            $(".file_list").append(htmlOutput);
                        } catch(err) {}
                    }

                    $("form").unbind('submit');

                    window.onbeforeunload = null;

                    $('.fix-msg').removeClass('show');
                },
                onCancel: function(id, fileName){},
                onError: function(id, fileName, xhr){}
            });
        });
    }

    function save_category(e) {
        console.log(e.target);
        name = $("#category_name").val().trim();
        current_category = $('#category').val();
        $(".loading").remove();
        var template = $.templates("#alert_div");

        if (!name) {
            $(".alert").remove();
            
            try {
                var htmlOutput = template.render({
                                        type: "danger", 
                                        message: "Tên danh mục không được để trống"
                                    });
                $new_category_modal.find(".modal-body").append(htmlOutput);
            } catch(err) {}

            return false;
        }

        $("#category_name").after('<span class="loading"></span>');

        try {
            $.ajax({
                url: '<?php echo HOST ?>training/category-save',
                type: 'post',
                dataType: 'json',
                data: {
                    name: name,
                },
            })
            .done(function(data) {
                console.log("success");

                if (typeof data.error === "undefined" && data.type && data.message) {
                    var htmlOutput = template.render({
                                            type: data.type, 
                                            message: data.message
                                        });
                    $new_category_modal.find(".modal-body").append(htmlOutput);

                    if (typeof data.new_data !== "undefined" && data.new_data) {
                        $("#category option").not(':first').remove();
                        $("#category_parent option").not(':first').remove();

                        for (cat_id in data.new_data) {
                            option_modal = '<option value="'+cat_id+'">'
                                            + data.new_data[cat_id]
                                            + '</option>';
                            option_ = '<option value="'+cat_id+'" '
                                            + (cat_id == current_category ? 'selected' : '')
                                            + '>'
                                            + data.new_data[cat_id]
                                            + '</option>';

                            $("#category_parent").append(option_modal);
                            $("#category").append(option_);
                        }
                    }

                    if (data.type == "success") {
                        setTimeout(function() {
                            $("#category_name").val('');
                            $("#category_parent").val('');
                            $(".alert").remove();
                            $new_category_modal.modal('hide');
                        }, 2000);
                    }

                } else {
                    var htmlOutput = template.render({
                                            type: "danger", 
                                            message: "Error"
                                        });
                    $new_category_modal.find(".modal-body").append(htmlOutput);
                }
            }) // END done
            .fail(function() {
                console.log("error");
            })
            .always(function() {
                console.log("complete");
                $(".loading").remove();
            });
        } catch (err) {}   
    }
    

    
</script>
<div class="modal fade" id="catModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="exampleModalLabel">Thêm danh mục</h4>
      </div>
      <div class="modal-body">
        <form>
          <div class="form-group">
            <label for="recipient-name" class="control-label">Tên danh mục:</label>
            <input type="text" id="category_name" class="form-control" id="recipient-name">
            
          </div>

        </form>
      </div>
      <div class="modal-footer">
        <button type="button" id="save_category_btn" class="btn btn-primary">Thêm</button>
        <button type="button" class="btn btn-default" data-dismiss="modal">Đóng</button>
      </div>
    </div>
  </div>
</div>






