<style>
@media screen and (max-device-width:480px){
    .right-page{display: none;}
}
    .title_banner{
        background: url(<?php echo HOST ?>img/line.png) repeat-x center;
        background-size: 1px;
        text-align: center;
        width: 100% !important;
        font-size: 17px;
        line-height: 35px;background-size: 1px;
        margin-bottom: 16px;
    }
</style>

<div class="right-page" id="home" style="margin: auto; background-color: #fff">
    <div class="page-header">
        <form action="<?php echo HOST;?>training/lesson" method="GET">
            <h1>ONLINE TRAINING </h1>
            <div class="input-group col-md-4 pull-right" style="margin-right: 5%;">
                <input type="text" name="key" class="form-control" placeholder="Nhập tên bài học...">
                <span class="input-group-btn">
                    <button class="btn btn-success" type="submit">Tìm kiếm</button>
              </span>
            </div><!-- /input-group -->
        </form>
    </div>

    <div class="home">
        <div class="content_post col-md-12">
            <div class="banner">
                <div class='slider'>
            		<div class="flexslider">
                      <ul class="slides">
                          <?php if(isset($this->dataBanner) && $this->dataBanner): ?>  
                          <?php foreach($this->dataBanner as $key=>$value): ?>
                          <li>
                              <a href="<?php echo $value['title'];?>">
          	    	            <img src="<?php if(isset($value['file_name']) and !empty($value['file_name'])) printf(HOST.'photo/lesson/banner/'.$value['id'].'/'.$value['file_name']);  ?>" alt="" />
 	    		              </a>     
                          </li>
                          <?php endforeach; ?>
                          <?php endif; ?>
                      </ul>
                    </div>
                </div>
            </div><!-- banner-->
            <div class="content_home">
                <div class="block_lesson row">
                    <div class="title_banner"><span style="background-color: #FFFFFF; padding: 5px;">BÀI MỚI</span></div>
                    <div class="content_bl row" style="margin: auto !important;">
                        <?php if(isset($this->dataNew) && $this->dataNew): ?>
                        <?php foreach($this->dataNew as $key=>$value): ?>
                        <div class="lesson col-md-3">
                            <div class='lesson_wrap'>
                                <div class="img_wrap">
                                <?php if (isset($value['file_photo']) && $value['file_photo']): ?>
                                        <img class="lesson-photo" src="<?php if(isset($value['file_photo']) and !empty($value['file_photo'])) printf(HOST.'photo/lesson/'.$value['id'].'/'.$value['file_photo']);  ?>" />
                                <?php else: ?>
                                        <img src="/img/lesson.png" alt="lesson" />
                                <?php endif; ?>
                                </div>
                                <div class="description">
                                    <div class="title_lesson"><?php echo $value['title'];?></div>
                                    <div class="cat_lesson"><span class="glyphicon glyphicon-phone"></span> <?php echo $value['title_cat'];?></div>
                                </div>
                                <a href="<?php echo HOST;?>/training/lesson-details?id=<?php echo $value['id'];?>"><span class="glyphicon glyphicon-ok"></span> Bắt đầu học</a>
                            </div>
                        </div>
                        <?php endforeach; ?>
                        <?php endif; ?>
                    
                    </div>
                </div><!-- block_lesson-->
                
                <div class="block_lesson row">
                    <div class="title_banner"><span style="background-color: #fafafa; padding: 5px;">NỔI BẬT</span></div>
                    <div class="content_bl row">
                        <?php if(isset($this->dataHot) && $this->dataHot): ?>
                        <?php foreach($this->dataHot as $key=>$value): ?>
                        <div class="lesson col-md-3">
                            <div class='lesson_wrap'>
                                <div class="img_wrap">
                                <?php if (isset($value['file_photo']) && $value['file_photo']): ?>
                                        <img class="lesson-photo" src="<?php if(isset($value['file_photo']) and !empty($value['file_photo'])) printf(HOST.'photo/lesson/'.$value['id'].'/'.$value['file_photo']);  ?>" />
                                <?php else: ?>
                                        <img src="/img/lesson.png" alt="lesson" />
                                <?php endif; ?>
                                </div>
                                <div class="description">
                                    <div class="title_lesson"><?php echo $value['title'];?></div>
                                    <div class="cat_lesson"><span class="glyphicon glyphicon-phone"></span> <?php echo $value['title_cat'];?></div>
                                </div>
                                <a href="<?php echo HOST;?>/training/lesson-details?id=<?php echo $value['id'];?>"><span class="glyphicon glyphicon-ok"></span> Bắt đầu học</a>
                            </div>
                        </div>
                        <?php endforeach; ?>
                        <?php endif; ?>
                    </div>
                </div><!-- block_lesson-->
                
            </div><!-- content_home-->
        </div>
    </div>
</div>
<div class="mobile">
    <div id="cssmenu">
    	<ul>
            <?php if (isset($this->list_cat[0]) && $this->list_cat[0]): ?>
            <?php foreach ($this->list_cat[0] as $key => $value): ?>
            <li><a href="<?php echo HOST;?>training/list-cat?id=<?php echo $value['id'];?>" class="current"><span class="ico"></span><?php echo $value['title'];?><p class="new<?php echo $this->haveNew[$key];?>"></p></a>
    		</li>
            <?php endforeach; ?>
            <?php endif ?>
        </ul>
    </div>
    <div class="footer_menu">
        <ul>
            <?php  if ($this->access('training' , 'lesson')): ?>
            <li><span></span><a href="<?php echo HOST;?>training/lesson">Danh sách bài học</a></li>
            <?php  endif ?>
            <?php  if ($this->access('training' , 'trainer')): ?>
            <li><span></span><a href="<?php echo HOST;?>training/trainer">Quản lý học viên</a></li>
            <?php  endif ?>
            <?php  if ($this->access('training' , 'scores') AND !$this->access('training' , 'create')): ?>
                <li><span></span><a href="<?php echo HOST;?>training/scores">Kết quả</a></li>
            <?php  endif ?>
<!--            <li><span><p class="glyphicon glyphicon-log-out" aria-hidden="true"></p></span><a href="--><?php //echo HOST;?><!--user/logout-training">Log out</a><a href="http://center.opposhop.vn/photo/lesson/banner/69/Online%20Training.apk" class="android2"></a></li>-->
        </ul>
    </div>
</div>

<script type="text/javascript" src="/bootstrap3/flexslider/jquery_flexslider.js"></script>
<link rel="stylesheet" href="/bootstrap3/flexslider/flexslider.css">
<!-- Place in the <head>, after the three links -->
<script type="text/javascript" charset="utf-8">
  $(window).on('load', function() {
    $('.flexslider').flexslider();
  });
</script>



