<style>
.scores_details{cursor: pointer;}
.wrap-answer{height: 350px;overflow-y: scroll;overflow-x: hidden;}
.answer_row{padding-bottom: 10px;margin-bottom: 10px;border-bottom: 1px solid #CCC;}
</style>
<div class="right-page">
	<div class='title'>
	  <h1>Quản lý học viên</h1>
	</div>
	<div class="content_post col-md-12">
		<ol class="breadcrumb">
		  <li><a><?php if($this->dataTrainer):echo $this->dataTrainer['firstname']." ".$this->dataTrainer['lastname'];endif;?></a></li>
        </ol>
		<div class="content_check_trainer row">
            <div class="right_check col-md-12">
                <div class="info_trainer">
                    <div class="col-md-2 left_d">
                        Khu vực:
                    </div>
                    <div class="col-md-10 right_d">
                        <?php // if($this->dataTrainer):echo $this->dataTrainer['name'];endif;?>
                    </div>
                    <?php
                    $first_date = strtotime($this->dataTrainer['created_at']);
                    $second_date = strtotime(date('Y-m-d H:i:s'));
                    $datediff = abs($first_date - $second_date);
                    $dataDay = floor($datediff / (60*60*24*30));
                    $dataDay2 = floor($datediff / (60*60*24));
                    ?>
                    
                    <div class="col-md-2 left_d">
                        Số tháng làm việc:
                    </div>
                    <div class="col-md-10 right_d">
                        <?php
                            if($dataDay == 0){
                                echo "$dataDay2 ngày";
                            }
                            else{
                                echo "$dataDay tháng";
                            }
                        ?> 
                    </div>
                    
                </div>
                <table id="table_lesson" class="table table-striped responsive-utilities jambo_table table_score">
                    <thead>
                        <tr>
                            <th>Khóa học</th>
                            <th>Nội dung khóa học</th>
                            <th>Điểm lần 1</th>
                            <th>Điểm lần 2</th>
                            <th>Điểm lần 3</th>
                            <th>Điểm trung bình</th>
                            <th>Kết quả</th>
                        </tr>
                    </thead>
                    <tbody>
                        <?php $avg_sum = 0;?>
                        <?php if(isset($this->data) && $this->data): ?>
                        <?php foreach ($this->data as $key => $value): ?>
                        <?php $scores1 = 0;$scores2 = 0;$scores3 = 0; ?>
                        <tr>
                            <td><?php echo $value['title_lesson']; ?></td>
                            <td><?php echo My_String::excerpt($value['content_lesson'], 100) ?></td>
                            
                            <?php $scores = explode(',',$value['scores']);$strlen = count($scores);$avg = 0;$avg_count=0; ?>
                            <td><?php if(isset($scores[$strlen-3])){echo $scores[$strlen-3];$avg+=$scores[$strlen-3];$scores3 = $scores[$strlen-3];$avg_count++;} ?></td>
                            <td><?php if(isset($scores[$strlen-2])){echo $scores[$strlen-2];$avg+=$scores[$strlen-2];$scores2 = $scores[$strlen-2];$avg_count++;} ?></td>
                            <td><?php if(isset($scores[$strlen-1])){echo $scores[$strlen-1];$avg+=$scores[$strlen-1];$scores1 = $scores[$strlen-1];$avg_count++;} ?></td>
                            <!--<td><?php echo number_format($value['avg'],1); ?></td>-->
                            <td><?php echo number_format($avg/$avg_count,2);$avg_sum+=($avg/$avg_count);?></td>
                            <td>
                                <?php if($scores1 == 10 || $scores2 == 10 || $scores3 == 10): echo "Pass"; else: echo "Fail";endif;?>
                            </td>
                        </tr>
                        <?php endforeach ?>
                        <?php endif ?>
                    </tbody>
                </table>
            </div><!-- right_check-->
        </div>
        
        
		<div class="content_check_trainer row">
            <div class="col-md-7">
            </div>
            <div class="right_check col-md-5">
                <table id="table_lesson" class="table table-bordered table-striped responsive-utilities jambo_table tongcong">
                    <thead>
                        <tr>
                            <th></th>
                            <th>Số khóa</th>
                            <th>Điểm trung bình</th>
                            <th>Kết quả</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>Tổng cộng</td>
                            <td><?php if($this->count):echo $this->count;endif; ?></td>
                            <td><?php if($avg_sum):echo number_format($avg_sum/($this->count),2);endif; ?></td>
                            <td>
                                <?php 
                                if($this->count > 0){   
                                    if(($avg_sum/($this->count)) > TRAINING_SCORES_PASS && ($avg_sum/($this->count)) < TRAINING_SCORES_PASS_GOOD){
                                        echo "Khá";
                                    }        
                                    if(($avg_sum/($this->count)) >= TRAINING_SCORES_PASS_GOOD){
                                        echo "Giỏi";
                                    }
                                    if(($avg_sum/($this->count)) <= TRAINING_SCORES_PASS && ($avg_sum/($this->count)) > TRAINING_SCORES_PASS_FAIL){
                                        echo "Trung bình"; 
                                    }
                                    else if(($avg_sum/($this->count)) <= TRAINING_SCORES_PASS_FAIL){
                                        echo "Yếu";
                                    }
                                }
                                ?>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div><!-- right_check-->
        </div>
        
        
        
	</div>

<!-- Modal -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">Trả lời câu hỏi tự luận:</h4>
      </div>
      <div class="modal-body">
        ...
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Đóng</button>
      </div>
    </div>
  </div>
</div>
</div>
<script>
$(document).ready(function() {

    $(document).on('click', ".scores_details", function() {  
        var lesson_id = $(this).attr('lesson_id');
        var cmnd      = $(this).attr('cmnd');
        var count     = $(this).attr('count');
        $.ajax({
			  url: "<?php echo HOST."training/show-details-scores";?>",
		      type: "POST",
		      dataType: "text",
		      context: this,
		      data: "lesson_id="+lesson_id+"&cmnd="+cmnd+"&count="+count,
		      beforeSend: function() {				
				},
		      success: function(result){
					if(result)
					{
					    $('#myModal').find('.modal-body').html(result);
                        $('#myModal').modal('show');
					}
					else
					{	
						alert("Có lỗi 1 !!");
					}						
		      },
		      error:function(){
		    	  alert("Có lỗi 2!!");
		      }
		});
    });
    
});

</script>





