<style>
    #check{margin-bottom: 20px;}
</style>
<div class="right-page bg-white" style="margin: auto">
    <div class="card card-custom gutter-b" style="width: 100% !important;">
        <div class='title'>
            <h1>Tạo học viên mới</h1>
        </div>
        <div class="card-body">
            <div class="widget-content" >
                <form method="POST" action="<?php echo HOST.'training/add-trainer';?>">
                    <div class="left_check col-md-3">
                        <textarea name="id_number[]" id="id_number" required="required" class="span2" style="height: 190px;"></textarea>
                    </div><!-- left_check-->
                    <div class="right_check col-md-9">
                        <div class="btn btn-primary" id="check">Kiểm tra</div>
                        <button type="submit" class="btn btn-primary btn-success" id="check">Hoàn tất</button>
                        <table id="table_lesson" class="table table-striped responsive-utilities jambo_table">
                            <thead>
                            <tr>
                                <th>Họ và tên</th>
                                <th>Tên đăng nhập</th>
                                <th>Mật khẩu</th>
                                <th>Khu vực</th>
                            </tr>
                            </thead>
                            <tbody id="result">
                            </tbody>
                        </table>
                    </div><!-- right_check-->
                </form>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript" src="/js/jquery.blockUI.js"></script>
<script>
    $(document).ready(function(){
        $('#check').click(function(){
            $('#result').html('');
            _self = $(this);
            idNumber = $('#id_number').val();
            initWaiting();
            if(!idNumber)
            {
                alert('INPUT ID NUMBER !');
                return false;
            }
            $.post(
                "<?php echo HOST . 'training/check-id-number'?>",
                {
                    id_number : idNumber
                },
                function(data){
                    $('#result').html( data );
                    $.unblockUI();
                });
        });
    });

    function initWaiting()
    {
        $.blockUI({
            fadeIn: 700,
            fadeOut: 700,
            css: {
                border: 'none',
                padding: '15px',
                backgroundColor: '#000',
                '-webkit-border-radius': '10px',
                '-moz-border-radius': '10px',
                opacity: .5,
                color: '#fff'
            } });
    }

</script>
