
<div class="page-header">
    <?php if (isset($this->category) && $this->category): ?>
        <h1>Edit Purchasing Category</h1>
    <?php else: ?>
        <h1>Create Purchasing Category</h1>
    <?php endif ?>
    
</div>
<?php
    if (isset($this->messages_success) and $this->messages_success)
        foreach ($this->messages_success as $message):
            echo '<div class="alert alert-success">'.$message.'</div>';
        endforeach;

    if (isset($this->messages) and $this->messages)
        foreach ($this->messages as $message):
            echo '<div class="alert alert-error">'.$message.'</div>';
        endforeach;
?>
<div class="row-fluid">
    <div class="span6">
        <form role="form" id="form" action="<?php echo HOST.'purchasing/category-save';?>" method="post">
            <div class="row-fluid">  
                <div class="control-group">
                    <label for="name">Name</label>
                    <input type="text" class="span3" id="name" name="name" placeholder="Category Name" required="required" value="<?php if( isset($this->category) && isset($this->category['name']) ) echo $this->category['name'] ?>">
                </div>
            </div>
            <div class="row-fluid">  
                <div class="control-group">
                    <label for="name">Desc</label>
                    <input type="text" class="span3" id="desc" name="desc" placeholder="Category Desc" required="required" value="<?php if( isset($this->category) && isset($this->category['desc']) ) echo $this->category['desc'] ?>">
                </div>
            </div>
            <input type="hidden" name="id" value="<?php if( isset($this->category) && isset($this->category['id']) ) echo $this->category['id'] ?>" />
           	<div class="row-fluid">  
                <div class="control-group">
                    <button type="submit" id="submit_btn" class="btn btn-primary ">Submit</button>
                    <button type="button" id="cancel_btn" class="btn btn-danger">Go back</button>
                </div>
            </div>
        </form>
    </div>
</div>
<script>
    $('#cancel_btn').click(function(){
        window.location = '<?php echo HOST ?>purchasing/category';
    });
</script>
