<div class="page-header">
    <h1>Thông tin khách hàng </h1>
</div>
<form action="" method="GET" class="form-horizontal" enctype="multipart/form-data" >
    <div class="span4">
        <div class="control-group">
            <label for="from" class="control-label">Từ: </label>
            <div class="control-group">
                <input autocomplete="off" type="text" id="from" onkeydown="return false;" class="date input-responsive" name="from" value="" required placeholder="Đến..." required>
            </div>
        </div>
        <div class="control-group">
            <label for="to" class="control-label">Đến: </label>
            <div class="control-group">
                <input autocomplete="off" type="text" id="to" onkeydown="return false;" class="date input-responsive" name="to" value="" required placeholder="Từ..." required>
            </div>
        </div>

        <div class="control-group">
            <button type="submit" name="export" value="1"  class="btn btn-success btn-update-time">Export</button>
        </div>
    </div>
</form>
<script type="text/javascript" src="/js/jquery-ui-1.8.12.custom.min.js"></script>
<link rel="stylesheet" type="text/css" href="/css/jquery-ui-1.8.12.custom.css"/>
<script>
    $( '#from' ).datepicker({ dateFormat: "dd/mm/yy" });
    $( '#to' ).datepicker({ dateFormat: "dd/mm/yy" });
   
</script>