<html>
    <head>
       

        <title>OPPO Quà Tết - Đăng ký thành công</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="/lunar-year-2020/css/confirm-success.css" type="text/css"/>
          <link rel="stylesheet" href="/lunar-year-2020/css/confirm-info.css" type="text/css"/>
    </head>
    <body>
        <div class="confirm-success">
            <div class="text-wrap sm-hide">
                <h2 class="title">Chúc mừng bạn <span><?php echo $this->userStorage->firstname . " " . $this->userStorage->lastname ?>,</span></h2>
                 <p class="sub-title">Bạn đã đăng ký thành công quà Tết Canh Tý 2020.</p><br><br>
                <p class="info " style="padding: 0">Bạn vui lòng click "XEM THÔNG TIN" để kiểm tra lại các thông tin đã điền.</p>
                <p class="sub-title" ><a style="color: #ed1c24; text-decoration: underline" href="https://center.opposhop.vn/collection/lunar-new-year2020">XEM  THÔNG TIN</a>    </p>
                <p class="info"> Trường hợp cần điều chỉnh thông tin, vui lòng liên hệ ngay<br> <span>Mr.Hoàng - Phòng HR</span> SĐT: 0939393054</p>
                <p class="thank"> Cảm ơn bạn!</p>
            </div>
            <div class="text-wrap sm-show">
               <p class="sub-title">Bạn đã đăng ký thành công<br> quà Tết Canh Tý 2020.</p><br><br>
                <p class="info " style="padding: 0">Bạn vui lòng click "XEM THÔNG TIN" <br> để kiểm tra lại các thông tin đã điền.</p>
                <p class="sub-title" ><a style="color: #ed1c24; text-decoration: underline" href="https://center.opposhop.vn/collection/lunar-new-year2020">XEM  THÔNG TIN</a>    </p>
                <p class="info"> Trường hợp cần điều chỉnh thông tin,<br> vui lòng liên hệ ngay <span>Mr.Hoàng - Phòng HR</span><br> SĐT: 0939.393.054 <br> Email: khahoang.le@oppomobile.vn</p>
                <p class="thank"> Cảm ơn bạn!</p></div>
        </div>
    </body>
</html>
