<style>
    .lead_line{width: auto; height: 3px; background-color: #8dd0b7;}
</style>

<div class="page-header">    
    <h1>Upload Data Review : <?php echo $this->data_upload->name ?></h1>
    <span class="pull-right"><a role="button" href="mass-download-data" class="btn btn-success" type="submit">View List</a></span>    
</div>

<?php
if (isset($this->messages) and $this->messages)
    foreach ($this->messages as $message):
        echo '<div class="alert alert-error">' . $message . '</div>';
    endforeach;

if (isset($this->messages_success) and $this->messages_success)
    foreach ($this->messages_success as $message):
        echo '<div class="alert alert-success">' . $message . '</div>';
    endforeach;
?>
<form method="post" enctype="multipart/form-data">    
    <div class="card card-custom gutter-b" style="width: 100% !important;">
        <div class="card-header">
            <div class="card-title">
                <span class="card-icon">
                    <i class="flaticon-file-1 text-primary"></i>
                </span>
                <span class="caption-subject font-green bold uppercase text-primary">Mass upload data by area</span>
            </div>
        </div>
        <div class="card-body">
            <div class="widget-content" >
                <div class="alert alert-custom alert-light" role="alert">
                    <div class="alert-icon"><i class="flaticon-warning text-danger"></i></div>
                    <div class="alert-text">
                        LƯU Ý : UPLOAD THEO FILE MẪU ĐÃ TẢI XUỐNG
                    </div>
                </div>
                <div class='row'>                
                    <div class="form-group">
                        <label>File Browser</label>
                        <div></div>
                        <div class="custom-file">
                            <input type="file" class="custom-file-input" name="data_file" id="customFile" required/>
                            <label class="custom-file-label" for="customFile">Choose file</label>
                        </div>
                    </div>

                    <div class="row-fluid">
                        <div class="span12">
                            <div class="widget">
                                <div class="widget-content mb-widget">
                                    <div class="">
                                        <div class="row">
                                            <div class="form-group ">
                                                <button type="submit" class="btn btn-outline-primary">
                                                    <i class="flaticon2-plus"></i> Upload
                                                </button>
                                                <input type="hidden" name="id" value="<?php !empty($this->params['id']) ? $this->params['id'] : NULL; ?>" />
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div><!--widget-->
    </div>        
</form>
<script type="text/javascript" src="<?php echo HOST ?>js/bootstrap-multiselect.js"></script>
<link rel="stylesheet" href="<?php echo HOST ?>css/bootstrap-multiselect.css" type="text/css"/>
<script type="text/javascript" src="<?php echo HOST ?>js/jquery-ui-1.8.12.custom.min.js"></script>
<link rel="stylesheet" type="text/css" href="<?php echo HOST ?>css/jquery-ui-1.8.12.custom.css"/>
<script>
    options = {
        selectAllText: 'Select All',
        includeSelectAllOption: true,
        includeSelectAllIfMoreThan: 3,
        disableIfEmpty: true
    };

    $(document).ready(function () {
        multi();
    });

    function multi() {
        $('.multiselect').multiselect(options);
    }
</script>