<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html>
    <head>
        <title>OPPO Quà Tết - Message from OPPO</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="/lunar-year-2021/css/confirm-fail.css"/>
        <style>
        </style>
    </head>
    <body>
        <div class="confirm-fail sm-hide">
            <div class="text-wrap">
                <h2 class="title">Chào bạn <span><?php echo $this->userStorage->firstname . " " . $this->userStorage->lastname ?></span></h2>
                <p class="sub-title">"Rất tiếc, bạn chưa đủ điều kiện để nhận quà Tết<br> Tân Sửu 2021 từ gia đình OPPO."</p>
                <p class="info">Nếu có thông tin nào sai sót, bạn vui lòng liên hệ<br> Mr. Hoàng - HR 0939393054 hoặc Ms. Yến - HR 0983649125 </p>
                <p class="info">Hẹn bạn vào năm sau nhé! </p>

            </div>
        </div>
        <div class="confirm-fail sm-show">
            <div class="text-wrap">
                <h2 class="title">Chào bạn<br> <span><?php echo $this->userStorage->firstname . " " . $this->userStorage->lastname ?>,</span></h2>
                <p class="sub-title">"Rất tiếc, bạn chưa đủ điều kiện<br> để nhận quà Tết Tân Sửu 2021<br> từ gia đình OPPO."</p>
                <p class="info">Nếu có thông tin nào sai sót,<br> bạn vui lòng liên hệ<br> Mr. Hoàng - HR 0939393054 hoặc<br> Ms. Yến - HR 0983649125 </p>
                <p class="info">Hẹn bạn vào năm sau nhé! </p>
               
            </div>
        </div>
    </body>
</html>
