
<style>
    td{
        font-size: 11px;
    }
    .head-bar{
        display: block;
        margin: 30px 0;
    }
    input[type="checkbox"]{
        transform: scale(1.6);
    }
    .head-bar h1 a{
        text-decoration: underline;
        font-size: 15px;
        margin-right: 40px;
    }
    .table tr input[type='text']{
        width: calc(100% - 10px);
        display: block;
        margin-bottom: 0;
    }
    .table a{
        cursor: pointer;
    }
    .danger-row:hover td,
    .danger-row:hover th,
    .danger-row{
        background: #ff8800!important;
        color: #fff!important;
        font-weight: bold;
    }
    .danger-row a{
        color: #fff;
    }
    .max-len{
        overflow: hidden;
        text-overflow: ellipsis;
        display: -webkit-box;
        -webkit-box-orient: vertical;
        -webkit-line-clamp: 2;
        line-height: 18px;
        max-height: 36px;
        font-weight: inherit;
        font-size: inherit;
    }
</style>
<div class="head-bar">
    <h2>Phép Năm 2019</h2>
    <?php  if ($this->access('staff', 'list-basic-record')){?>
        <a href="<?php echo $link = HOST."collection/phep-nam-2019?export_all=1";?>" target="_blank" class="btn btn-warning pull-right">Export All</a>
    <?php } ?>
</div>


<form class="" action="" method="post" id="multiple_form">
    <table style="display: block; width: 100%;" class="table table-bordered">
        <thead>
        <th >STT</th>
        <th >Area</th>
        <th >Tổng quỹ phép</th>
        <th >Tổng phép đã sử dụng</th>
        </thead>
        <tbody>
        <?php
        $i = 1;
        if( isset($this->info) )
            foreach ($this->info as $key => $item) {
                $area = $item['area'];
                ?>
                <tr>
                    <td><?php echo $i;?></td>

                    <td><?php echo $item['area'];?></td>
                    <td><?php echo $item['tong_quy_phep'];?></td>
                    <td><?php echo $item['tong_phep_da_su_dung'];?></td>
                    <td><?php $link = HOST."collection/phep-nam-2019?export=1&area=$area";?>
                        <a class="btn btn-success" href="<?php echo $link;?>" >Download bảng chi tiết</a>

                    </td>
                </tr>
                <?php
                $i++;
            }
        ?>
        </tbody>
    </table>

</form>

<script type="text/javascript" src="<?php echo HOST ?>js/bootstrap-multiselect.js"></script>
<link rel="stylesheet" href="<?php echo HOST ?>css/bootstrap-multiselect.css" type="text/css"/>
<script type="text/javascript" src="<?php echo HOST ?>js/jquery-ui-1.8.12.custom.min.js"></script>
<link rel="stylesheet" type="text/css" href="<?php echo HOST ?>css/jquery-ui-1.8.12.custom.css"/>

<script type="text/javascript">
    $(".multi-delete").on('click', function(event) {
        event.preventDefault();
        $("#multiple_form")
            .append('<input type="hidden" name="function" value="delete">')
            .submit();
    });
    $(".multi-print").on('click', function(event) {
        event.preventDefault();
        $("#multiple_form")
            .append('<input type="hidden" name="function" value="print">')
            .submit();
    });
    $("#import_file").change(function(event) {
        $(this).parents('form').first().submit();
    });
    $("table tr input[type='text']").each(function(index, el) {
        var this_tr = $(this).parents('tr').first();
        this_tr.addClass('danger-row');
    });

    $(".submit-code").on('click', function(event) {
        event.preventDefault();
        var this_tr       = $(this).parents('tr').first();
        var this_input    = this_tr.find('input[type="text"]').first();
        var data_item      = {
            id: $(this).data('id'),
            mail_code: this_input.val()
        };
        if( $.trim(data_item.mail_code) != ""){
            var data_arr = [];
            data_arr[0] = data_item;
            var return_data = submit_data(data_arr);
        }
    });
    $("#select_all").on('change', function(event) {
        event.preventDefault();
        const this_val = $(this).prop('checked');
        $("table input[type='checkbox']").prop('checked', this_val);
    });
    $(".submit-all").on('click', function(event) {
        event.preventDefault();
        var data_arr = [];
        $("table tr input[type='text']").each(function(index, el) {
            if( $.trim($(this).val()) != '' ){
                var this_val = $(this).val(),
                    this_tr = $(this).parents('tr').first(),
                    this_id = this_tr.find('[data-id]').attr('data-id');

                var data_item = {
                    id: this_id,
                    mail_code: this_val
                };
                data_arr.push(data_item);
            }
        });
        submit_data(data_arr);
    });

    $(".delete-btn").on('click', function(event) {
        event.preventDefault();

        const this_id = $(this).data('id');
        var that_btn = $(this);

        $.post(
            '/form-print/delete',
            {
                action: 'delete',
                id    : this_id,
            },
            function(data, textStatus, xhr) {
                var return_data = (JSON.parse(data));
                if(return_data){
                    const this_tr = that_btn.parents('tr').first();
                    this_tr.fadeOut('slow');
                    const cur_count = parseInt($(".pagination .count").text());
                    $(".pagination .count").text(cur_count - 1);
                    setTimeout(function(){
                        this_tr.remove();
                    }, 3000);
                }
            }
        );

    });

    function submit_data(data_arr){
        $.post(
            '/form-print/savecode',
            { data_arr: data_arr},
            function(data, textStatus, xhr) {
                var return_data = (JSON.parse(data));
                if( return_data.status ){
                    if( return_data.count == 1){
                        var that_data = data_arr[0];
                        remove_danger(that_data);
                    }else{
                        location.reload();
                    }
                }else{
                    location.reload();
                }
            }
        );
    }

    function remove_danger(that_data){
        var this_submit   = $('[data-id="'+that_data.id+'"]');
        var this_tr       = this_submit.parents('tr').first();
        var this_input    = this_tr.find('input[type="text"]').first();
        var this_check    = this_tr.find('input[type="checkbox"]').first();
        var this_input_td = this_input.parents('td').first();
        var this_td       = this_submit.parents('td').first();
        this_input_td.append('<span>'+that_data.mail_code+'</span>');
        this_input.remove();
        this_check.remove();
        this_tr.removeClass('danger-row');
        this_td.children(".submit-code").first().remove();
        this_td.children('span').last().remove();
    }

</script>
