<link rel="stylesheet" type="text/css" href="/css/jquery-ui-1.8.12.custom.css">
<link rel="stylesheet" type="text/css" href="/css/jquery.ui.timepicker.css">
<script type="text/javascript" src="/js/jquery-ui-1.8.12.custom.min.js"></script>
<script type="text/javascript" src="/js/jquery.ui.timepicker.js"></script>

<div class="page-header">
    <h1>Export data training</h1>
</div>
<?php echo $this->render('collection/partials-report/menu-training.phtml') ?>

<div class="accordion" id="accordion2">
    <div class="accordion-group">
        <div class="accordion-heading">
            <a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion2" href="#collapseTwo">
                Search
            </a>
        </div>
        <div id="collapseTwo" class="accordion-body collapse">
            <div class="accordion-inner">
                <form class="form-search form-horizontal" method="get" action="">
                    <div class="control-group">
                        <label class="control-label">From date</label>
                        <div class="controls">
                            <input type="text" class="date search-query" name="from_date">
                        </div>
                    </div>
                    <div class="control-group">
                        <label class="control-label">To date</label>
                        <div class="controls">
                            <input type="text" class="search-query date" name="to_date">
                        </div>
                    </div>
                    <div class="control-group">
                        <div class="controls">
                            <button type="submit" class="btn btn-success" name="export" value="1">Export</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div> <!-- end div search -->
<script>
    $(".date").datepicker({dateFormat: "dd/mm/yy"});
</script>