
<style>
    td{
        font-size: 11px;
    }
    .head-bar{
        display: block;
        margin: 30px 0;
    }
    input[type="checkbox"]{
        transform: scale(1.6);
    }
    .head-bar h1 a{
        text-decoration: underline;
        font-size: 15px;
        margin-right: 40px;
    }
    .table tr input[type='text']{
        width: calc(100% - 10px);
        display: block;
        margin-bottom: 0;
    }
    .table a{
        cursor: pointer;
    }
    .danger-row:hover td,
    .danger-row:hover th,
    .danger-row{
        background: #ff8800!important;
        color: #fff!important;
        font-weight: bold;
    }
    .danger-row a{
        color: #fff;
    }
    .max-len{
        overflow: hidden;
        text-overflow: ellipsis;
        display: -webkit-box;
        -webkit-box-orient: vertical;
        -webkit-line-clamp: 2;
        line-height: 18px;
        max-height: 36px;
        font-weight: inherit;
        font-size: inherit;
    }
</style>
<div class="head-bar">
    <h2>DANH SÁCH HOÀN PHÉP NĂM 2019</h2>

    <?php if (in_array($this->staff_id ,array(2584,8807,5899))): ?>
        <!--  Id cua chi HR Diep truc, HR Nguyet Trinh va cua Tech  -->
        <a href="<?php echo $link = HOST."collection/return-leave?export_all=1";?>" target="_blank" class="btn btn-warning pull-right">Export All</a>
    <?php endif ?>


</div>


<form class="" action="" method="post" id="multiple_form">
    <table style="display: block; width: 100%;" class="table table-bordered">
        <thead>
        <th >STT</th>
        <th >Area</th>
        <th >Kết Quả</th>
        </thead>
        <tbody>
        <?php
        $i = 1;
        if( isset($this->info) )
            foreach ($this->info as $key => $item) {
                $area = $item['area'];
                ?>
                <tr>
                    <td><?php echo $i;?></td>

                    <td><?php echo $item['area'];?></td>
                    <td><?php $link = HOST."collection/return-leave?export=1&area=$area";?>
                        <a class="btn btn-success" href="<?php echo $link;?>" >Download bảng chi tiết</a>

                    </td>
                </tr>
                <?php
                $i++;
            }
        ?>
        </tbody>
    </table>

</form>

<script type="text/javascript" src="<?php echo HOST ?>js/bootstrap-multiselect.js"></script>
<link rel="stylesheet" href="<?php echo HOST ?>css/bootstrap-multiselect.css" type="text/css"/>
<script type="text/javascript" src="<?php echo HOST ?>js/jquery-ui-1.8.12.custom.min.js"></script>
<link rel="stylesheet" type="text/css" href="<?php echo HOST ?>css/jquery-ui-1.8.12.custom.css"/>

