<div class="page-header">
    <h1>List Attendance Record by Day</h1>
</div>
<?php
if (isset($this->messages) and $this->messages)
    foreach ($this->messages as $message):
        echo '<div class="alert alert-success">'.$message.'</div>';
    endforeach;

if (isset($this->messages_error) and $this->messages_error)
    foreach ($this->messages_error as $message):
        echo '<div class="alert alert-error">'.$message.'</div>';
    endforeach;
?>
<div class="control clearfix">

    <a href="/time/create-childbearing" class="pull-right btn btn-success">+</a>
    <a href="/time/list-pre-time-off?bh=1" class="pull-right btn btn-primary">List pre time off</a>
</div>
<div class="accordion" id="accordion2">
    <div class="accordion-group">
        <div class="accordion-heading">
            <a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion2" href="#collapseTwo">
                Search
            </a>
        </div>
        <div id="collapseTwo" class="accordion-body collapse" style="height: 0px;">
            <div class="accordion-inner">
                <?php
                echo $this->render('time/partials/search-childbearing.phtml');
                ?>
            </div>
        </div>
    </div>
</div>

<div class="table-responsive">
    <?php
        echo $this->render('time/partials/table-childbearing.phtml');
    ?>
</div>

<script>
    $(document).ready(function () {
        $('.date' ).datepicker({ dateFormat: "dd/mm/yy" });
    });
</script>
