<div class="page-header">
    <h1>Permission Checkin <small><?php echo $this->staff['firstname'] . ' ' .$this->staff['lastname'] . ' | ' . $this->email($this->staff['email']) ?></small></h1>
</div>

<form id="form" class="form-horizontal" action="<?Php echo HOST ?>time/permission" method="POST">
<div class="row-fluid">
   
    <div class="span3">
        <div class="control-group">
            <label for="">Permission Teams:</label>
            <?php if (isset($this->team_cache) && $this->team_cache): ?>
                <?php foreach ($this->team_cache as $key => $value): ?>
                    <p>
                        <label class="checkbox"><input type="checkbox" name="teams[]" value="<?php echo $key;?>" <?php if (isset($this->old_team_objects) && in_array($key, $this->old_team_objects)) echo "checked" ?>> <?php echo $value;?></label>
                    </p>
                <?php endforeach ?>
            <?php endif ?>
        </div>
    </div>

    <div class="span3">
        <div class="control-group">
            <label for="">Permission Areas:</label>
            <?php if (isset($this->area_cache) && $this->area_cache): ?>
                <?php foreach ($this->area_cache as $key => $value): ?>
                    <p>
                        <label class="checkbox"><input type="checkbox" name="areas[]" value="<?php echo $key;?>" <?php if (isset($this->old_area_objects) && in_array($key, $this->old_area_objects)) echo "checked" ?>> <?php echo $value;?></label>
                    </p>
                <?php endforeach ?>
            <?php endif ?>
        </div>
    </div>
</div>

<div class="row-fluid">
  <div class="control-group">
                 <input type="hidden" name="back_url" id="back_url" value="<?php if ( isset($this->back_url) and $this->back_url ) echo $this->back_url;?>">
                <input type="hidden" name="id" value="<?php if(isset($this->id) and $this->id) echo $this->id; ?>" />
				<button type="submit" class="btn btn-primary">Submit</button>
				<button type="reset" class="btn btn-danger go-back">Go back</button>
			</div>
</div>
</form>

<script>
$('.go-back').click(function(e){

                window.location.href = $('#back_url').val();    
                return false;
              });
</script>