<link rel="stylesheet"
	href="<?php echo HOST ?>public/pg-check-in/bgcss.css">

<style>
.qq-upload-button {
	display: block;
	width: 105px;
	padding: 7px 0;
	text-align: center;
	background: #880000;
	border-bottom: 1px solid #DDD;
	color: #FFF;
}

.modal {
	display: block;
}

.checkout-btn {
	background-color: #e14137;
}
</style>
<div class="dashboard-content-header">
	<h2>PG Check-Out</h2>
</div>
<div class="oppo-row" id="bg-checkin">
	<div class="col-half col-full-sm">
		<div class="bg-detail">
			<h2>PG Details</h2>
			<p>
				<label>Name:</label><?php
				if (isset ( $this->staff )) :
					echo $this->staff->firstname . ' ' . $this->staff->lastname;
				endif;
				?>
			</p>
			<p>
				<label>Staff Code:</label>   <?php
				if (isset ( $this->staff )) :
					echo $this->staff->code;
				endif;
				?>
			</p>
			<p>
		
		</div>

	</div>

	<div class="col-half col-full-sm">
		<div class="pic-tool">
			<div class="oppo-row">
				<div class="col-full-sm no-padding">
					<div class="warning">
						<span class="warning-msg"></span>
					</div>

				</div>

			</div>
			<div class="oppo-row">

				<div class="button-row">
					<div class="warning">
						<span id="fail-message" class="warning-msg"></span>
					</div>
					<div class="oppo-row">
						<input style="" id="latitude" value="" readonly /> 
						<input style="" id="longitude" value="" readonly />
						<button class="checkout-btn" onclick="saveOut()">Check out</button>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<!-- Waiting Overlay -->
<div class="waiting-overlay">
	<div class="waiting-notification">
		Đang xử lý <span class="icon1 icon1-spinner5 spinning"></span>
	</div>
</div>
<div class="modal-container">
	<div class="modal no-padding"
		style="transition: all 400ms ease-out 50ms; top: 40px; opacity: 1;">

		<div class="modal-header">
			<div class="modal-title">Thông báo</div>
			<div class="modal-subtitle"></div>
		</div>
		<div class="modal-content">
			<br>
			<p class="alert success center">
				<strong>Thành công</strong>
			</p>
		</div>
		<div class="modal-footer">
			<button onclick="closeModal();">Đóng</button>
		</div>
	</div>
</div>

<script src="<?php echo HOST ?>public/pg-check-in/js/main-out.js"></script>