<?php 
    $arr_shift = array(
        6   => 'Hành Chính',
        1   =>'Sáng',
       // 2   =>'Gãy',
        3   =>'Chiều',
		9	=> 'Nửa ngày'
    );

?>
<link rel="stylesheet"
	href="<?php echo HOST ?>public/pg-check-in/bgcss.css">

<style>
.qq-upload-button {
	display: block;
	width: 105px;
	padding: 7px 0;
	text-align: center;
	background: #880000;
	border-bottom: 1px solid #DDD;
	color: #FFF;
}
.text_label {
    color :#2aad6f;
}
.checkout-btn {
        background-color: #e14137; }
</style>
<div class="dashboard-content-header">
	<h2>PG Check-in</h2>
</div>
<div class="oppo-row" id="bg-checkin">
	<div class="col-half col-full-sm">
		<div class="bg-detail">
			<h2>PG Details</h2>
			<p>
				<label>Name:</label><?php
				
				if (isset ( $this->staff )) :
					echo $this->staff->firstname . ' ' . $this->staff->lastname;
				endif;
				?></p>
			<p>
				<label>Staff Code:</label>   <?php
				if (isset ( $this->staff )) :
					echo $this->staff->code;
				endif;
				?></p>
		
				<label>Type:</label> 
				<div class="shift-pick">
    				<select id="shift">
                        <?php
                        //PGPB+SENIOR PROMOTER                    
                        if(in_array($this->title, array(293,182,419,420))){
                             foreach ($arr_shift as $k => $val){
                                  ?>
                                       <option value="<?php echo $k ?>"><?php echo $val; ?></option>
                                  <?php 
                            }
                        }else{
                            if($this->is_local == 1){
                                foreach ($arr_shift as $k => $val){
                                    if(!in_array($k, array(2))){
                                        ?>
                                                                        <option value="<?php echo $k ?>"><?php echo $val; ?></option>
                                                                  <?php 
                                                                }
                                                            }
                            }else {
                                ?>
                                <option value="6">Hành Chính</option>
								<option value="9">Nửa ngày</option>
                           <?php 
                            }
                            
                        }
    					?>
                    </select>
                </div>
                <label>City: <span class="text_label" id="tp"></span></label> 
                <label>Address: <span class="text_label" id="address"></span></label>
		</div>
	</div>
	
	<div class="col-half col-full-sm">
		<div class="bg-detail">
			<h2>FAQ</h2>
			<p><a target="_blank" href="https://drive.google.com/open?id=0Bw9Gp6m1QiZjeHdTaGFaTUJCakE">Hướng dẫn sử dụng</a></p>
			<p><a target="_blank" href="https://drive.google.com/open?id=0Bw9Gp6m1QiZjYWRybTBjY1JILVk">Hướng dẫn bật GPS trên thiết bị Android</a></p>
			<p><a target="_blank" href="https://drive.google.com/open?id=0Bw9Gp6m1QiZjZEowc2tsOGNkOVk">Hướng dẫn bật GPS trên thiết bị IOS</a></p>
		</div>

	</div>
	
	<div class="col-half col-full-sm">
		<div class="pic-tool">
			<h2>Check-in Photo</h2>
			<div class="oppo-row">
				<div class="col-full-sm no-padding">
					<div class="main-canvas">
						<div class="switch-cam-btn">
							<select id="choose-cam"></select>
						</div>
						<video  playsinline autoplay id="camera" width="300" height="300"
							style="background-color: rgb(65, 65, 65); width: 100%"></video>
					</div>
				</div>
				<div class="col-full-sm no-padding">
					<div class="warning">
						<span class="warning-msg"></span>
					</div>
					<div class="button-row">
						<div class="col-half">
							<button id="btn1" onclick="showModal();">
								<span class="icon1 icon1-camera"></span> Hình tác phong
							</button>
						</div>
						<div class="col-half">
							<button id="btn2" onclick="showModal();">
								<span class="icon1 icon1-camera"></span> Hình trưng bày
							</button>
						</div>
					</div>
				</div>
				
					
					<div class="button-row2 center">
					<iframe src="<?php //echo HOST . 'time/time-upload'?>" frameborder="0" name="iframe-time" id="iframe-time" ></iframe>
					<div class="col-full-sm no-padding">
						<form id="form" action="<?php echo HOST . 'time/time-upload'?>"
							enctype="multipart/form-data" target="iframe-time" method="post" style="margin: 0">
							<input type="file" name="file_1" class="file_1 file_upload_iphone" accept="image/*" data-type='image'> 
                                                        <input type="hidden" name="upload_iphone1_hide" class="upload_iphone1_hide" value = "">
							<input type="file" name="file_2" class="file_2 file_upload_iphone" accept="image/*" data-type='image'>
                                                        <input type="hidden" name="upload_iphone2_hide" class="upload_iphone2_hide" value = "">
							<input style="display: none" name="latitude1" id="latitude1" value="" /> 
							<input style="display: none" name="longitude1" id="longitude1" value="" />
							<input type="hidden" name="shift1" id="shift1" value="6" />
							<input type="hidden" id="city_input4" name="city_input4" value="" />
							<input type="hidden" id="city_input5" name="city_input5" value="" />
							<input type="hidden" id="city_input6" name="city_input6" value="" />
							<input type="hidden" id="city_input8" name="city_input8" value="" />
							
							
							<input type="hidden" id="address_input1" value="" />
							<div class="button-row2">
								
								<div class="oppo-row">
										<button class="checkin-btn" id="check-in" >Check in</button>
								</div>
							</div>
						</form>
						
					</div>
				</div>
			</div>
			<div class="oppo-row">
				<div class="col-full no-padding">
					<div class="pic-stack">
						<div class="img-item" id="pic1">
							<canvas id="canvas1"></canvas>
							<div class="picname">Hình tác phong</div>
						</div>
						<div class="img-item" id="pic2">
							<canvas id="canvas2"></canvas>
							<div class="picname">Hình trưng bày</div>
						</div>
					</div>
				</div>
				<div class="button-row">
					<div class="warning">
						<span id="fail-message" class="warning-msg"></span>
					</div>
					<div class="oppo-row">
							<input style="" id="latitude" value="" readonly/> 
							<input style="" id="longitude" value="" readonly/>
							
							<input type="hidden" id="city_input1" value="" />
							<input type="hidden" id="city_input2" value="" />
							<input type="hidden" id="city_input3" value="" />
							<input type="hidden" id="city_input7" value="" />
							
							
							<input type="hidden" id="address_input" value="" />
							
							<button class="checkin-btn" onclick="save()">Check in</button>
						
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<!-- Waiting Overlay -->
                    <div class ="waiting-overlay">
                        <div class="waiting-notification">
                           Đang xử lý  <span class ="icon1 icon1-spinner5 spinning"></span> 
                        </div>
                    </div>
<div class="modal-container">
     <div class="modal no-padding" style="transition: all 400ms ease-out 50ms; top: 40px; opacity: 1;">
         
               <div class="modal-header">
                    <div class="modal-title">Thông báo</div>
                    <div class="modal-subtitle"></div>
                            </div>
                            <div class="modal-content">
                            	<br>
                                <p class="alert success center">
                                   <strong>Thành công</strong>
                                </p>
                            </div>
                            <div class="modal-footer">
                                <button onclick="closeModal();">Đóng</button>
                            </div>
     </div>
</div>

<script>
$('.checkin-btn, .checkout-btn').click(function(){
/*$('.waiting-overlay').css({'visibility':'visible','opacity':'1'});
                $('.waiting-notification').css({'top':'40%','opacity':'1'});*/
		
});
$( document ).on("change", ".file_upload_iphone", function(e) { 
    var mime_type = "image/jpeg";
    var name = $(this).attr('name');
   
    var intput_file = e.target.files[0];
     var img_tag = document.createElement("img");
            
     var reader = new FileReader();
     if (intput_file) {
        reader.readAsDataURL(intput_file);
      }
      if(name == "file_1"){
          var input_hidden = $(this).parent().find(".upload_iphone1_hide");
      }else var input_hidden = $(this).parent().find(".upload_iphone2_hide");
      reader.addEventListener("load", function (e) {
                img_tag.src = e.target.result;
                img_tag.onload = function () {
                    var cvs = document.createElement('canvas');
                    cvs.width = 800;
                    cvs.height = Math.round(this.height/(this.width/800)*100)/100;
                    cvs.getContext("2d").drawImage(this, 0, 0, cvs.width, cvs.height);
                    var newImageData = cvs.toDataURL(mime_type, 70 / 100);
                    console.log(newImageData);
                    input_hidden.val(newImageData);
                }; 
      }, false);
});
	 function getLocation() {

    		var dataTest = <?php echo json_encode($this->dataTest);?>;
    		var listArea = <?php echo json_encode($this->listArea);?>;
    		// console.log("Thành Phố Hồ Chí Minh".indexOf("Hồ Chí Minh"));

			const regex = /(\s|^)(tỉnh|thành phố|huyện)/gm;
    		var i=1;
    		dataTest.forEach( function(dataTest){

				var GEOCODING ='https://eu1.locationiq.com/v1/reverse.php?key=09ea137c61fa53&lat=' + dataTest.latitude +'&lon='+ dataTest.longitude + '&format=json';
				setTimeout(function(){
		         	 $.getJSON(GEOCODING).done(function(location) {
		         	 	
		         	 	var province=1;

		         	 	if(location.address.county){
		         	 		province=location.address.county;
		         	 	}

		         	 	if(location.address.city){
		         	 		province=location.address.city;

		         	 	}
		         	 	if(location.address.region){
		         	 		province=location.address.region;
		         	 	}
		         	 	if(location.address.state){
		         	 		province=location.address.state;
		         	 	}
						province=province.replace('Thành phố','').trim();
						province=province.replace('Tỉnh','').trim();
						province=province.replace('Huyện','').trim();

		         	 	$.each(listArea,function(index, value){
		         	 		if(province.toString().toLowerCase().trim().indexOf(value.toLowerCase().trim()) != -1 ){
		         	 			console.log(index) ;
		         	 			return;
		         	 		};
		         	 	});

				 	})
	         	  },1000 + i*  2000 );
	         i++;
    		});
    //alert(111);
    if (navigator.geolocation) {
        //navigator.geolocation.getCurrentPosition(showPosition, showError);

        navigator.geolocation.getCurrentPosition(function (position, showError) {
            window.latitude = position.coords.latitude;
            window.longitude = position.coords.longitude;


            document.getElementById('latitude').value = position.coords.latitude;
            document.getElementById('latitude1').value = position.coords.latitude;
            document.getElementById('longitude').value = position.coords.longitude;
            document.getElementById('longitude1').value = position.coords.longitude;
             // var GEOCODING = 'https://maps.googleapis.com/maps/api/geocode/json?latlng=' + position.coords.latitude + '%2C' + position.coords.longitude + '&language=en';
             // var GEOCODING = 'https://api.mapbox.com/geocoding/v5/mapbox.places/peets.json?proximity=' + position.coords.longitude + ',' + position.coords.latitude + '&access_token=pk.eyJ1IjoidG9hbm1hcGJveCIsImEiOiJjazY5MG9vMzgwMXZtM2ZxYzN1eWM5dWkyIn0.yzW89GABcKLg_iy2AItoCA';
             // var GEOCODING = 'https://api.opencagedata.com/geocode/v1/json?key=8d519df99f764cb58d00b126104c265d&q=' + position.coords.latitude +'%2C+'+ position.coords.longitude + '&pretty=1&no_annotations=1';
            // var GEOCODING ='https://www.mapquestapi.com/geocoding/v1/reverse?key=KEY&location=' + position.coords.latitude +'%2C'+ position.coords.longitude + '&outFormat=json&thumbMaps=false';
            // var GEOCODING ='https://eu1.locationiq.com/v1/reverse.php?key=09ea137c61fa53&lat=' + position.coords.latitude +'&lon='+ position.coords.longitude + '&format=json';
             
            //  $.getJSON(GEOCODING).done(function(location) {

            //  	var province=1;

         	 	// if(location.address.county){
         	 	// 	province=location.address.county;
         	 	// }

         	 	// if(location.address.city){
         	 	// 	province=location.address.city;

         	 	// }
         	 	// if(location.address.region){
         	 	// 	province=location.address.region;
         	 	// }
         	 	// if(location.address.state){
         	 	// 	province=location.address.state;
         	 	// }

	           //   document.getElementById('city_input1').value  = province;
	           //   document.getElementById('city_input4').value  = province;
	             
	           //   document.getElementById('city_input2').value  = province;
	           //   document.getElementById('city_input5').value  = province;
	             
	           //   document.getElementById('city_input3').value  = province;
	           //   document.getElementById('city_input6').value  = province;
	             
	           //   document.getElementById('city_input7').value  = province;
	           //   document.getElementById('city_input8').value  = province;


             
            //  })
             
        });

    } else {
        document.getElementById("fail-message").innerHTML = "'Geolocation is not supported by this browser";
    }
}

</script>
<?php 
if($this->team == 131){
    echo '<script src="https://center.opposhop.vn/public/pg-check-in/js/main_trade.js"></script>';
}else{
    echo '<script src="https://center.opposhop.vn/public/pg-check-in/js/main-test.js"></script>';
}
?>
