<?php 
    $arr_shift = array(
        6   => 'Hành Chính',
        1   =>'Sáng',
       // 2   =>'Gãy',
        3   =>'Chiều',
		9	=> 'Nửa ngày'
    );

?>
<link rel="stylesheet"
	href="<?php echo HOST ?>public/pg-check-in/bgcss.css">

<style>
.qq-upload-button {
	display: block;
	width: 105px;
	padding: 7px 0;
	text-align: center;
	background: #880000;
	border-bottom: 1px solid #DDD;
	color: #FFF;
}
.text_label {
    color :#2aad6f;
}
.checkout-btn {
        background-color: #e14137; }


.row_category{margin-bottom: 10px}

.row_category input {
    height: 20px !important;
    width: 20px !important;
}

.row_category span {
    line-height: 30px;
    font-size: 18px;
    text-indent: 10px;
}

.header_child {
    font-size: 18px;
    font-weight: bold;
    color: green;
    margin: 20px 0px 0px 0px;
    line-height: 28px;
}

.modal {
	display: block;
}

</style>
<div class="dashboard-content-header">
	<h2>PG Check-in</h2>
</div>
<div class="oppo-row" id="bg-checkin">
	<div class="col-half col-full-sm">
		<div class="bg-detail">
			<h2>PG Details</h2>
			<p>
				<label>Name:</label><?php
				
				if (isset ( $this->staff )) :
					echo $this->staff->firstname . ' ' . $this->staff->lastname;
				endif;
				?></p>
			<p>
				<label>Staff Code:</label>   <?php
				if (isset ( $this->staff )) :
					echo $this->staff->code;
				endif;
				?></p>
		
                                
                                <label style="padding: 0px 10px">Type:</label>
				<div class="shift-pick">
    				<select id="shift">
                                    <!-- PGPB+SENIOR PROMOTER -->
                                    <?php if(in_array($this->title, array(293,182,419,420))):?>
                                        <?php foreach ($arr_shift as $k => $val):?>
                                        <option value="<?php echo $k ?>"><?php echo $val; ?></option>
                                        <?php endforeach;?>
                                    <?php else:?>
                                        <?php if($this->is_local == 1):?>
                                            <?php foreach ($arr_shift as $k => $val):?>
                                                <?php if(!in_array($k, array(2))):?>
                                                <option value="<?php echo $k ?>"><?php echo $val; ?></option>
                                                <?php endif;?>
                                            <?php endforeach;?>
                                        <?php else:?>    
                                            <option value="6">Hành Chính</option>
                                            <option value="9">Nửa ngày</option>    
                                        <?php endif;?>
                                    <?php endif;?>
                                </select>
                </div>      
                                
                                
                <label style="padding: 0px 10px">City: <span class="text_label" id="tp"></span></label> 
                <label style="padding: 0px 10px">Address: <span class="text_label" id="address"></span></label>
                
                <!-- ADD PG CHECK -->
                <label style="padding: 0px 10px">Store:</label>
                <div class="shift-pick">
                    <select id="store_id" name="store_id">
                        <?php foreach($this->list_store as $key=>$value):?>
                        <option value="<?php echo $value['store_id'];?>" data-channel-id="<?php echo $value['channel_id'];?>"><?php echo $value['store_name'];?></option>
                        <?php endforeach;?>
                    </select>
                </div>
                
                
                
                

                <div class="pgcheck_category_block">
                    <!--
                    <label class="header_child" for="image_pg" style="padding: 0px 10px">Trang phục Pgs được triển khai đúng tiêu chuẩn:</label>
                    <div class="row_category" style="padding: 0px 10px">											
                        <span class="" for="username">Username :</span>
                        <input type="checkbox" name="category[0]" />		
                    </div>
                    -->
                    
                    
                </div><!-- pgcheck_category_block -->
                <!-- END ADD PG CHECK -->
                
		</div>
	</div>
	
	<div class="col-half col-full-sm">
		<div class="bg-detail">
			<h2>FAQ</h2>
			<p><a target="_blank" href="https://drive.google.com/open?id=0Bw9Gp6m1QiZjeHdTaGFaTUJCakE">Hướng dẫn sử dụng</a></p>
			<p><a target="_blank" href="https://drive.google.com/open?id=0Bw9Gp6m1QiZjYWRybTBjY1JILVk">Hướng dẫn bật GPS trên thiết bị Android</a></p>
			<p><a target="_blank" href="https://drive.google.com/open?id=0Bw9Gp6m1QiZjZEowc2tsOGNkOVk">Hướng dẫn bật GPS trên thiết bị IOS</a></p>
		</div>

	</div>
	
	<div class="col-half col-full-sm">
		<div class="pic-tool">
			<h2>Check-in Photo</h2>
			<div class="oppo-row">
				<div class="col-full-sm no-padding">
					<div class="main-canvas">
						<div class="switch-cam-btn">
							<select id="choose-cam"></select>
						</div>
						<video  playsinline autoplay id="camera" width="300" height="300"
							style="background-color: rgb(65, 65, 65); width: 100%"></video>
					</div>
				</div>
				<div class="col-full-sm no-padding">
					<div class="warning">
						<span class="warning-msg"></span>
					</div>
					<div class="button-row">
						<div class="col-half">
                                                    <button id="btn1" onclick="showModal();">
                                                            <span class="icon1 icon1-camera"></span> Hình tác phong
                                                    </button>
						</div>
						<div class="col-half">
                                                    <button id="btn2" onclick="showModal();">
                                                            <span class="icon1 icon1-camera"></span> Hình trưng bày
                                                    </button>
						</div>
                                                <div class="col-half">
                                                    <button id="btn3" onclick="showModal();">
                                                            <span class="icon1 icon1-camera"></span> Hình Flash Sale
                                                    </button>
						</div>
					</div>
				</div>
				
					
					<div class="button-row2 center">
					<iframe src="<?php //echo HOST . 'time/time-upload'?>" frameborder="0" name="iframe-time" id="iframe-time" ></iframe>
					<div class="col-full-sm no-padding">
						<form id="form" action="<?php echo HOST . 'time/time-upload'?>"
							enctype="multipart/form-data" target="iframe-time" method="post" style="margin: 0">
							<input type="file" name="file_1" class="file_1 file_upload_iphone" accept="image/*" data-type='image'> 
                                                        <input type="hidden" name="upload_iphone1_hide" class="upload_iphone1_hide" value = "">
							<input type="file" name="file_2" class="file_2 file_upload_iphone" accept="image/*" data-type='image'>
                                                        <input type="hidden" name="upload_iphone2_hide" class="upload_iphone2_hide" value = "">
                                                        <input type="file" name="file_3" class="file_3 file_upload_iphone" accept="image/*" data-type='image'>
                                                        <input type="hidden" name="upload_iphone3_hide" class="upload_iphone3_hide" value = "">
							<input style="display: none" name="latitude1" id="latitude1" value="" /> 
							<input style="display: none" name="longitude1" id="longitude1" value="" />
							<input type="hidden" name="shift1" id="shift1" value="6" />
                                                        <input type="hidden" name="store_id_ios" id="store_id_ios" value="<?php echo $this->list_store[0]['store_id'];?>" />
                                                        <input type="hidden" name="pgcheck_category_ios" id="pgcheck_category_ios" value="" />
							<input type="hidden" id="city_input4" name="city_input4" value="" />
							<input type="hidden" id="city_input5" name="city_input5" value="" />
							<input type="hidden" id="city_input6" name="city_input6" value="" />
							<input type="hidden" id="city_input8" name="city_input8" value="" />
							
							
							<input type="hidden" id="address_input1" value="" />
							<div class="button-row2">
								
                                                                <div class="">
                                                                    <input name="pgcheck_note" id="pgcheck_note" class="span5" placeholder="Note" />
                                                                </div>
                                                            
								<div class="oppo-row">
										<button class="checkin-btn" id="check-in" >Check in</button>
								</div>
							</div>
						</form>
						
					</div>
				</div>
			</div>
			<div class="oppo-row">
				<div class="col-full no-padding">
					<div class="pic-stack">
						<div class="img-item" id="pic1">
                                                    <canvas id="canvas1"></canvas>
                                                    <div class="picname">Hình tác phong</div>
						</div>
						<div class="img-item" id="pic2">
                                                    <canvas id="canvas2"></canvas>
                                                    <div class="picname">Hình trưng bày</div>
						</div>
                                                <div class="img-item" id="pic3">
                                                    <canvas id="canvas3"></canvas>
                                                    <div class="picname">Hình Flash Sale</div>
						</div>
					</div>
				</div>
                            
                                
                                
				<div class="button-row">
					<div class="warning">
						<span id="fail-message" class="warning-msg"></span>
					</div>
                                    
					<div class="oppo-row">
							<input style="" id="latitude" value="" readonly/> 
							<input style="" id="longitude" value="" readonly/>
							
							<input type="hidden" id="city_input1" value="" />
							<input type="hidden" id="city_input2" value="" />
							<input type="hidden" id="city_input3" value="" />
							<input type="hidden" id="city_input7" value="" />
							
							
							<input type="hidden" id="address_input" value="" />
							
                                                        
                                                        <div class="">
                                                            <input name="pgcheck_note" id="pgcheck_note" class="span5" placeholder="Note" />
                                                        </div>
                                                            
							<button class="checkin-btn" onclick="save()">Check in</button>
						
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<!-- Waiting Overlay -->
                    <div class ="waiting-overlay">
                        <div class="waiting-notification">
                           Đang xử lý  <span class ="icon1 icon1-spinner5 spinning"></span> 
                        </div>
                    </div>
<div class="modal-container">
     <div class="modal no-padding" style="transition: all 400ms ease-out 50ms; top: 40px; opacity: 1;">
         
               <div class="modal-header">
                    <div class="modal-title">Thông báo</div>
                    <div class="modal-subtitle"></div>
                            </div>
                            <div class="modal-content">
                            	<br>
                                <p class="alert success center">
                                   <strong>Thành công</strong>
                                </p>
                            </div>
                            <div class="modal-footer">
                                <button onclick="closeModal();">Đóng</button>
                            </div>
     </div>
</div>

<script>
    
    <?php if($this->pgcheck_category):?>
    var pgcheck_category = <?php echo json_encode($this->pgcheck_category);?>;
    <?php endif;?>
        
    <?php if($this->image_flash_sale):?>
    var image_flash_sale = <?php echo json_encode($this->image_flash_sale);?>;
    console.log(image_flash_sale);
    <?php endif;?>    
    
    
$('.checkin-btn, .checkout-btn').click(function(){
/*$('.waiting-overlay').css({'visibility':'visible','opacity':'1'});
                $('.waiting-notification').css({'top':'40%','opacity':'1'});*/
		
});
$( document ).on("change", ".file_upload_iphone", function(e) { 
    var mime_type = "image/jpeg";
    var name = $(this).attr('name');
   
    var intput_file = e.target.files[0];
     var img_tag = document.createElement("img");
            
     var reader = new FileReader();
     if (intput_file) {
        reader.readAsDataURL(intput_file);
      }
      if(name == "file_1"){
          var input_hidden = $(this).parent().find(".upload_iphone1_hide");
      }else if(name == "file_2"){
          var input_hidden = $(this).parent().find(".upload_iphone2_hide");
      }
      else if(name == "file_3"){
          var input_hidden = $(this).parent().find(".upload_iphone3_hide");
      }
      
      reader.addEventListener("load", function (e) {
                img_tag.src = e.target.result;
                img_tag.onload = function () {
                    var cvs = document.createElement('canvas');
                    cvs.width = 800;
                    cvs.height = Math.round(this.height/(this.width/800)*100)/100;
                    cvs.getContext("2d").drawImage(this, 0, 0, cvs.width, cvs.height);
                    var newImageData = cvs.toDataURL(mime_type, 20 / 100);
                    console.log(newImageData);
                    input_hidden.val(newImageData);
                }; 
      }, false);
});

$( document ).on("change", "#store_id", function(e) {
    var channel_id = $('option:selected', this).attr('data-channel-id');
    addListPgcheckCategory(channel_id);
});

function addListPgcheckCategory(channel_id){
    
    var html = '';
    
    var i;
    
    
    if(typeof image_flash_sale !== "undefined"){
        html += '<label class="header_child" for="image_pg" style="padding: 0px 10px;">Trang phục Pgs được triển khai đúng tiêu chuẩn:</label>';
        for (i = 0; i < image_flash_sale.length; ++i) {
            if(image_flash_sale[i].channel_id == channel_id && image_flash_sale[i].type == 1){
                html += '<a href="'+image_flash_sale[i].url+'" style="padding: 0px 10px;margin-bottom:10px;display: block;" target="_blank">(Xem ảnh tiêu chuẩn <i class="icon-large icon-picture"></i>)</a>';
            }
        }
    }
    
    if(typeof pgcheck_category !== "undefined"){
        for (i = 0; i < pgcheck_category.length; ++i) {
            if(pgcheck_category[i].channel_id == channel_id && pgcheck_category[i].type == 1){
                html += '<div class="pgcheck_category_block">\
                            <div class="row_category" style="padding: 0px 10px">\
                                <span class="" for="username">'+pgcheck_category[i].name+' :</span>\
                                <input type="checkbox" class="pgcheck_category" name="pgcheck_category[]" value="'+pgcheck_category[i].id+'" />\
                            </div>\
                        </div>';
            }
        }
    }
    
    
    
    if(typeof image_flash_sale !== "undefined"){
        html += '<label class="header_child" for="image_pg" style="padding: 0px 10px;">Flash Sale triển khai & đúng tiêu chuẩn:</label>';
        for (i = 0; i < image_flash_sale.length; ++i) {
            if(image_flash_sale[i].channel_id == channel_id && image_flash_sale[i].type == 2){
                html += '<a href="'+image_flash_sale[i].url+'" style="padding: 0px 10px;margin-bottom:10px;display: block;" target="_blank">(Xem ảnh tiêu chuẩn <i class="icon-large icon-picture"></i>)</a>';
            }
        }
    }
    
    if(typeof pgcheck_category !== "undefined"){
        for (i = 0; i < pgcheck_category.length; ++i) {
            if(pgcheck_category[i].channel_id == channel_id && pgcheck_category[i].type == 2){
                html += '<div class="pgcheck_category_block">\
                            <div class="row_category" style="padding: 0px 10px">\
                                <span class="" for="username">'+pgcheck_category[i].name+' :</span>\
                                <input type="checkbox" class="pgcheck_category" name="pgcheck_category[]" value="'+pgcheck_category[i].id+'" />\
                            </div>\
                        </div>';
            }
        }
    }
    
    
    
    if(typeof image_flash_sale !== "undefined"){
        html += '<label class="header_child" for="image_pg" style="padding: 0px 10px">Bàn trải nghiệm triển khai & đúng tiêu chuẩn:</label>';
        for (i = 0; i < image_flash_sale.length; ++i) {
            if(image_flash_sale[i].channel_id == channel_id && image_flash_sale[i].type == 3){
                html += '<a href="'+image_flash_sale[i].url+'" style="padding: 0px 10px;margin-bottom:10px;display: block;" target="_blank">(Xem ảnh tiêu chuẩn <i class="icon-large icon-picture"></i>)</a>';
            }
        }
    }
    
    if(typeof pgcheck_category !== "undefined"){
        for (i = 0; i < pgcheck_category.length; ++i) {
            if(pgcheck_category[i].channel_id == channel_id && pgcheck_category[i].type == 3){
                html += '<div class="pgcheck_category_block">\
                            <div class="row_category" style="padding: 0px 10px">\
                                <span class="" for="username">'+pgcheck_category[i].name+' :</span>\
                                <input type="checkbox" class="pgcheck_category" name="pgcheck_category[]" value="'+pgcheck_category[i].id+'" />\
                            </div>\
                        </div>';
            }
        }
    }
    
    
    $('.pgcheck_category_block').html(html);
    
}

    $(document).ready(function () {
        var channel_id = $('option:selected', '#store_id').attr('data-channel-id');
        addListPgcheckCategory(channel_id);
    });

</script>
<?php 
if($this->team == 131){
    echo '<script src="https://center.opposhop.vn/public/pg-check-in/js/main_trade.js"></script>';
}else{
    echo '<script src="/pg-check-in/js/main.js"></script>';
}
?>
