<style>
.table_modal tr td{
    border: none;
    text-align: left;
    padding: 3px 15px 0px 20px;
    font-weight: bold;}
.table_modal{border: none}
</style>

<div class="page-header">
    <a href="/capacity" class="" style="line-height: 25px;color: red;">
	<i class="icon-chevron-left"></i> Quay lại
    </a>
    <h1>KẾT QUẢ ĐÁNH GIÁ <small></small></h1>
</div>
<?php
if (isset($this->messages) and $this->messages)
    foreach ($this->messages as $message):
        echo '<div class="alert alert-success">'.$message.'</div>';
    endforeach;

if (isset($this->messages_error) and $this->messages_error)
    foreach ($this->messages_error as $messages_error):
        echo '<div class="alert alert-danger">'.$messages_error.'</div>';
    endforeach;
?>

<div ng-app="app" ng-controller="appController">

<div class="accordion" id="accordion2">
    <div class="accordion-group">
        <div class="accordion-heading">
            <a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion2" href="#collapseTwo">
                Search
            </a>
        </div>
        <div id="collapseTwo" class="accordion-body collapse" style="height: 0px;">
            <div class="accordion-inner">
                <form class="form-search form-horizontal" method="get" action="">
                    <div class="row-fluid">
                        
                        <div class="span6">
                            
                            <div class="control-group">
                                <label for="department" class="span2">Department</label>
                                
                                <div class="span3">
                                    <select name="department[]" id="department" class="span3 multiselect" multiple="multiple">
                                        <?php foreach ($this->recursiveDeparmentTeamTitle as $item_id => $item):?>
                                            <option value="<?php echo $item_id;?>" <?php if (isset($this->params['department']) and ( (is_array($this->params['department']) && in_array($item_id, $this->params['department']) || $item_id==$this->params['department'])) ):?>selected<?php endif;?>><?php echo $item['name'];?></option>
                                        <?php endforeach;?>
                                    </select>
                                </div>
                                    
                            </div>
                            <div class="control-group">
                                <label for="team" class="span2">Team</label>
                                
                                <div class="span3">
                                    <select name="team[]" id="team" class="span3 multiselect" multiple="multiple">
                                        <?php if (isset($this->params['department']) and $this->params['department'] and is_array($this->params['department'])){
                                                foreach ($this->params['department'] as $dep){
                                                    if (isset($this->recursiveDeparmentTeamTitle[$dep]['children']) and $this->recursiveDeparmentTeamTitle[$dep]['children']) {
                                                        foreach ($this->recursiveDeparmentTeamTitle[$dep]['children'] as $item_id => $item){
                                            ?>
                                                            <option value="<?php echo $item_id;?>" <?php if (isset($this->params['team']) and ( (is_array($this->params['team']) && in_array($item_id, $this->params['team']) || $item_id==$this->params['team'])) ):?>selected<?php endif;?>><?php echo $item['name'];?></option>
                                        <?php
                                                        }
                                                    }
                                                }
                                            }
                                        ?>
                                    </select>
                                </div>
                            </div>

                            <div class="control-group">
                                <label for="title" class="span2">Title</label>
                                
                                <div class="span3">
                                    <select name="title[]" id="title" class="span3 multiselect" multiple="multiple">
                                        <?php if (
                                            isset($this->params['department']) and $this->params['department'] and is_array($this->params['department'])
                                                    and isset($this->params['team']) and $this->params['team'] and is_array($this->params['team'])){
                                            foreach ($this->params['department'] as $dep){
                                                if (isset($this->recursiveDeparmentTeamTitle[$dep]['children']) and $this->recursiveDeparmentTeamTitle[$dep]['children']) {
                                                    foreach ($this->recursiveDeparmentTeamTitle[$dep]['children'] as $team_id => $team){
                                                        if (isset($this->recursiveDeparmentTeamTitle[$dep]['children'][$team_id]['children']) and $this->recursiveDeparmentTeamTitle[$dep]['children'][$team_id]['children']) {
                                                            foreach ($this->recursiveDeparmentTeamTitle[$dep]['children'][$team_id]['children'] as $item_id => $item){
                                                        ?>
                                                                <option value="<?php echo $item_id;?>" <?php if (isset($this->params['title']) and ( (is_array($this->params['title']) && in_array($item_id, $this->params['title']) || $item_id==$this->params['title'])) ):?>selected<?php endif;?>><?php echo $item['name'];?></option>
                                                    <?php
                                                            }
                                                        }
                                                    }
                                                }
                                            }
                                        }
                                        ?>
                                    </select>
                                </div>
                            </div>
                            
                            <div class="control-group">
                                <label for="title" class="span2">Đợt đánh giá</label>
                                
                                <div class="span3">
                                    <select name="plan_id" id="plan_id">
                                        <option value="">-- Select --</option>
                                        <?php foreach($this->plan as $key=>$value):?>
                                        <option value="<?php echo $value['id'];?>" <?php echo (!empty($this->params['plan_id']) AND $this->params['plan_id'] == $value['id']) ? 'selected' : NULL;?>><?php echo $value['title'];?></option>
                                        <?php endforeach;?>
                                    </select>
                                </div>
                            </div>
                            
                        </div><!-- span6 -->
                    </div>
                    
                    <button type="submit" class="btn btn-primary">Search</button>
                </form>
            </div>
        </div>
    </div>
</div>

<div class="table-responsive">
<style>
    .modal table tr td.span1{
        min-width: 100px!important;
    }
    .modal table th {
        background: #e2efda;
        color: #000;
        text-align: center;
        border: 1px solid #b3b3b3 !important;
        text-transform: none;
        font-size: 12px
    }
    .table-bordered th{
        min-width: 100px;
        background: #e2efda;
        color: #000;
        text-align: center;
        border: 1px solid #b3b3b3 !important;
        text-transform: none;
        font-size: 12px;
        vertical-align: middle !important;
    }
    .table-bordered td{
        text-align: center;
        vertical-align: middle;
    }
    
    .dictionary_1{background: #c6e0b4 !Important;}
</style>
<table class="table table-bordered">
    <thead>
        <tr>
            <th>Đợt đánh giá</th>
            <th>Chức danh</th>
            <th>KQ Tự đánh giá</th>
            <th>KQ trưởng bộ phận đánh giá</th>
        </tr>
</thead>
<tbody>
    
    <?php foreach($this->plan_year as $key=>$value):?>
    <tr>
        <td><?php echo $value['title'];?></td>
        <td>
            <?php echo $this->data['title_name'];?>
        </td>
        <td>
            <?php if($this->data['is_staff_appraisal'][$value['id']][1]):?>
                <a href="/capacity/staff-view-capacity?staff_capacity_id=<?php echo $this->data['is_staff_appraisal'][$value['id']][1];?>">Xem kết quả</a>
            <?php else:?>
                <i>Chưa đánh giá</i>
            <?php endif;?>
        </td>
        <td>
            <?php if($this->data['is_head_appraisal'][$value['id']][1]):?>
                <a href="/capacity/staff-capacity?id=<?php echo $this->data['is_head_appraisal'][$value['id']][1];?>&re=<?php echo $this->data['is_staff_appraisal'][$value['id']][1];?>">Xem kết quả</a>
            <?php else:?>
                <i>Chưa đánh giá</i>
            <?php endif;?>
        </td>
    </tr>
    <?php endforeach;?>

</tbody>
</table>
<div class="paging">
    <?php echo $this->paging($this->total, $this->limit, $this->offset, $this->url);?>
</div>


<div class="controls">		
    <!-- Modal -->
    <div id="modalDictionary" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
        <h3 id="myModalLabel" style="text-align: center">KẾT QUẢ ĐÁNH GIÁ NĂNG LỰC</h3>
      </div>
      <div class="modal-body">
          <div class="wrap_add_dictionary">
                <div class="top_wrap">
                    <table class="table_modal">
                        <tr>
                            <td style="background: #E2EFDA">Phòng ban</td>
                            <td style="background: #C6E0B4" ng-bind="data.staff.department_name"></td>
                        </tr>
                        <tr>
                            <td style="background: #E2EFDA">Team</td>
                            <td style="background: #C6E0B4" ng-bind="data.staff.team_name"></td>
                        </tr>
                        <tr>
                            <td style="background: #E2EFDA">Title</td>
                            <td style="background: #C6E0B4" ng-bind="data.staff.title_name"></td>
                        </tr>
                        <tr>
                            <td style="background: #E2EFDA">Name</td>
                            <td style="background: #C6E0B4" ng-bind="data.staff.fullname"></td>
                        </tr>
                    </table>
                </div>

                <div class="level_wrap">
                    <table class="table table-bordered">
                        <tr>
                            <th style="min-width:100px">Ngày đánh giá</th>
                            <th style="min-width:100px">Người đánh giá</th>
                            <th>Action</th>
                        </tr>
                        
                        <tr ng-repeat="capacity_staff in data.capacity_staff">
                            <td ng-bind="capacity_staff.created_at" style="text-align: center"></td>
                            <td ng-bind="capacity_staff.created_by" style="text-align: center"></td>
                            <td style="text-align: center"><i style="cursor: pointer;color:red" ng-click="action.linkDetails(capacity_staff)">Xem chi tiết</i></td>
                        </tr>
                        
                    </table>
                </div><!-- level_wrap -->

          </div><!-- wrap_dictionary -->
      </div><!-- modal-body -->
     
    </div>
</div> <!-- /controls -->


</div><!-- angular -->

<script type="text/javascript" src="/js/jquery-ui-1.8.12.custom.min.js"></script>
<link rel="stylesheet" type="text/css" href="/css/jquery-ui-1.8.12.custom.css"/>
<script src="/public/js/jquery.blockUI.js" type="text/javascript"></script>

<script src="//connect.facebook.net/en_US/all.js"></script>
<script src="//ajax.googleapis.com/ajax/libs/jqueryui/1.8/jquery-ui.min.js"></script>
<link rel="stylesheet" type="text/css" href="//ajax.googleapis.com/ajax/libs/jqueryui/1.7.1/themes/base/jquery-ui.css">


<script src="/js/angular.min.js"></script>

<script type="text/javascript">
    var app = angular.module('app', []);
    app.controller('appController', function ($scope, $http) {
        
        // Init
        $scope.init = init;

        $scope.data = {
            titleId: new URL(location.href).searchParams.get("title_id"),
            view: new URL(location.href).searchParams.get("view"),
            plans: [],
            plan_id: '',
            status: 1,
            staff: new Object(),
            capacity_staff: []
        };
        
        $scope.action = {
            openDetails: openDetails,
            linkDetails: linkDetails
        };

        // Run
        $scope.init();
        

        // Action
        function init() {
            
        }
        
        function openDetails(staff_id, fullname, department_name, team_name, title_name){
            
            $.ajax
            ({
                url : '/capacity/get-appraisal-capacity',
                type : 'POST',
                data : {staff_id: staff_id},
                async: false,
                dataType: "json",
                success : function (data)
                {
                    if(data.status == 0){
                        
                        capacityLevelTemp = [];
                        data.capacity_staff.forEach(function (capacity) {
                            capacityLevelTemp.push(capacity);
                        });
                        $scope.data.capacity_staff = capacityLevelTemp;
                        
                        staffTemp = data.staff;
                        console.log(staffTemp);
                        $scope.data.staff = staffTemp;
                        
                        //$scope.$apply();
                        
                        $('#modalDictionary').modal('show');
                    }
                    else{
                        console.log(data.message);
                    }
                    
                },
                error : function ()
                {
                    console.log('Error');
                }
            });
        }
        
        function linkDetails(capacity_staff){
            window.location.href = "/capacity/staff-capacity?id="+capacity_staff.id;
        }
        
        
    });
</script>


<?php echo $this->confirm();?>
<?php echo $this->load();?>
<script>
    $(document).ready(function(){
        openDetails();
    });
    
    function openDetails()
    {
        $('.open_details').click(function()
        {
            var capacity_id = $(this).attr('rel');
            
            $.ajax
            ({
                url : '/capacity/get-capacity',
                type : 'POST',
                data : {capacity_id: capacity_id},
                async: false,
                dataType: "json",
                success : function (data)
                {
                    $('#modalDictionary').modal('show');
                },
                error : function ()
                {
                    console.log('Error');
                }
            });

        });


    }
    function unblockUI(){
        $.unblockUI();
    }

    function initWaiting(){
        $.blockUI({ css: {
            border: 'none',
            padding: '15px',
            backgroundColor: '#000',
            '-webkit-border-radius': '10px',
            '-moz-border-radius': '10px',
            opacity: .5,
            color: '#fff'
        } });
    }

</script>
</div>
<script type="text/javascript" src="<?php echo HOST ?>js/bootstrap-multiselect.js"></script>
<link rel="stylesheet" href="<?php echo HOST ?>css/bootstrap-multiselect.css" type="text/css"/>
<script type="text/javascript" src="<?php echo HOST ?>js/jquery-ui-1.8.12.custom.min.js"></script>
<link rel="stylesheet" type="text/css" href="<?php echo HOST ?>css/jquery-ui-1.8.12.custom.css"/>
<script>
    options = {
        selectAllText: 'Select All',
        includeSelectAllOption: true,
        includeSelectAllIfMoreThan: 3,
        disableIfEmpty: true
    };

    $(document).ready(function () {
        $('.form-search button:reset').click(function (e){
            $('.form-search input, .form-search select').val('');
            $('.form-search').submit();
            return false;
        });

        multi();
        
        $('#department').change(function(){
            $('.loading').remove();
            $(this).after('<span class="loading"></span>');
            var _self = $(this);
            var department_id = $(this).val();
            $('button, .btn, input').prop('disabled', true);
            $.get("/ajax/load-team",
                {department_id: department_id}
                ,function(data,status){
                    var obj = $.parseJSON( data );
                    $('#team').find('option').remove();
                    for (var i = 0; i < obj.length; i++) {
                        $('#team').append('<option value="'+obj[i]['id']+'">'+obj[i]['name']+'</option>');
                    }

                    $('button, .btn, input').prop('disabled', false);
                    $('.multiselect').multiselect("destroy").multiselect(options);
                    $('.loading').remove();
                });
        });

        $('#team').change(function(){
            $('.loading').remove();
            $(this).after('<span class="loading"></span>');
            var _self = $(this);
            var team_id = $(this).val();
            $('button, .btn, input').prop('disabled', true);
            $.get("/ajax/load-title",
                {team_id: team_id}
                ,function(data,status){
                    var obj = $.parseJSON( data );
                    $('#title').find('option').remove();
                    for (var i = 0; i < obj.length; i++) {
                        $('#title').append('<option value="'+obj[i]['id']+'">'+obj[i]['name']+'</option>');
                    }

                    $('button, .btn, input').prop('disabled', false);
                    $('.multiselect').multiselect("destroy").multiselect(options);
                    $('.loading').remove();
                });
        });
        
    });

    function multi() {
        $('.multiselect').multiselect(options);
    }
</script>
<?php echo $this->confirm();?>
<?php echo $this->load('combobox');?>