
<style>
    .level_wrap{border: 1px solid #CCC;padding: 10px;margin-bottom: 5px}
</style>

<?php $capacity_dictionary_type = unserialize(CAPACITY_DICTIONARY_TYPE);?>

<div class="page-header">
    <h2>Từ điển năng lực</h2>
    <h3 style="color:#008B56"><?php echo (isset($this->dictionary['title'])) ? $this->dictionary['title'] : 'Tạo mới'; ?></h3>
</div>

<?php
if (isset($this->messages_error) and $this->messages_error)
    foreach ($this->messages_error as $messages_error):
        echo '<div class="alert alert-danger">'.$messages_error.'</div>';
    endforeach;

if (isset($this->messages_success) and $this->messages_success)
    foreach ($this->messages_success as $messages_success):
        echo '<div class="alert alert-success">'.$messages_success.'</div>';
    endforeach;
?>


<form action="" method='POST'>
    <div class="parent">
        <div class="row-fluid">
            <div class="span6 level_wrap">
                
                <div class="control-group">
                    <label for="title" class="span2"><span class="label label-success">Định nghĩa</span></label>
                </div>
                <br>
                
                <div class="control-group">
                    <label for="title" class="span2">Tiêu đề:</label>
                    <textarea rows="1" cols="50" name="title" class="span4"><?php if (isset($this->dictionary['title'])) echo $this->dictionary['title']; ?></textarea>
                </div>

                <div class="control-group">
                    <label for="type" class="span2">Loại:</label>
                    <select name="type" class="span4" required>
                        <option value="">-- Select --</option>
                        <?php foreach($capacity_dictionary_type as $key=>$value):?>
                        <option value="<?php echo $key;?>" <?php if (isset($this->dictionary['type']) AND $this->dictionary['type'] == $key) echo "selected"; ?>><?php echo $value;?></option>
                        <?php endforeach; ?>
                    </select>
                </div>
                
                <div class="control-group">
                    <label for="desc" class="span2">Mô tả:</label>
                    <textarea rows="7" cols="50" name="desc" class="span4"><?php if (isset($this->dictionary['desc'])) echo $this->dictionary['desc']; ?></textarea>
                </div>
                
            </div>

        </div><!-- row-fluid -->
        
        <div class="row-fluid">
            <div class="span6 level_wrap">
                
                <div class="control-group">
                    <label for="title" class="span2"><span class="label label-success">Các cấp độ</span></label>
                </div>
                <br>
                
                <div class="control-group">
                    <label for="title" class="span2">Level 1:</label>
                    <textarea rows="2" cols="50" name="level[1]" class="span4"><?php if (isset($this->level[1])) echo $this->level[1]; ?></textarea>
                </div>
                
                <div class="control-group">
                    <label for="title" class="span2">Level 2:</label>
                    <textarea rows="2" cols="50" name="level[2]" class="span4"><?php if (isset($this->level[2])) echo $this->level[2]; ?></textarea>
                </div>
                
                <div class="control-group">
                    <label for="title" class="span2">Level 3:</label>
                    <textarea rows="2" cols="50" name="level[3]" class="span4"><?php if (isset($this->level[3])) echo $this->level[3]; ?></textarea>
                </div>
                
                <div class="control-group">
                    <label for="title" class="span2">Level 4:</label>
                    <textarea rows="2" cols="50" name="level[4]" class="span4"><?php if (isset($this->level[4])) echo $this->level[4]; ?></textarea>
                </div>
                
                <div class="control-group">
                    <label for="title" class="span2">Level 5:</label>
                    <textarea rows="2" cols="50" name="level[5]" class="span4"><?php if (isset($this->level[5])) echo $this->level[5]; ?></textarea>
                </div>
                
            </div>
        </div><!-- row-fluid -->
        
        <div class="row-fluid">
            <div class="span6 level_wrap">
                <input type="hidden" name="id" value="<?php if (isset($this->dictionary['id'])) echo $this->dictionary['id']; ?>"/>
                <button name="delete" value="1" type="submit" class="btn btn-danger">Xóa</button>
                <button type="submit" class="btn btn-success pull-right">Save</button>
            </div>
        </div><!-- row-fluid -->
        
        
    </div><!-- parent-->
    
    
</form>


<script type="text/javascript" src="/js/jquery-ui-1.8.12.custom.min.js"></script>
<link rel="stylesheet" type="text/css" href="/css/jquery-ui-1.8.12.custom.css"/>

