
<?php $capacity_dictionary_type = unserialize(CAPACITY_DICTIONARY_TYPE);?>

<div class="page-header">
    <h1>Từ điển năng lực</h1>
    
    <?php if($this->level == 1):?>
    <a class="btn btn-primary pull-right" href="/capacity/create-dictionary" style="margin-top: -15px;">Tạo mới</a>
    <?php endif;?>
    
</div>
<?php
if (isset($this->messages) and $this->messages)
    foreach ($this->messages as $message):
        echo '<div class="alert alert-success">'.$message.'</div>';
    endforeach;

if (isset($this->messages_error) and $this->messages_error)
    foreach ($this->messages_error as $messages_error):
        echo '<div class="alert alert-danger">'.$messages_error.'</div>';
    endforeach;
?>

<style>
    a{color: #0780DB;}
    a:hover{color: #00589a;text-decoration: none}
    .header-top-dictionary span{
        color: #19bc9c;
        font-weight: bold;
        font-size: 14px;
        line-height: 32px;
        border-bottom: 2px solid #38c38e;
        padding-bottom: 3px;
    }
    .header-mid span{
        color: #19bc9c;
        font-weight: bold;
        font-size: 14px;
        line-height: 32px;
        border-bottom: 2px solid #38c38e;
        padding-bottom: 3px;
    }
    
    .mid-dictionary ul{list-style: none;}
    .mid-dictionary ul li::before {
        content: "\2394";  /* Add content: \2022 is the CSS Code/unicode for a bullet */
        color: #FFB758; /* Change the color */
        font-weight: bold; /* If you want it to be bold */
        display: inline-block; /* Needed to add space between the bullet and the text */
        width: 1em; /* Also needed for space (tweak if needed) */
        margin-left: -1em; /* Also needed for space (tweak if needed) */
        vertical-align: text-bottom;
    }
    
    .top-dictionary ul{list-style: none;}
    .top-dictionary ul li::before {
        content: "\2394";  /* Add content: \2022 is the CSS Code/unicode for a bullet */
        color: #FFB758; /* Change the color */
        font-weight: bold; /* If you want it to be bold */
        display: inline-block; /* Needed to add space between the bullet and the text */
        width: 1em; /* Also needed for space (tweak if needed) */
        margin-left: -1em; /* Also needed for space (tweak if needed) */
    }
    
    .top-dictionary{padding-left: 50px}
    .mid-dictionary{padding-left: 50px}
</style>

<div class="table-responsive">
    <style>
    .modal table tr td.span1{
        min-width: 100px!important;
    }
</style>

<div class="card card-custom">
    <div class="card-body">
        <div class="top-dictionary--">
            <div class='header-top-dictionary'>
                <span>Từ điển năng lực là gì?</span>
            </div>

            <div class="content-top">
                <p>Năng lực là là sự kết hợp đồng thời 3 yếu tố <b style="color: #19bc9c;font-weight: 100;">kiến thức</b>, <b style="color: #19bc9c;font-weight: 100;">kỹ năng</b> và <b style="color: #19bc9c;font-weight: 100;">tư duy</b> cần có để giúp 1 cá nhân thực hiện tốt công việc.<br> Năng lực được thể hiện qua hành vi và có thể đo lường được thông qua các cấp độ.  Trong đó:</p>
                <ul>
                    <li> <b style="color: #19bc9c;font-weight: 100;">Kiến thức</b>: Là sự hiểu biết lý thuyết về một chủ đề nào đó được đào tạo, nghiên cứu hoặc được tích lũy từ thực tế.<br> <b style="text-decoration: underline;font-weight: 100;">VD:</b> kiến thức về thuế, tuyển dụng, Marketing,...</li>
                    <li> <b style="color: #19bc9c;font-weight: 100;">Tư duy</b>:  Là cách nhìn nhận về công việc, nhiệm vụ, đồng nghiệp.<br> <b style="text-decoration: underline;font-weight: 100;">VD:</b> tư duy hướng đến kết quả,...</li>
                    <li> <b style="color: #19bc9c;font-weight: 100;">Kỹ năng</b>:  Là khả năng thực hiện các công việc, biến kiến thức thành thực tiễn. Kỹ năng là được rèn luyện và thực hiện nhiều lần.<br><b style="text-decoration: underline;font-weight: 100;">VD:</b> KN quản lý thời gian, kỹ năng ra quyết định,...</li>
                </ul>
                <p>Dưới đây là bộ Từ Điển Năng Năng lực:</p>
            </div>
        </div>

        <div class="mid-dictionary--">
            <div class="header-mid">
                <span>Kiến thức</span>
            </div>

            <div class="content-mid">
                <ul>
                    <?php foreach ($this->dictionary as $key=>$value): ?>
                    <?php if($value['type'] == 3):?>
                    <li><a href="/capacity/view-dictionary?id=<?php echo $value['id'];?>"><?php echo $value['title'];?></a></li>
                    <?php endif;?>
                    <?php endforeach;?>
                </ul>
            </div>

            <div class="header-mid">
                <span>Tư duy</span>
            </div>

            <div class="content-mid">
                <ul>
                    <?php foreach ($this->dictionary as $key=>$value): ?>
                    <?php if($value['type'] == 1):?>
                    <li><a href="/capacity/view-dictionary?id=<?php echo $value['id'];?>"><?php echo $value['title'];?></a></li>
                    <?php endif;?>
                    <?php endforeach;?>
                </ul>
            </div>

            <div class="header-mid">
               <span> Kỹ năng</span>
            </div>

            <div class="content-mid">
                <ul>
                    <?php foreach ($this->dictionary as $key=>$value): ?>
                    <?php if($value['type'] == 2):?>
                    <li><a href="/capacity/view-dictionary?id=<?php echo $value['id'];?>"><?php echo $value['title'];?></a></li>
                    <?php endif;?>
                    <?php endforeach;?>
                </ul>
            </div>
        </div>
        
    </div>
</div>




<script type="text/javascript" src="/js/jquery-ui-1.8.12.custom.min.js"></script>
<link rel="stylesheet" type="text/css" href="/css/jquery-ui-1.8.12.custom.css"/>
<script src="/public/js/jquery.blockUI.js" type="text/javascript"></script>

