
<style>
    .go_set_prd{color:red;font-weight: bold;text-decoration: underline}
</style>

<div class="page-header">
    <a href="/capacity" class="" style="line-height: 25px;color: red;">
	<i class="icon-chevron-left"></i> Quay lại
    </a>
    <h1>Đánh giá năng lực</h1>
</div>
<?php
if (isset($this->messages) and $this->messages)
    foreach ($this->messages as $message):
        echo '<div class="alert alert-success">'.$message.'</div>';
    endforeach;

if (isset($this->messages_error) and $this->messages_error)
    foreach ($this->messages_error as $messages_error):
        echo '<div class="alert alert-danger">'.$messages_error.'</div>';
    endforeach;
?>

<div class="container">
	
    <div class="row">

      <div class="span12">      		

              <div class="widget ">

                      <div class="widget-header">
                              <i class="icon-bar-chart"></i>
                              <h3>Đánh giá</h3>
                              </div> 

                                <div class="widget-content">
                                    <form id="edit-profile" class="form-horizontal">
                                        <fieldset>

                                            <div class="control-group">											
                                                    <label class="span2" for="plan_id" style="margin-top: 5px;">Chọn đợt đánh giá:</label>
                                                    <div class="controls">
                                                        <select id='plan_id'>
                                                            <option value=''>-- Select --</option>
                                                            <?php foreach($this->capacity_plan as $key=>$value):?>
                                                            <option value='<?php echo $value['id'];?>' 
                                                            ><?php echo $value['title'];?></option>
                                                            <?php endforeach;?>
                                                        </select>
                                                        
                                                        <a class="btn btn-primary div_set_prd" href="">Đánh giá</a>
                                                        
                                                    </div> <!-- /controls -->	
                                                    
                                                    
                                                    
                                            </div> <!-- /control-group -->
                                            
                                            
                                            
                                        </fieldset>
                                    </form>
                                </div>

                              </div> <!-- /widget-content -->

                      </div> <!-- /widget -->

          </div> <!-- /span8 -->




    </div> <!-- /row -->

  </div>
    
    
    
</div>



<script type="text/javascript" src="/js/jquery-ui-1.8.12.custom.min.js"></script>
<script src="/js/plotly-latest.min.js"></script>

<style>
    .modebar-container{display: none}
    .chart_staff{display: block;float:left}
</style>

<script>
    $( document ).ready(function() {
        
        
        //init();
        $( "#plan_id" ).change(function() {
            var plan_id = $(this).find(':selected').val();
            var staff_id = new URL(location.href).searchParams.get("staff_id");
            updateAction(plan_id, staff_id);
            
        });
    });
    
    function init(){
        
        $('.div_set_prd').hide();
        
        plan_id = $( "#plan_id" ).val();
        updateAction(plan_id, staff_id);
    }
    
    function updateAction(plan_id, staff_id){
        if (plan_id == "") {
            $('.div_set_prd').hide();
        }
        else{
            $('.div_set_prd').show();

            $('.div_set_prd').attr("href","/capacity/appraisal-new?staff_id="+staff_id+"&plan_id="+plan_id);

        }
    }
    
</script>