
<style>
    .go_set_prd{color:red;font-weight: bold;text-decoration: underline}
</style>

<div class="page-header">
    <a href="javascript:history.back()" class="" style="line-height: 25px;color: red;">
	<i class="icon-chevron-left"></i> Quay lại
    </a>
    <h1>Thiết lập khung năng lực cá nhân</h1>
</div>
<?php
if (isset($this->messages) and $this->messages)
    foreach ($this->messages as $message):
        echo '<div class="alert alert-success">'.$message.'</div>';
    endforeach;

if (isset($this->messages_error) and $this->messages_error)
    foreach ($this->messages_error as $messages_error):
        echo '<div class="alert alert-danger">'.$messages_error.'</div>';
    endforeach;
?>

<div class="container">
	
    <div class="row">

      <div class="span12" style="margin-left: 0px;">      		

              <div class="widget ">

                      <div class="widget-header">
                              <i class="icon-bar-chart"></i>
                              <h3>Thiết lập</h3>
                              </div> 

                                <div class="widget-content">
                                    <form id="edit-profile" class="form-horizontal">
                                        <fieldset>
                                            
                                            <div class="control-group">
                                                <table>
                                                    <tbody>
                                                        <tr>
                                                            <td style="background: #E2EFDA;width: 170px;">Phòng ban</td>
                                                            <td style="background: #C6E0B4;width: 170px;"><?php echo $this->info_title['department_name'];?></td>
                                                        </tr>
                                                        <tr>
                                                            <td style="background: #E2EFDA">Team</td>
                                                            <td style="background: #C6E0B4"><?php echo $this->info_title['team_name'];?></td>
                                                        </tr>
                                                        <tr>
                                                            <td style="background: #E2EFDA">Title</td>
                                                            <td style="background: #C6E0B4"><?php echo $this->info_title['title_name'];?></td>
                                                        </tr>
                                                    </tbody>
                                                 </table>
                                            </div> <!-- /control-group -->
                                            
                                            <div class="control-group">
                                                <table style="width: 700px;">
                                                    <tbody>
                                                        <tr>
                                                            <th>Họ tên</th>
                                                            <th>Trạng thái</th>
                                                            <th></th>
                                                        </tr>
                                                        <?php foreach($this->staff_list as $key=>$value):?>
                                                        <tr>
                                                            <td><?php echo $value['fullname'];?></td>
                                                            <td><?php echo !empty($value['capacity_id']) ? '<i style="color: #21a9ec">Đã thiết lập</i>' : '<i style="color: red">Chưa thiết lập</i>';?></td>
                                                            <td>
                                                                <?php if(!empty($value['capacity_id'])):?>
                                                                <a class="btn btn-primary" href="/capacity/view-capacity?capacity_id=<?php echo $value['capacity_id'];?>">Vào điều chỉnh</a>
                                                                <?php else:?>
                                                                <a class="btn btn-warning" href="/capacity/create-capacity-details?staff_id=<?php echo $value['id'];?>">Vào thiết lập</a>
                                                                <?php endif;?>
                                                            </td>
                                                        </tr>
                                                        <?php endforeach;?>
                                                    </tbody>
                                                 </table>
                                            </div> <!-- /control-group -->
                                            
                                            <!--
                                            <div class="control-group">										
                                                <label class="span2" for="staff_id">Chọn nhân viên thiết lập:</label>
                                                <div class="controls">
                                                    <select id='staff_id'>
                                                        <option value=''>-- Select --</option>
                                                        <?php foreach($this->staff_list as $key=>$value):?>
                                                        <option value='<?php echo $value['id'];?>' 
                                                                capacity_id = "<?php echo $value['capacity_id'];?>"
                                                        ><?php echo $value['fullname'];?></option>
                                                        <?php endforeach;?>
                                                    </select>
                                                    <a class="btn btn-primary div_set_prd" href="">Thiết lập</a>
                                                </div> 
                                            </div> <!-- /control-group -->
                                            
                                            
                                            
                                        </fieldset>
                                    </form>
                                </div>

                              </div> <!-- /widget-content -->

                      </div> <!-- /widget -->

          </div> <!-- /span8 -->




    </div> <!-- /row -->

  </div>
    
    
    
</div>



<script type="text/javascript" src="/js/jquery-ui-1.8.12.custom.min.js"></script>
<script src="/js/plotly-latest.min.js"></script>

<style>
    .modebar-container{display: none}
    .chart_staff{display: block;float:left}
</style>

<script>
    $( document ).ready(function() {
        
        
        init();
        
        $( "#staff_id" ).change(function() {
            var staff_id = $(this).find(':selected').val();
            var capacity_id = $(this).find(':selected').attr('capacity_id');
            
            //var staff_id = new URL(location.href).searchParams.get("staff_id");
            updateAction(capacity_id, staff_id);
            
        });
    });
    
    function init(){
        
        $('.div_set_prd').hide();
        //plan_id = $( "#plan_id" ).val();
        //updateAction(plan_id, staff_id);
    }
    
    function updateAction(capacity_id, staff_id){
        
        console.log(capacity_id);
        
        if (capacity_id) {
            $('.div_set_prd').show();
            $('.div_set_prd').attr("href","/capacity/create-capacity-details?staff_id="+staff_id);
            $('.div_set_prd').html('Đã thiết lập, Vào điều chỉnh');
        }
        else{
            
            
            $('.div_set_prd').show();
            $('.div_set_prd').attr("href","/capacity/create-capacity-details?staff_id="+staff_id);
            $('.div_set_prd').html('Chưa thiết lập, Vào thiết lập');
        }
    }
    
</script>