<style>
    .row-fluid{
        width: 1200px;
    }
    
    .page-header{
        width: 1200px
    }
    
    .page-header h1 {
        text-align: center;
        text-transform: uppercase;
        color: #008B56;
    }
    
    .page-header h3 {
        text-align: center;
        line-height: 25px;
    }
    
    .page-header h4 {
        text-align: center;
        line-height: 37px;
        font-style: italic;
    }
    
    .table-bordered th{
        background: #e2efda;
        color: #000;
        text-align: center;
        border: 1px solid #b3b3b3 !important;
        text-transform: none;
        font-size: 12px;
        vertical-align: middle
    }
    
    #dictionary_chart {
        width: 50%;
        height: 400px;
        margin: 0 auto;
        float: left;
    }
    
    #dictionary_chart2 {
        width:50%;
        height: 400px;
        margin: 0 auto;
        float: left;
    }

    .tooltips i{
        color: #bbbbbb;
    }
    
    .tooltips {
        position: relative;
        display: inline-block;
        cursor: pointer
    }

    .tooltips .tooltiptext {
        visibility: hidden;
        color: #000;
        text-align: center;
        border-radius: 6px;
        padding: 5px 0;
        position: absolute;
        z-index: 1;
        padding: 0px 0px 0px 15px;
    }
    
    .tooltips .tooltiptext .tooltip_wrap{
        background: #a2d5ef;
        padding: 10px;
    }
    
    .tooltips .tooltiptext:after {
        border-top: 10px solid transparent;
        border-right: 13px solid rgb(162, 213, 239);
        border-bottom: 10px solid transparent;
        content: '';
        height: 0;
        width: 0;
        position: absolute;
        left: 2px;
        top: 44%;
    }

    .tooltips:hover .tooltiptext {
        visibility: visible;
        transform: translateY(-44%);
        transition: all .25s ease-out;
    }
    
    .re_comment{
        display: block;
        width: 1100px;
    }
    .re_comment .table-wrap{
        display: block;
        width: 500px;
        margin: 0 auto;
    }
    .re_comment{font-style: initial;}
    
    .re_comment .title{
        font-size: 16px;
        line-height: 38px;
        color: dodgerblue;
    }
    .content_layout{overflow: hidden}
</style>

<div class="page-header">
    <h1>Kết quả tự đánh giá năng lực</h1>
    <h3 style="color:Red"><?php echo $this->staff['fullname'];?></h3>
    <h4><i><?php echo $this->capacity_info['department_name'];?></i> - <i><?php echo $this->capacity_info['team_name'];?></i> - <i><?php echo $this->capacity_info['title_name'];?></i></h4>
    <h4 style="color:Red"><?php echo $this->capacity_info['plan_title'];?></h4>
</div>

<div class="row-fluid">
    <div id="dictionary_chart"></div>
    <div id="dictionary_chart2"></div>
</div>

<div class="row-fluid">
    <table class="table table-bordered" style="border: 3px solid #ddd;width: 1200px;display: none;">
        <tr>
            <th>Các lĩnh vực</th>
            <th>Loại năng lực</th>
            <th>Tên năng lực</th>
            <th>Cấp độ yêu cầu</th>
            <!--<th>Năng lực tự đánh giá</th>-->
            <th>Kết quả tự đánh giá</th>
            <th>Trọng số</th>
            <th style="width:60px">Điểm</th>
        </tr>
        
        <?php foreach($this->science_list as $key=>$value):?>
        <tr>
            <td>Tất cả lĩnh vực</td>
            <td>Kiến thức</td>
            <td><?php echo $value['title_name'];?></td>
            <td><?php echo $value['level'];?>
            
                <div class="tooltips"><i class="icon icon-info-sign tooltips"></i>
                    <span class="tooltiptext">
                        <div class="tooltip_wrap">
                            <table style="width: 500px;">
                                <?php foreach($this->dictionary[15] as $k=>$v):?>
                                <tr>
                                    <?php if($v['level'] == $value['level']):?>
                                    <td style="background: #d9edf7">
                                        <input type="checkbox" checked />
                                        <?php echo 'Level: '.$v['level'].'. '.$v['level_title'];?>
                                    </td>
                                    <?php else:?>
                                    <td>
                                        <input type="checkbox" />
                                        <?php echo 'Level: '.$v['level'].'. '.$v['level_title'];?>
                                    </td>
                                    <?php endif;?>
                                </tr>
                                <?php endforeach;?>
                            </table>
                        </div>
                    </span>
                </div>
                
            </td>
            <!--
            <td><?php echo $value['appraisal_staff_level'];?>
            
                <div class="tooltips"><i class="icon icon-info-sign tooltips"></i>
                    <span class="tooltiptext">
                        <div class="tooltip_wrap">
                            <table style="width: 500px;">
                                <?php foreach($this->dictionary[15] as $k=>$v):?>
                                <tr>
                                    <?php if($v['level'] == $value['appraisal_staff_level']):?>
                                    <td style="background: #d9edf7">
                                        <input type="checkbox" checked />
                                        <?php echo 'Level: '.$v['level'].'. '.$v['level_title'];?>
                                    </td>
                                    <?php else:?>
                                    <td>
                                        <input type="checkbox" />
                                        <?php echo 'Level: '.$v['level'].'. '.$v['level_title'];?>
                                    </td>
                                    <?php endif;?>
                                </tr>
                                <?php endforeach;?>
                            </table>
                        </div>
                    </span>
                </div>
                
            </td>
            -->
            <td><?php echo $value['appraisal_staff_level'];?>
                <div class="tooltips"><i class="icon icon-info-sign tooltips"></i>
                    <span class="tooltiptext">
                        <div class="tooltip_wrap">
                            <table style="width: 500px;">
                                <?php foreach($this->dictionary[15] as $k=>$v):?>
                                <tr>
                                    <?php if($v['level'] == $value['appraisal_staff_level']):?>
                                    <td style="background: #d9edf7">
                                        <input type="checkbox" checked />
                                        <?php echo 'Level: '.$v['level'].'. '.$v['level_title'];?>
                                    </td>
                                    <?php else:?>
                                    <td>
                                        <input type="checkbox" />
                                        <?php echo 'Level: '.$v['level'].'. '.$v['level_title'];?>
                                    </td>
                                    <?php endif;?>
                                </tr>
                                <?php endforeach;?>
                            </table>
                        </div>
                    </span>
                </div>
            </td>
            <td><?php echo $value['share'];?></td>
            <!--<td style="text-align: right"><?php echo floatval ( number_format( ($value['appraisal_staff_level']/$value['level'])*100 , 2) );?>-->
            <td style="text-align: right"><?php echo floatval ( number_format( (min($value['appraisal_staff_level'], $value['level'])/$value['level'])*100 , 2) );?>
                
                <div class="tooltips"><i class="icon icon-info-sign tooltips"></i>
                    <span class="tooltiptext">
                        <div class="tooltip_wrap">
                            <table style="width: 400px;">
                                <tr>
                                    <td>Điểm = Trưởng bộ phận đánh giá/Cấp độ yêu cầu*100</td>
                                </tr>
                            </table>
                        </div>
                    </span>
                </div>
            </td>
        </tr>
        <?php endforeach;?>
        
        <?php foreach($this->dictionary_list as $key=>$value):?>
        <tr>
            <td><?php echo $value['field_title'];?></td>
            <td><?php echo $value['type_name'];?></td>
            <td><?php echo $value['title_name'];?></td>
            
            <td><?php echo $value['level'];?> 
                
                <div class="tooltips"><i class="icon icon-info-sign tooltips"></i>
                    
                    <span class="tooltiptext">
                        <div class="tooltip_wrap">
                            <table style="width: 500px;">
                                <?php foreach($this->dictionary[$value['dictionary_id']] as $k=>$v):?>
                                <tr>
                                    <?php if($v['level'] == $value['level']):?>
                                    <td style="background: #d9edf7">
                                        <input type="checkbox" checked />
                                        <?php echo 'Level: '.$v['level'].'. '.$v['level_title'];?>
                                    </td>
                                    <?php else:?>
                                    <td>
                                        <input type="checkbox" />
                                        <?php echo 'Level: '.$v['level'].'. '.$v['level_title'];?>
                                    </td>
                                    <?php endif;?>
                                </tr>
                                <?php endforeach;?>
                            </table>
                        </div>
                    </span>
                    
                </div>
            </td>
            
            <!--
            <td><?php echo $value['appraisal_staff_level'];?>
            
                <div class="tooltips"><i class="icon icon-info-sign tooltips"></i>
                    <span class="tooltiptext">
                        <div class="tooltip_wrap">
                            <table style="width: 500px;">
                                <?php foreach($this->dictionary[$value['dictionary_id']] as $k=>$v):?>
                                <tr>
                                    <?php if($v['level'] == $value['appraisal_staff_level']):?>
                                    <td style="background: #d9edf7">
                                        <input type="checkbox" checked />
                                        <?php echo 'Level: '.$v['level'].'. '.$v['level_title'];?>
                                    </td>
                                    <?php else:?>
                                    <td>
                                        <input type="checkbox" />
                                        <?php echo 'Level: '.$v['level'].'. '.$v['level_title'];?>
                                    </td>
                                    <?php endif;?>
                                </tr>
                                <?php endforeach;?>
                            </table>
                        </div>
                    </span>
                </div>
            </td>
            -->
            
            
            <td><?php echo $value['appraisal_staff_level'];?>
            
                <div class="tooltips"><i class="icon icon-info-sign tooltips"></i>
                    <span class="tooltiptext">
                        <div class="tooltip_wrap">
                            <table style="width: 500px;">
                                <?php foreach($this->dictionary[$value['dictionary_id']] as $k=>$v):?>
                                <tr>
                                    <?php if($v['level'] == $value['appraisal_staff_level']):?>
                                    <td style="background: #d9edf7">
                                        <input type="checkbox" checked />
                                        <?php echo 'Level: '.$v['level'].'. '.$v['level_title'];?>
                                    </td>
                                    <?php else:?>
                                    <td>
                                        <input type="checkbox" />
                                        <?php echo 'Level: '.$v['level'].'. '.$v['level_title'];?>
                                    </td>
                                    <?php endif;?>
                                </tr>
                                <?php endforeach;?>
                            </table>
                        </div>
                    </span>
                </div>
            </td>
            <td><?php echo $value['share'];?></td>
            <!--<td style="text-align: right"><?php echo floatval( number_format( ($value['appraisal_staff_level']/$value['level'])*100 , 2) );?>-->
            <td style="text-align: right"><?php echo floatval( number_format( (min($value['appraisal_staff_level'], $value['level'])/$value['level'])*100 , 2) );?>
                
                <div class="tooltips"><i class="icon icon-info-sign tooltips"></i>
                    <span class="tooltiptext">
                        <div class="tooltip_wrap">
                            <table style="width: 400px;">
                                <tr>
                                    <td>Điểm = Trưởng bộ phận đánh giá/Cấp độ yêu cầu*100</td>
                                </tr>
                            </table>
                        </div>
                    </span>
                </div>
            </td>
        </tr>
        <?php endforeach;?>
        
    </table>
</div>





<div class="row-fluid" style="text-align: center;font-size: 15px;color: red;margin-bottom: 20px;width: 1200px;">
    <b>ĐIỂM TRUNG BÌNH: <?php echo number_format($this->total_point, 2);?></b> 
    <div class="tooltips"><i class="icon icon-info-sign tooltips"></i>
        <span class="tooltiptext">
            <div class="tooltip_wrap">
                <table style="width: 500px;">
                    <tr>
                        <td>ĐIỂM TRUNG BÌNH = (SUM(Điểm từng năng lực*Trọng số)) /Tổng trọng số*100</td>
                    </tr>
                </table>
            </div>
        </span>
    </div>
</div>

<div class="row-fluid">
    <div style="text-align: right; width: 1250px;">
        <!--<button ng-click="action.saveDictionaryAll()" class="btn btn-primary">Hoàn thành</button>-->
    </div>
</div>

<div class="re_comment">
    <div class="table-wrap">
        <div class="title">Năng lực mong muốn cải thiện trong năm:</div>
        
        <table class="table table-border">
            <?php foreach($this->directory_recommed as $key=>$value):?>
            <?php if($value['type'] == 1):?>
            <tr>
                <td style="padding:10px;line-height:20px;font-size:14px"><input type="checkbox" name="recommend" value="<?php echo $value['id'];?>" checked> <?php echo trim($value['title_name']);?></td>
            </tr>
            <?php endif;?>
            <?php endforeach;?>
            
            <?php foreach($this->directory_recommed as $key=>$value):?>
            <?php if($value['type'] == 3):?>
            <tr>
                <td style="padding:10px;line-height:20px;font-size:14px"><input type="checkbox" name="recommend" value="<?php echo $value['id'];?>" checked> <?php echo trim($value['title_name']);?></td>
            </tr>
            <?php endif;?>
            <?php endforeach;?>
            
            <?php foreach($this->directory_recommed as $key=>$value):?>
            <?php if($value['type'] == 2):?>
            <tr>
                <td style="padding:10px;line-height:20px;font-size:14px"><input type="checkbox" name="recommend" value="<?php echo $value['id'];?>" checked> <?php echo trim($value['title_name']);?></td>
            </tr>
            <?php endif;?>
            <?php endforeach;?>
            
        </table>
    </div>
</div>

<?php if($_GET['dev'] == 1):?>
<div id="chart_test"></div>
<?php endif;?>

<script type="text/javascript" src="/js/sweetalert2.all.min.js"></script>
<script src="/js/highcharts-more.js"></script>


<script>
    
    Highcharts.chart('dictionary_chart', {

        chart: {
            polar: true,
            type: 'line'
        },

        accessibility: {
            description: ''
        },
        
        exporting:{
            enabled: false
        },

        title: {
            text: 'Đánh giá năng lực_Tư duy',
        },

        pane: {
            size: '80%'
        },

        xAxis: {
            categories: [
                <?php foreach($this->dictionary_chart[1] as $key=>$value):?>
                `<?php echo $value['title_name'];?>`,
                <?php endforeach;?>
            ],
            tickmarkPlacement: 'on',
            lineWidth: 0
        },

        yAxis: {
            gridLineInterpolation: 'polygon',
            lineWidth: 0,
            min: 0,
                    max: 5,
            tickAmount: 6,
        },

        tooltip: {
            shared: true,
            pointFormat: '<span style="color:{series.color}">{series.name}: <b>{point.y:,.0f}</b><br/>'
        },

        legend: {
            align: 'center',
            verticalAlign: 'top'
        },

        series: [{
            name: 'Yêu cầu vị trí',
            data: [
                <?php foreach($this->dictionary_chart[1] as $key=>$value):?>
                <?php echo $value['level'];?>,
                <?php endforeach;?>
            ],
            pointPlacement: 'on'
        }, {
            name: 'Nhân viên tự đánh giá',
            data: [
                <?php foreach($this->dictionary_chart[1] as $key=>$value):?>
                <?php echo $value['appraisal_staff_level'];?>,
                <?php endforeach;?>
            ],
            pointPlacement: 'on',
            color: 'green'
        }],

        responsive: {
            rules: [{
                condition: {
                    maxWidth: 500
                },
                chartOptions: {
                    legend: {
                        align: 'center',
                        verticalAlign: 'bottom'
                    },
                    pane: {
                        size: '70%'
                    }
                }
            }]
        }

    });
    
    
    Highcharts.chart('dictionary_chart2', {

        chart: {
            polar: true,
            type: 'line'
        },

        accessibility: {
            description: ''
        },
        
        exporting:{
            enabled: false
        },

        title: {
            text: 'Đánh giá năng lực_Kiến thức - Kỹ năng',
        },

        pane: {
            size: '80%'
        },

        xAxis: {
            categories: [
                `<?php echo $this->science_chart['title_name']; ?>`,
                <?php foreach($this->dictionary_chart[2] as $key=>$value):?>
                `<?php echo $value['title_name'];?>`,
                <?php endforeach;?>
            ],
            tickmarkPlacement: 'on',
            lineWidth: 0
        },

        yAxis: {
            gridLineInterpolation: 'polygon',
            lineWidth: 0,
            min: 0,
                    max: 5,
            tickAmount: 6,
        },

        tooltip: {
            shared: true,
            pointFormat: '<span style="color:{series.color}">{series.name}: <b>{point.y:,.0f}</b><br/>'
        },

        legend: {
            align: 'center',
            verticalAlign: 'top'
        },

        series: [{
            name: 'Yêu cầu vị trí',
            data: [
                <?php echo $this->science_chart['level']; ?>,
                <?php foreach($this->dictionary_chart[2] as $key=>$value):?>
                <?php echo $value['level'];?>,
                <?php endforeach;?>
            ],
            pointPlacement: 'on'
        }, {
            name: 'Nhân viên tự đánh giá',
            data: [
                <?php echo $this->science_chart['appraisal_staff_level']; ?>,
                <?php foreach($this->dictionary_chart[2] as $key=>$value):?>
                <?php echo $value['appraisal_staff_level'];?>,
                <?php endforeach;?>
            ],
            pointPlacement: 'on',
            color: 'green'
        }],

        responsive: {
            rules: [{
                condition: {
                    maxWidth: 500
                },
                chartOptions: {
                    legend: {
                        align: 'center',
                        verticalAlign: 'bottom'
                    },
                    pane: {
                        size: '70%'
                    }
                }
            }]
        }

    });
    
    
</script>


<script>
    var chart;
    var flagIn = 1;
    var options, series2, title2;
    $(function () {
        options = {
            chart: {
                renderTo: 'chart_test',
                polar: true,
                type: 'line'
            },

            title: {
                text: 'Open, Unresolved Work Items',
                x: -80
            },

            pane: {
                size: '80%'
            },

            xAxis: {
                categories: ['Person 1', 'Person 2', 'Person 3', 'Person 4', 'Person 5'],
                tickmarkPlacement: 'on',
                lineWidth: 0,
            },

            yAxis: {
                gridLineInterpolation: 'polygon',
                lineWidth: 0,
                min: 0,
                labels: {
                    events: {
                        click: function () {
                           console.log(121212);
                        }
                    }
                }
            },

            tooltip: {
                shared: true,
                valuePrefix: ''
            },

            legend: {
                align: 'right',
                verticalAlign: 'top',
                y: 100,
                layout: 'vertical'
            },

            series: [{
                name: 'Work Item Count',
                data: [14, 10, 1, 7, 17],
                pointPlacement: 'on',
                type: 'area'
            }]
        }

        chart = new Highcharts.Chart(options);


        //loop this shit
        //setInterval("callMeMaybe()", 2000);


    });
    


    function callMeMaybe() {
        //alert("ohai");
        //increase the data
        flagIn++;
        series2 = [{
            name: flagIn+' time called',
            //I am using random to generate random vals
            //this is the original data
            data: [14, 10, 1, 7, 17],
            //data: [Math.floor(Math.random() * 11), Math.floor(Math.random() * 11), Math.floor(Math.random() * 11), Math.floor(Math.random() * 11), Math.floor(Math.random() * 11)],
            pointPlacement: 'on',
            type: 'area'
        }];

        title2 = {
            text: 'Updated for '+flagIn+" time",
            x: -80
        };

        options.series = series2;
        options.title = title2;
        chart = new Highcharts.Chart(options);
        console.log("update");

    }
</script>