
<style>
    .table_modal th{
        background: #e2efda;
        color: #000;
        text-align: center;
        border: 1px solid #b3b3b3 !important;
        text-transform: none;
        font-size: 12px;
    }
</style>

<div class="content_layout">
    <span class="glyphicon glyphicon-envelope"></span>

    <div class="page-header">
        <h1>KHUNG NĂNG LỰC VỊ TRÍ</h1>
    </div>
    <div class="container-fluid">
         <table>
            <tbody>
                <tr>
                    <td style="background: #E2EFDA;width: 170px;">Phòng ban</td>
                    <td style="background: #C6E0B4;width: 170px;"><?php echo $this->capacity['department_name'];?></td>
                </tr>
                <tr>
                    <td style="background: #E2EFDA">Team</td>
                    <td style="background: #C6E0B4"><?php echo $this->capacity['team_name'];?></td>
                </tr>
                <tr>
                    <td style="background: #E2EFDA">Title</td>
                    <td style="background: #C6E0B4"><?php echo $this->capacity['title_name'];?></td>
                </tr>
                
                <?php if($this->capacity['staff_id']):?>
                <tr>
                    <td style="background: #E2EFDA">Fullname</td>
                    <td style="background: #C6E0B4"><?php echo $this->capacity['fullname'];?></td>
                </tr>
                <?php endif;?>
                
            </tbody>
         </table>
        
        <div class="level_wrap" style="width:1000px">
            <table class="table table-bordered table_modal" style="width: 1000px;">
            <tbody>
                <tr>
                    <th style="min-width:100px">Loại năng lực</th>
                    <th>Nội dung</th>
                    <th style="min-width:100px">Cấp độ yêu cầu</th>
                    <th>Diễn giải</th>
                </tr>
                
                <?php foreach($this->capacity_level as $key=>$value):?>
                <?php if($value['type_id'] == 1):?>
                <tr style="background: #f5fbff;">
                    <td class="ng-binding"><?php echo $value['type'];?></td>
                    <td class="ng-binding"><?php echo $value['title_name'];?></td>
                    <td style="text-align: center" class="ng-binding"><?php echo $value['level'];?></td>
                    <td class="ng-binding"><?php echo $value['level_name'];?></td>
                </tr>
                <?php endif;?>
                <?php endforeach;?>
                
                <?php foreach($this->capacity_science as $key=>$value):?>
                <tr>
                    <td class="ng-binding"><?php echo $value['type'];?></td>
                    <td class="ng-binding"><?php echo $value['title_name'];?></td>
                    <td style="text-align: center" class="ng-binding"><?php echo $value['level'];?></td>
                    <td class="ng-binding"><?php echo $this->dictionary_science[$value['level']];?></td>
                </tr>
                <?php endforeach;?>
                
                <?php foreach($this->capacity_level as $key=>$value):?>
                <?php if($value['type_id'] == 2):?>
                <tr style="background: ivory;">
                    <td class="ng-binding"><?php echo $value['type'];?></td>
                    <td class="ng-binding"><?php echo $value['title_name'];?></td>
                    <td style="text-align: center" class="ng-binding"><?php echo $value['level'];?></td>
                    <td class="ng-binding"><?php echo $value['level_name'];?></td>
                </tr>
                <?php endif;?>
                <?php endforeach;?>
                
                </tbody>
            </table>
            
            <a href="/capacity/list-capacity?title_id=<?php echo $this->capacity['title_id'];?>" class="btn btn-warning pull-right">Thoát</a>
            
            
            
            <?php if($this->capacity['staff_id']):?>
            <a href="/capacity/create-capacity-details?staff_id=<?php echo $this->capacity['staff_id'];?>" class="btn btn-primary pull-right" style="margin-right: 5px">Xem chi tiết</a>
            <?php else:?>
            <a href="/capacity/create-capacity?title_id=<?php echo $this->capacity['title_id'];?>" class="btn btn-primary pull-right" style="margin-right: 5px">Xem chi tiết</a>
            <?php endif; ?>
        </div>
        
    </div>
</div>



<style>
    legend {
        line-height: 20px;
        padding: 5px 0px;
        font-size: 14px
    }

    .block {
        border: 1px solid #e5e5e5;
        margin-bottom: 30px;
        width: 820px;
    }

    .block .top_block {
        font-weight: bold;
        background: #e5e5e5;
        display: block;
        overflow: hidden;
        padding: 10px;
        text-transform: uppercase;
    }

    .block .mid_block {
        padding: 10px
    }

    .block .row_label {
        font-size: 12px;
        border-bottom: 1px solid #f5f5f5;
        display: block;
        margin-bottom: 7px
    }

    .block .row_label a {
        color: red;
        font-weight: bold;
    }

    .mid_block {
        overflow: hidden
    }

    .block_noti {
        display: block;
        float: left;
        width: 30%;
        border: 1px solid #CCC;
        padding: 5px;
        margin: 0px 20px 10px 0px;
        position: relative;
        height: 80px;
        padding-left: 83px;
    }
    
    .block_noti a{
        color:black
    }
    
    .block_noti a:hover{text-decoration: none}
    
    /*.block1 a,.block4 a,.block3 a,.block6 a,.block9 a{line-height: 45px;}*/
    .block1 a,.block4 a,.block3 a,.block6 a,.block9 a{line-height: 21px;}
    
    .block1{
        background: url(../img/KTSP.jpg) 16px 20px / 50px auto no-repeat,linear-gradient(to bottom, #ffffff, #ffffff);
    }
    
    .block2{
        background: url(../img/suy_nghi.gif) 16px 20px / 50px auto no-repeat,linear-gradient(to bottom, #ffffff, #ffffff);
    }
    
    .block3{
        background: url(../img/hoanho.gif) 16px 20px / 50px auto no-repeat,linear-gradient(to bottom, #ffffff, #ffffff);
    }
    
    .block4{
        background: url(../img/ok.gif) 16px 20px / 50px auto no-repeat,linear-gradient(to bottom, #ffffff, #ffffff);
    }
    
    .block5{
        background: url(../img/chude.gif) 16px 20px / 50px auto no-repeat,linear-gradient(to bottom, #ffffff, #ffffff);
    }
    
    .block6{
        background: url(../img/laplanh.gif) 16px 20px / 50px auto no-repeat,linear-gradient(to bottom, #ffffff, #ffffff);
    }
    
    .block7{
        background: url(../img/ok.gif) 16px 20px / 50px auto no-repeat,linear-gradient(to bottom, #ffffff, #ffffff);
    }
    
    .block8{
        background: url(../img/hoanho.gif) 16px 20px / 50px auto no-repeat,linear-gradient(to bottom, #ffffff, #ffffff);
    }
    
    .block9{
        background: url(../img/chay.gif) 16px 20px / 50px auto no-repeat,linear-gradient(to bottom, #ffffff, #ffffff);
    }

    .block_noti_left {
        float: left;
        padding: 10px;
    }

    .block_noti_left i {
        font-size: 35px;
        color: #008B56;
    }

    .block_noti_left_fee {
        float: left;
        padding: 10px;
    }

    .block_noti_left_fee i {
        font-size: 35px;
        color: #F6E656;
    }

    .block_noti_budget {
        display: block;
        float: left;
        width: 300px;
        border: 1px solid #CCC;
        padding: 5px;
        margin: 0px 20px 10px 0px;
    }

    .block_noti_category {
        display: block;
        float: left;
        width: 300px;
        border: 1px solid #CCC;
        padding: 5px;
        margin: 0px 20px 10px 0px;
    }

    .block_noti_right {
        display: block;
        float: left;
    }

    .block_noti_right_number {
        font-size: 14px;
        font-weight: bold;
        color: red;
        margin-top: 16px;
        width: 135px;
    }
    
    .block_noti_right_text{
        position: absolute;
        bottom: 0;
        right: 5px;
        font-size: 9px;
        color: #e45050;
    }

    .block_noti_right_text_fee {
        font-size: 10.5px;
        font-weight: bold;
        color: black;
        margin-top: 33px;
        font-size: 12px
    }

    .block_noti_bot {
        display: block;
        float: left;
        width: 100%;
    }
    .block_noti_bot_category {
        display: block;
        float: left;
        width: 50%;
    }

    .block_noti_bot ul {
        list-style: none;
        padding: 10px;
        margin: 0px;
    }

    .block_noti_bot ul li span {
        font-size: 12px
    }

    .block_noti_bot ul li a {
        font-size: 12px;
        cursor: pointer
    }

    .block_noti_bot ul li a:hover {
        text-decoration: none
    }

    .block_noti_bot ul li {
        margin-bottom: 5px;
        border-bottom: 1px solid #efefef;
        line-height: 25px;
    }
    .block_noti_bot_category ul li {
        margin-bottom: 5px;
        border-bottom: 1px solid #efefef;
        line-height: 20px;
    }

    .block_noti_bot_right {
        display: block;
        float: right;
        font-size: 12px;
        color: red;
    }

    #search {
        width: 500px;
        height: 45px;
        /*padding:10px*/
        /*overflow: hidden;*/
        /*padding-bottom: 0px;*/
        border: 1px solid #CCC;
    }
    #form_budget {
        padding:8px 0 0 4px;
    }

    #search span {
        height: 100%;
        display: inline;
        overflow: hidden;
        padding-left: 0px
    }

    #search_month {
        height: 100%;
        width: 100%;
        text-align: center;
        display: inline;
    }
    /*.category_air {*/
        /*font-size: 12px ! important;*/
    /*}*/



    @media screen and (max-width: 480px) {
        .block_noti {
            width: 97%
        }

        .block_noti_budget {
            width: 97%
        }
        #search {
            width:100%
        }
    }

</style>
