<div class="page-header">
    <h1>Date category</h1>
</div>

<div  style="margin-bottom: 15px;">
<a href="/date/date-category-create" class="btn btn-success">Create</a>
</div>
<table class="table table-bordered">
    <thead>
        <th>Name</th>
        <th>Code Full Day</th>
        <th>Code Half Day</th>
        <th></th>
    </thead>
    <tbody>
    <?php
    foreach($this->data as $key => $value)
    {
    ?>
    <tr>
        <td><?php echo $value['name']; ?></td>
        <td><?php echo $value['code']; ?></td>
        <td><?php echo $value['code_half']; ?></td>
        <td><a href="/date/date-category-create?id=<?php echo $value['id'] ?>" class="btn btn-primary">Edit</a></td>
    </tr>
    <?php
    }
    ?>
    </tbody>
</table>