<?php $index = 1; ?>
<link rel="stylesheet" type="text/css" href="/css/jquery-ui-1.8.12.custom.css">
<link rel="stylesheet" type="text/css" href="/css/jquery.ui.timepicker.css">
<script type="text/javascript" src="/js/jquery-ui-1.8.12.custom.min.js"></script>
<script type="text/javascript" src="/js/jquery.ui.timepicker.js"></script>
<link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.3/css/select2.min.css">
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.3/js/select2.min.js"></script>
<script type="text/javascript" src="/js/jquery.checkboxtree.js"></script>
<link rel="stylesheet" type="text/css" href="/css/jquery.checkboxtree.css"/>
<style>
    tr.error
    {
        background: #00ba8b;
    }

    .modal_mess
    {
        display: block;
    }
</style>
<?php $index = 1; ?>
<div class="page-header">
    <h1>Date Setting</h1>
</div>
<?php
if (isset($this->messages) and $this->messages)
    foreach ($this->messages as $message):
        echo '<div class="alert alert-success">'.$message.'</div>';
    endforeach;

if (isset($this->messages_error) and $this->messages_error)
    foreach ($this->messages_error as $message):
        echo '<div class="alert alert-danger">'.$message.'</div>';
    endforeach;
?>
<form class="form  form-inline" action="" method="POST" id="frm_date_setting">
    <label for="from_date">From date</label>
    <input type="text" name="from_date" id="from_date" class="date" value="<?php echo !empty($this->date)?date('d/m/Y', strtotime($this->date)):''; ?>">
    <label for="to_date">To date</label>
    <input type="text" name="to_date" id="to_date" class="date" value="<?php echo !empty($this->date)?date('d/m/Y', strtotime($this->date)):''; ?>">
    <button type="button" id="btn_add" class="btn btn-primary" data-toggle="modal" data-target="#AddModal">Add</button>
    <button type="button" id="btn_submit" class="btn btn-success">Submit</button>
    <label style="   color: red;
                    font-weight: bold;
                    margin-left: calc(2% - 10px);
                    font-size: 15px;" id="message"></label>


<table class="table">
    <thead>
        <tr>
            <th><input type="checkbox" name="select_all" id="select_all" value=""></th>
            <th>Group</th>
            <th>Category</th>
            <th><input type="checkbox" name="select_all_public" id="select_all_public" value=""> Public holyday</th>
            <th>Multiple</th>
            <th><button type="button" id="del_all" class="del_row btn btn-danger">-</button></th>
        </tr>
    </thead>
    <tbody id="tbody_setting">
        <tr style="display: none" id="row_setting" >
            <td>
                <input type="checkbox" class="selected">
            </td>
            <td>
                <select class="group">
                <?php
                    foreach ($this->listCompanyGroup as $key => $value) 
                    {
                    ?>
                    <option value="<?php echo $value['id']; ?>"><?php echo $value['name'] ?></option>
                    <?php
                    }
                ?>
                </select>
            </td>
            <td>
                <select class="category">
                <?php
                    foreach ($this->allDateCategory as $key => $value) 
                    {
                    ?>
                    <option value="<?php echo $value['id']; ?>"><?php echo $value['name'] ?></option>
                    <?php
                    }
                ?>
                </select>
            </td>
            <td>
                <input type="checkbox" name="public" id="public" class="public" value="">
            </td>
            <td>
                <input type="number" name="multiple" class="multiple" value="1">
            </td>
            <td>
            <button type="button" class="del_row btn btn-danger">-</button>
            </td>
        </tr>

        <?php
        $array_id = array();
        foreach ($this->list as $key_list => $value_list) 
        {
            $array_id[] = $index;
        ?>
            <tr id="row_<?php echo $index; ?>" class="data_row">
                <td>
                    <input type="checkbox" class="selected">
                </td>
                <td>
                    <select class="group">
                    <?php
                        foreach ($this->listCompanyGroup as $key => $value) 
                        {
                        ?>
                        <option value="<?php echo $value['id']; ?>" <?php echo $value_list['type_id'] == $value['id']?' selected ':''; ?> >
                            <?php echo $value['name'] ?>
                        </option>
                        <?php
                        }
                    ?>
                    </select>
                </td>
                <td>
                    <select class="category">
                    <?php
                        foreach ($this->allDateCategory as $key => $value) 
                        {
                        ?>
                        <option value="<?php echo $value['id']; ?>"  <?php echo $value_list['category_date'] == $value['id']?' selected ':''; ?> >
                        <?php echo $value['name'] ?>
                        </option>
                        <?php
                        }
                    ?>
                    </select>
                </td>
                <td>
                    <input type="checkbox" name="public" id="public" class="public" value="" <?php echo $value_list['public'] == 1?' checked ':''; ?>>
                </td>
                <td>
                    <input type="number" name="multiple" class="multiple" value="<?php echo $value_list['multiple'] ?>">
                </td>
                <td>
                <button type="button" class="del_row btn btn-danger">-</button>
                
                <a href="#" title="" class="del" id=<?php echo $value_list['id']?>>Xóa</a>

                </td>
                
            </tr>
        <?php
            $index++;
        }
        ?>

    </tbody>
</table>
<input type="hidden" name="json_input" id="json_input" value="">

<div id="modalSubmitDelete" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-body">
                <span id="modal_message" class="modal_mess"><h3>Bạn muốn xóa không?</h3></span>
                <button type="button" name="submit" id="btnDelete" value="1" class="btn btn-primary">Có</button>
                <button type="button" id="cancel" class="btn btn-default">Không</button>
                <input type="hidden" value="" id="id">
                <input type="hidden" value="<?php echo $this->date ?>" id="date">
            </div>
        </div>

    </div>
</div> <!-- end modal -->

<div id="modalSubmit" class="modal fade" role="dialog">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-body">
        <span id="modal_message" class="modal_mess"></span>
        <button type="submit" name="submit" id="btnSubmit" value="1" class="btn btn-primary">Có</button>
        <button type="button" id="cancel" class="btn btn-default">Không</button>
      </div>
    </div>

  </div>
</div> <!-- end modal -->

</form>




<script type="text/javascript">
    $(document).ready(function () 
    {
        var array_date_setting = new Array();
        var array_row_id = <?php echo json_encode($array_id); ?>;
        var index = <?php echo $index ?>;

        $(".date").datepicker({dateFormat: "dd/mm/yy"});

        $("#company_group").select2();

        $('#btn_add').click(function () 
        {
            var row_add = $("#row_setting").clone();
            row_add.prop('id', 'row_' + index);
            row_add.attr('data-id', index);
            row_add.addClass('data_row');
            row_add.show();
            $('#tbody_setting').append(row_add);
            array_row_id.push(index);
            index++;
        });

        $('#cancel').click(function () {
            $('#modalSubmit').modal('hide');
            $('#modalSubmitDelete').modal('hide');
        });

        $('#tbody_setting').on('click', '.del_row', function () 
        {
            var item_del = $(this).closest('tr');
            var data_id = item_del.attr('data-id');
            var indexOfDel = array_row_id.indexOf(parseInt(data_id));
            
            array_row_id.splice(indexOfDel, 1);
            $(this).closest('tr').remove();
        });

        $('#select_all').click(function () 
        {
            if($(this).is(":checked"))
            {
                $('.selected').attr('checked', true);
            }
            else
            {
                $('.selected').attr('checked', false);
            }
        });

        $("#select_all_public").click(function () 
        {
            if($(this).is(":checked"))
            {
                $('.public').attr('checked', true);
            }
            else
            {
                $('.public').attr('checked', false);
            }
        });

        $('#del_all').click(function () 
        {
            $('.data_row').remove();
            array_date_setting = new Array();
            array_row_id = new Array();

        });

        $('.del').click(function() {
            var id = $(this).attr('id');
            $('#id').val(id);
            $('#modalSubmitDelete').modal();
        });

        $('#btnDelete').click(function() {
            var id = $('#id').val();
            var date = $('#date').val();

            $.ajax({
                type: 'post',
                url: '/date/delete-date-setting',
                data: {
                    'id': id
                },
                error: function(error){
                   console.log(eval(error));
                },
                success: function(data){
                    $('#modalSubmitDelete').hide();   
                    setTimeout(function() { 
                       window.location.href = "/date/date-setting?date=" + date; 
                    }, 200);
                   
                }

            });
        });
        $('#btn_submit').click(function () 
        {
            var from_date = $('#from_date').val();
            var to_date = $('#to_date').val();
            if(from_date == '' || to_date == '')
            {
                $('#message').text('Chưa nhập from date và to date');
            }
            else
            {
                $('.data_row').removeClass('error');
                array_date_setting = new Array();
                if(array_row_id.length > 0)
                {
                    array_row_id.forEach(function (item, index) {

                        var date_setting = new Object();
                        date_setting.key = item;
                        date_setting.type_id = $('#row_' + item).children('td').children('.group').val();
                        date_setting.category_date = $('#row_' + item).children('td').children('.category').val();
                        date_setting.multiple = $('#row_' + item).children('td').children('.multiple').val();

                        if($('#row_' + item).children('td').children('.public').is(':checked'))
                        {
                            date_setting.public = 1;
                        }   
                        else
                        {
                            date_setting.public = 0;
                        }
                        array_date_setting.push(date_setting);
                    });

                    var array_error_id = new Array();
                    
                    array_date_setting.forEach(function (item, index) {
                    array_date_setting.forEach(function (item_2, inde_2) {
                        if(item.key != item_2.key && item.type_id == item_2.type_id)
                        {
                            array_error_id.push(item.key);
                        }
                        }); 
                    });

                    if(array_error_id.length > 0)
                    {
                        array_error_id.forEach(function (item, index) {
                            $('#row_'+item).addClass('error');
                        });

                        $("#message").text("Trùng group!");
                    }
                    else
                    {
                        $("#json_input").val(JSON.stringify(array_date_setting));
                        $.ajax({
                            url: '/date/check-date-setting',
                            type: 'POST',
                            dataType: 'json',
                            data: {
                                from_date: $("#from_date").val(),
                                to_date: $('#to_date').val(),
                                json_input: $('#json_input').val()
                            },
                            success: function (result) 
                            {
                                if(result.status == true)
                                {
                                    $('#btnSubmit').click();
                                }
                                else
                                {
                                    $("#modal_message").text("Có cập nhật đè lên các ngày đã set không?")
                                    $('#modalSubmit').modal();
                                }
                            }
                        });
                    }
                }
                else
                {
                    $("#modal_message").text("Có xóa tất cả setting không?");
                    $('#modalSubmit').modal();
                }
            }
            
        });

    });

</script>