<div class="page-header">
    <h1>Date category</h1>
</div>
<?php
if (isset($this->messages) and $this->messages)
    foreach ($this->messages as $message):
        echo '<div class="alert alert-success">'.$message.'</div>';
    endforeach;

if (isset($this->messages_error) and $this->messages_error)
    foreach ($this->messages_error as $message):
        echo '<div class="alert alert-danger">'.$message.'</div>';
    endforeach;
?>
<form method="POST" action="" class="form-horizontal">
    <div class="span4">
        <div class="control-group">
            <label for="name" class="control-label">Name</label>
            <div class="controls">
                <input type="text" required name="name" id="name" value="<?php echo ($this->data['name'])?$this->data['name']:''; ?>">
            </div>
        </div>
        <div class="control-group">
            <label for="code" class="control-label" >Code Full Day</label>
            <div class="controls">
                <input type="text" required name="code" id="code" value="<?php echo ($this->data['code'])?$this->data['code']:''; ?>">
            </div>
        </div>
        <div class="control-group">
            <label for="code" class="control-label">Code Half Day</label>
            <div class="controls">
                <input type="text" required name="code_half" id="code_half" value="<?php echo ($this->data['code_half'])?$this->data['code_half']:''; ?>">
            </div>
        </div>
        <div class="control-group">
            <button type="submit" class="btn btn-success pull-right" name="submit" value="1" >Submit</button>
        </div>
    </div>
</form>

