<link rel="stylesheet" type="text/css" href="/css/jquery-ui-1.8.12.custom.css">
<link rel="stylesheet" type="text/css" href="/css/jquery.ui.timepicker.css">
<script type="text/javascript" src="/js/jquery-ui-1.8.12.custom.min.js"></script>
<script type="text/javascript" src="/js/jquery.ui.timepicker.js"></script>
<style>
.modal.fade.in {
	top: 40% !important;
    position: fixed;
}

</style>
<div class="page-header">
    <h1>List Special Date</h1>
</div>
<?php
if (isset($this->messages) and $this->messages)
    foreach ($this->messages as $message):
        echo '<div class="alert alert-success">'.$message.'</div>';
    endforeach;

if (isset($this->messages_error) and $this->messages_error)
    foreach ($this->messages_error as $message):
        echo '<div class="alert alert-danger">'.$message.'</div>';
    endforeach;
?>
<div style="margin: 10px 0px">
	<a href="/date/date-setting" class="btn btn-primary">Set Special Date</a>
	<a href="/date/saturday-setting?month=<?php echo $this->params['month'];?>&year=<?php echo $this->params['year'];?>" id="set-saturday-off" class="btn btn-success">Set Saturday Off</a>
	
</div>
<div class="accordion" id="accordion2">
	<div class="accordion-group">
		<div class="accordion-heading">
			<a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion2" href="#collapseTwo">
				Search
			</a>
		</div>
		<div id="collapseTwo" class="accordion-body collapse">
			<div class="accordion-inner">
				<form class="form-search form-horizontal" method="get" action="">
                    <div class="control-group">
						<label class="control-label">Month</label>
						<div class="controls">
                            <select name="month">
                            <?php
                            for($i = 1; $i <= 12; $i++)
                            {
                                ?>
                                <option value="<?php echo $i; ?>" <?php echo ($i==$this->params['month'])?" selected ":""; ?> ><?php echo "Tháng " . $i; ?></option>
                                <?php
                            }
                            ?>
                            </select>
                        </div>
					</div>
                    <div class="control-group">
						<label class="control-label">Year</label>
						<div class="controls">
							<input type="number" name="year" id="year" value="<?php echo $this->params['year'] ?>">
						</div>
					</div>
					<div class="control-group">
						<div class="controls">
							<button type="submit" class="btn btn-primary">Search</button>
						</div>
					</div>
				</form>
			</div>
		</div>
	</div>
</div>

<table class="table table-bordered">
    <thead>
        <th>Date</th>
        <th>Setting</th>
        <th>Pubic holiday</th>
        <th></th>
    </thead>
    <tbody>
    <?php
    foreach($this->data as $key => $value)
    {
    ?>
        <tr>
            <td><?php echo date('D', strtotime($value['date'])) . ' ' . date('d/m/Y', strtotime($value['date'])); ?></td>
            <td><?php echo $value['list_group']; ?></td>
            <td><?php echo !empty($value['public'])?'Public holiday':''; ?></td>
            <td>
                <a href="/date/date-setting?&date=<?php echo urlencode($value['date']) ?>">
                Edit
                </a>
            </td>
        </tr>
    <?php
    }
    ?>
    </tbody>
</table>

<div id="update_staturday_off" class="modal fade" role="dialog">
    <div class="modal-dialog">
<!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h2 class="modal-title">Số ngày Off thứ 7 trong tháng</h2>
            </div>
            <div class="modal-body">
                <form action="" method="POST" >
                    <div class="form-group">
                    <input type="number" name="staturday_off" id="staturday_off" min="1" max="4">
                    </div>
                        <button name="update-late" value="1" type="submit" class="btn btn-success">Gửi yêu cầu</button>

                </form>
            </div>
        </div>
    </div>
</div> <!-- end modal -->
<script type="text/javascript">
   
	$(".date").datepicker({
		 changeMonth: true,
        changeYear: true,
        showButtonPanel: true,
        dateFormat: 'MM',
        onClose: function(dateText, inst) { 
            var month = $("#ui-datepicker-div .ui-datepicker-month :selected").val();
            var year = $("#ui-datepicker-div .ui-datepicker-year :selected").val();
            $(this).datepicker('setDate', new Date(year, month, 1));
        }
	});
</script>