<link rel="stylesheet" type="text/css" href="/css/jquery-ui-1.8.12.custom.css">
<link rel="stylesheet" type="text/css" href="/css/jquery.ui.timepicker.css">
<script type="text/javascript" src="/js/jquery-ui-1.8.12.custom.min.js"></script>
<script type="text/javascript" src="/js/jquery.ui.timepicker.js"></script>
<div class="page-header">
    <h1>List Date Staff Advenced</h1>
</div>

<div style="margin: 10px 0px;">
    <a href="/date/date-staff-setting" class="btn btn-primary">Create</a>
</div>

<div class="accordion" id="accordion2">
	<div class="accordion-group">
		<div class="accordion-heading">
			<a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion2" href="#collapseTwo">
				Search
			</a>
		</div>
		<div id="collapseTwo" class="accordion-body collapse">
			<div class="accordion-inner">
				<form class="form-search form-horizontal" method="get" action="">
                    <div class="control-group">
						<label class="control-label">From Date</label>
						<div class="controls">
							<input type="text" class="date search-query" name="from_date" value="<?php echo $this->params['from_date']; ?>">
						</div>
					</div>
                    <div class="control-group">
						<label class="control-label">To Date</label>
						<div class="controls">
							<input type="text" class="date search-query" name="to_date" value="<?php echo $this->params['to_date']; ?>">
						</div>
					</div>
                    <div class="control-group">
						<label class="control-label">Name</label>
						<div class="controls">
							<input type="text" class="search-query" name="name" value="<?php echo $this->params['name']; ?>">
						</div>
					</div>
                    <div class="control-group">
						<label class="control-label">Code</label>
						<div class="controls">
							<input type="text" class="search-query" name="code" value="<?php echo $this->params['code']; ?>">
						</div>
					</div>
                    <div class="control-group">
                            <label for="department" class="control-label">Department</label>
                            <div class="controls">
                                <select name="department" id="department">
                                    <option value>Choose</option>
                                    <?php if (isset($this->recursiveDeparmentTeamTitle)): ?>
                                        <?php foreach ($this->recursiveDeparmentTeamTitle as $item_id => $item):?>
                                            <option value="<?php echo $item_id;?>" <?php if (isset($this->params) and $this->params and $item_id==$this->params['department']):?>selected<?php endif;?>><?php echo $item['name'];?></option>
                                        <?php endforeach;?>
                                    <?php endif ?>
                                </select>
                            </div>
                        </div>

                        <div class="control-group">
                            <label for="team" class="control-label">Team</label>
                            <div class="controls">
                                <select name="team" id="team" >
                                    <option value>Choose</option>
                                    <?php if ( isset($this->params) AND isset($this->recursiveDeparmentTeamTitle[$this->params['department']]['children'])): ?>
                                        <?php foreach ($this->recursiveDeparmentTeamTitle[$this->params['department']]['children'] as $item_id => $item):?>
                                            <option value="<?php echo $item_id;?>" <?php if (isset($this->params) and $this->params and $item_id==$this->params['team']):?>selected<?php endif;?>><?php echo $item['name'];?></option>
                                        <?php endforeach;?>
                                    <?php endif ?>
                                </select>
                            </div>
                        </div>

                        <div class="control-group">
                            <label for="title" class="control-label">Title</label>
                            <div class="controls">
                                <select name="title" id="title" >
                                    <option value>Choose</option>
                                    <?php if ( isset($this->params) AND isset($this->recursiveDeparmentTeamTitle[$this->params['department']]['children'][$this->params['team']]['children']) ): ?>
                                        <?php foreach ($this->recursiveDeparmentTeamTitle[$this->params['department']]['children'][$this->params['team']]['children'] as $item_id => $item):?>
                                            <option value="<?php echo $item_id;?>" <?php if (isset($this->params) and $this->params and $item_id==$this->params['title']):?>selected<?php endif;?>><?php echo $item['name'];?></option>
                                        <?php endforeach;?>
                                    <?php endif ?>
                                </select>
                            </div>
                        </div>
					<div class="control-group">
						<div class="controls">
							<button type="submit" class="btn btn-primary">Search</button>
						</div>
					</div>
				</form>
			</div>
		</div>
	</div>
</div>

<table class="table table-bordered">
    <thead>
        <th>Name</th>
        <th>Code</th>
        <th>Date</th>
        <th>Department</th>
        <th>Team</th>
        <th>Title</th>
        <th></th>
    </thead>
    <tbody>
    <?php
        foreach ($this->data as $key => $staff) {
        ?>
        <tr>
            <td><?php echo $staff['staff_name'] ?></td>
            <td><?php echo $staff['code'] ?></td>
            <td><?php echo date('d/m/Y', strtotime($staff['date'])); ?></td>
            <td><?php echo (isset($this->recursiveDeparmentTeamTitle[$staff['department']]['name']) ? $this->recursiveDeparmentTeamTitle[$staff['department']]['name'] : '');?></td>
            <td><?php echo (isset($this->recursiveDeparmentTeamTitle[$staff['department']]['children'][$staff['team']]['name']) ? $this->recursiveDeparmentTeamTitle[$staff['department']]['children'][$staff['team']]['name'] : '');?></td>
            <td><?php echo (isset($this->recursiveDeparmentTeamTitle[$staff['department']]['children'][$staff['team']]['children'][$staff['title']]['name']) ? $this->recursiveDeparmentTeamTitle[$staff['department']]['children'][$staff['team']]['children'][$staff['title']]['name'] : '');?></td>
            <td><a href="/date/del-date-staff-setting?id=<?php echo $staff['id'] ?>" class="label label-success">Delete</td>
        </tr>
        <?php
        }
    ?>
    </tbody>
</table>

<div class="paging">
	<?php echo $this->paging($this->total, $this->limit, $this->offset, $this->url) ?>
</div>

<script type="text/javascript">
	$(".date").datepicker({dateFormat: "dd/mm/yy"});

    $('#department,.department').change(function(){
        $('.loading').remove();
        $(this).after('<span class="loading"></span>');
        var _self = $(this);
        var department_id = $(this).val();
        $('form').bind('submit',function(e){e.preventDefault();});
        $('button, .btn, input, select').prop('disabled', true);
        $.get("/ajax/load-team",
            {department_id: [department_id]}
            ,function(data,status){
                var obj = $.parseJSON( data );
                $('#team,.team').find('option:not(:first)').remove();
                for (var i = 0; i < obj.length; i++) {
                    $('#team,.team').append('<option value="'+obj[i]['id']+'">'+obj[i]['name']+'</option>');
                }

                $('button, .btn, input, select').prop('disabled', false);
                $('form').unbind('submit');
                $('.loading').remove();
                $('#team,.team').change();
            });
    });

    $('#team,.team').change(function(){
        $('.loading').remove();
        $(this).after('<span class="loading"></span>');
        var _self = $(this);
        var team_id = $(this).val();
        $('form').bind('submit',function(e){e.preventDefault();});
        $('button, .btn, input, select').prop('disabled', true);
        $.get("/ajax/load-title",
            {team_id: [team_id]}
            ,function(data,status){
                var obj = $.parseJSON( data );
                $('#title,.title').find('option:not(:first)').remove();
                for (var i = 0; i < obj.length; i++) {
                    $('#title,.title').append('<option value="'+obj[i]['id']+'">'+obj[i]['name']+'</option>');
                }
                $('button, .btn, input, select').prop('disabled', false);
                $('form').unbind('submit');
                $('.loading').remove();
                
            });
    });
</script>
