<link rel="stylesheet" type="text/css" href="/css/bootstrap-datetimepicker.min.css"/>
<style>
    iframe {
        width: 100%;
        height: 500px;
    }

    .bar {
        line-height: 18px;
    }

    .date[readonly] {
        background-color: white;
    }

    .date:hover {
        cursor: pointer;
    }
</style>
<div class="page-header">
    <h1>Reimport Activated IMEIs</h1>
</div>
<div class="row-fluid">
    <div class="span12">
        <div class="well">
            <div class="row-fluid">
                <div class="span4">
                    Reimport Template <a class="btn btn-info btn-mini" href="<?php echo HOST ?>">Download</a>
                </div>
                <div class="span4">
                    List of uploaded files <a class="btn btn-success btn-mini" href="<?php echo HOST ?>tool/tgdd-log">View Logs</a></p>
                </div>
            </div>
        </div>
        <form action="<?php echo HOST ?>tool/reimport-save" id="form" target="iframe" class="form-inline" method="post" enctype="multipart/form-data">
            <div class="row">
                <div class="span5">
                    <div class="control-group">
                        <label class='control-label'>Import for Month</label>
                        <div class="controls">
                            <input type="text" class="date" name="month" readonly="readonly" value="<?php echo date('m/Y') ?>" />                            
                        </div>
                    </div>
                </div>
                <div class="span5">
                    <label for="" class="span4">Reimport File <span style="color: red">*</span>
                        <input type="file" class="span4" name="file" required />
                    </label>
                </div>
            </div>
            <div class="row">
                <div class="span12">
                    <button id="submit_btn" class="btn btn-info">Submit</button>
                </div>
            </div>
        </form>
    </div>
    <div class="row">
        <div class="span12">
            <div class="progress progress-striped active">
                <div class="bar" style="width: 0%;"></div>
            </div>
        </div>
    </div>
    <iframe src="" frameborder="0" name="iframe" id="iframe"></iframe>
</div>

<script language="javascript" type="text/javascript" src="/js/bootstrap-datetimepicker.min.js"></script>

<script>
    function confirmExit() {
        return "Timings is processing...";
    }

    $(document).ready(function () {
        $('.date').datetimepicker({
            clear: true,
            startView: 3,
            minView: 3,
            autoclose: true,
            format: 'mm/yyyy'
        });

        $('form').bind('submit',function(e){
            $('.bar').css('width', '0%');
            $('.bar').html('');
            $('#iframe').get(0).contentWindow.clear_content();
            $('form button, form input, form select').prop('readonly', true);
            $('.loading').remove();
            $(this).after('<span class="pre_loading">Processing <span><span class="loading"></span>');
            window.onbeforeunload = confirmExit;
        });
    });
</script>