<link href="<?php echo HOST ?>css/bootstrap.min.css" rel="stylesheet" />
<link href="<?php echo HOST ?>css/default.css" rel="stylesheet" />

<style>
    body {
        background: #f9f6f1;
        padding: 10px;
    }

    .info {
        margin-bottom: 20px;
    }
</style>
<div id="content_wrapper">
    
    <?php if (isset($this->error) && $this->error): ?>
        <div class="alert alert-error">
            <button type="button" class="close" data-dismiss="alert">&times;</button>
            <strong>ERROR!</strong> <?php echo $this->error ?>
        </div>
    <?php elseif(isset($this->number_of_order)): ?>
        <div class="row info">
            <div class="span3">
                <strong>Number of IMEI</strong>: <span class="badge"><?php echo $this->number_of_order ?></span>
            </div>
            <div class="span3">
                <strong>Success</strong>: <span class="badge badge-success"><?php echo $this->number_of_order - count($this->error_list) ?></span>
            </div>
            <div class="span3">
                <strong>Failed</strong>: <span class="badge badge-warning"><?php echo count($this->error_list) ?></span>
            </div>

        </div>

        <div class="row">
            <?php if (isset($this->error_file) && $this->error_file): ?>
                <div class="span12">
                    <p>
                        <strong>ERROR</strong> imeis file:
                        <strong><a href="<?php echo $this->error_file ?>">Click here to download</a></strong>
                    </p>
                </div>
            <?php endif ?>

            <?php if (isset($this->success_file) && $this->success_file): ?>
                <div class="span12">
                    <p>
                        <strong>SUCCESSFUL</strong> imeis file:
                        <strong><a href="<?php echo $this->success_file ?>">Click here to download</a></strong>
                    </p>
                </div>
            <?php endif ?>
        </div>
    <?php else: ?>

    <?php endif ?>
</div>
<script>
    parent.$('.loading, .pre_loading').remove();
    parent.$('form button, form input, form select').prop('readonly', false);
    parent.$('form input').val('');
    parent.window.onbeforeunload = null;

    function clear_content() {
        document.getElementById('content_wrapper').innerHTML = '';
    }
</script>