<link href="<?php echo HOST ?>css/bootstrap.min.css" rel="stylesheet" />
<link href="<?php echo HOST ?>css/default.css" rel="stylesheet" />

<style type="text/css">
    body {
        background: #f9f6f1;
        padding: 10px;
    }
</style>
<?php if (isset($this->message) && $this->message): ?>
    <div class="alert alert-success"><?php echo $this->message ?></div>
<?php endif ?>

<?php if (isset($this->error) && $this->error): ?>
    <div class="alert alert-danger"><?php echo $this->error ?></div>
<?php endif ?>

<script>
    parent.$('.loading').remove();
    parent.$('button, input, select, textarea').prop('readonly', false);
    parent.$('input').val('');
    parent.window.onbeforeunload = null;
</script>