<style>
.modal.fade.in {
    top: 5% !important;
}
*{
	font-family: "Helvetica Neue",Helvetica,Arial;
}
.red-tr {
    background: #EDB623 !important;
}  
.scroll 
{
    max-height: 700px;
	min-height: 200px;
}
.red-tr>a:hover {
    background: #EDB623 !important;
}   
.price{
	color: #19bc9c;
}
.unlock{
        background-color: #f0ad4e;
        padding: 3px 5px;
        border-radius: 3px;
        font-size: 10px;
        min-width: 40px;
        display: inline-block;
        text-align: center;
    }
    .text-center{
    	text-align: center;
    	color: #008B56;
        font-size: 16px;
    	margin-bottom: 10px;
    }
    .nav-tabs>li>a{
    	font-size: 17px !important;
    	font-weight: bold;
    }
    .nav-tabs {
    border-bottom: 1px solid #61D5A9 !important;
    	
    }
    
    th{
        background: #6c7784 !important;
        color: #ECF0F1 !important;
    	font-size: 14px !important;
    	text-transform: capitalize !important;
    	vertical-align: middle !important;
    	padding: 4px !important; 
    	font-family: "Helvetica Neue",Helvetica,Arial;
    }
    .table-bordered>tbody>tr:nth-of-type(odd) {
        background-color: #f9f9f9;
    }
    
    .table-bordered>tbody>tr:nth-of-type(even) {
        background-color: #fff;
    }
    .logo-oppo{
    	background: #008B56;
    }
    .nav-tabs>li>a:hover {
    border-color: #008B56 !important;
    color: #FFF !important;
    background: #008B56;
    }
    .nav-tabs>.active>a, .nav-tabs>.active>a:hover {
    /* color: #555555; */
    background-color: #008B56;
    color: #FFF;	
    }
.dashboard-header .user-config .user-name:hover p {
    color: #FFF;
    background: #008B56;
}
    
tbody tr:hover td {
    background: rgba(38, 185, 154, 0.07);
    border-top: 1px solid rgba(38, 185, 154, 0.11);
    border-bottom: 1px solid rgba(38, 185, 154, 0.11);
}
 .page-header h1{
        text-transform: uppercase;
    	color: #008B56;
        font-size: 20px;
        margin-top: 30px;
 	    text-align: center;
    }
  .page-header {
    border-bottom: none;
}  	
</style>
<link rel="stylesheet" type="text/css" href="/css/bootstrap-datetimepicker.min.css"/>
<div class="container">
    <div class="page-header">
    <h1>Staff Contract</h1>
    </div>
</div>
<?php echo $this->render('insurance/partials/contract-staff-search.phtml'); ?>
<ul class="nav nav-tabs">
    <li <?php if($this->active == "#taiky") echo 'class="active"';?> ><a href="#taiky" data-toggle="tab">Tái ký</a></li>
    <li <?php if($this->active == "#batthuong") echo 'class="active"';?>><a href="#batthuong" data-toggle="tab">Bất thường</a></li>
    <li <?php if($this->active == "#moi") echo 'class="active"';?> ><a href="#moi" data-toggle="tab">HĐ mới</a></li>
    <li <?php if($this->active == "#lichsu") echo 'class="active"';?>><a href="#lichsu" data-toggle="tab">Lịch sử</a></li>
</ul>

<div class="tab-content">
    <div class="tab-pane <?php if($this->active == "#taiky") echo 'active' ;?>" id="taiky">
    	<?php echo $this->render('insurance/partials/tab-taiky.phtml');?>
    </div>
    <div class="tab-pane <?php if($this->active == "#batthuong") echo 'active' ;?>" id="batthuong">
		<?php echo $this->render('insurance/partials/tab-batthuong.phtml');?>
    </div>
    <div class="tab-pane <?php if($this->active == "#moi") echo 'active' ;?>" id="moi">
        <?php echo $this->render('insurance/partials/tab-moi.phtml');?>
    </div>
    <div class="tab-pane <?php if($this->active == "#lichsu") echo 'active' ;?>" id="lichsu">
 		<?php echo $this->render('insurance/partials/tab-lichsu.phtml');?>
    </div>
    
    <input type="hidden" name="staff_id" value="<?php echo $this->staff['id'];?>"/>
</div>

<link rel="stylesheet" type="text/css" href="/css/bootstrap-modal.css"/>

<script type="text/javascript" src="/js/jquery-ui-1.8.12.custom.min.js"></script>
<script language="javascript" type="text/javascript" src="/js/bootstrap-datetimepicker.min.js"></script>


<script>
$(document).ready(function(){
	
	 $('#cancel').click(function () {
	        $('#modalSubmit').modal('hide');
	 });
	 
	 $('#disable').click(function () {

	        $('#modalSubmit').modal();        
	    });

	    $('#btnSubmit').click(function () {
	    	var arrayStaff_tang = [];
			$('.check_item').each(function () {
	    		 if($(this).closest('tr').find('.check_item').is(':checked')) {
	    				 var tmp =  $(this).closest('tr').find('.check_item').val();
	    				 arrayStaff_tang.push(tmp);
	    		}
			});

			//End for each tang		
			// Lock Tang
			if(arrayStaff_tang.length > 0){
				var month = $('.month').val();
				
	          	$.ajax({
	             type: 'get',
	             url: '/insurance/disable-insurance', 
	             data: {
	                 	'tang'     : 1,
	                 	'staff_ids': arrayStaff_tang.toString(),
	                 	'disable'	   : 1,
	                 	'month'	   : month  
	        		},
	             error: function(error){
	             	console.log(eval(error));
	             },
	             success: function(data){
	            	 $('#modalSubmit').hide();   
	            	 $('.alert-success').show();
	                 setTimeout(function() { 
	              	    window.location.href = "/insurance/report-list"; 
	              	 }, 2000);
	             }
	         });
			}

			var arrayStaff_giam = [];
			$('.check_item_de').each(function () {
	    		 if($(this).closest('tr').find('.check_item_de').is(':checked')) {
	    				 var tmp =  $(this).closest('tr').find('.check_item_de').val();
	    				 arrayStaff_giam.push(tmp);
	    		}
			});
			//End for each giam		
			// Lock Giam
			if(arrayStaff_giam.length > 0){
				var month = $('.month').val();
				
	          	$.ajax({
	             type: 'get',
	             url: '/insurance/disable-insurance', 
	             data: {
	                 	'giam'     : 1,
	                 	'staff_ids': arrayStaff_giam.toString(),
	                 	'disable'	   : 1,
	                 	'month'	   : month  
	        		},
	             error: function(error){
	             	console.log(eval(error));
	             },
	             success: function(data){
	            	 $('.alert-success').show();
	                 setTimeout(function() { 
	              	    window.location.href = "/insurance/report-list"; 
	              	 }, 2000);
	             }
	         });
			}

			//Dieu chinh
			var arrayStaff_dieuchinh = [];
			$('.check_item_adj').each(function () {
	    		 if($(this).closest('tr').find('.check_item_adj').is(':checked')) {
	    				 var tmp =  $(this).closest('tr').find('.check_item_adj').val();
	    				 arrayStaff_dieuchinh.push(tmp);
	    		}
			});
			//End for each dieu chinh		
			// Lock dieu chinh
			if(arrayStaff_dieuchinh.length > 0){
				var month = $('.month').val();
				
	          	$.ajax({
	             type: 'get',
	             url: '/insurance/disable-insurance', 
	             data: {
	                 	'dieuchinh'     : 1,
	                 	'staff_ids'		: arrayStaff_dieuchinh.toString(),
	                 	'disable'	    : 1,
	                 	'month'	   		: month  
	        		},
	             error: function(error){
	             	console.log(eval(error));
	             },
	             success: function(data){
	                 $('.alert-success').show();
	                 setTimeout(function() { 
	              	    window.location.href = "/insurance/report-list"; 
	              	 }, 2000);
	              	 
	             }
	         });
			}

			//List Change
			var arrayStaff_change = [];
			$('.check_item_change').each(function () {
	    		 if($(this).closest('tr').find('.check_item_change').is(':checked')) {
	    				 var tmp =  $(this).closest('tr').find('.check_item_change').val();
	    				 arrayStaff_change.push(tmp);
	    		}
			});
			//End for each thay doi	
			// Disable thay doi
			if(arrayStaff_change.length > 0){
				var month = $('.month').val();
				
	          	$.ajax({
	             type: 'get',
	             url: '/insurance/disable-insurance', 
	             data: {
	                 	'chedo'     : 1,
	                 	'staff_ids'		: arrayStaff_change.toString(),
	                 	'disable'	    : 1,
	                 	'month'	   		: month  
	        		},
	             error: function(error){
	             	console.log(eval(error));
	             },
	             success: function(data){
	                 $('.alert-success').show();
	                 setTimeout(function() { 
	              	    window.location.href = "/insurance/report-list"; 
	              	 }, 2000);
	             }
	         });
			}
			
		});
		
		       
	 $.ajaxSetup({
         cache: true
     });
    
	$('#checkall').click(function(){
        var _this = $(this);
        if(_this.prop('checked') == true){
            $('.check_item').prop('checked',true);
        }else{
            $('.check_item').prop('checked',false);
        }
    });

    $('#check_all_de').click(function(){
        var _this = $(this);
        if(_this.prop('checked') == true){
            $('.check_item_de').prop('checked',true);
        }else{
            $('.check_item_de').prop('checked',false);
        }
    });

    $('#check_all_adj').click(function(){
        var _this = $(this);
        if(_this.prop('checked') == true){
            $('.check_item_adj').prop('checked',true);
        }else{
            $('.check_item_adj').prop('checked',false);
        }
    });

    $('#check_all_spec').click(function(){
        var _this = $(this);
        if(_this.prop('checked') == true){
            $('.check_item_spec').prop('checked',true);
        }else{
            $('.check_item_spec').prop('checked',false);
        }
    });

    $('#check_all_chedo').click(function(){
        var _this = $(this);
        if(_this.prop('checked') == true){
            $('.check_item_chedo').prop('checked',true);
        }else{
            $('.check_item_chedo').prop('checked',false);
        }
    });

    $('#check_all_chedo_after').click(function(){
        var _this = $(this);
        if(_this.prop('checked') == true){
            $('.check_item_sauchecho').prop('checked',true);
        }else{
            $('.check_item_sauchecho').prop('checked',false);
        }
    });

    $('#check_all_total').click(function(){
        var _this = $(this);
        if(_this.prop('checked') == true){
            $('.check_item_total').prop('checked',true);
        }else{
            $('.check_item_total').prop('checked',false);
        }
    });

    $('#check_all_change').click(function(){
        var _this = $(this);
        if(_this.prop('checked') == true){
            $('.check_item_change').prop('checked',true);
        }else{
            $('.check_item_change').prop('checked',false);
        }
    });
    
    
    $('.check_item').click(function(){
        if($(this).prop('checked') == false) {
            $("#checkall").prop('checked', false);
        }else{
            var checked = $(".check_item:checked").length;
            var items = $(".check_item").length;
            if(checked == items){
                $("#checkall").prop('checked',true);
            }
        }
    })
    
	$('.month').datetimepicker({
        weekStart: 1,
        clear: true,
        minView: 3,
        startView: 3,
        minViewMode: 3,
        autoclose: true,
        format: 'mm/yyyy'
    });
    
	$( '.date' ).datepicker({ dateFormat: "dd/mm/yy" });

	$('.approved_at_to').change(function(){
		var leave_id 		= $(this).attr('leave_id');
		var date_approved   = $(this).val();
      	$.ajax({
            type: 'get',
            url: '/insurance/change-insurance-approve-date', 
            data: {'date_approved': date_approved,
                	'leave_id'    : leave_id  
			},
            error: function(error){
            	console.log(eval(error));
            },
            success: function(data){
            }
        });
	});

	$('.passby_leave').click(function(){
		var leave_id 		= $(this).attr('leave_id');
      	$.ajax({
            type: 'get',
            url: '/insurance/change-insurance-pass-by', 
            data: {
                	'leave_id'    : leave_id  
			},
            error: function(error){
            	console.log(eval(error));
            },
            success: function(data){
            	$('.alert-success').show();
                setTimeout(function() { 
             	    window.location.href = "/insurance/report-list"; 
             	 }, 2000);
            }
        });
	});

	$('.passby_leave_on').click(function(){
		var leave_id 		= $(this).attr('leave_id');
      	$.ajax({
            type: 'get',
            url: '/insurance/change-insurance-pass-by', 
            data: {
                	'leave_id'    : leave_id,
                	'passby_leave_on'  : 1 
			},
            error: function(error){
            	console.log(eval(error));
            },
            success: function(data){
            	$('.alert-success').show();
                setTimeout(function() { 
             	    window.location.href = "/insurance/report-list"; 
             	 }, 2000);
            }
        });
	});

	$('.disiable_insurance').click(function(){
		var insurance_id  = $(this).attr('insurance_id');

      	$.ajax({
            type: 'get',
            url: '/insurance/remove-insurance', 
            data: {
                	'insurance_id'  : insurance_id,
                	'total'  		: 1,
                	'disiable' 		: 1 
			},
            error: function(error){
            	console.log(eval(error));
            },
            success: function(data){
            	$('.alert-success').show();
                setTimeout(function() { 
             	    window.location.href = "/insurance/report-list"; 
             	 }, 2000);
            }
        });
	});

	$('.money_approved').change(function(){
		var leave_id 		= $(this).attr('leave_id');
		var money_approved   = $(this).val();
      	$.ajax({
            type: 'get',
            url: '/insurance/change-insurance-money-approved', 
            data: {
                	'leave_id'    : leave_id,
                	'money_approved' : money_approved  
			},
            error: function(error){
            	console.log(eval(error));
            },
            success: function(data){
            }
        });
	});

	 
	$('.lock').click(function(){
		
		var arrayStaff_tang = [];
		$('.check_item').each(function () {
    		 if($(this).closest('tr').find('.check_item').is(':checked')) {
    				 var tmp =  $(this).closest('tr').find('.check_item').val();
    				 arrayStaff_tang.push(tmp);
    		}
		});
		//End for each tang		
		// Lock Tang
		if(arrayStaff_tang.length > 0){
			var month = $('.month').val();
			
          	$.ajax({
             type: 'get',
             url: '/insurance/process-insurance', 
             data: {
                 	'tang'     : 1,
                 	'staff_ids': arrayStaff_tang.toString(),
                 	'lock'	   : 1,
                 	'month'	   : month  
        		},
             error: function(error){
             	console.log(eval(error));
             },
             success: function(data){
            	 $('.alert-success').show();
                 setTimeout(function() { 
              	    window.location.href = ""; 
              	 }, 2000);
             }
         });
		}

		var arrayStaff_giam = [];
		$('.check_item_de').each(function () {
    		 if($(this).closest('tr').find('.check_item_de').is(':checked')) {
    				 var tmp =  $(this).closest('tr').find('.check_item_de').val();
    				 arrayStaff_giam.push(tmp);
    		}
		});
		//End for each giam		
		// Lock Giam
		if(arrayStaff_giam.length > 0){
			var month = $('.month').val();
			
          	$.ajax({
             type: 'get',
             url: '/insurance/process-insurance', 
             data: {
                 	'giam'     : 1,
                 	'staff_ids': arrayStaff_giam.toString(),
                 	'lock'	   : 1,
                 	'month'	   : month  
        		},
             error: function(error){
             	console.log(eval(error));
             },
             success: function(data){
            	 $('.alert-success').show();
                 setTimeout(function() { 
              	    window.location.href = "/insurance/report-list"; 
              	 }, 2000);
             }
         });
		}

		//Dieu chinh
		var arrayStaff_dieuchinh = [];
		$('.check_item_adj').each(function () {
    		 if($(this).closest('tr').find('.check_item_adj').is(':checked')) {
    				 var tmp =  $(this).closest('tr').find('.check_item_adj').val();
    				 arrayStaff_dieuchinh.push(tmp);
    		}
		});
		//End for each dieu chinh		
		// Lock dieu chinh
		if(arrayStaff_dieuchinh.length > 0){
			var month = $('.month').val();
			
          	$.ajax({
             type: 'get',
             url: '/insurance/process-insurance', 
             data: {
                 	'dieuchinh'     : 1,
                 	'staff_ids': arrayStaff_dieuchinh.toString(),
                 	'lock'	   : 1,
                 	'month'	   : month  
        		},
             error: function(error){
             	console.log(eval(error));
             },
             success: function(data){
                 $('.alert-success').show();
                 setTimeout(function() { 
              	    window.location.href = "/insurance/report-list"; 
              	 }, 2000);
              	 
             }
         });
		}

		//Chedo
		var arrayStaff_chedo = [];
		$('.check_item_chedo').each(function () {
    		 if($(this).closest('tr').find('.check_item_chedo').is(':checked')) {
    				 var tmp =  $(this).closest('tr').find('.check_item_chedo').val();
    				 arrayStaff_chedo.push(tmp);
    		}
		});
		
		//End for each chedo		
		// Lock chedo
		if(arrayStaff_chedo.length > 0){
			var month = $('.month').val();
			
          	$.ajax({
             type: 'get',
             url: '/insurance/process-insurance', 
             data: {
                 	'chedo'     : 1,
                 	'leave_ids': arrayStaff_chedo.toString(),
                 	'lock'	   : 1,
                 	'month'	   : month  
        		},
             error: function(error){
             	console.log(eval(error));
             },
             success: function(data){
                 $('.alert-success').show();
                 setTimeout(function() { 
              	    window.location.href = ""; 
              	 }, 2000);
              	 
             }
         });
		}

		//Sau che do
		var arrayStaff_chedo_after = [];
		$('.check_item_sauchecho').each(function () {
    		 if($(this).closest('tr').find('.check_item_sauchecho').is(':checked')) {
    				 var tmp =  $(this).closest('tr').find('.check_item_sauchecho').val();
    				 arrayStaff_chedo_after.push(tmp);
    		}
		});

		//End for each sau chedo		
		// Lock sau chedo
		if(arrayStaff_chedo_after.length > 0){
			var month = $('.month').val();
          	$.ajax({
             type: 'get',
             url: '/insurance/process-insurance', 
             data: {
                 	'sauchedo'     : 1,
                 	'leave_ids': arrayStaff_chedo_after.toString(),
                 	'lock'	   : 1,
                 	'month'	   : month  
        		},
             error: function(error){
             	console.log(eval(error));
             },
             success: function(data){
                 $('.alert-success').show();
                 setTimeout(function() { 
              	    window.location.href = "/insurance/report-list"; 
              	 }, 2000);
              	 
             }
         });
		}

		//Dieu chinh ngay nghi
		var arrayStaff_change = [];
		$('.check_item_change').each(function () {
    		 if($(this).closest('tr').find('.check_item_change').is(':checked')) {
    				 var tmp =  $(this).closest('tr').find('.check_item_change').val();
    				 arrayStaff_change.push(tmp);
    		}
		});

		//End for each Dieu chinh ngay nghi
		// Lock Dieu chinh ngay nghi
		if(arrayStaff_change.length > 0){
			var month = $('.month').val();
          	$.ajax({
             type: 'get',
             url: '/insurance/process-insurance', 
             data: {
                 	'change'     : 1,
                 	'staff_ids': arrayStaff_change.toString(),
                 	'lock'	   : 1,
                 	'month'	   : month  
        		},
             error: function(error){
             	console.log(eval(error));
             },
             success: function(data){
                 $('.alert-success').show();
                 setTimeout(function() { 
              	    window.location.href = "/insurance/report-list"; 
              	 }, 2000);
              	 
             }
         });
		}
			
		
	});
	//End lock

	$('#qdnv').click(function(){
		var arrayStaff = [];
		$('.check_item_de').each(function () {
    		 if($(this).closest('tr').find('.check_item_de').is(':checked')) {
    				 var tmp =  $(this).closest('tr').find('.check_item_de').val();
    				 arrayStaff.push(tmp);
    		}
		});

		//End for each
      	$.ajax({
         type: 'get',
         url: '/insurance/qdnv-insurance', 
         data: {
             	'qdnv'    : 1,
             	'staff_ids': arrayStaff,
             	'lock'	   : 1,
             	'action_insurance' : $('#action').val()  
    		},
         error: function(error){
         	console.log(eval(error));
         },
         success: function(data){
             var obj = JSON.parse(data);

             if(obj.status == 0){
                 $('.alert-error').html('<center><b>' + obj.message +'</b></center>');
                 $('.alert-error').show();
                 setTimeout(function() { 
                	    window.location.href = "/insurance/report-list"; 
                	 }, 2000);
                 
             }else{
            	 $('.alert-success').show();
                 setTimeout(function() { 
              	    window.location.href = "/insurance/report-list"; 
              	 }, 2000);
             }
             
         }
     });
	});

	$('#report_tang').click(function(){
		//List tang moi
		var arrayStaff_in = [];
		$('.check_item').each(function () {
	   		 if($(this).closest('tr').find('.check_item').is(':checked')) {
	   				 var tmp =  $(this).closest('tr').find('.check_item').val();
		   				arrayStaff_in.push(tmp);
	   		}
			});
		$('#tang_moi_ids').val(arrayStaff_in.toString());

		// List dieu chinh
		var arrayStaff_adj = [];
		$('.check_item_adj').each(function () {
	   		 if($(this).closest('tr').find('.check_item_adj').is(':checked')) {
	   				 var tmp =  $(this).closest('tr').find('.check_item_adj').val();
		   				arrayStaff_adj.push(tmp);
	   		}
			});
		$('#dieuchinh_ids').val(arrayStaff_adj.toString());

		//List sau che do
		var arrayStaff_chedo_after = [];
		$('.check_item_sauchecho').each(function () {
	   		 if($(this).closest('tr').find('.check_item_sauchecho').is(':checked')) {
	   				 var tmp =  $(this).closest('tr').find('.check_item_sauchecho').val();
		   				arrayStaff_chedo_after.push(tmp);
	   		}
			});
		$('#chedo_after_ids').val(arrayStaff_chedo_after.toString());


		//list total
		var arrayStaff_total = [];
		$('.check_item_total').each(function () {
	   		 if($(this).closest('tr').find('.check_item_total').is(':checked')) {
	   				 var tmp =  $(this).closest('tr').find('.check_item_total').val();
		   				arrayStaff_total.push(tmp);
	   		}
			});
		$('#total_ids').val(arrayStaff_total.toString());
		
		
	});

	$('#report_giam').click(function(){
		//List giam han
		var arrayStaff_de = [];
		$('.check_item_de').each(function () {
	   		 if($(this).closest('tr').find('.check_item_de').is(':checked')) {
	   				 var tmp =  $(this).closest('tr').find('.check_item_de').val();
		   				arrayStaff_de.push(tmp);
	   		}
			});
		$('#giam_han_ids').val(arrayStaff_de.toString());

		//List che do
		var arrayStaff_chedo = [];
		$('.check_item_chedo').each(function () {
	   		 if($(this).closest('tr').find('.check_item_chedo').is(':checked')) {
	   				 var tmp =  $(this).closest('tr').find('.check_item_chedo').val();
		   				arrayStaff_chedo.push(tmp);
	   		}
			});
		$('#chedo_ids').val(arrayStaff_chedo.toString());

		//list total
		var arrayStaff_total = [];
		$('.check_item_total').each(function () {
	   		 if($(this).closest('tr').find('.check_item_total').is(':checked')) {
	   				 var tmp =  $(this).closest('tr').find('.check_item_total').val();
		   				arrayStaff_total.push(tmp);
	   		}
			});
		$('#total_ids').val(arrayStaff_total.toString());

	});
	

	$('a[data-toggle="tab"]').on('shown.bs.tab', function (e) {
		  var target = $(e.target).attr("href") // activated tab
		  if(target == '#total' ){
// 			  $('.default_hid').
		  }
		  
		  $('#action').val(target);
		});

	$('.tang_time_alter').change(function(){
		var staff_id 				= $(this).attr('tang_id');
		var tang_time_effective 	= $(this).attr('tang_time_effective');
		var tang_time_alter = $(this).val();
      	$.ajax({
            type: 'get',
            url: '/insurance/change-tang-time-alter', 
            data: {'time_effective': tang_time_effective,
                	'time_alter'   : tang_time_alter,
                	'staff_id'     : staff_id,
                	'tang'		   : 1  
			},
            error: function(error){
            	console.log(eval(error));
            },
            success: function(data){
            }
        });
	});

	$('.giam_time_alter').change(function(){
		var staff_id 				= $(this).attr('giam_id');
		var giam_time_effective 	= $(this).attr('giam_time_effective');
		var giam_time_alter = $(this).val();
      	$.ajax({
            type: 'get',
            url: '/insurance/change-giam-time-alter', 
            data: {'time_effective': giam_time_effective,
                	'time_alter'   : giam_time_alter,
                	'staff_id'     : staff_id,
                	'giam'		   : 1  
			},
            error: function(error){
            	console.log(eval(error));
            },
            success: function(data){
            }
        });
	});

	$('.dieuchinh_time_alter').change(function(){
		var staff_id 					= $(this).attr('dieuchinh_id');
		var dieuchinh_time_effective 	= $(this).attr('dieuchinh_time_effective');
		var option_type					= $(this).attr('option_type');
		var dieuchinh_time_alter 		= $(this).val();
		
      	$.ajax({
            type: 'get',
            url: '/insurance/change-dieu-chinh-time-alter', 
            data: {'time_effective': dieuchinh_time_effective,
                	'time_alter'   : dieuchinh_time_alter,
					'option_type'  : option_type,
                	'staff_id'     : staff_id,
                	'dieuchinh'		   : 1  
			},
            error: function(error){
            	console.log(eval(error));
            },
            success: function(data){
                alert('Update thành công');
                console.log(data);
            }
        });
	});

	$('.sauchedo_time_effective').change(function(){
		var staff_id 					= $(this).attr('sauchedo_id');
		var option_type					= $(this).attr('option_type');
		var leave_id					= $(this).attr('leave_id');
		var sauchedo_to_date 			= $(this).val();
		
      	$.ajax({
            type: 'get',
            url: '/insurance/change-sauchedo-to-date', 
            data: {
                	'sauchedo_to_date'   : sauchedo_to_date,
					'option_type'  : option_type,
                	'staff_id'     : staff_id,
                	'leave_id'	   : leave_id,
                	'sauchedo'	   : 1  
			},
            error: function(error){
            	console.log(eval(error));
            },
            success: function(data){
                alert('Update thành công');
//                 console.log(data);
            }
        });
	});

	$('.chedo_time_effective').change(function(){
		var leave_id				= $(this).attr('leave_id');
		var chedo_from_date 			= $(this).val();
		
      	$.ajax({
            type: 'get',
            url: '/insurance/change-chedo-from-date', 
            data: {
                	'chedo_from_date'   : chedo_from_date,
                	'leave_id'	   : leave_id,
                	'chedo'	   : 1  
			},
            error: function(error){
            	console.log(eval(error));
            },
            success: function(data){
                alert('Update thành công');
            }
        });
	});

	$('.salary_total').change(function(){
		var insurance_id	= $(this).attr('insurance_id');
		var salary 			= $(this).val();
		
      	$.ajax({
            type: 'get',
            url: '/insurance/change-salary-total', 
            data: {
                	'insurance_id'   : insurance_id,
                	'salary'	     : salary,
                	'total'	   		 : 1  
			},
            error: function(error){
            	console.log(eval(error));
            },
            success: function(data){
                alert('Update thành công');
            }
        });
	});

	$('.total_time_alter').change(function(){
		var insurance_id	= $(this).attr('insurance_id');
		var total_time_alter 			= $(this).val();
      	$.ajax({
            type: 'get',
            url: '/insurance/change-total-time-alter', 
            data: {
                	'insurance_id'   : insurance_id,
                	'time_alter'	 : total_time_alter,
                	'total'	   		 : 1  
			},
            error: function(error){
            	console.log(eval(error));
            },
            success: function(data){
                alert('Update thành công');
            }
        });
	});
        
        $('.total_time_create').change(function(){
            var insurance_id	= $(this).attr('insurance_id');
            var total_time_create 	= $(this).val();

            $.ajax({
                type: 'get',
                url: '/insurance/change-total-time-create', 
                data: {
                        'insurance_id'   : insurance_id,
                        'time_create'	 : total_time_create,
                        'total'	         : 1  
                       },
                error: function(error){
                    console.log(eval(error));
                },
                success: function(data){
                    alert('Update thành công');
                }
            });
	});


	$('.salary_after_chedo').change(function(){
		alert(1);
// 		var insurance_id	= $(this).attr('insurance_id');
// 		var salary 			= $(this).val();
		
//       	$.ajax({
//             type: 'get',
//             url: '/insurance/change-salary-total', 
//             data: {
//                 	'insurance_id'   : insurance_id,
//                 	'salary'	     : salary,
//                 	'total'	   		 : 1  
// 			},
//             error: function(error){
//             	console.log(eval(error));
//             },
//             success: function(data){
//                 alert('Update thành công');
//             }
//         });
	});
	
	
	
});
    
</script>

<link rel="stylesheet" type="text/css" href="/css/jquery-ui-1.8.12.custom.css"/>
