<style>
    textarea {
        width: 100%;
        resize: none;
    }

    .control-group label{
        display: inline-block;
        width: 150px;
    }
    .control-group select,.control-group input,{
        width: 280px!important;
    }
    textarea{
        width: 280px;
    }
    #staff_id{
        margin-left: 153px;
        margin-top: 0px;
    }
</style>

<div class="page-header">
    <h1>Add Data</h1>
</div>

<?php if (isset($this->messages_error) && $this->messages_error): ?>
    <?php foreach ($this->messages_error as $key => $value): ?>
        <div class="alert alert-danger alert-dismissible" role="alert">
            <button type="button" class="close" data-dismiss="alert"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
            <strong>Error!</strong> <?php echo $value ?>
        </div>
    <?php endforeach ?>
<?php endif ?>

<?php if (isset($this->messages_success) && $this->messages_success): ?>
    <?php foreach ($this->messages_success as $key => $value): ?>
        <div class="alert alert-success alert-dismissible" role="alert">
            <button type="button" class="close" data-dismiss="alert"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
            <?php echo $value ?>
        </div>
    <?php endforeach ?>
<?php endif ?>

<form id="form" action="<?php echo HOST ?>insurance/save-record" method="POST" class="form-horizontal" role="form">
    <div class="row">
        <div class="span12">

        </div>
    </div>

    <div class="row">
        <div class="span6">

            <div class="control-group">
                <label>Staff</label>
                <input type="text" value="" name="search_staff" id="search_staff" autocomplete="off" placeholder='Select a staff'/>
                <select name="staff_id" id="staff_id" required="require" size="5">
                    <option value="">SELECT A STAFF</option>
                    <?php
                    if(isset($this->staffs) AND $this->staffs):
                        foreach($this->staffs as $item):
                            ?>
                            <option value="<?php echo $item['id']?>" <?php echo (isset($this->row['staff_id']) AND $this->row['staff_id'] == $item['id']) ? 'selected': ''?>><?php echo $item['staff_name']?></option>
                        <?php
                        endforeach;
                    endif;
                    ?>
                </select>
            </div>

            <div class="control-group">
                <label>Đơn vị</label>
                <select name="unit_code_id" id="unit_code_id" class="form-control" required="required">
                    <option value="">Choose</option>
                    <?php
                    foreach($this->unit_codes as $key => $value):
                        ?>
                        <option value="<?php echo $key;?>" <?php if($this->row['unit_code_id'] == $key) echo 'selected=selected';?>>
                            <?php echo $value;?></option>
                    <?php
                    endforeach;
                    ?>
                </select>
            </div>

            <div class="control-group">
                <label for="department">Department</label>
                <select class="form-control" name="department" id="department" required="required" >
                    <option value="">Choose Department</option>
                    <?php foreach($this->departments as $key => $value):?>
                        <option value="<?php echo $key;?>" <?php if($key == $this->row['department']) echo 'selected=selected';?>><?php echo $value;?></option>
                    <?php endforeach ?>
                </select>
            </div>

            <div class="control-group">
                <label for="team">Team</label>
                <select class="form-control" name="team" id="team" required="required" >
                    <option value="0">choose team</option>
                    <?php if(isset($this->teams) AND count($this->teams) > 0):
                        foreach($this->teams as $key => $value):
                    ?>
                        <option value="<?php echo $key;?>" <?php if($key == $this->row['team']) echo 'selected=selected';?>><?php echo $value;?></option>
                    <?php   endforeach;
                            endif;
                    ?>

                </select>
            </div>

            <div class="control-group">
                <label>Chức danh</label>
                <select class="form-control" required="required" name="title" id="title" >
                    <option value="0">choose title</option>
                    <?php if(isset($this->titles) AND count($this->titles) >0):?>
                        <?php foreach($this->titles as $key => $value):?>
                            <option value="<?php echo $key; ?>" <?php if($this->row['title'] == $key) echo 'selected=selected';?>><?php echo $value;?></option>
                        <?php endforeach;?>
                    <?php endif;?>
                </select>
            </div>

            <div class="control-group">
                <label>Lương đóng bảo hiểm</label>
                <input type="text" name="salary" id="salary" required="required" class='form-control' value="<?php  if(isset($this->row['salary'])) echo $this->row['salary'] ;?>" >
            </div>

        </div>
        <div class="span6">
            <div class="control-group">
                <label>Báo Tăng/Giảm</label>
                <select name="type" class="form-control" required="required">
                    <option value="0">---</option>
                    <option value="1" <?php if($this->row['type'] == 1) echo "selected=selected";?>>Tăng</option>
                    <option value="2" <?php if($this->row['type'] == 2) echo "selected=selected";?>>Giảm</option>
                </select>
            </div>

            <div class="control-group">
                <label>Loại Tăng/Giảm</label>
                <select name="option" id="" class="form-control" required="required">
                    <option value="">Chọn loại</option>
                    <?php
                    foreach($this->options as $key => $value):
                        ?>
                        <option value="<?php echo $key;?>" <?php if($this->row['option'] == $key) echo 'selected=selected';?>><?php echo $value;?></option>
                    <?php
                    endforeach;
                    ?>
                </select>

            </div>

            <div class="control-group">
                <label>
                    Ngày hiệu lực
                </label>
                <input type="text" name="time_effective" required="required"  class='form-control date_full'   value=<?php if(isset($this->row['time_effective']) AND $this->row['time_effective']) echo  date('d/m/Y',strtotime($this->row['time_effective']));?>>

            </div>

            <div class="control-group">
                <label> Ngày báo bảo hiểm</label>
                <input type="text" name="time_alter" required="required"  class='form-control date_full' value=<?php if(isset($this->row['time_alter']) AND $this->row['time_alter'])echo date('d/m/Y',strtotime($this->row['time_alter']));?>>
            </div>

            <div class="control-group">
                <label>Ghi chú</label>
                <textarea name="note" id="" class="form-control" cols="30" rows="5"><?php echo $this->row['note']?></textarea>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="span12">
            <div class="control-group">
                <button type="submit" class="btn btn-primary" id="save_btn">Save</button>
                <button type="button" class="btn btn-default" onclick="window.location='<?php echo HOST ?>insurance/report'">Cancel</button>
            </div>
        </div>
    </div>
</form>
<link rel="stylesheet" href="<?php echo HOST ?>css/bootstrap-datetimepicker.min.css">
<script src="<?php echo HOST ?>js/bootstrap-datetimepicker.min.js"></script>

<script>
    $('.date').datetimepicker({
        format: 'mm/yyyy',
        startView: 3,
        minView: 3,
        autoclose: true
    });

    $('.date_full').not('.pause_group .date').datetimepicker({
        format: 'dd/mm/yyyy',
        minView: 2,
        autoclose: true
    });

    $(document).ready(function() {
        initSearchOption('staff_id','search_staff');
        $('#company_id').change(change_unit_code);
        change_department();
        change_team();
        staff_change();
    });

    function staff_change(){
        $(document).on('change',"#staff_id",function(){
            $("#unit_code_id").val(0);
            $("#department").val(0);
            $("#team").val(0);
            $("#title").val(0);
            $("#salary").val(0);
            var staff_id = $(this).val();
            if(staff_id){
                $.ajax({
                    type: 'get',
                    url: '/insurance/get-staff',
                    data:{'staff_id':staff_id},
                    success:function(data){
                        if(data.status == 1){
                            $("#unit_code_id").val(data.staff.unit_code_id);
                            $("#department").val(data.staff.department);
                            $("#team").val(data.staff.team);
                            $("#title").val(data.staff.title);
                            $("#salary").val(data.staff.current_salary);
                        }
                    },
                    error: function(){
                        alert('load fail');
                    }

                });
                console.log(staff_id);
            }
        });
    }

    function change_unit_code() {
        company_id = $("#company_id").val();
        if (company_id) {
            if (company_id == 1) {
                $("#unit_code_id option[value='1']").prop("selected", true);
            } else if (company_id == 2) {
                $("#unit_code_id option[value='2']").prop("selected", true);

            }
        }
    }

    function change_department(){
        $("#department").change(function(){
            var id = $(this).val();
            $.ajax({
                url: '/ajax/load-team',
                type: 'get',
                data:{'department_id':id},
                success:function(data){
                    var obj = $.parseJSON(data);
                    console.log(obj);
                    $('#team option:not(:first)').remove();
                    for (var i = 0; i < obj.length; i++) {
                        $('#team').append('<option value="'+obj[i]['id']+'">'+obj[i]['name']+'</option>');
                    }

                },
                error:function(){
                    alert('load faild');
                }
            });
        })
    }

    function change_team(){
        $("#team").change(function(){
            var _this = $(this);
            var id = _this.val();
            $.ajax({
                url: '/ajax/load-title',
                type: 'get',
                data:{'team_id':id},
                success:function(data){
                    var obj = $.parseJSON(data);
                    console.log(obj);
                    $('#title option:not(:first)').remove();
                    for (var i = 0; i < obj.length; i++) {
                        $('#title').append('<option value="'+obj[i]['id']+'">'+obj[i]['name']+'</option>');
                    }
                },
                error:function(){
                    alert('load faild');
                }
            });
        })
    }

    function ReLoadTitle(){

    }


</script>

