<style>
    iframe {
        width: 100%;
        min-height: 500px;
    }
 .logo-oppo{
    	background: #008B56;
    }
h1{
        text-transform: uppercase;
    	color: #008B56;
        font-size: 20px;
        margin-top: 30px;
 	    text-align: center;
    }
</style>
<div class="page-header">
    <h1>Upload thông tin bảo hiểm</h1>
</div>

<!-- Flash message -->
<?php
if (isset($this->messages_success) and $this->messages_success)
    foreach ($this->messages_success as $message):
        echo '<div class="alert alert-success">' . $message . '</div>';
    endforeach;

if (isset($this->messages_error) and $this->messages_error)
    foreach ($this->messages_error as $message):
        echo '<div class="alert alert-error">' . $message . '</div>';
    endforeach;
?>

<div class="accordion" id="accordion2">
    <div class="well">
        <div class="row-fluid">
            <div class="span4">
                Mass Upload Insurance Template <a class="btn btn-info btn-mini" href="<?php echo HOST ?>files/template/mass-upload-insurance.xlsx">Download</a>
            </div>
        </div>
    </div>
</div>

<form action="<?php echo HOST ?>insurance/save-mass-upload-insurance" id="form" target="iframe" class="form-inline" method="post" enctype="multipart/form-data">
    <div class="row">
        <div class="span6">
            <label for="" class="span4">Upload File <span style="color: red">*</span>
                <input type="file" class="span4" name="file" required />
            </label>

        </div>

        <div class="span6">

        </div>
    </div>
	<br>
    <div class="row">
        <div class="span12">
            <button id="submit_btn" class="btn btn-info logo-oppo">Upload</button>
        </div>
    </div>
</form>
<div class="row">
    <div class="span12">
        <div class="progress progress-striped active">
            <div class="bar" style="width: 0%;"></div>
        </div>
    </div>
</div>

 <iframe src="" frameborder="0" name="iframe" id="iframe"></iframe>
<script>
    function set_progress(percent) {
        $('.bar').css('width', percent + '%');
        $('.bar').html(percent + '%');
    }

</script>