<style>
    .control-group label{
        display: inline-block;
        width: 150px;
    }
    .control-group select,.control-group input,{
        width: 280px!important;
    }
    textarea{
        width: 280px;
    }

    #my_iframe{
        background: #fff;
        width: 100%;
    }

</style>

<div class="page-header">
    <h1>Mass upload insurance book</h1>
</div>

<?php if (isset($this->messages_error) && $this->messages_error): ?>
    <?php foreach ($this->messages_error as $key => $value): ?>
        <div class="alert alert-danger alert-dismissible" role="alert">
            <button type="button" class="close" data-dismiss="alert"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
            <strong>Error!</strong> <?php echo $value ?>
        </div>
    <?php endforeach ?>
<?php endif ?>

<?php if (isset($this->messages_success) && $this->messages_success): ?>
    <?php foreach ($this->messages_success as $key => $value): ?>
        <div class="alert alert-success alert-dismissible" role="alert">
            <button type="button" class="close" data-dismiss="alert"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
            <?php echo $value ?>
        </div>
    <?php endforeach ?>
<?php endif ?>

<div class="row">
    <div class="span12">
        <p>
            <a href="/files/template/insurance/template_mass_upload_BH.xlsx">Template</a>
        </p>
        <!-- <p>
            <a href="/files/template/insurance/template_mass_upload_book_status.xlsx">Template book status</a>
        </p> -->
    </div>
</div>

<form id="form" action="<?php echo HOST ?>insurance/save-mass-upload-insurance-book" method="post"
      enctype="multipart/form-data" class="form-horizontal" role="form" target="my_iframe">

    <div class="row">
        <div class="span12">
            <div class="control-group">
                <label for="department">Choose file</label>
                <input type="file" name="file" value required/>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="span12">
            <div class="control-group">
                <button type="submit" class="btn btn-primary" id="save_btn">Save</button>
                <button type="button" class="btn btn-default" onclick="window.location='<?php echo HOST ?>insurance/report'">Cancel</button>
            </div>
        </div>
    </div>
</form>

<iframe src="<?php echo HOST ?>insurance/save-mass-upload-insurance-book" frameborder="0" name="my_iframe" id="my_iframe"></iframe>
<script type="text/javascript" src="/js/jquery-ui-1.8.12.custom.min.js"></script>
<link rel="stylesheet" type="text/css" href="/css/jquery-ui-1.8.12.custom.css"/>
<link rel="stylesheet" href="<?php echo HOST ?>css/bootstrap-datetimepicker.min.css">
<script src="<?php echo HOST ?>js/bootstrap-datetimepicker.min.js"></script>

<script>

</script>

