<?php if (isset($this->messages_error) && $this->messages_error): ?>
    <div class="alert alert-danger alert-dismissible" role="alert">
        <strong>Error!</strong> <?php echo $this->messages_error; ?>
    </div>
<?php endif ?>

<?php if (isset($this->messages_success) && $this->messages_success): ?>
    <div class="alert alert-success alert-dismissible" role="alert">
        <?php echo $this->messages_success; ?>
    </div>
<?php endif ?>

<?php if (isset($this->error_list) && $this->error_list): ?>
    <?php foreach ($this->error_list as $key => $value): ?>
        <div class="alert alert-success alert-dismissible" role="alert">
            <?php echo $value ?>
        </div>
    <?php endforeach ?>
<?php endif ?>