<style type="text/css">
    .info_details table{width: 100%;margin-bottom: 0px;}
    .info_details table th{text-align: left;padding: 5px}
    .info_details table td{text-align: left;padding: 5px}

    .table_main_store{overflow: hidden;margin-bottom:30px;position:relative;display: block;float: left;min-height: 463px;border-bottom: 1px solid #E9E9E9;background: white 0px 20px no-repeat;border: 1px solid #E6E6E6;-moz-box-shadow: 0px 3px 2px #d6d6d6;-webkit-box-shadow: 0px 3px 2px #d6d6d6;box-shadow: 0px 3px 2px #d6d6d6;padding: 1px;}
    .table_main_store2{margin-left: 7px;overflow: hidden;margin-bottom:30px;display: block;float: left;border-radius: 2px;border-bottom: 1px solid #E9E9E9;background: white 0px 20px no-repeat;border: 1px solid #E6E6E6;-moz-box-shadow: 0px 3px 2px #d6d6d6;-webkit-box-shadow: 0px 3px 2px #d6d6d6;box-shadow: 0px 3px 2px #d6d6d6;padding: 1px;}
    .table_main_store:nth-child(2) .row_tad{}
    .table_main_store2:nth-child(1) .row_tad{}
</style>

<div class="main">
    <div class="page-header">
        <h1>Trade</h1>
    </div>
    <div class="row-fluid asm_details">
        <div class="span12">
                <legend>
                   	Chi tiết hợp đồng <?php echo isset($this->params['sn']) ? $this->params['sn'] : null; ?>
                    <small>	Quỳnh Như - Bình Dương - Số 02, Tổ 9, Ấp 1, Xã Trừ Văn Thố, Huyện Bầu Bàng, Tỉnh Bình Dương</small>
                    <span class="label label-success">on</span>
                </legend>
        </div>
    </div>
    

    <div class="container-fluid">   

        <!-- info -->
        <div class="container-fluid">
                
                <div class="span6 info_details" style="margin-bottom: 10px">
                    <table id='bi-table'>
                        <tr>
                            <td>Tên shop:</td>
                            <td><?php if(isset($this->store) && $this->store){echo $this->store->name;};?></td>
                        </tr>
                        <tr>
                            <td>Số điện thoại:</td>
                            <td><?php if(isset($this->store) && $this->store){echo $this->store->phone_number;};?></td>
                        </tr>
                        <tr>
                            <td>Địa chỉ:</td>
                            <td><?php if(isset($this->store) && $this->store){echo $this->store->company_address;};?></td>
                        </tr>
                        <tr>
                            <td>Địa chỉ giao hàng:</td>
                            <td><?php if(isset($this->store) && $this->store){echo $this->store->shipping_address;};?></td>
                        </tr>
                        <tr>
                            <td>Ngày tạo:</td>
                            <td><?php if(isset($this->store) && $this->store){echo date('d/m/Y',strtotime($this->store->updated_at));};?></td>
                        </tr>
                    </table>
                </div>
               
                
        </div>

        <!-- END info -->

        
        <div class="container-fluid">
            <!-- CHART -->
            <!-- sellout -->
            <div class="span6">
                <div class="table_main">
                    <div class="header_tad"><i class="icon-list-alt"></i> SALE</div>
                    <div class="content_tad">
                        <div class="menu_sale">
                        </div>
                        
                        <div class="menu_type_char">
                           <span class="menu_btn"><i class="icon-tasks"></i></span>
                           <ul>
                                <li char='container'>Sell out 3 tháng gần nhất</li>
                                <li char='doanhthu'>Doang thu 3 tháng gần nhất</li>
                                <li char='sellout_sp'>Sell out Sản phẩm chính</li>
                                <li char='sellout_sp_value'>Doanh thu Sản phẩm chính</li>
                           </ul>
                        </div>
                        
                        <div id="container" style="width: 100%;height: auto; margin: 0 auto;"></div>
                        <div id="doanhthu" style="width: 100%;height: auto; margin: 0 auto;"></div>
                        <div id="sellout_sp" style="width: 100%;height: auto; margin: 0 auto;"></div>
                        <div id="sellout_sp_value" style="width: 100%;height: auto; margin: 0 auto;"></div>
                    </div>
                </div> 
            </div>
            <!-- end sellout-->
            
            <!-- trade -->
            <div class="span6">
                <div class="table_main">
                    <div class="header_tad"><i class="icon-list-alt"></i> TRADE</div>
                    <div class="content_tad">
                        
                        <div class="content_content">
                        
                        	<table style="width:100%" id='bi-table'>
                        		<tr>
                        			<th>#</th>
                        			<th>Danh mục</th>
                        			<th>Đơn vị thi công</th>
                        			<th>Số lượng</th>
                        			<th>Giá</th>
                        			<th>Tổng tiền</th>
                        			<th>Chốt tổng tiền </th>
                        		</tr>
                        		<?php $stt = 0;?>
                        		<?php $sum = 0;?>
                        		<?php if(isset($this->air) and $this->air):?>
                        		<?php foreach($this->air AS $key=>$value):?>
                        		<?php $sum += ($value['total_final_detail'] == 0) ? $value['total_detail'] : $value['total_final_detail'];?>
                        		<tr>
                        			<td><?php $stt++;echo $stt;?></td>
                        			<td><?php echo $value['category_name'];?></td>
                        			<td><?php echo $value['contructors_name'];?></td>
                        			<td><?php echo $value['num'];?></td>
                        			<td><?php echo number_format($value['price_detail']);?></td>
                        			<td><?php echo number_format($value['total_detail']);?></td>
                        			<td><?php echo number_format(($value['total_final_detail'] == 0) ? $value['total_detail'] : $value['total_final_detail']);?></td>
                        		</tr>
                        		<?php endforeach;?>
                        		<?php endif;?>

                        		<tr>
                        			<td colspan="6" style="font-weight:bold">Tổng tiền</td>
                        			<td><?php echo number_format($sum);?></td>
                        		</tr>

                        	</table>
                        
                        </div><!-- content-content-->
                        
                    </div>
                </div><!-- table_main-->
            </div><!-- span6-->
            
            <!-- end trade-->
           
            <!-- END CHART -->
        </div><!-- row-->

        
    </div><!-- container-->
    
    
    
</div>

<!-- gallery modal-->
<script type="text/javascript" src="/bootstrap3/flexslider/jquery_flexslider.js"></script>
<link rel="stylesheet" href="/bootstrap3/flexslider/flexslider.css">

<div id="modal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" style="margin: 0 auto;width:auto"></div>
<!-- end gallery modal-->
<script type="text/javascript" src="/js/bootstrap-modal.js"></script>
<script type="text/javascript" src="/js/bootstrap-modalmanager.js"></script>
<link rel="stylesheet" type="text/css" href="/css/bootstrap-modal.css"/>

<script>
$(function () {
    
    $(document).ready(function(){
        
        $('.sp .trim').on('click',function(){
            
            var src = $(this).closest('.sp').find('img').attr('src');
            var img = '<img src="' + src + '" class="img-responsive"/>';
            
            $('#modal').modal('loading');
        
            $('#modal').html(img);
            $('#modal').modal();
       });
   });
    
});
</script>


<script>
    
$(function () {
    
    $('#container').highcharts({
        chart: {
            type: 'column',
            marginLeft: 47,
            marginRight: 13
        },
        title: {
            text: 'Sell out 3 tháng gần nhất',
            style:{
                color: '#008B56',
                fontSize: '16px'
            }
        },
        xAxis: {
            categories: [
            <?php foreach ($this->list_date as $key => $value) {
                echo "'Tháng ".intval(date('m', strtotime($value)))."',";
            } ?>
            ]
        },
        yAxis: {
            min: 0,
            title: {
                text: 'Sản phẩm',
                "textAlign": 'right',
                "rotation": 0,
                x: 60,
                y: -170
            },
            stackLabels: {
                enabled: true,
                style: {
                    fontWeight: 'bold',
                    color: (Highcharts.theme && Highcharts.theme.textColor) || 'gray'
                }
            }
        },
        legend: {
            align: 'center',
            x: -30,
            verticalAlign: 'bottom',
            y: 20,
            floating: true,
            backgroundColor: (Highcharts.theme && Highcharts.theme.background2) || 'white',
            borderColor: 'none',
            borderWidth: 1,
            shadow: false
        },
        tooltip: {
            headerFormat: '<b>{point.x}</b><br/>',
            pointFormat: '{series.name}: {point.y}<br/>Total: {point.stackTotal}'
        },
        plotOptions: {
            column: {
                stacking: 'normal'
            }
        },
        exporting: {
            buttons: [
                {
                    enabled: false,
                }
            ]
        },
        series: [
        {
            yAxis: 0,
            color: '#008B56',
            name: 'line',
            data: [
            <?php foreach ($this->list_date as $key => $value) {
                $m = intval(date('m', strtotime($value)));
                echo (isset($this->data_sellout_total[$m]['num']) and $this->data_sellout_total[$m]['num']) ? $this->data_sellout_total[$m]['num']."," : "0,";
            } ?>
            ],
            stack: 'male'
        }]
    });
    
    $('#doanhthu').highcharts({
        chart: {
            type: 'column',
            marginLeft: 60,
            marginRight: 13
        },
        title: {
            text: 'Doanh thu 3 tháng gần nhất',
            style:{
                color: '#008B56',
                fontSize: '16px'
            }
        },
        xAxis: {
            categories: [
            <?php foreach ($this->list_date as $key => $value) {
                echo "'Tháng ".intval(date('m', strtotime($value)))."',";
            } ?>
            ]
        },
        yAxis: {
            min: 0,
            title: {
                text: 'VNĐ',
                "textAlign": 'right',
                "rotation": 0,
                x: 40,
                y: -170
            },
            stackLabels: {
                enabled: true,
                style: {
                    fontWeight: 'bold',
                    color: (Highcharts.theme && Highcharts.theme.textColor) || 'gray'
                }
            }
        },
        legend: {
            align: 'center',
            x: -30,
            verticalAlign: 'bottom',
            y: 20,
            floating: true,
            backgroundColor: (Highcharts.theme && Highcharts.theme.background2) || 'white',
            borderColor: 'none',
            borderWidth: 1,
            shadow: false
        },
        tooltip: {
            headerFormat: '<b>{point.x}</b><br/>',
            pointFormat: '{series.name}: {point.y}<br/>Total: {point.stackTotal}'
        },
        plotOptions: {
            column: {
                stacking: 'normal'
            }
        },
        exporting: {
            buttons: [
                {
                    enabled: false,
                }
            ]
        },
        series: [
        {
            yAxis: 0,
            color: '#008B56',
            name: 'line',
            data: [
            <?php foreach ($this->list_date as $key => $value) {
                $m = intval(date('m', strtotime($value)));
                echo (isset($this->data_sellout_total[$m]['total_value']) and $this->data_sellout_total[$m]['total_value']) ? $this->data_sellout_total[$m]['total_value']."," : "0,";
            } ?>
            ],
            stack: 'male'
        }]
    });
    
    
   
    //CONTENT MENU
    // Build the chart trade
    $('#sellout_sp').highcharts({
        chart: {
            type: 'column',
            marginLeft: 45,
            marginRight: 10
        },
        title: {
            text: 'Sellout sản phẩm 3 tháng gần nhất',
            style:{
                color: '#008B56',
                fontSize: '16px'
            }
        },
        xAxis: {
            categories: [
            <?php foreach ($this->list_date as $key => $value) {
                echo "'Tháng ".intval(date('m', strtotime($value)))."',";
            } ?>
            ],
        },
        yAxis: {
            min: 0,
            title: {
                text: 'Sản phẩm',
                "textAlign": 'right',
                "rotation": 0,
                x: 60,
                y: -170
            },
            stackLabels: {
                enabled: false,
                style: {
                    fontWeight: 'bold',
                    color: (Highcharts.theme && Highcharts.theme.textColor) || 'gray'
                }
            }
        },
        legend: {
            align: 'center',
            x: -30,
            verticalAlign: 'bottom',
            y: 20,
            floating: true,
            backgroundColor: (Highcharts.theme && Highcharts.theme.background2) || 'white',
            borderColor: 'none',
            borderWidth: 1,
            shadow: false
        },
        tooltip: {
            headerFormat: '<b>{point.x}</b><br/>',
            pointFormat: '{series.name}: {point.y}<br/>Total: {point.stackTotal}'
        },
        plotOptions: {
            column: {
                stacking: 'normal',
                dataLabels: {
                    enabled: false,
                    color: (Highcharts.theme && Highcharts.theme.dataLabelsColor) || 'white',
                    style: {
                        textShadow: '0 0 3px black'
                    }
                }
            }
        },
        exporting: {
            buttons: [
                {
                    enabled: false,
                }
            ]
        },
        series: [
        <?php foreach($this->good_hero as $key => $value):?>
        {
        name: '<?php echo $this->good[$value];?>',
        yAxis: 0,
        data: [
        <?php
        foreach($this->list_date as $k=>$v):
            $m = intval(date('m', strtotime($v)));
            $num = (isset($this->data_sellout_good[$value][$m]['num']) and $this->data_sellout_good[$value][$m]['num']) ? $this->data_sellout_good[$value][$m]['num'] : 0;
            echo $num.",";  
        endforeach;
        ?>
        ],
        stack: <?php echo $key;?>
        },
        <?php endforeach;?>
        ]
        
    });
    
    $('#sellout_sp_value').highcharts({
        chart: {
            type: 'column',
            marginLeft: 45,
            marginRight: 10
        },
        title: {
            text: 'Doanh thu sản phẩm 3 tháng gần nhất',
            style:{
                color: '#008B56',
                fontSize: '16px'
            }
        },
        xAxis: {
            categories: [
            <?php foreach ($this->list_date as $key => $value) {
                echo "'Tháng ".intval(date('m', strtotime($value)))."',";
            } ?>
            ],
        },
        yAxis: {
            min: 0,
            title: {
                text: 'Sản phẩm',
                "textAlign": 'right',
                "rotation": 0,
                x: 60,
                y: -170
            },
            stackLabels: {
                enabled: false,
                style: {
                    fontWeight: 'bold',
                    color: (Highcharts.theme && Highcharts.theme.textColor) || 'gray'
                }
            }
        },
        legend: {
            align: 'center',
            x: -30,
            verticalAlign: 'bottom',
            y: 20,
            floating: true,
            backgroundColor: (Highcharts.theme && Highcharts.theme.background2) || 'white',
            borderColor: 'none',
            borderWidth: 1,
            shadow: false
        },
        tooltip: {
            headerFormat: '<b>{point.x}</b><br/>',
            pointFormat: '{series.name}: {point.y}<br/>Total: {point.stackTotal}'
        },
        plotOptions: {
            column: {
                stacking: 'normal',
                dataLabels: {
                    enabled: false,
                    color: (Highcharts.theme && Highcharts.theme.dataLabelsColor) || 'white',
                    style: {
                        textShadow: '0 0 3px black'
                    }
                }
            }
        },
        exporting: {
            buttons: [
                {
                    enabled: false,
                }
            ]
        },
        series: [
            <?php foreach($this->good_hero as $key => $value):?>
            {
            name: '<?php echo $this->good[$value];?>',
            yAxis: 0,
            data: [
            <?php
            foreach($this->list_date as $k=>$v):
                $m = intval(date('m', strtotime($v)));
                $total_value = (isset($this->data_sellout_good[$value][$m]['total_value']) and $this->data_sellout_good[$value][$m]['total_value']) ? $this->data_sellout_good[$value][$m]['total_value'] : 0;
                echo $total_value.",";  
            endforeach;
            ?>
            ],
            stack: <?php echo $key;?>
            },
            <?php endforeach;?>
            ]
        
    });
    
    

});

</script>


<script>
    $(function () {
        
        hide_char();
        
        $('.menu_btn').on('click',function(){
            if($('.menu_type_char ul').css('display') == 'none')
            {
                $('.menu_type_char ul').show();
            }
            else{
                $('.menu_type_char ul').hide();
            }
        });
        
        $('.menu_type_char ul li').on('click',function(){
            $(".menu_type_char ul li").each(function(){
                var char_ = $(this).attr('char');
                $('#'+char_).hide();
                $(this).closest('ul').hide();
            });
            
            var char_this = $(this).attr('char');
            $('#'+char_this).show();
        });

    });
    
    function hide_char(){
        $(".menu_type_char ul li").each(function(){
            var char_ = $(this).attr('char');
            $('#'+char_).hide();
            $(this).closest('ul').hide();
        });
        $('#container').show();
    }
    

    
</script>