
<style type="text/css">
	.page-header{margin: 20px 0px 5px 1px;}
	.page-header h1{font-weight: bold;font-size: 22px;}
</style>

<div class="page-header">
    <h1><?php echo $this->params['title'];?> : <?php echo $this->data_area['name'];?></h1>
</div>


<div class="table-responsive">
    <!-- LIST -->
    <style>
	    .modal table tr td.span1{
	        min-width: 100px!important;
	    }
	</style>
	<table class="table table-bordered" id='bi-table'>
	    <thead>
	        <tr>
	            <?php echo $this->sorting(array(
	        '#',
	        'Hạng mục',
	        'Số lượng',
	        'Giá',
	        'Tổng tiền'
	    ),
	    $this->url, $this->sort, $this->desc); ?>
	</tr>
	</thead>
	<tbody>
	<?php
	if (isset($this->fee_campaign) and $this->fee_campaign): ?>
		<?php $total = 0;?>
	    <?php foreach ($this->fee_campaign as $k => $value): ?>
	    <?php $total += $value['sum'];?>
	        <tr>
	            <td>
	                <?php
	                    $inc = $this->offset + $k + 1;
	                    echo $inc;
	                ?>
	            </td>

	            <td><?php echo $value['name'];?></td>
	            <td><?php echo $value['quantity'];?></td>
	            <td><?php echo number_format($value['price']);?></td>
	            <td><?php echo number_format($value['sum']);?></td>
	        </tr>
	    <?php endforeach;?>
	<?php endif;?>

			<tr>
				<td colspan="4" style="text-align:center;font-size: 14px;font-weight: bold;color: red;">Tổng tiền</td>
				<td style="font-size: 14px;font-weight: bold;color: red;"><?php echo number_format($total);?></td>
			</tr>

	</tbody>
	</table>
	<div class="paging">
	    <?php echo $this->paging($this->total, $this->limit, $this->offset, $this->url);?>
	</div>

</div>
