<style type="text/css">
	.chitiet{cursor: pointer;}
	.list .row a{font-size: 13px}
</style>

<div class="page-header">
    <h1>Chi phí khu vực
    	<?php if(!empty($this->data_area)):
    	$area = null;
		foreach($this->params['area'] as $key=>$value):
			$area .= $this->data_area[$value].",";
	 	endforeach;
	 	echo rtrim($area, ",");
    	endif;?>
    </h1>
</div>
<?php
if (isset($this->messages) and $this->messages)
    foreach ($this->messages as $message):
        echo '<div class="alert alert-success">'.$message.'</div>';
    endforeach;

if (isset($this->messages_error) and $this->messages_error)
    foreach ($this->messages_error as $messages_error):
        echo '<div class="alert alert-danger">'.$messages_error.'</div>';
    endforeach;
?>

<div class="row info">
        <div class="span12">

			<div class="info_details" style="margin-left: 0px; margin-bottom: 10px;">
                <div class="header_details">Info<i></i></div>
                <div class="content_details">
                <span><div class="fi">Tổng chi phí:</div> <?php echo number_format($this->total_price);?> VNĐ</span>
                </div>
            </div>
        
        </div>
</div>

<div class="table-responsive">
    <!-- LIST -->
    <style>
	    .modal table tr td.span1{
	        min-width: 100px!important;
	    }
	</style>
	<table class="table table-bordered" id="bi-table">
	    <thead>
	        <tr>
	            <?php echo $this->sorting(array(
	        '#',
	        'Đợt đăng ký',
	        'Đăng ký từ ngày',
	        'đến ngày',
	        'Tổng tiền',
	        'Tháng',
	        '',
	    ),
	    $this->url, $this->sort, $this->desc); ?>
	</tr>
	</thead>
	<tbody>
	<?php
	if (isset($this->fee_campaign) and $this->fee_campaign): ?>
	    <?php foreach ($this->fee_campaign as $k => $value): ?>
	        <tr>
	            <td>
	                <?php
	                    $inc = $this->offset + $k + 1;
	                    echo $inc;
	                ?>
	            </td>

	            <td><?php echo $value['name'];?></td>
	            <td><?php echo date('d/m/Y', strtotime($value['from']));?></td>
	            <td><?php echo date('d/m/Y', strtotime($value['to']));?></td>
	            <td><?php echo number_format($value['sum']);?></td>
	            <td><?php echo $value['month_date'];?></td>
	            <?php if(!empty($this->params['asm_id'])):?>
	            <td><a class="label label-info chitiet" title='<?php echo $value['name'];?>' campaign='<?php echo $value['id'];?>'>Chi tiết</a></td>
	        	<?php else:?>
	        	<td><a href="<?php echo HOST;?>bi/area-trade-details-posm-t?area=<?php echo $this->params['area'][0];?>&campaign=<?php echo $value['id'];?>&title=<?php echo $value['name'];?>" class="label label-info">Chi tiết</a></td>
	        	<?php endif;?>
	        </tr>
	    <?php endforeach;?>
	<?php endif;?>

	</tbody>
	</table>
	<div class="paging">
	    <?php echo $this->paging($this->total, $this->limit, $this->offset, $this->url);?>
	</div>
    <!-- END LIST -->

</div>



<!-- POPUP -->
<div id="modal_new_category" class="modal hide fade in" tabindex="-1" role="dialog" aria-labelledby="newCategoryLabel" aria-hidden="true" style="display: block;top:30%">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
        <h3 id="newCategoryLabel">Chi tiết</h3>
    </div>
    <div class="modal-body">
        <div class="row-fluid list">
            <div class="row">
            	<a style="margin-left:50px" href=''>ancsdjhkdjfkh</a>
            </div>
            <div class="row">
            	<a style="margin-left:50px" href=''>ancsdjhkdjfkh</a>
            </div>
            <div class="row">
            	<a style="margin-left:50px" href=''>ancsdjhkdjfkh</a>
            </div>           
        </div>
    </div>
    <div class="modal-footer">
        <input type="hidden" name="check" value="3" />
        <input type="hidden" name="id_shipment" value="<?php if(isset($this->data) && $this->data): echo $this->data->id;endif;?>" />
        <!--
        <button class="btn btn-primary" type="submit" id="save_category_btn">Save</button>
        <button class="btn" data-dismiss="modal" aria-hidden="true">Cancel</button>
        -->
    </div>
</div>


<script>
$(document).ready(function() {
    
    $new_category_modal = $("#modal_new_category");
    $new_category_modal.hide();
    
    $(document).on('click', ".chitiet", function() { 

    	title = $(this).attr('title');
    	campaign = $(this).attr('campaign');

    	var list = '';
    	<?php foreach($this->params['area'] as $key=>$value): ?>
    	list += '<div class="row">\
	            	<a style="margin-left:50px" href="<?php echo HOST;?>bi/area-trade-details-posm-t?area=<?php echo $value;?>&campaign='+campaign+'&title='+title+'">'+title+' - <?php echo $this->data_area[$value];?></a>\
	            </div>';
	    <?php endforeach; ?>

    	$new_category_modal.find('.list').html(list); 
    	$new_category_modal.find('#newCategoryLabel').html(title); 
    	$new_category_modal.show();
    });

    $(document).on('click', ".close", function() {  
    	$new_category_modal.hide();
    });

});

</script>
<!-- end POPUP -->



