<div class="page-header">
    <h1>Trade marketing Area</h1>
</div>
<?php
    if (isset($this->messages) and $this->messages)
        foreach ($this->messages as $message):
            echo '<div class="alert alert-success">'.$message.'</div>';
        endforeach;
?>

<div class="accordion" id="accordion2">
    <div class="accordion-group">
        <div class="accordion-heading">
            <a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion2" href="#collapseTwo">
                Search
            </a>
        </div>
        <div id="collapseTwo" class="accordion-body collapse" style="height: 0px;">
            <div class="accordion-inner">
                <!-- Search -->
                <form class="form-search form-horizontal" method="get">
                    <div class="row">
                        <div class="span5">
                            <div class="control-group">
                                <label for="created_at_from" class="col-md-3">Month</label>
                                <div class="col-md-6">
                                    <input type="text" class="form-control search-query date" id="created_at_from" name="month" value="<?php echo (isset($this->params['month']) and $this->params['month']) ? $this->params['month'] : date("m/Y");?>">
                                </div>
                            </div>
                        </div>
                    </div>

                    <button type="submit" class="btn btn-primary">Search</button>
                </form>
                <!-- end Search -->

                <script>
                    $(document).ready(function () {
                        $( '.date' ).datepicker({ 
                            
                            changeMonth: true,
                            changeYear: true,
                            showButtonPanel: true,
                            dateFormat: 'mm/yy',
                            onClose: function(dateText, inst) { 
                                $(this).datepicker('setDate', new Date(inst.selectedYear, inst.selectedMonth, 1));
                            }
                            
                        });
                    });
                </script>

            </div>
        </div>
    </div>
</div>

<div id="container" style="width: 100%;height: 1500px; margin: 0 auto"></div>

<div id="wrap_more_info">

</div>


<script type="text/javascript" src="/js/jquery-ui-1.8.12.custom.min.js"></script>
<link rel="stylesheet" type="text/css" href="/css/jquery-ui-1.8.12.custom.css"/>

<script type="text/javascript">
    $(function () {
        $('#container').highcharts({
            chart: {
                type: 'bar'
            },
            title: {
                text: 'Chi phí đầu tư Trade-marketing tháng <?php echo (isset($this->params['month']) and $this->params['month']) ? $this->params['month'] : date("m/Y");?>'
            },
            xAxis: {
                categories: [
                <?php if(isset($this->area_fee) and $this->area_fee):?>
                <?php foreach($this->area_fee as $key=>$value):?>

                <?php echo "'".$value['name']."',";?>

                <?php endforeach;?>
                <?php endif;?>
                ],
                labels: {
                    formatter: function () {
                        return '<a href="<?php echo HOST;?>bi/area-trade-details?area='+ this.value +'">' + this.value + '</a>'
                    },
                    useHTML: true
                }

            },
            yAxis: {
                min: 0,
                title: {
                    text: 'VNĐ'
                }
            },
            legend: {
                reversed: true
            },
            plotOptions: {
                bar: {
                    dataLabels: {
                        enabled: true
                    }
                }
            },
            series: [{
                name: 'Khu vực',
                maxPointWidth: 50,
                data: [
                <?php if(isset($this->area_fee) and $this->area_fee):?>
                <?php foreach($this->area_fee as $key=>$value):?>

                <?php echo ($value['air'] + $value['campaign'] + $value['cost']).",";?>

                <?php endforeach;?>
                <?php endif;?>
                ],
                color: '#00BA8B'
            }]
        });
    });
</script>
