<div class="page-header">
    <h1>Chi phí khu vực
    	<?php if(!empty($this->data_area)):
    	$area = null;
		foreach($this->params['area'] as $key=>$value):
			$area .= $this->data_area[$value].",";
	 	endforeach;
	 	echo rtrim($area, ",");
    	endif;?>
    </h1>
</div>
<?php
if (isset($this->messages) and $this->messages)
    foreach ($this->messages as $message):
        echo '<div class="alert alert-success">'.$message.'</div>';
    endforeach;

if (isset($this->messages_error) and $this->messages_error)
    foreach ($this->messages_error as $messages_error):
        echo '<div class="alert alert-danger">'.$messages_error.'</div>';
    endforeach;
?>

<div class="row info">
        <div class="span12">

			<div class="info_details" style="margin-left: 0px; margin-bottom: 10px;">
                <div class="header_details">Info<i></i></div>
                <div class="content_details">
                <span><div class="fi">Tổng chi phí:</div> <?php echo number_format($this->total_price);?> VNĐ</span>
                </div>
            </div>
        
        </div>
</div>

<div class="table-responsive">
    <!-- LIST -->
    <style>
	    .modal table tr td.span1{
	        min-width: 100px!important;
	    }
	</style>
	<table class="table table-bordered" id='bi-table'>
	    <thead>
	        <tr>
	            <?php echo $this->sorting(array(
	        '#',
	        'Số hợp đồng',
	        'Tên shop',
	        'Ngày thi công',
	        'Tổng tiền',
	        'Chi tiết'
	    ),
	    $this->url, $this->sort, $this->desc); ?>
	</tr>
	</thead>
	<tbody>
	<?php
	if (isset($this->fee_decor) and $this->fee_decor): ?>
	    <?php foreach ($this->fee_decor as $k => $value): ?>
	        <tr>
	            <td>
	                <?php
	                    $inc = $this->offset + $k + 1;
	                    echo $inc;
	                ?>
	            </td>

	            <td><?php echo $value['sn'];?></td>
	            <td><?php echo $value['name'];?></td>
	            <td><?php echo date('d/m/Y', strtotime($value['shop_from_at']));?></td>
	            <td><?php echo number_format($value['num']);?></td>
	            <td><a class="label label-success" href="<?php echo HOST;?>bi/area-trade-details-decor-t?sn=<?php echo $value['sn'];?>">Chi tiết</a></td>
	        </tr>
	    <?php endforeach;?>
	<?php endif;?>

	</tbody>
	</table>
	<div class="paging">
	    <?php echo $this->paging($this->total, $this->limit, $this->offset, $this->url);?>
	</div>

	<script type="text/javascript" src="/js/jquery-ui-1.8.12.custom.min.js"></script>
	<link rel="stylesheet" type="text/css" href="/css/jquery-ui-1.8.12.custom.css"/>
	<script src="/public/js/jquery.blockUI.js" type="text/javascript"></script>
	<script src="http://connect.facebook.net/en_US/all.js"></script>
	<?php echo $this->confirm();?>
	<?php echo $this->load();?>
	<script>
	    $(document).ready(function(){
	        getInfoPGSALE();
	    });
	    function getInfoPGSALE()
	    {
	        $('.information_pg_sale').click(function()
	        {
	            var staff_id = $(this).attr('rel');
	            initWaiting();
	            $.ajax
	            ({
	                url : '/trainer/get-info-pg-sale',
	                type : 'POST',
	                data : {'staff_id': staff_id},
	                async: false,
	                dataType: "json",
	                success : function (result)
	                {

	                    if(result.facebook_id)
	                    {
	                        var init_facebookID = result.facebook_id;
	                        var staff_name      = result.staff.staff_name;
	                        var gender          = result.staff.gender;
	                        if(init_facebookID != null || init_facebookID != undefined )
	                        {
	                            FB.api('/'+init_facebookID.trim(), function(response) {

	                                if(response)
	                                {
	                                    //console.log(response);
	                                    $('#'+staff_id+'_modal').find('#facebook').empty();
	                                    $('#'+staff_id+'_modal').find('#facebook').append('<table class="table"><tr><td class="span2" colspan="2"><img src="https://graph.facebook.com/'+init_facebookID.trim()+'/picture?type=large&return_ssl_results=1" /></td></tr></table>');
	                                    /*
	                                    $('#'+staff_id+'_modal').find('#facebook').append('<table class="table"><tr><td class="span1"><b>Name:</b></td><td class="span2">'+response.name+'</td></tr></table>');
	                                    $('#'+staff_id+'_modal').find('#facebook').append('<table class="table"><tr><td class="span1"><b>Gender:</b></td><td class="span2">'+response.gender+'</td></tr></table>');
	                                    */
	                                    $('#'+staff_id+'_modal').find('#facebook').append('<table class="table"><tr><td class="span1"><b>Name:</b></td><td class="span2">'+staff_name+'</td></tr></table>');
	                                    $('#'+staff_id+'_modal').find('#facebook').append('<table class="table"><tr><td class="span1"><b>Gender:</b></td><td class="span2">'+gender+'</td></tr></table>');
	                                }
	                            });
	                        }
	                    }

	                    var knowledge = result.knowledge ? result.knowledge : '';
	                    var skill     = result.skill ? result.skill : '';
	                    var attitude  = result.attitude ? result.attitude :'';

	                    if(knowledge)
	                    {
	                        $('#'+staff_id+'_modal').find('#knowledge').empty();
	                        $('#'+staff_id+'_modal').find('#knowledge').append('<table class="table"><tr><td class="span1"><b>Knowledge:</b></td><td class="span2">'+knowledge+'</td></tr></table>');
	                    }
	                    if(skill)
	                    {
	                        $('#'+staff_id+'_modal').find('#skill').empty();
	                        $('#'+staff_id+'_modal').find('#skill').append('<table class="table"><tr><td class="span1"><b>Skill:</b></td><td class="span2">'+skill+'</td></tr></table>');
	                    }

	                    if(attitude)
	                    {
	                        $('#'+staff_id+'_modal').find('#attitude').empty();
	                        $('#'+staff_id+'_modal').find('#attitude').append('<table class="table"><tr><td class="span1"><b>Attitude:</b></td><td class="span2">'+attitude+'</td></tr></table>');
	                    }


	                    if(result.point != undefined )
	                    {
	                        $('#'+staff_id+'_modal').find('#modal_point').empty();
	                        $('#'+staff_id+'_modal').find('#modal_point').html('<table class="table table-bordered"><tr><td class="span1">Point</td><td class="span1">Month</td><td class="span1">Year</td></tr></table>');

	                        for(i=0; i < result.point['point'].length; i++)
	                        {
	                            $('#'+staff_id+'_modal').find('#modal_point').append('<table class="table"><tr><td class="span1">'+result.point['point'][i]+'</td><td class="span1">'+result.point['month'][i]+'</td><td class="span1">'+result.point['year'][i]+'</td></tr></table');
	                        }
	                    }

	                        console.log(result.reward_warning);
	                    if(result.reward_warning != undefined )
	                    {
	                        $('#'+staff_id+'_modal').find('#reward_warning').empty();
	                        $('#'+staff_id+'_modal').find('#reward_warning').html('<table class="table table-bordered"><tr><td class="span2">Type</td><td class="span1">Month</td><td class="span1">Year</td><td>Content</td></tr></table>');

	                        for(i=0; i < result.reward_warning['type'].length; i++)
	                        {
	                            $('#'+staff_id+'_modal').find('#reward_warning').append('<table class="table"><tr><td class="span2">'+result.reward_warning['type'][i]+'</td><td class="span1">'+result.reward_warning['month'][i]+'</td><td class="span1">'+result.reward_warning['year'][i]+'</td><td><div class="span2">'+result.reward_warning['content'][i]+'</div></td></tr></table>');
	                        }
	                    }

	                    if(result.sellout != undefined){
	                        $('#'+staff_id+'_modal').find('#sellout').empty();
	                        $('#'+staff_id+'_modal').find('#sellout').html('<table class="table table-bordered"><tr><td>Sell out</td><td>'+result.sellout+'</td></tr></table>');
	                    }

	                    console.log(result.store);
	                    if(result.store != undefined){
	                        $('#'+staff_id+'_modal').find('#store').empty();
	                        for( i = 0; i < result.store.length ; i++){
	                            
	                             $('#'+staff_id+'_modal').find('#store').append('<table class="table table-bordered"><tr><td>store</td><td>'+result.store[i]+'</td></tr></table>');    
	                        }
	                    }

	                    unblockUI();

	                    $('#'+staff_id+'_modal').modal();

	                },
	                error : function ()
	                {
	                    console.log('loi');
	                }
	            });

	        });


	    }
	    function unblockUI(){
	        $.unblockUI();
	    }

	    function initWaiting(){
	        $.blockUI({ css: {
	            border: 'none',
	            padding: '15px',
	            backgroundColor: '#000',
	            '-webkit-border-radius': '10px',
	            '-moz-border-radius': '10px',
	            opacity: .5,
	            color: '#fff'
	        } });
	    }

	</script>
    <!-- END LIST -->
</div>
