<?php 
    $total_all = 0;
    $total_cat = array();
    foreach ($this->area as $key => $value){
        foreach ($this->category as $k => $v){
            $total_all += $this->data[$value['id']][$v['id']]['total_value'];

            if(empty($total_cat[$v['id']])){
                $total_cat[$v['id']]['quantity']    = $this->data[$value['id']][$v['id']]['quantity'];
                $total_cat[$v['id']]['total_value'] = $this->data[$value['id']][$v['id']]['total_value'];
            }
            else{
                $total_cat[$v['id']]['quantity']    += $this->data[$value['id']][$v['id']]['quantity'];
                $total_cat[$v['id']]['total_value'] += $this->data[$value['id']][$v['id']]['total_value'];
            }
            
        }
    }


?>



<style type="text/css">
    .top{display:block;margin-bottom: 35px;clear: both;width: 100%}
    .menu_sale{top: 12px;}
    .table_hr tr th{padding: 6px !important; text-align: center !important;vertical-align: middle;}
    table b{color:red;}
</style>

<div class="page-header">
    <h1>Trade marketing - Area</h1>
</div>
<?php
    if (isset($this->messages) and $this->messages)
        foreach ($this->messages as $message):
            echo '<div class="alert alert-success">'.$message.'</div>';
        endforeach;
?>


<div id="wrap_more_info">
    <table class="table table_hr">
        <tr>
            <th rowspan="2">Area</th>
            <?php foreach ($this->category as $key => $value):?>
            <th colspan="2"><?php echo $value['name'];?></th>
            <?php endforeach;?>
            <th rowspan="2">POSM</th>
            <th rowspan="2">Marketing Fee</th>
            <th rowspan="2">Khác</th>
            <th rowspan="2">Tổng (chi phí)</th>
            <th rowspan="2">%</th>
        </tr>
        <tr>
            <?php foreach ($this->category as $key => $value):?>
            <th>Số lượng</th>
            <th>Chi phí</th>
            <?php endforeach;?>
        </tr>
    
        <?php $total_fee = 0;?>

        <?php foreach ($this->area as $key => $value):?>
        <tr>
            <td>
                <a href="/bi/trade-area-detail?area_id=<?php echo $value['id'];?>"><?php echo $value['name'];?></a>
            </td>
            <?php $total_row = 0;?>
            <?php $total = array();?>
            <?php foreach ($this->category as $k => $v):?>
            <?php $total_row += $this->data[$value['id']][$v['id']]['total_value'];?>
            <td><?php echo number_format($this->data[$value['id']][$v['id']]['quantity']);?></td>
            <td><?php echo number_format($this->data[$value['id']][$v['id']]['total_value']);?></td>
            <?php endforeach;?>
            <td>0</td>
            <td>0</td>
            <td>0</td>
            <td><?php echo number_format($total_row);?></td>
            <td><?php echo number_format( ($total_row/$total_all)*100, 2 );?>%</td>
        </tr>
        <?php $total_fee += $total_row;?>
        <?php endforeach;?>

        <tr>
            <td><b>Tổng:</b></td>
            <?php foreach ($this->category as $k => $v):?>
            <td><b><?php echo number_format($total_cat[$v['id']]['quantity']);?></b></td>
            <td><b><?php echo number_format($total_cat[$v['id']]['total_value']);?></b></td>
            <?php endforeach;?>
            <td><b>0</b></td>
            <td><b>0</b></td>
            <td><b>0</b></td>
            <td><b><?php echo number_format($total_fee);?></b></td>
            <td><b>100%</b></td>
        </tr>
        
        
    </table>
</div>


<script type="text/javascript" src="/js/jquery-ui-1.8.12.custom.min.js"></script>
<link rel="stylesheet" type="text/css" href="/css/jquery-ui-1.8.12.custom.css"/>

<script>
$(function () {
    
});
</script>

