<style type="text/css">
    .top{display:block;margin-bottom: 35px;clear: both;width: 100%}
    .menu_sale{top: 12px;}
    .table_hr tr th{padding: 6px !important; text-align: center !important;vertical-align: middle;}
</style>

<div class="page-header">
    <h1>Trade marketing - Dealer</h1>
</div>
<?php
    if (isset($this->messages) and $this->messages)
        foreach ($this->messages as $message):
            echo '<div class="alert alert-success">'.$message.'</div>';
        endforeach;
?>


<div id="wrap_more_info">
    <table class="table table_hr">
        <tr>
            <th rowspan="2">Dealer</th>
            <?php foreach ($this->category as $key => $value):?>
            <th colspan="2"><?php echo $value['name'];?></th>
            <?php endforeach;?>
            <th rowspan="2">POSM</th>
            <th rowspan="2">Marketing Fee</th>
            <th rowspan="2">Khác</th>
            <th rowspan="2">Tổng (chi phí)</th>
        </tr>
        <tr>
            <?php foreach ($this->category as $key => $value):?>
            <th>Số lượng</th>
            <th>Chi phí</th>
            <?php endforeach;?>
        </tr>
        <?php foreach ($this->air_investment as $key => $value):?>
        <tr>
            <td style="text-align: left;">
                <a href="/bi/trade-store?dealer_id=<?php echo $value['dealer_id'];?>"><?php echo $value['dealer_name'];?></a>
            </td>
            <?php $total_value = 0;?>
            <?php foreach ($this->category as $k => $v):?>
            <?php $total_value += $value['total_price_'.$v['id']];?>
            <td><?php echo number_format($value['quantity_'.$v['id']]);?></td>
            <td><?php echo number_format($value['total_price_'.$v['id']]);?></td>
            <?php endforeach;?>
            <td>0</td>
            <td>0</td>
            <td>0</td>
            <td><?php echo number_format($total_value);?></td>
        </tr>
        <?php endforeach;?>
        
        
        
    </table>

    <div class="paging">
        <?php echo $this->paging($this->total, $this->limit, $this->offset, $this->url);?>
    </div>

</div>


<script type="text/javascript" src="/js/jquery-ui-1.8.12.custom.min.js"></script>
<link rel="stylesheet" type="text/css" href="/css/jquery-ui-1.8.12.custom.css"/>

<script>
$(function () {
    
});
</script>

