<!--
<script src="/js/jquery-1.7.2.min.js"></script>
<script src="/js/bootstrap.js"></script>
<script src="/js/base.js"></script>
<script type="text/javascript" src="<?php echo HOST ?>js/alertify.js"></script>
-->
<div class="page-header">
    <h1>Report Sell Out by Salesman</h1>
</div>
<?php
    if (isset($this->messages) and $this->messages)
        foreach ($this->messages as $message):
            echo '<div class="alert alert-success">'.$message.'</div>';
        endforeach;
?>
<div class="accordion" id="accordion2">
    <div class="accordion-group">
        <div class="accordion-heading">
            <a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion2" href="#collapseTwo">
                Search
            </a>
        </div>
        <div id="collapseTwo" class="accordion-body collapse" style="height: 0px;">
            <div class="accordion-inner">
                <?php
                    echo $this->render('bi/partials/report_search.phtml');
                ?>
            </div>
        </div>
    </div>
</div>

<div class="pull-right">
    <strong>Total Sell Out: <?php if (isset($this->total_sales)) echo $this->total_sales ?></strong>
</div>
<div class="clearfix"></div>

<div class="table-responsive load-ajax">
<?php
   echo $this->render('bi/partials/analytics-sales-man-list.phtml');
?>
    
</div>

<div class="paging">
    <?php echo $this->paging($this->total, $this->limit, $this->offset, $this->url);?>
</div>
<div id="modal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">

</div>

<script type="text/javascript" src="/js/jquery-ui-1.8.12.custom.min.js"></script>
<script type="text/javascript" src="/js/bootstrap-modal.js"></script>
<script type="text/javascript" src="/js/bootstrap-modalmanager.js"></script>
<link rel="stylesheet" type="text/css" href="/css/jquery-ui-1.8.12.custom.css"/>
<link rel="stylesheet" type="text/css" href="/css/bootstrap-modal.css"/>
<script>
    $(document).ready(function () {
        $( '.date' ).datepicker({ dateFormat: "dd/mm/yy" });

        $('.form-search button:reset').click(function (e){
            $('.form-search input, .form-search select').val('');
            $('.form-search').submit();
            return false;
        });
    });
</script>