<script src="/js/jquery-1.7.2.min.js"></script>

<script src="/js/base.js"></script>

<div class="page-header">
    <h1>Report Sell Out By Area</h1>
</div>
<?php
    if (isset($this->messages) and $this->messages)
        foreach ($this->messages as $message):
            echo '<div class="alert alert-success">'.$message.'</div>';
        endforeach;
?>
<div class="accordion" id="accordion2">
    <div class="accordion-group">
        <div class="accordion-heading">
            <a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion2" href="#collapseTwo">
                Search
            </a>
        </div>
        <div id="collapseTwo" class="accordion-body collapse" style="height: 0px;">
            <div class="accordion-inner">
                <?php
                    echo $this->render('bi/partials/report_search_area.phtml');
                ?>
            </div>
        </div>
    </div>
</div>

<div class="pull-right">
    <strong>Unit: <?php echo $this->total_sales;?></strong> - 
    <strong>Activated: <?php echo $this->total_sales_activated;?></strong>
</div>
<div class="clearfix"></div>

<div class="table-responsive load-ajax">
    <table class="table table-bordered" id="bi-table">
        <thead>
            <tr>
                <?php echo $this->sorting(array(
                    '#',
                        'Area',
                        'Unit',
                        'Unit Activated',
                        'Value (80%)',
                        'Region share (%)',
                        'Point',
                ),
            $this->url, $this->current_col, $this->desc); ?>
            </tr>
        </thead>
        <tbody>
            <?php
            if (isset($this->sales) and $this->sales)
                $inc = $this->offset + 1;
                foreach ($this->sales as $sale):
                    if ( in_array($this->userStorage->group_id, My_Staff_Group::$allow_in_area_view) 
                        && !My_Staff_Permission_Area::view_all($this->userStorage->id)
                        && !in_array($sale['area_id'], $this->viewed_area_id)
                    ) :
            ?>
                            <?php if($this->userStorage->group_id == BOARD_ID):?>
                            <tr>
                                <td><?php echo $inc++; ?></td>
                                <td><a href='<?php echo HOST;?>bi/dealer-chart?area=<?php echo $sale['area_id'];?>'><?php echo $sale['area_name'];?></a></td>
                                <td>
                                    <?php
                                        $sellout = !empty($sale['total_quantity']) ? $sale['total_quantity'] : '0';
                                        $from =  (isset($this->params['from']) and $this->params['from']) ? $this->params['from'] : '';
                                        $to = (isset($this->params['to']) and $this->params['to']) ? $this->params['to'] : '';
                                    ?>
                                    <?php echo '<span class="badge badge-default" data-from="'.$from.'" data-to="'.$to.'" data-area-id="'.$sale['area_id'].'">'.$sellout.'</span>'?>
                                </td>
                                <td><?php echo !empty($sale['total_activated']) ? $sale['total_activated'] : '0'; ?></td>
                                <td></td>
                                <td></td>
                                <td><?php echo $sale['point'];?></td>
                            </tr>
                            <?php else: ?>
                            <tr>
                                <td><?php echo $inc++; ?></td>
                                <td><?php echo $sale['area_name'];?></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                            </tr>
                            <?php endif; ?>
                            
                            
                    <?php else: ?>
                    <tr>
                        <td><?php echo $inc++; ?></td>
                        <td><a href='<?php echo HOST;?>bi/dealer-chart?area=<?php echo $sale['area_id'];?>'><?php echo $sale['area_name'];?></a></td>
                        <td>
                            <?php
                                $sellout = !empty($sale['total_quantity']) ? $sale['total_quantity'] : '0';
                                $from =  (isset($this->params['from']) and $this->params['from']) ? $this->params['from'] : '';
                                $to = (isset($this->params['to']) and $this->params['to']) ? $this->params['to'] : '';
                            ?>
                            <?php echo '<span class="badge badge-default" data-from="'.$from.'" data-to="'.$to.'" data-area-id="'.$sale['area_id'].'">'.$sellout.'</span>'?>
                        </td>
                        <td><?php echo !empty($sale['total_activated']) ? $sale['total_activated'] : '0'; ?></td>
                        <td><?php echo !empty($sale['total_value']) ? number_format($sale['total_value']) : '0'; ?></td>
                        <td><?php echo !empty($sale['region_share']) ? $sale['region_share'] : '0'; ?></td>
                        <td><?php echo $sale['point'];?></td>
                    </tr>
                    <?php endif; ?>
            <?php endforeach;?>

        </tbody>
    </table>
</div>

<div id="wrap_more_info">

</div>

<script type="text/javascript" src="/js/jquery-ui-1.8.12.custom.min.js"></script>
<link rel="stylesheet" type="text/css" href="/css/jquery-ui-1.8.12.custom.css"/>
<script src="/public/js/jquery.blockUI.js"></script>
<script>
    $(document).ready(function () {
        $( '.date' ).datepicker({ dateFormat: "dd/mm/yy" });

        $('.form-search button:reset').click(function (e){
            $('.form-search input, .form-search select').val('');
            $('.form-search').submit();
            return false;
        });

        show_model();
    });

    $(document).ajaxStart($.blockUI).ajaxStop($.unblockUI);

    function show_model(){
        $('.badge.badge-default').click(function(){
            var area_id = $(this).attr('data-area-id');
            var from = $(this).attr('data-from');
            var to = $(this).attr('data-to');
            $.ajax({
                type: 'get',
                url: '/timing/show-model',
                data: {'area_id':area_id,'from':from,'to':to,type: 'area'},
                success: function(data){
                    $("#wrap_more_info").html(data);
                },
                error:function(){
                    alert('load data error');
                }
            })
        });
    }
</script>
