
<style>
    .table_count{overflow-x: scroll;}
</style>

<div class="page-header" style="margin: 18px 0 -10px 0;border-bottom: none;">
    <h1>Brand Shop - <?php echo $this->area;?></h1>
</div>

<div class="main">
    <div class="container-fluid">    
        
        <div class="row">
            <div class="span6">
                <div class="table_main">
                    <div class="header_tad"><i class="icon-list-alt"></i> SALE</div>
                    <div class="content_tad">
                        <div class="menu_sale">
                            

                        </div>
                        
                        <div class="dim">
                        </div>    

                        <div class="menu_type_char">
                           <span class="menu_btn"><i class="icon-tasks"></i></span>
                           <ul>
                                <li char='container'>Sell out 3 tháng gần nhất</li>
                                <li char='doanhthu'>Doanh thu 3 tháng gần nhất (80%)</li>
                                <li char='sellout_sp'>Sell out Sản phẩm chính</li>
                                <li char='sellout_sp_value'>Doanh thu Sản phẩm chính (80%)</li>
                                <li class='soban_theongay'>Số bán theo ngày</li>
                           </ul>
                        </div>
                        
                        <div id="test" style="width: auto;height: auto; margin: 0 auto;"></div>
                        <div id="container" style="width: auto;height: auto; margin: 0 auto;"></div>
                        <div id="doanhthu" style="width: 100%;height: auto; margin: 0 auto;"></div>
                        <div id="sellout_sp" style="width: 100%;height: auto; margin: 0 auto;"></div>
                        <div id="sellout_sp_value" style="width: 100%;height: auto; margin: 0 auto;"></div>
                        <div id="container_temp" style="width: auto;height: auto; margin: 0 auto;opacity: 0.0;height: 1px"></div>
                        
                        <div class="wrap_sellout_diamond">

                            <div class='first_column'>
                                <span>Rank.IND</span>
                                <span>Tháng</span>
                                <span>Shop</span>
                                <span>PGPB</span>
                                <span style="line-height: 19px;height: 19px;">
                                    <?php if($this->access('bi', 'list-rank-area')):?>
                                    <a href="<?php echo HOST;?>bi/list-rank-area" class="label label-info" style="float:center">Khu vực: <i class="icon-hand-right"></i></a>
                                    <?php endif;?>
                                </span>
                            </div>

                        </div><!-- wrap_sellout_diamond-->

                    </div>
                </div><!-- table_main-->
            </div><!-- span6 -->

            <div class="span6">
                <div class="table_main">

                    <div class="header_tad"><i class="icon-list-alt"></i> NHÂN SỰ</div>
                    <div class="content_tad">
                        <div class='content_content'>

                            <div class="content_tad_tad" id="tad_hr">
                                <div class="ro">
                                    <div class="row1">Total:</div>
                                    <div class="row2"></div>
                                </div>
                                <?php foreach($this->staff as $key=>$value):?>
                                <a href="" class="ro">
                                    <div class="row1"> <?php echo $value['name'];?>:</div>
                                    <div class="row2"> <?php echo $value['num'];?></div>
                                </a>
                                <?php endforeach;?>

                                <a href="" class="ro">
                                    <div class="row1"> PGPB:</div>
                                    <div class="row2"> <?php echo count($this->staff_pg);?></div>
                                </a>

                            </div>
                            
                            <div class="content_tad_tad hr_chart" style='float: right;'>
                                <table class="table table_hr">
                                    <tr>
                                        <th>Channel</th>
                                        <th>Store</th>
                                    </tr>
                                    
                                    <tr>
                                        <td>Brand Shop</td>
                                        <td><?php echo count($this->brand_shop);?></td>
                                    </tr>
                                    
                                </table>
                            </div>
                            

                            <table class="table table_hr" style='margin-top: 10px'>
                                <tr>
                                    <th><i class="icon_star_index">5</i></th>
                                    <th><i class="icon_star_index">4</i></th>
                                    <th><i class="icon_star_index">3</i></th>
                                    <th><i class="icon_star_index">2</i></th>
                                    <th><i class="icon_star_index">1</i></th>
                                    <th><i class="icon_star_index">0</i></th>
                                </tr>
                                <tr>
                                    <?php for($i = 5; $i > -1; $i--):?>
                                    <td><a href="<?php echo HOST;?>bi/rank-star?rank=<?php echo $i;?>"><?php echo !empty($this->rank_star[$i]) ? $this->rank_star[$i] : 0;?> PGPB</td>
                                    <?php endfor;?>
                                </tr>
                            </table>

                        </div><!-- content-content-->
                    </div><!-- content_tad-->
                </div><!-- table_main-->
            </div><!-- span6-->
            
        </div><!-- row-->
        

        <div class="row">
            <div class="span6">
                <div class="table_main2">
                    <div class="header_tad"><i class="icon-list-alt"></i> TRADE</div>
                    <div class="content_tad">
                        
                        <div class="menu_sale">
                            
                        </div>

                        <div class="content_content">
                            <div class="row">
                                
                                <div class="span6 span6_bl">
                                    <div class="dashboard-stat blue block_size">
                                        <div class="visual">
                                           <i class="icon-comments"></i>
                                        </div>
                                        
                                        <div class="details">
                                             <div class="number"><?php echo number_format($this->data_trade_total['fee_cost'],0,'',' ');?></div>
                                             <div class="desc">Chi phí khu vực</div>
                                        </div>
                                        
                                        <?php if($this->access('bi', 'area-trade-details-cost')):?>
                                        <a class="more" href="<?php echo HOST;?>bi/area-trade-details-cost">
                                          View more <i class="m-icon-swapright m-icon-white"></i>
                                        </a>
                                        <?php endif;?>
                                    </div>
                                </div><!-- span6-->
                                
                                <div class="span6 span6_bl">
                                    <div class="dashboard-stat green block_size">
                                        <div class="visual">
                                           <i class="icon-shopping-cart"></i>
                                        </div>
                                        
                                        <div class="details">
                                             <div class="number"><?php echo number_format($this->data_trade_total['fee_air'],0,'',' ');?></div>
                                             <div class="desc">Chi phí Decor</div>
                                        </div>
                                        
                                        <?php if($this->access('bi', 'area-trade-details-decor')):?>
                                        <a class="more" href="<?php echo HOST;?>bi/area-trade-details-decor">
                                          Xem thêm <i class="m-icon-swapright m-icon-white"></i>
                                        </a>
                                        <?php endif;?>
                                        
                                    </div>
                                </div><!-- span 6-->

                            </div><!-- row-->
                            
                            <div class="row">
                                <div class="span6 span6_bl">
                                    <div class="dashboard-stat purple block_size">
                                        <div class="visual">
                                           <i class="icon-bar-chart"></i>
                                        </div>
                                        
                                        <div class="details">
                                             <div class="number"><?php echo number_format($this->data_trade_total['fee_campaign'],0,'',' ');?> VND</div>
                                             <div class="desc">Chi phí POSM</div>
                                        </div>
                                        
                                        <?php if($this->access('bi', 'area-trade-details-posm')):?>
                                        <a class="more" href="<?php echo HOST;?>bi/area-trade-details-posm">
                                          Xem thêm<i class="m-icon-swapright m-icon-white"></i>
                                        </a>
                                        <?php endif;?>
                                        
                                    </div>
                                </div><!-- span6-->
                                
                                <div class="span6 span6_bl">
                                    <div class="dashboard-stat red block_size">
                                        <div class="visual">
                                           <i class="icon-usd"></i>
                                        </div>
                                        
                                        <div class="details">
                                             <div class="number"><?php echo number_format(($this->data_trade_total['fee_cost']+$this->data_trade_total['fee_air']+$this->data_trade_total['fee_campaign']),0,'',' ');?>  VND</div>
                                             <div class="desc">Tổng chi phí/ 3 tháng</div>
                                        </div>
                                    </div>
                                    </div><!-- span6-->
                            </div><!-- row-->
                            <div id="trade" style="width: 100%;height: 340px; margin: 0 auto"></div>
                        </div><!-- content-content-->
                        
                    </div>
                </div><!-- table_main2 -->
            </div><!-- span6-->
            
            <div class="span6">
                <div class='table_main2'>
                    <div class="header_tad"><i class="icon-list-alt"></i> TRAINING</div>
                    <div class="content_tad">
                        <div class='header_trainer'>
                            <span>Training Chuyên Đề</span>
                            <table class="table table_hr cackhoa_training" id='bi-table'>
                                <tr>
                                    <th rowspan="2" class="cackhoa_training_th">
                                        <?php if($this->access('bi', 'training-report-area') and count($this->params['area_list']) != 1):?>
                                        <a href="<?php echo HOST;?>bi/training-report-area" class="label label-info" style="float:center">Khu vực: <i class="icon-hand-right"></i></a>
                                        <?php endif;?>
                                    </th>
                                    <?php foreach($this->list_date as $row=>$value):?>
                                    <?php $d = intval(date('m', strtotime($value)));?>
                                    <th colspan="2">Tháng <?php echo $d;?></th>
                                    <?php endforeach;?>
                                </tr>
                                <tr>
                                    <?php foreach($this->list_date as $row=>$value):?>
                                    <?php $d = intval(date('m', strtotime($value)));?>
                                    <th>Số buổi</th>
                                    <th>Số lượng</th>
                                    <?php endforeach;?>
                                </tr>
                                <tr>
                                    <td>Training đối tác</td>
                                    <?php foreach($this->list_date as $row=>$value):?>
                                    <?php $d = intval(date('m', strtotime($value)));?>
                                    <?php $y = intval(date('Y', strtotime($value)));?>
                                    <?php $quantity = (isset($this->data_trainer[2][$d][$y]['sum']) and $this->data_trainer[2][$d][$y]['sum']) ? $this->data_trainer[2][$d][$y]['sum'] : 0;?>
                                    <?php $quantity_session = (isset($this->data_trainer[2][$d][$y]['quantity_session']) and $this->data_trainer[2][$d][$y]['quantity_session']) ? $this->data_trainer[2][$d][$y]['quantity_session'] : 0;?>
                                    <td><?php echo $quantity_session;?></td>
                                    <td><?php echo $quantity;?></td>
                                    <?php endforeach;?>
                                </tr>
                                <tr>
                                    <td>Training nội bộ</td>
                                    <?php foreach($this->list_date as $row=>$value):?>
                                    <?php $d = intval(date('m', strtotime($value)));?>
                                    <?php $y = intval(date('Y', strtotime($value)));?>
                                    <?php $quantity = (isset($this->data_trainer[1][$d][$y]['sum']) and $this->data_trainer[1][$d][$y]['sum']) ? $this->data_trainer[1][$d][$y]['sum'] : 0;?>
                                    <?php $quantity_session = (isset($this->data_trainer[1][$d][$y]['quantity_session']) and $this->data_trainer[1][$d][$y]['quantity_session']) ? $this->data_trainer[1][$d][$y]['quantity_session'] : 0;?>
                                    <td><?php echo $quantity_session;?></td>
                                    <td><?php echo $quantity;?></td>
                                    <?php endforeach;?>
                                </tr>
                                <tr>
                                    <td>Tổng số</td>
                                    <?php foreach($this->list_date as $row=>$value):?>
                                    <?php $d = intval(date('m', strtotime($value)));?>
                                    <?php $y = intval(date('Y', strtotime($value)));?>
                                    <td><?php echo ($this->data_trainer[1][$d][$y]['quantity_session']) + ($this->data_trainer[2][$d][$y]['quantity_session']);?></td>
                                    <td><?php echo ($this->data_trainer[1][$d][$y]['sum']) + ($this->data_trainer[2][$d][$y]['sum']);?></td>
                                    <?php endforeach;?>
                                </tr>
                            </table>
                        </div>

                        <div class="header_trainer">
                            <span>Training Tập Trung</span>
                            <table class="table table_hr cackhoa_training" id='bi-table'>
                                <tr>
                                    <th rowspan="2">
                                    <?php if($this->access('trainer', 'course') and (count($this->params['area_list']) != 1)):?>
                                        <a href="<?php echo HOST;?>trainer/course" class="label label-info" style="float:center">Chi tiết: <i class="icon-hand-right"></i></a>
                                    <?php endif;?>
                                    </th>
                                    <?php foreach($this->list_date as $row=>$value):?>
                                    <?php $d = intval(date('m', strtotime($value)));?>
                                    <th colspan="2">Tháng <?php echo $d;?></th>
                                    <?php endforeach;?>
                                </tr>

                                <tr>
                                    <?php foreach($this->list_date as $row=>$value):?>
                                    <?php $d = intval(date('m', strtotime($value)));?>
                                    <th>Số khóa</th>
                                    <th>Số lượng</th>
                                    <?php endforeach;?>
                                </tr>

                                <?php if(!empty($this->trainer_course_type)):?>
                                <?php foreach($this->trainer_course_type as $k=>$v):?>
                                <tr>
                                    <td><?php echo $v;?></td>
                                    <?php foreach($this->list_date as $row=>$value):?>
                                    <?php $d = intval(date('m', strtotime($value)));?>
                                    <?php $y = intval(date('Y', strtotime($value)));?>
                                    <?php $quantity = (isset($this->data_trainer_course[$k][$d][$y]['quantity_pg']) and $this->data_trainer_course[$k][$d][$y]['quantity_pg']) ? $this->data_trainer_course[$k][$d][$y]['quantity_pg'] : 0;?>
                                    <?php $quantity_course = (isset($this->data_trainer_course[$k][$d][$y]['quantity_course']) and $this->data_trainer_course[$k][$d][$y]['quantity_course']) ? $this->data_trainer_course[$k][$d][$y]['quantity_course'] : 0;?>
                                    <td><?php echo $quantity_course;?></td>
                                    <td><?php echo $quantity;?></td>
                                    <?php endforeach;?>
                                </tr>
                                <?php endforeach;?>
                                <?php endif;?>

                            </table>
                        </div>

                        <div class="content_trainer">
                            <span>Training Online</span>
                            <table class="table table_hr cackhoa_training" id='bi-table'>
                                <tr>
                                    <th>Test Online</th>
                                    <th>Tổng</th>
                                    <th>Số lượng pass</th>
                                    <th>% pass</th>
                                    <th>Số lượng Fail</th>
                                    <th>% fail</th>
                                    <?php if($this->access('bi', 'training-online-area')):?>
                                    <th></th>
                                    <?php endif;?>
                                </tr>
                                
                                <?php $total_pgs_sales = $this->total_sale_pgs ? $this->total_sale_pgs : 0;?>
                                <?php foreach ($this->row_lesson as $key => $value):?>
                                <tr>
                                    <td><?php echo $value['title'];?></td>
                                    <td><?php echo $total_pgs_sales;?></td>
                                    <td><?php echo $value['pass'];?></td>
                                    <td><?php echo number_format(($value['pass']/$total_pgs_sales)*100);?> %</td>
                                    <td>
                                        <a href="<?php echo HOST;?>bi/list-fail?lesson_id=<?php echo $value['lesson_id'];?>">
                                            <?php echo ($total_pgs_sales - $value['pass']);?>
                                        </a>
                                    </td>
                                    <td><?php echo number_format((($total_pgs_sales - $value['pass'])/$total_pgs_sales)*100);?> %</td>
                                    <?php if($this->access('bi', 'training-online-area')):?>
                                    <td><a href="<?php echo HOST?>bi/training-online-area?id=<?php echo $value['lesson_id'];?>" class="label label-info" style="float:right"><i class="icon-hand-right"></i></a></td>
                                    <?php endif;?>
                                </tr>
                                <?php  endforeach;?>
                                
                            </table>
                        </div>

                    </div>
                </div><!-- table_main2-->
            </div><!-- span 6-->
            
        </div><!-- row-->
        
    </div>
</div>

<div class="soban_hangngay">
    <div class='close_soban'><i class="icon-remove"></i></div>
    <div id="soban_hang_ngay" style="width: auto;height: auto; margin: 0 auto;"></div>
</div>

<script>

$(function () {

    $('#container_temp').highcharts({
        chart: {
            type: 'column',
            marginLeft: 10,
            marginRight: 10
        },
        xAxis: {
            categories: [
            <?php foreach ($this->list_date as $key => $value) {
                echo "'Tháng ".intval(date('m', strtotime($value)))."',";
            } ?>
            ]
        },
        yAxis: {
            min: 0,
            title: {
                text: 'Chiếc',
                "textAlign": 'right',
                "rotation": 0,
                x: 35,
                y: -170
            },
            stackLabels: {
                enabled: true,
                style: {
                    fontWeight: 'bold',
                    color: (Highcharts.theme && Highcharts.theme.textColor) || '#000',
                    fontSize: '10px'
                },
            }
        },
        series: [{
            name: 'TGDĐ',
            yAxis: 0,
            data: [
            94583,133139,0,0,                ],
            stack: 'male'
        }]
    });


    
    $a = $('g.highcharts-series-0').get(0).getBBox().width;
    var width_chart = -(($a/3)-7);
    
    Highcharts.setOptions({
        lang: {
            decimalPoint: ',',
            thousandsSep: '.'
        }
    });

    $('#container').highcharts({
        chart: {
            type: 'column',
            marginLeft: 10,
            marginRight: 10,
        },
        title: {
            text: 'Sell out 3 tháng gần nhất',
            style:{
                color: '#008B56',
                fontSize: '16px'
            }
        },
        xAxis: {
            categories: [
            <?php foreach ($this->list_date as $key => $value) {
                echo "'Tháng ".intval(date('m', strtotime($value)))."',";
            } ?>
            ]
        },
        yAxis: {
            min: 0,
            title: {
                text: '',
                "textAlign": 'right',
                "rotation": 0,
                x: 35,
                y: -170
            },
            stackLabels: {
                enabled: true,
                style: {
                    fontWeight: 'bold',
                    color: (Highcharts.theme && Highcharts.theme.textColor) || '#000',
                    fontSize: '10px'
                },
            }
        },
        legend: {
            align: 'center',
            x: -30,
            verticalAlign: 'bottom',
            y: 20,
            floating: true,
            backgroundColor: (Highcharts.theme && Highcharts.theme.background2) || 'white',
            borderColor: 'none',
            borderWidth: 1,
            shadow: false
        },
        tooltip: {
            headerFormat: '<b>{point.x}</b><br/>',
            pointFormat: '{series.name}: <b>{point.y}</b> ({point.percentage:.2f}%)<br/>'
        },
        plotOptions: {
            column: {
                stacking: 'normal',
                dataLabels: {
                    enabled: true,
                    color: (Highcharts.theme && Highcharts.theme.dataLabelsColor) || 'white',
                    style: {
                        textShadow: '0 0 1px black',
                        fontSize: '10px'
                    },
                }
            },
            line: {
                dataLabels: {
                    enabled: true,
                    backgroundColor: 'white',
                    borderColor: "#f9bebe",
                    borderWidth: 1,
                    padding: 2,
                    color: (Highcharts.theme && Highcharts.theme.dataLabelsColor) || 'red',
                    style: {
                        fontSize: '9px'
                    },
                }
            }
        },
        exporting: {
            buttons: [
                {
                    enabled: false,
                }
            ]
        },
        series: [{
            name: 'OTHER',
            color: '#008B56',
            yAxis: 0,
            data: [
            <?php foreach ($this->list_date as $key => $value) {
                $m = intval(date('m', strtotime($value)));
                $tot = (isset($this->data_sellout[$m]['num']) and $this->data_sellout[$m]['num']) ? $this->data_sellout[$m]['num'] : 0;
                echo $tot.",";
            } ?>
            ],
            stack: 'male'
        }, {
            type: 'spline',
            color: 'green',
            yAxis: 0,
            name: 'line',
            data: [
            <?php 
                $avg = array();
                $avg_mobile = array();
                $tt = array();
                $avg_temp = 1;
            ?>
            <?php foreach ($this->list_date as $key => $value) {
                $m = intval(date('m', strtotime($value)));
                $num = (isset($this->data_sellout[$m]['num']) and $this->data_sellout[$m]['num']) ? $this->data_sellout[$m]['num'] : 0;

                $avg[$key] = ($num+$avg_temp)/2;
                $avg_mobile[$key] = ($num+$avg_temp)/1.7;
                $tt[$key] = (($num - $avg_temp)/$avg_temp)*100;
                $avg_temp = $num;

                echo $num.",";

            } ?>
            ],
            stack: 'male'
        },
        {
            type: 'line',
            color: 'none',
            yAxis: 0,
            name: 'line',
            data: [
                {
                    y: $(window).width()>480 ? <?php echo $avg[0];?> : <?php echo $avg_mobile[0];?>,
                    dataLabels: {
                        x: -7000,
                        formatter: function() {
                            return Highcharts.numberFormat(<?php echo $tt[0];?>, 2) + '%';
                        }
                    }
                },
                {
                    y: $(window).width()>480 ? <?php echo $avg[1];?> : <?php echo $avg_mobile[1];?>,
                    dataLabels: {
                        x: width_chart,
                        formatter: function() {
                            return Highcharts.numberFormat(<?php echo $tt[1];?>, 2) + '%';
                        }
                    }
                },
                {
                    y: $(window).width()>480 ? <?php echo $avg[2];?> : <?php echo $avg_mobile[2];?>,
                    dataLabels: {
                        x: width_chart,
                        fontSize: 9,
                        formatter: function() {
                            return Highcharts.numberFormat(<?php echo $tt[2];?>, 2) + '%';
                        }
                    }
                },
                {
                    y: $(window).width()>480 ? <?php echo $avg[3];?> : <?php echo $avg_mobile[3];?>,
                    dataLabels: {
                        x: -7000,
                        formatter: function() {
                            return Highcharts.numberFormat(<?php echo $tt[3];?>, 2) + '%';
                        }
                    }
                }
            ],
            stack: 'male'
        }]
    });
    
    $('#doanhthu').highcharts({
        chart: {
            type: 'column',
            marginLeft: 10,
            marginRight: 10
        },
        title: {
            text: 'Doanh thu 3 tháng gần nhất',
            style:{
                color: '#008B56',
                fontSize: '16px'
            }
        },
        xAxis: {
            categories: [<?php foreach ($this->list_date as $key => $value) {
                echo "'Tháng ".intval(date('m', strtotime($value)))."',";
            } ?>]
        },
        yAxis: {
            min: 0,
            title: {
                text: '',
                "textAlign": 'right',
                "rotation": 0,
                x: 40,
                y: -170
            },
            stackLabels: {
                enabled: true,
                style: {
                    fontWeight: 'bold',
                    color: (Highcharts.theme && Highcharts.theme.textColor) || '#000',
                    fontSize: '10px'
                }
            }
        },
        legend: {
            align: 'center',
            x: -30,
            verticalAlign: 'bottom',
            y: 20,
            floating: true,
            backgroundColor: (Highcharts.theme && Highcharts.theme.background2) || 'white',
            borderColor: 'none',
            borderWidth: 1,
            shadow: false
        },
        tooltip: {
            headerFormat: '<b>{point.x}</b><br/>',
            pointFormat: '{series.name}: <b>{point.y}</b> ({point.percentage:.2f}%)<br/>'
        },
        plotOptions: {
            column: {
                stacking: 'normal',
                dataLabels: {
                    enabled: true,
                    color: (Highcharts.theme && Highcharts.theme.dataLabelsColor) || 'white',
                    style: {
                        textShadow: '0 0 1px black',
                        fontSize: '10px'
                    },
                }
            },
            line: {
                dataLabels: {
                    enabled: true,
                    backgroundColor: 'white',
                    borderColor: "#f9bebe",
                    borderWidth: 1,
                    padding: 2,
                    color: (Highcharts.theme && Highcharts.theme.dataLabelsColor) || 'red',
                    style: {
                        fontSize: '9px'
                    },
                }
            }
        },
        exporting: {
            buttons: [
                {
                    enabled: false,
                }
            ]
        },
        series: [{
            name: 'OTHER',
            color: '#008B56',
            yAxis: 0,
            data: [
            <?php foreach ($this->list_date as $key => $value) {
                $m = intval(date('m', strtotime($value)));
                $tot = (isset($this->data_sellout[$m]['total_value']) and $this->data_sellout[$m]['total_value']) ? $this->data_sellout[$m]['total_value'] : 0;
                echo $tot.",";
            } ?>
            ],
            stack: 'male'
        }, {
            type: 'spline',
            yAxis: 0,
            name: 'line',
            color: 'green',
            data: [
            <?php 
                $avg = array();
                $avg_mobile = array();
                $tt = array();
                $avg_temp = 1;
            ?>
            <?php foreach ($this->list_date as $key => $value) {

                $m = intval(date('m', strtotime($value)));
                $num = (isset($this->data_sellout[$m]['total_value']) and $this->data_sellout[$m]['total_value']) ? $this->data_sellout[$m]['total_value'] : 0;

                $avg[$key] = ($num+$avg_temp)/2;
                $avg_mobile[$key] = ($num+$avg_temp)/1.7;
                $tt[$key] = (($num - $avg_temp)/$avg_temp)*100;
                $avg_temp = $num;

                echo $num.",";
            } ?>
            ],
            stack: 'male'
        },{
            type: 'line',
            color: 'none',
            yAxis: 0,
            name: 'line',
            data: [
                {
                    y: $(window).width()>480 ? <?php echo $avg[0];?> : <?php echo $avg_mobile[0];?>,
                    dataLabels: {
                        x: -7000,
                        formatter: function() {
                            return Highcharts.numberFormat(<?php echo $tt[0];?>, 2) + '%';
                        }
                    }
                },
                {
                    y: $(window).width()>480 ? <?php echo $avg[1];?> : <?php echo $avg_mobile[1];?>,
                    dataLabels: {
                        x: width_chart,
                        formatter: function() {
                            return Highcharts.numberFormat(<?php echo $tt[1];?>, 2) + '%';
                        }
                    }
                },
                {
                    y: $(window).width()>480 ? <?php echo $avg[2];?> : <?php echo $avg_mobile[2];?>,
                    dataLabels: {
                        x: width_chart,
                        formatter: function() {
                            return Highcharts.numberFormat(<?php echo $tt[2];?>, 2) + '%';
                        }
                    }
                },
                {
                    y: $(window).width()>480 ? <?php echo $avg[3];?> : <?php echo $avg_mobile[3];?>,
                    dataLabels: {
                        x: width_chart,
                        formatter: function() {
                            return Highcharts.numberFormat(<?php echo $tt[3];?>, 2) + '%';
                        }
                    }
                }
            ],
            stack: 'male'
        }]
    });
    
    // Build the chart trade
    $('#trade').highcharts({
        chart: {
            type: 'column',
            marginLeft: 40,
            marginRight: 20
        },
        title: {
            text: 'Đầu tư 3 tháng gần nhất',
            style:{
                color: '#008B56',
                fontSize: '16px'
            }
        },
        xAxis: {
            categories: [
            <?php foreach ($this->list_date as $key => $value) {
                echo "'Tháng ".intval(date('m', strtotime($value)))."',";
            } ?>
            ]
        },
        yAxis: [{
            min: 0,
            title: {
                text: 'VNĐ',
                "textAlign": 'right',
                "rotation": 0,
                x: 30,
                y: -150
            },
            stackLabels: {
                enabled: true,
                style: {
                    fontWeight: 'bold',
                    color: (Highcharts.theme && Highcharts.theme.textColor) || '#000',
                    fontSize: '10px'
                }
            }
        },
        {
            max: 10000,
            title: {
                text: 'VNĐ',
                "textAlign": 'right',
                "rotation": 0,
                x: 30,
                y: -150
            },
            stackLabels: {
                enabled: false,
                style: {
                    fontWeight: 'bold',
                    color: (Highcharts.theme && Highcharts.theme.textColor) || 'red',
                    fontSize: '10px',
                }
            }
        }],
        legend: {
            align: 'center',
            x: -30,
            verticalAlign: 'bottom',
            y: 20,
            floating: true,
            backgroundColor: (Highcharts.theme && Highcharts.theme.background2) || 'white',
            borderColor: 'none',
            borderWidth: 1,
            shadow: false
        },
        tooltip: {
            headerFormat: '<b>{point.x}</b><br/>',
            pointFormat: '{series.name}: {point.y}<br/>Total: {point.stackTotal}'
        },
        plotOptions: {
            column: {
                stacking: 'normal',
                dataLabels: {
                    enabled: false,
                    color: (Highcharts.theme && Highcharts.theme.dataLabelsColor) || 'white',
                    style: {
                        textShadow: '0 0 3px black'
                    }
                }
            },
            line: {
                stacking: 'normal',
                dataLabels: {
                    enabled: true,
                    format: '{point.y:.2f}% <span>doanh thu</span>',
                    style: {
                        color: '#ffffff',
                        fontSize: '11px',
                    },
                }
            }
        },
        exporting: {
            buttons: [
                {
                    enabled: false,
                }
            ]
        },
        series: [{
            name: 'Tổng đầu tư',
            yAxis: 0,
            data: [
            <?php foreach ($this->list_date as $key => $value) {
                $m = intval(date('m', strtotime($value)));
                $fee = (isset($this->data_trade[$m]) and $this->data_trade[$m]) ? $this->data_trade[$m] : 0;
                echo $fee.",";
            } ?>
            ],
            stack: 'male',
            yAxis: 0,
        }, {
            type: 'line',   
            name: ' ',
            color: 'none',
            data: [
            <?php foreach ($this->list_date as $key => $value) {
                $m = intval(date('m', strtotime($value)));

                $sellout_ = (isset($this->data_sellout_total[$m]['total_value']) and $this->data_sellout_total[$m]['total_value']) ? $this->data_sellout_total[$m]['total_value'] : 0;

                $fee = (isset($this->data_trade[$m]) and $this->data_trade[$m]) ? $this->data_trade[$m] : 0;
                echo number_format((float)((($fee/$sellout_)*100)), 2, '.', '').",";
            } ?>
            ],
            stack: 'male',
            yAxis: 1,
        }]
    });
    
    
    
    

    
    
    //CONTENT MENU
    // Build the chart trade
    $('#sellout_sp').highcharts({
        chart: {
            type: 'column',
            marginLeft: 45,
            marginRight: 10
        },
        title: {
            text: 'Sellout sản phẩm 3 tháng gần nhất',
            style:{
                color: '#008B56',
                fontSize: '16px'
            }
        },
        xAxis: {
            categories: [
            <?php foreach ($this->list_date as $key => $value) {
                echo "'Tháng ".intval(date('m', strtotime($value)))."',";
            } ?>
            ],
        },
        yAxis: {
            min: 0,
            title: {
                text: 'Chiếc',
                "textAlign": 'right',
                "rotation": 0,
                x: 40,
                y: -170
            },
            stackLabels: {
                enabled: false,
                style: {
                    fontWeight: 'bold',
                    color: (Highcharts.theme && Highcharts.theme.textColor) || 'gray'
                }
            }
        },
        legend: {
            align: 'center',
            x: -30,
            verticalAlign: 'bottom',
            y: $(window).width()>480 ? 20 : 35,
            floating: true,
            backgroundColor: (Highcharts.theme && Highcharts.theme.background2) || 'white',
            borderColor: 'none',
            borderWidth: 1,
            shadow: false
        },
        
        /*
        tooltip: {
            pointFormat: '{series.name}: <b>{point.y}</b> ({point.percentage:.0f}%)<br/>'
        },
        */
        
        tooltip: {
            /*
            formatter: function() {
                var s = '<b>'+ this.x +'</b>',
                    sum = 0;

                $.each(this.points, function(i, point) {
                    sum += point.y;
                });

                $.each(this.points, function(i, point) {
                    s += '<br/>'+ point.series.name +': '+point.y+': ('+(point.y/sum*100).toFixed(2)+' %)';
                });

                return "1231";
            },
            shared: true
            */

            formatter: function() {
                var sum = 100;

                return '<b>'+ this.x +'</b><br/>'+
                     this.point.y +': '+ (this.point.y/sum);
              }
        },

        plotOptions: {
            column: {
                stacking: 'normal',
                dataLabels: {
                    enabled: false,
                    color: (Highcharts.theme && Highcharts.theme.dataLabelsColor) || 'white',
                    style: {
                        textShadow: '0 0 3px black'
                    }
                }
            }
        },
        exporting: {
            buttons: [
                {
                    enabled: false,
                }
            ]
        },
        series: [
        <?php foreach($this->good_hero as $key => $value):?>

        {
        name: '<?php echo $this->good[$value];?>',
        yAxis: 0,
        data: [
        <?php
        foreach($this->list_date as $k=>$v):
            $m = intval(date('m', strtotime($v)));
            $num = (isset($this->data_sellout_good[$value][$m]['num']) and $this->data_sellout_good[$value][$m]['num']) ? $this->data_sellout_good[$value][$m]['num'] : 0;
            echo $num.",";  
        endforeach;
        ?>
        ],
        stack: <?php echo $key;?>,
        pointWidth: 16,
        },

        <?php endforeach;?>

        {
        name: 'OTHER',
        yAxis: 0,
        data: [
        <?php
        foreach($this->list_date as $k=>$v):
            $m = intval(date('m', strtotime($v)));
            $data_good_other = (isset($this->data_sellout_total[$m]['num']) and $this->data_sellout_total[$m]['num']) ? $this->data_sellout_total[$m]['num'] : 0;
            
            foreach($this->good_hero as $key => $value){

                $num = (isset($this->data_sellout_good[$value][$m]['num']) and $this->data_sellout_good[$value][$m]['num']) ? $this->data_sellout_good[$value][$m]['num'] : 0;

                $data_good_other = $data_good_other - $num; 
            }

            echo "".$data_good_other.",";  
        endforeach;
        ?>
        ],
        stack: 6,
        pointWidth: 16,
        }

        ]
        
    });
    
    
    $('#sellout_sp_value').highcharts({
        chart: {
            type: 'column',
            marginLeft: 45,
            marginRight: 10
        },
        title: {
            text: 'Doanh thu sản phẩm 3 tháng gần nhất',
            style:{
                color: '#008B56',
                fontSize: '16px'
            }
        },
        xAxis: {
            categories: [
            <?php foreach ($this->list_date as $key => $value) {
                echo "'Tháng ".intval(date('m', strtotime($value)))."',";
            } ?>
            ],
        },
        yAxis: {
            min: 0,
            title: {
                text: 'Vnđ',
                "textAlign": 'right',
                "rotation": 0,
                x: 45,
                y: -170
            },
            stackLabels: {
                enabled: false,
                style: {
                    fontWeight: 'bold',
                    color: (Highcharts.theme && Highcharts.theme.textColor) || 'gray'
                }
            }
        },
        legend: {
            align: 'center',
            x: -30,
            verticalAlign: 'bottom',
            y: $(window).width()>480 ? 20 : 35,
            floating: true,
            backgroundColor: (Highcharts.theme && Highcharts.theme.background2) || 'white',
            borderColor: 'none',
            borderWidth: 1,
            shadow: false
        },
        tooltip: {
            headerFormat: '<b>{point.x}</b><br/>',
            pointFormat: '{series.name}: {point.y}<br/>Total: {point.stackTotal}'
        },
        plotOptions: {
            column: {
                stacking: 'normal',
                dataLabels: {
                    enabled: false,
                    color: (Highcharts.theme && Highcharts.theme.dataLabelsColor) || 'white',
                    style: {
                        textShadow: '0 0 3px black'
                    }
                }
            }
        },
        exporting: {
            buttons: [
                {
                    enabled: false,
                }
            ]
        },
        series: [
            <?php foreach($this->good_hero as $key => $value):?>
            {
            name: '<?php echo $this->good[$value];?>',
            yAxis: 0,
            data: [
            <?php
            foreach($this->list_date as $k=>$v):
                $m = intval(date('m', strtotime($v)));
                $total_value = (isset($this->data_sellout_good[$value][$m]['total_value']) and $this->data_sellout_good[$value][$m]['total_value']) ? $this->data_sellout_good[$value][$m]['total_value'] : 0;
                echo $total_value.",";  
            endforeach;
            ?>
            ],
            stack: <?php echo $key;?>,
            pointWidth: 26,
            },
            <?php endforeach;?>
            ]
        
    });
    
    /* Số bán hàng ngày */
    $('#soban_hang_ngay').highcharts({
        title: {
            text: 'Số bán theo ngày',
            x: -20 //center
        },
        subtitle: {
            text: 'Trong tháng trước và tháng hiện tại',
            x: -20
        },
        xAxis: {
            categories: [
            <?php foreach ($this->list_date_range as $k => $v) {
                echo "'".$v."',";
            }?>
            ]
        },
        yAxis: {
            title: {
                text: ''
            },
            plotLines: [{
                value: 0,
                width: 1,
                color: '#808080'
            }]
        },
        tooltip: {
            valueSuffix: ''
        },
        exporting: {
            buttons: [
                {
                    enabled: false,
                }
            ]
        },
        legend:{
            itemStyle: {
                 fontSize:'10px'
              },
            align: 'center',
            verticalAlign:'bottom'
        },
        series: [
        <?php foreach($this->good_hero_total as $key=>$value):?>
        {
            name: <?php echo "'".$value."'";?>,
            data: [
            <?php foreach ($this->list_date_range as $k => $v) {
                echo (isset($this->good_by_date[$v][$key])) ? $this->good_by_date[$v][$key]."," : "0,";
            }?>
            ]
        }, 
        <?php endforeach;?>
        ]
    });
    /* end số bán hàng ngày */
    
});

</script>

<script>

    $(document).ready(function() {

        $('.close_soban').on('click',function(){
            $('.soban_hangngay').css('z-index','-1000');
        });

        $('.soban_theongay').on('click',function(){
            $('.soban_hangngay').css('z-index','1000');
        });
    });

    $(function () {
        
        hide_char();
        
        $('.menu_btn').on('click',function(){
            if($('.menu_type_char ul').css('display') == 'none')
            {
                $('.menu_type_char ul').show();
            }
            else{
                $('.menu_type_char ul').hide();
            }
        });
        
        $('.menu_type_char ul li').on('click',function(){

            var attr = $(this).attr('char');

            if (typeof attr !== typeof undefined && attr !== false) {
                $(".menu_type_char ul li").each(function(){
                    var char_ = $(this).attr('char');
                    $('#'+char_).hide();
                    $(this).closest('ul').hide();
                });

                var char_this = $(this).attr('char');
                $('#'+char_this).show();
            }else{
                $('.menu_type_char ul').hide();
            } 
            
        });

    });
    
    function hide_char(){
        $(".menu_type_char ul li").each(function(){
            var char_ = $(this).attr('char');
            $('#'+char_).hide();
            $(this).closest('ul').hide();
        });
        $('#container').show();
    }
    
</script>


<script>
$(function () {
    $('.choosse_month_submit').on('click',function(){
        var month = $('.choosse_month').val();
        $.ajax({
              url: "<?php echo HOST;?>bi/load-good-by-month",
              type: "POST",
              dataType: "text",
              context: this,
              data: 'month='+month,
              beforeSend: function() {
                    $('.dim').show();
                },
              success: function(result){

                    var data = JSON.parse(result);

                    var months = data.months;
                    var data1 = data.tgdd;
                    var data2 = data.other;
                    var data3 = data.total;

                    var data_doanhthu1 = data.tgdd_doanhthu;
                    var data_doanhthu2 = data.other_doanhthu;
                    var data_doanhthu3 = data.total_doanhthu;

                    var data4 = [0];

                    var chart = $('#container').highcharts();
                    chart.xAxis[0].setCategories(months);
                    chart.series[0].setData(data1);
                    chart.series[1].setData(data2);
                    chart.series[2].setData(data3);
                    chart.series[3].setData(data4);

                    var chart_doanhthu = $('#doanhthu').highcharts();
                    chart_doanhthu.xAxis[0].setCategories(months);
                    chart_doanhthu.series[0].setData(data_doanhthu1);
                    chart_doanhthu.series[1].setData(data_doanhthu2);
                    chart_doanhthu.series[2].setData(data_doanhthu3);
                    chart_doanhthu.series[3].setData(data4);

                    $('#container').highcharts().redraw();

                    $('.dim').hide();
              },
              error:function(){
                  alert("Có lỗi!!");
              }
        });

    });
});
</script>