<script src="/js/jquery-1.7.2.min.js"></script>

<script src="/js/base.js"></script>

<div class="page-header">
    <h1>Brand Shop</h1>
</div>
<?php
    if (isset($this->messages) and $this->messages)
        foreach ($this->messages as $message):
            echo '<div class="alert alert-success">'.$message.'</div>';
        endforeach;
?>
<div class="accordion" id="accordion2">
    <div class="accordion-group">
        <div class="accordion-heading">
            <a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion2" href="#collapseTwo">
                Search
            </a>
        </div>
        <div id="collapseTwo" class="accordion-body collapse" style="height: 0px;">
            <div class="accordion-inner">
                <form class="form-search form-horizontal" method="get" action="">
                    <div class="row">
                        <div class="span5">
                            <div class="control-group">
                                <label for="area_id" class="span2">Area</label>
                                <select <?php if ($this->isSales):?> disabled<?php endif;?> id="area_id" name="area" class="span3">
                                    <option value="">Choose</option>
                                    <?php
                                    if ($this->areas) :
                                        foreach ($this->areas as $id => $area):
                                            ?>
                                            <option value="<?php echo $id;?>" <?php if (isset($this->params['area']) and $this->params['area']==$id):?>selected<?php endif;?>><?php echo $area;?></option>
                                        <?php
                                        endforeach;
                                    endif;
                                    ?>
                                </select>
                            </div>
                        </div>
                        <div class="span5">
                            <div class="control-group">
                                <label for="date" class="span2">From Date</label>
                                <input type="text" class="form-control search-query date span2" id="from" name="from" value="<?php isset($this->params['from']) and printf($this->params['from']);?>">

                            </div>
                            <div class="control-group">
                                <label for="date" class="span2">To Date</label>
                                <input type="text" class="form-control search-query date span2" id="to" name="to" value="<?php isset($this->params['to']) and printf($this->params['to']);?>">
                            </div>
                        </div>
                    </div>


                    <button type="submit" class="btn btn-primary">Search</button>
                    <button type="reset" class="btn btn-warning">Reset</button>

                </form>

            </div>
        </div>
    </div>
</div>

<div class="pull-right">
    <strong>Unit: <?php echo $this->total;?></strong> - 
    <strong>VALUE (80%): <?php echo number_format($this->total_value);?></strong>
</div>
<div class="clearfix"></div>

<div class="table-responsive load-ajax">
    <table class="table table-bordered" id="bi-table">
        <thead>
            <tr>
                <?php echo $this->sorting(array(
                    '#',
                        'Area',
                        'Unit',
                        //'Unit Activated',
                        'Value (80%)',
                ),
            $this->url, $this->current_col, $this->desc); ?>
            </tr>
        </thead>
        <tbody>
            <?php
            if (isset($this->areas) and $this->areas)
                $inc = $this->offset + 1;
                foreach ($this->areas as $key => $value):
                    ?>
                    <tr>
                        <td><?php echo $inc++; ?></td>
                        <td><a href='<?php echo HOST;?>bi/area-brand?area=<?php echo $key;?>'><?php echo $value;?></a></td>
                        <td>
                            <?php echo $this->sellout[$key]['num'] ? number_format($this->sellout[$key]['num']) : 0;?>
                        </td>
                        <!--<td><?php echo !empty($sale['total_activated']) ? $sale['total_activated'] : '0'; ?></td>-->
                        <td>
                            <?php echo $this->sellout[$key]['total_value'] ? number_format($this->sellout[$key]['total_value']) : 0;?>
                        </td>
                    </tr>
            <?php endforeach;?>

        </tbody>
    </table>
</div>

<div id="wrap_more_info">

</div>

<script type="text/javascript" src="/js/jquery-ui-1.8.12.custom.min.js"></script>
<link rel="stylesheet" type="text/css" href="/css/jquery-ui-1.8.12.custom.css"/>
<script src="/public/js/jquery.blockUI.js"></script>
<script>
    $(document).ready(function () {
        $( ".date" ).datepicker();

        $('.form-search button:reset').click(function (e){
            $('.form-search input, .form-search select').val('');
            $('.form-search').submit();
            return false;
        });

        show_model();
    });

    $(document).ajaxStart($.blockUI).ajaxStop($.unblockUI);

    function show_model(){
        $('.badge.badge-default').click(function(){
            var area_id = $(this).attr('data-area-id');
            var from = $(this).attr('data-from');
            var to = $(this).attr('data-to');
            $.ajax({
                type: 'get',
                url: '/timing/show-model',
                data: {'area_id':area_id,'from':from,'to':to,type: 'area'},
                success: function(data){
                    $("#wrap_more_info").html(data);
                },
                error:function(){
                    alert('load data error');
                }
            })
        });
    }
</script>
