<style type="text/css">
    .info_details table{width: 100%;margin-bottom: 0px;}
    .info_details table th{text-align: left;padding: 5px}
    .info_details table td{text-align: left;padding: 5px}

    .table_main_store{    overflow: hidden;margin-bottom:30px;position:relative;display: block;float: left;min-height: 463px;border-bottom: 1px solid #E9E9E9;background: white 0px 20px no-repeat;border: 1px solid #E6E6E6;-moz-box-shadow: 0px 3px 2px #d6d6d6;-webkit-box-shadow: 0px 3px 2px #d6d6d6;box-shadow: 0px 3px 2px #d6d6d6;padding: 1px;}
    .table_main_store2{overflow: hidden;margin-bottom:30px;margin-left: 7px;display: block;float: left;border-radius: 2px;border-bottom: 1px solid #E9E9E9;background: white 0px 20px no-repeat;border: 1px solid #E6E6E6;-moz-box-shadow: 0px 3px 2px #d6d6d6;-webkit-box-shadow: 0px 3px 2px #d6d6d6;box-shadow: 0px 3px 2px #d6d6d6;padding: 1px;}
    .table_main_store:nth-child(2) .row_tad{}
    .table_main_store2:nth-child(1) .row_tad{}
    
    .highcharts-data-labels tspan:nth-child(2){display: block}
</style>

<div class="main">
    <div class="page-header">
        <h1>Chi tiết đại lý KA</h1>
    </div>

    <div class="container-fluid">
        <legend>
            
            <?php echo !empty($this->channel_ka['name']) ? $this->channel_ka['name'] : NULL;?>

            <span class="label label-success">on</span>
            
            
        </legend>
    </div>

    <div class="container-fluid">   

        <div class="row">
            <!-- CHART -->

            <div id="container" style="width: 100%;height: auto; margin: 30px auto;"></div>
            
            <div id="model_share" style="width: 100%;height: auto; margin: 30px auto;"></div>
            
            <div id="sellout_by_month" style="width: 100%;height: auto; margin: 30px auto;"></div>
            
            <div id="value_by_month" style="width: 100%;height: auto; margin: 30px auto;"></div>
            
            <div id="value_sellout_by_month" style="width: 100%;height: auto; margin: 30px auto;"></div>
            
            <div id="sellout_store" style="width: 100%;height: auto; margin: 30px auto;"></div>
            
            <div id="sellout_pgs" style="width: 100%;height: auto; margin: 30px auto;"></div>
            
            <div id="store_pgs" style="width: 100%;height: auto; margin: 30px auto;"></div>
            <!-- end sellout-->

        </div><!-- row-->

    </div><!-- container-->

</div>


<script>

    $(function () {

        //Chart date
        $('#container').highcharts({
            chart: {
                type: 'line',
                marginLeft: 10,
                marginRight: 10,
            },
            title: {
                text: 'Sellout Model'
            },
            subtitle: {
                text: 'Sellout Model'
            },
            xAxis: {
                categories: [
                <?php foreach($this->list_date as $key=>$value):?>
                <?php
                $date_v = new DateTime($value);
                echo "'".$date_v->format('d/m')."',";
                ?>
                <?php endforeach;?>
                ],
                labels: {
                    rotation: -90,
                    style: {
                        fontSize: '13px',
                        fontFamily: 'Verdana, sans-serif',
                    }
                }
            },
            yAxis: {
                title: {
                    text: ''
                }
            },
            plotOptions: {
                line: {
                    dataLabels: {
                        enabled: true
                    },
                    enableMouseTracking: false
                }
            },
            exporting: {
                buttons: [
                    {
                        enabled: false,
                    }
                ]
            },
            series: [
                <?php foreach($this->list_good as $key=>$value):?>
                {
                    name: '<?php echo $this->good_cache[$value['good_id']];?>',
                    data: [
                    <?php foreach($this->list_date as $k=>$v):?>
                    <?php if(isset($this->data_date[$v][$value['good_id']]['sellout']) and $this->data_date[$v][$value['good_id']]['sellout']){echo $this->data_date[$v][$value['good_id']]['sellout'].',';}else{echo '0,';}?>
                    <?php endforeach;?>
                    ],
                    stack: 0,
                    dataLabels:[{
                        style:{
                            color: '#000'
                        }
                    }]
                },
                <?php endforeach;?>
                {
                    name: 'All',
                    data: [
                    <?php foreach($this->list_date as $k=>$v):?>
                    <?php if(isset($this->data_date[$v]['total_sellout']) and $this->data_date[$v]['total_sellout']){echo $this->data_date[$v]['total_sellout'].',';}else{echo '0,';}?>
                    <?php endforeach;?>
                    ],
                    stack: 0,
                    dataLabels:[{
                        style:{
                            color: '#000'
                        }
                    }]
                },
            ]
        });
        
        
        $('#model_share').highcharts({
            chart: {
                type: 'area',
                marginLeft: 10,
                marginRight: 10,
            },
            title: {
                text: 'Model Share By Date'
            },
            subtitle: {
                text: 'Model Share By Date'
            },
            xAxis: {
                categories: [
                <?php foreach($this->list_date as $key=>$value):?>
                <?php
                $date_v = new DateTime($value);
                echo "'".$date_v->format('d/m')."',";
                ?>
                <?php endforeach;?>
                ],
                tickmarkPlacement: 'on',
                title: {
                    enabled: false
                }
            },
            yAxis: {
                title: {
                    text: 'Percent'
                }
            },
            tooltip: {
                pointFormat: '<span style="color:{series.color}">{series.name}</span>: <b>{point.percentage:.1f}%</b> ({point.y:,.0f} chiếc)<br/>',
                split: true
            },
            plotOptions: {
                area: {
                    stacking: 'percent',
                    lineColor: '#ffffff',
                    lineWidth: 1,
                    marker: {
                        lineWidth: 1,
                        lineColor: '#ffffff'
                    }
                }
            },
            exporting: {
                buttons: [
                    {
                        enabled: false,
                    }
                ]
            },
            series: [
            <?php foreach($this->list_good as $key=>$value):?>
            {
                name: '<?php echo $this->good_cache[$value['good_id']];?>',
                data: [
                <?php foreach($this->list_date as $k=>$v):?>
                <?php if(isset($this->data_date[$v][$value['good_id']]['sellout']) and $this->data_date[$v][$value['good_id']]['sellout']){echo $this->data_date[$v][$value['good_id']]['sellout'].',';}else{echo '0,';}?>
                <?php endforeach;?>
                ],
                stack: 0
            },
            <?php endforeach;?>
            ]
        });
        
        $('#sellout_by_month').highcharts({
            chart: {
                type: 'column',
                marginLeft: 10,
                marginRight: 10,
            },
            title: {
                text: 'Sell out 6 tháng gần nhất',
                style:{
                    color: '#008B56',
                    fontSize: '16px'
                }
            },
            xAxis: {
                categories: [
                    <?php foreach($this->sellout_month as $key=>$value):?>
                    <?php echo "'Tháng ".$value['month']."',";?>
                    <?php endforeach;?>
                ]
            },
            yAxis: {
                min: 0,
                title: {
                    text: '',
                    "textAlign": 'right',
                    "rotation": 0,
                    x: 35,
                    y: -170
                },
                stackLabels: {
                    enabled: true,
                    style: {
                        fontWeight: 'bold',
                        color: (Highcharts.theme && Highcharts.theme.textColor) || '#000',
                        fontSize: '10px'
                    },
                }
            },
            legend: {
                align: 'center',
                x: -30,
                verticalAlign: 'bottom',
                y: 20,
                floating: true,
                backgroundColor: (Highcharts.theme && Highcharts.theme.background2) || 'white',
                borderColor: 'none',
                borderWidth: 1,
                shadow: false
            },
            tooltip: {
                headerFormat: '<b>{point.x}</b><br/>',
                pointFormat: '{series.name}: <b>{point.y}</b> ({point.percentage:.2f}%)<br/>'
            },
            plotOptions: {
                column: {
                    stacking: 'normal',
                    dataLabels: {
                        enabled: false,
                        color: (Highcharts.theme && Highcharts.theme.dataLabelsColor) || 'white',
                        style: {
                            textShadow: '0 0 1px black',
                            fontSize: '10px'
                        },
                    }
                },
                line: {
                    dataLabels: {
                        enabled: true,
                        backgroundColor: 'white',
                        borderColor: "#f9bebe",
                        borderWidth: 1,
                        padding: 2,
                        color: (Highcharts.theme && Highcharts.theme.dataLabelsColor) || 'red',
                        style: {
                            fontSize: '9px'
                        },
                    }
                }
            },
            exporting: {
                buttons: [
                    {
                        enabled: false,
                    }
                ]
            },
            series: [
            {
                name: '<?php echo $title_chanel;?>',
                yAxis: 0,
                color: '#008B56',
                data: [
                    <?php foreach($this->sellout_month as $key=>$value):?>
                    <?php echo $value['sellout'].',';?>
                    <?php endforeach;?>
                ],
                stack: 'male'
            }, 
            ]
        });
        
        $('#value_by_month').highcharts({
            chart: {
                type: 'column',
                marginLeft: 10,
                marginRight: 10,
            },
            title: {
                text: 'Doanh thu 6 tháng gần nhất (100%)',
                style:{
                    color: '#008B56',
                    fontSize: '16px'
                }
            },
            xAxis: {
                categories: [
                    <?php foreach($this->sellout_month as $key=>$value):?>
                    <?php echo "'Tháng ".$value['month']."',";?>
                    <?php endforeach;?>
                ]
            },
            yAxis: {
                min: 0,
                title: {
                    text: '',
                    "textAlign": 'right',
                    "rotation": 0,
                    x: 35,
                    y: -170
                },
                stackLabels: {
                    enabled: true,
                    style: {
                        fontWeight: 'bold',
                        color: (Highcharts.theme && Highcharts.theme.textColor) || '#000',
                        fontSize: '10px'
                    },
                }
            },
            legend: {
                align: 'center',
                x: -30,
                verticalAlign: 'bottom',
                y: 20,
                floating: true,
                backgroundColor: (Highcharts.theme && Highcharts.theme.background2) || 'white',
                borderColor: 'none',
                borderWidth: 1,
                shadow: false
            },
            tooltip: {
                headerFormat: '<b>{point.x}</b><br/>',
                pointFormat: '{series.name}: <b>{point.y}</b> ({point.percentage:.2f}%)<br/>'
            },
            plotOptions: {
                column: {
                    stacking: 'normal',
                    dataLabels: {
                        enabled: false,
                        color: (Highcharts.theme && Highcharts.theme.dataLabelsColor) || 'white',
                        style: {
                            textShadow: '0 0 1px black',
                            fontSize: '10px'
                        },
                    }
                },
                line: {
                    dataLabels: {
                        enabled: true,
                        backgroundColor: 'white',
                        borderColor: "#f9bebe",
                        borderWidth: 1,
                        padding: 2,
                        color: (Highcharts.theme && Highcharts.theme.dataLabelsColor) || 'red',
                        style: {
                            fontSize: '9px'
                        },
                    }
                }
            },
            exporting: {
                buttons: [
                    {
                        enabled: false,
                    }
                ]
            },
            series: [
            {
                name: '<?php echo $title_chanel;?>',
                yAxis: 0,
                color: '#008B56',
                data: [
                    <?php foreach($this->sellout_month as $key=>$value):?>
                    <?php echo $value['sellout_value_100'].',';?>
                    <?php endforeach;?>
                ],
                stack: 'male'
            }, 
            ]
        });
        
        $('#value_sellout_by_month').highcharts({
            chart: {
                type: 'column',
                marginLeft: 10,
                marginRight: 10,
            },
            title: {
                text: 'Total Value/Sellout',
                style:{
                    color: '#008B56',
                    fontSize: '16px'
                }
            },
            xAxis: {
                categories: [
                    <?php foreach($this->sellout_month as $key=>$value):?>
                    <?php echo "'Tháng ".$value['month']."',";?>
                    <?php endforeach;?>
                ]
            },
            yAxis: {
                min: 0,
                title: {
                    text: '',
                    "textAlign": 'right',
                    "rotation": 0,
                    x: 35,
                    y: -170
                },
                stackLabels: {
                    enabled: true,
                    style: {
                        fontWeight: 'bold',
                        color: (Highcharts.theme && Highcharts.theme.textColor) || '#000',
                        fontSize: '10px'
                    },
                }
            },
            legend: {
                align: 'center',
                x: -30,
                verticalAlign: 'bottom',
                y: 20,
                floating: true,
                backgroundColor: (Highcharts.theme && Highcharts.theme.background2) || 'white',
                borderColor: 'none',
                borderWidth: 1,
                shadow: false
            },
            tooltip: {
                headerFormat: '<b>{point.x}</b><br/>',
                pointFormat: '{series.name}: <b>{point.y}</b> ({point.percentage:.2f}%)<br/>'
            },
            plotOptions: {
                column: {
                    stacking: 'normal',
                    dataLabels: {
                        enabled: false,
                        color: (Highcharts.theme && Highcharts.theme.dataLabelsColor) || 'white',
                        style: {
                            textShadow: '0 0 1px black',
                            fontSize: '10px'
                        },
                    }
                },
                line: {
                    dataLabels: {
                        enabled: true,
                        backgroundColor: 'white',
                        borderColor: "#f9bebe",
                        borderWidth: 1,
                        padding: 2,
                        color: (Highcharts.theme && Highcharts.theme.dataLabelsColor) || 'red',
                        style: {
                            fontSize: '9px'
                        },
                    }
                }
            },
            exporting: {
                buttons: [
                    {
                        enabled: false,
                    }
                ]
            },
            series: [
            {
                name: '<?php echo $title_chanel;?>',
                yAxis: 0,
                color: '#008B56',
                data: [
                    <?php foreach($this->sellout_month as $key=>$value):?>
                    <?php echo intval($value['sellout_value_100']/$value['sellout']).',';?>
                    <?php endforeach;?>
                ],
                stack: 'male'
            }, 
            ]
        });
        
        $('#sellout_store').highcharts({
            chart: {
                type: 'column',
                marginLeft: 10,
                marginRight: 10,
            },
            title: {
                text: 'Sellout/Store',
                style:{
                    color: '#008B56',
                    fontSize: '16px'
                }
            },
            xAxis: {
                categories: [
                    <?php foreach($this->sellout_month as $key=>$value):?>
                    <?php echo "'Tháng ".$value['month']."',";?>
                    <?php endforeach;?>
                ]
            },
            yAxis: {
                min: 0,
                title: {
                    text: '',
                    "textAlign": 'right',
                    "rotation": 0,
                    x: 35,
                    y: -170
                },
                stackLabels: {
                    enabled: true,
                    style: {
                        fontWeight: 'bold',
                        color: (Highcharts.theme && Highcharts.theme.textColor) || '#000',
                        fontSize: '10px'
                    },
                }
            },
            legend: {
                align: 'center',
                x: -30,
                verticalAlign: 'bottom',
                y: 20,
                floating: true,
                backgroundColor: (Highcharts.theme && Highcharts.theme.background2) || 'white',
                borderColor: 'none',
                borderWidth: 1,
                shadow: false
            },
            tooltip: {
                headerFormat: '<b>{point.x}</b><br/>',
                pointFormat: '{series.name}: <b>{point.y}</b> ({point.percentage:.2f}%)<br/>'
            },
            plotOptions: {
                column: {
                    stacking: 'normal',
                    dataLabels: {
                        enabled: false,
                        color: (Highcharts.theme && Highcharts.theme.dataLabelsColor) || 'white',
                        style: {
                            textShadow: '0 0 1px black',
                            fontSize: '10px'
                        },
                    }
                },
                line: {
                    dataLabels: {
                        enabled: true,
                        backgroundColor: 'white',
                        borderColor: "#f9bebe",
                        borderWidth: 1,
                        padding: 2,
                        color: (Highcharts.theme && Highcharts.theme.dataLabelsColor) || 'red',
                        style: {
                            fontSize: '9px'
                        },
                    }
                }
            },
            exporting: {
                buttons: [
                    {
                        enabled: false,
                    }
                ]
            },
            series: [
            {
                name: '<?php echo $title_chanel;?>',
                yAxis: 0,
                color: '#008B56',
                data: [
                    <?php foreach($this->sellout_month as $key=>$value):?>
                    <?php echo intval($value['sellout']/$value['store_so']).',';?>
                    <?php endforeach;?>
                ],
                stack: 'male'
            }, 
            ]
        });
        
        $('#sellout_pgs').highcharts({
            chart: {
                type: 'column',
                marginLeft: 10,
                marginRight: 10,
            },
            title: {
                text: 'Sellout/Pgs',
                style:{
                    color: '#008B56',
                    fontSize: '16px'
                }
            },
            xAxis: {
                categories: [
                    <?php foreach($this->sellout_month as $key=>$value):?>
                    <?php echo "'Tháng ".$value['month']."',";?>
                    <?php endforeach;?>
                ]
            },
            yAxis: {
                min: 0,
                title: {
                    text: '',
                    "textAlign": 'right',
                    "rotation": 0,
                    x: 35,
                    y: -170
                },
                stackLabels: {
                    enabled: true,
                    style: {
                        fontWeight: 'bold',
                        color: (Highcharts.theme && Highcharts.theme.textColor) || '#000',
                        fontSize: '10px'
                    },
                }
            },
            legend: {
                align: 'center',
                x: -30,
                verticalAlign: 'bottom',
                y: 20,
                floating: true,
                backgroundColor: (Highcharts.theme && Highcharts.theme.background2) || 'white',
                borderColor: 'none',
                borderWidth: 1,
                shadow: false
            },
            tooltip: {
                headerFormat: '<b>{point.x}</b><br/>',
                pointFormat: '{series.name}: <b>{point.y}</b> ({point.percentage:.2f}%)<br/>'
            },
            plotOptions: {
                column: {
                    stacking: 'normal',
                    dataLabels: {
                        enabled: false,
                        color: (Highcharts.theme && Highcharts.theme.dataLabelsColor) || 'white',
                        style: {
                            textShadow: '0 0 1px black',
                            fontSize: '10px'
                        },
                    }
                },
                line: {
                    dataLabels: {
                        enabled: true,
                        backgroundColor: 'white',
                        borderColor: "#f9bebe",
                        borderWidth: 1,
                        padding: 2,
                        color: (Highcharts.theme && Highcharts.theme.dataLabelsColor) || 'red',
                        style: {
                            fontSize: '9px'
                        },
                    }
                }
            },
            exporting: {
                buttons: [
                    {
                        enabled: false,
                    }
                ]
            },
            series: [
            {
                name: '<?php echo $title_chanel;?>',
                yAxis: 0,
                color: '#008B56',
                data: [
                    <?php foreach($this->sellout_month as $key=>$value):?>
                    <?php $month = intval($value['month']);?>
                    <?php $year = intval($value['year']);?>
                    <?php echo !empty($this->pgs_month[$year][$month][$this->params['channel']]) ? intval($value['sellout']/$this->pgs_month[$year][$month][$this->params['channel']]) : 0;?>,
                    <?php endforeach;?>
                ],
                stack: 'male'
            }, 
            ]
        });
        
        $('#store_pgs').highcharts({
            chart: {
                type: 'column',
                marginLeft: 10,
                marginRight: 10,
            },
            title: {
                text: 'Số lượng Store, Số lượng Pgs',
                style:{
                    color: '#008B56',
                    fontSize: '16px'
                }
            },
            xAxis: {
                categories: [
                    <?php foreach($this->sellout_month as $key=>$value):?>
                    <?php echo "'Tháng ".$value['month']."',";?>
                    <?php endforeach;?>
                ]
            },
            yAxis: {
                min: 0,
                title: {
                    text: '',
                    "textAlign": 'right',
                    "rotation": 0,
                    x: 35,
                    y: -170
                },
                stackLabels: {
                    enabled: true,
                    style: {
                        fontWeight: 'bold',
                        color: (Highcharts.theme && Highcharts.theme.textColor) || '#000',
                        fontSize: '10px'
                    },
                }
            },
            legend: {
                align: 'center',
                x: -30,
                verticalAlign: 'bottom',
                y: 20,
                floating: true,
                backgroundColor: (Highcharts.theme && Highcharts.theme.background2) || 'white',
                borderColor: 'none',
                borderWidth: 1,
                shadow: false
            },
            tooltip: {
                headerFormat: '<b>{point.x}</b><br/>',
                pointFormat: '{series.name}: <b>{point.y}</b> ({point.percentage:.2f}%)<br/>'
            },
            plotOptions: {
                column: {
                    stacking: 'normal',
                    dataLabels: {
                        enabled: false,
                        color: (Highcharts.theme && Highcharts.theme.dataLabelsColor) || 'white',
                        style: {
                            textShadow: '0 0 1px black',
                            fontSize: '10px'
                        },
                    }
                },
                line: {
                    dataLabels: {
                        enabled: true,
                        backgroundColor: 'white',
                        borderColor: "#f9bebe",
                        borderWidth: 1,
                        padding: 2,
                        color: (Highcharts.theme && Highcharts.theme.dataLabelsColor) || 'red',
                        style: {
                            fontSize: '9px'
                        },
                    }
                }
            },
            exporting: {
                buttons: [
                    {
                        enabled: false,
                    }
                ]
            },
            series: [
            {
                name: 'Store',
                yAxis: 0,
                color: '#008B56',
                data: [
                    <?php foreach($this->sellout_month as $key=>$value):?>
                    <?php echo intval($value['store_so']).',';?>
                    <?php endforeach;?>
                ],
                stack: 'male'
            },
            {
                name: 'Pgs',
                yAxis: 0,
                color: '#F78484',
                data: [
                    <?php foreach($this->sellout_month as $key=>$value):?>
                    <?php $month = intval($value['month']);?>
                    <?php $year = intval($value['year']);?>
                    <?php echo intval($this->pgs_month[$year][$month][$this->params['channel']]).',';?>
                    <?php endforeach;?>
                ],
                stack: 'fmale'
            },
            ]
        });

    });

</script>




