<style type="text/css">
    @media screen and (max-width: 480px){
        #bi-table th:nth-child(3), #bi-table td:nth-child(3){display: none}
        #bi-table th:nth-child(4), #bi-table td:nth-child(4){display: none}
        #bi-table th:nth-child(5), #bi-table td:nth-child(5){display: none}
        #bi-table th:nth-child(7), #bi-table td:nth-child(7){display: none}
    }
</style>

<div class="page-header">
    <h1>Danh sách đại lý 
    <?php if(isset($this->areas[$this->params['area']]) and $this->areas[$this->params['area']]):?>
    <?php echo $this->areas[$this->params['area']];?>
    <?php endif;?>
    </h1>
</div>
<?php
    if (isset($this->messages) and $this->messages)
        foreach ($this->messages as $message):
            echo '<div class="alert alert-success">'.$message.'</div>';
        endforeach;
?>
<div class="accordion" id="accordion2">
    <div class="accordion-group">
        <div class="accordion-heading">
            <a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion2" href="#collapseTwo">
                Search
            </a>
        </div>
        <div id="collapseTwo" class="accordion-body collapse" style="height: 0px;">
            <div class="accordion-inner">
                <!-- search -->
                <form class="form-search form-horizontal" method="get" action="<?php echo HOST ?>bi/<?php echo Zend_Controller_Front::getInstance()->getRequest()->getActionName(); ?>">
                    <div class="row">
                        <div class="span5">
                            <div class="control-group">
                                <label for="name" class="span2">Name</label>
                                <input id="name" name="name" type="text" class="input-medium search-query form-control span2" value="<?php isset($this->params['name']) and printf($this->params['name']);?>">
                            </div>
                
                            <div class="control-group">
                                <label for="area_id" class="span2">Area</label>
                                <select <?php if ($this->isSales):?> disabled<?php endif;?> id="area_id" name="area" class="span3">
                                    <option value="">Choose</option>
                                    <?php
                                    if ($this->areas) :
                                        foreach ($this->areas as $id => $area):
                                            ?>
                                            <option value="<?php echo $id;?>" <?php if (isset($this->params['area']) and $this->params['area']==$id):?>selected<?php endif;?>><?php echo $area;?></option>
                                        <?php
                                        endforeach;
                                    endif;
                                    ?>
                                </select>
                            </div>
                            <div class="control-group">
                                <label for="regional_market" class="span2">Province</label>
                                <select <?php if ($this->isSales):?> disabled<?php endif;?> id="regional_market" name="province" class="span3">
                                    <option value="">Choose</option>
                                    <?php
                                    if ($this->provinces) :
                                        foreach ($this->provinces as $_province):?>
                                            <option value="<?php echo $_province['id'];?>" <?php if (isset($this->params['province']) and $this->params['province']==$_province['id']):?>selected<?php endif;?>><?php echo $_province['name'];?></option>
                                        <?php
                                        endforeach;
                                    endif;
                                    ?>
                                </select>
                            </div>
                            <div class="control-group">
                                <label for="district" class="span2">District</label>
                                <select <?php if ($this->isSales):?> disabled<?php endif;?> id="district" name="district" class="span3">
                                    <option value="">Choose</option>
                                    <?php
                                    if ($this->districts) :
                                        foreach ($this->districts as $_district):?>
                                            <option value="<?php echo $_district['id'];?>" <?php if (isset($this->params['district']) and $this->params['district']==$_district['id']):?>selected<?php endif;?>><?php echo $_district['name'];?></option>
                                        <?php
                                        endforeach;
                                    endif;
                                    ?>
                                </select>
                            </div>
                
                            <div class="control-group">
                                <label for="district" class="span2">Level</label>
                                <select <?php if ($this->isSales):?> disabled<?php endif;?> id="store_level" name="store_level" class="span3">
                                    <option value="">Choose</option>
                                    <?php
                                    if ($this->loyalty_plan_list) :
                                        foreach ($this->loyalty_plan_list as $key => $value):?>
                                            <option value="<?php echo $key;?>" <?php if (isset($this->params['store_level']) and $this->params['store_level']== $key):?>selected<?php endif;?>><?php echo $value;?></option>
                                        <?php
                                        endforeach;
                                    endif;
                                    ?>
                                </select>
                            </div>
                        </div>
                
                        <div class="span5">
                            <div class="control-group">
                                <label for="date" class="span2">From Date</label>
                                <input type="text" class="form-control search-query date span2" id="from" name="from" value="<?php isset($this->params['from']) and printf($this->params['from']);?>">
                
                            </div>
                            <div class="control-group">
                                <label for="date" class="span2">To Date</label>
                                <input type="text" class="form-control search-query date span2" id="to" name="to" value="<?php isset($this->params['to']) and printf($this->params['to']);?>">
                            </div>
                
                            <div class="control-group">
                                <label for="sales_from" class="span2">Sales >=</label>
                                <input type="number" min="0" value="<?php if (isset($this->params['sales_from'])) echo $this->params['sales_from'];?>" id="sales_from" name="sales_from" />
                            </div>
                
                            <div class="control-group">
                                <label for="sales_to" class="span2">Sales <=</label>
                                <input type="number" min="0" value="<?php if (isset($this->params['sales_to'])) echo $this->params['sales_to'];?>" id="sales_to" name="sales_to" />
                            </div>
                
                        </div>
                    </div>
                
                
                
                    <button type="submit" class="btn btn-primary">Search</button>
                    <button type="reset" class="btn btn-warning">Reset</button>
                
                    <?php if ($this->access('sales-report', $this->action)): ?>
                        <button type="submit" name="export" value="1" formaction="<?php echo HOST ?>sales-report/<?php echo $this->action ?>" class="btn btn-info">Export</button>
                    <?php endif ?>
                </form>
                <script>
                    $(document).ready(function () {
                        $('#area_id').change(function(){
                            $(this).after('<span class="loading"></span>');
                            var _self = $(this);
                            var area_id = $(this).val();
                            $.get("<?php echo HOST ?>staff/load-province",
                                {area_id: area_id}
                                ,function(data,status){
                                    var obj = $.parseJSON( data );
                                    $('#regional_market').find('option:not(:first)').remove();
                                    $('#district').find('option:not(:first)').remove();
                
                                    for (var i = 0; i < obj.length; i++) {
                                        $('#regional_market').append('<option value="'+obj[i]['id']+'">'+obj[i]['name']+'</option>');
                                    }
                                    _self.nextAll('.loading').remove();
                                });
                        });
                
                        $('#regional_market').change(function(){
                            $('form').bind('submit',function(e){e.preventDefault();});
                            $('form button, form input, form select').prop('disabled', true);
                            $('.loading').remove();
                
                            $(this).after('<span class="loading"></span>');
                            var _self = $(this);
                            var region = $(this).val();
                            $.post("<?php echo HOST ?>ajax/get-district-cbb", {
                                    region: region
                                }
                                ,function(data,status){
                                    $('#district').find('option:not(:first)').remove();
                                    
                                    try {
                                        if (data) {
                                            var obj = $.parseJSON( data );
                                            
                                            for (var i = 0; i < obj.length; i++) {
                                                $('#district').append('<option value="'+obj[i]['id']+'">'+obj[i]['name']+'</option>');
                                            }                        
                                        }
                
                                    } catch(err) {
                
                                    } finally {
                                        $('.loading').remove();
                                        $('form').unbind('submit');
                                        $('form button, form input, form select').prop('disabled', false);
                                    }
                                });
                        });
                    });
                </script>
                <!-- end search -->
            </div>
        </div>
    </div>
</div>

<div class="pull-right">
    <strong>Sell Out: <?php echo $this->total_quantity;?> / Activated: <?php echo $this->total_activated ?></strong>
</div>
<div class="clearfix"></div>

<div class="table-responsive load-ajax">
    <table class="table table-bordered" id='bi-table'>
        <thead>
            <tr>
                <?php echo $this->sorting(array(
                    '#',
                        'store_name'            => 'Name',
                        'area_name'             => 'Area',
                        'province_name'         => 'Province',
                        'district_name'         => 'District',
                        'total_quantity'        => 'Sell Out',
                        'total_activated'       => 'Sell Out Activated',
                        'total_value'           => 'Value',
                        'total_value_activated' => 'Value Activated',
                        'sell_out_store'        => 'Sell Out Store',
                        'level'
                ),
            $this->url, $this->current_col, $this->desc); ?>
            </tr>
        </thead>
        <tbody>
            <?php
            if (isset($this->sales) and $this->sales)
                $inc = $this->offset + 1;
                foreach ($this->sales as $sale): ?>
            <tr>
                <td>
                    <?php
                        echo $inc++;
                    ?>
                </td>
                <td><a style="font-weight: normal;" href="<?php echo HOST?>bi/store?distributor_id=<?php echo $sale['store_id'];?>"><?php echo $sale['store_name'];?></a></td>
                <td><?php echo My_Region::getValue($sale['store_district'], My_Region::Area);?></td>
                <td><?php echo My_Region::getValue($sale['store_district'], My_Region::Province);?></td>
                <td><?php echo My_Region::getValue($sale['store_district'], My_Region::District);?></td>
                <td>
                    <?php
                        $from =  (isset($this->params['from']) and $this->params['from']) ? $this->params['from'] : '';
                        $to   = (isset($this->params['to']) and $this->params['to']) ? $this->params['to'] : '';
                    ?>
                    <?php echo !empty($sale['total_quantity']) ? '<span class="badge badge-default" data-from="'.$from.'" data-to="'.$to.'" data-store-id="'.$sale['store_id'].'">'.$sale['total_quantity'].'</span>' : '0' ?></td>
                <td><?php echo !empty($sale['total_activated']) ? $sale['total_activated'] : '0' ?></td>
                <td><?php echo !empty($sale['total_value']) ? My_Number::f($sale['total_value']) : '0' ?></td>
                <td><?php echo !empty($sale['total_value_activated']) ? My_Number::f($sale['total_value_activated']) : '0' ?></td>
                <td><?php echo !empty($sale['sell_out_store']) ? My_Number::f($sale['sell_out_store']) : '0' ?></td>
                <td><?php echo $sale['store_level']; ?></td>
            </tr>
            <?php endforeach;?>

        </tbody>
    </table>
</div>

<div id="wrap_more_info">

</div>

<div class="paging">
    <?php echo $this->paging($this->total, $this->limit, $this->offset, $this->url);?>
</div>
<div id="modal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">

</div>

<script type="text/javascript" src="/js/jquery-ui-1.8.12.custom.min.js"></script>
<link rel="stylesheet" type="text/css" href="/css/jquery-ui-1.8.12.custom.css"/>
<script src="/public/js/jquery.blockUI.js"></script>

<script>
    $(document).ready(function () {
        $( '.date' ).datepicker({ dateFormat: "dd/mm/yy" });

        $('.form-search button:reset').click(function (e){
            $('.form-search input, .form-search select').val('');
            $('.form-search').submit();
            return false;
        });

        $('.view_dealer_imei').click(function() {
            $self = $(this);
            id = $self.data('id');
            from = $self.data('from');
            to = $self.data('to');

            loc = '<?php echo HOST ?>timing/analytics-dealer-details?from='+from+'&to='+to+'&dealer_id='+id;
            window.open(loc, '_blank');
        });

        show_model();
    });

    $(document).ajaxStart($.blockUI).ajaxStop($.unblockUI);
    function show_model(){
        var area = "<?php echo (isset($this->params['area']) and $this->params['area']) ? $this->params['area'] :  0;?>";
        $('.badge.badge-default').click(function(){
            var distributor_id = $(this).attr('data-store-id');
            var from = $(this).attr('data-from');
            var to = $(this).attr('data-to');
            $.ajax({
                type: 'get',
                url: '/timing/show-model',
                data: {'distributor_id':distributor_id,'from':from,'to':to,type: 'distributor','area':area},
                success: function(data){
                    $("#wrap_more_info").html(data);
                },
                error:function(){
                    alert('load data error');
                }
            })
        });
    }
</script>
<?php echo $this->load('combobox');?>

<script>
// Build the chart trade
$('#area_sellout').highcharts({
    chart: {
        type: 'column',
        marginLeft: 40,
        marginRight: 20
    },
    title: {
        text: 'Sell out 3 thÃ¡ng gáº§n nháº¥t'
    },
    xAxis: {
        categories: ['ThÃ¡ng <?php echo $this->list_month[0];?>','ThÃ¡ng <?php echo $this->list_month[1];?>', 'ThÃ¡ng <?php echo $this->list_month[2];?>', 'ThÃ¡ng <?php echo $this->list_month[3];?>']
    },
    yAxis: {
        min: 0,
        title: {
            text: 'chiáº¿c',
            "textAlign": 'right',
            "rotation": 0,
            x: 35,
            y: -150
        },
        stackLabels: {
            enabled: true,
            style: {
                fontWeight: 'bold',
                color: (Highcharts.theme && Highcharts.theme.textColor) || 'gray'
            }
        }
    },
    legend: {
        align: 'center',
        x: -30,
        verticalAlign: 'bottom',
        y: 20,
        floating: true,
        backgroundColor: (Highcharts.theme && Highcharts.theme.background2) || 'white',
        borderColor: 'none',
        borderWidth: 1,
        shadow: false
    },
    tooltip: {
        headerFormat: '<b>{point.x}</b><br/>',
        pointFormat: '{series.name}: {point.y}<br/>Total: {point.stackTotal}'
    },
    plotOptions: {
        column: {
            stacking: 'normal',
            dataLabels: {
                enabled: false,
                color: (Highcharts.theme && Highcharts.theme.dataLabelsColor) || 'white',
                style: {
                    textShadow: '0 0 3px black'
                }
            }
        }
    },
    exporting: {
        buttons: [
            {
                enabled: false,
            }
        ]
    },
    series: [{
        name: 'chi?c',
        yAxis: 0,
        data: [<?php if(isset($this->list_sell_out) and $this->list_sell_out){echo $this->list_sell_out;}?>],
        stack: 'male'
    }],
    exporting: {
        buttons: [
            {
                symbol: 'diamond',
                x: 2,
                symbolFill: '#B5C9DF',
                hoverSymbolFill: '#779ABF',
                _titleKey: 'a',
                onclick: function() {
                    $('#area_sellout').hide("slow");
                    $('#area_doanhthu').show("slow");
                }
            }
        ]
    },
});

$('#area_doanhthu').highcharts({
    chart: {
        type: 'column',
        marginLeft: 40,
        marginRight: 20
    },
    title: {
        text: 'Doanh thu 3 tháng gần nhất'
    },
    xAxis: {
        categories: ['ThÃ¡ng <?php echo $this->list_month[0];?>','ThÃ¡ng <?php echo $this->list_month[1];?>', 'ThÃ¡ng <?php echo $this->list_month[2];?>', 'ThÃ¡ng <?php echo $this->list_month[3];?>']
    },
    yAxis: {
        min: 0,
        title: {
            text: 'chiáº¿c',
            "textAlign": 'right',
            "rotation": 0,
            x: 35,
            y: -150
        },
        stackLabels: {
            enabled: true,
            style: {
                fontWeight: 'bold',
                color: (Highcharts.theme && Highcharts.theme.textColor) || 'gray'
            }
        }
    },
    legend: {
        align: 'center',
        x: -30,
        verticalAlign: 'bottom',
        y: 20,
        floating: true,
        backgroundColor: (Highcharts.theme && Highcharts.theme.background2) || 'white',
        borderColor: 'none',
        borderWidth: 1,
        shadow: false
    },
    tooltip: {
        headerFormat: '<b>{point.x}</b><br/>',
        pointFormat: '{series.name}: {point.y}<br/>Total: {point.stackTotal}'
    },
    plotOptions: {
        column: {
            stacking: 'normal',
            dataLabels: {
                enabled: false,
                color: (Highcharts.theme && Highcharts.theme.dataLabelsColor) || 'white',
                style: {
                    textShadow: '0 0 3px black'
                }
            }
        }
    },
    exporting: {
        buttons: [
            {
                enabled: false,
            }
        ]
    },
    series: [{
        name: 'chiếc',
        yAxis: 0,
        data: [<?php if(isset($this->list_doanhthu) and $this->list_doanhthu){echo $this->list_doanhthu;}?>],
        stack: 'male'
    }],
    exporting: {
        buttons: [
            {
                symbol: 'diamond',
                x: 2,
                symbolFill: '#B5C9DF',
                hoverSymbolFill: '#779ABF',
                _titleKey: 'a',
                onclick: function() {
                    $('#area_sellout').show("slow");
                    $('#area_doanhthu').hide("slow");
                }
            }
        ]
    },
});


// Build the chart trade
$('#area_trade').highcharts({
    chart: {
        type: 'column',
        marginLeft: 40,
        marginRight: 20
    },
    title: {
        text: 'Tá»•ng Ä‘áº§u tÆ° 3 thÃ¡ng gáº§n nháº¥t'
    },
    xAxis: {
        categories: ['ThÃ¡ng <?php echo $this->list_month[0];?>','ThÃ¡ng <?php echo $this->list_month[1];?>', 'ThÃ¡ng <?php echo $this->list_month[2];?>', 'ThÃ¡ng <?php echo $this->list_month[3];?>']
    },
    yAxis: {
        min: 0,
        title: {
            text: 'vnÄ‘',
            "textAlign": 'right',
            "rotation": 0,
            x: 35,
            y: -150
        },
        stackLabels: {
            enabled: true,
            style: {
                fontWeight: 'bold',
                color: (Highcharts.theme && Highcharts.theme.textColor) || 'gray'
            }
        }
    },
    legend: {
        align: 'center',
        x: -30,
        verticalAlign: 'bottom',
        y: 20,
        floating: true,
        backgroundColor: (Highcharts.theme && Highcharts.theme.background2) || 'white',
        borderColor: 'none',
        borderWidth: 1,
        shadow: false
    },
    tooltip: {
        headerFormat: '<b>{point.x}</b><br/>',
        pointFormat: '{series.name}: {point.y}<br/>Total: {point.stackTotal}'
    },
    plotOptions: {
        column: {
            stacking: 'normal',
            dataLabels: {
                enabled: false,
                color: (Highcharts.theme && Highcharts.theme.dataLabelsColor) || 'white',
                style: {
                    textShadow: '0 0 3px black'
                }
            }
        }
    },
    exporting: {
        buttons: [
            {
                enabled: false,
            }
        ]
    },
    series: [{
        name: 'Vnd',
        yAxis: 0,
        data: [40,58,50,66],
        stack: 'male',
        color: '#28B779'
    }]
});

</script>
















