
<style>
    .table_count{overflow-x: scroll;}
</style>

<div class="page-header" style="margin: 18px 0 -10px 0;border-bottom: none;">
    <h1>Dashboard</h1>
</div>

<div class="main">
    <div class="container-fluid">    


        <div class="row">
            <div class="table_main">
                <div class="header_tad"><i class="icon-list-alt"></i> SALE</div>
                <div class="content_tad">
                    <div class="menu_sale">
                        <!-- <a href="<?php echo HOST; ?>bi/dealer"><div class="row_tad">Đại lý</div></a> -->
                        <a  href="<?php echo HOST; ?>timing/analytics-ka"><div class="row_tad">Đại lý</div></a>
                    </div>

                    <div class="dim">
                    </div>    

                    <div class="menu_type_char">
                        <span class="menu_btn"><i class="icon-tasks"></i></span>
                        <ul>
                            <li char='container'>Sell out 6 tháng gần nhất</li>
                            <li char='doanhthu'>Doanh thu 6 tháng gần nhất (80%)</li>
                            <li char='sellout_ka_ia'>Sell out IA/KA</li>
                            <li char='doanhthu_ka_ia'>Doanh thu IA/KA (80%)</li>
                        </ul>
                    </div>

                    <div id="test" style="width: auto;height: auto; margin: 0 auto;"></div>
                    <div id="container" style="width: auto;height: auto; margin: 0 auto;"></div>
                    <div id="doanhthu" style="width: 100%;height: auto; margin: 0 auto;"></div>
                    <div id="sellout_ka_ia" style="width: 100%;height: auto; margin: 0 auto;"></div>
                    <div id="doanhthu_ka_ia" style="width: 100%;height: auto; margin: 0 auto;"></div>
                    <div id="container_temp" style="width: auto;height: auto; margin: 0 auto;opacity: 0.0;height: 1px"></div>

                    <div class="wrap_sellout_diamond">

                        <div class='first_column'>
                            <span>Rank.IND</span>
                            <span>Tháng</span>
                            <span>Shop</span>
                            <span>PGPB</span>
                            <span style="line-height: 19px;height: 19px;">
                                <?php if ($this->access('bi', 'list-rank-area')): ?>
                                    <a href="<?php echo HOST; ?>bi/list-rank-area" class="label label-info" style="float:center">Khu vực: <i class="icon-hand-right"></i></a>
                                <?php endif; ?>
                            </span>
                        </div>

                    </div><!-- wrap_sellout_diamond-->

                </div>
            </div><!-- table_main-->
        </div><!-- span6 -->
        
        <?php if($_GET['dev'] != 1):?>
        <div class="row">
            <div class="table_main">

                <div class="header_tad"><i class="icon-list-alt"></i> NHÂN SỰ</div>
                <div class="content_tad">
                    <div class='content_content'>
                        <div class="menu_sale">
                            <!--
                            <a><div class="row_tad">Nghỉ việc</div></a>
                            <a><div class="row_tad">Độ tuổi</div></a>
                            <a><div class="row_tad">Thâm niên</div></a>
                            -->
                        </div>

                        <div class="content_tad_tad" id='tad_hr'>
                            <div class="ro"><div class="row1">Total:</div> <div class="row2"><?php echo $this->staff[0]['total']; ?></div></div>

                            <?php
                            $order = $order - $value['num'];

                            $list_char_hr .= "{name:'" . $value['name'] . "',y:" . $value['num'] . ",color:'" . $list_color[$key] . "'},";

                            $link = null;

                            if ($value['title'] == SALE_SALE_ASM OR $value['title'] == 308) {
                                if ($this->access('bi', 'asm')) {
                                    if (count($this->params['area_list']) != 1) {
                                        $link = HOST . 'bi/asm?title=' . $value['title'];
                                    }
                                }
                            } elseif ($value['title'] == SALES_LEADER_TITLE) {
                                $link = HOST . 'bi/analytics-leader?title=' . SALES_LEADER_TITLE;
                            } elseif ($value['title'] == TRAINER_TITLE_ID) {
                                $link = HOST . 'bi/trainer-list';
                            } else {
                                $link = HOST . 'bi/analytics?title[]=' . $value['title'];
                            }
                            ?>

                            <?php if (isset($this->staff_title[LEADER_TITLE]) and $this->staff_title[LEADER_TITLE]): ?>
                                <?php $link = HOST . 'bi/analytics-leader?title=' . LEADER_TITLE; ?>
                                <a class="ro"><div class="row1"> SALES LEADER:</div> <div class="row2"> <?php echo $this->staff_title[LEADER_TITLE]; ?></div></a>
                            <?php endif; ?>

                            <?php if (isset($this->staff_title[SALES_TITLE]) and $this->staff_title[SALES_TITLE]): ?>    
                                <?php $link = HOST . 'bi/analytics?title[]=' . SALES_TITLE; ?>
                                <a class="ro"><div class="row1"> SALES:</div> <div class="row2"> <?php echo $this->staff_title[SALES_TITLE]; ?></div></a>
                            <?php endif; ?>

                            <?php if (isset($this->staff_title[SALES_TRAINEE_TITLE]) and $this->staff_title[SALES_TRAINEE_TITLE]): ?>
                                <a class="ro"><div class="row1"> SALES TRAINEE:</div> <div class="row2"> <?php echo $this->staff_title[SALES_TRAINEE_TITLE]; ?></div></a>
                            <?php endif; ?>

                            <?php if (isset($this->staff_title[PB_SALES_TITLE]) and $this->staff_title[PB_SALES_TITLE]): ?>
                                <?php $link = HOST . 'bi/analytics?title[]=' . PB_SALES_TITLE; ?>
                                <a class="ro"><div class="row1"> PB-SALES:</div> <div class="row2"> <?php echo $this->staff_title[PB_SALES_TITLE]; ?></div></a>
                            <?php endif; ?>

                            <?php if (isset($this->staff_title[CHUYEN_VIEN_BAN_HANG_TITLE]) and $this->staff_title[CHUYEN_VIEN_BAN_HANG_TITLE]): ?>
                                <?php $link = HOST . 'bi/analytics?title[]=' . CHUYEN_VIEN_BAN_HANG_TITLE; ?>
                                <a class="ro"><div class="row1"> SENIOR PROMOTER:</div> <div class="row2"> <?php echo $this->staff_title[CHUYEN_VIEN_BAN_HANG_TITLE]; ?></div></a>
                            <?php endif; ?>

                            <?php if (isset($this->staff_title[PGPB_TITLE]) and $this->staff_title[PGPB_TITLE]): ?>
                                <?php $link = HOST . 'bi/analytics?title[]=' . PGPB_TITLE; ?>
                                <a class="ro"><div class="row1"> PGPB:</div> <div class="row2"> <?php echo $this->staff_title[PGPB_TITLE]; ?></div></a>
                            <?php endif; ?>
                        </div>

                        <div class="content_tad_tad hr_chart" style='float: right;'>
                            <table class="table table_hr">
                                <tr>
                                    <th>Channel</th>
                                    <th>Store</th>
                                    <th>Sale</th>
                                    <th>PGPB</th>
                                </tr>
<?php foreach ($this->name_chart_sales_channel as $key => $value): ?>
    <?php if ($key != 888): ?>
                                        <tr>
                                            <td><?php echo $value; ?></td>
                                            <td><?php echo $this->store_channel[$key] ? $this->store_channel[$key] : 0; ?></td>
                                            <td><?php echo $this->sales_channel[$key]['sale'] ? $this->sales_channel[$key]['sale'] : 0; ?></td>
                                            <td><?php echo $this->sales_channel[$key]['pgpb'] ? $this->sales_channel[$key]['pgpb'] : 0; ?></td>
                                        </tr>
    <?php endif; ?>
<?php endforeach; ?>
                            </table>
                        </div>

                        <table class="table table_hr">
                            <tr>
                                <th rowspan="2">
<?php if (count($this->params['area_list']) != 1): ?>
                                        <a href="<?php echo HOST; ?>bi/hr-pgpb-sale-area" class="label label-info" style="float:center">Khu vực: <i class="icon-hand-right"></i></a>
<?php endif; ?>
                                </th>
<?php foreach ($this->list_date as $key => $value): ?>
                                    <th colspan="2">Tháng <?php echo intval(date('m', strtotime($value))); ?></th>
                                    <?php endforeach; ?>
                            </tr>

                            <tr>
                                <?php foreach ($this->list_date as $key => $value): ?>
                                    <th>PGPB</th>
                                    <th>Sale</th>
<?php endforeach; ?>
                            </tr>

                            <tr>
                                <td>Tổng số</td>
                                <?php foreach ($this->list_date as $key => $value): ?>
                                    <?php $m = intval(date('m', strtotime($value))); ?>
    <?php $y = intval(date('Y', strtotime($value))); ?>
                                    <td><?php echo $this->data_pgpb_sale[$y][$m]['PG']['totalEmp']; ?></td>
                                    <td><?php echo $this->data_pgpb_sale[$y][$m]['SALE']['totalEmp']; ?></td>
                                <?php endforeach; ?>
                            </tr>

                            <tr>
                                <td>S.O bình quân</td>
                                <?php foreach ($this->list_date as $key => $value): ?>
                                    <?php $m = intval(date('m', strtotime($value))); ?>
    <?php $y = intval(date('Y', strtotime($value))); ?>

    <?php $sum_pg = $this->avg_sale_pg[$m][$y]['sum_pg'] ? $this->avg_sale_pg[$m][$y]['sum_pg'] : 0; ?>
                                    <?php $sum_sale = $this->avg_sale_pg[$m][$y]['sum_sale'] ? $this->avg_sale_pg[$m][$y]['sum_sale'] : 0; ?>
                                    <?php $sum_pb_sale = $this->avg_sale_pg[$m][$y]['sum_pb_sale'] ? $this->avg_sale_pg[$m][$y]['sum_pb_sale'] : 0; ?>

                                    <?php $pg_avg = $this->data_pgpb_sale[$y][$m]['PG']['totalEmp'] ? $this->data_pgpb_sale[$y][$m]['PG']['totalEmp'] : 0; ?>
                                    <?php $sale_avg = $this->data_pgpb_sale[$y][$m]['SALE']['totalEmp'] ? $this->data_pgpb_sale[$y][$m]['SALE']['totalEmp'] : 0; ?>

                                    <td><?php echo number_format($sum_pg / $pg_avg, 0, '.', ''); ?></td>
                                    <td><?php echo number_format(($sum_sale + $sum_pb_sale) / $sale_avg, 0, '.', ''); ?></td>
                                <?php endforeach; ?>
                            </tr>

                            <tr>
                                <td>Tuyển thêm</td>
                                <?php foreach ($this->list_date as $key => $value): ?>
                                    <?php $m = intval(date('m', strtotime($value))); ?>
    <?php $y = intval(date('Y', strtotime($value))); ?>
                                    <td><?php echo $this->data_pgpb_sale[$y][$m]['PG']['Working']; ?><br> <span>(<?php echo number_format(($this->data_pgpb_sale[$y][$m]['PG']['Per_Working']) * 100); ?>%)</span></td>
                                    <td><?php echo $this->data_pgpb_sale[$y][$m]['SALE']['Working']; ?><br> <span>(<?php echo number_format(($this->data_pgpb_sale[$y][$m]['SALE']['Per_Working']) * 100); ?>%)</span></td>
                                <?php endforeach; ?>
                            </tr>

                            <tr>
                                <td>Thôi việc</td>
                                <?php foreach ($this->list_date as $key => $value): ?>
                                    <?php $m = intval(date('m', strtotime($value))); ?>
    <?php $y = intval(date('Y', strtotime($value))); ?>
                                    <td><?php echo $this->data_pgpb_sale[$y][$m]['PG']['Off']; ?><br> <span>(<?php echo number_format(($this->data_pgpb_sale[$y][$m]['PG']['Per_Off']) * 100); ?>%)</span></td>
                                    <td><?php echo $this->data_pgpb_sale[$y][$m]['SALE']['Off']; ?><br> <span>(<?php echo number_format(($this->data_pgpb_sale[$y][$m]['SALE']['Per_Off']) * 100); ?>%)</span></td>
                                <?php endforeach; ?>
                            </tr>

                        </table>
                    </div><!-- content-content-->
                </div><!-- content_tad-->
            </div><!-- table_main-->
        </div><!-- span6-->
        <?php endif;?>


    </div>
</div>

<script>

    $(function () {

    $('#container_temp').highcharts({
    chart: {
    type: 'column',
            marginLeft: 10,
            marginRight: 10
    },
            xAxis: {
            categories: [
<?php
foreach ($this->list_date as $key => $value) {
    echo "'Tháng " . intval(date('m', strtotime($value))) . "',";
}
?>
            ]
            },
            yAxis: {
            min: 0,
                    title: {
                    text: 'Chiếc',
                            "textAlign": 'right',
                            "rotation": 0,
                            x: 35,
                            y: - 170
                    },
                    stackLabels: {
                    enabled: true,
                            style: {
                            fontWeight: 'bold',
                                    color: (Highcharts.theme && Highcharts.theme.textColor) || '#000',
                                    fontSize: '10px'
                            },
                    }
            },
            series: [{
            name: 'TGDĐ',
                    yAxis: 0,
                    data: [
                            94583, 133139, 0, 0, ],
                    stack: 'male'
            }]
    });
    $a = $('g.highcharts-series-0').get(0).getBBox().width;
    var width_chart = - (($a / 3) - 7);
    Highcharts.setOptions({
    lang: {
    decimalPoint: ',',
            thousandsSep: '.'
    }
    });
    $('#container').highcharts({
    chart: {
    marginBottom: 100,
    type: 'column',
            marginLeft: 10,
            marginRight: 10,
    },
            title: {
            text: 'Sell out 6 tháng gần nhất',
                    style:{
                    color: '#008B56',
                            fontSize: '16px'
                    }
            },
            xAxis: {
            categories: [
<?php
foreach ($this->list_date as $key => $value) {
    echo "'Tháng " . intval(date('m', strtotime($value))) . "',";
}
?>
            ],
            },

            yAxis: {
            min: 0,
                    title: {
                    text: '',
                            "textAlign": 'right',
                            "rotation": 0,
                            x: 35,
                            y: - 170
                    },
                    stackLabels: {
                    enabled: true,
                            style: {
                            fontWeight: 'bold',
                                    color: (Highcharts.theme && Highcharts.theme.textColor) || '#000',
                                    fontSize: '10px'
                            },
                    }
            },
            legend: {
                // enabled: $(window).width() > 480 ? true : false,
                align: 'center',
                x: - 30,
                verticalAlign: 'bottom',
                y: 20,
                //floating: true,
                backgroundColor: (Highcharts.theme && Highcharts.theme.background2) || 'white',
                borderColor: 'none',
                borderWidth: 1,
                shadow: false
            },
            tooltip: {
                headerFormat: '<b>{point.x}</b><br/>',
                pointFormat: '{series.name}: <b>{point.y}</b> ({point.percentage:.2f}%)<br/>'
            },
            plotOptions: {
            column: {
            stacking: 'normal',
                    dataLabels: {
                        enabled: true,
                        style:{
                            color: '#000',
                            fontSize: '11px',
                            fontWeight: 'bold',
                            textOutline: false,
                        }
                    }
            },
                    line: {
                    dataLabels: {
                    enabled: true,
                            backgroundColor: 'white',
                            borderColor: "#f9bebe",
                            borderWidth: 1,
                            padding: 2,
                            color: (Highcharts.theme && Highcharts.theme.dataLabelsColor) || 'red',
                            style: {
                            fontSize: '9px'
                            },
                    }
                    }
            },
            exporting: {
            buttons: [
            {
            enabled: false,
            }
            ]
            },
            series: [
<?php foreach ($this->name_chart as $k => $v): ?>
                {
                name: '<?php echo $v; ?>',
                        yAxis: 0,
                        data: [
    <?php
    foreach ($this->list_date as $key => $value) {
        $m = intval(date('m', strtotime($value)));
        $tgdd = (isset($this->data_sellout_dealer[$k][$m]['num']) and $this->data_sellout_dealer[$k][$m]['num']) ? $this->data_sellout_dealer[$k][$m]['num'] : 0;
        echo $tgdd . ",";
    }
    ?>
                        ],
                        stack: 'male'
                },
<?php endforeach; ?>
            ]
    });
    $('#doanhthu').highcharts({
    chart: {
        marginBottom: 100,
    type: 'column',
            marginLeft: 10,
            marginRight: 10
    },
            title: {
            text: 'Doanh thu 6 tháng gần nhất',
                    style:{
                    color: '#008B56',
                            fontSize: '16px'
                    }
            },
            xAxis: {
            categories: [<?php
foreach ($this->list_date as $key => $value) {
    echo "'Tháng " . intval(date('m', strtotime($value))) . "',";
}
?>]
            },
            yAxis: {
            min: 0,
                    title: {
                    text: '',
                            "textAlign": 'right',
                            "rotation": 0,
                            x: 40,
                            y: - 170
                    },
                    stackLabels: {
                    enabled: true,
                            style: {
                            fontWeight: 'bold',
                                    color: (Highcharts.theme && Highcharts.theme.textColor) || '#000',
                                    fontSize: '10px'
                            }
                    }
            },
            legend: {
            align: 'center',
                    x: - 30,
                    verticalAlign: 'bottom',
                    y: 20,
                    floating: true,
                    backgroundColor: (Highcharts.theme && Highcharts.theme.background2) || 'white',
                    borderColor: 'none',
                    borderWidth: 1,
                    shadow: false
            },
            tooltip: {
            headerFormat: '<b>{point.x}</b><br/>',
                    pointFormat: '{series.name}: <b>{point.y}</b> ({point.percentage:.2f}%)<br/>'
            },
            plotOptions: {
            column: {
            stacking: 'normal',
                    dataLabels: {
                    enabled: true,
                            color: (Highcharts.theme && Highcharts.theme.dataLabelsColor) || 'white',
                            style:{
                                color: '#000',
                                fontSize: '11px',
                                fontWeight: 'bold',
                                textOutline: false,
                            }
                    }
            },
                    line: {
                    dataLabels: {
                    enabled: true,
                            backgroundColor: 'white',
                            borderColor: "#f9bebe",
                            borderWidth: 1,
                            padding: 2,
                            color: (Highcharts.theme && Highcharts.theme.dataLabelsColor) || 'red',
                            style: {
                            fontSize: '9px'
                            },
                    }
                    }
            },
            exporting: {
            buttons: [
            {
            enabled: false,
            }
            ]
            },
            series: [
<?php foreach ($this->name_chart as $k => $v): ?>
                {
                name: '<?php echo $v; ?>',
                        yAxis: 0,
                        data: [
    <?php
    foreach ($this->list_date as $key => $value) {
        $m = intval(date('m', strtotime($value)));
        $tgdd = (isset($this->data_sellout_dealer[$k][$m]['total_value_100']) and $this->data_sellout_dealer[$k][$m]['total_value_100']) ? $this->data_sellout_dealer[$k][$m]['total_value_100'] : 0;
        echo $tgdd . ",";
    }
    ?>
                        ],
                        stack: 'male'
                },
<?php endforeach; ?>
            ]
    });

    $('#sellout_ka_ia').highcharts({
    chart: {
    type: 'column',
            marginLeft: 45,
            marginRight: 10,
            x: 60,
    },
            title: {
            text: 'Sellout các kênh 6 tháng gần nhất',
                    style:{
                    color: '#008B56',
                            fontSize: '16px'
                    }
            },
            xAxis: {
            categories: [
<?php
foreach ($this->list_date as $key => $value) {
    echo "'Tháng " . intval(date('m', strtotime($value))) . "',";
}
?>
            ],
            },
            yAxis: {
            min: 0,
                    title: {
                    text: 'Chiếc',
                            "textAlign": 'right',
                            "rotation": 0,
                            x: 43,
                            y: - 160
                    },
                    stackLabels: {
                    enabled: true,
                            style:{
                                color: '#000',
                                fontSize: '11px',
                                fontWeight: 'bold',
                                textOutline: false,
                            }
                    }
            },
            legend:{
            itemStyle: {
            fontSize:'10px'
            },
                    align: 'center',
                    verticalAlign:'bottom'
            },
            tooltip: {
            headerFormat: '<b>{point.x}</b><br/>',
                    pointFormat: '{series.name}: {point.y}<br/>Total: {point.stackTotal}'
            },
            plotOptions: {
            series: {
                pointWidth: 22
            },
            column: {
            stacking: 'normal',
                    dataLabels: {
                    enabled: false,
                            color: (Highcharts.theme && Highcharts.theme.dataLabelsColor) || 'white',
                            style: {
                            textShadow: '0 0 3px black'
                            }
                    }
            }
            },
            exporting: {
            buttons: [
            {
            enabled: false,
            }
            ]
            },
            series: [
<?php foreach ($this->name_chart as $keys => $value): ?>
                {
                name: '<?php echo $value; ?>',
                        yAxis: 0,
                        data: [
    <?php
    foreach ($this->list_date as $k => $v):
        $m = intval(date('m', strtotime($v)));
        $num = (isset($this->data_sellout_dealer[$keys][$m]['num']) and $this->data_sellout_dealer[$keys][$m]['num']) ? $this->data_sellout_dealer[$keys][$m]['num'] : 0;
        echo $num . ",";
    endforeach;
    ?>
                        ],
                        stack: <?php echo $keys; ?>,
                        //pointWidth: $(window).width()>480 ? 10 : 10,
                        //groupPadding: 0,
                },
<?php endforeach; ?>
            ]

    });
    $('#doanhthu_ka_ia').highcharts({
    chart: {
    type: 'column',
            marginLeft: 45,
            marginRight: 10
    },
            title: {
            text: 'Doanh thu các kênh 6 tháng gần nhất',
                    style:{
                    color: '#008B56',
                            fontSize: '16px'
                    }
            },
            xAxis: {
            categories: [
<?php
foreach ($this->list_date as $key => $value) {
    echo "'Tháng " . intval(date('m', strtotime($value))) . "',";
}
?>
            ],
            },
            yAxis: {
            min: 0,
                    title: {
                    text: 'Vnđ',
                            "textAlign": 'right',
                            "rotation": 0,
                            x: 41,
                            y: - 155
                    },
                    stackLabels: {
                    enabled: true,
                            style: {
                            fontWeight: 'bold',
                                    color: (Highcharts.theme && Highcharts.theme.textColor) || 'gray'
                            }
                    }
            },
            legend:{
            itemStyle: {
            fontSize:'10px'
            },
                    align: 'center',
                    verticalAlign:'bottom'
            },
            tooltip: {
            headerFormat: '<b>{point.x}</b><br/>',
                    pointFormat: '{series.name}: {point.y}<br/>Total: {point.stackTotal}'
            },
            plotOptions: {
            series: {
                pointWidth: 22
            },
            column: {
            stacking: 'normal',
                    dataLabels: {
                    enabled: false,
                            color: (Highcharts.theme && Highcharts.theme.dataLabelsColor) || 'white',
                            style:{
                                color: '#000',
                                fontSize: '11px',
                                fontWeight: 'bold',
                                textOutline: false,
                            }
                    }
            }
            },
            exporting: {
            buttons: [
            {
            enabled: false,
            }
            ]
            },
            series: [
<?php foreach ($this->name_chart as $keys => $value): ?>
                {
                name: '<?php echo $value; ?>',
                        yAxis: 0,
                        data: [
    <?php
    foreach ($this->list_date as $k => $v):
        $m = intval(date('m', strtotime($v)));
        $total_value = (isset($this->data_sellout_dealer[$keys][$m]['total_value']) and $this->data_sellout_dealer[$keys][$m]['total_value']) ? $this->data_sellout_dealer[$keys][$m]['total_value'] : 0;
        echo $total_value . ",";
    endforeach;
    ?>
                        ],
                        stack: <?php echo $keys; ?>,
                        //pointWidth: $(window).width()>480 ? 10 : 10,
                        //groupPadding: 0,
                },
<?php endforeach; ?>
            ]

    });
    $('#sellout_by_model2').highcharts({
    chart: {
    renderTo: 'container',
            type: 'column',
            marginLeft: 10,
            marginRight: 10,
    },
            xAxis: {
            categories: [
<?php
foreach ($this->list_date as $key => $value) {
    echo "'Tháng " . intval(date('m', strtotime($value))) . "',";
}
?>
            ],
            },
            plotOptions: {
            column: {
            stacking: 'normal'
            }
            },
            series: [
                    // first stack
<?php foreach ($this->name_chart as $key => $value): ?>
    <?php foreach ($this->good_ka_top as $k => $v): ?>
                    {
                    name: '<?php echo!empty($this->good[$v['good_id']]) ? $this->good[$v['good_id']] : 'NULL'; ?>',
                            data: [
        <?php foreach ($this->list_date as $i => $j): ?>
            <?php $month = intval(date('m', strtotime($j))); ?>
            <?php $so = !empty($this->good_channel_month[$v['good_id']][$key][$month]['sellout']) ? $this->good_channel_month[$v['good_id']][$key][$month]['sellout'] : 0; ?>
                                [<?php echo $so; ?>],
        <?php endforeach; ?>
                            ],
                            stack: <?php echo $key; ?>
                    },
    <?php endforeach; ?>
                // second stack 
<?php endforeach; ?>
            ],
            exporting: {
            buttons: [
            {
            enabled: false,
            }
            ]
            },
    });
    var ugly = [
    <?php foreach ($this->name_chart as $key => $value): ?>
    '<?php echo $value;?>',
    <?php endforeach;?>
    ];
    
    var cats = ugly;
    
    <?php foreach ($this->list_date as $key => $value):?>
    <?php if($key > 0):?>
    cats = cats.concat(ugly);
    <?php endif;?>
    <?php endforeach;?>
    


    });
</script>

<script>

    $(function () {

    hide_char();
    $('.menu_btn').on('click', function(){
    if ($('.menu_type_char ul').css('display') == 'none')
    {
    $('.menu_type_char ul').show();
    }
    else{
    $('.menu_type_char ul').hide();
    }
    });
    $('.menu_type_char ul li').on('click', function(){

    var attr = $(this).attr('char');
    if (typeof attr !== typeof undefined && attr !== false) {
    $(".menu_type_char ul li").each(function(){
    var char_ = $(this).attr('char');
    $('#' + char_).hide();
    $(this).closest('ul').hide();
    });
    var char_this = $(this).attr('char');
    $('#' + char_this).show();
    } else{
    $('.menu_type_char ul').hide();
    }

    });
    });
    function hide_char(){
    $(".menu_type_char ul li").each(function(){
    var char_ = $(this).attr('char');
    $('#' + char_).hide();
    $(this).closest('ul').hide();
    });
    $('#container').show();
    }

</script>
