
<style type="text/css">
    .content_tad{padding: 10px;margin-top: -20px;}
    .content_tad table{width: 100%; margin: 20px 0px; text-align: center;}
    .content_tad table th{background: #00BA8B !important; color:#FFF;padding: 5px 0px;border: 1px solid #ffffff !important;    border-bottom: 2px solid #FFF !Important;}
    .content_tad table tr td{border: 1px solid #ffffff !important; text-align: center;}
    .content_tad table tr:nth-child(2n){background: #CEDFD5 !important; color:#000;padding: 5px 0px;}
    .content_tad table tr:nth-child(3n){background: #E8F0EB !important; color:#000;padding: 5px 0px}

    .content_tad table span{font-size: 10px}

    .hr .header_tad{font-size: 18px;color: #008B56;font-weight: bold;height: 45px;line-height: 44px;}
  
</style>

<div class="page-header" style="margin: 18px 0 -10px 0;border-bottom: none;">
    <h1>Kết quả Training Online</h1>
</div>

<div class="main hr">
    <div class="container-fluid">    

        <div class="row">
            <div class="table_main" style="height:auto">
                <div class="header_tad"><i class="icon-list-alt"></i> <?php echo $this->list_area[0]['title'];?></div>


                <div class="content_tad">
                    <div id = 'turnover_pass_probation1'>
                    
                    <!-- ------------------------------------------>

                    <style>
                        .modal table tr td.span1{
                            min-width: 100px!important;
                        }
                    </style>
                    <table class="table table-bordered">
                        <thead>
                            <tr>
                                <?php echo $this->sorting(array(
                            '#',
                            'Khu Vực',
                            'Tổng số',
                            'Fail',
                            'Pass',
                            '% Fail',
                            '% Pass'
                        ),
                        $this->url, $this->sort, $this->desc); ?>
                    </tr>
                    </thead>
                    <tbody>
                        
                    <?php 
                        $total_ = 0;
                        $total_fail = 0;
                        $total_pass = 0;
                    ?>
                        
                    <?php
                    $html_build_query = http_build_query($this->params);
                    if (isset($this->list_area) and $this->list_area): ?>
                        <?php foreach ($this->list_area as $k=>$area): ?>
                        <?php 
                            $total_ += $area['total'] ? $area['total'] : 0;
                            $total_fail += $area['fail'] ? $area['fail'] : 0;
                            $total_pass += $area['pass'] ? $area['pass'] : 0;
                        ?>
                            <tr>
                                <td>
                                    <?php

                                        $inc = $this->offset + $k + 1;
                                        echo $inc;
                                    ?>
                                </td>
                                <td><?php echo $area['area'];?></td>
                                <td><?php echo $area['total'];?></td>
                                <td><a href="<?php echo HOST;?>bi/list-fail?lesson_id=<?php echo $area['lesson_id'].'&area_id='.$area['area_id'].'&type=fail';?>&<?php echo $html_build_query;?>"><?php echo $area['fail'];?></a></td>
                                <td><a href="<?php echo HOST;?>bi/list-fail?lesson_id=<?php echo $area['lesson_id'].'&area_id='.$area['area_id'].'&type=pass';?>&<?php echo $html_build_query;?>"><?php echo $area['pass'];?></a></td>
                                <td><?php echo number_format(($area['fail']/$area['total'])*100);?> %</td>
                                <td> <?php echo number_format(($area['pass']/$area['total'])*100);?> %</td>
                            </tr>
                        <?php endforeach;?>
                    <?php endif;?>
                            
                            <tr style="color:red">
                                <td colspan="2">Total</td>
                                <td><?php echo $total_;?></td>
                                <td><?php echo $total_fail;?></td>
                                <td><?php echo $total_pass;?></td>
                                <td></td>
                                <td></td>
                            </tr>

                    </tbody>
                    </table>
                    <div class="paging">
                        <?php echo $this->paging($this->total, $this->limit, $this->offset, $this->url);?>
                    </div>

                    <!--- ---------------------------------------->
               
                    </div>

                </div>
            </div>

        </div><!-- row-->

    </div>
</div>

