<style type="text/css" media="screen">
    .joined_at{
        width: 476px;
        height: 100px;
        margin-top: 55px;
        margin-left: 35px;
    }   
    .joined_at input{
        margin-bottom: 15px;
        width: 209px;
        margin-left: -35px;
    }
    #action{
        width:45px;
    }
    #name{
        width: 140px;
    }
</style>
<div class="page-header">
    <h1>List Staff</h1>
</div>
<?php
if (isset($this->messages) and $this->messages)
    foreach ($this->messages as $message):
        echo '<div class="alert alert-success">'.$message.'</div>';
    endforeach;

if (isset($this->messages_error) and $this->messages_error)
    foreach ($this->messages_error as $messages_error):
        echo '<div class="alert alert-danger">'.$messages_error.'</div>';
    endforeach;
?>
<div class="accordion" id="accordion2">
    <div class="accordion-group">
        <div class="accordion-heading">
            <a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion2" href="#collapseTwo">
                Search
            </a>
        </div>
        <div id="collapseTwo" class="accordion-body collapse" style="height: 0px;">
            <div class="accordion-inner">
                <form class="form-search form-horizontal" method="get" action="/bi/list-pg-sellout">
                    <div class="row">
                        <div class="span5">

                            <input type="hidden" name="id" value="<?php echo $this->params['id'];?>">
                            <input type="hidden" name="y" value="<?php echo $this->params['y'];?>">
                            <input type="hidden" name="m" value="<?php echo $this->params['m'];?>">
                            <input type="hidden" name="type_sell" value="<?php echo $this->params['type_sell'];?>">
                            <input type="hidden" class="province_id" name="province_id" value="<?php echo $this->params['province_id'];?>">

                            <div class="control-group">
                                <label for="name" class="span2">Name</label>
                                <input id="name" name="name" type="text" class="input-medium search-query form-control" value="<?php isset($this->params['name']) and printf($this->params['name']);?>">
                            </div>

                            <div class="control-group">
                                <label for="code" class="span2">Staff code</label>
                                <input id="code" name="code" type="text" class="input-large search-query form-control" value="<?php isset($this->params['code']) and printf($this->params['code']);?>">
                            </div>

                            <div class="control-group">
                                <label for="email" class="span2">Email</label>
                                <input id="email" name="email" type="text" class="input-medium search-query form-control" value="<?php isset($this->params['email']) and printf($this->params['email']);?>">
                            </div>
                            <div class="control-group">
                                <label for="joined_at_from" class="span2">Joined At From</label>
                                <input id="joined_at_from" name="from_date" type="text" class="input-large date search-query form-control" value="<?php isset($this->params['from_date']) and printf($this->params['from_date']);?>">
                            </div>
                             <div class="control-group">
                                <label for="joined_at_to" class="span2">Joined At To</label>
                                <input id="joined_at_to" name="to_date" type="text" class="input-large date search-query form-control" value="<?php isset($this->params['to_date']) and printf($this->params['to_date']);?>">
                            </div>
                            
                        </div>
                        <div class="span5">
                            <div class="control-group">
                                <label for="department" class="span2">Khu vực</label>
                               <!--  <input id="name" name="title" type="text" class="input-medium search-query form-control" value=""> -->
                                <select name="area_id" class="area_id">
                                    <option value="">--------Chọn--------</option>
                                    <?php
                                        foreach($this->area as $key => $value)
                                        {
                                    ?>
                                            <option value="<?php echo $key;?>" <?php if(isset($this->params['area_id']) && $this->params['area_id'] ==$key) echo 'selected';?>><?php echo $value;?></option>
                                     <?php
                                        }
                                     ?>
                                </select>
                            </div>
                            <div class="control-group">
                                <label for="department" class="span2">Tỉnh</label>
                               <!--  <input id="name" name="title" type="text" class="input-medium search-query form-control" value=""> -->
                                <select name="province_id" class="province_id">
                                    <option value="">--------Chọn--------</option>
                                    
                                </select>
                            </div>
                             <div class="control-group">
                                <label for="department" class="span2">Title</label>
                               <!--  <input id="name" name="title" type="text" class="input-medium search-query form-control" value="<?php isset($this->params['title']) and printf($this->params['title']);?>"> -->
                                <select name="title" >
                                    <option value="">--------Chọn--------</option>
                                    <?php
                                        $list_title=unserialize(PG_TITLE);
                                        foreach($list_title as $key => $value)
                                        {
                                    ?>
                                            <option value="<?php echo $key;?>" <?php if(isset($this->params['title']) && $this->params['title'] ==$key) echo 'selected';?>><?php echo $value;?></option>
                                     <?php
                                        }
                                     ?>
                                </select>
                            </div>

                            <div class="control-group">
                                <label for="team" class="span2">Shop</label>
                                <input id="team" name="shop" type="text" class="input-large search-query form-control" value="<?php isset($this->params['shop']) and printf($this->params['shop']);?>">
                            </div>

                            <div class="control-group">
                                <label for="star" class="span2">Star</label>
                                <input id="star" name="star" type="text" class="input-medium search-query form-control" value="<?php isset($this->params['star']) and printf($this->params['star']);?>">
                            </div>  
                             <div class="control-group">
                                <label for="star" class="span2">Thâm niên</label>
                                <select name="seniority" >
                                    <option value="">---------Chọn---------</option>
                                    <option value="1" <?php if($this->params['seniority']==1) echo 'selected';?>>Dưới 3 tháng</option>
                                    <option value="2" <?php if($this->params['seniority']==2) echo 'selected';?>>3 tháng đến 6 tháng</option>
                                    <option value="3" <?php if($this->params['seniority']==3) echo 'selected';?>>6 tháng đến 12 tháng</option>
                                    <option value="4" <?php if($this->params['seniority']==4) echo 'selected';?>>12 tháng đến 24 tháng</option>
                                    <option value="5" <?php if($this->params['seniority']==5) echo 'selected';?>>Trên 24 tháng</option>
                                    
                                    
                                </select>
                            </div>  
                             <div class="control-group">
                                <label for="sellout" class="span2">Sell-Out From</label>
                                <input id="sellout" name="sellout_from" type="text" class="input-medium search-query form-control" value="<?php isset($this->params['sellout_from']) and printf($this->params['sellout_from']);?>">
                            </div> 
                            <div class="control-group">
                                <label for="sellout" class="span2">Sell-Out To</label>
                                <input id="sellout" name="sellout_to" type="text" class="input-medium search-query form-control" value="<?php isset($this->params['sellout_to']) and printf($this->params['sellout_to']);?>">
                            </div>   
                        </div>
                    </div>

                    <button type="submit" class="btn btn-primary">Search</button>
                    <button type="reset" class="btn btn-warning">Reset</button>
                </form>
                <style>
                    .birth{width:12%}
                </style>

                <script type="text/javascript" src="/js/jquery-ui-1.8.12.custom.min.js"></script>
                <link rel="stylesheet" type="text/css" href="/css/jquery-ui-1.8.12.custom.css"/>
                <script src="../js/tag-it.min.js" type="text/javascript" charset="utf-8"></script>
                <link href="../css/jquery.tagit.css" rel="stylesheet" type="text/css">
                <link href="../css/tagit.ui-zendesk.css" rel="stylesheet" type="text/css">

            </div>
        </div>
    </div>
</div>

<div class="table-responsive">
    <style>
    .modal table tr td.span1{
        min-width: 100px!important;
    }
</style>
<table class="table table-bordered">
    <thead>
        <tr>
            <?php echo $this->sorting(array(
        '#',
        'Code',
        'Name',
        'shop',
        'team',
        'title',
        'Joined',
        'Phone No',
        'Total',
        'Star',
        'SELL-OUT',
        '% HERO',
        'Tình trạng',
        'Action'
    ),
    $this->url, $this->sort, $this->desc); ?>
</tr>
</thead>
<tbody>
<?php
if (isset($this->result) and $this->result): ?>
    <?php foreach ($this->result as $k=>$staff): ?>
        <tr>
            <td>
                <?php
                    $inc = $this->offset + $k + 1;
                    echo $inc;
                ?>
            </td>
            <td><?php echo $staff['code'];?></td>
            <td id="name"><?php echo $staff['fullname'];?></td>
            <td><?php echo $staff['shop'];?></td>
            <td><?php echo $staff['team'];?></td>
            <td><?php echo $staff['title'];?></td>
            <td><?php echo ($staff['joined'] ? date('d/m/Y', strtotime($staff['joined'])) : '');?></td>
            <td><?php echo $staff['phone'];?></td>
            <td><?php echo $staff['total'];?></td>
            <td><?php echo $staff['star'];?></td>
             <td><?php echo $staff['sellout'];?></td>
              <td><?php if($staff['sellout']<>0 ||  $staff['hero'] <>0) echo round(($staff['hero']*100)/$staff['sellout'],1); else echo 0;?> %</td>
            <td><?php echo ($staff['status']== 1 ? 'Đang làm' : 'Đã nghỉ' );?></td>
            <td id="action">
                <?php if ($staff['status']== 1):?>
                    <?php 
                        $link = null;
                        if(in_array($staff['title'], [PG_BRANDSHOP])){
                            $link = HOST.'bi/pg-details?id='.$staff['staff_id'];
                        }
                        elseif(in_array($staff['title'], [SALE_SALE_SALE, STORE_LEADER])){
                            $link = HOST.'bi/sale-details?id='.$staff['staff_id'];
                        }
                    ?>
                    <a title="All Information" href="<?php echo HOST.'bi/pg-details?id='.$staff['staff_id'];?>"  class="label label-success"><i class="icon-hand-right"></i></a>
                     <a title="Reward Warning" href="<?php echo HOST.'/trainer/reward-warning?staff_id='.$staff['staff_id'];?>" class="label label-important"><i class="icon-book"></i>  </a>
                <?php endif;?>
            </td>
        </tr>
    <?php endforeach;?>
<?php endif;?>

</tbody>
</table>
<div class="paging">
     <?php  echo $this->paging($this->total, $this->limit, $this->offset, $this->url);?>

</div>

<script type="text/javascript" src="/js/jquery-ui-1.8.12.custom.min.js"></script>
<link rel="stylesheet" type="text/css" href="/css/jquery-ui-1.8.12.custom.css"/>
<script src="../js/tag-it.min.js" type="text/javascript" charset="utf-8"></script>
<link href="../css/jquery.tagit.css" rel="stylesheet" type="text/css">
<link href="../css/tagit.ui-zendesk.css" rel="stylesheet" type="text/css">
<script>
    $(document).ready(function () {
         $( '.date' ).datepicker({ dateFormat: "yy-mm-dd" });
         $(document).on('change', ".area_id", function() {
            var area_id = $(this).val();
            $.ajax({
                  url: "<?php echo HOST;?>bi/ajax-list-store",
                  type: "GET",
                  dataType: "text",
                  context: this,
                  data: "area_province_id="+area_id,
                  beforeSend: function() {
                        $(".loading").show();                   
                    },
                  success: function(result){

                        if(result)
                        {
                            var data = jQuery.parseJSON(result);
                            option = '<option value="">--Chọn--</option>';
                            for(i=0; i< data.area_province.length; i++){
                                option += '<option value="'+data.area_province[i].province_id+'">'+data.area_province[i].province_name+'</option>';
                            }
                            $('.province_id').html(option);
                        }
                        else
                        {   
                            
                        }                    
                  },
                  error:function(){
                      
                  }
            });

        });
       
    var province_id = $('.province_id').val();
    var area_id = $('.area_id').val();
    if(area_id != null){
        loadProvice(area_id,province_id);
    }
    
});
    
function loadProvice(area_id,province_id){
    var area_id = area_id;
    var province_id =province_id;
    $.ajax({
          url: "<?php echo HOST;?>bi/ajax-list-store",
          type: "GET",
          dataType: "text",
          context: this,
          data: "area_province_id="+area_id,
          beforeSend: function() {
                $(".loading").show();                   
            },
          success: function(result){

                if(result)
                {
                    var data = jQuery.parseJSON(result);
                    option = '<option value="">--Chọn--</option>';
                    for(i=0; i< data.area_province.length; i++){
                        if(data.area_province[i].province_id == province_id)
                        {
                            option += '<option value="'+data.area_province[i].province_id+'" selected>'+data.area_province[i].province_name+'</option>';
                        }else{
                            option += '<option value="'+data.area_province[i].province_id+'">'+data.area_province[i].province_name+'</option>';
                        }
                    }
                    $('.province_id').html(option);
                }
                else
                {   
                    
                }                    
          },
          error:function(){
              
          }
    });
}

</script>