<div class="page-header" style="margin: 18px 0 -10px 0;border-bottom: none;">
    <h1>
    <?php if(isset($this->province[$this->params['province']]) and $this->province[$this->params['province']]):?>
        <?php echo $this->province[$this->params['province']];?>
    <?php endif;?>
    </h1>
</div>
<?php
    if (isset($this->messages) and $this->messages)
        foreach ($this->messages as $message):
            echo '<div class="alert alert-success">'.$message.'</div>';
        endforeach;
?>

<div class="main">
    <div class="container-fluid">    
        
        <div class="row">
            <div class="span6">
                <div class="table_main">
                    <div class="header_tad"><i class="icon-list-alt"></i> SALE</div>
                    <div class="content_tad">
                        <div class="menu_sale">
                            <a href="<?php echo HOST;?>bi/dealer?area=<?php echo $this->params['area'];?>&province=<?php echo $this->params['province'];?>"><div class="row_tad">Đại lý</div></a>
                        </div>
                        
                        <div class="menu_type_char">
                           <span class="menu_btn"><i class="icon-tasks"></i></span>
                           <ul>
                                <li char='container'>Sell out 3 tháng gần nhất</li>
                                <li char='doanhthu'>Doanh thu 3 tháng gần nhất (80%)</li>
                                <li char='sellout_sp'>Sell out Sản phẩm chính</li>
                                <li char='sellout_sp_value'>Doanh thu Sản phẩm chính (80%)</li>
                                <li char='sellout_ka_ia'>Sell out IA/KA</li>
                                <li char='doanhthu_ka_ia'>Doanh thu IA/KA (80%)</li>
                                <li class='soban_theongay'>Số bán theo ngày</li>
                           </ul>
                        </div>
                        
                        <div id="container" style="width: 100%;height: auto; margin: 0 auto;"></div>
                        <div id="doanhthu" style="width: 100%;height: auto; margin: 0 auto;"></div>
                        <div id="sellout_sp" style="width: 100%;height: auto; margin: 0 auto;"></div>
                        <div id="sellout_sp_value" style="width: 100%;height: auto; margin: 0 auto;"></div>
                        <div id="sellout_ka_ia" style="width: 100%;height: auto; margin: 0 auto;"></div>
                        <div id="doanhthu_ka_ia" style="width: 100%;height: auto; margin: 0 auto;"></div>
                        <div id="container_temp" style="width: auto;height: auto; margin: 0 auto;opacity: 0.0;height: 1px"></div>

                        <div class="wrap_sellout_diamond">

                            <div class='first_column'>
                                <span>Rank.IND</span>
                                <span>Tháng</span>
                                <span>Shop</span>
                                <span>PGPB</span>
                            </div>

                            <div class='sellout_diamond'>
                                <table class="table table_count">
                                    <tr>
                                        <th colspan="4"> >= 50</th>
                                        <th colspan="4"> 40 - 49</th>
                                        <th colspan="4"> 30 - 39</th>
                                        <th colspan="4"> 20 - 29</th>
                                        <th colspan="4"> 10 - 19</th>
                                        <th colspan="4"> 1 - 10</th>
                                    </tr>
                                    
                                    <tr>
                                        <?php for($i = 1;$i <=6;$i++):?>
                                        <?php foreach ($this->list_date as $key => $value):?>
                                        <?php $m = intval(date('m', strtotime($value)));?>
                                        <?php $y = intval(date('Y', strtotime($value)));?>
                                        <td><?php echo "T.".$m;?></td>
                                        <?php endforeach;?>
                                        <?php endfor;?>
                                    </tr>

                                    <tr>
                                        <?php for($i = 1;$i <=6;$i++):?>
                                        <?php foreach ($this->list_date as $key => $value):?>
                                        <?php $m = intval(date('m', strtotime($value)));?>
                                        <?php $y = intval(date('Y', strtotime($value)));?>
                                        <td><?php echo $this->rank[$i][$m][$y]['sum_store'] ? $this->rank[$i][$m][$y]['sum_store'] : 0;?></td>
                                        <?php endforeach;?>
                                        <?php endfor;?>
                                    </tr>
                                    
                                    <tr>
                                        <?php for($i = 1;$i <=6;$i++):?>
                                        <?php foreach ($this->list_date as $key => $value):?>
                                        <?php $m = intval(date('m', strtotime($value)));?>
                                        <?php $y = intval(date('Y', strtotime($value)));?>
                                        <td><?php echo $this->rank[$i][$m][$y]['sum_pg'] ? $this->rank[$i][$m][$y]['sum_pg'] : 0;?></td>
                                        <?php endforeach;?>
                                        <?php endfor;?>
                                    </tr>

                                </table>

                            </div><!-- sellout_diamond-->
                        </div><!-- wrap_sellout_diamond-->
                        
                    </div>
                </div><!-- table_main-->
            </div><!-- span6-->

            <div class="span6">
                <div class="table_main">
                    <div class="header_tad"><i class="icon-list-alt"></i> NHÂN SỰ</div>
                    <div class="content_tad">
                    
                        <div class="content_tad_tad" id='tad_hr'>
                            <?php if(isset($this->staff) AND $this->staff):?>
                            <div class="ro"><div class="row1">Total:</div> <div class="row2"><?php echo $this->staff[0]['total'];?></div></div>
                            <?php $order = $this->staff[0]['total']?>
                            <?php $total_pgs_sales = 0;?>
                            <?php foreach($this->staff as $key=>$value):?>
                            <?php   
                            
                                //
                                if($value['title'] == PGPB_TITLE){
                                    $total_pgs_sales += $value['num'];
                                }
                                if($value['title'] == SALES_TITLE){
                                    $total_pgs_sales += $value['num'];
                                }
                                if($value['title'] == PB_SALES_TITLE){
                                    $total_pgs_sales += $value['num'];
                                }
                                if($value['title'] == CHUYEN_VIEN_BAN_HANG_TITLE){
                                    $total_pgs_sales += $value['num'];
                                }
                                //

                                if($value['title'] == PGPB_TITLE)
                                    $total_pg = $value['num'];
                                if($value['title'] == SALES_TITLE)
                                    $total_sales = $value['num'];

                                $order = $order - $value['num'];

                                $list_char_hr .= "{name:'".$value['name']."',y:".$value['num'].",color:'".$list_color[$key]."'},";

                                $link = null;

                                if($value['title'] == SALE_SALE_ASM OR $value['title'] == 308){
                                    if($this->access('bi', 'asm-details')){
                                        $link = HOST.'bi/asm-details?id='.$value['staff_id'];
                                    }
                                }
                                elseif($value['title'] == SALES_LEADER_TITLE){
                                    if($this->access('bi', 'analytics-leader')){
                                        $link = HOST.'bi/analytics-leader?area='.$this->params['area'].'&title='.SALES_LEADER_TITLE;
                                    }
                                }
                                else{
                                    if($this->access('bi', 'analytics')){
                                        $link = HOST.'bi/analytics?title[]='.$value['title'].'&area_id[]='.$this->params['area'].'&region_id[]='.$this->params['province'];
                                    }
                                }

                                
                            ?>
                            <a href="<?php echo $link;?>" class="ro"><div class="row1"><?php echo $value['name']?>:</div> <div class="row2"> <?php echo $value['num']?></div></a>
                            <?php endforeach;?>
                            <a class="ro"><div class="row1"> OTHER:</div> <div class="row2"> <?php echo $order;?></div></a>
                            <?php endif;?>
                        </div>
                        
                        <div class="content_tad_tad hr_chart" style='float: right;'>
                                <table class="table table_hr">
                                    <tr>
                                        <th>Channel</th>
                                        <th>Store</th>
                                        <th>Sale</th>
                                        <th>PGPB</th>
                                    </tr>
                                    <?php foreach ($this->channel_list as $key => $value): ?>

                                    <?php if(!empty($this->store_channel[$value['id']]) OR !empty($this->staff_channel[$value['id']]['sale']) OR !empty($this->staff_channel[$value['id']]['pgs'])):?>

                                    <tr>
                                        <td><?php echo $value['name']; ?></td>
                                        <td><?php echo $this->store_channel[$value['id']] ? $this->store_channel[$value['id']] : 0; ?></td>
                                        <td><?php echo $this->staff_channel[$value['id']]['sale'] ? $this->staff_channel[$value['id']]['sale'] : 0; ?></td>
                                        <td><?php echo $this->staff_channel[$value['id']]['pgs'] ? $this->staff_channel[$value['id']]['pgs'] : 0; ?></td>
                                    </tr>

                                    <?php endif;?>

                                    <?php endforeach; ?>
                                </table>
                            </div>
                        
                        <table class="table table_hr">
                            <tr>
                                <th rowspan="2">
                                </th>
                                <?php foreach ($this->list_date as $key => $value):?>
                                <th colspan="2">Tháng <?php echo intval(date('m', strtotime($value)));?></th>
                                <?php endforeach; ?>
                            </tr>
                            
                            <tr>
                                <?php foreach ($this->list_date as $key => $value):?>
                                <th>PGPB</th>
                                <th>Sale</th>
                                <?php endforeach; ?>
                            </tr>

                            <tr>
                                <td>Tổng số</td>
                                <?php foreach ($this->list_date as $key => $value):?>
                                <?php $m = intval(date('m', strtotime($value)));?>
                                <?php $y = intval(date('Y', strtotime($value)));?>
                                <td><?php echo $this->data_pgpb_sale[$y][$m]['PG']['totalEmp'];?></td>
                                <td><?php echo $this->data_pgpb_sale[$y][$m]['SALE']['totalEmp'];?></td>
                                <?php endforeach; ?>
                            </tr>

                            <tr>
                                <td>S.O bình quân</td>
                                <?php foreach ($this->list_date as $key => $value):?>
                                <?php $m = intval(date('m', strtotime($value)));?>
                                <?php $y = intval(date('Y', strtotime($value)));?>

                                <?php $sum_pg = $this->avg_sale_pg[$m][$y]['sum_pg'] ? $this->avg_sale_pg[$m][$y]['sum_pg'] : 0;?>
                                <?php $sum_sale = $this->avg_sale_pg[$m][$y]['sum_sale'] ? $this->avg_sale_pg[$m][$y]['sum_sale'] : 0;?>
                                <?php $sum_pb_sale = $this->avg_sale_pg[$m][$y]['sum_pb_sale'] ? $this->avg_sale_pg[$m][$y]['sum_pb_sale'] : 0;?>
        
                                <?php $pg_avg = $this->data_pgpb_sale[$y][$m]['PG']['totalEmp'] ? $this->data_pgpb_sale[$y][$m]['PG']['totalEmp'] : 0;?>
                                <?php $sale_avg = $this->data_pgpb_sale[$y][$m]['SALE']['totalEmp'] ? $this->data_pgpb_sale[$y][$m]['SALE']['totalEmp'] : 0;?>

                                <td><?php echo number_format($sum_pg/$pg_avg, 0, '.', '');?></td>
                                <td><?php echo number_format(($sum_sale+$sum_pb_sale)/$sale_avg, 0, '.', '');?></td>
                                <?php endforeach; ?>
                            </tr>
                            
                            <tr>
                                <td>Tuyển thêm</td>
                                <?php foreach ($this->list_date as $key => $value):?>
                                <?php $m = intval(date('m', strtotime($value)));?>
                                <?php $y = intval(date('Y', strtotime($value)));?>
                                <td><?php echo $this->data_pgpb_sale[$y][$m]['PG']['Working'];?><br> <span>(<?php echo number_format(($this->data_pgpb_sale[$y][$m]['PG']['Per_Working'])*100);?>%)</span></td>
                                <td><?php echo $this->data_pgpb_sale[$y][$m]['SALE']['Working'];?><br> <span>(<?php echo number_format(($this->data_pgpb_sale[$y][$m]['SALE']['Per_Working'])*100);?>%)</span></td>
                                <?php endforeach; ?>
                            </tr>
                            
                            <tr>
                                <td>Thôi việc</td>
                                <?php foreach ($this->list_date as $key => $value):?>
                                <?php $m = intval(date('m', strtotime($value)));?>
                                <?php $y = intval(date('Y', strtotime($value)));?>
                                <td><?php echo $this->data_pgpb_sale[$y][$m]['PG']['Off'];?><br> <span>(<?php echo number_format(($this->data_pgpb_sale[$y][$m]['PG']['Per_Off'])*100);?>%)</span></td>
                                <td><?php echo $this->data_pgpb_sale[$y][$m]['SALE']['Off'];?><br> <span>(<?php echo number_format(($this->data_pgpb_sale[$y][$m]['SALE']['Per_Off'])*100);?>%)</span></td>
                                <?php endforeach; ?>
                            </tr>
                            
                        </table>

                        <table class="table table_hr" style='margin-top: 10px'>
                            <tr>
                                <th><i class="icon_star_index">5</i></th>
                                <th><i class="icon_star_index">4</i></th>
                                <th><i class="icon_star_index">3</i></th>
                                <th><i class="icon_star_index">2</i></th>
                                <th><i class="icon_star_index">1</i></th>
                                <th><i class="icon_star_index">0</i></th>
                            </tr>
                            <tr>
                                <?php for($i = 5; $i > -1; $i--):?>
                                <td><a href="<?php echo HOST;?>bi/rank-star?rank=<?php echo $i;?>&area_id=<?php echo $this->params['area'];?>"><?php echo !empty($this->rank_star[$i]) ? $this->rank_star[$i] : 0;?> PGPB</td>
                                <?php endfor;?>
                            </tr>
                        </table>
                        
                    </div>
                </div><!-- table_main-->
            </div><!-- span6-->
            
        </div><!-- row-->
            
        <div class="row">
            <div class="span6">
                <div class="table_main2">
                    <div class="header_tad"><i class="icon-list-alt"></i> TRADE</div>
                    <div class="content_tad">
                        
                        <div class="menu_sale">
                            
                        </div>

                        <div class="content_content">
                            <div class="row">
                                
                                <div class="span6 span6_bl">
                                    <div class="dashboard-stat blue block_size">
                                        <div class="visual">
                                           <i class="icon-comments"></i>
                                        </div>
                                        
                                        <div class="details">
                                             <div class="number"><?php echo number_format($this->data_trade_total['fee_cost'],0,'',' ');?></div>
                                             <div class="desc">Chi phí khu vực</div>
                                        </div>
                                        
                                        <?php if($this->access('bi', 'area-trade-details-cost')):?>
                                        <a class="more" href="<?php echo HOST;?>bi/area-trade-details-cost">
                                          View more <i class="m-icon-swapright m-icon-white"></i>
                                        </a>
                                        <?php endif;?>
                                    </div>
                                </div><!-- span6-->
                                
                                <div class="span6 span6_bl">
                                    <div class="dashboard-stat green block_size">
                                        <div class="visual">
                                           <i class="icon-shopping-cart"></i>
                                        </div>
                                        
                                        <div class="details">
                                             <div class="number"><?php echo number_format($this->data_trade_total['fee_air'],0,'',' ');?></div>
                                             <div class="desc">Chi phí Decor</div>
                                        </div>
                                        
                                        <?php if($this->access('bi', 'area-trade-details-decor')):?>
                                        <a class="more" href="<?php echo HOST;?>bi/area-trade-details-decor">
                                          Xem thêm <i class="m-icon-swapright m-icon-white"></i>
                                        </a>
                                        <?php endif;?>
                                        
                                    </div>
                                </div><!-- span 6-->

                            </div><!-- row-->
                            
                            <div class="row">
                                <div class="span6 span6_bl">
                                    <div class="dashboard-stat purple block_size">
                                        <div class="visual">
                                           <i class="icon-bar-chart"></i>
                                        </div>
                                        
                                        <div class="details">
                                             <div class="number"><?php echo number_format($this->data_trade_total['fee_campaign'],0,'',' ');?> VND</div>
                                             <div class="desc">Chi phí POSM</div>
                                        </div>
                                        
                                        <?php if($this->access('bi', 'area-trade-details-posm')):?>
                                        <a class="more" href="<?php echo HOST;?>bi/area-trade-details-posm">
                                          Xem thêm<i class="m-icon-swapright m-icon-white"></i>
                                        </a>
                                        <?php endif;?>
                                        
                                    </div>
                                </div><!-- span6-->
                                
                                <div class="span6 span6_bl">
                                    <div class="dashboard-stat red block_size">
                                        <div class="visual">
                                           <i class="icon-usd"></i>
                                        </div>
                                        
                                        <div class="details">
                                             <div class="number"><?php echo number_format(($this->data_trade_total['fee_cost']+$this->data_trade_total['fee_air']+$this->data_trade_total['fee_campaign']),0,'',' ');?>  VND</div>
                                             <div class="desc">Tổng chi phí/ 3 tháng</div>
                                        </div>
                                    </div>
                                    </div><!-- span6-->
                            </div><!-- row-->
                            <div id="trade" style="width: 100%;height: 340px; margin: 0 auto"></div>
                        </div><!-- content-content-->
                        
                    </div>
                </div><!-- table_main2 -->
            </div><!-- span6-->
            
            <div class="span6">
                <div class='table_main2'>
                    <div class="header_tad"><i class="icon-list-alt"></i> TRAINNING</div>
                    <div class="content_tad">
                        <div class='header_trainer'>
                            <span>Training Chuyên Đề</span>
                            <table class="table table_hr cackhoa_training" id='bi-table'>
                                <tr>
                                    <th rowspan="2" class="cackhoa_training_th"></th>
                                    <?php foreach($this->list_date as $row=>$value):?>
                                    <?php $d = intval(date('m', strtotime($value)));?>
                                    <th colspan="2">Tháng <?php echo $d;?></th>
                                    <?php endforeach;?>
                                </tr>
                                <tr>
                                    <?php foreach($this->list_date as $row=>$value):?>
                                    <?php $d = intval(date('m', strtotime($value)));?>
                                    <?php $y = intval(date('Y', strtotime($value)));?>
                                    <th>Số buổi</th>
                                    <th>Số lượng</th>
                                    <?php endforeach;?>
                                </tr>
                                <tr>
                                    <td>Training đối tác</td>
                                    <?php foreach($this->list_date as $row=>$value):?>
                                    <?php $d = intval(date('m', strtotime($value)));?>
                                    <?php $quantity = (isset($this->data_trainer[2][$d][$y]['sum']) and $this->data_trainer[2][$d][$y]['sum']) ? $this->data_trainer[2][$d][$y]['sum'] : 0;?>
                                    <?php $quantity_session = (isset($this->data_trainer[2][$d][$y]['quantity_session']) and $this->data_trainer[2][$d][$y]['quantity_session']) ? $this->data_trainer[2][$d][$y]['quantity_session'] : 0;?>
                                    <td><?php echo $quantity_session;?></td>
                                    <td><?php echo $quantity;?></td>
                                    <?php endforeach;?>
                                </tr>
                                <tr>
                                    <td>Training nội bộ</td>
                                    <?php foreach($this->list_date as $row=>$value):?>
                                    <?php $d = intval(date('m', strtotime($value)));?>
                                    <?php $y = intval(date('Y', strtotime($value)));?>
                                    <?php $quantity = (isset($this->data_trainer[1][$d][$y]['sum']) and $this->data_trainer[1][$d][$y]['sum']) ? $this->data_trainer[1][$d][$y]['sum'] : 0;?>
                                    <?php $quantity_session = (isset($this->data_trainer[1][$d][$y]['quantity_session']) and $this->data_trainer[1][$d][$y]['quantity_session']) ? $this->data_trainer[1][$d][$y]['quantity_session'] : 0;?>
                                    <td><?php echo $quantity_session;?></td>
                                    <td><?php echo $quantity;?></td>
                                    <?php endforeach;?>
                                </tr>
                                <tr>
                                    <td>Tổng số</td>
                                    <?php foreach($this->list_date as $row=>$value):?>
                                    <?php $d = intval(date('m', strtotime($value)));?>
                                    <?php $y = intval(date('Y', strtotime($value)));?>
                                    <td><?php echo ($this->data_trainer[1][$d][$y]['quantity_session']) + ($this->data_trainer[2][$d][$y]['quantity_session']);?></td>
                                    <td><?php echo ($this->data_trainer[1][$d][$y]['sum']) + ($this->data_trainer[2][$d][$y]['sum']);?></td>
                                    <?php endforeach;?>
                                </tr>
                            </table>
                        </div>

                        <div class="header_trainer">
                            <span>Training Tập Trung</span>
                            <table class="table table_hr cackhoa_training" id='bi-table'>
                                <tr>
                                    <th rowspan="2"></th>
                                    <?php foreach($this->list_date as $row=>$value):?>
                                    <?php $d = intval(date('m', strtotime($value)));?>
                                    <th colspan="2">Tháng <?php echo $d;?></th>
                                    <?php endforeach;?>
                                </tr>

                                <tr>
                                    <?php foreach($this->list_date as $row=>$value):?>
                                    <?php $d = intval(date('m', strtotime($value)));?>
                                    <th>Số khóa</th>
                                    <th>Số lượng</th>
                                    <?php endforeach;?>
                                </tr>

                                <?php if(!empty($this->trainer_course_type)):?>
                                <?php foreach($this->trainer_course_type as $k=>$v):?>
                                <tr>
                                    <td><?php echo $v;?></td>
                                    <?php foreach($this->list_date as $row=>$value):?>
                                    <?php $d = intval(date('m', strtotime($value)));?>
                                    <?php $y = intval(date('Y', strtotime($value)));?>
                                    <?php $quantity = (isset($this->data_trainer_course[$k][$d][$y]['quantity_pg']) and $this->data_trainer_course[$k][$d][$y]['quantity_pg']) ? $this->data_trainer_course[$k][$d][$y]['quantity_pg'] : 0;?>
                                    <?php $quantity_course = (isset($this->data_trainer_course[$k][$d][$y]['quantity_course']) and $this->data_trainer_course[$k][$d][$y]['quantity_course']) ? $this->data_trainer_course[$k][$d][$y]['quantity_course'] : 0;?>
                                    <td><?php echo $quantity_course;?></td>
                                    <td><?php echo $quantity;?></td>
                                    <?php endforeach;?>
                                </tr>
                                <?php endforeach;?>
                                <?php endif;?>

                            </table>
                        </div>

                        <div class="content_trainer">
                            <span>Training Online</span>
                            <table class="table table_hr cackhoa_training" id='bi-table'>
                                <tr>
                                    <th>Test Online</th>
                                    <th>Tổng</th>
                                    <th>Số lượng pass</th>
                                    <th>% pass</th>
                                    <th>Số lượng Fail</th>
                                    <th>% fail</th>
                                </tr>
                                <?php $total_sale_pgs = $this->total_sale_pgs;?>
                                <?php foreach ($this->row_lesson as $key => $value):?>
                                <tr>
                                    <td><?php echo $value['title'];?></td>
                                    <td><?php echo $total_sale_pgs;?></td>
                                    <td><?php echo $value['pass'];?></td>
                                    <td><?php echo number_format(($value['pass']/$total_sale_pgs)*100);?> %</td>
                                    <td><?php echo ($total_sale_pgs - $value['pass']);?></td>
                                    <td><?php echo number_format((($total_sale_pgs - $value['pass'])/$total_sale_pgs)*100);?> %</td>
                                </tr>
                                <?php  endforeach;?>
                                
                            </table>
                        </div>

                    </div>
                </div>
            </div><!-- span6-->
            
        </div><!-- row-->
        
    </div>
</div>

<div class="soban_hangngay">
    <div class='close_soban'><i class="icon-remove"></i></div>
    <div id="soban_hang_ngay" style="width: auto;height: auto; margin: 0 auto;"></div>
</div>

<script>
$(function () {
    
    $('#container_temp').highcharts({
        chart: {
            type: 'column',
            marginLeft: 10,
            marginRight: 10
        },
        xAxis: {
            categories: [
            <?php foreach ($this->list_date as $key => $value) {
                echo "'Tháng ".intval(date('m', strtotime($value)))."',";
            } ?>
            ]
        },
        yAxis: {
            min: 0,
            title: {
                text: 'Chiếc',
                "textAlign": 'right',
                "rotation": 0,
                x: 35,
                y: -170
            },
            stackLabels: {
                enabled: true,
                style: {
                    fontWeight: 'bold',
                    color: (Highcharts.theme && Highcharts.theme.textColor) || '#000',
                    fontSize: '10px'
                },
            }
        },
        series: [{
            name: 'TGDĐ',
            yAxis: 0,
            data: [
            94583,133139,0,0,                ],
            stack: 'male'
        }]
    });


    
    $a = $('g.highcharts-series-0').get(0).getBBox().width;
    var width_chart = -(($a/3)-7);
    
    Highcharts.setOptions({
        lang: {
            decimalPoint: ',',
            thousandsSep: '.'
        }
    });

    $('#container').highcharts({
        chart: {
            type: 'column',
            marginLeft: 10,
            marginRight: 10
        },
        title: {
            text: 'Sell out 3 tháng gần nhất',
            style:{
                color: '#008B56',
                fontSize: '16px'
            }
        },
        xAxis: {
            categories: [
            <?php foreach ($this->list_date as $key => $value) {
                echo "'Tháng ".intval(date('m', strtotime($value)))."',";
            } ?>
            ]
        },
        yAxis: {
            min: 0,
            title: {
                text: '',
                "textAlign": 'right',
                "rotation": 0,
                x: 35,
                y: -170
            },
            stackLabels: {
                enabled: true,
                style: {
                    fontWeight: 'bold',
                    color: (Highcharts.theme && Highcharts.theme.textColor) || '#000',
                    fontSize: '10px'
                },
            }
        },
        legend: {
            align: 'center',
            x: -30,
            verticalAlign: 'bottom',
            y: 20,
            floating: true,
            backgroundColor: (Highcharts.theme && Highcharts.theme.background2) || 'white',
            borderColor: 'none',
            borderWidth: 1,
            shadow: false
        },
        tooltip: {
            headerFormat: '<b>{point.x}</b><br/>',
            pointFormat: '{series.name}: <b>{point.y}</b> ({point.percentage:.2f}%)<br/>'
        },
        plotOptions: {
            column: {
                stacking: 'normal',
                dataLabels: {
                    enabled: true,
                    color: (Highcharts.theme && Highcharts.theme.dataLabelsColor) || 'white',
                    style: {
                        textShadow: '0 0 1px black',
                        fontSize: '10px'
                    },
                }
            },
            line: {
                dataLabels: {
                    enabled: true,
                    backgroundColor: 'white',
                    borderColor: "#f9bebe",
                    borderWidth: 1,
                    padding: 2,
                    color: (Highcharts.theme && Highcharts.theme.dataLabelsColor) || 'red',
                    style: {
                        fontSize: '9px'
                    },
                }
            }
        },
        exporting: {
            buttons: [
                {
                    enabled: false,
                }
            ]
        },
        series: [{
            name: 'TGDĐ',
            yAxis: 0,
            data: [
            <?php foreach ($this->list_date as $key => $value) {
                $m = intval(date('m', strtotime($value)));
                $tgdd = (isset($this->data_sellout_dealer[2316][$m]['num']) and $this->data_sellout_dealer[2316][$m]['num']) ? $this->data_sellout_dealer[2316][$m]['num'] : 0;
                echo $tgdd.",";
            } ?>
                ],
            stack: 'male'
        }, {
            name: 'OTHER',
            color: '#008B56',
            yAxis: 0,
            data: [
            <?php foreach ($this->list_date as $key => $value) {
                $m = intval(date('m', strtotime($value)));
                $tot = (isset($this->data_sellout_total[$m]['num']) and $this->data_sellout_total[$m]['num']) ? $this->data_sellout_total[$m]['num'] : 0;
                $tgdd = (isset($this->data_sellout_dealer[2316][$m]['num']) and $this->data_sellout_dealer[2316][$m]['num']) ? $this->data_sellout_dealer[2316][$m]['num'] : 0;
                echo ($tot-$tgdd).",";
            } ?>
            ],
            stack: 'male'
        }, {
            type: 'spline',
            color: 'green',
            yAxis: 0,
            name: 'line',
            data: [
            <?php 
                $avg = array();
                $tt = array();
                $avg_temp = 1;
            ?>
            <?php foreach ($this->list_date as $key => $value) {

                $m = intval(date('m', strtotime($value)));
                $num = (isset($this->data_sellout_total[$m]['num']) and $this->data_sellout_total[$m]['num']) ? $this->data_sellout_total[$m]['num'] : 0;

                $avg[$key] = ($num+$avg_temp)/2;
                $tt[$key] = (($num - $avg_temp)/$avg_temp)*100;
                $avg_temp = $num;

                echo $num.",";
            } ?>
            ],
            stack: 'male'
        },
        {
            type: 'line',
            color: 'none',
            yAxis: 0,
            name: 'line',
            data: [
                {
                    y: <?php echo $avg[0];?>,
                    dataLabels: {
                        x: -7000,
                        formatter: function() {
                            return Highcharts.numberFormat(<?php echo $tt[0];?>, 2) + '%';
                        }
                    }
                },
                {
                    y: <?php echo $avg[1];?>,
                    dataLabels: {
                        x: width_chart,
                        formatter: function() {
                            return Highcharts.numberFormat(<?php echo $tt[1];?>, 2) + '%';
                        }
                    }
                },
                {
                    y: <?php echo $avg[2];?>,
                    dataLabels: {
                        x: width_chart,
                        fontSize: 9,
                        formatter: function() {
                            return Highcharts.numberFormat(<?php echo $tt[2];?>, 2) + '%';
                        }
                    }
                },
                {
                    y: <?php echo $avg[3];?>,
                    dataLabels: {
                        x: width_chart,
                        formatter: function() {
                            return Highcharts.numberFormat(<?php echo $tt[3];?>, 2) + '%';
                        }
                    }
                }
            ],
            stack: 'male',
            enableMouseTracking: false
        }]
    });
    
    $('#doanhthu').highcharts({
        chart: {
            type: 'column',
            marginLeft: 10,
            marginRight: 10
        },
        title: {
            text: 'Doanh thu 3 tháng gần nhất',
            style:{
                color: '#008B56',
                fontSize: '16px'
            }
        },
        xAxis: {
            categories: [<?php foreach ($this->list_date as $key => $value) {
                echo "'Tháng ".intval(date('m', strtotime($value)))."',";
            } ?>]
        },
        yAxis: {
            min: 0,
            title: {
                text: '',
                "textAlign": 'right',
                "rotation": 0,
                x: 40,
                y: -170
            },
            stackLabels: {
                enabled: true,
                style: {
                    fontWeight: 'bold',
                    color: (Highcharts.theme && Highcharts.theme.textColor) || '#000',
                    fontSize: '10px'
                }
            }
        },
        legend: {
            align: 'center',
            x: -30,
            verticalAlign: 'bottom',
            y: 20,
            floating: true,
            backgroundColor: (Highcharts.theme && Highcharts.theme.background2) || 'white',
            borderColor: 'none',
            borderWidth: 1,
            shadow: false
        },
        tooltip: {
            headerFormat: '<b>{point.x}</b><br/>',
            pointFormat: '{series.name}: <b>{point.y}</b> ({point.percentage:.2f}%)<br/>'
        },
        plotOptions: {
            column: {
                stacking: 'normal',
                dataLabels: {
                    enabled: true,
                    color: (Highcharts.theme && Highcharts.theme.dataLabelsColor) || 'white',
                    style: {
                        textShadow: '0 0 1px black',
                        fontSize: '10px'
                    },
                }
            },
            line: {
                dataLabels: {
                    enabled: true,
                    backgroundColor: 'white',
                    borderColor: "#f9bebe",
                    borderWidth: 1,
                    padding: 2,
                    color: (Highcharts.theme && Highcharts.theme.dataLabelsColor) || 'red',
                    style: {
                        fontSize: '9px'
                    },
                }
            }
        },
        exporting: {
            buttons: [
                {
                    enabled: false,
                }
            ]
        },
        series: [{
            name: 'TGDĐ',
            yAxis: 0,
            data: [
            <?php foreach ($this->list_date as $key => $value) {
                $m = intval(date('m', strtotime($value)));
                $tgdd = (isset($this->data_sellout_dealer[2316][$m]['total_value']) and $this->data_sellout_dealer[2316][$m]['total_value']) ? $this->data_sellout_dealer[2316][$m]['total_value'] : 0;
                echo $tgdd.",";
            } ?>
                ],
            stack: 'male'
        }, {
            name: 'OTHER',
            color: '#008B56',
            yAxis: 0,
            data: [
            <?php foreach ($this->list_date as $key => $value) {
                $m = intval(date('m', strtotime($value)));
                $tot = (isset($this->data_sellout_total[$m]['total_value']) and $this->data_sellout_total[$m]['total_value']) ? $this->data_sellout_total[$m]['total_value'] : 0;
                $tgdd = (isset($this->data_sellout_dealer[2316][$m]['total_value']) and $this->data_sellout_dealer[2316][$m]['total_value']) ? $this->data_sellout_dealer[2316][$m]['total_value'] : 0;
                echo ($tot-$tgdd).",";
            } ?>
            ],
            stack: 'male'
        }, {
            type: 'spline',
            yAxis: 0,
            name: 'line',
            color: 'green',
            data: [
            <?php 
                $avg = array();
                $tt = array();
                $avg_temp = 1;
            ?>
            <?php foreach ($this->list_date as $key => $value) {

                $m = intval(date('m', strtotime($value)));
                $num = (isset($this->data_sellout_total[$m]['total_value']) and $this->data_sellout_total[$m]['total_value']) ? $this->data_sellout_total[$m]['total_value'] : 0;

                $avg[$key] = ($num+$avg_temp)/2;
                $tt[$key] = (($num - $avg_temp)/$avg_temp)*100;
                $avg_temp = $num;

                echo $num.",";
            } ?>
            ],
            stack: 'male'
        },{
            type: 'line',
            color: 'none',
            yAxis: 0,
            name: 'line',
            data: [
                {
                    y: <?php echo $avg[0];?>,
                    dataLabels: {
                        x: -7000,
                        formatter: function() {
                            return Highcharts.numberFormat(<?php echo $tt[0];?>, 2) + '%';
                        }
                    }
                },
                {
                    y: <?php echo $avg[1];?>,
                    dataLabels: {
                        x: width_chart,
                        formatter: function() {
                            return Highcharts.numberFormat(<?php echo $tt[1];?>, 2) + '%';
                        }
                    }
                },
                {
                    y: <?php echo $avg[2];?>,
                    dataLabels: {
                        x: width_chart,
                        formatter: function() {
                            return Highcharts.numberFormat(<?php echo $tt[2];?>, 2) + '%';
                        }
                    }
                },
                {
                    y: <?php echo $avg[3];?>,
                    dataLabels: {
                        x: width_chart,
                        formatter: function() {
                            return Highcharts.numberFormat(<?php echo $tt[3];?>, 2) + '%';
                        }
                    }
                }
            ],
            stack: 'male',
            enableMouseTracking: false
        }]
    });
    
    
    // Build the chart trade
    $('#trade').highcharts({
        chart: {
            type: 'column',
            marginLeft: 40,
            marginRight: 20
        },
        title: {
            text: 'Đầu tư 3 tháng gần nhất',
            style:{
                color: '#008B56',
                fontSize: '16px'
            }
        },
        xAxis: {
            categories: [
            <?php foreach ($this->list_date as $key => $value) {
                echo "'Tháng ".intval(date('m', strtotime($value)))."',";
            } ?>
            ]
        },
        yAxis: [{
            min: 0,
            title: {
                text: 'VNĐ',
                "textAlign": 'right',
                "rotation": 0,
                x: 30,
                y: -150
            },
            stackLabels: {
                enabled: true,
                style: {
                    fontWeight: 'bold',
                    color: (Highcharts.theme && Highcharts.theme.textColor) || '#000',
                    fontSize: '10px'
                }
            }
        },
        {
            max: 10000,
            title: {
                text: 'VNĐ',
                "textAlign": 'right',
                "rotation": 0,
                x: 30,
                y: -150
            },
            stackLabels: {
                enabled: false,
                style: {
                    fontWeight: 'bold',
                    color: (Highcharts.theme && Highcharts.theme.textColor) || 'red',
                    fontSize: '10px',
                }
            }
        }],
        legend: {
            align: 'center',
            x: -30,
            verticalAlign: 'bottom',
            y: 20,
            floating: true,
            backgroundColor: (Highcharts.theme && Highcharts.theme.background2) || 'white',
            borderColor: 'none',
            borderWidth: 1,
            shadow: false
        },
        tooltip: {
            headerFormat: '<b>{point.x}</b><br/>',
            pointFormat: '{series.name}: {point.y}<br/>Total: {point.stackTotal}'
        },
        plotOptions: {
            column: {
                stacking: 'normal',
                dataLabels: {
                    enabled: false,
                    color: (Highcharts.theme && Highcharts.theme.dataLabelsColor) || 'white',
                    style: {
                        textShadow: '0 0 3px black'
                    }
                }
            },
            line: {
                stacking: 'normal',
                dataLabels: {
                    enabled: true,
                    format: '{point.y:.2f}% <span>doanh thu</span>',
                    style: {
                        color: '#ffffff',
                        fontSize: '11px',
                    },
                }
            }
        },
        exporting: {
            buttons: [
                {
                    enabled: false,
                }
            ]
        },
        series: [{
            name: 'Tổng đầu tư',
            yAxis: 0,
            data: [
            <?php foreach ($this->list_date as $key => $value) {
                $m = intval(date('m', strtotime($value)));
                $fee = (isset($this->data_trade[$m]) and $this->data_trade[$m]) ? $this->data_trade[$m] : 0;
                echo $fee.",";
            } ?>
            ],
            stack: 'male',
            yAxis: 0,
        }, {
            type: 'line',   
            name: ' ',
            color: 'none',
            data: [
            <?php foreach ($this->list_date as $key => $value) {
                $m = intval(date('m', strtotime($value)));

                $sellout_ = (isset($this->data_sellout_total[$m]['total_value']) and $this->data_sellout_total[$m]['total_value']) ? $this->data_sellout_total[$m]['total_value'] : 0;

                $fee = (isset($this->data_trade[$m]) and $this->data_trade[$m]) ? $this->data_trade[$m] : 0;
                echo number_format((float)((($fee/$sellout_)*100)), 2, '.', '').",";
            } ?>
            ],
            stack: 'male',
            yAxis: 1,
        }]
    });
    
    
    
    

    
    
    //CONTENT MENU
    // Build the chart trade
    $('#sellout_sp').highcharts({
        chart: {
            type: 'column',
            marginLeft: 45,
            marginRight: 10
        },
        title: {
            text: 'Sellout sản phẩm 3 tháng gần nhất',
            style:{
                color: '#008B56',
                fontSize: '16px'
            }
        },
        xAxis: {
            categories: [
            <?php foreach ($this->list_date as $key => $value) {
                echo "'Tháng ".intval(date('m', strtotime($value)))."',";
            } ?>
            ],
        },
        yAxis: {
            min: 0,
            title: {
                text: 'Chiếc',
                "textAlign": 'right',
                "rotation": 0,
                x: 40,
                y: -170
            },
            stackLabels: {
                enabled: false,
                style: {
                    fontWeight: 'bold',
                    color: (Highcharts.theme && Highcharts.theme.textColor) || 'gray'
                }
            }
        },
        legend: {
            align: 'center',
            x: -30,
            verticalAlign: 'bottom',
            y: $(window).width()>480 ? 20 : 35,
            floating: true,
            backgroundColor: (Highcharts.theme && Highcharts.theme.background2) || 'white',
            borderColor: 'none',
            borderWidth: 1,
            shadow: false
        },
        tooltip: {
            headerFormat: '<b>{point.x}</b><br/>',
            pointFormat: '{series.name}: {point.y}<br/>Total: {point.stackTotal}'
        },
        plotOptions: {
            column: {
                stacking: 'normal',
                dataLabels: {
                    enabled: false,
                    color: (Highcharts.theme && Highcharts.theme.dataLabelsColor) || 'white',
                    style: {
                        textShadow: '0 0 3px black'
                    }
                }
            }
        },
        exporting: {
            buttons: [
                {
                    enabled: false,
                }
            ]
        },
        series: [
        <?php foreach($this->good_hero as $key => $value):?>
        {
        name: '<?php echo $this->good[$value];?>',
        yAxis: 0,
        data: [
        <?php
        foreach($this->list_date as $k=>$v):
            $m = intval(date('m', strtotime($v)));
            $num = (isset($this->data_sellout_good[$value][$m]['num']) and $this->data_sellout_good[$value][$m]['num']) ? $this->data_sellout_good[$value][$m]['num'] : 0;
            echo $num.",";  
        endforeach;
        ?>
        ],
        stack: <?php echo $key;?>,
        pointWidth: 16,
        },
        <?php endforeach;?>
        ]
        
    });
    
    
    $('#sellout_sp_value').highcharts({
        chart: {
            type: 'column',
            marginLeft: 45,
            marginRight: 10
        },
        title: {
            text: 'Doanh thu sản phẩm 3 tháng gần nhất',
            style:{
                color: '#008B56',
                fontSize: '16px'
            }
        },
        xAxis: {
            categories: [
            <?php foreach ($this->list_date as $key => $value) {
                echo "'Tháng ".intval(date('m', strtotime($value)))."',";
            } ?>
            ],
        },
        yAxis: {
            min: 0,
            title: {
                text: 'Vnđ',
                "textAlign": 'right',
                "rotation": 0,
                x: 45,
                y: -170
            },
            stackLabels: {
                enabled: false,
                style: {
                    fontWeight: 'bold',
                    color: (Highcharts.theme && Highcharts.theme.textColor) || 'gray'
                }
            }
        },
        legend: {
            align: 'center',
            x: -30,
            verticalAlign: 'bottom',
            y: $(window).width()>480 ? 20 : 35,
            floating: true,
            backgroundColor: (Highcharts.theme && Highcharts.theme.background2) || 'white',
            borderColor: 'none',
            borderWidth: 1,
            shadow: false
        },
        tooltip: {
            headerFormat: '<b>{point.x}</b><br/>',
            pointFormat: '{series.name}: {point.y}<br/>Total: {point.stackTotal}'
        },
        plotOptions: {
            column: {
                stacking: 'normal',
                dataLabels: {
                    enabled: false,
                    color: (Highcharts.theme && Highcharts.theme.dataLabelsColor) || 'white',
                    style: {
                        textShadow: '0 0 3px black'
                    }
                }
            }
        },
        exporting: {
            buttons: [
                {
                    enabled: false,
                }
            ]
        },
        series: [
            <?php foreach($this->good_hero as $key => $value):?>
            {
            name: '<?php echo $this->good[$value];?>',
            yAxis: 0,
            data: [
            <?php
            foreach($this->list_date as $k=>$v):
                $m = intval(date('m', strtotime($v)));
                $total_value = (isset($this->data_sellout_good[$value][$m]['total_value']) and $this->data_sellout_good[$value][$m]['total_value']) ? $this->data_sellout_good[$value][$m]['total_value'] : 0;
                echo $total_value.",";  
            endforeach;
            ?>
            ],
            stack: <?php echo $key;?>,
            pointWidth: 16,
            },
            <?php endforeach;?>
            ]
        
    });
    
    $('#sellout_ka_ia').highcharts({
        chart: {
            type: 'column',
            marginLeft: 45,
            marginRight: 10,
            x: 60,
        },
        title: {
            text: 'Sellout các kênh 3 tháng gần nhất',
            style:{
                color: '#008B56',
                fontSize: '16px'
            }
        },
        xAxis: {
            categories: [
            <?php foreach ($this->list_date as $key => $value) {
                echo "'Tháng ".intval(date('m', strtotime($value)))."',";
            } ?>
            ],
        },
        yAxis: {
            min: 0,
            title: {
                text: 'Chiếc',
                "textAlign": 'right',
                "rotation": 0,
                x: 43,
                y: -160
            },
            stackLabels: {
                enabled: false,
                style: {
                    fontWeight: 'bold',
                    color: (Highcharts.theme && Highcharts.theme.textColor) || 'gray'
                }
            }
        },
        legend:{
            itemStyle: {
                 fontSize:'10px'
              },
            align: 'center',
            verticalAlign:'bottom'
        },
        tooltip: {
            headerFormat: '<b>{point.x}</b><br/>',
            pointFormat: '{series.name}: {point.y}<br/>Total: {point.stackTotal}'
        },
        plotOptions: {
            column: {
                stacking: 'normal',
                dataLabels: {
                    enabled: false,
                    color: (Highcharts.theme && Highcharts.theme.dataLabelsColor) || 'white',
                    style: {
                        textShadow: '0 0 3px black'
                    }
                }
            }
        },
        exporting: {
            buttons: [
                {
                    enabled: false,
                }
            ]
        },
        series: [
            <?php foreach($this->name_chart as $keys => $value):?>
            {
            name: '<?php echo $value;?>',
            yAxis: 0,
            data: [
                <?php 
                foreach($this->list_date as $k => $v):
                $m = intval(date('m', strtotime($v)));
                $num = (isset($this->data_sellout_dealer[$keys][$m]['num']) and $this->data_sellout_dealer[$keys][$m]['num']) ? $this->data_sellout_dealer[$keys][$m]['num'] : 0;
                echo $num.",";
                endforeach;
                ?>
                ],
            stack: <?php echo $keys;?>
            },
            <?php endforeach;?>
            ]
        
    });
    
    $('#doanhthu_ka_ia').highcharts({
        chart: {
            type: 'column',
            marginLeft: 45,
            marginRight: 10
        },
        title: {
            text: 'Doanh thu các kênh 3 tháng gần nhất',
            style:{
                color: '#008B56',
                fontSize: '16px'
            }
        },
        xAxis: {
            categories: [
            <?php foreach ($this->list_date as $key => $value) {
                echo "'Tháng ".intval(date('m', strtotime($value)))."',";
            } ?>
            ],
        },
        yAxis: {
            min: 0,
            title: {
                text: 'Vnđ',
                "textAlign": 'right',
                "rotation": 0,
                x: 41,
                y: -155
            },
            stackLabels: {
                enabled: false,
                style: {
                    fontWeight: 'bold',
                    color: (Highcharts.theme && Highcharts.theme.textColor) || 'gray'
                }
            }
        },
        legend:{
            itemStyle: {
                 fontSize:'10px'
              },
            align: 'center',
            verticalAlign:'bottom'
        },
        tooltip: {
            headerFormat: '<b>{point.x}</b><br/>',
            pointFormat: '{series.name}: {point.y}<br/>Total: {point.stackTotal}'
        },
        plotOptions: {
            column: {
                stacking: 'normal',
                dataLabels: {
                    enabled: false,
                    color: (Highcharts.theme && Highcharts.theme.dataLabelsColor) || 'white',
                    style: {
                        textShadow: '0 0 3px black'
                    }
                }
            }
        },
        exporting: {
            buttons: [
                {
                    enabled: false,
                }
            ]
        },
        series: [
            <?php foreach($this->name_chart as $keys => $value):?>
            {
            name: '<?php echo $value;?>',
            yAxis: 0,
            data: [
                <?php 
                foreach($this->list_date as $k => $v):
                $m = intval(date('m', strtotime($v)));
                $total_value = (isset($this->data_sellout_dealer[$keys][$m]['total_value']) and $this->data_sellout_dealer[$keys][$m]['total_value']) ? $this->data_sellout_dealer[$keys][$m]['total_value'] : 0;
                echo $total_value.",";
                endforeach;
                ?>
                ],
            stack: <?php echo $keys;?>
            },
            <?php endforeach;?>
            ]
        
    });
    
    /* Số bán hàng ngày */
    $('#soban_hang_ngay').highcharts({
        title: {
            text: 'Số bán theo ngày',
            x: -20 //center
        },
        subtitle: {
            text: 'Trong tháng trước và tháng hiện tại',
            x: -20
        },
        xAxis: {
            categories: [
            <?php foreach ($this->list_date_range as $k => $v) {
                echo "'".$v."',";
            }?>
            ]
        },
        yAxis: {
            title: {
                text: ''
            },
            plotLines: [{
                value: 0,
                width: 1,
                color: '#808080'
            }]
        },
        tooltip: {
            valueSuffix: ''
        },
        exporting: {
            buttons: [
                {
                    enabled: false,
                }
            ]
        },
        legend:{
            itemStyle: {
                 fontSize:'10px'
              },
            align: 'center',
            verticalAlign:'bottom'
        },
        series: [
        <?php foreach($this->good_hero_total as $key=>$value):?>
        {
            name: <?php echo "'".$value."'";?>,
            data: [
            <?php foreach ($this->list_date_range as $k => $v) {
                echo (isset($this->good_by_date[$v][$key])) ? $this->good_by_date[$v][$key]."," : "0,";
            }?>
            ]
        }, 
        <?php endforeach;?>
        ]
    });
    /* end số bán hàng ngày */
    
});

</script>

<script>
    $(function () {
        
        hide_char();
        
        $('.menu_btn').on('click',function(){
            if($('.menu_type_char ul').css('display') == 'none')
            {
                $('.menu_type_char ul').show();
            }
            else{
                $('.menu_type_char ul').hide();
            }
        });
        
        $('.menu_type_char ul li').on('click',function(){
            var attr = $(this).attr('char');

            if (typeof attr !== typeof undefined && attr !== false) {
                $(".menu_type_char ul li").each(function(){
                    var char_ = $(this).attr('char');
                    $('#'+char_).hide();
                    $(this).closest('ul').hide();
                });

                var char_this = $(this).attr('char');
                $('#'+char_this).show();
            }else{
                $('.menu_type_char ul').hide();
            } 
        });
    });
    
    function hide_char(){
        $(".menu_type_char ul li").each(function(){
            var char_ = $(this).attr('char');
            $('#'+char_).hide();
            $(this).closest('ul').hide();
        });
        $('#container').show();
    }
    
    $(document).ready(function() {
        $('.close_soban').on('click',function(){
            $('.soban_hangngay').css('z-index','-1000');
        });

        $('.soban_theongay').on('click',function(){
            $('.soban_hangngay').css('z-index','1000');
        });
    });
    
</script>




















