
<style type="text/css">
    .content_tad{padding: 10px;margin-top: -20px;}
    .content_tad table{width: 100%; margin: 20px 0px; text-align: center;}
    .content_tad table th{background: #00BA8B !important; color:#FFF;padding: 5px 0px;border: 1px solid #ffffff !important;    border-bottom: 2px solid #FFF !Important;}
    .content_tad table tr td{border: 1px solid #ffffff !important; text-align: center;}
    .content_tad table tr:nth-child(2n){background: #CEDFD5 !important; color:#000;padding: 5px 0px;}
    .content_tad table tr:nth-child(3n){background: #E8F0EB !important; color:#000;padding: 5px 0px}

    .content_tad table span{font-size: 10px}

    .hr .header_tad{font-size: 18px;color: #008B56;font-weight: bold;height: 45px;line-height: 44px;}

</style>

<div class="page-header" style="margin: 18px 0 -10px 0;border-bottom: none;">
    <h1></h1>
</div>

<div class="main hr">
    <div class="container-fluid">

        <div class="row">
            <div class="table_main" style="height:auto">
                <div class="header_tad"><i class="icon-list-alt"></i> Danh sách Sales <?= $this->params['rank'];?> sao theo khu vực <a href="<?php echo '/bi/export-rank-star-area?id='.$this->params['id'].'&rank='.$this->params['rank'].'&regional='.$this->params['regional']?>" class="btn btn-success pull-right">Export</a></div>


                <div class="content_tad">
                    <div id = 'turnover_pass_probation1'>

                        <!-- ------------------------------------------>

                        <style>
                            .modal table tr td.span1{
                                min-width: 100px!important;
                            }
                        </style>
                        <input type="hidden" id="trainer_id" name="trainer_id" value="<?php echo $this->params['trainer_id'];?>">
                        <input type="hidden" id="type" name="type" value="<?php echo $this->params['type'];?>">
                        <input type="hidden" id="month" name="month" value="<?php echo $this->params['month'];?>">
                        <input type="hidden" id="year" name="year" value="<?php echo $this->params['year'];?>">

                        <table class="table table-bordered">
                            <thead>
                            <tr>
                                <?php echo $this->sorting(array(
                                    '#',
                                    'Khu vực',
                                    'Số lượng',
                                    'Action'
                                ),
                                    $this->url, $this->sort, $this->desc); ?>
                            </tr>
                            </thead>
                            <tbody>
                            <?php
                            if (isset($this->result) and $this->result): ?>
                                <?php foreach ($this->result as $k=>$value): ?>
                                    <tr>
                                        <td>
                                            <?php

                                            $inc = $k + 1;
                                            echo $inc;
                                            ?>
                                        </td>
                                        <td><?php echo $this->areas[$value['area_id']];?></td>
                                        <td><?php echo $value['quantity'];?></td>

                                        <td>
                                            <a href="<?php echo HOST.'bi/rank-star-staff-sales?rank='.$this->params['rank'].'&bigarea_id='.$this->params['bigarea_id'].'&area_id='.$value['area_id'];?>">View</a>

                                        </td>
                                    </tr>
                                <?php endforeach;?>
                            <?php endif;?>

                            </tbody>
                        </table>
                        <div class="paging">
                            <?php echo $this->paging($this->total, $this->limit, $this->offset, $this->url);?>
                        </div>

                        <!--- ---------------------------------------->

                    </div>

                </div>
            </div>

        </div><!-- row-->

    </div>
</div>

<style type="text/css" media="screen">
    #a_action{
        text-decoration: underline;
        cursor: pointer;
    }
    #addnote{
        width: 500px;
        margin: 0 auto;
    }
    .content_modal{
        margin: 0 auto;
        text-align: center;
    }
</style>

<div id="addnote" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-header">
        <h3 id="myModalLabel">Đối tác</h3>
    </div>
    <div class="modal-body">

        <div class="control-group content_modal">
            <div class="controls dealer">

            </div>
        </div>

    </div>

    <div class="modal-footer">
        <button class="btn btn_close" data-dismiss="modal" aria-hidden="true">Close</button>
    </div>
</div>


<script>
    $(document).ready(function(){

        $(document).on('click', "#a_action", function() {
            var region = $(this).attr('val');
            var type =$('#type').val();
            var trainer_id =$('#trainer_id').val();
            var month =$('#month').val();
            var year =$('#year').val();

            $.ajax({
                url: "<?php echo HOST;?>bi/ajax-list-dealer",
                type: "GET",
                dataType: "text",
                context: this,
                data: "region="+region+"&type="+type+"&trainer_id="+trainer_id+"&month="+month+"&year="+year,
                beforeSend: function() {
                    $(".loading").show();
                },
                success: function(result){

                    if(result)
                    {
                        var data = jQuery.parseJSON(result);
                        console.log(data);

                        result_dealer="";
                        total_pg = 0;
                        total_course = 0;
                        for(i = 0;i < data.length; i++){

                            quantity_course_ = data[i].quantity_course ? data[i].quantity_course : 0;
                            quantity_pg_ = data[i].quantity_pg ? data[i].quantity_pg : 0;

                            total_pg += parseInt(quantity_pg_);
                            total_course += parseInt(quantity_course_);

                            result_dealer += "\
                                            <tr>\
                                                <td>"+data[i].name+"</td>\
                                                <td>"+data[i].name_dealer+"</td>\
                                                <td >"+quantity_course_+"</td>\
                                                <td>"+quantity_pg_+"</td>\
                                                \
                                            </tr>";
                        }

                        dealer = '<table class="table" >\
                                       <tr>\
                                           <th>Khu vực</th>\
                                           <th>Đối tác</th>\
                                           <th>Số lượng khóa học</th>\
                                           <th>Số lượng PG</th>\
                                       </tr>\
                                       '+result_dealer+'\
                                       <tr>\
                                           <th colspan="2">Total</th>\
                                           <th>'+total_course+'</th>\
                                           <th>'+total_pg+'</th>\
                                       </tr>\
                                     </table>';
                        $('.dealer').html(dealer);
                    }
                    else
                    {

                    }
                },
                error:function(){

                }
            });

        });

    });
</script>