<style>
.report{display: block;float: right;margin-left: 25px;color: #FFF;background: #008B56;border-radius: 4px;padding: 5px 14px;}
.report:hover{color: #FFF;text-decoration: none;}
.team{width: 100px !important;margin-left: 3px !important;
}

table th{
    text-align: center;
}
</style>

<div class="page-header" style="margin: 18px 0 -10px 0;border-bottom: none;">
    <h1>Cộng điểm nhân viên</h1>
</div>

<!--
<div class="accordion" id="accordion2">
    <div class="accordion-group">
        <div class="accordion-heading">
            <a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion2" href="#collapseTwo">
                Search
            </a>
        </div>
        <div id="collapseTwo" class="accordion-body collapse" style="height: 0px;">
            <div class="accordion-inner">
                <form class="form-search form-horizontal" method="get">
                    <div class="row">
                        <div class="span5">
                            <div class="control-group">
                                <label for="area_id" class="span2">Area</label>
                                <select <?php if ($this->isSales):?> disabled<?php endif;?> id="area_id" name="area" class="span3">
                                    <option value="">Choose</option>
                                    <?php
                                    if ($this->areas) :
                                        foreach ($this->areas as $id => $area):
                                            ?>
                                            <option value="<?php echo $id;?>" <?php if (isset($this->params['area']) and $this->params['area']==$id):?>selected<?php endif;?>><?php echo $area;?></option>
                                        <?php
                                        endforeach;
                                    endif;
                                    ?>
                                </select>
                            </div>
                        </div>
                        
                    </div>


                    <button type="submit" class="btn btn-primary">Search</button>
                </form>

            </div>
        </div>
    </div>
</div>
-->

<div class="main">
    <div class="container-fluid">   

        <div class="right-page">
            <div class="content_post col-md-12">
                 <?php
                        if (isset($this->messages) and $this->messages)
                            foreach ($this->messages as $message):
                                echo '<div class="alert alert-success">'.$message.'</div>';
                            endforeach;

                        if (isset($this->messages_error) and $this->messages_error)
                            foreach ($this->messages_error as $message):
                                echo '<div class="alert alert-error">'.$message.'</div>';
                            endforeach;
                        ?>
                <div class="content_check_trainer row">

                    <div class="right_check col-md-12">
                        
                        <form method="POST">
                        <table id="table_lesson" class="table table-striped responsive-utilities jambo_table">
                            <thead>
                                <tr>
                                    <th >#</th>
                                    <th >TÊN NHÂN VIÊN</th>
                                    <th >EMAIL</th>
                                    <th >+50</th>
                                    <th >+100</th>
                                    <th >+200</th>
                                </tr>                       
                            </thead>
                            <?php
                            foreach($this->staff as $key => $value){ 
                                $stt=$key+1;
                            ?>
                            <tr>
                                <td><?php echo $stt;?></td>
                                <td><?php echo $value['fullname'];?></td>
                                <td><?php echo $value['email'];?></td>
                                <td>
                                    <input class="check_main" type="checkbox" name="staff_main[<?php echo $value['id'];?>][]" value="9">
                                    <input class="check_content" type="text" name="content[<?php echo $value['id'];?>][9]">
                                </td>
                                <td>
                                    <input class="check_main" type="checkbox" name="staff_main[<?php echo $value['id'];?>][]" value="8">
                                    <input class="check_content" type="text" name="content[<?php echo $value['id'];?>][8]">
                                </td>
                                <td>
                                    <input class="check_main" type="checkbox" name="staff_main[<?php echo $value['id'];?>][]" value="7">
                                    <input class="check_content" type="text" name="content[<?php echo $value['id'];?>][7]">
                                </td>
                            </tr>
                            <?php } ?>
                        </table>
                        <div class="block"><input type="submit" name="submit" value="Xác Nhận" class="btn btn-primary" /></div>
                    </form>
                        <div class="paging">
                            <?php echo $this->paging($this->total, $this->limit, $this->offset, $this->url);?>
                        </div>
                    </div><!-- right_check-->
                </div>
            </div>
        </div>
    
    </div>
</div>
<script type="text/javascript">
$(document).ready(function(){ 

    $(".check_main").change(function() {

        if(this.checked) {
            $(this).closest('td').find('.check_content').attr('required', 'true');
        }
        else{
            $(this).closest('td').find('.check_content').removeAttr('required');
        }

    });

});
</script>





