<div class="page-header" style="margin: 18px 0 -10px 0;border-bottom: none;">
    <h1>Dashboard</h1>
</div>

<div class="main">
    <div class="container-fluid">
        <div class="row">
            <div class="table_main">
                <div class="header_tad"><i class="icon-list-alt"></i> SALE IN</div>
                <div class="content_tad">
                    <div class="menu_sale">                        
                        <a  href="<?php echo HOST; ?>timing/analytics-online"><div class="row_tad">Đại lý</div></a>
                    </div>

                    <div class="dim">
                    </div>    

                    <div class="menu_type_char">
                        <span class="menu_btn"><i class="icon-tasks"></i></span>
                        <ul>
                            <!-- Điều chỉnh thêm ở đây -->
                            <li char='container'>   Sell In 6 tháng gần nhất        </li>
                            <li char='doanhthu'>    Doanh thu 6 tháng gần nhất (80%)</li>    
                            <li char='activated'>   Số Active 6 tháng gần nhất      </li>    
                        </ul>
                    </div>
                    <div id="container" style="width: auto;height: auto; margin: 0 auto;"></div>
                    <div id="doanhthu" style="width: 100%;height: auto; margin: 0 auto;"></div>  
                    <div id="activated" style="width: 100%;height: auto; margin: 0 auto;"></div>  
                </div>
            </div>
        </div>
       
    </div>
</div>
<script>
$(function () {    
    
     $('#container').highcharts({
    chart: {
    type: 'column',
            marginLeft: 10,
            marginRight: 10,
    },
            title: {
            text: 'Sell in 6 tháng gần nhất',
                    style:{
                    color: '#008B56',
                            fontSize: '16px'
                    }
            },
            xAxis: {
            categories: [
<?php
foreach ($this->list_date as $key => $value) {
    echo "'Tháng " . intval(date('m', strtotime($value))) . "',";
}
?>
            ]
            },
            yAxis: {
            min: 0,
                    title: {
                    text: '',
                            "textAlign": 'right',
                            "rotation": 0,
                            x: 35,
                            y: - 170
                    },
                    stackLabels: {
                    enabled: true,
                            style: {
                            fontWeight: 'bold',
                                    color: (Highcharts.theme && Highcharts.theme.textColor) || '#000',
                                    fontSize: '10px'
                            },
                    }
            },
            legend: {
                enabled: $(window).width() > 480 ? true : false,
                align: 'center',
                x: - 30,
                verticalAlign: 'bottom',
                y: 20,
                floating: true,
                backgroundColor: (Highcharts.theme && Highcharts.theme.background2) || 'white',
                borderColor: 'none',
                borderWidth: 1,
                shadow: false
            },
            tooltip: {
                headerFormat: '<b>{point.x}</b><br/>',
                pointFormat: '{series.name}: <b>{point.y}</b> ({point.percentage:.2f}%)<br/>'
            },
            plotOptions: {
            column: {
            stacking: 'normal',
                    dataLabels: {
                        enabled: true,
                        style:{
                            color: '#000',
                            fontSize: '11px',
                            fontWeight: 'bold',
                            textOutline: false,
                        }
                    }
            },
                    line: {
                    dataLabels: {
                    enabled: true,
                            backgroundColor: 'white',
                            borderColor: "#f9bebe",
                            borderWidth: 1,
                            padding: 2,
                            color: (Highcharts.theme && Highcharts.theme.dataLabelsColor) || 'red',
                            style: {
                            fontSize: '9px'
                            },
                    }
                    }
            },
            exporting: {
            buttons: [
            {
            enabled: false,
            }
            ]
            },
            series: [
<?php foreach ($this->name_chart as $k => $v): ?>
                {
                name: '<?php echo $v; ?>',
                        yAxis: 0,
                        data: [
    <?php
    foreach ($this->list_date as $key => $value) {
        $m = intval(date('m', strtotime($value)));
        $tgdd = (isset($this->data_sellin_dealer[$k][$m]['sum_acc']) and $this->data_sellin_dealer[$k][$m]['sum_acc']) ? $this->data_sellin_dealer[$k][$m]['sum_acc'] : 0;
        echo $tgdd . ",";
    }
    ?>
                        ],
                        stack: 'male'
                },
<?php endforeach; ?>
            ]
    });

    $('#doanhthu').highcharts({
        chart: {
        type: 'column',
                marginLeft: 10,
                marginRight: 10
        },
        title: {
        text: 'Doanh thu 6 tháng gần nhất',
            style:{
            color: '#008B56',
                    fontSize: '16px'
            }
        },
        xAxis: {
            categories: [
                <?php
                    foreach ($this->list_date as $key => $value) {
                        echo "'Tháng " . intval(date('m', strtotime($value))) . "',";
                    }
                ?>
            ]
        },
        yAxis: {
            min: 0,
            title: {
                text: '',
                        "textAlign": 'right',
                        "rotation": 0,
                        x: 40,
                        y: - 170
                },
            stackLabels: {
            enabled: true,
                style: {
                    fontWeight: 'bold',
                    color: (Highcharts.theme && Highcharts.theme.textColor) || '#000',
                    fontSize: '10px'
                }
            }
        },
        legend: {
            align: 'center',
            x: - 30,
            verticalAlign: 'bottom',
            y: 20,
            floating: true,
            backgroundColor: (Highcharts.theme && Highcharts.theme.background2) || 'white',
            borderColor: 'none',
            borderWidth: 1,
            shadow: false
        },
        tooltip: {
            headerFormat: '<b>{point.x}</b><br/>',
            pointFormat: '{series.name}: <b>{point.y}</b> ({point.percentage:.2f}%)<br/>'
        },
        plotOptions: {
            column: {
            stacking: 'normal',
                dataLabels: {
                    enabled: true,
                    color: (Highcharts.theme && Highcharts.theme.dataLabelsColor) || 'white',
                    style:{
                        color: '#000',
                        fontSize: '11px',
                        fontWeight: 'bold',
                        textOutline: false,
                    }
                }
            },
            line: {
            dataLabels: {
                enabled: true,
                backgroundColor: 'white',
                borderColor: "#f9bebe",
                borderWidth: 1,
                padding: 2,
                color: (Highcharts.theme && Highcharts.theme.dataLabelsColor) || 'red',
                    style: {
                        fontSize: '9px'
                    },
                }
            }
        },
        exporting: {
            buttons: 
            [{
                enabled: false,
            }]
        },
           series: [
           <?php foreach ($this->name_chart as $k => $v): ?>
                {
                    name: '<?php echo $v; ?>',
                    yAxis: 0,
                    data: [
                       <?php
                        foreach ($this->list_date as $key => $value) {
                            $m = intval(date('m', strtotime($value)));
                            $tgdd = (isset($this->data_sellin_dealer[$k][$m]['total_price']) and $this->data_sellin_dealer[$k][$m]['total_price']) ? $this->data_sellin_dealer[$k][$m]['total_price'] : 0;
                            echo $tgdd . ",";
                        }
                        ?>
                    ],
                    stack: 'male'
                },               
                <?php endforeach; ?>
        ]
    });
    
    $('#activated').highcharts({
    chart: {
    type: 'column',
            marginLeft: 10,
            marginRight: 10,
    },
            title: {
            text: 'Active 6 tháng gần nhất',
                    style:{
                    color: '#008B56',
                            fontSize: '16px'
                    }
            },
            xAxis: {
            categories: [
<?php
foreach ($this->list_date as $key => $value) {
    echo "'Tháng " . intval(date('m', strtotime($value))) . "',";
}
?>
            ]
            },
            yAxis: {
            min: 0,
                    title: {
                    text: '',
                            "textAlign": 'right',
                            "rotation": 0,
                            x: 35,
                            y: - 170
                    },
                    stackLabels: {
                    enabled: true,
                            style: {
                            fontWeight: 'bold',
                                    color: (Highcharts.theme && Highcharts.theme.textColor) || '#000',
                                    fontSize: '10px'
                            },
                    }
            },
            legend: {
                enabled: $(window).width() > 480 ? true : false,
                align: 'center',
                x: - 30,
                verticalAlign: 'bottom',
                y: 20,
                floating: true,
                backgroundColor: (Highcharts.theme && Highcharts.theme.background2) || 'white',
                borderColor: 'none',
                borderWidth: 1,
                shadow: false
            },
            tooltip: {
                headerFormat: '<b>{point.x}</b><br/>',
                pointFormat: '{series.name}: <b>{point.y}</b> ({point.percentage:.2f}%)<br/>'
            },
            plotOptions: {
            column: {
            stacking: 'normal',
                    dataLabels: {
                        enabled: true,
                        style:{
                            color: '#000',
                            fontSize: '11px',
                            fontWeight: 'bold',
                            textOutline: false,
                        }
                    }
            },
                    line: {
                    dataLabels: {
                    enabled: true,
                            backgroundColor: 'white',
                            borderColor: "#f9bebe",
                            borderWidth: 1,
                            padding: 2,
                            color: (Highcharts.theme && Highcharts.theme.dataLabelsColor) || 'red',
                            style: {
                            fontSize: '9px'
                            },
                    }
                    }
            },
            exporting: {
            buttons: [
            {
            enabled: false,
            }
            ]
            },
            series: [
<?php foreach ($this->name_chart as $k => $v): ?>
                {
                name: '<?php echo $v; ?>',
                        yAxis: 0,
                        data: [
    <?php
    foreach ($this->list_date as $key => $value) {
        $m = intval(date('m', strtotime($value)));
        $tgdd = (isset($this->data_sellin_dealer[$k][$m]['total_activated']) and $this->data_sellin_dealer[$k][$m]['total_activated']) ? $this->data_sellin_dealer[$k][$m]['total_activated'] : 0;
        echo $tgdd . ",";
    }
    ?>
                        ],
                        stack: 'male'
                },
<?php endforeach; ?>
            ]
    });
});


</script>

<script>
$(function () {

    hide_char();
    $('.menu_btn').on('click', function(){
    if ($('.menu_type_char ul').css('display') == 'none')
    {
    $('.menu_type_char ul').show();
    }
    else{
    $('.menu_type_char ul').hide();
    }
    });
    $('.menu_type_char ul li').on('click', function(){

    var attr = $(this).attr('char');
    if (typeof attr !== typeof undefined && attr !== false) {
    $(".menu_type_char ul li").each(function(){
    var char_ = $(this).attr('char');
    $('#' + char_).hide();
    $(this).closest('ul').hide();
    });
    var char_this = $(this).attr('char');
    $('#' + char_this).show();
    } else{
    $('.menu_type_char ul').hide();
    }

    });
    });
    function hide_char(){
    $(".menu_type_char ul li").each(function(){
    var char_ = $(this).attr('char');
    $('#' + char_).hide();
    $(this).closest('ul').hide();
    });
    $('#container').show();
    }
</script>
