<style type="text/css">
    .info_details table{width: 100%;margin-bottom: 0px;}
    .info_details table th{text-align: left;padding: 5px}
    .info_details table td{text-align: left;padding: 5px}

    .table_main_store{    overflow: hidden;margin-bottom:30px;position:relative;display: block;float: left;min-height: 463px;border-bottom: 1px solid #E9E9E9;background: white 0px 20px no-repeat;border: 1px solid #E6E6E6;-moz-box-shadow: 0px 3px 2px #d6d6d6;-webkit-box-shadow: 0px 3px 2px #d6d6d6;box-shadow: 0px 3px 2px #d6d6d6;padding: 1px;}
    .table_main_store2{overflow: hidden;margin-bottom:30px;margin-left: 7px;display: block;float: left;border-radius: 2px;border-bottom: 1px solid #E9E9E9;background: white 0px 20px no-repeat;border: 1px solid #E6E6E6;-moz-box-shadow: 0px 3px 2px #d6d6d6;-webkit-box-shadow: 0px 3px 2px #d6d6d6;box-shadow: 0px 3px 2px #d6d6d6;padding: 1px;}
    .table_main_store:nth-child(2) .row_tad{}
    .table_main_store2:nth-child(1) .row_tad{}
</style>

<div class="main">
    <div class="page-header">
        <!--
        <div class="link">
            <ul>
                <li><a href="<?php echo HOST;?>bi"><i class="icon-home"></i> Home</a></li>
                <li><a href="#"><i class="icon-chevron-right"></i> Area: Thanh Hóa</a></li>
                <li><a><i class="icon-chevron-right"></i> Dealer: <?php if(isset($this->store) && $this->store){echo $this->store->name;};?></a></li>
            </ul>
        </div>
        -->
        <h1>Store</h1>
    </div>
    
    <div class="container-fluid">
        <legend>
            
            <?php if(isset($this->store) && $this->store){echo $this->store['name'];};?> -
            <small><?php if(isset($this->store) && $this->store){echo $this->store['company_address'];};?></small>

            <span class="label label-success">on</span>
        </legend>
    </div>

    <div class="container-fluid">   

        <!-- info -->
        <div class="info">
            <div class="row">
                
                <div class="span6">
                    <div class="table_main">
                        <div class="header_tad"><i class="icon-list-alt"></i> THÔNG TIN SHOP</div>
                        <div class="content_tad">
                            <table style="width: 100%;" id='bi-table'>
                                <tr>
                                    <td>Tên shop:</td>
                                    <td><?php if(isset($this->store) && $this->store){echo $this->store['name'];};?></td>
                                </tr>
                                <tr>
                                    <td>Số điện thoại:</td>
                                    <td><?php if(isset($this->store) && $this->store){echo $this->store['phone_number'];};?></td>
                                </tr>
                                <tr>
                                    <td>Địa chỉ:</td>
                                    <td><?php if(isset($this->store) && $this->store){echo $this->store['company_address'];};?></td>
                                </tr>
                                <tr>
                                    <td>Địa chỉ giao hàng:</td>
                                    <td><?php if(isset($this->store) && $this->store){echo $this->store['shipping_address'];};?></td>
                                </tr>
                                <tr>
                                    <td>Ngày tạo:</td>
                                    <td><?php if(isset($this->store) && $this->store){echo date('d/m/Y',strtotime($this->store['created_at']));};?></td>
                                </tr>
                            </table>
                            </div><!-- content_tad-->
                    </div><!-- table_main-->
                </div><!-- span6-->
                
                <div class="job_details span6">
                    <div class="job_content">
                        <!-- The Timeline -->
                        <ul class="timeline" style="margin-top: -10px;">
                            <li>
                                <div class="direction-l">
                                    <div class="flag-wrapper">
                                        <span class="flag flag_trade"></span>
                                        <span class="time-wrapper"></span>
                                    </div>
                                    <div class="desc">Tổng đầu tư trong 3 tháng.</div>
                                </div>
                            </li>
                            
                            <li>
                                <div class="direction-r">
                                    <div class="flag-wrapper">
                                        <span class="time-wrapper"><span class="time"> Sản phẩm</span></span>
                                        <span class="flag"><?php echo (isset($this->sellout_total['num']) and $this->sellout_total['num']) ? $this->sellout_total['num'] : 0;?></span>
                                    </div>
                                    <div class="desc">Tổng số sellout trong 3 tháng</div>
                                </div>
                            </li>
                            
                            <li>
                                <div class="direction-l">
                                    <div class="flag-wrapper">
                                        <span class="flag"><?php echo (isset($this->sellout_total['total_value']) and $this->sellout_total['total_value']) ? number_format($this->sellout_total['total_value'],0,'',',') : 0;?> VNĐ</span>
                                        <span class="time-wrapper"></span>
                                    </div>
                                    <div class="desc">Doanh thu trong 3 tháng.</div>
                                </div>
                            </li>
                        </ul>
                        <!-- END The Timeline -->
                    </div>
                </div>
                
            </div>
        </div>

        <!-- END info -->

        
        <div class="row">
            <!-- CHART -->
            <!-- sellout -->
            <div class="span6">
                <div class="table_main"> 
                    <div class="header_tad"><i class="icon-list-alt"></i> SALE</div>
                    <div class="content_tad">
                        <div class="menu_sale">
                        </div>
                        
                        <div class="menu_type_char">
                           <span class="menu_btn"><i class="icon-tasks"></i></span>
                           <ul>
                                <li char='container'>Sell out 3 tháng gần nhất</li>
                                <li char='doanhthu'>Doang thu 3 tháng gần nhất</li>
                                <li char='sellout_sp'>Sell out Sản phẩm chính</li>
                                <li char='sellout_sp_value'>Doanh thu Sản phẩm chính</li>
                                <li class='soban_theongay'>Số bán theo ngày</li>
                           </ul>
                        </div>
                        
                        <div id="container" style="width: 100%;height: auto; margin: 0 auto;"></div>
                        <div id="doanhthu" style="width: 100%;height: auto; margin: 0 auto;"></div>
                        <div id="sellout_sp" style="width: 100%;height: auto; margin: 0 auto;"></div>
                        <div id="sellout_sp_value" style="width: 100%;height: auto; margin: 0 auto;"></div>
                        <div id="container_temp" style="width: auto;height: auto; margin: 0 auto;opacity: 0.0;height: 1px"></div>
                    </div>
                </div>
            </div>
            <!-- end sellout-->
            
            
            <!-- trade TỔNG ĐẦU TƯ -->
            <div class="span6">
                <div class='table_main'>
                    <div class="header_tad"><i class="icon-list-alt"></i> DANH SÁCH SALE - PG</div>
                    <div class="content_tad">
                        
                        <div class="content_content" style="min-height: 405px;">
                            <table style="width: 100%;" id='bi-table'>
                                <tr>
                                    <th>#</th>
                                    <th>Tên</th>
                                    <th>Số điện thoại</th>
                                    <th>Email</th>
                                    <th>Vị trí</th>
                                </tr>
                                <?php $stt = 0;?>
                                <?php if(isset($this->staff) and $this->staff):?>
                                <?php foreach($this->staff as $key=>$value):?>
                                <?php 
                                    $stt++;
                                    $link = (isset($value['title']) and $value['title'] == SALES_TITLE) ? HOST."bi/sale-details?id=".$value['staff_id'] : HOST."bi/pg-details?id=".$value['staff_id'];
                                ?>
                                <tr>
                                    <td><?php echo $stt;?></td>
                                    <td><a href="<?php echo $link;?>"><?php echo $value['firstname'];?> <?php echo $value['lastname'];?></a></td>
                                    <td><?php echo $value['phone_number'];?></td>
                                    <td><?php echo $value['email'];?></td>
                                    <td>
                                        <?php echo $value['title_name'];?> 


                                    </td>
                                </tr>
                                <?php endforeach;?>
                                <?php endif;?>


                                <?php if(isset($this->staff_leader) and $this->staff_leader):?>
                                <?php foreach($this->staff_leader as $key=>$value):?>
                                <?php 
                                    $stt++;
                                    $link = (isset($value['title']) and $value['title'] == SALES_TITLE) ? HOST."bi/sale-details?id=".$value['staff_id'] : HOST."bi/leader-details?id=".$value['staff_id'];
                                ?>
                                <tr>
                                    <td><?php echo $stt;?></td>
                                    <td><a href="<?php echo $link;?>"><?php echo $value['firstname'];?> <?php echo $value['lastname'];?></a></td>
                                    <td><?php echo $value['phone_number'];?></td>
                                    <td><?php echo $value['email'];?></td>
                                    <td>
                                        <?php echo $value['title_name'];?> 


                                    </td>
                                </tr>
                                <?php endforeach;?>
                                <?php endif;?>

                            </table>
                            
                          
                        </div><!-- content-content-->
                        
                    </div>
                </div>
            </div><!-- span6-->
            <!-- end trade TỔNG ĐẦU TƯ-->
            

        </div><!-- row-->


        <div class="row">
            <div class="table_main" style="min-height: 100px">
                <div class="header_tad"><i class="icon-list-alt"></i> ĐẦU TƯ</div>
                <div class="content_tad">
                    <div id="chart_hanmuc" style="width: 100%;height: auto; margin: 0 auto;"></div>
                </div>  
            </div><!-- table_main-->
        </div>

        
        <div class="row store_details">
            
            <!-- right detail -->
            <div class="span6">
                <div class="table_main2">
                    <div class="block">
                        <div class="title">HÌNH ẢNH CHECKSHOP</div>
                        <div class="content_block checkshop_img">
                            



<div id="slider" class="flexslider">
  <ul class="slides">
    <?php if(isset($this->investments) and $this->investments):?>
    <?php foreach($this->investments as $key=>$value):?>

    <?php if(isset($value['photo']) and $value['photo']):?>    
    <li>
      <img src="http://trade-marketing.opposhop.vn/photo/investment/<?php echo $value['id'];?>/<?php echo $value['photo'];?>" />
    </li>
    <?php  endif;?>

    <?php if(isset($value['photo1']) and $value['photo1']):?>
    <li>
        <img src="http://trade-marketing.opposhop.vn/photo/investment/<?php echo $value['id'];?>/<?php echo $value['photo1'];?>" alt="<?php echo $value['name'];?>">
    </li>
    <?php  endif;?>

    <?php if(isset($value['photo2']) and $value['photo2']):?>
    <li>
        <img src="http://trade-marketing.opposhop.vn/photo/investment/<?php echo $value['id'];?>/<?php echo $value['photo2'];?>" alt="<?php echo $value['name'];?>">
    </li>
    <?php  endif;?>

    <?php endforeach;?>
    <?php endif;?>
  </ul>
</div>
<div id="carousel" class="flexslider">
  <ul class="slides">
    <?php if(isset($this->investments) and $this->investments):?>
    <?php foreach($this->investments as $key=>$value):?>

    <?php if(isset($value['photo']) and $value['photo']):?>    
    <li>
      <img src="http://trade-marketing.opposhop.vn/photo/investment/<?php echo $value['id'];?>/<?php echo $value['photo'];?>" />
    </li>
    <?php  endif;?>

    <?php if(isset($value['photo1']) and $value['photo1']):?>
    <li>
        <img src="http://trade-marketing.opposhop.vn/photo/investment/<?php echo $value['id'];?>/<?php echo $value['photo1'];?>" alt="<?php echo $value['name'];?>">
    </li>
    <?php  endif;?>

    <?php if(isset($value['photo2']) and $value['photo2']):?>
    <li>
        <img src="http://trade-marketing.opposhop.vn/photo/investment/<?php echo $value['id'];?>/<?php echo $value['photo2'];?>" alt="<?php echo $value['name'];?>">
    </li>
    <?php  endif;?>

    <?php endforeach;?>
    <?php endif;?>
  </ul>
</div>








<link rel="stylesheet" type="text/css" href="<?php echo HOST;?>bootstrap3/flexslider/flexslider.css">
<script type="text/javascript" src="<?php echo HOST;?>bootstrap3/flexslider/jquery_flexslider.js"></script>

<style type="text/css">
    .flexslider .slides img{height: auto;max-height: 400px;width: auto !important;display: block;}
    #carousel .slides img{height: auto;max-height: 150px;width: auto !important;display: block;}
</style>

<script type="text/javascript">
  $(window).on('load', function() {
  // The slider being synced must be initialized first
  $('#carousel').flexslider({
    animation: "slide",
    controlNav: false,
    animationLoop: false,
    slideshow: false,
    itemWidth: 210,
    itemMargin: 5,
    asNavFor: '#slider'
  });
 
  $('#slider').flexslider({
    animation: "slide",
    controlNav: false,
    animationLoop: false,
    slideshow: false,
    sync: "#carousel"
  });
});
</script>

  


                             
                        </div>
                    </div><!-- block-->
                    </div>
            </div><!-- span6-->
            <!-- end left detail -->

            <div class="span6">
                <div class="table_main2">
                    <div class="header_tad"><i class="icon-list-alt"></i> CÁC ĐỢT ĐẦU TƯ</div>
                    
                    
                    <div class="content_tad">
                        <div class="content_content">
                            <table style="width:100%" id='bi-table'>
                                <tr>
                                    <th>#</th>
                                    <th>Name</th>
                                    <th>Cost</th>
                                    <th>Number</th>
                                    <th>Date</th>
                                </tr>
                                <?php $stt = 0;?>
                                <?php $total_money = 0;?>
                                <?php if(isset($this->total_trade) and $this->total_trade):?>
                                <?php foreach($this->total_trade as $key => $value):?>
                                <?php $stt++;?>
                                <?php $total_money += $value['money'];?>
                                <tr>
                                    <td><?php echo $stt;?></td>
                                    <td><?php echo $value['cat_name2'];?></td>
                                    <td><?php echo number_format($value['money']);?></td>
                                    <td><?php echo $value['quantity'];?></td>
                                    <td><?php echo date("d/m/Y",strtotime($value['invested_at']));?></td>
                                </tr>
                                <?php endforeach;?>
                                <?php endif;?>

                                <tr>
                                    <td colspan="2">Total: </td>
                                    <td><?php echo number_format($total_money);?></td>
                                    <td></td>
                                    <td></td>
                                </tr>
                            </table>
                        </div>
                    </div><!-- content_tad-->
                    

                </div>
            </div><!-- span-->
            
        </div><!-- row-->


        
    </div><!-- container-->
    
    
    
</div>

<div class="soban_hangngay">
    <div class='close_soban'><i class="icon-remove"></i></div>
    <div id="soban_hang_ngay" style="width: auto;height: auto; margin: 0 auto;"></div>
</div>

<!-- gallery modal-->
<script type="text/javascript" src="/bootstrap3/flexslider/jquery_flexslider.js"></script>
<link rel="stylesheet" href="/bootstrap3/flexslider/flexslider.css">

<div id="modal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" style="margin: 0 auto;width:auto"></div>
<!-- end gallery modal-->
<script type="text/javascript" src="/js/bootstrap-modal.js"></script>
<script type="text/javascript" src="/js/bootstrap-modalmanager.js"></script>
<link rel="stylesheet" type="text/css" href="/css/bootstrap-modal.css"/>


<script>
    
$(function () {
    
    $('#container_temp').highcharts({
        chart: {
            type: 'column',
            marginLeft: 10,
            marginRight: 10
        },
        xAxis: {
            categories: [
            <?php foreach ($this->list_date as $key => $value) {
                echo "'Tháng ".intval(date('m', strtotime($value)))."',";
            } ?>
            ]
        },
        yAxis: {
            min: 0,
            title: {
                text: 'Chiếc',
                "textAlign": 'right',
                "rotation": 0,
                x: 35,
                y: -170
            },
            stackLabels: {
                enabled: true,
                style: {
                    fontWeight: 'bold',
                    color: (Highcharts.theme && Highcharts.theme.textColor) || '#000',
                    fontSize: '10px'
                },
            }
        },
        series: [{
            name: 'TGDĐ',
            yAxis: 0,
            data: [
            94583,133139,0,0,                ],
            stack: 'male'
        }]
    });


    
    $a = $('g.highcharts-series-0').get(0).getBBox().width;
    var width_chart = -(($a/3)-7);
    
    Highcharts.setOptions({
        lang: {
            decimalPoint: ',',
            thousandsSep: '.'
        }
    });

    $('#container').highcharts({
        chart: {
            type: 'column',
            marginLeft: 10,
            marginRight: 10
        },
        title: {
            text: 'Sell out 3 tháng gần nhất',
            style:{
                color: '#008B56',
                fontSize: '16px'
            }
        },
        xAxis: {
            categories: [
            <?php foreach ($this->list_date as $key => $value) {
                echo "'Tháng ".intval(date('m', strtotime($value)))."',";
            } ?>
            ]
        },
        yAxis: {
            min: 0,
            title: {
                text: '',
                "textAlign": 'right',
                "rotation": 0,
                x: 35,
                y: -170
            },
            stackLabels: {
                enabled: true,
                style: {
                    fontWeight: 'bold',
                    color: (Highcharts.theme && Highcharts.theme.textColor) || '#000',
                    fontSize: '10px'
                },
            }
        },
        legend: {
            align: 'center',
            x: -30,
            verticalAlign: 'bottom',
            y: 20,
            floating: true,
            backgroundColor: (Highcharts.theme && Highcharts.theme.background2) || 'white',
            borderColor: 'none',
            borderWidth: 1,
            shadow: false
        },
        tooltip: {
            headerFormat: '<b>{point.x}</b><br/>',
            pointFormat: '{series.name}: {point.y}<br/>Total: {point.stackTotal}'
        },
        plotOptions: {
            column: {
                stacking: 'normal',
                dataLabels: {
                    enabled: true,
                    color: (Highcharts.theme && Highcharts.theme.dataLabelsColor) || 'white',
                    style: {
                        textShadow: '0 0 1px black',
                        fontSize: '10px'
                    },
                }
            },
            line: {
                dataLabels: {
                    enabled: true,
                    backgroundColor: 'white',
                    borderColor: "#f9bebe",
                    borderWidth: 1,
                    padding: 2,
                    color: (Highcharts.theme && Highcharts.theme.dataLabelsColor) || 'red',
                    style: {
                        fontSize: '9px'
                    },
                }
            }
        },
        exporting: {
            buttons: [
                {
                    enabled: false,
                }
            ]
        },
        series: [{
            name: 'TGDĐ',
            yAxis: 0,
            data: [
            <?php foreach ($this->list_date as $key => $value) {
                $m = intval(date('m', strtotime($value)));
                $tgdd = (isset($this->data_sellout_dealer[2316][$m]['num']) and $this->data_sellout_dealer[2316][$m]['num']) ? $this->data_sellout_dealer[2316][$m]['num'] : 0;
                echo $tgdd.",";
            } ?>
                ],
            stack: 'male'
        }, {
            name: 'OTHER',
            color: '#008B56',
            yAxis: 0,
            data: [
            <?php foreach ($this->list_date as $key => $value) {
                $m = intval(date('m', strtotime($value)));
                $tot = (isset($this->data_sellout_total[$m]['num']) and $this->data_sellout_total[$m]['num']) ? $this->data_sellout_total[$m]['num'] : 0;
                $tgdd = (isset($this->data_sellout_dealer[2316][$m]['num']) and $this->data_sellout_dealer[2316][$m]['num']) ? $this->data_sellout_dealer[2316][$m]['num'] : 0;
                echo ($tot-$tgdd).",";
            } ?>
            ],
            stack: 'male'
        }, {
            type: 'spline',
            color: 'green',
            yAxis: 0,
            name: 'line',
            data: [
            <?php 
                $avg = array();
                $tt = array();
                $avg_temp = 1;
            ?>
            <?php foreach ($this->list_date as $key => $value) {

                $m = intval(date('m', strtotime($value)));
                $num = (isset($this->data_sellout_total[$m]['num']) and $this->data_sellout_total[$m]['num']) ? $this->data_sellout_total[$m]['num'] : 0;

                $avg[$key] = ($num+$avg_temp)/2;
                $tt[$key] = (($num - $avg_temp)/$avg_temp)*100;
                $avg_temp = $num;

                echo $num.",";
            } ?>
            ],
            stack: 'male'
        },
        {
            type: 'line',
            color: 'none',
            yAxis: 0,
            name: 'line',
            data: [
                {
                    y: <?php echo $avg[0];?>,
                    dataLabels: {
                        x: -7000,
                        formatter: function() {
                            return Highcharts.numberFormat(<?php echo $tt[0];?>, 2) + '%';
                        }
                    }
                },
                {
                    y: <?php echo $avg[1];?>,
                    dataLabels: {
                        x: width_chart,
                        formatter: function() {
                            return Highcharts.numberFormat(<?php echo $tt[1];?>, 2) + '%';
                        }
                    }
                },
                {
                    y: <?php echo $avg[2];?>,
                    dataLabels: {
                        x: width_chart,
                        fontSize: 9,
                        formatter: function() {
                            return Highcharts.numberFormat(<?php echo $tt[2];?>, 2) + '%';
                        }
                    }
                },
                {
                    y: <?php echo $avg[3];?>,
                    dataLabels: {
                        x: width_chart,
                        formatter: function() {
                            return Highcharts.numberFormat(<?php echo $tt[3];?>, 2) + '%';
                        }
                    }
                }
            ],
            stack: 'male',
            enableMouseTracking: false
        }]
    });
    
    $('#doanhthu').highcharts({
        chart: {
            type: 'column',
            marginLeft: 10,
            marginRight: 10
        },
        title: {
            text: 'Doanh thu 3 tháng gần nhất',
            style:{
                color: '#008B56',
                fontSize: '16px'
            }
        },
        xAxis: {
            categories: [<?php foreach ($this->list_date as $key => $value) {
                echo "'Tháng ".intval(date('m', strtotime($value)))."',";
            } ?>]
        },
        yAxis: {
            min: 0,
            title: {
                text: '',
                "textAlign": 'right',
                "rotation": 0,
                x: 40,
                y: -170
            },
            stackLabels: {
                enabled: true,
                style: {
                    fontWeight: 'bold',
                    color: (Highcharts.theme && Highcharts.theme.textColor) || '#000',
                    fontSize: '10px'
                }
            }
        },
        legend: {
            align: 'center',
            x: -30,
            verticalAlign: 'bottom',
            y: 20,
            floating: true,
            backgroundColor: (Highcharts.theme && Highcharts.theme.background2) || 'white',
            borderColor: 'none',
            borderWidth: 1,
            shadow: false
        },
        tooltip: {
            headerFormat: '<b>{point.x}</b><br/>',
            pointFormat: '{series.name}: {point.y}<br/>Total: {point.stackTotal}'
        },
        plotOptions: {
            column: {
                stacking: 'normal',
                dataLabels: {
                    enabled: true,
                    color: (Highcharts.theme && Highcharts.theme.dataLabelsColor) || 'white',
                    style: {
                        textShadow: '0 0 1px black',
                        fontSize: '10px'
                    },
                }
            },
            line: {
                dataLabels: {
                    enabled: true,
                    backgroundColor: 'white',
                    borderColor: "#f9bebe",
                    borderWidth: 1,
                    padding: 2,
                    color: (Highcharts.theme && Highcharts.theme.dataLabelsColor) || 'red',
                    style: {
                        fontSize: '9px'
                    },
                }
            }
        },
        exporting: {
            buttons: [
                {
                    enabled: false,
                }
            ]
        },
        series: [{
            name: 'TGDĐ',
            yAxis: 0,
            data: [
            <?php foreach ($this->list_date as $key => $value) {
                $m = intval(date('m', strtotime($value)));
                $tgdd = (isset($this->data_sellout_dealer[2316][$m]['total_value']) and $this->data_sellout_dealer[2316][$m]['total_value']) ? $this->data_sellout_dealer[2316][$m]['total_value'] : 0;
                echo $tgdd.",";
            } ?>
                ],
            stack: 'male'
        }, {
            name: 'OTHER',
            color: '#008B56',
            yAxis: 0,
            data: [
            <?php foreach ($this->list_date as $key => $value) {
                $m = intval(date('m', strtotime($value)));
                $tot = (isset($this->data_sellout_total[$m]['total_value']) and $this->data_sellout_total[$m]['total_value']) ? $this->data_sellout_total[$m]['total_value'] : 0;
                $tgdd = (isset($this->data_sellout_dealer[2316][$m]['total_value']) and $this->data_sellout_dealer[2316][$m]['total_value']) ? $this->data_sellout_dealer[2316][$m]['total_value'] : 0;
                echo ($tot-$tgdd).",";
            } ?>
            ],
            stack: 'male'
        }, {
            type: 'spline',
            yAxis: 0,
            name: 'line',
            color: 'green',
            data: [
            <?php 
                $avg = array();
                $tt = array();
                $avg_temp = 1;
            ?>
            <?php foreach ($this->list_date as $key => $value) {

                $m = intval(date('m', strtotime($value)));
                $num = (isset($this->data_sellout_total[$m]['total_value']) and $this->data_sellout_total[$m]['total_value']) ? $this->data_sellout_total[$m]['total_value'] : 0;

                $avg[$key] = ($num+$avg_temp)/2;
                $tt[$key] = (($num - $avg_temp)/$avg_temp)*100;
                $avg_temp = $num;

                echo $num.",";
            } ?>
            ],
            stack: 'male'
        },{
            type: 'line',
            color: 'none',
            yAxis: 0,
            name: 'line',
            data: [
                {
                    y: <?php echo $avg[0];?>,
                    dataLabels: {
                        x: -7000,
                        formatter: function() {
                            return Highcharts.numberFormat(<?php echo $tt[0];?>, 2) + '%';
                        }
                    }
                },
                {
                    y: <?php echo $avg[1];?>,
                    dataLabels: {
                        x: width_chart,
                        formatter: function() {
                            return Highcharts.numberFormat(<?php echo $tt[1];?>, 2) + '%';
                        }
                    }
                },
                {
                    y: <?php echo $avg[2];?>,
                    dataLabels: {
                        x: width_chart,
                        formatter: function() {
                            return Highcharts.numberFormat(<?php echo $tt[2];?>, 2) + '%';
                        }
                    }
                },
                {
                    y: <?php echo $avg[3];?>,
                    dataLabels: {
                        x: width_chart,
                        formatter: function() {
                            return Highcharts.numberFormat(<?php echo $tt[3];?>, 2) + '%';
                        }
                    }
                }
            ],
            stack: 'male',
            enableMouseTracking: false
        }]
    });
    
    
    //CONTENT MENU
    // Build the chart trade
    $('#sellout_sp').highcharts({
        chart: {
            type: 'column',
            marginLeft: 45,
            marginRight: 10
        },
        title: {
            text: 'Sellout sản phẩm 3 tháng gần nhất',
            style:{
                color: '#008B56',
                fontSize: '16px'
            }
        },
        xAxis: {
            categories: [
            <?php foreach ($this->list_date as $key => $value) {
                echo "'Tháng ".intval(date('m', strtotime($value)))."',";
            } ?>
            ],
        },
        yAxis: {
            min: 0,
            title: {
                text: 'Sản phẩm',
                "textAlign": 'right',
                "rotation": 0,
                x: 60,
                y: -170
            },
            stackLabels: {
                enabled: false,
                style: {
                    fontWeight: 'bold',
                    color: (Highcharts.theme && Highcharts.theme.textColor) || 'gray'
                }
            }
        },
        legend: {
            align: 'center',
            x: -30,
            verticalAlign: 'bottom',
            y: 20,
            floating: true,
            backgroundColor: (Highcharts.theme && Highcharts.theme.background2) || 'white',
            borderColor: 'none',
            borderWidth: 1,
            shadow: false
        },
        tooltip: {
            headerFormat: '<b>{point.x}</b><br/>',
            pointFormat: '{series.name}: {point.y}<br/>Total: {point.stackTotal}'
        },
        plotOptions: {
            column: {
                stacking: 'normal',
                dataLabels: {
                    enabled: false,
                    color: (Highcharts.theme && Highcharts.theme.dataLabelsColor) || 'white',
                    style: {
                        textShadow: '0 0 3px black'
                    }
                }
            }
        },
        exporting: {
            buttons: [
                {
                    enabled: false,
                }
            ]
        },
        series: [
        <?php foreach($this->good_hero as $key => $value):?>
        {
        name: '<?php echo $this->good[$value];?>',
        yAxis: 0,
        data: [
        <?php
        foreach($this->list_date as $k=>$v):
            $m = intval(date('m', strtotime($v)));
            $num = (isset($this->data_sellout_good[$value][$m]['num']) and $this->data_sellout_good[$value][$m]['num']) ? $this->data_sellout_good[$value][$m]['num'] : 0;
            echo $num.",";  
        endforeach;
        ?>
        ],
        stack: <?php echo $key;?>
        },
        <?php endforeach;?>
        ]
        
    });
    
    $('#sellout_sp_value').highcharts({
        chart: {
            type: 'column',
            marginLeft: 45,
            marginRight: 10
        },
        title: {
            text: 'Doanh thu sản phẩm 3 tháng gần nhất',
            style:{
                color: '#008B56',
                fontSize: '16px'
            }
        },
        xAxis: {
            categories: [
            <?php foreach ($this->list_date as $key => $value) {
                echo "'Tháng ".intval(date('m', strtotime($value)))."',";
            } ?>
            ],
        },
        yAxis: {
            min: 0,
            title: {
                text: 'Sản phẩm',
                "textAlign": 'right',
                "rotation": 0,
                x: 60,
                y: -170
            },
            stackLabels: {
                enabled: false,
                style: {
                    fontWeight: 'bold',
                    color: (Highcharts.theme && Highcharts.theme.textColor) || 'gray'
                }
            }
        },
        legend: {
            align: 'center',
            x: -30,
            verticalAlign: 'bottom',
            y: 20,
            floating: true,
            backgroundColor: (Highcharts.theme && Highcharts.theme.background2) || 'white',
            borderColor: 'none',
            borderWidth: 1,
            shadow: false
        },
        tooltip: {
            headerFormat: '<b>{point.x}</b><br/>',
            pointFormat: '{series.name}: {point.y}<br/>Total: {point.stackTotal}'
        },
        plotOptions: {
            column: {
                stacking: 'normal',
                dataLabels: {
                    enabled: false,
                    color: (Highcharts.theme && Highcharts.theme.dataLabelsColor) || 'white',
                    style: {
                        textShadow: '0 0 3px black'
                    }
                }
            }
        },
        exporting: {
            buttons: [
                {
                    enabled: false,
                }
            ]
        },
        series: [
            <?php foreach($this->good_hero as $key => $value):?>
            {
            name: '<?php echo $this->good[$value];?>',
            yAxis: 0,
            data: [
            <?php
            foreach($this->list_date as $k=>$v):
                $m = intval(date('m', strtotime($v)));
                $total_value = (isset($this->data_sellout_good[$value][$m]['total_value']) and $this->data_sellout_good[$value][$m]['total_value']) ? $this->data_sellout_good[$value][$m]['total_value'] : 0;
                echo $total_value.",";  
            endforeach;
            ?>
            ],
            stack: <?php echo $key;?>
            },
            <?php endforeach;?>
            ]
        
    });
    
    /* Số bán hàng ngày */
    $('#soban_hang_ngay').highcharts({
        title: {
            text: 'Số bán theo ngày',
            x: -20 //center
        },
        subtitle: {
            text: 'Trong tháng trước và tháng hiện tại',
            x: -20
        },
        xAxis: {
            categories: [
            <?php foreach ($this->list_date_range as $k => $v) {
                echo "'".$v."',";
            }?>
            ]
        },
        yAxis: {
            title: {
                text: ''
            },
            plotLines: [{
                value: 0,
                width: 1,
                color: '#808080'
            }]
        },
        tooltip: {
            valueSuffix: ''
        },
        exporting: {
            buttons: [
                {
                    enabled: false,
                }
            ]
        },
        legend:{
            itemStyle: {
                 fontSize:'10px'
              },
            align: 'center',
            verticalAlign:'bottom'
        },
        series: [
        <?php foreach($this->good_hero_total as $key=>$value):?>
        {
            name: <?php echo "'".$value."'";?>,
            data: [
            <?php foreach ($this->list_date_range as $k => $v) {
                echo (isset($this->good_by_date[$v][$key])) ? $this->good_by_date[$v][$key]."," : "0,";
            }?>
            ]
        }, 
        <?php endforeach;?>
        ]
    });
    /* end số bán hàng ngày */


    $('#chart_hanmuc').highcharts({
        chart: {
            type: 'column',
            marginLeft: 10,
            marginRight: 10,
        },
        title: {
            text: 'Đầu tư và doanh số',
            style:{color: '#008B56',fontSize: '16px'}
        },
        xAxis: {
            categories: [
            <?php foreach($this->list_month as $key=>$value):?>
            <?php echo "'T.".date( 'm', strtotime($value) )."',";?>
            <?php endforeach;?>
            ],
        },
        yAxis: {
            min: 0,
            title: {
                text: '',
                "textAlign": 'right',
                "rotation": 0,
                x: 35,
                y: -170
            },
            stackLabels: {
                enabled: true,
                style: {
                    fontWeight: 'bold',
                    color: (Highcharts.theme && Highcharts.theme.textColor) || '#000',
                    fontSize: '10px'
                },
            }
        },
        legend: {
            align: 'center',
            x: -30,
            verticalAlign: 'bottom',
            y: 20,
            floating: true,
            backgroundColor: (Highcharts.theme && Highcharts.theme.background2) || 'white',
            borderColor: 'none',
            borderWidth: 1,
            shadow: false
        },
        tooltip: {
            headerFormat: '<b>{point.x}</b><br/>',
            pointFormat: '{series.name}: <b>{point.y}</b>%<br/>'
        },
        exporting: {
            buttons: [
                {
                    enabled: false,
                }
            ]
        },
        series: [{
            name: 'Doanh thu',
            yAxis: 0,
            data: [
            <?php foreach($this->list_month as $key=>$value):?>
            <?php $month = date( 'm', strtotime($value) );?>
            <?php $year = date( 'Y', strtotime($value) );?>
            <?php $total_so = $this->data_sellout[(int)$month][$year]['total_value'];?>
            <?php echo ($total_so ? $total_so : 0).",";?>
            <?php endforeach;?>
            ],
            stack: 'male',
            dataLabels: {
                enabled: true,
                formatter: function() {
                    var stt = this.point.index;
                    var dt = this.series.yData[stt]/1;
                    return Highcharts.numberFormat( dt, 0 ) + '';
                },
                style: {fontSize: '8px'},
            }
        },
        {
            type: 'spline',
            color: 'green',
            yAxis: 0,
            name: 'Đầu tư',
            data: [
            <?php foreach($this->list_month as $key=>$value):?>
            <?php $month = date( 'm', strtotime($value) );?>
            <?php $year = date( 'Y', strtotime($value) );?>
            <?php $total_so = $this->data_trade[(int)$month][$year]['total_value'];?>
            <?php echo ($total_so ? $total_so : 0).",";?>
            <?php endforeach;?>
            ],
            stack: 'male',
            dataLabels: {
                enabled: true,
                formatter: function() {
                    var stt = this.point.index;
                    var dt = this.series.yData[stt]/1;
                    return Highcharts.numberFormat( dt, 0 ) + '';
                },
                style: {fontSize: '8px', color: 'red'},
            }
        }
         ]
    });

});

</script>


<script>
    $(function () {
        
        hide_char();
        
        $('.menu_btn').on('click',function(){
            if($('.menu_type_char ul').css('display') == 'none')
            {
                $('.menu_type_char ul').show();
            }
            else{
                $('.menu_type_char ul').hide();
            }
        });
        
        $('.menu_type_char ul li').on('click',function(){
            var attr = $(this).attr('char');

            if (typeof attr !== typeof undefined && attr !== false) {
                $(".menu_type_char ul li").each(function(){
                    var char_ = $(this).attr('char');
                    $('#'+char_).hide();
                    $(this).closest('ul').hide();
                });

                var char_this = $(this).attr('char');
                $('#'+char_this).show();
            }else{
                $('.menu_type_char ul').hide();
            } 
        });

    });
    
    function hide_char(){
        $(".menu_type_char ul li").each(function(){
            var char_ = $(this).attr('char');
            $('#'+char_).hide();
            $(this).closest('ul').hide();
        });
        $('#container').show();
    }
    

    
</script>


<script>
$(function () {
    
    $(document).ready(function(){

        $('.flag_trade').html('<?php echo number_format($total_fee);?> VNĐ');
        
        $('.sp .trim').on('click',function(){
            
            var src = $(this).closest('.sp').find('img').attr('src');
            var img = '<img src="' + src + '" class="img-responsive"/>';
            
            $('#modal').modal('loading');
        
            $('#modal').html(img);
            $('#modal').modal();
       });

       /* Số bán hàng ngày */
       $('.close_soban').on('click',function(){
            $('.soban_hangngay').css('z-index','-1000');
        });

        $('.soban_theongay').on('click',function(){
            $('.soban_hangngay').css('z-index','1000');
        });
   });
    
});
</script>