
<style type="text/css">
    .content_tad{padding: 10px;margin-top: -20px;}
    .content_tad table{width: 100%; margin: 20px 0px;}
    .content_tad table th{background: #00BA8B !important; color:#FFF;padding: 5px 0px;border: 1px solid #ffffff !important;    border-bottom: 2px solid #FFF !Important;}
    .content_tad table tr td{border: 1px solid #ffffff !important;}
    .content_tad table tr:nth-child(2n){background: #CEDFD5 !important; color:#000;padding: 5px 0px;}
    .content_tad table tr:nth-child(3n){background: #E8F0EB !important; color:#000;padding: 5px 0px}

    .hr .header_tad{font-size: 18px;color: #008B56;font-weight: bold;height: 45px;line-height: 44px;}
</style>

<div class="page-header" style="margin: 18px 0 -10px 0;border-bottom: none;">
    <h1>Training - <?php echo $this->row_lesson[0]['title'];?></h1>
</div>

<div class="main hr">
    <div class="container-fluid">    

        <div class="row">
            <div class="table_main" style="height:auto">
                <div class="header_tad"><i class="icon-list-alt"></i> Kết quả bài test:</div>


                <div class="content_tad">
                    <div id = 'turnover_pass_probation1'>
                    <table>
                        <tr>
                            <th>#</th>
                            <th>Khu vực</th>
                            <th>Tổng số</th>
                            <th>Số lượng Pass</th>
                            <th>% Pass</th>
                            <th>Số lượng Fail</th>
                            <th>% Fail</th>
                        </tr>
                        <?php $stt = 0;?>
                        <?php foreach($this->row_lesson as $row=>$value):?>
                        <?php $num = (isset($this->area_num[$value['area_id']]) and $this->area_num[$value['area_id']]) ? $this->area_num[$value['area_id']] : 0;?>
                        <tr>
                            <?php $total = ($this->staff_area[$value['area_id']] > $value['total']) ? $value['total'] : $value['total'];?>
                            <?php $stt++;?>
                            <td><?php echo $stt;?></td>
                            <td><?php echo (isset($this->area[$value['area_id']]) and $this->area[$value['area_id']]) ? $this->area[$value['area_id']] : 'ORTHER';?></td>
                            <td><?php echo $num;?></td>
                            <td><?php echo $value['pass'];?></td>
                            <td><?php echo number_format(($value['pass']/$num)*100);?> %</td>
                            <td><?php echo $num-$value['pass'];?></td>
                            <td><?php echo number_format((($num-$value['pass'])/$num)*100);?> %</td>
                        </tr>
                        <?php endforeach;?>
                    </table>

               
                    </div>

                </div>
            </div>

        </div><!-- row-->

    </div>
</div>

