
<style type="text/css">
    .content_tad{padding: 10px;margin-top: -20px;}
    .content_tad table{width: 100%; margin: 20px 0px; text-align: center;}
    .content_tad table th{background: #00BA8B !important; color:#FFF;padding: 5px 0px;border: 1px solid #ffffff !important;    border-bottom: 2px solid #FFF !Important;}
    .content_tad table tr td{border: 1px solid #ffffff !important; text-align: center;}
    .content_tad table tr:nth-child(2n){background: #CEDFD5 !important; color:#000;padding: 5px 0px;}
    .content_tad table tr:nth-child(3n){background: #E8F0EB !important; color:#000;padding: 5px 0px}

    .content_tad table span{font-size: 10px}

    .hr .header_tad{font-size: 18px;color: #008B56;font-weight: bold;height: 45px;line-height: 44px;}
  
</style>

<div class="page-header" style="margin: 18px 0 -10px 0;border-bottom: none;">
    <h1>TEST TỔNG HỢP</h1>
</div>

<div class="main hr">
    <div class="container-fluid">    

        <div class="row">
            <div class="table_main" style="height:auto">
                <div class="header_tad"><i class="icon-list-alt"></i> <?php echo $this->list_region[0]['title'];?></div>


                <div class="content_tad">
                    <div class="table_block">
                        <table class="table table_test">
                            <tr>
                                <th>CHUYÊN ĐỀ</th>

                                <th colspan="3">HỌC ONLINE</th>
                                <th colspan="3">HỌC OFFLINE</th>
                                 <th colspan="3">TEST ONLINE</th>
                            </tr>
                            <tr>
                                <th>Số Lượng</th>
                                <th>Tổng</th>
                                <th>Fail</th>
                                <th>%Fail</th>
                                <th>Tổng      </th>
                                <th>Fail      </th>
                                <th>%Fail</th>
                                <th>Tổng      </th>
                                <th>Fail      </th>
                                <th>%Fail</th>
                            </tr>
                            <tr>
                                <th>Nội dung</th>
                                <th></th>
                                <th></th>
                                <th></th>
                                <th></th>
                                <th></th>
                                <th></th>
                                <th></th>
                                <th></th>
                                <th></th>
                            </tr>
                            <?php $total_pgs_sales = $this->total_sale_pgs ? $this->total_sale_pgs : 0;?>
                            <?php foreach ($this->row_lesson as $key => $value):?>
                            <tr>
                                <td>
                                    <a href="<?php echo HOST?>bi/training-online-area?id=<?php echo $value['lesson_id'];?>">
                                    <?php echo $value['title'];?>
                                    </a>
                                </td>

                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                 <td><?php echo $total_pgs_sales;?></td>
                                <td>
                                    <a href="<?php echo HOST;?>bi/list-region?trainer_id=<?php echo $this->params['trainer_id'].'&lesson_id='.$value['lesson_id'];?>">
                                        <?php echo ($total_pgs_sales - $value['pass']);?>
                                    </a>
                                </td>
                                <td><?php echo number_format((($total_pgs_sales - $value['pass'])/$total_pgs_sales)*100);?> %</td>
                            </tr>
                            <?php  endforeach;?>
                        </table>
                    </div><!-- table_block -->

                </div>
            </div>

        </div><!-- row-->

    </div>
</div>

